body {
    margin: 15px auto;
    font-family: Arial, "MS Trebuchet", sans-serif;
    width: 960px;
}

p {
    margin: 0 0 20px 0;
}

p, li {
    line-height: 20px;
}

blockquote {
    line-height: 20px;
    font-style: italic;
    font-size: small;
    /* For avoid an overflow with the cite and next text */
    margin-bottom: 2em;
}

blockquote cite {
    /* We need that the cite be relative at blockquote */
    position: relative;
    /* We are trying align-text to right  */
    right: -35%;
    /* For avoid an overflow with the text of blockquote */
    bottom: -8px;
}

#page-header {
    width: 100%;
}

/*
Style the main navigation links by transforming the bulleted
lists into a horizontal navigation bar by floating all of the list
items so they fall on the same line
*/
#page-header > nav > ul, #page-footer > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Add a little margin to the right side of each <li> so we get space between
each menu entry. We’re using the shorthand version of the margin rule, which
reads top, right, bottom, left. Think of it like an analog clock; 12 is
at the top, 3 is on the right, 6 is at the bottom, and 9 is on the left.
 */
#page-header > nav > ul > li, #page-footer > nav > ul > li {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline;
}

#posts {
    float: left;
    width: 74%;
}

#posts aside {
    float: right;
    font-size: 20px;
    line-height: 40px;
    margin-left: 5%;
    width: 35%;
}

#sidebar {
    float: left;
    width: 25%;
}

/*
Need to clear the floats on the footer so that it sits at the bottom of
the page. Remember that whenever we float something, the element gets
removed from the normal document flow. Clearing an element tells the
browser not to float that element.
 */
#page-footer {
    clear: both;
    display: block;
    text-align: center;
    width: 100%;
}