---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---
<Layout title="Jesus could be born in December">
    <DateOf>1 March 00</DateOf>
    <Title>Saying that Jesus could not be born in December is a lie.</Title>
    <div class="flex justify-content:center mb:5rem">
        <Tag>#1</Tag>
    </div>

    <section class="mx:auto max-w:sm mb:5rem">

        <Paragraph><Bold>It is false to say that Jesus could not be born in December</Bold>. Those who are engaged in
            putting down
            Jesus use several tricks. Sadly many brothers have been taken into these traps. This is written to help
            those
            brothers.</Paragraph>
        <Paragraph> I am not saying that I can prove that Jesus was born in December, however I am saying that <Bold>it is a
            lie that
            others can prove that Jesus was not born in December</Bold>. The month of December can not be excluded, as
            many
            "scholars" endeavor to "prove". This is one of the many lies spread by the Russellites, wrongly called
            Jehovah's
            Witnesses, because they are not. Sadly many gullible Christians just swallow these lies without thinking.
        </Paragraph>
        <Paragraph> In 1998-1999 winter issue of "Life & Work Pursuits", a Christian quarterly, on page 35, lines 33-35 it
            says:</Paragraph>
        <Paragraph><Bold><i>"</i>The Bible does not indicate the time of year Jesus was born. Most likely, since</Bold>
            <Bold>
                shepherds were in the field, his birth was in spring<i>.</i>"</Bold></Paragraph>
        <Paragraph> On what basis is it said Jesus was not born in December as tradition states? Is there any proof ? No, they
            are just
            repeating what someone else invented. <Bold>Tradition should be rejected when it opposes what the Bible
                teaches</Bold>, <Bold>the facts or the logic </Bold> but not just because someone else tells us to
            reject
            it.</Paragraph>
        <Paragraph><Bold>Mohammed's Hegira</Bold> occurred on Friday July 16, 622 AD, according to tradition. No one
            disputes it,
            because this tradition does not contradict facts or logic. <Bold>Buddha,</Bold> according to tradition,
            lived
            from 563 to 483 BC, nobody says any thing contrary to such tradition, they just simply believe it. <Bold>There
                are
                hundreds of traditions that are accepted.</Bold> Why not accept the tradition that Jesus was born
            December
            25th? It does not harm anybody. It does not oppose any fact. It does not oppose logic. <Bold>It does not
                oppose
                the Bible.</Bold> Then, again, why do they go to such great lengths to oppose it ? <Bold>Because
                everything
                that has to do with Jesus prompts the opposition of God's enemies.</Bold></Paragraph>
        <Paragraph><Bold>Russellists say that Jesus couldn't be born in December because the fields were covered with snow at
            that
            time. That is a big lie.</Bold> Jesus' enemies take advantage of the ignorance of others to spread their
            lies.
            Israel is a long narrow country that extends along 390 miles from North to South. You can verify the data I
            state
            here in the Encyclopedia. The World Book Encyclopedia, copyright 1974, volume 10, page 390, when describing
            the
            climate of Israel says:</Paragraph>
        <Paragraph><Bold>"In January, the coolest month</Bold>, <Bold>temperatures average 45º F ( 7º C ) in Northern
            Galilee, and
            60º F ( 16º C ) in the Rift Valley.</Bold> The Northern uplands have some days of freezing weather
            <Bold>almost</Bold> every winter. Rain falls almost entirely in winter, and generally decreases from
            North to
            South. <Bold>Snow sometimes falls in Northern and central parts of Israel.</Bold>"</Paragraph>
        <Paragraph> As stated, January is the coolest month, not December. In the coolest month temperatures average 45º F ( 7º
            C ) just
            in the North. That temperature is not so cold that the shepherds can't stay outside. But more to the South,
            it
            averages 60º F ( 16º C ), still a more comfortable temperature even in January the coolest month. <Bold>Therefore,
                December must be even warmer</Bold>, because January is the coolest month.</Paragraph>
        <Paragraph><Bold>Only in the Northern uplands</Bold> do freezing temperatures occur <Bold>some days</Bold>, not
            every
            single year, but <Bold>almost</Bold> every winter. Regarding snow it says that sometimes, ( not every
            year),
            snow falls in the Northern and central parts of Israel. <Bold>Not in the South where Bethlehem is
                located.</Bold></Paragraph>
        <Paragraph> If we now go to volume 11, page 77, of the same encyclopedia we see that the temperature <Bold>in
            Jerusalem, in
            January, which is the coolest month, average 55º F ( 13º C). </Bold> Logically, December has to have a
            warmer
            temperature. Since Bethlehem is located about five miles South of Jerusalem (volume 2, page 214) it must
            have the
            same temperature.</Paragraph>
        <Paragraph> What wisdom is there in saying that the shepherds could not be in the field in December? <Bold>Where is
            that field
            "full of snow" that Russellists are always saying that existed? Why do Christians have to be so gullible
            with
            falsehoods?</Bold> I can not prove that Jesus was born in December, but that is what tradition says, and
            neither
            the Bible nor logic oppose to this tradition. <Bold>Why then is it so fiercely attacked</Bold>? Because
            they
            want to destroy Christianity from the inside out.</Paragraph>
        <Paragraph><Bold>Let us suppose that Bethlehem did have such cold winters. </Bold> Padanaram, the region Rebekah was
            from,
            is located much more to the North than Bethlehem, where it is much colder.<Bold> Let us see if the
                shepherds over
                there stayed with their cattle on winter nights.</Bold> When a problem arose between Jacob and Esau,
            Rebekah
            convinced Isaac to send Jacob to Padamaram for awhile.</Paragraph>
        <Paragraph> "<i>And Isaac sent away Jacob: and he went to Padanaram unto Laban, son of Bethuel</i> <i> the Syrian, the
            brother
            of Rebekah, Jacob's and Esau's mother</i>." (Gn 28: 5)</Paragraph>
        <Paragraph> Jacob stayed there for twenty years tending Laban's cattle. When he left he had an argument with Laban, his
            father-in-law, to whom he said:</Paragraph>
        <Paragraph><Bold> "</Bold><i>38 This twenty years have I been with thee; thy ewes and thy she goats have</i> <i> not
            cast
            their young, and the rams of thy flock have I not eaten. 39 That which was</i> <i> torn of beasts I brought
            not unto
            thee; I bare the loss of it; of my hand didst thou</i> <i> require it, whether stolen by day, or stolen by
            night. 40
            Thus I was; in the day the</i> <i> drought consumed me, and the frost by night; and my sleep departed from
            mine
            eyes</i><Bold>."</Bold> ( Gn 31: 38- 40 )</Paragraph>
        <Paragraph> From the words of Jacob we understand that <Bold>even during extremely cold nights he stayed with the
            cattle in
            the field. </Bold> And this happened for twenty years. Jacob says he used to do what Russellists say
            Bethlehem
            shepherds could not have done. And remember that this was not in Bethlehem with the temperature of just 60º
            F, ( 16º
            C) but it was up North, in a much colder climate. Therefore, it is not illogical that in Bethlehem the
            shepherds
            stayed in the fields at night in December. So it was not such a "difficult thing" for shepherds to stay with
            their
            cattle in the fields of Bethelehem even in cold winters.</Paragraph>
        <Paragraph><Bold>Another pseudo argument that is used to discredit Christmas, is saying that formerly it was the
            winter
            solstice pagan feast.</Bold> This is also false. Christmas is on December 25th, while the winter solstice
            occur
            from the 21st to 22nd of December. <Bold>It is clear that all they want to do is to find fault</Bold> so
            as to
            make Christians think that they are celebrating on a wrong date or welcoming a pagan feast. There have been
            hundreds
            of pagan countries through history, therefore there are thousands of pagan feasts. Every day of the year is
            the
            anniversary of some pagan feast. If it is not a feast of ancient Greeks, it is a feast of ancient Mayas,
            Aztecs,
            Incas, Chinese, Persians, Celts, Romans, etc., etc.. If tradition, instead of celebrating Christ's birth on
            December
            25th, they would celebrate it on any other day, they would also find some other pagan feast with which to
            smear and
            discredit it. What really hurts them is that even nominal Christians recognize Jesus' name. <Bold>It is
                sad
                brethren who go to seminaries to learn how to serve our Lord let themselves be cheated and be led astray
                by
                those who plot the "dischristianization" of Christendom.</Bold></Paragraph>
        <Paragraph> The "proof " that Jesus was not born in December, that Russellists and others try to hammer into the minds
            of many
            Christians, is not proof at all, <Bold>it is just a lie</Bold>.</Paragraph>
        <Paragraph><Bold> A big lie!</Bold></Paragraph>
    </section>
</Layout>