---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Judge not, that ye be not judged">
    <Tag>#8</Tag>
    <Content>
        <Paragraph><Bold>Exaggeration of the commandment:</Bold> <Bold>"Judge not, that ye be not judged"</Bold></Paragraph>
        <Paragraph> There are some Christians that exaggerate this advice of the Lord to such an extent, that they think they
            cannot
            emit an opinion about anything or anyone. They have hypertrophied and twisted this verse so much that they
            refrain
            themselves from giving a report about the characteristics, traits or behaviors of another person. There are
            others
            who, being immersed in their sins, do not desire that any brother rebuke or advise them. They fend
            themselves off by
            grabbing hold of this verse. I know a man who used to say: <Bold>"Do not, judge! Do not judge! Beware of
                the
                spiritual consequences of judging others". </Bold> This was his way to coerce into silence any brother
            who
            wanted to talk to him about his adulteries and fornications.</Paragraph>
        <Paragraph> "<i>Judge not, that ye be not judged. For with <Bold>what judgment ye judge, ye shall</Bold></i>
            <Bold> be
                judged:</Bold> <i>and with what measure ye mete, it shall be measured to you again.</i> <i> And why
                beholdest thou
                the mote that is in thy brother's eye, but considerest</i> <i> not the beam that is in thine own eye? Or
                how wilt
                thou say to thy brother: "Let</i> <i> me pull out <Bold>the mote</Bold> out of thine eye"; and,
                behold, a beam
                is in thine own eye?</i> <i> Thou hypocrite, <Bold>first cast out the beam out of thine own
                eye</Bold>; and then
                shalt thou</i> <i> see clearly to cast out the mote out of thy brother's eye</i>." ( Matt 7:1-5 )</Paragraph>
        <Paragraph> What the Lord is saying here, to my understanding, is that we should not point out small flaws in our
            brothers,
            while we are deeply involved in bigger and deeper flaws ourselves. What the Lord means is <Bold>that we
                must not
                judge unjustly</Bold>, nor give ourselves the right to say if an illness or suffering is a punishment
            or
            simply an accident of life, neither if a person is going to go to hell or going to be saved. <Bold>Based
                on the
                integral teaching of the Bible</Bold>, <Bold>I do not believe</Bold> Our Lord is telling us that
            <Bold>we
                must not use our common sense and discernment</Bold> to get an idea about the behavior and attitudes
            of other
            people. Instead, I think that he is exhorting us not to unjustly apply rules to other people, because what
            we do to
            others we could have done unto us. This is the interpretation that can be drawn from phrases like "…<i>with
                what
                judgment ye judge, ye shall be judged</i> " and "…<i>considerest not the beam that is in thine own
                eye</i> " If
            we read a little further in verses 15-20 we see that J<Bold>esus himself exhorts us to judge who is a
                false
                prophet.</Bold> If this is what the Lord says after having said "<i>Judge not, that ye be not
                judged</i> ", it
            is evident that he is not trying to paralyze our adequate discernment.</Paragraph>
        <Paragraph> "<Bold>Beware of false prophets</Bold><i>, which come to you in sheep's clothing, but</i> <i> inwardly
            they are
            ravening wolves. <Bold>Ye shall know them by their fruits</Bold>.</i> <i> Do men gather grapes of
            thorns, or
            figs of thistles? Even so every <Bold>good tree</Bold></i> <i> bringeth forth <Bold>good
            fruit</Bold>; but
            <Bold>a corrupt tree</Bold> bringeth forth evil fruit. A good</i> <i> tree cannot bring forth evil
            fruit,
            neither can a corrupt tree bring forth good</i> <i> fruit. Every tree that bringeth not forth good fruit is
            hewn
            down, and cast into</i> <i> the fire. Wherefore <Bold>by their fruits ye shall know them</Bold></i>." (
            Matt 7:
            15-20 )</Paragraph>
        <Paragraph><Bold>It is evident that the Lord is telling us to try to distinguish between who is a false prophet and
            who is
            not.</Bold> To get to such a conclusion it is necessary for us to judge. <Bold>We have to judge</Bold>
            who is
            a good tree; <Bold>we have to judge</Bold> who is a bad tree; <Bold>we have to judge</Bold> what are
            good
            fruits. Therefore, it is not that kind of judgment that the Lord is forbidding us. Should Matthew 7:1-5 be a
            total
            prohibition of judging anything or anyone, <Bold>this would cause us to have a mental paralysis.</Bold>
            If we
            see a bully beating a little old lady to death with a club, we could not say that he is a scoundrel, because
            we
            would be judging this person. <Bold>If this really was Jesus' command then, even the pastoral institution
                could
                not exist,</Bold> because telling someone to believe in Christ in order to be saved means that the
            pastor
            judged that he is not saved. The job of a pastor implies to watch out for the souls, and tell them when they
            are
            sinning; <Bold>and this action involves judging</Bold>. If the pastor and deacons see a member doing
            something
            that is out of order, they could not dare to tell him anything, because he would reply: <Bold>"do not
                judge that
                you be not judged"</Bold>. Jesus did not put pastors in a position where they would be constantly
            afraid of
            committing this farfetched "sin of judging". Also, when a Christian preaches the gospel to a person,
            <Bold>this
                Christian must be "judging", because he is thinking that the person is not saved,</Bold> and
            therefore, he is
            committing the bizarre "sin of judging". <Bold>Jesus did not put Christians on the verge of sinning by
                means of
                "judging" that a person is not saved.</Bold> To think that is wrong. That interpretation is ludicrous.
            Even
            the first Christians did not have this attitude of "not judging any thing". We can see this in Acts 16:15
            where
            Lydia compelled Paul to judge her. Also, in I Co 2:15, where Paul himself says that a spiritual man judges
            all
            things. Or, in I Co 5: 3, where Paul says that he judges, and with a judgment of punishment. Again, in I Co
            5:
            12-13, where we can see how Christians judged other Christians. Or, in I Co 6:1, where we see that saints
            did judge,
            and not only that, but in verse 4 it says that <Bold>it was the duty of Christians to judge</Bold> their
            brethren. We see the same thing in I Co 10:15 and 11:13 where <Bold>Paul asked the brethren to judge what
                he was
                saying</Bold>. And finally we have I Co 14: 29, where it is evident that the brethren should judge
            what the
            prophets say during church services. As we can see, <Bold>our first brethren,</Bold> who were closer to
            the
            teachings of Jesus and the apostles, <Bold>did not have that extremist attitude of not judging</Bold>.
            Those who
            hold fast to this erroneous interpretation have one of two reasons: <Bold>1)</Bold> They do not fully
            understand
            this teaching of Jesus, or <Bold>2)</Bold> They do not want anybody to rebuke them for their sins in or
            out of
            the church.</Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the index</a></Paragraph>

    </Content>
</Layout>
    