---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The High Priest entered every day tu the Most Holy Place">
    <section>
        <Paragraph><Bold>The High Priest entered the Most Holy Place every day, not only once a year.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Peter, the apostle, warns us about the possibility of confusing what Paul says in his epistles. He informs
            us that
            Paul speaks of things which are hard to understand.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And account that the longsuffering of our Lord is salvation; even</i></Paragraph>
        <Paragraph><i> <Bold>as our</Bold></i> <Bold>beloved brother Paul also according to the wisdom given unto</Bold>
        </Paragraph>
        <Paragraph><Bold> him hath written</Bold> <Bold>unto you;</Bold> <i>as also in all his epistles, speaking in</i>
        </Paragraph>
        <Paragraph><i> them of these things; <Bold>in which</Bold></i> <Bold>are some things hard to be
            understood</Bold><i>,</i></Paragraph>
        <Paragraph><i> which they that are unlearned and unstable</i> <i>wrest, as they do also the</i></Paragraph>
        <Paragraph><i> other scriptures, unto their own destruction</i>."</Paragraph>
        <Paragraph> ( II Pet 3: 15-16 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> We have a good example of this in Heb 9: 1-7. From this passage of Saint Paul, several good theologians and
            seminary
            teachers have drawn <Bold>the wrong idea</Bold> that nobody entered in the Most Holy, except the High
            Priest,
            who entered only once a year. This error is taught by good and honest theologians and seminary teachers, to
            those
            who will be pastors, who think that their teachers cannot be wrong. This is the way in which errors spread
            within
            Christianity; and this is why there are hundreds of denominations. This is also a good example to teach us
            <Bold>the
                mistake of reading only some passages or some books or sections of the Bible,</Bold> and not the whole
            thing,
            from cover to cover, during our lifetime. It is a big mistake in itself not having time to read the Bible,
            but using
            that time in reading books "that expound the Bible". It is a mistake because the error of the author of the
            book
            passes to the reader who does not have the whole Bible in his mind. In the case of the High Priest and the
            Most Holy
            Place the problem has its origin in reading only the New Testament and not the Old Testament. Let us see
            what Paul
            said.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "1 <i>Then verily the first covenant had also ordinances of divine</i></Paragraph>
        <Paragraph><i> service, and a worldly</i> <i>sanctuary. </i> 2 <i>For there was a tabernacle</i></Paragraph>
        <Paragraph><i> made; the first, wherein was the candlestick, and</i> <i>the table, and</i></Paragraph>
        <Paragraph><i> the shewbread; which is called the sanctuary. </i> 3 <Bold>And after the</Bold></Paragraph>
        <Paragraph><Bold> second veil,</Bold> <Bold>the tabernacle which is called the Holiest of all; </Bold></Paragraph>
        <Paragraph><Bold> </Bold> 4 <Bold>Which had the golden censer, and</Bold> <Bold>the ark of the
            covenant</Bold></Paragraph>
        <Paragraph><i> overlaid round about with gold, wherein was the golden pot that</i></Paragraph>
        <Paragraph><i>had manna, and Aaron's rod that budded, and the tables of the</i></Paragraph>
        <Paragraph><i> covenant;</i> 5 <i>and over it</i> <i>the cherubims of glory shadowing the</i></Paragraph>
        <Paragraph><i> mercyseat; of which we cannot now speak particularly.</i> <i> </i>6 <i>Now</i></Paragraph>
        <Paragraph><i> when these things were thus ordained, the priests went always</i></Paragraph>
        <Paragraph><i> into the first tabernacle,</i> <i>accomplishing the service of God. </i></Paragraph>
        <Paragraph><i> </i>7 <i>But into the second went <Bold>the high priest alone once every</Bold></i>
            <Bold>year,</Bold>
        </Paragraph>
        <Paragraph><Bold> not without blood,</Bold> <i>which he offered for himself, and for the</i></Paragraph>
        <Paragraph><i> errors of the people</i>." ( Heb 9: 1-7 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we can read in verse 3, the section that was after the second veil was called the Holiest of All, or the
            Holy of
            Holies. According to verse 4 in this Holy of Holies there existed <Bold>two</Bold> things: <Bold>the
                Altar to
                Burn Incense Upon, and the Ark of the Covenant.</Bold> Therefore, anyone who wanted to burn incense in
            the
            altar of incense, had to enter the Holy of Holies. It is true that the High Priest entered the Most Holy
            Place to
            make an atonement for the people, putting blood upon the horns of the altar of incense, once a year. In this
            occasion he also sent a scapegoat to the wilderness. But <Bold>he entered to burn sweet incense in that
                altar
                twice a day, everyday.</Bold> <Bold>Paul is not saying that the Most Holy Place could only be
                entered once a
                year.</Bold> What he is saying is that the High Priest entered, <Bold>only once a year, for atoning
                the
                people with blood upon the horns of the altar of incense. </Bold> Let us see how they entered in the
            Most Holy
            every day.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "1 <Bold>And thou shalt make an altar to burn incense upon,</Bold> <i>of shittim</i></Paragraph>
        <Paragraph><i> wood shalt</i> <i>thou make it. </i> 2 <i>A cubit shall be the length thereof,</i></Paragraph>
        <Paragraph><i> and a cubit the breadth thereof;</i> <i>foursquare shall it be, and two</i></Paragraph>
        <Paragraph><i> cubits shall be the height thereof; the horns thereof</i> <i>shall be of the</i></Paragraph>
        <Paragraph><i> same. </i> 3 <i>And thou shalt overlay it with pure gold, the top thereof,</i> <i> and the sides thereof
            round
            about, and the horns thereof; and thou</i></Paragraph>
        <Paragraph><i> shalt make unto</i> <i>it a crown of gold round about. </i> 4 <i>And two golden</i></Paragraph>
        <Paragraph><i> rings shalt thou make to it under</i> <i>the crown of it, by the two corners</i></Paragraph>
        <Paragraph><i> thereof, upon the two sides of it shalt thou make</i> <i>it; and they shall</i></Paragraph>
        <Paragraph><i> be for places for the staves to bear it withal.</i> 5 <i>And thou shalt make</i> <i> the staves of
            shittim wood,
            and overlay them with gold.</i> 6 <Bold>And thou</Bold></Paragraph>
        <Paragraph><Bold> shalt put it before the vail that is by the ark of the testimony, before</Bold> <Bold> the mercy
            seat
            that is over the testimony,</Bold> <i>where I will meet with thee.</i> <i> </i> 7 <Bold>And Aaron shall
            burn
            thereon sweet incense every morning, when</Bold></Paragraph>
        <Paragraph><Bold> he dresseth</Bold> <Bold>the lamps, he shall burn incense upon it. </Bold> 8 <Bold>And
            when</Bold>
        </Paragraph>
        <Paragraph><Bold> Aaron lighteth the lamps at</Bold> <Bold>even</Bold><Bold>, he shall burn incense upon
            it,</Bold>
            <i>a</i></Paragraph>
        <Paragraph><i> perpetual incense before the LORD throughout</i> <i>your generations. </i></Paragraph>
        <Paragraph><i> </i>9 <i>Ye shall offer no strange incense thereon, <Bold>nor burnt sacrifice, nor</Bold></i>
            <Bold> meat
                offering</Bold><i>; neither shall ye pour drink offering thereon.</i> <i> </i> 10 <i>And <Bold>Aaron
                shall make
                an atonement upon the horns of it once in</Bold></i></Paragraph>
        <Paragraph><Bold> a year with</Bold> <Bold>the blood of the sin offering of atonements: once in the</Bold></Paragraph>
        <Paragraph><Bold> year shall he make</Bold> <Bold>atonement upon it</Bold> <i>throughout your generations,</i>
        </Paragraph>
        <Paragraph><i> it is most holy unto the LORD</i>." ( Ex 30: 1-10 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> From this passage it is perfectly understandable that <Bold>in the very same altar in whose horns they put
            blood
            on once a year, they also burned incense every morning and every evening.</Bold> Let us analyze this
            passage.
            <Bold>As we read verse 1</Bold> we see that it is talking about the altar to burn incense. We must keep
            this in
            mind so that we may not get confused later. <Bold>Verse 2</Bold> says that this altar had horns, and
            also gives
            its measurements. <Bold>Verse 3</Bold> speaks about making a crown of gold all around it, etc. <Bold>Verses
                4
                and 5</Bold> explain why this altar had rings and staves, etc. <Bold>Verse 6</Bold> says where to
            place
            the altar to burn incense: before the vail, before the mercy seat that was over the testimony: it means by
            the ark.
            <Bold>Verses 7 and 8</Bold> describe what was going to be its most frequent use:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "7 <Bold>And Aaron shall burn thereon sweet incense every morning,</Bold></Paragraph>
        <Paragraph><Bold> when he</Bold> <Bold>dresseth the lamps, he shall burn incense upon it. </Bold></Paragraph>
        <Paragraph><Bold> </Bold>8 <Bold>And when Aaron lighteth</Bold> <Bold>the lamps at even, he shall
            burn</Bold></Paragraph>
        <Paragraph><Bold> incense upon it,</Bold> <i>a perpetual incense before the</i> <i>LORD throughout</i></Paragraph>
        <Paragraph><i> your generations</i>." ( Ex 30: 7-8 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> When studying this passage we learn that the High Priest used to enter daily where the altar was in order to
            burn
            incense upon it. He burned incense upon it everyday in the morning and in the evening. <Bold>In verse
                9</Bold>
            it is declared which things were forbidden to be done upon the altar. <Bold>Then in verse 10,</Bold> it
            tells
            that, as an exception to these prohibitions of verse 9, Aaron was going to enter to put blood upon its
            horns, once a
            year. Let us read verse ten again.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "10 <i>And <Bold>Aaron shall make an atonement upon the horns of it once</Bold></i></Paragraph>
        <Paragraph><Bold> in a</Bold> <Bold>year with the blood of the sin offering of atonements: once in</Bold></Paragraph>
        <Paragraph><Bold> the year shall</Bold> <Bold>he make atonement upon it</Bold> <i>throughout your
            generations,</i></Paragraph>
        <Paragraph><i> it is most holy unto</i> <i>the LORD.</i>" ( Ex 30: 10 )</Paragraph>
        <Paragraph> As we see, in this passage it describes how to build the altar for burning incense, what was going to be the
            usage
            of it, and when the High Priest must put blood unto its horns. In this very same passage it says that
            incense was
            going to be burnt in it twice a day and blood was going to be put in its horns once a year. Therefore, it is
            clear
            that they entered into the Most Holy every day. Not only does this passage tell us about entering daily into
            the
            Most Holy, there are a couple more passages that tell us something similar:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<Bold>If the priest that is anointed do sin</Bold> <i>according to the sin of the</i></Paragraph>
        <Paragraph><i> people; then let</i> <i>him bring for his sin, which he hath sinned,<Bold>……</Bold></i></Paragraph>
        <Paragraph><i> <Bold>And the priest shall put some of</Bold></i> <Bold>the blood upon the horns of the</Bold>
        </Paragraph>
        <Paragraph><Bold> altar of sweet incense</Bold> <i>before the LORD</i>…" ( Lev 4: 3-7 abbreviated )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And if the whole congregation of Israel sin through ignorance<Bold>……</Bold></i></Paragraph>
        <Paragraph><Bold> And he shall</Bold> <Bold>put some of the blood upon the horns of the altar</Bold>
            <i>which</i></Paragraph>
        <Paragraph><i> is before the LORD</i>…" ( Lev 4: 13-18 abbreviated )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we can see there are at least three passages that tell us that they entered the Most Holy much more
            frequently
            than once a year. Nevertheless, it is true that <Bold>with the blood of the atonement for the whole
                nation, as
                Paul specified,</Bold> once a year could the High Priest enter the Most Holy. This ceremony symbolized
            Christ's sacrifice. That is why it had to be done only once a year, symbolizing that Jesus was going to be
            sacrificed only once. If now we go to the New Testament we see that Zachary ( Luke 1: 8-9 ), <Bold>who was
                not the
                High Priest,</Bold> was the one who burned the incense that day. This means that not only the High
            Priest, but
            any priest could enter the Most Holy Place if he was elected to do so by the casting of lots. What only the
            High
            Priest could perform was to bring blood to be put in the altar of incense as an atonement for the whole
            people of
            Israel. <Bold>Not very long ago I heard a Sunday School teacher that was teaching an error</Bold>. He
            learned
            this error from a pastor, who in turn learned it from a seminary teacher, who learned it from another
            teacher, who
            read it in a book, whose author learned it from a teacher, who….etc. Sadly, none of them learned it from the
            Bible,
            which should be the only source of religious knowledge for them. What this teacher taught to his brethren
            was that
            the Bible says that only the High Priest could enter the Most Holy, and even so, he had to enter with a rope
            tied to
            his leg in case that if he were to die, they could remove his body, because no one else could go into the
            Most Holy.
            This is false. The Bible says nothing like that. Besides, by reading the Bible we see that during the
            exodus,
            <Bold>the tabernacle with the Most Holy included, had to be disassembled each time that people
                moved.</Bold>
            Therefore, young men had to come to disassemble it and carry it on their shoulders. It is not logical to
            think that
            Aaron, who at that time was over 83 years old, was going to do the whole job alone. <Bold>This next
                argument is
                not a biblical one, but it makes sense.</Bold> Another reason for not believing that the Most Holy
            could be
            entered only once a year, is that a place where nobody enters for a year, will become full of mildew and
            other
            fungus like plants; and besides, all kinds of bugs, snakes, rats, etc., will come to live in there.
            Especially when
            the tabernacle was in the wilderness. As you see, <Bold>it is good to read the whole Bible from cover to
                cover
                continuously. We must never expend our time reading "books that talk about the Bible" if we have not red
                yet the
                Bible that day.</Bold> It is good to read these books, but only if you have time to first read the
            Bible,
            because this way it will be more difficult to get confused by the error of a brother. Most probably our
            brother's
            purpose was not to make us err, but he makes us err anyway. Therefore, it is our responsibility to avoid any
            error,
            no matter if it was done purposely or not.</Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the index</a></Paragraph>

    </section>
</Layout>
    