---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Ignorance of the law is no excuse to sin against God">
    <Tag>#101</Tag>
    <Content>
        <Paragraph><Bold>Ignorance of God's Law is no excuse to sin against God. The servant who ignored the will of his lord
            will be
            flogged with few stripes, but will be flogged</Bold></Paragraph>
        <Paragraph> When we read Lv 4<Bold>:</Bold>13 we realize that even if one person ignores the commission of a
            sin<Bold>,</Bold> it doesn't mean he is not guilty<Bold>.</Bold> In other words<Bold>,</Bold> if
            a
            person sins without knowing it is a sin<Bold>,</Bold> even so he is guilty<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And if the whole congregation of Israel <Bold>sin through ignorance,</Bold> <Bold>and
            the
            thing be hid from the eyes of the assembly,</Bold> and they have done somewhat against any of the
            commandments of
            the LORD concerning things which should not be done<Bold>,</Bold> <Bold>and are
                guilty</Bold></i><Bold>"</Bold> (Lev 4<Bold>:</Bold>13)</Paragraph>
        <Paragraph> Whether or not someone is conscious that what he does was a sin<Bold>,</Bold> if the act he committed
            was sinful
            he will be guilty<Bold>.</Bold> As we can see<Bold>,</Bold> the excuse of ignorance does not exist
            for
            sin<Bold>.</Bold> <Bold>Our responsibility is to inquire, to seek the Supreme Being and find out if
                somehow,
                even if by feeling after him, as Paul said, we find Him.</Bold> Our obligation is to inquire about His
            laws<Bold>,</Bold> to find out about the rules before we act<Bold>.</Bold> <Bold>If by giving
                little
                importance to God and his rules,</Bold> we do not inquire about them<Bold>,</Bold> we do not know
            them<Bold>,</Bold> and we act against them<Bold>,</Bold> that is our problem<Bold>.</Bold> That
            same
            idea is expressed in Leviticus 4<Bold>:</Bold>27-28 and 5<Bold>:</Bold>17<Bold>.</Bold> Let's
            see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And if any one of the common people <Bold>sin through ignorance,</Bold> while he
            doeth
            somewhat against any of the commandments of the LORD concerning things which ought not to be
            done<Bold>,</Bold>
            and <Bold>be guilty</Bold></i><Bold>"</Bold> (Lev 4<Bold>:</Bold>27)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And <Bold>if a soul sin, and commit any of these things</Bold> which are forbidden
            to be
            done by the commandments of the LORD<Bold>;</Bold> <Bold>though he wist it not, yet is he
                guilty,</Bold> and
            <Bold>shall bear his iniquity</Bold></i><Bold>".</Bold> (Lev 5<Bold>:</Bold>17)</Paragraph>
        <Paragraph> It is actually true that someone who is ignorant <Bold>in good faith</Bold> has a certain extenuating
            circumstances<Bold>,</Bold> but never absolving<Bold>.</Bold> This is proven in Luke
            12<Bold>:</Bold>47-48
            when the Lord Jesus himself says that the servant who did not understand<Bold>,</Bold> and because of
            his
            ignorance did things worthy of stripes<Bold>,</Bold> <Bold>will be striped less.</Bold> In other
            words<Bold>,</Bold> the one who knew he was doing wrong and continued doing so<Bold>,</Bold> will
            receive
            many stripes<Bold>,</Bold> while the one who sincerely did not know<Bold>,</Bold> <Bold>will
                receive less
                stripes,</Bold> not as many as the one who did know<Bold>;</Bold> <Bold>but he will be
                striped.</Bold>
            We can see clearly that ignorance is extenuating but not absolving<Bold>.</Bold> (Extenuating means it
            lessens
            the punishment<Bold>;</Bold> absolving means it totally annuls it<Bold>.</Bold>)</Paragraph>
        <Paragraph><Bold>"</Bold>47 <i>And <Bold>that servant, which knew his lord's will,</Bold> and prepared not
            himself<Bold>,</Bold> neither did according to his will<Bold>,</Bold> <Bold>shall be beaten with
                many
                stripes.</Bold></i> 48 <i>But <Bold>he that knew not,</Bold> and did commit things worthy of
            stripes<Bold>,</Bold> <Bold>shall be beaten with few stripes.</Bold> For unto whomsoever much is
            given<Bold>,</Bold> of him shall be much required<Bold>,</Bold> and to whom men have committed
            much<Bold>,</Bold> of him they will ask the more</i><Bold>".</Bold> (Lk 12<Bold>:</Bold>47-48)
        </Paragraph>
        <Paragraph><Bold>In short,</Bold> good faith ignorance of God's commandments <Bold>does not</Bold> free anyone
            from the
            penalty of transgression<Bold>,</Bold> the most it lessen that penalty<Bold>.</Bold></Paragraph>
        <Paragraph> Let it then be known to the nonbelievers<Bold>,</Bold> who try not learning about God so they can allege
            ignorance<Bold>,</Bold> as well as the believers that do not want to inquire much about whether or not
            to obey
            God's commandments<Bold>,</Bold> hoping to allege good faith ignorance<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    