---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Rapture Falsehood">
    <Content>
        <Paragraph><Bold>To believe or not in the "Rapture" before the Great Tribulation could become a matter of life or
            death, a
            matter of torture or liberty</Bold></Paragraph>
        <Paragraph> There is going to be an ingathering of the Christians during the Second Coming<Bold>,</Bold> but not a
            <Bold>"</Bold>rapture<Bold>"</Bold> before the Great Tribulation<Bold>.</Bold> The brethren that
            believe
            in a Rapture previous to the Great Tribulation should analyze very carefully this issue<Bold>,</Bold>
            because it
            can become <Bold>a matter of life or death, of torture or liberty, for themselves and their
                family.</Bold> It is
            like having upon them the blood of their family members<Bold>,</Bold> for the foolishness of not
            searching in
            detail<Bold>,</Bold> without the prejudice or emotion caused by a desire to believe in this imaginary
            Rapture<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If these brothers are preachers, then they have a double responsibility, because in addition to their
            own
            family, they will have the blood of those they deceive upon them,</Bold> and for whose deception those
            unhappy
            ones would be tortured and murdered during the Great Tribulation<Bold>.</Bold> A most terrible weight on
            the
            conscience for those who preach the false doctrine of the Rapture<Bold>!</Bold></Paragraph>
        <Paragraph> I warn you clearly about the falsehood of that heretical interpretation of <Bold>"</Bold>a Rapture
            before the
            Great Tribulation<Bold>".</Bold> I demonstrate in my book <Bold>"</Bold>Rapture Vs<Bold>.</Bold>
            Ingathering<Bold>"</Bold> that it is erroneous<Bold>,</Bold> and with this I am free of the blood of
            those
            that want to close their eyes to the truth<Bold>.</Bold> The apostle Paul warned the churches of the
            Gentiles
            Thessalonians very clearly<Bold>,</Bold> <Bold>so that they would not allow themselves to be
                deceived</Bold>
            with doctrines like that of the Rapture before the Great Tribulation<Bold>.</Bold> Hence he knew that
            someone
            would try to deceive the brethren towards the latter days<Bold>.</Bold> In essence<Bold>,</Bold> by
            warning
            them he warned us too<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Now we beseech you<Bold>,</Bold> brethren<Bold>,</Bold> <Bold>by the coming
            of our
            Lord Jesus Christ, and by our gathering together unto him,</Bold></i> 2 <i>that ye be not soon shaken in
            mind<Bold>,</Bold> or be troubled<Bold>,</Bold> neither by spirit<Bold>,</Bold> nor by
            word<Bold>,</Bold> nor by letter as from us<Bold>,</Bold> as that the day of Christ is at
            hand<Bold>.</Bold></i> 3 <i><Bold>Let no man deceive you by any means; for that day shall not come,
            except
            there come a falling away first, and that man of sin be revealed, the son of perdition;</Bold></i> 4 <i>who
            opposeth and exalteth himself above all that is called God<Bold>,</Bold> or that is
            worshipped<Bold>;</Bold>
            so that he as God sitteth in the temple of God<Bold>,</Bold> shewing himself that he is
            God</i><Bold>."</Bold> (II Thes 2<Bold>:</Bold>1-4)</Paragraph>
        <Paragraph><Bold>It is very different the risk of those that believe in the Rapture before the Great Tribulation, and
            those
            that believe in the Ingathering during the Second Coming of Christ.</Bold> If there were a Rapture before
            the
            Great Tribulation<Bold>,</Bold> what would happen to the Christians that do not believe in
            it<Bold>?</Bold>
            Nothing would happen to them<Bold>;</Bold> they would be raptured along with the other brothers that do
            believe
            in the Rapture<Bold>.</Bold></Paragraph>
        <Paragraph> On the other hand<Bold>,</Bold> if the Rapture before the Great Tribulation is false<Bold>,</Bold>
            <Bold>what
                would happen to those that do believe in this false Rapture?</Bold> What would happen is that they
            would not be
            alert<Bold>.</Bold> But if they were alert<Bold>,</Bold> they would think that they would not need
            to do
            anything other than wait some more to be raptured<Bold>.</Bold> The terrible harm that this false
            doctrine of
            the Rapture will cause the brethren is that they will not leave their comforts and move to the
            <Bold>"</Bold>wilderness<Bold>"</Bold>
            where God has determined that they be taken care of<Bold>.</Bold> Instead they are going to stay waiting
            where
            they can be captured<Bold>,</Bold> always thinking that the Rapture is imminent<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Would someone that stands to lose millions of dollars correct their error?</Bold> Would a
            corporation that
            prints and sells books advocating the false Rapture be sufficiently honest as to allow themselves to be
            convinced of
            the falsehood of this doctrine and of the terrible harm it causes<Bold>?</Bold> Would a corporation that
            sells
            videos that attractively present the alleged benefits of this false Rapture<Bold>,</Bold> be
            sufficiently honest
            to the point of allowing themselves to be convinced that these are falsehoods and of the harm caused by what
            they
            are selling and preaching<Bold>?</Bold> <Bold>Would they throw in the trash bin tens of millions of
                dollars</Bold> that they have invested in this heretical material<Bold>,</Bold> for the love of
            their
            brethren<Bold>?</Bold> <Bold>Yes they can, but they would have to love God more than Mammon.</Bold>
            Would
            they have sufficient mental honesty to discuss publicly this issue<Bold>?</Bold> Yes they
            can<Bold>,</Bold>
            but they would have to love God more than their egos and their pockets<Bold>.</Bold> Would they do
            it<Bold>?</Bold> <Bold>Only time will provide an answer.</Bold></Paragraph>
        <Paragraph> In this website you can find and download the book that demonstrate<Bold>:</Bold> a) the falsehood of a
            rapture
            before the Great Tribulation<Bold>,</Bold> b) the truth of an Ingathering during the Second Coming of
            Our Lord
            Jesus Christ<Bold>,</Bold> and c) how God has prepared a refuge from the Great
            Tribulation<Bold>,</Bold> for
            his children that stay alert<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>You can also ask for one book, free of charge. Send your request to P. O. Box 655165, Miami, FL
            33265-5126.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    