---
import Layout from "../layout/Layout.astro";
---

<Layout title="Rapture Before the Great Tribulation">
    <section>
        <p><strong>Where does the Bible says there is a Rapture before the Great Tribulation?</strong></p>
        <p><strong>The Bible always speak of an Ingathering during the Second Coming, but never of a rapture before the
            Great
            Tribulation.</strong> <strong>Is called "rapture"</strong> that which is alleged to occur before the Great
            Tribulation<strong>.</strong> <strong>Is called "ingathering"</strong> that which will occur at the moment
            of the
            Second Coming of Jesus Christ<strong>.</strong></p>
        <p><strong>I can point to various verses that deal with the return of the Lord, in which the existence of the
            Ingathering is clearly announced</strong> during the Second Coming of our Lord Jesus
            Christ<strong>.</strong>
            <strong>But I have not seen a single one</strong> where there is any <strong>clear</strong> mention of a
            sudden<strong>,</strong> silent and secret Rapture <strong>before</strong> the Great
            Tribulation<strong>.</strong>
        </p>
        <p> Matthew<strong>,</strong> Mark and Luke included the Prophetic Sermon in their Gospels<strong>.</strong>
            <strong>In
                that sermon Jesus speaks of the events that would occur from the moment he was speaking, until his
                Second
                Coming.</strong> In spite that the Lord <strong>was speaking to his Church,</strong> in the form of his
            apostles<strong>,</strong> at no instance he tells them that there is going to be a rapture before the Great
            Tribulation<strong>.</strong> Nevertheless<strong>,</strong> He does speak clearly and specifically of the
            occurrence of an Ingathering after the Great Tribulation and during his Second Coming<strong>.</strong></p>
        <p> How can we believe in a rapture which Jesus never mentioned and which is not mentioned in any
            Scripture<strong>?</strong> Moreover<strong>,</strong> how can we think that if Jesus has spoken of the
            events that
            would occur until his Second Coming<strong>,</strong> He would forget to mention the Rapture or warn about
            it<strong>? Or how can we think that he would leave the leaders of his Church ignorant</strong> about an
            issue so
            transcendentally important<strong>?</strong> The answer is quite simple<strong>:</strong> the Rapture before
            the
            Great Tribulation simply does not exist<strong>,</strong> it is a diabolical ruse to deceive the
            Christians<strong>,</strong> as Jesus himself warned<strong>,</strong> as well as the apostle
            Paul<strong>.</strong>
            But<strong>,</strong> unfortunately<strong>,</strong> most of Christians have allowed themselves to be
            deceived<strong>.</strong></p>
        <p><strong>If the Rapture were real, the Lord, would have spoken about it during the Prophetic Sermon, just as
            He did
            about the Ingathering occurring after the Great Tribulation.</strong> Review for
            yourselves<strong>,</strong> verse
            by verse<strong>,</strong> each chapter in each of the three gospels where the Prophetic Sermon is presented
            (Mt<strong>,</strong> Mr y Lk)<strong>,</strong> you will see that nowhere our Lord Jesus Christ warns his
            Church
            that there would be a Rapture previous to the Great Tribulation<strong>.</strong></p>
        <p> After concluding our own investigation into this matter<strong>,</strong> would we continue believing this
            heresy<strong>?</strong> Brethren<strong>,</strong> it is justifiable that a Christian be
            deceived<strong>,</strong>
            but it is unjustifiable that he would insist in remaining deceived<strong>,</strong> without having any
            reasons that
            would support those beliefs<strong>,</strong> and without being able to answer against the reasons that here
            are
            presented<strong>.</strong></p>
        <p><strong>God gave the Bible so that all may understand it, not only the learned.</strong> The prophecies and
            doctrines
            in the Bible are clear<strong>;</strong> anyone can understand them without having to have studied
            theology<strong>,</strong> Greek<strong>,</strong> Hebrew<strong>,</strong> hermeneutics<strong>,</strong>
            etc<strong>.,</strong> nor having to graduate from a seminary<strong>.</strong> God does not give His
            revelations so
            that only a few experts like Caiaphas and Gamaliel can understand them<strong>.</strong> He gives them so
            that
            fishermen like John<strong>,</strong> Peter and James may have access to the truth<strong>,</strong> if
            indeed they
            desire to know the truth<strong>.</strong></p>
        <p> The Lord Jesus said once that God had revealed these things to the little and not to the learned and
            expert<strong>.</strong> Hence<strong>,</strong> we don't necessarily need to be learned or experts to
            understand<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>At that time Jesus answered and said<strong>,</strong> I thank thee<strong>,</strong> O
            Father<strong>,</strong> Lord of heaven and earth<strong>,</strong> because thou hast hid these things from
            the wise
            and prudent<strong>,</strong> and <strong>hast revealed them unto babes.</strong></i><strong>"</strong> (Mt
            11<strong>:</strong>25)</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    