---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Rapture Before the Great Tribulation">
    <Title>Where does the Bible says there is a Rapture before the Great Tribulation?</Title>

    <Tag>#103</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold>The Bible always speak of an Ingathering during the Second Coming, but never of a rapture before the
            Great
            Tribulation.</Bold> <Bold>Is called "rapture"</Bold> that which is alleged to occur before the Great
            Tribulation<Bold>.</Bold> <Bold>Is called "ingathering"</Bold> that which will occur at the moment
            of the
            Second Coming of Jesus Christ<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>I can point to various verses that deal with the return of the Lord, in which the existence of the
            Ingathering is clearly announced</Bold> during the Second Coming of our Lord Jesus
            Christ<Bold>.</Bold>
            <Bold>But I have not seen a single one</Bold> where there is any <Bold>clear</Bold> mention of a
            sudden<Bold>,</Bold> silent and secret Rapture <Bold>before</Bold> the Great
            Tribulation<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Matthew<Bold>,</Bold> Mark and Luke included the Prophetic Sermon in their Gospels<Bold>.</Bold>
            <Bold>In
                that sermon Jesus speaks of the events that would occur from the moment he was speaking, until his
                Second
                Coming.</Bold> In spite that the Lord <Bold>was speaking to his Church,</Bold> in the form of his
            apostles<Bold>,</Bold> at no instance he tells them that there is going to be a rapture before the Great
            Tribulation<Bold>.</Bold> Nevertheless<Bold>,</Bold> He does speak clearly and specifically of the
            occurrence of an Ingathering after the Great Tribulation and during his Second Coming<Bold>.</Bold></Paragraph>
        <Paragraph> How can we believe in a rapture which Jesus never mentioned and which is not mentioned in any
            Scripture<Bold>?</Bold> Moreover<Bold>,</Bold> how can we think that if Jesus has spoken of the
            events that
            would occur until his Second Coming<Bold>,</Bold> He would forget to mention the Rapture or warn about
            it<Bold>? Or how can we think that he would leave the leaders of his Church ignorant</Bold> about an
            issue so
            transcendentally important<Bold>?</Bold> The answer is quite simple<Bold>:</Bold> the Rapture before
            the
            Great Tribulation simply does not exist<Bold>,</Bold> it is a diabolical ruse to deceive the
            Christians<Bold>,</Bold> as Jesus himself warned<Bold>,</Bold> as well as the apostle
            Paul<Bold>.</Bold>
            But<Bold>,</Bold> unfortunately<Bold>,</Bold> most of Christians have allowed themselves to be
            deceived<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If the Rapture were real, the Lord, would have spoken about it during the Prophetic Sermon, just as
            He did
            about the Ingathering occurring after the Great Tribulation.</Bold> Review for
            yourselves<Bold>,</Bold> verse
            by verse<Bold>,</Bold> each chapter in each of the three gospels where the Prophetic Sermon is presented
            (Mt<Bold>,</Bold> Mr y Lk)<Bold>,</Bold> you will see that nowhere our Lord Jesus Christ warns his
            Church
            that there would be a Rapture previous to the Great Tribulation<Bold>.</Bold></Paragraph>
        <Paragraph> After concluding our own investigation into this matter<Bold>,</Bold> would we continue believing this
            heresy<Bold>?</Bold> Brethren<Bold>,</Bold> it is justifiable that a Christian be
            deceived<Bold>,</Bold>
            but it is unjustifiable that he would insist in remaining deceived<Bold>,</Bold> without having any
            reasons that
            would support those beliefs<Bold>,</Bold> and without being able to answer against the reasons that here
            are
            presented<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>God gave the Bible so that all may understand it, not only the learned.</Bold> The prophecies and
            doctrines
            in the Bible are clear<Bold>;</Bold> anyone can understand them without having to have studied
            theology<Bold>,</Bold> Greek<Bold>,</Bold> Hebrew<Bold>,</Bold> hermeneutics<Bold>,</Bold>
            etc<Bold>.,</Bold> nor having to graduate from a seminary<Bold>.</Bold> God does not give His
            revelations so
            that only a few experts like Caiaphas and Gamaliel can understand them<Bold>.</Bold> He gives them so
            that
            fishermen like John<Bold>,</Bold> Peter and James may have access to the truth<Bold>,</Bold> if
            indeed they
            desire to know the truth<Bold>.</Bold></Paragraph>
        <Paragraph> The Lord Jesus said once that God had revealed these things to the little and not to the learned and
            expert<Bold>.</Bold> Hence<Bold>,</Bold> we don't necessarily need to be learned or experts to
            understand<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>At that time Jesus answered and said<Bold>,</Bold> I thank thee<Bold>,</Bold> O
            Father<Bold>,</Bold> Lord of heaven and earth<Bold>,</Bold> because thou hast hid these things from
            the wise
            and prudent<Bold>,</Bold> and <Bold>hast revealed them unto babes.</Bold></i><Bold>"</Bold> (Mt
            11<Bold>:</Bold>25)</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    