---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Sin is our fault, not the fault of the environment, predestination, ignorance or Satan">
    <Tag>#104</Tag>
    <Content>
        <Paragraph><Bold>Sin is our fault, not the fault of the environment, predestination, ignorance or Satan</Bold></Paragraph>
        <Paragraph><Bold>God does not wish to send us malady, nor allow it.</Bold> God does not wish to distress his
            creatures<Bold>;</Bold> if he allows it<Bold>,</Bold> it is so that they learn something or as a
            consequence
            of some wrongdoing<Bold>.</Bold> If God does not wish to send us malaise or distress<Bold>,</Bold>
            but these
            descend upon us<Bold>,</Bold> it is because sin is a human being's doing<Bold>.</Bold> Distress can
            be as
            natural as a consequence of an act previously committed by us<Bold>,</Bold> either as
            individuals<Bold>,</Bold> as a society or as a nation<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>31 <i>For the Lord will not cast off for ever<Bold>.</Bold></i> 32 <i>But though he
            cause grief<Bold>,</Bold>
            yet will he have compassion according to the multitude of his mercies<Bold>.</Bold></i> 33 <Bold><i>For
            he
            doth not afflict willingly nor grieve the children of men</i>."</Bold> (Lamentations 3<Bold>:</Bold>31-33)
        </Paragraph>
        <Paragraph><Bold>Things that happen to man are not always as a result of his action.</Bold> Sometimes it may be as a
            consequence of someone else's actions<Bold>,</Bold> as in the case in which a child inherits a venereal
            disease
            from its parents<Bold>.</Bold> We have to understand that <Bold>what a child inherits is only while in
                the
                flesh and he only suffers from it in this lifetime.</Bold> He may follow God<Bold>,</Bold> be
            saved
            because of Christ<Bold>,</Bold> and live eternally without the inconvenient malady he inherited from his
            parents<Bold>,</Bold>
            because he will inherit a new body upon his resurrection<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>We can say the same about the sin of society, like pornography,</Bold> whereby children suffer the
            consequences as well as women who do not participate in that sin<Bold>.</Bold> <Bold>Another case may
                be the
                punishment of a nation for allowing abortion.</Bold> That nation may pay for their sin in the form of
            war<Bold>,</Bold> although many might have opposed abortion<Bold>,</Bold> they will suffer the
            consequences
            of war<Bold>.</Bold></Paragraph>
        <Paragraph> God does not want to cause man any pain<Bold>,</Bold> but if they transgress God's
            laws<Bold>,</Bold> the
            natural process which follows the lack of obedience is suffered by the entire nation and all of
            society<Bold>.</Bold> Nevertheless<Bold>,</Bold> <Bold>I say, in almost all cases, when a person
                suffers
                some form of malady or anguish, it is motivated by a personal act.</Bold> At least this has been my
            personal
            experience<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are many who wish to blame their sinful tendency and sin to their ancestors.</Bold> They
            claim that
            because Adam and Eve sinned<Bold>,</Bold> they have inherited a sinful nature<Bold>.</Bold> This is
            what
            they refer to as <Bold>"</Bold>original sin<Bold>".</Bold> This is false<Bold>.</Bold> We
            explain it in
            article number 31 of this same website<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    