---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Discussion is like the light, it only bothers those who prefer darkness">
    <Content>
        <Paragraph><Bold>Discussion is like the light, it only bothers those who prefer darkness</Bold></Paragraph>
        <Paragraph><Bold>We need to be certain of what we believe in regards to keeping or losing our salvation. There are two
            extremes in regards to losing or maintaining our salvation.</Bold> Some believe that we can lose it for
            anything<Bold>;</Bold> others think that we will never lose it regardless of the sin<Bold>.</Bold>
            Both are
            wrong<Bold>.</Bold> He<Bold>,</Bold> who paid such a high price for our salvation<Bold>,</Bold>
            is not
            going to take it away for just any sin<Bold>.</Bold> <Bold>But He is not going to allow himself to be
                stepped
                upon by those who love their sin more than their Lord,</Bold> and insist on living in
            sin<Bold>,</Bold>
            while they <Bold>"</Bold>soothe<Bold>"</Bold> their conscience forcing themselves to believe that
            salvation
            cannot be lost<Bold>.</Bold></Paragraph>
        <Paragraph> In many occasions I have witnessed two friends arguing an important issue<Bold>,</Bold> without
            realizing they
            both share the same opinion<Bold>,</Bold> until a third one comes and helps them see
            it<Bold>.</Bold> This
            is because neither is certain of what they believe<Bold>,</Bold> they have not nailed down their belief
            system<Bold>.</Bold> <Bold>Therefore let's keep our concepts clear.</Bold></Paragraph>
        <Paragraph> Some times our concepts are not clear in our own mind<Bold>,</Bold> because we have never
            answered<Bold>,</Bold> categorically<Bold>,</Bold> the questions that come up<Bold>.</Bold>
            <Bold>Normally
                we have in our minds some preconceived words or phrases with which we try to express an unclear
                concept.</Bold> This concept<Bold>,</Bold> although not completely established<Bold>,</Bold>
            we want
            others to understand and accept without proper definition and proof<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What are the main affirmations of those who believe the doctrine that once saved, always
            saved?</Bold>
            There are several variants of this doctrine<Bold>,</Bold> but they are all wrong<Bold>.</Bold>
            <Bold>There
                are those who think</Bold> that the human being does not have free will<Bold>,</Bold> that he
            never wanted
            to be saved<Bold>,</Bold> but God forced some to be saved while leaving others abandoned to their
            horrible
            destiny<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Others think</Bold> that the human being does have free will<Bold>,</Bold> but once he becomes
            a
            Christian loses it<Bold>,</Bold> therefore he can't lose that salvation<Bold>.</Bold> It is
            something like a
            fish<Bold>,</Bold> that once it bites the hook<Bold>,</Bold> can't get lose even though it fervently
            wants
            to<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Others believe</Bold> the human being has free will before and after conversion<Bold>,</Bold>
            but God
            doesn't allow salvation for those that will later walk away<Bold>,</Bold> thus once a person is
            saved<Bold>,</Bold> will always be saved regardless of how much he sins or how much he will disobey
            God<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The main affirmation of this doctrine is that he who walks away, who abandons the faith, is because
            he never
            had it.</Bold> That is false<Bold>,</Bold> and I will prove it in the present
            article<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>None of the variants of this doctrine can show any Bible passage that will clearly say so.</Bold>
            It can't
            even show a passage that will imply such thing<Bold>.</Bold> However<Bold>,</Bold> I can show many
            passages
            that will clearly and emphatically say the opposite<Bold>:</Bold> <Bold>that once saved, a person can
                walk
                away and lose salvation.</Bold></Paragraph>
        <Paragraph> God does not force his creatures to love Him if they do not desire to do so<Bold>.</Bold> God does not
            force
            anyone to be with Him if he does not desire to do so<Bold>.</Bold> That <Bold>"</Bold>forced
            salvation<Bold>"</Bold> that sadly is so frequently preached<Bold>,</Bold> <Bold>isn't useful but
                to
                artificially tame the conscience,</Bold> of he who<Bold>,</Bold> having become a
            Christian<Bold>,</Bold> loves his sin more than Jesus Christ and wants to continue living in
            it<Bold>,</Bold> without loosing salvation<Bold>.</Bold></Paragraph>
        <Paragraph> Throughout Scripture you will not see any reference to once saved always saved<Bold>,</Bold> regardless
            of
            constantly sinning <Bold>without repentance;</Bold> however<Bold>,</Bold> you will see many
            occasions in
            which it is mentioned that one who is saved can lose his salvation<Bold>,</Bold> if he sins <Bold>and
                does not
                want to repent from his sin.</Bold></Paragraph>
        <Paragraph> The Lord said<Bold>:</Bold> <Bold>"</Bold>For out of the abundance of the heart the mouth
            speaketh<Bold>".</Bold> If the Bible writers did not have in their hearts the knowledge that salvation
            could be
            lost<Bold>,</Bold> they would not have said such things<Bold>,</Bold> as we see men like
            Peter<Bold>,</Bold> Paul<Bold>,</Bold> James<Bold>,</Bold> John<Bold>,</Bold>
            Moses<Bold>,</Bold> Isaiah<Bold>,</Bold> Ezekiel<Bold>,</Bold> and others talk<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>In summary, what this article says and its thesis affirms</Bold> is that a Christian can lose his
            salvation
            if he decides to walk away from the Lord<Bold>,</Bold> and does not like the clean lifestyle that the
            Lord
            expects<Bold>.</Bold> In other words<Bold>,</Bold> if the evil
            <Bold>"</Bold>joys<Bold>"</Bold> of
            sin are more attractive to him than the love of Jesus Christ<Bold>,</Bold> that person can little by
            little lose
            his way to the point of extreme hardening of heart and contempt for the divine<Bold>,</Bold> with no way
            back<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>I would like those who believe that once saved always saved, would show me at least three clear
            passages</Bold> that say that a person who has been saved can do and undo<Bold>,</Bold> sin and sin
            and
            sin<Bold>,</Bold> and keep his salvation<Bold>,</Bold> and not lose it no matter how much he sinned
            without
            repentance<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Let's see some Bible writers' opinions on that heresy that claims that once saved, always saved. The
            Holy
            Sprit says clearly that it is possible to fall from grace.</Bold> Those who follow the doctrines of Dutch
            Catholic
            Bishop Cornelius Jansen and French reformer John Calvin<Bold>,</Bold> insist that a person who comes to
            Christ<Bold>,</Bold> and is therefore in the faith<Bold>,</Bold> cannot later abandon the faith and
            be
            lost<Bold>.</Bold> However<Bold>,</Bold> in the next verse<Bold>,</Bold> the Holy Spirit says
            something
            totally different<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Now <Bold>the Spirit speaketh expressly,</Bold> that in the latter times <Bold>some
            shall
            depart from the faith,</Bold> giving heed to seducing spirits<Bold>,</Bold> and doctrines of
            devils</i><Bold>."</Bold> (I Tim 4<Bold>:</Bold>1)</Paragraph>
        <Paragraph> As we see in this verse<Bold>,</Bold> <Bold>The Holy Spirit, personally, indicates that some will
            depart from
            the faith.</Bold> In order to depart from the faith<Bold>,</Bold> one must first be in the
            faith<Bold>.</Bold> Nobody can abandon a house in which he has not been<Bold>.</Bold> Nobody can
            fall from a
            ladder on which he has never climbed<Bold>.</Bold> And nobody can abandon a faith in which he has never
            been<Bold>.</Bold> Thus<Bold>,</Bold> it is evident that the Holy Spirit is saying that those who
            were in
            the grace can fall from it<Bold>,</Bold> and can abandon the faith<Bold>.</Bold></Paragraph>
        <Paragraph> Well then<Bold>,</Bold> by the Holy Spirit's affirmation that some will abandon the
            faith<Bold>,</Bold>
            makes us see clearly and definitely that the Christian<Bold>,</Bold> the human being that is in the
            faith<Bold>,</Bold> the human being that is saved<Bold>,</Bold> can abandon the
            faith<Bold>,</Bold> and
            therefore<Bold>,</Bold> not be saved anymore<Bold>.</Bold> This shows that the hypothesis of
            <Bold>"</Bold>once saved always saved<Bold>"</Bold> is one more heresy in which Christianity has
            fallen<Bold>.</Bold> <Bold>If the Holy Spirit personally says that some will abandon the faith, who
                are Jansen
                and Calvin to deny it?</Bold> No one can abandon a faith in which he has never been<Bold>,</Bold>
            no one
            can fall from a ladder on which he has never climbed<Bold>,</Bold> or abandon a house in which he has
            never been
            in<Bold>.</Bold> Therefore<Bold>,</Bold> to say that the one who fall from the faith never was in
            the
            faith<Bold>,</Bold> is false<Bold>.</Bold> In the next article I will mention more biblical passages
            that
            demonstrate the error of this heresy that say Once Saved Always Saved<Bold>,</Bold> even if there is no
            repentance<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    