---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Are we Christians or Saintpaulians?">
    <section>
        <Paragraph><Bold>Are we Christians or Saintpaulians?</Bold></Paragraph>
        <Paragraph><Bold>Why Christianity became Saintpaulianity.</Bold> More than 16 centuries ago many Christians became
            Saintpaulians<Bold>.</Bold> <Bold>This is a rather idolatrous form of Christianity.</Bold>
            Yes<Bold>,</Bold> because while it remains true to Jesus Christ<Bold>,</Bold> it takes away the
            authority of
            his word<Bold>,</Bold> and that of the Holy Spirit and his twelve Apostles<Bold>,</Bold>
            transferring such
            authority to Paul<Bold>,</Bold> <Bold>going above the authority of Christ and God himself.</Bold>
        </Paragraph>
        <Paragraph> Sure enough<Bold>,</Bold> nowadays most Christians are Saintpaulians<Bold>.</Bold> If Christ says
            that the
            grass is green and the Saintpaulians misunderstand that Paul said it is red<Bold>,</Bold> they insist it
            is
            red<Bold>,</Bold> because <Bold>"</Bold>Paul said so<Bold>".</Bold></Paragraph>
        <Paragraph> If the twelve apostles say the sky is blue and the believers think they understood Paul say it was
            yellow<Bold>,</Bold> the Saintpaulians will insist that the sky is yellow<Bold>,</Bold>
            <Bold>"</Bold>because
            Paul said so<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>They don't care what God says, what Jesus says, or what the Holy Spirit says;</Bold> neither do
            they care
            what the twelve apostles say<Bold>.</Bold> The <Bold>"</Bold>new doctrine<Bold>"</Bold> is what
            the
            believers mistakenly think Paul has said<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Some believe that in I Corinthians 8:1-13, Paul, in his "sacred authority" changed the Christian
            doctrine,</Bold> contradicting everything that had been legislated so far in regards to not eating what
            was
            sacrificed to the idols<Bold>.</Bold> Not just that<Bold>,</Bold> but according to these
            brothers<Bold>,</Bold> Paul<Bold>,</Bold> in his <Bold>"</Bold>divine
            authority<Bold>",</Bold> as if
            he were the protestant pope<Bold>,</Bold> changed God's law<Bold>,</Bold> and decided that from then
            on<Bold>,</Bold> <Bold>it would</Bold> be acceptable to eat what was sacrificed to
            idols<Bold>.</Bold>
            They think like that regardless of what Christ<Bold>,</Bold> the Holy Spirit<Bold>,</Bold> and the
            twelve
            apostles said<Bold>.</Bold> They believe that Paul went over all of that<Bold>,</Bold> and all of
            them<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Nothing was farther from Paul's intentions.</Bold> What Paul was doing in this passage was taking
            away the
            panic that apparently some felt<Bold>,</Bold> for having carelessly eaten from something previously
            offered to
            the idols<Bold>.</Bold> But in spite of that reality<Bold>,</Bold> many are the Christians who
            understand
            from this passage that indeed <Bold>we can</Bold> eat what has been sacrificed to
            idols<Bold>,</Bold>
            because <Bold>"</Bold>Paul authorized it<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>It is sensible to interpret very carefully what Paul seems to say.</Bold> Peter was a man inspired
            by
            God<Bold>,</Bold> and he knew Paul personally<Bold>.</Bold> Thanks to Peter's
            witness<Bold>,</Bold> we
            know that our brother Paul<Bold>,</Bold> spoke and wrote in a style and form<Bold>,</Bold> that was
            open to
            be twisted<Bold>.</Bold> Of course<Bold>,</Bold> to be twisted by the unstable (of bad spiritual
            quality)
            and the unlearned (ignorant of the word and God's things)<Bold>.</Bold> Peter had indisputable authority
            to say
            it about the no lesser or inspired brother Paul<Bold>.</Bold></Paragraph>
        <Paragraph> This doesn't mean that Paul's writings could not be read because of possible confusion<Bold>.</Bold>
            They had to
            be read carefully and sensibly so not to err<Bold>.</Bold> Above all<Bold>,</Bold> if what Paul
            seems to say
            is in contradiction with what other biblical authors affirm<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In no other place in the Bible there is a warning like this one, about any Bible author.</Bold>
            Never has
            anything like this been said of anyone<Bold>,</Bold> especially by someone with such authority as the
            Apostle
            Peter<Bold>.</Bold> Let's remember that <Bold>what the Bible authors wrote was inspired by the Holy
                Spirit,</Bold> therefore<Bold>,</Bold> it would be sensible for us to take seriously such inspired
            counsel
            from Peter<Bold>,</Bold> and keep it in mind<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>And account that the longsuffering of our Lord is salvation<Bold>;</Bold>
            <Bold>even as
                our beloved brother Paul also according to the wisdom</Bold> given unto him hath written unto
            you<Bold>;</Bold></i> 16 <i>as also in all his epistles<Bold>,</Bold> speaking in them of these
            things<Bold>;</Bold> in which <Bold>are some things hard to be understood, which they that are
                unlearned and
                unstable wrest, as they do also the other scriptures, unto their own
                destruction</Bold></i><Bold>".</Bold>
            (II Pet 3<Bold>:</Bold>15-16)</Paragraph>
        <Paragraph><Bold>We must understand that if the Holy Spirit inspired Paul to write something, He also inspired Peter
            to write
            what we just read.</Bold> Neither inspiration is less valuable than the other<Bold>.</Bold> If the
            Holy Spirit
            who inspired Paul to write<Bold>,</Bold> found it right to inspire Peter to give us this
            warning<Bold>,</Bold> it must be so that we would not err<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>See that the Holy Spirit inspired Peter to give this warning about Paul,</Bold> but He didn't
            inspire Paul
            to give this warning about Peter<Bold>.</Bold> Therefore<Bold>,</Bold> the least that a sensible
            Christian
            can do is to keep this warning in mind when he reads Paul's writings<Bold>.</Bold> <Bold>Especially
                the
                problematic ones,</Bold> the ones that go head to head to what Jesus said<Bold>,</Bold> what the
            twelve
            apostles said<Bold>,</Bold> and what the rest of the Bible writers and the old prophets
            said<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Let this serve as a warning to all<Bold>;</Bold> but especially to the <Bold>Saintpaulians, those who
            like to
            make up doctrines out of Paul's obscure verses. Also to those who believe that Paul establishes doctrines
            that
            contradict those of Christ, the Holy Spirit, the rest of the apostles, or the rest of the Bible.</Bold> We
            need to
            realize that we are Christians<Bold>,</Bold> not Saintpaulians<Bold>.</Bold></Paragraph>
        <Paragraph> Those who think they see in Paul's writings the abolition of God's laws for human behavior would not lose
            much
            reviewing those writings in the light of what the Holy Spirit reveals and warns them through
            Peter<Bold>.</Bold>
            After all<Bold>,</Bold> the sincere ones<Bold>,</Bold> the ones who want to find the truth wherever
            it
            is<Bold>,</Bold> will find it<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Let's see now an alleged statement of Paul, that seems to contradict what the Lord Jesus Christ
            said,</Bold> what the Holy Spirit said<Bold>,</Bold> and what the twelve apostles
            ordained<Bold>.</Bold>
            Let's also see what the explanation is to that <Bold>apparent contradiction</Bold> or discordance of
            Paul and
            the others<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Paul seems to contradict Christ, the Holy Spirit, and the twelve apostles in regards to what was
            offered to
            the idols.</Bold> There are brothers that more than Christians are Saintpaulians<Bold>.</Bold>
            <Bold>They do
                with Paul something similar to what Catholics do with the Virgin Mary.</Bold> Let me
            explain<Bold>.</Bold>
            Christ is the son of God<Bold>,</Bold> He thinks just like his Father<Bold>.</Bold> What was said by
            Paul
            has the same value to both of them<Bold>,</Bold> as what was said by Peter<Bold>,</Bold>
            Isaiah<Bold>,</Bold> Samuel<Bold>,</Bold> Jacob<Bold>,</Bold> Jude<Bold>,</Bold>
            Mathew<Bold>,</Bold> Jeremiah<Bold>,</Bold> Daniel<Bold>,</Bold> or any other
            servant<Bold>.</Bold>
            <Bold>The Holy Spirit inspired them all.</Bold> Yet there are Christians that believe that the Bible is
            St<Bold>.</Bold> Paul<Bold>,</Bold> and St<Bold>.</Bold> Paul is the Bible<Bold>.</Bold> If
            they
            understand that Paul says that the sand is green<Bold>,</Bold> and the rest of the apostles say it is
            white<Bold>,</Bold> they insist it is green<Bold>.</Bold> Paul said so<Bold>!</Bold></Paragraph>
        <Paragraph><Bold>Even if our Lord Jesus Christ himself said the sand is white,</Bold> and they think they understand
            that
            Paul said it was green<Bold>,</Bold> they will affirm that the sand is green<Bold>,</Bold> because
            <Bold>"</Bold>Paul said so<Bold>".</Bold> <Bold>Do you think this is a bit of an
                exaggeration?</Bold>
        </Paragraph>
        <Paragraph> The fact that Paul has written little more than a quarter of the New Testament doesn't give him the
            authority to
            abolish the rest of the Bible<Bold>,</Bold> including the rest of the New Testament<Bold>,</Bold>
            <Bold>something
                he did not try to do, but that many brothers in Christ attribute to him.</Bold></Paragraph>
        <Paragraph> If indeed it is true that he wrote more than any other writer in the New Testament<Bold>,</Bold> we need
            to
            understand that the others wrote almost three quarters of it<Bold>.</Bold> In other
            words<Bold>,</Bold> that
            the others wrote almost three times as much as Paul<Bold>.</Bold> He was not the most fruitful of the
            sacred
            writers<Bold>,</Bold> Moses alone wrote more than twice of what Paul did<Bold>.</Bold></Paragraph>
        <Paragraph> I say this<Bold>,</Bold> not to take away the merit due the apostle to the Gentiles<Bold>,</Bold>
            because he
            has plenty of merit<Bold>.</Bold> But rather so that nobody<Bold>,</Bold> due to an appreciation
            error<Bold>,</Bold> enlarge him irresponsibly<Bold>,</Bold> something that he always tried to
            avoid<Bold>,</Bold> as we see in the verses below<Bold>.</Bold> And sadly<Bold>,</Bold> they
            would
            enlarge him to the point of thinking of him as the sole teacher of religion<Bold>,</Bold> or at least
            the
            greatest<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For though I would desire to glory<Bold>,</Bold> I shall not be a
            fool<Bold>;</Bold> for
            I will say the truth<Bold>,</Bold> but now I forbear<Bold>,</Bold> <Bold>lest any man should think
                of me
                above that which he seeth me to be, or that he heareth of me</Bold></i><Bold>"</Bold> (II Co
            12<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>Now this I say<Bold>,</Bold> that every one of you saith<Bold>:</Bold> I am
            of
            Paul<Bold>,</Bold> and I of Apollos<Bold>,</Bold> and I of Cephas<Bold>,</Bold> and I of
            Christ<Bold>.</Bold></i> 13 <i>Is Christ divided<Bold>?</Bold> <Bold>Was Paul crucified for you?
            or were
            ye baptized in the name of Paul</Bold></i><Bold>?"</Bold> (I Co 1<Bold>:</Bold>12-13)</Paragraph>
        <Paragraph> As we saw in these two passages<Bold>,</Bold> it wasn't in Paul's will to be so
            enthroned<Bold>,</Bold> like
            the Saintpaulian brothers have done<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>To demonstrate how some brothers misunderstand Saint Paul, thinking that he authorized eating from
            what was
            offered to idols read article # 17 in this same website. Would Saint Paul authorize such a thing he would be
            contradicting Our Lord Jesus Christ, the Holy Spirit and the rest of the apostles. Also read article # 9 so
            you
            realize how millions of Christian misunderstand Saint Paul when he give the impression to say the Holy of
            Holies was
            entered only once a year.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    