---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Eat what is put in front of you">
    <section>
        <Paragraph><Bold>Eat what is put in front of you. An old woman's brain? Soup of defeated warrior's blood?</Bold></Paragraph>
        <Paragraph> Talking against God's commandments<Bold>,</Bold> not keeping them<Bold>,</Bold> or teaching others
            not to
            keep them would be a sin<Bold>.</Bold> Therefore<Bold>,</Bold> we can be sure that Christ never
            would have
            taught his disciples not to keep the smallest of the commandments<Bold>.</Bold></Paragraph>
        <Paragraph> Someone could allege that the law would have been obsolete<Bold>.</Bold> Even supposing it would be
            so<Bold>,</Bold> <Bold>Christ would have never talked against one of God's commandments, until with
                his death
                and resurrection "it would have been obsolete", according to the ones that think as such.</Bold>
            Therefore<Bold>,</Bold> he who wants to suppose that God's law is obsolete<Bold>,</Bold> needs to
            admit that
            it would never happen before crucifixion<Bold>.</Bold></Paragraph>
        <Paragraph> Analyzing this we can be sure that in the following passage Christ is not ordering his disciples not to keep
            the law<Bold>,</Bold>
            for if he had done it he would have sinned and could not have saved us<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And in the same house remain<Bold>,</Bold> eating and drinking <Bold>such things
            as they
            give,</Bold> <Bold>for the laborer is worthy of his hire.</Bold> Go not from house to
            house<Bold>.</Bold></i>
            8 <i>And into whatsoever city ye enter<Bold>,</Bold> and they receive you<Bold>,</Bold> <Bold>eat
                such
                things as are set before you</Bold></i><Bold>"</Bold> (Lk 10<Bold>:</Bold>7-8)</Paragraph>
        <Paragraph> It is reasonable then to think that Jesus is not ordering his disciples to eat whatever is put in front of
            them<Bold>,</Bold> in the sense that they should eat the meats that God had forbidden<Bold>,</Bold>
            <Bold>but
                rather to eat what was put in front of them in the sense of humility, of not expecting banquets of
                specialties.</Bold></Paragraph>
        <Paragraph> Let's remember that <Bold>at the beginning of Christianity, the disciples only preached to other Jews.
            Therefore,
            the food they would see in front of them would be Jewish food,</Bold> according to God's
            law<Bold>.</Bold>
            That's why he says<Bold>,</Bold> <Bold>"</Bold>eat what is put in front of you<Bold>".</Bold>
            The Lord
            was not ordering his disciples to eat the brains of an old lady who died in some cannibal
            tribe<Bold>,</Bold>
            just because someone put it in front of them<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>A similar case,</Bold> and using almost the same words<Bold>,</Bold> is presented by Paul in I
            Corinthians 10<Bold>:</Bold>27<Bold>.</Bold> In this case one must realize that
            Paul<Bold>,</Bold> just
            like Christ<Bold>,</Bold> is not telling the disciples to eat human flesh if a cannibal put it in front
            of
            them<Bold>.</Bold> What Paul is saying is that from what God allows us to eat they could
            eat<Bold>.</Bold> A
            Christian missionary was not forced to drink a soup made with the eyes of the enemies that killed the tribe
            where he
            was preaching<Bold>.</Bold> Or drink a soup made with the blood of the decapitated
            enemies<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>If any of them that believe not bid you to a feast<Bold>,</Bold> and ye be disposed
            to
            go<Bold>;</Bold> <Bold>whatsoever is set before you, eat,</Bold> asking no question for conscience
            sake</i><Bold>".</Bold> (I Co 10<Bold>:</Bold>27)</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    