---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="To obtain the right Christian doctrine very many Christians act like Naaman.">
    <Tag>#111</Tag>
    <Content>
        <Paragraph><Bold>To obtain the right Christian doctrine very many Christians act like Naaman.</Bold></Paragraph>
        <Paragraph> There are those who believe that when they ask God for something<Bold>,</Bold> they are going to receive
            it in
            the most dramatic and vain form there is<Bold>.</Bold> It is not that way<Bold>,</Bold> the divine
            methodology is not the same as the human<Bold>.</Bold> Let us see the case of the Syrian
            Naaman<Bold>,</Bold> a general who was a leper<Bold>,</Bold> who believed that God would respond to
            his
            way<Bold>,</Bold> and almost did not reach that which he implored<Bold>,</Bold> his
            health<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Many times, believers behave with God in the same way this Syrian general behaved with
            Elisha.</Bold> The
            prophet gave the leper all that was necessary for him to be cured<Bold>,</Bold> but he almost wasn't
            cured<Bold>,</Bold> because Elisha did not follow the method the general thought he should
            follow<Bold>.</Bold></Paragraph>
        <Paragraph> Many believers ask things of God and expect Him to perform in a dramatic and astounding way that we think it
            should
            be given to us<Bold>.</Bold> Later<Bold>,</Bold> when we receive the same goal that we
            desired<Bold>,</Bold> but in a way that is natural and humble<Bold>,</Bold> we think that God has
            not heard
            us<Bold>.</Bold> Yes<Bold>,</Bold> He heard us<Bold>,</Bold> the problem is that He did not want
            to
            stimulate our vanity by performing marvelous theatrics when he could perfectly well help us by means that
            will look
            natural to others<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In the same way, very many believers ask God for the truth in religion,</Bold> but when God sends a
            brother
            their way<Bold>,</Bold> who discuss their erroneous doctrines with them<Bold>,</Bold> they feel
            frustrated
            like Naaman<Bold>,</Bold> and think<Bold>:</Bold> I thought God would leave His throne in Heaven and
            appear
            before me to tell me what the true doctrine is<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>So Naaman came with his horses and with his chariot<Bold>,</Bold> and stood at the
            door of
            the house of Elisha<Bold>.</Bold></i> 10 <i>And Elisha sent a messenger unto him<Bold>,</Bold>
            saying<Bold>:</Bold> <Bold>Go and wash in Jordan seven times, and thy flesh shall come again to thee,
                and thou
                shalt be clean.</Bold></i> 11 <i>But Naaman was wroth<Bold>,</Bold> and went
            away<Bold>,</Bold> and
            said<Bold>:</Bold> <Bold>Behold, I thought, He will surely come out to me, and stand, and call on the
                name of
                the LORD his God, and strike his hand over the place, and recover the leper.</Bold></i> 12 <i>Are not
            Abana
            and Pharpar<Bold>,</Bold> rivers of Damascus<Bold>,</Bold> better than all the waters of
            Israel<Bold>?</Bold> may I not wash in them<Bold>,</Bold> and be clean<Bold>?</Bold> So he
            turned and
            went away in a rage</i><Bold>."</Bold> (II K 5<Bold>:</Bold>9-12)</Paragraph>
        <Paragraph> Finally<Bold>,</Bold> his servants reasoned with him that if the prophet would have asked him to do
            something
            difficult<Bold>,</Bold> theatrical or dramatic<Bold>,</Bold> he surely would have done
            so<Bold>.</Bold>
            Therefore<Bold>,</Bold> if something as simple as washing himself seven times in the Jordan River has
            been asked
            of him<Bold>,</Bold> why not do it<Bold>?</Bold> The general deposed his attitude<Bold>,</Bold>
            did the
            apparently stupid thing the prophet asked him to do and he was healed of his leprosy<Bold>.</Bold> If he
            had not
            accepted the directions of the prophet of God<Bold>,</Bold> he would have lost out on the blessing that
            was
            reserved for him<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Something similar can happen to us,</Bold> if when we pray<Bold>,</Bold> we think that the
            answer from
            God should only come to us in a way that is dramatic<Bold>,</Bold> astonishing or
            theatrical<Bold>.</Bold>
            It is important to repeat here the previous paragraph<Bold>:</Bold> <Bold>"In the same way, many
                believers ask
                God for the truth in religion, but when God sends a brother their way, who discuss their erroneous
                doctrines
                with them, they feel frustrated like Naaman and think: I thought God would leave His throne in Heaven
                and appear
                before me to tell me what the true doctrine is."</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    