---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The error and heresy of being Neo-Testamentarian">
    <Content>
        <Paragraph><Bold>The error and heresy of being Neo-Testamentarian</Bold></Paragraph>
        <Paragraph> There are those who brag about being <Bold>"</Bold>Neo-Testamentarian<Bold>"</Bold> while they show
            contempt
            towards the Old Testament and those <Bold>"</Bold>wretches<Bold>"</Bold> that follow it together
            with the
            New Testament<Bold>.</Bold> <Bold>They talk and act as if the Old Testament had been inspired by Satan
                and not
                by God,</Bold> or as if God had changed his mind after its inspiration<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Evidently that was not Paul's mental structure.</Bold> When he wrote the second letter to
            Timothy<Bold>,</Bold> the New Testament did not exist yet<Bold>,</Bold> and much less when Timothy
            was a
            child<Bold>.</Bold> Obviously<Bold>,</Bold> what Timothy knew from infancy was the Old Testament and
            not the
            New Testament<Bold>.</Bold> That is what Paul calls here <Bold>"</Bold>the Sacred
            Scriptures<Bold>"</Bold> and not the New Testament yet<Bold>.</Bold> Therefore<Bold>,</Bold>
            <Bold>all
                that Paul says in these verses he says it in reference to that Old Testament that so many Christians
                reject and
                even abominate.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>14 <i>But continue thou in the things which thou hast learned and hast been assured
            of<Bold>,</Bold> knowing of whom thou hast learned them<Bold>;</Bold></i> 15 <i>and that <Bold>from
            a
            child</Bold> <Bold>thou hast known the Holy Scriptures,</Bold> which are able <Bold>to make thee
            wise</Bold> <Bold>unto salvation through faith which is in Christ Jesus.</Bold></i> 16
            <Bold>All</Bold>
            <Bold>Scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for
                correction, for
                instruction in righteousness;</Bold> 17 <i>that the man of God may be perfect<Bold>,</Bold>
                <Bold>throughly</Bold>
                <Bold>furnished</Bold> unto all good works</i><Bold>".</Bold> (II Tim 3<Bold>:</Bold>14-17)
        </Paragraph>
        <Paragraph> What does Paul say about the Old Testament<Bold>?</Bold> He<Bold>,</Bold> who knew what he was
            talking about<Bold>,</Bold>
            better than all of the talkative <Bold>"</Bold>doctors<Bold>"</Bold> that we now
            have<Bold>,</Bold> says
            that <Bold>the Old Testament can make us wise for our salvation by the faith that is in Christ Jesus.
                Yes,</Bold> for anyone who does not close his eyes<Bold>,</Bold> the Old Testament will guide him
            to Jesus<Bold>.</Bold>
            That is why it was written<Bold>!</Bold> Don't you remember that it was to that respect that the Berean
            Jews
            used it according to Acts 17<Bold>:</Bold>11<Bold>?</Bold></Paragraph>
        <Paragraph> Later<Bold>,</Bold> referring still to the Old Testament<Bold>,</Bold> he says that <Bold>all of
            it was
            inspired by God.</Bold> This does not mean that later when the New Testament came into
            existence<Bold>,</Bold>
            it could not apply to it as well<Bold>;</Bold> but <Bold>when Paul said it, he was referring to the
                Old
                Testament.</Bold></Paragraph>
        <Paragraph> Later on he says that the Old Testament<Bold>,</Bold> which is abominated by the
            Neo-Testamentarians<Bold>,</Bold> <Bold>is useful for teaching. Teaching who? The Christians.</Bold>
            And
            teaching them<Bold>,</Bold> what<Bold>?</Bold> Everything<Bold>,</Bold> because all Scripture
            (he says
            of the Old Testament) is inspired by God<Bold>,</Bold> including the Decalogue and all of God's
            laws<Bold>.</Bold></Paragraph>
        <Paragraph> And not just that<Bold>;</Bold> he also says that <Bold>the Old Testament is useful for reproof, and
            for
            correction for Christians.</Bold> If Christians were reproved and corrected through the use of the Old
            Testament<Bold>,</Bold> <Bold>it is because Christians followed the Old Testament. In other words,
                because
                Christians had it as a standard of behavior; they did not consider it obsolete not abominate
                it.</Bold> If
            Paul approved and encouraged such thing<Bold>,</Bold> even at the end of his life<Bold>,</Bold> why
            can't
            Christians do so today<Bold>?</Bold> Why reject the Old Testament and hate it and even contradict
            it<Bold>?</Bold> Isn't that one of the reasons for the weakness of Christianity in all
            times<Bold>?</Bold>
            When will we have an integral Christianity that follows the entire Bible and not just part of
            it<Bold>,</Bold>
            to the convenience of each sect<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>I don't see a conflict, but rather a complement between the Old and the New Testaments.</Bold></Paragraph>
        <Paragraph> Lastly<Bold>,</Bold> Paul says that <Bold>the Old Testament is profitable for instructing in
            righteousness, or
            that its laws must be our model for justice,</Bold> our guide for righteous behavior<Bold>.</Bold>
            This<Bold>,</Bold> I have always said<Bold>,</Bold> there are many things that we would never have
            known
            they are sinful if we did not read the Old Testament<Bold>,</Bold> whose validity the apostle is not
            rejecting<Bold>,</Bold> rather he highlights<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>So what else is the Old Testament that so many Christians despise or abominate good for?</Bold>
            Well<Bold>,</Bold> it is so that every man of God (Timothy and Christians in general) be
            perfect<Bold>,</Bold> <Bold>fully instructed</Bold> for all good deeds<Bold>.</Bold> Nothing
            much what
            is ignored by those who brag about being Neo-Testamentarians<Bold>!</Bold></Paragraph>
        <Paragraph><Bold>And who says all this in favor of the Old Testament? The same man who, erroneously, those who
            consider the
            Old Testament useless, hold as their champion.</Bold> The same man who they say he insisted that the law
            had been
            abolished and that the Old Testament was old fashioned<Bold>.</Bold> The same man that<Bold>,</Bold>
            when
            speaking of a new covenant replacing an old one<Bold>,</Bold> they believe is talking about the Old
            Testament
            and God's law<Bold>,</Bold> and not the ritual laws and the rites and Jewish
            ceremonies<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>To read the Bible many times without fear of finding the truth is a very good way to find
            it.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    