---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="There is great confusion among Christians when it comes to God's law.">
    <Tag>#116</Tag>
    <Content>
        <Paragraph><Bold>"Whoso loveth instruction loveth knowledge; but he that hateth reproof is brutish."</Bold></Paragraph>
        <Paragraph><Bold>There is great confusion among Christians when it comes to God's law.</Bold> The great majority of
            them
            don't realize that the Bible talks about two sets of laws<Bold>:</Bold> <Bold>a) the ritual, or
                ceremonial
                laws,</Bold> that were nailed to the cross as Saint Paul said<Bold>;</Bold> and<Bold>,</Bold>
            <Bold>b)
                the behavioral laws</Bold> which<Bold>,</Bold> as the Lord Jesus Christ said in Mathew
            5<Bold>:</Bold>17-19<Bold>,</Bold>
            would not pass away until Heaven and Earth would pass away<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>Think not that I am come to destroy the law, or the prophets; I am not come to
            destroy,</Bold> <i>but to fulfil<Bold>.</Bold></i> <i>18 For verily I say unto you<Bold>:</Bold>
            <Bold>Till
                heaven and Earth pass,</Bold> one jot or one tittle shall in no wise pass from the
            law<Bold>,</Bold> <Bold>till
                all be fulfilled.</Bold></i> <i>19 <Bold>Whosoever therefore shall break one of these least
            commandments, and
            shall teach men so, he shall be called the least in the Kingdom of Heaven,</Bold> but whosoever shall do
            and teach
            them<Bold>,</Bold> the same shall be called great in the Kingdom of Heaven</i><Bold>".</Bold> (Mt
            5<Bold>:</Bold>17-19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>The danger of believing that the behavioral norms are obsolete</Bold> rides in that they leave a
            Christian
            without a moral anchor<Bold>,</Bold> without a guide for his life<Bold>.</Bold> If the behavioral
            laws were
            obsolete<Bold>,</Bold> a Christian would have to follow the customs in his society<Bold>,</Bold> or
            the
            traditions of his sect<Bold>.</Bold> How would he know he can't marry his sister or his
            niece<Bold>?</Bold>
            How would he know that he should tithe<Bold>,</Bold> or that he should not worship graven images or
            invoke the
            dead<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Saint Paul</Bold> <Bold>said: "Prove all things, hold fast that which is good".</Bold> Trying
            to ignore
            God's truth does not free us from sin<Bold>.</Bold> As Christ said<Bold>,</Bold> the servant who
            knew not
            his master's will shall be beaten with few stripes<Bold>,</Bold> but shall be punished
            nevertheless<Bold>,</Bold> for not trying to find out his master's will<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What is God's law?</Bold> God's law are those norms that God considered convenient to teach us
            humans so we
            can walk in as much righteousness as possible during our pilgrimage through this world<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Let's not confuse God's laws with</Bold> the norms imposed by religious<Bold>,</Bold> social or
            political leaders<Bold>.</Bold> Let's not confuse either the divine laws with the rules of the culture
            or
            civilization in which we live<Bold>,</Bold> nor with the traditions of the race<Bold>,</Bold> nation
            or sect
            that we belong to<Bold>.</Bold></Paragraph>
        <Paragraph> Unfortunately most people<Bold>,</Bold> without excluding Christians<Bold>,</Bold>
            admit<Bold>,</Bold>
            as behavioral norms<Bold>,</Bold> those imposed on the conglomerates by the society or the culture we
            live
            in<Bold>.</Bold> In other words<Bold>,</Bold> <Bold>"</Bold>if everyone does
            it<Bold>,</Bold> why
            can't I<Bold>?"</Bold></Paragraph>
        <Paragraph><Bold>What God's laws are for?</Bold> God's laws are good to let us know what things we should
            do<Bold>,</Bold> which we should not<Bold>,</Bold> and to guide us in the daily
            decisions<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>God's law was never good to save anyone. The law never saved anyone,</Bold> due to the fact that no
            one
            could obey it during his entire life<Bold>,</Bold> from the cradle to the tomb<Bold>.</Bold> Besides<Bold>,</Bold>
            the law is scripture<Bold>,</Bold> it cannot save any one<Bold>,</Bold> it has no intellect nor
            feelings<Bold>.</Bold> Jesus Christ can save any one who desires it<Bold>.</Bold></Paragraph>
        <Paragraph> The law never served for salvation<Bold>,</Bold> only as a guide to know what to do and what not to
            do<Bold>.</Bold> There are those who believe that <Bold>"before"</Bold> people saved them by obeying
            the law<Bold>.</Bold>
            False<Bold>,</Bold> that has never been possible<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>People before, just like people now, were saved by faith in the lamb of God</Bold> that takes away
            the sins
            of the world<Bold>.</Bold> The difference between those before Christ and those after Christ is that we
            already
            know that the lamb is called Jesus Christ<Bold>,</Bold> while before they only knew there would be one
            sent to
            take away our sins<Bold>.</Bold> We put our faith in the Lamb that was already slain<Bold>;</Bold>
            they put
            their faith in the lamb they sacrificed<Bold>,</Bold> and that represented he who one day would take our
            sins
            upon himself<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>It is a big mistake to think that "before"</Bold> people were saved one way<Bold>,</Bold> and
            today
            they are saved another<Bold>.</Bold> There are even those who think that in the future<Bold>,</Bold>
            during
            the Great Tribulation<Bold>,</Bold> people will be saved still by a third method<Bold>.</Bold> All
            that is a
            heretic and abominable error<Bold>.</Bold> The method of salvation has always been and will always be
            the
            same<Bold>:</Bold> the Lamb of God that takes away the sins of the world<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    