---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Discussions and Christians">
    <Tag>#117</Tag>
    <Content>
        <Paragraph><Bold>Let us imitate the first Christians, who discussed their doctrinal differences in a friendly
            manner</Bold>
        </Paragraph>
        <Paragraph><Bold>The friendly discussion of doctrinal differences between brothers is correct</Bold>. Throughout the
            New
            Testament we see the apostles, especially Paul, vehemently but amicably arguing their doctrinal differences.
            So not
            to burden themselves with the grave responsibility of preaching an incorrect doctrine, even though he
            believed it
            so.</Paragraph>
        <Paragraph><Bold>Paul commands Christians to argue with those in error</Bold>. Today Christians think that in order
            to be a
            "good Christian" you can't discuss religion. What we shouldn't do is fight, insult or offend. The true
            Christian
            doesn't do such things when he discusses. Paul always advised his disciples and brothers to discuss
            religion. He did
            it himself all the time in the synagogues, at the Aeropagus, and any place anyone would contradict the true
            doctrine. While talking about the way pastors should be, Paul said this:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "9 <i>Holding fast the faithful word as he hath been taught, that he may be able by sound doctrine both to
            exhort
            and <Bold>to convince the gainsayers.</Bold></i> 10 <i>For there are many <Bold>unruly and vain
            talkers and
            deceivers</Bold>, specially they of the circumcision.</i> 11 <Bold>Whose mouths must be stopped</Bold><i>,
            who
            subvert whole houses, teaching things which they ought not, for filthy lucre's sake</i>". (Tit 1:9-11)</Paragraph>
        <Paragraph> There are many today that contradict this teaching of Paul, whom they say they are imitating, and insist
            that the
            only thing they need to do is "talk", without using arguments or try convincing anyone. Paul argued with
            Jews and
            Gentiles, he used arguments, tried to convince others, etc., <Bold>because he knew he had the
                truth</Bold>, that
            he had the correct doctrine. Because he had it, he lacked neither arguments <Bold>nor the help of the Holy
                Spirit.</Bold></Paragraph>
        <Paragraph><Bold>The first century Christians argued passionately, but with love and justice, their doctrinal
            differences.</Bold> Therefore, it is not wrong to discuss, as some think. In my opinion it is all right to
            discuss
            as long as the one who discusses has with him the spirit of convincing the other of something he sincerely
            believes.
            There is nothing wrong in discussing, as long as he leaves open the door of understanding in his own spirit,
            so to
            allow himself to be convinced, should the other person have good arguments.</Paragraph>
        <Paragraph>"<i>When therefore Paul and Barnabas <Bold>had no small dissension and disputation</Bold> with them, they
            determined that Paul and Barnabas, and certain other of them, should go up to Jerusalem unto the apostles
            and elders
            about this question</i>". (Act 15:2)</Paragraph>
        <Paragraph> What happens often is that people don't discuss, they fight with words, they try to offend, to enrage, to
            humiliate
            and mock their opponent. But a true Christian does not discuss like that. Those who argue in such manner are
            not
            arguing, they are fighting, trying to win a just cause with unworthy weapons. To wield your own arguments,
            even
            passionately (though never offensively), I don't consider wrong.</Paragraph>
        <Paragraph><Bold>Why many don't want to discuss.</Bold> There are several reasons why many brothers don't discuss
            doctrinal
            differences. <Bold>The main one is lack of faith.</Bold> Some believe that God, Christ, or the Holy
            Spirit was
            who inspired in them the doctrine they now believe; others just pretend. However, they dare not discuss with
            those
            who think differently because they feel insecure. They have no faith that if his doctrine is divinely
            inspired, God,
            Christ, or the Holy Spirit is going to enlighten them with arguments and words to defend the truth. They
            have no
            faith in what the Lord Jesus promised in Luke 21:15 when He said:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>For <Bold>I will give you a mouth and wisdom</Bold>, which <Bold>all your adversaries shall not be
            able to
            gainsay nor resist</Bold></i>". (Lk 21:15)</Paragraph>
        <Paragraph><Bold>Others simply don't really believe the doctrine they teach</Bold>, but they teach it for material
            gain.
            They know it is false, that they can't defend it, and so they find any pretext to not have to discuss their
            doctrinal differences.</Paragraph>
        <Paragraph> There are still those who believe what they preach, but are not sure. They know they can't defend their
            beliefs, and
            <Bold>their puffed up ego stops them from discussing, if they think they can be proved wrong.</Bold> In
            a few
            words, they love themselves more than they love God and His truth. They rather hide behind the pretext that
            all they
            have to do is "say and flee". That way they think they save their egos, for no one (they think) will know
            they are
            wrong.</Paragraph>
        <Paragraph> None of them is going to admit that they don't discuss because of one of these questionable reasons. They
            are going
            to put forth their best pretexts.</Paragraph>
        <Paragraph><Bold>Let's look at several passages where we see that the first Christians discussed their
            beliefs</Bold>. There
            are believers who hold erroneous and even heretical doctrines, which they absorbed at the moment of
            conversion, when
            they could not reason on the Bible by themselves. Even though they have no basis for them, they hold on to
            them no
            matter what, for fear of who knows what, if they lose it. Therefore they do not discuss them. The healthy
            habit on
            the validity of discusses among believers is best appreciated in the following passages.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "17 <i>Therefore</i> <i><Bold>disputed he</Bold> in the synagogue with the Jews, and with the devout
            persons,
            and in the market daily with them that met with him.</i> 18 <i>Then certain philosophers of the Epicureans,
            and of
            the Stoicks, <Bold>encountered him</Bold>. And some said: What will this babbler say? Other some: He
            seemeth to
            be a setter forth of strange gods, because he preached unto them Jesus, and the resurrection</i>". (Act
            17:17-18)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And <Bold>he reasoned</Bold> in the synagogue every sabbath, and <Bold>persuaded</Bold> the Jews
            and the
            Greeks</i>". (Act 18:4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And he came to Ephesus, and left them there, but he himself entered into the synagogue, and <Bold>reasoned
            with
            the Jews</Bold></i>". (Act 18:19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>For <Bold>he mightily convinced the Jews, and that publickly</Bold>, shewing by the scriptures that
            Jesus was
            Christ</i>". (Act 18:28)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And he went into the synagogue, and spake boldly for the space of three months, <Bold>disputing and
            persuading</Bold> the things concerning the kingdom of God</i>". (Act 19:8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<Bold>Prove all things</Bold><i>; hold fast that which is good</i>". (I Ths 5:21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "16 <i>All</i> <i>scripture is given by inspiration of God, and <Bold>is profitable for doctrine, for
            reproof, for
            correction,</Bold> for instruction in righteousness;</i> 17 <i>that the man of God may be perfect,
            <Bold>thoroughly
                furnished unto all good works</Bold></i>". (II Tim 3:16-17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>But sanctify the Lord God in your hearts, and <Bold>be ready always to give an answer to every man
            that
            asketh</Bold> you a reason of the hope that is in you with meekness and fear</i>" (I Pet 3:15)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In all these passages we see that <Bold>it was the custom of all the apostles to discuss religion with
            believers
            and non-believers as well</Bold>. I don't know why so many brothers now feel such disgust for the friendly
            discussion of our beliefs, except the fear of having their ego hurt if their arguments are wrong. There are,
            however, those whom their sect has forbidden them to discuss, so the errors and heresies they sustain are
            not
            brought to light.</Paragraph>
        <Paragraph>"<Bold>Discussion is like light, it bothers only those who prefer darkness</Bold>"</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    