---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="What means to be 'legalist'">
    <Tag>#118</Tag>
    <Content>
        <Paragraph><Bold>What means to be "legalist"</Bold></Paragraph>
        <Paragraph><Bold>Why is it important to define and clear up the meaning of phrases, words, and concepts?</Bold> Many
            use
            some phrases like a wild card or a joker in a deck of cards<Bold>.</Bold> In the game of Poker the wild
            card is
            used to represent any card the player wants<Bold>.</Bold></Paragraph>
        <Paragraph> In conversations<Bold>,</Bold> <Bold>"</Bold>wild card<Bold>"</Bold> words and phrases are used
            by some
            to give them the meaning that is convenient at that moment<Bold>.</Bold> Nevertheless<Bold>,</Bold>
            they
            change their meaning when used another time<Bold>,</Bold> when they find themselves cornered
            dialectically<Bold>.</Bold> They are not honest in their debate<Bold>.</Bold></Paragraph>
        <Paragraph> In some cases<Bold>,</Bold> <Bold>even those who discuss honestly</Bold> don't have in their minds a
            clear
            meaning of many of the words and phrases they use<Bold>.</Bold> For them<Bold>,</Bold> these phrases
            represent cloudy concepts that those who use them refuse to define clearly<Bold>,</Bold> or to answer
            questions
            about their meaning<Bold>.</Bold> Some do it because they expect you to accept this cloudy concept they
            have in
            their minds<Bold>,</Bold> in the same cloudy way they have it<Bold>.</Bold> Others do it because
            they don't
            want to clear up something that can be negative to the thesis they keep<Bold>.</Bold> Some of these
            phrases
            are<Bold>:</Bold> <Bold>"</Bold>being in the Spirit<Bold>",</Bold> <Bold>"</Bold>being
            legalist<Bold>",</Bold> <Bold>"</Bold>being under the Law<Bold>",</Bold> <Bold>"</Bold>being
            under
            Grace<Bold>",</Bold> <Bold>"</Bold>love is the fulfillment of the Law<Bold>",</Bold> and many
            others<Bold>.</Bold> That is why it is good to define the concepts and phrases used in this type of
            discussion<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In every conversation,</Bold> a person will say words and phrases whose meaning he have never
            defined to
            himself<Bold>.</Bold> He uses these words and phrases as a way to say
            <Bold>"</Bold>something<Bold>"</Bold> he wants the listener to accept in the same cloudy way that he
            has
            them in his mind<Bold>,</Bold> without definition<Bold>.</Bold> This inadequate manner of expression
            gives
            way to an endless number of errors and twisting that we must avoid in any subject we
            discuss<Bold>,</Bold> but
            more so when we are talking about the holy truths of God<Bold>.</Bold></Paragraph>
        <Paragraph> That is why it will be good<Bold>,</Bold> before talking about the Law<Bold>,</Bold> to define each
            one of
            the words and phrases commonly used<Bold>,</Bold> even though they are never defined or
            contrasted<Bold>.</Bold> Not only do we need to know what a word means<Bold>,</Bold> but sometimes
            we also
            need to specify what it does not mean<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What being "legalist" means.</Bold> In many occasions I have heard someone label as
            <Bold>"</Bold>legalist<Bold>"</Bold>
            those who believe that God's laws <Bold>for human behavior</Bold> are <Bold>not</Bold>
            obsolete<Bold>.</Bold> What does the word <Bold>"</Bold>legalist<Bold>"</Bold>
            mean<Bold>?</Bold> If
            we look up its meaning in the dictionary we see that a <Bold>"</Bold>legalist<Bold>"</Bold> is one
            who
            considers above everything else the literal application of the law<Bold>.</Bold> I agree that such is
            the
            meaning of the word in our language<Bold>.</Bold></Paragraph>
        <Paragraph> Well<Bold>,</Bold> so what is wrong with obeying God's laws just as He expressed them<Bold>?</Bold>
            <Bold>If
                we were talking about human laws it is possible that we would not want to interpret or obey them
                literally at all
                times,</Bold> because the person that wrote it may not have expressed them correctly<Bold>.</Bold>
            But when we
            are talking about God's law<Bold>,</Bold> that scenario is completely impossible<Bold>.</Bold>
            Therefore<Bold>,</Bold> who dares to judge God's laws<Bold>,</Bold> or modifies them so not to be
            called a
            <Bold>"</Bold>legalist<Bold>"?</Bold></Paragraph>
        <Paragraph> The problem does not lie in obeying God's law faithfully<Bold>,</Bold> but in obeying literally only one
            verse
            or one passage<Bold>,</Bold> or one section of the Bible<Bold>,</Bold> <Bold>as opposed</Bold>
            to others<Bold>;</Bold>
            but not in faithfully obeying God's commandments interpreted from the whole Bible<Bold>.</Bold> Not only
            does
            the Bible present the commandments<Bold>,</Bold> like <Bold>"</Bold>Thou shalt not
            kill<Bold>",</Bold>
            but it gives examples as to what the commandments mean<Bold>.</Bold> Let's see some of these
            examples<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>When we see the different biblical episodes where killing is involved,</Bold> we realize what the
            commandment <Bold>"</Bold>thou shalt not kill<Bold>"</Bold> means<Bold>.</Bold> When we read the
            rest of
            the Bible we see that God ordered Saul to kill the Amalekites<Bold>.</Bold> Therefore<Bold>,</Bold>
            the
            Decalogue's <Bold>"</Bold>thou shalt not kill<Bold>"</Bold> could not be applied correctly by taking
            just
            one verse<Bold>.</Bold> But it can be applied <Bold>correctly</Bold> taking into account the entire
            Bible<Bold>.</Bold> In it we realize that the <Bold>"</Bold>thou shalt not kill<Bold>"</Bold>
            means that
            we should not kill out of our own whim<Bold>,</Bold> for personal issues<Bold>.</Bold></Paragraph>
        <Paragraph> The same goes for the death penalty for the murderer<Bold>.</Bold> The murderer can be
            killed<Bold>.</Bold>
            <Bold>"</Bold>Thou shalt not kill<Bold>"</Bold> does not apply to not executing
            him<Bold>.</Bold> There
            are several laws in the Bible where God commands the killing of those who have committed certain
            crimes<Bold>.</Bold> Therefore<Bold>,</Bold> <Bold>"</Bold>Thou shalt not kill<Bold>"</Bold>
            has to
            be understood in light of the entire Scripture<Bold>,</Bold> and not just one verse<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>The Decalogue says not to make graven images.</Bold> However<Bold>,</Bold> if we read the rest
            of the
            Bible we see that when the Tabernacle and the Temple were being built<Bold>,</Bold> there were images of
            vegetables<Bold>,</Bold> animals and cherubim<Bold>.</Bold></Paragraph>
        <Paragraph> From there we learn that what the commandment says is that we should not make images to worship
            them<Bold>,</Bold> but we can take pictures of ourselves<Bold>.</Bold> So we <Bold>can obey the
                commandment literally just as it is presented through the entire Bible, not as we read it in just one
                verse.</Bold> If it weren't because we apply the commandment as the entire Bible shows
            it<Bold>,</Bold>
            <Bold>in an integral manner,</Bold> we could not take photos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Therefore, being a legalist is not faithfully obeying God's commandments,</Bold> but holding on to
            certain
            isolated words<Bold>,</Bold> verses or passages in order to give them the meaning that we want them to
            have<Bold>,</Bold> willfully forgetting the rest of the Bible<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What does "not being a legalist" mean?</Bold> Is not being a legalist that we
            <Bold>"</Bold>adapt<Bold>"</Bold> God's commandments to our culture<Bold>,</Bold> our
            times<Bold>,</Bold> the doctrine of our sect<Bold>,</Bold> or our personal
            convenience<Bold>?</Bold> In
            other words<Bold>,</Bold> that in order for us not to be labeled as legalists<Bold>,</Bold> would we
            have to
            interpret each one of God's commandments as we wish<Bold>?</Bold> Yes<Bold>,</Bold> because if one
            person
            interprets that he can worship Jesus' statue<Bold>,</Bold> while another one interprets it as
            idolatry<Bold>,</Bold> <Bold>the latter would be labeled by the first as "legalist".</Bold> In that
            case the
            <Bold>"</Bold>non-legalist<Bold>"</Bold> would defend himself by saying that this law was for the
            Jews<Bold>,</Bold> or that it was <Bold>"</Bold>for those times<Bold>",</Bold> or that it was
            for those
            who worshiped pagan idols<Bold>,</Bold> but not for people <Bold>"</Bold>under
            grace<Bold>".</Bold> Are
            there not now-a-days millions of professed Christians that worship graven images<Bold>?</Bold></Paragraph>
        <Paragraph> In other words<Bold>,</Bold> in order for us not to be labeled as
            <Bold>"</Bold>legalists<Bold>"</Bold>
            we would have to quietly accept whatever heresy and error we hear<Bold>,</Bold> because if we allege
            what the
            Bible says as a whole<Bold>,</Bold> we would be called <Bold>"</Bold>legalists<Bold>".</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    