---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="How to better understand the Prophetic Sermon">
    <Content>
        <Paragraph><Bold>How to better understand the prophetic sermon</Bold></Paragraph>
        <Paragraph> With some analysis of the 24th chapter of Matthew we will notice that it consists of six
            sections<Bold>:</Bold>
        </Paragraph>
        <Paragraph><Bold>First section,</Bold> verses 1-2<Bold>,</Bold> in which the destruction of the Temple is
            specifically
            and exclusively treated<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Second section,</Bold> verse 3<Bold>,</Bold> in which the disciples ask Jesus three questions
            which he
            goes on to answer in the same order<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Third section,</Bold> verses 4-6 in which Jesus answers the first question<Bold>,</Bold> the
            one
            referring to the destruction of the Temple<Bold>.</Bold> In addition he gives a brief prediction of what
            would
            occur in the era of the apostles<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Fourth section,</Bold> verses 7-14<Bold>,</Bold> in which he responds to the second and third
            questions<Bold>,</Bold>
            making a brief and concise outline of the events that will occur in the period near the end of the
            World<Bold>,</Bold> from the World wars until the Second Coming<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Fifth section,</Bold> verses 15-34<Bold>,</Bold> in which he details the period between the
            emergence
            of the Abomination of Desolation and the Second Coming<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Sixth section,</Bold> verses 35-51<Bold>,</Bold> in which he describes how certain events would
            transpire during the Second Coming<Bold>,</Bold> and gives similes and admonitions about how to carry
            oneself at
            that time<Bold>,</Bold> and how it would be like<Bold>.</Bold> Let's analyze the different
            sections<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>The first section</Bold> (Mt 24<Bold>:</Bold>1-2) <Bold>evidently refers to the
            past,</Bold> since
            it speaks of the destruction of the Temple<Bold>,</Bold> which occurred on 70
            A<Bold>.</Bold>D<Bold>.</Bold> In other passages<Bold>,</Bold> as in Luke
            19<Bold>:</Bold>43-44<Bold>,</Bold> Jesus also mentions the destruction of the
            Temple<Bold>,</Bold> at
            that time it was still in the future<Bold>.</Bold></Paragraph>
        <Paragraph> It should be noted<Bold>,</Bold> however<Bold>,</Bold> that in the episode narrated <Bold>in the
            previously mentioned portion of Luke,</Bold> Jesus is not speaking to the disciples in the Temple nor in
            the Mount
            of Olives<Bold>,</Bold> but rather it is a separate occasion from that of the Prophetic
            Sermon<Bold>.</Bold>
            It is during the entrance to Jerusalem during what is commonly called Palm Sunday<Bold>.</Bold>
            Regardless of
            this<Bold>,</Bold> the prophecy regarding the Temple is the same one<Bold>,</Bold> but in this
            one<Bold>,</Bold> in addition<Bold>,</Bold> he gives <Bold>the reason that the destruction
                occurred, that
                is to say: that they did not know the time of their visitation.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>43 <i>For the days shall come upon thee<Bold>,</Bold> that thine enemies shall cast a
            trench
            about thee<Bold>,</Bold> and compass thee round<Bold>,</Bold> and keep thee in on every
            side<Bold>,</Bold></i> 44 <i>And shall lay thee even with the ground<Bold>,</Bold> and thy children
            within
            thee<Bold>;</Bold> and <Bold>they shall not leave in thee one stone upon another; because thou knewest
                not the
                time of thy visitation</Bold></i><Bold>."</Bold> (Lk 19<Bold>:</Bold>43-44)</Paragraph>
        <Paragraph> As we see<Bold>,</Bold> Jesus links in this portion of Luke<Bold>,</Bold> the destruction of
            Jerusalem and
            the Temple with the perverse behavior of that generation<Bold>.</Bold> <Bold>Hence, it is logical to
                think
                that the destruction announced at that moment would occur during that generation, in that apostolic
                era.</Bold> In other words<Bold>,</Bold> it is an event of the past<Bold>,</Bold> not of the
            present
            or of the future<Bold>.</Bold></Paragraph>
        <Paragraph> For a third person which was not privy to a conversation<Bold>,</Bold> to fully understand the answer
            given by
            someone to another person asking the question<Bold>,</Bold> it is necessary that they first listen to
            what the
            question was to begin with<Bold>.</Bold> And if it is in any way possible<Bold>,</Bold> to figure
            out the
            physical and psychological environment<Bold>,</Bold> without arriving at ridiculous exaggerations that
            always
            lead to error<Bold>.</Bold> Let us proceed this way with this 24th chapter and this
            conversation<Bold>.</Bold></Paragraph>
        <Paragraph> After Jesus had finished rebuking the Scribes and Pharisees<Bold>,</Bold> to their own
            face<Bold>,</Bold>
            their hypocrisies<Bold>,</Bold> wickedness<Bold>,</Bold> etc<Bold>.,</Bold> (chapter
            23)<Bold>,</Bold> he was withdrawing from the Temple<Bold>,</Bold> at the same time that <Bold>his
                disciples, apparently commenting about the majesty of its architecture, were pointing out the Temple
                buildings
                to him</Bold> (Matthew 24<Bold>:</Bold>1)<Bold>.</Bold> I am saying that the disciples were
            speaking
            full of admiration for that architecture<Bold>,</Bold> because that is seen more clearly in Mark
            13<Bold>:</Bold>1 where one of his disciples mentions the same saying<Bold>:</Bold>
            <Bold>"</Bold><i>Teacher<Bold>,</Bold>
                see <Bold>what stones, and what buildings</Bold></i><Bold>."</Bold></Paragraph>
        <Paragraph> Responding to these words from the disciples in Matthew<Bold>,</Bold> Jesus<Bold>,</Bold> <Bold>referring
            obviously to the buildings that were being praised,</Bold> said that a stone would not remain upon a stone<Bold>,</Bold>
            thus predicting in a general and brief way<Bold>,</Bold> the total destruction of that Temple (verse
            2)<Bold>.</Bold> It was this Temple which the Jews believed constituted an insurance policy against
            divine
            retribution<Bold>,</Bold> given that God would not permit (or so they believed) that His Temple would be
            destroyed<Bold>,</Bold> as we can see in Jeremiah 7<Bold>:</Bold>3-4<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>And Jesus went out<Bold>,</Bold> and departed from the Temple<Bold>,</Bold>
            and his
            disciples came to him for <Bold>to shew him the buildings of the Temple.</Bold></i> 2 <i>And Jesus said
            unto
            them<Bold>:</Bold> See ye not all these things<Bold>?</Bold> Verily I say unto you<Bold>:</Bold>
            There
            shall not be left here one stone upon another<Bold>,</Bold> that shall not be thrown
            down</i><Bold>."</Bold>
            (First Section<Bold>,</Bold> Mt 24<Bold>:</Bold>1-2)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>3 <i>Thus</i> <i>saith the LORD of hosts<Bold>,</Bold> the God of
            Israel<Bold>:</Bold>
            Amend your ways and your doings<Bold>,</Bold> and I will cause you to dwell in this
            place<Bold>.</Bold></i>
            4 <i>Trust ye not in lying words<Bold>,</Bold> saying<Bold>:</Bold> <Bold>The Temple of the LORD,
                the
                Temple of the LORD, the Temple of the LORD, are these</Bold></i><Bold>."</Bold> (Jer
            7<Bold>:</Bold>3-4)
        </Paragraph>
        <Paragraph><Bold>After letting them know of the future destruction of the Temple,</Bold> Jesus continued to
            walk<Bold>,</Bold> and when he got to the Mount of Olives he sat down<Bold>; then four of his
                disciples,
                taking him aside, asked him three questions:</Bold> <Bold>a)</Bold> When would these things happen<Bold>?</Bold>
            By saying <Bold>"</Bold>these things<Bold>"</Bold> they were referring without a doubt to what Jesus
            had
            just spoken about<Bold>,</Bold> namely the destruction of the Temple<Bold>.</Bold> Afterwards they
            make two
            questions about events that Jesus had not mentioned<Bold>,</Bold> but which were of interest to
            them<Bold>,</Bold> and are the following<Bold>:</Bold> <Bold>b)</Bold> What sign will there be
            of your
            Second Coming<Bold>?;</Bold> and <Bold>c)</Bold> What sign would there be of the end of the
            World<Bold>?</Bold> The answers to these three questions<Bold>,</Bold> and in the same
            order<Bold>,</Bold> is what we would expect from Jesus<Bold>.</Bold></Paragraph>
        <Paragraph> Now then<Bold>,</Bold> notice that the prophetic sermon was not given in public<Bold>,</Bold> but
            rather was
            told to Peter<Bold>,</Bold> James<Bold>,</Bold> John and Andrew as we see in Mark
            13<Bold>:</Bold>3<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And as he sat upon the mount of Olives over against the Temple<Bold>,</Bold> Peter
            and James
            and John and Andrew asked him <Bold>privately</Bold></i><Bold>.".</Bold> (Mark 13<Bold>:</Bold>3)
        </Paragraph>
        <Paragraph><Bold>In summary:</Bold> the first section encompasses only what Jesus said about the destruction of the
            Temple<Bold>,</Bold> and what had triggered the three questions we spoke about<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The second section (</Bold>Matthew 24<Bold>:</Bold>3) limits itself to mentioning the three
            questions
            that the disciples made to Jesus<Bold>,</Bold> it does not require any explanation<Bold>,</Bold>
            except to
            keep them in mind in order to understand the answers<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And as he sat upon the mount of Olives<Bold>,</Bold> <Bold>the disciples</Bold>
            came
            unto him <Bold>privately</Bold><Bold>,</Bold> saying<Bold>:</Bold> Tell us<Bold>,</Bold>
            <Bold>when
                shall these things be? And what shall be the sign of thy coming, and of the end of the
                world.?</Bold></i><Bold>"</Bold> (Second Section<Bold>,</Bold> Mt 24<Bold>:</Bold>3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Let us analyze the third and fourth sections together in order to facilitate the study<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>The third section (</Bold>Matthew 24<Bold>:</Bold>4-6) <Bold>and</Bold></Paragraph>
        <Paragraph><Bold>The fourth section (</Bold>Matthew 24<Bold>:</Bold>7-14) </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> The third section refers to the apostolic age<Bold>;</Bold> and the one following it<Bold>,</Bold>
            the
            fourth<Bold>,</Bold> refers to the current age and the future<Bold>.</Bold> We will now demonstrate
            that
            these two periods<Bold>,</Bold> those corresponding to the third and fourth sections<Bold>,</Bold>
            are
            different<Bold>;</Bold> and we will realize that <Bold>there is a jump of several centuries between
                verse 6
                and 7.</Bold> I base myself on five arguments<Bold>,</Bold> to conclude that it is referring to
            two
            separate periods<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>First argument about the 3rd and 4th sections</Bold><Bold>.</Bold> Having spoken in verse six
            about
            wars<Bold>,</Bold> it is not logical that in verse seven he speaks again of the same wars he had already
            mentioned<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Second argument about the 3rd and 4th sections</Bold><Bold>.</Bold> This third section that we
            are
            analyzing ends with verse six<Bold>.</Bold> In that verse Jesus speaks of wars and rumors of
            wars<Bold>,</Bold> telling the disciples not to be troubled by that<Bold>,</Bold> given that it
            would not
            yet be the end<Bold>. If it still is not the end it is because this period of wars of which verse six
                speaks, will
                not last until the Second Coming.</Bold> However<Bold>,</Bold> when we read the next
            one<Bold>,</Bold>
            verse seven<Bold>,</Bold> which is the beginning of the fourth section<Bold>,</Bold> we can see that
            the
            events narrated there follow each other continuously until the end<Bold>. In other words, that the period
                that
                begins with the wars narrated in verse seven (fourth section) do reach the end;</Bold> but the event
            begun in
            verse four and ending in verse six (third section) <Bold>do not</Bold> go on to the
            end<Bold>.</Bold> It is
            clear that the two periods are different<Bold>.</Bold> Let us see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>And Jesus answered and said unto them<Bold>:</Bold> Take heed that no man deceive
            you<Bold>.</Bold></i> 5 <i>For many shall come in my name<Bold>,</Bold> saying<Bold>:</Bold> I
            am Christ<Bold>;</Bold>
            and shall deceive many<Bold>.</Bold></i> 6 <Bold>And ye shall hear of wars and rumours of
            wars</Bold><Bold>;</Bold> <i>see that ye be not troubled<Bold>,</Bold> for all these things must
            come to
            pass<Bold>,</Bold> <Bold>but the end is not yet</Bold></i><Bold>.</Bold><Bold>"</Bold>
            (<Bold>Third
                Section, Mt</Bold> 24<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>For</i> <i>nation <Bold>shall rise against nation, and kingdom against
            kingdom,</Bold> and
            there shall be famines<Bold>,</Bold> and pestilences<Bold>,</Bold> <Bold>and earthquakes, in
                divers
                places</Bold><Bold>.</Bold></i> 8 <i>All these are <Bold>the beginning of
            sorrows</Bold><Bold>.</Bold></i> 9 <i>Then shall they deliver you up to be afflicted<Bold>,</Bold>
            and
            shall kill you<Bold>;</Bold> and ye shall be hated <Bold>of all nations</Bold> for my name's
            sake<Bold>.</Bold></i> 10 <i>And then shall many be offended<Bold>,</Bold> and shall betray one
            another<Bold>,</Bold> and shall hate one another<Bold>.</Bold></i> 11 <i>And many false prophets
            shall
            rise<Bold>,</Bold> and shall deceive many<Bold>.</Bold></i> 12 <i>And because iniquity shall
            abound<Bold>,</Bold> the love of many shall wax cold<Bold>.</Bold></i> 13 <Bold>But he that shall
            endure
            unto the end,</Bold> <i>the same shall be saved<Bold>.</Bold></i> 14 <i>And <Bold>this gospel of the
            kingdom
            shall be preached in all the world</Bold> for a witness unto all nations<Bold>;</Bold> and <Bold>then
            shall
            the end come</Bold></i><Bold>."</Bold> (<Bold>Fourth Section, Mt</Bold> 24<Bold>:</Bold>7-14)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Third argument about the 3rd and 4th sections</Bold><Bold>.</Bold> In verse 6 <Bold>a type of
            local
            war is being narrated</Bold><Bold>, more like seditions and uprisings;</Bold> but when we move to
            verse
            7<Bold>,</Bold> a different type of war is mentioned<Bold>;</Bold> one in which <Bold>nation will
                rise
                against nation and kingdom against kingdom. This is registered in history only in modern times with the
                two
                World Wars</Bold><Bold>.</Bold> Hence<Bold>,</Bold> it is obvious that verse 7 refers to the
            current
            time<Bold>,</Bold> whereas verse 6 refers to the apostolic age<Bold>.</Bold></Paragraph>
        <Paragraph> At that time the Roman Empire dominated all the nations of the known world, and there couldn't be a war that
            would
            have nation rise against nation and kingdom against kingdom, because there was only one kingdom, the Roman
            Empire.</Paragraph>
        <Paragraph> Remember the phrase "Pax romana", which was famous in those days and even today. This famous phrase
            indicates to us
            the tranquility imposed by the empire on all the nations of those days. There could not be during the era of
            the
            "Pax romana" something similar to that described as "nation against nation and kingdom against kingdom".</Paragraph>
        <Paragraph> Hence the wars described in verse 6 are different than those described in verse 7<Bold>.</Bold> Those of
            verse 6
            can be applied to the Roman era<Bold>;</Bold> those of verse 7 cannot<Bold>.</Bold>
            Besides<Bold>,</Bold> <Bold>from history we know that at that time there were no wars of that type
                where
                nations would arise against nation and kingdom against kingdom</Bold><Bold>.</Bold> It is logical
            then to
            think that what is described in verse 7 does not pertain to those times<Bold>,</Bold> but rather to the
            present<Bold>.</Bold></Paragraph>
        <Paragraph> Everything said previously is also confirmed by the description given by Luke about the same period of the
            prophecy.
            We can see that in Luke 21:7-11 where the narration gives a better description of the events in Judea in the
            period
            immediately after the resurrection to the destruction of Jerusalem and the Temple. There it speaks of
            seditions,
            which is what characterized the Jewish history of that period, according to Josephus's chronicle.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And they asked him<Bold>,</Bold> saying<Bold>:</Bold> Master<Bold>,</Bold>
            but
            when shall these things be<Bold>?</Bold> And what sign will there be when these things shall come to
            pass<Bold>?</Bold> </i> 8 <i>And he said<Bold>:</Bold> Take heed that ye be not
            deceived<Bold>,</Bold>
            for many shall come in my name<Bold>,</Bold> saying<Bold>:</Bold> I am Christ<Bold>;</Bold> and
            the time
            draweth near<Bold>;</Bold> go ye not therefore after them<Bold>.</Bold></i> 9 <i>But when ye shall
            hear of
            wars and <Bold>commotions</Bold><Bold>,</Bold> be not terrified<Bold>,</Bold> for these things
            must
            first come to pass<Bold>;</Bold> <Bold>but the end is not by and by</Bold><Bold>.</Bold></i> 10
            <i>Then
                said he unto them<Bold>:</Bold> Nation shall rise against nation<Bold>,</Bold> and kingdom
                against
                kingdom<Bold>.</Bold></i> 11 <i>And</i> <i>great earthquakes shall be in divers
                places<Bold>,</Bold> and
                famines<Bold>,</Bold> and pestilences<Bold>;</Bold> and <Bold>fearful sights and great signs
                    shall there
                    be from heaven</Bold></i><Bold>."</Bold> (Lk 21<Bold>:</Bold>7-11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Fourth argument about the 3rd and 4th sections</Bold><Bold>.</Bold> To be more certain yet that
            verses
            6 and 7 of Matthew 24<Bold>,</Bold> deal with two different times and quite distant in time from each
            other<Bold>,</Bold> it would be enough to realize that the wars mentioned in verse 7 begin the period
            called
            <Bold>"beginning of sorrows"</Bold><Bold>.</Bold> Likewise notice that the phenomena that accompany
            the wars
            of Matthew 24<Bold>:</Bold>7<Bold>,</Bold> <Bold>earthquakes in diverse
                places</Bold><Bold>,</Bold>
            <Bold>great fears and great signs of heaven</Bold><Bold>,</Bold> have never happened in Roman era
            nor
            later<Bold>.</Bold> Hence<Bold>,</Bold> it is evident that what is said in verse 7 refers to a time
            after
            the ones we know from history<Bold>.</Bold> History allows us to assert that <Bold>in that apostolic
                age none
                of the great fearsome events and signs of heaven occurred</Bold><Bold>; they are still in the
                future.</Bold></Paragraph>
        <Paragraph> If we read Mark 13<Bold>:</Bold>8 and Luke 21<Bold>:</Bold>10-11 &amp; 24-26<Bold>,</Bold> we
            would see that
            they also announce for the period immediately following the period characterized by nation against nation
            and
            kingdom against kingdom<Bold>,</Bold> the seismic activity and cosmic phenomena <Bold>which did not
                occur
                during that apostolic age.</Bold> That is to say<Bold>,</Bold> <Bold>great signs in
                heaven</Bold><Bold>,</Bold> fearful sights<Bold>, earthquakes and in many places,</Bold>
            <Bold>anguish
                from fear of something that will occur in the sea, and men's hearts failing because of
                fear</Bold><Bold>.</Bold> Hence<Bold>,</Bold> if these things did not occur
            then<Bold>,</Bold>
            <Bold>it is without doubt</Bold> that those things will happen at a future occasion<Bold>.</Bold>
            Therefore<Bold>,</Bold> verses 6 and 7 speak about different times<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For nation shall rise against nation<Bold>,</Bold> and kingdom against
            kingdom<Bold>;</Bold> and <Bold>there shall be earthquakes in divers places</Bold><Bold>,</Bold>
            and
            there shall be famines and troubles<Bold>; these are the beginnings of
                sorrows</Bold></i><Bold>."</Bold> (Mk
            13<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>10 <i>Then said he unto them<Bold>:</Bold> <Bold>Nation shall rise against nation,
            and
            kingdom against kingdom</Bold><Bold>;</Bold></i> 11 <i>and <Bold>great earthquakes</Bold> shall be
            in
            divers places<Bold>,</Bold> and famines<Bold>,</Bold> and pestilences<Bold>;</Bold> and <Bold>fearful
                sights and great signs shall there be from heaven</Bold></i><Bold>." </Bold> (Lk
            21<Bold>:</Bold>10-11)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>24 <i>And they shall fall by the edge of the sword<Bold>,</Bold> and shall be led away
            captive
            into all nations<Bold>.</Bold> <Bold>And Jerusalem shall be trodden down of the Gentiles, until the
                times of
                the Gentiles be fulfilled.</Bold></i> 25 <Bold> </Bold><Bold>And</Bold> <Bold>there shall be
            signs
            in the sun, and in the moon, and in the stars; and upon the Earth distress of nations, with perplexity; the
            sea and
            the waves roaring;</Bold> 26 <Bold>men's hearts failing them for fear, and for looking after those
            things which
            are coming on the earth,</Bold> <i>for the powers of heaven shall be shaken</i><Bold>."</Bold> (Lk
            21<Bold>:</Bold>24-26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Fifth argument about the 3rd and 4th sections</Bold><Bold>.</Bold> If we read Matthew
            24<Bold>:</Bold>13<Bold>,</Bold> which is the next to the last verse of the fourth
            section<Bold>,</Bold>
            we will see that it says that those which remain alive at that moment should endure unto the
            end<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>But he that shall <Bold>endure unto the end, the same shall be
            saved</Bold></i><Bold>."</Bold> (Mt 24<Bold>:</Bold>13)</Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>It does not make sense that a Christian of the apostolic era would be admonished to endure until the
            end of
            the world</Bold><Bold>;</Bold> the reasonable thing would be that it is speaking to the Christians of
            the
            times close to the end<Bold>.</Bold> Neither would a Christian close to the time of the Second Coming be
            admonished<Bold>,</Bold> to endure until the end<Bold>,</Bold> if there remained
            say<Bold>,</Bold> fifty
            years<Bold>,</Bold> still<Bold>.</Bold></Paragraph>
        <Paragraph> For greater comprehension of what I am saying with respect to the transition from verse six to seven, we
            could
            paraphrase this portion the following way:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>6 and you shall hear of wars and rumors of wars<Bold>,</Bold> see that you do not
            become
            unsettled over this<Bold>,</Bold> because it is necessary that all this should happen<Bold>,</Bold>
            but it
            is not yet the end of the world<Bold>.</Bold> 7 Because the end of the world shall be near when nation
            rises
            against nation and kingdom against kingdom<Bold>,</Bold> and there shall be plagues<Bold>,</Bold>
            famines
            and earthquakes in many places<Bold>,</Bold> but these things are not the exact end
            either<Bold>,</Bold> 8
            but rather the signs that announce the beginning of the period called <Bold>"</Bold>beginning of birth
            pains<Bold>"</Bold><Bold>.</Bold> 9 It shall be then that you shall be delivered to be afflicted and
            you
            shall be killed<Bold>..."</Bold> (Paraphrase of Mt 24<Bold>:</Bold>6-9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Once we get to this point in time, the only thing that separates us from the end is to wait for the Gospel
            to be
            preached in the whole world, according to verse 14 of Matthew 24; which seems to happen in the miraculous
            way
            referred to in Revelation 14:6.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And I saw another angel fly in the midst of heaven</i><i>,</i> <i>having the everlasting gospel to preach
            unto
            them that dwell on the Earth</i><i>,</i> <i>and to every nation</i><i>,</i> <i>and kindred</i><i>,</i> <i>and
            tongue</i><i>,</i> <i>and people</i>." (Rev 14:6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Having demonstrated that verses 4 to 6 (third section) and the other one that goes from 7 to 14 (fourth
            section)
            deal with different periods of time<Bold>,</Bold> we will continue to analyze the
            chapter<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> In summary:</Bold> Matthew 24<Bold>:</Bold>4-6 and Matthew
            24<Bold>:</Bold>7-14<Bold>,</Bold>
            narrate two periods with some similarities<Bold>,</Bold> but completely different in
            time<Bold>.</Bold> The
            first pertains to the apostolic era and the second one to the current time and its future<Bold>.</Bold>
            In one
            it says that it is not the end<Bold>,</Bold> in the other the narration reaches to the
            end<Bold>.</Bold> In
            the first there could be no world wars<Bold>,</Bold> but only seditions<Bold>,</Bold> in the second
            there
            are world wars<Bold>.</Bold> In the first one there were no signs in heaven as he says that there will
            be during
            the second<Bold>.</Bold> In the second section he admonishes to hold on until the end<Bold>,</Bold>
            but not
            in the first portion<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> Fifth section</Bold><Bold>,</Bold> (Matthew 24<Bold>:</Bold>15-34) This section is as if
            we would
            examine a small section of a map with a magnifying glass<Bold>,</Bold> in order to see more
            details<Bold>;</Bold> or as if a section of a map had been enlarged onto a separate
            inset<Bold>,</Bold> to
            see the details better<Bold>.</Bold> What is being detailed in this section<Bold>,</Bold> or what is
            being
            examined with the magnifying glass<Bold>,</Bold> is <Bold>the span of time between the rise of the
                Abomination
                of Desolation, and the Second Coming, which was treated already in the fourth section (verses 7-14), but
                not in
                detail</Bold><Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <Bold>When ye therefore shall see the abomination of desolation,</Bold> <i>spoken of
            by
            Daniel the prophet<Bold>,</Bold> <Bold>stand in the holy place</Bold><Bold>,</Bold> (whoso
            readeth<Bold>,</Bold> let him understand)<Bold>,</Bold></i> 16 <i>then let them which be in Judaea
            flee into
            the mountains<Bold>;</Bold></i> 17 <i>let him which is on the housetop not come down to take any thing
            out of
            his house<Bold>;</Bold></i> 18 <i>neither let him which is in the field<Bold>,</Bold> return back to
            take
            his clothes<Bold>.</Bold></i> 19 <i>And woe unto them that are with child<Bold>,</Bold> and to them
            that
            give suck in those days<Bold>!</Bold></i> 20 <i>But pray ye that your flight be not in the
            winter<Bold>,</Bold> neither on the Sabbath day<Bold>.</Bold></i> 21 <Bold>For then shall be great
            tribulation, such as was not since the beginning of the world to this time, no, nor ever shall be.</Bold>
            22 <i>And
                except those days should be shortened<Bold>,</Bold> there should no flesh be saved<Bold>;</Bold>
                but for the
                elect's sake those days shall be shortened<Bold>.</Bold></i> 23 <i>Then if any man shall say unto
                you<Bold>,</Bold> Lo<Bold>,</Bold> here is Christ<Bold>,</Bold> or there<Bold>;</Bold>
                believe it
                not<Bold>.</Bold></i> 24 <Bold>For there shall arise false Christs, and false prophets, and shall
                shew great
                signs and wonders</Bold><Bold>;</Bold> <i>insomuch that<Bold>,</Bold> if it were
                possible<Bold>,</Bold> they shall deceive the very elect<Bold>.</Bold></i> 25
            <i>Behold<Bold>,</Bold> I
                have told you before<Bold>.</Bold></i> 26 <i>Wherefore if they shall say unto you<Bold>:</Bold>
                Behold<Bold>,</Bold> he is in the desert<Bold>;</Bold> go not forth<Bold>;</Bold>
                behold<Bold>,</Bold> he is in the secret chambers<Bold>;</Bold> believe it not<Bold>.</Bold></i>
            27 <i>For
                as the lightning cometh out of the east<Bold>,</Bold> and shineth even unto the
                west<Bold>;</Bold> so shall
                also the coming of the Son of man be<Bold>.</Bold></i> 28 <i>For wheresoever the carcase
                is<Bold>,</Bold>
                there will the eagles be gathered together<Bold>.</Bold></i> 29 <Bold>Immediately after the
                tribulation of
                those days shall the sun be darkened, and the moon shall not give her light, and the stars shall fall
                from heaven,
                and the powers of the heavens shall be shaken.</Bold> 30 <i>And then shall appear the sign of the Son
                of man in
                heaven<Bold>;</Bold> and then shall all the tribes of the earth mourn<Bold>,</Bold> and they
                shall see the
                Son of Man coming in the clouds of heaven with power and great glory<Bold>.</Bold></i> 31 <i>And he
                shall send
                his angels with a great sound of a trumpet<Bold>,</Bold> <Bold>and they shall gather together his
                    elect from
                    the four winds, from one end of heaven to the other</Bold><Bold>.</Bold></i> 32 <i>Now learn a
                parable of
                the fig tree<Bold>:</Bold> when his branch is yet tender<Bold>,</Bold> and putteth forth
                leaves<Bold>,</Bold> ye know that summer is nigh<Bold>.</Bold></i> 33 <i>So likewise
                ye<Bold>,</Bold>
                when ye shall see all these things<Bold>,</Bold> know that it is near<Bold>,</Bold> even at the
                doors</i> 34
            <i>Verily I say unto you<Bold>: This generation shall not pass, till all these things be
                fulfilled</Bold></i><Bold>."</Bold> (Mt 24<Bold>:</Bold>15-34)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we saw in the beginning of the study of the Prophetic Sermon<Bold>,</Bold> its fourth
            section<Bold>,</Bold> which encompasses verses 7-14<Bold>,</Bold> was a concise outline of the
            events that
            will occur in the time near the end<Bold>.</Bold> At that moment that Jesus spoke<Bold>,</Bold>
            those things
            were all in the future<Bold>.</Bold> Nevertheless<Bold>,</Bold> for us today<Bold>,</Bold> some
            of
            them<Bold>,</Bold> like the World Wars<Bold>,</Bold> are already in the past<Bold>,</Bold> but
            others<Bold>,</Bold> like the Abomination<Bold>,</Bold> are still in the future<Bold>.</Bold>
        </Paragraph>
        <Paragraph> The Fifth Section of the Prophetic Sermon<Bold>,</Bold> (verses 15-34)<Bold>,</Bold> details for us
            what
            will happen from the appearance of the Abomination<Bold>,</Bold> until the Second
            Coming<Bold>.</Bold> We
            shall analyze this section<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>I am going to make now five comments</Bold> about this portion<Bold>,</Bold> and later on I
            will
            provide <Bold>seven arguments</Bold> to demonstrate that <Bold>this passage must be referring to the
                end</Bold><Bold>.</Bold></Paragraph>
        <Paragraph> a) This "Abomination of Desolation", mentioned in verse 15 is still in the future, and hence so is
            everything
            narrated in verses 15 to 34. Let's see.</Paragraph>
        <Paragraph> b) Verse 15 says that the abomination would be in the holy place; it does not say that it would destroy the
            holy
            place, which is what the Romans did. Hence it is logical to think that it is referring to the current time
            not the
            apostolic age. Not only does it refer to the current future, but also by logic, we see that the warning is
            being
            made to Christian Jews of that current future, since the non-believing Jews would not read the New
            Testament, and
            the Christian Gentiles do not need to leave Judea, unless they are tourists or missionaries there. It refers
            to the
            future illegitimate temple that will be constructed in Jerusalem.</Paragraph>
        <Paragraph><Bold>c) </Bold> By the emphasis that Jesus places on the urgency with which the Christians that find
            themselves
            in Judea must be careful and flee (verses 17 and 18)<Bold>,</Bold> we can deduce that <Bold>the events
                will be
                triggered suddenly, without announcements or previous signs that foretell their imminent
                occurrence</Bold><Bold>.</Bold> It gives the sense that <Bold>the escape of the brethren will
                have to
                happen within minutes</Bold><Bold>,</Bold> because he emphasizes not to lose even the few minutes
            that it
            would take for them to retrieve a garment<Bold>.</Bold></Paragraph>
        <Paragraph> The assumption that the Christians in Judea will have to react fast before the unfolding
            events<Bold>,</Bold>
            agrees with the lament regarding the pregnant women and those with small children<Bold>,</Bold> who will
            be
            impeded by their physical and physiological conditions<Bold>,</Bold> in acting with the required urgency
            and in
            suffering the scarcities of the situation<Bold>.</Bold></Paragraph>
        <Paragraph> What is mentioned about not seeking the overcoat<Bold>,</Bold> and the fact that in verse 20 he
            admonishes to
            pray that it would not happen in either the winter or Saturday<Bold>,</Bold> <Bold>makes me think that
                it is
                in a Saturday of the winter season, when the rebellious spiritual powers will attempt to bring about
                their
                plan</Bold><Bold>.</Bold> It would not be foolish then<Bold>,</Bold> on the part of the
            Christians of
            that future time which find themselves in Judea<Bold>,</Bold> that they should leave from the beginning
            of any
            strange event that they observe<Bold>,</Bold> and to maintain themselves alert to any news or rumors
            during
            those days<Bold>,</Bold> especially all the winter Saturdays or close to the winter<Bold>.</Bold>
            Better yet<Bold>,</Bold>
            move from there as soon as it is possible<Bold>,</Bold> specially before the winter
            begins<Bold>.</Bold></Paragraph>
        <Paragraph> Also the admonishment to not look for an overcoat may have another motive<Bold>,</Bold> like <Bold>not
            raising
            suspicion that one is leaving for good</Bold><Bold>,</Bold> but rather to look as if one is leaving
            the city
            to return later<Bold>.</Bold> Whoever leaves without bags<Bold>,</Bold> with their usual
            clothing<Bold>,</Bold> will not awake suspicion that they are leaving for good<Bold>,</Bold> which
            would
            alert authorities<Bold>,</Bold> or the mob which supports tyrannies<Bold>,</Bold> in the sense that
            those
            that leave are dissidents of the regime of the antiChrist<Bold>.</Bold></Paragraph>
        <Paragraph> Perhaps<Bold>,</Bold> thanks to the prayers of Christians<Bold>,</Bold> the plans designed by the
            wicked to
            be carried out on a winter Saturday<Bold>,</Bold> would have to be postponed or precipitated due to the
            presence
            of unpredictable circumstances for them<Bold>,</Bold> with which perhaps the events may not occur in
            winter<Bold>,</Bold> but on Saturday<Bold>,</Bold> or perhaps not on a Saturday<Bold>,</Bold>
            but in
            winter<Bold>;</Bold> or perhaps in neither Saturday nor winter<Bold>,</Bold> though not very far
            from
            them<Bold>. We must then pray for this important issue, that God may upset the plans of the wicked that
                day, and
                the brethren may be spared.</Bold></Paragraph>
        <Paragraph><Bold>This warning cannot be referring to Christians throughout the world</Bold><Bold>,</Bold>
            because the
            winter Saturdays in Judea<Bold>,</Bold> are summer Saturdays in Brazil<Bold>,</Bold>
            Argentina<Bold>,</Bold> Africa<Bold>,</Bold> Australia and the whole southern
            hemisphere<Bold>.</Bold>
            Besides<Bold>,</Bold> evidently<Bold>,</Bold> verse 16 refers to those in Judea<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>d) </Bold> After this flight of the Christians that find themselves in Jerusalem and all Judea the
            greatest
            tribulation to ever exist will begin<Bold>.</Bold> That is<Bold>,</Bold> the Great
            Tribulation<Bold>,</Bold> according to verses 21-22<Bold>,</Bold> and it will give rise to the
            period of
            false Christ and false prophets which will give great signs and wonders capable of deceiving even certain
            Christians<Bold>,</Bold>
            as verses 23-28 warn<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) When the Great Tribulation is nearing its end or has already ended</Bold><Bold>, that is,
            "After the
            affliction of those days",</Bold> as it says in verse 29<Bold>,</Bold> the sun and the moon shall
            darken<Bold>,</Bold> and the stars shall fall from heaven and the powers of heaven shall be
            shaken<Bold>.</Bold> It will be then that according to verse 30<Bold>,</Bold> the sign of Christ
            shall
            appear in the heavens (perhaps the cross) and Jesus will be seen in his Second Coming<Bold>,</Bold> this
            time on
            the clouds<Bold>,</Bold> from where he will order the gathering of his chosen (31) from throughout the
            world<Bold>.</Bold> That is how this passage of the fifth section ends<Bold>,</Bold> and which lets
            us see
            in more detail<Bold>,</Bold> the sequence of events from the time of the abomination to the gathering of
            the
            Christians<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Having wrapped up the five comments, we will speak of the seven arguments.</Bold> I shall analyze
            some
            details of this portion (15-34) in order to <Bold>reaffirm the idea that this fifth section refers to the
                end.</Bold> For that I base myself on seven arguments<Bold>:</Bold> <Bold>First:</Bold> The
            Great
            Tribulation spoken of in this portion has not happened yet<Bold>.</Bold> <Bold>Second:</Bold> The
            antiChrist
            has not appeared yet<Bold>.</Bold> <Bold>Third:</Bold> No flesh would be saved if the tribulation
            should
            last longer<Bold>.</Bold> <Bold>Fourth:</Bold> The miracles of the false Christs and prophets have
            not
            happened yet<Bold>.</Bold> <Bold>Fifth:</Bold> Neither the sun or moon darkened nor the stars fell
            during
            the apostolic era<Bold>.</Bold> <Bold>Sixth:</Bold> This was not <Bold>"</Bold>at the
            door<Bold>"</Bold> during the apostolic era<Bold>,</Bold> since twenty centuries have
            passed<Bold>.</Bold> <Bold>Seventh:</Bold> That generation of the apostolic era passed and all these
            things
            did not happen<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> First argument of the 5th section</Bold><Bold>: The Great Tribulation has not come yet.</Bold>
            Verse
            21 says that during these events described in verses from 15 to 20<Bold>,</Bold> there would be an
            affliction so
            great like there has not been since the beginning of the world nor would happen again<Bold>;</Bold> and
            the one
            that says this is the one with the most authority to know this<Bold>:</Bold> Jesus<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For then shall be great tribulation<Bold>, such as was not since the beginning of the
            world to
            this time, no, nor ever shall be</Bold></i><Bold>." </Bold> (Mt 24<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> If anyone should think that the events and tribulation mentioned by Jesus, belong to those that already
            happened
            during the apostolic period, during the destruction of Jerusalem and the Temple, we would have to suppose
            that the
            future affliction to come upon the world, the one called Great Tribulation, is going to be less than the one
            during
            Roman times. To hold this second hypothesis would be equivalent to supposing that the affliction caused by
            the
            antiChrist, the most perverse and cruel of the persecutors of Christianity, would be lighter and less cruel
            than
            those caused by the Roman Empire, which seems absurd to me. Hence, seeing that the prophecy of the Great
            Tribulation
            remains to be fulfilled, we have to come to the conclusion that the passage under study refers to the end of
            the
            world.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> Second argument of the 5th section</Bold><Bold>: The antiChrist has not come yet. </Bold>
            Neither can
            it be asserted that the Roman Empire<Bold>,</Bold> or one of the emperors<Bold>,</Bold> had been the
            antiChrist<Bold>, because none of them sat in the Temple of God,</Bold> like God<Bold>,</Bold>
            making
            himself to look like God<Bold>,</Bold> which is what Saint Paul predicted in Second Thessalonians that
            the
            antiChrist would do<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Who opposeth and exalteth himself above all that is called God<Bold>,</Bold> or that
            is
            worshipped<Bold>;</Bold> so that he as God <Bold>sitteth</Bold> <Bold>in the temple of God,
                shewing
                himself that he is God</Bold></i><Bold>."</Bold> (II Tes 2<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Third argument of the 5th section</Bold><Bold>: Afflictions of the apostolic era were sporadic
            and
            regional,</Bold> Verse 22 says that if this affliction should continue any longer<Bold>,</Bold> no
            flesh would
            be saved<Bold>;</Bold> perhaps because they would desert the faith because they could not withstand the
            pressures<Bold>,</Bold> sufferings and cruelties<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And <Bold>except those days should be shortened, there should no flesh be
            saved</Bold><Bold>;</Bold> but for the elect's sake those days shall be
            shortened</i><Bold>."</Bold> (Mt
            24<Bold>:</Bold>22)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> It seems to me that these words cannot refer to the afflictions of the apostolic age. I do not believe that
            this
            could apply to those times, because in spite of the fact that their afflictions were great and cruel,
            reaching
            martyrdom, they were not continuous, speaking chronologically, nor total speaking geographically. Those
            afflictions
            were sporadic in the first case, and regional in the second, as is shown in Acts 9:31. There were regions,
            as much
            Barbarian as Roman, which did not suffer the anti-Christian persecution and, hence, the Christians of those
            places,
            or that sought refuge there, would not have deserted from the faith.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Then had the churches rest throughout all Judaea and Galilee and Samaria,</i></Bold> <i>and
            were
            edified<Bold>;</Bold> and walking in the fear of the Lord<Bold>,</Bold> and in the comfort of the
            Holy Ghost<Bold>,</Bold>
            were multiplied</i><Bold>."</Bold> (Hch 9<Bold>:</Bold>31)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> It is more logical to conclude that these predictions refer to modern times which are yet in the
            future<Bold>,</Bold> in which an inflexible worldwide and totalitarian organization<Bold>,</Bold>
            with
            adequate scientific and technical resources to do it<Bold>,</Bold> extends its merciless persecution to
            the most
            remote corners of its empire<Bold>,</Bold> causing with it such an affliction to every Christian which
            exists
            within those regions dominated by the antiChrist<Bold>,</Bold> which if they were to be
            prolonged<Bold>,</Bold> the brethren living there would desert from the faith because they were not able
            to
            either bear it or escape<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Fourth argument of the 5th section</Bold><Bold>: The false "Christs" of the apostolic era never
            did signs
            and wonders.</Bold> If we analyze verse 24 we would see that <Bold>after the period of
            tribulation</Bold>
            described in this passage<Bold>,</Bold> the <Bold> false</Bold> <Bold>Christs and false prophets
                would
                arise</Bold><Bold>, who would do great signs and wonders.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For there shall arise <Bold>false Christs, and false prophets, and shall shew great
            signs and
            wonders</Bold><Bold>;</Bold> insomuch that<Bold>,</Bold> if it were possible<Bold>,</Bold>
            they shall
            deceive the very elect</i><Bold>."</Bold> (Mt 24<Bold>:</Bold>24)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>In the apostolic era even though there were false prophets and false "Christs", there were none that
            could do
            signs and wonders, neither great nor small</Bold><Bold>;</Bold> and much less signs of such a level
            that they
            could deceive even the chosen<Bold>.</Bold> Hence<Bold>,</Bold> if the <Bold>false "Christs" and
                false
                prophets of such great power did not arise during the apostolic age</Bold><Bold>,</Bold> it is
            logical to
            think that Christ is referring in this verse<Bold>,</Bold> and in the whole passage<Bold>,</Bold> to
            the end
            of the world<Bold>,</Bold> and not to the apostolic age<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Fifth argument of the 5th section</Bold><Bold>: After the tribulation of the apostolic era the
            sun didn't
            darken, nor the moon, nor the stars fell.</Bold> The same can be said of Matthew
            24<Bold>:</Bold>29<Bold>,</Bold> where it says that after the affliction described as
            unique<Bold>,</Bold> without parallel or repetition<Bold>,</Bold> that is<Bold>,</Bold> <Bold>after
                the Great Tribulation</Bold><Bold>, the sun would darken as well as the moon, and the stars would
                fall.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Immediately <Bold>after the tribulation of those days shall the sun be darkened, and
            the moon
            shall not give her light, and the stars shall fall from heaven,</Bold> and the powers of the heavens shall
            be
            shaken</i><Bold>."</Bold> (Mt 24<Bold>:</Bold>29)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>It is more than evident that after the afflictions of the apostolic age, the sun did not darken,
            neither did
            the moon, and much less did the stars fall</Bold><Bold>.</Bold> Hence<Bold>,</Bold> I say
            again<Bold>,</Bold> Jesus was not referring here to the apostolic age<Bold>,</Bold> but rather to
            the future
            immediately before the Second Coming<Bold>,</Bold> that is the current future<Bold>.</Bold> That is
            to
            say<Bold>,</Bold> this whole passage is speaking of a period still in the future<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Sixth argument of the 5th section</Bold><Bold>: In the apostolic era the Second Coming was not at
            the
            doors.</Bold> In verse 33 he says that when <Bold>"</Bold>these things<Bold>"</Bold> begin to
            happen<Bold>,</Bold> everything is at the doors<Bold>.</Bold> So neither can Jesus be referring here
            to the
            period of the apostles or to the immediately subsequent periods either<Bold>.</Bold> This is because
            here it
            says that <Bold>at the very moment of which he was relating occurs</Bold><Bold>, everything else,
                including
                his Second Coming was at the door.</Bold> Almost twenty centuries have passed and a ton of generations
            and the
            end has not come<Bold>;</Bold> which indicates to us that the events of the first and following
            centuries<Bold>,</Bold> were not the ones that Jesus was announcing as being at the
            door<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>So likewise ye<Bold>,</Bold> when ye shall see all these things<Bold>,</Bold>
            <Bold>know
                that it is near, even at the doors</Bold></i><Bold>.</Bold> (Mt 24<Bold>:</Bold>33)</Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> </Bold> <Bold>Seventh argument of the 5th section</Bold><Bold>.</Bold> <Bold>The
            apostolic
            generation passed and the rest of the signs never manifested.</Bold> Also verse 34 indicates that nothing
            in this
            section refers to the apostolic period<Bold>,</Bold> because it says here that <Bold>when one of those
                signs
                should occur, the living generation would see the rest of the signs,</Bold> and that did not happen in
            the
            apostolic age<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Verily I say unto you<Bold>:</Bold> <Bold>This generation shall not pass, till all
            these
            things be fulfilled</Bold></i><Bold>."</Bold> (Mt 24<Bold>:</Bold>34)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> From reading the whole passage under study (verses 15-34) it is easy to understand that <Bold>the
            generation that
            will see the abomination, will also see the fall of the stars, the darkening of the sun and moon and the
            Second
            Coming of the Lord</Bold><Bold>.</Bold> Hence<Bold>,</Bold> no one can claim that part of the
            events
            happened back then and part will happen in the future<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In summary:</Bold> the fifth section<Bold>,</Bold> which encompasses Matthew
            24<Bold>:</Bold>15-34<Bold>,</Bold> is a detailed magnification<Bold>,</Bold> of the span
            encompassed
            between the emergence of the Abomination of Desolation<Bold>,</Bold> and the Second
            Coming<Bold>.</Bold>
            That is why the events narrated in it have not happened yet<Bold>,</Bold> like the Great
            Tribulation<Bold>,</Bold> the antiChrist<Bold>,</Bold> the wonders of the false Christs and prophets<Bold>,</Bold>
            the darkening of the sun and moon<Bold>,</Bold> nor have the stars fallen during the apostolic
            age<Bold>.</Bold> This proves to us that this section is in the future<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> The sixth section</Bold> (Matthew 24<Bold>:</Bold>35-51) I do not believe it is necessary to
            analyze
            this section<Bold>,</Bold> they are sufficiently clear admonitions that do not need
            explanation<Bold>.</Bold> This section only speaks of the certain fulfillment of this prophecy and of
            the secret
            which surrounds the day and hour of its occurrence<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Summarizing: chapter 24 of Matthew begins prophesying</Bold> the destruction of the Temple in
            A<Bold>.</Bold>D<Bold>.</Bold> 70 (1 and 2)<Bold>;</Bold> later he gives a brief outline of what
            is
            going to happen during the apostolic age (verses 4-6)<Bold>;</Bold> later he makes another brief outline
            of what
            would happen from the World Wars until the Second Coming (verses 7-14)<Bold>;</Bold> then he expands a
            part of
            the previous passage<Bold>,</Bold> detailing the period that spans from the
            <Bold>"</Bold>Abomination<Bold>"</Bold> until <Bold>"</Bold>the Second Coming<Bold>"</Bold>
            (verses
            15-34)<Bold>;</Bold> and in the rest of the chapter he exhorts Christians about this important issue
            (verses
            35-51)<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> Let us now comment about some passages that can create confusion</Bold><Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Matthew speaks of two times in which false Christs arise</Bold><Bold>.</Bold> In Matthew
            24<Bold>:</Bold>5 Christians are warned about false Christs that would come during that apostolic
            age<Bold>.</Bold> This prophecy of the false Christs is repeated in Matthew
            24<Bold>:</Bold>24<Bold>,</Bold> but this time it refers to the times close to the Second
            Coming<Bold>.</Bold> This would be understood more clearly if we realize that verse 5 belongs to the
            third
            section which deals with the apostolic age<Bold>,</Bold> whereas verse 24 belongs to the fifth
            section<Bold>,</Bold> which deals with the end time<Bold>.</Bold> Both of these claims were
            previously
            demonstrated<Bold>,</Bold> it should be enough to read again both sections<Bold>.</Bold></Paragraph>
        <Paragraph> We also see in Luke 21:8, where it discusses the apostolic age, the false Christs are mentioned as coming
            also in
            that age. And it is known that it is speaking of the apostolic age not only because it is in the passage
            which
            speaks of that era, but also because when Jesus speaks of the false Christs there, he adds "...and the time
            is
            near". If he told the apostles that the time was near, it is because those false Christs and false prophets
            were
            going to arise during that era also.</Paragraph>
        <Paragraph> It does not escape my notice the fact that in Luke 21:8 the sentence "the time is near", begins with capital
            letters
            by the modern Bibles, like indicating that it deals with one of the two phrases spoken by the false Christs.
            According to this way of presenting these issues by those that edit these modern Bibles, the false Christs
            would say
            two phrases: 1) "I Am" and, 2) "The time is near". But this is a doctrinally prejudiced interpretation on
            the part
            of the one that edits this Bible.</Paragraph>
        <Paragraph> In order to realize that it is incorrect to begin that sentence with a capital letter, it would be enough to
            read
            Luke 21:8 in the King James edition. In that edition, the sentence "the time is near" is found with lower
            case,
            because they did not consider it a new phrase, but rather a comment by Jesus with respect to the closeness
            of such
            false Christs.</Paragraph>
        <Paragraph> But in addition, it is logical to think that the false Christs would not be saying that the time of Jesus'
            return
            was near, because they wanted to make others think that they were "Jesus" who had already returned. If they
            would
            say that the time is near, then they could not say that they were Christ, because they would be admitting
            that his
            Second Coming had not arrived with them. Hence we see that the same period of the prophecy, mentioned in
            Luke,
            agrees with the fact that Matthew 24:5 refers to false Christs of the apostolic age, whereas Matthew 24:24
            refers to
            the false Christs which will come in the period close to the end.</Paragraph>
        <Paragraph><a href="biblenotes.html"> </a><a href="biblenotes.html"><Bold>Back to the index</Bold></a></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    