---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The doctrinal errors of many Christians has one or more of these origins">
    <Title>The doctrinal errors of many Christians have one or more of these origins</Title>

    <Tag>#121</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> Very often Christians are laden with doctrinal errors that shouldn't master their lives<Bold>,</Bold>
            but
            enslave them in a merciless way<Bold>.</Bold> That is due to flaws in their souls<Bold>:</Bold> lack
            of love
            for God<Bold>,</Bold> for which reason divine truth is not the main objective of their
            lives<Bold>,</Bold>
            and too often not even an objective<Bold>.</Bold> Their ego<Bold>,</Bold> their
            lusts<Bold>,</Bold> in
            general are the main aim in their interests<Bold>.</Bold> Those doctrinal errors master them for the
            following
            reasons<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>a) The almost complete ignorance of the Bible.</Bold> They all take their Bible to
            church<Bold>,</Bold>
            to see if what the pastor reads is true<Bold>;</Bold> as if the pastor were to lie to
            them<Bold>.</Bold>
            However<Bold>,</Bold> they never turn off the television set to read the Bible alone<Bold>,</Bold>
            without
            being taken by the hand in their study of God's doctrines<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b) The lack of an integral and coherent vision of Scriptures,</Bold> due to the fact that they read
            a
            passage here and a verse there<Bold>,</Bold> and never read the Bible in order from Genesis to
            Revelation<Bold>.</Bold> These brothers usually jump over <Bold>"</Bold>what they don't
            like<Bold>"</Bold> and what they consider <Bold>"</Bold>not important<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>c) The fact that they study using rigged "courses"</Bold> on the Bible<Bold>,</Bold> or on
            sectarian
            doctrines<Bold>,</Bold> prepared by the special interests of the sectors<Bold>,</Bold> whether
            religious or
            political<Bold>.</Bold> Many of these <Bold>"</Bold>courses<Bold>"</Bold> twist the biblical
            truth to
            their own liking<Bold>,</Bold> resting on the proven psychological truth that states that <Bold>it is
                harder
                for human beings to unlearn what they learned and correct it,</Bold> than it is to learn something for
            the
            first time<Bold>.</Bold></Paragraph>
        <Paragraph> They know that once they are indoctrinated on an error<Bold>;</Bold> very few escape<Bold>,</Bold>
            if
            any<Bold>.</Bold> A recent case of <Bold>"</Bold>courses<Bold>"</Bold> prepared by special
            interests in
            the political sector<Bold>,</Bold> twisting Scripture to gain the sympathy of the Christians they so
            much
            hate<Bold>,</Bold> was when they <Bold>"</Bold>interpreted<Bold>"</Bold> prophesy and said that
            Gog and
            Magog were the Soviet Union<Bold>.</Bold> The Soviet Union fell and now they changed their
            interpretation to
            reflect their new political enemies<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d) The almost total absence of a critical spirit in regards to the teachings received.</Bold> The
            seminary
            student or church member<Bold>,</Bold> trusting his teachers<Bold>,</Bold> <Bold>believes the
                doctrines
                taught, before analyzing them.</Bold> After he decides to believe them<Bold>,</Bold> when someone
            contradicts him<Bold>,</Bold> he tries to find passages to sustain it<Bold>,</Bold> instead of doing
            the
            opposite<Bold>:</Bold> analyze first the doctrine<Bold>,</Bold> and believe it
            later<Bold>.</Bold></Paragraph>
        <Paragraph> Sometimes the absence of a critical spirit is due to the fear of being alienated from the seminary or
            separated from
            the church<Bold>,</Bold> if he contradicts what he is being taught<Bold>.</Bold> If he is a pastor
            he also
            is afraid of being ousted and loosing his salary and his retirement<Bold>.</Bold> Sometimes the lack of
            a
            critical spirit is due to a false notion of loyalty to the sect<Bold>,</Bold> the clan or group
            spirit<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) The fact that words don't have the meaning they attribute to them.</Bold> This is a grave
            semantics
            problem<Bold>,</Bold> because it is as if the brother and the Bible or the brother and his listener
            spoke two
            different languages<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>f) Using the same word to express two or more things or concepts,</Bold> without realizing when
            they say
            one thing or the other<Bold>.</Bold> If in the equation <Bold>"</Bold>A + 7 = 11<Bold>"</Bold>
            we have
            given <Bold>"</Bold>A<Bold>"</Bold> a value of four<Bold>;</Bold> we cannot<Bold>,</Bold>
            without
            properly clarifying it<Bold>,</Bold> say that <Bold>"</Bold>A + 5 = 20<Bold>",</Bold> because in
            this
            case we are giving <Bold>"</Bold>A<Bold>"</Bold> a value of 15 and not 4 as we previously
            did<Bold>.</Bold> Doing this causes confusion in our listener<Bold>,</Bold> but that is precisely
            what many
            do in their debates<Bold>,</Bold> especially on religion<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>g) Using premises or concepts originated in tradition in order to reason on the truth of our
            doctrines,</Bold> as if these concepts were Bible premises<Bold>.</Bold> If by tradition we learned
            that the
            number 3 equals five units<Bold>,</Bold> every time we see 3 x 4 we will say it equals
            20<Bold>,</Bold> in
            spite of the fact that it equals 12<Bold>.</Bold> All that happens because of the lack of a critical
            spirit<Bold>,</Bold> or fear of being separated from the seminary<Bold>,</Bold> being ousted as
            pastor or
            being <Bold>"</Bold>excommunicated from the sect<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>h) Another problem the Christian faces just like any other human being is the mixture of feelings in
            the
            reasoning process.</Bold> Feelings such as<Bold>:</Bold> <Bold>1)</Bold> the fear of offending God
            if he
            doubts what they taught him and tries to reason it<Bold>;</Bold> <Bold>2)</Bold> the fear of finding
            a truth
            that he feels would be too much to bear<Bold>;</Bold> <Bold>3)</Bold> lack of faith in God's support
            by
            believing that if he reasons<Bold>,</Bold> one more intelligent than him can deceive him and make him
            err on
            that which<Bold>,</Bold> intuitively<Bold>,</Bold> he believes to be an absolute truth<Bold>;
                4)</Bold>
            fear of changing his doctrine and then have to face the brothers that used to think like
            him<Bold>;</Bold>
            <Bold>5)</Bold> pride<Bold>,</Bold> resistance to admit he was wrong and had not used adequately his
            intelligence<Bold>;</Bold> <Bold>6)</Bold> fear of what is unknown to him<Bold>,</Bold> without
            knowing
            why he is afraid<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph> What would be the solution<Bold>?</Bold> Read the Bible every day<Bold>,</Bold> in
            sequence<Bold>;</Bold> not to fear to be contradicted<Bold>;</Bold> realize that if someone
            <Bold>"</Bold>confuses us<Bold>",</Bold> it will be a transitory state<Bold>,</Bold> because the
            Holy
            Spirit is not going to leave us without help if we really want to find truth<Bold>,</Bold> but above all<Bold>,</Bold>
            remember that our Lord Jesus Christ promised in Lk 21<Bold>:</Bold>15 that he will give us mouth and
            wisdom
            which all our adversaries shall not be able to gainsay nor resist<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    