---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="What do we understand in the Bible by the word 'law'?">
    <Tag>#122</Tag>
    <Content>
        <Paragraph><Bold>What do we understand in the Bible by the word "law"?</Bold></Paragraph>
        <Paragraph> In biblical conversations the word <Bold>"</Bold>law<Bold>"</Bold> is referred to as God's
            laws<Bold>.</Bold> Let's remember that Moses did not originate the Law<Bold>,</Bold> neither did
            Noah or any
            of the prophets<Bold>,</Bold> but God personally<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In the Bible there are two main groups of laws. There are ritual laws, and behavior laws.</Bold>
            The ritual
            laws<Bold>,</Bold> as indicated by their name<Bold>,</Bold> referred to the
            rituals<Bold>.</Bold> It
            referred to the sacrifices<Bold>,</Bold> and the ceremonies that served as a prefigure to several events<Bold>:</Bold>
            Jesus' mission<Bold>,</Bold> when He came to die for us<Bold>,</Bold> also they referred to the
            coming of
            the Holy Spirit<Bold>,</Bold> the Second Coming<Bold>,</Bold> etc<Bold>..</Bold> The main ritual
            laws
            were those that referred to the Temple<Bold>,</Bold> and the sacrifices that would take place
            there<Bold>.</Bold> Other ritual laws included circumcision<Bold>,</Bold> the washing of the body so
            not to
            contaminate the Earthly sanctuary<Bold>,</Bold> which was a simile of the heavenly
            sanctuary<Bold>,</Bold>
            the presentation of the human first born<Bold>,</Bold> the sacrifice of the animal first
            born<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>Behavioral laws</Bold> are those that God established for human beings to know how they were to
            behave
            towards God and their neighbor<Bold>.</Bold> Examples of these are the Ten
            Commandments<Bold>,</Bold> the
            laws that teach us how to act with foreigners<Bold>,</Bold> with our enemies<Bold>,</Bold> with the
            widows
            and the orphans<Bold>,</Bold> with the poor<Bold>,</Bold> with those things others have lost and we
            find<Bold>,</Bold> what if we injure others without intention<Bold>,</Bold> or out of
            irresponsibility<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>What does it mean to "be under the Law"?</Bold></Paragraph>
        <Paragraph> The phrase<Bold>,</Bold> <Bold>"</Bold>being under the Law<Bold>"</Bold> is one of those that
            act as a
            wild card<Bold>.</Bold> Most of the time nobody defines them<Bold>,</Bold> they only pronounce
            them<Bold>.</Bold> It is regularly applied to those persons that consider that the sins that in the Old
            Testament were described as forbidden are also forbidden for Christians<Bold>.</Bold></Paragraph>
        <Paragraph> However<Bold>,</Bold> in the Bible<Bold>,</Bold> <Bold>"</Bold>not being under
            Law<Bold>"</Bold>
            generally means that <Bold>to be saved we don't have to comply with circumcision, lamb sacrifices or other
                rituals.</Bold></Paragraph>
        <Paragraph><Bold>But there are Christians who erroneously</Bold> believe that this phrase means that Christians
            don't have
            to obey God's commandments<Bold>.</Bold> Is that true<Bold>?</Bold> Does that mean that all of us
            are not
            under the behavior laws that God established<Bold>?</Bold> <Bold>Does that mean that we can now lie,
                worship
                images, commit adultery, steal, kill, consult the dead, etc.?</Bold> Of course not<Bold>!</Bold>
            Then<Bold>,</Bold> why do they say we are not under the Law<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>If by saying that we are not under the Law, they refer to not being under the ritual law, that is
            correct.</Bold> In other words<Bold>,</Bold> if it means that to be saved we don't have to be
            circumcised<Bold>,</Bold> or sacrifice animals<Bold>,</Bold> or any of the sort<Bold>,</Bold>
            then the
            phrase is correctly used<Bold>.</Bold> But if they give it the meaning that we can do all kind of sin
            without
            being accountable for it<Bold>,</Bold> then it is a terrible lie<Bold>,</Bold> a horrible and
            satanic heresy<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>What does "not being under the Law" mean?</Bold></Paragraph>
        <Paragraph> It is very common in conversations between brothers as they talk about God's laws<Bold>,</Bold> to hear
            some say
            <Bold>"</Bold>we are not under the Law<Bold>".</Bold> That depends which laws he is talking
            about<Bold>,</Bold> as I mentioned earlier<Bold>.</Bold> If he is talking about
            rituals<Bold>,</Bold> he
            is right<Bold>.</Bold> If he is talking about behavioral laws<Bold>,</Bold> he is dreadfully
            mistaken<Bold>.</Bold> <Bold>Having accepted Christ is not a "letter of marque" to do as we wish and
                continue
                thinking we are saved.</Bold> (Letter of marque was a government license for practicing piracy against
            enemy
            ships)</Paragraph>
        <Paragraph> I personally know a sad case about a man who claims that because we are not under the Law<Bold>,</Bold>
            a
            Christian can sleep with somebody else's wife<Bold>,</Bold> be a homosexual<Bold>,</Bold>
            swindle<Bold>,</Bold> etc<Bold>.,</Bold> and continue being saved<Bold>.</Bold></Paragraph>
        <Paragraph> He considers that once a person comes to Christ<Bold>,</Bold> <Bold>he cannot sin,</Bold> but not
            because he
            avoids sin with divine help<Bold>,</Bold> but according to him<Bold>,</Bold> when a non-Christian
            sleeps
            with his neighbor's wife<Bold>,</Bold> he commits adultery and because or this sin goes to
            Hell<Bold>,</Bold> but when a Christian sleeps with his neighbor's wife<Bold>,</Bold> it is not
            adultery<Bold>,</Bold> because he is not under the Law as is the non-Christian<Bold>.</Bold>
            Dreadful<Bold>!!</Bold> Disgusting<Bold>!!</Bold> Satanic<Bold>!!</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    