---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="An eye for an eye">
    <Title>An "eye for an eye" was a guide for the judges, but the Pharisees distorted it</Title>

    <Tag>#124</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> Many who read the New Testament<Bold>,</Bold> when they read Matthew 5<Bold>:</Bold>38 assume from
            what is
            written there that at some point God said in the Old Testament that we should abhor our fellow beings and
            collect an
            <Bold>"</Bold>eye for an eye<Bold>"</Bold> in whatever they do to us<Bold>.</Bold> But
            <Bold>"</Bold>now<Bold>"</Bold> Christ disapproved what was said by God and amended the Father's
            words<Bold>. Absurd!!</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Ye have <Bold>heard that it hath been said:</Bold> An eye for an
            eye<Bold>,</Bold> and a
            tooth for a tooth</i><Bold>."</Bold></Paragraph>
        <Paragraph> (Matthew 5<Bold>:</Bold>38)</Paragraph>
        <Paragraph><Bold>The first thing we should notice is that Christ did not say "God said"; but that "it was
            said",</Bold>
            without saying who said it<Bold>.</Bold> The commandment God established and used to guide the
            judges<Bold>,</Bold> was probably twisted by the people to justify their personal
            hatreds<Bold>;</Bold>
            converting it into a popular saying<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>God does not mandate such a thing in any place in the Old Testament.</Bold> What is most similar to
            this is
            in Leviticus 24<Bold>:</Bold>15-20<Bold>,</Bold> Exodus 21<Bold>:</Bold>24 and Deuteronomy
            19<Bold>:</Bold>21<Bold>.</Bold> In these three passages<Bold>,</Bold> the judges are ordered
            that at
            the time of justice (not for their own conflicts)<Bold>,</Bold> they should use the standard of an eye
            for an
            eye<Bold>,</Bold> if there is no divine law in respect<Bold>.</Bold></Paragraph>
        <Paragraph> If we read the first passage<Bold>,</Bold> beginning with verse 15<Bold>,</Bold> we will see that it
            is
            instructing them about the punishment they should impose for the diverse crimes<Bold>:</Bold>
            blasphemy<Bold>,</Bold> homicide<Bold>,</Bold> damages and <Bold>injury.</Bold> When it came to
            injuries
            is where<Bold>,</Bold> as a generalization<Bold>,</Bold> He tells them <Bold>"...</Bold>Breach
            for
            breach<Bold>,</Bold> eye for eye<Bold>,...."</Bold><Bold>,</Bold> and continues to do so to the
            end in
            verse 20<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>And thou shalt speak unto the children of Israel<Bold>,</Bold>
            saying<Bold>:</Bold>
            Whosoever curseth his God shall bear his sin<Bold>.</Bold></i> 16 <i>And he that blasphemeth the name of
            the
            LORD<Bold>,</Bold> he shall surely be put to death<Bold>,</Bold> and all the congregation shall
            certainly
            stone him<Bold>,</Bold> as well the stranger<Bold>,</Bold> as he that is born in the
            land<Bold>,</Bold>
            when he blasphemeth the name of the LORD<Bold>,</Bold> shall be put to death<Bold>.</Bold></i> 17
            <i>And he
                that killeth any man shall surely be put to death<Bold>.</Bold></i> 18 <i>And he that killeth a
                beast shall make
                it good<Bold>;</Bold> beast for beast<Bold>.</Bold></i> 19 <Bold>And if a man cause a blemish
                in his
                neighbour, as he hath done, so shall it be done to him;</Bold> 20 <Bold><i>breach for breach, eye
                for eye, tooth
                for tooth; as he hath caused a blemish in a man, so shall it be done to him again</i>."</Bold> (Lev
            24<Bold>:</Bold>15-20)</Paragraph>
        <Paragraph> As we can see<Bold>,</Bold> what this is talking about is a rule for the judges to
            follow<Bold>;</Bold> but
            it seems that the Jews twisted this and began to justify themselves in their hatred by alleging this passage<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>The second passage</Bold> that could have had an origin to that popular saying refers to what the
            judges
            needed to do<Bold>.</Bold> Let's see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>If men strive<Bold>,</Bold> and hurt a woman with child<Bold>,</Bold> so that
            her
            fruit depart from her<Bold>,</Bold> and yet no mischief follow<Bold>,</Bold> he shall be surely
            punished<Bold>,</Bold> according as the woman's husband will lay upon him<Bold>;</Bold> and he shall
            pay as
            the judges determine<Bold>.</Bold></i> 23 <Bold>And if any mischief follow, then thou shalt give life
            for
            life,</Bold> 24 <Bold>eye for eye, tooth for tooth, hand for hand, foot for foot,</Bold> 25
            <Bold><i>burning
                for burning, wound for wound, stripe for stripe</i>."</Bold> (Ex 21<Bold>:</Bold>22-25)</Paragraph>
        <Paragraph> In the previous passage we once again see that the mandate of an <Bold>"</Bold>eye for an
            eye<Bold>"</Bold>
            was not given to the believers for them to use with respect to their personal hatred and
            quarrels<Bold>,</Bold>
            but so that the judges would have a guide to act upon<Bold>.</Bold> We see the same in the following
            passage of
            Deuteronomy 19<Bold>:</Bold>21<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>16 <Bold>If a false witness rise up</Bold> <i>against any man to testify against him
            that which
            is wrong<Bold>,</Bold></i> 17 <i>then both the men<Bold>,</Bold> between whom the controversy
            is<Bold>,</Bold> shall stand before the LORD<Bold>,</Bold> before the priests and the
            judges<Bold>,</Bold> which shall be in those days<Bold>.</Bold></i> 18 <Bold>And the judges shall
            make
            diligent inquisition,</Bold> <i>and<Bold>,</Bold> behold<Bold>,</Bold> if the witness be a false
            witness<Bold>,</Bold> and hath testified falsely against his brother<Bold>,</Bold></i> 19 <Bold>then
            shall
            ye do unto him, as he had thought to have done unto his brother,</Bold> <i>so shalt thou put the evil away
            from
            among you<Bold>.</Bold></i> 20 <i>And those which remain shall hear<Bold>,</Bold> and
            fear<Bold>,</Bold>
            and shall henceforth commit no more any such evil among you<Bold>.</Bold></i> 21 <Bold><i>And thine
            eye shall
            not pity, but life shall go for life, eye for eye, tooth for tooth, hand for hand, foot for
            foot</i>."</Bold>
            (Deuteronomy 19<Bold>:</Bold>16-21)</Paragraph>
        <Paragraph> As we have seen in all of these passages<Bold>,</Bold> every time <Bold>"</Bold>an eye for an
            eye<Bold>"</Bold> is mentioned<Bold>,</Bold> it is referring to the way a judge has to punish a
            criminal<Bold>,</Bold> it was not a norm used to stir up personal hatred<Bold>.</Bold> When a person
            had
            been wronged<Bold>,</Bold> he had the right to not accuse<Bold>,</Bold> and forgive if he so desired<Bold>.</Bold>
            But when that same person was a judge and someone brought the case to him<Bold>,</Bold> the judge had to
            act
            according to that which was established in this passage<Bold>:</Bold> <Bold>an eye for an
                eye.</Bold></Paragraph>
        <Paragraph> We are not going to think that Christ abolished the judges<Bold>,</Bold> the courts and the police when
            he said
            the statement an eye for an eye that was said among the ancients ones should not be the rule of personal
            conduct<Bold>;</Bold> nothing further from the truth<Bold>.</Bold></Paragraph>
        <Paragraph> If we only read the New Testament<Bold>,</Bold> we would think that <Bold>"</Bold>what was said to
            the
            ancient ones<Bold>"</Bold> was in reality a mandate of God for the behavior of
            believers<Bold>.</Bold>
            However<Bold>,</Bold> if we also read the Old Testament<Bold>,</Bold> we learn that this is the
            standard for
            the judges to do justice<Bold>.</Bold> <Bold>We have to read the entire Bible as it is,</Bold> if we
            don't<Bold>,</Bold> we will not know how to properly interpret Scripture<Bold>.</Bold> <Bold>That
                is why
                there is so much nonsense presented as Christian doctrine.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    