---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Paul says it is not enough to hear God's law, it has to be obeyed">
    <Title>Paul says it is not enough to hear God's law, it has to be obeyed</Title>

    <Tag>#125</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> Why do some Christians treat God's law with such contempt<Bold>?</Bold> These brothers proceed as if
            they
            thought the law was invented by Satan<Bold>.</Bold> In this verse Paul himself<Bold>,</Bold> who
            some people
            consider the champion of the law <Bold>"</Bold>haters<Bold>",</Bold> assures the contrary to what
            they think<Bold>.</Bold>
            He says it was not just the hearers of the law<Bold>, but the doers of the law who act correctly.</Bold>
            The law
            that Paul considers obsolete is the ceremonial laws<Bold>,</Bold> not the behavioral
            laws<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For <Bold>not the hearers of the law are just</Bold> before God<Bold>,</Bold>
            <Bold>but
                the doers of the law shall be justified</Bold></i><Bold>".</Bold> (Ro 2<Bold>:</Bold>13)</Paragraph>
        <Paragraph> Paul is saying here that we have to obey God's law for human behavior<Bold>,</Bold> that we must align
            our
            behavior by that is established in God's law<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Does that mean that salvation comes by finalizing a life after having lived obeying the law without
            fail?</Bold> No<Bold>,</Bold> no one can accomplish that<Bold>;</Bold> that is why the Lord
            came<Bold>.</Bold> Only Jesus did it<Bold>.</Bold> And we are saved thanks to what he did and his
            sacrifice
            to accomplish what we could not do ourselves<Bold>.</Bold> <Bold>But nobody is saved either by saying
                he
                believes in Jesus, he lives under the grace, and then goes on to consciously disobey God's law,
                voluntarily and
                premeditatedly.</Bold></Paragraph>
        <Paragraph> The Christian who <Bold>sincerely</Bold> believes that what was established by God does not have to be
            obeyed is
            going to suffer the local and temporary consequences of not obeying God's law<Bold>,</Bold> but doesn't
            stop
            being saved<Bold>,</Bold> because his sin is unconscious<Bold>.</Bold> If he knew he had to obey he
            would do
            it<Bold>,</Bold> and repent from not having obeyed before<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The Christian who does not obey what God has established</Bold> because of
            circumstances<Bold>,</Bold>
            pressures<Bold>,</Bold> weaknesses or temptation<Bold>,</Bold> even when he was conscious he had to
            obey<Bold>,</Bold> suffers the local and temporary consequences of his sin<Bold>.</Bold> But if he
            <Bold>sincerely
                repents</Bold> of his weakness<Bold>,</Bold> or fights the temptation that led him to
            error<Bold>,</Bold> without giving in to it<Bold>,</Bold> repentant for having let himself be
            deceived<Bold>,</Bold> does not lose his salvation either<Bold>,</Bold> because he did not do it
            voluntarily<Bold>,</Bold>
            but under human or demonic pressure<Bold>.</Bold> A good example of this would be Peter's
            denial<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>A Christian, whom, surprised by sin, falls in it,</Bold> will no avoid the local and temporary
            consequences
            of his sin<Bold>,</Bold> but if he <Bold>sincerely repents</Bold> he does not lose his salvation
            because his
            sin was not premeditated<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>All this is true;</Bold> but from there to affirming that what was established by God does not have
            to be
            obeyed<Bold>,</Bold> because we are under grace and we can disobey to our heart's
            delight<Bold>,</Bold>
            <Bold>there is a large and deep abyss; and that abyss has a name: let's try not to fall in it.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    