---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Not everything that a personage of the Bible says, is revelation,">
    <Content>
        <Paragraph><Bold>Not everything that a personage of the Bible says, is revelation, it is necessary to discern</Bold>
        </Paragraph>
        <Paragraph><Bold>The prophet Nathan told David something that was not a revelation, but a personal opinion</Bold>
        </Paragraph>
        <Paragraph> It is necessary to take heed that not everything a personage in the Bible says should be taken as a
            revelation or
            divine teaching<Bold>.</Bold> It is necessary to apply common sense and above all<Bold>,</Bold> see
            if what
            that Biblical personage says at that moment is in concordance with the rest of the Bible<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Not everything that the actual prophets say (if indeed there are) has to be the word of
            God<Bold>.</Bold> Not
            even everything the true prophets of ancient times said or advised was a divine message<Bold>,</Bold> as
            is seen
            in the case of Nathan<Bold>.</Bold></Paragraph>
        <Paragraph> In verse 3<Bold>,</Bold> we see that Nathan advised David to follow the impulse of his heart and
            dedicate
            himself to construct the Temple of God<Bold>.</Bold> Anyone would have thought that this
            advice<Bold>,</Bold> coming from a prophet<Bold>,</Bold> was a divine confirmation of David's
            desires<Bold>.</Bold> However<Bold>,</Bold> we see further along in verses 12-13 how the same
            prophet Nathan<Bold>,</Bold>
            this time by way of a revelation from God<Bold>,</Bold> warns David that it is not he who will build the
            Temple<Bold>,</Bold> but his son who will reign in his place<Bold>.</Bold> <Bold>Even though
                Nathan was
                sincere, he was sincerely wrong. The fact that a preacher or advisor is sincere does not guarantee
                anything.</Bold> It only serves so that we know that he did not mean to harm us by what he has told us<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>And it came to pass<Bold>,</Bold> when the king sat in his house<Bold>,</Bold>
            and the
            LORD had given him rest round about from all his enemies<Bold>;</Bold></i> 2 <i>that the king said unto
            Nathan
            the prophet<Bold>:</Bold> See now<Bold>,</Bold> I dwell in an house of cedar<Bold>,</Bold> but
            the ark
            of God dwelleth within curtains<Bold>.</Bold></i> 3 <Bold><i>And Nathan said to the king: Go, do all
            that is
            in thine heart; for the LORD is with thee</i>."</Bold> (II Samuel 7<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>And when thy days be fulfilled<Bold>,</Bold> and thou shalt sleep with thy
            fathers<Bold>,</Bold> I will set up thy seed after thee<Bold>,</Bold> which shall proceed out of thy
            bowels<Bold>,</Bold> and I will establish his kingdom<Bold>.</Bold> 13 <Bold>He shall build an
                house for
                my name, and I will establish the throne of his kingdom for ever</Bold></i><Bold>."</Bold> (II
            Samuel
            7<Bold>:</Bold>12-13)</Paragraph>
        <Paragraph> This warning is even clearer in I Chronicles 17<Bold>:</Bold>1-4<Bold>,</Bold> where we see that in
            verse
            2<Bold>,</Bold> Nathan tells David to do everything that is in his heart because God is with
            him<Bold>,</Bold> however<Bold>,</Bold> two verses later God tells Nathan the
            opposite<Bold>,</Bold>
            ordering him to tell David that <Bold>he was not going to build the Temple.</Bold> This is reaffirmed in
            I
            Chronicles 22<Bold>:</Bold>7-10<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Now it came to pass<Bold>,</Bold> as David sat in his house<Bold>,</Bold> that
            David
            said to Nathan the prophet<Bold>:</Bold> Lo<Bold>,</Bold> I dwell in an house of
            cedars<Bold>,</Bold>
            but the ark of the covenant of the LORD remaineth under curtains<Bold>.</Bold></i> 2 <Bold>Then Nathan
            said
            unto David: Do all that is in thine heart; for God is with thee.</Bold> 3 <i>And it came to pass the same
            night<Bold>, that</Bold> <Bold>the word of God came to Nathan, saying:</Bold></i> 4 <Bold><i>Go
            and tell
            David my servant, Thus saith the LORD: Thou shalt not build me an house to dwell in</i>."</Bold> (I
            Chronicles
            17<Bold>:</Bold>1-4)</Paragraph>
        <Paragraph><Bold>As we can see, what at first glance anyone would have taken as having come from God,</Bold> because
            a
            prophet was saying it<Bold>,</Bold> was not a word nor advice from God<Bold>,</Bold> but the words
            and
            advice of a prophet that although he was a good man and under the influence of the Holy Spirit<Bold>, his
                words
                should not be taken as coming from Heaven.</Bold> When he advised David to follow the impulses of his
            heart<Bold>,</Bold> he was wrong<Bold>.</Bold> If that was so with prophets like
            Nathan<Bold>,</Bold>
            who <Bold>evidently</Bold> was a true prophet<Bold>,</Bold> how can we possibly believe with our
            eyes closed
            that everything that a pastor or someone who calls himself inspired says<Bold>,</Bold> has to be the
            word of God<Bold>.</Bold>
            No matter how sincere he may be<Bold>,</Bold> he could be sincerely mistaken<Bold>.</Bold> We have
            to know
            how to discern<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    