---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Peril of believing that the Church shall be raptured before the Great Tribulation">
    <Title>Peril of believing that the Church shall be raptured before the Great Tribulation</Title>

    <Tag>#129</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph>Saint Paul said<Bold>:</Bold> <Bold>"</Bold><i>Prove all things<Bold>,</Bold> hold fast that
            which is
            good</i><Bold>".</Bold></Paragraph>
        <Paragraph><Bold>The peril of believing that the Church shall be raptured before the Great Tribulation,</Bold>
            hinges on the
            fact that the Christian will cease to be alert to the prophecies and the current circumstances which
            surround
            them<Bold>.</Bold> If they were alert<Bold>,</Bold> they could escape as instructed by the
            Lord<Bold>.</Bold> The Christians of the first century had to be alert so they could flee as soon as
            they saw
            Jerusalem surrounded by armies<Bold>,</Bold> as Jesus had foretold<Bold>.</Bold></Paragraph>
        <Paragraph> If the brethren rely on a <Bold>"</Bold>Rapture<Bold>"</Bold> that does not come before the Great
            Tribulation<Bold>,</Bold> they shall be the victims of the error in which they were
            drilled<Bold>.</Bold>
        </Paragraph>
        <Paragraph> The responsibility upon those that teach this false <Bold>"</Bold>Rapture<Bold>"</Bold> hinges on
            the fact
            that we put our brethren to slumber with a lie<Bold>,</Bold> and we deprive them of availing themselves
            of God's
            provision to protect us from the Great Tribulation<Bold>.</Bold></Paragraph>
        <Paragraph> The responsibility of preaching the lie of the <Bold>"</Bold>Rapture previous to the Great
            Tribulation<Bold>"</Bold> is very great<Bold>.</Bold> Let us search for the truth so that we do not
            stain
            our hands with the blood of our brethren which we have misled<Bold>.</Bold> For each careless word that
            we speak<Bold>,</Bold>
            we shall give an account in the Day of Judgment<Bold>.</Bold></Paragraph>
        <Paragraph> This book<Bold>,</Bold> <Bold>"Rapture Vs Ingathering or Fiction Vs Reality",</Bold>
            <Bold>demonstrates</Bold> that there is an <Bold>Ingathering</Bold> of the Christians
            <Bold>after</Bold>
            the Great Tribulation<Bold>,</Bold> and during the Second Coming of our Lord Jesus
            Christ<Bold>.</Bold> But
            there is <Bold>no Rapture previous</Bold> to the Great Tribulation<Bold>.</Bold></Paragraph>
        <Paragraph> God promises to spare his children from the Great Tribulation<Bold>,</Bold> but they must remain alert
            regarding
            what they will have to do<Bold>,</Bold> just like the Christians of the first century had to be alert in
            order
            to flee as soon as they saw Jerusalem surrounded by armies<Bold>,</Bold> as Jesus had
            foretold<Bold>.</Bold>
        </Paragraph>
        <Paragraph> The <Bold>"</Bold>Rapture previous to the Great Tribulation<Bold>"</Bold> is a
            deception<Bold>,</Bold>
            as warned by the apostle Paul when he said<Bold>:</Bold> <Bold>"</Bold><i>Let no one deceive you in
                any
                way<Bold>,</Bold> because it shall <Bold>not</Bold> come without <Bold>first</Bold>
                appearing the
                apostasy and <Bold>the man of sin, the son of perdition</Bold> is manifested</i><Bold>."</Bold>
        </Paragraph>
        <Paragraph> Paul knew that someone would try to deceive the brethren<Bold>,</Bold> with respect to Christ coming to
            get us
            before the arrival of the antiChrist<Bold>.</Bold> This is an issue of vital
            importance<Bold>;</Bold> read
            this book<Bold>,</Bold> because as Paul said<Bold>:</Bold> examine everything<Bold>,</Bold>
            retain what
            is good<Bold>.</Bold></Paragraph>
        <Paragraph> If you are interested in this written work you can request it from <Bold>Rafael Luis
            Serralta-Nogués</Bold> and
            it will be sent completely free<Bold>.</Bold> You may send an E-mail to
            rlserralta@netzero<Bold>.</Bold>net<Bold>,</Bold> or write to P<Bold>.</Bold>
            O<Bold>.</Bold> Box
            655126<Bold>,</Bold> Miami<Bold>,</Bold> FL 33265-5126<Bold>.</Bold> Likewise you can download
            this and
            other books<Bold>,</Bold> from our website
            www<Bold>.</Bold>bibleserralta<Bold>.</Bold>com<Bold>.</Bold></Paragraph>
        <Paragraph> In this website you will also find<Bold>,</Bold> <Bold>both in English and Spanish,</Bold> a series
            of
            articles regarding a diverse array of errors that have been introduced into Christianity<Bold>,</Bold>
            and how
            to defend the true Christian doctrine<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>It is a typical mode of operation of our Lord God, to always provide his own with an escape
            route,</Bold>
            whenever He sends a catastrophe<Bold>.</Bold> This benefit is received if<Bold>,</Bold> and only
            if<Bold>,</Bold> His people are open to the signs that He has provided in His word<Bold>,</Bold> for
            the
            purpose of warning of the imminence of the tragedy<Bold>.</Bold> God will save from the Great
            Tribulation those
            servants that are attentive to his word<Bold>,</Bold> but <Bold>not by removing them from the planet
                by means
                of this imaginary rapture before the Great Tribulation,</Bold> but rather by giving them the
            opportunity of
            finding refuge in that place that the Lord Jesus Christ reveals with the name of <Bold>"</Bold>the
            wilderness<Bold>".</Bold> It will be demonstrated in chapter 6 of the aforementioned
            book<Bold>.</Bold></Paragraph>
        <Paragraph> To believe in the Rapture before the Great Tribulation is like believing that the Earth is
            flat<Bold>.</Bold> To
            try to help somebody abandon an error that was taught to them since they were born is a very difficult
            task<Bold>,</Bold> because that concept has become rooted in their mind and
            personality<Bold>.</Bold></Paragraph>
        <Paragraph> This was the enormous difficulty that Christopher Columbus experienced in convincing the professors and wise
            men of
            the University of Salamanca<Bold>,</Bold> to approve his plan<Bold>.</Bold> He said to them that due
            to the
            roundness of the Earth<Bold>,</Bold> and not flatness<Bold>,</Bold> as they
            believed<Bold>,</Bold> he
            could look for India by navigating towards the West instead of the East<Bold>.</Bold> Since those
            professors and
            learned men had grown up with the error that the Earth was flat<Bold>,</Bold> and
            additionally<Bold>,</Bold>
            the whole World <Bold>"</Bold>knew<Bold>"</Bold> that the Earth was flat<Bold>,</Bold> they did
            not
            allow Columbus to convince them<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The hypothesis of a Rapture before the Great Tribulation</Bold> falls in this category of errors
            learned
            from birth<Bold>.</Bold> This theory survives by changing the meaning of words and
            phrases<Bold>,</Bold>
            such as <Bold>"</Bold>first<Bold>",</Bold> <Bold>"</Bold>final<Bold>",</Bold>
            <Bold>"</Bold>twinkling
            of an eye<Bold>",</Bold> <Bold>"</Bold>saints<Bold>",</Bold>
            <Bold>"</Bold>second<Bold>",</Bold>
            <Bold>"</Bold>church<Bold>",</Bold> <Bold>"</Bold>coming<Bold>",</Bold>
            etc<Bold>.,</Bold> all
            of which I shall demonstrate throughout this book I recommend you to read<Bold>.</Bold></Paragraph>
        <Paragraph> Few even consider discussing this matter<Bold>.</Bold> It hurts their comfort zone<Bold>,</Bold> it
            forces
            them to reason<Bold>,</Bold> it leads them to differ with their denomination and their
            friends<Bold>,</Bold>
            because all of them believe in such <Bold>"</Bold>Rapture<Bold>"</Bold> previous to the Great
            Tribulation<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If we were to believe that something is true simply because it is believed by many people,</Bold>
            then
            instead of being evangelical Christians<Bold>,</Bold> we would be Catholics<Bold>,</Bold> Buddhists
            or
            Animists<Bold>,</Bold> since any of these beliefs is held by more people than those that hold
            ours<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Practically all of the brothers that teach this harmful doctrine of the rapture, do it
            innocently.</Bold>
            Since the time they were born to the gospel<Bold>,</Bold> it is what they were taught<Bold>,</Bold>
            it was
            drilled into them<Bold>;</Bold> in other words they have been deceived in it<Bold>.</Bold> But they
            can free
            themselves of this fallacy with a small effort<Bold>:</Bold> by analyzing what others<Bold>,</Bold>
            that do
            not believe the same<Bold>,</Bold> have to say about this issue<Bold>.</Bold> In this case they can
            analyze
            what is presented in this book<Bold>.</Bold> It is worth making the effort<Bold>,</Bold> not only
            for their
            sakes<Bold>,</Bold> but because of the terrible responsibility of passing-on this deception to
            others<Bold>.</Bold></Paragraph>
        <Paragraph> God has always provided an escape route for his people<Bold>.</Bold> This escape route is dependent on
            his
            saints knowing the word of God and staying alert to the events and circumstances surrounding
            them<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    