---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Reasons why people don't want to know the truth">
    <Content>
        <Paragraph><Bold>Reasons why people don't want to know the truth</Bold></Paragraph>
        <Paragraph> Not wanting to admit error in man is due to a mix of feelings in the process of reasoning<Bold>.</Bold>
        </Paragraph>
        <Paragraph> I have observed throughout my life man <Bold>trying to justify things by way of twisted
            interpretations</Bold>
            of what they read<Bold>,</Bold> that being about news<Bold>,</Bold> questions of
            law<Bold>,</Bold> or
            the Bible<Bold>.</Bold> The reasons that move them to do that are very diverse<Bold>,</Bold> so much
            in
            common everyday life as in questions of religion<Bold>.</Bold> Let's see the latter<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold> 1) Fear of offending God</Bold> if he doubt what men have taught him<Bold>,</Bold> and submit
            it to
            reasoning<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 2) Fear of finding a truth</Bold> which he feels is too much of a burden<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>3) Fear of changing doctrine</Bold> and then have to face those who previously thought like him and
            be
            considered a traitor<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>4) Pride,</Bold> the resistance to admit that they were wrong and that they had not adequately used
            their
            mental abilities<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>5) Fear of what is new to him,</Bold> without knowing why he fears<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>6) Others want "something new" to preach in order to justify their separation from their
            church</Bold> or
            to justify a new sect they may want to form or maintain<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>7) Another motive is to justify himself</Bold> to continue to admit something that his conscience
            or
            intellect tells him is incorrect<Bold>,</Bold> but for him<Bold>:</Bold> <Bold>a)</Bold> its
            existence
            is convenient<Bold>;</Bold> or <Bold>b)</Bold> to admit the interpretation that is not twisted puts
            him in a
            situation of opposition with the rest who distortedly believe it<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>8) Justify social, sexual or racial prejudices.</Bold> In the time of African slavery there were
            some who
            said that blacks did not have a soul<Bold>,</Bold> in order to justify what was done in their
            environment<Bold>.</Bold> Others justified all of that by assuring<Bold>,</Bold> without a Biblical
            basis
            for it<Bold>,</Bold> that the curse of Noah for Cam was what had provoked black
            slavery<Bold>.</Bold> There
            was an American pastor<Bold>,</Bold> from the southern states<Bold>,</Bold> when I was very
            young<Bold>,</Bold> who tried to <Bold>"</Bold>demonstrate<Bold>"</Bold> that blacks were given
            to
            mockery<Bold>,</Bold> according to him<Bold>,</Bold> because of the inheritance of Cam who made fun
            of
            Noah's nudity<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>9) Desire to maintain oneself "ignorant"</Bold> or at least
            <Bold>"</Bold>skeptical<Bold>"</Bold>
            about the validity of a norm of conduct or religion so as not to find themselves obligated to comply with or
            feel
            bad about not complying<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>10) To justify their sin by forcing themselves to believe that they understand religion or the Bible
            in
            another manner.</Bold> This was the case of a pastor who amplified the concept of forgiveness and grace so
            much<Bold>,</Bold> that he included in this concept the continual adultery of his wife and the repulsive
            consent
            of his towards such a sin<Bold>.</Bold> In order to justify himself<Bold>,</Bold> he said I was
            guided by
            the law<Bold>,</Bold> but he was under grace<Bold>.</Bold> (Of all these cases which I mention I
            have their
            names and sect<Bold>;</Bold> but I'm not specific because I don't want to unnecessarily damage
            others)<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>11) To think that the modification of his beliefs after many years,</Bold> either acquired since
            childhood<Bold>,</Bold> by family tradition or when he converted to the gospel<Bold>,</Bold> can put
            salvation in danger<Bold>,</Bold> or the concept that the person believes God has of him and his
            <Bold>"</Bold>faith<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>12) The lack of confidence in their own analysis of the Word of God,</Bold> which makes them
            imagine that
            all new things that come into their minds<Bold>,</Bold> all new idea that are suggested are
            <Bold>"</Bold>proof<Bold>"</Bold>
            that God submits to them<Bold>,</Bold> in order to see if that person maintains himself
            <Bold>"</Bold>firm<Bold>".</Bold> Others believe that it is a <Bold>"</Bold>temptation from the
            Devil<Bold>".</Bold> This was what a priest of a town I frequently visited told his congregation with
            respect to
            the preaching of the Protestants of the area<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>13) Confuse stubbornness with faith,</Bold> and categorize reasoning about the Word of
            God<Bold>,</Bold> as a dangerous doubt<Bold>,</Bold> as a weakness in the faith and a
            temptation<Bold>.</Bold> A Christian of many years<Bold>,</Bold> reader of the Bible and with a
            University
            degree guaranteed to me that to reason about religion is a sin<Bold>,</Bold> and that to use our logic
            was
            something diabolical<Bold>.</Bold> He did not want to see that Christ used logic in His
            preaching<Bold>,</Bold> and that Paul fills the epistle to the Hebrews with reasoning<Bold>.</Bold>
            According to him<Bold>,</Bold> his obstinacy and stupidity<Bold>,</Bold> is faith of
            <Bold>"</Bold>titanic<Bold>"</Bold>
            proportions<Bold>;</Bold> he considered himself a titan in the faith<Bold>,</Bold> because he
            resisted
            reasoning<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>14) Others do not wish to reach the truth because this would prevent them from belonging to an elite
            group,</Bold> exclusive<Bold>,</Bold> a small group of <Bold>"</Bold>chosen<Bold>"</Bold> ones<Bold>,</Bold>
            that can look others above their shoulders with <Bold>"</Bold>divine justification<Bold>".</Bold>
            This is
            how the Russellites are<Bold>,</Bold> who believe that they are going to be the
            presidents<Bold>,</Bold>
            senators<Bold>,</Bold> governors<Bold>,</Bold> mayors<Bold>,</Bold> etc<Bold>.,</Bold> of
            countries
            when the <Bold>"</Bold>New World Order<Bold>"</Bold> comes<Bold>.</Bold> Some Jews do something
            similar<Bold>,</Bold> they pretend to justify with their religion<Bold>,</Bold> their longings of
            racial
            superiority in the same manner that the Nazis justified theirs with the Nazi
            <Bold>"</Bold>religion<Bold>"</Bold> and their idol Hitler<Bold>.</Bold> A religion of racial
            equality
            as is Christianity does not call attention to those who have a religion in which their
            race<Bold>,</Bold> or
            certain group<Bold>,</Bold> is superior to the others<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>15) To be so fully involved in a sin or lust</Bold> that has accompanied us all our lives as
            persons or as
            members of society<Bold>,</Bold> that we do not realize what we have<Bold>.</Bold> We do not realize
            that it
            is a sin<Bold>,</Bold> because we believe it is a natural part of life<Bold>.</Bold> It is like
            telling a
            fish that he is wet<Bold>;</Bold> he would not understand us<Bold>,</Bold> because he had never seen
            anything or anyone in a dry state<Bold>.</Bold> He could not even imagine what dry talcum powder or dry
            wheat
            flour is<Bold>.</Bold> Likewise<Bold>,</Bold> he who by having so much time a lust<Bold>,</Bold>
            attributes it as a natural part of life<Bold>,</Bold> does not comprehend<Bold>,</Bold> or
            twists<Bold>,</Bold> the explanations or mandates that the Word of God says to the
            contrary<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    