---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Passion clouds reason">
    <Content>
        <Paragraph><Bold>Passion clouds reason</Bold></Paragraph>
        <Paragraph> Hate<Bold>,</Bold> greed<Bold>,</Bold> envy<Bold>,</Bold> lust<Bold>,</Bold>
            wrath<Bold>,</Bold>
            arrogance<Bold>,</Bold> etc<Bold>.,</Bold> are negative feelings that can easily become
            passions<Bold>.</Bold> In general<Bold>,</Bold> passions cloud intelligence<Bold>,</Bold> even
            good
            passions<Bold>,</Bold> but even more so the bad ones<Bold>.</Bold> The case of Balaam is very
            instructive<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Two passions had taken power over Balaam;</Bold> the first one was greed and then
            wrath<Bold>.</Bold>
            His understanding was so clouded by the passion (wrath)<Bold>,</Bold> that it impeded him to detect the
            fact
            that his donkey was speaking with him<Bold>.</Bold> The case in which a donkey speaks is so unusual that
            from
            the moment in which the donkey asked <Bold>"</Bold>what have I done<Bold>",</Bold> Balaam surprised
            and even
            frightened should have deposed his attitude<Bold>.</Bold> But his irate passion was so immense that it
            dominated
            his intellect<Bold>,</Bold> and he began to argue with the donkey without noticing the he was witnessing
            a
            miracle<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>28 <i>And <Bold>the LORD opened the mouth of the ass, and she said unto Balaam:</Bold>
            What
            have I done unto thee<Bold>,</Bold> that thou hast smitten me these three times<Bold>?</Bold></i> 29
            <Bold>And Balaam said unto the ass:</Bold> <i>Because thou hast mocked me<Bold>:</Bold> I would
                there were a
                sword in mine hand<Bold>,</Bold> for now would I kill thee<Bold>.</Bold></i> 30 <Bold>And the
                ass said
                unto Balaam:</Bold> <i>Am not I thine ass<Bold>,</Bold> upon which thou hast ridden ever since I
                was thine
                unto this day<Bold>?</Bold> was I ever wont to do so unto thee<Bold>?</Bold> And <Bold>he
                    said,
                    Nay</Bold></i><Bold>."</Bold> (Numbers 22<Bold>:</Bold>28-30)</Paragraph>
        <Paragraph> Passions (arrogance<Bold>,</Bold> vanity<Bold>,</Bold> pride<Bold>,</Bold>
            fear<Bold>,</Bold>
            holding a grudge<Bold>,</Bold> envy<Bold>,</Bold> greed<Bold>,</Bold> etc<Bold>.</Bold>)
            blind the
            understanding of man<Bold>.</Bold> Every time I have argued with someone who refuses to understand clear
            arguments<Bold>,</Bold> that are clearly exposed<Bold>,</Bold> I have been able to see interposed
            between us<Bold>,</Bold>
            one or more passions on the part of my interlocutor<Bold>.</Bold> I have been unfortunate enough to have
            spoken
            with many donkeys<Bold>,</Bold> who are as such<Bold>,</Bold> because they give in to their passions<Bold>.</Bold>
            And if these donkeys speak without any a miracle<Bold>,</Bold> it requires a true miracle to make them
            reason<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Another biblical case</Bold> in which one or more passions cloud intelligence is that of the
            priests and
            the resurrection of Lazarus<Bold>.</Bold></Paragraph>
        <Paragraph> It has been my observation for many years (decades) that when some type of feeling is mixed in with an
            analysis of
            something<Bold>,</Bold> man cannot apply logic and reason or he does so partially<Bold>.</Bold> This
            difficulty becomes bigger as the feelings become stronger<Bold>,</Bold> and becomes a crisis when that
            feeling
            becomes a passion and that passion is disorganized and does not come to a standstill<Bold>.</Bold></Paragraph>
        <Paragraph> That was the case in the princes for the priests in this passage<Bold>.</Bold> <Bold>Their passion was
            hatred;
            because of the fear they felt that Jesus Christ would displace them from their preeminent priestly
            position.</Bold> Their hatred was such that instead of trying to reason that whoever had raised Lazarus
            had to
            have come from God<Bold>,</Bold> what they try to do is kill Lazarus<Bold>,</Bold> because this
            constituted
            the living proof that they were wrong in not accepting Jesus as their Messiah<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>Much people of the Jews therefore knew that he was there<Bold>:</Bold> and they
            came not
            for Jesus' sake only<Bold>,</Bold> <Bold>but that they might see Lazarus</Bold>
            also<Bold>,</Bold> whom
            he had raised from the dead<Bold>.</Bold></i> 10 <Bold>But the chief priests consulted that they might
            put
            Lazarus also to death;</Bold> 11 <Bold>Because</Bold> <Bold><i>that by reason of him many of the
            Jews went
            away, and believed on Jesus</i>."</Bold> (John 12<Bold>:</Bold>9-11)</Paragraph>
        <Paragraph> Anyone could believe this total collapse of reason is impossible<Bold>,</Bold> but would not think the
            same if
            as myself<Bold>,</Bold> have observed completely <Bold>how a person's ability to reason is atrophied
                by simply
                not having used his sense of reason for years.</Bold> I have met some people who only reason with
            logic in
            their daily activities<Bold>,</Bold> in their profession or trade<Bold>,</Bold> where they have been
            trained
            to reason before their passions took power over them<Bold>.</Bold></Paragraph>
        <Paragraph> I have met some that <i>due to mental laziness have atrophied that beautiful human ability</i> to the point
            of not
            being able to use it in anything that is not what already constitutes a beaten path in the nervous
            system<Bold>.</Bold> A path not caused by conscious reactions but by defensive reflexes to the survival
            in
            society<Bold>.</Bold></Paragraph>
        <Paragraph> Examples of this are the capability to make businesses<Bold>,</Bold> to lie<Bold>,</Bold> to flatter
            and
            obtain what they want<Bold>,</Bold> to conquer the opposite sex<Bold>,</Bold> to work in their
            profession<Bold>,</Bold> etc<Bold>..</Bold> They are incredibly sharp in a determined type of
            activity
            related with that type of surviving in society that they have chosen<Bold>;</Bold> and are at the same
            time<Bold>,</Bold> incredibly incapable of reasoning in any other sense<Bold>.</Bold></Paragraph>
        <Paragraph> Perhaps the explanation to this inconsistent polarization of the use of reason can be that they were trained
            to
            reason without giving in to their passions only in a particular activity<Bold>,</Bold> when they were
            children
            or young adults<Bold>.</Bold> It could also be explained in the respect that they were instructed to
            accept in a
            dogmatic manner the premise of their profession or particular activity<Bold>.</Bold> To their
            benefit<Bold>,</Bold> these premises are real and from that point on<Bold>,</Bold> with a
            rudimentary
            process of reasoning<Bold>,</Bold> they can reach certain correct conclusions<Bold>.</Bold> Even
            more so
            because in the majority of cases<Bold>,</Bold> it was instilled in them at a very young
            age<Bold>,</Bold> to
            use reason in a mechanical way when it came to the aforementioned premises<Bold>.</Bold></Paragraph>
        <Paragraph> It is not that they <Bold>cannot reason,</Bold> it is that they quit using that power<Bold>,</Bold>
            that
            ability<Bold>,</Bold> because it leads them to undesirable conclusions<Bold>,</Bold> and they prefer
            to
            refuge their mind in the use of instinct and / or the process of <Bold>conditioned reasoning,</Bold>
            which exist
            as much as conditioned reflexes (learned reflexes)<Bold>.</Bold></Paragraph>
        <Paragraph> The types of feelings and passions that cloud reason are many<Bold>:</Bold> self preservation
            instinct<Bold>,</Bold> pride<Bold>,</Bold> arrogance<Bold>,</Bold> hatred<Bold>,</Bold>
            frustration<Bold>,</Bold> envy<Bold>,</Bold> selfishness<Bold>,</Bold> wrath<Bold>,</Bold>
            an
            obsessive love towards someone or something<Bold>,</Bold> complex of superiority<Bold>,</Bold>
            passion for
            fame<Bold>,</Bold> self-worshiping<Bold>,</Bold> etc<Bold>..</Bold> <Bold>All of those can be
                condensed in two primary or fundamental causes: either there is no love for God above all things, or
                there is no
                love for others as we love ourselves, or both.</Bold></Paragraph>
        <Paragraph> Upon failure of these<Bold>,</Bold> there is such an exaggerate love for his son in comparison to the
            neighbor's<Bold>,</Bold>
            that a human being cannot see that his own son may not be right<Bold>.</Bold> The contrary is also
            true<Bold>,</Bold> because of the love you have for yourself<Bold>,</Bold> you fear the
            confrontation with
            the father of the other child who accuses yours<Bold>,</Bold> and cannot see or does not want to see
            that your
            child is truly right<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The masses, full of envy,</Bold> hate a wealthy man even though they know nothing about
            him<Bold>;</Bold> they agree with those who attack him even if they do not know the
            facts<Bold>.</Bold> The
            egotistical rich man cannot understand the resistance of the poor when it comes to his
            whim<Bold>.</Bold>
            <Bold>"</Bold>Do you not see who you are<Bold>?"</Bold> thinks the important person in relation to
            someone
            of lesser social standing<Bold>.</Bold> They truly believe they are in their right to enjoy excessive
            riches at
            the price of the hunger of others<Bold>.</Bold> <Bold>"</Bold>The poor are accustomed to that life
            and do
            not need to leave it<Bold>",</Bold> is the thinking<Bold>,</Bold> while they take advantage of those
            beneath
            them<Bold>.</Bold> Greed<Bold>,</Bold> pride and other passions do not allow them to see that they
            are on
            the border of a precipice of a social commotion<Bold>,</Bold> and therefore in the end<Bold>,</Bold>
            will
            suffer it<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If those who possess a clouded intelligence because of their passions would allow us to take them
            through the
            process of reasoning to ultimate consequences,</Bold> they would see themselves without
            justification<Bold>.</Bold> <Bold>That is why they avoid it.</Bold> That is why they do not accept
            discussing their opinions brandishing diverse <Bold>"</Bold>noble<Bold>"</Bold>
            pretexts<Bold>.</Bold>
            By way of a subconscious defensive mechanism<Bold>,</Bold> they maintain the process of reasoning in the
            most
            superficial layer of the mind<Bold>.</Bold></Paragraph>
        <Paragraph> In these superficial layers of reasoning they have already constructed a platform of reasoning that is
            auto-justificatory<Bold>.</Bold> That auto-justificatory platform could have an internal logical
            consistency<Bold>,</Bold> but be based on a false premise<Bold>,</Bold> or in a sublevel reasoning
            platform
            without internal logical consistency<Bold>.</Bold> Additionally<Bold>,</Bold> it may be that this
            particular
            sub-level is logical<Bold>,</Bold> but may be based upon a second sub-level<Bold>,</Bold> which is
            the one
            that may have not consistent internal logic or is based on false premises or both<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In persons that are more intelligent or more complex,</Bold> sometimes we have to look to a third
            or fourth
            level in order to arrive at the origin of their error or to find <Bold>the falsehood behind which they
                hide their
                wickedness.</Bold> It is<Bold>,</Bold> at times very very deep where we discover the false premise
            from
            which they part or the false step in the chain of reasoning<Bold>,</Bold> the broken link which make a
            chain
            useless<Bold>.</Bold> That is why they justify themselves with their words<Bold>,</Bold> but don't
            allow
            anyone to take the discussion or reasoning deep enough to discover the deceitfulness of their apparent
            honesty or
            justice</Paragraph>
        <Paragraph><Bold>While more sub-layers of reasoning separate the discussed error</Bold> of the sub-platform without
            internal
            logical consistency<Bold>,</Bold> or of the erroneous premise which sustains it<Bold>,</Bold> the
            harder it
            will be for the one who is searching for the truth<Bold>,</Bold> to find it<Bold>.</Bold>
            Also<Bold>,</Bold> it will be <Bold>"</Bold>most impossible<Bold>"</Bold> to demonstrate what
            their
            error is<Bold>,</Bold> especially in those who do not wish to find the truth because it is
            painful<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The princes of the priest could not reason</Bold> that Christ had to be the
            Messiah<Bold>;</Bold> they
            could not reason that it was to their advantage to be with the Messiah<Bold>;</Bold> their
            passions<Bold>:</Bold> pride<Bold>,</Bold> vanity<Bold>,</Bold> hatred<Bold>,</Bold>
            egocentricity<Bold>,</Bold> etc<Bold>.,</Bold> hindered it<Bold>.</Bold> This happens to rebel
            angels as
            well<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    