---
import Layout from "../layout/Layout.astro";
---

<Layout title="Passion clouds reason">
    <section>
        <p><strong>Passion clouds reason</strong></p>
        <p> Hate<strong>,</strong> greed<strong>,</strong> envy<strong>,</strong> lust<strong>,</strong>
            wrath<strong>,</strong>
            arrogance<strong>,</strong> etc<strong>.,</strong> are negative feelings that can easily become
            passions<strong>.</strong> In general<strong>,</strong> passions cloud intelligence<strong>,</strong> even
            good
            passions<strong>,</strong> but even more so the bad ones<strong>.</strong> The case of Balaam is very
            instructive<strong>.</strong></p>
        <p><strong>Two passions had taken power over Balaam;</strong> the first one was greed and then
            wrath<strong>.</strong>
            His understanding was so clouded by the passion (wrath)<strong>,</strong> that it impeded him to detect the
            fact
            that his donkey was speaking with him<strong>.</strong> The case in which a donkey speaks is so unusual that
            from
            the moment in which the donkey asked <strong>"</strong>what have I done<strong>",</strong> Balaam surprised
            and even
            frightened should have deposed his attitude<strong>.</strong> But his irate passion was so immense that it
            dominated
            his intellect<strong>,</strong> and he began to argue with the donkey without noticing the he was witnessing
            a
            miracle<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>28 <i>And <strong>the LORD opened the mouth of the ass, and she said unto Balaam:</strong>
            What
            have I done unto thee<strong>,</strong> that thou hast smitten me these three times<strong>?</strong></i> 29
            <strong>And Balaam said unto the ass:</strong> <i>Because thou hast mocked me<strong>:</strong> I would
                there were a
                sword in mine hand<strong>,</strong> for now would I kill thee<strong>.</strong></i> 30 <strong>And the
                ass said
                unto Balaam:</strong> <i>Am not I thine ass<strong>,</strong> upon which thou hast ridden ever since I
                was thine
                unto this day<strong>?</strong> was I ever wont to do so unto thee<strong>?</strong> And <strong>he
                    said,
                    Nay</strong></i><strong>."</strong> (Numbers 22<strong>:</strong>28-30)</p>
        <p> Passions (arrogance<strong>,</strong> vanity<strong>,</strong> pride<strong>,</strong>
            fear<strong>,</strong>
            holding a grudge<strong>,</strong> envy<strong>,</strong> greed<strong>,</strong> etc<strong>.</strong>)
            blind the
            understanding of man<strong>.</strong> Every time I have argued with someone who refuses to understand clear
            arguments<strong>,</strong> that are clearly exposed<strong>,</strong> I have been able to see interposed
            between us<strong>,</strong>
            one or more passions on the part of my interlocutor<strong>.</strong> I have been unfortunate enough to have
            spoken
            with many donkeys<strong>,</strong> who are as such<strong>,</strong> because they give in to their passions<strong>.</strong>
            And if these donkeys speak without any a miracle<strong>,</strong> it requires a true miracle to make them
            reason<strong>.</strong></p>
        <p><strong>Another biblical case</strong> in which one or more passions cloud intelligence is that of the
            priests and
            the resurrection of Lazarus<strong>.</strong></p>
        <p> It has been my observation for many years (decades) that when some type of feeling is mixed in with an
            analysis of
            something<strong>,</strong> man cannot apply logic and reason or he does so partially<strong>.</strong> This
            difficulty becomes bigger as the feelings become stronger<strong>,</strong> and becomes a crisis when that
            feeling
            becomes a passion and that passion is disorganized and does not come to a standstill<strong>.</strong></p>
        <p> That was the case in the princes for the priests in this passage<strong>.</strong> <strong>Their passion was
            hatred;
            because of the fear they felt that Jesus Christ would displace them from their preeminent priestly
            position.</strong> Their hatred was such that instead of trying to reason that whoever had raised Lazarus
            had to
            have come from God<strong>,</strong> what they try to do is kill Lazarus<strong>,</strong> because this
            constituted
            the living proof that they were wrong in not accepting Jesus as their Messiah<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>9 <i>Much people of the Jews therefore knew that he was there<strong>:</strong> and they
            came not
            for Jesus' sake only<strong>,</strong> <strong>but that they might see Lazarus</strong>
            also<strong>,</strong> whom
            he had raised from the dead<strong>.</strong></i> 10 <strong>But the chief priests consulted that they might
            put
            Lazarus also to death;</strong> 11 <strong>Because</strong> <strong><i>that by reason of him many of the
            Jews went
            away, and believed on Jesus</i>."</strong> (John 12<strong>:</strong>9-11)</p>
        <p> Anyone could believe this total collapse of reason is impossible<strong>,</strong> but would not think the
            same if
            as myself<strong>,</strong> have observed completely <strong>how a person's ability to reason is atrophied
                by simply
                not having used his sense of reason for years.</strong> I have met some people who only reason with
            logic in
            their daily activities<strong>,</strong> in their profession or trade<strong>,</strong> where they have been
            trained
            to reason before their passions took power over them<strong>.</strong></p>
        <p> I have met some that <i>due to mental laziness have atrophied that beautiful human ability</i> to the point
            of not
            being able to use it in anything that is not what already constitutes a beaten path in the nervous
            system<strong>.</strong> A path not caused by conscious reactions but by defensive reflexes to the survival
            in
            society<strong>.</strong></p>
        <p> Examples of this are the capability to make businesses<strong>,</strong> to lie<strong>,</strong> to flatter
            and
            obtain what they want<strong>,</strong> to conquer the opposite sex<strong>,</strong> to work in their
            profession<strong>,</strong> etc<strong>..</strong> They are incredibly sharp in a determined type of
            activity
            related with that type of surviving in society that they have chosen<strong>;</strong> and are at the same
            time<strong>,</strong> incredibly incapable of reasoning in any other sense<strong>.</strong></p>
        <p> Perhaps the explanation to this inconsistent polarization of the use of reason can be that they were trained
            to
            reason without giving in to their passions only in a particular activity<strong>,</strong> when they were
            children
            or young adults<strong>.</strong> It could also be explained in the respect that they were instructed to
            accept in a
            dogmatic manner the premise of their profession or particular activity<strong>.</strong> To their
            benefit<strong>,</strong> these premises are real and from that point on<strong>,</strong> with a
            rudimentary
            process of reasoning<strong>,</strong> they can reach certain correct conclusions<strong>.</strong> Even
            more so
            because in the majority of cases<strong>,</strong> it was instilled in them at a very young
            age<strong>,</strong> to
            use reason in a mechanical way when it came to the aforementioned premises<strong>.</strong></p>
        <p> It is not that they <strong>cannot reason,</strong> it is that they quit using that power<strong>,</strong>
            that
            ability<strong>,</strong> because it leads them to undesirable conclusions<strong>,</strong> and they prefer
            to
            refuge their mind in the use of instinct and / or the process of <strong>conditioned reasoning,</strong>
            which exist
            as much as conditioned reflexes (learned reflexes)<strong>.</strong></p>
        <p> The types of feelings and passions that cloud reason are many<strong>:</strong> self preservation
            instinct<strong>,</strong> pride<strong>,</strong> arrogance<strong>,</strong> hatred<strong>,</strong>
            frustration<strong>,</strong> envy<strong>,</strong> selfishness<strong>,</strong> wrath<strong>,</strong>
            an
            obsessive love towards someone or something<strong>,</strong> complex of superiority<strong>,</strong>
            passion for
            fame<strong>,</strong> self-worshiping<strong>,</strong> etc<strong>..</strong> <strong>All of those can be
                condensed in two primary or fundamental causes: either there is no love for God above all things, or
                there is no
                love for others as we love ourselves, or both.</strong></p>
        <p> Upon failure of these<strong>,</strong> there is such an exaggerate love for his son in comparison to the
            neighbor's<strong>,</strong>
            that a human being cannot see that his own son may not be right<strong>.</strong> The contrary is also
            true<strong>,</strong> because of the love you have for yourself<strong>,</strong> you fear the
            confrontation with
            the father of the other child who accuses yours<strong>,</strong> and cannot see or does not want to see
            that your
            child is truly right<strong>.</strong></p>
        <p><strong>The masses, full of envy,</strong> hate a wealthy man even though they know nothing about
            him<strong>;</strong> they agree with those who attack him even if they do not know the
            facts<strong>.</strong> The
            egotistical rich man cannot understand the resistance of the poor when it comes to his
            whim<strong>.</strong>
            <strong>"</strong>Do you not see who you are<strong>?"</strong> thinks the important person in relation to
            someone
            of lesser social standing<strong>.</strong> They truly believe they are in their right to enjoy excessive
            riches at
            the price of the hunger of others<strong>.</strong> <strong>"</strong>The poor are accustomed to that life
            and do
            not need to leave it<strong>",</strong> is the thinking<strong>,</strong> while they take advantage of those
            beneath
            them<strong>.</strong> Greed<strong>,</strong> pride and other passions do not allow them to see that they
            are on
            the border of a precipice of a social commotion<strong>,</strong> and therefore in the end<strong>,</strong>
            will
            suffer it<strong>.</strong></p>
        <p><strong>If those who possess a clouded intelligence because of their passions would allow us to take them
            through the
            process of reasoning to ultimate consequences,</strong> they would see themselves without
            justification<strong>.</strong> <strong>That is why they avoid it.</strong> That is why they do not accept
            discussing their opinions brandishing diverse <strong>"</strong>noble<strong>"</strong>
            pretexts<strong>.</strong>
            By way of a subconscious defensive mechanism<strong>,</strong> they maintain the process of reasoning in the
            most
            superficial layer of the mind<strong>.</strong></p>
        <p> In these superficial layers of reasoning they have already constructed a platform of reasoning that is
            auto-justificatory<strong>.</strong> That auto-justificatory platform could have an internal logical
            consistency<strong>,</strong> but be based on a false premise<strong>,</strong> or in a sublevel reasoning
            platform
            without internal logical consistency<strong>.</strong> Additionally<strong>,</strong> it may be that this
            particular
            sub-level is logical<strong>,</strong> but may be based upon a second sub-level<strong>,</strong> which is
            the one
            that may have not consistent internal logic or is based on false premises or both<strong>.</strong></p>
        <p><strong>In persons that are more intelligent or more complex,</strong> sometimes we have to look to a third
            or fourth
            level in order to arrive at the origin of their error or to find <strong>the falsehood behind which they
                hide their
                wickedness.</strong> It is<strong>,</strong> at times very very deep where we discover the false premise
            from
            which they part or the false step in the chain of reasoning<strong>,</strong> the broken link which make a
            chain
            useless<strong>.</strong> That is why they justify themselves with their words<strong>,</strong> but don't
            allow
            anyone to take the discussion or reasoning deep enough to discover the deceitfulness of their apparent
            honesty or
            justice</p>
        <p><strong>While more sub-layers of reasoning separate the discussed error</strong> of the sub-platform without
            internal
            logical consistency<strong>,</strong> or of the erroneous premise which sustains it<strong>,</strong> the
            harder it
            will be for the one who is searching for the truth<strong>,</strong> to find it<strong>.</strong>
            Also<strong>,</strong> it will be <strong>"</strong>most impossible<strong>"</strong> to demonstrate what
            their
            error is<strong>,</strong> especially in those who do not wish to find the truth because it is
            painful<strong>.</strong></p>
        <p><strong>The princes of the priest could not reason</strong> that Christ had to be the
            Messiah<strong>;</strong> they
            could not reason that it was to their advantage to be with the Messiah<strong>;</strong> their
            passions<strong>:</strong> pride<strong>,</strong> vanity<strong>,</strong> hatred<strong>,</strong>
            egocentricity<strong>,</strong> etc<strong>.,</strong> hindered it<strong>.</strong> This happens to rebel
            angels as
            well<strong>.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    