---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Paul seems to say that he had been blameless">
    <Tag>#133</Tag>
    <Content>
        <Paragraph><Bold>Paul seems to say that he had been blameless when it came to God's law, which is not true</Bold>
        </Paragraph>
        <Paragraph> There are many Christians who do not understand correctly what Paul said in Philippians
            3<Bold>:</Bold>4-6<Bold>,</Bold> so they believe he was a perfect man before he became a
            Christian<Bold>.</Bold> This is one of the times where the brothers can see the difficult way of talking
            of the
            Apostle to the Gentiles<Bold>.</Bold> When what Paul says seems to go against what the rest of the Bible
            says<Bold>,</Bold> we need to find its logic and not believe blindly and without due analysis what he
            says<Bold>.</Bold> In Philippians 3<Bold>:</Bold>3-6<Bold>.</Bold> Saint Paul says something
            that cannot
            be true<Bold>:</Bold> that he was blameless<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>Though I might also have confidence in the flesh<Bold>.</Bold></i> <i>If any other
            man
            thinketh that he hath whereof he might trust in the flesh<Bold>,</Bold> <Bold>I more:</Bold></i> 5
            <i>Circumcised
                the eighth day<Bold>,</Bold> of the stock of Israel<Bold>,</Bold> of the tribe of
                Benjamin<Bold>,</Bold>
                an Hebrew of the Hebrews<Bold>;</Bold> as touching the law<Bold>,</Bold> a
                Pharisee<Bold>;</Bold></i> 6
            <i>concerning zeal<Bold>,</Bold> <Bold>persecuting the church; touching the righteousness which is in
                the law,
                blameless</Bold></i><Bold>".</Bold> (Phil 3<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph> If we were to interpret what Paul says without analyzing it<Bold>,</Bold> we could reach the false
            conclusion
            that Paul was faithfully obedient of all of God's law<Bold>,</Bold> and therefore was
            irreprehensible<Bold>.</Bold> This would happen if we don't realize that what Paul says here goes
            against what
            the Bible says in other passages<Bold>.</Bold> The Bible says that there has been none
            righteous<Bold>,</Bold> not one<Bold>;</Bold> therefore<Bold>,</Bold> Paul can't say he was
            blameless<Bold>.</Bold> <Bold>We need to understand one of two things: either Paul is lying or we have
                to look
                for what it is he wants to say with the word "law".</Bold></Paragraph>
        <Paragraph> He says that as to the justice that is in the law<Bold>,</Bold> he was <Bold>blameless.</Bold>
            Evidently<Bold>,</Bold> Paul was not going to lie<Bold>;</Bold> therefore<Bold>,</Bold> he is
            talking
            about the ritual law<Bold>,</Bold> of which he was blameless<Bold>,</Bold> because as a Pharisee he
            would
            make every effort to comply with all the rites<Bold>,</Bold> traditions and ceremonies<Bold>,</Bold>
            besides
            tithing the rue<Bold>,</Bold> the dill<Bold>,</Bold> the cumin<Bold>,</Bold> the
            mint<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph> We need to only slightly reason to realize that Paul cannot be talking about God's law regarding human
            behavior<Bold>,</Bold> because in the same passage he confesses to being a persecutor of the
            church<Bold>,</Bold> like most Pharisees<Bold>.</Bold> They <Bold>murdered</Bold> Christians
            without a
            previous trial<Bold>,</Bold> or with rigged trials<Bold>,</Bold> <Bold>and that is not obeying the
                law of
                God.</Bold> They <Bold>brought in false witnesses,</Bold> as we can see in Acts
            6<Bold>:</Bold>13-14
            in Stephen's case and that is against God's law for human behavior<Bold>.</Bold></Paragraph>
        <Paragraph> Paul himself confesses in Acts 26<Bold>:</Bold>10-11 that he <Bold>forced some prisoners to
            blaspheme.</Bold> A man that acted as such could not be a faithful follower of God's laws for human
            behavior<Bold>,</Bold> but <Bold>merely a faithful follower of the ritual law.</Bold> Thus when Paul
            speaks<Bold>,</Bold> and in such it seems to contradict what the rest of the Bible
            says<Bold>,</Bold> we
            have to analyze what he says<Bold>.</Bold> That is the problem with the brothers who misunderstand
            Paul<Bold>,</Bold> attributing to him the abolition of God's law for human behavior<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>13 <i>And <Bold>set up false witnesses,</Bold> which said<Bold>:</Bold> This man
            ceaseth
            not to speak blasphemous words against this holy place<Bold>,</Bold> and the law<Bold>;</Bold></i>
            <i>14 for
                we have heard him say<Bold>,</Bold> that this Jesus of Nazareth shall destroy this
                place<Bold>,</Bold> and
                shall change the customs which Moses delivered us</i><Bold>".</Bold></Paragraph>
        <Paragraph> (Act 6<Bold>:</Bold>13-14)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>10 <i>Which thing I also did in Jerusalem<Bold>;</Bold> <Bold>and many of the saints
            did I
            shut up in prison,</Bold> having received authority from the chief priests<Bold>;</Bold> <Bold>and
            when they
            were put to death, I gave my voice against them.</Bold></i> 11 <i>And I punished them oft in every
            synagogue<Bold>,</Bold> and <Bold>compelled them to blaspheme;</Bold> and being exceedingly mad
            against them<Bold>,</Bold>
            I persecuted them even unto strange cities</i><Bold>".</Bold> (Act 26<Bold>:</Bold>10-11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>This is a faithful saying<Bold>,</Bold> and worthy of all
            acceptation<Bold>,</Bold> that
            Christ Jesus came into the world <Bold>to save sinners; of whom I am chief</Bold></i><Bold>".</Bold>
            (I Tim
            1<Bold>:</Bold>15)</Paragraph>
        <Paragraph> In this last passage Paul himself confesses that he is the first sinner<Bold>;</Bold>
            therefore<Bold>,</Bold> when he said <Bold>that touching the righteousness which is in the law he was
                blameless and irrepressible, he could not be referring to God's law for human behavior, but to the
                ritual
                law.</Bold> Not only do we deduce that Paul cannot be referring to behavioral law<Bold>,</Bold>
            but he
            himself confesses that <Bold>what he was a faithfully follower of was the traditions.</Bold> Let's
            see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>13 <i>For ye have heard of my conversation in time past in the Jews'
            religion<Bold>,</Bold> how
            that beyond measure <Bold>I persecuted the church of God, and wasted it;</Bold></i> 14 <i>and profited
            in the
            Jews' religion above many my equals in mine own nation<Bold>,</Bold> <Bold>being more exceedingly
                zealous of
                the traditions of my fathers</Bold></i><Bold>".</Bold> (Ga 1<Bold>:</Bold>13-14)</Paragraph>
        <Paragraph> It is clear in this passage<Bold>,</Bold> Paul persecuted God's church and destroyed
            it<Bold>;</Bold>
            <Bold>these are not the qualities of a man that is blameless in God's laws for human behavior.</Bold>
        </Paragraph>
        <Paragraph> Paul makes it clear that he was the most fanatic to the traditions<Bold>.</Bold> It is those traditions
            and the
            ritual laws that he is referring to when he says that the law is obsolete<Bold>,</Bold> not the behavior
            laws<Bold>.</Bold> We have to be very careful when we understand that Paul is saying something that is
            not in
            agreement with the rest of the Bible<Bold>.</Bold> In this case we can see that most of the
            times<Bold>,</Bold> the word <Bold>"</Bold>law<Bold>",</Bold> in Paul's mouth<Bold>,</Bold>
            means
            the ritual laws<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    