---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Christians can avoid the Great Tribulation">
    <section>
        <Paragraph><Bold>Christians can avoid the Great Tribulation</Bold></Paragraph>
        <Paragraph><Bold>God has always protected his people without removing them from the planet,</Bold> as happened in
            Egypt<Bold>;</Bold> and as is promised that will happen with the future Church of
            Philadelphia<Bold>.</Bold>
            It is true also<Bold>,</Bold> when we see that in Revelation He marks His own<Bold>,</Bold> so they
            are not
            affected by the <Bold>"</Bold>locust<Bold>"</Bold><Bold>.</Bold> And even when we see that He
            gives
            refuge in the wilderness to the <Bold>"</Bold>woman<Bold>"</Bold> that flees<Bold>,</Bold> which
            is the
            Church<Bold>.</Bold> Besides<Bold>,</Bold> <Bold>Christ personally tells us that we can
                escape,</Bold>
            when He tells us to pray that we may be considered worthy of avoiding that which will come<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Christians can avoid the Great Tribulation according to what Jesus says.</Bold> In
            truth<Bold>,</Bold>
            Christians can stay away from the Great Tribulation<Bold>.</Bold> If that were not the case the Lord
            would not
            have advised us to pray that we may be <Bold>held worthy to escape all these things.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Watch ye therefore<Bold>,</Bold> and pray always<Bold>,</Bold> <Bold>that ye
            may be
            accounted worthy to escape all these things that shall come to pass,</Bold> and <Bold>to stand before
            the Son of
            Man."</Bold></i> (Lk 21<Bold>:</Bold>36)</Paragraph>
        <Paragraph><Bold>By using the phrase "stand before the Son of Man",</Bold> he lets us see that in this verse Jesus
            is
            <Bold>referring to the last generation, just before his Second Coming; not to the generation of the
                Apostles.
                Referring to that generation which will see the Second Coming, He exhorts to pray and watch.</Bold> In
            other
            words<Bold>,</Bold> he advises to ask God<Bold>,</Bold> and to act accordingly<Bold>,</Bold> so
            that
            they may avoid the Great Tribulation and stand before Christ<Bold>.</Bold></Paragraph>
        <Paragraph> If such were not the case<Bold>,</Bold> that is<Bold>,</Bold> that the last generation of Christians
            could
            avoid the Great Tribulation<Bold>,</Bold> the Lord would not have urged us to pray requesting such a
            thing<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Jesus again mentions that Christians can avoid the antiChrist.</Bold> In Rev
            3<Bold>:</Bold>10<Bold>,</Bold> we see the Lord asserting again that the Church can be freed of the
            Great
            Tribulation<Bold>.</Bold> It is not an outlandish idea that Christians can avoid it<Bold>.</Bold>
            Notice
            that He is referring to end-time Christians</Paragraph>
        <Paragraph><Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Because thou hast kept the word of my patience<Bold>,</Bold> <Bold>I also will
            keep thee
            from the hour of temptation, which shall come upon all the world,</Bold> to try them that dwell upon the
            Earth</i><Bold>."</Bold>
            (Rev 3<Bold>:</Bold>10)</Paragraph>
        <Paragraph><Bold>When God protected his own people in Egypt, He did not have to remove them from there.</Bold> It is
            useful
            to remember<Bold>,</Bold> when we speak of the plagues that the Lord will send during times of
            Revelation<Bold>,</Bold> that <Bold>God protected his people thoroughly,</Bold> from the plagues
            that
            afflicted Egypt<Bold>.</Bold> We cannot be called optimists<Bold>,</Bold> if we expect that during
            the
            plagues of Revelation<Bold>,</Bold> the magnificent and absolute protection of God on His people will be
            repeated<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>And <Bold>I will sever in that day the land of Goshen, in which my people
            dwell,</Bold>
            that no swarms of flies shall be there<Bold>;</Bold> to the end thou mayest know that I am the LORD in
            the midst
            of the earth<Bold>.</Bold></i> 23 <i>And <Bold>I will put a division between my people and thy
            people;</Bold> to morrow shall this sign be</i><Bold>."</Bold> (Ex 8<Bold>:</Bold>22-23)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <Bold>And the LORD shall sever between the cattle of Israel and the cattle of
            Egypt;</Bold>
            <i>and there shall nothing die of all that is the children's of Israel<Bold>.</Bold></i> 5 <i>And the
                LORD
                appointed a set time<Bold>,</Bold> saying<Bold>,</Bold> To morrow the LORD shall do this thing
                in the
                land<Bold>.</Bold></i> 6 <i>And the LORD did that thing on the morrow<Bold>,</Bold> and all the
                cattle
                of Egypt died<Bold>:</Bold> <Bold>but of the cattle of the children of Israel died not
                    one</Bold></i><Bold>."</Bold> (Ex 9<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>25 <i>And <Bold>the hail smote throughout all the land of Egypt all that was in the
            field, both
            man and beast; and the hail smote every herb of the field, and brake</Bold> every tree of the
            field<Bold>.</Bold></i> <i>26 Only in the land of Goshen<Bold>,</Bold> <Bold>where the children of
            Israel
            were, was there no hail</Bold></i><Bold>."</Bold> (Ex 9<Bold>:</Bold>25-26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>They saw not one another<Bold>,</Bold> neither rose any from his place for three
            days<Bold>;</Bold> <Bold>but all the children of Israel had light in their
                dwellings</Bold></i><Bold>."</Bold> (Ex 10<Bold>:</Bold>23)</Paragraph>
        <Paragraph><Bold>From the reading of these portions, we see that the divine protection is full and complete.</Bold>
            Nowhere
            have we seen that His people in Egypt had suffered the same plagues that were being suffered by those around
            them<Bold>.</Bold> Not even the side effects of these plagues<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>This same thing will happen at the End of this Era, when the foretold plagues come.</Bold> The
            people of
            God shall be protected<Bold>,</Bold> at the very least<Bold>,</Bold> those that allow themselves to
            be
            protected<Bold>.</Bold> Those that persist on waiting for a <Bold>"</Bold>secret
            rapture<Bold>",</Bold>
            may not see the opportunity of escape<Bold>,</Bold> and will be prevented from getting refuge in the
            <Bold>"</Bold>wilderness<Bold>".</Bold></Paragraph>
        <Paragraph> At that future time<Bold>,</Bold> the best advice that Christians can receive is not to cling to their
            properties nor to others that may not want to leave for the <Bold>"</Bold>wilderness<Bold>"</Bold>
            that God
            provided<Bold>.</Bold> Not only that<Bold>,</Bold> but also in many cases they may have to leave
            without
            their material goods<Bold>,</Bold> leaving everything<Bold>,</Bold> so that the people surrounding
            them may
            not suspect that they are fleeing and not planning to return<Bold>,</Bold> and may try to retain
            them<Bold>.</Bold> Things like that I have seen in countries under tyrannies<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Where will the Christians that listen to God's voice and not sit to wait for the supposed Rapture
            previous to
            the Great Tribulation, find refuge?</Bold> We have already seen several biblical examples of how God
            always
            provides an escape for His own and a place of refuge<Bold>.</Bold> Where would that refuge during the
            Great
            Tribulation be<Bold>?</Bold> It will definitely be what in Rev 12<Bold>:</Bold>14 is called
            <Bold>"</Bold>the wilderness<Bold>".</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And to the woman were given <Bold>two wings of a great eagle,</Bold> that she might
            fly
            <Bold>into the wilderness,</Bold> into her place<Bold>,</Bold> where she is nourished for a
            time<Bold>,</Bold> and times<Bold>,</Bold> and half a time<Bold>,</Bold> from the face of the
            serpent</i><Bold>."</Bold> (Rev 12<Bold>:</Bold>14)</Paragraph>
        <Paragraph> It is not misguided to believe that in this portion of Revelation<Bold>,</Bold> the eagle that lends the
            woman
            its two wings<Bold>,</Bold> symbolizes a powerful government<Bold>,</Bold> since He does call it a
            <Bold>"great</Bold>
            eagle<Bold>".</Bold> The act of giving the two wings to the woman<Bold>,</Bold> can be due to that
            nation
            lending its power to facilitate the transfer of Christians to the refuge or
            <Bold>"</Bold>wilderness<Bold>"</Bold> prepared by God for them<Bold>.</Bold></Paragraph>
        <Paragraph> I do not believe that the transfer of the Christians would be something compulsory<Bold>.</Bold> In
            other
            words<Bold>,</Bold> that the Christians will be forced to go to the
            <Bold>"</Bold>wilderness<Bold>"</Bold> or refuge<Bold>.</Bold> But rather that they will allow
            them to
            go<Bold>.</Bold> Perhaps as a way of getting the more controversial citizens of that future society out
            of the
            way<Bold>.</Bold></Paragraph>
        <Paragraph> I also doubt that <Bold>all</Bold> the Christians will desire to be transferred to the wilderness or
            refuge<Bold>.</Bold> There may be thousands that for various motives will not desire to take refuge and
            will
            ignorantly prefer to remain in the society of the nascent antiChrist <Bold>.</Bold></Paragraph>
        <Paragraph>The possible motives that many may have in remaining where they are<Bold>,</Bold> could
            be<Bold>:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> They believe in Jesus<Bold>,</Bold> but <Bold>they are un-aware of the
            prophecies.</Bold>
            The propaganda that currently prepares the coming of the antiChrist will make them think that going to a
            <Bold>"</Bold>wilderness<Bold>"</Bold> to seek refuge is an exaggeration and a
            <Bold>"</Bold>fanaticism<Bold>".</Bold> Many will believe it<Bold>,</Bold> because those
            brothers have
            not read the Bible sufficiently<Bold>.</Bold> Ask the Christians you know what is the
            antiChrist<Bold>.</Bold> The majority do not know much about him and <Bold>confidently expect that
                they will
                be "secretly raptured" before the antiChrist and the Great Tribulation .</Bold></Paragraph>
        <Paragraph><Bold> b) Their emotions:</Bold> Christians in love with persons that does not wish to leave their nation<Bold>.</Bold>
            Christians that love their wealth and possessions and are holding on to them<Bold>.</Bold> Those that
            think they
            are too <Bold>"</Bold>clever<Bold>",</Bold> and figure they will be able to deal with problems
            without
            having to leave their place<Bold>.</Bold> Those that are afraid of starting a brand new life from
            scratch<Bold>.</Bold> The procrastinators that always leave everything for later<Bold>.</Bold> Those
            that do
            not want to separate from their unbelieving relatives<Bold>;</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>I am not talking of things that do not happen.</Bold> Each and every one of the examples just
            mentioned<Bold>,</Bold> were reasons why<Bold>,</Bold> in a certain country where tyranny
            reigned<Bold>,</Bold> hundreds of thousands remained which could have left on time and
            however<Bold>,</Bold>
            did not<Bold>.</Bold> Nevertheless<Bold>,</Bold> these that did not leave on time<Bold>,</Bold>
            would
            later torment their relatives in the United States desperately begging to be rescued from that
            hell<Bold>.</Bold> At that point it was either impossible or a huge sacrifice to do it<Bold>.</Bold>
            I am
            not talking of what I have been told<Bold>,</Bold> I am speaking of what<Bold>,</Bold> as a person
            who knew
            perfectly that country I saw<Bold>,</Bold> heard<Bold>,</Bold> and experienced<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c) Those that have God's duty</Bold> to fulfill in the place where they are<Bold>;</Bold> and
            those
            that do not have it<Bold>,</Bold> but think that they have it<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d) Those that disguise their true motives</Bold> to remain<Bold>,</Bold> with the pretext of
            the duty
            that they say they need to fulfill<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) Those that have two or more of the aforementioned motives,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph> I do not believe that all the Christians of the World will go to the refuge<Bold>,</Bold> due to the
            previously
            mentioned facts<Bold>.</Bold> Perhaps it may be only those that make up the description given in Rev
            3<Bold>:</Bold>7-13 (the Church at Philadelphia)<Bold>,</Bold> especially if we guide ourselves by
            the
            promise of verse 10 of that portion<Bold>,</Bold> <Bold>"</Bold>because you have kept the word of my
            patience<Bold>...".</Bold></Paragraph>
        <Paragraph> Something else to have in mind is that when it says that the woman will be given <Bold>two wings of a
            great eagle,
            it is referring to the times of the end.</Bold> In these days of the End there is only one powerful
            country that
            has as its national symbol the eagle<Bold>,</Bold> and that country is the United States of North
            America<Bold>.</Bold> It may be that this country may hold the
            <Bold>"</Bold>wilderness<Bold>"</Bold>
            which is spoken of by the prophecy<Bold>,</Bold> or it may be that the
            <Bold>"</Bold>wilderness<Bold>"</Bold> be elsewhere<Bold>,</Bold> but that the United States
            makes their
            power and means available to those that want to flee to a separate
            <Bold>"</Bold>wilderness<Bold>".</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    