---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Wedding of the Lamb">
    <Title>The Wedding of the Lamb</Title>

    <Tag>#135</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Weddings are a feast in which we all participate and enjoy.</Bold> Let us remember that the Rapture
            is the
            one that is said (without proof) occur <Bold>before</Bold> the Great Tribulation<Bold>,</Bold>
            whereas the
            Ingathering shall occur (according to the Bible) during the Second Coming of Christ.</Paragraph>
        <Paragraph> In all cultures of the world<Bold>,</Bold> weddings are meant to be celebrated with great
            joy<Bold>,</Bold>
            music<Bold>,</Bold> feasting and enjoyment. The joy is put aside only if by misfortune<Bold>,</Bold>
            before
            or during the wedding a tragedy occurs among the family of the couple.</Paragraph>
        <Paragraph> The Wedding of the Lamb shall be something unforgettable for those of us that are Christians. A true moment
            of real
            joy<Bold>,</Bold> a time in which no suffering or thought will come to make us sad.</Paragraph>
        <Paragraph><Bold>When shall the Wedding of the Lamb happen according to the doctrine that says the Rapture will happen
            before
            the GT.</Bold> According to what I have always heard from the brethren which discuss this matter with
            me<Bold>,</Bold> the Christians that were raptured shall be happily enjoying the Wedding of the
            Lamb<Bold>,</Bold> in Heaven<Bold>,</Bold> during the same time that other Christians suffer
            horribly the
            Great Tribulation on Earth. The antiChrist and his followers murder<Bold>,</Bold> burnt at the
            stake<Bold>,</Bold> crucify<Bold>,</Bold> etc.<Bold>,</Bold> the Christians on
            Earth<Bold>,</Bold>
            while we are enjoying a good old time up in Heaven. This without our being a bit concerned with what is
            happening to
            our brethren. <Bold>Does this sounds logical? Do you truly believe this is what Jesus planned for his
                wedding
                day?</Bold></Paragraph>
        <Paragraph> Not only would that be bad enough<Bold>;</Bold> but if the Rapture were true to occur before the
            GT<Bold>,</Bold> then we would have that those poor martyred and murdered Christians during the Great
            Tribulation<Bold>,</Bold> would never get to partake of the Wedding of the Lamb. This because they would
            not
            have their resurrection until after the quite public Second Coming of Christ. And by then the Wedding of the
            Lamb
            would have passed.</Paragraph>
        <Paragraph><Bold>What's more, since the Rapture hypothesis falsely asserts that it will happen before the opening of
            the First
            Seal,</Bold> and given that in the Fifth Seal we see the souls of those slain on the Earth because of the
            witness
            of Jesus<Bold>,</Bold> we would have to conclude that in spite of these souls being in
            Heaven<Bold>,</Bold>
            they could not participate in the Wedding feast<Bold>,</Bold> but rather see them from far away. This
            due to the
            passage that states that these martyrs have to wait for the rest that shall be killed. Not light fare is
            it<Bold>!</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>And <Bold>when he had opened the fifth seal,</Bold> I saw under the altar <Bold>the
            souls of them that were slain for the word of God,</Bold> and for the testimony which they held.</i> 10
            <i>And
                they cried with a loud voice<Bold>,</Bold> saying<Bold>:</Bold> <Bold>How long, O Lord, holy
                    and true,
                    dost thou not judge and avenge our blood on them that dwell on the Earth?</Bold></i> 11 <i>And
                white robes
                were given unto every one of them<Bold>;</Bold> and it was said unto them<Bold>,</Bold> that
                they should
                rest yet for a little season<Bold>,</Bold> <Bold>until their fellow servants also and their
                    brethren, that
                    should be killed as they were, should be fulfilled</Bold></i>.<Bold>"</Bold> (Rev
            6<Bold>:</Bold>9-11)
        </Paragraph>
        <Paragraph> To these martyrs of the Great Tribulation the doctrine of the Rapture denies their position in Christ's
            Church. How
            could it be possible that they would not belong to His Church<Bold>,</Bold> when it is Christ himself
            who is
            with them in Heaven<Bold>?</Bold></Paragraph>
        <Paragraph><Bold> When shall the Wedding of the Lamb be, according to the Bible.</Bold> From what part of the Bible
            the
            doctrine of the Rapture has gotten the idea that the Wedding of the Lamb shall be celebrated during the
            Great
            Tribulation. I do not know. <Bold>In spite of repeatedly asking my friends that believe in the Rapture,
                they
                cannot tell me on what passage they base themselves to believe such a thing.</Bold> The only thing
            that I can
            gather is that these brothers believe it because they were told by others<Bold>,</Bold> which
            <Bold>"</Bold>others<Bold>"</Bold>
            I have not been able to ask<Bold>,</Bold> because they are not available for this discussion.</Paragraph>
        <Paragraph> In addition<Bold>,</Bold> they have brought me books<Bold>,</Bold> but when I ask them to tell me in
            what
            part of the book the author shows the biblical origin of the concept<Bold>,</Bold> they still cannot
            point it
            out. No one seems to know<Bold>,</Bold> but all seem to <Bold>"</Bold>firmly<Bold>"</Bold>
            believe it.
            It is the sad tendency towards dogma<Bold>,</Bold> very common among those religious persons.</Paragraph>
        <Paragraph><Bold>The only two places that I have seen reference to the Wedding of the Lamb</Bold> are Revelation
            19<Bold>:</Bold>7-9 and 21<Bold>:</Bold>9<Bold>,</Bold> and both verses are quite after the
            Great
            Tribulation. Let's see.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Let us be glad and rejoice<Bold>,</Bold> and give honour to him<Bold>,</Bold>
            <Bold>for
                the marriage of the Lamb is come, and his wife hath made herself ready.</Bold></i> 8 <i>And to her was
            granted
            that she should be arrayed in fine linen<Bold>,</Bold> clean and white<Bold>;</Bold> for the fine
            linen is
            the righteousness of saints.</i> 9 <i>And he saith unto me<Bold>:</Bold> Write<Bold>:</Bold>
            <Bold>Blessed
                are they which are called unto the marriage supper of the Lamb.</Bold> And he saith unto
            me<Bold>:</Bold>
            These are the true sayings of God</i>.<Bold>"</Bold> (Rev 19<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And there came unto me one of the seven angels which had the seven vials full of the
            seven last
            plagues<Bold>,</Bold> and talked with me<Bold>,</Bold> saying<Bold>,</Bold> Come
            hither<Bold>,</Bold> <Bold>I will shew thee the bride, the Lamb's wife</Bold></i><Bold>."</Bold>
            (Rev 21<Bold>:</Bold>9)
        </Paragraph>
        <Paragraph> Already for the time mentioned in these two portions<Bold>,</Bold> the Seven Bowls of the Wrath of God
            were
            poured upon the Earth. This is easy to show because in Revelation 16<Bold>:</Bold>17 we see that the
            seventh and
            last bowl has been poured. In 19<Bold>:</Bold>2 we see that the Great Harlot has been
            judged<Bold>,</Bold>
            and that God had avenged the blood of His servants at her hand. Hence<Bold>,</Bold> the Great
            Tribulation is
            finished. However<Bold>,</Bold> we see in verse 7 of this same chapter<Bold>,</Bold> that the
            Wedding of the
            Lamb has not yet taken place. From there we can deduce<Bold>,</Bold> without much mental
            effort<Bold>,</Bold> that the Wedding of the Lamb comes after the Great Tribulation<Bold>,</Bold>
            and after
            the destruction of the Great Harlot<Bold>,</Bold> not as the doctrine of the Rapture before the GT
            proclaims.
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And <Bold>the seventh angel poured out his vial</Bold> into the
            air<Bold>;</Bold> and
            there came a great voice out of the temple of heaven<Bold>,</Bold> from the throne<Bold>,</Bold>
            saying<Bold>,</Bold> It is done</i>.<Bold>"</Bold> (Rev 16<Bold>:</Bold>17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <Bold>And after these things</Bold> <i>I heard a great voice of much people in heaven<Bold>,</Bold>
            saying<Bold>:</Bold> Alleluia<Bold>;</Bold> Salvation<Bold>,</Bold> and glory<Bold>,</Bold>
            and
            honour<Bold>,</Bold> and power<Bold>,</Bold> unto the Lord our God<Bold>;</Bold></i> 2 <i>for
            true and
            righteous are his judgments<Bold>;</Bold> for <Bold>he hath judged the great whore,</Bold> which did
            corrupt
            the Earth with her fornication<Bold>,</Bold> <Bold>and hath avenged the blood of his servants at her
                hand.</Bold></i> 3 <i>And again they said<Bold>:</Bold> Alleluia. And her smoke rose up for ever
            and ever.</i>
            4 <i>And the four and twenty elders and the four beasts fell down and worshipped God that sat on the
                throne<Bold>,</Bold> saying<Bold>,</Bold> Amen<Bold>;</Bold> Alleluia</i>.<Bold>"</Bold>
            (Rev 19<Bold>:</Bold>1-4)
        </Paragraph>
        <Paragraph><Bold>Another item to thoughtfully consider is that in verse 6 it says that God has reigned,</Bold> and
            later
            that we should rejoice because the Wedding of the Lamb <Bold>is going</Bold> to be celebrated. It's not
            hard to
            realize that <Bold>if God has taken the Kingdom, the Great Tribulation must have concluded. And if after
                God takes
                the Kingdom, the Wedding of the Lamb is then celebrated, this means that they have not been celebrated
                before.</Bold> This in turn means that the wedding happens after the Great
            Tribulation<Bold>,</Bold> not
            during the seven years<Bold>,</Bold> as the <Bold>"</Bold>secret rapture<Bold>"</Bold>
            hypothesis
            claims.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>5 <i>And a voice came out of the throne<Bold>,</Bold> saying<Bold>:</Bold> Praise
            our
            God<Bold>,</Bold> all ye his servants<Bold>,</Bold> and ye that fear him<Bold>,</Bold> both
            small and
            great. 6 And I heard as it were the voice of a great multitude<Bold>,</Bold> and as the voice of many
            waters<Bold>,</Bold> and as the voice of mighty thunderings<Bold>,</Bold> saying<Bold>,</Bold>
            <Bold>Alleluia:
                for the Lord God omnipotent reigneth.</Bold> 7 Let us be glad and rejoice<Bold>,</Bold> and give
            honour to
            him<Bold>:</Bold> <Bold>for the marriage of the Lamb is come, and his wife hath made herself
                ready.</Bold> 8
            And to her was granted that she should be arrayed in fine linen<Bold>,</Bold> clean and
            white<Bold>;</Bold>
            for the fine linen is the righteousness of saints</i>.<Bold>"</Bold> (Rev 19<Bold>:</Bold>5-8)</Paragraph>
        <Paragraph> As we see<Bold>,</Bold> the only places in the Bible that speak of the Wedding of the Lamb it implies
            that the
            Great Tribulation is past. Hence<Bold>,</Bold> <Bold>the hypothesis of the Rapture before the GT is
                totally
                erroneous in claiming that the wedding will occur during the Great Tribulation.</Bold></Paragraph>
        <Paragraph> If we look again at the first portion (Revelation 19<Bold>:</Bold>7-9)<Bold>,</Bold> we see that at
            the end
            it says<Bold>:</Bold> <Bold>"<i>Blessed are they which are called unto the marriage supper of the
                Lamb</i>"</Bold>. From this it can be implied that those not called to the marriage supper of the Lamb<Bold>,</Bold>
            are not blessed.</Paragraph>
        <Paragraph> Since according to the confusing doctrine of the Rapture<Bold>,</Bold> the wedding occurs during the
            Great
            Tribulation<Bold>,</Bold> it becomes evident that <Bold>the unfortunate brethren that suffer during
                this
                period cannot participate of the wedding supper and hence are not blessed.</Bold> In other words this
            heresy
            has excluded them de-facto from their blessing. You have to trample logic and excessively twist Scripture to
            match
            the doctrine of the Rapture<Bold>!</Bold></Paragraph>
        <Paragraph> If you want to have a deeper understanding of the mistakes of the heretical doctrine of the rapture before
            the
            GT<Bold>,</Bold> read my book <Bold>"</Bold>Rapture Vs Ingathering or Fiction Vs
            Reality<Bold>",</Bold>
            which is found in this web site. Big companies make millions selling books<Bold>,</Bold>
            videos<Bold>,</Bold> etc..<Bold>,</Bold> proclaiming the heretical doctrine of the rapture before
            the GT.
            Can rectify his mistake whoever loses millions to rectify<Bold>?</Bold> Yes<Bold>,</Bold> they
            can<Bold>,</Bold> but he would love God more than their egos and their pockets.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    