---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Don't call 'trials' the consequences of your sins and errors">
    <Content>
        <Paragraph><Bold>One of the several methods our spiritual enemies use to oppose our sanctification is making us
            believe that
            the consequences of our sins are just "trials"</Bold></Paragraph>
        <Paragraph> God tried men of the caliber of Job<Bold>;</Bold> the Lord would not bother himself to try men like
            me<Bold>,</Bold> who would disappoint him<Bold>.</Bold> Job was a man worthy of being
            tried<Bold>,</Bold> which is why God used him to embarrass Satan<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>God does not try his creatures in order for Him to know how they are, but so that other creatures
            know
            it.</Bold> There are some who believe that the bad things that can happen to a human are
            "trials"<Bold>,</Bold> so that God may know how we would react under certain
            circumstances<Bold>.</Bold>
            There is no such thing<Bold>.</Bold> When God permits trials<Bold>,</Bold> it is to inform others of
            our
            reactions<Bold>.</Bold> The best case in which to study this issue is with Job<Bold>.</Bold> This
            man was
            not put to the test so that God would know how he would react<Bold>;</Bold> God knew that
            beforehand<Bold>.</Bold> Job was tried to demonstrate to Satan how creatures that were of a lower
            category than
            an angel<Bold>,</Bold> were obedient and grateful with God even in adverse
            circumstances<Bold>.</Bold> God
            allowed the trial that Job suffered<Bold>,</Bold> in order to demonstrate Job's loyalty to God in spite
            of what
            he was going through<Bold>.</Bold></Paragraph>
        <Paragraph> Satan is a creature that in spite of having had greatness and privileges rebelled against
            God<Bold>,</Bold>
            because he wanted even more<Bold>.</Bold> That is why God<Bold>,</Bold> who knew perfectly well how
            Job was
            going to react<Bold>,</Bold> allowed Satan to deprive him of all he had<Bold>.</Bold> I say that God
            knew
            how Job was going to react<Bold>,</Bold> because in 1<Bold>:</Bold>8<Bold>,</Bold> when God
            speaks with
            Satan about Job<Bold>,</Bold> says there was none like him in the Earth<Bold>,</Bold> that he is his
            servant
            and that he was a perfect and upright man<Bold>,</Bold> fearful of God and eschew evil<Bold>.</Bold>
            <Bold>If God thought that way about Job, it is evident that he was not trying to see how Job was,</Bold>
            but he
            was using Job to give a lesson in fidelity to Satan<Bold>.</Bold> God used Job to demonstrate how a
            creature of
            lesser level than Satan<Bold>,</Bold> was capable of continuing his faithfulness even if everything he
            had was
            taken from him and even if he suffered a bitter ailment<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>It was a great honor to Job to have been able to serve God in order to show Satan a lesson in
            loyalty.</Bold> The trial was the hardest ever known<Bold>,</Bold> but the honor of having served God
            in this
            matter<Bold>,</Bold> is the greatest reward a man could obtain<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "6 <i>Now there was a day when the sons of God came to present themselves before the LORD<Bold>,</Bold>
            and
            Satan came also among them<Bold>.</Bold></i> 7 <i>And the LORD said unto Satan<Bold>,</Bold> Whence
            comest
            thou<Bold>?</Bold> Then Satan answered the LORD<Bold>,</Bold> and said<Bold>,</Bold> From going
            to and
            fro in the earth<Bold>,</Bold> and from walking up and down in it<Bold>.</Bold></i> 8 <Bold>And
            the LORD
            said unto Satan, Hast thou considered my servant Job, that there is none like him in the Earth, a perfect
            and an
            upright man, one that feareth God, and escheweth evil?</Bold></Paragraph>
        <Paragraph>9 <i>Then Satan answered the LORD<Bold>,</Bold> and said<Bold>,</Bold> Doth Job fear God for
            nought<Bold>?</Bold></i> 10 <i>Hast not thou made an hedge about him<Bold>,</Bold> and about his
            house<Bold>,</Bold> and about all that he hath on every side<Bold>?</Bold> thou hast blessed the
            work of his
            hands<Bold>,</Bold> and his substance is increased in the land<Bold>.</Bold></i> 11 <i>But put forth
            thine
            hand now<Bold>,</Bold> and touch all that he hath<Bold>,</Bold> and he will curse thee to thy
            face<Bold>.</Bold></i> 12 <Bold>And the LORD said unto Satan:</Bold> <i>Behold<Bold>,</Bold> all
            that he
            hath is in thy power<Bold>;</Bold> only upon himself put not forth thine hand<Bold>.</Bold> So Satan
            went
            forth from the presence of the LORD</i><Bold>.</Bold>" (Job 1<Bold>:</Bold>6-12)</Paragraph>
        <Paragraph><Bold>God never needs to try a person with the objective of knowing who that person is.</Bold> He knows
            how it is
            and how each person is going to react<Bold>.</Bold> When God allows a trial over a human it is to prove
            to
            others how that person behaves in that trial<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Some believers, erroneously, call them "trials" to the logical consequences of their sins and
            errors.</Bold> God is not sending "trials" to these people<Bold>,</Bold> they are too weak for that
            and if
            that were so<Bold>,</Bold> they would shatter<Bold>.</Bold> They are suffering the consequences of
            their
            actions<Bold>.</Bold> God only permits that type of trial in persons with the quality of
            Job<Bold>,</Bold>
            because He knows that those that do not possess that quality will make him look bad if he tries
            them<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Remember,</Bold> <Bold>do not confuse the consequences of your sins and errors with trials like
            Job's,</Bold> unless God can say that there is none like you in the Earth<Bold>,</Bold> because you
            are
            perfect<Bold>,</Bold> righteous<Bold>,</Bold> fearful of God and apart from evil<Bold>.</Bold>
            If you
            are not of that caliber<Bold>,</Bold> don't flatter yourself believing that your sorrows are
            trials<Bold>.</Bold> Avoid becoming vain<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>True trials come from serving Christ knowingly.</Bold> There are many believers that suffer the
            consequences of their sins<Bold>,</Bold> errors and insensibilities<Bold>,</Bold> but they take
            comfort in
            saying "they are trials" God gives them<Bold>.</Bold> Upon saying something so pointless the only thing
            they
            gain is to deceive themselves and all of those to whom they say it to<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The trials that Peter refers to in the following passage originate because of our honest, sensible
            and
            appropriate service to Christ not our stupidities, mistakes, sins or superstitions.</Bold> True trials are
            bad
            things that occur for doing the right thing in the eyes of God<Bold>,</Bold> like when Paul was whipped
            in
            Philippi for casting a demon from a young slave woman<Bold>,</Bold> or when he was stoned for preaching
            the
            gospel<Bold>.</Bold> That the true trials come from serving God<Bold>,</Bold> is manifested in the
            fact that
            in verse 14 of the passage in question what is said is "If ye be reproached for the name of
            Christ…"<Bold>;</Bold> it is to say that true trials come as a consequence of the name of
            Christ<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "12 <i>Beloved<Bold>,</Bold> <Bold>think it not strange concerning the fiery trial which is to try
            you,</Bold> as though some strange thing happened unto you<Bold>:</Bold></i> 13 <i>But</i>
            <i>rejoice<Bold>,</Bold> inasmuch as ye are partakers of Christ's sufferings<Bold>;</Bold>
                that<Bold>,</Bold> when his glory shall be revealed<Bold>,</Bold> ye may be glad also with
                exceeding joy<Bold>.</Bold></i>
            14 <Bold>If ye be reproached for the name of Christ,</Bold> <i>happy are ye<Bold>;</Bold> for the
                spirit of
                glory and of God resteth upon you<Bold>;</Bold> on their part he is evil spoken of<Bold>,</Bold>
                but on
                your part he is glorified<Bold>.</Bold></i> 15 <i>But let <Bold>none of you suffer as a murderer,
                or as a
                thief, or as an evildoer, or as a busybody in other men's matters.</Bold></i> 16 <Bold>Yet if any
                man suffer
                as a Christian,</Bold> <i>let him not be ashamed<Bold>;</Bold> but let him glorify God on this
                behalf</i><Bold>.</Bold>" (I P 4<Bold>:</Bold>12-16)</Paragraph>
        <Paragraph> What I said previously is further confirmed in verse 15<Bold>,</Bold> upon saying that none should
            endure as a
            murderer<Bold>,</Bold> thief<Bold>,</Bold> etc<Bold>.;</Bold> reaffirming in 16 when it says
            "Yet when
            any man suffer as a Christian…"<Bold>.</Bold> It is clearly shown that what Peter was referring to is
            not what
            many today call "trials"<Bold>,</Bold> but the real trial which originates in the correct service to God<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>If a Christian knocks on a neighbor's door at five in the morning to preach the gospel and the
            neighbor slaps
            him,</Bold> do not say that this is a "trial"<Bold>,</Bold> because this is merely a consequence of
            his
            stupidity<Bold>.</Bold></Paragraph>
        <Paragraph> Others go through life drunk and at the age of fifty convert to Christ and don't drink
            anymore<Bold>.</Bold>
            Later they get cirrhosis and say that it is a "trial"<Bold>.</Bold> These are not
            trials<Bold>;</Bold> they
            are a consequence of your past sin<Bold>.</Bold> Others have beliefs that are not based on the
            Bible<Bold>,</Bold> but pseudo-Christian superstitions<Bold>.</Bold> For example<Bold>,</Bold>
            they
            believe that if they carry the Bible with them<Bold>,</Bold> they will be protected from all harm as if
            the book
            were an amulet<Bold>.</Bold> They later go towards an evidently harmful place with the Bible in their
            hands and
            when something that was bound to happen to them occurs<Bold>,</Bold> say that these are "trials"</Paragraph>
        <Paragraph> True trials always occur due to our service to God in the correct form<Bold>,</Bold> not due to our
            stupidity<Bold>,</Bold> sins<Bold>,</Bold> mistakes<Bold>,</Bold> false
            beliefs<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>It is human foolishness that cannot, or better yet, does not want to link the sufferings of life with
            the
            sins that are committed.</Bold></Paragraph>
        <Paragraph><Bold>A Christian wanting to continue in a sin he likes, without losing his salvation,</Bold> sometimes
            deceives
            himself by pretending that he does not believe that what he is doing is sin<Bold>;</Bold> and refusing
            to admit
            that there is a connection between what he is going through and his sin<Bold>.</Bold> If he admitted
            that
            link<Bold>,</Bold> it would convince him that God is telling him that what he is doing is
            sin<Bold>;</Bold>
            and then continue to sin although the divine message<Bold>,</Bold> could cost him his
            salvation<Bold>,</Bold> which he does not want to lose<Bold>.</Bold> That's why he doesn't admit
            that
            linkage and refuse to believe that doctrine<Bold>.</Bold></Paragraph>
        <Paragraph> They try make believe on the one hand that they are doing right<Bold>,</Bold> and don't do anything that
            would
            cause them their suffering<Bold>;</Bold> and on the other hand<Bold>,</Bold> that they are suffering
            inexplicably and mysteriously bitter sorrows "to try" them<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    