---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Fidelity in adversity, and joy">
    <Title>Fidelity in adversity, and joy</Title>

    <Tag>#139</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> It is easy for anyone to be faithful to the one who filled him with blessings and
            protection<Bold>.</Bold>
            Furthermore<Bold>,</Bold> that was the reason Satan gave in order to explain<Bold>,</Bold> according
            to his
            reasoning<Bold>,</Bold> the fidelity of Job (Job 1<Bold>:</Bold>9-11)<Bold>.</Bold>
            However<Bold>,</Bold> it requires immense fidelity towards God<Bold>,</Bold> to obey Him when
            obeying
            delivers setbacks<Bold>,</Bold> injustice and even bitterness<Bold>.</Bold></Paragraph>
        <Paragraph> Job as much as Joseph<Bold>,</Bold> the son of Jacob<Bold>,</Bold> was the type of men that were
            faithful
            even though their fidelity would cause inexplicable bitterness<Bold>.</Bold> In the particular case of
            Joseph<Bold>,</Bold> it is important to note that <Bold>Satan tried to annul the future preservation
                of the
                sons of Jacob, who God was going to bring to Egypt, through the simple process of morally invalidating
                the key
                ingredient God was going to utilize: Joseph.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And it came to pass after these things<Bold>,</Bold> that his master's wife cast
            her eyes
            upon Joseph<Bold>;</Bold> and she said<Bold>:</Bold> Lie with me<Bold>.</Bold></i> 8 <i>But he
            refused<Bold>,</Bold> and said unto his master's wife<Bold>,</Bold> <Bold>Behold, my master
                wotteth not
                what is with me in the house, and he hath committed all that he hath to my hand.</Bold></i> 9
            <i>There</i> <i>is
                none greater in this house than I<Bold>;</Bold> neither hath he kept back anything from me but
                thee<Bold>,</Bold> because thou art his wife<Bold>,</Bold> <Bold>how then can I do this great
                    wickedness,
                    and sin against God</Bold></i><Bold>?"</Bold> (Gen 39<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> Because of his fidelity towards God<Bold>,</Bold> Joseph suffered the slander of the wife of the guards'
            captain
            and ended up in prison<Bold>.</Bold> Even in prison<Bold>,</Bold> God blessed him and he became the
            supervisor of all the prisoners<Bold>.</Bold> In addition<Bold>,</Bold> he left prison to the joy of
            becoming the chief of all of Egypt<Bold>,</Bold> superseded only by Pharaoh himself<Bold>.</Bold>
            Above
            all<Bold>,</Bold> which is most important<Bold>,</Bold> he experienced the joy of knowing that God
            had used
            him to save his family and the people who would bring forth the Messiah<Bold>.</Bold></Paragraph>
        <Paragraph> Perhaps<Bold>,</Bold> prior to a man receiving a great commission or divine charge<Bold>,</Bold>
            Satan<Bold>,</Bold> upon suspecting or knowing God's plans for that person<Bold>,</Bold> will try to
            sift
            him like wheat<Bold>,</Bold> like he did with the Apostles<Bold>,</Bold> according to Luke
            22<Bold>:</Bold>31<Bold>.</Bold> From this<Bold>,</Bold> we can deduce that this abominable
            being
            requested direct intervention in the lives of the Apostles in order to cause them
            sullenness<Bold>.</Bold> We
            can rightfully say that nowadays he or his spiritual henchmen can do the same directly or through human
            beings which
            are fitting<Bold>.</Bold></Paragraph>
        <Paragraph> In times prior to the crucifixion<Bold>,</Bold> since these abominable beings had direct access to
            God<Bold>,</Bold> they asked for permission<Bold>,</Bold> because they could do nothing on their own
            volition<Bold>.</Bold> Nowadays<Bold>,</Bold> since they were cast from heaven and do not have
            direct
            contact with God<Bold>,</Bold> they can only utilize the implicit right granted to all
            creatures<Bold>,</Bold> since the beginning of time<Bold>,</Bold> and which is to propose their
            ideas to
            others<Bold>.</Bold> They cannot go beyond the laws which God has established concerning their
            temptation of
            humans<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    