---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The promises of God are not unconditional">
    <section>
        <Paragraph><Bold>The promises of God are not unconditional</Bold></Paragraph>
        <Paragraph> There are those who believe that the promises which God makes in Scripture <Bold>must be
            fulfilled</Bold> by God<Bold>,</Bold>
            without a care about our behavior<Bold>.</Bold> <Bold>I have not seen in the entire Bible one solitary
                divine
                promise that does not have an explicit or implicit condition.</Bold> Some believe that they can
            <Bold>"</Bold>claim<Bold>"</Bold> a promise and that is all that is necessary<Bold>.</Bold> We
            will see
            some promises in order to show that there is always a conditional <Bold>"</Bold>if<Bold>"</Bold> in
            them<Bold>.</Bold></Paragraph>
        <Paragraph> Many believers think that once God promises something<Bold>,</Bold> they can behave in any
            way<Bold>,</Bold>
            because God is <Bold>obliged</Bold> to fulfill his promises in any event<Bold>.</Bold> What they
            don't
            realize is that although at times a verse of the Bible has a promise and not a condition
            required<Bold>,</Bold>
            much later in another verse they have not read or have not wanted to understand<Bold>,</Bold> is the
            condition
            God required for the fulfillment of that promise to take place<Bold>.</Bold> It would be good for those
            who
            believe that the promises of God are unconditional<Bold>,</Bold> to review all the verses where there
            are
            promises and look for the references to other verses so they can see that in order to obtain that
            promise<Bold>,</Bold> we must act in accordance with something on our part<Bold>,</Bold> even if
            that is
            only having faith<Bold>.</Bold> Let us see what the following verses say<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And ye shall be left few in number<Bold>,</Bold> whereas ye were as the stars of
            heaven for
            multitude<Bold>;</Bold> <Bold>because thou wouldest not obey</Bold> the voice of the LORD thy
            God</i><Bold>."</Bold> (Deut<Bold>.</Bold> 28<Bold>:</Bold>62)</Paragraph>
        <Paragraph> This verse refers to the promise that the Jewish people would be as numerous as the stars<Bold>.</Bold>
            However<Bold>,</Bold> it is here where it is recorded that <Bold>this promise would be fulfilled if
                they
                obeyed,</Bold> not if they disobeyed the commandments of God<Bold>.</Bold> In other
            words<Bold>,</Bold> the promise was not unconditional<Bold>.</Bold></Paragraph>
        <Paragraph> There are many who have the foolish notion that after God makes a promise<Bold>,</Bold> they can do
            whatever
            they want because they believe that God <Bold>is obligated to fulfill what they imagine is His
                Word.</Bold> When
            they read in the Bible a promise made by God<Bold>,</Bold> they only pay attention to or only remember
            the part
            which is most advantageous or beneficial to them<Bold>,</Bold> not the implicit or explicit conditions
            God has
            ordained for the fulfillment of His promise<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>And an angel of the LORD came up from Gulag to Bochum<Bold>,</Bold> and
            said<Bold>,</Bold> I made you to go up out of Egypt<Bold>,</Bold> and have brought you unto the land
            which I
            swore unto your fathers<Bold>;</Bold> and <Bold>I said, I will never break my covenant with
                you.</Bold></i>
            2 <Bold>And ye shall make no league with the inhabitants of this land;</Bold> <i>ye shall throw down
                their
                altars<Bold>;</Bold> <Bold>but ye have not obeyed my voice;</Bold> why have ye done
                this<Bold>?</Bold></i> 3 <i>Wherefore I also said<Bold>,</Bold> I will not drive them out from
                before
                you<Bold>;</Bold> but they shall be as thorns in your sides<Bold>,</Bold> and their gods shall
                be a
                snare unto you</i><Bold>."</Bold> (Judges 2<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph> In this verses<Bold>,</Bold> God said that he would never invalidate His covenant (which is the part
            they want
            to remember)<Bold>,</Bold> on the condition that they not form an alliance with the enemy (which is the
            part
            they do not want to remember)<Bold>.</Bold> Many Christians proceed in this manner now<Bold>.</Bold>
            They
            remember that Christ liberated us from all sin<Bold>,</Bold> <Bold>but they do not want to remember
                that it is
                necessary to repent wholeheartedly</Bold> of their sin and not continue to commit the
            sin<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>In the 16th and 17th century, there were corsairs and pirates.</Bold> Both dedicated themselves to
            attacking ships at sea in order to kill and rob<Bold>.</Bold> The difference between a corsair and a
            pirate is
            that the latter acted for himself<Bold>,</Bold> while the corsair was sent to pilfer ships belonging to
            an enemy
            nation they were at war with<Bold>.</Bold> In other words<Bold>,</Bold> the pirate was a bandoleer
            on his
            own<Bold>,</Bold> he did not represent any nation and no one backed him up<Bold>.</Bold> The corsair
            was a
            bandoleer authorized by the government of his country<Bold>,</Bold> he served his nation whereby he
            obtained
            what is known as <Bold>"</Bold>Letters of Marque<Bold>"</Bold> which was a license to
            assault<Bold>,</Bold> kill and rob enemy ships<Bold>.</Bold></Paragraph>
        <Paragraph> When God makes a promise<Bold>,</Bold> he does not give us a <Bold>"</Bold>Letter of
            Marque<Bold>"</Bold> that allows us to do whatever we want<Bold>,</Bold> with the assurance that God
            is
            <Bold>obligated</Bold> to fulfill His word<Bold>.</Bold> See below<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Neither will I any more remove the foot of Israel from out of the land which I have
            appointed
            for your fathers<Bold>;</Bold> <Bold>so that they will take heed to do all that I have commanded
                them,</Bold> according to the whole law and the statutes and the ordinances by the hand of
            Moses</i><Bold>."</Bold> (II Chronicles 33<Bold>:</Bold>8)</Paragraph>
        <Paragraph><Bold>It is similar with salvation.</Bold> Christ did all the work for us<Bold>,</Bold> we simply
            have to
            accept it<Bold>;</Bold> but we should not believe that we have a Letter of Marque to continue sinning
            voluntarily and not lose it<Bold>.</Bold> Like all of God's promises<Bold>,</Bold> <Bold>salvation
                has its
                conditions: the true and profound repentance of sin,</Bold> something that a person who continually
            repeats
            voluntarily his sin cannot have<Bold>.</Bold></Paragraph>
        <Paragraph> The following verse shows David explaining to his son<Bold>,</Bold> Solomon<Bold>,</Bold> how the
            promise
            made by God had conditions<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>That the LORD may continue his word which he spake concerning me<Bold>,</Bold>
            saying<Bold>:</Bold> <Bold>If thy children take heed</Bold> to their way<Bold>,</Bold> to walk
            before me
            in truth with all their heart and with all their soul<Bold>,</Bold> there shall not fail thee a man on
            the
            throne of Israel</i><Bold>."</Bold> (I K 2<Bold>:</Bold>4)</Paragraph>
        <Paragraph> Note that God said to David<Bold>,</Bold> <Bold>"If thy children take heed to their
            way</Bold>…<Bold>",</Bold> <Bold>in which case means that if they do not heed their way, the promise
            would
            not be fulfilled.</Bold> We see it again in I Kings 3<Bold>:</Bold>14<Bold>,</Bold>
            6<Bold>:</Bold>12-13
            and 9<Bold>:</Bold>4-5<Bold>.</Bold> Do not be deceived<Bold>,</Bold> not even those who are
            great in
            the faith received promises without conditions<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The promises of our Lord Jesus Christ,</Bold> like his Father's<Bold>,</Bold> are conditional
            as
            well<Bold>.</Bold> For example<Bold>,</Bold> in Matthew 6<Bold>:</Bold>14<Bold>,</Bold>
            Christ
            says<Bold>,</Bold> <Bold>"</Bold>…<Bold>if</Bold> ye forgive men their
            trespasses<Bold>,</Bold> your
            heavenly Father will also forgive you<Bold>",</Bold> which means that if we do not
            forgive<Bold>,</Bold> we
            will not be forgiven<Bold>.</Bold> As we see<Bold>,</Bold> the <Bold>"if"</Bold> is conditional
            and
            states that the promise has conditions<Bold>.</Bold></Paragraph>
        <Paragraph> If we read Matthew 17<Bold>:</Bold>20<Bold>,</Bold> we will note that the promise of being able to
            remove a
            mountain to yonder place depended on faith the size of a grain of mustard<Bold>.</Bold> That's why it
            says<Bold>,</Bold> <Bold>"</Bold>…<Bold>if</Bold> <i>ye have faith as a grain of mustard
                seed</i>…<Bold>"</Bold> Another example is in Matthew 18<Bold>:</Bold>19 where God
            promises<Bold>,</Bold> <Bold>"</Bold>Again I say unto you<Bold>,</Bold> that <Bold>if</Bold>
            two of
            you shall agree on Earth <Bold>as touching anything that they shall ask,</Bold> it shall be done for
            them of my
            Father which is in heaven<Bold>."</Bold> This is not unconditional<Bold>.</Bold></Paragraph>
        <Paragraph> In Jesus Christ's letters to the Seven Churches<Bold>,</Bold> there are <Bold>conditional
            promises.</Bold>
        </Paragraph>
        <Paragraph><Bold>"</Bold>…<Bold>To him that overcometh</Bold> <i>will I give to eat of the tree of
            life</i><Bold>..."</Bold> (Rev<Bold>.</Bold> 2<Bold>:</Bold>7)<Bold>.</Bold> This implies
            that if
            one does not overcome<Bold>,</Bold> he will not receive the promise<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>…<Bold>He that overcometh</Bold> <i>shall not be hurt of the second
            death</i><Bold>."</Bold> (Rev<Bold>.</Bold> 2<Bold>:</Bold>11)<Bold>.</Bold> There is the
            promise of
            not dying a second time<Bold>,</Bold> <Bold>if</Bold> he overcomes<Bold>.</Bold></Paragraph>
        <Paragraph> We see the same if we read Rev<Bold>.</Bold> 2<Bold>:</Bold>17<Bold>,</Bold>
            2<Bold>:</Bold>26<Bold>,</Bold> 3<Bold>:</Bold>5<Bold>,</Bold> and
            3<Bold>:</Bold>21<Bold>.</Bold> In other words<Bold>,</Bold> we confirm that <Bold>the
                promises of God
                are not unconditional.</Bold> Let us not have the dangerous notion that the grace of God consists in
            the
            continuation of sin without losing salvation<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    