---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Jonah was clean when he arrived at Niniveh">
    <Title>whale</Title>

    <Tag>#141</Tag>
    <Content>
        <Paragraph>Jonah did not arrive at Nineveh immediately after being vomited from the mouth of the 
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> One of the stories of fantasy that do not have a Biblical basis is the one I have heard more than one pastor
            relate<Bold>.</Bold> I have heard them say that when Jonah arrived at Nineveh<Bold>,</Bold> he
            arrived
            tattered with his skin discolored for being partially digested in the stomach of the whale<Bold>,</Bold>
            his
            hair dripping slobber and with a deplorable and terrifying aspect<Bold>,</Bold> a reason by
            which<Bold>,</Bold> <Bold>according to them,</Bold> impressed the Ninevites so very
            much<Bold>.</Bold>
            This story is an excess of fantasy without the least base in Bible or logics<Bold>,</Bold> as I will
            explain<Bold>.</Bold> This story is much the same as the story about the High Priests who had to enter
            the Most
            Holy Place with a rope tied to his ankle<Bold>.</Bold> These are all <Bold>legends invented by people
                who want
                to have something "new to tell",</Bold> which legends are believed by many good
            brothers<Bold>,</Bold> and
            they repeat them without analyzing what was said to them<Bold>.</Bold> There are those who think that
            the Bible
            not only must be read<Bold>,</Bold> but also meditate it<Bold>.</Bold> That is
            fine<Bold>,</Bold> but it
            seems that those fantasies are the product of people who read very little the Bible<Bold>,</Bold> but
            they
            "meditate" too much<Bold>.</Bold> They should read it more and "meditate" it less<Bold>.</Bold></Paragraph>
        <Paragraph> Jonah<Bold>,</Bold> in order to flee from God<Bold>,</Bold> went to the port of
            Joppa<Bold>,</Bold>
            which is found on the coast of Israel<Bold>,</Bold> in the Mediterranean Sea<Bold>,</Bold> next to
            Tel Aviv
            and is currently named Jaffa<Bold>.</Bold> It was there that he boarded the ship<Bold>;</Bold> it
            was in
            that Mediterranean Sea that the whale swallowed him<Bold>;</Bold> and it was on the coast of that sea
            that the
            whale vomited him<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>But Jonah rose up to flee unto Tarshish from the presence of the LORD<Bold>,</Bold> and
            went
            down to Joppa<Bold>;</Bold> and he found a ship going to Tarshish<Bold>;</Bold> so he paid the fare
            thereof<Bold>,</Bold> and went down into it<Bold>,</Bold> to go with them unto Tarshish from the
            presence of
            the LORD<Bold>."</Bold></Paragraph>
        <Paragraph> (Jonah 1<Bold>:</Bold>3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Whoever checks a map of that region would realize that Jonah<Bold>,</Bold> in order to go to
            Nineveh<Bold>,</Bold> could not go into the belly of a whale, because Mediterranean Sea has no
            connection with
            Nineveh. He had to reach first the Mediterranean coast, and from there head east<Bold>,</Bold> cross the
            nation
            of Israel and walk more than 500 miles (800 Kms<Bold>.</Bold>) in order to reach
            Nineveh<Bold>.</Bold></Paragraph>
        <Paragraph> It is logical therefore<Bold>,</Bold> that he bathed<Bold>,</Bold> dressed and rested in Israel and
            that it
            would take him a while to walk the 500 miles<Bold>.</Bold> At the moment in which Jonah reached
            Nineveh<Bold>,</Bold> the slobber on his hair and the supposed lesions on his skin<Bold>,</Bold> if
            he truly
            had them<Bold>,</Bold> were completely healed<Bold>.</Bold> This means that when Jonah arrived at
            Nineveh<Bold>,</Bold> he was a normal man in which no hints of the tragic episode he had passed through
            were
            visible<Bold>.</Bold> I don't know why such nonsenses are invented<Bold>.</Bold> Better to say that
            I do
            know, it is for having something new to say, who knows with what purpose. It is valid to use reasoning to
            our
            interpretations<Bold>,</Bold> but not invent nonsenses and present them as if they were pure Biblical
            interpretation<Bold>.</Bold></Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the index</a></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    