---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="How to Interpret Parables">
    <Content>
        <Paragraph></Paragraph>
        <Paragraph>How to interpret parables<Bold>.</Bold> The tares</Paragraph>
        <Paragraph> It is my opinion that parables serve to clarify<Bold>,</Bold> in a general form<Bold>,</Bold> one
            sole issue<Bold>,</Bold>
            and therefore<Bold>,</Bold> they cannot be scrutinized in detail in order to attribute a revealing
            significance
            to each facet of a parable<Bold>,</Bold> simile or vision<Bold>.</Bold> A good example of this is
            the
            parable of tares<Bold>.</Bold> To my way of thinking<Bold>,</Bold> this parable is only teaching
            that God
            for some reason allows the believers to coexist with the lost for a time<Bold>,</Bold> but that
            later<Bold>,</Bold> when the appropriate moment approaches<Bold>,</Bold> He will separate the ones
            from the
            others<Bold>,</Bold> throwing the reprobates to Hell<Bold>.</Bold></Paragraph>
        <Paragraph> However<Bold>,</Bold> if we begin to rummage around each fact of a parable<Bold>,</Bold> in each
            word<Bold>,</Bold> in each image<Bold>,</Bold> we would arrive at the most contradictory conclusions<Bold>.</Bold>
            That is why my way of analyzing the parables is in a general form<Bold>,</Bold> for one sole
            teaching<Bold>.</Bold> <Bold>Let's see what happens when we decide to take each detail of the parable
                of the
                tares, as if it were something revealing.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>24 Another parable put he forth unto them<Bold>,</Bold> saying<Bold>:</Bold> The
            kingdom of
            heaven is likened unto a man which sowed good seed in his field<Bold>.</Bold> 25 <Bold>But while men
                slept,</Bold> his enemy <Bold>came and sowed tares</Bold> among the wheat<Bold>,</Bold> and
            went his
            way<Bold>.</Bold> 26 But when the blade was sprung up<Bold>,</Bold> and brought forth
            fruit<Bold>,</Bold> then appeared the tares also<Bold>.</Bold> 27 So the servants of the householder
            came
            and said unto him<Bold>:</Bold> Sir<Bold>,</Bold> didst not thou sow good seed in thy
            field<Bold>?</Bold> From whence then hath it tares<Bold>?</Bold> 28 He said unto
            them<Bold>:</Bold> An
            enemy hath done this<Bold>.</Bold> The servants said unto him<Bold>:</Bold> Wilt thou then that we
            go and
            gather them up<Bold>?</Bold> 29 But he said<Bold>:</Bold> Nay<Bold>;</Bold> lest while ye gather
            up the
            tares<Bold>,</Bold> ye root up also the wheat with them<Bold>.</Bold> 30 Let both grow together
            until the
            harvest<Bold>;</Bold> and in the time of harvest I will say to the reapers<Bold>:</Bold> Gather ye
            together
            first <Bold>the tares,</Bold> and bind them in bundles to burn them<Bold>;</Bold> but gather the
            wheat into
            my barn<Bold>."</Bold> (Matthew 13<Bold>:</Bold>24-30)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>36 Then Jesus sent the multitude away<Bold>,</Bold> and went into the
            house<Bold>,</Bold>
            and his disciples came unto him<Bold>,</Bold> saying<Bold>:</Bold> <Bold>Declare unto</Bold>
            <Bold>us
                the parable of the tares of the field.</Bold> 37 He answered and said unto them<Bold>:</Bold> He
            that
            soweth the good seed is the Son of man<Bold>;</Bold> 38 the field is the world<Bold>;</Bold> the
            good seed
            are the children of the kingdom<Bold>;</Bold> but the tares are the children of the wicked
            one<Bold>;</Bold>
            39 the enemy that sowed them is the Devil<Bold>;</Bold> the harvest is the end of the
            world<Bold>;</Bold>
            and the reapers are the angels<Bold>.</Bold> 40 As therefore the tares are gathered and burned in the
            fire<Bold>;</Bold> so shall it be in the end of this world<Bold>.</Bold> 41 The Son of man shall
            send forth
            his angels<Bold>,</Bold> and they shall gather out of his kingdom all things that
            offend<Bold>,</Bold> and
            them which do iniquity<Bold>;</Bold> 42 and shall cast them into a furnace of fire<Bold>;</Bold>
            there shall
            be wailing and gnashing of teeth<Bold>.</Bold> 43 Then shall the righteous shine forth as the sun in the
            kingdom
            of their Father<Bold>.</Bold> Who hath ears to hear<Bold>,</Bold> let him hear<Bold>."</Bold>
            (Matthew
            13<Bold>:</Bold>36-43)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> If we take each detail as something revealing<Bold>,</Bold> the first thing that would come to mind is
            that
            according to verses 25 and 39<Bold>,</Bold> the Devil had the power to create bad people and place them
            on Earth<Bold>,</Bold>
            which is <Bold>absolutely absurd.</Bold> Satan can tempt the people that God created<Bold>,</Bold>
            suggest
            to them to depart from the things of God<Bold>,</Bold> but he cannot create bad people in order to mix
            them in
            with the ones God created<Bold>.</Bold></Paragraph>
        <Paragraph> The second thing we would have to think according to verse 25 is that the angels that look after the Earth
            fell
            asleep and did not see Satan when he was bringing the bad ones he created<Bold>.</Bold> This is also
            absurd<Bold>,</Bold> because even if the angels would have been careless<Bold>,</Bold> God was not
            going to
            be careless<Bold>.</Bold></Paragraph>
        <Paragraph> The third thing is that according to verse 30<Bold>,</Bold> we would have to think that the ingathering
            or
            rapture would be not to take the Christians<Bold>,</Bold> but to first take the bad
            ones<Bold>.</Bold>
            Following in this erroneous manner of interpretation<Bold>,</Bold> we would have to think that the good
            ones
            remain on Earth<Bold>,</Bold> which already is a Kingdom<Bold>,</Bold> according to verse
            43<Bold>.</Bold> Upon saying in verse 41 <Bold>"</Bold>they shall gather out of his kingdom all
            things that
            offend<Bold>....."</Bold> it would make us think that Jesus already considered the world as his Kingdom
            when the
            <Bold>"</Bold>tares<Bold>"</Bold> are gathered<Bold>.</Bold> And that instead of taking us
            outside of
            this world<Bold>,</Bold> it would be the enemies that would be taken away<Bold>.</Bold> Verses 40 to
            43
            specifically clarifies that at the end of the world<Bold>,</Bold> the reprobates would be collected and
            the
            believers would remain in the Kingdom<Bold>.</Bold></Paragraph>
        <Paragraph> Is this what this parable is attempting to teach us<Bold>?</Bold> No<Bold>;</Bold> the only thing
            that is to
            be taught with this parable is that the ones who love God and the ones that hate Him are going to coexist
            for a long
            time and will later be separated<Bold>.</Bold> No other teaching can be gathered from that
            parable<Bold>.</Bold> As I already said<Bold>,</Bold> I don't believe that every facet of a
            parable<Bold>,</Bold> vision or simile that has been used in a complete and general
            form<Bold>,</Bold>
            should be taken in order to conclude details which does not appear to have been the goal or intention of
            that
            parable<Bold>,</Bold> vision or simile<Bold>.</Bold></Paragraph>
        <Paragraph> That foolishness of taking parables apart detail by detail is evident in the case of the disloyal
            butler<Bold>,</Bold> the one about the widow and the unjust judge<Bold>,</Bold> the one about the
            friend in
            the middle of the night<Bold>,</Bold> and others<Bold>.</Bold> If we were to take them detail by
            detail<Bold>,</Bold> its teachings would be contradictory to the gospel<Bold>.</Bold> In the
            first<Bold>,</Bold> it would justify the bad behavior of the disloyal servant<Bold>;</Bold> in the
            second we
            would come to the conclusion that if we bother God with our petitions<Bold>,</Bold> in the same manner
            as the
            widow did with the unjust judge<Bold>,</Bold> God would respond<Bold>,</Bold> not because He love us<Bold>,</Bold>
            but so that we do not bother him any more<Bold>;</Bold> and in the third we would teach again that God
            grants
            our petitions so that we don't bother Him anymore<Bold>.</Bold> We will see more of it
            later<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    