---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Usefullness for the Church, society and the Nation of the presence and prayer of Christians">
    <Tag>#143</Tag>
    <Content>
        <Paragraph>Usefulness for the Church, society and the nation of the presence and prayer of the saintly</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>The presence of the godly deviates punishment. The best testimony that we find within our reach to prove us
            that the
            presence of those that love God deviate the punishment of the totality of where they find themselves, is in
            the case
            of Sodom, Gomorra, Adma and Seboim. Even though in this case the punishment was not deviated, it is the same
            Lord
            God who tells us that if there would have been at least ten just persons in that place, He would have
            forgiven the
            place because of his love for these ten. </Paragraph>
        <Paragraph> It is evidenced in this passage that the presence in a society of people who love God<Bold>,</Bold>
            postpones<Bold>,</Bold> deviates or prevents punishment for those who deserve it<Bold>.</Bold>
            <Bold>If
                the non-believers would know such thing, they would not despise the Christians who live in their
                cities. </Bold></Paragraph>
        <Paragraph> God was prepared to detain the much deserved punishment in the region of Sodom if he would have found fifty
            just men
            (26)<Bold>;</Bold> and even if there would have been just ten (32)<Bold>.</Bold> It is incredible
            that in
            that region<Bold>,</Bold> corruption was so generalized that there could not be ten people for the love
            of whom
            God would forgive the whole region<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And the LORD said<Bold>: If I find in Sodom fifty righteous within the city, then I
            will spare
            all the place</Bold> for their sakes</i><Bold>."</Bold> (Gn 18<Bold>:</Bold>26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And he said</i><i>,</i> <i>Oh let not the Lord be angry</i><i>,</i> <i>and I will speak yet but this
            once</i><i>:</i>
            <i>Peradventure ten shall be found there</i><i>.</i> <i>And he said</i><i>,</i> <i>I will not destroy it for
                ten's
                sake</i>." (Gn 18:32) </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Afterwards<Bold>,</Bold> in chapter 19 we see that there were no ten<Bold>,</Bold> there wasn't even
            four<Bold>!</Bold> Of the four that were saved from the destruction<Bold>,</Bold> by removing them
            from the
            city<Bold>,</Bold> one was destroyed because of disobedience<Bold>,</Bold> the wife who turned to
            look
            (26)<Bold>;</Bold> and two were so infected by corruption in general that they committed incest with
            their
            father (19<Bold>:</Bold>31-38)<Bold>.</Bold> Truly<Bold>,</Bold> not even ten<Bold>!</Bold>
        </Paragraph>
        <Paragraph><Bold>If those that oppose the teachings of Christianity in school and public places</Bold> of our
            society were
            more intelligent<Bold>,</Bold> they would not oppose it<Bold>.</Bold> <Bold>Every time they end
                their
                destructive task of "dechristianizing" a nation, the perverted society eats them up. History is
                witness. </Bold></Paragraph>
        <Paragraph><Bold>The prayers of Christians preserve the nation in which they live in.</Bold> The intercessory
            prayers of the
            Godly<Bold>,</Bold> in favor of their fellow man help in the preservation of those that are the
            objective of
            their prayer<Bold>.</Bold> A clear case is the one of Abraham and Lot<Bold>.</Bold> Let's
            see<Bold>.</Bold></Paragraph>
        <Paragraph> The mercy God had with Abraham freed Lot, as we see in Genesis 19:29. By what is said in this verse, we can
            gather
            that because of having mercy upon Abraham it was that God liberated Lot, apart from the fact that Lot did
            not
            participate in the abomination that surrounded him and as a matter of fact, condemned it. </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And it came to pass<Bold>,</Bold> when God destroyed the cities of the
            plain<Bold>,</Bold> <Bold>that God remembered Abraham, and sent Lot out of the midst of the
                overthrow,</Bold> when he overthrew the cities in the which Lot dwelt</i><Bold>."</Bold> (Gn
            19<Bold>:</Bold>29)</Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the Index</a></Paragraph>

    </Content>
</Layout>
    