---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="A factor to correctly interpret the Bible">
    <Title>In order to correctly interpret the Bible we have to bear in mind that God, Christ and the Holy
            Spirit, do
            not contradict each other, nor change their opinions throughout the centuries</Title>

    <Tag>#145</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Christ is the same yesterday, today and forever</Bold></Paragraph>
        <Paragraph><Bold>One of the factors to correctly interpret the Bible</Bold> is to realize that God<Bold>,</Bold>
            Christ
            and the Holy Spirit are divine beings<Bold>.</Bold> Therefore<Bold>,</Bold> <Bold>it is not
                logical to
                suppose that God's opinions change,</Bold> needing correction<Bold>.</Bold> It is absurd to think
            that the
            Creator erred when he said or commanded something in a book of the Bible<Bold>,</Bold> and because of
            that<Bold>,</Bold> had to rectify the error later in another book<Bold>.</Bold></Paragraph>
        <Paragraph>It is also not logical to believe that God thought in one way<Bold>,</Bold> and expressed it in the Old
            Testament<Bold>,</Bold>
            but Christ thought in a different way and that is why it was contradicted in the New
            Testament<Bold>.</Bold></Paragraph>
        <Paragraph>Others are even capable of supposing that the Holy Spirit inspired something in the
            disciples<Bold>,</Bold> which
            God was not in agreement with<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>That being said, it would seem that no true Christian would think such a thing,</Bold> but in fact
            they
            do<Bold>,</Bold> without realizing what they believe<Bold>,</Bold> when they sustain erroneous
            doctrines<Bold>.</Bold> Everything the Bible says has to be in harmony<Bold>,</Bold> because God is
            not a
            being of discord or chaos<Bold>.</Bold></Paragraph>
        <Paragraph>If the interpretation of a passage implies something like what we have just mentioned<Bold>,</Bold> it is
            because
            the interpreter is wrong<Bold>,</Bold> not the Bible<Bold>.</Bold> It is the one interpreting who
            does not
            understand<Bold>,</Bold> not God who changed his opinion or Christ who amended or improved upon His
            father's
            page<Bold>.</Bold></Paragraph>
        <Paragraph>There are brethren that when they interpret some passage of Scripture act as if they believed that God had an
            opinion
            <Bold>"</Bold>before<Bold>",</Bold> while <Bold>"</Bold>now<Bold>"</Bold> He has a contrary
            opinion<Bold>.</Bold> Others even act as if God had an opinion and Jesus Christ had an opposing
            opinion<Bold>.</Bold> Others believe that God had a defective opinion<Bold>,</Bold> but when Christ
            came<Bold>,</Bold> he improved upon it<Bold>.</Bold> In Hebrews 13<Bold>:</Bold>8 we will see
            that Saint
            Paul tells us<Bold>,</Bold> inspired by the Holy Spirit <Bold>that</Bold> Jesus Christ does not
            change<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Jesus Christ the same yesterday<Bold>,</Bold> and today<Bold>,</Bold> and for
            ever</i><Bold>."</Bold> (Hebrews 13<Bold>:</Bold>8)</Paragraph>
        <Paragraph>If Jesus Christ is always the same<Bold>,</Bold> it is logical to think that He has not
            changed<Bold>.</Bold>
            If on the other hand we know that He always obeys the Father<Bold>,</Bold> it is also logical to think
            that He
            has always been in agreement with the Father and therefore<Bold>,</Bold> the Father has never changed
            either<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In God, there is neither change nor shadow of turning</Bold></Paragraph>
        <Paragraph>James also testifies that God does not change his opinion<Bold>.</Bold> The Creator does not need to
            rectify<Bold>,</Bold> because he is never wrong<Bold>.</Bold> <Bold>Therefore, if some
                interpretation
                implies that God or Christ or the Holy Spirit "improve" on something previously said, that
                interpretation is
                wrong.</Bold></Paragraph>
        <Paragraph><Bold> "</Bold><i>Every good gift and every perfect gift is from above<Bold>,</Bold> and cometh down
            from the
            Father of lights<Bold>,</Bold> with who is no variableness<Bold>,</Bold> neither shadow of
            turning</i><Bold>."</Bold> (James 1<Bold>:</Bold>17)</Paragraph>
        <Paragraph>Being three divine beings<Bold>,</Bold> neither God<Bold>,</Bold> nor Christ<Bold>,</Bold> nor
            the Holy
            Spirit are going to have to rectify something they previously said or ordered<Bold>.</Bold> If upon
            interpreting
            a passage<Bold>,</Bold> our interpretation implies that Christ improved on something either established
            or said
            by God<Bold>,</Bold> that interpretation is wrong<Bold>.</Bold> If our interpretation of what is
            said by
            some writer of the Bible<Bold>,</Bold> men who wrote by being inspired by the Holy
            Spirit<Bold>,</Bold> it
            implies that they are <Bold>"</Bold>improving upon<Bold>"</Bold> or
            <Bold>"</Bold>changing<Bold>"</Bold> a commandment of God or Christ<Bold>,</Bold> that
            interpretation is
            erroneous and even blasphemous<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>God personally says that He does not change</Bold></Paragraph>
        <Paragraph>That idea is clearly perceived in the Old Testament<Bold>.</Bold> When God reproaches the Israelites for
            their
            sins<Bold>,</Bold> He informs them that if they have not been consumed by their sins<Bold>,</Bold>
            it is
            because God doesn't change<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>For <Bold>I am the LORD, I change not;</Bold> therefore ye sons of Jacob are not
            consumed</i><Bold>."</Bold> (Malachi 3<Bold>:</Bold>6)</Paragraph>
        <Paragraph><Bold>No one who is perfect has to correct or rectify his errors, because then he would not be
            perfect.</Bold>
            Whoever has a correct concept<Bold>,</Bold> will understand that no divine being changes their
            opinion<Bold>.</Bold></Paragraph>
        <Paragraph><a href="biblenotes.html"><Bold>Back to the index</Bold></a></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    