---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Bible is a monolithic doctrinal unit">
    <Content>
        <Paragraph></Paragraph>
        <Paragraph>The Bible is a monolithic doctrinal unit</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Sacred Scripture is not the opinion of its many authors<Bold>,</Bold> but of God, therefore, by
            logic<Bold>,</Bold> we should take care that our interpretation of a passage is in harmony with the
            entire Bible<Bold>,</Bold>
            not just certain passages<Bold>,</Bold> books or sections of it<Bold>.</Bold> If an interpretation
            of ours
            is in agreement with only 75% of what is said in the Bible but is in opposition with the other
            25%<Bold>,</Bold>
            this means that the interpretation<Bold>,</Bold> even though it is not totally wrong<Bold>,</Bold>
            is not
            totally correct<Bold>.</Bold> It could very well be that some things are true<Bold>,</Bold> but
            something is
            also wrong with the interpretation<Bold>.</Bold> When that happens to us<Bold>,</Bold> it is time to
            discuss
            the subject with those that oppose our way of seeing things<Bold>.</Bold> Those who oppose our
            interpretation
            are the only ones that could help us if we are mistaken; those who think as we do only can confirm us in our
            mistake
            if we are wrong.</Paragraph>
        <Paragraph> The Bible has had many authors<Bold>,</Bold> but it does not include their personal opinion to serve as
            a guide
            for us<Bold>,</Bold> only the opinion of God<Bold>.</Bold> That is why the Bible is a monolithic
            unit<Bold>,</Bold> speaking in a doctrinal and prophetic manner<Bold>.</Bold> Everything in it was
            inspired
            by the Holy Spirit according to what the Apostle Peter tells us<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>For the prophecy came not in old time by the will of man<Bold>,</Bold> but holy men of
            God
            spake as they were moved by the Holy Ghost<Bold>."</Bold> (II Peter 1<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> The Apostle Paul is telling us something similar when in his instructions to Timothy<Bold>,</Bold> he
            says the
            following<Bold>:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>All scripture is given by inspiration of God<Bold>,</Bold> and is profitable for
            doctrine<Bold>,</Bold> for reproof<Bold>,</Bold> for correction<Bold>,</Bold> for instruction in
            righteousness<Bold>."</Bold> (II Timothy 3<Bold>:</Bold>16)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we can see<Bold>,</Bold> two Apostles tell us that all of Scripture is from God<Bold>.</Bold>
            Therefore<Bold>,</Bold> it is not logical to think that different sections of Scripture teach opposing
            things<Bold>,</Bold> things that oppose one another<Bold>.</Bold> <Bold>God is not a being prone
                to
                contradiction, anarchy, and chaos, but harmony. Therefore, all correct interpretation must be in harmony
                with
                the rest of the Bible.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    