---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="WomenActivities">
    <section>
        <Paragraph></Paragraph>
        <Paragraph>Women were not <Bold>"</Bold>prohibited<Bold>"</Bold> from certain activities<Bold>,</Bold> it
            was the
            circumstances that prohibited them</Paragraph>
        <Paragraph> There are many people who believe that in ancient times and above all in the Bible<Bold>,</Bold> women
            were
            scorned and even spurned<Bold>.</Bold> Some have this in their minds because of their misogynistic
            atavism<Bold>,</Bold> but there are some who mistakenly believe it<Bold>.</Bold> That did not occur
            in the
            Biblical culture<Bold>,</Bold> but that was introduced to that region as of the imposition of the
            Islamic
            religion<Bold>.</Bold> The false religions are distinguishable for having two extreme and erroneous
            positions
            towards women<Bold>:</Bold> some scorn them and others see them as semi-goddesses<Bold>.</Bold></Paragraph>
        <Paragraph> The fact that women were not more outstanding in ancient cultures was because in past
            times<Bold>,</Bold>
            physical strength was indispensable to excel in society<Bold>.</Bold></Paragraph>
        <Paragraph> Up until the 1800's what existed was a society which because of the lack of the technical advances of
            today<Bold>,</Bold> required brutal strength<Bold>.</Bold> Let's use the example of
            war<Bold>.</Bold>
            The ones who have always exceeded in society have always been war heroes<Bold>.</Bold> War was
            characterized by
            using heavy mace blows<Bold>,</Bold> swords<Bold>,</Bold> rocks<Bold>,</Bold> running after the
            ones who
            escape running from their captors and persecutors<Bold>,</Bold> fighting body to body with the
            enemy<Bold>.</Bold> None of these things could be done by women with the efficiency of
            men<Bold>.</Bold>
            Therefore<Bold>,</Bold> they could not<Bold>,</Bold> in general be heroines of war and consequently
            they
            could not be influential characters in society<Bold>.</Bold></Paragraph>
        <Paragraph> On the contrary<Bold>,</Bold> nowadays<Bold>,</Bold> they are allowed to enlist in the
            Army<Bold>,</Bold> the Navy and in Air Force<Bold>.</Bold> Any woman can pilot a combat
            plane<Bold>,</Bold> extraordinary physical effort is not needed for it<Bold>.</Bold></Paragraph>
        <Paragraph> We can say the same about business<Bold>.</Bold> A woman in ancient times could dedicate herself to
            certain and
            determined businesses<Bold>,</Bold> but not as much as men<Bold>.</Bold> We have the case of the
            woman
            mentioned in Proverbs 31<Bold>:</Bold>10-31<Bold>,</Bold> and Lydia in Acts
            16<Bold>:</Bold>14<Bold>,</Bold> they dedicated themselves to businesses they could carry
            out<Bold>.</Bold> They couldn't<Bold>,</Bold> for example<Bold>,</Bold> take their merchandise
            to places
            that were distant and dangerous like men did riding their camels<Bold>,</Bold> because due to their
            physical
            weakness<Bold>,</Bold> they would be assaulted<Bold>,</Bold> raped<Bold>,</Bold> enslaved or
            assassinated<Bold>.</Bold></Paragraph>
        <Paragraph> Nowadays<Bold>,</Bold> any woman can safely travel to the majority of the big cities in the world and
            conduct
            extensive business<Bold>.</Bold> Even they can conduct many of these businesses without leaving their
            offices<Bold>,</Bold> via telephone<Bold>,</Bold> fax<Bold>,</Bold> computer and the banking
            services in
            diverse countries<Bold>.</Bold></Paragraph>
        <Paragraph> If we talk about work on a farm<Bold>,</Bold> the same thing happens<Bold>.</Bold> A woman can plow
            a field
            on a tractor or strip down a field full of weeds or undergrowth<Bold>,</Bold> sitting on a
            bulldozer<Bold>.</Bold> It was not the same in the 1800's when the only thing that could be utilized was
            the
            strong arm of a man and the strength of oxen and horses<Bold>.</Bold> It wasn't easy therefore
            accumulate riches
            in agriculture and livestock<Bold>.</Bold></Paragraph>
        <Paragraph> The issue was not that <Bold>"</Bold>before<Bold>"</Bold> a woman was scorned<Bold>;</Bold> the
            issue
            was that before<Bold>,</Bold> in Biblical times<Bold>,</Bold> women could not compete in the brutal
            world in
            which she lived in<Bold>.</Bold> No one was going to give an opportunity to a competitor
            woman<Bold>,</Bold>
            because they didn't give it to a competitor man either<Bold>.</Bold> That is why women were reserved for
            a
            certain type of work or activity<Bold>,</Bold> to which they themselves were restricted by
            nature<Bold>.</Bold> That does not mean that there weren't any exceptions<Bold>,</Bold> but it was
            just that<Bold>,</Bold>
            exceptions in which<Bold>,</Bold> for some reason or circumstance not frequently<Bold>,</Bold> a
            woman stood
            out<Bold>.</Bold></Paragraph>
        <Paragraph> As we see<Bold>,</Bold> it was not an issue that it was prohibited for a woman to be
            outstanding<Bold>;</Bold> it was that circumstances did not allow it<Bold>.</Bold></Paragraph>
        <Paragraph> Among the jobs that women did were the domestic ones<Bold>,</Bold> because in the city and in their
            homes they
            were safer than walking alone in the countryside<Bold>.</Bold> However<Bold>,</Bold> they worked in
            the
            farms in the company of their relatives or neighbors<Bold>,</Bold> or in places close to the city where
            they
            lived<Bold>,</Bold> which were frequented by the neighbors and people they knew<Bold>.</Bold> It is
            such a
            case in which women shepherded the family sheep<Bold>.</Bold></Paragraph>
        <Paragraph> In Exodus 2<Bold>:</Bold>16 we also see that the daughters of Jethro<Bold>,</Bold> Moses'
            father-in-law<Bold>,</Bold> grazed his father's sheep<Bold>.</Bold> In this special
            case<Bold>,</Bold>
            these women<Bold>,</Bold> even though they did not receive serious attacks<Bold>,</Bold> they were
            displaced
            by other shepherds<Bold>.</Bold> Motivated by this abuse it was that Moses defended them and got
            involved in
            Jethro's family<Bold>.</Bold> Rachel was also a shepherd to the sheep of Laban<Bold>,</Bold> her
            father<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Now the priest of Midian had seven daughters<Bold>,</Bold> and they came and drew water<Bold>,</Bold>
            and filled the troughs to water their father's flock<Bold>."</Bold> (Exodus 2<Bold>:</Bold>16)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And while he yet spake with them<Bold>,</Bold> Rachel came with her father's
            sheep<Bold>,</Bold> for she kept them<Bold>."</Bold> (Genesis 29<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Another task that at times was given to women was to keep the vineyards<Bold>,</Bold> as is seen in Song
            of
            Solomon 1<Bold>:</Bold>6<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Look not upon me<Bold>,</Bold> because I am black<Bold>,</Bold> because the sun
            hath looked
            upon me<Bold>.</Bold> My mother's children were angry with me<Bold>;</Bold> they made me the keeper
            of the
            vineyards<Bold>;</Bold> but mine own vineyard have I not kept<Bold>."</Bold> (Song of Solomon
            1<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Carrying the water for the household use was another task of women<Bold>,</Bold> especially the single
            ones<Bold>.</Bold> Whoever has watch a horse drink water can comprehend the task that Rebecca had to
            undertake
            in order to provide a drink for ten camels<Bold>.</Bold> The pitcher that she carried upon her shoulders
            could
            not have been small<Bold>,</Bold> because the stone troughs that are near wells used by animals to drink
            was not
            small<Bold>,</Bold> because you don't fill a trough for ten camels to drink with small sips of
            water<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And she hasted<Bold>,</Bold> and emptied her pitcher into the trough<Bold>,</Bold>
            and ran
            again unto the well to draw water<Bold>,</Bold> and drew for all his camels<Bold>."</Bold> (Genesis
            24<Bold>:</Bold>20)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> It appears that those women<Bold>,</Bold> within certain limits<Bold>,</Bold> had rough
            work<Bold>.</Bold> In order to carry the water that is needed in a house<Bold>,</Bold> pitcher by
            pitcher is
            no light feat<Bold>.</Bold> Of course<Bold>,</Bold> there were probably other young women in the
            household
            who shared the task<Bold>.</Bold> In reviewing verse 43<Bold>,</Bold> it gives the feeling that the
            job of
            going to the well for water was reserved to single women<Bold>;</Bold> at least during that time or in
            that
            region<Bold>.</Bold> In the time of Christ<Bold>,</Bold> we see that the Samaritan woman went to get
            water<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Behold<Bold>,</Bold> I stand by the well of water<Bold>;</Bold> and it shall come
            to
            pass<Bold>,</Bold> that when the virgin cometh forth to draw water<Bold>,</Bold> and I say to
            her<Bold>,</Bold> Give me<Bold>,</Bold> I pray thee<Bold>,</Bold> a little water of thy pitcher
            to drink<Bold>."</Bold>
            (Genesis 24<Bold>:</Bold>43)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> There were also other activities that were particular to men<Bold>,</Bold> that women did as is seen in
            the case
            of the construction of the walls of Jerusalem by Nehemiah<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And next unto him repaired Shallum the son of Halohesh<Bold>,</Bold> the ruler of the
            half part
            of Jerusalem<Bold>,</Bold> he and his daughters<Bold>."</Bold> (Nehemiah 3<Bold>:</Bold>12)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In this case<Bold>,</Bold> not just a woman but a whole family of them were working in the restoration
            of the
            walls of the city of Jerusalem<Bold>.</Bold> Undoubtedly this means one of two things<Bold>,</Bold>
            either
            these women practiced architecture or worked in masonry<Bold>.</Bold></Paragraph>
        <Paragraph> In general<Bold>,</Bold> when it came to the activities of women<Bold>,</Bold> there were no
            prohibitive
            rules<Bold>,</Bold> it was they themselves<Bold>,</Bold> who knew that physically they could not
            compete<Bold>,</Bold> and moved away<Bold>.</Bold> However<Bold>,</Bold> those women who
            considered
            themselves capable of doing something<Bold>,</Bold> did so without anyone bothering
            them<Bold>.</Bold></Paragraph>
        <Paragraph> As for social activities<Bold>,</Bold> it is perceived that they participated as much as the men as we
            see in
            the following passage from Job<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And his sons went and feasted in their houses<Bold>,</Bold> every one his
            day<Bold>;</Bold>
            and sent and called for their three sisters to eat and to drink with them<Bold>."</Bold> (Job
            1<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>In general,</Bold> it could be said that women had liberty<Bold>,</Bold> but
            circumstances<Bold>,</Bold> competition and the nature of their sex limited them
            greatly<Bold>.</Bold>
            Because of the fact of being women and become pregnant and have to care for newborns<Bold>,</Bold>
            limited them
            in the use of their time and in the amount of strength they could dedicate to excel in
            politically<Bold>,</Bold>
            socially and economically<Bold>.</Bold> This does not mean that none of them did<Bold>,</Bold> what
            it means
            is that there were always more impediments for women than for men<Bold>.</Bold> It is good to analyze
            these
            things because this allows us to understand the customs and upon doing so<Bold>,</Bold> it helps us to
            interpret
            Scripture correctly<Bold>.</Bold></Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the Index</a></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </section>
</Layout>
    