---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="In the Bible numbers were rounded off">
    <Content>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Numbers were rounded off</Paragraph>
        <Paragraph> Nowadays<Bold>,</Bold> our culture obliges us to be precise<Bold>.</Bold> If several friends are
            going to
            take a flight<Bold>,</Bold> they have to be there at 4<Bold>:</Bold>20 P<Bold>.</Bold>
            M<Bold>..</Bold> In past centuries it was not like this<Bold>,</Bold> if several friends got
            together to
            take a trip on horseback<Bold>,</Bold> they had to be at the starting point either mid-morning or after
            lunch<Bold>.</Bold></Paragraph>
        <Paragraph> With the same reason<Bold>,</Bold> when a census is done today<Bold>,</Bold> numbers are
            exact<Bold>,</Bold> but the custom in that time was to round out numbers<Bold>.</Bold> For
            example<Bold>,</Bold> if they counted 3<Bold>,</Bold>218 persons<Bold>,</Bold> they wrote
            3<Bold>,</Bold>200 and if 3<Bold>,</Bold>288 were counted<Bold>,</Bold> it was
            3<Bold>,</Bold>300<Bold>.</Bold></Paragraph>
        <Paragraph> In the following passage<Bold>,</Bold> we see proof of this<Bold>.</Bold> In Numbers
            3<Bold>:</Bold>22
            it says that the descendants of Gerson were 7<Bold>,</Bold>500<Bold>.</Bold> In 28<Bold>,</Bold>
            it says
            that the ones from Coath were 8<Bold>,</Bold>600<Bold>;</Bold> and in 34 it says that the ones from
            Merari
            were 6<Bold>,</Bold>200<Bold>.</Bold> It is too coincidental that all three would end in two
            zeros<Bold>.</Bold> It is a possibility of three hundred to one that they would all end in
            zeros<Bold>.</Bold> Let's see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Those that were numbered of them<Bold>,</Bold> according to the number of all the males<Bold>,</Bold>
            from a month old and upward<Bold>,</Bold> even those that were numbered of them were seven thousand and
            five
            hundred<Bold>."</Bold> (Numbers 3<Bold>:</Bold>22)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>In the number of all the males<Bold>,</Bold> from a month old and
            upward<Bold>,</Bold> were
            eight thousand and six hundred<Bold>,</Bold> keeping the charge of the sanctuary<Bold>."</Bold>
            (Numbers
            3<Bold>:</Bold>28)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And those that were numbered of them<Bold>,</Bold> according to the number of all the
            males<Bold>,</Bold> from a month old and upward<Bold>,</Bold> were six thousand and two
            hundred<Bold>."</Bold></Paragraph>
        <Paragraph> (Numbers 3<Bold>:</Bold>34)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>All that were numbered of the Levites<Bold>,</Bold> which Moses and Aaron numbered at
            the
            commandment of the LORD<Bold>,</Bold> throughout their families<Bold>,</Bold> all the males from a
            month old
            and upward<Bold>,</Bold> were twenty and two thousand<Bold>."</Bold> (Numbers 3<Bold>:</Bold>39)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> It is not only this that I just said what shows that this was the custom<Bold>,</Bold> but in verse
            39<Bold>,</Bold> where it says that all the ones that had been counted among the Levites were
            22<Bold>,</Bold>000<Bold>.</Bold> The sum of 7<Bold>,</Bold>500 + 8<Bold>,</Bold>600 +
            6<Bold>,</Bold>200 = 22<Bold>,</Bold>300 and not 22<Bold>,</Bold>000<Bold>.</Bold> This
            indicates to
            us that the amount was rounded off by subtracting the 300<Bold>.</Bold> When there were other
            cases<Bold>,</Bold> however that have the need to better exactitude due to the
            circumstances<Bold>,</Bold>
            the count was exact as in the case of Ezra and Nehemiah<Bold>,</Bold> when they made a census of the
            nation that
            returned from Babylon<Bold>.</Bold></Paragraph>
        <Paragraph><a href="biblenotes.html"><Bold>Back to the Index</Bold></a></Paragraph>
        <Paragraph><a href="biblenotes.html"> </a></Paragraph>

    </Content>
</Layout>
    