---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Discussing our doctrines is approved in the Bible">
    <Tag>#151</Tag>
    <Content>
        <Paragraph>The first Christians discussed fraternally their doctrinal differences</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Demonstration that discuss among believers about our doctrinal differences is correct</Paragraph>
        <Paragraph> All throughout the New Testament<Bold>,</Bold> we see that all of the Apostles and even more so Saint
            Paul<Bold>,</Bold> discussed vehemently<Bold>,</Bold> but fraternally about their doctrinal
            differences<Bold>,</Bold> in order to not carry the grave responsibility of preaching a doctrine that
            was not
            correct even if he thought it was<Bold>.</Bold></Paragraph>
        <Paragraph><a> Paul orders Christians to discuss with those that are in error.</a> Nowadays, Christians think that in
            order to
            be a "good Christian" religion should not be discussed. What we shouldn't do is fight, insult or offend, but
            the
            true Christian doesn't do such a thing when he discuss. Paul always advised his disciples and fellow
            brothers to
            discuss about religion; and he himself constantly did so in the synagogues, the Areopagus and wherever
            someone
            contradicted the right doctrine. Paul, in speaking about how pastors should be, said the following:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 Holding fast the faithful word as he hath been taught<Bold>,</Bold> that he may be
            able by
            sound doctrine both to exhort and to convince the gainsayers<Bold>.</Bold> 10 For there are many unruly
            and vain
            talkers and deceivers<Bold>,</Bold> specially they of the circumcision<Bold>,</Bold> 11 whose mouths
            must be
            stopped<Bold>,</Bold> who subvert whole houses<Bold>,</Bold> teaching things which they ought
            not<Bold>,</Bold> for filthy lucre's sake<Bold>."</Bold> (Titus 1<Bold>:</Bold>9-11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> There are many nowadays<Bold>,</Bold> who<Bold>,</Bold> in contradicting this teaching of
            Paul<Bold>,</Bold> whom they say they imitate<Bold>,</Bold> assure that the only things that they
            have to do
            is <Bold>"</Bold>say<Bold>",</Bold> without using arguments and without trying to convince
            anyone<Bold>,</Bold> and flee if someone contradicts them<Bold>.</Bold></Paragraph>
        <Paragraph> Paul discussed with the Jews and the Gentiles<Bold>,</Bold> he used arguments<Bold>,</Bold> tried to
            convince others<Bold>,</Bold> etc<Bold>.,</Bold> because he knew that he had the
            truth<Bold>,</Bold>
            that he had the blessed doctrine and by having it<Bold>,</Bold> he didn't lack arguments nor the help of
            the
            Holy Spirit<Bold>.</Bold> The ones who avoid the discussions is because they lack all that Paul had
            plenty
            of<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Christians in the first century vehemently discussed their doctrinal differences, but with fraternal love and
            justice</Paragraph>
        <Paragraph> Therefore, it is not wrong to discuss, as is the opinion of some. To my way of thinking, it is good to
            discuss, as
            long as the one who is discussing carries in his spirit the desire to convince the other about something
            that he
            sincerely believes in; and as long as in his own spirit he leaves the door of understanding open in such a
            way that
            the other one can convince him if the other has solid arguments.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>When therefore Paul and Barnabas had no small dissension and disputation with
            them<Bold>,</Bold> they determined that Paul and Barnabas<Bold>,</Bold> and certain other of
            them<Bold>,</Bold> should go up to Jerusalem unto the apostles and elders about this
            question<Bold>."</Bold>
            (Acts 15<Bold>:</Bold>2)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> What happens many times is that people do not discuss<Bold>,</Bold> but they fight with
            words<Bold>,</Bold>
            they try to offend<Bold>,</Bold> irritate<Bold>,</Bold> humiliate their opponent and make fun of him<Bold>,</Bold>
            but a true Christian does not discuss like that<Bold>.</Bold> The ones who proceed in this manner are
            not
            discussing<Bold>,</Bold> but fighting<Bold>,</Bold> trying to defeat with weapons not worthy of a
            just cause<Bold>.</Bold>
            To wield your own arguments<Bold>,</Bold> even if at times it is done in a vehement<Bold>,</Bold>
            but never
            offensive way<Bold>,</Bold> I don't consider bad<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Why many don't want to discuss</Paragraph>
        <Paragraph> There are many reasons why many believers don't discuss their doctrinal differences<Bold>.</Bold> The
            main
            reason is a lack of faith<Bold>.</Bold> Some believe that God<Bold>,</Bold> Christ or the Holy
            Spirit were
            the ones that inspired them with the doctrine that they now believe<Bold>;</Bold> others pretend to
            believe such
            a thing<Bold>.</Bold> Not only that<Bold>,</Bold> they do not dare to discuss with those that
            believe
            differently<Bold>,</Bold> because they feel insecure<Bold>.</Bold> They don't have
            faith<Bold>,</Bold>
            that if their doctrine is really from a luminous origin<Bold>,</Bold> God<Bold>,</Bold> Christ or
            the Holy
            Spirit will give them light<Bold>,</Bold> arguments and words to defend the truth<Bold>.</Bold> They
            don't
            have faith in what Our Lord Jesus Christ promised them in Luke 21<Bold>:</Bold>15<Bold>,</Bold> when
            He said<Bold>:</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>For I will give you a mouth and wisdom<Bold>,</Bold> which all your adversaries shall
            not be
            able to gainsay nor resist<Bold>."</Bold> (Luke 21<Bold>:</Bold>15)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In others what happens is that in reality they don't believe the doctrine they teach<Bold>,</Bold> they
            know
            that it is false<Bold>,</Bold> that they cannot defend it<Bold>,</Bold> and therefore try to find
            any
            pretext in order to not discuss their doctrinal differences<Bold>.</Bold></Paragraph>
        <Paragraph> There are still those who believe what they preach<Bold>,</Bold> but are not sure<Bold>,</Bold> they
            know
            that they cannot defend their beliefs and their inflated ego prevents them from discussing if they consider
            that
            someone can demonstrate to them that they are wrong<Bold>.</Bold> In a few words<Bold>,</Bold> they
            love
            themselves more than God and His truth<Bold>.</Bold> They prefer to hide themselves in the pretext that
            the only
            thing they have to do is <Bold>"</Bold>speak and flee<Bold>",</Bold> and in this way they save their
            egos
            because they believe that no one will find out that they are wrong<Bold>.</Bold></Paragraph>
        <Paragraph> None of them is going to admit that it is because of these questionable reasons that they do not
            discuss<Bold>.</Bold> They are going to put a better pretext<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Various passages where we see that the first Christians discussed about their beliefs</Paragraph>
        <Paragraph> There are believers that have erroneous doctrines that are even heretical<Bold>,</Bold> which they
            absorbed at
            the time of their conversion<Bold>,</Bold> when they could not yet reason about the Bible on their
            own<Bold>.</Bold> Even though they do not have any basis to sustain their beliefs<Bold>,</Bold> they
            wish to
            maintain them at any cost<Bold>,</Bold> because they are afraid<Bold>,</Bold> but they don't know
            what they
            fear if they lose that doctrine<Bold>,</Bold> and that is why they don't discuss about
            it<Bold>.</Bold> The
            healthy custom about the validity of the discussions and argumentative disputes among believers can be
            appreciated
            in the following passages<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 Therefore disputed he in the synagogue with the Jews<Bold>,</Bold> and with the
            devout
            persons<Bold>,</Bold> and in the market<Bold>,</Bold> daily with them that met with
            him<Bold>.</Bold> 18
            Then certain philosophers of the Epicureans<Bold>,</Bold> and of the Stoicks<Bold>,</Bold>
            encountered
            him<Bold>.</Bold> And some said<Bold>:</Bold> What will this babbler say<Bold>?</Bold> Other
            some<Bold>:</Bold> He seemeth to be a setter forth of strange gods<Bold>;</Bold> because he preached
            unto
            them Jesus<Bold>,</Bold> and the resurrection<Bold>."</Bold> (Acts 17<Bold>:</Bold>17-18)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And he reasoned in the synagogue every Sabbath<Bold>,</Bold> and persuaded the Jews and
            the
            Greeks<Bold>."</Bold> (Acts 18<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>And he came to Ephesus<Bold>,</Bold> and left them there<Bold>,</Bold> but he
            himself
            entered into the synagogue<Bold>,</Bold> and reasoned with the Jews<Bold>."</Bold> (Acts
            18<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>For he mightily convinced the Jews<Bold>,</Bold> and that publickly<Bold>,</Bold>
            shewing
            by the Scriptures that Jesus was Christ<Bold>."</Bold> (Acts 18<Bold>:</Bold>28) </Paragraph>
        <Paragraph><Bold>"</Bold>And he went into the synagogue<Bold>,</Bold> and <Bold>spake boldly</Bold> for the
            space of
            three months<Bold>,</Bold> disputing and persuading the things concerning the kingdom of
            God<Bold>.</Bold><Bold>"</Bold></Paragraph>
        <Paragraph> (Acts 19<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Prove all things<Bold>;</Bold> hold fast that which is good<Bold>."</Bold> (I
            Thessalonians
            5<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>16 All Scripture is given by inspiration of God<Bold>,</Bold> and is profitable for
            doctrine<Bold>,</Bold> for reproof<Bold>,</Bold> for correction<Bold>,</Bold> for instruction in
            righteousness<Bold>.</Bold> 17 That the man of God may be perfect<Bold>,</Bold> throughly furnished
            unto all
            good works<Bold>.</Bold><Bold>"</Bold> (II Timothy 3<Bold>:</Bold>16-17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>But sanctify the Lord God in your hearts<Bold>,</Bold> and be ready always to give an
            answer to
            every man that asketh you a reason of the hope that is in you with meekness and fear<Bold>."</Bold></Paragraph>
        <Paragraph> (I Peter 3<Bold>:</Bold>15)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In all of these passages<Bold>,</Bold> we perceive that it was the custom of all of the Apostles to
            discuss
            about religion with the believers and the non-believers<Bold>.</Bold> I do not know where many believers
            have
            come up with such <Bold>"</Bold>disgust<Bold>"</Bold> for the fraternal discussion of our
            beliefs<Bold>,</Bold> unless if it is the fear of their ego being hurt if their arguments are
            erroneous<Bold>.</Bold> There are<Bold>,</Bold> however<Bold>,</Bold> those who their sect
            prohibits
            them from discussing<Bold>,</Bold> so that the errors and heresies of these sects are not
            seen<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Discussions are like light<Bold>,</Bold> it only bothers those that prefer
            darkness<Bold>."</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    