---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Was Jesus nailed to the cross by his hands or by his wrists?">
    <Title>Was Jesus nailed to the cross by the hands or by the wrists?</Title>

    <Tag>#15</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold>All my life I have seen and read that Jesus was affixed to the cross by piercing his hands with
            nails. </Bold> Nevertheless, in this later decade I have seen many pictures in which Jesus is depicted as
            being
            nailed to the cross through his wrists. I have heard also some weird scholars backing this nonsense.
            <Bold>I am
                going to demonstrate this false with three different arguments:</Bold> <Bold>a)</Bold>
            anatomically,
            showing that the hand certainly can hold the weight of a person; <Bold>b)</Bold> anatomically and
            biblically,
            showing that they could not pierce Jesus' wrists, because it would break one or more of his bones, and
            <Bold>c)</Bold> biblically only, showing that the Bible says that it was Jesus' hands that were pierced.
            <Bold>First argument.</Bold> Those who say that Jesus was nailed through the wrists allege that a human
            body
            cannot be held to a cross by nailing its hands to it, because the flesh would give way, the hand would rip,
            and the
            person would fall. This is a lie. <Bold>Those who say such a thing never have seen the dissection of a
                human
                body</Bold>. I have seen many times the hand being studied in cadavers, by medical students. During
            their
            first year they have to study anatomy. At that time they have to dissect not only the hand but also the
            whole body.
            <Bold>The conjunctive tissue of the body of humans and animals is stronger than a rope</Bold>. Tendons,
            transverse ligaments and aponeurosises are conjunctive tissues. The hand is full of them, as you can see in
            <Bold>pictures
                # 1 and # 2</Bold>. All these pictures are taken from the book "An Atlas of Anatomy", by J. C. Boileau
            Grant,
            M.C.; M.B.; Ch. B.; F.R.C.S. Edin, Professor Emeritus of Anatomy in the University of Toronto, Fourth
            Edition.
            Pictures numbers 57, 84, 92 and 98.</Paragraph>
        <Paragraph><img alt="imageTendonesPalma" height="340" src="imageTendonesPalma.jpg" width="623"></Paragraph>
        <Paragraph>Picture # 1 The Palm </Paragraph>
        <Paragraph><img alt="imageTendonesDorso" height="360" src="imageTendonesDorso.jpg" width="251"></Paragraph>
        <Paragraph>Picture # 2 Dorsum of the hand</Paragraph>
        <Paragraph> It is not possible that tendons of a person's hands, transverse ligaments and aponeurosises, pierced by a
            nail, give
            way to let the weight of the body rip the hand, because conjunctive tissue is very strong. This would only
            happen in
            a rotten body, not in a living man. This wouldn't happen even if the body of Christ was hung from only one
            hand,
            much less from both. It is not true that Christ was pierced from the wrists. This lie was introduced into
            Christianity by its enemies, especially by the Russellites. You may think that your delicate hands would be
            ripped
            apart if they were hung. What you need to remember is that Christ's hands were carpenter hands. Today, you
            can get
            an idea about how strong Christ hands were by looking at the hands of any 33 year old carpenter who has been
            in
            building houses since he was a teenager. <Bold>Second argument</Bold>. According to the Scripture, Jesus
            Christ
            is our Passover Lamb, who was going to be sacrificed. That is why he was killed the very same day that the
            Passover
            lamb was to be killed. Paul says so in I Co 5: 7.</Paragraph>
        <Paragraph> "<i>Purge out therefore the old leaven, that ye may be a new lump, as ye are</i> <i> unleavened. For even
            <Bold>Christ
                our Passover</Bold> is sacrificed for us</i>" ( I Co 5: 7 )</Paragraph>
        <Paragraph><Bold>In the ordinances of the Passover it is established that no bone must be broken in the lamb.</Bold>
            It was
            a shadow of what was going to happen later with Jesus, to whom no bone was broken. The Passover ordinances
            say as
            follows:</Paragraph>
        <Paragraph> "<i>In one house shall it be eaten; thou shalt not carry forth ought of the flesh</i> <i> abroad out of the
            house;
            <Bold>neither shall ye break a bone thereof</Bold></i>." ( Ex 12: 46 )</Paragraph>
        <Paragraph> "<i>They shall leave none of it unto the morning, <Bold>nor break any bone of it</Bold>:</i> <i>
            according to
            all the ordinances of the Passover they shall keep it</i>." ( Nm 9: 12 )</Paragraph>
        <Paragraph> As we can see, <Bold>the rite of the Passover forbade breaking any bone of the lamb</Bold>. That is why
            the
            Roman soldiers did not break Jesus' legs when they brought him down from the cross. God would not let them
            do so.
        </Paragraph>
        <Paragraph> "<i>Then came the soldiers, and brake the legs of the first, and of the other</i> <i> which was crucified
            with him.
            But when they came to Jesus, and saw that</i> <i> he was dead already, <Bold>they broke not his
            legs</Bold>; but
            one of the soldiers with a</i> <i> spear pierced his side, and forthwith came there out blood and water.
            And</i> <i>
            he that saw it bare record, and his record is true; and he knoweth that he saith</i> <i> true, that ye might
            believe. <Bold>For these things were done, that the scripture</Bold></i> <Bold> should be fulfilled: A
            bone of
            him shall not be broken</Bold>." ( John 19: 32 - 36 )</Paragraph>
        <Paragraph> If any bone of Jesus Christ could not be broken, then a nail could not have been driven through his wrists,
            because
            then for sure his wrist bones would be broken. <Bold>The wrist has eight bones:</Bold> scaphoid, lunate,
            triquetrum, pisiform, trapezium, trapezoid, capitate and hamate. These bones are kept tightly together by
            ligaments,
            in such a way, that if you drive a nail through the wrist you have to pierce and break some of them.
            Therefore,
            Jesus could not be nailed by the wrists, but by the palm of the hand. The five metacarpal bones which
            constiture the
            palm of the hand, are separate from each other, and thus a nail can be driven between two of them without
            breaking
            any. <Bold>See picture # 3</Bold>. This means that the hand can be pierced by a nail without breaking a
            bone,
            but if the wrist is pierced by a nail, it necessarily will break one or more bones. <Bold>See picture #
                4.</Bold></Paragraph>
        <Paragraph><img alt="imageHuesosPelados" height="460" src="imageHuesosPelados.jpg" width="388"> Picture # 3 Bones of
            wrist, palm
            and fingers</Paragraph>
        <Paragraph> The section of the wrist of the former picture, is enlarged in the next picture so that you can see that it
            is
            impossible to drive a nail through the wrist without breaking a bone.</Paragraph>
        <Paragraph><img alt="image002" height="294" src="JesusNailedByHisHands_files/image002.jpg" width="426"></Paragraph>
        <Paragraph>Picture # 4 Bones of the wrist</Paragraph>
        <Paragraph><Bold>Third argument. </Bold> Above and beyond all these "anatomical" arguments are the biblical
            arguments. In
            the Bible it says several times that Jesus was pierced at his hands and his feet. It never ever mentions the
            wrists.
            Why then are people trying to instill in us, by means of pictures and conferences, that Jesus was nailed at
            his
            wrists? What are they up to? Let us see what Jesus said when he showed himself to apostles.</Paragraph>
        <Paragraph> "<i>The other disciples therefore said unto him: We have seen the Lord. But</i> <i> he said unto them:
            <Bold>Except
                I shall see in his hands the print of the nails,</Bold> and <Bold>put</Bold></i> <Bold> my
            finger into the
            print of the nails,</Bold> <i>and thrust my hand into his side, I will not</i> <i> believe. And after
            eight days
            again his disciples were within, and Thomas</i> <i> with them; then came Jesus, the doors being shut, and
            stood in
            the midst, and</i> <i> said: Peace be unto you. Then saith he to Thomas: <Bold>Reach hither thy
            finger,</Bold></i> <Bold> and behold my hands;</Bold> <i>and reach hither thy hand, and thrust it into
            my
            side: and</i> <i> be not faithless, but believing</i>." ( John 20: 25-27 )</Paragraph>
        <Paragraph> As we can see in this passage, <Bold>Thomas knew that Jesus' hands were pierced, not his wrists</Bold>.
            He
            expected a hole in his hands, not in his wrists. When Jesus came to them a second time, <Bold>he showed
                Thomas his
                hands, not his wrists</Bold>. <Bold>It is evident</Bold> that it was his hands that were pierced
            by the
            nails, not his wrists. This same thing can be noticed in other passages. Let us see them.</Paragraph>
        <Paragraph> "<i>And when he had so said, <Bold>he shewed unto them his hands</Bold> and his side. Then</i> <i> were
            the
            disciples glad, when they saw the Lord</i>." ( John 20: 20 )</Paragraph>
        <Paragraph> "<i>And he said unto them, Why are ye troubled?; and why do thoughts arise</i> <i> in your hearts? <Bold>Behold
            my
            hands and my feet, that it is I myself;</Bold> handle me,</i> <i> and see; for a spirit hath not flesh and
            bones,
            as ye see me have. And when</i> <i> he had thus spoken, <Bold>he shewed them his hands and his
            feet</Bold></i>."
            ( Luke 24: 38- 40 )</Paragraph>
        <Paragraph> In these two passages we see that for the purpose of identifying himself Jesus showed them his hands and his
            feet,
            not his wrists and his feet. If we go to the prophecies of the Old Testament we will also see that when
            foretelling
            what Jesus was going to go through, they talked about his hands, not about his wrists.</Paragraph>
        <Paragraph> "<i>For dogs have compassed me; the assembly of the wicked have inclosed</i> <i> me: <Bold>they pierced my
            hands</Bold> and my feet</i>." ( Psalms 22: 16 )</Paragraph>
        <Paragraph> "<i>And one shall say unto him: <Bold>What are these wounds in thine hands</Bold>? Then</i> <i> he shall
            answer:
            Those with which I was wounded in the house of my friends</i>." ( Zech 13: 6 )</Paragraph>
        <Paragraph> There is not the slightest doubt that Jesus was pierced through his hands and not through his wrists, like
            some
            weird scholars now want us to believe. Nevertheless, I will not be surprised if one of these days some weird
            scholar
            declares that Jesus was nailed to the cross by his ankles, not by his feet.</Paragraph>
        <Paragraph> There are now some questionable "scholars" that are trying to convince Christians that in ancient times,
            people
            never did make a difference between "hand" and "wrist", in order to justify that Jesus was nailed by the
            wrist. This
            is false. In ancient times they made a difference between hand and wrist. Both, Latin and Greek have a word
            for
            wrist: in Latin, it was, "carpus", and in Greek it was pronounced very similar but written ,"carpoz". What
            these
            dubious scholars say is not true.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the index</a></Paragraph>

    </Content>
</Layout>
    