---
import Layout from "../layout/Layout.astro";
---

<Layout title="God Appoints Kings">
    <section>
        <p><strong>To whom do the kingdoms of the world belong to?</strong> <strong>God's or Satan's?</strong></p>
        <p><strong>God, through his heavenly messengers, prophets, and apostles, has told us that the kingdoms of the
            world are
            His,</strong> and that He appoints whomever He wants to rule. <strong>On the other hand, Satan once said
            that the
            kingdoms of the world are his</strong> and that he appoints whomever he wants. Who should Christians,
            especially
            pastors, writers of evangelical books, and those who teach doctrine to brethren, believe? There are
            Christians who,
            <strong>influenced by the russellistic heresy,</strong> think that Satan is the one who rules the world and
            sets
            rulers in power. <strong>The Bible says just the contrary; it says that God sets kings in their
                kingdoms.</strong>
            The only thing that Satan and demons can do is tempt rulers according to their lusts, trying to derail God's
            plans.
            But it doesn't mean that they rule this world or that they set kings in their kingdoms. Satan and demons
            also tempt
            Church leaders, pastors, and denominational leaders to make them go astray. They try to twist God's plans.
            This
            doesn't mean that Church leaders, pastors and denominational leaders are set in their positions by the
            Devil, nor
            that churches and denominations belong to Satan. God permits, till certain limits, wickedness in government,
            churches, denominations, etc., but this doesn't mean that Satan rules over these institutions. The Scripture
            speaks
            very plainly about who puts and removes kings. Let us read what the Prophet Daniel has to say about this.
        </p>
        <p></p>
        <p> "<i>And he changeth the times and the seasons; <strong>He removeth</strong></i></p>
        <p><strong>kings, and setteth up kings;</strong> <i>he giveth wisdom unto the wise,</i></p>
        <p><i>and knowledge to them that know understanding. He</i> <i>revealeth</i></p>
        <p><i> the deep and secret things; he knoweth what is in the darkness,</i></p>
        <p><i> and the light</i> <i>dwelleth with him</i>." ( Dn 2: 20-22 )</p>
        <p></p>
        <p> As we have read, <strong>Daniel, who knew best, more than all the members of the ruling body of the
            russellites,</strong> declares that God is the one who removes and appoints kings. It is not a vague
            statement that
            you have to ponder about, it is a plain statement that you just have to hear in order to understand. If we
            read Dn
            2: 37 we will see Daniel telling Nebuchadnezzar, the most powerful king who ever reigned, that his kingdom
            and power
            was given by God. Daniel does not say that Satan gave it Nebuchadnezzar. Nevertheless, that is what many
            Christians
            and all russellites believe.</p>
        <p></p>
        <p> "<i>Thou, O king, art a king of kings, <strong>for the God of heaven</strong></i></p>
        <p><strong>hath given thee a kingdom,</strong> <strong>power,</strong> <i>and strength, glory."</i></p>
        <p>( Dn 2: 37 )</p>
        <p></p>
        <p> A couple of chapters later, in Dn 4: 13-17 the Bible says that a "watcher and holy" told Nebuchadnezzar
            about this
            issue.</p>
        <p></p>
        <p><i> "</i>13 <i>I saw in the visions of my head upon my bed, and, behold,</i></p>
        <p><strong>a watcher and an holy</strong> <strong>one came down from heaven.</strong> <i>14 He cried</i></p>
        <p><i> aloud, and said thus…..</i> 17 <i>This matter is by</i> <i>the decree of the</i></p>
        <p><i>watchers, and the demand by the word of the holy ones: <strong>to the</strong></i></p>
        <p><strong>intent</strong> <strong>that the living may know that the most High ruleth in</strong></p>
        <p><strong>the kingdom of men, and giveth</strong> <strong>it to whomsoever he will,</strong> <i>and</i></p>
        <p><i>setteth up over it the basest of men."</i></p>
        <p> ( Dn 4: 13-17 abbreviated )</p>
        <p></p>
        <p> It is perfectly clear who the kingdoms of the world belong to. Or maybe the russellites know more than this
            "watcher
            and holy" that came to Earth sent by God? Could it be? After this declaration of the watcher, Daniel affirms
            again
            twice more that the kingdoms are God's. Let us read.</p>
        <p></p>
        <p><i> "</i>25 <i>That they shall drive thee from men, and thy dwelling</i></p>
        <p><i>shall be with the beasts of the field,</i> <i>and they shall make thee</i></p>
        <p><i> to eat grass as oxen, and they shall wet thee with the dew of</i></p>
        <p><i>heaven, and seven times shall pass over thee, till thou know</i></p>
        <p><i> <strong>that the Most High ruleth in the kingdom</strong></i> <strong>of men, and</strong></p>
        <p><strong> giveth it to whomsoever He will</strong><i>.</i> 26 <i>And whereas they</i></p>
        <p><i>commanded to leave the</i> <i>stump of the tree roots; thy kingdom</i></p>
        <p><i> shall be sure unto thee, after that thou shalt have known</i> <i> that <strong>the heavens do
            rule</strong>." (
            Dn 4: 25-26 )</i></p>
        <p></p>
        <p> "31 <i>While the word was in the king's mouth, there fell <strong>a voice</strong></i></p>
        <p><strong>from heaven,</strong> <i>saying,</i> <i>O king Nebuchadnezzar, to thee it is</i></p>
        <p><i>spoken; The kingdom is departed from thee.</i> 32 <i>And they shall</i></p>
        <p><i>drive thee from men, and thy dwelling shall be with the beasts</i></p>
        <p><i> of the</i> <i>field; they shall make thee to eat grass as oxen, and seven</i></p>
        <p><i> times shall pass over thee,</i> <i>until thou know that <strong>the Most High</strong></i></p>
        <p><strong> ruleth in the kingdom of men, and giveth it to</strong> <strong>whomsoever He</strong></p>
        <p><strong><i>will.</i>" </strong> ( Dn 4: 31-32 )</p>
        <p></p>
        <p><strong>A voice sent from God</strong> told Nebuchadnezzar that God appoints kingdoms to whomsoever He wants.
            <strong>Satan, russellites,</strong> and sadly some Christians, say that it is Satan who appoints the rulers
            of the
            world. Is there any hesitation about to whom we should believe? Many years later, in chapter 5, Daniel,
            speaking to
            Belshazzar about his grandfather Nebuchadnezzar's experience, reiterates who the kingdoms of the Earth
            belong to.
        </p>
        <p></p>
        <p><i> "And he was driven from the sons of men; and his heart was</i></p>
        <p><i> made like the beasts,</i> <i>and his dwelling was with the wild asses;</i></p>
        <p><i> they fed him with grass like oxen, and his</i> <i>body was wet with the</i></p>
        <p><i> dew of heaven; <strong>till he knew that the most high God ruled in the</strong></i> <strong> kingdom of
            men, and
            that He appointeth over it whomsoever</strong></p>
        <p><strong>he will.</strong><i>"</i> ( Dn 5: 21 )</p>
        <p></p>
        <p><strong>It is interesting to notice that all this is said to a gentile king,</strong> so that the russellites
            could
            not allege that the only kings that God appointed were those of the Israelite theocracy. <strong>Now let us
                see what
                Jesus says about this issue.</strong> When Jesus was presented before Pilate, this Roman governor
            arrogantly
            told Jesus that he could crucify or release him. At that time Jesus told him that his power came from God.
            Let us
            read.</p>
        <p><i> </i></p>
        <p><i> "Then saith Pilate unto him: Speakest thou not unto me?</i></p>
        <p><i> Knowest thou not that I have</i> <i>power to crucify thee, and have</i></p>
        <p><i>power to release thee? Jesus answered:<strong>Thou couldest</strong></i> <strong>have</strong></p>
        <p><strong>no power at all against me, except it were given thee from</strong></p>
        <p><strong>above.</strong> <i>Therefore he that</i> <i>delivered me unto thee hath the</i></p>
        <p><i>greater sin</i>." ( Jn 19: 10-11 )</p>
        <p></p>
        <p> Here Jesus reiterates what was said by Daniel, by the watchers, and by the voice that came from heaven. Are
            more
            testimonies needed to convince anyone that God appoints kings, governors and rulers of the Earth? But,
            anyway, what
            is the "biblical" base for those who affirm that it is Satan who sets forth kings and kingdoms? It is
            Satan's word,
            therefore, they believe him.</p>
        <p><i> </i></p>
        <p><i> "And the Devil, taking him up into a high mountain, shewed</i></p>
        <p><i> unto him all the kingdoms</i> <i>of the world in a moment of time.</i></p>
        <p><i> And the devil said unto him: <strong>All this power will I give</strong></i> <strong>thee,</strong></p>
        <p><strong>and the glory of them, for that is delivered unto me, and to</strong></p>
        <p><strong>whomsoever I will I</strong> <strong>give it.</strong> <i>If thou therefore wilt worship me,</i></p>
        <p><i> all shall be thine. And Jesus answered and said</i> <i>unto him: <strong>Get</strong></i></p>
        <p><strong> thee behind me, Satan,</strong> <i>for it is written, Thou shalt worship</i></p>
        <p><i>the Lord thy God,</i> <i>and him only shalt thou serve."</i></p>
        <p>( Lk 4: 5-8 )</p>
        <p></p>
        <p> Some may ask: Why did Jesus not refute Satan's statement? <strong>If a man comes to the door of an honest
            married
            woman</strong> and promise's to give her a million dollars if she goes to bed with him, what should this
            honest
            woman do? Should she start a discussion to demonstrate to him that he does not have so much money, or should
            she
            kick him out of her home? If she would start a discussion to demonstrate that he does not have that money,
            everybody
            would think that if he had the money she would go to bed with him. Therefore, the only alternative for an
            honest
            woman is to drive him out without any discussion. <strong>If Jesus argued with the Devil to demonstrate that
                he did
                not have the power to give him the kingdoms</strong> of the Earth, Christ's enemies today, including
            russellites, would be saying that Jesus did not accept the Devil's proposal because he knew that the Devil
            did not
            have that power. That is why Jesus did what he did: ordered Satan to leave at once. <strong>Satan faked that
                he had
                doubts about if Jesus was or not the Son of God</strong>. Satan asked Jesus to give proofs of that, by
            converting stones to bread or throwing himself from the Temple peak. Jesus did not refute Satan about that;
            he did
            not start a discussion to demonstrate that he was the Son of God. Nevertheless, the fact that Jesus did not
            refute
            Satan does not mean that Satan was saying the truth. By the same token, the fact that Jesus did not refute
            Satan
            when he said that the kingdoms of the world were his does not mean that the Devil was saying the truth.
            <strong>Another
                thing alleged by those who hold up that heresy is that if Satan were not the owner</strong> of the
            kingdoms he
            would not have offered them to Jesus. It seems that they think that Satan was honest enough not to offer
            what he
            could not give. Even Satan knew that Jesus knew that the kingdoms of the Earth were God's. It seems that he
            was
            hoping that after his forty days fast his mind was feeble enough to become confused. Satan also knew that
            Jesus knew
            that he should not convert stones into bread nor throw himself from the Temple, and he asked Jesus to do it
            anyway.
            <strong>Paul the apostle, who knew better than all these charlatans,</strong> stated clearly that the
            kingdoms and
            authorities belonged to God.</p>
        <p></p>
        <p> "<i>Let every soul be subject unto the higher powers. <strong>For</strong></i></p>
        <p><strong>there is no power but of God.</strong> <strong>The powers that be are</strong></p>
        <p><strong>ordained of God. Whosoever therefore resisteth the power,</strong> <strong> resisteth the ordinance
            of
            God</strong><i>; and they that resist shall</i></p>
        <p><i>receive to themselves damnation. For rulers are not a terror</i></p>
        <p><i> to good works, but to the evil. Wilt thou then not be afraid of</i> <i> the power? Do that which is good,
            and
            thou shalt have praise</i></p>
        <p><i>of the same. <strong>For he is the</strong></i> <strong>minister of God</strong> <strong>to thee for
            good.</strong></p>
        <p><i>But if thou do that which is evil, be afraid; for he beareth</i> <i> not the sword in vain: for <strong>he
            is the
            minister of God,</strong> a revenger</i></p>
        <p><i> to execute wrath upon him</i> <i>that doeth evil. Wherefore ye must</i></p>
        <p><i> need be subject, not only for wrath, but also for</i> <i>conscience sake.</i></p>
        <p><i> For this cause pay ye tribute also, for <strong>they are God's ministers,</strong></i></p>
        <p><i> attending</i> <i>continually upon this very thing."</i></p>
        <p>( Ro 13: 1-6 )</p>
        <p></p>
        <p> Saint Paul clearly says that governments do not exist but only those that God sets up. <strong>God puts
            rulers in
            their position.</strong> After being in position those rulers, enticed by Satan, may corrupt their ministry
            and do
            ungodly things, but it does not mean that they were not placed there by God. It happened so with Saul.
            Similarly,
            God calls a person to be a pastor or to be a founder or director of a denomination, and after being in
            position,
            incited by Satan, they may corrupt their ministry and do ungodly things, but it does not mean that God did
            not place
            them there. <strong>It does not mean either that Satan rules the churches.</strong> <strong> It is illogical
                to
                think that Paul exhorted his brethren to pay taxes to Satan's agents</strong>. If he exhorted them to
            pay taxes
            is because governments are of God, not of Satan. In the former passage Paul says: <strong>a)</strong> that
            there are
            no powers but God's ordained; <strong>b)</strong> that those that exist are ordained by God;
            <strong>c)</strong>
            that he who opposes the government opposes God; and <strong>d)</strong> that governments are ministers of
            God; he
            says that three times. Is that vague or confusing? Who says the truth, Satan and the russellites or Saint
            Paul? It
            is not only Paul who affirms this, but also Peter.</p>
        <p></p>
        <p><i> "Submit yourselves to every ordinance of man <strong>for the</strong></i></p>
        <p><strong>Lord's sake:</strong> <i><strong>whether it be to</strong></i> <strong>the king,</strong> <i>as
            supreme, or
            unto</i></p>
        <p><i> governors, as unto them that are sent by him for the</i></p>
        <p><i>punishment of evildoers, and for the praise of them that do</i></p>
        <p><i> well. For so is the will</i> <i>of God, that with well doing ye may</i></p>
        <p><i>put to silence the ignorance of foolish men. As free,</i> <i>and not</i></p>
        <p><i> using your liberty for a cloke of maliciousness, but as the</i></p>
        <p><i>servants of God.</i> <i>Honour all men. Love the brotherhood.</i></p>
        <p><i>Fear God. <strong>Honour the king</strong>.</i>" ( I Pt 2: 13-17 )</p>
        <p></p>
        <p> As we see Peter also tells us that the governments are God's. If the kings were agents of Satan, appointed
            by Satan,
            <strong>Peter was not going to exhort his brethren to honor an agent of Satan.</strong> Could it be that not
            even
            Peter knew as much as the russellites? <strong>There are some who have the absurd hypothesis that the Earth
                was
                Adam's and that he yielded to Satan its dominion.</strong> In no place of the Bible does it say that the
            planet
            belonged to Adam nor that Adam yielded its dominion to Satan. These are distorted lucubrations of people who
            try to
            explain what is happening around them without taking the Bible into consideration. If we read in the Bible
            the books
            of Kings and Chronicles, we will see that God was always the one who appointed kings to their position. But
            even
            without appealing to the Bible, <strong>by mere use of common sense we can conclude that the kingdoms of the
                world
                are not Satan's.</strong> Let us try to imagine what our concept of Satan would be if the kingdoms of
            the world
            were really his.</p>
        <p><strong>a)</strong> Since there are hundreds of thousands of churches, and millions preach the gospel, we
            have to
            come to the conclusion that Satan is easygoing and tolerant; he permits that the gospel be preached in his
            kingdom.
            <strong>b)</strong> There are so many hospitals and orphanages in Satan's world that this tells us that he
            is very
            kindhearted. <strong>c)</strong> Given that Satan rules the world, and that he didn't kill at once all the
            apostles,
            it is necessary to think that he is not as bad as he is depicted. <strong>d)</strong> He rules the world and
            does
            not terrorize Christians by appearing to them to instill fear in them; therefore, he has to be pretty
            moderate.
            <strong>e)</strong> Yes, he is the one who put in the minds of corrupted people to print pornography, but as
            ruler
            of the world he also permits Bibles and Christian books to be printed; in consequence he is a very
            democratic being.
            <strong>These are the absurdities that we have to get to, if we think that the kingdoms of the Earth are
                Satan's and
                that he is the one who appoints kings.</strong> Not only is it false and blasphemous to say that Satan
            rules the
            world, it is highly flattering for him. True Christians must think deeply about all this before teaching
            others such
            a heresy.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    