---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Melchizedek could not be Christ">
    <Tag>#23</Tag>
    <Content>
        <Paragraph><Bold>Melchizedek could not be Christ</Bold></Paragraph>
        <Paragraph> When a person presents a hypothesis, or affirms something that is not evident, to another person, it is not
            the
            second one who has to prove it false. Rather the person who presented the hypothesis has the obligation to
            demonstrate that what he said is true. <Bold>The fact that no one can demonstrate other person's
                hypothesis or
                affirmation as false, is not a proof that it is true.</Bold> I can say that yesterday night I went to
            the
            moon, and came back this morning; and nobody can demonstrate that this is false. It is I who has to
            demonstrate that
            what I said is true. I also could say that my donkey knows how to fly, but he does not like to fly in the
            sight of
            other people. Of course, nobody believes that, but <Bold>nobody can demonstrate that this is
                false</Bold>.
            Really nobody has to demonstrate that this is false; it is I who has to prove that it is true. The same
            criterion
            must be applied to biblical hypotheses or affirmations <Bold>that are not evident by merely reading the
                Bible</Bold>. It is not I who has to demonstrate that it is false; it is he who presents such a
            hypothesis or
            affirmation, the one who has to prove it is true. <Bold>I don't know the bases of those who affirm that
                Melchizedek was Christ.</Bold> I should not have to be the one to prove it false; but instead, he who
            believes
            it, should prove it right. <Bold>Nevertheless, I will demonstrate that Jesus was not Melchizedek.</Bold>
            If
            someone sees a mistake in what I say, or if someone can demonstrate that Melchizedek is Jesus, please share
            that
            knowledge with me because I love to find the truth. In the Bible there are only five passages that speak of
            Melchizedek, these are: Gen 14: 18-20; Sal 110: 1-7; Heb 5: 5-11; Heb 6: 19-20; and Heb 7: 1-28. From none
            of these
            passages can you derive that Jesus was Melchizedek. Let us see.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "18 <i>And Melchizedek king of Salem brought forth bread and</i></Paragraph>
        <Paragraph><i> wine: and <Bold>he was the priest</Bold></i> <Bold>of the Most High God</Bold><i>.</i> 19 <i>And
            he</i>
        </Paragraph>
        <Paragraph><i>blessed him, and said: Blessed be Abram of the Most High</i> <i>God,</i></Paragraph>
        <Paragraph><i> possessor of heaven and earth;</i> 20 <i>and blessed be the Most High</i></Paragraph>
        <Paragraph><i> God, which hath delivered thine enemies into thy hand. And he</i></Paragraph>
        <Paragraph><i>gave him tithes of all</i>." ( Gen 14: 18-20 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In the passage we have just read we see nothing that can be construed as saying that Jesus is Melchizedek.
            Just
            because he was a priest of God does not mean that he was Christ. There were many priests of God who were not
            Christ.
            On the contrary, <Bold>it says that at that time Melchizedek already was a priest, while Jesus became a
                priest
                after the crucifixion.</Bold> In the moment that Melchizedek appears, Jesus still was not a priest.
            <Bold>We
                know this because it is in a psalm of David that for the first time a prophecy tells us that the Messiah
                was to
                become a priest.</Bold> In psalm 110 we see that the Messiah was going to be appointed priest after
            the order
            of Melchizedek. Therefore, it means that Melchizedek was priest before Jesus was. Therefore, they cannot be
            the same
            person.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "1 <i>A Psalm of David. The LORD said unto my Lord: Sit thou</i></Paragraph>
        <Paragraph><i> at my right hand, until I make thine</i> <i>enemies thy footstool.</i></Paragraph>
        <Paragraph><i> </i>2 <i>The LORD shall send the rod of thy strength out of Zion;</i></Paragraph>
        <Paragraph><i>rule thou in the</i> <i>midst of thine enemies.</i> 3 <i>Thy people shall be</i></Paragraph>
        <Paragraph><i>willing in the day of thy power, in the beauties of</i> <i>holiness</i></Paragraph>
        <Paragraph><i>from the womb of the morning; thou hast the dew of thy youth.</i></Paragraph>
        <Paragraph><i> </i>4 <Bold>The LORD hath sworn, and will not repent, Thou art a</Bold></Paragraph>
        <Paragraph><Bold>priest for ever after the order of Melchizedek.</Bold> 5 <i>The Lord at thy</i></Paragraph>
        <Paragraph><i>right hand shall strike through kings in the day of His wrath.</i></Paragraph>
        <Paragraph><i> </i>6 <i>He shall judge among the heathen, He shall fill the places</i></Paragraph>
        <Paragraph><i>with the dead bodies; He shall wound the heads over</i> <i>many</i></Paragraph>
        <Paragraph><i>countries.</i> <i>7 He shall drink of the brook in the way: therefore</i></Paragraph>
        <Paragraph><i>shall he lift up the head</i>." ( Ps 110: 1-7 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As is obvious in the former passage there is nothing to prove, or at least to hint, that Melchizedek was
            Jesus.
            Instead we find data that lets us know that Melchizedek was a priest before Jesus was. <Bold>If I say: "
                'B' is
                going to be priest just as 'A' was", logically, "A" acceded to priesthood before "B"</Bold>.
            Therefore, if
            Melchizedek was a priest before Jesus was, they are not the same person. Now, an argument of utmost
            importance.
            <Bold>The only time Jesus was in flesh</Bold> was when he was born from Virgin Mary. In the following
            passage we
            will see <Bold>that Melchizedek had flesh</Bold>, therefore, he was a human being. <Bold>If
                Melchizedek had
                flesh before Jesus was born, evidently he could not be Jesus.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "5 <i>So also Christ glorified not himself to be made an high</i></Paragraph>
        <Paragraph><i> priest; but he that said unto him,</i> <i>Thou art my Son, today</i></Paragraph>
        <Paragraph><i>have I begotten thee.</i> 6 <i>As he saith also in another place:</i></Paragraph>
        <Paragraph><i>Thou art a</i> <i>priest for ever <Bold>after the order of Melchizedek.</Bold></i> 7
            <Bold>Who</Bold></Paragraph>
        <Paragraph><Bold>in the days of his flesh,</Bold> <i>when he had</i> <i>offered up prayers and</i></Paragraph>
        <Paragraph><i> supplications with strong crying and tears unto him that was</i></Paragraph>
        <Paragraph><i>able to save</i> <i>him from death, and was heard in that he feared.</i></Paragraph>
        <Paragraph><i> </i>8 <i>Though he were a Son, yet learned he</i> <i>obedience by the things</i></Paragraph>
        <Paragraph><i> which he suffered; </i> 9 <i>and being made perfect, he became the</i></Paragraph>
        <Paragraph><i>author of</i> <i>eternal salvation unto all them that obey him;</i> 10 <i>called</i></Paragraph>
        <Paragraph><i> of God an high priest <Bold>after the order of</Bold></i> <Bold>Melchizedek.</Bold> 11 <i>Of</i>
        </Paragraph>
        <Paragraph><i>whom we have many things to say, and hard to be uttered, seeing</i></Paragraph>
        <Paragraph><i> ye are</i> <i>dull of hearing</i>." ( Heb 5: 5-11 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Neither in the former passage nor in the next passage can we find the smallest hint that makes us suspect
            that Jesus
            and Melchizedek are the same person. On the contrary, in the next passage we find again that Melchizedek was
            a
            priest when Jesus was not.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "19 <i>Which hope we have as an anchor of the soul, both sure</i></Paragraph>
        <Paragraph><i> and stedfast, and which entereth</i> <i>into that within the veil;</i></Paragraph>
        <Paragraph><i> </i>20 <i>whither the forerunner is for us entered, even Jesus, <Bold>made</Bold></i></Paragraph>
        <Paragraph><Bold> an high</Bold> <Bold>priest</Bold> <i>for ever <Bold>after the order of</Bold></i>
            <Bold>Melchizedek</Bold><i>.</i>"
        </Paragraph>
        <Paragraph>( Heb 6: 19-20 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In the next passage, in verse 3 we see that Melchizedek <Bold>was made like unto the Son of God.</Bold>
            If he
            <Bold>was made like unto Jesus,</Bold> it is because he was not Jesus. It is out of logic that you and a
            friend
            stand before your son and instead of telling your friend: "Look, this is my son" you tell him: "Look, this
            is like
            unto my son".</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "1 <i>For this Melchizedek, king of Salem, priest of the Most</i></Paragraph>
        <Paragraph><i> High God, who met Abraham</i> <i>returning from the slaughter</i></Paragraph>
        <Paragraph><i>of the kings, and blessed him;</i> 2 <i>to whom also Abraham gave a</i></Paragraph>
        <Paragraph><i>tenth part of all; first being by interpretation King of</i></Paragraph>
        <Paragraph><i>righteousness, and after that also</i> <i>King of Salem, which is,</i></Paragraph>
        <Paragraph><i>King of peace;</i> 3 <i>without father, without mother, without descent,</i> <i> having neither beginning
            of days,
            nor end of life; but <Bold>made like</Bold></i></Paragraph>
        <Paragraph><Bold>unto the Son of God;</Bold> <i>abideth a priest continually</i>."</Paragraph>
        <Paragraph>( Heb 7: 1-3 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> What Paul is saying in verse 3 is that Melchizedek, who abruptly came and abruptly disappeared from history,
            made a
            good symbol of Christ. <Bold>Melchizedek had flesh</Bold> as we have seen, so, he was a human being.
            Therefore,
            Paul is not trying to tell us that Melchizedek did not have a father, mother, children, birth day and a
            death day;
            he is not trying to tell us this, because all human beings have these things. What he is saying is that
            <Bold>because
                the data was not recorded, he made a good symbol of the priesthood of Jesus.</Bold> The fact that the
            sacrificed lambs were a symbol of Christ, does not mean that the lamb and Jesus were the same being. Same
            with
            Melchizedek. For God's purposes it was only needed that Melchizedek appear, get the tithes from Abraham and
            disappear. That is why no other data of his life is registered. It does not mean that the data did not
            exist, it
            means that it was not necessary to register it. We must also note that in verse 6 of the next passage,
            referring to
            Melchizedek, it says that <Bold>his descent, genealogy, or lineage, was not counted</Bold>. Therefore,
            <Bold>he
                had a genealogy</Bold>, it was just not counted so that he could be similar to Jesus. <Bold>If
                Melchizedek
                was Jesus it would have said that he had no genealogy, instead of saying that it was not
                counted.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "4 <i>Now consider how great this man was, unto whom even</i></Paragraph>
        <Paragraph><i> the patriarch Abraham gave the</i> <i>tenth of the spoils.</i> 5 <i>And</i></Paragraph>
        <Paragraph><i> verily they that are of the sons of Levi, who receive the</i></Paragraph>
        <Paragraph><i> office of the</i> <i>priesthood, have a commandment to take tithes</i></Paragraph>
        <Paragraph><i> of the people according to the law, that is, of</i> <i>their brethren,</i></Paragraph>
        <Paragraph><i> though they come out of the loins of Abraham:</i> 6 <Bold>But he</Bold></Paragraph>
        <Paragraph><Bold>whose descent is not</Bold> <Bold>counted from them</Bold> <Bold>received tithes</Bold></Paragraph>
        <Paragraph><Bold>of Abraham,</Bold> <i>and blessed him that had the promises</i>." ( Heb 7: 4 - 6 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In verse 11 of the passage we are studying we see a reaffirmation that Jesus became priest after Melchizedek
            did. In
            using the word <Bold>"another"</Bold>, referring to Jesus, it is evident that Christ's priesthood was
            posterior
            to Melchizedek's priesthood. Therefore they cannot be the same person.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>If therefore perfection were by the Levitical priesthood,</i></Paragraph>
        <Paragraph><i> for under it the people received the law,</i> <Bold>what further need</Bold></Paragraph>
        <Paragraph><Bold> was there that another priest should rise after the order of</Bold></Paragraph>
        <Paragraph><Bold>Melchizedek</Bold><i>, and not be</i> <i>called after the order</i> <i>of Aaron</i>?"</Paragraph>
        <Paragraph> ( Heb 7: 11 )</Paragraph>
        <Paragraph> This same idea we acquire from verse 15. There it says that <Bold>another</Bold> priest would arise
            after the
            <Bold>similitude</Bold> of Melchizedek. If one is the similitude of the other, they are not the same
            person.
            Besides, it is evident that if it says "another" is because there was a <Bold>different</Bold> one
            before. Let
            us see.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "14 <i>For it is evident that our Lord sprang out of Juda; of</i></Paragraph>
        <Paragraph><i> which tribe Moses spake nothing</i> <i>concerning priesthood.</i></Paragraph>
        <Paragraph><i> </i>15 <Bold>And it is yet far more evident, for that after the similitude</Bold></Paragraph>
        <Paragraph><Bold>of</Bold> <Bold>Melchizedek there ariseth another priest,</Bold> 16 <i>who is made,</i></Paragraph>
        <Paragraph><i> not after the law of a carnal, but after the power of an</i></Paragraph>
        <Paragraph><i>endless life.</i> 17 <i>For he testifieth, Thou art a priest for</i> <i>ever</i></Paragraph>
        <Paragraph><i> <Bold>after the order of Melchizedek</Bold></i>." ( Heb 7: 14-17 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Something else to notice is that if Melchizedek was Jesus, then <Bold>in the New Testament he would not be
            called
            Melchizedek,</Bold> because by that time they knew that his name was Jesus or at least he would be
            identified
            clearly with Jesus.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    