---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Judas was a traitor not a patriot">
    <Tag>#25</Tag>
    <Content>
        <Paragraph><Bold>NOW THEY WANT TO CONVINCE US THAT JUDAS WAS NOT A TRAITOR, BUT A PATRIOT.</Bold></Paragraph>
        <Paragraph> It is noticeable nowadays a strange endeavor carried out by certain "biblical scholars" trying to convey in
            their
            works, in a very sneaky way, the idea that Judas Iscariot was not a traitor, but a patriot. The idea seems
            as if it
            came out of a fairy tale book. According to them Judas betrayed Jesus in order to force him to manifest
            himself as
            the Messiah, and to save Israel from the Romans. It is to say that Judas was an honorable patriot and not a
            repugnant traitor. Sadly many Christians swallow such a fantastic "explanation" of the behavior of that
            traitor,
            because they do not read the Bible, and so they accept any fairy tale they hear. To start with, let us learn
            what
            was John's frame of mind regarding Judas. <Bold>Saint John who knew Judas, personally</Bold> and had
            much more
            information than these "scholars" that now want to justify him, <Bold>stated without any hesitation that
                Judas was
                a thief</Bold>. This he said <Bold>long after these events</Bold>, after the misunderstandings
            would have
            been cleared up, and passions had settled down. Let's read.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Then saith one of his disciples, <Bold>Judas Iscariot</Bold>, Simon's</i></Paragraph>
        <Paragraph><i>son, which would betray him:</i> <i>Why was not this ointment</i></Paragraph>
        <Paragraph><i>sold for three hundred pence, and given to the poor? <Bold>This</Bold></i></Paragraph>
        <Paragraph><Bold>he</Bold> <Bold>said, not that he cared for the poor; but because he was</Bold></Paragraph>
        <Paragraph><Bold>a thief</Bold><i>, and had the bag, and</i> <i>bare what was put therein."</i></Paragraph>
        <Paragraph>( John 12: 4 - 6 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>If he was a thief, then he was not a patriot.</Bold> Something else to notice is that the supposed
            patriot
            did not care for the poor people of his own country. <Bold>It is impossible to conceive a real patriot who
                does
                not care for the poor people</Bold>. This just is not true. <Bold>Another clear fact is that he
                betrayed
                Jesus for money.</Bold> If he were a patriot he wouldn't stain his hands with money nor with a
            betrayal. When
            he hanged himself it was not because he repented of his betrayal. He hanged himself because he could not
            resist the
            demonic tortures he was subsequently exposed to. When he was forsaken, given up, deprived of God's shelter,
            demons
            didn't have any restriction, and oppressed him. <Bold>Peter sinned heavily when he denied Jesus, but his
                repentance was genuine, and was received again. If Judas really repented he would be forgiven.</Bold>
            There is
            no sin big enough for God's forgiveness, if there is a genuine repentance. Judas did not repent of what he
            did
            against Jesus, he repented of the demonic consequences that his betrayal had brought to him. He knew Jesus
            perfectly
            well, he knew that Jesus forgave anyone who repents sincerely. But even so he did not want to ask for
            forgiveness.
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Then one of the twelve, called Judas Iscariot, went unto</i></Paragraph>
        <Paragraph><i> the chief priests, and said</i> <i>unto them: <Bold>What will ye give me,</Bold></i></Paragraph>
        <Paragraph><Bold> and I will deliver him unto you? And they</Bold> <Bold>covenanted with</Bold></Paragraph>
        <Paragraph><Bold> him for thirty pieces of silver. And from that time he sought</Bold> <Bold> opportunity to
            betray
            him</Bold>." ( Mt 26: 14 -16 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we can see in the former passage, <Bold>his betrayal was premeditated</Bold>, having as the only
            purpose to
            get the thirty pieces of silver, but the whole money bag. <Bold>He had the opportunity to ponder and
                consider what
                he was going to do, and even so he chose to betray.</Bold> Not only did he betray Jesus, but in the
            peak of
            his impudence he chose to kiss him as a signal. A man who behaves like this is not a patriot nor does he
            believe
            that Jesus could save his nation from the Romans. If he had believed it, he would not do what he did. Many
            years
            after Judas' betrayal, <Bold>those who knew him personally still believed that he was a traitor, a scum, a
                vile
                man, a despicable person and a thief.</Bold> If Judas had behaved as a patriot these men would not
            keep
            thinking of him that same way so many years later. John's gospel was written many years after Judas'
            betrayal. John,
            who was better informed about Judas than these <Bold>questionable "scholars" who try to justify
                Judas,</Bold>
            says that <Bold>Judas' betrayal was the consequence of letting the Devil enter his heart</Bold>. Those
            who
            really knew about Judas tell us that <Bold>Judas was not a patriot, but a servant of Satan</Bold>. Let
            us see.
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And supper being ended, <Bold>the Devil having now put into</Bold></i></Paragraph>
        <Paragraph><Bold> the heart of Judas Iscariot,</Bold> <i>Simon's son, to betray him</i>…"</Paragraph>
        <Paragraph> ( John 13: 2 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>But there is still a better testimony than all these</Bold>.<Bold> Jesus Christ, who because of
            his
            divinity "knew what was in man", never justified nor lessened the gravity of what was done by Judas</Bold>.
            On the
            contrary, Jesus put a heavy load in the back of the one who betrayed him. In Matt 26: 24 and Mark 14: 21
            Jesus
            condemned his action, and knowing the non-repentant condition of Judas' heart, said that it was better for
            him if he
            had never been born.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>The Son of man goeth as it is written of him: but woe unto</i></Paragraph>
        <Paragraph><i> that man by whom the Son</i> <i>of man is betrayed!, it had been</i></Paragraph>
        <Paragraph><i> good for that man if he had not been born.</i>" ( Matt 26: 24 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>If Judas had the slightest justification, or if the Lord knew that he would repent, or that he had
            repented,</Bold> the Lord, who was willing to die for the sinner, would have forgiven him, and in
            addition, would
            have given a better testimony of him. If the Lord spoke like this of Judas, it is because <Bold>he did not
                consider him an honorable man nor a patriot.</Bold> Remember that the Lord did not need anyone's
            witness,
            because he knew man, as John 2: 25 says.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And <Bold>needed not that any should testify of man</Bold>; for he</i></Paragraph>
        <Paragraph><i> knew what was in man</i>." ( John 2: 25 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we can see, Jesus <Bold>personally</Bold>, as well as the apostles, <Bold>who really knew first
            hand this
            episode of the gospel</Bold>, never justified Judas. But these modern "scholars" make suspicious efforts
            to
            justify him. What are they planning? Are they trying to soften Christians with the aim to unite them later
            with
            those that admire Judas for his betrayal of Jesus?</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to index</a></Bold></Paragraph>

    </Content>
</Layout>
    