---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Christ will surprise unbelievers only">
    <Content>
        <Paragraph><Bold>THE COMING OF JESUS CHRIST WILL SURPRISE UNBELIEVERS ONLY.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> The advice that the Second Coming of Jesus Christ will come as a thief in the night<Bold>,</Bold> refers
            exclusively to the unbelievers<Bold>,</Bold> not to Christians<Bold>.</Bold> <Bold>Believers are
                not going
                to be surprised by the coming of Jesus.</Bold> What is my basis for saying this<Bold>?</Bold></Paragraph>
        <Paragraph> The phrase <Bold>"</Bold>as a thief in the night<Bold>",</Bold> referring to the unexpected coming
            of
            Jesus<Bold>,</Bold> is stated six times in all the Bible<Bold>.</Bold> <Bold>None of them refer to
                Christians.</Bold> <Bold>Some of them clearly refer to unbelievers,</Bold> especially I Thes
            5<Bold>:</Bold> 1-5<Bold>.</Bold> Let's read<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>But of the times and the seasons<Bold>,</Bold> brethren<Bold>,</Bold> ye have
            no need
            that</i></Paragraph>
        <Paragraph><i> I write unto you<Bold>.</Bold></i> 2 <i>For yourselves know perfectly <Bold>that the day of
            the</Bold></i></Paragraph>
        <Paragraph><Bold> Lord so cometh as a thief in the night.</Bold> 3 <i>For <Bold>when they shall say:
            Peace</Bold></i>
        </Paragraph>
        <Paragraph><Bold> and safety; then sudden destruction</Bold> <i>cometh <Bold>upon them,</Bold> as travail upon a</i>
        </Paragraph>
        <Paragraph><i> woman with child<Bold>;</Bold> <Bold>and they shall not escape.</Bold></i> 4 <Bold>But ye,
            brethren,
            are not</Bold></Paragraph>
        <Paragraph><Bold> in darkness, that that day should overtake you as a thief.</Bold> 5 <i>Ye are all the</i></Paragraph>
        <Paragraph><i> children of light<Bold>,</Bold> and the children of the day<Bold>:</Bold> we are not of the night<Bold>,</Bold>
            nor</i></Paragraph>
        <Paragraph><i> of darkness</i><Bold>."</Bold> ( I Thes 5<Bold>:</Bold> 1-5 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In verse 3 we read that sudden <Bold>destruction</Bold> will come upon <Bold>them.</Bold> Evidently
            the
            destruction will not come upon believers<Bold>,</Bold> therefore<Bold>,</Bold> the word
            <Bold>"</Bold>them<Bold>"</Bold>
            refers to unbelievers<Bold>.</Bold> The same can be interpreted from the phrase <Bold>"they shall not
                escape",</Bold> because we Christians will escape<Bold>;</Bold> therefore<Bold>,</Bold> the
            word
            <Bold>"</Bold>they<Bold>"</Bold> refers to unbelievers<Bold>.</Bold>
            Consequently<Bold>,</Bold>
            those who are to be unexpectedly surprised as a thief in the night<Bold>,</Bold> are the
            unbelievers<Bold>,</Bold> not the Christians<Bold>.</Bold></Paragraph>
        <Paragraph> Furthermore<Bold>,</Bold> in verse 4 Paul says referring to Thessalonian Christians<Bold>,</Bold>
            that they
            are not going to be overtaken as a thief in the night by the coming of Christ<Bold>.</Bold> <Bold>It
                is more
                than clear that Paul knew that Christians were not going to be surprised by Jesus' coming.</Bold> He
            explicitly excludes Christians from that surprise<Bold>.</Bold> This would be enough to convince
            anyone<Bold>,</Bold> but there is still more<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>When in Matt 24: 43 Jesus speaks about the surprise of a thief in the night,</Bold> he refers to
            his
            enemies<Bold>.</Bold> He is referring to those who would oppose to his coming if they
            could<Bold>;</Bold>
            not to Christians<Bold>,</Bold> who never ever would oppose his return<Bold>.</Bold> He is referring<Bold>,</Bold>
            as Matt 24<Bold>:</Bold> 43 says<Bold>,</Bold> to those who <Bold>"</Bold><i>would not have
                suffered
                their houses to be broken up</i><Bold>",</Bold> to those who would not have allowed their houses to
            be
            broken up<Bold>,</Bold> if they could<Bold>.</Bold> The same can be reasoned from Lk
            12<Bold>:</Bold> 39<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>But know this<Bold>,</Bold> that if the goodman of the house had known in</i></Paragraph>
        <Paragraph><i> what watch the thief would come<Bold>,</Bold> he would have watched<Bold>,</Bold> and
            <Bold>would</Bold></i></Paragraph>
        <Paragraph><Bold><i> not have suffered his house to be broken up</i>."</Bold> ( Matt 24<Bold>:</Bold>43 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And this know<Bold>,</Bold> that if the goodman of the house had known</i></Paragraph>
        <Paragraph><i> what hour the thief would come<Bold>,</Bold> he would have watched<Bold>,</Bold> and <Bold>not
            have</Bold></i></Paragraph>
        <Paragraph><Bold><i> suffered his house to be broken through</i>."</Bold> Luke 12 (<Bold>:</Bold>39 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Also Peter mentions the phrase <Bold>"</Bold>thief in the night<Bold>",</Bold> but as we read
            it<Bold>,</Bold> we cannot say to whom he is applying this phrase<Bold>,</Bold> or to whom he is not
            applying it to<Bold>.</Bold> It is logical for us to interpret this passage in light of what <Bold>Paul
                said
                in I Thes 5: 1-5, which was the first passage we read, in which he excludes Christians from being taken
                by
                surprise.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>But the day of the Lord will come as a thief in the night;</i></Bold> <i>in the</i></Paragraph>
        <Paragraph><i> which the heavens shall pass away with a great noise<Bold>,</Bold> and the elements</i></Paragraph>
        <Paragraph><i> shall melt with fervent heat<Bold>,</Bold> the earth also and the works that are</i></Paragraph>
        <Paragraph><i> therein shall be burned up</i><Bold>."</Bold> ( II Pet 3<Bold>:</Bold>10 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In Revelation 3<Bold>:</Bold> 3 Jesus exhorts the angel of the Church of Sardis to repent and keep what
            he has
            received and heard<Bold>,</Bold> because <Bold>if he does not,</Bold> Jesus will come to him as a
            thief<Bold>.</Bold> From what Jesus said it is easy to conclude that <Bold>if the angel repents and
                keeps what
                he received and heard, he will not be overtaken by surprise when Jesus comes again.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Remember therefore how thou hast received and heard<Bold>,</Bold> and</i></Paragraph>
        <Paragraph><i> <Bold>hold fast, and repent. If therefore thou shalt not watch, I will come</Bold></i></Paragraph>
        <Paragraph><Bold> on thee as a thief,</Bold> <i>and thou shalt not know what hour I will come</i></Paragraph>
        <Paragraph><i> upon thee</i><Bold>."</Bold> ( Rev 3<Bold>:</Bold> 3 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In the verse we have just read we notice that <Bold>"</Bold>coming as a thief<Bold>"</Bold> is not
            something
            that is going to occur to all<Bold>.</Bold> It depends on the attitude and behavior of the person he is
            referring to<Bold>.</Bold> <Bold>If</Bold> this person does not hold fast to what he received and
            heard<Bold>,</Bold> and <Bold>if</Bold> he does not repent<Bold>,</Bold> Jesus will come to him
            as a
            thief in the night<Bold>;</Bold> <Bold>but if</Bold> this person repents and does what he
            should<Bold>,</Bold> he will not suffer this surprise<Bold>.</Bold> Therefore<Bold>,</Bold> a
            surprising
            <Bold>"</Bold>thief in the night<Bold>"</Bold> style is not for those who are in good standing with
            the Lord<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>In Revelation 16: 15</Bold> the phrase <Bold>"</Bold>as a thief<Bold>"</Bold> is mentioned
            again<Bold>.</Bold> In this case<Bold>,</Bold> as in Peter's<Bold>,</Bold> it does not say who
            is going
            to be surprised and who is not<Bold>.</Bold> But again we can glimpse through the words to see that
            those who
            keep their garments are not going to be taken by surprise<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Behold<Bold>,</Bold> <Bold>I come as a thief.</Bold> Blessed is <Bold>he that
            watcheth, and</Bold></i></Paragraph>
        <Paragraph><Bold> keepeth his garments,</Bold> <i>lest he walk naked<Bold>,</Bold> and they see his
            shame</i><Bold>."</Bold></Paragraph>
        <Paragraph> ( Rev 16<Bold>:</Bold> 15 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>These six passages are the only ones, in the whole Scriptures,</Bold> in which the phrase
            <Bold>"</Bold>thief in the night<Bold>"</Bold> is used referring to the coming of
            Christ<Bold>.</Bold>
            <Bold>None of them apply to Christians, but on the contrary, some of them clearly exclude Christians from
                a
                surprising return.</Bold> In all these passages we can see one of two<Bold>:</Bold>
            <Bold>a)</Bold>
            the passage is applied to the enemies of Jesus<Bold>,</Bold> or <Bold>b)</Bold> nothing is said
            about to
            whom it is applied<Bold>.</Bold> It is hard to believe that with so many signs the Bible
            gives<Bold>,</Bold>
            so that we may know when the Second Coming of Christ is near<Bold>,</Bold> Christians would still stay
            ignorant
            of its nearness<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are those who, in order to cling to the idea of a surprising coming of Christ,</Bold> have
            invented
            the hypothesis that there are two comings<Bold>.</Bold> One of them to occur
            surprisingly<Bold>,</Bold>
            being called the <Bold>"</Bold>Rapture<Bold>",</Bold> in which what they call <Bold>"</Bold>Gentile
            Church<Bold>"</Bold> is <Bold>"</Bold>raptured<Bold>"</Bold> away from the
            Earth<Bold>.</Bold> The
            other is the real Second Coming<Bold>,</Bold> in which according to them<Bold>,</Bold> only those
            belonging
            to what they call <Bold>"</Bold>Jewish Church<Bold>"</Bold> will be caught up
            together<Bold>,</Bold>
            after the Great Tribulation<Bold>.</Bold> None of these is true<Bold>.</Bold> The wife of Christ
            does not
            have two bodies<Bold>,</Bold> one the so called <Bold>"</Bold>Gentile Church<Bold>",</Bold> and
            another<Bold>,</Bold> the so called <Bold>"</Bold>Jewish Church<Bold>".</Bold> Jesus nor the
            apostles
            ever divided the Church into two different ethnic groups<Bold>.</Bold> This is absurd<Bold>.</Bold>
            In
            Christ Jesus there is no man or woman<Bold>,</Bold> Greek or Jewish<Bold>,</Bold> free or
            slave<Bold>,</Bold> etc<Bold>.,</Bold> as it is said in Gal 3<Bold>:</Bold> 28 and Col
            3<Bold>:</Bold>11<Bold>.</Bold> There are still more reasons to back what I am
            saying<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If we use our common sense we will realize that the exhortation of the apostle is directed to a
            Thessalonian
            Church, a church formed by Greeks, which is to say formed by Gentiles.</Bold> If Paul says in I Thes
            5<Bold>:</Bold> 4 that <Bold>they</Bold> ( the Gentiles ) were not going to be taken by
            surprise<Bold>,</Bold> is because he knew that ascending into the air to meet Jesus
            Christ<Bold>,</Bold> was
            not going to be a surprising event for them<Bold>. This means that the Gentiles were going to be aware of
                the
                nearness of this great event.</Bold> It does not mean that we are going to know the day and
            hour<Bold>,</Bold> but we are going to know the nearness of the Second Coming<Bold>.</Bold></Paragraph>
        <Paragraph> If Paul said that the Gentiles at Thessalonica were not going to be taken by surprise<Bold>,</Bold> as a
            thief
            in the night<Bold>,</Bold> is because Paul knew that <Bold>the "surprising rapture" of the so called
                "Gentile
                Church" does not exist.</Bold> Not even inventing this absurd hypothesis of the
            <Bold>"</Bold>Rapture<Bold>"</Bold> and the absurd division of the Church into two different ethnic
            churches<Bold>,</Bold>
            can anyone demonstrate that <Bold>"</Bold>like thief in the night<Bold>"</Bold> refers to Christians<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Let's see now what new absurdity they are going to invent<Bold>,</Bold> in order to cling to the
            <Bold>"</Bold>surprising<Bold>"</Bold> coming of Jesus<Bold>,</Bold> once they realize that
            these
            passages destroy their present absurdity<Bold>.</Bold></Paragraph>
        <Paragraph><a href="biblenotes.html">Back to the Index</a></Paragraph>

    </Content>
</Layout>
    