---
import Layout from "../layout/Layout.astro";
---

<Layout title="Elijah was not a coward">
    <section>
        <p><strong>Elijah was not a Coward</strong></p>
        <p></p>
        <p> Our spiritual enemies and their accomplices, who serve them on Earth, always try to put down our faith and
            its
            heroes; namely: the prophets and apostles. For this purpose they rely heavily on God's people, to foolishly
            repeat
            the falsehoods and heresies that those underlings instill in their minds. In this way they discredit the
            faith,
            apparently, from inside.</p>
        <p> One of the prophets that they try to discredit with the most meanness is Elijah. It makes sense that our
            spiritual
            enemies should try to discredit Elijah, because he is the one that will come before Jesus' Second Coming,
            heralding
            such a magnificent event. So, it is best for them to start now discrediting him, and putting down everything
            that
            has to do with him. <strong>Russellists (Jehovah's Witnesses) have happily taken on this task.</strong> That
            is why
            they spread the idea that after a chariot of fire took Elijah up in a whirlwind to Heaven, he came back to
            Earth,
            lived a normal life and had a normal death. After convincing people of this falsehood, when Elijah returns
            for his
            future mission, they could easily convince Christians that he is not Elijah, but an impostor.</p>
        <p><strong> By the same token, others that are not Russellists, have taken the task of convincing others that
            Elijah
            behaved as a coward.</strong> To back their slander "biblically", they say that when Elijah saw the
            persecution that
            Jezabel, king Ahab's wife, unleashed against him, he got "scared" and fled. Some of them, in order to lower
            Elijah
            still a little more, say that his cowardice was despicable, because he fled from a woman. It was not a woman
            that
            persecuted Elijah; it was King Ahab's whole army. They paint a picture with these colors in order to put
            down the
            prophet, but the biblical reality is much different as we are going to see in a moment.</p>
        <p><strong>First of all, Elijah was a brave man</strong>, as I will demonstrate in a moment. Avoiding danger is
            to do
            the wise thing. Even the Bible advices to do so, as we can see in Prov 14: 16 and 22: 3.</p>
        <p></p>
        <p> "<strong>A wise man feareth, and departeth</strong> <i>from evil; but the fool rageth,</i></p>
        <p><i> and is confident</i>." ( Prov 14: 16 )</p>
        <p></p>
        <p> "<strong>A prudent man foreseeth the evil, and hideth himself</strong><i>; but the</i></p>
        <p><i> simple pass on, and are punished</i>." ( Prov 22: 3 )</p>
        <p></p>
        <p> Those who discredit Elijah would advice him that instead of being wise he should have become a fool; and
            instead of
            being prudent, they would advice him to behave as simple ones do.</p>
        <p><strong>But it was not only Elijah the one who acted like that. Same advice gave Jesus to his
            followers.</strong> In
            Mt 10: 23 he exhorted his disciples to flee from a city where there was danger, to another where danger did
            not
            exist. He didn't tell them to stay where they saw danger. That's why I don't understand why there are some
            brethren
            that falsely accuse Elijah of cowardice, or lack of faith. Would the detractors of Elijah stay put if they
            were in
            Elijah's shoes?</p>
        <p></p>
        <p> "<strong>But when they persecute you in this city, flee ye into another</strong><i>,</i></p>
        <p><i> for verily I say unto you, Ye shall not have gone over the cities of</i></p>
        <p><i> Israel, till the Son of man be come</i>." ( Mt 10: 23 )</p>
        <p></p>
        <p> Also in Mark 3: 6-7 we see that <strong>Jesus Christ when he saw that Pharisees and Herodians wanted to kill
            him, he
            withdrew himself to the sea.</strong> It is to say that Jesus did exactly what Elijah did: to withdraw
            himself from
            danger. Those who put fault on Elijah, saying that he was a coward, and that he lacked faith, because he did
            exactly
            the same thing that Jesus did, do not realize the seriousness of what they are saying.</p>
        <p></p>
        <p> "<i>And the Pharisees went forth, and straightway took counsel with</i></p>
        <p><i> the Herodians against him, how they might destroy him. <strong>But Jesus</strong></i></p>
        <p><strong> withdrew himself with his disciples to the sea</strong><i>; and a great</i></p>
        <p><i> multitude from Galilee followed him, and from Judaea</i>"</p>
        <p> ( Mark 3: 6-7 )</p>
        <p></p>
        <p> We perceive the same idea in Luke 4: 28-30, where Jesus left the place where they wanted to cast him down
            headlong.
            Also in John 8: 59 we see that Jesus left the Temple when the Pharisees wanted to stone him to death. I
            don't know
            what is the basis of these "super smart" critics for thinking that Elijah erred when he left the place where
            Jezabel
            had the power to kill him.</p>
        <p></p>
        <p> "<i>And all they in the synagogue, when they heard these things,</i></p>
        <p><i> were filled with wrath, and rose up, and thrust him out of the city,</i></p>
        <p><i> and led him unto the brow of the hill whereon their city was built,</i></p>
        <p><i> <strong>that they might cast him down headlong</strong>. But he passing through</i></p>
        <p><i> the midst of them went his way</i>" ( Luke 4: 28-30 )</p>
        <p></p>
        <p> "<i>Then took they up stones to cast at him, <strong>but Jesus hid himself,</strong></i></p>
        <p><strong> and went out of the temple</strong><i>, going through the midst of them,</i></p>
        <p><i> and so passed by</i>." ( John 8: 59 )</p>
        <p></p>
        <p> In the next passage when we see Elijah fleeing from Jezabel, we shouldn't conclude that he fears death,
            because
            really Elijah does not fear death as we can see in verse 4, where the prophet not only desires death, but
            also asks
            God for it wholeheartedly. <strong>And remember, he who was asking for death was a man that received from
                God
                whatever he asked for</strong>. Elijah didn't play games with God.</p>
        <p></p>
        <p> "1 <i>And Ahab told Jezebel all that Elijah had done, and withal how</i></p>
        <p><i> he had slain all the prophets with the sword.</i> 2 <i>Then Jezebel sent</i></p>
        <p><i> a messenger unto Elijah, saying: So let the gods do to me, and</i></p>
        <p><i> more also, if I make not thy life as the life of one of them by to</i></p>
        <p><i> morrow about this time.</i> 3 <strong>And when he saw that, he arose, and</strong></p>
        <p><strong> went for his life</strong><i>, and came to Beersheba, which belongeth to</i></p>
        <p><i> Judah, and left his servant there.</i> 4 <i>But he himself went a day's</i></p>
        <p><i> journey into the wilderness, and came and sat down under a</i></p>
        <p><i> juniper tree; <strong>and he requested for himself that he might die</strong>, and</i></p>
        <p><i> said: It is enough; now, O LORD, take away my life; for I am not</i></p>
        <p><i> better than my fathers</i>." ( I Kings 19: 1- 4 )</p>
        <p></p>
        <p><strong>Therefore, when Elijah fled from Jezabel is not because he is afraid of death, but because he doesn't
            want to
            be defeated and humiliated by the enemies of God.</strong> He does not escape from Jezabel to enjoy life, as
            it
            could seem to a shallow reader, but not to let his enemies rejoice in his murder.</p>
        <p></p>
        <p> "<i>5 And as he lay and slept under a juniper tree, behold, then an</i></p>
        <p><i> angel touched him, and said unto him: Arise and eat. 6 And he</i></p>
        <p><i> looked, and, behold, there was a cake baken on the coals, and a</i></p>
        <p><i> cruse of water at his head. And he did eat and drink, and laid him</i></p>
        <p><i> down again. 7 And the angel of the LORD came again the second</i></p>
        <p><i> time, and touched him, and said: <strong>Arise and eat; because the</strong></i></p>
        <p><strong> journey is too great for thee.</strong> <i>8 And he arose, and did eat and drink,</i></p>
        <p><i> and went in the strength of that meat forty days and forty nights</i></p>
        <p><i> unto Horeb the mount of God</i>." ( I Kings 19: 5-8 )</p>
        <p></p>
        <p> As we read this passage we start asking ourselves if Elijah left that place only as a prudent move, <strong>or
            also
            because he knew that he had a mission to fulfill</strong>.</p>
        <p> At any rate, <strong>it is clear that Elijah was a brave man</strong> , he didn't fear death. He behaved
            with
            prudence, as the Scriptures advice, as our Lord advised.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    