---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Who could kill Cain?">
    <section>
        <Paragraph><Bold>Who could kill Cain?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> If we superficially read what the Bible says in Gn 4: 15, we may think that there were only four to twelve
            people on
            the planet during Cain's life span, and so, it seemed unnecessary to put a mark on Cain so that no one would
            kill
            him.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "…<i>And the LORD set a mark upon Cain, <Bold>lest any finding him</Bold></i></Paragraph>
        <Paragraph><i><Bold> should kill him</Bold></i>." ( Gn 4; 15 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Before arriving</Paragraph>
        <Paragraph> to this wrong conclusion, we need to remember that all people who existed before the Flood lived over nine
            centuries, as we can see in Genesis chapter five, verses 5, 8, 11, 17 and 20. Also, we can see in this
            chapter that
            these people could beget children during almost their entire lives. <Bold>According to Gn 5: 15,
                Mahalaleel begot
                his first child at age 65, and according to Gn 5: 32, at age 500 Noah begot his children</Bold>.
            <Bold>From
                this we can conclude that they could beget children from 65 to 500 years old, during a span of at least
                435
                years.</Bold></Paragraph>
        <Paragraph><Bold>During this time there was not contraceptive methods</Bold>; they really didn't need them, because
            the soil
            provided plenty of food for their offspring. This meant that couples could have a child every three years,
            or every
            five years. Even having a child every ten years, any couple could have easily had forty or fifty children,
            or even
            more, during the minimum of 435 years of sexual activity we have calculated. This is why verses 4, 7, 10,
            13, etc.,
            say that <Bold>they begot sons and daughters.</Bold></Paragraph>
        <Paragraph> As we can see in the book of Job, he begot 20 children with his only wife ( Job 1: 2 and 42: 13-17 ). Job
            did not
            belong to the generations that were born before the Flood, therefore, his life span was not that big, but
            notwithstanding, he begot 20 children. This means that those generations that were born before the Flood
            could have
            easily begoten 50 or even more children over their nine centuries lifespan.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>1 This is the book of the generations of Adam. In the day</i></Paragraph>
        <Paragraph><i> that God created man, in the likeness of God made He him; </i></Paragraph>
        <Paragraph><i> 2 male and female created He them; and blessed them, and </i></Paragraph>
        <Paragraph><i> called their name Adam, in the day when they were created. </i></Paragraph>
        <Paragraph><i> 3 And Adam lived an hundred and thirty years, and begat a </i></Paragraph>
        <Paragraph><i> son in his own likeness, after his image; and called his name </i></Paragraph>
        <Paragraph><i> Seth. 4 And the days of Adam after he had begotten Seth were</i></Paragraph>
        <Paragraph><i> eight hundred years; and he begat sons and daughters. 5 And </i></Paragraph>
        <Paragraph><i> all the days that Adam lived were <Bold>nine hundred and thirty </Bold></i></Paragraph>
        <Paragraph><i><Bold> years</Bold>; and he died. 6 And Seth lived an hundred and five years, </i></Paragraph>
        <Paragraph><i> and begat Enos. 7 And Seth lived after he begat Enos eight </i></Paragraph>
        <Paragraph><i> hundred and seven years, and begat sons and daughters. 8 And </i></Paragraph>
        <Paragraph><i> all the days of Seth were <Bold>nine hundred and twelve years;</Bold> and he </i></Paragraph>
        <Paragraph><i> died. 9 And Enos lived ninety years, and begat Cainan; 10 and </i></Paragraph>
        <Paragraph><i> Enos lived after he begat Cainan eight hundred and fifteen years, </i></Paragraph>
        <Paragraph><i> and begat sons and daughters. 11 And all the days of Enos were </i></Paragraph>
        <Paragraph><i> <Bold>nine hundred and five years</Bold>; and he died. 12 And Cainan lived </i></Paragraph>
        <Paragraph><i> <Bold>seventy years</Bold>, and begat Mahalaleel. 13 And Cainan lived after </i></Paragraph>
        <Paragraph><i> he begat Mahalaleel eight hundred and forty years, and begat sons </i></Paragraph>
        <Paragraph><i> and daughters. 14 And all the days of Cainan were <Bold>nine hundred </Bold></i></Paragraph>
        <Paragraph><i><Bold> and ten years</Bold>; and he died. 15 And Mahalaleel lived <Bold>sixty and five </Bold></i>
        </Paragraph>
        <Paragraph><i><Bold> years</Bold>, and begat Jared. 16 And Mahalaleel lived after he begat </i></Paragraph>
        <Paragraph><i> Jared eight hundred and thirty years, and begat sons and daughters. </i></Paragraph>
        <Paragraph><i> 17 And all the days of Mahalaleel were <Bold>eight hundred ninety and </Bold></i></Paragraph>
        <Paragraph><i><Bold> five years</Bold>; and he died. 18 And Jared lived an hundred sixty and </i></Paragraph>
        <Paragraph><i> two years, and he begat Enoch; 19 And Jared lived after he begat </i></Paragraph>
        <Paragraph><i> Enoch eight hundred years, and begat sons and daughters; 20 And </i></Paragraph>
        <Paragraph><i> all the days of Jared were <Bold>nine hundred sixty and two years</Bold>; and </i></Paragraph>
        <Paragraph><i> he died</i>." ( Gn 5: 1-20 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Let's suppose that our forefathers had only 10 children per couple. In that case Adam and Eve, the first
            generation,
            had ten sons and daughters, who in turn formed 5 new couples. Now there were 12 inhabitants on the
            planet.</Paragraph>
        <Paragraph>These five couples of the second generation begot 50 children, who in turn formed 25 new couples. Now there
            were 12 +
            50 = 62 inhabitants in the world, and so on in subsequent generations. Let's see:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Generation # Number of children Inhabitants in the planet</Paragraph>
        <Paragraph>1 Adam 10 12</Paragraph>
        <Paragraph>2 Seth 50 62</Paragraph>
        <Paragraph>3 Enos 250 312</Paragraph>
        <Paragraph>4 Cainan 1,250 1,562</Paragraph>
        <Paragraph>5 Mahalaleel 6,250 7,812</Paragraph>
        <Paragraph>6 Jared 31,250 39,062</Paragraph>
        <Paragraph>7 Enoch 156,250 195,312</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Enoch was born in the year 622 of the life of Adam, who died when he was 930 years old. At that time none of
            the
            patriarchs had died yet, subsequently there must have been <Bold>at least</Bold> 195,312 inhabitants on
            the
            planet, almost 200,000.</Paragraph>
        <Paragraph> If we suppose that each couple had 20 children instead of ten, <Bold>which is very few for people who
            lived over
            nine centuries</Bold>, the number of inhabitants in the world at the time of Enoch would have been
            22,222,222;
            more than 20 million inhabitants. <Bold>If we suppose two hundred thousand, or twenty million, or more,
                any of
                them could kill Cain</Bold>; because for them, he was just another old man whom they had never met, or
            at
            least whom they could not recognize, because they have not seen him for centuries. Therefore <Bold>there
                was a
                reason for putting a mark on Cain, so that nobody would kill him</Bold>.</Paragraph>
        <Paragraph> Going ahead with this same procedure, if we suppose 10 children per couple, at the time of the Flood there
            would
            have been over 122,000,000 million (one hundred twenty two million); but if we suppose 20 children per
            couple there
            would have been over 20,000,000,000, (twenty thousand million) inhabitants on the planet, who perished
            during the
            Flood. This would mean four or five times the actual population of the world.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    