---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Why Cain's offering was not acceptable">
    <section>
        <Paragraph><Bold>Why Cain's offering was not acceptable</Bold></Paragraph>
        <Paragraph><Bold>There are those who think that Cain's offering was not acceptable because it was not a blood
            offering. Others
            think that it was not acceptable because it was a vegetable plant offering.</Bold> However, many types of
            offerings were considered acceptable, and not all of them were blood offerings, consequently, I think that
            there was
            not a special rejection from God of offerings in which blood was not present.</Paragraph>
        <Paragraph>This reasoning can also be applied to the second supposition, which affirms that Cain's offering was not
            acceptable
            because it was the product of plants and not of animals. <Bold>One of the offerings of the day of
                Pentecost and
                first fruits offerings was wheat grain</Bold>. Therefore, there was nothing against these kinds of
            offerings.
        </Paragraph>
        <Paragraph><Bold>According to the narration in Gn 4: 3-5 we get the idea that Cain's problem was a lack of love and
            respect
            for the Lord God.</Bold> When Abel's offering is described the focus is in the lovely way in which he
            chose an
            offering for God. <Bold>He chose the best he could find,</Bold> he brought the firstlings of his flock
            and the
            fat thereof. <Bold>This tells us that he had great respect for God</Bold> and that he loved Him enough
            to give
            Him the best, instead of keeping it for himself.</Paragraph>
        <Paragraph><Bold>The attitude of Cain was just the opposite. He didn't chose the best,</Bold> he just grabbed
            anything; as a
            person who wants to fulfill an obligation. He didn't look for the best of his crop; he thought that anything
            was
            good enough for God. <Bold>His attitude was not that of a man who has the offering recipient in great
                esteem,
                respect, and love</Bold>. This is why his offering was not worthy.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And in process of time it came to pass, that <Bold>Cain brought of the fruit of the ground an
            offering</Bold>
            unto the LORD. And Abel, he also <Bold>brought of the firstlings of his flock and of the fat
                thereof.</Bold> And
            the LORD had respect unto Abel and to his offering, but unto Cain and to his offering he had not respect.
            And Cain
            was very wroth, and his countenance fell.</i>" ( Gn 4: 3-5 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Something similar to this is told in Malachi 1: 8 in respect to the offerings the priests were sacrificing.
            They
            didn't look for the best for God, and because of that God did not accept the offerings they offered in the
            Temple.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>And if ye offer the blind for sacrifice, is it not evil? And if ye offer the lame and sick, is it not
            evil? Offer
            it now unto thy governor; will he be pleased with thee, <Bold>or accept thy person</Bold>? saith the
            LORD of
            hosts</i>." ( Malachi 1: 8 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>What Cain and Abel did at that time was not a ceremony of sin repentance, or an offering for their sins. That
            is why
            <Bold>they did not have to offer necessarily a blood sacrifice.</Bold> What Cain and Abel did was an act
            of
            worshiping in which each one chose what he supposed God deserved. That is why Cain's offering was rejected.
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    