---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Christians and weapons">
    <Title>Christians and weapons</Title>

    <Tag>#35</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> There are people who think that Christians should not bear or use weapons. In this passage of John's gospel
            it is
            evident that Saint Peter bore weapons with the consent of Jesus Christ. Let's read:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Then said Jesus unto Peter: <Bold>Put up thy sword into the sheath,</Bold> the cup which my Father
            hath
            given me, shall I not drink it</i>?" ( Lk 18: 11 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> In this verse we see that Jesus ordered Peter to put his sword back <Bold>into the sheath</Bold>. This
            means
            that Peter had his sword hanging from his body <Bold>in a visible way</Bold>. It was not a dagger that
            he could
            hide among his clothes, it was a sword in its sheath. <Bold>If Jesus were against bearing weapons he
                surely
                wouldn't have permitted Peter to carry his weapon.</Bold> This demonstrates to us that the Lord didn't
            oppose
            having weapons, neither did he preach against it.</Paragraph>
        <Paragraph> In Lk 22: 35-36 we can see again that Jesus didn't oppose the possession of weapons, because he even told
            his
            disciples to buy swords.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And he said unto them: When I sent you without purse, and scrip, and shoes, lacked ye any thing? And
            they said:
            Nothing. Then said he unto them: But now, he that hath a purse, let him take it, and likewise his scrip, and
            <Bold>he that hath no sword, let him sell his garment, and buy one</Bold></i>." ( Lk 22: 35-36 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> John the Baptist taught in a similar way as Jesus. He didn't tell the Romans to quit being soldiers, but to
            be
            honest. John was not going to preach a doctrine in opposition to Christ's, but according to the will of the
            Lord.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>And <Bold>the soldiers</Bold> likewise demanded of him, saying: And what shall we do? And he said
            unto them:
            <Bold>Do violence to no man, neither accuse any falsely; and be content with your wages</Bold></i>" ( Lk
            3: 14 )
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Both, John and Jesus, never told the soldiers to quit the militia, but they did tell prostitutes to quit
            sinning.
            <Bold>It is evident that bearing weapons was not a sin, but fornication was.</Bold> If bearing weapons
            or being
            in the military were a sin, for sure both, John and Jesus, would have clearly said so, because they were
            never
            afraid of teaching what was right.</Paragraph>
        <Paragraph><Bold>Before Jesus was born, during the Hellenic period, many brethren thought it was a sin to fight in
            self
            defense on Saturdays.</Bold> They arrived at this wrong conclusion by reading random sections of the
            Scripture.
            They believed it was preferable to let the enemy kill them on Saturdays, rather than fighting. <Bold>If
                instead of
                believing what was taught to them by their foolish teachers, they would have read the book of
                Joshua,</Bold>
            they would have seen that this great man of God fought war on Saturdays. Sure enough, during the siege of
            Jericho
            they marched around the city seven consecutive days, of which for sure, one was a Saturday. Therefore, it
            was
            allowed to wage war on Saturdays.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Now Jericho was straitly shut up because of the children of Israel. None went out, and none came in. And
            the
            LORD said unto Joshua: See, I have given into thine hand Jericho, and the king thereof, and the mighty men
            of
            valour. And ye shall compass the city, all ye men of war, and go round about the city once. <Bold>Thus
                shalt thou
                do six days</Bold>. And seven priests shall bear before the ark seven trumpets of rams' horns;
            <Bold>and the
                seventh day ye shall compass the city seven times</Bold>, and the priests shall blow with the trumpets</i>."
            (
            Josh 6: 1- 4 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Just as those brothers of the Hellenic epoch were wrong in respect to defending themselves on Saturdays,
            <Bold>there
                are millions of Christians now that are wrong in respect to bearing arms to defend their wives and
                children</Bold>.
            Satan always pushes Christians to one extreme or the other.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    