---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Jesus is greater than the Holy Spirit">
    <section>
        <Paragraph><Bold>Jesus is greater than the Holy Spirit</Bold></Paragraph>
        <Paragraph> In John 15: 26 and 16: 7 we can read that Jesus promised <Bold>he would send the Holy Spirit</Bold>. It
            is
            logical to conclude that the one who sends is greater than the one who is sent. An example of this was given
            when
            God the Father sent Jesus to the world. Also, Jesus himself teaches this concept in John 13: 16 when he says
            that
            those who are sent, (in this case the apostles ), are not greater than the one who sends them.</Paragraph>
        <Paragraph> As we will see in the first two verses mentioned, Jesus spoke as having authority over the Holy Spirit.
            Speaking in
            such a way, he shows us that <Bold>he is the Lord of the Holy Spirit.</Bold> If he were not, he wouldn't
            have
            said, "I will send him", but instead, he would have said, "I will ask him to come" or "I will pray for him
            to come"
        </Paragraph>
        <Paragraph> "<i>Verily, verily, I say unto you: The servant is not greater than his lord; <Bold>neither he that is
            sent
            greater than he that sent him</Bold></i>." ( John 13: 16 )</Paragraph>
        <Paragraph> "<i>But when the Comforter is come, <Bold>whom I will send unto you</Bold> from the Father, even the
            Spirit of
            truth, which proceedeth from the Father, he shall testify of me</i>" ( John 15: 26 )</Paragraph>
        <Paragraph> "<i>Nevertheless I tell you the truth; It is expedient for you that I go away, for if I go not away, the
            Comforter
            will not come unto you; but if I depart, <Bold>I will send him</Bold> unto you</i>." ( John 16: 7 )</Paragraph>
        <Paragraph> These two last verses show the authority with which Jesus talked when referring to the Holy Spirit. It is
            not the
            same language he used when addressing the Father. In this case he used the words <Bold>"pray" or
                "ask"</Bold>.
            It is evident that the relation between Jesus and the Father God is different from that of Jesus and the
            Holy
            Spirit. Let's see now how he talked about his Father God.</Paragraph>
        <Paragraph> "<i>And <Bold>I will pray the Father</Bold>, and he shall give you another Comforter, that he may abide
            with you
            for ever</i>" ( John 14: 16 )</Paragraph>
        <Paragraph> "<i>At that day ye shall ask in my name, and I say not unto you, that <Bold>I will pray the
            Father</Bold> for
            you</i>" ( John 16: 26 )</Paragraph>
        <Paragraph> "<i><Bold>I pray</Bold> for them; I pray not for the world, but for them which thou hast given me; for
            they are
            thine.</i>" ( John 17: 9 )</Paragraph>
        <Paragraph> "<i><Bold>I pray</Bold> not that thou shouldest take them out of the world, but that thou shouldest keep
            them
            from the evil</i>" ( John 17: 15 )</Paragraph>
        <Paragraph> "<i>Neither <Bold>pray I</Bold> for these alone, but for them also which shall believe on me through
            their word</i>
            " ( John 17: 20 )</Paragraph>
        <Paragraph> We can conclude from the passages we have read, that <Bold>Jesus has authority over the Holy Spirit, to
            give him
            orders</Bold>. This is an unquestionable sign that Jesus is superior to the Holy Spirit. Jesus does not
            say, "I
            will ask the Holy Spirit" nor "I will pray that the Holy Spirit", but instead he says, "I will send the Holy
            Spirit", as if he were talking to someone who is obedient to him.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    