---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The parable of the salt">
    <Content>
        <Paragraph><Bold>Salt is used by Jesus as an example of a seasoning, not as an example of a preserver</Bold></Paragraph>
        <Paragraph> I have heard many preachers use the salt parable as an example of a preserver, ascribing the paternity of
            this
            simile to Jesus' words. However, this is not so. Jesus never used salt as an example of a preserver, but as
            an
            example of a seasoning. Even though I don't think this mistake has doctrinal o interpreting implications, I
            will
            clarify it anyway, for the sake of truth.</Paragraph>
        <Paragraph> This figure of speech appears only three times in the Bible, and in all three times it is used referring to
            savor or
            seasoning, never as a preservative. Let's take a look at Matthew 5: 13; Mark 9: 50 and Luke 14: 34.</Paragraph>
        <Paragraph> "<i>Ye are the salt of the earth, but <Bold>if the salt have lost his savour,</Bold> wherewith shall it
            be
            salted? it is thenceforth good for nothing, but to be cast out, and to be trodden under foot of men</i>." (
            Matt 5:
            13 )</Paragraph>
        <Paragraph> In this verse we have just read, Jesus asked what would happen <Bold>if the salt lost its savour, not
            about what
            would happen if the salt lost its preserving power.</Bold> The focus is in the taste, not in any other
            characteristic of salt. This is also taught in a similar fashion in Mark 9: 50; let's read.</Paragraph>
        <Paragraph> "<i>Salt is good, but <Bold>if the salt have lost his saltness, wherewith will ye season it</Bold>? Have
            salt in
            yourselves, and have peace one with another.</i>" ( Mark 9: 50 )</Paragraph>
        <Paragraph> In this verse just read, it is even more clear that the characteristic of salt is mentioned not because of
            its
            preservative power, but its seasoning quality. This fact becomes evident when we read the word "season"
            regarding to
            the parable. It becomes even more evident in Luke 14: 34, where both words: "savour" and "season" are
            used.</Paragraph>
        <Paragraph> "<i>Salt is good, but <Bold>if the salt have lost his savour, wherewith shall it be seasoned</Bold></i>?
            ( Luke
            14: 34 )</Paragraph>
        <Paragraph> Because of what we have analyzed in all three verses where this parable is mentioned, I don't ascribe to
            salt, in
            this parable, its preserving characteristic, but rather its characteristic of seasoning. Therefore, this
            parable
            shouldn't be presented in a way different from what Jesus presented it.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    