---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Halleluiah What a Miracle">
    <Content>
        <Paragraph><Bold>Halleluiah what a miracle!!</Bold></Paragraph>
        <Paragraph> Now a days there are, ( and have always been ), "Christian" teachers, who try to cast doubts regarding the
            miracles
            and doctrines described in the Bible. They try to put down those who faithfully believe all of what the
            Bible
            says.</Paragraph>
        <Paragraph> Long ago I was told an anecdote that, according to the one who told me this story, happened in a "Christian"
            seminary. Whether it really happened as I was told, or not, I cannot attest. But anyway, the incident is
            very
            instructive, and is worth telling, because Satan's best move is putting his own agents into Christian
            seminaries,
            and "modern" versions of the Bible, which they twist little by little along decades.</Paragraph>
        <Paragraph> It was one of those regular class days in the seminary, and the "Christian" professor was going to teach
            about the
            passage of the Red Sea and the people of Israel. There was a student who belonged to a charismatic
            denomination and
            was very outgoing and candid. Since the moment that he sat in the classroom he started to talk with
            everybody about
            the great miracle they were going to study this day.</Paragraph>
        <Paragraph> Let's read a summary of the passage that they were going to study, to get an idea of what they were talking
            about
            that day.</Paragraph>
        <Paragraph> "<i>22 And the children of Israel went into the midst of the sea upon the dry ground; and <Bold>the waters
            were a
            wall unto them on their right hand, and on their left</Bold>.</i> <i>23 And the Egyptians pursued, and
            went in
            after them to the midst of the sea, even <Bold>all Pharaoh's horses, his chariots, and his
                horsemen</Bold>……</i><i>26
            And the LORD said unto Moses, Stretch out thine hand over the sea, <Bold>that the waters may come again
                upon the
                Egyptians, upon their chariots, and upon their horsemen.</Bold></i> <i>27 And Moses stretched forth
            his hand
            over the sea, and the sea returned to his strength when the morning appeared; and the Egyptians fled against
            it; and
            the LORD overthrew the Egyptians in the midst of the sea.</i> <i>28 And the waters returned, and <Bold>covered
            the
            chariots, and the horsemen, and all the host of Pharaoh</Bold> that came into the sea after them; there
            remained
            not so much as one of them</i>." ( Ex 14: 22-28 abbreviated )</Paragraph>
        <Paragraph> When the professor entered the classroom, the young fellow was still thrilled about the theme of the day,
            and said
            in a loud voice, almost shouting: Halleluiah, what a great miracle God performed!!</Paragraph>
        <Paragraph> The professor, showing little sympathy for the student's enthusiasm, told him: Calm down sir, after you
            listen to my
            lecture, you will see that there was not such a great miracle, as you think.</Paragraph>
        <Paragraph> Then the professor started his class, telling the students that the section of the Red Sea which the people
            of
            Israel had crossed, was called the Sea of Reeds, because it was very shallow, <Bold>no more than 12 inches
                deep</Bold>.</Paragraph>
        <Paragraph> The professor had hardly "explained" the crossing of the Red Sea, when the outgoing student started yelling
            at the
            top of his voice: "Halleluiah, halleluiah, what a great miracle was performed!!" Obviously upset, the
            professor
            called the attention of his student saying: "Didn't you listen to what I have explained? There was no
            miracle at
            all."</Paragraph>
        <Paragraph> Then the student replied: "<Bold>Oh yes, sir, the great miracle was that all the horses of Pharaoh's army
            were
            drowned in just 12 inches of water, along with all the horsemen</Bold>." </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    