---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="A Distortion regarding the Lords Supper">
    <Tag>#54</Tag>
    <Content>
        <Paragraph><Bold>A distortion regarding the Lord's Supper</Bold></Paragraph>
        <Paragraph> Many believers think that the last supper that Jesus and the apostles ate was the Passover and the
            Unleavened Bread;
            but this was not the case. Because of this mistake now a days they use unleavened bread during the
            Communion, the
            Lord's Supper. In Mat 27:15; Mrk 15:6; Lk 23:14-17 and Jn 18: 39 we can see that <Bold>after the last
                supper</Bold>, being Jesus before Pilate, the Jews came to ask the Roman governor to do what he always
            had
            done during the Feast or Passover, release a prisoner. This is a clear hint that <Bold>after the last
                supper, the
                Passover was still in the future. Therefore, Jesus and his apostles had not yet eaten the lamb, nor the
                unleavened bread.</Bold></Paragraph>
        <Paragraph> "<i>Now <Bold>at that feast</Bold> the governor was wont to release unto the people a prisoner, whom
            they would</i>."
            ( Mat 27:15 )</Paragraph>
        <Paragraph> "<i>Now <Bold>at that feast</Bold> he released unto them one prisoner, whomsoever they desired</i>." (
            Mr 15:6 )
        </Paragraph>
        <Paragraph> "<i>Said unto them: Ye have brought this man unto me, as one that perverteth the people; and, behold, I,
            having
            examined him before you, have found no fault in this man touching those things whereof ye accuse him. No,
            nor yet
            Herod; for I sent you to him; and, lo, nothing worthy of death is done unto him. I will therefore chastise
            him, and
            release him. For of necessity he must release one unto them <Bold>at the feast</Bold></i>." (Lk 23:
            14-17)</Paragraph>
        <Paragraph> "<i>But ye have a custom, that I should release unto you one <Bold>at the Passover</Bold>; will ye
            therefore
            that I release unto you the King of the Jews</i>?" (Jn 18:39)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Mathew, Mark, Luke and John witnessed in the former four passages, that the last supper had taken
            place, but
            the Passover had not yet occurred</Bold>.</Paragraph>
        <Paragraph> Jesus Christ was crucified the very same day the Passover lamb was to be sacrificed, in as much as he was
            the real
            Passover Lamb, of whom the little lamb was just a symbol, as Saint Paul tells us in First Corinthians
            5:7.</Paragraph>
        <Paragraph> "<i>Purge out therefore the old leaven, that ye may be a new lump, as ye are unleavened. For even <Bold>Christ
            our
            Passover is sacrificed for us</Bold></i>." (I Co 5:7)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Paul says plainly that Christ is our Passover</Bold>, it is to say, he who was represented by the
            death of
            the lamb which was to be sacrificed <Bold>the afternoon before</Bold> the night in which the Passover
            lamb and
            the unleavened bread were to be eaten.</Paragraph>
        <Paragraph> To better understand if Christ and the apostles ate common or unleavened bread, it is necessary to go to the
            Old
            Testament, to realize how the rite of the Passover was conducted. There we can learn when the lamb was to be
            killed,
            when its flesh was to be eaten, and when the unleavened bread started to be eaten.</Paragraph>
        <Paragraph><Bold>The Passover lamb was killed during the afternoon of the 14th day; but the flesh of the lamb and the
            unleavened bread were eaten the night following the afternoon when the lamb was sacrificed, when for the
            Hebrews it
            was already the 15th day. We have to remember that the Hebrews started their days at sun down</Bold>.</Paragraph>
        <Paragraph> If during the Passover the unleavened bread was eaten the evening following the afternoon when the lamb was
            killed,
            then unmistakably, the bread that Jesus and the apostles ate during the last supper, was not unleavened
            bread, but
            regular bread, because Christ, the true Passover Lamb had not been yet sacrificed, nor the little lamb of
            the
            Passover.</Paragraph>
        <Paragraph> "<i>And ye shall keep it up until <Bold>the fourteenth day of the same month; and the whole assembly of
            the
            congregation of Israel shall kill it in the evening</Bold>. And they shall take of the blood, and strike
            it on the
            two side posts and on the upper door post of the houses, wherein they shall eat it. And <Bold>they shall
                eat the
                flesh in that night, roast with fire, and unleavened bread</Bold>; and with bitter herbs they shall
            eat it</i>."
            ( Ex 12:6-8 )</Paragraph>
        <Paragraph><Bold>Since the sacrifice lamb or Passover lamb represented the sacrifice of Christ, it is evident that
            Jesus had
            to die that very day and time in which, because of the ritual law, the Passover lamb had to be
            sacrificed</Bold>.
            Sure enough, so it happened, Jesus died the afternoon before the night in which the Passover was eaten.
            <Bold>Remember
                that Hebrews started their days at sun down</Bold>. That afternoon was subsequent to the night in
            which they
            ate the last supper, but previous to the night in which the lamb was eaten. We can confirm this by reading
            John
            13:1-2; 18:28; 19:14; 19:31 and 19:42.</Paragraph>
        <Paragraph> "<i><Bold>Now before the feast of the Passover</Bold>, when Jesus knew that his hour was come that he
            should
            depart out of this world unto the Father, having loved his own which were in the world, he loved them unto
            the end.
            <Bold>And supper being ended</Bold>, the Devil having now put into the heart of Judas Iscariot, Simon's
            son, to
            betray him</i>…" (Jn 13:1-2)</Paragraph>
        <Paragraph> As we have just read, the last supper was ended before the feast of the Passover had come. If we read Jn 18:
            28 will
            see that when the Lord was taken to the hall of judgment, which took place after the last supper, the Jews
            did not
            want to enter the hall of judgment, to avoid defilement, so that they might eat the Passover. Therefore, the
            Passover had not come yet. This confirms once more, that the last supper was not the Passover.</Paragraph>
        <Paragraph> "<i><Bold>Then led they Jesus from Caiaphas unto the hall of judgment</Bold>; and it was early; and they
            themselves went not into the judgment hall, lest they should be defiled; <Bold>but that they might eat the
                Passover</Bold></i>." ( Jn 18:28 )</Paragraph>
        <Paragraph> Also in Jn 19:24 we see that when Jesus was being judged by Pilate and priests, the Passover had not been
            eaten
            yet.</Paragraph>
        <Paragraph>"<i>And <Bold>it was the preparation of the Passover</Bold>, and about the sixth hour; and he saith unto
            the
            Jews: <Bold>Behold your King</Bold></i>!" ( Jn 19:14 )</Paragraph>
        <Paragraph> A little further, in Jn 19:31, we learn that even after the crucifixion and death of the Lord, they had not
            eaten
            the Passover yet, <Bold>because it was still the eve of the feast</Bold>.</Paragraph>
        <Paragraph> "<i>The Jews therefore, <Bold>because it was the preparation</Bold>, that the bodies should not remain
            upon the
            cross on the sabbath day, (for that sabbath day was an high day,) besought Pilate that their legs might be
            broken,
            and that they might be taken away</i>." (Jn 19: 31)</Paragraph>
        <Paragraph> Again, in Jn 19:42, when they were going to bury the Lord, we see it was the eve of the Passover.</Paragraph>
        <Paragraph> "<i>There laid they Jesus therefore, because of <Bold>the Jews' preparation day</Bold>; for the
            sepulchre was
            nigh at hand</i>." ( Jn 19:42 )</Paragraph>
        <Paragraph><Bold>Thus far we have demonstrated that Jesus Christ did not eat the last Passover</Bold>, because he
            died the
            afternoon before. He died the very same day in which the Passover lamb had to be killed. Let's go now to the
            origin
            of the Passover rite, in order to learn <Bold>when the lamb was killed</Bold>, and <Bold>when the
                unleavened
                bread started to be eaten</Bold>. In the next verse we will show that the unleavened bread started the
            night
            of the 15th day, which followed the afternoon of the 14th day, in which the lamb was killed. (This was the
            same
            afternoon Jesus was killed.)</Paragraph>
        <Paragraph> "<i>And they shall eat the flesh <Bold>in that night</Bold>, roast with fire, and unleavened bread; and
            with
            bitter herbs they shall eat it</i>." ( Ex 12:8 )</Paragraph>
        <Paragraph> In Lev 23:6 we see clearly and specifically that the unleavened bread started the 15th day and not the 14th
            day.
            Same is said in Nm 28: 16-17.</Paragraph>
        <Paragraph> "<i>And <Bold>on the fifteenth day of the same month is the feast of unleavened bread</Bold> unto the
            LORD;
            seven days ye must eat unleavened bread</i>." ( Lev 23: 6 )</Paragraph>
        <Paragraph> "<i>And <Bold>in the fourteenth day of the first month is the Passover</Bold> of the LORD. And</i>
            <Bold><i>in
                the fifteenth day of this month is the feast; seven days shall unleavened bread be eaten</i>.</Bold>"
            ( Nm
            28:16-17 )</Paragraph>
        <Paragraph><Bold>Jesus Christ is the true Passover Lamb, that is why his sacrifice in the cross coincided with the
            sacrifice
            of the lamb that was going to be roasted and eaten the following night.</Bold> If the unleavened bread was
            eaten
            after the lamb was roasted, and if Jesus ate the last supper with his apostles before he was crucified, it
            is
            obvious that the bread used in the last supper had to be common bread, not unleavened bread. Therefore
            <Bold>in
                our celebration of the Lord's Supper we must use common bread</Bold>, preferably whole wheat bread,
            which is
            the one used at that time.</Paragraph>
        <Paragraph> The following passage makes it evident that Jesus was already dead, when the Passover had not come yet.</Paragraph>
        <Paragraph>"<i>And, behold, there was a man named Joseph, a counsellor; and he was a good man, and a just; the same had
            not
            consented to the counsel and deed of them; he was of Arimathaea, a city of the Jews; who also himself waited
            for the
            kingdom of God. This man went unto Pilate, and <Bold>begged the body of Jesus</Bold>. And he took it
            down, and
            wrapped it in linen, and laid it in a sepulchre that was hewn in stone, wherein never man before was laid.
            <Bold>And
                that day was the preparation, and the sabbath drew on</Bold></i>." (Lk 23:50-54)</Paragraph>
        <Paragraph><Bold>As we see, in both passages, now in Luke and before in John</Bold>, it is said that the Passover
            had not
            taken place at the time of the judgment, crucifixion and death of Our Lord Jesus Christ. Thus <Bold>it is
                evident</Bold> that the last supper they had the night before, was surely not the Passover. <Bold>That
                year
                Jesus did not eat the Passover</Bold>, he was crucified the afternoon before it. <Bold>It was just
                logical
                this is what happened, because, Jesus Christ was the true Passover, of which the lamb was just a
                symbol.</Bold> It comes with the territory that Jesus had to die the very afternoon they killed the
            Passover
            lamb; thus, he could not be alive when that year the roasted lamb was eaten.</Paragraph>
        <Paragraph> In John 13:27-29 we see that in the middle of the last supper, when Jesus said to Judas Iscariot: "That thou
            doest,
            do quickly.", <Bold>the apostles thought that what Jesus was asking Judas was to buy what was necessary
                for the
                Passover. Consequently, the Passover was not yet come.</Bold></Paragraph>
        <Paragraph> "<i>And after the sop Satan entered into him. <Bold>Then said Jesus unto him: That thou doest, do
            quickly.</Bold> Now no man at the table knew for what intent he spake this unto him. <Bold>For some of
            them
            thought, because Judas had the bag, that Jesus had said unto him: Buy those things that we have need of
            against the
            feast</Bold>; or, that he should give something to the poor</i>." ( Jn 13: 27-29 )</Paragraph>
        <Paragraph><Bold>In brief,</Bold> leavened bread was used in the last supper, it is to say common bread, and red
            wine. That
            was the Lord's Supper rite, which Jesus Christ established for all Christians. That is why Christians should
            use in
            our Lord's Supper common bread and red wine.</Paragraph>
        <Paragraph><Bold>Satan has succeeded in distorting the Lord's Supper among almost all Christian religions.</Bold>
            Some give
            their parishioners a wafer, but only the priests drink the wine. Others do not give their follower the bread
            nor the
            red wine, these elements are taken only by a few "special" members that according to their religion belong
            to the
            144,000 anointed ones. Still others give incorrectly to the attendants, unleavened bread, not giving them
            red wine
            either, but instead some grape juice or red cool aid. Some others correctly use the red wine, but use
            unleavened
            bread. Those who use in the Lord's Supper regular bread plus red wine are very few.</Paragraph>
        <Paragraph><Bold>As it is evident, Satan has succeeded in distorting the true rite of the Lord's Supper, in almost the
            totality of the Christians, without being noticed by them.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    