---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="A previous creation is absurd">
    <section>
        <Paragraph><Bold>THE EXISTENCE ON EARTH OF A PREVIOUS CREATION IS ABSURD</Bold></Paragraph>
        <Paragraph><Bold>To understand the Bible you can be a child, to complicate it you must be a theologian.</Bold></Paragraph>
        <Paragraph> "25 <i>At that time Jesus answered and said, I thank thee, O Father, Lord of Heaven and Earth, because
            <Bold>thou
                hast hid these things from the wise and prudent, and hast revealed them unto babes</Bold>.</i> 26 <i>Even
            so,
            Father, for so it seemed good in thy sight</i>." ( Mat 11:25-26 )</Paragraph>
        <Paragraph> There are those that maintain the hypothesis that between verses 1 and 2 of the first chapter of Genesis,
            there is a
            span of time that could be as large as millions of years. According to them, during those millions of years
            there
            existed a creation previous to our own, which reached a civilization of high technological achievement, and
            which
            self destructed due to atomic power. ¿How do they know this? ¿How do they prove this? <Bold>They simply
                declare it
                as dogma, and you better believe it: "... because we say it and we know more than you" .</Bold></Paragraph>
        <Paragraph> "1 <i>In the beginning God created the Heaven and the Earth.--------</i> 2 <i><Bold>And the Earth was
            without
            form, and void</Bold>; and darkness was upon the face of the deep. And the Spirit of God moved upon the
            face of
            the waters</i>." ( Gen 1:1-2 )</Paragraph>
        <Paragraph> It is illogical to believe this, since according to the verses where they claim to derive such absurdity,
            <Bold>the
                light, the atmosphere or sky and the dry land</Bold>, were created <Bold>after</Bold> such a
            period. <Bold>It
                is not logical to think that a civilization developed without light, without atmosphere and without dry
                ground</Bold>. Verses 3, 8 and 9.</Paragraph>
        <Paragraph><Bold>"3 <i>And God said: Let there be light. And there was light</i></Bold><i>.</i> 4 <i>And God saw the
            light,
            that it was good; and God divided the light from the darkness.</i> 5 <i>And God called the light Day, and
            the
            darkness he called Night. And the evening and the morning were the first day.</i> 6 <i>And God said: Let
            there be a
            firmament in the midst of the waters, and let it divide the waters from the waters.</i> 7 <i>And God made
            the
            firmament, and divided the waters which were under the firmament from the waters which were above the
            firmament, and
            it was so.</i> 8 <i><Bold>And God called the firmament Heaven</Bold>. And the evening and the morning
            were the
            second day.</i> 9 <i>And God said: <Bold>Let the waters under the heaven be gathered together unto one
            place, and
            let the dry land appear</Bold>; and it was so.</i> 10 <i>And God called the dry land Earth; and the
            gathering
            together of the waters called he Seas: and God saw that it was good.</i>" ( Gen 1: 3-10 )</Paragraph>
        <Paragraph><Bold>Besides all this, which should be enough refutation</Bold>, there are those verses which say that
            <Bold>God
                created the heavens and earth in six days</Bold>. If the heavens and earth were created in six days,
            there is not
            enough time on that Earth, that is to say, on this planet, for a previous creation and also that supposed
            technological "civilization" which some delirious dreamers imagine. To see that the heavens <Bold>and the
                Earth</Bold> were created in only six days, it is enough to read Gen 2: 1-2, Ex 20: 11, y 31: 17.</Paragraph>
        <Paragraph> "1 <i>Thus the Heavens and the Earth were finished, and all the host of them.</i> 2 <i><Bold>And on the
            seventh
            day God ended his work which he had made</Bold>; and he rested on the seventh day from all his work which
            he had
            made</i>." ( Gen 2: 1-2 )</Paragraph>
        <Paragraph> "11 <i><Bold>For in six days the LORD made heaven and earth</Bold>, the sea, and all that in them is,
            and rested
            the seventh day; wherefore the LORD blessed the sabbath day, and hallowed it</i>." ( Ex 20: 11 )</Paragraph>
        <Paragraph> "17 <i>It is a sign between me and the children of Israel for ever, <Bold>for in six days the LORD made
            heaven and
            earth</Bold>, and on the seventh day he rested, and was refreshed</i>." ( Ex 31: 17 )</Paragraph>
        <Paragraph> One of the arguments forwarded by the creators of this erroneous hypothesis is the phrase: "... and the
            Earth was
            formless and void". According to them God would not create the Earth to be in this state. But it happens
            that in Jer
            4:23 an equivalent phrase is used, and this would not be reason enough to conclude that God had created the
            Earth so
            that it be without form and void. In the King James English translation the exact same phrase is used in
            both
            verses.</Paragraph>
        <Paragraph> "<i>I beheld <Bold>the earth, and, lo, it was without form, and void</Bold>; and the heavens, and they
            had no
            light</i>." ( Jer 4: 23 )</Paragraph>
        <Paragraph> In addition, if we admit that what is spoken of in Nahum 1:9 means that sin and affliction will not arise
            twice, it
            would refute this hypothesis, since it affirms that sin, and specially affliction would have already risen
            twice.</Paragraph>
        <Paragraph> "<i>What do ye imagine against the LORD? He will make an utter end; <Bold>affliction shall not rise up the
            second
            time</Bold></i>." ( Nahum 1: 9 )</Paragraph>
        <Paragraph><Bold> To summarize</Bold>, there is no lapse of millions of years between Gn 1:1 and Gn 1:2, and thus,
            the
            so-called "Gap theory" is absurd.</Paragraph>
        <Paragraph> "<i>For I know this, that after my departing <Bold>shall grievous wolves enter in among you</Bold>, not
            sparing
            the flock.</i> <Bold><i>Also of your own selves shall men arise, speaking perverse things, to draw away
            disciples
            after them</i>.</Bold>" ( Acts 20:29-30 )</Paragraph>
        <Paragraph> There are those that for the purpose of drawing disciples behind them are capable of making up any fable.
            Absurd
            fables that unfortunately are swallowed by many good brothers, who go out and spread them, without realizing
            the
            damage they cause. If this were not such a serious issue, it would be such that, once they explained their
            absurd
            hypothesis, we would say to them: "Now tell us about Snow White and the Seven Dwarfs, or how about Little
            Red Riding
            Hood".</Paragraph>
        <Paragraph><Bold>This is easy enough for a child to understand, but ... who can explain it to a theologian?</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    