---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Heavenly Dynamics, Mechanics of Temptation">
    <Title>Heavenly Dynamics: mechanics of temptation</Title>

    <Tag>#59</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> As we can learn from this passage, the Devil takes advantage of the body <Bold>needs of the human
            nature</Bold>,
            and <Bold>the feelings of the soul</Bold> in order to exaggerate them and make them a sin.</Paragraph>
        <Paragraph> After 40 days of total fasting, it is just normal that Jesus felt a great hunger; therefore it is logical
            that
            temptation would enter that way: asking him to eat. This temptation was not a regular one however, instead
            it was a
            temptation to use his divine powers for his own personal benefit, therefore invalidating his saving
            mission.</Paragraph>
        <Paragraph> On the other hand, <Bold>it was natural that Jesus would be proud of being The Son of God</Bold>.
            Therefore, it
            is another point that the Devil would try to exacerbate Jesus. For the Devil to get to his goal, he pretends
            to
            doubt if the Lord is or is not the Son of God. That is when the Devil joins both strongest forces in only
            one
            temptation, to cause Jesus to sin: to entice him to demonstrate that he was the Son of God, ( "If thou be
            the son of
            God…"), and his natural urge to eat ("…command that these stones be made bread."). "<i>1 Then was Jesus led
                up of
                the Spirit into the wilderness to be tempted of the Devil. 2 <Bold>And when he had fasted forty days
                    and forty
                    nights</Bold>, he was afterward an hungered. 3 And when the tempter came to him, he said: <Bold>If
                    thou
                    be the Son of God</Bold>, command that these stones be made bread</i>." ( Matt 4:1-3)</Paragraph>
        <Paragraph> Satan was created by God as a being superior to human beings, <Bold>only can he be defeated when instead
            of facing
            him with shrewdness against his own shrewdness, we take refuge in the absolute and total victory
            that</Bold> Jesus
            Christ won over him with his own blood. The one who does not appeal to this method, has lost his battle
            since the
            beginning; as if a goat fights a lion, which was created stronger than the goat.</Paragraph>
        <Paragraph> Many Christians, by ignorance or by lack of practice or experience, face their lusts, and the temptations
            resulting
            from them, with their own strength,. They do not appeal to the blood of Christ, or they appeal too late,
            after the
            enemy has inflicted upon them much suffering and harm.</Paragraph>
        <Paragraph><Bold>Precisely it is one of the best techniques of our spiritual enemy: to entice us to face him when we
            are by
            ourselves</Bold>. If he wins in this first step, all others are much easier. We have the Word of God as a
            weapon
            to fight temptation, but beside the Word of God, <Bold>another weapon</Bold> was provided for us to
            fight
            temptation: <Bold>fasting</Bold>.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    