---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Abraham sacrificed Isaac knowing God will raise him">
    <section>
        <Paragraph><Bold>ABRAHAM SACRIFICED ISAAC KNOWING THAT</Bold></Paragraph>
        <Paragraph><Bold>GOD WOULD RAISE HIM FROM THE DEAD</Bold></Paragraph>
        <Paragraph>In many occasions the interpretation of a biblical passage can be done through other passages in a different
            book of
            the Bible. In this case, in order to find the answer about Abraham, we would have to go to the epistle of
            Paul to
            the
            Hebrews.</Paragraph>
        <Paragraph>God had promised Abraham in Gen 17:21 that <Bold>Isaac would be the heir of the spiritual promise.</Bold>
            In Gen
            22:1-2 when God tells Abraham to sacrifice his son Isaac, in whom was the promise, <Bold>Abraham logically
                thought
                if God had promised that Isaac would be the heir, He would fulfill His promise</Bold>. Therefore, if
            he
            (Abraham)
            would sacrifice Isaac, God would bring him back to life some way or another, since God doesn't lie. In Heb
            11:17-19
            Paul explains Gen 17:21 by saying, "….<Bold>accounting that God was able to raise him up, even from the
                dead….</Bold>".</Paragraph>
        <Paragraph>"<i>But <Bold>my covenant will I establish with Isaac</Bold>, which Sarah shall bear unto thee at this
            set time
            in the next year</i>." ( Gen 17:21 )</Paragraph>
        <Paragraph>"1 <i>And it came to pass after these things, that God did tempt Abraham, and said unto him, Abraham; and he
            said,
            Behold, here I am.</i> 2 <i>And He said: Take now thy son, thine only son Isaac, whom thou lovest, and get
            thee into
            the land of Moriah; and <Bold>offer him there for a burnt offering</Bold> upon one of the mountains
            which I will
            tell thee of</i>." ( Gen 22:1-2 )</Paragraph>
        <Paragraph>"17 <i>By faith Abraham, when he was tried, offered up Isaac; and he that had received the promises offered
            up his
            only begotten son,</i> 18 <i>of whom it was said, that in Isaac shall thy seed be called.</i> 19
            <Bold>Accounting</Bold> <Bold>that God was able to raise him up, even from the dead</Bold><i>; from
                whence
                also he received him in a figure</i>." ( Heb 11:17-19 )</Paragraph>
        <Paragraph>It clearly shows how Abraham <Bold>was sure</Bold> that he could sacrifice Isaac, there was no way he
            would loose
            him. He would come back to him even if God had to raise him from the dead.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>
    </section>
</Layout>