---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Climate Global Year Round">
    <section>
        <Paragraph><Bold>ERRONEOUS HYPOTHESIS OF ONE SAME</Bold></Paragraph>
        <Paragraph><Bold>GLOBAL CLIMATE YEAR ROUND.</Bold></Paragraph>
        <Paragraph> Some individuals have a hypothesis that before The Great Flood the climate was the same all year round
            throughout
            the Earth. They base their erroneous hypothesis of one same global climate on another hypothesis: The idea
            that
            before the Great Flood a misty blanket of water covered the planet. They says this so called misty blanket
            created a
            green house effect which distributed heat evenly throughout the Earth. What they never told me is on what
            they base
            this hypothesis of a thick blanket of clouds covering the Earth.</Paragraph>
        <Paragraph><Bold>First of all</Bold>, we have to realize that <Bold>there was no such blanket of clouds</Bold>,
            because
            the sun, moon and the stars were seen. In Gn 1:14 says that these heavenly hosts will serve to divide the
            day from
            the night, for seasons, for days and for years. <Bold>Secondly</Bold>, in Gn 1:16 states that the
            greater light
            would <Bold>rule the day</Bold> and the lesser light would <Bold>rule the night</Bold>. From this we
            can
            deduce that <Bold>the moon could be clearly seen at night</Bold>, something that doesn't occur on a semi
            cloudy
            night. <Bold>How then "ruled the night"</Bold> if a cloudy blanket much thicker than what exist today
            covered
            the Earth, hiding the moon? Besides, according to vers 14, these heavenly bodies were going to be used as
            signs. How
            could they be signs if they couldn't be seen because of the clouds? For example, months were known by the
            phases of
            the moon.</Paragraph>
        <Paragraph><Bold>The seasons of the year would not be mentioned</Bold> in Gn 1:14, if there were no seasons before
            the Great
            Flood. Therefore, if there were seasons (summer, winter, etc.,) <Bold>there was no "one same global
                climate" all
                year long.</Bold></Paragraph>
        <Paragraph> "<Bold>While</Bold> <i>the Earth remaineth, seedtime and harvest, and <Bold>cold</Bold> and
            <Bold>heat</Bold>, and <Bold>summer</Bold> and <Bold>winter</Bold>, and day and night <Bold>shall
                not
                cease</Bold></i>." ( Gn 8:22 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>14 And God said: Let there be lights in the firmament of the heaven to divide the day from the night;
            and
            <Bold>let them be for signs, and for seasons</Bold>, and for days, and years; 15 and let them be for
            lights in
            the firmament of the heaven to give light upon the earth: and it was so. 16 And God made two great lights;
            the
            greater light <Bold>to rule the day</Bold>, and the lesser light <Bold>to rule the night</Bold>; he
            made
            <Bold>the stars also. 17 And God set them in the firmament of the heaven to give light upon the
                earth</Bold></i>"
            ( Gn 1:14-17 )</Paragraph>
        <Paragraph> Whoever has been in a farm, far away from any city, or in a desert on a clear cloudless night, with no moon
            shining,
            knows <Bold>the great amount of light that the stars give over the face of the Earth</Bold>. They give
            so much
            light that it allows us, in the middle of the night, to walk around and see ourselves. On a cloudy night
            however,
            it's very different. Even if the moon was out we would not be able to see our own hands, because the moon
            light
            could not shine through the thick clouds. Knowing this, therefore, when we read verse 17, where it says that
            God put
            the stars in heaven "…to give light upon the Earth…", we can conclude that before the Great Flood there was
            no such
            blanket of clouds as some claim, <Bold>because the stars shined over the face of the earth</Bold>.</Paragraph>
        <Paragraph> In Gn 8:22, it clearly states that immediately after the Great Flood God says: "<Bold>While</Bold> <i>the
            Earth
            remaineth, seedtime and harvest, and <Bold>cold and heat, and summer and winter</Bold>, and day and
            night
            <Bold>shall not cease</Bold></i>". When it says While seedtime and harvest, day and night will continue,
            implies
            that before the Great Flood the seedtime and harvest, day and night did exist. Therefore, <Bold>in the
                same
                manner, the cold and the heat, summer and winter did exist before the Great Flood</Bold>.</Paragraph>
        <Paragraph> In this Devine affirmation it states "<Bold>While</Bold>…", because before that time these things
            existed. If
            they would not have existed prior to the Great Flood, it would not say "<Bold>While</Bold>…" rather it
            would say
            "<Bold>From now on</Bold>…".</Paragraph>
        <Paragraph> In the same manner when it says "…<Bold>shall not cease</Bold>", implies that it was already in
            existence and
            would not cease. Therefore it is logical to believe that before the Great Flood, winter and summer, cold and
            heat
            did exist. This affirmation clearly <Bold>destroys the hypothesis of one same global climate and the so
                called
                blanket of clouds.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    