---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Did Prophet Micaiah son of Imlah lie">
    <Tag>#75</Tag>
    <Content>
        <Paragraph><Bold>THE 400 PROPHETS OF AHAB AND THE DECEPTION.</Bold></Paragraph>
        <Paragraph><Bold>DID MICAIAH SON OF IMLAH LIE?</Bold></Paragraph>
        <Paragraph> The first thing we must notice is that the prophet named Micaiah is not Micah the
            Morasthite<Bold>,</Bold> who
            wrote one of the last books of the Old Testament<Bold>.</Bold> Instead we are speaking of Micaiah the
            son of
            Imlah<Bold>.</Bold></Paragraph>
        <Paragraph> Before we begin to analyze the passage that might lead us to believe that Micaiah lied<Bold>,</Bold> it
            is good
            to be familiar with the 400 prophets of Ahab<Bold>,</Bold> king of Israel<Bold>,</Bold> to the north<Bold>.</Bold>
            These 400 prophets would <Bold>"</Bold>prophesize<Bold>"</Bold> promising things to King
            Ahab<Bold>.</Bold> Meanwhile God had Micaiah<Bold>,</Bold> son of Imlah<Bold>,</Bold> contradict
            what
            they were saying<Bold>.</Bold> These were false prophets of God<Bold>,</Bold> but weren't the
            prophets of
            Baal<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are two reasons that lead me to believe that the 400 were not prophets of Baal. The first
            reason
            is</Bold> because Elijah<Bold>,</Bold> not long before<Bold>,</Bold> had killed the 450 prophets
            of
            Baal<Bold>.</Bold> It would have been extremely difficult to gather another 400 in such a small amount
            of
            time<Bold>.</Bold> <Bold>The second reason is</Bold> that even though they were false prophets of
            Jehovah<Bold>,</Bold> they would speak in the name of God<Bold>,</Bold> as we can see in
            22<Bold>:</Bold>11-12 and 24<Bold>.</Bold> It is not uncommon to see this today<Bold>.</Bold>
            There are
            many people who preach in the name of God and Christ<Bold>,</Bold> yet do not believe in
            them<Bold>.</Bold>
            The case of the prophet Hananiah<Bold>,</Bold> in the 28th chapter of Jeremiah<Bold>,</Bold> is a
            good
            example of this<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>11 <i>And Zedekiah son of Chenaanah maketh for himself horns of iron<Bold>,</Bold> and
            saith<Bold>:</Bold> <Bold>Thus said Jehovah:</Bold> By these thou dost push the Aramaeans till they
            are
            consumed<Bold>.</Bold></i> 12 <i>And all the prophets are prophesying so<Bold>,</Bold>
            saying<Bold>:</Bold> Go up to Ramoth-Gilead<Bold>,</Bold> and prosper<Bold>,</Bold> <Bold>and
                Jehovah
                hath given it into the hand of the king</Bold></i><Bold>."</Bold> (I K 22<Bold>:</Bold>11-12)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>24 <i>And Zedekiah son of Chenaanah draweth nigh<Bold>,</Bold> and smiteth Micaiah on
            the cheek<Bold>,</Bold>
            and saith<Bold>:</Bold> Where is this he hath passed over <Bold>the Spirit of Jehovah</Bold> from me
            to
            speak with thee</i><Bold>?"</Bold> (I K 22<Bold>:</Bold>24)</Paragraph>
        <Paragraph> Besides<Bold>,</Bold> this passage only mentions the 400 living prophets<Bold>,</Bold> which would
            confirm
            the execution of the 450 prophets of Baal<Bold>.</Bold> In I K 18<Bold>:</Bold>19 we see that Elijah
            mentions the 400 prophets of the shrine as well as the 450 prophets of Baal<Bold>.</Bold>
            However<Bold>,</Bold> in 18<Bold>:</Bold>40<Bold>,</Bold> Elijah kills only those who
            acknowledged
            Baal<Bold>.</Bold> It could be that the 400 prophets of the shrine were considered ministers of
            Jehovah<Bold>,</Bold> even though they had irregular services in the shrines and not in the Temple of
            Jerusalem<Bold>,</Bold> to the south<Bold>.</Bold> It is possible that Elijah didn't kill them for
            this
            reason<Bold>.</Bold> Being that the 400 prophets mentioned in I K 22<Bold>:</Bold>11-12 could or
            could not
            be the same ones mentioned in 18<Bold>:</Bold>19<Bold>,</Bold> the fact of the matter is that they
            would
            call themselves prophets of God<Bold>,</Bold> even though they weren't in reality<Bold>.</Bold> At
            least
            they nominally invoked the name of God<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>19 <i>And now<Bold>,</Bold> send<Bold>,</Bold> gather unto me all
            Israel<Bold>,</Bold>
            unto the mount of Carmel<Bold>,</Bold> and <Bold>the prophets of Baal four hundred and fifty,
                and</Bold>
            <Bold>the prophets of the shrine,</Bold> four hundred<Bold>,</Bold> eating at the table of
            Jezebel</i><Bold>."</Bold> (I K 18<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>40 <i>And Elijah saith to them<Bold>:</Bold> <Bold>Catch ye the prophets of Baal; let
            not a
            man escape of them;</Bold> and they catch them<Bold>,</Bold> and Elijah bringeth them down unto the
            stream
            Kishon<Bold>,</Bold> and doth slaughter them there</i><Bold>."</Bold> (I K 18<Bold>:</Bold>40)
        </Paragraph>
        <Paragraph><Bold>In addition to the prior reasoning,</Bold> we see that Jehoshaphat of Judah asks Ahab of Israel to
            consult
            Jehovah (5)<Bold>.</Bold> Ahab brings him the 400 prophets<Bold>.</Bold> It is not logical to think
            that if
            they avowedly were prophets of Baal<Bold>,</Bold> Ahab would try to pass them to Jehoshaphat as prophets
            of
            Jehovah<Bold>.</Bold> Therefore we should conclude that these men classified themselves as prophets of
            Jehovah<Bold>,</Bold> even though they were partial or absolute impersonators<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>5 <i>And Jehoshaphat saith unto the king of Israel<Bold>:</Bold> <Bold>Seek,</Bold>
            <Bold>I pray thee, today, the word of Jehovah.</Bold></i> 6 <i>And the king of Israel
            <Bold>gathereth</Bold>
            <Bold>the prophets, about four hundred men,</Bold> and saith unto them<Bold>:</Bold> Do I go against
            Ramoth-Gilead to battle<Bold>,</Bold> or do I forbear<Bold>?</Bold> And they say<Bold>:</Bold>
            Go
            up<Bold>,</Bold> and the Lord doth give it into the hand of the king<Bold>.</Bold></i> 7 <i>And
            Jehoshaphat
            saith<Bold>:</Bold> <Bold>Is there not here a prophet of Jehovah besides, and we seek by him?</Bold></i>
            8
            <i>And the king of Israel saith unto Jehoshaphat<Bold>:</Bold> Yet one man to seek Jehovah by
                him<Bold>,</Bold> and I have hated him<Bold>,</Bold> for he doth not prophesy concerning me good<Bold>,</Bold>
                but evil <Bold>Micaiah</Bold> <Bold>son of Imlah.</Bold> And Jehoshaphat saith<Bold>:</Bold>
                <Bold>Let not the king say so.</Bold></i> 9 <i>And the king of Israel calleth unto a certain
                eunuch<Bold>,</Bold> and saith<Bold>:</Bold> <Bold>Hasten Micaiah son of
                    Imlah</Bold></i><Bold>."</Bold> (I K 22<Bold>:</Bold>5-6)</Paragraph>
        <Paragraph> When Jehoshaphat of Judah (where they worshipped God not Baal) asked Ahab to consult God<Bold>,</Bold>
            he brings
            him these 400 prophets (6)<Bold>.</Bold> But it looks as if Jehoshaphat wasn't sold on the faith of
            these 400
            <Bold>"</Bold>prophets of Jehovah<Bold>"</Bold> because he asks (7) if there was any other prophet
            of
            God<Bold>.</Bold> Despite the resistance of Ahab King of Israel to call on <Bold>the true prophet of
                God,</Bold> in the presence of the insistence of King Jehoshaphat of Judah (8-9)<Bold>,</Bold> he
            opted to
            please him<Bold>.</Bold> Ahab couldn't let one of his caprices ignore the precious military help from
            the troops
            of Jehoshaphat of Judah who were present<Bold>,</Bold> as we can see in verse 4<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>And he saith unto Jehoshaphat<Bold>:</Bold> Dost thou go with me to battle to
            Ramoth-Gilead<Bold>?</Bold> <Bold>And Jehoshaphat saith unto the king of Israel: As I am, so thou; as
                my
                people, so thy people; as my horses, so thy horses</Bold></i><Bold>."</Bold> (I K
            22<Bold>:</Bold>4)
        </Paragraph>
        <Paragraph> Because of this<Bold>,</Bold> despite resistance from Ahab<Bold>,</Bold> the prophet
            <Bold>Micaiah</Bold> <Bold>enters the scene.</Bold> As you'll see further ahead<Bold>, Micaiah in
                reality
                was sent by God</Bold> to explain how there was a spirit of error in the 400
            <Bold>"</Bold>prophets<Bold>"; showing us that God doesn't neglect the truth from anyone looking for
                it.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>And he cometh in unto the king<Bold>,</Bold> and the king saith unto
            him<Bold>:</Bold> Micaiah<Bold>,</Bold> do we go unto Ramoth-Gilead<Bold>,</Bold> to
            battle<Bold>,</Bold> or do we forbear<Bold>?</Bold> <Bold>And he saith unto him: Go up, and
                prosper, and
                Jehovah hath given it into the hand of the king.</Bold></i> 16 <i>And the king saith unto
            him<Bold>:</Bold> <Bold>How many times am I adjuring thee that thou speak nothing unto me but truth in
                the
                name of Jehovah?</Bold></i> 17 <i>And he saith<Bold>:</Bold> <Bold>I have seen all Israel
            scattered on
            the hills as sheep that have no shepherd, and Jehovah saith: These have no master; they turn back each to
            his house
            in peace</Bold></i><Bold>."</Bold> (I K 22<Bold>:</Bold>15-17)</Paragraph>
        <Paragraph> Even though Micaiah says something in verse 15 that is not true<Bold>,</Bold> it cannot be classified as
            a
            lie<Bold>.</Bold> It is obviously said in a way that nobody<Bold>, not even Ahab</Bold>
            (16)<Bold>,</Bold> would believe him<Bold>.</Bold> I<Bold>t is possible that the tone of voice,
                the
                gestures of his hands or face, etc., indicated that he spoke in an ironic form or jeering
                fashion.</Bold> By
            the context we can tell that Micaiah said this in a way that everyone would understand that it wasn't
            true<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>To believe this, I base myself on</Bold> Ahab's reaction in verse 16<Bold>.</Bold> If Micaiah
            would
            have said it in a way that could have been taken seriously<Bold>,</Bold> Ahab<Bold>,</Bold> who
            would have
            benefited from people thinking Micaiah prophesized in his favor<Bold>,</Bold> would have kept his mouth
            shut and
            wouldn't have scolded<Bold>,</Bold> like he did in verse 16<Bold>.</Bold> However we can tell by
            King Ahab's
            annoyance<Bold>,</Bold> that he could not take what Micaiah said as something
            acceptable<Bold>.</Bold>
            <Bold>Therefore Micaiah, son of Imlah, did not lie. Instead he said this in an ironic form that was
                evident to
                everyone.</Bold></Paragraph>
        <Paragraph> If Micaiah would have said this in a credible way (15)<Bold>,</Bold> Ahab would have kept his mouth shut
            and let
            it pass<Bold>.</Bold> This would have benefited him and his purpose of motivating his people for
            war<Bold>.</Bold> If we cannot perceive the true meaning of what he said today<Bold>,</Bold> it is
            because
            we didn't here his tone of voice and didn't see his facial or manual gestures<Bold>.</Bold> But we can
            guide
            ourselves by the context in which it was used<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In everyday life we frequently speak like Micaiah.</Bold> Say someone asks<Bold>,</Bold>
            <Bold>"</Bold>have you seen Johnny<Bold>?"</Bold> and his interlocutor responds<Bold>,</Bold>
            <Bold>"</Bold>Yeah<Bold>,</Bold> I saw a dog carrying him by the mouth<Bold>."</Bold> We can
            come to the
            conclusion that this person hasn't seen Johnny<Bold>.</Bold> Even though what he said is not
            true<Bold>,</Bold> it also isn't a lie<Bold>,</Bold> because it is said in a way that no one would
            believe<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What occurred with Micaiah is the complete opposite of what occurred with the 400 prophets.</Bold>
            Micaiah
            says something false in a way that no one would believe it is true<Bold>,</Bold> but things are cleared
            up later<Bold>.</Bold>
            The 400 prophets say something false so that everyone would believe it is true<Bold>,</Bold> without
            trying to
            clear anything up<Bold>.</Bold> Now<Bold>,</Bold> who fooled the prophets<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>In reading 19-23 we see that during this time period rebellious spirits lived in heaven,</Bold> and
            would
            stand in front of the Throne of God the same way that we see it done in Job chapter one<Bold>.</Bold> It
            would
            stay this way until an attempt on the life of Jesus was made<Bold>.</Bold> It was then when they were
            expulsed
            from Heaven to Earth<Bold>.</Bold></Paragraph>
        <Paragraph> Anyhow<Bold>,</Bold> one of those rebellious angels tried to deceive the 400 prophets of
            Ahab<Bold>.</Bold>
            God allowed such a thing (22)<Bold>,</Bold> but <Bold>didn't allow the deception to remain
                deceptive.</Bold>
            Even in front of King Ahab<Bold>,</Bold> who wanted to induce his troops to battle
            Ramoth-Gilead<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>19 <i>And he saith<Bold>:</Bold> Therefore<Bold>,</Bold> hear a word of
            Jehovah<Bold>:</Bold> I have seen Jehovah sitting on His th</i>rone<Bold>,</Bold> and all the host
            of the
            heavens standing by Him<Bold>,</Bold> on His right and on His left<Bold>;</Bold> 20 <i>and Jehovah
                saith<Bold>:</Bold> Who doth entice Ahab<Bold>,</Bold> and he doth go up and fall in
                Ramoth-Gilead<Bold>?</Bold> And this one saith thus<Bold>,</Bold> and that one is saying
                thus<Bold>.</Bold></i> 21 <i>And the spirit goeth out<Bold>,</Bold> and standeth before
                Jehovah<Bold>,</Bold> and saith<Bold>:</Bold> I do entice him<Bold>;</Bold> and Jehovah
                saith unto
                him<Bold>:</Bold> By what<Bold>?</Bold></i> 22 <i>And he saith<Bold>:</Bold> <Bold>I go
                out, and
                have been a spirit of falsehood in the mouth of all his prophets.</Bold> And He
                saith<Bold>:</Bold> Thou
                dost entice<Bold>,</Bold> and also thou art able<Bold>;</Bold> go out and do
                so<Bold>.</Bold></i> 23
            <i><Bold>And now, lo, Jehovah hath put a spirit of falsehood in the mouth of all these thy
                prophets,</Bold> and
                Jehovah hath spoken concerning thee evil</i><Bold>."</Bold> (I K 22<Bold>:</Bold>19-23)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>And the king of Israel saith<Bold>:</Bold> Take Micaiah<Bold>,</Bold> and
            turn him
            back unto Amon head of the city<Bold>,</Bold> and unto Joash son of the king<Bold>,</Bold></i> 27
            <i>and
                thou hast said<Bold>:</Bold> Thus said the king<Bold>:</Bold> Place ye this one in the house of
                restraint<Bold>,</Bold> and cause him to eat bread of oppression<Bold>,</Bold> and water of
                oppression<Bold>,</Bold> <Bold>till my coming in peace.</Bold></i> 28 <Bold>And Micaiah saith:
                If thou at
                all return in peace, Jehovah hath not spoken by me.</Bold> <i>And he saith<Bold>:</Bold>
                Hear<Bold>,</Bold> O peoples<Bold>,</Bold> all of them</i><Bold>."</Bold> (I K
            22<Bold>:</Bold>26-28)
        </Paragraph>
        <Paragraph><Bold>As we see in 19-23 and 28, a true prophet of God would clear up everything that occurred in detail;
            therefore
            there was no deceit.</Bold> Not only did he tell the truth<Bold>;</Bold> he clarified the lie that the
            false
            prophets were <Bold>"</Bold>prophesizing<Bold>".</Bold> The fault was with those who didn't want to
            believe
            the truth and decided to believe the false prophets instead<Bold>,</Bold> since they were the ones
            telling them
            what they wanted to hear<Bold>.</Bold></Paragraph>
        <Paragraph> It's the same with fallen angels<Bold>,</Bold> which seem to ignore their destiny<Bold>.</Bold> This
            is also
            seen in false religions and in the true one<Bold>,</Bold> Christianity<Bold>.</Bold> God allows
            false
            religions (spiritism<Bold>,</Bold> buddhism<Bold>,</Bold> judaism<Bold>,</Bold>
            ruselism<Bold>,</Bold> armstrongism<Bold>,</Bold> islam<Bold>,</Bold>
            mormonism<Bold>,</Bold>
            romanism<Bold>,</Bold> etc<Bold>.,</Bold>) which are the false prophets of today<Bold>.</Bold>
            They tell
            their lies<Bold>,</Bold> yet God has kept his Sacred Scriptures so anyone could find the
            truth<Bold>.</Bold>
            Those who preach these lies know the truth<Bold>.</Bold> They also know they are lying<Bold>.</Bold>
            The
            fault also lies with those who prefer to believe the ones who flatter them with lies<Bold>.</Bold></Paragraph>
        <Paragraph> In the case of King Ahab<Bold>,</Bold> despite being face to face with the truth<Bold>,</Bold> he
            chose to
            reject it<Bold>.</Bold> He preferred the lies coming from 400 false prophets<Bold>,</Bold> which
            would
            concord with his hunger for power and his eagerness to conquer that city<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    