---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The 'harshness' of the Old Testament">
    <section>
        <Paragraph><Bold>"Harshness" of the Old Testament</Bold></Paragraph>
        <Paragraph> There are those who think the New Testament is a teaching of love (which is true) and that the Old Testament
            is a
            teaching of harshness and hate (which is false)<Bold>.</Bold> The people who believe this are <Bold>"monoversal
                doctrineers";</Bold> people who form or accept doctrines based on one verse or one
            passage<Bold>,</Bold>
            without reading the Bible in its entirety<Bold>.</Bold></Paragraph>
        <Paragraph> It seems like they believe God <Bold>"</Bold>long ago<Bold>"</Bold> preached harshness and
            hate<Bold>,</Bold> and <Bold>"</Bold>later<Bold>"</Bold> changed his opinion and decided to
            preach love
            in the New Testament<Bold>.</Bold> To them Heb 13<Bold>:</Bold>8 says nothing about the immutability
            of
            God's being<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Why do some of our brothers believe that the Old Testament was teaching harshness, lack of mercy, and
            even
            hate?</Bold> They base themselves on Mt 5<Bold>:</Bold>38 and 43<Bold>,</Bold> where the <Bold>Lord
            mentions phrases and sayings that were used in their culture, but didn't form part of the law God
            established.</Bold> It didn't occur to them to look in the Old Testament to see if what they understood
            was
            true<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Ye heard that <Bold>it was said:</Bold> <Bold>Eye for
            ey</Bold>e<Bold>,</Bold> and
            tooth for tooth</i><Bold>"</Bold> (Mt 5<Bold>:</Bold>38)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Ye heard that <Bold>it was said:</Bold> Thou shalt love thy
            neighbour<Bold>,</Bold> and
            <Bold>shalt hate thine enemy</Bold></i><Bold>"</Bold> (Mt 5<Bold>:</Bold>43)</Paragraph>
        <Paragraph><Bold>There's no place in the Old Testament that commands us to hate our enemies.</Bold> I am tired of
            hearing
            nonsense regarding the <Bold>"</Bold>harshness<Bold>"</Bold> and
            <Bold>"</Bold>cruelty<Bold>"</Bold>
            of the Old Testament<Bold>,</Bold> in comparison to the love displayed in the New
            Testament<Bold>.</Bold>
            Those who don't know the Bible and hear this nonsense will come to the conclusion that God and his servants
            wrote
            the New Testament<Bold>;</Bold> and Satan and his henchmen wrote the Old Testament<Bold>.</Bold></Paragraph>
        <Paragraph> These people do not understand that the Old Testament<Bold>,</Bold> just like the New
            Testament<Bold>,</Bold> is God's word<Bold>.</Bold> One cannot contradict the other because God
            doesn't
            contradict himself<Bold>,</Bold> nor changes his convictions<Bold>.</Bold> The Old and New Testament
            do not
            contradict each other<Bold>;</Bold> instead they compliment each other<Bold>.</Bold> They are two
            parts
            chronologically distant<Bold>,</Bold> yet come from the same unity<Bold>.</Bold> <Bold>Notice that
                the
                Lord Jesus doesn't say, "God ordered", or "God said", instead he plainly says, "it was said".</Bold>
        </Paragraph>
        <Paragraph><Bold>That of "an eye for an eye" was a norm given to judges and not a law for the common citizen.</Bold>
            In the
            following passages you'll clearly see that <Bold>"</Bold>eye for an eye<Bold>"</Bold> wasn't
            permission to
            execute personal vengeance on someone<Bold>.</Bold> It wasn't said for people to have justification for
            their
            hate or acts of vengeance<Bold>;</Bold> instead it was given to judges as a norm for
            judgment<Bold>.</Bold>
            Judges used this when there wasn't a written law concerning an issue<Bold>.</Bold></Paragraph>
        <Paragraph> What had happened was that <Bold>the people twisted the original purpose of that law</Bold> so that they
            could
            use it as justification for their concupiscence<Bold>,</Bold> vengeance<Bold>,</Bold> and personal
            hate<Bold>.</Bold> What occurs here (even with Christians) is that tradition superimposes the law of God<Bold>.</Bold>
            The same thing is seen in the worshiping of saints and virgins<Bold>.</Bold> Let's look at some passages
            that
            contain the phrase <Bold>"</Bold>eye for an eye<Bold>"</Bold> and we'll see that it only referred to
            the
            judges<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>And when men strive<Bold>,</Bold> and have smitten a pregnant
            woman<Bold>,</Bold> and
            her children have come out<Bold>,</Bold> and there is no mischief<Bold>,</Bold> he is certainly
            fined<Bold>,</Bold> as the husband of the woman doth lay upon him<Bold>,</Bold> <Bold>and he hath
                given
                through the judges;</Bold> 23 and if there is mischief<Bold>,</Bold> then thou hast given <Bold>life
                for
                life,</Bold></i> 24 <i><Bold>eye for eye, tooth for tooth,</Bold> <Bold>hand for hand,</Bold>
            <Bold>foot
                for foot,</Bold></i> 25 <i><Bold>burning for burning,</Bold> <Bold>wound for wound,</Bold>
            <Bold>stripe
                for stripe</Bold></i><Bold>."</Bold> (Ex 21<Bold>:</Bold>22-25)</Paragraph>
        <Paragraph><Bold>Like we were able to see in verse 22,</Bold> eye for an eye<Bold>,</Bold>
            etc<Bold>.,</Bold> was
            said to the arbitrators<Bold>.</Bold> In Lev 24<Bold>:</Bold>17-20 you'll see a better clarification<Bold>;</Bold>
            the law that was read in this passage was a guide for the judges<Bold>.</Bold> Another one is seen in Dt
            19<Bold>:</Bold>18-21<Bold>,</Bold> where in judging a false witness<Bold>,</Bold> it was
            commanded that
            whatever he was thinking about doing against his neighbor be done unto him<Bold>.</Bold>
            Again<Bold>,</Bold>
            this is an example of <Bold>"</Bold>an eye for an eye<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>17 <i>And when a man smiteth any soul of man<Bold>,</Bold> he is certainly put to death<Bold>.</Bold></i>
            18 <i>And he who smiteth a beast repayeth it<Bold>,</Bold> body for body<Bold>.</Bold></i> 19 <i>And
                when a
                man putteth a blemish in his fellow<Bold>,</Bold> as he hath done so it is done to
                him<Bold>;</Bold></i>
            20 <i>breach for breach<Bold>,</Bold> <Bold>eye for eye,</Bold> tooth for tooth<Bold>;</Bold> as
                he
                putteth a blemish in a man so it is done in him</i><Bold>."</Bold> (Lv 24<Bold>:</Bold>17-20)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>18 <Bold>And the judges</Bold> <i>have searched diligently<Bold>,</Bold> and
            lo<Bold>,</Bold> the witness is a false witness<Bold>,</Bold> a falsehood he hath testified against
            his
            brother<Bold>,</Bold></i> 19 <i><Bold>then ye have done to him as he devised to do to his
            brother,</Bold>
            and thou hast put away the evil thing out of thy midst<Bold>,</Bold></i> 20 <i>and those who are left do
            hear
            and fear<Bold>,</Bold> and add not to do any more according to this evil thing in thy
            midst<Bold>;</Bold></i> 21 <i>and thine eye doth not pity<Bold>,</Bold> life for
            life<Bold>,</Bold>
            <Bold>eye for eye,</Bold> tooth for tooth<Bold>,</Bold> hand for hand<Bold>,</Bold> foot for
            foot</i><Bold>."</Bold> (Dt 19<Bold>:</Bold>18-21)</Paragraph>
        <Paragraph><Bold>The "eye for an eye" phrase found in Mt 5:38 proves that it was used in a corruptive manner and not
            for its
            function.</Bold> In Ex 23<Bold>:</Bold>4-5 and Lev 19<Bold>:</Bold>17-18 enemies were treated in a
            substantially different way<Bold>.</Bold> What is taught there is quite contrary to the corruption of
            this
            judicial norm<Bold>.</Bold> Jesus<Bold>,</Bold> rebuking the Pharisees<Bold>,</Bold> mention
            this to
            them face to face in Mt 5<Bold>:</Bold>38<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>When thou meetest <Bold>thine enemy's ox or his ass going astray, thou dost
            certainly turn
            it back to him.</Bold></i> 5 <i>When thou seest the ass of <Bold>him who is hating thee</Bold>
            crouching under
            its burden<Bold>,</Bold> then thou hast ceased from leaving it to it<Bold>,</Bold> thou dost
            certainly leave
            it with him</i><Bold>."</Bold> (Ex 23<Bold>:</Bold>4-5)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>Thou dost not hate thy brother in thy heart;</Bold> <i>thou dost certainly
            reprove thy
            fellow<Bold>,</Bold> and not suffer sin on him<Bold>.</Bold></i> 18 <i>Thou dost not take
            vengeance<Bold>,</Bold> nor watch the sons of thy people<Bold>;</Bold> and thou hast had love to thy
            neighbour as thyself<Bold>;</Bold> I am Jehovah</i><Bold>."</Bold> (Lev 19<Bold>:</Bold>17-18)
        </Paragraph>
        <Paragraph> There are Christians who by reading the New Testament <Bold>believe that forgiveness and love was invented
            for the
            first time in the New Testament.</Bold> The passages that we just read show us that God commanded us to
            love those
            who detest us and those who are our enemies<Bold>.</Bold> This contradicts those who say the old pact
            was one of
            grudges<Bold>,</Bold> harshness<Bold>,</Bold> and vengeance<Bold>;</Bold> and that the
            contraposition of
            the new pact is now love<Bold>,</Bold> forgiveness<Bold>,</Bold> and gentleness<Bold>.</Bold>
            They act
            as if God was one way back then<Bold>,</Bold> and has now changed his way of being<Bold>.</Bold> Or
            that God
            was harsh<Bold>,</Bold> had vengeance<Bold>,</Bold> and held grudges while Jesus was the
            opposite<Bold>:</Bold> gentle<Bold>,</Bold> a person of love and forgiveness<Bold>.</Bold>
            <Bold>These
                are blasphemies and blunders,</Bold> caused by Biblical ignorance<Bold>.</Bold></Paragraph>
        <Paragraph> To the monoversal doctrineers<Bold>,</Bold> Ex 23<Bold>:</Bold>4-5<Bold>,</Bold> where love
            towards our
            enemies is preached<Bold>,</Bold> means nothing<Bold>.</Bold> Instead<Bold>,</Bold> they only
            notice<Bold>,</Bold> can notice<Bold>,</Bold> want to notice<Bold>,</Bold> or were taught to
            notice Mt 5<Bold>:</Bold>38
            and 43<Bold>.</Bold> It is there where they embrace the distorted idea of what they believe about the
            Old
            Testament<Bold>.</Bold> They don't have discernment or independent intellectual capabilities to analyze
            the rest
            of the Bible on their own<Bold>.</Bold> They already created their own monoversal doctrine based on one
            or two
            verses<Bold>.</Bold> Now they have a <Bold>"</Bold>monoversal doctrine<Bold>"</Bold> to
            preach<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>It's a tremendous folly and insult to God to say that "before" he preached harshness, hate, and was
            unmerciful,</Bold> and <Bold>"</Bold>now<Bold>"</Bold> he preaches love<Bold>.</Bold> Lets
            look at
            other verses in the Old Testament that preach love<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i><Bold>Thou dost not shut up a servant unto his lord, who is delivered unto thee
            from his
            lord;</Bold> 16 with thee he doth dwell<Bold>,</Bold> in thy midst<Bold>,</Bold> in the place
            which he
            chooseth within one of thy gates<Bold>,</Bold> where it is pleasing to him<Bold>;</Bold> <Bold>thou
                dost
                not oppress him</Bold></i><Bold>."</Bold> (Dt 23<Bold>:</Bold>15-16)</Paragraph>
        <Paragraph> In the previous passage we see <Bold>the right to asylum.</Bold> A man who flees from another man or
            institution
            for pious reasons should be welcomed and protected<Bold>.</Bold> Not only that<Bold>,</Bold> he
            should also
            be treated with the same respect<Bold>,</Bold> and have the same rights as those who are native to the
            land<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>21 <Bold>And a sojourner thou dost not oppress,</Bold> <i>nor crush
            him<Bold>,</Bold> for
            sojourners ye have been in the land of Egypt<Bold>.</Bold></i> 22 <Bold><i>Any widow or orphan ye do
            not
            afflict</i>."</Bold> (Ex 22<Bold>:</Bold>21-22)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>And a sojourner thou dost not oppress,</i></Bold> <i>and ye have known the soul of the
            sojourner<Bold>,</Bold> for sojourners ye have been in the land of Egypt</i><Bold>."</Bold> (Ex
            23<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>32 <Bold>At the presence of grey hairs thou dost rise up, and thou hast honoured the
            presence of
            an old man,</Bold> <i>and hast been afraid of thy God<Bold>;</Bold> I am Jehovah<Bold>.</Bold> 33
            And
            <Bold>when a sojourner sojourneth with thee in your land, thou dost not oppress him;</Bold> 34 as a
            native among
            you is the sojourner to you who is sojourning with you<Bold>,</Bold> and <Bold>thou hast had love to
                him as to
                thyself,</Bold> for sojourners ye have been in the land of Egypt<Bold>;</Bold> I am Jehovah your
            God</i><Bold>."</Bold> (Lv 19<Bold>:</Bold>32-34)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And in your reaping the harvest of your land thou dost not complete the corner of thy
            field in
            thy reaping<Bold>,</Bold> and the gleaning of thy harvest thou dost not gather<Bold>, to the poor and
                to the
                sojourner thou dost leave them;</Bold> I Jehovah am your God</i><Bold>."</Bold> (Lv
            23<Bold>:</Bold>22)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And the sabbath of the land hath been to you for food<Bold>,</Bold> to
            thee<Bold>,</Bold> and to thy man-servant<Bold>,</Bold> and to thy handmaid<Bold>,</Bold> and to
            thy
            hireling<Bold>,</Bold> <Bold>and to thy settler, who are sojourning with
                thee</Bold></i><Bold>"</Bold>
            (Lv 25<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>18 <Bold>He is doing the judgment of fatherless and widow, and loving the sojourner, to
            give to
            him bread and raiment.</Bold> 19 <Bold>And ye have loved the sojourner,</Bold> <i>for sojourners ye
            were in
            the land of Egypt</i><Bold>"</Bold> (Dt 10<Bold>:</Bold>18-19)</Paragraph>
        <Paragraph> After reading the previous passages I ask myself<Bold>,</Bold> how many of those who believe the Old
            Testament
            was <Bold>"</Bold>harsh<Bold>"</Bold> and <Bold>"</Bold>cruel<Bold>"</Bold> practice the
            charity or
            love that it establishes<Bold>?</Bold> How many of them<Bold>,</Bold> who are foolish enough to
            believe that
            God's law was cruel<Bold>,</Bold> actually practice the <Bold>"</Bold>cruel<Bold>"</Bold> law
            mandated
            by Moses<Bold>?</Bold> How many of them separate a substantial part of their earnings for
            orphans<Bold>,</Bold> widows<Bold>,</Bold> and poor people in general<Bold>?</Bold> How many of
            them
            respect the elderly by rising at the presence of gray hairs<Bold>,</Bold> like it is established in the
            law of
            God they consider <Bold>"</Bold>harsh<Bold>".</Bold> How many help foreigners who are in
            need<Bold>,</Bold> like the <Bold>"</Bold>cruel and harsh<Bold>"</Bold> Law of Moses orders us
            to<Bold>?</Bold></Paragraph>
        <Paragraph> In the Old Testament<Bold>,</Bold> <Bold>the tithe of every third year was used integrally for deeds
            of
            charity.</Bold> It was used in favor of the orphans<Bold>,</Bold> in favor of the
            widows<Bold>,</Bold> in
            favor of the foreigners<Bold>,</Bold> and in favor of the Levites<Bold>,</Bold> who couldn't sustain
            themselves<Bold>.</Bold> Above all it helped those who lived in cities of the interior<Bold>,</Bold>
            according to Dt 14<Bold>:</Bold>28-29<Bold>.</Bold> This is how the tithes were
            administered<Bold>,</Bold> in conjunction with the law that was established<Bold>.</Bold> We see
            another
            example in Dt 26<Bold>:</Bold>12-13<Bold>.</Bold> Let's take a look<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>Thou dost certainly tithe all the increase of thy seed which the field is bringing
            forth year
            by year<Bold>;</Bold> 23 <Bold>and thou hast eaten before Jehovah thy God, in the place where He doth
                choose
                to cause His name to tabernacle, the tithe</Bold> of thy corn<Bold>,</Bold> of thy new
            wine<Bold>,</Bold> and of thine oil<Bold>,</Bold> and the firstlings of thy herd<Bold>,</Bold>
            and of
            thy flock<Bold>,</Bold> so that thou dost learn to fear Jehovah thy God all the days<Bold>...</Bold>
            28
            <Bold>At the end of three years thou dost bring out all the tithe of thine increase in that year, and hast
                placed
                it within thy gates;</Bold> 29 <Bold>and come in hath the Levite</Bold> (for he hath no part and
            inheritance with thee)<Bold>,</Bold> and <Bold>the sojourner, and the fatherless, and the
                widow,</Bold> who
            are within thy gates<Bold>,</Bold> and they have eaten<Bold>,</Bold> and been
            satisfied<Bold>,</Bold> so
            that Jehovah thy God doth bless thee in all the work of thy hand which thou dost</i><Bold>."</Bold> (Dt
            14<Bold>:</Bold>23-29 abbreviated)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>When thou dost complete to tithe <Bold>all the tithe of thine increase</Bold> in
            the
            third year<Bold>,</Bold> the year of the tithe<Bold>,</Bold> <Bold>then thou hast given to the
                Levite, to
                the sojourner, to the fatherless, and to the widow,</Bold> and they have eaten within thy
            gates<Bold>,</Bold> and been satisfied<Bold>,</Bold></i> 13 <i>and thou hast said before Jehovah thy
            God<Bold>,</Bold> I have put away the separated thing out of the house<Bold>,</Bold> and also have
            given it
            to the Levite<Bold>,</Bold> and to the sojourner<Bold>,</Bold> and to the orphan<Bold>,</Bold>
            and to
            the widow<Bold>,</Bold> according to all Thy command which Thou hast commanded me<Bold>;</Bold> I
            have not
            passed over from Thy commands<Bold>,</Bold> nor have I forgotten</i><Bold>."</Bold> (Dt
            26<Bold>:</Bold>12-13)
        </Paragraph>
        <Paragraph> As we can see<Bold>,</Bold> <Bold>the religious system in the "cruel" Old Testament was highly
            charitable.</Bold> They gave 33% (a third) of the assets they received from believers to deeds of
            charity<Bold>.</Bold> In other words<Bold>,</Bold> 33% of the religious organization's budget in the
            Old
            Testament was dedicated to charity or <Bold>love towards their neighbor.</Bold> That is why it hurts to
            see
            these people with foolish accusations speak without thinking<Bold>.</Bold> They use stereotypes by
            saying
            <Bold>"</Bold>the Old Testament are the Scriptures of harshness<Bold>,</Bold> the New Testament are
            the
            Scriptures of Love<Bold>";</Bold> <Bold>"</Bold>under the law there was cruelty<Bold>,</Bold>
            under
            grace there is love<Bold>",</Bold> bla<Bold>,</Bold> bla<Bold>,</Bold> bla…</Paragraph>
        <Paragraph><Bold>I would like to know if the sects or religious organizations these blabbers belong to practice the
            loving law
            of the Old Testament.</Bold> Under <Bold>"</Bold>the law<Bold>",</Bold> under the
            <Bold>"</Bold>eye
            for an eye<Bold>",</Bold> under <Bold>"</Bold>the harshness<Bold>",</Bold> is where 33% of the
            money
            managed by the religion was used for charitable work<Bold>.</Bold> My question is <Bold>"</Bold>under
            grace<Bold>",</Bold> <Bold>"</Bold>under the law of love<Bold>",</Bold> in organizations where
            the
            primary motto is <Bold>"</Bold>I want mercy<Bold>,</Bold> not sacrifice<Bold>",</Bold>
            etc<Bold>.,</Bold> What percentage of their net income is dedicated directly to <Bold>charity, or
                love?</Bold> Those who have 33% or more of their earnings ready to be given to
            charity<Bold>;</Bold> cast
            the first stone<Bold>!</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to the index</a></Bold></Paragraph>

    </section>
</Layout>
    