---
import Layout from "../layout/Layout.astro";
---

<Layout title="The 'harshness' of the Old Testament">
    <section>
        <p><strong>"Harshness" of the Old Testament</strong></p>
        <p> There are those who think the New Testament is a teaching of love (which is true) and that the Old Testament
            is a
            teaching of harshness and hate (which is false)<strong>.</strong> The people who believe this are <strong>"monoversal
                doctrineers";</strong> people who form or accept doctrines based on one verse or one
            passage<strong>,</strong>
            without reading the Bible in its entirety<strong>.</strong></p>
        <p> It seems like they believe God <strong>"</strong>long ago<strong>"</strong> preached harshness and
            hate<strong>,</strong> and <strong>"</strong>later<strong>"</strong> changed his opinion and decided to
            preach love
            in the New Testament<strong>.</strong> To them Heb 13<strong>:</strong>8 says nothing about the immutability
            of
            God's being<strong>.</strong></p>
        <p><strong>Why do some of our brothers believe that the Old Testament was teaching harshness, lack of mercy, and
            even
            hate?</strong> They base themselves on Mt 5<strong>:</strong>38 and 43<strong>,</strong> where the <strong>Lord
            mentions phrases and sayings that were used in their culture, but didn't form part of the law God
            established.</strong> It didn't occur to them to look in the Old Testament to see if what they understood
            was
            true<strong>.</strong></p>
        <p><strong>"</strong><i>Ye heard that <strong>it was said:</strong> <strong>Eye for
            ey</strong>e<strong>,</strong> and
            tooth for tooth</i><strong>"</strong> (Mt 5<strong>:</strong>38)</p>
        <p></p>
        <p><strong>"</strong><i>Ye heard that <strong>it was said:</strong> Thou shalt love thy
            neighbour<strong>,</strong> and
            <strong>shalt hate thine enemy</strong></i><strong>"</strong> (Mt 5<strong>:</strong>43)</p>
        <p><strong>There's no place in the Old Testament that commands us to hate our enemies.</strong> I am tired of
            hearing
            nonsense regarding the <strong>"</strong>harshness<strong>"</strong> and
            <strong>"</strong>cruelty<strong>"</strong>
            of the Old Testament<strong>,</strong> in comparison to the love displayed in the New
            Testament<strong>.</strong>
            Those who don't know the Bible and hear this nonsense will come to the conclusion that God and his servants
            wrote
            the New Testament<strong>;</strong> and Satan and his henchmen wrote the Old Testament<strong>.</strong></p>
        <p> These people do not understand that the Old Testament<strong>,</strong> just like the New
            Testament<strong>,</strong> is God's word<strong>.</strong> One cannot contradict the other because God
            doesn't
            contradict himself<strong>,</strong> nor changes his convictions<strong>.</strong> The Old and New Testament
            do not
            contradict each other<strong>;</strong> instead they compliment each other<strong>.</strong> They are two
            parts
            chronologically distant<strong>,</strong> yet come from the same unity<strong>.</strong> <strong>Notice that
                the
                Lord Jesus doesn't say, "God ordered", or "God said", instead he plainly says, "it was said".</strong>
        </p>
        <p><strong>That of "an eye for an eye" was a norm given to judges and not a law for the common citizen.</strong>
            In the
            following passages you'll clearly see that <strong>"</strong>eye for an eye<strong>"</strong> wasn't
            permission to
            execute personal vengeance on someone<strong>.</strong> It wasn't said for people to have justification for
            their
            hate or acts of vengeance<strong>;</strong> instead it was given to judges as a norm for
            judgment<strong>.</strong>
            Judges used this when there wasn't a written law concerning an issue<strong>.</strong></p>
        <p> What had happened was that <strong>the people twisted the original purpose of that law</strong> so that they
            could
            use it as justification for their concupiscence<strong>,</strong> vengeance<strong>,</strong> and personal
            hate<strong>.</strong> What occurs here (even with Christians) is that tradition superimposes the law of God<strong>.</strong>
            The same thing is seen in the worshiping of saints and virgins<strong>.</strong> Let's look at some passages
            that
            contain the phrase <strong>"</strong>eye for an eye<strong>"</strong> and we'll see that it only referred to
            the
            judges<strong>.</strong></p>
        <p><strong>"</strong>22 <i>And when men strive<strong>,</strong> and have smitten a pregnant
            woman<strong>,</strong> and
            her children have come out<strong>,</strong> and there is no mischief<strong>,</strong> he is certainly
            fined<strong>,</strong> as the husband of the woman doth lay upon him<strong>,</strong> <strong>and he hath
                given
                through the judges;</strong> 23 and if there is mischief<strong>,</strong> then thou hast given <strong>life
                for
                life,</strong></i> 24 <i><strong>eye for eye, tooth for tooth,</strong> <strong>hand for hand,</strong>
            <strong>foot
                for foot,</strong></i> 25 <i><strong>burning for burning,</strong> <strong>wound for wound,</strong>
            <strong>stripe
                for stripe</strong></i><strong>."</strong> (Ex 21<strong>:</strong>22-25)</p>
        <p><strong>Like we were able to see in verse 22,</strong> eye for an eye<strong>,</strong>
            etc<strong>.,</strong> was
            said to the arbitrators<strong>.</strong> In Lev 24<strong>:</strong>17-20 you'll see a better clarification<strong>;</strong>
            the law that was read in this passage was a guide for the judges<strong>.</strong> Another one is seen in Dt
            19<strong>:</strong>18-21<strong>,</strong> where in judging a false witness<strong>,</strong> it was
            commanded that
            whatever he was thinking about doing against his neighbor be done unto him<strong>.</strong>
            Again<strong>,</strong>
            this is an example of <strong>"</strong>an eye for an eye<strong>".</strong></p>
        <p><strong>"</strong>17 <i>And when a man smiteth any soul of man<strong>,</strong> he is certainly put to death<strong>.</strong></i>
            18 <i>And he who smiteth a beast repayeth it<strong>,</strong> body for body<strong>.</strong></i> 19 <i>And
                when a
                man putteth a blemish in his fellow<strong>,</strong> as he hath done so it is done to
                him<strong>;</strong></i>
            20 <i>breach for breach<strong>,</strong> <strong>eye for eye,</strong> tooth for tooth<strong>;</strong> as
                he
                putteth a blemish in a man so it is done in him</i><strong>."</strong> (Lv 24<strong>:</strong>17-20)
        </p>
        <p></p>
        <p><strong>"</strong>18 <strong>And the judges</strong> <i>have searched diligently<strong>,</strong> and
            lo<strong>,</strong> the witness is a false witness<strong>,</strong> a falsehood he hath testified against
            his
            brother<strong>,</strong></i> 19 <i><strong>then ye have done to him as he devised to do to his
            brother,</strong>
            and thou hast put away the evil thing out of thy midst<strong>,</strong></i> 20 <i>and those who are left do
            hear
            and fear<strong>,</strong> and add not to do any more according to this evil thing in thy
            midst<strong>;</strong></i> 21 <i>and thine eye doth not pity<strong>,</strong> life for
            life<strong>,</strong>
            <strong>eye for eye,</strong> tooth for tooth<strong>,</strong> hand for hand<strong>,</strong> foot for
            foot</i><strong>."</strong> (Dt 19<strong>:</strong>18-21)</p>
        <p><strong>The "eye for an eye" phrase found in Mt 5:38 proves that it was used in a corruptive manner and not
            for its
            function.</strong> In Ex 23<strong>:</strong>4-5 and Lev 19<strong>:</strong>17-18 enemies were treated in a
            substantially different way<strong>.</strong> What is taught there is quite contrary to the corruption of
            this
            judicial norm<strong>.</strong> Jesus<strong>,</strong> rebuking the Pharisees<strong>,</strong> mention
            this to
            them face to face in Mt 5<strong>:</strong>38<strong>.</strong></p>
        <p><strong>"</strong>4 <i>When thou meetest <strong>thine enemy's ox or his ass going astray, thou dost
            certainly turn
            it back to him.</strong></i> 5 <i>When thou seest the ass of <strong>him who is hating thee</strong>
            crouching under
            its burden<strong>,</strong> then thou hast ceased from leaving it to it<strong>,</strong> thou dost
            certainly leave
            it with him</i><strong>."</strong> (Ex 23<strong>:</strong>4-5)</p>
        <p></p>
        <p><strong>"</strong>17 <strong>Thou dost not hate thy brother in thy heart;</strong> <i>thou dost certainly
            reprove thy
            fellow<strong>,</strong> and not suffer sin on him<strong>.</strong></i> 18 <i>Thou dost not take
            vengeance<strong>,</strong> nor watch the sons of thy people<strong>;</strong> and thou hast had love to thy
            neighbour as thyself<strong>;</strong> I am Jehovah</i><strong>."</strong> (Lev 19<strong>:</strong>17-18)
        </p>
        <p> There are Christians who by reading the New Testament <strong>believe that forgiveness and love was invented
            for the
            first time in the New Testament.</strong> The passages that we just read show us that God commanded us to
            love those
            who detest us and those who are our enemies<strong>.</strong> This contradicts those who say the old pact
            was one of
            grudges<strong>,</strong> harshness<strong>,</strong> and vengeance<strong>;</strong> and that the
            contraposition of
            the new pact is now love<strong>,</strong> forgiveness<strong>,</strong> and gentleness<strong>.</strong>
            They act
            as if God was one way back then<strong>,</strong> and has now changed his way of being<strong>.</strong> Or
            that God
            was harsh<strong>,</strong> had vengeance<strong>,</strong> and held grudges while Jesus was the
            opposite<strong>:</strong> gentle<strong>,</strong> a person of love and forgiveness<strong>.</strong>
            <strong>These
                are blasphemies and blunders,</strong> caused by Biblical ignorance<strong>.</strong></p>
        <p> To the monoversal doctrineers<strong>,</strong> Ex 23<strong>:</strong>4-5<strong>,</strong> where love
            towards our
            enemies is preached<strong>,</strong> means nothing<strong>.</strong> Instead<strong>,</strong> they only
            notice<strong>,</strong> can notice<strong>,</strong> want to notice<strong>,</strong> or were taught to
            notice Mt 5<strong>:</strong>38
            and 43<strong>.</strong> It is there where they embrace the distorted idea of what they believe about the
            Old
            Testament<strong>.</strong> They don't have discernment or independent intellectual capabilities to analyze
            the rest
            of the Bible on their own<strong>.</strong> They already created their own monoversal doctrine based on one
            or two
            verses<strong>.</strong> Now they have a <strong>"</strong>monoversal doctrine<strong>"</strong> to
            preach<strong>.</strong></p>
        <p><strong>It's a tremendous folly and insult to God to say that "before" he preached harshness, hate, and was
            unmerciful,</strong> and <strong>"</strong>now<strong>"</strong> he preaches love<strong>.</strong> Lets
            look at
            other verses in the Old Testament that preach love<strong>.</strong></p>
        <p><strong>"</strong>15 <i><strong>Thou dost not shut up a servant unto his lord, who is delivered unto thee
            from his
            lord;</strong> 16 with thee he doth dwell<strong>,</strong> in thy midst<strong>,</strong> in the place
            which he
            chooseth within one of thy gates<strong>,</strong> where it is pleasing to him<strong>;</strong> <strong>thou
                dost
                not oppress him</strong></i><strong>."</strong> (Dt 23<strong>:</strong>15-16)</p>
        <p> In the previous passage we see <strong>the right to asylum.</strong> A man who flees from another man or
            institution
            for pious reasons should be welcomed and protected<strong>.</strong> Not only that<strong>,</strong> he
            should also
            be treated with the same respect<strong>,</strong> and have the same rights as those who are native to the
            land<strong>.</strong></p>
        <p><strong>"</strong>21 <strong>And a sojourner thou dost not oppress,</strong> <i>nor crush
            him<strong>,</strong> for
            sojourners ye have been in the land of Egypt<strong>.</strong></i> 22 <strong><i>Any widow or orphan ye do
            not
            afflict</i>."</strong> (Ex 22<strong>:</strong>21-22)</p>
        <p></p>
        <p><strong>"<i>And a sojourner thou dost not oppress,</i></strong> <i>and ye have known the soul of the
            sojourner<strong>,</strong> for sojourners ye have been in the land of Egypt</i><strong>."</strong> (Ex
            23<strong>:</strong>9)</p>
        <p></p>
        <p><strong>"</strong>32 <strong>At the presence of grey hairs thou dost rise up, and thou hast honoured the
            presence of
            an old man,</strong> <i>and hast been afraid of thy God<strong>;</strong> I am Jehovah<strong>.</strong> 33
            And
            <strong>when a sojourner sojourneth with thee in your land, thou dost not oppress him;</strong> 34 as a
            native among
            you is the sojourner to you who is sojourning with you<strong>,</strong> and <strong>thou hast had love to
                him as to
                thyself,</strong> for sojourners ye have been in the land of Egypt<strong>;</strong> I am Jehovah your
            God</i><strong>."</strong> (Lv 19<strong>:</strong>32-34)</p>
        <p></p>
        <p><strong>"</strong><i>And in your reaping the harvest of your land thou dost not complete the corner of thy
            field in
            thy reaping<strong>,</strong> and the gleaning of thy harvest thou dost not gather<strong>, to the poor and
                to the
                sojourner thou dost leave them;</strong> I Jehovah am your God</i><strong>."</strong> (Lv
            23<strong>:</strong>22)
        </p>
        <p></p>
        <p><strong>"</strong><i>And the sabbath of the land hath been to you for food<strong>,</strong> to
            thee<strong>,</strong> and to thy man-servant<strong>,</strong> and to thy handmaid<strong>,</strong> and to
            thy
            hireling<strong>,</strong> <strong>and to thy settler, who are sojourning with
                thee</strong></i><strong>"</strong>
            (Lv 25<strong>:</strong>6)</p>
        <p></p>
        <p><strong>"</strong>18 <strong>He is doing the judgment of fatherless and widow, and loving the sojourner, to
            give to
            him bread and raiment.</strong> 19 <strong>And ye have loved the sojourner,</strong> <i>for sojourners ye
            were in
            the land of Egypt</i><strong>"</strong> (Dt 10<strong>:</strong>18-19)</p>
        <p> After reading the previous passages I ask myself<strong>,</strong> how many of those who believe the Old
            Testament
            was <strong>"</strong>harsh<strong>"</strong> and <strong>"</strong>cruel<strong>"</strong> practice the
            charity or
            love that it establishes<strong>?</strong> How many of them<strong>,</strong> who are foolish enough to
            believe that
            God's law was cruel<strong>,</strong> actually practice the <strong>"</strong>cruel<strong>"</strong> law
            mandated
            by Moses<strong>?</strong> How many of them separate a substantial part of their earnings for
            orphans<strong>,</strong> widows<strong>,</strong> and poor people in general<strong>?</strong> How many of
            them
            respect the elderly by rising at the presence of gray hairs<strong>,</strong> like it is established in the
            law of
            God they consider <strong>"</strong>harsh<strong>".</strong> How many help foreigners who are in
            need<strong>,</strong> like the <strong>"</strong>cruel and harsh<strong>"</strong> Law of Moses orders us
            to<strong>?</strong></p>
        <p> In the Old Testament<strong>,</strong> <strong>the tithe of every third year was used integrally for deeds
            of
            charity.</strong> It was used in favor of the orphans<strong>,</strong> in favor of the
            widows<strong>,</strong> in
            favor of the foreigners<strong>,</strong> and in favor of the Levites<strong>,</strong> who couldn't sustain
            themselves<strong>.</strong> Above all it helped those who lived in cities of the interior<strong>,</strong>
            according to Dt 14<strong>:</strong>28-29<strong>.</strong> This is how the tithes were
            administered<strong>,</strong> in conjunction with the law that was established<strong>.</strong> We see
            another
            example in Dt 26<strong>:</strong>12-13<strong>.</strong> Let's take a look<strong>.</strong></p>
        <p><strong>"</strong>22 <i>Thou dost certainly tithe all the increase of thy seed which the field is bringing
            forth year
            by year<strong>;</strong> 23 <strong>and thou hast eaten before Jehovah thy God, in the place where He doth
                choose
                to cause His name to tabernacle, the tithe</strong> of thy corn<strong>,</strong> of thy new
            wine<strong>,</strong> and of thine oil<strong>,</strong> and the firstlings of thy herd<strong>,</strong>
            and of
            thy flock<strong>,</strong> so that thou dost learn to fear Jehovah thy God all the days<strong>...</strong>
            28
            <strong>At the end of three years thou dost bring out all the tithe of thine increase in that year, and hast
                placed
                it within thy gates;</strong> 29 <strong>and come in hath the Levite</strong> (for he hath no part and
            inheritance with thee)<strong>,</strong> and <strong>the sojourner, and the fatherless, and the
                widow,</strong> who
            are within thy gates<strong>,</strong> and they have eaten<strong>,</strong> and been
            satisfied<strong>,</strong> so
            that Jehovah thy God doth bless thee in all the work of thy hand which thou dost</i><strong>."</strong> (Dt
            14<strong>:</strong>23-29 abbreviated)</p>
        <p></p>
        <p><strong>"</strong>12 <i>When thou dost complete to tithe <strong>all the tithe of thine increase</strong> in
            the
            third year<strong>,</strong> the year of the tithe<strong>,</strong> <strong>then thou hast given to the
                Levite, to
                the sojourner, to the fatherless, and to the widow,</strong> and they have eaten within thy
            gates<strong>,</strong> and been satisfied<strong>,</strong></i> 13 <i>and thou hast said before Jehovah thy
            God<strong>,</strong> I have put away the separated thing out of the house<strong>,</strong> and also have
            given it
            to the Levite<strong>,</strong> and to the sojourner<strong>,</strong> and to the orphan<strong>,</strong>
            and to
            the widow<strong>,</strong> according to all Thy command which Thou hast commanded me<strong>;</strong> I
            have not
            passed over from Thy commands<strong>,</strong> nor have I forgotten</i><strong>."</strong> (Dt
            26<strong>:</strong>12-13)
        </p>
        <p> As we can see<strong>,</strong> <strong>the religious system in the "cruel" Old Testament was highly
            charitable.</strong> They gave 33% (a third) of the assets they received from believers to deeds of
            charity<strong>.</strong> In other words<strong>,</strong> 33% of the religious organization's budget in the
            Old
            Testament was dedicated to charity or <strong>love towards their neighbor.</strong> That is why it hurts to
            see
            these people with foolish accusations speak without thinking<strong>.</strong> They use stereotypes by
            saying
            <strong>"</strong>the Old Testament are the Scriptures of harshness<strong>,</strong> the New Testament are
            the
            Scriptures of Love<strong>";</strong> <strong>"</strong>under the law there was cruelty<strong>,</strong>
            under
            grace there is love<strong>",</strong> bla<strong>,</strong> bla<strong>,</strong> bla…</p>
        <p><strong>I would like to know if the sects or religious organizations these blabbers belong to practice the
            loving law
            of the Old Testament.</strong> Under <strong>"</strong>the law<strong>",</strong> under the
            <strong>"</strong>eye
            for an eye<strong>",</strong> under <strong>"</strong>the harshness<strong>",</strong> is where 33% of the
            money
            managed by the religion was used for charitable work<strong>.</strong> My question is <strong>"</strong>under
            grace<strong>",</strong> <strong>"</strong>under the law of love<strong>",</strong> in organizations where
            the
            primary motto is <strong>"</strong>I want mercy<strong>,</strong> not sacrifice<strong>",</strong>
            etc<strong>.,</strong> What percentage of their net income is dedicated directly to <strong>charity, or
                love?</strong> Those who have 33% or more of their earnings ready to be given to
            charity<strong>;</strong> cast
            the first stone<strong>!</strong></p>
        <p><strong><a href="biblenotes.html">Return to the index</a></strong></p>

    </section>
</Layout>
    