---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Evil tactics to destroy God's people">
    <Content>
        <Paragraph><Bold>Evil Tactics to Destroy God's People</Bold></Paragraph>
        <Paragraph> A human being has free will and can create ideas and feelings that could be in harmony or in conflict with
            God's<Bold>.</Bold> The Lord does not punish us for acting in an erroneous way for lack of
            knowledge<Bold>.</Bold> Sin appears when we are able to have access to the attitude God would like us to
            have in
            a circumstance<Bold>,</Bold> and we don't look for his will<Bold>,</Bold> or once we've found
            it<Bold>,</Bold> we do not follow it<Bold>.</Bold> Sin is born when we keep ideas and feelings which
            we know
            are against God's will<Bold>.</Bold> <Bold>In other words, it is good to arrange our feelings,
                thoughts and
                ideas to conform God's. Not doing so is sin.</Bold></Paragraph>
        <Paragraph> When Balaam became aware of God's will for Israel (Num 22<Bold>:</Bold>12)<Bold>,</Bold> he should
            have
            taken sides in their favor<Bold>.</Bold> From then on he should have performed the way God
            wanted<Bold>.</Bold> He did not align his will to God's<Bold>;</Bold> on the
            contrary<Bold>,</Bold> he
            continued wanting to go with the messengers of Balak to curse those who God had blessed<Bold>.</Bold>
            The only
            thing he would not do<Bold>,</Bold> because of fear of consequences<Bold>,</Bold> was to perform the
            action
            himself<Bold>.</Bold> His feelings never changed<Bold>.</Bold> In other words<Bold>,</Bold> in
            spite of
            knowing God's will<Bold>,</Bold> he rejected it<Bold>,</Bold> and instead embraced Balak's will who
            would
            give him earthly rewards<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>And <Bold>God said unto Balaam: Thou shalt not go with them; thou shalt not curse
            the
            people, for they are blessed.</Bold> 13 And Balaam rose up in the morning and said unto the princes of
            Balak<Bold>:</Bold> Get you into your land<Bold>,</Bold> for <Bold>the LORD refuseth to give me
                leave to
                go with you</Bold></i><Bold>."</Bold> (Num<Bold>.</Bold> 22<Bold>:</Bold>12-13)</Paragraph>
        <Paragraph> In verse 22<Bold>:</Bold>13<Bold>,</Bold> instead of saying <Bold>"</Bold>I don't want to go
            because God
            doesn't want me to curse his people<Bold>,</Bold> I advise you to seek peace with
            Moses<Bold>,</Bold>
            etc<Bold>...;",</Bold> what he does is blame God when he says<Bold>:</Bold> <Bold>"</Bold>The
            Lord
            refuses to let me go<Bold>".</Bold> This means that if God didn't refuse<Bold>,</Bold> he would even
            go
            against God's will<Bold>.</Bold></Paragraph>
        <Paragraph> In verse 22<Bold>:</Bold>18<Bold>,</Bold> instead of saying<Bold>:</Bold> <Bold>"</Bold>I do
            not
            want to go with you<Bold>,</Bold> because God already warned me once<Bold>"</Bold> he
            says<Bold>:</Bold>
            … <Bold>"I cannot go</Bold> against Jehovah's word…<Bold>"</Bold> This means that if he could he
            would go
            against him<Bold>.</Bold></Paragraph>
        <Paragraph> In verse 22<Bold>:</Bold>19<Bold>,</Bold> he asks God one more time<Bold>,</Bold> even though he
            knew
            God's will<Bold>.</Bold> This demonstrates to us that he preferred Balak<Bold>,</Bold> who gave him
            gifts<Bold>,</Bold> instead of God<Bold>.</Bold> After all<Bold>,</Bold> it was God who gave
            power to
            Balaam<Bold>,</Bold> which is why Balak would offer him gifts<Bold>.</Bold></Paragraph>
        <Paragraph> The last part in verse 22<Bold>:</Bold>38<Bold>,</Bold> he justifies with Balak and
            says<Bold>:</Bold>
            <Bold>"</Bold>I am come unto thee<Bold>,</Bold> have I now any power at all to say
            anything<Bold>?"</Bold> It was reasonable to think that if Balak was calling him to curse God's
            people<Bold>,</Bold> and because he knew God had blessed him<Bold>,</Bold> the most logical thing
            would be
            not to go to Balak<Bold>.</Bold> This way he would not have to do anything to please
            Balak<Bold>,</Bold>
            despite all this<Bold>,</Bold> Balaam went<Bold>.</Bold> He hoped to be able to do something to
            satisfy
            Balak<Bold>.</Bold></Paragraph>
        <Paragraph> The perverse attitude that Balaam displays is why the angel of God (who is the one dealing with this prophet
            as
            mentioned in Num 22<Bold>:</Bold>35) is filled with rage when Balaam goes to Balak<Bold>.</Bold> The
            angel
            allows him to go<Bold>,</Bold> but knowing that Balaam is very pleased to go<Bold>,</Bold> he
            becomes
            angry<Bold>.</Bold> Balaam does not curse God's people because God does not allow him to do
            so<Bold>.</Bold>
            He doesn't show it physically but his heart is full of evil desires<Bold>.</Bold> He doesn't curse them
            physically with his mouth but with a ploy he harms them<Bold>.</Bold> How<Bold>?</Bold></Paragraph>
        <Paragraph> Given that God did not prevent him to give counsel against Israel<Bold>,</Bold> Balaam takes advantage
            of this
            and gives counsel to the Midianites<Bold>.</Bold> <Bold>It is Balaam who teaches the midianites that
                if God's
                people sin, God would take away his protection and they could defeat them.</Bold> Therefore he teaches
            them
            that the best strategy they had against God's people was to give them women as bait<Bold>,</Bold> to
            make them
            fall into sexual immorality and idolatry<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>And Israel abode in Shittim<Bold>,</Bold> <Bold>and the people began to commit
            whoredom
            with the daughters of Moab,</Bold></i> 2 <i>and they called the people unto the sacrifices of their
            Gods<Bold>;</Bold> and the people did eat<Bold>,</Bold> and bowed down to their
            gods<Bold>.</Bold></i> 3
            <i><Bold>And Israel joined himself unto Baalpeor; and the anger of the LORD was kindled against
                Israel</Bold></i><Bold>."</Bold> (Num<Bold>.</Bold> 25<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>And Moses said unto them<Bold>:</Bold> Have ye saved all the women
            alive<Bold>?</Bold></i> 16 <i><Bold>Behold, these caused the children of Israel, through the counsel
            of
            Balaam, to commit trespass against the LORD</Bold> in the matter of Peor<Bold>,</Bold> and there was a
            plague
            among the congregation of the Lor</i>d<Bold>."</Bold> (Num<Bold>.</Bold> 31<Bold>:</Bold>15-16)
        </Paragraph>
        <Paragraph><Bold>Even though thousand of years have passed since then, this is the same tactic that the enemies of God
            followed against God's people. Satan stills uses women he controls so God's people will sin, so they will
            not have
            God's protection and therefore could be destroyed.</Bold> (See Article #50 from this series)</Paragraph>
        <Paragraph><Bold>In summary,</Bold> Balaam did not do what God prohibited him<Bold>,</Bold> because he could not<Bold>.</Bold>
            Nonetheless<Bold>,</Bold> he would look for other ways to go against God's will<Bold>.</Bold> Good
            proof of
            this is when Balaam stayed with the Midianites instead of going back to his home<Bold>.</Bold> When
            Israel went
            to war with the Midianites<Bold>,</Bold> Balaam was one of the casualties<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>And they slew the kings of Midian<Bold>,</Bold> beside the rest of them that were
            slain<Bold>;</Bold> namely<Bold>,</Bold> Evi<Bold>,</Bold> and Rekem<Bold>,</Bold> and
            Zur<Bold>,</Bold> and Hur<Bold>,</Bold> and Reba<Bold>,</Bold> five kings of
            Midian<Bold>;</Bold>
            <Bold>Balaam also the son of Beor they slew with the sword</Bold></i><Bold>"</Bold>
            (Num<Bold>.</Bold>
            31<Bold>:</Bold>8)</Paragraph>
        <Paragraph> Lastly<Bold>,</Bold> we could see that in 2 Peter 2<Bold>:</Bold>15<Bold>,</Bold> the apostle
            testifies
            that Balaam loved the prize<Bold>.</Bold> Also<Bold>,</Bold> in Jude
            1<Bold>:</Bold>11<Bold>,</Bold>
            he accuses Balaam of loving the reward<Bold>.</Bold> When we read these things<Bold>,</Bold> we
            reaffirm
            that his inner desire was effectively evil<Bold>,</Bold> and that is why the angel of God was
            angry<Bold>.</Bold></Paragraph>
        <Paragraph> It is good to have in mind the tactic invented by Balaam<Bold>,</Bold> not only to avoid it on our daily
            lives<Bold>,</Bold> but also to understand what is said in Rev 2<Bold>:</Bold>14<Bold>,</Bold>
            in the
            letter to the angel of the church of Pergamum<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>But I have a few things against thee<Bold>,</Bold> because thou hast there <Bold>them
            that
            hold the doctrine of Balaam,</Bold> who taught Balak to cast a stumbling block before the children of
            Israel<Bold>,</Bold> <Bold>to eat things sacrificed unto idols, and to commit fornication</Bold></i><Bold>."</Bold>
            (Rev<Bold>.</Bold> 2<Bold>:</Bold>14)</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    