---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Satan cast out before the Pentecost">
    <section>
        <Paragraph><Bold>SATAN CAST OUT OF HEAVEN BEFORE THE PENTECOST</Bold></Paragraph>
        <Paragraph> When Jesus says <Bold>"now"</Bold> in Jn 12<Bold>:</Bold>31<Bold>,</Bold> he's signaling the
            moment in
            which <Bold>"</Bold>the prince of this world<Bold>"</Bold> was being cast out<Bold>.</Bold> The
            word
            <Bold>"now"</Bold> he uses could refer to that particular moment<Bold>,</Bold> or the entire process
            of his
            crucifixion and resurrection<Bold>,</Bold> which would be more reasonable<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Now</i></Bold> <i>is the judgment of this world<Bold>;</Bold> <Bold>now shall the prince
            of this
            world be cast out</Bold></i><Bold>."</Bold></Paragraph>
        <Paragraph> (Jn 12<Bold>:</Bold> 31)</Paragraph>
        <Paragraph> If we read Lk 22<Bold>:</Bold>31<Bold>,</Bold> we'll see that <Bold>Satan had asked</Bold> the
            apostles
            to be sifted as wheat<Bold>.</Bold> <Bold>If he asked for this, it is because he had access to God at
                the
                moment.</Bold> In other words<Bold>,</Bold> <Bold>he hadn't been cast out of Heaven
                yet.</Bold> But
            nonetheless<Bold>,</Bold> <Bold>after the crucifixion of Christ,</Bold> there's no part of the New
            Testament
            saying that Satan will present himself before God<Bold>,</Bold> nor is such a thing
            induced<Bold>.</Bold>
            That leads us to think that he could no longer present himself before God to make
            petitions<Bold>.</Bold></Paragraph>
        <Paragraph> After the crucifixion<Bold>,</Bold> Satan and the demons kept tempting humans with the same ancient and
            divine
            permission they've always had<Bold>,</Bold> even though they were cast out of Heaven<Bold>.</Bold>
            This
            temptation is only in general terms<Bold>,</Bold> not by asking permission for a specific temptation
            like in
            Job's case<Bold>,</Bold> or the one of him sifting the apostles<Bold>.</Bold> In the two cases
            mentioned we
            see that Satan had direct access to God<Bold>,</Bold> because he was still in Heaven<Bold>.</Bold>
        </Paragraph>
        <Paragraph> By knowing that Satan is called <Bold>"</Bold>the prince of this world<Bold>",</Bold> it is possible
            to
            think that <Bold>he was "thrown out" of Heaven during the terrestrial ministry of Christ.</Bold> Why do
            I think
            this way<Bold>?</Bold> Because in Jn 12<Bold>:</Bold>31<Bold>,</Bold> previously
            read<Bold>,</Bold>
            we see that our Lord Jesus Christ speaks in the present tense<Bold>,</Bold> saying that
            <Bold>"now"</Bold>
            Satan <Bold>"shall"</Bold> be cast out<Bold>.</Bold> By saying <Bold>"now",</Bold> we can see
            that he
            was going to be cast out during the process of the crucifixion and resurrection of the
            Lord<Bold>;</Bold> and by
            using the word <Bold>"</Bold>shall<Bold>"</Bold> (future) <Bold>we can see that during the moment
                he
                spoke, he had not been cast out yet.</Bold></Paragraph>
        <Paragraph>So<Bold>,</Bold> from where was Satan cast out<Bold>?</Bold> It's logical to think that from
            Heaven<Bold>,</Bold> because evidently<Bold>,</Bold> he wasn't cast out of planet
            Earth<Bold>.</Bold>
            All of this concords with what was said by the Lord in Lk 10<Bold>:</Bold>18<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And he said unto them<Bold>:</Bold> I beheld Satan as lightning <Bold>fall from
            Heaven</Bold></i><Bold>."</Bold> ( Lk 10<Bold>:</Bold>18 )</Paragraph>
        <Paragraph><Bold>It's probable that the Devil could be tolerated in Heaven for some time,</Bold> despite his
            evilness<Bold>,</Bold> as indicated by the first and second chapters of Job<Bold>.</Bold> But when
            he dared
            to rise directly against the Son of God during the terrestrial life of the Lord<Bold>,</Bold> by
            tempting
            him<Bold>,</Bold> trying to get him to sin<Bold>,</Bold> and lastly by enticing others to make him
            suffer by
            crucifying and assassinating him<Bold>,</Bold> <Bold>he could no longer be tolerated.</Bold> He had
            gotten
            too far<Bold>,</Bold> and therefore<Bold>,</Bold> he couldn't continue living where a resurrected
            Jesus<Bold>,</Bold> whom he mistreated and assassinated on Earth<Bold>,</Bold> would live and
            reign<Bold>.</Bold> It is not logical for there to be a place for him in Heaven<Bold>;</Bold> and
            due to
            this<Bold>,</Bold> he was cast down to Earth<Bold>.</Bold> <Bold>God and the slayer of his
                Son</Bold>
            could not live together <Bold>"</Bold>under the same roof<Bold>".</Bold> Christ couldn't live
            together with
            Satan who tried<Bold>,</Bold> through sinful temptations<Bold>,</Bold> to separate him from his
            Father God
            forever<Bold>.</Bold> That's why it is logical to think that Satan was cast out of Heaven after the
            Lord's
            crucifixion<Bold>.</Bold></Paragraph>
        <Paragraph> The moment described in Rev 12<Bold>:</Bold>7-13 is clearly the process of Christ's crucifixion and
            resurrection<Bold>,</Bold>
            where twice it mentions the Devil being cast out<Bold>,</Bold> especially in verses 9 and
            12<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And there was war in heaven<Bold>.</Bold> Michael and his angels fought against
            the dragon<Bold>;</Bold>
            and the dragon fought and his angels<Bold>.</Bold></i> 8 <i><Bold>And prevailed not; neither was their
            place
            found any more in heaven.</Bold></i> 9 <i><Bold>And the great dragon was cast out, that old serpent,
            called the
            Devil, and Satan,</Bold> which deceiveth the whole world<Bold>;</Bold> <Bold>he was cast out into
            the Earth,
            and his angels were cast out with him.</Bold></i> 10 <i>And I heard a loud voice saying in
            heaven<Bold>:</Bold> <Bold>Now is come salvation,</Bold> and strength<Bold>,</Bold> and the
            kingdom of
            our God<Bold>,</Bold> and the power of his Christ<Bold>;</Bold> <Bold>for the accuser of our
                brethren is
                cast down, which accused them before our God</Bold> day and night<Bold>.</Bold></i> 11 <i>And they
            overcame him <Bold>by the blood of the Lamb,</Bold> and by the word of their testimony<Bold>;</Bold>
            and
            they loved not their lives unto the death<Bold>.</Bold></i> 12 <i>Therefore rejoice<Bold>,</Bold> ye
            heavens<Bold>,</Bold>
            and ye that dwell in them<Bold>.</Bold> Woe to the inhabiters of the earth and of the
            sea<Bold>!,</Bold>
            <Bold>for the Devil is come down unto you,</Bold> having great wrath<Bold>,</Bold> because he
            knoweth that
            he hath but a short time<Bold>.</Bold></i> 13 <i><Bold>And when the dragon saw that he was cast unto
            the
            earth, he persecuted the woman which brought forth the man child.</Bold></i><Bold>"</Bold> (Rev
            12<Bold>:</Bold>7-13)</Paragraph>
        <Paragraph> This passage says that the Devil<Bold>,</Bold> once launched to Earth<Bold>,</Bold> pursued the
            <Bold>"</Bold>woman<Bold>",</Bold> something that concords with historical reality<Bold>,</Bold>
            if we
            admit that the <Bold>"</Bold>woman<Bold>"</Bold> is the assembly of the saints<Bold>,</Bold> The
            Church<Bold>,</Bold> and the believers of the synagogue converted to Christianity<Bold>.</Bold> Sure
            enough<Bold>,</Bold> the persecution was unleashed against the Church <Bold>after</Bold> the
            crucifixion and
            resurrection of the Lord<Bold>.</Bold> <Bold>Remember that it was the Jews who were victims of the
                first
                persecution towards Christianity.</Bold></Paragraph>
        <Paragraph> After being thrown out of Heaven<Bold>,</Bold> Satan pursued the Church<Bold>.</Bold> From
            this<Bold>,</Bold> we can deduce that <Bold>he was thrown out of Heaven before the persecutions of the
                Church
                started,</Bold> but <Bold>after</Bold> what Jesus Christ said in Jn
            12<Bold>:</Bold>31<Bold>,</Bold> that it was now that Satan would be cast out<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Now is</i></Bold> <i>the judgment of this world<Bold>;</Bold> <Bold>now shall</Bold>
            the prince
            or this world <Bold>be</Bold> cast out</i><Bold>."</Bold> ( Jn 12<Bold>:</Bold>31 )</Paragraph>
        <Paragraph> Notice how categorical the Lord was in the verse (Jn 12<Bold>:</Bold>31) when he said<Bold>:</Bold>
            <Bold>"….now
                shall</Bold> the prince of this world <Bold>be</Bold> cast out<Bold>".</Bold> He is saying
            this shortly
            before the thirteenth chapter of John<Bold>,</Bold> where the long and detailed narration of the Lord's
            conversation with his disciples during the Last Supper begins<Bold>.</Bold> What I want to say with this
            is that
            there was little time left before the crucifixion and yet the Lord puts the expulsion in future
            tense<Bold>,</Bold> but a not so distant future<Bold>,</Bold> which is modified by the adverb
            <Bold>"</Bold>now<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>From all this, we can reason that the expulsion occurred after the crucifixion;</Bold>
            which<Bold>,</Bold> by the way<Bold>,</Bold> sounds logical since God<Bold>,</Bold>
            Christ<Bold>,</Bold> the Holy Spirit<Bold>,</Bold> and those who love Jesus couldn't live together
            with he
            who assassinated Christ on Earth and tried to lose him eternally<Bold>.</Bold></Paragraph>
        <Paragraph> Another thing that helps us think that the expulsion of Satan from Heaven took place during the process of
            the
            crucifixion and resurrection of the Lord is the fact that in verse 10 of this chapter in
            Revelation<Bold>,</Bold> after saying in verse 9 that Satan and his angels had been cast
            out<Bold>,</Bold>
            it says that <Bold>"….Now is come salvation…".</Bold> It is not logical to think that salvation came
            simply
            because the Devil had been cast out from Heaven<Bold>.</Bold> <Bold>What's logical is to think that
                salvation
                came only after Jesus Christ died and resurrected.</Bold> Therefore<Bold>,</Bold> we should think
            that if
            the salvation mentioned and the expulsion are contemporary<Bold>,</Bold> this expulsion occurred during
            the
            process of the crucifixion and resurrection<Bold>.</Bold></Paragraph>
        <Paragraph> Also<Bold>,</Bold> if they mention that the persecution of the church occurred <Bold>after</Bold>
            Satan was
            thrown out<Bold>,</Bold> it's also logical to reason that it's because <Bold>Satan had already been
                cast out
                from Heaven when he began the persecution of the Church.</Bold> Maybe Jesus stayed on Earth 40 days
            after his
            resurrection to give time for those rebellious angels to be cast down<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    