---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Christian and self control">
    <section>
        <Paragraph><Bold>Christian and self control</Bold></Paragraph>
        <Paragraph><Bold>All man kind needs to learn to control its character/temper.</Bold> Many of us have character flaws
            and
            don't realize it<Bold>.</Bold> This is because we find our flaws normal because we have lived with them
            all our
            lives<Bold>.</Bold> Others<Bold>,</Bold> notice our faults and tell us<Bold>.</Bold>
            We<Bold>,</Bold> however<Bold>,</Bold> do not always accept the warnings and advise that others give
            us<Bold>.</Bold> Mostly because we do not believe that what people tell us is true<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>It is like convincing a fish that it is wet.</Bold> Its whole life it has lived in the water and
            does not
            know what it means to be dry<Bold>.</Bold> It would be like trying to make that fish understand what dry
            wheat
            flour means<Bold>.</Bold> The fish has always been wet and does not understand if it were told otherwise<Bold>.</Bold>
            That is what happens when friends (and non-friends<Bold>,</Bold> even enemies alike) point out flaws in
            our
            character<Bold>.</Bold> Sometimes we don't understand them<Bold>,</Bold> because all of our lives we
            have
            lived with those flaws<Bold>;</Bold> we have been <Bold>"</Bold>wet<Bold>"</Bold> all our
            lives<Bold>;</Bold> we don't understand what being dry could mean<Bold>.</Bold>
            Nonetheless<Bold>,</Bold> it is worth paying attention and trying to see if what we are being told is
            true<Bold>.</Bold></Paragraph>
        <Paragraph> King Solomon<Bold>,</Bold> who learned very much because of the wisdom that he was
            given<Bold>,</Bold> and
            the mistakes he made<Bold>,</Bold> exhorts us to control our character<Bold>.</Bold> Let's
            see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>He that is slow to anger is better than the mighty<Bold>;</Bold> and <Bold>he that
            ruleth
            his spirit than he that taketh a city</Bold></i><Bold>."</Bold> (Prv 16<Bold>:</Bold>32)</Paragraph>
        <Paragraph> It is true that it is more difficult for man kind <Bold>"</Bold> to taketh<Bold>"</Bold> their own
            personality<Bold>,</Bold> by controlling it how it should be controlled<Bold>,</Bold> than to taketh
            a city
            with war<Bold>.</Bold> Haughtiness<Bold>,</Bold> lewdness<Bold>,</Bold>
            gluttony<Bold>,</Bold> hate
            etc<Bold>.,</Bold> are good proof of it<Bold>:</Bold> Man cannot control these things without God's
            help<Bold>.</Bold> There are thousands of kings that have taken cities<Bold>,</Bold> but few who
            have
            completely controlled their character<Bold>.</Bold></Paragraph>
        <Paragraph> A city without walls is continually exposed to enemy attacks<Bold>.</Bold> Equally so<Bold>,</Bold>
            a person
            whose spirit has no harness<Bold>,</Bold> is easily victimized by temptations plotted by his spiritual
            enemies<Bold>.</Bold> That is why Solomon says the following<Bold>:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>He that <Bold>hath no rule over his own spirit</Bold> is like <Bold>a city that is
            broken
            down, and without walls</Bold></i><Bold>."</Bold> (Prv 25<Bold>:</Bold>28)</Paragraph>
        <Paragraph> One's character can be controlled<Bold>.</Bold> Once<Bold>,</Bold> many years ago<Bold>,</Bold>
            an
            acquaintance of mine succeeded fleeing a dictatorship that disallowed its citizens to depart the country
            freely<Bold>.</Bold> There<Bold>,</Bold> human rights do not exist<Bold>.</Bold>
            There<Bold>,</Bold>
            the police beats a citizen with a stick for any reason and the citizen has no recourse and is unable to go
            before a
            judge to defend himself<Bold>.</Bold></Paragraph>
        <Paragraph> While said acquaintance was speaking in a group<Bold>,</Bold> (already living in the United
            States)<Bold>,</Bold> he boasted of how his character was so strong that he could not control his
            character<Bold>.</Bold> He would say that no one could shut him up and that he could smack anyone he
            wanted to
            smack<Bold>.</Bold> Upon hearing his proud comments<Bold>,</Bold> it occurred to me to ask
            him<Bold>,</Bold> if when he was in his country from where he fled<Bold>,</Bold> and the police
            mistreated
            him<Bold>,</Bold> did he dare to turn on them<Bold>?</Bold> He immediately responded without much
            thought
            <Bold>"</Bold>Are you crazy<Bold>,</Bold> over there the police will beat and kick you without
            limitations
            and then you go to prison without a court hearing<Bold>."</Bold> As we can see<Bold>,</Bold> the man
            with
            the <Bold>"</Bold>un-controllable character<Bold>"</Bold> knew when to control his
            character<Bold>.</Bold> Therefore<Bold>,</Bold> one's character can be controlled<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </section>
</Layout>
    