---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Deluge was not local but Universal">
    <Content>
        <Paragraph><Bold>THE DELUGE WAS NOT LOCAL BUT UNIVERSAL</Bold></Paragraph>
        <Paragraph><Bold>There are some Bible believers</Bold> that have erroneous hypothesis that the Deluge was a local or
            regional phenomenon and not universal. That hypothesis does not make sense<Bold>,</Bold> for the passage
            that I
            show a few lines down clearly states that <Bold>the waters prevailed over the land 150 days. If the Deluge
                had
                been a local flood the waters would have run into the ocean in less than 150 days,</Bold> and under no
            circumstance would have reached a height of 15 cubits (7.5 meters) above the mountains.
            Also<Bold>,</Bold>
            <Bold>if there had been other mountains not covered by water, people would have gone to them</Bold> to
            save
            themselves<Bold>,</Bold> and Noah's family would not have been the only one to have
            survived<Bold>,</Bold>
            but many more.</Paragraph>
        <Paragraph> Similarly<Bold>,</Bold> there has been and continue to be multiple local floods<Bold>,</Bold> that
            is to say<Bold>,</Bold>
            local deluges. <Bold>If that one had been a local flood, then God would not have promised there would be
                no more
                floods (local),</Bold> because there has been. It is logical to think that God promised that there
            would be no
            more Deluges<Bold>,</Bold> because what He referred to was a universal Deluge that<Bold>,</Bold>
            effectively<Bold>,</Bold>
            there has never been. God promised that he would never again destroy all flesh with flood waters and
            established the
            rainbow as a sign. If the Deluge had been local<Bold>,</Bold> and not universal<Bold>,</Bold> then
            that
            divine promise made in Genesis 9<Bold>:</Bold>11 would not have been kept<Bold>,</Bold> for there
            has been
            many local floods and deluges.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And the waters prevailed upon the earth <Bold>an hundred and fífty
            days</Bold></i>.<Bold>"</Bold> (Gn 7<Bold>:</Bold>24)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And I will establish my covenant with you<Bold>;</Bold> <Bold>neither shall all
            flesh be
            cut off anymore by the waters of a flood;</Bold> neither shall there anymore be a flood to destroy the
            earth</i>.<Bold>"</Bold></Paragraph>
        <Paragraph> (Gn 9<Bold>:</Bold>11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Besides<Bold>,</Bold> it is logical to think that in the beginning of Creation<Bold>,</Bold> when
            human
            beings lived more than 900 years<Bold>,</Bold> the multiplication of man was such that the inhabitants
            of the
            planet were counted in thousands of millions. Nowadays we have six thousand million of inhabitants on the
            planet<Bold>,</Bold> or possibly more. To get such affirmation over the tremendous multiplication of man
            in the
            beginning of Creation<Bold>,</Bold> see article #32<Bold>,</Bold> of this same
            series<Bold>,</Bold>
            titled<Bold>:</Bold> <Bold>"</Bold>Who could Have Killed Cain<Bold>?"</Bold> It is also
            reasonable to
            think<Bold>,</Bold> being so many millions<Bold>;</Bold> man would inhabit the entire planet.
            Therefore<Bold>,</Bold> if the Deluge had not been universal<Bold>,</Bold> hundreds of millions
            would have
            survived. However in the time of Abraham the population was scarce<Bold>,</Bold> and in the time of the
            Roman
            Empire the population was much smaller than today<Bold>,</Bold> for the knowledgeable in demographics
            estimate
            that the Roman Empire did not reach 100 million. From there it is deduced that there did not remain those
            hundreds
            of millions that there would have remained if the Deluge had not been universal.</Paragraph>
        <Paragraph> Besides<Bold>,</Bold> <Bold>after de Deluge, God said that He would not end all flesh with flood
            waters
            anymore, which indicates that all flesh ended</Bold>. And if all flesh ended<Bold>,</Bold> the Deluge
            have had
            gone to every place there was people<Bold>,</Bold> and there was people all over Earth<Bold>,</Bold>
            because
            thousands of millions cannot concentrate in one region.</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    