---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Fallacies About Elihu's Discourse and Greatness of Job">
    <Title>FALLACIES ABOUT ELIHU'S DISCOURSE, AND GREATNESS OF JOB.</Title>

    <Tag>#85</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph> Chapters 32 to 37 of the book of Job contain Elihu's discourse<Bold>.</Bold> From 32<Bold>:</Bold>6
            all the
            way to 33<Bold>:</Bold>7 Elihu says<Bold>:</Bold> <Bold>a)</Bold> why did he did not want to
            speak
            before<Bold>;</Bold> <Bold>b)</Bold> why did he feel like speaking now<Bold>; c)</Bold> how was
            he a
            righteous and wise man (33<Bold>:</Bold>3 and 33)<Bold>;</Bold> <Bold>d)</Bold> how had the
            discourses
            of the three men defrauded him<Bold>,</Bold> etc<Bold>.,</Bold> etc<Bold>..</Bold> <Bold>Nothing
                really specific.</Bold></Paragraph>
        <Paragraph><Bold>After that he begins to "evangelize" to Job (33:8) as if the latter did not know who God was and what
            was his
            way of being and behaving.</Bold> In 32<Bold>:</Bold>13 he says something that is not
            true<Bold>,</Bold>
            in affirming that God cast Job way<Bold>,</Bold> like saying that God had discarded
            him<Bold>.</Bold>
            <Bold>On the contrary, during this entire process God had such trust in Job, like that for a perfect man,
                righteous, and fearful of God and separated from evil, that he had no doubt in submitting him to that
                entire
                process, certain that Job would not betray his trust, but would serve Him to teach Satan a lesson by
                putting him
                to shame.</Bold> In fact<Bold>,</Bold> even after facing frightening misfortunes that seemed to
            have
            originated from God<Bold>,</Bold> without a reason<Bold>,</Bold> even so<Bold>,</Bold> Job
            remained
            faithful to God<Bold>.</Bold> Therefore God did not cast off or discard Job<Bold>,</Bold> like Elihu
            said<Bold>,</Bold> but honored him submitting him to the greatest test of loyalty that can be put on a
            human
            being<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Lest ye should say<Bold>:</Bold> We have found out wisdom<Bold>,</Bold> <Bold>God
            thrusteth him down, not man</Bold></i><Bold>."</Bold> (Job 32<Bold>:</Bold>13)</Paragraph>
        <Paragraph> Also Elihu argues in 33<Bold>:</Bold>8-10<Bold>,</Bold> by criticizing Job<Bold>,</Bold> that he
            said he
            was pure<Bold>,</Bold> innocent<Bold>,</Bold> and without flaw or evil<Bold>.</Bold> <Bold>First
                of
                all, Job did not say that he had always been that way, recognizing that he had sinned in his youth, like
                we see
                in 13:26.</Bold> Therefore<Bold>,</Bold> Job did not claim to be pure<Bold>,</Bold> innocent
            and
            without flaw<Bold>,</Bold> he confessed to having them<Bold>;</Bold> but that he did not have them
            now<Bold>.</Bold> If he did not have them now he would not have a reason why to
            <Bold>"</Bold>confess<Bold>"</Bold> falsely and hypocritically that he did have
            sins<Bold>,</Bold> in
            this way exhibiting a forged humility and modesty<Bold>.</Bold></Paragraph>
        <Paragraph> But the case is<Bold>,</Bold> that Job not only told the truth in the matter of his actual pure
            life<Bold>,</Bold> it is that the one who gives testimony of his purity and wholesomeness is God himself
            when he
            tells Satan the following in Job 1<Bold>:</Bold>8</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For thou writest bitter things against me<Bold>,</Bold> and <Bold>makest</Bold>
            <Bold>me
                to possess the iniquities of my youth</Bold></i><Bold>."</Bold> (Job 13<Bold>:</Bold>26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And the LORD said unto Satan<Bold>:</Bold> Hast thou considered <Bold>my servant
            Job, that
            there is none like him in the Earth, a perfect and an upright man, one that feareth God, and escheweth
            evil</Bold></i><Bold>?"</Bold>
            (Job 1<Bold>:</Bold>8)</Paragraph>
        <Paragraph><Bold>Therefore Job's words did not reflect vanity or conceit, but a truth that was reinforced by
            God.</Bold> Job
            did not understand why so many frightening misfortunes if he had not sinned since his
            youth<Bold>.</Bold> What
            did Elihu and the three friends want<Bold>?</Bold> For Job<Bold>,</Bold> without feeling
            it<Bold>,</Bold> without believing it and full of hypocrisy and false humility<Bold>,</Bold> to lie
            saying
            that he had sinned a great deal recently<Bold>?</Bold> Many do the same thing nowadays<Bold>,</Bold>
            they
            try to see sin in Job just for the fact that he honestly confessed that he had no sin<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In 34:7-9, Elihu slanders Job as his three friends did before,</Bold> saying that he committed sins
            and did
            things that were not true that Job had done<Bold>.</Bold> All of that was what Elihu imagined Job must
            have been
            doing<Bold>,</Bold> being that horrible things were occurring<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <Bold>What man is like Job, who drinketh up scorning like water?</Bold> 8 <i>Which
            goeth in
            company with the workers of iniquity<Bold>,</Bold> and walketh with wicked men<Bold>.</Bold></i> 9
            <i><Bold>For he hath said, it profiteth a man nothing that he should delight himself with God</Bold></i><Bold>."</Bold>
            (Job 34<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> At no time did Job say that man did not gain anything by doing God's will<Bold>;</Bold> that was a
            falsehood by
            Elihu<Bold>.</Bold> Next Elihu proceeds in his discourse <Bold>detailing and defending obvious things
                which no
                one had denied or argued,</Bold> like the justice and power of God<Bold>,</Bold> and the end of
            perverse
            beings<Bold>.</Bold> This of defending points that no one has denied or attacked is typical of someone
            who has
            no greater proof to endorse his affirmations<Bold>. It is very common in discussions, to see how one of
                the
                constituents, who cannot prove his point or destroy the contrary, throws himself with ferocity to defend
                what
                his constituent has not attacked nor questioned, to appear that he is defending something, or proving
                his
                thesis.</Bold> In 34<Bold>:</Bold>37 Elihu accuses Job of sin and impiety<Bold>,</Bold>
            accusations
            which were all false<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>For he addeth rebellion unto his sin,</i></Bold> <i>he clappeth [his hands] among
            us<Bold>,</Bold>
            and <Bold>multiplieth</Bold> <Bold>his words against God</Bold></i><Bold>"</Bold> (Job
            34<Bold>:</Bold>37)</Paragraph>
        <Paragraph> I say that those accusations were false because it is God himself<Bold>,</Bold> who justifies Job in
            2<Bold>:</Bold>3<Bold>,</Bold> even after suffering the misfortunes described here<Bold>,</Bold>
            and
            later<Bold>,</Bold> and at the end of the book<Bold>,</Bold> when He again justifies
            Job<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And the LORD said unto Satan<Bold>:</Bold> Hast thou considered <Bold>my servant
            Job, that
            there is none like him in the Earth, a perfect and an upright man, one that feareth God, and escheweth evil?
            And
            still he holdeth fast his integrity,</Bold> although thou movedst me against him<Bold>,</Bold> to
            destroy him
            without cause</i><Bold>."</Bold> (Job 2<Bold>:</Bold>3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>…<i>that <Bold>ye have not spoken of me the thing which is right, like my servant
            Job</Bold></i><Bold>."</Bold> (Job 42<Bold>:</Bold>8)</Paragraph>
        <Paragraph><Bold>In 35:2 Elihu accuses Job of saying that he is more just than God, which is false.</Bold> What job
            always
            said was that he did not deserve what was happening to him<Bold>,</Bold> because his conscience was
            clean<Bold>,</Bold> and that he did not understand why this was happening<Bold>.</Bold> That was
            true<Bold>.</Bold> What else could a man say submitted to such terrible circumstances<Bold>?</Bold>
            In fact
            he began to believe that God was punishing him for the sins of his youth (13<Bold>:</Bold>26) and many
            times
            asked for clemency<Bold>.</Bold> Where is it written that Job had said he was more just than
            God<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Thinkest</i> <i>thou this to be right<Bold>,</Bold> <Bold>that thou sadist: My
            righteousness is more than God's</Bold></i><Bold>?"</Bold></Paragraph>
        <Paragraph><Bold>Among Job's detractors, however,</Bold> there would not have been one worthy of being chosen by God
            as a
            model to humiliate Satan<Bold>,</Bold> or to be mentioned as a model of perfection<Bold>,</Bold>
            together
            with Noah<Bold>,</Bold> Daniel and Moses in Ezq 14<Bold>:</Bold>14 and 20<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Though these three men<Bold>,</Bold> <Bold>Noah, Daniel, and Job,</Bold> were in
            it<Bold>,</Bold> they should deliver but their own souls by their righteousness<Bold>,</Bold> saith
            the Lord
            GOD</i><Bold>."</Bold> (Ezq 14<Bold>:</Bold>14)</Paragraph>
        <Paragraph><Bold>In Job 36:17-21 Elihu once again slanders Job.</Bold> In verse 17 he accuses him of unjust and
            ungodly<Bold>,</Bold> and in 21 he accuses him that he prefers injustice<Bold>,</Bold> accusations
            which
            were contrary to what we have already seen was the opinion God had of Job<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <i>But <Bold>thou hast fulfilled the judgment of the wicked,</Bold> judgment and
            justice
            take hold on thee<Bold>.</Bold></i> 18 <i>Because there is wrath<Bold>,</Bold> beware lest he take
            thee away
            with his stroke<Bold>:</Bold> then a great ransom cannot deliver thee<Bold>.</Bold></i> 19 <i>Will
            he esteem
            thy riches<Bold>?</Bold> no<Bold>,</Bold> not gold<Bold>,</Bold> nor all the forces of
            strength<Bold>.</Bold></i> 20 <i><Bold>Desire not the night,</Bold> when people are cut off in their
            place<Bold>.</Bold></i> 21 <i>Take heed<Bold>,</Bold> <Bold>regard not iniquity, for this hast
            thou
            chosen</Bold> rather than affliction</i><Bold>."</Bold> (Job 36<Bold>:</Bold>17-21)</Paragraph>
        <Paragraph><Bold>In conclusion, neither Zophar nor Bildad nor Eliphaz nor Elihu said anything that could help Job
            understand
            what was happening to him, or that would console him.</Bold> They only occupied themselves in slandering
            and
            harassing him<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>When in chapter 38 God responds to Job, he doesn't accuse him of evil, but makes him see that he
            could not
            have the wisdom he needed to understand what was occurring, because that wisdom was only in God.</Bold>
            Then God
            shows Job all of the things he did not know<Bold>,</Bold> so that he could comprehend that humans cannot
            understand all<Bold>,</Bold> but he never blames him of sin<Bold>,</Bold> but for being faithful
            throughout
            this entire horrible trial<Bold>,</Bold> for having served in helping him humiliate
            Satan<Bold>,</Bold> God
            returns his prior joy and multiplies his possessions<Bold>.</Bold></Paragraph>
        <Paragraph> The proof of the great concept God always had over Job and continued having<Bold>,</Bold> is that many
            centuries
            after these happenings God still remembered him and used him as a model<Bold>,</Bold> as an example of a
            person
            He would listen to above all others<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are some who believe that God disapproved of Job and his discourse, but that is not
            true.</Bold> In
            the following passage we can see the approval of God of both things<Bold>:</Bold> for Job's person and
            for what
            Job said<Bold>.</Bold> Let us see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And it was so<Bold>,</Bold> that after the LORD had spoken these words unto
            Job<Bold>,</Bold> the LORD said to Eliphaz the Temanite<Bold>:</Bold> My wrath is kindled against
            thee<Bold>,</Bold> and against thy two friends<Bold>,</Bold> for <Bold>ye have not spoken of me
                the thing
                that is right, as my servant Job hath.</Bold></i> 8 <i>Therefore take unto you now seven bullocks and
            seven
            rams<Bold>,</Bold> and go to my servant Job<Bold>,</Bold> and offer up for yourselves a burnt
            offering<Bold>;</Bold> and my servant Job shall pray for you<Bold>,</Bold> <Bold>for him will I
                accept;</Bold> lest I deal with you after your folly<Bold>,</Bold> in that <Bold>ye have not
                spoken of
                me the thing which is right, like my servant Job</Bold></i><Bold>."</Bold> (Job
            42<Bold>:</Bold>7-8)
        </Paragraph>
        <Paragraph><Bold>The only God reproached Job for was having based his reasoning, on his limited knowledge,</Bold>
            without
            taking into account that there could be other reasons that he ignored<Bold>,</Bold> why everything that
            he was
            suffering through was occurring<Bold>.</Bold> Precisely<Bold>,</Bold> Job ignored that God was using
            everything that was happening to him to humiliate Satan<Bold>,</Bold> demonstrating to him that Job was
            better
            than him even though he was an inferior being<Bold>,</Bold> and even though he was suffering pains that
            he
            believed were caused by God<Bold>,</Bold> without having done anything that could deserve such horrible
            punishment<Bold>.</Bold> Job was right<Bold>,</Bold> that was not something that he
            deserved<Bold>,</Bold> but it was something that God had wanted to place on him for eternal humiliation
            for
            Satan and eternal glory for Job<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to Index</a></Bold></Paragraph>

    </Content>
</Layout>
    