---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Pragmatism">
    <section>
        <Paragraph><Bold>PRAGMATISM: YOU SHALL KNOW THEM BY THEIR FRUITS</Bold></Paragraph>
        <Paragraph> Pragmatism is the philosophical method that estimates that the only appropriate criteria to find the truth
            or
            convenience of any doctrine or theory must be founded in the observation of its real effects obtained in the
            practice<Bold>.</Bold></Paragraph>
        <Paragraph> In the following passage we see that Jesus Christ advised us to have a pragmatic attitude in relation to the
            case<Bold>,</Bold> fame and <Bold>"</Bold>all talk<Bold>"</Bold> (rhetorical)<Bold>,</Bold>
            of those
            who claim to follow God<Bold>.</Bold> If the tree is good its fruits are good<Bold>.</Bold> We do
            not pick
            grapes from thorns or figs from thistles<Bold>.</Bold> Do not judge humans for their
            fame<Bold>,</Bold> name<Bold>,</Bold>
            aspect or words<Bold>,</Bold> but for their fruit<Bold>,</Bold> that is pragmatism<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>Beware of false prophets<Bold>,</Bold> which come to you in sheep's
            clothing<Bold>,</Bold> but inwardly they are ravening wolves<Bold>.</Bold></i> 16 <i><Bold>Ye
            shall know
            them by their fruits. Do men gather grapes of thorns, or figs of thistles?</Bold></i> 17 <Bold>Even so
            every
            good tree bringeth forth good fruit; but a corrupt tree bringeth forth evil fruit.</Bold> 18 <i>A good
            tree cannot
            bring forth evil fruit<Bold>,</Bold> neither can a corrupt tree bring forth good fruit<Bold>.</Bold></i>
            19
            <i>Every tree that bringeth not forth good fruit is hewn down<Bold>,</Bold> and cast into the
                fire<Bold>.</Bold></i> 20 <i><Bold>Wherefore by their fruits ye shall know
                them</Bold></i><Bold>."</Bold> (Mt 7<Bold>:</Bold>15-20)</Paragraph>
        <Paragraph><Bold> There have been brothers that have opposed the idea that we should be pragmatic.</Bold> They argue
            that if
            it is really true that we should be pragmatic before the wolves dressed as sheep<Bold>,</Bold> there are
            several
            things that a Christian will do<Bold>,</Bold> which if we apply this philosophy we would find ourselves
            <Bold>"</Bold>like
            tree without good fruit<Bold>",</Bold> when in truth they are fruits for eternal life<Bold>.</Bold>
            And they
            added that they did not believe that Christians should be pragmatic in our philosophy of
            life<Bold>.</Bold>
            Adding<Bold>,</Bold> pragmatic are the people of the world<Bold>,</Bold> and that is why they
            distance
            themselves from religion<Bold>,</Bold> for they do not see fruits<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In truth these brothers confuse what I say. It is not true that pragmatism causes someone to distance
            themselves from religion.</Bold> What causes these pragmatic people (who are not so much) to distance
            themselves
            from religion is the goal or interest which they place before themselves<Bold>,</Bold> and to which they
            apply
            pragmatism<Bold>.</Bold> They want gold<Bold>,</Bold> fame<Bold>,</Bold>
            <Bold>"</Bold>ego<Bold>",</Bold> tinsel<Bold>,</Bold> etc<Bold>...</Bold> If to such goals
            or
            interests they apply pragmatism<Bold>,</Bold> truly difficultly will they end up in the churches
            pews<Bold>.</Bold></Paragraph>
        <Paragraph> They have observed the fruits of those who sit to listen to the sermon<Bold>,</Bold> and have noticed
            that their
            fruits are nothing like the ones for which they yearn<Bold>.</Bold> This is why they abandon this
            path<Bold>,</Bold> because pragmatically speaking it does not lead them to their
            intent<Bold>.</Bold> They
            do not care about inner peace<Bold>;</Bold> they do not care about spiritual happiness<Bold>,</Bold>
            but the
            flesh<Bold>;</Bold> they do not care about the satisfaction of giving<Bold>,</Bold> but of receiving<Bold>,</Bold>
            etc… This is why they distance themselves from faith<Bold>,</Bold> because faith does not give them
            money<Bold>,</Bold> women<Bold>,</Bold> lifts their ego<Bold>,</Bold> or gives them
            fame<Bold>,</Bold> etc<Bold>.,</Bold> in this they are really pragmatic in relation to their
            goals<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>But if they were truly pragmatic they would choose faith,</Bold> for they would realize that all
            those
            things they want to obtain will not last long<Bold>,</Bold> only 70 or 80 years<Bold>,</Bold> and
            then an
            eternity without joy<Bold>,</Bold> without God<Bold>.</Bold> The wise thing<Bold>,</Bold> the
            pragmatic
            from the vast point of view of existence<Bold>,</Bold> is faith<Bold>,</Bold> the adoration of the
            omnipotent God<Bold>,</Bold> kind and forgiving<Bold>,</Bold> and the acceptance of His Son Jesus
            Christ<Bold>,</Bold> because he saves us from the condemnation to which our sins drive
            us<Bold>.</Bold>
            <Bold>That is true pragmatism, an integral pragmatism, a pragmatism that takes into consideration all of
                the
                factors, not only the ones that are in front of the nose.</Bold></Paragraph>
        <Paragraph> The error of these people of the world is not applying pragmatism<Bold>,</Bold> their error is that they
            do not
            give importance to eternal life<Bold>,</Bold> holiness<Bold>,</Bold> relationship with
            God<Bold>,</Bold>
            etc<Bold>.,</Bold> and this is why their pragmatism distances them from the Church<Bold>,</Bold>
            because
            they apply it to money<Bold>,</Bold> personal pride<Bold>,</Bold> power<Bold>,</Bold>
            pleasure<Bold>,</Bold> etc<Bold>..</Bold> <Bold>Likewise, if the goal of a pragmatic person was to
                look
                for easy women, it was not logical to seek these women in a church, but in a brothel. This would be
                pragmatic.
                But this does not mean that pragmatism drives us to brothels; it depends of the goals pursued by the one
                who
                practices pragmatism.</Bold></Paragraph>
        <Paragraph> It is the same as a knife<Bold>.</Bold> The knife itself does not drive to an
            assassination<Bold>.</Bold>
            Chefs and house wives use it to cut meat and other things<Bold>.</Bold> The fact that an assassin uses
            it to
            kill<Bold>,</Bold> it does not mean that the knife is bad<Bold>,</Bold> it does not mean that the
            knife
            drives to the assassination<Bold>.</Bold> The same occurs with pragmatism<Bold>,</Bold> it all
            depends on
            how it is used and how it is applied<Bold>.</Bold></Paragraph>
        <Paragraph> If someone wishing to preach the gospel attends parties<Bold>,</Bold> dances<Bold>,</Bold>
            banquets<Bold>,</Bold> social reunions<Bold>,</Bold> birthdays<Bold>,</Bold>
            etc…<Bold>,</Bold> and
            after doing so observes that through those means he does not get too far with his intent<Bold>,</Bold>
            he would
            proceed pragmatically if he left that and dedicated himself to preaching<Bold>,</Bold> let us
            say<Bold>,</Bold> in a tent<Bold>.</Bold> Why<Bold>?</Bold> Because from experience (pragmatism)
            he came
            to the conclusion that that is not the way to reach the goal sought<Bold>,</Bold> which is that people
            hear the
            gospel<Bold>.</Bold></Paragraph>
        <Paragraph> As we can see <Bold>pragmatism neither distances us nor brings us closer to faith,</Bold> it only
            teaches us
            that we should or should not follow a method or path<Bold>.</Bold> Being pragmatic is not
            bad<Bold>.</Bold>
            The only bad thing would be exaggerating the tendency to pragmatism<Bold>,</Bold> for if it is
            exaggerated<Bold>,</Bold> the person inhibits himself in his decisions<Bold>,</Bold> because he
            could not
            decide by reasoning alone<Bold>,</Bold> but he would have to put it all into practice<Bold>.</Bold>
            Such an
            exaggerated person would not approve nor decide anything until he sees it in practice<Bold>.</Bold> That
            exaggeration would be bad<Bold>;</Bold> but pragmatism is not bad<Bold>,</Bold> Jesus Christ advises
            us in
            the passage we read earlier to be pragmatic<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to Index</a></Bold></Paragraph>

    </section>
</Layout>
    