---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The religion of the 'Ifeels'">
    <Tag>#87</Tag>
    <Content>
        <Paragraph><Bold>THE RELIGION OF THE "I FEELS" THE MACCABEANS AND THE SABATH</Bold></Paragraph>
        <Paragraph> Human beings in everything<Bold>,</Bold> and more in religion<Bold>,</Bold> tend to be led by
            feelings and
            not by reason<Bold>.</Bold> <Bold>This childish habit has two serious damages.</Bold></Paragraph>
        <Paragraph><Bold>The first is that no one can guarantee that what he is "feeling" is correct;</Bold> for which so
            many times
            has failed by being guided by what he <Bold>"</Bold>feels<Bold>."</Bold> Anyone could
            argue<Bold>,</Bold> (and with reason)<Bold>,</Bold> that one can also be wrong when they
            reason<Bold>.</Bold> It is true<Bold>.</Bold> But when one reasons and is wrong he can review the
            process of
            reasoning taken and the previous information on which he was based<Bold>,</Bold> and find where he
            committed the
            reasoning or information error<Bold>.</Bold> In fact he can acquire experience and
            ability<Bold>,</Bold>
            thanks to that mistake<Bold>,</Bold> so he will not commit the same kind of mistake
            again<Bold>.</Bold></Paragraph>
        <Paragraph> However<Bold>,</Bold> when someone guides himself by what he <Bold>"</Bold>feels<Bold>"</Bold>
            and is
            wrong<Bold>,</Bold> he can never analyze or investigate why he <Bold>"</Bold>felt<Bold>"</Bold>
            wrong<Bold>;</Bold> he must continue gambling with what he is <Bold>"feeling,"</Bold> to see if this
            time he
            is right<Bold>.</Bold> The one<Bold>,</Bold> who is wrong one hundred times in his
            reasoning<Bold>,</Bold> can learn much to <Bold>not</Bold> continue committing
            errors<Bold>.</Bold> The
            one who is wrong one hundred times in his <Bold>"</Bold>feeling<Bold>"</Bold> finds himself as
            disoriented
            as in the beginning<Bold>:</Bold> he still finds himself intellectually speaking<Bold>,</Bold> nude
            and
            standing in the middle of the square<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>The second great damage that presents itself to those who guide themselves by what they "feel," is
            that they
            can not consult the topic with another brother, because one of those "feelings" that people claim to
            have</Bold>
            (in respect as to whether something should be done or stop being done<Bold>,</Bold> to believe or stop
            believing
            such doctrine) <Bold>it can not be clearly defined to another.</Bold> You cannot express or make them
            <Bold>"</Bold>feel<Bold>"</Bold> what you feel<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> However, the one who reasons can communicate his thoughts to others, which are the reasons that
            assist him
            to believe in the doctrine in which he believes, to think what he thinks or how he came to his conclusion,
            and on
            what information his reasoning is based.</Bold> In this way<Bold>,</Bold> his friend can verify if the
            error
            was in the information he received<Bold>,</Bold> or in his chain of reasoning<Bold>.</Bold> In this
            way<Bold>,</Bold> thanks to the friend (and sometimes thanks to the adversary)<Bold>,</Bold> the
            sincere
            human who seeks the truth<Bold>,</Bold> can find it<Bold>;</Bold> he can totally or partially
            rectify his
            way of thinking<Bold>,</Bold> depending if he was shown a total or partial error in his
            reasoning<Bold>,</Bold> or in his information<Bold>;</Bold> or simply a gap<Bold>,</Bold> or an
            omission
            of other facts<Bold>,</Bold> data or reasoning that should have been present<Bold>.</Bold></Paragraph>
        <Paragraph> None of this can be done to any man who tells us<Bold>:</Bold> <Bold>"</Bold>the truth is that I
            'feel' that
            I should do or believe such thing<Bold>."</Bold> There are millions who act like this in this crazy
            world<Bold>.</Bold> This is why I say the greatest of all times is the religion of the
            <Bold>"Ifeels."</Bold></Paragraph>
        <Paragraph> If man dealing with a topic with a friend<Bold>,</Bold> tells him<Bold>:</Bold> <Bold>"I
            feel</Bold>
            that this should be like this or that<Bold>,</Bold> or that I should believe this or
            that<Bold>,"</Bold>
            there are no words to convince him of the contrary<Bold>.</Bold> <Bold>The only thing that could be
                aspired
                and I do not know how to do</Bold> is to <Bold>"</Bold>feel<Bold>"</Bold> our thesis with more
            force
            than he <Bold>"</Bold>feels<Bold>"</Bold> his<Bold>,</Bold> and send him our <Bold>"</Bold>effluviums<Bold>,"</Bold>
            project towards him our <Bold>"</Bold>influences<Bold>,"</Bold> to see if we can make him
            <Bold>"</Bold>change<Bold>"</Bold>
            so he <Bold>"</Bold>feels<Bold>"</Bold> something else<Bold>.</Bold> <Bold>But I do not know
                how to
                undertake that battle of voodoo, hypnotism, suggestion, "spiritual force," "charismatic
                influence"</Bold> or
            whatever you want to call it<Bold>.</Bold> <Bold>I prefer the archaic, prosaic and not at all
                mysterious
                method of reasoning over the Scriptures.</Bold></Paragraph>
        <Paragraph> I do not think God is sending anyone <Bold>"</Bold>effluvia<Bold>"</Bold> or
            <Bold>"</Bold>influences<Bold>"</Bold> so that that person <Bold>"</Bold>feels<Bold>"</Bold>
            the
            correct thesis<Bold>,</Bold> instead of reasoning it<Bold>.</Bold> <Bold>That seems to me to be
                conceit
                and delirium of greatness of those who believe themselves influenced by esoteric powers.</Bold>
            Plus<Bold>,</Bold> if it were true that God is the one who sends those thoughts or
            feelings<Bold>,</Bold> He
            would also give voice and wisdom to defend those beliefs<Bold>,</Bold> and they could discuss with their
            brothers in a fraternal way<Bold>,</Bold> instead of fleeing away<Bold>,</Bold> <Bold>"</Bold>so
            not to
            be confounded<Bold>".</Bold> It is that they do not believe in the promise of Jesus
            Christ<Bold>,</Bold>
            because in reality his <Bold>"</Bold>feeling<Bold>"</Bold> is not of luminous
            origin<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For <Bold>I will give you a mouth and wisdom</Bold></i><Bold>,</Bold> <i>which
            all your
            adversaries <Bold>shall not be able to gainsay nor resist</Bold></i><Bold>."</Bold> (Lk
            21<Bold>:</Bold>15)
        </Paragraph>
        <Paragraph> Well<Bold>,</Bold> having finished explaining the religion of the
            <Bold>"</Bold>Ifeels<Bold>,"</Bold> I
            will say that they are many who throughout time have practiced it<Bold>.</Bold> In a time prior to the
            Maccabeans<Bold>,</Bold> the Jews<Bold>,</Bold> or a certain part of them<Bold>,</Bold> kept the
            Sabbath
            in a very stupid way<Bold>,</Bold> they would stop defending themselves when the enemy attacked them on
            the
            Sabbath<Bold>.</Bold> It was a sin for them to defend themselves when the warring enemy attacked them on
            the
            Sabbath<Bold>.</Bold> However<Bold>,</Bold> in the next passage we see that God <Bold>not only
                ordered
                them to defend themselves, but to attack during a Sabbath.</Bold> It is logical to think that if they
            camped
            on site at Jericho and marched around the city during seven days<Bold>,</Bold> one of those days had to
            have
            been a Sabbath<Bold>.</Bold> If they had read the Scripture<Bold>,</Bold> they would not have
            believed those
            errors<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Now Jericho was straitly shut up because of the children of Israel<Bold>;</Bold>
            none went
            out<Bold>,</Bold> and none came in<Bold>.</Bold></i> 2 <i>And the LORD said unto
            Joshua<Bold>:</Bold>
            See<Bold>,</Bold> I have given into thine hand Jericho<Bold>,</Bold> and the king
            thereof<Bold>,</Bold>
            and the mighty men of valour<Bold>.</Bold></i> 3 <i>And ye shall compass the city<Bold>,</Bold> all
            ye men
            of war<Bold>,</Bold> and go round about the city once<Bold>.</Bold> Thus shalt thou do six
            days<Bold>.</Bold></i> 4 <i>And seven priests shall bear before the ark seven trumpets of rams'
            horns<Bold>;</Bold> <Bold>and the seventh day ye shall compass the city seven times, and the priests
                shall
                blow with the trumpets.</Bold></i> 5 <i>And it shall come to pass<Bold>,</Bold> that when they
            make a long
            blast with the ram's horn<Bold>,</Bold> and when ye hear the sound of the trumpet<Bold>,</Bold> all
            the
            people shall shout with a great shout<Bold>;</Bold> and the wall of the city shall fall down
            flat<Bold>,</Bold> and the people shall ascend up every man straight before him</i><Bold>."</Bold>
            (Jos
            6<Bold>:</Bold>1-5)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>14 <i>And the second day they compassed the city once<Bold>,</Bold> and returned into
            the
            camp<Bold>;</Bold> so they did six days<Bold>.</Bold></i> 15 <i>And it came to pass <Bold>on the
            seventh
            day, that they rose early about the dawning of the day, and compassed the city after the same manner seven
            times;</Bold> only on that day they compassed the city seven times</i><Bold>."</Bold> (Jos
            6<Bold>:</Bold>14-15)
        </Paragraph>
        <Paragraph><Bold>If the Jews of the time prior to the Maccabeans, instead of "feeling" that they should not defend
            themselves
            on a Sabbath, had read the Scripture and reasoned over it,</Bold> they would not have paid the
            consequences of
            their stupid beliefs<Bold>,</Bold> that is to say<Bold>,</Bold> the consequences of their
            <Bold>"</Bold>feelings<Bold>."</Bold>
            The religion of the <Bold>"</Bold>Ifeels<Bold>"</Bold> is very large<Bold>,</Bold> but very
            harmful<Bold>.</Bold></Paragraph>
        <Paragraph> When I find a brother that practices the religion of the <Bold>"</Bold>Ifeel<Bold>"</Bold> and he
            says<Bold>:</Bold> <Bold>"</Bold>I <Bold>feel</Bold> that I should believe A or
            B<Bold>,"</Bold> I
            immediately ask<Bold>:</Bold> <Bold>"Who put in you that feeling in which you are basing your
                behavior?"</Bold> Indefectibly they answer<Bold>:</Bold> <Bold>"</Bold>Well<Bold>!</Bold>
            I
            believe it was God<Bold>."</Bold> or also <Bold>"</Bold>I have faith that it was
            God<Bold>."</Bold> The
            next question <Bold>"</Bold>falls off the tree by itself<Bold>",</Bold> and it is the
            following<Bold>:</Bold> <Bold>"</Bold>Every time that you have 'felt in your heart' that God has put
            something in you<Bold>,</Bold> has it been correct<Bold>."</Bold> To that they
            answer<Bold>;</Bold>
            <Bold>"</Bold>Well<Bold>,</Bold> not always<Bold>."</Bold> Then I ask<Bold>:</Bold>
            <Bold>"</Bold>Do you have a way of confirming if it was God o not<Bold>?"</Bold> When they respond
            no<Bold>,</Bold> I ask<Bold>:</Bold> <Bold>"</Bold>Can people have personal
            feelings<Bold>?</Bold>
            Can Satan put feelings in people<Bold>?"</Bold> They have to answer yes to both
            questions<Bold>.</Bold>
            Therefore<Bold>,</Bold> to finish I say<Bold>:</Bold> <Bold>"</Bold>If you do not know what
            origin those
            'feelings' have<Bold>,</Bold> why do you guide yourself by those feelings<Bold>?</Bold> Why do you
            base your
            faith and behavior in something of which its origin you do not know<Bold>?</Bold> You do not know if it
            originates from God<Bold>,</Bold> if it originates from you<Bold>,</Bold> or if it originates from
            Satan<Bold>."</Bold> Why do you not use reasoning<Bold>?</Bold></Paragraph>
        <Paragraph> Now you may ask me<Bold>:</Bold> <Bold>"</Bold>What are the results you have obtained from the
            advice you
            have given<Bold>?"</Bold> None<Bold>!!</Bold> I waste my time trying to help them<Bold>,</Bold>
            and they
            persistently trust in their error<Bold>;</Bold> they continue to act on
            <Bold>"</Bold>feelings<Bold>."</Bold> Why<Bold>?</Bold> <Bold>Because it is more comfortable
                to "feel"
                than to get informed, reason and argue in search of the truth.</Bold> Because it hurts very much to a
            person
            with a swollen <Bold>"</Bold>ego<Bold>"</Bold> to admit that he was wrong<Bold>;</Bold> and if
            he
            reasons and/or discusses the topic<Bold>,</Bold> <Bold>he would have to come to the painful conclusion
                that he
                was wrong.</Bold> This is why he remains sheltered<Bold>,</Bold> like an escape for his swollen
            <Bold>"</Bold>ego<Bold>,"</Bold> in the technique of the
            <Bold>"</Bold>Ifeelism<Bold>"</Bold>
            instead of discussing the topic with the rest of the brothers<Bold>;</Bold> or reason<Bold>,</Bold>
            which is
            to discuss the topic with himself<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Are they not worthy of pity? Yes… but not so much.</Bold> They are like that because they want to
            be<Bold>.</Bold> No one can fool oneself<Bold>.</Bold> They know what they are
            doing<Bold>.</Bold>
            <Bold>They love themselves so much, but so much, that they prefer to protect their ego, their vanity, more
                than to
                find God's truth: which is why they cannot find it.</Bold> Then<Bold>,</Bold> when the
            consequences of
            their foolishness reach them<Bold>,</Bold> the only thing they can think of is to stupidly
            say<Bold>:</Bold>
            <Bold>"</Bold>These are trials brother<Bold>."</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to Index</a></Bold></Paragraph>

    </Content>
</Layout>
    