---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Egypt and Rusia">
    <Content>
        <Paragraph><Bold>THEORY OF THE ANGELS SPONSORING THE NATIONS:</Bold></Paragraph>
        <Paragraph><Bold>PARALLEL BETWEEN PHARAOH RULED EGYPT AND COMMUNISTIC RUSSIA</Bold></Paragraph>
        <Paragraph> I have spoken in other occasions about the theory that countries are assigned some sort of angelic
            administrators
            who try to conduct that country the best they can<Bold>,</Bold> without violating human
            will<Bold>,</Bold>
            without running over others rights and remaining within the laws ruling the celestial orbs<Bold>.</Bold>
            (It is
            a difficult task)<Bold>.</Bold></Paragraph>
        <Paragraph> There are also rebellious angels who antagonize with the former in the running of the
            country<Bold>,</Bold> as
            it also occurs in the life and conduct of a particular individual<Bold>.</Bold> In the same
            way<Bold>,</Bold> despite the beneficial conduction of the Holy Spirit and the angels of God over a
            Christian<Bold>,</Bold> the running of this one leaves much to be desired<Bold>,</Bold> this is what
            happens
            with nations<Bold>.</Bold> This occurs because there is an independent factor<Bold>,</Bold> human
            will<Bold>,</Bold> which <Bold>God does not permit one or the other to violate; not even He violates
                it.</Bold> If this occurs with Christians<Bold>,</Bold> what more occurs with those who are not
            saved<Bold>,</Bold> and the nations<Bold>?</Bold></Paragraph>
        <Paragraph> Although it is said here it is nothing new for me<Bold>,</Bold> if there was it would have been the
            observation
            referring with the main nations in history<Bold>,</Bold> about the apparent relationship existing
            between the
            characteristics of the nations and their patron angels<Bold>.</Bold></Paragraph>
        <Paragraph> To clarify this concept<Bold>,</Bold> I will create a parallel between Pharaoh ruled Egypt and communist
            Russia<Bold>,</Bold> such as was done for me<Bold>,</Bold> to explain it to me the first
            time<Bold>,</Bold> basing it on the following factors<Bold>:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> Property<Bold>,</Bold> on behalf of the government<Bold>,</Bold> of everything
            that is of
            value in the nation<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b)</Bold> Its system was conceived and put into action by a Jew<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> In time the system turns against the Jews<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d)</Bold> The country makes enormous mortuary monuments for their rulers<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e)</Bold> They try to preserve the corpse of their rulers<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>f)</Bold> The rulers prohibit leave of the country by its residents<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>I will explain everyone one of the clauses above:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> In Egypt<Bold>,</Bold> Pharaoh was owned the land and livestock<Bold>;</Bold> in
            communism the land also belongs to the state and individually owned livestock does not
            exist<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b)</Bold> The one who gave the idea that the government should own the land and livestock in Egypt
            was a
            Jew<Bold>,</Bold> Joseph<Bold>.</Bold> The one who gave the idea that the state should own
            everything under
            communism was another Jew<Bold>,</Bold> Marx<Bold>.</Bold> The only difference is
            that<Bold>,</Bold> in
            the first case<Bold>,</Bold> the one who put the idea in effect was Joseph himself<Bold>,</Bold> and
            in the
            second case it was a different Jew<Bold>,</Bold> Lenin<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> In the beginning<Bold>,</Bold> in the time of Joseph as in the time of
            Lenin<Bold>,</Bold> the Jews had certain advantages with the system<Bold>.</Bold> In Egypt they had
            the
            protection of Joseph<Bold>.</Bold> In Russia the Czars persecuted the Jews in their
            pogroms<Bold>,</Bold>
            and communism attracted and utilized them<Bold>;</Bold> but in time<Bold>,</Bold> the system turned
            against
            the Jews<Bold>,</Bold> in Egypt as in the Soviet Union<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d)</Bold> The Egyptian pyramids are an existing testimony of the monuments they made to their dead
            rulers<Bold>.</Bold> In Red Square stands the gigantic monument that keeps Lenin's
            remains<Bold>,</Bold> etc<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>e)</Bold> The Egyptians mummified their rulers<Bold>.</Bold> The mummy of Lenin is displayed
            everyday
            in front of hundreds of people<Bold>,</Bold> in Red Square<Bold>.</Bold> Even though the regime has
            only
            been established a few decades<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>f)</Bold> Pharaoh prohibited the Jews from leaving Egypt<Bold>.</Bold> The Soviet Union does
            not permit
            its residents to travel<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>8 <i>Now</i> <i>there arose up <Bold>a new king over Egypt, which knew not
            Joseph.</Bold></i> 9
            <i>And he said unto his people<Bold>:</Bold> Behold<Bold>,</Bold> the people of the children of
                Israel are
                more and mightier than we<Bold>.</Bold></i> 10 <i>Come on<Bold>,</Bold> let us deal wisely with
                them<Bold>;</Bold> lest they multiply<Bold>,</Bold> and it come to pass<Bold>,</Bold>
                that<Bold>,</Bold> when there falleth out any war<Bold>,</Bold> they join also unto our
                enemies<Bold>,</Bold> and fight against us<Bold>,</Bold> <Bold>and so get them up out of the
                    land</Bold></i><Bold>."</Bold> (Ex<Bold>.</Bold> 1<Bold>:</Bold>8-10)</Paragraph>
        <Paragraph> What I want to show with everything I have said is the great similarities that exist between two regimes
            that could
            not have influenced each other because of the amount of time between the two<Bold>.</Bold></Paragraph>
        <Paragraph> This is attributed to similar patron angels or similar rebellious angels<Bold>,</Bold> or
            both<Bold>,</Bold>
            influencing the two nations<Bold>,</Bold> communicating to them their characteristics<Bold>,</Bold>
            or the
            <Bold>"</Bold>resulting<Bold>"</Bold> of all the characteristics<Bold>.</Bold></Paragraph>
        <Paragraph> It doesn't have to be a regime<Bold>,</Bold> a carbon copy of the other<Bold>,</Bold> because is to
            think
            that<Bold>,</Bold> especially the antagonist rebellious angels change their methods or
            ideas<Bold>,</Bold>
            when by experience realize that the first was not to their convenience<Bold>.</Bold>
            Nevertheless<Bold>,</Bold> it is logical that they conserve those techniques that served them to get
            their
            way<Bold>,</Bold> or that are the result of intense concupiscence of those rebels<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>This could explain why in Ezekiel 28 it is spoken of King Tyre sometimes as if he was a human and
            others as
            if he was an angel.</Bold> It gives you the impression that it is referring to a first class rebellious
            angel<Bold>,</Bold> who was the one who counteracted against the angel of God in Tyre<Bold>,</Bold>
            and who
            ended up taking over the mind and heart of the people<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are other cases of historical similarity.</Bold> For example<Bold>,</Bold> the cruel
            treatment
            methods and wars of the Assyrians<Bold>,</Bold> their beastliness<Bold>,</Bold> their efficiency in
            war<Bold>,</Bold> their militarism<Bold>,</Bold> their sadism<Bold>,</Bold>
            etc<Bold>.,</Bold> seem
            to be traced<Bold>,</Bold> copied by <Bold>Hitler and the Nazi Germany,</Bold> although the first
            could not
            have influenced in the second<Bold>.</Bold> The same happened in Cambodia<Bold>.</Bold> The nature
            of
            <Bold>Babylonia,</Bold> over all religion<Bold>,</Bold> was traced by
            <Bold>Rome</Bold><Bold>,</Bold> especially all of Catholicism with its seat in the
            Vatican<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Carthage was the image of Tyre;</Bold> they distinguished themselves because the elite of the
            economy where
            the rulers and because their wise and technicians were foreigner attracted by the booming economy that was
            enjoyed
            there<Bold>,</Bold> like they testified in the case of Tyre<Bold>,</Bold> Isaiah
            23<Bold>:</Bold>8 and
            Ezekiel 27<Bold>:</Bold>1-25<Bold>. Tyre was destroyed by Babylonia, and its equivalent, Carthage, was
                destroyed by Rome, which is equivalent to Babylonia.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Who hath taken this counsel against Tyre<Bold>,</Bold> the crowning
            city<Bold>,</Bold>
            <Bold>whose merchants are princes, whose traffickers are the honorable of the
                earth</Bold></i><Bold>?"</Bold> (Isaiah 23<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>27<Bold>:</Bold>1 <i>The word of the LORD came again unto me<Bold>,</Bold>
            saying<Bold>:</Bold></i> 2 <i>Now<Bold>,</Bold> thou son of man<Bold>,</Bold> take up a
            lamentation for
            Tyrus<Bold>;</Bold></i> 3 <i>and say unto Tyrus<Bold>:</Bold> O thou that art situate at the entry
            of the
            sea<Bold>,</Bold> <Bold>which art a merchant of the people for many isles</Bold>…</i> 8 <i>The
            inhabitants
            of Zidon and Arvad were thy mariners<Bold>:</Bold> thy wise men<Bold>,</Bold> O
            Tyrus<Bold>,</Bold> that
            were in thee<Bold>,</Bold> were thy pilots<Bold>.</Bold></i> 9 <i><Bold>The ancients of Gebal and
            the wise
            men thereof</Bold> were in thee thy calkers…</i>10 <i><Bold>They of Persia and of Lud and of Phut were
            in thine
            army, thy men of war</Bold>…</i> 25 <i>The ships of Tarshish did sing of thee in thy
            market<Bold>:</Bold> and
            <Bold>thou wast replenished</Bold></i>…<Bold>"</Bold> (Ezq 27<Bold>:</Bold>1-25 abbreviated)</Paragraph>
        <Paragraph> In a certain time in its history Carthage concerted treaties with Rome over limitation of its heavy armament
            (catapults<Bold>,</Bold> mobile towers<Bold>,</Bold> etc<Bold>.</Bold>) in exchange for
            commercial
            advantages<Bold>.</Bold> We get the feeling that the United States is a new edition of Tyre and Carthage
            that
            the United Europe is of Babylonia or Rome<Bold>.</Bold> The United State has characteristics of
            Tyre<Bold>:</Bold> commerce with all nations<Bold>,</Bold> it has many foreigners in its
            industry<Bold>,</Bold> commerce and military<Bold>;</Bold> it is very rich<Bold>,</Bold> etc…
        </Paragraph>
        <Paragraph> Of course these similarities are not exact<Bold>,</Bold> and the same things do not have to
            happen<Bold>,</Bold> because <Bold>we are not dealing with a programmed history, but with a
                conjunction of
                similar factors that can bring similar results,</Bold> but that do not necessarily have to be this way<Bold>.</Bold>
        </Paragraph>
        <Paragraph> I am not saying that the theory that is exposed here is unquestionably correct<Bold>,</Bold> but that
            what is
            here expressed has so many facts that appear to confirm it<Bold>,</Bold> that it is worth to consider
            and keep
            in mind<Bold>.</Bold> After all a theory is just that<Bold>:</Bold> the assumption of what is the
            interior
            dynamic of a phenomenon<Bold>,</Bold> based in observation and on confirmation and partial proof of its
            manifestations<Bold>.</Bold> If I could explain everything and prove everything<Bold>,</Bold> it
            would not
            be a theory<Bold>,</Bold> but a proven fact<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In a few words,</Bold> the nations have angels that are in charge of them<Bold>,</Bold> both
            good and
            bad<Bold>.</Bold> Every group tries to influence the people<Bold>,</Bold> whether they choose to
            listen to
            one or the other<Bold>,</Bold> the occurrences will develop<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    