---
import Layout from "../layout/Layout.astro";
---

<Layout title="Egypt and Rusia">
    <section>
        <p><strong>THEORY OF THE ANGELS SPONSORING THE NATIONS:</strong></p>
        <p><strong>PARALLEL BETWEEN PHARAOH RULED EGYPT AND COMMUNISTIC RUSSIA</strong></p>
        <p> I have spoken in other occasions about the theory that countries are assigned some sort of angelic
            administrators
            who try to conduct that country the best they can<strong>,</strong> without violating human
            will<strong>,</strong>
            without running over others rights and remaining within the laws ruling the celestial orbs<strong>.</strong>
            (It is
            a difficult task)<strong>.</strong></p>
        <p> There are also rebellious angels who antagonize with the former in the running of the
            country<strong>,</strong> as
            it also occurs in the life and conduct of a particular individual<strong>.</strong> In the same
            way<strong>,</strong> despite the beneficial conduction of the Holy Spirit and the angels of God over a
            Christian<strong>,</strong> the running of this one leaves much to be desired<strong>,</strong> this is what
            happens
            with nations<strong>.</strong> This occurs because there is an independent factor<strong>,</strong> human
            will<strong>,</strong> which <strong>God does not permit one or the other to violate; not even He violates
                it.</strong> If this occurs with Christians<strong>,</strong> what more occurs with those who are not
            saved<strong>,</strong> and the nations<strong>?</strong></p>
        <p> Although it is said here it is nothing new for me<strong>,</strong> if there was it would have been the
            observation
            referring with the main nations in history<strong>,</strong> about the apparent relationship existing
            between the
            characteristics of the nations and their patron angels<strong>.</strong></p>
        <p> To clarify this concept<strong>,</strong> I will create a parallel between Pharaoh ruled Egypt and communist
            Russia<strong>,</strong> such as was done for me<strong>,</strong> to explain it to me the first
            time<strong>,</strong> basing it on the following factors<strong>:</strong></p>
        <p><strong>a)</strong> Property<strong>,</strong> on behalf of the government<strong>,</strong> of everything
            that is of
            value in the nation<strong>.</strong></p>
        <p><strong>b)</strong> Its system was conceived and put into action by a Jew<strong>.</strong></p>
        <p><strong>c)</strong> In time the system turns against the Jews<strong>.</strong></p>
        <p><strong>d)</strong> The country makes enormous mortuary monuments for their rulers<strong>.</strong></p>
        <p><strong>e)</strong> They try to preserve the corpse of their rulers<strong>.</strong></p>
        <p><strong>f)</strong> The rulers prohibit leave of the country by its residents<strong>.</strong></p>
        <p><strong>I will explain everyone one of the clauses above:</strong></p>
        <p><strong>a)</strong> In Egypt<strong>,</strong> Pharaoh was owned the land and livestock<strong>;</strong> in
            communism the land also belongs to the state and individually owned livestock does not
            exist<strong>.</strong></p>
        <p><strong>b)</strong> The one who gave the idea that the government should own the land and livestock in Egypt
            was a
            Jew<strong>,</strong> Joseph<strong>.</strong> The one who gave the idea that the state should own
            everything under
            communism was another Jew<strong>,</strong> Marx<strong>.</strong> The only difference is
            that<strong>,</strong> in
            the first case<strong>,</strong> the one who put the idea in effect was Joseph himself<strong>,</strong> and
            in the
            second case it was a different Jew<strong>,</strong> Lenin<strong>.</strong></p>
        <p><strong>c)</strong> In the beginning<strong>,</strong> in the time of Joseph as in the time of
            Lenin<strong>,</strong> the Jews had certain advantages with the system<strong>.</strong> In Egypt they had
            the
            protection of Joseph<strong>.</strong> In Russia the Czars persecuted the Jews in their
            pogroms<strong>,</strong>
            and communism attracted and utilized them<strong>;</strong> but in time<strong>,</strong> the system turned
            against
            the Jews<strong>,</strong> in Egypt as in the Soviet Union<strong>.</strong></p>
        <p><strong>d)</strong> The Egyptian pyramids are an existing testimony of the monuments they made to their dead
            rulers<strong>.</strong> In Red Square stands the gigantic monument that keeps Lenin's
            remains<strong>,</strong> etc<strong>.</strong>
        </p>
        <p><strong>e)</strong> The Egyptians mummified their rulers<strong>.</strong> The mummy of Lenin is displayed
            everyday
            in front of hundreds of people<strong>,</strong> in Red Square<strong>.</strong> Even though the regime has
            only
            been established a few decades<strong>.</strong></p>
        <p><strong>f)</strong> Pharaoh prohibited the Jews from leaving Egypt<strong>.</strong> The Soviet Union does
            not permit
            its residents to travel<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>8 <i>Now</i> <i>there arose up <strong>a new king over Egypt, which knew not
            Joseph.</strong></i> 9
            <i>And he said unto his people<strong>:</strong> Behold<strong>,</strong> the people of the children of
                Israel are
                more and mightier than we<strong>.</strong></i> 10 <i>Come on<strong>,</strong> let us deal wisely with
                them<strong>;</strong> lest they multiply<strong>,</strong> and it come to pass<strong>,</strong>
                that<strong>,</strong> when there falleth out any war<strong>,</strong> they join also unto our
                enemies<strong>,</strong> and fight against us<strong>,</strong> <strong>and so get them up out of the
                    land</strong></i><strong>."</strong> (Ex<strong>.</strong> 1<strong>:</strong>8-10)</p>
        <p> What I want to show with everything I have said is the great similarities that exist between two regimes
            that could
            not have influenced each other because of the amount of time between the two<strong>.</strong></p>
        <p> This is attributed to similar patron angels or similar rebellious angels<strong>,</strong> or
            both<strong>,</strong>
            influencing the two nations<strong>,</strong> communicating to them their characteristics<strong>,</strong>
            or the
            <strong>"</strong>resulting<strong>"</strong> of all the characteristics<strong>.</strong></p>
        <p> It doesn't have to be a regime<strong>,</strong> a carbon copy of the other<strong>,</strong> because is to
            think
            that<strong>,</strong> especially the antagonist rebellious angels change their methods or
            ideas<strong>,</strong>
            when by experience realize that the first was not to their convenience<strong>.</strong>
            Nevertheless<strong>,</strong> it is logical that they conserve those techniques that served them to get
            their
            way<strong>,</strong> or that are the result of intense concupiscence of those rebels<strong>.</strong></p>
        <p><strong>This could explain why in Ezekiel 28 it is spoken of King Tyre sometimes as if he was a human and
            others as
            if he was an angel.</strong> It gives you the impression that it is referring to a first class rebellious
            angel<strong>,</strong> who was the one who counteracted against the angel of God in Tyre<strong>,</strong>
            and who
            ended up taking over the mind and heart of the people<strong>.</strong></p>
        <p><strong>There are other cases of historical similarity.</strong> For example<strong>,</strong> the cruel
            treatment
            methods and wars of the Assyrians<strong>,</strong> their beastliness<strong>,</strong> their efficiency in
            war<strong>,</strong> their militarism<strong>,</strong> their sadism<strong>,</strong>
            etc<strong>.,</strong> seem
            to be traced<strong>,</strong> copied by <strong>Hitler and the Nazi Germany,</strong> although the first
            could not
            have influenced in the second<strong>.</strong> The same happened in Cambodia<strong>.</strong> The nature
            of
            <strong>Babylonia,</strong> over all religion<strong>,</strong> was traced by
            <strong>Rome</strong><strong>,</strong> especially all of Catholicism with its seat in the
            Vatican<strong>.</strong>
        </p>
        <p><strong>Carthage was the image of Tyre;</strong> they distinguished themselves because the elite of the
            economy where
            the rulers and because their wise and technicians were foreigner attracted by the booming economy that was
            enjoyed
            there<strong>,</strong> like they testified in the case of Tyre<strong>,</strong> Isaiah
            23<strong>:</strong>8 and
            Ezekiel 27<strong>:</strong>1-25<strong>. Tyre was destroyed by Babylonia, and its equivalent, Carthage, was
                destroyed by Rome, which is equivalent to Babylonia.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Who hath taken this counsel against Tyre<strong>,</strong> the crowning
            city<strong>,</strong>
            <strong>whose merchants are princes, whose traffickers are the honorable of the
                earth</strong></i><strong>?"</strong> (Isaiah 23<strong>:</strong>8)</p>
        <p></p>
        <p></p>
        <p><strong>"</strong>27<strong>:</strong>1 <i>The word of the LORD came again unto me<strong>,</strong>
            saying<strong>:</strong></i> 2 <i>Now<strong>,</strong> thou son of man<strong>,</strong> take up a
            lamentation for
            Tyrus<strong>;</strong></i> 3 <i>and say unto Tyrus<strong>:</strong> O thou that art situate at the entry
            of the
            sea<strong>,</strong> <strong>which art a merchant of the people for many isles</strong>…</i> 8 <i>The
            inhabitants
            of Zidon and Arvad were thy mariners<strong>:</strong> thy wise men<strong>,</strong> O
            Tyrus<strong>,</strong> that
            were in thee<strong>,</strong> were thy pilots<strong>.</strong></i> 9 <i><strong>The ancients of Gebal and
            the wise
            men thereof</strong> were in thee thy calkers…</i>10 <i><strong>They of Persia and of Lud and of Phut were
            in thine
            army, thy men of war</strong>…</i> 25 <i>The ships of Tarshish did sing of thee in thy
            market<strong>:</strong> and
            <strong>thou wast replenished</strong></i>…<strong>"</strong> (Ezq 27<strong>:</strong>1-25 abbreviated)</p>
        <p> In a certain time in its history Carthage concerted treaties with Rome over limitation of its heavy armament
            (catapults<strong>,</strong> mobile towers<strong>,</strong> etc<strong>.</strong>) in exchange for
            commercial
            advantages<strong>.</strong> We get the feeling that the United States is a new edition of Tyre and Carthage
            that
            the United Europe is of Babylonia or Rome<strong>.</strong> The United State has characteristics of
            Tyre<strong>:</strong> commerce with all nations<strong>,</strong> it has many foreigners in its
            industry<strong>,</strong> commerce and military<strong>;</strong> it is very rich<strong>,</strong> etc…
        </p>
        <p> Of course these similarities are not exact<strong>,</strong> and the same things do not have to
            happen<strong>,</strong> because <strong>we are not dealing with a programmed history, but with a
                conjunction of
                similar factors that can bring similar results,</strong> but that do not necessarily have to be this way<strong>.</strong>
        </p>
        <p> I am not saying that the theory that is exposed here is unquestionably correct<strong>,</strong> but that
            what is
            here expressed has so many facts that appear to confirm it<strong>,</strong> that it is worth to consider
            and keep
            in mind<strong>.</strong> After all a theory is just that<strong>:</strong> the assumption of what is the
            interior
            dynamic of a phenomenon<strong>,</strong> based in observation and on confirmation and partial proof of its
            manifestations<strong>.</strong> If I could explain everything and prove everything<strong>,</strong> it
            would not
            be a theory<strong>,</strong> but a proven fact<strong>.</strong></p>
        <p><strong>In a few words,</strong> the nations have angels that are in charge of them<strong>,</strong> both
            good and
            bad<strong>.</strong> Every group tries to influence the people<strong>,</strong> whether they choose to
            listen to
            one or the other<strong>,</strong> the occurrences will develop<strong>.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    