---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Jews: The Messiah Would enter that Temple and have a precursor">
    <Tag>#89</Tag>
    <Content>
        <Paragraph><Bold>JEWS: THE MESSIAH WOULD ENTER IN THAT TEMPLE AND HAVE A PRECURSOR.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> This verse tells us that God was going to send a messenger to prepare the way<Bold>,</Bold> and <Bold>after
            that he who the Jews sought would come to the Temple of the LORD,</Bold> the angel of the
            covenant<Bold>,</Bold> whom they sought<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Behold<Bold>,</Bold> <Bold>I will send my messenger,</Bold> and he shall prepare
            the way
            before me<Bold>;</Bold> <Bold>and the LORD, whom ye seek, shall suddenly come to his temple,</Bold>
            even the
            messenger of the covenant<Bold>,</Bold> whom ye delight in<Bold>;</Bold> behold<Bold>,</Bold> he
            shall
            come<Bold>,</Bold> saith the LORD of hosts</i><Bold>."</Bold> (Malachi 3<Bold>:</Bold>1)</Paragraph>
        <Paragraph> According to what is here prophesied there <Bold>would be a prior messenger sent, and then the Messiah
            would enter
            personally in that Temple, not in other.</Bold> We all know that John the Baptist<Bold>,</Bold> with
            the Holy
            Spirit and the virtue of Elias<Bold>,</Bold> preceded Jesus<Bold>,</Bold> preparing the
            masses<Bold>,</Bold> for the coming of Jesus<Bold>,</Bold> masses that for centuries had not seen a
            prophet<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>What other being of Messianic stature entered that Temple and was preceded by a potent messenger like
            John
            the Baptist?</Bold> No other<Bold>.</Bold> Therefore<Bold>,</Bold> if Jesus is not the Messiah as
            must
            Jews think<Bold>,</Bold> then this prophecy failed miserably<Bold>,</Bold> something
            ridicule<Bold>,</Bold> absurd and incredible for a Jewish believer<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Who else, other than Christ, has entered in that Temple, has been preceded in his ministry by a
            precursor
            messenger of the magnitude if John the Baptist, and plus personally encompasses the characteristics and
            circumstances that according to the Scripture, would accompany the Messiah?</Bold></Paragraph>
        <Paragraph>All of this proves<Bold>,</Bold> and clarifies<Bold>,</Bold> what is said in Haggai
            2<Bold>:</Bold>6-9<Bold>,</Bold> that the Messiah would enter that temple<Bold>,</Bold> for
            which the
            glory of that Temple would be greater than the first which had more riches<Bold>.</Bold> Being the
            Second Temple<Bold>,</Bold>
            of less importance from the human point of view and with fewer riches than the prior<Bold>,</Bold> it
            can only
            be attributed greater glory (like it says in Haggai 2<Bold>:</Bold>6-9) because it was visited by the
            <Bold>"</Bold>Desired by all the people<Bold>"</Bold> and <Bold>"</Bold>the Lord whom we
            seek<Bold>."</Bold></Paragraph>
        <Paragraph>This is why God says in Haggai 2<Bold>:</Bold>8 <Bold>"</Bold>The silver is mine<Bold>,</Bold>
            and the
            gold is mine<Bold>,"</Bold> as if saying<Bold>:</Bold> if I wanted to fill this Second Temple with
            gold and
            silver it would be no problem<Bold>;</Bold> but it would not be so<Bold>,</Bold> its greatest glory
            would
            consist of receiving the Messiah<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    