---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="God Rewards and punishes now">
    <Tag>#90</Tag>
    <Content>
        <Paragraph><Bold>GOD REWARDS AND PUNISHES NOW</Bold></Paragraph>
        <Paragraph><Bold>In my opinion everything we do has a consequence; either good or bad.</Bold> There are some who
            believe
            that once saved by Jesus Christ<Bold>,</Bold> grace will prevent all punishment<Bold>.</Bold> The
            most they
            will admit is that God rebukes us as a pedagogic method not as a penalty<Bold>.</Bold> I understand that
            He uses
            both<Bold>,</Bold> sometimes one<Bold>,</Bold> others the other<Bold>,</Bold> and on occasion
            both at
            the same time<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Knowing that <Bold>whatsoever good thing any man doeth, the same shall he receive of
            the
            Lord,</Bold> whether he be bond or free</i><Bold>."</Bold> (Ephesians 6<Bold>:</Bold>8)</Paragraph>
        <Paragraph> In this passage we at least see that whatever good one does he will receive it from the
            Lord<Bold>,</Bold>
            whoever he is<Bold>.</Bold> In Galatians 6<Bold>:</Bold>7 we see that all that a man
            sows<Bold>,</Bold>
            he will also reap<Bold>.</Bold> In this case it refers to the good as to the bad<Bold>.</Bold> And
            <Bold>this
                is said after the crucifixion; that is, that even after the sacrifice of Jesus it continued to be
                effective.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Be not deceived<Bold>;</Bold> God is not mocked<Bold>:</Bold> for <Bold>whatsoever
            a
            man soweth, that shall he also reap</Bold></i><Bold>."</Bold> (Galatians 6<Bold>:</Bold>7)</Paragraph>
        <Paragraph> In I Corinthians 11<Bold>:</Bold>29-32 we see that in consequence for the sins of some
            Christians<Bold>,</Bold> they found themselves ill and some had even died (30)<Bold>.</Bold> In
            verse 31 it
            says if we were to examine ourselves to not commit that sin<Bold>,</Bold> we would not be
            judged<Bold>,</Bold> but being judged (32) <Bold>we are punished.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>29 <i>For he that eateth and drinketh unworthily<Bold>,</Bold> eateth and drinketh
            damnation to
            himself<Bold>,</Bold> not discerning the Lord's body<Bold>.</Bold></i> 30 <Bold>For this cause
            many are
            weak and sickly among you, and many sleep.</Bold> 31 <i>For if we would judge ourselves<Bold>,</Bold>
            we
            should not be judged<Bold>.</Bold> 32 But when we are judged<Bold>,</Bold> <Bold>we are
                chastened</Bold>
            of the Lord<Bold>,</Bold> that we should not be condemned with the world</i><Bold>."</Bold> (I
            Corinthians
            11<Bold>:</Bold>29-32)</Paragraph>
        <Paragraph><Bold> If the rebuke were only pedagogic,</Bold> it would not have to be preceded by the
            judgment<Bold>.</Bold> If it is preceded by a judgment it is because it is something
            punitive<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Afterwards<Bold>,</Bold> it seems to make reference as to why <Bold>we need to be punished here and
            now:</Bold> to not be condemned with the world<Bold>.</Bold> As the world will be condemned in the
            other
            life<Bold>,</Bold> it is evident that Paul wants to say that we are charged here so that our
            <Bold>"</Bold>bill<Bold>"</Bold>
            does pass to <Bold>"</Bold>there<Bold>".</Bold> Or that is to say<Bold>,</Bold> <Bold>that we
                are
                punitively rebuked and not only pedagogically.</Bold> The bad things the Christian does after his
            conversion<Bold>,</Bold> he will pay here<Bold>;</Bold> and they will be charged by
            justice<Bold>,</Bold> not only by pedagogy<Bold>.</Bold> <Bold>Sin has present and eternal
                consequences.</Bold> Christ died for the eternal<Bold>,</Bold> but the present consequences still
            reach us<Bold>.</Bold>
        </Paragraph>
        <Paragraph>You may believe that since you converted you are immune to electricity<Bold>,</Bold> and you may have
            much faith
            in it and <Bold>"</Bold>strongly believe it<Bold>,"</Bold> but as soon as you touch it will realize
            your
            mistake<Bold>.</Bold> Of course<Bold>,</Bold> you can persist to say that what you felt was not
            electricity<Bold>;</Bold> but that would not change reality<Bold>.</Bold> Also like this when you
            suffer
            God's punishments<Bold>,</Bold> you can persist to say that that is not a punishment<Bold>;</Bold>
            but that
            would not change reality<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    