---
import Layout from "../layout/Layout.astro";
---

<Layout title="What is true love. Loving those who hate God?">
    <section>
        <p><strong>WHAT IS TRUE LOVE. LOVING THOSE WHO HATE GOD?</strong></p>
        <p> There are some who believe that the entire Doctrine of God consists of love<strong>;</strong> in loving the
            entire
            world<strong>.</strong> They believe that all of the requirements of God for human beings are based on
            loving the
            entire world<strong>.</strong> That is why there are people that claim to love even the worse
            murderers<strong>,</strong> and they believe that this is what God commanded<strong>.</strong> <strong>But
                in this
                verse we see that King Jehoshaphat is scorned by God through the prophet Jehu son of Hanani,</strong>
            <strong>for
                loving those who hate God.</strong></p>
        <p> Very clearly God announces to King Jehoshaphat that for loving those who hate Him<strong>,</strong> the
            anger of the
            God's presence would be on the king<strong>.</strong> We can draw the conclusion from here that we should
            not love
            those who are God's true enemies<strong>.</strong> One could love someone who because of ignorance detests
            God<strong>,</strong> but not one that with perfect understanding of everything<strong>,</strong> hates
            God<strong>.</strong> Would it then be logical to love Satan and his demons<strong>?</strong> By chance
            would it be
            logical to pray for them<strong>?</strong> Would God agree with such an attitude<strong>?</strong></p>
        <p></p>
        <p><strong>"</strong><i>And Jehu the son of Hanani the seer went out to meet him<strong>,</strong> and said to
            King
            Jehoshaphat<strong>,</strong> '<strong>Shouldest thou help the ungodly, and love them that hate the
                LORD?</strong>'
            <strong>Therefore is wrath upon thee from before the LORD</strong></i><strong>."</strong> (II Chronicles
            19<strong>:</strong>2)</p>
        <p> Evidently<strong>,</strong> it is not the same to be an atheist<strong>,</strong> that an
            anti-God<strong>.</strong>
            It is to say<strong>,</strong> it is not the same a person who does not love God<strong>,</strong> or is
            indifferent
            toward God<strong>,</strong> that one who hates Him<strong>.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    