---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="What is true love. Loving those who hate God?">
    <Content>
        <Paragraph><Bold>WHAT IS TRUE LOVE. LOVING THOSE WHO HATE GOD?</Bold></Paragraph>
        <Paragraph> There are some who believe that the entire Doctrine of God consists of love<Bold>;</Bold> in loving the
            entire
            world<Bold>.</Bold> They believe that all of the requirements of God for human beings are based on
            loving the
            entire world<Bold>.</Bold> That is why there are people that claim to love even the worse
            murderers<Bold>,</Bold> and they believe that this is what God commanded<Bold>.</Bold> <Bold>But
                in this
                verse we see that King Jehoshaphat is scorned by God through the prophet Jehu son of Hanani,</Bold>
            <Bold>for
                loving those who hate God.</Bold></Paragraph>
        <Paragraph> Very clearly God announces to King Jehoshaphat that for loving those who hate Him<Bold>,</Bold> the
            anger of the
            God's presence would be on the king<Bold>.</Bold> We can draw the conclusion from here that we should
            not love
            those who are God's true enemies<Bold>.</Bold> One could love someone who because of ignorance detests
            God<Bold>,</Bold> but not one that with perfect understanding of everything<Bold>,</Bold> hates
            God<Bold>.</Bold> Would it then be logical to love Satan and his demons<Bold>?</Bold> By chance
            would it be
            logical to pray for them<Bold>?</Bold> Would God agree with such an attitude<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>And Jehu the son of Hanani the seer went out to meet him<Bold>,</Bold> and said to
            King
            Jehoshaphat<Bold>,</Bold> '<Bold>Shouldest thou help the ungodly, and love them that hate the
                LORD?</Bold>'
            <Bold>Therefore is wrath upon thee from before the LORD</Bold></i><Bold>."</Bold> (II Chronicles
            19<Bold>:</Bold>2)</Paragraph>
        <Paragraph> Evidently<Bold>,</Bold> it is not the same to be an atheist<Bold>,</Bold> that an
            anti-God<Bold>.</Bold>
            It is to say<Bold>,</Bold> it is not the same a person who does not love God<Bold>,</Bold> or is
            indifferent
            toward God<Bold>,</Bold> that one who hates Him<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    