---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Sin has terrestrial consequences even for God loved ones">
    <Title>Sin Has Terrestrial Consequences Even For God loved ones</Title>

    <Tag>#92</Tag>
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Disobeying God's commandments is a sin.</Bold> It does not matter if we know his commandments or
            not<Bold>.</Bold> Our duty is to investigate through God's commandments<Bold>.</Bold> It is even a
            worse sin
            to know his commandments and tell Him that we do not feel like doing it<Bold>.</Bold> That was the sin
            of King
            David<Bold>,</Bold> and King Rehoboam and his court<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Sin has terrestrial and eternal consequences.</Bold> If there is a true
            repentance<Bold>,</Bold> the
            eternal consequences are removed thank to the redeeming sacrifice of Jesus Christ on the
            cross<Bold>.</Bold>
            <Bold>As for the terrestrial consequences, are not always removed even if we sincerely repent.</Bold>
        </Paragraph>
        <Paragraph>The case of David's adultery is well known<Bold>.</Bold> Although he <Bold>sincerely repented,</Bold>
            the
            terrestrial consequences of his sin followed him until the day of his death<Bold>.</Bold> In this
            passage we see
            the sincere repentance and confession of David<Bold>,</Bold> although<Bold>,</Bold> it did not
            detain his
            terrestrial punishment<Bold>.</Bold> Do not set your hopes up those that want to play <Bold>"</Bold>sin
            and
            repent<Bold>";</Bold> even if it is a sincere repentance<Bold>,</Bold> you will suffer the
            consequences of
            your sin<Bold>,</Bold> even if you believe yourself better than David<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>Wherefore <Bold>hast thou despised the commandment of the LORD,</Bold> to do evil
            in his
            sight<Bold>?</Bold> Thou hast killed Uriah the Hittite with the sword<Bold>,</Bold> and hast taken
            his wife
            to be thy wife<Bold>,</Bold> and hast slain him with the sword of the children of
            Ammon<Bold>.</Bold></i> 10
            <i>Now <Bold>therefore the sword shall never depart from thine house; because thou hast despised me, and
                hast
                taken the wife of Uriah the Hittite to be thy wife</Bold>…</i> 13 <i>And <Bold>David said unto
                Nathan, I
                have sinned against the LORD.</Bold> And Nathan said unto David<Bold>:</Bold> <Bold>The LORD
                also hath
                put away thy sin;</Bold> thou shalt not die<Bold>.</Bold></i> 14 <i>Howbeit<Bold>,</Bold>
                <Bold>because
                    by this deed thou hast given great occasion to the enemies of the LORD to blaspheme, the child also
                    that is born
                    unto thee shall surely die.</Bold></i><Bold>"</Bold> (II Sam 12<Bold>:</Bold>9-14
            abbreviated)</Paragraph>
        <Paragraph> As we see<Bold>,</Bold> David's repentance was sincere and God forgave the eternal consequences of his
            sins<Bold>,</Bold> but he had to suffer the terrestrial consequences until the day of his
            death<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>A similar case is that of King Rehoboam and his court,</Bold> even though they repented of their
            sins<Bold>,</Bold> God submitted them to Shishak King of Egypt<Bold>.</Bold> Here we can see that
            King
            Rehoboam and the people of Judea repented of their sins<Bold>,</Bold> and for that <Bold>God largely
                reduced
                their punishment, but did not completely remove it.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>And <Bold>when the LORD saw that they humbled themselves,</Bold> the word of the
            LORD came
            to Shemaiah<Bold>,</Bold> saying<Bold>:</Bold> <Bold>They have humbled themselves; therefore I
                will not
                destroy them,</Bold> but I will grant them some deliverance<Bold>;</Bold> and my wrath shall not
            be poured
            out upon Jerusalem by the hand of Shishak<Bold>.</Bold> Nevertheless <Bold>they shall be his
                servants;</Bold> that they may know my service<Bold>,</Bold> and the service of the kingdoms of
            the
            countries</i><Bold>."</Bold> (II Chr 12<Bold>:</Bold>7-8)</Paragraph>
        <Paragraph><Bold>Christians are quick to "learn" of the example of the forgiveness of Mary Magdalene, but do not even
            want to
            think about the example of the punishment of David and Rehoboam.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Return to Index</a></Bold></Paragraph>

    </Content>
</Layout>
    