---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Death Penalty will not Hinder a Convict from Being Saved">
    <section>
        <Paragraph><Bold>The Death Penalty Will not Hinder a Convict from Being Saved</Bold></Paragraph>
        <Paragraph> There are times when God wants to make an exception with a criminal<Bold>.</Bold> When that is the
            case<Bold>,</Bold> God always finds the way to do it without us modifying the behavioral standard given
            by God's
            laws<Bold>.</Bold> Let's study the following case<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>19 <i>There</i> <i>was not a city that made peace with the children of
            Israel<Bold>,</Bold>
            save the Hivites the inhabitants of Gibeon<Bold>;</Bold> all other they took in battle<Bold>.</Bold></i>
            20
            <i><Bold>For it was of the LORD to harden their hearts,</Bold> that they should come against Israel in
                battle<Bold>,</Bold> that he might destroy them utterly<Bold>,</Bold> and that they might have
                no favour<Bold>,</Bold>
                but that he may destroy them<Bold>,</Bold> as the LORD commanded Moses</i><Bold>."</Bold>
            (Jos<Bold>.</Bold> 11<Bold>:</Bold>19-20)</Paragraph>
        <Paragraph><Bold>All of the inhabitants of the region conquered by Joshua were to be exterminated.</Bold>
            However<Bold>,</Bold> for some reason the Hivites living in Gibeon should be pardoned<Bold>.</Bold>
            <Bold>Maybe
                to give them the opportunity to become familiar with the true faith, knowing God that many, or some of
                them
                would accept it.</Bold> They should be pardoned<Bold>,</Bold> I repeat<Bold>,</Bold> but
            without
            weakening<Bold>,</Bold> because of it<Bold>,</Bold> the order of general
            extermination<Bold>,</Bold>
            That's why God used another way<Bold>.</Bold></Paragraph>
        <Paragraph> The order for general extermination was very rigorous<Bold>,</Bold> even so<Bold>,</Bold> Hebrews
            disobeyed
            it causing a negative outcome as seen in Judges 2<Bold>:</Bold>1-3<Bold>.</Bold> God did
            much<Bold>,</Bold> but much emphasis on the extermination of those conquered people<Bold>,</Bold>
            and this
            may be why He did not wanted to weaken the force of this order<Bold>,</Bold> making
            exceptions<Bold>.</Bold>
            In its place<Bold>,</Bold> and to reach the same end <Bold>(and this is my opinion)</Bold> He
            permitted the
            Hivites to use the necessary cleverness to free themselves from death<Bold>,</Bold> without the Hebrews
            being
            able to find a way to debilitate the order of total extermination<Bold>.</Bold> Being
            so<Bold>,</Bold> the
            Hebrews did not have to modify the standard of conduct set by God<Bold>,</Bold> and the Hivites were
            able to
            save themselves as God wanted<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Something similar happens with those condemned to death.</Bold> The human being must obey God's
            commandments when it comes to the punishment of homicide<Bold>.</Bold> If there is an exception to be
            made<Bold>,</Bold> the one who makes it is God<Bold>,</Bold> not us<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There are Christians who despite the fact that God's word commands the execution of murderers, they
            attempt
            to amend what God has already established, by imprisoning them instead.</Bold> They
            <Bold>"</Bold>reason<Bold>"</Bold> (if that can be called reasoning) that
            <Bold>"</Bold>maybe<Bold>"</Bold> that murderer will repent and seeks God in the
            future<Bold>,</Bold>
            which is why<Bold>,</Bold> according to them<Bold>,</Bold> it is better to let him
            live<Bold>.</Bold>
            God<Bold>,</Bold> who knows better than us what is to be done<Bold>,</Bold> commanded us to execute
            murderers<Bold>,</Bold> and that is what should be done<Bold>.</Bold> If a murderer has the
            possibility to
            repent and be saved in the future<Bold>,</Bold> God will provide the circumstances to protect
            him<Bold>.</Bold> God could give him enough intelligence so that his crime is not
            discovered<Bold>,</Bold>
            or to escape the actions of justice if he is discovered<Bold>.</Bold> <Bold>But God will make that
                exception,
                he is the one who knows and has the right to do it; not I,</Bold> who neither has the knowledge nor
            the right
            to modify what God has commanded<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If a murderer falls into the hands of the law it is because God has permitted or caused it to happen;
            and if
            he permits it, it is because he wants what he himself commands to be done: to execute him.</Bold> If God
            wanted
            him to be put in prison instead of executing him<Bold>,</Bold> He would not modify his
            commandment<Bold>,</Bold> but would cause the murderer's theft to be discovered and not the
            murder<Bold>.</Bold> <Bold>The ones who go out to modify God's commandments to "help" God or their
                neighbor
                are very foolish.</Bold> If Gods commandments were followed and not those of the international
            mafias<Bold>,</Bold> those of the criminal attorneys<Bold>,</Bold> those of psychologists and
            mistaking
            Christians<Bold>,</Bold> there would not be so much crime in countries<Bold>.</Bold></Paragraph>
        <Paragraph> With all this said I don't intend to make you think that all murderers who are not discovered or condemned
            to death
            are to be saved<Bold>.</Bold> There are many reasons that could cause such an
            injustice<Bold>.</Bold> The
            reasons could be merely human<Bold>.</Bold> God gives man<Bold>,</Bold> the society and
            authorities<Bold>,</Bold> certain autonomic behavior<Bold>.</Bold> He tells them what they should do<Bold>,</Bold>
            but does not force them to do it<Bold>.</Bold> The opportunity will come for each to be held accountable
            and
            also for those responsible for His will not being done<Bold>.</Bold></Paragraph>
        <Paragraph> Aside from this<Bold>,</Bold> we see in verse 20<Bold>,</Bold> that those that God intended to be
            exterminated<Bold>,</Bold> instead of giving them intelligence<Bold>,</Bold> like the
            Hivites<Bold>,</Bold> he hardened them like Pharaoh<Bold>.</Bold> <Bold>To understand the dynamic
                and the
                justice of the hardening of Pharaoh without altering his free will, see biblical note # 4 in this
                section.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </section>
</Layout>
    