---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Theomorphism">
    <Content>
        <Paragraph><Bold>THEOMORPHISM: DOES GOD LOOK LIKE HUMAN?</Bold></Paragraph>
        <Paragraph> There are those that accuse Christians to conceive God with human form<Bold>,</Bold> because they are
            prejudiced
            by the anthropomorphism<Bold>;</Bold> that is to say<Bold>,</Bold> by the tendency to compare God to
            the
            human figure<Bold>.</Bold> According to them<Bold>,</Bold> we conceived God in human
            form<Bold>,</Bold>
            reflecting our own figure<Bold>.</Bold> But in fact what the Bible teaches us is not
            anthropomorphism<Bold>,</Bold> but theomorphism<Bold>,</Bold> for it compare human with
            God<Bold>.</Bold> It is not that the man has wanted to conceive God with human form<Bold>,</Bold>
            but that
            God has wanted to make us with His divine form<Bold>.</Bold></Paragraph>
        <Paragraph> It is not true<Bold>,</Bold> as they say<Bold>,</Bold> that man tends to conceive its gods in human
            form<Bold>.</Bold> In fact many men have conceived their gods in the forms less anthropomorphic
            imaginable<Bold>.</Bold> We just need to see the gods and goddesses of the Egyptians<Bold>,</Bold>
            Philistines<Bold>,</Bold> Greeks<Bold>,</Bold> Hindus<Bold>,</Bold> Chinese<Bold>,</Bold>
            etc<Bold>...</Bold> Many of those who conceived their gods with human form<Bold>,</Bold> pictured
            them with
            a grotesque figure<Bold>,</Bold> like the Aztecs<Bold>,</Bold> Mayan and the Gods of the tribes of
            Polynesia<Bold>.</Bold>
            Also they conceived them with animal forms<Bold>,</Bold> in form of fire<Bold>,</Bold> in form of
            volcano<Bold>,</Bold> the sun<Bold>,</Bold> the moon<Bold>,</Bold> the stars<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph> In the next passage we will see clearly that God was the one who conceived us equal to His
            figure<Bold>.</Bold>
            When God speaks in this passage he seems to be referring to two different things<Bold>:</Bold> <Bold>a)
                "to
                our image",</Bold> (outer aspect) that is to say<Bold>,</Bold> to the figure that
            God<Bold>,</Bold>
            Christ<Bold>,</Bold> the Holy Spirit and the other celestial creatures already had<Bold>;</Bold> and
            <Bold>b) "according to our likeness",</Bold> (with the same mental and spiritual qualities) that is to
            say<Bold>,</Bold> that we can think and wish what we want<Bold>,</Bold> because he made us with free
            will<Bold>.</Bold> By the way<Bold>,</Bold> in the following verse (27) we see that that likeness
            refers as
            much to the man as to the woman<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>And God said<Bold>:</Bold> <Bold>Let us make man in our image, after our
            likeness,</Bold> and let them have dominion over the fish of the sea<Bold>,</Bold> and over the fowl
            of the
            air<Bold>,</Bold> and over the cattle<Bold>,</Bold> and over all the earth<Bold>,</Bold> and
            over every
            creeping thing that creepeth upon the earth<Bold>.</Bold></i> 27 <i><Bold>So God created man in his
            own image,
            in the image of God</Bold> created he him<Bold>;</Bold> male and <Bold>female</Bold> created he
            them</i><Bold>.</Bold> (Gn 1<Bold>:</Bold>26-27)</Paragraph>
        <Paragraph> If when God said <Bold>"</Bold>…let us make man in our image<Bold>,</Bold> after our
            likeness…<Bold>"</Bold> he had only referred to the spiritual and not the outer aspect of the
            creature<Bold>,</Bold> he would not have used the word <Bold>"image".</Bold></Paragraph>
        <Paragraph> In John 14<Bold>:</Bold>7-9 we can see that after Christ having said this about the
            Father<Bold>:</Bold>
            <Bold>"</Bold>…<i>and <Bold>have seen him</Bold></i><Bold>",</Bold> the Apostle
            Philip<Bold>,</Bold>
            <Bold>referring to the exterior aspect of God,</Bold> asked of Christ <Bold>"</Bold>…<Bold>show
                us</Bold> <i>the Father</i>…<Bold>".</Bold> It can be noted that it was being spoken of the outer
            aspect<Bold>,</Bold> because both verbs used <Bold>(to see and to show) denote something that is
                perceived
                with sight,</Bold> not with the spirit<Bold>.</Bold> He does not speak of the spiritual
            aspect<Bold>,</Bold> but of the outer aspect<Bold>.</Bold> It is in that context that Jesus replies
            to
            Philip<Bold>:</Bold> <Bold>"</Bold><i>He that hath <Bold>seen</Bold> me hath
                <Bold>seen</Bold> the
                Father</i><Bold>".</Bold> If Christ had been referring the spiritual<Bold>,</Bold> he would have
            only
            used the verb <Bold>"</Bold>know<Bold>"</Bold> or something similar<Bold>.</Bold> He would not
            have used
            the verb <Bold>"see",</Bold> because the eyes do not see the spiritual characteristics<Bold>.</Bold>
            Nevertheless<Bold>,</Bold> Jesus uses both verbs<Bold>,</Bold> to <Bold>know and to see.</Bold>
            There is
            no doubt that God has the same general aspect that Christ had when he was on Earth<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>If ye had known me<Bold>,</Bold> ye should have known my Father
            also<Bold>;</Bold> and
            from henceforth ye <Bold>know him, and have seen him.</Bold></i> 8 <i>Philip saith unto
            him<Bold>:</Bold>
            Lord<Bold>,</Bold> <Bold>show us</Bold> the Father<Bold>,</Bold> and it sufficeth
            us<Bold>.</Bold></i> <i>9 Jesus saith unto him<Bold>:</Bold> Have I been so long time with
            you<Bold>,</Bold> and yet hast thou not known me<Bold>,</Bold> Philip<Bold>?</Bold> <Bold>He
                that hath
                seen me hath seen the Father;</Bold> and how sayest thou then<Bold>,</Bold> <Bold>Show</Bold>
            us the
            Father</i><Bold>?"</Bold> (Jn 14<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> In addition to these reasoning<Bold>,</Bold> we must also consider that <Bold>in many visions God has
            been
            seen. Although his face has not been seen,</Bold> like in the cases of Moses<Bold>,</Bold> Micah son
            of
            Imlah<Bold>,</Bold> Isaiah<Bold>,</Bold> Daniel<Bold>,</Bold> Ezequiel and John the
            Evangelist<Bold>,</Bold> His general aspect was seen<Bold>.</Bold></Paragraph>
        <Paragraph> Moses<Bold>,</Bold> in Ex 33<Bold>:</Bold>20-23<Bold>,</Bold> gives a clear lesson of God's
            aspect<Bold>.</Bold> Speaking God with Moses he says to him <Bold>"</Bold>…<i>thou canst not
                <Bold>see my
                    face,</Bold> for there shall no man see me<Bold>,</Bold> and live</i><Bold>."</Bold> Of
            this
            affirmation of God it is possible to conclude without forcing reasoning<Bold>,</Bold> that <Bold>God
                has a
                face,</Bold> we also have it<Bold>.</Bold> Further in the passage God says <Bold>"</Bold>…<i>will
                cover to thee with <Bold>my hand</Bold></i>…<Bold>",</Bold> which indicates to us that <Bold>God
                has
                hands;</Bold> we also have them<Bold>.</Bold> Now at the end of the passage God says
            <Bold>"</Bold>…<i>thou shalt see <Bold>my back</Bold> parts<Bold>,</Bold> but <Bold>my
                face</Bold>
                shall not be seen</i><Bold>.",</Bold> with which he adds that <Bold>God has a back,</Bold> like
            He
            created in the human being<Bold>.</Bold> And not only that<Bold>,</Bold> but he repeats that he has
            a
            face<Bold>.</Bold> <Bold>If that is the description that God gives of Himself,</Bold> what more do
            we needed
            to know that God is <Bold>not</Bold> a formless being as those who want to philosophize on the subject
            imagine<Bold>,</Bold> but that we have an exterior form similar to the one He has<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>20 <i>And he said<Bold>:</Bold> <Bold>Thou canst not see my face,</Bold> for there
            shall no
            man see me<Bold>,</Bold> and live<Bold>.</Bold></i> 21 <i>And the LORD said<Bold>:</Bold> Behold<Bold>,</Bold>
            there is a place by me<Bold>,</Bold> and thou shalt stand upon a rock<Bold>;</Bold></i> 22 <i>and it
            shall
            come to pass<Bold>,</Bold> while my glory passeth by<Bold>,</Bold> that I will put thee in a cliff
            of the
            rock<Bold>,</Bold> and will <Bold>cover thee with my hand</Bold> while I pass
            by<Bold>.</Bold></i> 23
            <i>And <Bold>I will take away mine hand,</Bold> and thou shalt see <Bold>my back</Bold>
                parts<Bold>,</Bold> but <Bold>my face</Bold> shall not be seen</i><Bold>."</Bold> (Ex
            33<Bold>:</Bold>20-23)</Paragraph>
        <Paragraph><Bold>In the case of the prophet Micah son of Imlah</Bold> (different from the Micah author of the book
            by the
            same name) we see that this prophet also saw God seated on His throne (I K 22<Bold>:</Bold>19 and II Chr
            18<Bold>:</Bold>18)<Bold>,</Bold> and he even speaks about his right hand and his left
            hand<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>And he said<Bold>:</Bold> Hear thou therefore the word of the LORD<Bold>,</Bold>
            <Bold>I saw</Bold> the LORD <Bold>sitting on his throne,</Bold> and all the host of heaven standing
            by him
            on <Bold>his right hand and on his left</Bold></i><Bold>."</Bold> (I K 22<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Again he said<Bold>:</Bold> Therefore hear the word of the LORD<Bold>;</Bold>
            <Bold>I
                saw the LORD sitting upon his throne,</Bold> and all the host of heaven standing on <Bold>his right
                hand and on
                his left.</Bold></i><Bold>"</Bold> (II Chr 18<Bold>:</Bold>18)</Paragraph>
        <Paragraph><Bold>As for Isaiah, we see in 6:1</Bold> that he also<Bold>,</Bold> like Micah<Bold>,</Bold> saw
            God
            <Bold>seated</Bold> in His throne<Bold>.</Bold> <Bold>In Ezekiel 1:26-28</Bold> we read that
            this
            prophet saw <Bold>"</Bold>… <i>a likeness that <Bold>seemed of man,</Bold>
                <Bold>seated</Bold></i>…<Bold>"</Bold> on the throne<Bold>.</Bold> That is<Bold>,</Bold>
            that he
            declares to us that the being that he identifies as God<Bold>,</Bold> had the likeness of a human
            being<Bold>.</Bold> Later we see that in verse 27 he describes how he looked <Bold>"</Bold>…<i>from
                his
                <Bold>loins</Bold> even upward</i>…<Bold>"</Bold> and <Bold>"</Bold>… <i>from <Bold>his
                loins</Bold> even downward</i>…<Bold>",</Bold> mentioning to us again similar parts of the human
            body<Bold>,</Bold> in this case the loins<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>In the year that king Uzziah died <Bold>I saw also the Lord sitting</Bold> upon a
            throne<Bold>,</Bold> high and lifted up<Bold>,</Bold> and his train filled the
            temple</i><Bold>."</Bold>
            (Isa 6<Bold>:</Bold>1)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>And above the firmament that was over their heads was the likeness of a
            throne<Bold>,</Bold> as the appearance of a sapphire stone<Bold>,</Bold> <Bold>and upon the
                likeness of
                the throne was the likeness as the appearance of a man above upon it.</Bold></i> 27 <i>And I saw as
            the colour
            of amber<Bold>,</Bold> as the appearance of fire round about within it<Bold>,</Bold> from the
            appearance
            <Bold>of his loins even upward,</Bold> and from the appearance <Bold>of his loins even
                downward,</Bold> I
            saw as it were the appearance of fire<Bold>,</Bold> and it had brightness round about<Bold>.</Bold></i>
            28
            <i>As the appearance of the bow that is in the cloud in the day of rain<Bold>,</Bold> so was the
                appearance of
                the brightness round about<Bold>.</Bold> This was the appearance of <Bold>the likeness of the
                    glory of the
                    LORD.</Bold> And when I saw it<Bold>,</Bold> I fell upon my face<Bold>,</Bold> and I heard
                a voice
                of one that spake</i><Bold>."</Bold> (Ezk 1<Bold>:</Bold>26-28)</Paragraph>
        <Paragraph><Bold>Daniel also, in his vision of 7:9</Bold> describes God saying <Bold>"</Bold>…<i>the
            <Bold>Ancient</Bold> of days did <Bold>sit</Bold></i><Bold>,</Bold>…<Bold>",</Bold>
            comparing it
            thus<Bold>,</Bold> as much in his form as in his action<Bold>,</Bold> to that which looks and does a
            human
            being<Bold>.</Bold> Further on in the verse<Bold>,</Bold> the prophet<Bold>,</Bold> describing
            God in
            the form in which he saw Him mentions <Bold>His head and His hair.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>I beheld till the thrones were cast down<Bold>,</Bold> and <Bold>the Ancient of
            days did
            sit,</Bold> whose garment was white as snow<Bold>,</Bold> and the <Bold>hair</Bold> of his
            <Bold>head</Bold> like the pure wool<Bold>;</Bold> his throne was like the fiery
            flame<Bold>,</Bold> and
            his wheels as burning fire</i><Bold>."</Bold> (Dan 7<Bold>:</Bold>9)</Paragraph>
        <Paragraph><Bold>In Rev 4:2-3</Bold> John describes the vision that he had of God<Bold>,</Bold> in the same form
            that
            the previous prophets<Bold>:</Bold> he mentions a throne<Bold>,</Bold> says that there was <Bold>one
                seated,</Bold> then he says <Bold>"</Bold>…and he that sat…<Bold>",</Bold> with which we
            realize that
            he is not seeing a cloud or something formless<Bold>,</Bold> but somebody resembling a human being
            <Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>2 <i>and immediately I was in the spirit<Bold>;</Bold> and<Bold>,</Bold>
            behold<Bold>,</Bold> a throne was set in heaven<Bold>,</Bold> and <Bold>one sat on the
                throne.</Bold></i> 3 <i>And <Bold>he that sat</Bold> was to look upon like to jasper and to
            sardine
            stone<Bold>;</Bold> and there was a rainbow round about the throne<Bold>,</Bold> in sight like unto
            an
            emerald</i><Bold>."</Bold> (Rv 4<Bold>:</Bold>2-3)</Paragraph>
        <Paragraph><Bold>If they all saw God with the same aspect that any human being has, it is because God is like
            this.</Bold>
            There are some who argue that God cannot have form<Bold>,</Bold> because one of the commandments is not
            to make
            images of God<Bold>.</Bold> That is not a valid argument<Bold>,</Bold> because <Bold>Christ does
                not want
                them to make images of him either and however, that does not mean that Christ did not have
                form.</Bold>
            Therefore<Bold>,</Bold> the fact that God does not want images to be made of Him does not imply that He
            does not
            have form<Bold>.</Bold></Paragraph>
        <Paragraph> Others base their obstinacy on saying that God is spirit<Bold>,</Bold> and that a spirit does not have
            form<Bold>.</Bold> On what place of the Bible are they based to say that a spirit does not have
            form<Bold>?</Bold> The angels are spirits and have the same form as the humans<Bold>.</Bold> In Job
            4<Bold>:</Bold>16 a spirit is mentioned saying that he has a face<Bold>.</Bold> That
            is<Bold>,</Bold> he
            resembles a human being<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>There is not a single verse in the entire Bible that says that God does not have form,</Bold> but
            there are
            many that describe him with the same form in which He created us<Bold>.</Bold> It is logical to be
            so<Bold>,</Bold> that way when we meet with Him<Bold>,</Bold> we are not going to be frightened
            because of
            His aspect<Bold>,</Bold> for we are already familiar to see beings of that form<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    