---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Auto Manufacturer">
    <Content>
        <Paragraph><Bold>The auto manufacturer</Bold></Paragraph>
        <Paragraph> The one who leads an automobile manufacture<Bold>,</Bold> the chief engineer<Bold>,</Bold> knows how
            the car
            was made<Bold>,</Bold> what the car can do<Bold>,</Bold> what it cannot do<Bold>,</Bold> what
            type of
            gasoline should use<Bold>,</Bold> what number and type of oil must be used with it<Bold>,</Bold>
            what air
            pressure the tires take<Bold>,</Bold> etc..</Paragraph>
        <Paragraph> As a conscious person's duty this chief engineer writes up a pamphlet where he explains all those details to
            the
            buyers. The one who follows all the recommendations is going to enjoy a good car for many
            years<Bold>;</Bold>
            the one who rejects them sooner or later will pay for his disobedience.</Paragraph>
        <Paragraph> However<Bold>,</Bold> there are those who follow some recommendations and not others. If we take good
            care of
            the engine but not the interior or the exterior<Bold>,</Bold> the car will function perfectly but will
            look
            deteriorated. If we take care of the seats and the outside<Bold>,</Bold> but we ignore the engine and
            the
            mechanical parts<Bold>,</Bold> the car will look like new<Bold>,</Bold> but will not serve any
            purpose<Bold>,</Bold> it will not run well. <Bold>Just as well, if we obey some of God's laws and not
                others,
                we will do well in certain things but not in others.</Bold></Paragraph>
        <Paragraph> God's laws are good for guiding us in life and save us from pain and sufferings.</Paragraph>
        <Paragraph><Bold>Many years ago a friend of mine, a good mechanic,</Bold> saw me putting cheap oil in my car and
            advised me
            to use the most expensive one I could afford. Since I know about physics<Bold>,</Bold> I knew that the
            most
            important property of oil is its viscosity<Bold>,</Bold> and the cheap oil had it<Bold>,</Bold> so I
            did not
            pay attention to my friend's advice. It is better for the unlearned who listen to the counsel of the learned<Bold>,</Bold>
            than for one who knows something and thinks he knows everything. That is what happened to me.</Paragraph>
        <Paragraph> After three or four years the car engine died and<Bold>,</Bold> of course<Bold>,</Bold> I went to
            see my
            friend who found me another engine<Bold>,</Bold> and changed it between the both of us<Bold>,</Bold>
            but I
            didn't even remember his advice. Just out of curiosity my friend opened the old engine to see why it had
            burned.
            When he saw the strainer of the in taking oil tube<Bold>,</Bold> he noticed that it was almost totally
            clogged
            up by hardened carbon. Then he told me I should use the more expensive oils because they have a carbon
            solvent that
            prevents accumulation. He did not remember he had given me that advice four years before<Bold>,</Bold>
            even
            though he did not tell me then that the reason I should use the more expensive oil was because it had the
            carbon
            solvents.</Paragraph>
        <Paragraph> When he gave me the first advice I thought I knew enough<Bold>,</Bold> I did not want to pay attention
            to him
            who knew better than I<Bold>,</Bold> and I paid the consequences for it.</Paragraph>
        <Paragraph><Bold>In the same manner God gives us his commandments, and some times does not explain why we should obey
            them.</Bold> We<Bold>,</Bold> think we know better and we don't obey those little precepts and
            <Bold>"</Bold>insignificant<Bold>"</Bold> commandments thinking that they were for
            <Bold>"</Bold>the
            people of old<Bold>,"</Bold> or thinking that they are obsolete. Then<Bold>,</Bold> when our
            <Bold>"</Bold>engine<Bold>"</Bold> breaks down<Bold>,</Bold> instead of admitting that it
            happened
            because we did not obey some commandment<Bold>,</Bold> we foolishly say<Bold>,</Bold>
            <Bold>"</Bold>they
            are trials<Bold>,</Bold> brother<Bold>,"</Bold> instead of rectifying our behavior and obeying God's
            laws.
            That is why we continue suffering throughout our lives what we want to call
            <Bold>"</Bold>trials<Bold>"</Bold>. <Bold>God's law serves to save us from all that pain.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    