---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="The Tactics Used by the Serpent in Eden are the Same Today">
    <Tag>#96</Tag>
    <Content>
        <Paragraph><Bold>The tactics used by the serpent in Eden are the same today</Bold></Paragraph>
        <Paragraph> I the Garden of Eden the serpent said that what God said could not be eaten<Bold>,</Bold>
            could<Bold>,</Bold> in fact<Bold>,</Bold> be eaten<Bold>.</Bold> Today<Bold>,</Bold> the
            same
            serpent says once again that what God says that cannot be eaten<Bold>,</Bold> can<Bold>,</Bold> in
            fact be
            eaten<Bold>.</Bold> This satanic tactics is the same because it brings him results<Bold>,</Bold> why
            change
            it<Bold>?</Bold> Today<Bold>,</Bold> the serpent whispers in the ears of many that Paul said that
            what God
            had commanded not to eat<Bold>,</Bold> in reality<Bold>,</Bold> can be eaten<Bold>.</Bold>
            <Bold>History
                repeats itself, the technique does not change: why change something that brings in results?</Bold></Paragraph>
        <Paragraph> It looks as if we were listening to devilish dialog<Bold>,</Bold> something like<Bold>,</Bold>
            <Bold>"</Bold>So God said<Bold>,</Bold> you cannot eat any meat<Bold>?"</Bold> And humans
            say<Bold>,</Bold> <Bold>"</Bold>We can eat of all clean animals<Bold>,</Bold> like
            cattle<Bold>,</Bold> fish with fins and scales<Bold>,</Bold> clean poultry<Bold>,</Bold>
            etc<Bold>.;</Bold> but animals and fish that are forbidden we cannot eat<Bold>."</Bold> So the
            serpent
            responds<Bold>,</Bold> <Bold>"God knows that the day you eat the forbidden animals you are going to be
                under
                the grace and not under the law."</Bold> And then<Bold>,</Bold> millions of Christians do what the
            serpent
            tells them<Bold>,</Bold> they eat the forbidden animals<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the Index</a></Bold></Paragraph>

    </Content>
</Layout>
    