---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Christians and the two years old boy">
    <Tag>#97</Tag>
    <Content>
        <Paragraph><Bold>Christians and the two years old boy</Bold></Paragraph>
        <Paragraph> God is always ready to protect us and bless us<Bold>,</Bold> but we can lose that protection and
            blessing when
            we bring to him the filth and stench<Bold>.</Bold> These are the things that make the angel that
            represents Him
            flee from the place we live<Bold>,</Bold> or from the company of the person for whom that protection and
            blessing was directed to<Bold>.</Bold> In the category of stenches that set God or his angels apart from
            us<Bold>,</Bold> are<Bold>,</Bold> among others<Bold>,</Bold> the shedding of innocent
            blood<Bold>,</Bold> fornication<Bold>,</Bold> sexual pollution<Bold>,</Bold>
            abortion<Bold>,</Bold>
            unnatural practices in any sense<Bold>,</Bold> idolatry<Bold>,</Bold> sodomy<Bold>,</Bold>
            witchcraft<Bold>,</Bold> spiritualism<Bold>,</Bold> dishonest gain of benefits or
            money<Bold>,</Bold>
            believing that others are less valuable than us<Bold>,</Bold> lying<Bold>,</Bold> and everything
            that goes
            against any divine ordinance or against something that at any light is natural<Bold>,</Bold> holy and
            honest<Bold>.</Bold></Paragraph>
        <Paragraph> God wants to give each and every human being a proportionally equal work<Bold>,</Bold> an important
            destiny in
            proportion to their gifts<Bold>.</Bold> <Bold>It is us, human beings who, putting in or letting in
                filth into
                our soul, around us, where we have or should have authority, and in society around us, prevent the
                permanence of
                God's angel next to us, for not obeying His laws.</Bold></Paragraph>
        <Paragraph> Our lack of knowledge and cleanliness with respect to God is like that of a father and his two-year-old
            son<Bold>.</Bold> The father wants to take the boy where he is going<Bold>.</Bold> The child is
            dressed for
            the occasion<Bold>.</Bold> But the son has been playing with mud<Bold>,</Bold> his mouth and hands
            are full
            of chocolate and he has soiled his pants<Bold>.</Bold> The father wants to hug him and carry
            him<Bold>,</Bold> take him with him<Bold>,</Bold> but he can't<Bold>.</Bold> He loves
            him<Bold>...</Bold>but the son force his father to love him<Bold>......</Bold>from
            afar<Bold>.</Bold> He
            can't include him in his affairs<Bold>,</Bold> <Bold>the son does not want to be cleaner than what he
                is.</Bold> The boy likes his play with mud and his chocolates<Bold>,</Bold> and cares very little
            about
            being dirty<Bold>.</Bold> <Bold>He needs to learn</Bold>!</Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    