---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="God gave the Bible for all">
    <Tag>#98</Tag>
    <Content>
        <Paragraph><Bold>God gave the Bible so that all may understand it, not only the learned</Bold></Paragraph>
        <Paragraph> The prophecies and doctrines in the Bible are clear<Bold>;</Bold> anyone can understand them without
            having to
            have studied theology<Bold>,</Bold> Greek<Bold>,</Bold> Hebrew<Bold>,</Bold>
            hermeneutics<Bold>,</Bold> etc<Bold>.,</Bold> nor having to graduate from a
            seminary<Bold>.</Bold> God
            does not give His revelations so that only a few experts can understand them<Bold>.</Bold> He gives them
            so that
            fishermen and all his children may have access to the truth<Bold>,</Bold> <Bold>if indeed they desire
                to know
                the truth.</Bold></Paragraph>
        <Paragraph> The Lord Jesus said once that God had revealed these things to the little and not to the learned and
            expert<Bold>.</Bold> Hence<Bold>,</Bold> we don't necessarily need to be learned or experts to
            understand<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>At that time Jesus answered and said<Bold>,</Bold> I thank thee<Bold>,</Bold> O
            Father<Bold>,</Bold> Lord of heaven and earth<Bold>,</Bold> because thou hast hid these things from
            the wise
            and prudent<Bold>,</Bold> and <Bold>hast revealed them unto babes</Bold></i><Bold>."</Bold> (Mt
            11<Bold>:</Bold>25)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>In that hour Jesus rejoiced in spirit<Bold>,</Bold> and said<Bold>,</Bold> I
            thank
            thee<Bold>,</Bold> O Father<Bold>,</Bold> Lord of Heaven and Earth<Bold>,</Bold> that thou hast
            hid
            these things from the wise and prudent<Bold>,</Bold> and <Bold>hast revealed them unto babes;</Bold>
            even so<Bold>,</Bold>
            Father<Bold>;</Bold> for so it seemed good in thy sight</i><Bold>."</Bold> (Lk 10<Bold>:</Bold>21)
        </Paragraph>
        <Paragraph><Bold>"To clearly understand a biblical truth takes a child; to complicate it, obscure it, and twist it,
            takes a
            theologian".</Bold></Paragraph>
        <Paragraph><Bold> Let's be alert so that we may remain honest when we discuss our beliefs. Let's avoid setting
            dogmas.</Bold> In most cases those believers that discuss a subject limit themselves to setting dogmas
            about their
            opinions and beliefs<Bold>.</Bold> In other words they assert their opinions so that they may be
            believed
            without a friendly discussion of the subject<Bold>.</Bold> It is the attitude of <Bold>"</Bold>believe
            what
            I say<Bold>,</Bold> because I know more than you<Bold>",</Bold> or because <Bold>"</Bold>I have
            an
            inspiration that comes from beyond<Bold>".</Bold> This is a common attitude in
            everyone<Bold>,</Bold> but is
            a more prevalent inclination when we are dealing with religious beliefs<Bold>,</Bold> because many of
            the
            believers think that they have received<Bold>,</Bold> by <Bold>"</Bold>direct
            connection<Bold>"</Bold>
            from the regions beyond<Bold>,</Bold> the revelation that what they are thinking is the
            truth<Bold>.</Bold>
        </Paragraph>
        <Paragraph> These brethren do not realize that <Bold>if, in effect, the Holy Spirit had placed in their hearts or
            minds that
            thought or doctrine that they now have,</Bold> He would have also given them words and wisdom to be able
            to
            support that belief<Bold>,</Bold> as our Lord Jesus Christ promises in Luke
            21<Bold>:</Bold>15<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>For <Bold>I will give you a mouth and wisdom,</Bold> which all your adversaries
            shall not be
            able to gainsay nor resist</i><Bold>."</Bold> (Lk 21<Bold>:</Bold>15)</Paragraph>
        <Paragraph> In other words<Bold>,</Bold> when our beliefs were truly inspired by the Holy Spirit<Bold>,</Bold>
            we also
            receive the gift of effective defense of what we believe and with solid arguments<Bold>.</Bold> We must
            not
            engage in a mutual swapping of Scripture portions<Bold>,</Bold> but rather demonstrate that our friend's
            biblical quotes are erroneously applied<Bold>;</Bold> and at the same time<Bold>,</Bold> that our
            quotes
            make sense<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>If we cannot support it, or if we avoid friendly discussion with our brethren,</Bold> it is because
            inside
            ourselves we know that the idea is only our own<Bold>,</Bold> it is not a case of heavenly
            inspiration<Bold>.</Bold> But we like to engage in that harmful fantasy<Bold>.</Bold> We should
            never avoid
            discussing our faith and hope<Bold>,</Bold> since the apostle Peter challenges us to act in this
            way<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>But sanctify the Lord God in your hearts<Bold>,</Bold> and <Bold>be ready always
            to give
            an answer to every man that asketh you a reason of the hope that is in you with meekness and
            fear</Bold></i><Bold>"</Bold> (I P 3<Bold>:</Bold>15)</Paragraph>
        <Paragraph><Bold>"Discussions are like light, they only bother those that prefer darkness"</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    