---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="What does 'Ye have heard that it hath been said' mean?">
    <Content>
        <Paragraph><Bold>What does "Ye have heard that it hath been said" mean?</Bold></Paragraph>
        <Paragraph> In Matthew 5<Bold>:</Bold>21 &amp; 33 we see the expression <Bold>"Ye have heard that it hath been
            said"</Bold>
            and many brothers take this to mean<Bold>,</Bold> <Bold>"you heard God ordered through the
                law".</Bold> That
            is why many get the wrong idea that <Bold>"before",</Bold> God said something to the
            Jews<Bold>,</Bold> but
            <Bold>"now"</Bold> he changed his mind and tells Christians the opposite<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>As saith <Bold>the proverb of the ancients,</Bold> Wickedness proceedeth from the
            wicked<Bold>;</Bold> but mine hand shall not be upon thee</i><Bold>".</Bold> (I Sam
            24<Bold>:</Bold>13)
        </Paragraph>
        <Paragraph><Bold>Here in Samuel we see the same expression,</Bold> which clearly refers precisely to
            that<Bold>,</Bold>
            <Bold>"</Bold>someone<Bold>",</Bold> and not to God's law<Bold>.</Bold> From that error of
            appreciation
            comes the idea<Bold>,</Bold> in part<Bold>,</Bold> that the doctrine that God took for
            good<Bold>,</Bold> <Bold>"before"</Bold> is not good <Bold>"now".</Bold></Paragraph>
        <Paragraph> Equally<Bold>,</Bold> when in Matthew 5<Bold>:</Bold>43 Jesus said<Bold>,</Bold>
            <Bold>"</Bold>Ye
            have heard that it hath been said…<Bold>",</Bold> it means just that<Bold>,</Bold>
            <Bold>"</Bold>has
            been said<Bold>".</Bold> It means that someone before that time<Bold>,</Bold> said such
            things<Bold>,</Bold> it doesn't mean that God said such thing in the law<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>In the verse we just mentioned, Jesus said that "it was said" you should hate your enemy.</Bold> In
            my
            opinion Jesus is referring to some old saying or a proverb from Jewish <Bold>tradition,</Bold> which
            <Bold>for
                sure</Bold> had no scriptural basis<Bold>.</Bold> I say that<Bold>,</Bold> because Jesus
            didn't say
            that God said it<Bold>,</Bold> but that <Bold>"</Bold>it was said<Bold>",</Bold> just like
            that<Bold>.</Bold> Besides<Bold>,</Bold> there is <Bold>no verse whatsoever in the Old Testament
                that says
                such a thing.</Bold> The closest one is Deuteronomy 23<Bold>:</Bold>6<Bold>,</Bold> which
            doesn't say
            to hate them<Bold>,</Bold> but it refers only to the Ammonites and the Moabites<Bold>,</Bold> as we
            will see
            later<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Besides, the spirit of the Scriptures in the Old Testament is always the opposite.</Bold> Always
            one of
            loving your neighbor<Bold>,</Bold> both<Bold>,</Bold> the national<Bold>,</Bold> the
            foreign<Bold>,</Bold> our friends<Bold>,</Bold> and our enemies<Bold>,</Bold> as we can see in
            Exodus 22<Bold>:</Bold>21<Bold>;</Bold>
            23<Bold>:</Bold>4<Bold>,</Bold> 5 and 9<Bold>;</Bold> and Leviticus
            19<Bold>:</Bold>17-18<Bold>.</Bold> Let's see<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Ye have heard that it hath been said<Bold>,</Bold> Thou shalt love thy
            neighbour<Bold>,</Bold> and <Bold>hate thine enemy</Bold></i><Bold>".</Bold> (Mt
            5<Bold>:</Bold>43)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>3 <Bold>An Ammonite or Moabite shall not enter into the congregation of the
            LORD;</Bold> <i>even
            to their tenth generation shall they not enter into the congregation of the LORD for ever… 6 <Bold>Thou
                shalt not
                seek their peace nor their prosperity all thy days for ever</Bold></i><Bold>".</Bold> (Dt
            23<Bold>:</Bold>3-6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Thou shalt neither vex a stranger, nor oppress him,</i></Bold> <i>for ye were strangers in the
            land of
            Egypt</i><Bold>"</Bold> (Ex 22<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>If thou meet <Bold>thine enemy's ox or his ass going astray, thou shalt surely bring
            it back
            to him again. 5 If thou see the ass of him that hateth thee lying under his burden, and wouldest forbear to
            help
            him, thou shalt surely help with him</Bold></i><Bold>".</Bold> (Ex 23<Bold>:</Bold>4-5)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Also <Bold>thou shalt not oppress a stranger,</Bold> for ye know the heart of a
            stranger<Bold>,</Bold> seeing ye were strangers in the land of Egypt</i><Bold>".</Bold> (Ex
            23<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>Thou shalt not hate</Bold> <i>thy brother in thine heart<Bold>;</Bold>
            thou shalt
            in any wise rebuke thy neighbour<Bold>,</Bold> and not suffer sin upon him<Bold>.</Bold> 18 <Bold>Thou
                shalt not avenge, nor bear any grudge</Bold> against the children of thy people<Bold>,</Bold> but
            thou
            shalt love thy neighbour as thyself<Bold>:</Bold> I am the LORD</i><Bold>".</Bold> (Lev
            19<Bold>:</Bold>17-18)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> As we saw in these passages<Bold>,</Bold> what God's law said was very different than what the ancients
            said<Bold>.</Bold> Who knows who were the ones who said such things<Bold>,</Bold> maybe proverb
            writers<Bold>.</Bold></Paragraph>
        <Paragraph> In my opinion<Bold>,</Bold> what happened in the case of the twisting that the Jews did in the time of
            Christ is
            that<Bold>,</Bold> as always<Bold>,</Bold> on one hand<Bold>,</Bold> the
            people<Bold>,</Bold> due to
            their wrongful intentions<Bold>,</Bold> and on the other<Bold>,</Bold> <Bold>the religious clicks,
                because
                of their own interests, deform and adapt the interpretation of the Scriptures, and in some cases the
                Scriptures
                themselves.</Bold></Paragraph>
        <Paragraph> It is something similar to what happens today with Catholics and the Ten Commandments<Bold>,</Bold> in
            which
            even that one of them specifically talks against idolatry<Bold>,</Bold> they can't see it in spite of
            its
            clarity<Bold>.</Bold> Or in the case of Protestants with God's law in general<Bold>,</Bold> but
            particularly
            with the Sabbath<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="biblenotes.html">Back to the index</a></Bold></Paragraph>

    </Content>
</Layout>
    