---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El profeta Elías vendrá antes de la Segunda Venida de Cristo">
    <Title>Elías vendrá antes de la Segunda Venida de Cristo</Title>

    <Tag>#5</Tag>
    <Content>
        
        <Paragraph> Está bien claramente dicho en la Biblia que el profeta Elías, que nunca llegó a morir, regresará poco antes
            de la
            Segunda Venida de Cristo. En la misma forma en que los discípulos de la época de Jesús estaban confundidos,
            porque no
            veían a Elías venir antes del Mesías (Cristo), así también muchos cristianos modernos están confundidos al
            creer que
            Elías era San Juan Bautista. Este profeta no era Elías, como él mismo asegura bien claramente en Jn 1:
            21.</Paragraph>
        <Paragraph><Bold>"Y le preguntaron: ¿Qué pues? ¿Eres tú Elías? Dijo: No soy.".</Bold></Paragraph>
        <Paragraph> Si Juan Bautista hubiera sido Elías, él no lo hubiera negado. Juan Bautista tenía el espíritu y la virtud de
            Elías,
            como dice Lc 1:17, y por eso Jesús dijo que él era "el Elías" que había de venir antes del Señor, en la
            época de su
            Primer Advenimiento. No obstante, Jesús mismo dijo que si bien Juan Bautista era el profeta "eliásico" que
            había de
            venir en su Primer Advenimiento, todavía, <Bold>al final de los tiempos, vendría el verdadero
                Elías</Bold>. Veamos
            lo que Jesús dijo al respecto.</Paragraph>
        <Paragraph> "<i>Entonces sus discípulos le preguntaron, diciendo: '¿Por qué dicen pues los</i> <i> escribas que es
            menester que
            Elías venga primero?' " Y respondiendo Jesús, les</i> <i> dijo: <Bold>'A la verdad, Elías vendrá primero y
            restituirá todas las cosas.</Bold> Mas os digo</i> <i> que ya vino Elías, y no le conocieron; antes
            hicieron en él
            todo lo que quisieron.</i> <i> Así también el Hijo del Hombre padecerá de ellos. Los discípulos entonces</i>
            <i>
                entendieron que les habló de Juan el Bautista<Bold>.</Bold></i>' " (Mateo 17: 10-13).</Paragraph>
        <Paragraph> Si bien la mayoría (al menos todos los que yo conozco) interpreta de este pasaje que Juan Bautista era
            Elías, nadie,
            que yo sepa, interpreta de aquí que Jesús dice claramente que Elías <Bold>vendrá</Bold> (futuro) y
            <Bold>restituirá</Bold>
            (futuro de nuevo), todas las cosas. <Bold>Fíjense que cuando se refiere al verdadero Elías, lo hace en
                futuro</Bold> (vendrá, restituirá), pero cuando se refiere a Juan Bautista lo hace en pasado (ya vino,
            no le
            conocieron, hicieron). Si vamos a Mr 9:12 veremos de nuevo que cuando se refiere a Elías lo hace en futuro:
        </Paragraph>
        <Paragraph><i>"…Elías a la verdad, viniendo antes, <Bold>restituirá</Bold>…".</i></Paragraph>
        <Paragraph> De estos dos pasajes se deduce, sin forzar el razonamiento, que <Bold>Cristo admitía que Elías aún estaba
            por
            venir</Bold>. Pero no es esto solamente. Vamos a las profecías originales, vamos a Malaquías 3:1 donde se
            profetiza
            la misión de Juan Bautista durante la Primera Venida de Cristo, y vamos a Malaquías 4:5-6 donde se profetiza
            la venida
            de Elías y su misión antes de la Segunda Venida de Cristo.</Paragraph>
        <Paragraph> "<i>He aquí yo envío <Bold>mi mensajero</Bold>, el cual preparará el camino delante de mí,</i> <i> y
            <Bold>luego
                vendrá a su templo el Señor</Bold> a quien vosotros buscáis</i>…". (Malaquías 3:1)</Paragraph>
        <Paragraph> En este versículo se le llama <Bold>"mi mensajero"</Bold> a aquel cuya venida y misión está
            profetizando.
            <Bold>No le llama Elías.</Bold> Además, dicen bien claramente que su pacífica misión era preparar el
            camino
            delante de Cristo, y que <Bold>después de esa misión es que Cristo vendría a su Templo.</Bold> O sea, se
            habla de
            este mensajero como de un hombre que va a venir <Bold>en la época en que Jesús iba a entrar en el Templo
                de
                Jerusalem,</Bold> un mensajero que iba a venir en la época en que aún se podía entrar en el Templo,
            porque aún
            éste no estaba destruido. (El Templo fue destruido en el año 70 DC.) No venía este mensajero en una misión
            de castigo,
            sino con la misión de anunciar y preparar la pacífica llegada de Nuestro Señor. Muy diferente es la otra
            profecía.
            Veamos.</Paragraph>
        <Paragraph> "<i>He aquí <Bold>yo envío a Elías el profeta</Bold> antes que venga <Bold>el día de Jehová
            grande</Bold></i> <Bold> y terrible.</Bold> <i>El convertirá el corazón de los padres a los hijos, y
            el corazón
            de los</i> <i> hijos a los padres, no sea que <Bold>yo venga y con destrucción hiera la
            tierra</Bold></i><Bold>.</Bold>". ( Malaquías 4:5-6 )</Paragraph>
        <Paragraph> Aquí vemos un cuadro muy diferente. Primero, Malaquías <Bold>llama por su nombre propio al enviado, le
            llama
            Elías</Bold>, y como para que no haya dudas, aclara que es <Bold>"el profeta",</Bold> como para que no
            se
            confundan con otro Elías. Luego dice que <Bold>su misión va a tener lugar antes de que venga el día de
                Jehová grande
                y terrible.</Bold> Esa descripción no se aviene a la Primera Venida de Cristo. Su Primera Venida fue
            un suceso
            extremadamente pacífico, sin dramatismos, un suceso que no tenía nada de terrible, como sí lo tendrá su
            Segunda
            Venida. En su Primera Venida Cristo no venía ni por un momento a destruir ni a herir la tierra, sino a
            salvarla, a
            sufrir por ella. Por lo tanto no puede estar hablando este pasaje de Juan Bautista durante la Primera Venida
            de
            Cristo, sino de Elías durante la Segunda Venida del Señor. Por el análisis de ambos pasajes, se ve que están
            hablando
            de dos personajes diferentes que tendrían una misión parecida (ser precursores), en una época muy diferente
            cada uno.
            El primero es Juan Bautista, para la época de la Primera Venida, el segundo es Elías el Profeta, para la
            época del
            fin. Incluso cuando Cristo identifica a Juan Bautista en Mt 11:10, lo identifica usando las palabras de Mlq
            3:1 y no
            las de Mlq 4:5-6. Veamos:</Paragraph>
        <Paragraph> "<i>Porque este es de quien está escrito: 'He aquí <Bold>yo envío mi mensajero</Bold> delante</i> <i> de
            tu faz,
            que aparejará el camino delante de ti</i>.' ". ( Mt 11:10 )</Paragraph>
        <Paragraph> Esto nos confirma que es el primer pasaje (Malaquías 3:1) el que habla de Juan Bautista, no el segundo
            (Malaquías 4:
            5-6).</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>

    </Content>
</Layout>
    