---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La Santidad en el Cristiano">
    <Tag>#100</Tag>
    <Content>
        <Paragraph><Bold>La Santidad en el Cristiano</Bold></Paragraph>
        <Paragraph> El llegar a alcanzar la santidad del alma debía ser la meta de toda persona que se convierte a
            Dios<Bold>.</Bold> Ese no es un tema agradable a tratar<Bold>,</Bold> porque el ser
            humano<Bold>,</Bold>
            por lo general<Bold>,</Bold> desea seguir haciendo lo que a él le da la gana<Bold>,</Bold> a pesar
            de
            haberse convertido a Cristo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>A mucha gente le gusta escuchar sermones, y asistir a iglesias en donde les digan que ellos pueden
            continuar
            siendo viles y degenerados, sin dejar por ello de ser salvos, porque estamos bajo la gracia.</Bold></Paragraph>
        <Paragraph> Por ese motivo<Bold>,</Bold> el hablar de este tema no es agradable a todo el mundo<Bold>,</Bold>
            porque no
            voy a tratar cosas de las que el humano quiere enterarse<Bold>,</Bold> sino de aquello que casi nadie
            quiere
            escuchar<Bold>,</Bold> porque no le halaga el ego<Bold>.</Bold> Trataré de cosas que no atraen
            donantes a
            los bancos de la iglesia<Bold>,</Bold> sino de aquello que la santifica<Bold>.</Bold> Es propio del
            amor
            cristiano el decir estas cosas aunque no sean agradables al oído<Bold>.</Bold></Paragraph>
        <Paragraph> Una de las cosas necesarias para llegar a la santidad es enterarnos de lo que Dios quiere del humano y
            <Bold>obedecerlo.</Bold>
            Para ello hay que leer o escuchar la Palabra de Dios<Bold>,</Bold> que está contenida en la
            Biblia<Bold>.</Bold></Paragraph>
        <Paragraph> Son muchos los que quisieran ser médicos<Bold>,</Bold> abogados o ingenieros<Bold>;</Bold> pero son
            pocos
            los que se disponen a sacrificar sus placeres y otras cosas<Bold>,</Bold> para usar ese tiempo en
            estudiar una
            carrera universitaria<Bold>.</Bold> Ellos quisieran tener un doctorado<Bold>,</Bold> pero si los
            conocimientos<Bold>,</Bold> por sí solos<Bold>,</Bold> se les metieran en la
            cabeza<Bold>,</Bold> sin
            tener ellos que estudiar<Bold>.</Bold></Paragraph>
        <Paragraph> Igualmente<Bold>,</Bold> son muchos los hermanos que quisieran saber correctamente las doctrinas de
            nuestra fe
            cristiana<Bold>,</Bold> pero son muy pocos los que se disponen a sacrificar sus placeres y otras
            cosas<Bold>,</Bold> para usar ese tiempo en leer la palabra de Dios<Bold>.</Bold> Ellos quisieran
            saberse la
            Biblia de Génesis a Apocalipsis<Bold>,</Bold> pero únicamente si esos conocimientos se les metieran en
            la cabeza
            por sí solos<Bold>,</Bold> sin tener ellos que leer la Biblia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La mayoría lo que hace es leer libros que "explican" la Biblia</Bold> según el pensar y sentir de
            los
            autores<Bold>;</Bold> pero muy pocos están dispuestos a leer la Biblia de Génesis a
            Apocalipsis<Bold>,</Bold> sin saltos<Bold>,</Bold> aunque sea veinte veces<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Al leer libros que "explican" la Biblia,</Bold> pudiera el hermano obtener algunos buenos
            conocimientos
            sobre la Escritura<Bold>,</Bold> pero también pudiera obtener los errores que sustente el autor del
            libro<Bold>.</Bold> La Biblia fue inspirada por el Espíritu Santo<Bold>,</Bold> los libros que
            <Bold>"</Bold>explican<Bold>"</Bold> la Biblia<Bold>,</Bold> no<Bold>.</Bold> <Bold>Si
                ustedes
                leen 5 ó 3 capítulos diarios (que no es mucho pedir) van a poder leer la Biblia completa en 8 meses o un
                año,</Bold> según lean cinco capítulos o tres capítulos<Bold>.</Bold></Paragraph>
        <Paragraph> Si ustedes tienen un manantial cercano<Bold>,</Bold> lo mejor que hacen es ir hasta allí y beber de ese
            manantial<Bold>.</Bold> No es sabio que otros les traigan un poco de agua en sus sucias
            manos<Bold>,</Bold>
            para que ustedes la beban<Bold>.</Bold> Si alguna suciedad han de beber ustedes<Bold>,</Bold> que
            sea la de
            sus propias manos<Bold>,</Bold> no las de las manos ajenas<Bold>.</Bold> Lean ustedes mismos la
            Biblia<Bold>,</Bold> no la cambien por libros que <Bold>"</Bold>hablan sobre la
            Biblia<Bold>".</Bold>
            Esos libros pueden ser un <Bold>suplemento</Bold> de la lectura de la Biblia<Bold>,</Bold> nunca un
            <Bold>complemento,</Bold>
            y mucho menos un <Bold>sustituto.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    