---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La Ignorancia no es Excusa para el Pecado">
    <section>
        <Paragraph><Bold>La ignorancia de la Ley de Dios no es excusa para pecar contra ella. El siervo que ignoraba la
            voluntad de su
            amo será azotado poco, pero aún así será azotado</Bold></Paragraph>
        <Paragraph> Al leer Lv 4<Bold>:</Bold>13 nos percatamos de que aunque una persona ignore la comisión de un
            pecado<Bold>,</Bold> no por eso deja de ser culpable<Bold>.</Bold> Es decir<Bold>,</Bold> si una
            persona
            comete un pecado sin saber que eso es pecado<Bold>,</Bold> aún así es culpable<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y si toda la congregación de Israel <Bold>hubiere errado,</Bold> y el negocio
            <Bold>estuviere
                oculto</Bold> <Bold>a los ojos del pueblo,</Bold> y hubieren hecho algo contra alguno de los
            mandamientos de
            Jehová en cosas que no se han de hacer<Bold>,</Bold> y <Bold>fueren
                culpables</Bold></i><Bold>"</Bold>
            (Lv 4<Bold>:</Bold>13)</Paragraph>
        <Paragraph> Esté o no consciente de que lo que estaba haciendo era pecado<Bold>,</Bold> si el acto por él realizado
            era
            pecaminoso<Bold>,</Bold> él será culpable<Bold>.</Bold> Como vemos<Bold>,</Bold> no existe para
            el
            pecado la excusa de la ignorancia<Bold>.</Bold> <Bold>Nuestro deber es averiguar, indagar por el Ser
                Supremo
                para ver si de alguna manera, aunque sea palpando, le hallamos.</Bold> Nuestra obligación es indagar
            por Sus
            leyes<Bold>,</Bold> tratar de averiguar las reglas antes de actuar<Bold>.</Bold> <Bold>Si por
                darle poca
                importancia a Dios y Sus reglamentaciones,</Bold> no las averiguamos<Bold>,</Bold> no las
            conocemos<Bold>,</Bold> y actuamos contra ellas<Bold>,</Bold> ese es problema
            nuestro<Bold>.</Bold> En
            Levítico 4<Bold>:</Bold>27-28 y 5<Bold>:</Bold>17 se expresa la misma idea<Bold>.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y si alguna persona del común del pueblo <Bold>pecare por yerro,</Bold> haciendo
            algo contra
            alguno de los mandamientos de Jehová en cosas que no se han de hacer<Bold>,</Bold> y
            <Bold>delinquiere</Bold></i><Bold>"</Bold> (Lv 4<Bold>:</Bold>27)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Finalmente<Bold>,</Bold> <Bold>si una persona pecare,</Bold> o hiciere alguna de
            todas
            aquellas cosas que por mandamiento de Jehová no se han de hacer<Bold>,</Bold> <Bold>aun sin hacerlo a
                sabiendas, es culpable, y llevará su pecado</Bold></i><Bold>."</Bold> (Lv 5<Bold>:</Bold>17)
        </Paragraph>
        <Paragraph> Bien es verdad que el que ignora <Bold>de buena fe</Bold> tiene cierta circunstancia
            atenuante<Bold>,</Bold>
            pero nunca eximente<Bold>.</Bold> Esto se comprueba en Lc 12<Bold>:</Bold>47-48<Bold>,</Bold>
            donde el
            mismo Señor Jesucristo dice que el siervo que no entendió<Bold>,</Bold> y por no haber entendido hizo
            cosas
            dignas de azotes<Bold>,</Bold> <Bold>será azotado poco.</Bold> Es decir<Bold>,</Bold> que al que
            sabía
            que lo que estaba haciendo era malo<Bold>,</Bold> y aún así lo hacía<Bold>,</Bold> le darán muchos
            azotes<Bold>;</Bold> mientras que al que sinceramente desconocía<Bold>,</Bold> <Bold>le darán
                pocos
                azotes,</Bold> no tantos como al que sí conocía<Bold>;</Bold> <Bold>pero también lo
                azotarán.</Bold>
            Se ve claramente que la ignorancia es una atenuante<Bold>,</Bold> pero no una eximente<Bold>.</Bold>
            (Atenuante significa que disminuye el castigo<Bold>;</Bold> eximente que lo anula
            completamente)<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque <Bold>el siervo que entendió la voluntad de su señor,</Bold> y no se
            apercibió<Bold>,</Bold> ni hizo conforme a su voluntad<Bold>,</Bold> <Bold>será azotado
                mucho.</Bold>
            Mas <Bold>el que no entendió,</Bold> e hizo cosas dignas de azotes<Bold>,</Bold> <Bold>será
                azotado
                poco;</Bold> porque a cualquiera que fue dado mucho<Bold>,</Bold> mucho será vuelto a demandar de
            él<Bold>;</Bold> y al que encomendaron mucho<Bold>,</Bold> más le será pedido</i><Bold>."</Bold>
            (Lc
            12<Bold>:</Bold>47-48)</Paragraph>
        <Paragraph><Bold>Concretando,</Bold> la ignorancia de buena fe<Bold>,</Bold> de los mandamientos de Dios
            <Bold>no</Bold> libra a nadie de la penalidad por transgredirlos<Bold>,</Bold> lo más que hace es
            disminuirle esa penalidad<Bold>.</Bold></Paragraph>
        <Paragraph>Sépanlo así los inconversos que tratan de no aprender de Dios para después alegar
            ignorancia<Bold>,</Bold> así
            como los convertidos que no quieren indagar mucho sobre si se debe o no cumplir los mandamientos de
            Dios<Bold>,</Bold> con la esperanza de poder alegar ignorancia de buena fe<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    