---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Consecuencias de creer o no en el rapto">
    <Title>Creer o no en un "rapto" anterior a la Gran Tribulación puede llegar a ser cuestión de vida o muerte,
            de
            tortura o libertad.</Title>

    <Tag>#102</Tag>
    <Content>
        
        <Paragraph> Va a haber un arrebatamiento de los cristianos durante la Segunda Venida<Bold>,</Bold> pero no un rapto
            anterior
            a la Gran Tribulación<Bold>.</Bold> Los hermanos que creen en un rapto anterior a la Gran Tribulación
            deben
            analizar muy detenidamente ese asunto<Bold>,</Bold> pues <Bold>puede llegar a ser una cuestión de vida
                o
                muerte, de tortura o libertad para él y su familia.</Bold> Es como tener encima de ellos la sangre de
            sus
            familiares<Bold>,</Bold> por la necedad de no investigar concienzudamente<Bold>,</Bold> sin
            prejuicios ni
            apasionamientos<Bold>,</Bold> este asunto del imaginario rapto<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si esos hermanos son predicadores, tienen entonces una doble responsabilidad, porque además de su
            familia
            tienen encima la sangre de aquellos a quienes engañaron,</Bold> y por cuyo engaño esos infelices fueron
            torturados
            y asesinados durante la Gran Tribulación<Bold>.</Bold> <Bold>¡</Bold>Terrible carga de conciencia
            para
            aquellos que predican esa errada doctrina del rapto anterior a la Gran Tribulación<Bold>!</Bold></Paragraph>
        <Paragraph> Yo les advierto claramente sobre la falsedad de esa herética interpretación del <Bold>"</Bold>rapto
            anterior a
            la Gran Tribulación<Bold>",</Bold> y demuestro en el libro <Bold>"</Bold>Rapto Vs<Bold>.</Bold>
            Arrebatamiento<Bold>"</Bold> que esa hipótesis es errada<Bold>,</Bold> y con eso quedo libre de la
            sangre de
            los que quieran cerrar sus ojos a la verdad<Bold>.</Bold></Paragraph>
        <Paragraph> Ya lo advirtió San Pablo muy claramente a la iglesia de los gentiles tesalonicenses<Bold>,</Bold>
            <Bold>para
                que no se dejaran engañar</Bold> con doctrinas como las del rapto<Bold>;</Bold> por lo tanto él
            sabía que
            tratarían de engañar a los hermanos al final del mundo<Bold>:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Empero os rogamos<Bold>,</Bold> hermanos<Bold>,</Bold> <Bold>cuanto a la
            venida de
            nuestro Señor Jesucristo, y nuestro recogimiento a él,</Bold></i> 2 <i>que no os mováis fácilmente de
            vuestro
            sentimiento<Bold>,</Bold> ni os conturbéis ni por espíritu<Bold>,</Bold> ni por
            palabra<Bold>,</Bold> ni
            por carta como nuestra<Bold>,</Bold> como que el día del Señor esté cerca<Bold>.</Bold></i> 3 <i>No
            os
            engañe nadie en ninguna manera<Bold>;</Bold> <Bold>porque no vendrá sin que venga antes la apostasía,
                y se
                manifieste el hombre de pecado, el hijo de perdición,</Bold></i> 4 <i>oponiéndose<Bold>,</Bold> y
            levantándose contra todo lo que se llama Dios<Bold>,</Bold> o que se adora<Bold>;</Bold> tanto que
            se
            asiente en el templo de Dios como Dios<Bold>,</Bold> haciéndose parecer Dios</i><Bold>."</Bold> (II
            Tes
            2<Bold>:</Bold>1- 4)</Paragraph>
        <Paragraph><Bold>Es diferente el riesgo que corren los que creen en el rapto anterior a la Gran Tribulación y riesgo
            de los
            que creen en el arrebatamiento durante la Segunda Venida del Señor.</Bold> Si el rapto anterior a la Gran
            Tribulación fuera cierto<Bold>,</Bold> <Bold>¿</Bold>qué le iba a suceder a los cristianos que
            <Bold>no</Bold> creyeran en eso<Bold>?</Bold> No les sucedería nada<Bold>;</Bold> serían
            raptados junto
            con los otros hermanos que sí creen en el rapto<Bold>.</Bold></Paragraph>
        <Paragraph> Por el otro lado<Bold>,</Bold> si el rapto anterior a la Gran Tribulación es falso<Bold>,</Bold>
            <Bold>¿qué
                le ocurrirá a los que sí creen en ese falso rapto?</Bold> Pues les sucedería que no estarían
            alerta<Bold>;</Bold> y si lo estuvieren<Bold>,</Bold> creerían que no tenían que hacer
            nada<Bold>,</Bold> sino solamente sentarse a esperar a que los rapten<Bold>.</Bold> El terrible daño
            que le
            va a ocasionar a los hermanos esta doctrina del rapto es que en vez de dejarlo todo y trasladarse al
            <Bold>"</Bold>desierto<Bold>",</Bold> donde Dios ha determinado que los amparen<Bold>,</Bold> se
            van a
            quedar esperando donde los puedan agarrar los enemigos<Bold>,</Bold> creyendo esos hermanos que ya el
            rapto es
            inminente<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Puede rectificar su error quien pierda millones por rectificarlo?</Bold> <Bold>¿</Bold>Puede
            una
            compañía que imprima y venda libros a favor del rapto<Bold>,</Bold> ser lo suficientemente honesta como
            para
            dejarse convencer de la falsedad de esta doctrina<Bold>,</Bold> y el terrible daño que ella
            provoca<Bold>?</Bold> <Bold>¿</Bold>Puede una compañía que venda vídeos que presentan en forma
            atractiva los
            supuestos beneficios del falso rapto<Bold>,</Bold> ser lo suficientemente honesta como para dejarse
            convencer de
            la falsedad y daño de lo que ellos venden y predican<Bold>?</Bold> <Bold>¿Pueden ellos echar a la
                basura, por
                amor de sus hermanos, las decenas de millones de dólares</Bold> que tienen invertidos en ese herético
            material<Bold>?</Bold>
            <Bold>Sí, pueden, pero tienen que amar a Dios más que a Mammón.</Bold> <Bold>¿</Bold>Podrían tener
            ellos la
            suficiente honestidad mental como para discutir públicamente este asunto<Bold>?</Bold>
            Sí<Bold>,</Bold>
            pueden<Bold>,</Bold> pero tendrían que amar a Dios más que a sus egos y que a sus
            bolsillos<Bold>.</Bold>
            <Bold>¿</Bold>Lo harán<Bold>?</Bold> <Bold>El tiempo nos dará la respuesta.</Bold></Paragraph>
        <Paragraph> En este website usted puede hallar y bajar el libro que trata sobre<Bold>:</Bold> <Bold>a)</Bold> la
            falsedad del rapto antes de la Gran Tribulación<Bold>,</Bold> <Bold>b)</Bold> la verdad del
            Arrebatamiento
            durante la Segunda Venida de Nuestro Señor Jesucristo<Bold>,</Bold> y <Bold>c)</Bold> cómo Dios ha
            preparado
            para sus hijos que estén alerta<Bold>,</Bold> un refugio donde guarecerse de la Gran
            Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si lo desea también puede pedir un ejemplar del libro, completamente gratuito, a nuestra dirección
            postal: P.
            O. Box 655126, Miami, FL 33265-5126.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    