---
import Layout from "../layout/Layout.astro";
---

<Layout title="Consecuencias de creer o no en el rapto">
    <section>
        <p><strong>Creer o no en un "rapto" anterior a la Gran Tribulación puede llegar a ser cuestión de vida o muerte,
            de
            tortura o libertad.</strong></p>
        <p> Va a haber un arrebatamiento de los cristianos durante la Segunda Venida<strong>,</strong> pero no un rapto
            anterior
            a la Gran Tribulación<strong>.</strong> Los hermanos que creen en un rapto anterior a la Gran Tribulación
            deben
            analizar muy detenidamente ese asunto<strong>,</strong> pues <strong>puede llegar a ser una cuestión de vida
                o
                muerte, de tortura o libertad para él y su familia.</strong> Es como tener encima de ellos la sangre de
            sus
            familiares<strong>,</strong> por la necedad de no investigar concienzudamente<strong>,</strong> sin
            prejuicios ni
            apasionamientos<strong>,</strong> este asunto del imaginario rapto<strong>.</strong></p>
        <p><strong>Si esos hermanos son predicadores, tienen entonces una doble responsabilidad, porque además de su
            familia
            tienen encima la sangre de aquellos a quienes engañaron,</strong> y por cuyo engaño esos infelices fueron
            torturados
            y asesinados durante la Gran Tribulación<strong>.</strong> <strong>¡</strong>Terrible carga de conciencia
            para
            aquellos que predican esa errada doctrina del rapto anterior a la Gran Tribulación<strong>!</strong></p>
        <p> Yo les advierto claramente sobre la falsedad de esa herética interpretación del <strong>"</strong>rapto
            anterior a
            la Gran Tribulación<strong>",</strong> y demuestro en el libro <strong>"</strong>Rapto Vs<strong>.</strong>
            Arrebatamiento<strong>"</strong> que esa hipótesis es errada<strong>,</strong> y con eso quedo libre de la
            sangre de
            los que quieran cerrar sus ojos a la verdad<strong>.</strong></p>
        <p> Ya lo advirtió San Pablo muy claramente a la iglesia de los gentiles tesalonicenses<strong>,</strong>
            <strong>para
                que no se dejaran engañar</strong> con doctrinas como las del rapto<strong>;</strong> por lo tanto él
            sabía que
            tratarían de engañar a los hermanos al final del mundo<strong>:</strong></p>
        <p></p>
        <p><strong>"</strong>1 <i>Empero os rogamos<strong>,</strong> hermanos<strong>,</strong> <strong>cuanto a la
            venida de
            nuestro Señor Jesucristo, y nuestro recogimiento a él,</strong></i> 2 <i>que no os mováis fácilmente de
            vuestro
            sentimiento<strong>,</strong> ni os conturbéis ni por espíritu<strong>,</strong> ni por
            palabra<strong>,</strong> ni
            por carta como nuestra<strong>,</strong> como que el día del Señor esté cerca<strong>.</strong></i> 3 <i>No
            os
            engañe nadie en ninguna manera<strong>;</strong> <strong>porque no vendrá sin que venga antes la apostasía,
                y se
                manifieste el hombre de pecado, el hijo de perdición,</strong></i> 4 <i>oponiéndose<strong>,</strong> y
            levantándose contra todo lo que se llama Dios<strong>,</strong> o que se adora<strong>;</strong> tanto que
            se
            asiente en el templo de Dios como Dios<strong>,</strong> haciéndose parecer Dios</i><strong>."</strong> (II
            Tes
            2<strong>:</strong>1- 4)</p>
        <p><strong>Es diferente el riesgo que corren los que creen en el rapto anterior a la Gran Tribulación y riesgo
            de los
            que creen en el arrebatamiento durante la Segunda Venida del Señor.</strong> Si el rapto anterior a la Gran
            Tribulación fuera cierto<strong>,</strong> <strong>¿</strong>qué le iba a suceder a los cristianos que
            <strong>no</strong> creyeran en eso<strong>?</strong> No les sucedería nada<strong>;</strong> serían
            raptados junto
            con los otros hermanos que sí creen en el rapto<strong>.</strong></p>
        <p> Por el otro lado<strong>,</strong> si el rapto anterior a la Gran Tribulación es falso<strong>,</strong>
            <strong>¿qué
                le ocurrirá a los que sí creen en ese falso rapto?</strong> Pues les sucedería que no estarían
            alerta<strong>;</strong> y si lo estuvieren<strong>,</strong> creerían que no tenían que hacer
            nada<strong>,</strong> sino solamente sentarse a esperar a que los rapten<strong>.</strong> El terrible daño
            que le
            va a ocasionar a los hermanos esta doctrina del rapto es que en vez de dejarlo todo y trasladarse al
            <strong>"</strong>desierto<strong>",</strong> donde Dios ha determinado que los amparen<strong>,</strong> se
            van a
            quedar esperando donde los puedan agarrar los enemigos<strong>,</strong> creyendo esos hermanos que ya el
            rapto es
            inminente<strong>.</strong></p>
        <p><strong>¿Puede rectificar su error quien pierda millones por rectificarlo?</strong> <strong>¿</strong>Puede
            una
            compañía que imprima y venda libros a favor del rapto<strong>,</strong> ser lo suficientemente honesta como
            para
            dejarse convencer de la falsedad de esta doctrina<strong>,</strong> y el terrible daño que ella
            provoca<strong>?</strong> <strong>¿</strong>Puede una compañía que venda vídeos que presentan en forma
            atractiva los
            supuestos beneficios del falso rapto<strong>,</strong> ser lo suficientemente honesta como para dejarse
            convencer de
            la falsedad y daño de lo que ellos venden y predican<strong>?</strong> <strong>¿Pueden ellos echar a la
                basura, por
                amor de sus hermanos, las decenas de millones de dólares</strong> que tienen invertidos en ese herético
            material<strong>?</strong>
            <strong>Sí, pueden, pero tienen que amar a Dios más que a Mammón.</strong> <strong>¿</strong>Podrían tener
            ellos la
            suficiente honestidad mental como para discutir públicamente este asunto<strong>?</strong>
            Sí<strong>,</strong>
            pueden<strong>,</strong> pero tendrían que amar a Dios más que a sus egos y que a sus
            bolsillos<strong>.</strong>
            <strong>¿</strong>Lo harán<strong>?</strong> <strong>El tiempo nos dará la respuesta.</strong></p>
        <p> En este website usted puede hallar y bajar el libro que trata sobre<strong>:</strong> <strong>a)</strong> la
            falsedad del rapto antes de la Gran Tribulación<strong>,</strong> <strong>b)</strong> la verdad del
            Arrebatamiento
            durante la Segunda Venida de Nuestro Señor Jesucristo<strong>,</strong> y <strong>c)</strong> cómo Dios ha
            preparado
            para sus hijos que estén alerta<strong>,</strong> un refugio donde guarecerse de la Gran
            Tribulación<strong>.</strong></p>
        <p><strong>Si lo desea también puede pedir un ejemplar del libro, completamente gratuito, a nuestra dirección
            postal: P.
            O. Box 655126, Miami, FL 33265-5126.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    