---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cristo no habló de un rapto antes de la Gran tribulación">
    <Title>¿Dónde la Biblia dice que hay un rapto antes de la Gran Tribulación?</Title>

    <Tag>#103</Tag>
    <Content>
        
        <Paragraph><Bold>La Biblia habla siempre de un arrebatamiento durante la Segunda Venida, pero jamás de un rapto antes
            de la
            Gran Tribulación.</Bold> <Bold>Se le llama "rapto"</Bold> al que suponen que ocurre antes de la Gran
            Tribulación<Bold>,</Bold> y <Bold>se le llama "arrebatamiento"</Bold> al que va a ocurrir al momento
            de la
            Segunda Venida de Jesucristo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Yo puedo mostrar varios pasajes que tratan del regreso del Señor, en los cuales se anuncia claramente
            que
            existe un arrebatamiento</Bold> durante la Segunda Venida de Nuestro Señor Jesucristo<Bold>,</Bold>
            pero
            <Bold>no he visto uno solo</Bold> donde se anuncie <Bold>claramente</Bold> que hay un rapto
            sorpresivo<Bold>,</Bold> silencioso y secreto anterior a la Gran Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph> Mateo<Bold>,</Bold> Marcos y Lucas<Bold>,</Bold> registraron en sus evangelios el Sermón
            Profético<Bold>.</Bold> <Bold>En ese sermón Jesucristo habla de los acontecimientos que iban a ocurrir
                desde
                el momento en que él hablaba, hasta el momento de su Segunda Venida.</Bold> A pesar de que el Señor le
            está
            hablando <Bold>a su Iglesia,</Bold> en la persona de los apóstoles<Bold>,</Bold> en ningún momento
            les dice
            que va a haber un <Bold>"</Bold>rapto<Bold>"</Bold> antes de la Gran Tribulación<Bold>;</Bold>
            pero sí
            les habla clara<Bold>,</Bold> diáfana y específicamente de la ocurrencia del arrebatamiento posterior a
            la Gran
            Tribulación<Bold>,</Bold> durante su Segunda Venida<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿</Bold>Cómo es posible que creamos en la existencia de un rapto que Jesucristo nunca
            mencionó<Bold>,</Bold> y que nunca se menciona en ninguna Escritura<Bold>?</Bold> Pero más aún
            <Bold>¿</Bold>cómo vamos a pensar que habiendo Cristo hablado de los eventos que iban a ocurrir desde
            que él
            hablaba hasta su Segunda Venida<Bold>,</Bold> se le iba a olvidar mencionar el rapto o advertir sobre
            tal
            cosa<Bold>?</Bold> <Bold>¿O cómo vamos a pensar que simplemente iba a dejar ignorantes a los líderes
                de su
                Iglesia</Bold> sobre un asunto de tan extraordinaria trascendencia<Bold>?</Bold> La respuesta es
            bien
            sencilla<Bold>:</Bold> simplemente el rapto antes de la Gran Tribulación no existe<Bold>,</Bold> es
            una
            invención diabólica para engañar a los cristianos<Bold>,</Bold> como advirtió el mismo
            Jesucristo<Bold>,</Bold> al igual que San Pablo<Bold>.</Bold> Pero<Bold>,</Bold>
            desgraciadamente<Bold>,</Bold> la mayoría se ha dejado engañar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si el rapto existiera, el Señor, igual que habló clara y específicamente en el Sermón Profético del
            arrebatamiento posterior a la Gran Tribulación, hubiera también hablado clara y específicamente del supuesto
            rapto
            anterior.</Bold> Revisen por ustedes mismos<Bold>,</Bold> versículo por versículo<Bold>,</Bold>
            los tres
            capítulos de los tres evangelios donde se habla del Sermón Profético<Bold>,</Bold> y verán que en
            ninguna parte
            Nuestro Señor Jesucristo le advierte a su Iglesia que iba a haber un rapto anterior a la Gran
            Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph> Después de haber concluido esa investigación<Bold>,</Bold> <Bold>¿</Bold>vamos a seguir creyendo esa
            herejía<Bold>?</Bold>
            Hermanos<Bold>,</Bold> es perdonable que un cristiano haya sido engañado<Bold>,</Bold> pero no es
            perdonable
            que se empeñe en seguir engañado<Bold>,</Bold> sin poder dar las razones que le asisten para mantener
            esa
            creencia<Bold>,</Bold> ni poder refutar los argumentos que se le muestran<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La Biblia Dios la dio para que la entendiera cualquiera, no sólo los sabios.</Bold> Las profecías y
            doctrinas de la Biblia son claras<Bold>,</Bold> las puede entender cualquier persona sin que haya tenido
            que
            estudiar teología<Bold>,</Bold> griego<Bold>,</Bold> hebreo<Bold>,</Bold>
            hermenéutica<Bold>,</Bold>
            etc<Bold>.,</Bold> ni graduarse en ningún seminario<Bold>.</Bold> Dios no da sus revelaciones para
            que sólo
            unos pocos eruditos como Caifás y Gamaliel las entiendan<Bold>.</Bold> Él las da para que los
            carpinteros y los
            pescadores como Pedro<Bold>,</Bold> Juan y Santiago puedan tener acceso a la verdad<Bold>,</Bold> si
            es que
            desean saberla<Bold>.</Bold></Paragraph>
        <Paragraph> El Señor Jesús dijo en una ocasión que Dios había revelado estas cosas a los pequeños y no a los sabios y
            eruditos<Bold>.</Bold> Por lo tanto<Bold>,</Bold> no hay que ser necesariamente sabio ni erudito
            para
            entenderlo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>En aquel tiempo<Bold>,</Bold> respondiendo Jesús<Bold>,</Bold>
            dijo<Bold>:</Bold> Te
            alabo<Bold>,</Bold> Padre<Bold>,</Bold> Señor del Cielo y de la Tierra<Bold>,</Bold> que hayas
            escondido
            estas cosas de los sabios y de los entendidos<Bold>,</Bold> y <Bold>las hayas revelado a los
                niños.</Bold>
            Así<Bold>,</Bold> Padre<Bold>,</Bold> pues que así agradó en tus ojos</i><Bold>."</Bold> (Mt
            11<Bold>:</Bold>25)</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    