---
import Layout from "../layout/Layout.astro";
---

<Layout title="El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás">
    <section>
        <p><strong>El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás</strong></p>
        <p><strong>Dios no desearía enviarnos males, ni permitirlos.</strong> Dios no desea acongojar a sus
            criaturas<strong>;</strong> si lo hace es para que aprendan algo<strong>,</strong> o en pago de algo mal
            hecho<strong>.</strong> Si Dios no quiere enviarnos males ni congojas<strong>,</strong> pero éstas
            vienen<strong>,</strong> es porque el pecado es culpa del humano<strong>.</strong> La congoja puede ser la
            consecuencia natural de lo hecho por nosotros con anterioridad<strong>;</strong> bien sea como
            personas<strong>,</strong> como sociedad o como nación<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>31 <i>Porque el Señor no desechará para siempre<strong>.</strong></i> 32 <i>Antes si
            afligiere<strong>,</strong> también se compadecerá según la multitud de sus misericordias<strong>.</strong></i>
            33
            <strong>Porque no aflige ni congoja de su corazón a los hijos de los hombres</strong><strong>."</strong>
            (Lam
            3<strong>:</strong>31-33)</p>
        <p><strong>No siempre lo que le acontece a un ser humano es el pago de lo hecho por él.</strong> A veces es
            consecuencia
            de lo que otros hicieron<strong>,</strong> como cuando un hijo hereda las enfermedades venéreas de sus
            padres<strong>.</strong> Pero hay que darse cuenta de que <strong>lo que él hereda solamente es la carne, y
                solamente lo padece en esta vida.</strong> Él puede seguir a Dios ser salvo por Cristo y vivir toda una
            eternidad sin los inconvenientes que heredó de sus padres<strong>,</strong> porque va a recibir un nuevo
            cuerpo a la
            hora de la resurrección<strong>.</strong></p>
        <p><strong>La misma cosa se puede decir de los pecados de la sociedad, como la pornografía,</strong> cuyas
            consecuencias
            las sufren los niños y las mujeres que no participaron en el pecado<strong>.</strong> <strong>Otro caso
                puede ser el
                castigo que a una nación le venga por los abortos que permite.</strong> Cuando esa nación es diezmada
            por la
            guerra<strong>,</strong> son muchos los que habiéndose opuesto al aborto<strong>,</strong> sufren las
            consecuencias
            de la guerra<strong>.</strong></p>
        <p> Dios no aflige de su corazón al humano<strong>,</strong> pero si ellos transgreden las leyes de
            Dios<strong>,</strong> el proceso natural que le sigue a la falta de obediencia lo sufre toda la
            sociedad<strong>,</strong> toda la nación<strong>.</strong> No obstante<strong>,</strong> esto que
            digo<strong>, en
                la casi totalidad de los casos, cuando una persona sufre males y congojas, son motivados por su
                actuación
                personal.</strong> Al menos esa ha sido mi personal experiencia<strong>.</strong></p>
        <p><strong>Hay muchos que quieren echarle la culpa de su tendencia pecaminosa y de sus pecados a sus
            antecesores.</strong> Ellos afirman que por el hecho de que Adam y Eva pecaron<strong>,</strong> ellos han
            heredado
            una naturaleza pecaminosa<strong>.</strong> Es lo que ellos llaman <strong>"</strong>el pecado
            original<strong>".</strong> Eso es falso<strong>.</strong> Ver el artículo # 31 en este mismo
            website<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    