---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás">
    <section>
        <Paragraph><Bold>El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás</Bold></Paragraph>
        <Paragraph><Bold>Dios no desearía enviarnos males, ni permitirlos.</Bold> Dios no desea acongojar a sus
            criaturas<Bold>;</Bold> si lo hace es para que aprendan algo<Bold>,</Bold> o en pago de algo mal
            hecho<Bold>.</Bold> Si Dios no quiere enviarnos males ni congojas<Bold>,</Bold> pero éstas
            vienen<Bold>,</Bold> es porque el pecado es culpa del humano<Bold>.</Bold> La congoja puede ser la
            consecuencia natural de lo hecho por nosotros con anterioridad<Bold>;</Bold> bien sea como
            personas<Bold>,</Bold> como sociedad o como nación<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>31 <i>Porque el Señor no desechará para siempre<Bold>.</Bold></i> 32 <i>Antes si
            afligiere<Bold>,</Bold> también se compadecerá según la multitud de sus misericordias<Bold>.</Bold></i>
            33
            <Bold>Porque no aflige ni congoja de su corazón a los hijos de los hombres</Bold><Bold>."</Bold>
            (Lam
            3<Bold>:</Bold>31-33)</Paragraph>
        <Paragraph><Bold>No siempre lo que le acontece a un ser humano es el pago de lo hecho por él.</Bold> A veces es
            consecuencia
            de lo que otros hicieron<Bold>,</Bold> como cuando un hijo hereda las enfermedades venéreas de sus
            padres<Bold>.</Bold> Pero hay que darse cuenta de que <Bold>lo que él hereda solamente es la carne, y
                solamente lo padece en esta vida.</Bold> Él puede seguir a Dios ser salvo por Cristo y vivir toda una
            eternidad sin los inconvenientes que heredó de sus padres<Bold>,</Bold> porque va a recibir un nuevo
            cuerpo a la
            hora de la resurrección<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La misma cosa se puede decir de los pecados de la sociedad, como la pornografía,</Bold> cuyas
            consecuencias
            las sufren los niños y las mujeres que no participaron en el pecado<Bold>.</Bold> <Bold>Otro caso
                puede ser el
                castigo que a una nación le venga por los abortos que permite.</Bold> Cuando esa nación es diezmada
            por la
            guerra<Bold>,</Bold> son muchos los que habiéndose opuesto al aborto<Bold>,</Bold> sufren las
            consecuencias
            de la guerra<Bold>.</Bold></Paragraph>
        <Paragraph> Dios no aflige de su corazón al humano<Bold>,</Bold> pero si ellos transgreden las leyes de
            Dios<Bold>,</Bold> el proceso natural que le sigue a la falta de obediencia lo sufre toda la
            sociedad<Bold>,</Bold> toda la nación<Bold>.</Bold> No obstante<Bold>,</Bold> esto que
            digo<Bold>, en
                la casi totalidad de los casos, cuando una persona sufre males y congojas, son motivados por su
                actuación
                personal.</Bold> Al menos esa ha sido mi personal experiencia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Hay muchos que quieren echarle la culpa de su tendencia pecaminosa y de sus pecados a sus
            antecesores.</Bold> Ellos afirman que por el hecho de que Adam y Eva pecaron<Bold>,</Bold> ellos han
            heredado
            una naturaleza pecaminosa<Bold>.</Bold> Es lo que ellos llaman <Bold>"</Bold>el pecado
            original<Bold>".</Bold> Eso es falso<Bold>.</Bold> Ver el artículo # 31 en este mismo
            website<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    