---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="¿Por qué Dios no suprimer la tentación?">
    <section>
        <Paragraph><Bold>Por qué Dios no suprime la tentación</Bold></Paragraph>
        <Paragraph> Nosotros tenemos que vivir con Cristo durante el Milenio<Bold>,</Bold> y luego también con Dios por toda
            la
            eternidad<Bold>.</Bold> Después del Milenio Satanás vuelve a andar suelto un poco de
            tiempo<Bold>,</Bold>
            tentando a la humanidad<Bold>.</Bold> La tentación actual nos
            <Bold>"</Bold>inmuniza<Bold>"</Bold> a la
            tentación futura<Bold>;</Bold> la tentación sirve de educación para fortalecer nuestro
            espíritu<Bold>.</Bold> Las tentaciones y tribulaciones nos sirven para educación
            eterna<Bold>.</Bold>
            También las tentaciones sirven<Bold>,</Bold> al igual que Satanás y los demonios<Bold>,</Bold> para
            acortar
            el período en el cual todo el mundo puede hacer el mal si quiere<Bold>,</Bold> es
            decir<Bold>,</Bold> el
            período de tribulación de la creación<Bold>.</Bold></Paragraph>
        <Paragraph> Aquí vemos de nuevo confirmada mi tesis de que Dios lo tiene todo bajo control<Bold>,</Bold> y que nada
            sucede
            sin Su anuencia<Bold>.</Bold></Paragraph>
        <Paragraph> Satanás no podía (ni puede) dirigirse directamente a los apóstoles para tentarlos fuera de lo
            común<Bold>,</Bold> o para causarles tribulaciones inusuales<Bold>.</Bold> En este caso específico
            que más
            abajo vemos<Bold>,</Bold> nos enteramos de lo que está ocurriendo en las esferas
            celestiales<Bold>.</Bold>
            En otros muchos casos no tenemos la misma suerte<Bold>,</Bold> y por ello<Bold>,</Bold> nos creemos
            que
            Satanás puede hacer mangas y capirotes con los cristianos<Bold>,</Bold> con la Iglesia<Bold>,</Bold>
            con los
            humanos o con el planeta<Bold>;</Bold> pero no es así<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Dijo también el Señor<Bold>:</Bold> Simón<Bold>,</Bold> Simón<Bold>,</Bold>
            he aquí
            Satanás <Bold>os ha pedido</Bold> <Bold>para zarandaros como a trigo</Bold></i><Bold>"</Bold>
            (Lc
            22<Bold>:</Bold>31)</Paragraph>
        <Paragraph> Como bien claramente se ve<Bold>,</Bold> Satanás <Bold>tuvo que pedirle a Dios que le concediera
            permiso</Bold> para zarandear a los apóstoles<Bold>,</Bold> como efectivamente lo hizo
            luego<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Otro tanto se ve en el caso de Job<Bold>;</Bold> Satanás no pudo simplemente caerle arriba Job y a sus
            hijos<Bold>,</Bold> porque así él lo deseara<Bold>.</Bold> Tuvo que mediar una petición por parte de
            Satanás
            y un permiso (con sus límites) por parte de Dios<Bold>,</Bold> como vemos en Job 1<Bold>:</Bold>9-12
            y
            2<Bold>:</Bold>4-6<Bold>.</Bold> O sea<Bold>,</Bold> que aún con el permiso de Dios en su
            mano<Bold>,</Bold> Satanás no podía hacer lo que quería<Bold>,</Bold> tenía sus límites para
            actuar<Bold>.</Bold></Paragraph>
        <Paragraph><i> <Bold>"</Bold></i>9 <i>Y respondiendo Satán a Jehová<Bold>,</Bold> dijo<Bold>:</Bold>
            <Bold>¿</Bold>Teme Job a Dios de balde<Bold>?</Bold></i> 10 <i><Bold>¿</Bold>No le has tú
            cercado a
            él<Bold>,</Bold> y a su casa<Bold>,</Bold> y a todo lo que tiene en derredor<Bold>?</Bold> Al
            trabajo de
            sus manos has dado bendición<Bold>;</Bold> por tanto su hacienda ha crecido sobre la
            tierra<Bold>.</Bold></i> 11 <i>Mas extiende ahora tu mano<Bold>,</Bold> y toca a todo lo que
            tiene<Bold>,</Bold> y verás si no te blasfema en tu rostro<Bold>.</Bold></i> 12 <i><Bold>Y dijo
            Jehová a
            Satán: He aquí, todo lo que tiene está en tu mano; solamente no pongas tu mano sobre él.</Bold> Y salió
            Satán de
            delante de Jehová<Bold>."</Bold> </i> (Job 1<Bold>:</Bold>9-12)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>Y respondiendo Satán dijo a Jehová<Bold>:</Bold> Piel por piel<Bold>,</Bold>
            todo lo
            que el hombre tiene dará por su vida<Bold>.</Bold></i> 5 <i>Mas extiende ahora tu mano<Bold>,</Bold>
            y toca
            a su hueso y a su carne<Bold>,</Bold> y verás si no te blasfema en tu rostro<Bold>.</Bold></i> 6 <i><Bold>Y
            Jehová dijo a Satán: He aquí, él está en tu mano; mas guarda su vida</Bold></i><Bold>."</Bold> (Job
            2<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph> Todo esto concuerda con lo dicho en I Co 10<Bold>:</Bold>12-13<Bold>,</Bold> donde se nos da a
            conocer que
            Dios no permite que nadie sea tentado más de lo que él pueda aguantar<Bold>.</Bold> O
            sea<Bold>,</Bold> que
            aún en el caso de la tentación personal a cada cristiano<Bold>,</Bold> Satanás o sus cómplices
            demoníacos tienen
            un límite más allá del cual <Bold>no pueden</Bold> ir<Bold>.</Bold></Paragraph>
        <Paragraph> Es lógico que así sea<Bold>,</Bold> porque por creación<Bold>,</Bold> un ser tipo ángel es mucho más
            poderoso que un ser humano<Bold>,</Bold> y si Dios les permitiera usar todo su poder<Bold>,</Bold>
            es de
            pensarse que no habría un solo ser humano que resistiera tal presión<Bold>.</Bold> Por eso Dios pone
            límites<Bold>,</Bold> porque Su finalidad es adiestrar al humano en el rechazamiento del
            mal<Bold>,</Bold>
            aún cuando se lo propongan y se lo pinten con los mejores colores<Bold>.</Bold> La finalidad de Dios no
            es echar
            a pelear a una criatura frágil y débil<Bold>,</Bold> contra otra potente y cruel<Bold>,</Bold> para
            contemplar cómo en la pelea destrozan al infeliz<Bold>.</Bold></Paragraph>
        <Paragraph> De esa manera<Bold>,</Bold> el humano<Bold>,</Bold> que puede constatar en sí mismo la potencia del
            mal y
            del tentador<Bold>,</Bold> <Bold>aprende, por sí mismo también, a volverse a Dios por ayuda en una
                batalla tan
                desigual.</Bold> Así queda asegurada su existencia futura y eterna<Bold>,</Bold> puesto que
            aprendió por
            experiencia propia<Bold>,</Bold> a apelar al que todo lo puede<Bold>,</Bold> cuando se ve inclinado
            a hacer
            o desear lo que Dios aborrece<Bold>.</Bold> Por eso Dios no suprime la tentación<Bold>.</Bold></Paragraph>
        <Paragraph> Se constata de nuevo que Dios utiliza también las malas acciones de sus criaturas para producir beneficios a
            la
            creación<Bold>.</Bold> Se constata que todas las cosas ayudan al bien de los que a Dios
            aman<Bold>,</Bold>
            como se ve en Ro 8<Bold>:</Bold>28<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    