---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="¿Somos Cristiano o Sanpablianos?">
    <Content>
        <Paragraph><Bold>¿Somos cristianos o sanpablianos?</Bold></Paragraph>
        <Paragraph><Bold>Por qué el cristianismo se convirtió en sanpablismo.</Bold> Desde hace más de 16 siglos los
            creyentes<Bold>,</Bold> poco a poco<Bold>,</Bold> dejaron de ser cristianos y se transformaron en
            sanpablianos<Bold>; lo cual es una forma de cristianismo un tanto idolátrica,</Bold> porque aunque
            mantiene
            fidelidad a Cristo<Bold>,</Bold> le quita autoridad a su palabra<Bold>,</Bold> a la del Espíritu
            Santo y a
            la de sus doce apóstoles<Bold>,</Bold> traspasando esa autoridad a Pablo<Bold>,</Bold> <Bold>pasando
                por
                encima aún de la autoridad de Cristo y de Dios.</Bold></Paragraph>
        <Paragraph> Efectivamente<Bold>,</Bold> hoy en día la inmensa mayoría de los creyentes son
            sanpablianos<Bold>.</Bold> Si
            Cristo dice que la hierba es verde y los sanpablianos mal-entienden que Pablo dijo que era
            roja<Bold>,</Bold>
            ellos aseguran que la hierba es roja<Bold>,</Bold> porque <Bold>"</Bold>San Pablo lo
            dijo<Bold>".</Bold>
        </Paragraph>
        <Paragraph> Si los doce apóstoles dicen que el cielo es azul y los creyentes creen entender que Pablo dijo que es
            amarillo<Bold>,</Bold> los sanpablianos aseguran que el cielo es amarillo<Bold>,</Bold>
            <Bold>"</Bold>porque
            lo dijo San Pablo<Bold>".</Bold> <Bold>No les importa lo que diga Dios, lo que diga Cristo, o lo que
                diga el
                Espíritu Santo;</Bold> tampoco les importa lo que digan los doce apóstoles<Bold>;</Bold> la
            <Bold>"</Bold>nueva doctrina<Bold>"</Bold> a seguir es lo que los creyentes se figuren que San Pablo
            ha
            dicho<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Algunos creen que en I Co 8:1-13, Pablo, en uso de su "sagrada autoridad", cambió la doctrina
            cristiana,</Bold> contradiciendo todo lo hasta entonces legislado respecto a no comer lo sacrificado a los
            ídolos<Bold>.</Bold> No sólo eso<Bold>,</Bold> sino que según esos hermanos<Bold>,</Bold>
            Pablo<Bold>,</Bold> con su <Bold>"</Bold>divina<Bold>"</Bold> potestad<Bold>,</Bold> como si
            él
            fuera el papa de los protestantes<Bold>,</Bold> cambió las leyes de Dios<Bold>,</Bold> y decidió que
            en lo
            adelante<Bold>,</Bold> sí era lícito comer lo sacrificado a los ídolos<Bold>.</Bold> No importa lo
            que hayan
            dicho al respecto Cristo<Bold>,</Bold> el Espíritu Santo<Bold>,</Bold> y los Doce
            Apóstoles<Bold>.</Bold> Ellos creen que San Pablo pasó por encima de todo eso<Bold>,</Bold> y de
            todos ellos<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Nada más lejos de la intención de San Pablo.</Bold> Lo que Pablo estaba haciendo en este pasaje es
            quitar
            el pánico que al parecer algunos sentían<Bold>,</Bold> por haber comido descuidadamente algo previamente
            ofrecido a un ídolo<Bold>.</Bold> No obstante esta realidad<Bold>,</Bold> son muchos los cristianos
            que de
            ese pasaje entienden que<Bold>,</Bold> efectivamente<Bold>,</Bold> sí se puede comer lo sacrificado
            a los
            ídolos<Bold>,</Bold> porque <Bold>"</Bold>San Pablo lo autorizó<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>Es sensato que interpretemos con mucho cuidado las cosas que San Pablo parece decir.</Bold> Gracias
            al
            testimonio del apóstol Pedro y a <Bold>su indiscutible autoridad para decirlo,</Bold> (dado que era
            hombre
            inspirado por Dios y conocía a Pablo personalmente)<Bold>,</Bold> sabemos que el no menos apóstol e
            inspirado
            hermano Pablo<Bold>,</Bold> hablaba y escribía en un estilo y forma<Bold>,</Bold> que se prestaba
            para que
            los inconstantes (de mala calidad espiritual) y los indoctos (ignorantes de la palabra y de las cosas de
            Dios)<Bold>,</Bold> las torcieran<Bold>.</Bold> No significa esto que los escritos de Pablo no iban
            a poder
            ser leídos por prestarse a confusión<Bold>;</Bold> es que había que leerlos con cuidado y sensatez para
            no
            equivocarnos<Bold>;</Bold> sobre todo<Bold>,</Bold> si lo que Pablo parece decir se halla en
            contradicción
            con lo que otros autores bíblicos afirman<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En ninguna otra parte de la Biblia existe otra advertencia semejante a esta, sobre ningún otro autor
            bíblico.</Bold> Nunca se ha dicho una cosa así de nadie<Bold>,</Bold> y menos aún dicho por una
            persona con
            tanta autoridad como el Apóstol Pedro<Bold>.</Bold> <Bold>Recordemos que lo que los autores bíblicos
                escribieron, fue inspirado por el Espíritu Santo,</Bold> por lo tanto<Bold>,</Bold> es sensato de
            nuestra
            parte<Bold>,</Bold> tomar seriamente tan inspirado consejo de Pedro<Bold>,</Bold> y tenerlo en mente<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>Y tened por salud la paciencia de nuestro Señor<Bold>;</Bold> como también
            <Bold>nuestro
                amado hermano Pablo, según la sabiduría que le ha sido dada,</Bold> os ha escrito
            también<Bold>;</Bold></i> 16
            <i>casi en todas sus epístolas<Bold>,</Bold> hablando en ellas de estas cosas<Bold>;</Bold> <Bold>entre
                las cuales hay algunas difíciles de entender, las cuales los indoctos e inconstantes tuercen, como
                también las
                otras Escrituras, para perdición de sí mismos</Bold></i><Bold>."</Bold> (II P 3<Bold>:</Bold>15-16)
        </Paragraph>
        <Paragraph><Bold>Hay que comprender que si el Espíritu Santo inspiró a Pablo a escribir algo, también inspiró a Pedro
            a
            escribir esto que acabamos de leer.</Bold> Ninguna de las dos inspiraciones vale menos que la
            otra<Bold>.</Bold> Si el Espíritu Santo<Bold>,</Bold> que inspiraba a Pablo a
            escribir<Bold>,</Bold>
            tuvo a bien inspirar a Pedro a hacernos a nosotros esta advertencia<Bold>,</Bold> debe ser para que
            nosotros no
            erremos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Fíjense en que el Espíritu Santo inspiró a Pedro a hacer esta advertencia sobre Pablo,</Bold> pero
            no
            inspiró a Pablo a hacer alguna advertencia parecida sobre Pedro<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> lo
            menos que puede hacer un cristiano sensato es tener esa advertencia en mente cuando lea los escritos de
            Pablo<Bold>;</Bold> <Bold>sobre todo los conflictivos,</Bold> los que nos parece que se dan de punta
            con lo
            que dijo Cristo<Bold>,</Bold> lo que dijeron los Doce Apóstoles<Bold>,</Bold> y lo que dijeron los
            demás
            escritores bíblicos y profetas de la antigüedad<Bold>.</Bold></Paragraph>
        <Paragraph> Sirva esto de advertencia para todos<Bold>;</Bold> pero especialmente para <Bold>los sanpablianos,
            aquellos
            que gustan de formar doctrina con versículos obscuros de Pablo; y también para los que creen que Pablo
            establece
            doctrinas que contradicen las de Cristo, las del Espíritu Santo, las de los otros apóstoles o las del resto
            de la
            Biblia.</Bold> Es necesario darnos cuenta de que somos cristianos<Bold>,</Bold> no
            sanpablianos<Bold>.</Bold></Paragraph>
        <Paragraph> Los que creen ver en los escritos de Pablo<Bold>,</Bold> la abolición de la Ley de Dios para el
            comportamiento
            humano<Bold>,</Bold> no perderían mucho repasando éstos escritos del apóstol a la luz de lo que el
            Espíritu
            Santo les revela y les advierte por medio de Pedro<Bold>.</Bold> Al fin y al cabo los que son
            sinceros<Bold>,</Bold> los que quieren hallar la verdad donde quiera que se encuentre<Bold>,</Bold>
            la van a
            hallar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Veamos ahora una supuesta afirmación de Pablo, que parece contradecir lo que el mismo Señor
            Jesucristo,
            dijo,</Bold> lo que dijo el Espíritu Santo<Bold>,</Bold> y lo que ordenaron los Doce Apóstoles del
            Señor<Bold>;</Bold> y veamos cuál es la explicación para esa aparente contradicción o discordancia de
            Pablo con
            todos los demás<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Pablo parece contradecir a Cristo, al Espíritu Santo, y a los doce apóstoles, en cuanto a lo ofrecido
            a los
            ídolos.</Bold> Hay hermanos que más que ser cristianos<Bold>,</Bold> son
            sanpablianos<Bold>.</Bold>
            <Bold>Hacen con San Pablo algo parecido a lo que los católicos hacen con la Virgen María.</Bold> Me
            explicaré<Bold>.</Bold> Cristo es el Hijo de Dios<Bold>,</Bold> él piensa igual a su
            Padre<Bold>.</Bold>
            Tanto valor tiene para ellos dos lo dicho por San Pablo<Bold>,</Bold> como lo dicho por San
            Pedro<Bold>,</Bold> Isaías<Bold>,</Bold> Samuel<Bold>,</Bold> Jacobo<Bold>,</Bold> Judas
            Tadeo<Bold>,</Bold> Mateo<Bold>,</Bold> Jeremías<Bold>,</Bold> Daniel o cualquier otro
            siervo<Bold>.</Bold> <Bold>El mismo Espíritu Santo fue el que inspiró a todos.</Bold> Sin
            embargo<Bold>,</Bold> hay cristianos que creen que la Biblia es San Pablo<Bold>,</Bold> y que San
            Pablo es
            la Biblia<Bold>.</Bold> Si ellos interpretan que San Pablo dice que la arena es verde<Bold>,</Bold>
            y el
            resto de los apóstoles dicen que es blanca<Bold>,</Bold> ellos aseguran que es verde<Bold>.</Bold>
            <Bold>¡</Bold>San Pablo lo dijo<Bold>!</Bold></Paragraph>
        <Paragraph><Bold>Incluso si Nuestro Señor Jesucristo dice que la arena es blanca,</Bold> y ellos creen entender que
            San
            Pablo dijo que era verde<Bold>,</Bold> ellos afirman que la arena es verde<Bold>,</Bold> porque
            <Bold>"</Bold>San Pablo lo dijo<Bold>".</Bold> <Bold>¿</Bold>No creen ustedes que sea tan
            exagerado el
            asunto<Bold>?</Bold></Paragraph>
        <Paragraph> El hecho de que Pablo haya escrito poco más de la cuarta parte del Nuevo Testamento no le da autoridad para
            anular
            el resto de la Biblia<Bold>,</Bold> incluyendo el resto del Nuevo Testamento<Bold>,</Bold> <Bold>cosa
                que
                él no trató de hacer, pero que muchos hermanos cristianos se lo atribuyen.</Bold></Paragraph>
        <Paragraph> Si bien es verdad que él fue el que más escribió de los escritores del Nuevo Testamento<Bold>,</Bold>
            hay que
            comprender que los otros escribieron casi las tres cuartas partes de éste<Bold>,</Bold> o
            sea<Bold>,</Bold>
            que los demás escribieron casi el triple que Pablo<Bold>;</Bold> y que además<Bold>,</Bold> no fue
            el
            escritor sagrado más fecundo<Bold>,</Bold> pues Moisés escribió él solo<Bold>,</Bold> mucho más del
            doble de
            lo que escribió Pablo<Bold>.</Bold></Paragraph>
        <Paragraph> Digo todo esto<Bold>,</Bold> no por quitar méritos al apóstol de los gentiles<Bold>,</Bold> pues a
            él le
            sobran méritos<Bold>,</Bold> sino para que nadie<Bold>,</Bold> por error de
            apreciación<Bold>,</Bold> lo
            engrandezca desorbitadamente<Bold>,</Bold> cosa que él mismo trató de evitar<Bold>,</Bold> como
            veremos en
            los versículos que más abajo aparecen<Bold>.</Bold> Y tristemente<Bold>,</Bold> que lo engrandezca
            hasta el
            punto de creerlo el único árbitro de la religión o al menos el mayor de ellos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Por lo cual si quisiere gloriarme<Bold>,</Bold> no seré insensato<Bold>,</Bold>
            porque
            diré verdad<Bold>,</Bold> empero lo dejo<Bold>,</Bold> <Bold>porque nadie piense de mí más de lo
                que en mí
                ve, u oye de mí</Bold></i><Bold>."</Bold> (II Co 12<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>Quiero decir<Bold>,</Bold> que cada uno de vosotros dice<Bold>:</Bold> Yo
            cierto soy
            de Pablo<Bold>;</Bold> pues yo de Apolos<Bold>;</Bold> y yo de Cefas<Bold>;</Bold> y yo de
            Cristo<Bold>.</Bold></i> 13 <i><Bold>¿</Bold>Está dividido Cristo<Bold>?</Bold> <Bold>¿Fue
            crucificado
            Pablo por vosotros? ¿o habéis sido bautizados en el nombre de Pablo</Bold></i><Bold>?"</Bold> (I Co
            1<Bold>:</Bold>12-13)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Cómo vimos en los dos pasajes anteriores<Bold>,</Bold> no estaba en la voluntad del apóstol
            Pablo<Bold>,</Bold> que lo engrandecieran como lo han hecho los errados hermanos
            sanpablianos<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Para demostrar cómo los hermanos malinterpretan a San Pablo en el asunto de comer lo sacrificado a
            los ídolos
            vean el artículo # 17 en este mismo website. Si San Pablo hubiera autorizado tal cosa estaría contradiciendo
            a
            Nuestro Señor Jesucristo, al Espíritu Santo y a los demás apóstoles. Lean también el artículo # 9 para que
            vean que
            millones de cristiano malinterpretan lo que dice San Pablo referente a que al Lugar Santísimo se entraba una
            sola
            vez al año.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    