---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El Arcángel Miguel no es Cristo">
    <section>
        <Paragraph><Bold>EL ARCÁNGEL MIGUEL NO ES CRISTO, ES SÓLO ESO, UN ARCÁNGEL.</Bold> <Bold>HAY VARIOS
            ARCÁNGELES.</Bold>
        </Paragraph>
        <Paragraph><Bold>Hay quienes tratan de descristianizar el cristianismo sin que los cristianos se den cuenta.</Bold>
            Para
            ello se valen de varios métodos y argucias, las cuales usan en las distintas denominaciones. Una de las
            cosas que
            inventaron los que se esconden detrás del ruselismo para infiltrarse en el cristianismo y descristianizarlo
            desde
            adentro, es afirmar que Cristo y el arcángel Miguel son la misma persona. <Bold>De esa manera, sin negar
                directamente la persona de Cristo, niegan su esencia, niegan su divinidad,</Bold> lo transforman en un
            simple
            ángel o arcángel, sin que se den cuenta los que los siguen. Veamos sin embargo qué dicen al respecto las
            Escrituras.
        </Paragraph>
        <Paragraph> 5 <i>Y alzando mis ojos miré, y he aquí un varón vestido de lienzos, y ceñidos</i> <i> sus lomos de oro de
            Uphaz: </i> 6 <i>Y su cuerpo era como piedra de Tarsis, y su rostro</i> <i> parecía un relámpago, y sus ojos
            como
            antorchas de fuego, y sus brazos y sus pies</i> <i> como de color de metal resplandeciente, y la voz de sus
            palabras
            como la voz de</i> <i> ejército.........</i>13<i>Mas el príncipe del reino de Persia se puso contra mí
            veintiún
            días:</i> <i> y he aquí, Miguel, <Bold>uno de los principales príncipes</Bold>, vino para
            <Bold>ayudarme</Bold>, y yo</i> <i> quedé allí con los reyes de Persia</i> " ( Dn 10: 5-13 )</Paragraph>
        <Paragraph> En este versículo el ángel que habla con Daniel dice varias cosas que <Bold>nos demuestran que Miguel no
            puede ser
            Cristo.</Bold> <Bold>La primera</Bold> es que el ángel que habla con Daniel se refiere a Miguel como a
            uno igual
            que él, uno que simplemente lo está ayudando. <Bold>Si Miguel fuera Cristo, este ángel no se referiría a
                él como
                quien habla de un ayudante</Bold>, sino como de un superior, puesto que Jesucristo es Señor. <Bold>La
                segunda</Bold> cosa en la que fijar nuestra atención es en que según el ángel que habla con Daniel,
            <Bold>Miguel
                es uno de varios. </Bold> De esto se deduce que <Bold>hay varios otros de igual categoría que
                Miguel.</Bold>
            Si Miguel es uno de los principales, entonces <Bold>no es el principal</Bold>, hay otros más que son
            iguales que
            él, o sea, hay varios arcángeles. Miguel es el único que se ha mencionado, pero evidentemente no es el
            único. <Bold>Si
                Miguel no es el único en su clase, eso contradice que él sea Jesús, porque Cristo es el Unigénito, es
                decir, el
                único en su clase</Bold>, no hay otro como él. Jesucristo es segundo después de Dios, no simplemente
            uno de
            varios. <Bold>Tercera. </Bold> Si analizamos ahora lo dicho en el versículo 20 veremos que al decir el
            ángel que
            habla con Daniel, que Miguel era Príncipe del pueblo hebreo, lo estaba restringiendo a una sola raza, a una
            sola
            nación, o al menos al grupo de los creyentes solamente; mientras que Cristo es Señor y Rey de todas las
            razas y
            naciones, sean o no creyentes. Veamos.</Paragraph>
        <Paragraph> "<i>Empero yo te declararé lo que está escrito en la escritura de verdad, y ninguno</i> <i> hay que se
            esfuerce
            conmigo en estas cosas, sino <Bold>Miguel vuestro príncipe</Bold></i>." ( Dn 10: 21 )</Paragraph>
        <Paragraph><Bold>Cuarta.</Bold> Si vamos ahora a analizar lo que dice Judas 1: 9 veremos que allí <Bold>se
            presenta al
            arcángel Miguel contendiendo con el Diablo,</Bold> disputando con él sobre algo que tenía que ver con el
            cuerpo de
            Moisés. ¡<Bold>Cristo no tiene que disputar con Satanás, solamente tiene que darle órdenes!</Bold> Eso
            lo vemos
            incluso estando Cristo en carne, cuando se hizo un poco menor que los ángeles al hacerse hombre. Estando
            vestido de
            carne todavía podía darle órdenes a Satanás, como lo hizo durante su tentación en el desierto, que <Bold>ordenó
                a
                Satanás que se fuera</Bold>, y Satanás tuvo que irse, no pudo contender con Cristo. <Bold>Desde el
                momento que
                Miguel contiende con Satanás es porque Miguel no es Cristo</Bold>, sino un ser de inferior categoría
            que la de
            Cristo. Jesús no solamente <Bold>ordenaba a Satanás</Bold>, sino que <Bold>también le daba órdenes a
                una legión
                de demonios</Bold>, como ocurrió en el asunto de los puercos que se ahogaron. En todo el evangelio se
            ve que los
            demonios temían a Jesús. <Bold>Le rogaban</Bold> que no los enviase al abismo; de donde se ve la clase
            de potencia
            y autoridad que tenía el Señor, aún estando en carne. Cristo no forcejeaba con los demonios, <Bold>les
                ordenaba</Bold> que se fueran de esa persona, e inmediatamente lo obedecían. Él no tenía que
            contender, ni
            disputar con los demonios. ¿Cómo van a venir los ruselistas a decir que Miguel es Cristo y que tenía que
            forcejear con
            Satanás, como si ambos fueran el mismo tipo de ser? Eso no se le ocurre ni a los que son capaces de asar la
            mantequilla al pincho.</Paragraph>
        <Paragraph> "<i>Pero cuando el arcángel Miguel <Bold>contendía</Bold> con el Diablo, <Bold>disputando</Bold>
            sobre</i>
            <i> el cuerpo de Moisés, <Bold>no se atrevió</Bold> a usar de juicio de maldición contra él, sino</i>
            <i> que
                dijo: El Señor te reprenda</i>." ( Judas 1: 9 )</Paragraph>
        <Paragraph><Bold> Quinta.</Bold> Vemos en este versículo que dice que el Arcángel Miguel <Bold>no se atrevió a
            usar juicio
            contra el Diablo.</Bold> ¿Me van a decir que Cristo "no se atrevió"? Pero si él es el Señor, él es el que
            manda. El
            que no se puede atrever con Cristo es el Diablo, no viceversa . Cristo no tiene que contender con el Diablo,
            ni
            disputar con él, solamente tiene que darle órdenes, como hizo en la tentación. Analicen para vean que el
            trabajo que
            Satanás le ha encomendado al ruselismo es el de infiltrarse en el cristianismo, fingirse cristianos y
            destruirlo o
            dañarlo desde adentro. Los ruselistas, tratando de menoscabar a Cristo, tratan de identificarlo con el
            Arcángel
            Miguel. <Bold>Esta es una herejía ruselista que algunos buenos cristianos han adoptado</Bold> sin darse
            cuenta de
            sus consecuencias teológicas ni de lo herético del concepto. Leamos Mt 8: 28-32.</Paragraph>
        <Paragraph> "28 <i>Y como él hubo llegado en la otra ribera al país de los gergesenos, le</i> <i> vinieron al encuentro
            dos
            endemoniados que salían de los sepulcros, <Bold>fieros</Bold></i> <Bold> en gran manera,</Bold>
            <i><Bold>que
                nadie podía pasar por aquel camino.</Bold></i> 29 <i>Y he aquí clamaron,</i> <i> diciendo: <Bold>¿Qué
                tenemos
                contigo, Jesús, Hijo de Dios? ¿has venido acá a molestarnos</Bold></i> <Bold> antes de
                tiempo?</Bold> 30 <i>Y
                estaba lejos de ellos un hato de muchos puercos paciendo.</i> <i> </i> 31 <i>Y los demonios le rogaron,
                diciendo: Si
                nos echas, permítenos ir a aquel hato de</i> <i> puercos. </i> 32 <i>Y les dijo: Id. Y ellos salieron, y
                se fueron a
                aquel hato de puercos: y</i> <i> he aquí, todo el hato de los puercos se precipitó de un despeñadero en
                la mar, y</i>
            <i> murieron en las aguas</i>." ( Mt 8: 28-32 )</Paragraph>
        <Paragraph> Como vemos estos aquí mencionados eran unos demonios fieros en gran manera, en forma tal que nadie podía
            pasar por
            aquel camino, sin embargo, <Bold>ante la divina presencia de Cristo, se humillan, imploran.</Bold>
            Cristo no tiene
            que <Bold>luchar</Bold> con ellos, su sola presencia los aterra. No tiene Cristo que
            <Bold>batallar</Bold> con
            ellos para que se vayan del endemoniado. Basta una orden y aquellos fieros demonios lo obedecen
            humildemente. <Bold>Lo
                mismo sucedió con Satanás durante la tentación. </Bold> Cristo no tuvo que batallar con Satanás para
            que se fuera.
            Solamente tuvo que ordenarle que se fuera, y Satanás obedeció humildemente. No podía hacer otra cosa ante un
            ser
            divino como es Jesucristo. Sin embargo, <Bold>el Arcángel Miguel tenía que luchar con Satanás</Bold>,
            tenía que
            batallar con él. Cristo no, Cristo sólo tenía que ordenarle que se fuera. Es evidente que Cristo y Miguel no
            son la
            misma persona. Cristo, aún estando en la carne, era infinitamente más poderoso que Satanás y todos sus
            demonios
            juntos. El Arcángel Miguel no podía ordenarle a Satanás que se fuera, tenía que luchar con él, y lo tenían
            que ayudar
            sus compañeros angelicales. <Bold>Cristo se bastaba a sí mismo, no tenía necesidad de que nadie lo
                ayudara. </Bold> En Jud 1: 9 vemos que el Arcángel Miguel no podía darle órdenes a Satanás, ni tampoco
            Satanás las
            obedecía.</Paragraph>
        <Paragraph> "<i>Pero cuando el arcángel Miguel contendía con el Diablo, disputando sobre</i> <i> el cuerpo de Moisés,
            <Bold>no
                se atrevió</Bold> a usar de juicio de maldición contra él, sino</i> <i> que dijo: El Señor te
            reprenda</i>." ( Jud
            1: 9 )</Paragraph>
        <Paragraph> Vemos en el recién leído pasaje, que <Bold>el Arcángel Miguel "contendía"</Bold>, y que <Bold>"no se
            atrevió"</Bold>. Ese no es el cuadro del divino Jesucristo Unigénito de Dios. Nadie que sea verdaderamente
            cristiano
            y que considere a Cristo un ser divino, va a aceptar que él no se atrevía a reprender a Satanás, o que éste
            pudiera
            contender con él. Se ve claramente el intento de infiltrar el cristianismo para destruirlo desde adentro. A
            Satanás le
            fue imposible destruirel cristianismo desde afuera. Con persecuciones y martirios Satanás nunca pudo acabar
            con la fe.
            Por eso se cuela dentro del cristianismo para intentar destruirlo desde adentro.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>

    </section>
</Layout>
    