---
import Layout from "../layout/Layout.astro";
---

<Layout title="Cristo no abolió las leyes de Dios para el comportamiento humano">
    <section>
        <p><strong>Cristo no abolió las leyes de Dios para el comportamiento humano</strong></p>
        <p> Muchos creen erróneamente que las leyes de Dios para el comportamiento humano fueron abolidas por Jesucristo<strong>.</strong>
            Las que fueron abolidas fueron las leyes rituales<strong>.</strong> Esto lo dejó Jesucristo muy claramente
            dicho en
            Mt 5<strong>:</strong>17-19<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>17 <strong>No penséis que he venido para abrogar la ley</strong> <i>o los
            profetas<strong>,</strong> no he venido para abrogar<strong>,</strong> sino a cumplir<strong>.</strong></i>
            18 <i>Porque
                de cierto os digo<strong>,</strong> que <strong>hasta que perezca el cielo y la Tierra, ni una jota ni
                    una tilde
                    perecerá de la ley,</strong> hasta que todas las cosas sean hechas<strong>.</strong></i> 19 <i>De
                manera que
                cualquiera que infringiere uno de estos mandamientos muy pequeños<strong>,</strong> y así enseñare a los
                hombres<strong>,</strong> muy pequeño será llamado en el Reino de los Cielos<strong>;</strong> mas
                cualquiera que
                hiciere y enseñare<strong>,</strong> éste será llamado grande en el Reino de los
                Cielos</i><strong>."</strong> (Mt 5<strong>:</strong>17-19)
        </p>
        <p> Si la hipótesis de que las leyes de Dios para el comportamiento humano fueron abolidas al ser clavado Cristo
            en la
            Cruz fuera cierta<strong>,</strong> entonces tendríamos que llegar a la conclusión de que<strong>,</strong>
            <strong>al
                menos hasta la muerte de Jesús, estuvieron vigentes.</strong> En ese caso<strong>,</strong> <strong>si
                Jesús
                hubiera querido abolir la ley, o hablar contra ella, jamás lo hubiera hecho antes de su
                crucifixión,</strong>
            pues eso hubiera sido faltar a la Ley de Dios<strong>,</strong> pecar contra ella<strong>,</strong> y no
            hubiera
            podido salvarnos<strong>.</strong></p>
        <p><strong>Si Jesús hubiera querido hablar contra la ley o declararla abolida, hubiera esperado a
            resucitar,</strong>
            para entonces poder hacerlo legalmente<strong>,</strong> sin faltar en nada<strong>.</strong> Si Jesús
            hubiera
            pecado hablando contra una ley cuando aún estaba vigente<strong>,</strong> no hubiera podido
            salvarnos<strong>,</strong> porque hubiera pecado al menospreciar la ley<strong>,</strong> como dice en Heb
            10<strong>:</strong>28<strong>.</strong></p>
        <p></p>
        <p><strong>"<i>El que menospreciare la ley de Moisés,</i></strong> <i>por el testimonio de dos o de tres
            testigos muere
            sin ninguna misericordia</i><strong>".</strong> (Heb 10<strong>:</strong>28)</p>
        <p> Dicho más claramente<strong>,</strong> <strong>si efectivamente Jesús hubiera abolido la ley, no lo hubiera
            hecho
            antes de su crucifixión, sino después de su resurrección.</strong> Sin embargo<strong>,</strong> vemos que
            este tipo
            de versículos<strong>,</strong> en los que <strong>aparentemente</strong> Cristo habla sobre la abolición de
            la
            ley<strong>,</strong> <strong>jamás fueron dichas por él después de su resurrección, que era precisamente
                cuando
                hubiera podido hacerlo legalmente,</strong> si en realidad él hubiera deseado hacerlo<strong>.</strong>
        </p>
        <p> Son las tergiversaciones de sus palabras durante su vida terrenal<strong>,</strong> las que siempre han
            esgrimido
            los impugnadores de la vigencia de las leyes de Dios para el humano comportamiento<strong>.</strong> Por lo
            tanto<strong>,</strong> <strong>todas esas impugnaciones y todos esos argumentos basados en palabras
                anteriores a su
                crucifixión, se caen por su base con el razonamiento anterior, porque Cristo jamás hubiera dicho o hecho
                nada
                contra las leyes de Dios, antes de su crucifixión, sino después de su resurrección. Sin embargo, después
                de su
                resurrección jamás lo hizo.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    