---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cristo no abolió las leyes de Dios para el comportamiento humano">
    <Title>Cristo no abolió las leyes de Dios para el comportamiento humano</Title>

    <Tag>#110</Tag>
    <Content>
        
        <Paragraph> Muchos creen erróneamente que las leyes de Dios para el comportamiento humano fueron abolidas por Jesucristo<Bold>.</Bold>
            Las que fueron abolidas fueron las leyes rituales<Bold>.</Bold> Esto lo dejó Jesucristo muy claramente
            dicho en
            Mt 5<Bold>:</Bold>17-19<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>No penséis que he venido para abrogar la ley</Bold> <i>o los
            profetas<Bold>,</Bold> no he venido para abrogar<Bold>,</Bold> sino a cumplir<Bold>.</Bold></i>
            18 <i>Porque
                de cierto os digo<Bold>,</Bold> que <Bold>hasta que perezca el cielo y la Tierra, ni una jota ni
                    una tilde
                    perecerá de la ley,</Bold> hasta que todas las cosas sean hechas<Bold>.</Bold></i> 19 <i>De
                manera que
                cualquiera que infringiere uno de estos mandamientos muy pequeños<Bold>,</Bold> y así enseñare a los
                hombres<Bold>,</Bold> muy pequeño será llamado en el Reino de los Cielos<Bold>;</Bold> mas
                cualquiera que
                hiciere y enseñare<Bold>,</Bold> éste será llamado grande en el Reino de los
                Cielos</i><Bold>."</Bold> (Mt 5<Bold>:</Bold>17-19)
        </Paragraph>
        <Paragraph> Si la hipótesis de que las leyes de Dios para el comportamiento humano fueron abolidas al ser clavado Cristo
            en la
            Cruz fuera cierta<Bold>,</Bold> entonces tendríamos que llegar a la conclusión de que<Bold>,</Bold>
            <Bold>al
                menos hasta la muerte de Jesús, estuvieron vigentes.</Bold> En ese caso<Bold>,</Bold> <Bold>si
                Jesús
                hubiera querido abolir la ley, o hablar contra ella, jamás lo hubiera hecho antes de su
                crucifixión,</Bold>
            pues eso hubiera sido faltar a la Ley de Dios<Bold>,</Bold> pecar contra ella<Bold>,</Bold> y no
            hubiera
            podido salvarnos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si Jesús hubiera querido hablar contra la ley o declararla abolida, hubiera esperado a
            resucitar,</Bold>
            para entonces poder hacerlo legalmente<Bold>,</Bold> sin faltar en nada<Bold>.</Bold> Si Jesús
            hubiera
            pecado hablando contra una ley cuando aún estaba vigente<Bold>,</Bold> no hubiera podido
            salvarnos<Bold>,</Bold> porque hubiera pecado al menospreciar la ley<Bold>,</Bold> como dice en Heb
            10<Bold>:</Bold>28<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>El que menospreciare la ley de Moisés,</i></Bold> <i>por el testimonio de dos o de tres
            testigos muere
            sin ninguna misericordia</i><Bold>".</Bold> (Heb 10<Bold>:</Bold>28)</Paragraph>
        <Paragraph> Dicho más claramente<Bold>,</Bold> <Bold>si efectivamente Jesús hubiera abolido la ley, no lo hubiera
            hecho
            antes de su crucifixión, sino después de su resurrección.</Bold> Sin embargo<Bold>,</Bold> vemos que
            este tipo
            de versículos<Bold>,</Bold> en los que <Bold>aparentemente</Bold> Cristo habla sobre la abolición de
            la
            ley<Bold>,</Bold> <Bold>jamás fueron dichas por él después de su resurrección, que era precisamente
                cuando
                hubiera podido hacerlo legalmente,</Bold> si en realidad él hubiera deseado hacerlo<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Son las tergiversaciones de sus palabras durante su vida terrenal<Bold>,</Bold> las que siempre han
            esgrimido
            los impugnadores de la vigencia de las leyes de Dios para el humano comportamiento<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> <Bold>todas esas impugnaciones y todos esos argumentos basados en palabras
                anteriores a su
                crucifixión, se caen por su base con el razonamiento anterior, porque Cristo jamás hubiera dicho o hecho
                nada
                contra las leyes de Dios, antes de su crucifixión, sino después de su resurrección. Sin embargo, después
                de su
                resurrección jamás lo hizo.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    