---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Para llegar a la doctrina evangélica correcta la mayoría de los cristianos proceden como Naamán">
    <Content>
        <Paragraph><Bold>Para llegar a la doctrina evangélica correcta la mayoría de los cristianos proceden como
            Naamán</Bold></Paragraph>
        <Paragraph> Hay quien piensa que cuando él pida algo de Dios<Bold>,</Bold> lo va a recibir en la forma más dramática
            y
            vanidosa que haya<Bold>.</Bold> No es así<Bold>,</Bold> la metodología divina no es igual a la
            humana<Bold>.</Bold> Veamos el caso del sirio Naamán<Bold>,</Bold> general leproso<Bold>,</Bold>
            que
            creía que Dios le iba a responder a su manera<Bold>,</Bold> y por poco no alcanza la sanidad que
            imploraba<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Muchas veces los creyentes procedemos con Dios igual que este general sirio procedió con
            Eliseo.</Bold> El
            profeta le dio al leproso todo lo necesario para curarse<Bold>;</Bold> pero por poco no se
            cura<Bold>,</Bold> porque Eliseo no siguió el método que el general creía que debía
            seguir<Bold>.</Bold></Paragraph>
        <Paragraph> Muchos creyentes pedimos cosas a Dios<Bold>,</Bold> las cuales esperamos que Él haga en forma dramática
            y
            anonadante<Bold>,</Bold> en la forma que nosotros creemos que debía sernos dadas<Bold>.</Bold> Luego<Bold>,</Bold>
            cuando obtenemos la misma meta que deseábamos<Bold>,</Bold> pero en forma que se nos antoja natural y
            humilde<Bold>,</Bold> nos parece que Dios no nos ha escuchado<Bold>.</Bold> Sí nos
            escuchó<Bold>;</Bold>
            lo que pasa es que no quiso estimular nuestra vanidad haciendo portentos teatralescos<Bold>,</Bold>
            cuando podía
            ayudarnos perfectamente por medios que a los demás les lucirían naturales<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Igualmente muchísimos creyentes piden a Dios saber la verdad en religión,</Bold> pero cuando Dios
            les envía
            hermanos que discuten con ellos sus erradas doctrinas<Bold>,</Bold> se sienten defraudados como Naamán y
            piensan<Bold>:</Bold>
            yo creía que Dios dejaría Su Trono en el Cielo y aparecería delante de mí para decirme cuál es la verdadera
            doctrina<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> "</Bold>9 <i>Y vino Naamán con sus caballos y con su carro<Bold>,</Bold> y se paró a las
            puertas de la
            casa de Eliseo<Bold>.</Bold></i> 10 <i>Entonces Eliseo le envió un mensajero<Bold>,</Bold>
            diciendo<Bold>:</Bold> <Bold>Ve, y lávate siete veces en el Jordán, y tu carne se te restaurará, y
                serás
                limpio.</Bold></i> 11 <i>Y Naamán se fue enojado<Bold>,</Bold> diciendo<Bold>:</Bold> <Bold>He
            aquí
            yo decía para mí: Saldrá él luego, y estando en pie invocará el nombre de Jehová su Dios, y alzará su mano,
            y tocará
            el lugar, y sanará la lepra.</Bold></i> 12 <i>Abana y Farfar<Bold>,</Bold> ríos de
            Damasco<Bold>,</Bold>
            <Bold>¿</Bold>no son mejores que todas las aguas de Israel<Bold>?</Bold> Si me lavare en
            ellos<Bold>,</Bold> <Bold>¿</Bold>no seré también limpio<Bold>?</Bold> Y se
            volvió<Bold>,</Bold> y
            se fue enojado</i><Bold>."</Bold> (II R 5<Bold>:</Bold>9<Bold>:</Bold>12)</Paragraph>
        <Paragraph> Al fin sus siervos le hicieron razonar que si el profeta le hubiera pedido que hiciera algo
            difícil<Bold>,</Bold> teatral<Bold>,</Bold> dramático<Bold>,</Bold> seguramente lo hubiera hecho<Bold>.</Bold>
            Por lo tanto<Bold>,</Bold> si le había pedido una cosa tan sencilla como zambullirse siete veces en el
            río
            Jordán<Bold>,</Bold> <Bold>¿</Bold>por qué no hacerlo<Bold>?</Bold> El general depuso su actitud<Bold>,</Bold>
            hizo aquella aparentemente tonta cosa que le había mandado el profeta<Bold>,</Bold> y quedó sano de su
            lepra<Bold>.</Bold> Si no hubiera aceptado las disposiciones del profeta de Dios<Bold>,</Bold>
            hubiera
            perdido la bendición de sanidad que le estaba reservada<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Otro tanto nos puede suceder a nosotros,</Bold> si cuando oramos<Bold>,</Bold> pensamos que la
            respuesta de Dios solamente debe venir en forma dramática<Bold>,</Bold> anonadante<Bold>,</Bold>
            teatralesca<Bold>.</Bold>
            Vale la pena aquí repetir el párrafo precedente<Bold>:</Bold> <Bold>"Igualmente muchos creyentes piden
                a Dios
                saber la verdad en religión, pero cuando Dios les envía hermanos que discuten con ellos sus erradas
                doctrinas,
                se sienten defraudados como Naamán y piensan: yo creía que Dios dejaría Su Trono en el Cielo y
                aparecería
                delante de mí para decirme cuál es la verdadera doctrina."</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    