---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Error y herejía de ser novotestamentario">
    <Tag>#114</Tag>
    <Content>
        <Paragraph><Bold>Error y herejía de ser novotestamentario</Bold></Paragraph>
        <Paragraph> Hay quienes alardean de que ellos son <Bold>"</Bold>novotestamentarios<Bold>",</Bold> esbozando a la
            vez en
            sus rostros un rictus de desprecio para el Antiguo Testamento<Bold>,</Bold> y los
            <Bold>"</Bold>infelices<Bold>"</Bold> que se guían por él<Bold>,</Bold> conjuntamente con el
            Nuevo
            Testamento<Bold>.</Bold> <Bold>Hablan y actúan como si el Antiguo Testamento lo hubiera inspirado el
                Diablo y
                no Dios,</Bold> o como si Dios hubiera cambiado de opinión después que lo inspiró<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>No era esa, evidentemente, la estructura mental de Pablo.</Bold> Cuando él escribía la Segunda
            Epístola a
            Timoteo<Bold>,</Bold> no existía aún el Nuevo Testamento<Bold>;</Bold> pero mucho menos cuando
            Timoteo era
            niño<Bold>.</Bold> Obviamente<Bold>,</Bold> lo que Timoteo conocía desde su niñez era el Antiguo
            Testamento<Bold>,</Bold> no el Nuevo Testamento<Bold>.</Bold> A aquel es al que Pablo llama aquí
            <Bold>"</Bold>Las Sagradas Escrituras<Bold>"</Bold> y no a éste aún<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> <Bold>todo lo que Pablo dice en estos versículos lo dice referente a ese Antiguo
                Testamento que tantos cristianos desprecian y hasta abominan.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>14 <i>Empero persiste tú en lo que has aprendido y te persuadiste<Bold>,</Bold>
            sabiendo de
            quién has aprendido<Bold>;</Bold></i> 15 <i>y <Bold>que desde la niñez</Bold> has sabido <Bold>las
            Sagradas Escrituras,</Bold> las cuales te pueden <Bold>hacer sabio</Bold> para la <Bold>salud por la
            fe que
            es en Cristo Jesús.</Bold></i> 16 <Bold>Toda Escritura es inspirada divinamente</Bold> <i>y <Bold>útil
            para
            enseñar,</Bold> <Bold>para redargüir,</Bold> <Bold>para corregir,</Bold> <Bold>para instituir en
            justicia;</Bold></i> 17 <i>para que el hombre de Dios sea perfecto<Bold>,</Bold> <Bold>enteramente
            instruido</Bold> para toda buena obra</i><Bold>."</Bold> (II Tim 3<Bold>:</Bold>14-17)</Paragraph>
        <Paragraph><Bold>¿</Bold>Qué dice Pablo del Antiguo Testamento<Bold>?</Bold> Él<Bold>,</Bold> que sabía lo
            que
            estaba hablando mejor que muchos parlanchines doctorados que hoy tenemos<Bold>,</Bold> dice que <Bold>el
                Antiguo Testamento nos puede hacer sabios para la salud por la fe que es en Cristo Jesús.</Bold>
            <Bold>Sí;</Bold> al que no quiera cerrar los ojos<Bold>,</Bold> el Antiguo Testamento lo conduce a
            Jesús<Bold>;</Bold> <Bold>¡</Bold>para eso precisamente fue escrito<Bold>!</Bold>
            <Bold>¿</Bold>No
            se acuerdan ustedes que a ese respecto lo usaron eficazmente los judíos de Berea según Hch
            17<Bold>:</Bold>11<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Después,</Bold> refiriéndose aún al Antiguo Testamento dice que <Bold>todo él fue inspirado
            divinamente.</Bold> Esto no quiere decir que luego cuando el Nuevo Testamento vino a
            existir<Bold>,</Bold> no
            pudiera hacerse extensivo a él también lo aquí dicho<Bold>;</Bold> <Bold>pero cuando Pablo lo dijo se
                refería
                al Antiguo Testamento.</Bold></Paragraph>
        <Paragraph> Más adelante dice que ese Antiguo Testamento abominado por los novotestamentarios<Bold>,</Bold> <Bold>es
            útil
            para enseñar. ¿Enseñar a quienes? A los cristianos.</Bold> <Bold>¿</Bold>Y enseñarles
            qué<Bold>?</Bold>
            Todo<Bold>;</Bold> porque toda Escritura (dice refiriéndose al Antiguo Testamento)<Bold>,</Bold> es
            inspirada divinamente<Bold>,</Bold> incluyendo el Decálogo y toda la Ley de Dios<Bold>.</Bold></Paragraph>
        <Paragraph> Pero no sólo eso<Bold>;</Bold> dice además que <Bold>el Antiguo Testamento es utilizable para
            redargüir y para
            corregir a los cristianos.</Bold> Si a los cristianos se les redargüía y se les corregía usando para ello
            el
            Antiguo Testamento<Bold>,</Bold> <Bold>es porque los cristianos se guiaban por el Antiguo Testamento,
                es
                decir, porque los cristianos lo tenían como norma de comportamiento; no lo consideraban obsoleto ni lo
                abominaban.</Bold> Si Pablo aprobaba y estimulaba tal cosa aún al final casi de su
            vida<Bold>,</Bold>
            <Bold>¿</Bold>por qué no lo hacen los cristianos de la actualidad<Bold>?</Bold> <Bold>¿</Bold>Por
            qué
            despreciar el Antiguo Testamento<Bold>,</Bold> abominarlo y hasta contradecirlo<Bold>?</Bold>
            <Bold>¿</Bold>No será esa una de las causas de la debilidad de la cristiandad de todos los
            tiempos<Bold>?</Bold> <Bold>¿</Bold>Cuándo se podrá tener una cristiandad integral que se guíe por
            toda la
            Biblia y no por parte de ella<Bold>,</Bold> según a cada secta le conviene<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Yo no veo conflicto, sino complementación, entre el Antiguo Testamento y el Nuevo Testamento</Bold>
        </Paragraph>
        <Paragraph> Por último<Bold>,</Bold> dice Pablo que <Bold>el Antiguo Testamento sirve para instituir en justicia,
            o sea,
            que sus leyes deben ser nuestra norma de justicia,</Bold> nuestra guía para proceder
            justamente<Bold>.</Bold>
            Es lo que siempre he dicho<Bold>,</Bold> hay muchas cosas que nosotros no supiéramos que son malas si no
            las
            leyéramos en el Antiguo Testamento<Bold>,</Bold> cuya vigencia no impugna el apóstol<Bold>,</Bold>
            sino que
            por el contrario la resalta<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Y para que más sirve ese Antiguo Testamento</Bold> que tantos cristianos menosprecian o
            abominan<Bold>?</Bold> Pues para que el hombre de Dios (Timoteo y los cristianos en general) sea
            perfecto<Bold>,</Bold> <Bold>enteramente instruido</Bold> para toda buena obra<Bold>.</Bold>
            <Bold>¡</Bold>Casi nada lo que pasan por alto los que se vanaglorian de ser
            novotestamentarios<Bold>!</Bold>
        </Paragraph>
        <Paragraph><Bold>¿Y quien dice todo esto en favor del Antiguo Testamento?</Bold> <Bold>Pues nada menos que el
            mismo
            apóstol que erróneamente tienen ellos como campeón de los que dan por inútil el Antiguo Testamento.</Bold>
            El
            mismo que ellos dicen que decía que la ley estaba abolida y el Antiguo Testamento pasado de
            moda<Bold>.</Bold>
            El mismo que cuando les habla de un nuevo pacto y de otro dado por viejo<Bold>,</Bold> ellos creen que
            se
            refiere al Antiguo Testamento y la Ley de Dios<Bold>,</Bold> no a las leyes rituales<Bold>,</Bold>
            los ritos
            y ceremonias judaizantes<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Leer muchas veces la Biblia y no temer encontrar la verdad, son dos muy buenas ayudas para
            encontrarla.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    