---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La profecía de Daniel de las 70 semanas">
    <Title>La profecía de Daniel de las 70 semanas de años nos dice la época en que vendría el Mesías</Title>

    <Tag>#115</Tag>
    <Content>
        
        <Paragraph><Bold>Una de las profecías que con más exactitud nos muestra que Jesucristo es el Mesías, es la de las
            setenta
            semanas de años.</Bold> Esta profecía nos indica el tiempo que iba a transcurrir desde que
            Artajerjes<Bold>,</Bold> rey de Persia<Bold>,</Bold> dio a Nehemías el permiso para la
            reconstrucción de
            Jerusalem<Bold>,</Bold> hasta la venida del Mesías<Bold>.</Bold> Eso es lo que vamos a tratar en
            este
            artículo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Como que la palabra "semana" actualmente se usa solamente para nombrar un lapso de siete
            días,</Bold> es
            imprescindible demostrar primero que en los días de Moisés y los profetas<Bold>,</Bold> la palabra
            también se
            utilizaba para nombrar un lapso de siete años<Bold>.</Bold></Paragraph>
        <Paragraph> Si vamos a leer Gn 29<Bold>:</Bold>27-28 veremos que en este pasaje se comprueba que<Bold>,</Bold>
            desde
            tiempos inmemoriales<Bold>,</Bold> uno de los <Bold>significados bíblicos</Bold> de la palabra
            <Bold>"</Bold>semana<Bold>"</Bold> era el de un período de siete años<Bold>.</Bold> Aquí se
            relaciona
            <Bold>directamente, la palabra "semana" con un período de siete años.</Bold> Es importante puntualizar
            esto<Bold>,</Bold> porque el significado este de la palabra <Bold>"</Bold>semana<Bold>"</Bold>
            es la
            clave para la interpretación de la profecía de las Setenta Semanas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Después que Jacob fue engañado por su suegro</Bold> cuando éste le dio por mujer a Lea en lugar de
            a Rachel<Bold>,</Bold>
            Labán le propuso a su yerno que trabajara <Bold>"otra semana",</Bold> para darle también a
            Rachel<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>27 <Bold>Cumple la semana de ésta,</Bold> <i>y se te dará también la
            otra<Bold>,</Bold> por
            el servicio que hicieres conmigo <Bold>otros siete años.</Bold></i> 28 <i>E hizo Jacob
            así<Bold>,</Bold> y
            <Bold>cumplió la semana de aquélla,</Bold> y él le dio a Rachel su hija por mujer</i><Bold>."</Bold>
            (Gn
            29<Bold>:</Bold>27-28)</Paragraph>
        <Paragraph> Como vimos en el pasaje anterior<Bold>,</Bold> se le llama <Bold>"</Bold>semana<Bold>"</Bold> a
            un lapso
            de siete años<Bold>.</Bold> <Bold>También en Levítico 25:8 vemos que se le llama "semana" a un período
                de
                siete años.</Bold> Los que no han leído la Escritura ignoran que en ella se habla también de
            <Bold>"</Bold>semanas de años<Bold>".</Bold> En el siguiente versículo vemos claramente que en
            ocasiones se
            llamaban <Bold>"</Bold>semanas<Bold>"</Bold> a períodos de siete años<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y te has de contar <Bold>siete semanas de años, siete veces siete años;</Bold> de
            modo que
            <Bold>los días de las siete semanas de años vendrán a serte cuarenta y nueve
                años</Bold></i><Bold>."</Bold>
            (Lev 25<Bold>:</Bold>8)</Paragraph>
        <Paragraph> Vemos de nuevo en el recién leído versículo<Bold>,</Bold> que la palabra
            <Bold>"</Bold>semana<Bold>"</Bold> se usaba también para indicar un período de siete
            años<Bold>.</Bold>
            Sabido ya el antiguo uso de la palabra <Bold>"</Bold>semana<Bold>"</Bold> para indicar un período de
            siete
            años<Bold>,</Bold> vamos a leer la profecía contenida en el libro del profeta Daniel<Bold>,</Bold>
            capítulo
            nueve<Bold>.</Bold></Paragraph>
        <Paragraph> Al comenzar el capítulo vemos que Daniel está en busca de la voluntad de Dios<Bold>,</Bold> por lo cual
            oraba<Bold>.</Bold> De eso nos enteramos al leer el capítulo nueve<Bold>,</Bold> desde el versículo
            uno
            hasta el veintitrés<Bold>,</Bold> en el cual nos dice que se le apareció un ángel que le hizo la
            siguiente
            revelación<Bold>.</Bold> Analicen concienzudamente esta revelación<Bold>,</Bold> para que vean que
            <Bold>solamente
                concuerda con Jesucristo.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>24 <Bold>Setenta semanas</Bold> <i>están determinadas sobre tu pueblo y sobre tu santa
            ciudad<Bold>,</Bold> para acabar la prevaricación<Bold>,</Bold> y concluir el
            pecado<Bold>,</Bold> y
            <Bold>expiar la iniquidad; y para traer la justicia de los siglos,</Bold> y sellar la visión y la
            profecía<Bold>,</Bold> y ungir al Santo de los santos<Bold>.</Bold></i> 25 <i>Sepas pues y entiendas<Bold>,</Bold>
            que <Bold>desde la salida de la palabra para restaurar y edificar a Jerusalem hasta el Mesías Príncipe,
                habrá
                siete semanas, y sesenta y dos semanas.</Bold> Se tornará a edificar la plaza y el muro en tiempos
            angustiosos<Bold>.</Bold></i>
            26 <Bold>Y después de las sesenta y dos semanas se quitará la vida al Mesías,</Bold> <i>y no por
                sí<Bold>;</Bold> y el pueblo de un príncipe que ha de venir<Bold>,</Bold> <Bold>destruirá la
                    ciudad y
                    el santuario.</Bold> Con inundación será el fin de ella<Bold>,</Bold> y hasta el fin de la
                guerra será
                talada con asolamientos<Bold>.</Bold></i> 27 <i>Y <Bold>en otra semana</Bold> confirmará el
                pacto a
                muchos<Bold>,</Bold> y a la mitad de la semana hará cesar el sacrificio y la
                ofrenda<Bold>;</Bold>
                después<Bold>,</Bold> con la muchedumbre de las abominaciones será el desolar<Bold>,</Bold> y
                esto hasta
                una entera consumación<Bold>;</Bold> y se derramará la ya determinada sobre el pueblo
                asolado</i><Bold>."</Bold> (Dn 9<Bold>:</Bold>24-27)</Paragraph>
        <Paragraph> De este importantísimo pasaje de la profecía de Daniel sacamos en conclusión que Dios le estaba revelando al
            profeta<Bold>,</Bold>
            que el pueblo judío pasaría por tres períodos distintos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El primer período era de siete semanas,</Bold> o sea<Bold>,</Bold> 49 años<Bold>,</Bold>
            durante el
            cual se tornaría a edificar la plaza y el muro en tiempos angustiosos<Bold>.</Bold> Esto ocurrió en
            época de
            Nehemías<Bold>;</Bold> basta leer este libro para comprobarlo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El segundo período era de sesenta y dos semanas,</Bold> o sea<Bold>,</Bold> 434
            años<Bold>,</Bold>
            que sumado con el primer período formaban 483 años (49+434=483)<Bold>.</Bold> Después de esos 483 años
            vendría
            el Mesías como dice el versículo 25<Bold>,</Bold> y después de su venida se le quitaría la
            vida<Bold>,</Bold> como dice el versículo 26<Bold>,</Bold> en forma clarísima<Bold>,</Bold> y
            luego de
            eso la ciudad de Jerusalem y su Templo serían destruidos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>De la lectura de esta profecía de Daniel sacamos en consecuencia que:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> Dios tenía determinado un período de 70 semanas de años para el pueblo de
            Israel<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b)</Bold> El Mesías llegaría (69 semanas) 483 años después de que se diera la orden de restaurar a
            Jerusalem<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> Al Mesías lo matarían después de los 483 años posteriores a la orden de restaurar a
            Jerusalem<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d)</Bold> Después de que se le quitara la vida al Mesías<Bold>,</Bold> la ciudad de Jerusalem y
            el
            Templo<Bold>,</Bold> serían destruidos<Bold>,</Bold> como ocurrió con Tito Flavio<Bold>,</Bold>
            hijo del
            emperador Vespasiano<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> e)</Bold> Luego de estos dos períodos que suman 69 semanas de años<Bold>,</Bold> <Bold>todavía
            quedaría un futuro tercer período de una semana de años, en el que Israel volvería a ser parte de la
            profecía de
            Dios.</Bold></Paragraph>
        <Paragraph><Bold>Esos son los siete años finales de la historia del mundo.</Bold> Los primeros tres años y seis
            meses de ese
            período final de siete años<Bold>,</Bold> se distinguirán por la aparición de lo que la profecía del
            Apocalipsis<Bold>,</Bold>
            (en el Nuevo Testamento)<Bold>,</Bold> denomina <Bold>"</Bold>los dos testigos<Bold>".</Bold>
            Éstos son
            dos profetas de Dios que harán maravillas<Bold>,</Bold> al igual que en los tiempos antiguos hacía Elías<Bold>.</Bold>
            Luego de estos primeros tres años y medio<Bold>,</Bold> surgirá el antiCristo<Bold>,</Bold> durante
            los
            cuarenta y dos meses restantes (tres años y medio)<Bold>.</Bold> Este personaje matará a los dos
            testigos de
            Dios<Bold>,</Bold> y hará creer que él es el mesías<Bold>,</Bold> para luego exigir que lo
            adoren<Bold>,</Bold> diciendo que él es dios<Bold>,</Bold> y exigirá que se marquen con el número
            666<Bold>,</Bold> lo cual muchos aceptarán<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Cuándo comienzan a contarse los 483 años?</Bold> Sabido ya en resumen qué es lo que la profecía de
            Daniel
            dice<Bold>,</Bold> vamos a demostrar ahora cómo esta profecía del Mesías se cumple en
            Jesucristo<Bold>.</Bold> Para saber cuándo se cumplen los 483 años<Bold>,</Bold> tenemos primero que
            saber
            cuando comienza ese período<Bold>.</Bold></Paragraph>
        <Paragraph> Según la propia profecía de Daniel<Bold>,</Bold> <Bold>desde</Bold> la salida de la palabra para
            <Bold>restaurar
                y edificar a Jerusalem</Bold> hasta el Mesías Príncipe<Bold>,</Bold> habría siete
            semanas<Bold>,</Bold> y
            sesenta y dos semanas<Bold>,</Bold> que hacen un total de 69 semanas de años<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> vayamos a enterarnos en la misma Escritura<Bold>,</Bold> cuándo fue dada esa
            orden<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Este pasaje de Neh 2:1-6 es uno de los más importantes en las profecías sobre el Mesías. En la fecha
            dada en
            él se basa el comienzo del cómputo de la profecía de las setenta semanas de años</Bold> que se hace en Dn
            9<Bold>:</Bold>24-27<Bold>.</Bold> Ambos pasajes unidos son un magnífico argumento para probar a los
            judíos
            que Cristo es el Mesías en su Primera Venida<Bold>;</Bold> y a los ateos<Bold>,</Bold> que la Biblia
            es un
            libro de Dios<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph> Al comenzar este capítulo dos de Nehemías<Bold>,</Bold> vemos que este personaje se halla en el año 20
            del
            reinado de Artajerjes<Bold>,</Bold> rey de Persia<Bold>.</Bold> En ese momento aún Jerusalem estaba
            destruida a consecuencia del sitio que a ella puso Nabucodonosor en época de Sedequías rey de
            Judá<Bold>.</Bold>
            Esto lo sabemos por lo dicho en Neh 1<Bold>:</Bold>3 y lo pormenorizado por Nehemías al rey Artajerjes
            en
            2<Bold>:</Bold>3-5<Bold>.</Bold> En estos versículos se evidencia que<Bold>:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> la gente que vivía en Jerusalem estaba en gran mal y afrenta<Bold>,</Bold> debido a
            que
            <Bold>los muros de la ciudad estaban derribados y sus puertas quemadas;</Bold></Paragraph>
        <Paragraph><Bold>b) la ciudad estaba desierta, es decir poca gente habitaba en ella,</Bold> esto se confirma en Neh
            11<Bold>:</Bold>1-2 donde vemos una especie de leva compulsoria para reclutar habitantes para
            Jerusalem<Bold>;</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> Nehemías pide al rey <Bold>directamente,</Bold> que lo envíe a reedificar a Jerusalem<Bold>,</Bold>
            lo cual es señal cierta de que aún no estaba reedificada<Bold>.</Bold> Además<Bold>,</Bold>
            comprobamos allí<Bold>,</Bold>
            <Bold>que en ese momento se estaba dando a Nehemías, por parte del rey Artajerjes, la orden de
                reedificarla así
                como la autoridad y los medios para hacerlo.</Bold></Paragraph>
        <Paragraph> Por todo lo anteriormente dicho<Bold>,</Bold> no cabe la más mínima duda de que <Bold>"la salida de la
            palabra
            para restaurar y reedificar a Jerusalem" tuvo lugar el año 20 del rey Artajerjes de Persia.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Palabras de Nehemías<Bold>,</Bold> hijo de Hachalías<Bold>.</Bold> Y acaeció
            <Bold>en
                el mes de Chisleu, en el año veinte,</Bold> estando yo en Susán<Bold>,</Bold> capital del
            reino<Bold>,</Bold></i> 2 <i>que vino Hanani<Bold>,</Bold> uno de mis hermanos<Bold>,</Bold> él
            y
            ciertos varones de Judá<Bold>,</Bold> y les pregunté por los judíos que habían
            escapado<Bold>,</Bold> que
            habían quedado de la cautividad<Bold>,</Bold> y por Jerusalem<Bold>.</Bold></i> 3 <i>Y me
            dijeron<Bold>:</Bold> <Bold>El residuo, los que quedaron de la cautividad allí en la provincia, están
                en gran
                mal y afrenta, y el muro de Jerusalem derribado, y sus puertas quemadas a
                fuego.</Bold></i><Bold>"</Bold>
            (Neh 1<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph> El pasaje recién leído nos demuestra que en el año 20 del rey Artajerjes<Bold>,</Bold> todavía Jerusalem
            estaba
            destruida<Bold>,</Bold> sin muros ni puertas para defenderse<Bold>.</Bold> Veamos ahora cómo fue en
            este año
            20 de Artajerjes<Bold>,</Bold> que éste da la orden de restaurar a Jerusalem<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>1</i> <i>Y fue en el mes de Nisán<Bold>,</Bold> <Bold>en el año veinte del rey
            Artajerjes,</Bold> que estando ya el vino delante de él<Bold>,</Bold> tomé el vino<Bold>,</Bold> y
            dilo al
            rey<Bold>.</Bold> Y como yo no había estado antes triste en su presencia<Bold>,</Bold></i> 2 <i>díjome</i>
            <i>el rey<Bold>:</Bold> <Bold>¿</Bold>Por qué está triste tu rostro<Bold>,</Bold> pues no estás
                enfermo<Bold>?</Bold> No es esto sino quebranto de corazón<Bold>.</Bold> Entonces temí en gran
                manera<Bold>.</Bold></i> 3 <i>Y dije al rey<Bold>:</Bold> El rey viva para
                siempre<Bold>.</Bold>
                <Bold>¿Cómo no estará triste mi rostro, cuando la ciudad, casa de los sepulcros de mis padres, está
                    desierta,
                    y sus puertas consumidas del fuego?</Bold></i> 4 <i>Y me dijo el rey<Bold>:</Bold>
                <Bold>¿</Bold>Qué
                cosa pides<Bold>?</Bold> Entonces oré al Dios de los Cielos<Bold>,</Bold></i> 5 <i>y dije al rey<Bold>:</Bold>
                Si al rey place<Bold>,</Bold> y si agrada tu siervo delante de ti<Bold>,</Bold> <Bold>que me
                    envíes a
                    Judá, a la ciudad de los sepulcros de mis padres, y la reedificaré.</Bold></i> 6 <i>Entonces el
                rey me
                dijo<Bold>,</Bold> (y la reina estaba sentada junto a él)<Bold>:</Bold> <Bold>¿</Bold>Hasta
                cuándo
                será tu viaje<Bold>,</Bold> y cuándo volverás<Bold>?</Bold> <Bold>Y plugo al rey enviarme,
                    después que
                    yo le señalé tiempo</Bold></i><Bold>."</Bold> (Neh 2<Bold>:</Bold>1-6)</Paragraph>
        <Paragraph> Pero no solamente el rey Artajerjes da la orden<Bold>,</Bold> sino que también da autoridad a
            Nehemías<Bold>,</Bold> soldados y recursos para llevar a cabo la obra<Bold>,</Bold> como podemos
            leer en el
            libro de Nehemías<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Además dije al rey<Bold>:</Bold> Si al rey place<Bold>,</Bold> dénseme cartas
            para los
            gobernadores de la otra parte del río<Bold>,</Bold> que me franqueen el paso hasta que llegue a
            Judá<Bold>;</Bold></i> 8 <Bold>y carta para Asaf, guarda del bosque del rey, a fin que me dé madera
            para
            enmaderar los portales del palacio de la casa, y para el muro de la ciudad, y la casa donde entraré. Y me lo
            otorgó
            el rey,</Bold> <i>según la benéfica mano de Dios sobre mí<Bold>.</Bold></i> 9 <i>Y vine luego a los
            gobernadores de la otra parte del río<Bold>,</Bold> y les di las cartas del rey<Bold>.</Bold>
            <Bold>Y el
                rey envió conmigo capitanes del ejército y gente de a caballo</Bold></i><Bold>."</Bold> (Neh
            2<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> Como hemos visto<Bold>,</Bold> la orden para la restauración de Jerusalem fue dada el año 20 del rey
            Artajerjes<Bold>.</Bold> Por otra parte Dn 9<Bold>:</Bold>25-26 dice claramente que <Bold>desde la
                salida
                de la palabra para restaurar a Jerusalem hasta el Mesías,</Bold> transcurrirían dos
            períodos<Bold>,</Bold>
            uno de 7 semanas y otro de 62 semanas<Bold>,</Bold> o sea<Bold>,</Bold> 69 semanas de
            años<Bold>,</Bold>
            lo cual representaba 483 años<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>25 <i>Sepas pues y entiendas<Bold>,</Bold> que <Bold>desde la salida de la palabra
            para
            restaurar y edificar a Jerusalem hasta el Mesías Príncipe, habrá siete semanas, y sesenta y dos
            semanas;</Bold> se
            tornará a edificar la plaza y el muro en tiempos angustiosos<Bold>.</Bold></i> 26 <Bold>Y después de
            las
            sesenta y dos semanas se quitará la vida al Mesías, y no por sí;</Bold> <i>y el pueblo de un príncipe que
            ha de
            venir<Bold>,</Bold> destruirá a la ciudad y el santuario<Bold>;</Bold> con inundación será el fin de
            ella<Bold>,</Bold> y hasta el fin de la guerra será talada con asolamientos</i><Bold>."</Bold> (Dn 9<Bold>:</Bold>25-26)
        </Paragraph>
        <Paragraph><Bold>Si ahora vamos a la Enciclopedia británica,</Bold> XV Edición 1977<Bold>,</Bold>
            Micropaedia<Bold>,</Bold> volumen I<Bold>,</Bold> página 549<Bold>,</Bold> veremos que el rey
            Artajerjes
            I que aquí se menciona como dando la <Bold>"</Bold>palabra para restaurar y edificar a
            Jerusalem<Bold>",</Bold> reinó desde el año 465 al 425 a<Bold>.</Bold>C<Bold>.</Bold> Si este
            monarca
            comenzó a reinar en el año 465 a<Bold>.</Bold>C<Bold>.,</Bold> el año veinte de su reinado sería el
            445
            a<Bold>.</Bold>C<Bold>.</Bold> Ya sabemos que la cronología<Bold>,</Bold> tanto la bíblica como
            la
            histórica<Bold>,</Bold> no es muy exacta<Bold>,</Bold> pero aún así podemos basarnos en ella para
            encontrar
            la verdad<Bold>.</Bold></Paragraph>
        <Paragraph> Pues bien<Bold>,</Bold> si desde el año 20 de Artajerjes (445 a<Bold>.</Bold>C<Bold>.</Bold>)
            hasta el
            Mesías<Bold>,</Bold> iban a transcurrir 483 años<Bold>,</Bold> hagamos los cálculos y veremos que
            <Bold>venimos
                a caer en el año 38 después de Cristo.</Bold> Es decir que aún con la inexactitud de la
            cronología<Bold>,</Bold> el cómputo nos hace llegar a la época de Jesucristo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Pudiera algún aferrado alegar que el cómputo cae en el año 38 y no en el 33,</Bold> cuando Cristo
            fue
            crucificado<Bold>;</Bold> ni en el año cero<Bold>,</Bold> cuando nació Jesús<Bold>.</Bold> Pero
            eso es
            irrelevante por dos razones<Bold>:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> porque por ser inexacta la cronología<Bold>,</Bold> esos 5 años no son gran
            diferencia<Bold>;</Bold> incluso la cronología actual tiene 4 años de error y<Bold>,</Bold></Paragraph>
        <Paragraph><Bold>b) en toda aquella época no surgió otro ser de estatura mesiánica, aparte de Jesucristo.</Bold></Paragraph>
        <Paragraph> Es decir<Bold>,</Bold> que nuestro problema no es tratar de ver a cual de tres o cuatro personajes
            contemporáneos unos de otros en aquella época<Bold>,</Bold> le sienta mejor la cronología
            profética<Bold>.</Bold> Si hubiera habido otro <Bold>"</Bold>mesías<Bold>"</Bold> con la
            estatura
            religiosa de Cristo<Bold>,</Bold> pudiera haber dudas<Bold>;</Bold> pero no<Bold>,</Bold> él fue
            el
            único en todo aquel período<Bold>.</Bold> Es lógico pues que el plazo se cumplía en él aunque a esta
            distancia
            en el tiempo<Bold>,</Bold> exista una pequeña inexactitud en el cómputo<Bold>.</Bold> Es
            decir<Bold>,</Bold> que los creyentes en las Escrituras Hebreas tienen dos
            alternativas<Bold>:</Bold>
            <Bold>a)</Bold> o Cristo es el Mesías en su Primera Venida<Bold>,</Bold> o <Bold>b)</Bold> el
            profeta
            Daniel falló miserablemente en su predicción<Bold>,</Bold> cosa que un creyente consideraría
            blasfema<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Una vez visto todo esto, podemos decir que cualquier ateo honesto que quiera razonar sobre el
            asunto,</Bold> que tenga interés en investigar la verdad<Bold>,</Bold> tiene que darse cuenta de que
            ahí tiene
            <Bold>una prueba del origen divino de la Biblia.</Bold> Los dos pasajes que prueban que Jesús cumple la
            profecía
            hecha sobre el Mesías<Bold>,</Bold> pertenecen al Antiguo Testamento<Bold>,</Bold> o
            sea<Bold>,</Bold>
            pertenecen a lo que los judíos admiten y administran<Bold>.</Bold> <Bold>No puede existir en un ateo
                la
                sospecha de que esos dos pasajes fueron "arreglados" para que concordaran con Jesucristo, puesto que:
                1)</Bold> los judíos ortodoxos no <Bold>"</Bold>arreglan<Bold>"</Bold> la
            Escritura<Bold>;</Bold>
            y <Bold>2)</Bold> porque aún en el caso de <Bold>"</Bold>arreglarla<Bold>",</Bold> jamás la
            arreglarían
            para demostrar que Jesucristo es el Mesías<Bold>.</Bold></Paragraph>
        <Paragraph> Por lo tanto<Bold>,</Bold> si las pruebas de que el advenimiento de Cristo estaba profetizado con
            exactitud<Bold>,</Bold> descansan en pasajes que no pueden haber sido arreglados<Bold>,</Bold> es
            justo
            pensar que la profecía esa se cumplió<Bold>.</Bold> Y <Bold>si a 483 años vista se profetiza un evento
                singular, y más bien único, hay que llegar a la conclusión de que el libro que lo contiene no es, y no
                puede
                ser, de inspiración humana.</Bold></Paragraph>
        <Paragraph> Si un ateo desea más pruebas de que la Biblia es el Libro de Dios<Bold>,</Bold> puede leer mi libro
            <Bold>"</Bold>Las Cuatro Últimas Potencias Mundiales<Bold>"</Bold> que se halla en mi website
            www<Bold>.</Bold>bibleserralta<Bold>.</Bold>com<Bold>.</Bold> En él se demuestra con pruebas
            ajenas a la
            Biblia<Bold>,</Bold> que la profecía del capítulo 7 del libro bíblico de Daniel Profeta se está
            cumpliendo
            actualmente<Bold>.</Bold> En esa profecía<Bold>,</Bold> hecha hace casi 3<Bold>,</Bold>000 años
            se dice
            que las últimas cuatro potencias del mundo serían Inglaterra<Bold>,</Bold> Rusia<Bold>,</Bold> China
            y la
            Unión Europea<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Volvamos al tema.</Bold> Recuérdese que lo de Artajerjes fue un permiso oficial respaldado por
            fuerzas del
            ejército (Neh 2<Bold>:</Bold>9)<Bold>,</Bold> <Bold>para reedificar a Jerusalem, y no para
                reedificar el
                Templo,</Bold> que ya había sido mandado a reedificar por Ciro mucho antes (Esd
            1<Bold>:</Bold>1-4)<Bold>.</Bold> Además<Bold>,</Bold> fue Artajerjes el que<Bold>,</Bold>
            además de
            permiso y tropas<Bold>,</Bold> dio materiales de construcción para reedificar la ciudad y la muralla
            como ya
            vimos en Neh 2<Bold>:</Bold>8-9<Bold>.</Bold></Paragraph>
        <Paragraph> Como para confirmarnos el doble uso de la palabra <Bold>"</Bold>semana<Bold>",</Bold> vemos que un
            poquito
            más adelante en el mismo libro de Daniel<Bold>,</Bold> éste aclara <Bold>que las otras semanas de las
                que allí
                él habla, son semanas de días.</Bold> Tal vez<Bold>,</Bold> sabiendo que antes había hablado de
            semanas de
            años<Bold>,</Bold> se cree obligado aquí a aclarar que son semanas de días<Bold>,</Bold> para evitar
            confusiones<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>No comí pan delicado<Bold>,</Bold> ni entró carne ni vino en mi
            boca<Bold>,</Bold> ni me
            unté con ungüento<Bold>,</Bold> hasta que se cumplieron <Bold>tres semanas de
                días.</Bold></i><Bold>"</Bold> (Dn 10<Bold>:</Bold>3)</Paragraph>
        <Paragraph><Bold>Además de todos estos obvios datos y razonamientos</Bold> que nos demuestran que era costumbre
            hablar de
            semanas de años<Bold>,</Bold> podemos darnos cuenta de que cualquier judío que crea en el Antiguo
            Testamento
            como palabra de Dios<Bold>,</Bold> tiene que concluir que si en la profecía de las 70 semanas se
            refiriera a
            semanas de días<Bold>,</Bold> entonces la profecía no se hubiera cumplido<Bold>.</Bold> Digo
            esto<Bold>,</Bold> porque año y pico (setenta semanas) después de comenzada la reedificación de
            Jerusalem no la
            volvieron a destruir<Bold>.</Bold> Como que cualquier creyente verdadero sabe que las profecías de Dios
            no
            fallan<Bold>,</Bold> es necesario aceptar que se tiene que estar refiriendo a semanas de
            años<Bold>.</Bold>
            Efectivamente<Bold>,</Bold> más de 483 años después de su reconstrucción fue destruida la ciudad y el
            santuario<Bold>;</Bold> prueba de que se trataba de semanas de años<Bold>.</Bold></Paragraph>
        <Paragraph> Vamos a situarnos mentalmente en aquel período de la historia hebrea que se vivió 483 años después del día
            en que
            fue dada la orden de reedificar y restaurar a Jerusalem<Bold>.</Bold> Durante todo ese período no se
            levantó
            otro ser de estatura mesiánica aparte de Jesucristo<Bold>.</Bold> <Bold>Nadie puede mostrar un
                profeta, un
                sumo sacerdote, un caudillo, ni ningún otro personaje</Bold> que cumpla la profecía de las setenta
            semanas<Bold>,</Bold> como la cumplió Jesús<Bold>.</Bold> <Bold>¿</Bold>Por qué pues no aceptar
            a Cristo
            como Mesías<Bold>?</Bold> <Bold>¿</Bold>Por lo que puedan decir o pensar tus
            amigos<Bold>?</Bold> Lo
            malo es lo que pueda pensar Dios cuando te presentes ante Él y te pregunte que por qué no creíste a Su
            palabra<Bold>,</Bold> y por qué amaste más la aprobación de tus amigos<Bold>,</Bold> que la
            aprobación de tu
            Padre Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Resumen:</Bold> La profecía de las setenta semanas de años<Bold>,</Bold> en el libro de
            Daniel<Bold>,</Bold> capítulo 9<Bold>,</Bold> nos muestra certeramente cuándo había de venir el
            Mesías<Bold>.</Bold> Los dos pasajes de Gn 29<Bold>:</Bold>27-28 y Lv 25<Bold>:</Bold>8 nos
            muestran
            cómo en la época bíblica la palabra semana se usaba también para indicar un lapso de siete
            años<Bold>.</Bold>
            Luego<Bold>,</Bold> en Dn 9<Bold>:</Bold>24-27 vemos cómo el profeta Daniel anunció que el Mesías
            vendría 69
            semanas de años<Bold>,</Bold> o sea<Bold>,</Bold> 483 años después que saliera la orden de restaurar
            a
            Jerusalem<Bold>.</Bold> Luego de este lapso matarían al Mesías<Bold>,</Bold> y luego el Templo sería
            destruido<Bold>,</Bold> y también la ciudad de Jerusalem<Bold>.</Bold> Sin embargo<Bold>,</Bold>
            quedaba
            una semana de años para el futuro<Bold>,</Bold> en la que Dios volvería a manifestarse a
            Israel<Bold>.</Bold> De los 7 años de la última semana<Bold>,</Bold> los primeros 3&amp;frac12; años
            Dios se
            manifestaría por medio de los dos testigos que describe en el Nuevo Testamento en el libro
            Apocalipsis<Bold>.</Bold> Uno de esos dos profetas pudiera ser Elías<Bold>.</Bold> No hay que
            olvidar que
            según el profeta Malaquías<Bold>,</Bold> al final de los tiempos volvería Elías<Bold>.</Bold>
            Durante la
            segunda mitad de esa semana (3&amp;frac12; años) reinará el antiCristo<Bold>,</Bold> que impondrá su
            número
            666<Bold>,</Bold> y que será aceptado por muchos y rechazado por otros<Bold>,</Bold></Paragraph>
        <Paragraph>Vimos después en Neh 2<Bold>:</Bold>1-6 que el rey Artajerjes<Bold>,</Bold> en el año 20 de su
            reinado<Bold>,</Bold> dio la orden de restaurar a Jerusalem y le dio a Nehemías la autoridad y los
            medios para
            hacerlo<Bold>.</Bold> Sabiendo que según la Enciclopedia el año 20 de este rey es aproximadamente el año
            445
            antes de Cristo<Bold>,</Bold> es fácil darnos cuenta de que 483 años después viene a caer en el año 38
            de
            nuestra era cristiana<Bold>.</Bold> El único ser de estatura mesiánica que se levantó durante ese
            lapso<Bold>,</Bold> fue Jesucristo<Bold>.</Bold> Hay que tener ganas de no creer<Bold>,</Bold>
            para no
            aceptar esta prueba<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    