---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Discusiones y los Cristianos">
    <Content>
        <Paragraph><Bold>Imitemos a los primeros cristianos, los cuales discutían fraternalmente sus diferencias
            doctrinales</Bold>
        </Paragraph>
        <Paragraph><Bold>Discutir entre hermanos nuestras diferencias doctrinales es lo correcto</Bold>. A todo lo largo del
            Nuevo
            Testamento vemos que todos los apóstoles<Bold>,</Bold> y más aún San Pablo<Bold>,</Bold> discutían
            con
            vehemencia<Bold>,</Bold> pero fraternalmente<Bold>,</Bold> sus diferencias
            doctrinales<Bold>,</Bold> a
            fin de no cargar con la grave responsabilidad de predicar una doctrina que no era la
            correcta<Bold>,</Bold>
            aunque él lo creyera así.</Paragraph>
        <Paragraph><Bold>Pablo manda a los cristianos a discutir con los errados.</Bold> Hoy en día los cristianos piensan
            que para
            ser <Bold>"</Bold>buen cristiano<Bold>",</Bold> no se debe discutir de religión. Lo que no se debe
            es pelear<Bold>,</Bold>
            insultar u ofender<Bold>,</Bold> pero el verdadero cristiano no hace tal cosa cuando discute. Pablo
            siempre
            aconsejó a sus discípulos y hermanos discutir sobre religión<Bold>;</Bold> y él mismo lo hacía
            constantemente en
            las sinagogas<Bold>,</Bold> en el areópago<Bold>,</Bold> y donde quiera que alguien contradijera la
            sana
            doctrina. Pablo<Bold>,</Bold> hablando de cómo tenían que ser los pastores dijo lo
            siguiente<Bold>:</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>Retenedor de la fiel palabra que es conforme a la doctrina<Bold>,</Bold> para que
            también
            pueda exhortar con sana doctrina<Bold>,</Bold> y <Bold>convencer a los que contradijeren</Bold>.</i>
            10 <i>Porque
                hay aún muchos <Bold>contumaces, habladores de vanidades, y engañadores de las almas,</Bold>
                mayormente los que
                son de la circuncisión<Bold>,</Bold></i> 11 <Bold>a los cuales es preciso tapar la boca;</Bold>
            <i>que
                trastornan casas enteras<Bold>;</Bold> enseñando lo que no conviene<Bold>,</Bold> por torpe
                ganancia</i>.<Bold>"</Bold> (Tit 1<Bold>:</Bold>9-11)</Paragraph>
        <Paragraph> Son muchos hoy en día los que<Bold>,</Bold> contradiciendo esta enseñanza de Pablo<Bold>,</Bold> a
            quien
            dicen imitar<Bold>,</Bold> aseguran que lo único que ellos tienen que hacer es
            <Bold>"</Bold>decir<Bold>",</Bold> sin usar argumentos ni tratar de convencer a nadie.</Paragraph>
        <Paragraph> Pablo discutió con judíos y gentiles<Bold>,</Bold> usó argumentos<Bold>,</Bold> trató de convencer a
            otros<Bold>,</Bold> etc.<Bold>,</Bold> <Bold>porque sabía que tenía la verdad, que tenía la sana
                doctrina,</Bold> y por tenerla<Bold>,</Bold> no le faltaban argumentos <Bold>ni la ayuda del
                Espíritu
                Santo</Bold>. Muchos de los que ahora dicen imitarlo solamente predican su doctrina<Bold>,</Bold>
            y si
            alguien les contradice<Bold>,</Bold> salen huyendo<Bold>,</Bold> porque saben que
            <Bold>no</Bold> tienen
            la verdad<Bold>,</Bold> y por lo tanto<Bold>,</Bold> les faltan los argumentos y la ayuda del
            Espíritu
            Santo.</Paragraph>
        <Paragraph><Bold>Los cristianos del primer siglo discutían vehementemente, pero con amor y justicia, sus diferencias
            doctrinales</Bold>. Por lo tanto<Bold>,</Bold> no es malo discutir<Bold>,</Bold> como opinan
            algunos. A mi
            modo de ver se puede discutir<Bold>,</Bold> siempre y cuando el que discute lleve en su espíritu el
            deseo de
            convencer al otro de algo que él cree sinceramente<Bold>;</Bold> y siempre que en su propio espíritu
            deje
            abierta la puerta del entendimiento de forma que deje la posibilidad de ser convencido si es el otro el que
            tiene
            buenos argumentos.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Así que<Bold>,</Bold> suscitada <Bold>una disensión y contienda no
            pequeña</Bold> a
            Pablo y a Bernabé contra ellos<Bold>,</Bold> determinaron que subiesen Pablo y Bernabé a
            Jerusalem<Bold>,</Bold> y algunos otros de ellos<Bold>,</Bold> a los apóstoles y a los
            ancianos<Bold>,</Bold> sobre esta cuestión</i>.<Bold>"</Bold> (Hch 15<Bold>:</Bold>2)</Paragraph>
        <Paragraph> Lo que sucede muchas veces es que la gente no discute<Bold>,</Bold> sino pelea de
            palabras<Bold>,</Bold>
            trata de ofender<Bold>,</Bold> de irritar<Bold>,</Bold> de rebajar a su oponente y de burlarse de él<Bold>,</Bold>
            pero un verdadero cristiano no discute así. Los que proceden así no está discutiendo<Bold>,</Bold> sino
            peleando<Bold>,</Bold>
            tratando de vencer con armas indignas de una causa justa. El esgrimir los argumentos
            propios<Bold>,</Bold>
            aunque a veces alguien lo haga en forma vehemente (pero nunca ofensiva) no lo considero malo.</Paragraph>
        <Paragraph><Bold>Por qué muchos no quieren discutir</Bold>. Hay varias razones por las cuales muchos hermanos no
            discuten
            sus diferencias doctrinales. <Bold>La razón principal es la falta de fe</Bold>. Unos creen que
            Dios<Bold>,</Bold> Cristo<Bold>,</Bold> o el Espíritu Santo fue el que les inspiró la doctrina en
            que ahora
            creen<Bold>;</Bold> otros fingen creer tal cosa. No obstante no se atreven a discutir con los que
            piensan
            diferente<Bold>,</Bold> porque se sienten inseguros. <Bold>No tienen fe</Bold> en que si realmente
            su
            doctrina es de lumínica procedencia<Bold>,</Bold> Dios<Bold>,</Bold> Cristo<Bold>,</Bold> o el
            Espíritu
            Santo le van a dar luces<Bold>,</Bold> argumentos y palabras para defender la verdad. <Bold>No tienen
                fe</Bold> en lo que les prometió Nuestro Señor Jesucristo en Lc
            21<Bold>:</Bold>15<Bold>,</Bold>
            cuando dijo<Bold>:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque <Bold>yo os daré boca y sabiduría,</Bold> a la cual <Bold>no podrán
            resistir ni
            contradecir</Bold> todos los que se os opondrán</i>.<Bold>"</Bold> (Lc 21<Bold>:</Bold>15)</Paragraph>
        <Paragraph><Bold>A otros lo que les sucede es que en realidad no creen en la doctrina que enseñan,</Bold> pero la
            enseñan
            por conveniencias materiales<Bold>;</Bold> saben que es falsa<Bold>,</Bold> que no pueden defenderla<Bold>,</Bold>
            y por lo tanto<Bold>,</Bold> buscan cualquier pretexto para no discutir sus diferencias doctrinales.</Paragraph>
        <Paragraph> Todavía hay aquellos que creen lo que predican<Bold>,</Bold> pero no están seguros<Bold>,</Bold>
            saben que
            no pueden defender sus creencias<Bold>,</Bold> y <Bold>su inflado ego les impide discutir si ellos
                consideran
                que pueden demostrarles que están equivocados.</Bold> En pocas palabras<Bold>,</Bold> se aman más
            a sí
            mismos que a la verdad de Dios. Prefieren esconderse en el pretexto de que lo único que tienen que hacer es
            <Bold>"</Bold>decir
            y luego huir<Bold>";</Bold> de esa manera creen que salvan su ego<Bold>,</Bold> pues se figuran que
            nadie se
            entera de que están errados.</Paragraph>
        <Paragraph> Ninguno de ellos va a admitir que es por estas cuestionables razones que ellos no discuten. Ellos van a
            poner
            mejores pretextos.</Paragraph>
        <Paragraph><Bold>Veamos varios pasajes en los que vemos que los primeros cristianos discutían sus creencias</Bold>.
            Hay
            creyentes que tienen doctrinas erradas y hasta heréticas<Bold>,</Bold> las cuales absorbieron al momento
            de
            convertirse<Bold>,</Bold> cuando aún no podían razonar sobre la Biblia por sí mismos<Bold>,</Bold> y
            aunque
            no tienen sobre qué base sostenerlas<Bold>,</Bold> desean mantenerlas a toda costa<Bold>,</Bold>
            pues temen
            a no saben qué<Bold>,</Bold> si la pierden<Bold>;</Bold> y por eso no las discuten. La saludable
            costumbre
            sobre la validez de las discusiones y disputas de argumentos entre creyentes<Bold>,</Bold> se puede
            apreciar en
            los siguientes pasajes.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <i>Así que<Bold>,</Bold> <Bold>disputaba en la sinagoga</Bold> con los judíos y
            religiosos<Bold>;</Bold> y en la plaza cada día con los que le ocurrían.</i> 18 <i>Y algunos filósofos
            de los
            epicúreos y de los estoicos<Bold>,</Bold> <Bold>disputaban con él;</Bold> y unos
            decían<Bold>:</Bold>
            <Bold>¿</Bold>Qué quiere decir este palabrero<Bold>?</Bold> Y otros<Bold>:</Bold> Parece que es
            predicador de nuevos dioses<Bold>,</Bold> porque les predicaba a Jesús y la
            resurrección</i>.<Bold>"</Bold>
            (Hch 17<Bold>:</Bold>17-18)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>disputaba en la sinagoga</Bold> todos los sábados<Bold>,</Bold> y
            <Bold>persuadía</Bold>
            a judíos y a griegos</i>.<Bold>"</Bold></Paragraph>
        <Paragraph> (Hch 18<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y llegó a Éfeso<Bold>,</Bold> y los dejó allí<Bold>;</Bold> y él entrando en la
            sinagoga<Bold>,</Bold>
            <Bold>disputó con los judíos</Bold></i><Bold>"</Bold> (Hch 18<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Porque con gran vehemencia convencía públicamente a los judíos,</i></Bold> <i>mostrando por las
            Escrituras que Jesús era el Cristo</i>.<Bold>"</Bold> (Hch 18<Bold>:</Bold>28)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y entrando él dentro de la sinagoga<Bold>,</Bold> hablaba libremente por espacio de
            tres
            meses<Bold>,</Bold> <Bold>disputando y persuadiendo del Reino de Dios</Bold></i>.<Bold>"</Bold>
            (Hch
            19<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Examinadlo todo;</i></Bold> <i>retened lo bueno</i>.<Bold>"</Bold> (I Tes
            5<Bold>:</Bold>21)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>16 <i>Toda Escritura es inspirada divinamente y <Bold>útil para enseñar, para redargüir,
            para
            corregir,</Bold> para instituir en justicia.</i> 17 <i>Para que el hombre de Dios sea
            perfecto<Bold>,</Bold>
            enteramente <Bold>instruido para toda buena obra</Bold></i>.<Bold>"</Bold> (II Tim
            3<Bold>:</Bold>16-17)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Sino santificad al Señor Dios en vuestros corazones<Bold>,</Bold> y <Bold>estad
            siempre
            aparejados para responder con mansedumbre y reverencia</Bold> a cada uno que os demande razón de la
            esperanza que
            hay en vosotros</i>.<Bold>"</Bold> (I P 3<Bold>:</Bold>15)</Paragraph>
        <Paragraph> En todos estos pasajes percibimos que <Bold>era costumbre de todos los apóstoles discutir sobre religión
            con los
            creyentes y con los incrédulos</Bold>. Yo no sé de donde sacan ahora muchos hermanos tanto
            <Bold>"</Bold>asco<Bold>"</Bold> por la discusión fraternal de nuestras creencias<Bold>,</Bold>
            como no
            sea el temor a que les lastimen su ego si sus argumentos son errados. Hay sin embargo<Bold>,</Bold>
            aquellos a
            quienes su secta les prohíbe discutir<Bold>,</Bold> para que no se vean los errores y herejías que
            sustentan.
        </Paragraph>
        <Paragraph><Bold>"La discusión es como la luz, molesta solamente a los que prefieren las tinieblas."</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    