---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="¿Qué significa ser 'legalista'">
    <Title>¿Qué significa ser "legalista"?</Title>

    <Tag>#118</Tag>
    <Content>
        
        <Paragraph><Bold> Por qué es importante definir y aclarar el significado de frases, palabras y conceptos.</Bold>
            Mucha gente
            usa frases del tipo comodín o joker de los naipes o barajas<Bold>.</Bold> En el juego del
            póquer<Bold>,</Bold> en la baraja<Bold>,</Bold> el comodín lo usan para representar cualquier naipe
            que
            convenga<Bold>.</Bold></Paragraph>
        <Paragraph> En las conversaciones<Bold>,</Bold> las palabras y frases tipo comodín<Bold>,</Bold> las usan
            algunos para
            darles el significado que más les convenga en el momento en que hablan<Bold>,</Bold> pero le cambian el
            significado cuando las usan en otro momento<Bold>,</Bold> cuando se ven arrinconados
            dialécticamente<Bold>.</Bold> No son honestos para discutir<Bold>.</Bold></Paragraph>
        <Paragraph> En algunos casos<Bold>,</Bold> <Bold>aún los que discuten honestamente,</Bold> no tienen claro en
            sus mentes
            el significado de muchas de esas palabras y frases que ellos mismos usan<Bold>.</Bold> <Bold>Para
                ellos esas
                frases representan conceptos nebulosos que los que las usan se resisten a definirlas con claridad, o a
                responder
                preguntas sobre su significado.</Bold> Unos lo hacen porque lo que pretenden es que uno acepte ese
            nebuloso
            concepto que él tiene en su mente<Bold>,</Bold> en la misma nebulosa forma que lo tiene
            él<Bold>.</Bold>
            Otros lo hacen porque no quieren aclarar algo que puede serles negativo a la tesis que
            mantienen<Bold>.</Bold>
            Algunas de esas frases son<Bold>:</Bold> <Bold>"</Bold>estar en el Espíritu<Bold>",</Bold>
            <Bold>"</Bold>ser legalista<Bold>",</Bold> <Bold>"</Bold>estar bajo la ley<Bold>",</Bold>
            <Bold>"</Bold>estar bajo la gracia<Bold>",</Bold> <Bold>"</Bold>el amor es el cumplimiento de la
            ley<Bold>",</Bold> y algunas otras<Bold>.</Bold> Es por eso que es bueno definir los conceptos y las
            frases
            que se usan en este tipo de conversaciones<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En todas las conversaciones,</Bold> el humano pronuncia palabras y frases cuyo significado en
            realidad
            nunca se ha definido a sí mismo<Bold>.</Bold> Usa esas palabras y frases<Bold>,</Bold> como un medio
            para
            decir un <Bold>"</Bold>algo<Bold>"</Bold> que él quisiera que el oyente aceptara en la misma
            nebulosa manera
            que él las tiene en su mente<Bold>,</Bold> sin definírselas<Bold>.</Bold> Esa inadecuada manera de
            expresarse da lugar a un sin número de errores y tergiversaciones que debemos evitar en cualquier tema que
            tratemos<Bold>,</Bold> pero muchísimo más aún<Bold>,</Bold> cuando se trata de hablar de las
            sagradas
            verdades de Dios<Bold>.</Bold></Paragraph>
        <Paragraph> Por eso es bueno<Bold>,</Bold> antes de comenzar a hablar sobre la Ley de Dios<Bold>,</Bold> definir
            cada
            una de las palabras y frases que comúnmente se usan<Bold>,</Bold> aunque jamás se
            definen<Bold>,</Bold> ni
            se contrastan<Bold>.</Bold> No solamente es necesario saber lo que una palabra
            significa<Bold>,</Bold> sino
            que a veces tenemos que especificar lo que <Bold>no</Bold> significa<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Qué significa ser "legalista"?</Bold> En muchas ocasiones he escuchado colgarle el sambenito de
            <Bold>"</Bold>legalista<Bold>"</Bold> a personas que creen en que las leyes de Dios <Bold>para el
                comportamiento humano</Bold> no están obsoletas<Bold>.</Bold> <Bold>¿</Bold>Qué significa la
            palabra
            <Bold>"</Bold>legalista<Bold>"?</Bold> Si vamos a su significado en el diccionario veremos que
            <Bold>"</Bold>legalista<Bold>"</Bold> es el que antepone a toda otra consideración<Bold>,</Bold>
            la
            aplicación literal de las leyes<Bold>.</Bold> Estoy de acuerdo en que eso es lo que en nuestro idioma
            significa
            tal palabra<Bold>.</Bold></Paragraph>
        <Paragraph> Bien<Bold>,</Bold> <Bold>¿</Bold>y qué tiene de malo el obedecer las leyes de Dios tal y como Él las
            expresara<Bold>?</Bold> <Bold>Si estuviéramos hablando de leyes de hombres es posible que no siempre
                debamos
                interpretarlas u obedecerlas al pie de la letra,</Bold> por cuanto el humano que las hizo pudiera no
            haberse
            expresado correctamente<Bold>;</Bold> pero cuando se habla de las leyes de Dios no cabe esa
            posibilidad<Bold>.</Bold> Por lo tanto<Bold>,</Bold> <Bold>¿</Bold>quién es el atrevido que
            juzga las
            leyes de Dios<Bold>,</Bold> o las modifica<Bold>,</Bold> para no ser llamado
            <Bold>"</Bold>legalista<Bold>"?</Bold></Paragraph>
        <Paragraph> Lo malo no está en obedecer fielmente los mandamientos de Dios<Bold>,</Bold> sino en obedecer
            literalmente sólo
            un versículo<Bold>,</Bold> o sólo un pasaje<Bold>,</Bold> o sólo una sección de la
            Biblia<Bold>,</Bold>
            <Bold>en oposición</Bold> a otros<Bold>,</Bold> pero no en obedecer fielmente los mandamientos de
            Dios
            concebidos de la Biblia en forma integral<Bold>.</Bold> En la Biblia no sólo se nos ponen los
            mandamientos<Bold>,</Bold> como no matarás<Bold>,</Bold> sino que se nos ponen ejemplos de qué
            significa ese
            mandamiento<Bold>.</Bold> Veamos algunos ejemplos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cuando vemos los distintos episodios bíblicos en que el matar está mezclado,</Bold> nos damos
            cuenta de lo
            que significa el mandamiento del decálogo<Bold>,</Bold> <Bold>"</Bold>no matarás<Bold>".</Bold>
            Al leer
            el resto de la Biblia vemos que Dios ordena a Saúl matar a todos los amalecitas<Bold>;</Bold> por lo
            tanto<Bold>,</Bold> el <Bold>"</Bold>no matarás<Bold>"</Bold> del decálogo<Bold>,</Bold> no
            se podía
            aplicar correctamente tomando un solo versículo<Bold>,</Bold> pero sí se puede aplicar
            <Bold>correctamente,</Bold> tomando en cuenta <Bold>toda la Biblia.</Bold> En ella nos damos cuenta
            de que
            eso de no matarás significa que nosotros no debemos matar por nuestra cuenta<Bold>,</Bold> por asuntos
            personales<Bold>.</Bold></Paragraph>
        <Paragraph> Lo mismo ocurre con la pena de muerte para el asesino<Bold>.</Bold> Al asesino se le puede
            matar<Bold>;</Bold> eso de <Bold>"</Bold>no matarás<Bold>"</Bold> no se aplica a
            él<Bold>.</Bold> En
            la Biblia hay varias leyes en las que Dios manda a matar a los que comenten ciertos
            delitos<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> ese <Bold>"</Bold>no matarás<Bold>"</Bold> del decálogo hay que entenderlo a
            la luz
            de toda la Escritura<Bold>,</Bold> no guiándonos por un solo versículo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En el decálogo dice no te harás imágenes,</Bold> sin embargo<Bold>,</Bold> si seguimos leyendo
            el resto
            de la Biblia vemos que al fabricar el Tabernáculo y el Templo se hacían imágenes de
            vegetales<Bold>,</Bold> de
            animales y de querubines<Bold>.</Bold></Paragraph>
        <Paragraph> De ahí aprendemos que lo que dice el mandamiento es que no debemos hacer imágenes para
            adorarlas<Bold>,</Bold>
            pero sí podemos hacernos fotos<Bold>.</Bold> Así que <Bold>podemos obedecer literalmente el
                mandamiento, tal y
                cual se aclara en toda la Biblia, no como lo dice un solo versículo.</Bold> Si no fuera porque
            aplicamos el
            mandamiento como la Biblia<Bold>,</Bold> <Bold>en forma integral</Bold> nos lo
            muestra<Bold>,</Bold> no
            podríamos hacer fotografías<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Por lo tanto, ser legalista no es obedecer fielmente los mandamientos de Dios,</Bold> sino
            agarrarse a
            ciertas palabras<Bold>,</Bold> versículos o pasajes aislados<Bold>,</Bold> para tratar de darles el
            significado que deseamos que tenga<Bold>,</Bold> con olvido voluntario del resto de la
            Biblia<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>¿Qué significaría "no ser legalista"?</Bold> <Bold>¿</Bold>Acaso no ser legalistas es
            <Bold>"</Bold>adaptar<Bold>"</Bold> los mandamientos de Dios a nuestra cultura<Bold>,</Bold> a
            nuestra
            época<Bold>,</Bold> a la doctrina de nuestra secta<Bold>,</Bold> o a nuestra personal
            conveniencia<Bold>?</Bold> Es decir<Bold>,</Bold> que para no ser etiquetados como
            <Bold>"</Bold>legalistas<Bold>"</Bold>
            <Bold>¿</Bold>tendríamos acaso que interpretar los mandamientos de Dios cada uno como nos viniera en
            ganas<Bold>?</Bold> Sí<Bold>,</Bold> porque si uno interpreta que él puede adorar una imagen de
            Cristo<Bold>,</Bold> y el otro interpreta que eso es idolatría<Bold>,</Bold> <Bold>el segundo
                sería
                calificado por el primero como un cristiano "legalista",</Bold> y se defendería diciendo que eso era
            para los
            judíos<Bold>,</Bold> que eso era para <Bold>"</Bold>el tiempo de antes<Bold>",</Bold> para los
            que
            adoraban dioses paganos<Bold>,</Bold> pero no para los que estamos bajo la gracia<Bold>.</Bold>
            <Bold>¿</Bold>No hay actualmente millones de llamados cristianos que adoran imágenes<Bold>?</Bold>
        </Paragraph>
        <Paragraph> Es decir<Bold>,</Bold> que para que no nos califiquen de <Bold>"</Bold>legalistas<Bold>"</Bold>
            tendríamos que aceptar calladamente cuanta herejía<Bold>,</Bold> y cuanto error
            escuchemos<Bold>,</Bold>
            porque si alegamos lo que dice la Biblia en conjunto<Bold>,</Bold> seremos llamados <Bold>"</Bold>legalistas<Bold>".</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    