---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Como entender mejor el Sermón Profético">
    <Tag>#119</Tag>
    <Content>
        <Paragraph><Bold>Cómo entender más fácilmente el Sermón Profético</Bold></Paragraph>
        <Paragraph>A poco que se analice el capítulo 24 de Mateo se va a notar que consta de seis secciones<Bold>:</Bold>
        </Paragraph>
        <Paragraph><Bold> Primera sección,</Bold> los versículos 1-2<Bold>,</Bold> en la que se habla específicamente de
            la
            destrucción del Templo única y exclusivamente<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Segunda sección,</Bold> versículo 3<Bold>,</Bold> en donde los discípulos le hacen a Jesús las
            tres
            preguntas que Cristo luego va a contestar en ese mismo orden<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Tercera sección,</Bold> versículos 4-6 dónde Jesús da respuesta a la primera
            pregunta<Bold>,</Bold> la
            que se refiere a la destrucción del Templo<Bold>,</Bold> y además les vaticina muy sucintamente lo que
            iba a
            ocurrir en la era apostólica<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Cuarta sección,</Bold> versículos 7-14<Bold>,</Bold> donde responde a la segunda y tercera
            preguntas<Bold>,</Bold> haciendo una breve y concisa reseña de los hechos que iban a acontecer en la
            época ya
            cercana al fin del mundo<Bold>,</Bold> desde las guerras mundiales hasta la Segunda
            Venida<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Quinta sección,</Bold> versículos 15-34<Bold>,</Bold> en la que detalla el lapso comprendido
            entre la
            aparición de la Abominación de asolamiento y la Segunda Venida<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Sexta sección,</Bold> versículos 35-51<Bold>,</Bold> en donde describe cómo sucederán ciertas
            cosas
            durante la Segunda Venida<Bold>,</Bold> y pone símiles y hace admoniciones sobre cómo comportarse en
            aquél
            tiempo<Bold>,</Bold> y cómo va ser éste<Bold>.</Bold> Analicemos las distintas
            secciones<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold> La primera sección</Bold> (Mt 24<Bold>:</Bold>1-2) <Bold>evidentemente se refiere al
            pasado,</Bold> puesto que solamente habla de la destrucción del Templo<Bold>,</Bold> ocurrida en el
            año 70 de
            nuestra era<Bold>.</Bold> En otros pasajes<Bold>,</Bold> como Lucas
            19<Bold>:</Bold>43-44<Bold>,</Bold> también Jesús mencionó esta destrucción del
            Templo<Bold>,</Bold> que
            en aquel momento estaba aún en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph> Es de notarse<Bold>,</Bold> sin embargo<Bold>,</Bold> que en el episodio narrado <Bold>en el antes
            mencionado pasaje de Lucas,</Bold> Jesús no se halla hablándole a los discípulos en el Templo ni en el
            Monte de
            los Olivos<Bold>,</Bold> sino que se trata de otra ocasión diferente de la del Sermón
            Profético<Bold>.</Bold> Se trata de la entrada en Jerusalem el Domingo de Ramos<Bold>.</Bold> No
            obstante<Bold>,</Bold> la profecía respecto al Templo es la misma<Bold>,</Bold> pero en
            ella<Bold>,</Bold> además<Bold>,</Bold> <Bold>da la razón para que la destrucción ocurriera, a
                saber: que
                no conocieron el tiempo de su visitación.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque vendrán días sobre ti<Bold>,</Bold> que tus enemigos te cercarán con baluarte<Bold>,</Bold>
            y te pondrán cerco<Bold>,</Bold> y de todas partes te pondrán en estrecho<Bold>,</Bold> y te
            derribarán a
            tierra<Bold>,</Bold> y a tus hijos dentro de ti<Bold>;</Bold> y <Bold>no dejarán sobre ti piedra
                sobre
                piedra; por cuanto no conociste el tiempo de tu visitación</Bold></i><Bold>."</Bold> (Lc
            19<Bold>:</Bold>43- 44)</Paragraph>
        <Paragraph> Como se ve<Bold>,</Bold> Cristo liga en este pasaje de Lucas<Bold>,</Bold> la destrucción de
            Jerusalem y el
            Templo a las acciones perversas de aquella generación<Bold>.</Bold> <Bold>Por lo tanto, es lógico
                pensar que
                la destrucción anunciada en ese momento ocurriría a aquella generación, en aquella época
                apostólica.</Bold> Es
            decir<Bold>,</Bold> que es cosa del pasado<Bold>,</Bold> no del presente ni del
            futuro<Bold>.</Bold></Paragraph>
        <Paragraph> Para que una tercera persona<Bold>,</Bold> ajena a una conversación<Bold>,</Bold> entienda
            cabalmente la
            respuesta que alguien da a su interlocutor<Bold>,</Bold> es necesario que primero atienda a la pregunta
            de éste
            y<Bold>,</Bold> si es posible<Bold>,</Bold> que se percate del ambiente físico y psicológico de la
            conversación<Bold>,</Bold> sin llegar a ridículas exageraciones que siempre conducen a
            error<Bold>.</Bold>
            Hagámoslo así con este capítulo y esta conversación<Bold>.</Bold></Paragraph>
        <Paragraph> Después que Jesús acabó de denunciar a los escribas y fariseos<Bold>,</Bold> en sus propias
            caras<Bold>,</Bold> sus hipocresías<Bold>,</Bold> maldades<Bold>,</Bold> etc<Bold>.,</Bold>
            (capítulo 23)<Bold>,</Bold> se retiraba del Templo<Bold>,</Bold> a la vez que <Bold>sus
                discípulos, al
                parecer como quienes comentaban la majestuosidad de aquella arquitectura, le señalaban los
                edificios</Bold>
            (Mt 24<Bold>:</Bold>1)<Bold>.</Bold> Digo que los discípulos hablaban llenos de admiración por
            aquella
            arquitectura<Bold>,</Bold> porque eso se ve claramente en Mr 13<Bold>:</Bold>1 donde uno de sus
            discípulos
            menciona tal cosa al decir<Bold>:</Bold> <Bold>"</Bold><i>Maestro<Bold>,</Bold> mira qué piedras<Bold>,</Bold>
                y qué edificios</i><Bold>."</Bold></Paragraph>
        <Paragraph> Respondiendo a esas palabras de los discípulos<Bold>,</Bold> Jesús<Bold>,</Bold> <Bold>refiriéndose,
            evidentemente, a los edificios que le alababan,</Bold> dijo que no quedaría allí piedra sobre
            piedra<Bold>,</Bold> vaticinando así en forma muy general y escueta<Bold>,</Bold> la total
            destrucción de
            aquel Templo (versículo 2)<Bold>.</Bold> Era este Templo algo que los judíos creían que constituía un
            seguro
            contra castigos divinos<Bold>,</Bold> dado que Dios no iba a permitir (creían ellos) que Su Templo fuera
            destruido<Bold>.</Bold> Ver Jer 7<Bold>:</Bold>3- 4<Bold>,</Bold> donde constatamos que los
            judíos
            tenían esa creencia<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y salido Jesús<Bold>,</Bold> se iba del Templo<Bold>,</Bold> y se llegaron sus
            discípulos<Bold>,</Bold> para mostrarle los edificios del Templo<Bold>.</Bold></i> <i>2</i> <i>Y
            respondiendo él<Bold>,</Bold> les dijo<Bold>:</Bold> <Bold>¿</Bold>Veis todo
            esto<Bold>?</Bold> de
            cierto os digo<Bold>,</Bold> que no será dejada aquí piedra sobre piedra<Bold>,</Bold> que no sea
            destruida</i><Bold>."</Bold>
            (Primera sección<Bold>,</Bold> Mt 24<Bold>:</Bold>1-2)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Así ha dicho Jehová de los ejércitos<Bold>,</Bold> Dios de Israel<Bold>:</Bold>
            Mejorad
            vuestros caminos y vuestras obras<Bold>,</Bold> y os haré morar en este lugar<Bold>.</Bold> No fiéis
            en
            palabras de mentira<Bold>,</Bold> diciendo<Bold>:</Bold> <Bold>Templo de Jehová, Templo de Jehová,
                Templo
                de Jehová es éste</Bold></i><Bold>."</Bold> (Jer 7<Bold>:</Bold>3-4)</Paragraph>
        <Paragraph><Bold>Después de hacerles conocer la futura destrucción del Templo,</Bold> siguió Jesús
            caminando<Bold>,</Bold> y al llegar al Monte de los Olivos se sentó<Bold>;</Bold> <Bold>y cuatro
                de sus
                discípulos, haciendo un aparte con él, le hicieron tres preguntas:</Bold>
            <Bold>a</Bold><Bold>)</Bold>
            <Bold>¿</Bold>Cuándo serán estas cosas<Bold>?</Bold> Al decir <Bold>"</Bold>estas
            cosas<Bold>"</Bold> se estaban refiriendo sin duda alguna a lo que Jesús les había acabado de
            hablar<Bold>,</Bold> o sea lo de la destrucción del Templo<Bold>.</Bold> Luego le hacen otras dos
            preguntas
            sobre cosas que Jesús no había mencionado<Bold>,</Bold> pero que a ellos les
            interesaba<Bold>,</Bold> que
            son las siguientes<Bold>:</Bold> <Bold>b)</Bold> <Bold>¿</Bold>Qué señal habrá de tu Segunda
            Venida<Bold>?;</Bold> y <Bold>c)</Bold> <Bold>¿</Bold>Qué señal habrá del fin de
            mundo<Bold>?</Bold>
            Las respuestas a estas tres preguntas<Bold>,</Bold> y en ese mismo orden<Bold>,</Bold> es lo que hay
            que
            esperar de Jesús<Bold>.</Bold></Paragraph>
        <Paragraph> Ahora bien<Bold>,</Bold> fíjense que el sermón profético no fue público<Bold>,</Bold> sino que sólo
            le habló
            a Pedro<Bold>,</Bold> Jacobo<Bold>,</Bold> Juan y Andrés como se ve en Mr
            13<Bold>:</Bold>3<Bold>.</Bold> <Bold>"</Bold><i>Y sentándose <Bold>en el monte de las
                Olivas</Bold>
                delante del Templo<Bold>,</Bold> le preguntaron <Bold>aparte Pedro y Jacobo y Juan y
                    Andrés</Bold></i><Bold>".</Bold></Paragraph>
        <Paragraph><Bold>En resumen:</Bold> la primera sección comprende solamente lo que Jesús dijo sobre la destrucción
            del Templo<Bold>,</Bold>
            lo cual fue lo que motivó las tres preguntas de que hablamos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La segunda sección</Bold> (Mt 24<Bold>:</Bold>3) se limita a mencionar las tres preguntas que
            los
            discípulos le hacen a Jesús<Bold>,</Bold> no requiere explicación alguna<Bold>,</Bold> salvo
            tenerlas en
            cuenta para poder entender las respuestas<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y sentándose él en el monte de las Olivas<Bold>,</Bold> se llegaron a él <Bold>los
            discípulos aparte,</Bold> diciendo<Bold>:</Bold> Dinos<Bold>,</Bold> <Bold>¿cuándo serán estas
            cosas, y
            qué señal habrá de tu venida, y del fin del mundo</Bold></i><Bold>?</Bold> (Segunda
            sección<Bold>,</Bold>
            Mt 24<Bold>:</Bold> 3)</Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> Analicemos juntas la tercera y la cuarta sección para facilitar el estudio.</Bold></Paragraph>
        <Paragraph><Bold> La tercera sección</Bold> (Mt 24<Bold>:</Bold>4-6) y</Paragraph>
        <Paragraph><Bold> La cuarta sección</Bold> (Mt 24<Bold>:</Bold>7-14)</Paragraph>
        <Paragraph> La tercera sección se refiere a la época apostólica<Bold>;</Bold> y la que le sigue<Bold>,</Bold> la
            cuarta<Bold>,</Bold> se refiere a la actualidad y al futuro<Bold>.</Bold> Vamos ahora a demostrar
            que estos
            dos períodos<Bold>,</Bold> los correspondientes a la tercera y la cuarta sección<Bold>,</Bold> son
            diferentes<Bold>;</Bold> y vamos a darnos cuenta de que <Bold>hay un salto de siglos entre el
                versículo 6 y el
                7.</Bold> Para pensar que se trata de dos períodos diferentes de la historia<Bold>,</Bold>
            <Bold>me baso
                en cinco argumentos.</Bold></Paragraph>
        <Paragraph><Bold>Primer argumento de la 3ra y 4ta sección.</Bold> Habiendo Jesús hablado en el versículo seis de
            guerras<Bold>,</Bold> no es lógico que en el siete vuelva a hablar de las mismas guerras que ya mencionó<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Segundo argumento de la 3ra y 4ta sección.</Bold> Esta tercera sección que estamos analizando
            termina con
            el versículo seis<Bold>.</Bold> En ese versículo Cristo habla de guerras y rumores de
            guerras<Bold>,</Bold>
            diciendo a los discípulos que no debían turbarse por ello<Bold>,</Bold> puesto que aquello aún no era el
            fin<Bold>.</Bold> <Bold>Si aún no era el fin es porque ese período de guerras del que habla en el
                seis, no
                llegaría hasta la Segunda Venida.</Bold></Paragraph>
        <Paragraph> Sin embargo<Bold>,</Bold> cuando se lee el siguiente versículo<Bold>,</Bold> el
            siete<Bold>,</Bold> que
            es el comienzo de la cuarta sección<Bold>,</Bold> se nota que los acontecimientos allí narrados se
            suceden de
            continuo hasta llegar al fin<Bold>.</Bold> <Bold>Es decir, que el período comenzado con las guerras
                narradas
                en el siete (cuarta sección) sí llega al final;</Bold> pero el comenzado en el versículo cuatro y
            terminado en
            el seis (tercera sección) <Bold>no</Bold> llega hasta el final<Bold>.</Bold> Está claro que son dos
            períodos
            diferentes<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>Y respondiendo Jesús<Bold>,</Bold> les dijo<Bold>:</Bold> Mirad que nadie os
            engañe<Bold>,</Bold></i> 5 <i>porque vendrán muchos en mi nombre<Bold>,</Bold>
            diciendo<Bold>:</Bold> Yo
            soy el Cristo<Bold>;</Bold> y a muchos engañarán<Bold>.</Bold></i> 6 <Bold>Y oiréis guerras, y
            rumores de
            guerras;</Bold> <i>mirad que no os turbéis<Bold>;</Bold> porque es menester que todo esto
            acontezca<Bold>;</Bold> <Bold>mas aún no es el fin</Bold></i><Bold>."</Bold> (Tercera
            sección<Bold>,</Bold> Mt 24<Bold>:</Bold>4-6 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Porque <Bold>se levantará nación contra nación, y reino contra reino;</Bold> y
            habrá
            pestilencias<Bold>,</Bold> y hambres<Bold>,</Bold> y <Bold>terremotos por los
                lugares.</Bold></i> 8 <i>Y
            todas estas cosas<Bold>,</Bold> <Bold>principio de dolores.</Bold></i> 9 <i>Entonces os entregarán
            para ser
            afligidos<Bold>,</Bold> y os matarán<Bold>;</Bold> y seréis aborrecidos de <Bold>todas las
                gentes</Bold>
            por causa de mi nombre<Bold>.</Bold></i> 10 <i>Y muchos entonces serán escandalizados<Bold>;</Bold>
            y se
            entregarán unos a otros<Bold>,</Bold> y unos a otros se aborrecerán<Bold>.</Bold></i> 11 <i>Y muchos
            falsos
            profetas se levantarán y engañarán a muchos<Bold>.</Bold></i> 12 <i>Y por haberse multiplicado la maldad<Bold>,</Bold>
            la caridad de muchos se resfriará<Bold>.</Bold></i> 13 <Bold>Mas el que perseverare hasta el
            fin,</Bold> <i>éste
            será salvo<Bold>.</Bold></i> 14 <i>Y <Bold>será predicado este evangelio del reino en todo el
            mundo,</Bold>
            por testimonio a todos los gentiles<Bold>;</Bold> <Bold>y entonces vendrá el
                fin</Bold></i><Bold>."</Bold> ( Cuarta sección<Bold>,</Bold> Mt 24<Bold>:</Bold>7-14)</Paragraph>
        <Paragraph><Bold>Tercer argumento de la 3ra y 4ta sección.</Bold> En el versículo 6 se narra <Bold>un tipo de
            guerra
            local, más bien sediciones y levantamientos;</Bold> pero al pasar al versículo 7<Bold>,</Bold> se
            menciona
            otro tipo de guerra<Bold>;</Bold> una en que <Bold>se levantaría nación contra nación y reino contra
                reino.
                Eso solamente lo registra la historia en el siglo 20, con las dos guerras mundiales.</Bold> Por lo
            tanto<Bold>,</Bold> es obvio que el versículo 7 se refiere a la época actual<Bold>,</Bold> mientras
            que el
            seis se refiere a la época apostólica<Bold>.</Bold></Paragraph>
        <Paragraph> En aquella época el Imperio Romano dominaba todas las naciones del mundo conocido<Bold>,</Bold> y no
            podía
            ocurrir una guerra en la que se levantara nación contra nación y reino contra reino<Bold>,</Bold>
            <Bold>pues
                había un solo reino, el Imperio Romano.</Bold></Paragraph>
        <Paragraph><Bold>Recuerden la frase "Pax romana",</Bold> que fue famosa en aquella era<Bold>,</Bold> y aún hoy
            en día lo
            es<Bold>.</Bold> Esta famosa frase nos indica la tranquilidad que el imperio imponía a todas las
            naciones de
            aquella época<Bold>.</Bold> No podía existir en la era de la <Bold>"</Bold>Pax
            romana<Bold>"</Bold> algo
            parecido a lo descrito como <Bold>"</Bold>nación contra nación y reino contra reino<Bold>".</Bold>
        </Paragraph>
        <Paragraph> Por lo tanto las guerras descritas en el seis son diferentes de las descritas en el siete<Bold>.</Bold>
            Las del
            seis se pueden aplicar a la época romana<Bold>;</Bold> las del siete no<Bold>.</Bold>
            Además<Bold>,</Bold> <Bold>por historia sabemos que en aquella época no hubo ese tipo de guerras en
                las que se
                levantaran naciones contra naciones y reinos contra reinos.</Bold> Es lógico pues pensar que lo que se
            describe en el siete no atañe a aquellos tiempos<Bold>,</Bold> sino a los actuales<Bold>.</Bold></Paragraph>
        <Paragraph> Todo lo dicho anteriormente se reafirma también con la descripción que da Lucas sobre este mismo período de
            la
            profecía<Bold>.</Bold> Eso lo podemos leer en Lc 21<Bold>:</Bold>7-11 donde lo narrado describe
            mejor lo
            sucedido en Judea en el período inmediatamente posterior a la crucifixión<Bold>,</Bold> y anterior a la
            destrucción de Jerusalem y el Templo<Bold>.</Bold> <Bold>Allí hablan de sediciones, que fue lo que
                caracterizó
                a la historia judía de aquel período, según podemos leer en la historia de Josefo.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Y le preguntaron<Bold>,</Bold> diciendo<Bold>:</Bold>
            Maestro<Bold>,</Bold>
            <Bold>¿</Bold>cuándo será esto<Bold>?</Bold> <Bold>¿</Bold>y qué señal habrá cuando estas cosas
            hayan de
            comenzar a ser hechas<Bold>?</Bold></i> <i>8</i> <i>Él entonces dijo<Bold>:</Bold>
            Mirad<Bold>,</Bold>
            no seáis engañados<Bold>;</Bold> porque vendrán muchos en mi nombre<Bold>,</Bold>
            diciendo<Bold>:</Bold>
            <Bold>"</Bold>Yo soy<Bold>";</Bold> y el tiempo está cerca<Bold>,</Bold> por
            tanto<Bold>,</Bold> no
            vayáis en pos de ellos<Bold>.</Bold></i> 9 <i>Empero cuando oyereis guerras y
            <Bold>sediciones,</Bold> no os
            espantéis<Bold>;</Bold> porque es necesario que estas cosas acontezcan primero<Bold>,</Bold>
            <Bold>mas no
                luego será el fin.</Bold></i> 10 <i>Entonces les dijo<Bold>:</Bold> Se levantará gente contra
            gente<Bold>,</Bold> y reino contra reino<Bold>;</Bold></i> 11 <i>y habrá grandes
            terremotos<Bold>,</Bold> y en varios lugares hambres y pestilencias<Bold>:</Bold> y habrá espantos y
            grandes
            señales del cielo</i><Bold>."</Bold> (Lc 21<Bold>:</Bold>7-11)</Paragraph>
        <Paragraph><Bold> Cuarto argumento de la 3ra y 4ta sección.</Bold> Para estar más seguros aún de que los versículos
            6 y 7 de
            Mateo 24<Bold>,</Bold> tratan de dos épocas diferentes y muy distantes entre sí<Bold>,</Bold> nos
            bastará
            percatarnos de que con las guerras mencionadas en el siete comienza el período llamado <Bold>"principio de
                dolores".</Bold> Igualmente notemos que los fenómenos que acompañan a las guerras de Mt
            24<Bold>:</Bold>7<Bold>,</Bold> <Bold>terremotos por los lugares, espantos y grandes señales del
                cielo,</Bold> nunca han ocurrido<Bold>,</Bold> ni en la época romana ni después<Bold>.</Bold>
            Por lo
            tanto<Bold>,</Bold> se evidencia que lo dicho en el siete se refiere a una época posterior a lo que ya
            conocemos
            por historia<Bold>.</Bold> La historia nos permite asegurar que <Bold>en aquella época apostólica no
                ocurrió
                ninguno de los espantos y señales del cielo; eso está aún en el futuro.</Bold></Paragraph>
        <Paragraph> Si vamos a leer Mr 13<Bold>:</Bold>8 y Lc 21<Bold>:</Bold>10-11 y 24-26<Bold>,</Bold> veremos
            que
            también allí para la época inmediatamente posterior a la caracterizada como nación contra nación y reino
            contra
            reino<Bold>,</Bold> se anuncian fenómenos telúricos y siderales <Bold>que no acontecieron en aquella
                época
                apostólica,</Bold> es a saber<Bold>,</Bold> <Bold>grandes señales del cielo,</Bold>
            espantos<Bold>,</Bold> <Bold>terremotos en muchos lugares, angustias por temor a algo que ocurrirá en
                el mar,
                y los hombres secándose de temor.</Bold> Por lo tanto<Bold>,</Bold> si esas cosas no ocurrieron
            entonces<Bold>,</Bold> <Bold>es indiscutible</Bold> que esas cosas acontecerían en otra ocasión
            futura<Bold>.</Bold> De aquí se deduce que los versículos 6 y 7 hablan de ocasiones muy
            diferentes<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque se levantará <Bold>nación contra nación, y reino contra reino;</Bold> y
            <Bold>habrá
                terremotos en muchos lugares,</Bold> y habrá hambres y alborotos<Bold>;</Bold> <Bold>principios
                de dolores
                serán estos</Bold></i><Bold>."</Bold> (Mr 13<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>10 <i>Entonces les dijo<Bold>:</Bold> <Bold>Se levantará gente contra gente, y reino
            contra
            reino;</Bold></i> <i>11</i> <i>y <Bold>habrá grandes terremotos,</Bold> y en varios lugares hambres y
            pestilencias<Bold>;</Bold> y <Bold>habrá espantos y grandes señales del
                cielo</Bold></i><Bold>."</Bold>
            (Lc 21<Bold>:</Bold>10-11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>24 <i>Y caerán a filo de espada<Bold>,</Bold> y serán llevados cautivos a todas las
            naciones<Bold>;</Bold> y <Bold>Jerusalem será hollada de las gentes, hasta que los tiempos de las
                gentes sean
                cumplidos.</Bold></i> 25 <Bold>Entonces</Bold> <Bold>habrá señales en el sol, y en la luna, y en
            las
            estrellas; y en la Tierra, angustia de gentes por la confusión del sonido de la mar y de las ondas;</Bold>
            26
            <Bold>secándose los hombres a causa del temor y expectación</Bold> <Bold>de las cosas que sobrevendrán
                a la
                redondez de la Tierra,</Bold> <i>porque las virtudes de los cielos serán
                conmovidas</i><Bold>."</Bold> (Lc
            21<Bold>:</Bold>24-26)</Paragraph>
        <Paragraph><Bold>Quinto argumento de la 3ra y 4ta sección</Bold><Bold>.</Bold> Si leemos Mt
            24<Bold>:</Bold>13<Bold>,</Bold> que es el penúltimo versículo de la cuarta
            sección<Bold>,</Bold>
            veremos que allí se estimula a los que estén vivos en ese momento<Bold>,</Bold> a que <Bold>perseveren
                hasta
                el fin.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Mas el que <Bold>perseverare hasta el fin,</Bold> éste será
            salvo</i><Bold>."</Bold> (Mt
            24<Bold>:</Bold>13)</Paragraph>
        <Paragraph><Bold>No es razonable que se le exhorte a un cristiano de la época apostólica a perseverar hasta el fin del
            mundo;</Bold> lo razonable es que eso se le esté diciendo a los cristianos de la época cercana al
            fin<Bold>.</Bold> Tampoco se le va a exhortar a un cristiano de la época cercana a la Segunda
            Venida<Bold>,</Bold> a perseverar hasta el fin<Bold>,</Bold> si aún faltaran digamos cincuenta
            años<Bold>.</Bold></Paragraph>
        <Paragraph> Para más facilidad en la comprensión de lo que digo respecto a la transición del versículo seis al
            siete<Bold>,</Bold> <Bold>podemos parafrasear ese pasaje de la siguiente manera:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>6 y oiréis guerras y rumores de guerras<Bold>,</Bold> mirad que no os turbéis por
            eso<Bold>,</Bold> porque es menester que todo esto acontezca<Bold>,</Bold> mas aún no es el fin del
            mundo<Bold>.</Bold> 7 Porque el fin del mundo estará cerca cuando se levantará nación contra nación y
            reino
            contra reino<Bold>,</Bold> y hayan pestilencias<Bold>,</Bold> hambres y terremotos por muchos
            lugares<Bold>,</Bold> las cuales cosas no son tampoco el fin mismo<Bold>,</Bold> 8 sino las señales
            que
            avisan del comienzo de un período que se llama <Bold>"</Bold>principio de dolores<Bold>".</Bold> 9
            Será
            entonces cuando os entregarán para ser afligidos y os matarán<Bold>..."</Bold> (Paráfrasis de Mt
            24<Bold>:</Bold>6-9)</Paragraph>
        <Paragraph> Al llegar a este punto del tiempo ya lo único que nos separa del fin es el esperar a que se predique el
            evangelio en
            todo el mundo<Bold>,</Bold> según nos dice el versículo 14 de Mateo 24<Bold>;</Bold> lo cual parece
            que va a
            hacerse en la forma milagrosa a que se refiere Ap 14<Bold>:</Bold>6<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y vi otro ángel volar por en medio del cielo<Bold>,</Bold> <Bold>que tenía el
            evangelio
            eterno para predicarlo a los que moran en la Tierra,</Bold> y a toda nación y tribu y lengua y
            pueblo</i><Bold>."</Bold>
            (Ap 14<Bold>:</Bold>6)</Paragraph>
        <Paragraph> Habiendo ya demostrado que el pasaje 4 al 6 (tercera sección) y el otro que va del 7 al 14 (cuarta sección)
            tratan
            de épocas diferentes<Bold>,</Bold> vamos a seguir analizando el capítulo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En resumen:</Bold> Mt 24<Bold>:</Bold>4-6 y Mt 24<Bold>:</Bold>7-14<Bold>,</Bold> son
            la
            narración de dos épocas con algún parecido<Bold>,</Bold> pero completamente diferentes en el
            tiempo<Bold>.</Bold> La primera perteneciente a la era apostólica y la segunda perteneciente al presente
            y al
            futuro<Bold>.</Bold> En uno dice que no era el fin<Bold>,</Bold> en el otro la narración llega hasta
            el
            fin<Bold>.</Bold> En la primera no podía haber guerras mundiales<Bold>,</Bold> sino
            sediciones<Bold>,</Bold> en la segunda iba a haber guerras mundiales<Bold>.</Bold> En la primera no
            hubo
            señales en el cielo como dice que habrá en la segunda<Bold>.</Bold> En la cuarta sección se exhorta a
            aguantar
            hasta el fin<Bold>,</Bold> en la tercera no<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Quinta sección,</Bold> (Mt 24<Bold>:</Bold>15-34) Esta sección es como si se hubiera mirado con
            una
            lupa una pequeña sección de un mapa<Bold>,</Bold> para poder ver más detalles<Bold>;</Bold> o como
            si se
            hubiera agrandado una sección de un mapa en un recuadro<Bold>,</Bold> para ver más
            detalles<Bold>.</Bold> Lo
            que se detalla en esta sección<Bold>,</Bold> lo que se mira como con una lupa<Bold>,</Bold> es
            <Bold>el
                lapso comprendido entre la aparición de la Abominación de Asolamiento, y la Segunda Venida, que se
                abarcó ya en
                la cuarta sección (7-14), pero que no se detalló.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>Por tanto<Bold>,</Bold> <Bold>cuando viereis la abominación del
            asolamiento,</Bold>
            que fue dicha por Daniel profeta<Bold>,</Bold> que <Bold>estará</Bold> en el lugar
            santo<Bold>,</Bold>
            (el que lee<Bold>,</Bold> entienda)<Bold>,</Bold></i> 16 <i>entonces los que están en
            Judea<Bold>,</Bold> huyan a los montes<Bold>;</Bold></i> 17 <i>y el que sobre el
            terrado<Bold>,</Bold>
            no descienda a tomar algo de su casa<Bold>;</Bold></i> 18 <i>y el que en el campo<Bold>,</Bold> no
            vuelva
            atrás a tomar sus vestidos<Bold>.</Bold></i> 19 <i>Mas</i> <i><Bold>¡</Bold>ay de las
            preñadas<Bold>,</Bold> y de las que crían en aquellos días<Bold>!</Bold></i> 20
            <i>Orad<Bold>,</Bold>
                pues<Bold>,</Bold> que vuestra huida no sea en invierno ni en sábado<Bold>;</Bold></i> 21
            <Bold>porque
                habrá entonces grande aflicción, cual no fue desde el principio del mundo hasta ahora, ni será.</Bold>
            22 <i>Y si
                aquellos días no fuesen acortados<Bold>,</Bold> ninguna carne sería salva<Bold>;</Bold> mas por
                causa de los
                escogidos<Bold>,</Bold> aquellos días serán acortados</i><Bold>.</Bold></Paragraph>
        <Paragraph> 23 <i>Entonces<Bold>,</Bold> si alguno os dijere<Bold>:</Bold> He aquí está el
            Cristo<Bold>,</Bold> o
            allí<Bold>,</Bold> no creáis<Bold>.</Bold></i> 24 <i>Porque se levantarán <Bold>falsos Cristos, y
            falsos
            profetas, y darán señales grandes y prodigios;</Bold> de tal manera que engañarán<Bold>,</Bold> si es
            posible<Bold>,</Bold> aun a los escogidos<Bold>.</Bold></i> 25 <i>He aquí os lo he dicho
            antes<Bold>.</Bold></i> 26 <i>Así que<Bold>,</Bold> si os dijeren<Bold>:</Bold> He aquí en el
            desierto
            está<Bold>;</Bold> no salgáis<Bold>;</Bold> He aquí en las cámaras<Bold>;</Bold> no
            creáis<Bold>.</Bold></i> 27 <i>Porque como el relámpago que sale del oriente y se muestra hasta el
            occidente<Bold>,</Bold> así será también la venida del Hijo del Hombre<Bold>.</Bold></i> 28 <i>Porque
            donde
            quiera que estuviere el cuerpo muerto<Bold>,</Bold> allí se juntarán las águilas</i><Bold>.</Bold>
        </Paragraph>
        <Paragraph> 29 <i>Y <Bold>luego después de la aflicción de aquellos días, el sol se obscurecerá, y la luna no dará su
            lumbre,
            y las estrellas caerán del cielo, y las virtudes de los cielos serán conmovidas.</Bold> 30 Y entonces se
            mostrará
            la señal del Hijo del Hombre en el cielo<Bold>;</Bold> y entonces lamentarán todas las tribus de la
            Tierra<Bold>,</Bold> y verán al Hijo del Hombre que vendrá sobre las nubes del cielo<Bold>,</Bold>
            con
            grande poder y gloria<Bold>.</Bold> 31 Y enviará sus ángeles con gran voz de trompeta<Bold>,</Bold>
            y
            <Bold>juntarán sus escogidos de los cuatro vientos, de un cabo del cielo hasta el
                otro</Bold></i><Bold>.</Bold></Paragraph>
        <Paragraph> 32 <i>De la higuera aprended la parábola<Bold>:</Bold> Cuando ya su rama se enternece<Bold>,</Bold>
            y las
            hojas brotan<Bold>,</Bold> sabéis que el verano está cerca<Bold>.</Bold></i> <i>33</i> <i>Así
            también
            vosotros<Bold>,</Bold> cuando viereis todas estas cosas<Bold>,</Bold> sabed que está
            cercano<Bold>,</Bold> a las puertas<Bold>.</Bold></i> <i>34</i> <i>De cierto os
            digo<Bold>,</Bold> que
            <Bold>no pasará esta generación, que todas estas cosas no acontezcan</Bold></i><Bold>."</Bold> (Mt
            24<Bold>:</Bold>15-34)</Paragraph>
        <Paragraph> Como vimos al comenzar la explicación del Sermón Profético<Bold>,</Bold> la cuarta sección de
            éste<Bold>,</Bold> que comprende los versículos 7-14<Bold>,</Bold> era una concisa reseña de los
            hechos que
            iban a acontecer en la época ya cercana al fin<Bold>.</Bold> En ese momento en que Cristo
            hablaba<Bold>,</Bold> esas cosas estaban todas aún en el futuro<Bold>.</Bold> No
            obstante<Bold>,</Bold>
            para nosotros hoy en día<Bold>,</Bold> algunas de ellas<Bold>,</Bold> como las Guerras
            Mundiales<Bold>,</Bold> están ya en el pasado<Bold>,</Bold> pero otras<Bold>,</Bold> como la
            Abominación<Bold>,</Bold>
            están aún en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph> La Quinta Sección del Sermón Profético<Bold>,</Bold> (versículos 15-34)<Bold>,</Bold> nos detalla lo
            que
            ocurrirá desde la aparición de la Abominación<Bold>,</Bold> hasta la Segunda Venida<Bold>.</Bold>
            Vamos pues
            a analizar esta sección<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Ahora voy a hacer cinco comentarios sobre este pasaje,</Bold> y más adelante voy a dar <Bold>siete
            argumentos</Bold> para demostrar que <Bold>este pasaje se refiere necesariamente al fin.</Bold></Paragraph>
        <Paragraph><Bold> a)</Bold> Esta <Bold>"</Bold>abominación de asolamiento<Bold>",</Bold> mencionada en el
            versículo
            15 está aún en el futuro<Bold>,</Bold> y por ende también lo está todo lo narrado del 15 al
            34<Bold>.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b)</Bold> El versículo 15 dice que la abominación estaría en el lugar santo<Bold>;</Bold>
            <Bold>no
                dice que destruiría el lugar santo, que fue lo que hicieron los romanos.</Bold> Por lo
            tanto<Bold>,</Bold> es
            lógico pensar que se refiera al futuro actual y no a la época apostólica<Bold>.</Bold> No sólo se
            refiere al
            futuro actual<Bold>,</Bold> sino que por lógica<Bold>,</Bold> la advertencia se hace a los
            cristianos judíos
            de aquel futuro actual<Bold>,</Bold> <Bold>pues los judíos inconversos no van a leer el Nuevo
                Testamento,</Bold> y los cristianos gentiles no tienen que salir de Judea<Bold>,</Bold> a menos
            que se
            hallen allí de turistas o de misioneros<Bold>.</Bold> Se refiere al próximo templo espurio que será
            construido
            en Jerusalem<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> Por el énfasis que Jesús pone en la premura con que los cristianos que se hallen en Judea
            deben
            precaverse y huir (versículos 17 y 18)<Bold>,</Bold> se colige que <Bold>los acontecimientos van a
                desencadenarse súbitamente, sin anuncios ni señales previas que avisen de su próxima presencia.</Bold>
            Da la
            sensación de que <Bold>el escape de los hermanos se tiene que realizar en cosa de minutos,</Bold> porque
            hace
            hincapié en que no pierdan ni siquiera los pocos minutos que les tomaría ir a buscar su capa
            (abrigo)<Bold>.</Bold></Paragraph>
        <Paragraph> La presunción de que los cristianos de Judea tendrán que reaccionar velozmente ante los
            acontecimientos<Bold>,</Bold> concuerda con la exclamación sobre las preñadas y las que
            crían<Bold>,</Bold>
            que tendrán el impedimento de sus estados físicos y fisiológicos<Bold>,</Bold> para actuar con la
            premura
            requerida y para sufrir las privaciones del caso<Bold>.</Bold></Paragraph>
        <Paragraph> Lo mencionado sobre el abrigo<Bold>,</Bold> y el hecho de que en el versículo 20 exhorta a orar para que
            esto no
            ocurra en invierno ni en sábado<Bold>,</Bold> <Bold>me hace pensar que es un sábado de la estación
                invernal,
                cuando los poderes espirituales rebeldes intentarán realizar su plan.</Bold> No sería
            pues<Bold>,</Bold>
            muy insensato de parte de los cristianos que en aquel futuro se hallaren en Judea<Bold>,</Bold> el que
            salieran
            de ella desde el mismo inicio de cualquier cosa extraña que vean<Bold>,</Bold> y el mantenerse atentos a
            las
            noticias y rumores durante esos días<Bold>,</Bold> sobre todo los sábados invernales o cercanos al
            invierno<Bold>.</Bold> O mejor aún<Bold>,</Bold> mudarse de allí tan pronto les sea
            posible<Bold>,</Bold> antes de que comience el invierno<Bold>.</Bold></Paragraph>
        <Paragraph> También la exhortación a no ir a buscar el abrigo pudiera tener otro motivo<Bold>,</Bold> como sería
            <Bold>el
                no despertar sospecha de que uno se va para siempre,</Bold> sino que sale de la ciudad para volver
            después<Bold>.</Bold>
            El que salga sin bultos<Bold>,</Bold> con la ropa corriente<Bold>,</Bold> no despertará sospecha de
            que se
            va para siempre<Bold>,</Bold> cosa que alertaría a las autoridades<Bold>,</Bold> o a la turba que
            apoya las
            tiranías<Bold>,</Bold> en el sentido de que los que se van son desafectos al régimen del
            antiCristo<Bold>.</Bold></Paragraph>
        <Paragraph> Tal vez<Bold>,</Bold> por la oración de la cristiandad<Bold>,</Bold> los planes elaborados para ser
            realizados por los malignos un sábado invernal<Bold>,</Bold> tengan que ser pospuestos o precipitados
            debido a
            la presencia de circunstancias imprevistas para ellos<Bold>,</Bold> con lo que los acontecimientos a lo
            mejor no
            ocurran en invierno<Bold>,</Bold> pero sí en sábado<Bold>,</Bold> o no en sábado<Bold>,</Bold>
            pero sí
            en invierno<Bold>;</Bold> o tal vez ni en sábado ni en invierno<Bold>,</Bold> aunque no muy lejos de
            ellos<Bold>.</Bold> <Bold>Debemos pues orar por ese importante asunto, para que Dios trastorne los
                planes de
                los malignos ese día, y los hermanos sean librados.</Bold></Paragraph>
        <Paragraph><Bold>No puede esta advertencia referirse a todos los cristianos de todo el mundo,</Bold> porque los
            sábados
            invernales en Judea<Bold>,</Bold> son sábados veraniegos en Brasil<Bold>,</Bold>
            Argentina<Bold>,</Bold>
            África<Bold>,</Bold> Australia y todo el hemisferio sur<Bold>.</Bold> Además de
            que<Bold>,</Bold>
            evidentemente<Bold>,</Bold> el versículo 16 se refiere a los de Judea<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d)</Bold> Después de esta huida de los cristianos que se hallen en Jerusalem y en toda Judea
            comenzará la
            mayor tribulación jamás ocurrida<Bold>,</Bold> o sea<Bold>,</Bold> se iniciará la Gran
            Tribulación<Bold>,</Bold> según nos dicen los versículos 21-22<Bold>,</Bold> y se dará inicio a la
            época de
            los falsos Cristos y falsos profetas que darán señales grandes y prodigios capaces de engañar aún a ciertos
            cristianos<Bold>,</Bold> como advierten los versículos 23-28<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) Cuando esté finalizando o haya finalizado la Gran Tribulación, o sea, "Después de la aflicción de
            aquellos
            días",</Bold> como dice el versículo 29<Bold>,</Bold> será que se oscurezca el sol y la
            luna<Bold>,</Bold>
            las estrellas caigan del cielo y las virtudes de los cielos sean conmovidas<Bold>.</Bold> Será entonces
            cuando
            según el versículo 30<Bold>,</Bold> aparezca la señal de Cristo en el cielo (tal vez la cruz) y se vea a
            Jesús
            en su Segunda Venida<Bold>,</Bold> esta vez sobre las nubes<Bold>,</Bold> desde donde mandará a
            traer a sus
            escogidos (31) de todo el mundo<Bold>.</Bold> Así termina este pasaje que conforma la quinta
            sección<Bold>,</Bold> y el cual nos hace ver más en detalle<Bold>,</Bold> cómo va a ser la secuencia
            de los
            acontecimientos desde la época de la abominación hasta la recogida de los cristianos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Habiendo acabado con los cinco comentarios, vamos a hablar de los siete argumentos.</Bold> Voy a
            analizar
            ahora algunos detalles de este pasaje (15-34) <Bold>para reafirmar la idea de que también la quinta
                sección se
                refiere al fin.</Bold> Para ello me baso en siete argumentos<Bold>:</Bold>
            <Bold>Primero:</Bold> La
            Gran Tribulación de que habla este pasaje no ha ocurrido aún<Bold>.</Bold> <Bold>Segundo:</Bold> El
            antiCristo no ha aparecido aún<Bold>.</Bold> <Bold>Tercero:</Bold> Ninguna carne sería salva si
            continuara
            más tiempo la tribulación<Bold>.</Bold> <Bold>Cuarto:</Bold> Los prodigios de los falsos Cristos y
            profetas
            no han ocurrido aún<Bold>.</Bold> <Bold>Quinto:</Bold> El sol y la luna no se han oscurecido ni las
            estrellas cayeron en la época apostólica<Bold>.</Bold> <Bold>Sexto:</Bold> No estaba a las puertas
            en la
            época apostólica<Bold>,</Bold> puesto que han pasado veinte siglos<Bold>.</Bold>
            <Bold>Séptimo:</Bold>
            Aquella generación de la época apostólica pasó y no ocurrieron <Bold>todas</Bold> las
            cosas<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Primer argumento de la 5ta sección: La Gran Tribulación no ha ocurrido aún.</Bold> El versículo 21
            dice que
            durante los acontecimientos descritos en los versículos del 15 al 20 habría una aflicción tan grande cual no
            la hubo
            desde el principio del mundo ni la habrá<Bold>;</Bold> y el que dice eso es el que más autoridad tiene
            para
            saberlo<Bold>:</Bold> Jesús<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque habrá entonces grande aflicción<Bold>,</Bold> <Bold>cual no fue desde el
            principio
            del mundo hasta ahora, ni será</Bold></i><Bold>."</Bold> (Mt 24<Bold>:</Bold>21)</Paragraph>
        <Paragraph> Si alguien pensara que estos acontecimientos y tribulación aquí mencionados por Jesús<Bold>,</Bold>
            pertenecieran a los ya ocurridos durante la era apostólica<Bold>,</Bold> cuando la destrucción de
            Jerusalem y el
            Templo<Bold>,</Bold> habría que suponer también que la aflicción futura que ha de venir al
            mundo<Bold>,</Bold> la llamada Gran Tribulación<Bold>,</Bold> va a ser menor que la de la época
            romana<Bold>.</Bold> Admitir esta segunda hipótesis equivaldría a suponer que la aflicción provocada por
            el
            antiCristo<Bold>,</Bold> el más perverso y cruel de los perseguidores del cristianismo<Bold>,</Bold>
            será
            más leve y menos cruel que las provocadas por el Imperio Romano<Bold>,</Bold> lo cual me parece
            absurdo<Bold>.</Bold> Por lo tanto<Bold>,</Bold> visto que todavía falta que se cumpla la profecía
            de la
            Gran Tribulación<Bold>,</Bold> tenemos que llegar a la conclusión de que el pasaje en estudio (Mt 15-34)
            se
            refiere al final del mundo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Segundo argumento de la 5ta sección: El antiCristo no ha venido aún.</Bold> Tampoco se puede
            alegar que el
            Imperio Romano<Bold>,</Bold> o algún emperador<Bold>,</Bold> haya sido el
            antiCristo<Bold>,</Bold>
            <Bold>porque ninguno de ellos se sentó en el Templo de Dios,</Bold> como Dios<Bold>,</Bold>
            haciéndose
            parecer Dios<Bold>,</Bold> que es lo que predijo San Pablo en Segunda de
            Tesalonicenses<Bold>,</Bold> que
            haría el antiCristo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Oponiéndose<Bold>,</Bold> y levantándose contra todo lo que se llama
            Dios<Bold>,</Bold>
            o que se adora<Bold>;</Bold> tanto que <Bold>se asiente en el templo de Dios como Dios, haciéndose
                parecer
                Dios</Bold></i><Bold>."</Bold> (II Tes 2<Bold>:</Bold>4)</Paragraph>
        <Paragraph> Por lo tanto<Bold>,</Bold> en el pasaje de Mt 15-34<Bold>,</Bold> el Señor no se está refiriendo a
            la época
            apostólica<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Tercer argumento de la 5ta sección: Las aflicciones de la época apostólica fueron esporádicas y
            regionales.</Bold> El versículo 22 dice que si la aflicción continuara por más tiempo<Bold>,</Bold>
            ninguna
            carne sería salva<Bold>;</Bold> tal vez porque desertarían de la fe por no poder soportar las
            presiones<Bold>,</Bold> sufrimientos y crueldades<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>si aquellos días no fuesen acortados, ninguna carne sería salva;</Bold> mas
            por
            causa de los escogidos<Bold>,</Bold> aquellos días serán acortados</i><Bold>."</Bold> (Mt
            24<Bold>:</Bold>22)</Paragraph>
        <Paragraph> Me parece que esas palabras no pueden referirse a las aflicciones de la era apostólica<Bold>.</Bold> No
            creo yo
            que se pueda aplicar a aquellos tiempos<Bold>,</Bold> porque a pesar de que sus aflicciones fueron
            grandes y
            crueles<Bold>,</Bold> llegando al martirio<Bold>,</Bold> no fueron continuas<Bold>,</Bold>
            hablando
            cronológicamente<Bold>,</Bold> ni totales geográficamente hablando<Bold>.</Bold> Aquellas
            aflicciones fueron
            esporádicas en el primer caso<Bold>,</Bold> y regionales en el segundo<Bold>,</Bold> como se
            demuestra en
            Hch 9<Bold>:</Bold>31<Bold>.</Bold> Había regiones<Bold>,</Bold> tanto bárbaras como
            romanas<Bold>,</Bold> que no padecían la persecución anticristiana y<Bold>,</Bold> por lo
            tanto<Bold>,</Bold> los cristianos de esos lugares<Bold>,</Bold> o que se hubieran refugiado en
            ellos<Bold>,</Bold> no hubieran desertado de la fe<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"<i>Las iglesias entonces tenían paz por toda Judea y Galilea y Samaria,</i></Bold> <i>y eran
            edificadas<Bold>,</Bold> andando en el temor del Señor<Bold>;</Bold> y con consuelo del Espíritu
            Santo eran
            multiplicadas</i><Bold>."</Bold> (Hch 9<Bold>:</Bold>31)</Paragraph>
        <Paragraph> Es más lógico pensar que estos vaticinios se refieran a modernos tiempos aún en el futuro<Bold>,</Bold>
            en que
            una organización mundial inflexible y totalitaria<Bold>,</Bold> con medios científicos y técnicos
            suficientes
            para hacerlo<Bold>,</Bold> extienda su despiadada persecución a las regiones más recónditas de su
            imperio<Bold>,</Bold> provocando con ello una aflicción tal a todo cristiano existente en esas regiones
            dominadas por el antiCristo<Bold>,</Bold> que si se prolongara<Bold>,</Bold> los hermanos que allí
            vivieran
            desertaría de la fe por no poder ni aguantar ni escaparse<Bold>.</Bold></Paragraph>
        <Paragraph> Por lo tanto<Bold>,</Bold> en el pasaje de Mt 15-34<Bold>,</Bold> el Señor no se está refiriendo a
            la época
            apostólica<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Cuarto argumento de la 5ta sección: Los falsos "Cristos" de la época apostólica no hicieron señales
            ni
            prodigios.</Bold> Si analizamos ahora el versículo 24 veremos que <Bold>tras la época de
            tribulación</Bold>
            descrita en este pasaje<Bold>,</Bold> se levantarán <Bold>los falsos Cristos y falsos profetas, los
                cuales
                harán señales grandes y prodigios.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque se levantarán <Bold>falsos Cristos, y falsos profetas, y darán señales grandes
            y
            prodigios;</Bold> de tal manera que engañarán<Bold>,</Bold> si es posible<Bold>,</Bold> aun a los
            escogidos</i><Bold>."</Bold> (Mt 24<Bold>:</Bold>24)</Paragraph>
        <Paragraph><Bold>En la era apostólica aunque hubo falsos profetas y falsos "Cristos", no hubo ninguno que hiciera
            prodigios,
            ni grandes ni pequeños;</Bold> y menos aún prodigios de tal envergadura que pudieran calificarse como los
            capaces
            de engañar aún a los escogidos<Bold>.</Bold> Por lo tanto<Bold>,</Bold> <Bold>si los falsos
                "Cristos" y
                falsos profetas de tan gran poder no surgieron en la época apostólica,</Bold> es lógico pensar que
            Cristo se
            está refiriendo en este versículo<Bold>,</Bold> y en todo este pasaje (15-34)<Bold>,</Bold> al fin
            del mundo<Bold>,</Bold>
            y no a la era apostólica<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Quinto argumento de la 5ta sección: Después de las tribulaciones de la época apostólica no se
            oscureció el
            sol ni la luna ni las estrellas cayeron.</Bold> Otro tanto puede decirse de Mt
            24<Bold>:</Bold>29<Bold>,</Bold> donde dice que después de la aflicción descrita como
            única<Bold>,</Bold> sin paralelo ni repetición<Bold>,</Bold> es decir<Bold>,</Bold> <Bold>después
                de
                la Gran Tribulación, el sol se oscurecería al igual que la luna, y caerían las estrellas.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y luego <Bold>después de la aflicción de aquellos días, el sol se
            obscurecerá,</Bold> y
            <Bold>la luna no dará su lumbre,</Bold> y <Bold>las estrellas caerán del cielo,</Bold> y las
            virtudes de los
            cielos serán conmovidas</i><Bold>."</Bold> (Mt 24<Bold>:</Bold>29)</Paragraph>
        <Paragraph><Bold>Es más que evidente que después de las aflicciones de la era apostólica, ni se oscureció el sol, ni
            la luna,
            y mucho menos cayeron las estrellas.</Bold> Por lo tanto<Bold>,</Bold> repito<Bold>,</Bold> aquí
            no se
            estaba refiriendo Jesús a la era apostólica en el pasaje de Mt 15-34<Bold>,</Bold> sino al futuro
            inmediatamente
            anterior a la Segunda Venida<Bold>,</Bold> el futuro actual<Bold>.</Bold> Es decir<Bold>,</Bold>
            que
            todo este pasaje habla de una época aún en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> Sexto argumento de la 5ta sección: En la época apostólica la Segunda Venida no estaba a las
            puertas.</Bold> En el versículo 33 dice que cuando <Bold>"</Bold>estas cosas<Bold>"</Bold>
            comenzaren a
            suceder<Bold>,</Bold> todo estaba ya a las puertas<Bold>.</Bold> Tampoco puede Jesús en el pasaje
            15-34
            haberse estado refiriendo a la época de los apóstoles o a las épocas inmediatamente
            sucesivas<Bold>,</Bold> pues
            aquí dice que <Bold>en el momento que ocurriera lo que él relataba, ya todo lo demás, incluyendo su
                Segunda Venida
                estaba a las puertas.</Bold> Han pasado casi veinte siglos y una tonelada de generaciones y no vino el
            fin<Bold>;</Bold> lo cual nos indica que los hechos del primer siglo y demás<Bold>,</Bold> no eran
            los que
            nos estaban anunciando que Jesús se hallaba a las puertas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Así también vosotros<Bold>,</Bold> cuando viereis todas estas
            cosas<Bold>,</Bold> sabed
            que está cercano<Bold>,</Bold> a las puertas</i><Bold>."</Bold> (Mt 24<Bold>:</Bold> 33)</Paragraph>
        <Paragraph><Bold>Séptimo argumento de la 5ta sección: Pasó la generación apostólica y no se manifestó el resto de las
            señales.</Bold> También el versículo 34 nos indica que nada de este pasaje se refería a la época
            apostólica<Bold>,</Bold> porque aquí dice que <Bold>cuando ocurriera una de aquellas señales, en esa
                misma
                generación se verían todas las demás señales,</Bold> y eso <Bold>no</Bold> ocurrió en aquella
            época
            apostólica<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>De cierto os digo<Bold>,</Bold> que <Bold>no pasará esta generación, que todas
            estas cosas
            no acontezcan</Bold></i><Bold>."</Bold> (Mt 24<Bold>:</Bold>34)</Paragraph>
        <Paragraph> De la lectura de todo el pasaje en estudio (15-34) es fácil comprender que <Bold>la generación que vea la
            abominación, verá también la caída de las estrellas, el oscurecimiento de sol y luna y la Segunda Venida del
            Señor.</Bold> Por lo tanto<Bold>,</Bold> nadie puede alegar que parte de los acontecimientos
            sucedieron
            entonces y parte sucederán en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En resumen:</Bold> la quinta sección<Bold>,</Bold> que comprende Mt
            24<Bold>:</Bold>15-34<Bold>,</Bold> es una ampliación detallada<Bold>,</Bold> del lapso
            comprendido
            entre la aparición de la Abominación de Asolamiento<Bold>,</Bold> y la Segunda Venida<Bold>.</Bold>
            Por eso
            se ve que los acontecimientos narrados en ella no han ocurrido aún<Bold>,</Bold> como
            son<Bold>:</Bold> la
            Gran Tribulación<Bold>,</Bold> el antiCristo<Bold>,</Bold> los prodigios de los falsos Cristos y
            profetas<Bold>,</Bold> el oscurecimiento del sol y la luna<Bold>,</Bold> y las estrellas cayendo en
            la época
            apostólica<Bold>.</Bold> Esto nos demuestra que esa sección está en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La sexta sección</Bold> (Mt 24<Bold>:</Bold>35-51) no creo necesario
            analizarla<Bold>,</Bold> son
            admoniciones suficientemente claras que no necesitan explicación<Bold>.</Bold> Esta sección sólo habla
            de la
            seguridad del cumplimiento de esta profecía y del secreto que rodea el día y la hora de su
            ocurrencia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Resumiendo: el capítulo 24 de Mateo comienza profetizando</Bold> la destrucción del Templo en el
            año 70 (1
            y 2)<Bold>;</Bold> luego da una breve reseña de lo que iba a ocurrir en la época apostólica
            (4-6)<Bold>;</Bold> más tarde hace otra breve reseña de lo que iba a ocurrir desde las guerras mundiales
            hasta
            la Segunda Venida (7-14)<Bold>;</Bold> entonces amplifica una parte del pasaje
            anterior<Bold>,</Bold>
            detallando el período que va desde la <Bold>"</Bold>Abominación<Bold>"</Bold> hasta
            <Bold>"</Bold>la
            Segunda Venida<Bold>"</Bold> (15-34)<Bold>;</Bold> y en el resto del capítulo da exhortaciones a los
            cristianos sobre tan importante asunto (35-51)<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Vamos ahora a comentar algunos pasajes que pueden traer confusión.</Bold></Paragraph>
        <Paragraph><Bold>Mateo habla de dos veces en que surgirán falsos Cristos.</Bold> En Mt 24<Bold>:</Bold>5 se
            advierte a
            los cristianos sobre los falsos Cristos que vendrían en aquella era apostólica<Bold>.</Bold> Esta
            profecía de
            los falsos Cristos se repite en Mt 24<Bold>:</Bold>24<Bold>,</Bold> pero esta vez se refiere a los
            tiempos
            cercanos a la Segunda Venida<Bold>.</Bold> Esto se entenderá más claramente si nos damos cuenta de que
            el
            versículo 5 pertenece a la tercera sección que trata de la época apostólica<Bold>,</Bold> mientras que
            el 24
            pertenece a la quinta sección<Bold>,</Bold> que trata del fin<Bold>.</Bold> Ambas aseveraciones
            fueron
            previamente demostradas<Bold>,</Bold> basta con leer de nuevo ambas secciones<Bold>.</Bold></Paragraph>
        <Paragraph> También vemos que en Lc 21<Bold>:</Bold>8<Bold>,</Bold> donde se trata de la época
            apostólica<Bold>,</Bold> se menciona a los falsos Cristos como viniendo también en esa
            época<Bold>.</Bold> Y
            se sabe que se trata de la época apostólica no sólo porque está en el pasaje donde se habla de esa
            época<Bold>,</Bold> sino porque allí al hablar de los falsos Cristos Jesús añade <Bold>"...y el tiempo
                esta
                cerca".</Bold> Si dijo a los apóstoles que el tiempo estaba cerca<Bold>,</Bold> es porque esos
            falsos
            Cristos y falsos profetas iban a surgir también en aquella época<Bold>.</Bold></Paragraph>
        <Paragraph> No se me escapa el hecho de que en Lc 21<Bold>:</Bold>8 la oración <Bold>"</Bold>el tiempo está
            cerca<Bold>",</Bold> la comienzan con mayúscula las Biblias modernas<Bold>,</Bold> como indicando
            que se
            trata de una de las dos frases que dirán los falsos Cristos<Bold>.</Bold> Según esta forma de presentar
            las
            cosas los que imprimieron estas modernas Biblias<Bold>,</Bold> los falsos Cristos dirían dos
            frases<Bold>:</Bold> <Bold>1)</Bold> <Bold>"</Bold>Yo Soy<Bold>"</Bold> y<Bold>,</Bold>
            <Bold>2)</Bold>
            <Bold>"</Bold>El tiempo está cerca<Bold>".</Bold> Pero esto es una interpretación prejuiciada
            doctrinalmente
            por el que imprime la Biblia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Para darnos cuenta de la falsedad que entraña el comenzar esa oración con mayúscula,</Bold>
            bastaría leer
            Lc 21<Bold>:</Bold>8 en la edición original de Casiodoro de Reina solo<Bold>,</Bold> o en una
            Reina-Valera
            impresa en el pasado siglo<Bold>.</Bold> En esas ediciones<Bold>,</Bold> la oración
            <Bold>"</Bold>el
            tiempo está cerca<Bold>"</Bold> se halla con minúscula<Bold>,</Bold> porque no la consideraban una
            nueva
            frase<Bold>,</Bold> sino un comentario de Jesucristo respecto a la cercanía de tales falsos
            Cristos<Bold>.</Bold> Lo mismo podemos constatar en la versión inglesa antigua de King
            James<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Pero además, es lógico pensar que</Bold> los falsos Cristos no iban a poder andar diciendo que el
            tiempo de
            la llegada de Jesús estaba cerca<Bold>,</Bold> <Bold>porque ellos querían hacer ver que ellos eran
                "Jesús" que
                ya había llegado.</Bold> Si ellos dijeran que el tiempo está cerca<Bold>,</Bold> entonces no
            podían decir
            que ellos eran Cristo<Bold>,</Bold> porque ellos mismos estaban diciendo que no había llegado el tiempo
            de su
            Segunda Venida<Bold>.</Bold> Así que vemos que el mismo período de la profecía<Bold>,</Bold> tratado
            en
            Lucas<Bold>,</Bold> concuerda con el hecho de que Mateo 24<Bold>:</Bold>5 se refiere a falsos
            Cristos de la
            época apostólica<Bold>,</Bold> mientras que Mt 24<Bold>:</Bold>24 se refiere a los falsos Cristos
            que
            vendrán en la época bien próxima al fin<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    