---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El yugo que ni Pedro ni sus padres habían podido llevar">
    <section>
        <Paragraph><Bold>El yugo que ni Pedro ni sus padre habían podido llevar era la ley ritual</Bold></Paragraph>
        <Paragraph> Esto que dijo Pedro se refiere <Bold>al yugo que representaba el cumplimiento estricto de la ley
            ritual.</Bold>
            <Bold>¿</Bold>Por qué<Bold>?</Bold> Porque cada vez que alguien cometía un pecado<Bold>,</Bold>
            tenía
            que venir desde Galilea a Jerusalem<Bold>,</Bold> y hacer un sacrificio en el Templo<Bold>.</Bold>
            Esto era
            casi imposible para los que vivieran lejos del Templo<Bold>,</Bold> y para los que fueran pobres y no
            pudieran
            costear esos sacrificios constantemente<Bold>.</Bold></Paragraph>
        <Paragraph> Durante la época anterior al sacrificio de Cristo<Bold>,</Bold> el creyente<Bold>,</Bold> para
            purgar sus
            pecados<Bold>,</Bold> tenía que hacer sacrificios de corderos<Bold>,</Bold> lavamientos y otros
            muchos ritos<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Una persona corriente, que cometiera pecado por obra, palabra o pensamiento dos o tres veces al mes,
            no podía
            presentar todos los sacrificios y ceremonias requeridos.</Bold> Tal cosa le era económica-mente
            prohibitivo a
            cualquier persona corriente<Bold>,</Bold> sobre todo si pensamos no solamente en los pecados de esa
            persona<Bold>,</Bold> sino en los de toda su familia<Bold>.</Bold></Paragraph>
        <Paragraph> Además<Bold>,</Bold> estaba la imposibilidad logística<Bold>.</Bold> <Bold>Quien no viviera en
            Jerusalem,
            cerca del Templo, tenía que viajar hasta allá para poder sacrificar, dado que la ley prohibía y castigaba
            los
            sacrificios fuera del Templo.</Bold> Nadie podía hacer un viaje de tres o cuatro días<Bold>,</Bold>
            dos o tres
            veces al mes<Bold>,</Bold> cada vez que tuviera un pecado él<Bold>,</Bold> su esposa o alguno de sus
            hijos<Bold>.</Bold> Esto sin contar las tres fiestas anuales en las cuales era obligatorio ir hasta
            Jerusalem<Bold>.</Bold></Paragraph>
        <Paragraph> Por eso es que <Bold>Pedro dice aquí que las leyes rituales eran un yugo que ni él ni sus padres habían
            podido
            llevar.</Bold> Efectivamente<Bold>,</Bold> era casi imposible cumplir todas las leyes rituales
            necesarias para
            ser redimido<Bold>,</Bold> cada vez que alguien pecaba de alguna forma<Bold>;</Bold> sobre todo para
            los que
            vivían lejos<Bold>,</Bold> como Pedro y los otros apóstoles<Bold>,</Bold> que vivían en
            Galilea<Bold>.</Bold></Paragraph>
        <Paragraph> Esto se hace más claro al leer Hch 15<Bold>:</Bold>10-11<Bold>,</Bold> sobre todo el versículo 11
            que está
            redactado como un consecuente del previo antecedente enunciado en el versículo 10<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>10 <i>Ahora pues<Bold>,</Bold> <Bold>¿</Bold>por qué tentáis a
            Dios<Bold>,</Bold>
            poniendo sobre la cerviz de los discípulos <Bold>yugo, que ni nuestros padres ni nosotros hemos podido
                llevar?</Bold></i> 11 <i>Antes <Bold>por la gracia del Señor Jesús</Bold> creemos que seremos
            salvos<Bold>,</Bold> como también ellos</i><Bold>."</Bold> (Hch 15<Bold>:</Bold>10-11)</Paragraph>
        <Paragraph> Como vemos<Bold>,</Bold> Pedro estaba ya convencido de que para el perdón de nuestros pecados ya no era
            necesario ir a ofrecer sacrificios de corderos al Templo<Bold>,</Bold> sino que éramos limpios por la
            gracia del
            Señor Jesús<Bold>,</Bold> que era el verdadero Cordero de Dios<Bold>.</Bold> Debido a ese
            conocimiento no
            estaba él de acuerdo en que se le impusiera a los gentiles la ley ritual<Bold>,</Bold> puesto que el
            simbolismo
            que estos sacrificios<Bold>,</Bold> ritos y ceremonias representaban<Bold>,</Bold> estaba ya
            presente en el
            sacrificio de Nuestro Señor Jesucristo<Bold>.</Bold></Paragraph>
        <Paragraph> Si leemos el origen de esta contienda en 15<Bold>:</Bold>1-2 y 5-6 veremos que <Bold>lo que se le
            quería
            imponer a los gentiles convertidos al cristianismo, como condición para salvarse, eran los ritos de la ley
            judía,
            comenzando por la circuncisión.</Bold> No se trataba de que los apóstoles rechazaran las leyes divinas
            para el
            comportamiento humano<Bold>,</Bold> sino que rechazaban el seguir haciendo uso de la ley ritual como
            método de
            salvación<Bold>,</Bold> como hasta entonces se había hecho<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Entonces <Bold>algunos que venían de Judea enseñaban a los hermanos: Que si no os
            circuncidáis conforme al rito de Moisés, no podéis ser salvos.</Bold></i> <i>2</i> <i>Así
            que<Bold>,</Bold>
            suscitada una disensión y contienda no pequeña a Pablo y a Bernabé contra ellos<Bold>,</Bold>
            determinaron que
            subiesen Pablo y Bernabé a Jerusalem<Bold>,</Bold> y algunos otros de ellos<Bold>,</Bold> <Bold>a
                los
                apóstoles y a los ancianos, sobre esta cuestión</Bold></i><Bold>."</Bold> (Hch
            15<Bold>:</Bold>1-2)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>5 <i>Mas algunos <Bold>de la secta de los fariseos,</Bold> que habían
            creído<Bold>,</Bold>
            se levantaron<Bold>,</Bold> diciendo<Bold>:</Bold> Que <Bold>es menester circuncidarlos, y
                mandarles que
                guarden la ley de Moisés.</Bold></i> 6 <i>Y se juntaron los apóstoles y los ancianos <Bold>para
            conocer de
            este negocio</Bold></i><Bold>."</Bold> (Hch 15<Bold>:</Bold>5-6)</Paragraph>
        <Paragraph> El yugo que Pedro dice que ni ellos ni sus padres habían podido llevar es el yugo de la ley
            ritual<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Súmese a esto la enorme carga que habían añadido a las leyes rituales y a las de
            comporta-miento<Bold>,</Bold>
            los escribas y fariseos según nos declara el mismo Señor en Lc 11<Bold>:</Bold>46<Bold>,</Bold> y se
            verá
            por qué Pedro dice que no se podía llevar ese yugo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y él dijo<Bold>:</Bold> <Bold>¡</Bold>Ay de vosotros también<Bold>,</Bold>
            doctores
            de la ley<Bold>!,</Bold> <Bold>que cargáis a los hombres con cargas que no pueden llevar;</Bold> mas
            vosotros ni aun con un dedo tocáis las cargas</i><Bold>."</Bold></Paragraph>
        <Paragraph> (Lc 11<Bold>:</Bold>46)</Paragraph>
        <Paragraph><Bold>Se evidencia que el yugo que no podían llevar los creyentes</Bold> anteriores a
            Cristo<Bold>,</Bold>
            era el formado por la ley ritual<Bold>,</Bold> y las imposiciones de los escribas y
            fariseos<Bold>,</Bold>
            no los diez mandamientos y demás leyes que para el comportamiento humano había Dios
            establecido<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    