---
import Layout from "../layout/Layout.astro";
---

<Layout title="El yugo que ni Pedro ni sus padres habían podido llevar">
    <section>
        <p><strong>El yugo que ni Pedro ni sus padre habían podido llevar era la ley ritual</strong></p>
        <p> Esto que dijo Pedro se refiere <strong>al yugo que representaba el cumplimiento estricto de la ley
            ritual.</strong>
            <strong>¿</strong>Por qué<strong>?</strong> Porque cada vez que alguien cometía un pecado<strong>,</strong>
            tenía
            que venir desde Galilea a Jerusalem<strong>,</strong> y hacer un sacrificio en el Templo<strong>.</strong>
            Esto era
            casi imposible para los que vivieran lejos del Templo<strong>,</strong> y para los que fueran pobres y no
            pudieran
            costear esos sacrificios constantemente<strong>.</strong></p>
        <p> Durante la época anterior al sacrificio de Cristo<strong>,</strong> el creyente<strong>,</strong> para
            purgar sus
            pecados<strong>,</strong> tenía que hacer sacrificios de corderos<strong>,</strong> lavamientos y otros
            muchos ritos<strong>.</strong>
        </p>
        <p><strong>Una persona corriente, que cometiera pecado por obra, palabra o pensamiento dos o tres veces al mes,
            no podía
            presentar todos los sacrificios y ceremonias requeridos.</strong> Tal cosa le era económica-mente
            prohibitivo a
            cualquier persona corriente<strong>,</strong> sobre todo si pensamos no solamente en los pecados de esa
            persona<strong>,</strong> sino en los de toda su familia<strong>.</strong></p>
        <p> Además<strong>,</strong> estaba la imposibilidad logística<strong>.</strong> <strong>Quien no viviera en
            Jerusalem,
            cerca del Templo, tenía que viajar hasta allá para poder sacrificar, dado que la ley prohibía y castigaba
            los
            sacrificios fuera del Templo.</strong> Nadie podía hacer un viaje de tres o cuatro días<strong>,</strong>
            dos o tres
            veces al mes<strong>,</strong> cada vez que tuviera un pecado él<strong>,</strong> su esposa o alguno de sus
            hijos<strong>.</strong> Esto sin contar las tres fiestas anuales en las cuales era obligatorio ir hasta
            Jerusalem<strong>.</strong></p>
        <p> Por eso es que <strong>Pedro dice aquí que las leyes rituales eran un yugo que ni él ni sus padres habían
            podido
            llevar.</strong> Efectivamente<strong>,</strong> era casi imposible cumplir todas las leyes rituales
            necesarias para
            ser redimido<strong>,</strong> cada vez que alguien pecaba de alguna forma<strong>;</strong> sobre todo para
            los que
            vivían lejos<strong>,</strong> como Pedro y los otros apóstoles<strong>,</strong> que vivían en
            Galilea<strong>.</strong></p>
        <p> Esto se hace más claro al leer Hch 15<strong>:</strong>10-11<strong>,</strong> sobre todo el versículo 11
            que está
            redactado como un consecuente del previo antecedente enunciado en el versículo 10<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>10 <i>Ahora pues<strong>,</strong> <strong>¿</strong>por qué tentáis a
            Dios<strong>,</strong>
            poniendo sobre la cerviz de los discípulos <strong>yugo, que ni nuestros padres ni nosotros hemos podido
                llevar?</strong></i> 11 <i>Antes <strong>por la gracia del Señor Jesús</strong> creemos que seremos
            salvos<strong>,</strong> como también ellos</i><strong>."</strong> (Hch 15<strong>:</strong>10-11)</p>
        <p> Como vemos<strong>,</strong> Pedro estaba ya convencido de que para el perdón de nuestros pecados ya no era
            necesario ir a ofrecer sacrificios de corderos al Templo<strong>,</strong> sino que éramos limpios por la
            gracia del
            Señor Jesús<strong>,</strong> que era el verdadero Cordero de Dios<strong>.</strong> Debido a ese
            conocimiento no
            estaba él de acuerdo en que se le impusiera a los gentiles la ley ritual<strong>,</strong> puesto que el
            simbolismo
            que estos sacrificios<strong>,</strong> ritos y ceremonias representaban<strong>,</strong> estaba ya
            presente en el
            sacrificio de Nuestro Señor Jesucristo<strong>.</strong></p>
        <p> Si leemos el origen de esta contienda en 15<strong>:</strong>1-2 y 5-6 veremos que <strong>lo que se le
            quería
            imponer a los gentiles convertidos al cristianismo, como condición para salvarse, eran los ritos de la ley
            judía,
            comenzando por la circuncisión.</strong> No se trataba de que los apóstoles rechazaran las leyes divinas
            para el
            comportamiento humano<strong>,</strong> sino que rechazaban el seguir haciendo uso de la ley ritual como
            método de
            salvación<strong>,</strong> como hasta entonces se había hecho<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>1 <i>Entonces <strong>algunos que venían de Judea enseñaban a los hermanos: Que si no os
            circuncidáis conforme al rito de Moisés, no podéis ser salvos.</strong></i> <i>2</i> <i>Así
            que<strong>,</strong>
            suscitada una disensión y contienda no pequeña a Pablo y a Bernabé contra ellos<strong>,</strong>
            determinaron que
            subiesen Pablo y Bernabé a Jerusalem<strong>,</strong> y algunos otros de ellos<strong>,</strong> <strong>a
                los
                apóstoles y a los ancianos, sobre esta cuestión</strong></i><strong>."</strong> (Hch
            15<strong>:</strong>1-2)
        </p>
        <p></p>
        <p></p>
        <p><strong>"</strong>5 <i>Mas algunos <strong>de la secta de los fariseos,</strong> que habían
            creído<strong>,</strong>
            se levantaron<strong>,</strong> diciendo<strong>:</strong> Que <strong>es menester circuncidarlos, y
                mandarles que
                guarden la ley de Moisés.</strong></i> 6 <i>Y se juntaron los apóstoles y los ancianos <strong>para
            conocer de
            este negocio</strong></i><strong>."</strong> (Hch 15<strong>:</strong>5-6)</p>
        <p> El yugo que Pedro dice que ni ellos ni sus padres habían podido llevar es el yugo de la ley
            ritual<strong>.</strong>
        </p>
        <p> Súmese a esto la enorme carga que habían añadido a las leyes rituales y a las de
            comporta-miento<strong>,</strong>
            los escribas y fariseos según nos declara el mismo Señor en Lc 11<strong>:</strong>46<strong>,</strong> y se
            verá
            por qué Pedro dice que no se podía llevar ese yugo<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Y él dijo<strong>:</strong> <strong>¡</strong>Ay de vosotros también<strong>,</strong>
            doctores
            de la ley<strong>!,</strong> <strong>que cargáis a los hombres con cargas que no pueden llevar;</strong> mas
            vosotros ni aun con un dedo tocáis las cargas</i><strong>."</strong></p>
        <p> (Lc 11<strong>:</strong>46)</p>
        <p><strong>Se evidencia que el yugo que no podían llevar los creyentes</strong> anteriores a
            Cristo<strong>,</strong>
            era el formado por la ley ritual<strong>,</strong> y las imposiciones de los escribas y
            fariseos<strong>,</strong>
            no los diez mandamientos y demás leyes que para el comportamiento humano había Dios
            establecido<strong>.</strong>
        </p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    