---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Los errores doctrinales de muchos cristianos tienen uno o más de estos varios orígenes">
    <Tag>#121</Tag>
    <Content>
        <Paragraph><Bold>Los errores doctrinales de muchos cristianos tienen uno o más de estos varios orígenes</Bold></Paragraph>
        <Paragraph> Muy a menudo el cristiano carga con errores doctrinales que no debían enseñorearse de
            ellos<Bold>,</Bold> pero
            que los dominan inmisericordemente<Bold>.</Bold> Eso es debido a deficiencias de su
            alma<Bold>:</Bold> falta
            de amor a Dios<Bold>,</Bold> por lo cual la verdad divina no es su principal objetivo<Bold>,</Bold>
            y a
            veces<Bold>,</Bold> no es ni siquiera un objetivo en ellos<Bold>.</Bold> Su ego<Bold>,</Bold>
            sus
            concupiscencias en general ocupan el principal lugar de sus intereses<Bold>.</Bold> Esos errores
            doctrinales se
            apoderan de ellos por las siguientes razones<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>a) La ignorancia casi total de la Biblia.</Bold> Todos llevan la Biblia a la
            iglesia<Bold>,</Bold> y la
            abren para comprobar si lo que en ella lee el pastor es cierto<Bold>;</Bold> como si el pastor fuera a
            engañarlos<Bold>.</Bold> Sin embargo<Bold>,</Bold> jamás apagan el televisor para leer la Biblia
            solos<Bold>,</Bold> en sus casas<Bold>,</Bold> sin estar siendo llevados por el narigón en sus
            estudios de
            las doctrinas de Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b) La falta de una visión integral y coherente de la Escritura,</Bold> debido a que leen un pasaje
            aquí<Bold>,</Bold> un versículo allá<Bold>,</Bold> y jamás leen por orden toda la Biblia desde el
            Génesis
            hasta el Apocalipsis<Bold>.</Bold> Esos hermanos casi siempre saltan "lo que no les gusta" y lo que
            ellos
            consideran que "no tiene importancia"<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c) El hecho de que realizan estudios usando amañados "cursos"</Bold> sobre la
            Biblia<Bold>,</Bold> o
            sobre doctrinas sectarias<Bold>,</Bold> preparados por los intereses creados de los
            sectores<Bold>,</Bold>
            tanto el religioso como el político<Bold>.</Bold> Muchos de estos "cursos" deforman la verdad bíblica a
            su
            conveniencia<Bold>,</Bold> confiados en la realidad sicológica probada<Bold>,</Bold> de que <Bold>al
                humano le es mucho más difícil des-aprender lo aprendido para rectificar,</Bold> que aprender algo por
            primera
            vez<Bold>.</Bold></Paragraph>
        <Paragraph> Ellos saben que una vez que los adoctrinen en un error<Bold>,</Bold> son muy pocos los que se les
            escapan<Bold>,</Bold> si es que alguno se escapa<Bold>.</Bold> Un caso reciente de "cursos"
            preparados por
            los intereses creados del sector político<Bold>,</Bold> deformando la Escritura para obtener la simpatía
            de esa
            cristiandad a la que tanto desprecian<Bold>,</Bold> es cuando los que "interpretaban" las
            profecías<Bold>,</Bold> decían que Gog y Magog era la Unión Soviética<Bold>.</Bold> La URSS
            cayó<Bold>,</Bold> y ahora cambian la interpretación de la profecía para que refleje a sus otros
            enemigos
            políticos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d) La casi total ausencia de espíritu crítico respecto a las enseñanzas que recibe.</Bold> El
            seminarista o
            el miembro de iglesia<Bold>,</Bold> confiado en sus maestros<Bold>,</Bold> <Bold>cree las
                doctrinas que le
                enseñan antes de analizarlas;</Bold> y luego de creerlas<Bold>,</Bold> cuando alguien le
            contradice<Bold>,</Bold> trata de encontrar pasajes que la sustenten<Bold>;</Bold> en vez de hacer
            el
            proceso a la inversa<Bold>:</Bold> analizar primero la doctrina y después creerla y
            defendera<Bold>.</Bold>
            A veces<Bold>,</Bold> la ausencia de espíritu crítico es debida al temor que les causa ser apartados del
            seminario o de la iglesia<Bold>,</Bold> si contradicen lo que allí se enseña<Bold>.</Bold> Incluso
            el temor
            a ser destituido como pastor y perder su sueldo y su jubilación<Bold>.</Bold> Otras veces la falta de
            espíritu
            crítico se debe a una falsa noción de fidelidad a la secta<Bold>,</Bold> o al espíritu de
            clan<Bold>,</Bold>
            o de grupo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) El hecho de que las palabras no tienen el significado que ellos le atribuyen.</Bold> Lo cual es
            un grave
            problema semántico<Bold>,</Bold> porque es como si el hermano y la Biblia<Bold>,</Bold> o el hermano
            y su
            interlocutor hablaran dos idiomas diferentes<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>f) El usar la misma palabra para expresar dos o más cosas, o conceptos diferentes,</Bold> sin darse
            cuenta
            ellos mismos de cuándo expresan uno y cuándo el otro<Bold>.</Bold> Si en la ecuación "A + 7 = 11"
            <Bold>,</Bold> le hemos atribuido a la letra "A" un valor de cuatro<Bold>,</Bold> no
            debemos<Bold>,</Bold> sin hacer la aclaración pertinente<Bold>,</Bold> decir que "A + 5 =
            20"<Bold>,</Bold> porque en este caso le estamos atribuyendo a la letra "A" un valor de 15 y no uno de 7<Bold>,</Bold>
            que fue el que primero le dimos<Bold>.</Bold> Hacer eso crea confusión en nuestro
            interlocutor<Bold>,</Bold>
            pero eso mismo es lo que hacen muchos en sus debates<Bold>,</Bold> sobre todo en
            religión<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> g) El usar, para razonar sobre la verdad de nuestras doctrinas, premisas o conceptos originados en
            la
            tradición,</Bold> como si estos conceptos fueran premisas bíblicas<Bold>.</Bold> Si por tradición nos
            enseñan
            que el número 3 vale cinco unidades<Bold>,</Bold> cada vez que veamos 3 x 4 diremos ser igual a 20 a
            pesar de
            que sólo es igual a 12<Bold>.</Bold> Y todo esto sucede por falta de espíritu crítico<Bold>,</Bold>
            o por
            temor a ser echado del pastorado<Bold>,</Bold> o del seminario o "excomulgado" de la
            secta<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>h) Otro problema que confronta el cristiano, al igual que cualquier otro ser humano, es la mezcla de
            sentimientos en el proceso del razonamiento.</Bold> Sentimientos tales como<Bold>:</Bold>
            <Bold>1)</Bold>
            temor a ofender a Dios si duda de lo que le enseñaron<Bold>,</Bold> y lo somete al
            raciocinio<Bold>;</Bold>
            <Bold>2)</Bold> temor a encontrar una verdad que a él se le antoja pudiera ser muy difícil de
            cargar<Bold>;</Bold> <Bold>3)</Bold> falta de fe en el amparo de Dios<Bold>,</Bold> al creer que
            si
            razona<Bold>,</Bold> uno más inteligente que él puede engañarlo y hacerlo errar de lo que a
            priori<Bold>,</Bold> o por intuición<Bold>,</Bold> él cree ser la verdad absoluta<Bold>;</Bold>
            <Bold>4)</Bold>
            temor a cambiar de doctrina y entonces tener que enfrentarse a los hermanos que antes pensaban como
            él<Bold>;</Bold> <Bold>5)</Bold> orgullo<Bold>,</Bold> resistencia a admitir que estaba errado y
            que no
            había utilizado adecuadamente sus facultades mentales<Bold>;</Bold> <Bold>6)</Bold> temor a lo que
            para él
            es nuevo<Bold>,</Bold> sin saber por qué teme<Bold>;</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>¿Y cuál sería la solución?</Bold> Leer la Biblia todos los días<Bold>,</Bold> por
            orden<Bold>;</Bold> no temer a que nos contradigan<Bold>;</Bold> darnos cuenta de que si "nos
            confunden"<Bold>,</Bold> eso es un estado transitorio<Bold>,</Bold> momentáneo<Bold>,</Bold>
            pues el
            Espíritu Santo no nos va dejar desamparados si nosotros queremos encontrar la verdad<Bold>;</Bold> y
            sobre
            todo<Bold>,</Bold> recordar lo que Cristo prometió en Lc 21<Bold>:</Bold>15<Bold>,</Bold> que
            nos daría
            boca y sabiduría<Bold>,</Bold> a la cual no podrían replicar los que se oponen a sus
            enseñanzas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    