---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="¿Qué entendemos en la Biblia por la palabra 'ley'?">
    <section>
        <Paragraph><Bold>¿Qué entendemos en la Biblia por la palabra "ley"?</Bold></Paragraph>
        <Paragraph> En las conversaciones relativas a la Biblia<Bold>,</Bold> la palabra
            <Bold>"</Bold>ley<Bold>"</Bold> se
            refiere a las leyes de Dios<Bold>.</Bold> Recordemos que las leyes no las originó
            Moisés<Bold>,</Bold> ni
            Noé<Bold>,</Bold> ni ninguno de los profetas<Bold>,</Bold> sino Dios personalmente<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>En la Biblia hay dos grandes grupos de leyes. Están las leyes rituales, y las leyes de
            comportamiento.</Bold> Las leyes rituales<Bold>,</Bold> como su nombre lo indica<Bold>,</Bold> se
            referían
            a los ritos<Bold>,</Bold> sacrificios y ceremonias que pre-figuraban varias cosas<Bold>:</Bold> la
            misión de
            Jesucristo<Bold>,</Bold> cuando vino a morir por nosotros<Bold>,</Bold> la venida del Espíritu Santo<Bold>,</Bold>
            la Segunda Venida<Bold>,</Bold> etc<Bold>..</Bold> Las principales leyes rituales eran las que
            tenían que
            ver con el Templo<Bold>,</Bold> y con los sacrificios que en él se hacían<Bold>.</Bold> También eran
            leyes
            rituales la circuncisión<Bold>,</Bold> los lavamientos del cuerpo para no contaminar el santuario
            terrenal<Bold>,</Bold> que era símil del Santuario del Cielo<Bold>,</Bold> la presentación de los
            primogénitos humanos<Bold>,</Bold> el sacrificio de los primogénitos de animales<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>Las leyes de comportamiento</Bold> son las que Dios estableció para que el humano supiera cómo
            tenía que
            comportarse con Dios y con su prójimo<Bold>.</Bold> Ejemplos de ellas son los Diez
            Mandamientos<Bold>,</Bold> las leyes que nos enseñan cómo comportarnos con los
            extranjeros<Bold>,</Bold> con
            nuestros enemigos<Bold>,</Bold> con las viudas y los huérfanos<Bold>,</Bold> con los
            pobres<Bold>,</Bold> con aquellas cosas que se le perdieran a alguien y nosotros nos las
            encontráramos<Bold>,</Bold> los daños que hacemos sin querer<Bold>,</Bold> o los que hacemos por
            irresponsables<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>¿Qué significa "estar bajo la ley"?</Bold></Paragraph>
        <Paragraph> La frase <Bold>"</Bold>estar bajo la ley<Bold>"</Bold> es una de esas que sirven de
            comodín<Bold>.</Bold> La mayoría de las veces nadie las define<Bold>,</Bold> sólo las
            pronuncian<Bold>.</Bold> Por lo regular se le aplica a aquellas personas que consideran que los pecados
            que en
            el Antiguo Testamento se describen como prohibidos<Bold>,</Bold> están también prohibidos para los
            cristianos<Bold>.</Bold></Paragraph>
        <Paragraph> Sin embargo<Bold>,</Bold> en la Biblia<Bold>,</Bold> la frase <Bold>"</Bold>no estar bajo la ley<Bold>"</Bold>
            significa generalmente que<Bold>,</Bold> <Bold>para ser salvos, no tenemos que cumplir con la
                circuncisión,
                los sacrificios de corderos, y demás ritos.</Bold></Paragraph>
        <Paragraph><Bold>Pero hay cristianos que, erradamente,</Bold> consideran que con esa frase lo que se quiere decir es
            que el
            cristiano no tiene que cumplir los mandamientos de Dios<Bold>.</Bold> <Bold>¿</Bold>Es esto
            cierto<Bold>?</Bold> <Bold>¿</Bold>Quiere eso decir que no estamos todos bajo las leyes de
            comportamiento
            que Dios estableció<Bold>?</Bold> <Bold>¿Quiere eso decir acaso que ya podemos calumniar, adorar
                imágenes,
                adulterar, robar, matar, consultar a los muertos, etc.?</Bold> <Bold>¡</Bold>Claro que
            no<Bold>!</Bold> Entonces<Bold>,</Bold> <Bold>¿</Bold>por qué dicen que no estamos bajo la
            ley<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Si al decir que no estamos bajo la ley, se refieren a que no estamos bajo la ley ritual, eso es
            correcto.</Bold> Es decir<Bold>,</Bold> que si lo que significa esa frase es que para salvarnos no
            tenemos que
            circuncidarnos<Bold>,</Bold> ni sacrificar animales<Bold>,</Bold> ni nada de eso<Bold>,</Bold>
            entonces
            está correctamente usada la frase<Bold>;</Bold> pero si la usan significando que podemos cometer todo
            tipo de
            pecado sin que eso se nos tenga en cuenta<Bold>,</Bold> entonces es una espantosa
            falsedad<Bold>,</Bold> una
            horrible y satánica herejía<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Qué significa "no estar bajo la ley"?</Bold></Paragraph>
        <Paragraph> Es muy corriente en las conversaciones entre hermanos que hablan sobre las leyes de Dios<Bold>,</Bold>
            oír a
            algunos decir <Bold>"</Bold>no estamos bajo la ley<Bold>".</Bold> Eso depende de a qué leyes se
            refiera<Bold>,</Bold> como antes aclaré<Bold>.</Bold> Si habla de las rituales<Bold>,</Bold>
            está en lo
            correcto<Bold>.</Bold> Si se refiere a las leyes de Dios para el comportamiento humano<Bold>,</Bold>
            se
            halla en un espantoso error<Bold>. El haberse convertido a Cristo no es una patente de corso para hacer
                cada uno
                lo que le dé la gana, y seguir pensando que está salvado.</Bold> (Patente de corso era una licencia
            que daban
            los gobiernos para practicar el piratería contra los barcos enemigos<Bold>.</Bold>)</Paragraph>
        <Paragraph> Conozco personalmente el triste caso de un hombre que dice que debido a que no estamos bajo la
            ley<Bold>,</Bold>
            el cristiano puede acostarse con la mujer ajena<Bold>,</Bold> puede ser homosexual<Bold>,</Bold>
            puede
            estafar<Bold>,</Bold> etc<Bold>.,</Bold> y seguir siendo salvo<Bold>.</Bold></Paragraph>
        <Paragraph> Basándose en I Jn 3<Bold>:</Bold>9 él considera que una vez que una persona se convierte a
            Cristo<Bold>,</Bold> <Bold>ya no puede pecar.</Bold> Pero no porque la persona lo evite con la ayuda
            divina<Bold>,</Bold> sino porque según él<Bold>,</Bold> cuando el inconverso se acuesta con la mujer
            del
            vecino<Bold>,</Bold> comete un adulterio<Bold>,</Bold> y por ese pecado va a parar al
            Infierno<Bold>.</Bold> No obstante<Bold>,</Bold> según él<Bold>,</Bold> cuando el que se acuesta
            con la
            mujer del vecino es un cristiano<Bold>,</Bold> eso no es adulterio<Bold>,</Bold> porque él no está
            bajo la
            ley como sí lo está el inconverso<Bold>.</Bold> <Bold>¡¡</Bold>Espantoso<Bold>!!</Bold>
            <Bold>¡¡</Bold>Asqueroso<Bold>!!</Bold> <Bold>¡¡</Bold>Satánico<Bold>!!</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    