---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Ojeada a los que creen en la predestinación">
    <section>
        <Paragraph><Bold>Echemos una ojeada a los que creen que ellos creen en la predestinación absoluta</Bold></Paragraph>
        <Paragraph><Bold>Predestinación de circunstancias,</Bold> es aquella en la que Dios predestina a una
            persona<Bold>,</Bold> conglomerado o nación a vivir bajo ciertas circunstancias que convienen a sus
            planes<Bold>,</Bold> pero no la predestina a ser salva o perdida<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Predestinación absoluta</Bold> es aquella que asegura que Dios ordena a ciertas personas para ser
            salvas y
            a otras para ser perdidas<Bold>;</Bold> y que todo<Bold>,</Bold> desde el día del nacimiento o de la
            muerte<Bold>,</Bold> la salud o la enfermedad<Bold>,</Bold> hasta la caída de una hoja de un
            árbol<Bold>,</Bold> es algo predestinado por Dios y que Él lo provoca<Bold>,</Bold> y que nadie
            puede
            cambiar tales predestinaciones<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Hay quienes aseguran creer en la predestinación absoluta,</Bold> y muchos de ellos en realidad se
            imaginan
            que ellos creen<Bold>,</Bold> pero en realidad no creen<Bold>.</Bold> <Bold>¿</Bold>En qué me
            baso para
            pensar así<Bold>?</Bold> Si ustedes observan las acciones<Bold>,</Bold> (no las palabras) de los que
            se
            imaginan que creen en la predestinación absoluta<Bold>,</Bold> verán que en su fuero interno ellos no
            creen en
            lo que se imaginan que creen<Bold>.</Bold> Más abajo pongo algunos ejemplos para demostrar lo que
            digo<Bold>.</Bold> Hasta aquí me refiero a los que son honestos con Dios en sus
            creencias<Bold>.</Bold></Paragraph>
        <Paragraph> Hay sin embargo otro grupo<Bold>,</Bold> <Bold>que creen que fingiendo tener una fe "inquebrantable"
            en que la
            salvación es algo que está predestinado, van a obligar a Dios a que los salve, a pesar de no arrepentirse de
            sus
            pecados.</Bold> Digo <Bold>"fingiendo</Bold> tener fe en la predestinación absoluta<Bold>",</Bold>
            porque
            los que dicen creer tal cosa en realidad no creen en tal tipo de predestinación<Bold>.</Bold></Paragraph>
        <Paragraph> Lo prueba el hecho de que sacan seguros<Bold>,</Bold> toman medicinas<Bold>,</Bold> se someten a
            operaciones
            quirúrgicas<Bold>,</Bold> van al dentista<Bold>,</Bold> van al oculista<Bold>,</Bold> cuidan su
            cartera
            para que no les roben el dinero<Bold>,</Bold> y no van a predicar el evangelio a donde está prohibido
            bajo pena
            de muerte<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si en realidad creyeran en la predestinación absoluta,</Bold> no tendrían que sacar
            seguros<Bold>,</Bold> porque si está predestinado que ellos lo pierdan todo<Bold>,</Bold> aunque
            saquen
            seguro lo van a perder todo<Bold>.</Bold> Y si estuviera predestinado que ellos no pierdan
            nada<Bold>,</Bold> pues aunque no sacaran seguro<Bold>,</Bold> no iban a perder
            nada<Bold>.</Bold>
            <Bold>¿</Bold>Para qué malgastar dinero en seguros si ese dinero lo podían donar al
            evangelio<Bold>?</Bold>
        </Paragraph>
        <Paragraph><Bold>Si en realidad creyeran en la predestinación absoluta</Bold> no tendrían que tomar medicinas ni se
            someterían a operaciones quirúrgicas<Bold>,</Bold> porque si estaba predestinado que fueran
            saludables<Bold>,</Bold> iban a ser saludables aunque no tomaran medicinas ni se sometieran a
            operaciones
            quirúrgicas<Bold>,</Bold> por tanto<Bold>,</Bold> no hacía falta nada de eso<Bold>.</Bold> Si
            por el
            contrario estaba predestinado que no fueran saludables<Bold>,</Bold> aunque tomaran medicinas y se
            sometieran a
            la cirugía<Bold>,</Bold> no iban a recuperar la salud<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si en realidad creyeran en la predestinación absoluta</Bold> no irían al dentista<Bold>,</Bold>
            porque
            si estaba predestinado que conservaran su dentadura<Bold>,</Bold> la iban a conservar aunque no gastaran
            dinero
            en el dentista<Bold>.</Bold> Lo mismo puede decirse con el oculista<Bold>,</Bold> para qué gastar
            dinero en
            ellos si estaba predestinado que tuvieran buena vista<Bold>.</Bold> Y si lo que estaba predestinado era
            que
            tuvieran mala visión<Bold>,</Bold> pues la iban a tener mala aunque fueran a ver al mejor oculista del
            mundo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si creyeran en realidad en la predestinación absoluta</Bold> no cuidarían su cartera y su
            dinero<Bold>,</Bold> pues estarían seguros de que si estaba predestinado que no les robaran el
            dinero<Bold>,</Bold> pues nadie se lo iba a poder robar<Bold>;</Bold> mientras que si estaba
            predestinado
            que les robaran el dinero<Bold>,</Bold> pues se lo iban a robar de todas maneras por mucho que lo
            cuidaran<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si creyeran en realidad en la predestinación absoluta</Bold> irían a predicar el evangelio a donde
            está
            prohibido<Bold>,</Bold> sabiendo que el día de su muerte está predestinado y nadie puede matarlo
            antes<Bold>,</Bold> ni encarcelarlos<Bold>,</Bold> si no está predestinado su
            encarcelamiento<Bold>.</Bold> Sin embargo<Bold>,</Bold> si estaba predestinado su
            encarcelamiento<Bold>,</Bold> iba a ir a la cárcel aunque no fueran a predicar a lugares
            prohibidos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Lo mismo ocurre cuando los observamos cuidando a sus niños,</Bold> lo cual es muy sabio y
            prudente<Bold>,</Bold> pero que está en contra de lo que ellos dicen creer<Bold>.</Bold> Si está
            predestinado que le suceda algo malo a su niño<Bold>,</Bold> pues le va a suceder por mucho que lo
            cuiden<Bold>;</Bold> y si está predestinado que no le suceda nada al niño<Bold>,</Bold> pues no le
            va a
            suceder aunque no los cuiden<Bold>.</Bold> <Bold>¡</Bold>Vivamos una vida
            despreocupada<Bold>!</Bold> Al
            fin y al cabo<Bold>,</Bold> <Bold>"</Bold>lo que va a pasar<Bold>,</Bold> está
            escrito<Bold>".</Bold> Si está predestinado que secuestren al niño<Bold>,</Bold> lo van a secuestrar
            aunque
            lo cuidemos<Bold>;</Bold> pero si está predestinado que no secuestren al niño<Bold>,</Bold> pues no
            va a ser
            secuestrado aunque no lo cuidemos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Una de las cosas que según esta errada doctrina está predestinado,</Bold> es el día de la muerte y
            el del
            nacimiento<Bold>.</Bold> No obstante<Bold>,</Bold> ellos usan métodos
            anticonceptivos<Bold>.</Bold> Si
            realmente creyeran en la predestinación absoluta<Bold>,</Bold> no lo harían<Bold>,</Bold> porque si
            estaba
            predestinado que naciera un bebé<Bold>,</Bold> éste iba a nacer aunque usaran el mejor de los
            métodos<Bold>;</Bold> y si estaba predestinado que no naciera un bebé<Bold>,</Bold> éste no iba a
            nacer
            aunque no usaran ningún método anticonceptivo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Para qué llamar a la policía o los bomberos?</Bold> Si está predestinado que toda la casa o parte
            de ella
            se queme<Bold>,</Bold> se va a quemar aunque los bomberos vengan a tiempo<Bold>.</Bold> Por otro
            lado<Bold>,</Bold> si está predestinado que no se queme ni toda la casa ni parte de
            ella<Bold>,</Bold> pues
            no se va a quemar aunque los bomberos no vengan<Bold>,</Bold> ni nadie le eche agua al
            fuego<Bold>.</Bold>
            Demuestre su heroica e inconmovible fe<Bold>,</Bold> no llame a los bomberos<Bold>,</Bold> siéntese
            tranquilamente a ver cómo lo que está predestinado es lo que va a ocurrir<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Lo mismo sucede con la protección de la policía.</Bold> Si está predestinado que los que están
            rompiendo
            una ventana para entrar en la casa entren<Bold>,</Bold> roben<Bold>,</Bold> dañen<Bold>,</Bold>
            hieran<Bold>,</Bold> maten<Bold>,</Bold> violen<Bold>,</Bold> etc<Bold>.,</Bold> pues va a
            ocurrir
            tal cosa<Bold>,</Bold> aunque llamen a la policía<Bold>.</Bold> Por el contrario<Bold>,</Bold>
            si no
            está predestinado que entren<Bold>,</Bold> roben<Bold>,</Bold> dañen<Bold>,</Bold>
            hieran<Bold>,</Bold> maten o violen<Bold>,</Bold> pues para qué molestar a la
            policía<Bold>,</Bold>
            mejor es virarse para el otro lado y seguir durmiendo tranquilamente<Bold>,</Bold> en la seguridad de
            que
            <Bold>"</Bold>lo que va a pasar está escrito<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>¿Conocen ustedes algún creyente en la predestinación absoluta que viva dentro de los
            parámetros</Bold> que
            se supone que vivan los que crean tal cosa<Bold>?</Bold> <Bold>¡Nadie!</Bold> <Bold>¿</Bold>Por
            qué<Bold>?</Bold> Porque en realidad <Bold>nadie</Bold> cree semejante cosa<Bold>.</Bold> Con la
            boca sí
            lo creen<Bold>,</Bold> pero con el corazón no lo creen<Bold>.</Bold> Muchos de ellos honestamente se
            figuran
            que creen tal cosa<Bold>,</Bold> pero la realidad nos demuestra que no lo creen<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Como vemos, muchos de los que se figuran que creen en la predestinación absoluta, en realidad se
            están
            engañando a sí mismos, porque en realidad no creen en ella.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>
        <Paragraph></Paragraph>

    </section>
</Layout>
    