---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Ojo por ojo era para los jueces">
    <section>
        <Paragraph><Bold>Eso de "ojo por ojo" era una guía para los jueces, pero los fariseos lo tergiversaron</Bold></Paragraph>
        <Paragraph> Muchos de los que leen el Nuevo Testamento<Bold>,</Bold> cuando llegan a Mt 5<Bold>:</Bold>38
            entienden<Bold>,</Bold> de lo allí escrito<Bold>,</Bold> que en alguna ocasión Dios mandó en el
            Antiguo
            Testamento a odiar a nuestros semejantes y a cobrarles <Bold>"</Bold>ojo por ojo<Bold>"</Bold> todo
            lo que
            nos hagan<Bold>.</Bold> Pero que <Bold>"</Bold>ahora<Bold>"</Bold> Cristo desautorizaba lo dicho
            por
            Dios<Bold>,</Bold> y le enmendaba la plana al Padre<Bold>.</Bold>
            <Bold>¡</Bold>Absurdo<Bold>!</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Oísteis que <Bold>fue dicho a los antiguos:</Bold> ojo por ojo y diente por
            diente</i><Bold>."</Bold> (Mt 5<Bold>:</Bold>38)</Paragraph>
        <Paragraph><Bold>Lo primero en lo que deben fijarse es en que Cristo no dice que "Dios dijo"; sino que "fue dicho a
            los
            antiguos",</Bold> sin decir quién fue el que lo dijo<Bold>.</Bold> Posiblemente el mandamiento que
            para guiar
            a los jueces Dios estableció<Bold>,</Bold> fue torcido por el pueblo para justificar sus odios
            personales<Bold>,</Bold> convirtiéndolo en un refrán popular<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En ningún lugar del Antiguo Testamento Dios manda tal cosa.</Bold> Lo que más se le parece es Lev
            24<Bold>:</Bold>15-20<Bold>,</Bold> Ex 21<Bold>:</Bold>24 y Dt
            19<Bold>:</Bold>21<Bold>.</Bold>
            En estos tres pasajes se les ordena <Bold>a los jueces</Bold> que a la hora de hacer
            justicia<Bold>,</Bold>
            (no para sus contiendas personales)<Bold>,</Bold> utilicen la norma de ojo por ojo<Bold>,</Bold> si
            no
            tienen ninguna ley divina al respecto<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si leemos el primer pasaje</Bold> comenzando en el versículo 15 veremos que se está instruyendo
            sobre las
            condenas que deben imponerse por los diversos delitos<Bold>:</Bold> blasfemia<Bold>,</Bold>
            homicidio<Bold>,</Bold> daños y <Bold>lesiones.</Bold> Y al llegar a las lesiones es
            cuando<Bold>,</Bold> como generalizando<Bold>,</Bold> les dice <Bold>"...</Bold>rotura por
            rotura<Bold>,</Bold> ojo por ojo<Bold>....",</Bold> y así continúa hasta terminar el
            20<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>Y a los hijos de Israel hablarás<Bold>,</Bold> diciendo<Bold>:</Bold>
            Cualquiera que
            maldijere a su Dios<Bold>,</Bold> llevará su iniquidad<Bold>.</Bold></i> 16 <i>Y el que blasfemare
            el nombre
            de Jehová<Bold>,</Bold> ha de ser muerto<Bold>;</Bold> toda la congregación lo
            apedreará<Bold>;</Bold>
            así el extranjero como el natural<Bold>,</Bold> si blasfemare el Nombre<Bold>,</Bold> que
            muera<Bold>.</Bold></i> 17 <i>Asimismo el hombre que hiere de muerte a cualquiera
            persona<Bold>,</Bold> que
            sufra la muerte<Bold>.</Bold></i> 18 <i>Y el que hiere a algún animal ha de restituirlo animal por
            animal<Bold>.</Bold></i> 19 <Bold>Y el que causare lesión en su prójimo, según hizo, así le sea
            hecho.</Bold> 20 <Bold>Rotura por rotura, ojo por ojo, diente por diente; según la lesión que habrá
            hecho a
            otro, tal se hará a él</Bold><Bold>."</Bold> (Lev 24<Bold>:</Bold>15-20)</Paragraph>
        <Paragraph> Como vemos<Bold>,</Bold> aquí de lo que se habla es de una norma a seguir para los
            jueces<Bold>;</Bold> pero
            parece que los judíos tergiversaron aquello y comenzaron a justificarse en sus odios<Bold>,</Bold>
            alegando ese
            pasaje<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El segundo pasaje</Bold> que pudo dar origen a ese refrán popular también se refiere a lo que deben
            hacer
            los jueces<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>Si algunos riñeren<Bold>,</Bold> e hiriesen a mujer preñada<Bold>,</Bold> y
            ésta
            abortare<Bold>,</Bold> pero sin haber muerte<Bold>,</Bold> será penado conforme a lo que le
            impusiere el
            marido de la mujer y juzgaren los árbitros<Bold>.</Bold></i> 23 <Bold>Mas si hubiere muerte, entonces
            pagarás
            vida por vida,</Bold> 24 <Bold>ojo por ojo</Bold><Bold>, diente por diente, mano por mano, pie por
            pie, 25
            quemadura por quemadura, herida por herida, golpe por golpe</Bold><Bold>."</Bold> (Ex
            21<Bold>:</Bold>22-25)
        </Paragraph>
        <Paragraph> En el pasaje anterior vimos de nuevo que eso de <Bold>"</Bold>ojo por ojo<Bold>"</Bold> no se les
            dijo a los
            creyentes para que lo usaran en sus personales odios y pendencias<Bold>,</Bold> sino para que los jueces
            tuvieran una guía al actuar<Bold>.</Bold> Otro tanto veremos a continuación en Dt 19<Bold>:</Bold>21<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>16 <Bold>Cuando se levantare testigo falso</Bold> <i>contra alguno<Bold>,</Bold>
            para
            testificar contra él rebelión<Bold>,</Bold></i> 17 <i>entonces los dos hombres litigantes se presentarán
            delante
            de Jehová<Bold>,</Bold> delante de los sacerdotes y jueces que fueren en aquellos días<Bold>.</Bold></i>
            18
            <Bold>Y los jueces inquirirán bien,</Bold> <i>y si pareciere ser aquél testigo falso<Bold>,</Bold>
                que
                testificó falsamente contra su hermano<Bold>,</Bold></i> 19 <Bold>haréis a él como él pensó hacer
                a su
                hermano;</Bold> <i>y quitarás el mal de en medio de ti<Bold>.</Bold></i> 20 <i>Y los que quedaren
                oirán<Bold>,</Bold> y temerán<Bold>,</Bold> y no volverán más a hacer una mala cosa como
                ésta<Bold>,</Bold> en medio de ti<Bold>.</Bold></i> 21 <Bold>Y no perdonará tu ojo, vida por
                vida, ojo
                por ojo, diente por diente, mano por mano, pie por pie</Bold><Bold>."</Bold> (Dt
            19<Bold>:</Bold>16-21)
        </Paragraph>
        <Paragraph> Como hemos visto en todos estos pasajes<Bold>,</Bold> cada vez que se menciona lo de <Bold>"</Bold>ojo
            por
            ojo<Bold>",</Bold> se refiere a cómo tienen que castigar los jueces a los delincuentes<Bold>,</Bold>
            no era
            una norma para atizar el odio personal<Bold>.</Bold> Cuando se le hacía daño a una
            persona<Bold>,</Bold>
            ésta tenía derecho a no acusar<Bold>,</Bold> a perdonar si así lo deseaba<Bold>.</Bold> Pero cuando
            esa
            misma persona era juez y alguien le traía su caso<Bold>,</Bold> como juez él tenía que actuar de acuerdo
            a la
            norma establecida en este pasaje<Bold>:</Bold> <Bold>ojo por ojo.</Bold></Paragraph>
        <Paragraph> No vamos a pensar que Cristo abolió los jueces<Bold>,</Bold> los juzgados y la policía<Bold>,</Bold>
            cuando
            dijo que eso de ojo por ojo<Bold>,</Bold> que decían los antiguos<Bold>,</Bold> no debía ser norma
            de
            conducta <Bold>personal;</Bold> nada más lejos de la realidad<Bold>.</Bold></Paragraph>
        <Paragraph> Si solamente leyéramos el Nuevo Testamento<Bold>,</Bold> nos creeríamos que eso que <Bold>"</Bold>fue
            dicho
            a los antiguos<Bold>",</Bold> era en realidad un mandamiento de Dios para el comportamiento de los
            creyentes<Bold>.</Bold> Sin embargo<Bold>,</Bold> si leemos también el Antiguo
            Testamento<Bold>,</Bold>
            aprendemos que eso era una norma para los jueces hacer justicia<Bold>.</Bold> <Bold>Hay que leer toda
                la
                Biblia por igual,</Bold> si no lo hacemos no sabremos interpretar bien las
            Escrituras<Bold>.</Bold>
            <Bold>Por eso hay tantos disparates presentados como doctrinas cristianas.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    