---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Pablo dice que no basta con oír la ley, que hay que cumplirla">
    <Title>Pablo dice que no basta con oír la ley, que hay que cumplirla</Title>

    <Tag>#125</Tag>
    <Content>
        
        <Paragraph><Bold>¿</Bold>Por qué algunos cristianos le tienen tanto <Bold>"</Bold>asco<Bold>"</Bold> a la
            Ley de
            Dios<Bold>?</Bold> Esos hermanos proceden como si creyeran que la Ley de Dios la inventó
            Satanás<Bold>.</Bold> En este versículo el mismo San Pablo<Bold>,</Bold> que según algunos es el
            campeón de
            los <Bold>"</Bold>odiadores<Bold>"</Bold> de la ley<Bold>,</Bold> asegura<Bold>,</Bold> lo
            contrario
            de lo que ellos suponen<Bold>.</Bold> Dice él que no son los simples oidores de la ley<Bold>,</Bold>
            <Bold>sino los hacedores de ella, los que actúan correctamente.</Bold> La ley que Pablo consideraba
            obsoleta es
            la ley ritual<Bold>,</Bold> no las leyes del comportamiento humano<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque <Bold>no los oidores de la ley son justos</Bold> para con
            Dios<Bold>,</Bold>
            <Bold>mas los hacedores de la ley serán justificados</Bold></i><Bold>."</Bold> (Ro
            2<Bold>:</Bold>13)
        </Paragraph>
        <Paragraph> Pablo está diciendo aquí que hay que cumplir con la Ley de Dios para el comportamiento
            humano<Bold>,</Bold> que
            hay que guiar nuestro comportamiento por lo que nos indica la Ley de Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Quiere decir eso que la salvación viene por el finalizar una vida después de haber estado siempre
            cumpliendo
            la ley sin fallar?</Bold> No<Bold>,</Bold> nadie puede lograr eso<Bold>;</Bold> por eso vino el
            Señor<Bold>.</Bold> Solamente Jesús lo logró<Bold>.</Bold> Y nosotros nos salvamos gracias a que él
            lo hizo
            y luego se sacrificó por los que no lo pudimos hacer<Bold>.</Bold> <Bold>Pero tampoco nadie se salva
                diciendo
                que el cree en Jesús, que él está bajo la gracia, y lanzándose a descumplir la ley consciente,
                voluntaria y
                premeditadamente.</Bold></Paragraph>
        <Paragraph> El cristiano que <Bold>sinceramente</Bold> cree que algo estatuido por Dios no hay que
            cumplirlo<Bold>,</Bold> va a sufrir las consecuencias locales y temporales de no obedecer a
            Dios<Bold>,</Bold> pero no deja de ser salvo<Bold>;</Bold> porque su pecado es
            inconsciente<Bold>.</Bold> Si él supiera que se debe cumplir<Bold>,</Bold> lo
            haría<Bold>,</Bold> y se
            arrepentiría de no haberlo cumplido antes<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El cristiano que por culpa de circunstancias, presiones, tentaciones y debilidades, deja de
            cumplir</Bold>
            lo estatuido por Dios<Bold>,</Bold> a pesar de que estaba consciente de que debía
            cumplirlo<Bold>,</Bold>
            sufre las consecuencias locales y temporales de su pecado<Bold>. Pero si se arrepiente
                sinceramente</Bold> de su
            debilidad ante las circunstancias y presiones<Bold>,</Bold> o lucha contra la tentación que lo llevó a
            pecar<Bold>,</Bold> sin acomodarse a ella<Bold>,</Bold> arrepentido de haberse dejado
            vencer<Bold>,</Bold> tampoco deja de ser salvo<Bold>;</Bold> porque no lo hizo
            voluntariamente<Bold>,</Bold> sino bajo presión humana o demoníaca<Bold>.</Bold> Buen ejemplo es la
            negación
            de Pedro<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El cristiano que sorprendido por el pecado cae en él,</Bold> no deja de sufrir las consecuencias
            locales y
            temporales de su pecado<Bold>,</Bold> pero <Bold>si se arrepiente sinceramente</Bold> no deja de
            salvarse<Bold>,</Bold> porque no premeditó su pecado<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Todo esto es cierto;</Bold> pero de ahí a asegurar que lo estatuido por Dios no hay que
            cumplirlo<Bold>,</Bold> porque estamos bajo la gracia y que podemos descumplir lo que nos
            plazca<Bold>,</Bold> <Bold>hay un abismo; y ese abismo tiene un nombre: procuremos no caer en
                él.</Bold></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver</Bold> <Bold>al índice</Bold></a></Paragraph>

    </Content>
</Layout>
    