---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="No todo lo que dice un personaje bíblico es revelación, hay que discernir">
    <Title>No todo lo que dice un personaje bíblico es revelación, hay que discernir</Title>

    <Tag>#126</Tag>
    <Content>
        
        <Paragraph><Bold>Nathán el profeta le dijo a David algo que no era revelación, sino su opinión personal</Bold></Paragraph>
        <Paragraph> Es importante percatarnos de que no todo lo que un personaje bíblico dice<Bold>,</Bold> debe tomarse
            como
            revelación o como enseñanza divina<Bold>.</Bold> Hay que aplicar el sentido común<Bold>,</Bold> y
            sobre todo
            ver si lo que ese personaje bíblico dice en ese momento<Bold>,</Bold> concuerda con lo dicho en el resto
            de la
            Biblia<Bold>.</Bold></Paragraph>
        <Paragraph> No todo lo que digan los profetas actuales (si es que los hay) tiene que ser palabra de
            Dios<Bold>.</Bold> Ni
            siquiera todo lo que decían o aconsejaban los verdaderos profetas de la antigüedad era mensaje
            divino<Bold>,</Bold> como se ve en el caso Nathán<Bold>.</Bold></Paragraph>
        <Paragraph> En el versículo 3 vemos que Nathán aconseja a David seguir el impulso de su corazón y dedicarse a construir
            el
            Templo de Dios<Bold>.</Bold> Cualquiera hubiera pensado que viniendo de un profeta tal
            consejo<Bold>,</Bold>
            era una confirmación divina de los deseos de David<Bold>.</Bold> Sin embargo<Bold>,</Bold> vemos más
            adelante<Bold>,</Bold> en los versículos 12-13<Bold>,</Bold> cómo el mismo profeta
            Nathán<Bold>,</Bold>
            esta vez por revelación de Dios<Bold>,</Bold> le advierte a David que no va a ser él el que edifique el
            Templo<Bold>,</Bold> sino su hijo que reinará en lugar suyo<Bold>. Aunque Nathán era sincero, estaba
                sinceramente equivocado. Ser sincero un pastor o consejero no garantiza nada.</Bold> Sólo sirve para
            que
            sepamos que no quiso hacernos daño con lo que nos dijo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y aconteció que<Bold>,</Bold> estando ya el rey asentado en su
            casa<Bold>,</Bold>
            después que Jehová le había dado reposo de todos sus enemigos en derredor<Bold>,</Bold></i> 2 <i>dijo el
            rey al
            profeta Nathán<Bold>:</Bold> Mira ahora<Bold>,</Bold> yo moro en edificios de
            cedro<Bold>,</Bold> y el
            arca de Dios está entre cortinas<Bold>.</Bold></i> 3 <Bold>Y Nathán dijo al rey: Anda, y haz todo lo
            que está
            en tu corazón, que Jehová es contigo</Bold><Bold>."</Bold> (II Sam 7<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>Y cuando tus días fueren cumplidos<Bold>,</Bold> y durmieres con tus
            padres<Bold>,</Bold> yo estableceré tu simiente después de ti<Bold>,</Bold> la cual procederá de tus
            entrañas<Bold>,</Bold> y aseguraré su reino<Bold>.</Bold></i> 13 <Bold>Él edificará casa a mi
            nombre, y yo
            afirmaré para siempre el trono de su reino</Bold><Bold>."</Bold> (II Sam 7<Bold>:</Bold>12-13)</Paragraph>
        <Paragraph> Más claramente aún se advierte este caso en I Cr 17<Bold>:</Bold>1-4<Bold>,</Bold> donde se ve que
            en el
            versículo 2<Bold>,</Bold> Nathán le dice a David que haga todo lo que tiene en su
            corazón<Bold>,</Bold>
            porque Dios es con él<Bold>,</Bold> sin embargo<Bold>,</Bold> dos versículos más adelante Dios le
            dice lo
            contrario a Nathán<Bold>,</Bold> ordenándole que diga a David que <Bold>él no iba a construir el
                Templo.</Bold> Esto vuelve a reafirmarse en I Cr 22<Bold>:</Bold>7-10<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y aconteció que morando David en su casa<Bold>,</Bold> dijo David al profeta
            Nathán<Bold>:</Bold> He aquí yo habito en casa de cedro<Bold>,</Bold> y el arca del pacto de Jehová
            debajo
            de cortinas<Bold>.</Bold></i> 2 <Bold>Y Nathán dijo a David: Haz todo lo que está en tu corazón,
            porque Dios
            es contigo.</Bold> 3 <i>En aquella misma noche <Bold>fue palabra de Dios a Nathán,
            diciendo:</Bold></i> 4
            <Bold>Ve y di a David mi siervo: Así ha dicho Jehová: Tú no me edificarás casa en que
                habite</Bold><Bold>."</Bold> (I Cr 17<Bold>:</Bold>1-4)</Paragraph>
        <Paragraph><Bold>Como vemos, lo que a priori cualquiera hubiera tomado como venido de Dios,</Bold> porque lo decía
            un
            profeta<Bold>,</Bold> no era palabra ni consejo de Dios<Bold>,</Bold> sino palabra y consejo de un
            profeta<Bold>,</Bold> que aunque era un buen hombre y estaba bajo la influencia del Espíritu
            Santo<Bold>,</Bold> <Bold>no por eso había que tomar todas sus palabras como venidas del
                Cielo.</Bold>
            Cuando él le aconsejó a David que siguiera los impulsos de su corazón<Bold>,</Bold> estaba
            equivocado<Bold>.</Bold> Si eso era así con profetas como Nathán<Bold>,</Bold> que
            <Bold>evidentemente</Bold> era profeta<Bold>,</Bold> cómo vamos a creer con los ojos cerrados que
            todo lo
            que diga un pastor<Bold>,</Bold> o uno que se llame a sí mismo inspirado<Bold>,</Bold> tiene que ser
            palabra
            de Dios<Bold>.</Bold> Por muy sincero que sea<Bold>,</Bold> puede estar sinceramente
            equivocado<Bold>.</Bold> Hay que saber discernir<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    