---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La visión de Pedro y la supuesta limpieza de todos los animales">
    <Title>La visión de Pedro y la supuesta limpieza de todos los animales</Title>

    <Tag>#127</Tag>
    <Content>
        
        <Paragraph> Lo primero que debemos tener en cuenta al leer este pasaje es que <Bold>esta visión está ocurriendo
            aproximadamente once años después de que Pedro conociera a Cristo por primera vez.</Bold> Durante tres
            años y
            medio Jesús estuvo inculcando en sus discípulos las doctrinas correctas<Bold>.</Bold>
            Luego<Bold>,</Bold>
            durante otros 8 años aproximadamente<Bold>,</Bold> gracias al Espíritu Santo<Bold>,</Bold> los
            apóstoles
            reafirmaron lo aprendido de Jesús<Bold>,</Bold> lo practicaron<Bold>,</Bold> y enseñaron a otros
            esas
            doctrinas<Bold>.</Bold> <Bold>Sería ilógico, y más aún, absurdo, pensar que once años después de haber
                comenzado su aprendizaje a los pies de Jesucristo, todavía los apóstoles no supieran cuáles eran las
                doctrinas
                correctas.</Bold></Paragraph>
        <Paragraph> Pues bien<Bold>,</Bold> sentado este precedente<Bold>,</Bold> vamos a echarle una profunda mirada a
            la
            estructura mental de San Pedro<Bold>.</Bold> Vamos a ver qué era lo que él creía sobre el comer carne de
            puerco<Bold>,</Bold> cangrejo<Bold>,</Bold> etc<Bold>..</Bold> Cuando en el versículo 13 la voz
            del
            Señor le dijo<Bold>:</Bold> <Bold>"</Bold><i>Levántate Pedro<Bold>,</Bold> mata y
                come</i><Bold>",</Bold> Pedro replicó<Bold>:</Bold> <Bold>"</Bold><i>Señor<Bold>,</Bold>
                no<Bold>;</Bold> porque ninguna cosa común e inmunda <Bold>he comido
                    jamás</Bold></i><Bold>."</Bold>
            Pedro no le respondió diciendo algo así como<Bold>:</Bold> <Bold>"</Bold>Sí<Bold>,</Bold>
            Señor<Bold>,</Bold> voy a hacerlo inmediatamente<Bold>,</Bold> porque tú me enseñaste cuando
            predicabas que
            ya se iba a poder comer de todo<Bold>".</Bold> Tampoco le respondió<Bold>:</Bold>
            <Bold>"</Bold>Sí<Bold>,</Bold> Señor<Bold>,</Bold> voy a comer cualquier cosa<Bold>,</Bold>
            porque
            después de tu partida el Espíritu Santo nos reveló que ya se podían comer los animales que antes tú
            prohibías
            comer<Bold>".</Bold></Paragraph>
        <Paragraph> Si Pedro no respondió así es porque los apóstoles no habían recibido ninguna enseñanza ni revelación
            enseñándoles
            que se podían comer de todo<Bold>.</Bold> <Bold>Si en su estructura mental Pedro hubiera tenido el
                conocimiento, o la idea, de que esos animales ya se podían comer, él no hubiera osado responderle al
                Señor que
                esos animales no se comían; simplemente se hubiera levantado para cumplir la orden del Señor
                Jesucristo.</Bold> Desde el momento que Pedro puso objeciones al Señor es porque él nunca había
            aprendido ni
            de Cristo ni del Espíritu Santo ni de los otros apóstoles<Bold>,</Bold> que los animales prohibidos se
            podían
            comer <Bold>"</Bold>ahora<Bold>".</Bold> <Bold>No es lógico pensar que ahora, once años después,
                era que
                se les iba a enseñar que "ya" se podía comer de todos los animales.</Bold></Paragraph>
        <Paragraph> Por lo pronto no se puede negar que <Bold>hasta el momento de recibir esta visión, San Pedro no había
            aprendido
            que se podían comer los animales que antes Dios había prohibido.</Bold> Veamos ahora si esta visión le fue
            dada
            para que el cristiano cambiara su limpia dieta por una dieta asquerosa<Bold>,</Bold> donde podría comer
            arañas
            peludas<Bold>,</Bold> moscas<Bold>,</Bold> gusanos<Bold>,</Bold> lagartijas<Bold>,</Bold>
            serpientes<Bold>,</Bold>
            camarones<Bold>,</Bold> puerco<Bold>,</Bold> morcilla<Bold>,</Bold> carne
            humana<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph> Muchas personas estiman que esta visión de San Pedro fue dada para indicarle a los cristianos que podían
            comer
            cualquier animal<Bold>.</Bold> Razón hay para mal-interpretarlo así de primera
            impresión<Bold>;</Bold> y yo
            personalmente<Bold>,</Bold> al principio de leer la Biblia<Bold>,</Bold> también me lo creí por un
            tiempo<Bold>.</Bold> Sin embargo<Bold>,</Bold> a poco que uno analice el caso repara en el
            error<Bold>.</Bold> <Bold>Esta visión no fue dada para que el cristiano comiera de todo, sino para que
                los
                judíos dejaran su escrúpulo tradicional, en el sentido de que no se juntaban con los gentiles.</Bold>
            En
            muchos pasajes de la Escritura se dice o se trasluce el que los judíos consideraban abominable el juntarse
            con un
            gentil<Bold>,</Bold> como se ve Hch 10<Bold>:</Bold>28<Bold>.</Bold> Eso de no juntarse con los
            gentiles
            no era un mandamiento de Dios<Bold>,</Bold> <Bold>sino una costumbre que ellos habían adoptado, una de
                sus
                farisaicas tradiciones.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y les dijo<Bold>:</Bold> Vosotros sabéis que <Bold>es abominable a un varón judío
            juntarse
            o llegarse a extranjero;</Bold> mas me ha mostrado Dios que <Bold>a ningún hombre llame común o
            inmundo</Bold></i><Bold>"</Bold>
            (Hch 10<Bold>:</Bold>28)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Para cambiar esa actitud contra los gentiles<Bold>,</Bold> en los discípulos<Bold>,</Bold> es que el
            Señor
            le dio a Pedro esta visión<Bold>.</Bold> <Bold>Analicemos.</Bold> Desde que comienza el capítulo a
            narrar el
            episodio de Cornelio<Bold>,</Bold> (episodio que finaliza con la introducción de los gentiles al
            evangelio)<Bold>,</Bold> se comienza a ligar la visión de Pedro con la venida de los enviados de
            Cornelio<Bold>;</Bold> por lo tanto<Bold>,</Bold> no es una visión para el cambio de dieta de los
            cristianos<Bold>,</Bold>
            sino para el mismo asunto<Bold>,</Bold> su tradición de juntarse con los gentiles<Bold>.</Bold>
            <Bold>Así
                vemos cómo liga el autor, en el versículo 9, la llegada de los emisarios a la ciudad, con la subida de
                Pedro a
                la azotea para orar.</Bold> Ya vimos en el versículo 28 cómo <Bold>específicamente</Bold> dice que
            <Bold>el propósito de la visión era el de hacerles ver a los judíos que podían juntarse con los gentiles,
                lo cual
                nunca estuvo prohibido, eran costumbres y tradiciones.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y había un varón en Cesarea llamado Cornelio<Bold>,</Bold> centurión de la
            compañía que se
            llamaba la Italiana<Bold>,</Bold> 2 pío y temeroso de Dios con toda su casa<Bold>,</Bold> y que
            hacía muchas
            limosnas al pueblo<Bold>,</Bold> y oraba a Dios siempre<Bold>.</Bold> 3 Éste vio en visión
            manifiestamente<Bold>,</Bold> como a la hora nona del día<Bold>,</Bold> que un ángel de Dios entraba
            a
            él<Bold>,</Bold> y le decía<Bold>:</Bold> Cornelio<Bold>.</Bold> 4 Y él<Bold>,</Bold>
            puestos en él
            los ojos<Bold>,</Bold> espantado<Bold>,</Bold> dijo<Bold>:</Bold> <Bold>¿</Bold>Qué
            es<Bold>,</Bold> Señor<Bold>?</Bold> Y le dijo<Bold>:</Bold> Tus oraciones y tus limosnas han
            subido en
            memoria a la presencia de Dios<Bold>.</Bold> 5 Envía pues ahora hombres a Joppe<Bold>,</Bold> y haz
            venir a
            un Simón<Bold>,</Bold> que tiene por sobrenombre Pedro<Bold>.</Bold> 6 Este posa en casa de un Simón<Bold>,</Bold>
            curtidor<Bold>,</Bold> que tiene su casa junto a la mar<Bold>;</Bold> él te dirá lo que te conviene
            hacer<Bold>.</Bold> 7 E ido el ángel que hablaba con Cornelio<Bold>,</Bold> llamó dos de sus criados<Bold>,</Bold>
            y un devoto soldado de los que le asistían<Bold>;</Bold> 8 a los cuales<Bold>,</Bold> después de
            habérselo
            contado todo<Bold>,</Bold> los envió a Joppe<Bold>.</Bold> 9 <Bold>Y al día siguiente, yendo ellos
                su
                camino, y llegando cerca de la ciudad, Pedro subió a la azotea a orar, cerca de la hora de
                sexta</Bold></i><Bold>."</Bold> (Hch 10<Bold>:</Bold>1-9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Ya comenzada la visión de Pedro<Bold>,</Bold> se ve en el versículo 12 que en aquel lienzo había de
            todos los
            <Bold>animales cuadrúpedos de la tierra, reptiles y aves del cielo.</Bold> Si fuéramos a pensar que esta
            visión
            se traía para permitir comer cualquier cosa a los cristianos<Bold>,</Bold> tendríamos que admitir que
            nada se
            estatuyó<Bold>,</Bold> o nada se <Bold>"</Bold>modernizó<Bold>"</Bold> <Bold>en cuanto a los
                animales
                acuáticos,</Bold> puesto que éstos no aparecen en el lienzo<Bold>.</Bold> Si fuéramos a creer que
            esta
            visión se hacía para cambiar la dieta<Bold>,</Bold> sería cosa de preguntarse<Bold>:</Bold>
            <Bold>a)</Bold> si no se puede comer ningún animal acuático<Bold>,</Bold> dado que no se mencionaron
            como
            limpiados en la visión<Bold>;</Bold> <Bold>b)</Bold> si en estos permanece vigente la prohibición de
            Dios<Bold>;</Bold> o <Bold>c)</Bold> si aunque no se mencionaran en la visión los íbamos a incluir
            entre los
            comestibles <Bold>"</Bold>de a porque sí<Bold>".</Bold></Paragraph>
        <Paragraph> Me hace pensar todo esto<Bold>,</Bold> que <Bold>si la visión hubiera sido dada con el objeto de
            modificarle
            la dieta a los cristianos, se hubiera incluido en ella los animales acuáticos;</Bold> no iban a pasárseles
            por
            alto a quien daba la visión<Bold>.</Bold> No obstante<Bold>,</Bold> si lo de los animales allí
            mostrados era
            sólo un simbolismo de los gentiles<Bold>,</Bold> entonces podemos comprender perfectamente la ausencia
            de los
            acuáticos<Bold>,</Bold> pues no eran necesarios para el simbolismo general<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>10 Y aconteció que le vino una grande hambre<Bold>,</Bold> y quiso
            comer<Bold>;</Bold>
            pero mientras disponían<Bold>,</Bold> le sobrevino un éxtasis<Bold>;</Bold> 11 y vio el cielo
            abierto<Bold>,</Bold> y que descendía un vaso<Bold>,</Bold> como un gran lienzo<Bold>,</Bold>
            que atado
            de los cuatro cabos era bajado a la tierra<Bold>;</Bold> 12 <Bold>en el cual había de todos los
                animales
                cuadrúpedos de la tierra, y reptiles, y aves del cielo.</Bold> 13 Y le vino una voz<Bold>:</Bold>
            Levántate<Bold>,</Bold> Pedro<Bold>,</Bold> mata y come<Bold>.</Bold> 14 Entonces Pedro
            dijo<Bold>:</Bold> <Bold>Señor, no; porque ninguna cosa común e inmunda he comido jamás.</Bold> 15 Y
            volvió
            la voz hacia él la segunda vez<Bold>:</Bold> Lo que Dios limpió<Bold>,</Bold> no lo llames tú
            común<Bold>.</Bold> 16 Y esto fue hecho por tres veces<Bold>;</Bold> y el vaso volvió a ser recogido
            en el
            cielo</i><Bold>."</Bold> (Hch 10<Bold>:</Bold>10-16)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Al llegar al versículo 17 vemos de nuevo relacionadas estas dos cosas<Bold>:</Bold> <Bold>la visión y
            la
            llegada de los mensajeros gentiles,</Bold> tal y como antes se hizo en el versículo
            nueve<Bold>.</Bold>
            <Bold>En ningún momento, a lo largo de estos capítulos, se relaciona la interpretación de esta visión con
                un
                cambio de dieta,</Bold> salvo en el curso de la propia visión<Bold>,</Bold> cuando se le exhorta a
            Pedro a
            que mate y coma<Bold>.</Bold></Paragraph>
        <Paragraph> En el versículo 17 vemos que <Bold>la visión, lejos de provocar en Pedro la certidumbre de que se trataba
            simple y
            llanamente de un cambio de dieta para el cristiano, provoca dudas;</Bold> él no creía que el significado
            manifiesto<Bold>,</Bold> el de cambiar de dieta<Bold>,</Bold> fuera el significado
            verdadero<Bold>,</Bold> porque si no<Bold>,</Bold> no tenía por qué dudar<Bold>.</Bold> Es en
            ese
            momento que llegan a su puerta los gentiles<Bold>,</Bold> y como para disipar las dudas que el apóstol
            sentía
            sobre el significado de la visión<Bold>,</Bold> si era para modificar la dieta o para juntarse con los
            gentiles<Bold>,</Bold> <Bold>el Espíritu Santo le ordena que vaya con los gentiles sin dudar.</Bold>
            Vemos
            de nuevo aquí que la visión se vuelve a relacionar con la venida de los emisarios gentiles de
            Cornelio<Bold>.</Bold></Paragraph>
        <Paragraph> En los versículos 19-20 se constata de nuevo la duda de Pedro sobre el significado de la
            visión<Bold>,</Bold> y
            ésta se disipa con la orden divina de ir con los gentiles<Bold>.</Bold> Evidentemente la visión no se
            trataba de
            <Bold>un cambio en la dieta, sino de un cambio de la actitud tradicional que hacia los gentiles tenían los
                judíos.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>17 <Bold>Y estando Pedro dudando dentro de sí qué sería la visión</Bold> que había
            visto<Bold>,</Bold> <Bold>he aquí, los hombres que habían sido enviados por Cornelio,</Bold>
            que<Bold>,</Bold> preguntando por la casa de Simón<Bold>,</Bold> llegaron a la
            puerta<Bold>.</Bold> 18 Y
            llamando<Bold>,</Bold> preguntaron si un Simón que tenía por sobrenombre Pedro<Bold>,</Bold> posaba
            allí<Bold>.</Bold> 19 <Bold>Y estando Pedro pensando en la visión, le dijo el Espíritu: He aquí, tres
                hombres
                te buscan. 20 Levántate, pues, y desciende, y no dudes ir con ellos, porque yo los he enviado.</Bold>
            21
            Entonces Pedro<Bold>,</Bold> descendiendo a los hombres que eran enviados por Cornelio<Bold>,</Bold>
            dijo<Bold>:</Bold> He aquí<Bold>,</Bold> yo soy el que buscáis<Bold>,</Bold> <Bold>¿</Bold>cuál
            es
            la causa por la que habéis venido</i><Bold>?"</Bold> (Hch 10<Bold>:</Bold>17-21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Al seguir la lectura hasta el versículo 28 vemos cómo <Bold>la interpretación única</Bold> que el
            apóstol da
            sobre su visión es la de que Dios le había mostrado <Bold>que a ningún hombre</Bold> (nada dice de los
            animales)
            llame común o inmundo<Bold>.</Bold> O sea<Bold>,</Bold> que todos los hombres éramos iguales ante
            los ojos
            de Dios<Bold>.</Bold> <Bold>Si hubiera habido interpretaciones adicionales, hubieran sido mencionadas;
                pero
                no, la única interpretación</Bold> que San Pedro menciona es la relativa a los
            gentiles<Bold>.</Bold> Lo
            relativo a los animales y la dieta no se menciona en ningún momento<Bold>.</Bold> Es
            decir<Bold>,</Bold> que
            lo de <Bold>"</Bold>común e inmundo<Bold>"</Bold> mencionado en la visión en el versículo
            15<Bold>,</Bold> no se refería a los animales<Bold>,</Bold> sino a las personas<Bold>;</Bold> en
            este
            caso a los gentiles<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>27 Y hablando con él<Bold>,</Bold> entró<Bold>,</Bold> y halló a muchos que se
            habían
            juntado<Bold>.</Bold> 28 Y les dijo<Bold>:</Bold> Vosotros sabéis que es abominable a un varón judío
            juntarse o llegarse a extranjero<Bold>;</Bold> <Bold>mas me ha mostrado Dios que a ningún hombre llame
                común o
                inmundo;</Bold> 29 por lo cual<Bold>,</Bold> llamado<Bold>,</Bold> he venido sin
            dudar<Bold>.</Bold> Así que pregunto<Bold>:</Bold> <Bold>¿</Bold>por qué causa me habéis hecho
            venir</i><Bold>?"</Bold>
            (Hch 10<Bold>:</Bold> 27-29)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> No es lógico pensar que el sacrificio de Jesucristo haya sido adjudicado también a los
            animales<Bold>.</Bold>
            <Bold>El sacrificio de Cristo no fue hecho para quitar la inmundicia del cuerpo de las personas (que al
                fin y al
                cabo mueren); sino para limpiar las inmundicias de sus almas. ¿Cómo pues vamos a pensar que ese mismo
                sacrificio
                era para limpiar las inmundicias de los cuerpos de los animales?</Bold> Esto es más claro si nos
            recordamos de
            lo dicho por Pablo en I Co 9<Bold>:</Bold>9-10 en el sentido de que Dios no se preocupa de los
            bueyes<Bold>.</Bold> <Bold>¿</Bold>Cómo pues vamos a pensar que el sacrificio de Cristo libraba a
            los
            animales de su inmundicia<Bold>,</Bold> como si esta se debiera a los pecados del
            animal<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Si el sacrificio de Cristo libraba a los animales de su inmundicia,</Bold> es que ésta era una
            cuestión
            espiritual de ellos<Bold>,</Bold> cosa absurda y por lo tanto inaceptable<Bold>.</Bold> Luego
            entonces<Bold>,</Bold> <Bold>¿</Bold>cuál fue el cambio que en los animales prohibidos se
            realizó<Bold>,</Bold> que ahora sí se pueden comer<Bold>,</Bold> y antes no se
            podía<Bold>?</Bold>
            Ninguno<Bold>.</Bold> <Bold>¿</Bold>Vamos a creer que a los animales le fueron limpiados sus pecados<Bold>?</Bold>
            Y los animales limpios que siguieron siendo limpios<Bold>,</Bold> <Bold>¿</Bold>es que antes no
            tenían
            pecados<Bold>?</Bold> <Bold>¿</Bold>Se dan cuenta de hasta que grado de absurdidad nos llevaría el
            creer que
            los animales fueron limpiados con el sacrificio de Cristo<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>No es sensato pensar que el sacrificio de Jesús,</Bold> además de para la salvación de nuestra alma<Bold>,</Bold>
            haya servido para quitarle a las arañas peludas<Bold>,</Bold> cucarachas<Bold>,</Bold>
            ratones<Bold>,</Bold> anguilas<Bold>,</Bold> lombrices<Bold>,</Bold> puercos<Bold>,</Bold>
            cangrejos<Bold>,</Bold>
            etc<Bold>.,</Bold> la razón que motivó a Dios a prohibírselos a sus siervos de todas las
            épocas<Bold>.</Bold> Recordemos que aún en época de Noé<Bold>,</Bold> mucho antes de la ley
            ritual<Bold>,</Bold> ya se clasificaban los animales como limpios e inmundos<Bold>,</Bold> como se
            ve en Gn
            7<Bold>:</Bold>2 y 8<Bold>;</Bold> y en 8<Bold>:</Bold>20<Bold>.</Bold> <Bold>Si los
                animales
                inmundos se consideraban prohibidos antes de la ley ritual, ni siquiera podemos pensar que esa
                prohibición es
                parte de la ley ritual, para entonces considerarla obsoleta junto con el resto de la ley
                ritual.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>De todo animal limpio</i></Bold> <i>te tomarás de siete en siete<Bold>,</Bold> macho y su
            hembra<Bold>;</Bold> mas <Bold>de los animales que no son limpios,</Bold> dos<Bold>,</Bold>
            macho y su
            hembra</i><Bold>."</Bold> (Gn 7<Bold>:</Bold>2)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>De los animales limpios, y de los animales que no eran limpios,</i></Bold> <i>y de las
            aves<Bold>,</Bold> y de todo lo que anda arrastrando sobre la tierra</i><Bold>"</Bold> (Gn
            7<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y edificó Noé un altar a Jehová y tomó de todo <Bold>animal limpio y de toda ave
            limpia,</Bold> y ofreció holocausto en el altar</i><Bold>."</Bold> (Gn 8<Bold>:</Bold>20)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Y si efectivamente<Bold>,</Bold> admitiéramos que algún cambio se efectuó en los animales luego del
            sacrificio
            de Nuestro Señor<Bold>,</Bold> <Bold>tendríamos que pensar que la misma limpieza universal se efectuó
                en los
                vegetales, cosa inadmisible,</Bold> pues conocemos que los hay venenosos<Bold>.</Bold></Paragraph>
        <Paragraph> Si seguimos la lectura hasta los versículos 34 y 35 veremos ratificado en ellos el concepto de igualdad de
            todas las
            razas y nacionalidades<Bold>;</Bold> concepto que sólo de la visión aquella había
            salido<Bold>.</Bold> No
            había habido otra fuente para tal información<Bold>;</Bold> tampoco se menciona otro significado para
            tal visión<Bold>.</Bold>
            O sea<Bold>,</Bold> que con toda honestidad podemos decir que<Bold>,</Bold> al menos explicado por
            San Pedro<Bold>,</Bold>
            no hay otro significado para la visión que el de advertir a los judíos que podían dejar su escrúpulo
            tradicional de
            no juntarse con los gentiles<Bold>.</Bold> Recuerden que en toda la Biblia no existe un solo versículo
            sobre no
            juntarse con los gentiles<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>34 Entonces Pedro<Bold>,</Bold> abriendo su boca<Bold>,</Bold>
            dijo<Bold>:</Bold>
            Por verdad hallo que <Bold>Dios no hace acepción de personas;</Bold> 35 <Bold>sino que de cualquiera
                nación
                que le teme y obra justicia, se agrada</Bold></i><Bold>."</Bold> (Hch 10<Bold>:</Bold>34-35)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Como colofón<Bold>,</Bold> los versículo 44 y 45 nos narran cómo el Espíritu Santo<Bold>,</Bold>
            haciendo
            bueno su dicho a San Pedro<Bold>,</Bold> se derramó sobre los gentiles<Bold>.</Bold> Se cierra el
            capítulo
            sin que ninguna de las interpretaciones hechas sobre la visión nos haga ver que ésta se refería también a la
            limpieza de los animales<Bold>.</Bold></Paragraph>
        <Paragraph> Es verdad que si la tomamos al pie de la letra y sin hacer caso de las interpretaciones del Apóstol Pedro y
            los
            demás<Bold>,</Bold> sí habla de comer todos los animales<Bold>;</Bold> pero así
            tomada<Bold>,</Bold>
            <Bold>entonces no dice que se puedan comer los animales acuáticos, ni habla de la igualdad de las
                razas.</Bold>
            Además<Bold>,</Bold> la autorizada interpretación de la visión por el Espíritu Santo y por San
            Pedro<Bold>,</Bold> nos dijo ya que se refería a las personas y no a los animales<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Terminado ya el Capítulo 10 del libro de los Hechos,</Bold> al pasar al 11 notamos la misma
            tendencia<Bold>,</Bold> (Hch 11<Bold>:</Bold>1-19)<Bold>,</Bold> <Bold>en ningún momento nadie
                interpreta la revelación como significando que se podían comer los animales mostrados en ella;</Bold>
            siempre
            todo giró sobre la admisión de los gentiles<Bold>.</Bold></Paragraph>
        <Paragraph> En 11<Bold>:</Bold>2-3 vemos que los cristianos de Jerusalem estaban opuestos a que Pedro se hubiese
            juntado con
            los gentiles<Bold>.</Bold> <Bold>Ellos no le echan en cara nada respecto a la dieta; de eso no se
                habla. Si
                Pedro hubiera cambiado su dieta por motivo de la visión, los de Jerusalem, también se lo hubieran echado
                en
                cara,</Bold> al igual que le echaron en cara el juntarse con los gentiles<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> es fácil deducir que <Bold>no hubo, por parte de los cristianos de Jerusalem,
                conocimiento
                de un cambio de dieta para los creyentes.</Bold> Incluso vemos que Pedro<Bold>,</Bold> para
            defenderse<Bold>,</Bold> esgrime de nuevo la cuestión de los gentiles<Bold>.</Bold> En ningún
            momento se
            menciona la cuestión de comer animales prohibidos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>1 Y oyeron los apóstoles y los hermanos que estaban en Judea<Bold>,</Bold> que
            también los
            gentiles habían recibido la palabra de Dios<Bold>.</Bold> 2 <Bold>Y como Pedro subió a Jerusalem,
                contendían
                contra él los que eran de la circuncisión, 3 diciendo: ¿Por qué has entrado a hombres incircuncisos, y
                has
                comido con ellos?</Bold> 4 Entonces comenzando Pedro<Bold>,</Bold> les declaró por orden lo pasado<Bold>,</Bold>
            diciendo<Bold>......</Bold> 18 Entonces<Bold>,</Bold> oídas estas cosas<Bold>,</Bold>
            callaron<Bold>,</Bold> y glorificaron a Dios<Bold>,</Bold> diciendo<Bold>:</Bold> <Bold>De
                manera que
                también a los gentiles ha dado Dios arrepentimiento para vida.</Bold> 19 Y los que habían sido
            esparcidos por
            causa de la tribulación que sobrevino en tiempo de Esteban<Bold>,</Bold> anduvieron hasta
            Fenicia<Bold>,</Bold> y Cipro<Bold>,</Bold> y Antioquía<Bold>,</Bold> <Bold>no hablando a
                nadie la
                palabra, sino sólo a los judíos</Bold></i><Bold>."</Bold> (Hch 11<Bold>:</Bold>1-19 abreviado)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Debemos recordar que en Mt 10<Bold>:</Bold>6 Jesús les dijo a sus discípulos que primero le predicaran a
            los
            judíos<Bold>,</Bold> tal vez por eso les alerta ahora que ya pueden comenzar con los
            gentiles<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Pudiera alguien objetar, o preguntarse, por qué razón, si se intenta dar un mensaje concerniente a
            seres
            humanos,</Bold> se usan animales como símbolos<Bold>,</Bold> y no personas<Bold>.</Bold> Eso no lo
            puedo
            yo explicar<Bold>,</Bold> pero <Bold>es evidente</Bold> que se usaron animales para simbolizar cosas
            concernientes a personas<Bold>,</Bold> puesto que se usaron animales para decir que los judíos podían
            juntarse
            con los gentiles<Bold>.</Bold></Paragraph>
        <Paragraph> Pero ese no es un caso único en la Escritura<Bold>.</Bold> En la visión que José interpretó para los
            criados del
            faraón<Bold>,</Bold> las uvas representaban al criado del vino<Bold>,</Bold> y las cestas
            representaban días<Bold>.</Bold>
            En la que interpretó para Faraón las vacas significaban tiempo y en las de Daniel 8<Bold>:</Bold>19-20
            el
            carnero y el chivo significan personas<Bold>.</Bold></Paragraph>
        <Paragraph> En síntesis<Bold>,</Bold> la visión de Hch 10 significaba que los judíos se podían juntar con los
            gentiles<Bold>;</Bold> nada tenía que ver con un cambio en la dieta de los creyentes<Bold>.</Bold>
        </Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver</Bold> <Bold>al índice</Bold></a></Paragraph>

    </Content>
</Layout>
    