---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="'Almacén' de almas previo al nacimiento">
    <section>
        <Paragraph><Bold>"Almacén" de almas previo al nacimiento</Bold></Paragraph>
        <Paragraph><Bold>Qué es el "almacén de almas"</Bold></Paragraph>
        <Paragraph> Hay cosas que en la Biblia no se dicen<Bold>,</Bold> pero las cuales uno puede deducir de la información
            que
            recibe en la Biblia<Bold>.</Bold> En esos casos<Bold>,</Bold> como que no se puede presentar una
            clara
            referencia al asunto en la Biblia<Bold>,</Bold> <Bold>la prudencia nos aconseja presentar nuestra
                observación
                como una teoría, no como una doctrina bíblica.</Bold> Ese es el caso del <Bold>"</Bold>almacén de
            almas
            previo al nacimiento<Bold>",</Bold> teoría que más abajo explico<Bold>.</Bold></Paragraph>
        <Paragraph> Mi opinión es que Dios ya creó todas las <Bold>almas humanas</Bold> que van a existir<Bold>,</Bold>
            y que
            las tiene en algún lugar donde a pesar de que existen<Bold>,</Bold> ni sienten ni
            padecen<Bold>,</Bold>
            porque no tienen la carne<Bold>,</Bold> que es la que pone al alma humana<Bold>,</Bold> ente
            espiritual<Bold>,</Bold> en contacto con el mundo físico<Bold>.</Bold> Desde ese lugar que he
            supuesto<Bold>,</Bold> Dios envía<Bold>,</Bold> o sus ángeles llevan cada alma<Bold>,</Bold> al
            cuerpo
            donde deban vivir<Bold>.</Bold> Supongo que esto ocurra en algún momento entre la concepción y el primer
            o
            segundo año de edad<Bold>,</Bold> pudiendo este tiempo ser variable en cada caso<Bold>.</Bold> Tal
            vez ese
            sea el porqué unos recuerdan cosas de cuando tenían uno o dos años y otros antes o después<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Debido a que no tienen sensaciones de ninguna clase, no pueden percatarse de que existen;</Bold> y
            debido a
            que nunca las han tenido<Bold>,</Bold> tampoco pueden recordarlas y<Bold>,</Bold> por lo
            tanto<Bold>,</Bold> tampoco por ese medio (el recuerdo) pueden percatarse de que
            existen<Bold>.</Bold> Es
            como el feto en el vientre materno<Bold>;</Bold> en realidad más aislados que un feto<Bold>,</Bold>
            sin la
            más mínima sensación que les haga darse cuenta de que existen<Bold>.</Bold> Sin
            embargo<Bold>,</Bold> esas
            almas existen<Bold>;</Bold> Dios las conoce<Bold>;</Bold> sabe cómo son y cómo
            desarrollarán<Bold>,</Bold> y lo que van a hacer<Bold>,</Bold> etc<Bold>..</Bold> A ese supuesto
            lugar
            es a lo que yo llamo <Bold>"</Bold>almacén de almas creadas<Bold>".</Bold> A esa <Bold>existencia
                sin
                conocimiento,</Bold> me parece que es a lo que se hace referencia en Ecl
            4<Bold>:</Bold>10<Bold>,</Bold> y más aún en Ecl 6<Bold>:</Bold>10<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>2 <i>Y alabé yo los finados que ya murieron<Bold>,</Bold> más que los vivientes que
            hasta ahora
            están vivos<Bold>.</Bold></i> 3 <i>Y tuve por mejor que unos y otros<Bold>,</Bold> <Bold>al que no
            ha sido
            aún,</Bold> que no ha visto las malas obras que debajo del sol se hacen</i><Bold>."</Bold> (Ecl
            4<Bold>:</Bold>2-3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>El que es, ya su nombre ha sido nombrado;</i></Bold> <i>y se sabe que es
            hombre<Bold>,</Bold> y que
            no podrá contender con el que es más fuerte que él</i><Bold>."</Bold> (Ecl 6<Bold>:</Bold>10)</Paragraph>
        <Paragraph><Bold>En el primer pasaje</Bold> nos dice que tuvo por mejor que a los que ahora están
            vivos<Bold>,</Bold> y
            que a los que estuvieron vivos<Bold>,</Bold> pero murieron<Bold>,</Bold> al que no ha sido
            aún<Bold>.</Bold> <Bold>Es decir, al que aún no ha sido enviado a un cuerpo de carne.</Bold></Paragraph>
        <Paragraph> No puede estarse refiriendo a alguien que aún no ha sido creado<Bold>,</Bold> porque alguien que aún no
            existe
            no puede estar ni mejor ni peor que uno que sí existe<Bold>.</Bold> Por lo tanto<Bold>,</Bold> hay
            que
            pensar que se refiere a alguien que está en existencia<Bold>,</Bold> pero que no ha nacido
            aún<Bold>.</Bold>
            Es decir<Bold>,</Bold> un alma creada<Bold>,</Bold> que jamás ha tenido existencia
            consciente<Bold>,</Bold> como el feto en el vientre de su madre<Bold>,</Bold> un alma que vendrá a
            vivir
            entre nosotros por primera y única vez<Bold>,</Bold> y que luego partirá para donde Dios
            disponga<Bold>,</Bold> el Cielo o el Infierno<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>El segundo pasaje</Bold> nos declara que el que es<Bold>,</Bold> ya su nombre ha sido
            nombrado<Bold>.</Bold> Es decir<Bold>,</Bold> que aquel que ya nació<Bold>,</Bold> se conocía de
            antemano<Bold>,</Bold> se sabía su nombre y sus cualidades<Bold>.</Bold> Esto<Bold>,</Bold> en
            cierta
            forma concuerda con lo que se puede razonar de las profecías hechas sobre Josías rey de Judá y sobre Ciro
            rey de
            Persia<Bold>,</Bold> las cuales ambas fueron hechas con siglos de anticipación al nacimiento del que se
            menciona
            en la profecía<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y he aquí que <Bold>un varón de Dios por palabra de Jehová</Bold> vino de Judá a
            Beth-el<Bold>;</Bold> y estando Jeroboam al altar para quemar perfumes<Bold>,</Bold></i> 2 <i>él
            clamó
            contra el altar por palabra de Jehová<Bold>,</Bold> y dijo<Bold>:</Bold> Altar<Bold>,</Bold>
            altar<Bold>,</Bold> así ha dicho Jehová<Bold>:</Bold> He aquí que <Bold>a la casa de David nacerá
                un hijo,
                llamado Josías,</Bold> el cual sacrificará sobre ti a los sacerdotes de los altos que queman sobre ti
            perfumes<Bold>;</Bold>
            y sobre ti quemarán huesos de hombres</i><Bold>."</Bold> (I R 13<Bold>:</Bold>1-2)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>44<Bold>:</Bold>28 <Bold>Que dice de Ciro:</Bold> <i>Es mi pastor<Bold>,</Bold>
            y
            <Bold>cumplirá todo lo que yo quiero,</Bold> en diciendo a Jerusalem<Bold>:</Bold> Serás
            edificada<Bold>;</Bold> y al Templo<Bold>:</Bold> Serás fundado<Bold>.</Bold></i>
            45<Bold>:</Bold>1
            <i><Bold>Así dice Jehová a su ungido, a Ciro,</Bold> al cual tomé yo por su mano
                derecha<Bold>,</Bold> para
                sujetar gentes delante de él y desatar lomos de reyes<Bold>;</Bold> para abrir delante de él puertas<Bold>,</Bold>
                y las puertas no se cerrarán</i><Bold>."</Bold> (Isa 44<Bold>:</Bold>28 al 45<Bold>:</Bold>1)
        </Paragraph>
        <Paragraph> Así que por lo que hemos visto en estos cuatro pasajes<Bold>,</Bold> da la sensación de que las almas
            fueron
            creadas todas de una sola vez<Bold>,</Bold> pero no fueron enviadas todas la mismo tiempo a vestirse de
            un
            cuerpo de carne<Bold>,</Bold> sino que son enviadas progresivamente según convenga a los planes
            divinos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Pero supongamos que esta teoría fuera errada,</Bold> y analicemos las alternativas que entonces
            tendríamos
            que admitir<Bold>.</Bold></Paragraph>
        <Paragraph> Si no admitiéramos la teoría de que <Bold>Dios creó de una sola vez todas las almas</Bold> de los
            humanos que
            van a nacer hasta el día del fin<Bold>,</Bold> tendríamos que admitir una de estas otras dos
            alternativas<Bold>:</Bold> <Bold>a) o Dios no ha cesado en su tarea de creación</Bold> desde que la
            comenzó
            hace alrededor de 6<Bold>,</Bold>000 años<Bold>;</Bold> o <Bold>b) Dios sí cesó de crear,</Bold>
            pero
            Dios le ha dado a la carne<Bold>,</Bold> que es física<Bold>,</Bold> la facultad de generar el
            alma<Bold>,</Bold> que es un ente espiritual<Bold>,</Bold> es decir que el alma se fábrica
            sola<Bold>,</Bold> automáticamente<Bold>,</Bold> a partir de los gametos masculino y femenino del
            humano<Bold>,</Bold> al igual que se fabrican por sí solos el esqueleto<Bold>,</Bold> los
            músculos<Bold>,</Bold> los nervios<Bold>,</Bold> etc<Bold>.,</Bold> de un feto<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Aceptar la alternativa "a"</Bold> (que Dios no ha cesado en su tarea de creación)<Bold>,</Bold>
            contradiría Gn 2<Bold>:</Bold>1-3<Bold>,</Bold> Heb 4<Bold>:</Bold>4 y 10<Bold>,</Bold> así
            como
            toda la Biblia<Bold>,</Bold> que nos indica que Dios hizo la creación en seis días descansando el
            séptimo<Bold>;</Bold> y que de ahí en adelante toda la materia funciona
            automáticamente<Bold>,</Bold>
            reproduciéndose<Bold>,</Bold> cambiando de forma<Bold>,</Bold> etc<Bold>.,</Bold> según las
            leyes por
            Dios establecidas<Bold>.</Bold> las cuales la materia no puede dejar de cumplir<Bold>.</Bold> Es
            decir<Bold>,</Bold> que tendríamos que dejar esta sana enseñanza<Bold>,</Bold> y pensar que
            Dios<Bold>,</Bold> desde la creación<Bold>,</Bold> continuó creando almas<Bold>,</Bold> para
            ponerlas en
            los cuerpos de los miles y miles de bebés que día y noche nacen en el mundo<Bold>.</Bold>
            <Bold>¡Absurdo!</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Y fueron acabados los cielos y la Tierra<Bold>,</Bold> y todo su
            ornamento<Bold>.</Bold></i> 2 <i>Y acabó Dios en el día séptimo su obra que hizo<Bold>,</Bold> y
            <Bold>reposó
                el día séptimo de toda su obra que había hecho.</Bold></i> 3 <i>Y bendijo Dios al día
            séptimo<Bold>,</Bold> y
            lo santificó<Bold>,</Bold> <Bold>porque en él reposó de toda su obra que había Dios criado y
                hecho</Bold></i><Bold>."</Bold> (Gn 2<Bold>:</Bold>1-3)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque en un cierto lugar dijo así del séptimo día<Bold>:</Bold> <Bold>Y reposó
            Dios de
            todas sus obras</Bold> en el séptimo día</i><Bold>."</Bold> (Heb 4<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque el que ha entrado en su reposo<Bold>,</Bold> también él ha reposado de sus
            obras<Bold>,</Bold> <Bold>como Dios de las suyas</Bold></i><Bold>."</Bold> (Heb
            4<Bold>:</Bold>10)
        </Paragraph>
        <Paragraph><Bold> Admitir la teoría "b"</Bold> (el alma se fábrica sola<Bold>,</Bold>
            automáticamente<Bold>,</Bold>
            a partir de la carne) nos conduciría a algo más ilógico aún<Bold>,</Bold> como es el pensar que algo
            espiritual
            como el alma<Bold>,</Bold> es producido por algo físico como es el cuerpo<Bold>,</Bold> y que esa
            cosa
            no-física que es el alma<Bold>,</Bold> se multiplica en las células sexuales del
            humano<Bold>,</Bold> para
            luego adquirir mayor tamaño gracias al alimento<Bold>.</Bold> Eso linda con la teoría ruselista de que
            el alma
            como algo no-físico<Bold>,</Bold> no existe y <Bold>es, por consiguiente, completamente
                absurda.</Bold></Paragraph>
        <Paragraph><Bold> Concretando: o aceptamos que existe el "almacén de almas" o caemos en uno de dos absurdos.</Bold>
        </Paragraph>
        <Paragraph><Bold>No creo que haya otra alternativa basados en la Biblia, pero si alguien la ve, que me lo escriba y me
            lo
            envíe en la forma clara en que yo lo hago, que mucho se lo voy a agradecer.</Bold> Otro tanto puede
            hacer<Bold>,</Bold> si no ve otra alternativa<Bold>,</Bold> pero le nota falta de consistencia
            lógica
            interna o externa a la teoría del almacén de almas<Bold>,</Bold> que aquí explico<Bold>,</Bold> o si
            ve
            errores en la cadena del raciocinio hecha para llegar a tal conclusión<Bold>.</Bold></Paragraph>
        <Paragraph> Pues bien<Bold>,</Bold> <Bold>la existencia de un "almacén de almas" concuerda perfectamente con la
            predestinación circunstancial,</Bold> la cual dice que Dios predestina las circunstancias en que debe
            vivir un ser
            humano su existencia terrenal<Bold>,</Bold> de acuerdo a los planes divinos<Bold>,</Bold> y otra muy
            diferente es la <Bold>"</Bold>predestinación absoluta<Bold>",</Bold> que afirma que Dios lo
            predestina a ser
            salvo o perdido<Bold>.</Bold> Dios no obliga a unos a ser salvos y a otros a ser
            perdidos<Bold>,</Bold> sino
            que<Bold>,</Bold> como que los conoce de antemano<Bold>,</Bold> como que
            <Bold>"</Bold>ve<Bold>"</Bold> cómo son en el <Bold>"</Bold>almacén<Bold>",</Bold> manda
            unas almas
            a nacer en una época<Bold>,</Bold> familia<Bold>,</Bold> raza o nación<Bold>,</Bold> y a otras
            en
            otra<Bold>.</Bold></Paragraph>
        <Paragraph> Es parecido a la diferenciación que puede hacer un escultor al mirar los distintos materiales o los
            distintos
            mármoles que él tiene en su almacén<Bold>,</Bold> de los que piensa hacer estatuas<Bold>.</Bold> Él
            sabría
            cómo va a ser o a lucir dicha estatua<Bold>,</Bold> sólo con ver el material del cual piensa
            esculpirla<Bold>,</Bold> y por tener el apropiado conocimiento y experiencia para ello<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>El alma del faraón que no quería dejar salir a los hebreos de Egipto,</Bold> la envió a nacer en el
            cuerpo
            que se estaba desarrollando en el vientre de la esposa del faraón anterior<Bold>;</Bold> de manera que
            esta alma
            malvada y obstinada vino al mundo en el lugar<Bold>,</Bold> tiempo y familia que convenía a los planes
            de
            Dios<Bold>.</Bold> En ese sentido Dios predestinó esa alma<Bold>,</Bold> pero no la predestinó a ser
            malvada
            y obstinada<Bold>,</Bold> la predestinó a estar allí<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Otro tanto puede decirse de Judas.</Bold> Si su alma hubiera sido enviada al mundo 100 años
            antes<Bold>,</Bold> ó 100 años después<Bold>,</Bold> no le hubiera sido posible traicionar a
            Jesús<Bold>.</Bold> Si esa alma hubiera sido enviada al mundo en la misma época que
            Jesús<Bold>,</Bold> pero
            en vez de haber sido enviada a Israel<Bold>,</Bold> hubiera sido enviada al vientre de una india
            americana<Bold>,</Bold> tampoco hubiera podido traicionar a Jesús<Bold>.</Bold> Hubiera traicionado
            al
            cacique de su tribu<Bold>,</Bold> o a su padre<Bold>,</Bold> pero no al Señor<Bold>.</Bold> Pero
            <Bold>Dios lo predestinó circunstancialmente a venir en el tiempo, lugar y circunstancias en que él
                pudiera
                traicionar a Jesús; porque Dios sabía que era un traidor, no porque Dios lo predestinara a ser un
                traidor.</Bold></Paragraph>
        <Paragraph> Aún con todas las circunstancias mencionadas<Bold>,</Bold> cumpliéndose en favor de la posibilidad de
            traicionar
            al Señor<Bold>,</Bold> <Bold>si Jesús no lo hubiera elegido como uno de sus apóstoles, no hubiera
                podido
                traicionarlo,</Bold> no hubiera podido poner en efecto la tendencia a ser traidor<Bold>.</Bold>
            Tendencia
            esta que se había desarrollado en él<Bold>,</Bold> después de su nacimiento<Bold>,</Bold> sin que
            Dios lo
            hubiera creado así<Bold>.</Bold> Por lo tanto<Bold>,</Bold> <Bold>Dios lo predestinó para
                traicionar a
                Jesucristo,</Bold> no para ser traidor<Bold>.</Bold> Dios sabía que él desarrollaría esa mala
            tendencia y
            lo puso donde pudiera usarla con Cristo<Bold>,</Bold> pero no lo predestinó a ser
            traidor<Bold>.</Bold></Paragraph>
        <Paragraph> No es lógico que Dios fabrique a uno malo<Bold>,</Bold> y luego se enoje contra él porque es
            malo<Bold>,</Bold> y lo castigue enviándolo al Infierno<Bold>.</Bold> <Bold>No es ese el tipo de
                justicia
                que Dios nos enseña en toda la Biblia;</Bold> y nosotros<Bold>,</Bold> para saber lo que es justo
            o
            injusto<Bold>,</Bold> nos tenemos que guiar<Bold>,</Bold> por lo que nos enseña Dios en la
            Biblia<Bold>.</Bold> No es la predestinación absoluta lo que enseña la Biblia<Bold>.</Bold> Creer en
            eso
            linda con la blasfemia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    