---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Peligro de creer que el Rapto ocurrirá antes de la Gran Tribulación">
    <Title>Peligro de creer que el Rapto ocurrirá antes de la Gran Tribulación</Title>

    <Tag>#129</Tag>
    <Content>
        
        <Paragraph><Bold>San Pablo dijo: <i>Examinadlo todo, retened lo bueno</i></Bold></Paragraph>
        <Paragraph><Bold>El peligro de creer que la Iglesia será raptada antes de la Gran Tribulación,</Bold> estriba en que
            el
            cristiano deja de estar alerta a la profecía y a las circunstancias que le rodean<Bold>.</Bold> Si
            estuvieran
            alerta<Bold>,</Bold> pudieran escapar<Bold>,</Bold> como nos instruye el Señor<Bold>.</Bold> Los
            cristianos del primer siglo tenían que estar alerta para huir cuando vieran a Jerusalem cercada de ejércitos<Bold>,</Bold>
            según les advirtió Jesús<Bold>.</Bold> Si un hermano confía en un
            <Bold>"</Bold>rapto<Bold>"</Bold> que
            no ha de venir antes de la Gran Tribulación<Bold>,</Bold> va a ser víctima del error que le
            inculcaron<Bold>.</Bold></Paragraph>
        <Paragraph> La responsabilidad de predicar ese falso <Bold>"</Bold>rapto<Bold>"</Bold> estriba en que
            adormecemos a
            nuestros hermanos con una mentira<Bold>,</Bold> y los privamos de poder utilizar los medios que Dios nos
            brinda<Bold>,</Bold> para protegernos de la Gran Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph> La responsabilidad por predicar la mentira del <Bold>"</Bold>Rapto anterior a la Gran
            Tribulación<Bold>"</Bold> es muy grande<Bold>.</Bold> Averigüemos la verdad para no mancharnos las
            manos con
            la sangre de nuestros hermanos a quienes engañamos<Bold>.</Bold> De toda palabra ociosa que
            hablemos<Bold>,</Bold> tendremos que dar cuenta el día del juicio<Bold>.</Bold></Paragraph>
        <Paragraph> En el libro <Bold>"Rapto Vs Arrebatamiento o Ficción Vs Realidad",</Bold> se <Bold>demuestra</Bold>
            que
            existe un arrebatamiento de los cristianos <Bold>después</Bold> de la Gran Tribulación<Bold>,</Bold>
            durante
            la Segunda Venida de Nuestro Señor Jesucristo<Bold>;</Bold> pero que <Bold>no</Bold> existe un rapto
            <Bold>anterior</Bold> a la Gran Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph> Dios promete a sus hijos librarlos de la G<Bold>.</Bold> T<Bold>.,</Bold> pero ellos tienen que
            estar alerta
            sobre qué es lo que tienen que hacer<Bold>;</Bold> al igual que los cristianos del primer siglo tenían
            que estar
            alerta para huir cuando vieran a Jerusalem cercada de ejércitos<Bold>,</Bold> según les advirtió
            Jesús<Bold>.</Bold></Paragraph>
        <Paragraph> El <Bold>"</Bold>rapto anterior a la Gran Tribulación<Bold>"</Bold> es un engaño<Bold>,</Bold>
            como lo
            advirtió San Pablo cuando dijo<Bold>:</Bold> <Bold>"</Bold><i>No os engañe nadie en ninguna
                manera<Bold>,</Bold> porque <Bold>no</Bold> vendrá sin que venga <Bold>antes</Bold> la
                apostasía y
                se manifieste <Bold>el hombre de pecado, el hijo de perdición</Bold></i><Bold>."</Bold></Paragraph>
        <Paragraph> Pablo sabía que iban a tratar de engañar a los hermanos<Bold>,</Bold> respecto a que Cristo iba a venir
            a
            buscarnos antes de la aparición del antiCristo<Bold>.</Bold> Este es un asunto de vital
            importancia<Bold>;</Bold> lea el libro <Bold>"Rapto Vs Arrebatamiento o Ficción Vs Realidad".</Bold>
            Si
            usted tiene interés en esta obra puede pedirla a <Bold>Rafael Luis Serralta-Nogués</Bold> y se le
            enviará
            completamente gratis<Bold>.</Bold> Puede enviar un E-Mail a
            rlserralta@netzero<Bold>.</Bold>net<Bold>,</Bold> o escribir al P<Bold>.</Bold>
            O<Bold>.</Bold> Box
            655126 Miami<Bold>,</Bold> FL 33265-5126<Bold>.</Bold> Asimismo puede bajar éste y otros
            libros<Bold>,</Bold> de nuestro Website
            www<Bold>.</Bold>bibleserralta<Bold>.</Bold>com<Bold>;</Bold> pues como dijo Pablo
            <Bold>"</Bold><i>Examinadlo
                todo<Bold>,</Bold> retened lo bueno</i><Bold>".</Bold></Paragraph>
        <Paragraph> En este website también encontrará<Bold>,</Bold> <Bold>tanto en español como en inglés,</Bold> una
            serie de
            artículos sobre diversos errores que se han introducido en el cristianismo<Bold>,</Bold> y cómo defender
            la
            verdadera doctrina cristiana<Bold>.</Bold></Paragraph>
        <Paragraph> Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de
            torcer<Bold>;</Bold>
            o temas que son difíciles de interpretar<Bold>.</Bold> Vale la pena leerlos<Bold>.</Bold> Usted
            puede usar
            el material que aquí hay para ayudar a otros<Bold>;</Bold> especialmente a los miembros de su
            iglesia<Bold>.</Bold> A menudo hallará usted aquí una nueva <Bold>"</Bold>Nota
            Bíblica<Bold>".</Bold>
            Visítenos con frecuencia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Es un patrón de conducta de Nuestro Señor Dios, el dar siempre a los suyos oportunidad de
            escape,</Bold>
            cuando Él envía una hecatombe<Bold>.</Bold> Ese beneficio se obtiene siempre y cuando Su gente esté
            atenta a las
            señales que Él ha dado en su palabra<Bold>,</Bold> para anunciar la inminencia de la
            tragedia<Bold>.</Bold>
            Dios va a librar de la Gran Tribulación a sus siervos que estén alerta a su palabra<Bold>,</Bold> pero
            <Bold>no
                los librará sacándolos del planeta por medio de ese supuesto rapto anterior a la Gran
                Tribulación,</Bold> sino
            dándoles la oportunidad de refugiarse en lo que el Señor Jesucristo revela con el nombre de
            <Bold>"</Bold>desierto<Bold>".</Bold>
            Esto lo pruebo en el capítulo 6 del mencionado libro<Bold>.</Bold></Paragraph>
        <Paragraph> Creer en el Rapto antes de la Gran Tribulación es como creer que la Tierra es plana<Bold>.</Bold> Tratar
            de
            ayudar a una persona a abandonar un error que le enseñaron desde que nació es tarea muy
            difícil<Bold>,</Bold>
            porque ese concepto se ha impregnado en su mente y en su personalidad<Bold>.</Bold></Paragraph>
        <Paragraph> Esa fue la enorme dificultad que encontró Cristóbal Colón para convencer a los <Bold>profesores y
            sabios</Bold>
            de la Universidad de Salamanca<Bold>,</Bold> de que por ser la Tierra redonda<Bold>,</Bold> y no
            plana<Bold>,</Bold> como ellos creían<Bold>,</Bold> él podía ir a buscar la India navegando hacia el
            oeste y
            no hacia el este<Bold>.</Bold> Como que esos profesores y sabios habían crecido con el error de creer
            que la
            Tierra era plana<Bold>,</Bold> y como además<Bold>,</Bold> todo el mundo
            <Bold>"</Bold>sabía<Bold>"</Bold> que la Tierra era plana<Bold>,</Bold> no se dejaron convencer
            por
            Colón<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La doctrina del Rapto antes de la Gran Tribulación</Bold> cae en esa categoría de errores
            aprendidos desde
            el nacimiento<Bold>.</Bold> Esta doctrina basa su supervivencia en cambiar el significado de palabras y
            frases<Bold>,</Bold> tal y como hace con <Bold>"</Bold>primera<Bold>",</Bold>
            <Bold>"</Bold>final<Bold>",</Bold> <Bold>"</Bold>un abrir de ojo<Bold>",</Bold>
            <Bold>"</Bold>santos<Bold>",</Bold>
            <Bold>"</Bold>segunda<Bold>",</Bold> <Bold>"</Bold>iglesia<Bold>",</Bold>
            <Bold>"</Bold>venida<Bold>",</Bold> etc<Bold>.,</Bold> todo lo cual demostraré a lo largo del
            libro que
            les aconsejo leer<Bold>.</Bold></Paragraph>
        <Paragraph> Son pocos los que desean ni siquiera discutir el asunto<Bold>.</Bold> Les lastima su zona de
            confort<Bold>,</Bold> les obliga a razonar<Bold>,</Bold> les obliga a disentir de su secta y de sus
            amigos<Bold>,</Bold> pues todos creen en ese <Bold>"</Bold>Rapto<Bold>"</Bold> previo a la Gran
            Tribulación<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si fuéramos a creer que porque mucha gente cree algo, eso debe ser la verdad,</Bold> entonces en
            vez de ser
            cristianos evangélicos<Bold>,</Bold> debíamos ser católicos<Bold>,</Bold> budistas<Bold>,</Bold>
            o
            animistas<Bold>,</Bold> porque cualquiera de esas tres creencias son compartidas por mucho mayor número
            de gente
            que las creencias nuestras<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La casi totalidad de los hermanos que enseñan esta dañina doctrina del rapto anterior a la G. T., lo
            hacen en
            inocencia,</Bold> porque ellos a su vez<Bold>,</Bold> desde que nacieron al
            evangelio<Bold>,</Bold> fueron
            enseñados en ella<Bold>,</Bold> se les inculcó<Bold>;</Bold> es decir<Bold>,</Bold> han sido
            engañados
            ellos mismos<Bold>.</Bold> Pero pueden desembarazarse de esa falacia si hacen un pequeño
            esfuerzo<Bold>:</Bold> el analizar lo que otros<Bold>,</Bold> que no opinan igual<Bold>,</Bold>
            digan
            sobre el tema<Bold>.</Bold> En este caso pueden analizar lo dicho en este libro<Bold>.</Bold> Vale
            la pena
            que hagan el esfuerzo<Bold>,</Bold> no solamente por ustedes mismos<Bold>,</Bold> sino por la
            terrible
            responsabilidad que significa el engañar a otros<Bold>.</Bold></Paragraph>
        <Paragraph> Dios siempre ha provisto un escape para su pueblo<Bold>.</Bold> Ese escape siempre ha estado
            condicionado a que
            sus santos conocieran la palabra de Dios y estuvieran atentos a los eventos y circunstancias que les
            rodeaban<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    