---
import Layout from "../layout/Layout.astro";
---

<Layout title="Peligro de creer que el Rapto ocurrirá antes de la Gran Tribulación">
    <section>
        <p><strong>Peligro de creer que el Rapto ocurrirá antes de la Gran Tribulación</strong></p>
        <p><strong>San Pablo dijo: <i>Examinadlo todo, retened lo bueno</i></strong></p>
        <p><strong>El peligro de creer que la Iglesia será raptada antes de la Gran Tribulación,</strong> estriba en que
            el
            cristiano deja de estar alerta a la profecía y a las circunstancias que le rodean<strong>.</strong> Si
            estuvieran
            alerta<strong>,</strong> pudieran escapar<strong>,</strong> como nos instruye el Señor<strong>.</strong> Los
            cristianos del primer siglo tenían que estar alerta para huir cuando vieran a Jerusalem cercada de ejércitos<strong>,</strong>
            según les advirtió Jesús<strong>.</strong> Si un hermano confía en un
            <strong>"</strong>rapto<strong>"</strong> que
            no ha de venir antes de la Gran Tribulación<strong>,</strong> va a ser víctima del error que le
            inculcaron<strong>.</strong></p>
        <p> La responsabilidad de predicar ese falso <strong>"</strong>rapto<strong>"</strong> estriba en que
            adormecemos a
            nuestros hermanos con una mentira<strong>,</strong> y los privamos de poder utilizar los medios que Dios nos
            brinda<strong>,</strong> para protegernos de la Gran Tribulación<strong>.</strong></p>
        <p> La responsabilidad por predicar la mentira del <strong>"</strong>Rapto anterior a la Gran
            Tribulación<strong>"</strong> es muy grande<strong>.</strong> Averigüemos la verdad para no mancharnos las
            manos con
            la sangre de nuestros hermanos a quienes engañamos<strong>.</strong> De toda palabra ociosa que
            hablemos<strong>,</strong> tendremos que dar cuenta el día del juicio<strong>.</strong></p>
        <p> En el libro <strong>"Rapto Vs Arrebatamiento o Ficción Vs Realidad",</strong> se <strong>demuestra</strong>
            que
            existe un arrebatamiento de los cristianos <strong>después</strong> de la Gran Tribulación<strong>,</strong>
            durante
            la Segunda Venida de Nuestro Señor Jesucristo<strong>;</strong> pero que <strong>no</strong> existe un rapto
            <strong>anterior</strong> a la Gran Tribulación<strong>.</strong></p>
        <p> Dios promete a sus hijos librarlos de la G<strong>.</strong> T<strong>.,</strong> pero ellos tienen que
            estar alerta
            sobre qué es lo que tienen que hacer<strong>;</strong> al igual que los cristianos del primer siglo tenían
            que estar
            alerta para huir cuando vieran a Jerusalem cercada de ejércitos<strong>,</strong> según les advirtió
            Jesús<strong>.</strong></p>
        <p> El <strong>"</strong>rapto anterior a la Gran Tribulación<strong>"</strong> es un engaño<strong>,</strong>
            como lo
            advirtió San Pablo cuando dijo<strong>:</strong> <strong>"</strong><i>No os engañe nadie en ninguna
                manera<strong>,</strong> porque <strong>no</strong> vendrá sin que venga <strong>antes</strong> la
                apostasía y
                se manifieste <strong>el hombre de pecado, el hijo de perdición</strong></i><strong>."</strong></p>
        <p> Pablo sabía que iban a tratar de engañar a los hermanos<strong>,</strong> respecto a que Cristo iba a venir
            a
            buscarnos antes de la aparición del antiCristo<strong>.</strong> Este es un asunto de vital
            importancia<strong>;</strong> lea el libro <strong>"Rapto Vs Arrebatamiento o Ficción Vs Realidad".</strong>
            Si
            usted tiene interés en esta obra puede pedirla a <strong>Rafael Luis Serralta-Nogués</strong> y se le
            enviará
            completamente gratis<strong>.</strong> Puede enviar un E-Mail a
            rlserralta@netzero<strong>.</strong>net<strong>,</strong> o escribir al P<strong>.</strong>
            O<strong>.</strong> Box
            655126 Miami<strong>,</strong> FL 33265-5126<strong>.</strong> Asimismo puede bajar éste y otros
            libros<strong>,</strong> de nuestro Website
            www<strong>.</strong>bibleserralta<strong>.</strong>com<strong>;</strong> pues como dijo Pablo
            <strong>"</strong><i>Examinadlo
                todo<strong>,</strong> retened lo bueno</i><strong>".</strong></p>
        <p> En este website también encontrará<strong>,</strong> <strong>tanto en español como en inglés,</strong> una
            serie de
            artículos sobre diversos errores que se han introducido en el cristianismo<strong>,</strong> y cómo defender
            la
            verdadera doctrina cristiana<strong>.</strong></p>
        <p> Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de
            torcer<strong>;</strong>
            o temas que son difíciles de interpretar<strong>.</strong> Vale la pena leerlos<strong>.</strong> Usted
            puede usar
            el material que aquí hay para ayudar a otros<strong>;</strong> especialmente a los miembros de su
            iglesia<strong>.</strong> A menudo hallará usted aquí una nueva <strong>"</strong>Nota
            Bíblica<strong>".</strong>
            Visítenos con frecuencia<strong>.</strong></p>
        <p><strong>Es un patrón de conducta de Nuestro Señor Dios, el dar siempre a los suyos oportunidad de
            escape,</strong>
            cuando Él envía una hecatombe<strong>.</strong> Ese beneficio se obtiene siempre y cuando Su gente esté
            atenta a las
            señales que Él ha dado en su palabra<strong>,</strong> para anunciar la inminencia de la
            tragedia<strong>.</strong>
            Dios va a librar de la Gran Tribulación a sus siervos que estén alerta a su palabra<strong>,</strong> pero
            <strong>no
                los librará sacándolos del planeta por medio de ese supuesto rapto anterior a la Gran
                Tribulación,</strong> sino
            dándoles la oportunidad de refugiarse en lo que el Señor Jesucristo revela con el nombre de
            <strong>"</strong>desierto<strong>".</strong>
            Esto lo pruebo en el capítulo 6 del mencionado libro<strong>.</strong></p>
        <p> Creer en el Rapto antes de la Gran Tribulación es como creer que la Tierra es plana<strong>.</strong> Tratar
            de
            ayudar a una persona a abandonar un error que le enseñaron desde que nació es tarea muy
            difícil<strong>,</strong>
            porque ese concepto se ha impregnado en su mente y en su personalidad<strong>.</strong></p>
        <p> Esa fue la enorme dificultad que encontró Cristóbal Colón para convencer a los <strong>profesores y
            sabios</strong>
            de la Universidad de Salamanca<strong>,</strong> de que por ser la Tierra redonda<strong>,</strong> y no
            plana<strong>,</strong> como ellos creían<strong>,</strong> él podía ir a buscar la India navegando hacia el
            oeste y
            no hacia el este<strong>.</strong> Como que esos profesores y sabios habían crecido con el error de creer
            que la
            Tierra era plana<strong>,</strong> y como además<strong>,</strong> todo el mundo
            <strong>"</strong>sabía<strong>"</strong> que la Tierra era plana<strong>,</strong> no se dejaron convencer
            por
            Colón<strong>.</strong></p>
        <p><strong>La doctrina del Rapto antes de la Gran Tribulación</strong> cae en esa categoría de errores
            aprendidos desde
            el nacimiento<strong>.</strong> Esta doctrina basa su supervivencia en cambiar el significado de palabras y
            frases<strong>,</strong> tal y como hace con <strong>"</strong>primera<strong>",</strong>
            <strong>"</strong>final<strong>",</strong> <strong>"</strong>un abrir de ojo<strong>",</strong>
            <strong>"</strong>santos<strong>",</strong>
            <strong>"</strong>segunda<strong>",</strong> <strong>"</strong>iglesia<strong>",</strong>
            <strong>"</strong>venida<strong>",</strong> etc<strong>.,</strong> todo lo cual demostraré a lo largo del
            libro que
            les aconsejo leer<strong>.</strong></p>
        <p> Son pocos los que desean ni siquiera discutir el asunto<strong>.</strong> Les lastima su zona de
            confort<strong>,</strong> les obliga a razonar<strong>,</strong> les obliga a disentir de su secta y de sus
            amigos<strong>,</strong> pues todos creen en ese <strong>"</strong>Rapto<strong>"</strong> previo a la Gran
            Tribulación<strong>.</strong></p>
        <p><strong>Si fuéramos a creer que porque mucha gente cree algo, eso debe ser la verdad,</strong> entonces en
            vez de ser
            cristianos evangélicos<strong>,</strong> debíamos ser católicos<strong>,</strong> budistas<strong>,</strong>
            o
            animistas<strong>,</strong> porque cualquiera de esas tres creencias son compartidas por mucho mayor número
            de gente
            que las creencias nuestras<strong>.</strong></p>
        <p><strong>La casi totalidad de los hermanos que enseñan esta dañina doctrina del rapto anterior a la G. T., lo
            hacen en
            inocencia,</strong> porque ellos a su vez<strong>,</strong> desde que nacieron al
            evangelio<strong>,</strong> fueron
            enseñados en ella<strong>,</strong> se les inculcó<strong>;</strong> es decir<strong>,</strong> han sido
            engañados
            ellos mismos<strong>.</strong> Pero pueden desembarazarse de esa falacia si hacen un pequeño
            esfuerzo<strong>:</strong> el analizar lo que otros<strong>,</strong> que no opinan igual<strong>,</strong>
            digan
            sobre el tema<strong>.</strong> En este caso pueden analizar lo dicho en este libro<strong>.</strong> Vale
            la pena
            que hagan el esfuerzo<strong>,</strong> no solamente por ustedes mismos<strong>,</strong> sino por la
            terrible
            responsabilidad que significa el engañar a otros<strong>.</strong></p>
        <p> Dios siempre ha provisto un escape para su pueblo<strong>.</strong> Ese escape siempre ha estado
            condicionado a que
            sus santos conocieran la palabra de Dios y estuvieran atentos a los eventos y circunstancias que les
            rodeaban<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    