---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Motivos por los cuales la gente no quiere saber la verdad">
    <Tag>#131</Tag>
    <Content>
        <Paragraph><Bold>Motivos por los cuales la gente no quiere saber la verdad</Bold></Paragraph>
        <Paragraph> El no querer salir de un error le sucede al ser humano<Bold>,</Bold> por la mezcla de sentimientos en el
            proceso
            del razonamiento<Bold>.</Bold></Paragraph>
        <Paragraph> He observado a través de mi vida al humano <Bold>tratando de justificar muchas cosas mediante torcidas
            interpretaciones</Bold> de lo que leen<Bold>,</Bold> bien sea las noticias<Bold>,</Bold> en
            cuestiones de
            leyes<Bold>,</Bold> o en la Biblia<Bold>.</Bold> Las razones que los mueven a hacer eso son muy
            diversas<Bold>,</Bold> tanto en la vida común como en las cuestiones de religión<Bold>.</Bold>
            Veamos éstas
            últimas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 1) Temor a ofender a Dios</Bold> si duda de lo que le enseñaron los hombres<Bold>,</Bold> y lo
            somete
            al raciocinio<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 2) Temor a encontrar una verdad</Bold> que a él se le antoja pudiera ser muy difícil de
            cargar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 3) Temor a cambiar de doctrina</Bold> y entonces tener que enfrentarse a los que antes pensaban
            como
            él<Bold>,</Bold> y que lo consideren un traidor<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 4) Orgullo,</Bold> resistencia a admitir que estaba errado y que no había utilizado adecuadamente
            sus
            facultades mentales<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>5) Temor a lo que para él es nuevo,</Bold> sin saber por qué teme<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>6) Otros lo que quieren es tener "algo nuevo" para predicar, a fin de justificar su separación de su
            iglesia,</Bold> o que justifique una nueva secta que él quiere formar o mantener<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> 7) Otro motivo es justificarse ante sí mismo</Bold> en cuanto a seguir admitiendo algo que su
            conciencia o
            su intelecto le dice que no está correcto<Bold>,</Bold> pero que a él<Bold>:</Bold>
            <Bold>a)</Bold> le
            conviene su existencia<Bold>;</Bold> o <Bold>b)</Bold> el admitir la interpretación que no es
            torcida lo
            pone en el disparadero de oponerse a los demás que creen torcidamente<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>8) Justificar prejuicios sociales, sexuales o raciales.</Bold> En época de la esclavitud africana
            había
            quienes decían que los negros no tenían alma<Bold>,</Bold> para así poder justificar lo que se hacía en
            su
            ambiente<Bold>.</Bold> Otros justificaban todo aquello asegurando<Bold>,</Bold> sin base bíblica
            para
            ello<Bold>,</Bold> que la maldición de Noé para Cam era la que había provocado la esclavitud
            negra<Bold>.</Bold> Hubo un pastor americano del sur<Bold>,</Bold> siendo yo muy
            joven<Bold>,</Bold> que
            me trató de <Bold>"</Bold>demostrar<Bold>"</Bold> que los negros eran burlones<Bold>,</Bold>
            según
            él<Bold>,</Bold> por la herencia de Cam<Bold>,</Bold> que se burló de la desnudez de
            Noé<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>9) Desear mantenerse "ignorante",</Bold> o al menos <Bold>"</Bold>escéptico<Bold>"</Bold>
            sobre la
            vigencia de una norma de conducta o religión para no sentirse obligado a cumplirla<Bold>,</Bold> ni
            sentirse mal
            por no cumplirla<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>10) El justificar su pecado haciéndose creer a sí mismo que el entiende la religión o la Biblia de
            otra
            manera.</Bold> Este fue el caso de un pastor que ampliaba tanto el concepto del perdón y de la
            gracia<Bold>,</Bold> que incluía en ese concepto el adulterio continuado de su esposa<Bold>,</Bold>
            y el
            repulsivo consentimiento de él a semejante pecado<Bold>.</Bold> Para justificarse<Bold>,</Bold> él
            decía que
            yo me guiaba por la ley<Bold>,</Bold> pero que él estaba bajo la gracia<Bold>.</Bold> (De todos
            estos casos
            que menciono puedo decir sus nombres y sus sectas<Bold>;</Bold> si no lo hago es por no hacer daño
            innecesariamente)<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>11) El figurarse que modificar su creencia de muchos años,</Bold> adquirida desde
            niño<Bold>,</Bold>
            por tradición familiar<Bold>,</Bold> o cuando se convirtió al evangelio<Bold>,</Bold> puede hacer
            peligrar
            su salvación<Bold>,</Bold> o el concepto que él cree que Dios tiene de él y de su
            <Bold>"</Bold>fe<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>12) La falta de confianza en su propio análisis de la palabra de Dios,</Bold> lo cual le hace
            imaginarse
            que toda cosa nueva que le entre en la mente<Bold>,</Bold> toda idea nueva que se le
            sugiera<Bold>,</Bold>
            es una <Bold>"</Bold>prueba<Bold>"</Bold> a que Dios lo somete<Bold>,</Bold> para ver si él se
            mantiene
            <Bold>"</Bold>firme<Bold>".</Bold> Otros piensan que es una <Bold>"</Bold>tentación del
            demonio<Bold>".</Bold>
            Esto lo decía a sus feligreses el cura de un pueblo que yo visitaba frecuentemente<Bold>,</Bold>
            respecto a la
            predicación de los evangélicos del lugar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>13) Confundir la obcecación con la fe,</Bold> y catalogar el razonar sobre la palabra de
            Dios<Bold>,</Bold> como una duda pecaminosa<Bold>,</Bold> como una debilidad en la
            fe<Bold>,</Bold> y
            una tentación<Bold>.</Bold> Un cristiano de muchos años<Bold>,</Bold> lector de la Biblia y con
            cultura
            universitaria me garantizaba que razonar sobre religión es un pecado<Bold>,</Bold> y que el usar la
            lógica es
            una cosa diabólica<Bold>.</Bold> Él no quería ver que Cristo usaba la lógica en su
            predicación<Bold>,</Bold>
            y que Pablo llena la epístola a los Hebreos con razonamientos<Bold>.</Bold> Para él<Bold>,</Bold> su
            aferramiento y su estolidez<Bold>,</Bold> es una fe titánica<Bold>;</Bold> él se consideraba un
            titán de la
            fe<Bold>,</Bold> porque se resistía a razonar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>14) Otros no desean llegar a la verdad porque esto los privaría de pertenecer a un grupo
            élite,</Bold>
            exclusivista<Bold>,</Bold> un grupito de <Bold>"</Bold>elegidos<Bold>"</Bold> que pueden mirar a
            los
            demás por encima del hombro con <Bold>"</Bold>justificación divina<Bold>".</Bold> Así son los
            ruselistas<Bold>,</Bold> que se creen que van a ser los presidentes<Bold>,</Bold>
            senadores<Bold>,</Bold> gobernadores<Bold>,</Bold> alcaldes<Bold>,</Bold> etc<Bold>.,</Bold>
            de los
            países<Bold>,</Bold> cuando venga el <Bold>"</Bold>nuevo orden<Bold>".</Bold> Algo parecido
            hacen
            algunos judíos<Bold>,</Bold> que pretenden justificar con su religión<Bold>,</Bold> sus pujos de
            superioridad racial<Bold>,</Bold> al igual que los nazis justificaban la suya con su
            <Bold>"</Bold>religión<Bold>"</Bold> nazista y con su ídolo Hitler<Bold>.</Bold> Una religión de
            igualdad racial como la cristiana no llama la atención de los que tienen una religión en la que su
            raza<Bold>,</Bold> o cierto grupo es superior a los demás<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>15) Estar tan embebidos en un pecado o concupiscencia</Bold> que nos ha acompañado toda la vida a
            nosotros
            como personas<Bold>,</Bold> o a nosotros como miembros de la sociedad<Bold>,</Bold> que no nos damos
            cuenta
            de que lo tenemos<Bold>.</Bold> No nos damos cuenta de que es pecado<Bold>,</Bold> pues lo creemos
            parte
            natural de la vida<Bold>.</Bold> Es como decirle a un pez que él está mojado<Bold>;</Bold> no nos
            entendería<Bold>,</Bold>
            porque nunca ha visto nada ni nadie seco<Bold>.</Bold> No podría siquiera imaginar qué significa talco
            seco<Bold>,</Bold> o harina de trigo seca<Bold>.</Bold> Igualmente<Bold>,</Bold> el que de tanto
            tenerla<Bold>,</Bold>
            da una concupiscencia por cosa natural de la vida<Bold>,</Bold> no comprende<Bold>,</Bold> o tuerce
            las
            claras explicaciones o mandatos que la palabra de Dios da en sentido contrario<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    