---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las pasiones nublan el raciocinio">
    <Tag>#132</Tag>
    <Content>
        <Paragraph><Bold>Las pasiones nublan el raciocinio</Bold></Paragraph>
        <Paragraph> El odio<Bold>,</Bold> la codicia<Bold>,</Bold> la envidia<Bold>,</Bold> la
            lujuria<Bold>,</Bold> la
            ira<Bold>,</Bold> la soberbia<Bold>,</Bold> etc<Bold>.,</Bold> son sentimientos negativos que
            pueden
            fácilmente convertirse en pasiones<Bold>.</Bold> En general<Bold>,</Bold> las pasiones nublan la
            inteligencia<Bold>,</Bold> aún las buenas pasiones<Bold>,</Bold> cuanto más las
            malas<Bold>.</Bold> El
            caso de Balaam es muy aleccionador<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Dos pasiones se habían apoderado de Balaam:</Bold> la codicia primero y la ira
            después<Bold>.</Bold>
            Tan nublado se hallaba el entendimiento de Balaam por la pasión que le embargaba (ira<Bold>,</Bold>
            soberbia)<Bold>,</Bold> que no se dio cuenta de que su burra estaba dialogando con él<Bold>.</Bold>
            El caso
            de que una burra hable es tan inusual<Bold>,</Bold> que era para que desde el primer momento en que la
            burra le
            preguntó <Bold>"¿</Bold>que te he hecho<Bold>?",</Bold> Balaam<Bold>,</Bold> asombrado y hasta
            espantado<Bold>,</Bold>
            hubiera depuesto su actitud<Bold>.</Bold> Pero su iracunda pasión era tan grande y tanto le dominaba el
            intelecto<Bold>,</Bold> que se puso a discutir con la burra sin percatarse que estaba presenciando un
            milagro<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>28 <i>Entonces <Bold>Jehová abrió la boca al asna, la cual dijo a Balaam:</Bold>
            <Bold>¿</Bold>Qué te he hecho<Bold>,</Bold> que me has herido estas tres veces<Bold>?</Bold></i>
            29
            <Bold>Y Balaam respondió al asna:</Bold> <i>Porque te has burlado de mí<Bold>;</Bold> ¡ojalá tuviera
                espada
                en mi mano<Bold>,</Bold> que ahora te mataría!</i> 30 <Bold>Y el asna dijo a Balaam:</Bold>
            <i><Bold>¿</Bold>No soy yo tu asna<Bold>?</Bold> Sobre mí has cabalgado desde que tú me tienes hasta
                este
                día<Bold>;</Bold> <Bold>¿</Bold>he acostumbrado a hacerlo así contigo<Bold>?</Bold> <Bold>Y
                    él
                    respondió: No</Bold></i><Bold>."</Bold> (Nm 22<Bold>:</Bold>28-30)</Paragraph>
        <Paragraph> Las pasiones (soberbia<Bold>,</Bold> vanidad<Bold>,</Bold> engreimiento<Bold>,</Bold>
            miedo<Bold>,</Bold> rencor<Bold>,</Bold> envidia<Bold>,</Bold> codicia<Bold>,</Bold>
            etc<Bold>.</Bold>) ciegan el entendimiento del ser humano<Bold>.</Bold> Cada vez que he discutido
            con
            alguien que rehúsa entender argumentos claros<Bold>,</Bold> y claramente expuestos<Bold>,</Bold> he
            podido
            ver interpuesta entre nosotros<Bold>,</Bold> una o más pasiones por parte de mi
            interlocutor<Bold>.</Bold>
            Me ha tocado discutir con muchos burros<Bold>,</Bold> que lo son por entregarse a las
            pasiones<Bold>.</Bold>
            Y si bien estos burros hablan sin milagro alguno<Bold>,</Bold> se requiere un verdadero milagro para que
            estos
            burros razonen<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Otro caso bíblico</Bold> de una o más pasiones nublando la inteligencia<Bold>,</Bold> es el de
            los
            sacerdotes y la resurrección de Lázaro<Bold>.</Bold></Paragraph>
        <Paragraph> Ha sido una observación mía por muchos años (décadas)<Bold>,</Bold> que cuando algún tipo de sentimiento
            se
            mezcla en el análisis de un asunto<Bold>,</Bold> el humano no puede aplicar la lógica y el
            raciocinio<Bold>,</Bold> o sólo lo hace parcialmente<Bold>.</Bold> Esta dificultad se hace mayor
            cuanto
            mayor es el sentimiento que se mezcla<Bold>,</Bold> llegando a hacer crisis cuando el sentimiento llega
            a
            convertirse en pasión<Bold>,</Bold> y ésta<Bold>,</Bold> en pasión desordenada y sin
            freno<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Este fue el caso de los príncipes de los sacerdotes en este pasaje<Bold>.</Bold> <Bold>La pasión de
            ellos era
            el odio, por el temor de que Jesucristo los desplazara a ellos de su posición sacerdotal de
            preeminencia.</Bold>
            Su odio era tanto<Bold>,</Bold> que en vez de razonar que quien había resucitado a Lázaro tenía que
            provenir de
            Dios<Bold>,</Bold> lo que se les ocurre es matar a Lázaro<Bold>,</Bold> porque éste constituía la
            prueba
            viviente de que ellos estaban equivocados al no aceptar a Jesús como Mesías<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>Entonces mucha gente de los judíos entendió que él estaba allí<Bold>;</Bold> y
            vinieron no
            solamente por causa de Jesús<Bold>,</Bold> <Bold>mas también por ver a Lázaro,</Bold> al cual había
            resucitado de los muertos<Bold>.</Bold></i> 10 <Bold>Consultaron asimismo los príncipes de los
            sacerdotes, de
            matar también a Lázaro;</Bold> 11 <Bold>porque muchos de los judíos iban y creían en Jesús por causa de
            él</Bold><Bold>."</Bold> (Jn 12<Bold>:</Bold>9-11)</Paragraph>
        <Paragraph> Cualquiera pudiera creer que es imposible tan total colapso del raciocinio<Bold>,</Bold> pero no
            pensaría igual
            si como yo<Bold>,</Bold> hubiera observado cómo incluso a una persona se le atrofia la facultad de
            razonar de
            mero no usarla por años<Bold>.</Bold> Los he conocido que solamente razonan con lógica en su giro de
            actividad<Bold>,</Bold> en su oficio o profesión<Bold>,</Bold> en donde fueron adiestrados a hacerlo
            antes
            de que ciertas pasiones se apoderaran de ellos<Bold>.</Bold></Paragraph>
        <Paragraph> Los he conocido que <Bold>por vagancia mental han atrofiado esa bella facultad humana,</Bold> hasta el
            punto de
            no poder usarla en nada que no sea lo que ya constituye un camino trillado en su sistema
            nervioso<Bold>.</Bold>
            Trillo este fabricado más bien que por reacciones volitivas<Bold>,</Bold> por reflejos defensivos para
            la
            supervivencia en sociedad<Bold>.</Bold> Desarrollan así una astucia felina que luego no se conjuga con
            su
            actividad mental y su inteligencia deficientes<Bold>,</Bold> fuera de la esfera de actividades
            correspondientes
            a su supervivencia social<Bold>.</Bold></Paragraph>
        <Paragraph> Ejemplos de esto serían la capacidad para los negocios<Bold>,</Bold> para la mentira<Bold>,</Bold>
            para
            halagar y obtener lo que quieren<Bold>,</Bold> para conquistar al sexo opuesto<Bold>,</Bold> para su
            oficio<Bold>,</Bold> etc<Bold>..</Bold> Son increíblemente sagaces para un determinado giro de
            actividad<Bold>,</Bold> relacionada con el tipo de supervivencia social que han
            elegido<Bold>,</Bold> y son
            a la vez increíblemente incapaces de razonar en ningún otro sentido<Bold>.</Bold></Paragraph>
        <Paragraph> Tal vez la explicación de esta anómala polarización en el uso del raciocinio<Bold>,</Bold> sea el que
            fueron
            adiestrados a razonar sin dar lugar a las pasiones sólo en ese giro de actividad<Bold>,</Bold> cuando
            aún eran
            niños o muy jóvenes<Bold>.</Bold> También pudiera explicarlo el hecho de que fueron instruidos a aceptar
            dogmáticamente las premisas en que se basa su oficio o giro de actividad<Bold>.</Bold> Por suerte para
            ellos
            esas premisas eran ciertas<Bold>,</Bold> y a partir de ahí<Bold>,</Bold> con un rudimentario proceso
            de
            raciocinio<Bold>,</Bold> pueden llegar a conclusiones correctas<Bold>.</Bold> Sobre todo porque en
            la mayor
            parte de los casos<Bold>,</Bold> también se les inculcó en aquella temprana edad el uso de la razón
            mecánicamente<Bold>,</Bold> a partir de las premisas antes mencionadas<Bold>.</Bold></Paragraph>
        <Paragraph> No es que <Bold>no puedan</Bold> razonar<Bold>,</Bold> es que hacen dejación de esa
            facultad<Bold>,</Bold> porque los lleva a desagradables conclusiones<Bold>,</Bold> y prefieren
            refugiarse en
            lo instintivo y / o en el uso de procesos de <Bold>razonamiento condicionado,</Bold> que
            existen<Bold>,</Bold> tal y como existe el reflejo condicionado<Bold>.</Bold></Paragraph>
        <Paragraph> Los tipos de sentimientos y pasiones que obnubilan el raciocinio son muchos<Bold>:</Bold> el instinto de
            conservación<Bold>,</Bold> el orgullo<Bold>,</Bold> la soberbia<Bold>,</Bold> el
            odio<Bold>,</Bold>
            la frustración<Bold>,</Bold> la envidia<Bold>,</Bold> el egoísmo<Bold>,</Bold> la
            ira<Bold>,</Bold>
            el exceso de amor hacia algo o alguien<Bold>,</Bold> el delirio de grandeza<Bold>,</Bold> la pasión
            por la
            fama<Bold>,</Bold> la egolatría<Bold>,</Bold> etc<Bold>..</Bold> <Bold>Todo esto puede
                condensarse en
                dos causas primarias o fundamentales: o no se ama a Dios por sobre todas las cosas, o no se ama al
                prójimo como
                a uno mismo, o ambas.</Bold></Paragraph>
        <Paragraph> Al fallar esto<Bold>,</Bold> se ama al hijito propio tanto<Bold>,</Bold> en comparación con el ajeno<Bold>,</Bold>
            que el humano no puede ver que su hijo <Bold>no</Bold> es el que tiene la razón<Bold>.</Bold> Puede
            darse el
            caso contrario<Bold>,</Bold> por amarse tanto a sí mismo<Bold>,</Bold> teme tanto un enfrentamiento
            con el
            padre del otro niño<Bold>,</Bold> que le quita la razón al suyo y no puede ver<Bold>,</Bold> o no
            quiere ver
            que la tiene<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Las masas llenas de envidia</Bold> odian al rico aunque nada conozcan de él<Bold>;</Bold> le
            dan la
            razón al que lo ataca aunque no conozcan el caso<Bold>.</Bold> El rico ególatra no concibe la
            resistencia del
            pobre a sus caprichos<Bold>.</Bold> <Bold>¿</Bold>No te ves tú quien eres<Bold>?,</Bold> piensa
            el
            personaje importante en su trato con el de menos valor social<Bold>.</Bold> Se creen de verdad con
            derecho a
            disfrutar de lujos excesivos a costa del hambre de otros<Bold>.</Bold> <Bold>"</Bold>Los pobres
            están
            acostumbrados a esa vida y no necesitan salir de ella<Bold>",</Bold> piensan<Bold>,</Bold> mientras
            le sacan
            más jugo a los de abajo<Bold>.</Bold> La codicia<Bold>,</Bold> el orgullo<Bold>,</Bold> y demás
            pasiones
            no les dejan ver que se hallan en el borde del precipicio de una conmoción social<Bold>,</Bold> y por
            eso al fin
            la sufren<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si los que tienen su inteligencia nublada por medio de las pasiones nos permitieran llevarles el
            proceso de
            raciocinio hasta sus últimas consecuencias,</Bold> llegarían a verse sin justificación<Bold>.</Bold>
            <Bold>Por
                eso lo evitan.</Bold> Por eso no aceptan discutir sus opiniones blandiendo diversos
            <Bold>"</Bold>nobles<Bold>"</Bold> pretextos<Bold>.</Bold> Por medio de un procedimiento
            defensivo
            subconsciente<Bold>,</Bold> ellos mantienen el proceso de razonar en sus capas más
            superficiales<Bold>.</Bold></Paragraph>
        <Paragraph> En esas capas superficiales del raciocinio ya ellos han construido un andamiaje de razonamiento
            auto-justificador<Bold>.</Bold> Ese andamiaje auto-justificador pudiera tener consistencia lógica
            interna<Bold>,</Bold> pero basarse en premisas falsas<Bold>,</Bold> o en un sub-andamiaje sin
            consistencia
            lógica interna<Bold>.</Bold> Incluso<Bold>,</Bold> tal vez ese sub-andamiaje mencionado es
            lógico<Bold>,</Bold> pero puede que esté basado a su vez en un segundo sub-andamiaje<Bold>,</Bold>
            que es el
            que<Bold>,</Bold> o no tiene consistencia lógica interna<Bold>,</Bold> o está basado en falsas
            premisas<Bold>,</Bold> o ambas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En personas más inteligentes o más complejas,</Bold> hay que buscar a veces hasta un tercer o
            cuarto
            sub-andamiaje para poder llegar al origen de su error<Bold>,</Bold> o para hallar <Bold>la falsedad
                tras la
                cual ocultan su maldad.</Bold> Es a veces muy profundamente donde venimos a descubrirles la falsa
            premisa de
            la que parten<Bold>,</Bold> o el eslabón falso en su cadena de razonamiento<Bold>,</Bold> el eslabón
            roto
            que hace a una cadena inútil<Bold>.</Bold> Por eso se justifican con sus palabras<Bold>,</Bold> pero
            no
            permiten que nadie lleve el proceso de raciocinio lo suficientemente profundo como para que se descubra la
            falsedad
            de su aparente honestidad o justicia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Mientras más sub-andamiajes de razonamiento separen al error discutido</Bold> del sub-andamiaje sin
            consistencia lógica interna<Bold>,</Bold> o de la errada premisa que lo sustenta<Bold>,</Bold> tanto
            más
            difícil va a ser para el que quiere buscar la verdad<Bold>,</Bold> encontrarla<Bold>.</Bold> Y tanto
            más
            imposible va ser (admitamos el disparate gramatical)<Bold>,</Bold> demostrarle dónde está su
            error<Bold>,</Bold> al que no quiere hallar la verdad porque ésta le lastima<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Los príncipes de los sacerdotes no podían razonar</Bold> que Jesús tenía que ser el
            Mesías<Bold>;</Bold> no podían razonar que les convenía estar con el Mesías<Bold>;</Bold> sus
            pasiones<Bold>:</Bold> orgullo<Bold>,</Bold> vanidad<Bold>,</Bold> odio<Bold>,</Bold>
            egolatría<Bold>,</Bold> etc<Bold>.,</Bold> se lo impedían<Bold>.</Bold> Así también le sucede a
            los
            ángeles rebelados<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    