---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Pablo parece decirnos que él había sido irreprensible">
    <Title>Pablo parece decirnos que él había sido irreprensible en lo referente a la Ley de Dios, lo cual no es
            cierto</Title>

    <Tag>#133</Tag>
    <Content>
        
        <Paragraph> Hay muchos cristianos que por no interpretar correctamente lo dicho por Pablo en Fil
            3<Bold>:</Bold>4-6<Bold>,</Bold> creen que él era un hombre perfecto antes de ser
            cristiano<Bold>.</Bold> Esta es una de esas cosas en las que los hermanos pueden comprobar la
            dificultosa manera
            de hablar del Apóstol de los Gentiles<Bold>.</Bold> Cuando lo que Pablo dice parece darse de punta con
            lo que
            dice el resto de la Biblia<Bold>,</Bold> hay que buscarle la lógica<Bold>,</Bold> y no creer sin
            análisis<Bold>,</Bold> y a pie juntilla<Bold>,</Bold> lo que él diga<Bold>.</Bold> En Filipenses
            3<Bold>:</Bold>4-6 San Pablo dice algo que <Bold>no puede ser cierto:</Bold> que él era
            irreprensible<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Aunque yo tengo también de qué confiar en la carne<Bold>.</Bold> Si alguno parece
            que tiene
            de qué confiar en la carne<Bold>,</Bold> <Bold>yo más.</Bold> Circuncidado al octavo
            día<Bold>,</Bold>
            del linaje de Israel<Bold>,</Bold> de la tribu de Benjamín<Bold>,</Bold> hebreo de
            hebreos<Bold>;</Bold>
            cuanto a la ley<Bold>,</Bold> fariseo<Bold>;</Bold> cuanto al celo<Bold>,</Bold> <Bold>perseguidor
                de
                la iglesia; cuanto a la justicia que es en la ley, irreprensible</Bold></i><Bold>."</Bold> (Fil
            3<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph> Si vamos a interpretar sin analizar lo que Pablo dice<Bold>,</Bold> podríamos llegar a la falsa
            conclusión de
            que Pablo era un fiel cumplidor de toda la Ley de Dios<Bold>,</Bold> y por ello era
            irreprensible<Bold>.</Bold> Esto nos sucedería por no darnos cuenta de que lo dicho aquí por Pablo se da
            de
            punta con lo que dice la Biblia en otros pasajes<Bold>.</Bold> La Biblia dice que no ha habido nadie
            justo<Bold>,</Bold> por lo tanto<Bold>,</Bold> San Pablo no puede haber sido el único que fue
            irreprensible<Bold>.</Bold> <Bold>De aquí hay que deducir una de dos, o San Pablo está diciendo
                mentira, o hay
                que buscar qué es lo que él quiere decir con la palabra "ley".</Bold></Paragraph>
        <Paragraph> Él dice que cuanto a la justicia que era en la ley<Bold>,</Bold> él era <Bold>irreprensible.</Bold>
            Evidentemente<Bold>,</Bold> Pablo no iba a decir mentira<Bold>,</Bold> por lo
            tanto<Bold>,</Bold> él
            está hablando de la ley ritual<Bold>,</Bold> en la que él era irreprensible<Bold>,</Bold> porque
            siendo
            fariseo se esforzaba por cumplir con todos los ritos<Bold>,</Bold> tradiciones y
            ceremonias<Bold>,</Bold>
            además de dar el diezmo de la ruda<Bold>,</Bold> el eneldo<Bold>,</Bold> el comino<Bold>,</Bold>
            la
            menta<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph> Basta razonar someramente<Bold>,</Bold> para darnos cuenta de que Pablo no puede estar hablando de las
            leyes de
            Dios respecto al comportamiento humano<Bold>,</Bold> puesto que él confiesa en ese mismo
            pasaje<Bold>,</Bold> que era un perseguidor de la iglesia<Bold>,</Bold> como casi todos los fariseos<Bold>.</Bold>
            Ellos <Bold>asesinaban</Bold> sin previo juicio<Bold>,</Bold> o con juicios
            amañados<Bold>,</Bold> a los
            cristianos<Bold>,</Bold> <Bold>y eso no es cumplir la Ley de Dios.</Bold> Ellos <Bold>ponían
                testigos
                falsos,</Bold> como vemos en Hch 6<Bold>:</Bold>13-14 en el caso de Esteban<Bold>,</Bold> y
            eso es en
            contra de la Ley de Dios para el comportamiento humano<Bold>.</Bold></Paragraph>
        <Paragraph> El mismo Pablo confiesa en Hch 26<Bold>:</Bold>10-11 que él <Bold>forzaba a blasfemar</Bold> a
            algunos de
            los prisioneros<Bold>.</Bold> Un hombre que procedía así no podía ser un fiel cumplidor de las leyes de
            Dios
            para el comportamiento humano<Bold>,</Bold> sino <Bold>solamente un fiel cumplidor de la ley
                ritual.</Bold>
            Por eso<Bold>,</Bold> cuando Pablo habla<Bold>,</Bold> y en su hablar contradice lo que el resto de
            la
            Biblia dice<Bold>,</Bold> hay que analizar lo dicho por él<Bold>.</Bold> Ese mismo problema es el de
            los
            hermanos que mal-entienden a Pablo<Bold>,</Bold> achacándole la abolición de la Ley de Dios para el
            comportamiento humano<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>13 <i>Y <Bold>pusieron testigos falsos,</Bold> que dijesen<Bold>:</Bold> Este
            hombre no
            cesa de hablar palabras blasfemas contra este lugar santo y la ley<Bold>.</Bold></i> 14 <i>Porque le
            hemos oído
            decir<Bold>,</Bold> que Jesús de Nazaret destruirá este lugar<Bold>,</Bold> y mudará las ordenanzas
            que nos
            dio Moisés<Bold>.</Bold></i><Bold>"</Bold> (Hch 6<Bold>:</Bold>13-14)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>10 <i>Lo cual también hice en Jerusalem<Bold>,</Bold> y <Bold>yo encerré en cárceles
            a muchos
            de los santos,</Bold> recibida potestad de los príncipes de los sacerdotes<Bold>;</Bold> y <Bold>cuando
            eran
            matados, yo di mi voto.</Bold></i> 11 <i>Y muchas veces<Bold>,</Bold> castigándolos por todas las
            sinagogas<Bold>,</Bold> <Bold>los forcé a blasfemar;</Bold> y enfurecido sobremanera contra
            ellos<Bold>,</Bold> los perseguí hasta en las ciudades extrañas</i><Bold>."</Bold></Paragraph>
        <Paragraph> (Hch 26<Bold>:</Bold>10-11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Palabra fiel y digna de ser recibida de todos<Bold>,</Bold> que Cristo Jesús vino al
            mundo
            para <Bold>salvar a los pecadores, de los cuales yo soy el primero</Bold></i><Bold>."</Bold> (I Tim
            1<Bold>:</Bold>15)</Paragraph>
        <Paragraph> En este último pasaje<Bold>,</Bold> es el mismo Pablo el que confiesa que él es el primer
            pecador<Bold>;</Bold> por lo tanto<Bold>,</Bold> <Bold>cuando él dijo que en la ley él era
                irreprensible,
                no podía estarse refiriendo a la Ley de Dios para el comportamiento humano, sino a la ley
                ritual.</Bold> No
            solamente deducimos que Pablo no puede estar hablando de la ley de comportamiento<Bold>,</Bold> sino que
            es él
            mismo el que confiesa que <Bold>de lo que él era perfecto cumplidor, era de las tradiciones.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>13 <i>Porque ya habéis oído acerca de mi conducta otro tiempo en el
            judaísmo<Bold>,</Bold>
            <Bold>que perseguía sobremanera la Iglesia de Dios, y la destruía;</Bold></i> 14 <i>y aprovechaba en el
            judaísmo
            sobre muchos de mis iguales en mi nación<Bold>,</Bold> <Bold>siendo muy más celador que todos de las
                tradiciones de mis padres</Bold></i><Bold>."</Bold> (Ga 1<Bold>:</Bold>13-14)</Paragraph>
        <Paragraph> Como vemos claramente en este pasaje<Bold>,</Bold> Pablo perseguía la Iglesia de Dios y la
            destruía<Bold>,</Bold> <Bold>esas no son cualidades de un hombre que es irreprensible respecto a las
                leyes de
                Dios para el comportamiento humano.</Bold></Paragraph>
        <Paragraph> Pablo aclara que él era más fanático que todos de las tradiciones<Bold>.</Bold> A esas tradiciones y a
            esas
            leyes rituales<Bold>,</Bold> es a lo que se refiere Pablo cuando dice que la ley está
            obsoleta<Bold>,</Bold>
            no se refiere a las leyes de comportamiento<Bold>.</Bold> Hay que tener mucho cuidado cuando entendemos
            que
            Pablo está diciendo algo que no está de acuerdo con el resto de la Biblia<Bold>.</Bold></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver</Bold> <Bold>al índice</Bold></a></Paragraph>

    </Content>
</Layout>
    