---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Los cristianos pueden evitar la Gran Tribulación">
    <section>
        <Paragraph><Bold>Los cristianos pueden evitar la Gran Tribulación</Bold></Paragraph>
        <Paragraph><Bold>Dios siempre ha protegido a su pueblo sin sacarlo del planeta;</Bold> como ocurrió en
            Egipto<Bold>;</Bold> y como promete que ocurrirá en el futuro a la Iglesia de
            Filadelfia<Bold>.</Bold>
            También como cuando en Apocalipsis se ve que marca a los suyos para que no los dañen <Bold>"</Bold>las
            langostas<Bold>";</Bold>
            y cuando también allí vemos que refugia en <Bold>"</Bold>el desierto<Bold>"</Bold> a la
            <Bold>"</Bold>mujer<Bold>"</Bold>
            que huye<Bold>,</Bold> la cual es la Iglesia<Bold>.</Bold> <Bold>Además, Cristo personalmente nos
                dice que
                podemos escapar,</Bold> al decirnos que oremos para ser tenidos por dignos de evitar lo que ha de
            venir<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Los cristianos pueden evitar la Gran Tribulación según se desprende de lo dicho por Cristo.</Bold>
            Efectivamente<Bold>,</Bold> los cristianos pueden evadir la Gran Tribulación<Bold>.</Bold> Si no
            fuera así
            el Señor no nos hubiera exhortado a orar para ser tenidos por <Bold>dignos de evitar todas estas
                cosas.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Velad pues<Bold>,</Bold> orando en todo tiempo<Bold>,</Bold> <Bold>que seáis
            tenidos
            por dignos de evitar todas estas cosas que han de venir,</Bold> y de <Bold>estar en pie delante del Hijo
            del
            Hombre</Bold></i><Bold>."</Bold> (Lc 21<Bold>:</Bold> 36)</Paragraph>
        <Paragraph><Bold>Al utilizar la frase "<i>estar en pie delante del Hijo del Hombre</i>",</Bold> nos hace ver que en
            este
            versículo Jesús se está refiriendo a la última generación antes de su Segunda Venida<Bold>,</Bold> no a
            la
            generación de la época de los apóstoles<Bold>.</Bold> <Bold>A esa generación que va a ver la Segunda
                Venida,
                es a la que le exhorta para que oren y velen,</Bold> es decir<Bold>,</Bold> para que le pidan a
            Dios<Bold>,</Bold> y actúen en consecuencia<Bold>,</Bold> a fin de que ellos puedan evitar la Gran
            Tribulación y estar en pie delante de Cristo<Bold>.</Bold></Paragraph>
        <Paragraph> Si no fuera cierto que los cristianos de la última generación pudieran evitar la Gran
            Tribulación<Bold>,</Bold>
            el Señor no los hubiera exhortado a orar pidiendo tal cosa<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cristo vuelve a testificar que el antiCristo puede ser evitado por los cristianos.</Bold> En Ap
            3<Bold>:</Bold>10 volvemos a ver al Señor asegurando que la Iglesia puede ser librada de la Gran
            Tribulación<Bold>.</Bold> O sea<Bold>,</Bold> que no es nada disparatada la idea de que los
            cristianos
            podemos evitarla<Bold>.</Bold> Y fíjense que se está dirigiendo a los cristianos del
            fin<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque has guardado la palabra de mi paciencia<Bold>,</Bold> yo también <Bold>te
            guardaré
            de la hora de la tentación que ha de venir en todo el mundo,</Bold> para probar a los que moran en la
            Tierra</i><Bold>."</Bold> (Ap 3<Bold>:</Bold>10)</Paragraph>
        <Paragraph><Bold>Cuando Dios protegió a los suyos en Egipto, no tuvo que sacarlos de allí.</Bold> Es beneficioso
            recordar<Bold>,</Bold> cuando hablamos de las plagas que el Señor enviará durante el
            Apocalipsis<Bold>,</Bold> que Dios <Bold>protegió a los suyos meticulosamente,</Bold> de las plagas
            que
            enviaba a Egipto<Bold>.</Bold> Quiero decir con esto que no se nos puede acusar de
            optimistas<Bold>,</Bold>
            si esperamos que durante estas plagas apocalípticas<Bold>,</Bold> la magnífica y absoluta protección de
            Dios a
            Su pueblo se repita<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>Y aquel día <Bold>yo apartaré la tierra de Gosén, en la cual mi pueblo
            habita,</Bold>
            para que ninguna suerte de moscas haya en ella<Bold>;</Bold> a fin de que sepas que yo soy Jehová en
            medio de la
            tierra<Bold>.</Bold></i> 23 <i>Y <Bold>yo pondré redención entre mi pueblo y el tuyo.</Bold> Mañana
            será
            esta señal</i><Bold>."</Bold> (Ex 8<Bold>:</Bold>22-23)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>4 <Bold>Y Jehová hará separación entre los ganados de Israel y los de Egipto,</Bold>
            <i>de modo
                que nada muera de todo lo de los hijos de Israel<Bold>.</Bold></i> 5 <i>Y Jehová señaló
                tiempo<Bold>,</Bold>
                diciendo<Bold>:</Bold> Mañana hará Jehová esta cosa en la tierra<Bold>.</Bold></i> 6 <i>Y el día
                siguiente
                Jehová hizo aquello<Bold>,</Bold> y murió todo el ganado de Egipto<Bold>;</Bold> <Bold>mas del
                    ganado de
                    los hijos de Israel no murió uno</Bold></i><Bold>."</Bold> (Ex 9<Bold>:</Bold>4-6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>25 <i>Y <Bold>aquel granizo hirió en toda la tierra de Egipto</Bold> todo lo que estaba
            en el
            campo<Bold>,</Bold> así hombres como bestias<Bold>;</Bold> asimismo hirió el granizo toda la hierba
            del
            campo<Bold>,</Bold> y desgajó todos los árboles del país<Bold>.</Bold></i> 26 <i>Solamente <Bold>en
            la
            tierra de Gosén, donde los hijos de Israel estaban, no hubo granizo</Bold></i><Bold>".</Bold> (Ex
            9<Bold>:</Bold>25-26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Ninguno vio a su prójimo<Bold>,</Bold> ni nadie se levantó de su lugar en tres
            días<Bold>;</Bold> <Bold>mas todos los hijos de Israel tenían luz en sus
                habitaciones</Bold></i><Bold>."</Bold> (Ex 10<Bold>:</Bold>23)</Paragraph>
        <Paragraph><Bold>De la lectura de todos los pasajes anteriores vemos que la protección divina es absoluta.</Bold> En
            ningún
            momento vemos que Su pueblo en Egipto<Bold>,</Bold> haya sufrido las mismas plagas que estaban sufriendo
            los
            demás alrededor de ellos<Bold>;</Bold> ni siquiera sufrieron los efectos colaterales de esas
            plagas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Eso mismo es lo que va a suceder al final del mundo cuando vengan las plagas anunciadas,</Bold> el
            pueblo
            de Dios va a ser protegido<Bold>,</Bold> al menos todos los que quieran dejarse
            proteger<Bold>.</Bold> Los
            que sigan esperando por un <Bold>"</Bold>rapto secreto<Bold>"</Bold> puede que no se den cuenta de
            la
            oportunidad de escapar<Bold>,</Bold> y sean impedidos de refugiarse en el
            <Bold>"</Bold>desierto<Bold>".</Bold></Paragraph>
        <Paragraph> Para aquella época futura<Bold>,</Bold> el mejor consejo que se les puede dar a los cristianos es que no
            se
            abracen a sus pertenencias ni a otras personas que no quieran ir al
            <Bold>"</Bold>desierto<Bold>"</Bold> que
            Dios provee<Bold>.</Bold> No sólo eso<Bold>,</Bold> sino que en muchos casos tendrán que salir sin
            pertenencias<Bold>,</Bold> dejándolo todo<Bold>,</Bold> para que los del lugar no sospechen que se
            van para
            no volver<Bold>,</Bold> e intenten retenerlos<Bold>.</Bold> Cosas como esa he visto suceder en
            países
            tiránicos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Dónde se van a refugiar los cristianos que escuchen la voz de Dios y no esperen por el supuesto
            rapto
            anterior a la Gran Tribulación?</Bold> Ya hemos visto varios ejemplos bíblicos de cómo Dios siempre provee
            un
            escape para los suyos<Bold>,</Bold> y un lugar donde refugiarse<Bold>.</Bold> <Bold>¿</Bold>Cuál
            será
            ese lugar durante la Gran Tribulación<Bold>?</Bold> Definitivamente el lugar será lo que en Ap
            12<Bold>:</Bold>14 se le llama <Bold>"</Bold>el desierto<Bold>".</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y fueron dadas a la mujer <Bold>dos alas de grande águila,</Bold> para que de la
            presencia
            de la serpiente volase <Bold>al desierto,</Bold> a su lugar<Bold>,</Bold> donde es mantenida por un
            tiempo<Bold>,</Bold> y tiempos<Bold>,</Bold> y la mitad de un tiempo</i><Bold>."</Bold> (Ap
            12<Bold>:</Bold>14)</Paragraph>
        <Paragraph> No es disparatado pensar que en este pasaje del Apocalipsis<Bold>,</Bold> el águila que le presta a la
            mujer sus
            dos alas<Bold>,</Bold> simbolice un gobierno poderoso<Bold>,</Bold> porque le llaman
            <Bold>"grande</Bold> águila<Bold>".</Bold> El hecho de darle dos alas a la mujer<Bold>,</Bold>
            se lo
            atribuyo a que esa nación va a prestar su poderío para facilitar el traslado de los cristianos al refugio o
            <Bold>"</Bold>desierto<Bold>"</Bold>
            preparado por Dios para ellos<Bold>.</Bold></Paragraph>
        <Paragraph> El traslado de los cristianos no creo que se trate de algo compulsorio<Bold>,</Bold> es
            decir<Bold>,</Bold>
            que obliguen a los cristianos a ir al <Bold>"</Bold>desierto<Bold>"</Bold> o
            refugio<Bold>,</Bold> sino
            que les permitirán ir<Bold>,</Bold> quizás como una manera de sacar de en medio a ciudadanos
            conflictivos para
            con la sociedad de aquel entonces<Bold>,</Bold> aún en el futuro<Bold>.</Bold></Paragraph>
        <Paragraph> Tampoco creo que <Bold>todos</Bold> los cristianos desearán ser trasladados al
            <Bold>"</Bold>desierto<Bold>"</Bold> o refugio<Bold>.</Bold> Habrá miles que por diversos
            motivos no
            querrán refugiarse y desearán permanecer en aquella sociedad del incipiente antiCristo<Bold>.</Bold></Paragraph>
        <Paragraph>Los motivos por los que imagino que muchos querrán quedarse son<Bold>:</Bold></Paragraph>
        <Paragraph><Bold> a)</Bold> Creen en Cristo<Bold>,</Bold> pero <Bold>ignoran las profecías.</Bold> La
            propaganda que
            hoy en día prepara el advenimiento del antiCristo les hará ver que eso de irse al <Bold>"</Bold>desierto<Bold>"</Bold>
            a refugiarse<Bold>,</Bold> es una exageración y un <Bold>"</Bold>fanatismo<Bold>".</Bold> Muchos
            lo
            creerán<Bold>,</Bold> porque esos hermanos no han leído suficientemente la Biblia<Bold>.</Bold>
            Pregúnteles
            a los cristianos qué es el antiCristo<Bold>;</Bold> la mayoría no sabe mucho sobre él<Bold>,</Bold>
            y
            <Bold>creen que serán "raptados secretamente" antes del antiCristo y la Gran Tribulación.</Bold></Paragraph>
        <Paragraph><Bold> b) Las pasiones:</Bold> los cristianos y cristianas enamorados de personas que no quieren
            abandonar su
            nación<Bold>;</Bold> los cristianos que aman sus posesiones y se abrazan a ellas<Bold>;</Bold> los
            que se
            creen <Bold>"</Bold>astutos<Bold>",</Bold> y se figuran que van a esquivar los problemas sin tener
            que irse
            de su lugar<Bold>;</Bold> los que temen comenzar una nueva vida en el cero<Bold>;</Bold> los
            indolentes que
            todo lo dejan para después<Bold>;</Bold> los que no quieren separarse de sus familiares
            inconversos<Bold>;</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>No hablo de cosas que no ocurren.</Bold> Todos y cada uno de los ejemplos que acabo de
            mencionar<Bold>,</Bold> fueron causa de que<Bold>,</Bold> en cierto país donde regía una
            tiranía<Bold>,</Bold> se quedaran cientos de miles de personas que pudieron haber salido a tiempo y no
            lo
            hicieron<Bold>.</Bold> No obstante<Bold>,</Bold> estos que no quisieron salir a
            tiempo<Bold>,</Bold>
            atormentaban luego a sus familiares en Estados Unidos pidiéndoles con desespero que los sacaran de aquel
            infierno<Bold>,</Bold> en un momento en que era imposible o muy sacrificado el hacerlo<Bold>.</Bold>
            No
            hablo de lo que me dijeron<Bold>,</Bold> hablo de lo que vi<Bold>,</Bold> oí<Bold>,</Bold> y
            constaté<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c) Los que tienen un deber que cumplir</Bold> en el lugar donde se hallan<Bold>;</Bold> y los
            que no lo
            tienen<Bold>,</Bold> pero creen tenerlo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d) Los que disfrazan sus verdaderos motivos para quedarse,</Bold> con el pretexto del deber que
            dicen tener
            que cumplir<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e) Los que tienen dos o más de los motivos aquí señalados,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph> Yo no creo que todos los cristianos del mundo vayan para el refugio<Bold>,</Bold> por las razones antes
            dadas<Bold>.</Bold> Tal vez sean solamente los que conforman la descripción dada en Ap
            3<Bold>:</Bold>7-13
            (Iglesia de Filadelfia)<Bold>,</Bold> sobre todo si nos guiamos por la promesa del versículo 10 de ese
            pasaje<Bold>,</Bold> (porque has guardado la palabra de mi
            paciencia<Bold>...</Bold>)<Bold>.</Bold></Paragraph>
        <Paragraph> Otra cosa a tener en cuenta es que cuando aquí se dice que le darán a la mujer <Bold>dos alas de grande
            águila, se
            están refiriendo a los tiempos del fin.</Bold> En estos tiempos del fin solo hay un país poderoso que
            tiene como
            emblema nacional el águila<Bold>,</Bold> y ese país es los Estados Unidos de América del
            Norte<Bold>.</Bold>
            Puede que este país sea el <Bold>"</Bold>desierto<Bold>"</Bold> de que habla la
            profecía<Bold>,</Bold> o
            puede que el <Bold>"</Bold>desierto<Bold>"</Bold> sea otro<Bold>,</Bold> pero que los Estados
            Unidos
            pongan su poder a disposición de los que quieran ir a refugiarse en ese otro
            <Bold>"</Bold>desierto<Bold>".</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    