---
import Layout from "../layout/Layout.astro";
---

<Layout title="Los cristianos pueden evitar la Gran Tribulación">
    <section>
        <p><strong>Los cristianos pueden evitar la Gran Tribulación</strong></p>
        <p><strong>Dios siempre ha protegido a su pueblo sin sacarlo del planeta;</strong> como ocurrió en
            Egipto<strong>;</strong> y como promete que ocurrirá en el futuro a la Iglesia de
            Filadelfia<strong>.</strong>
            También como cuando en Apocalipsis se ve que marca a los suyos para que no los dañen <strong>"</strong>las
            langostas<strong>";</strong>
            y cuando también allí vemos que refugia en <strong>"</strong>el desierto<strong>"</strong> a la
            <strong>"</strong>mujer<strong>"</strong>
            que huye<strong>,</strong> la cual es la Iglesia<strong>.</strong> <strong>Además, Cristo personalmente nos
                dice que
                podemos escapar,</strong> al decirnos que oremos para ser tenidos por dignos de evitar lo que ha de
            venir<strong>.</strong></p>
        <p><strong>Los cristianos pueden evitar la Gran Tribulación según se desprende de lo dicho por Cristo.</strong>
            Efectivamente<strong>,</strong> los cristianos pueden evadir la Gran Tribulación<strong>.</strong> Si no
            fuera así
            el Señor no nos hubiera exhortado a orar para ser tenidos por <strong>dignos de evitar todas estas
                cosas.</strong>
        </p>
        <p></p>
        <p><strong>"</strong><i>Velad pues<strong>,</strong> orando en todo tiempo<strong>,</strong> <strong>que seáis
            tenidos
            por dignos de evitar todas estas cosas que han de venir,</strong> y de <strong>estar en pie delante del Hijo
            del
            Hombre</strong></i><strong>."</strong> (Lc 21<strong>:</strong> 36)</p>
        <p><strong>Al utilizar la frase "<i>estar en pie delante del Hijo del Hombre</i>",</strong> nos hace ver que en
            este
            versículo Jesús se está refiriendo a la última generación antes de su Segunda Venida<strong>,</strong> no a
            la
            generación de la época de los apóstoles<strong>.</strong> <strong>A esa generación que va a ver la Segunda
                Venida,
                es a la que le exhorta para que oren y velen,</strong> es decir<strong>,</strong> para que le pidan a
            Dios<strong>,</strong> y actúen en consecuencia<strong>,</strong> a fin de que ellos puedan evitar la Gran
            Tribulación y estar en pie delante de Cristo<strong>.</strong></p>
        <p> Si no fuera cierto que los cristianos de la última generación pudieran evitar la Gran
            Tribulación<strong>,</strong>
            el Señor no los hubiera exhortado a orar pidiendo tal cosa<strong>.</strong></p>
        <p><strong>Cristo vuelve a testificar que el antiCristo puede ser evitado por los cristianos.</strong> En Ap
            3<strong>:</strong>10 volvemos a ver al Señor asegurando que la Iglesia puede ser librada de la Gran
            Tribulación<strong>.</strong> O sea<strong>,</strong> que no es nada disparatada la idea de que los
            cristianos
            podemos evitarla<strong>.</strong> Y fíjense que se está dirigiendo a los cristianos del
            fin<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Porque has guardado la palabra de mi paciencia<strong>,</strong> yo también <strong>te
            guardaré
            de la hora de la tentación que ha de venir en todo el mundo,</strong> para probar a los que moran en la
            Tierra</i><strong>."</strong> (Ap 3<strong>:</strong>10)</p>
        <p><strong>Cuando Dios protegió a los suyos en Egipto, no tuvo que sacarlos de allí.</strong> Es beneficioso
            recordar<strong>,</strong> cuando hablamos de las plagas que el Señor enviará durante el
            Apocalipsis<strong>,</strong> que Dios <strong>protegió a los suyos meticulosamente,</strong> de las plagas
            que
            enviaba a Egipto<strong>.</strong> Quiero decir con esto que no se nos puede acusar de
            optimistas<strong>,</strong>
            si esperamos que durante estas plagas apocalípticas<strong>,</strong> la magnífica y absoluta protección de
            Dios a
            Su pueblo se repita<strong>.</strong></p>
        <p><strong>"</strong>22 <i>Y aquel día <strong>yo apartaré la tierra de Gosén, en la cual mi pueblo
            habita,</strong>
            para que ninguna suerte de moscas haya en ella<strong>;</strong> a fin de que sepas que yo soy Jehová en
            medio de la
            tierra<strong>.</strong></i> 23 <i>Y <strong>yo pondré redención entre mi pueblo y el tuyo.</strong> Mañana
            será
            esta señal</i><strong>."</strong> (Ex 8<strong>:</strong>22-23)</p>
        <p></p>
        <p><strong>"</strong>4 <strong>Y Jehová hará separación entre los ganados de Israel y los de Egipto,</strong>
            <i>de modo
                que nada muera de todo lo de los hijos de Israel<strong>.</strong></i> 5 <i>Y Jehová señaló
                tiempo<strong>,</strong>
                diciendo<strong>:</strong> Mañana hará Jehová esta cosa en la tierra<strong>.</strong></i> 6 <i>Y el día
                siguiente
                Jehová hizo aquello<strong>,</strong> y murió todo el ganado de Egipto<strong>;</strong> <strong>mas del
                    ganado de
                    los hijos de Israel no murió uno</strong></i><strong>."</strong> (Ex 9<strong>:</strong>4-6)</p>
        <p></p>
        <p><strong>"</strong>25 <i>Y <strong>aquel granizo hirió en toda la tierra de Egipto</strong> todo lo que estaba
            en el
            campo<strong>,</strong> así hombres como bestias<strong>;</strong> asimismo hirió el granizo toda la hierba
            del
            campo<strong>,</strong> y desgajó todos los árboles del país<strong>.</strong></i> 26 <i>Solamente <strong>en
            la
            tierra de Gosén, donde los hijos de Israel estaban, no hubo granizo</strong></i><strong>".</strong> (Ex
            9<strong>:</strong>25-26)</p>
        <p></p>
        <p><strong>"</strong><i>Ninguno vio a su prójimo<strong>,</strong> ni nadie se levantó de su lugar en tres
            días<strong>;</strong> <strong>mas todos los hijos de Israel tenían luz en sus
                habitaciones</strong></i><strong>."</strong> (Ex 10<strong>:</strong>23)</p>
        <p><strong>De la lectura de todos los pasajes anteriores vemos que la protección divina es absoluta.</strong> En
            ningún
            momento vemos que Su pueblo en Egipto<strong>,</strong> haya sufrido las mismas plagas que estaban sufriendo
            los
            demás alrededor de ellos<strong>;</strong> ni siquiera sufrieron los efectos colaterales de esas
            plagas<strong>.</strong></p>
        <p><strong>Eso mismo es lo que va a suceder al final del mundo cuando vengan las plagas anunciadas,</strong> el
            pueblo
            de Dios va a ser protegido<strong>,</strong> al menos todos los que quieran dejarse
            proteger<strong>.</strong> Los
            que sigan esperando por un <strong>"</strong>rapto secreto<strong>"</strong> puede que no se den cuenta de
            la
            oportunidad de escapar<strong>,</strong> y sean impedidos de refugiarse en el
            <strong>"</strong>desierto<strong>".</strong></p>
        <p> Para aquella época futura<strong>,</strong> el mejor consejo que se les puede dar a los cristianos es que no
            se
            abracen a sus pertenencias ni a otras personas que no quieran ir al
            <strong>"</strong>desierto<strong>"</strong> que
            Dios provee<strong>.</strong> No sólo eso<strong>,</strong> sino que en muchos casos tendrán que salir sin
            pertenencias<strong>,</strong> dejándolo todo<strong>,</strong> para que los del lugar no sospechen que se
            van para
            no volver<strong>,</strong> e intenten retenerlos<strong>.</strong> Cosas como esa he visto suceder en
            países
            tiránicos<strong>.</strong></p>
        <p><strong>¿Dónde se van a refugiar los cristianos que escuchen la voz de Dios y no esperen por el supuesto
            rapto
            anterior a la Gran Tribulación?</strong> Ya hemos visto varios ejemplos bíblicos de cómo Dios siempre provee
            un
            escape para los suyos<strong>,</strong> y un lugar donde refugiarse<strong>.</strong> <strong>¿</strong>Cuál
            será
            ese lugar durante la Gran Tribulación<strong>?</strong> Definitivamente el lugar será lo que en Ap
            12<strong>:</strong>14 se le llama <strong>"</strong>el desierto<strong>".</strong></p>
        <p></p>
        <p><strong>"</strong><i>Y fueron dadas a la mujer <strong>dos alas de grande águila,</strong> para que de la
            presencia
            de la serpiente volase <strong>al desierto,</strong> a su lugar<strong>,</strong> donde es mantenida por un
            tiempo<strong>,</strong> y tiempos<strong>,</strong> y la mitad de un tiempo</i><strong>."</strong> (Ap
            12<strong>:</strong>14)</p>
        <p> No es disparatado pensar que en este pasaje del Apocalipsis<strong>,</strong> el águila que le presta a la
            mujer sus
            dos alas<strong>,</strong> simbolice un gobierno poderoso<strong>,</strong> porque le llaman
            <strong>"grande</strong> águila<strong>".</strong> El hecho de darle dos alas a la mujer<strong>,</strong>
            se lo
            atribuyo a que esa nación va a prestar su poderío para facilitar el traslado de los cristianos al refugio o
            <strong>"</strong>desierto<strong>"</strong>
            preparado por Dios para ellos<strong>.</strong></p>
        <p> El traslado de los cristianos no creo que se trate de algo compulsorio<strong>,</strong> es
            decir<strong>,</strong>
            que obliguen a los cristianos a ir al <strong>"</strong>desierto<strong>"</strong> o
            refugio<strong>,</strong> sino
            que les permitirán ir<strong>,</strong> quizás como una manera de sacar de en medio a ciudadanos
            conflictivos para
            con la sociedad de aquel entonces<strong>,</strong> aún en el futuro<strong>.</strong></p>
        <p> Tampoco creo que <strong>todos</strong> los cristianos desearán ser trasladados al
            <strong>"</strong>desierto<strong>"</strong> o refugio<strong>.</strong> Habrá miles que por diversos
            motivos no
            querrán refugiarse y desearán permanecer en aquella sociedad del incipiente antiCristo<strong>.</strong></p>
        <p>Los motivos por los que imagino que muchos querrán quedarse son<strong>:</strong></p>
        <p><strong> a)</strong> Creen en Cristo<strong>,</strong> pero <strong>ignoran las profecías.</strong> La
            propaganda que
            hoy en día prepara el advenimiento del antiCristo les hará ver que eso de irse al <strong>"</strong>desierto<strong>"</strong>
            a refugiarse<strong>,</strong> es una exageración y un <strong>"</strong>fanatismo<strong>".</strong> Muchos
            lo
            creerán<strong>,</strong> porque esos hermanos no han leído suficientemente la Biblia<strong>.</strong>
            Pregúnteles
            a los cristianos qué es el antiCristo<strong>;</strong> la mayoría no sabe mucho sobre él<strong>,</strong>
            y
            <strong>creen que serán "raptados secretamente" antes del antiCristo y la Gran Tribulación.</strong></p>
        <p><strong> b) Las pasiones:</strong> los cristianos y cristianas enamorados de personas que no quieren
            abandonar su
            nación<strong>;</strong> los cristianos que aman sus posesiones y se abrazan a ellas<strong>;</strong> los
            que se
            creen <strong>"</strong>astutos<strong>",</strong> y se figuran que van a esquivar los problemas sin tener
            que irse
            de su lugar<strong>;</strong> los que temen comenzar una nueva vida en el cero<strong>;</strong> los
            indolentes que
            todo lo dejan para después<strong>;</strong> los que no quieren separarse de sus familiares
            inconversos<strong>;</strong> etc<strong>..</strong></p>
        <p><strong>No hablo de cosas que no ocurren.</strong> Todos y cada uno de los ejemplos que acabo de
            mencionar<strong>,</strong> fueron causa de que<strong>,</strong> en cierto país donde regía una
            tiranía<strong>,</strong> se quedaran cientos de miles de personas que pudieron haber salido a tiempo y no
            lo
            hicieron<strong>.</strong> No obstante<strong>,</strong> estos que no quisieron salir a
            tiempo<strong>,</strong>
            atormentaban luego a sus familiares en Estados Unidos pidiéndoles con desespero que los sacaran de aquel
            infierno<strong>,</strong> en un momento en que era imposible o muy sacrificado el hacerlo<strong>.</strong>
            No
            hablo de lo que me dijeron<strong>,</strong> hablo de lo que vi<strong>,</strong> oí<strong>,</strong> y
            constaté<strong>.</strong></p>
        <p><strong>c) Los que tienen un deber que cumplir</strong> en el lugar donde se hallan<strong>;</strong> y los
            que no lo
            tienen<strong>,</strong> pero creen tenerlo<strong>.</strong></p>
        <p><strong>d) Los que disfrazan sus verdaderos motivos para quedarse,</strong> con el pretexto del deber que
            dicen tener
            que cumplir<strong>.</strong></p>
        <p><strong>e) Los que tienen dos o más de los motivos aquí señalados,</strong> etc<strong>..</strong></p>
        <p> Yo no creo que todos los cristianos del mundo vayan para el refugio<strong>,</strong> por las razones antes
            dadas<strong>.</strong> Tal vez sean solamente los que conforman la descripción dada en Ap
            3<strong>:</strong>7-13
            (Iglesia de Filadelfia)<strong>,</strong> sobre todo si nos guiamos por la promesa del versículo 10 de ese
            pasaje<strong>,</strong> (porque has guardado la palabra de mi
            paciencia<strong>...</strong>)<strong>.</strong></p>
        <p> Otra cosa a tener en cuenta es que cuando aquí se dice que le darán a la mujer <strong>dos alas de grande
            águila, se
            están refiriendo a los tiempos del fin.</strong> En estos tiempos del fin solo hay un país poderoso que
            tiene como
            emblema nacional el águila<strong>,</strong> y ese país es los Estados Unidos de América del
            Norte<strong>.</strong>
            Puede que este país sea el <strong>"</strong>desierto<strong>"</strong> de que habla la
            profecía<strong>,</strong> o
            puede que el <strong>"</strong>desierto<strong>"</strong> sea otro<strong>,</strong> pero que los Estados
            Unidos
            pongan su poder a disposición de los que quieran ir a refugiarse en ese otro
            <strong>"</strong>desierto<strong>".</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    