---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las Bodas del Cordero">
    <Tag>#135</Tag>
    <Content>
        <Paragraph><Bold>Las Bodas del Cordero</Bold></Paragraph>
        <Paragraph><Bold>Las Bodas son una fiesta en la que todos estamos alegres y nos divertimos.</Bold> Recordemos que
            <Bold>"</Bold>rapto<Bold>"</Bold> es el que dicen (sin probarlo) que ocurrirá antes de la Gran
            Tribulación<Bold>,</Bold> mientras que <Bold>"</Bold>arrebatamiento<Bold>"</Bold> es el que
            <Bold>sí</Bold> ocurrirá durante la Segunda Venida de Cristo<Bold>,</Bold> como dice la
            Biblia<Bold>.</Bold></Paragraph>
        <Paragraph> En todas las culturas del mundo las bodas se celebran con gran alegría<Bold>,</Bold>
            música<Bold>,</Bold>
            fiestas y regocijo<Bold>.</Bold> Solamente dejan de hacerse estas alegrías si por
            desgracia<Bold>,</Bold>
            poco antes de la fiesta de boda ocurre alguna tragedia en la familia de alguno de los
            novios<Bold>.</Bold></Paragraph>
        <Paragraph> La fiesta de las Bodas del Cordero han de ser algo inolvidable para nosotros los
            cristianos<Bold>,</Bold> un
            momento de verdadero regocijo<Bold>,</Bold> <Bold>una época en la que ningún sufrimiento o pensamiento
                nos
                haga entristecernos.</Bold></Paragraph>
        <Paragraph><Bold>Cuándo serán las Bodas del Cordero según la doctrina que dice que el rapto ocurrirá antes de la Gran
            Tribulación.</Bold> De acuerdo a lo que yo siempre he oído de los hermanos que han discutido conmigo el
            asunto<Bold>,</Bold> los cristianos estaremos disfrutando alegremente de las Bodas del
            Cordero<Bold>,</Bold>
            en el Cielo<Bold>,</Bold> durante el mismo tiempo que otros cristianos sufren espantosamente en la
            Tierra<Bold>,</Bold> durante la Gran Tribulación<Bold>.</Bold> El antiCristo y sus seguidores
            asesinan<Bold>,</Bold> queman en la hoguera<Bold>,</Bold> crucifican<Bold>,</Bold>
            etc<Bold>.,</Bold> a los cristianos<Bold>,</Bold> aquí en la Tierra durante la GT<Bold>,</Bold>
            mientras
            nosotros gozamos de lo lindo allá en el Cielo<Bold>,</Bold> sin que nos importe ni un comino lo que les
            está
            sucediendo a nuestros hermanos<Bold>.</Bold> <Bold>¿Suena eso lógico? ¿Piensan ustedes que eso es lo
                que
                Jesucristo planificó para el día de su boda?</Bold></Paragraph>
        <Paragraph> No sólo eso<Bold>,</Bold> que ya es más de la cuenta<Bold>;</Bold> si fuera cierto que el rapto
            ocurriera
            antes de la Gran Tribulación<Bold>,</Bold> entonces tendríamos que esos pobres cristianos martirizados y
            asesinados en la Tierra durante la Gran Tribulación<Bold>,</Bold> no iban jamás a participar de la Boda
            del
            Cordero<Bold>,</Bold> por cuanto cuando ellos fueran a resucitar<Bold>,</Bold> durante de la Segunda
            Venida
            de Cristo<Bold>,</Bold> ya las Bodas se habían acabado<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Es más, dado que la hipótesis del rapto asegura falsamente que éste va a ocurrir antes de que se abra
            el
            primer sello,</Bold> y dado que en el quinto sello vemos a las almas de los que fueron degollados en la
            Tierra por
            el testimonio de Jesucristo<Bold>,</Bold> tendríamos que deducir que a pesar de esas almas estar en el
            Cielo<Bold>,</Bold> no pueden participar de la fiesta de la Boda<Bold>,</Bold> sino mirarla de lejos<Bold>;</Bold>
            puesto que según dice allí<Bold>,</Bold> esos mártires tienen que esperar a los otros que en la Tierra
            van a ser
            degollados<Bold>.</Bold> <Bold>¡</Bold>Casi nada la absurdidad que provoca esta errónea
            doctrina<Bold>!</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <i>Y <Bold>cuando él abrió el quinto sello,</Bold> vi debajo del altar <Bold>las
            almas de
            los que habían sido muertos por la palabra de Dios</Bold> y por el testimonio que ellos
            tenían<Bold>.</Bold></i> 10 <i>Y clamaban en alta voz diciendo<Bold>:</Bold> <Bold>¿Hasta cuándo,
            Señor,
            santo y verdadero, no juzgas y vengas nuestra sangre de los que moran en la Tierra?</Bold></i> 11 <i>Y les
            fueron
            dadas sendas ropas blancas<Bold>,</Bold> y les fue dicho que reposasen todavía un poco de
            tiempo<Bold>,</Bold> <Bold>hasta que se completaran sus consiervos y sus hermanos,</Bold> que
            también habían
            de ser muertos como ellos</i><Bold>."</Bold> (Ap 6<Bold>:</Bold>9-11)</Paragraph>
        <Paragraph> A estos mártires de la Gran Tribulación la doctrina del rapto les niega su pertenencia a la Iglesia de
            Cristo<Bold>.</Bold> <Bold>¿</Bold>Cómo es posible que no vayan a pertenecer a su
            Iglesia<Bold>,</Bold>
            si es el mismo Cristo el que está allí con ellos en el Cielo<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Cuándo serán en realidad las Bodas del Cordero, según la Biblia.</Bold> <Bold>¿</Bold>De qué
            parte de
            la Biblia la doctrina del rapto del rapto anterior a la GT ha sacado la idea de que las Bodas del Cordero se
            celebran durante el período de la Gran Tribulación<Bold>?</Bold> Yo no sé<Bold>,</Bold> <Bold>porque
                a
                pesar de que se lo he preguntado a mis amigos que creen en el rapto, ellos no me saben decir en donde se
                basan
                para creer tal cosa.</Bold> Lo único que saco en consecuencia es que esos hermanos lo creen porque se
            lo
            dijeron otros<Bold>,</Bold> a los cuales <Bold>"</Bold>otros<Bold>"</Bold> nunca he podido
            preguntarles<Bold>,</Bold> porque no son accesibles para esta conversación<Bold>.</Bold></Paragraph>
        <Paragraph> También me han traído libros<Bold>,</Bold> pero cuando les pido que me digan en qué parte del libro su
            autor
            dice de dónde sacó tal concepto<Bold>,</Bold> tampoco me lo saben señalar<Bold>.</Bold> Nadie lo
            sabe<Bold>,</Bold> pero todos lo creen a pie juntilla<Bold>.</Bold> Es la triste tendencia al dogma
            que
            siempre tienen los religiosos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Los únicos dos lugares en la Biblia, donde yo veo que habla de las Bodas del Cordero</Bold> son en
            Ap
            19<Bold>:</Bold>7-9 y 21<Bold>:</Bold>9<Bold>,</Bold> y ambos pasajes son muy posteriores a la
            Gran
            Tribulación<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><Bold>7</Bold> <i>Gocémonos y alegrémonos y démosle gloria<Bold>;</Bold> porque
            <Bold>son
                venidas las bodas del Cordero, y su esposa se ha aparejado.</Bold></i> 8 <i>Y le fue dado que se vista
            de lino
            fino<Bold>,</Bold> limpio y brillante<Bold>,</Bold> porque el lino fino son las justificaciones de
            los
            santos<Bold>.</Bold></i> 9 <i>Y él me dice<Bold>:</Bold> Escribe<Bold>:</Bold> <Bold>Bienaventurados
            los que son llamados a la cena del Cordero.</Bold> Y me dijo<Bold>:</Bold> Estas palabras de Dios son
            verdaderas<Bold>.</Bold></i><Bold>"</Bold> (Ap 19<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y vino a mí uno de los siete ángeles que tenían las siete copas llenas de las siete
            postreras
            plagas<Bold>,</Bold> y habló conmigo<Bold>,</Bold> diciendo<Bold>:</Bold> Ven
            acá<Bold>,</Bold>
            <Bold>yo te mostraré la esposa, mujer del Cordero</Bold></i><Bold>."</Bold> (Ap 21<Bold>:</Bold>9)
        </Paragraph>
        <Paragraph> Ya para la época a que se refieren los dos pasajes anteriores<Bold>,</Bold> las siete copas de la Ira de
            Dios
            fueron derramadas sobre la Tierra<Bold>.</Bold> Eso es fácil de comprobar porque en Ap
            16<Bold>:</Bold>17
            vemos que la séptima y última copa fue derramada<Bold>.</Bold> En 19<Bold>:</Bold>2 vemos que ya se
            juzgó a
            la Ramera<Bold>,</Bold> y que se vengó la sangre de los siervos de Dios<Bold>,</Bold> de la mano de
            ella<Bold>.</Bold> Por consiguiente ya se acabó la Gran Tribulación<Bold>.</Bold> Sin
            embargo<Bold>,</Bold> vemos en el versículo 7 de ese mismo capítulo que las Bodas del Cordero no han
            tenido
            lugar aún<Bold>.</Bold> De aquí se deduce<Bold>,</Bold> sin mucho esfuerzo mental<Bold>,</Bold>
            que las
            Bodas del Cordero vienen después de la Gran Tribulación<Bold>,</Bold> y después de la destrucción de la
            Gran
            Ramera<Bold>,</Bold> no como proclama la hipótesis del Rapto anterior a la GT<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>el séptimo ángel derramó su copa</Bold> por el aire<Bold>;</Bold> y
            salió una
            grande voz del Templo del Cielo<Bold>,</Bold> del Trono<Bold>,</Bold> diciendo<Bold>:</Bold>
            Hecho
            es</i><Bold>."</Bold> (Ap 16<Bold>:</Bold>17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <Bold>Después de estas cosas</Bold> <i>oí una gran voz de gran compañía en el
            Cielo<Bold>,</Bold> que decía<Bold>:</Bold> Aleluya<Bold>,</Bold> Salvación y honra y gloria y
            potencia
            al Señor Dios nuestro<Bold>,</Bold></i> 2 <i>porque sus juicios son verdaderos y
            justos<Bold>;</Bold> porque
            <Bold>Él ha juzgado a la grande ramera,</Bold> que ha corrompido la Tierra con su
            fornicación<Bold>,</Bold>
            y <Bold>ha vengado la sangre de sus siervos de la mano de ella.</Bold></i> 3 <i>Y otra vez
            dijeron<Bold>:</Bold> Aleluya<Bold>.</Bold> Y su humo subió para siempre jamás<Bold>.</Bold></i>
            4 <i>Y
                los veinticuatro ancianos y los cuatro animales se postraron en tierra<Bold>,</Bold> y adoraron a
                Dios que
                estaba sentado sobre el trono<Bold>,</Bold> diciendo<Bold>:</Bold> Amén<Bold>:</Bold>
                Aleluya<Bold>.</Bold></i><Bold>"</Bold> (Ap 19<Bold>:</Bold>1-4)</Paragraph>
        <Paragraph><Bold>Otra cosa en la que parar mientes es en que en el versículo 6 dice que Dios reinó,</Bold> para
            decir luego
            que debemos gozarnos y alegrarnos porque van a celebrarse <Bold>ahora</Bold> las Bodas del
            Cordero<Bold>.</Bold> Es fácil darnos cuenta de que <Bold>si ya Dios reinó, tiene que haberse acabado
                la Gran
                Tribulación. Y si después de que Dios reinó es que se celebran las Bodas del Cordero, eso significa que
                las
                Bodas del Cordero no se habían celebrado antes.</Bold> Lo cual a su vez significa que tienen lugar
            ahora<Bold>,</Bold> después de haber terminado la Gran Tribulación<Bold>,</Bold> y no durante los
            siete años
            que ésta dura<Bold>,</Bold> como asegura la hipótesis del <Bold>"</Bold>rapto
            secreto<Bold>".</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>5 <i>Y salió una voz del Trono<Bold>,</Bold> que decía<Bold>:</Bold> Load a nuestro
            Dios
            todos sus siervos<Bold>,</Bold> y los que le teméis<Bold>,</Bold> así pequeños como
            grandes<Bold>.</Bold></i> 6 <i>Y oí como la voz de una grande compañía<Bold>,</Bold> y como el ruido
            de
            muchas aguas<Bold>,</Bold> y como la voz de grandes truenos<Bold>,</Bold> que
            decía<Bold>:</Bold>
            Aleluya<Bold>,</Bold> porque reinó el Señor nuestro Dios Todopoderoso<Bold>.</Bold></i> 7 <i>Gocémonos
            y
            alegrémonos y démosle gloria<Bold>;</Bold> porque son venidas las bodas del Cordero<Bold>,</Bold> y
            su
            esposa se ha aparejado<Bold>.</Bold></i> 8 <i>Y le fue dado que se vista de lino fino<Bold>,</Bold>
            limpio y
            brillante<Bold>,</Bold> porque el lino fino son las justificaciones de los santos</i><Bold>."</Bold>
            (Ap
            19<Bold>:</Bold>5-8)</Paragraph>
        <Paragraph> Como vemos<Bold>,</Bold> los únicos lugares en la Biblia donde se habla de las Bodas del Cordero nos
            hacen ver
            que ya la Gran Tribulación ha pasado<Bold>.</Bold> Por consiguiente<Bold>,</Bold> <Bold>la
                hipótesis del
                rapto anterior a la Gran Tribulación está totalmente errada al asegurar que esas bodas se realizan
                durante el
                período de la Gran Tribulación.</Bold></Paragraph>
        <Paragraph> Si volvemos ahora a leer el primer pasaje (Ap 19<Bold>:</Bold>7-9)<Bold>,</Bold> veremos que al
            final
            dice<Bold>:</Bold> <Bold><i>"Bienaventurados los que son llamados a la cena del Cordero"</i>.</Bold>
            De aquí
            se infiere<Bold>,</Bold> sin mucho esfuerzo mental<Bold>,</Bold> que los que no son llamados a la
            cena del
            Cordero<Bold>,</Bold> no son bienaventurados<Bold>.</Bold></Paragraph>
        <Paragraph> Como que según la confusa doctrina del rapto<Bold>,</Bold> las bodas ocurren durante la Gran Tribulación<Bold>,</Bold>
            se hace evidente que según esa malhadada hipótesis<Bold>,</Bold> <Bold>los infelices hermanos que
                sufren
                durante ese período, no pueden participar de la cena de bodas, y por lo tanto, no son
                bienaventurados.</Bold>
            Es decir<Bold>,</Bold> esta herética enseñanza los ha excluido por decreto<Bold>,</Bold> de la
            bienaventuranza<Bold>.</Bold> <Bold>¡</Bold>Hay que pisotear la lógica y torcer excesivamente la
            Escritura
            para que concuerde con la doctrina del rapto<Bold>!</Bold></Paragraph>
        <Paragraph> Si quieren conocer más profundamente los errores de la herética doctrina del rapto anterior a la
            GT<Bold>,</Bold> lean el libro <Bold>"</Bold>Rapto Vs Arrebatamiento o Ficción Vs
            Realidad<Bold>"</Bold>
            que se halla en este mismo web site<Bold>.</Bold> Grandes compañía ganan millones vendiendo
            libros<Bold>,</Bold> vídeos<Bold>,</Bold> etc<Bold>.,</Bold> que proclaman la herética doctrina
            del
            rapto anterior a la GT<Bold>.</Bold> <Bold>¿Puede rectificar su error quien pierda millones por
                rectificarlo?</Bold> Sí<Bold>,</Bold> pueden<Bold>,</Bold> pero tendrían que amar a Dios más
            que a sus
            egos y que a sus bolsillos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    