---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Qué es lo que obstaculiza el recibir las bendiciones de Dios">
    <Tag>#136</Tag>
    <Content>
        <Paragraph><Bold>Qué es lo que obstaculiza el recibir las bendiciones de Dios</Bold></Paragraph>
        <Paragraph><Bold>Los pecados apartan de nosotros las bendiciones</Bold></Paragraph>
        <Paragraph> Como veremos claramente en el versículo que a continuación presento<Bold>,</Bold> el pecado pone
            estorbos a las
            bendiciones y cosas buenas que Dios quiere derramar sobre nosotros<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold>
            no es cosa ligera eso de posponer para más adelante el dejar de pecar<Bold>.</Bold> <Bold>Eso, además
                de ser
                una falta de respeto para Dios,</Bold> es algo que nos hace daño a nosotros<Bold>,</Bold> tanto
            personalmente<Bold>,</Bold> como a la sociedad<Bold>.</Bold> La mayoría de los males que nos
            vienen<Bold>,</Bold> se deben a nuestra falta de obediencia a los mandamientos de Dios<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Vuestras iniquidades</i></Bold> <i>han estorbado estas cosas<Bold>,</Bold> y <Bold>vuestros
            pecados</Bold> apartaron de vosotros el bien</i><Bold>."</Bold> (Jer 5<Bold>:</Bold>25)</Paragraph>
        <Paragraph> Hay veces que Dios nos castiga<Bold>,</Bold> porque merece castigo lo que hicimos<Bold>,</Bold> y
            Dios no
            hace acepción de personas<Bold>,</Bold> como dice Hechos 10<Bold>:</Bold>34<Bold>.</Bold> Otras
            veces lo
            malo que nos sucede es para que aprendamos algo<Bold>.</Bold> Pero otras veces son la natural
            consecuencia de
            nuestros hechos<Bold>,</Bold> sin deseos de que seamos castigados ni de enseñarnos
            nada<Bold>.</Bold> Puede
            que nosotros aprendamos algo de esa experiencia<Bold>,</Bold> pero no fue hecha de
            propósito<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Nuestra vida, en relación con los mandamientos y las desdichas, se perecen mucho al "Manual del
            Operador" que
            acompaña a todo aparato que compramos.</Bold> Si seguimos las instrucciones del
            fabricante<Bold>,</Bold> el
            aparato nos servirá bien<Bold>,</Bold> y nos durará mucho<Bold>;</Bold> si hacemos lo que no debemos
            padeceremos las consecuencias<Bold>.</Bold></Paragraph>
        <Paragraph> A veces nos creemos que sabemos todo lo que hay que saber<Bold>,</Bold> pero no es así<Bold>.</Bold>
            Dios da
            mandamientos que muchos se creen que fueron puestos para la gente de
            <Bold>"</Bold>antes<Bold>",</Bold> o
            que fueron puestos por gusto<Bold>;</Bold> no los cumplen y sufren las consecuencias<Bold>.</Bold>
            <Bold>Con
                un carro que yo tuve aprendí esa experiencia.</Bold></Paragraph>
        <Paragraph> Estaba yo echándole aceite barato a mi carro<Bold>.</Bold> Era un aceite que tenía buena
            viscosidad<Bold>,</Bold> y como yo sé de física<Bold>,</Bold> química<Bold>,</Bold>
            etc<Bold>.,</Bold> consideraba que estaba haciendo lo correcto<Bold>.</Bold> Presente estaba un
            amigo
            mío<Bold>,</Bold> mecánico por estudios<Bold>,</Bold> y al ver el aceite barato que yo le echaba al
            carro me
            aconsejó que le echara un aceite caro<Bold>.</Bold> Como que yo sabía que el aceite tenía viscosidad
            suficiente<Bold>,</Bold> no vi la necesidad de gastar dinero en un aceite más caro<Bold>,</Bold>
            creyendo
            que yo me las sabía todas por haber estudiado física<Bold>,</Bold> química<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph> Al cabo de tres o cuatro años se me fundió el motor del carro<Bold>,</Bold> por lo cual apelé a mi amigo
            y
            juntos le quitamos el motor viejo y pusimos el nuevo<Bold>.</Bold> Cuando acabamos<Bold>,</Bold> mi
            amigo me
            dijo<Bold>:</Bold> <Bold>"</Bold>Vamos a ver por qué razón se te fundió el motor<Bold>".</Bold>
            Comenzamos a abrirlo<Bold>,</Bold> y al quitar el cárter (recipiente donde se deposita el aceite que
            circula)
            quedó expuesto el tubo aspirante del aceite el cual tenía una malla o rejilla metálica para que no
            penetraran
            cuerpos extraños<Bold>.</Bold> Dicha rejilla estaba bloqueada por carbón solidificado<Bold>,</Bold>
            y sólo
            quedaban tres cuadritos abiertos para que aspirara el aceite<Bold>.</Bold> Por una abertura tan pequeña
            no
            entraba suficiente aceite cuando se aceleraba el carro<Bold>,</Bold> y por eso se me había
            fundido<Bold>.</Bold></Paragraph>
        <Paragraph> Al ver el tubo aspirante mi amigo me dijo<Bold>:</Bold> <Bold>"</Bold>Debes usar siempre el aceite
            más caro
            que puedas costear<Bold>,</Bold> porque los aceites caros tienen un disolvente del
            carbón<Bold>,</Bold> que
            impide que se pegue en las partes del motor<Bold>,</Bold> y ese carbón sale cada vez que cambias el
            aceite<Bold>.</Bold> Si usas aceite barato el carbón se te va pegando donde quiera<Bold>,</Bold>
            como ves
            que ha sucedido<Bold>".</Bold></Paragraph>
        <Paragraph> En ese momento me acordé y le dije<Bold>:</Bold> <Bold>"</Bold>Tú me dijiste hace tres o cuatro años
            que
            echara aceite caro<Bold>,</Bold> pero no me dijiste el por qué<Bold>,</Bold> y no te hice
            caso<Bold>.</Bold> Yo creía que lo sabía todo<Bold>."</Bold></Paragraph>
        <Paragraph><Bold>No siempre Dios nos dice por qué debemos cumplir un mandamiento,</Bold> pero si no lo
            cumplimos<Bold>,</Bold> con el tiempo veremos que se nos funde algún motor en nuestra
            vida<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    