---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Protección de Daniel en el foso de los leones">
    <Title>Por qué Daniel tuvo protección divina, en el foso de los leones</Title>

    <Tag>#137</Tag>
    <Content>
        
        <Paragraph><Bold>Según Daniel, Dios lo libró de la boca de los leones, porque él no tenía en su haber
            injusticias.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>20 <i>Y llegándose cerca del foso llamó a voces a Daniel con voz triste<Bold>;</Bold> y
            hablando el rey dijo a Daniel<Bold>:</Bold> Daniel<Bold>,</Bold> siervo del Dios
            viviente<Bold>,</Bold>
            el Dios tuyo<Bold>,</Bold> a quien tú continuamente sirves <Bold>¿</Bold>te ha podido librar de los
            leones<Bold>?</Bold></i> 21 <i>Entonces habló Daniel con el rey<Bold>:</Bold> Oh
            rey<Bold>,</Bold> para
            siempre vive<Bold>.</Bold></i> 22 <Bold>El Dios mío envió su ángel, el cual cerró la boca de los
            leones, para
            que no me hiciesen mal, porque delante de Él se halló en mí justicia;</Bold> <i>y aun delante de
            ti<Bold>,</Bold> oh rey<Bold>,</Bold> yo no he hecho lo que no debiese</i><Bold>"</Bold> (Dn
            6<Bold>:</Bold>20-22)</Paragraph>
        <Paragraph><Bold>¿</Bold>Quiere decir esto<Bold>,</Bold> que las cosas graves que les ocurren a los
            hombres<Bold>,</Bold> es porque tiene en su cuenta una cierta injusticia<Bold>?</Bold> Esta
            injusticia
            cometida por él<Bold>,</Bold> puede que no esté relacionada directamente con la injusticia que está
            padeciendo<Bold>,</Bold> pero Dios no lo libra de ésta<Bold>,</Bold> que es
            injusta<Bold>,</Bold> porque
            todavía no recibió suficiente castigo por la falta que sí cometió<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En síntesis, una falta o mancha que un humano comete o tiene, delante de Dios, invalida toda o parte
            de la
            protección que Dios nos da a través de sus ángeles.</Bold></Paragraph>
        <Paragraph> Como que Daniel no tenía nada negativo en su cuenta<Bold>,</Bold> sino que los males que pudo haber
            cometido ya
            estaban pagados<Bold>,</Bold> la protección divino-angélica se manifestó al cien por
            ciento<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>¿</Bold>Quiere esto decir que todo lo malo que le ocurra a una persona es un castigo o una deuda
            que tiene
            que saldar<Bold>?</Bold> No necesariamente<Bold>.</Bold> A veces las personas de mayor mérito
            delante de
            Dios pueden pasar etapas muy duras<Bold>,</Bold> en las que ellos le sirven a Dios para demostrar que
            los que le
            aman<Bold>,</Bold> lo siguen amando aunque padezcan<Bold>.</Bold> Tal fue el caso de
            Job<Bold>.</Bold>
            <Bold>Pero no nos creamos todos que somos como Job.</Bold></Paragraph>
        <Paragraph> Otras veces lo que ocurre es que las consecuencias del pecado nacional o social cae sobre una nación o
            conglomerado<Bold>,</Bold> y a todos sus miembros los salpica el castigo<Bold>.</Bold> Aunque todo
            esto es
            cierto<Bold>,</Bold> y aunque ese pudiera ser nuestro caso<Bold>, lo primero que yo hago no es
                examinar a la
                sociedad o a la nación, sino examinarme a mí mismo.</Bold> Como vemos<Bold>,</Bold> una de las
            bendiciones
            de la santidad<Bold>,</Bold> es contar con una <Bold>protección absoluta</Bold> de parte de
            Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    