---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las llamadas 'pruebas' y las consecuencias de los pecados">
    <Content>
        <Paragraph><Bold>Uno de los métodos que usan nuestros enemigos espirituales para oponerse a nuestra santificación es
            hacernos
            creer que las consecuencias de nuestros pecados son sólo "pruebas"</Bold></Paragraph>
        <Paragraph> Dios probó a hombres de la calidad de Job<Bold>;</Bold> el Señor no se molestaría en probar hombres como
            yo<Bold>,</Bold> que lo harían quedar mal<Bold>.</Bold> Job era un hombre digno de ser
            probado<Bold>,</Bold> por eso Dios lo usó para abochornar a Satanás<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Dios no prueba a las criaturas para saber Él cómo son, sino para que otras criaturas lo
            sepan.</Bold> Hay
            quienes creen que los males que puedan venirle al humano<Bold>,</Bold> son
            <Bold>"</Bold>pruebas<Bold>",</Bold> para Dios saber cómo reaccionaríamos ante ciertas
            circunstancias<Bold>.</Bold> No hay tal cosa<Bold>.</Bold> Cuando Dios permite pruebas es para
            informar a
            otras criaturas de cómo reaccionaríamos<Bold>.</Bold> El mejor caso para estudiar este asunto es el de
            Job<Bold>.</Bold> Este hombre no fue probado para informar a Dios cómo iba él a
            reaccionar<Bold>;</Bold> eso
            lo sabía Dios de antemano<Bold>.</Bold> Job fue probado para demostrarle a Satanás cómo criaturas de más
            baja
            categoría que la de un ángel<Bold>,</Bold> eran obedientes y agradecidos con Dios aunque las
            circunstancias les
            fueran adversas<Bold>.</Bold> Dios permitió la prueba que padeció Job<Bold>,</Bold> para demostrar
            su
            lealtad a Dios a pesar de lo que padecía<Bold>.</Bold></Paragraph>
        <Paragraph> Satanás es una criatura que a pesar de haber tenido grandeza y privilegios<Bold>,</Bold> se rebeló
            contra
            Dios<Bold>,</Bold> porque quería todavía más<Bold>.</Bold> Por eso<Bold>,</Bold>
            Dios<Bold>,</Bold>
            que conocía perfectamente cómo iba Job a reaccionar<Bold>,</Bold> permitió que Satanás lo despojara de
            todo<Bold>.</Bold> Digo que Dios sabía cómo iba a reaccionar Job<Bold>,</Bold> porque en
            1<Bold>:</Bold>8
            cuando Dios habla con Satanás sobre Job<Bold>,</Bold> dice que no había otro como él en la
            Tierra<Bold>,</Bold> que era su siervo<Bold>,</Bold> y que era un hombre perfecto<Bold>,</Bold>
            recto<Bold>,</Bold> temeroso de Dios y apartado del mal<Bold>.</Bold> <Bold>Si Dios pensaba así de
                Job, se
                evidencia que Él no estaba tratando de ver cómo era Job,</Bold> sino que estaba usando a Job para
            darle una
            lección de fidelidad a Satanás<Bold>.</Bold> Dios usó a Job para demostrar cómo una criatura de menor
            nivel que
            Satanás<Bold>,</Bold> era capaz de seguir siendo fiel aunque le quitaran todo lo que
            tenía<Bold>,</Bold> y
            aunque sufriera de una amarga dolencia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Fue un gran honor para Job haber podido servir a Dios para darle una lección de fidelidad a
            Satanás.</Bold>
            La prueba fue la más dura conocida<Bold>,</Bold> pero el honor de haber servido a Dios en este
            asunto<Bold>,</Bold> es la más grande recompensa que un hombre podría obtener<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>6 <i>Y un día vinieron los hijos de Dios a presentarse delante de Jehová<Bold>,</Bold>
            entre
            los cuales vino también Satán<Bold>.</Bold></i> 7 <i>Y dijo Jehová a Satán<Bold>:</Bold>
            <Bold>¿</Bold>De
            dónde vienes<Bold>?</Bold> Y respondiendo Satán a Jehová<Bold>,</Bold> dijo<Bold>:</Bold> De
            rodear la
            Tierra<Bold>,</Bold> y de andar por ella<Bold>.</Bold></i> 8 <Bold>Y Jehová dijo a Satán: ¿No has
            considerado a mi siervo Job, que no hay otro como él en la Tierra, varón perfecto y recto, temeroso de Dios,
            y
            apartado de mal?</Bold> 9 <i>Y respondiendo Satán a Jehová<Bold>,</Bold> dijo<Bold>:</Bold>
            <Bold>¿</Bold>Teme Job a Dios de balde<Bold>?</Bold></i> 10 <Bold>¿</Bold><i>No le has tú
            cercado a
            él<Bold>,</Bold> y a su casa<Bold>,</Bold> y a todo lo que tiene en derredor<Bold>?</Bold> Al
            trabajo de
            sus manos has dado bendición<Bold>;</Bold> por tanto su hacienda ha crecido sobre la
            tierra<Bold>.</Bold></i> 11 <i>Mas extiende ahora tu mano<Bold>,</Bold> y toca a todo lo que
            tiene<Bold>,</Bold> y verás si no te blasfema en tu rostro<Bold>.</Bold></i> 12 <Bold>Y dijo
            Jehová a
            Satán:</Bold> <i>He aquí<Bold>,</Bold> todo lo que tiene está en tu mano<Bold>;</Bold> solamente
            no pongas
            tu mano sobre él<Bold>.</Bold> Y salió Satán de delante de
            Jehová<Bold>.</Bold></i><Bold>"</Bold> (Job 1<Bold>:</Bold>6-12)
        </Paragraph>
        <Paragraph><Bold>Dios nunca necesita probar a una persona con objeto de saber cómo es.</Bold> Él sabe como es y cómo
            va a
            reaccionar cada persona<Bold>.</Bold> Cuando Dios permite una prueba sobre un ser humano es para probar
            a otros
            cómo se comporta esa persona ante esa prueba<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Algunos hermanos, erradamente, le llaman "pruebas" a las lógicas consecuencias de sus pecados y sus
            errores.</Bold> Dios no está enviando <Bold>"</Bold>pruebas<Bold>"</Bold> a esa
            gente<Bold>,</Bold>
            ellos son demasiado débiles para eso<Bold>,</Bold> y si se les prueba<Bold>,</Bold> pueden quebrarse<Bold>.</Bold>
            Ellos están sufriendo las consecuencias de sus acciones<Bold>.</Bold> Dios solamente permite ese tipo de
            pruebas
            en personas de la calidad de Job<Bold>,</Bold> porque Él sabe que los que no tienen esa calidad lo van a
            hacer
            quedar mal si los prueba<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Recuerden, no confundan las consecuencias de sus pecados y errores, con pruebas como la de
            Job,</Bold> a
            menos que Dios pueda decir de ustedes que son perfectos<Bold>,</Bold> rectos<Bold>,</Bold> temerosos
            de Dios
            y apartados del mal<Bold>.</Bold> Si no son de esa calidad<Bold>,</Bold> no se auto-adulen creyendo
            que
            vuestras amarguras son pruebas<Bold>.</Bold> Eviten envanecerse<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Las verdaderas pruebas vienen por servir a Cristo sabiamente.</Bold> Hay muchos hermanos que
            padecen las
            consecuencias de sus pecados<Bold>,</Bold> errores e insensateces<Bold>,</Bold> pero se consuelan
            diciendo
            que <Bold>"</Bold>son pruebas<Bold>"</Bold> que el Señor les pone<Bold>.</Bold> Al decir
            semejante
            tontería lo único que consiguen es engañarse a sí mismos y a todos aquellos a quienes les dicen tal
            cosa<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Las pruebas de las que en el siguiente pasaje de Pedro se habla, se originan por nuestro honesto,
            sensato y
            oportuno servicio a Cristo, no en nuestras estupideces, errores, pecados o supersticiones.</Bold> Las
            verdaderas
            pruebas son cosas malas que nos ocurren por hacer lo correcto delante de la vista de Dios<Bold>,</Bold>
            como
            cuando Pablo fue azotado en Filipo por echar un demonio de una jovencita esclava<Bold>.</Bold> O cuando
            fue
            apedreado por predicar el evangelio<Bold>.</Bold> Eso de que la verdadera prueba es la que viene por
            servir a
            Dios<Bold>,</Bold> lo manifiesta el hecho de que en el versículo 14 del pasaje en cuestión lo que se
            dice es
            <Bold>"</Bold><i>si sois vituperados <Bold>en el nombre de Cristo</Bold></i><Bold>...",</Bold> o
            sea<Bold>,</Bold> que las verdaderas pruebas vienen a consecuencia del nombre de
            Cristo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 <i>Carísimos</i><Bold>,</Bold> <i>no os maravilléis <Bold>cuando sois examinados
            por
            fuego, lo cual se hace para vuestra prueba,</Bold> como si alguna cosa peregrina os
            aconteciese<Bold>.</Bold></i>
            13 <i>Antes bien gozaos en que sois participantes de las aflicciones de Cristo<Bold>;</Bold> para que
                también en
                la revelación de su gloria os gocéis en triunfo<Bold>.</Bold></i> 14 <Bold>Si sois vituperados en
                el
                nombre de Cristo,</Bold> <i>sois bienaventurados<Bold>;</Bold> porque la gloria y el Espíritu de
                Dios
                reposan sobre vosotros<Bold>.</Bold> Cierto<Bold>,</Bold> según ellos<Bold>,</Bold> él es
                blasfemado<Bold>,</Bold>
                mas según vosotros es glorificado<Bold>.</Bold></i> 15 <i>Así que<Bold>,</Bold> <Bold>ninguno
                de
                vosotros padezca como homicida, o ladrón, o malhechor, o por meterse en negocios ajenos.</Bold></i> 16
            <Bold>Pero si alguno padece como cristiano,</Bold> <i>no se avergüence<Bold>;</Bold> antes
                glorifique a Dios
                en esta parte</i><Bold>."</Bold> (I P 4<Bold>:</Bold>12-16)</Paragraph>
        <Paragraph> En el versículo 15 se confirma lo expresado anteriormente<Bold>,</Bold> al decir que ninguno padezca
            como
            homicida<Bold>,</Bold> ladrón<Bold>,</Bold> etc<Bold>.;</Bold> reafirmándolo en el 16 cuando
            dice
            <Bold>"...</Bold>pero si alguno padece como cristiano<Bold>...".</Bold> Se ve claramente que a lo
            que Pedro
            se refiere no es a lo que muchos hoy le llaman <Bold>"</Bold>pruebas<Bold>",</Bold> sino a la
            verdadera
            prueba que se origina en el servicio correcto a Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si algún cristiano le toca en la puerta a un vecino a las 5 de la mañana para predicarle el
            evangelio, y el
            vecino le da una bofetada,</Bold> no diga que es una <Bold>"</Bold>prueba<Bold>",</Bold> porque es
            meramente una consecuencia de su estupidez<Bold>.</Bold></Paragraph>
        <Paragraph> Otros se pasan la vida emborrachándose<Bold>,</Bold> y a los cincuenta años se convierten a Cristo y no
            beben
            más<Bold>.</Bold> Luego les viene una cirrosis<Bold>,</Bold> y dicen que son
            <Bold>"</Bold>pruebas<Bold>".</Bold> No son pruebas<Bold>,</Bold> son las consecuencias de tu
            pecado
            pasado<Bold>.</Bold> Otros tienen creencias no basadas en la Biblia<Bold>,</Bold> es
            decir<Bold>,</Bold>
            supersticiones pseudos-cristianas<Bold>.</Bold> Por ejemplo<Bold>,</Bold> creen que si tienen
            consigo la
            Biblia van a estar protegidos de todo peligro<Bold>,</Bold> como si el libro fuera un
            amuleto<Bold>.</Bold>
            Luego van hacia un peligro evidente con la Biblia en la mano<Bold>,</Bold> y cuando les ocurre lo que
            les tiene
            que ocurrir<Bold>,</Bold> dicen que son <Bold>"</Bold>pruebas<Bold>".</Bold></Paragraph>
        <Paragraph> Las verdaderas pruebas ocurren siempre debido a servir a Dios en la forma correcta<Bold>,</Bold> no
            debido a
            nuestras estupideces<Bold>,</Bold> pecados<Bold>,</Bold> errores<Bold>,</Bold> falsas
            creencias<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph><Bold>Es la necedad humana, que no puede, o mejor dicho, no quiere vincular los sufrimientos de su vida con
            los
            pecados que comete.</Bold></Paragraph>
        <Paragraph><Bold> Deseando algún cristiano seguir cometiendo el pecado que le agrada, sin perder la
            salvación,</Bold> a
            veces pretende engañarse a sí mismo fingiéndose que él no cree que lo que está haciendo es
            pecado<Bold>,</Bold>
            y negándose a admitir vinculación entre lo que padece y su pecado<Bold>.</Bold> Admitir esta vinculación
            lo
            convencería de que Dios le está diciendo que es pecado<Bold>;</Bold> y entonces seguirlo cometiendo a
            pesar del
            mensaje divino<Bold>,</Bold> pudiera costarle la salvación<Bold>,</Bold> que él no quiere
            perder<Bold>.</Bold> Por eso no admite tal vinculación y rechaza tal doctrina<Bold>.</Bold></Paragraph>
        <Paragraph> Tratan de hacer ver como si por un lado<Bold>,</Bold> ellos hacen lo recto y nada hacen que dé motivo
            para
            sufrir lo que sufren<Bold>;</Bold> y por el otro lado<Bold>,</Bold> están sufriendo inexplicable y
            misteriosamente<Bold>,</Bold> amarguras<Bold>,</Bold> para
            <Bold>"</Bold>probarlos<Bold>".</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    