---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La fidelidad en la adversidad y la felicidad">
    <Title>La fidelidad en la adversidad y la felicidad</Title>

    <Tag>#139</Tag>
    <Content>
        
        <Paragraph> Es fácil para cualquiera serle fiel a quien le colma de beneficios y protección<Bold>.</Bold> Esa fue
            incluso<Bold>,</Bold> la razón que alegó Satanás para explicar<Bold>,</Bold> a su
            manera<Bold>,</Bold>
            la fidelidad de Job (Job 1<Bold>:</Bold>9-11)<Bold>.</Bold> Sin embargo<Bold>,</Bold> requiere
            fidelidad
            grande el obedecer a Dios cuando ello nos trae contratiempos<Bold>,</Bold> injusticias y hasta amarguras<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Tanto Job como José<Bold>,</Bold> el hijo de Jacob<Bold>,</Bold> eran de esos que son fieles aunque
            la
            fidelidad les acarree amarguras inexplicables<Bold>.</Bold> En el caso particular de José es de notarse
            como
            <Bold>Satanás trató de anular la futura preservación de los hijos de Jacob, que Dios iba a traer a Egipto,
                mediante el sencillo expediente de invalidar moralmente la pieza clave que Dios iba a utilizar:
                José.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Y aconteció después de esto<Bold>,</Bold> que la mujer de su señor puso sus ojos
            en
            José<Bold>,</Bold> y dijo<Bold>:</Bold> Duerme conmigo<Bold>.</Bold></i> 8 <i>Y él no
            quiso<Bold>,</Bold> y dijo a la mujer de su señor<Bold>:</Bold> <Bold>He aquí que mi señor no sabe
                conmigo
                lo que hay en casa, y ha puesto en mi mano todo lo que tiene.</Bold></i> <i>9</i> <i>No hay otro mayor
            que yo
            en esta casa<Bold>,</Bold> y ninguna cosa me ha reservado sino a ti<Bold>,</Bold> por cuanto tú eres
            su
            mujer<Bold>;</Bold> <Bold>¿cómo, pues, haría yo este grande mal y pecaría contra
                Dios?</Bold></i><Bold>"</Bold> (Gn 39<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> Por ser José fiel a Dios<Bold>,</Bold> sufrió la calumnia de la esposa del capitán de la
            guardia<Bold>,</Bold> por lo cual fue a parar a la cárcel<Bold>.</Bold> Pero aún en prisión Dios lo
            bendijo
            y fue el supervisor de los presos<Bold>.</Bold> Además<Bold>,</Bold> de allí salió a disfrutar de la
            felicidad de ser el jefe de todo Egipto<Bold>,</Bold> superado únicamente por faraón<Bold>.</Bold> Y
            sobre
            todo<Bold>,</Bold> que es lo más importante<Bold>,</Bold> la felicidad de saber que Dios lo utilizó
            para
            salvar a su familia y al pueblo que había de traer al Mesías<Bold>.</Bold></Paragraph>
        <Paragraph> Tal vez<Bold>,</Bold> antes de que un hombre reciba una gran comisión o encargo divino<Bold>,</Bold>
            Satanás<Bold>,</Bold>
            al sospechar o enterarse de los planes de Dios con esa persona<Bold>,</Bold> trate de zarandarlo como a
            trigo<Bold>,</Bold> como hizo con los apóstoles<Bold>,</Bold> según Lc
            22<Bold>:</Bold>31<Bold>.</Bold> De lo allí dicho se infiere que este abominable ser pidió
            intervenir más
            directamente en la vida de los apóstoles para causarles amarguras<Bold>.</Bold> Es de pensarse que hoy
            en día él
            o sus secuaces espirituales hagan lo mismo directamente<Bold>,</Bold> o a través de seres humanos que
            les son
            moldeables<Bold>.</Bold></Paragraph>
        <Paragraph> En épocas anteriores a la crucifixión<Bold>,</Bold> como que estos seres abominables tenían acceso
            directo a
            Dios<Bold>,</Bold> le pedían permiso<Bold>,</Bold> pues no podían hacer nada de su propio
            intento<Bold>.</Bold> Hoy en día<Bold>,</Bold> como que fueron echados del Cielo y no tienen acceso
            directo
            a Dios<Bold>,</Bold> solamente pueden utilizar el derecho implícito otorgado a toda
            criatura<Bold>,</Bold>
            desde épocas anteriores<Bold>,</Bold> que es el de proponerle su idea a los demás<Bold>.</Bold>
            Ellos no
            pueden propasarse de las leyes que Dios establece en cuanto a la tentación de las
            criaturas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    