---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Utilidad para la Iglesia, la sociedad y la Nación de la presencia y oración de los cristianos">
    <Content>
        <Paragraph>Utilidad para la Iglesia, la sociedad y la nación de la presencia y la oración de los santos</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>La presencia de los pro-Dios desvía los castigos. El mejor testimonio que se halla a nuestro alcance para
            probarnos
            que la presencia de los que aman a Dios desvía los castigos del conglomerado donde éstos se hallan, la
            tenemos en el
            caso de Sodoma, Gomorra, Adma y Seboim. Aunque en este caso el castigo no fue desviado, es el mismo Señor
            Dios el que
            nos dice que si hubiera habido diez justos en aquel lugar, Él lo perdonaría por amor de esos diez.</Paragraph>
        <Paragraph> Se evidencia en este pasaje<Bold>,</Bold> que la presencia en una sociedad<Bold>,</Bold> de personas
            que
            aman a Dios<Bold>,</Bold> pospone<Bold>,</Bold> desvía o detiene los castigos por és­ta
            merecidos<Bold>. Si
                los inconversos supieran tal cosa, no despreciarían a los cristianos que viven en sus ciudades.</Bold>
        </Paragraph>
        <Paragraph> Dios estaba dispuesto a detener el merecidísimo castigo de aquella región sodomita si en ella se hubieran
            encontrado
            viviendo cincuenta justos (26)<Bold>;</Bold> y aún si sólo hubiera diez (32)<Bold>.</Bold> Es
            increíble que en
            aquella región la corrupción fuera tan general que no hubiera diez personas por amor de las cuales Dios
            perdonara la
            región<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Entonces respondió Jehová<Bold>:</Bold></i> <Bold>Si hallare en Sodoma cincuenta
            justos
            dentro de la ciudad, perdonaré a todo este lugar</Bold> <i>por amor de ellos</i><Bold>"</Bold> (Gn
            18<Bold>:</Bold>26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y volvió a decir<Bold>:</Bold> No se enoje ahora mi Señor<Bold>,</Bold> si
            hablare
            solamente una vez<Bold>:</Bold> Quizá se hallarán allí diez<Bold>.</Bold></i> <Bold>No la
            destruiré,
            respondió, por amor de los diez</Bold><Bold>."</Bold> (Gn 18<Bold>:</Bold>32)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Después<Bold>,</Bold> en el capítulo 19 vemos que no ya diez<Bold>,</Bold> <Bold>¡</Bold>no
            había ni
            cuatro<Bold>!</Bold> De las cuatro personas que fueron salvadas de la destrucción<Bold>,</Bold>
            sacándolas de
            la ciudad<Bold>,</Bold> una fue destruida por desobediencia<Bold>,</Bold> que fue la esposa que miró
            atrás
            (26)<Bold>,</Bold> y dos estaban tan infectadas por la corrupción general que emborracharon a su padre
            para
            cometer un incesto (19<Bold>:</Bold>31-38)<Bold>.</Bold> Efectivamente<Bold>,</Bold>
            <Bold>¡¡</Bold>no
            había ni diez<Bold>!!</Bold></Paragraph>
        <Paragraph><Bold>Si los que se oponen a que se enseñe cristianismo en las escuelas y lugares públicos</Bold> de
            nuestra
            sociedad fueran más inteligentes<Bold>,</Bold> no se opondrían<Bold>.</Bold> <Bold>Cada vez que
                ellos
                terminan su destructiva tarea de descristianizar una nación, la sociedad pervertida se los come a ellos.
                La historia
                es testigo.</Bold></Paragraph>
        <Paragraph><Bold>Las oraciones de los cristianos preservan la nación en que viven.</Bold> Las oraciones intercesoras
            de los
            pro-Dios<Bold>,</Bold> a favor de otros hermanos ayudan a la preservación de los que son objeto de esa
            oración<Bold>.</Bold> Un caso patente es el de Abraham y Lot<Bold>.</Bold> Veamos<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Por misericordia con Abraham Dios libró a Lot, como vemos en Gn 19:29. De lo que se dice en este versículo
            parece
            poderse colegir que por tener misericordia de Abraham fue que Dios libró a Lot, aparte de que Lot tampoco
            participaba
            de aquella abominación y más aún, la repudiaba.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Así fue que<Bold>,</Bold> cuando destruyó Dios las ciudades de la
            llanura<Bold>,</Bold>
            <Bold>se acordó de Abraham, y envió fuera a Lot de en medio de la destrucción</Bold> al asolar las
            ciudades donde
            Lot estaba</i><Bold>."</Bold> (Gn 19<Bold>:</Bold>29)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al índice</a></Paragraph>

    </Content>
</Layout>
    