---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Un factor para interpretar correctamente la Biblia">
    <section>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>Para interpretar correctamente la Biblia hay que tener en cuenta que Dios, Cristo y el Espíritu
            Santo, ni se
            contradicen entre sí ni cambian de opinión a través de los siglos</Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>Cristo es el mismo ayer, hoy y por los siglos</Bold></Paragraph>
        <Paragraph><Bold> Uno de los factores para interpretar correctamente la Biblia</Bold> es darnos cuenta de que
            Dios<Bold>,</Bold> Cristo y el Espíritu Santo<Bold>,</Bold> son seres divinos<Bold>.</Bold> Por
            lo tanto
            <Bold>no es lógico suponer que Dios cambia de opinión,</Bold> necesitado de
            rectificación<Bold>.</Bold> Es
            absurdo pensar que el Creador erró cuando dijo o mandó cierta cosa en un libro de la
            Biblia<Bold>,</Bold> y que
            por eso<Bold>,</Bold> tuvo luego que rectificar su error en otro libro<Bold>.</Bold></Paragraph>
        <Paragraph> Tampoco es lógico creer que Dios pensaba de una manera<Bold>,</Bold> y así lo expresaba en el Antiguo
            Testamento<Bold>,</Bold>
            pero Cristo pensaba de otra forma diferente<Bold>,</Bold> y por eso lo contradecía en el Nuevo
            Testamento<Bold>.</Bold></Paragraph>
        <Paragraph> Otros son capaces hasta de suponer que el Espíritu Santo inspiraba algo a los discípulos<Bold>,</Bold>
            con lo
            cual Dios no estaba de acuerdo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Esto dicho así, parecerá que ningún verdadero cristiano piensa semejante cosa,</Bold> pero de hecho
            lo
            creen sin darse cuenta de que lo creen<Bold>,</Bold> cuando sostienen doctrinas
            erradas<Bold>.</Bold> Todo lo
            que dice la Biblia tiene que armonizar<Bold>,</Bold> porque Dios no es un ser de discordias ni de
            caos<Bold>.</Bold></Paragraph>
        <Paragraph> Si la interpretación de un pasaje implica algo de esto que acabamos de decir<Bold>,</Bold> es el
            intérprete el
            que está errado<Bold>,</Bold> no la Biblia<Bold>.</Bold> Es el intérprete el que no entiende<Bold>,</Bold>
            no que Dios cambió de opinión<Bold>,</Bold> o que Cristo le enmendó o le mejoró la plana a su
            Padre<Bold>.</Bold></Paragraph>
        <Paragraph> Hay hermanos que cuando interpretan algún pasaje de la Escritura actúan como si ellos creyeran que
            <Bold>"</Bold>antes<Bold>"</Bold> Dios opinaba una cosa<Bold>,</Bold> mientras que
            <Bold>"</Bold>ahora<Bold>"</Bold>
            opina lo contrario<Bold>.</Bold> Otros actúan como si Dios tuviera una opinión y Jesucristo tuviera una
            opinión
            opuesta<Bold>.</Bold> Otros incluso creen que Dios tenía una opinión defectuosa<Bold>,</Bold> pero
            Cristo<Bold>,</Bold> cuando vino<Bold>,</Bold> la mejoró<Bold>.</Bold> Si vamos a Heb 13<Bold>:</Bold>8
            veremos que San Pablo nos dice<Bold>,</Bold> inspirado por el Espíritu Santo<Bold>,</Bold> que
            Jesucristo no
            cambia<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Jesucristo es el mismo ayer<Bold>,</Bold> y hoy<Bold>,</Bold> y por los
            siglos</i><Bold>"</Bold> (Heb 13<Bold>:</Bold>8)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Si Jesucristo es el mismo siempre<Bold>,</Bold> es lógico pensar que él no ha cambiado<Bold>.</Bold>
            Si por
            otro lado sabemos que él siempre obedece al Padre<Bold>,</Bold> es lógico también pensar que él ha
            estado siempre
            de acuerdo con el Padre<Bold>,</Bold> y por ende<Bold>,</Bold> que tampoco el Padre ha cambiado
            jamás<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>En Dios no hay mudanza ni sombra de variación</Bold></Paragraph>
        <Paragraph> También Santiago nos testifica que Dios no cambia de parecer<Bold>.</Bold> El Creador no necesita
            rectificar<Bold>,</Bold> porque Él nunca se equivoca<Bold>.</Bold> <Bold>Por lo tanto, si alguna
                interpretación de un pasaje implica que Dios, o Cristo, o el Espíritu Santo, "mejoraron" algo de lo que
                antes se
                había dicho, esa interpretación está equivocada.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Toda buena dádiva y todo don <Bold>perfecto</Bold> es de lo alto<Bold>,</Bold>
            que
            desciende del Padre de las luces<Bold>,</Bold> <Bold>en el cual no hay mudanza ni sombra de
                variación</Bold></i><Bold>."</Bold> (Stg 1<Bold>:</Bold>17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Siendo tres seres divinos<Bold>,</Bold> ni Dios<Bold>,</Bold> ni Cristo<Bold>,</Bold> ni el
            Espíritu
            Santo van a tener que rectificar algo de lo que antes dijeron u ordenaron<Bold>.</Bold> Si al
            interpretar un
            pasaje<Bold>,</Bold> nuestra interpretación implica que Cristo mejoró algo que estableció o dijo
            Dios<Bold>,</Bold> esa interpretación está errada<Bold>.</Bold> Si nuestra interpretación de lo
            dicho por
            algún escritor de la Biblia<Bold>,</Bold> hombres que escribieron siendo inspirados por el Espíritu
            Santo<Bold>,</Bold> implica que ellos están <Bold>"</Bold>mejorando<Bold>"</Bold> o
            <Bold>"</Bold>cambiando<Bold>"</Bold>
            algún mandamiento de Dios o de Cristo<Bold>,</Bold> esa interpretación es errada y hasta
            blasfema<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Dios dice personalmente, que Él no cambia</Bold></Paragraph>
        <Paragraph> En el Antiguo Testamento también se percibe claramente esa idea<Bold>.</Bold> Cuando Dios les echa en
            cara a los
            israelitas sus pecados<Bold>,</Bold> les informa que si ellos no han sido consumidos por sus
            pecados<Bold>,</Bold> es porque Dios no cambia<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque <Bold>yo, Jehová, no me mudo,</Bold> y así vosotros hijos de
            Jacob<Bold>,</Bold>
            no habéis sido consumidos</i><Bold>."</Bold> (Mlq 3<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Nadie que sea perfecto tiene que rectificar sus errores, porque entonces no sería perfecto.</Bold>
            Quien
            tenga un concepto correcto<Bold>,</Bold> comprenderá que ningún ser divino cambia de
            opinión<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </section>
</Layout>
    