---
import Layout from "../layout/Layout.astro";
---

<Layout title="Un factor para interpretar correctamente la Biblia">
    <section>
        <p><strong> </strong></p>
        <p><strong>Para interpretar correctamente la Biblia hay que tener en cuenta que Dios, Cristo y el Espíritu
            Santo, ni se
            contradicen entre sí ni cambian de opinión a través de los siglos</strong></p>
        <p><strong> </strong></p>
        <p><strong>Cristo es el mismo ayer, hoy y por los siglos</strong></p>
        <p><strong> Uno de los factores para interpretar correctamente la Biblia</strong> es darnos cuenta de que
            Dios<strong>,</strong> Cristo y el Espíritu Santo<strong>,</strong> son seres divinos<strong>.</strong> Por
            lo tanto
            <strong>no es lógico suponer que Dios cambia de opinión,</strong> necesitado de
            rectificación<strong>.</strong> Es
            absurdo pensar que el Creador erró cuando dijo o mandó cierta cosa en un libro de la
            Biblia<strong>,</strong> y que
            por eso<strong>,</strong> tuvo luego que rectificar su error en otro libro<strong>.</strong></p>
        <p> Tampoco es lógico creer que Dios pensaba de una manera<strong>,</strong> y así lo expresaba en el Antiguo
            Testamento<strong>,</strong>
            pero Cristo pensaba de otra forma diferente<strong>,</strong> y por eso lo contradecía en el Nuevo
            Testamento<strong>.</strong></p>
        <p> Otros son capaces hasta de suponer que el Espíritu Santo inspiraba algo a los discípulos<strong>,</strong>
            con lo
            cual Dios no estaba de acuerdo<strong>.</strong></p>
        <p><strong>Esto dicho así, parecerá que ningún verdadero cristiano piensa semejante cosa,</strong> pero de hecho
            lo
            creen sin darse cuenta de que lo creen<strong>,</strong> cuando sostienen doctrinas
            erradas<strong>.</strong> Todo lo
            que dice la Biblia tiene que armonizar<strong>,</strong> porque Dios no es un ser de discordias ni de
            caos<strong>.</strong></p>
        <p> Si la interpretación de un pasaje implica algo de esto que acabamos de decir<strong>,</strong> es el
            intérprete el
            que está errado<strong>,</strong> no la Biblia<strong>.</strong> Es el intérprete el que no entiende<strong>,</strong>
            no que Dios cambió de opinión<strong>,</strong> o que Cristo le enmendó o le mejoró la plana a su
            Padre<strong>.</strong></p>
        <p> Hay hermanos que cuando interpretan algún pasaje de la Escritura actúan como si ellos creyeran que
            <strong>"</strong>antes<strong>"</strong> Dios opinaba una cosa<strong>,</strong> mientras que
            <strong>"</strong>ahora<strong>"</strong>
            opina lo contrario<strong>.</strong> Otros actúan como si Dios tuviera una opinión y Jesucristo tuviera una
            opinión
            opuesta<strong>.</strong> Otros incluso creen que Dios tenía una opinión defectuosa<strong>,</strong> pero
            Cristo<strong>,</strong> cuando vino<strong>,</strong> la mejoró<strong>.</strong> Si vamos a Heb 13<strong>:</strong>8
            veremos que San Pablo nos dice<strong>,</strong> inspirado por el Espíritu Santo<strong>,</strong> que
            Jesucristo no
            cambia<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Jesucristo es el mismo ayer<strong>,</strong> y hoy<strong>,</strong> y por los
            siglos</i><strong>"</strong> (Heb 13<strong>:</strong>8)</p>
        <p></p>
        <p> Si Jesucristo es el mismo siempre<strong>,</strong> es lógico pensar que él no ha cambiado<strong>.</strong>
            Si por
            otro lado sabemos que él siempre obedece al Padre<strong>,</strong> es lógico también pensar que él ha
            estado siempre
            de acuerdo con el Padre<strong>,</strong> y por ende<strong>,</strong> que tampoco el Padre ha cambiado
            jamás<strong>.</strong></p>
        <p></p>
        <p></p>
        <p><strong>En Dios no hay mudanza ni sombra de variación</strong></p>
        <p> También Santiago nos testifica que Dios no cambia de parecer<strong>.</strong> El Creador no necesita
            rectificar<strong>,</strong> porque Él nunca se equivoca<strong>.</strong> <strong>Por lo tanto, si alguna
                interpretación de un pasaje implica que Dios, o Cristo, o el Espíritu Santo, "mejoraron" algo de lo que
                antes se
                había dicho, esa interpretación está equivocada.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Toda buena dádiva y todo don <strong>perfecto</strong> es de lo alto<strong>,</strong>
            que
            desciende del Padre de las luces<strong>,</strong> <strong>en el cual no hay mudanza ni sombra de
                variación</strong></i><strong>."</strong> (Stg 1<strong>:</strong>17)</p>
        <p></p>
        <p> Siendo tres seres divinos<strong>,</strong> ni Dios<strong>,</strong> ni Cristo<strong>,</strong> ni el
            Espíritu
            Santo van a tener que rectificar algo de lo que antes dijeron u ordenaron<strong>.</strong> Si al
            interpretar un
            pasaje<strong>,</strong> nuestra interpretación implica que Cristo mejoró algo que estableció o dijo
            Dios<strong>,</strong> esa interpretación está errada<strong>.</strong> Si nuestra interpretación de lo
            dicho por
            algún escritor de la Biblia<strong>,</strong> hombres que escribieron siendo inspirados por el Espíritu
            Santo<strong>,</strong> implica que ellos están <strong>"</strong>mejorando<strong>"</strong> o
            <strong>"</strong>cambiando<strong>"</strong>
            algún mandamiento de Dios o de Cristo<strong>,</strong> esa interpretación es errada y hasta
            blasfema<strong>.</strong></p>
        <p></p>
        <p><strong>Dios dice personalmente, que Él no cambia</strong></p>
        <p> En el Antiguo Testamento también se percibe claramente esa idea<strong>.</strong> Cuando Dios les echa en
            cara a los
            israelitas sus pecados<strong>,</strong> les informa que si ellos no han sido consumidos por sus
            pecados<strong>,</strong> es porque Dios no cambia<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Porque <strong>yo, Jehová, no me mudo,</strong> y así vosotros hijos de
            Jacob<strong>,</strong>
            no habéis sido consumidos</i><strong>."</strong> (Mlq 3<strong>:</strong>6)</p>
        <p></p>
        <p><strong>Nadie que sea perfecto tiene que rectificar sus errores, porque entonces no sería perfecto.</strong>
            Quien
            tenga un concepto correcto<strong>,</strong> comprenderá que ningún ser divino cambia de
            opinión<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
        <p></p>
        <p></p>
        <p></p>

    </section>
</Layout>
    