---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La Biblia es una unidad doctrinal monolítica">
    <Content>

        <Paragraph></Paragraph>
        <Paragraph><Bold>La Biblia es una unidad doctrinal monolítica</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>Las Sagradas Escrituras no son las opiniones de sus muchos escritores, sino la de Dios, por
            tanto,</Bold>
            debemos cuidar que nuestra interpretación de un pasaje armonice con <Bold>toda la Biblia,</Bold> no
            solamente con
            ciertos pasajes<Bold>,</Bold> libros o secciones de ella<Bold>.</Bold> Si una interpretación nuestra
            concuerda
            solamente con el 75 % de lo dicho en la Biblia<Bold>,</Bold> pero antagoniza con el otro
            25%<Bold>,</Bold> eso
            significa que esa interpretación<Bold>,</Bold> aunque no esté totalmente errada<Bold>,</Bold>
            tampoco está
            totalmente correcta<Bold>.</Bold> Puede que tenga cosas ciertas<Bold>,</Bold> pero algo anda mal en
            ella<Bold>.</Bold> Cuando eso nos ocurre es hora de discutir el tema con los que se oponen a nuestra
            manera de ver
            las cosas<Bold>.</Bold> Los que se oponen a nuestras interpretaciones son los únicos que pueden sacarnos
            de del
            error si es que estamos errados; los que piensan igual que nosotros sólo pueden reafirmarnos en nuestro
            error si es
            que estamos errados.</Paragraph>
        <Paragraph> La Biblia ha tenido muchos escritores<Bold>,</Bold> pero allí no se ponían sus personales opiniones para
            que nos
            sirvieran de guía<Bold>,</Bold> sino la sola opinión de Dios<Bold>.</Bold> Por eso es que la Biblia
            es una
            unidad monolítica doctrinal y proféticamente hablando<Bold>.</Bold> Todo lo que allí hay fue inspirado
            por el
            Espíritu Santo<Bold>,</Bold> según nos dice el Apóstol Pedro<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque la profecía no fue en los tiempos pasados traída por voluntad
            humana<Bold>,</Bold>
            sino <Bold>los santos hombres de Dios hablaron siendo inspirados del Espíritu
                Santo</Bold></i><Bold>."</Bold>
        </Paragraph>
        <Paragraph> (II P 1<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Otro tanto nos dice el Apóstol Pablo cuando aleccionando a Timoteo le dice lo siguiente<Bold>:</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Toda Escritura es inspirada divinamente,</i></Bold><i> y útil para enseñar<Bold>,</Bold>
            para
            redargüir<Bold>,</Bold> para corregir<Bold>,</Bold> para instituir en
            justicia</i><Bold>."</Bold> (II Tim
            3<Bold>:</Bold>16)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Como vemos<Bold>,</Bold> dos apóstoles nos dicen que toda la Escritura es de Dios<Bold>.</Bold> Por
            consiguiente<Bold>,</Bold> <Bold>no</Bold> es lógico pensar que diferentes secciones de la Escritura
            enseñen
            cosas antagónicas<Bold>,</Bold> cosas que se den de punta una con la otra<Bold>.</Bold> <Bold>Dios
                no es un
                ser de contradicción, anarquía y caos, sino de armonía. Por lo tanto, cualquier interpretación correcta
                tiene que
                armonizar con el resto de la Biblia.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver al índice</Bold></a></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"> </a></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    