---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las mujeres no tenían prohibidas ciertas actividades">
    <Content>
        <Paragraph></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>Las mujeres no tenían "prohibidas" ciertas actividades, eran las circunstancias las que se lo
            prohibían</Bold></Paragraph>
        <Paragraph> Hay mucha gente que cree que en la antigüedad y sobre todo en la Biblia<Bold>,</Bold> las mujeres eran
            menospreciadas y hasta despreciadas<Bold>.</Bold> Hay quien tiene esto en la mente por sus atavismos
            misóginos<Bold>,</Bold> pero hay quien lo cree por error<Bold>.</Bold> Eso no ocurría en la cultura
            bíblica<Bold>,</Bold> sino que eso se introdujo en aquella región a partir de la imposición de la
            religión
            islámica<Bold>.</Bold> Las religiones falsas se distinguen por tener dos posiciones extremas y erradas
            hacia la
            mujer<Bold>:</Bold> unos la desprecian<Bold>,</Bold> otros las adoran como
            semidiosas<Bold>.</Bold></Paragraph>
        <Paragraph> El hecho de que la mujer no descollara más a menudo en las culturas antiguas se ha debido a que en épocas
            pasadas
            <Bold>la fuerza física era indispensable para descollar en la sociedad.</Bold></Paragraph>
        <Paragraph> Hasta los 1800 lo que existía era una sociedad que por no tener los adelantos técnicos de
            hoy<Bold>,</Bold>
            requería la fuerza bruta<Bold>.</Bold> Pongamos el caso de la guerra<Bold>.</Bold> Quienes más han
            descollado
            siempre en la sociedad han sido los héroes guerreros<Bold>.</Bold> La guerra se hacía a
            mazazos<Bold>,</Bold>
            a espada<Bold>,</Bold> a pedradas<Bold>,</Bold> corriéndole detrás a los que se les escapaban o
            corriéndole
            delante a los que los vencían y perseguían<Bold>,</Bold> luchando cuerpo a cuerpo con el enemigo<Bold>.</Bold>
            Nada de estas cosas las podían hacer las mujeres con la eficiencia de los hombres<Bold>.</Bold> Por lo
            tanto<Bold>,</Bold> <Bold>no podían ellas, por lo general, ser heroínas en la guerra y, por ende,
                tampoco podían
                ser personajes influyentes en la sociedad.</Bold></Paragraph>
        <Paragraph> Hoy en día por el contrario<Bold>,</Bold> se les permite alistarse en el ejercito<Bold>,</Bold> la
            marina y
            la aviación<Bold>.</Bold> Cualquier mujer puede pilotear un avión de combate<Bold>,</Bold> no se
            requiere
            extraordinarios esfuerzos físicos para ello<Bold>.</Bold></Paragraph>
        <Paragraph> Lo mismo se puede decir de los negocios<Bold>.</Bold> Una mujer de entonces podía dedicarse a ciertos y
            determinados negocios<Bold>,</Bold> pero no a tantos como los hombres<Bold>.</Bold> Tenemos el caso
            de la
            mujer de la que habla Prv 31<Bold>:</Bold>10-31<Bold>,</Bold> y de Lidia<Bold>,</Bold> en Hch
            16<Bold>:</Bold>14<Bold>,</Bold> que se dedicaban a negocios que ellas podían llevar a
            cabo<Bold>.</Bold>
            Pero <Bold>no podían por ejemplo, como sí hacían muchos hombres, llevar su mercadería a lugares distantes
                y
                peligrosos,</Bold> cabalgando en su camello<Bold>,</Bold> porque por su
            debilidad<Bold>,</Bold> las
            asaltarían<Bold>,</Bold> las violarían<Bold>,</Bold> las esclavizarían o las
            asesinarían<Bold>.</Bold></Paragraph>
        <Paragraph> Hoy en día cualquier mujer puede viajar con seguridad para su persona a la mayoría de las grandes ciudades
            del mundo
            y hacer grandes negocios<Bold>.</Bold> Incluso puede hacer muchos de esos negocios sin salir de su
            oficina<Bold>,</Bold>
            a través del teléfono<Bold>,</Bold> del fax<Bold>,</Bold> la computadora<Bold>,</Bold> y de
            servicios
            bancarios en diversos países<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Si hablamos de trabajo en el campo sucede lo mismo.</Bold> Una mujer puede arar un terreno en un
            tractor<Bold>,</Bold> o desmontar un terreno lleno de malezas<Bold>,</Bold> montada en una moto
            niveladora<Bold>.</Bold> No era lo mismo en los 1<Bold>,</Bold>800<Bold>,</Bold> cuando lo único
            que se
            podía utilizar era el brazo fuerte del hombre o la fuerza del buey o del caballo<Bold>.</Bold> No les
            era fácil
            por lo tanto<Bold>,</Bold> acumular riquezas en la agricultura y la ganadería<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>La cuestión no era que "antes" la mujer fuera despreciada;</Bold> la cuestión es que
            antes<Bold>,</Bold> en tiempos bíblicos<Bold>,</Bold> la mujer no podía competir en el mundo brutal
            en que se
            vivía<Bold>,</Bold> y nadie le iba a dar oportunidad a una competidora<Bold>,</Bold> porque tampoco
            se la
            daban a un competidor<Bold>.</Bold> Por eso las mujeres estaban reservadas para cierta clase de trabajos
            o
            actividades<Bold>,</Bold> a las cuales ellas mismas se restringían por naturaleza<Bold>.</Bold> Eso
            no quiere
            decir que no hubiera excepciones<Bold>,</Bold> pero eran eso<Bold>,</Bold> excepciones en las cuales
            por algún
            motivo o circunstancia no frecuente<Bold>,</Bold> descollaba la mujer<Bold>.</Bold></Paragraph>
        <Paragraph> Como vemos <Bold>no era una cuestión de que estuviera prohibido a la mujer descollar; era que las
            circunstancias
            no se lo permitían.</Bold></Paragraph>
        <Paragraph> Entre los trabajos que hacían las mujeres estaban los domésticos<Bold>,</Bold> puesto que en la ciudad y
            en su
            casa se hallaban más seguras<Bold>,</Bold> que andando solas por el campo<Bold>.</Bold> No
            obstante<Bold>,</Bold> ellas trabajaban en el campo en compañía de sus familiares y de los demás
            vecinos<Bold>,</Bold> o en lugares cercanos a la ciudad donde vivían<Bold>,</Bold> que eran
            frecuentados por
            sus vecinos y conocidos<Bold>.</Bold> Tal es el caso de las mujeres que pastoreaban las ovejas de la
            familia<Bold>.</Bold></Paragraph>
        <Paragraph> En Ex 2<Bold>:</Bold>16 también se ve que las hijas de Jethro<Bold>,</Bold> el suegro de
            Moisés<Bold>,</Bold> apacentaban las ovejas de su padre<Bold>.</Bold> En este caso
            especial<Bold>,</Bold>
            estas mujeres aunque no recibían agresiones graves<Bold>,</Bold> eran desplazadas por los otros
            pastores<Bold>.</Bold> Motivado por ese abuso fue que Moisés las defendió y llegó a envolverse con la
            familia de
            Jethro<Bold>.</Bold> También Rachel era pastora de las ovejas de Labán su padre<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Tenía el sacerdote de Madián siete hijas<Bold>,</Bold> las cuales vinieron a sacar
            agua<Bold>,</Bold> para llenar las pilas y <Bold>dar de beber a las ovejas de su
                padre</Bold></i><Bold>."</Bold> (Ex 2<Bold>:</Bold>16)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Estando aún él hablando con ellos Rachel vino con el ganado de su
            padre<Bold>,</Bold> porque
            <Bold>ella era la pastora</Bold></i><Bold>."</Bold> (Gn 29<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Otra tarea que a veces daban a las mujeres era la de <Bold>guardar las viñas,</Bold> como se ve en Cant
            1<Bold>:</Bold>6<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>No miréis en que soy morena<Bold>,</Bold> porque el sol me miró<Bold>.</Bold>
            Los hijos
            de mi madre se airaron contra mí<Bold>, me hicieron guarda de viñas;</Bold> y mi viña<Bold>,</Bold>
            que era
            mía<Bold>,</Bold> no guardé</i><Bold>."</Bold> (Cnt 1<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> El acarrear el agua para el servicio de la casa<Bold>,</Bold> era otra labor de las
            mujeres<Bold>,</Bold>
            especialmente las solteras<Bold>.</Bold> El que haya visto beber a un caballo<Bold>,</Bold>
            comprenderá la
            labor que tuvo que hacer Rebeca para dar de beber a diez camellos<Bold>.</Bold> El cántaro que ella
            cargaba al
            hombro no parece haber sido pequeño<Bold>,</Bold> porque no se llena una
            <Bold>"</Bold>pila<Bold>"</Bold>
            (un tanque de piedra que hay cerca de los pozos) para que beban diez camellos<Bold>,</Bold> con buchitos
            de
            agua<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y se dio prisa<Bold>,</Bold> y vació su cántaro en la pila<Bold>,</Bold> y
            corrió otra
            vez al pozo para sacar agua<Bold>, y sacó para todos sus camellos</Bold></i><Bold>."</Bold> (Gn
            24<Bold>:</Bold>20)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Parece que aquellas mujeres<Bold>,</Bold> dentro de ciertos límites<Bold>,</Bold> tenían un rudo
            trabajo<Bold>.</Bold> Acarrear el agua que se necesita en una casa<Bold>,</Bold> cántaro por
            cántaro<Bold>,</Bold> no es tarea ligera<Bold>.</Bold> Claro que es más que probable que hubiera
            otras jóvenes
            en la casa que compartieran dicha tarea<Bold>.</Bold> Da la sensación<Bold>,</Bold> a juzgar por el
            versículo
            43 que <Bold>el trabajo de ir a buscar agua al pozo estaba reservado a las mujeres solteras;</Bold> por
            lo menos
            en esa época o en esa región<Bold>.</Bold> En época de Cristo vemos que la samaritana iba a buscar
            agua<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>He aquí yo estoy junto a la fuente de agua<Bold>;</Bold> sea<Bold>,</Bold>
            pues<Bold>,</Bold> que <Bold>la doncella que saliere por agua,</Bold> a la cual
            dijere<Bold>:</Bold> Dame
            a beber<Bold>,</Bold> te ruego<Bold>,</Bold> un poco de agua de tu cántaro</i><Bold>"</Bold> (Gn
            24<Bold>:</Bold>43)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> También había otras actividades propias de hombres que a veces hacían las mujeres<Bold>,</Bold> como se
            ve en el
            caso de la construcción de los muros de Jerusalem por Nehemías<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Junto a ellos restauró Sallum hijo de Lohes<Bold>,</Bold> príncipe de la mitad de la
            región
            de Jerusalem<Bold>,</Bold> <Bold>él con sus hijas</Bold></i><Bold>."</Bold></Paragraph>
        <Paragraph> (Neh 3<Bold>:</Bold>12)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> En este caso se ve que no ya una mujer<Bold>,</Bold> sino toda una familia de ellas<Bold>,</Bold>
            estaban
            trabajando en la restauración de los muros de Jerusalem<Bold>.</Bold> Es indudable que una de
            dos<Bold>,</Bold> o estas mujeres ejercían como arquitectas<Bold>,</Bold> o trabajaban en la
            albañilería<Bold>.</Bold></Paragraph>
        <Paragraph> En general<Bold>,</Bold> en cuanto a las actividades de las mujeres<Bold>,</Bold> no había reglas
            prohibitivas<Bold>,</Bold> eran ellas mismas las que<Bold>,</Bold> sabiendo que físicamente no
            podían competir<Bold>,</Bold>
            se apartaban<Bold>.</Bold> Sin embargo<Bold>,</Bold> las que se consideraban capaces de hacer algo
            lo hacían
            sin que nadie las molestase<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En cuanto a las actividades sociales,</Bold> se percibe que participaban tanto hombres como mujeres<Bold>,</Bold>
            como vemos en el siguiente pasaje de Job<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>E iban sus hijos y hacían banquetes en sus casas<Bold>,</Bold> cada uno en su
            día<Bold>;</Bold> <Bold>y enviaban a llamar sus tres hermanas, para que comiesen y bebiesen con
                ellos</Bold></i><Bold>."</Bold> (Job 1<Bold>:</Bold>4)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>En general</Bold> se puede decir que las mujeres tenían libertad<Bold>,</Bold> pero las
            circunstancias<Bold>,</Bold> la competencia<Bold>,</Bold> y la naturaleza misma de su
            sexo<Bold>,</Bold>
            las limitaban mucho<Bold>.</Bold> Incluso el mismo hecho de ser mujeres y salir en estado y criar los
            recién
            nacidos<Bold>,</Bold> las limitaba en el uso del tiempo y en la cantidad de esfuerzo que podían dedicar
            a otras
            labores para superarse política<Bold>,</Bold> social o económicamente<Bold>.</Bold> No quiere esto
            decir que
            ninguna lo hacía<Bold>,</Bold> lo que significa es que siempre había más impedimentos para las mujeres
            que para
            los hombres<Bold>.</Bold> Es bueno analizar estas cosas porque ello nos conduce a entender las
            costumbres<Bold>,</Bold> y el entenderlas nos ayuda a interpretar correctamente la
            Escritura<Bold>.</Bold></Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al índice</a></Paragraph>

    </Content>
</Layout>
    