---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="En la Biblia los números se redondeaban">
    <section>
        <Paragraph><Bold>En la Biblia los números se redondeaban</Bold></Paragraph>
        <Paragraph> Hoy en día nuestras actividades nos obligan a ser precisos<Bold>.</Bold> Si varios amigos van a tomar un
            avión<Bold>,</Bold> tienen que estar allí a 4<Bold>:</Bold>20 P<Bold>.</Bold>M<Bold>.</Bold>
            En siglos
            pasados no era así<Bold>,</Bold> si varios amigos se reunían para dar un viaje a
            caballo<Bold>,</Bold> tenían
            que estar en el punto de partida a media mañana<Bold>,</Bold> o después de almuerzo<Bold>.</Bold>
            Por la misma
            razón hoy en día cuando se hace un censo<Bold>,</Bold> se dan números exactos<Bold>,</Bold> pero la
            costumbre
            de aquella época era redondear los números<Bold>.</Bold> Por ejemplo<Bold>,</Bold> si se contaban
            3<Bold>,</Bold>218 personas<Bold>,</Bold> se ponía 3<Bold>,</Bold>200<Bold>;</Bold> y si se
            contaban 3<Bold>,</Bold>288
            se decía 3<Bold>,</Bold>300<Bold>.</Bold></Paragraph> En el siguiente pasaje tenemos una prueba de ello. En
        Nm 3:22 se
        dice que los descendientes de Gersón eran 7,500. En el 28 se dice que los de Coath eran 8,600; y en el 34 se
        dice que
        los de Merari eran 6,200. Es mucha casualidad que los tres vayan a terminar en dos ceros. Son trescientas contra
        una las
        posibilidades de que todos terminen en dos ceros. Veamos.
        <Paragraph></Paragraph><Bold> "</Bold><i>Los contados de ellos conforme a la cuenta de todos los varones de un mes
        arriba<Bold>,</Bold> los contados de ellos<Bold>,</Bold> <Bold>siete mil y
            quinientos</Bold></i><Bold>."</Bold> (Nm 3<Bold>:</Bold>22) <Bold> "</Bold><i>Por la cuenta de
        todos
        los varones de un mes arriba<Bold>,</Bold> eran <Bold>ocho mil y seiscientos,</Bold> que tenían la
        guarda del
        santuario</i><Bold>."</Bold> (Nm 3<Bold>:</Bold>28) <Bold> "</Bold><i>Y los contados de ellos
        conforme a
        la cuenta de todos los varones de un mes arriba<Bold>,</Bold> fueron <Bold>seis mil y
            doscientos</Bold></i><Bold>."</Bold> (Nm 3<Bold>:</Bold>34) <Bold> "</Bold><i>Todos los
        contados de
        los levitas<Bold>,</Bold> que Moisés y Aarón conforme a la palabra de Jehová contaron por sus
        familias<Bold>,</Bold> todos los varones de un mes arriba<Bold>,</Bold> <Bold>fueron veinte y dos
            mil</Bold></i><Bold>."</Bold> (Nm 3<Bold>:</Bold>39)
        <Paragraph> Pero no es solamente esto que acabo de decir lo que demuestra que esa era la costumbre<Bold>,</Bold>
            sino el
            versículo 39 donde se dice que todos los contados de los levitas fueron
            22<Bold>,</Bold>000<Bold>.</Bold> La
            suma de 7<Bold>,</Bold>500 + 8<Bold>,</Bold>600 + 6<Bold>,</Bold>200 = 22300 y no
            22<Bold>,</Bold>000<Bold>.</Bold> Eso nos indica que redondearon la cifra quitándole
            300<Bold>.</Bold> Hay
            otros casos sin embargo<Bold>,</Bold> en que habiendo necesidad de mayor exactitud debido a las
            circunstancias<Bold>,</Bold> las cuentas se hacían exactas<Bold>,</Bold> como en el caso de Esdras y
            Nehemías
            cuando hicieron el censo del pueblo que regresaba de Babilonia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al Índice</a></Bold></Paragraph>
        <Paragraph></Paragraph>

    </section>
</Layout>
    