---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La mujer y el velo en la época bíblica">
    <Content>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>La mujer y el velo en la época bíblica</Bold></Paragraph>
        <Paragraph> Existe muy a menudo entre los cristianos el error de confundir las costumbres musulmanas<Bold>,</Bold>
            con las
            costumbres de las épocas bíblicas<Bold>.</Bold> Muchos creen<Bold>,</Bold> incluso algunos eruditos
            y
            profesores de seminario<Bold>,</Bold> que las mujeres de las épocas bíblicas vivían con el rostro tapado
            por un
            velo<Bold>,</Bold> como las musulmanas de hoy<Bold>.</Bold> No hay tal cosa<Bold>.</Bold> Como
            costumbre
            nupcial la mujer usaba velo para presentarse ante el hombre con quien se iba a casar<Bold>,</Bold> pero
            eso era
            solamente con ese propósito<Bold>,</Bold> el resto de sus actividades y de su vida discurría a rostro
            descubierto<Bold>.</Bold> Hoy en día también durante la ceremonia la novia usa un velo<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Las mujeres decentes no tenían que taparse el rostro,</Bold> quienes se tapaban el rostro eran las
            prostitutas<Bold>,</Bold> como se ve en el pasaje que más abajo presento<Bold>,</Bold> en el que
            Judá al ver a
            Thamar su nuera<Bold>,</Bold> con un velo sobre el rostro<Bold>,</Bold> la toma por una
            prostituta<Bold>.</Bold> Incluso dice que la razón por la que él se creía que era una prostituta<Bold>,</Bold>
            era porque tenía un velo sobre el rostro<Bold>.</Bold> Si todas las mujeres de aquella época hubieran
            acostumbrado
            a usar velo sobre sus rostros<Bold>,</Bold> no hubiera Judá calificado de prostituta a una mujer a quien
            veía con
            un velo sobre el rostro<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>14 <i>Entonces quitó ella de sobre sí los vestidos de su viudez<Bold>,</Bold> y
            <Bold>se
                cubrió con un velo,</Bold> y se arrebozó<Bold>,</Bold> y se puso a la puerta de las aguas que
            están junto al
            camino de Timnath<Bold>;</Bold> porque veía que había crecido Sela<Bold>,</Bold> y ella no era dada
            a él por
            mujer<Bold>.</Bold></i> 15 <Bold>Y la vio Judá, y la tuvo por ramera, porque había ella cubierto su
            rostro</Bold><Bold>."</Bold> (Gn 38<Bold>:</Bold>14-15)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> De la lectura de estos dos versículos anteriores<Bold>,</Bold> se hace evidente que las mujeres decentes
            no
            andaban con el rostro cubierto<Bold>,</Bold> sino las prostitutas<Bold>.</Bold> El error de muchos
            es
            confundir las costumbres bíblicas con las costumbres musulmanas<Bold>.</Bold></Paragraph>
        <Paragraph> Esta misma idea se percibe en Gn 24<Bold>:</Bold>65 donde se ve que Rebeca andaba sin velo delante del
            criado de
            Abraham y de los diez hombres que él tenía bajo su mando<Bold>.</Bold> Rebeca sólo se vino a poner el
            velo<Bold>,</Bold>
            cuando vio que Isaac<Bold>,</Bold> su futuro esposo<Bold>,</Bold> venía a encontrarse con
            ella<Bold>.</Bold> Si Rebeca hubiera usado siempre el velo<Bold>,</Bold> no se lo hubiera tenido que
            poner
            cuando el criado de Abraham le dijo que era su novio el que venía hacia ella<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque había preguntado al criado<Bold>:</Bold> <Bold>¿</Bold>Quién es este
            varón que
            viene por el campo hacia nosotros<Bold>?</Bold> Y el siervo había respondido<Bold>: Este es mi
                señor.</Bold>
            <Bold>Ella entonces tomó el velo, y se cubrió</Bold></i><Bold>."</Bold> (Gn 24<Bold>:</Bold>65)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Se ve claramente que Rebeca estaba sin velo delante del criado de Abraham<Bold>,</Bold> y por
            ende<Bold>,</Bold> delante de todos los hombres que iban en la comitiva<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> </Bold> Más adelante<Bold>,</Bold> en Gn 29<Bold>:</Bold>17 se dice que Rachel (sobrina de
            Rebeca)
            tenía linda cara<Bold>.</Bold> No da eso mucho margen a pensar que la tenía escondida detrás un
            velo<Bold>.</Bold></Paragraph>
        <Paragraph> Además<Bold>,</Bold> no recuerdo ningún pasaje en el que se nos haga pensar que las mu­jeres del Medio
            Oriente
            <Bold>de aquella época</Bold> andaban con sus caras cubiertas de velo<Bold>.</Bold> Eso vino después
            que los
            musulmanes impusieron a sangre y fuego su religión y sus costumbres en la zona<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y los ojos de Lea eran tiernos<Bold>,</Bold> pero <Bold>Rachel era de lindo
            semblante</Bold> y de hermoso parecer</i><Bold>."</Bold> (Gn 29<Bold>:</Bold>17)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Si en Rachel se podía apreciar un lindo rostro<Bold>,</Bold> es porque andaba sin velo<Bold>,</Bold>
            porque
            oculto por un velo todos los rostros son iguales<Bold>.</Bold></Paragraph>
        <Paragraph> Para interpretar correctamente la Biblia<Bold>,</Bold> es bueno conocer las costumbres
            antiguas<Bold>,</Bold> pero a través de la Biblia<Bold>,</Bold> no a través de libros de autores
            confundidos<Bold>.</Bold></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver al índice</Bold></a></Paragraph>
        <Paragraph><a href="NotasBiblicas.html"> </a></Paragraph>

    </Content>
</Layout>
    