---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cristo jamás abolió ninguna de las leyes de Dios antes de la crucifixión">
    <Tag>#150</Tag>
    <Content>
        <Paragraph><Bold>Cristo jamás dijo lo que muchos confundidos creen que él dijo respecto a la ley</Bold></Paragraph>
        <Paragraph><Bold>¿Dijo Cristo lo que tú crees que dijo?</Bold></Paragraph>
        <Paragraph>Voy a presentar varios pasajes donde los hermanos creen ver<Bold>,</Bold> erradamente<Bold>,</Bold>que
            Nuestro Señor Jesucristo abolió una o más de las leyes de Dios durante sus tres años y medio de
            predicación<Bold>.</Bold> De ese error se deriva <Bold>la herejía</Bold>de asegurar que las leyes de
            Dios para
            el <Bold>comportamiento humano</Bold> son actualmente inoperantes<Bold>,</Bold> que no hay que
            guiarse por
            ellas<Bold>,</Bold> y que el cristiano está libre de hacer lo que le venga en ganas<Bold>,</Bold>
            pensando que
            a pesar de hacer todo eso no está pecando<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Tan espantoso error sólo puede haber sido insuflado en la mente del creyente por nuestros enemigos
            espirituales</Bold><Bold>.</Bold> Es razonable pues analizar aquellos pasajes en donde algunos
            hermanos creen
            ver semejante herejía<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Para podernos salvar, Cristo obedeció absolutamente todas las leyes de Dios desde su nacimiento hasta
            su
            muerte</Bold></Paragraph>
        <Paragraph>Nuestro Señor obedeció <Bold>todas</Bold>las leyes de Dios durante <Bold>toda</Bold>su
            vida<Bold>.</Bold>
            Tanto las leyes de comportamiento como las leyes rituales<Bold>.</Bold>Él tenía que hacerlo así para
            poder
            salvarnos<Bold>.</Bold> Un solo fallo suyo hubiera sido su propia perdición<Bold>,</Bold> y la
            nuestra<Bold>.</Bold>
            <Bold>Por eso él jamáshizo nada que pudiera ir en contra de las leyes de Dios.</Bold></Paragraph>
        <Paragraph>Si vamos a Heb 10<Bold>:</Bold>28 veremos que San Pablo nos dice que una de las cosas pecaminosas era el
            menospreciar alguna de las leyes de Dios<Bold>,</Bold>por lo tanto no iba Jesús a hacer tal cosa<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>"</Bold><i>El que menospreciare la ley de Moisés<Bold>,</Bold> por el testimonio de dos o de
            tres
            testigos muere sin ninguna misericordia</i><Bold>."</Bold> (Heb 10<Bold>:</Bold>28)</Paragraph>
        <Paragraph>Siendo esto así<Bold>,</Bold> es completamente impensable que Nuestro Señor fuera a
            menospreciar<Bold>,</Bold>abolir<Bold>,</Bold> dejar de cumplir<Bold>,</Bold>
            suprimir<Bold>,</Bold>
            hablar en contra<Bold>,</Bold>modificar<Bold>,</Bold> etc<Bold>.,</Bold> alguna de las leyes de
            Dios<Bold>,</Bold> <Bold>antes</Bold> <Bold>de su crucifixión.</Bold></Paragraph>
        <Paragraph>Digo <Bold>antes de su crucifixión,</Bold> porque si Cristo hubiera querido abolir una o más de las leyes
            de Dios<Bold>,</Bold>
            <Bold>jamás</Bold> lo hubiera hecho cuando todavía él estuviera bajo la ley<Bold>,</Bold> puesto que
            hacerlo
            hubiera sido pecar<Bold>, perderse él y perdernos a nosotros.</Bold></Paragraph>
        <Paragraph><Bold>Cristo sabía que se iba a abolir la circuncisión</Bold><Bold>,</Bold> pero nunca iba a
            hacerlo<Bold>,</Bold> ni a hablar contra esa ley<Bold>,</Bold> antes de su
            crucifixión<Bold>.</Bold>
            <Bold>Él sabía que se iban a abolir los sacrificios</Bold><Bold>,</Bold> pero jamás los hubiera
            abolido<Bold>,</Bold> ni hubiera hablado contra esos sacrificios<Bold>,</Bold>antes de su
            crucifixión<Bold>.</Bold> Haberlo hecho antes hubiera sido pecar<Bold>,</Bold>como muy bien nos
            recuerda Pablo
            en Heb 10<Bold>:</Bold>28<Bold>;</Bold> y si Cristo hubiera pecado<Bold>,</Bold> él se hubiera
            perdido<Bold>,</Bold> y nosotros no seríamos salvos<Bold>.</Bold> Haber hablado contra los
            sacrificios y
            contra la circuncisión antes de su crucifixión<Bold>,</Bold> hubiera sido pecar<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Por esa razón Jesucristo jamás habló de abolir ninguna de las leyes de
            Dios</Bold><Bold>.</Bold> Fue el
            Espíritu Santo el que después de la crucifixiónse ocupó de decirnos qué leyes seguían vigentes y cuáles
            estaban
            abolidas<Bold>.</Bold></Paragraph>
        <Paragraph>Cristo tuvo que ser muy cuidadoso<Bold>,</Bold> porque Satanás estaba siempre buscando la manera de que
            él pecara<Bold>.</Bold>
            Satanás sabía que si lo hacía pecar en lo más mínimo<Bold>,</Bold>su misión hubiera
            fracasado<Bold>,</Bold> y
            Satanás hubiera triunfado<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cristo había recibido como únicamisión el salvarnos, realizar otra era pecado.</Bold> Satanás sabía
            que
            Dios le había encomendado una sola misión a Su Unigénito<Bold>.</Bold> Sabía que Cristo no se podía
            apartar de esa
            misión<Bold>,</Bold> que si hubiera alterado esa misión<Bold>,</Bold> o si hubiera tomado sobre sus
            hombros
            alguna otra misión<Bold>,</Bold> hubiera fallado<Bold>,</Bold> hubiera pecado<Bold>.</Bold></Paragraph>
        <Paragraph>Por eso varias veces Satanás le puso traspiés al Señor para hacerlo mezclarse en juicios<Bold>,</Bold>en
            política<Bold>,</Bold>
            etc<Bold>.,</Bold> como cuando trató de llevarlo a ser juez<Bold>,</Bold>o a ser
            verdugo<Bold>,</Bold> o a
            proclamarse rey<Bold>,</Bold> o a castigar a los que merecían castigo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Por ser su misión solamente salvación, es que Jesús rechazaba ciertas soluciones. ¿</Bold>Piensan
            ustedes
            que fue con su propia fuerza<Bold>,</Bold> poder y virtud que Elías hizo que descendiera fuego del cielo
            y quemara
            a aquellas dos compañías de soldados<Bold>?</Bold> <Bold>¿</Bold>Creen ustedes que aquello fue un
            <Bold>"</Bold>error<Bold>"</Bold> de Elías<Bold>?</Bold> (II R 1<Bold>:</Bold>10-12)<Bold>.</Bold>
        </Paragraph>
        <Paragraph>Es evidente que el que le dio el poder a Elías para hacer aquel milagro fue Dios<Bold>;</Bold> y es
            evidente
            también que Dios estuvo de acuerdo con lo que estaba haciendo Elías<Bold>,</Bold> pues si
            no<Bold>,</Bold> no
            lo hubiera respaldado<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿</Bold>Creen ustedes que Cristo estaba en desacuerdo con Dios respecto a lo que hizo
            Elías<Bold>?</Bold><Bold>¡</Bold>Claro que no<Bold>!</Bold> Cristo aprobaba lo mismo que Dios
            había
            aprobado<Bold>.</Bold>Por lo tanto<Bold>,</Bold> no fue un pecado de Elías hacer lo que hizo<Bold>.</Bold>
        </Paragraph>
        <Paragraph>Tampoco era un pecado en sí mismo el pretender los discípulos hacer lo que Elías había hecho
            previamente<Bold>:</Bold> hacer descender fuego para castigar los rebeldes<Bold>.</Bold> Eso fue lo
            que
            intentaron hacer Jacobo y Juan<Bold>.</Bold>Lo que era pecado era hacerlo como parte de la misión de
            Cristo<Bold>.</Bold> Por eso el Señor no les permitió hacerlo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>52 <i>Y envió mensajeros delante de sí<Bold>,</Bold> los cuales fueron y entraron en
            una ciudad
            de los samaritanos<Bold>,</Bold> para prevenirle<Bold>.</Bold></i> 53 <i>Mas no le
            recibieron<Bold>,</Bold> porque era su traza de ir a Jerusalem<Bold>.</Bold></i> 54 <i>Y viendo esto
            sus
            discípulos Jacobo y Juan<Bold>,</Bold> dijeron<Bold>:</Bold></i> <Bold>Señor, ¿quieres que
            mandemos que
            descienda fuego del cielo, y los consuma, como hizo Elías?</Bold> 55 <i>Entonces volviéndose
            él<Bold>,</Bold></i> <Bold>los reprendió,</Bold> <i>diciendo<Bold>:</Bold>Vosotros</i> <Bold>no
            sabéis
            de qué espíritu sois</Bold><Bold>;</Bold> 56 <i>porque</i> <Bold>el Hijo del hombre no ha venido
            para perder
            las almas de los hombres, sino para salvarlas</Bold><Bold>.</Bold> <i>Y se fueron a otra
            aldea</i><Bold>."</Bold> (Lc 9<Bold>:</Bold>52-56)</Paragraph>
        <Paragraph><Bold>La única diferencia estribaba</Bold> en que en este caso la misión de Cristo era muy diferente de
            la misión
            de Elías<Bold>,</Bold> era mucho más específica y requería diferentes métodos<Bold>.</Bold> No era
            la misión
            de Jesús<Bold>,</Bold> castigar<Bold>,</Bold>destruir<Bold>,</Bold> juzgar<Bold>,</Bold>
            etc<Bold>.,</Bold> sino salvar<Bold>;</Bold> y no iba nadie a sacarlo de su misión durante los 33
            años que
            permanecería aquí<Bold>.</Bold></Paragraph>
        <Paragraph>Por eso no quiso dar su voto (ni negarlo) para que castigaran a la adúltera; por eso no quiso juzgar el caso
            del
            hermano que no quería compartir la herencia; por eso tampoco quiso castigar aquella ciudad de samaritanos.
            Nada de eso
            era su misión en su Primera Venida, él no venía a nada de eso, y no quiso dejarse arrastrar a ello por
            otros; sea que
            esos otros actuaran de mala fe, como los fariseos, que eran agentes de Satanás, o de buena fe, como los
            apóstoles.</Paragraph>
        <Paragraph><Bold>No es que Cristo desaprobara lo que Elías</Bold> había hecho<Bold>,</Bold> puesto que aquello
            fue hecho
            con autoridad y poder de Dios<Bold>.</Bold> <Bold>Tampoco estaba Cristo en contra del castigo al
                adulterio,</Bold> puesto que éste fue establecido por su Padre Dios<Bold>,</Bold> y él no estaba
            llevándole la
            contraria ni pretendiendo ser <Bold>"</Bold>más bondadoso<Bold>"</Bold> que Dios<Bold>.</Bold>
            Es
            que<Bold>,</Bold>sencillamente<Bold>,</Bold> la misión que Dios le encomendara para aquel momento
            era
            otra<Bold>,</Bold>según vemos en Jn 3<Bold>:</Bold>17<Bold>, y no quería él pecar apartándose de
                la misión
                encomendada, y acometiendo otra.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque</i><Bold>no envió Dios a su Hijo al mundo, para que condene al
            mundo</Bold><Bold>,</Bold> <i>mas para que el mundo sea salvo por él</i><Bold>."</Bold> (Jn
            3<Bold>:</Bold>17)</Paragraph>
        <Paragraph>No debe concluirse de casos como este<Bold>,</Bold> que Dios pensaba una cosa<Bold>,</Bold>mientras
            que
            Cristo<Bold>,</Bold> más <Bold>"</Bold>humano<Bold>"</Bold> y <Bold>"</Bold>generoso<Bold>"</Bold>
            le llevaban la contraria<Bold>,</Bold> o le enmendaba la plana<Bold>.</Bold> <Bold>Al fin y al
                cabo Nuestro
                Señor Jesucristo está de acuerdo en enviar a los seres rebeldes al infierno</Bold><Bold>,</Bold>
            al igual que
            lo piensa Dios<Bold>.</Bold> Por consiguiente<Bold>,</Bold> cuando el Señor Jesucristo se opuso a
            que Juan y
            Jacobo hicieran descender fuego para castigar a aquellos rebeldes samaritanos<Bold>,</Bold>lo hizo
            porque no era
            esa su misión en ese momento<Bold>,</Bold> y aprobarlo hubiera sido pecar<Bold>;</Bold> no porque
            considerara
            que no lo merecían<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Tampoco ha de entenderse que Dios pensaba una cosa en época de Moisés</Bold> y que cambió de
            opinión un par
            de milenios más tarde<Bold>,</Bold> para arreglar las cosas<Bold>,</Bold> hasta el punto de enviar a
            su Ungido
            a contradecir lo que antes Él aprobara<Bold>.</Bold></Paragraph>
        <Paragraph>Jesucristo<Bold>,</Bold>y por ende también Dios<Bold>,</Bold> es el mismo ayer hoy y por los
            siglos<Bold>,</Bold>como dice Heb 13<Bold>:</Bold>8<Bold>;</Bold> no va Dios a pensar una cosa
            en época de
            Moisés y otra en época de San Pablo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Por no ser esa su misión, Cristo no se prestó a hacer juicios.</Bold> Es evidente que en Jn
            3<Bold>:</Bold>17 halla uno la explicación del porqué Cristo no se dejaba arrastrar a donde querían
            llevarlo los
            fariseos y otros<Bold>.</Bold> Ellos<Bold>,</Bold> <Bold>incitados por Satanás, y sin saber por
                qué lo
                hacían, querían incitar a Cristo a juzgar o a condenar a alguien, para invalidar así su misión de
                salvación</Bold><Bold>.</Bold>
        </Paragraph>
        <Paragraph>Dios no le dio a Cristo en su Primera Venida<Bold>,</Bold> la misión de juzgar o
            condenar<Bold>.</Bold> Él no
            vino a condenar<Bold>,</Bold> sino a salvar<Bold>.</Bold> Si él hubiera condenado a
            alguien<Bold>,</Bold>se
            habría apartado de la misión de Dios<Bold>,</Bold> lo cual hubiera constituido un
            pecado<Bold>.</Bold> Por eso
            es que los fariseos y demás enemigos lo incitaban a que juzgara o condenara a alguien<Bold>.</Bold>
            Ellos no se
            daban cuenta de la guerra espiritual que estaba teniendo lugar<Bold>,</Bold> y en la que ellos
            participaban sin
            estar conscientes de ello<Bold>,</Bold> pero como que en realidad ellos no servían a
            Dios<Bold>,</Bold> el
            Diablo los utilizaba para tratar de llevar a Cristo a que juzgara o condenara a alguien<Bold>,</Bold> y
            así
            arruinar su misión salvadora con el pecado<Bold>.</Bold></Paragraph>
        <Paragraph>Por eso Cristo no condenó a la adúltera de Jn 8<Bold>:</Bold>3-11<Bold>.</Bold> No es que Cristo
            abrogara las
            leyes de Dios<Bold>,</Bold> pero tampoco quiso erigirse en juez para aplicarlas<Bold>,</Bold>porque
            como vimos
            en Jn 3<Bold>:</Bold>17<Bold>,</Bold> <Bold>no era esa su misión.</Bold> Para juzgar los delitos
            ya Dios
            había puesto reyes<Bold>,</Bold>gobernadores y jueces<Bold>.</Bold> No iba Jesús a usurpar sus
            funciones<Bold>.</Bold> Por eso ni condenó ni absolvió a la adúltera<Bold>,</Bold> sino
            que<Bold>,</Bold>
            después que vio que nadie la había condenado<Bold>,</Bold> le dijo simplemente<Bold>:</Bold> vete y
            no peques
            más<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Por eso tampoco se metió en el litigio que por la herencia,</Bold> tenía en Lc 12<Bold>:</Bold>13-14
            uno de sus oyentes<Bold>,</Bold>a quien su hermano lo había estafado<Bold>.</Bold> No es que Jesús
            pensara que
            no debía haber leyes contra la estafa<Bold>.</Bold> Ni tampoco abolió por eso las leyes contra la
            estafa<Bold>.</Bold> No es que Jesús hubiera abolido todas esas leyes<Bold>;</Bold>es que su misión
            era de
            salvación<Bold>,</Bold> no de condenación<Bold>,</Bold> ni de legislación<Bold>;</Bold> él venía
            como
            salvador<Bold>,</Bold> no como juez ni como legislador<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Le dijo uno de la multitud<Bold>:</Bold></i> <Bold>Maestro, di a mi hermano que
            parta
            conmigo la herencia</Bold><Bold>.</Bold><i>Mas él le dijo<Bold>:</Bold>Hombre<Bold>,</Bold>
            <Bold>¿</Bold>quién me ha puesto sobre vosotros como juez o partidor</i><Bold>?"</Bold> (Lc
            12<Bold>:</Bold>13-14)</Paragraph>
        <Paragraph>No estaba Cristo, por no meterse en este problema entre hermanos, aboliendo las leyes de la herencia, ni el
            castigo
            de los tramposos, ni el derecho de cada heredero a reclamar su parte. Tampoco estaba el Señor aprobando el
            adulterio,
            o aboliendo las leyes de Dios sobre el adulterio, por el hecho de no meterse a condenar a la adúltera. Es
            que él sabía
            que detrás de todo eso estaba la mano de Satanás tratando de apartarlo de la única misión a él encomendada
            por Dios,
            para así echar a perder su obra redentora, y perderlo también a él.</Paragraph>
        <Paragraph>Si Cristo se hubiera metido a resolver litigios, no sólo hubiera faltado a la misión a él encomendada, sino
            que
            además le hubiera venido encima miles de litigantes que le hubieran hecho materialmente imposible su
            misión.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html"><Bold>Volver al índice</Bold></a></Paragraph>

    </Content>
</Layout>
    