---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---
<!DOCTYPE html>
<Layout title="¿Fue Jesús clavado en la cruz por las manos o por las muñecas?">

    <Tag>#15</Tag>
    <Content>
        <Paragraph><Bold>¿Fue Jesús clavado a la cruz por las manos o por las muñecas?</Bold></Paragraph>
        <Paragraph><Bold>Toda mi vida he visto y leído que a Cristo le horadaron las manos</Bold> para clavarlo en la cruz.
            Sin embargo, en la última década han aparecido muchos cuadros que presentan a Jesús como clavado a la cruz
            por las muñecas. También he escuchado a algunos sospechosos "eruditos" bíblicos respaldar ese disparate. Voy
            a demostrar la falsedad de esa afirmación con tres diferentes argumentos: <Bold>a)</Bold>
            anatómicamente, mostrando cómo la mano sí puede aguantar el peso del cuerpo; <Bold>b)</Bold> anatómica y
            bíblicamente, mostrando que no pudieron pasarle los clavos por las muñecas, puesto que si lo hubieran hecho
            le hubieran roto uno o más huesos; y <Bold>c)</Bold> bíblicamente sólo, mostrando que la Biblia dice que
            fueron las manos las que fueron horadadas. <Bold>Primer argumento. </Bold> Esos que dicen que Cristo fue
            clavado en la cruz pasándole un clavo a través de las muñecas se basan en la creencia de que si un cuerpo
            cuelga de una mano clavada, la carne de la mano se rajaría y el cuerpo caería. <Bold>Eso es
                falso.</Bold> <Bold>Los que dicen tal cosa nunca han visto la disección de un cuerpo
                humano.</Bold> He visto muchas veces el estudio de la anatomía de la mano por parte de los estudiantes
            de medicina de primer año. <Bold>El tejido conjuntivo del cuerpo del hombre y los animales es tan fuerte
                como una soga.</Bold> Los tendones, los ligamentos transversos y las aponeurosis son tejido
            conjuntivo, y la mano está llena de ellos, como ustedes pueden apreciar en <Bold>las figuras números 1 y
                2.</Bold> Todos los cuadros aquí presentados son tomados del libro "Atlas de Anatomía", por J. C.
            Boileau Grant, M.C.; M.B.; Ch.B.; F.R.C.S. Edin, Profesor Emérito de Anatomía de la Universidad de Toronto,
            la Cuarta Edición, cuadros números 57, 84, 92 y 98.</Paragraph>
        <Paragraph><img width="622" height="340" src="CristoClavadoMunecas_files/imageTendonesPalma.jpg"
                alt="imageTendonesPalma"></Paragraph>
        <Paragraph>Figura # 1 La palma de la mano </Paragraph>
        <Paragraph><img width="256" height="368" src="CristoClavadoMunecas_files/imageTendonesDorso.jpg"
                alt="imageTendonesDorso"></Paragraph>
        <Paragraph>Figura # 2 El dorso de la mano</Paragraph>
        <Paragraph> No es posible que los tendones, ligamentos transversos y aponeurosis de la mano de un ser humano se rajen,
            porque el tejido conjuntivo es muy fuerte. Tal cosa no sucedería si lo colgaran de una sola mano, cuanto
            menos si lo cuelgan de las dos manos. Eso sólo ocurriría si se colgara un cadáver que estuviera
            descompuesto, nunca en un ser vivo. Todo eso es simplemente otra mentira de las muchas que se introducen en
            las enseñanzas evangélicas, especialmente por medio de los ruselistas. Si todavía alguien piensa que su
            delicada mano se rajaría si lo colgaran de un clavo, que observe la mano de un trabajador de la construcción
            de 33 años, que haya trabajado en su oficio toda la vida, y se van a disipar sus dudas. Recuerden que Cristo
            fue un trabajador de la construcción, él fue carpintero hasta que comenzó a predicar. <Bold>Segundo
                argumento.</Bold> De acuerdo a las Escrituras Jesucristo es nuestro Cordero Pascual, el cual fue
            crucificado por nosotros. Por eso a él lo mataron el mismo día que se mataba la pascua. El apóstol Pablo nos
            lo dice así en I Co 5:7.</Paragraph>
        <Paragraph> "<i>Limpiad pues la vieja levadura, para que seáis nueva masa, como sois sin levadura: porque <Bold>nuestra
            pascua, que es Cristo, fue sacrificada por nosotros</Bold></i>." ( I Co 5: 7 )</Paragraph>
        <Paragraph><Bold>En las ordenanzas de la Pascua se establecía que no se podía romper ningún hueso en el
            cordero.</Bold> Aquello era un simbolismo, una sombra de lo que luego iba a acontecer en el caso de Jesús,
            a quien no le rompieron ningún hueso. La ordenanza de la pascua era como sigue:</Paragraph>
        <Paragraph> "<i>En una casa se comerá, y no llevarás de aquella carne fuera de casa, <Bold>ni quebraréis hueso
            suyo</Bold></i>." ( Ex 12: 46 )</Paragraph>
        <Paragraph> "<i>No dejarán de él para la mañana, <Bold>ni quebrarán hueso en él</Bold>: conforme a todos los ritos
            de la pascua la harán</i>." ( Nm 9: 12 )</Paragraph>
        <Paragraph> Como podemos ver <Bold>el rito de la pascua judía prohibía que se rompiera algún hueso en el
            cordero.</Bold> Por eso fue que los soldados romanos no le rompieron las piernas a Cristo cuando lo
            bajaron de la cruz, Dios no se los hubiera permitido.</Paragraph>
        <Paragraph> "<i>Y vinieron los soldados, y quebraron las piernas al primero, y asimismo al otro que había sido
            crucificado con él. Mas cuando vinieron a Jesús, como le vieron ya muerto, <Bold>no le quebraron las
                piernas</Bold>. Empero uno de los soldados le abrió el costado con una lanza, y luego salió sangre y
            agua. Y el que lo vio, da testimonio, y su testimonio es verdadero; y él sabe que dice verdad, para que
            vosotros también creáis. <Bold>Porque estas cosas fueron hechas para que se</Bold> <Bold> cumpliese la
                Escritura: Hueso no quebrantaréis de él</Bold></i><Bold>.</Bold>"</Paragraph>
        <Paragraph> Si ningún hueso de Cristo podía romperse de acuerdo a la profecía, entonces no se podía atravesar sus
            muñecas con clavos, porque por seguro que le hubieran roto uno o más huesos. La muñeca o carpo tiene ocho
            huesos: escafoides, semilunar, piramidal, pisciforme, trapecio, trapezoide, grande y ganchoso. Estos huesos
            están fuertemente unidos por ligamentos en forma tal que <Bold>si se martilla un clavo a través de la
                muñeca necesariamente se va a romper uno o más de ellos.</Bold> Por lo tanto Cristo no pudo haber sido
            clavado en la cruz por las muñecas, sino por la palma de la mano. Los cinco huesos del metacarpo, que es lo
            que constituye la palma de la mano, están separados los unos de los otros, y por lo tanto, un clavo puede
            atravesar la palma de la mano sin romper ninguno de los cinco huesos metacarpianos. <Bold>Vean la figura #
                3</Bold>. Eso significa que la mano puede ser atravesada por un clavo a la altura de la palma sin
            romper un hueso, pero si la muñeca es atravesada por un clavo, tiene que romper necesariamente algún hueso.
            <Bold>Vean la figura # 4</Bold>.</Paragraph>
        <Paragraph><img width="346" height="408" src="CristoClavadoMunecas_files/imageHuesosPelados.jpg"
                alt="imageHuesosPelados"> Figura # 3 Los huesos de la mano</Paragraph>
        <Paragraph> La sección de la muñeca ( en inglés "wrist" ) que se presenta en la anterior figura # 3, se va a amplificar
            en el próximo cuadro, el # 4, para que ustedes puedan ver que es imposible martillar un clavo a través de la
            muñeca sin romper algún hueso.</Paragraph>
        <Paragraph><img width="576" height="398" src="CristoClavadoMunecas_files/image001.jpg" alt="image001"></Paragraph>
        <Paragraph>Figura # 4 Huesos de la muñeca</Paragraph>
        <Paragraph><Bold>Tercer argumento.</Bold> Mucho más importante que los argumentos anatómicos, son los argumentos
            bíblicos. En la Biblia se dice varias veces que Jesús fue clavado por las manos y por los pies. Jamás se
            mencionan las muñecas. ¿Por qué entonces hay gente tratando de meterle en la cabeza a los cristianos que
            Cristo fue clavado por las muñecas? ¿Qué se traen entre manos? ¿Qué cosa persiguen estos farsantes? Veamos
            que era lo que sabían Jesús y los apóstoles.</Paragraph>
        <Paragraph> "<i>Dijéronle pues los otros discípulos: Al Señor hemos visto. Y él les dijo: <Bold>Si no viere en sus
            manos la señal de los clavos, y metiere mi dedo en el lugar</Bold> <Bold> de los clavos</Bold>, y
            metiere mi mano en su costado, no creeré. Y ocho días después, estaban otra vez sus discípulos dentro, y con
            ellos Tomás. Vino Jesús, las puertas cerradas, y púsose en medio, y dijo: Paz a vosotros. Luego dice a
            Tomás: <Bold>Mete tu dedo aquí, y ve mis manos</Bold>: y alarga acá tu mano, y métela en mi costado: y
            no seas incrédulo, sino fiel</i>." ( Jn 20: 25-27 )</Paragraph>
        <Paragraph> Como podemos ver en este pasaje, <Bold>Tomás sabía que las manos de Jesús habían sido horadadas, no que
            sus muñecas hubieran sido las horadadas. </Bold> Igualmente, cuando Cristo vino a ellos de nuevo, <Bold>él
            le enseñó a Tomás sus manos, no sus muñecas.</Bold> Es evidente que eran sus manos las que habían sido
            horadadas por los clavos, no las muñecas, porque si no fuera así Cristo le hubiera mostrado las muñecas, no
            las manos. Lo mismo se puede notar en otros pasajes. Veamos.</Paragraph>
        <Paragraph> "<i>Y como hubo dicho esto, <Bold>mostroles las manos</Bold> y el costado. Y los discípulos se gozaron
            viendo al Señor</i>." ( Jn 20: 20 )</Paragraph>
        <Paragraph> "<i>Mas él les dice: ¿Por qué estáis turbados, y suben pensamientos a vuestros corazones? <Bold>Mirad mis
            manos y mis pies, que yo mismo soy.</Bold> Palpad, y ved, que el espíritu ni tiene carne ni huesos, como
            veis que yo tengo. Y en diciendo esto, <Bold>les mostró las manos y los pies</Bold></i>." ( Lc 24: 38-
            40 )</Paragraph>
        <Paragraph> En estos dos pasajes vemos que <Bold>para el propósito de identificarse con los apóstoles</Bold>, para
            demostrarles que se trataba del mismo Jesucristo que fue crucificado, él <Bold>les muestra sus manos y sus
                pies, no sus muñecas y sus pies</Bold>. Si vamos ahora a las profecías del Antiguo Testamento veremos
            que cuando estaban vaticinando las cosas que iban a acontecerle a Cristo, ellos hablaban sobre horadarle las
            manos, no las muñecas.</Paragraph>
        <Paragraph> "<i>Porque perros me han rodeado, me ha cercado cuadrilla de malignos. <Bold>Horadaron mis manos y mis
            pies</Bold></i><Bold>."</Bold> ( Sal 22: 16 )</Paragraph>
        <Paragraph> "<i>Y le preguntarán: <Bold>¿Qué heridas son éstas en tus manos?</Bold> Y él responderá: Con ellas fui
            herido en casa de mis amigos</i>." ( Zc 13: 6 )</Paragraph>
        <Paragraph>Como vemos, no hay la más mínima duda de que a Cristo le horadaron las manos, no las muñecas, como algunos
            raros y sospechosos "eruditos" bíblicos quieren que creamos. No obstante, a pesar de lo claro que todo está,
            no dudo que en cualquier momento se nos <Bold>aparezca un sospechoso erudito bíblico, teólogo o profesor
                de seminario, asegurando que a Cristo lo clavaron en la cruz por los tobillos y no los pies.</Bold>
        </Paragraph>
        <Paragraph> Hay cristianos a quienes les han hecho ver ciertos supuestos "eruditos", que en la época antigua no se
            distinguía entre la mano y la muñeca, y que cuando se decía "mano", podían estarse refiriendo a la muñeca.
            Eso es una falsedad de esos "eruditos", puesto que en idiomas tan antiguos como el latín y el griego,
            existían palabras para designar la muñeca. Esa palabra en latín era carpus y en griego se pronunciaba más o
            menos igual, pero se escribía así: ""carpoz". Si en esos idiomas antiguos existía la palabra "muñeca", es
            que ellos distinguían entre la mano y la muñeca. Por lo tanto, es falso lo que estos sospechosos "eruditos"
            aseguran, respecto a que "antes" no se hacía distinción entre "mano" y "muñeca.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>
    </Content>
</Layout>