---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cristo jamás confrontó problemas porque lo creyeran hijo ilegítimo">
    <section>
        <Paragraph><Bold>CRISTO JAMÁS CONFRONTÓ PROBLEMAS SOCIALES PORQUE LO CREYERAN HIJO ILEGÍTIMO.</Bold></Paragraph>
        <Paragraph> De un tiempo a esta parte he visto algunos "sesudos" profesores de seminario y escritores de revistas de
            escuela
            dominical, que han sacado la novedosa idea de que tanto María como Cristo confrontaron problemas sociales,
            porque la
            gente rumoraba, la gente creía, debido a su milagroso nacimiento, que él era un hijo ilegítimo, un hijo
            bastardo.
            Esa afirmación es falsa además de ser blasfema en sí misma. Esta falsedad salió publicada en inglés, en la
            revista
            de escuela dominical llamada "Life and Works Pursuits", de la South Baptist Convention, en la lección
            correspondiente al domingo 20 Diciembre 1998. <Bold>Vamos a demostrar que ni la Virgen María ni Cristo,
                tuvieron
                jamás problemas sociales por el nacimiento virginal, ni jamás corrieron rumores sobre ese
                asunto.</Bold> Esta
            calumnia también se la he escuchado a amigos míos judíos, los cuales la han aprendido de sus rabinos. Mis
            amigos
            creen honestamente que sus rabinos son eruditos que les enseñan la verdad, y por eso ellos creen
            sinceramente esas
            calumnias, lo cual no evita que estén sinceramente equivocados. Pero <Bold>lo que extraña es que los que
                le den
                publicidad a esas calumnias sean los que están encargados de enseñar la pura doctrina cristiana a través
                de sus
                publicaciones oficiales. </Bold> Es bueno que los que enseñan estas falsedades recuerden lo que dice
            Mateo 12:
            36-37</Paragraph>
        <Paragraph> "<i>Mas yo os digo, que <Bold>toda palabra ociosa que hablaren los hombres,</Bold></i> <Bold> de ella
            darán
            cuenta en el día del juicio</Bold><i>; porque por tus palabras serás</i> <i> justificado, y por tus
            palabras serás
            condenado</i>." ( Mt 12: 36-37 )</Paragraph>
        <Paragraph> A pesar de que los cristianos sabemos que Cristo no fue un hijo bastardo o ilegítimo, sino la concepción
            milagrosa
            que el Espíritu Santo realizó en el vientre de la Virgen María, la mera admisión de esta calumnia, el no
            refutarla,
            es una cooperación a favor de esos rumores blasfemos. Por lo tanto, debemos salirle al paso a esas
            falsedades, lo
            mismo si son hechas con el deseo de ensuciar la imagen de nuestro Salvador y su doctrina, que si son hechas
            por
            ignorancia, ineptitud o torpeza. <Bold>No existe en toda la Biblia la más mínima base para esa calumnia.
                Es una
                invención que no puede ser substanciada. Es un esfuerzo de nuestros enemigos espirituales para degradar
                la
                imagen pública de Cristo.</Bold> La mencionada revista de escuela dominical, después de decir que la
            gente de
            su pueblo andaba con chismes sobre el honor de María, hacen ver que también los fariseos sospechaban tal
            cosa. En la
            página 33, de dicha revista, en las líneas 16-19, dice lo siguiente:</Paragraph>
        <Paragraph> "Años más tarde <Bold>estas sospechas parecen reflejarse</Bold>en la declaración que los fariseos
            hicieron
            diciendo: 'Nosotros no somos nacidos de fornicación', <Bold>posiblemente implicando que Jesús era
                ilegítimo. El
                coraje</Bold> <Bold> y determinación</Bold> de María, para hacer la voluntad de Dios a cualquier
            costo
            <Bold>es admirable.</Bold>"</Paragraph>
        <Paragraph> En realidad <Bold>no es de agradecer el supuesto "halago"</Bold> que hace el autor de esa lección,
            diciendo que
            "es admirable" el coraje de María, <Bold>después que ha esparcido a todos los vientos una
                calumnia</Bold> sobre
            la reputación que, como mujer virtuosa, tenía en su ciudad. Es como si se dijera públicamente: "Se sospecha
            que el
            pastor Juan Pérez se roba el dinero de la iglesia, pero yo lo admiro por los magníficos sermones que
            predica." Nadie
            va a agradecer el halago "magníficos sermones" después que lo hacen objeto de una calumnia respecto a su
            integridad.
            <Bold>Ese tipo de cosas las hace solamente un tonto, o un calumniador que no desee que los cristianos se
                den
                cuenta de que es un calumniador.</Bold> <Bold>La débil excusa usada por el autor de la lección de la
                escuela
                dominical de ese día, para basar esta calumnia fue lo que dice Jn 8: 41,</Bold> lo cual de ninguna
            manera
            implica ni deja lugar a pensar que los fariseos creían que Jesús era hijo bastardo. Vamos a echarle una
            ojeada a
            todo el capítulo, <Bold>no al versículo aislado que nos presentan.</Bold> La refutación de esta calumnia
            la voy
            a basar en 7 argumentos: <Bold>1)</Bold> Estos fariseos que participaron en este particular episodio
            <Bold>no
                conocían a Cristo</Bold>, por lo tanto no podían "sospechar" que era ilegítimo. <Bold>2)</Bold>
            Estos
            fariseos <Bold>no estaban acusando a Cristo</Bold> de ser ilegítimo, <Bold>sino defendiéndose</Bold>,
            porque
            ellos creían que Cristo los acusaba a ellos de ser ilegítimos. <Bold>3)</Bold> Los vecinos nunca se
            enteraron de
            que María estaba encinta, <Bold>eso fue un secreto entre ella y José.</Bold> <Bold>4)</Bold> Jesús
            era
            recibido en las sinagogas, pero <Bold>los que eran considerados bastardos no podían entrar</Bold> ni
            siquiera en
            la congregación. <Bold>5)</Bold> Si el pueblo hubiera sospechado que María estaba en estado de gestación
            sin
            haberse casado, <Bold>la hubieran apedreado.</Bold> <Bold>6)</Bold> José recibió a María como su
            esposa
            <Bold>mucho antes de que su preñez pudiera ser notada.</Bold> <Bold>7)</Bold> Todo el que conocía a
            Cristo
            <Bold>lo tenía por hijo de José</Bold> el carpintero. <Bold>Primero, los fariseos de este episodio no
                conocían
                a Cristo.</Bold> Si leemos el capítulo 8 completo, no el pedacito que nos presenta la revista, veremos
            que los
            fariseos que estaban hablando con Jesús en el versículo 41, donde basa el autor su sospechosa "sospecha",
            son los
            mismos fariseos que estaban hablando con él en el versículo 25. En ese versículo 25 vemos que <Bold>los
                fariseos
                no sabían quién era Jesús</Bold>. Por lo tanto, <Bold>si no lo conocían ¿cómo iban a saber o
                imaginar que
                era bastardo?</Bold></Paragraph>
        <Paragraph> "<i>Y decíanle: <Bold>¿Tú quién eres?</Bold> Entonces Jesús les dijo: El que al</i> <i> principio
            también os he
            dicho</i>." ( Jn 8: 25 )</Paragraph>
        <Paragraph> Si los fariseos no sabían quién era Jesús, por lógica, la frase dicha por ellos en Jn 8: 41, no podía
            implicar que
            Jesús era ilegítimo. Sin embargo, esa es la frase que según el autor de esa lección, implica que los
            fariseos
            "pensaban" que Cristo era un hijo ilegítimo.</Paragraph>
        <Paragraph> "<i>Vosotros hacéis las obras de vuestro padre. Dijéronle entonces:</i> <i> <Bold>Nosotros no somos
            nacidos de
            fornicación</Bold>; un padre tenemos, que</i> <i> es Dios</i>." ( Jn 8: 41 )</Paragraph>
        <Paragraph><Bold>Segundo, los fariseos se estaban defendiendo, no acusando.</Bold> Si seguimos leyendo el capítulo 8
            del
            versículo 25 en adelante, veremos en el 38 que Jesús acusa a los fariseos de hacer las obras del padre de
            ellos,
            refiriéndose así a Satanás. <Bold>En el versículo 39 los fariseos, creyendo que Cristo duda de que ellos
                sean
                hijos legítimos, se defienden diciendo que ellos eran descendientes de Abraham.</Bold> Es entonces
            cuando
            Jesús les dice en 39 - 40 que dado que no hacían las obras de Abraham, ellos no eran hijos de Abraham. Esta
            declaración de Cristo ellos la tomaron como significando que ellos no descendían carnalmente de Abraham. Eso
            era
            para los fariseos una ofensa, porque era como decirles que eran hijos ilegítimos o bastardos. Esto lo decía
            Jesús en
            sentido espiritual, no en sentido genealógico. Pero como que los fariseos lo tomaron como que ellos no
            descendían de
            Abraham, <Bold>se defendieron diciendo lo que registra el versículo 41, "<i>Nosotros no somos nacidos de
                fornicación</i>".</Bold> Esta defensa de la legitimidad propia que hacen los fariseos, es lo que el
            autor de
            esa lección dice que es una acusación que los fariseos lanzan sobre la legitimidad del nacimiento de Cristo.
            Como se
            ve, no hay tal cosa. Esta falsedad se ha dicho por una de dos razones: o porque no leyeron el capítulo
            completo y se
            lanzaron a calumniar, o porque deseaban echar a rodar esa calumnia. Leamos.</Paragraph>
        <Paragraph> "38 <i>Yo hablo lo que he visto cerca del Padre; y <Bold>vosotros hacéis lo que</Bold></i> <Bold>
            habéis oído
            cerca de vuestro padre.</Bold> 39 <i>Respondieron y dijéronle:</i> <Bold> Nuestro padre es
            Abraham.</Bold><i>
            Díceles Jesús: <Bold>Si fuerais hijos de Abraham,</Bold></i> <i> las obras de Abraham haríais.</i> 40
            <i>Empero
                ahora procuráis matarme, hombre</i> <i> que os he hablado la verdad, la cual he oído de Dios: no hizo
                esto
                Abraham.</i> <i> </i> 41 <Bold>Vosotros hacéis las obras de vuestro padre</Bold><i>. Dijéronle
                entonces:</i>
            <Bold> Nosotros no somos nacidos de fornicación; un padre tenemos, que es Dios.</Bold> <i> </i> 42 <i>Jesús
                entonces les dijo: Si vuestro padre fuera Dios, ciertamente me</i> <i> amaríais: porque yo de Dios he
                salido, y
                he venido; que no he venido de mí</i> <i> mismo, mas él me envió</i>." ( Jn 8: 38- 42 )</Paragraph>
        <Paragraph> Si leemos todo el pasaje veremos que no existe la más mínima duda de que <Bold>los fariseos se estaban
            defendiendo
            de lo que ellos creían que era una acusación de ilegitimidad de nacimiento. </Bold> Cristo no estaba
            discutiendo
            la ascendencia carnal de los fariseos, sino la espiritual. Como hemos visto, la única base en que se apoyan
            los que
            lanzan esa calumnia sobre Cristo y María queda destruida. <Bold>Tercero, José no tenía nada de qué
                avergonzarse.</Bold> En la página 34 de esta revista de escuela dominical, segunda columna, renglones
            5-7 se
            hace algo parecido a lo que se hizo con María. Allí el autor alaba a José, esposo de María diciendo lo
            siguiente:
        </Paragraph>
        <Paragraph> "¡Debemos admirar a José por no estar avergonzado de tomar a María como esposa. Él y María sabían la verdad
            pero
            <Bold>los vecinos iban a murmurar</Bold>!"</Paragraph>
        <Paragraph> Decir esto es darle una puñalada por la espalda a un amigo mientras se finge que estamos ayudándolo.
            <Bold>José no
                tenía nada de qué estar avergonzado, por un lado, él sabía que Jesús había sido concebido por el
                Espíritu Santo,
                puesto que el ángel se lo había revelado; por el otro lado, absolutamente nadie sabía que Jesús no era
                hijo
                suyo.</Bold> Los vecinos no podían estar murmurando nada por cuanto nadie sabía que María estaba en
            estado, e
            inmediatamente después de la revelación que el ángel le hizo, José la recibió como esposa. Nadie podía ver
            su
            vientre en estado de gestación hasta que pasó tiempo suficiente después de que José la tomó por esposa.
            Aquello era
            un secreto entre José y María, los vecinos jamás supieron nada, hasta que los evangelios se escribieron años
            después
            de su crucifixión. Decir que "Debemos admirar a José por no avergonzarse de tomar a María..." <Bold>es
                como darle
                a un amigo miel envenenada.</Bold> Es la astucia que consiste en alabar primero, para que nos crean
            amigos y
            poder hacer el daño más eficientemente. Vamos a ver ahora varios hechos que nos demuestran que los conocidos
            de
            María, José y Jesús no pensaban que Jesús era hijo ilegítimo, sino que al contrario, pensaban que era hijo
            de José y
            no hijo de Dios. <Bold>Cuarto, Jesús era recibido en las sinagogas.</Bold> Leamos Dt 23: 2 para
            comprobar que
            alguien que fuera considerado bastardo, o sea, hijo ilegítimo, no podía ser admitido en la congregación de
            Israel,
            mucho menos en la sinagoga. Este mandamiento era tan severo, que ni aún en la décima generación podía entrar
            un
            bastardo en la congregación de Jehová.</Paragraph>
        <Paragraph> "<Bold>No entrará bastardo en la congregación de Jehová;</Bold> <i>ni aun en la décima</i> <i>
            generación
            entrará en la congregación de Jehová</i>." ( Dt 23: 2 )</Paragraph>
        <Paragraph> Como podemos ver <Bold>es evidente</Bold> que si Jesús hubiera sido considerado bastardo, si hubiera
            habido el
            más leve rumor sobre ilegitimidad en su nacimiento, jamás hubiera sido admitido en la congregación como un
            judío
            verdadero, y mucho menos hubiera sido admitido en las sinagogas, ni le hubieran llamado "rabí". Sin embargo,
            él era
            admitido aún en la sinagoga de su pueblo donde lo conocían desde su nacimiento. Hasta sus enemigos lo
            admitían. Si
            tales rumores hubieran corrido, sus enemigos se los hubieran echado en cara expulsándolo de la sinagoga. No
            obstante, ellos jamás usaron esa arma contra él, señal de que no existía tal rumor, como hace ver el autor
            de esa
            lección de escuela dominical. Veamos.</Paragraph>
        <Paragraph> "<i>Y vino a Nazaret, <Bold>donde había sido criado; y entró, conforme a su</Bold></i> <Bold>
            costumbre, el
            día del sábado en la sinagoga, y se levantó a leer</Bold>." ( Lc 4: 16 )</Paragraph>
        <Paragraph> "<i>Y <Bold>predicaba en las sinagogas</Bold> de Galilea</i>." ( Lc 4: 44 )</Paragraph>
        <Paragraph> En estos pasajes podemos ver que no solamente era admitido en la sinagoga, sino que tenía derecho a tocar y
            leer los
            rollos de las Escrituras, cosa que no le hubieran permitido a un bastardo. Ni sus enemigos farisaicos se
            oponían.
            Los fariseos lo acusaron muchas veces de violar el sábado, porque él curaba durante ese día, pero jamás lo
            acusaron
            de bastardo, cosa que le hubiera sido facilísimo de hacer si hubieran existido tales rumores sobre su
            nacimiento.
            Tal acusación hubiera sido más que suficiente para destruir para siempre a Jesús como rabí o profeta; sin
            embargo,
            nunca lo acusaron de bastardo. <Bold>Es evidente pues, que no existía la más mínima sospecha de que
                pudiera
                serlo.</Bold> Este argumento debía ser suficiente para convencer a cualquiera de que ni María ni Jesús
            confrontaron problemas sociales o sospechas de ilegitimidad. Pero hay otros muchos argumentos. <Bold>Quinto,
                María
                no fue apedreada.</Bold> En Deuteronomio 22: 23-24 la ley dice que si una mujer comprometida se
            acostaba con
            otro hombre, el hombre y la mujer debían ser apedreados hasta la muerte. No era una cuestión de preguntar al
            que iba
            a ser su esposo si quería o no que los apedrearan, era un asunto que todo el pueblo tomaba en sus propias
            manos; era
            una pena de muerte obligatoria. <Bold>Si el pueblo de Nazaret no apedreó a María es porque cuando ellos
                vieron
                crecer el vientre de María ya ellos se lo atribuían a su esposo José.</Bold> Por lo tanto no pudo
            haber en
            ningún momento los "rumores" de ilegitimidad que hace ver el autor de esa lección de la escuela dominical.
            José tomó
            por esposa a la Virgen María, antes de que se pudiera notar que estaba en estado, como comprobaremos más
            tarde. El
            apedrear a una persona era la forma de linchar que se usaba en aquella época, como se ve más tarde con
            Esteban.
            Leamos lo que la Biblia dice.</Paragraph>
        <Paragraph> "<i>Cuando fuere <Bold>moza virgen desposada con alguno</Bold>, y alguno la hallare</i> <i> en la
            ciudad, y se
            echare con ella; entonces <Bold>los sacaréis a ambos</Bold> a la puerta</i> <i> de aquella ciudad, y
            <Bold>los
                apedrearéis con piedras, y morirán</Bold>; la moza porque</i> <i> no dio voces en la ciudad, y el
            hombre porque
            humilló a la mujer de su</i> <i> prójimo. Así quitarás el mal de en medio de ti</i>." ( Dt 22: 23-24 )</Paragraph>
        <Paragraph> Como podemos ver, la ley al decir "los sacaréis" y "los apedrearéis" se está refiriendo a la gente del
            pueblo. No se
            trataba de una decisión del prometido, sino de una obligación de todo el pueblo. Desde el momento que nadie
            la
            apedreó es porque cuando ellos vieron crecer el vientre de la Virgen, ya ella era considerada la esposa de
            José.
            <Bold>Sexto, José se enteró de la preñez de María en seguida que ocurrió, y se casó con ella mucho antes
                de que
                fuera notada.</Bold> Es lógico pensar que si José quiso <Bold>dejar secretamente</Bold> a la
            Virgen María,
            por no querer infamarla (versículo 19), es porque nadie sabía lo de su preñez. <Bold>Si ya se hubiera
                sabido
                entonces no la estaba dejando secretamente</Bold>, ya no era un secreto. Por lo tanto cuando José
            estaba
            pensando en dejarla secretamente, todavía no se sabía nada. Es lógico que si José pensaba así, no era él el
            que iba
            a regar la noticia. En cuanto a María muchísimo menos, pues conocía la dura ley contra las adúlteras. Además
            sabía
            ella que al regar la noticia traería vergüenza sobre ella y sobre su amado José. <Bold>Fue en esos
                momentos,
                cuando nadie aún sabía la noticia de su preñez, cuando José recibió el mensaje divino a través de un
                sueño,</Bold> como dice el versículo 20. Más adelante, en el 24, se ve que <Bold>inmediatamente
                después de
                despertarse de su sueño recibió a María como esposa.</Bold> No hubo la más mínima posibilidad de que
            alguien
            se enterara de su divina preñez. Todo el mundo pensaría que ella estaba en estado de José, porque tan pronto
            como
            estuvo en estado, antes de que alguien pudiera saber o notar algo, él la tomó por esposa. Leamos Mt 1:
            18-25.</Paragraph>
        <Paragraph> "18 <i>Y el nacimiento de Jesucristo fue así: Que siendo María su madre</i> <i> desposada con José, antes
            que se
            juntasen, se halló haber concebido del</i> <i> Espíritu Santo. </i> 19 <i>Y José su marido, como era justo,
            <Bold>y
                no quisiese infamarla,</Bold></i> <Bold> quiso dejarla secretamente.</Bold><i> </i> 20 <i>Y
            pensando él en
            esto, he aquí <Bold>el ángel del</Bold></i> <Bold> Señor le aparece en sueños,</Bold> <i>diciendo:
            José,
            hijo de David, <Bold>no temas de</Bold></i> <Bold> recibir a María tu mujer</Bold><i>, porque lo que
            en ella
            es engendrado, del Espíritu</i> <i> Santo es. </i> 21 <i>Y parirá un hijo, y llamarás su nombre JESUS,
            porque él</i>
            <i> salvará a su pueblo de sus pecados.</i> <i> </i> 22 <i>Todo esto aconteció para que se cumpliese lo que
                fue
                dicho por el</i> <i> Señor, por el profeta que dijo:</i> 23 <i>He aquí la virgen concebirá y parirá</i>
            <i> un
                hijo, Y llamarás su nombre Emmanuel, que declarado, es: Con nosotros</i> <i> Dios. </i> 24 <Bold>Y
                despertando
                José del sueño</Bold><Bold>, hizo como el ángel del Señor le</Bold> <Bold> había mandado, y
                recibió a su
                mujer.</Bold> <i> </i> 25 <i>Y no la conoció hasta que parió a su hijo primogénito: y llamó su</i> <i>
                nombre
                Jesús</i>." ( Mt 1: 18-25 )</Paragraph>
        <Paragraph><Bold>Séptimo, todo el que conocía a Jesús lo tenía por hijo de José. </Bold> Habiendo demostrado ya que
            <Bold>nadie</Bold>
            pudo haberse enterado de la preñez de María hasta después que José la tomó por esposa, vamos ahora a
            demostrar que
            todos los que conocían a Jesús, amigos y enemigos, consideraban que era hijo de José. Ellos no sabían lo de
            la
            concepción virginal de María por parte del Espíritu Santo, eso era un secreto entre José y María. <Bold>Voy
                a
                demostrar que Jesús era considerado hijo de José con cinco argumentos.</Bold> <Bold>a) En 3: 23 -24
                Lucas
                asegura que el pueblo creía que Jesús era hijo de José.</Bold> Por lo tanto, a quien vamos a creerle,
            ¿a
            Lucas, que vivió en esa época, o a los tontos o maliciosos que ahora se dedican a difundir falsedades y
            calumnias
            sobre la reputación de María.?</Paragraph>
        <Paragraph> "<i>Y el mismo Jesús comenzaba a ser como de treinta años, <Bold>hijo de José,</Bold></i> <Bold> como
            se
            creía;</Bold> <i>que fue hijo de Elí, que fue de Mathat, que fue de Leví, que</i> <i> fue Melchi, que fue
            de
            Janna, que fue</i>....." ( Lc 1: 23-24 )</Paragraph>
        <Paragraph> Aquí vemos claramente que Lucas nos dice que <Bold>la gente creía que Cristo era hijo de José</Bold>,
            cuando en
            realidad había sido concebido por el Espíritu Santo en el vientre de la Virgen María. <Bold>b) Cristo
                estaba en el
                mismo pueblo donde se había criado,</Bold> y cuando comenzó a predicar y demostrar su sabiduría, la
            gente
            estaba atónita, asombrados de que este fuera <Bold>el mismo Jesús, hijo de José, que ellos
                conocían.</Bold> Por
            eso preguntaban entre sí: ¿No es este el hijo del carpintero?, <Bold>con lo cual nos evidencian que lo
                tenían por
                hijo de José</Bold>.</Paragraph>
        <Paragraph> "<i>Y <Bold>venido a su tierra</Bold>, les enseñaba en la sinagoga de ellos, de tal manera</i> <i> que
            ellos
            <Bold>estaban atónitos</Bold>, y decían: ¿De dónde tiene éste esta sabiduría, y</i> <i> estas
            maravillas?
            <Bold>¿No es éste el hijo del carpintero?</Bold> ¿ no se llama su madre</i> <i> María, y sus hermanos
            Jacobo y
            José, y Simón, y Judas</i>?" ( Mt 13: 54-55 )</Paragraph>
        <Paragraph> Por lo que vimos en este pasaje <Bold>es evidente que la gente de su pueblo lo consideraba hijo de
            José. </Bold>
            Si lo hubieran considerado un hijo ilegítimo, un bastardo, ni amigos ni enemigos le hubieran permitido
            entrar en la
            sinagoga, como lo manda la ley en Deuteronomio 23: 2. <Bold>c) En Lucas 4: 22 vemos que en Nazaret, de
                donde eran
                su padre y su madre, donde Cristo había sido criado, él asistía a la sinagoga. </Bold> Desde el
            momento que
            los que le conocían perfectamente le permitían entrar en la sinagoga es porque <Bold>no había la más
                mínima duda
                sobre su nacimiento.</Bold> Si hubiera habido "rumores" negativos sobre su nacimiento, Jesús no
            hubiera sido
            admitido en la sinagoga ni siquiera por sus amigos; pero sobre todo, sus enemigos, los escribas y fariseos,
            se lo
            hubieran impedido.</Paragraph>
        <Paragraph> "16 <Bold>Y vino a Nazaret, donde había sido criado</Bold><i>; y entró, <Bold>conforme a
            su</Bold></i>
            <Bold> costumbre</Bold><i>, el día del sábado <Bold>en la sinagoga</Bold>, y se levantó a
                leer.............</i>
            <i> </i> 22 <i>Y todos le daban testimonio, y estaban maravillados de las palabras</i> <i> de gracia que
                salían de
                su boca, y decían: <Bold>¿No es éste el hijo de José?</Bold></i>" ( Lc 4: 16 y 22 )</Paragraph>
        <Paragraph> Como vemos <Bold>es evidente que nadie pensaba que Jesús fuera bastardo, nadie pensaba que no fuera hijo
            de
            José.</Bold> Si así hubiera sido no hubiera podido entrar en la sinagoga y mucho menos en el Templo, donde
            sus
            enemigos le averiguaban y le acechaban para encontrar el más mínimo pretexto para atacarlo. Sólo pudieron
            atacarlo
            porque curaba en sábados y porque había dicho que él podía reedificar el Templo de su cuerpo en tres días.
            Ni Cristo
            ni María confrontaban "problemas sociales" por su nacimiento, como quiere hacer ver el autor del folleto que
            enseña
            la clase de escuela dominical del 20 Dc 98, en la revista "Life and Works Pursuits". <Bold>d) Cuando
                alguien se
                refería a Cristo, lo hacía como "el hijo de José", o "el hijo del carpintero".</Bold> No había
            <Bold>en la
                sociedad donde él se crió dudas</Bold> respecto a la paternidad de José, pues no sabían que había sido
            engendrado del Espíritu Santo.</Paragraph>
        <Paragraph> "<i>Felipe halló a Natanael, y dícele: Hemos hallado a aquel de quien</i> <i> escribió Moisés en la ley, y
            los
            profetas: <Bold>a Jesús, el hijo de José</Bold>, de Nazaret</i>." ( Jn 1: 45 )</Paragraph>
        <Paragraph><Bold>e) Aún sus enemigos se referían a él como el hijo de José.</Bold> Como que ellos desconocían la
            milagrosa
            concepción de Cristo en el vientre de la Virgen María, ellos lo tenían por hijo de José, que era el hombre
            con quien
            ella se había casado. Si hubiera habido el más mínimo rumor, la más mínima duda sobre el nacimiento de
            Cristo, sus
            enemigos hubieran exagerado, y aumentado ese rumor para destruirlo como profeta.</Paragraph>
        <Paragraph> "<i>Murmuraban entonces de él los Judíos, porque había dicho: Yo soy</i> <i> el pan que descendí del cielo.
            Y
            decían: <Bold>¿No es éste Jesús, el hijo de</Bold></i> <Bold> José, cuyo padre y madre nosotros
            conocemos?</Bold> <i>¿cómo, pues, dice éste:</i> <i> Del cielo he descendido</i>?" ( Jn 6: 41- 42 )</Paragraph>
        <Paragraph> Como vemos en el pasaje leído, los que negaban que Cristo fuera el pan del cielo, eran sus enemigos, y esos
            enemigos
            creían a pie juntilla que Cristo era hijo de José y de María. No podía pues existir, como dice el autor de
            esa
            lección de escuela dominical, ningún tipo de dudas sobre el nacimiento de Jesús. Eso es una blasfemia. Una
            blasfemia
            que se infiltra en las congregaciones bautistas por la falta de supervisión e inspección que los directores
            de la
            revista mencionada tienen sobre el material que se escribe, y la falta de supervisión de la Convención
            Bautista del
            Suro sobre los directores de esa revista. En esa desdichada lección de escuela dominical, además de echar
            dudas
            sobre la pública reputación moral de la Virgen María y de Jesucristo, también se aseguraba que la Virgen
            María era
            casi una niña de 14 ó 15 años cuando dio a luz a Jesucristo, y que el nacimiento de Cristo no podía haber
            sido en
            diciembre bajo ningún concepto. De estas dos falsedades ya hablé en este mismo website en la nota # 1 y la #
            14. El
            invento de que la Virgen María era una niña es originado por el Vaticano, para fabricar con ella una diosa;
            la otra
            falsedad es inventada y esparcida por los ruselistas y otros cristianos que se dejan influir por ellos,
            sobre todo
            en época de Navidad.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>

    </section>
</Layout>
    