---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="No tomarás en vano el nombre de Dios">
    <Title>Muy a menudo los cristianos, sin darse cuenta, toman en vano el nombre de Dios.</Title>

    <Tag>#18</Tag>
    <Content>
        
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>El tercer mandamiento dice lo siguiente:</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<i>No tomarás el nombre de Jehová tu Dios en vano; porque</i></Paragraph>
        <Paragraph><i> <Bold>no dará por inocente Jehová al que</Bold></i> <Bold>tomare su nombre en</Bold></Paragraph>
        <Paragraph><Bold> vano</Bold><Bold>.</Bold>" ( Ex 20: 7 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> La mayoría de los cristianos toman muy ligeramente este tercer mandamiento de la Ley de Dios. Tristemente
            muchos no
            se dan cuenta de que están transgrediendo el tercer mandamiento.</Paragraph>
        <Paragraph> Es muy común entre los cristianos decir chistes en los que se mezcla a Dios, a Cristo, al Espíritu Santo, el
            Paraíso, el Cielo, el Infierno, San Pedro, etc.. Otros no hacen estos chistes, pero los aprueban al
            escucharlos y
            reírse con aquellos que hacen esos chistes.</Paragraph>
        <Paragraph> Usted nunca encontrará en la Biblia un lenguaje tal, porque <Bold>los apóstoles y los primeros cristianos
            en
            general, realmente amaban a Dios y lo trataban con el respeto que Él se merece, no como a un igual,</Bold>
            al cual
            puedan mezclar en sus chistes. Estos que hacen chistes que envuelven gente o cosas que deben ser
            consideradas
            sagradas, defienden su errado comportamiento alegando que ellos tratan a Dios como a un padre, y que por
            ello pueden
            tratarlo con cierto atrevimiento y desfachatez.</Paragraph>
        <Paragraph><Bold>Desgraciadamente lo que ellos dicen es verdad en el sentido de que ellos tratan a Dios como tratan a
            sus
            padres, pero dos errores no forman un acierto.</Bold> El problema radica en que el concepto de "padre" se
            ha
            degradado en nuestra cultura actual, y ese es el que aprendieron ellos, a pesar de ser un concepto muy pobre
            e
            irrespetuoso. En la cultura actual el padre es simplemente un hombre que se casó con mi madre cuando ella
            era joven
            y bonita, pero ahora ambos son un par de viejos fuera de moda. Como es natural, los que tienen tal concepto
            de sus
            padres difícilmente pueden tener un concepto correcto de Dios. De ahí la costumbre de mezclar a Dios en sus
            chistes.
        </Paragraph>
        <Paragraph><Bold>Muchos sicólogos aconsejan a los padres que sean simplemente como amigos para sus hijos,</Bold> con
            objeto
            de que hagan a sus hijos sentir que ellos son sus mejores amigos. Yo he criado nueve hijos, ninguno de ellos
            ha
            tenido problemas con la ley, ni tienen ningún tipo de vicio. Mi esposa y yo los criamos como la Biblia
            enseña, no
            como enseñan los hombres. Nosotros inculcamos en ellos que tenían que portarse bien y esforzarse para llegar
            más
            lejos; y así lo hicieron. A pesar de que éramos pobres, todos ellos se graduaron de alguna carrera
            universitaria.
            <Bold>Yo siempre les dije que yo no era su amigo, sino mucho más que eso: yo era su padre</Bold>. Ellos
            podrían
            llegar a tener muchos amigos, pero solamente iban a tener un padre, y especialmente, una sola madre.
            <Bold>Mamá no
                era "otro amigo"</Bold>, como los sicólogos dicen, ella era la reina del hogar, y si alguno de los
            muchachos
            le hablaba a ella en forma impropia o le gritaba, él iba a sufrir las consecuencias de esa falta de respeto.
            <Bold>Yo aprendí estos principios educativos en la Biblia, no en libros de sicología</Bold>. Gracias a
            Dios
            todos mis hijos se han convertido al Señor. Ellos saben qué significa ser padre, y por lo tanto, respetan a
            Dios
            como a un Padre infinitamente superior. Ellos nunca tratan a Dios con desfachatez o atrevimiento.</Paragraph>
        <Paragraph><Bold>Sería muy buena idea que los pastores enseñaran a su congregación cómo criar en sujeción, control y
            respeto a
            sus hijos.</Bold> Muchos padres no creen que ellos merezcan esta clase de respeto del que estamos
            hablando, y por
            lo tanto, no se sienten con moral ni autoridad para enseñárselo a sus hijos. Esto les sucede por no leer y
            aplicar
            las enseñanzas de la Biblia respecto a la crianza de los hijos, o porque alguien les enseñó que los
            sicólogos saben
            más de esas cosas que la Biblia. Veamos lo que Dios piensa al respecto.</Paragraph>
        <Paragraph> En la Biblia, el respeto y la obediencia a los padres era muy estricta. Era un mandamiento con promesa, que
            se daba
            con palabras solamente la primera vez<Bold>.....</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Honra a tu padre y a tu madre, <Bold>porque tus días se</Bold></i></Paragraph>
        <Paragraph><Bold>alarguen en la tierra que Jehová tu Dios te da</Bold>." ( Ex 20: 12 )</Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>.....</Bold>pero si alguno no quería obedecer las palabras del tercer mandamiento, entonces se le
            aplicaba
            otro mandamiento diferente:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y <Bold>el que hiriere a su padre o a su madre</Bold>, morirá.</i>" </Paragraph>
        <Paragraph> ( Ex 21: 15 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Porque <Bold>varón que maldijere a su padre o a su madre, de</Bold></i></Paragraph>
        <Paragraph><Bold> cierto morirá</Bold><i>: a su padre o a su</i> <i>madre maldijo; su sangre</i></Paragraph>
        <Paragraph><i>será sobre él</i>." ( Lev 20: 9 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<Bold>Cuando alguno tuviere hijo contumaz y rebelde, que no</Bold></Paragraph>
        <Paragraph><Bold>obedeciere a la voz de su padre</Bold> <Bold>ni a la voz de su madre</Bold><i>,......</i></Paragraph>
        <Paragraph><i>Entonces tomarlo han su padre y su madre, y lo sacarán a los</i></Paragraph>
        <Paragraph><i> ancianos</i> <i>de su ciudad, y a la puerta del lugar suyo.....</i></Paragraph>
        <Paragraph><i>Entonces todos <Bold>los hombres de su ciudad lo apedrearán</Bold></i> <Bold> con piedras, y
            morirá:</Bold> <i>así quitarás el mal de en medio de ti;</i></Paragraph>
        <Paragraph><i> y todo Israel oirá, y temerá</i>." ( Dt 21: 18-21 abreviado )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>La ley también era estricta contra los que trataran a Dios irrespetuosamente:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y a los hijos de Israel hablarás, diciendo: <Bold>Cualquiera que</Bold></i></Paragraph>
        <Paragraph><Bold> maldijere a su Dios, llevará su</Bold> <Bold>iniquidad. Y el que blasfemare</Bold></Paragraph>
        <Paragraph><Bold> el nombre de Jehová, ha de ser muerto</Bold>;...." ( Lev 24: 15-16 abreviado )</Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold> Como podemos ver Dios no toma ligeramente la blasfemia. Por lo tanto es de pensarse que tampoco tome
            ligeramente el que se use su nombre en vano,</Bold> aunque no sea expresamente una blasfemia. El problema
            no es
            que la gente tiene a Dios como un Padre; el problema radica en que muchos no tienen el concepto correcto de
            lo que
            es un padre; y específicamente de <Bold>quién es Dios</Bold>. Por eso creen que pueden ser atrevidos y
            desfachatados con Él.</Paragraph>
        <Paragraph><Bold>Cuando alguien me viene con un chiste, y yo veo que trata de personas o cosas sagradas,</Bold> le
            digo al
            individuo que a mí no me gusta ese tipo de chistes. Si la persona insiste en decir su chiste, simplemente
            doy la
            vuelta y me voy. Yo no me voy a convertir en cómplice de uno que toma el nombre de Dios en vano. Yo me
            comporto así
            aún si el chiste trata de San Pedro, el Paraíso, el Cielo, el Infierno, o cosas parecidas, lo cual no
            constituye un
            uso del nombre de Dios en vano. Lo hago así, porque si no, ellos más tarde descienden más aún haciendo
            chistes
            indebidos o incluso blasfemias. ¿Por qué vamos a caminar al borde del precipicio con el peligro que esto
            conlleva?
            ¿O por qué vamos a enseñar a otros, con nuestro mal ejemplo, a caminar ellos por el borde del precipicio?
        </Paragraph>
        <Paragraph><Bold>Dos errores no forman un acierto.</Bold> Por el hecho de que alguien nunca aprendió lo que es
            respetar a
            sus padres, no tenemos nosotros que admitirles su falta de respeto hacia Dios. Nosotros los cristianos
            tenemos que
            comportarnos de acuerdo a los estándares bíblicos, no de acuerdo a los estándares de nuestra cultura o
            civilización.
            <Bold>Decir o escuchar chistes que mezclan a Dios, a Cristo o al Espíritu Santo, es pecado</Bold>.
            Escuchar
            chistes que mezclan el Paraíso, el Infierno, el Cielo, los apóstoles, etc., lo anima a uno a caminar por el
            borde
            del abismo del pecado.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>

    </Content>
</Layout>
    