---
import Layout from "../layout/Layout.astro";
---

<Layout title="La higuera no representa a Israel">
    <section>
        <p><strong>La higuera no representa a Israel</strong></p>
        <p> He oído varias veces decir que en la Biblia <strong>la higuera representa siempre a Israel;</strong> pero no
            sé en
            qué se basan para afirmar tan categóricamente tal cosa. Desdichadamente casi todo el mundo afirma
            dogmáticamente sus
            opiniones sin aportar argumentos o pruebas, sobre todo en religión. No obstante, estas opiniones se hacen
            dogma
            debido a que casi siempre el que emite sus opiniones es director de un seminario, director de una
            denominación u
            ocupa un puesto de prestigio y autoridad, que nadie se atreve a discutir. Pero hay otro factor muy
            importante:
            <strong>los autores de esas hipótesis jamás permiten la discusión de sus opiniones</strong>. Simplemente hay
            que
            creerla "porque lo digo yo que sé más que tú".</p>
        <p><strong>No creo que sea cierto que la higuera represente a Israel</strong>; pero si alguien tiene algún
            argumento
            bíblico y lo puede presentar con lógica, le agradecería que me lo expusiera por escrito; <strong>a mí me
                gusta
                aprender de los demás.</strong> Hay quienes creen que lo escrito en la parábola de Lc 21: 29-31, se
            aplica a la
            nación Israel. Veamos.</p>
        <p></p>
        <p> "29 <i>Y díjoles una parábola: <strong>Mirad la higuera y todos los</strong></i></p>
        <p><strong>árboles</strong><i>; </i> 30 c<i>uando ya brotan, viéndolo,</i> <i>de vosotros mismos</i></p>
        <p><i>entendéis que el verano está ya cerca.</i> 31 <i>Así también vosotros,</i></p>
        <p><i>cuando viereis</i> <i>hacerse estas cosas, entended que está cerca</i></p>
        <p><i>el reino de Dios</i>." ( Lc 21: 29 -31 )</p>
        <p></p>
        <p> Si analizamos este pasaje veremos que aquí la higuera no representa la nación Israel, porque cuando Jesús
            pone el
            ejemplo de la higuera en el versículo 29, no la menciona a ella solamente, sino que dice "mirad la higuera
            <strong>y
                todos los árboles</strong>". No se refiere a solamente la higuera. Si se refiere a todos los árboles
            habría que
            pensar que también se refiere a todas las naciones, cosa ilógica; por lo tanto, debemos pensar que los
            árboles no
            están representando naciones, sino que representan el hecho de que se puede prever la cercanía de un
            acontecimiento,
            en este caso el verano. Si habla de la higuera es porque la higuera es uno de esos muchos árboles, no porque
            represente a nadie. Cristo está hablando de cómo los árboles en primavera echan los retoños, lo cual nos
            indica que
            el verano está cerca, y que en la misma forma nosotros debemos estar atentos a esas señales de los tiempos
            como si
            fueran retoños anunciadores de la Segunda Venida.</p>
        <p> Incluso en el versículo 30 usa <strong>el verbo en plural, cuando dice "brotan"</strong>, refiriéndose a
            todos los
            árboles y no a solamente la higuera. <strong>Si se refiriera solamente a la higuera diría "brota", en
                singular</strong>. La frase "y todos los árboles" invalida la idea de que se refiera a la higuera como
            símbolo
            de la nación Israel.</p>
        <p><strong>En la Biblia se menciona la higuera más de cuarenta veces. En todas esas menciones se puede probar
            que la
            palabra "higuera" se refiere al árbol y nunca representa a Israel.</strong> Hay quienes insisten en decir
            que en Mt
            21:19 sí se refiere a Israel. Veamos.</p>
        <p></p>
        <p> "19 <i>Y viendo una higuera cerca del camino, vino a ella, y</i></p>
        <p><i>no halló nada en ella, sino hojas solamente,</i> <i>y le dijo:</i></p>
        <p><strong>Nunca más</strong> <strong>para siempre nazca de ti fruto.</strong> <i>Y luego se secó</i></p>
        <p><i> la higuera.</i> 20 <i>Y viendo esto los</i> <i>discípulos, maravillados</i></p>
        <p><i>decían: ¿Cómo se secó luego la higuera?</i> 21 <i>Y respondiendo</i></p>
        <p><i>Jesús les dijo:</i> <i>De cierto os digo, que <strong>si tuviereis fe</strong>, y no</i></p>
        <p><i>dudareis, no sólo haréis esto de la higuera, mas si a este</i> <i> monte dijereis: Quítate y échate en la
            mar,
            será hecho.</i></p>
        <p><i> </i>22 <i>Y todo lo que pidiereis en oración, creyendo,</i> <i>lo recibiréis</i>." </p>
        <p>( Mt 21:19 - 22 )</p>
        <p></p>
        <p> Los que piensan en la forma errada antes mencionada, tratan de ver un símil entre Israel y la higuera, en el
            sentido
            de que Israel no dio fruto y por eso fue extirpada de la historia. Pudiera ser que a cualquier observador
            superficial le pareciera ver tal cosa, pero a poco que leamos el pasaje sin interpretaciones preconcebidas y
            sin ser
            esclavos de los dogmas que nos inculcaron, veremos que <strong>esta no es una parábola sobre Israel, sino
                una
                parábola sobre la fe y sobre la necesidad general de todo creyente de hacer frutos.</strong></p>
        <p> Todos sabemos que estaba profetizado que Israel volvería a entrar en la historia como nación, lo cual
            efectivamente
            ocurrió en 1948. Sin embargo, en esta parábola Jesús le dice a la higuera <strong>"<i>Nunca más para siempre
                nazca
                de ti fruto</i>"</strong>. <strong>Si esta parábola de la higuera se refiriera a Israel, entonces
                tendríamos que
                admitir que se equivocó, porque Israel ha vuelto a entrar en la historia y tendrá frutos al final del
                mundo.</strong> Se evidencia así que la higuera no puede estar representando a Israel en este caso.</p>
        <p> Hay otros dos pasajes en los cuales insisten en decir que la higuera representa a Israel, estos son Mt 24:
            32 y Mr
            13: 28. En estos dos pasajes se está hablando de exactamente lo mismo que se habla en el pasaje base, es el
            mismo
            episodio y la misma enseñanza. <strong>Los razonamientos hechos cuando analicé el pasaje base son
                perfectamente
                válidos para estos dos.</strong> La única diferencia entre el pasaje base y estos otros dos mencionados
            en este
            párrafo, es que en ellos no se menciona a los demás árboles, como sí se hace en el presente pasaje en
            estudio. Pero
            sabemos que es muy común en la Escritura, que en unos pasajes se diga todo lo que ocurrió o todo lo que se
            dijo, y
            en otros se mencione sólo parcialmente la misma cosa. Veamos ambos pasajes para que se vea que se trata del
            mismo
            episodio, pero dicho con menos detalles.</p>
        <p></p>
        <p> "<strong>De la higuera aprended la parábola</strong><i>: Cuando ya su rama</i></p>
        <p><i> se enternece, y las hojas brotan, sabéis que</i> <i>el verano está</i></p>
        <p><i>cerca. Así también vosotros, cuando viereis todas estas cosas,</i></p>
        <p><i>sabed que está cercano,</i> <i>a las puertas</i>." ( Mt 24: 32-33 )</p>
        <p></p>
        <p> "<strong>De la higuera aprended la semejanza</strong><i>: Cuando su rama ya</i></p>
        <p><i>se enternece, y brota hojas, conocéis que</i> <i>el verano está cerca.</i></p>
        <p><i>Así también vosotros, cuando viereis hacerse estas cosas,</i></p>
        <p><i>conoced que está cerca,</i> <i>a las puertas</i>." ( Mr 13: 28-29 )</p>
        <p></p>
        <p> Como vemos, se trata del mismo pasaje pero dicho por otros dos escritores bíblicos diferentes, que no
            registraron la
            parte que habla sobre los demás árboles, bien sea porque no lo recordaron o porque no les pareció necesario
            registrarlo. Cosas como estas son muy frecuentes en la Biblia y las conoce todo asiduo lector de la
            Escritura. Otro
            pasaje que se esgrime como demostración de que la higuera representa a la nación Israel es Lc 13: 6-9,
            veamos.</p>
        <p></p>
        <p> "<i>Y dijo esta parábola: Tenía uno una higuera plantada en</i></p>
        <p><i> su viña, y vino a buscar fruto en ella, y no</i> <i>lo halló. Y dijo al</i></p>
        <p><i>viñero: He aquí tres años ha que vengo a buscar fruto en esta</i></p>
        <p><i>higuera, y no lo hallo;</i> <i>córtala, ¿por qué ocupará aún la tierra?</i></p>
        <p><i>Él entonces respondiendo, le dijo: Señor, déjala aún este año,</i> <i> hasta que la excave, y estercole. Y
            si
            hiciere fruto, bien; y si no,</i></p>
        <p><i>la cortarás después</i>." ( Lc 13: 6 -9 )</p>
        <p></p>
        <p> En esta parábola vemos que <strong>la higuera estaba plantada en una viña.</strong> Siempre he visto el
            símil de la
            viña, refiriéndose al pueblo de Israel o a los cristianos. Así que si fuera a pensar que esta parábola se
            refería a
            Israel tendría que pensar que es la viña y no la higuera la que se refería a Israel.</p>
        <p> Lo que está enseñando esta parábola de la higuera es que cuando no hay fruto el árbol se corta, y que así
            también
            ocurrirá con nosotros. Incluso vemos que <strong>el que tuvo misericordia de la higuera no fue el señor de
                la
                higuera, sino su sirviente. Muy mala representación de la relación entre Israel y Dios sería la de esta
                parábola, si en ella se refirieran a Israel como nación.</strong></p>
        <p> En resumen, yo no veo base para deducir o inducir que el árbol de la higuera representa a Israel como nación
            o a los
            judíos en particular. No comprendo por qué esta idea se ha expandido entre los cristianos.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    