---
import Layout from "../layout/Layout.astro";
---

<Layout title="La Simplísima Primera Célula">
    <section>
        <p><strong>La materia inorgánica nunca pudo "evolucionar" para convertirse en la "simplísima primera
            célula"</strong>
        </p>
        <p><strong>Es muy aconsejable que este artículo de le dé a los jóvenes que están en la universidad o que están
            al
            ingresar en ella,</strong> a fin de que no se dejen engañar por las mentiras de la falsamente llamada
            ciencia. La
            verdadera ciencia resiste el análisis y el debate. Ellos van a ser bombardeados por medias verdades en
            nombre de la
            ciencia, y si no se les prepara, van a dudar de su fe y a sufrir descalabros. <strong>Solamente hay dos
                alternativas
                para explicar la existencia de los seres vivos.</strong> Una es la teoría de la Creación y la otra la
            hipótesis
            de la generación espontánea. La hipótesis de la evolución es un nuevo nombre que le dieron a la hipótesis de
            la
            "generación espontánea", cuando ésta se desacreditó merced a los experimentos de Pasteur. Pero no se dejen
            engañar
            por nuevos nombrecitos, llámese evolución, mutación, o como quieran llamársele, <strong>lo que no pertenezca
                a la
                teoría de la Creación, pertenece a la hipótesis de la generación espontánea.</strong> La hipótesis de la
            evolución se basa en la suposición de que "había una vez" una "simplísima primera célula" que brotó del mar.
            Dicen
            los que mantienen esta hipótesis que el planeta era una vasta esfera con sólo materia inorgánica, hasta que
            la
            llamada "simplísima primera célula" apareció. Después de su aparición, de acuerdo con la mencionada
            hipótesis, esta
            "simplísima primera célula" comenzó a vivir, procrear, y evolucionar hacia más y más complejos seres
            vivientes. Como
            es costumbre, los que creen en esta hipótesis nunca se molestan en explicar cómo pudo la materia inorgánica
            organizarse a sí misma para convertirse en materia orgánica. <strong>Para "explicar" tal cosa ellos apelan
                al dios
                de ellos; ellos simplemente ponen fe en su dios: "EL TIEMPO".</strong> De acuerdo con su fe, millones y
            millones
            de años pueden organizar la materia y hacer el mismo trabajo de creación que nosotros los cristianos sabemos
            que
            hizo nuestro Creador. Ellos no explican cómo el tiempo puede hacer ese trabajo, ellos simplemente aseguran
            dogmáticamente que su dios "Tiempo" puede hacerlo. <strong>De acuerdo a la hipótesis de la
                evolución,</strong>
            durante millones y millones de años el agua tenía solamente materia inorgánica en solución, hasta que un
            buen día,
            por medio de un abracadabra que ellos no pueden ni probar ni explicar, apareció el más simple de los
            organismos
            vivientes: la tan llevada y traída "simplísima primera célula". Esta célula era el primer escalón de una
            escalera de
            millones de escalones, la cual condujo al fin, según ellos, al hombre moderno. <strong>Si la complejidad de
                esa
                "simplísima primera célula" se le rebajaba un escalón, volvía a ser materia inorgánica;</strong> pero si
            a la
            materia inorgánica se le subía un escalón en complejidad, se convertiría en la "simplísima primera célula".
            De
            acuerdo con los evolucionistas esta "simplísima primera célula" vivió por un tiempo alimentándose del medio
            ambiente
            que le rodeaba, y reproduciéndose a sí misma, a fin de traer a existir otras células exactamente iguales a
            ella.
            Debido a que este proceso continuó a través de millones de años, la Tierra se pobló de células que
            evolucionaron,
            ascendiendo millones de escalones, para convertirse en seres más complejos: animales y vegetales. ¿Puede
            esta
            hipótesis evolucionista ser substanciada, probada, o al menos puede ser explicada en forma lógica? ¿No tiene
            esta
            hipótesis ningún error? <strong>La evolución no es realmente una hipótesis científica, porque no tiene nada
                para
                probarla, pero sí hay muchos argumentos lógicos y científicos que demuestran su falsedad. La hipótesis
                de la
                evolución es simplemente un acto de fe de aquellos que no quieren reconocer que existe un
                Creador.</strong>
            Razonemos juntos usando la lógica y el sentido común, para demostrar que la hipótesis de la evolución está
            fuera de
            toda razón. La llamada "simplísima primera célula" no pudo existir jamás. ¿Por qué no? Veamos primero qué
            cosas
            tenía que tener esa "simplísima primera célula" para ejecutar las tareas que a ella le asignan los
            evolucionistas,
            que son: vivir, crecer y reproducirse. <strong>Primero. La "simplísima primera célula" tenía que tener una
                membrana,</strong> si no la hubiera tenido entonces era parte del medio ambiente que la rodeaba. Para
            que la
            célula no fuera parte del medio ambiente, sino un organismo, tenía que existir un factor de separación o
            membrana
            entre la célula y el medio ambiente. Hasta no hace mucho tiempo, la membrana era casi desconocida en su
            esencia y
            funciones. Ya se han descubierto tantas funciones en la membrana que hoy en día su estudio es una asignatura
            aparte.
            Incluso hay una publicación científica llamada "Journal of Membrane" que se dedica a su estudio, dada la
            complejidad
            que se ha descubierto en la membrana y la necesidad de estudiarla. Así que <strong>la llamada "simplísima
                primera
                célula" tenía que tener una compleja membrana</strong> que permitiera al alimento pasar del exterior al
            interior, pero no permitiera a la materia interior salir al exterior o disolverse en el medio ambiente.
            <strong>Segundo.
                Para que la "simplísima primera célula" se mantuviera viva después de brotar espontáneamente del agua,
                ésta
                tenía que tener la posibilidad de alimentarse,</strong> es decir, la posibilidad de tomar la materia
            inorgánica
            del medio ambiente, introducirla en su cuerpo y procesarla para descomponerla en materiales menos complejos.
            Esto
            tenía que ser hecho con objeto de obtener la energía vital resultante del proceso de descomposición de la
            materia, a
            fin de mantenerse viva. Este es el proceso al que ahora le llamamos digestión, el cual ocurre en el
            estómago, o
            mejor dicho, en el aparato digestivo. Descomponer la materia inorgánica y obtener la energía resultante, es
            un
            complicado proceso que exige grandes conocimientos de química; tanto de la composición de los productos
            químicos a
            descomponer, como de la de aquellos que van a servir para descomponer a los primeros. Esto no es un proceso
            "simple". <strong>Por lo tanto, la llamada "simplísima primera célula" tenía que tener un complicadísimo
                aparato
                digestivo.</strong> <strong> Tercero.</strong> Dado que esta "simplísima primera célula" tenía que
            reproducirse
            a sí misma, tenía que tener <strong>un aparato reproductor que supiera cuándo era el momento apropiado para
                la
                reproducción.</strong> Efectivamente, la célula no podía reproducirse hasta que no tuviera suficiente
            materia
            para sí misma y para donar a otra, de manera que no muriera al donar su propia materia a la célula hija.
            <strong>Cuarto.</strong>
            Esta "simplísima primera célula" tenía que tener un sistema capaz de copiar sus propias características para
            trasmitírselas a la siguiente generación. Si no lo tuviera no podía trasmitir a la siguiente generación las
            características corporales que habían funcionado bien en ella. <strong>Es decir tenía que tener una especie
                de
                sistema ADN para trasmitir a la siguiente célula los aparatos necesarios para mantenerse viva,
                alimentarse y
                reproducirse.</strong> Hasta hace pocas décadas no se conocía lo complicado que era el ADN. Ahora que ya
            se sabe
            tenemos que estar de acuerdo en que cualquier tipo de código químico necesario para trasmitir las
            características de
            una célula a otra es altamente complejo. <strong>Esta altísima complejidad tenía que estar presente en la
                llamada
                "simplísima primera célula".</strong> Es un contrasentido el pensar que iba a existir esa "simplísima
            primera
            célula" dentro de la cual hubiera tanta complejidad. <strong>Quinto.</strong> Dado que la célula tenía en sí
            misma
            varios aparatos, aparte del que le servía de estómago, y dado que esos aparatos tenían que ser alimentados
            para que
            siguieran funcionando, <strong>la llamada "simplísima primera célula" tenía que tener un aparato de
                distribución</strong> de los alimentos creados por el estómago para distribuirlos a otros aparatos. Eso
            significa que tenía que tener un sistema de distribución. <strong>Sexto.</strong> El hecho de tener todos
            estos
            aparatos obliga a la existencia de otro. La "simplísima primera célula" <strong>tenía que tener un aparato
                que
                coordinara el trabajo de todos los demás.</strong> Si no tuviera tal aparato coordinador los demás
            aparatos
            podían dejar de trabajar o trabajar innecesariamente, frustrando así tanto el reproducirse, como la vida
            misma de la
            célula. Esto significa que la célula tenía que tener un aparato coordinador, <strong>una especie de sistema
                nervioso
                central</strong>. Como vemos la llamada "simplísima primera célula" nunca pudo ser tan simple, sino que
            por el
            contrario, tenía que ser altamente compleja, porque con objeto de vivir y reproducirse tenía que tener
            varios
            complejos aparatos. Cada uno de esos aparatos por sí mismo era lo suficientemente complejo como para no
            creer que
            surgió por medio de una generación espontánea. <strong>Mucho menos admisible es pensar que todos ellos, por
                generación espontánea, surgieron juntos en el mismo tiempo y lugar, y que además se unieron, se
                coordinaron por
                sí mismos, se recubrieron de una membrana funcional y se convirtieron en entidad biológica.</strong>
            Como dije
            en el título de este artículo: <strong>La materia inorgánica nunca pudo "evolucionar" para convertirse en la
                "simplísima primera célula"; eso es simplemente un dogma.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    