---
import Layout from "../layout/Layout.astro";
---

<Layout title="Judas no era un patriota, sino un traidor.">
    <section>
        <p>AHORA QUIEREN CONVENCERNOS DE QUE JUDAS NO ERA UN TRAIDOR, SINO UN PATRIOTA.</p>
        <p> Se nota en el ambiente un raro empeño de ciertos "eruditos bíblicos" por <strong>deslizar en sus artículos o
            discursos, con mucha habilidad</strong>, la idea de que Judas traicionó a Cristo para forzarlo a
            manifestarse como
            Mesías y que así salvara a los judíos del poder romano. Es decir, <strong>nos quieren pintar a Judas como un
                noble
                patriota, no como un asqueroso traidor.</strong> Desgraciadamente muchos cristianos admiten esa
            fantástica
            explicación del comportamiento del traidor, porque como que no leen la Biblia se tragan cualquier cuento de
            hadas
            que les hagan. Para comenzar veamos qué pensaba San Juan, el cuál conocía personalmente a Judas, y tenía
            mucha mejor
            información que todos los "sabios" que ahora quieren justificarlo. En el pasaje que a continuación leeremos,
            <strong>Juan asegura que Judas era un ladrón. </strong> Y esto lo dice largo tiempo después de los hechos,
            cuando ya
            los malos entendidos y errores podían haber sido subsanados, y las pasiones se habían calmado. Es decir, que
            los
            apóstoles sabían que Judas perseveraba con Cristo porque siendo el tesorero del grupo podía robar algo cada
            día.
            Leamos.</p>
        <p></p>
        <p> "<i>Y dijo uno de sus discípulos, <strong>Judas Iscariote</strong>, hijo de</i></p>
        <p><i>Simón, el que le había de entregar:¿Por qué no se ha</i></p>
        <p><i>vendido este ungüento por trescientos dineros, y se dio a</i></p>
        <p><i>los pobres? Mas</i> <i>dijo esto, <strong>no por el cuidado que él tenía</strong></i></p>
        <p><strong>de los pobres</strong><i>, sino porque <strong>era ladrón</strong>, <strong>y tenía la</strong></i>
            <strong>bolsa,</strong>
            <i>y</i></p>
        <p><i>traía lo que se echaba en ella</i>." ( Jn 12: 4 - 6 )</p>
        <p></p>
        <p><strong>Si era un ladrón no era un patriota.</strong> Otra cosa a notar es que <strong>al supuesto patriota
            no le
            interesaban los pobres.</strong> Es imposible concebir un hombre que por un lado ama a su patria y por el
            otro no le
            importan los pobres, eso es falso. <strong>Otra cosa que está clara es que él traicionó a Jesús por
                dinero. </strong> Si hubiera sido un patriota no se hubiera manchado ni con la traición ni con el
            dinero. El
            hecho de que luego lo devolvió <strong>no</strong> implica un verdadero arrepentimiento de su traición, sino
            que
            <strong>no podía soportar la tortura demoníaca que estaba padeciendo, cuando después de su traición fue
                desamparado,
                y no pudiendo gozar más de la protección celestial, los demonios se apoderaron de él.</strong> Si como
            le
            sucedió a Pedro, Judas se hubiera arrepentido de corazón, hubiera sido perdonado. No hay pecado por grande
            que sea
            que no sea perdonado si hay un verdadero arrepentimiento. <strong>Judas no estaba arrepentido de lo que
                hizo, sino
                de las consecuencias y sufrimientos que su acción le había acarreado. </strong> Conociendo a Jesús como
            le
            conocía, tenía que saber que perdonaba a los que se arrepentían de corazón.</p>
        <p></p>
        <p> "<i>Entonces uno de los doce, que se llamaba Judas Iscariote,</i></p>
        <p><i>fue a los príncipes de los</i> <i>sacerdotes, y les dijo: ¿<strong>Qué me</strong></i></p>
        <p><strong>queréis dar,</strong> <i>y yo os lo entregaré? Y ellos le señalaron treinta</i> <i> piezas de plata.
            Y
            <strong>desde entonces buscaba oportunidad para</strong></i></p>
        <p><strong>entregarle</strong> ( Mt 26: 14 - 16 )</p>
        <p></p>
        <p> Vemos en el pasaje anterior que <strong>su traición fue una cosa premeditada</strong>, con objeto de no sólo
            coger
            las treinta piezas de plata, sino alzarse con la bolsa. <strong>Él tuvo oportunidad de pensar bien lo que
                iba a
                hacer, y decidió traicionar;</strong> no solamente traicionar, sino que para darles una señal a sus
            cómplices,
            tuvo el cinismo de darle un beso. Un hombre que procede así ni es un patriota, ni cree que la persona que él
            está
            entregando pueda librarlos de los romanos. Si lo hubiera creído no hubiera actuado como actuó. Eso es sólo
            un
            pretexto de los que ahora quieren justifiarlo. Además, muchos años después de la traición de Judas, <strong>los
                que
                lo habían conocido personalmente, aún seguían opinando que era un traidor y un sujeto
                repulsivo.</strong> Si él
            se hubiera arrepentido de lo que hizo, o si hubiera actuado como un patriota, estos hombres no pensarían
            igual
            tantos años después. El evangelio de Juan fue escrito muchos años después de la traición de Judas, sin
            embargo,
            Juan, que estaba mejor enterado que todos estos sospechosos "eruditos" que ahora tratan de justificarlo, nos
            dice
            que <strong>lo que Judas hizo fue motivado porque permitió al Diablo meterse en su corazón.</strong> Los que
            sí
            sabían la verdad de las cosas nos hacen ver que <strong>Judas estaba muy lejos de ser un patriota; era un
                servidor
                de Satanás. </strong> Veamos.</p>
        <p></p>
        <p> "<i>Y la cena acabada, como <strong>el Diablo ya había metido en</strong></i></p>
        <p><strong> el corazón de Judas,</strong> <i>hijo de</i> <i>Simón Iscariote, que le entregase...</i>" ( Jn 13: 2
            )</p>
        <p></p>
        <p><strong>Pero hay un mejor argumento. Jesucristo, que por su divinidad podía saber lo que había en el corazón
            del
            hombre y lo que iba a sentir después, nunca lo justificó ni le restó gravedad a lo que Judas hacía,</strong>
            sino
            que al contrario, le puso un grave peso sobre la espalda a quien realizaba tal traición. En Mt 26: 24 y en
            Mr 14:
            21, Jesucristo condenó su acción, y conociendo el corazón de Judas anunció lo terrible de su situación
            cuando dijo
            que le hubiera sido mejor no haber nacido.</p>
        <p></p>
        <p> "<i>A la verdad el Hijo del hombre va, como está escrito de</i></p>
        <p><i> él, mas <strong>¡ay de aquel hombre</strong></i> <strong>por quien el Hijo del hombre</strong></p>
        <p><strong>es entregado! bueno le fuera al tal hombre no haber nacido</strong>." ( Mt 26: 24 )</p>
        <p></p>
        <p><strong>Si Judas hubiera tenido la más mínima justificación, si Cristo hubiera visto en el futuro de Judas la
            más
            mínima posibilidad de arrepentimiento verdadero, el Señor, que deseaba morir por el pecador, lo hubiera
            perdonado</strong>, incluso hubiera dado aquí mejor testimonio de él. Si el Señor se expresaba así de Judas
            es
            porque su acción no era la de un hombre digno ni la de un patriota. Como vemos, <strong>tanto Cristo
                personalmente,
                como los apóstoles,</strong> que de verdad conocían de primera mano todo este episodio, <strong>jamás
                justificaron a Judas</strong>; pero estos modernos "eruditos" hacen muy sospechosos esfuerzos por
            justificarlo.
            ¿Qué se traerán entre manos? ¿Cuál será el plan? ¿Acaso ablandar a los cristianos para luego unir al
            cristianismo
            con los que admiran a Judas por haber traicionado a Cristo?</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    