---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Como Ladrón en la Noche es para inconversos">
    <Title>COMO LADRÓN EN LA NOCHE, CRISTO SORPRENDERÁ A LOS INCONVERSOS, NO A LOS CRISTIANOS.</Title>

    <Tag>#27</Tag>
    <Content>
        
        <Paragraph> Eso de que la Segunda Venida de Cristo sorprenderá como un ladrón en la noche<Bold>,</Bold> se refiere a
            los
            inconversos<Bold>,</Bold> <Bold>no a los cristianos.</Bold> Es decir<Bold>,</Bold> que los
            cristianos no
            serán sorprendidos por su Segunda Venida<Bold>,</Bold> pues aunque el día y la hora no se
            sabe<Bold>,</Bold>
            ni hay por qué saberlo<Bold>,</Bold> la época de su venida sí puede saberse<Bold>;</Bold> y tal vez
            hasta el
            año<Bold>.</Bold> <Bold>No estoy diciendo que puede saberse desde ahora,</Bold> pero sí podrá
            saberse cuando
            comiencen las principales señales<Bold>,</Bold> en particular los siete años de la Gran
            Tribulación<Bold>,</Bold> puesto que es al fin de ese período que Nuestro Señor
            regresa<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿</Bold>Por qué digo que la sorpresa del ladrón en la noche será para los inconversos y no para los
            cristianos<Bold>?</Bold> Lo digo porque <Bold>esa frase "ladrón en la noche", referente a la sorpresa
                de la
                Segunda Venida de Jesucristo, se menciona seis veces en toda la Biblia, y en ninguna de ellas se indica
                que se
                refiere a los cristianos. Sin embargo, en algunas de ellas se ve claramente que se refiere a los
                inconversos.</Bold> Esto último lo dice claramente San Pablo en el siguiente pasaje<Bold>.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <i>Empero acerca de los tiempos y de los momentos<Bold>,</Bold> no
            tenéis<Bold>,</Bold>
            hermanos<Bold>,</Bold> necesidad de que yo os escriba<Bold>,</Bold></i> 2 <i>porque vosotros sabéis
            bien<Bold>,</Bold> que <Bold>el día del Señor vendrá así como ladrón de noche,</Bold></i> 3 <i>que
            <Bold>cuando
                dirán, 'paz y seguridad', entonces vendrá sobre ellos destrucción de repente,</Bold> como los dolores
            a la mujer
            preñada<Bold>;</Bold> <Bold>y no escaparán.</Bold> </i> 4 <Bold>Mas vosotros, hermanos, no estáis
            en
            tinieblas, para que aquel día os sobrecoja como ladrón;</Bold> 5 <i>porque todos vosotros sois hijos de
            luz<Bold>,</Bold> e hijos del día<Bold>;</Bold> no somos de la noche<Bold>,</Bold> ni de las
            tinieblas</i><Bold>."</Bold>
            (I Tes 5<Bold>:</Bold> 1- 5 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Si leemos el versículo 3 veremos que dice cuando digan <Bold>"</Bold>paz y seguridad<Bold>,</Bold>
            entonces
            <Bold>vendrá sobre ellos destrucción</Bold> de repente<Bold>....</Bold>y <Bold>no
                escaparán".</Bold> No es
            lógico pensar que eso de <Bold>"</Bold>vendrá sobre <Bold>ellos</Bold>
            destrucción<Bold>",</Bold> se
            refiera a los cristianos<Bold>,</Bold> sino a <Bold>"</Bold>ellos<Bold>",</Bold> los
            inconversos<Bold>.</Bold> Otro tanto puede decirse de <Bold>"</Bold>no escaparán<Bold>",</Bold>
            puesto que
            los cristianos <Bold>sí</Bold> escaparemos<Bold>.</Bold> Por lo tanto<Bold>,</Bold> cuando habla
            de la
            sorpresa del ladrón<Bold>,</Bold> se refiere a los que padecerán destrucción y a los que no
            escapan<Bold>.</Bold> De ahí se deduce fácilmente que <Bold>los sorprendidos serán los
                inconversos.</Bold></Paragraph>
        <Paragraph>Si leemos el versículo 4 veremos que Pablo le dice a los cristianos que eso no va con ellos<Bold>,</Bold>
            que no
            se refiere a ellos<Bold>.</Bold> Eso lo dice cuando les explica<Bold>,</Bold> <Bold>"</Bold>Mas
            <Bold>vosotros,
                hermanos,</Bold> no estáis en tinieblas<Bold>,</Bold> para que aquel día <Bold>os sobrecoja como
                ladrón".</Bold> Está bien claramente expresado que Pablo no consideraba que los cristianos iban a ser
            sorprendidos
            por la Segunda Venida de Cristo<Bold>.</Bold> Es decir<Bold>,</Bold> que <Bold>él excluye a los
                cristianos
                de esa sorpresa tipo ladrón en la noche.</Bold> Por lo tanto<Bold>,</Bold> todos los argumentos
            basados en que
            los cristianos seremos sorprendidos<Bold>,</Bold> se caen por su base<Bold>.</Bold> De todo esto se
            desprende
            claramente<Bold>,</Bold> que los que van a ser sorprendidos son los inconversos<Bold>,</Bold> no los
            cristianos<Bold>.</Bold> Pero hay más<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cuando en Mt 24: 43 Cristo habla de la sorpresa estilo ladrón en la noche,</Bold> lo hace
            refiriéndose a
            que si sus enemigos supieran cuándo iba a ser su Segunda Venida<Bold>,</Bold> se prepararían y
            <Bold>"</Bold>no
            dejarían<Bold>"</Bold> minar la casa<Bold>.</Bold> Aquí vemos de nuevo que <Bold>se refiere a los
                que se
                opondrían a Cristo si pudieran,</Bold> no a los cristianos<Bold>,</Bold> los cuales jamás se
            opondrían a su
            retorno<Bold>.</Bold> Otro tanto puede decirse de Lc 12<Bold>:</Bold> 39<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Esto empero sabed<Bold>,</Bold> que si el padre de la familia supiese a cuál vela el
            ladrón
            había de venir<Bold>,</Bold> velaría<Bold>,</Bold> y <Bold>no dejaría minar su
                casa</Bold></i><Bold>."</Bold> ( Mt 24<Bold>:</Bold> 43 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> "</Bold><i>Esto empero sabed<Bold>,</Bold> que si supiese el padre de familia a qué hora había
            de
            venir el ladrón<Bold>,</Bold> velaría ciertamente<Bold>,</Bold> y <Bold>no dejaría minar su
                casa</Bold></i><Bold>."</Bold> <Bold> </Bold> ( Lc 12<Bold>:</Bold> 39 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>En cuanto a II P 3: 10</Bold> en donde también se menciona la frase <Bold>"</Bold>ladrón en la
            noche<Bold>",</Bold> vemos que allí no se percibe a quién se aplica tal cosa<Bold>,</Bold> y sólo
            dice que su
            venida será sorprendente<Bold>,</Bold> sin decir para quiénes sí o para quiénes no<Bold>.</Bold>
            Pero es
            lógico interpretarlo a la luz de lo que ya Pablo nos enseña en el pasaje de I Tes 5<Bold>:</Bold> 1- 5
            que ya
            leímos<Bold>,</Bold> cuando excluye a los cristianos de los que van a recibir esa
            sorpresa<Bold>.</Bold>
            Veamos qué dice Pedro<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Mas el día del Señor vendrá <Bold>como ladrón en la noche;</Bold> en el cual los
            cielos
            pasarán con grande estruendo<Bold>,</Bold> y los elementos ardiendo serán deshechos<Bold>,</Bold> y
            la tierra
            y las obras que en ella están serán quemadas</i><Bold>."</Bold> ( II P 3<Bold>:</Bold> 10 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>En Apocalipsis 3: 3</Bold> vemos que Jesús dice al ángel de la iglesia de Sardis<Bold>,</Bold>
            que se
            arrepienta y guarde lo que ha recibido y oído<Bold>,</Bold> puesto que <Bold>si no lo hace</Bold>
            vendrá a él
            como ladrón<Bold>.</Bold> De lo dicho por Jesús se desprende que si dicho ángel se
            arrepiente<Bold>,</Bold> y
            si guarda lo por él oído y recibido<Bold>,</Bold> entonces eso de venir como ladrón no le
            atañe<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> "</Bold><i>Acuérdate pues de <Bold>lo que has recibido y has oído, y guárdalo, y
            arrepiéntete.</Bold>
            Y si no velares<Bold>,</Bold> vendré a ti como ladrón<Bold>,</Bold> y no sabrás en qué hora vendré a
            ti</i><Bold>."</Bold></Paragraph>
        <Paragraph><Bold> </Bold> ( Ap 3<Bold>:</Bold> 3 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> En el versículo recién leído nos damos cuenta de que el venir como ladrón no es una cosa ineluctable para
            toda
            persona<Bold>,</Bold> sino que depende de la persona<Bold>.</Bold> Si él no guarda lo oído y
            recibido<Bold>,</Bold> si no se arrepiente ni vela<Bold>,</Bold> la Segunda Venida lo sorprenderá
            como ladrón
            en la noche<Bold>;</Bold> de donde se desprende que si guarda lo oído y recibido<Bold>,</Bold> si se
            arrepiente y vela<Bold>,</Bold> la Segunda Venida no lo sorprenderá como sorprendería un ladrón
            nocturno<Bold>.</Bold> Por lo tanto<Bold>,</Bold> la sorpresa tipo ladrón sólo será para los que no
            están a
            bien con el Señor<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En Apocalipsis 16: 15</Bold> se menciona de nuevo la frase <Bold>"</Bold>como
            ladrón<Bold>",</Bold>
            pero en este pasaje<Bold>,</Bold> al igual que en el de Pedro<Bold>,</Bold> no se dice tampoco
            quiénes serán
            los sorprendidos y quiénes no<Bold>.</Bold> <Bold>Solamente deja entrever que el que vele, si además
                guarda sus
                vestiduras, no será sorprendido.</Bold> Aquí podemos aplicar de nuevo lo enseñado por Pablo en el
            versículo leído
            anteriormente en I Tes 5<Bold>:</Bold> 1-5<Bold>,</Bold> pues no hay ningún otro pasaje que
            contradiga esa
            interpretación<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold> "</Bold><i>He aquí<Bold>,</Bold> <Bold>yo vengo como ladrón.</Bold> Bienaventurado el que
            vela<Bold>,</Bold> y guarda sus vestiduras<Bold>,</Bold> para que no ande desnudo<Bold>,</Bold>
            y vean su
            vergüenza</i><Bold>."</Bold> ( Ap 16<Bold>:</Bold> 15 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Estos seis pasajes son los únicos en los que se menciona la frase <Bold>"</Bold>ladrón en la
            noche<Bold>",</Bold> y <Bold>ninguno de ellos se le aplica a los cristianos, sino que al contrario, en
                algunos
                de esos pasajes claramente se les excluye de esa sorpresa.</Bold> En todos estos pasajes vemos
            que<Bold>:</Bold> <Bold>a)</Bold> o se le aplica a los enemigos de Cristo<Bold>,</Bold> o
            <Bold>b)</Bold> no se dice a quién se le aplica<Bold>.</Bold> Es lógico pues concluir que se refiere
            a los
            inconversos<Bold>.</Bold></Paragraph>
        <Paragraph> Además<Bold>,</Bold> es difícil creer que con tantas señales que da la Biblia para que reconozcamos la
            proximidad de la Segunda Venida<Bold>,</Bold> todavía los cristianos no vayan a darse cuenta de su
            cercanía<Bold>,</Bold> y los vaya a tomar por sorpresa<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Hay quienes para aferrarse a la idea de la sorpresiva venida de Cristo</Bold> han inventado la
            hipótesis de
            que hay dos venidas<Bold>:</Bold> una sorpresiva<Bold>,</Bold> que es la que dicen que ocurrirá
            durante el
            supuesto Rapto<Bold>,</Bold> en la cual se lleva a la Iglesia Gentil<Bold>,</Bold> y
            otra<Bold>,</Bold> la
            Segunda Venida<Bold>,</Bold> en la que brega solamente con los judíos<Bold>,</Bold> la
            cual<Bold>,</Bold>
            según ellos<Bold>,</Bold> es la que podemos darnos cuenta de cuándo se acerca<Bold>.</Bold> Nada de
            eso es
            cierto<Bold>.</Bold></Paragraph>
        <Paragraph> A poco que razonemos nos damos cuenta de que <Bold>esta exhortación del apóstol Pablo él la hace a los
            tesalonicenses, que eran griegos y no judíos, es decir, eran gentiles.</Bold> Si Pablo le dice a los
            gentiles en I
            Tes 5<Bold>:</Bold> 4<Bold>,</Bold> que a ellos no los iba a sorprender la Segunda Venida de
            Jesucristo<Bold>,</Bold> es porque él sabía que el arrebatamiento de los gentiles no iba a ser
            sorpresivo<Bold>,</Bold> es decir<Bold>,</Bold> que ellos iban a poder darse cuenta de la cercanía
            de tan
            magno evento<Bold>.</Bold> Si esos gentiles de Tesalónica no iban a ser sorprendidos como sorprende un
            ladrón
            nocturno<Bold>,</Bold> es porque no existe tal cosa como un rapto sorpresivo de la tal
            <Bold>"</Bold>Iglesia
            Gentil<Bold>".</Bold> Ni aún inventando la absurda hipótesis del Rapto<Bold>,</Bold> y la no menos
            absurda
            división de la Iglesia Cristiana en dos iglesias separadas<Bold>,</Bold> una Iglesia Gentil y una
            Iglesia
            Judía<Bold>,</Bold> ni aún así repito<Bold>,</Bold> puede justificarse la idea de que eso de
            <Bold>"</Bold>ladrón en la noche<Bold>"</Bold> se refiere a los cristianos<Bold>.</Bold>
            <Bold>La esposa
                de Cristo no está formada por dos cuerpos,</Bold> uno la llamada Iglesia Gentil y otra la llamada
            Iglesia
            Judía<Bold>;</Bold> eso es un absurdo<Bold>.</Bold> Veamos ahora que nuevo absurdo van a inventar
            una vez que
            se den cuenta de que este pasaje les destroza el absurdo anterior<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    