---
import Layout from "../layout/Layout.astro";
---

<Layout title="Elías no fue cobarde">
    <section>
        <p><strong>Elías no fue cobarde</strong></p>
        <p><strong>Nuestros enemigos espirituales, y sus secuaces que los sirven en la Tierra</strong>, tratan de
            desprestigiar
            la fe y a los héroes de la fe; es decir a los profetas y a los apóstoles. Para ello influyen en los actuales
            siervos
            de Dios para que ellos repitan neciamente las herejías y falsedades que esos secuaces les ponen en la mente.
            De esa
            manera el desprestigio de la fe viene, supuestamente, desde "adentro".</p>
        <p> Uno de los profetas que con más saña tratan de desprestigiar es Elías. Es lógico que traten de desprestigiar
            a
            Elías, porque él es el que vendrá antes de la Segunda Venida del Señor anunciando su regreso, y por eso les
            conviene
            comenzar a quitarle prestigio y credibilidad. <strong>Los ruselistas se han encargado de hacer ver que
                Elías,</strong> después que fue arrebatado por el carro de fuego, volvió a la Tierra y tuvo una muerte
            natural y
            corriente, y que por eso no es cierto que vuelva a su misión profética, y que si vuelve es en realidad un
            impostor.
        </p>
        <p><strong>Igualmente, otros que no son los ruselistas, se han encargado de hacer ver que Elías fue un
            cobarde</strong>.
            Para respaldar "bíblicamente" su calumnia se basan en el hecho de que cuando Elías vio la persecución que
            contra él
            desató Jezabel, esposa del rey Achab, "se acobardó" y huyó. Algunos, en su afán de rebajar más aún a Elías,
            dicen
            que su cobardía fue tal que huyó de una mujer. No era una mujer quien iba a perseguir a Elías, era todo el
            ejército
            del rey Achab. Ellos plantean así las cosas para menoscabar al profeta, pero la realidad bíblica es otra muy
            distinta, como podremos ver en un momento.</p>
        <p><strong>Primero que todo vemos que Elías era un hombre de valor</strong>, como explico más adelante; pero
            además, al
            apartarse del peligro estaba haciendo algo sensato, algo que aconsejaba la prudencia, algo que la Escritura
            nos
            aconseja que hagamos. Elías en este caso siguió el consejo de Salomón en Prv 14: 16 y 22: 3, donde dice que
            el sabio
            huye cuando ve el peligro y que el necio no lo hace.</p>
        <p></p>
        <p> "<strong>El sabio</strong> <i>teme y <strong>se aparta</strong> del mal, pero el necio se arrebata y</i></p>
        <p><i> confía</i>." ( Prv 14: 16 )</p>
        <p> "<strong>El avisado ve el mal y se esconde</strong><i>, mas los simples pasan y</i></p>
        <p><i> reciben el daño</i>." (Prv 22: 3).</p>
        <p></p>
        <p> Los actuales detractores de Elías le hubieran aconsejado que en vez de sabio fuera necio, que en vez de
            avisado
            fuera simple, y se quedara allí para recibir el daño. Pero no fue Elías por "falta de fe" o "por cobardía",
            el único
            que se apartó del peligro. Igualmente aconsejó Cristo a los discípulos en Mt 10: 23, cuando les dijo que si
            los
            perseguían en una ciudad, que huyeran hacia otra. Es decir, no los exhortó a quedarse en donde había
            peligro. Eso
            mismo hizo Elías, no quedarse donde había peligro. No veo por qué algunos neciamente acusan a Elías de
            cobardía, o
            al menos, de "falta de fe". ¿Hubieran ellos hecho lo mismo que piensan que Elías debía haber hecho?</p>
        <p></p>
        <p> "<strong>Mas cuando os persiguieren en esta ciudad, huid a la otra</strong><i>;</i></p>
        <p><i> porque de cierto os digo, que no acabaréis de andar todas las</i></p>
        <p><i> ciudades de Israel, que no venga el Hijo del hombre</i>" ( Mt 10: 23 )</p>
        <p></p>
        <p> También en Mr 3: 6 - 7 vemos que Jesucristo, cuando vio que los fariseos y los herodianos quería matarlo, se
            apartó
            hacia la mar. Es decir, que el Señor hizo lo mismo que hizo Elías: apartarse del peligro. Los que critican o
            tachan
            de cobardía o falta de fe a Elías, por hacer lo mismo que hizo Jesús, no se percatan de la gravedad de lo
            que
            dicen.</p>
        <p></p>
        <p> "<i>Entonces saliendo los Fariseos, tomaron consejo con los</i></p>
        <p><i> Herodianos <strong>contra él, para matarle. Mas Jesús se apartó a la mar</strong></i></p>
        <p><i> con sus discípulos; y le siguió gran multitud de Galilea, y de Judea</i>."</p>
        <p> ( Mr 3: 6 - 7 )</p>
        <p></p>
        <p> Otro tanto se ve en el episodio narrado en Lc 34: 28 - 30 donde Jesús se fue del lugar desde donde querían
            despeñarle por cuanto no había llegado la hora de su muerte. También en Jn 8: 59 vemos que Jesús se fue del
            Templo
            cuando los fariseos quisieron apedrearlo. No veo en qué basan los "sesudos" críticos de Elías su idea de que
            Elías
            "falló" por huir de Jezabel cuando vio que el peligro estaba cerca.</p>
        <p></p>
        <p> "<i>Entonces todos en la sinagoga fueron llenos de ira, oyendo</i></p>
        <p><i> estas cosas; y levantándose, le echaron fuera de la ciudad, y le</i></p>
        <p><i> llevaron hasta la cumbre del monte sobre el cual la ciudad de ellos</i></p>
        <p><i> estaba edificada, para despeñarle. <strong>Mas él, pasando por medio de</strong></i></p>
        <p><strong> ellos, se fue</strong><strong>.</strong>" ( Lc 4: 28-30 )</p>
        <p></p>
        <p> "<i>Tomaron entonces piedras para tirarle, <strong>mas Jesús se encubrió,</strong></i></p>
        <p><strong> y salió del templo</strong><i>; y atravesando por medio de ellos, <strong>se fue</strong></i>"</p>
        <p> ( Jn 8: 59 )</p>
        <p></p>
        <p><strong>Para mí, "valor personal" es la cualidad espiritual que nos conduce a aceptar el riesgo totalmente
            voluntario
            y previsto que corremos, de perder o dañar nuestra vida o nuestro bienestar, por evitar que se dañe o se
            pierda otra
            cosa que amamos más que las dos anteriores.</strong> Lógicamente, si lo que nosotros amamos más en el mundo
            es
            nuestro bienestar y / o nuestra vida, muy poco va a ser nuestro valor personal, porque no desearemos correr
            ningún
            riesgo por ninguna causa.</p>
        <p></p>
        <p> "1 <i>Y Achab dio la nueva a Jezabel de todo lo que Elías había</i></p>
        <p><i> hecho, de como había muerto a cuchillo a todos los profetas.</i></p>
        <p><i> </i> 2 <i>Entonces envió Jezabel a Elías un mensajero, diciendo: Así me</i></p>
        <p><i> hagan los dioses, y así me añadan, si mañana a estas horas yo no</i></p>
        <p><i> haya puesto tu persona como la de uno de ellos.</i> 3 <strong>Viendo pues</strong></p>
        <p><strong> el peligro, levantose y fuese por salvar su vida</strong><i>, y vino a Beerseba,</i></p>
        <p><i> que es en Judá, y dejó allí su criado.</i> 4 <i>Y él se fue por el desierto</i></p>
        <p><i> un día de camino, y vino y sentose debajo de un enebro; <strong>y deseando</strong></i></p>
        <p><strong> morirse, dijo: Baste ya, oh Jehová, quita mi alma; que no soy yo</strong></p>
        <p><strong> mejor que mis padres</strong>" ( I R 19: 1- 4 )</p>
        <p></p>
        <p> Aquí, al ver a Elías huir de Jezabel no debemos pensar que tiene miedo a la muerte, porque en realidad Elías
            no teme
            morir, como se ve en el versículo 4, donde no sólo desea morir, sino que se lo pide a Dios. <strong>Y
                recordemos que
                quien tal cosa pedía era un hombre que recibía de Dios lo que pidiera.</strong> O sea, que no es aquello
            del que
            dice que se quiere morir, pero "de mentiritas". Elías, que no jugaba con Dios, le pide a Dios la muerte.</p>
        <p> Por lo tanto, cuando Elías huye de Jezabel no lo hace por temor a perder su vida, sino, al parecer, porque
            <strong>no
                quiere morir a manos de los enemigos de Dios. No quiere verse vencido y humillado por los enemigos de
                Dios</strong>.
            No huye por darse el gusto de seguir viviendo, que es lo que le parecería a un lector superficial al leer el
            versículo 3, sino por no darle el gusto a sus enemigos de asesinarlo. No huye de la muerte, huye de la
            vergüenza de
            verse vencido por los enemigos de Dios.</p>
        <p></p>
        <p> "5 <i>Y echándose debajo del enebro, quedose dormido: y he</i></p>
        <p><i> aquí luego un ángel que le tocó, y le dijo: Levántate, come.</i></p>
        <p><i> </i> 6 <i>Entonces él miró, y he aquí a su cabecera una torta cocida sobre</i></p>
        <p><i> las ascuas, y un vaso de agua: y comió y bebió y volviose a dormir.</i></p>
        <p><i> </i> 7 <i>Y volviendo el ángel de Jehová la segunda vez, tocole, diciendo:</i></p>
        <p><i> <strong>Levántate, come: porque gran camino te resta.</strong></i> 8 <i>Levantose pues, y</i></p>
        <p><i> comió y bebió; y caminó con la fortaleza de aquella comida</i></p>
        <p><i> cuarenta días y cuarenta noches, hasta el monte de Dios, Horeb</i>."</p>
        <p> ( I R 19: 5 - 8 )</p>
        <p></p>
        <p> Al leer este pasaje nos da la sensación que Elías no se apartó de allí solamente por prudencia, sino que
            además,
            había recibido una encomienda. Pienso eso, porque vemos en el versículo 7 que cuando el ángel despertó a
            Elías por
            segunda vez, lo exhortó a comer, porque gran camino le faltaba aún. O sea, que Elías estaba siendo enviado a
            un
            largo viaje de parte de Dios.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    