---
import Layout from "../layout/Layout.astro";
---

<Layout title="Quién podía matar a Caín">
    <section>
        <p><strong>¿Quién podía matar a Caín?</strong></p>
        <p></p>
        <p></p>
        <p> Si leemos superficialmente lo que la Biblia dice en Gn 4: 15, pudiéramos pensar que en el planeta solamente
            había
            cuatro, o tal vez doce habitantes durante la vida de Caín, y por lo tanto, parecería innecesario el ponerle
            una
            marca a Caín para que no fuera matado por alguien que lo encontrara.</p>
        <p></p>
        <p></p>
        <p> "...<i>Entonces Jehová puso señal en Caín, <strong>para que no lo </strong></i></p>
        <p><strong> hiriese cualquiera que le hallara</strong>." ( Gn 4: 15 )</p>
        <p></p>
        <p></p>
        <p><strong>Antes de llegar a esta errada conclusión,</strong> debemos recordar que todos los que existieron
            antes del
            Diluvio <strong>vivieron más de nueve siglos</strong>, como podemos ver en el capítulo cinco del Génesis, en
            los
            versículos 5, 8, 11, 17 y 20. También podemos darnos cuenta, por la lectura de dicho capítulo, que esta
            gente podía
            engendrar hijos durante casi toda su vida. De acuerdo con Gn 5: 15, Mahalaleel tuvo su primer hijo cuando
            tenía 65
            años, y de acuerdo con Gn 5: 32 Noé tenía ya 500 años de edad cuando tuvo sus hijos. <strong>Esto significa
                que por
                lo menos ellos podían tener hijos entre los 65 y los 500 años de edad; o sea, durante no menos de 435
                años.</strong></p>
        <p><strong> En esos tiempos no había métodos anticonceptivos</strong> ni tampoco era necesario evitar los hijos,
            pues la
            fértil tierra que existía antes del Diluvio, tal y como Dios la creara, proveía suficiente alimento para
            todos. Eso
            significa que las parejas podían tener un hijo cada tres años, o cada cinco. Aún teniendo solamente un hijo
            cada
            diez años, cualquier pareja podía tener cuarenta o cincuenta hijos, o incluso más, durante los no menos de
            435 años
            que calculamos anteriormente. Por eso es que en los versículos 4, 7, 10, 13, etc., dice "... <strong>y
                engendró
                hijos e hijas</strong>.".</p>
        <p> Sin ir más lejos, Job tuvo 20 hijos e hijas, a pesar de que no era de los antediluvianos que duraban más de
            novecientos años, ( Job 1: 2 y 42: 13-17 ). Si Job pudo tener veinte hijos, cuánto más los antediluvianos
            podrían
            tener 40 ó 50 hijos, viviendo más de nueve siglos.</p>
        <p></p>
        <p></p>
        <p> "<i>1 Este es el libro de las generaciones de Adam. El día en que </i></p>
        <p><i> crió Dios al hombre, a la semejanza de Dios lo hizo; 2 varón y </i></p>
        <p><i> hembra los crió; y los bendijo, y llamó el nombre de ellos Adam, </i></p>
        <p><i> el día en que fueron criados. 3 Y vivió Adam ciento y treinta años, </i></p>
        <p><i> y engendró un hijo a su semejanza, conforme a su imagen, y llamó </i></p>
        <p><i> su nombre Seth. 4 Y fueron los días de Adam, después que engendró </i></p>
        <p><i> a Seth, ochocientos años; y engendró hijos e hijas. 5 Y fueron todos </i></p>
        <p><i> los días que vivió Adam <strong>novecientos y treinta años,</strong> y murió. </i></p>
        <p><i> 6 Y vivió Seth ciento y cinco años, y engendró a Enós. 7 Y vivió Seth, </i></p>
        <p><i> después que engendró a Enós, ochocientos y siete años; y engendró </i></p>
        <p><i> hijos e hijas. 8 Y fueron todos los días de Seth <strong>novecientos y doce </strong></i></p>
        <p><strong> años</strong><i>; y murió. 9 Y vivió Enós noventa años, y engendró a Cainán. </i></p>
        <p><i> 10 Y vivió Enós después que engendró a Cainán, ochocientos y </i></p>
        <p><i> quince años; y engendró hijos e hijas. 11 Y fueron todos los días de </i></p>
        <p><i> Enós <strong>novecientos y cinco años</strong>; y murió. 12 Y vivió Cainán <strong>setenta </strong></i>
        </p>
        <p><strong> años</strong><i>, y engendró a Mahalaleel. 13 Y vivió Cainán, después que </i></p>
        <p><i> engendró a Mahalaleel, ochocientos y cuarenta años; y engendró </i></p>
        <p><i> hijos e hijas. 14 Y fueron todos los días de Cainán <strong>novecientos y </strong></i></p>
        <p><strong> diez años</strong><i>; y murió. 15 Y vivió Mahalaleel <strong>sesenta y cinco años</strong>, y </i>
        </p>
        <p><i> engendró a Jared. 16 Y vivió Mahalaleel, después que engendró a </i></p>
        <p><i> Jared, ochocientos y treinta años; y engendró hijos e hijas. </i></p>
        <p><i> 17 Y fueron todos los días de Mahalaleel <strong>ochocientos noventa y </strong></i></p>
        <p><strong> cinco años</strong><i>; y murió. 18 Y vivió Jared ciento sesenta y dos años, </i></p>
        <p><i> y engendró a Henoch. 19 Y vivió Jared, después que engendró a </i></p>
        <p><i> Henoch, ochocientos años; y engendró hijos e hijas. 20 Y fueron </i></p>
        <p><i> todos los días de Jared <strong>novecientos sesenta y dos</strong> años; y</i></p>
        <p><i> murió</i>." ( Gn 5: 1-20 )</p>
        <p></p>
        <p></p>
        <p> Supongamos que nuestros primeros padres tuvieron solamente 10 hijos por pareja, lo cual es suponer bastante
            poco. En
            ese caso Adam y Eva, la primera generación, tuvieron 10 hijos e hijas, los cuales formaron 5 nuevas parejas.
            En
            total había en el planeta en ese momento solamente 12 habitantes.</p>
        <p> Esas cinco parejas de la segunda generación engendraron 50 hijos (diez por pareja), los cuales a su vez
            formaron 25
            parejas. Ahora habría 12 + 50 = 62 habitantes, en el mundo; y así sucesivamente con las próximas
            generaciones.
            Veamos.</p>
        <p></p>
        <p></p>
        <p>Generación # Número de hijos Habitantes en el planeta</p>
        <p></p>
        <p></p>
        <p>1 Adam 10 12</p>
        <p>2 Seth 50 62</p>
        <p>3 Enós 250 312</p>
        <p>4 Cainán 1,250 1,562</p>
        <p>5 Mahalaleel 6,250 7,812</p>
        <p>6 Jared 31,250 39,062</p>
        <p>7 Henoch 156,250 195,312</p>
        <p></p>
        <p></p>
        <p> Henoch nació en el año 622 de la vida de Adam, el cual murió a los 930 años de edad. Hasta ese tiempo
            ninguno de los
            patriarcas había muerto aún, ni siquiera Adam que fue el primero. Por lo tanto, según el cálculo hecho
            anteriormente, para ese tiempo en el planeta debía haber <strong>no menos de</strong> 195,312 habitantes, es
            decir
            casi 200,000.</p>
        <p> Si en vez de suponer que cada pareja tuvo solamente diez hijos, suponemos que tuvo veinte, <strong>lo cual
            lo cual
            es poco para gente que vivía más de nueve siglos</strong>, la cantidad de habitantes en el planeta en época
            de Enoc
            sería de 22,222,222; es decir, más de veinte millones de personas. <strong>Sea que supongamos que haya
                habido
                doscientos mil, o que haya habido más de veinte millones de habitantes, cualquiera de ellos podía matar
                a
                Caín</strong>, porque para ellos Caín era solamente un viejo más al que jamás habían visto, o al menos a
            quien
            no conocían, porque hacía siglos que no lo veían. Por lo tanto, <strong>había una razón válida para poner
                una marca
                a Caín para que nadie lo matara</strong>.</p>
        <p> Si continuáramos con el mismo procedimiento, y supusiéramos 10 hijos por pareja, ya para la época del
            Diluvio
            hubiera habido más de 122,000,000 de habitantes, (ciento veinte y dos millones ). Si supusiéramos 20 hijos
            por
            pareja, que no es mucho, repito, la población mundial antes del Diluvio, la cual pereció en esa hecatombe
            pluvial,
            hubiera sido de más de 20,000,000,000, (veinte mil millones), o sea, de tres a cuatro veces más de lo que
            actualmente tenemos.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    