---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Por qué la ofrenda de Caín no era aceptable">
    <Content>
        <Paragraph><Bold>Por qué la ofrenda de Caín no era aceptable</Bold></Paragraph>
        <Paragraph><Bold> </Bold></Paragraph>
        <Paragraph><Bold>Hay quienes piensan que la ofrenda de Caín era inaceptable porque no era una ofrenda en la que se
            derramara
            sangre. Otros piensan que no era aceptable porque era una ofrenda de vegetales y no de animales.</Bold>
            Sin embargo,
            había muchos tipos de ofrendas en las leyes de Dios, en las que sin haber derramamiento de sangre, eran
            perfectamente
            aceptables. Por lo tanto, es lógico pensar que no fue por el hecho de que en la ofrenda de Caín no se
            derramara
            sangre, por lo que Dios la rechazó.</Paragraph>
        <Paragraph>Este razonamiento se puede aplicar también a la segunda hipótesis, que afirma que la ofrenda de Caín no era
            aceptable
            porque era una ofrenda de vegetales y no de animales. <Bold>Recordemos que una de las ofrendas del día de
                Pentecostés, y la de los primeros frutos era simplemente granos de trigo</Bold>. Por consiguiente, no
            había nada
            en contra de este tipo de ofrendas de índole vegetal.</Paragraph>
        <Paragraph><Bold>En la narración de Gn 4: 3-5 se obtiene la idea de que el problema de Caín fue falta de amor y
            respeto para
            Dios.</Bold> Cuando la ofrenda de Abel es descrita se nota la amorosa forma en que él trata de conseguir
            lo mejor
            para Dios. <Bold>Abel eligió lo mejor que él pudo encontrar</Bold>; él trajo los primogénitos y la
            grosura de sus
            rebaños. <Bold>Esto nos dice que él tenía un gran respeto para Dios</Bold>, y que lo amaba lo suficiente
            como para
            darle lo mejor, en lugar de mantener lo mejor para sí mismo.</Paragraph>
        <Paragraph><Bold>La actitud de Caín era todo lo opuesto. Él no buscó lo mejor para Dios,</Bold> él simplemente
            agarró lo
            primero que le vino a mano, cualquier cosa, como una persona que lo único que quiere es cumplir con una
            obligación. Él
            no buscó lo mejor de su cosecha; él pensó que cualquier cosa era suficiente merecimiento para Dios. <Bold>Su
                actitud
                no fue la de un hombre que tiene en gran estima, respeto y amor, a aquel a quien da la ofrenda.</Bold>
            Por eso es
            que su ofrenda no fue considerada valiosa.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y aconteció andando el tiempo, que <Bold>Caín trajo del fruto de la tierra una ofrenda</Bold> a
            Jehová.
            <Bold>Y Abel trajo también de los primogénitos de sus ovejas, y de su grosura</Bold>. Y miró Jehová con
            agrado a
            Abel y a su ofrenda; mas no miró propicio a Caín y a la ofrenda suya. Y ensañose Caín en gran manera, y
            decayó su
            semblante.</i>" ( Gn 4: 3-5 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Algo similar a esto se nos dice en Mlq 1: 8 con respecto a las ofrendas que los sacerdotes estaban
            sacrificando.
            Ellos no buscaban lo mejor para Dios, y por ello, Dios no aceptaba las ofrendas que ellos hacían en el
            Templo.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y cuando ofrecéis el animal ciego para sacrificar, ¿no es malo? Asimismo cuando ofrecéis el cojo o el
            enfermo,
            ¿no es malo? Preséntalo pues a tu príncipe: <Bold>¿acaso se agradará de ti, o le serás acepto?</Bold>
            dice Jehová
            de los ejércitos</i>."</Paragraph>
        <Paragraph> ( Mlq 1: 8 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>Lo que hicieron Caín y Abel, <Bold>no fue una ceremonia para arrepentimiento o perdón de pecados; por lo
            tanto, no
            era necesario que ofrecieran un sacrificio de ovejas</Bold>. Lo que hicieron Caín y Abel fue un acto de
            adoración,
            en el que cada uno eligió para ofrecer lo que él consideraba que Dios merecía. Por eso la ofrenda de Caín
            fue
            rechazada.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    