---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El cristiano y las armas">
    <Title>El Cristiano y las Armas</Title>

    <Tag>#35</Tag>
    <Content>
        
        <Paragraph> Hay quienes consideran que los cristianos no deben portar ni poseer armas. En este episodio del evangelio de
            Juan se
            evidencia que Pedro portaba arma con el consentimiento de Cristo, aunque la usó sin su consentimiento.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Jesús entonces dijo a Pedro: <Bold>Mete tu espada en la vaina</Bold>; el vaso que el Padre me ha
            dado, ¿no
            lo tengo de beber?</i>" ( Jn 18: 11 )</Paragraph>
        <Paragraph> Aquí vemos que Cristo le ordena a Pedro que metiera la espada en la vaina. Eso significa que <Bold>Pedro
            andaba
            con un arma visiblemente colgada en su cuerpo.</Bold> No se trataba de una pequeña daga oculta entre sus
            ropas, de
            forma que Cristo no hubiera podido verla; sino de una espada con vaina y todo. <Bold>Si a Cristo le
                hubiera
                parecido impropio o pecaminoso el portar armas, se lo hubiera prohibido a Pedro</Bold>. Esto nos
            demuestra que
            el Señor no se oponía a que portaran armas, ni él enseñaba tal cosa.</Paragraph>
        <Paragraph> En Lc 22: 35-36 vemos también que Cristo no se oponía a la tenencia de armas por parte de sus discípulos,
            porque
            incluso le recomienda a sus discípulos que compren espada.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y a ellos dijo: Cuando os envié sin bolsa, y sin alforja, y sin zapatos, ¿os faltó algo? Y ellos
            dijeron: Nada.
            Y les dijo: Pues ahora, el que tiene bolsa, tómela, y también la alforja, <Bold>y el que no tiene, venda
                su capa y
                compre espada</Bold>.</i>" ( Lc 22: 35-36 )</Paragraph>
        <Paragraph> Algo semejante ocurría con Juan el bautista, <Bold>el cual no decía a los romanos que dejaran de ser
            soldados</Bold>, sino que no extorsionaran y se contentaran con sus pagas. Juan no iba a predicar lo que
            no
            estuviera de acuerdo con la doctrina de Cristo, y lo que a éste le pareciera mal.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y le preguntaron también <Bold>los soldados,</Bold> diciendo: Y nosotros, ¿qué haremos? Y les dice:
            <Bold>No
                hagáis extorsión á nadie, ni calumniéis; y contentaos con vuestras pagas"</Bold></i> ( Lc 3:14 )</Paragraph>
        <Paragraph> Tanto Juan el bautista como Cristo, nunca dijeron a los centuriones que dejaran de serlo, mientras que a las
            prostitutas sí se les decía que dejaran de serlo. <Bold>Era evidente que tener armas no era pecado, pero
                fornicar
                sí lo era.</Bold> Si tener armas o ser militar hubiera estado entre las cosas que no se debían hacer,
            tanto
            Jesús como Juan lo hubieran manifestado así. Ellos no callaban ante nadie.</Paragraph>
        <Paragraph> Una ignorancia semejante a esta de no ser militar ni portar armas, sufrían muchos judíos de la época
            helénica.
            <Bold>Se dejaban matar por no pelear en sábado</Bold>. Por no leer toda la Biblia, sino sólo pedacitos
            salteados, habían llegado a la conclusión de que en sábado no se podía guerrear, porque eso era transgredir
            un
            mandamiento de Dios. <Bold>Si en vez de seguir lo que les decían sus tontos maestros hubieran leído el
                libro de
                Josué,</Bold> hubieran visto que cuando éste hombre de Dios sitió a Jericó, <Bold>marchó alrededor
                de la
                ciudad siete días, de los cuales, evidentemente, uno de ellos tuvo que ser sábado.</Bold> Por tanto se
            podía
            estar en trajines militares los sábados.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Empero Jericó estaba cerrada, bien cerrada, a causa de los hijos de Israel. Nadie entraba, ni salía. Mas
            Jehová
            dijo a Josué: Mira, yo he entregado en tu mano a Jericó y a su rey, con sus varones de guerra. Cercaréis
            pues la
            ciudad todos los hombres de guerra, <Bold>yendo alrededor de la ciudad una vez; y esto haréis seis
                días</Bold>.
            Y siete sacerdotes llevarán siete bocinas de cuernos de carneros delante del arca; <Bold>y al séptimo día
                daréis
                siete vueltas a la ciudad,</Bold> y los sacerdotes tocarán las bocinas</i>." ( Jos 6: 1- 4 )</Paragraph>
        <Paragraph> En la misma forma en que aquellos hermanos de la época helénica, estaban errados respecto a defenderse los
            sábados,
            así también <Bold>hay millones de cristianos hoy en día que también están errados respecto a portar y usar
                armas
                para defender a su esposa e hijos.</Bold> Siempre Satanás lleva a los cristianos a un extremo o a
            otro.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    