---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Job, los cristianos y las 'pruebas'.">
    <Title>Dios no prueba a las criaturas para saber Él, sino para que otras criaturas sepan.</Title>

    <Tag>#39</Tag>
    <Content>
        
        <Paragraph> Hay quienes creen que las pruebas que nos vienen a nosotros son para Dios saber cómo reaccionaríamos
            nosotros ante
            ciertas circunstancias. No hay tal cosa. Cuando Dios permite pruebas es <Bold>para informar a otras
                criaturas de
                cómo reaccionaríamos.</Bold> El mejor caso para estudiar este asunto es el de Job. <Bold>Este hombre
                no fue
                probado para informar a Dios cómo iba él a reaccionar; eso lo sabía Dios de antemano</Bold>. Job fue
            probado
            para demostrar a Satanás cómo criaturas de más baja categoría que la de un ángel, eran obedientes y
            agradecidos con
            Dios aunque las circunstancias les fueran adversas. Dios permitió la prueba que padeció Job, para demostrar
            su
            lealtad a Dios a pesar de lo que padecía.</Paragraph>
        <Paragraph> Satanás es una criatura que a pesar de haber tenido grandeza y privilegios, se rebeló contra Dios, porque
            quería
            todavía más. Por eso, Dios, que conocía perfectamente cómo iba Job a reaccionar, permitió que Satanás lo
            despojara
            de todo. Digo que Dios sabía cómo iba a reaccionar Job, porque en Job 1: 8 cuando Dios habla con Satanás
            sobre Job,
            dice que era su siervo, y que era un hombre <Bold>perfecto, recto, temeroso de Dios y apartado del
                mal.</Bold>
            Si Dios pensaba así de Job, se evidencia que Él no estaba tratando de ver cómo era Job, sino que <Bold>estaba
                usando a Job para darle una lección de fidelidad a Satanás.</Bold> Dios usó a Job para demostrar cómo
            una
            criatura de menor nivel que Satanás, era capaz de seguir siendo fiel aunque le quitaran todo lo que tenía, y
            aunque
            sufriera de una amarga dolencia.</Paragraph>
        <Paragraph><Bold>Fue un gran honor para Job haber podido servir a Dios para darle una lección de fidelidad a
            Satanás</Bold>.
            La prueba fue la más dura conocida, pero el honor de haber servido a Dios en este asunto, es la más grande
            recompensa que un hombre podría obtener.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "6 <i>Y un día vinieron los hijos de Dios a presentarse delante de Jehová, entre los cuales vino también
            Satán.</i>
            7 <i>Y dijo Jehová a Satán: ¿De dónde vienes? Y respondiendo Satán a Jehová, dijo: De rodear la tierra, y de
                andar
                por ella.</i> 8 <Bold>Y Jehová dijo a Satán: ¿No has considerado a mi siervo Job, que no hay otro como
                él en
                la tierra, varón perfecto y recto, temeroso de Dios, y apartado de mal?</Bold> 9 <i>Y respondiendo
                Satán a
                Jehová, dijo: ¿Teme Job a Dios de balde?</i> 10 <i>¿No le has tú cercado a él, y a su casa, y a todo lo
                que
                tiene en derredor? Al trabajo de sus manos has dado bendición; por tanto su hacienda ha crecido sobre la
                tierra.</i> 11 <i>Mas extiende ahora tu mano, y toca a todo lo que tiene, y verás si no te blasfema en
                tu
                rostro.</i> 12 <i>Y dijo Jehová a Satán: He aquí, todo lo que tiene está en tu mano; solamente no pongas
                tu mano
                sobre él. Y salió Satán de delante de Jehová</i>." ( Job 1: 6-12 )</Paragraph>
        <Paragraph><Bold>Dios nunca necesita probar a una persona con objeto de saber cómo es.</Bold> Él sabe como es y cómo
            va a
            reaccionar cada persona. Cuando Dios permite una prueba sobre un ser humano es para probar a otros cómo se
            comporta
            esa persona ante esa prueba.</Paragraph>
        <Paragraph><Bold>Algunos hermanos, erradamente, le llaman "pruebas" a las lógicas consecuencias de sus pecados y sus
            errores</Bold>. Dios no está enviando "pruebas" a esa gente, ellos son demasiado débiles para eso, y si se
            les
            prueba, pueden quebrarse. Ellos está sufriendo las consecuencias de sus acciones. Dios solamente permite ese
            tipo de
            pruebas en personas de la calidad de Job, porque Él sabe que los que no tienen esa calidad lo van a hacer
            quedar mal
            si los prueba.</Paragraph>
        <Paragraph><Bold>Recuerden, no confundan las consecuencias de sus errores y pecados, con pruebas como la de Job, a
            menos que
            Dios pueda decir de ustedes que son perfectos, rectos, temerosos de Dios y apartados del mal.</Bold> Si no
            son de
            esa calidad, no se auto adulen creyendo que vuestras amarguras son pruebas.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    