---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Timoteo no eran tan joven como muchos creen">
    <Title>Timoteo no era tan joven como muchos creen</Title>

    <Tag>#40</Tag>
    <Content>
        
        <Paragraph> Muchos hermanos creen que Timoteo, que era uno de los discípulos de San Pablo, era un
            <Bold>hombre</Bold> muy
            joven cuando Pablo lo hizo pastor, por primera vez, en Éfeso. Es verdad que él era un
            <Bold>hombre</Bold> joven
            cuando Pablo lo conoció, pero ya no era tan joven cuando Pablo lo hizo pastor en Éfeso. Cuando Pablo conoció
            a
            Timoteo, el <Bold>era un hombre</Bold> que ya estaba en sus veinte; <Bold>bajo ningún concepto podemos
                pensar
                que el era un adolescente de 15 ó 17 años.</Bold></Paragraph>
        <Paragraph><Bold>¿Por qué afirmo tal cosa?</Bold> Hay varias razones para asegurar que cuando Pablo conoció a
            Timoteo en Hch
            16: 1-3, ya éste era un hombre hecho y derecho. Veamos: <Bold>a)</Bold> No es lógico pensar que San
            Pablo iba a
            arrastrar a la azarosa y peligrosa vida de misionero que él llevaba, a un adolescente. <Bold>b)</Bold>
            Cuando
            Pablo conoció a Timoteo ya éste era cristiano, ya era un discípulo, (versículo 1 ), lo cual nos sugiere que
            él no
            era un niño ni un adolescente. En aquellos tiempos, y hasta hace muy poco, un adolescente se convertía en
            hombre a
            los veinte años. <Bold>c) Timoteo era una persona bien conocida en al menos dos ciudades diferentes:
                Listra e
                Iconio</Bold> ( versículo 2 ). Esto nos hace ver que tenía edad suficiente para haber viajado a menudo
            entre
            dos ciudades distantes, y darse a conocer en ambas, relacionándose con los cristianos del lugar; cosa que no
            es
            lógico imaginar en un niño o un adolescente. <Bold>d)</Bold> Los hermanos de ambas ciudades daban buen
            testimonio de Timoteo, <Bold>señal de que lo conocían bien desde hacía ya tiempo</Bold>, sabían de su
            manera de
            comportarse, sus actitudes, etc., cosa que no es lógico pensar que se dijera de un adolescente o un niño.
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Después llegó a Derbe, y a Listra; y he aquí, <Bold>estaba allí un discípulo llamado Timoteo,</Bold>
            hijo de
            una mujer judía fiel, mas de padre griego. 2 <Bold>De éste daban buen testimonio los hermanos que estaban
                en
                Listra y en Iconio.</Bold> 3 Este quiso Pablo que fuese con él; y tomándole, le circuncidó por causa
            de los
            judíos que estaban en aquellos lugares; porque todos sabían que su padre era griego</i>." ( Hch 16: 1-3 )
        </Paragraph>
        <Paragraph><Bold>De acuerdo a varias cronologías,</Bold> Pablo y Timoteo se conocieron alrededor del año 50 AD. Por
            otra
            parte, la Primera Epístola de Pablo a Timoteo, fue escrita alrededor del año 64 AD. <Bold>Eso nos dice que
                cuando
                esa epístola fue escrita, Timoteo era 14 años mayor que cuando Pablo lo encontró por primera
                vez.</Bold> Si
            Timoteo tenía como mínimum 22 ó 24 años cuando Pablo lo conoció, ahora, cuando Pablo le envía su primera
            epístola a
            Éfeso, Timoteo tendría no menos de 36 ó 38 años. Después de haberse convertido y aprendido la fe de su madre
            y
            abuela durante varios años, después de haber sido enseñado por el mismo Pablo durante unos 14 años más,
            sabiendo
            Pablo además que Timoteo tenía una profecía sobre sí, sabiendo que su discípulo tenía un don de Dios, como
            leemos en
            I Tim 4: 12-14, teniendo en cuenta todos estos factores, Pablo decide dejarlo de pastor en Éfeso, a pesar de
            que lo
            consideraba aún joven para ser pastor. <Bold>San Pablo consideraba que a la edad de 38 años, un hombre era
                aún muy
                joven para ocupar la posición de pastor de una iglesia</Bold> ( 12 ), pero considerando el especial
            don de
            Dios que Timoteo tenía, la profecía que había sobre él, y el adiestramiento y enseñanza que había recibido
            del
            propio apóstol, <Bold>Pablo decidió hacer una excepción y nombrar pastor a Timoteo en Éfeso.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "12 <Bold>Ninguno tenga en poco tu juventud</Bold><i>; pero sé ejemplo de los fieles en palabra, en
            conversación, en caridad, en espíritu, en fe, en limpieza.</i> 13 <i>Entre tanto que voy, ocúpate en leer,
            en
            exhortar, en enseñar.</i> 14 <i>No descuides <Bold>el don que está en ti, que te es dado por profecía con
            la
            imposición de las manos del presbiterio</Bold></i>." ( I Tim 4: 12-14 )</Paragraph>
        <Paragraph> Dado que Timoteo tenía un tan gran conjunto de factores especiales en su vida, Pablo lo nombró pastor, como
            una
            excepción de la regla, pero sus ideas básicas sobre quien debía ser nombrado pastor eran muy diferentes.
            Pablo
            siempre mandaba que los pastores debían ser hermanos de edad madura, con experiencia como cristianos, no
            jóvenes.
            <Bold>Debían ser hombres que tuvieran suficiente edad para haber tenido y educado hijos, hombres que
                pudieran
                mostrar que los habían criado bien, que tuviera buen testimonio, que obedecieran a su
                autoridad,</Bold> etc..
            Estas eran las reglas que Pablo le ponía a Timoteo y a Tito, para que ellos supieran a quienes debían
            escoger como
            pastores. Veamos lo que dice San Pablo en I Tim 3: 1-6 y Tito 1: 5-8.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Palabra fiel: Si alguno apetece obispado, buena obra desea. 2 Conviene, pues, <Bold>que el obispo
            sea</Bold>
            irreprensible, marido de una mujer, solícito, templado, compuesto, hospedador, apto para enseñar; 3 no
            amador del
            vino, no heridor, no codicioso de torpes ganancias, sino moderado, no litigioso, ajeno de avaricia; 4
            <Bold>que
                gobierne bien su casa, que tenga sus hijos en sujeción con toda honestidad;</Bold> 5 Porque el que no
            sabe
            gobernar su casa, ¿cómo cuidará de la iglesia de Dios? 6 No un neófito, porque inflándose no caiga en juicio
            del
            Diablo</i>." ( I Tim 3: 1-6 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "5 <i>Por esta causa te dejé en Creta, para que corrigieses lo que falta, y <Bold>pusieses ancianos por
            las
            villas</Bold>, así como yo te mandé.</i> 6 <i>El que fuere sin crimen, marido de una mujer, <Bold>que
            tenga
            hijos fieles que no estén acusados de disolución, o contumaces</Bold>.</i> 7 <i>Porque es menester que el
            obispo
            sea sin crimen, como dispensador de Dios; no soberbio, no iracundo, no amador del vino, no heridor, no
            codicioso de
            torpes ganancias;</i> 8 <i>sino hospedador, amador de lo bueno, templado, justo, santo, continente</i>" (
            Tit 1: 5-8
            )</Paragraph>
        <Paragraph><Bold>En ambos pasajes vemos que lo que Pablo tenía en mente para que un hermano llegara a ser pastor, era
            un
            hombre de 45 ó 50 años.</Bold> Sabemos tal cosa, porque el aspirante a pastor tenía que ser lo
            suficientemente
            mayor como para demostrar que había criado hijos decentes y fieles a la fe, que además eran obedientes a su
            padre.
            <Bold>Un cristiano que estuviera en sus treinta no podría mostrar tales credenciales.</Bold> Por lo
            tanto, el
            nombramiento de Timoteo por parte de Pablo, siendo un hombre de por lo menos 36 ó 38 años, era una
            excepción, no la
            regla. No obstante, si hoy en día un cristiano que se halle en sus treinta, tiene profecías y dones de parte
            de
            Dios, y un adiestramiento semejante a tener a Pablo por maestro, <Bold>pudiera hacerse con él otra
                excepción.</Bold></Paragraph>
        <Paragraph> El mismo hecho de que San Pablo se sintiera compelido a defender el nombramiento pastoral de Timoteo, a
            pesar de
            tener no menos de 36 ó 38 años, <Bold>nos dice bien a las claras que ese no era el procedimiento común,
                sino una
                excepción.</Bold></Paragraph>
        <Paragraph> Nuestras congregaciones debían meditar profundamente sobre este asunto. En la misma forma en que de acuerdo
            con I
            Tim 3: 1-6 y Tit 1: 5-8, aceptamos que un pastor debe ser esposo de una sola mujer, no dado al mucho vino,
            no
            codicioso, etc., igualmente ese pastor, basados en esos mismos pasajes, <Bold>debe ser un hombre que ya
                haya
                criado hijos que sean obedientes a la fe y a su padre, lo cual requiere, como es natural, un hombre
                maduro y no
                un jovencito</Bold>, que es lo que las iglesias prefieren hacer hoy en día.</Paragraph>
        <Paragraph><a href="NotasBiblicas.html">Volver al indice</a></Paragraph>

    </Content>
</Layout>
    