---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las mujeres en la iglesia">
    <Content>
        <Paragraph><Bold>Por qué San Pablo prohíbe a las mujeres participar en algunas actividades de la Iglesia.</Bold></Paragraph>
        <Paragraph> Es fácil probar que Pablo prohibía que las mujeres tuvieran posiciones de autoridad o enseñanza en la
            Iglesia,
            porque eso él lo dice explícitamente; pero explicar la razón por la cual él ponía ese mandamiento ya no es
            tan fácil
            de saber, por cuanto no lo dice manifiestamente. No obstante, más adelante veremos que las mujeres de mayor
            edad sí
            podían ejercer ciertas funciones en la iglesia.</Paragraph>
        <Paragraph> Como antes dije, podemos teorizar, o razonar, o imaginarnos cuales eran las razones que San Pablo tenía para
            poner
            tal mandamiento, pero nada hay claramente dicho sobre el asunto. Comencemos pues, por leer esos pasajes en
            los que
            San Pablo prohíbe la participación femenina en determinadas actividades de la Iglesia de Cristo.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<Bold>Vuestras mujeres callen en las congregaciones; porque no les es permitido hablar</Bold><i>, sino
            que
            estén sujetas, como también la ley dice. Y si quieren aprender alguna cosa, pregunten en casa a sus maridos;
            porque
            deshonesta cosa es hablar una mujer en la congregación</i>." ( I Co 14: 34-35 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>La mujer aprenda en silencio,</i></Bold> <i>con toda sujeción. <Bold>Porque no permito a la
            mujer
            enseñar, ni tomar autoridad sobre el hombre</Bold>, sino estar en silencio"</i> ( I Tim 2:11-12 )</Paragraph>
        <Paragraph><Bold>De acuerdo a las palabras de San Pablo, la mujer no debe ejercer posiciones de autoridad o enseñanza
            en la
            Iglesia.</Bold> La razón para ello puede ser doble: <Bold>a)</Bold> evitar la subversión de la
            autoridad en el
            matrimonio, y <Bold>b)</Bold> evitar los problemas causados por belleza o atracción sexual de las
            mujeres
            jóvenes.</Paragraph>
        <Paragraph><Bold>Si una mujer casada fuera la pastora de la iglesia,</Bold> o si tuviera alguna posición de
            autoridad en la
            misma, tendría también, en forma indirecta, autoridad sobre su esposo. Este parece ser el mensaje que trata
            de
            llevar I Tim 2: 12.</Paragraph>
        <Paragraph><Bold>Una segunda razón pudiera ser que las mujeres jóvenes son atractivas, y muchos de los hombres
            fijarían más su
            atención en las características físicas de ella que en sus enseñanzas.</Bold> Esto provocaría celos entre
            las
            demás mujeres, que verían que sus esposos se fijaban demasiado en sus hermosas pastoras. En resumen, el
            tener
            mujeres en esas posiciones sería, al menos, un factor de distracción, cuando no un factor de divisiones y
            resentimientos dentro de la Iglesia de Cristo.</Paragraph>
        <Paragraph><Bold>Si leemos Ro 16: 1, veremos que la hermana Febe era diaconisa de la iglesia de Cencreas</Bold>, lo
            cual
            prueba que a las mujeres no se les prohibía ciertas posiciones en la iglesia meramente por el hecho de ser
            mujeres.
            ¿Por qué pues, Febe tenía esa posición en la iglesia de Cencreas? <Bold>Probablemente ella era ya una
                mujer
                mayor.</Bold></Paragraph>
        <Paragraph> En I Tim 5: 9 que San Pablo recomendaba a la iglesia no admitir, dentro del círculo íntimo de la iglesia, a
            viudas
            menores de 60 años. La razón para esto, según nos dice el apóstol de los gentiles, es que las viudas más
            jóvenes,
            después de hacerse licenciosas contra Cristo, quieren casarse, como dice en el versículo 11. Su
            recomendación para
            esas viudas jóvenes, era que se volvieran a casar, que tuvieran hijos y que formaran una familia, como dice
            el
            versículo 14.</Paragraph>
        <Paragraph><Bold>Lo que Pablo dice en estos pasajes nos da una idea de lo que él tenía en mente respecto a la
            actuación de las
            mujeres en la Iglesia</Bold>. Parece que el no deseaba ninguna mujer joven o atractiva en ninguna posición
            de la
            iglesia. Después de los 60, ya una mujer es vista más como una madre o como una hermana, que como una hembra
            atractiva, por lo tanto, ya podían tener cualquier posición en la iglesia, si es que eran viudas. De no ser
            viudas,
            una mujer debía atender a su esposo, sus hijos y su casa. Una mujer mayor de 60 años, que no tenga
            obligaciones de
            familia, <Bold>ni sea de las que todavía quieren lucir "atractivas"</Bold>, es una persona adecuada para
            el
            servicio en la Iglesia de Dios.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <Bold>La viuda sea puesta en clase especial, no menos que de sesenta años,</Bold> <i>que
            haya
            sido esposa de un solo marido.</i> 10 <i>Que tenga testimonio en buenas obras; si crió hijos; si ha
            ejercitado la
            hospitalidad; si ha lavado los pies de los santos; si ha socorrido a los afligidos; si ha seguido toda buena
            obra.
            11 <Bold>Pero viudas más jóvenes no admitas: porque después de hacerse licenciosas contra Cristo, quieren
                casarse.</Bold> 12 Condenadas ya, por haber falseado la primera fe. 13 Y aun también se acostumbran a
            ser
            ociosas, a andar de casa en casa; y no solamente ociosas, sino también parleras y curiosas, hablando lo que
            no
            conviene. 14 <Bold>Quiero pues, que las que son jóvenes se casen, críen hijos, gobiernen la casa;</Bold>
            que
            ninguna ocasión den al adversario para maldecir</i>." ( I Tim 5: 9-14 )</Paragraph>
        <Paragraph><Bold>Como vemos en este pasaje, Pablo, evidentemente, temía los problemas causados por la atracción sexual
            de las
            mujeres jóvenes, y los escándalos que estas cosas acarrean dentro de la iglesia.</Bold> Por eso es que él
            les
            advertía a las iglesias sobre este peligro. Otro consejo que daba Pablo es que las viudas jóvenes se vuelvan
            a
            casar, probablemente para evitar problemas sexuales y escándalos dentro de la iglesia, cuando ellas
            sintieran el
            duro atractivo de la carne.</Paragraph>
        <Paragraph><Bold>Es razonable, que si Pablo no quería mujeres de menos de 60 años en el círculo interior de la
            Iglesia, menos
            aún las querría o las permitiría en posiciones de autoridad o enseñanza, siendo de menos de sesenta
            años.</Bold>
        </Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    