---
import Layout from "../layout/Layout.astro";
---

<Layout title="Método para examinarnos a nosotros mismos">
    <section>
        <p><strong>Buen método para examinarnos a nosotros mismos</strong></p>
        <p> En Malaquías 1: 8 Dios le da a los hebreos un método para examinarse a sí mismos sobre lo que hacían. Sin
            embargo,
            este método es bueno para todo el mundo. Con él podemos examinar si nuestras acciones, actividades y
            sentimientos
            son o no agradables a Dios.</p>
        <p></p>
        <p> "<i>Y cuando ofrecéis el animal ciego para sacrificar, ¿no es malo? asimismo cuando ofrecéis el cojo o el
            enfermo,
            ¿no es malo? <strong>Preséntalo pues a tu príncipe, ¿acaso se agradará de ti, o le serás acepto?</strong>,
            dice
            Jehová de los ejércitos</i>." ( Mlq 1:8 )</p>
        <p> En aquella época, muchos de los que traían un cordero o un chivo para ser sacrificado en el Templo de Dios,
            <strong>en
                vez de traer lo mejor que tuvieran, como una demostración de amor a Dios,</strong> lo que hacían era
            traer el animal
            cojo, ciego o enfermo. Los que actuaban así, en realidad no amaban a Dios. Ofrecían sacrificios, tal vez por
            presión
            social, por superstición, por tradición, o por quién sabe qué razón, diferente del amor a Dios.</p>
        <p><strong>El profeta Malaquías los puso en evidencia cuando les dijo: "Preséntalo pues a tu príncipe, ¿acaso se
            agradará de ti, o le serás acepto?"</strong> Claro, que ninguno de ellos se hubiera atrevido a visitar a su
            príncipe, gobernador o jefe trayéndole tales animales como regalo. Sin embargo, abusando de la paciencia y
            bondad de
            Dios ellos le hacían a Él en el Templo, lo que no se atrevían a hacerle a los personajes mencionados.
            Aprovechándose
            de que Dios no mata ni castiga al pecador inmediatamente que comete el pecado, ellos infligían a Dios esa
            tremenda
            afrenta y escapaban sin problemas.</p>
        <p><strong>Algo similar se puede decir hoy en día de muchos religiosos y cristianos.</strong> Ellos se comportan
            con
            Dios como jamás se atreverían a comportarse con sus jefes o con los personajes importantes que ellos
            necesitan para
            subir en su posición o adelantar sus negocios.</p>
        <p> Claro, que ahora no le traen a Dios el cordero cojo, ciego o enfermo, porque ya no existen los sacrificios,
            pero
            ellos solo le dan a Dios las sobras de su tiempo, si es que le llegan a dar algo. Ellos prestan exquisita
            atención a
            las instrucciones que cada día le dan sus jefes. Prestan indivisa atención a cuanto quieran hablar los
            jefes, pero
            pocas veces si alguna, leen las instrucciones que Dios les ha dado en la Biblia. <strong>Si algo le dan a
                Dios, son
                las sobras de su tiempo</strong>. Después de usar montones de horas en divertirse, ver televisión, ganar
            dinero
            con qué pagar sus diversiones, etc., entonces, cuando ya están exhaustos, le dan algún tiempo a Dios.</p>
        <p><strong>Millones de cristianos jamás han leído la Biblia desde el Génesis hasta el Apocalipsis, sin
            saltos.</strong>
            No lo han hecho ni una sola vez, cuando muchos de ellos ya debían haberlo hecho veinte veces. Sin embargo,
            nunca
            dejan de leer sus cartas de negocios, las noticias de economía, ni las cartas de sus amigos importantes.
            Tienen
            tiempo para ir al cine, para ir a las fiestas, para mirar el juego de hoy en la televisión, o el episodio de
            hoy del
            culebrón o novela televisiva. Entonces, cuando están ya exhaustos, le dan a Dios las sobras de su tiempo, si
            es que
            le dan alguno. <strong>"¿Acaso se agradará de ti, o le serás acepto?, dice Jehová de los
                ejércitos."</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    