---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Las mujeres podían divorciarse de sus esposos">
    <Content>
        <Paragraph><Bold>Las mujeres se podían divorciar de sus esposos.</Bold></Paragraph>
        <Paragraph><Bold>Hay personas que confunden las costumbres musulmanas y de la India, con las leyes de Dios y con la
            civilización bíblica.</Bold> Por eso es que ellos piensan, dicen y hasta predican, que en los tiempos de
            Cristo
            las mujeres estaban solamente un escalón arriba de los esclavos. No es cierto. El hecho de que el Oriente
            Medio está
            casi todo habitado hoy día por musulmanes, no significa que ellos tienen cultura y costumbres bíblicas; y
            mucho
            menos significa que ellos cumplen con los mandamientos de Dios.</Paragraph>
        <Paragraph><Bold>Estas personas que confunden las costumbres musulmanas con las costumbres bíblicas</Bold>, también
            dicen
            que en la época de Cristo, un hombre podía divorciarse de su esposa, pero una mujer no podía divorciarse de
            su
            esposo. Eso es falso. <Bold>Errores como este son el fruto de leer libros que "tratan" sobre la Biblia, y
                no la
                Biblia misma;</Bold> o también provienen de leer solamente algunos versículos, pasajes o libros de la
            Biblia,
            y no toda ella. En esta misma página Web, en el artículo # 14, se clarifica otro error que los cristianos
            tienen
            referente a las costumbres bíblicas, y la posición de las mujeres en aquella sociedad, en el pueblo de Dios.
            <Bold>Veamos ahora que tiene la Biblia que decir respecto a si una mujer podía divorciarse del marido, o
                no.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y les dice: Cualquiera que repudiare a su mujer, y se casare con otra, comete adulterio contra ella;
            <Bold>y
                si la mujer repudiare a su marido</Bold> y se casare con otro, comete adulterio</i>." ( Mr 10: 11-12 )
        </Paragraph>
        <Paragraph><Bold>En este pasaje vemos que de acuerdo a la palabra de Jesucristo, una mujer tenía el derecho de
            divorciarse de
            su esposo.</Bold> No obstante, aquellos que en vez de leer la Biblia leen montones de libros escritos por
            "eruditos" de la Biblia, niegan que las mujeres tuvieran ese derecho en el pueblo de Dios.</Paragraph>
        <Paragraph> Los que escribieron en la Biblia, hablaban en forma general, sin especificar sexo innecesariamente. En
            aquellos
            tiempos se decían cosas como esta: " Si un hombre roba...", lo cual implicaba también "Si una mujer
            roba...". No era
            necesario mencionar los dos sexos, como se tiende a hacer hoy en día, por miedo de ser acusado de sexista o
            de
            machismo. Por eso es que en el Antiguo Testamento había reglas para el divorcio, en el cual se menciona
            solamente al
            hombre, pero era sobreentendido que también comprendía a la mujer. <Bold>Por lo tanto, igual que un hombre
                podía
                divorciarse de su mujer, también una mujer podía divorciarse de su marido</Bold>. La prueba la tienen
            en lo
            que Nuestro Señor dijo en Marcos 10: 11-12. Refiriéndose a lo que la ley de Dios estatuía, él mencionaba que
            la
            mujer podía divorciarse de su marido. Por lo tanto, <Bold>es evidente que las mujeres sí podían
                divorciarse de sus
                maridos</Bold>.</Paragraph>
        <Paragraph> Lo mismo aprendemos ( si leemos la Biblia y no los libros escritos sobre ella ), en I Co 7: 13, donde
            <Bold>San
                Pablo aconseja a las cristianas que ya estaban casadas con maridos inconversos cuando ellas se
                convirtieron, que no
                se divorciaran de ellos</Bold>, sino que mantuvieran unido su matrimonio. Estos hombres que no estaban
            en la fe
            eran llamados "infieles", lo cual significaba que no eran convertidos. He ahí otra evidencia de que las
            mujeres sí
            se podían divorciar de sus maridos. Leamos.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y <Bold>la mujer</Bold> que tiene marido infiel, y él consiente en habitar con ella, <Bold>no lo
            deje</Bold></i>." ( I Co 7: 13 )</Paragraph>
        <Paragraph> De acuerdo con estos dos testimonios ( Cristo y Pablo ), es evidente que las mujeres de la antigüedad tenían
            el
            derecho de divorciarse de sus maridos. Consecuentemente, <Bold>todos estos que pintan un paisaje espantoso
                para
                las mujeres que vivían en tiempos bíblicos, están desorientados debido a que confunden la cultura
                musulmana con
                las leyes y cultura bíblica de aquellos tiempos.</Bold> Ellos confunden la autoridad del hombre en el
            matrimonio, cosa aprobada por Dios, con la total ausencia de derechos de la mujer. También confunden algunas
            culturas que desprecian a la mujer y le quitan todos sus derechos, con la cultura que se deriva de cumplir
            las Leyes
            de Dios, que otorgan a la mujer todos los derechos inherentes a un ser humano.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    