---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Por qué el infierno existe y tiene que existir">
    <Tag>#48</Tag>
    <Content>
        <Paragraph><Bold>Por qué el infierno existe y tiene que existir</Bold></Paragraph>
        <Paragraph> Cierto día un hombre que era creyente recibió la visita de un amigo que impugnaba la existencia del
            infierno.
            Después de largo rato de explicaciones teológicas que el amigo <Bold>no quería comprender ni
                admitir</Bold>, el
            creyente le dijo al amigo: te voy a hacer un cuento, luego de lo cual tú vas a justificar la existencia de
            un
            infierno.</Paragraph>
        <Paragraph><Bold>En cierta ocasión un jeque árabe</Bold>, extraordinariamente rico, concibió la idea dar un viaje
            alrededor
            del mundo con todos sus hijos, sus hijas, sus parientes y sus sirvientes. Se compró un buen barco de vela,
            como era
            el uso de aquella época, puso todos sus caudales en el barco, contrató marineros bien adiestrados, llevó al
            barco a
            sus mujeres, a sus sobrinos, a todos sus parientes y a todos sus sirvientes, y zarpó tan pronto pudo.</Paragraph>
        <Paragraph> Visitaron muchos lugares, y donde quiera que llegaba se portaba generosamente, gastando en los suyos y en
            los
            marineros, todo lo que estos desearan. Pronto los marineros se dieron cuenta de que el jeque llevaba grandes
            caudales en el barco, y conspiraron para quedarse con ellos. Unos pensaron en robarse las armas que el jeque
            y sus
            sirvientes tenían en un camarote, y matarlos a todos, pero otros, que agradecían el buen trato que el jeque
            les
            había prodigado, convencieron a todos que solamente debían abandonarlos en una isla desierta. Los marineros,
            se
            apoderaron de las armas, pusieron al jeque y a sus acompañantes en varios botes que el barco tenía, y los
            dejaron
            cerca de <Bold>dos islitas paradisíacas</Bold> en medio del océano pacífico.</Paragraph>
        <Paragraph> Los más agradecidos de aquellos ladrones, le pusieron suficientes alimentos para un mes, todas las
            herramientas que
            había en el barco, y <Bold>al jeque, unas pocas armas en su bote</Bold>, diciéndole que si se atrevía a
            usarla
            contra ellos, les harían fuego desde el barco y acabarían con todos. Viéndose despojado de sus riquezas,
            pero con la
            vida de él y de los suyos incólumes, optó por dirigirse todos remando hacia la isla más grande. Una vez allí
            <Bold>dio las armas a sus sirvientes más fieles, y él se quedó con dos de aquellas antiguas
                pistolas</Bold>.</Paragraph>
        <Paragraph> Al principio todo iba bien, todos se pusieron a trabajar para sobrevivir. Lo primero fue encontrar una
            fuente de
            agua; inmediatamente buscar alimentos silvestres; luego utilizar los avíos de pesca y poner trampas para
            aves y
            animales terrestres, a fin de proveerse de carne. Más tarde se valieron de las herramientas para hacer
            chozas y para
            preparar la tierra para sembrar. A las pocas semanas ya habían asegurado su supervivencia, y el jeque
            comenzó a
            repartir trabajos para ir mejorando cada vez más la calidad de vida de todos.</Paragraph>
        <Paragraph><Bold>Pero ya no todos eran lo mismo que antes.</Bold> Había quienes <Bold>no cumplían con su
            trabajo</Bold>,
            otros comenzaron a <Bold>robarle a sus parientes</Bold> lo que ellos habían conseguido con su esfuerzo;
            otros
            <Bold>se pusieron a hablar contra el jeque y a pretender suplantarlo</Bold>, lo cual hubieran logrado,
            si no
            fuera que él se quedó con las armas principales, y tenía seis u ocho de sus más fieles sirvientes armados.
            <Bold>Incluso
                algunos de sus muchos hijos comenzaron a hablar mal de su padre</Bold>, no trabajaban, algunos incluso
            violaron a algunas de sus parientas, mataron a uno de sus medio hermanos, etc.</Paragraph>
        <Paragraph> Viendo lo que sucedía e<Bold>l jeque les habló al corazón</Bold>, explicándoles cómo para poder vivir
            felices
            había que tener ciertas normas de conducta. Comenzó por poner leyes para evitar desafueros, pero casi nadie
            las
            cumplía, debido a que, como que los que eran peor vivían del esfuerzo de los demás a base de amenazas y
            violencias,
            pues todos se desanimaban de trabajar y de cumplir sus obligaciones.</Paragraph>
        <Paragraph><Bold>El jeque observó quiénes eran los peores,</Bold> y una noche, con la ayuda de sus fieles sirvientes
            y de un
            par de hijos que no se habían echado a perder, todos armados, <Bold>agarraron a los seis u ocho que más
                perversos
                eran, los amarraron, y a la mañana siguiente los envió en bote, custodiados, hacia la otra isla más
                pequeña,</Bold> la cual estaba separada varias millas por un mar infectado de tiburones. Al llegar
            allí los
            soltaron en aquella isla paradisíaca, y los dejaron con algunas herramientas y algún alimento.</Paragraph>
        <Paragraph><Bold>Entonces el jeque los reunió a todos y les dijo que los que siguieran la forma de ser y proceder de
            los ya
            condenados, padecerían la misma suerte</Bold>. Al principio, el temor aguantó a todos, pero al pasar el
            tiempo,
            muchos volvieron a sus malas inclinaciones. Unos herían a sus parientes o los mataban, otros les robaban,
            otros
            incluso violaban a sus parientas.</Paragraph>
        <Paragraph><Bold>Volvió el jeque desterrar a varios de los peores hacia la otra islita paradisíaca</Bold>. Así
            ocurrió
            varias veces hasta que al fin después de haber desterrado a algunos de sus hijos e hijas, a varios parientes
            y a
            muchos de los sirvientes, sacó de la isla a todo los que no procedían como es debido. <Bold>Era doloroso
                para el
                jeque desterrar a sus hijos y parientes, pero era muchísimo más doloroso para él y para todos, ver cómo
                aquéllos
                atropellaban, y hasta mataban a sus otros hijos y parientes,</Bold> sin que valiera nada de lo que él
            hacía
            para hacerlos cambiar de proceder.</Paragraph>
        <Paragraph> Cada vez que enviaba a algún nuevo grupo, al regresar, los fieles del jeque les contaban <Bold>cómo en la
            otra
            isla la situación era espantosa, vivían en un verdadero infierno</Bold>. Nadie quería trabajar, unos a
            otros se
            atacaban sin piedad, pasaban hambre y necesidad, pero nadie trabajaba, porque los demás le robaban lo que
            hubiera
            logrado.</Paragraph>
        <Paragraph> Pasado el tiempo, la isla grande prosperó, y se vivía con seguridad, abundancia y felicidad. <Bold>En la
            otra isla
            se vivía como en un infierno.</Bold> Un tiempo después uno de los hijos buenos le dijo al padre: "<Bold>Padre,
            te das cuenta de que has mandado a nuestros hermanos y parientes a vivir en un infierno.</Bold>" A lo que
            el padre
            respondió cariñosamente: "No hijo mío, yo <Bold>lo único que hice fue separar los malos de los
                buenos.</Bold>
            <Bold>Yo los envié a una isla paradisíaca; ellos son los que han formado allí el infierno.</Bold> Si yo
            no los
            hubiera mandado para allá, todos mis hijos, todas mis hijas, todos mis parientes y todos mis sirvientes,
            incluyéndote a ti, <Bold>estaríamos en el infierno, estaríamos sufriendo injusta e
                innecesariamente</Bold>."</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    