---
import Layout from "../layout/Layout.astro";
---

<Layout title="Pactos y Matrimonios con Inconversos">
    <section>
        <p><strong>PACTOS Y MATRIMONIOS CON INCONVERSOS</strong>.</p>
        <p><strong>Acceder a las demandas del enemigo en vez de apoyarse en Dios para contrarrestarlo, es un grave
            error</strong>. Hacer pactos con los que odian a Dios conduce a esclavitud física o espiritual.</p>
        <p></p>
        <p> "13 <i>Y a los catorce años del rey Ezequías, subió <strong>Senaquerib rey de Asiria</strong> contra todas
            las
            ciudades fuertes de Judá, y las tomó.</i> 14 <i>Entonces Ezequías rey de Judá envió a decir al rey de Asiria
            en
            Lachís: Yo he pecado; vuélvete de mí, y llevaré todo lo que me impusieres. Y el rey de Asiria impuso a
            Ezequías rey
            de Judá <strong>trescientos talentos de plata, y treinta talentos de oro.</strong></i> 15 <strong>Dio por
            tanto
            Ezequías toda la plata que fue hallada en la casa de Jehová,</strong> <i>y en los tesoros de la casa
            real.</i> 16
            <i>Entonces descompuso Ezequías las puertas del templo de Jehová, y los quiciales que el mismo rey Ezequías
                había
                cubierto de oro, y lo dio al rey de Asiria.</i> 17 <strong>Después el rey de Asiria envió al rey
                Ezequías, desde
                Lachís contra Jerusalem, a Thartán y a Rabsaris y a Rabsaces, con un grande ejército</strong><i>; y
                subieron, y
                vinieron a Jerusalem. Y habiendo subido, vinieron y pararon junto al conducto del estanque de arriba,
                que es en
                el camino de la heredad del batanero</i>." ( II R 18: 13-17 )</p>
        <p> En este pasaje vemos a Ezequías de Judá humillarse, y humillar a su nación ( 14 ) ante un rey ( o interés )
            extranjero, haciendo pacto con él. Lo vemos saqueando lo que pertenecía a Dios, para dárselo a su atacante (
            15-16),
            a fin de satisfacer a éste; sin que con todo ello lo logre. Senaquerib, rey de Asiria, después de obtener
            todo
            aquello que Ezequías de Judá le dio para aplacarlo y que no lo atacara, envió sus tropas contra Jerusalem.
            <strong>Todo
                lo que Ezequías de Judá le dio a su enemigo para calmarlo, sólo sirvió para fortalecer más aún a su
                atacante:
                ahora el asirio tenía más dinero para obtener los medios con los cuales vencer a Ezequías, y éste tenía
                menos
                dinero para invertir en su defensa; y todo esto lo obtuvo el enemigo, sólo con .....palabras y
                promesas.</strong></p>
        <p> Al fin y al cabo, Ezequías terminó haciendo lo que debía haber hecho desde un principio: confiar en Dios y
            defenderse del atacante con <strong>el único medio que entienden los enemigos de Dios: la fuerza.</strong>
            Si
            hubiera comenzado por ahí, hubiera salido mucho mejor, ... y con 300 talentos de plata y 30 talentos de oro
            más que
            lo que ahora tenía.</p>
        <p><strong>Dios nos mantiene guardados, como rodeados de un alto muro.</strong> El enemigo (espiritual o físico)
            no
            puede penetrar a atacarnos... y ese enemigo lo sabe. Por eso lo que hace es convencernos a nosotros para que
            salgamos fuera del muro. <strong>Eso lo hace el enemigo incitándonos al pecado. También puede incitarnos a
                hacer
                convenios con otros.</strong></p>
        <p> Cuando nos mantenemos solamente con Dios, estamos rodeados de su protección por todas partes, como en el
            caso de una
            ciudad amurallada con una muralla alta y gruesa todo alrededor. Ese sería el caso de la ciudad "A", cuyo
            diagrama
            presento a continuación. Sin embargo, cuando la ciudad "A" se une a la ciudad "B" que está cercana, los
            portillos o
            secciones débiles del muro de la ciudad "B" se convierten en el punto de entrada del enemigo, que luego de
            entrar en
            "B" puede pasar fácilmente al territorio de "A".</p>
        <p> Esto es cierto tanto en el mundo físico como en el espiritual. Las uniones profundas con los enemigos de
            Dios
            debilitan las defensas de los siervos de Dios. <strong>Algo semejante ocurre cuando los creyentes se casan
                con los
                inconversos.</strong></p>
        <p><img alt="Ciudades_unidas_para_las_NB" height="876" src="Ciudades_unidas_para_las_NB.jpg" width="653"></p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    