---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Dios sí castiga a los cristianos">
    <Tag>#53</Tag>
    <Content>
        <Paragraph><Bold>Dios sí castiga a los cristianos</Bold></Paragraph>
        <Paragraph> En muchas ocasiones, yo diría que en la mayoría, Dios castiga al humano para que aprenda algo, y además,
            porque
            lleva castigo lo que hizo; pero otras muchas veces lo castiga, sencillamente, porque lleva castigo la acción
            cometida, sin que lleve aparejado un intento de educación. El hecho de que seamos salvos por Cristo <Bold>no
                quiere decir que podemos pecar impunemente</Bold>. Lo más que quiere decir es que si nuestros pecados
            no
            rebasan cierto límite endureciéndonos el alma, mantenemos nuestra salvación; pero aún dentro de ese estado
            de
            salvación vamos a recibir los castigos correspondientes a nuestras malas acciones. Veamos qué dice Pablo al
            respecto.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Que si nos examinásemos a nosotros mismos, cierto no seríamos juzgados. Mas siendo juzgados, <Bold>somos
            castigados del Señor</Bold>, para que no seamos condenados con el mundo</i>." ( I Co 11: 31-32 )</Paragraph>
        <Paragraph> Muy, pero muy lejos tiene que llegar el cristiano pecando, para que pierda su salvación; <Bold>pero no
            tiene que
            ir más lejos que cualquier otro que no sea cristiano, para recibir iguales castigos terrenales por sus
            pecados. Y yo
            diría que a veces va a recibir castigos peores</Bold>, porque el siervo que conoce la voluntad de su Señor
            y no la
            hace, será azotado mucho, como dice Jesucristo en Lc 12: 47. Dios no hace acepción de personas, según nos
            enseña
            Pedro en Hch 10: 34, o sea, a igual pecado y circunstancias corresponde idéntico castigo.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Porque <Bold>el siervo que entendió</Bold> la voluntad de su señor, y no se apercibió, ni hizo
            conforme a su
            voluntad, <Bold>será azotado mucho</Bold></i>." ( Lc 12: 47 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Entonces Pedro, abriendo su boca, dijo: Por verdad hallo que <Bold>Dios no hace acepción de
            personas</Bold></i>"
            ( Hch 10: 34 )</Paragraph>
        <Paragraph><Bold>El pecado tiene consecuencias terrenales y eternas</Bold>. Ambas hay que sufrirlas. Si las eternas
            nos
            fueron perdonadas por Cristo, luego de <Bold>nuestro sincero arrepentimiento</Bold>, no así las
            terrenales, que
            nos alcanzan, como vimos en I Co 11: 31-32. Lo mismo vemos en Heb 12: 6-8.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Porque <Bold>el Señor al que ama castiga, y azota a cualquiera que recibe por hijo. Si sufrís el
            castigo, Dios
            se os presenta como a hijos</Bold>; porque ¿qué hijo es aquel a quien el padre no castiga? Mas si estáis
            fuera del
            castigo, <Bold>del cual todos han sido hechos participantes</Bold>, luego sois bastardos, y no hijos</i>."
            ( Heb
            12: 6-8 )</Paragraph>
        <Paragraph><Bold>Hay quienes están en pecado, y a la vez están sufriendo angustias; y en vez de comprender la
            vinculación que
            existe entre sus pecados y sus angustias</Bold>, creen que ellos tienen perdonados todos los pecados que
            cometieron y cometerán, mientras que, por el otro lado, no se explican el porqué están sufriendo.</Paragraph>
        <Paragraph> Es decir, que <Bold>la gente que así piensa se figura que Dios comete dos injusticias al mismo
            tiempo</Bold>:
            por un lado no castiga en el cristiano lo que sí castiga en los <Bold>no</Bold> cristianos; y por el
            otro lado,
            le envía al cristiano angustias sin que él dé el menor motivo para ello. ¡Hay que ser necio!</Paragraph>
        <Paragraph> A mí me parece que los cristianos que este tipo de cosas piensan, lo hacen como un dispositivo psicológico
            de
            defensa, con el cual protegen sus concupiscencias. <Bold>Ellos aman profundamente sus concupiscencias y no
                quieren
                dejarlas aunque les cueste sufrir. Tampoco quieren perder su salvación, a la que solamente aman un
                poquito más
                que a sus concupiscencias</Bold>. Como que saben o intuyen que el reconocer que Dios les está cobrando
            las
            cuentas, y persistir en pecar, puede convertirse en un rechazo al Espíritu Santo, y un pecado imperdonable,
            prefieren "auto convencerse" de que no es eso lo que está sucediendo, sino que lo que pasa es que sus
            pecados son
            perdonados inmediatamente después de cometidos, mientras que sus angustias y castigos, son motivados por
            algo
            "desconocido" para ellos. Por eso nos dan necias explicaciones tales como "son pruebas hermano", "son
            misterios
            hermano", "es que no puede haber felicidad en esta vida hermano", etc..</Paragraph>
        <Paragraph><Bold>De esta manera se sienten artificialmente libres para seguir "gozando" de sus concupiscencias, sin
            por ello
            perder la salvación.</Bold> Es un caso semejante al del borracho, el drogadicto, o el vicioso sexual, que
            aunque
            ve claramente los sufrimientos que le causan sus concupiscencias, prefieren soportar aquéllos y seguir
            "gozando" de
            éstas.</Paragraph>
        <Paragraph><Bold>Está claro en el pasaje I Co 11: 31-32 que Dios castiga no sólo como método pedagógico, sino como
            penalidad,
            para satisfacer la justicia establecida en las reglas de comportamientos dadas</Bold>.</Paragraph>
        <Paragraph> Si siendo juzgados ( versículo 32 ) somos castigados, no somos castigados por enseñanza, sino por penalidad.
            <Bold>Para enseñar no hay que hacer un juicio, éste se hace cuando se va a castigar a uno que
                delinque</Bold>.
        </Paragraph>
        <Paragraph> A los cristianos <Bold>no</Bold> nos van a cobrar nuestros pecados en la eternidad, nos los van a cobrar
            aquí;
            <Bold>aquí nos castigan</Bold>. Por eso, debiendo estar por encima de todos, ( dado que tenemos la ayuda
            de
            Dios), más bien estamos por debajo. Siendo los cristianos los hijos de Dios, los hermanos de Cristo, no
            somos los de
            arriba, sino los atropellados. <Bold>Tenemos que pagar aquí lo malo que aquí hacemos, puesto que no nos lo
                van a
                cobrar después</Bold>. Lo contrario sucede con los enemigos de Dios, lo bueno que hacen aquí se les va
            a pagar
            aquí, puesto que allá van a pagar lo malo que hicieron.</Paragraph>
        <Paragraph> La misma doctrina nos es enseñada por el apóstol Pablo cuando en Ga 6: 7 y Col 3: 25 nos dice lo
            siguiente:</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>No os engañéis, Dios no puede ser burlado, que <Bold>todo lo que el hombre sembrare, eso también
            segará</Bold></i>." ( Ga 6: 7 )</Paragraph>
        <Paragraph> "<i>Mas el que hace injuria, recibirá la injuria que hiciere; que <Bold>no hay acepción de
            personas</Bold></i>."
            ( Col 3: 25 )</Paragraph>
        <Paragraph> A pesar de todos estos claros pasajes, hay quienes piensan que Dios no castiga a los cristianos, sino que
            solamente
            los educa. <Bold>Hablándoles Pablo a los cristianos, y refiriéndose a ellos</Bold>, les dice que ninguno
            engañe
            a su hermano. El apóstol le dice a un cristiano que no oprima ni engañe a otro cristiano, <Bold>porque el
                Señor se
                venga de todo eso</Bold>. Venganza es castigo, no educación, y en este versículo vemos que ese castigo
            se le
            aplica a los cristianos también. <Bold>Es lógico que así sea, pues Dios no hace acepción de
                personas.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Que ninguno oprima, ni engañe en nada a su hermano, porque <Bold>el Señor es vengador de todo esto,
            como ya os
            hemos dicho y protestado</Bold></i>." ( I Tes 4: 6 )</Paragraph>
        <Paragraph> No sólo hay corrección para reeducación, también hay venganza para castigo, sin reeducación, necesariamente.
            <Bold>Y si todo esto le ocurre a los cristianos, los cuales seremos salvos, es lógico pensar que esa
                venganza
                ocurre contra nosotros aquí y ahora, pues después de la resurrección ya no habrá castigos para
                nosotros.</Bold> Vemos en el versículo que acabamos de leer, que ya Pablo le había hablado antes sobre
            este
            asunto a los tesalonicenses, porque les dice que ya se los había dicho y protestado. Al usar la palabra
            "protestado", nos da la sensación de que era una seria advertencia, tal vez porque no le habían hecho mucho
            caso a
            esta verdad. Algo parecido hacen los que hoy en día <Bold>quieren creer</Bold> que el Señor no castiga a
            los
            cristianos. Más vale que despierten a tiempo, para que luego, cuando los castigos les caigan encima, no se
            pongan a
            vocear la necedad que tan comúnmente escuchamos: "son pruebas, hermano", "son misterios, hermano".</Paragraph>
        <Paragraph> Vean también los artículos números 26 y 39 sobre este mismo asunto, en este mismo website.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    