---
import Layout from "../layout/Layout.astro";
---

<Layout title="Pablo y el Sanedrín">
    <section>
        <p><strong>PABLO NO PARECE HABER SIDO RABINO NI HABER PERTENECIDO AL SANEDRÍN.</strong></p>
        <p> En tiempos bíblicos la influencia patriarcal era muy grande. A través de toda la Biblia vemos que los que
            gobernaban
            la sociedad eran los ancianos. Incluso vemos en el libro de Job, que Eliú no se atrevía a hablar él,
            mientras
            estuvieran hablando los mayores.</p>
        <p></p>
        <p> "4 <strong>Y Eliú había esperado a Job en la disputa, porque eran más viejos de días que él</strong><i>. 5
            Empero
            viendo Eliú que no había respuesta en la boca de aquellos tres varones, su furor se encendió. 6 Y respondió
            Eliú
            hijo de Barachel, buzita, y dijo: <strong>Yo soy menor de días y vosotros viejos; he tenido por tanto miedo,
                y
                temido declararos mi opinión</strong></i><strong>.</strong>" ( Job 32: 4-6 )</p>
        <p> Cuando en Ex 3: 16 Dios envió a Moisés a liberar a los hijos de Israel de la esclavitud egipcia, <strong>lo
            envió a
            hablar con los ancianos</strong> del pueblo, señal de que ellos eran los que gobernaban el pueblo. El mismo
            patrón
            se observa cuando en Nm 11: 16 Dios decide poner gente que ayuden a Moisés a gobernar al pueblo.</p>
        <p></p>
        <p> "<strong>Ve, y junta los ancianos de Israel</strong><i>, y diles: Jehová, el Dios de vuestros padres, el
            Dios de
            Abraham, de Isaac, y de Jacob, me apareció, diciendo: De cierto os he visitado, y visto lo que se os hace en
            Egipto</i>. ( Ex 3: 16 )</p>
        <p></p>
        <p> "<i>Entonces Jehová dijo a Moisés: <strong>Júntame setenta varones de los ancianos de Israel</strong>, que
            tu sabes
            <strong>que son ancianos del pueblo y sus principales</strong>, y tráelos a la puerta del tabernáculo del
            testimonio, y esperen allí contigo</i>." ( Nm 11: 16 )</p>
        <p> En Dt 19: 12 vemos de nuevo que <strong>eran los ancianos los que tenían potestad</strong> para extraditar a
            un
            criminal y ejecutarlo.</p>
        <p></p>
        <p> "<i>Entonces <strong>los ancianos de su ciudad enviarán y lo sacarán de allí</strong>, y entregarlo han en
            mano del
            pariente del muerto, y morirá</i>." ( Dt 19: 12 )</p>
        <p> Cuando Nuestro Señor Jesucristo quiso advertirle a sus discípulos que él iba a padecer y a ser muerto, les
            dijo que
            <strong>lo iban a hacer los ancianos,</strong> según vemos en Mt 16: 21; señal de que <strong>eran los
                ancianos los
                que gobernaban al pueblo</strong>. Lo mismo vemos cuando los judíos sobornaron a los soldados para que
            dijeran
            que se habían quedado dormidos, <strong>los ancianos eran los que determinaban lo que se debía
                hacer.</strong></p>
        <p></p>
        <p> "<i>Desde aquel tiempo comenzó Jesús a declarar a sus discípulos que le convenía ir a Jerusalem, y <strong>padecer
            mucho de los ancianos,</strong> y de los príncipes de los sacerdotes, y de los escribas, y ser muerto, y
            resucitar
            al tercer día</i>." ( Mt 16:21 )</p>
        <p></p>
        <p> "12 <strong>Y juntados con los ancianos</strong><i>, y habido consejo, dieron mucho dinero a los
            soldados,</i> 13
            <i>diciendo: Decid: Sus discípulos vinieron de noche, y le hurtaron, durmiendo nosotros</i>." ( Mt 28:12-13
            )</p>
        <p> Por último, cuando un grupo de judíos se conjuraron para asesinar a San Pablo, <strong>ellos fueron a los
            ancianos,</strong> para que éstos, que tenían la influencia suficiente con los romanos, los convencieran de
            que
            trajeran a Pablo a consultas, a fin de asesinarlo en el camino.</p>
        <p></p>
        <p> "<i>Los cuales se fueron a los príncipes de los sacerdotes <strong>y a los ancianos</strong>, y dijeron:
            Nosotros
            hemos hecho voto debajo de maldición, que no hemos de gustar nada hasta que hayamos muerto a Pablo</i>." (
            Hch 23:14
            )</p>
        <p><strong>Está bien claramente expuesto, que los que gobernaban la sociedad en los tiempos bíblicos eran los
            ancianos</strong>. A escala nacional quienes gobernaban era <strong>el conjunto de ancianos que se llamaba
            Sanedrín.</strong> Los jóvenes no tenían voz ni voto en aquella sociedad.</p>
        <p> Aún hoy en día, a pesar de que el sistema patriarcal está obsoleto, ciertos puestos de mando no se le dan a
            la gente
            joven. Por ejemplo en Estados Unidos para ser senador hay que tener por lo menos 30 años, y para ser
            presidente hay
            que tener 35 años o más.</p>
        <p> En la época del martirio de Esteban, Pablo ( que entonces se llamaba Saulo ) era un joven, <strong>pues le
            aplican
            la palabra "mancebo"</strong>. Hay quienes piensan erradamente, que Pablo era un rabino y que era un miembro
            del
            Sanedrín. Todo lo antes dicho contradice profundamente ambas afirmaciones.</p>
        <p></p>
        <p> "<i>Y echándolo fuera de la ciudad, le apedreaban; y los testigos pusieron sus vestidos a los pies de
            <strong>un
                mancebo que se llamaba Saulo</strong></i>." ( Hch 7:58 )</p>
        <p><strong>El sanedrín estaba formado por ancianos</strong>, hombres de edad madura. <strong>No es
            lógico</strong>
            pensar que un mancebo, como era Pablo en ese momento, formara parte ese cuerpo gobernante. En aquella época
            era
            evidente el dominio patriarcal de la sociedad. Los jóvenes se callaban cuando hablaban las personas de mayor
            edad.
            Si eso era así en la sociedad en general, mucho menos iba un mancebo a poder igualarse a los ancianos del
            Sanedrín.
            <strong>Es lógico pensar pues, que San Pablo no perteneció nunca al Sanedrín</strong>.</p>
        <p> Igual razonamiento puede hacerse para los que creen que era un rabino. Según tengo entendido <strong>los
            rabinos
            tenían que haber cumplido ya los 30 años de edad</strong>. Aún el mismo Jesucristo esperó hasta los 30 años
            para
            comenzar su ministerio. Tal vez Pablo estuviera estudiando para hacerse rabino, pero por seguro no podía
            serlo aún.
        </p>
        <p> Después de la muerte de Esteban, siendo él un mancebo, fue que él pidió autorización a los ancianos del
            Sanedrín
            para perseguir a los cristianos, después de lo cual ocurrió su conversión en Damasco. <strong>No hubo tiempo
                para
                que Pablo se convirtiera en un anciano y pudiera pertenecer al Sanedrín o ser un rabino</strong>.</p>
        <p> Lo que ha confundido a algunos es que en Hch 8: 1 se dice que Pablo consentía en la muerte de Esteban. Para
            consentir en la muerte de Esteban no hacía falta pertenecer al sanedrín, porque la morralla que estaba
            apedreando a
            Esteban no pertenecía a tan alto cuerpo gubernativo y todos consentían en la muerte de Esteban.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    