---
import Layout from "../layout/Layout.astro";
---

<Layout title="La redención por gracia se concía desde el principio">
    <section>
        <p><strong>La redención por gracia se conocía desde el principio</strong></p>
        <p> Hay hermanos que creen que la redención por gracia se "inventó" en el Nuevo Testamento. No es cierto. La
            redención
            por gracia se conoce desde el mismo momento que nuestros Primeros Padres pecaron en el Edén. <strong>Desde
                el mismo
                comienzo de la humanidad los hombres sacrificaban corderos, porque ellos sabían que esos corderos
                representaban
                el futuro Cordero de Dios que iba a sacrificarse para la redención de la humanidad.</strong></p>
        <p> Los cinco primeros libros de la Biblia fueron escritos o compilados por Moisés. El libro del Génesis nos
            cuenta la
            historia de los comienzos de la humanidad, por eso muchos hermanos creen que ese libro es el más antiguo,
            pero no es
            así. Positivamente, el Génesis contiene las historias más antiguas, es verdad, pero fue escrito por Moisés,
            el cual
            vivió después de Job. Por lo tanto, <strong>los hombres que hablan en el libro de Job son los más antiguos
                testigos
                del conocimiento de la salvación por gracia, y de la creencia en la resurrección.</strong></p>
        <p>Moisés escribió aquellas cosas que le fueron reveladas, y probablemente, añadió también el contenido de
            rollos o
            pergaminos heredados de sus antecesores. Consecuentemente, siendo el libro de Job el más antiguo en la
            Biblia, la
            gente que vivió en esa época, los hombres que hablan en ese libro, son los más antiguos testigos del
            conocimiento de
            la salvación por gracia y de la resurrección.</p>
        <p></p>
        <p> "23 <i>Si tuviera cerca de él algún elocuente anunciador muy escogido, que anuncie al hombre su deber;</i>
            24
            <i><strong>que le diga que Dios tuvo de él misericordia,</strong> que lo libró de descender al sepulcro,
                <strong>que
                    halló redención</strong></i>" ( Job 33: 23-24 )</p>
        <p> Como vemos <strong>la redención por gracia era conocida entre los gentiles</strong>, incluso antes de que
            Moisés
            diera la ley. Los cinco hombres que hablan en el libro de Job son: Eliú, Sofar, Bildad, Elifaz y Job, todos
            los
            cuales eran gentiles. Está bien claro que la salvación por gracia era conocida incluso antes de la
            existencia del
            pueblo judío. Lo que no se conocía aún eran los detalles: cuándo iba a ocurrir esa redención, quién iba a
            morir en
            nuestro lugar, cómo iba a morir ese redentor, etc., pero es el caso, que esos detalles no eran conocidos ni
            siquiera
            por los mismos apóstoles al principio. Igual conocimiento de la salvación por gracia se muestra en los
            versículos 27
            y 28 de este mismo capítulo.</p>
        <p></p>
        <p> "27 <i>El mira sobre los hombres; y el que dijere: Pequé, y pervertí lo recto, y no me ha aprovechado;</i>
            28
            <i><strong>Dios redimirá su alma, que no pase al sepulcro, y su vida se verá en
                luz</strong></i><strong>.</strong>"
            ( Job 33:27-28 )</p>
        <p> No solamente eso, <strong>el mismo Job habló diciendo que él sabía que su Redentor vivía</strong>, y que
            también
            sabía que después de la muerte, después de que su cuerpo se pudriera, él iba a resucitar en carne y ver a
            Dios.</p>
        <p></p>
        <p> "25 <strong>Yo sé que mi Redentor vive</strong><i>, y al fin se levantará sobre el polvo</i>; 26 <i>y
            <strong>después
                de deshecha esta mi piel, aún he de ver en mi carne a Dios</strong>;</i> 27 <i>al cual yo tengo de ver
            por mí, y mis
            ojos lo verán, y no otro, aunque mis riñones se consuman dentro de mí</i>." ( Job 19:25-27 )</p>
        <p> Más tarde en el tiempo, <strong>David expresaba la misma certidumbre en relación a la redención por
            gracia</strong>
            y la resurrección. En Salmos 17:15 él dice que él va a ver a Dios y que va a levantarse de la tumba.</p>
        <p></p>
        <p> "<i>Yo en justicia <strong>veré tu rostro</strong>; seré saciado <strong>cuando despertare a tu
            semejanza</strong></i>." ( Sal 17:15 )</p>
        <p> Después de su gran pecado, David compuso el salmo 32, en cuyo primer versículo él reconoce que los pecados
            son
            perdonados para poder acceder a la vida eterna, es decir, salvación por gracia.</p>
        <p></p>
        <p> "<i>Salmo de David: Masquil. Bienaventurado <strong>aquel cuyas iniquidades son perdonadas, y borrados sus
            pecados</strong></i>." ( Sal 32:1 )</p>
        <p> Un poco después, alguien compuso un salmo para los hijos de un tal Coré, ( Sal 49:6-8 ) en el cual afirma
            que nadie
            puede redimir a su hermano ni a sí mismo. Más adelante, en ese mismo salmo, en el versículo 15, asevera que
            Dios es
            el que va a redimir su alma.</p>
        <p></p>
        <p> "6 <i>Los que confían en sus haciendas, y en la muchedumbre de sus riquezas se jactan,</i> 7 <i><strong>ninguno
            de
            ellos podrá en manera alguna redimir al hermano, ni dar a Dios su rescate;</strong></i> 8 <strong>porque la
            redención de su vida es de gran precio, y no se hará jamás</strong>" ( Sal 49:6-8 )</p>
        <p></p>
        <p> "<i>Empero <strong>Dios redimirá mi vida del poder de la sepultura</strong>, cuando me tomará. Selah</i>." (
            Sal 49:
            15 )</p>
        <p> Como hemos podido ver, en tiempo de David la gente conocía de la salvación por gracia, no sólo David, sino
            otros que
            leyeran o cantaran sus salmos y los de Coré. Siglos más tarde Isaías expresaba la misma seguridad en 29:19.
            Él sabía
            que la gente iba a resucitar, incluso él mismo, a la vez que vaticinaba que la tierra echaría sus muertos, o
            sea, la
            resurrección.</p>
        <p></p>
        <p> "<strong>Tus muertos vivirán; junto con mi cuerpo muerto resucitarán</strong><i>. ¡Despertad y cantad,
            moradores del
            polvo! porque tu rocío, cual rocío de hortalizas; y <strong>la tierra echará los muertos</strong></i>." (
            Isa 26: 19
            )</p>
        <p> Al principio, aquella gente no tenían la más mínima idea de cómo se iba a lograr la redención por gracia, lo
            único
            que sabían es que un Cordero de Dios iba a tomar el lugar de ellos. Más adelante, a medida que las
            revelaciones
            aclaraban el panorama, ellos pudieron tener una ojeada del magno evento. El profeta Isaías, de 52:13 hasta
            53:12
            revela lo que le iba a suceder ese redentor que ellos sabían que vendría, pero aún no sabía quien era ni
            cuándo
            vendría.</p>
        <p></p>
        <p> "4 <i>Ciertamente llevó él nuestras enfermedades, y sufrió nuestros dolores; y nosotros le tuvimos por
            azotado, por
            herido de Dios y abatido.</i> 5 <i>Mas <strong>él herido fue por nuestras rebeliones, molido por nuestros
            pecados;
            el castigo de nuestra paz sobre él</strong>; y por su llaga fuimos nosotros curados.</i> 6 <i>Todos nosotros
            nos
            descarriamos como ovejas, cada cual se apartó por su camino; mas <strong>Jehová cargó en él el pecado de
                todos
                nosotros</strong></i>." ( Isa 53:4-6 )</p>
        <p><strong>Como hemos visto a través de todos estos pasajes, el conocimiento de que la redención era por gracia,
            lo
            tenían los antiguos tan claramente como nosotros hoy. Lo sabían desde que el humano existe sobre la Tierra,
            desde
            que el humano comenzó a sacrificar corderos para el perdón de sus pecados</strong>. La gracia no fue algo
            que se
            "descubrió" en el Nuevo Testamento, se conocía desde mucho antes. En el Nuevo Testamento nosotros aprendimos
            detalles que ellos no conocían: quién era el redentor, cómo iba a pagar por nuestros pecados, cuándo lo
            pagó, etc..
            No obstante, la redención por gracia era conocida desde el principio de la humanidad.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    