---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Los Cuatro Caminos">
    <Title>Para ver la importancia de los mandamientos de Dios, observen los próximos cuatro cuadros:</Title>

    <Tag>#58</Tag>
    <Content>
        
        <Paragraph><Bold><img alt="camino1" height="546" src="camino1.JPG" width="428"></Bold></Paragraph>
        <Paragraph>-------------------------------------------------o-------------------------------------------------</Paragraph>
        <Paragraph><img alt="camino2" height="543" src="camino2.JPG" width="422"></Paragraph>
        <Paragraph>-------------------------------------------------o-------------------------------------------------</Paragraph>
        <Paragraph><img alt="camino3" height="558" src="camino3.JPG" width="800"></Paragraph>
        <Paragraph>-------------------------------------------------o------------------------------------------------</Paragraph>
        <Paragraph><img alt="camino4" height="552" src="camino4.JPG" width="804"></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    