---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Dinámica Celestial, Mecánica de la Tentación">
    <Tag>#59</Tag>
    <Content>
        <Paragraph><Bold>DINÁMICA CELESTIAL: MECÁNICA DE LA TENTACIÓN.</Bold></Paragraph>
        <Paragraph> Como se ve en este pasaje, el Diablo se aprovecha de <Bold>los requerimientos normales de la naturaleza
            humana
            física</Bold>, y de <Bold>los sentimientos abrigados por el alma</Bold>, para exacerbarlos y
            convertirlos en
            pecado. Con Nuestro Señor Jesucristo usó ese mismo método. ¿Y cómo lo incitó a pecar el Diablo?</Paragraph>
        <Paragraph><Bold> Después de 40 días de ayuno absoluto</Bold> es normal que se sienta un hambre incontrolable; por
            lo tanto,
            la tentación debía entrar por ahí precisamente: pedirle que comiera, pero no en forma correcta, natural,
            sino
            incitándolo a hacer un uso indebido de su divino poder, para así invalidar su salvadora gestión.</Paragraph>
        <Paragraph> Por el otro lado, como que era natural que Jesús estuviera orgulloso de ser Hijo de Dios, es ahí
            precisamente donde
            trata de exacerbar su sentimiento, y para ello finge poner en duda la paternidad divina de Jesús a fin de
            que él se
            apresurara a demostrarla. <Bold>Conjuga en su tentación las dos más fuertes fuerzas que obraban en Jesús
                en ese
                instante</Bold>: demostrar que sí era hijo de Dios, ("Si eres hijo de Dios...") y su natural urgencia
            de comer
            ("...di que estas piedras se hagan pan").</Paragraph>
        <Paragraph> "<i>1 Entonces Jesús fue llevado del Espíritu al desierto, para ser tentado del Diablo.</i> 2 <i>Y <Bold>habiendo
            ayunado cuarenta días y cuarenta noches</Bold>, después tuvo hambre.</i> 3 <i>Y llegándose a él el
            tentador, dijo:
            <Bold>Si eres Hijo de Dios</Bold>, di que estas piedras se hagan pan</i>." ( Mt 4:1-3 )</Paragraph>
        <Paragraph> El Diablo, creado por Dios, muy superior al ser humano, <Bold>sólo puede ser vencido cuando en vez de
            enfrentarnos
            a él astucia contra astucia, nos refugiamos en la absoluta y total victoria que sobre él obtuvo Jesucristo
            por su
            sangre</Bold>. El que no apela a ese método tiene la batalla perdida de inicio, como la tiene un chivo que
            se
            enfrenta a un león, al cual Dios, por naturaleza, hizo más fuerte que a aquel.</Paragraph>
        <Paragraph> Son muchos los cristianos que por ignorancia, falta de práctica o de experiencia, <Bold>enfrentan las
            concupiscencias, y las tentaciones que de éstas se derivan, con sus propias fuerzas, sin apelar a la sangre
            de
            Cristo, o haciéndolo muy tardíamente, cuando ya el enemigo ha logrado infligirnos algunos
            descalabros</Bold>.</Paragraph>
        <Paragraph> Precisamente <Bold>esa es una de las tentaciones preferida del enemigo: incitarnos a que luchemos
            solos</Bold>,
            sin el auxilio de Jesucristo; puesto que si logra ese primer paso, los demás le serán sencillísimos. Otra
            ayuda que
            se basa en la palabra de Dios para poder luchar con buen éxito contra nuestros enemigos espirituales,
            <Bold>es el
                ayuno</Bold>.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al indice</a></Bold></Paragraph>

    </Content>
</Layout>
    