---
import Layout from "../layout/Layout.astro";
---

<Layout title="Clima Igualitario">
    <section>
        <p><strong>ERRADA HIPÓTESIS DEL CLIMA IGUALITARIO TODO EL AÑO EN TODO EL GLOBO</strong></p>
        <p> Hay quienes tienen la hipótesis de que antes del Diluvio el clima de toda la Tierra era igual todo el año en
            todos
            los lugares del globo. Basan su errada hipótesis del clima igualitario en otra hipótesis: la suposición de
            que antes
            del Diluvio un manto de vapor de agua cubría todo el planeta. Ese supuesto "manto" creaba un efecto de
            invernadero
            (green house) que distribuía el calor parejamente en toda la Tierra. Lo que nunca me han dicho es en qué
            basan la no
            menos errada hipótesis de que la Tierra estaba cubierta por un denso manto de nubes.</p>
        <p> Para comenzar, tenemos que darnos cuenta de que <strong>no había tal manto de nebulosidad</strong>, porque
            el sol,
            la luna y las estrellas, se veían. Como dice Gn 1:14 estos astros servían para distinguir el día y la noche,
            las
            estaciones, los días, y los años. También en Gn 1:16 dice que la lumbrera mayor <strong>señoreaba</strong>
            en el día y
            la menor <strong>señoreaba</strong> en la noche. De eso se deduce que <strong>la luna se podía ver
                perfectamente de
                noche</strong>, cosa que no ocurre en una noche ligeramente nublada. No se que iba a decir que <strong>"señoreaba
                en
                la noche"</strong> <strong>un astro que ni siquiera se veía</strong>, porque estaba escondido detrás de
            un manto de
            nubes mucho mayor que el que ahora pueda existir. Además, según el versículo 14 los astros iban a servir de
            señales,
            cosa no sería así si debido a las nubes no se vieran. Por ejemplo, los meses se conocían por las fases de la
            luna.</p>
        <p><strong>Tampoco hubieran mencionado las estaciones del año</strong> en Gn 1:14, si antes del Diluvio no
            hubiera
            habido estaciones. Por la misma razón si había estaciones (verano, invierno, etc.,) es porque <strong>no
                había un
                clima igualitario</strong>.</p>
        <p><strong>"<i>Todavía serán todos los tiempos de la Tierra</i></strong><i>; la sementera y la siega, y <strong>el
            frío
            y el calor, verano e invierno</strong>, y día y noche, <strong>no cesarán</strong></i>." ( Gn 8:22 )</p>
        <p></p>
        <p> "<i>14 Y dijo Dios: Sean lumbreras en la expansión de los cielos para apartar el día y la noche, y <strong>sean
            por
            señales, y para las estaciones, y para días y años</strong>; 15 Y sean por lumbreras en la expansión de los
            cielos
            para alumbrar sobre la Tierra, y fue así. 16 E hizo Dios las dos grandes lumbreras; la lumbrera mayor
            <strong>para que
                señorease</strong> <strong>en el día</strong>, y la lumbrera menor <strong>para que señorease en la
                noche</strong>;
            hizo también <strong>las estrellas 17 y las puso Dios en la expansión de los cielos, para alumbrar</strong>
            sobre la
            tierra</i>" ( Gn 1: 14-17 )</p>
        <p> El que haya estado en un campo bien apartado de toda ciudad, o mejor aún en un desierto, en una noche
            despejada, sin
            nubes, en la que no haya luna, puede saber <strong>la gran cantidad de luz que las estrellas dejan caer
                sobre la
                Tierra</strong>. Tanta luz dan, que nos permite caminar y vernos las parte del cuerpo como las manos,
            etc.. Muy
            diferente es el caso si nos hallamos en ese mismo lugar en una noche nublada. En un caso así, aunque haya
            luna, no
            podemos ver ni siquiera nuestras propias manos, porque su luz no atraviesa las densas nubes. Si conociendo
            esta
            realidad leemos el versículo 17, donde dice que Dios puso las estrellas en el cielo "…para alumbrar sobre la
            Tierra…",
            nos daremos cuenta de que antes del Diluvio no existía el hipotético manto de nubes que se han inventado
            algunos,
            porque las estrellas alumbraban sobre la Tierra.</p>
        <p> También aclara perfectamente toda duda Gn 8:22, donde Dios, inmediatamente después del Diluvio declara:
            "<strong>Todavía
                serán</strong> <i>todos los tiempos de la Tierra: la sementera y la siega, y <strong>el frío y el calor,
                verano e
                invierno</strong>, y día y noche, <strong>no cesarán</strong></i>". Al decir que
            <strong>todavía</strong> seguirían
            existiendo la sementera y la siega, el día y la noche, implica que antes del Diluvio existían la sementera y
            la siega,
            el día y la noche. Por la misma razón, <strong>el mencionar el frío y el calor, el verano y el invierno,
                implica que
                estas cosas existían antes del Diluvio</strong>.</p>
        <p> En esta divina afirmación se nota que si dice "<strong>Todavía serán</strong>…", es porque antes de ese
            momento
            existían tales cosas, porque si no hubieran existido antes, no podría decir "Todavía serán…", sino más bien
            "En lo
            adelante serán…".</p>
        <p> Igualmente al decir: "...<strong>no cesarán</strong>", implica que ya estaban funcionando y no iban a cesar.
            Es por
            lo tanto lógico suponer que antes del Diluvio existía verano e invierno, épocas de frío y épocas de calor.
            <strong>Esta
                clara afirmación destruye las hipótesis del clima igualitario y el manto de nubosidad.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    