---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cristo no prohibió todo tipo de juramento">
    <Tag>#66</Tag>
    <Content>
        <Paragraph><Bold>Cristo no prohibió todo tipo de juramento</Bold></Paragraph>
        <Paragraph> Cristo <Bold>no prohibió</Bold> todo juramento, sino que exhortó a no <Bold>andar prometiendo con
            juramento</Bold>, que en el futuro se iba a hacer esto, o dejar de hacer aquello. Dado que no siempre está
            en
            nuestras manos el poder suficiente para cumplir con lo que juramos, caeríamos innecesariamente en perjurio.
        </Paragraph>
        <Paragraph> Me baso para pensar así en el hecho de que ese mandamiento de Cristo es consecuencia del refrán popular de
            los
            antiguos sobre el juramento. En ese dicho popular de los antiguos se manifiesta que <Bold>se está hablando
                de
                promesas futuras</Bold>, dado que para evitar el perjurar, se exhorta a que se paguen a Dios los
            juramentos.
            Claramente se ve que se está hablando de promesas hechas bajo juramento para un futuro; futuro este que no
            siempre
            está en nuestras manos. También lo aclara el versículo 36 cuando dando, al parecer, la razón de su
            prohibición, dice:
            "porque no puedes hacer un cabello blanco o negro". Es decir, porque no tienes control de las
            circunstancias.</Paragraph>
        <Paragraph>"33 <i>Además habéis oído que fue dicho a los antiguos: <Bold>No te perjurarás; mas pagarás al Señor tus
            juramentos.</Bold></i> 34 <i>Mas yo os digo: No juréis en ninguna manera, ni por el cielo, porque es el
            Trono de
            Dios;</i> 35 <i>ni por la Tierra, porque es el estrado de Sus pies; ni por Jerusalem, porque es la ciudad
            del Gran
            Rey.</i> 36 <i>Ni por tu cabeza jurarás, <Bold>porque no puedes hacer un cabello blanco o negro.</Bold></i>
            37 <i>Mas
                sea vuestro hablar: Sí, sí; No, no; porque lo que es más de esto, de mal procede</i>." ( Mt 5:33-37 )
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> En estos pasajes que pongo a continuación vemos que Dios no solamente permite el juramento, sino que exhorta
            a que
            se jure en su nombre. Incluso veremos que <Bold>Pablo conjura</Bold> a los tesalonicenses.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>A Jehová tu Dios temerás, y a él servirás, y <Bold>por su nombre jurarás</Bold></i>." ( Dt 6:13 )
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>A Jehová tu Dios temerás, a él servirás, a él te allegarás, y <Bold>por su nombre jurarás</Bold></i>."
        </Paragraph>
        <Paragraph> ( Dt 10:20 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Empero el rey se alegrará en Dios; <Bold>será alabado cualquiera que por Él jura</Bold>; porque la
            boca de
            los que hablan mentira, será cerrada</i>." ( Sal 63:11 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>El que se bendijere en la Tierra, en el Dios de verdad se bendecirá; y <Bold>el que jurare en la
            Tierra, por
            el Dios de verdad jurará</Bold>; porque las angustias primeras serán olvidadas, y serán cubiertas de mis
            ojos</i>."
            ( Isa 65:16 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y será que, si cuidadosamente aprendieren los caminos de mi pueblo, <Bold>para jurar en mi
            nombre</Bold>,
            diciendo: <Bold>'Vive Jehová'</Bold>, así como enseñaron a mi pueblo a jurar por Baal; <Bold>ellos
                serán
                prosperados</Bold> en medio de mi pueblo</i>." ( Jer 12:16 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"<Bold>Os conjuro por el Señor</Bold><i>, que esta carta sea leída a todos los santos hermanos</i>."</Paragraph>
        <Paragraph> ( I Tes 5:27 )</Paragraph>
        <Paragraph><Bold>No es lógico pensar que Jesús "se dio cuenta" de que la autorización, y aún la exhortación, a jurar
            por
            Dios</Bold>, que aparece en diversos pasajes del Antiguo Testamento, <Bold>fue una "equivocación" del
            ángel</Bold> que revelaba estas cosas a Moisés y a los profetas. Tampoco nos es dable creer que Dios tenía
            Su
            opinión, y Cristo tenía una opinión contraria; ni que Dios tuvo una opinión en una época y luego la cambió,
            porque
            encontró otra "mejor".</Paragraph>
        <Paragraph> Si en la Escritura se exhorta diáfana y claramente a jurar por Dios, es evidente que el hacerlo no es un
            pecado,
            sino algo encomiable cuando se hace<Bold>: a)</Bold> prudentemente, y <Bold>b)</Bold> sólo cuando el
            caso
            realmente lo amerita. Efectivamente, estar jurando por boberías es tomar el nombre de Dios en vano; como
            cuando se
            jura lo grande que era el pez que se nos fue. Además, una cosa es jurar que algo es cierto o falso, y otra
            cosa bien
            diferente es jurar que uno va a hacer esto o lo otro en un futuro. Lo primero está bajo el control del
            cristiano, lo
            segundo no.</Paragraph>
        <Paragraph> Si a un cristiano se le pide juramento de que va a decir la verdad, o mejor aún, que dijo la verdad, no veo
            por qué
            no pueda jurar, puesto que está perfectamente bajo su dominio el saber si, hasta donde alcanzan sus
            facultades, dijo
            la verdad o no.</Paragraph>
        <Paragraph><Bold>Hay casos en los que es el mismo Dios el que manda que se pida juramento</Bold>, como en Ex
            22:10-11. No va
            Dios a mandar una cosa, y Jesucristo a contradecirlo, o enmendarle la plana al Padre. No es lógico tampoco
            pensar que
            Dios va a mandar a hacer algo que es pecado.</Paragraph>
        <Paragraph> "10 <i>Si alguno hubiere dado a su prójimo asno, o buey, u oveja, o cualquier otro animal a guardar, y se
            muriere, o
            se perniquebrare, o fuere llevado sin verlo nadie;</i> 11 <i><Bold>juramento de Jehová tendrá lugar entre
            ambos</Bold> de que no echó su mano a la hacienda de su prójimo, y su dueño lo aceptará, y el otro no
            pagará</i>." (
            Ex 22:10-11 )</Paragraph>
        <Paragraph><Bold>Incluso en Mt 26:63 vemos que a Cristo se le pide juramento, y él accede</Bold>.</Paragraph>
        <Paragraph> "62 <i>Y levantándose el pontífice, le dijo: ¿No respondes nada? ¿Qué testifican éstos contra ti?</i> 63 <i>Mas
            Jesús callaba. Respondiendo el pontífice, le dijo: <Bold>Te conjuro por el Dios viviente</Bold>, que nos
            digas si
            eres tú el Cristo, Hijo de Dios.</i> 64 <i>Jesús le dijo: Tú lo has dicho; y aun os digo, que desde ahora
            habéis de
            ver al Hijo del Hombre sentado a la diestra de la potencia de Dios, y que viene en las nubes del cielo</i>."
            ( Mt
            26:62-64 )</Paragraph>
        <Paragraph> Vemos pues, que <Bold>Jesús no le contesta rechazando el juramento</Bold>, sino que cuando el pontífice
            le dice:
            "Te conjuro por el Dios viviente que nos digas si tú eres el Cristo, Hijo de Dios", Jesús, sin mediar
            negativa de
            juramento ni aclaración alguna le replica: "Tú lo has dicho..." <Bold>Es evidente pues que jurar no es
                pecado y que
                Cristo no lo prohibió.</Bold> Si fuera pecado o si Cristo lo hubiera prohibido, no iba él a aceptar
            que el Sumo
            Sacerdote lo conjurara.</Paragraph>
        <Paragraph> Hay cristianos que, <Bold>presionados por la creencia tradicional de que está prohibido jurar</Bold>, se
            niegan
            a hacerlo cuando se hallan en el caso. En esas ocasiones <Bold>recurren a una fórmula simplista, a un
                eufemismo</Bold>. En vez de jurar dicen: "yo digo delante de Dios, o en presencia de Dios, etc..." No
            comprenden
            ellos que <Bold>una vez que se invoque a Dios, una vez que el nombre de Dios esté envuelto de alguna forma
                en una
                aseveración, ya para los efectos celestiales, equivale a un juramento.</Bold> Efectivamente, de no ser
            cierto lo
            que se afirma en la presencia de Dios, ( o delante de Dios, o como quiera llamársele ), se ha tomado en vano
            el nombre
            de Dios, quebrantando así el tercer mandamiento. Incluso Pablo lo usó un par de veces, veamos.</Paragraph>
        <Paragraph> "<i>Y en esto que os escribo, he <Bold>aquí delante de Dios, no miento</Bold></i>." ( Ga 1: 20 )</Paragraph>
        <Paragraph> Al decir Pablo la frase "delante de Dios", está invocando a Dios como testigo sobre lo que está diciendo.
            Eso es
            igual que jurar por Dios que no está mintiendo. Esto demuestra que el juramento nunca estuvo prohibido. Si
            hubiera
            estado prohibido, Pablo no iba a andar con subterfugios y eufemismos, cambiando el nombre para no llamarle
            juramento,
            pero que fuera juramento. No es cuestión de usar un malabarismo de palabras.</Paragraph>
        <Paragraph> Algo semejante se ve en Ap 10:5-6, pero con la particularidad de que en este caso el que jura es un ángel
            enviado de
            Dios. Si jurar fuera malo, el ángel no lo hubiera hecho.</Paragraph>
        <Paragraph> "5 <i>Y <Bold>el ángel</Bold> que vi estar sobre el mar y sobre la tierra, levantó su mano al cielo,</i>
            6 <i>y
                <Bold>juró por el que vive para siempre jamás</Bold>, que ha criado el cielo y las cosas que están
                en él, y la
                tierra y las cosas que están en ella, y el mar y las cosas que están en él, que el tiempo no será
                más</i>." ( Ap
            10:5-6 )</Paragraph>
        <Paragraph> Como hemos visto hasta aquí, todos los que han jurado o han aconsejado jurar, son personas con suficiente
            autoridad
            moral y espiritual para decirnos qué es bueno y qué es malo. Ninguno de ellos rechazó el juramento.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    