---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Sodoma se halla en el fondo del Mar Muerto">
    <Content>
        <Paragraph><Bold>Sodoma se halla en el fondo del Mar Muerto</Bold></Paragraph>
        <Paragraph> En Gn 14:1-2 nos dice que hubo una confederación de reyes que iban a pelear contra la coalición de Sodoma,
            Gomorra,
            Adma y Seboim. En el siguiente versículo, el tres, nos dice que los reyes atacantes se juntaron <Bold>en
                el valle
                de Siddim, y que este valle de Sídím es el Mar Salado</Bold>. Al decirnos que el valle de Siddim es el
            Mar
            Salado, (Mar Muerto) nos está haciendo ver que lo que en aquel momento de la guerra era el valle de Siddim,
            ahora,
            cuando escribían esta historia, era el Mar Salado o Mar Muerto.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "1 <i>Y aconteció en los días de Amraphel, rey de Shinar, Arioch, rey de Elazar, Chedorlaomer, rey de Elá, y
            Tidal,
            rey de naciones,</i> 2 <i>que éstos hicieron guerra contra Bera, rey de Sodoma, y contra Birsha, rey de
            Gomorra, y
            contra Shinab, rey de Adma, y contra Shemeber, rey de Zeboim, y contra el rey de Bela, la cual es Zoar.</i>
            3 <i>Todos
                estos se juntaron <Bold>en el Valle de Siddim, que es el mar salado</Bold></i><Bold>.</Bold>"
            (Gn 14:3)</Paragraph>
        <Paragraph> Por lo tanto, si efectivamente, lo que antes era el valle de Siddim ahora es el Mar Muerto, se da uno cuenta
            de que
            las ciudades de Sodoma, Gomorra, Adma y Zeboim, que estaban en el valle de Siddim están ahora sepultadas en
            el fondo
            del Mar Muerto.</Paragraph>
        <Paragraph> Otro detalle que confirma lo que digo, es el hecho de que <Bold>el Valle de Siddim no vuelve a mencionarse
            en la
            Biblia después de la quema de Sodoma y su comarca</Bold>. Se ve que después de ello jamás volvió a ser un
            valle.
        </Paragraph>
        <Paragraph> A lo que hoy nosotros le llamamos Mar Muerto, en Josué 3:16 se le llama Mar Salado. Lo prueba el hecho de
            que se
            está hablando del paso del Jordán por los israelitas a la altura de Jericó, ciudad que se halla a menos de
            20 Kms al
            norte del Mar Muerto. Si vemos el mapa, nos daremos cuenta de que el único "mar" a donde podían ir a parar
            las aguas
            del Jordán que pasaran por Jericó, era el Mar Muerto, y que, por lo tanto, lo que ellos llaman aquí <Bold>el
                Mar
                Salado no puede ser otro que el Mar Muerto.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Las aguas que venían de arriba, se pararon como en un montón bien lejos de la ciudad de Adam, que está
            al lado
            de Sarethán; <Bold>y las que descendían a la Mar de los Llanos, al Mar Salado</Bold>, se acabaron y
            fueron
            partidas; y el pueblo pasó en derecho de Jericó</i>." (Jos 3:16)</Paragraph>
        <Paragraph> Otra prueba de que el Mar Salado es lo que hoy llamamos el Mar Muerto es que en Nm 34:3, hablando del Mar
            Salado, lo
            ponen "hacia el oriente", mientras que hablando del Mar Mediterráneo o Gran Mar, (versículo 6) lo ponen
            hacia el
            occidente</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "3 <i>Tendréis el lado del mediodía desde el desierto de Zin hasta los términos de Edom; y os será el
            término del
            mediodía al extremo del <Bold>Mar Salado hacia el oriente</Bold>.</i> 4 <i>Y este término os irá
            rodeando desde
            el mediodía hasta la subida de Acrabbim, y pasará hasta Zin; y sus salidas serán del mediodía á
            Cades-barnea; y
            saldrá á Hasar-addar, y pasará hasta Asmón;</i> 5 <i>y rodeará este término, desde Asmón hasta el torrente
            de
            Egipto, <Bold>y sus remates serán al occidente.</Bold></i> 6 <i>Y <Bold>el término occidental os será
            la Gran
            Mar</Bold>; este término os será e<Bold>l término occidental</Bold></i>". (Nm 34:3-6)</Paragraph>
        <Paragraph><Bold>Habiendo comprobado que el Mar Salado es el Mar Muerto</Bold>, y habiendo visto que en Gn 14:3 se
            dice que
            <Bold>el Valle de Sídím es el Mar Salado</Bold>, es fácil llegar a la conclusión de que <Bold>lo que
                antes
                eran las cuatro ciudades homosexuales, están cubiertas por el Mar Muerto</Bold>.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    