---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Quien no adora a Dios es porque detesta la idea de estarle sometido">
    <Title>Quien no adora a Dios es porque detesta la idea de estarle sometido</Title>

    <Tag>#69</Tag>
    <Content>
        
        <Paragraph> Yo he analizado en mi vida, que en el fondo del alma de los que no adoran a Dios lo que existe es aversión a
            la idea
            de que Él gobierne a Su manera y no a la ellos; aversión a que Su mando sea absoluto, y no les permita ser
            factores
            influyentes en Sus decisiones.</Paragraph>
        <Paragraph> Hay quien rechaza en forma total el control de Dios, pero la mayoría no aspira a tanto, sólo quieren tener
            medios de
            influir o presionar en Sus decisiones. Es la clásica democracia de los "caudillitos políticos" que aspiran a
            que sus
            conveniencias, intereses, caprichos, "ego", etc., tengan que ser tomados en cuenta por el que manda.</Paragraph>
        <Paragraph><Bold>Por eso en las religiones falsas, y en las falsas concepciones de la religión verdadera</Bold>,
            siempre
            aparecen las "obras", como por ejemplo, velas, misas, regalos a la iglesia, etc., como factores de
            salvación, o como
            factores para la consecución de favores celestiales. Esto es más notable en el catolicismo romano, porque es
            el más
            conocido; pero los ruselistas hacen lo mismo con los "puntos" que ganan en su predicación de puerta en
            puerta y
            otras mil cosas.</Paragraph>
        <Paragraph> Analicen las religiones falsas y las falsas concepciones de la religión verdadera, y verán que todas, en el
            fondo,
            llevan esta tendencia.</Paragraph>
        <Paragraph> En el caso de los filisteos, que es el que sirve de base en este asunto, está clara su aversión hacia Dios.
            Le
            tenían miedo por lo poderoso que veían que era; pero lo detestaban. En el pasaje que más abajo aparece, hay
            una
            confesión por parte de ellos, en el sentido que aún sus dioses se veían sometidos al poder de Dios. Sin
            embargo, ni
            siquiera por conveniencia se pasaban para Su bando, tanta era su antipatía.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "¡<i>Ay de nosotros! ¿<Bold>Quién nos librará de las manos de estos dioses fuertes</Bold>? Estos son los
            dioses
            que hirieron a Egipto con toda plaga en el desierto. Esforzaos filisteos, sed hombres, porque no sirváis a
            los
            hebreos como ellos os han servido a vosotros. Sed hombres y <Bold>pelead</Bold></i>." (I Sam 4:8-9)</Paragraph>
        <Paragraph> Lo contrario ocurría con los israelitas. Ellos estaban de parte de Dios, aquel de quien ellos tenían pruebas
            o
            testimonios que era poderoso, pero lo abandonaban y se daban a la idolatría. Por eso vemos en la Biblia, a
            través de
            los libros de Jueces, Reyes y Crónicas la apostasía de los israelitas, pero jamás vemos a los pueblos de
            Canaán
            "apostatar" de su idolatría para seguir a Dios.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph>"10 <i>Porque pasad a las islas de Chittim y mirad; y enviad a Cedar, y considerad cuidadosamente, y ved si
            se ha
            hecho cosa semejante a ésta</i>. 11 <Bold>Si alguna gente ha mudado sus dioses, bien que ellos no son
            dioses</Bold><i>. Pero mi pueblo ha trocado su gloria por lo que no aprovecha</i>." (Jer 2:10-11)</Paragraph>
        <Paragraph><Bold>Las religiones idolátricas, y las demás religiones falsas, siempre tienen en su estructura el factor
            que
            desean las criaturas rebeldes: el tener el poder para influir o presionar en las decisiones
            divinas.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    