---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="En la Biblia la palabra 'desierto' significa 'sin habitantes', no 'sin agua'">
    <Content>
        <Paragraph><Bold>En la Biblia, la palabra "desierto" significa "sin habitantes", no "sin vegetación ni agua".</Bold>
            <Bold>La Tierra</Bold> <Bold>Prometida era fértil. El pecado y el clima</Bold></Paragraph>
        <Paragraph> En la versión King James, se usa la palabra "wilderness" para describir el tipo de territorio por el que
            iban
            caminando los israelitas durante el éxodo, desde su salida de Egipto hasta su entrada en la Tierra
            Prometida. El uso
            de esta palabra por King James es correcto, pero en otras versiones se usa la palabra "desierto", lo cual
            trae
            confusión al lector. La palabra "wilderness" se usa para indicar un lugar deshabitado, no necesaria-mente un
            lugar sin
            agua ni vegetación.</Paragraph>
        <Paragraph> El significado primario de la palabra "desierto" en español, es un lugar solitario, donde no hay habitantes,
            o al
            menos son muy escasos. Por extensión, se le ha llamado desierto a los lugares áridos, que no tienen agua ni
            vegetación, como es el Sahara. Esto ocurre porque, lógicamente, si no hay agua ni vegetación, tampoco va a
            haber
            personas, y por lo tanto, ese lugar va a estar completamente desierto.</Paragraph>
        <Paragraph> Observen el uso de la palabra "desierto". Si en un pueblo no hay gente, se dice que el pueblo está desierto.
            Si
            varias personas han aspirado a un premio, pero ninguna lo ha logrado, se dice que el premio quedó desierto.
            También se
            le dice desertor a un soldado que deja su puesto. Lo mismo se dice, al menos en inglés, "He deserted his
            wife", para
            el que ha abandonado a su esposa. En inglés es menos usado en ese sentido que en español, por lo cual, el
            uso de la
            palabra "wilderness" por parte de King James, es lo correcto.</Paragraph>
        <Paragraph><Bold> No obstante, son muchos los lectores de King James que, motivados por las tres o cuatro veces que
            hubo
            crisis por la falta de agua para el pueblo durante el éxodo, creen que la palabra "wilderness" implica un
            lugar sin
            agua ni vegetación,</Bold> al igual que lo piensan los que leen en español.</Paragraph>
        <Paragraph><Bold>Para entender por qué sufrieron escasez de agua tres o cuatro veces durante los 40 años de
            éxodo</Bold>,
            debemos tener en cuenta lo siguiente. Según Nm 1:46 los hombres de más de 20 años, contados durante el
            éxodo, fueron
            603,550. Si nos guiamos por cualquier tabla demográfica podemos calcular que si había esa cantidad de
            hombres de 20
            años arriba, había por lo menos la misma cantidad de mujeres, y otro tanto de niños, a lo cual debemos sumar
            los
            extranjeros, y aún egipcios que se les habían unido para escaparse de Egipto. Si multiplicamos por tres el
            número de
            hombres, y le sumamos los extranjeros, no será exagerado decir que en el éxodo participaron dos millones de
            seres
            humanos, con sus burros, caballos, bueyes, ovejas, chivos, gallinas, perros, etc..</Paragraph>
        <Paragraph><Bold>Encontrar agua para todas las necesidades de dos millones de personas</Bold>, en un lugar
            incivilizado,
            donde no hay poblaciones, ni fincas, ni pozos, es una tarea ciclópea. Por eso tres o cuatro veces tuvieron
            problemas
            de falta de agua durante los 40 años del éxodo. El problema no era que estaban en un desierto como el
            Sahara, sino que
            tenían que hallar agua para dos millones de personas y sus animales y eso no se encuentra fácilmente en
            lugares
            inhabitados.</Paragraph>
        <Paragraph><Bold>Si vamos ahora a ver el uso que de la palabra desierto se hace en la Biblia</Bold> notaremos que
            los
            lugares calificados como "desierto" en versiones españolas, o "wilderness" en versiones inglesas, no eran
            terrenos sin
            agua ni vegetación. Veamos algunos ejemplos.</Paragraph>
        <Paragraph> Tengamos primero en cuenta que un desierto es un lugar deshabitado, aunque tenga mucha vegetación y mucha
            agua. Es
            un lugar solitario, la gente no tiene facilidades para vivir allí. Por ejemplo, en este sentido, la selva
            del Amazonas
            es un desierto, pero no es un lugar árido y sin agua. Puede que un lugar no esté habitado por otros motivos,
            no por
            falta de vegetación y agua. En el siguiente pasaje veremos que en el "desierto" donde bautizaba Juan, había
            suficiente
            agua para bautizar a las multitudes.</Paragraph>
        <Paragraph> "<Bold>Bautizaba</Bold> <i>Juan <Bold>en el desierto</Bold>, y predicaba el bautismo del
            arrepentimiento
            para remisión de pecados</i>." (Mr 1:4)</Paragraph>
        <Paragraph><Bold>Si Juan bautizaba en el "desierto" es porque había allí suficiente agua como para que la gente se
            metiera en
            ella al menos hasta la cintura</Bold>. Por lo tanto, el llamado "desierto" no era un lugar como el Sahara,
            sino un
            lugar como el campo o los bosques de nuestros países, cuando se hallan lejos de las ciudades y de las
            carreteras.
            Puede ser un lugar donde no hay facilidades para vivir, pero puede haber ríos y un lagos.</Paragraph>
        <Paragraph><Bold>Un poco más adelante</Bold>, en Mr 6:35-39, a pesar de que en el versículo 35 se habla de
            "desierto", en el
            39 se ve que <Bold>allí había hierba verde</Bold>. Esto da la tónica de a qué cosa ellos llamaban
            "desierto". Le
            llamaban desierto a un territorio despoblado.</Paragraph>
        <Paragraph> "35 <i>Y como ya fuese el día muy entrado, sus discípulos llegaron a él, diciendo: <Bold>El lugar es
            desierto</Bold>, y el día ya muy entrado;</i> 36 <i>envíalos para que vayan a los cortijos y aldeas de
            alrededor, y
            compren para sí pan; porque no tienen qué comer.</i> 37 <i>Y respondiendo él, les dijo: Dadles de comer
            vosotros. Y le
            dijeron: ¿Que vayamos y compremos pan por doscientos denarios, y les demos de comer?</i> 38 <i>Y él les
            dice: ¿Cuántos
            panes tenéis? Id, y vedlo. Y sabiéndolo, dijeron: Cinco, y dos peces.</i> 39 <i>Y les mandó que hiciesen
            recostar a
            todos por partidas <Bold>sobre la hierba verde</Bold></i>." (Mr 6:35-39)</Paragraph>
        <Paragraph> Si leemos Jn 6:10 donde se relata este mismo episodio, veremos que dice que <Bold>había mucha
            hierba</Bold>. Si
            había mucha hierba no pueden estar hablando de un lugar estéril, de un páramo, sino de un lugar solitario,
            un lugar
            sin gente.</Paragraph>
        <Paragraph> "<i>Entonces Jesús dijo: Haced recostar la gente. <Bold>Y había mucha hierba en aquel lugar</Bold>; y
            recostáronse como número de cinco mil varones</i>." (Jn 6:10)</Paragraph>
        <Paragraph><Bold>Otro buen ejemplo es Ex 19:1</Bold>. En este versículo vemos que el pueblo llegó al <Bold>"desierto"
            de
            Sinaí</Bold>. Este "desierto" era un lugar inhabitado, no un lugar estéril o infecundo. No era un páramo
            exento de
            agua y vegetación. <Bold>Para decir esto me baso en el hecho de que para alimentar a las ovejas, vacas,
                asnos, etc,
                tenía que haber hierba y agua en el lugar; y en el hecho probado de que tenía suficiente agua, no solo
                para beber,
                sino para lavar la ropa, como podemos constatar en Ex 19:14</Bold>.</Paragraph>
        <Paragraph> "<i>Al mes tercero de la salida de los hijos de Israel de la tierra de Egipto, en aquel día <Bold>vinieron
            al
            desierto de Sinaí</Bold></i>." (Ex 19:1)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Y descendió Moisés del monte al pueblo, y santificó al pueblo; y <Bold>lavaron sus
            vestidos</Bold></i>." (Ex
            19:14)</Paragraph>
        <Paragraph><Bold>Cuando el pueblo se fabricó el becerro de oro</Bold>, el lugar donde se hallaban no carecía de
            agua, no era
            lo que hoy en día se considera un desierto. Lo prueba el hecho de que en el "desierto" donde el pueblo se
            hallaba
            corría un arroyo, que fue donde Moisés echó el polvo del becerro de oro. Eso no quiere decir que siempre
            había de
            donde sacar agua, y menos para un pueblo compuesto por más de <Bold>dos millones de personas con sus
                animales,</Bold> pero tampoco quiere decir que cuando mencionan la palabra "desierto" debemos
            imaginarnos un lugar
            donde sólo se ve arena. Otro tanto vemos en Dt 10:7 en donde también se menciona la existencia de arroyos.
        </Paragraph>
        <Paragraph> "<i>Y tomé vuestro pecado, el becerro que habíais hecho, y lo quemé en el fuego, y lo desmenucé moliéndole
            muy bien,
            hasta que fue reducido a polvo; y eché el polvo de él <Bold>en el arroyo que descendía del monte</Bold></i>."
            (Dt
            9:21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>De allí partieron a Gudgod, y de Gudgod a Jotbath, <Bold>tierra de arroyos de aguas</Bold></i>." (Dt
            10:7)
        </Paragraph>
        <Paragraph><Bold>Usando el sentido común</Bold>, nos tenemos que dar cuenta de que si aquel pueblo sacrificaba
            diariamente
            en el Tabernáculo del Testimonio, ovejas, cabras y bueyes, es porque podían criarlos y alimentarlos. Por lo
            tanto,
            tenían hierba y agua para los animales, al igual que para las personas. Igualmente, en el siguiente pasaje
            se declara
            que <Bold>el fuego del altar tenía que arder constantemente sin apagarse</Bold>, por consiguiente, el
            sacerdote
            tenía que tener suficiente leña para ponerla constantemente sobre el altar.</Paragraph>
        <Paragraph> "12 <i>Y el fuego encendido sobre el altar no ha de apagarse, sino que <Bold>el sacerdote pondrá en él
            leña cada
            mañana</Bold>, y acomodará sobre él el holocausto, y quemará sobre él los sebos de las paces.</i> 13
            <i><Bold>El
                fuego ha de arder continuamente</Bold> en el altar; no se apagará</i>." (Lev 6:12-13)</Paragraph>
        <Paragraph> Dado que según vemos, en este momento los israelitas se hallaban al comienzo de su peregrinaje de 40 años,
            en medio
            de una región despoblada, es lógico razonar que el tal desierto no es lo que hoy se ve en el Sahara o
            páramos
            parecidos. Es evidente que <Bold>en ese llamado desierto había suficiente cantidad de vegetación arbórea,
                como para
                producir toda la leña que se necesitaba para quemar constantemente sobre el altar</Bold>, cada día,
            durante todo
            el año. Y no solamente para el altar, sino para la comida y demás usos de todo un pueblo de un par de
            millones de
            personas. No era aquella una región árida (estéril ), sino una región desierta sin gente, sin ciudades.</Paragraph>
        <Paragraph><Bold>Algo semejante se puede razonar de Nm 15:32.</Bold> Como se ve en este versículo, a lo que en la
            Biblia le
            llaman "desierto" no es siempre lo que hoy nosotros concebimos como tal. Para nosotros, "desierto" son las
            dunas del
            Sahara, donde nada, sino cielo y arena ven nuestros ojos. Aquí, evidentemente, no es ese el concepto que se
            halla tras
            la palabra "desierto", <Bold>puesto que este hombre se hallaba recogiendo leña en ese "desierto"</Bold>.
            Si había
            leña en el desierto, es porque había árboles y arbustos de los cuales sacarla; había vida vegetal superior.
        </Paragraph>
        <Paragraph> "<i>Y estando los hijos de Israel <Bold>en el desierto</Bold>, hallaron un hombre que <Bold>recogía
            leña en
            día de sábado</Bold></i>." (Nm 15:32)</Paragraph>
        <Paragraph><Bold>Al leer Nm 11:9 se ve que este supuesto "desierto"</Bold> por donde andaban los israelitas durante
            el
            Éxodo, no era un lugar seco, puesto que había rocío por la noche. En otras ocasiones, como en I R 17:1,
            vemos que para
            que se acabara el rocío, tenía que haber una sequía muy grande, como en la época de Elías. Por lo tanto, la
            presencia
            del rocío en este supuesto "desierto", nos hace ver que era un terreno más fértil que el de Israel en
            tiempos de la
            sequía de tres años y medio que trajo Elías.</Paragraph>
        <Paragraph> "<i>Y <Bold>cuando descendía el rocío</Bold> sobre el real de noche, el maná descendía de sobre él</i>."
            (Nm
            11:9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Entonces Elías Thisbita, que era de los moradores de Galaad, dijo a Achab: Vive Jehová Dios de Israel,
            delante
            del cual estoy, que <Bold>no habrá lluvia ni rocío</Bold> en estos años, sino por mi palabra</i>." (I R
            17:1)</Paragraph>
        <Paragraph><Bold>Hay otros pasajes de los que se deduce también</Bold>, que el territorio por donde andaban los
            hijos de
            Israel, no era un lugar sin agua ni vegetación. En I Sam 23:15 se ve que la palabra se usa con el
            significado de
            "paraje solitario", "lugar despoblado", pues <Bold>en ese "desierto" había un bosque</Bold>. Si se
            refiriera a un
            lugar árido, como el Sahara, no podría haber allí un bosque. Es casi seguro que sea con ese significado de
            "lugar
            despoblado", que se usa la palabra "desierto" en Apocalipsis 12: 6 y 14.</Paragraph>
        <Paragraph> "<i>Viendo pues David que Saúl había salido en busca de su alma, se estaba él <Bold>en el bosque en el
            desierto de
            Zif</Bold></i>." (I Sam 23:15)</Paragraph>
        <Paragraph><Bold>Algo parecido vemos en I Sam 24:1-4</Bold> donde andando David por el desierto de Engaddi llegó a
            donde
            había una majada de ovejas. Si había una majada es porque se podían criar ovejas, y si se podían criar
            ovejas es
            porque había hierba y agua.</Paragraph>
        <Paragraph> "1 <i>Y como Saúl volvió de los filisteos, le dieron aviso diciendo: He aquí que <Bold>David está en el
            desierto
            de Engaddi</Bold>.</i> 2 <i>Y tomando Saúl tres mil hombres escogidos de todo Israel, fue en busca de
            David y de los
            suyos, por las cumbres de los peñascos de las <Bold>cabras monteses</Bold>.</i> 3 <i>Y como llegó a
            <Bold>una
                majada de ovejas</Bold> en el camino, donde había una cueva, entró Saúl en ella a cubrir sus pies; y
            David y los
            suyos estaban a los lados de la cueva</i>." (I Sam 24:1-3)</Paragraph>
        <Paragraph><Bold>También vemos en Ex 3:1 que Moisés apacentaba las ovejas</Bold> de su suegro <Bold>en el
            "desierto"</Bold> donde tuvo la visión de la zarza que ardía y no se consumía.</Paragraph>
        <Paragraph> "<Bold>Y apacentando Moisés las ovejas</Bold> <i>de Jethro su suegro, sacerdote de Madián, <Bold>llevó
            las
            ovejas detrás del desierto</Bold>, y vino a Horeb, monte de Dios</i>." (Ex 3:1)</Paragraph>
        <Paragraph><Bold>San Pablo le da el uso de "lugar sin habitantes", a la palabra "desierto"</Bold>. En II Co 11:26
            vemos que
            él contrapone la frase, "peligros en la ciudad", a la frase "peligros en el desierto". Es decir, peligro
            donde hay
            habitantes y peligros donde estamos en solitario.</Paragraph>
        <Paragraph> "<i>En caminos muchas veces, peligros de ríos, peligros de ladrones, peligros de los de mi nación, peligros
            de los
            gentiles, <Bold>peligros en la ciudad</Bold>, <Bold>peligros en el desierto</Bold>, peligros en la
            mar,
            peligros entre falsos hermanos</i>" (II Co 11:26)</Paragraph>
        <Paragraph><Bold>Si vamos a Mt 3:1-4 veremos que Juan Bautista hallándose en el desierto, se alimentaba con miel
            silvestre. Si
            había miel es porque había flores</Bold> en ese lugar. No se trata de un lugar donde no hay vegetación,
            porque si
            así fuera no podría haber flores ni abejas ni miel. Desierto quiere decir solitario, sin gente, mientras que
            páramo
            significa sin vegetación.</Paragraph>
        <Paragraph> "1 <i>Y en aquellos días vino Juan el Bautista predicando en <Bold>el desierto de Judea</Bold>, 2 Y
            diciendo:
            Arrepentíos, que el Reino de los Cielos se ha acercado.</i> 3 <i>Porque éste es aquel del cual fue dicho por
            el
            profeta Isaías, que dijo: Voz de uno que clama en el desierto: Aparejad el camino del Señor, enderezad sus
            veredas. 4
            Y tenía Juan su vestido de pelos de camellos, y una cinta de cuero alrededor de sus lomos; y <Bold>su
                comida era
                langostas y miel silvestre</Bold></i>." (Mt 3:1-4)</Paragraph>
        <Paragraph> Como hemos visto en todos estos pasajes leídos y en todos los razonamientos que hemos hecho, la palabra
            "desierto"
            en español y la palabra "wilderness" en inglés, no describen un lugar sin agua ni vegetación, sino un lugar
            solitario,
            un lugar sin habitantes o con muy pocos habitantes.</Paragraph>
        <Paragraph> Muchos han creído que la Tierra Prometida era semi-árida, porque ven que ahora gran parte de ella es
            semi-árida,
            pero en aquella época era una tierra muy fértil. Lo que sucede es que el pecado echa a perder la tierra y el
            clima,
            como bien claramente dice Gn 4:11-12 y Sal 107:33-34.</Paragraph>
        <Paragraph> "11 <i>Ahora pues, maldito seas tú de la tierra que abrió su boca para recibir la sangre de tu hermano de tu
            mano.</i> 12 <i>Cuando labrares la tierra, no te volverá a dar su fuerza; errante y extranjero serás en la
            Tierra</i>."
            (Gn 4:11-12)</Paragraph>
        <Paragraph> En otros varios pasajes he observado que el pecado del pueblo que habita una tierra repercute en forma
            dañina en el
            clima, en la fertilidad, y en la sanidad del territorio por ellos habitado. En el siguiente pasaje se ve
            claramente
            que la infertilidad del territorio está ligada a la maldad de sus habitantes. Es decir, que <Bold>el
                pecado
                continuado e irredento puede hacer inhóspito un territorio.</Bold></Paragraph>
        <Paragraph> "<i>Él vuelve los ríos en desierto, y los manantiales de las aguas en secadales; <Bold>la tierra
            fructífera en
            salados, por la maldad de los que la habitan</Bold></i><Bold>.</Bold>" (Sal 107:33-34)</Paragraph>
        <Paragraph> Otro tanto dice en I R 8:35 y II Cr 6:26. Salomón, haciendo el discurso de inauguración del Templo, le pide
            a Dios
            que atienda a las oraciones del pueblo cuando por haber ellos pecado, la lluvia se detenga.</Paragraph>
        <Paragraph> "<i>Cuando el cielo se cerrare, y <Bold>no lloviere, por haber ellos pecado contra ti</Bold>, y te
            rogaren en
            este lugar, y confesaren tu nombre, y se volvieren del pecado, cuando los hubieres afligido; Tú oirás en los
            Cielos, y
            <Bold>perdonarás el pecado de tus siervos</Bold> y de tu pueblo Israel, enseñándoles el buen camino en
            que anden;
            y <Bold>darás lluvias sobre tu tierra</Bold>, la cual diste a tu pueblo por heredad</i>." (I R 8:35)</Paragraph>
        <Paragraph> "<i>Si los cielos se cerraren, <Bold>que no haya lluvias por haber pecado contra ti,</Bold> si oraren a
            ti en
            este lugar, y confesaren tu nombre, y se convirtieren de sus pecados, cuando los afligieres</i>" (II Cr
            6:26)</Paragraph>
        <Paragraph><Bold>Cuando se cometió el primer pecado una de las primeras reacciones fue que la tierra produciría
            espinas y
            cardos y que sería cosa trabajosa sacarle el sustento diario</Bold>. Así que no es nada extraño que los
            pecados de
            los habitantes de una región echen a perder el clima y la tierra.</Paragraph>
        <Paragraph> "<i>Y al hombre dijo: Por cuanto obedeciste a la voz de tu mujer, y comiste del árbol de que te mandé
            diciendo: No
            comerás de él; maldita será la tierra por amor de ti; <Bold>con dolor comerás de ella todos los días de tu
                vida;
                espinos y cardos te producirá</Bold>, y comerás hierba del campo; <Bold>en el sudor de tu rostro
                comerás el
                pan</Bold> hasta que vuelvas a la tierra; porque de ella fuiste tomado, pues polvo eres, y al polvo
            serás tornado</i>."
            (Gn 3:17-19)</Paragraph>
        <Paragraph><Bold>Otro argumento que desmiente la idea de que la Tierra Prometida no era suficientemente
            fértil,</Bold> es II
            R 18:32, pues, es el mismo Senaquerib, rey de Asiria, acostumbrado a ver la fértil Mesopotamia, quien dice
            aquí que la
            tierra de Israel era igual que la de él. No dice que la de él era mejor, sino que era igual: tierra de
            grano, vino,
            pan, viñas, olivas, aceite y miel.</Paragraph>
        <Paragraph> "<i>Hasta que yo venga, y os lleve a <Bold>una tierra como la vuestra, tierra de grano y de vino, tierra
            de pan y
            de viñas, tierra de olivas, de aceite, y de miel</Bold>; y viviréis, y no moriréis. No oigáis a Ezequías,
            porque os
            engaña cuando dice: Jehová nos librará</i>." (II R 18:32)</Paragraph>
        <Paragraph> Es evidente que el pueblo, durante el éxodo no andaba por regiones áridas, sin vegetación y carentes de
            agua, sino
            en una región fértil, pero deshabitada, inculta, sin las facilidades que para el diario vivir tiene una
            tierra
            habitada. Es evidente también, que de acuerdo a la palabra de Dios, la Tierra Prometida era un lugar
            extremadamente
            fértil. <Bold>Durante los 40 años de éxodo, el pueblo enfrentó tres o cuatro crisis de agua, pero el resto
                del
                tiempo ellos tenían suficiente</Bold>.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    