---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El profeta Miqueas hijo de Imla no mintió">
    <Content>
        <Paragraph><Bold>LOS 400 PROFETAS DE ACHAB: EL ENGAÑO. ¿MINTIÓ MIQUEAS HIJO DE IMLA?</Bold></Paragraph>
        <Paragraph> Primeramente es bueno percatarnos de que este profeta<Bold>,</Bold> de nombre Miqueas<Bold>,</Bold>
            no es
            Miqueas de Morasti<Bold>,</Bold> el que escribió uno de los últimos libros del Antiguo
            Testamento<Bold>,</Bold> sino que se trata de Miqueas hijo de Imla<Bold>.</Bold></Paragraph>
        <Paragraph> Antes de comenzar a analizar este pasaje<Bold>,</Bold> sobre los que pudiera parecernos una mentira de
            Miqueas<Bold>,</Bold> es bueno tratar de darnos cuenta de quiénes eran estos 400 profetas que tenía
            Achab<Bold>,</Bold> el rey de Israel<Bold>,</Bold> al norte<Bold>.</Bold> Estos 400 profetas
            <Bold>"</Bold>profetizaban<Bold>"</Bold> cosas halagüeñas para el rey Achab<Bold>,</Bold>
            mientras que
            Miqueas hijo de Imla<Bold>,</Bold> los contradecía<Bold>,</Bold> de parte de Dios<Bold>.</Bold>
            Estos
            eran falsos profetas de Dios<Bold>,</Bold> pero no eran profetas de Baal<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Digo que estos 400 no eran profetas de Baal por dos razones: una,</Bold> porque Elías había matado
            todos
            los 450 profetas de Baal<Bold>,</Bold> no mucho antes<Bold>,</Bold> y es muy dudoso que hubieran
            podido
            reunir en tan poco tiempo<Bold>,</Bold> otros 400<Bold>;</Bold> <Bold>la otra razón</Bold> es
            que
            ellos<Bold>,</Bold> aunque falsamente<Bold>,</Bold> se llamaban a sí mismos profetas de
            Jehová<Bold>.</Bold> Prueba de ello es que <Bold>hablaban en nombre de Dios,</Bold> como vemos en 22<Bold>:</Bold>11-12
            y 24<Bold>.</Bold> No es eso nada raro<Bold>,</Bold> hoy en día hay muchos que predican en el nombre
            de Dios
            y de Cristo y no creen en ellos<Bold>.</Bold> El mismo caso del profeta Hananías<Bold>,</Bold> en el
            capítulo 28 de Jeremías<Bold>,</Bold> es buena prueba de esto que digo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y Sedecías hijo de Chanaana se había hecho unos cuernos de hierro<Bold>,</Bold> y
            dijo<Bold>:</Bold> <Bold>Así ha dicho Jehová:</Bold> Con éstos acornearás a los Siros hasta
            acabarlos<Bold>.</Bold> Y todos los profetas profetizaban de la misma manera<Bold>,</Bold>
            diciendo<Bold>:</Bold> Sube a Ramoth de Galaad<Bold>,</Bold> y serás prosperado<Bold>;</Bold>
            <Bold>que
                Jehová la dará en mano del rey</Bold></i><Bold>."</Bold> (I R 22<Bold>:</Bold>11-12)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Llegándose entonces Sedecías hijo de Chanaana<Bold>,</Bold> hirió a Miqueas en la
            mejilla<Bold>,</Bold> diciendo<Bold>:</Bold> <Bold>¿Por dónde se fue de mí</Bold> <Bold>el
                espíritu de
                Jehová</Bold> <Bold>para hablarte a ti</Bold></i><Bold>?"</Bold> ( I R 22<Bold>:</Bold> 24
            )</Paragraph>
        <Paragraph> Además<Bold>,</Bold> a la luz de este pasaje<Bold>,</Bold> que menciona 400 profetas
            vivos<Bold>,</Bold>
            adquiere claridad el pasaje de la ejecución de los 450 profetas de Baal<Bold>.</Bold> En I R
            18<Bold>:</Bold>19 vemos que Elías menciona los 400 profetas de los bosques<Bold>,</Bold> además de
            los 450
            profetas de Baal<Bold>.</Bold> Sin embargo<Bold>,</Bold> luego vemos en
            18<Bold>:</Bold>40<Bold>,</Bold> que a los que Elías mata es a los de Baal
            solamente<Bold>.</Bold>
            Pudiera ser que los 400 profetas de los bosques se consideraban ministros de Jehová<Bold>,</Bold> aunque
            tuvieran un culto irregular en los bosques<Bold>,</Bold> y no en el Templo de
            Jerusalem<Bold>,</Bold> al sur<Bold>.</Bold>
            Posiblemente por eso no los mató Elías<Bold>.</Bold> Sea que <Bold>estos 400 profetas
                mencionados</Bold> en
            I R 22<Bold>:</Bold>11-12 sean o no los mismos que los mencionados en
            18<Bold>:</Bold>19<Bold>,</Bold>
            lo cierto es que <Bold>se llamaban a sí mismos profetas de Dios,</Bold> aunque no lo fueran en
            realidad<Bold>.</Bold> Al menos<Bold>,</Bold> nominalmente<Bold>,</Bold> de dientes para
            fuera<Bold>,</Bold> invocaban Su nombre<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Envía pues ahora y júntame a todo Israel en el monte de Carmelo<Bold>,</Bold> y
            l<Bold>os
                cuatrocientos y cincuenta profetas de Baal,</Bold> y <Bold>los cuatrocientos profetas de los
                bosques,</Bold>
            que comen de la mesa de Jezabel</i><Bold>."</Bold> (I R 18<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y le dijo Elías<Bold>:</Bold> <Bold>Prended a los profetas de Baal,</Bold> que
            no escape
            ninguno<Bold>.</Bold> Y ellos los prendieron<Bold>;</Bold> y los llevó Elías al arroyo de
            Cisón<Bold>,</Bold> y allí los degolló</i><Bold>."</Bold> ( I R 18<Bold>:</Bold> 40 )</Paragraph>
        <Paragraph><Bold>Además de los anteriores razonamientos,</Bold> vemos que cuando Josafat de Judá pide a Achab de
            Israel que
            se consulte a Jehová<Bold>,</Bold> ( 5 ) Achab le trae estos 400 profetas<Bold>.</Bold> No es lógico
            pensar
            que si reconocidamente ellos hubieran sido profetas de Baal<Bold>,</Bold> Achab fuera a tratar de
            pasárselos a
            Josafat como profetas de Dios<Bold>.</Bold> Así que debemos concluir que aquellos hombres se calificaban
            a sí
            mismos como profetas de Dios<Bold>,</Bold> aunque parcial o totalmente fueran unos
            farsantes<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>"</Bold>5 <i>Y dijo luego Josafat al rey de Israel<Bold>:</Bold> <Bold>Yo te ruego que
            consultes hoy
            la palabra de Jehová.</Bold></i> 6 <i>Entonces el rey de Israel juntó los profetas<Bold>,</Bold>
            <Bold>como
                cuatrocientos hombres,</Bold> a los cuales dijo<Bold>:</Bold> <Bold>¿</Bold>Iré a la guerra
            contra Ramoth
            de Galaad<Bold>,</Bold> o la dejaré<Bold>?</Bold> Y ellos dijeron<Bold>:</Bold>
            Sube<Bold>,</Bold>
            porque el Señor la entregará en mano del rey<Bold>.</Bold></i> 7 <i>Y dijo Josafat<Bold>:</Bold>
            <Bold>¿Hay
                aún aquí algún profeta de Jehová, por el cual consultemos?</Bold></i> 8 <i>Y el rey de Israel
            respondió a
            Josafat<Bold>:</Bold> Aun hay un varón por el cual podríamos consultar a Jehová<Bold>,</Bold>
            <Bold>Miqueas,
                hijo de Imla;</Bold> mas yo le aborrezco porque nunca me profetiza bien<Bold>,</Bold> sino
            solamente
            mal<Bold>.</Bold> <Bold>Y Josafat dijo: No hable el rey así.</Bold></i> 9 <i>Entonces el rey de
            Israel llamó
            a un eunuco<Bold>,</Bold> y le dijo<Bold>:</Bold> trae presto a <Bold>Miqueas hijo de
                Imla</Bold></i><Bold>."</Bold> (I R 22<Bold>:</Bold>5-9)</Paragraph>
        <Paragraph> Así las cosas<Bold>,</Bold> cuando Josafat de Judá (donde se adoraba a Dios y no a Baal) pide consultar
            a
            Dios<Bold>,</Bold> le traen estos 400 profetas ( 6 )<Bold>.</Bold> Pero parece que Josafat no quedó
            muy
            convencido de la confiabilidad de estos 400 <Bold>"</Bold>profetas de Jehová<Bold>",</Bold> porque
            preguntó
            ( 7 ) que si no había otro profeta de Dios<Bold>.</Bold> A pesar de la renitencia de Achab rey de Israel
            a
            llamar <Bold>al verdadero profeta de Dios,</Bold> ante la insistencia del rey Josafat de Judá (8-9) optó
            por
            complacerlo<Bold>.</Bold> No podía Achab<Bold>,</Bold> por un capricho suyo<Bold>,</Bold>
            prescindir de
            una tan preciosa ayuda militar como eran las tropas de Josafat de Judá allí presentes<Bold>,</Bold> como
            vemos
            en el versículo cuatro<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y dijo a Josafat<Bold>:</Bold> <Bold>¿</Bold>Quieres venir conmigo a pelear
            contra
            Ramoth de Galaad<Bold>?</Bold> <Bold>Y Josafat respondió al rey de Israel:</Bold> Como
            yo<Bold>,</Bold>
            así tú<Bold>;</Bold> y como mi pueblo<Bold>,</Bold> así tu pueblo<Bold>;</Bold> y como mis
            caballos<Bold>,</Bold> tus caballos</i><Bold>."</Bold> ( I R 22<Bold>:</Bold> 4 )</Paragraph>
        <Paragraph> Es por eso que a pesar de la resistencia de Achab<Bold>,</Bold> <Bold>el profeta Miqueas entra en
            escena. Como
            veremos más adelante, en realidad Miqueas había sido enviado por Dios para que explicara cómo había espíritu
            de
            error en los otros 400 "profetas"; puesto que Dios no engaña ni deja engañado a quien quiera saber la
            verdad.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>15 <i>Vino pues al rey<Bold>,</Bold> y el rey le dijo<Bold>:</Bold>
            Miqueas<Bold>,</Bold> <Bold>¿</Bold>iremos a pelear contra Ramoth de Galaad<Bold>,</Bold> o la
            dejaremos<Bold>?</Bold>
            <Bold>Y él respondió: Sube, que serás prosperado, y Jehová la entregará en mano del rey.</Bold></i> 16
            <i>Y el
                rey le dijo<Bold>:</Bold> <Bold>¿Hasta cuántas veces he de conjurarte que no me digas sino la
                    verdad en el
                    nombre de Jehová?</Bold></i> 17 <i>Entonces él dijo<Bold>:</Bold> <Bold>Yo vi a todo Israel
                esparcido
                por los montes, como ovejas que no tienen pastor; y Jehová dijo: Estos no tienen señor; vuélvase cada
                uno a su casa
                en paz</Bold></i><Bold>."</Bold> ( I R 22<Bold>:</Bold> 15-17 )</Paragraph>
        <Paragraph> Aunque Miqueas en el versículo 15 dice una cosa que no es cierta<Bold>,</Bold> no se le puede calificar
            de
            mentira<Bold>,</Bold> porque a todas luces se da uno cuenta de que fue dicho en una
            forma<Bold>,</Bold> que
            nadie<Bold>, ni aún Achab</Bold> (16)<Bold>,</Bold> lo creería<Bold>.</Bold> <Bold>Posiblemente
                el
                tono de la voz, los gestos y ademanes de las manos y de la cara, etc., indicaban que hablaba en forma
                irónica,
                en forma burlona.</Bold> O sea<Bold>,</Bold> que por el contexto nos damos cuenta de que aquello
            lo dijo
            Miqueas en forma que todos iban a entender que la verdad era otra<Bold>.</Bold></Paragraph>
        <Paragraph> Me baso para creerlo así en la reacción de Achab en el versículo 16<Bold>.</Bold> Si Miqueas hubiera
            dicho
            aquello en forma que pudiese haberse tomado como que estaba hablando en serio<Bold>,</Bold>
            Achab<Bold>,</Bold> a quien convenía que la gente creyera que también Miqueas profetizaba en su
            favor<Bold>,</Bold> se hubiera callado la boca y no lo hubiera increpado<Bold>,</Bold> como se ve
            que hizo
            en el 16<Bold>.</Bold> Sin embargo<Bold>,</Bold> por la forma airada<Bold>,</Bold> en que
            respondió
            Achab de Israel<Bold>,</Bold> nos damos cuenta de que él no podía tomar lo dicho por
            Miqueas<Bold>,</Bold>
            como una cosa aceptable<Bold>.</Bold> <Bold>Así que en esto Miqueas hijo de Imla no mintió, sino que
                habló en
                una forma irónica que era evidente a todos.</Bold></Paragraph>
        <Paragraph> Si Miqueas hubiera dicho lo que dijo en el versículo 15 en una forma creíble para la
            multitud<Bold>,</Bold>
            Achab se hubiera callado la boca y lo hubiera dejado pasar<Bold>,</Bold> porque convenía a sus
            propósitos de
            animar a la gente para la guerra<Bold>.</Bold> Si nosotros hoy en día no podemos percibir la verdadera
            forma en
            que aquello se dijo<Bold>,</Bold> es porque no oímos el tono de voz del profeta ni vemos su cara ni sus
            ademanes<Bold>,</Bold>
            pero nos podemos guiar por el contexto<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En la vida corriente nosotros hablamos muy a menudo como Miqueas.</Bold> A veces alguien
            pregunta<Bold>:</Bold> <Bold>¿</Bold>has visto a Fulano<Bold>?</Bold> y su interlocutor responde<Bold>,</Bold>
            <Bold>"</Bold>Sí<Bold>,</Bold> un perro se lo llevaba en la boca<Bold>".</Bold> Todos sin
            embargo<Bold>,</Bold> entendemos que quiere decir que no lo ha visto<Bold>.</Bold> Aunque no es
            cierto lo
            que dijo<Bold>,</Bold> tampoco es una mentira<Bold>,</Bold> porque está dicha para que nadie la crea<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>Lo que sucedió con Miqueas es totalmente opuesto a lo que sucedió con los 400 profetas.</Bold>
            Miqueas dice
            algo falso con el propósito de que nadie lo crea<Bold>,</Bold> a fin de poder aclarar
            luego<Bold>;</Bold>
            sin embargo<Bold>,</Bold> los cuatrocientos profetas dicen algo falso para que sí se crea que es cierto
            y sin el
            propósito de aclarar luego<Bold>.</Bold> <Bold>¿</Bold>Ahora bien<Bold>,</Bold> quién engañó a
            los
            profetas<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>Ante todo vemos en 19-23 que en aquella época aún vivían en el cielo los espíritus rebeldes,</Bold>
            y
            asistían ante el Trono de Dios al igual que se ve en Job<Bold>,</Bold> capítulo uno<Bold>.</Bold>
            Esto
            siguió siendo así hasta que ellos se atrevieron a atentar contra la vida de Jesús<Bold>,</Bold> época en
            la que
            fueron expulsados del Cielo a la Tierra<Bold>.</Bold></Paragraph>
        <Paragraph> Pues bien<Bold>,</Bold> uno de estos espíritus de mentira o ángeles rebeldes<Bold>,</Bold> propuso
            engañar a
            los 400 profetas de Achab<Bold>.</Bold> Dios le permitió hacer tal cosa ( 22 )<Bold>,</Bold>
            <Bold>pero no
                consintió que el engaño quedara sin aclaración, aún delante de aquel a quien se pretendía inducir a
                subir a
                pelear a Ramoth de Galaad: el rey Achab.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>19 <i>Entonces él dijo<Bold>:</Bold> Oye pues palabra de Jehová<Bold>:</Bold> Yo vi
            a
            Jehová sentado en su trono<Bold>,</Bold> y todo el ejército de los cielos estaba junto a
            él<Bold>,</Bold> a
            su diestra y a su siniestra<Bold>.</Bold></i> 20 <i>Y Jehová dijo<Bold>:</Bold> <Bold>¿</Bold>Quién
            inducirá a Achab<Bold>,</Bold> para que suba y caiga en Ramoth de Galaad<Bold>?</Bold> Y uno decía
            de una
            manera<Bold>;</Bold> y otro decía de otra<Bold>.</Bold> 21 Y salió un espíritu<Bold>,</Bold> y
            se puso
            delante de Jehová<Bold>,</Bold> y dijo<Bold>:</Bold> Yo le induciré<Bold>.</Bold> Y Jehová le
            dijo<Bold>:</Bold> <Bold>¿</Bold>De qué manera<Bold>?</Bold></i> 22 <i>Y él
            dijo<Bold>:</Bold>
            <Bold>Yo saldré, y seré espíritu de mentira en boca de todos sus profetas.</Bold> Y Él
            dijo<Bold>:</Bold>
            Inducirlo has<Bold>,</Bold> y aun saldrás con ello<Bold>;</Bold> sal pues<Bold>,</Bold> y hazlo
            así<Bold>.</Bold></i> 23 <i><Bold>Y ahora, he aquí Jehová ha puesto espíritu de mentira en la boca de
            todos
            estos tus profetas,</Bold> y Jehová ha decretado el mal acerca de ti</i><Bold>."</Bold> ( I R
            22<Bold>:</Bold> 19-23 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>Entonces el rey de Israel dijo<Bold>:</Bold> Toma a Miqueas<Bold>,</Bold> y
            vuélvelo
            a Amón gobernador de la ciudad<Bold>,</Bold> y a Joas hijo del rey<Bold>;</Bold></i> 27 <i>y
            dirás<Bold>:</Bold> Así ha dicho el rey<Bold>:</Bold> Echad a éste en la cárcel<Bold>,</Bold> y
            mantenedle con pan de angustia y con agua de aflicción<Bold>,</Bold> <Bold>hasta que yo vuelva en
                paz.</Bold></i> 28 <Bold>Y dijo Miqueas: Si llegares a volver en paz, Jehová no ha hablado por
            mí.</Bold>
            <i>En seguida dijo<Bold>:</Bold> Oíd<Bold>,</Bold> pueblos todos</i><Bold>."</Bold> ( I R
            22<Bold>:</Bold> 26-28 )</Paragraph>
        <Paragraph><Bold>Así vemos en 19-23 y 28 que un verdadero profeta de Dios aclara todo lo ocurrido detalladamente; así
            que ya
            no había engaño.</Bold> No sólo estaba él diciendo la verdad<Bold>,</Bold> sino que aclaraba por qué
            los otros
            estaban profetizando la mentira<Bold>.</Bold> La culpa era de los que no querían creerle al profeta
            verdadero y
            preferían creerle a los falsos profetas<Bold>,</Bold> que hablaban lo que a <Bold>"</Bold>los
            engañados<Bold>"</Bold> les gustaba oír<Bold>.</Bold> Es el mismo caso de los ángeles
            rebeldes<Bold>,</Bold> que parecen no querer creer lo que les va a suceder<Bold>.</Bold> O el caso
            de las
            religiones falsas y el cristianismo verdadero<Bold>.</Bold> Dios permite que las religiones falsas
            (espiritismo<Bold>,</Bold> budismo<Bold>,</Bold> judaísmo<Bold>,</Bold>
            ruselismo<Bold>,</Bold>
            armstrongismo<Bold>,</Bold> islamismo<Bold>,</Bold> mormonismo<Bold>,</Bold>
            romanismo<Bold>,</Bold>
            etc<Bold>.,</Bold>) que son los falsos profetas de hoy<Bold>,</Bold> digan sus
            mentiras<Bold>,</Bold>
            pero desde siempre ha mantenido las Sagradas Escrituras y a los que se basan en ellas para
            predicar<Bold>,</Bold> a fin de que todos sepan cuál es la verdadera verdad<Bold>,</Bold> y sepan
            también
            por qué están engañados los demás<Bold>.</Bold> La culpa es de la gente que prefiere creer la mentira de
            los que
            los halagan a ellos o a sus concupiscencias<Bold>.</Bold></Paragraph>
        <Paragraph> En el caso del rey Achab<Bold>,</Bold> a pesar de que él se halló frente a la verdad<Bold>,</Bold>
            la
            rechazó<Bold>,</Bold> porque le gustaba más lo que decían los 400 profetas falsos<Bold>,</Bold> lo
            cual
            concordaba con su afán de poder<Bold>,</Bold> con su deseo de conquistar aquella
            ciudad<Bold>,</Bold> o
            sea<Bold>,</Bold> con su concupiscencia<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    