---
import Layout from "../layout/Layout.astro";
---

<Layout title="El profeta Miqueas hijo de Imla no mintió">
    <section>
        <p><strong>LOS 400 PROFETAS DE ACHAB: EL ENGAÑO. ¿MINTIÓ MIQUEAS HIJO DE IMLA?</strong></p>
        <p> Primeramente es bueno percatarnos de que este profeta<strong>,</strong> de nombre Miqueas<strong>,</strong>
            no es
            Miqueas de Morasti<strong>,</strong> el que escribió uno de los últimos libros del Antiguo
            Testamento<strong>,</strong> sino que se trata de Miqueas hijo de Imla<strong>.</strong></p>
        <p> Antes de comenzar a analizar este pasaje<strong>,</strong> sobre los que pudiera parecernos una mentira de
            Miqueas<strong>,</strong> es bueno tratar de darnos cuenta de quiénes eran estos 400 profetas que tenía
            Achab<strong>,</strong> el rey de Israel<strong>,</strong> al norte<strong>.</strong> Estos 400 profetas
            <strong>"</strong>profetizaban<strong>"</strong> cosas halagüeñas para el rey Achab<strong>,</strong>
            mientras que
            Miqueas hijo de Imla<strong>,</strong> los contradecía<strong>,</strong> de parte de Dios<strong>.</strong>
            Estos
            eran falsos profetas de Dios<strong>,</strong> pero no eran profetas de Baal<strong>.</strong></p>
        <p><strong>Digo que estos 400 no eran profetas de Baal por dos razones: una,</strong> porque Elías había matado
            todos
            los 450 profetas de Baal<strong>,</strong> no mucho antes<strong>,</strong> y es muy dudoso que hubieran
            podido
            reunir en tan poco tiempo<strong>,</strong> otros 400<strong>;</strong> <strong>la otra razón</strong> es
            que
            ellos<strong>,</strong> aunque falsamente<strong>,</strong> se llamaban a sí mismos profetas de
            Jehová<strong>.</strong> Prueba de ello es que <strong>hablaban en nombre de Dios,</strong> como vemos en 22<strong>:</strong>11-12
            y 24<strong>.</strong> No es eso nada raro<strong>,</strong> hoy en día hay muchos que predican en el nombre
            de Dios
            y de Cristo y no creen en ellos<strong>.</strong> El mismo caso del profeta Hananías<strong>,</strong> en el
            capítulo 28 de Jeremías<strong>,</strong> es buena prueba de esto que digo<strong>.</strong></p>
        <p><strong>"</strong><i>Y Sedecías hijo de Chanaana se había hecho unos cuernos de hierro<strong>,</strong> y
            dijo<strong>:</strong> <strong>Así ha dicho Jehová:</strong> Con éstos acornearás a los Siros hasta
            acabarlos<strong>.</strong> Y todos los profetas profetizaban de la misma manera<strong>,</strong>
            diciendo<strong>:</strong> Sube a Ramoth de Galaad<strong>,</strong> y serás prosperado<strong>;</strong>
            <strong>que
                Jehová la dará en mano del rey</strong></i><strong>."</strong> (I R 22<strong>:</strong>11-12)</p>
        <p></p>
        <p><strong>"</strong><i>Llegándose entonces Sedecías hijo de Chanaana<strong>,</strong> hirió a Miqueas en la
            mejilla<strong>,</strong> diciendo<strong>:</strong> <strong>¿Por dónde se fue de mí</strong> <strong>el
                espíritu de
                Jehová</strong> <strong>para hablarte a ti</strong></i><strong>?"</strong> ( I R 22<strong>:</strong> 24
            )</p>
        <p> Además<strong>,</strong> a la luz de este pasaje<strong>,</strong> que menciona 400 profetas
            vivos<strong>,</strong>
            adquiere claridad el pasaje de la ejecución de los 450 profetas de Baal<strong>.</strong> En I R
            18<strong>:</strong>19 vemos que Elías menciona los 400 profetas de los bosques<strong>,</strong> además de
            los 450
            profetas de Baal<strong>.</strong> Sin embargo<strong>,</strong> luego vemos en
            18<strong>:</strong>40<strong>,</strong> que a los que Elías mata es a los de Baal
            solamente<strong>.</strong>
            Pudiera ser que los 400 profetas de los bosques se consideraban ministros de Jehová<strong>,</strong> aunque
            tuvieran un culto irregular en los bosques<strong>,</strong> y no en el Templo de
            Jerusalem<strong>,</strong> al sur<strong>.</strong>
            Posiblemente por eso no los mató Elías<strong>.</strong> Sea que <strong>estos 400 profetas
                mencionados</strong> en
            I R 22<strong>:</strong>11-12 sean o no los mismos que los mencionados en
            18<strong>:</strong>19<strong>,</strong>
            lo cierto es que <strong>se llamaban a sí mismos profetas de Dios,</strong> aunque no lo fueran en
            realidad<strong>.</strong> Al menos<strong>,</strong> nominalmente<strong>,</strong> de dientes para
            fuera<strong>,</strong> invocaban Su nombre<strong>.</strong></p>
        <p><strong>"</strong><i>Envía pues ahora y júntame a todo Israel en el monte de Carmelo<strong>,</strong> y
            l<strong>os
                cuatrocientos y cincuenta profetas de Baal,</strong> y <strong>los cuatrocientos profetas de los
                bosques,</strong>
            que comen de la mesa de Jezabel</i><strong>."</strong> (I R 18<strong>:</strong>19)</p>
        <p></p>
        <p><strong>"</strong><i>Y le dijo Elías<strong>:</strong> <strong>Prended a los profetas de Baal,</strong> que
            no escape
            ninguno<strong>.</strong> Y ellos los prendieron<strong>;</strong> y los llevó Elías al arroyo de
            Cisón<strong>,</strong> y allí los degolló</i><strong>."</strong> ( I R 18<strong>:</strong> 40 )</p>
        <p><strong>Además de los anteriores razonamientos,</strong> vemos que cuando Josafat de Judá pide a Achab de
            Israel que
            se consulte a Jehová<strong>,</strong> ( 5 ) Achab le trae estos 400 profetas<strong>.</strong> No es lógico
            pensar
            que si reconocidamente ellos hubieran sido profetas de Baal<strong>,</strong> Achab fuera a tratar de
            pasárselos a
            Josafat como profetas de Dios<strong>.</strong> Así que debemos concluir que aquellos hombres se calificaban
            a sí
            mismos como profetas de Dios<strong>,</strong> aunque parcial o totalmente fueran unos
            farsantes<strong>.</strong>
        </p>
        <p><strong>"</strong>5 <i>Y dijo luego Josafat al rey de Israel<strong>:</strong> <strong>Yo te ruego que
            consultes hoy
            la palabra de Jehová.</strong></i> 6 <i>Entonces el rey de Israel juntó los profetas<strong>,</strong>
            <strong>como
                cuatrocientos hombres,</strong> a los cuales dijo<strong>:</strong> <strong>¿</strong>Iré a la guerra
            contra Ramoth
            de Galaad<strong>,</strong> o la dejaré<strong>?</strong> Y ellos dijeron<strong>:</strong>
            Sube<strong>,</strong>
            porque el Señor la entregará en mano del rey<strong>.</strong></i> 7 <i>Y dijo Josafat<strong>:</strong>
            <strong>¿Hay
                aún aquí algún profeta de Jehová, por el cual consultemos?</strong></i> 8 <i>Y el rey de Israel
            respondió a
            Josafat<strong>:</strong> Aun hay un varón por el cual podríamos consultar a Jehová<strong>,</strong>
            <strong>Miqueas,
                hijo de Imla;</strong> mas yo le aborrezco porque nunca me profetiza bien<strong>,</strong> sino
            solamente
            mal<strong>.</strong> <strong>Y Josafat dijo: No hable el rey así.</strong></i> 9 <i>Entonces el rey de
            Israel llamó
            a un eunuco<strong>,</strong> y le dijo<strong>:</strong> trae presto a <strong>Miqueas hijo de
                Imla</strong></i><strong>."</strong> (I R 22<strong>:</strong>5-9)</p>
        <p> Así las cosas<strong>,</strong> cuando Josafat de Judá (donde se adoraba a Dios y no a Baal) pide consultar
            a
            Dios<strong>,</strong> le traen estos 400 profetas ( 6 )<strong>.</strong> Pero parece que Josafat no quedó
            muy
            convencido de la confiabilidad de estos 400 <strong>"</strong>profetas de Jehová<strong>",</strong> porque
            preguntó
            ( 7 ) que si no había otro profeta de Dios<strong>.</strong> A pesar de la renitencia de Achab rey de Israel
            a
            llamar <strong>al verdadero profeta de Dios,</strong> ante la insistencia del rey Josafat de Judá (8-9) optó
            por
            complacerlo<strong>.</strong> No podía Achab<strong>,</strong> por un capricho suyo<strong>,</strong>
            prescindir de
            una tan preciosa ayuda militar como eran las tropas de Josafat de Judá allí presentes<strong>,</strong> como
            vemos
            en el versículo cuatro<strong>.</strong></p>
        <p><strong>"</strong><i>Y dijo a Josafat<strong>:</strong> <strong>¿</strong>Quieres venir conmigo a pelear
            contra
            Ramoth de Galaad<strong>?</strong> <strong>Y Josafat respondió al rey de Israel:</strong> Como
            yo<strong>,</strong>
            así tú<strong>;</strong> y como mi pueblo<strong>,</strong> así tu pueblo<strong>;</strong> y como mis
            caballos<strong>,</strong> tus caballos</i><strong>."</strong> ( I R 22<strong>:</strong> 4 )</p>
        <p> Es por eso que a pesar de la resistencia de Achab<strong>,</strong> <strong>el profeta Miqueas entra en
            escena. Como
            veremos más adelante, en realidad Miqueas había sido enviado por Dios para que explicara cómo había espíritu
            de
            error en los otros 400 "profetas"; puesto que Dios no engaña ni deja engañado a quien quiera saber la
            verdad.</strong></p>
        <p><strong>"</strong>15 <i>Vino pues al rey<strong>,</strong> y el rey le dijo<strong>:</strong>
            Miqueas<strong>,</strong> <strong>¿</strong>iremos a pelear contra Ramoth de Galaad<strong>,</strong> o la
            dejaremos<strong>?</strong>
            <strong>Y él respondió: Sube, que serás prosperado, y Jehová la entregará en mano del rey.</strong></i> 16
            <i>Y el
                rey le dijo<strong>:</strong> <strong>¿Hasta cuántas veces he de conjurarte que no me digas sino la
                    verdad en el
                    nombre de Jehová?</strong></i> 17 <i>Entonces él dijo<strong>:</strong> <strong>Yo vi a todo Israel
                esparcido
                por los montes, como ovejas que no tienen pastor; y Jehová dijo: Estos no tienen señor; vuélvase cada
                uno a su casa
                en paz</strong></i><strong>."</strong> ( I R 22<strong>:</strong> 15-17 )</p>
        <p> Aunque Miqueas en el versículo 15 dice una cosa que no es cierta<strong>,</strong> no se le puede calificar
            de
            mentira<strong>,</strong> porque a todas luces se da uno cuenta de que fue dicho en una
            forma<strong>,</strong> que
            nadie<strong>, ni aún Achab</strong> (16)<strong>,</strong> lo creería<strong>.</strong> <strong>Posiblemente
                el
                tono de la voz, los gestos y ademanes de las manos y de la cara, etc., indicaban que hablaba en forma
                irónica,
                en forma burlona.</strong> O sea<strong>,</strong> que por el contexto nos damos cuenta de que aquello
            lo dijo
            Miqueas en forma que todos iban a entender que la verdad era otra<strong>.</strong></p>
        <p> Me baso para creerlo así en la reacción de Achab en el versículo 16<strong>.</strong> Si Miqueas hubiera
            dicho
            aquello en forma que pudiese haberse tomado como que estaba hablando en serio<strong>,</strong>
            Achab<strong>,</strong> a quien convenía que la gente creyera que también Miqueas profetizaba en su
            favor<strong>,</strong> se hubiera callado la boca y no lo hubiera increpado<strong>,</strong> como se ve
            que hizo
            en el 16<strong>.</strong> Sin embargo<strong>,</strong> por la forma airada<strong>,</strong> en que
            respondió
            Achab de Israel<strong>,</strong> nos damos cuenta de que él no podía tomar lo dicho por
            Miqueas<strong>,</strong>
            como una cosa aceptable<strong>.</strong> <strong>Así que en esto Miqueas hijo de Imla no mintió, sino que
                habló en
                una forma irónica que era evidente a todos.</strong></p>
        <p> Si Miqueas hubiera dicho lo que dijo en el versículo 15 en una forma creíble para la
            multitud<strong>,</strong>
            Achab se hubiera callado la boca y lo hubiera dejado pasar<strong>,</strong> porque convenía a sus
            propósitos de
            animar a la gente para la guerra<strong>.</strong> Si nosotros hoy en día no podemos percibir la verdadera
            forma en
            que aquello se dijo<strong>,</strong> es porque no oímos el tono de voz del profeta ni vemos su cara ni sus
            ademanes<strong>,</strong>
            pero nos podemos guiar por el contexto<strong>.</strong></p>
        <p><strong>En la vida corriente nosotros hablamos muy a menudo como Miqueas.</strong> A veces alguien
            pregunta<strong>:</strong> <strong>¿</strong>has visto a Fulano<strong>?</strong> y su interlocutor responde<strong>,</strong>
            <strong>"</strong>Sí<strong>,</strong> un perro se lo llevaba en la boca<strong>".</strong> Todos sin
            embargo<strong>,</strong> entendemos que quiere decir que no lo ha visto<strong>.</strong> Aunque no es
            cierto lo
            que dijo<strong>,</strong> tampoco es una mentira<strong>,</strong> porque está dicha para que nadie la crea<strong>.</strong>
        </p>
        <p><strong>Lo que sucedió con Miqueas es totalmente opuesto a lo que sucedió con los 400 profetas.</strong>
            Miqueas dice
            algo falso con el propósito de que nadie lo crea<strong>,</strong> a fin de poder aclarar
            luego<strong>;</strong>
            sin embargo<strong>,</strong> los cuatrocientos profetas dicen algo falso para que sí se crea que es cierto
            y sin el
            propósito de aclarar luego<strong>.</strong> <strong>¿</strong>Ahora bien<strong>,</strong> quién engañó a
            los
            profetas<strong>?</strong></p>
        <p><strong>Ante todo vemos en 19-23 que en aquella época aún vivían en el cielo los espíritus rebeldes,</strong>
            y
            asistían ante el Trono de Dios al igual que se ve en Job<strong>,</strong> capítulo uno<strong>.</strong>
            Esto
            siguió siendo así hasta que ellos se atrevieron a atentar contra la vida de Jesús<strong>,</strong> época en
            la que
            fueron expulsados del Cielo a la Tierra<strong>.</strong></p>
        <p> Pues bien<strong>,</strong> uno de estos espíritus de mentira o ángeles rebeldes<strong>,</strong> propuso
            engañar a
            los 400 profetas de Achab<strong>.</strong> Dios le permitió hacer tal cosa ( 22 )<strong>,</strong>
            <strong>pero no
                consintió que el engaño quedara sin aclaración, aún delante de aquel a quien se pretendía inducir a
                subir a
                pelear a Ramoth de Galaad: el rey Achab.</strong></p>
        <p><strong>"</strong>19 <i>Entonces él dijo<strong>:</strong> Oye pues palabra de Jehová<strong>:</strong> Yo vi
            a
            Jehová sentado en su trono<strong>,</strong> y todo el ejército de los cielos estaba junto a
            él<strong>,</strong> a
            su diestra y a su siniestra<strong>.</strong></i> 20 <i>Y Jehová dijo<strong>:</strong> <strong>¿</strong>Quién
            inducirá a Achab<strong>,</strong> para que suba y caiga en Ramoth de Galaad<strong>?</strong> Y uno decía
            de una
            manera<strong>;</strong> y otro decía de otra<strong>.</strong> 21 Y salió un espíritu<strong>,</strong> y
            se puso
            delante de Jehová<strong>,</strong> y dijo<strong>:</strong> Yo le induciré<strong>.</strong> Y Jehová le
            dijo<strong>:</strong> <strong>¿</strong>De qué manera<strong>?</strong></i> 22 <i>Y él
            dijo<strong>:</strong>
            <strong>Yo saldré, y seré espíritu de mentira en boca de todos sus profetas.</strong> Y Él
            dijo<strong>:</strong>
            Inducirlo has<strong>,</strong> y aun saldrás con ello<strong>;</strong> sal pues<strong>,</strong> y hazlo
            así<strong>.</strong></i> 23 <i><strong>Y ahora, he aquí Jehová ha puesto espíritu de mentira en la boca de
            todos
            estos tus profetas,</strong> y Jehová ha decretado el mal acerca de ti</i><strong>."</strong> ( I R
            22<strong>:</strong> 19-23 )</p>
        <p></p>
        <p><strong>"</strong>26 <i>Entonces el rey de Israel dijo<strong>:</strong> Toma a Miqueas<strong>,</strong> y
            vuélvelo
            a Amón gobernador de la ciudad<strong>,</strong> y a Joas hijo del rey<strong>;</strong></i> 27 <i>y
            dirás<strong>:</strong> Así ha dicho el rey<strong>:</strong> Echad a éste en la cárcel<strong>,</strong> y
            mantenedle con pan de angustia y con agua de aflicción<strong>,</strong> <strong>hasta que yo vuelva en
                paz.</strong></i> 28 <strong>Y dijo Miqueas: Si llegares a volver en paz, Jehová no ha hablado por
            mí.</strong>
            <i>En seguida dijo<strong>:</strong> Oíd<strong>,</strong> pueblos todos</i><strong>."</strong> ( I R
            22<strong>:</strong> 26-28 )</p>
        <p><strong>Así vemos en 19-23 y 28 que un verdadero profeta de Dios aclara todo lo ocurrido detalladamente; así
            que ya
            no había engaño.</strong> No sólo estaba él diciendo la verdad<strong>,</strong> sino que aclaraba por qué
            los otros
            estaban profetizando la mentira<strong>.</strong> La culpa era de los que no querían creerle al profeta
            verdadero y
            preferían creerle a los falsos profetas<strong>,</strong> que hablaban lo que a <strong>"</strong>los
            engañados<strong>"</strong> les gustaba oír<strong>.</strong> Es el mismo caso de los ángeles
            rebeldes<strong>,</strong> que parecen no querer creer lo que les va a suceder<strong>.</strong> O el caso
            de las
            religiones falsas y el cristianismo verdadero<strong>.</strong> Dios permite que las religiones falsas
            (espiritismo<strong>,</strong> budismo<strong>,</strong> judaísmo<strong>,</strong>
            ruselismo<strong>,</strong>
            armstrongismo<strong>,</strong> islamismo<strong>,</strong> mormonismo<strong>,</strong>
            romanismo<strong>,</strong>
            etc<strong>.,</strong>) que son los falsos profetas de hoy<strong>,</strong> digan sus
            mentiras<strong>,</strong>
            pero desde siempre ha mantenido las Sagradas Escrituras y a los que se basan en ellas para
            predicar<strong>,</strong> a fin de que todos sepan cuál es la verdadera verdad<strong>,</strong> y sepan
            también
            por qué están engañados los demás<strong>.</strong> La culpa es de la gente que prefiere creer la mentira de
            los que
            los halagan a ellos o a sus concupiscencias<strong>.</strong></p>
        <p> En el caso del rey Achab<strong>,</strong> a pesar de que él se halló frente a la verdad<strong>,</strong>
            la
            rechazó<strong>,</strong> porque le gustaba más lo que decían los 400 profetas falsos<strong>,</strong> lo
            cual
            concordaba con su afán de poder<strong>,</strong> con su deseo de conquistar aquella
            ciudad<strong>,</strong> o
            sea<strong>,</strong> con su concupiscencia<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    