---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La 'dureza' del Antiguo Testamento y los doctrineros versiculares">
    <Content>
        <Paragraph><Bold>"Dureza" del Antiguo Testamento</Bold></Paragraph>
        <Paragraph> Hay quienes piensan que el Nuevo Testamento es una enseñanza de amor<Bold>,</Bold> (lo cual es
            cierto)<Bold>,</Bold> pero que el Antiguo Testamento es una enseñanza de dureza y odio (lo cual no es
            cierto)<Bold>.</Bold> Los que así piensan son los <Bold>"doctrineros versiculares",</Bold> personas
            que
            forman o aceptan doctrinas basadas en un solo versículo o un solo pasaje<Bold>,</Bold> sin leer el resto
            de la
            Biblia<Bold>.</Bold></Paragraph>
        <Paragraph> Parece que ellos creen que Dios <Bold>"antes"</Bold> predicaba la dureza y el odio<Bold>,</Bold> y
            que
            <Bold>"después"</Bold> cambió de opinión y se decidió a hacer el Nuevo Testamento para predicar el
            amor<Bold>.</Bold> A ellos no les dice nada Heb 13<Bold>:</Bold>8<Bold>,</Bold> sobre la
            inmutabilidad
            de la forma de ser de Dios<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Por qué algunos hermanos opinan que el Antiguo Testamento era una enseñanza de dureza, de falta de
            misericordia, y hasta de odio?</Bold> Ellos se basan en Mt 5<Bold>:</Bold>38 y 43<Bold>,</Bold>
            donde
            <Bold>el Señor menciona frases y refranes que se usaban en aquella cultura, pero que no formaban parte de
                la ley
                de Dios.</Bold> No se les ocurrió ir a leer en el Antiguo Testamento a ver si<Bold>,</Bold>
            efectivamente<Bold>,</Bold> lo que ellos interpretaron<Bold>,</Bold> era cierto<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>"</Bold><i>Oísteis que <Bold>fue dicho a los antiguos:</Bold> Ojo por ojo<Bold>,</Bold> y
            diente
            por diente</i><Bold>."</Bold> (Mt 5<Bold>:</Bold>38)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Oísteis que fue dicho:</i></Bold> <i>Amarás a tu prójimo<Bold>,</Bold> y <Bold>aborrecerás
            a tu
            enemigo</Bold></i><Bold>."</Bold> (Mt 5<Bold>:</Bold>43)</Paragraph>
        <Paragraph><Bold>En ningún lugar del Antiguo Testamento se manda a odiar a los enemigos.</Bold> Ya tengo callos en
            los oídos
            de oír hablar sandeces respecto a <Bold>"</Bold>la dureza<Bold>"</Bold> y <Bold>"</Bold>la
            crueldad<Bold>"</Bold> del Antiguo Testamento<Bold>,</Bold> en comparación al amor del Nuevo
            Testamento<Bold>.</Bold> El que no conozca la Biblia y escuche estas sandeces llegará a la conclusión de
            que el
            Nuevo Testamento fue escrito por Dios y sus enviados<Bold>;</Bold> pero que el Antiguo Testamento fue
            escrito
            por Satanás y sus secuaces<Bold>.</Bold></Paragraph>
        <Paragraph> No comprenden estos parlanchines<Bold>,</Bold> que tanto el Antiguo como el Nuevo Testamento son palabra
            de Dios<Bold>;</Bold>
            que el uno no puede contradecir al otro<Bold>,</Bold> porque Dios no se contradice a Sí
            mismo<Bold>,</Bold>
            ni cambia de convicciones<Bold>.</Bold> El Antiguo y el Nuevo Testamento no se
            contradicen<Bold>,</Bold>
            sino que se complementan<Bold>;</Bold> son dos partes cronológicamente distantes<Bold>,</Bold> de
            <Bold>una
                misma unidad.</Bold> Fíjense en que el Señor no dice que Dios mandó<Bold>,</Bold> o que Dios
            dijo<Bold>,</Bold> sino que les dice que <Bold>"</Bold>fue dicho<Bold>",</Bold> a
            secas<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Eso de "ojo por ojo" era una norma para los jueces, no un mandato para el ciudadano común.</Bold>
            En los
            siguientes pasajes se ve bien claramente que <Bold>"</Bold>ojo por ojo<Bold>"</Bold> no era un
            permiso para
            ejecutar venganzas personales<Bold>.</Bold> No fue dicho para que cada persona tuviera justificación
            para dar
            rienda suelta a su odio o afán de venganza<Bold>;</Bold> sino que se le dio a los jueces como regla
            normativa de
            juicio<Bold>,</Bold> para saber cómo hacer justicia cuando no hubiera una ley escrita sobre el
            asunto<Bold>.</Bold></Paragraph>
        <Paragraph> Lo que pasa es que <Bold>el pueblo torció el propósito original de esa ley</Bold> para adaptarla a sus
            concupiscencias vengativas y sus odios personales<Bold>.</Bold> Como siempre ocurre<Bold>,</Bold>
            (aún con
            el cristianismo)<Bold>,</Bold> la fuerza de la tradición se sobrepuso a la fuerza de la ley de
            Dios<Bold>,</Bold> como es el caso de la adoración de santos y vírgenes<Bold>.</Bold> Veamos algunos
            pasajes
            que contienen la frase <Bold>"</Bold>ojo por ojo<Bold>",</Bold> y veremos que se refería solamente a
            los
            jueces<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>Si algunos riñeren<Bold>,</Bold> e hiriesen a mujer preñada<Bold>,</Bold> y
            ésta
            abortare<Bold>,</Bold> pero sin haber muerte<Bold>,</Bold> será penado conforme a lo que le
            impusiere el
            marido de la mujer <Bold>y juzgaren los árbitros.</Bold></i> 23 <i>Mas si hubiere
            muerte<Bold>,</Bold>
            entonces <Bold>pagarás vida por vida,</Bold></i> 24 <i><Bold>ojo por ojo, diente por diente, mano por
            mano,
            pie por pie,</Bold></i> <Bold> </Bold>25 <Bold><i>quemadura por quemadura, herida por herida, golpe
            por
            golpe.</i>"</Bold> (Ex 21<Bold>:</Bold>22-25)</Paragraph>
        <Paragraph><Bold>Como pudimos ver en el versículo 22, eso de ojo por ojo, etc., se le decía a los árbitros, es decir a
            los
            jueces.</Bold> En Lev 24<Bold>:</Bold>17-20 se aclara aún más el hecho de que la ley dada en el pasaje
            leído<Bold>,</Bold> era una guía para los jueces<Bold>.</Bold> Otro tanto se ve en Dt
            19<Bold>:</Bold>18-21<Bold>,</Bold>
            donde al juzgar al testigo falso se legisla que se le haga a él como él pensaba hacer al
            otro<Bold>,</Bold> es
            decir<Bold>,</Bold> otra vez el ojo por ojo<Bold>,</Bold> pero para los jueces<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>17 <i>Asimismo el hombre que hiere de muerte a cualquiera persona<Bold>,</Bold> que
            sufra la
            muerte<Bold>.</Bold></i> 18 <i>Y el que hiere a algún animal ha de restituirlo<Bold>:</Bold> animal
            por
            animal<Bold>.</Bold></i> 19 <i>Y el que causare lesión en su prójimo<Bold>,</Bold> según
            hizo<Bold>,</Bold> así le sea hecho<Bold>:</Bold></i> 20 <i>rotura por rotura<Bold>,</Bold>
            <Bold>ojo
                por ojo,</Bold> diente por diente<Bold>;</Bold> según la lesión que habrá hecho a
            otro<Bold>,</Bold> tal
            se hará a él</i><Bold>."</Bold> (Lv 24<Bold>:</Bold>17-20)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>18 <Bold>Y los jueces</Bold> <i>inquirirán bien<Bold>,</Bold> y si pareciere ser
            aquél
            testigo falso<Bold>,</Bold> que testificó falsamente contra su hermano<Bold>,</Bold></i> 19 <Bold>haréis
            a
            él como él pensó hacer a su hermano;</Bold> <i>y quitarás el mal de en medio de ti<Bold>.</Bold></i>
            20 <i>Y
                los que quedaren oirán<Bold>,</Bold> y temerán<Bold>,</Bold> y no volverán más a hacer una mala
                cosa como
                ésta<Bold>,</Bold> en medio de ti<Bold>.</Bold></i> 21 <i>Y no perdonará tu
                ojo<Bold>:</Bold> vida por
                vida<Bold>,</Bold> ojo por ojo<Bold>,</Bold> diente por diente<Bold>,</Bold> mano por
                mano<Bold>,</Bold> pie por pie</i><Bold>."</Bold> (Dt 19<Bold>:</Bold>18-21)</Paragraph>
        <Paragraph> Otra prueba de que <Bold>aquello de "ojo por ojo" que aparece en Mt 5:38 era una corrupción de este
            mandamiento
            que tratamos, y no una aplicación de él,</Bold> es el hecho de que en Ex 23<Bold>:</Bold>4-5 y Lev
            19<Bold>:</Bold>17-18 se da muy diferente doctrina para tratar a los enemigos<Bold>.</Bold> Lo que
            allí se
            enseña dista mucho de la corrupción de esta norma judicial<Bold>,</Bold> que Jesús les echó en cara en
            Mt
            5<Bold>:</Bold>38<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>4 <i>Si encontrares el buey <Bold>de tu enemigo</Bold> o su asno
            extraviado<Bold>,</Bold>
            <Bold>vuelve a llevárselo.</Bold></i> 5 <i>Si vieres el asno <Bold>del que te aborrece</Bold> caído
            debajo
            de su carga<Bold>,</Bold> <Bold>¿</Bold>le dejarás entonces desamparado<Bold>?</Bold> <Bold>Sin
                falta
                ayudarás con él a levantarlo</Bold></i><Bold>."</Bold> ( Ex 23<Bold>:</Bold>4-5 )</Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>No aborrecerás a tu hermano</Bold> <i>en tu corazón<Bold>,</Bold>
            ingenuamente
            reprenderás a tu prójimo<Bold>,</Bold> y no consentirás sobre él pecado<Bold>.</Bold></i> 18
            <i><Bold>No
                te vengarás, ni guardarás rencor</Bold> a los hijos de tu pueblo<Bold>,</Bold> mas <Bold>amarás
                a tu prójimo
                como a ti mismo:</Bold> Yo Jehová<Bold>.</Bold></i><Bold>"</Bold> (Lev 19<Bold>:</Bold>17-18)
        </Paragraph>
        <Paragraph> Hay cristianos que por leer solamente el Nuevo Testamento<Bold>,</Bold> (si es que lo leen
            completo)<Bold>,</Bold> <Bold>creen que el perdón y el amor se inventó por primera vez en el Nuevo
                Testamento.</Bold> En estos pasajes recién leídos vimos cómo desde siempre<Bold>,</Bold> Dios
            mandaba a
            amar a los que nos aborrecían y a los que eran enemigos nuestros<Bold>.</Bold> Esto contradice la
            charlatanería
            de los que dicen que el antiguo pacto era de rencor<Bold>,</Bold> de dureza y de
            venganza<Bold>,</Bold> en
            contraposición con el nuevo pacto<Bold>,</Bold> que ahora es de amor<Bold>,</Bold> de
            perdón<Bold>,</Bold> de suavidad<Bold>.</Bold> Hablan como si Dios fuera antes de una
            manera<Bold>,</Bold> y ahora hubiera cambiado de forma de ser<Bold>,</Bold> y fuera de otra manera
            opuesta a
            la primera<Bold>.</Bold> O como si Dios Padre fuera duro<Bold>,</Bold> vengativo<Bold>,</Bold>
            rencoroso<Bold>,</Bold>
            y Jesucristo fuera lo contrario<Bold>,</Bold> blando<Bold>,</Bold> perdonador y
            amoroso<Bold>.</Bold>
            <Bold>Son blasfemias y disparates</Bold> motivados por la ignorancia que de la Biblia poseen
            algunos<Bold>,</Bold> que sólo se ocupan de sentar donantes en los bancos de su
            iglesia<Bold>.</Bold></Paragraph>
        <Paragraph> A los doctrineros versiculares no les dice nada Ex 23<Bold>:</Bold>4-5 donde se predica el amor a los
            enemigos<Bold>.</Bold> No<Bold>;</Bold> ellos sólo saben fijarse<Bold>,</Bold> pueden
            fijarse<Bold>,</Bold> quieren fijarse o fueron enseñados a fijarse en Mt 5<Bold>:</Bold>38 y
            43<Bold>,</Bold> adoptando de allí una idea distorsionada<Bold>,</Bold> de lo que es el Antiguo
            Testamento<Bold>.</Bold> <Bold>No tienen discernimiento ni independencia intelectual para, por cuenta
                propia,
                analizar el resto de la Biblia.</Bold> Ellos ya hicieron su gran doctrina basados en solamente dos
            pequeños
            versículos<Bold>.</Bold></Paragraph>
        <Paragraph> Ahora tienen una <Bold>"doctrina versicular"</Bold> para poderla predicar<Bold>.</Bold> Y parodiando
            al
            poeta podemos decir<Bold>:</Bold> <Bold>"</Bold>si alguno le contradice<Bold>,</Bold> se
            revuelve<Bold>,</Bold> se demuda<Bold>,</Bold> y con la voz campanuda profiere<Bold>:</Bold> la
            Biblia
            dice<Bold>....¡</Bold>qué ha de decir infelice<Bold>!</Bold> <Bold>¿</Bold>Cuándo la Biblia has
            leído o
            cuándo la has conocido<Bold>?"</Bold></Paragraph>
        <Paragraph> Como vemos<Bold>,</Bold> es una necedad de marca mayor<Bold>,</Bold> <Bold>y es además, un
            insulto,</Bold> el decir que Dios <Bold>"</Bold>antes<Bold>"</Bold> predicaba la
            dureza<Bold>,</Bold>
            la inmisericordia<Bold>,</Bold> y hasta el odio<Bold>,</Bold> y que
            <Bold>"</Bold>ahora<Bold>"</Bold> predica el amor<Bold>.</Bold> Veamos otros pasajes del Antiguo
            Testamento donde se predica el amor<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>15 <Bold>No entregarás a su señor el siervo que se huyere a ti de su amo.</Bold> 16 <i>More
            contigo<Bold>,</Bold> en medio de ti<Bold>,</Bold> en el lugar que escogiere en alguna de tus
            ciudades<Bold>,</Bold> donde bien le estuviere<Bold>;</Bold> <Bold>no le harás fuerza</Bold></i><Bold>."</Bold>
            (Dt 23<Bold>:</Bold>15-16)</Paragraph>
        <Paragraph> En el pasaje anterior vemos establecido <Bold>el derecho de asilo.</Bold> El hombre que huye de
            otro<Bold>,</Bold> o de una institución<Bold>,</Bold> por cuestiones <Bold>no</Bold>
            delictivas<Bold>,</Bold> debe obtener nuestra acogida y amparo<Bold>.</Bold> No sólo
            eso<Bold>,</Bold>
            sino que se ordena que se le trate con el mismo respeto y los derechos de un nativo<Bold>,</Bold> así
            como con
            caridad<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>21 <i>Y <Bold>al extranjero no engañarás, ni angustiarás,</Bold> porque extranjeros
            fuisteis
            vosotros en la tierra de Egipto<Bold>.</Bold></i> 22 <i><Bold>A ninguna viuda ni huérfano
            afligiréis</Bold></i><Bold>"</Bold>
            (Ex 22<Bold>:</Bold>21-22)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Y no angustiarás al extranjero,</i></Bold> <i>pues vosotros sabéis cómo se halla el alma del
            extranjero<Bold>,</Bold>
            ya que extranjeros fuisteis en la tierra de Egipto</i><Bold>."</Bold> (Ex 23<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>32 <Bold>Delante de las canas te levantarás, y honrarás el rostro del anciano,</Bold>
            <i>y de
                tu Dios tendrás temor<Bold>:</Bold> Yo Jehová<Bold>.</Bold></i> 33 <i><Bold>Y cuando el
                extranjero morare
                contigo en vuestra tierra, no le oprimiréis.</Bold></i> 34 <Bold>Como a un natural de vosotros
                tendréis al
                extranjero</Bold> <i>que peregrinare entre vosotros<Bold>;</Bold> y <Bold>ámalo como a ti
                mismo;</Bold>
                porque peregrinos fuisteis en la tierra de Egipto<Bold>;</Bold> Yo Jehová vuestro
                Dios</i><Bold>."</Bold>
            (Lv 19<Bold>:</Bold>32-34)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y cuando segareis la mies de vuestra tierra<Bold>,</Bold> no acabarás de segar el
            rincón de
            tu haza<Bold>,</Bold> ni espigarás tu siega<Bold>; para el pobre, y para el extranjero la
                dejarás:</Bold> Yo
            Jehová vuestro Dios</i><Bold>."</Bold> (Lv 23<Bold>:</Bold>22)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>Mas el sábado de la tierra os será para comer a ti<Bold>,</Bold> y a tu
            siervo<Bold>,</Bold> y a tu sierva<Bold>,</Bold> y a tu criado<Bold>,</Bold> <Bold>y a tu
                extranjero
                que morare contigo"</Bold> (Lv 25<Bold>:</Bold>6)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>18 <Bold>Que hace justicia al huérfano y a la viuda; que ama también al extranjero
            dándole pan y
            vestido.</Bold> 19 <Bold>Amaréis pues al extranjero;</Bold> <i>porque extranjeros fuisteis vosotros en
            tierra
            de Egipto</i><Bold>."</Bold> (Dt 10<Bold>:</Bold>18-19)</Paragraph>
        <Paragraph> Una vez leídos los anteriores pasajes<Bold>,</Bold> yo me pregunto <Bold>¿</Bold>cuántos de los que
            creen
            que el Antiguo Testamento era <Bold>"</Bold>duro<Bold>"</Bold> y
            <Bold>"</Bold>cruel<Bold>"</Bold>
            practican la caridad que en él se establece<Bold>?</Bold> <Bold>¿</Bold>Cuántos de los que hablan
            tantas
            idioteces sobre la crueldad de la ley de Dios hacen lo que esa <Bold>"</Bold>cruel<Bold>"</Bold> ley
            de
            Moisés manda que se haga<Bold>?</Bold> <Bold>¿</Bold>Cuántos apartan de su negocio o de sus
            ganancias una
            cantidad substancial para los huérfanos<Bold>,</Bold> viudas y pobres en general<Bold>?</Bold>
            <Bold>¿</Bold>Cuántos de ellos respetan a los ancianos levantándose delante de las
            canas<Bold>,</Bold> como
            establece la ley de Dios que ellos consideran <Bold>"</Bold>cruel<Bold>"?</Bold> <Bold>¿</Bold>Cuántos
            ayudan a los extranjeros necesitados<Bold>,</Bold> como enseña que se haga la <Bold>"</Bold>cruel y
            dura<Bold>"</Bold> ley mosaica<Bold>?</Bold></Paragraph>
        <Paragraph><Bold>En el Antiguo Testamento, el diezmo de cada tres años, se usaba íntegramente para obras de
            caridad</Bold>
            en favor de los huérfanos<Bold>,</Bold> en favor de las viudas<Bold>,</Bold> en favor de los
            extranjeros<Bold>,</Bold> y en favor de los levitas<Bold>,</Bold> que no tenían de qué
            sostenerse<Bold>,</Bold> sobre todo los que vivían en las ciudades del interior<Bold>,</Bold> según
            se ve en
            Dt 14<Bold>:</Bold>28-29<Bold>.</Bold> Así se administraban los diezmos<Bold>,</Bold> de acuerdo
            con la
            ley que lo estableció<Bold>.</Bold> Otro tanto nos dice Dt 26<Bold>:</Bold>12-13<Bold>.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>"</Bold>22 <i>Indispensablemente diezmarás todo el producto de tu simiente<Bold>,</Bold> que
            rindiere
            el campo cada un año<Bold>.</Bold></i> 23 <i>Y comerás delante de Jehová tu Dios en el lugar que él
            escogiere
            para hacer habitar allí su nombre<Bold>,</Bold> <Bold>el diezmo de tu grano, de tu vino, y de tu
                aceite, y los
                primerizos de tus manadas,</Bold> y de tus ganados<Bold>,</Bold> para que aprendas a temer a
            Jehová tu
            Dios todos los días<Bold>...</Bold></i> 28 <i><Bold>Al cabo de cada tres años sacarás todo el diezmo
            de tus
            productos de aquel año, y lo guardarás en tus ciudades.</Bold></i> 29 <Bold>Y vendrá el levita,</Bold>
            <i>que
                no tiene parte ni heredad contigo<Bold>,</Bold> y <Bold>el extranjero,</Bold> y <Bold>el
                    huérfano,</Bold> y <Bold>la viuda,</Bold> que hubiere en tus poblaciones<Bold>,</Bold> y
                comerán y
                serán saciados<Bold>;</Bold> para que Jehová tu Dios te bendiga en toda obra de tus manos que
                hicieres</i><Bold>."</Bold> ( Dt 14<Bold>:</Bold>23-29 abreviado )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>12 Cuando hubieres acabado de diezmar todo <Bold>el diezmo de tus frutos en el año
            tercero,</Bold> el año del diezmo<Bold>,</Bold> <Bold>darás también al levita, al extranjero, al
            huérfano y
            a la viuda;</Bold> y comerán en tus villas<Bold>,</Bold> y se saciarán<Bold>.</Bold> 13 Y dirás
            delante de
            Jehová tu Dios<Bold>:</Bold> Yo he sacado lo consagrado de mi casa<Bold>,</Bold> y también lo he
            dado al
            levita<Bold>,</Bold> y al extranjero<Bold>,</Bold> y al huérfano<Bold>,</Bold> y a la
            viuda<Bold>,</Bold> conforme a todos tus mandamientos que me ordenaste<Bold>,</Bold> no he
            traspasado tus
            mandamientos<Bold>,</Bold> ni me he olvidado de ellos<Bold>."</Bold> (Dt 26<Bold>:</Bold>12-13)
        </Paragraph>
        <Paragraph> Como vemos <Bold>el sistema religioso del Antiguo Testamento, era altamente caritativo.</Bold> Daba el
            33 % (un
            tercio) de los beneficios que se recibían de los creyentes<Bold>,</Bold> para obras de
            caridad<Bold>;</Bold>
            es decir<Bold>,</Bold> el 33% del presupuesto de la organización religiosa del Antiguo
            Testamento<Bold>,</Bold> se dedicaba a caridad<Bold>,</Bold> <Bold>al amor al prójimo.</Bold>
            Por eso
            duele la necia acusación de muchos que<Bold>,</Bold> por charlar sin control y sin
            pensar<Bold>,</Bold> se
            ponen a decir frases estereotipadas tales como<Bold>:</Bold> <Bold>"</Bold>El Antiguo Testamento es
            la
            Escritura de la dureza<Bold>,</Bold> el Nuevo Testamento es la Escritura del amor<Bold>";</Bold>
            <Bold>"</Bold>bajo la ley todo era crueldad<Bold>,</Bold> bajo la gracia hay amor<Bold>",</Bold>
            bla<Bold>,</Bold> bla<Bold>,</Bold> bla<Bold>...</Bold></Paragraph>
        <Paragraph><Bold>Yo desearía saber si en las sectas u organizaciones religiosas a las que pertenecen tales
            parlanchines, se
            imita esta amorosa ley del Antiguo Testamento.</Bold> Bajo <Bold>"</Bold>la ley<Bold>",</Bold>
            bajo el
            <Bold>"</Bold>ojo por ojo<Bold>",</Bold> bajo <Bold>"</Bold>la dureza<Bold>",</Bold> se
            destinaba el
            33% del dinero que manejaba la religión<Bold>,</Bold> para obras de caridad<Bold>.</Bold> Mi
            pregunta
            es<Bold>:</Bold> y ahora<Bold>,</Bold> <Bold>"</Bold>bajo la gracia<Bold>",</Bold>
            <Bold>"</Bold>bajo la ley del amor<Bold>",</Bold> en organizaciones donde prima la divisa de
            <Bold>"</Bold>misericordia quiero y no sacrificio<Bold>",</Bold> etc<Bold>.,</Bold>
            <Bold>¿</Bold>qué
            porcentaje de los ingresos netos se dedican directamente <Bold>a caridad, o sea, al amor?</Bold>
            <Bold>¡</Bold>Aquel cuya secta tenga destinado el 33% o más de sus entradas para
            caridad<Bold>,</Bold> que
            tire su piedra el primero<Bold>!</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    