---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Origen del antagonismo judeo-samaritano">
    <Tag>#77</Tag>
    <Content>
        <Paragraph><Bold>Origen del antagonismo judeo-samaritano</Bold></Paragraph>
        <Paragraph> Cuando uno lee los evangelios nota que en época de Jesús<Bold>,</Bold> había cierto antagonismo entre
            judíos y
            samaritanos. Debido a esto uno llega a creer que los samaritanos no eran hebreos. Ese antagonismo lo vemos
            en varios
            pasajes. Los más conocidos son el caso de la samaritana en el pozo (Jn
            4<Bold>:</Bold>9)<Bold>,</Bold> y el
            caso de los diez leprosos (Lc 17<Bold>:</Bold>12-19). En este último se ve que <Bold>a los samaritanos
                los
                consideraban extranjeros a pesar de ser hebreos</Bold>. Los samaritanos (habitantes de la ciudad y
            región de
            Samaria)<Bold>,</Bold> no eran bien vistos por los judíos del sur<Bold>,</Bold> debido ciertas
            diferencias
            raciales que provenían desde la época del primer cautiverio. Por eso es que la mujer samaritana se extraña
            de que
            Jesús le dirija la palabra.</Paragraph>
        <Paragraph> "<i>Y la mujer samaritana le dice<Bold>:</Bold> <Bold>¿</Bold>Cómo tú<Bold>,</Bold> siendo judío<Bold>,</Bold>
            me pides a mí de beber<Bold>,</Bold> que soy mujer samaritana<Bold>;</Bold> porque <Bold>los
                judíos no se
                tratan con los samaritanos</Bold></i>." ( Jn 4<Bold>:</Bold>9 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "15 <i>Entonces uno de ellos<Bold>,</Bold> como se vio que estaba limpio<Bold>,</Bold> volvió
            glorificando a
            Dios a gran voz<Bold>;</Bold> 16 y derribose sobre el rostro a sus pies dándole
            gracias<Bold>;</Bold> <Bold>y
                este era samaritano</Bold>. 17 Y respondiendo Jesús<Bold>,</Bold> dijo<Bold>:</Bold>
            <Bold>¿</Bold>No
            son diez los que fueron limpios<Bold>?</Bold> <Bold>¿</Bold>Y los nueve dónde
            están<Bold>?</Bold> 18
            <Bold>¿No hubo quien volviese y diese gloria a Dios sino este extranjero</Bold></i><Bold>?</Bold>"
            (Lc
            17<Bold>:</Bold>15-18)</Paragraph>
        <Paragraph> Estos dos pasajes<Bold>,</Bold> y otros que pudiera mostrar<Bold>,</Bold> nos indican que los
            samaritanos
            (al norte)<Bold>,</Bold> aunque eran hebreos<Bold>,</Bold> eran menospreciados y considerados como
            hebreos
            extranjeros<Bold>,</Bold> o hebreos de segunda clase<Bold>,</Bold> por los que eran de Judá (al
            sur). Algo
            parecido a lo que en otras épocas sucedía con los negros.</Paragraph>
        <Paragraph> Este antagonismo tuvo su origen muchos siglos antes<Bold>,</Bold> cuando la región de Samaria recibió
            inmigrantes que no eran hebreos. Lo que dice el siguiente versículo y los sucesivos<Bold>,</Bold> nos
            dan idea del
            origen de ese antagonismo. Recordemos que el reino de Salomón se dividió en dos<Bold>:</Bold> uno
            llamado
            Israel<Bold>,</Bold> al norte<Bold>;</Bold> y otro llamado Judá<Bold>,</Bold> al
            sur<Bold>;</Bold> y
            que el reino del norte cayó en manos de los asirios<Bold>,</Bold> largo tiempo antes que el del sur
            cayera en
            manos de los babilonios.</Paragraph>
        <Paragraph> "<Bold>Y trajo el rey de Asiria gente de Babilonia,</Bold> <i>y de Cutha<Bold>,</Bold> y de
            Ava<Bold>,</Bold> y de Hamath<Bold>,</Bold> y de Sefarvaim<Bold>,</Bold> y <Bold>los puso en
                las
                ciudades de Samaria, en lugar de los hijos de Israe</Bold>l<Bold>;</Bold> y poseyeron a
            Samaria<Bold>,</Bold> y habitaron en sus ciudades</i>." ( II R 17<Bold>:</Bold>24 )</Paragraph>
        <Paragraph><Bold>Como vemos en el pasaje anterior, muchos de los habitantes de Samaria, eran de origen asirio y
            babilónico,</Bold> y por lo tanto<Bold>,</Bold> sus descendientes no eran hebreos. Es seguro que
            algunos de
            estos extranjeros se mezclaron con algunos de <Bold>los hebreos que quedaron en Palestina</Bold> luego
            de la
            trasmigración a Asiria. A estos que quedaron se les llama en II R 24<Bold>:</Bold>14 y
            25<Bold>:</Bold>12<Bold>,</Bold> "los pobres de la tierra".</Paragraph>
        <Paragraph> "<i>Y llevó en cautiverio a toda Jerusalem<Bold>,</Bold> a todos los príncipes<Bold>,</Bold> y a
            todos los
            hombres valientes<Bold>,</Bold> hasta diez mil cautivos<Bold>,</Bold> y a todos los oficiales y
            herreros<Bold>;</Bold> <Bold>que no quedó nadie, excepto los pobres del pueblo de la
                tierra</Bold></i>." ( II
            R 24<Bold>:</Bold>14 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Mas de los pobres de la tierra dejó Nabuzaradán,</i></Bold> <i>capitán de los de la
            guardia<Bold>,</Bold> <Bold>para que labrasen</Bold> las viñas y las tierras</i>." ( II R 25<Bold>:</Bold>12
            )</Paragraph>
        <Paragraph> O sea<Bold>,</Bold> que no se llevaron de Samaria a todos los israelitas<Bold>,</Bold> sino
            solamente los
            que eran guerreros<Bold>,</Bold> los que podían ser caudillos<Bold>,</Bold> o los que tenían oficios
            útiles.
            En todo el reino del norte (Israel)<Bold>,</Bold> y en Samaria su capital<Bold>,</Bold> dejaron a
            los que no
            tenían nada. A esos les daban tierras<Bold>,</Bold> para que estuvieran a favor de los
            conquistadores<Bold>,</Bold> y sobre todo<Bold>,</Bold> para que sembraran y produjeran para los
            impuestos.
            También quedaron aquellos que se escaparon del desastre general huyendo a los montes.</Paragraph>
        <Paragraph><Bold>Sabemos que esto fue así, porque después del cautiverio asirio al reino de Israel (norte), todavía
            había allí
            hebreos. Estos hebreos del norte fueron convidados a la Pascua por el rey Ezequías de Judá,</Bold> (del
            reino del
            sur) como podemos ver en II Cr 30<Bold>:</Bold>1-11. También se puede ver la misma participación de
            hebreos del
            norte en la Pascua que se celebraba en el sur<Bold>,</Bold> en días del Rey Josías de
            Judá<Bold>,</Bold> según
            vemos en II Cr 35<Bold>:</Bold> 17.</Paragraph>
        <Paragraph> "1 <i>Envió también Ezequías <Bold>por todo Israel y Judá, y escribió letras a Efraín y Manasés, que
            viniesen a
            Jerusalem a la casa de Jehová, para celebrar la Pascua a Jehová Dios de Israel</Bold>...... 6 Fueron pues
            correos
            con letras de mano del rey y de sus príncipes <Bold>por todo Israel y Judá,</Bold> como el rey lo había
            mandado<Bold>,</Bold> y decían<Bold>:</Bold> Hijos de Israel<Bold>,</Bold> volveos a Jehová el
            Dios de
            Abraham<Bold>,</Bold> de Isaac<Bold>,</Bold> y de Israel<Bold>,</Bold> <Bold>y él se volverá a
                las
                reliquias que os han quedado de la mano de los reyes de Asiria</Bold></i><Bold>.</Bold>" ( II Cr
            30<Bold>:</Bold>1-6 abreviado )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> "<i>Así fue aprestado todo el servicio de Jehová en aquel día<Bold>,</Bold> para hacer la
            Pascua<Bold>,</Bold> y sacrificar los holocaustos sobre el altar de Jehová<Bold>,</Bold> <Bold>conforme
                al
                mandamiento del rey Josías. Y los hijos de Israel</Bold> que se hallaron allí<Bold>,</Bold>
            hicieron la Pascua
            en aquel tiempo<Bold>,</Bold> y la solemnidad de los panes sin levadura<Bold>,</Bold> por siete días</i>."
            (
            II Cr 35<Bold>:</Bold>16-17 )</Paragraph>
        <Paragraph> Algunos hebreos de los que quedaron<Bold>,</Bold> se mezclaron con los extranjeros que habían traído de
            Asiria y
            Babilonia. No quiere decir eso que todos los hebreos samaritanos se mezclaron con los
            extranjeros<Bold>,</Bold>
            pero aunque sólo un pequeño porcentaje de ellos se mezclara<Bold>,</Bold> ya era razón bastante para que
            los
            judíos del reino del sur<Bold>,</Bold> (la tribu de Judá) los tuvieran como racialmente impuros.</Paragraph>
        <Paragraph> La samaritana nos hace ver que <Bold>ella se consideraba descendiente de Jacob,</Bold> como vemos en Jn
            4<Bold>:</Bold>12. Se sabe que había samaritanos que eran mezcla de asirios<Bold>,</Bold>
            babilonios<Bold>,</Bold> hebreos<Bold>,</Bold> etc.<Bold>,</Bold> pero que había otros que eran
            israelitas
            de pura cepa.</Paragraph>
        <Paragraph> "<Bold>¿</Bold><i>Eres tú mayor que <Bold>nuestro padre Jacob,</Bold> que nos dio este
            pozo<Bold>,</Bold> del cual él bebió<Bold>,</Bold> y sus hijos<Bold>,</Bold> y sus
            ganados</i><Bold>?</Bold>" ( Jn 4<Bold>:</Bold>12 )</Paragraph>
        <Paragraph> La samaritana<Bold>,</Bold> que se consideraba descendiente de Jacob<Bold>,</Bold> esperaba al
            Mesías como
            vemos en Jn 4<Bold>:</Bold>25<Bold>,</Bold> y esperaba que le declararía muchas cosas. De manera que
            se
            suscitaba con ellos un problema complicado<Bold>,</Bold> porque eran<Bold>,</Bold> racialmente
            dudosos<Bold>,</Bold>
            y religiosamente semejantes a los judíos<Bold>,</Bold> pero no eran aceptados por éstos.</Paragraph>
        <Paragraph> "<i>Dícele la mujer<Bold>:</Bold> <Bold>Sé que el Mesías ha de venir, el cual se dice el
            Cristo;</Bold>
            cuando él viniere nos declarará todas las cosas</i>." ( Jn 4<Bold>:</Bold>25 )</Paragraph>
        <Paragraph><Bold> Este es el origen del antagonismo judeo-samaritano que vemos en los evangelios</Bold>. A través de
            los
            siglos esta animadversión<Bold>,</Bold> aunque decreció en intensidad<Bold>,</Bold> no fue eliminada
            del
            todo<Bold>,</Bold> y por eso llegó hasta la época de Cristo.</Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    