---
import Layout from "../layout/Layout.astro";
---

<Layout title="Tácticas demoníacas para vencer al pueblo de Dios">
    <section>
        <p><strong>Tácticas demoníacas para vencer al pueblo de Dios</strong></p>
        <p> El ser humano tiene libre albedrío, y por ello puede crear ideas y sentimientos, los cuales pueden estar en
            armonía
            o en conflicto con los de Dios. El Señor no castiga a nadie por pensar erradamente por falta de
            conocimiento. El
            pecado sobreviene cuando conociendo, o pudiendo buscar cual es la actitud de Dios sobre un tema, no la
            buscamos, o
            no le hacemos caso una vez conocida. El pecado viene cuando mantenemos las ideas y sentimientos que sabemos
            que son
            contrarios a los de Dios. <strong>Es decir, que el bien está en arreglar nuestros sentimientos, pensamientos
                e ideas
                y conformarlos a los de Dios. El mal está en no hacerlo.</strong></p>
        <p> Cuando Balaam se enteró de la voluntad de Dios respecto a Israel (Nm 22:12) debió haber tomado partido en
            favor de
            ese pueblo. De ahí en adelante debió actuar de acuerdo con lo que quería Dios. Pero no, no conformó su
            voluntad a la
            de Dios, sino que continuó deseando ir con los mensajeros de Balac para maldecir a quienes Dios había
            bendecido. Lo
            único que él no hacía, por temor a las consecuencias, era realizar la acción; pero su sentir era el mismo de
            antes,
            no se había modificado. Es decir, a pesar de saber la voluntad de Dios, la rechazaba; deseaba más bien la
            voluntad
            de Balac, que le ofrecía regalos.</p>
        <p>"12 <i>Entonces <strong>dijo Dios a Balaam: No vayas con ellos, ni maldigas al pueblo; porque es
            bendito</strong>.</i> 13 <i>Así Balaam se levantó por la mañana, y dijo a los príncipes de Balac: Volveos a
            vuestra
            tierra, porque <strong>Jehová no me quiere dejar ir con vosotros</strong></i>." (Nm 22:12-13)</p>
        <p> En 22:13, en vez de decir, por ejemplo, "yo no quiero ir, porque a Dios no le parece bien que se maldiga a
            ese
            pueblo; yo os aconsejo que busquéis un arreglo con Moisés, etc.,"; lo que hace es echarle la culpa a Dios
            cuando
            dice "...<i>Jehová no me quiere dejar ir</i>....". Eso significaba que si Dios no se lo impidiera iría, aún
            sabiendo
            que era contrario a lo deseado por Dios.</p>
        <p> En 22:18, en vez de decir: "Yo no quiero ir con vosotros, porque ya la primera vez me lo dijo Dios", lo que
            dice es
            "...<strong>no puedo</strong> <i>traspasar la palabra de Jehová</i>...". Eso significa que si pudiera lo
            hacía
            aunque a Dios no le gustara.</p>
        <p> En 22:19 vuelve a preguntarle a Dios, a pesar de que ya sabía su voluntad. Con eso demuestra que prefería la
            idea de
            Balac, que le ofrecía regalos, en vez de la de Dios. A fin de cuentas era Dios quien le daba a Balaam el
            poder,
            gracias al cual, Balac lo andaba buscando para ofrecerle esos regalos.</p>
        <p> Por último en 22:38, como justificándose con Balac dice: "<i>He aquí yo he venido a ti, mas ¿podré ahora
            hablar
            alguna cosa</i>?". Era lógico que si Balac lo llamaba para maldecir al pueblo, y él sabía que Dios lo había
            bendecido, lo más sensato fuera no ir a Balac. Así evitaba tener que hacer delante de Balac lo que ese rey
            no
            quería. Pero Balaam fue, con la esperanza de poder hacer algo de lo que Balac sí quería y Dios no quería.
        </p>
        <p> Por esa actitud perversa que muestra Balaam, es por lo que el Ángel de Dios, (que es el que en realidad está
            tratando con este profeta como dice Nm 22:35), se enfurece cuando Balaam va a ver a Balac. El ángel le
            permite ir,
            pero viendo que va muy a gusto, se enfurece. Balaam no maldice al pueblo, porque Dios no lo deja. Él no lo
            hace
            físicamente, pero en su corazón hay deseos de hacerle daño. No lo maldice físicamente con su boca, pero
            usando un
            subterfugio, le hace daño. ¿Cómo?</p>
        <p> Dado que Dios no le prohibió específicamente dar consejo contra Israel, Balaam se aprovecha de eso y
            aconseja a los
            madianitas. <strong>Es Balaam el que enseña a los madianitas que si el pueblo de Dios pecara, Dios le
                quitaría su
                amparo y podrían vencerlo</strong>. Por lo tanto, les enseña que la mejor estrategia contra el pueblo de
            Dios
            era echarle sus mujeres como carnada, a fin de hacerlos fornicar e idolatrar.</p>
        <p>"<i>Y reposó Israel en Sittim, y <strong>el pueblo empezó a fornicar con las hijas de Moab</strong>; las
            cuales
            llamaron al pueblo a los sacrificios de sus dioses; y el pueblo comió, y se inclinó a sus dioses. <strong>Y
                se
                allegó el pueblo a Baal-Peor; y el furor de Jehová se encendió contra Israel</strong></i>." (Nm 25:1-3)
        </p>
        <p></p>
        <p>"<i>Y les dijo Moisés: ¿Todas las mujeres habéis reservado? <strong>He aquí ellas fueron a los hijos de
            Israel, por
            consejo de Balaam, para causar prevaricación contra Jehová</strong> en el negocio de Peor; por lo que hubo
            mortandad
            en la congregación de Jehová</i>." (Nm 31:15-16)</p>
        <p><strong> A pesar de los miles de años transcurridos desde entonces, esa sigue siendo la táctica a seguir, por
            parte
            de los enemigos de Dios, con el pueblo de Dios. Satanás aún echa las mujeres que él controla, al pueblo de
            Dios,
            para que este peque y se quede sin el amparo divino, y entonces vencerlo</strong>. (Ver el artículo # 50 en
            esta
            misma serie).</p>
        <p><strong>En resumen</strong>, Balaam no hacía físicamente lo que Dios le prohibía, porque no podía. No
            obstante,
            buscaba todos los medios posibles para ir contra lo que él sabía que era la voluntad de Dios, siempre que
            físicamente pudiera hacerlo. Buena prueba es que <strong>Balaam se quedó con los madianitas en vez de irse a
                su
                casa</strong>. Por eso es que cuando Israel guerrea con los madianitas, entre los muertos más notables
            se halla
            Balaam.</p>
        <p>"<i>Mataron también, entre los muertos de ellos, a los reyes de Madián: Evi, y Recem, y Zur, y Hur, y Reba,
            cinco
            reyes de Madián; <strong>a Balaam también, hijo de Beor, mataron a cuchillo</strong></i>." (Nm 31:8)</p>
        <p> Para terminar, podemos ver en II P 2:15, que el apóstol nos testifica que Balaam amó el premio de la maldad.
            También
            en Judas 1:11 éste lo acusa de amar la recompensa. Al leer tales cosas, nos reafirmamos en que,
            efectivamente, su
            deseo interior era lo malo, y que por eso se enfureció el ángel de Dios.</p>
        <p><strong>Es bueno tener presente la táctica inventada por Balaam</strong>, no solamente para evitarla en
            nuestra vida
            diaria, sino para entender lo que se dice en Ap 2:14, en la carta al ángel de la iglesia en Pérgamo.</p>
        <p>"<i>Pero tengo unas pocas cosas contra ti: porque tú tienes ahí <strong>los que tienen la doctrina de
            Balaam</strong>,
            el cual enseñaba a Balac a poner escándalo delante de los hijos de Israel, a comer de cosas sacrificadas a
            los
            ídolos, y a cometer fornicación</i>." (Ap 2:14)</p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    