---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Los predestinacionistas no creen en la predestinación">
    <Tag>#81</Tag>
    <Content>
        <Paragraph><Bold>LA PREDESTINACIÓN, LA MUERTE DE EZEQUÍAS, EL USO DE ANTICONCEPTIVOS, LOS MÉDICOS Y LOS
            SEGUROS</Bold></Paragraph>
        <Paragraph> Hay quienes piensan que todo está predestinado con exactitud de año<Bold>,</Bold> mes<Bold>,</Bold>
            día<Bold>,</Bold> hora<Bold>,</Bold> minuto y segundo<Bold>,</Bold> sobre todo el día de la
            muerte y del
            nacimiento<Bold>.</Bold> <Bold>La realidad es que los que se figuran que creen tal cosa, en realidad
                no la
                creen, como veremos más abajo.</Bold></Paragraph>
        <Paragraph> En este pasaje vemos que <Bold>el día de la muerte de Ezequías no estaba predestinado,</Bold> porque
            después de
            la oración de este rey se le pospuso la muerte otros quince años<Bold>.</Bold> Si hubiera estado
            predestinado su
            fallecimiento para la época en que Isaías anunció su muerte<Bold>,</Bold> no se hubiera cambiado para
            quince
            años después<Bold>;</Bold> y si hubiera sido predestinado su fallecimiento para quince años
            después<Bold>,</Bold> no se le hubiera anunciado la muerte a Ezequías para cuando la anunció
            Isaías<Bold>,</Bold> porque eso hubiera sido profetizar una mentira<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Pudiera algún fanático alegar</Bold> que la muerte estaba predestinada para cuando Isaías la
            anunció
            primeramente<Bold>,</Bold> pero que luego Dios cambió esa predestinación y la predestinó para 15 años
            más
            tarde<Bold>.</Bold> En ese caso<Bold>,</Bold> el fanático esta recurriendo a un eufemismo (cosa muy
            común en
            los que mantienen errores)<Bold>,</Bold> llamándole predestinación a lo que no es
            predestinación<Bold>,</Bold> puesto que <Bold>la predestinación es inmutable. Si la "predestinación"
                de ellos
                no es inmutable, entonces tampoco lo sería la predestinación janseno-calvinista de la
                salvación.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>1 <Bold>En aquellos días cayó Ezequías enfermo para morir.</Bold> <i>Y vino a él Isaías
            profeta<Bold>,</Bold>
            hijo de Amoz<Bold>,</Bold> y díjole<Bold>:</Bold> <Bold>Jehová dice así: Ordena tu casa, porque tú
                morirás, y no vivirás.</Bold></i> 2 <i>Entonces volvió Ezequías su rostro a la pared<Bold>,</Bold>
            e hizo
            oración a Jehová<Bold>.</Bold></i> 3 <i>Y dijo<Bold>:</Bold> Oh Jehová<Bold>,</Bold> ruégote te
            acuerdes
            ahora que he andado delante de ti en verdad y con íntegro corazón<Bold>,</Bold> y que he hecho lo que ha
            sido
            agradable delante de tus ojos<Bold>.</Bold> Y lloró Ezequías con gran lloro<Bold>.</Bold></i> 4 <i>Entonces
            fue palabra de Jehová a Isaías<Bold>,</Bold> diciendo<Bold>:</Bold></i> 5 <i>Ve<Bold>,</Bold> y
            di a
            Ezequías<Bold>:</Bold> Jehová Dios de David tu padre dice así<Bold>:</Bold> Tu oración he
            oído<Bold>,</Bold> y visto tus lágrimas<Bold>:</Bold> <Bold>he aquí que yo añado a tus días quince
                años</Bold></i><Bold>."</Bold> (Isa 38<Bold>:</Bold>1-5)</Paragraph>
        <Paragraph><Bold>En realidad los que dicen creer en la predestinación no creen tal cosa. Ellos se
            autosugestionan</Bold> y
            dicen que creen<Bold>,</Bold> pero en realidad no creen<Bold>.</Bold> Los predestinacionistas creen
            que
            tanto <Bold>la hora de la muerte como la del nacimiento están predestinadas.</Bold> Sin embargo van al
            médico a
            curarse<Bold>,</Bold> pudiendo dejarlo todo a lo que Dios haya predestinado<Bold>.</Bold></Paragraph>
        <Paragraph> Lo mismo ocurre con el día del nacimiento<Bold>,</Bold> todos dicen creer que está
            predestinado<Bold>,</Bold> pero todos usan métodos anticonceptivos para no tener un hijo cada nueve
            meses<Bold>.</Bold> <Bold>Si ellos de verdad creyeran en la predestinación no usarían métodos
                anticonceptivos,</Bold> porque al fin y al cabo lo que iba a pasar ya estaba <Bold>"</Bold>escrito<Bold>".</Bold>
            Si estaba predestinado que tuvieran un hijo lo iban a tener aunque usaran métodos
            anticonceptivos<Bold>;</Bold>
            por el contrario<Bold>,</Bold> si estaba predestinado que no tuvieran un hijo<Bold>,</Bold> no era
            necesario
            usar métodos anticonceptivos<Bold>,</Bold> pues no lo iban a tener<Bold>.</Bold> Sin
            embargo<Bold>,</Bold> usan métodos anticonceptivos<Bold>,</Bold> señal evidente de que en las
            profundidades
            de su alma no creen en la predestinación</Paragraph>
        <Paragraph><Bold>Si estaba predestinado que su casa no se incendiara,</Bold> no se iba a incendiar de ninguna manera<Bold>,</Bold>
            así que no debían gastar su dinero en seguros contra incendio<Bold>.</Bold> Si estaba predestinado que
            la
            enfermedad que adquirieron se les sanara<Bold>,</Bold> no tenían que ir al médico<Bold>,</Bold> se
            sanaría
            de todas formas<Bold>.</Bold> Por el contrario<Bold>,</Bold> si estaba predestinado que la
            enfermedad que
            adquirieron <Bold>no</Bold> se les sanara<Bold>,</Bold> aunque fueran al médico no iban a
            sanar<Bold>.</Bold> Así que <Bold>¿</Bold>para qué van al médico<Bold>?</Bold> Como
            ven<Bold>,</Bold> los predestinacionistas <Bold>se figuran</Bold> que ellos creen en la
            predestinación<Bold>,</Bold> pero <Bold>en la realidad, de las profundidades de su alma, ellos no
                creen en la
                predestinación.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    