---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Satanás fue echado del Cielo antes del pentecostés">
    <section>
        <Paragraph><Bold>SATANÁS ECHADO FUERA DEL CIELO ANTES DE PENTECOSTÉS.</Bold></Paragraph>
        <Paragraph> Cuando en Jn 12<Bold>:</Bold>31 Jesús dice <Bold>"ahora",</Bold> eso nos señala el momento en que
            <Bold>"</Bold>el príncipe de este mundo<Bold>"</Bold> estaba siendo echado fuera<Bold>.</Bold>
            Claro que
            el <Bold>"</Bold>ahora<Bold>"</Bold> ese que él pronuncia podía referirse a ese mismo instante o a
            todo
            aquel proceso de la crucifixión y resurrección del Señor<Bold>,</Bold> que es lo más
            razonable<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Ahora</i></Bold> <i>es el juicio de este mundo<Bold>;</Bold> <Bold>ahora el príncipe de
            este
            mundo será echado fuera</Bold></i><Bold>."</Bold></Paragraph>
        <Paragraph> ( Jn 12<Bold>:</Bold> 31 )</Paragraph>
        <Paragraph> Si leemos Lc 22<Bold>:</Bold>31 veremos que <Bold>Satanás había pedido</Bold> a los apóstoles para
            zarandearlos como a trigo<Bold>.</Bold> <Bold>Si los había pedido es porque en ese momento aún tenía
                acceso a
                Dios,</Bold> es decir<Bold>,</Bold> <Bold>no había sido echado del Cielo aún.</Bold> Sin
            embargo<Bold>,</Bold> <Bold>después de la crucifixión de Cristo,</Bold> en ninguna parte del Nuevo
            Testamento se dice que Satanás se presentara ante Dios<Bold>,</Bold> ni se induce que lo
            hiciera<Bold>.</Bold> Eso hace pensar que ya no se podía presentar ante Dios a hacer
            peticiones<Bold>.</Bold></Paragraph>
        <Paragraph> Después de la crucifixión<Bold>,</Bold> Satanás y los demonios<Bold>,</Bold> aunque echados fuera
            del
            Cielo<Bold>,</Bold> siguen tentando al humano<Bold>,</Bold> con la misma antigua permisión divina
            que
            siempre tuvieron<Bold>,</Bold> y eso solamente en términos generales<Bold>,</Bold> no pidiendo
            permiso para
            una tentación específica<Bold>,</Bold> como en el caso de Job<Bold>,</Bold> y en el de zarandear a
            los
            apóstoles<Bold>.</Bold> En estos dos casos mencionados se ve que Satanás tenía acceso directo a
            Dios<Bold>,</Bold> porque estaba aún en el Cielo<Bold>.</Bold></Paragraph>
        <Paragraph> Sabiendo que a Satanás se le llama <Bold>"</Bold>el príncipe de este mundo<Bold>",</Bold> nos es
            dable
            pensar que <Bold>él fue "arrojado fuera" del Cielo durante el ministerio terrestre de Cristo.</Bold>
            <Bold>¿</Bold>Por qué pienso así<Bold>?</Bold> Porque en Jn 12<Bold>:</Bold>31<Bold>,</Bold>
            que
            leímos anteriormente<Bold>,</Bold> vemos que Nuestro Señor Jesucristo habla en presente diciendo que
            <Bold>"ahora"
                "será"</Bold> echado fuera Satanás<Bold>.</Bold> Al decir
            <Bold>"</Bold>ahora<Bold>"</Bold> nos
            hace ver que iba a ser echado fuera durante el proceso de la crucifixión y resurrección del
            Señor<Bold>;</Bold>
            y al usar la palabra <Bold>"</Bold>será<Bold>"</Bold> (futuro) nos hace ver que <Bold>en el
                momento en que
                hablaba aún no había sido echado fuera.</Bold></Paragraph>
        <Paragraph> Ahora bien<Bold>,</Bold> <Bold>¿</Bold>de dónde fue arrojado fuera<Bold>?</Bold> Lógico es
            pensar que
            del Cielo<Bold>;</Bold> porque evidentemente<Bold>,</Bold> no fue echado fuera del planeta
            Tierra<Bold>.</Bold> Todo esto concuerda con lo dicho por el Señor en Lc
            10<Bold>:</Bold>18<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y les dijo<Bold>:</Bold> Yo veía a Satanás<Bold>,</Bold> como un rayo<Bold>,
            que caía
            del Cielo.</Bold></i><Bold>"</Bold> ( Lc 10<Bold>:</Bold> 18 )</Paragraph>
        <Paragraph><Bold>Es probable que al Diablo se le soportara por un tiempo en el Cielo,</Bold> a pesar de sus maldades<Bold>,</Bold>
            como lo indican los capítulos primero y segundo de Job<Bold>.</Bold> Pero cuando se atrevió a levantarse
            directamente contra el Hijo de Dios<Bold>,</Bold> durante la vida terrenal del Señor<Bold>,</Bold>
            tentándolo<Bold>,</Bold> tratando de hacer que pecara<Bold>,</Bold> y por último incitando a otros a
            que lo
            hicieran sufrir<Bold>,</Bold> lo crucificaran y lo asesinaran<Bold>,</Bold> <Bold>ya no se le
                soportó
                más.</Bold> Había llegado muy lejos<Bold>,</Bold> y por lo tanto<Bold>,</Bold> no podía seguir
            viviendo donde iría a vivir y a reinar Jesús resucitado<Bold>,</Bold> a quien maltrató y asesinó en la
            Tierra<Bold>.</Bold> No es lógico que hubiera ya en el Cielo lugar para él<Bold>;</Bold> y debido a
            eso<Bold>,</Bold> fue arrojado a la Tierra<Bold>.</Bold> <Bold>No podían vivir juntos "bajo un
                mismo
                techo" Dios y el asesino de su Hijo.</Bold> No podían vivir juntos Cristo y quien
            trató<Bold>,</Bold>
            mediante tentaciones de pecado<Bold>,</Bold> de alejarlo para siempre de su Padre Dios<Bold>.</Bold>
            <Bold>Por eso es lógico pensar que fue después de la crucifixión, que Satanás fue echado fuera del
                Cielo.</Bold>
        </Paragraph>
        <Paragraph> Está claro que el proceso de la crucifixión y resurrección de Cristo es el momento descrito en Ap
            12<Bold>:</Bold>7-13 donde se menciona por dos veces que el Diablo fue echado fuera<Bold>,</Bold>
            especialmente en los versículos 9 y 12<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Y fue hecha una grande batalla en el Cielo<Bold>,</Bold> Miguel y sus ángeles
            lidiaban
            contra el dragón<Bold>;</Bold> y lidiaba el dragón y sus ángeles<Bold>.</Bold></i> 8 <i><Bold>Y no
            prevalecieron, ni su lugar fue más hallado en el Cielo.</Bold></i> 9 <i><Bold>Y fue lanzado fuera aquel
            gran
            dragón, la serpiente antigua, que se llama Diablo y Satanás,</Bold> el cual engaña a todo el
            mundo<Bold>;</Bold> <Bold>fue arrojado en tierra, y sus ángeles fueron arrojados con él.</Bold></i>
            10 <i>Y
                oí una grande voz en el Cielo que decía<Bold>:</Bold> <Bold>Ahora ha venido la salvación,</Bold>
                y la virtud<Bold>,</Bold>
                y el reino de nuestro Dios<Bold>,</Bold> y el poder de su Cristo<Bold>;</Bold> porque <Bold>el
                    acusador de
                    nuestros hermanos ha sido arrojado, el cual los acusaba delante de nuestro Dios</Bold> día y
                noche<Bold>.</Bold></i> 11 <i>Y ellos le han vencido por la sangre del Cordero<Bold>,</Bold> y
                por la
                palabra de su testimonio<Bold>;</Bold> y no han amado sus vidas hasta la
                muerte<Bold>.</Bold></i> 12 <i>Por
                lo cual alegraos<Bold>,</Bold> Cielos<Bold>,</Bold> y los que moráis en ellos<Bold>.</Bold>
                <Bold>¡</Bold>Ay de los moradores de la tierra y del mar<Bold>!,</Bold> porque <Bold>el Diablo
                    ha
                    descendido a vosotros,</Bold> teniendo grande ira<Bold>,</Bold> sabiendo que tiene poco
                tiempo<Bold>.</Bold></i> 13 <i><Bold>Y cuando vio el dragón que él había sido arrojado a la
                Tierra, persiguió
                a la mujer que había parido al hijo varón</Bold></i><Bold>."</Bold> ( Ap 12<Bold>:</Bold>7-13
            )</Paragraph>
        <Paragraph> En este pasaje se dice que el Diablo<Bold>,</Bold> una vez lanzado a Tierra<Bold>,</Bold> persiguió
            a la
            mujer<Bold>,</Bold> cosa que concuerda con la realidad histórica<Bold>,</Bold> si admitimos que la
            mujer es
            el conjunto de los santos<Bold>,</Bold> la Iglesia<Bold>,</Bold> los creyentes de la sinagoga
            convertidos al
            cristianismo<Bold>.</Bold> Efectivamente<Bold>,</Bold> la persecución se desató contra la Iglesia
            <Bold>después
                de la crucifixión y resurrección del Señor. Recordemos que fueron los judíos las víctimas de la primera
                persecución al cristianismo.</Bold></Paragraph>
        <Paragraph> Después de haber sido arrojado del Cielo<Bold>,</Bold> es que Satanás persiguió a la
            Iglesia<Bold>,</Bold>
            de donde se deduce que <Bold>él fue arrojado del Cielo antes de las persecuciones de la Iglesia,</Bold>
            pero
            <Bold>después</Bold> que Jesucristo dijo en Jn 12<Bold>:</Bold>31<Bold>,</Bold> que era
            <Bold>"</Bold>ahora<Bold>"</Bold> que Satanás sería expulsado<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Ahora es</i></Bold> <i>el juicio de este mundo<Bold>;</Bold> <Bold>ahora</Bold> el
            príncipe de
            este mundo <Bold>será</Bold> echado fuera</i><Bold>."</Bold> ( Jn 12<Bold>:</Bold>31 )</Paragraph>
        <Paragraph> Es de notarse lo categórico que fue el Señor en este versículo ( Jn 12<Bold>:</Bold>31 ) cuando
            dijo<Bold>:</Bold> <Bold>"....ahora</Bold> el príncipe de este mundo <Bold>será</Bold> echado
            fuera<Bold>".</Bold> Esto lo está diciendo poco antes del capítulo trece de Juan<Bold>,</Bold> donde
            comienza la larga y detallada narración de la conversación del Señor con sus discípulos durante la última
            cena<Bold>.</Bold> Quiero decir con esto<Bold>,</Bold> que ya faltaba muy poco para la crucifixión y
            aún el
            Señor pone la expulsión en futuro<Bold>,</Bold> pero un futuro cercano<Bold>,</Bold> por cuanto es
            modificado por el adverbio <Bold>"</Bold>ahora<Bold>".</Bold></Paragraph>
        <Paragraph><Bold>De todo esto se colige que la expulsión ocurrió después de la crucifixión;</Bold> lo
            cual<Bold>,</Bold>
            además<Bold>,</Bold> suena lógico<Bold>,</Bold> por la razón de que no van a convivir
            Dios<Bold>,</Bold>
            Cristo<Bold>,</Bold> el Espíritu Santo y los que aman a Jesús<Bold>,</Bold> en el
            Cielo<Bold>,</Bold>
            con el que lo asesinó en la Tierra e intentó perderlo eternamente<Bold>.</Bold></Paragraph>
        <Paragraph> Otra cosa que ayuda a pensar que la expulsión de Satanás del Cielo tuvo lugar durante el proceso de la
            crucifixión y
            resurrección del Señor<Bold>,</Bold> es el hecho de que en el versículo 10 de este capítulo de
            Apocalipsis<Bold>,</Bold> después de decir en el 9 que Satanás y sus ángeles habían sido
            expulsados<Bold>,</Bold> dice que <Bold>"...Ahora ha venido la salvación...".</Bold> No es lógico
            pensar que
            la salvación vino porque simplemente se expulse al Diablo del Cielo<Bold>.</Bold> <Bold>Lo lógico es
                pensar
                que la salvación vino sólo después que Jesucristo murió y resucitó;</Bold> por lo
            tanto<Bold>,</Bold>
            tenemos que pensar que si la mencionada salvación y la expulsión son contemporáneas<Bold>,</Bold> esta
            expulsión
            ocurrió durante el proceso de la crucifixión y resurrección<Bold>.</Bold></Paragraph>
        <Paragraph> También es lógico razonar que si mencionan que la persecución de la iglesia ocurrió <Bold>después</Bold>
            que
            Satanás fue echado fuera<Bold>,</Bold> es porque <Bold>Satanás había sido ya expulsado del Cielo
                cuando
                comenzó la persecución de la Iglesia.</Bold> Tal vez el Señor estuvo en la Tierra 40 días antes de
            ascender<Bold>,</Bold> para dar tiempo a que echaran del Cielo a sus enemigos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    