---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El Diluvio no fue local sino universal">
    <Content>
        <Paragraph><Bold>EL DILUVIO NO FUE LOCAL SINO UNIVERSAL</Bold></Paragraph>
        <Paragraph><Bold>Hay creyentes de la Biblia</Bold> que tienen la errada hipótesis de que el Diluvio fue un fenómeno
            local o
            regional y no universal<Bold>.</Bold> Esa hipótesis no hace sentido<Bold>,</Bold> pues en el pasaje
            que más
            abajo muestro dice bien claramente que <Bold>las aguas prevalecieron sobre la tierra 150 días. Si el
                Diluvio
                hubiera sido una inundación local las aguas hubieran corrido hacia el océano en mucho menos de 150
                días,</Bold> y bajo ninguna circunstancia hubieran alcanzado una altura de 15 codos
            (7<Bold>.</Bold>5
            metros) por encima de las montañas<Bold>.</Bold> Además<Bold>,</Bold> <Bold>si hubieran habido
                otras
                montañas no tapadas por el agua, la gente hubiera ido hacia ellas</Bold> para
            salvarse<Bold>,</Bold> y no
            se hubiera salvado solamente la familia de Noé<Bold>,</Bold> sino muchas más<Bold>.</Bold></Paragraph>
        <Paragraph> Igualmente<Bold>,</Bold> ha habido y sigue habiendo multitud de inundaciones locales<Bold>,</Bold>
            es
            decir<Bold>,</Bold> diluvios locales<Bold>.</Bold> <Bold>Si aquel hubiera sido un diluvio local,
                entonces
                Dios no hubiera prometido que no habría más diluvios (locales),</Bold> porque sí los ha
            habido<Bold>.</Bold> Es lógico pensar que Dios prometió que no habría más Diluvios<Bold>,</Bold>
            porque a lo
            que Él se refería era a un Diluvio universal que<Bold>,</Bold> efectivamente<Bold>,</Bold> nunca más
            lo ha
            habido<Bold>.</Bold> Dios prometió que nunca más destruiría toda carne con aguas de diluvio y estableció
            el arco
            iris como señal<Bold>.</Bold> Si el Diluvio hubiera sido local<Bold>,</Bold> y no
            universal<Bold>,</Bold> entonces no se habría cumplido esa promesa divina hecha en Gn
            9<Bold>;</Bold>11<Bold>,</Bold> pues ha habido muchas inundaciones o diluvios
            locales<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Y prevalecieron las aguas sobre la tierra ciento y cincuenta días</i>."</Bold> (Gn
            7<Bold>;</Bold>24)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Estableceré mi pacto con vosotros<Bold>,</Bold> y <Bold>no fenecerá ya más toda
            carne con
            aguas de diluvio;</Bold> ni habrá más diluvio para destruir la
            tierra<Bold>.</Bold></i><Bold>"</Bold> (Gn
            9<Bold>;</Bold>11)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Además<Bold>,</Bold> es lógico pensar que al principio de la Creación<Bold>,</Bold> cuando el ser
            humano
            duraba más de 900 años<Bold>,</Bold> la multiplicación del humano fue tal que los habitantes del planeta
            se
            contaban por miles de millones<Bold>.</Bold> Hoy en día tenemos seis mil millones de habitantes en el
            planeta<Bold>,</Bold> o posiblemente más<Bold>.</Bold> Para constatar tal afirmación sobre la
            tremenda
            multiplicación del humano al principio de la Creación<Bold>,</Bold> ver el artículo #
            32<Bold>,</Bold> de
            esta misma serie<Bold>,</Bold> titulado<Bold>;</Bold> <Bold>¿</Bold>Quién podía matar a
            Caín<Bold>?</Bold> Es razonable pensar también que<Bold>,</Bold> siendo tantos
            millones<Bold>,</Bold> el
            humano estuviera habitando todo el planeta<Bold>.</Bold> Por tanto<Bold>,</Bold> si el Diluvio no
            hubiera
            sido universal<Bold>,</Bold> se habrían salvado cientos de millones<Bold>.</Bold> Sin embargo en
            época de
            Abraham la población era escasa<Bold>,</Bold> y en época del imperio romano la población era mucho menor
            que
            ahora<Bold>,</Bold> pues los entendidos en demografía estiman que no llegaba a 100 millones en el
            imperio romano<Bold>.</Bold>
            De ahí se deduce que no quedaron esos cientos de millones que hubieran quedado si el Diluvio no hubiera sido
            universal<Bold>.</Bold></Paragraph>
        <Paragraph>Además<Bold>,</Bold> <Bold>si Dios dijo que no fenecería más toda carne con aguas de Diluvio, eso nos
            indica
            que toda carne feneció.</Bold> Y si toda carne feneció<Bold>,</Bold> el Diluvio tuvo que llegar a
            donde quiera
            que hubiera gente<Bold>,</Bold> y había gente en toda la Tierra<Bold>,</Bold> porque miles de
            millones no se
            pueden concentrar en sólo una región<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    