---
import Layout from "../layout/Layout.astro";
---

<Layout title="El Diluvio no fue local sino universal">
    <section>
        <p><strong>EL DILUVIO NO FUE LOCAL SINO UNIVERSAL</strong></p>
        <p><strong>Hay creyentes de la Biblia</strong> que tienen la errada hipótesis de que el Diluvio fue un fenómeno
            local o
            regional y no universal<strong>.</strong> Esa hipótesis no hace sentido<strong>,</strong> pues en el pasaje
            que más
            abajo muestro dice bien claramente que <strong>las aguas prevalecieron sobre la tierra 150 días. Si el
                Diluvio
                hubiera sido una inundación local las aguas hubieran corrido hacia el océano en mucho menos de 150
                días,</strong> y bajo ninguna circunstancia hubieran alcanzado una altura de 15 codos
            (7<strong>.</strong>5
            metros) por encima de las montañas<strong>.</strong> Además<strong>,</strong> <strong>si hubieran habido
                otras
                montañas no tapadas por el agua, la gente hubiera ido hacia ellas</strong> para
            salvarse<strong>,</strong> y no
            se hubiera salvado solamente la familia de Noé<strong>,</strong> sino muchas más<strong>.</strong></p>
        <p> Igualmente<strong>,</strong> ha habido y sigue habiendo multitud de inundaciones locales<strong>,</strong>
            es
            decir<strong>,</strong> diluvios locales<strong>.</strong> <strong>Si aquel hubiera sido un diluvio local,
                entonces
                Dios no hubiera prometido que no habría más diluvios (locales),</strong> porque sí los ha
            habido<strong>.</strong> Es lógico pensar que Dios prometió que no habría más Diluvios<strong>,</strong>
            porque a lo
            que Él se refería era a un Diluvio universal que<strong>,</strong> efectivamente<strong>,</strong> nunca más
            lo ha
            habido<strong>.</strong> Dios prometió que nunca más destruiría toda carne con aguas de diluvio y estableció
            el arco
            iris como señal<strong>.</strong> Si el Diluvio hubiera sido local<strong>,</strong> y no
            universal<strong>,</strong> entonces no se habría cumplido esa promesa divina hecha en Gn
            9<strong>;</strong>11<strong>,</strong> pues ha habido muchas inundaciones o diluvios
            locales<strong>.</strong></p>
        <p></p>
        <p><strong>"<i>Y prevalecieron las aguas sobre la tierra ciento y cincuenta días</i>."</strong> (Gn
            7<strong>;</strong>24)
        </p>
        <p></p>
        <p></p>
        <p><strong>"</strong><i>Estableceré mi pacto con vosotros<strong>,</strong> y <strong>no fenecerá ya más toda
            carne con
            aguas de diluvio;</strong> ni habrá más diluvio para destruir la
            tierra<strong>.</strong></i><strong>"</strong> (Gn
            9<strong>;</strong>11)</p>
        <p></p>
        <p> Además<strong>,</strong> es lógico pensar que al principio de la Creación<strong>,</strong> cuando el ser
            humano
            duraba más de 900 años<strong>,</strong> la multiplicación del humano fue tal que los habitantes del planeta
            se
            contaban por miles de millones<strong>.</strong> Hoy en día tenemos seis mil millones de habitantes en el
            planeta<strong>,</strong> o posiblemente más<strong>.</strong> Para constatar tal afirmación sobre la
            tremenda
            multiplicación del humano al principio de la Creación<strong>,</strong> ver el artículo #
            32<strong>,</strong> de
            esta misma serie<strong>,</strong> titulado<strong>;</strong> <strong>¿</strong>Quién podía matar a
            Caín<strong>?</strong> Es razonable pensar también que<strong>,</strong> siendo tantos
            millones<strong>,</strong> el
            humano estuviera habitando todo el planeta<strong>.</strong> Por tanto<strong>,</strong> si el Diluvio no
            hubiera
            sido universal<strong>,</strong> se habrían salvado cientos de millones<strong>.</strong> Sin embargo en
            época de
            Abraham la población era escasa<strong>,</strong> y en época del imperio romano la población era mucho menor
            que
            ahora<strong>,</strong> pues los entendidos en demografía estiman que no llegaba a 100 millones en el
            imperio romano<strong>.</strong>
            De ahí se deduce que no quedaron esos cientos de millones que hubieran quedado si el Diluvio no hubiera sido
            universal<strong>.</strong></p>
        <p>Además<strong>,</strong> <strong>si Dios dijo que no fenecería más toda carne con aguas de Diluvio, eso nos
            indica
            que toda carne feneció.</strong> Y si toda carne feneció<strong>,</strong> el Diluvio tuvo que llegar a
            donde quiera
            que hubiera gente<strong>,</strong> y había gente en toda la Tierra<strong>,</strong> porque miles de
            millones no se
            pueden concentrar en sólo una región<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    