---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Falacias del Discurso de Eliú, y Grandeza de Job">
    <Title>FALACIAS DEL DISCURSO DE ELIÚ, Y GRANDEZA DE JOB.</Title>

    <Tag>#85</Tag>
    <Content>
        
        <Paragraph> Los capítulos 32 al 37 del libro de Job contienen el discurso de Eliú<Bold>.</Bold> Desde
            32<Bold>:</Bold>6
            hasta 33<Bold>:</Bold>7 Eliú se la pasa diciendo<Bold>:</Bold> <Bold>a)</Bold> por qué él no
            quiso
            hablar antes<Bold>; b)</Bold> por qué sí tenía ahora ganas de hablar<Bold>;</Bold>
            <Bold>c)</Bold> cómo
            él era un hombre recto y sabio (33<Bold>:</Bold>3 y 33)<Bold>;</Bold> <Bold>d)</Bold> cómo lo
            habían
            defraudado los discursos de los tres amigos<Bold>,</Bold> etc<Bold>.,</Bold> etc<Bold>..</Bold>
            <Bold>Nada
                especialmente significativo.</Bold></Paragraph>
        <Paragraph><Bold>Después de eso comienza a "evangelizar" a Job (33:8-33) como si éste no supiera quién era Dios y cuál
            era su
            modo de ser y proceder.</Bold> En 32 <Bold>:</Bold>13 dice algo que no es cierto<Bold>,</Bold> al
            afirmar
            que Dios lanzó a Job<Bold>,</Bold> como diciendo que Dios lo desechó<Bold>.</Bold> <Bold>Al
                contrario,
                durante todo este proceso Dios tenía puesta tal confianza en Job como de un hombre perfecto, recto,
                temeroso de
                Dios y apartado del mal, que no dudó en someterlo a todo aquel proceso, seguro de que Job no Lo iba a
                abochornar</Bold> en su confianza<Bold>,</Bold> sino que le iba a servir para darle una buena
            lección a
            Satanás<Bold>.</Bold> Y efectivamente<Bold>,</Bold> aún viniéndole espantosas desgracias que
            parecían tener
            su origen en Dios<Bold>,</Bold> sin que hubiera razón para ello<Bold>,</Bold> aún así Job permaneció
            fiel a
            Dios<Bold>.</Bold> Por lo tanto <Bold>Dios no lanzó ni desechó a Job,</Bold> como dijo
            Eliú<Bold>,</Bold> sino que lo honró sometiéndolo a la más grande prueba de fidelidad que se le puede
            hacer a un
            ser humano<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque no digáis<Bold>:</Bold> Nosotros hemos hallado sabiduría<Bold>:</Bold>
            <Bold>Lanzólo</Bold>
            <Bold>Dios, no el hombre</Bold></i><Bold>."</Bold> (Job 32<Bold>:</Bold>13)</Paragraph>
        <Paragraph> También Eliú alega en 33<Bold>:</Bold>8-10<Bold>,</Bold> como criticando a Job<Bold>,</Bold> que
            éste
            decía que él era limpio<Bold>,</Bold> inocente<Bold>,</Bold> sin defecto y sin
            maldad<Bold>.</Bold>
            <Bold>Primero que todo, Job no dijo que él siempre hubiera sido así, puesto que él reconocía que en su
                juventud
                había pecado, como se ve en 13:26.</Bold> Por lo tanto<Bold>,</Bold> Job no se hacía el
            limpio<Bold>,</Bold> inocente y sin defecto<Bold>,</Bold> él confesaba que los había
            tenido<Bold>;</Bold> pero que ahora no los tenía<Bold>.</Bold> Si ahora no los
            tenía<Bold>,</Bold> no
            tenía un porqué <Bold>"</Bold>confesar<Bold>"</Bold> falsa e hipócritamente<Bold>,</Bold> que él
            sí
            tenía pecados<Bold>,</Bold> exhibiendo así una humildad y modestia fingidas<Bold>.</Bold></Paragraph>
        <Paragraph> Pero es el caso<Bold>,</Bold> que no es que solamente Job honestamente dijera la verdad respecto a su
            limpia
            vida<Bold>,</Bold> es que quien da testimonio de su pureza y limpieza es el mismo Dios cuando le dijo a
            Satanás
            lo dicho en Job 1<Bold>:</Bold>8</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"¿</Bold><i>Por qué escribes contra mí amarguras<Bold>,</Bold> y <Bold>me haces cargo de los
            pecados
            de mi mocedad</Bold></i><Bold>?"</Bold> (Job 13<Bold>:</Bold>26)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y Jehová dijo a Satán<Bold>:</Bold> <Bold>¿</Bold>No has considerado a <Bold>mi
            siervo
            Job, que no hay otro como él en la tierra, varón perfecto y recto, temeroso de Dios, y apartado de
            mal</Bold></i><Bold>?"</Bold> (Job 1<Bold>:</Bold>8)</Paragraph>
        <Paragraph><Bold>Por lo tanto las palabras de Job no reflejaban vanidad o engreimiento, sino una verdad respaldada por
            Dios.</Bold> Job no comprendía por qué le ocurrían tan espantosas desgracias si él no había vuelto a pecar
            desde
            su juventud<Bold>.</Bold> <Bold>¿</Bold>Qué querían Eliú y los tres amigos<Bold>?</Bold>
            <Bold>¿</Bold>Que Job<Bold>,</Bold> sin sentirlo<Bold>,</Bold> sin creerlo<Bold>,</Bold> y
            lleno de
            hipocresía y falsa humildad mintiera diciendo que recientemente él había pecado mucho<Bold>?</Bold> Eso
            mismo
            hacen muchos ahora<Bold>,</Bold> pues tratan de ver pecado en Job por el hecho de que el confesara
            honestamente
            que no tenía pecado<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En 34:7-9 Eliú calumnia a Job como antes hicieron sus tres amigos,</Bold> diciendo que él cometía
            pecados y
            hacía cosas que no era cierto que Job las hiciera<Bold>.</Bold> Todo aquello era lo que Eliú se
            imaginaba que
            Job debía estar haciendo<Bold>,</Bold> dado que le estaban ocurriendo cosas tan
            horribles<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <Bold>¿<i>Qué hombre hay como Job, que bebe el escarnio como agua</i>?</Bold> 8 <i>Y
            va en
            compañía con los que obran iniquidad<Bold>,</Bold> Y anda con los hombres
            maliciosos<Bold>.</Bold></i> 9 <i><Bold>Porque
            ha dicho: De nada servirá al hombre El conformar su voluntad con Dios</Bold></i><Bold>."</Bold> (Job
            34<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> En ningún momento Job dijo que de nada serviría al hombre hacer la voluntad de Dios<Bold>;</Bold> eso
            era una
            calumnia de Eliú<Bold>.</Bold> Después Eliú prosigue su discurso <Bold>detallando y defendiendo cosas
                obvias
                que nadie había negado ni discutido,</Bold> como la justicia y el poder de Dios<Bold>,</Bold> y el
            fin de
            los seres perversos<Bold>.</Bold> Esto de defender puntos que nadie ha negado ni
            atacado<Bold>,</Bold> es
            típico de aquellos que no tienen mejor prueba para avalar sus afirmaciones<Bold>.</Bold> <Bold>Es muy
                común en
                las discusiones, ver cómo uno de los contendientes, que no puede probar su punto ni destruir el del
                contrario,
                se lanza con ferocidad a defender lo que su contrincante no ha atacado ni puesto en duda, para así
                aparentar que
                él está defendiendo algo, o probando su tesis.</Bold> En 34<Bold>:</Bold>37 Eliú acusa a Job de
            pecado y
            de impiedad<Bold>,</Bold> acusaciones a todas luces falsas<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"<i>Porque a su pecado añadió impiedad:</i></Bold> <i>Bate las manos entre
            nosotros<Bold>,</Bold> y
            <Bold>contra Dios multiplica sus palabras</Bold></i><Bold>."</Bold> (Job 34<Bold>:</Bold>37)</Paragraph>
        <Paragraph> Digo que esas acusaciones eran falsas<Bold>,</Bold> porque es el mismo Dios el que justifica a Job en
            2<Bold>:</Bold>3<Bold>,</Bold> aún después de sufrir las desgracias aquí descritas<Bold>,</Bold>
            y más
            tarde<Bold>,</Bold> ya al final del libro<Bold>,</Bold> cuando justifica de nuevo a
            Job<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y Jehová dijo a Satán<Bold>:</Bold></i> <Bold>¿</Bold><i>No has considerado a
            <Bold>mi
                siervo Job, que no hay otro como él en la tierra, varón perfecto y recto, temeroso de Dios y apartado de
                mal, y que
                aun retiene su perfección,</Bold> habiéndome tú incitado contra él<Bold>,</Bold> para que lo
            arruinara sin
            causa</i><Bold>?"</Bold> (Job 2<Bold>:</Bold>3 )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>…por cuanto <Bold>no habéis hablado por mí con rectitud, como mi siervo Job."</Bold>
            (Job
            42<Bold>:</Bold>8)</Paragraph>
        <Paragraph><Bold>En 35:2 Eliú acusa a Job de decir que él era más justo que Dios, lo cual es falso.</Bold> Job lo
            que
            siempre dijo es que él no merecía lo que le estaba pasando<Bold>,</Bold> porque nada malo le recriminaba
            su
            conciencia<Bold>,</Bold> y que él no entendía lo que le estaba ocurriendo<Bold>.</Bold> Eso era
            cierto<Bold>.</Bold> <Bold>¿</Bold>Qué menos podía decir un hombre sometido a tan terribles
            circunstancias<Bold>?</Bold> Incluso llegó a creer que Dios lo estaba castigando por los pecados de su
            mocedad
            (13<Bold>:</Bold>26) y en varias ocasiones pidió clemencia<Bold>.</Bold> <Bold>¿</Bold>En dónde
            está
            escrito que Job hubiera dicho que él era más justo que Dios<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>¿</Bold><i>Piensas ser conforme a derecho <Bold>esto que dijiste: Más justo soy yo que
            Dios</Bold></i><Bold>?"</Bold> (Job 35<Bold>:</Bold>2)</Paragraph>
        <Paragraph><Bold>Entre los detractores de Job, sin embargo,</Bold> no había ninguno que hubiera sido tenido por
            digno de que
            Dios lo escogiera de modelo para abochornar a Satán<Bold>,</Bold> ni de ser mencionados como modelo de
            perfección<Bold>,</Bold> junto a Noé<Bold>,</Bold> Daniel y Moisés en Ezq 14<Bold>:</Bold>14 y
            20<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Si estuvieren en medio de ella estos tres varones<Bold>,</Bold> <Bold>Noé, Daniel,
            y
            Job,</Bold> ellos por su justicia librarán su vida<Bold>,</Bold> dice el Señor
            Jehová</i><Bold>."</Bold>
            (Ezq 14<Bold>:</Bold>14)</Paragraph>
        <Paragraph><Bold>En Job 36:17-21 Eliú calumnia de nuevo a Job.</Bold> En el versículo 17 lo acusa de injusto e impío
            y en el
            21 lo acusa de que prefiere la iniquidad<Bold>,</Bold> acusaciones estas que eran contrarias a la
            opinión que ya
            vimos que Dios tenía de Job<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>Mas tú has llenado el juicio del impío,</Bold> <i>en vez de sustentar el
            juicio y la
            justicia<Bold>.</Bold></i> 18 <i>Por lo cual teme que en su ira no te quite con golpe<Bold>,</Bold>
            El cual
            no puedas apartar de ti con gran rescate<Bold>.</Bold></i> 19 <i><Bold>¿</Bold>Hará él estima de tus
            riquezas<Bold>,</Bold> ni del oro<Bold>,</Bold> ni de todas las fuerzas del poder<Bold>?</Bold></i>
            20
            <i><Bold>No anheles la noche,</Bold> en que desaparecen los pueblos de su lugar<Bold>.</Bold></i> 21
            <i><Bold>Guárdate, no tornes a la iniquidad; pues ésta escogiste</Bold> más bien que la
                aflicción</i><Bold>."</Bold> (Job 36<Bold>:</Bold>17-21)</Paragraph>
        <Paragraph><Bold>En resumen, ni Sofar ni Bildad ni Elifaz ni Eliú dijeron nada que ayudara a Job</Bold> a entender
            lo que le
            estaba sucediendo<Bold>,</Bold> o a consolarlo<Bold>.</Bold> Sólo se ocuparon de calumniarlo y
            atosigarlo
            más de lo que ya estaba<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cuando en el capítulo 38 Dios responde a Job, no lo acusa de maldad, sino que le hace ver que él no
            podía
            tener la sabiduría que se necesitaba para poder entender lo que le estaba ocurriendo, puesto que esa
            sabiduría sólo
            estaba en Dios.</Bold> Luego Dios le muestra a Job todas las cosas que él no sabía<Bold>,</Bold> para
            que
            comprendiera que el humano no puede entenderlo todo<Bold>,</Bold> pero <Bold>en ningún momento lo
                redarguye de
                pecado,</Bold> sino que por haber sido fiel en toda esta horrorosa prueba<Bold>,</Bold> por
            haberle
            servido para abochornar a Satanás<Bold>,</Bold> Dios le devuelve la felicidad anterior y le duplica los
            bienes<Bold>.</Bold></Paragraph>
        <Paragraph> La prueba del gran concepto que Dios siempre tuvo y siguió teniendo sobre Job<Bold>,</Bold> es que
            muchos siglos
            después de estos acontecimientos todavía Dios se acordaba de él y lo usaba como modelo<Bold>,</Bold>
            como
            ejemplo de persona a la que Él oiría por encima de todos los demás<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Hay quienes piensan que Dios desaprobó a Job y a su discurso, pero no es cierto.</Bold> En el
            siguiente
            pasaje se ve la aprobación de Dios para ambas cosas<Bold>:</Bold> para la persona de Job y para lo que
            dijo
            Job<Bold>.</Bold> Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Y aconteció que después que habló Jehová estas palabras a Job<Bold>,</Bold> Jehová
            dijo a
            Eliphaz Temanita<Bold>:</Bold> Mi ira se encendió contra ti y tus dos compañeros<Bold>:</Bold>
            <Bold>porque
                no habéis hablado por mí lo recto, como mi siervo Job.</Bold> 8 Ahora pues<Bold>,</Bold> tomaos
            siete
            becerros y siete carneros<Bold>,</Bold> y andad a mi siervo Job<Bold>,</Bold> y ofreced holocausto
            por
            vosotros<Bold>,</Bold> y mi siervo Job orará por vosotros<Bold>;</Bold> <Bold>porque de cierto a
                él
                atenderé</Bold> para no trataros afrentosamente<Bold>,</Bold> <Bold>por cuanto no habéis hablado
                por mí
                con rectitud, como mi siervo Job</Bold></i><Bold>."</Bold> (Job 42<Bold>:</Bold>7-8)</Paragraph>
        <Paragraph><Bold>Lo único que Dios reprochó a Job</Bold> es que haya basado sus razonamientos<Bold>,</Bold> en
            sus
            limitados conocimientos<Bold>,</Bold> sin darse cuenta de que pudiera haber otras razones que él
            ignoraba<Bold>,</Bold> para que ocurriera todo aquello que él estaba sufriendo<Bold>.</Bold>
            Efectivamente<Bold>,</Bold> Job ignoraba que todo aquello que le estaba ocurriendo lo estaba utilizando
            Dios
            para abochornar a Satanás<Bold>,</Bold> demostrándole que Job era mejor que él a pesar de que era un ser
            de
            menor categoría<Bold>,</Bold> y a pesar de que estaba sufriendo lo que él creía que eran dolores
            provenientes de
            Dios<Bold>,</Bold> sin haber hecho nada que mereciera tan horrible castigo<Bold>.</Bold> Job estaba
            en lo
            cierto<Bold>,</Bold> no era aquello algo que él mereciera<Bold>,</Bold> pero era algo que Dios había
            querido
            poner en él para eterno bochorno de Satanás y eterna honra de Job<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    