---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Egipto y Rusia Comparación">
    <Content>
        <Paragraph><Bold>TEORÍA DE LOS ÁNGELES PATROCINANDO LAS NACIONES:</Bold></Paragraph>
        <Paragraph><Bold>PARALELO ENTRE EL EGIPTO FARAÓNICO Y LA RUSIA COMUNISTA</Bold></Paragraph>
        <Paragraph> Ya he hablado en otras ocasiones de la teoría de que a los países se les asigna algo así como
            administradores
            angelicales<Bold>,</Bold> que son los que tratan de conducir a esa nación<Bold>,</Bold> hasta donde
            ellos
            pueden<Bold>,</Bold> sin violentar la voluntad humana<Bold>,</Bold> sin atropellar derechos ajenos y
            permaneciendo dentro de las leyes que rigen en las esferas celestiales<Bold>.</Bold> (Ardua tarea
            esta)<Bold>.</Bold></Paragraph>
        <Paragraph> También hay ángeles rebeldes que antagonizan con los anteriores en la conducción del país<Bold>,</Bold>
            al igual
            que ocurre en la vida y conducta del individuo particular<Bold>.</Bold> En la misma forma en
            que<Bold>,</Bold> a pesar de la conducción benefactora del Espíritu Santo y los ángeles de Dios sobre el
            cristiano<Bold>,</Bold> la conducta de éste deja en ocasiones mucho que desear<Bold>,</Bold> así
            ocurre con
            las naciones<Bold>.</Bold> Esto ocurre porque hay un factor independiente<Bold>,</Bold> la voluntad
            humana<Bold>,</Bold> que <Bold>Dios no permite que ni unos ni otros la violenten; ni siquiera la
                violenta Él
                mismo.</Bold> Si esto ocurre con el cristiano<Bold>,</Bold> <Bold>¿</Bold>qué no ocurrirá con
            los
            inconversos y las naciones<Bold>?</Bold></Paragraph>
        <Paragraph> Aunque lo hasta aquí dicho no es para mí nada nuevo<Bold>,</Bold> sí lo fue la observación que con
            respecto a
            las principales naciones de la historia me hicieron<Bold>,</Bold> sobre la aparente relación existente
            entre las
            características de las naciones y sus patronos angelicales<Bold>.</Bold></Paragraph>
        <Paragraph> Para aclarar este concepto<Bold>,</Bold> voy a hacer un paralelo entre el Egipto faraónico y la Rusia
            comunista<Bold>,</Bold> tal y como me lo hicieron a mí<Bold>,</Bold> para explicármelo la primera
            vez<Bold>,</Bold> basándose en los siguientes factores<Bold>:</Bold></Paragraph>
        <Paragraph><Bold> a)</Bold> propiedad<Bold>,</Bold> por parte del gobierno<Bold>,</Bold> de todo lo que vale
            en la
            nación<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>b)</Bold> su sistema fue concebido y puesto en funciones por un judío<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> con el tiempo el sistema se vuelve contra los judíos</Paragraph>
        <Paragraph><Bold>d)</Bold> el país hace enormes monumentos mortuorios para sus gobernantes</Paragraph>
        <Paragraph><Bold>e)</Bold> tratan de conservar el cadáver de sus gobernantes</Paragraph>
        <Paragraph><Bold>f)</Bold> los gobernantes prohíben la salida del país a sus gobernados</Paragraph>
        <Paragraph><Bold>Explicaré cada uno de los incisos anteriores:</Bold></Paragraph>
        <Paragraph><Bold>a)</Bold> En Egipto<Bold>,</Bold> faraón era el dueño de la tierra y el
            ganado<Bold>;</Bold>
            también bajo el comunismo la tierra pertenece al estado y las crías de ganado particulares no
            existen<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> b)</Bold> Quien dio la idea para que el gobierno poseyera toda la tierra y el ganado en
            Egipto<Bold>,</Bold> fue un judío<Bold>,</Bold> José<Bold>.</Bold> Quien dio la idea para que el
            estado
            poseyera todo bajo el comunismo<Bold>,</Bold> fue otro judío<Bold>,</Bold> Marx<Bold>.</Bold> La
            única
            diferencia es que en el primer caso quien llevó a efecto la idea fue el mismo José<Bold>,</Bold> y en el
            segundo
            fue otro judío diferente<Bold>,</Bold> Lenín<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>c)</Bold> Al principio<Bold>,</Bold> tanto en época de José como en época de
            Lenín<Bold>,</Bold>
            los judíos sacaron ciertas ventajas con el sistema<Bold>.</Bold> Así en Egipto ellos tenían la
            protección de
            José<Bold>.</Bold> En Rusia los zares perseguían a los judíos en sus pogromos<Bold>,</Bold> y el
            comunismo
            los atraía y utilizaba<Bold>;</Bold> pero con el tiempo el sistema se volvía contra los
            judíos<Bold>,</Bold>
            tanto en Egipto como en la Unión Soviética<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>d)</Bold> Las pirámides egipcias son el testimonio vivo de los monumentos que hacían a sus
            gobernantes
            muertos<Bold>.</Bold> En la Plaza Roja se alza el gigantesco monumento que guarda los restos de
            Lenín<Bold>,</Bold> etc<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>e)</Bold> Los egipcios momificaban a sus gobernantes<Bold>.</Bold> La momia de Lenín ve
            desfilar ante
            sí cada día decenas de personas<Bold>,</Bold> en la Plaza Roja<Bold>.</Bold> Y eso que el régimen
            sólo lleva
            unas décadas de establecido<Bold>.</Bold></Paragraph>
        <Paragraph><Bold> f)</Bold> Faraón impedía la salida de Egipto a los judíos<Bold>.</Bold> La Unión Soviética no
            permite
            viajar a sus ciudadanos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>8 <i>Se levantó entretanto <Bold>un nuevo rey sobre Egipto, que no conocía a
            José;</Bold> el
            cual dijo a su pueblo<Bold>:</Bold></i> 9 <i>He aquí<Bold>,</Bold> el pueblo de los hijos de Israel
            es mayor
            y más fuerte que nosotros<Bold>.</Bold></i> 10 <i>Ahora<Bold>,</Bold> pues<Bold>,</Bold> seamos
            sabios
            para con él<Bold>,</Bold> porque no se multiplique<Bold>,</Bold> y acontezca que viniendo
            guerra<Bold>,</Bold> él también se junte con nuestros enemigos<Bold>,</Bold> y pelee contra nosotros<Bold>,
                y se vaya de la tierra</Bold></i><Bold>."</Bold> (Ex 1<Bold>:</Bold>8-10)</Paragraph>
        <Paragraph> Lo que quiero mostrar con todo lo dicho es la gran similitud que existe entre dos regímenes que no pueden
            haber
            influido el uno sobre el otro dado el tiempo que media entre ambos<Bold>.</Bold></Paragraph>
        <Paragraph> Esto es atribuible a que los mismos ángeles patronos o iguales ángeles rebeldes<Bold>,</Bold> o ambas
            cosas<Bold>,</Bold> influían sobre las dos naciones<Bold>,</Bold> comunicándoles sus características<Bold>,</Bold>
            o la <Bold>"</Bold>resultante<Bold>"</Bold> de todas las características<Bold>.</Bold></Paragraph>
        <Paragraph> No tiene que ser un régimen<Bold>,</Bold> copia al carbón del otro<Bold>,</Bold> porque es de
            pensarse
            que<Bold>,</Bold> sobre todo los ángeles rebeldes antagonistas<Bold>,</Bold> cambien sus métodos o
            ideas<Bold>,</Bold> cuando por experiencia constaten que no les convino la primera<Bold>.</Bold> No
            obstante<Bold>,</Bold>
            es lógico que conserven aquellas técnicas que les sirvieron para sus fines<Bold>,</Bold> o que son el
            resultado
            de hondas concupiscencias de esos rebeldes<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Esta teoría puede ser lo que explique el por qué en Ezq 28 se habla del rey de Tiro unas veces como
            si fuera
            humano y otras como si fuera un ángel.</Bold> Da la sensación de que se refiere allí a un ángel rebelde de
            primera
            magnitud<Bold>,</Bold> que era el que contrarrestaba al ángel de Dios en Tiro<Bold>,</Bold> y que
            terminó
            apoderándose de la mente y el corazón de aquel pueblo<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Hay otros casos de similitud histórica.</Bold> Por ejemplo<Bold>,</Bold> los crueles métodos de
            trato y
            guerra de los asirios<Bold>,</Bold> su bestialidad<Bold>,</Bold> su eficiencia en la
            guerra<Bold>,</Bold> su militarismo<Bold>,</Bold> su sadismo<Bold>,</Bold>
            etc<Bold>.,</Bold>
            parecen calcadas por <Bold>Hitler y la Alemania Nazi,</Bold> a pesar de que el primero no puede haber
            influido
            en el segundo<Bold>.</Bold> Lo mismo ocurrió en Camboya<Bold>.</Bold> También las modalidades de
            <Bold>Babilonia,</Bold>
            sobre todo la religiosa<Bold>,</Bold> fue calcada por <Bold>Roma,</Bold> sobre todo por el
            catolicismo con
            su sede en el Vaticano<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Cartago era un retrato de Tiro;</Bold> se distinguían porque los magnates de la economía eran los
            que
            gobernaban y porque sus sabios y técnicos eran extranjeros atraídos por la bonanza económica que allí se
            disfrutaba<Bold>,</Bold> como lo testimonian en el caso de Tiro<Bold>,</Bold> Isa
            23<Bold>:</Bold>8 y
            Ezq 27<Bold>:</Bold>1-25<Bold>.</Bold> <Bold>Tiro fue destruida por Babilonia, y su equivalente,
                Cartago,
                fue destruida por Roma, que es la equivalente de Babilonia.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>¿</Bold><i>Quién decretó esto sobre Tiro la coronada<Bold>,</Bold> <Bold>cuyos negociantes
            eran
            príncipes,</Bold> cuyos mercaderes eran los nobles de la tierra</i><Bold>?"</Bold> (Isa
            23<Bold>:</Bold>8)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>3 <i>Y dirás a Tiro<Bold>,</Bold> que está asentada a las entradas de la
            mar<Bold>,</Bold>
            <Bold>mercadera de los pueblos de muchas islas.....</Bold></i> 8 <i>Los moradores de Sidón y de Arvad
            <Bold>fueron
                tus remeros;</Bold> tus sabios<Bold>,</Bold> oh Tiro<Bold>,</Bold> estaban en
            ti<Bold>;</Bold> ellos
            fueron tus pilotos<Bold>....</Bold></i> 9 <i><Bold>Los ancianos de Gebal y sus sabios</Bold>
            repararon tus
            hendiduras<Bold>.....</Bold></i> 10 <i><Bold>persas y Lidios, y los de Fut, fueron en tu
            ejército</Bold> tus
            hombres de guerra<Bold>....</Bold></i> 25 <i>Las naves de Tarsis<Bold>,</Bold> tus
            cuadrillas<Bold>,</Bold> fueron en tu negociación<Bold>;</Bold> <Bold>y fuiste
                llena</Bold></i><Bold>..."</Bold>
            (Ezq 27<Bold>:</Bold>3-25 abreviado)</Paragraph>
        <Paragraph> En cierta época de su historia Cartago concertó tratados con Roma sobre limitación de su armamento pesado
            (catapultas<Bold>,</Bold> torres móviles<Bold>,</Bold> etc<Bold>.</Bold>) a cambio de ventajas
            comerciales<Bold>.</Bold> Nos da la sensación de que Estados Unidos es una edición nueva de Tiro y
            Cartago<Bold>,</Bold> y que la Europa Unida lo es de Babilonia o Roma<Bold>.</Bold> Tiene Estados
            Unidos
            características de Tiro<Bold>:</Bold> comercia con todos los pueblos<Bold>,</Bold> tiene muchos
            extranjeros
            en su industria<Bold>,</Bold> comercio y ejército<Bold>;</Bold> es muy rico<Bold>,</Bold>
            etc<Bold>..</Bold></Paragraph>
        <Paragraph> Claro que estas similitudes no son exactas<Bold>,</Bold> ni tampoco tienen que ocurrir los mismos hechos<Bold>,</Bold>
            porque <Bold>no se trata de una historia programada, sino de una conjunción de factores similares que
                pueden
                originar resultados parecidos,</Bold> pero que no necesariamente tiene que ser así<Bold>.</Bold>
        </Paragraph>
        <Paragraph> No estoy diciendo tampoco que la teoría que aquí se expone es incuestionablemente correcta<Bold>,</Bold>
            pero sí
            que lo aquí expresado tiene tantos hechos que parecen confirmarlo<Bold>,</Bold> que vale la pena parar
            mientes
            en ello<Bold>.</Bold> Al fin y al cabo una teoría es eso<Bold>:</Bold> la suposición de cómo es la
            dinámica
            interior de un fenómeno<Bold>,</Bold> basada en la observación y en la comprobación parcial y limitada
            de sus
            manifestaciones<Bold>.</Bold> Si lo pudiera explicar todo y comprobarlo todo<Bold>,</Bold> no fuera
            una
            teoría<Bold>,</Bold> sino una verdad demostrada<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En pocas palabras,</Bold> las naciones tienen ángeles que se encargan de ellas<Bold>,</Bold>
            tanto
            buenos como malos<Bold>.</Bold> Cada grupo trata de influir en el pueblo<Bold>,</Bold> y según éste
            desee
            escuchar a unos o a otros<Bold>,</Bold> se desarrollan los acontecimientos<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    