---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Judíos: el Mesías entraría en aquel Templo antes que Tito lo destruyera">
    <Title>JUDÍOS: EL MESÍAS ENTRARÍA EN AQUEL TEMPLO Y TENDRÍA UN PRECURSOR.</Title>

    <Tag>#89</Tag>
    <Content>
        
        <Paragraph></Paragraph>
        <Paragraph> Este versículo nos dice que Dios enviaría un mensajero a preparar el camino<Bold>,</Bold> y <Bold>que
            luego de
            eso vendría a su Templo el Señor a quien buscaban los judíos,</Bold> el ángel del pacto<Bold>,</Bold>
            a quien
            ellos deseaban<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>He aquí<Bold>,</Bold> <Bold>yo envío mi mensajero,</Bold> el cual preparará el
            camino
            delante de mí<Bold>;</Bold> <Bold>y luego vendrá a su Templo el Señor</Bold> a quien vosotros
            buscáis<Bold>,</Bold> y el ángel del pacto<Bold>,</Bold> a quien deseáis vosotros<Bold>.</Bold>
            He aquí
            viene<Bold>,</Bold> ha dicho Jehová de los ejércitos</i><Bold>."</Bold> ( Mlq 3<Bold>:</Bold> 1
            )</Paragraph>
        <Paragraph> A juzgar por lo aquí profetizado <Bold>se enviaría un mensajero previo, y luego el Mesías entraría
            personalmente
            en aquel Templo, no en otro.</Bold> Todos sabemos que Juan el Bautista<Bold>,</Bold> con el espíritu y
            la
            virtud de Elías<Bold>,</Bold> precedió a Jesús<Bold>,</Bold> preparando a las
            masas<Bold>,</Bold> para
            el advenimiento de Jesús<Bold>,</Bold> masas que por siglos no habían visto un profeta<Bold>.</Bold>
        </Paragraph>
        <Paragraph><Bold>¿Qué otro ser de estatura mesiánica entró en aquel Templo y fue precedido por un potente mensajero
            como Juan
            el Bautista?</Bold> Ningún otro<Bold>.</Bold> Por lo tanto<Bold>,</Bold> si Jesús no es el Mesías
            como
            opina la mayoría de los judíos<Bold>,</Bold> entonces esta profecía falló
            miserablemente<Bold>,</Bold> cosa
            ridícula<Bold>,</Bold> absurda e increíble para un judío creyente<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>¿Quién otro, fuera de Cristo, ha penetrado en aquel Templo, ha sido precedido en su ministerio por un
            mensajero precursor de la talla de Juan Bautista, y además reúne en su persona las características y
            circunstancias
            que según se anuncia en toda la Escritura, iban a acompañar al Mesías?</Bold></Paragraph>
        <Paragraph> Todo esto concuerda con<Bold>,</Bold> y aclara lo<Bold>,</Bold> dicho en Hg
            2<Bold>:</Bold>6-9<Bold>,</Bold> que el Mesías iba a entrar en aquel templo<Bold>,</Bold> por lo
            cual la
            gloria de ese Templo iba a ser mayor que la del primero que tuvo más riquezas<Bold>.</Bold> Siendo como
            fue el
            Segundo Templo<Bold>,</Bold> de menos importancia desde el punto de vista humano y con menos riquezas
            que el
            anterior<Bold>,</Bold> solamente se le puede atribuir mayor gloria (como dice Hg 2<Bold>:</Bold>
            6-9) porque
            lo visite <Bold>"</Bold>el Deseado de todas las gentes<Bold>"</Bold> y <Bold>"</Bold>el Señor a
            quien
            vosotros buscáis<Bold>".</Bold></Paragraph>
        <Paragraph>Por eso Dios dice en Hg 2<Bold>:</Bold>8 <Bold>"</Bold>Mía es la plata<Bold>,</Bold> y mío el oro<Bold>",</Bold>
            como diciendo<Bold>:</Bold> si quisiera llenar de oro y plata este Segundo Templo no me costaría trabajo
            alguno<Bold>;</Bold> pero no será así<Bold>,</Bold> su mayor gloria consistirá en recibir al
            Mesías<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al Índice</a></Bold></Paragraph>

    </Content>
</Layout>
    