---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Dios Recompensa y Castiga ya y aquí">
    <Title>DIOS RECOMPENSA Y CASTIGA, YA</Title>

    <Tag>#90</Tag>
    <Content>
        
        <Paragraph><Bold>Yo soy de opinión que todo lo que se hace se paga; lo bueno y lo malo.</Bold> Hay quienes creen que<Bold>,</Bold>
            una vez salvados por Jesucristo<Bold>,</Bold> ya la gracia impide todo castigo<Bold>.</Bold> Lo más
            que
            llegan a admitir es que Dios nos azota como método pedagógico no como penalidad<Bold>.</Bold> Yo
            entiendo que
            usa ambas cosas<Bold>,</Bold> unas veces una<Bold>,</Bold> otras veces otra<Bold>,</Bold> y en
            ocasiones
            ambas al mismo tiempo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Sabiendo que <Bold>el bien que cada uno hiciere, esto recibirá del Señor,</Bold> sea
            siervo
            o sea libre</i><Bold>."</Bold> (Ef 6<Bold>:</Bold>8)</Paragraph>
        <Paragraph> En este pasaje vemos que por lo menos el bien que uno hiciere lo recibirá del Señor<Bold>,</Bold> sea
            quien
            fuere<Bold>.</Bold> En Ga 6<Bold>:</Bold>7 vemos que todo lo que el hombre
            sembrare<Bold>,</Bold> eso
            también segará<Bold>.</Bold> En ese caso se refiere tanto a lo bueno como a lo malo<Bold>.</Bold> Y
            <Bold>esto
                está dicho después de la crucifixión; o sea, que aún después del sacrificio de Jesús continuaba
                vigente.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>No os engañéis<Bold>,</Bold> Dios no puede ser burlado<Bold>,</Bold> que
            <Bold>todo lo
                que el hombre sembrare, eso también segará</Bold></i><Bold>."</Bold> (Ga 6<Bold>:</Bold>7)</Paragraph>
        <Paragraph> En I Co 11<Bold>:</Bold>29-32 vemos que a consecuencia de los pecados de algunos
            hermanos<Bold>,</Bold>
            éstos se hallaban enfermos y hasta habían muerto (30)<Bold>.</Bold> En el versículo 31 dice que si nos
            examinásemos para no cometer ese pecado<Bold>,</Bold> no seríamos juzgados<Bold>,</Bold> mas siendo
            juzgados
            (32) <Bold>somos castigados.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>29 <i>Porque el que come y bebe indignamente<Bold>,</Bold> juicio come y bebe para
            sí<Bold>,</Bold> no discerniendo el cuerpo del Señor<Bold>.</Bold></i> 30 <i><Bold>Por lo cual hay
            muchos
            enfermos y debilitados entre vosotros; y muchos duermen.</Bold></i> 31 <i>Que si nos examinásemos a
            nosotros
            mismos<Bold>,</Bold> cierto no seríamos juzgados<Bold>.</Bold> 32 Mas siendo
            juzgados<Bold>,</Bold>
            <Bold>somos castigados</Bold> del Señor<Bold>,</Bold> para que no seamos condenados con el mundo</i><Bold>."</Bold>
            (I Co 11<Bold>:</Bold>29-32)</Paragraph>
        <Paragraph><Bold>Si el azote fuera sólo pedagógico,</Bold> no tendría que ser precedido por el
            juicio<Bold>.</Bold> Si
            es precedido por un juicio es que es algo punitivo<Bold>.</Bold></Paragraph>
        <Paragraph> Después<Bold>,</Bold> parece hacer referencia a por qué <Bold>necesitamos que se nos castigue aquí y
            ahora:</Bold> para no ser condenados con el mundo<Bold>.</Bold> Como que al mundo lo van a condenar en
            la otra
            vida<Bold>,</Bold> es evidente que Pablo quiere decir que nos la cobran aquí para que no pase nuestra
            cuenta
            para <Bold>"</Bold>allá<Bold>".</Bold> O sea<Bold>,</Bold> que <Bold>sí somos azotados
                punitivamente y
                no sólo pedagógicamente.</Bold> Las cosas malas que el cristiano hace después de su
            conversión<Bold>,</Bold> las va a pagar aquí<Bold>;</Bold> y se las van a cobrar por
            justicia<Bold>,</Bold> no solamente por pedagogía<Bold>.</Bold> <Bold>El pecado tiene
                consecuencias
                actuales y eternas. Cristo murió por las eternas,</Bold> pero las consecuencias actuales no dejan de
            alcanzarnos<Bold>.</Bold></Paragraph>
        <Paragraph> Tú podrás creer que desde que te convertiste estás inmune a la electricidad<Bold>,</Bold> y podrás tener
            mucha
            fe en ello y <Bold>"</Bold>creerlo con fuerza<Bold>",</Bold> pero en cuanto la toques te convencerás
            de tu
            error<Bold>.</Bold> Claro<Bold>,</Bold> que si te empecinas podrás decir que lo que sentiste no era
            electricidad<Bold>;</Bold> pero eso no cambiará la realidad<Bold>.</Bold> Así también cuando sufres
            los
            castigos de Dios<Bold>,</Bold> puedes empecinarte en decir que eso no es un castigo<Bold>;</Bold>
            pero tal
            cosa no cambiará la realidad<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    