---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Cuál es el verdadero amor">
    <Title>QUÉ ES EL VERDADERO AMOR. ¿AMAR A LOS QUE ODIAN A DIOS?</Title>

    <Tag>#91</Tag>
    <Content>
        
        <Paragraph> Hay quienes creen que toda la doctrina de Dios consiste en amar<Bold>;</Bold> en amar a todo el
            mundo<Bold>.</Bold> Creen ellos que todos los requerimientos de Dios para el ser humano se compendian en
            amar a
            todo el mundo<Bold>.</Bold> Por eso es que hay gente que dice amar hasta a los peores
            criminales<Bold>,</Bold> y creen que eso es lo que Dios les mandó<Bold>.</Bold> Pero en este pasaje
            de la
            Escritura vemos que el rey Josafat es regañado de parte de Dios por medio del profeta Jehú hijo de
            Hanani<Bold>,</Bold> por amar a los que aborrecen a Dios<Bold>.</Bold></Paragraph>
        <Paragraph> Bien claramente le intima Dios al rey Josafat que por amar a los que le aborrecen a Él<Bold>,</Bold> la
            ira de
            la presencia de Dios sería sobre el rey<Bold>.</Bold> Se saca de aquí en conclusión que no se debe amar
            a los
            que conscientemente<Bold>,</Bold> son verdaderos enemigos de Dios<Bold>.</Bold> Pudiera uno amar a
            alguien
            que por ignorancia aborreciera a Dios<Bold>,</Bold> pero no a uno que con perfecto conocimiento de quién
            es Dios
            y todo lo que significa<Bold>,</Bold> odie a Dios<Bold>.</Bold> <Bold>¿</Bold>Sería acaso lógico
            amar a
            Satanás y a los demonios<Bold>?</Bold> <Bold>¿</Bold>Sería acaso lógico orar por
            ellos<Bold>?</Bold>
            <Bold>¿</Bold>Estaría Dios de acuerdo con tal actitud<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y le salió al encuentro Jehú el vidente<Bold>,</Bold> hijo de
            Hanani<Bold>,</Bold> y
            dijo al rey Josafat<Bold>:</Bold> <Bold>¿Al impío das ayuda, y amas a los que aborrecen a Jehová? Pues
                la ira
                de la presencia de Jehová será sobre ti por ello</Bold></i><Bold>."</Bold> ( II Cr
            19<Bold>:</Bold> 2
            )</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph> Se evidencia que no es lo mismo un ateo que un antiteísta<Bold>.</Bold> Es decir<Bold>,</Bold> no es
            lo
            mismo una persona que no ama a Dios<Bold>,</Bold> o no le interesa Dios<Bold>,</Bold> que uno que lo
            odie<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>

    </Content>
</Layout>
    