---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El pecado tiene consecuencias terrenales aún para los amados de Dios">
    <Content>
        <Paragraph><Bold>El pecado tiene consecuencias terrenales aún para los amados de Dios</Bold></Paragraph>
        <Paragraph><Bold>Desobedecer los mandamientos de Dios, es pecado</Bold>. Lo mismo da que conozcamos sus mandamientos<Bold>,</Bold>
            como que no los conozcamos. Nuestro deber es averiguar por los mandamientos de Dios. Mayor pecado aún es que
            conozcamos sus mandamientos y que nosotros le digamos que no nos da la gana de hacerlo. Ese fue el pecado
            del rey
            David<Bold>,</Bold> y el del rey Roboam y su corte.</Paragraph>
        <Paragraph><Bold>El pecado tiene consecuencias terrenales y consecuencias eternas</Bold>. Si hay un sincero
            arrepentimiento<Bold>,</Bold> las consecuencias eternas nos son quitadas gracias al sacrificio redentor
            de
            Jesucristo en la cruz. <Bold>En cuanto a las consecuencias terrenales, no siempre nos son quitadas aunque
                nos
                arrepintamos sinceramente</Bold>.</Paragraph>
        <Paragraph> Es bien conocido el caso del adulterio de David. Aunque él se arrepintió <Bold>sinceramente,</Bold> las
            consecuencias terrenales de su pecado lo persiguieron hasta el día de su muerte. En este pasaje vemos el
            sincero
            arrepentimiento y confesión de David<Bold>,</Bold> lo cual sin embargo<Bold>,</Bold> no detuvo su
            castigo
            terrenal.</Paragraph>
        <Paragraph> No se hagan ilusiones los que desean jugar a eso de <Bold>"</Bold>pecar y
            arrepentirse<Bold>";</Bold> aún
            siendo un arrepentimiento sincero<Bold>,</Bold> van a sufrir las consecuencias de su
            pecado<Bold>,</Bold>
            aunque ustedes se crean mejores que David.</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>9 <Bold>¿Por qué pues tuviste en poco la palabra de Jehová,</Bold> <i>haciendo lo malo
            delante
            de sus ojos<Bold>?</Bold> A Uría Hetheo heriste a cuchillo<Bold>,</Bold> y tomaste por tu mujer a su
            mujer<Bold>,</Bold> y a él mataste con el cuchillo de los hijos de Ammón.</i> 10 <i><Bold>Por lo cual
            ahora no
            se apartará jamás de tu casa la espada; por cuanto me menospreciaste, y tomaste la mujer de Uría Hetheo para
            que
            fuese tu mujer</Bold>…</i> 13 <i>Entonces <Bold>dijo David a Nathán: Pequé contra Jehová.</Bold> Y
            Nathán dijo
            a David<Bold>:</Bold> También <Bold>Jehová ha remitido tu pecado:</Bold> no morirás.</i> 14
            <i><Bold>Mas
                por cuanto con este negocio hiciste blasfemar a los enemigos de Jehová, el hijo que te ha nacido morirá
                ciertamente</Bold></i>.<Bold>"</Bold> (II Sam 12<Bold>:</Bold>9-14 abreviado)</Paragraph>
        <Paragraph> Como vimos<Bold>,</Bold> el arrepentimiento de David fue sincero<Bold>,</Bold> y Dios le perdonó las
            consecuencias eternas de sus pecados<Bold>,</Bold> pero las consecuencias terrenales las tuvo que sufrir
            hasta
            el día de su muerte.</Paragraph>
        <Paragraph><Bold>Otro caso similar el es del rey Roboam y su corte,</Bold> que aunque se arrepintieron de sus
            pecados<Bold>,</Bold> Dios los sometió a Sisac rey de Egipto. Aquí se ve que el rey Roboam y el pueblo
            de Judá
            se arrepintieron de sus pecados<Bold>,</Bold> y por eso <Bold>Dios les disminuyó mucho el castigo,
                pero no se
                los quitó del todo</Bold>.</Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>como vio Jehová que se habían humillado,</Bold> fue palabra de Jehová a
            Semeías<Bold>,</Bold> diciendo<Bold>:</Bold> <Bold>Se han humillado; no los destruiré;</Bold>
            antes los
            salvaré en breve<Bold>,</Bold> y no se derramará mi ira contra Jerusalem por mano de Sisac. <Bold>Empero
                serán
                sus siervos;</Bold> para que sepan qué es servirme a Mí<Bold>,</Bold> y servir a los reinos de las
            naciones</i>.<Bold>"</Bold> (II Cr 12<Bold>:</Bold>7-8)</Paragraph>
        <Paragraph><Bold>El cristiano es muy dado a "aprender" del ejemplo del perdón de María Magdalena, pero nada quiere
            saber ni
            pensar del ejemplo del castigo de David y de Roboam.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    