---
import Layout from "../layout/Layout.astro";
---

<Layout title="La Pena de Muerte no evita que un condenado se salve">
    <section>
        <p><strong>La Pena de Muerte no va a evitar que un condenado se pueda salvar</strong></p>
        <p> Hay veces que Dios quiere hacer excepciones con personas comprendidas dentro de la descripción de lo que el
            humano
            debe destruir<strong>;</strong> y cuando tal es el caso<strong>,</strong> Dios siempre halla cómo hacerlo
            sin que
            nosotros modifiquemos la norma de comportamiento dada por Dios<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>19 <i>No hubo ciudad que hiciese paz con los hijos de Israel<strong>.</strong> Sacados los
            heveos
            que moraban en Gabaón<strong>,</strong> todo lo tomaron por guerra<strong>.</strong></i> 20 <i>Porque esto
            vino de
            Jehová<strong>,</strong> que endurecía el corazón de ellos para que resistiesen con guerra a
            Israel<strong>,</strong> para destruirlos<strong>,</strong> y que no les fuese hecha
            misericordia<strong>,</strong>
            antes fuesen desarraigados<strong>,</strong> como Jehová lo había mandado a Moisés</i><strong>."</strong>
            (Jos
            11<strong>:</strong>19-20)</p>
        <p><strong>Todos los habitantes de la región conquistada por Josué, debían ser exterminados.</strong> Sin
            embargo<strong>,</strong> como que por algún motivo los gabaonitas debían ser perdonados (tal vez para
            darles
            oportunidad para conocer la religión<strong>,</strong> sabiendo Dios que muchos o algunos de ellos la
            aceptarían)
            como que debían ser perdonados<strong>,</strong> repito<strong>,</strong> pero sin debilitar por ello la
            orden de
            exterminio general<strong>,</strong> Dios apeló a otro medio<strong>.</strong></p>
        <p> La orden de exterminio general era muy rigurosa<strong>,</strong> y a pesar de serlo<strong>,</strong> el
            pueblo la
            descumplió para su mal como se ve en Jue 2<strong>:</strong>1-3<strong>.</strong> Dios hizo
            mucho<strong>,</strong>
            pero mucho énfasis en el exterminio de aquella gente<strong>,</strong> y tal vez por eso no quería debilitar
            la
            fuerza de la orden<strong>,</strong> haciendo excepciones<strong>.</strong> En su lugar<strong>,</strong> y
            para
            alcanzar el mismo fin <strong>(y eso es una figuración mía)</strong> le permitió a los gabaonitas usar la
            astucia
            suficiente para librarse de la muerte<strong>,</strong> sin que los hebreos pudieran pensar en un
            debilitamiento de
            la orden de exterminio total<strong>.</strong> Así las cosas<strong>,</strong> los hebreos no tuvieron que
            modificar
            la norma de conducta prescrita por Dios<strong>,</strong> y los gabaonitas pudieron salvarse como Dios
            quería<strong>.</strong></p>
        <p><strong>Algo semejante sucede con los condenables a muerte.</strong> El humano tiene que obedecer los
            mandamientos de
            Dios sobre el castigo del homicidio<strong>;</strong> si hay que hacer una excepción<strong>,</strong> el
            que la
            hace es Dios<strong>,</strong> no nosotros<strong>.</strong></p>
        <p><strong>Hay cristianos que a pesar de que la Palabra de Dios ordena la ejecución de los asesinos, pretenden
            enmendarle la plana a Dios condenándolos a cárcel.</strong> <strong>"</strong>Razonan<strong>"</strong>
            ellos (si a
            eso se le puede llamar razonar) que <strong>"</strong>a lo mejor<strong>"</strong> ese asesino se arrepiente
            y busca
            a Dios en el futuro<strong>,</strong> y que por eso es mejor dejarlo vivir<strong>.</strong>
            Dios<strong>,</strong>
            que conoce mejor que todos nosotros lo que hay que hacer<strong>,</strong> nos mandó a
            ejecutarlos<strong>,</strong>
            y eso es lo que se debe hacer<strong>.</strong> Si algún asesino tiene oportunidad de arrepentirse y
            salvarse en el
            futuro<strong>,</strong> ya Dios hará que las circunstancias lo protejan<strong>.</strong> Pudiera darle la
            suficiente inteligencia o astucia para que no se descubra su crimen<strong>,</strong> o para que pueda
            escapar a la
            acción de la justicia aún si lo descubren<strong>.</strong> <strong>Pero esa excepción la va a hacer Dios,
                que es el
                que sabe y tiene derecho; no yo,</strong> que ni sé ni tengo derecho a modificar lo que Dios
            manda<strong>.</strong></p>
        <p><strong>Si un asesino cae en las manos de la ley es porque Dios permitió o provocó que cayera; y si lo
            permitió es
            porque considera que debe hacerse con él lo que Él mismo ordena: ejecutarlo.</strong> Si Dios quisiera que
            lo
            metieran en prisión en vez de ejecutarlo<strong>,</strong> no modificaría Su mandamiento<strong>,</strong>
            sino que
            haría que se le descubriera el robo que hizo<strong>,</strong> y no el asesinato cometió<strong>.</strong>
            <strong>Son
                muy necios los que salen a modificar los mandamientos de Dios para "ayudar" a Dios o al
                prójimo.</strong> Si se
            siguieran los mandamientos de Dios y no los de las mafias internacionales<strong>,</strong> los de los
            abogados
            criminalistas<strong>,</strong> los de los sicólogos y los de los cristianos errados<strong>,</strong> no
            habría
            tanto crimen en los países<strong>.</strong></p>
        <p> Con todo esto que he dicho no pretendo hacerles pensar a ustedes que todo asesino que no es descubierto o
            condenado
            a muerte<strong>,</strong> es porque va a salvarse<strong>.</strong> Son muchas las razones que pueden
            provocar tal
            injusticia<strong>.</strong> Las razones pueden ser meramente humanas<strong>.</strong> Dios le da al hombre<strong>,</strong>
            a la sociedad y a las autoridades<strong>,</strong> cierta autonomía de comportamiento<strong>.</strong> Les
            dice lo
            que deben hacer<strong>,</strong> pero no los obliga a hacerlo……ya en su oportunidad les pasará la cuenta a
            todos y
            cada uno de los culpables de que aquello no se hiciera<strong>.</strong></p>
        <p>Aparte de esto<strong>,</strong> vemos en el versículo 20<strong>,</strong> que a los que Dios deseaba
            destruirlos en
            vez de permitirles usar astucia<strong>,</strong> como a los gabaonitas<strong>,</strong> los endurecía como
            a
            Faraón<strong>.</strong> <strong>Para entender la dinámica y la justicia del endurecimiento de Faraón sin
                alterar su
                libre albedrío, ver la nota bíblica # 4 en esta misma sección.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    