---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="Teomorfismo">
    <section>
        <Paragraph><Bold>TEOMORFISMO: ¿SE PARECE EL HUMANO A DIOS?</Bold></Paragraph>
        <Paragraph> Son muchos los que acusan a los cristianos de concebir a Dios con forma humana<Bold>,</Bold>
            prejuiciados por el
            antropomorfismo<Bold>,</Bold> es decir<Bold>,</Bold> por la tendencia a asemejar a Dios a la figura
            humana<Bold>.</Bold> O sea<Bold>,</Bold> que según ellos<Bold>,</Bold> nosotros concebimos a
            Dios en
            forma humana<Bold>,</Bold> reflejando nuestra propia figura<Bold>.</Bold> Pero es el
            caso<Bold>,</Bold>
            que en realidad lo que la Biblia nos enseña no es antropomorfismo<Bold>,</Bold> sino
            teomorfismo<Bold>,</Bold> pues asemeja al humano con Dios<Bold>.</Bold> No es que el humano ha
            querido
            concebir a Dios con forma humana<Bold>,</Bold> sino que Dios nos ha querido hacer con figura
            divina<Bold>.</Bold></Paragraph>
        <Paragraph> No es cierto<Bold>,</Bold> como dicen<Bold>,</Bold> que el humano tienda a concebir a sus dioses en
            forma
            humana<Bold>.</Bold> Incluso son muchísimos los casos en que los hombres han concebido a sus dioses de
            las
            formas menos antropomórficas imaginables<Bold>.</Bold> Basta ver los dioses y diosas de los
            egipcios<Bold>,</Bold> de los filisteos<Bold>,</Bold> de los griegos<Bold>,</Bold> de los
            hindúes<Bold>,</Bold> de los chinos<Bold>,</Bold> etc<Bold>..</Bold> Incluso muchos de
            ellos<Bold>,</Bold> cuando los concebían con forma humana<Bold>,</Bold> era una figura
            grotesca<Bold>,</Bold> como los aztecas<Bold>,</Bold> los mayas y los dioses de las tribus de la
            Polinesia<Bold>.</Bold> También los concebían con formas de animales<Bold>,</Bold> en forma del
            fuego<Bold>,</Bold> en forma de volcán<Bold>,</Bold> el sol<Bold>,</Bold> la
            luna<Bold>,</Bold> las
            estrellas<Bold>,</Bold> etc<Bold>..</Bold></Paragraph>
        <Paragraph> En este pasaje que más abajo muestro vemos claramente que fue Dios el que nos concibió igual a su
            figura<Bold>.</Bold> Al hablar Dios en este pasaje parece estarse refiriendo a dos cosas
            diferentes<Bold>:</Bold> <Bold>a) "a nuestra imagen",</Bold> (aspecto exterior ) es
            decir<Bold>,</Bold>
            a la figura que ya tenían Dios<Bold>,</Bold> Cristo<Bold>,</Bold> el Espíritu Santo y las demás
            criaturas<Bold>,</Bold> celestiales<Bold>;</Bold> y <Bold>b) "conforme a nuestra
                semejanza",</Bold> (con
            las mismas cualidades mentales y espirituales) es decir que podemos pensar y desear lo que
            queramos<Bold>,</Bold> porque nos hizo con libre albedrío<Bold>.</Bold> Por cierto<Bold>,</Bold>
            que en
            el versículo siguiente (27) se ve que esa semejanza atañía tanto al hombre como a la mujer<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>Y dijo Dios<Bold>:</Bold> <Bold>Hagamos al hombre a nuestra imagen, conforme a
            nuestra
            semejanza;</Bold> y señoree en los peces de la mar<Bold>,</Bold> y en las aves de los
            cielos<Bold>,</Bold>
            y en las bestias<Bold>,</Bold> y en toda la Tierra<Bold>,</Bold> y en todo animal que anda
            arrastrando sobre
            la tierra<Bold>.</Bold></i> 27 <i>Y <Bold>crió Dios al hombre a su imagen, a imagen de Dios lo
            crió;</Bold>
            varón y <Bold>hembra</Bold> los crió<Bold>.</Bold></i> <Bold>"</Bold> (Gn 1<Bold>:</Bold>26-27)
        </Paragraph>
        <Paragraph> Si cuando Dios dijo <Bold>"</Bold>…<i>hagamos el hombre a nuestra imagen<Bold>,</Bold> conforme a
            nuestra
            semejanza</i>…<Bold>",</Bold> se hubiera referido solamente a lo espiritual y no al aspecto exterior de
            la
            criatura<Bold>,</Bold> no hubiera usado la palabra <Bold>"imagen".</Bold></Paragraph>
        <Paragraph> En Juan 14<Bold>:</Bold>7-9 se ve que después de haber Cristo dicho<Bold>,</Bold> refiriéndose al
            Padre<Bold>,</Bold> <Bold>"</Bold>… <i>y le habéis <Bold>visto</Bold></i><Bold>",</Bold> el
            apóstol
            Felipe<Bold>,</Bold> <Bold>refiriéndose al aspecto exterior de Dios,</Bold> le pidió a Cristo
            <Bold>"</Bold>…<Bold>muéstranos</Bold> <i>el Padre</i>…<Bold>".</Bold> O sea<Bold>,</Bold>
            se nota
            que se estaba hablando del aspecto exterior<Bold>,</Bold> porque los dos verbos usados (<Bold>ver y
                mostrar</Bold>) <Bold>denotan algo que se percibe con la vista,</Bold> no con el
            espíritu<Bold>;</Bold> no habla del aspecto espiritual<Bold>,</Bold> sino del aspecto
            exterior<Bold>.</Bold> Es en ese contexto que Jesús le replica a Felipe que <Bold>"</Bold><i>El que
                me ha
                <Bold>visto</Bold> ha <Bold>visto</Bold> al Padre</i><Bold>".</Bold> Si Cristo se hubiera
            estado
            refiriendo a lo espiritual<Bold>,</Bold> hubiera usado solamente el verbo
            <Bold>"</Bold>conocer<Bold>"</Bold> o alguno parecido<Bold>.</Bold> No hubiera usado el verbo
            <Bold>"</Bold>ver<Bold>",</Bold> porque los ojos no ven las características
            espirituales<Bold>.</Bold>
            Sin embargo<Bold>,</Bold> Jesús usa ambos verbos<Bold>,</Bold> <Bold>conocer</Bold> y
            <Bold>ver.</Bold> No cabe duda de que Dios tiene el mismo aspecto general que tuvo Cristo cuando estuvo
            en la
            Tierra<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>7 <i>Si me conocieseis<Bold>,</Bold> también a mi Padre conocierais<Bold>;</Bold> y
            desde
            ahora le conocéis<Bold>,</Bold> y le habéis visto<Bold>.</Bold></i> 8 <i>Dícele
            Felipe<Bold>:</Bold>
            Señor<Bold>,</Bold> <Bold>muéstranos</Bold> el Padre<Bold>,</Bold> y nos basta<Bold>.</Bold></i>
            9
            <i>Jesús le dice<Bold>:</Bold> <Bold>¿</Bold>Tanto tiempo ha que estoy con
                vosotros<Bold>,</Bold> y no
                me has conocido<Bold>,</Bold> Felipe<Bold>?</Bold> El que me ha <Bold>visto,</Bold> ha
                <Bold>visto</Bold> al Padre<Bold>;</Bold> <Bold>¿</Bold>cómo<Bold>,</Bold>
                pues<Bold>,</Bold> dices tú<Bold>:</Bold> <Bold>Muéstranos</Bold> el
                Padre</i><Bold>?"</Bold>
            (Jn 14<Bold>:</Bold>7-9)</Paragraph>
        <Paragraph> Además de estos razonamientos<Bold>,</Bold> tenemos que tener en cuenta también que <Bold>en muchas
            visiones
            se ha visto a Dios, aunque no se haya visto su rostro,</Bold> como en los casos de
            Moisés<Bold>,</Bold>
            Miqueas hijo de Imla<Bold>,</Bold> Isaías<Bold>,</Bold> Daniel<Bold>,</Bold> Ezequiel y Juan
            Evangelista<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Moisés<Bold>,</Bold> en Ex 33<Bold>:</Bold>20-23<Bold>,</Bold> nos da una clara lección del
            aspecto de
            Dios<Bold>.</Bold> Hablando Dios con Moisés le dice <Bold>"</Bold>…<i>no podrás ver <Bold>Mi
                rostro,</Bold> porque no me verá hombre y vivirá</i><Bold>.".</Bold> De esta afirmación de Dios se
            puede
            colegir sin violentar el raciocinio<Bold>,</Bold> que <Bold>Dios tiene un rostro,</Bold> también
            nosotros lo
            tenemos<Bold>.</Bold></Paragraph>
        <Paragraph> Más adelante en el mismo pasaje dice Dios <Bold>"</Bold>…<Bold>te cubriré con mi
            mano</Bold>…<Bold>",</Bold> lo cual nos indica que <Bold>Dios tiene manos;</Bold> como también
            nosotros
            las tenemos<Bold>.</Bold> Ya al final del pasaje dice Dios <Bold>"</Bold>…<i>verás <Bold>mis
                espaldas,</Bold> más no se verá <Bold>mi rostro</Bold></i><Bold>.",</Bold> con lo cual nos
            añade que
            <Bold>Dios tiene espalda,</Bold> al igual que Él la creó en el ser humano<Bold>;</Bold> y no sólo
            eso<Bold>,</Bold> sino que repite que tiene rostro<Bold>.</Bold> <Bold>Si esa es la descripción
                que de Sí
                mismo da Dios,</Bold> <Bold>¿</Bold>qué más necesitamos para saber que Dios <Bold>no</Bold> es
            un ser
            informe como lo imaginan los que quieren filosofar sobre el tema<Bold>,</Bold> sino que nosotros tenemos
            una
            forma externa semejante a la que Él tiene<Bold>?</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>20 <i>Dijo más<Bold>:</Bold> No podrás ver <Bold>mi rostro,</Bold> porque no me
            verá hombre<Bold>,</Bold>
            y vivirá<Bold>.</Bold></i> 21 <i>Y dijo aún Jehová<Bold>:</Bold> He aquí lugar junto a
            mí<Bold>,</Bold>
            y tú estarás sobre la peña<Bold>,</Bold></i> 22 <i>y será que<Bold>,</Bold> cuando pasare mi
            gloria<Bold>,</Bold> yo te pondré en una hendidura de la peña<Bold>,</Bold> y te cubriré con
            <Bold>mi
                mano</Bold> hasta que haya pasado<Bold>.</Bold></i> 23 <i>Después apartaré mi
            mano<Bold>,</Bold> y
            verás <Bold>mis espaldas;</Bold> mas no se verá <Bold>mi rostro</Bold></i><Bold>."</Bold> (Ex 33<Bold>:</Bold>20-23)
        </Paragraph>
        <Paragraph><Bold>En el caso del profeta Miqueas hijo de Imla</Bold> (diferente del Miqueas autor del libro del mismo
            nombre)
            vemos que también este profeta vio a Dios <Bold>sentado</Bold> en Su trono (I R 22<Bold>:</Bold>19 y
            II Cr
            18<Bold>:</Bold>18)<Bold>,</Bold> es decir<Bold>,</Bold> adoptando una posición corporal
            semejante a la
            que Él nos dio a los humanos<Bold>.</Bold> Incluso en ese mismo pasaje habla de su <Bold>diestra y su
                siniestra,</Bold> o sea de su mano derecha y su mano izquierda<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Entonces él dijo<Bold>:</Bold> Oye pues palabra de Jehová<Bold>:</Bold> Yo vi a
            Jehová
            <Bold>sentado en su trono,</Bold> y todo el ejército de los cielos estaba junto a él<Bold>,</Bold> a
            <Bold>su diestra y a su siniestra</Bold></i><Bold>."</Bold> (I R 22<Bold>:</Bold>19)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Entonces él dijo<Bold>:</Bold> Oíd pues palabra de Jehová<Bold>:</Bold> Yo he
            visto a
            Jehová <Bold>sentado en su trono,</Bold> y todo el ejército de los cielos estaba a su mano <Bold>derecha
                y a
                su izquierda</Bold></i><Bold>."</Bold> (II Cr 18<Bold>:</Bold>18)</Paragraph>
        <Paragraph><Bold>En cuanto a Isaías, vemos en 6:1</Bold> que también él<Bold>,</Bold> al igual que
            Miqueas<Bold>,</Bold> vio a Dios <Bold>sentado</Bold> en Su trono<Bold>.</Bold> <Bold>En
                Ezequiel
                1:26-28</Bold> leemos que este profeta vio <Bold>"</Bold>…<i>una semejanza que parecía de
                hombre<Bold>,</Bold> <Bold>sentado</Bold></i>…<Bold>"</Bold> sobre el
            trono<Bold>.</Bold> O
            sea<Bold>,</Bold> que nos declara que el ser que él identifica como Dios<Bold>,</Bold> tenía
            semejanza de un
            ser humano<Bold>.</Bold> Después vemos que en el 27 nos describe cómo lucía <Bold>"</Bold>…<i>de sus
                <Bold>lomos</Bold> para arriba</i>…<Bold>"</Bold> y <Bold>"</Bold>…<i>desde sus
                <Bold>lomos</Bold> para abajo</i>…<Bold>",</Bold> citándonos de nuevo partes similares a las del
            cuerpo
            humano<Bold>,</Bold> en este caso los lomos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>En el año que murió el rey Uzzías <Bold>vi yo al Señor sentado sobre un trono</Bold>
            alto y
            sublime<Bold>,</Bold> y sus faldas henchían el Templo</i><Bold>"</Bold> (Isa 6<Bold>:</Bold>1)
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>26 <i>Y sobre la expansión que había sobre sus cabezas<Bold>,</Bold> veíase la figura
            de un
            trono y que parecía de piedra de zafiro<Bold>;</Bold> y <Bold>sobre la figura del trono había una
                semejanza
                que parecía de hombre sentado sobre él.</Bold></i> 27 <i>Y vi apariencia como de
            ámbar<Bold>,</Bold> como
            apariencia de fuego dentro de ella en contorno<Bold>,</Bold> por el aspecto <Bold>de sus lomos para
                arriba;</Bold> y <Bold>desde sus lomos para abajo,</Bold> vi que parecía como
            fuego<Bold>,</Bold> y
            que tenía resplandor alrededor<Bold>.</Bold></i> 28 <i>Cual parece el arco del cielo que está en las
            nubes el
            día que llueve<Bold>,</Bold> así era el parecer del resplandor alrededor<Bold>.</Bold> Esta fue la
            visión de
            la semejanza de la gloria de Jehová<Bold>.</Bold> Y luego que yo la hube visto<Bold>,</Bold> caí
            sobre mi
            rostro<Bold>,</Bold> y oí voz de uno que hablaba</i><Bold>."</Bold> (Ezq 1<Bold>:</Bold>26-28)
        </Paragraph>
        <Paragraph><Bold>También Daniel, en su visión de 7:9</Bold> nos describe a Dios diciendo que
            <Bold>"</Bold>…<Bold>un
                Anciano de grande edad se sentó</Bold>…<Bold>",</Bold> comparándolo así<Bold>,</Bold> tanto en
            su forma
            como en su acción<Bold>,</Bold> a lo que luce y hace un ser humano<Bold>.</Bold> Más adelante en el
            mismo
            versículo el profeta<Bold>,</Bold> describiendo a Dios en la forma en que él lo veía menciona <Bold>Su
                cabeza
                y Su pelo.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Estuve mirando hasta que fueron puestas sillas<Bold>,</Bold> y <Bold>un Anciano de
            grande
            edad se sentó,</Bold> cuyo vestido era blanco como la nieve<Bold>,</Bold> y <Bold>el pelo de su
            cabeza</Bold> como lana limpia<Bold>;</Bold> su silla llama de fuego<Bold>,</Bold> sus ruedas
            fuego
            ardiente</i><Bold>."</Bold> (Dn 7<Bold>:</Bold>9)</Paragraph>
        <Paragraph><Bold>En Ap 4:2-3</Bold> Juan describe la visión que de Dios tuvo<Bold>,</Bold> en la misma forma que
            los
            profetas anteriores<Bold>:</Bold> menciona un trono<Bold>,</Bold> dice que había <Bold>uno
                sentado,</Bold> luego dice <Bold>"</Bold>…y el que estaba sentado…<Bold>",</Bold> con lo cual
            nos
            damos cuenta de que no está viendo una nube o algo informe<Bold>,</Bold> sino alguien semejante a un ser
            humano<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>2 <i>Y luego yo fui en espíritu<Bold>,</Bold> y he aquí<Bold>,</Bold> un trono que
            estaba
            puesto en el Cielo<Bold>,</Bold> y sobre el trono estaba <Bold>uno sentado.</Bold></i> 3 <i>Y
            <Bold>el que
                estaba sentado,</Bold> era al parecer semejante a una piedra de jaspe y de sardio<Bold>,</Bold> y
            un arco
            celeste había alrededor del trono<Bold>,</Bold> semejante en el aspecto a la
            esmeralda</i><Bold>."</Bold> (
            Ap 4<Bold>:</Bold>2-3)</Paragraph>
        <Paragraph><Bold>Si todos ellos vieron a Dios con el mismo aspecto que tiene cualquier ser humano, es porque así mismo
            es
            Dios.</Bold> Hay quienes arguyen que Dios no puede tener forma<Bold>,</Bold> porque uno de los
            mandamientos es
            que no se hagan imágenes de Dios<Bold>.</Bold> Eso no es un argumento válido<Bold>,</Bold> porque
            <Bold>tampoco
                Cristo quiere que hagan imágenes de él y sin embargo, eso no quiere decir que Cristo no tuvo
                forma.</Bold>
            Igualmente<Bold>,</Bold> el hecho de que Dios no quiere que se le hagan imágenes no implica que Él no
            tiene
            forma<Bold>.</Bold></Paragraph>
        <Paragraph> Otros basan su obstinación en decir que Dios es espíritu<Bold>,</Bold> y que el espíritu no tiene
            forma<Bold>.</Bold> <Bold>¿</Bold>En qué lugar de la Biblia ellos se basan para decir que un
            espíritu no
            tiene forma<Bold>?</Bold> Los ángeles son espíritu y tienen la misma forma que los
            humanos<Bold>.</Bold> En
            Job 4<Bold>:</Bold>16 se menciona un espíritu diciendo que tiene rostro<Bold>.</Bold> O
            sea<Bold>,</Bold> que se asemeja a un ser humano<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>No hay un solo versículo en toda la Biblia que diga que Dios no tiene forma,</Bold> pero sí hay
            muchísimos
            que lo describen con la misma forma en que Él nos hizo a nosotros<Bold>.</Bold> Es lógico que así
            sea<Bold>,</Bold> para que cuando nos encontremos con Él<Bold>,</Bold> no nos espantemos de su
            aspecto<Bold>,</Bold> por cuanto ya estamos acostumbrados a ver seres de esa forma<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    