---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El fabricante de autos">
    <Title>El fabricante del auto</Title>

    <Tag>#95</Tag>
    <Content>
        
        <Paragraph> El que dirige la fabricación de un auto<Bold>,</Bold> el ingeniero jefe<Bold>,</Bold> sabe cómo hizo
            el auto<Bold>,</Bold>
            qué puede hacer ese auto<Bold>,</Bold> qué cosas no puede hacer<Bold>,</Bold> con qué tipo de
            gasolina se le
            debe alimentar<Bold>,</Bold> qué número y tipo de aceite debe usarse en él<Bold>,</Bold> qué presión
            de aire
            deben llevar las gomas o llantas<Bold>,</Bold> etc..</Paragraph>
        <Paragraph> Como persona consciente de su deber ese ingeniero jefe redacta un folleto en donde le explica al que compra
            el auto
            todos estos pormenores. El que sigue todas las recomendaciones<Bold>,</Bold> va a tener un carro bueno
            durante
            muchos años<Bold>;</Bold> el que las desprecia<Bold>,</Bold> tarde o temprano va a pagar por su
            desobediencia.</Paragraph>
        <Paragraph> No obstante<Bold>,</Bold> hay quien cumple unas recomendaciones y otras no. Si cuidamos con esmero el
            motor del
            carro<Bold>,</Bold> pero no las vestiduras ni la carrocería<Bold>,</Bold> el auto funcionará
            perfectamente<Bold>,</Bold> pero lucirá deteriorado. Si cuidamos los asientos y la
            carrocería<Bold>,</Bold>
            pero descuidamos el motor y las partes mecánicas<Bold>,</Bold> el auto lucirá como
            nuevo<Bold>,</Bold> pero
            no servirá para nada<Bold>;</Bold> no funcionará bien. <Bold>Igualmente, si nosotros cumplimos unas
                leyes de
                Dios y no otras, nos irá bien en ciertas cosas, pero no en otras.</Bold></Paragraph>
        <Paragraph> Las leyes de Dios sirven para encaminarnos en la vida y ahorrarnos amarguras y sinsabores.</Paragraph>
        <Paragraph><Bold>Hace muchos años un amigo mío, buen mecánico,</Bold> me vio echándole a mi auto aceite
            barato<Bold>,</Bold> y me aconsejó que le echara el más caro que yo pudiera costear. Como que yo sé de
            física<Bold>,</Bold> sabía que la propiedad primordial del aceite era su viscosidad<Bold>,</Bold> y
            aquel
            aceite barato la tenía<Bold>,</Bold> por lo cual no le hice caso al consejo de mi amigo. Sale mejor el
            que no
            sabe nada y atiende el consejo de los que saben<Bold>,</Bold> que el que sabe algo y se cree que lo sabe
            todo.
            Eso fue lo que me sucedió a mí.</Paragraph>
        <Paragraph> Al cabo de tres o cuatro años<Bold>,</Bold> el motor de mi carro se fundió<Bold>,</Bold> y como es
            natural
            fui a ver a mi amigo el cual me consiguió otro motor<Bold>,</Bold> y entre los dos lo
            cambiamos<Bold>,</Bold> pero yo ni me acordaba de aquel consejo. Por mera curiosidad mi amigo abrió el
            motor
            fundido para ver por qué se había fundido<Bold>,</Bold> y al ver la rejilla del tubo aspirante del
            aceite casi
            totalmente obstruida por carbón<Bold>,</Bold> me dijo que debía usar los aceites caros<Bold>,</Bold>
            porque
            estos tienen un disolvente del carbón que evita su acumulación. Él no se acordaba que ese consejo me lo
            había dado
            cuatro años antes<Bold>,</Bold> aunque en aquella ocasión no me había dicho que la razón por la cual
            debía usar
            el aceite caro era <Bold>porque este tenía disolventes del carbón.</Bold></Paragraph>
        <Paragraph> Cuando él me dio el primer consejo<Bold>,</Bold> yo<Bold>,</Bold> que creí saber lo
            suficiente<Bold>,</Bold> no quise hacerle caso al que sabía más que yo<Bold>,</Bold> y por
            eso<Bold>,</Bold> pagué las consecuencias.</Paragraph>
        <Paragraph><Bold>Igualmente Dios nos da mandamientos, y a veces no nos explica por qué debemos cumplirlos.</Bold>
            Nosotros<Bold>,</Bold> que creemos saber lo suficiente<Bold>,</Bold> dejamos de cumplir esos
            <Bold>"</Bold>pequeños<Bold>"</Bold> preceptos y mandamientos <Bold>"</Bold>sin
            importancia<Bold>",</Bold> pensando que eso era para <Bold>"</Bold>la gente de
            antes<Bold>",</Bold> o
            pensando que los mandamientos están obsoletos. Luego<Bold>,</Bold> cuando se nos rompe el
            <Bold>"</Bold>motor<Bold>",</Bold>
            en vez de admitir que esto nos vino por no cumplir algún mandamiento<Bold>,</Bold> solo se nos ocurre la
            necedad
            de decir<Bold>:</Bold> <Bold>"</Bold>son pruebas hermano<Bold>",</Bold> en vez de rectificar
            nuestro
            comportamiento y cumplir las leyes de Dios. Por eso luego seguimos sufriendo a todo lo largo de nuestras
            vidas lo
            que queremos llamar <Bold>"</Bold>pruebas<Bold>"</Bold>. <Bold>La Ley de Dios sirve para
                ahorrarnos todas
                esas amarguras.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </Content>
</Layout>
    