---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="El Cristiano y el sucio niño de dos años">
    <section>
        <Paragraph><Bold>El Cristiano y el niño de dos años</Bold></Paragraph>
        <Paragraph> Dios siempre está listo para protegernos y bendecirnos<Bold>,</Bold> pero perdemos esa protección y
            bendición
            cuando nosotros le presentamos hediondeces e inmundicias<Bold>.</Bold> Éstas son las que provocan que el
            ángel
            que representa a Dios se marche del lugar en que habitamos<Bold>,</Bold> o de la compañía de la persona
            a quien
            la protección o las bendiciones estaban dirigidas<Bold>.</Bold> En la categoría de hediondeces que
            apartan a
            Dios o a su ángel de nosotros<Bold>,</Bold> están entre otras muchas<Bold>,</Bold> el derramar
            sangre
            inocente<Bold>,</Bold> la fornicación<Bold>,</Bold> la inmundicia sexual<Bold>,</Bold> el aborto<Bold>,</Bold>
            las prácticas antinaturales en cualquier sentido<Bold>,</Bold> la idolatría<Bold>,</Bold> la sodomía<Bold>,</Bold>
            la brujería<Bold>,</Bold> el espiritismo<Bold>,</Bold> la obtención no honesta de beneficios o
            dinero<Bold>,</Bold> el creer que otros tienen menos valor que nosotros<Bold>,</Bold> el
            mentir<Bold>,</Bold> y todo cuanto vaya contra alguna ordenanza divina o contra lo que a todas luces es
            natural<Bold>,</Bold> pío y honesto<Bold>.</Bold></Paragraph>
        <Paragraph> A todos y cada uno de los seres humanos Dios quiere darles una obra proporcionalmente
            igual<Bold>,</Bold> un
            destino importante en proporción a sus dones<Bold>.</Bold> <Bold>Somos los seres humanos los que,
                poniendo o
                permitiendo suciedades en nuestra alma, en nuestro alrededor, donde ejercemos o debíamos ejercer mando,
                y en la
                sociedad que nos rodea, imposibilitamos la estadía a nuestro lado del Ángel de Dios, por no cumplir sus
                leyes.</Bold></Paragraph>
        <Paragraph> Nuestra falta de conocimiento y de limpieza respecto a Dios<Bold>,</Bold> se asemeja a la de un padre y
            su hijo
            de dos años<Bold>.</Bold> El padre quisiera llevarlo a donde él piensa ir<Bold>,</Bold> y para cuya
            ocasión
            ya el niño está bien vestido<Bold>.</Bold> El hijito ha jugado con fango<Bold>,</Bold> se ha
            embarrado la
            boca y las manos con chocolate y se ha hecho caca<Bold>.</Bold> El padre quisiera abrazarlo y
            cargarlo<Bold>,</Bold> llevarlo con él<Bold>,</Bold> pero no puede<Bold>.</Bold> Lo
            ama<Bold>...</Bold>pero el hijo lo obliga a que lo tenga que amar…<Bold>...</Bold>de
            lejos<Bold>.</Bold>
            No puede envolverlo en sus asuntos<Bold>,</Bold> <Bold>el hijo no quiere estar más limpio de lo que
                está,</Bold> le gustan mucho el juego con fango y los chocolates<Bold>,</Bold> y le importan muy
            poco
            andar sucio<Bold>.</Bold> <Bold>¡Necesita aprender!</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    