---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="La Biblia Dios la dio para que la entendiera cualqiera">
    <section>
        <Paragraph><Bold>La Biblia Dios la dio para que la entendiera cualquiera, no sólo los sabios.</Bold></Paragraph>
        <Paragraph> Las profecías y doctrinas de la Biblia son claras<Bold>,</Bold> las puede entender cualquier persona sin
            que
            haya tenido que estudiar teología<Bold>,</Bold> griego<Bold>,</Bold> hebreo<Bold>,</Bold>
            hermenéutica<Bold>,</Bold> etc<Bold>.,</Bold> ni graduarse en ningún seminario<Bold>.</Bold>
            Dios no da
            sus revelaciones para que sólo unos pocos eruditos las entiendan<Bold>.</Bold> Él las da para que los
            pescadores
            y todos sus hijos puedan tener acceso a la verdad<Bold>,</Bold> <Bold>si es que desean
                saberla.</Bold></Paragraph>
        <Paragraph> El Señor Jesús dijo en una ocasión que Dios había revelado estas cosas a los pequeños y no a los sabios y
            eruditos<Bold>.</Bold> Por lo tanto<Bold>,</Bold> no hay que ser necesariamente sabio ni erudito
            para
            entenderlo<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>En aquel tiempo<Bold>,</Bold> respondiendo Jesús<Bold>,</Bold>
            dijo<Bold>:</Bold> Te
            alabo<Bold>,</Bold> Padre<Bold>,</Bold> Señor del Cielo y de la Tierra<Bold>,</Bold> que hayas
            escondido
            estas cosas de los sabios y de los entendidos<Bold>,</Bold> y <Bold>las hayas revelado a los
                niños.</Bold>
            Así<Bold>,</Bold> Padre<Bold>,</Bold> pues que así agradó en tus ojos</i><Bold>."</Bold> (Mt
            11<Bold>:</Bold>25)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>En aquella misma hora Jesús se alegró en espíritu<Bold>,</Bold> y
            dijo<Bold>:</Bold> Yo
            te alabo <Bold>,</Bold> oh Padre<Bold>,</Bold> Señor del Cielo y de la Tierra<Bold>,</Bold> que
            escondiste estas cosas a los sabios y entendidos<Bold>,</Bold> y <Bold>las has revelado a los
                pequeños;</Bold> así<Bold>,</Bold> Padre<Bold>,</Bold> porque así te
            agradó</i><Bold>."</Bold> (Lc
            10<Bold>:</Bold>21)</Paragraph>
        <Paragraph><Bold>"Para entender claramente una verdad bíblica hace falta un niño, para complicarla, oscurecerla y
            torcerla
            hace falta un teólogo."</Bold></Paragraph>
        <Paragraph><Bold>Estemos alerta para mantener honestidad en la discusión de nuestras creencias Evitemos el
            dogmatizar.</Bold> En la mayoría de los casos los que discuten sobre un tema cualquiera<Bold>,</Bold>
            se
            limitan a dogmatizar sobre sus opiniones o creencias<Bold>.</Bold> Es decir<Bold>,</Bold> a
            afirmarlas para
            que sean creídas sin que medie una fraternal discusión sobre el tema<Bold>.</Bold> Es aquello de
            <Bold>"</Bold>cree lo que yo digo<Bold>,</Bold> porque yo sé más que tú<Bold>",</Bold> o porque
            <Bold>"</Bold>yo
            tengo una inspiración proveniente de esotéricas regiones<Bold>".</Bold> Esa es una tendencia común en
            todos<Bold>,</Bold> pero mucho más frecuente cuando se trata de creencias religiosas<Bold>,</Bold>
            porque la
            mayoría de los creyentes creen haber recibido<Bold>,</Bold> por medio de una <Bold>"</Bold>línea
            directa<Bold>"</Bold> desde esotéricas regiones<Bold>,</Bold> la revelación de lo que ellos piensan
            ser la
            verdad<Bold>.</Bold></Paragraph>
        <Paragraph> No se dan cuenta esos hermanos de que <Bold>si, efectivamente, el Espíritu Santo les hubiera puesto en el
            corazón
            o la mente ese pensamiento,</Bold> también les hubiera dado boca y sabiduría para poder defender esa
            creencia<Bold>,</Bold> como nos promete Nuestro Señor Jesucristo en Lc
            21<Bold>:</Bold>15<Bold>.</Bold>
        </Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Porque <Bold>yo os daré boca y sabiduría,</Bold> a la cual no podrán resistir ni
            contradecir
            todos los que se os opondrán</i><Bold>."</Bold> (Lc 21<Bold>:</Bold>15)</Paragraph>
        <Paragraph> Es decir<Bold>,</Bold> que cuando en verdad nuestras creencias fueron inspiradas por el Espíritu
            Santo<Bold>,</Bold> recibimos el don de defender eficientemente y con sólidos argumentos lo que
            creemos<Bold>.</Bold> No es cuestión de enfrascarnos en un simple intercambio de pasajes
            bíblicos<Bold>,</Bold> sino demostrar que los pasajes que alega nuestro amigo están erróneamente
            alegados<Bold>,</Bold> mientras que los nuestros son aplicables y hacen sentido<Bold>.</Bold></Paragraph>
        <Paragraph> Si no podemos defenderlo<Bold>,</Bold> o <Bold>si rehuimos la discusión fraterna con los hermanos, es
            porque
            en nuestro interior sabemos</Bold> que la idea que tenemos nos surgió a nosotros mismos<Bold>,</Bold>
            y no se
            trata de ninguna inspiración celestial<Bold>,</Bold> pero queremos hacernos esa dañina
            ilusión<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Nunca debemos rehusar discutir nuestra fe y esperanza<Bold>,</Bold> puesto que el Apóstol Pedro nos
            exhorta a
            hacerlo así<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Sino santificad al Señor Dios en vuestros corazones<Bold>,</Bold> y <Bold>estad
            siempre
            aparejados para responder con mansedumbre y reverencia a cada uno que os demande razón de la esperanza que
            hay en
            vosotros</Bold></i><Bold>."</Bold> (I P 3<Bold>:</Bold>15)</Paragraph>
        <Paragraph><Bold>"La discusión es como la luz, molesta solamente a los que prefieren las tinieblas"</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    