---
import Layout from "@/layout/Layout.astro";
import Title from "@/components/Title.astro";
import DateOf from "@/components/DateOf.astro";
import Cite from "@/components/Cite.astro";
import Verse from "@/components/Verse.astro";
import Tag from "@/components/Tag.astro";
import Bold from "@/components/Bold.astro";
import Content from "@/components/Content.astro";
import Paragraph from "@/components/Paragraph.astro";
---

<Layout title="¿Qué significa 'Fue dicho a los Antiguos'">
    <section>
        <Paragraph><Bold>¿Qué significa "Fue Dicho a los Antiguos"?</Bold></Paragraph>
        <Paragraph> En Mateo 5<Bold>:</Bold>21 y 33 se usa la expresión <Bold>"oísteis que fue dicho a los
            antiguos",</Bold> y
            son muchísimos los hermanos que la toman con el significado de <Bold>"oísteis que Dios ordenó en la
                ley".</Bold>
            Por eso muchos adquieren la errada idea de que <Bold>"antes"</Bold> Dios les dijo algo a los
            judíos<Bold>,</Bold> pero que <Bold>"ahora"</Bold> cambió de idea y les dice lo contrario a los
            cristianos<Bold>.</Bold> No hay tal cosa<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Como dice <Bold>el proverbio de los antiguos:</Bold> De los impíos saldrá la
            impiedad<Bold>;</Bold> así que mi mano no será contra ti</i><Bold>."</Bold> (I Sam
            24<Bold>:</Bold>13)
        </Paragraph>
        <Paragraph><Bold>Aquí en Samuel vemos usada la misma expresión,</Bold> la cual claramente se refiere a eso
            mismo<Bold>,</Bold> <Bold>"</Bold>a los antiguos<Bold>",</Bold> no a la Ley de
            Dios<Bold>.</Bold> De
            ese error de apreciación nace en parte la idea de que la doctrina que Dios tenía por buena
            <Bold>"antes",</Bold>
            no es buena <Bold>"ahora".</Bold></Paragraph>
        <Paragraph> Igualmente<Bold>,</Bold> cuando en Mt 5<Bold>:</Bold>43<Bold>,</Bold> Jesús dice
            <Bold>"</Bold>oísteis
            que fue dicho a los antiguos<Bold>",</Bold> quiere decir eso mismo<Bold>:</Bold> <Bold>"</Bold>los
            antiguos<Bold>";</Bold> significa que antes los antiguos decían tales cosas<Bold>,</Bold> no quiere
            decir
            que Dios dijo tal cosa en la ley<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>En este versículo que mencionamos, Jesús dice que "fue dicho" que aborrecieran a su enemigo.</Bold>
            A mi
            modo de ver Jesús se refiere a algún dicho o máxima <Bold>tradicional</Bold> de los
            judíos<Bold>,</Bold> la
            cual <Bold>les garantizo</Bold> que no tenía base o apoyo en la Escritura<Bold>.</Bold> Digo eso
            porque
            Jesús no dice que Dios lo dijo<Bold>,</Bold> sino que <Bold>"</Bold>fue dicho<Bold>",</Bold> a
            secas<Bold>.</Bold> <Bold>Además no existe ningún versículo en el Antiguo Testamento que ordene tal
                cosa.</Bold> El que más se aproxima es Dt 23<Bold>:</Bold>6<Bold>,</Bold> que no sólo no dice
            que los
            aborrezcan<Bold>,</Bold> sino que se refiere única<Bold>,</Bold> exclusiva y específicamente a los
            Amonitas
            y Moabitas<Bold>,</Bold> como veremos más adelante<Bold>.</Bold></Paragraph>
        <Paragraph><Bold>Además, el espíritu de las Escrituras en el Antiguo Testamento es siempre lo contrario,</Bold> es
            siempre
            de amor al prójimo<Bold>,</Bold> tanto al nacional como al extranjero<Bold>,</Bold> tanto a nuestros
            amigos
            como a nuestros enemigos<Bold>,</Bold> como se puede ver en Éxodo
            22<Bold>:</Bold>21<Bold>;</Bold>
            23<Bold>:</Bold>4<Bold>,</Bold> 5 y 9<Bold>;</Bold> y Lv
            19<Bold>:</Bold>17-18<Bold>.</Bold>
            Veamos<Bold>.</Bold></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Oísteis que fue dicho<Bold>:</Bold> Amarás a tu prójimo<Bold>,</Bold> y <Bold>aborrecerás
            a tu enemigo</Bold></i><Bold>."</Bold> (Mt 5<Bold>:</Bold>43)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>3 <Bold>No entrará amonita ni moabita en la congregación de Jehová;</Bold> <i>ni aun en
            la
            décima generación entrará en la congregación de Jehová para siempre<Bold>......</Bold></i>6 <i><Bold>No
            procurarás la paz de ellos ni su bien en todos los días para siempre</Bold></i><Bold>."</Bold> (Dt
            23<Bold>:</Bold>3-6 abreviado)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>al extranjero no engañarás, ni angustiarás,</Bold> porque extranjeros
            fuisteis
            vosotros en la tierra de Egipto</i><Bold>."</Bold> (Ex 22<Bold>:</Bold>21)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>4 Si encontrares <Bold>el buey de tu enemigo o su asno extraviado, vuelve a
            llevárselo. 5 Si
            vieres el asno del que te aborrece caído debajo de su carga, ¿le dejarás entonces desamparado? Sin falta
            ayudarás
            con él a levantarlo</Bold></i><Bold>."</Bold> (Ex 23<Bold>:</Bold>4-5)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold><i>Y <Bold>no angustiarás al extranjero;</Bold> pues vosotros sabéis cómo se halla el
            alma del
            extranjero<Bold>,</Bold> ya que extranjeros fuisteis en la tierra de Egipto</i><Bold>."</Bold> (Ex
            23<Bold>:</Bold>9)</Paragraph>
        <Paragraph></Paragraph>
        <Paragraph></Paragraph>
        <Paragraph><Bold>"</Bold>17 <Bold>No aborrecerás</Bold> <i>a tu hermano en tu corazón<Bold>,</Bold>
            ingenuamente
            reprenderás a tu prójimo<Bold>,</Bold> y no consentirás sobre él pecado<Bold>.</Bold> 18 <Bold>No
                te
                vengarás, ni guardarás rencor</Bold> a los hijos de tu pueblo<Bold>;</Bold> mas <Bold>amarás a
                tu
                prójimo como a ti mismo:</Bold> Yo Jehová</i><Bold>."</Bold> (Lv 19<Bold>:</Bold>17-18)</Paragraph>
        <Paragraph> Como vimos en estos pasajes<Bold>,</Bold> lo que la Ley de Dios decía<Bold>,</Bold> era muy
            diferente de lo
            que le decían a los antiguos<Bold>;</Bold> quién sabe quienes eran los que decían tal
            cosa<Bold>,</Bold> tal
            vez proverbistas<Bold>.</Bold></Paragraph>
        <Paragraph> A mi modo de ver<Bold>,</Bold> lo que ocurrió en el caso de la tergiversación que hicieron los judíos en
            la
            época de Cristo<Bold>,</Bold> es que<Bold>,</Bold> como siempre<Bold>,</Bold> por un
            lado<Bold>,</Bold> los pueblos debido a sus malas inclinaciones<Bold>,</Bold> y por el otro lado las
            camarillas religiosas<Bold>,</Bold> con motivo de sus intereses<Bold>,</Bold> deforman y adaptan la
            interpretación de las Escrituras<Bold>,</Bold> y en algunas ocasiones hasta la Escritura
            misma<Bold>.</Bold>
        </Paragraph>
        <Paragraph> Es algo semejante a lo que hoy ocurre con los católicos y los diez mandamientos<Bold>,</Bold> en el que
            uno de
            ellos es específicamente contra la idolatría<Bold>,</Bold> sin que a pesar de su
            claridad<Bold>,</Bold>
            logren percatarse de ello<Bold>.</Bold> O el caso de los protestantes con la Ley de Dios en
            general<Bold>,</Bold> y con el sábado en particular<Bold>.</Bold></Paragraph>
        <Paragraph><Bold><a href="NotasBiblicas.html">Volver al índice</a></Bold></Paragraph>

    </section>
</Layout>
    