<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>What was the blasphemy against the Holy Spirit</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <B><FONT size="5"> What was the blasphemy against the Holy Spirit</FONT></B>
<P>
<P>
    &nbsp;&nbsp;&nbsp; There are many who don't understand what Jesus meant when
    he warned that blasphemy against the Holy Ghost was unforgivable. To understand
    this statement it is necessary for us to place ourselves in the same
    circumstances in which such statement was uttered, and to consider God's
    law against blasphemy. In Lev 24: 16 God orders that anyone who blasphemes
    be executed.&nbsp; It was to say that the blasphemy against the Holy Spirit was
    not the only unfogivable one, because the blaspheme against God the Father was
    not fogiven either.
<P>
<P style="text-indent: 5; margin-left: 5; margin-right: 5">
    <I>"<B>And he that blasphemeth the name of the LORD, he shall surely be put
        to death</B>, and all the congregation shall certainly stone him; as well
        the stranger, as he that is born in the land, <B> when he blasphemeth the
            name of the LORD, shall be put to
            death</B>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</I>&nbsp;&nbsp;
    ( Lev 24: 16 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>No Hebrew in all Israel, no matter how renegade he
    was, would dare to blaspheme God.</B> Not even those who didn't believe in
    God would dare to blaspheme Him, because they knew that they would immediately
    have to pay the blasphemy with their life. Everyone who would hear them would
    stone them. Therefore, when Our Lord Jesus Christ said that all manner of
    blasphemy was going to be forgiven, he was not referring to those who would
    blaspheme God the Father, Jehovah, the God of the Hebrews, because such a
    blaspheme was uttered by none, it was something unthinkable. Nobody would
    dare to blaspheme Jehovah God, much less publicly, as these Pharisees blasphemed
    the Holy Ghost.&nbsp; Jesus was referring to blasphemies against himself.
<P>
<P>
    <I>"<FONT size="1">31</FONT> Wherefore I say unto you: <B><U> All manner
        of sin and blasphemy shall be forgiven unto men</U>,&nbsp; <U>but the blasphemy
        against the Holy Ghost shall not be forgiven unto men</U>.&nbsp;</B>
        <FONT size="1">32</FONT> <B> And whosoever speaketh a word against <U> the
            Son of man</U>, it shall be forgiven him; but whosoever speaketh against
            the Holy Ghost, it shall not be forgiven him</B>, neither in this world,
        neither in the world to
        come."</I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Mt 12: 31-32 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>Therefore, disregarded the possibility that those Pharisees
    were blaspheming against God the Father, let's exam the possibility that
    the blaspheme was against the Divine Son of God.</B> In Mtt 12: 32; Mk 3:
    29 and Lk 12: 10, Jesus says that any blaspheme that anyone utters against
    him would be forgiven. Since those people saw Jesus as just a man, like
    themselves, the fact that they would blaspheme him didn't have the severity
    of blaspheming God the Father. From their point of view Jesus was just a
    human being, that is why insults and blasphemes against him could be forgiven.
    This was product of their ignorance; they didn't believe that he was a Divine
    Being. It is more evident in Mt 12: 32 and Lk 12: 10, where Jesus talks about
    himself as "the Son of Man", consequently, those who saw him as just a man,
    didn't commit the unforgivable sin, when they blasphemed Jesus.
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I><FONT size="1">28</FONT> Verily I say unto you: All
    sins shall be forgiven unto the sons of men, and blasphemies wherewith soever
    they shall blaspheme, <FONT size="1"> 29 </FONT> but he that shall blaspheme
    against the Holy Ghost hath never forgiveness, but is in danger of eternal
    damnation. <FONT size="1"> 30</FONT> <B> Because they said: He hath an unclean
        spirit</B>.</I>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Mk 3: 28-30 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>And whosoever shall speak a word against <B> the Son
    of man</B>, it shall be forgiven him: but unto him that blasphemeth against
    the Holy Ghost it shall not be
    forgiven</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Lk 12: 10 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>Let's now look at all these passages, in order to figure
    out who the Pharisees were blaspheming against</B>. According to Mk 3: 30,
    <B> what Jesus considered a blasphemy was the fact that they said the Spirit
        that Jesus had, was an unclean spirit</B>. Those people were talking of the
    Divine Being whose anointment allowed Jesus to make miracles. Their case
    was different from the previous one, because <B> they had to be fully aware</B>
    that the Spirit that allowed such miracles to be performed, <B><U> had to
    be</U> a Divine Being. Despite this evident conclusion they chose to blaspheme
    this Divine Being, calling him Beelzebub</B>, as we see in Mt 12: 24; Mk
    3: 22 and Lk 11: 15. They knew that no demon could cast out another demon.
    They knew that Satan could never open the eyes of a blind, resurrect a dead
    person, nor make whole those sick with palsy. <B> That's why they couldn't
    be forgiven, because they knew to whom they were blaspheming, and they persisted
    in doing so.</B>
<P>
    &nbsp; &nbsp;This was not the case of an ignorant or an atheist, who did
    not know the meaning of what they were uttering, or didn't know or didn't
    believe that such a divine being existed. <B>This was the case of people
    who knew perfectly well whom they were blaspheming against, and even so,
    they wished to blaspheme him.</B> They did so in order to get the "benefit"
    of casting doubts over the miracles performed by Jesus Christ, because they
    perceived him as their competitor in religion.
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>But when <B> the Pharisees</B> heard it, they said:
</I><B><I> This fellow doth not cast out devils, but by Beelzebub the prince
    of the
    devils</I>.</B>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Mtt 12: 24 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>And the scribes which came down from Jerusalem said:
    <B> He hath Beelzebub, and by the prince of the devils casteth he out
        devils</B></I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Mk 3: 22 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>But some of them said: <B> He casteth out devils through
    Beelzebub the chief of the
    devils</B></I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Lk 11: 15 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>That is why the blasphemy against the Holy Ghost shall
    not be forgiven unto men.</B>
<P align="center">
    <B><A HREF="html/en/English.html">Back to the index</A></B>
</BODY>
</HTML>
