---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
import Article from "@/components/Article.astro";
---
<Layout showThanksRead equivalentHref="/es/books" language="en"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>The author has the ability to impart his knowledge and experiences in a short and concise
                manner
                that is
                easy to understand. To put it in his own words let me share with you what he once told me:
                'I do not
                dissolve an aspirin in a barrel of water, so as to force whoever wants the benefits of the
                aspirin,
                to
                drink the whole barrel. I just give them the aspirin. That's why I write as brief as
                possible'.
            </p>

            <p><strong>Rev. Ramón Alemán, Oklahoma, U.S.A.</strong></p>
        </Brief>

        <article class="pr:5rem">
            <Article title="The Last Four World Powers" href="LastFourWorldPowers.pdf"/>
            <Article title="Rapture vs Ingathering" href="Rapture_vs_Ingathering_english.pdf"/>
            <Article title="Demonstrating that Jesus is the Jewish Messiah"
                     href="Jesus_Messiah_english.pdf"/>

            <Article title="Is God's Law Obsolete?" href="the_Law_english.pdf"/>
            <Article title="Is Holiness Attainable?" href="Holiness_english.pdf"/>
            <Article title="Saved Always Saved...Doesn't Matter What You Do?" href="once_saved_english.pdf"/>
            <Article title="Does the Soul Exist Or Are We Just Flesh?" href="Alma_Ingles_10_My_11.pdf"/>
            <Article title="Hermeneutics as Taught in the Bible" href="Hermeneutica_Ingles_19_My_11.pdf"/>
            <Article title="Predestination, Christian Doctrine or Heresy" href="Predestination_Ingles_11_My_11.pdf"/>
            <Article title="The Trinity as Taught in the Bible" href="Trinidad_Ingles_22_My_11.pdf"/>
        </article>
    </SectionOf>
</Layout>