<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="country-region"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>11</o:TotalTime>
                    <o:Created>2009-08-31T22:51:00Z</o:Created>
                    <o:LastSaved>2009-08-31T23:02:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>489</o:Words>
                    <o:Characters>2788</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>23</o:Lines>
                    <o:Paragraphs>6</o:Paragraphs>
                    <o:CharactersWithSpaces>3271</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>To obtain the right Christian doctrine very many Christians act like
                        Naaman.</TITLE>
                    <LINK rel=File-List href="ChristiansActNaaman_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>To
  obtain the right Christian doctrine very many Christians act like
  <SPAN class=SpellE>Naaman</SPAN>.<o:p></o:p></SPAN></B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>There are those
        who believe that when they ask God for
        something<B style='mso-bidi-font-weight:
normal'>,</B> they are going to receive it in the most dramatic and vain
        form there is<B style='mso-bidi-font-weight:normal'>.</B> It is not that
        <SPAN class=GramE>way<B style='mso-bidi-font-weight:normal'>,</B></SPAN>
        the divine methodology is not the same as the
        human<B style='mso-bidi-font-weight:normal'>.</B> Let us see the case of
        the Syrian
        <SPAN class=SpellE>Naaman</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
        a general who was a leper<B style='mso-bidi-font-weight:normal'>,</B> who
        believed that God would respond to his
        way<B style='mso-bidi-font-weight:normal'>,</B> and almost did not reach
        that which he implored<B style='mso-bidi-font-weight:normal'>,</B> his
        health<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Many times, believers behave
        with God in the same way this Syrian general behaved with
        <SPAN class=SpellE>Elisha</SPAN>.</B> The prophet gave the leper all that
        was necessary for him to be cured<B style='mso-bidi-font-weight:normal'>,</B>
        but he almost wasn't cured<B style='mso-bidi-font-weight:normal'>,</B> because
        <SPAN class=SpellE>Elisha</SPAN> did not follow the method the general thought
        he should follow<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>Many believers ask
        things of God and expect Him to perform in a dramatic and astounding way
        that we think it should be given to
        us<B style='mso-bidi-font-weight:normal'>.</B>
        Later<B style='mso-bidi-font-weight:normal'>,</B> when we receive the same
        goal that we desired<B style='mso-bidi-font-weight:normal'>,</B> but in a
        way that is natural and humble<B style='mso-bidi-font-weight:normal'>,</B>
        we think that God has not heard
        us<B style='mso-bidi-font-weight:normal'>.</B>
        Yes<B style='mso-bidi-font-weight:normal'>,</B> He heard
        <SPAN class=GramE>us<B style='mso-bidi-font-weight:normal'>,</B></SPAN> the
        problem is that He did not want to stimulate our vanity by performing marvelous
        theatrics when he could perfectly well help us by means that will look natural
        to others<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>In the same way, very many
        believers ask God for the truth in religion,</B> but when God sends a brother
        their way<B style='mso-bidi-font-weight:normal'>,</B> who discuss their erroneous
        doctrines with them<B style='mso-bidi-font-weight:normal'>,</B> they feel
        frustrated like
        <SPAN class=SpellE>Naaman</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
        and think<B style='mso-bidi-font-weight:normal'>:</B> I thought God would
        leave His throne in Heaven and appear before me to tell me what the true
        doctrine is<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><SPAN style='font-size:8.0pt'>9</SPAN>
        <I style='mso-bidi-font-style:
normal'>So <SPAN class=SpellE>Naaman</SPAN> came with his horses and with
            his chariot<B style='mso-bidi-font-weight:normal'>,</B> and stood at the
            door of the house of
            <SPAN class=SpellE>Elisha</SPAN><B style='mso-bidi-font-weight:
normal'>.</B>
        </I><SPAN style='font-size:8.0pt'>10</SPAN><I style='mso-bidi-font-style:
normal'> And <SPAN class=SpellE>Elisha</SPAN> sent a messenger unto
        him<B style='mso-bidi-font-weight:normal'>,</B>
        saying<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>Go and wash in
            <st1:place w:st="on">
                <st1:country-region w:st="on">Jordan</st1:country-region>
            </st1:place>
            seven times, and thy flesh shall come again to thee, and thou
            <SPAN class=SpellE>shalt</SPAN> be clean.</B>
    </I><SPAN style='font-size:8.0pt'>11</SPAN><I style='mso-bidi-font-style:normal'>
        But <SPAN class=SpellE>Naaman</SPAN> was
        wroth<B style='mso-bidi-font-weight:normal'>,</B> and went
        away<B style='mso-bidi-font-weight:normal'>,</B> and
        said<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>Behold, I thought, He
        will surely come out to me, and stand, and call on the name of the LORD his
        God, and strike his hand over the place, and recover the leper.</B>
    </I><SPAN style='font-size:8.0pt'>12</SPAN><I style='mso-bidi-font-style:normal'>
        Are not <SPAN class=SpellE>Abana</SPAN> and
        <SPAN class=SpellE>Pharpar</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
        rivers of
        <st1:City w:st="on">Damascus</st1:City>
        <B style='mso-bidi-font-weight:normal'>,</B>
        better than all the waters of
        <st1:country-region w:st="on">
            <st1:place w:st="on">Israel</st1:place>
        </st1:country-region>
        <B
                style='mso-bidi-font-weight:normal'>?</B> <SPAN class=GramE>may</SPAN> I
        not wash in them<B style='mso-bidi-font-weight:normal'>,</B> and be
        clean<B style='mso-bidi-font-weight:normal'>?</B> So he turned and went away
        in a rage</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        <SPAN style='mso-tab-count:
1'>
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(II K 5<B style='mso-bidi-font-weight:normal'>:</B>9-12)
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Finally<B style='mso-bidi-font-weight:normal'>,</B> his servants reasoned
        with him that if the prophet would have asked him to do something
        difficult<B style='mso-bidi-font-weight:normal'>,</B> theatrical or
        dramatic<B style='mso-bidi-font-weight:normal'>,</B> he surely would have
        done so<B style='mso-bidi-font-weight:normal'>.</B>
        Therefore<B style='mso-bidi-font-weight:
normal'>,</B> if something as simple as washing himself seven times in the
        <st1:place w:st="on">Jordan River</st1:place>
        has been asked of
        him<B style='mso-bidi-font-weight:
normal'>,</B> why not <SPAN class=GramE>do</SPAN>
        it<B style='mso-bidi-font-weight:
normal'>?</B> The general deposed his
        attitude<B style='mso-bidi-font-weight:
normal'>,</B> did the apparently stupid thing the prophet asked him to do
        and he was healed of his leprosy<B style='mso-bidi-font-weight:normal'>.</B>
        If he had not accepted the directions of the prophet of
        God<B style='mso-bidi-font-weight:
normal'>,</B> he would have lost out on the blessing that was reserved for
        him<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Something similar can happen
        to us,</B> if when we pray<B style='mso-bidi-font-weight:normal'>,</B> we
        think that the answer from God should only come to us in a way that is
        dramatic<B style='mso-bidi-font-weight:normal'>,</B> astonishing or
        theatrical<B style='mso-bidi-font-weight:normal'>.</B> It is important to
        repeat here the previous
        paragraph<B style='mso-bidi-font-weight:normal'>:</B>
        <B style='mso-bidi-font-weight:normal'>&#147;In the same way, many believers
            ask God for the truth in religion, but when God sends a brother their way,
            who discuss their erroneous doctrines with them, they feel frustrated like
            <SPAN class=SpellE>Naaman</SPAN> and think: I thought God would leave His
            throne in Heaven and appear before me to tell me what the true doctrine
            is.&#148;</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
