<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Christ never abolished any of God's laws before crucifixion</title></head>
<body>

<p class="MsoNormal"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="text-align: center;" align="center"><b><span style="font-size: 18pt;" lang="EN-US">Christ never said what many confused people
believe he said in regards to the law<o:p></o:p></span></b></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: center;" align="center"><b><span style="font-size: 12pt;" lang="EN-US">Did Christ say
what you believe he said?<o:p></o:p></span></b></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>I will present several passages where our
brothers erroneously think that Our Lord Jesus Christ abolished one or more of
God&#8217;s laws during his three and a half<span style="">&nbsp;
</span>preaching years<b style="">.</b> From that
error has come the <b>heresy</b> of insisting that God&#8217;s laws for <b style="">human <u>behavior</u></b> are actually
inoperative<b style="">,</b> that we don&#8217;t have to
follow them<b style="">,</b> and that Christians are
free to do as they like<b style="">,</b> thinking that
even though they are doing all these things they are not sinning<b style="">.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>Such horrible mistake can only have been
put in the minds of the believers by our spiritual enemies.</b> It is
reasonable then to analyze those passages where our brothers think they see such
heresy<b style="">.</b><span style=""><o:p></o:p></span></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: center;" align="center"><b><span style="font-size: 12pt;" lang="EN-US">In order to save
us, Christ obeyed <u>every one</u> of God&#8217;s laws, from birth to death <o:p></o:p></span></b></p>

<p class="MsoBodyText3" style=""><span lang="EN-US"><span style="">&nbsp;&nbsp; </span>Our Lord obeyed <b>every one</b> of God&#8217;s
laws<b style="">,</b> both the behavioral laws and
the ritual laws <b>throughout</b> his life<b style="">.</b>
He had to do so in order to save us<b style="">.</b>
Only one fault would have resulted in his own damnation<b style="">,</b> and ours<b style="">.</b> <b style="">That is why he <u>never</u> did <u>anything</u>
that could have gone against God&#8217;s laws.</b><o:p></o:p></span></p>

<p class="MsoBodyText3" style=""><span lang="EN-US"><span style="">&nbsp;&nbsp; </span>In Hebrews 10<b style="">:</b>28 we see that Paul says that it is sinful to treat with contempt
any of God&#8217;s laws<b style="">,</b> therefore Jesus
was not about to do such thing<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span><b
        style="">&#8220;<i style="">He that despised Moses' law died</i></b><i style=""> without mercy under two or three witnesses</i><b
        style="">&#8221;</b><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-right: 0.2in; text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span
        style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Heb 10<b style="">:</b>28)<o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Being this so<b
        style="">,</b> it is totally unthinkable that our Lord Jesus Christ would
despise<b style="">,</b> abolish<b style="">,</b> disobey<b style="">,</b> suppress<b style="">,</b> talk against<b
            style="">,</b> modify<b style="">,</b> etc<b style="">.,</b> any of God&#8217;s laws<b style="">,</b> <b><u>before</u> his crucifixion.</b>
<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b
        style=""><u>I
say before his crucifixion</u>,</b> because if Christ would have wanted to
abolish one or more of God&#8217;s laws<b style="">,</b>
he would have <b><u>never</u></b> done it while under the law<b style="">,</b> since doing it would be to sin<b
            style="">,</b> <b>he could have been lost, and so
would we</b><b style="">.</b><o:p></o:p></span></p>

<p class="MsoBodyText3" style=""><span lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>Christ knew circumcision would be
abolished, </b>but he would have never done it<b style="">,</b> nor would he speak against such law before his crucifixion<b
        style="">.</b> He knew the sacrifices would be
abolished<b style="">,</b> but he would have never abolished
it<b style="">,</b> nor would he speak against them
before his crucifixion<b style="">.</b> To do it
would have been to sin<b style="">,</b> as Paul
reminds us in Hebrews 10<b style="">:</b>28<b style="">.</b> If Christ would have sinned<b style="">,</b> he would have been lost<b
            style="">,</b> and we would not have been saved<b style="">.</b> Speaking against the sacrifices and
circumcision before his crucifixion would have been a sin<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>That is why Jesus Christ never spoke of
abolishing any of God&#8217;s laws</b><b style="">.</b> It
was the Holy Spirit who<b style="">,</b> </span><u style=""><span style="font-size: 12pt;" lang="EN-US">after
the crucifixion</span></u><b style=""><span style="font-size: 12pt;" lang="EN-US">,</span></b><span
        style="font-size: 12pt;" lang="EN-US"> took on the task
of telling us which laws would be abolished and which would continue in place<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Christ had to be very careful<b
        style="">,</b> because Satan was always looking for
a way to make him sin<b style="">.</b> Satan knew
that if he made Jesus sin in the least of things<b style="">,</b> his mission would have failed and Satan would have triumphed<b
            style="">.<o:p></o:p></b></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="c1" style="text-align: left; line-height: normal;" align="left"><b><span style="" lang="EN-US"><span style="">&nbsp;&nbsp; </span>The
only mission Christ had received was that of saving us, anything other would be
a sin.</span></b><span style="" lang="EN-US"> </span><span lang="EN-US">Satan knew that God had given only one mission
to His Only Son<b>.</b> He knew that Jesus could not stray away from it and
that if he had altered that mission<b>,</b> or if he had taken upon his
shoulders any other mission<b>,</b> he would have failed<b>,</b> he would have
sinned<b>.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>That is why several times Satan tried to trip
the Lord<b style="">,</b> to make him get involved
in judgments<b style="">,</b> politics<b style="">,</b> etc<b style="">.,</b> like the time he tried to make him a judge<b
            style="">,</b> an executioner<b style="">,</b> or to
proclaim himself king<b style="">,</b> and even
punish those who deserved punishment<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>Because his was only a salvation mission,
Jesus rejected certain solutions. </b>Do you believe that it was through his
own strength and virtues that Elijah made fire fall from heaven and burn two
companies of soldiers<b style="">?</b> Do you
believe that was Elijah&#8217;s <b style="">&#8220;</b>mistake<b style="">&#8221;?</b><span style="">&nbsp;
</span>(2 Kings 1<b>:</b>10-12)<b>.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>It is evident that the one that gave Elijah
the power to do that miracle was God<b style="">;</b>
and it is evident that God also agreed with what Elijah was doing<b style="">,</b> otherwise he would not have backed
him up<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Do you believe that Jesus disagreed with God
on what Elijah had done<b style="">?</b> Of course
not<b style="">!</b> Christ approved of the same
things God approved<b style="">.</b> Therefore<b style="">,</b> what Elijah had done was not a sin<b style="">.</b> <o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Subsequently neither was a sin in itself for
the disciples to want to do what Elijah had done before<b style="">:</b> let fire come down from heaven to punish the rebels<b
            style="">.</b> That is what James and John tried to
do<b style="">.</b> What was sinful was to make it
part of Christ&#8217;s mission<b style="">.</b> That is
why the Lord didn&#8217;t let them do it<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span><b
        style="">&#8220;</b></span><span style="font-size: 8pt;" lang="EN-US">52</span><i style=""><span
        style="font-size: 12pt;" lang="EN-US"> And sent
messengers before his face<b style="">;</b> and they
went<b style="">,</b> and entered into a village of
the Samaritans<b style="">,</b> to make ready for
him<b style="">.</b><span style="">&nbsp;
</span></span></i><span style="font-size: 8pt;" lang="EN-US">53</span><i style=""><span style="font-size: 12pt;"
                                                                                        lang="EN-US"><span style="">&nbsp; </span>And they did
not receive him<b style="">,</b> because his face
was as though he would go to Jerusalem<b style="">.</b>
</span></i><span style="font-size: 8pt;" lang="EN-US"><span style="">&nbsp;</span>54</span><i style=""><span
        style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp; </span>And when his disciples James and John saw
this<b style="">,</b> they said<b style="">:</b> <b style="">Lord, wilt thou that we
command fire to come down from heaven, and consume them, even as Elias did?</b><span
            style="">&nbsp; </span></span></i><span style="font-size: 8pt;" lang="EN-US">55 </span><i style=""><span
        style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;</span>But <b style="">he
turned, and rebuked them,</b> and said<b style="">,</b>
<b style=""><u>Ye know not what manner of spirit ye
are of</u>.</b><span style="">&nbsp; </span></span></i><span style="font-size: 8pt;" lang="EN-US">56</span><i
        style=""><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp; </span><b style="">For
the Son of man <u>is not come to destroy men's lives</u>, but to save them.</b>
And they went to another village</span></i><b style=""><span style="font-size: 12pt;" lang="EN-US">&#8221;.<span
        style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style=""> </span></span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Lk
9<b style="">:</b>52-56)<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><b><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></b>
</p>

<p class="MsoNormal" style="text-align: justify;"><b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>The only difference in this case </span></b><span
        style="font-size: 12pt;" lang="EN-US">was that Christ&#8217;s
mission was much different than Elijah&#8217;s<br>
<span style="">&nbsp;</span>mission<b style="">.</b> It was much more specific and it required different methods<b
            style="">.</b> Jesus&#8217; mission was not to punish<b style="">,</b> destroy<b style="">,</b> judge<b
            style="">,</b> etc<b style="">.,</b> but to save<b style="">;</b> and no one would distract him during the 33 years he would live
here<b style="">.</b><o:p></o:p></span></p>

<p class="MsoBodyText" style=""><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>That is why he would not offer his vote (or
deny it) for the adulterous woman to be punished</span><span style="font-size: 12pt;" lang="EN-US">;</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
that is why he would not judge on the case of the brother who would not share
his inheritance</span><span style="font-size: 12pt;" lang="EN-US">;</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US"> that is why he would not
punish the Samaritan city</span><span style="font-size: 12pt;" lang="EN-US">.</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
None of that was his mission at the moment of his First Coming</span><span style="font-size: 12pt;"
                                                                           lang="EN-US">;</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US"> he had not come for any of it</span><span
        style="font-size: 12pt;" lang="EN-US">.</span><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"> He would not let others drag him into it</span><span
        style="font-size: 12pt;" lang="EN-US">;</span><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"> being whether those others were acting in bad faith</span><span
        style="font-size: 12pt;" lang="EN-US">,</span><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"> as in the case of the Pharisees who were agents of
Satan</span><span style="font-size: 12pt;" lang="EN-US">,</span><span style="font-size: 12pt; font-weight: normal;"
                                                                      lang="EN-US"> or in good faith</span><span
        style="font-size: 12pt;" lang="EN-US">,</span><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"> like the disciples</span><span
        style="font-size: 12pt;" lang="EN-US">.</span><span style="font-size: 12pt; font-weight: normal;" lang="EN-US">
<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>It&#8217;s not that Christ disapproved what
Elijah had done, </b>since that had been done under God&#8217;s authority and power<b style="">.</b> <b>Neither was Christ against
punishing adultery, </b>since it had been established by his father God<b style="">,</b> and he was not going against Him or
pretending to be <b style="">&#8220;</b>kinder<b style="">&#8221;</b> than God<b style="">.</b> It is simply that <span
            style="">the
mission that God gave him for that time was another one<b>,</b> as seen in John
3<b>:</b>17<b>, and he would not want to sin by straying away from the mission
he was given and taking on another one.</b></span><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span><b
        style="">&#8220;</b><i style="">For <b style="">God
sent not his Son into the world to condemn the world;</b> but that the world
through him might be saved</i><b style="">&#8221;.</b><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Jn 3<b
        style="">:</b>17)<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>We should not conclude from cases like these<b
        style="">,</b> that God was thinking one thing while
Jesus<b style="">,</b> <b style="">&#8220;</b>more humane<b style="">&#8221;</b> and <b style="">&#8220;</b>generous<b
            style="">&#8221;</b> was going against Him<b style="">,</b>
or fixing up His messes<b style="">.</b> After all<b style="">,</b> our Lord Jesus Christ <b>agrees with
sending the rebels to hell</b><b style="">,</b> just
like God<b style="">.</b> Therefore<b style="">,</b> when the Lord Jesus Christ opposed James
and John when they wanted to bring fire from heaven to punish those rebellious
Samaritans<b style="">,</b> he did it because that
was not his mission then<b style="">,</b> and doing
it would be a sin<b style="">;</b> but not because
he thought they did not deserve it<b style="">.</b> <span style=""><o:p></o:p></span></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>Neither should we understand that God
thought one thing in Moses&#8217; time </b>and then changed his mind two millenniums
later<b style="">,</b> to fix things<b style="">,</b> to the point of sending his Anointed
to contradict what God had previously approved<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Jesus Christ<b
        style="">,</b> and therefore God<b style="">,</b> is
the same yesterday<b style="">,</b> today<b style="">,</b> and forever<b style="">,</b> as Hebrews 13<b style="">:</b>8
declares<b style="">.</b> God is not going to think
one way during Moses&#8217; time and another way during Paul&#8217;s time<b style="">.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Because it was not his mission, Jesus did not
offer judgment. </span></b><span style="font-size: 12pt;" lang="EN-US">It is evident that in John 3<b style="">:</b>17
is the explanation of why Christ would not let himself be dragged where the
Pharisees and others wanted to take him<b style="">.</b>
These<b style="">,</b> <b>incited by Satan, and not
knowing why they were doing it, wanted to tempt Jesus to judge or condemn
someone, to invalidate his mission of salvation.</b><span style="">&nbsp; </span><o:p></o:p></span></p>

<p class="MsoBodyText2" style=""><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>God did not give Jesus the mission of judging or condemning on his
first coming<b style="">.</b> He did not come to
condemn but to save<b style="">.</b> If he had
condemned someone he would have walked away from God&#8217;s mission<b style="">,</b> which would have been sin<b
            style="">.</b> That is why the Pharisees and his
other enemies kept tempting him to judge and condemn people<b style="">.</b> They did not realize the spiritual warfare that was taking place<b
            style="">,</b> and in which they were unconsciously
participating<b style="">,</b> but since<b style="">,</b> after all<b style="">,</b> they were not serving God<b
            style="">,</b>
the Devil used them to make Christ judge or condemn someone<b style="">,</b> and thus ruin his saving mission by making him to sin<b
            style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>That is why Christ did not condemn the
adulterous woman in John 8<b style="">:</b>3-11<b style="">.</b> It is not that he was repealing God&#8217;s
laws<b style="">,</b> but he didn&#8217;t want to make
himself judge to apply them<b style="">,</b> because<b style="">,</b> as saw in John 3<b style="">:</b>17<b
            style="">;</b> <b>that was not his
mission.</b> For judging crimes God had already established kings<b style="">,</b> governors and judges<b style="">.</b> Jesus was not going to usurp their
functions<b style="">.</b> That is why he neither
condemned nor acquitted the adulterous woman<b style="">,</b> but instead<b style="">,</b> after
seeing that no one else condemned her<b style="">,</b>
he simply said<b style="">,</b> <b style="">&#8220;</b>Go and sin no more<b style="">&#8221;.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>That is why he would not go into
litigation for the inheritance that</b> one of his listeners had in Luke 12<b style="">:</b>13-14<b style="">.</b> This listener had been cheated by his brother<b
        style="">.</b> It isn&#8217;t that Jesus thought there shouldn&#8217;t be a law against
swindling<b style="">.</b> He didn&#8217;t abolish the
laws against swindling by not condemning the listener&#8217;s brother<b style="">.</b> It isn&#8217;t that Jesus had abolished all
these laws<b style="">.</b> It&#8217;s that his mission
was one of salvation<b style="">,</b> not of
condemnation or legislation<b style="">;</b> he came
as a savior<b style="">,</b> not as a judge or a
legislator<b style="">.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span><b
        style="">&#8220;</b></span><span style="font-size: 8pt;" lang="EN-US">13</span><span style="font-size: 12pt;"
                                                                                             lang="EN-US"> <i style="">And
one of the company said unto him<b style="">,</b> <b style="">Master, speak to my brother, that he divide
the inheritance with me.</b> </i></span><span style="font-size: 8pt;" lang="EN-US">14</span><i style=""><span
        style="font-size: 12pt;" lang="EN-US"> And he said unto him<b style="">:</b> Man<b style="">,</b> who made me a
judge or a divider over you</span></i><b style=""><span style="font-size: 12pt;" lang="EN-US">?&#8221;</span></b><span
        style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Lk 12<b style="">:</b>13-14)<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoBodyText" style=""><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"><span style="">&nbsp;&nbsp; </span></span><span
        style="font-size: 12pt;" lang="EN-US">By not taking sides in this problem between
brothers Jesus was not abolishing the laws of inheritance, </span><span style="font-size: 12pt; font-weight: normal;"
                                                                        lang="EN-US">or
the punishment of cheaters</span><span style="font-size: 12pt;" lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
or the right of every heir to claim his part</span><span style="font-size: 12pt;" lang="EN-US">.</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
</span><span style="font-size: 12pt;" lang="EN-US">He
wasn&#8217;t approving of adultery, or abolishing God&#8217;s laws about adultery </span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">just
because he did not condemn the adulterous woman</span><span style="font-size: 12pt;" lang="EN-US">.</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
He knew that the hand of Satan was behind all this</span><span style="font-size: 12pt;" lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
trying to distract him from the only mission that God had given him</span><span style="font-size: 12pt;"
                                                                                lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US"> and thus ruin his redemptive work and condemn
himself</span><span style="font-size: 12pt;" lang="EN-US">.</span><span style="font-size: 12pt; font-weight: normal;"
                                                                        lang="EN-US"><o:p></o:p></span></p>

<p class="MsoBodyText" style=""><span style="font-size: 12pt; font-weight: normal;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>If Christ would have dedicated himself to
solve arguments</span><span style="font-size: 12pt;" lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US"> not only would he have
failed in his mission</span><span style="font-size: 12pt;" lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
but he would have had received so many litigants</span><span style="font-size: 12pt;" lang="EN-US">,</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US">
that would have made his mission practically impossible</span><span style="font-size: 12pt;" lang="EN-US">.</span><span
        style="font-size: 12pt; font-weight: normal;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: center;" align="center"><b style=""><span lang="EN-US"><span
        style="">&nbsp;</span><a href="html/en/English.html">Back to the
index</a><o:p></o:p></span></b></p>
</body>
</html>