<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="ChristiansOrSaintpaulians_files/filelist.xml">
    <title>Are we Christians or Saintpaulians?</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>150</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]-->
    <u1:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags" name="City"/>
    <u1:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags" name="place"/><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>9</u1:Revision>
  <u1:TotalTime>23</u1:TotalTime>
  <u1:Created>2009-05-27T16:59:00Z</u1:Created>
  <u1:LastSaved>2009-05-27T17:22:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>1253</u1:Words>
  <u1:Characters>7148</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>59</u1:Lines>
  <u1:Paragraphs>16</u1:Paragraphs>
  <u1:CharactersWithSpaces>8385</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:SpellingState>Clean</u2:SpellingState>
  <u2:GrammarState>Clean</u2:GrammarState>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u1:shapedefaults u4:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u1:shapelayout u5:ext="edit">
  <u1:idmap u5:ext="edit" data="1"/>
 </u1:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><span
            style='font-size:18.0pt'>Are we Christians or Saintpaulians?<u1:p></u1:p></span></b>
    </p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Why Christianity became Saintpaulianity.</b>
        More than 16 centuries ago many Christians became Saintpaulians<b
                style='mso-bidi-font-weight:normal'>.</b> <b style='mso-bidi-font-weight:normal'>This
            is a rather idolatrous form of Christianity.</b> Yes<b style='mso-bidi-font-weight:
normal'>,</b> because while it remains true to Jesus Christ<b style='mso-bidi-font-weight:
normal'>,</b> it takes away the authority of his word<b style='mso-bidi-font-weight:
normal'>,</b> and that of the Holy Spirit and his twelve Apostles<b
                style='mso-bidi-font-weight:normal'>,</b> transferring such authority to Paul<b
                style='mso-bidi-font-weight:normal'>,</b> <b style='mso-bidi-font-weight:normal'>going
            above the authority of Christ and God himself.
            <u1:p></u1:p>
        </b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Sure enough<b
            style='mso-bidi-font-weight:normal'>,</b> nowadays most Christians are
        Saintpaulians<b style='mso-bidi-font-weight:normal'>.</b> If Christ says that
        the grass is green and the Saintpaulians misunderstand that Paul said it is red<b
                style='mso-bidi-font-weight:normal'>,</b> they insist it is red<b
                style='mso-bidi-font-weight:normal'>,</b> because <b style='mso-bidi-font-weight:
normal'>&#8220;</b>Paul said so<b style='mso-bidi-font-weight:normal'>&#8221;.</b>
    </p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>If the twelve
        apostles say the sky is blue and the believers think they understood Paul say
        it was yellow<b style='mso-bidi-font-weight:normal'>,</b> the Saintpaulians
        will insist that the sky is yellow<b style='mso-bidi-font-weight:normal'>,</b> <b
                style='mso-bidi-font-weight:normal'>&#8220;</b>because Paul said so<b
                style='mso-bidi-font-weight:normal'>&#8221;.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>They don't care what God says, what Jesus
        says, or what the Holy Spirit says;</b> neither do they care what the twelve
        apostles say<b style='mso-bidi-font-weight:normal'>.</b> The <b
                style='mso-bidi-font-weight:normal'>&#8220;</b>new doctrine<b style='mso-bidi-font-weight:
normal'>&#8221;</b> is what the believers mistakenly think Paul has said<b
                style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Some believe that in I Corinthians 8:1-13,
        Paul, in his &quot;sacred authority&quot; changed the Christian doctrine,</b>
        contradicting everything that had been legislated so far in regards to not
        eating what was sacrificed to the idols<b style='mso-bidi-font-weight:normal'>.</b>
        Not just that<b style='mso-bidi-font-weight:normal'>,</b> but according to
        these brothers<b style='mso-bidi-font-weight:normal'>,</b> Paul<b
                style='mso-bidi-font-weight:normal'>,</b> in his <b style='mso-bidi-font-weight:
normal'>&#8220;</b>divine authority<b style='mso-bidi-font-weight:normal'>&#8221;,</b>
        as if he were the protestant pope<b style='mso-bidi-font-weight:normal'>,</b>
        changed God's law<b style='mso-bidi-font-weight:normal'>,</b> and decided that
        from then on<b style='mso-bidi-font-weight:normal'>,</b> <b style='mso-bidi-font-weight:
normal'>it would</b> be acceptable to eat what was sacrificed to idols<b
                style='mso-bidi-font-weight:normal'>.</b> They think like that regardless of what
        Christ<b style='mso-bidi-font-weight:normal'>,</b> the Holy Spirit<b
                style='mso-bidi-font-weight:normal'>,</b> and the twelve apostles said<b
                style='mso-bidi-font-weight:normal'>.</b> They believe that Paul went over all
        of that<b style='mso-bidi-font-weight:normal'>,</b> and all of them<b
                style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Nothing was farther from Paul's intentions.</b>
        What Paul was doing in this passage was taking away the panic that apparently
        some felt<b style='mso-bidi-font-weight:normal'>,</b> for having carelessly
        eaten from something previously offered to the idols<b style='mso-bidi-font-weight:
normal'>.</b> But in spite of that reality<b style='mso-bidi-font-weight:normal'>,</b>
        many are the Christians who understand from this passage that indeed <b
                style='mso-bidi-font-weight:normal'>we can</b> eat what has been sacrificed to
        idols<b style='mso-bidi-font-weight:normal'>,</b> because <b style='mso-bidi-font-weight:
normal'>&#8220;</b>Paul authorized it<b style='mso-bidi-font-weight:normal'>&#8221;.</b>
    </p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>It is sensible to interpret very carefully
        what Paul seems to say.</b> Peter was a man inspired by God<b style='mso-bidi-font-weight:
normal'>,</b> and he knew Paul personally<b style='mso-bidi-font-weight:normal'>.</b>
        Thanks to Peter's witness<b style='mso-bidi-font-weight:normal'>,</b> we know
        that our brother Paul<b style='mso-bidi-font-weight:normal'>,</b> spoke and
        wrote in a style and form<b style='mso-bidi-font-weight:normal'>,</b> that was
        open to be twisted<b style='mso-bidi-font-weight:normal'>.</b> Of course<b
                style='mso-bidi-font-weight:normal'>,</b> to be twisted by the unstable (of bad
        spiritual quality) and the unlearned (ignorant of the word and God's things)<b
                style='mso-bidi-font-weight:normal'>.</b> Peter had indisputable authority to
        say it about the no lesser or inspired brother Paul<b style='mso-bidi-font-weight:
normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>This doesn't mean
        that Paul's writings could not be read because of possible confusion<b
                style='mso-bidi-font-weight:normal'>.</b> They had to be read carefully and
        sensibly so not to err<b style='mso-bidi-font-weight:normal'>.</b> Above all<b
                style='mso-bidi-font-weight:normal'>,</b> if what Paul seems to say is in
        contradiction with what other biblical authors affirm<b style='mso-bidi-font-weight:
normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>In no other place in the Bible there is a
        warning like this one, about any Bible author.</b> Never has anything like this
        been said of anyone<b style='mso-bidi-font-weight:normal'>,</b> especially by
        someone with such authority as the Apostle Peter<b style='mso-bidi-font-weight:
normal'>.</b> Let's remember that <b style='mso-bidi-font-weight:normal'>what
            the Bible authors wrote was inspired by the Holy Spirit,</b> therefore<b
                style='mso-bidi-font-weight:normal'>,</b> it would be sensible for us to take
        seriously such inspired counsel from Peter<b style='mso-bidi-font-weight:normal'>,</b>
        and keep it in mind<b style='mso-bidi-font-weight:normal'>.</b></p>

    <p>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>&#8220;</b><span style='font-size:8.0pt'>15</span> <i style='mso-bidi-font-style:
normal'>And account that the longsuffering of our Lord is salvation<b
            style='mso-bidi-font-weight:normal'>;</b> <b style='mso-bidi-font-weight:normal'>even
        as our <u>beloved</u> brother Paul also according to <u>the wisdom</u></b>
        given unto him hath written unto you<b style='mso-bidi-font-weight:normal'>;</b>
    </i><span style='font-size:8.0pt'>16</span><i style='mso-bidi-font-style:normal'>
        as also in all his epistles<b style='mso-bidi-font-weight:normal'>,</b>
        speaking in them of these things<b style='mso-bidi-font-weight:normal'>;</b> in
        which <b style='mso-bidi-font-weight:normal'>are <u>some things hard to be
        understood</u>, which they that are <u>unlearned</u> and unstable wrest, as
        they do also the other scriptures, unto their own destruction</b></i><b
            style='mso-bidi-font-weight:normal'>&#8221;.</b> (II Pet 3<b style='mso-bidi-font-weight:
normal'>:</b>15-16) </p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>We must understand that if the Holy Spirit
        inspired Paul to write something, He also inspired Peter to write what we just
        read.</b> Neither inspiration is less valuable than the other<b
            style='mso-bidi-font-weight:normal'>.</b> If the Holy Spirit who inspired Paul
        to write<b style='mso-bidi-font-weight:normal'>,</b> found it right to inspire
        Peter to give us this warning<b style='mso-bidi-font-weight:normal'>,</b> it
        must be so that we would not err<b style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>See that the Holy Spirit inspired Peter to
        give this warning about Paul,</b> but He didn't inspire Paul to give this
        warning about Peter<b style='mso-bidi-font-weight:normal'>.</b> Therefore<b
                style='mso-bidi-font-weight:normal'>,</b> the least that a sensible Christian
        can do is to keep this warning in mind when he reads Paul's writings<b
                style='mso-bidi-font-weight:normal'>.</b> <b style='mso-bidi-font-weight:normal'>Especially
            the problematic ones,</b> the ones that go head to head to what Jesus said<b
                style='mso-bidi-font-weight:normal'>,</b> what the twelve apostles said<b
                style='mso-bidi-font-weight:normal'>,</b> and what the rest of the Bible
        writers and the old prophets said<b style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Let this serve as a
        warning to all<b style='mso-bidi-font-weight:normal'>;</b> but especially to
        the <b style='mso-bidi-font-weight:normal'>Saintpaulians, those who like to
            make up doctrines out of Paul's obscure verses. Also to those who believe that
            Paul establishes doctrines that contradict those of Christ, the Holy Spirit, the
            rest of the apostles, or the rest of the Bible.</b> We need to realize that we
        are Christians<b style='mso-bidi-font-weight:normal'>,</b> not Saintpaulians<b
                style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Those who think
        they see in Paul's writings the abolition of God's laws for human behavior
        would not lose much reviewing those writings in the light of what the Holy
        Spirit reveals and warns them through Peter<b style='mso-bidi-font-weight:normal'>.</b>
        After all<b style='mso-bidi-font-weight:normal'>,</b> the sincere ones<b
                style='mso-bidi-font-weight:normal'>,</b> the ones who want to find the truth
        wherever it is<b style='mso-bidi-font-weight:normal'>,</b> will find it<b
                style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Let's see now an alleged statement of Paul,
        that seems to contradict what the Lord Jesus Christ said,</b> what the Holy
        Spirit said<b style='mso-bidi-font-weight:normal'>,</b> and what the twelve
        apostles ordained<b style='mso-bidi-font-weight:normal'>.</b> Let's also see
        what the explanation is to that <b style='mso-bidi-font-weight:normal'><u>apparent</u>
            contradiction</b> or discordance of Paul and the others<b style='mso-bidi-font-weight:
normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Paul <u>seems</u> to contradict Christ, the
        Holy Spirit, and the twelve apostles in regards to what was offered to the
        idols.</b> There are brothers that more than Christians are Saintpaulians<b
            style='mso-bidi-font-weight:normal'>.</b> <b style='mso-bidi-font-weight:normal'>They
        do with Paul something similar to what Catholics do with the Virgin Mary.</b>
        Let me explain<b style='mso-bidi-font-weight:normal'>.</b> Christ is the son of
        God<b style='mso-bidi-font-weight:normal'>,</b> He thinks just like his Father<b
                style='mso-bidi-font-weight:normal'>.</b> What was said by Paul has the same
        value to both of them<b style='mso-bidi-font-weight:normal'>,</b> as what was
        said by Peter<b style='mso-bidi-font-weight:normal'>,</b> Isaiah<b
                style='mso-bidi-font-weight:normal'>,</b> Samuel<b style='mso-bidi-font-weight:
normal'>,</b> Jacob<b style='mso-bidi-font-weight:normal'>,</b> Jude<b
                style='mso-bidi-font-weight:normal'>,</b> Mathew<b style='mso-bidi-font-weight:
normal'>,</b> Jeremiah<b style='mso-bidi-font-weight:normal'>,</b> Daniel<b
                style='mso-bidi-font-weight:normal'>,</b> or any other servant<b
                style='mso-bidi-font-weight:normal'>.</b> <b style='mso-bidi-font-weight:normal'>The
            Holy Spirit inspired them all.</b> Yet there are Christians that believe that
        the Bible is St<b style='mso-bidi-font-weight:normal'>.</b> Paul<b
                style='mso-bidi-font-weight:normal'>,</b> and St<b style='mso-bidi-font-weight:
normal'>.</b> Paul is the Bible<b style='mso-bidi-font-weight:normal'>.</b> If
        they understand that Paul says that the sand is green<b style='mso-bidi-font-weight:
normal'>,</b> and the rest of the apostles say it is white<b style='mso-bidi-font-weight:
normal'>,</b> they insist it is green<b style='mso-bidi-font-weight:normal'>.</b>
        Paul said so<b style='mso-bidi-font-weight:normal'>!</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>Even if our Lord Jesus Christ himself said
        the sand is white,</b> and they think they understand that Paul said it was
        green<b style='mso-bidi-font-weight:normal'>,</b> they will affirm that the
        sand is green<b style='mso-bidi-font-weight:normal'>,</b> because <b
                style='mso-bidi-font-weight:normal'>&#8220;</b>Paul said so<b style='mso-bidi-font-weight:
normal'>&#8221;.</b> <b style='mso-bidi-font-weight:normal'>Do you think this
            is a bit of an exaggeration?
            <u1:p></u1:p>
        </b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>The fact that Paul
        has written little more than a quarter of the New Testament doesn't give him
        the authority to abolish the rest of the Bible<b style='mso-bidi-font-weight:
normal'>,</b> including the rest of the New Testament<b style='mso-bidi-font-weight:
normal'>,</b> <b style='mso-bidi-font-weight:normal'>something he did not try
            to do, but that many brothers in Christ attribute to him.
            <u1:p></u1:p>
        </b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>If indeed it is true
        that he wrote more than any other writer in the New Testament<b
                style='mso-bidi-font-weight:normal'>,</b> we need to understand that the others
        wrote almost three quarters of it<b style='mso-bidi-font-weight:normal'>.</b>
        In other words<b style='mso-bidi-font-weight:normal'>,</b> that the others
        wrote almost three times as much as Paul<b style='mso-bidi-font-weight:normal'>.</b>
        He was not the most fruitful of the sacred writers<b style='mso-bidi-font-weight:
normal'>,</b> Moses alone wrote more than twice of what Paul did<b
                style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>I say this<b
            style='mso-bidi-font-weight:normal'>,</b> not to take away the merit due the
        apostle to the Gentiles<b style='mso-bidi-font-weight:normal'>,</b> because he
        has plenty of merit<b style='mso-bidi-font-weight:normal'>.</b> But rather so
        that nobody<b style='mso-bidi-font-weight:normal'>,</b> due to an appreciation
        error<b style='mso-bidi-font-weight:normal'>,</b> enlarge him irresponsibly<b
                style='mso-bidi-font-weight:normal'>,</b> something that he always tried to
        avoid<b style='mso-bidi-font-weight:normal'>,</b> as we see in the verses below<b
                style='mso-bidi-font-weight:normal'>.</b> And sadly<b style='mso-bidi-font-weight:
normal'>,</b> they would enlarge him to the point of thinking of him as the
        sole teacher of religion<b style='mso-bidi-font-weight:normal'>,</b> or at
        least the greatest<b style='mso-bidi-font-weight:normal'>.</b>
        <o:p></o:p>
    </p>

    <p>
        <u1:p>&nbsp;</u1:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>&#8220;</b><i style='mso-bidi-font-style:normal'>For though I would
        desire to glory<b style='mso-bidi-font-weight:normal'>,</b> I shall not be a
        fool<b style='mso-bidi-font-weight:normal'>;</b> for I will say the truth<b
                style='mso-bidi-font-weight:normal'>,</b> but now I forbear<b style='mso-bidi-font-weight:
normal'>,</b> <b style='mso-bidi-font-weight:normal'>lest any man should think
            of me <u>above</u> that which he seeth me to be, or that he heareth of me</b></i><b
            style='mso-bidi-font-weight:normal'>&#8221;</b><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(II
        Co 12<b style='mso-bidi-font-weight:normal'>:</b>6)
        <o:p></o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <u1:p>&nbsp;</u1:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>&#8220;</b><span style='font-size:8.0pt'>12</span> <i style='mso-bidi-font-style:
normal'>Now this I say<b style='mso-bidi-font-weight:normal'>,</b> that every
        one of you saith<b style='mso-bidi-font-weight:normal'>:</b> I am of Paul<b
                style='mso-bidi-font-weight:normal'>,</b> and I of Apollos<b style='mso-bidi-font-weight:
normal'>,</b> and I of Cephas<b style='mso-bidi-font-weight:normal'>,</b> and I
        of Christ<b style='mso-bidi-font-weight:normal'>.</b> </i><span
            style='font-size:8.0pt'>13</span><i style='mso-bidi-font-style:normal'> Is
        Christ divided<b style='mso-bidi-font-weight:normal'>?</b> <b style='mso-bidi-font-weight:
normal'>Was Paul crucified for you? or were ye baptized in the name of Paul</b></i><b
            style='mso-bidi-font-weight:normal'>?&#8221;</b><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(I Co 1<b
            style='mso-bidi-font-weight:normal'>:</b>12-13) </p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>As we saw in these
        two passages<b style='mso-bidi-font-weight:normal'>,</b> it wasn't in Paul's
        will to be so enthroned<b style='mso-bidi-font-weight:normal'>,</b> like the
        Saintpaulian brothers have done<b style='mso-bidi-font-weight:normal'>.</b></p>

    <p><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>To demonstrate how some brothers <u>misunderstand</u>
        <st1:place u6:st="on">
            <st1:City u6:st="on">Saint Paul</st1:City>
        </st1:place>
        ,
        thinking that he authorized eating from what was offered to idols read article
        # 17 in this same website. Would
        <st1:City u6:st="on">
            <st1:place u6:st="on">Saint
                Paul
            </st1:place>
        </st1:City>
        authorize such a thing he would be contradicting
        Our Lord Jesus Christ, the Holy Spirit and the rest of the apostles. Also read
        article # 9 so you realize how millions of Christian <u>misunderstand</u>
        <st1:place u6:st="on">
            <st1:City u6:st="on">Saint
                Paul
            </st1:City>
        </st1:place>
        when he give the impression to say the Holy of
        Holies was entered only once a year.
        <u1:p></u1:p>
    </b></p>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><a
            href="html/en/English.html">Back to the index
        <u1:p></u1:p>
    </a></b></p>

</div>

</body>

</html>
