<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="country-region"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>6</o:Revision>
                    <o:TotalTime>8</o:TotalTime>
                    <o:Created>2008-02-26T01:38:00Z</o:Created>
                    <o:LastSaved>2008-02-26T01:46:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>667</o:Words>
                    <o:Characters>3803</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>31</o:Lines>
                    <o:Paragraphs>8</o:Paragraphs>
                    <o:CharactersWithSpaces>4462</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>The Death Penalty will not Hinder a Convict from Being Saved</TITLE>
                    <LINK rel=File-List href="DeathPenaltySalvation_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:16.0pt'>The
  Death Penalty Will not Hinder a Convict from Being
  Saved<o:p></o:p></SPAN></B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>There are times
        when God wants to make an exception with a
        criminal<B style='mso-bidi-font-weight:
normal'>.</B> When that is the
        case<B style='mso-bidi-font-weight:normal'>,</B> God always finds the way
        to do it without us modifying the behavioral standard given by God's
        laws<B style='mso-bidi-font-weight:normal'>.</B> Let's study the following
        case<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B>19
        <SPAN class=GramE><I style='mso-bidi-font-style:normal'>There</I></SPAN><I
            style='mso-bidi-font-style:normal'> was not a city that made peace with the
        children of
        <st1:country-region w:st="on">Israel</st1:country-region>
        <B style='mso-bidi-font-weight:normal'>,</B>
        save the Hivites the inhabitants of
        <st1:place w:st="on">Gibeon</st1:place>
        <B style='mso-bidi-font-weight:normal'>;</B>
        all other they took in battle<B style='mso-bidi-font-weight:normal'>.</B>
    </I>20<I style='mso-bidi-font-style:normal'>
        <B style='mso-bidi-font-weight:normal'>For it was of the LORD to harden their
            hearts,</B> that they should come against Israel in
        battle<B style='mso-bidi-font-weight:normal'>,</B> that he might destroy
        them utterly<B style='mso-bidi-font-weight:normal'>,</B> and that they might
        have no
        <SPAN class=SpellE>favour</SPAN><B style='mso-bidi-font-weight:
normal'>,</B> but that he may destroy
        them<B style='mso-bidi-font-weight:normal'>,</B> as the LORD commanded
        Moses</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        (Jos<B style='mso-bidi-font-weight:normal'>.</B>
        11<B style='mso-bidi-font-weight:
normal'>:</B>19-20)
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>All of the inhabitants of the
        region conquered by Joshua were to be exterminated.</B>
        However<B style='mso-bidi-font-weight:
normal'>,</B> for some reason the Hivites living in
        <st1:place w:st="on">Gibeon</st1:place>
        should be
        pardoned<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>Maybe to give them the opportunity
            to become familiar with the true faith, knowing God that
            <SPAN class=GramE>many,</SPAN> or some of them would accept it.</B> They
        should be pardoned<B style='mso-bidi-font-weight:normal'>,</B> I
        repeat<B style='mso-bidi-font-weight:
normal'>,</B> but without
        weakening<B style='mso-bidi-font-weight:normal'>,</B> because of
        it<B style='mso-bidi-font-weight:normal'>,</B> the order of general
        extermination<B style='mso-bidi-font-weight:normal'>,</B>
        <SPAN class=GramE>That's</SPAN> why God used another
        way<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>The order for general
        extermination was very
        <SPAN class=GramE>rigorous<B style='mso-bidi-font-weight:
normal'>,</B></SPAN> even so<B style='mso-bidi-font-weight:normal'>,</B>
        Hebrews disobeyed it causing a negative outcome as seen in Judges
        2<B style='mso-bidi-font-weight:normal'>:</B>1-3<B style='mso-bidi-font-weight:
normal'>.</B> God did much<B style='mso-bidi-font-weight:normal'>,</B> but
        much emphasis on the extermination of those conquered
        people<B style='mso-bidi-font-weight:
normal'>,</B> and this may be why He did not wanted to weaken the force of
        this order<B style='mso-bidi-font-weight:normal'>,</B> making
        exceptions<B style='mso-bidi-font-weight:normal'>.</B> In its
        place<B style='mso-bidi-font-weight:
normal'>,</B> and to reach the same end
        <B style='mso-bidi-font-weight:normal'>(and this is my opinion)</B> He permitted
        the Hivites to use the necessary cleverness to free themselves from
        death<B style='mso-bidi-font-weight:normal'>,</B> without the Hebrews being
        able to find a way to debilitate the order of total
        extermination<B style='mso-bidi-font-weight:normal'>.</B> Being
        so<B style='mso-bidi-font-weight:normal'>,</B> the Hebrews did not have to
        modify the standard of conduct set by
        God<B style='mso-bidi-font-weight:normal'>,</B> and the Hivites were able
        to save themselves as God
        wanted<B style='mso-bidi-font-weight:
normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Something similar happens with
        those condemned to death.</B> The human being must obey God's commandments
        when it comes to the punishment of
        homicide<B style='mso-bidi-font-weight:normal'>.</B> If there is an exception
        to be made<B style='mso-bidi-font-weight:normal'>,</B> the one who makes
        it is God<B style='mso-bidi-font-weight:normal'>,</B> not
        us<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>There are Christians who despite
        the fact that God's word commands the execution of murderers, they attempt
        to amend what God has already established, by imprisoning them instead.</B>
        They
        <B style='mso-bidi-font-weight:normal'>&#147;</B>reason<B style='mso-bidi-font-weight:
normal'>&#148;</B> (if that can be called reasoning) that
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>maybe<B style='mso-bidi-font-weight:normal'>&#148;</B>
        that murderer will repent and seeks God in the
        future<B style='mso-bidi-font-weight:
normal'>,</B> which is why<B style='mso-bidi-font-weight:normal'>,</B> according
        to them<B style='mso-bidi-font-weight:normal'>,</B> it is better to let him
        live<B style='mso-bidi-font-weight:normal'>.</B>
        God<B style='mso-bidi-font-weight:normal'>,</B> who knows better than us
        what is to be done<B style='mso-bidi-font-weight:normal'>,</B> commanded
        us to execute murderers<B style='mso-bidi-font-weight:normal'>,</B> and that
        is what should be done<B style='mso-bidi-font-weight:normal'>.</B> If a murderer
        has the possibility to repent and be saved in the
        future<B style='mso-bidi-font-weight:
normal'>,</B> God will provide the circumstances to protect
        him<B style='mso-bidi-font-weight:normal'>.</B> God could give him enough
        intelligence so that his crime is not
        discovered<B style='mso-bidi-font-weight:
normal'>,</B> or to escape the actions of justice if he is
        discovered<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>But God will make that exception,
            he is the one who knows and has the right to do it; not I,</B> who neither
        has the knowledge nor the right to modify what God has
        commanded<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>If a murderer falls into the
        hands of the law it is because God has permitted or caused it to happen;
        and if he permits it, it is because he wants what he himself commands to
        be done: to <U>execute him</U>.</B> If God wanted him to be put in prison
        instead of executing him<B style='mso-bidi-font-weight:normal'>,</B> He would
        not modify his commandment<B style='mso-bidi-font-weight:normal'>,</B> but
        would cause the murderer's theft to be discovered and not the
        murder<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>The ones who go out to modify God's
            commandments to "help" God or their neighbor are very foolish.</B> If Gods
        commandments were followed and not those of the international
        mafias<B style='mso-bidi-font-weight:normal'>,</B> those of the criminal
        attorneys<B style='mso-bidi-font-weight:normal'>,</B> those of psychologists
        and mistaking Christians<B style='mso-bidi-font-weight:normal'>,</B> there
        would not be so much crime in
        countries<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>With all this said
        I don't intend to make you think that all murderers who are not discovered
        or condemned to death are to be
        saved<B style='mso-bidi-font-weight:normal'>.</B> There are many reasons
        that could cause such an
        injustice<B style='mso-bidi-font-weight:
normal'>.</B> The reasons could be merely
        human<B style='mso-bidi-font-weight:
normal'>.</B> God gives man<B style='mso-bidi-font-weight:normal'>,</B> the
        society and authorities<B style='mso-bidi-font-weight:normal'>,</B> certain
        autonomic behavior<B style='mso-bidi-font-weight:normal'>.</B> He tells them
        what they should do<B style='mso-bidi-font-weight:normal'>,</B> but does
        not force them to do it<B style='mso-bidi-font-weight:normal'>.</B> The
        opportunity will come for each to be held accountable and also for those
        responsible for His will not being
        done<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>Aside from
        this<B style='mso-bidi-font-weight:normal'>,</B> we see in verse
        20<B style='mso-bidi-font-weight:normal'>,</B> that those that God intended
        to be exterminated<B style='mso-bidi-font-weight:normal'>,</B> instead of
        giving them intelligence<B style='mso-bidi-font-weight:normal'>,</B> like
        the Hivites<B style='mso-bidi-font-weight:normal'>,</B> he hardened them
        like Pharaoh<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>To understand the dynamic and the
            justice of the hardening of Pharaoh without altering his free will, see biblical
            note # 4 in this section.</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the Index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
