<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="PlaceName"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="PlaceType"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>130</o:TotalTime>
                    <o:Created>2010-03-04T21:20:00Z</o:Created>
                    <o:LastSaved>2010-03-04T23:30:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1065</o:Words>
                    <o:Characters>6075</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>50</o:Lines>
                    <o:Paragraphs>14</o:Paragraphs>
                    <o:CharactersWithSpaces>7126</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Discussions and Christians</TITLE>
                    <LINK rel=File-List href="DiscussionsAndChristians_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>Let
  us imitate the first Christians, who discussed their doctrinal differences
  in a friendly manner<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The friendly discussion of
        doctrinal differences between brothers is correct</B>. Throughout the New
        Testament we see the apostles, especially Paul, vehemently but amicably arguing
        their doctrinal differences. <SPAN class=GramE>So not to burden themselves
  with the grave responsibility of preaching an incorrect doctrine, even though
  he believed it so.</SPAN>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Paul commands Christians to
        argue with those in error</B>. Today Christians think that in order to be
        a "good Christian" you can't discuss religion. What we shouldn't do is fight,
        insult or <SPAN class=GramE>offend</SPAN>. The true Christian doesn't do
        such things when he discusses. Paul always advised his disciples and brothers
        to discuss religion. He did it himself all the time in the synagogues, at
        the <SPAN class=SpellE>Aeropagus</SPAN>, and any place anyone would contradict
        the true doctrine. While talking about the way pastors should be, Paul said
        this:
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>"<SPAN style='font-size:8.0pt'>9
  </SPAN><I style='mso-bidi-font-style:normal'>Holding fast the faithful word
        as he hath been taught, that he may be able by sound doctrine both to exhort
        and <B style='mso-bidi-font-weight:normal'><U>to convince the
            gainsayers.</U></B> </I><SPAN style='font-size:8.0pt'>10
  </SPAN><I style='mso-bidi-font-style:normal'>For there are many
        <B style='mso-bidi-font-weight:
normal'>unruly and vain talkers and deceivers</B>,
        <SPAN class=GramE>specially</SPAN> they of the circumcision.
    </I><SPAN style='font-size:8.0pt'>11
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><U>Whose
        mouths must be stopped</U></I></B><I style='mso-bidi-font-style:normal'>,
        who subvert whole houses, teaching things which they ought not, for filthy
        lucre's sake</I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Tit
        1:9-11)
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>There are many today
        that contradict this teaching of Paul, whom they say they are imitating,
        and insist that the only thing they need to do is "talk", without using arguments
        or try convincing anyone. Paul argued with Jews and Gentiles, he used arguments,
        tried to convince others, etc.,
        <B style='mso-bidi-font-weight:
normal'>because he knew he had the truth</B>, that he had the correct doctrine.
        Because he had it, he lacked neither arguments
        <B style='mso-bidi-font-weight:
normal'>nor the help of the Holy Spirit.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The first century Christians
        argued passionately, but with love and justice, their doctrinal
        differences.</B> Therefore, it is not wrong to discuss, as some think. In
        my opinion it is all right to discuss as long as the one who discusses has
        with him the spirit of convincing the other of something he sincerely believes.
        There is nothing wrong in discussing, as long as he leaves open the door
        of understanding in his own spirit, so to allow
        <SPAN class=GramE>himself</SPAN> to be convinced, should the other person
        have good arguments.
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "<I style='mso-bidi-font-style:
normal'>When therefore Paul and Barnabas
        <B style='mso-bidi-font-weight:normal'>had <U>no small</U> dissension and
            disputation</B> with them, they determined that Paul and Barnabas, and certain
        other of them, should go up to Jerusalem unto the apostles and elders about
        this question</I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Act
        15:2)
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>What happens often
        is that people don't discuss, they fight with words, they try to offend,
        to enrage, to humiliate and mock their opponent. But a true Christian does
        not discuss like that. Those who argue in such manner are not arguing, they
        are fighting, trying to win a just cause with unworthy weapons. To wield
        your own arguments, even passionately (though never offensively), I don't
        consider wrong.
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Why many don't want to
        discuss.</B> There are several reasons why many brothers don't discuss doctrinal
        differences. <B style='mso-bidi-font-weight:normal'>The main one is lack
        of faith.</B> Some believe that God, Christ, or the Holy Spirit was who inspired
        in them the doctrine they now believe; others just pretend. However, they
        dare not discuss with those who think differently because they feel insecure.
        They have no faith that if his doctrine is divinely inspired, God, Christ,
        or the Holy Spirit is going to enlighten them with arguments and words to
        defend the truth. They have no faith in what the Lord Jesus promised in Luke
        21:15 when He said:
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN class=GramE>"<I style='mso-bidi-font-style:normal'>For
  <B style='mso-bidi-font-weight:normal'>I will give you a <U>mouth</U> and
  <U>wisdom</U></B>, which <B style='mso-bidi-font-weight:
normal'>all your adversaries shall not be able to gainsay nor
  resist</B></I>".</SPAN>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;</SPAN><SPAN
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN><SPAN
            style='mso-spacerun:yes'>&nbsp;</SPAN>(<SPAN class=SpellE>Lk</SPAN> 21:15)
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Others simply don't really
        believe the doctrine they teach</B>, but they teach it for material gain.
        They know it is false, that they can't defend it, and so they find any pretext
        to not have to discuss their doctrinal differences.
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>There are still
        those who believe what they preach, but are not sure. They know they can't
        defend their beliefs, and <B style='mso-bidi-font-weight:normal'>their puffed
        up ego stops them from discussing, if they think they can be proved wrong.</B>
        In a few words, they love themselves more than they love God and His truth.
        They rather hide behind the pretext that all they have to do is "say and
        flee". That way they think they save their egos, for no one (they think)
        will know they are wrong.
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>None of them is
        going to admit that they don't discuss because of one of these questionable
        reasons. They are going to put forth their best pretexts.
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Let's look at several passages
        where we see that the first Christians discussed their beliefs</B>. There
        are believers who hold erroneous and even heretical doctrines, which they
        absorbed at the moment of conversion, when they could not reason on the Bible
        by themselves. Even though they have no basis for them, they hold on to them
        no matter what, for fear of who knows what, if they lose it. Therefore they
        do not discuss them. The healthy habit on the validity of discusses among
        believers is best appreciated in the following passages.
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>"<SPAN style='font-size:8.0pt'>17
  </SPAN><SPAN class=GramE><I style='mso-bidi-font-style:
normal'>Therefore</I></SPAN><I style='mso-bidi-font-style:normal'>
        <B style='mso-bidi-font-weight:normal'>disputed he</B> in the synagogue with
        the Jews, and with the devout persons, and in the market daily with them
        that met with him. </I><SPAN style='font-size:8.0pt'>18
  </SPAN><I style='mso-bidi-font-style:
normal'>Then certain philosophers of the Epicureans, and of the
        <SPAN class=SpellE>Stoicks</SPAN>,
        <B style='mso-bidi-font-weight:normal'>encountered him</B>. And some said:
        What will this babbler say? Other some: He <SPAN class=SpellE>seemeth</SPAN>
        to be a setter forth of strange gods, because he preached unto them
        <SPAN class=GramE>Jesus,</SPAN> and the resurrection</I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;</SPAN><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN><SPAN
            style='mso-spacerun:yes'>&nbsp;&nbsp;</SPAN>(Act 17:17-18)
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "<I style='mso-bidi-font-style:
normal'>And <B style='mso-bidi-font-weight:normal'>he reasoned</B> in the
        synagogue every
        <SPAN class=SpellE><SPAN class=GramE>sabbath</SPAN></SPAN>, and
        <B style='mso-bidi-font-weight:normal'>persuaded</B> the Jews and the
        Greeks</I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN><SPAN
            style='mso-tab-count:5'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Act 18:4)
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "<I style='mso-bidi-font-style:
normal'>And he came to
        <st1:City w:st="on">
            <st1:place w:st="on">Ephesus</st1:place>
        </st1:City>
        ,
        and left them there, but he himself entered into the synagogue, and
        <B style='mso-bidi-font-weight:normal'>reasoned with the Jews</B></I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Act
        18:19)
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN class=GramE>"<I style='mso-bidi-font-style:normal'>For
  <B style='mso-bidi-font-weight:normal'>he mightily convinced the Jews, and
  that <SPAN class=SpellE>publickly</SPAN></B>,
  <SPAN class=SpellE>shewing</SPAN> by the scriptures that Jesus was
  Christ</I>".</SPAN>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Act
        18:28)
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "<I style='mso-bidi-font-style:
normal'>And he went into the <SPAN class=GramE>synagogue,</SPAN> and
        <SPAN class=SpellE>spake</SPAN> boldly for the space of three months,
        <B style='mso-bidi-font-weight:normal'><U>disputing</U> and
            <U>persuading</U></B> the things concerning the
        <st1:place w:st="on">
            <st1:PlaceType w:st="on">kingdom</st1:PlaceType>
            of
            <st1:PlaceName w:st="on">God</st1:PlaceName>
        </st1:place>
    </I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Act
        19:8)
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "<B style='mso-bidi-font-weight:
normal'><I style='mso-bidi-font-style:normal'>Prove all
        things</I></B><I style='mso-bidi-font-style:normal'>; hold fast that which
        is good</I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(I
        <SPAN class=SpellE>Ths</SPAN> 5:21)
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>"<SPAN style='font-size:8.0pt'>16
  </SPAN><SPAN class=GramE><I style='mso-bidi-font-style:
normal'>All</I></SPAN><I style='mso-bidi-font-style:normal'> scripture is
        given by inspiration of God, and <B style='mso-bidi-font-weight:normal'>is
            profitable for doctrine, for <U>reproof</U>, for <U>correction</U>,</B> for
        instruction in righteousness; </I><SPAN style='font-size:8.0pt'>17
  </SPAN><I style='mso-bidi-font-style:
normal'>that the man of God may be perfect,
        <B style='mso-bidi-font-weight:
normal'>thoroughly furnished unto all good works</B></I>".
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(II
        Tim 3:16-17)
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:
normal'>But sanctify the Lord God in your hearts, and
        <B style='mso-bidi-font-weight:
normal'><U>be ready</U> always to give an answer to every man that
            <SPAN class=SpellE>asketh</SPAN></B> you a reason of the hope that is in
        you with meekness and
        fear</I>"<SPAN style='mso-tab-count:7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(I Pet 3:15)
    <P>
        <o:p>&nbsp;</o:p>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>In all these passages
        we see that <B style='mso-bidi-font-weight:normal'>it was the custom of
        <U>all</U> the apostles to discuss religion with believers and non-believers
        as well</B>. I don't know why so many brothers now feel such disgust for
        the friendly discussion of our beliefs, except the fear of having their ego
        hurt if their arguments are wrong. There are, however, those whom their sect
        has forbidden them to discuss, so the errors and heresies they sustain are
        not brought to light.
    <P align=center style='text-align:center'>
        "<B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:16.0pt'>Discussion is like light, it bothers
  only those who prefer darkness</SPAN></B>"
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the index</A>
            <o:p></o:p>
        </B>
</DIV>
</BODY>
</HTML>
