<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="ElishaDidNotLie_files/filelist.xml">
    <title>Elisha Didn't lie telling Benhadad he was not to die from his illness</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>97</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>2</u1:Revision>
  <u1:TotalTime>8</u1:TotalTime>
  <u1:Created>2006-11-27T16:25:00Z</u1:Created>
  <u1:LastSaved>2006-11-27T16:33:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>345</u1:Words>
  <u1:Characters>1969</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>16</u1:Lines>
  <u1:Paragraphs>4</u1:Paragraphs>
  <u1:CharactersWithSpaces>2310</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>97</u2:Zoom>
  <u2:SpellingState>Clean</u2:SpellingState>
  <u2:GrammarState>Clean</u2:GrammarState>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="7170"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><span
            style='font-size:18.0pt'>ELISHA DIDN'T LIE BY TELLING KING BENHADAD HE WOULDN'T
DIE FROM HIS ILLNESS<u8:p></u8:p></span></b></p>

    <p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>I
        have heard from others (Sc&iacute;o) the explanation of this verse and to me it
        seems correct. Benhadad sends Hazael to consult Elisha on whether or not he would
        heal from his illness. Elisha, a prophet of God, replied yes. He told him he
        would heal because he knew he would heal. He was not to die from this illness,
        even though Benhadad felt extremely sick. Nonetheless, God would then reveal to
        Elisha that King Benhadad would die, but not from the illness. Soon after his
        servant, Hazael, who would succeed him on the throne, would assassinate him. </p>

    <p>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&quot;<i
            style='mso-bidi-font-style:normal'>And Elisha said unto him: Go, say unto him:
        Thou mayest certainly recover; howbeit the LORD hath showed me that he shall
        surely die</i>.&quot;<span
            style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
            style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(
        II K 8: 10 ) </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt'>
        <u8:p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&quot;<i
                style='mso-bidi-font-style:normal'>And it came to pass in the morrow, that he
            took a thick cloth and dipped it in water, and spread it on his face, so that
            he died; and Hazael reigned in his stead</i>.&quot; <span style='mso-tab-count:
5'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(
            II R 8: 15 )
    </p>

    <p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>By
        what is said in verse 15, we can infer that Hazael, blinded by his ambition and
        awoken by what the Prophet Elisha had told him, chose not to wait for his time
        to come. Instead, he assassinated his friend, the king. Hazael did not want to
        leave any marks on the king so he suffocated him; that way his death would be
        attributed to his illness. He took a thick piece of cloth (like a blanket) and
        soaked it in water, so no air could pass through it. He then applied it on the
        face of the sick man, until he suffocated to death. </p>

    <p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>In
        a similar form, denaturalized mothers suffocate their children by applying a
        pillow to their face. In that epoch, autopsies did not exist. The assassination
        could have inadvertently passed through the court system. The death of this
        sick man was expected nonetheless. </p>

    <p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Therefore,
        Elisha did not lie to Benhadad. He sent his servant to ask, &quot;Can I be
        healed from this illness?&quot; And that is the question Elisha answered. He
        didn't tell him that he was going to be assassinated, that was not the
        question. </p>

    <p><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
        is interesting to notice how the human being reacts when a certain job of
        dignity is given. He could have waited for him to die, but instead he
        &quot;helps him&quot; die. Something similar happened to Moses when he went to
        make justice for the Hebrews when he was 40 years old. </p>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><a
            href="html/en/English.html">Back to the index
        <u8:p></u8:p>
    </a></b></p>

</div>

</body>

</html>
