<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>Fearing enemies precludes divine protection</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <FONT size="5"><B> FEARING ENEMIES PRECLUDES DIVINE PROTECTION</B></FONT>
<P>
    &nbsp;
<P>
    &nbsp;&nbsp;&nbsp; If we fear an enemy, God will break us to pieces, or will
    let them brake us. So was the advice by God to Jeremiah, the prophet. He
    who fears a spiritual or flesh enemy, does not have faith in God nor in Christ.
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>Thou therefore gird up thy loins, and arise, and speak
    unto them all that I command thee; be not dismayed at their faces, <B> lest
        I confound thee before them</B></I>." ( Jer 1: 17 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>There are many occasions in which our spiritual enemies
    obtain victory over us by simply instilling fear in our spirit, and making
    us doubt divine protection.</B> In many cases our spiritual enemies, knowing
    that they are defeated, and knowing that they cannot do anything against
    us, bring another method into play: to make us doubt and fear. <B> This is
    how we ourselves drop our duties, for fear of something that cannot happen.</B>
    Even though they cannot do anything against us, and though they cannot prevent
    us from doing our job, they make us not abandon our plan or job, and thus
    obtain a victory they really shouldn't have obtained. By using this slyness
    they obtain the same success as if they had the power or authority to prevent
    us from doing it.
<P>
    &nbsp;&nbsp;&nbsp; These kinds of situations are similar to as if God would
    order us to walk along a wide highway, where He would guarantee that nothing
    would happen to us; and that our enemies wouldn't be on that road, even though
    it seemed possible to us. The promise is that our enemies, who are on both
    sides of the highway, cannot get closer than 200 feet from the road, and
    so they can never use their swords against us. Nevertheless, there are several
    other roads that connect with this one, to which our enemies can get access
    easily, and attack us; but on the one that God put us on, it is absolutely
    impossible for them. As they are malignly shrewd, they know that they have
    to do one of two things: a) convince us not to keep walking, or b) convince
    us that it is better for us to take any of the secondary roads.
<P>
    &nbsp;&nbsp;&nbsp; <B>As we walk along the main highway we look far away,
    near the horizon, to the point where everything seems to merge,</B> and we
    see as if our enemies were real close to our highway, even on it. Now, doubt
    takes our hearts. Seeing our enemies so close to the road, we start thinking
    that they could harm us if we keep walking. Then, if we lack faith, we will
    stop walking, and our spiritual enemies will obtain a victory that they
    shouldn't.
<P>
    &nbsp;&nbsp;&nbsp; <B>If we have faith and keep walking,</B> trusting in
    God's word, as we get near the point where everything seems to merge, it
    will be then obvious that our enemies are at both sides of the road, but
    200 feet away, so that they can't use their swords, the only weapons they
    have. And sure enough, we pass harmlessly through the zone that we thought
    was terribly dangerous. But really, all the "danger" was in our minds, in
    reality everything was safe as God promised us.
<P>
    &nbsp;&nbsp;&nbsp; <B>In other instances, worse things occur to us.</B> When
    we see our enemies far, near the horizon, where everything seems to merge
    close to the road, instead of stopping, we take any of the secondary roads
    that join the main highway. We do so, because as we look far away into these
    secondary roads, we do not see any enemies. We take the secondary road trusting
    our own intelligence, and when we have walked long enough that we cannot
    escape back, then our enemies get out of their hiding places and attack us.
<P>
    &nbsp;&nbsp;&nbsp; If we would have kept walking on the road God told us,
    which was the only one that our enemies couldn't access, nothing would have
    happened to us. They are very shrewd. Along the main highway, where God promised
    protection, our enemies show themselves in order to instill fear in us; but
    on the secondary roads, where they obtain access and can harm us, they hide
    themselves, to not frighten us.
<P>
    &nbsp;&nbsp;&nbsp; This is exactly what occurs with jobs God wants us to
    do, and with His divine commandments. We think that we will be better off
    if we change His commandments. In doing so we discard <B> the main highway</B>,
    where God has promised to protect us, in order to walk along a secondary
    road, where our spiritual enemies can destroy us.
<P>
    &nbsp;&nbsp;&nbsp; <B><U>Never change nor "improve" God's
    commandments</U></B>.
<P align="center">
    <B><A HREF="html/en/English.html"> Back to the index</A></B>
<P>
</BODY>
</HTML>
