<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="country-region"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>7</o:TotalTime>
                    <o:Created>2012-01-27T03:01:00Z</o:Created>
                    <o:LastSaved>2012-01-27T03:08:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>415</o:Words>
                    <o:Characters>2370</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>19</o:Lines>
                    <o:Paragraphs>5</o:Paragraphs>
                    <o:CharactersWithSpaces>2780</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Fidelity in adversity, and joy</TITLE>
                    <LINK rel=File-List href="FidelityAdversityJoy_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>Fidelity
  in adversity, and joy<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>It is
        easy for anyone to be faithful to the one who filled him with blessings and
        protection<B style='mso-bidi-font-weight:normal'>.</B>
        Furthermore<B style='mso-bidi-font-weight:normal'>,</B> that was the reason
        Satan gave in order to explain<B style='mso-bidi-font-weight:normal'>,</B>
        according to his reasoning<B style='mso-bidi-font-weight:normal'>,</B> the
        fidelity of Job (Job
        1<B style='mso-bidi-font-weight:normal'>:</B>9-11)<B style='mso-bidi-font-weight:
normal'>.</B> However<B style='mso-bidi-font-weight:normal'>,</B> it requires
        immense fidelity towards God<B style='mso-bidi-font-weight:normal'>,</B>
        to obey Him when obeying delivers
        setbacks<B style='mso-bidi-font-weight:normal'>,</B> injustice and even
        bitterness<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Job as
        much as Joseph<B style='mso-bidi-font-weight:normal'>,</B> the son of
        Jacob<B style='mso-bidi-font-weight:normal'>,</B> was the type of men that
        were faithful even though their fidelity would cause inexplicable
        bitterness<B style='mso-bidi-font-weight:normal'>.</B> In the particular
        case of Joseph<B style='mso-bidi-font-weight:normal'>,</B> it is important
        to note that <B style='mso-bidi-font-weight:normal'>Satan tried to annul
        the future preservation of the sons of Jacob, who God was going to bring
        to
        <st1:place w:st="on">
            <st1:country-region w:st="on">Egypt</st1:country-region>
        </st1:place>
        ,
        through the simple process of morally invalidating the key ingredient God
        was going to utilize: Joseph.</B>
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.5in;margin-bottom:0in;margin-left:.5in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'>&#147;</B><SPAN style='font-size:8.0pt'>7
  </SPAN><I style='mso-bidi-font-style:
normal'>And it came to pass after these
        <SPAN class=GramE>things<B style='mso-bidi-font-weight:normal'>,</B>
  that</SPAN> his master's wife cast her eyes upon
        Joseph<B style='mso-bidi-font-weight:normal'>;</B> and she
        said<B style='mso-bidi-font-weight:normal'>:</B> Lie with
        me<B style='mso-bidi-font-weight:
normal'>.</B> </I><SPAN style='font-size:8.0pt'>8
  </SPAN><I style='mso-bidi-font-style:
normal'>But he refused<B style='mso-bidi-font-weight:normal'>,</B> and said
        unto his master's wife<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>Behold, my master
            <SPAN class=SpellE>wotteth</SPAN> not what is with me in the house, and he
            hath committed all that he hath to my hand.</B>
    </I><SPAN style='font-size:8.0pt'>9
  </SPAN><SPAN class=GramE><I style='mso-bidi-font-style:normal'>There</I></SPAN><I
            style='mso-bidi-font-style:
normal'> is none greater in this house than
        I<B style='mso-bidi-font-weight:
normal'>;</B> neither hath he kept back anything from me but
        thee<B style='mso-bidi-font-weight:normal'>,</B> because thou art his
        wife<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>how then can I do this great wickedness,
            and <U>sin against
                God</U></B></I><B style='mso-bidi-font-weight:normal'>?&#148;</B> (Gen
        39<B style='mso-bidi-font-weight:
normal'>:</B>7-9)
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Because
        of his fidelity towards God<B style='mso-bidi-font-weight:normal'>,</B> Joseph
        suffered the slander of the wife of the guards' captain and ended up in
        prison<B style='mso-bidi-font-weight:normal'>.</B> Even in
        prison<B style='mso-bidi-font-weight:
normal'>,</B> God blessed him and he became the supervisor of all the
        prisoners<B style='mso-bidi-font-weight:normal'>.</B> In
        addition<B style='mso-bidi-font-weight:
normal'>,</B> he left prison to the joy of becoming the chief of all of
        <st1:place w:st="on">
            <st1:country-region w:st="on">Egypt</st1:country-region>
        </st1:place>
        <B
                style='mso-bidi-font-weight:normal'>,</B> superseded only by Pharaoh
        himself<B style='mso-bidi-font-weight:normal'>.</B> Above
        all<B style='mso-bidi-font-weight:
normal'>,</B> which is most
        important<B style='mso-bidi-font-weight:normal'>,</B> he experienced the
        joy of knowing that God had used him to save his family and the people who
        would bring forth the Messiah<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Perhaps<B style='mso-bidi-font-weight:normal'>,</B> prior to a man
        receiving a great commission or divine
        charge<B style='mso-bidi-font-weight:normal'>,</B>
        Satan<B style='mso-bidi-font-weight:normal'>,</B> upon suspecting or knowing
        God's plans for that person<B style='mso-bidi-font-weight:normal'>,</B> will
        try to sift him like wheat<B style='mso-bidi-font-weight:normal'>,</B> like
        he did with the Apostles<B style='mso-bidi-font-weight:normal'>,</B> according
        to Luke
        22<B style='mso-bidi-font-weight:normal'>:</B>31<B style='mso-bidi-font-weight:
normal'>.</B> From this<B style='mso-bidi-font-weight:normal'>,</B> we can
        deduce that this abominable being requested direct intervention in the lives
        of the Apostles in order to cause them
        sullenness<B style='mso-bidi-font-weight:
normal'>.</B> We can rightfully say that nowadays he or his spiritual henchmen
        can do the same directly or through human beings which are
        fitting<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>In times
        prior to the crucifixion<B style='mso-bidi-font-weight:normal'>,</B> since
        these abominable beings had direct access to
        God<B style='mso-bidi-font-weight:
normal'>,</B> they asked for
        permission<B style='mso-bidi-font-weight:normal'>,</B> because they could
        do nothing on their own
        volition<B style='mso-bidi-font-weight:
normal'>.</B> Nowadays<B style='mso-bidi-font-weight:normal'>,</B> since
        they were cast from heaven and do not have direct contact with
        God<B style='mso-bidi-font-weight:normal'>,</B> they can only utilize the
        implicit right granted to all
        creatures<B style='mso-bidi-font-weight:normal'>,</B> since the beginning
        of time<B style='mso-bidi-font-weight:normal'>,</B> and which is to propose
        their ideas to others<B style='mso-bidi-font-weight:normal'>.</B> They cannot
        go beyond the laws which God has established concerning their temptation
        of humans<B style='mso-bidi-font-weight:normal'>.</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><A HREF="html/en/English.html">Back to the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
