<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:st1="urn:schemas-microsoft-com:office:smarttags"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="FloodDelugeUniversal_files/filelist.xml">
    <title>The Deluge was not local but Universal</title>
    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                    name="place"/>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>150</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]-->
    <u1:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags" name="place"/><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>4</u1:Revision>
  <u1:TotalTime>47</u1:TotalTime>
  <u1:Created>2007-05-31T15:42:00Z</u1:Created>
  <u1:LastSaved>2007-05-31T16:29:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>459</u1:Words>
  <u1:Characters>2621</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>21</u1:Lines>
  <u1:Paragraphs>6</u1:Paragraphs>
  <u1:CharactersWithSpaces>3074</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:SpellingState>Clean</u2:SpellingState>
  <u2:GrammarState>Clean</u2:GrammarState>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u1:shapedefaults u4:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u1:shapelayout u5:ext="edit">
  <u1:idmap u5:ext="edit" data="1"/>
 </u1:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center;tab-stops:.25in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:18.0pt'>THE DELUGE WAS NOT LOCAL BUT UNIVERSAL<u1:p></u1:p></span></b>
    </p>

    <p style='tab-stops:.25in'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>There are some Bible believers</b> that
        have erroneous hypothesis that the Deluge was a local or regional phenomenon
        and not universal. That hypothesis does not make sense<b style='mso-bidi-font-weight:
normal'>,</b> for the passage that I show a few lines down clearly states that <b
                style='mso-bidi-font-weight:normal'>the waters prevailed over the land 150
            days. If the Deluge had been a local flood the waters would have run into the
            ocean in less than 150 days,</b> and under no circumstance would have reached a
        height of 15 cubits (7.5 meters) above the mountains. Also<b style='mso-bidi-font-weight:
normal'>,</b> <b style='mso-bidi-font-weight:normal'>if there had been other
            mountains not covered by water, people would have gone to them</b> to save
        themselves<b style='mso-bidi-font-weight:normal'>,</b> and Noah's family would
        not have been the only one to have survived<b style='mso-bidi-font-weight:normal'>,</b>
        but many more. </p>

    <p style='tab-stops:.25in'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Similarly<b
            style='mso-bidi-font-weight:normal'>,</b> there has been and continue to be
        multiple local floods<b style='mso-bidi-font-weight:normal'>,</b> that is to
        say<b style='mso-bidi-font-weight:normal'>,</b> local deluges. <b
                style='mso-bidi-font-weight:normal'>If that one had been a local flood, then
            God would not have promised there would be no more floods (local),</b> because
        there has been. It is logical to think that God promised that there would be no
        more Deluges<b style='mso-bidi-font-weight:normal'>,</b> because what He
        referred to was a universal Deluge that<b style='mso-bidi-font-weight:normal'>,</b>
        effectively<b style='mso-bidi-font-weight:normal'>,</b> there has never been.
        God promised that he would never again destroy all flesh with flood waters and
        established the rainbow as a sign. If the Deluge had been local<b
                style='mso-bidi-font-weight:normal'>,</b> and not universal<b style='mso-bidi-font-weight:
normal'>,</b> then that divine promise made in Genesis 9<b style='mso-bidi-font-weight:
normal'>:</b>11 would not have been kept<b style='mso-bidi-font-weight:normal'>,</b>
        for there has been many local floods and deluges.
        <o:p></o:p>
    </p>

    <p style='tab-stops:.25in'>
        <u1:p>&nbsp;</u1:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>&#8220;</b><i style='mso-bidi-font-style:normal'>And the waters
        prevailed upon the earth <b style='mso-bidi-font-weight:normal'>an hundred and
            f&iacute;fty days</b></i>.<b style='mso-bidi-font-weight:normal'>&#8221;</b><span
            style='mso-spacerun:yes'>&nbsp;&nbsp; </span>(Gn 7<b style='mso-bidi-font-weight:
normal'>:</b>24) </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'><span
            style='mso-spacerun:yes'>&nbsp; </span>
        <o:p></o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
        <u1:p>&nbsp;</u1:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>&#8220;</b><i style='mso-bidi-font-style:normal'>And I will establish
        my covenant with you<b style='mso-bidi-font-weight:normal'>;</b> <b
                style='mso-bidi-font-weight:normal'>neither shall <u>all flesh be cut off</u>
            anymore by the waters of a flood;</b> neither shall there anymore be a flood to
        destroy the earth</i>.<b style='mso-bidi-font-weight:normal'>&#8221;</b></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'><span
            style='mso-tab-count:9'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
            style='mso-spacerun:yes'>&nbsp;</span>(Gn 9<b style='mso-bidi-font-weight:normal'>:</b>11)
        <o:p></o:p>
    </p>

    <p style='tab-stops:.25in'>
        <u1:p>&nbsp;</u1:p>
    </p>

    <p style='tab-stops:.25in'><span style='mso-spacerun:yes'>&nbsp;&nbsp;
</span>Besides<b style='mso-bidi-font-weight:normal'>,</b> it is logical to
        think that in the beginning of Creation<b style='mso-bidi-font-weight:normal'>,</b>
        when human beings lived more than 900 years<b style='mso-bidi-font-weight:normal'>,</b>
        the multiplication of man was such that the inhabitants of the planet were
        counted in thousands of millions. Nowadays we have six thousand million of
        inhabitants on the planet<b style='mso-bidi-font-weight:normal'>,</b> or possibly
        more. To get such affirmation over the tremendous multiplication of man in the
        beginning of Creation<b style='mso-bidi-font-weight:normal'>,</b> see article
        #32<b style='mso-bidi-font-weight:normal'>,</b> of this same series<b
                style='mso-bidi-font-weight:normal'>,</b> titled<b style='mso-bidi-font-weight:
normal'>:</b> <b style='mso-bidi-font-weight:normal'>&#8220;</b>Who could Have
        Killed Cain<b style='mso-bidi-font-weight:normal'>?&#8221;</b> It is also
        reasonable to think<b style='mso-bidi-font-weight:normal'>,</b> being so many
        millions<b style='mso-bidi-font-weight:normal'>;</b> man would inhabit the
        entire planet. Therefore<b style='mso-bidi-font-weight:normal'>,</b> if the
        Deluge had not been universal<b style='mso-bidi-font-weight:normal'>,</b>
        hundreds of millions would have survived. However in the time of Abraham the
        population was scarce<b style='mso-bidi-font-weight:normal'>,</b> and in the
        time of the Roman Empire the population was much smaller than today<b
                style='mso-bidi-font-weight:normal'>,</b> for the knowledgeable in demographics
        estimate that the
        <st1:place u6:st="on">
            <st1:place w:st="on">Roman Empire</st1:place>
        </st1:place>
        did not reach 100 million. From there it is deduced that there did not remain
        those hundreds of millions that there would have remained if the Deluge had not
        been universal.
    </p>

    <p style='tab-stops:.25in'><span style='mso-spacerun:yes'>&nbsp;&nbsp;
</span>Besides<b style='mso-bidi-font-weight:normal'>,</b> <b style='mso-bidi-font-weight:
normal'>after de Deluge, God said that He would not end all flesh with flood
        waters anymore, which indicates that <u>all</u> flesh ended</b>. And if all
        flesh ended<b style='mso-bidi-font-weight:normal'>,</b> the Deluge have had
        gone to every place there was people<b style='mso-bidi-font-weight:normal'>,</b>
        and there was people all over Earth<b style='mso-bidi-font-weight:normal'>,</b>
        because thousands of millions cannot concentrate in one region. </p>

    <p align=center style='text-align:center;tab-stops:.25in'><b style='mso-bidi-font-weight:
normal'><a href="html/en/English.html">Back to the index
        <u1:p></u1:p>
    </a></b></p>

</div>

</body>

</html>
