<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Jonah was clean when he arrived at Niniveh</title></head>
<body>

<p class="BodyText31" style="text-align: center;" align="center"><span
        style="font-size: 18pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">Jonah did <u>not</u> arrive at Nineveh immediately
after being vomited from the mouth of the </span><b style=""><span style="font-size: 18pt;"
                                                                   lang="EN-US">whale</span></b><span
        style="font-size: 18pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US"><o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>One of the stories of fantasy that do not
have a Biblical basis is the one I have heard more than one pastor relate<b>.</b>
I have heard them say that when Jonah arrived at Nineveh<b>,</b> he arrived
tattered with his skin discolored for being partially digested in the stomach
of the whale<b>,</b> his hair dripping slobber and with a deplorable and
terrifying aspect<b>,</b> a reason by which<b>,</b> <b>according to them,</b>
impressed the Ninevites so very much<b>.</b> This story is an excess of fantasy
without the least base in Bible or logics<b>,</b> as I will explain<b>.</b>
This story is much the same as the story about the High Priests who had to
enter the Most Holy Place with a rope tied to his ankle<b>.</b> These are all <b>legends
invented by people who want to have something &#8220;new to tell&#8221;,</b> which legends
are believed by many good brothers<b>,</b> and they repeat them without
analyzing what was said to them<b>.</b> There are those who think that the
Bible not only must be read<b>,</b> but also meditate it<b>.</b> That is fine<b>,</b>
but it seems that those fantasies are the product of people who read very
little the Bible<b>,</b> but they &#8220;meditate&#8221; too much<b>.</b> They should read
it more and &#8220;meditate&#8221; it less<b>.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">Jonah<b>,</b>
in order to flee from God<b>,</b> went to the port of Joppa<b>,</b> </span><span style="font-size: 12pt;" lang="EN-US">which is found on
the coast of Israel<b>,</b> in the Mediterranean Sea<b>,</b> next to Tel Aviv
and is currently named Jaffa<b>.</b> It was there that he boarded the ship<b>;</b>
it was in that Mediterranean Sea that the whale swallowed him<b>;</b> and it
was on the coast of that sea that the whale vomited him<b>.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">But Jonah rose up to flee unto Tarshish from the
presence of the LORD</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> and </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">went
down to Joppa<b>;</b></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and he
found a ship going to Tarshish</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> so he paid the fare thereof</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and went
down into it</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> to go with them unto Tarshish from the presence of
the LORD</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><o:p></o:p></span>
</p>

<p class="MsoNormal" style=""><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Jonah 1</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                               lang="EN-US">:</span></b><span style="font-size: 12pt;" lang="EN-US">3)<o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">Whoever
checks a map of that region </span><span style="font-size: 12pt;" lang="EN-US">would realize that Jonah<b>,</b> in order to go to
Nineveh<b>,</b> could not go into the belly of a whale, because Mediterranean
Sea has no connection with Nineveh. He had to reach first the Mediterranean
coast, and from there head east<b>,</b> cross the nation of Israel and walk
more than 500 miles (800 Kms<b>.</b>) in order to reach Nineveh<b>.</b><span style="">&nbsp; </span><o:p></o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>It is logical therefore<b>,</b> that he
bathed<b>,</b> dressed and rested in Israel and that it would take him a while
to walk the 500 miles<b>.</b> At the moment in which Jonah reached Nineveh<b>,</b>
the slobber on his hair and the supposed lesions on his skin<b>,</b> if he
truly had them<b>,</b> were completely healed<b>.</b> This means that when Jonah
arrived at Nineveh<b>,</b> he was a normal man in which no hints of the tragic
episode he had passed through were visible<b>.</b> I don&#8217;t know why such
nonsenses are invented<b>.</b> Better to say that I do know, it is for having
something new to say, who knows with what purpose. </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">It is valid to use reasoning to our interpretations<b>,</b> </span><span
        style="font-size: 12pt;" lang="EN-US">but not invent
nonsenses and present them as if they were pure Biblical interpretation<b>.</b>
<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 12pt;" lang="EN-US"><a
        href="html/en/English.html">Back to the index</a><o:p></o:p></span></p>

<p class="MsoNormal"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
</body>
</html>