<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>4</o:Revision>
                    <o:TotalTime>10</o:TotalTime>
                    <o:Created>2010-07-28T18:39:00Z</o:Created>
                    <o:LastSaved>2010-07-28T18:49:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>578</o:Words>
                    <o:Characters>3299</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>27</o:Lines>
                    <o:Paragraphs>7</o:Paragraphs>
                    <o:CharactersWithSpaces>3870</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>What do we understand in the Bible by the word "law"?</TITLE>
                    <LINK rel=File-List href="LawWhatMeansWord_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:18.0pt'>What do we understand in the Bible
  by the word "law"?<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>In biblical
        conversations the word
        <B style='mso-bidi-font-weight:normal'>&#147;</B>law<B style='mso-bidi-font-weight:normal'>&#148;</B>
        is referred to as God's laws<B style='mso-bidi-font-weight:normal'>.</B>
        Let's remember that Moses did not originate the
        Law<B style='mso-bidi-font-weight:normal'>,</B> neither did Noah or any of
        the prophets<B style='mso-bidi-font-weight:normal'>,</B> but God
        personally<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>In the Bible there are two
        main groups of laws. There are <U>ritual laws</U>, and <U>behavior
            laws</U>.</B> The ritual laws<B style='mso-bidi-font-weight:normal'>,</B>
        as indicated by their name<B style='mso-bidi-font-weight:normal'>,</B> referred
        to the rituals<B style='mso-bidi-font-weight:normal'>.</B> It referred to
        the sacrifices<B style='mso-bidi-font-weight:normal'>,</B> and the ceremonies
        that served as a prefigure to several
        events<B style='mso-bidi-font-weight:normal'>:</B> Jesus'
        mission<B style='mso-bidi-font-weight:normal'>,</B> when He came to die for
        us<B style='mso-bidi-font-weight:normal'>,</B> also they referred to the
        coming of the Holy Spirit<B style='mso-bidi-font-weight:normal'>,</B> the
        Second Coming<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:
normal'>..</B> The main ritual laws were those that referred to the
        <st1:place w:st="on">
            <st1:City w:st="on">Temple</st1:City>
        </st1:place>
        <B
                style='mso-bidi-font-weight:
normal'>,</B> and the sacrifices that would take place
        there<B style='mso-bidi-font-weight:normal'>.</B> Other ritual laws included
        circumcision<B style='mso-bidi-font-weight:normal'>,</B> the washing of the
        body so not to contaminate the Earthly
        sanctuary<B style='mso-bidi-font-weight:
normal'>,</B> which was a simile of the heavenly
        sanctuary<B style='mso-bidi-font-weight:
normal'>,</B> the presentation of the human first
        born<B style='mso-bidi-font-weight:
normal'>,</B> the sacrifice of the animal first
        born<B style='mso-bidi-font-weight:
normal'>,</B>
        etc<SPAN class=GramE><B style='mso-bidi-font-weight:normal'>..</B></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Behavioral laws</B> are those
        that God established for human beings to know how they were to behave towards
        God and their neighbor<B style='mso-bidi-font-weight:normal'>.</B> Examples
        of these are the Ten Commandments<B style='mso-bidi-font-weight:normal'>,</B>
        the laws that teach us how to act with
        foreigners<B style='mso-bidi-font-weight:normal'>,</B> with our
        enemies<B style='mso-bidi-font-weight:normal'>,</B> with the widows and the
        orphans<B style='mso-bidi-font-weight:normal'>,</B> with the
        poor<B style='mso-bidi-font-weight:normal'>,</B> with those things others
        have lost and we find<B style='mso-bidi-font-weight:normal'>,</B> what if
        we injure others without
        intention<B style='mso-bidi-font-weight:normal'>,</B> or out of
        irresponsibility<B style='mso-bidi-font-weight:normal'>,</B>
        etc<SPAN class=GramE><B style='mso-bidi-font-weight:normal'>..</B></SPAN>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'>What does it mean to "be under the Law"?
            <o:p></o:p>
        </B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>The
        phrase<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>being under the
        Law<B style='mso-bidi-font-weight:normal'>&#148;</B> is one of those that
        act as a wild card<B style='mso-bidi-font-weight:normal'>.</B> Most of the
        time nobody defines them<B style='mso-bidi-font-weight:normal'>,</B> they
        only pronounce them<B style='mso-bidi-font-weight:normal'>.</B> It is regularly
        applied to those persons that consider that the sins that in the Old Testament
        were described as forbidden are also forbidden for
        Christians<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>However<B style='mso-bidi-font-weight:normal'>,</B> in the
        Bible<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>&#147;</B>not being
        under Law<B style='mso-bidi-font-weight:normal'>&#148;</B> generally means
        that <B style='mso-bidi-font-weight:normal'>to be saved we don't have to
        comply with circumcision, lamb sacrifices or other rituals.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>But there are Christians who
        erroneously</B> believe that this phrase means that Christians don't have
        to obey God's commandments<B style='mso-bidi-font-weight:normal'>.</B> Is
        that true<B style='mso-bidi-font-weight:normal'>?</B> Does that mean that
        all of us are not under the behavior laws that God
        established<B style='mso-bidi-font-weight:
normal'>?</B> <B style='mso-bidi-font-weight:normal'>Does that mean that
        we can now lie, worship images, commit adultery, steal, kill, consult the
        dead, etc.?</B> Of course not<B style='mso-bidi-font-weight:normal'>!</B>
        Then<B style='mso-bidi-font-weight:normal'>,</B> why do they say we are not
        under the Law<B style='mso-bidi-font-weight:normal'>?</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>If by saying that we are not
        under the Law, they refer to not being under the ritual <SPAN class=GramE>law,
  that</SPAN> is correct.</B> In other
        words<B style='mso-bidi-font-weight:normal'>,</B> if it means that to be
        saved we don't have to be
        circumcised<B style='mso-bidi-font-weight:
normal'>,</B> or sacrifice
        animals<B style='mso-bidi-font-weight:normal'>,</B> or any of the
        <SPAN class=GramE>sort</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
        then the phrase is correctly used<B style='mso-bidi-font-weight:normal'>.</B>
        But if they give it the meaning that we can do all kind of sin without being
        accountable for it<B style='mso-bidi-font-weight:normal'>,</B> then it is
        a terrible lie<B style='mso-bidi-font-weight:normal'>,</B> a horrible and
        satanic heresy<B style='mso-bidi-font-weight:normal'>.</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'>What does "not being under the Law" mean?
            <o:p></o:p>
        </B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>It is
        very common in conversations between brothers as they talk about God's
        laws<B style='mso-bidi-font-weight:normal'>,</B> to hear some say
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>we are not under the
        Law<B style='mso-bidi-font-weight:normal'>&#148;.</B> That depends which
        laws he is talking about<B style='mso-bidi-font-weight:normal'>,</B> as I
        mentioned earlier<B style='mso-bidi-font-weight:normal'>.</B> If he is talking
        about rituals<B style='mso-bidi-font-weight:normal'>,</B> he is
        right<B style='mso-bidi-font-weight:normal'>.</B> If he is talking about
        behavioral laws<B style='mso-bidi-font-weight:normal'>,</B> he is dreadfully
        mistaken<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>Having accepted Christ is not a "letter
            of <SPAN class=SpellE>marque</SPAN>" to do as we wish and continue thinking
            we are saved.</B> (Letter of <SPAN class=SpellE>marque</SPAN> was a government
        license for practicing piracy against enemy ships)
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>I personally
        know a sad case about a man who claims that because we are not under the
        Law<B style='mso-bidi-font-weight:normal'>,</B> a Christian can sleep with
        somebody else's wife<B style='mso-bidi-font-weight:normal'>,</B>
        <SPAN class=GramE>be</SPAN> a
        homosexual<B style='mso-bidi-font-weight:normal'>,</B>
        swindle<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:
normal'>.,</B> and continue being
        saved<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>He considers
        that once a person comes to
        Christ<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'><U>he cannot
        sin</U>,</B> but not because he avoids sin with divine
        help<B style='mso-bidi-font-weight:
normal'>,</B> but according to
        him<B style='mso-bidi-font-weight:normal'>,</B> when a non-Christian sleeps
        with his neighbor's wife<B style='mso-bidi-font-weight:
normal'>,</B> he commits adultery and because or this sin goes to
        Hell<B style='mso-bidi-font-weight:normal'>,</B> but when a Christian sleeps
        with his neighbor's wife<B style='mso-bidi-font-weight:normal'>,</B> it is
        not adultery<B style='mso-bidi-font-weight:normal'>,</B> because he is not
        under the Law as is the
        non-Christian<B style='mso-bidi-font-weight:normal'>.</B>
        Dreadful<B style='mso-bidi-font-weight:normal'>!!</B>
        Disgusting<B style='mso-bidi-font-weight:
normal'>!!</B> Satanic<B style='mso-bidi-font-weight:normal'>!!</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><A HREF="html/en/English.html">Back to the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
