<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>11</o:TotalTime>
                    <o:Created>2010-03-31T00:46:00Z</o:Created>
                    <o:LastSaved>2010-03-31T00:58:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>918</o:Words>
                    <o:Characters>5233</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>43</o:Lines>
                    <o:Paragraphs>12</o:Paragraphs>
                    <o:CharactersWithSpaces>6139</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>140</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="3074"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>What means to be "legalist"</TITLE>
                    <LINK rel=File-List href="LegalistWhatMeans_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>What
  means to be "<SPAN class=GramE>legalist</SPAN>"<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Why is it important to define
        and clear up the meaning of phrases, words, and concepts?</B> Many use some
        phrases like a wild card or a joker in a deck of
        cards<B style='mso-bidi-font-weight:normal'>.</B> In the game of Poker the
        wild card is used to represent any card the player
        wants<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>In
        conversations<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>wild
        card<B style='mso-bidi-font-weight:normal'>&#148;</B> words and phrases are
        used by some to give them the meaning that is convenient at that
        moment<B style='mso-bidi-font-weight:normal'>.</B>
        Nevertheless<B style='mso-bidi-font-weight:
normal'>,</B> they change their meaning when used another
        time<B style='mso-bidi-font-weight:normal'>,</B> when they find themselves
        cornered dialectically<B style='mso-bidi-font-weight:normal'>.</B> They are
        not honest in their debate<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>In some
        cases<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>even those who discuss honestly
        </B>don't have in their minds a clear meaning of many of the words and phrases
        they use<B style='mso-bidi-font-weight:normal'>.</B> For
        them<B style='mso-bidi-font-weight:normal'>,</B> these phrases represent
        cloudy concepts that those who use them refuse to define
        clearly<B style='mso-bidi-font-weight:normal'>,</B> or to answer questions
        about their meaning<B style='mso-bidi-font-weight:normal'>.</B> Some do it
        because they expect you to accept this cloudy concept they have in their
        minds<B style='mso-bidi-font-weight:normal'>,</B> in the same cloudy way
        they have it<B style='mso-bidi-font-weight:normal'>.</B> Others do it because
        they don't want to clear up something that can be negative to the thesis
        they keep<B style='mso-bidi-font-weight:normal'>.</B> Some of these phrases
        are<B style='mso-bidi-font-weight:normal'>:</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>being in the
        Spirit<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>being
        legalist<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>being under the
        Law<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>being under
        Grace<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>love is the fulfillment of the
        Law<B style='mso-bidi-font-weight:
normal'>&#148;,</B> and many
        others<B style='mso-bidi-font-weight:normal'>.</B> That is why it is good
        to define the concepts and phrases used in this type of
        discussion<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>In every conversation,</B>
        a person will say words and phrases whose meaning he have never defined to
        himself<B style='mso-bidi-font-weight:normal'>.</B> He uses these words and
        phrases as a way to say
        <B style='mso-bidi-font-weight:normal'>&#147;</B>something<B style='mso-bidi-font-weight:normal'>&#148;</B>
        he wants the listener to accept in the same cloudy way that he has them in
        his mind<B style='mso-bidi-font-weight:
normal'>,</B> without definition<B style='mso-bidi-font-weight:normal'>.</B>
        This inadequate manner of expression gives way to an endless number of errors
        and twisting that we must avoid in any subject we
        discuss<B style='mso-bidi-font-weight:
normal'>,</B> but more so when we are talking about the holy truths of
        God<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>That is why it will
        be good<B style='mso-bidi-font-weight:normal'>,</B> before talking about
        the Law<B style='mso-bidi-font-weight:normal'>,</B> to define each one of
        the words and phrases commonly
        used<B style='mso-bidi-font-weight:normal'>,</B> even though they are never
        defined or contrasted<B style='mso-bidi-font-weight:normal'>.</B> Not only
        do we need to know what a word
        means<B style='mso-bidi-font-weight:
normal'>,</B> but sometimes we also need to specify what it does not
        mean<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>What being "legalist" means.</B>
        In many occasions I have heard someone label as
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>legalist<B style='mso-bidi-font-weight:normal'>&#148;</B>
        those who believe that God's laws
        <B style='mso-bidi-font-weight:normal'><U>for human behavior</U></B> are
        <B style='mso-bidi-font-weight:normal'><U>not</U></B>
        obsolete<B style='mso-bidi-font-weight:normal'>.</B> What does the word
        <B style='mso-bidi-font-weight:normal'>&#147;</B>legalist<B style='mso-bidi-font-weight:
normal'>&#148;</B> mean<B style='mso-bidi-font-weight:normal'>?</B> If we
        look up its meaning in the dictionary we see that a
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>legalist<B style='mso-bidi-font-weight:normal'>&#148;</B>
        is one who considers above everything else the literal application of the
        law<B style='mso-bidi-font-weight:normal'>.</B> I agree that such is the
        meaning of the word in our
        language<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Well<B style='mso-bidi-font-weight:normal'>,</B> so what is wrong
        with obeying God's laws just as He expressed
        them<B style='mso-bidi-font-weight:normal'>?</B>
        <B style='mso-bidi-font-weight:normal'>If we were talking about human laws
            it is possible that we would not want to interpret or obey them literally
            at all times,</B> because the person that wrote it may not have expressed
        them correctly<B style='mso-bidi-font-weight:normal'>.</B> But when we are
        talking about God's law<B style='mso-bidi-font-weight:normal'>,</B> that
        scenario is completely impossible<B style='mso-bidi-font-weight:normal'>.</B>
        Therefore<B style='mso-bidi-font-weight:normal'>,</B> who dares to judge
        God's laws<B style='mso-bidi-font-weight:normal'>,</B> or modifies them so
        not to be called a
        <B style='mso-bidi-font-weight:normal'>&#147;</B>legalist<B style='mso-bidi-font-weight:normal'>&#148;?</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>The problem does
        not lie in obeying God's law
        faithfully<B style='mso-bidi-font-weight:normal'>,</B> but in obeying literally
        only one verse or one passage<B style='mso-bidi-font-weight:
normal'>,</B> or one section of the
        Bible<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>as opposed</B> to
        others<B style='mso-bidi-font-weight:normal'>;</B> but not in faithfully
        obeying God's commandments interpreted from the whole
        Bible<B style='mso-bidi-font-weight:
normal'>.</B> Not only does the Bible present the
        commandments<B style='mso-bidi-font-weight:normal'>,</B> like
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>Thou <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;,</B> but it gives examples
        as to what the commandments mean<B style='mso-bidi-font-weight:normal'>.</B>
        Let's see some of these examples<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>When we see the different biblical
        episodes where killing is involved,</B> we realize what the commandment
        <B style='mso-bidi-font-weight:normal'>&#147;</B>thou
        <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;</B>
        means<B style='mso-bidi-font-weight:normal'>.</B> When we read the rest of
        the Bible we see that God ordered Saul to kill the
        <SPAN class=SpellE>Amalekites</SPAN><B style='mso-bidi-font-weight:normal'>.</B>
        Therefore<B style='mso-bidi-font-weight:
normal'>,</B> the Decalogue's
        <B style='mso-bidi-font-weight:normal'>&#147;</B>thou
        <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;</B> could not be applied
        correctly by taking just one
        verse<B style='mso-bidi-font-weight:
normal'>.</B> But it can be applied
        <B style='mso-bidi-font-weight:normal'>correctly</B> taking into account
        the entire Bible<B style='mso-bidi-font-weight:normal'>.</B> In it we realize
        that the <B style='mso-bidi-font-weight:normal'>&#147;</B>thou
        <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;</B> means that we should
        not kill out of our own whim<B style='mso-bidi-font-weight:
normal'>,</B> for personal issues<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>The same goes for
        the death penalty for the
        murderer<B style='mso-bidi-font-weight:normal'>.</B> The murderer can be
        killed<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>Thou
        <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;</B> does not apply to not
        executing him<B style='mso-bidi-font-weight:normal'>.</B> There are several
        laws in the Bible where God commands the killing of those who have committed
        certain crimes<B style='mso-bidi-font-weight:normal'>.</B>
        Therefore<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>Thou
        <SPAN class=SpellE>shalt</SPAN> not
        kill<B style='mso-bidi-font-weight:normal'>&#148;</B> has to be understood
        in light of the entire
        Scripture<B style='mso-bidi-font-weight:
normal'>,</B> and not just one
        verse<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The Decalogue says not to make
        graven images.</B> However<B style='mso-bidi-font-weight:normal'>,</B> if
        we read the rest of the Bible we see that when the Tabernacle and the
        <st1:place w:st="on">
            <st1:City w:st="on">Temple</st1:City>
        </st1:place>
        were
        being built<B style='mso-bidi-font-weight:
normal'>,</B> there were images of
        vegetables<B style='mso-bidi-font-weight:
normal'>,</B> animals and
        cherubim<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>From there we learn
        that what the commandment says is that we should not make images to worship
        them<B style='mso-bidi-font-weight:normal'>,</B> but we can take pictures
        of ourselves<B style='mso-bidi-font-weight:normal'>.</B> So we
        <B style='mso-bidi-font-weight:normal'>can obey the commandment literally
            just as it is presented through the entire Bible, <U>not as we read it in
                just one verse</U>.</B> If it weren't because we apply the commandment as
        the entire Bible shows it<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:
normal'><U>in an integral manner</U>,</B> we could not take
        photos<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Therefore, being a legalist
        is not faithfully obeying God's commandments,</B> but holding on to certain
        isolated words<B style='mso-bidi-font-weight:normal'>,</B> verses or passages
        in order to give them the meaning that we want them to
        have<B style='mso-bidi-font-weight:
normal'>,</B> willfully forgetting the rest of the
        Bible<B style='mso-bidi-font-weight:
normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>What does "<U>not</U> being
        a legalist" mean? </B>Is not being a legalist that we
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>adapt<B style='mso-bidi-font-weight:normal'>&#148;</B>
        God's commandments to our culture<B style='mso-bidi-font-weight:normal'>,</B>
        our times<B style='mso-bidi-font-weight:normal'>,</B> the doctrine of our
        sect<B style='mso-bidi-font-weight:normal'>,</B> or our personal
        convenience<B style='mso-bidi-font-weight:normal'>?</B> <SPAN class=GramE>In
  other words<B style='mso-bidi-font-weight:normal'>,</B> that in order for
  us not to be labeled as legalists<B style='mso-bidi-font-weight:normal'>,</B>
  would we have to interpret each one of God's commandments as we
  wish<B style='mso-bidi-font-weight:
normal'>?</B></SPAN> Yes<B style='mso-bidi-font-weight:normal'>,</B> because
        if one person interprets that he can worship Jesus'
        statue<B style='mso-bidi-font-weight:
normal'>,</B> while another one interprets it as
        idolatry<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>the latter would be
        labeled by the first as "legalist".</B> In that case the
        <B style='mso-bidi-font-weight:normal'>&#147;</B>non-legalist<B style='mso-bidi-font-weight:
normal'>&#148;</B> would defend himself by saying that this law was for the
        <SPAN class=GramE>Jews<B style='mso-bidi-font-weight:normal'>,</B></SPAN>
        or that it was <B style='mso-bidi-font-weight:normal'>&#147;</B>for those
        times<B style='mso-bidi-font-weight:normal'>&#148;,</B> or that it was for
        those who worshiped pagan idols<B style='mso-bidi-font-weight:normal'>,</B>
        but not for people <B style='mso-bidi-font-weight:normal'>&#147;</B>under
        grace<B style='mso-bidi-font-weight:normal'>&#148;.</B> Are there not now-a-days
        millions of professed Christians that worship graven
        images<B style='mso-bidi-font-weight:
normal'>?</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>In other
        words<B style='mso-bidi-font-weight:normal'>,</B> in order for us not to
        be labeled as
        <B style='mso-bidi-font-weight:normal'>&#147;</B>legalists<B style='mso-bidi-font-weight:
normal'>&#148;</B> we would have to quietly accept whatever heresy and error
        we hear<B style='mso-bidi-font-weight:normal'>,</B> because if we allege
        what the Bible says as a whole<B style='mso-bidi-font-weight:normal'>,</B>
        we would be called
        <B style='mso-bidi-font-weight:normal'>&#147;</B>legalists<B style='mso-bidi-font-weight:normal'>&#148;.</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the index</A>
            <o:p></o:p>
        </B>
</DIV>
</BODY>
</HTML>
