<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 9">
    <meta name=Originator content="Microsoft Word 9">
    <link rel=File-List href="./LongevityAndFlood_files/filelist.xml">
    <link rel=Edit-Time-Data href="./LongevityAndFlood_files/editdata.mso">
    <!--[if !mso]>
    <style>
    v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style>
    <![endif]-->
    <title>Longevity and the Flood</title>
    <!--[if gte mso 9]><xml>
     <o:DocumentProperties>
      <o:Author>Felo</o:Author>
      <o:Template>Normal</o:Template>
      <o:LastAuthor>Felo</o:LastAuthor>
      <o:Revision>2</o:Revision>
      <o:TotalTime>12</o:TotalTime>
      <o:Created>2002-07-09T04:28:00Z</o:Created>
      <o:LastSaved>2002-07-09T04:28:00Z</o:LastSaved>
      <o:Pages>3</o:Pages>
      <o:Words>482</o:Words>
      <o:Characters>2749</o:Characters>
      <o:Lines>22</o:Lines>
      <o:Paragraphs>5</o:Paragraphs>
      <o:CharactersWithSpaces>3375</o:CharactersWithSpaces>
      <o:Version>9.3821</o:Version>
     </o:DocumentProperties>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>75</w:Zoom>
 </w:WordDocument>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            margin-right: 0in;
            mso-margin-top-alt: auto;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 9]><xml>
     <o:shapedefaults v:ext="edit" spidmax="1039"/>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]--><!-- Created with AOLpress/2.0 -->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span style='font-size:18.0pt'>Longevity
and the Flood</span></b></p>

    <p>&nbsp;&nbsp;&nbsp; It is logical for a believer to think that when the
        planet was created, and when its soil came out of God's Word, it was as fertile
        as it could be. During the Flood the waters covered every mountain and softened
        the soil, which of course, started to slide down to lower parts of the land. <b>Thousands
            of landslides must have occurred, peeling off mountains and hills of its
            fertile original soil.</b> When the waters started to decrease going to the
        seas, those streams of water dragged the good fertile original soil that
        existed in mountains, hills and valleys, depositing it at the bottom of the
        oceans. </p>

    <p>&nbsp;&nbsp;&nbsp; After the Flood, rain has been doing the same job,
        washing away terrains all around the world, and dragging its soil to the sea.
        Thank to the constant growing of all kind of plants, (even in deserts or on
        rocks), and by the constant fall of cosmic dust, the surface of the Earth is
        not depleted of its soil and organic layer. </p>

    <p>&nbsp;&nbsp;&nbsp; Many kinds of animals disappeared because of the Flood.
        It is also possible that <b>because of the Flood many kinds of plants
            disappeared.</b> This could mean that after the Flood, humankind and the animal
        kingdom did not have all the kinds of foods they used to have. </p>

    <p>&nbsp;&nbsp;&nbsp; Perhaps it was on account of this soil washing, and the
        disappearance of some plants, that the human race started to decrease in
        longevity. The fact of the matter is that after the Flood longevity shrank a
        great deal, as we can see in the <b>first graph. Our biblical forefather's life
            span were in the rank of nine centuries till Noah.</b> His son Shem decreased
        his life span to about 60 % of that of his father. We must remember that Noah
        lived 600 years eating the food grown in the soil God first created, and his
        son Shem only ate of that kind of food for 100 years. Before the Flood, for
        more than 1600 years after the Creation, mankind enjoyed all original foods
        that were created, and enjoyed a great life span; those who were born less than
        a century after the Flood had lived less than 25 % of what their ancestors
        lived. </p>

    <p>&nbsp;&nbsp;&nbsp; Most of the time abstract numbers don't say as much as a
        graph. In the <b>second graph </b>we can visually compare the average life span
        of our biblical forefathers who lived before the Flood, with the average life
        span of those of their descendant who lived immediately after the Flood, and
        with our actual life span. The life span of those who lived immediately after
        the Flood decreased to one third of that of their forefathers. Our actual life
        span is 7.6 % of that of our biblical forefathers who lived before the Flood,
        and 24 % of the life span of those who lived immediately after the Flood. </p>

    <p>&nbsp;&nbsp;&nbsp; <b>The third graph</b> shows us in chronological sequence
        the life span of the first 22 patriarchs. In this third graph we realize how
        their life span decreased as time passed. According to Moses, in his time the
        common life span was 70 or 80 years, as he says in Psalm 90: 10. </p>

    <p>&nbsp; </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &quot;<b><i>The days of our years are threescore years and ten</i></b><i>; and
            if by&nbsp;</i></p>

    <p style='margin:0in;margin-bottom:.0001pt'><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        reason of strength they be fourscore years, yet is their strength&nbsp;</i></p>

    <p style='margin:0in;margin-bottom:.0001pt'><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        labour and sorrow; for it is soon cut off, and we fly away</i>.&quot;&nbsp; </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( Ps 90: 10 ) </p>

    <p align=center style='text-align:center'>&nbsp; </p>

    <p align=center style='text-align:center'><img width=562 height=734
                                                   src="LongevityLinearDecrease.JPG" v:shapes="_x0000_i1025"></p>

    <p align=center style='text-align:center'>&nbsp; </p>

    <p align=center style='text-align:center'>&nbsp; </p>

    <p align=center style='text-align:center'><img width=456 height=665
                                                   src="LifespanAndFlood.JPG" v:shapes="_x0000_i1033"></p>

    <p align=center style='text-align:center'>&nbsp; </p>

    <p align=center style='text-align:center'><img width=551 height=733
                                                   src="22PatriarchsAge.JPG" v:shapes="_x0000_i1035"></p>

    <p align=center style='text-align:center'><b><a href="html/en/English.html">Back to
        the index</a></b></p>

</div>

</body>

</html>
