<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>A Distortion regarding the Lords Supper</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <FONT size="5"><B> A distortion regarding the Lord's Supper</B></FONT>
<P>
<P>
    &nbsp;&nbsp;&nbsp; Many believers think that the last supper that Jesus and
    the apostles ate was the Passover and the Unleavened Bread; but this was
    not the case. Because of this mistake now a days they use unleavened bread
    during the Communion, the Lord's Supper. In Mat 27:15; Mrk 15:6; Lk 23:14-17
    and Jn 18: 39 we can see that <B> after the last supper</B>, being Jesus
    before Pilate, the Jews came to ask the Roman governor to do what he always
    had done during the Feast or Passover, release a prisoner. This is a clear
    hint that <B> after the last supper, the Passover was still in the future.
    Therefore, Jesus and his apostles had not yet eaten the lamb, nor the unleavened
    bread.</B>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Now <B> at that feast</B> the governor was wont to
    release unto the people a prisoner, whom they would</I>." ( Mat 27:15 )
</BLOCKQUOTE>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Now <B> at that feast</B> he released unto them one
    prisoner, whomsoever they desired</I>." ( Mr 15:6 )
</BLOCKQUOTE>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Said unto them: Ye have brought this man unto me,
    as one that perverteth the people; and, behold, I, having examined him before
    you, have found no fault in this man touching those things whereof ye accuse
    him. No, nor yet Herod; for I sent you to him; and, lo, nothing worthy of
    death is done unto him. I will therefore chastise him, and release him. For
    of necessity he must release one unto them <B> at the feast</B></I>."&nbsp;
    (Lk 23: 14-17)
</BLOCKQUOTE>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>But ye have a custom, that I should release unto you
    one <B> at the Passover</B>; will ye therefore that I release unto you the
    King of the Jews</I>?" (Jn 18:39)
</BLOCKQUOTE>
<P>
    &nbsp;
<P>
    &nbsp;&nbsp;&nbsp; <B>Mathew, Mark, Luke and John witnessed in the former
    four passages, that the last supper had taken place, but the Passover had
    not yet occurred</B>.
<P>
    &nbsp;&nbsp;&nbsp; Jesus Christ was crucified the very same day the Passover
    lamb was to be sacrificed, in as much as he was the real Passover Lamb, of
    whom the little lamb was just a symbol, as Saint Paul tells us in First
    Corinthians 5:7.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Purge out therefore the old leaven, that ye may be
    a new lump, as ye are unleavened. For even <B> Christ our Passover is sacrificed
        for us</B></I>." (I Co 5:7)
</BLOCKQUOTE>
<P>
    &nbsp;
<P>
    &nbsp;&nbsp;&nbsp; <B>Paul says plainly that Christ is our Passover</B>,
    it is to say, he who was represented by the death of the lamb which was to
    be sacrificed <U><B> the afternoon before</B></U> the night in which the
    Passover lamb and the unleavened bread were to be eaten.
<P>
    &nbsp;&nbsp;&nbsp; To better understand if Christ and the apostles ate common
    or unleavened bread, it is necessary to go to the Old Testament, to realize
    how the rite of the Passover was conducted. There we can learn <U> when the
    lamb was to be killed</U>,&nbsp; <U>when its flesh was to be eaten</U>, and
    <U> when the unleavened bread started to be eaten</U>.
<P>
    &nbsp;&nbsp;&nbsp; <B>The Passover lamb was killed during the afternoon of
    the 14th day; but the flesh of the lamb and the unleavened bread were eaten
    the night following the afternoon when the lamb was sacrificed, when for
    the Hebrews it was already the 15th day. We have to remember that the Hebrews
    started their days at sun down</B>.
<P>
    &nbsp;&nbsp;&nbsp; If during the Passover the unleavened bread was eaten
    the evening following the afternoon when the lamb was killed, then unmistakably,
    the bread that Jesus and the apostles ate during the last supper, was not
    unleavened bread, but regular bread, because Christ, the true Passover Lamb
    had not been yet sacrificed, nor the little lamb of the Passover.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And ye shall keep it up until <B> the fourteenth day
    of the same month; and the whole assembly of the congregation of Israel shall
    kill it <U> in the evening</U></B>. And they shall take of the blood, and
    strike it on the two side posts and on the upper door post of the houses,
    wherein they shall eat it. And <B> they shall eat the flesh <U> in that
        night</U>, roast with fire, and unleavened bread</B>; and with bitter herbs
    they shall eat it</I>." ( Ex 12:6-8 )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>Since the sacrifice lamb or Passover lamb represented
    the sacrifice of Christ, it is evident that Jesus had to die that very day
    and time in which, because of the ritual law, the Passover lamb had to be
    sacrificed</B>. Sure enough, so it happened, Jesus died the afternoon before
    the night in which the Passover was eaten. <B> Remember that Hebrews started
    their days at sun down</B>. That afternoon was subsequent to the night in
    which they ate the last supper, but previous to the night in which the lamb
    was eaten. We can confirm this by reading John 13:1-2; 18:28; 19:14; 19:31
    and 19:42.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I><B>Now before the feast of the Passover</B>, when
    Jesus knew that his hour was come that he should depart out of this world
    unto the Father, having loved his own which were in the world, he loved them
    unto the end. <B> And supper being ended</B>, the Devil having now put into
    the heart of Judas Iscariot, Simon's son, to betray
    him</I>&#133;"&nbsp;&nbsp; (Jn 13:1-2)
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; As we have just read, the last supper was ended before
    the feast of the Passover had come. If we read Jn 18: 28 will see that when
    the Lord was taken to the hall of judgment, which took place after the last
    supper, the Jews did not want to enter the hall of judgment, to avoid defilement,
    so that they might eat the Passover. Therefore, the Passover had not come
    yet. This confirms once more, that the last supper was not the Passover.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I><B>Then led they Jesus from Caiaphas unto the hall
    of judgment</B>; and it was early; and they themselves went not into the
    judgment hall, lest they should be defiled; <B> but that they might eat the
        Passover</B></I>." ( Jn 18:28 )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; Also in Jn 19:24 we see that when Jesus was being judged
    by Pilate and priests, the Passover had not been eaten yet.
<P>
<BLOCKQUOTE>
    "<I>And <B> it was the preparation of the Passover</B>, and about the sixth
    hour; and he saith unto the Jews: <B> Behold your King</B></I>!" ( Jn 19:14
    )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; A little further, in Jn 19:31, we learn that even after
    the crucifixion and death of the Lord, they had not eaten the Passover yet,
    <B> because it was still the <U> eve</U> of the feast</B>.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>The Jews therefore, <B> because it was the
    preparation</B>, that the bodies should not remain upon the cross on the
    sabbath day, (for that sabbath day was an high day,) besought Pilate that
    their legs might be broken, and that they might be taken
    away</I>."&nbsp;&nbsp; (Jn 19: 31)
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; Again, in Jn 19:42, when they were going to bury the Lord,
    we see it was the eve of the Passover.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>There laid they Jesus therefore, because of <B> the
    Jews' preparation day</B>; for the sepulchre was nigh at hand</I>." ( Jn
    19:42 )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>Thus far we have demonstrated that Jesus Christ did
    not eat the last Passover</B>, because he died the afternoon before. He died
    the very same day in which the Passover lamb had to be killed. Let's go now
    to the origin of the Passover rite, in order to learn <B><U> when the lamb
    was killed</U></B>,&nbsp; and&nbsp; <U><B>when the unleavened bread started
    to be eaten</B></U>. In the next verse we will show that the unleavened bread
    started the night of the 15th day, which followed the afternoon of the 14th
    day, in which the lamb was killed. (This was the same afternoon Jesus was
    killed.)
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And they shall eat the flesh <B> in that night</B>,
    roast with fire, and unleavened bread; and with bitter herbs they shall eat
    it</I>." ( Ex 12:8 )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; In Lev 23:6 we see clearly and specifically that the
    unleavened bread started the 15th day and not the 14th day. Same is said
    in Nm 28: 16-17.
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And <B><U> on the fifteenth day</U> of the same month
    is the feast of unleavened bread</B> unto the LORD; seven days ye must eat
    unleavened bread</I>." ( Lev 23: 6 )
</BLOCKQUOTE>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And <B><U> in the fourteenth day</U> of the first
    month is the Passover</B> of the LORD. And </I><B><I><U> in the fifteenth
    day</U> of this month is the feast; seven days shall unleavened bread be
    eaten</I>.</B>" ( Nm 28:16-17 )
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>Jesus Christ is the true Passover Lamb, that is why
    his sacrifice in the cross coincided with the sacrifice of the lamb that
    was going to be roasted and eaten the following night.</B> If the unleavened
    bread was eaten after the lamb was roasted, and if Jesus ate the last supper
    with his apostles before he was crucified, it is obvious that the bread used
    in the last supper had to be common bread, not unleavened bread. Therefore
    <B> in our celebration of the Lord's Supper we must use common bread</B>,
    preferably whole wheat bread, which is the one used at that time.
<P>
    &nbsp;&nbsp;&nbsp; The following passage makes it evident that Jesus was
    already dead, when the Passover had not come yet.
<P>
<BLOCKQUOTE>
    "<I>And, behold, there was a man named Joseph, a counsellor; and he was a
    good man, and a just; the same had not consented to the counsel and deed
    of them; he was of Arimathaea, a city of the Jews; who also himself waited
    for the kingdom of God. This man went unto Pilate, and <B> begged the body
        of Jesus</B>. And he took it down, and wrapped it in linen, and laid it in
    a sepulchre that was hewn in stone, wherein never man before was laid. <B>
        And that day was the preparation, and the sabbath drew
        on</B></I>."&nbsp;&nbsp; (Lk 23:50-54)
</BLOCKQUOTE>
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>As we see, in both passages, now in Luke and before
    in John</B>, it is said that the Passover had not taken place at the time
    of the judgment, crucifixion and death of Our Lord Jesus Christ. Thus <B><U>
    it is evident</U></B> that the last supper they had the night before, was
    surely not the Passover. <B> That year Jesus did not eat the Passover</B>,
    he was crucified the afternoon before it. <B> It was just logical this is
    what happened, because, Jesus Christ was the true Passover, of which the
    lamb was just a symbol.</B> It comes with the territory that Jesus had to
    die the very afternoon they killed the Passover lamb; thus, he could not
    be alive when that year the roasted lamb was eaten.
<P>
    &nbsp;&nbsp;&nbsp; In John 13:27-29 we see that in the middle of the last
    supper, when Jesus said to Judas Iscariot: "That thou doest, do quickly.",
    <B><U> the apostles thought that what Jesus was asking Judas was to buy what
        was necessary for the Passover</U>. Consequently, the Passover was not yet
        come.</B>
<P>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And after the sop Satan entered into him. <B> Then
    said Jesus unto him: That thou doest, do quickly.</B> Now no man at the table
    knew for what intent he spake this unto him. <B> For some of them thought,
        because Judas had the bag, that Jesus had said unto him: <U> Buy those things
            that we have need of against the feast</U></B>; or, that he should give something
    to the poor</I>." ( Jn 13: 27-29 )
</BLOCKQUOTE>
<P>
<P>
<P>
    &nbsp;&nbsp;&nbsp; <B>In brief,</B> leavened bread was used in the last supper,
    it is to say common bread, and red wine. That was the Lord's Supper rite,
    which Jesus Christ established for all Christians. That is why Christians
    should use in our Lord's Supper common bread and red wine.
<P>
    &nbsp;&nbsp;&nbsp; <B>Satan has succeeded in distorting the Lord's Supper
    among almost all Christian religions.</B> Some give their parishioners a
    wafer, but only the priests drink the wine. Others do not give their follower
    the bread nor the red wine, these elements are taken only by a few "special"
    members that according to their religion belong to the 144,000 anointed ones.
    Still others give incorrectly to the attendants, unleavened bread, not giving
    them red wine either, but instead some grape juice or red cool aid. Some
    others correctly use the red wine, but use unleavened bread. Those who use
    in the Lord's Supper regular bread plus red wine are very few.
<P>
    &nbsp;&nbsp;&nbsp; <B>As it is evident, Satan has succeeded in distorting
    the true rite of the Lord's Supper, in almost the totality of the Christians,
    without being noticed by them.</B>
<P align="center">
    <B><A HREF="html/en/English.html"> Back to the index</A></B>
<P>
</BODY>
</HTML>
