<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>Heavenly Dynamics, Mechanics of Temptation</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <B><FONT size="5"> Heavenly Dynamics: mechanics of temptation</FONT></B>
<P>
    &nbsp;&nbsp;&nbsp; As we can learn from this passage, the Devil takes advantage
    of the body <B> needs of the human nature</B>, and <B> the feelings of the
    soul</B> in order to exaggerate them and make them a sin.
<P>
    &nbsp;&nbsp;&nbsp; After 40 days of total fasting, it is just normal that
    Jesus felt a great hunger; therefore it is logical that temptation would
    enter that way: asking him to eat. This temptation was not a regular one
    however, instead it was a temptation to use his divine powers for his own
    personal benefit,&nbsp; therefore invalidating his saving mission.
<P>
    &nbsp;&nbsp;&nbsp; On the other hand, <B> it was&nbsp; natural that Jesus
    would be proud of being The Son of God</B>. Therefore, it is another point
    that the Devil would try to exacerbate Jesus. For the Devil to get to his
    goal, he pretends to doubt if the Lord is or is not the Son of God. That
    is when the Devil joins both strongest forces in only one temptation, to
    cause Jesus to sin: to entice him to demonstrate that he was the Son of God,
    ( "If thou be the son of God&#133;"), and his natural urge to eat
    ("&#133;command that these stones be made bread.").
<BLOCKQUOTE>
    "<I>1 Then was Jesus led up of the Spirit into the wilderness to be tempted
    of the Devil. 2 <B> And when he had fasted forty days and forty nights</B>,
    he was afterward an hungered. 3 And when the tempter came to him, he said:
    <B> If thou be the Son of God</B>, command that these stones be made
    bread</I>." ( Matt 4:1-3)
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; Satan was created by God as a being superior to human
    beings, <B> only can he be defeated when instead of facing him with shrewdness
    against his own shrewdness, we take refuge in the absolute and total victory
    that</B> Jesus Christ won over him with his own blood. The one who does not
    appeal to this method, has lost his battle since the beginning; as if a goat
    fights a lion, which was created stronger than the goat.
<P>
    &nbsp;&nbsp;&nbsp; Many Christians, by ignorance or by lack of practice or
    experience, face their lusts, and the temptations resulting from them, with
    their own strength,. They do not appeal to the blood of Christ, or they&nbsp;
    appeal too late, after the enemy has inflicted upon them much suffering and
    harm.
<P>
    &nbsp;&nbsp;&nbsp; <B>Precisely it is one of the best techniques of our spiritual
    enemy: to entice us to face him when we are by ourselves</B>. If he wins
    in this first step, all others are much easier. We have the Word of God as
    a weapon to fight temptation, but beside the Word of God, <B> another
    weapon</B> was provided for us to fight temptation: <B>fasting</B>.
<P align="center">
    <B> <A HREF="html/en/English.html">Back to the index</A></B>
<P>
</BODY>
</HTML>
