---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="List Bible Notes">

    <main class="usa-section" id="posts" role="main">
        <div class="grid-container">
            <header class="font-heading-lg">
                <h1>Index of Biblical Notes in English</h1>
            </header>

            <section class="grid-row grid-gap">
                <div class="usa-layout-docs__sidenav">
                    <article class="usa-prose margin-bottom-6">
                        <p>
                            These Bible Notes are useful to understand some themes
                            that God's enemies have tried to twist, or themes that are difficult to
                            interpret.; It is beneficial to read them.; You can use all the
                            material in here to help others, especially to help members of your
                            church.; <b>We are going to add new Bible Notes as often as possible;
                            therefore visit us frequently</b>. <br>
                            <b>If you think I have a mistake in a Biblical Note</b>,
                            please, send me your opinion and the arguments that can back it up. I will
                            appreciate it very much.; I also like to learn from others. <br>
                            Also if you would like some special issue to be addressed
                            in a Biblical Note, just leave me a message at the following e-mail address:
                            ramonaleman@yahoo<b>.</b>com; to R. L. Serralta Nogu?s.
                        </p>
                    </article>

                    <nav>
                        <ul class="usa-sidenav">
                            <li class="usa-sidenav__item"><a href="/en/JesusBornDecember">1- It is false to say that
                                Jesus
                                could not be born in
                                December. ( 1
                                March 00 )</a></li>

                            <li class="usa-sidenav__item"><a href="/en/LongevityInYears">2- The longevity of our first
                                fathers was given in years,
                                not in months.
                                (13 March 00)</a></li>

                            <li class="usa-sidenav__item"><a href="/en/ElijahShallCome">3- Elijah the prophet shall
                                come
                                before the Second Coming of
                                Christ. ( 25
                                March 00 )</a></li>

                            <li class="usa-sidenav__item"><a href="/en/DidHoseaFornicate">4- Hosea did not commit
                                fornication or adultery. ( 24 April
                                00 )</a></li>

                            <li class="usa-sidenav__item"><a href="/en/PharaohHardening">5- The hardening of Pharaoh
                                without forcing his free
                                will. ( 12 May 00 )</a>
                            </li>

                            <li class="usa-sidenav__item"><a href="/en/TheDesireOfTheNations">6- Jesus, not the
                                wealth, is
                                the Desire of the nations. Ecumenical Bibles. ( 16 Jun 00 )</a>
                            </li>

                            <li class="usa-sidenav__item"><a href="/en/MuslimsJewsAndTheViginMary">7- Muslims, Jews
                                and the
                                Virgin Mary. ( 10 July 00 )</a>
                            </li>

                            <li class="usa-sidenav__item">
                                <a href="/en/JudgeNotExaggeration">8- Exaggeration of; "Do not judge". ( 27 July 00
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ToTheMostHolyTheyEnteredEveryDay">9- The High Priest entered the Most
                                    Holy
                                    everyday, not only once a year. ( 15 Aug 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MichaelTheArchangelisNotChrist">10- Michael the archangel is not Christ,
                                    he is
                                    just an archangel. ( 31 Aug 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JephthahAndHisDaughter">11- Jephthah did not offer his daughter in
                                    sacrifice. ( 15 Sep 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TheRichYoungMan">12- Why did Jesus tell the rich young man to sell his
                                    possessions. ( 28 Sep 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PhariseesDidNotObeyGodsLaw">13- Pharisees were not faithfully obedient
                                    to
                                    God's Law. ( 18 Oct 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WasVirginMaryTeenager">14- Was Virgin Mary a Teenager? ( 10 Dec 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JesusNailedByHisHands">15- Christ was nailed to the cross by his hands,
                                    not by
                                    his wrists. ( 12 Dc 00 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JesusAndillegitimacy">16- Jesus never confronted problems of
                                    illegitimacy. ( 2
                                    Feb 01 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristiansIdolsAndSacrifices">17- Christians must not eat from what was
                                    sacrificed to idols. ( 9 Ap 01 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/GodsNameVain">18- Do not take God's name in vain. ( 30 Ap 01 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TheFigtreeIsNotIsrael">19- The fig tree does not represent Israel. ( 5
                                    May 01
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TimePatriarchsCoexisted">20- The time the Patriarchs lived with each
                                    other. (
                                    28 June 01 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/GodAppointsKings">21- God appoints kings, world kingdoms are His. ( 20
                                    July 01
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TheFirstCell">22- Evolution: the so called ;"first simplest cell" could
                                    have
                                    never existed. ( 21 Aug 01 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MelchizedekIsNotChrist">23- Melchizedek could not be Christ. ( 20 Sep 01
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SealsTrumpetsVials">24- Revelation, Seals, Trumpets and Vials. ( 28 Nv
                                    01
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JudasTraitorNotPatriot">25- Judas was a traitor, not a patriot. ( 10 Dc
                                    01
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BelieversSufferingAtheistsEnjoying">26- Believers suffering and atheist
                                    enjoying. ( 18 Jan 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristSupriseUnbelievers">27- The Second Coming will surprise
                                    unbelievers
                                    only. ( 12 Mch 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ElijahWasNotCoward">28- Elijah was not a coward. ( 26 Ap 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PaleontologistSkeleton">29- Evolution, the paleontologist and the
                                    skeleton. ( 31 May 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LongevityAndFlood">30- Why longevity decreased after the Flood. (30 June
                                    02
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TheOriginalSin">31- The Original Sin is a Myth. ( 31 July 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WhoCouldKillCain">32- Who could kill Cain?. ( 10 Sp 02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WhyCainOfferingRejected">33- Why Cain's offering was not acceptable. ( 8
                                    Oct
                                    02 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JesusClothingShort">34- Was Jesus' clothing long or short. ( 30 Oct 02
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristiansAndWeapons">35- Christians and weapons. ( 17 Jan 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ShakeFistBeforeGod">36- Shaking their fist before God's face and are
                                    Christians? ( 16 Fb 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JesusGreaterHolySpirit">37- Jesus is greater than the Holy Spirit. ( 20
                                    Mch 03
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BlasphemyHolySpirit">38- ;Why blasphemy against the Holy Spirit was
                                    unforgivable. ( 28 Ap 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JobChristiansAndTrials">39- Don't call "trials" to the logical
                                    consequences of
                                    your sins and mistakes. ( 18 My 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TimothyWasNotThatYoung">40- Timothy was not that young. ( 30 June 03
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WomenInChurch">41- ;Why Saint Paul forbade women from some activities in
                                    Church. ( 8 Aug 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BreastFeedingBabies">42- ;Natural age for breast feeding and weaning
                                    babies. ( 10 Sp 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/FearingEnemies">43- ;Fearing enemies precludes Divine protection. Don't
                                    change
                                    commandments. ( 8 Oct 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MethodExamOurselves">44- ;Method to exam ourselves. (26 Nv 03 )</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/SaltParable">45- ;In the parable, salt is used
                                for
                                its taste, not for its preservative power. ( 19 Dc 03 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WomenDivorceHusbnads">46- ;Women could divorce their husbands. ( 19 Jan
                                    04
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MarriagesAngels-Women">47- ;Marriages between angels and
                                    women is just a blasphemous teaching. ( 20 Fb 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WhyHellHasToExist">48- Why hell exists and has to exist. ( 19 Mch 04
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/HalleluiahGreatMiracle">49- ;Halleluiah! What a Great Miracle. ( 18 Ab
                                    04
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PactsAndMarriagesNonBelievers">50- ;Pacts and Marriages
                                    with Non-believers. ( 20 My 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/FaithWorksJames">51- ;Faith and Works According to
                                    James. ( 23 June 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/JewsMuslimsAtheists70weeks">52- ;Jews, Muslims and Atheists,
                                    read this, 70 weeks. (21 Jl 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/GodPunishesChristians">53- ;Yes, God punishes Christians
                                    also. ( 25 Ag 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LordsSupper">54- ;A Distortion Regarding the Lord's
                                    Supper ( 25 Oc 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PaulSanhedrin">55- ;Paul was not a rabbi nor belonged
                                    to the Sanhedrin. ( 24 Nv 04 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/AbsurdityPreviousCreation">56- ;Gap Theory? A previous
                                    creation is absurd. ( 13 Jan 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/RedemptionByGraceSinceBeginning">57- Redemption by grace was
                                    known since the beginning. ( 27 Fb 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LosCuatroCaminosIngles">58- See why the commandments of God
                                    are a secure path. ( 28 Mch 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MechanicsOfTemptation">59- Heavenly Dynamics: Mechanics of
                                    Temptation. ( 27 Ap 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WhyRepentanceIndispensable">60- Why repentance is
                                    indispensable. (31 May 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PredestinationFifthCommandment">61- The False Predestination
                                    and the Fifth Commandment. ( 30 Jn 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/FallingStars">62- Will Stars Fall? Are they not larger than
                                    the Earth? ( 28 Jl 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SevenDaysSevenEras">63- Did Creation last seven days or seven
                                    eras? ( 31 Ag 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/AbrahamSacrificedIsaac">64- Abraham sacrificed Isaac knowing
                                    that God would raise him from dead. ( 29 Sp 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ClimateGlobal">65- Erroneous hypothesis of one same global
                                    climate year round. ( 25 Oc 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristAndOaths">66- Jesus did not forbid any oath. ( 23 Nv 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MessiahJewsAlexanderGreeks">67- Jesus, Alexander the Great,
                                    Julius Caesar, Napoleon Bonaparte, and Jews. ( 18 Dc 05 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SodomDeadSea">68- Sodom is located in the depths of the Dead
                                    Sea. ( 24 Jan 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/DoNotWorshipGodRebels">69- Those who do not worship God simply
                                    reject the idea of being submitted to Him. ( 27 Fb 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/CrucifixionThursday">70- The crucifixion took place a Thursday,
                                    not a Friday. ( 30 Mch 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/OpenBarAndFoundChurch">71- Who hinder our tasks and how we
                                    give them chance to do it. ( 28 Ap 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TwoDifferentWomenAnointedJesus">72- Two different women anointed
                                    Jesus; one was decent, the other was not. ( 24 My O6 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LivingWaters">73- ;What are "living waters". ( 20 Jun 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BibleWordDesert">74- ;In the Bible the word "desert" means
                                    "without inhabitants", not without vegetation or water. ( 27 Jl 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/DidProphetMicaiahLie">75- ;Prophet Micaiah son of Imlah
                                    did not lie. ( 30 Aug 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/OldTestamentHarshness">76- ;Old Testament "harshness"
                                    and the "monoversal doctrineers". ( 22 Sp 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/AntagonismJewishSamaritan">77- ;The origin of Jewish-Samaritan
                                    antagonism. ( 30 Oc 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ElishaDidNotLie">78- ;Elisha didn't lie by telling Benhadad
                                    he wouldn't die from his illness. ( 27 Nv 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/EarthlyConsequencesSinJonah">79- ;Earthly consequences
                                    of sin, Jonah. ( 28 Dc 06 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/EvilTacticsDestroyGodsPeople">80- ;Evil tactics to destroy
                                    God's people. ( 29 Jan 07 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PredestinationDeathBirth">81- ;Predestination, death,
                                    contraceptives, doctors and insurance. ( 26 Fb 07 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SatanCastOut">82- ;Satan cast out of Heaven before the
                                    Pentecost. (30 Mch 07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristianAndSelfControl">83- Christian and self control. (30 April 07
                                    )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/FloodDelugeUniversal">84- ;The Deluge was not local, but
                                    universal. ( 31 My 07 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ElihuAndJobGreatness">85- Fallacies about Elihu's discourse,
                                    and greatness of Job. ( 29 Jun 07 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/Pragmatism">86- Pragmatism: You shall know them by their
                                    fruits. ( 31 Jl 07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ReligionOfIfeels">87- The religion of the "Ifeels and the
                                    Maccabeans. ( 30 Ag 07 )</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/EgyptAndRussia">88-Similitude between Egypt of the Pharaohs
                                    and the Soviet Union. Angels in charge of Nations. (28 Sp 07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/MessiahEnterTempleBeforeDestruction">89-Jews: The Messiah would
                                    enter in that Temple before it was destroyed by Tito Flavio Vespasian. (30 Oc
                                    07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/GodRewardAndPunishesNow">90-God also rewards and punishes now
                                    and here. (30 Nv 07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WhatIsTrueLove">91-Is it true love to love those that hate
                                    God?. (30 Dc 07)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ConsequencesSinTerrestrialDavid">92-Sin has terrestrial
                                    consequences even for God loved ones. (29 En 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/DeathPenaltySalvation">93-The Death Penalty Will not Hinder
                                    a Convict from Being Saved. (24 Fb 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/Theomorphism">94-Theomorphism: Does God Look Like Human?. (31 Mch
                                    08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/AutoManufacturer">95-The auto manufacturer. (30 Ap 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TacticSerpentEden">96-The Tactic Used by the Serpent in Eden
                                    are the Same Today. (31 My 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BoyTwoYearsOld">97-Christians and a two years old boy. (30 Jun 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/BibleUnderstoodAll">98-God gave the Bible so that all may
                                    understand it, not only the learned. (28 Jl 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/HaveBeenSaidThoseOfOld">99-Was said to those of old; not that
                                    God said in the law. Don't get confused. (31 Ag 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ReachingHoliness">100-Reaching Holiness. (28 Sp 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/IgnoranceExcuseSin">101-Ignorance of God's Law is not Excuse
                                    for Sinning. (31 Oc 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/RaptureFalsehood">102-Consequences of believing in the false
                                    rapture before the Great Tribulation. (30 Nv 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/RaptureGreatTribulation">103-Where does the Bible says there
                                    is a Rapture before the Great Tribulation. (31 Dc 08)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SinIsOurFault">104-Sin is our fault, not the fault of the
                                    enviroment, predestination, ignorance or Satan. (28 Jan 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SomeShallDepartFromTheFaith">105-Some Shall Depart From the
                                    Faith. (28 Fb 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PaulOnceSaved">106-Paul speaks of "Once Saved Always Saved". (26 Mch
                                    09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/GodDoesNotEliminateTemptation">107-Why God does not eliminate
                                    temptation. (30 Ap 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristiansOrSaintpaulians">108-Are we Christians or Saintpaulians. (27
                                    My 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/EatPutFrontYou">109-Eat what is put in front of you. An old
                                    woman's brain? Soup of defeated warrior's blood?. (24 Jun 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristNotAbolishLaws">110-Christ did not abolish God's laws
                                    for human behavior. (30 Jl 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristiansActNaaman">111-To obtain the right Christian doctrine
                                    very many Christians act like Naaman. (31 Ag 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LoveGodCommandments">112-The true love for God is obedience
                                    to His commandments. (30 Sp 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristDidNotAcquitAdulteress">113-Why Christ did not acquit
                                    nor condemn the adulteress?. (31 Oc O9)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ErrorNeotestamentarian">114-Error and heresy of being
                                    neo-testamentarian. (30 Nv 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/SeventyWeeks">115-The Prophecy of the Seventy Weeks and the
                                    Messiah. (31 Dc 09)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristianConfusionWithLaw">116-There is great confusion among
                                    Christians when it comes to God's Law. (27 Jan 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/DiscussionsAndChristians">117-Let's imitate the first Christians,
                                    who discussed their doctrinal differences in a friendly manneer. (28 Fb 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LegalistWhatMeans">118-What means to be "legalist". (30 Mch 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PropheticSermon">119-How to better understand the Prophetic
                                    Sermon. (29 Ap 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/YokePeterCouldNotBear">120-The yoke that not Peter nor his
                                    ancestors could bear. (27 My 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ErrorsOfDoctrine">121-The doctrinal errors of many Christians
                                    have one or more of these origins. (28 Jun 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/LawWhatMeansWord">122-What means ;in the Bible the phrase
                                    "We are not under de Law". (28 Jl 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PredestinationLookAt">123-Let's take a look at those who think
                                    they believe in absolute predestination. (25 Ag 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/EyeForAnEye">124-An Eye for an Eye was for the judges, not
                                    for personal feuds. (28 Sp 28)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PaulObeyLaw">125-Paul exhorts Christians to obey God's Laws
                                    for human behavior. (26 Oc 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PersonageSaysRevelation">126-Not everything that a personage
                                    of the Bibli says, is revelation, we must discern. (28 Nv 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PeterVisionAnimals">127-Peter's vision and the supposed cleanliness
                                    of <u>all</u><b> </b>animals. (27 Dc 10)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/WarehouseOfSouls">128-Warehouse of Souls and Predestination. (27 Jan
                                    11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/RapturePeril">129-Peril of believing that the Church shall
                                    be raptured before the Great Tribulation. (28 Mch 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PropheticSermon">130-How to better understand the Prophetic
                                    Sermon of Mattew 24. (25 Ap 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ReasonsNotTruth">131-Reasons why people do not want to know
                                    the truth. (26 My 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PassionCloudsReason">132-Passion clouds reason. (28 Jun 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PaulBlameless">133-Paul seems to say that he had been blameless
                                    when it came to God's law, which is not true. (24 Jl 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ChristiansAvoidGT">134-Christians can avoid ;the Great
                                    Tribulation. (25 Ag 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/TheWeddingOfTheLamb">135-The Wedding of the Lamb, when it will
                                    take place?. (26 Sp 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/ObstaclesReachingBlessings">136-What are the obstacles in reaching
                                    blessings of God. (25 Oc 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/DanielLionsDen">137-Why Daniel had divine protection in the
                                    lions' den. (27 Nv 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/trialsAndConsequences">138-Do not call "trials" the consequences
                                    of your sins and errors. (27 Dc 11)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/FidelityAdversityJoy">139-Fidelity in adversitly and joy. (26 Jan
                                    12)</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/en/PromiseGodNotUnconditional">140-The promises of God are not
                                    unconditional. (27 Fb 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a
                                    href="/en/Jonah%20was%20clean%20when%20he%20arrived%20at%20Niniveh">141-Jonah
                                was clean when he arrived at Niniveg. (2 My 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/HowToInterpretParables">142-How to interpret
                                parables. (29 My 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/UsefullnesPrayerChristians">143-Usefulness for
                                the Church, society and the Nation of the presence and prayer of Christians. (26 Jun
                                12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/IfGodKnowsWhyPray">144-If God knows all, why
                                do we have to pray?. (26 Jl 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/FactorInterpretBible">145-A factor to
                                correctly interpret de Bible. (27 Ag 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/BibleMonolithicUnit">146-The Bible is a
                                ;monolithic doctrinal unit. (30 Sp 12)</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/NumbersRoundedOff">NumbersRoundedOff.html</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/WomenActivities">147-Women were not
                                "prohibited" from certain activities, it was the circumstances that prohibited
                                them.;</a>
                            </li>
                            <li class="usa-sidenav__item"><a href="/en/NumbersRoundedOff">148-In the Bible the
                                numbers are rounded off. (27 Nv 12)</a></li>
                            <li class="usa-sidenav__item"><a href="/en/VeilWomanBiblical">149-Women and the veil in
                                Biblical times. (26 Dc 12)</a></li>
                            <li class="usa-sidenav__item"><a href="/en/ChristNeverAbolished">150-Christ never
                                abolished any of God's laws before his crucifixion. (28 Jan 13)</a></li>
                            <li class="usa-sidenav__item"><a href="/en/DiscussingDoctrinesBibleApproved">151-Discussing
                                our doctrines with others is approved in the Bible. (27 Fb 13)<br></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </main>
</Layout>
