<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>4</o:Revision>
                    <o:TotalTime>10</o:TotalTime>
                    <o:Created>2010-10-26T19:43:00Z</o:Created>
                    <o:LastSaved>2010-10-26T19:53:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>386</o:Words>
                    <o:Characters>2206</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>18</o:Lines>
                    <o:Paragraphs>5</o:Paragraphs>
                    <o:CharactersWithSpaces>2587</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Paul says it is not enough to hear God's law, it has to be obeyed</TITLE>
                    <LINK rel=File-List href="PaulObeyLaw_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:18.0pt'>Paul says it is not enough to hear
  God's law, it has to be obeyed<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Why do
        some Christians treat God's law with such
        contempt<B style='mso-bidi-font-weight:
normal'>?</B> These brothers proceed as if they thought the law was invented
        by Satan<B style='mso-bidi-font-weight:normal'>.</B> In this verse Paul
        himself<B style='mso-bidi-font-weight:normal'>,</B> who some people consider
        the champion of the law
        <B style='mso-bidi-font-weight:normal'>&#147;</B>haters<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        assures the contrary to what they
        think<B style='mso-bidi-font-weight:normal'>.</B> He says it was not just
        the hearers of the law<B style='mso-bidi-font-weight:normal'>, but the doers
        of the law who act correctly.</B> The law that Paul considers obsolete is
        the ceremonial laws<B style='mso-bidi-font-weight:normal'>,</B> not the
        behavioral laws<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:normal'>For
        <B style='mso-bidi-font-weight:normal'>not the hearers of the law are just</B>
        before God<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>but the doers of the
            law shall be
            justified</B></I><B style='mso-bidi-font-weight:normal'>&#148;.</B>
        <SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Ro 2<B style='mso-bidi-font-weight:normal'>:</B>13)
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Paul
        is saying here that we have to obey God's law for human
        behavior<B style='mso-bidi-font-weight:normal'>,</B> that we must align our
        behavior by that is established in God's
        law<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Does that mean that salvation
        comes by finalizing a life after having lived obeying the law without fail?</B>
        No<B style='mso-bidi-font-weight:normal'>,</B> no one can accomplish
        that<B style='mso-bidi-font-weight:normal'>;</B> that is why the Lord
        came<B style='mso-bidi-font-weight:normal'>.</B> Only Jesus did
        it<B style='mso-bidi-font-weight:
normal'>.</B> And we are saved thanks to what he did and his sacrifice to
        accomplish what we could not do
        ourselves<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>But <U>nobody is saved either</U>
            by saying he believes in Jesus, he lives under the grace, and then goes on
            to consciously <U>disobey</U> God's law, voluntarily and premeditatedly.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>The Christian
        who <B style='mso-bidi-font-weight:normal'><U>sincerely</U></B> believes
        that what was established by God does not have to be obeyed is going to suffer
        the local and temporary consequences of not obeying God's
        law<B style='mso-bidi-font-weight:normal'>,</B> but doesn't stop being
        saved<B style='mso-bidi-font-weight:normal'>,</B> because his sin is
        unconscious<B style='mso-bidi-font-weight:normal'>.</B> If he knew he had
        to obey he would do it<B style='mso-bidi-font-weight:normal'>,</B> and repent
        from not having obeyed before<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The Christian who does not
        obey what God has established</B> because of
        circumstances<B style='mso-bidi-font-weight:
normal'>,</B> pressures<B style='mso-bidi-font-weight:normal'>,</B> weaknesses
        or temptation<B style='mso-bidi-font-weight:normal'>,</B> even when he was
        conscious he had to obey<B style='mso-bidi-font-weight:normal'>,</B> suffers
        the local and temporary consequences of his
        sin<B style='mso-bidi-font-weight:
normal'>.</B> But if he
        <B style='mso-bidi-font-weight:normal'><U>sincerely</U> repents</B> of his
        weakness<B style='mso-bidi-font-weight:normal'>,</B> or fights the temptation
        that led him to error<B style='mso-bidi-font-weight:normal'>,</B> without
        giving in to it<B style='mso-bidi-font-weight:normal'>,</B> repentant for
        having let himself be deceived<B style='mso-bidi-font-weight:normal'>,</B>
        does not lose his salvation
        either<B style='mso-bidi-font-weight:normal'>,</B> because he did not do
        it voluntarily<B style='mso-bidi-font-weight:normal'>,</B> but under human
        or demonic pressure<B style='mso-bidi-font-weight:normal'>.</B> A good example
        of this would be Peter's denial<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>A Christian, whom, surprised
        by sin, falls in it,</B> will no avoid the local and temporary consequences
        of his sin<B style='mso-bidi-font-weight:normal'>,</B> but if he
        <B style='mso-bidi-font-weight:
normal'><U>sincerely</U> repents</B> he does not lose his salvation because
        his sin was not premeditated<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>All this is true;</B> but from
        there to affirming that what was established by God does not have to be
        obeyed<B style='mso-bidi-font-weight:normal'>,</B> because we are under grace
        and we can disobey to our heart's
        delight<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>there is a large and deep abyss; and
            that abyss has a name: let's try not to fall in it.</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><A HREF="html/en/English.html">Back to the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
