<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="GENERATOR" content="Mozilla/4.6 [en] (Win95; I) [Netscape]">
    <title>Pharisees did not abey God's Law</title>
    <!-- Created with AOLpress/2.0 -->
</head>
<body bgcolor="#FFFFFF">

<center><b><font size=+2>Pharisees were not faithfully obedient to God's
    Law as many brothers think now a day</font></b></center>

<p>&nbsp;&nbsp;&nbsp; Pharisees are depicted by some brethren now a day
    as people who really tried hard to obey God's Law, and even as if they
    really were perfect in their deeds.&nbsp; These brethren even think that
    the <b>only</b> sin of the Pharisees was to reject Jesus.&nbsp; Even many
    of them think that if someone could be saved by their own works, by obeying
    God's Law, it was the Pharisees.
    <br>&nbsp;&nbsp;&nbsp; <b>It is not true.</b> On the contrary, <b>they
        feigned that they obeyed, but they really didn't.</b> They were hypocritical
    in all they did.&nbsp; They did not obey God's behavior laws.&nbsp; <b>The
        only laws they kept were the rites, </b>because this was what gave them
    leverage with the religious elite.&nbsp; By keeping all the laws concerning
    rites, sacrificing of lambs, giving of tithes, etc., which were economically
    convenient for the priests, they increased their political clout, their
    influence within the governing body.
    <br>&nbsp;&nbsp;&nbsp; I will reproduce for you Matthew 23: 1-39 so that
    you can see for yourself who the Pharisees were.&nbsp; <b>This is not my
        opinion, it is Jesus' opinion.</b>&nbsp; As you read this passage, note
    that <b>Jesus called them hypocrites seven times</b>.&nbsp; In <b>verse
        3</b>, he denounces that they say, but did not.&nbsp; <b>In verse 4,</b>
    Jesus says that they put heavy loads on men, but they themselves did not
    touch the loads. <b>In verse 5</b>, he declares that everything they did
    was to be seen of men.&nbsp; <b>In verse 13,</b> Christ states that the
    <u>Pharisees
        will not enter in heaven</u>.&nbsp; <b>In verses 17, 19 and 24</b>, he
    says that they were fools and that they were blind. <b>In 25</b>, Jesus
    affirms that they were full of extortion and excess. <b>In verse 28</b>,
    he says that <u>they were full of hypocrisy and iniquity</u>. And,
    <b>in
        verse 33</b>, he asserts that <u>they are a brood of vipers that will not
        avoid hell</u><b>.</b>
    <br>&nbsp;&nbsp;&nbsp; Now, after reading Jesus' opinion about the Pharisees,
    would you think that they were people who really endeavored to fulfill
    God's commandments?&nbsp; Why then are there so many brothers who set the
    Pharisees as examples of people who had a great commitment to God's Law?&nbsp;
    Why don't they mention instead men like Job, Daniel, Samuel, Noah, Josiah,
    and the prophets?
    <br>&nbsp;&nbsp;&nbsp; Let us now read a real description of what a Pharisee
    was.
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "<font size=-2>1
</font><i>Then
    spake Jesus to the multitude, and to his disciples, </i><font size=-2>2
</font><i>saying:
    The</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; scribes and the Pharisees
        sit in Moses' seat. </i><font size=-2>3 </font><i>All therefore whatsoever
        they</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; bid you observe, that
        observe and do; but do not ye after their works:<b> for</b></i>
    <br><b><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; they say, and do not.</i></b><font size=-2>4
    </font><i>For they bind heavy burdens and grievous to be borne,</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and lay them on men's
        shoulders;
        <b>but they themselves will not move them</b></i>
    <br><b><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; with one of their
        fingers. </i></b><font size=-2>5 </font><i>But <b>all their works they
        do for to be seen of men:</b></i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; they make broad their
        phylacteries, and enlarge the borders of their garments,</i>
    <br><font size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        6 </font><i>and love the uppermost rooms at feasts, and the chief seats
        in the synagogues,</i>
    <br><font size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        7 </font><i>and greetings in the markets, and to be called of men, Rabbi,
        Rabbi.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>8
    </font><i>But
        be not ye called Rabbi, for one is your Master, even Christ; and all</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ye are brethren.
    </i><font size=-2>9
    </font><i>And
        call no man your father upon the earth: for one is your</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Father, which is in heaven.
    </i><font size=-2>10
    </font><i>Neither
        be ye called masters: for one is your</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Master, even Christ.
    </i><font size=-2>11
    </font><i>But
        he that is greatest among you shall be your servant.</i>
    <br><font size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        12&nbsp; </font><i>And whosoever shall exalt himself shall be abased; and
        he that shall humble</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; himself shall be exalted.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>13
    </font><i>But
        woe unto you, <u>scribes and Pharisees, hypocrites</u>! for
        <b>ye shut
            up the</b></i>
    <br><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kingdom of heaven
        against men: for ye neither go in yourselves,</b> neither suffer</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ye them that are entering
        to go in.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>14
    </font><i>Woe
        unto you, <u>scribes and Pharisees, hypocrites</u>! for <b>ye devour widows'</b></i>
    <br><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; houses, </b>and for
        a pretence make long prayer: therefore ye shall receive the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; greater damnation.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>15
    </font><i>Woe
        unto you, <u>scribes and Pharisees, hypocrites</u>! for ye compass sea
        and</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; land to make one proselyte,
        and when he is made, <b>ye make him twofold more the</b></i>
    <br><b><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; child of hell than
        yourselves.</i></b>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>16
    </font><i>Woe
        unto you, ye <b>blind guides</b>, which say: Whosoever shall swear by the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; temple, it is nothing;
        but whosoever shall swear by the gold of the temple, he is a</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; debtor! </i><font size=-2>17
    </font><i>Ye
        fools and blind, for whether is greater, the gold, or the temple that</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sanctifieth the gold?
    </i><font size=-2>18
    </font><i>And:
        Whosoever shall swear by the altar, it is nothing;</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; but whosoever sweareth
        by the gift that is upon it, he is guilty. </i><font size=-2>19 </font><b><i>Ye
        fools and</i></b>
    <br><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; blind,</b> for whether
        is greater, the gift, or the altar that sanctifieth the gift?</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>20
    </font><i>Whoso
        therefore shall swear by the altar, sweareth by it, and by all things</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; thereon. </i><font size=-2>21
    </font><i>And
        whoso shall swear by the temple, sweareth by it, and by him that</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dwelleth therein.
    </i><font size=-2>22
    </font><i>And
        he that shall swear by heaven, sweareth by the throne</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; of God, and by him that
        sitteth thereon.</i>
    <br><font size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        23</font><i>Woe unto you, scribes and <b>Pharisees, hypocrites</b>! for
        <b>ye pay tithe of mint</b></i>
    <br><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and anise and cummin</b>,
        and have omitted the weightier matters of the law,</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; judgment, mercy, and
        faith. These ought ye to have done, and not to leave the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; other undone.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=-2>24
    </font><b>Ye
        blind guides</b>, which strain at a gnat, and swallow a camel. <font size=-2>25</font>
        Woe unto</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you, <b>scribes and Pharisees,
        hypocrites</b>! for ye make clean the outside of the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cup and of the platter,
        but within they are <b>full of extortion and excess.</b> <font size=-2>26</font>
        Thou</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; blind Pharisee, cleanse
        first that which is within the cup and platter, that the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; outside of them may be
        clean also.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>27
    </font><i>Woe
        unto you, <b>scribes and Pharisees, hypocrites</b>! for ye are like unto</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; whited sepulchres, which
        indeed appear beautiful outward, but are within full</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; of dead men's bones,
        and of all uncleanness. </i><font size=-2>28 </font><i>Even so ye also
        outwardly</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; appear righteous unto
        men, but within <b>ye are full of hypocrisy and iniquity</b>. </i><font size=-2>29
    </font><i>Woe</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; unto you, <b>scribes
        and Pharisees, hypocrites</b>! because ye build the tombs of the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; prophets, and garnish
        the sepulchres of the righteous, </i><font size=-2>30 </font><i>and say:
        If we had been</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in the days of our fathers,
        we would not have been partakers with them in the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; blood of the prophets.
    </i><font size=-2>31
    </font><i>Wherefore
        ye be witnesses unto yourselves, that ye are</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the children of them
        which killed the prophets. 32 Fill ye up then the measure</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; of your fathers.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>33
    </font><b><i><u>Ye
        serpents, ye generation of vipers</u>, how can ye escape the damnation
        of hell?</i></b>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>34
    </font><i>Wherefore,
        behold, I send unto you prophets, and wise men, and scribes, and</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; some of them ye shall
        kill and crucify; and some of them shall ye scourge in your</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; synagogues, and persecute
        them from city to city, </i><font size=-2>35 </font><i>That upon you may
        come all</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the righteous blood shed
        upon the earth, from the blood of righteous Abel unto the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; blood of Zacharias son
        of Barachias, whom ye slew between the temple and the</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; altar. </i><font size=-2>36
    </font><i>Verily
        I say unto you: All these things shall come upon this generation.</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i><font size=-2>37
    </font><i>O
        Jerusalem, Jerusalem, thou that killest the prophets, and stonest them
        which</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; are sent unto thee, how
        often would I have gathered thy children together, even as</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a hen gathereth her chickens
        under her wings, and ye would not! </i><font size=-2>38 </font><i>Behold,
        your</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; house is left unto you
        desolate.
    </i><font size=-2>39 </font><i>For I say unto you, Ye shall not
        see me henceforth,</i>
    <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; till ye shall say, Blessed
        is he that cometh in the name of the Lord</i>."
<p>&nbsp;&nbsp;&nbsp; As we have seen, the Pharisees did not obey the law,
    they only pretended they did.&nbsp; At the same time, they invented new
    laws and interpretations of laws, which were not authorized by God.&nbsp;
    They used to fabricate ludicrous doctrines to be imposed on men.&nbsp;
    These unauthorized doctrines are what many people today think the law was.
<p>&nbsp;&nbsp;&nbsp; Those who believe that the Pharisees were great people,
    listen to the words of Christ.
<center>
    <p><a href="html/en/English.html">Back to the index</a></center>

</body>
</html>
