<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>8</o:TotalTime>
                    <o:Created>2007-08-10T18:53:00Z</o:Created>
                    <o:LastSaved>2007-08-10T19:01:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>848</o:Words>
                    <o:Characters>4836</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>40</o:Lines>
                    <o:Paragraphs>11</o:Paragraphs>
                    <o:CharactersWithSpaces>5673</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Pragmatism</TITLE>
                    <LINK rel=File-List href="Pragmatism_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>PRAGMATISM:
  YOU SHALL KNOW THEM BY THEIR FRUITS<o:p></o:p></SPAN></B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>Pragmatism is the
        philosophical method that estimates that the only appropriate criteria to
        find the truth or convenience of any doctrine or theory must be founded in
        the observation of its real effects obtained in the
        practice<B style='mso-bidi-font-weight:
normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>In the following passage
        we see that Jesus Christ advised us to have a pragmatic attitude in relation
        to the case<B style='mso-bidi-font-weight:normal'>,</B> fame and
        <B style='mso-bidi-font-weight:normal'>&#147;</B>all
        talk<B style='mso-bidi-font-weight:
normal'>&#148;</B> (rhetorical)<B style='mso-bidi-font-weight:normal'>,</B>
        of those who claim to follow God<B style='mso-bidi-font-weight:normal'>.</B>
        If the tree is good its fruits are
        good<B style='mso-bidi-font-weight:normal'>.</B> We do not pick grapes from
        thorns or figs from thistles<B style='mso-bidi-font-weight:
normal'>.</B> Do not judge humans for their
        fame<B style='mso-bidi-font-weight:
normal'>,</B> name<B style='mso-bidi-font-weight:normal'>,</B> aspect or
        words<B style='mso-bidi-font-weight:normal'>,</B> but for their
        fruit<B style='mso-bidi-font-weight:normal'>,</B> that is
        pragmatism<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B>15 <I style='mso-bidi-font-style:normal'>Beware of false
        prophets<B style='mso-bidi-font-weight:normal'>,</B>
        <SPAN class=GramE>which</SPAN> come to you in sheep's
        clothing<B style='mso-bidi-font-weight:normal'>,</B> but inwardly they are
        ravening wolves<B style='mso-bidi-font-weight:normal'>.</B>
    </I>16<I style='mso-bidi-font-style:normal'>
        <B style='mso-bidi-font-weight:normal'><U>Ye shall know them by their
            fruits</U>. Do men gather grapes of thorns, or figs of thistles?
        </B></I>17<B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:
normal'> Even so every good tree <SPAN class=SpellE>bringeth</SPAN> forth
        good fruit; but a corrupt tree <SPAN class=SpellE>bringeth</SPAN> forth evil
        fruit.</I></B> 18<I style='mso-bidi-font-style:normal'> A good tree cannot
        bring forth evil
        <SPAN class=GramE>fruit<B style='mso-bidi-font-weight:normal'>,</B></SPAN>
        neither can a corrupt tree bring forth good
        fruit<B style='mso-bidi-font-weight:normal'>.</B> </I>19
        <I style='mso-bidi-font-style:normal'>Every tree that
            <SPAN class=SpellE>bringeth</SPAN> not forth good fruit is hewn
            down<B style='mso-bidi-font-weight:normal'>,</B> and cast into the
            fire<B style='mso-bidi-font-weight:normal'>.</B>
        </I>20<I style='mso-bidi-font-style:
normal'> <B style='mso-bidi-font-weight:normal'>Wherefore by their fruits
        ye shall know
        them</B></I><B style='mso-bidi-font-weight:normal'>.&#148;</B> (Mt
        7<B style='mso-bidi-font-weight:normal'>:</B>15-20)
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>There have been brothers that have opposed the idea that we should
            be pragmatic.</B> They argue that if it is really true that we should be
        pragmatic before the wolves dressed as
        sheep<B style='mso-bidi-font-weight:normal'>,</B> there are several things
        that a Christian will do<B style='mso-bidi-font-weight:normal'>,</B> which
        if we apply this philosophy we would find ourselves
        <B style='mso-bidi-font-weight:normal'>&#147;</B>like tree without good
        fruit<B style='mso-bidi-font-weight:normal'>&#148;,</B> when in truth they
        are fruits for eternal life<B style='mso-bidi-font-weight:normal'>.</B> And
        they added that they did not believe that Christians should be pragmatic
        in our philosophy of life<B style='mso-bidi-font-weight:normal'>.</B>
        Adding<B style='mso-bidi-font-weight:normal'>,</B> pragmatic are the people
        of the world<B style='mso-bidi-font-weight:normal'>,</B> and that is why
        they distance themselves from
        religion<B style='mso-bidi-font-weight:normal'>,</B> for they do not see
        fruits<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>In truth these brothers confuse what I say. It is not true that
        pragmatism causes someone to distance themselves from religion.</B> What
        causes these pragmatic people (who are not so much) to distance themselves
        from religion is the goal or interest which they place before
        themselves<B style='mso-bidi-font-weight:normal'>,</B> and to which they
        apply pragmatism<B style='mso-bidi-font-weight:normal'>.</B> They want
        gold<B style='mso-bidi-font-weight:
normal'>,</B> fame<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>ego<B style='mso-bidi-font-weight:
normal'>&#148;,</B> tinsel<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:normal'>...</B> If to such goals or interests
        they apply pragmatism<B style='mso-bidi-font-weight:normal'>,</B> truly
        difficultly will they end up in the churches
        pews<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>They have observed the
        fruits of those who sit to listen to the
        sermon<B style='mso-bidi-font-weight:
normal'>,</B> and have noticed that their fruits are nothing like the ones
        for which they yearn<B style='mso-bidi-font-weight:normal'>.</B> This is
        why they abandon this path<B style='mso-bidi-font-weight:normal'>,</B> because
        pragmatically speaking it does not lead them to their
        intent<B style='mso-bidi-font-weight:normal'>.</B> They do not care about
        inner peace<B style='mso-bidi-font-weight:normal'>;</B> they do not care
        about spiritual happiness<B style='mso-bidi-font-weight:normal'>,</B> but
        the flesh<B style='mso-bidi-font-weight:normal'>;</B> they do not care about
        the satisfaction of giving<B style='mso-bidi-font-weight:normal'>,</B> but
        of receiving<B style='mso-bidi-font-weight:normal'>,</B> etc&#133; This is
        why they distance themselves from
        faith<B style='mso-bidi-font-weight:normal'>,</B> because faith does not
        give them money<B style='mso-bidi-font-weight:normal'>,</B>
        women<B style='mso-bidi-font-weight:normal'>,</B> lifts their
        ego<B style='mso-bidi-font-weight:normal'>,</B> or gives them
        fame<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:
normal'>.,</B> in this they are really pragmatic in relation to their
        goals<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>But if they were <U>truly</U> pragmatic they would choose faith,</B>
        for they would realize that all those things they want to obtain will not
        last long<B style='mso-bidi-font-weight:normal'>,</B> only 70 or 80
        years<B style='mso-bidi-font-weight:normal'>,</B> and then an eternity without
        joy<B style='mso-bidi-font-weight:normal'>,</B> without
        God<B style='mso-bidi-font-weight:
normal'>.</B> The wise thing<B style='mso-bidi-font-weight:normal'>,</B>
        the pragmatic from the vast point of view of
        existence<B style='mso-bidi-font-weight:
normal'>,</B> is faith<B style='mso-bidi-font-weight:normal'>,</B> the adoration
        of the omnipotent God<B style='mso-bidi-font-weight:normal'>,</B> kind and
        forgiving<B style='mso-bidi-font-weight:normal'>,</B> and the acceptance
        of His Son Jesus Christ<B style='mso-bidi-font-weight:normal'>,</B> because
        he saves us from the condemnation to which our sins drive
        us<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>That is true pragmatism, an integral
            pragmatism, a pragmatism that takes into consideration all of the factors,
            not only the ones that are in front of the nose.
            <o:p></o:p>
        </B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>The error of these people
        of the world is not applying
        pragmatism<B style='mso-bidi-font-weight:normal'>,</B> their error is that
        they do not give importance to eternal
        life<B style='mso-bidi-font-weight:normal'>,</B>
        holiness<B style='mso-bidi-font-weight:
normal'>,</B> relationship with
        God<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:normal'>.,</B> and this is why their pragmatism
        distances them from the Church<B style='mso-bidi-font-weight:normal'>,</B>
        because they apply it to money<B style='mso-bidi-font-weight:normal'>,</B>
        personal pride<B style='mso-bidi-font-weight:normal'>,</B>
        power<B style='mso-bidi-font-weight:normal'>,</B>
        pleasure<B style='mso-bidi-font-weight:
normal'>,</B> etc<B style='mso-bidi-font-weight:normal'>..</B>
        <B style='mso-bidi-font-weight:normal'>Likewise, if the goal of a pragmatic
            person was to look for easy women, it was not logical to seek these women
            in a church, but in a brothel. This would be pragmatic. But this does not
            mean that pragmatism drives us to brothels; it depends of the goals pursued
            by the one who practices pragmatism.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>It is the same as a
        knife<B style='mso-bidi-font-weight:normal'>.</B> The knife itself does not
        drive to an assassination<B style='mso-bidi-font-weight:normal'>.</B> Chefs
        and house wives use it to cut meat and other
        things<B style='mso-bidi-font-weight:normal'>.</B> The fact that an assassin
        uses it to kill<B style='mso-bidi-font-weight:normal'>,</B> it does not mean
        that the knife is bad<B style='mso-bidi-font-weight:normal'>,</B> it does
        not mean that the knife drives to the
        assassination<B style='mso-bidi-font-weight:
normal'>.</B> The same occurs with
        pragmatism<B style='mso-bidi-font-weight:
normal'>,</B> it all depends on how it is used and how it is
        applied<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>If someone wishing to
        preach the gospel attends parties<B style='mso-bidi-font-weight:normal'>,</B>
        dances<B style='mso-bidi-font-weight:normal'>,</B>
        banquets<B style='mso-bidi-font-weight:
normal'>,</B> social reunions<B style='mso-bidi-font-weight:normal'>,</B>
        birthdays<B style='mso-bidi-font-weight:normal'>,</B>
        etc&#133;<B style='mso-bidi-font-weight:normal'>,</B> and after doing so
        observes that through those means he does not get too far with his
        intent<B style='mso-bidi-font-weight:
normal'>,</B> he would proceed pragmatically if he left that and dedicated
        himself to preaching<B style='mso-bidi-font-weight:normal'>,</B> let us
        say<B style='mso-bidi-font-weight:normal'>,</B> in a
        tent<B style='mso-bidi-font-weight:
normal'>.</B> Why<B style='mso-bidi-font-weight:normal'>?</B> Because from
        experience (pragmatism) he came to the conclusion that that is not the way
        to reach the goal sought<B style='mso-bidi-font-weight:normal'>,</B> which
        is that people hear the gospel<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>As we can see
        <B style='mso-bidi-font-weight:normal'>pragmatism neither distances us nor
            brings us closer to faith,</B> it only teaches us that we should or should
        not follow a method or path<B style='mso-bidi-font-weight:normal'>.</B> Being
        pragmatic is not bad<B style='mso-bidi-font-weight:normal'>.</B> The only
        bad thing would be exaggerating the tendency to
        pragmatism<B style='mso-bidi-font-weight:normal'>,</B> for if it is
        exaggerated<B style='mso-bidi-font-weight:normal'>,</B> the person inhibits
        himself in his decisions<B style='mso-bidi-font-weight:normal'>,</B> because
        he could not decide by reasoning
        alone<B style='mso-bidi-font-weight:
normal'>,</B> but he would have to put it all into
        practice<B style='mso-bidi-font-weight:
normal'>.</B> Such an exaggerated person would not approve nor decide anything
        until he sees it in practice<B style='mso-bidi-font-weight:normal'>.</B>
        That exaggeration would be bad<B style='mso-bidi-font-weight:normal'>;</B>
        but pragmatism is not bad<B style='mso-bidi-font-weight:normal'>,</B> Jesus
        Christ advises us in the passage we read earlier to be
        pragmatic<B style='mso-bidi-font-weight:
normal'>.</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Return to
            Index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
