<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>The False Predestination and the Fifth Commandment</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <B><FONT size="5"> The False Predestination and the Fifth
        Commandment</FONT></B>
<P>
    &nbsp;&nbsp;&nbsp; Many brethren have been dogmatically taught to believe
    in predestination Jansen-Calvin style. This belief in predestination has
    two or three versions. One of these versions states that every thing that
    happens, from the fall of a leaf to the death of a person, is caused <B>
    directly</B> by God, and has been predestined to happen specifically year,
    month, day, hour, minute and second. Another version is that large events
    such as birth and death has been predestined, but not small events. <B> However,
    all versions agree that birth and death are predestined.</B>
<P>
    <B> The Fifth Commandment</B>, as it reads in Ex 20:12 says:
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Honour thy father and thy mother, <B> that thy days
    may <U> be long</U></B> upon the land which the LORD thy God giveth
    thee</I>."&nbsp;&nbsp;&nbsp; ( Ex 20:12 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; From this passage it is easy to get to the conclusion
    that the one who honors his father and mother is going to live more than
    the one who doesn't. This would mean that one of the factors that enters
    in the length of a person's life is how they relate to their parents.
    Consequently <B> the length of the life of a person was not <U> inflexibly</U>
    predestined by God</B>. Therefore the date of a person's death is not
    predestined. Note that it was said personally by God. This is in agreement
    with what Solomon says in Eccl 7:17.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Be not over much wicked, neither be thou foolish:
    <B> why shouldest thou die <U> before</U> thy
        time</B></I>?"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Eccl 7:17)
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; In Dt 4:40 we see that the length of time the Israelites
    were going to stay in the promised land, was not a predestined number of
    years, but depended on the behavior of the people regarding the commandments
    of God.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I><B>Thou shalt keep therefore his statutes, and his
    commandments</B>, which I command thee this day, that it may go well with
    thee, and with thy children after thee, and <B> that thou mayest prolong
        thy days</B> upon the earth, which the LORD thy God giveth thee, for
    ever</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( Dt 4:40 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; The verse below, likewise, teaches us what God said to
    King Solomon, when he succeeded his father King David in the throne.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>And if thou wilt walk in my ways, to keep my statutes
    and my commandments&nbsp; as thy father David did walk, then </I><B><I> I
    will lengthen thy
    days</I>.</B>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( I K 3:14 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; <B>As seen in all three previous passages, there is no
    preset time for the death of each and every human being</B>. Death depends
    of several factors. If an individual's health, vitality, and genes, would
    normally allow him to live 70 years, but this individual behaves foolishly,
    wickedly, and transgresses God's commandments, he will instead last less
    than 70 years. According to the verse recently read, God, Himself, said to
    Solomon, that if the king would be obedient, God would prolong his life.
<P>
    We also will see that in Solomon's mind set there was no such idea of
    predestination, but instead, he had the solid concept that life span could
    be shortened or lengthened according to certain circumstances. Let's read
    Prv 3:1-2; 3:16; 4:10 and 28:16.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>My son, forget not my law; but let thine heart keep
    my commandments,&nbsp; <B>for length of days, and long life</B>, and peace,
    shall they add to thee</I>." ( Prv 3:1-2)
</BLOCKQUOTE>
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Happy is the man that findeth wisdom, and the man
    that getteth understanding. For the merchandise of it is better than the
    merchandise of silver, and the gain thereof than fine gold. She is more precious
    than rubies, and all the things thou canst desire are not to be compared
    unto her. <B> Length of days is in her right hand</B>; and in her left hand
    riches and
    honour</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Prv 3:13-16 )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>Hear, O my son, and receive my sayings; and <B> the
        years of thy life shall be
        many</B></I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Prv 4:10
        )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>The prince that wanteth understanding is also a great
        oppressor; but he that hateth covetousness <B> shall <U> prolong</U> his
            days</B></I>." ( Prv 28:16 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; It is evident that in Solomon's mind set predestination
    didn't exist in the sense that the day of birth and death was inflexibly
    fixed. <B> Prophet Daniel also thought the same way</B>. The time length
    of tranquility of king Nabuchadnezzar was not pre-set, it depended of what
    he did or did not do.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>Wherefore, O king, let my counsel be acceptable unto
    thee, and break off thy sins by righteousness, and thine iniquities by shewing
    mercy to the poor; if it may be <B> a <U> lengthening</U> of thy
        tranquility</B></I>." ( Dn 4:27 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; <B>Moses, who knew better that all scholars and Bible
    teachers</B>, shows us in several instances, that he did not believe in the
    predestination of death. Let's heed his words.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "<I>That thou mightest fear the LORD thy God, to keep
    all his statutes and his commandments, which I command thee, thou, and thy
    son, and thy son's son, all the days of thy life; and <B> that thy days may
        be prolonged</B></I>." ( Dt 6:2 )
    <P>
        &nbsp;&nbsp;&nbsp; "8 <I> Therefore shall ye keep all the commandments which
        I command you this day, that ye may be strong, and go in and possess the
        land, whither ye go to possess it; </I> 9 <I> and <B> that ye may <U>
        prolong</U> your days</B> in the land, which the LORD sware unto your fathers
        to give unto them and to their seed, a land that floweth with milk and
        honey</I>."&nbsp;&nbsp;&nbsp;&nbsp; ( Dt 11:8-9 )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>That his heart be not lifted up above his brethren,
        and that he turn not aside from the commandment, to the right hand, or to
        the left, to the end <B> that he may prolong his days</B> in his kingdom,
        he, and his children, in the midst of
        Israel</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( Dt 17:20 )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>But thou shalt in any wise let the dam go, and take
        the young to thee; that it may be well with thee, and <B> that thou mayest
            prolong thy days</B></I>." ( Dt 22:7 )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>But thou shalt have a perfect and just weight, a perfect
        and just measure shalt thou have, <B> that thy days may be lengthened</B>
        in the land which the LORD thy God giveth
        thee.</I>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( Dt 25: 15 )
    <P>
        &nbsp;&nbsp;&nbsp; "<I>But if thine heart turn away, so that thou wilt not
        hear, but shalt be drawn away, and worship other gods, and serve them; I
        denounce unto you this day, that ye shall surely perish, and that <B> ye
            shall not prolong your days</B> upon the land, whither thou passest over
        Jordan to go to possess it</I>." ( Dt 30:17-18 )
    <P>
        &nbsp;&nbsp;&nbsp; <I>"For it is not a vain thing for you; because it is
        your life, and through this thing <B> ye shall prolong your days</B> in the
        land, whither ye go over Jordan to possess
        it</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( Dt 32:47 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; <B>In all the above passages we see that persons whose
    authority cannot be questioned, have us know that there is no such thing
    as a predestined day of death</B>. Some events could be predestined according
    to divine plans, as was the day of the crucifixion. It had to happen the
    day before de Passover, the very day the ceremonial lamb was to be killed;
    but it doesn't mean that every thing is predestined.
<P>
    <B>&nbsp;&nbsp;&nbsp; Likewise, we will see in the next passage, that the
        day of King Hezekiah's death</B> was not inflexibly fixed or predestined,
    because after his prayer a span of fifteen years was added to his life. If
    his death would have been predestined, for the time Isaiah announced Hezekiah's
    death, it would not have been changed for fifteen years latter. Similarly,
    if his death would have been predestined for fifteen years later, Isaiah
    would not had said that he was to die fifteen years before, because it would
    not have been true.
<BLOCKQUOTE>
    &nbsp;&nbsp;&nbsp; "1 <I><B> In those days was Hezekiah <U> sick unto
    death</U></B><U>.</U> And Isaiah the prophet the son of Amoz came unto him,
    and said unto him: <B> Thus saith the LORD</B>: Set thine house in order,
    for thou shalt die, and not live. </I> 2 <I> Then Hezekiah turned his face
    toward the wall, and prayed unto the LORD, </I> 3 <I> and said: Remember
    now, O LORD, I beseech thee, how I have walked before thee in truth and with
    a perfect heart, and have done that which is good in thy sight. And Hezekiah
    wept sore. </I> 4 <I> Then came the word of the LORD to Isaiah, saying: </I>
    5 <I> Go, and say to Hezekiah: Thus saith the LORD, the God of David thy
    father: I have heard thy prayer, I have seen thy tears, behold, <B> I will
        add unto thy days fifteen
        years</B></I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ( Isa 38:1-5 )
</BLOCKQUOTE>
<P>
    &nbsp;&nbsp;&nbsp; <B>Could some allege</B> that Hezekiah's death was
    predestinated for the time Isaiah first announced it, and God changed the
    predestination to fifteen years later? Well, in this case they are using
    a euphemism ( something very common in religion ) by calling "predestination"
    what is not predestination, inasmuch as predestination is unchangeable. If
    predestination is not unchangeable, then neither should other predestinations
    being preached be unchangeable. If predestination is changeable, then it
    is not predestination.
<P>
    &nbsp;&nbsp;&nbsp; <B>In fact, those who <U> say</U> they believe in
    predestination, don't really believe in it.</B> They are victims of
    autosuggestion, <B> but do not <U> really</U> believe it per se</B>. Let's
    take a look into the facts. According to people who believe in predestination,
    there are two events that are certainly thought to be predestined, birth
    and death. Nonetheless, <B> when predestination believers are sick they go
    to the doctor</B>, instead of trusting that if they are predestined to live,
    they will. If it is predestined that they die, they are going to die even
    if they go to the best doctor; and if death is not predestined for this time
    of illness, they will live whether or not they go to a doctor at all. Why
    then waste one's money in doctors? So, it is evident that they really don't
    believe in predestination even when they say they do, and <B> even when they
    honestly think so.</B>
<P>
    &nbsp;&nbsp;&nbsp; <B>The same occurs with the predestination of births.</B>
    If they believe in predestination they would not use contraception, because
    if a birth is not predestined, no conception will occur, and if a birth is
    predestined no contraception will avoid it. However, contraception is used
    because <B> they really do not believe in predestination</B>.
<P>
    &nbsp;&nbsp;&nbsp; <B>The same occurs when they buy insurance</B> for a house
    or car. A believer in predestination would say if something costly is going
    to happen it will, and we will have to pay for it anyway, then, why to buy
    insurance?. One who does not believe in predestination would buy insurance
    to defray unknown future expenses we may be unable to pay.
<P align="center">
    <B><A HREF="html/en/English.html"> Back to the index</A></B>
</BODY>
</HTML>
