<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>9</o:TotalTime>
                    <o:Created>2011-05-26T16:57:00Z</o:Created>
                    <o:LastSaved>2011-05-26T17:09:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>820</o:Words>
                    <o:Characters>4675</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>38</o:Lines>
                    <o:Paragraphs>10</o:Paragraphs>
                    <o:CharactersWithSpaces>5485</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="3074"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Reasons why people don't want to know the truth</TITLE>
                    <LINK rel=File-List href="ReasonsNotTruth_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:18.0pt'>Reasons why people don't want to know
  the truth<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Not wanting
        to admit error in man is due to a mix of feelings in the process of
        reasoning<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>I have
        observed throughout my life man <B style='mso-bidi-font-weight:normal'>trying
        to justify things by way of twisted interpretations</B> of what they
        <SPAN class=GramE>read<B style='mso-bidi-font-weight:normal'>,</B></SPAN>
        that being about news<B style='mso-bidi-font-weight:normal'>,</B> questions
        of law<B style='mso-bidi-font-weight:normal'>,</B> or the
        Bible<B style='mso-bidi-font-weight:
normal'>.</B> The reasons that move them to do that are very
        diverse<B style='mso-bidi-font-weight:normal'>,</B> so much in common everyday
        life as in questions of religion<B style='mso-bidi-font-weight:normal'>.</B>
        Let's see the latter<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>1) Fear of offending God</B> if he <SPAN class=GramE>doubt</SPAN>
        what men have taught him<B style='mso-bidi-font-weight:normal'>,</B> and
        submit it to reasoning<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>2) Fear of finding a truth</B> which he feels is too much of a
        burden<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>3) Fear of changing doctrine</B>
        and then have to face those who previously thought like him and
        <SPAN class=GramE>be</SPAN> considered a
        traitor<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>4) Pride,</B> the resistance
        to admit that they were wrong and that they had not adequately used their
        mental abilities<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>5) Fear of what is new to
        him,</B> without knowing why he
        fears<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>6) Others want "something new"
        to preach in order to justify their separation from their church</B> or to
        justify a new sect they may want to form or
        maintain<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>7) Another motive is to justify
        himself</B> to continue to admit something that his conscience or intellect
        tells him is incorrect<B style='mso-bidi-font-weight:normal'>,</B> but for
        him<B style='mso-bidi-font-weight:normal'>:</B>
        <B style='mso-bidi-font-weight:normal'>a)</B> its existence is
        convenient<B style='mso-bidi-font-weight:normal'>;</B> or
        <B style='mso-bidi-font-weight:normal'>b)</B> to admit the interpretation
        that is not twisted puts him in a situation of opposition with the rest who
        distortedly believe it<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>8) Justify social, sexual or
        racial prejudices.</B> In the time of African slavery there were some who
        said that blacks did not have a
        soul<B style='mso-bidi-font-weight:normal'>,</B> in order to justify what
        was done in their environment<B style='mso-bidi-font-weight:
normal'>.</B> <SPAN style='mso-tab-count:1'>&nbsp; </SPAN>Others justified
        all of that by assuring<B style='mso-bidi-font-weight:normal'>,</B> without
        a Biblical basis for it<B style='mso-bidi-font-weight:normal'>,</B> that
        the curse of Noah for
        <st1:place w:st="on">Cam</st1:place>
        was what had provoked
        black slavery<B style='mso-bidi-font-weight:normal'>.</B> There was an American
        pastor<B style='mso-bidi-font-weight:normal'>,</B> from the southern
        states<B style='mso-bidi-font-weight:normal'>,</B> when I was very
        young<B style='mso-bidi-font-weight:normal'>,</B> who tried to
        <B style='mso-bidi-font-weight:
normal'>"</B>demonstrate<B style='mso-bidi-font-weight:normal'>"</B> that
        blacks were given to mockery<B style='mso-bidi-font-weight:normal'>,</B>
        according to him<B style='mso-bidi-font-weight:normal'>,</B> because of the
        inheritance of
        <st1:place w:st="on">Cam</st1:place>
        who made fun of Noah's
        nudity<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>9) Desire to maintain
        <SPAN class=GramE>oneself</SPAN> "ignorant"</B> or at least
        <B style='mso-bidi-font-weight:normal'>"</B>skeptical<B style='mso-bidi-font-weight:normal'>"</B>
        about the validity of a norm of conduct or religion so as not to find themselves
        obligated to comply with or feel bad about not
        complying<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>10) To justify their sin by
        forcing themselves to believe that they understand religion or the Bible
        in another manner.</B> This was the case of a pastor who amplified the concept
        of forgiveness and grace so much<B style='mso-bidi-font-weight:normal'>,</B>
        that he included in this concept the continual adultery of his wife and the
        repulsive consent of his towards such a
        sin<B style='mso-bidi-font-weight:normal'>.</B> In order to justify
        himself<B style='mso-bidi-font-weight:normal'>,</B> he said I was guided
        by the law<B style='mso-bidi-font-weight:normal'>,</B> but he was under
        grace<B style='mso-bidi-font-weight:normal'>.</B> (Of all these cases which
        I mention I have their names and
        sect<B style='mso-bidi-font-weight:normal'>;</B> but I'm not specific because
        I don't want to unnecessarily damage
        others)<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>11) To think that the modification
        of his beliefs after many years,</B> either acquired since
        childhood<B style='mso-bidi-font-weight:normal'>,</B> by family tradition
        or when he converted to the
        gospel<B style='mso-bidi-font-weight:normal'>,</B> can put salvation in
        danger<B style='mso-bidi-font-weight:normal'>,</B> or the concept that the
        person believes God has of him and his
        <B style='mso-bidi-font-weight:
normal'>"</B>faith<B style='mso-bidi-font-weight:normal'>".</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>12) The lack of confidence
        in their own analysis of the Word of God,</B> which makes them imagine that
        all new things that come into their
        minds<B style='mso-bidi-font-weight:normal'>,</B> all new idea that are suggested
        are
        <B style='mso-bidi-font-weight:normal'>"</B>proof<B style='mso-bidi-font-weight:normal'>"</B>
        that God submits to them<B style='mso-bidi-font-weight:normal'>,</B> in order
        to see if that person maintains himself
        <B style='mso-bidi-font-weight:normal'>"</B>firm<B style='mso-bidi-font-weight:normal'>".</B>
        Others believe that it is a
        <B style='mso-bidi-font-weight:normal'>"</B>temptation from the
        Devil<B style='mso-bidi-font-weight:normal'>".</B> This was what a priest
        of a town I frequently visited told his congregation with respect to the
        preaching of the Protestants of the
        area<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>13) Confuse <U>stubbornness</U>
        with <U>faith</U>,</B> and categorize reasoning about the Word of
        God<B style='mso-bidi-font-weight:
normal'>,</B> as a dangerous
        doubt<B style='mso-bidi-font-weight:normal'>,</B> as a weakness in the faith
        and a temptation<B style='mso-bidi-font-weight:normal'>.</B> A Christian
        of many years<B style='mso-bidi-font-weight:normal'>,</B> reader of the Bible
        and with a University degree guaranteed to me that to reason about religion
        is a sin<B style='mso-bidi-font-weight:normal'>,</B> and that to use our
        logic was something diabolical<B style='mso-bidi-font-weight:normal'>.</B>
        He did not want to see that Christ used logic in His
        preaching<B style='mso-bidi-font-weight:normal'>,</B> and that Paul fills
        the epistle to the Hebrews with
        reasoning<B style='mso-bidi-font-weight:normal'>.</B> According to
        him<B style='mso-bidi-font-weight:normal'>,</B> his obstinacy and
        stupidity<B style='mso-bidi-font-weight:normal'>,</B> is faith of
        <B style='mso-bidi-font-weight:normal'>"</B>titanic<B style='mso-bidi-font-weight:
normal'>"</B> proportions<B style='mso-bidi-font-weight:normal'>;</B> he
        considered himself a titan in the
        faith<B style='mso-bidi-font-weight:normal'>,</B> because he resisted
        reasoning<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>14) Others do not wish to reach
        the truth because this would prevent them from belonging to an elite group,</B>
        exclusive<B style='mso-bidi-font-weight:normal'>,</B> a small group of
        <B style='mso-bidi-font-weight:
normal'>"</B>chosen<B style='mso-bidi-font-weight:normal'>"</B>
        <SPAN class=GramE>ones<B style='mso-bidi-font-weight:normal'>,</B> that</SPAN>
        can look others above their shoulders with
        <B style='mso-bidi-font-weight:normal'>"</B>divine
        justification<B style='mso-bidi-font-weight:normal'>".</B> This is how the
        Russellites are<B style='mso-bidi-font-weight:normal'>,</B> who believe that
        they are going to be the
        presidents<B style='mso-bidi-font-weight:normal'>,</B>
        senators<B style='mso-bidi-font-weight:normal'>,</B>
        governors<B style='mso-bidi-font-weight:normal'>,</B>
        mayors<B style='mso-bidi-font-weight:
normal'>,</B> etc<B style='mso-bidi-font-weight:normal'>.,</B> of countries
        when the <B style='mso-bidi-font-weight:normal'>"</B>New World
        Order<B style='mso-bidi-font-weight:normal'>"</B>
        comes<B style='mso-bidi-font-weight:
normal'>.</B> Some Jews do something
        similar<B style='mso-bidi-font-weight:
normal'>,</B> they pretend to justify with their
        religion<B style='mso-bidi-font-weight:
normal'>,</B> their longings of racial superiority in the same manner that
        the Nazis justified theirs with the Nazi
        <B style='mso-bidi-font-weight:normal'>"</B>religion<B style='mso-bidi-font-weight:normal'>"</B>
        and their idol Hitler<B style='mso-bidi-font-weight:normal'>.</B> A religion
        of racial equality as is Christianity does not call attention to those who
        have a religion in which their
        race<B style='mso-bidi-font-weight:normal'>,</B> or certain
        group<B style='mso-bidi-font-weight:normal'>,</B> is superior to the
        others<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>15) To be so fully involved
        in a sin or lust</B> that has accompanied us all our lives as persons or
        as members of
        <SPAN class=GramE>society<B style='mso-bidi-font-weight:normal'>,</B>
  that</SPAN> we do not realize what we
        have<B style='mso-bidi-font-weight:normal'>.</B> We do not realize that it
        is a sin<B style='mso-bidi-font-weight:normal'>,</B> because we believe it
        is a natural part of life<B style='mso-bidi-font-weight:
normal'>.</B> It is like telling a fish that he is
        wet<B style='mso-bidi-font-weight:
normal'>;</B> he would not understand
        us<B style='mso-bidi-font-weight:normal'>,</B> because he had never seen
        anything or anyone in a dry
        state<B style='mso-bidi-font-weight:
normal'>.</B> He could not even imagine what dry talcum powder or dry wheat
        flour is<B style='mso-bidi-font-weight:normal'>.</B>
        Likewise<B style='mso-bidi-font-weight:normal'>,</B> he who by having so
        much time a lust<B style='mso-bidi-font-weight:normal'>,</B> attributes it
        as a natural part of life<B style='mso-bidi-font-weight:normal'>,</B> does
        not comprehend<B style='mso-bidi-font-weight:normal'>,</B> or
        twists<B style='mso-bidi-font-weight:
normal'>,</B> the explanations or mandates that the Word of God says to the
        contrary<B style='mso-bidi-font-weight:normal'>.</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><A HREF="html/en/English.html">Back to the Index</A>
            <o:p></o:p>
        </B>
</DIV>
</BODY>
</HTML>
