<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>ShakeFistBeforeGod</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <B><FONT size="5"> There are Christians who do not understand the greatness
        of God</FONT></B>
<P>
<P>
    &nbsp;&nbsp;&nbsp; I have heard more often than wanted, people who call
    themselves Christians, but say that when they get angry, they <B> "shake
    their fists before the face of God"</B>. It is evident that such persons
    are brash and insolent. <B> They are not either Christians, or if they are,
    they have never realized the greatness of God, in whom they claim to
    believe.</B>
<P>
    &nbsp;&nbsp;&nbsp; Those people, regardless of whether or not they are
    Christians, are cowards. They behave like that because God doesn't punish
    them as soon as they act like that. <B> They would never shake their fist
    before a judge during a trial, nor in the face of a police officer in a country
    where a dictator rules.</B> They abuse the patience of God taking no notice
    of the fact that they are to be judged some time.
<P>
    &nbsp;&nbsp;&nbsp; One of the passages that they wield to justify their behavior
    is John 11: 21-22. From this passage they interpret that Lazarus' sisters
    were angry with the Lord, because he did not come when they called him, and
    that they also blamed him for their brother's death. <B> This is false.</B>
    The way in which Martha speaks in verses 21-22 is that of a sad person who
    laments the circumstances that precluded Jesus from coming, and so he was
    not there to avoid Lazarus' death.
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>21 Then said Martha unto Jesus: <B><U>Lord</U>, if
    thou hadst been here, my brother had not died</B>. 22 But I know, that even
    now, whatsoever thou wilt ask of God, God will give it thee 23 Jesus saith
    unto her: Thy brother shall rise again. 24 Martha saith unto him: <B> I know
        that he shall rise again in the resurrection at the last day.</B> 25 Jesus
    said unto her: I am the resurrection, and the life, he that believeth in
    me, though he were dead, yet shall he live; 26 and whosoever liveth and believeth
    in me shall never die. Believest thou this? 27 She saith unto him: <B> Yea,
        <U>Lord</U>: I believe that thou art the Christ, the Son of God, which should
        come into the world</B></I>." ( John 11: 21-22 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; The proof that Martha was not angry is in verse 21 where
    she called him "Lord", and also in verse 24 where she expresses her faith
    "in the resurrection at the last day". But a better proof than this is the
    fact that <B> Mary, in verse 32 uttered the very same words of her sister
    Martha. In this case we can see that Mary was not angry at all, because she
    uttered these words prostrated at Jesus' feet.</B> Let's read this verse.
<P>
<P>
    &nbsp;&nbsp;&nbsp; "<I>Then when Mary was come where Jesus was, and saw him,
    <B> she fell down at his feet</B>, saying unto him: <B> Lord,</B> if thou
    hadst been here, my brother had not died</I>."( John 11: 32 )
<P>
<P>
    &nbsp;&nbsp;&nbsp; Mary's and Martha's words were <B> exactly the same</B>.
    These are not words of anger or reproach, but of sadness, because what they
    wanted to occur didn't happen, because of adverse circumstances. <B> There
    was no rebelliousness in their words.</B>
<P>
    &nbsp;&nbsp;&nbsp; Those Christians that confess that they shake their fists
    before the face of God should realize their brashness, insolence, and blasphemy.
    They should reason that if they won't dare to shake their fists before the
    face of a judge or a dictator, much less should they shake their fists before
    the face of the Almighty. To behave like that indicates one of two things:
    or they don't realize the greatness of the Almighty, or they are not Christians,
    even though they think they are.
<P>
    &nbsp;&nbsp;&nbsp; Satan, who is more powerful than any man, commits many
    sins, however he never dares to behave disrespectfully towards God before
    His very face. Those who confess that they shake their fists before the face
    of God seem to be as rebellious as Satan, or even more, because this dirty
    angel does not dare to do what they confess they do.
<P align="center">
    <B><A HREF="html/en/English.html"> Back to the index</A></B>
<P>
</BODY>
</HTML>
