<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="GENERATOR" content="Mozilla/4.77 [en] (Win98; U) [Netscape]">
    <title>The First Cell</title>
    <!-- Created with AOLpress/2.0 -->
</head>
<body bgcolor="#FFFFFF">

<center><b><font size=+2>Inorganic matter could have never evolved into
    a so called</font></b>
    <p><b><font size=+2>"first simplest cell"</font></b></center>

<p>&nbsp;&nbsp;&nbsp;&nbsp; <b>I advise that this article should be given
    to our young college group</b> in an effort to help them avoid being misinformed
    by pseudo science.&nbsp; Our young adults environment was and will be bombarded
    with false information.&nbsp; It is important to prepare the college group
    in an effort to prevent a set back in their faith.
    <br>&nbsp;&nbsp;&nbsp; <b>There are only two alternatives to explain the
        existence of living beings:</b> one is the theory of Creation and the other
    is the hypothesis of spontaneous generation. The hypothesis of evolution
    is just a new name given to the spontaneous generation after it was discredited
    and proved unscientific by Pasteur's experiments. Don't let anyone fool
    you by the new names. No matter if it is called evolution, mutation, or
    whatever,
    <b>what does not belong to the theory of Creation, belongs to
        the hypothesis of spontaneous generation.</b>
    <br>&nbsp;&nbsp;&nbsp; <b>The evolution hypothesis </b>is based on the
    supposition that once upon a time the "first simplest cell" popped up from
    the sea and that the planet was a vast sphere of only inorganic products,
    until the so called <b>"first simplest cell"</b> appeared. After its appearance,
    according with the mentioned hypothesis, this cell started to live, procreate,
    and evolve towards more and more complex living entities. Of course, those
    who believe this hypothesis never bother themselves in explaining how the
    inorganic matter could organize itself into organic matter. <b>To "explain"
        it they pass the bucket over to their god; they just put their faith in
        their god: "TIME".</b> According to their faith, millions and millions
    of years can organize matter and do the same job that we Christians know
    God our Creator did. They do not explain how time can do the job; they
    just dogmatically affirm their god TIME can.
    <br>&nbsp;&nbsp;&nbsp; <b>According to the evolution hypothesis</b> during
    millions of years water had only inorganic matters in its solution till
    one day, by some hocus-pocus act that cannot be explained nor proved, appeared
    the simplest living organism: the so called "first simplest cell". This
    cell was the first step in a huge evolution staircase of millions of steps,
    which led up to human beings. <b>If complexity went a step down from this
        "first simplest cell", it would become just inorganic matter;</b> but if
    complexity went one step up from inorganic matter it would become the "first
    simplest cell". According to evolutionists, this "first simplest cell"
    lived for a while feeding itself from the environment, and reproducing
    itself, so as to bring to existence other cells just as itself. As this
    process continued for millions of years, the Earth was populated by cells
    that evolved into more complex vegetation and animals.
    <br>&nbsp;&nbsp;&nbsp; Can this hypothesis be substantiated, proved, or
    at least explained logically? Does it have no scientific or logical flaws?
    <b>This is not a real scientific hypothesis because it has nothing to prove
        and there are several logical and scientific arguments to disprove it.
        It is just an act of faith by those who do not want to recognize that a
        Creator exists.</b> Let us reason together using logics and our common
    sense, because this evolution hypothesis is out of all reason.
    <br>&nbsp;&nbsp;&nbsp; The so called "first cell" also called the "simplest
    cell", could have never existed. Why not? Let's see first what the "simplest
    cell" had to have in order to perform the jobs assigned to it: to live,
    grow and reproduce.
    <br>&nbsp;&nbsp;&nbsp; <b>First. The "first simplest cell" had to have
        a membrane,</b> otherwise it was just part of the environment. In order
    for the cell not to be part of the environment, there had to exist a separating
    factor or membrane. Until not very long ago the membrane was not well known.
    Today we have discovered so many functions in it that there is a whole
    subject of study about the membrane. Even a scientific publication named
    "Journal of Membrane" exist, because of the complexity of the membrane
    and a whole lot that is needs to be learned about it. So, the "first simplest
    cell" had to have a very complex membrane, that had to allow food to go
    through but not let the inside matter get out.
    <br>&nbsp;&nbsp;&nbsp; <b>Second.</b> In order for the "first simplest
    cell" to keep living after popping up out of the environment, it had to
    have the possibility of taking inorganic matter from the environment, introduce
    it in its body, and process it so as to break it into less complex inorganic
    matter. This would have to be done in order to get the vital energy resulting
    from the breaking process, so that the cell could be alive. This process
    is what we call digestion, performed by the stomach, or better said, by
    the digesting apparatus. To break inorganic matter and get the energy resulting,
    is a complicated process that requires lots of knowledge about what chemical
    products will break other ones. It is not a simple thing. <b>So, the so
        called "first simplest cell" had to have a very complex digesting apparatus.</b>
    <br>&nbsp;&nbsp;&nbsp; <b>Third.</b> Since this "first simplest cell" had
    to reproduce itself, <b>it had to have a reproductive system.</b> This
    reproductive system <b>had to be skilled enough to know what would be the
        right time for reproduction,</b> because the cell cannot reproduce unless
    it has enough matter for itself, so as not to die in donating its own matter
    to the other cell.
    <br>&nbsp;&nbsp;&nbsp; <b>Fourth.</b> This "first simplest cell" had to
    have some ADN kind of thing, otherwise it wouldn't <b>transmit to its descendants
        the necessary apparatuses to keep living, feeding and reproducing.</b>
    Until some decades ago we did not know how complex the AND was. Now, that
    we have that knowledge we have to agree that any kind of chemical code
    that transmits characteristics from one cell to another is highly complex.
    <b>This high complexity had to be present in the so called "first simplest
        cell".</b> It is a nonsense to think that the so called first simplest
    cell could have ever existed.
    <br>&nbsp;&nbsp;&nbsp; <b>Fifth. </b>Because the cell had inside itself
    other apparatuses apart from the stomach, and because those apparatuses
    need to be fed, then the so called "first simplest cell" needed a distribution
    system to carry the food from the stomach to other parts of the cell. This
    means that <b>it had to have some sort of a simple distribution system.</b>
    <br>&nbsp;&nbsp;&nbsp; <b>Sixth.</b> The fact of having all these apparatuses
    brings forth another need. The "first simplest cell" <b>had to have an
        apparatus to coordinate the works of the other ones.</b> If not, an apparatus
    could be working or not working as it is necessary for the cell in order
    to live and reproduce. This means that the cell had to have a coordinating
    apparatus, sort of a central nervous system.
    <br>&nbsp;&nbsp;&nbsp; As we can see <b>this so called "first simplest
        cell" never could have been that simple, but instead highly complex,</b>
    because in order to live and reproduce, it had to have many complex apparatuses.
    Each apparatus itself was complex enough as to not be deemed to pop up
    out of nothing. Much less can it be admissible to deem that all of them
    popped up together, in the same place, at the same time, joined together,
    coordinated themselves, and covered themselves with a working membrane
    to become a biological entity.
    <br>&nbsp;&nbsp;&nbsp; As I said in the title of this article:
<center><b>Inorganic matter could never have evolved into a "first simplest
    cell".</b>
    <p><b><font size=+1><a href="html/en/English.html">Back to the index</a></font></b></center>

</body>
</html>
