<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <META name="GENERATOR" content="Mozilla/4.6 [en] (Win95; I) [Netscape]">
            <!-- Created with AOLpress/2.0 -->
            <TITLE>The rich young man lied to Christ</TITLE>
</HEAD>
<BODY bgcolor="#FFFFFF">
<CENTER>
    <B><FONT size=+2>The rich young man lied to Christ and that is why Jesus
        told him to sell his possessions</FONT></B>
</CENTER>
<P>
    &nbsp;&nbsp;&nbsp; Before starting to study this case let us realize the
    way this young fellow addressed Jesus.&nbsp; <B>First</B> thing to note is
    that <B>he was trying <U>to earn</U> eternal life by means of performing
    some good deeds.</B>&nbsp; We know this because of the way he asked the question
    to Jesus.&nbsp; <B>Second </B>thing to note is that he lied to Jesus a couple
    of times: <B>a)</B> when he said that he had always kept the commandments,
    and&nbsp; <B>b)</B> when he said that he had loved his neighbor as
    himself.&nbsp; Let us read the passage.
<P>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    "<FONT size=-2>16 </FONT><I>And, behold, one came and said unto him: -'Good
    Master, <B><U>what good thing</U></B></I>
    <BR>
        <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <U>shall I do</U>, that
            I may have eternal life?</I></B><I>'&nbsp; </I><FONT size=-2>17 </FONT><I>And
        he said unto him: -'Why callest</I>
        <BR>
            <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; thou me good?; there is none
                good but one, that is, God: but if thou wilt enter into</I>
            <BR>
                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; life, keep the commandments.'</I>
                <BR>
                    <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </I><FONT size=-2>18 </FONT><I>He saith unto him:&nbsp; -'Which?' Jesus
                    said:&nbsp; -'Thou shalt do no murder, Thou</I>
                    <BR>
                        <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; shalt not commit adultery,
                            Thou shalt not steal, Thou shalt not bear false witness,</I>
                        <BR>
                            <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </I><FONT size=-2>19
                        </FONT><I>Honour thy father and thy mother: and, <B>Thou shalt love thy neighbour
                            as</B></I> <BR>
                            <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; thyself.'</I></B>
                            <BR>
                                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </I><FONT size=-2>20 </FONT><I>The young man saith unto him:&nbsp;
                                -'<B><U>All these things</U> have I kept from my</B></I>
                                <BR>
                                    <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; youth up</I></B><I>: what
                                    lack I yet?'</I>
                                    <BR>
                                        <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </I><FONT size=-2>21 </FONT><I>Jesus said unto him:&nbsp; -'If thou wilt
                                        be perfect, <B>go and sell that thou hast,</B></I>
                                        <BR>
                                            <I><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and give to the poor</B>,
                                                and thou shalt have treasure in heaven: and come and</I>
                                            <BR>
                                                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; follow me.'&nbsp;
                                                </I><FONT size=-2>22 </FONT><I>But when the young man heard that saying,
                                                he went away</I> <BR>
                                                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sorrowful: for he had
                                                    great
                                                    possessions.</I>
                                                <BR>
                                                    <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </I><FONT size=-2>23 </FONT><I>Then said Jesus unto his disciples:&nbsp;
                                                    -'Verily I say unto you, that a rich</I>
                                                    <BR>
                                                        <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; man shall hardly
                                                            enter into
                                                            the kingdom of heaven.&nbsp; </I><FONT size=-2>24 </FONT><I>And
                                                        again I say
                                                        unto</I> <BR>
                                                        <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you, it is easier
                                                            for a camel
                                                            to go through the eye of a needle, than for a rich</I>
                                                        <BR>
                                                            <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; man to enter
                                                                into the kingdom
                                                                of God.'</I>
                                                            <BR>
                                                                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </I><FONT size=-2>25 </FONT><I>When his disciples heard
                                                                it, they were exceedingly
                                                                amazed saying:</I> <BR>
                                                                <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Who then
                                                                    can be saved?'</I>
                                                                <BR>
                                                                    <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </I><FONT size=-2>26 </FONT><I>But Jesus beheld
                                                                    them, and said unto them:&nbsp;
                                                                    -<B>'With men this is impossible;</B></I>
                                                                    <BR>
                                                                        <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            but with God all things
                                                                            are
                                                                            possible</I>'</B>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        ( Matt 19: 16-26 )
                                                                        <P>
                                                                            &nbsp;&nbsp;&nbsp; The rich young man's
                                                                            question, and Jesus' answer typifies
                                                                            what is advised in Proverbs 26: 4-5, where
                                                                            it says how to answer to a
                                                                            fool.&nbsp; <B>The rich young man asked
                                                                            Jesus what to do, and what to perform,
                                                                            in order to earn by himself eternal life</B>.&nbsp;
                                                                            Jesus answered to him
                                                                            according to his foolish question: go and
                                                                            keep the commandments.&nbsp; That
                                                                            is why Christ did not tell him&nbsp;
                                                                            "believe in me and you will have eternal
                                                                            life." <BR>
                                                                            &nbsp;&nbsp;&nbsp; Sure enough, if he wanted
                                                                            to get salvation by himself,
                                                                            he had to have kept all the commandments,
                                                                            all his life, without failing in
                                                                            anyone of them, not even a single day.
                                                                            Otherwise, he needed a savior; but
                                                                            his question precluded the alternative of a
                                                                            savior.&nbsp; He was not in search
                                                                            of a savior, he wanted to know how to save
                                                                            himself.&nbsp; Jesus answered
                                                                            accordingly. <BR>
                                                                            &nbsp;&nbsp;&nbsp; <B>When the rich young
                                                                            man said that he had always kept
                                                                            the commandments, he was lying.&nbsp;</B> He
                                                                            was lying because no one has
                                                                            ever been so perfect as not to ever sin.&nbsp;
                                                                            But Jesus did not want to
                                                                            argue with him about his lie.&nbsp; What he
                                                                            did instead was to demonstrate
                                                                            to the rich young man that he was lying.&nbsp;
                                                                            That is why he told him to
                                                                            go and sell all he had and give to the poor.&nbsp;
                                                                            <B>If as the rich young
                                                                                man said, he had really kept everything,
                                                                                including "You shall love your neighbor
                                                                                as yourself ", it was not possible for
                                                                                him to still be so rich.&nbsp;</B>
                                                                            If he had loved his neighbor as himself, by
                                                                            this time he would have already
                                                                            given up all his treasures to the poor.&nbsp;
                                                                            <B>The very fact that he was
                                                                                still rich, in a place with so many poor
                                                                                people, proved that he did not share
                                                                                with them his riches.</B>&nbsp;
                                                                            Therefore, he was not keeping the
                                                                            commandment
                                                                            to love his neighbor as himself. <BR>
                                                                            &nbsp;&nbsp;&nbsp; To live a flawless life
                                                                            is impossible to any man, but
                                                                            for a rich man it is twice as impossible.&nbsp;
                                                                            This is why Jesus told them
                                                                            about the camel and the needle. <BR>
                                                                            &nbsp;
                                                                            <P>
                                                                                <BR>
                                                                                    <CENTER>
                                                                                        <A HREF="html/en/English.html">Back
                                                                                            to the index</A>
                                                                                    </CENTER>
</BODY>
</HTML>
