<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word" xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="ProgId" content="Word.Document">
    <meta name="Generator" content="Microsoft Word 11">
    <meta name="Originator" content="Microsoft Word 11">
    <link rel="File-List" href="TimePatriarchsCoexisted_files\filelist.xml">
    <link rel="Edit-Time-Data" href="TimePatriarchsCoexisted_files/editdata.mso">
    <!--[if !mso]>
    <style>
    v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style>
    <![endif]-->
    <title>The Time the Patriarchs Lived with Each Other</title>
    <!--[if gte mso 9]><xml>
     <o:DocumentProperties>
      <o:Author>Felo</o:Author>
      <o:Template>Normal</o:Template>
      <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
      <o:Revision>4</o:Revision>
      <o:TotalTime>14</o:TotalTime>
      <o:Created>2002-05-17T17:56:00Z</o:Created>
      <o:LastSaved>2006-08-22T00:25:00Z</o:LastSaved>
      <o:Pages>1</o:Pages>
      <o:Words>1002</o:Words>
      <o:Characters>5716</o:Characters>
      <o:Lines>47</o:Lines>
      <o:Paragraphs>13</o:Paragraphs>
      <o:CharactersWithSpaces>6705</o:CharactersWithSpaces>
      <o:Version>11.5606</o:Version>
     </o:DocumentProperties>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>75</w:Zoom>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="3074"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor="white" lang="EN-US" link="blue" vlink="blue" style='tab-interval:.5in'>

<div class="Section1">

    <p class="MsoNormal" align="center" style='text-align:center'><b><span style='font-size:18.0pt'>The Time the Patriarchs Lived with Each Other</span></b>
    </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; There are <b>many
        concepts and ideas that cannot be understood as well as when we see its
        presentation in a tangible way.</b> Abstract things are harder to actualize
        than concrete things. One of these abstract things that are hard to realize is
        time. This is why in the graph shown at the end or this article, I equated the
        time each patriarch lived, to a horizontal bar. The bar representing the life
        of each one of the first 22 patriarchs is placed so that its left end coincides
        with the year he was born, and its right end with the year he died. This way,
        just by a glance, we can realize how long the patriarchs existed with each
        other. <br>
        &nbsp;&nbsp;&nbsp; <b>The years are counted starting at the Creation,</b> and
        are represented in the graph by vertical lines placed every 100 years. Inside
        each bar, in the middle, is the name of the patriarch; to the left, the number
        of his generation; and to the right, the amount of years he lived.&nbsp; All
        data <br>
        &nbsp;&nbsp;&nbsp; <b>If we study the graph we will notice several interesting
            facts. Let us see.</b></p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>a) All of our
        seven forefathers lived with Adam for more than four centuries;</b> except
        Enoch, who lived with him his whole life, till God took him. <br>
        &nbsp;&nbsp;&nbsp; All of them had more than enough time to <b>talk extensively</b>
        with Adam, our first father. Adam, for sure, told them everything he knew about
        the Creation, about God, what He said and did, the customs and laws to be
        followed, etc., as any loving father would do with his children, grandchildren
        etc.. In short, what we know today, thanks to the book of Genesis, and much
        more, they knew first hand. </p>

    <p style='margin:0in;margin-bottom:.0001pt'><b>&nbsp;&nbsp;&nbsp; b) Even the
        patriarchs born after the seven first ones, who died before the Flood,</b>
        coexisted with Adam more time than many of those who are reading these lines. <br>
        &nbsp;&nbsp;&nbsp; <b>Old Methuselah coexisted with Adam and probably with Eve
            also, 243 years.</b> This means almost two and a half centuries hearing from
        the mouth of Adam and Eve the stories about Creation, and the events that
        occurred before he was born. He had a reason why he knew perfectly well all the
        stories, events, laws, promises, prophecies, etc., that were known by his
        forefathers. <br>
        &nbsp;&nbsp;&nbsp; <b>Lamech, the father of Noah coexisted 56 years with Adam,</b>
        more than half a century. It is logical to think that they had feasts and
        gatherings. Everyone would probably listen attentively to Adam and Eve. They
        for sure kept commenting with one another what they heard and learned. They
        also commented everything with their children, grandchildren, great grandchildren,
        etc.. So, everything got fixed indelibly in their memories. So then it passed
        to Moses. </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>c) Noah with
        seven other people passed the history</b> of the Flood and the destruction of
        humankind. Noah lived 84 years with Enos, who was the grandson of Adam and Eve.
        In 84 years he could have learned a great deal form his ancestor. Enos
        coexisted with Adam almost seven centuries. <br>
        &nbsp;&nbsp;&nbsp; <b>Noah coexisted with Jared, his great grandfather, for 366
            years;</b> and Jared with Adam 470 years. Jared had plenty of time to get informed
        by Adam and inform to Noah, of all the details. <br>
        &nbsp;&nbsp;&nbsp; <b>Noah coexisted with many of his direct descendants:</b>
        Sem, Arphaxad, Salah, Eber, Peleg, Reu, Serug, Nahor, Therah, and Abraham. They
        were his son, grandson, great grandson, great great grandson&#8230;etc.. The
        first one, Sem, coexisted with Noah 450 years, the last Abraham, coexisted with
        Noah 60 years. <br>
        &nbsp;&nbsp;&nbsp; <b>In short, the patriarchs who passed the history for us
            were well-informed people</b> who knew every thing first or second hand. </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>d) Sem, who
        was one of those who saved the history</b> through that aquatic hecatomb,
        coexisted with Methuselah a century; and Methuselah with Adam 243 years. Sem
        could have known the history of Creation second hand. Not to mention all others
        who lived with Adam for centuries, which would confirm the history to their
        descendants, and to one another. History could not have been distorted; there
        were too many witnesses. Remember that I am mentioning only the first-born
        sons; I am not mentioning the many other siblings who also heard and were
        witnesses. </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>e) Sem
        outlived his descendants till the ninth generation.</b> Arphaxad, Salah, Eber,
        Peleg, Reu, Serug, Nahor, Therah, and Abraham, who were direct descendants of
        Sem (son, grandson, great grandson, great great grandson, etc.), died before
        his ancestor Sem. The only exception was Eber who died only 29 years after his
        great grandfather Sem. <br>
        &nbsp;&nbsp;&nbsp; <b>Sem, who coexisted with his great grandfather Methuselah
            for a century,</b> with Lamech his grandfather for almost a century, and with
        his father Noah for more than four centuries, <b>coexisted with Abraham the
            whole life of this patriarch.</b> There was more than enough time for Sem to
        transmit all his knowledge to Abraham, Isaac and Jacob. Sem himself was the
        living testimony to anyone who wanted to bother himself in going to visit with
        him, especially&nbsp; Abraham, Isaac and Jacob. <br>
        &nbsp;&nbsp;&nbsp; <b>Isaac lived 180 years, 110 of them during Sem's last
            century.</b>&nbsp; Jacob was 50 years old when Sem died.&nbsp; Maybe that is
        why Jacob, when introduced to Pharaoh by his son Joseph, exclaimed sadly: </p>

    <p style='margin:0in;margin-bottom:.0001pt'>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &quot;<i>And Jacob said unto Pharaoh: The days of the years of my
            <o:p></o:p>
        </i></p>

    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
margin-bottom:.0001pt'><i>pilgrimage are an hundred</i> <i>and thirty years: <b><u>few</u>
        and evil have
        <o:p></o:p>
    </b></i></p>

    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
margin-bottom:.0001pt'><b><i>the days of the years of my life been, <u>and have
        not attained </u>unto
        <o:p></o:p>
    </i></b></p>

    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
margin-bottom:.0001pt'><b><i><span style='mso-spacerun:yes'>?</span>the days of
        the years of the life of my fathers in the days of
        <o:p></o:p>
    </i></b></p>

    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
margin-bottom:.0001pt'><b><i><span style='mso-spacerun:yes'>?</span>their
        pilgrimage</i></b>.&quot; <span
            style='mso-tab-count:5'>???????????????????????????????????????????????????? </span>(
        Gen 47: 9 ) </p>

    <p style='margin:0in;margin-bottom:.0001pt'>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>Jacob was 130
        years old at that time, and even so he considered this great life span
        &quot;few&quot; years.&nbsp;</b> He saw Sem, Salah and Eber last much longer,
        and they were probably healthier than he was at that time. </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>f) Non of the
        first patriarchs perished during the Flood.&nbsp;</b> Methuselah, who was the
        one who lasted longer, died the same year that the Flood started. </p>

    <p style='margin:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;&nbsp; <b>In this
        article I have taken into consideration only Shem's descendants,</b> because
        they are those whose ages are registred.&nbsp; But if we take into
        consideration Ham's and Japhet's descendants, whose life spans should be as
        long as their siblings', we will get to the conclusion that <b>the knowledge of
            God at that time, was universal.&nbsp; After the Flood, as well as before it,
            everyone knew God's laws, promises, prophecies, etc..&nbsp;</b> A proof of this
        is in&nbsp; Gn&nbsp; 12: 18&nbsp; and&nbsp; 20: 9 where we see that Pharaoh and
        Abimelech had knowledge of God and of what constituted sin.&nbsp; Same thing
        can be said of Job and his friends, who lived much earlier than Moses.&nbsp;
        Remember that the Egyptians were not Sem's descendants, but Ham's; nevertheless
        they knew God's laws. <b>Dawn the centuries, nations put aside God's laws, </b>till
        a point where new generations did not know anything about it.&nbsp; Let us now
        see the graph.</p>

    <p style='margin:0in;margin-bottom:.0001pt'>
        <o:p>&nbsp;</o:p>
    </p>

    <p align="center" style='margin:0in;margin-bottom:.0001pt;text-align:center'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:679.5pt;
 height:507.75pt'>
 <v:imagedata src="TimePatriarchsCoexisted_files/image001.jpg" o:title="ConvivenciaIngles"/>
</v:shape><![endif]--><![if !vml]><img width="906" height="677" src="TimePatriarchsCoexisted_files\image003.jpg"
                                       v:shapes="_x0000_i1025"><![endif]></p>

    <p align="center" style='margin:0in;margin-bottom:.0001pt;text-align:center'>
        <o:p>&nbsp;</o:p>
    </p>

    <p align="center" style='margin:0in;margin-bottom:.0001pt;text-align:center'><b><a href="html/en/English.html">Back
        to
        the index</a></b></p>

</div>

</body>

</html>
