<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:st1="urn:schemas-microsoft-com:office:smarttags"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="TimothyWasNotThatYoung_files/filelist.xml">
    <title>Timothy was not that young</title>
    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                    name="City"/>
    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                    name="place"/>
    <!--[if gte mso 9]><xml>
     <o:DocumentProperties>
      <o:Author>HP Authorized Customer</o:Author>
      <o:Template>Normal</o:Template>
      <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
      <o:Revision>2</o:Revision>
      <o:TotalTime>2</o:TotalTime>
      <o:Created>2006-08-21T19:58:00Z</o:Created>
      <o:LastSaved>2006-08-21T20:00:00Z</o:LastSaved>
      <o:Pages>1</o:Pages>
      <o:Words>863</o:Words>
      <o:Characters>4925</o:Characters>
      <o:Company> </o:Company>
      <o:Lines>41</o:Lines>
      <o:Paragraphs>11</o:Paragraphs>
      <o:CharactersWithSpaces>5777</o:CharactersWithSpaces>
      <o:Version>11.5606</o:Version>
     </o:DocumentProperties>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>TextFit</w:Zoom>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span style='font-size:18.0pt'>Timothy
was not that young</span></b></p>

    <p>&nbsp;&nbsp;&nbsp; Many brothers think that Timothy, who was a disciple of
        <st1:City
                w:st="on">
            <st1:place w:st="on">Saint Paul</st1:place>
        </st1:City>
        , was a very
        young man. He was in fact, a very young <b>man</b> when he first met Paul, but
        not when he was left as pastor in
        <st1:City w:st="on">
            <st1:place w:st="on">Ephesus</st1:place>
        </st1:City>
        .
        When he first met Paul he was probably in his early twenties. <b>He was by no
            means a lad 15 or 17 years old</b>.
    </p>

    <p>&nbsp;&nbsp;&nbsp; The reason I think that Timothy was an adult when he met
        Paul for the first time in Acts 16: 1-3 is for a couple of reasons: <b>a)</b>
        It was not fit that Paul would drag a teenager through his hard and dangerous
        life of missionary endeavors. <b>b) </b>When Paul first met Timothy, he was
        already a disciple ( verse 1 ), which suggests that he was not a boy or a
        teenager. In those times <b>a youngster became an adult at the age of twenty</b>.
        <b>c)</b> Timothy was <b>a well known <u>man</u> in at least two cities, Lystra
            and Iconium</b> (verse 2), which tells us that he was old enough to have been
        traveling between at least these two cities for some time, and relating with
        their inhabitants. <b>d)</b> The brethren of these two cities spoke well of
        him, which tells us that they knew him, his doings, behavior, and attitude, for
        some years before Paul met him. </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<i>1 Then
        came he to Derbe and Lystra; and, <b>behold, a certain <u>disciple</u></b> was
        there, <b>named Timothy</b>, the son of a certain woman, which was a Jewess,
        and believed; but his father was a Greek; 2 Which <b>was well reported of by
            the brethren that were at Lystra and Iconium.</b> 3 Him would Paul have to go
        forth with him; and took and circumcised him because of the Jews which were in
        those quarters; for they knew all that his father was a Greek.</i>&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( Acts 16: 1-3 ) </p>

    <p>&nbsp;&nbsp;&nbsp; According to some chronologies, Paul met Timothy about
        year 50, but he wrote his First Epistle to Timothy about year 64. <b>This means
            that at that time Timothy was 14 years older than when Paul met him for the
            first time</b>. If he was 22 or 24 when Paul first met him, he would then be <b>at
            least</b> 36 or 38 years old. After being taught and working with Paul for
        several years, having a prophecy about him, and after knowing that he had a
        gift from God, as we see in I Tim 4: 12-14, Paul decided to let him be a
        pastor, despite his youth. Paul considered that at the age of 38, Timothy was
        still very young to be a Pastor, but because of his special gift, prophecy
        about him and training, <b>Paul made an exception with him.</b></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<i>12 Let no
        man <b>despise thy <u>youth</u></b> ; but be thou an example of the believers,
        in word, in conversation, in charity, in spirit, in faith, in purity. 13 Till I
        come, give attendance to reading, to exhortation, to doctrine. 14 Neglect not <b><u>the
            gift</u> that is in thee, which was given thee <u>by prophecy</u>, with the
            laying on of the hands of the presbytery</b>.</i>&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( I Tim 4: 12-14 ) </p>

    <p>&nbsp;&nbsp;&nbsp; Because this man had <b>such a special set of factors</b>
        in his life, Paul put him as a pastor <b>as an exception of the rule,</b> but
        his ideas about who could become a pastor were quite different. Paul always
        suggested that pastors should be very mature brothers with experience, not
        youngsters. Men who were old enough to have had and educated their children,
        and show that they were well brought up, had good testimony, were under authority,
        etc.. <b>These were the rules that Paul set forth to Timothy and Titus in order
            for them to chose other pastors</b>. Let's see I Tim 3: 1-6 and Tit 1: 5-8. </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<i>1 This is
        a true saying, If a man desire the office of a bishop, he desireth a good work.
        2 <b>A bishop then must be</b> blameless, the husband of one wife, vigilant,
        sober, of good behavior, given to hospitality, apt to teach; 3 not given to
        wine, no striker, not greedy of filthy lucre; but patient, not a brawler, not
        covetous; 4 <b>one <u>that ruleth well his own house</u>,&nbsp; <u>having his
            children in subjection with all gravity</u></b>; 5 <b>for if a man know not how
            to rule his own house, how shall he take care of the church of God?</b> 6 Not a
        novice, lest being lifted up with pride he fall into the condemnation of the
        Devil</i>.&quot;<span style='mso-tab-count:1'>&nbsp;&nbsp; </span><span
            style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;
        ( I Tim 3: 1-6 ) </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<i>5 For
        this cause left I thee in Crete, that thou shouldest set in order the things
        that are wanting, and <b>ordain <u>elders</u> in every city</b>, as I had
        appointed thee. 6 If any be blameless, the husband of one wife, <b>having
            faithful children not accused of riot or unruly</b>. 7 For a bishop must be
        blameless, as the steward of God; not selfwilled, not soon angry, not given to
        wine, no striker, not given to filthy lucre; 8 but a lover of hospitality, a
        lover of good men, sober, just, holy, temperate</i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( Tit 1: 5-8 ) </p>

    <p>&nbsp;&nbsp;&nbsp; <b>In both passages we see that what Paul had in mind,
        for a brother to become a pastor, was a man of 45 or 50 years old.</b> We know
        this, because he had to be old enough to demonstrate that he had raised decent
        and faithful children, who were obedient to their father. <b>A man in his
            thirties could never show such credentials.</b> Therefore, Timothy, appointment
        by Paul, being at least 36 or 38 years old, <b>was just an exception, not a
            rule</b>. However, if today a man in his thirties can <u>demonstrate that he
            has prophecies</u> and gifts from God, and such good training as Timothy had, <b>then
            another <u>exception</u> may be made with him</b>. </p>

    <p>&nbsp;&nbsp;&nbsp; The very fact that Paul felt compelled to defend
        Timothy's appointment despite being at least 36 or 38, tells us that <b>it was
            not the common procedure, but an exception.</b></p>

    <p>&nbsp;&nbsp;&nbsp; Our congregations should meditate on this. Also
        note&nbsp; I Tim 3: 1-6 and Tit 1: 5-8. We expect that our pastor should be one
        who is husband of only one wife, not given to wine, etc., consequently he must
        be also a man who can show well brought up and faithful children, <b>all of
            which requires a mature man, not a youngster</b>. </p>

    <p align=center style='text-align:center'><b><a href="html/en/English.html">Back to
        the index</a></b></p>

</div>

</body>

</html>
