<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>6</o:Revision>
                    <o:TotalTime>47</o:TotalTime>
                    <o:Created>2006-09-14T22:23:00Z</o:Created>
                    <o:LastSaved>2006-09-14T23:11:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1294</o:Words>
                    <o:Characters>7379</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>61</o:Lines>
                    <o:Paragraphs>17</o:Paragraphs>
                    <o:CharactersWithSpaces>8656</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>160</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Two different women anointed Jesus</TITLE>
                    <LINK rel=File-List href="TwoDifferentWomenAnointedJesus_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>Two
  different women anointed Jesus; one was decent, the other was
  not<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>I have spoken with many people who confuse the two different cases
        in which a woman anointed Our Lord, and as a result think that it only deals
        with one case. Because of this confusion some consider that Mary, the sister
        of Lazarus, the friend of Christ, was a prostitute, when in reality she was
        a decent woman. It was the other woman, the one who anointed Jesus in
        <st1:place w:st="on">Galilee</st1:place>
        , to the north, who was a prostitute.
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Lazarus and his sisters lived in
        <st1:City w:st="on">Bethany</st1:City>
        , close to
        <st1:City w:st="on">
            <st1:place w:st="on">Jerusalem</st1:place>
        </st1:City>
        ,
        to the south. These passages that deal with anointment are the best examples
        of how necessary it is <B style='mso-bidi-font-weight:normal'>to notice details
        to correctly interpret the Scriptures</B>. This does not mean that we should
        imaginatively forage what is said; instead we should take notice of what
        is clearly stated.
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>The passages in Mathew, Mark, and John tell us about the anointment
        of Jesus by Mary, but in the episode narrated in Luke it tells us about a
        different occasion involving an unknown woman. <SPAN class=GramE>Lets</SPAN>
        look at the differences between the two cases to acquire a better understanding.
        As you read the differences between both cases, refer to the corresponding
        <SPAN class=GramE>passages</SPAN> below.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>a)</B> The act of Mary pouring out the ointment,
        <B style='mso-bidi-font-weight:normal'>took place in her own home, where
            she lived with Martha and Lazarus.</B> Therefore, it cannot be the same case
        reported in Lk 7:36-50, <B style='mso-bidi-font-weight:
normal'>which took place in the home of a Pharisee named Simon, and the woman
        who anointed Our Lord did not live there.</B>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>b)</B> The case of the woman mentioned in Luke occurred way before
        the case of Mary; <B style='mso-bidi-font-weight:normal'>it occurred towards
        <U>the start</U> of Jesus preaching, and in the case of Mary, <U>towards
            the end</U> of Jesus preaching, in the days leading up to his death.</B>
        Therefore, the cases reported in Mt 26:6; Mr 14:3; and Jn 12:1 in
        <SPAN class=GramE>themselves</SPAN> are the same, they report the same episode;
        but the case reported in Lk 7:36-50 is a different episode, because they
        occurred at different times.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>c)</B> In these three reports
        <B style='mso-bidi-font-weight:normal'>Mary, the sister of Lazarus, is
            criticized</B> for pouring an ointment that could be sold and proceeds given
        to the poor; meanwhile in the episode of Luke
        <B style='mso-bidi-font-weight:normal'>the person who is criticized is
            Christ</B>, for allowing himself to be touched by a sinner; they don't criticize
        the sinner for pouring the ointment.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>d)</B> In the three cases alike,
        <B style='mso-bidi-font-weight:normal'>the hosts are amicable</B>, and believe
        in the divinity of Jesus; in the case of Luke
        <B style='mso-bidi-font-weight:normal'>the host is a Pharisee that is hostile
            towards him, and doubt the fact of him being a prophet,</B> because he thought
        that Jesus did not know what type of woman was touching him.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>e)</B> In the three cases alike,
        <B style='mso-bidi-font-weight:normal'>it's the disciples who become angry</B>,
        because they would have preferred selling the ointment and giving its proceeds
        to the poor; in the case of Luke <B style='mso-bidi-font-weight:normal'>no
        one is angry about the pouring of the ointment</B>.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>f)</B> In the case of Lazarus's sister,
        <B style='mso-bidi-font-weight:normal'>the Lord defends Mary's action;</B>
        but in the case of Luke the same defense does not exist. What we see there
        is <B style='mso-bidi-font-weight:normal'>a demonstration of his divinity
        and his forgiveness;</B> a demonstration and forgiveness that does not exist
        in the other three cases. Compare the four passages.
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>g)</B> In Luke <B style='mso-bidi-font-weight:normal'>Jesus links
        the anointment or pouring of the ointment with the <U>sins committed by the
            woman</U><SPAN class=GramE>,
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>her</U></SPAN><U>
            forgiveness</U>, and <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>the lack
            of hospitality</U> by the Pharisee</B>. And in the other three cases
        <B style='mso-bidi-font-weight:normal'>Jesus links the anointment <U>with
            his sepulture only.</U></B>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>h) </B>In the three cases alike, those in Mathew, Mark, and John,
        the Jews are amicable with the two sisters,
        <B style='mso-bidi-font-weight:normal'>they deal with them, they consider
            them worthy</B>, they console them and keep them company;
        <B style='mso-bidi-font-weight:normal'>they were not considered public
            sinners</B>. In the case of Luke, the one who anointed the feet of Jesus
        was considered <B style='mso-bidi-font-weight:normal'>a public sinner unworthy
        of associating with the Jews.</B>
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN class=SpellE><B style='mso-bidi-font-weight:normal'>i</B></SPAN><B
            style='mso-bidi-font-weight:normal'>)</B> We know that the case of the sinner
        occurred in the north, because in Lk 7:1 we see that
        <B style='mso-bidi-font-weight:
normal'>it mentions Capernaum, and in 7:11 is mentions
            <SPAN class=SpellE>Nain</SPAN>,</B> two cities from the north, consequently,
        the episode of the sinner occurred in the north.
        <B style='mso-bidi-font-weight:normal'>Bethany, the city of Mary, was in
            the south</B>.
    <P>
  <SPAN class=GramE><B style='mso-bidi-font-weight:normal'><U>Case in
  Mathew</U>.</B></SPAN><B style='mso-bidi-font-weight:normal'>
        <o:p></o:p>
    </B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>"6
        <I style='mso-bidi-font-style:normal'>Now when Jesus was in Bethany,
            <B style='mso-bidi-font-weight:normal'><U>in the house of Simon</U>
                <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>the leper</U></B>,
        </I>7<I style='mso-bidi-font-style:normal'> There came unto him a woman having
        an alabaster box of very precious ointment, and poured it on his head, as
        he sat at meat. </I>8<I style='mso-bidi-font-style:normal'>
        <B style='mso-bidi-font-weight:
normal'>But when his disciples saw it</B>, they had indignation, saying,
        <SPAN class=GramE>To</SPAN> what purpose is this waste?
    </I>9<I style='mso-bidi-font-style:
normal'> For this ointment might have been sold for much, and
        <B style='mso-bidi-font-weight:normal'>given to the poor</B>.
    </I>10<I style='mso-bidi-font-style:normal'> When Jesus understood it, he
        said unto them, <SPAN class=GramE>Why</SPAN> trouble ye the woman?
        <SPAN class=GramE>For she hath wrought a good work upon me.</SPAN>
    </I>11<I style='mso-bidi-font-style:
normal'> For ye have the poor always with you; but me ye have not always.
    </I>12<I style='mso-bidi-font-style:normal'> For in that she hath poured
        this ointment on my body, <B style='mso-bidi-font-weight:normal'>she did
            it for my burial.</B> </I>13<I style='mso-bidi-font-style:normal'> Verily
        I say unto you: Wheresoever this gospel shall be preached in the whole world,
        there shall also this, that this woman hath done, be told for a memorial
        of her</I>."
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Mt 26:6-13)
    <P>
  <SPAN class=GramE><B style='mso-bidi-font-weight:normal'><U>The Case in
  Mark.</U></B></SPAN><B style='mso-bidi-font-weight:normal'><U>
        <o:p></o:p>
    </U></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>"3
        <I style='mso-bidi-font-style:normal'>And
            <B style='mso-bidi-font-weight:normal'>being in
                <st1:City w:st="on">
                    <st1:place w:st="on">Bethany</st1:place>
                </st1:City>
                <U>in
                    the house of
                    <SPAN class=GramE>Simon<SPAN style='text-decoration:none;
text-underline:none'>
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN></SPAN>the</SPAN> leper</U>,</B>
            as he sat at meat, there came a woman having an alabaster box of ointment
            of spikenard very precious; and she brake the box, and poured it on his head.
        </I>4<I style='mso-bidi-font-style:normal'> And there were some that had
        indignation within <SPAN class=GramE>themselves</SPAN>, and said: Why was
        this waste of the ointment made? </I>5
        <I style='mso-bidi-font-style:normal'>For it might have been sold for more
            than three hundred pence, and <B style='mso-bidi-font-weight:normal'><U>have
                been given to the poor</U>. And <U>they murmured against her</U></B>.
        </I>6<I style='mso-bidi-font-style:normal'> And Jesus said: Let her alone;
        why trouble <SPAN class=GramE>ye</SPAN> her? She hath wrought a good work
        on me. </I>7<I style='mso-bidi-font-style:normal'> For ye have the poor with
        you always, and whensoever ye will, ye may do them good, but me ye have not
        always. </I>8<I style='mso-bidi-font-style:normal'> She hath done what she
        could; she is come <SPAN class=SpellE>aforehand</SPAN>
        <B style='mso-bidi-font-weight:normal'>to anoint my body to the burying.</B>
    </I>9<I style='mso-bidi-font-style:normal'> Verily I say unto you, wheresoever
        this gospel shall be preached throughout the whole world, this also that
        she hath done shall be spoken of for a memorial of her</I>." (Mr 14:3-9)
    <P>
  <SPAN class=GramE><B style='mso-bidi-font-weight:normal'><U>The Case in
  John.</U></B></SPAN><B style='mso-bidi-font-weight:normal'><U>
        <o:p></o:p>
    </U></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        "1 <I style='mso-bidi-font-style:
normal'>Then Jesus, six days before the Passover,
        <B style='mso-bidi-font-weight:
normal'><U>came to
            <st1:City w:st="on">
                <st1:place w:st="on">Bethany</st1:place>
            </st1:City>
        </U><SPAN
                class=GramE>,
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>where</U></SPAN><U> Lazarus
            was</U></B>, which had been dead, whom he raised from the dead. 2
        <B style='mso-bidi-font-weight:normal'>There they made him a supper</B>;
        and Martha served, but Lazarus was one of them that sat at the table with
        him. 3 Then took Mary a pound of ointment of spikenard, very costly, and
        anointed the feet of Jesus, and wiped his feet with her hair; and the house
        was filled with the <SPAN class=SpellE>odour</SPAN> of the ointment. 4
        <B style='mso-bidi-font-weight:
normal'>Then <SPAN class=SpellE>saith</SPAN> one of his disciples</B>, Judas
        Iscariot, Simon's son, which should betray him: 5 Why was not this ointment
        sold for three hundred pence, and <B style='mso-bidi-font-weight:normal'>given
            to the poor?</B> 6 This he said, not that he cared for the poor, but because
        he was a thief, and had the bag, and <SPAN class=GramE>bare</SPAN> what was
        put therein. 7 Then said Jesus: Let her alone,
        <B style='mso-bidi-font-weight:normal'>against the day of my burying hath
            she kept this</B>. 8 For the poor always ye have with you; but me ye have
        not always</I>."
        <SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Jn 12:1-8)
    <P>
        <B style='mso-bidi-font-weight:normal'><U>The Case in Luke
            <o:p></o:p>
        </U></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>"36
        <B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'>And
            <U>one of the Pharisees</U> desired him that he would eat with
            him.</I></B><I style='mso-bidi-font-style:normal'> And he went into
        <B style='mso-bidi-font-weight:
normal'><U>the Pharisee's house</U></B>, and sat down to meat. 37 And, behold,
        <B style='mso-bidi-font-weight:normal'>a woman in the city, which was a
            sinner,</B> when she knew that Jesus sat at meat
        <B style='mso-bidi-font-weight:normal'><U>in the Pharisee's house</U></B>,
        brought an alabaster box of ointment, 38 and stood at his feet behind him
        weeping, and began to wash his feet with tears, and did wipe them with the
        hairs of her head, and kissed his feet, and anointed them with the ointment.
        39 Now <B style='mso-bidi-font-weight:normal'>when <U>the Pharisee which
            had bidden him</U> saw it, he <SPAN class=SpellE>spake</SPAN> within himself,
            saying: This man, <U>if he were a prophet</U></B>, would have known who and
        what manner of woman this is that <SPAN class=SpellE>toucheth</SPAN> him,
        for she is a sinner.
        <o:p></o:p>
    </I>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <I style='mso-bidi-font-style:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>40 And Jesus answering said unto him, Simon, I have somewhat to say
            unto thee. And he <SPAN class=SpellE>saith</SPAN>: Master, say on. 41 There
            was a certain creditor which had two debtors; the one owed five hundred pence,
            and the other fifty. 42 And when they had nothing to pay, he frankly forgave
            them both. Tell me therefore, which of them will love him most? 43 Simon
            answered and said, I suppose that he, to whom he forgave most. And he said
            unto him: Thou hast rightly judged. 44 And he turned to the woman, and
            <B style='mso-bidi-font-weight:
normal'>said unto Simon:</B> <SPAN class=SpellE>Seest</SPAN> thou this woman?
            <B style='mso-bidi-font-weight:normal'>I entered into thine house, thou
                <SPAN class=SpellE>gavest</SPAN> me no water for my feet, but she hath washed
                my feet with tears, and wiped them with the hairs of her head. 45 Thou
                <SPAN class=SpellE>gavest</SPAN> me <SPAN class=GramE>no kiss, but this woman
  since the time I came in hath not</SPAN> ceased to kiss my feet. 46 My head
                with oil thou didst not anoint, but this woman hath anointed my feet with
                ointment.</B>
            <o:p></o:p>
        </I>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <I style='mso-bidi-font-style:normal'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>47 Wherefore I say unto thee: Her sins, which are many, are forgiven;
            for she loved much, but to whom little is forgiven, the same
            <SPAN class=SpellE>loveth</SPAN> little. 48 And he said unto her: Thy sins
            are forgiven. 49 <B style='mso-bidi-font-weight:
normal'>And they that sat at meat with him began to say within themselves:
                <U>Who is this that <SPAN class=SpellE>forgiveth</SPAN> sins also</U>?</B>
            50 And he said to the woman: Thy faith hath saved thee; go in
            peace</I>."<SPAN style='mso-tab-count:1'>&nbsp; </SPAN> (Lc 7:36-50)
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
