<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="City"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="country-region"/>
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>31</o:TotalTime>
                    <o:Created>2011-01-27T20:14:00Z</o:Created>
                    <o:LastSaved>2011-01-27T20:45:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1620</o:Words>
                    <o:Characters>9234</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>76</o:Lines>
                    <o:Paragraphs>21</o:Paragraphs>
                    <o:CharactersWithSpaces>10833</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>120</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>"Warehouse" of souls before birth</TITLE>
                    <LINK rel=File-List href="WarehouseOfSouls_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:18.0pt'>&#147;Warehouse&#148; of souls before
  birth<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
        <B style='mso-bidi-font-weight:normal'>What is the &#147;warehouse of
            <SPAN class=GramE>souls</SPAN>&#148;
            <o:p></o:p>
        </B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>There
        are things in the Bible that are not
        said<B style='mso-bidi-font-weight:normal'>,</B> but that one can gather
        from the information received in the
        Bible<B style='mso-bidi-font-weight:normal'>.</B> In those
        cases<B style='mso-bidi-font-weight:
normal'>,</B> because we cannot present a clear reference to the subject
        in the Bible<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:
normal'>prudence advises us to present our observation as a theory, not a
            Biblical doctrine.</B> That is the case with the
        <B style='mso-bidi-font-weight:
normal'>&#147;</B>storage of souls before
        birth<B style='mso-bidi-font-weight:
normal'>&#148;,</B> a theory I explain
        below<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>My opinion
        is that God has already created all the
        <B style='mso-bidi-font-weight:
normal'>human souls</B> that are going to
        exist<B style='mso-bidi-font-weight:
normal'>,</B> and that He has them stored in some place whereby although
        they exist<B style='mso-bidi-font-weight:normal'>,</B> they do not feel nor
        suffer<B style='mso-bidi-font-weight:normal'>,</B> because they have no
        flesh<B style='mso-bidi-font-weight:normal'>,</B> which is what places the
        human soul<B style='mso-bidi-font-weight:normal'>,</B> being
        spiritual<B style='mso-bidi-font-weight:
normal'>,</B> in contact with the physical
        world<B style='mso-bidi-font-weight:
normal'>.</B> From that place which I have
        supposed<B style='mso-bidi-font-weight:
normal'>,</B> God sends or his angels take each soul to the body where they
        should live<B style='mso-bidi-font-weight:normal'>.</B> I suppose that this
        occurs at some point between conception and the first or second year of
        life<B style='mso-bidi-font-weight:normal'>,</B> a time which can be variable
        in each case<B style='mso-bidi-font-weight:normal'>.</B> Perhaps this may
        be the reason why some remember things about when they were one or two years
        old and some before and some
        after<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Due to the fact that they have
        no sensation whatsoever, they cannot perceive that they exist;</B> and due
        to the fact that they have never had any
        sensation<B style='mso-bidi-font-weight:normal'>,</B> they cannot remember
        them<B style='mso-bidi-font-weight:normal'>,</B> and
        therefore<B style='mso-bidi-font-weight:normal'>,</B> they cannot perceive
        that they exist by those means (their
        memories)<B style='mso-bidi-font-weight:normal'>.</B> It is like a fetus
        in a maternal womb<B style='mso-bidi-font-weight:normal'>;</B> but in reality
        more isolated than a fetus<B style='mso-bidi-font-weight:normal'>,</B> without
        the slightest indication or sensation that they
        exist<B style='mso-bidi-font-weight:normal'>.</B>
        However<B style='mso-bidi-font-weight:
normal'>,</B> these souls exist<B style='mso-bidi-font-weight:normal'>,</B>
        God knows them<B style='mso-bidi-font-weight:normal'>,</B> He knows how they
        are and how they will develop<B style='mso-bidi-font-weight:normal'>,</B>
        what they will do<B style='mso-bidi-font-weight:normal'>,</B>
        etc<SPAN class=GramE><B style='mso-bidi-font-weight:normal'>..</B></SPAN>
        I call that supposed place
        <SPAN class=GramE><B style='mso-bidi-font-weight:normal'>&#147;</B>a
  storage</SPAN> of created
        souls<B style='mso-bidi-font-weight:normal'>&#148;.</B> It seems to be that
        this <B style='mso-bidi-font-weight:normal'>existence without
        <SPAN class=GramE>knowledge,</SPAN></B> is referenced in Ecclesiastes
        4<B style='mso-bidi-font-weight:normal'>:</B>10 and further in Ecclesiastes
        6<B style='mso-bidi-font-weight:normal'>:</B>10<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><SPAN style='font-size:8.0pt'>2
  </SPAN><I style='mso-bidi-font-style:
normal'>Wherefore I praised the dead which are already dead more than the
        living which are yet alive<B style='mso-bidi-font-weight:normal'>.</B>
    </I><SPAN style='font-size:8.0pt'>3
  </SPAN><I style='mso-bidi-font-style:normal'>Yea<B style='mso-bidi-font-weight:normal'>,</B>
        better is he than both they<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>which hath not yet been,</B> who hath
        not seen the evil work that is done under the
        sun</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        <SPAN style='mso-tab-count:14'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'> </SPAN>(Ecclesiastes
        4<B style='mso-bidi-font-weight:
normal'>:</B>2-3)
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'>&#147;<I style='mso-bidi-font-style:normal'>That which hath been
            is named already,</I></B><I style='mso-bidi-font-style:normal'> and it is
        known that it is man<B style='mso-bidi-font-weight:normal'>,</B> neither
        may he contend with him that is mightier than
        he</I><B style='mso-bidi-font-weight:
normal'>.&#148;</B>
        <SPAN style='mso-tab-count:9'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Ecclesiastes 6<B style='mso-bidi-font-weight:normal'>:</B>10)
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>In the first passage,</B> it
        tells us that the ones who have not yet been are better off than those who
        are alive and those who have lived and
        died<B style='mso-bidi-font-weight:normal'>.</B>
        <SPAN class=GramE><B style='mso-bidi-font-weight:normal'>Which means, the
  ones who have not yet been sent to a body of flesh.</B></SPAN>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>This
        cannot be referring to one who has not been
        created<B style='mso-bidi-font-weight:
normal'>,</B> because <B style='mso-bidi-font-weight:normal'>someone who
        has not yet been in existence <SPAN class=GramE>cannot</SPAN> be neither
        better nor worse than one who exists.</B>
        Therefore<B style='mso-bidi-font-weight:normal'>,</B> we have to think that
        it refers to someone who is in
        existence<B style='mso-bidi-font-weight:normal'>,</B> but has not been born
        as yet<B style='mso-bidi-font-weight:normal'>.</B> A created
        soul<B style='mso-bidi-font-weight:
normal'>,</B> who has not had a conscious
        existence<B style='mso-bidi-font-weight:
normal'>,</B> as in a fetus in the womb of its
        mother<B style='mso-bidi-font-weight:
normal'>,</B> a soul that will come to live among us for the first and only
        time<B style='mso-bidi-font-weight:normal'>,</B> and that later will depart
        to wherever God disposes<B style='mso-bidi-font-weight:normal'>,</B> Heaven
        or Hell<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The second passage declares</B>
        that the one who already is<B style='mso-bidi-font-weight:normal'>,</B> his
        name has been named<B style='mso-bidi-font-weight:normal'>.</B> This is to
        say that he who has been born<B style='mso-bidi-font-weight:normal'>,</B>
        was known in advance<B style='mso-bidi-font-weight:normal'>,</B> his name
        and qualities were known<B style='mso-bidi-font-weight:normal'>.</B>
        This<B style='mso-bidi-font-weight:
normal'>,</B> in a certain way is in concordance with that which can be reasoned
        from the prophesies made upon
        Josiah<B style='mso-bidi-font-weight:
normal'>,</B> king of Judah and upon
        Cyrus<B style='mso-bidi-font-weight:normal'>,</B> the king of
        Persia<B style='mso-bidi-font-weight:normal'>,</B> both of which were made
        centuries in advance to the birth of the one about whom the prophecy is
        mentioned<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><SPAN style='font-size:8.0pt'>1
  </SPAN><I style='mso-bidi-font-style:
normal'>And<B style='mso-bidi-font-weight:normal'>,</B>
        behold<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>there came a man of God out of
            <st1:country-region w:st="on">Judah</st1:country-region>
            by the word of the
            LORD</B> unto
        <st1:City w:st="on">
            <st1:place w:st="on">Bethel</st1:place>
        </st1:City>
        <B
                style='mso-bidi-font-weight:normal'>;</B> and Jeroboam stood by the altar
        to burn incense<B style='mso-bidi-font-weight:normal'>.</B>
    </I><SPAN style='font-size:8.0pt'>2
  </SPAN><I style='mso-bidi-font-style:normal'>And he cried against the altar
        in the word of the LORD<B style='mso-bidi-font-weight:
normal'>,</B> and said<B style='mso-bidi-font-weight:normal'>:</B> O
        altar<B style='mso-bidi-font-weight:normal'>,</B>
        altar<B style='mso-bidi-font-weight:
normal'>,</B> thus <SPAN class=SpellE>saith</SPAN> the
        LORD<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>Behold, a child shall
            be born unto the house of David, Josiah by name;</B> and upon thee shall
        he offer the priests of the high places that burn incense upon
        thee<B style='mso-bidi-font-weight:
normal'>,</B> and men's bones shall be burnt upon
        thee</I><B style='mso-bidi-font-weight:
normal'>.&#148;</B> (I Kings
        13<B style='mso-bidi-font-weight:normal'>:</B>1-2)
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B>44<B style='mso-bidi-font-weight:normal'>:</B><SPAN style='font-size:8.0pt'>28</SPAN>
        <SPAN class=GramE><B style='mso-bidi-font-weight:
normal'><I style='mso-bidi-font-style:normal'>That</I></B></SPAN><B style='mso-bidi-font-weight:normal'><I
            style='mso-bidi-font-style:normal'> <SPAN class=SpellE>saith</SPAN> of
        Cyrus:</I></B><I style='mso-bidi-font-style:normal'> He is my
        shepherd<B style='mso-bidi-font-weight:normal'>,</B> and
        <B style='mso-bidi-font-weight:normal'>shall perform all my pleasure,</B>
        even saying to
        <st1:City w:st="on">Jerusalem</st1:City>
        <B style='mso-bidi-font-weight:
normal'>:</B> Thou <SPAN class=SpellE>shalt</SPAN> be
        built<B style='mso-bidi-font-weight:
normal'>;</B> and to the
        <st1:City w:st="on">
            <st1:place w:st="on">Temple</st1:place>
        </st1:City>
        <B
                style='mso-bidi-font-weight:normal'>:</B> Thy foundation shall be
        laid<B style='mso-bidi-font-weight:normal'>.</B>
    </I>45<B style='mso-bidi-font-weight:
normal'>:</B><SPAN style='font-size:8.0pt'>1<I style='mso-bidi-font-style:normal'>
  </I></SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:
normal'>Thus <SPAN class=SpellE>saith</SPAN> the LORD to his anointed, to
        Cyrus,</I></B><I style='mso-bidi-font-style:normal'> whose right hand I have
        <SPAN class=SpellE>holden</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
        to subdue nations before him<B style='mso-bidi-font-weight:normal'>;</B>
        and I will loose the loins of
        kings<B style='mso-bidi-font-weight:normal'>,</B> to open before him the
        two leaved gates<B style='mso-bidi-font-weight:normal'>;</B> and the gates
        shall not be shut</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        <SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Isaiah 44<B style='mso-bidi-font-weight:normal'>:</B>28 to
        45<B style='mso-bidi-font-weight:
normal'>:</B>1)
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>From
        what we have seen in these four
        verses<B style='mso-bidi-font-weight:normal'>,</B> it gives us the sensation
        that the souls were created at the same
        time<B style='mso-bidi-font-weight:normal'>,</B> but were not all sent at
        the same time to dwell in a body of
        flesh<B style='mso-bidi-font-weight:normal'>,</B> but that are sent progressively
        according to the convenience of divine
        plans<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>But let's suppose that this
        theory is wrong</B> and let's analyze the alternatives that we would then
        have to admit<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>If we
        didn't admit the theory that <B style='mso-bidi-font-weight:normal'>God created
        at the same time all the souls</B> of humans that are going to born until
        the last day<B style='mso-bidi-font-weight:normal'>,</B> we would have to
        admit one of these two
        alternatives<B style='mso-bidi-font-weight:normal'>:</B>
        <B style='mso-bidi-font-weight:normal'>a) either God has not ceased in this
            task of creation</B> since He began around
        6<B style='mso-bidi-font-weight:
normal'>,</B>000 years ago<B style='mso-bidi-font-weight:normal'>;</B> or
        <B style='mso-bidi-font-weight:normal'>b) God ceased creating,</B> but God
        has given flesh which is physical<B style='mso-bidi-font-weight:normal'>,</B>
        the ability to generate the soul<B style='mso-bidi-font-weight:normal'>,</B>
        which is a spiritual entity<B style='mso-bidi-font-weight:normal'>,</B> which
        is to say that the soul creates
        itself<B style='mso-bidi-font-weight:normal'>,</B> automatically starting
        from the masculine or feminine
        gamete<B style='mso-bidi-font-weight:normal'>,</B> in the same way that the
        skeleton<B style='mso-bidi-font-weight:normal'>,</B>
        muscles<B style='mso-bidi-font-weight:
normal'>,</B> nerves<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:normal'>.,</B> of a fetus are
        made<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Accepting alternative
        &#147;a&#148;</B> (that God has not ceased in his task of
        creation)<B style='mso-bidi-font-weight:
normal'>,</B> would contradict Genesis
        2<B style='mso-bidi-font-weight:normal'>:</B>1-3<B style='mso-bidi-font-weight:normal'>,</B>
        Hebrews
        4<B style='mso-bidi-font-weight:
normal'>:</B>4<B style='mso-bidi-font-weight:normal'>,</B> 10 as well as
        all of the Bible<B style='mso-bidi-font-weight:normal'>,</B> which indicates
        to us that God created the world in six days and rested on the
        seventh<B style='mso-bidi-font-weight:normal'>,</B> and that from that time
        forward all matter functions
        automatically<B style='mso-bidi-font-weight:normal'>,</B>
        reproducing<B style='mso-bidi-font-weight:normal'>,</B> changing
        form<B style='mso-bidi-font-weight:normal'>,</B>
        etc<B style='mso-bidi-font-weight:
normal'>.,</B> according to the laws established by
        God<B style='mso-bidi-font-weight:
normal'>,</B> which matter cannot cease
        fulfilling<B style='mso-bidi-font-weight:
normal'>.</B> In that case we would have to leave this healthy
        teaching<B style='mso-bidi-font-weight:normal'>,</B> and think that God from
        the point of creation continued creating souls in order to place them in
        the bodies of thousands and thousands of babies that are born in the world
        day and night<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>Absurd!</B>
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><SPAN style='font-size:8.0pt'>1
  </SPAN><SPAN class=GramE><I style='mso-bidi-font-style:normal'>Thus</I></SPAN><I
            style='mso-bidi-font-style:
normal'> the heavens and the Earth were
        finished<B style='mso-bidi-font-weight:
normal'>,</B> and all the host of
        them<B style='mso-bidi-font-weight:normal'>.</B>
    </I><SPAN style='font-size:8.0pt'>2
  </SPAN><I style='mso-bidi-font-style:normal'>And on the seventh day God ended
        his work which he had made<B style='mso-bidi-font-weight:
normal'>; and he rested on the seventh day from all his work which he had
            made.</B> </I><SPAN style='font-size:8.0pt'>3
  </SPAN><I style='mso-bidi-font-style:normal'>And God blessed the seventh
        day<B style='mso-bidi-font-weight:normal'>,</B> and sanctified
        it<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:
normal'>because that in it he had rested from all his work which God created
            and made</B></I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        <SPAN style='mso-tab-count:11'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'> </SPAN>(Genesis
        2<B style='mso-bidi-font-weight:normal'>:</B>1-3)
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;
  </SPAN><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I
            style='mso-bidi-font-style:normal'>For <SPAN class=GramE>he</SPAN>
        <SPAN class=SpellE>spake</SPAN> in a certain place of the seventh day on
        this wise<B style='mso-bidi-font-weight:normal'>:</B>
        <B style='mso-bidi-font-weight:normal'>And God did rest the seventh day from
            all his
            works</B></I><B style='mso-bidi-font-weight:
normal'>.&#148;</B>
        <SPAN style='mso-tab-count:7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hebrews 4<B style='mso-bidi-font-weight:normal'>:</B>4)
    <P style='tab-stops:.25in'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN style='mso-spacerun:yes'>&nbsp;
  </SPAN><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I
            style='mso-bidi-font-style:normal'>For he that is entered into his
        rest<B style='mso-bidi-font-weight:normal'>,</B> he also hath ceased from
        his own works<B style='mso-bidi-font-weight:normal'>,</B> as
        <B style='mso-bidi-font-weight:
normal'>God did from
            his</B></I><B style='mso-bidi-font-weight:normal'>.&#148;</B> (Hebrews
        4<B style='mso-bidi-font-weight:normal'>:</B>10)
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Admitting theory
        &#147;b&#148;</B> (the soul creates
        itself<B style='mso-bidi-font-weight:normal'>,</B> automatically as part
        of the flesh) steers us in something even more illogical as it is to think
        that something spiritual like the
        soul<B style='mso-bidi-font-weight:
normal'>,</B> is produced by something physical as is the
        body<B style='mso-bidi-font-weight:normal'>,</B> and that the nonphysical
        thing which is the soul<B style='mso-bidi-font-weight:normal'>,</B> multiplies
        itself in the sexual cells of man to later acquire something
        larger<B style='mso-bidi-font-weight:
normal'>,</B> because of
        nutrition<B style='mso-bidi-font-weight:normal'>.</B> This is like to the
        Russellite
        <SPAN class=GramE>theory<B style='mso-bidi-font-weight:
normal'>,</B> which affirm</SPAN> that the
        soul<B style='mso-bidi-font-weight:
normal'>,</B> as something non-physical does not exist
        <B style='mso-bidi-font-weight:
normal'>and is, therefore, complete absurd.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Specifically: either we accept
        that a &#147;storage or warehouse of souls&#148; exists or we fall into one
        of two of the absurd.
        <o:p></o:p>
    </B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>I don't think there is any
        other alternative, but if someone sees an alternative based in the Bible,
        please write to me and send it in a clear manner, like I do, because I will
        be very grateful.</B> Same thing can do if no other alternative he
        sees<B style='mso-bidi-font-weight:normal'>,</B> but find a lack of logic
        consistency<B style='mso-bidi-font-weight:normal'>,</B> internal or
        external<B style='mso-bidi-font-weight:normal'>,</B> to the theory of the
        storage of souls<B style='mso-bidi-font-weight:normal'>,</B> which I hereby
        explain<B style='mso-bidi-font-weight:normal'>;</B> or if you see errors
        in the chain of reasoning made in order to reach such a
        conclusion<B style='mso-bidi-font-weight:
normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The existence
        <SPAN class=GramE>of a &#147;</SPAN>storage of souls&#148; perfectly agrees
        with &#147;circumstantial predestination&#148;,</B> which say that God can
        predestinate the circumstances in which a human being must live his
        existence<B style='mso-bidi-font-weight:normal'>,</B> according to divine
        plans<B style='mso-bidi-font-weight:normal'>,</B> but very different is the
        <B style='mso-bidi-font-weight:normal'>&#147;</B>absolute
        predestination<B style='mso-bidi-font-weight:normal'>&#148;,</B> which affirm
        that God predestinates each person to be saved or
        lost<B style='mso-bidi-font-weight:
normal'>.</B> God does not force some to be saved and others to be damned
        or lost<B style='mso-bidi-font-weight:normal'>,</B> but since He knows them
        in advance<B style='mso-bidi-font-weight:normal'>,</B> since He
        <B style='mso-bidi-font-weight:normal'>&#147;</B>sees<B style='mso-bidi-font-weight:
normal'>&#148;</B> how they are in the
        <B style='mso-bidi-font-weight:normal'>&#147;</B>warehouse<B style='mso-bidi-font-weight:normal'>&#148;,</B>
        He sends some souls to be born at a certain
        time<B style='mso-bidi-font-weight:normal'>,</B>
        family<B style='mso-bidi-font-weight:normal'>,</B> race or nation and others
        to others<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>This
        is similar to the difference that can be made by a sculptor upon looking
        at different materials or different types of marble he has in his
        storage<B style='mso-bidi-font-weight:normal'>,</B> with which he intends
        to sculpt statues<B style='mso-bidi-font-weight:normal'>.</B> He will know
        how a statue will be or will look by taking a glance at the material which
        he intends to sculpt<B style='mso-bidi-font-weight:normal'>,</B> thanks to
        having the appropriate knowledge and experience for
        it<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Pharaoh's soul that did not
        want to let the Israelites out of Egypt,</B> was sent to be born in the body
        that was developing in the womb of the wife of the previous
        Pharaoh<B style='mso-bidi-font-weight:
normal'>;</B> in a way that this soul that was malicious and obstinate came
        to the world in the time<B style='mso-bidi-font-weight:normal'>,</B> place
        and family that was convenient to God's
        plans<B style='mso-bidi-font-weight:normal'>.</B> In that
        sense<B style='mso-bidi-font-weight:normal'>,</B> God predestined that
        soul<B style='mso-bidi-font-weight:normal'>,</B> but he did not predestine
        it to be malicious or obstinate<B style='mso-bidi-font-weight:normal'>,</B>
        he predestined it to be there<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>The same can be said about
        Judas.</B> If his soul would have been sent to the world 100 years before
        or 100 years later<B style='mso-bidi-font-weight:normal'>,</B> it would not
        have been possible to betray
        Jesus<B style='mso-bidi-font-weight:normal'>.</B> If that particular soul
        would have been sent at the same time Jesus
        lived<B style='mso-bidi-font-weight:
normal'>,</B> but not to
        <st1:place w:st="on">
            <st1:country-region w:st="on">Israel</st1:country-region>
        </st1:place>
        <B
                style='mso-bidi-font-weight:normal'>,</B> but to the womb of an American
        Indian<B style='mso-bidi-font-weight:normal'>,</B> he also would have not
        been able to betray Jesus<B style='mso-bidi-font-weight:normal'>.</B> He
        would have betrayed the chief of his tribe or his
        father<B style='mso-bidi-font-weight:normal'>,</B> but not the
        Lord<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>God predestined him circumstantially
            to come at a time, place and circumstance in which he could betray Jesus;
            <U>because God knew that he was a traitor, not because God predestined him
                to be a traitor</U>. </B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Even
        with all the circumstances
        mentioned<B style='mso-bidi-font-weight:normal'>,</B> fulfilled in favor
        of the possibility of betraying the
        Lord<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>if Jesus would not have
        elected him as one of his Apostles, he would not have been able to betray
        him,</B> <SPAN class=GramE>he</SPAN> would not have been able to put into
        effect the tendency to be a
        traitor<B style='mso-bidi-font-weight:normal'>.</B> <SPAN class=GramE>A tendency
  that had developed in him after his
  birth<B style='mso-bidi-font-weight:normal'>,</B> without God having created
  him that way<B style='mso-bidi-font-weight:normal'>.</B></SPAN>
        Therefore<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>God predestined him to betray Jesus
            Christ, not to be a traitor.</B> God knew that he would develop that malicious
        tendency and placed him where he could use that tendency with
        Christ<B style='mso-bidi-font-weight:normal'>,</B> but he didn't predestine
        him to be a traitor<B style='mso-bidi-font-weight:normal'>.</B>
    <P style='tab-stops:.25in'>
        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>It is
        not logical for God to make one bad and later become angry because he is
        bad<B style='mso-bidi-font-weight:normal'>,</B> and punishes him sending
        him to Hell<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>This is not the type of justice that
            God teaches us throughout the entire Bible,</B> and
        we<B style='mso-bidi-font-weight:normal'>,</B> in order to know what is just
        or unjust must seek to be guided by what God teaches us in the
        Bible<B style='mso-bidi-font-weight:normal'>.</B> What the Bible teaches
        is not absolute predestination<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>To believe that is to flirt with
            blasphemy.</B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><A HREF="html/en/English.html">Back to the index</A>
            <o:p></o:p>
        </B>
</DIV>
</BODY>
</HTML>
