<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>6</o:Revision>
                    <o:TotalTime>17</o:TotalTime>
                    <o:Created>2008-01-03T01:49:00Z</o:Created>
                    <o:LastSaved>2008-01-03T02:10:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>218</o:Words>
                    <o:Characters>1245</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>10</o:Lines>
                    <o:Paragraphs>2</o:Paragraphs>
                    <o:CharactersWithSpaces>1461</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="4098"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>What is true love. Loving those who hate God?</TITLE>
                    <LINK rel=File-List href="WhatIsTrueLove_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:16.0pt'>WHAT
  IS TRUE LOVE. LOVING THOSE WHO HATE GOD?<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>There are some who believe that the entire Doctrine of God consists
        of love<B style='mso-bidi-font-weight:normal'>;</B> in loving the entire
        world<B style='mso-bidi-font-weight:normal'>.</B> They believe that all of
        the requirements of God for human beings are based on loving the entire
        world<B style='mso-bidi-font-weight:normal'>.</B> That is why there are people
        that claim to love even the worse
        murderers<B style='mso-bidi-font-weight:normal'>,</B> and they believe that
        this is what God commanded<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>But in this verse we
        see that King Jehoshaphat is scorned by God through the prophet Jehu son
        of Hanani,</B> <B style='mso-bidi-font-weight:normal'><U>for loving those
        who hate God</U>.</B>
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Very clearly God announces to King Jehoshaphat that for loving those
        who hate Him<B style='mso-bidi-font-weight:normal'>,</B> the anger of the
        God's presence would be on the
        king<B style='mso-bidi-font-weight:normal'>.</B> We can draw the conclusion
        from here that we should not love those who are God's true
        enemies<B style='mso-bidi-font-weight:normal'>.</B> One could love someone
        who because of ignorance detests
        God<B style='mso-bidi-font-weight:normal'>,</B> but not one that with perfect
        understanding of everything<B style='mso-bidi-font-weight:
normal'>,</B> hates God<B style='mso-bidi-font-weight:normal'>.</B> Would
        it then be logical to love Satan and his
        demons<B style='mso-bidi-font-weight:
normal'>?</B> By chance would it be logical to pray for
        them<B style='mso-bidi-font-weight:normal'>?</B> Would God agree with such
        an attitude<B style='mso-bidi-font-weight:normal'>?</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>And Jehu the son of Hanani the seer went out to meet
        him<B style='mso-bidi-font-weight:normal'>,</B> and said to King
        Jehoshaphat<B style='mso-bidi-font-weight:normal'>,</B>
        '<B style='mso-bidi-font-weight:normal'>Shouldest thou help the ungodly,
            and <U>love them that hate the LORD</U>?</B>'
        <B style='mso-bidi-font-weight:normal'>Therefore is wrath upon thee from
            before the
            LORD</B></I><B style='mso-bidi-font-weight:normal'>.&#148;</B> (II Chronicles
        19<B style='mso-bidi-font-weight:normal'>:</B>2)
    <P>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Evidently<B style='mso-bidi-font-weight:normal'>,</B> it is not the
        same to be an atheist<B style='mso-bidi-font-weight:normal'>,</B> that an
        anti-God<B style='mso-bidi-font-weight:
normal'>.</B> It is to say<B style='mso-bidi-font-weight:normal'>,</B> it
        is not the same a person who does not love
        God<B style='mso-bidi-font-weight:normal'>,</B> or is indifferent toward
        God<B style='mso-bidi-font-weight:normal'>,</B> that one who hates
        Him<B style='mso-bidi-font-weight:normal'>.</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the Index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
