<HTML>
<HEAD>
    <!-- Created with AOLpress/2.0 -->
    <TITLE>Why hell exists and has to exist</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
<P align="center">
    <B><FONT size="5"> Why hell exists and <U> has</U> to exist</FONT></B>
<P>
<P>
    &nbsp;&nbsp;&nbsp; A man who was a believer was visited by a friend who always
    pointed his finger against the existence of hell. After long theological
    explanations that his friend <B> didn't want to</B> understand or accept,
    the believer told his friend: "Look, I am going to tell you a story, after
    which your are going to justify the existence of hell".
<P>
    &nbsp;&nbsp;&nbsp; <B>Once upon a time</B>, an Arab sheik who was exceedingly
    rich, thought of taking a trip all around the world with all his sons, daughters,
    relatives and servants. He bought the best and biggest sailboat that could
    be purchased at that time. He then put all his wealth in it, hired the best
    sailors he could get, brought his wives, children, nephews, nieces, relatives,
    and all his servants to the ship and set sail as soon as possible.
<P>
    &nbsp;&nbsp;&nbsp; They visited many places. Every time they reached a port,
    the sheik acted with great generosity towards his people and the sailors.
    After a while, the sailors concluded that the sheik had enormous wealth with
    him in the ship, and so, they conspired to take hold of it by force. Some
    of them suggested to steal all the weapons the sheik had in one of the ship's
    cabins, and kill him and his family; but others, who were grateful for the
    good demeanor the sheik had toward them, suggested that they should only
    leave them in an uninhabited island. When all of them accepted this suggestion,
    they took hold of the weapons, put the sheik and his people in several boats,
    and abandoned them near <B> two paradisiacal small islands</B>, in the Pacific
    Ocean.
<P>
    &nbsp;&nbsp;&nbsp; Some of the criminals, who were somewhat grateful, provided
    food for them for a month, put all the tools in the boats, and then, <B>
    in the sheik's boat, they put some weapons.</B> After that, they warned him
    that if he dared to shoot at them, they would shoot back and kill all of
    them.
<P>
    &nbsp;&nbsp;&nbsp; The sheik, seeing himself deprived of his wealth, but
    with his family alive and unscathed, concluded that the wisest thing was
    to start rowing toward the bigger island. Once there, <B> he gave the few
    weapons he had, to his most loyal servants, and he kept for himself the only
    two pistols they had given him</B>.
<P>
    &nbsp;&nbsp;&nbsp; At first everything seemed fine. Everyone started to work
    in order to survive. They first looked for water then, for wild food. Later,
    they started to use the fishing gear they were given, and made traps to catch
    animals for meat. A while later, they used the tools they had to build huts
    and to start plowing and sowing. Not many weeks after they had assured their
    survival, the sheik assigned jobs to each person, in order to better everyone's
    quality of life.
<P>
    &nbsp;&nbsp;&nbsp; But things had changed. <B> Not everyone was the same
    as before</B>. There were those who <B> did not do their chores</B> and others
    who began to <B> steal from their relatives and neighbors</B>, what they
    had acquired with hard work. Still, others started to <B> slander and malign
    the sheik, thinking about displacing him</B> and taking his authoritative
    position. They would have succeeded if it were not that the sheik kept the
    main weapons for himself, and had six or eight of his most loyal servants
    armed. <B> Even some of his many children started talking against their
    father</B>. They also refused to work. A few of them even raped some of their
    relatives, and stole from their neighbors.
<P>
    &nbsp;&nbsp;&nbsp; Considering what was going on, th<B>e sheik talked to
    the heart of all of them</B>, telling them that in order to live a happy
    life, they had to obey some rules, and perform some tasks. Then he established
    some laws to avoid crime and wrongdoings, but almost nobody followed them.
    Due to the fact that wrongdoers tried to live off of the efforts of the others,
    everyone became discouraged about working and fulfilling their chores.
<P>
    &nbsp;&nbsp;&nbsp; <B>For a short time the sheik took note of who were the
    worst people</B>. One night, with the help of his loyal servants and two
    of his unspoiled children they armed themselves and <B> took the six or eight
    most perverted people, tied them up, and in the morning sent them in a boat
    to the other island, <U> which was also paradisiacal</U></B>, but smaller.
    This island was several miles away, surrounded by a sea teeming with sharks.
    When they arrived, the loyal servants untied the outcasts, and left them
    with some food and tools.
<P>
    &nbsp;&nbsp;&nbsp; <B>Then the sheik gathered the rest and warned them that
    anyone who would behave as those outcasts, would go to the same place.</B>
    For a short time, the fear kept them obedient, but after a while many of
    them returned to their dire tendencies. Some wounded their family members,
    or even killed them; others stole their neighbor's properties. Some of the
    sheik's sons killed one of their half brothers.
<P>
    &nbsp;&nbsp;&nbsp; The sheik cast out again some of the worst, <B> sending
    them to the other paradisiacal island</B>. This happened repeatedly, 'till
    at last, after having cast out some of his sons and daughters, several relatives,
    and many servants, he had expelled from his island all those who didn't behave.
    <B> It was painful for the sheik to banish some of his own sons, daughters,
        and relatives. <U> It was even more painful</U> to him to see those bad people
        crushing, and even killing his good children, relatives, and servants</B>.
    Everything he tried would not make them change their behavior.
<P>
    &nbsp;&nbsp;&nbsp; Each time the sheik sent a new group to the other island,
    his loyal people informed him of <B> the horrifying way of life there</B>.
    None of them wanted to work, they fought each other for almost any reason,
    they suffered scarcity, but nobody felt like working, because the others
    would steal what they would earn.
<P>
    &nbsp;&nbsp;&nbsp; After some time, the big island was prosperous, its
    inhabitants had security, abundance, and happiness. <B> In the other island
    people lived in a hell</B>. Some time later, one of the sheik's good sons,
    who felt sorry for the other ones, asked him: "Father, have you realized
    that <B> you have sent our brethren and relatives to live in a hell?</B>"
    His father lovingly answered him: "No, my son. The only thing I did was to
    separate the good ones from the bad ones. <B> I sent them to a paradisiacal
    island, it was they who transformed it into a hell</B>. If I had not sent
    them to that island, then all my servants, relatives, daughters, and sons,
    including you, would be living in a hell. <B> We would be suffering unjustly,
    and unnecessarily</B>."
<P align="center">
    <B><A HREF="html/en/English.html"> Back to the index</A></B>
<P>
</BODY>
</HTML>
