<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>WomenActivities</title></head>
<body><br>

<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>

<p class="p40" style="margin-left: 0in; text-align: center; text-indent: 0in; line-height: normal;" align="center"><span
        style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">Women
were not <b style="">&#8220;</b>prohibited<b style="">&#8221;</b> from certain activities<b style="">,</b> it was the circumstances that
prohibited them <o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>There
are many people who believe that in ancient times and above all in the Bible<b style="">,</b> women were<span style="">&nbsp; </span>scorned and even spurned<b
            style="">.</b> Some have this in their minds because of their misogynistic
atavism<b style="">,</b> but there are some who
mistakenly believe it<b style="">.</b> That did not
occur in the Biblical culture<b style="">,</b> but
that was introduced to that region as of the imposition of the Islamic religion<b style="">.</b> The false religions are
distinguishable for having two extreme and erroneous positions towards women<b style="">:</b><span style="">&nbsp;
</span>some scorn them and others see them as semi-goddesses<b style="">.</b> <o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>The
fact that women were not more outstanding in ancient cultures was because in
past times<b style="">,</b> </span><span style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                                         lang="EN-US">physical
strength was indispensable to excel in society<b style="">.</b> </span><span style="" lang="EN-US"><o:p></o:p></span>
</p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>Up
until the 1800&#8217;s what existed was a society which because of the lack of the
technical advances of today<b style="">,</b>
required brutal strength<b style="">.</b> Let&#8217;s use
the example of war<b style="">.</b> The ones who
have always exceeded in society have always been war heroes<b style="">.</b> War was characterized by using heavy mace blows<b
            style="">,</b> swords<b style="">,</b> rocks<b style="">,</b> running after
the ones who escape running from their captors and persecutors<b style="">,</b> fighting body to body with the enemy<b
            style="">.</b> None of these things could be done by
women with the efficiency of men<b style="">.</b>
Therefore<b style="">,</b> </span><span style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                                        lang="EN-US">they
could not<b style="">,</b> in general be heroines of
war and consequently they could not be influential characters in society<b style="">.</b> </span><span style=""
                                                                                                       lang="EN-US"><span
        style="">&nbsp;</span><o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>On the
contrary<b style="">,</b> nowadays<b style="">,</b> they are allowed to enlist in the
Army<b style="">,</b> the Navy and in Air Force<b style="">.</b> Any woman can pilot a combat plane<b style="">,</b> extraordinary physical effort is not
needed for it<b style="">.</b> <o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>We can
say the same about business<b style="">.</b> A woman
in ancient times could dedicate herself to certain and determined businesses<b style="">,</b> but not as much as men<b
            style="">.</b><span style="">&nbsp;&nbsp;
</span>We have the case of the woman mentioned in Proverbs 31<b style="">:</b>10-31<b style="">,</b> and <st1:place
            w:st="on"><st1:country-region w:st="on">Lydia</st1:country-region></st1:place>
in Acts 16<b style="">:</b>14<b style="">,</b> they dedicated themselves to businesses they could carry out<b
            style="">.</b> </span><span style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                                        lang="EN-US">They
couldn&#8217;t<b style="">,</b> for example<b style="">,</b> take their merchandise to places that
were distant and dangerous like men did </span><span style="" lang="EN-US">riding their camels<b style="">,</b> because due to their physical weakness<b
        style="">,</b> they would be assaulted<b style="">,</b>
raped<b style="">,</b> enslaved or assassinated<b style="">.</b> <o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>Nowadays<b style="">,</b> any woman can safely travel to the
majority of the big cities in the world and conduct extensive business<b style="">.</b> Even they can conduct many of these businesses
without leaving their offices<b style="">,</b> via
telephone<b style="">,</b> fax<b style="">,</b> computer and the banking services in diverse countries<b style="">.</b> <o:p></o:p></span>
</p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span></span><span
        style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">If we talk about work on a farm<b
        style="">,</b>
the same thing happens<b style="">.</b> </span><span style="" lang="EN-US">A woman can plow a field on a
tractor or strip down a field full of weeds or undergrowth<b style="">,</b> sitting on a bulldozer<b style="">.</b>
It was not the same in the 1800&#8217;s when the only thing that could be utilized
was the strong arm of a man and the strength of oxen and horses<b style="">.</b> It wasn&#8217;t easy therefore accumulate
riches in agriculture and livestock<b style="">.</b><span style="">&nbsp; </span><o:p></o:p></span></p>

<p class="p40" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span></span><span
        style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">The issue was not that <b
        style="">&#8220;</b>before<b style="">&#8221;</b> a woman was<span style="">&nbsp;&nbsp; </span>scorned<b
        style="">;</b>
</span><span style="" lang="EN-US">the issue was that
before<b style="">,</b> in Biblical times<b style="">,</b> women could not compete in the brutal
world in which she lived in<b style="">.</b> No one
was going to give an opportunity to a competitor woman<b style="">,</b> because they didn&#8217;t give it to a competitor man either<b
            style="">.</b> That is why women were reserved for a
certain type of work or activity<b style="">,</b><span style="">&nbsp; </span>to which they themselves were restricted by
nature<b style="">.</b> That does not mean that
there weren&#8217;t any exceptions<b style="">,</b> but it
was just that<b style="">,</b> exceptions in which<b style="">,</b> for some reason or circumstance not
frequently<b style="">,</b> a woman stood out<b style="">.</b> <o:p></o:p></span></p>

<p class="p93" style="margin-left: 0in; text-indent: 0in; line-height: normal;"><span style="" lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>As we see<b style="">,</b>
</span><span style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">it was not an issue that it was prohibited for a woman
to be outstanding<b style="">;</b> it was that
circumstances did not allow it<b style="">.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>Among the jobs that women did were the
domestic ones<b>,</b> because in the city and in their homes they were safer
than walking alone in the countryside<b>.</b> However<b>,</b> they worked in
the farms in the company of their relatives or neighbors<b>,</b> or in places
close to the city where they lived<b>,</b> which were frequented by the
neighbors and people they knew<b>.</b> It is such a case in which women
shepherded the family sheep</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">.</span></b><span
        style="font-size: 12pt;" lang="EN-US"> <o:p></o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>In
Exodus 2<b style="">:</b>16 we also see that the
daughters of Jethro<b style="">,</b> Moses&#8217;
father-in-law<b style="">,</b> grazed his father&#8217;s
sheep<b style="">.</b> In this special case<b style="">,</b> these women<b style="">,</b> even though they did not receive serious attacks<b
            style="">,</b> they were displaced by other
shepherds<b style="">.</b> Motivated by this abuse
it was that Moses defended them and got involved in Jethro&#8217;s family<b style="">.</b> Rachel was also a shepherd to<span
            style="">&nbsp; </span>the sheep of Laban<b style="">,</b> her father<b style="">.</b><o:p></o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">Now the priest of Midian had seven daughters</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> and</span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">they came
and drew water</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and filled the troughs</span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US"> to water their father's flock</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Exodus
2</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">16)<o:p></o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">And while he yet spake with them</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> Rachel
came with her father's sheep</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">for
she kept them</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                             lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
        style=""> </span>(Genesis 29</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">9)<o:p></o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>Another
task that at times was given to women was to </span><span
        style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">keep
the vineyards<b style="">,</b> </span><span style="" lang="EN-US">as is seen in Song of Solomon 1<b style="">:</b>6<b
        style="">.</b><o:p></o:p></span></p>

<p class="p2" style="text-align: justify; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">Look not upon me</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> because
I am black</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> because
the sun hath looked upon me</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">.</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> My mother's children were angry with me</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">they made me the keeper of the vineyards<b>;</b></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> but mine own vineyard have I not kept</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
        style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Song of Solomon
1</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">6)<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="p13" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>Carrying
the water for the household use was another task of women<b style="">,</b> especially the single ones<b style="">.</b>
Whoever has watch a horse drink water can comprehend the task that Rebecca had
to undertake in order to provide a drink for ten camels<b style="">.</b> The<span style="">&nbsp; </span>pitcher that she
carried upon her shoulders could not have been small<b style="">,</b> because the stone troughs that are near wells used by animals to
drink was not small<b style="">,</b> because you
don&#8217;t fill a trough for ten camels to drink with small sips of water<b style="">.</b> <o:p></o:p></span></p>

<p class="p13" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">And she hasted</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and
emptied her pitcher into the trough</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and ran again unto the well to draw water</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">and drew for all his camels</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Genesis
24</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                  lang="EN-US">:</span></b><span style="font-size: 12pt;" lang="EN-US">20)<o:p></o:p></span></p>

<p class="p13" style="margin-left: 0in; text-align: justify; text-indent: 0in; line-height: normal;"><span style=""
                                                                                                           lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="p91" style="margin-left: 0in; line-height: normal;"><span style="" lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>It
appears that those women<b style="">,</b> within
certain limits<b style="">,</b> had rough work<b style="">.</b> In order to carry the water that is
needed in a house<b style="">,</b> pitcher by
pitcher is no light feat<b style="">.</b><span style="">&nbsp;&nbsp; </span>Of course<b style="">,</b> there were probably other young women in the household who shared
the task<b style="">.</b> In reviewing verse 43<b style="">,</b> it gives the feeling that the </span><span
        style="font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">job of going to the well for water was reserved to single women<b
        style="">;</b> </span><span style="" lang="EN-US">at least during that time or in that region<b style="">.</b> In the time of Christ<b
        style="">,</b> we see that the Samaritan woman went
to get water<b style="">.</b> <o:p></o:p></span></p>

<p class="p93" style="margin-left: 0in; text-indent: 0in; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">Behold</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> I stand by the well of water</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and it
shall come to pass</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">that
when the virgin cometh forth to draw water<b>,</b></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and I say to her</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> Give me</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> I pray
thee</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
                    lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> a little
water of thy pitcher to drink</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Genesis 24</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">43)<o:p></o:p></span></p>

<p class="p93" style="margin-left: 0in; text-indent: 0in; line-height: normal;"><span style="" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="p93" style="margin-left: 0in; text-indent: 0in; line-height: normal;"><span style="" lang="EN-US"><span
        style="">&nbsp;&nbsp; </span>There were also other activities that were
particular to men<b style="">,</b> that women did as
is seen in the case of the construction of the walls of <st1:place w:st="on"><st1:city
            w:st="on">Jerusalem</st1:city></st1:place> by Nehemiah<b style="">.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">And next unto him repaired Shallum the son of Halohesh</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> the
ruler of the half part of Jerusalem</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;"
        lang="EN-US"> he </span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US">and
his daughters</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
                             lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Nehemiah
3</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">12)<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>In this case<b>,</b> not just a woman but a
whole family of them were working in the restoration of the walls of the city
of <st1:place w:st="on"><st1:city w:st="on">Jerusalem</st1:city></st1:place><b>.</b>
Undoubtedly this means one of two things<b>,</b> either these women practiced
architecture or worked in masonry<b>.</b><o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span>In general<b>,</b> when it came to the activities
of women<b>,</b> there were no prohibitive rules<b>,</b> it was they themselves<b>,</b>
who knew that physically they could not compete<b>,</b> and moved away<b>.</b>
However<b>,</b> those women who considered themselves capable of doing
something<b>,</b> did so without anyone bothering them<b>.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span></span><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">As
for social activities<b>,</b> </span><span style="font-size: 12pt;" lang="EN-US">it is perceived that they participated as much as the
men as we see in the following passage from Job<b>.</b> <o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><span style=""> </span></span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">&#8220;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US">And his sons went and feasted in their houses</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">,</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Italic&quot;,&quot;serif&quot;;" lang="EN-US"> every
one his day</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;"
        lang="EN-US">;</span></b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold Italic&quot;,&quot;serif&quot;;" lang="EN-US"> and
sent and called for their three sisters to eat and to drink with them</span><b><span
        style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;"
        lang="EN-US">.&#8221;</span></b><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Job
1</span><b><span style="font-size: 12pt; font-family: &quot;Times New Roman Bold&quot;,&quot;serif&quot;;" lang="EN-US">:</span></b><span
        style="font-size: 12pt;" lang="EN-US">4)<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0.2in 0.0001pt; text-align: justify;"><span style="font-size: 12pt;"
                                                                                    lang="EN-US"><o:p>&nbsp;</o:p></span>
</p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;&nbsp; </span><b>In general,</b> it could be said that
women had liberty<b>,</b> but circumstances<b>,</b> competition and the nature
of their sex limited them greatly<b>.</b> Because<span style="">&nbsp; </span>of the fact of being women and become
pregnant and have to care for newborns<b>,</b> limited them in the use of their
time and in the amount of strength they could dedicate to excel in politically<b>,</b>
socially and economically<b>.</b> This does not mean that none of them did<b>,</b>
what it means is that there were always more impediments for women than for men<b>.</b>
It is good to analyze these things because this allows us to understand the
customs and upon doing so<b>,</b> it helps us to interpret Scripture correctly<b>.</b>
<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 12pt;" lang="EN-US"><a
        href="html/en/English.html"><span style="font-weight: bold;">Back &nbsp;to &nbsp;the &nbsp;Index</span></a><o:p></o:p></span>
</p>

<p class="MsoNormal" style=""><span style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<br></body>
</html>