<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:st1="urn:schemas-microsoft-com:office:smarttags"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="WomenDivorceHusbnads_files/filelist.xml">
    <title>Women Could Divorce their Husbands</title>
    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                    name="place"/>
    <!--[if gte mso 9]><xml>
     <o:DocumentProperties>
      <o:Author>HP Authorized Customer</o:Author>
      <o:Template>Normal</o:Template>
      <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
      <o:Revision>3</o:Revision>
      <o:TotalTime>1</o:TotalTime>
      <o:Created>2006-08-21T20:22:00Z</o:Created>
      <o:LastSaved>2006-08-21T20:23:00Z</o:LastSaved>
      <o:Pages>1</o:Pages>
      <o:Words>462</o:Words>
      <o:Characters>2635</o:Characters>
      <o:Company> </o:Company>
      <o:Lines>21</o:Lines>
      <o:Paragraphs>6</o:Paragraphs>
      <o:CharactersWithSpaces>3091</o:CharactersWithSpaces>
      <o:Version>11.5606</o:Version>
     </o:DocumentProperties>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>TextFit</w:Zoom>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span style='font-size:18.0pt'>Women
could divorce their husbands</span></b></p>

    <p>&nbsp;&nbsp;&nbsp; <b>There are many people who confuse Muslim and Indian
        customs with the laws of God and Biblical civilization</b>. That's why they
        think, say, and even preach, that in the times of Christ women were just a step
        above a slave. The fact that Muslims also live in the
        <st1:place w:st="on">Middle
            East
        </st1:place>
        , does not mean that they have Biblical culture and customs,
        much less the true commandments of God.
    </p>

    <p>&nbsp;&nbsp;&nbsp; <b>These people who confuse Biblical culture with Muslim
        culture,</b> also say that a man could divorce his wife, but a woman couldn't
        divorce her husband. However, this is not true. <b>This error is the fruit of
            reading books about the Bible and not the Bible itself;</b> or reading just
        some verses, passages or books of the Bible and not the whole thing. In this
        very web page article # 14 clarifies another error regarding Biblical customs
        and the position of women in that time's culture, among God's people. <b>Let's
            see what the Bible says.</b></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<i>And he
        saith unto them: Whosoever shall put away his wife, and marry another,
        committeth adultery against her. <b>And if a woman shall put away her husband</b>,
        and be married to another, she committeth adultery</i>.&quot; ( Mark 10: 11-12
        ) </p>

    <p>&nbsp;&nbsp;&nbsp; <b>In this passage we see that according to the word of
        Jesus, a woman had the right to divorce her husband,</b> a right which is
        denied for those who read lots and lots of books &quot;about the Bible&quot;,
        and not the Bible itself. </p>

    <p>&nbsp;&nbsp;&nbsp; The Bible writers of the Bible spoke in a general way,
        they didn't specify sex unnecessarily. In those times they said things such as:
        &quot;If a man steals&#8230;&quot;, which also implied &quot;If a woman
        steals&#8230;&quot;. It was not necessary to mention both sexes, as they tend
        to do now a day, for fear of being called sexist or chauvinist. That's why in
        the Old Testament they have rules about divorce, and even though they only
        mention men, it is understood that it also refers to women. <b>Therefore, as a
            man could divorce his wife, a woman could divorce her husband</b>. The proof is
        found in what our Lord says. Referring to what the law ruled, he mentioned that
        a woman could divorce her husband. So, evidently, women could divorce their
        husbands. </p>

    <p>&nbsp;&nbsp;&nbsp; The same thing is said by <b>Paul in I Co 7: 13, where he
        advises Christian women who are already married to a non Christian man, not to
        divorce them</b>, but keep their marriage united. </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>&nbsp;&nbsp;&nbsp; &quot;<b><i>And
        the woman </i></b><i>which hath an husband that believeth not, and if he be
        pleased to dwell with her, <b>let her not leave him</b></i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ( I Co 7: 13 ) </p>

    <p>&nbsp;&nbsp;&nbsp; According to these two testimonies, it is evident that
        women had the right to divorce their husbands. <b>Consequently, those who paint
            a ghastly picture about women's lives in Biblical times, are disoriented by
            confusing Biblical culture with Muslim culture</b>. They confuse the Godly
        authority of a husband in marriage, with a total absence of women's rights.
        They also confuse some cultures that despise and take out all rights from
        women, with the culture that comes out of the Law of God, which bestows on
        women all the rights inherent to a human being. </p>

    <p align=center style='text-align:center'><b><a href="html/en/English.html">Back to
        the index</a></b></p>

</div>

</body>

</html>
