<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Absurdidad de la existencia de creación anterior</title>
</head>
<body>
<p><strong>ABSURDIDAD DE LA EXISTENCIA EN LA TIERRA DE UNA CREACIÓN ANTERIOR</strong></p>
<p><strong>Para entender la Biblia hace falta un niño, para complicarla hace falta un teólogo.</strong></p>
<p></p>
<p> "25 <i>En aquel tiempo, respondiendo Jesús, dijo: Te alabo, Padre, Señor del Cielo y de la Tierra, que hayas
  escondido estas cosas de los sabios y de los entendidos, y las hayas revelado a los niños.</i> 26 <i>Así , Padre ,
  pues que así agradó en tus ojos.</i>" (Mt 11: 25-26)</p>
<p> Hay quienes sostienen la hipótesis de que entre los versículos 1 y 2 del capítulo primero del Génesis, hay un lapso
  que puede llegar a millones de años. Según ellos, durante esos millones de años existió una creación previa a la
  nuestra, que llegó a un alto grado de civilización tecnológica, y que se autodestruyó por medios atómicos. ¿Cómo lo
  saben? ¿Cómo lo prueban? <strong>Simplemente lo dogmatizan y créelo...porque lo digo yo que sé más que tú.</strong>
</p>
<p></p>
<p> "1 <i>En el principio crió Dios los cielos y la Tierra. -------------- 2 Y la Tierra estaba desordenada y vacía, y
  las tinieblas estaban sobre la haz del abismo, y el Espíritu de Dios se movía sobre la haz de las aguas</i>" ( Gn 1:
  1-2 )</p>
<p> Es ilógico pensar tal cosa, puesto que según la misma narración de donde pretenden sacar semejante absurdo, <strong>la
  luz, la atmósfera o cielos, y la tierra seca</strong>, fueron creados <strong>después</strong> de tal período.
  <strong>No tiene la más mínima lógica pensar que una gran civilización se desarrolló sin luz, sin atmósfera y sin
    tierra firme</strong>. Versículos 3, 8 y 9.</p>
<p></p>
<p>"<i>3 <strong>Y dijo Dios: Sea la luz</strong>. Y fue la luz.</i> 4 <i>Y vio Dios que la luz era buena; y apartó Dios
  la luz de las tinieblas.</i> 5 <i>Y llamó Dios a la luz Día, y a las tinieblas llamó Noche; y fue la tarde y la mañana
  un día.</i> 6 <i>Y dijo Dios: Haya expansión en medio de las aguas, y separe las aguas de las aguas.</i> 7 <i>E hizo
  Dios la expansión, y apartó las aguas que estaban debajo de la expansión, de las aguas que estaban sobre la expansión;
  y fue así.</i> 8 <i><strong>Y llamó Dios a la expansión Cielos</strong>; y fue la tarde y la mañana el día
  segundo.</i> 9 <i>Y dijo Dios: <strong>Júntense las aguas que están debajo de los cielos en un lugar, y descúbrase la
  seca</strong>; y fue así.</i> 10 <i>Y llamó Dios a la seca tierra, y a la reunión de las aguas llamó mares; y vio Dios
  que era bueno</i>." ( Gn 1: 3-10 )</p>
<p><strong>Además de todo eso, que ya es bastante</strong>, están los pasajes donde dice que <strong>Dios creó los
  cielos y la Tierra en seis días</strong>. Si los cielos y la Tierra fueron creados en seis días, no hay tiempo para
  que en esa Tierra, es decir, en ese planeta, haya existido esa creación anterior, y esa supuesta "civilización"
  tecnológica que algunos delirantes soñadores imaginan. Para ver que los cielos y la Tierra fueron creados en sólo seis
  días basta leer Gn 2: 1-2, Ex 20: 11, y 31: 17.</p>
<p></p>
<p> "1 <i>Y fueron acabados los cielos y la Tierra, y todo su ornamento.</i> 2 <strong>Y acabó Dios en el día
  séptimo</strong> <i>su obra que hizo, y reposó el día séptimo de toda su obra que había hecho</i>." ( Gn 2: 1-2 )</p>
<p></p>
<p> "<i>Porque <strong>en seis días hizo Jehová los Cielos y la Tierra</strong>, la mar y todas las cosas que en ellos
  hay, y reposó en el séptimo día; por tanto Jehová bendijo el día del reposo y lo santificó</i>." ( Ex 20: 11 )</p>
<p></p>
<p> "<i>Señal es para siempre entre mí y los hijos de Israel; porque <strong>en seis días hizo Jehová los cielos y la
  Tierra</strong>, y en el séptimo día cesó, y reposó</i>." ( Ex 31: 17 )</p>
<p> Una de las bases en que los fabricantes de esta disparatada hipótesis apoyan su creencia, es la frase "...y la
  Tierra estaba desordenada y vacía". Dicen ellos que Dios no iba a crear la Tierra para que estuviera en ese estado.
  Pero es el caso, que en Jer 4: 23 se usa una frase equivalente, y no por eso vamos a pensar que Dios había creado la
  Tierra para estar asolada y vacía. En la traducción al inglés de King James se usa exactamente la misma frase en ambos
  pasajes.</p>
<p></p>
<p> "<i>Miré la tierra, y he aquí que estaba <strong>asolada y vacía</strong>; y los cielos, y no había en ellos luz</i>."
  ( Jer 4: 23 )</p>
<p> Además, debemos de tener en cuenta que si admitimos que lo dicho en Nah 1: 9 significa que el pecado no se levantará
  dos veces, ello se daría de punta con la hipótesis esta, pues ella da por cierto que el pecado, y sobre todo la
  tribulación ya se habría levantado dos veces.</p>
<p></p>
<p> "¿<i>Qué pensáis contra Jehová</i> ? <i>El hará consumación: <strong>la tribulación no se levantará dos
  veces</strong></i>." ( Nah 1: 9 )</p>
<p><strong>En resumen</strong>, no hay un lapso de millones de años entre Gn 1:1 y Gn 1:2, y por lo tanto, la llamada
  "Gap theory" es un absurdo.</p>
<p></p>
<p>"29 <i>Porque yo sé que después de mi partida <strong>entrarán en medio de vosotros lobos rapaces</strong>, que no
  perdonarán al ganado;</i> 30 <i>y <strong>de vosotros mismos se levantarán hombres que hablen cosas perversas, para
  llevar discípulos tras sí</strong></i><strong>".</strong> ( Hch 20:29-30 )</p>
<p></p>
<p> Hay gente que por llevar discípulos tras sí son capaces de inventar cualquier historieta. Absurdas historietas que
  por desgracia se tragan muchos buenos hermanos, que salen a predicarlas, sin darse cuenta del daño que hacen. Si esto
  no fuera una cosa tan seria, sería como para, después que nos explicaran su absurda hipótesis, decirles: "Ahora
  cuéntame el de Blanca Nieves y los Siete Enanitos, o el de la Caperucita Roja".</p>
<p><strong>Esto está tan fácil que hasta un niño lo entiende, pero...¿quién se lo hace entender a un teólogo?</strong>
</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>