---
import Layout from "../layout/Layout.astro";
---

<Layout title="Agitan el puño ante el rostro de Dios">
    <section>
        <p><strong>HAY CRISTIANOS QUE NO ENTIENDEN LA GRANDEZA DE DIOS O NO SON CRISTIANOS.</strong></p>
        <p> He escuchado más a menudo de lo que debiera ser, personas que se dicen cristianos, y que confiesan que ellos
            se
            enojan con Dios, y <strong>le agitan el puño en el rostro a Dios.</strong> Al escuchar este disparate
            solamente puedo
            pensar que <strong>si efectivamente ellos son cristianos, están locos, son unos insolentes, o desconocen la
                grandeza
                de Dios, en quien dicen creer.</strong></p>
        <p><strong>Son unos atrevidos</strong> si se figuran que Dios es un ser igual a <strong>ellos, al que se le
            puede agitar
            el puño en el rostro o reprocharle algo. Una cosa así ellos no se atreverían a hacérsela a un juez durante
            un juicio,
            ni a un agente policiaco de una dictadura,</strong> porque saben que los muelen a palos. Por lo tanto, no
            solamente
            son unos atrevidos, sino también son unos cobardes, pues abusan de la bondad y paciencia de Dios, dado que
            Él no toma
            represalias, ni castiga inmediatamente sus atrevimientos.</p>
        <p> Uno de los pasajes que les he oído mencionar como justificación de su insolente proceder, es este episodio
            de las
            hermanas de Lázaro. Dicen ellos que Marta y María estaban enojadísimas con Jesús por no haber venido cuando
            ellas lo
            llamaron. <strong>Eso es falso</strong>. La forma en que Marta habla en los versículos 21 y 22 es la de una
            mujer
            triste, que lamenta que Jesús no hubiera estado allí para evitar la muerte de su hermano Lázaro.</p>
        <p></p>
        <p> "21 <i>Y Marta dijo a Jesús: <strong>Señor, si hubieses estado aquí, mi hermano no fuera
            muerto</strong>;</i> 22 <i>mas
            también sé ahora, que todo lo que pidieres de Dios, te dará Dios.</i> 23 <i>Dícele Jesús: Resucitará tu
            hermano.</i>
            24 <i>Marta le dice: <strong>Yo sé que resucitará en la resurrección en el día postrero</strong>.</i> 25 <i>Dícele
                Jesús: Yo soy la resurrección y la vida: el que cree en mí, aunque esté muerto, vivirá.</i> 26 <i>Y todo
                aquel que
                vive y cree en mí, no morirá eternamente. ¿Crees esto?</i> 27 <i>Dícele: <strong>Sí Señor; yo he creído
                que tú eres
                el Cristo, el Hijo de Dios, que has venido al mundo</strong></i><strong>.</strong>" ( Jn 11: 21-27 )</p>
        <p> La prueba de que Marta no estaba enojada está en que le llama <strong>Señor</strong>, y en cómo le expresa a
            Jesús
            su fe en la resurrección del día postrero, lo cual se ve en el versículo 24. La mejor prueba, sin embargo,
            es el hecho
            de que <strong>María pronuncia las mismas palabras que su hermana Marta, y en el caso de María sí se puede
                comprobar
                que no estaba enojada, pues estas palabras las pronuncia derribada a los pies de Jesús</strong> como
            vemos en el
            versículo 32.</p>
        <p></p>
        <p> "<i>Mas María, como vino donde estaba Jesús, viéndole, <strong>derribose a sus pies,</strong> diciéndole:
            <strong>Señor</strong>,
            si hubieras estado aquí, no fuera muerto mi hermano</i>." ( Jn 11: 32 )</p>
        <p><strong> El caso de María es similar al de Marta, ella pronuncia exactamente las mismas palabras que su
            hermana, las
            cuales no son de reproche ni de ira, sino de tristeza,</strong> porque las circunstancias les fueron
            adversas. Se ve
            que no hay reproche ni rebeldía en María, porque en el versículo 32 vimos que ella pronuncia estas palabras
            derribada
            a los pies de Jesús.</p>
        <p> Estos cristianos que según sus propias palabras agitan el puño ante el rostro de Dios, debían darse cuenta
            de su
            insolencia, su atrevimiento y su blasfemia. Debían razonar que <strong>si ellos no se atreven a agitar el
                puño ante el
                rostro de un juez</strong>, mucho menos debían agitarlo ante el rostro del Todopoderoso. Hacer eso
            indica una de
            dos: o no se dan cuenta de la grandeza del Ser Supremo, o no son cristianos, aunque ellos mismos se lo
            crean.</p>
        <p> Satanás, que es mucho más poderoso que cualquier mortal, hace cosas que Dios no quiere, pero no se atreve a
            faltarle
            al respeto a Dios en su propia cara, que es lo que hacen estos supuestos cristianos. Los insolentes
            cristianos que
            confiesan agitar el puño ante el rostro de Dios, parecen ser tan o más rebeldes que Satanás, el cual no se
            atreve a
            hacer tal cosa.</p>
        <p><a href="NotasBiblicas.html">Volver al indice</a></p>

    </section>
</Layout>
    