---
import Layout from "../layout/Layout.astro";
---

<Layout title="Qué son aguas vivas">
    <section>
        <p><strong>QUÉ SON AGUAS VIVAS.</strong></p>
        <p> En la Biblia se menciona muy a menudo la frase "aguas vivas". ¿Qué son las aguas vivas?</p>
        <p> El agua que recibe la tierra procede única y exclusivamente de las precipitaciones pluviales ( lluvia o
            nieve ). Si
            la lluvia cae en una montaña o macizo montañoso, éste queda ensopado por dentro, como una esponja grande de
            base plana
            puesta encima de una mesa, a la que le rociamos gran cantidad de agua. Si esa esponja grande cuadrada de
            digamos 30
            cms x 30 cms, ensopada como está, embebida en agua la ponemos en otra mesa seca, veremos cómo al poco rato
            ha rezumado
            hacia los bordes externos inferiores parte del agua que contenía.</p>
        <p> Si esa esponja de base plana tuviera un hueco cilíndrico, vertical, de una o dos pulgadas de diámetro en su
            centro,
            veríamos cómo además de rezumar hacia los bordes externos inferiores parte del agua que contiene esa
            esponja, la
            rezumaría también hacia el borde interno inferior, o sea, hacia el borde inferior del hueco o pozuelo. Lo
            que digo
            aquí para una montaña a macizo montañoso es válido para una llanura. Si comencé por la montaña es para
            poderla
            comparar a una esponja sobre una mesa.</p>
        <p><strong>Esa es la mecánica del pozo común</strong>: un hueco lo suficientemente hondo como para llegar a, y
            penetrar
            en, la capa de la tierra que permanece perennemente empapada en el agua de lluvia que cae en su superficie y
            es
            absorbida por el terreno. Esa agua prosigue hacia abajo hasta que un estrato o capa impermeable o semi
            impermeable la
            detenga o la frene en su descenso. <strong>De ahí en adelante corre hacia los lados, y al llegar al hueco de
                un pozo
                de brocal, se rezume por sus paredes, cayendo al fondo del pozo, y formando un reservorio de agua
                filtrada.</strong>
        </p>
        <p> En muchas ocasiones, viajando yo por regiones montañosas, al pasar la carretera a través de una montaña
            cortada a
            pico, he visto en sus escarpadas paredes cómo brota el agua, cómo se rezume de la piedra. Si ustedes
            observan también
            verán tal cosa.</p>
        <p> De joven, yo era muy aficionado a explorar cavernas, y también allí observaba el rezumarse del agua en la
            piedra, la
            cual corría por la pared y llenaba el suelo. <strong>En una de esas cuevas vírgenes</strong>, (jamás
            exploradas por
            nadie), descubrí, para sorpresa del dueño de la finca (hacienda), <strong>un bolsón o cámara
                subterránea</strong> de
            unos 5 mts de ancho, por 18 mts de largo y 1 metro de alto, llena de la más limpia y fresca agua que jamás
            hubiera
            visto. Era lógico; estaba filtrada a través de cientos de metros de roca viva y guardada del calor del sol
            por miles
            de toneladas de roca y tierra que la montaña tenía sobre ella. De aquella cámara subterránea salía el túnel
            de un
            pequeñísimo riachuelo cuyo curso seguí por uno o dos kilómetros, teniendo que caminar encorvado y metido en
            el agua,
            unas veces hasta los tobillos y otras hasta la cintura, hasta que el túnel se hizo tan bajo que había que
            arrastrarse.
            No queriendo arriesgarme a una posición tan indefensa y a tanta estrechez, opté por virar para atrás.</p>
        <p> Pues bien, ese bolsón de agua (cámara) que era la cueva, y ese túnel, es probable que constituyeran,
            respectivamente, el depósito y el conducto del agua de algún manantial. Es decir, cuando ese túnel saliera a
            la ladera
            de la montaña, constituiría un manantial, o sea, <strong>una fuente de aguas vivas</strong>. Si en vez de
            salir a la
            ladera o base de la montaña siguiera su curso bajo tierra, penetrando en tierras llanas u onduladas
            constituiría un
            río subterráneo. Si en medio de la llanura y encima de ese conducto o río subterráneo que traía el agua del
            bolsón de
            la cueva que había en la montaña, alguien hubiera comenzado a abrir un pozo, cuando ese pozo llegara a ese
            conducto o
            túnel de agua corriente, filtrada al máximo, fría y pura, esa persona hubiera encontrado <strong>lo que en
                la Biblia
                se llama "un pozo de aguas vivas"</strong>.</p>
        <p> "<i>Y los siervos de Isaac cavaron en el valle, y hallaron allí <strong>un pozo de aguas vivas</strong></i>."
            (Gn
            26:19)</p>
        <p></p>
        <p> "<i>Respondió Jesús y díjole: Si conocieses el don de Dios y quién es el que te dice: Dame de beber, tú
            pedirías de
            él, y él te daría <strong>agua viva.</strong> La mujer le dice: Señor, no tienes con qué sacarla y el pozo
            es hondo;
            ¿de dónde, pues, tienes el <strong>agua viva</strong></i>" (Jn 4:10-11)</p>
        <p> Un pozo común es el que expliqué al principio, producto de la filtración del agua en los estratos profundos
            del
            suelo. En un pozo de aguas vivas, las aguas tienen esencialmente el mismo origen y filtrado, sólo que
            proviene de
            algún bolsón lo suficientemente grande como para mantener el agua corriendo continuamente.</p>
        <p> Si ese bolsón se halla en una montaña, y si su agua corre en forma subterránea a través de un valle, al
            abrir un
            pozo en ese valle encima del túnel por donde corre el agua, este será un pozo de aguas vivas.</p>
        <p> Ahora bien, lo que nos interesa, que es la frase "aguas vivas", es lo que ya expliqué, un manantial que
            brota en la
            ladera de una montaña, o un pozo que por casualidad se abre encima de un riachuelo subterráneo.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    