---
import Layout from "../layout/Layout.astro";
---

<Layout title="La discusión es como la luz, molesta solamente a aquellos que prefieren las tinieblas">
    <section>
        <p><strong>La discusión es como la luz, molesta solamente a aquellos que prefieren las tinieblas</strong></p>
        <p><strong>Tratemos de estar conscientes de lo que creemos respecto a la conservación o pérdida de la
            salvación.</strong> Hay dos extremos en lo que se refiere a la pérdida o mantenimiento de la
            salvación<strong>.</strong> Hay quienes creen que la salvación se pierde por cualquier
            cosa<strong>;</strong> y hay
            quienes piensan que no se pierde jamás por nada<strong>.</strong> Ambos están equivocados<strong>.</strong>
            Aquel a
            quien tanto le costó salvarnos<strong>,</strong> no nos va a quitar nuestra salvación por cualquier
            cosa<strong>,</strong> <strong>pero tampoco va a dejarse pisotear por los que aman el pecado más que a su
                Señor,</strong> y pretenden vivir pecando<strong>,</strong> mientras que
            <strong>"</strong>tranquilizan<strong>"</strong> su conciencia forzándose a creer que la salvación no se
            puede
            perder<strong>.</strong></p>
        <p> En algunas ocasiones he visto a dos amigos estar discutiendo un asunto importante<strong>,</strong> sin
            darse cuenta
            de que ambos opinan lo mismo<strong>,</strong> y ha tenido que venir un tercero a hacerles notar tal
            cosa<strong>.</strong> Esto es motivado porque ellos no están conscientes de lo que creen<strong>,</strong>
            no se
            han puntualizado a sí mismos cuáles son sus creencias<strong>.</strong> <strong>Aclaremos, pues, nuestros
                conceptos.</strong></p>
        <p> A veces nuestros conceptos no los tenemos claros en nuestra mente<strong>,</strong> porque nunca nos hemos
            respondido categóricamente las interrogantes que nos surgen<strong>.</strong> <strong>Por lo regular tenemos
                en la
                mente frases hechas o palabras con las que pretendemos expresar un concepto nebuloso</strong> que
            guardamos en
            la mente<strong>,</strong> el cual<strong>,</strong> a pesar de que no lo tenemos diáfanamente
            establecido<strong>,</strong> queremos que los demás lo entiendan y nos lo acepten sin definirlo ni
            demostrarlo<strong>.</strong></p>
        <p><strong>Cuáles son las principales afirmaciones de los que creen en la doctrina de que una vez salvo siempre
            salvo.</strong> Hay dos o tres variantes de esta doctrina<strong>,</strong> pero todas son
            erradas<strong>.</strong>
            Hay quienes piensan que el humano no tiene libre albedrío<strong>,</strong> que él nunca quiso ser
            salvado<strong>,</strong> pero que Dios forzó a unos a ser salvos<strong>,</strong> mientras que dejó a
            otros a
            merced de su horrible destino</p>
        <p><strong>Otros piensan</strong> que el humano sí tiene libre albedrío<strong>,</strong> pero que una vez que
            se
            convierte a Cristo deja de tener libre albedrío<strong>,</strong> por lo cual no puede desear abandonar la
            fe y
            dejar de salvarse<strong>.</strong> Es algo así como el pez<strong>,</strong> que después que muerde el
            anzuelo<strong>,</strong> no puede zafarse aunque lo desee con toda el alma<strong>.</strong></p>
        <p><strong> Otros sostienen</strong> que el humano tiene libre albedrío antes y después de su
            conversión<strong>,</strong> pero que Dios no permite que se conviertan aquellos que luego van a apartarse
            de la
            fe<strong>,</strong> razón por la cual<strong>,</strong> según los que así piensan<strong>,</strong> el que
            una vez
            está salvo<strong>,</strong> siempre estará salvo<strong>,</strong> no importa cuanto peque y cuanto
            desobedezca a
            Dios<strong>.</strong></p>
        <p><strong>Una de las afirmaciones de esta doctrina es que el que se aparta, el que deja la fe, es porque nunca
            estuvo
            en ella.</strong> Eso es falso<strong>,</strong> de acuerdo a lo que opina el Espíritu Santo y lo voy a
            demostrar
            más adelante en este artículo<strong>.</strong></p>
        <p><strong>Ninguna de las variantes de esta doctrina puede mostrar en la Biblia ningún pasaje que claramente
            diga tal
            cosa.</strong> Ni siquiera puede mostrar un pasaje del cual se pueda colegir semejante
            cosa<strong>.</strong> Sin
            embargo<strong>,</strong> yo si puedo mostrar muchos pasajes que clara y diáfanamente dicen lo
            contrario<strong>:</strong> <strong>que el que una vez fue salvo, puede apartarse y dejar de serlo.</strong>
        </p>
        <p> Dios no obliga a sus criaturas a amarle aunque esas criaturas no lo deseen<strong>.</strong> Dios no obliga
            a nadie
            a permanecer a su lado aunque no lo desee<strong>.</strong> Esa <strong>"</strong>salvación a la
            fuerza<strong>",</strong> que desdichadamente se predica tan frecuentemente<strong>,</strong> <strong>no
                sirve para
                nada más que para tranquilizarle la conciencia en forma artificial,</strong> al que habiéndose
            convertido al
            Señor<strong>,</strong> sigue amando más sus concupiscencias y pecados que a Jesucristo<strong>,</strong> y
            quiere
            mantenerse pecando<strong>,</strong> sin perder la salvación<strong>.</strong></p>
        <p> En toda la Escritura ustedes verán que jamás se habla de que el que una vez fue salvo permanece salvo para
            siempre
            aunque peque y no se arrepienta<strong>.</strong> Sin embargo<strong>,</strong> sí verán en muchísimas
            ocasiones que
            se dice que el que es salvo<strong>,</strong> peca y no quiere arrepentirse de su pecado<strong>,</strong>
            pierde su
            salvación<strong>.</strong></p>
        <p> El Señor dijo<strong>:</strong> <strong>"</strong>De la abundancia del corazón habla la
            boca<strong>".</strong> Si
            en sus corazones los escritores bíblicos no tuvieran el conocimiento de que el salvo se pudiera
            perder<strong>,</strong> no hablarían tal cosa<strong>,</strong> como vemos que hablan gente como
            Pedro<strong>,</strong> Pablo<strong>,</strong> Santiago<strong>,</strong> Juan<strong>,</strong>
            Moisés<strong>,</strong> Isaías<strong>,</strong> Ezequiel<strong>,</strong> etc<strong>..</strong></p>
        <p><strong>Resumen de lo que dice este artículo y tesis que contiene.</strong> Este artículo solamente afirma
            que un
            cristiano puede perderse si él se quiere apartar del Señor<strong>,</strong> si a él no le agradan las
            limpias
            normas de vida que el Señor proclama<strong>.</strong> Es decir<strong>,</strong> que si los perversos
            <strong>"</strong>goces<strong>"</strong> del pecado<strong>,</strong> le atraen más que el amor de
            Jesucristo<strong>,</strong> esa persona puede irse descaminando poco a poco<strong>,</strong> hasta llegar
            a un
            punto de endurecimiento y desprecio por lo divino<strong>,</strong> que no tiene marcha
            atrás<strong>.</strong></p>
        <p> Quisiera que los que creen que una vez salvo siempre salvo<strong>,</strong> me presenten aunque sea tres
            claros
            pasajes en los que se nos diga que la persona que sea salva puede hacer mangas y capirotes<strong>,</strong>
            pecar<strong>,</strong> pecar y pecar<strong>,</strong> manteniendo la salvación<strong>,</strong> sin que
            por mucho
            que peque sin arrepentirse llegue a perderse<strong>.</strong></p>
        <p><strong>Veamos algunas opiniones de escritores de la Biblia, sobre esa herejía que dice que una vez salvo
            siempre
            salvo. El Espíritu Santo dice bien claramente que se puede caer de la gracia.</strong></p>
        <p> Los que siguen las doctrinas del obispo católico holandés Cornelio Jansen y del reformador francés Juan
            Calvino<strong>,</strong> aseguran que la persona que se convierte a Cristo<strong>,</strong> y que por lo
            tanto
            está en la fe<strong>,</strong> no puede después abandonar la fe para perderse<strong>.</strong> Sin embargo<strong>,</strong>
            en el siguiente versículo el Espíritu Santo dice otra cosa muy diferente<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Empero <strong>el Espíritu dice manifiestamente,</strong> que en los venideros tiempos
            <strong>algunos
                apostatarán de la fe</strong> escuchando a espíritus de error y a doctrinas de
            demonios</i><strong>"</strong> (I Tim
            4<strong>:</strong>1)</p>
        <p> Como vemos en el versículo anterior<strong>,</strong> <strong>el Espíritu Santo, personalmente, nos dice que
            algunos
            apostatarán de la fe.</strong> Para apostatar de la fe hay que haber estado en la fe<strong>.</strong> Nadie
            puede
            abandonar una casa en la que nunca ha estado<strong>.</strong> Nadie puede caerse de una escalera en la que
            nunca se
            ha encaramado<strong>.</strong> Tampoco nadie puede abandonar una fe en la que jamás ha
            estado<strong>.</strong> De
            aquí se evidencia que el Espíritu Santo está diciendo que los que estaban en la gracia podían caer de
            ella<strong>,</strong> podían abandonar la fe<strong>.</strong></p>
        <p> Pues bien<strong>,</strong> al decir el Espíritu Santo que algunos apostatarán de la fe nos hace ver clara y
            definitivamente que el cristiano<strong>,</strong> el ser humano que está en la fe<strong>,</strong> el ser
            humano
            que está salvo<strong>,</strong> puede dejar la fe y<strong>,</strong> por lo tanto<strong>,</strong> dejar
            de estar
            salvo<strong>.</strong> Esto demuestra paladinamente que esa hipótesis de <strong>"</strong>el salvo siempre
            salvo<strong>",</strong> es una herejía más<strong>,</strong> en la que ha caído la
            cristiandad<strong>.</strong>
            <strong>Si el Espíritu Santo personalmente dice que algunos apostatarán de la fe, ¿quiénes son Jansen y
                Calvino para
                negarlo?</strong> Nadie puede apostatar de una fe en la que jamás ha estado<strong>,</strong> nadie
            puede caer
            de una escalera en la que no se ha subido<strong>,</strong> ni abandonar una casa en la que jamás ha entrado<strong>.</strong>
            Por lo tanto<strong>,</strong> decir que el que cae de la fe es porque nunca estuvo en la
            fe<strong>,</strong> es
            una falsedad<strong>.</strong> En el próximo artículo mostraré más pasajes bíblicos que demuestran el error
            de la
            herejía de Salvo Siempre Salvo aunque no se arrepienta<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    