
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>"Almacén" de almas previo al nacimiento</title>
</head>
<body>
<p><strong>"Almacén" de almas previo al nacimiento</strong></p>
<p><strong>Qué es el "almacén de almas"</strong></p>
<p> Hay cosas que en la Biblia no se dicen<strong>,</strong> pero las cuales uno puede deducir de la información que
    recibe en la Biblia<strong>.</strong> En esos casos<strong>,</strong> como que no se puede presentar una clara
    referencia al asunto en la Biblia<strong>,</strong> <strong>la prudencia nos aconseja presentar nuestra observación
        como una teoría, no como una doctrina bíblica.</strong> Ese es el caso del <strong>"</strong>almacén de almas
    previo al nacimiento<strong>",</strong> teoría que más abajo explico<strong>.</strong></p>
<p> Mi opinión es que Dios ya creó todas las <strong>almas humanas</strong> que van a existir<strong>,</strong> y que
    las tiene en algún lugar donde a pesar de que existen<strong>,</strong> ni sienten ni padecen<strong>,</strong>
    porque no tienen la carne<strong>,</strong> que es la que pone al alma humana<strong>,</strong> ente
    espiritual<strong>,</strong> en contacto con el mundo físico<strong>.</strong> Desde ese lugar que he
    supuesto<strong>,</strong> Dios envía<strong>,</strong> o sus ángeles llevan cada alma<strong>,</strong> al cuerpo
    donde deban vivir<strong>.</strong> Supongo que esto ocurra en algún momento entre la concepción y el primer o
    segundo año de edad<strong>,</strong> pudiendo este tiempo ser variable en cada caso<strong>.</strong> Tal vez ese
    sea el porqué unos recuerdan cosas de cuando tenían uno o dos años y otros antes o después<strong>.</strong></p>
<p><strong>Debido a que no tienen sensaciones de ninguna clase, no pueden percatarse de que existen;</strong> y debido a
    que nunca las han tenido<strong>,</strong> tampoco pueden recordarlas y<strong>,</strong> por lo
    tanto<strong>,</strong> tampoco por ese medio (el recuerdo) pueden percatarse de que existen<strong>.</strong> Es
    como el feto en el vientre materno<strong>;</strong> en realidad más aislados que un feto<strong>,</strong> sin la
    más mínima sensación que les haga darse cuenta de que existen<strong>.</strong> Sin embargo<strong>,</strong> esas
    almas existen<strong>;</strong> Dios las conoce<strong>;</strong> sabe cómo son y cómo
    desarrollarán<strong>,</strong> y lo que van a hacer<strong>,</strong> etc<strong>..</strong> A ese supuesto lugar
    es a lo que yo llamo <strong>"</strong>almacén de almas creadas<strong>".</strong> A esa <strong>existencia sin
        conocimiento,</strong> me parece que es a lo que se hace referencia en Ecl
    4<strong>:</strong>10<strong>,</strong> y más aún en Ecl 6<strong>:</strong>10<strong>.</strong></p>
<p></p>
<p><strong>"</strong>2 <i>Y alabé yo los finados que ya murieron<strong>,</strong> más que los vivientes que hasta ahora
    están vivos<strong>.</strong></i> 3 <i>Y tuve por mejor que unos y otros<strong>,</strong> <strong>al que no ha sido
    aún,</strong> que no ha visto las malas obras que debajo del sol se hacen</i><strong>."</strong> (Ecl
    4<strong>:</strong>2-3)</p>
<p></p>
<p><strong>"<i>El que es, ya su nombre ha sido nombrado;</i></strong> <i>y se sabe que es hombre<strong>,</strong> y que
    no podrá contender con el que es más fuerte que él</i><strong>."</strong> (Ecl 6<strong>:</strong>10)</p>
<p><strong>En el primer pasaje</strong> nos dice que tuvo por mejor que a los que ahora están vivos<strong>,</strong> y
    que a los que estuvieron vivos<strong>,</strong> pero murieron<strong>,</strong> al que no ha sido
    aún<strong>.</strong> <strong>Es decir, al que aún no ha sido enviado a un cuerpo de carne.</strong></p>
<p> No puede estarse refiriendo a alguien que aún no ha sido creado<strong>,</strong> porque alguien que aún no existe
    no puede estar ni mejor ni peor que uno que sí existe<strong>.</strong> Por lo tanto<strong>,</strong> hay que
    pensar que se refiere a alguien que está en existencia<strong>,</strong> pero que no ha nacido aún<strong>.</strong>
    Es decir<strong>,</strong> un alma creada<strong>,</strong> que jamás ha tenido existencia
    consciente<strong>,</strong> como el feto en el vientre de su madre<strong>,</strong> un alma que vendrá a vivir
    entre nosotros por primera y única vez<strong>,</strong> y que luego partirá para donde Dios
    disponga<strong>,</strong> el Cielo o el Infierno<strong>.</strong></p>
<p><strong>El segundo pasaje</strong> nos declara que el que es<strong>,</strong> ya su nombre ha sido
    nombrado<strong>.</strong> Es decir<strong>,</strong> que aquel que ya nació<strong>,</strong> se conocía de
    antemano<strong>,</strong> se sabía su nombre y sus cualidades<strong>.</strong> Esto<strong>,</strong> en cierta
    forma concuerda con lo que se puede razonar de las profecías hechas sobre Josías rey de Judá y sobre Ciro rey de
    Persia<strong>,</strong> las cuales ambas fueron hechas con siglos de anticipación al nacimiento del que se menciona
    en la profecía<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Y he aquí que <strong>un varón de Dios por palabra de Jehová</strong> vino de Judá a
    Beth-el<strong>;</strong> y estando Jeroboam al altar para quemar perfumes<strong>,</strong></i> 2 <i>él clamó
    contra el altar por palabra de Jehová<strong>,</strong> y dijo<strong>:</strong> Altar<strong>,</strong>
    altar<strong>,</strong> así ha dicho Jehová<strong>:</strong> He aquí que <strong>a la casa de David nacerá un hijo,
        llamado Josías,</strong> el cual sacrificará sobre ti a los sacerdotes de los altos que queman sobre ti perfumes<strong>;</strong>
    y sobre ti quemarán huesos de hombres</i><strong>."</strong> (I R 13<strong>:</strong>1-2)</p>
<p></p>
<p><strong>"</strong>44<strong>:</strong>28 <strong>Que dice de Ciro:</strong> <i>Es mi pastor<strong>,</strong> y
    <strong>cumplirá todo lo que yo quiero,</strong> en diciendo a Jerusalem<strong>:</strong> Serás
    edificada<strong>;</strong> y al Templo<strong>:</strong> Serás fundado<strong>.</strong></i> 45<strong>:</strong>1
    <i><strong>Así dice Jehová a su ungido, a Ciro,</strong> al cual tomé yo por su mano derecha<strong>,</strong> para
        sujetar gentes delante de él y desatar lomos de reyes<strong>;</strong> para abrir delante de él puertas<strong>,</strong>
        y las puertas no se cerrarán</i><strong>."</strong> (Isa 44<strong>:</strong>28 al 45<strong>:</strong>1)</p>
<p> Así que por lo que hemos visto en estos cuatro pasajes<strong>,</strong> da la sensación de que las almas fueron
    creadas todas de una sola vez<strong>,</strong> pero no fueron enviadas todas la mismo tiempo a vestirse de un
    cuerpo de carne<strong>,</strong> sino que son enviadas progresivamente según convenga a los planes
    divinos<strong>.</strong></p>
<p><strong>Pero supongamos que esta teoría fuera errada,</strong> y analicemos las alternativas que entonces tendríamos
    que admitir<strong>.</strong></p>
<p> Si no admitiéramos la teoría de que <strong>Dios creó de una sola vez todas las almas</strong> de los humanos que
    van a nacer hasta el día del fin<strong>,</strong> tendríamos que admitir una de estas otras dos
    alternativas<strong>:</strong> <strong>a) o Dios no ha cesado en su tarea de creación</strong> desde que la comenzó
    hace alrededor de 6<strong>,</strong>000 años<strong>;</strong> o <strong>b) Dios sí cesó de crear,</strong> pero
    Dios le ha dado a la carne<strong>,</strong> que es física<strong>,</strong> la facultad de generar el
    alma<strong>,</strong> que es un ente espiritual<strong>,</strong> es decir que el alma se fábrica
    sola<strong>,</strong> automáticamente<strong>,</strong> a partir de los gametos masculino y femenino del
    humano<strong>,</strong> al igual que se fabrican por sí solos el esqueleto<strong>,</strong> los
    músculos<strong>,</strong> los nervios<strong>,</strong> etc<strong>.,</strong> de un feto<strong>.</strong></p>
<p><strong>Aceptar la alternativa "a"</strong> (que Dios no ha cesado en su tarea de creación)<strong>,</strong>
    contradiría Gn 2<strong>:</strong>1-3<strong>,</strong> Heb 4<strong>:</strong>4 y 10<strong>,</strong> así como
    toda la Biblia<strong>,</strong> que nos indica que Dios hizo la creación en seis días descansando el
    séptimo<strong>;</strong> y que de ahí en adelante toda la materia funciona automáticamente<strong>,</strong>
    reproduciéndose<strong>,</strong> cambiando de forma<strong>,</strong> etc<strong>.,</strong> según las leyes por
    Dios establecidas<strong>.</strong> las cuales la materia no puede dejar de cumplir<strong>.</strong> Es
    decir<strong>,</strong> que tendríamos que dejar esta sana enseñanza<strong>,</strong> y pensar que
    Dios<strong>,</strong> desde la creación<strong>,</strong> continuó creando almas<strong>,</strong> para ponerlas en
    los cuerpos de los miles y miles de bebés que día y noche nacen en el mundo<strong>.</strong>
    <strong>¡Absurdo!</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Y fueron acabados los cielos y la Tierra<strong>,</strong> y todo su
    ornamento<strong>.</strong></i> 2 <i>Y acabó Dios en el día séptimo su obra que hizo<strong>,</strong> y <strong>reposó
    el día séptimo de toda su obra que había hecho.</strong></i> 3 <i>Y bendijo Dios al día séptimo<strong>,</strong> y
    lo santificó<strong>,</strong> <strong>porque en él reposó de toda su obra que había Dios criado y
        hecho</strong></i><strong>."</strong> (Gn 2<strong>:</strong>1-3)</p>
<p></p>
<p><strong>"</strong><i>Porque en un cierto lugar dijo así del séptimo día<strong>:</strong> <strong>Y reposó Dios de
    todas sus obras</strong> en el séptimo día</i><strong>."</strong> (Heb 4<strong>:</strong>4)</p>
<p></p>
<p><strong>"</strong><i>Porque el que ha entrado en su reposo<strong>,</strong> también él ha reposado de sus
    obras<strong>,</strong> <strong>como Dios de las suyas</strong></i><strong>."</strong> (Heb 4<strong>:</strong>10)
</p>
<p><strong> Admitir la teoría "b"</strong> (el alma se fábrica sola<strong>,</strong> automáticamente<strong>,</strong>
    a partir de la carne) nos conduciría a algo más ilógico aún<strong>,</strong> como es el pensar que algo espiritual
    como el alma<strong>,</strong> es producido por algo físico como es el cuerpo<strong>,</strong> y que esa cosa
    no-física que es el alma<strong>,</strong> se multiplica en las células sexuales del humano<strong>,</strong> para
    luego adquirir mayor tamaño gracias al alimento<strong>.</strong> Eso linda con la teoría ruselista de que el alma
    como algo no-físico<strong>,</strong> no existe y <strong>es, por consiguiente, completamente absurda.</strong></p>
<p><strong> Concretando: o aceptamos que existe el "almacén de almas" o caemos en uno de dos absurdos.</strong></p>
<p><strong>No creo que haya otra alternativa basados en la Biblia, pero si alguien la ve, que me lo escriba y me lo
    envíe en la forma clara en que yo lo hago, que mucho se lo voy a agradecer.</strong> Otro tanto puede
    hacer<strong>,</strong> si no ve otra alternativa<strong>,</strong> pero le nota falta de consistencia lógica
    interna o externa a la teoría del almacén de almas<strong>,</strong> que aquí explico<strong>,</strong> o si ve
    errores en la cadena del raciocinio hecha para llegar a tal conclusión<strong>.</strong></p>
<p> Pues bien<strong>,</strong> <strong>la existencia de un "almacén de almas" concuerda perfectamente con la
    predestinación circunstancial,</strong> la cual dice que Dios predestina las circunstancias en que debe vivir un ser
    humano su existencia terrenal<strong>,</strong> de acuerdo a los planes divinos<strong>,</strong> y otra muy
    diferente es la <strong>"</strong>predestinación absoluta<strong>",</strong> que afirma que Dios lo predestina a ser
    salvo o perdido<strong>.</strong> Dios no obliga a unos a ser salvos y a otros a ser perdidos<strong>,</strong> sino
    que<strong>,</strong> como que los conoce de antemano<strong>,</strong> como que
    <strong>"</strong>ve<strong>"</strong> cómo son en el <strong>"</strong>almacén<strong>",</strong> manda unas almas
    a nacer en una época<strong>,</strong> familia<strong>,</strong> raza o nación<strong>,</strong> y a otras en
    otra<strong>.</strong></p>
<p> Es parecido a la diferenciación que puede hacer un escultor al mirar los distintos materiales o los distintos
    mármoles que él tiene en su almacén<strong>,</strong> de los que piensa hacer estatuas<strong>.</strong> Él sabría
    cómo va a ser o a lucir dicha estatua<strong>,</strong> sólo con ver el material del cual piensa
    esculpirla<strong>,</strong> y por tener el apropiado conocimiento y experiencia para ello<strong>.</strong></p>
<p><strong>El alma del faraón que no quería dejar salir a los hebreos de Egipto,</strong> la envió a nacer en el cuerpo
    que se estaba desarrollando en el vientre de la esposa del faraón anterior<strong>;</strong> de manera que esta alma
    malvada y obstinada vino al mundo en el lugar<strong>,</strong> tiempo y familia que convenía a los planes de
    Dios<strong>.</strong> En ese sentido Dios predestinó esa alma<strong>,</strong> pero no la predestinó a ser malvada
    y obstinada<strong>,</strong> la predestinó a estar allí<strong>.</strong></p>
<p><strong>Otro tanto puede decirse de Judas.</strong> Si su alma hubiera sido enviada al mundo 100 años
    antes<strong>,</strong> ó 100 años después<strong>,</strong> no le hubiera sido posible traicionar a
    Jesús<strong>.</strong> Si esa alma hubiera sido enviada al mundo en la misma época que Jesús<strong>,</strong> pero
    en vez de haber sido enviada a Israel<strong>,</strong> hubiera sido enviada al vientre de una india
    americana<strong>,</strong> tampoco hubiera podido traicionar a Jesús<strong>.</strong> Hubiera traicionado al
    cacique de su tribu<strong>,</strong> o a su padre<strong>,</strong> pero no al Señor<strong>.</strong> Pero
    <strong>Dios lo predestinó circunstancialmente a venir en el tiempo, lugar y circunstancias en que él pudiera
        traicionar a Jesús; porque Dios sabía que era un traidor, no porque Dios lo predestinara a ser un
        traidor.</strong></p>
<p> Aún con todas las circunstancias mencionadas<strong>,</strong> cumpliéndose en favor de la posibilidad de traicionar
    al Señor<strong>,</strong> <strong>si Jesús no lo hubiera elegido como uno de sus apóstoles, no hubiera podido
        traicionarlo,</strong> no hubiera podido poner en efecto la tendencia a ser traidor<strong>.</strong> Tendencia
    esta que se había desarrollado en él<strong>,</strong> después de su nacimiento<strong>,</strong> sin que Dios lo
    hubiera creado así<strong>.</strong> Por lo tanto<strong>,</strong> <strong>Dios lo predestinó para traicionar a
        Jesucristo,</strong> no para ser traidor<strong>.</strong> Dios sabía que él desarrollaría esa mala tendencia y
    lo puso donde pudiera usarla con Cristo<strong>,</strong> pero no lo predestinó a ser traidor<strong>.</strong></p>
<p> No es lógico que Dios fabrique a uno malo<strong>,</strong> y luego se enoje contra él porque es
    malo<strong>,</strong> y lo castigue enviándolo al Infierno<strong>.</strong> <strong>No es ese el tipo de justicia
        que Dios nos enseña en toda la Biblia;</strong> y nosotros<strong>,</strong> para saber lo que es justo o
    injusto<strong>,</strong> nos tenemos que guiar<strong>,</strong> por lo que nos enseña Dios en la
    Biblia<strong>.</strong> No es la predestinación absoluta lo que enseña la Biblia<strong>.</strong> Creer en eso
    linda con la blasfemia<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>