
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Tiempo de amamantar y edad del destete de los niños</title>
</head>
<body>
<p><strong>TIEMPO NATURAL DE AMAMANTAR Y DESTETAR NIÑOS</strong></p>
<p><strong>Lo que dice el pasaje que más adelante pongo, es un indicio de que los niños eran destetados, a los tres
  años.</strong> Ellos comían antes algunos alimentos suaves, pero su principal fuente era el pecho de la madre. Si eso
  es lo que hacían los madres de la antigüedad, es muy probable que sea lo más cercano a lo que es natural, lo más
  cercano a lo que Dios se propuso hacer.</p>
<p> Si leemos desde el versículo 6 veremos que se está narrando cómo había ahora suficientes comestibles para los
  sacerdotes y levitas, y cómo se administraba aquello. Al llegar al versículo 15 se habla de la repartición de los
  víveres por familias, y al llegar al 16 se dice que la repartición se hacía <strong>de acuerdo solamente con la
    cantidad de personas de "tres años arriba"</strong>; viendo en el versículo 18, que estaban incluidos hombres y
  mujeres, niños y niñas.</p>
<p> Dado que se cuentan solamente varones y hembras de tres años arriba, para repartirles víveres, <strong>la única
  razón que encuentro para no repartir a los menores de tres años, es que la costumbre fuera darles el pecho hasta esa
  edad</strong>, según veremos también en ciertos documentos antiguos.</p>
<p></p>
<p> "6 <i>También los hijos de Israel y de Judá, que habitaban en las ciudades de Judá, <strong>dieron del mismo modo
  los diezmos</strong> de las vacas y de las ovejas; y trajeron los diezmos de lo santificado, de las cosas que habían
  prometido a Jehová su Dios, y los pusieron por montones......</i> 15 <i>Y a su mano estaba Edén, Benjamín, Jesuá,
  Semaías, Amarías, y Sechanías, en las ciudades de los sacerdotes, <strong>para dar con fidelidad a sus hermanos sus
    partes conforme a sus órdenes, así al mayor como al menor.</strong></i> 16 <strong>A más de los varones anotados por
  sus linajes, de tres años arriba</strong><i>, a todos los que entraban en la casa de Jehová, su porción diaria por su
  ministerio, según sus oficios y clases......</i>18 <i>asimismo a los de su generación con todos sus niños, y sus
  mujeres, y sus hijos e hijas, a toda la familia; porque con fidelidad se consagraban a las cosas santas</i>." ( II Cr
  31: 6-18 )</p>
<p></p>
<p> Cuando aún no se había perdido la noción de qué cosa es lo natural, <strong>la costumbre era dar el pecho al bebé
  hasta que cumpliera tres años</strong>, cuya ocasión algunos la festejaban con un banquete o cosa similar, como fue el
  caso del destete de Isaac en Gn 21: 8. Esto puede servir de indicio a los que quieran volver a la forma natural de
  llevar la vida y de criar los hijos. Algo relacionado con esto, pero referente al espaciamiento natural de los hijos,
  lo hablo en la nota a Os 1: 8, pues <strong>por lo general</strong>, mientras las mujeres dan el pecho, no salen en
  estado.</p>
<p></p>
<p> "<i>Y creció el niño, y fue destetado; <strong>e hizo Abraham gran banquete el día que fue destetado Isaac</strong></i><strong>.</strong>"
  ( Gn 21: 8 )</p>
<p><strong>La primera vez que este asunto llamó mi atención, fue cuando leí un comentario marginal a Gn 21: 8 en la
  traducción de la Biblia por Scío de San Miguel</strong>, que data de los años 1700s, donde decía cuál era la edad del
  destete.</p>
<p><strong>El hecho de destetarlo a los tres años no indica que los niños se alimentaban sólo del pecho de la madre
  hasta esa edad,</strong> sino que no dejaban el pecho hasta cumplir tres años. Cuando la madre no tenía suficiente
  leche, se le suplía con otra mujer que sí la tuviera, porque yo alcancé a ver esa costumbre.</p>
<p><strong>Igualmente, las madres que por su naturaleza no tenían suficiente leche</strong> para satisfacer el hambre
  del bebé, o perdían la leche antes de los tres años, pero no tenían otra mujer que les diera el pecho a su hijo,
  resolvían el problema dándole leche de chiva, oveja o vaca. Cuando le salían los dientes, y aunque todavía tomara el
  pecho, se le daba pan y otros alimentos suaves, para que fuera aprendiendo a comer solo.</p>
<p><strong>Como añadidura a todo esto puedo decir que en II de Macabeos 7: 27,</strong> ( uno de los libros apócrifos de
  la versión católica de la Biblia ), cuando la madre de los Macabeos exhortaba al menor de ellos, el único que le
  quedaba, a que no flaquease ante el suplicio, ella le dijo entre otras cosas: "<strong>...y te di el pecho tres
    años...</strong>". Aunque como libro apócrifo que es puede tenerse escrúpulo en cuanto a tomarlo como fuente
  doctrinal, nada de malo tiene que se utilice como documento histórico, para conocer las costumbres de la época en que
  se escribió, al igual que se pudiera tomar una narración como la Ilíada o la Odisea.</p>
<p><strong>Si un documento de tanta antigüedad dice que un niño se tenía al pecho tres años, es de pensarse que esa era
  la costumbre de la época.</strong> Máxime, que otros datos y razonamientos basados en la Biblia, coinciden con lo
  dicho en los Macabeos.</p>
<p><strong>Otro documento antiguo</strong> que atestigua que los niños se criaban al pecho durante 2 ó 3 años es el
  Corán, que así lo dice en la sura # 2 aleya # 233, lo cual es equivalente a decir capítulo dos versículo 233.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>