---
import Layout from "../layout/Layout.astro";
---

<Layout title="The origin of the Jewish-Samaritan antagonism">
    <section>
        <p><strong>The origin of the Jewish-Samaritan Antagonism</strong></p>
        <p> When reading the gospels we observe that during Jesus' time<strong>,</strong> there was a certain antagonism
            between
            the Jews and Samaritans. Because of this<strong>,</strong> we sometimes believe that Samaritans were not
            Hebrews. We
            observe this hostility in many passages of the Bible. The most known case was the woman in the well (John
            4<strong>:</strong>9) and the case of the ten lepers (Luke 17<strong>:</strong>12-19). Samaritans were
            considered
            outsiders even though they were Hebrews. Samaritans (who lived in the region of Samaria) were not well
            perceived by
            the Jews of the south<strong>,</strong> because of the racial differences that existed since the time of
            captivity.
            That is why the Samaritan woman was surprised when Jesus talked to her.</p>
        <p> "<i>Then saith the woman of Samaria unto him<strong>:</strong> How is it that thou<strong>,</strong> being a
            Jew<strong>,</strong> askest drink of me<strong>,</strong> which am a woman of Samaria<strong>?</strong>
            <strong>For
                the Jews have no dealings with the Samaritans</strong></i><strong>.</strong>" (John 4<strong>:</strong>9)
        </p>
        <p></p>
        <p> "15 <i>And one of them<strong>,</strong> when he saw he was healed<strong>,</strong> turned
            back<strong>,</strong>
            and with a loud voice glorified God<strong>,</strong></i> 16 <i>and fell down on his face at his
            feet<strong>,</strong> giving him thanks<strong>;</strong> and <strong>he was a Samaritan</strong>.</i> 17
            <i>And
                Jesus answering said<strong>:</strong> Were there not ten cleansed<strong>?</strong> But where are the
                nine<strong>?</strong></i> 18 <i><strong>There</strong> <strong>are not found that returned to give
                glory to God,
                save this stranger</strong></i>." (Luke 17<strong>:</strong>15-18)</p>
        <p> These two passages<strong>,</strong> and there are others we could show the same<strong>,</strong> indicate
            that
            Samaritans (from the north) even though they were Hebrews<strong>,</strong> they were
            unappreciated<strong>,</strong> considered as Hebrews foreigners or second class Hebrews<strong>,</strong>
            by the
            ones from Judah (from the south). Something similar to what happened with blacks in other times.</p>
        <p> This antagonism originated many centuries before<strong>,</strong> when the region of Samaria received
            immigrants
            that weren't Hebrews. What we see in the next verse and there after gives us an idea about this antagonism.
            Remember<strong>,</strong>
            the kingdom of Solomon was divided in two<strong>:</strong> one called Israel from the
            north<strong>,</strong> and
            other called Judah<strong>,</strong> from the south. The kingdom of the north fell in the hands of the
            Assyrians<strong>,</strong> long before the south fell in the hands of the Babylonians.</p>
        <p> "<strong>And the king of Assyria brought men from Babylon,</strong> <i>and from Cuthah and form Ava
            <strong>,</strong> and from Hamah<strong>,</strong> and from Sepharvaim<strong>,</strong> <strong>and placed
                them in
                the cities of Samaria instead of the children of Israel;</strong> and they possessed
            Samaria<strong>,</strong>
            and dwelt in the cities thereof</i>." (2 Kings17<strong>:</strong>24)</p>
        <p><strong>We can see in this verse that much of the population in Samaria were from Assyria and
            Babylon</strong>.
            Therefore their descendants were not Hebrews. It is certain that some of these foreigners were mixed with
            some of
            the Hebrews who remained in Palestine after the captivity to Assyria. The ones that remained are the ones
            referred
            in Second Kings 24<strong>:</strong>14<strong>;</strong> 25<strong>:</strong>12<strong>,</strong> as "the
            poor of
            the land".</p>
        <p> "<i>And he carried away all Jerusalem<strong>,</strong> and all the princes<strong>,</strong> and all the
            mighty men
            of valour<strong>,</strong> even ten thousand captives<strong>,</strong> and all the craftsmen and
            smiths<strong>;</strong> <strong>none remained, save the poorest sort of people of the land</strong></i>" (2
            Kings
            24<strong>:</strong>14)</p>
        <p></p>
        <p> "<strong>But the captain of the guard left of the poor of the land</strong> <i>to be vinedressers and
            husbandmen</i>"
            (2 Kings 25<strong>:</strong>12)</p>
        <p> In other words<strong>,</strong> they only took Hebrews from Samaria<strong>,</strong> the ones who were
            warriors<strong>,</strong> those who could be leaders and those who had useful trades. The ones that were
            left
            behind in the northern kingdom (Israel) and in its capital Samaria were those who had nothing and were
            nothing. They
            were given land so they get in favor of the conquerors<strong>,</strong> and to sow<strong>,</strong> and
            pay taxes.
            There were also those Hebrews who had escaped from the disaster fleeing to the mountains.</p>
        <p><strong>We know this is true because the Hebrews were still there after the Assyrian captivity of Israel's
            Northern
            kingdom. These Hebrews from the north, were invited to the Passover by king Hezekiah of Judah,</strong> (he
            was from
            the kingdom of the south). We can see this in 2 Chron 30<strong>:</strong>1-11. We can see the same
            participation
            during the Passover<strong>,</strong> from the Hebrews from the north and from the south<strong>,</strong>
            during
            the kingdom of Josiah of Judah<strong>,</strong> as we see in 2 Chron 35<strong>:</strong>17. <strong>If
                they were
                invited was because they considered them to be Hebrews; otherwise they were not going to invite
                them.</strong>
        </p>
        <p> "1 <i>I and Hezekiah <strong>sent to all Israel and Judah, and wrote letters also to Ephraim and Manasseh,
            that they
            should come to the house of the LORD at Jerusalem, to keep the Passover unto the LORD God of Israel</strong>…</i>6
            <i>So the posts went with the letters from the king and his princes throughout <strong>all Israel and
                Judah</strong>
                and according to the commandment of the king<strong>,</strong> saying<strong>:</strong> Ye <strong>children
                    of
                    Israel,</strong> turn again unto the LORD God of Abraham<strong>,</strong> Isaac<strong>,</strong>
                and
                Israel<strong>, and he will return to the remant of you, that are escaped out of the hand of the king of
                    Assyria</strong></i>." (2 Chron. 30<strong>:</strong>1-6 abbreviated)</p>
        <p></p>
        <p> "16 <i>So all the service of the LORD was prepared the same day<strong>,</strong> to keep the
            Passover<strong>,</strong> and to offer burnt offerings upon the altar of the LORD<strong>,</strong>
            according to
            the commandment of King Josiah.</i> 17 <i>And <strong>the children of Israel</strong> that were present kept
            the
            Passover at that time<strong>,</strong> and the feast of unleavened bread seven days</i>." (2 Chron.
            35<strong>:</strong>16-17)</p>
        <p> Some of the Hebrews that stayed behind were mixed with outsiders from Assyria and Babylon. Not all Samaritan
            Hebrews
            were mixed. Even though a small percentage of them would mix<strong>,</strong> this was reason enough for
            the Jews
            of the South (tribe of Judah) to consider them as racially impure.</p>
        <p> The Samaritan Woman shows us that she thought of herself a descendant of Jacob<strong>,</strong> in John
            4<strong>:</strong>12. We already know that there were Samaritans who were a mix of
            Assyrians<strong>,</strong>
            Babylonians<strong>,</strong> and Hebrews<strong>,</strong> etc.<strong>,</strong> but there were other
            Samaritans
            who were one hundred percent Hebrews.</p>
        <p> "<i>Art thou grater than <strong>our father Jacob,</strong> which gave us the well<strong>,</strong> and
            drank
            thereof himself<strong>,</strong> and his children<strong>,</strong> and his cattle</i><strong>?</strong>
            (John
            4<strong>:</strong>12)</p>
        <p> The Samaritan woman which considered herself a descendant of Jacob<strong>,</strong> was waiting in
            anticipation for
            the Messiah as we can see in John 4<strong>:</strong>25. They had a complicated situation because they were
            racially
            doubtful<strong>,</strong> religiously like the Jews<strong>,</strong> but were rejected by them.</p>
        <p> "<i>The woman saith unto him<strong>:</strong> <strong>I know that Messiah cometh, which is called
            Christ;</strong>
            when he is come<strong>,</strong> he will tell us all things</i>." (John 4<strong>:</strong>25)</p>
        <p><strong>In Summary,</strong> this is the origin of the Jewish-Samaritan antagonism we can see in the gospels.
            Through
            the centuries this animadversion<strong>,</strong> even though it decreased in intensity<strong>,</strong>
            has not
            fully vanished and continued until the times of Christ.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
        <p><strong> </strong></p>

    </section>
</Layout>
    