<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Origen del antagonismo judeo-samaritano</title>
</head>
<body>
<p><strong>Origen del antagonismo judeo-samaritano</strong></p>
<p> Cuando uno lee los evangelios nota que en época de Jesús<strong>,</strong> había cierto antagonismo entre judíos y
  samaritanos. Debido a esto uno llega a creer que los samaritanos no eran hebreos. Ese antagonismo lo vemos en varios
  pasajes. Los más conocidos son el caso de la samaritana en el pozo (Jn 4<strong>:</strong>9)<strong>,</strong> y el
  caso de los diez leprosos (Lc 17<strong>:</strong>12-19). En este último se ve que <strong>a los samaritanos los
    consideraban extranjeros a pesar de ser hebreos</strong>. Los samaritanos (habitantes de la ciudad y región de
  Samaria)<strong>,</strong> no eran bien vistos por los judíos del sur<strong>,</strong> debido ciertas diferencias
  raciales que provenían desde la época del primer cautiverio. Por eso es que la mujer samaritana se extraña de que
  Jesús le dirija la palabra.</p>
<p> "<i>Y la mujer samaritana le dice<strong>:</strong> <strong>¿</strong>Cómo tú<strong>,</strong> siendo judío<strong>,</strong>
  me pides a mí de beber<strong>,</strong> que soy mujer samaritana<strong>;</strong> porque <strong>los judíos no se
    tratan con los samaritanos</strong></i>." ( Jn 4<strong>:</strong>9 )</p>
<p></p>
<p> "15 <i>Entonces uno de ellos<strong>,</strong> como se vio que estaba limpio<strong>,</strong> volvió glorificando a
  Dios a gran voz<strong>;</strong> 16 y derribose sobre el rostro a sus pies dándole gracias<strong>;</strong> <strong>y
    este era samaritano</strong>. 17 Y respondiendo Jesús<strong>,</strong> dijo<strong>:</strong> <strong>¿</strong>No
  son diez los que fueron limpios<strong>?</strong> <strong>¿</strong>Y los nueve dónde están<strong>?</strong> 18
  <strong>¿No hubo quien volviese y diese gloria a Dios sino este extranjero</strong></i><strong>?</strong>" (Lc
  17<strong>:</strong>15-18)</p>
<p> Estos dos pasajes<strong>,</strong> y otros que pudiera mostrar<strong>,</strong> nos indican que los samaritanos
  (al norte)<strong>,</strong> aunque eran hebreos<strong>,</strong> eran menospreciados y considerados como hebreos
  extranjeros<strong>,</strong> o hebreos de segunda clase<strong>,</strong> por los que eran de Judá (al sur). Algo
  parecido a lo que en otras épocas sucedía con los negros.</p>
<p> Este antagonismo tuvo su origen muchos siglos antes<strong>,</strong> cuando la región de Samaria recibió
  inmigrantes que no eran hebreos. Lo que dice el siguiente versículo y los sucesivos<strong>,</strong> nos dan idea del
  origen de ese antagonismo. Recordemos que el reino de Salomón se dividió en dos<strong>:</strong> uno llamado
  Israel<strong>,</strong> al norte<strong>;</strong> y otro llamado Judá<strong>,</strong> al sur<strong>;</strong> y
  que el reino del norte cayó en manos de los asirios<strong>,</strong> largo tiempo antes que el del sur cayera en
  manos de los babilonios.</p>
<p> "<strong>Y trajo el rey de Asiria gente de Babilonia,</strong> <i>y de Cutha<strong>,</strong> y de
  Ava<strong>,</strong> y de Hamath<strong>,</strong> y de Sefarvaim<strong>,</strong> y <strong>los puso en las
    ciudades de Samaria, en lugar de los hijos de Israe</strong>l<strong>;</strong> y poseyeron a
  Samaria<strong>,</strong> y habitaron en sus ciudades</i>." ( II R 17<strong>:</strong>24 )</p>
<p><strong>Como vemos en el pasaje anterior, muchos de los habitantes de Samaria, eran de origen asirio y
  babilónico,</strong> y por lo tanto<strong>,</strong> sus descendientes no eran hebreos. Es seguro que algunos de
  estos extranjeros se mezclaron con algunos de <strong>los hebreos que quedaron en Palestina</strong> luego de la
  trasmigración a Asiria. A estos que quedaron se les llama en II R 24<strong>:</strong>14 y
  25<strong>:</strong>12<strong>,</strong> "los pobres de la tierra".</p>
<p> "<i>Y llevó en cautiverio a toda Jerusalem<strong>,</strong> a todos los príncipes<strong>,</strong> y a todos los
  hombres valientes<strong>,</strong> hasta diez mil cautivos<strong>,</strong> y a todos los oficiales y
  herreros<strong>;</strong> <strong>que no quedó nadie, excepto los pobres del pueblo de la tierra</strong></i>." ( II
  R 24<strong>:</strong>14 )</p>
<p></p>
<p><strong>"<i>Mas de los pobres de la tierra dejó Nabuzaradán,</i></strong> <i>capitán de los de la
  guardia<strong>,</strong> <strong>para que labrasen</strong> las viñas y las tierras</i>." ( II R 25<strong>:</strong>12
  )</p>
<p> O sea<strong>,</strong> que no se llevaron de Samaria a todos los israelitas<strong>,</strong> sino solamente los
  que eran guerreros<strong>,</strong> los que podían ser caudillos<strong>,</strong> o los que tenían oficios útiles.
  En todo el reino del norte (Israel)<strong>,</strong> y en Samaria su capital<strong>,</strong> dejaron a los que no
  tenían nada. A esos les daban tierras<strong>,</strong> para que estuvieran a favor de los
  conquistadores<strong>,</strong> y sobre todo<strong>,</strong> para que sembraran y produjeran para los impuestos.
  También quedaron aquellos que se escaparon del desastre general huyendo a los montes.</p>
<p><strong>Sabemos que esto fue así, porque después del cautiverio asirio al reino de Israel (norte), todavía había allí
  hebreos. Estos hebreos del norte fueron convidados a la Pascua por el rey Ezequías de Judá,</strong> (del reino del
  sur) como podemos ver en II Cr 30<strong>:</strong>1-11. También se puede ver la misma participación de hebreos del
  norte en la Pascua que se celebraba en el sur<strong>,</strong> en días del Rey Josías de Judá<strong>,</strong> según
  vemos en II Cr 35<strong>:</strong> 17.</p>
<p> "1 <i>Envió también Ezequías <strong>por todo Israel y Judá, y escribió letras a Efraín y Manasés, que viniesen a
  Jerusalem a la casa de Jehová, para celebrar la Pascua a Jehová Dios de Israel</strong>...... 6 Fueron pues correos
  con letras de mano del rey y de sus príncipes <strong>por todo Israel y Judá,</strong> como el rey lo había
  mandado<strong>,</strong> y decían<strong>:</strong> Hijos de Israel<strong>,</strong> volveos a Jehová el Dios de
  Abraham<strong>,</strong> de Isaac<strong>,</strong> y de Israel<strong>,</strong> <strong>y él se volverá a las
    reliquias que os han quedado de la mano de los reyes de Asiria</strong></i><strong>.</strong>" ( II Cr
  30<strong>:</strong>1-6 abreviado )</p>
<p></p>
<p> "<i>Así fue aprestado todo el servicio de Jehová en aquel día<strong>,</strong> para hacer la
  Pascua<strong>,</strong> y sacrificar los holocaustos sobre el altar de Jehová<strong>,</strong> <strong>conforme al
    mandamiento del rey Josías. Y los hijos de Israel</strong> que se hallaron allí<strong>,</strong> hicieron la Pascua
  en aquel tiempo<strong>,</strong> y la solemnidad de los panes sin levadura<strong>,</strong> por siete días</i>." (
  II Cr 35<strong>:</strong>16-17 )</p>
<p> Algunos hebreos de los que quedaron<strong>,</strong> se mezclaron con los extranjeros que habían traído de Asiria y
  Babilonia. No quiere decir eso que todos los hebreos samaritanos se mezclaron con los extranjeros<strong>,</strong>
  pero aunque sólo un pequeño porcentaje de ellos se mezclara<strong>,</strong> ya era razón bastante para que los
  judíos del reino del sur<strong>,</strong> (la tribu de Judá) los tuvieran como racialmente impuros.</p>
<p> La samaritana nos hace ver que <strong>ella se consideraba descendiente de Jacob,</strong> como vemos en Jn
  4<strong>:</strong>12. Se sabe que había samaritanos que eran mezcla de asirios<strong>,</strong>
  babilonios<strong>,</strong> hebreos<strong>,</strong> etc.<strong>,</strong> pero que había otros que eran israelitas
  de pura cepa.</p>
<p> "<strong>¿</strong><i>Eres tú mayor que <strong>nuestro padre Jacob,</strong> que nos dio este
  pozo<strong>,</strong> del cual él bebió<strong>,</strong> y sus hijos<strong>,</strong> y sus
  ganados</i><strong>?</strong>" ( Jn 4<strong>:</strong>12 )</p>
<p> La samaritana<strong>,</strong> que se consideraba descendiente de Jacob<strong>,</strong> esperaba al Mesías como
  vemos en Jn 4<strong>:</strong>25<strong>,</strong> y esperaba que le declararía muchas cosas. De manera que se
  suscitaba con ellos un problema complicado<strong>,</strong> porque eran<strong>,</strong> racialmente dudosos<strong>,</strong>
  y religiosamente semejantes a los judíos<strong>,</strong> pero no eran aceptados por éstos.</p>
<p> "<i>Dícele la mujer<strong>:</strong> <strong>Sé que el Mesías ha de venir, el cual se dice el Cristo;</strong>
  cuando él viniere nos declarará todas las cosas</i>." ( Jn 4<strong>:</strong>25 )</p>
<p><strong> Este es el origen del antagonismo judeo-samaritano que vemos en los evangelios</strong>. A través de los
  siglos esta animadversión<strong>,</strong> aunque decreció en intensidad<strong>,</strong> no fue eliminada del
  todo<strong>,</strong> y por eso llegó hasta la época de Cristo.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>