
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Auto Manufacturer</title>
</head>
<body>
<p><strong>The auto manufacturer</strong></p>
<p> The one who leads an automobile manufacture<strong>,</strong> the chief engineer<strong>,</strong> knows how the car
    was made<strong>,</strong> what the car can do<strong>,</strong> what it cannot do<strong>,</strong> what type of
    gasoline should use<strong>,</strong> what number and type of oil must be used with it<strong>,</strong> what air
    pressure the tires take<strong>,</strong> etc..</p>
<p> As a conscious person's duty this chief engineer writes up a pamphlet where he explains all those details to the
    buyers. The one who follows all the recommendations is going to enjoy a good car for many years<strong>;</strong>
    the one who rejects them sooner or later will pay for his disobedience.</p>
<p> However<strong>,</strong> there are those who follow some recommendations and not others. If we take good care of
    the engine but not the interior or the exterior<strong>,</strong> the car will function perfectly but will look
    deteriorated. If we take care of the seats and the outside<strong>,</strong> but we ignore the engine and the
    mechanical parts<strong>,</strong> the car will look like new<strong>,</strong> but will not serve any
    purpose<strong>,</strong> it will not run well. <strong>Just as well, if we obey some of God's laws and not others,
        we will do well in certain things but not in others.</strong></p>
<p> God's laws are good for guiding us in life and save us from pain and sufferings.</p>
<p><strong>Many years ago a friend of mine, a good mechanic,</strong> saw me putting cheap oil in my car and advised me
    to use the most expensive one I could afford. Since I know about physics<strong>,</strong> I knew that the most
    important property of oil is its viscosity<strong>,</strong> and the cheap oil had it<strong>,</strong> so I did not
    pay attention to my friend's advice. It is better for the unlearned who listen to the counsel of the learned<strong>,</strong>
    than for one who knows something and thinks he knows everything. That is what happened to me.</p>
<p> After three or four years the car engine died and<strong>,</strong> of course<strong>,</strong> I went to see my
    friend who found me another engine<strong>,</strong> and changed it between the both of us<strong>,</strong> but I
    didn't even remember his advice. Just out of curiosity my friend opened the old engine to see why it had burned.
    When he saw the strainer of the in taking oil tube<strong>,</strong> he noticed that it was almost totally clogged
    up by hardened carbon. Then he told me I should use the more expensive oils because they have a carbon solvent that
    prevents accumulation. He did not remember he had given me that advice four years before<strong>,</strong> even
    though he did not tell me then that the reason I should use the more expensive oil was because it had the carbon
    solvents.</p>
<p> When he gave me the first advice I thought I knew enough<strong>,</strong> I did not want to pay attention to him
    who knew better than I<strong>,</strong> and I paid the consequences for it.</p>
<p><strong>In the same manner God gives us his commandments, and some times does not explain why we should obey
    them.</strong> We<strong>,</strong> think we know better and we don't obey those little precepts and
    <strong>"</strong>insignificant<strong>"</strong> commandments thinking that they were for <strong>"</strong>the
    people of old<strong>,"</strong> or thinking that they are obsolete. Then<strong>,</strong> when our
    <strong>"</strong>engine<strong>"</strong> breaks down<strong>,</strong> instead of admitting that it happened
    because we did not obey some commandment<strong>,</strong> we foolishly say<strong>,</strong> <strong>"</strong>they
    are trials<strong>,</strong> brother<strong>,"</strong> instead of rectifying our behavior and obeying God's laws.
    That is why we continue suffering throughout our lives what we want to call
    <strong>"</strong>trials<strong>"</strong>. <strong>God's law serves to save us from all that pain.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>
</body>
</html>