
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>In the Bible the word "desert" means without inhabitants not without water</title>
</head>
<body>
<p><strong>In the Bible, the word "desert" means "without inhabitants", not "without vegetation or water". The promise
    land was fertile</strong></p>
<p> In the King James Version, the word "wilderness" is used to describe the type of territory the Israelites traveled
    during the exodus, from their departure in Egypt to their arrival in the Promise Land. The use of the word in the
    King James Version is correct, but in other versions this word is replaced by "desert", which could bring about
    confusion to the reader. The word "wilderness" is used to indicate a place without inhabitants, not necessarily a
    place with no vegetation or water.</p>
<p> The primary meaning of the word "desert" in Spanish is a solitary place, where there are no inhabitants, or few and
    far in between. However, it is also used to describe arid places, with no vegetation, such as the Sahara. This
    occurs because, logically speaking, if there is no vegetation or water, there will be no inhabitants. Because of
    this, that place would be completely deserted.</p>
<p> Observe the use of the word "desert". If there are no people in a location, it is deserted. If various people aspire
    winning a prize, yet no one is successful, then the prize was left deserted. A soldier who abandons his post is
    called a deserter. If a husband leaves his wife he has "deserted his wife". In English, unlike Spanish, the word is
    rarely used in that sense. Therefore, the use of the word "wilderness" by way of the King James Version is
    correct.</p>
<p> Nevertheless, due to the lack of water at three or four different times during the forty-year exodus, there are many
    King James readers who, by lack of better understanding, think that the word "wilderness" implies a location without
    water or vegetation.</p>
<p><strong>To understand why they suffered water shortages three or four times during the forty-year exodus,</strong> we
    should take the following into consideration. According to Nm 1:46, there were 603,550 men who were 20 years of age
    or older during the exodus. If we look at any demographic chart we are able to figure that if there were that many
    men 20 years or older, then there were at the very least the same amount of women, and children. We should also
    consider the slaves and Egyptians who joined them to escape from Egypt. If we multiply the number of men by three
    and add the Egyptian foreigners, it is no exaggeration to say that two million people participated in the exodus
    with their donkeys, horses, cows, sheep, goats, chickens, dogs, etc..</p>
<p><strong>Finding water to meet the needs of two million people</strong>, in an undeveloped location, where there is no
    population, no farms, no wells, is a huge task. Due to these conditions, water shortages became a problem three or
    four different times during the forty-year exodus. The problem wasn't that they were in a desert like the Sahara,
    but that they had to find water for two million people and their animals, and that is not easy to do in uninhabited
    locations.</p>
<p> If we look at the different uses of the word desert in the Bible, we notice that the place considered a "desert" in
    Spanish versions, or "wilderness" in English versions, was not land without water or vegetation. Lets look at some
    examples.</p>
<p> First, let's keep in mind that the wilderness is a place without inhabitants, even if it has plenty of water and
    vegetation. It's a solitary location. It is not an easy place for people to live. For example, the Amazon jungle is
    deserted yet it is not an arid place without any water. There could be locations that are not inhabited for
    different reasons, not just by lack of vegetation or water. In the following passage, you will see that the location
    or "wilderness" where John baptized was abundant in water.</p>
<p> "<strong>John did baptize in the wilderness</strong><i>, and preach the baptism of repentance for the remission of
    sins</i>." (Mrk 1:4)</p>
<p><strong>If John baptized in the "wilderness" it is because there was a sufficient amount of water where people could
    enter. Water would reach their waist at the very least.</strong> Therefore, the usage of the word "wilderness" is
    not referring to a place like the Sahara. Instead it is more like the country or the woods, far away from any cities
    or roads. It could be a difficult place to live, but one that could have rivers and lakes.</p>
<p><strong>A little further ahead</strong>, in Mr 6:35-39, despite verse 35 which speaks of a "deserted" place, <strong>you
    can see that there was green grass</strong> (verse 39). This gives us an idea of what they called "a deserted place"
    (an uninhabited territory).</p>
<p> "35 <i>And when the day was now far spent, his disciples came unto him, and said: <strong>This is a desert
    place</strong>, and now the time is far passed.</i> 36 <i>Send them away, that they may go into the country round
    about, and into the villages, and buy themselves bread, for they have nothing to eat.</i> 37 <i>He answered and said
    unto them: Give ye them to eat. And they say unto him: Shall we go and buy two hundred pennyworth of bread, and give
    them to eat?</i> 38 <i>He saith unto them: How many loaves have ye? Go and see. And when they knew, they say: Five,
    and two fishes.</i> 39 <i>And he commanded them to make all sit down by companies <strong>upon the green
    grass</strong></i>." (Mrk 6:35-39)</p>
<p> If we read Jn 6:10, where the same episode is reported, we'll see that it tells us <strong>there was much
    grass</strong>. If there was much grass then this could not have been an infertile place or a wide barren plain, but
    instead a solitary place, a place without any people.</p>
<p> "<i>And Jesus said: Make the men sit down. Now <strong>there was much grass in the place</strong>. So the men sat
    down, in number about five thousand</i>." (John 6:10)</p>
<p><strong>Another good example is in Ex 19:1</strong>. In this verse it tells us that the children of Israel entered
    <strong>the "wilderness" of Sinai</strong>. This "wilderness" was an uninhabited place, not infertile or sterile. It
    was not a wide barren plain without water or vegetation. <strong>To say this I base myself upon the fact that to
        nourish sheep, cows, donkeys, etc, there had to be grass and water in the place. Not only did they have a
        sufficient amount of drinking water, but also enough to wash their clothes, as we can verify in Ex
        19:14</strong></p>
<p> "<i>In the third month, when the children of Israel were gone forth out of the land of Egypt, the same day came they
    <strong>into the wilderness of Sinai</strong></i>" (Ex 19:1)</p>
<p></p>
<p> "<i>And Moses went down from the mount unto the people, and sanctified the people; and <strong>they washed their
    clothes</strong></i>." (Ex 19:14)</p>
<p><strong>When the children of Israel constructed the golden calf</strong>, the place where they met did not lack
    water. It was not like what we would consider a desert today. This is proven by the fact that in this "deserted
    place" where the people would meet, there was a stream of water where Moses threw the dust from the golden calf.
    This doesn't mean that there was always a place to retrieve water. Much less for a massive group composed of
    <strong>two million people and their animals</strong>. It also doesn't mean that anytime we see the word "desert" we
    should imagine a place where you only see sand. We may also look in Dt 10:7 where the existence of streams is also
    mentioned.</p>
<p> "<i>And I took your sin, the calf which ye had made, and burnt it with fire, and stamped it, and ground it very
    small, even until it was as small as dust, and I cast the dust thereof into <strong>the brook that descended out of
        the mount</strong></i>." (Dt 9:21)</p>
<p></p>
<p> "<i>From thence they journeyed unto Gudgodah; and from Gudgodah to Jotbath, <strong>a land of rivers of
    waters</strong></i>." (Dt 10:7)</p>
<p><strong>By using common sense</strong>, we need to realize that if they sacrificed their animals (sheep, goats,
    cattle, etc.) on daily bases in the tabernacle of the congregation, it is because they were able to raise and
    nourish their animals. Therefore, they had grass and water for the animals just as they did for people. Likewise, in
    the following passage it declares that the firewood upon the altar had to burn <strong>constantly without being put
        out.</strong> By consequence, the priest had to have enough wood to constantly place over the altar (12).</p>
<p> "12 <i>And the fire upon the altar shall be burning in it; it shall not be put out: and <strong>the priest shall
    burn wood on it every morning</strong>, and lay the burnt offering in order upon it; and he shall burn thereon the
    fat of the peace offerings.</i> 13 <i><strong>The fire shall ever be burning upon the altar; it shall never go
    out</strong></i>." (Lev 6:12-13)</p>
<p> As we can see, at this moment the Israelites were at the beginning of their 40-year pilgrimage, in midst of an
    uninhabited region. It is logical to reason that this deserted place is not like what we see in the Sahara or any
    other wide barren plains. It is obvious that in this so-called deserted place, <strong>there was plenty of woodland
        to produce all of the firewood needed to constantly keep the altar burning</strong> every day during the whole
    year. And not only for the altar, but also for cooking food, and for any other uses the two million or so
    individuals had. This was not an infertile location; instead it was a deserted region without people or cities.</p>
<p><strong>A similar case can be seen in Nm 15:32.</strong> As you can see in this verse, what they called "wilderness"
    wasn't always what we would conceive in our minds. For us "wilderness" or "deserted places" are like the dunes of
    the Sahara, where only the sky and the sand are visible. This obviously is not the context in which the word
    "wilderness" is used. I'm sure it would be difficult to gather firewood in the desert. There were trees and bushes
    from which to get firewood. This was a location with normal vegetation.</p>
<p> "<i>And while the children of Israel were <strong>in the wilderness</strong>, they found a man that gathered sticks
    upon the sabbath day</i>." (Nm 15:32)</p>
<p><strong>In reading Nm 11:9, you can see that this supposed "desert"</strong> where the Israelites were during the
    Exodus wasn't a dry region, being that dew fell during the night. In different occasions, like in I K 17:1, we can
    see that for the dew to stop, there had to be a long drought, like the one during the times of Elijah. Therefore,
    the presence of this dew in this supposed "desert" makes us realize that this territory was more fertile than that
    of Israel during the time of the three and a half-year drought brought by Elijah.</p>
<p> "<i>And <strong>when the dew fell upon the camp</strong> in the night, the manna fell upon it</i>." (Nm 11:9)</p>
<p></p>
<p> "<i>And Elijah the Tishbite, who was of the inhabitants of Gilead, said unto Ahab: As the LORD God of Israel liveth,
    before whom I stand, <strong>there shall not be dew nor rain</strong> these years, but according to my word.</i>" (I
    K 17:1)</p>
<p><strong>There are other passages from which this can be deduced</strong>. The territory where the children of Israel
    were sojourning was not a place without water or vegetation. In I Sam 23:15, you can see that the word is used with
    the meaning of a "solitary place" or an "uninhabited location". So in this "desert" there was a wooded area or a
    forest. It is almost surely used with the meaning of an "uninhabited location", the same way the word "wilderness"
    is used in Revelations 12: 6 and 14.</p>
<p> "<i>And David saw that Saul was come out to seek his life; and David was <strong>in the wilderness of Ziph in a
    wood</strong></i><strong>.</strong>" (I Sam 23:15)</p>
<p><strong>We see something similar in I Sam 24:1-4</strong> when David was walking through the wilderness of Engedi,
    where there was a sheepfold. If there was a sheepfold it is because they were able to raise sheep, and if they were
    able to raise sheep it is because there was water and grass.</p>
<p> "1 <i>And it came to pass, when Saul was returned from following the Philistines, that it was told him, saying:
    Behold, David is <strong>in the wilderness of Engedi</strong>.</i> 2 <i>Then Saul took three thousand chosen men out
    of all Israel, and went to seek David and his men upon the rocks of the <strong>wild goats</strong>.</i> 3 <i>And he
    came to the <strong>sheepcotes</strong> by the way, where was a cave; and Saul went in to cover his feet; and David
    and his men remained in the sides of the cave</i>." (I Sam 24:1-3)</p>
<p><strong>We also see in Ex 3:1 that Moses fed the sheep</strong> of his father-in-law in the "wilderness" where he had
    the vision of the burning bush that was flaming but would not consume.</p>
<p><strong>"<i>Now Moses kept the</i></strong> <i>flock of Jethro his father in law, the priest of Midian; and he led
    the flock to the backside of <strong>the desert</strong>, and came to the mountain of God, even to Horeb</i>." (Ex
    3:1)</p>
<p><strong>Saint Paul</strong> <strong>gives the word "wilderness" the meaning of an "uninhabited location"</strong> in
    II Co 11:26 where he contrasts the phrase "perils in the city" with the phrase "peril in the wilderness". In other
    words, perils where there are inhabitants and perils where there is complete solitude.</p>
<p> "In journeyings often, in perils of waters, in perils of robbers, in perils by mine own countrymen, in perils by the
    heathen, <strong>in perils in the city</strong>, <strong>in</strong> <strong>perils in the wilderness</strong>, in
    perils in the sea, in perils among false brethren" (II Co 11:26)</p>
<p><strong>If we go to Mt 3:1-4 we'll see that John the Baptist, finding himself in the wilderness, would use wild honey
    for nourishment. If there was honey it is because there were flowers</strong> in that place. This isn't a place
    without vegetation, because if it was, there would be no flowers or honey. Wilderness means solitude, without
    people. A wide barren plain is a place without vegetation.</p>
<p> "1 <i>In those days came John the Baptist, preaching <strong>in the wilderness of Judaea</strong>,</i> 2 <i>And
    saying: Repent ye, for the kingdom of heaven is at hand.</i> 3 <i>For this is he that was spoken of by the prophet
    Esaias, saying: The voice of one crying in the <strong>wilderness</strong>: Prepare ye the way of the Lord, make his
    paths straight.</i> 4 <i>And the same John had his raiment of camel's hair, and a leathern girdle about his loins;
    and <strong>his meat was locusts and wild honey</strong></i>." (Mt 3:1-4)</p>
<p> As we have seen in all of the read passages, and in all the reasoning that we've done, the word "wilderness" does
    not describe a place without vegetation. Instead it is a place of solitude, a place with little or no
    inhabitants.</p>
<p> Many have believed that the Promised Land was semi-arid because they see that today it is partly semi-arid. But in
    those times the land was very fertile. What happens is that <strong>sin ruins the land and climate</strong>, as you
    can clearly see in Gn 4:11-12 and Sal 107:33-34.</p>
<p> "11 <i>And now art thou cursed from the earth, which hath opened her mouth to receive thy brother's blood from thy
    hand.</i> 12 <i><strong>When thou tillest the ground, it shall not henceforth yield unto thee her strength</strong>;
    a fugitive and a vagabond shalt thou be in the Earth</i>" (Gn 4:11-12)</p>
<p> In other various passages, I have observed that the sin of the people enables destructive repercussions in climate,
    in fertility, and in the well being of the territory where they lived. In the following passage you can clearly see
    that the infertility of the territory is due to the wickedness of its inhabitants. In other words, continuous or
    unredeemed sin can make a territory inhospitable.</p>
<p> "33 <i>He turneth rivers into a wilderness, and the watersprings into dry ground;</i> 34 <strong>a fruitful land
    into barrenness, for the wickedness of them that dwell therein</strong>." (Psal 107:33-34)</p>
<p> Also seen in I K 8:35 and II Cr 6:26. Solomon, in making the inaugural speech of the Temple, asks God to attend the
    prayers of the people, because for having sinned, it had not rained.</p>
<p> "35 <i>When heaven is shut up, <strong>and there is no rain, because they have sinned against thee</strong>; if they
    pray toward this place, and confess thy name, and turn from their sin, when thou afflictest them,</i> 36 <i>then
    hear thou in heaven, <strong>and forgive the sin of thy servants</strong>, and of thy people Israel, that thou teach
    them the good way where in they should walk, <strong>and give rain upon thy land</strong>, which thou hast given to
    thy people for an inheritance</i>." (I K 8:35-36)</p>
<p></p>
<p> "<i>When the heaven is shut up, <strong>and there is no rain, because they have sinned against thee</strong>; yet if
    they pray toward this place, and confess thy name, and turn from their sin, when thou dost afflict them</i>" (II Chr
    6:26)</p>
<p><strong>When the first sin was committed, one of the first repercussions was that the ground would produce thorns and
    thistles and that it would be difficult to produce sustenance on a daily basis.</strong> Therefore, it is not
    abnormal to see the sins of inhabitants from a region ruin its climate and fertility.</p>
<p> "17 <i>And unto Adam he said: Because thou hast hearkened unto the voice of thy wife, and hast eaten of the tree, of
    which I commanded thee, saying: Thou shalt not eat of it; <strong>cursed is the ground for thy sake; in sorrow shalt
        thou eat of it all the days of thy life;</strong></i> 18 <strong>thorns also and thistles shall it bring forth
    to thee</strong><i>; and thou shalt eat the herb of the field;</i> 19 <strong>in the sweat of thy face shalt thou
    eat bread</strong><i>, till thou return unto the ground; for out of it wast thou taken; for dust thou art, and unto
    dust shalt thou return</i>." (Gn 3:17-19)</p>
<p><strong>Another argument that discredits the idea of the Promise Land being insufficiently fertile</strong> is found
    in II K 18:32, where Senacherib, king of Assyria, who was accustomed to seeing a fertile Mesopotamia, tells us that
    the land of Israel was identical to his. He doesn't say that his was better, instead he says that they were the
    same: a land of grain, vines, olives, oil, and honey.</p>
<p> "<i>Until I come and take you away to <strong>a land like your own land, a land of corn and wine, a land of bread
    and vineyards, a land of oil olive and of honey,</strong> that ye may live, and not die; and hearken not unto
    Hezekiah, when he persuadeth you, saying: The LORD will deliver us</i>." (II K 18:32)</p>
<p> It is obvious that the people during the exodus did not find themselves in arid regions, without vegetation, and
    always lacking water. Instead it was a fertile region, but uninhabited, uncultivated, without the ease of life in
    locations with inhabitants. It is also obvious that the Promise Land, according to God's word, was extremely
    fertile. <strong>During the forty-year exodus, the people faced three or four water crisis, but they had water the
        rest of the time</strong>.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>