
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>God gave the Bible for all</title>
</head>
<body>
<p><strong>God gave the Bible so that all may understand it, not only the learned</strong></p>
<p> The prophecies and doctrines in the Bible are clear<strong>;</strong> anyone can understand them without having to
    have studied theology<strong>,</strong> Greek<strong>,</strong> Hebrew<strong>,</strong>
    hermeneutics<strong>,</strong> etc<strong>.,</strong> nor having to graduate from a seminary<strong>.</strong> God
    does not give His revelations so that only a few experts can understand them<strong>.</strong> He gives them so that
    fishermen and all his children may have access to the truth<strong>,</strong> <strong>if indeed they desire to know
        the truth.</strong></p>
<p> The Lord Jesus said once that God had revealed these things to the little and not to the learned and
    expert<strong>.</strong> Hence<strong>,</strong> we don't necessarily need to be learned or experts to
    understand<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>At that time Jesus answered and said<strong>,</strong> I thank thee<strong>,</strong> O
    Father<strong>,</strong> Lord of heaven and earth<strong>,</strong> because thou hast hid these things from the wise
    and prudent<strong>,</strong> and <strong>hast revealed them unto babes</strong></i><strong>."</strong> (Mt
    11<strong>:</strong>25)</p>
<p></p>
<p><strong>"</strong><i>In that hour Jesus rejoiced in spirit<strong>,</strong> and said<strong>,</strong> I thank
    thee<strong>,</strong> O Father<strong>,</strong> Lord of Heaven and Earth<strong>,</strong> that thou hast hid
    these things from the wise and prudent<strong>,</strong> and <strong>hast revealed them unto babes;</strong> even so<strong>,</strong>
    Father<strong>;</strong> for so it seemed good in thy sight</i><strong>."</strong> (Lk 10<strong>:</strong>21)</p>
<p><strong>"To clearly understand a biblical truth takes a child; to complicate it, obscure it, and twist it, takes a
    theologian".</strong></p>
<p><strong> Let's be alert so that we may remain honest when we discuss our beliefs. Let's avoid setting
    dogmas.</strong> In most cases those believers that discuss a subject limit themselves to setting dogmas about their
    opinions and beliefs<strong>.</strong> In other words they assert their opinions so that they may be believed
    without a friendly discussion of the subject<strong>.</strong> It is the attitude of <strong>"</strong>believe what
    I say<strong>,</strong> because I know more than you<strong>",</strong> or because <strong>"</strong>I have an
    inspiration that comes from beyond<strong>".</strong> This is a common attitude in everyone<strong>,</strong> but is
    a more prevalent inclination when we are dealing with religious beliefs<strong>,</strong> because many of the
    believers think that they have received<strong>,</strong> by <strong>"</strong>direct connection<strong>"</strong>
    from the regions beyond<strong>,</strong> the revelation that what they are thinking is the truth<strong>.</strong>
</p>
<p> These brethren do not realize that <strong>if, in effect, the Holy Spirit had placed in their hearts or minds that
    thought or doctrine that they now have,</strong> He would have also given them words and wisdom to be able to
    support that belief<strong>,</strong> as our Lord Jesus Christ promises in Luke
    21<strong>:</strong>15<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>For <strong>I will give you a mouth and wisdom,</strong> which all your adversaries shall not be
    able to gainsay nor resist</i><strong>."</strong> (Lk 21<strong>:</strong>15)</p>
<p> In other words<strong>,</strong> when our beliefs were truly inspired by the Holy Spirit<strong>,</strong> we also
    receive the gift of effective defense of what we believe and with solid arguments<strong>.</strong> We must not
    engage in a mutual swapping of Scripture portions<strong>,</strong> but rather demonstrate that our friend's
    biblical quotes are erroneously applied<strong>;</strong> and at the same time<strong>,</strong> that our quotes
    make sense<strong>.</strong></p>
<p><strong>If we cannot support it, or if we avoid friendly discussion with our brethren,</strong> it is because inside
    ourselves we know that the idea is only our own<strong>,</strong> it is not a case of heavenly
    inspiration<strong>.</strong> But we like to engage in that harmful fantasy<strong>.</strong> We should never avoid
    discussing our faith and hope<strong>,</strong> since the apostle Peter challenges us to act in this
    way<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>But sanctify the Lord God in your hearts<strong>,</strong> and <strong>be ready always to give
    an answer to every man that asketh you a reason of the hope that is in you with meekness and
    fear</strong></i><strong>"</strong> (I P 3<strong>:</strong>15)</p>
<p><strong>"Discussions are like light, they only bother those that prefer darkness"</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>