
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Bible is a monolithic doctrinal unit</title>
</head>
<body>
<p></p>
<p>The Bible is a monolithic doctrinal unit</p>
<p></p>
<p> Sacred Scripture is not the opinion of its many authors<strong>,</strong> but of God, therefore, by
    logic<strong>,</strong> we should take care that our interpretation of a passage is in harmony with the entire Bible<strong>,</strong>
    not just certain passages<strong>,</strong> books or sections of it<strong>.</strong> If an interpretation of ours
    is in agreement with only 75% of what is said in the Bible but is in opposition with the other 25%<strong>,</strong>
    this means that the interpretation<strong>,</strong> even though it is not totally wrong<strong>,</strong> is not
    totally correct<strong>.</strong> It could very well be that some things are true<strong>,</strong> but something is
    also wrong with the interpretation<strong>.</strong> When that happens to us<strong>,</strong> it is time to discuss
    the subject with those that oppose our way of seeing things<strong>.</strong> Those who oppose our interpretation
    are the only ones that could help us if we are mistaken; those who think as we do only can confirm us in our mistake
    if we are wrong.</p>
<p> The Bible has had many authors<strong>,</strong> but it does not include their personal opinion to serve as a guide
    for us<strong>,</strong> only the opinion of God<strong>.</strong> That is why the Bible is a monolithic
    unit<strong>,</strong> speaking in a doctrinal and prophetic manner<strong>.</strong> Everything in it was inspired
    by the Holy Spirit according to what the Apostle Peter tells us<strong>.</strong></p>
<p></p>
<p><strong>"</strong>For the prophecy came not in old time by the will of man<strong>,</strong> but holy men of God
    spake as they were moved by the Holy Ghost<strong>."</strong> (II Peter 1<strong>:</strong>21)</p>
<p></p>
<p> The Apostle Paul is telling us something similar when in his instructions to Timothy<strong>,</strong> he says the
    following<strong>:</strong></p>
<p></p>
<p><strong>"</strong>All scripture is given by inspiration of God<strong>,</strong> and is profitable for
    doctrine<strong>,</strong> for reproof<strong>,</strong> for correction<strong>,</strong> for instruction in
    righteousness<strong>."</strong> (II Timothy 3<strong>:</strong>16)</p>
<p></p>
<p> As we can see<strong>,</strong> two Apostles tell us that all of Scripture is from God<strong>.</strong>
    Therefore<strong>,</strong> it is not logical to think that different sections of Scripture teach opposing
    things<strong>,</strong> things that oppose one another<strong>.</strong> <strong>God is not a being prone to
        contradiction, anarchy, and chaos, but harmony. Therefore, all correct interpretation must be in harmony with
        the rest of the Bible.</strong></p>
<p></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
<p></p>
<p></p>
</body>
</html>