
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La Biblia Dios la dio para que la entendiera cualqiera</title>
</head>
<body>
<p><strong>La Biblia Dios la dio para que la entendiera cualquiera, no sólo los sabios.</strong></p>
<p> Las profecías y doctrinas de la Biblia son claras<strong>,</strong> las puede entender cualquier persona sin que
    haya tenido que estudiar teología<strong>,</strong> griego<strong>,</strong> hebreo<strong>,</strong>
    hermenéutica<strong>,</strong> etc<strong>.,</strong> ni graduarse en ningún seminario<strong>.</strong> Dios no da
    sus revelaciones para que sólo unos pocos eruditos las entiendan<strong>.</strong> Él las da para que los pescadores
    y todos sus hijos puedan tener acceso a la verdad<strong>,</strong> <strong>si es que desean saberla.</strong></p>
<p> El Señor Jesús dijo en una ocasión que Dios había revelado estas cosas a los pequeños y no a los sabios y
    eruditos<strong>.</strong> Por lo tanto<strong>,</strong> no hay que ser necesariamente sabio ni erudito para
    entenderlo<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>En aquel tiempo<strong>,</strong> respondiendo Jesús<strong>,</strong> dijo<strong>:</strong> Te
    alabo<strong>,</strong> Padre<strong>,</strong> Señor del Cielo y de la Tierra<strong>,</strong> que hayas escondido
    estas cosas de los sabios y de los entendidos<strong>,</strong> y <strong>las hayas revelado a los niños.</strong>
    Así<strong>,</strong> Padre<strong>,</strong> pues que así agradó en tus ojos</i><strong>."</strong> (Mt
    11<strong>:</strong>25)</p>
<p></p>
<p></p>
<p><strong>"</strong><i>En aquella misma hora Jesús se alegró en espíritu<strong>,</strong> y dijo<strong>:</strong> Yo
    te alabo <strong>,</strong> oh Padre<strong>,</strong> Señor del Cielo y de la Tierra<strong>,</strong> que
    escondiste estas cosas a los sabios y entendidos<strong>,</strong> y <strong>las has revelado a los
        pequeños;</strong> así<strong>,</strong> Padre<strong>,</strong> porque así te agradó</i><strong>."</strong> (Lc
    10<strong>:</strong>21)</p>
<p><strong>"Para entender claramente una verdad bíblica hace falta un niño, para complicarla, oscurecerla y torcerla
    hace falta un teólogo."</strong></p>
<p><strong>Estemos alerta para mantener honestidad en la discusión de nuestras creencias Evitemos el
    dogmatizar.</strong> En la mayoría de los casos los que discuten sobre un tema cualquiera<strong>,</strong> se
    limitan a dogmatizar sobre sus opiniones o creencias<strong>.</strong> Es decir<strong>,</strong> a afirmarlas para
    que sean creídas sin que medie una fraternal discusión sobre el tema<strong>.</strong> Es aquello de
    <strong>"</strong>cree lo que yo digo<strong>,</strong> porque yo sé más que tú<strong>",</strong> o porque <strong>"</strong>yo
    tengo una inspiración proveniente de esotéricas regiones<strong>".</strong> Esa es una tendencia común en
    todos<strong>,</strong> pero mucho más frecuente cuando se trata de creencias religiosas<strong>,</strong> porque la
    mayoría de los creyentes creen haber recibido<strong>,</strong> por medio de una <strong>"</strong>línea
    directa<strong>"</strong> desde esotéricas regiones<strong>,</strong> la revelación de lo que ellos piensan ser la
    verdad<strong>.</strong></p>
<p> No se dan cuenta esos hermanos de que <strong>si, efectivamente, el Espíritu Santo les hubiera puesto en el corazón
    o la mente ese pensamiento,</strong> también les hubiera dado boca y sabiduría para poder defender esa
    creencia<strong>,</strong> como nos promete Nuestro Señor Jesucristo en Lc 21<strong>:</strong>15<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong><i>Porque <strong>yo os daré boca y sabiduría,</strong> a la cual no podrán resistir ni contradecir
    todos los que se os opondrán</i><strong>."</strong> (Lc 21<strong>:</strong>15)</p>
<p> Es decir<strong>,</strong> que cuando en verdad nuestras creencias fueron inspiradas por el Espíritu
    Santo<strong>,</strong> recibimos el don de defender eficientemente y con sólidos argumentos lo que
    creemos<strong>.</strong> No es cuestión de enfrascarnos en un simple intercambio de pasajes
    bíblicos<strong>,</strong> sino demostrar que los pasajes que alega nuestro amigo están erróneamente
    alegados<strong>,</strong> mientras que los nuestros son aplicables y hacen sentido<strong>.</strong></p>
<p> Si no podemos defenderlo<strong>,</strong> o <strong>si rehuimos la discusión fraterna con los hermanos, es porque
    en nuestro interior sabemos</strong> que la idea que tenemos nos surgió a nosotros mismos<strong>,</strong> y no se
    trata de ninguna inspiración celestial<strong>,</strong> pero queremos hacernos esa dañina ilusión<strong>.</strong>
</p>
<p> Nunca debemos rehusar discutir nuestra fe y esperanza<strong>,</strong> puesto que el Apóstol Pedro nos exhorta a
    hacerlo así<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Sino santificad al Señor Dios en vuestros corazones<strong>,</strong> y <strong>estad siempre
    aparejados para responder con mansedumbre y reverencia a cada uno que os demande razón de la esperanza que hay en
    vosotros</strong></i><strong>."</strong> (I P 3<strong>:</strong>15)</p>
<p><strong>"La discusión es como la luz, molesta solamente a los que prefieren las tinieblas"</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>