
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>La Biblia es una unidad doctrinal monolítica</title>
</head>
<body>

<p></p>
<p><strong>La Biblia es una unidad doctrinal monolítica</strong></p>
<p></p>
<p><strong>Las Sagradas Escrituras no son las opiniones de sus muchos escritores, sino la de Dios, por tanto,</strong>
  debemos cuidar que nuestra interpretación de un pasaje armonice con <strong>toda la Biblia,</strong> no solamente con
  ciertos pasajes<strong>,</strong> libros o secciones de ella<strong>.</strong> Si una interpretación nuestra concuerda
  solamente con el 75 % de lo dicho en la Biblia<strong>,</strong> pero antagoniza con el otro 25%<strong>,</strong> eso
  significa que esa interpretación<strong>,</strong> aunque no esté totalmente errada<strong>,</strong> tampoco está
  totalmente correcta<strong>.</strong> Puede que tenga cosas ciertas<strong>,</strong> pero algo anda mal en
  ella<strong>.</strong> Cuando eso nos ocurre es hora de discutir el tema con los que se oponen a nuestra manera de ver
  las cosas<strong>.</strong> Los que se oponen a nuestras interpretaciones son los únicos que pueden sacarnos de del
  error si es que estamos errados; los que piensan igual que nosotros sólo pueden reafirmarnos en nuestro error si es
  que estamos errados.</p>
<p> La Biblia ha tenido muchos escritores<strong>,</strong> pero allí no se ponían sus personales opiniones para que nos
  sirvieran de guía<strong>,</strong> sino la sola opinión de Dios<strong>.</strong> Por eso es que la Biblia es una
  unidad monolítica doctrinal y proféticamente hablando<strong>.</strong> Todo lo que allí hay fue inspirado por el
  Espíritu Santo<strong>,</strong> según nos dice el Apóstol Pedro<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque la profecía no fue en los tiempos pasados traída por voluntad humana<strong>,</strong>
  sino <strong>los santos hombres de Dios hablaron siendo inspirados del Espíritu Santo</strong></i><strong>."</strong>
</p>
<p> (II P 1<strong>:</strong>21)</p>
<p></p>
<p> Otro tanto nos dice el Apóstol Pablo cuando aleccionando a Timoteo le dice lo siguiente<strong>:</strong></p>
<p></p>
<p><strong>"<i>Toda Escritura es inspirada divinamente,</i></strong><i> y útil para enseñar<strong>,</strong> para
  redargüir<strong>,</strong> para corregir<strong>,</strong> para instituir en justicia</i><strong>."</strong> (II Tim
  3<strong>:</strong>16)</p>
<p></p>
<p> Como vemos<strong>,</strong> dos apóstoles nos dicen que toda la Escritura es de Dios<strong>.</strong> Por
  consiguiente<strong>,</strong> <strong>no</strong> es lógico pensar que diferentes secciones de la Escritura enseñen
  cosas antagónicas<strong>,</strong> cosas que se den de punta una con la otra<strong>.</strong> <strong>Dios no es un
    ser de contradicción, anarquía y caos, sino de armonía. Por lo tanto, cualquier interpretación correcta tiene que
    armonizar con el resto de la Biblia.</strong></p>
<p></p>
<p><a href="NotasBiblicas.html"><strong>Volver al índice</strong></a></p>
<p><a href="NotasBiblicas.html"> </a></p>
<p></p>
<p></p>
</body>
</html>