---
import Layout from "../layout/Layout.astro";
import Article from "../components/Article.astro";
---
<Layout title="biblenotes.html">
    <section class="flex gap:5rem my:2rem">
        <article class="w:17rem max-w:17rem">
            <div class="bg:hsl(39|93%|90%/1) p:2rem font-size:1rem">
                <p><strong>Index of Biblical Notes in English</strong></p>

                <p> These Bible Notes are useful to understand some themes that God's enemies have tried to twist, or
                    themes that are
                    difficult to interpret. It is beneficial to read them. You can use all the material in here to help
                    others,
                    especially to help members of your church. <strong>We are going to add new Bible Notes as often as
                        possible;
                        therefore visit us frequently</strong>. <strong>If you think I have a mistake in a Biblical
                        Note</strong>,
                    please, send me your opinion and the arguments that can back it up. I will appreciate it very much.
                    I also like to
                    learn from others. Also if you would like some special issue to be addressed in a Biblical Note,
                    just leave me a
                    message at the following e-mail address: ramonaleman@yahoo<strong>.</strong>com to R. L. Serralta
                    Nogués.</p>
            </div>
        </article>

        <article>
            <Article numberOf="1" title="It is false to say that Jesus could not be born in December."
                     dateOf="1 March 00" href="JesusbornDecember.html"/>
            <Article numberOf="2" title="The longevity of our first fathers was given in years, not in months."
                     dateOf="13 March 00" href="LongevityInYears.html"/>
            <Article numberOf="3" title="Elijah the prophet shall come before the Second Coming of Christ."
                     dateOf="25 March 00" href="Elijahshallcome.html"/>
            <Article numberOf="4" title="Hosea did not commit fornication or adultery." dateOf="24 April 00"
                     href="DidHoseaFornicate.html"/>
            <Article numberOf="5" title="The hardening of Pharaoh without forcing his free will." dateOf="12 May 00"
                     href="PharaohHardening.html"/>
            <Article numberOf="6" title="Jesus, not the wealth, is the Desire of the nations . Ecumenical Bibles."
                     dateOf="16 Jun 00" href="TheDesireOfTheNations.html"/>
            <Article numberOf="7" title="Muslims, Jews and the Virgin Mary." dateOf="10 July 00"
                     href="MuslimsJewsAndTheViginMary.html"/>
            <Article numberOf="8" title="Exaggeration of 'Do not judge'." dateOf="27 July 00"
                     href="JudgeNotExaggeration.html"/>
            <Article numberOf="9" title="The High Priest entered the Most Holy everyday, not only once a year."
                     dateOf="15 Aug 00" href="ToTheMostHolyTheyEnteredEveryDay.html"/>
            <Article numberOf="10" title="Michael the archangel is not Christ, he is just an archangel."
                     dateOf="31 Aug 00" href="MichaelTheArchangelisNotChrist.html"/>
            <Article numberOf="11" title="Jephthah did not offer his daughter in sacrifice." dateOf="15 Sep 00"
                     href="JephthahAndHisDaughter.html"/>
            <Article numberOf="12" title="Why did Jesus tell the rich young man to sell his possessions."
                     dateOf="28 Sep 00" href="TheRichYoungMan.html"/>
            <Article numberOf="13" title="Pharisees were not faithfully obedient to God's Law." dateOf="18 Oct 00"
                     href="PhariseesDidNotObeyGodsLaw.html"/>
            <Article numberOf="14" title="Was Virgin Mary a Teenager?" dateOf="10 Dec 00"
                     href="WasVirginMaryTeenager.html"/>
            <Article numberOf="15" title="Christ was nailed to the cross by his hands, not by his wrists."
                     dateOf="12 Dc 00" href="JesusNailedByHisHands.html"/>
            <Article numberOf="16" title="Jesus never confronted problems of illegitimacy." dateOf="2 Feb 01"
                     href="JesusAndillegitimacy.html"/>
            <Article numberOf="17" title="Christians must not eat from what was sacrificed to idols." dateOf="9 Ap 01"
                     href="ChristiansIdolsAndSacrifices.html"/>
            <Article numberOf="18" title="Do not take God's name in vain." dateOf="30 Ap 01" href="GodsNameVain.html"/>
            <Article numberOf="19" title="The fig tree does not represent Israel." dateOf="5 May 01"
                     href="TheFigtreeIsNotIsrael.html"/>
            <Article numberOf="20" title="The time the Patriarchs lived with each other" dateOf="28 June 01"
                     href="TimePatriarchsCoexisted.html"/>
            <Article numberOf="21" title="God appoints kings, world kingdoms are His." dateOf="20 July 01"
                     href="GodAppointsKings.html"/>
            <Article numberOf="22" title="Evolution: the so called 'first simplest cell' could have never existed."
                     dateOf="21 Aug 01" href="TheFirstCell.html"/>
            <Article numberOf="23" title="Melchizedek could not be Christ." dateOf="20 Sep 01"
                     href="MelchizedekIsNotChrist.html"/>
            <Article numberOf="24" title="Revelation, Seals, Trumpets, and Vials." dateOf="28 Nv 01"
                     href="SealsTrumpetsVials.html"/>
            <Article numberOf="25" title="Judas was a traitor, not a patriot." dateOf="10 Dc 01"
                     href="JudasTraitorNotPatriot.html"/>
            <Article numberOf="26" title="Believers suffering and atheist enjoying." dateOf="18 Jan 02"
                     href="BelieversSufferingAtheistsEnjoying.html"/>
            <Article numberOf="27" title="The Second Coming will surprise unbelievers only." dateOf="12 Mch 02"
                     href="ChristSupriseUnbelievers.html"/>
            <Article numberOf="28" title="Elijah was not a coward." dateOf="26 Ap 02" href="ElijahWasNotCoward.html"/>
            <Article numberOf="29" title="Evolution, the paleontologist and the skeleton." dateOf="31 May 02"
                     href="PaleontologistSkeleton.html"/>
            <Article numberOf="30" title="Why longevity decreased after the Flood." dateOf="30 June 02"
                     href="LongevityAndFlood.html"/>
            <Article numberOf="31" title="The Original Sin is a Myth." dateOf="31 July 02" href="TheOriginalSin.html"/>
            <Article numberOf="32" title="Who could kill Cain?" dateOf="10 Sp 02" href="WhoCouldKillCain.html"/>
            <Article numberOf="33" title="Why Cain's offering was not acceptable." dateOf="8 Oct 02"
                     href="WhyCainOfferingRejected.html"/>
            <Article numberOf="34" title="Was Jesus' clothing long or short." dateOf="30 Oct 02"
                     href="JesusClothingShort.html"/>
            <Article numberOf="35" title="Christians and weapons." dateOf="17 Jan 03" href="ChristiansAndWeapons.html"/>
            <Article numberOf="36" title="Shaking their fist before God's face and are Christians?" dateOf="16 Fb 03"
                     href="ShakeFistBeforeGod.html"/>
            <Article numberOf="37" title="Jesus is greater than the Holy Spirit." dateOf="20 Mch 03"
                     href="JesusGreaterHolySpirit.html"/>
            <Article numberOf="38" title="Why blasphemy against the Holy Spirit was unforgivable." dateOf="28 Ap 03"
                     href="BlasphemyHolySpirit.html"/>
            <Article numberOf="39" title="Don't call 'trials' to the logical consequences of your sins and mistakes."
                     dateOf="18 My 03" href="JobChristiansAndTrials.html"/>
            <Article numberOf="40" title="Timothy was not that young." dateOf="30 June 03"
                     href="TimothyWasNotThatYoung.html"/>
            <Article numberOf="41" title="Why Saint Paul forbade women from some activities in Church."
                     dateOf="8 Aug 03" href="WomenInChurch.html"/>
            <Article numberOf="42" title="Natural age for breast feeding and weaning babies." dateOf="10 Sp 03"
                     href="BreastFeedingBabies.html"/>
            <Article numberOf="43" title="Fearing enemies precludes Divine protection. Don't change commandments."
                     dateOf="8 Oct 03" href="FearingEnemies.html"/>
            <Article numberOf="44" title="Method to exam ourselves." dateOf="26 Nv 03" href="MethodExamOurselves.html"/>
            <Article numberOf="45" title="In the parable, salt is used for its taste, not for its preservative power."
                     dateOf="19 Dc 03" href="SaltParable.html"/>
            <Article numberOf="46" title="Women could divorce their husbands." dateOf="19 Jan 04"
                     href="WomenDivorceHusbnads.html"/>
            <Article numberOf="47" title="Marriages between angels and women is just a blasphemous teaching."
                     dateOf="20 Fb 04" href="MarriagesAngels-Women.html"/>
            <Article numberOf="48" title="Why hell exists and has to exist." dateOf="19 Mch 04"
                     href="WhyHellHasToExist.html"/>
            <Article numberOf="49" title="Halleluiah! What a Great Miracle." dateOf="18 Ab 04"
                     href="HalleluiahGreatMiracle.html"/>
            <Article numberOf="50" title="Pacts and Marriages with Non-believers." dateOf="20 My 04"
                     href="PactsAndMarriagesNonBelievers.html"/>
            <Article numberOf="51" title="Faith and Works According to James." dateOf="23 June 04"
                     href="FaithWorksJames.html"/>
            <Article numberOf="52" title="Jews, Muslims and Atheists, read this, 70 weeks." dateOf="21 Jl 04"
                     href="JewsMuslimsAtheists70weeks.html"/>
            <Article numberOf="53" title="Yes, God punishes Christians also." dateOf="25 Ag 04"
                     href="GodPunishesChristians.html"/>
            <Article numberOf="54" title="A Distortion Regarding the Lord's Supper." dateOf="25 Oc 04"
                     href="LordsSupper.html"/>
            <Article numberOf="55" title="Paul was not a rabbi nor belonged to the Sanhedrin." dateOf="24 Nv 04"
                     href="PaulSanhedrin.html"/>
            <Article numberOf="56" title="Gap Theory? A previous creation is absurd." dateOf="13 Jan 05"
                     href="AbsurdityPreviousCreation.html"/>
            <Article numberOf="57" title="Redemption by grace was known since the beginning." dateOf="27 Fb 05"
                     href="RedemptionByGraceSinceBeginning.html"/>
            <Article numberOf="58" title="See why the commandments of God are a secure path." dateOf="28 Mch 05"
                     href="LosCuatroCaminosIngles.html"/>
            <Article numberOf="59" title="Heavenly Dynamics: Mechanics of Temptation." dateOf="27 Ap 05"
                     href="MechanicsOfTemptation.html"/>
            <Article numberOf="60" title="Why repentance is indispensable." dateOf="31 May 05"
                     href="WhyRepentanceIndispensable.html"/>
            <Article numberOf="61" title="The False Predestination and the Fifth Commandment." dateOf="30 Jn 05"
                     href="PredestinationFifthCommandment.html"/>
            <Article numberOf="62" title="Will Stars Fall? Are they not larger than the Earth?" dateOf="28 Jl 05"
                     href="FallingStars.html"/>
            <Article numberOf="63" title="Did Creation last seven days or seven eras?" dateOf="31 Ag 05"
                     href="SevenDaysSevenEras.html"/>
            <Article numberOf="64" title="Abraham sacrificed Isaac knowing that God would raise him from dead."
                     dateOf="29 Sp 05" href="AbrahamSacrificedIsaac.html"/>
            <Article numberOf="65" title="Erroneous hypothesis of one same global climate year round." dateOf="25 Oc 05"
                     href="ClimateGlobal.html"/>
            <Article numberOf="66" title="Jesus did not forbid any oath." dateOf="23 Nv 05" href="ChristAndOaths.html"/>
            <Article numberOf="67" title="Jesus, Alexander the Great, Julius Caesar, Napoleon Bonaparte, and Jews."
                     dateOf="18 Dc 05" href="MessiahJewsAlexanderGreeks.html"/>
            <Article numberOf="68" title="Sodom is located in the depths of the Dead Sea." dateOf="24 Jan 06"
                     href="SodomDeadSea.html"/>
            <Article numberOf="69"
                     title="Those who do not worship God simply reject the idea of being submitted to Him."
                     dateOf="27 Fb 06" href="DoNotWorshipGodRebels.html"/>
            <Article numberOf="70" title="The crucifixion took place a Thursday, not a Friday." dateOf="30 Mch 06"
                     href="CrucifixionThursday.html"/>
            <Article numberOf="71" title="Who hinder our tasks and how we give them chance to do it." dateOf="28 Ap 06"
                     href="OpenBarAndFoundChurch.html"/>
            <Article numberOf="72" title="Two different women anointed Jesus; one was decent, the other was not."
                     dateOf="24 My 06" href="TwoDifferentWomenAnointedJesus.html"/>
            <Article numberOf="73" title="What are 'living waters'?" dateOf="20 Jun 06" href="LivingWaters.html"/>
            <Article numberOf="74"
                     title="In the Bible the word 'desert' means 'without inhabitants', not without vegetation or water."
                     dateOf="27 Jl 06" href="BibleWordDesert.html"/>
            <Article numberOf="75" title="Prophet Micaiah son of Imlah did not lie." dateOf="30 Aug 06"
                     href="DidProphetMicaiahLie.html"/>
            <Article numberOf="76" title="'Old Testament 'harshness' and the 'monoversal doctrineers'."
                     dateOf="22 Sp 06" href="OldTestamentHarshness.html"/>
            <Article numberOf="77" title="The origin of Jewish-Samaritan antagonism." dateOf="30 Oc 06"
                     href="AntagonismJewishSamaritan.html"/>
            <Article numberOf="78" title="Elisha didn't lie by telling Benhadad he wouldn't die from his illness."
                     dateOf="27 Nv 06" href="ElishaDidNotLie.html"/>
            <Article numberOf="79" title="Earthly consequences of sin, Jonah." dateOf="28 Dc 06"
                     href="EarthlyConsequencesSinJonah.html"/>
            <Article numberOf="80" title="Evil tactics to destroy God's people." dateOf="29 Jan 07"
                     href="EvilTacticsDestroyGodsPeople.html"/>
            <Article numberOf="81" title="Predestination, death, contraceptives, doctors and insurance."
                     dateOf="26 Fb 07" href="PredestinationDeathBirth.html"/>
            <Article numberOf="82" title="Satan cast out of Heaven before the Pentecost." dateOf="30 Mch 07"
                     href="SatanCastOut.html"/>
            <Article numberOf="83" title="Christian and self control." dateOf="30 April 07"
                     href="ChristianAndSelfControl.html"/>
            <Article numberOf="84" title="The Deluge was not local, but universal." dateOf="31 My 07"
                     href="FloodDelugeUniversal.html"/>
            <Article numberOf="85" title="Fallacies about Elihu's discourse, and greatness of Job." dateOf="29 Jun 07"
                     href="ElihuAndJobGreatness.html"/>
            <Article numberOf="86" title="Pragmatism: You shall know them by their fruits." dateOf="31 Jl 07"
                     href="Pragmatism.html"/>
            <Article numberOf="87" title="The religion of the 'Ifeels and the Maccabeans'." dateOf="30 Ag 07"
                     href="ReligionOfIfeels.html"/>
            <Article numberOf="88"
                     title="Similitude between Egypt of the Pharaohs and the Soviet Union. Angels in charge of Nations."
                     dateOf="28 Sp 07" href="EgyptAndRussia.html"/>
            <Article numberOf="89"
                     title="Jews: The Messiah would enter in that Temple before it was destroyed by Tito Flavio Vespasian."
                     dateOf="30 Oc 07" href="MessiahEnterTempleBeforeDestruction.html"/>
            <Article numberOf="90" title="God also rewards and punishes now and here." dateOf="30 Nv 07"
                     href="GodRewardAndPunishesNow.html"/>
            <Article numberOf="91" title="Is it true love to love those that hate God?" dateOf="30 Dc 07"
                     href="WhatIsTrueLove.html"/>
            <Article numberOf="92" title="Sin has terrestrial consequences even for God loved ones." dateOf="29 En 08"
                     href="ConsequencesSinTerrestrialDavid.html"/>
            <Article numberOf="93" title="The Death Penalty Will not Hinder a Convict from Being Saved."
                     dateOf="24 Fb 08" href="DeathPenaltySalvation.html"/>
            <Article numberOf="94" title="Theomorphism: Does God Look Like Human?" dateOf="31 Mch 08"
                     href="Theomorphism.html"/>
            <Article numberOf="95" title="The auto manufacturer." dateOf="30 Ap 08" href="AutoManufacturer.html"/>
            <Article numberOf="96" title="The Tactic Used by the Serpent in Eden are the Same Today." dateOf="31 My 08"
                     href="TacticSerpentEden.html"/>
            <Article numberOf="97" title="Christians and a two years old boy." dateOf="30 Jun 08"
                     href="BoyTwoYearsOld.html"/>
            <Article numberOf="98" title="God gave the Bible so that all may understand it, not only the learned."
                     dateOf="28 Jl 08" href="BibleUnderstoodAll.html"/>
            <Article numberOf="99" title="'Was said to those of old; not that God said in the law. Don't get confused."
                     dateOf="31 Ag 08" href="HaveBeenSaidThoseOfOld.html"/>
            <Article numberOf="100" title="Reaching Holiness." dateOf="28 Sp 08" href="ReachingHoliness.html"/>
            <Article numberOf="101" title="Ignorance of God's Law is not Excuse for Sinning." dateOf="31 Oc 08"
                     href="IgnoranceExcuseSin.html"/>
            <Article numberOf="102" title="Consequences of believing in the false rapture before the Great Tribulation."
                     dateOf="30 Nv 08" href="RaptureFalsehood.html"/>
            <Article numberOf="103" title="Where does the Bible says there is a Rapture before the Great Tribulation."
                     dateOf="31 Dc 08" href="RaptureGreatTribulation.html"/>
            <Article numberOf="104"
                     title="Sin is our fault, not the fault of the environment, predestination, ignorance or Satan."
                     dateOf="28 Jan 09" href="SinIsOurFault.html"/>
            <Article numberOf="105" title="Some Shall Depart From the Faith." dateOf="28 Fb 09"
                     href="SomeShallDepartFromTheFaith.html"/>
            <Article numberOf="106" title="Paul speaks of 'Once Saved Always Saved'." dateOf="26 Mch 09"
                     href="PaulOnceSaved.html"/>
            <Article numberOf="107" title="Why God does not eliminate temptation." dateOf="30 Ap 09"
                     href="GodDoesNotEliminateTemptation.html"/>
            <Article numberOf="108" title="Are we Christians or Saintpaulians?" dateOf="27 My 09"
                     href="ChristiansOrSaintpaulians.html"/>
            <Article numberOf="109"
                     title="Eat what is put in front of you. An old woman's brain? Soup of defeated warrior's blood?"
                     dateOf="24 Jun 09" href="EatPutFrontYou.html"/>
            <Article numberOf="110" title="Christ did not abolish God's laws for human behavior." dateOf="30 Jl 09"
                     href="ChristNotAbolishLaws.html"/>
            <Article numberOf="111" title="To obtain the right Christian doctrine very many Christians act like Naaman."
                     dateOf="31 Ag 09" href="ChristiansActNaaman.html"/>
            <Article numberOf="112" title="The true love for God is obedience to His commandments." dateOf="30 Sp 09"
                     href="LoveGodCommandments.html"/>
            <Article numberOf="113" title="Why Christ did not acquit nor condemn the adulteress?" dateOf="31 Oc 09"
                     href="ChristDidNotAcquitAdulteress.html"/>
            <Article numberOf="114" title="Error and heresy of being neo-testamentarian." dateOf="30 Nv 09"
                     href="ErrorNeotestamentarian.html"/>
            <Article numberOf="115" title="The Prophecy of the Seventy Weeks and the Messiah." dateOf="31 Dc 09"
                     href="SeventyWeeks.html"/>
            <Article numberOf="116" title="There is great confusion among Christians when it comes to God's Law."
                     dateOf="27 Jan 10" href="ChristianConfusionWithLaw.html"/>
            <Article numberOf="117"
                     title="Let's imitate the first Christians, who discussed their doctrinal differences in a friendly manner."
                     dateOf="28 Fb 10" href="DiscussionsAndChristians.html"/>
            <Article numberOf="118" title="What means to be 'legalist'." dateOf="30 Mch 10"
                     href="LegalistWhatMeans.html"/>
            <Article numberOf="119" title="How to better understand the Prophetic Sermon." dateOf="29 Ap 10"
                     href="PropheticSermon.html"/>
            <Article numberOf="120" title="The yoke that not Peter nor his ancestors could bear." dateOf="27 My 10"
                     href="YokePeterCouldNotBear.html"/>
            <Article numberOf="121" title="The doctrinal errors of many Christians have one or more of these origins."
                     dateOf="28 Jun 10" href="ErrorsOfDoctrine.html"/>
            <Article numberOf="122" title="What means in the Bible the phrase 'We are not under de Law'."
                     dateOf="28 Jl 10" href="LawWhatMeansWord.html"/>
            <Article numberOf="123"
                     title="Let's take a look at those who think they believe in absolute predestination."
                     dateOf="25 Ag 10" href="PredestinationLookAt.html"/>
            <Article numberOf="124" title="An Eye for an Eye was for the judges, not for personal feuds."
                     dateOf="28 Sp 28" href="EyeForAnEye.html"/>
            <Article numberOf="125" title="Paul exhorts Christians to obey God's Laws for human behavior."
                     dateOf="26 Oc 10" href="PaulObeyLaw.html"/>
            <Article numberOf="126"
                     title="Not everything that a personage of the Bible says is revelation, we must discern."
                     dateOf="28 Nv 10" href="PersonageSaysRevelation.html"/>
            <Article numberOf="127" title="Peter's vision and the supposed cleanliness of all animals."
                     dateOf="27 Dc 10" href="PeterVisionAnimals.html"/>
            <Article numberOf="128" title="Warehouse of Souls and Predestination." dateOf="27 Jan 11"
                     href="WarehouseOfSouls.html"/>
            <Article numberOf="129"
                     title="Peril of believing that the Church shall be raptured before the Great Tribulation."
                     dateOf="28 Mch 11" href="RapturePeril.html"/>
            <Article numberOf="130" title="How to better understand the Prophetic Sermon of Matthew 24."
                     dateOf="25 Ap 11" href="PropheticSermon.html"/>
            <Article numberOf="131" title="Reasons why people do not want to know the truth." dateOf="26 My 11"
                     href="ReasonsNotTruth.html"/>
            <Article numberOf="132" title="Passion clouds reason." dateOf="28 Jun 11" href="PassionCloudsReason.html"/>
            <Article numberOf="133"
                     title="Paul seems to say that he had been blameless when it came to God's law, which is not true"
                     dateOf="24 Jl 11" href="PaulBlameless.html"/>
            <Article numberOf="134" title="Christians can avoid the Great Tribulation" dateOf="25 Ag 11"
                     href="ChristiansAvoidGT.html"/>
            <Article numberOf="135" title="The Wedding of the Lamb, when it will take place?" dateOf="26 Sp 11"
                     href="TheWeddingOfTheLamb.html"/>
            <Article numberOf="136" title="What are the obstacles in reaching blessings of God." dateOf="25 Oc 11"
                     href="ObstaclesReachingBlessings.html"/>
            <Article numberOf="137" title="Why Daniel had divine protection in the lions' den." dateOf="27 Nv 11"
                     href="DanielLionsDen.html"/>
            <Article numberOf="138" title="Do not call 'trials' the consequences of your sins and errors."
                     dateOf="27 Dc 11" href="trialsAndConsequences.html"/>
            <Article numberOf="139" title="Fidelity in adversitly and joy." dateOf="26 Jan 12"
                     href="FidelityAdversityJoy.html"/>
            <Article numberOf="140" title="The promises of God are not unconditional." dateOf="27 Fb 12"
                     href="PromiseGodNotUnconditional.html"/>
            <Article numberOf="141" title="Jonah was clean when he arrived at Niniveg." dateOf="2 My 12"
                     href="Jonah%20was%20clean%20when%20he%20arrived%20at%20Niniveh.html"/>
            <Article numberOf="142" title="How to interpret parables." dateOf="29 My 12"
                     href="HowToInterpretParables.html"/>
            <Article numberOf="143"
                     title="Usefulness for the Church, society and the Nation of the presence and prayer of Christians"
                     dateOf="26 Jun 12" href="UsefullnesPrayerChristians.html"/>
            <Article numberOf="144" title="If God knows all, why do we have to pray?" dateOf="26 Jl 12"
                     href="IfGodKnowsWhyPray.html"/>
            <Article numberOf="145" title="A factor to correctly interpret de Bible." dateOf="27 Ag 12"
                     href="FactorInterpretBible.html"/>
            <Article numberOf="146" title="The Bible is a monolithic doctrinal unit." dateOf="30 Sp 12"
                     href="BibleMonolithicUnit.html"/>
            <Article numberOf="147"
                     title="Women were not 'prohibited' from certain activities, it was the circumstances that prohibited them."
                     dateOf="" href="WomenActivities.html"/>
            <Article numberOf="148" title="In the Bible the numbers are rounded off." dateOf="27 Nv 12"
                     href="NumbersRoundedOff.html"/>
            <Article numberOf="149" title="Women and the veil in Biblical times." dateOf="26 Dc 12"
                     href="VeilWomanBiblical.html"/>
            <Article numberOf="150" title="Christ never abolished any of God's laws before his crucifixion."
                     dateOf="28 Jan 13" href="ChristNeverAbolished.html"/>
            <Article numberOf="151" title="Discussing our doctrines with others is approved in the Bible."
                     dateOf="27 Fb 13" href="DiscussingDoctrinesBibleApproved.html"/>
        </article>
    </section>
</Layout>