
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Please title this page. (Page 1)</title>
</head>
<body>
<p><strong>QUÉ ES LA BLASFEMIA CONTRA EL ESPÍRITU SANTO</strong></p>
<p> Son muchos los que no entienden el dicho de Jesucristo cuando advirtió que la blasfemia contra el Espíritu Santo era
  algo imperdonable. Para entenderlo es necesario situarnos en el mismo ambiente en que aquello fue dicho, y tener en
  cuenta la ley de Dios sobre la blasfemia. En Lev 24: 16 Dios ordena que todo el que blasfeme a Dios sea ejecutado. Es
  decir, que la blasfemia contra el Espíritu Santo no era la única que no era perdonada, puesto que la blasfemia contra
  Dios Padre tampoco lo era.</p>
<p></p>
<p> "<i>Y <strong>el que blasfemare el nombre de Jehová, ha de ser muerto</strong>; toda la congregación lo apedreará;
  así el extranjero como el natural, <strong>si blasfemare el Nombre, que muera</strong></i>." ( Lev 24: 16 )</p>
<p><strong>Ningún hebreo en todo Israel, por renegado que fuera, se atrevía a blasfemar a Dios</strong>. Ni siquiera los
  que no creían en Dios se atrevían a blasfemarlo, porque sabían que iban a pagar con su vida, inmediatamente, su
  blasfemia; todos los que lo escucharan lo iban a apedrear. Por lo tanto, cuando Nuestro Señor Jesucristo dijo que toda
  blasfemia le sería perdonada a los hombres, él no se estaba refiriendo de ninguna manera a los que blasfemaran a Dios
  Padre, a Jehová, el Dios de los hebreos, puesto que tal cosa no lo hacía nadie en Israel. Ninguno de ellos se hubiera
  atrevido a blasfemar a Jehová Dios, y menos aún públicamente. Jesús se refería a las blasfemias contra él.</p>
<p></p>
<p> "31 <i>Por tanto os digo: <strong>Todo pecado y blasfemia será perdonado a los hombres, mas la blasfemia contra el
  Espíritu no será perdonada a los hombres.</strong></i> 32 <strong>Y cualquiera que hablare contra el Hijo del hombre,
  le será perdonado, mas cualquiera que hablare contra el Espíritu Santo, no le será perdonado</strong><i>, ni en este
  siglo, ni en el venidero</i>." ( Mt 12: 31-32 )</p>
<p><strong>De manera que, desechada ya la posibilidad de que aquella gente blasfemara contra Dios Padre, examinemos la
  posibilidad de que la blasfemia fuera contra el Divino Hijo de Dios.</strong> En Mt 12: 32; Mr 3: 29 y Lc 12: 10,
  Jesús nos dice que la blasfemia que aquella gente hacía contra él les sería perdonada. Dado que aquella gente veía a
  Jesús como un hombre igual que ellos, el hecho de que lo blasfemaran a él no tenía la gravedad, que tiene el blasfemar
  a Dios. Desde el punto de vista de aquella gente Jesús era un ser humano, por eso se les podía perdonar los insultos y
  blasfemias contra él, porque eran producto de la ignorancia, no creían que era un Ser Divino. Esto es más evidente en
  Mt 12: 32 y Lc 12: 10 donde Jesús habla de sí mismo como "el Hijo del Hombre", por lo cual los que lo veían como un
  simple hijo de hombre, no cometían un pecado imperdonable al blasfemarlo.</p>
<p></p>
<p> "28 <i>De cierto os digo que todos los pecados serán perdonados a los hijos de los hombres, y las blasfemias
  cualesquiera con que blasfemaren;</i> 29 <i>mas cualquiera que blasfemare contra el Espíritu Santo, no tiene jamás
  perdón, mas está expuesto a eterno juicio.</i> 30 <i>Porque decían: Tiene espíritu inmundo</i>." ( Mr 3: 28-30 )</p>
<p></p>
<p> "<i>Y todo aquel que dice palabra <strong>contra el Hijo del hombre</strong>, le será perdonado; mas al que
  blasfemare contra el Espíritu Santo, no le será perdonado</i>." ( Lc 12: 10 )</p>
<p><strong>Examinemos ahora estos pasajes y veamos contra quién estaban blasfemando aquella gente</strong>. Según vemos
  en Mr 3: 30, allí se aclara que <strong>lo que Jesús consideraba blasfemia era el hecho de que se dijera que el
    Espíritu que él tenía, era un espíritu inmundo</strong>. Aquella gente estaba hablando del Divino Ser con cuya
  unción Jesús ejecutaba los milagros. Ya eso era una cosa muy diferente; ellos no podían ignorar que el espíritu que
  tales cosas hiciera, <strong>tenía que ser</strong> un Ser Divino. <strong>A pesar de esa evidente conclusión, ellos
    elegían el blasfemar a ese Divino Ser, llamándole Belcebú</strong>, como vemos en Mt 12: 24; Mr 3: 22 y Lc 11: 15.
  Ellos sabían que ningún demonio podía echar a otro demonio; que Satanás no podía abrir los ojos de un ciego, ni
  resucitar un muerto, ni hacer caminar un paralítico. <strong>Por eso no tenían perdón, porque sabiendo a quien estaban
    blasfemando, se empeñaban en blasfemarlo</strong>.</p>
<p> No se trataba del caso de un ignorante, o un ateo, que sin saber en realidad lo que significaba lo que decía, puesto
  que no sabía o no creía que existiera ese ser divino, blasfemara al Espíritu Santo. Se trataba de <strong>gente que
    sabiendo a quien estaban blasfemando, aún así deseaban blasfemarlo</strong>, por tal de sacar el "beneficio" de
  arrojar dudas sobre los milagros de Jesús el Cristo, a quien ellos percibían como su competidor en la religión.</p>
<p></p>
<p> "<i>Mas <strong>los fariseos</strong>, oyéndolo, decían: <strong>Este no echa fuera los demonios, sino por
  Beelcebub, príncipe de los demonios</strong></i><strong>.</strong>" ( Mt 12: 24 )</p>
<p></p>
<p> "<i>Y los escribas que habían venido de Jerusalem, decían que <strong>tenía a Beelcebub, y que por el príncipe de
  los demonios echaba fuera los demonios</strong></i>." ( Mr 3: 22 )</p>
<p></p>
<p> "<i>Mas algunos de ellos decían: <strong>En Beelcebub, príncipe de los demonios, echa fuera los
  demonios</strong></i>." ( Lc 11: 15 )</p>
<p><strong>Como vemos Jesús no está diciendo que se puede blasfemar a quien uno quiera menos al Espíritu Santo</strong>.
  Lo que estaba diciendo era que las blasfemias que aquellos hombres lanzaran contra él eran perdonables, puesto que lo
  tenían como a un ser humano. Pero las blasfemias que lanzaran contra un Ser que evidentemente era divino, porque era
  el que estaba detrás de milagros maravillosos que Jesús hacía, no podían ser perdonados.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>