---
import Layout from "../layout/Layout.astro";
---

<Layout title="Christians and the two years old boy">
    <section>
<p><strong>Christians and the two years old boy</strong></p>
<p> God is always ready to protect us and bless us<strong>,</strong> but we can lose that protection and blessing when
    we bring to him the filth and stench<strong>.</strong> These are the things that make the angel that represents Him
    flee from the place we live<strong>,</strong> or from the company of the person for whom that protection and
    blessing was directed to<strong>.</strong> In the category of stenches that set God or his angels apart from
    us<strong>,</strong> are<strong>,</strong> among others<strong>,</strong> the shedding of innocent
    blood<strong>,</strong> fornication<strong>,</strong> sexual pollution<strong>,</strong> abortion<strong>,</strong>
    unnatural practices in any sense<strong>,</strong> idolatry<strong>,</strong> sodomy<strong>,</strong>
    witchcraft<strong>,</strong> spiritualism<strong>,</strong> dishonest gain of benefits or money<strong>,</strong>
    believing that others are less valuable than us<strong>,</strong> lying<strong>,</strong> and everything that goes
    against any divine ordinance or against something that at any light is natural<strong>,</strong> holy and
    honest<strong>.</strong></p>
<p> God wants to give each and every human being a proportionally equal work<strong>,</strong> an important destiny in
    proportion to their gifts<strong>.</strong> <strong>It is us, human beings who, putting in or letting in filth into
        our soul, around us, where we have or should have authority, and in society around us, prevent the permanence of
        God's angel next to us, for not obeying His laws.</strong></p>
<p> Our lack of knowledge and cleanliness with respect to God is like that of a father and his two-year-old
    son<strong>.</strong> The father wants to take the boy where he is going<strong>.</strong> The child is dressed for
    the occasion<strong>.</strong> But the son has been playing with mud<strong>,</strong> his mouth and hands are full
    of chocolate and he has soiled his pants<strong>.</strong> The father wants to hug him and carry
    him<strong>,</strong> take him with him<strong>,</strong> but he can't<strong>.</strong> He loves
    him<strong>...</strong>but the son force his father to love him<strong>......</strong>from afar<strong>.</strong> He
    can't include him in his affairs<strong>,</strong> <strong>the son does not want to be cleaner than what he
        is.</strong> The boy likes his play with mud and his chocolates<strong>,</strong> and cares very little about
    being dirty<strong>.</strong> <strong>He needs to learn</strong>!</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    