<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Natural Age for Breast Feeding Babies</title>
</head>
<body>
<p><strong>NATURAL AGE FOR BREAST FEEDING AND WEANING BABIES</strong></p>
<p><strong> The passage you will later read hints that babies were weaned when they were three years old.</strong> Of
    course, before that, they started to eat some soft foods, but their main source was their mother's breast. If this
    is what mothers used to do in ancient times, it must be the most natural, and the closest thing to what God
    established.</p>
<p> If we read II Chr 31: 6 we will see how they reported that there was enough food for Levites and Priests, and how
    they managed the distribution. When we get to verse 15 it says how the families were taken in consideration, in
    verse 16 it says that <strong>only those who were over 3 years old,</strong> got food; and in verse 18 it says that
    both males and females, were being taken into account.</p>
<p><strong>The only reason that I see to distribute the food only to those over 3 years old, is that those under this
    age were fed by breast.</strong> We also see this practice in some ancient documents that I will mention later.</p>
<p> "<i>6 And concerning the children of Israel and Judah, that dwelt in the cities of Judah, <strong>they also brought
    in the tithe</strong> of oxen and sheep, and the tithe of holy things which were consecrated unto the LORD their
    God, and laid them by heaps…….15 And next him were Eden, and Miniamin, and Jeshua, and Shemaiah, Amariah, and
    Shecaniah, in the cities of the priests, in their set office, <strong>to give to their brethren by courses, as well
        to the great as to the small</strong>. 16 Beside their genealogy of males, <strong>from three years old and
        upward,</strong> even unto every one that entereth into the house of the LORD, his daily portion for their
    service in their charges according to their courses……18 And to the genealogy of all their little ones, their wives,
    and <strong>their sons, and their daughters,</strong> through all the congregation, for in their set office they
    sanctified themselves in holiness</i>." ( II Chr 31: 6-18 abbreviated )</p>
<p> In those times, when the notion doing natural things was yet not lost, <strong>the custom was to give breast to
    babies for three years</strong>. Some people made a big party the day their children were weaned, as we can see in
    Gn 21: 8. This data could be helpful to those who want to go back to the natural way of bringing up babies. I have
    written something related to this, but rather referring to how to give a natural time between conception of
    children, because <strong>generally</strong>, women do not conceive while they are breast feeding their babies. I'll
    probably include it in this web.</p>
<p> "<i>And the child grew, and was weaned; and</i> <strong><i>Abraham made a great feast the same day that Isaac was
    weaned</i>.</strong>" ( Gen 21: 8 )</p>
<p><strong>The first time this issue came to my attention, was when I read a side commentary of Gen 21: 8 in Scio de San
    Miguel version</strong>, which is dated in the 1700s, where he mentioned the age for weaning.</p>
<p><strong>The fact that babies were weaned at three years old, does not mean that during all these three years their
    only food was their mother's breast</strong>, but that they didn't quit breast feeding, till they were three years
    old. When the baby's mother didn't have enough milk, its food was complemented by another woman who had more milk
    than needed for her own baby. This was still a normal custom when I was a boy.</p>
<p><strong>By the same token, mothers who naturally didn't have enough milk</strong>, but didn't have another woman to
    give breast to their child either, solved their problem by giving goat or sheep milk to their child, which was
    considered the best, or even cow milk. Also, when the child had its teeth, even though it was still being breast
    fed, the mothers gave them bread and other soft foods so that the child started learning to eat by itself.</p>
<p><strong>As some extra information I should mention that in the book Second Maccabees 7: 27</strong>, which is one of
    the apocrypha in the Catholic Bible, when the mother of the Maccabees encouraged her son not to weaken under the
    torture he was going through, she told him among other things: "<strong>…I gave you breast for three years…</strong>".
    Even as an apocrypha book someone could rightly have some qualms in taking it as a doctrinal source, but there is
    nothing wrong in taking it as a historical document, to learn about the customs of those times, just as we could use
    the Iliad or the Odyssey, for the same purpose.</p>
<p><strong>If such an ancient document says that babies were breast fed for three years</strong>, it is logical to think
    that it was the custom of the time. More so, because other data and reasoning based on the Bible, coincides with
    what the Maccabees book says, as we already saw.</p>
<p><strong>Another ancient document</strong> that witnesses that babies were breast fed for two or three years, is The
    Koran, which says so in sura # 2, aleya # 233, which is equivalent to say chapter two, verse 233.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>