---
import Layout from "../layout/Layout.astro";
---

<Layout title="Caerán las Estrellas">
    <section>
<p><strong>¿Caerán las estrellas? ¿No son mayores que la Tierra?</strong></p>
<p> Son muchos los que rechazan la idea de que se puedan cumplir las profecías que dicen que las estrellas caerán sobre
  la Tierra, como se anuncia en la Biblia. Ellos lo ven imposible porque, mirando con estrecha visión, consideran que al
  ser las estrellas mayores que la Tierra, una lluvia de ellas sería algo inadmisible.</p>
<p> Es real y evidente, que el propósito de hacer que las estrellas caigan sobre la Tierra, es el de dar una clara e
  inimitable señal de la Segunda Venida del Señor, no el de introducir una nueva teoría astronómica.</p>
<p> "<i>Y luego, después de la aflicción de aquellos días, el sol se oscurecerá, y la luna no dará su lumbre, y <strong>las
  estrellas caerán del cielo</strong>, y las virtudes de los cielos serán conmovidas</i>." ( Mt 24:29 )</p>
<p> Aún sabiendo que, efectivamente, las estrellas tienen masas muy superiores a la de nuestro planeta, ellas le siguen
  luciendo al hombre común, como cosas pequeñas. Si varios miles de aerolitos del tamaño de un huevo, un puño, o un
  coco, caen en nuestro planeta, para el hombre común y corriente es como si se hubieran "caído las estrellas", o al
  menos, una parte de ellas. Sin embargo el impacto físico sobre el planeta sería simplemente como el de varios miles de
  piedras caídas en todo el mundo; nada que acabara con el planeta.</p>
<p> Como que los avisos de la Biblia se dirigen al hombre común, y no a los astrónomos solamente, para la humanidad en
  pleno habría aparecido una señal que, conjuntamente con la del sol y la luna, los convencería de que la época de su
  soberbia ha pasado, y que se hallan ante el umbral del Reino de Dios.</p>
<p> Pero no sólo el humano corriente se dará por avisado. Hasta el más escéptico comprenderá que lo que está sucediendo
  no son los eclipses y las escasas caídas de meteoritos que de vez en cuando observamos. Lo que quiero decir es que si
  fuere una lluvia excepcional de pequeños aerolitos, el terrorífico fenómeno logrará obtener la meta para la que fue
  dispuesto: avisar a toda la humanidad de la cercanía de la Segunda Venida de Nuestro Señor.</p>
<p> En realidad, ni en este pasaje de Mateo ni en los otros evangelios, ni en Apocalipsis, se dice que <strong>todas las
  estrellas van a caer</strong> sobre la Tierra. Yo opino que es una caída parcial, representada por solamente pequeños
  aerolitos, porque en Ap 8:12, al tocar el ángel la cuarta trompeta, la cual tañe después de la apertura del séptimo
  sello, aún hay estrellas en el firmamento.</p>
<p><strong>En resumen</strong>, siendo el propósito de la tal caída de estrellas, el que la gente se percate de que la
  señal profética se ha cumplido, supongo que sólo se llevará a efecto lo que sea suficiente para ese fin.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    