
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>To obtain the right Christian doctrine very many Christians act like Naaman.</title>
</head>
<body>
<p><strong>To obtain the right Christian doctrine very many Christians act like Naaman.</strong></p>
<p> There are those who believe that when they ask God for something<strong>,</strong> they are going to receive it in
    the most dramatic and vain form there is<strong>.</strong> It is not that way<strong>,</strong> the divine
    methodology is not the same as the human<strong>.</strong> Let us see the case of the Syrian
    Naaman<strong>,</strong> a general who was a leper<strong>,</strong> who believed that God would respond to his
    way<strong>,</strong> and almost did not reach that which he implored<strong>,</strong> his health<strong>.</strong>
</p>
<p><strong>Many times, believers behave with God in the same way this Syrian general behaved with Elisha.</strong> The
    prophet gave the leper all that was necessary for him to be cured<strong>,</strong> but he almost wasn't
    cured<strong>,</strong> because Elisha did not follow the method the general thought he should
    follow<strong>.</strong></p>
<p> Many believers ask things of God and expect Him to perform in a dramatic and astounding way that we think it should
    be given to us<strong>.</strong> Later<strong>,</strong> when we receive the same goal that we
    desired<strong>,</strong> but in a way that is natural and humble<strong>,</strong> we think that God has not heard
    us<strong>.</strong> Yes<strong>,</strong> He heard us<strong>,</strong> the problem is that He did not want to
    stimulate our vanity by performing marvelous theatrics when he could perfectly well help us by means that will look
    natural to others<strong>.</strong></p>
<p><strong>In the same way, very many believers ask God for the truth in religion,</strong> but when God sends a brother
    their way<strong>,</strong> who discuss their erroneous doctrines with them<strong>,</strong> they feel frustrated
    like Naaman<strong>,</strong> and think<strong>:</strong> I thought God would leave His throne in Heaven and appear
    before me to tell me what the true doctrine is<strong>.</strong></p>
<p></p>
<p><strong>"</strong>9 <i>So Naaman came with his horses and with his chariot<strong>,</strong> and stood at the door of
    the house of Elisha<strong>.</strong></i> 10 <i>And Elisha sent a messenger unto him<strong>,</strong>
    saying<strong>:</strong> <strong>Go and wash in Jordan seven times, and thy flesh shall come again to thee, and thou
        shalt be clean.</strong></i> 11 <i>But Naaman was wroth<strong>,</strong> and went away<strong>,</strong> and
    said<strong>:</strong> <strong>Behold, I thought, He will surely come out to me, and stand, and call on the name of
        the LORD his God, and strike his hand over the place, and recover the leper.</strong></i> 12 <i>Are not Abana
    and Pharpar<strong>,</strong> rivers of Damascus<strong>,</strong> better than all the waters of
    Israel<strong>?</strong> may I not wash in them<strong>,</strong> and be clean<strong>?</strong> So he turned and
    went away in a rage</i><strong>."</strong> (II K 5<strong>:</strong>9-12)</p>
<p> Finally<strong>,</strong> his servants reasoned with him that if the prophet would have asked him to do something
    difficult<strong>,</strong> theatrical or dramatic<strong>,</strong> he surely would have done so<strong>.</strong>
    Therefore<strong>,</strong> if something as simple as washing himself seven times in the Jordan River has been asked
    of him<strong>,</strong> why not do it<strong>?</strong> The general deposed his attitude<strong>,</strong> did the
    apparently stupid thing the prophet asked him to do and he was healed of his leprosy<strong>.</strong> If he had not
    accepted the directions of the prophet of God<strong>,</strong> he would have lost out on the blessing that was
    reserved for him<strong>.</strong></p>
<p><strong>Something similar can happen to us,</strong> if when we pray<strong>,</strong> we think that the answer from
    God should only come to us in a way that is dramatic<strong>,</strong> astonishing or theatrical<strong>.</strong>
    It is important to repeat here the previous paragraph<strong>:</strong> <strong>"In the same way, many believers ask
        God for the truth in religion, but when God sends a brother their way, who discuss their erroneous doctrines
        with them, they feel frustrated like Naaman and think: I thought God would leave His throne in Heaven and appear
        before me to tell me what the true doctrine is."</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>