---
import Layout from "../layout/Layout.astro";
---

<Layout title="Christ did not abolish God's laws for human behavior">
    <section>
        <p><strong>Christ did not abolish God's laws for human behavior</strong></p>
        <p> Many brothers think<strong>,</strong> erroneously<strong>,</strong> that God's laws for human behavior were
            abolished by Christ<strong>.</strong> Those laws abolished were the ritual laws<strong>.</strong> This was
            very
            clearly said by Jesus Christ himself<strong>,</strong> in Mt 5<strong>:</strong>17-19<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>17 <strong>Think</strong> <strong>not that I am come to destroy the law, or the prophets; I
            am not
            come to destroy,</strong> <i>but to fulfil<strong>.</strong></i> <i>18 For verily I say unto
            you<strong>,</strong>
            <strong>Till heaven and Earth pass,</strong> one jot or one tittle shall in no wise pass from the
            law<strong>,</strong> <strong>till all be fulfilled.</strong></i> 19 <strong><i>Whosoever therefore shall
            break one
            of these least commandments, and shall teach men so, he shall be called the least in the kingdom of heaven,
            but
            whosoever shall do and teach them, the same shall be called great in the kingdom of heaven</i>".</strong>
            (Mt
            5<strong>:</strong>17-19)</p>
        <p> If the hypothesis that God's laws for human behavior were abolished when Jesus was nailed to the cross was
            true<strong>,</strong> then we would have to come to the conclusion that<strong>,</strong> <strong>at least
                up to
                Jesus' death they were valid.</strong> In this case<strong>,</strong> <strong>if Jesus would have wanted
                to
                abolish the law, or speak against it, he would have never done it before the crucifixion,</strong>
            because that
            would have been to fail<strong>,</strong> to sin against God's law and he could not have saved
            us<strong>.</strong>
        </p>
        <p><strong>If Jesus would have wanted to speak against the law or declare it null, he would have waited until
            his
            resurrection</strong> and then do it legally<strong>,</strong> without failing in anything<strong>.</strong>
            If
            Jesus would have talked against the law while it was still valid<strong>,</strong> he could not have saved
            us<strong>,</strong> because he would have sinned by despising the law<strong>,</strong> as we see in
            Hebrews
            10<strong>:</strong>28<strong>.</strong></p>
        <p></p>
        <p><strong>"<i>He that despised Moses' law died without mercy</i></strong> <i>under two or three
            witnesses</i><strong>"</strong> (Heb 10<strong>:</strong>28)</p>
        <p> To say it more clearly<strong>,</strong> <strong>if Jesus indeed would have abolished the law, he would not
            have
            done it before his death, but after his resurrection.</strong> However<strong>,</strong> we see that this
            kind of
            verses where <strong>apparently</strong> Christ talks about abolishing the law <strong>was never discussed
                by him
                after his resurrection, which is precisely when he could have done it, and done it legally.</strong></p>
        <p> It is the twisting of his words during his Earthly life that the challengers of the validity of the laws of
            God for
            the human behavior<strong>,</strong> have always held on to<strong>.</strong> <strong>But all these attacks
                and all
                these arguments based on words prior to his crucifixion, fall from their own base in this last
                reasoning,
                because Jesus would never say or do any thing against God's laws before his crucifixion, but after his
                resurrection. However, after his resurrection he never ever did so.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    