<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>There is great confusion among Christians when it comes to God's law.</title>
</head>
<body>
<p><strong>"Whoso loveth instruction loveth knowledge; but he that hateth reproof is brutish."</strong></p>
<p><strong>There is great confusion among Christians when it comes to God's law.</strong> The great majority of them
    don't realize that the Bible talks about two sets of laws<strong>:</strong> <strong>a) the ritual, or ceremonial
        laws,</strong> that were nailed to the cross as Saint Paul said<strong>;</strong> and<strong>,</strong> <strong>b)
        the behavioral laws</strong> which<strong>,</strong> as the Lord Jesus Christ said in Mathew 5<strong>:</strong>17-19<strong>,</strong>
    would not pass away until Heaven and Earth would pass away<strong>.</strong></p>
<p><strong>"</strong>17 <strong>Think not that I am come to destroy the law, or the prophets; I am not come to
    destroy,</strong> <i>but to fulfil<strong>.</strong></i> <i>18 For verily I say unto you<strong>:</strong> <strong>Till
    heaven and Earth pass,</strong> one jot or one tittle shall in no wise pass from the law<strong>,</strong> <strong>till
    all be fulfilled.</strong></i> <i>19 <strong>Whosoever therefore shall break one of these least commandments, and
    shall teach men so, he shall be called the least in the Kingdom of Heaven,</strong> but whosoever shall do and teach
    them<strong>,</strong> the same shall be called great in the Kingdom of Heaven</i><strong>".</strong> (Mt
    5<strong>:</strong>17-19)</p>
<p></p>
<p><strong>The danger of believing that the behavioral norms are obsolete</strong> rides in that they leave a Christian
    without a moral anchor<strong>,</strong> without a guide for his life<strong>.</strong> If the behavioral laws were
    obsolete<strong>,</strong> a Christian would have to follow the customs in his society<strong>,</strong> or the
    traditions of his sect<strong>.</strong> How would he know he can't marry his sister or his niece<strong>?</strong>
    How would he know that he should tithe<strong>,</strong> or that he should not worship graven images or invoke the
    dead<strong>?</strong></p>
<p><strong>Saint Paul</strong> <strong>said: "Prove all things, hold fast that which is good".</strong> Trying to ignore
    God's truth does not free us from sin<strong>.</strong> As Christ said<strong>,</strong> the servant who knew not
    his master's will shall be beaten with few stripes<strong>,</strong> but shall be punished
    nevertheless<strong>,</strong> for not trying to find out his master's will<strong>.</strong></p>
<p><strong>What is God's law?</strong> God's law are those norms that God considered convenient to teach us humans so we
    can walk in as much righteousness as possible during our pilgrimage through this world<strong>.</strong></p>
<p><strong>Let's not confuse God's laws with</strong> the norms imposed by religious<strong>,</strong> social or
    political leaders<strong>.</strong> Let's not confuse either the divine laws with the rules of the culture or
    civilization in which we live<strong>,</strong> nor with the traditions of the race<strong>,</strong> nation or sect
    that we belong to<strong>.</strong></p>
<p> Unfortunately most people<strong>,</strong> without excluding Christians<strong>,</strong> admit<strong>,</strong>
    as behavioral norms<strong>,</strong> those imposed on the conglomerates by the society or the culture we live
    in<strong>.</strong> In other words<strong>,</strong> <strong>"</strong>if everyone does it<strong>,</strong> why
    can't I<strong>?"</strong></p>
<p><strong>What God's laws are for?</strong> God's laws are good to let us know what things we should
    do<strong>,</strong> which we should not<strong>,</strong> and to guide us in the daily decisions<strong>.</strong>
</p>
<p><strong>God's law was never good to save anyone. The law never saved anyone,</strong> due to the fact that no one
    could obey it during his entire life<strong>,</strong> from the cradle to the tomb<strong>.</strong> Besides<strong>,</strong>
    the law is scripture<strong>,</strong> it cannot save any one<strong>,</strong> it has no intellect nor
    feelings<strong>.</strong> Jesus Christ can save any one who desires it<strong>.</strong></p>
<p> The law never served for salvation<strong>,</strong> only as a guide to know what to do and what not to
    do<strong>.</strong> There are those who believe that <strong>"before"</strong> people saved them by obeying the law<strong>.</strong>
    False<strong>,</strong> that has never been possible<strong>.</strong></p>
<p><strong>People before, just like people now, were saved by faith in the lamb of God</strong> that takes away the sins
    of the world<strong>.</strong> The difference between those before Christ and those after Christ is that we already
    know that the lamb is called Jesus Christ<strong>,</strong> while before they only knew there would be one sent to
    take away our sins<strong>.</strong> We put our faith in the Lamb that was already slain<strong>;</strong> they put
    their faith in the lamb they sacrificed<strong>,</strong> and that represented he who one day would take our sins
    upon himself<strong>.</strong></p>
<p><strong>It is a big mistake to think that "before"</strong> people were saved one way<strong>,</strong> and today
    they are saved another<strong>.</strong> There are even those who think that in the future<strong>,</strong> during
    the Great Tribulation<strong>,</strong> people will be saved still by a third method<strong>.</strong> All that is a
    heretic and abominable error<strong>.</strong> The method of salvation has always been and will always be the
    same<strong>:</strong> the Lamb of God that takes away the sins of the world<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>