
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Are we Christians or Saintpaulians?</title>
</head>
<body>
<p><strong>Are we Christians or Saintpaulians?</strong></p>
<p><strong>Why Christianity became Saintpaulianity.</strong> More than 16 centuries ago many Christians became
    Saintpaulians<strong>.</strong> <strong>This is a rather idolatrous form of Christianity.</strong>
    Yes<strong>,</strong> because while it remains true to Jesus Christ<strong>,</strong> it takes away the authority of
    his word<strong>,</strong> and that of the Holy Spirit and his twelve Apostles<strong>,</strong> transferring such
    authority to Paul<strong>,</strong> <strong>going above the authority of Christ and God himself.</strong></p>
<p> Sure enough<strong>,</strong> nowadays most Christians are Saintpaulians<strong>.</strong> If Christ says that the
    grass is green and the Saintpaulians misunderstand that Paul said it is red<strong>,</strong> they insist it is
    red<strong>,</strong> because <strong>"</strong>Paul said so<strong>".</strong></p>
<p> If the twelve apostles say the sky is blue and the believers think they understood Paul say it was
    yellow<strong>,</strong> the Saintpaulians will insist that the sky is yellow<strong>,</strong> <strong>"</strong>because
    Paul said so<strong>".</strong></p>
<p><strong>They don't care what God says, what Jesus says, or what the Holy Spirit says;</strong> neither do they care
    what the twelve apostles say<strong>.</strong> The <strong>"</strong>new doctrine<strong>"</strong> is what the
    believers mistakenly think Paul has said<strong>.</strong></p>
<p><strong>Some believe that in I Corinthians 8:1-13, Paul, in his "sacred authority" changed the Christian
    doctrine,</strong> contradicting everything that had been legislated so far in regards to not eating what was
    sacrificed to the idols<strong>.</strong> Not just that<strong>,</strong> but according to these
    brothers<strong>,</strong> Paul<strong>,</strong> in his <strong>"</strong>divine authority<strong>",</strong> as if
    he were the protestant pope<strong>,</strong> changed God's law<strong>,</strong> and decided that from then
    on<strong>,</strong> <strong>it would</strong> be acceptable to eat what was sacrificed to idols<strong>.</strong>
    They think like that regardless of what Christ<strong>,</strong> the Holy Spirit<strong>,</strong> and the twelve
    apostles said<strong>.</strong> They believe that Paul went over all of that<strong>,</strong> and all of
    them<strong>.</strong></p>
<p><strong>Nothing was farther from Paul's intentions.</strong> What Paul was doing in this passage was taking away the
    panic that apparently some felt<strong>,</strong> for having carelessly eaten from something previously offered to
    the idols<strong>.</strong> But in spite of that reality<strong>,</strong> many are the Christians who understand
    from this passage that indeed <strong>we can</strong> eat what has been sacrificed to idols<strong>,</strong>
    because <strong>"</strong>Paul authorized it<strong>".</strong></p>
<p><strong>It is sensible to interpret very carefully what Paul seems to say.</strong> Peter was a man inspired by
    God<strong>,</strong> and he knew Paul personally<strong>.</strong> Thanks to Peter's witness<strong>,</strong> we
    know that our brother Paul<strong>,</strong> spoke and wrote in a style and form<strong>,</strong> that was open to
    be twisted<strong>.</strong> Of course<strong>,</strong> to be twisted by the unstable (of bad spiritual quality)
    and the unlearned (ignorant of the word and God's things)<strong>.</strong> Peter had indisputable authority to say
    it about the no lesser or inspired brother Paul<strong>.</strong></p>
<p> This doesn't mean that Paul's writings could not be read because of possible confusion<strong>.</strong> They had to
    be read carefully and sensibly so not to err<strong>.</strong> Above all<strong>,</strong> if what Paul seems to say
    is in contradiction with what other biblical authors affirm<strong>.</strong></p>
<p><strong>In no other place in the Bible there is a warning like this one, about any Bible author.</strong> Never has
    anything like this been said of anyone<strong>,</strong> especially by someone with such authority as the Apostle
    Peter<strong>.</strong> Let's remember that <strong>what the Bible authors wrote was inspired by the Holy
        Spirit,</strong> therefore<strong>,</strong> it would be sensible for us to take seriously such inspired counsel
    from Peter<strong>,</strong> and keep it in mind<strong>.</strong></p>
<p></p>
<p><strong>"</strong>15 <i>And account that the longsuffering of our Lord is salvation<strong>;</strong> <strong>even as
    our beloved brother Paul also according to the wisdom</strong> given unto him hath written unto
    you<strong>;</strong></i> 16 <i>as also in all his epistles<strong>,</strong> speaking in them of these
    things<strong>;</strong> in which <strong>are some things hard to be understood, which they that are unlearned and
        unstable wrest, as they do also the other scriptures, unto their own destruction</strong></i><strong>".</strong>
    (II Pet 3<strong>:</strong>15-16)</p>
<p><strong>We must understand that if the Holy Spirit inspired Paul to write something, He also inspired Peter to write
    what we just read.</strong> Neither inspiration is less valuable than the other<strong>.</strong> If the Holy Spirit
    who inspired Paul to write<strong>,</strong> found it right to inspire Peter to give us this
    warning<strong>,</strong> it must be so that we would not err<strong>.</strong></p>
<p><strong>See that the Holy Spirit inspired Peter to give this warning about Paul,</strong> but He didn't inspire Paul
    to give this warning about Peter<strong>.</strong> Therefore<strong>,</strong> the least that a sensible Christian
    can do is to keep this warning in mind when he reads Paul's writings<strong>.</strong> <strong>Especially the
        problematic ones,</strong> the ones that go head to head to what Jesus said<strong>,</strong> what the twelve
    apostles said<strong>,</strong> and what the rest of the Bible writers and the old prophets said<strong>.</strong>
</p>
<p> Let this serve as a warning to all<strong>;</strong> but especially to the <strong>Saintpaulians, those who like to
    make up doctrines out of Paul's obscure verses. Also to those who believe that Paul establishes doctrines that
    contradict those of Christ, the Holy Spirit, the rest of the apostles, or the rest of the Bible.</strong> We need to
    realize that we are Christians<strong>,</strong> not Saintpaulians<strong>.</strong></p>
<p> Those who think they see in Paul's writings the abolition of God's laws for human behavior would not lose much
    reviewing those writings in the light of what the Holy Spirit reveals and warns them through Peter<strong>.</strong>
    After all<strong>,</strong> the sincere ones<strong>,</strong> the ones who want to find the truth wherever it
    is<strong>,</strong> will find it<strong>.</strong></p>
<p><strong>Let's see now an alleged statement of Paul, that seems to contradict what the Lord Jesus Christ
    said,</strong> what the Holy Spirit said<strong>,</strong> and what the twelve apostles ordained<strong>.</strong>
    Let's also see what the explanation is to that <strong>apparent contradiction</strong> or discordance of Paul and
    the others<strong>.</strong></p>
<p><strong>Paul seems to contradict Christ, the Holy Spirit, and the twelve apostles in regards to what was offered to
    the idols.</strong> There are brothers that more than Christians are Saintpaulians<strong>.</strong> <strong>They do
    with Paul something similar to what Catholics do with the Virgin Mary.</strong> Let me explain<strong>.</strong>
    Christ is the son of God<strong>,</strong> He thinks just like his Father<strong>.</strong> What was said by Paul
    has the same value to both of them<strong>,</strong> as what was said by Peter<strong>,</strong>
    Isaiah<strong>,</strong> Samuel<strong>,</strong> Jacob<strong>,</strong> Jude<strong>,</strong>
    Mathew<strong>,</strong> Jeremiah<strong>,</strong> Daniel<strong>,</strong> or any other servant<strong>.</strong>
    <strong>The Holy Spirit inspired them all.</strong> Yet there are Christians that believe that the Bible is
    St<strong>.</strong> Paul<strong>,</strong> and St<strong>.</strong> Paul is the Bible<strong>.</strong> If they
    understand that Paul says that the sand is green<strong>,</strong> and the rest of the apostles say it is
    white<strong>,</strong> they insist it is green<strong>.</strong> Paul said so<strong>!</strong></p>
<p><strong>Even if our Lord Jesus Christ himself said the sand is white,</strong> and they think they understand that
    Paul said it was green<strong>,</strong> they will affirm that the sand is green<strong>,</strong> because
    <strong>"</strong>Paul said so<strong>".</strong> <strong>Do you think this is a bit of an exaggeration?</strong>
</p>
<p> The fact that Paul has written little more than a quarter of the New Testament doesn't give him the authority to
    abolish the rest of the Bible<strong>,</strong> including the rest of the New Testament<strong>,</strong> <strong>something
        he did not try to do, but that many brothers in Christ attribute to him.</strong></p>
<p> If indeed it is true that he wrote more than any other writer in the New Testament<strong>,</strong> we need to
    understand that the others wrote almost three quarters of it<strong>.</strong> In other words<strong>,</strong> that
    the others wrote almost three times as much as Paul<strong>.</strong> He was not the most fruitful of the sacred
    writers<strong>,</strong> Moses alone wrote more than twice of what Paul did<strong>.</strong></p>
<p> I say this<strong>,</strong> not to take away the merit due the apostle to the Gentiles<strong>,</strong> because he
    has plenty of merit<strong>.</strong> But rather so that nobody<strong>,</strong> due to an appreciation
    error<strong>,</strong> enlarge him irresponsibly<strong>,</strong> something that he always tried to
    avoid<strong>,</strong> as we see in the verses below<strong>.</strong> And sadly<strong>,</strong> they would
    enlarge him to the point of thinking of him as the sole teacher of religion<strong>,</strong> or at least the
    greatest<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>For though I would desire to glory<strong>,</strong> I shall not be a fool<strong>;</strong> for
    I will say the truth<strong>,</strong> but now I forbear<strong>,</strong> <strong>lest any man should think of me
        above that which he seeth me to be, or that he heareth of me</strong></i><strong>"</strong> (II Co
    12<strong>:</strong>6)</p>
<p></p>
<p><strong>"</strong>12 <i>Now this I say<strong>,</strong> that every one of you saith<strong>:</strong> I am of
    Paul<strong>,</strong> and I of Apollos<strong>,</strong> and I of Cephas<strong>,</strong> and I of
    Christ<strong>.</strong></i> 13 <i>Is Christ divided<strong>?</strong> <strong>Was Paul crucified for you? or were
    ye baptized in the name of Paul</strong></i><strong>?"</strong> (I Co 1<strong>:</strong>12-13)</p>
<p> As we saw in these two passages<strong>,</strong> it wasn't in Paul's will to be so enthroned<strong>,</strong> like
    the Saintpaulian brothers have done<strong>.</strong></p>
<p><strong>To demonstrate how some brothers misunderstand Saint Paul, thinking that he authorized eating from what was
    offered to idols read article # 17 in this same website. Would Saint Paul authorize such a thing he would be
    contradicting Our Lord Jesus Christ, the Holy Spirit and the rest of the apostles. Also read article # 9 so you
    realize how millions of Christian misunderstand Saint Paul when he give the impression to say the Holy of Holies was
    entered only once a year.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>