---
import Layout from "../layout/Layout.astro";
---

<Layout title="Christ will surprise unbelievers only">
    <section>
<p><strong>THE COMING OF JESUS CHRIST WILL SURPRISE UNBELIEVERS ONLY.</strong></p>
<p></p>
<p> The advice that the Second Coming of Jesus Christ will come as a thief in the night<strong>,</strong> refers
    exclusively to the unbelievers<strong>,</strong> not to Christians<strong>.</strong> <strong>Believers are not going
        to be surprised by the coming of Jesus.</strong> What is my basis for saying this<strong>?</strong></p>
<p> The phrase <strong>"</strong>as a thief in the night<strong>",</strong> referring to the unexpected coming of
    Jesus<strong>,</strong> is stated six times in all the Bible<strong>.</strong> <strong>None of them refer to
        Christians.</strong> <strong>Some of them clearly refer to unbelievers,</strong> especially I Thes
    5<strong>:</strong> 1-5<strong>.</strong> Let's read<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>But of the times and the seasons<strong>,</strong> brethren<strong>,</strong> ye have no need
    that</i></p>
<p><i> I write unto you<strong>.</strong></i> 2 <i>For yourselves know perfectly <strong>that the day of
    the</strong></i></p>
<p><strong> Lord so cometh as a thief in the night.</strong> 3 <i>For <strong>when they shall say: Peace</strong></i>
</p>
<p><strong> and safety; then sudden destruction</strong> <i>cometh <strong>upon them,</strong> as travail upon a</i></p>
<p><i> woman with child<strong>;</strong> <strong>and they shall not escape.</strong></i> 4 <strong>But ye, brethren,
    are not</strong></p>
<p><strong> in darkness, that that day should overtake you as a thief.</strong> 5 <i>Ye are all the</i></p>
<p><i> children of light<strong>,</strong> and the children of the day<strong>:</strong> we are not of the night<strong>,</strong>
    nor</i></p>
<p><i> of darkness</i><strong>."</strong> ( I Thes 5<strong>:</strong> 1-5 )</p>
<p></p>
<p> In verse 3 we read that sudden <strong>destruction</strong> will come upon <strong>them.</strong> Evidently the
    destruction will not come upon believers<strong>,</strong> therefore<strong>,</strong> the word <strong>"</strong>them<strong>"</strong>
    refers to unbelievers<strong>.</strong> The same can be interpreted from the phrase <strong>"they shall not
        escape",</strong> because we Christians will escape<strong>;</strong> therefore<strong>,</strong> the word
    <strong>"</strong>they<strong>"</strong> refers to unbelievers<strong>.</strong> Consequently<strong>,</strong>
    those who are to be unexpectedly surprised as a thief in the night<strong>,</strong> are the
    unbelievers<strong>,</strong> not the Christians<strong>.</strong></p>
<p> Furthermore<strong>,</strong> in verse 4 Paul says referring to Thessalonian Christians<strong>,</strong> that they
    are not going to be overtaken as a thief in the night by the coming of Christ<strong>.</strong> <strong>It is more
        than clear that Paul knew that Christians were not going to be surprised by Jesus' coming.</strong> He
    explicitly excludes Christians from that surprise<strong>.</strong> This would be enough to convince
    anyone<strong>,</strong> but there is still more<strong>.</strong></p>
<p><strong>When in Matt 24: 43 Jesus speaks about the surprise of a thief in the night,</strong> he refers to his
    enemies<strong>.</strong> He is referring to those who would oppose to his coming if they could<strong>;</strong>
    not to Christians<strong>,</strong> who never ever would oppose his return<strong>.</strong> He is referring<strong>,</strong>
    as Matt 24<strong>:</strong> 43 says<strong>,</strong> to those who <strong>"</strong><i>would not have suffered
        their houses to be broken up</i><strong>",</strong> to those who would not have allowed their houses to be
    broken up<strong>,</strong> if they could<strong>.</strong> The same can be reasoned from Lk 12<strong>:</strong> 39<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong><i>But know this<strong>,</strong> that if the goodman of the house had known in</i></p>
<p><i> what watch the thief would come<strong>,</strong> he would have watched<strong>,</strong> and
    <strong>would</strong></i></p>
<p><strong><i> not have suffered his house to be broken up</i>."</strong> ( Matt 24<strong>:</strong>43 )</p>
<p></p>
<p><strong>"</strong><i>And this know<strong>,</strong> that if the goodman of the house had known</i></p>
<p><i> what hour the thief would come<strong>,</strong> he would have watched<strong>,</strong> and <strong>not
    have</strong></i></p>
<p><strong><i> suffered his house to be broken through</i>."</strong> Luke 12 (<strong>:</strong>39 )</p>
<p></p>
<p> Also Peter mentions the phrase <strong>"</strong>thief in the night<strong>",</strong> but as we read
    it<strong>,</strong> we cannot say to whom he is applying this phrase<strong>,</strong> or to whom he is not
    applying it to<strong>.</strong> It is logical for us to interpret this passage in light of what <strong>Paul said
        in I Thes 5: 1-5, which was the first passage we read, in which he excludes Christians from being taken by
        surprise.</strong></p>
<p></p>
<p><strong>"<i>But the day of the Lord will come as a thief in the night;</i></strong> <i>in the</i></p>
<p><i> which the heavens shall pass away with a great noise<strong>,</strong> and the elements</i></p>
<p><i> shall melt with fervent heat<strong>,</strong> the earth also and the works that are</i></p>
<p><i> therein shall be burned up</i><strong>."</strong> ( II Pet 3<strong>:</strong>10 )</p>
<p></p>
<p> In Revelation 3<strong>:</strong> 3 Jesus exhorts the angel of the Church of Sardis to repent and keep what he has
    received and heard<strong>,</strong> because <strong>if he does not,</strong> Jesus will come to him as a
    thief<strong>.</strong> From what Jesus said it is easy to conclude that <strong>if the angel repents and keeps what
        he received and heard, he will not be overtaken by surprise when Jesus comes again.</strong></p>
<p></p>
<p><strong>"</strong><i>Remember therefore how thou hast received and heard<strong>,</strong> and</i></p>
<p><i> <strong>hold fast, and repent. If therefore thou shalt not watch, I will come</strong></i></p>
<p><strong> on thee as a thief,</strong> <i>and thou shalt not know what hour I will come</i></p>
<p><i> upon thee</i><strong>."</strong> ( Rev 3<strong>:</strong> 3 )</p>
<p></p>
<p> In the verse we have just read we notice that <strong>"</strong>coming as a thief<strong>"</strong> is not something
    that is going to occur to all<strong>.</strong> It depends on the attitude and behavior of the person he is
    referring to<strong>.</strong> <strong>If</strong> this person does not hold fast to what he received and
    heard<strong>,</strong> and <strong>if</strong> he does not repent<strong>,</strong> Jesus will come to him as a
    thief in the night<strong>;</strong> <strong>but if</strong> this person repents and does what he
    should<strong>,</strong> he will not suffer this surprise<strong>.</strong> Therefore<strong>,</strong> a surprising
    <strong>"</strong>thief in the night<strong>"</strong> style is not for those who are in good standing with the Lord<strong>.</strong>
</p>
<p><strong>In Revelation 16: 15</strong> the phrase <strong>"</strong>as a thief<strong>"</strong> is mentioned
    again<strong>.</strong> In this case<strong>,</strong> as in Peter's<strong>,</strong> it does not say who is going
    to be surprised and who is not<strong>.</strong> But again we can glimpse through the words to see that those who
    keep their garments are not going to be taken by surprise<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Behold<strong>,</strong> <strong>I come as a thief.</strong> Blessed is <strong>he that
    watcheth, and</strong></i></p>
<p><strong> keepeth his garments,</strong> <i>lest he walk naked<strong>,</strong> and they see his
    shame</i><strong>."</strong></p>
<p> ( Rev 16<strong>:</strong> 15 )</p>
<p></p>
<p><strong>These six passages are the only ones, in the whole Scriptures,</strong> in which the phrase
    <strong>"</strong>thief in the night<strong>"</strong> is used referring to the coming of Christ<strong>.</strong>
    <strong>None of them apply to Christians, but on the contrary, some of them clearly exclude Christians from a
        surprising return.</strong> In all these passages we can see one of two<strong>:</strong> <strong>a)</strong>
    the passage is applied to the enemies of Jesus<strong>,</strong> or <strong>b)</strong> nothing is said about to
    whom it is applied<strong>.</strong> It is hard to believe that with so many signs the Bible gives<strong>,</strong>
    so that we may know when the Second Coming of Christ is near<strong>,</strong> Christians would still stay ignorant
    of its nearness<strong>.</strong></p>
<p><strong>There are those who, in order to cling to the idea of a surprising coming of Christ,</strong> have invented
    the hypothesis that there are two comings<strong>.</strong> One of them to occur surprisingly<strong>,</strong>
    being called the <strong>"</strong>Rapture<strong>",</strong> in which what they call <strong>"</strong>Gentile
    Church<strong>"</strong> is <strong>"</strong>raptured<strong>"</strong> away from the Earth<strong>.</strong> The
    other is the real Second Coming<strong>,</strong> in which according to them<strong>,</strong> only those belonging
    to what they call <strong>"</strong>Jewish Church<strong>"</strong> will be caught up together<strong>,</strong>
    after the Great Tribulation<strong>.</strong> None of these is true<strong>.</strong> The wife of Christ does not
    have two bodies<strong>,</strong> one the so called <strong>"</strong>Gentile Church<strong>",</strong> and
    another<strong>,</strong> the so called <strong>"</strong>Jewish Church<strong>".</strong> Jesus nor the apostles
    ever divided the Church into two different ethnic groups<strong>.</strong> This is absurd<strong>.</strong> In
    Christ Jesus there is no man or woman<strong>,</strong> Greek or Jewish<strong>,</strong> free or
    slave<strong>,</strong> etc<strong>.,</strong> as it is said in Gal 3<strong>:</strong> 28 and Col
    3<strong>:</strong>11<strong>.</strong> There are still more reasons to back what I am saying<strong>.</strong></p>
<p><strong>If we use our common sense we will realize that the exhortation of the apostle is directed to a Thessalonian
    Church, a church formed by Greeks, which is to say formed by Gentiles.</strong> If Paul says in I Thes
    5<strong>:</strong> 4 that <strong>they</strong> ( the Gentiles ) were not going to be taken by
    surprise<strong>,</strong> is because he knew that ascending into the air to meet Jesus Christ<strong>,</strong> was
    not going to be a surprising event for them<strong>. This means that the Gentiles were going to be aware of the
        nearness of this great event.</strong> It does not mean that we are going to know the day and
    hour<strong>,</strong> but we are going to know the nearness of the Second Coming<strong>.</strong></p>
<p> If Paul said that the Gentiles at Thessalonica were not going to be taken by surprise<strong>,</strong> as a thief
    in the night<strong>,</strong> is because Paul knew that <strong>the "surprising rapture" of the so called "Gentile
        Church" does not exist.</strong> Not even inventing this absurd hypothesis of the
    <strong>"</strong>Rapture<strong>"</strong> and the absurd division of the Church into two different ethnic churches<strong>,</strong>
    can anyone demonstrate that <strong>"</strong>like thief in the night<strong>"</strong> refers to Christians<strong>.</strong>
</p>
<p> Let's see now what new absurdity they are going to invent<strong>,</strong> in order to cling to the
    <strong>"</strong>surprising<strong>"</strong> coming of Jesus<strong>,</strong> once they realize that these
    passages destroy their present absurdity<strong>.</strong></p>
<p><a href="biblenotes.html">Back to the Index</a></p>

    </section>
</Layout>
    