
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Christians can avoid the Great Tribulation</title>
</head>
<body>
<p><strong>Christians can avoid the Great Tribulation</strong></p>
<p><strong>God has always protected his people without removing them from the planet,</strong> as happened in
    Egypt<strong>;</strong> and as is promised that will happen with the future Church of Philadelphia<strong>.</strong>
    It is true also<strong>,</strong> when we see that in Revelation He marks His own<strong>,</strong> so they are not
    affected by the <strong>"</strong>locust<strong>"</strong><strong>.</strong> And even when we see that He gives
    refuge in the wilderness to the <strong>"</strong>woman<strong>"</strong> that flees<strong>,</strong> which is the
    Church<strong>.</strong> Besides<strong>,</strong> <strong>Christ personally tells us that we can escape,</strong>
    when He tells us to pray that we may be considered worthy of avoiding that which will come<strong>.</strong></p>
<p><strong>Christians can avoid the Great Tribulation according to what Jesus says.</strong> In truth<strong>,</strong>
    Christians can stay away from the Great Tribulation<strong>.</strong> If that were not the case the Lord would not
    have advised us to pray that we may be <strong>held worthy to escape all these things.</strong></p>
<p></p>
<p><strong>"</strong><i>Watch ye therefore<strong>,</strong> and pray always<strong>,</strong> <strong>that ye may be
    accounted worthy to escape all these things that shall come to pass,</strong> and <strong>to stand before the Son of
    Man."</strong></i> (Lk 21<strong>:</strong>36)</p>
<p><strong>By using the phrase "stand before the Son of Man",</strong> he lets us see that in this verse Jesus is
    <strong>referring to the last generation, just before his Second Coming; not to the generation of the Apostles.
        Referring to that generation which will see the Second Coming, He exhorts to pray and watch.</strong> In other
    words<strong>,</strong> he advises to ask God<strong>,</strong> and to act accordingly<strong>,</strong> so that
    they may avoid the Great Tribulation and stand before Christ<strong>.</strong></p>
<p> If such were not the case<strong>,</strong> that is<strong>,</strong> that the last generation of Christians could
    avoid the Great Tribulation<strong>,</strong> the Lord would not have urged us to pray requesting such a
    thing<strong>.</strong></p>
<p><strong>Jesus again mentions that Christians can avoid the antiChrist.</strong> In Rev
    3<strong>:</strong>10<strong>,</strong> we see the Lord asserting again that the Church can be freed of the Great
    Tribulation<strong>.</strong> It is not an outlandish idea that Christians can avoid it<strong>.</strong> Notice
    that He is referring to end-time Christians</p>
<p><strong>.</strong></p>
<p><strong>"</strong><i>Because thou hast kept the word of my patience<strong>,</strong> <strong>I also will keep thee
    from the hour of temptation, which shall come upon all the world,</strong> to try them that dwell upon the Earth</i><strong>."</strong>
    (Rev 3<strong>:</strong>10)</p>
<p><strong>When God protected his own people in Egypt, He did not have to remove them from there.</strong> It is useful
    to remember<strong>,</strong> when we speak of the plagues that the Lord will send during times of
    Revelation<strong>,</strong> that <strong>God protected his people thoroughly,</strong> from the plagues that
    afflicted Egypt<strong>.</strong> We cannot be called optimists<strong>,</strong> if we expect that during the
    plagues of Revelation<strong>,</strong> the magnificent and absolute protection of God on His people will be
    repeated<strong>.</strong></p>
<p></p>
<p><strong>"</strong>22 <i>And <strong>I will sever in that day the land of Goshen, in which my people dwell,</strong>
    that no swarms of flies shall be there<strong>;</strong> to the end thou mayest know that I am the LORD in the midst
    of the earth<strong>.</strong></i> 23 <i>And <strong>I will put a division between my people and thy
    people;</strong> to morrow shall this sign be</i><strong>."</strong> (Ex 8<strong>:</strong>22-23)</p>
<p></p>
<p><strong>"</strong>4 <strong>And the LORD shall sever between the cattle of Israel and the cattle of Egypt;</strong>
    <i>and there shall nothing die of all that is the children's of Israel<strong>.</strong></i> 5 <i>And the LORD
        appointed a set time<strong>,</strong> saying<strong>,</strong> To morrow the LORD shall do this thing in the
        land<strong>.</strong></i> 6 <i>And the LORD did that thing on the morrow<strong>,</strong> and all the cattle
        of Egypt died<strong>:</strong> <strong>but of the cattle of the children of Israel died not
            one</strong></i><strong>."</strong> (Ex 9<strong>:</strong>4-6)</p>
<p></p>
<p><strong>"</strong>25 <i>And <strong>the hail smote throughout all the land of Egypt all that was in the field, both
    man and beast; and the hail smote every herb of the field, and brake</strong> every tree of the
    field<strong>.</strong></i> <i>26 Only in the land of Goshen<strong>,</strong> <strong>where the children of Israel
    were, was there no hail</strong></i><strong>."</strong> (Ex 9<strong>:</strong>25-26)</p>
<p></p>
<p><strong>"</strong><i>They saw not one another<strong>,</strong> neither rose any from his place for three
    days<strong>;</strong> <strong>but all the children of Israel had light in their
        dwellings</strong></i><strong>."</strong> (Ex 10<strong>:</strong>23)</p>
<p><strong>From the reading of these portions, we see that the divine protection is full and complete.</strong> Nowhere
    have we seen that His people in Egypt had suffered the same plagues that were being suffered by those around
    them<strong>.</strong> Not even the side effects of these plagues<strong>.</strong></p>
<p><strong>This same thing will happen at the End of this Era, when the foretold plagues come.</strong> The people of
    God shall be protected<strong>,</strong> at the very least<strong>,</strong> those that allow themselves to be
    protected<strong>.</strong> Those that persist on waiting for a <strong>"</strong>secret rapture<strong>",</strong>
    may not see the opportunity of escape<strong>,</strong> and will be prevented from getting refuge in the
    <strong>"</strong>wilderness<strong>".</strong></p>
<p> At that future time<strong>,</strong> the best advice that Christians can receive is not to cling to their
    properties nor to others that may not want to leave for the <strong>"</strong>wilderness<strong>"</strong> that God
    provided<strong>.</strong> Not only that<strong>,</strong> but also in many cases they may have to leave without
    their material goods<strong>,</strong> leaving everything<strong>,</strong> so that the people surrounding them may
    not suspect that they are fleeing and not planning to return<strong>,</strong> and may try to retain
    them<strong>.</strong> Things like that I have seen in countries under tyrannies<strong>.</strong></p>
<p><strong>Where will the Christians that listen to God's voice and not sit to wait for the supposed Rapture previous to
    the Great Tribulation, find refuge?</strong> We have already seen several biblical examples of how God always
    provides an escape for His own and a place of refuge<strong>.</strong> Where would that refuge during the Great
    Tribulation be<strong>?</strong> It will definitely be what in Rev 12<strong>:</strong>14 is called
    <strong>"</strong>the wilderness<strong>".</strong></p>
<p></p>
<p><strong>"</strong><i>And to the woman were given <strong>two wings of a great eagle,</strong> that she might fly
    <strong>into the wilderness,</strong> into her place<strong>,</strong> where she is nourished for a
    time<strong>,</strong> and times<strong>,</strong> and half a time<strong>,</strong> from the face of the
    serpent</i><strong>."</strong> (Rev 12<strong>:</strong>14)</p>
<p> It is not misguided to believe that in this portion of Revelation<strong>,</strong> the eagle that lends the woman
    its two wings<strong>,</strong> symbolizes a powerful government<strong>,</strong> since He does call it a <strong>"great</strong>
    eagle<strong>".</strong> The act of giving the two wings to the woman<strong>,</strong> can be due to that nation
    lending its power to facilitate the transfer of Christians to the refuge or
    <strong>"</strong>wilderness<strong>"</strong> prepared by God for them<strong>.</strong></p>
<p> I do not believe that the transfer of the Christians would be something compulsory<strong>.</strong> In other
    words<strong>,</strong> that the Christians will be forced to go to the
    <strong>"</strong>wilderness<strong>"</strong> or refuge<strong>.</strong> But rather that they will allow them to
    go<strong>.</strong> Perhaps as a way of getting the more controversial citizens of that future society out of the
    way<strong>.</strong></p>
<p> I also doubt that <strong>all</strong> the Christians will desire to be transferred to the wilderness or
    refuge<strong>.</strong> There may be thousands that for various motives will not desire to take refuge and will
    ignorantly prefer to remain in the society of the nascent antiChrist <strong>.</strong></p>
<p>The possible motives that many may have in remaining where they are<strong>,</strong> could be<strong>:</strong></p>
<p><strong>a)</strong> They believe in Jesus<strong>,</strong> but <strong>they are un-aware of the prophecies.</strong>
    The propaganda that currently prepares the coming of the antiChrist will make them think that going to a
    <strong>"</strong>wilderness<strong>"</strong> to seek refuge is an exaggeration and a
    <strong>"</strong>fanaticism<strong>".</strong> Many will believe it<strong>,</strong> because those brothers have
    not read the Bible sufficiently<strong>.</strong> Ask the Christians you know what is the
    antiChrist<strong>.</strong> The majority do not know much about him and <strong>confidently expect that they will
        be "secretly raptured" before the antiChrist and the Great Tribulation .</strong></p>
<p><strong> b) Their emotions:</strong> Christians in love with persons that does not wish to leave their nation<strong>.</strong>
    Christians that love their wealth and possessions and are holding on to them<strong>.</strong> Those that think they
    are too <strong>"</strong>clever<strong>",</strong> and figure they will be able to deal with problems without
    having to leave their place<strong>.</strong> Those that are afraid of starting a brand new life from
    scratch<strong>.</strong> The procrastinators that always leave everything for later<strong>.</strong> Those that do
    not want to separate from their unbelieving relatives<strong>;</strong> etc<strong>..</strong></p>
<p><strong>I am not talking of things that do not happen.</strong> Each and every one of the examples just
    mentioned<strong>,</strong> were reasons why<strong>,</strong> in a certain country where tyranny
    reigned<strong>,</strong> hundreds of thousands remained which could have left on time and however<strong>,</strong>
    did not<strong>.</strong> Nevertheless<strong>,</strong> these that did not leave on time<strong>,</strong> would
    later torment their relatives in the United States desperately begging to be rescued from that
    hell<strong>.</strong> At that point it was either impossible or a huge sacrifice to do it<strong>.</strong> I am
    not talking of what I have been told<strong>,</strong> I am speaking of what<strong>,</strong> as a person who knew
    perfectly that country I saw<strong>,</strong> heard<strong>,</strong> and experienced<strong>.</strong></p>
<p><strong>c) Those that have God's duty</strong> to fulfill in the place where they are<strong>;</strong> and those
    that do not have it<strong>,</strong> but think that they have it<strong>.</strong></p>
<p><strong>d) Those that disguise their true motives</strong> to remain<strong>,</strong> with the pretext of the duty
    that they say they need to fulfill<strong>.</strong></p>
<p><strong>e) Those that have two or more of the aforementioned motives,</strong> etc<strong>..</strong></p>
<p> I do not believe that all the Christians of the World will go to the refuge<strong>,</strong> due to the previously
    mentioned facts<strong>.</strong> Perhaps it may be only those that make up the description given in Rev
    3<strong>:</strong>7-13 (the Church at Philadelphia)<strong>,</strong> especially if we guide ourselves by the
    promise of verse 10 of that portion<strong>,</strong> <strong>"</strong>because you have kept the word of my
    patience<strong>...".</strong></p>
<p> Something else to have in mind is that when it says that the woman will be given <strong>two wings of a great eagle,
    it is referring to the times of the end.</strong> In these days of the End there is only one powerful country that
    has as its national symbol the eagle<strong>,</strong> and that country is the United States of North
    America<strong>.</strong> It may be that this country may hold the <strong>"</strong>wilderness<strong>"</strong>
    which is spoken of by the prophecy<strong>,</strong> or it may be that the
    <strong>"</strong>wilderness<strong>"</strong> be elsewhere<strong>,</strong> but that the United States makes their
    power and means available to those that want to flee to a separate <strong>"</strong>wilderness<strong>".</strong>
</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>