<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Why Christ did not condemn nor acquit the adulteress</title>
</head>
<body>
<p><strong>Why Christ did not condemn nor acquit the adulteress</strong></p>
<p><strong>The only mission Christ had received was that of saving us, anything other would be a sin.</strong> Satan
    knew that God had given only one mission to His only son<strong>.</strong> He knew that Jesus could not stray away
    from it and that if he had altered that mission<strong>,</strong> or if he had taken upon his shoulders any other
    mission<strong>,</strong> he would have failed<strong>,</strong> he would have sinned<strong>.</strong> If he had
    sinned he could not save us<strong>.</strong></p>
<p> That is why several times Satan tried to trip the Lord<strong>,</strong> to make him get involved in
    judgments<strong>,</strong> politics<strong>,</strong> etc<strong>.,</strong> like the time he tried to make him a
    judge<strong>,</strong> an executioner<strong>,</strong> or to proclaim himself king<strong>,</strong> and even
    punish those who deserved punishment<strong>.</strong></p>
<p><strong>Because his was only a salvation mission, Jesus rejected certain "solutions".</strong> Do you believe that it
    was through his own strength and virtues that Elijah made fire fall from heaven and burn two companies of
    soldiers<strong>?</strong> Do you believe that was Elijah's <strong>"</strong>mistake<strong>"?</strong> (2 Kings
    1<strong>:</strong>10-12)<strong>.</strong></p>
<p> It is evident that the one that gave Elijah the power to do that miracle was God<strong>;</strong> and it is evident
    that God also agreed with what Elijah was doing<strong>,</strong> otherwise he would not have backed him
    up<strong>.</strong></p>
<p> Do you believe that Jesus disagreed with God on what Elijah had done<strong>?</strong> Of course
    not<strong>!</strong> Christ approved of the same things God approved<strong>.</strong> Therefore<strong>,</strong>
    what Elijah had done was not a sin<strong>.</strong></p>
<p> Subsequently neither was a sin in itself for the disciples to want to do what Elijah had done
    before<strong>:</strong> let fire come down from Heaven to punish the rebels<strong>.</strong> That is what James
    and John tried to do<strong>.</strong> What was sinful was to make it part of Christ's mission<strong>.</strong>
    That is why the Lord didn't let them do it<strong>.</strong></p>
<p></p>
<p><strong>"</strong>52 <i>And sent messengers before his face<strong>;</strong> and they went<strong>,</strong> and
    entered into a village of the Samaritans<strong>,</strong> to make ready for him<strong>.</strong></i> 53 <i>And
    they did not receive him<strong>,</strong> because his face was as though he would go to Jerusalem<strong>.</strong></i>
    54 <i>And when his disciples James and John saw this<strong>,</strong> they said<strong>:</strong> <strong>Lord,
        wilt thou that we command fire to come down from heaven, and consume them, even as Elias did?</strong></i> 55
    <i>But <strong>he turned, and rebuked them,</strong> and said<strong>, Ye know not what manner of spirit ye are
        of.</strong></i> 56 <strong>For the Son of man is not come to destroy men's lives, but to save them.</strong>
    <i>And they went to another village</i><strong>".</strong> (Lk 9<strong>:</strong>52-56)</p>
<p><strong>The only difference in this case</strong> was that Christ's mission was much different than Elijah's
    mission<strong>.</strong> It was much more specific and it required different methods<strong>.</strong> Jesus'
    mission was not to punish<strong>,</strong> destroy<strong>,</strong> judge<strong>,</strong> etc<strong>.,</strong>
    but to save<strong>;</strong> and no one would distract him during the 33 years he would live here<strong>.</strong>
</p>
<p> That is why he would not offer his vote (or deny it) for the adulterous woman to be punished<strong>;</strong> that
    is why he would not judge on the case of the brother who would not share his inheritance<strong>;</strong> that is
    why he would not punish the Samaritan city<strong>.</strong> None of that was his mission at the moment of his First
    Coming<strong>,</strong> he had not come for any of it<strong>.</strong> He would not let others drag him into
    it<strong>;</strong> being whether those others were acting in bad faith<strong>,</strong> as in the case of the
    Pharisees who were agents of Satan<strong>,</strong> or in good faith<strong>,</strong> like the
    disciples<strong>.</strong></p>
<p><strong>It's not that Christ disapproved what Elijah had done,</strong> since that had been done under God's
    authority and power<strong>.</strong> <strong>Neither was Christ against punishing adultery,</strong> since it had
    been established by his father God<strong>,</strong> and he was not going against Him or pretending to be
    <strong>"</strong>kinder<strong>"</strong> than God<strong>.</strong> It is simply that the mission that God gave
    him for that time was another one<strong>,</strong> as seen in John 3<strong>:</strong>17<strong>,</strong> <strong>and
        he would not want to sin by straying away from the mission he was given and taking on another one.</strong></p>
<p></p>
<p><strong>"</strong><i>For <strong>God sent not his Son into the world to condemn the world;</strong> but that the
    world through him might be saved</i><strong>".</strong> (Jn 3<strong>:</strong>17)</p>
<p> We should not conclude from cases like these<strong>,</strong> that God was thinking one thing while
    Jesus<strong>,</strong> <strong>"</strong>more humane<strong>"</strong> and
    <strong>"</strong>generous<strong>"</strong> was going against him<strong>,</strong> or fixing up His messes<strong>.</strong>
    After all<strong>,</strong> our Lord Jesus Christ <strong>agrees with sending the rebels to hell,</strong> just like
    God<strong>.</strong> Therefore<strong>,</strong> when the Lord Jesus Christ opposed James and John when they wanted
    to bring fire from heaven to punish those rebellious Samaritans<strong>,</strong> he did it because that was not his
    mission then<strong>,</strong> and doing it would be a sin<strong>;</strong> but not because he thought they did not
    deserve it<strong>.</strong></p>
<p><strong>Neither should we understand that God thought one thing in Moses' time</strong> and then changed his mind two
    millenniums later<strong>,</strong> to fix things<strong>,</strong> to the point of sending his anointed to
    contradict what He had previously approved<strong>.</strong></p>
<p> Jesus Christ<strong>,</strong> and therefore God<strong>,</strong> is the same yesterday<strong>,</strong>
    today<strong>,</strong> and forever<strong>,</strong> as Hebrews 13<strong>:</strong>8 declares<strong>.</strong>
    God is not going to think one way during Moses' time and another way during Paul's time<strong>.</strong></p>
<p><strong>Because it was not his mission, Jesus did not offer judgment.</strong> It is evident that in John
    3<strong>:</strong>17 is the explanation of why Christ would not let himself be dragged where the Pharisees and
    others wanted to take him<strong>.</strong> These<strong>,</strong> <strong>incited by Satan, and not knowing why
        they were doing it, wanted to tempt Jesus to judge or condemn someone, to invalidate his mission of
        salvation.</strong></p>
<p> God did not give Jesus the mission of judging or condemning on his first coming<strong>.</strong> He did not come to
    condemn but to save<strong>.</strong> If he had condemned someone he would have walked away from God's
    mission<strong>,</strong> which would have been sin<strong>.</strong> That is why the Pharisees and his other
    enemies kept tempting him to judge and condemn people<strong>.</strong> They did not realize the spiritual warfare
    that was taking place<strong>,</strong> and in which they were unconsciously participating<strong>,</strong> but
    since<strong>,</strong> after all<strong>,</strong> they were not serving God<strong>,</strong> the Devil used them
    to make Christ judge or condemn someone<strong>,</strong> and thus ruin his saving mission by making him to
    sin<strong>.</strong></p>
<p> That is why Christ did not condemn the adulterous woman in John 8<strong>:</strong>3-11<strong>.</strong> It is not
    that he was repealing God's laws<strong>,</strong> but he didn't want to make himself judge to apply
    them<strong>,</strong> because<strong>,</strong> as saw in John 3<strong>:</strong>17<strong>;</strong> <strong>that
        was not his mission.</strong> For judging crimes God had already established kings<strong>,</strong> governors
    and judges<strong>.</strong> Jesus was not going to usurp their functions<strong>.</strong> That is why he neither
    condemned nor acquitted the adulterous woman<strong>,</strong> but instead<strong>,</strong> after seeing that no
    one else condemned her<strong>,</strong> he simply said<strong>,</strong> <strong>"</strong>Go and sin no
    more<strong>".</strong></p>
<p><strong>That is why he would not go into litigation for the inheritance that one of his listeners had</strong> in
    Luke 12<strong>:</strong>13-14<strong>.</strong> This listener had been cheated by his brother<strong>.</strong> It
    isn't that Jesus thought there shouldn't be a law against swindling<strong>.</strong> He didn't abolish the laws
    against swindling by not condemning the listener's brother<strong>.</strong> It isn't that Jesus had abolished all
    these laws<strong>.</strong> It's that his mission was one of salvation<strong>,</strong> not of condemnation or
    legislation<strong>;</strong> he came as a savior<strong>,</strong> not as a judge or a legislator<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong>13 <i>And one of the company said unto him<strong>,</strong> <strong>Master, speak to my brother,
    that he divide the inheritance with me.</strong></i> 14 <i>And he said unto him<strong>:</strong>
    Man<strong>,</strong> who made me a judge or a divider over you</i><strong>?"</strong> (Lk 12<strong>:</strong>13-14)
</p>
<p><strong>By not taking sides in this problem between brothers Jesus was not abolishing the laws of
    inheritance,</strong> or the punishment of cheaters<strong>,</strong> or the right of every heir to claim his
    part<strong>.</strong> <strong>He wasn't approving of adultery, or abolishing God's laws about adultery</strong>
    just because he did not condemn the adulterous woman<strong>.</strong> He knew that the hand of Satan was behind all
    this<strong>,</strong> trying to distract him from the only mission that God had given him<strong>,</strong> and
    thus ruin his redemptive work and condemn himself<strong>.</strong></p>
<p> If Christ would have dedicated himself to solve arguments<strong>,</strong> not only would he have failed in his
    mission<strong>,</strong> but he would have had received so many litigants<strong>,</strong> that would have made
    his mission practically impossible<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>
</body>
</html>