---
import Layout from "../layout/Layout.astro";
---

<Layout title="Jesus did not forbid any oath">
    <section>
<p><strong>Jesus did not forbid any oath</strong></p>
<p><strong>Jesus Christ never forbade oaths. What he discouraged doing was making an oath to do or not to do something
    in the future</strong>. The reason being that future circumstances were out of our control. Since we don't always
    have the power to fulfill our promises we could sin by committing perjury.</p>
<p> I think that this is what Christ meant, because Jesus gave this command, in what relates to a popular proverb in
    which <strong>people were talking about promises taking place in the future</strong>. We know that this old proverb
    referred to the future because it exhorted us by saying "perform unto the Lord your oaths". Verse 36 makes it clear,
    when Jesus, giving the reason for his command says: "because thou canst not make one hair white or black". It is to
    say: because you have not power over the circumstances, and may forswear.</p>
<p> "33 <i>Again, ye have heard that it <strong>hath been said by them of old time</strong>: Thou shalt not forswear
    thyself, but <strong>shalt perform unto the Lord thine oaths</strong></i>. 34 <i>But I say unto you: Swear not at
    all; neither by heaven, for it is God's throne;</i> 35 <i>nor by the Earth, for it is his footstool; neither by
    Jerusalem, for it is the city of the great King.</i> 36 <i>Neither shalt thou swear by thy head, <strong>because
    thou canst not make one hair white or black</strong>.</i> 37 <i>But let your communication be: Yea, yea; nay, nay;
    for whatsoever is more than these cometh of evil</i>." ( Matt 5:33-37 )</p>
<p> In the following passages, we see that not only God allows to swear, but also exhorts his servants to swear by His
    name. <strong>Even Paul asked for an oath</strong> from Thessalonians.</p>
<p> "<i>Thou shalt fear the LORD thy God, and serve him, and shalt swear by his name</i>." ( Dt 6:13 )</p>
<p></p>
<p> "<i>Thou shalt fear the LORD thy God; him shalt thou serve, and to him shalt thou cleave, and <strong>swear by his
    name</strong></i>." ( Dt 10:20 )</p>
<p></p>
<p> "<i>But the king shall rejoice in God; <strong>every one that sweareth by him shall glory</strong>; but the mouth of
    them that speak lies shall be stopped</i>." ( Psal 63:11 )</p>
<p></p>
<p> "<i>That he who blesseth himself in the Earth shall bless himself in the God of truth; and <strong>he that sweareth
    in the Earth shall swear by the God of truth</strong>; because the former troubles are forgotten, and because they
    are hid from mine eyes</i>." ( Isa 65:16 )</p>
<p></p>
<p> "<i>And it shall come to pass, if they will diligently learn the ways of my people<strong>, to swear by my
    name</strong>: The LORD liveth; as they taught my people to swear by Baal; then shall they be built in the midst of
    my people</i>." ( Jer 12:16 )</p>
<p></p>
<p> "<strong>I charge you by the Lord</strong> <i>that this epistle be read unto all the holy brethren</i>." ( I Thes
    5:27 )</p>
<p><strong>It is not logical to think that Jesus "realized" that the authorization, and even the exhortation to swear by
    God,</strong> that appears in several passages of the Old Testament, <strong>was a "mistake" of the angel</strong>
    who revealed these things to Moses and the prophets. It is even much less logical to think that God has an opinion,
    and Jesus has another, contrary to God's. Neither is it logical to think that God had an opinion in the past, but
    "now" has changed his mind, because he found a "better" opinion.</p>
<p> If the Scriptures clearly exhort, to swear by God, it is evident that it is not a sin to swear by God, but on the
    contrary it is something to be commended, if we follow through and do it, a) sensibly, and <strong>b)</strong> for a
    worthy reason. Sure enough, to be swearing for unimportant things is to use in vain the name of the Lord. An example
    of swearing using God's name in vain is when someone swears about the size of the fish that escaped.</p>
<p> Besides, one thing is to swear that something is true or false, and a very different thing is to swear into the
    future, a time of which we have no control. The first oath is in our control, the second one is not.</p>
<p> If a Christian is asked to swear if he is going to say the truth, or did say the truth, I don't see any reason not
    to swear, as long as it is an important issue.</p>
<p><strong>There are cases where God himself requires an oath, as in Ex 22:10-11.</strong> God is not going to command
    something that later Jesus will contradict. Nor will God command anyone to sin, by commanding them to swear if
    swearing were a sin.</p>
<p> "10 <i>If a man deliver unto his neighbour an ass, or an ox, or a sheep, or any beast, to keep; and it die, or be
    hurt, or driven away, no man seeing it,</i> 11 <i><strong>then shall an oath of the LORD be between them
    both,</strong> that he hath not put his hand unto his neighbour's goods; and the owner of it shall accept thereof,
    and he shall not make it good</i>." ( Ex 22:10-11 )</p>
<p><strong> Even in Mt 26:63 we see an oath is asked from Jesus and he accepts it.</strong></p>
<p> "62 <i>And the high priest arose, and said unto him: Answerest thou nothing? What is it which these witness against
    thee?</i> 63 <i>But Jesus held his peace. And the high priest answered and said unto him: <strong>I adjure thee by
    the living God</strong>, that thou tell us whether thou be the Christ, the Son of God.</i> 64 <i>Jesus saith unto
    him: Thou hast said; nevertheless I say unto you: Hereafter shall ye see the Son of man sitting on the right hand of
    power, and coming in the clouds of heaven</i>." ( Mt 26:62-64 )</p>
<p> As we read, <strong>Jesus did not answer rejecting the oath</strong>, but instead, as the high priest asks for an
    oath, Jesus answers him: Thou hast said. <strong>It is evident that it is not a sin to accept an oath.</strong> If
    it were a sin or if Jesus had prohibited swearing, he was not going to accept it from the high priest.</p>
<p> There are brethren that are victims of the pressures of tradition, who think that it is a sin to swear. When asked
    to swear or take an oath they reject it appealing to a simplistic euphemism, stating "they say before God", or "I
    say in God's presence". They don't realize that once the name of God is involved in a declaration, or an assertion,
    it is equivalent to an oath, for celestial effects. Even Paul swears in Ga 1:20 when he writes to the brothers.</p>
<p> "<i>Now the things which I write unto you, behold, <strong>before God, I lie not</strong></i>." ( Ga 1:20 )</p>
<p> When Paul said "before God", he is using God as a witness of what he is saying, therefore, it is exactly like
    swearing. Only we don't want to call it swearing. The above demonstrate that making an oath has never been
    forbidden. Certainly Paul was not going to play word games by juggling words.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    