---
import Layout from "../layout/Layout.astro";
---

<Layout title="Los Cristianos no deben comer de lo ofrecido a los ídolos">
    <section>
<p><strong>Los cristianos no deben comer cosas sacrificadas a los ídolos aunque les parezca que Pablo los
  autoriza</strong></p>
<p> Algunos hermanos me han preguntado por qué yo digo que un cristiano no puede comer de cosas sacrificadas a los
  ídolos, pues ellos piensan que San Pablo cambió las reglas del cristianismo, permitiéndonos comer cualquier cosa;
  ellos piensan eso, pero no fue así. En esta nota bíblica yo les presento las pruebas de que <strong>comer de cosas
    sacrificadas a los ídolos es un pecado de idolatría.</strong> Es necesario clarificar este error, pues sin quererlo
  muchos introducen en sus iglesias el pecado de idolatría, al comer ellos o autorizar a otros a que coman.</p>
<p> Antes de comenzar debemos recordar que <strong>nosotros somos cristianos, no sanpablianos.</strong> No hagamos con
  San Pablo lo que el catolicismo ha hecho con la Virgen María. Ninguno de los dos quisiera que los tomaran como
  vice-Cristos. San Pablo fue <strong>uno</strong> de los grandes apóstoles, <strong>no el único.</strong> <strong>Los
    otros apóstoles que escribieron en la Biblia eran hombres tan inspirados como Pablo, el Espíritu Santo era el que
    los guiaba a todos.</strong> Si Pablo dice algo y los otros apóstoles y profetas dicen lo contrario, es hora de
  tratar de entender qué es lo que en realidad San Pablo está tratando de decir, o en qué contexto dice tal cosa, porque
  <strong>el Espíritu Santo no se contradice a sí mismo inspirando a San Pablo una cosa y a los otros apóstoles lo
    contrario.</strong></p>
<p> Pablo es bien conocido por su conocimiento y sabiduría, pero también por <strong>hablar en una forma que no todo el
  mundo entiende correctamente.</strong> Él acostumbraba a hablar con gran cantidad de hipérboles, y nosotros debemos
  estar en guardia contra la posibilidad de malentenderlo. Efectivamente, <strong>otro apóstol, inspirado también por el
    Espíritu Santo,</strong> un apóstol tan grande como Pablo, escribió en II P 3:15-17 una advertencia sobre los
  escritos de Pablo, para que los cristianos que lo leyeran no se confundieran. Veamos qué fue lo que <strong>el apóstol
    Pedro</strong> nos advirtió, y sigamos su consejo.</p>
<p></p>
<p><i> "15 Y tened por salud la paciencia de nuestro Señor; como</i></p>
<p><i> también <strong>nuestro amado hermano</strong></i> <strong>Pablo, según la</strong></p>
<p><strong>sabiduría que le ha sido dada,</strong> <i>os ha escrito también;</i></p>
<p><i>16 Casi en todas sus</i> <i>epístolas, hablando en ellas de estas</i></p>
<p><i>cosas; entre las cuales <strong>hay algunas difíciles de entender,</strong></i> <strong> las cuales los indoctos e
  inconstantes tuercen,</strong> <i>como</i></p>
<p><i>también las otras Escrituras, para perdición</i> <i>de sí mismos.</i></p>
<p><i>17 Así que vosotros, oh amados, pues estáis amonestados,</i></p>
<p><strong>guardaos que por el</strong> <strong>error de los abominables no seáis</strong></p>
<p><strong> juntamente extraviados, y caigáis de vuestra firmeza.</strong><strong>"</strong> <strong> </strong>( II P
  3:15-17 )</p>
<p></p>
<p> En este pasaje San Pedro advierte a sus hermanos que sean cuidadosos cuando lean las epístolas de San Pablo, porque
  pueden malentender lo que él quiere decir en realidad. <strong>Esta es la única advertencia de este tipo que hay en
    toda la Biblia, en la que un autor alerta sobre otro autor.</strong> Es sabio y prudente pues, prestarle atención.
  Solamente sobre San Pablo se hace esta advertencia, por inspiración del Espíritu Santo.</p>
<p> Los hermanos que creen que el cristiano puede comer de lo sacrificado a los ídolos basan su creencia en I Co 8: 1-8.
  Leamos.</p>
<p></p>
<p> "<i>1 Y por lo que hace a lo sacrificado a los ídolos, sabemos</i></p>
<p><i> que todos tenemos ciencia. La</i> <i>ciencia hincha, mas la</i></p>
<p><i>caridad edifica.....4 Acerca, pues, de las viandas que son</i></p>
<p><i>sacrificadas a</i> <i>los ídolos, sabemos que el ídolo nada es en</i></p>
<p><i>el mundo, y que no hay más de un Dios......</i> <i>7 Mas no en todos</i></p>
<p><i> hay esta ciencia; porque algunos con conciencia del ídolo</i></p>
<p><i> hasta aquí,</i> <i>comen como sacrificado a ídolos; y su conciencia,</i></p>
<p><i> siendo flaca, es contaminada. 8 <strong>Si bien la</strong></i> <strong>vianda no nos hace</strong></p>
<p><strong> más aceptos a Dios: porque ni que comamos, seremos más</strong> <strong> ricos; ni que no comamos, seremos
  más pobres</strong>."</p>
<p> ( I Co 8:1-8 abreviado )</p>
<p></p>
<p><strong>Si nosotros leyéramos solamente este pasaje, y no toda la Escritura,</strong> pudiéramos equivocarnos y
  pensar que San Pablo le está enmendando la plana a todos los demás apóstoles, así como refutando las inspiraciones y
  los escritos de todos los otros escritores bíblicos. Es decir, tendríamos que pensar que San Pablo nos está
  autorizando a hacer lo que todos los otros nos prohibieron. Nuestro hermano Pablo nunca quiso convertirse en "el Papa"
  de la cristiandad, el auto ungido cuya palabra anula la de todos los demás, incluyendo la palabra de Dios, como hace
  el catolicismo. <strong>Pablo nunca intentó hacerse Papa, y nosotros no debemos convertirlo en "Papa".</strong></p>
<p> Si leemos un poco mas adelante, en I Co 10:14-21, veremos que es el mismísimo Pablo, de quien se dice que nos
  autorizó a comer de lo sacrificado a los ídolos, quien nos dice exactamente lo contrario. Leamos.</p>
<p></p>
<p> "<i>14 Por tanto, amados míos, <strong>huid de la idolatría</strong>. 15 Como</i></p>
<p><i>a sabios hablo; juzgad</i> <i>vosotros lo que digo. <strong>16 La copa de</strong></i></p>
<p><strong>bendición que bendecimos, ¿no es la comunión de la</strong> <strong> sangre de Cristo? El pan que partimos,
  ¿no es la comunión</strong></p>
<p><strong>del cuerpo de Cristo? 17 Porque</strong> <strong>un pan, es que muchos</strong></p>
<p><strong>somos un cuerpo; pues todos participamos de aquel un pan.</strong></p>
<p><i>18 Mirad</i> <i>a Israel según la carne: los que comen de los</i></p>
<p><i>sacrificios ¿no son partícipes con el altar?</i> <i>19 ¿Qué pues</i></p>
<p><i>digo? ¿Que el ídolo es algo? ¿o que sea algo lo que es</i></p>
<p><i>sacrificado a los ídolos?</i> <i>20 Antes digo que <strong>lo que los</strong></i></p>
<p><strong>Gentiles sacrifican,</strong><strong> a los demonios lo sacrifican, y no a</strong></p>
<p><strong>Dios,</strong> <strong><i>y no querría que vosotros fueseis</i> partícipes con los</strong></p>
<p><strong>demonios.</strong> <strong>21 No podéis beber la copa</strong> <strong>del Señor, y la copa</strong></p>
<p><strong>de los demonios: no podéis ser partícipes de la mesa del</strong></p>
<p><strong>Señor, y de la</strong> <strong>mesa de los demonios</strong><strong>." </strong></p>
<p>( I Co 10:14-21 )</p>
<p></p>
<p> Como vemos Pablo nos advierte que igualmente <strong>que compartir el pan y el vino nos hace uno con el Señor,
  también compartir la mesa de los demonios nos hace uno con los demonios</strong>. También afirma Pablo en el versículo
  21 que si participamos de la mesa de los demonios no podemos participar de la mesa del Señor. Más claramente, en la
  misma epístola en que Pablo pareciera querer decir que podemos comer de lo sacrificado a los ídolos, también nos dice
  que no debemos participar de lo sacrificado a los ídolos. ¿Cuál de las dos afirmaciones de Pablo debemos obedecer, la
  primera o la segunda? <strong>A mi modo de ver debemos obedecer aquel mandamiento que esté de acuerdo con lo que dice
    toda la Biblia y el resto de los apóstoles. Por eso es que debemos leer toda la Biblia, sin saltar ninguna
    sección.</strong> No es buena idea leer un pasaje aquí y un versiculito allá, para formar una doctrina veraz y
  sólida. Gracias a leer toda la Biblia, podemos encontrar la explicación de un pasaje obscuro en otro libro de la
  Biblia, o incluso en el mismo libro, como en este caso.</p>
<p> Pero lo más interesante es que no es solamente Pablo el que contradice lo que algunos suponen que es su mandamiento.
  <strong>Otros apóstoles, tan buenos y tan inspirados por el Espíritu Santo como Pablo, también contradicen su primera
    afirmación.</strong> Estos apóstoles aseguran que el comer de lo sacrificado a los ídolos es pecado. Leamos Hechos
  15:28-29.</p>
<p></p>
<p><i> "28 Que <strong>ha parecido bien al Espíritu Santo</strong>, <strong>y a nosotros</strong>,</i></p>
<p><i> no imponeros ninguna carga</i> <i>más que estas cosas <strong>necesarias:</strong></i></p>
<p><i> 29 <strong>que os abstengáis de cosas sacrificadas a ídolos</strong>, y de</i></p>
<p><i>sangre,</i> <i>y de ahogado, y de fornicación; de las cuales cosas</i></p>
<p><i>si os guardareis, bien haréis. Pasadlo bien."</i> <i> </i> ( Hch 15:28-29 )</p>
<p></p>
<p> Si leemos este capítulo desde el comienzo veremos que en el versículo 28 el pronombre "nosotros" se refiere a los
  apóstoles y los ancianos de la Iglesia. <strong>Todos aquellos pilares de la Iglesia dicen que los cristianos deben
    abstenerse de comer las cosas sacrificadas a los ídolos.</strong> Eso solamente debía ser suficiente base para
  pensar que lo que Pablo quiere decir en su primera afirmación, no es lo que a priori nos parece, y que por lo tanto,
  no debemos aceptar como doctrina cristiana la idea de que los cristianos podemos comer de lo sacrificado a los ídolos.
  Pero aún hay más.</p>
<p><strong>El mismo apóstol Pablo estaba participando de ese concilio junto con los otros apóstoles y ancianos, y
  aprobaba lo que se acordó en Hch 15: 25.</strong> Veamos.</p>
<p></p>
<p> "<i>Nos ha parecido, congregados en uno, elegir varones, y</i></p>
<p><i>enviarlos a vosotros <strong>con</strong></i> <strong><i>nuestros amados Bernabé y Pablo</i>"</strong></p>
<p> ( Hch 15: 25 )</p>
<p></p>
<p> Si Pablo estaba en esa reunión de las columnas de la Iglesia y aprobó lo que se ordenó, entonces es lógico pensar
  que lo que él dijo en I Co 8, en que parece autorizar el comer de sacrificios paganos, tiene que tener otro
  significado. No iba Pablo a tener un evangelio personal mientras que los otros apóstoles y el Espíritu Santo tenían
  otro diferente.</p>
<p> Efectivamente, mayor que todo lo alegado hasta aquí es el hecho de que el versículo 28 nos dice que <strong>el
  Espíritu Santo aprobó lo que los apóstoles acordaron sobre abstenerse de lo sacrificado a los ídolos.</strong> ¿Se
  necesitarán más hechos y verdades para convencernos de que los cristianos no debemos comer de lo sacrificado a los
  ídolos? Yo creo que no hace falta más, pero permítanme mostrarle los dos últimos argumentos, veamos ahora qué cosa
  piensa Jesucristo personalmente sobre este asunto. Leamos dos de las cartas que Jesús envía a las siete iglesias de
  Asia.</p>
<p></p>
<p><i> "Pero tengo unas pocas cosas contra ti: porque tú tienes</i></p>
<p><i>ahí los que tienen <strong>la doctrina</strong></i> <strong>de Balaam</strong><i>, el cual enseñaba</i></p>
<p><i>a Balac a poner escándalo delante de los hijos de Israel, <strong>a</strong></i></p>
<p><strong>comer de cosas sacrificadas a los ídolos,</strong> <i>y a cometer</i></p>
<p><i>fornicación.</i>" ( Ap 2:14 )</p>
<p></p>
<p> En este pasaje vemos que Jesús le envía una carta al encargado de la iglesia que estaba en Pérgamo. Le dice que está
  disgustado porque el encargado de la iglesia de Pérgamo tiene allí gente <strong>con la misma doctrina de Balaam. Esta
    doctrina consistía en poner escándalo delante de los siervos de Dios enseñándoles a comer las cosas sacrificadas a
    los ídolos.</strong> ¿Está claro que comer de lo sacrificado a los ídolos Dios lo considera pecado? ¡Pues claro que
  sí! ¡Es el mismo Jesús el que lo dice! Veamos lo que Cristo le dice al encargado de la iglesia en Tiatira.</p>
<p></p>
<p> "<i>Mas <strong>tengo unas pocas cosas contra ti</strong>: porque permites</i></p>
<p><i>aquella mujer <strong>Jezabel</strong></i> <i>(que se dice profetisa) enseñar, y</i></p>
<p><i> engañar a mis siervos, a fornicar, y a <strong>comer cosas</strong></i></p>
<p><strong>ofrecidas a los ídolos</strong>." ( Ap 2: 20 )</p>
<p></p>
<p> Como podemos notar, Jesús llama con dos nombres repulsivos a los que enseñan la doctrina de comer de lo sacrificado
  a ídolos, esos nombres son <strong>"Jezabel" y "Balaam".</strong> Ambos nombres son de personas que han desviado a los
  siervos de Dios de las doctrinas santas, de los principios cristianos. <strong>En ambos casos Jesús condena a los que
    enseñan la doctrina de que se puede comer del sacrificio de los ídolos</strong>. Jesús no habla aquí de una supuesta
  "libertad cristiana" para hacer cada uno lo que le dé la gana. Jesús habla de <strong>lo que él sabe que es
    pecado</strong>, aún si Pablo parece decir que no es pecado, cosa que en realidad Pablo no está diciendo. Recordemos
  que nosotros somos cristianos, no sanpablianos.</p>
<p> Ahora bien, si San Pablo no tiene autoridad para cambiar las reglas y doctrinas para permitir a los cristianos comer
  de lo sacrificado a los ídolos, entonces, ¿qué fue lo que él quiso decir en su primera afirmación?</p>
<p><strong>Yo imagino, yo no puedo probarlo</strong>, pero creo que Pablo estaba tratando de calmar la ansiedad de
  algunos cristianos de Corinto, los cuales sin darse cuenta habían comido cosas sacrificadas a los ídolos. O tal vez
  problemas de conciencia que algunos hermanos tenían por haber comido antes de convertirse, de cosas sacrificadas a
  dioses paganos. Tal vez esos hermanos se creían que estaban condenados por haber comido sin darse cuenta tales
  alimentos, o sufrían porque creían haber pecado contra Dios.</p>
<p> Pienso así por la forma en que Pablo les habla diciéndoles "... sabemos que <strong>el ídolo nada es</strong> en el
  mundo, y que no hay más de un Dios..." y "....porque algunos con conciencia del ídolo hasta aquí, comen como
  sacrificado a ídolos". Lo más probable es que algunos de los hermanos de Corinto compraron en la carnicería, sin darse
  cuenta, algo que había sido sacrificado a ídolos, y después se creerían que habían ingerido un demonio, o que habían
  perdido la salvación, o cosa por el estilo. Para calmar a esos hermanos, Pablo, usando su hiperbólico lenguaje trató
  de calmarlos y darles seguridad en la fe. Esto es lo que <strong>yo pienso</strong> que Pablo estaba tratando de
  enseñar. Si alguien encuentra una mejor explicación que esta le agradeceré que me la notifique.</p>
<p> Si lo dicho aquí por mí no es lo suficientemente claro, o si alguno estima que hay fallos en las premisas de las que
  parto o en mi cadena de razonamiento, por favor hágame el gran favor de mostrármelo claramente en una carta.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>

    </section>
</Layout>
    