<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Cómo interpretar las parábolas</title>
</head>
<body>
<p><strong>Cómo interpretar las parábolas. La cizaña</strong></p>
<p><strong> </strong> Yo opino que las parábolas sirven para aclarar<strong>,</strong> en forma
  general<strong>,</strong> <strong>un solo asunto</strong><strong>,</strong> y que por lo tanto<strong>,</strong> no se
  pueden desmenuzar pormenorizadamente <strong>para atribuir un significado revelante a cada faceta de una parábola,
    símil o visión.</strong> Un buen ejemplo de ello es la parábola de la cizaña<strong>.</strong> A mi modo de ver esta
  parábola lo único que está enseñando es que Dios<strong>,</strong> por algún motivo<strong>,</strong> deja convivir a
  los creyentes y a los réprobos por un tiempo<strong>,</strong> pero que luego<strong>,</strong> cuando llegue el
  momento apropiado<strong>,</strong> separará a unos de otros<strong>,</strong> echando los réprobos al
  Infierno<strong>.</strong></p>
<p> Sin embargo si nos ponemos a hurgar en cada faceta de la parábola, en cada palabrita, en cada imagen, llegaremos a
  las más contradictorias conclusiones. Por eso mi manera de tomar las parábolas es en forma general, para una sola
  enseñanza. Veamos qué sucede si nos decidimos a tomar cada detalle de la narración de la parábola de la cizaña como si
  fuera algo revelador.</p>
<p></p>
<p>"24 <i>Otra parábola les propuso</i><i>,</i> <i>diciendo</i><i>:</i> <i>El Reino de los Cielos es semejante al hombre
  que siembra buena simiente en su campo</i><i>,</i> 25 <i>mas durmiendo los hombres, vino su enemigo, y sembró
  cizaña</i> <i>entre el trigo</i><i>,</i> <i>y se fue</i><i>.</i> 26 <i>Y como la hierba salió e hizo fruto</i><i>,</i>
  <i>entonces apareció también la cizaña</i><i>.</i> 27 <i>Y llegándose los siervos del padre de la familia</i><i>,</i>
  <i>le dijeron</i><i>:</i> <i>Señor</i><i>,</i> <i>¿</i><i>no sembraste buena simiente en tu campo</i><i>?</i> <i>¿</i><i>de
    dónde</i><i>,</i> <i>pues</i><i>,</i> <i>tiene cizaña</i><i>?</i> <i> </i>28 <i>Y él les dijo</i><i>:</i> <i>Un
    hombre enemigo ha hecho esto</i><i>.</i> <i>Y los siervos le dijeron</i><i>:</i> <i>¿</i><i>Quieres</i><i>,</i> <i>pues</i><i>,</i>
  <i>que vayamos y la cojamos</i><i>?</i><i> </i> 29 <i>Y él dijo</i><i>:</i> <i>No</i><i>;</i> <i>porque cogiendo la
    cizaña</i><i>,</i> <i>no arranquéis también con ella el trigo</i><i>.</i> 30 <i>Dejad crecer juntamente lo uno y lo
    otro hasta la siega</i><i>;</i> <i>y al tiempo de la siega yo diré a los segadores</i><i>:</i> <i>Coged primero la
    cizaña,</i> <i>y atadla en manojos para quemarla</i><i>;</i> <i>mas recoged el trigo en mi alfolí</i>."</p>
<p> (Mt 13:24-30)</p>
<p><i> </i></p>
<p>"36 <i>Entonces</i><i>,</i> <i>despedidas las gentes</i><i>,</i> <i>Jesús se vino a casa</i><i>;</i> <i>y llegándose
  a él sus discípulos</i><i>,</i> <i>le dijeron</i><i>:</i> <i>Decláranos la parábola de la cizaña del campo</i><i>.</i>
  37 <i>Y respondiendo él</i><i>,</i> <i>les dijo</i><i>:</i> <i>El que siembra la buena simiente es el Hijo del
    Hombre</i><i>;</i><i> </i> 38 <i>y el campo es el mundo</i><i>;</i> <i>y la buena simiente son los hijos del
    reino</i><i>,</i> <i>y la cizaña son los hijos del malo</i><i>;</i> 39 <i>y el enemigo que la sembró</i><i>,</i> <i>es
    el Diablo</i><i>;</i> <i>y la siega es el fin del mundo</i><i>,</i> <i>y los segadores son los ángeles</i><i>.</i>
  40 <i>De manera que como es cogida la cizaña</i><i>,</i> <i>y quemada al fuego</i><i>,</i> <i>así será en el fin de
    este siglo</i><i>.</i> 41 <i>Enviará el Hijo del Hombre sus ángeles</i><i>,</i> <i>y cogerán de su reino todos los
    escándalos</i><i>,</i> <i>y los que hacen iniquidad</i><i>,</i> <i>42</i> <i>y los echarán en el horno de
    fuego</i><i>,</i> <i>allí será el lloro y el crujir de dientes</i><i>.</i> 43 <i>Entonces los justos resplandecerán
    como el sol en el reino de su Padre</i><i>.</i> <i>El que tiene oídos para oír</i><i>,</i> <i>oiga</i><i>.</i>" (Mt
  13:36-43)</p>
<p></p>
<p> Si tomáramos cada detalle como algo revelador, lo primero que nos vendría a la mente es que según los versículos 25
  y 39, el Diablo tiene poder para crear gente mala y meterla en la Tierra, lo cual es absolutamente absurdo. Satanás
  puede tentar a la gente que Dios creó, sugerirles que se aparten de las cosas de Dios, pero no puede crear gente mala
  para mezclarla con los que Dios hizo.</p>
<p> Lo segundo que tendríamos que pensar según el propio versículo 25, es que los ángeles que cuidan la Tierra se
  durmieron y no vieron a Satanás cuando traía a los malos por él creados. También esto es absurdo, porque aunque los
  ángeles se descuidaran, Dios no se iba a descuidar.</p>
<p> En tercer lugar según el versículo 30 habría que pensar que el arrebatamiento tiene lugar no para llevarnos a los
  cristianos, sino para llevarse primero a los malos. Siguiendo esa errada manera de interpretar, tendríamos que pensar
  que los buenos se quedan en la Tierra, que ya es el reino, según el versículo 43. Al decir en el 41 "<i>cogerán de su
    reino todos los escándalos</i>....." nos haría pensar que Jesús considerará ya al mundo como su reino cuando se
  empiece a recoger la "cizaña". Y que en vez de llevarnos a nosotros fuera de este mundo, es a los enemigos a los que
  se llevará fuera. Del versículo del 40 al 43 se aclara específicamente que al final del mundo se recogerán a los
  réprobos y quedarán los creyentes en el reino.</p>
<p><strong>¿Es acaso todo esto lo que pretende enseñarnos la parábola?</strong> No<strong>,</strong> lo único que se
  pretende enseñar con esta parábola es que los que aman a Dios y los que lo odian van a convivir durante mucho
  tiempo<strong>,</strong> y que luego van a ser separados<strong>.</strong> No se puede sacar otras enseñanzas de esta
  parábola<strong>.</strong> Como ya dije<strong>,</strong> no creo que deba tomarse cada faceta de una parábola<strong>,</strong>
  visión o símil que ha sido usado en forma integral y general<strong>,</strong> para sacar en conclusión detalles cuya
  enseñanza no parecen haber sido la meta o intención de la parábola<strong>,</strong> visión o símil<strong>.</strong>
</p>
<p><strong>La insensatez de tomar las parábolas detalle por detalle</strong><strong>,</strong> se hace patente en la del
  mayordomo infiel<strong>,</strong> la de la viuda y el juez injusto<strong>,</strong> la del amigo a media
  noche<strong>,</strong> y otras<strong>.</strong> Si las tomáramos detalle por detalle sus enseñanzas serían
  contradictorias a las del evangelio<strong>.</strong> <strong>En la primera</strong> se justificaría al mayordomo
  infiel con su mal proceder<strong>;</strong> <strong>en la segunda</strong> sacaríamos la conclusión de que si
  molestamos a Dios con nuestras peticiones<strong>,</strong> al igual que la viuda lo hizo con el juez
  injusto<strong>,</strong> Dios nos respondería<strong>,</strong> no porque nos amara<strong>,</strong> sino para que
  no lo molestáramos más<strong>;</strong> y <strong>en la tercera</strong> enseñaríamos también que Dios nos otorga las
  peticiones para que no lo molestemos más<strong>.</strong> Más adelante abundaremos sobre estas
  parábolas<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
<p></p>
<p></p>
</body>
</html>