<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Consecuencias terrenales del pecado, Jonás</title>
</head>
<body>
<p><strong>Consecuencias terrenales del pecado</strong></p>
<p> El pecado, aparte de sus consecuencias eternas de perdición, acarrea consecuencias terrenales. Esas consecuencias
  son educativas, punitivas o ambas. Hay mucha gente (incluso cristianos) que no pueden creer, <strong>o más bien no
    quieren creer</strong>, que esto sea cierto. En el pasaje que más abajo presento, vemos cómo el atrevimiento y
  desconsideración de Jonás, al darle de lado a una encomienda divina, fue amargamente castigado. Hoy, después de saber
  el final, nos parece que no hubo tal castigo, pero sí lo hubo; veamos.</p>
<p> "<i>1 Y fue palabra de Jehová a Jonás, hijo de Amittai, diciendo: 2 Levántate, y ve a Nínive, ciudad grande, y
  pregona contra ella, porque su maldad ha subido delante de mí. 3 Y <strong>Jonás se levantó para huir de la presencia
    de Jehová</strong> a Tarsis, y descendió a Joppe; y halló un navío que partía para Tarsis; y pagando su pasaje entró
  en él, para irse con ellos a Tarsis de delante de Jehová</i>." (Jon 1:1-3)</p>
<p><strong>Cuando Jonás, alegre y despreocupadamente se embarcó en la nave</strong>, para desobedecer a Dios, no sabía
  lo que estaba al suceder. Él seguía desobedeciendo los mandatos de Dios, tal vez creyendo, como muchos hoy día, que
  eso no trae consecuencias.</p>
<p>"4 <i>Mas Jehová hizo levantar un gran viento en la mar, e hízose una tan gran tempestad en la mar, que se pensó se
  rompería la nave.</i> 5 <i>Y los marineros tuvieron miedo, y cada uno llamaba a su dios…</i>8 <i>Entonces le dijeron
  ellos: Decláranos ahora por qué nos ha venido este mal. ¿Qué oficio tienes, y de dónde vienes? ¿Cuál es tu tierra, y
  de qué pueblo eres?</i> 9 <i>Y él les respondió: Hebreo soy, y temo a Jehová, Dios de los cielos, que hizo la mar y la
  tierra.</i> 10 <i>Y aquellos hombres temieron sobremanera, y le dijeron: ¿Por qué has hecho esto? Porque <strong>ellos
  entendieron que huía de delante de Jehová,</strong> porque se lo había declarado</i>." (Jon 1:4-10 abreviado)</p>
<p> Ya comenzaba Jonás a padecer las consecuencias de su falta de obediencia a los mandamientos de Dios. Se veía
  envuelto en una tempestad que amenazaba a otros hombres, por culpa de él. Eso le tiene que doler al que tenga
  conciencia. Aquellos inconversos le reprochaban el haber hecho una cosa tal contra Dios. Por eso le dijeron: ¿Por qué
  has hecho esto? Ahora venía otra de las consecuencias de su pecado.</p>
<p> "11 <i>Y le dijeron: ¿Qué te haremos, para que la mar se nos quiete? Porque la mar iba a más, y se embravecía…15 Y
  tomaron a Jonás, y lo echaron a la mar; y la mar se quietó de su furia</i>." (Jon 1:11-15 abreviado)</p>
<p> Pero no quedó ahí el castigo de Jonás por su desobediencia a los mandamientos de Dios. Todavía tenía que padecer más
  para ablandarle su terquedad.</p>
<p> "<i>Mas Jehová había prevenido un gran pez <strong>que tragase a Jonás; y estuvo Jonás en el vientre del pez tres
  días y tres noches</strong></i>." (Jon 1:17)</p>
<p> ¿Creen ustedes que no hubo castigo para Jonás por desobedecer los claros mandamientos de Dios? Si ustedes en un
  futuro se embarcan en una aeronave y a medio camino ven incendiarse dos de los motores ¿no pasan una gran amargura?
  ¿Saben ustedes si aquello va a ser dominado?</p>
<p> Si luego de acuatizar el avión exitosamente en medio del océano se enteran ustedes de que por estar roto el radio no
  han podido notificar la catástrofe y la nave comienza a hundirse ¿cuál es el estado de ánimo de ustedes? ¿No sienten
  la amargura de la desesperanza? ¿No es esto castigo? ¿No fue algo parecido lo que le aconteció a Jonás?</p>
<p> Si después de hundirse el avión, y tras bracear entre las olas un largo rato, ven aparecer alrededor de ustedes
  enormes aletas surcando las aguas, ¿no se les multiplicaría la amargura que antes tenían? ¿Les queda alguna fe? Si
  después de minutos de incertidumbre ven dirigirse directamente hacia ustedes una enorme aleta; ¿cuántos se mantendrían
  serenos? ¿No es todo esto un espantoso castigo? Si ahora ven surgir ante ustedes un enorme monstruo con las fauces
  abiertas, el cual les viene para arriba, ¿quién de ustedes conservaría la ecuanimidad y el buen ánimo? ¿No es todo
  esto un castigo psicológico descomunal? Eso mismo fue lo que sufrió Jonás.</p>
<p><strong>Ni el más obcecado de los que se autosugestionan con una supuesta fe que en realidad no tienen</strong>,
  hubiera resistido sin inmutarse estos incidentes. Pero cuando ya no hay fe que aguante es cuando ustedes, vivos aún,
  se saben en el estómago del animal; y pasan los segundos... y nada; y los minutos...y nada; y las horas...y ustedes
  siendo digeridos. ¿Quién no hubiera sufrido amargamente? <strong>¿Quién no se hubiera arrepentido mil veces de no
    haber obedecido los claros mandamientos de Dios?</strong> ¿Quién no hubiera llegado a comprender que los
  mandamientos de Dios son para obedecerlos y no para teorizar sobre ellos? <strong>¿Quién no hubiera prometido que si
    salía de allí iba a leer todos los días la Biblia para enterarse de cuáles son los mandamientos de Dios?</strong>
  Así sufrió Jonás.</p>
<p> Lo mismo se puede decir de los problemas, amarguras y sufrimientos de todo estilo que nos sobrevienen a los
  cristianos. Busquémosle el origen. No creamos que un "pez" se traga a un cristiano por pura coincidencia. Al
  contrario, ni un pajarito cae a tierra sin nuestro Padre, según nos dice Mt 10:29. <strong>Tampoco creamos que las
    angustias carecen de relación con nuestro comportamiento.</strong></p>
<p> Nosotros sabemos que si varios cordones eléctricos pelados dicen "no tocar", el hacerlo puede causarnos gran
  sufrimiento, y aún daño o muerte; por eso, no los tocamos. Pero una persona que por su escasa civilización o edad haga
  caso omiso de la advertencia, sufre las consecuencias. No importa que ignore que la electricidad existe; no importa
  que tenga mucha fe en que la electricidad no existe; no importa que se haya autosugestionado en el sentido de que no
  hay consecuencias por tocar los cordones electrificados. Si toca los cordones padece las consecuencias.</p>
<p><strong>Nosotros, porque conocemos la dinámica que rige las leyes físicas de este mundo, nos precavemos del peligro
  de quebrantarlas</strong>. Pero si nosotros somos lo suficientemente "incivilizados", o de "poca madurez" respecto a
  la dinámica que rige las leyes del mundo espiritual, (la otra "dimensión" que tiene que ver con nosotros), vamos a ser
  "electrocutados", angustiados, "tragados", etc.. Eso nos sucederá por no proceder de acuerdo a como está organizada la
  Creación en su parte espiritual.</p>
<p><strong>El cristiano es muy dado a "aprender" del ejemplo del perdón de Magdalena, pero nada quiere aprender ni
  pensar del ejemplo del castigo de Jonás.</strong> Procuremos que no tengan que enviarnos a Nínive una segunda vez. Los
  mandamientos de Dios son para cumplirlos, no para charlar sobre ellos. <strong>Leamos la Biblia para
    aprenderlos</strong>.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>