---
import Layout from "../layout/Layout.astro";
---

<Layout title="El pecado tiene consecuencias terrenales aún para los amados de Dios">
    <section>
        <p><strong>El pecado tiene consecuencias terrenales aún para los amados de Dios</strong></p>
        <p><strong>Desobedecer los mandamientos de Dios, es pecado</strong>. Lo mismo da que conozcamos sus mandamientos<strong>,</strong>
            como que no los conozcamos. Nuestro deber es averiguar por los mandamientos de Dios. Mayor pecado aún es que
            conozcamos sus mandamientos y que nosotros le digamos que no nos da la gana de hacerlo. Ese fue el pecado
            del rey
            David<strong>,</strong> y el del rey Roboam y su corte.</p>
        <p><strong>El pecado tiene consecuencias terrenales y consecuencias eternas</strong>. Si hay un sincero
            arrepentimiento<strong>,</strong> las consecuencias eternas nos son quitadas gracias al sacrificio redentor
            de
            Jesucristo en la cruz. <strong>En cuanto a las consecuencias terrenales, no siempre nos son quitadas aunque
                nos
                arrepintamos sinceramente</strong>.</p>
        <p> Es bien conocido el caso del adulterio de David. Aunque él se arrepintió <strong>sinceramente,</strong> las
            consecuencias terrenales de su pecado lo persiguieron hasta el día de su muerte. En este pasaje vemos el
            sincero
            arrepentimiento y confesión de David<strong>,</strong> lo cual sin embargo<strong>,</strong> no detuvo su
            castigo
            terrenal.</p>
        <p> No se hagan ilusiones los que desean jugar a eso de <strong>"</strong>pecar y
            arrepentirse<strong>";</strong> aún
            siendo un arrepentimiento sincero<strong>,</strong> van a sufrir las consecuencias de su
            pecado<strong>,</strong>
            aunque ustedes se crean mejores que David.</p>
        <p></p>
        <p><strong>"</strong>9 <strong>¿Por qué pues tuviste en poco la palabra de Jehová,</strong> <i>haciendo lo malo
            delante
            de sus ojos<strong>?</strong> A Uría Hetheo heriste a cuchillo<strong>,</strong> y tomaste por tu mujer a su
            mujer<strong>,</strong> y a él mataste con el cuchillo de los hijos de Ammón.</i> 10 <i><strong>Por lo cual
            ahora no
            se apartará jamás de tu casa la espada; por cuanto me menospreciaste, y tomaste la mujer de Uría Hetheo para
            que
            fuese tu mujer</strong>…</i> 13 <i>Entonces <strong>dijo David a Nathán: Pequé contra Jehová.</strong> Y
            Nathán dijo
            a David<strong>:</strong> También <strong>Jehová ha remitido tu pecado:</strong> no morirás.</i> 14
            <i><strong>Mas
                por cuanto con este negocio hiciste blasfemar a los enemigos de Jehová, el hijo que te ha nacido morirá
                ciertamente</strong></i>.<strong>"</strong> (II Sam 12<strong>:</strong>9-14 abreviado)</p>
        <p> Como vimos<strong>,</strong> el arrepentimiento de David fue sincero<strong>,</strong> y Dios le perdonó las
            consecuencias eternas de sus pecados<strong>,</strong> pero las consecuencias terrenales las tuvo que sufrir
            hasta
            el día de su muerte.</p>
        <p><strong>Otro caso similar el es del rey Roboam y su corte,</strong> que aunque se arrepintieron de sus
            pecados<strong>,</strong> Dios los sometió a Sisac rey de Egipto. Aquí se ve que el rey Roboam y el pueblo
            de Judá
            se arrepintieron de sus pecados<strong>,</strong> y por eso <strong>Dios les disminuyó mucho el castigo,
                pero no se
                los quitó del todo</strong>.</p>
        <p><strong>"</strong><i>Y <strong>como vio Jehová que se habían humillado,</strong> fue palabra de Jehová a
            Semeías<strong>,</strong> diciendo<strong>:</strong> <strong>Se han humillado; no los destruiré;</strong>
            antes los
            salvaré en breve<strong>,</strong> y no se derramará mi ira contra Jerusalem por mano de Sisac. <strong>Empero
                serán
                sus siervos;</strong> para que sepan qué es servirme a Mí<strong>,</strong> y servir a los reinos de las
            naciones</i>.<strong>"</strong> (II Cr 12<strong>:</strong>7-8)</p>
        <p><strong>El cristiano es muy dado a "aprender" del ejemplo del perdón de María Magdalena, pero nada quiere
            saber ni
            pensar del ejemplo del castigo de David y de Roboam.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    