---
import Layout from "../layout/Layout.astro";
---

<Layout title="Sin has terrestrial consequences even for God loved ones">
    <section>
<p><strong>Sin Has Terrestrial Consequences Even For God loved ones</strong></p>
<p><strong>Disobeying God's commandments is a sin.</strong> It does not matter if we know his commandments or
    not<strong>.</strong> Our duty is to investigate through God's commandments<strong>.</strong> It is even a worse sin
    to know his commandments and tell Him that we do not feel like doing it<strong>.</strong> That was the sin of King
    David<strong>,</strong> and King Rehoboam and his court<strong>.</strong></p>
<p><strong>Sin has terrestrial and eternal consequences.</strong> If there is a true repentance<strong>,</strong> the
    eternal consequences are removed thank to the redeeming sacrifice of Jesus Christ on the cross<strong>.</strong>
    <strong>As for the terrestrial consequences, are not always removed even if we sincerely repent.</strong></p>
<p>The case of David's adultery is well known<strong>.</strong> Although he <strong>sincerely repented,</strong> the
    terrestrial consequences of his sin followed him until the day of his death<strong>.</strong> In this passage we see
    the sincere repentance and confession of David<strong>,</strong> although<strong>,</strong> it did not detain his
    terrestrial punishment<strong>.</strong> Do not set your hopes up those that want to play <strong>"</strong>sin and
    repent<strong>";</strong> even if it is a sincere repentance<strong>,</strong> you will suffer the consequences of
    your sin<strong>,</strong> even if you believe yourself better than David<strong>.</strong></p>
<p></p>
<p><strong>"</strong>9 <i>Wherefore <strong>hast thou despised the commandment of the LORD,</strong> to do evil in his
    sight<strong>?</strong> Thou hast killed Uriah the Hittite with the sword<strong>,</strong> and hast taken his wife
    to be thy wife<strong>,</strong> and hast slain him with the sword of the children of Ammon<strong>.</strong></i> 10
    <i>Now <strong>therefore the sword shall never depart from thine house; because thou hast despised me, and hast
        taken the wife of Uriah the Hittite to be thy wife</strong>…</i> 13 <i>And <strong>David said unto Nathan, I
        have sinned against the LORD.</strong> And Nathan said unto David<strong>:</strong> <strong>The LORD also hath
        put away thy sin;</strong> thou shalt not die<strong>.</strong></i> 14 <i>Howbeit<strong>,</strong> <strong>because
        by this deed thou hast given great occasion to the enemies of the LORD to blaspheme, the child also that is born
        unto thee shall surely die.</strong></i><strong>"</strong> (II Sam 12<strong>:</strong>9-14 abbreviated)</p>
<p> As we see<strong>,</strong> David's repentance was sincere and God forgave the eternal consequences of his
    sins<strong>,</strong> but he had to suffer the terrestrial consequences until the day of his
    death<strong>.</strong></p>
<p><strong>A similar case is that of King Rehoboam and his court,</strong> even though they repented of their
    sins<strong>,</strong> God submitted them to Shishak King of Egypt<strong>.</strong> Here we can see that King
    Rehoboam and the people of Judea repented of their sins<strong>,</strong> and for that <strong>God largely reduced
        their punishment, but did not completely remove it.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>And <strong>when the LORD saw that they humbled themselves,</strong> the word of the LORD came
    to Shemaiah<strong>,</strong> saying<strong>:</strong> <strong>They have humbled themselves; therefore I will not
        destroy them,</strong> but I will grant them some deliverance<strong>;</strong> and my wrath shall not be poured
    out upon Jerusalem by the hand of Shishak<strong>.</strong> Nevertheless <strong>they shall be his
        servants;</strong> that they may know my service<strong>,</strong> and the service of the kingdoms of the
    countries</i><strong>."</strong> (II Chr 12<strong>:</strong>7-8)</p>
<p><strong>Christians are quick to "learn" of the example of the forgiveness of Mary Magdalene, but do not even want to
    think about the example of the punishment of David and Rehoboam.</strong></p>
<p><strong><a href="biblenotes.html">Return to Index</a></strong></p>

    </section>
</Layout>
    