<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Convivencia Patriarcal</title>
</head>
<body>
<p>Tiempo que nuestros primeros padres vivieron unos con otros</p>
<p> Hay magnitudes, ideas y conceptos de los cuales uno no puede darse perfecta cuenta debido a la forma abstracta en
  que se presentan. Una de esas magnitudes abstractas de difícil concepción es el tiempo. Por eso, para podernos
  expresar mejor, convertimos en algo concreto y tangible ciertos conceptos, ideas y magnitudes, como lo hacemos en una
  gráfica. Ese es el motivo por el cual en esta nota bíblica incluyo al final una gráfica en la que represento el tiempo
  por medio de líneas verticales. El tiempo lo cuento en años a partir de</p>
<p> la Creación, poniendo una línea vertical cada cien años.</p>
<p> El tiempo que vivió cada uno de los primeros 22 patriarcas lo represento por medio de una barra o franja horizontal.
  El borde izquierdo de la barra se halla en el año que nació ese patriarca, y el borde derecho en el año de su muerte.
  Dentro de la barra, en el centro, se halla el nombre del patriarca; en el extremo izquierdo hay un número que
  representa su generación; en el extremo derecho hay un número que indica los años vividos por el patriarca allí
  representado.</p>
<p> De esta manera, con sólo una ojeada, uno puede darse cuenta de cuánto vivió cada uno, y durante cuánto tiempo
  compartieron sus vidas. Todos estos datos aquí usados los pueden ustedes comprobar leyendo y analizando los siguientes
  pasajes del Génesis: 5: 1-32; 9: 29; 11: 10-26; 21: 5; 25: 7 & 26; y 47: 28.</p>
<p> Si analizamos la gráfica del tiempo que vivieron nuestros primeros padres unos con otros, descubriremos cosas
  notables. Veamos.</p>
<p> a) Cualquiera de nuestros siete primeros padres coexistió con Adam más de cuatro siglos, exceptuando a Henoch, que
  convivió con él toda su vida, hasta que se lo llevó Dios.</p>
<p> Todos ellos tuvieron tiempo más que suficiente para hablar extensamente con nuestro primer padre Adam, el cual les
  contaría todo lo que sabía sobre la Creación, su caída en el pecado, lo que Dios hizo y dijo, las costumbres
  correctas, las leyes a seguir, etc., como haría cualquier buen padre con sus hijos y nietos. En resumen, lo que hoy
  nosotros conocemos gracias al Génesis, y mucho más que eso, lo conocían ellos de primera mano.</p>
<p> b) Incluso los patriarcas antediluvianos posteriores a estos siete, pero que murieron antes del Diluvio, vivieron
  con Adam más años que los que muchos de los que están leyendo estas líneas, han vivido hasta el presente.</p>
<p> El viejo Matusalem coexistió con su antepasado Adam y seguramente con nuestra primera madre Eva, 243 años. Esto
  significa casi dos siglos y medio oyendo las historias de la Creación y de los acontecimientos ocurridos antes de su
  nacimiento, de la propia boca de Adam y Eva. Matusalem pudo conocer perfectamente bien todo lo relativo a los eventos,
  costumbres leyes, promesas, profecías, etc., que ya sabían sus antecesores.</p>
<p> Lamech, el padre de Noé coexistió con Adam durante 56 años. Es lógico pensar que tuvieran sus fiestas y días de
  reunión. Todos escucharían atentamente a Adam y a Eva; todos seguirían comentando lo oído con sus hijos, nietos,
  biznietos, tataranietos, etc., durante siglos. Estas cosas se fijarían fuertemente en memoria de todos. Así pasó toda
  la historia hasta Moisés.</p>
<p> c) Noé, que fue uno de los ocho que pudieron pasar la historia del mundo a través del Diluvio y de la destrucción
  del género humano, convivió 84 años con Enós, nieto de Adam, que estaba empapado de la historia por su abuelo, con el
  cual convivió a su vez casi siete siglos. En 84 años tuvo Noé tiempo de aprender todo lo que sabía Enós el nieto de
  Adam y Eva.</p>
<p> Noé convivió con su tatarabuelo Jared durante 366 años; y éste con Adam y Eva durante 470 años. Tuvo Jared tiempo
  más que de sobra para informarse con Adam y Eva e informar a Noé.</p>
<p> Quiero decir con todo esto que los patriarcas que nos legaron la historia de la Creación era gente bien informada,
  que conocían los sucesos de primera o segunda mano.</p>
<p> Noé coexistió con diez generaciones de sus descendientes. Efectivamente, Sem, Arfaxad, Sala, Heber, Peleg, Reu,
  Serug, Nachor, Thare y Abraham, quienes eran respectivamente hijo, nieto, biznieto, tataranieto, etc., coexistieron
  con Noé. El que más coexistió con Noé fue Sem, que compartió con Noé 450 años; el que menos compartió fue Abraham, que
  compartió 60 años.</p>
<p> En resumen, los patriarcas que nos pasaron la historia era gente bien informada, que sabían todas las cosas de
  primera o segunda mano.</p>
<p> d) Sem, que fue uno de los que salvó la historia a través de aquella hecatombe acuática, convivió con Matusalem
  durante un siglo: y Matusalem convivió con Adam 243 años. Sem podía saber la historia de segunda mano. Esto sin contar
  que todos los otros muchos descendientes que convivieron con Adam larguísimos años, también la confirmarían a sus
  sucesores y estos a los suyo, al igual que unos a otros. Quiero decir con esto que no se podía tergiversar la
  historia, pues había muchos testigos. Recuerden que solamente se mencionan los primogénitos, pero había muchísimos
  hermanos y hermanas de éstos, que también habían escuchado y sabían todo, los cuales también eran testigos.</p>
<p> e) Sem vivió más que todos sus descendientes hasta la novena generación. Eso significa que Arfaxad, Dala, Heber,
  Peleg, Reu, Serug, Nachor, Thare y Abraham, que eran descendientes directos de Sem, o sea, hijo, nieto, biznieto,
  etc., murieron antes que su antecesor Sem. Él vivió 600 años, mientras que de sus descendientes, el que más vivió fue
  Heber, con 464 años. Exceptuando a este último, que murió sólo 29 años después que su bisabuelo Sem, a todos sus otros
  descendientes, incluyendo a Abraham, los vio morir Sem.</p>
<p> Este hijo de Noé, que pudo haber hablado con Matusalem durante un siglo, convivió con Abraham toda la vida de este
  patriarca. Pudo trasmitirle pues, todo lo que sabía. El mismo Sem era un testimonio histórico vivo para todo el que
  quisiera molestarse en ir a visitarlo, especialmente, durante la época de Abraham, Isaac y Jacob.</p>
<p> De los 180 años que vivió Isaac, 110 de ellos los coexistió con Sem. Incluso Jacob ya tenía 50 años cuando murió
  Sem, el cual había convivido un siglo con Matusalem, quien a su vez había convivido 243 años con Adam.</p>
<p> Tal vez por eso Jacob, cuando descendió a Egipto y se entrevistó con Faraón, dijo con tristeza:</p>
<p></p>
<p> "<i>Y Jacob respondió a Faraón: Los días de los años de mi</i></p>
<p><i> peregrinación son ciento treinta años;</i> <i>pocos y malos</i> <i>han sido</i></p>
<p><i> los días de los años de mi vida, y no han llegado a los días</i></p>
<p><i> de los años de la vida de mis padres en los días de su</i></p>
<p><i> peregrinación</i>." ( Gn 47: 9 )</p>
<p></p>
<p> Es comprensible la actitud de Jacob, porque él vio a Sem, Sala y Heber durar muchísimo.</p>
<p> f) Los únicos dos patriarcas ( primogénitos se entiende ), que vivían aún durante el período comprendido entre el
  anuncio del Diluvio y su comienzo, fueron Matusalem y Lamech. Ninguno de ellos murió ahogado. Matusalem, que fue él
  que más vivió, murió el mismo año que comenzó el Diluvio; y Lamech había muerto poco antes que Matusalem.</p>
<p> Ahora bien, fíjense que en este trabajo solamente he tenido en cuenta los descendientes de Sem, que son aquellos
  cuyas edades están registradas en la Biblia. Sin embargo, si tenemos en cuenta que los descendientes de Cam y Jafet
  también vivieron largamente y pasaron la historia a sus descendientes, veremos que el conocimiento de Dios, las
  promesas, las leyes, las profecías, etc., pasaron en aquella época a todas las gentes, a todas las naciones del mundo,
  todos sabían lo que era bueno y lo que era malo. Por eso vemos en Gn 12: 18 y 20: 9 cómo Faraón y Abimelech
  respectivamente, tenían conocimiento de Dios y de lo que era pecado. Otro tanto puede decirse de Job y sus amigos, los
  cuales vivieron mucho antes que Moisés. Recuerden que los egipcios, Faraón en este caso, no eran descendientes de Sem,
  sino de Cam, y a pesar de eso ellos sabían lo que eran las leyes de Dios. Con los siglos, las naciones fueron echando
  a un lado las leyes de Dios, hasta el punto que las nuevas generaciones las ignoraban completamente. Analicemos ahora
  las gráficas.</p>
<p><img width="624" height="473" src="ConvivenciaPatriarcal_files/image001.jpg" alt="image001"></p>
<p><a href="NotasBiblicas.html">Volver al índice</a></p>
</body>
</html>