
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Creyentes mal y ateos bien</title>
</head>
<body>
<p><strong>Creyentes mal y ateos bien</strong></p>
<p> En la vida vemos continuamente que como dice Ecc 8: 14, hay personas que hacen grandes maldades y continúan
  viviendo, al parecer muy felices; mientras que hay creyentes que nos lucen piadosos, los cuales padecen y sufren. Hay
  dos explicaciones para esto: <strong>a)</strong> si Dios ejecutara al que hiciera mal, nadie se atrevería a hacer mal,
  pero seguiría con malos sentimientos por dentro; <strong>b)</strong> tanto los pro-Dios como los anti-Dios hacen
  buenas obras y pecados, y ambas cosas hay que retribuirlas. Expliquemos. <strong>De lo que dice Ecc 8: 14 y de la
    observación de la vida diaria</strong> podemos percatarnos de que hay personas que a pesar de ser amadores de Dios,
  les ocurren cosas que, a nuestro juicio, debían ocurrirle a los enemigos de Dios, y viceversa. Igual idea se encuentra
  en el Salmos 17: 13-14, en 73: 2- 5 y 12-14. Leámoslos.</p>
<p></p>
<p> "<i>Hay vanidad que se hace sobre la tierra: que <strong>hay justos</strong></i></p>
<p><strong>a quienes sucede como si hicieran</strong> <strong>obras de impíos; y hay</strong></p>
<p><strong>impíos</strong> <strong>a quienes acaece como si hicieran obras de justos</strong><i>.</i></p>
<p><i>Digo que</i> <i>esto también es vanidad</i>." ( Ecc 8: 14)</p>
<p></p>
<p> "<i>Levántate, oh Jehová; prevén su encuentro, póstrale.</i></p>
<p><i>Libra mi alma del malo con tu espada;</i> <i>de los hombres con</i></p>
<p><i>tu mano, oh Jehová, <strong>de los hombres de mundo</strong>, cuya parte</i></p>
<p><i>es en esta vida,</i> <i>y <strong>cuyo vientre hinches de tu tesoro: hartan</strong></i></p>
<p><strong>sus hijos, y dejan el resto a sus chiquitos</strong>." ( Sal 17: 13-14 )</p>
<p></p>
<p> "<i>Mas yo, casi se deslizaron mis pies; por poco resbalaron</i></p>
<p><i>mis pasos. Porque tuve envidia</i> <i>de los insensatos, <strong>viendo la</strong></i></p>
<p><strong>prosperidad de los impíos</strong><i>. Porque <strong>no hay ataduras para su</strong></i> <strong>
  muerte</strong><i>; antes su fortaleza está entera. <strong>No están ellos en el</strong></i></p>
<p><strong>trabajo humano; ni son azotados</strong> <strong>con los otros hombres</strong>." ( Sal 73: 2-5 )</p>
<p></p>
<p> "<i>He aquí estos impíos, <strong>sin ser turbados del mundo,</strong></i></p>
<p><strong>alcanzaron riquezas</strong><i>. Verdaderamente</i> <i>en vano he limpiado</i></p>
<p><i>mi corazón, y lavado mis manos en inocencia; pues <strong>he sido</strong></i></p>
<p><strong>azotado</strong> <strong>todo el día, y empezaba mi castigo por las mañanas</strong>." </p>
<p> ( Sal 73: 12-14 )</p>
<p></p>
<p> Esto acontece, a mi parecer, por diferentes razones:</p>
<p><strong>Primero, ni el anti-Dios hace todo lo que es negativo ni el pro-Dios hace todo lo que es positivo.</strong>
  Los pro-Dios hacen muchas cosas malas. Igualmente, todo lo que hacen los anti-Dios no es negativo, a veces hacen
  algunas cosas buenas. <strong>Dios es justo, no deja de castigar lo mal hecho ni deja de premiar lo bien
    hecho</strong>, o sea, las buenas obras que van más allá de la obligación del ser humano. <strong>Este premio y este
    castigo tiene dos fases:</strong> la física y la eterna; o si se quiere, la terrenal o temporal (de esta vida), y la
  espiritual o eterna (de la otra vida). Este concepto es algo que lo dicta la observación y además lo dice la Biblia.
  Cuando el caso de David y su adulterio ( II Sam 12: 13 ), vemos que <strong>Dios perdonó las consecuencias
    eternas</strong> del pecado del rey cuando dijo ".....Dios ha remitido tu pecado........", <strong>pero le mantuvo
    encima las consecuencias terrenales</strong> de su acción, anunciadas en II Sam 12: 10-11 y 14, todo lo cual vemos
  que aconteció a David después. Igual conclusión sacaremos a poco que observemos la vida a nuestro alrededor. <strong>Un
    hombre asesina</strong> a otro, y por ello, como todos sabemos, se hace acreedor a la condenación eterna; pero
  además de ello lo más probable es que sufra las consecuencias terrenales de su acción: que vaya a la cárcel, se busque
  el odio de los familiares y amigos del muerto (que intentarán vengarse ), o se escapa y vive perseguido, etc..
  <strong>Un ladrón</strong> tiene la consecuencia eterna de su pecado además de la terrenal: despreciado, perseguido,
  odiado, en la cárcel, golpeado, chantajeado, etc.. <strong>Otro tanto le sucederá a un adúltero;</strong> además del
  infierno, le espera el odio del marido y hasta la agresión. <strong>Al fornicario</strong> le espera el infierno para
  castigo eterno, y las enfermedades venéreas para castigo terrenal, etc.. No es necesario poner más ejemplos para
  demostrar que <strong>el castigo del pecado tiene dos fases:</strong> la espiritual o eterna, y la física, temporal, o
  más bien, terrenal. Y recuerden, <strong>Dios es justo: no deja de premiar lo bien hecho ni de castigar lo mal
    hecho.</strong> <strong>Ahora bien, después de esta vida es que viene la principal aplicación de esto. Los
    pro-Dios</strong> vivirán eternamente y no experimentarán más pesares. ¿Dónde, pues, se les puede pagar lo malo que
  hicieron? Sólo en esta vida. Dios no permitirá que sus cuentas, sus deudas, pasen más allá de la muerte. <strong>El
    pago de todo lo malo que ese cristiano hizo, hace y seguirá haciendo, lo va a recibir aquí.</strong> Por eso le
  acontecen al pro-Dios cosas como si hicieran obras de impíos; porque tienen que pagar por lo menos un cierto
  porcentaje de lo que hicieron. No creo que siempre se les exija el pago del 100%, depende de muchos factores. A veces
  son sólo las consecuencias naturales de las leyes quebrantadas, lo que sufren. <strong>Lo contrario sucede con los
    anti-Dios. Todas sus buenas obras,</strong> ( que por cien motivos diferentes algunos las hacen ), <strong>les
    tienen que ser pagadas aquí.</strong> Dios no permitirá que lo bueno que hizo no se le pague antes de su muerte;
  porque después de ella nada podrá dársele a él, y eso no sería justo. Por eso hay impíos a quienes acontece como si
  hicieran obras de justos. <strong>Hay impíos que obran en favor de lo que Dios desea,</strong> bien sea por una causa
  u otra, y Dios les retribuye aquí. Un ejemplo bíblico de eso está en Ezq 29: 17-20 en que Dios premia a Nabucodonosor
  por su tarea destruyendo a Tiro. Otro ejemplo bíblico es II R 10: 28-31, donde se ve cómo Dios premia a Jehú a pesar
  de que claramente expresa el contexto que no era precisamente un hombre pro-Dios.</p>
<p></p>
<p> "<i>Y aconteció en el año veinte y siete, en el mes primero,</i></p>
<p><i>al primero del mes, que fue</i> <i>a mí palabra de Jehová,</i></p>
<p><i>diciendo: Hijo del hombre, <strong>Nabucodonosor rey de Babilonia</strong></i> <strong> hizo a su ejército prestar
  grande servicio contra Tiro.</strong> <i>Toda</i></p>
<p><i>cabeza se encalveció, y se</i> <i>peló todo hombro; y ni para él ni</i></p>
<p><i>para su ejército hubo paga de Tiro, <strong>por el servicio que</strong></i> <strong>prestó</strong></p>
<p><strong>contra ella.</strong> <i>Por tanto, así ha dicho el Señor Jehová: <strong>He aquí</strong></i></p>
<p><strong>que yo doy a</strong> <strong>Nabucodonosor, rey de Babilonia, la tierra de</strong></p>
<p><strong>Egipto;</strong> <i>y él tomará su multitud, y cogerá</i> <i>sus despojos, y</i></p>
<p><i>arrebatará su presa, y habrá paga para su ejército. <strong>Por su</strong></i></p>
<p><strong>trabajo con</strong> <strong>que sirvió contra ella le he dado la tierra de</strong></p>
<p><strong>Egipto: porque trabajaron por mí, dice el</strong> <strong><i>Señor Jehová</i>.</strong>"</p>
<p> ( Ezq 29: 17-20 )</p>
<p></p>
<p> Como vimos en el pasaje anterior, Nabucodonosor prestó un servicio a Dios destruyendo a Tiro, pero como no hubo
  ganancias para él, Dios le otorga el honor de ser un gran conquistador, venciendo a Egipto y sacando de allí las
  ganancias que no obtuvo en Tiro. Algo parecido ocurrió con Jehú. Veamos.</p>
<p></p>
<p><strong>"<i>Así extinguió Jehú a Baal de Israel.</i></strong> <i>Con todo eso <strong>Jehú</strong></i></p>
<p><strong>no se apartó de los pecados</strong> <strong>de Jeroboam</strong> <i>hijo de Nabat, que</i></p>
<p><i>hizo pecar a Israel; a saber, de en pos de los becerros</i> <i>de oro</i></p>
<p><i>que estaban en Beth-el y en Dan. <strong>Y Jehová dijo a Jehú: Por</strong></i></p>
<p><strong>cuanto has hecho</strong> <strong>bien ejecutando lo recto delante de mis</strong></p>
<p><strong>ojos</strong><i>, e hiciste a la casa de Achab conforme a todo</i> <i>lo que</i></p>
<p><i>estaba en mi corazón, <strong>tus hijos se sentarán en el trono de</strong></i></p>
<p><strong>Israel hasta la cuarta</strong> <strong>generación. Mas Jehú no cuidó de</strong></p>
<p><strong>andar en la ley de Jehová Dios</strong> <i>de Israel con todo su</i> <i>corazón,</i></p>
<p><i>ni se apartó de los pecados de Jeroboam, el que había hecho</i></p>
<p><i> pecar a Israel</i>.<strong>"</strong> ( II R 10: 28-31 )</p>
<p></p>
<p> Como vimos en el pasaje anterior, a pesar de que Jehú no era un seguidor de Dios, a pesar incluso de que mantenía el
  culto de los becerros, Dios le premia su obra de haber acabado totalmente con el culto a Baal y haber raído la familia
  y descendencia de Achab. Es decir, que gracias a cierta obra que Jehú hizo, él recibe el beneficio de fundar su propia
  dinastía, para que cuatro generaciones de sus descendientes fueran reyes sobre Israel. He aquí a Jehú, un impío a
  quien acaece como si hiciera obras de justos. <strong>Otra razón para no castigar ni premiar inmediata y
    evidentemente,</strong> lo que hacen las criaturas, es que si Dios lo hiciera así, todos nos fingiríamos buenos por
  conveniencia e instinto de conservación. El que es malo y lo va a ser eternamente, puede actuar como pro-Dios por
  largas temporadas, aunque no eternamente. Esto añadiría confusión en muchas criaturas, que verían siendo destruido en
  el infierno una persona que actuó bien en la tierra. Además, ¿quién quiere tener los amigos que se le aparecerían a
  una persona que anuncie que inmediatamente todos sus enemigos serían despedidos de sus puestos, y a los amigos les
  darían un buen empleo con gran sueldo? Tampoco Dios desea los "siervos" o "adoradores" que obtendría si Él actuara
  así. Por eso, a mi modo de ver, no se castiga ni se premia inmediata y evidentemente lo malo o bueno que hacen las
  criaturas.</p>
<p></p>
<p> "<strong>Porque no se ejecuta luego sentencia sobre la mala obra,</strong></p>
<p><i>el corazón de los hijos</i> <i>de los hombres está en ellos lleno para</i></p>
<p><i>hacer mal</i>." ( Ecc 8: 11 )</p>
<p></p>
<p> Como que no se ejecuta inmediatamente la sentencia sobre la mala obra, por eso el ser humano sigue sus perversos
  sentimientos. <strong>Por eso es bueno que quede siempre la duda sobre si Dios castiga o no.</strong> Como que el ser
  humano elige creer lo que le gusta, lo que quisiera que fuera real, de esa manera, sólo creen en Jesús los que
  quisieran que Dios hubiera provisto un sistema de salvación sólo dependiente de Dios, un sistema para cambiar nuestros
  malos sentimientos. Por el contrario, no creerán los que no desean que Dios haya hecho tal cosa, sino que prefieren un
  sistema de salvación dependiente de sí mismos, pero sin tener que arrepentirse de sus malos sentimientos. <strong>No
    obstante, si bien es cierto que es muy raro el pago inmediato y evidente,</strong> hecho al que hace bien (o mal ),
  es mi personal experiencia a los 51 años, después de haber vivido intensamente una vida activa, pública y
  privadamente, y de haber observado los sucesos en que me tocó ser espectador unas veces y partícipe otras, que
  <strong>Dios jamás desampara a los suyos.</strong> (Esto lo escribí hace 22 años, cuando contaba sólo 51 años de edad.
  ). Los castiga, los reprende para que rectifiquen etc., pero después que la persona paga el por ciento que se le exige
  de lo que hizo, después que la persona rectifica su proceder y consolida su fe, aquellas cosas malas que sufría cesan
  en forma realmente impresionante y le suceden las cosas buenas. <strong>Otra razón para ver que hay prosperidad y
    triunfo en la vida de los anti Dios,</strong> es que éstos se esfuerzan por alcanzar sus metas, y usan para ello
  todos los medios. Si una persona pone ladrillos, levanta una pared; no importa si la persona es buena o mala, la pared
  se levanta. ¿Por qué? Porque el mundo está constituido sobre leyes o fundamentos que Dios estableció y que son
  inmutables, salvo excepciones muy contadas, contadísimas, en las que se realiza un milagro. <strong>Es lo mismo que si
    estando en una altura se caen dos personas, un mala y otra buena</strong>, ambas van a caer para abajo, el bueno no
  se queda flotando en el aire ni cae despacio. ¿Por qué? Porque si bien es cierto que es de sentirse que el bueno
  caiga, también es cierto que <strong>desde antes de él encaramarse, Dios había establecido su inmutable ley de
    gravedad.</strong> Si el bueno la desafió, o no la tuvo suficientemente en cuenta al ejecutar sus acciones, se cae,
  igual que el malo. <strong>Es altivez grande pretender que Dios suspenda el efecto de sus leyes</strong> en honor a
  nuestra estupidez, obsesión, arrogancia, descuido, falta de obediencia a las reglas preexistentes o incluso nuestro
  pecado. Hacer eso malcriaría al humano; lo acostumbraría a ser necio, descuidado, arrogante etc.. El que se esfuerza,
  tiene más probabilidades de llegar a su meta que el que no se esfuerza, no importa si son malos o buenos. Pues
  bien<strong>, si una persona, trabaja usando inteligentemente de las reglas establecidas,</strong> su trabajo va a
  adelantar. El que pone ladrillos levanta una pared. El que obtiene dinero por varías fuentes y lo acumula, se vuelve
  rico. Uno que no hace por obtener el dinero o no hace lo suficiente, no lo obtiene. Uno que para obtenerlo usa todos
  los medios, buenos y malos, va a obtener más dinero que el que usa sólo los buenos medios. Por lo tanto, por ley
  natural, el que es inescrupuloso en sus medios va a llegar más rápida y fácilmente a la meta, que el que no es
  inescrupuloso. <strong>El inescrupuloso va a llegar más fácilmente a su meta, pero no va a ser feliz en
    ella. </strong> Le lucirá feliz a mucha gente, porque lo ven en la meta y presumen que tiene que ser feliz; pero no
  lo será. Igualmente que las leyes físicas establecidas por Dios no pueden ser violadas por los malos ni por los
  buenos, sin sufrir las consecuencias, igual que de la altura caía el malo y el bueno, <strong>nadie que se aparte de
    lo establecido por Dios, para obtener una meta o para vivir una vida, será feliz en ella.</strong> Esa es también
  una ley; es una ley espiritual, pero es una ley al fin, y una ley inmutable. <strong>El pro-Dios o el anti-Dios pueden
    triunfar físicamente usando malos medios,</strong> pero no serán felices, sufrirán las consecuencias acarreadas por
  el quebrantamiento de leyes espirituales tan inmutables como las físicas. Leyes que no por no ser físicas dejan de
  existir. Leyes que no por no verlas el humano, dejan de hacer sentir su poder, como la gravedad. Leyes que no por no
  creer en ellas deja de sentirse su efecto. <strong>Un hombre que ignoraba la existencia de la ley de gravedad y otro
    que había oído hablar de ella, pero no la creía,</strong> se cayeron de una altura. Ambos sintieron sus efectos,
  aunque no se lo atribuyeron a la fuerza de gravedad; decían que lo que pasaba es que "se habían caído". Sus escasos
  raciocinios no les permitía vincular el conocimiento abstracto de la ley de gravedad, con las consecuencias de su
  quebrantamiento. Otro tanto hacen los humanos que no se sienten felices, incluyendo a los cristianos.<strong> No
    quieren admitir que es porque quebrantan leyes que ellos ignoran; o leyes que no quieren creer; o leyes que creen,
    pero que no quieren obedecer.</strong> Esto se aplica a los pro-Dios y a los anti-Dios. Si crees en, u obedeces a,
  la ley de gravedad sólo cuando te hallas en el aire, pero no cuando te hallas en el agua, no sufrirás una caída, pero
  podrás ahogarte, si no sabes nadar, o si te cansas de nadar, porque la fuerza de gravedad te atraerá hacia el fondo.
  <strong>Quien sólo parcialmente conoce, admite, obedece o aplica las inmutables leyes físicas y no físicas que Dios ha
    establecido en su creación, puede que no sufra ciertas inconveniencias o dolores, pero sufrirá otros</strong>. Puede
  que no se "caiga", pero pudiera "ahogarse". <strong>Si cuidamos con esmero el motor del carro, pero no las vestiduras
    ni la carrocería,</strong> el auto funcionará perfectamente, pero lucirá deteriorado. Si cuidamos los asientos y la
  carrocería, pero descuidamos el motor y las partes mecánicas, el auto lucirá como nuevo, pero no servirá para nada; no
  funcionará bien. Otro tanto ocurrirá si no nos tiramos de un quinto piso, pero tocamos un alambre de alta tensión; no
  nos romperemos los huesos, pero nos electrocutaremos. <strong>Lo mismo ocurre en la dimensión espiritual. Si
    quebrantamos unas leyes divinas y cumplimos otras, seremos infelices en ciertos asuntos y felices en otros.</strong>
  Si uno desafía la ley de gravedad tirándose de un quinto piso y otro la desafía tirándose del techo de un automóvil,
  las consecuencias variarán. Hay cierta tolerancia en el ser humano para poder quebrantar parcial y mesuradamente
  ciertas leyes físicas sin sufrir consecuencias, con tal de que no vaya más allá de cierto límite. Semejante tolerancia
  existe en relación a las leyes no-físicas que rigen nuestro mundo espiritual; pero <strong>no se puede ir más allá de
    ese cierto limite.</strong> <strong>Por esta misma falta de vinculación entre el conocimiento de haber transgredido
    leyes inmutables y el sufrir de las consecuencias,</strong> es por lo que oímos la necedad de muchos cristianos
  echándole la culpa de sus males a lo imponderable: "son pruebas hermano", o "son misterios hermano". En realidad no
  hay nada misterioso. Todo está muy claro: aunque no lo quieras reconocer, estás sufriendo las consecuencias naturales
  de tus transgresiones. <strong>No son pruebas; a nadie le interesa probarte;</strong> ya todo el mundo, <strong>menos
    tú</strong>, sabe que no sirves para nada. ¿Para qué probarte? ¿Crees que eres de la calidad de Job y que mereces
  que se te pruebe en la honrosa forma que a él se le probó? ¡Vamos! ¡No seas vanidoso!. <strong>No todo lo malo le
    tiene que ocurrir al anti-Dios ni todo lo bueno tiene que ocurrirle al pro-Dios. Depende de las leyes que cada uno
    quebrante. Si tiras piedras para arriba,</strong> no digas luego que Dios te rompió la cabeza; o que es un misterio
  el hecho de que te rompiste la cabeza; o que Dios te está probando rompiéndote la cabeza. La culpa fue tuya por ir
  contra lo que está dispuesto. Por el hecho de que no todas las piedras que uno lanza hacia arriba les caen encima al
  que las tira, son muchos los que se animan a tirarlas. Si ineluctablemente, cuanta piedra tirara uno hacia arriba le
  cayera en la cabeza, muy pocos lo harían. Entonces no sabríamos quiénes son los que son capaces de tirar piedras hacia
  arriba cuando están seguros de que no es a ellos, sino a otros, a quienes les va a caer encima. <strong>Dios sabe lo
    que hace. Todo lo tiene bajo control.</strong> Las leyes por Él establecidas permiten una tolerancia "X"; pero nadie
  puede ir más allá sin sufrir las consecuencias. La vida y las malas obras, funcionan, según he observado yo, <strong>como
    si uno se hallara debajo de un toldo horizontal sostenido por cuatro palos. </strong> A cada rato uno saca la mano
  de abajo del toldo y lanza una piedra chica o grande encima del toldo o palio; y no sucede nada. Vuelve a hacerlo
  muchas veces, y nada sucede. Pero cuando llega uno al límite de lo que puede aguantar el toldo o el más débil de los
  palos, al tirar la otra piedra, tal vez pequeña, se rompe todo aquel andamiaje; y todas aquellas piedras que nosotros
  habíamos tirado y que nos creíamos que pasarían impunemente, nos caen en la cabeza, sin faltar una. Otras veces nos
  cae solamente una parte de esas piedras y el resto queda sobre el toldo, y nosotros reparamos como podemos el palo que
  se partió, y podemos seguir con más o menos intranquilidad nuestra vida. Pero no nos atrevamos a seguir tirando
  piedrecitas, ni aún las más pequeñas; porque ya el andamiaje está deteriorado y las piedras que quedaron nos pueden al
  fin caer encima junto con las nuevas que hayamos tirado. <strong>Exactamente funciona nuestra vida respecto de
    nuestros pecados y malas acciones.</strong> Los vamos acumulando, en cierto lugar, por decirlo así, y en una época o
  momento dado, todo aquello, o parte, nos cae encima. Si logramos rehacernos, evitemos mucho el seguir pecando, porque
  puede que los pecados que nos tienen acumulados "allá arriba," cedan ante el peso de los nuevos que añadimos, y al fin
  todo nos caiga encima.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>