<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>El cristiano y el control de su carácter</title>
</head>
<body>
<p><strong>El cristiano y el control del carácter</strong></p>
<p><strong>Todo ser humano necesita aprender a controlar su carácter.</strong> Somos muchos los que tenemos defectos de
    carácter y no nos damos cuenta de ello<strong>.</strong> Esto es motivado<strong>,</strong> porque habiendo vivido
    toda nuestra vida en esa forma<strong>,</strong> nos parece que esa manifestación del carácter es lo natural<strong>.</strong>
    Son otros los que se dan cuenta de nuestras faltas<strong>,</strong> y nos las hacen saber<strong>.</strong> Pero no
    siempre admitimos los consejos o advertencias que nos dan<strong>.</strong> La mayoría de las veces es porque no
    creemos que lo que nos dicen sea cierto<strong>.</strong></p>
<p><strong>Es un caso perecido a convencer a un pez de que él está mojado.</strong> Toda su vida ha vivido dentro del
    agua<strong>,</strong> no conoce que cosa es lo seco<strong>.</strong> Sería algo así como tratar de que un pez
    entendiera lo que significa harina de trigo seca<strong>.</strong> Él siempre ha vivido mojado<strong>,</strong> no
    entiende qué le están diciendo<strong>.</strong></p>
<p> Así sucede cuando nuestros amigos (y aún nuestros enemigos) nos señalan defectos del carácter<strong>.</strong> A
    veces no los entendemos<strong>,</strong> porque toda nuestra vida hemos vivido con esos defectos<strong>;</strong>
    toda la vida hemos estado <strong>"</strong>mojados<strong>";</strong> no entendemos qué significa estar
    seco<strong>.</strong> Sin embargo<strong>,</strong> vale la pena que pongamos atención y tratemos de ver si lo que
    nos dicen es cierto<strong>.</strong></p>
<p> El rey Salomón<strong>,</strong> que aprendió mucho gracias a la sabiduría que le fue dada<strong>,</strong> y
    gracias a sus fracasos<strong>,</strong> exhorta a controlar el carácter<strong>.</strong> Veamos<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong><i>Mejor es el que tarde se aíra que el fuerte<strong>;</strong> y <strong>el que se enseñorea de
    su espíritu, que el que toma una ciudad</strong></i><strong>."</strong> (Prv 16<strong>:</strong>32)</p>
<p> Es verdad que es más difícil para el ser humano <strong>"</strong>asaltar y tomar<strong>"</strong> su propia
    personalidad<strong>,</strong> gobernándola como es debido<strong>,</strong> que asaltar y tomar una ciudad con la
    que guerrea<strong>.</strong> La soberbia<strong>,</strong> la lujuria<strong>,</strong> la gula<strong>,</strong>
    el odio<strong>,</strong> etc<strong>.,</strong> son buena prueba de ello<strong>:</strong> el humano no puede
    controlarlas<strong>,</strong> sin la ayuda de Dios<strong>.</strong> <strong>Son miles los reyes que han tomado
        ciudades, pocos los que han dominado su carácter.</strong></p>
<p> Una ciudad sin muros está expuesta continuamente a los ataques del enemigo<strong>.</strong> Igualmente un hombre
    cuyo espíritu no tiene rienda es fácilmente víctima de las tentaciones urdidas por sus enemigos espirituales<strong>.</strong>
    Por eso Salomón dice lo siguiente<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Como ciudad derribada y <strong>sin muro,</strong> es el hombre <strong>cuyo espíritu no tiene
    rienda</strong></i><strong>."</strong> (Prv 25<strong>:</strong>28)</p>
<p><strong>El carácter puede ser controlado.</strong> Una vez<strong>,</strong> hace muchos años un conocido mío logró
    salir de cierto país tiránico que no permite a sus ciudadanos salir libremente<strong>.</strong> Allí los derechos
    humanos no existen<strong>.</strong> Allí la policía le entra a palos a cualquier ciudadano<strong>,</strong>
    <strong>por cualquier motivo,</strong> sin que el ciudadano pueda acudir a ningún juez para su
    defensa<strong>.</strong></p>
<p> Estando dicho individuo hablando en un grupo<strong>,</strong> cuando ya había salido de su nación<strong>,</strong>
    hacía alarde de su incontrolable mal carácter<strong>.</strong> Decía que él no se le callaba a
    nadie<strong>,</strong> y le pegaba un bofetón a cualquiera<strong>.</strong> Se me ocurrió
    decirle<strong>:</strong> <strong>"</strong>Cuándo estabas en el país tuyo y te atropellaba la
    policía<strong>,</strong> <strong>¿</strong>tú te revirabas<strong>?"</strong> A lo cual contestó sin pensar lo que
    decía<strong>:</strong> <strong>"</strong>Tú estás loco<strong>,</strong> allí sí que la policía te entra a palos y
    patadas sin contemplaciones y vas para la cárcel sin juicio<strong>."</strong> <strong>Como vemos, el hombre de
        "carácter incontrolable" sabía cuándo controlar su carácter. Por lo visto, se puede controlar el
        carácter.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>