<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>¿Por qué Cristo no condenó ni absolvió a la adúltera?</title>
</head>
<body>
<p><strong>¿Por qué Cristo no condenó ni absolvió a la adúltera?</strong></p>
<p><strong>Cristo había recibido como única misión el salvarnos, realizar otra era pecado.</strong> Satanás sabía que
    Dios le había encomendado una sola misión a Su Unigénito<strong>.</strong> Sabía que Cristo no se podía apartar de
    esa misión<strong>,</strong> que si hubiera alterado esa misión<strong>,</strong> o si hubiera tomado sobre sus
    hombros alguna otra misión<strong>,</strong> hubiera fallado<strong>,</strong> hubiera pecado<strong>.</strong> Si
    hubiera pecado no hubiera podido salvarnos<strong>.</strong></p>
<p> Por eso varias veces Satanás le puso traspiés al Señor para hacerlo mezclarse en juicios<strong>,</strong> en
    política<strong>,</strong> etc<strong>.,</strong> como cuando trató de llevarlo a ser juez<strong>,</strong> o a ser
    verdugo<strong>,</strong> o a proclamarse rey<strong>,</strong> o a castigar a los que merecían
    castigo<strong>.</strong></p>
<p><strong>Por ser su misión solamente salvación, es que Jesús rechazaba ciertas "soluciones".</strong>
    <strong>¿</strong>Piensan ustedes que fue con su propia fuerza<strong>,</strong> poder y virtud que Elías hizo que
    descendiera fuego del cielo y quemara a aquellas dos compañías de soldados<strong>?</strong> <strong>¿</strong>Creen
    ustedes que aquello fue un <strong>"</strong>error<strong>"</strong> de Elías<strong>?</strong> (II R
    1<strong>:</strong>10-12)<strong>.</strong></p>
<p> Es evidente que el que le dio el poder a Elías para hacer aquel milagro fue Dios<strong>;</strong> y es evidente
    también que Dios estuvo de acuerdo con lo que estaba haciendo Elías<strong>,</strong> pues si no<strong>,</strong>
    no lo hubiera respaldado<strong>.</strong></p>
<p><strong>¿</strong>Creen ustedes que Cristo estaba en desacuerdo con Dios respecto a lo que hizo
    Elías<strong>?</strong> <strong>¡</strong>Claro que no<strong>!</strong> Cristo aprobaba lo mismo que Dios había
    aprobado<strong>.</strong> Por lo tanto<strong>,</strong> no fue un pecado de Elías hacer lo que
    hizo<strong>.</strong></p>
<p> Tampoco era un pecado en sí mismo el pretender los discípulos hacer lo que Elías había hecho
    previamente<strong>:</strong> hacer descender fuego para castigar los rebeldes<strong>.</strong> Eso fue lo que
    intentaron hacer Jacobo y Juan<strong>.</strong> Lo que era pecado era hacerlo como parte de la misión de
    Cristo<strong>.</strong> Por eso el Señor no les permitió hacerlo<strong>.</strong></p>
<p></p>
<p><strong> "</strong>52 <i>Y envió mensajeros delante de sí<strong>,</strong> los cuales fueron y entraron en una
    ciudad de los samaritanos<strong>,</strong> para prevenirle<strong>.</strong></i> 53 <i>Mas no le recibieron<strong>,</strong>
    porque era su traza de ir a Jerusalem<strong>.</strong></i> 54 <i>Y viendo esto sus discípulos Jacobo y Juan<strong>,</strong>
    dijeron<strong>:</strong> <strong>Señor, ¿quieres que mandemos que descienda fuego del cielo, y los consuma, como
        hizo Elías?</strong></i> 55 <i>Entonces volviéndose él<strong>,</strong> <strong>los reprendió,</strong>
    diciendo<strong>:</strong> <strong>Vosotros no sabéis de qué espíritu sois;</strong></i> 56 <strong>porque el Hijo
    del hombre no ha venido para perder las almas de los hombres, sino para salvarlas.</strong> <i>Y se fueron a otra
    aldea</i><strong>."</strong> (Lc 9<strong>:</strong>52-56)</p>
<p><strong>La única diferencia estribaba</strong> en que en este caso la misión de Cristo era muy diferente de la misión
    de Elías<strong>,</strong> era mucho más específica y requería diferentes métodos<strong>.</strong> No era la misión
    de Jesús<strong>,</strong> castigar<strong>,</strong> destruir<strong>,</strong> juzgar<strong>,</strong>
    etc<strong>.,</strong> sino salvar<strong>;</strong> y no iba nadie a sacarlo de su misión durante los 33 años que
    permanecería aquí<strong>.</strong></p>
<p> Por eso no quiso dar su voto (ni negarlo) para que castigaran a la adúltera<strong>;</strong> por eso no quiso
    juzgar el caso del hermano que no quería compartir la herencia<strong>;</strong> por eso tampoco quiso castigar
    aquella ciudad de samaritanos<strong>.</strong> Nada de eso era su misión en su Primera Venida<strong>,</strong> él
    no venía a nada de eso<strong>,</strong> y no quiso dejarse arrastrar a ello por otros<strong>;</strong> sea que
    esos otros actuaran de mala fe<strong>,</strong> como los fariseos<strong>,</strong> que eran agentes de
    Satanás<strong>,</strong> o de buena fe<strong>,</strong> como los apóstoles<strong>.</strong></p>
<p><strong>No es que Cristo desaprobara lo que Elías había hecho,</strong> puesto que aquello fue hecho con autoridad y
    poder de Dios<strong>.</strong> <strong>Tampoco estaba Cristo en contra del castigo al adulterio,</strong> puesto
    que éste fue establecido por su Padre Dios<strong>,</strong> y él no estaba llevándole la contraria ni pretendiendo
    ser <strong>"</strong>más bondadoso<strong>"</strong> que Dios<strong>.</strong> Es que<strong>,</strong>
    sencillamente<strong>,</strong> la misión que Dios le encomendara para aquel momento era otra<strong>,</strong>
    según vemos en Jn 3<strong>:</strong>17<strong>,</strong> <strong>y no quería él pecar apartándose de la misión
        encomendada, y acometiendo otra.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque <strong>no envió Dios a su Hijo al mundo, para que condene al mundo,</strong> mas para
    que el mundo sea salvo por él</i><strong>."</strong> (Jn 3<strong>:</strong>17)</p>
<p> No debe concluirse de casos como este<strong>,</strong> que Dios pensaba una cosa<strong>,</strong> mientras que
    Cristo<strong>,</strong> más <strong>"</strong>humano<strong>"</strong> y
    <strong>"</strong>generoso<strong>"</strong> le llevaban la contraria<strong>,</strong> o le enmendaba la
    plana<strong>. Al fin y al cabo Nuestro Señor Jesucristo está de acuerdo en enviar a los seres rebeldes al
        infierno,</strong> al igual que lo piensa Dios<strong>.</strong> Por consiguiente<strong>,</strong> cuando el
    Señor Jesucristo se opuso a que Juan y Jacobo hicieran descender fuego para castigar a aquellos rebeldes samaritanos<strong>,</strong>
    lo hizo porque no era esa su misión en ese momento<strong>,</strong> y aprobarlo hubiera sido
    pecar<strong>;</strong> no porque considerara que no lo merecían<strong>.</strong></p>
<p><strong>Tampoco ha de entenderse que Dios pensaba una cosa en época de Moisés</strong> y que cambió de opinión un par
    de milenios más tarde<strong>,</strong> para arreglar las cosas<strong>,</strong> hasta el punto de enviar a su
    Ungido a contradecir lo que antes Él aprobara<strong>.</strong></p>
<p> Jesucristo<strong>,</strong> y por ende también Dios<strong>,</strong> es el mismo ayer hoy y por los siglos<strong>,</strong>
    como dice Heb 13<strong>:</strong>8<strong>;</strong> no va Dios a pensar una cosa en época de Moisés y otra en
    época de San Pablo<strong>.</strong></p>
<p><strong>Por no ser esa su misión, Cristo no se prestó a hacer juicios.</strong> Es evidente que en Jn
    3<strong>:</strong>17 halla uno la explicación del porqué Cristo no se dejaba arrastrar a donde querían llevarlo los
    fariseos y otros<strong>.</strong> Ellos<strong>,</strong> <strong>incitados por Satanás, y sin saber por qué lo
        hacían, querían incitar a Cristo a juzgar o a condenar a alguien, para invalidar así su misión de
        salvación.</strong></p>
<p> Dios no le dio a Cristo en su Primera Venida<strong>,</strong> la misión de juzgar o condenar<strong>.</strong> Él
    no vino a condenar<strong>,</strong> sino a salvar<strong>.</strong> Si él hubiera condenado a
    alguien<strong>,</strong> se habría apartado de la misión de Dios<strong>,</strong> lo cual hubiera constituido un
    pecado<strong>.</strong> Por eso es que los fariseos y demás enemigos lo incitaban a que juzgara o condenara a
    alguien<strong>.</strong> Ellos no se daban cuenta de la guerra espiritual que estaba teniendo
    lugar<strong>,</strong> y en la que ellos participaban sin estar conscientes de ello<strong>,</strong> pero como que
    en realidad ellos no servían a Dios<strong>,</strong> el Diablo los utilizaba para tratar de llevar a Cristo a que
    juzgara o condenara a alguien<strong>,</strong> y así arruinar su misión salvadora con el pecado<strong>.</strong>
</p>
<p> Por eso Cristo no condenó a la adúltera de Jn 8<strong>:</strong>3-11<strong>.</strong> No es que Cristo abrogara
    las leyes de Dios<strong>,</strong> pero tampoco quiso erigirse en juez para aplicarlas<strong>,</strong> porque
    como vimos en Jn 3<strong>:</strong>17<strong>,</strong> <strong>no era esa su misión.</strong> Para juzgar los
    delitos ya Dios había puesto reyes<strong>,</strong> gobernadores y jueces<strong>.</strong> No iba Jesús a usurpar
    sus funciones<strong>.</strong> Por eso ni condenó ni absolvió a la adúltera<strong>,</strong> sino
    que<strong>,</strong> después que vio que nadie la había condenado<strong>,</strong> le dijo
    simplemente<strong>:</strong> vete y no peques más<strong>.</strong></p>
<p><strong>Por eso tampoco se metió en el litigio que por la herencia,</strong> tenía en Lc 12<strong>:</strong>13-14
    uno de sus oyentes<strong>,</strong> a quien su hermano lo había estafado<strong>.</strong> No es que Jesús pensara
    que no debía haber leyes contra la estafa<strong>.</strong> Ni tampoco abolió por eso las leyes contra la
    estafa<strong>.</strong> No es que Jesús hubiera abolido todas esas leyes<strong>;</strong> es que su misión era de
    salvación<strong>,</strong> no de condenación<strong>,</strong> ni de legislación<strong>;</strong> él venía como
    salvador<strong>,</strong> no como juez ni como legislador<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Le dijo uno de la multitud<strong>:</strong> <strong>Maestro, di a mi hermano que parta conmigo
    la herencia.</strong> Mas él le dijo<strong>:</strong> Hombre<strong>,</strong> <strong>¿</strong>quién me ha puesto
    sobre vosotros como juez o partidor</i><strong>?"</strong> (Lc 12<strong>:</strong>13-14)</p>
<p> No estaba Cristo<strong>,</strong> por no meterse en este problema entre hermanos<strong>,</strong> <strong>aboliendo
    las leyes de la herencia,</strong> ni el castigo de los tramposos<strong>,</strong> ni el derecho de cada heredero a
    reclamar su parte<strong>.</strong> <strong>Tampoco estaba el Señor aprobando el adulterio, o aboliendo las leyes de
        Dios sobre el adulterio,</strong> por el hecho de no meterse a condenar a la adúltera<strong>.</strong> Es que
    él sabía que detrás de todo eso estaba la mano de Satanás tratando de apartarlo de la única misión a él encomendada
    por Dios<strong>,</strong> para así echar a perder su obra redentora<strong>,</strong> y perderlo también a
    él<strong>.</strong></p>
<p> Si Cristo se hubiera metido a resolver litigios<strong>,</strong> no sólo hubiera faltado a la misión a él
    encomendada<strong>,</strong> sino que además le hubiera venido encima miles de litigantes que le hubieran hecho
    materialmente imposible su misión<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>