
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Haggeo profetizó sobre Cristo, el Deseado, no sobre las riquezas.</title>
</head>
<body>
<p><strong>TRADUCTORES ECUMÉNICOS: VENDRÁ EL DESEADO, QUE ES CRISTO, NO LAS RIQUEZAS.</strong></p>
<p> Este pasaje del Antiguo Testamento ( Hg 2: 6-9 ) es <strong>una prueba irrefutable de que Jesucristo es el
  Mesías</strong> que tan largamente habían esperado los hebreos. Sin embargo, de un tiempo a esta parte han aparecido
  una gran cantidad de "sabios lingüistas" con muy sospechosas ínfulas de traductores "sinceros" y "objetivos", que
  dicen que la palabra "Deseado", que se refiere a Cristo, y la cual <strong>apareció por siglos en nuestras
    traducciones</strong>, es incorrecta; y que en su lugar debe aparecer la palabra "riquezas". Es decir, que en este
  pasaje en vez de decir "<i>el Deseado de todas las gentes</i>" debe decir "<i>las riquezas de todas las gentes</i>".
  La misión de estos "Scholars" es cambiar en la Biblia algunas palabras claves, con el objeto de hacer una versión
  bíblica que le venga bien a musulmanes, judíos, budistas, etc.. Ahora resulta que estos traductores y profesores de
  seminarios han descubierto de pronto que los traductores de la Biblia de los siglos pasados, eran unos ignorantes que
  no sabían los idiomas hebreo y griego tan "científicamente" como ellos. Ahora resulta que según ellos, Haggeo no
  profetizó que al Segundo Templo iba a venir Cristo, "el Deseado de todas las gentes", que es lo que siempre ha dicho
  el pasaje base, sino que ahora dicen que Haggeo dijo que lo que iba a venir a ese Segundo Templo serían "las riquezas
  de todas las gentes." <strong>Se ve que quieren anular una profecía que demuestra fehacientemente que Jesucristo es el
    Mesías.</strong> Lo más triste es que hay profesores y traductores "cristianos" que apoyan este intento. Como es
  natural, no podían faltar los ruselistas, que también tuercen este pasaje. Veamos qué dice el pasaje.</p>
<p> "<i>Porque así dice Jehová de los ejércitos: De aquí a poco aun <strong>haré yo</strong></i> <strong> temblar los
  cielos y la tierra,</strong> <i>y la mar y la seca; y haré temblar a todas</i> <i> las gentes, y <strong>vendrá el
  Deseado de todas las gentes; y henchiré esta casa de</strong></i> <strong> gloria,</strong> <i>ha dicho Jehová de los
  ejércitos. <strong>Mía es la plata, y mío el oro</strong>, dice</i> <i> Jehová de los ejércitos. <strong>La gloria de
  aquesta casa postrera será mayor que</strong></i> <strong> la de la primera,</strong> <i>ha dicho Jehová de los
  ejércitos; y daré paz en este lugar,</i> <i> dice Jehová de los ejércitos</i>." ( Hag 2: 6-9 )</p>
<p> Aún una persona que no sepa ni hebreo ni griego puede probar que esta "moderna" traducción es errada, aunque esté
  respaldada por eruditos, seminarios y líderes religiosos. Cualquiera se da cuenta de que <strong>esta moderna
    traducción, encabezada por los ruselistas, es un intento para quitarle a la profecía su fuerza mesiánica.</strong>
  Razonemos juntos.</p>
<p><strong>Primero</strong> que todo hay que razonar que <strong>"el Deseado" podía venir al Templo por sí mismo; pero
  "las riquezas" no podían venir por sí mismas, las tenían que traer</strong>. Parece que al que alteró la palabra
  "Deseado" se le olvidó cambiar también el verbo "venir" por el verbo "traer". Si efectivamente la palabra hebrea allí
  usada hubiera significado "las riquezas", el profeta hubiera usado el verbo "traer", no el verbo "venir".</p>
<p><strong>Segundo.</strong> Todo el que cree en Dios sabe que Sus profetas nunca se equivocan. Si Haggeo, que vivió
  antes del nacimiento Cristo, se refería a Jesús cuando dijo que el "Deseado" vendría al Templo, acertó con su
  profecía; porque efectivamente, Jesús vino al Templo, y con su venida, hinchió de gloria el Segundo Templo. Es decir,
  la gloria de aquesta casa postrera fue mayor que la de la primera, como había profetizado Haggeo. Sin embargo, si como
  quieren hacer ver ahora estos sospechosos "lingüistas" y profesores de seminarios, la profecía de Haggeo se refería a
  las riquezas de las gentes, entonces el profeta falló miserablemente; <strong>porque las "riquezas de las gentes" no
    fueron traídas, ni vinieron, ni hinchieron de gloria aquella casa, ni el mundo se conmovió por las riquezas del
    Templo.</strong> Es ridículo pensar que Dios iba a conmover los cielos porque las riquezas de las gentes entraran en
  el Templo aquel. Es evidente que la palabra "riquezas" no concuerda con el contexto. Fue el Imperio Romano el que se
  llevó las riquezas de todas las gentes de aquella época. El Templo fue destruido y jamás fueron traídas a ese Templo
  las riquezas de las gentes. Por tanto, <strong>si nos guiamos por esos sospechosos traductores y "expertos" en el
    idioma hebreo, tenemos que llegar a pensar que Haggeo falló, y también quien lo inspiró.</strong> Pero, <strong>si
    nos guiamos por los traductores anteriores al ecumenismo</strong>, los que siempre tradujeron "el Deseado",
  comprobamos que la profecía se cumplió, porque: <strong>a)</strong> <strong>vino</strong> el Mesías a ese Templo,
  <strong>b)</strong> <strong>el cielo y la Tierra se conmovieron</strong> con la Primera Venida de Cristo;
  <strong>c)</strong> con su venida <strong>se hinchió de gloria aquel Templo</strong> que se estaba construyendo en el
  momento de la profecía, y al cual se refería Haggeo, y <strong>d)</strong> mayor fue la gloria del Segundo Templo que
  la del primero, porque <strong>al Segundo Templo vino el Mesías</strong> y al primero no, aunque el primero tenía más
  riquezas. <strong>Y si no fue por la venida del Mesías al Segundo Templo, ¿en qué otra cosa fue la gloria del segundo
    mayor que la del primero? </strong> ¿Ven cómo alguien quiere alterar la traducción, y como hay interesados en
  hacérselo creer así a los cristianos? Es la confabulación de los enemigos de Cristo, que se infiltran dentro del
  cristianismo para destruirlo desde adentro, o al menos torcerlo. <strong>Con la persecución y la muerte de los
    cristianos, nunca pudo Satanás destruir al cristianismo; por lo tanto, se une a él para destruirlo poco a poco desde
    adentro, erosionándolo.</strong></p>
<p><strong>Tercero. </strong> Vemos también que si este pasaje se traduce con la palabra "Deseado" (como siempre se
  tradujo), concuerda con Malaquías 3:1, que anuncia lo mismo; pero traducido con la palabra "riquezas" no concuerda con
  ningún otro pasaje de la Biblia; resulta único e inconexo.</p>
<p> "<i>He aquí, yo envío mi mensajero, el cual preparará el camino delante de mí:</i> <i> y luego <strong>vendrá a su
  templo el Señor</strong> a quien vosotros buscáis, y el ángel del</i> <i> pacto, a quien deseáis vosotros. He aquí
  viene, ha dicho Jehová de los ejércitos</i>." ( Mlq 3:1 )</p>
<p> Siendo como fue el Segundo Templo, de menos importancia desde el punto de vista humano y con menos riquezas que el
  Primer Templo, solamente se le puede atribuir mayor gloria, como dice Haggeo, porque lo visitara "el Deseado de todas
  las gentes" ( Hag 2: 7 ) y "el Señor a quien vosotros buscáis", (Mlq 3:1). Por eso Dios dice en Hag 2: 8 "Mía es la
  plata, y mío el oro"; como diciendo: si quisiera llenar de oro y plata este Segundo Templo no me costaría trabajo
  alguno; pero no será así. Su mayor gloria consistirá en recibir dentro de él al Mesías, no en recibir más riquezas que
  el primero. Analicen para que vean lo absurdo de la "sabiduría" de estos sospechosos traductores, estos "expertos" del
  hebreo y el griego, y cuídense de ese tipo de "cristianos".</p>
<p><strong> Cuarto. El motivo de la fabricación de ese cuento de hadas</strong> que hacen correr entre los cristianos, (
  que desdichadamente muchos cristianos creen, incluyendo los editores de New American Standard ) <strong>es quitarle
    fuerzas a la profecía del Mesías</strong>. Ese cuento de hadas dice que el Segundo Templo fue construido por
  Herodes, o al menos que fue engrandecido por él, hasta el punto que lo hizo mayor y mejor que el de Salomón. Inventan
  primero este cuento de hadas sobre el mejor templo de Herodes, para poder luego "demostrar" que la profecía de Haggeo
  se refería a las riquezas y no a Cristo; y así poder lograr que la torsión de la profecía de Haggeo, concuerde con una
  inexistente "realidad". <strong>Es absurdo pensar que Herodes, un vasallo de Roma,</strong> un reyezuelo <strong>de
    tercera categoría</strong> que sólo gobernaba sobre <strong>una pequeña sección de Palestina,</strong> un reyezuelo
  que además <strong>tenía que enviar a Roma las recaudaciones,</strong> iba a poder gastar más en el Templo, y ponerle
  más riquezas, que un rey independiente como Salomón.<strong> Salomón poseía enormes riquezas personales,</strong> como
  podemos ver en II Cr 9: 20-22.<strong> </strong> Además <strong>gobernaba todo el territorio de Palestina</strong> y
  naciones aledañas, como puede verse en el versículo 26. También <strong>tenía varios reyes vasallos</strong> que le
  traían regalos, según nos dice el versículo 24. En su reino <strong>la plata era tan abundante como las
    piedras,</strong> de acuerdo a lo dicho en el versículo 27. Leamos ahora</p>
<p><i>"</i>20 <strong>Toda</strong> <strong>la vajilla del rey Salomón era de oro</strong><i>, <strong>y toda la vajilla
  de la casa</strong></i> <strong> del bosque del Líbano, de oro puro. En los días de Salomón la plata no era</strong>
  <strong> de estima.</strong> <i> </i> 21 <i>Porque la flota del rey iba a Tharsis con los siervos de Hiram, y cada</i>
  <i> tres años solían venir las naves de Tharsis, y <strong>traían oro, plata</strong>, marfil, simios,</i> <i> y
    pavos.</i> <i> </i> 22 <strong>Y excedió el rey Salomón a todos los reyes de la tierra en riqueza</strong> <i>y
    en</i> <i> sabiduría. </i> 23 <i>Y todos los reyes de la tierra procuraban ver el rostro de</i> <i> Salomón, por oír
    su sabiduría, que Dios había puesto en su corazón;</i> 24 <strong>y <i>de</i></strong> <strong> éstos, cada uno
    traía su presente, vasos de plata, vasos de oro,</strong> <i>vestidos, armas,</i> <i> aromas, caballos y acémilas,
    todos los años. </i> 25 <i>Tuvo también Salomón cuatro</i> <i> mil caballerizas para los caballos y carros, y doce
    mil jinetes, los cuales puso</i> <i> en las ciudades de los carros, y con el rey en Jerusalem.</i> <i> </i> 26
  <strong>Y tuvo señorío sobre todos los reyes desde el río hasta la tierra de los</strong> <strong> Filisteos, y hasta
    el término de Egipto</strong><i>. </i> 27 <i>Y <strong>puso el rey plata en Jerusalem</strong></i> <strong> como
    piedras,</strong> <i>y cedros como los cabrahigos que nacen por las campiñas en</i> <i> abundancia</i>." ( II Cr 9:
  20-27 )</p>
<p> Además de las riquezas personales de Salomón y las riquezas de su reino, vemos en Primera de Crónicas 29: 1-8 , que
  su padre David destinó para el Templo enormes riquezas, consistentes en miles de talentos de oro, plata y otros
  diversos metales. Veamos.</p>
<p> "1 <i>Después <strong>dijo el rey David a toda la asamblea</strong>: A solo Salomón mi hijo ha elegido Dios; él es
  joven y tierno, y la obra grande; porque la casa no es para hombre, sino para Jehová Dios. </i> 2 <strong>Yo empero
  con todas mis fuerzas he preparado para la casa de mi Dios, oro para las cosas de oro, y plata para las cosas de
  plata,</strong> <i>y metal para las de metal, y hierro para las de hierro, y madera para las de madera, y piedras
  oniquinas, y <strong>piedras preciosas,</strong> y piedras negras, y piedras de diversos colores, y toda suerte de
  piedras preciosas, y <strong>piedras de mármol en abundancia.</strong></i> <i> </i> 3 <i>A más de esto, por cuanto
  tengo mi gusto en la casa de mi Dios, yo guardo en mi tesoro particular oro y plata que, además de todas las cosas que
  he aprestado para la casa del santuario, he dado para la casa de mi Dios; </i> 4 <i>a saber, <strong>tres mil talentos
  de oro, de oro de Ophir, y siete mil talentos de plata afinada</strong> para cubrir las paredes de las casas.</i> 5
  <i>Oro pues para las cosas de oro, y plata para las cosas de plata, y para toda la obra de manos de los oficiales. ¿Y
    quién quiere hacer hoy ofrenda a Jehová?</i> <i> </i> 6 <strong>Entonces los príncipes</strong> <i>de las familias,
    y los príncipes de las tribus de Israel, tribunos y centuriones, con los superintendentes de la hacienda del rey,
    <strong>ofrecieron de su voluntad;</strong></i> 7 <i>y <strong>dieron para el servicio de la casa de Dios cinco mil
    talentos de oro y diez mil sueldos, y diez mil talentos de plata,</strong> y dieciocho mil talentos de metal, y
    cinco mil talentos de hierro. </i> 8 <i>Y <strong>todo el que se halló con piedras preciosas, diolas para el tesoro
    de la casa de Jehová,</strong> en mano de Jehiel Gersonita</i>." ( I Cr 29: 1-8 )</p>
<p> Como vemos, David dejó enormes riquezas en oro, plata y piedras preciosas; además dejó grandes cantidades de bronce,
  hierro, madera de cedro y piedras de mármol. Dos grandes reyes proveyendo todo lo necesario para el Primer Templo,
  mientras que Herodes era uno solo, y no tenía la importancia, la riqueza, el poder y el territorio de David y Salomón.
  Después de conocer <strong>todos estos hechos históricos</strong>, ¿puede alguien convencernos de que un reyezuelo que
  tercera categoría, que estaba obligado a enviar a Roma las riquezas de la sección de Palestina que el gobernaba, iba a
  edificar un templo más rico y más grande que el de Salomón? <strong>Eso es sencillamente absurdo, ridículo,
    ilógico.</strong> ¿Por qué entonces <strong>se hacen y son aceptadas</strong> estas traducciones erradas? ¿Es esto
  ignorancia, estupidez o planes malévolos?</p>
<p><strong>Quinto. </strong> Además de todo eso, vemos en I Cr 28: 2-3, que <strong>Dios vetó a David</strong> para que
  no construyera el Primer Templo, <strong>porque David había derramado mucha sangre. </strong> No obstante, esas
  sangres por él derramadas fueron por lo general en guerras justas. Con todo y eso, Dios vetó a David para que no
  construyera el Templo. <strong>¿Puede alguien en su sano juicio creer que Dios vetó a David, pero a Herodes, asesino
    de niños y adultos, lo premió profetizando que él iba a construir un Templo más glorioso, más grande y mejor que el
    de Salomón? </strong> Eso es como decir que Adolfo Hitler fue bendecido por Dios otorgándole la honra y la gloria de
  construir un templo mejor, mayor y más glorioso que el de Salomón.</p>
<p> "<i>Y levantándose el rey David, puesto en pie dijo: Oídme, hermanos míos</i> <i> y pueblo mío. <strong>Yo tenía en
  propósito edificar una casa</strong>, para que en ella</i> <i> reposara el arca del pacto de Jehová, y para el estrado
  de los pies de nuestro</i> <i> Dios; y había ya aprestado todo para edificar. <strong>Mas Dios me dijo: Tú no</strong></i>
  <strong> edificarás casa a mi nombre: porque eres hombre de guerra, y has derramado</strong> <strong><i> mucha
    sangre</i>.</strong>" ( I Cr 28: 2-3 )</p>
<p> ¿Creen ustedes que Dios iba a basar la gloria del Segundo Templo en las riquezas y construcciones que hiciera un
  consumado asesino? ¿Va Dios a vetar a David, pero va a aprobar a Herodes, que además era edomita y no hebreo? ¡Yo no
  sé dónde tienen la cabeza los que publican este tipo de artículos en revistas cristianas, y los que le permiten
  publicarlos.</p>
<p><strong> Sexto. </strong> En Heb 12: 24 - 27, <strong>el Apóstol Pablo dice que esa profecía de Haggeo, se refiere a
  Cristo, dice él que quien conmovió el cielo y la tierra fue Cristo.</strong> Ahora resulta que, según los modernistas,
  los que traducían antes la Biblia no sabían bien el hebreo; que los que sí lo saben bien son estos sospechosos
  traductores que buscan el ecumenismo. Desgraciadamente hay muchos hermanos que son confundidos por estos "expertos" y
  les creen sus cuentos de hadas. <strong>Estos horribles errores se deben también a la falta de inspección y
    supervisión</strong> por parte tres grupos de personas: a) los encargados de ver lo que se publica, b) los editores
  de estas revistas, y c) en general los dirigentes de esas denominaciones. <strong> Un ejemplo de cómo se dejan engañar
    los hermanos por estos "traductores objetivos", se halla en el Manual del Maestro del Expositor Bíblico del 7 de
    Septiembre de 1986, páginas 72-73</strong>. En la clase correspondiente a ese domingo antes mencionado se le dice a
  los maestros que van a enseñar la clase de ese día, que lo que iba a entrar en el Segundo Templo era "la riqueza de
  las gentes", y no "el Deseado de las gentes". Triste error de escritores que debían leer más la Biblia, razonar mejor
  y tener más cuidado para no hacer errar a sus hermanos. Para poder torcer la Escritura a fin de que concuerde con su
  interpretación amañada, apelan en ese capítulo del Expositor, a hacer ver que eso de "conmover los Cielos y la
  Tierra", se refería a los trastornos políticos del Imperio Persa. Sin embargo, se constata la falsedad de este alegato
  en Hebreos 12: 24 - 26, donde el propio San Pablo interpreta que lo que iba a conmover los Cielos y la Tierra era la
  Venida del Mesías. Veamos.</p>
<p> "<i>Y a Jesús el Mediador del nuevo testamento, y a la sangre del</i> <i> esparcimiento que habla mejor que la de
  Abel. Mirad que no desechéis</i> <i> al que habla. Porque si aquellos no escaparon que desecharon al que hablaba</i>
  <i> en la tierra, mucho menos nosotros, si desecháramos al que habla de los cielos.</i> <i> La voz del cual entonces
    conmovió la tierra; mas ahora ha denunciado,</i> <i> diciendo: <strong>Aun una vez, y yo conmoveré no solamente la
    tierra, mas aun el cielo</strong>.</i> <i> Y esta palabra, Aun una vez, declara la mudanza de las cosas
    movibles,</i> <i> como de cosas que son firmes</i>." ( Heb 12: 24 - 27 )</p>
<p> Es decir que la <strong>profecía de Haggeo, es interpretada por Pablo como referente a Cristo, no como referente a
  las riquezas</strong>. Cuando él menciona el caso, lo hace usando las mismas palabras de la profecía de Haggeo, y
  diciendo que se refieren a Jesús. No sólo eso, sino que es ridículo pensar que los trastornos políticos del Imperio
  Persa iban a conmover los Cielos.</p>
<p><strong>Séptimo</strong>. Es del género tonto pensar que la palabra hebrea debe traducirse por "riquezas" y no por
  "el Deseado de todas las gentes", puesto que <strong>la profecía dice que se iban a conmover los Cielos y la
    Tierra.</strong> <strong>Sería absolutamente tonto pensar que los Cielos se iban a conmover porque las riquezas de
    las gentes fueran traídas al Segundo Templo</strong>. Sin embargo si en vez de "las riquezas", se traduce "el
  Deseado de todas las gentes", entonces adquiere sentido, porque la venida de Cristo conmovió hasta el Cielo. ¿Creerán
  esta gente que los que están en los Cielos se preocupan por el oro y la plata? Por lo tanto es evidente que la frase
  correcta es "el Deseado de las gentes", porque solamente la Primera Venida de Cristo pudo conmover los Cielos y la
  Tierra.</p>
<p> "<i>Porque así dice Jehová de los ejércitos: De aquí a poco aun <strong>haré yo</strong></i> <strong> temblar los
  cielos y la tierra,</strong> <i>y la mar y la seca; y haré temblar a todas</i> <i> las gentes, y <strong>vendrá el
  Deseado de todas las gentes; y henchiré esta casa de</strong></i> <strong> gloria,</strong> <i>ha dicho Jehová de los
  ejércitos.</i>" ( Hg 2: 6-7 )</p>
<p> Eso de querer hacer ver que "el Deseado de todas las gentes" no era Jesucristo, sino las riquezas de las naciones,
  no es más que una concesión que le hacen los protestantes y sus compañías publicadoras, al islamismo, al budismo, al
  judaísmo, etc., en pro del ecumenismo. Como que <strong>esta de Haggeo es una de las profecías que irrebatiblemente
    demuestra que Cristo es el Mesías, se desea quitarla de en medio para que no estorbe al ecumenismo.</strong> El
  traducir "las riquezas de las naciones" es un disparate, y además, destruye la profecía misma. Es mentira que las
  riquezas de las naciones fueran a parar al Segundo Templo; al contrario, fueron las riquezas del Segundo Templo las
  que fueron a parar a las naciones: a Roma, con Tito Flavio Vespaciano. Lo que le interesa a los comerciantes es el
  negocio. Por eso es que a muchas editoriales "cristianas" no les interesa la verdad de Dios, sino el dinero. Ellos
  publican cualquier cosa que les dé dinero, aunque no sea bíblicamente correcto. Una falsedad semejante a esta de
  cambiar la palabra "Deseado" por la palabra "riquezas", es lo que tratan de introducir los "modernos lingüistas"
  cuando se confabulan para enseñar en los seminarios que ellos infiltran, que la palabra "virgen" que aparece en Isaías
  7: 14 (he aquí que la virgen concebirá) debe traducirse por "mujer joven". Con eso tratan de desacreditar el
  nacimiento virginal de Cristo, y una profecía que demuestra que él es el Mesías. Ver nota a ese pasaje para que vean
  lo absurdo de esa innovación.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>
</body>
</html>