
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Jesucristo, Alejandro, César, Napoleón y los judíos</title>
</head>
<body>
<p><strong>El cordero que sacrificaban los judíos era símbolo de Jesucristo. Alejandro Magno, Julio César, Napoleón
  Bonaparte, y los judíos</strong></p>
<p> La última parte del capítulo 52 del libro de Isaías, pertenece al mismo tema que se trata en todo el capítulo 53,
  que es el entonces futuro sacrificio expiatorio de Jesucristo. A partir del versículo 13 del capítulo 52, se ve que se
  está hablando del Escogido de Dios.</p>
<p> "13 <i>He aquí que mi siervo será prosperado, será engrandecido y ensalzado, y será muy sublimado.</i> 14 <i>Cómo se
  pasmaron de ti muchos, <strong>en tanta manera fue desfigurado de los hombres su parecer</strong>; y su hermosura más
  que la de los hijos de los hombres.</i> 15 <strong>Empero él rociará muchas gentes</strong><i>; los reyes cerrarán
  sobre él sus bocas, porque verán lo que nunca les fue contado, y entenderán lo que jamás habían oído</i>." ( Isa
  52:13-15 )</p>
<p> En el versículo 52:14 se comprende que no debían esperar que fuera un gran general, caudillo, u hombrazo, al estilo
  humano. Esa fue una de las razones por la que Jesús fue rechazado por los judíos. Ellos querían un caudillo
  anonadante, un general victorioso, no un simple carpintero que <strong>viniera a rociar con su sangre expiatoria a
    muchas gentes</strong>, como se ve en 52:15. Y cuando en ese versículo dice "gentes" incluye a los gentiles.</p>
<p> En 53:1-3 dice que ese siervo de Dios sería despreciado y desechado por el pueblo de Israel, el cual escondería de
  él su rostro, lo cual se cumplió perfectamente en Jesús.</p>
<p> "53:1 <i>¿Quién ha creído a nuestro anuncio? ¿Y sobre quién se ha manifestado el brazo de Jehová?</i> 2 <i>Y subirá
  cual renuevo delante de él, y como raíz de tierra seca; no hay parecer en él, ni hermosura; <strong>verlo hemos, mas
    sin atractivo para que le deseemos.</strong></i> 3 <i><strong>Despreciado y desechado entre los hombres, varón de
  dolores, experimentado en quebranto; y como que escondimos de él el rostro, fue menospreciado, y no lo
  estimamos</strong></i>." ( Isa 53:1-3 )</p>
<p> Como se ve por lo hasta aquí dicho, estaba profetizado que el Escogido de Dios, o sea, el Mesías, sería despreciado
  por el pueblo de Israel. <strong>¿Qué otra persona de estatura mesiánica ha sido despreciada y desechada tan
    unánimemente por el pueblo de Israel?</strong> ¿No nos indica ese mismo desprecio y rechazamiento que Jesús es el
  Mesías, el cual cumplió esta profecía de Isaías? ¿Qué otro ser ha cumplido todo lo que dice ese pasaje de Isaías?
  <strong>Si sólo Jesús cumplió todo esto, ¿no indica ello que sólo Jesús es el Mesías anunciado por Isaías?</strong>
  ¿Por qué pues rechazarlo ahora, que a posteriori pueden darse cuenta de la realidad del cumplimiento de tal profecía?
</p>
<p><strong>Los versículos 4-6 indican claramente cuál iba a ser la función del Mesías: ser herido por nuestras
  rebeliones, molido por nuestros pecados, y aclara luego que el mismo Dios cargó en él, (como se cargaba en los
  corderos del sacrificio), el pecado de todos nosotros.</strong> ¿Qué más claramente puede profetizarse que el Escogido
  de Dios, el Mesías, en su Primera Venida, venía a sufrir para llevar el pecado de todos nosotros?¿Qué otro ser de
  estatura mesiánica puede uno pensar que cumplió esto, sino sólo Jesús?</p>
<p> "4 <i>Ciertamente llevó él nuestras enfermedades, y sufrió nuestros dolores; y nosotros le tuvimos por azotado, por
  herido de Dios y abatido.</i> 5 <i><strong>Mas él herido fue por nuestras rebeliones, molido por nuestros pecados; el
  castigo de nuestra paz sobre él; y por su llaga fuimos nosotros curados.</strong></i> 6 <strong>Todos nosotros nos
  descarriamos como ovejas, cada cual se apartó por su camino, mas Jehová cargó en él el pecado de todos
  nosotros.</strong> 7 <i>Angustiado él, y afligido, no abrió su boca, como cordero fue llevado al matadero, y como
  oveja delante de sus trasquiladores, enmudeció, y no abrió su boca</i>." ( Isa 53:4-7 )</p>
<p> El versículo 8, hablando todavía <strong>del Escogido de Dios dice bien claramente que sería muerto,</strong>
  cortado de la tierra de los vivientes; cosa con lo que concuerda también la profecía de las setenta semanas que dice
  claramente que el Mesías sería muerto (Dn 9:26). Por lo tanto, si declara que sería muerto, ¿por qué esperar que él
  viniera a establecer el reino eterno desde su Primera Venida? ¿Por qué no darnos cuenta de que <strong>sobre el Mesías
    hay dos tipos de profecías:</strong> una en la que se habla de que viene a morir, a sufrir, a ser despreciado,
  <strong>a redimir al mundo</strong>; y otra en la que se habla de que viene <strong>a reinar, a ser respetado, a
    castigar, a poner las cosas en orden?</strong> ¿No es cierto? ¿Y no es Jesucristo, en su pasada Primera Venida y su
  futura Segunda Venida, el único que cumple esas profecías? <strong>¿Por qué, pues, no aceptar a Jesús como Mesías y
    salvador?</strong></p>
<p> "<i>De la cárcel y del juicio fue quitado; y su generación ¿quién la contará? Porque <strong>cortado fue de la
  tierra de los vivientes;</strong> <strong>por la rebelión de mi pueblo fue herido</strong></i>." ( Isa 53:8 )</p>
<p></p>
<p> "<i>Y después de las sesenta y dos semanas <strong>se quitará la vida al Mesías</strong>, y no por sí; y el pueblo
  de un príncipe que ha de venir, destruirá a la ciudad y el santuario; con inundación será el fin de ella, y hasta el
  fin de la guerra será talada con asolamientos</i>." ( Dn 9:26 )</p>
<p> ¿No está bien claro también en el versículo 9, que <strong>el Mesías moriría</strong>? El que lea el evangelio verá
  cómo a pesar de haberse dispuesto con los impíos (dos ladrones) su sepultura, un senador de Israel, José de Arimatea,
  hombre rico, pidió su cadáver a Pilato, cumpliendo así lo que aquí dice "...mas con los ricos fue en su muerte".</p>
<p> "<strong>Y dipúsose con los impíos su sepultura, mas con los ricos fue en su muerte</strong><i>, porque nunca hizo
  él maldad, ni hubo engaño en su boca</i>." (Isa 53:9)</p>
<p> El versículo 10 habla claramente de la resurrección del Escogido de Dios, del Mesías, después de su muerte, cuando
  dice que: después que hubiere <strong>puesto su vida en expiación por el pecado</strong>, verá linaje, vivirá por
  largos días. ¿Quién otro de estatura mesiánica puede alegar que murió por los pecados del mundo y resucitó, sino
  solamente Jesucristo? ¿Por qué pues no aceptarlo?</p>
<p> "<i>Con todo eso Jehová quiso quebrantarlo, sujetándole a padecimiento. <strong>Cuando hubiere puesto su vida en
  expiación por el pecado, verá linaje, vivirá por largos días</strong>, y la voluntad de Jehová será en su mano
  prosperada</i>." ( Isa 53:10 )</p>
<p> Por último, en el versículo 11 vemos cómo de nuevo se aclara que se está hablando del Mesías, cuando Dios lo llama
  "mi siervo justo". O sea, que no hay duda de que lo que se va a decir se refiere al Mesías. ¿Y qué es lo que dice?
  <strong>Dice que el Mesías llevará las iniquidades del pueblo en sí mismo,</strong> (como el cordero de los
  sacrificios levíticos). Y termina en el versículo 12 ratificando una vez más que ese Mesías de quien se habla,
  moriría. Si el Mesías moriría, ¿por qué decir que Jesús no era el Mesías por el hecho de que murió?</p>
<p> "11 <i>Del trabajo de su alma verá y será saciado; <strong>con su conocimiento justificará mi siervo justo a muchos,
  y él llevará las iniquidades de ellos</strong>.</i> 12 <i>Por tanto yo le daré parte con los grandes, y con los
  fuertes repartirá despojos; por cuanto derramó su vida hasta la muerte, y fue contado con los perversos, <strong>habiendo
    él llevado el pecado de muchos</strong> y orado por los transgresores</i>." ( Isa 53:11-12 )</p>
<p><strong>Los griegos viven orgullosos de Alejandro Magno y sus sangrientas batallas para conquistar el mundo. Los
  italianos veneran a Julio César, a pesar de las sangrientas guerras que llevó a cabo. Los franceses se ufanan de
  Napoleón Bonaparte, porque conquistó un efímero imperio desangrando a Francia y a toda Europa.</strong></p>
<p><strong> Sin embargo, los judíos están abochornados del judío Jesucristo. Unos lo rechazan, otros lo desprecian, y
  algunos hasta lo odian. Y todo esto, a pesar de que fue con su propia sangre, y no con sangre ajena, con su propio
  sufrimiento, y no con sufrimiento ajeno, con lo que nos redimió de pecados y conquistó un duradero imperio de miles de
  millones de súbditos voluntarios. Jesucristo es el único judío que reina firme y amorosamente sobre miles de millones
  de Goim</strong>. <strong>Y sin embargo, los judíos no están orgullosos de él.</strong></p>
<p> ¿Tienen ustedes razón hijos de Israel, para estar abochornados de Jesucristo en vez de estar orgullosos de él?
  ¿Tienen ustedes razón para despreciarlo, rechazarlo y … hasta odiarlo? ¿Qué cosa mala hizo Jesús contra su pueblo? Si
  luego seres perversos, falseando las enseñanzas de Cristo, le han hecho daño a los judíos invocando hipócritamente su
  nombre, ¿es por eso Jesús digno de desprecio y odio?</p>
<p><strong>Eso es tan injusto como si los japoneses odiaran a los judíos, porque Albert Einstein, un judío genial, dio
  origen a la bomba atómica que los americanos lanzaron en Hiroshima y Nagasaki.</strong></p>
<p><strong> Eso es tan injusto como si el mundo, ante el temor de un holocausto nuclear, decidiera acabar con los
  judíos, o decidiera odiar a Moisés, a David, o a Salomón, porque un judío dio origen a la bomba atómica.</strong></p>
<p><strong>Por el hecho de que gente perversa, utilizando el nombre de Cristo, haga daño a los judíos, no da razón ni
  derecho a los judíos a rechazar, despreciar u odiar a Jesucristo.</strong></p>
<p> Aunque el Nuevo Testamento es rechazado por los judíos, <strong>éste está lleno de palabras de buena voluntad hacia
  los judíos</strong>, y sólo contiene unos pocos reproches. <strong>El Antiguo Testamento, aprobado por los
  judíos</strong>, habla mil veces más mal de los mismos judíos, que el Nuevo Testamento. Examinen, hijos de Israel, la
  posición que contra Jesucristo tienen ustedes, porque les va a ser muy dificultoso mantenerla y defenderla cuando,
  como todos los seres humanos, cada uno tenga que comparecer ante el juicio de Dios en presencia de Su Mesías. Si
  quieren comprobar la certidumbre de lo dicho en los pasajes del Antiguo Testamento que he mencionado, léanlo en un
  libro escrito en hebreo, no usen una traducción porque están amañadas. Si no saben hebreo búsquense un judío savra que
  no sea religioso, para que se los traduzca.</p>
<p><strong>Leamos ahora de corrido toda la Escritura que antes leímos fraccionadamente.</strong></p>
<p> "<strong>52</strong>:13 <strong>He aquí que mi siervo</strong> <i>será prosperado, será engrandecido y ensalzado, y
  será muy sublimado.</i></p>
<p> 14 <i>Cómo se pasmaron de ti muchos, en tanta manera fue desfigurado de los hombres su parecer; y su hermosura más
  que la de los hijos de los hombres</i>.</p>
<p> 15 <strong>Empero él rociará muchas gentes</strong><i>; los reyes cerrarán sobre él sus bocas, porque verán lo que
  nunca les fue contado, y entenderán lo que jamás habían oído</i>.</p>
<p><strong>53:</strong>1 <i>¿Quién ha creído a nuestro anuncio? ¿y sobre quién se ha manifestado el brazo de Jehová?</i>
</p>
<p> 2 <i>Y subirá cual renuevo delante de él, y como raíz de tierra seca; <strong>no hay parecer en él, ni hermosura;
  verlo hemos, mas sin atractivo para que le deseemos</strong></i><strong>.</strong></p>
<p> 3 <strong>Despreciado y desechado entre los hombres</strong><i>, varón de dolores, experimentado en quebranto;
  <strong>y como que escondimos de él el rostro, fue menospreciado, y no lo estimamos</strong></i><strong>.</strong></p>
<p> 4 <strong>Ciertamente llevó él nuestras enfermedades, y sufrió nuestros dolores</strong><i>; y nosotros le tuvimos
  por azotado, por herido de Dios y abatido</i>.</p>
<p> 5 <strong>Mas él herido fue por nuestras rebeliones, molido por nuestros pecados</strong><i>; el castigo de nuestra
  paz sobre él; y por su llaga fuimos nosotros curados</i>.</p>
<p> 6 <i>Todos nosotros nos descarriamos como ovejas, cada cual se apartó por su camino, mas <strong>Jehová cargó en él
  el pecado de todos nosotros</strong></i>.</p>
<p> 7 <i>Angustiado él, y afligido, no abrió su boca; <strong>como cordero</strong> fue llevado al matadero; y <strong>como
  oveja</strong> delante de sus trasquiladores, enmudeció, y no abrió su boca</i>.</p>
<p> 8 <i>De la cárcel y del juicio fue quitado; y su generación ¿quién la contará? <strong>Porque cortado fue de la
  tierra de los vivientes; por la rebelión de mi pueblo fue herido</strong></i><strong>.</strong></p>
<p> 9 <i><strong>Y dipúsose con los impíos su sepultura, mas con los ricos fue en su muerte</strong>, porque nunca hizo
  él maldad, ni hubo engaño en su boca</i>.</p>
<p> 10 <i>Con todo eso Jehová quiso quebrantarlo, sujetándole a padecimiento. <strong>Cuando hubiere puesto su vida en
  expiación por el pecado</strong>, verá linaje, <strong>vivirá por largos días</strong>, y la voluntad de Jehová será
  en su mano prosperada</i>.</p>
<p> 11 <i>Del trabajo de su alma verá y será saciado; <strong>con su conocimiento justificará mi siervo justo a muchos,
  y él llevará las iniquidades de ellos.</strong></i></p>
<p> 12 <i>Por tanto yo le daré parte con los grandes, y con los fuertes repartirá despojos; <strong>por cuanto derramó
  su vida hasta la muerte,</strong> y</i> fue contado con los perversos, <strong>habiendo él llevado el pecado de
  muchos</strong> y orado por los transgresores." ( Isa 52:13-15 & 53:1-12 )</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>