
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Cristo jamás abolió ninguna de las leyes de Dios antes de la crucifixión</title>
</head>
<body>
<p><strong>Cristo jamás dijo lo que muchos confundidos creen que él dijo respecto a la ley</strong></p>
<p><strong>¿Dijo Cristo lo que tú crees que dijo?</strong></p>
<p>Voy a presentar varios pasajes donde los hermanos creen ver<strong>,</strong> erradamente<strong>,</strong>que
  Nuestro Señor Jesucristo abolió una o más de las leyes de Dios durante sus tres años y medio de
  predicación<strong>.</strong> De ese error se deriva <strong>la herejía</strong>de asegurar que las leyes de Dios para
  el <strong>comportamiento humano</strong> son actualmente inoperantes<strong>,</strong> que no hay que guiarse por
  ellas<strong>,</strong> y que el cristiano está libre de hacer lo que le venga en ganas<strong>,</strong> pensando que
  a pesar de hacer todo eso no está pecando<strong>.</strong></p>
<p><strong>Tan espantoso error sólo puede haber sido insuflado en la mente del creyente por nuestros enemigos
  espirituales</strong><strong>.</strong> Es razonable pues analizar aquellos pasajes en donde algunos hermanos creen
  ver semejante herejía<strong>.</strong></p>
<p><strong>Para podernos salvar, Cristo obedeció absolutamente todas las leyes de Dios desde su nacimiento hasta su
  muerte</strong></p>
<p>Nuestro Señor obedeció <strong>todas</strong>las leyes de Dios durante <strong>toda</strong>su vida<strong>.</strong>
  Tanto las leyes de comportamiento como las leyes rituales<strong>.</strong>Él tenía que hacerlo así para poder
  salvarnos<strong>.</strong> Un solo fallo suyo hubiera sido su propia perdición<strong>,</strong> y la nuestra<strong>.</strong>
  <strong>Por eso él jamáshizo nada que pudiera ir en contra de las leyes de Dios.</strong></p>
<p>Si vamos a Heb 10<strong>:</strong>28 veremos que San Pablo nos dice que una de las cosas pecaminosas era el
  menospreciar alguna de las leyes de Dios<strong>,</strong>por lo tanto no iba Jesús a hacer tal cosa<strong>.</strong>
</p>
<p><strong>"</strong><i>El que menospreciare la ley de Moisés<strong>,</strong> por el testimonio de dos o de tres
  testigos muere sin ninguna misericordia</i><strong>."</strong> (Heb 10<strong>:</strong>28)</p>
<p>Siendo esto así<strong>,</strong> es completamente impensable que Nuestro Señor fuera a
  menospreciar<strong>,</strong>abolir<strong>,</strong> dejar de cumplir<strong>,</strong> suprimir<strong>,</strong>
  hablar en contra<strong>,</strong>modificar<strong>,</strong> etc<strong>.,</strong> alguna de las leyes de
  Dios<strong>,</strong> <strong>antes</strong> <strong>de su crucifixión.</strong></p>
<p>Digo <strong>antes de su crucifixión,</strong> porque si Cristo hubiera querido abolir una o más de las leyes de Dios<strong>,</strong>
  <strong>jamás</strong> lo hubiera hecho cuando todavía él estuviera bajo la ley<strong>,</strong> puesto que hacerlo
  hubiera sido pecar<strong>, perderse él y perdernos a nosotros.</strong></p>
<p><strong>Cristo sabía que se iba a abolir la circuncisión</strong><strong>,</strong> pero nunca iba a
  hacerlo<strong>,</strong> ni a hablar contra esa ley<strong>,</strong> antes de su crucifixión<strong>.</strong>
  <strong>Él sabía que se iban a abolir los sacrificios</strong><strong>,</strong> pero jamás los hubiera
  abolido<strong>,</strong> ni hubiera hablado contra esos sacrificios<strong>,</strong>antes de su
  crucifixión<strong>.</strong> Haberlo hecho antes hubiera sido pecar<strong>,</strong>como muy bien nos recuerda Pablo
  en Heb 10<strong>:</strong>28<strong>;</strong> y si Cristo hubiera pecado<strong>,</strong> él se hubiera
  perdido<strong>,</strong> y nosotros no seríamos salvos<strong>.</strong> Haber hablado contra los sacrificios y
  contra la circuncisión antes de su crucifixión<strong>,</strong> hubiera sido pecar<strong>.</strong></p>
<p><strong>Por esa razón Jesucristo jamás habló de abolir ninguna de las leyes de Dios</strong><strong>.</strong> Fue el
  Espíritu Santo el que después de la crucifixiónse ocupó de decirnos qué leyes seguían vigentes y cuáles estaban
  abolidas<strong>.</strong></p>
<p>Cristo tuvo que ser muy cuidadoso<strong>,</strong> porque Satanás estaba siempre buscando la manera de que él pecara<strong>.</strong>
  Satanás sabía que si lo hacía pecar en lo más mínimo<strong>,</strong>su misión hubiera fracasado<strong>,</strong> y
  Satanás hubiera triunfado<strong>.</strong></p>
<p><strong>Cristo había recibido como únicamisión el salvarnos, realizar otra era pecado.</strong> Satanás sabía que
  Dios le había encomendado una sola misión a Su Unigénito<strong>.</strong> Sabía que Cristo no se podía apartar de esa
  misión<strong>,</strong> que si hubiera alterado esa misión<strong>,</strong> o si hubiera tomado sobre sus hombros
  alguna otra misión<strong>,</strong> hubiera fallado<strong>,</strong> hubiera pecado<strong>.</strong></p>
<p>Por eso varias veces Satanás le puso traspiés al Señor para hacerlo mezclarse en juicios<strong>,</strong>en política<strong>,</strong>
  etc<strong>.,</strong> como cuando trató de llevarlo a ser juez<strong>,</strong>o a ser verdugo<strong>,</strong> o a
  proclamarse rey<strong>,</strong> o a castigar a los que merecían castigo<strong>.</strong></p>
<p><strong>Por ser su misión solamente salvación, es que Jesús rechazaba ciertas soluciones. ¿</strong>Piensan ustedes
  que fue con su propia fuerza<strong>,</strong> poder y virtud que Elías hizo que descendiera fuego del cielo y quemara
  a aquellas dos compañías de soldados<strong>?</strong> <strong>¿</strong>Creen ustedes que aquello fue un
  <strong>"</strong>error<strong>"</strong> de Elías<strong>?</strong> (II R 1<strong>:</strong>10-12)<strong>.</strong>
</p>
<p>Es evidente que el que le dio el poder a Elías para hacer aquel milagro fue Dios<strong>;</strong> y es evidente
  también que Dios estuvo de acuerdo con lo que estaba haciendo Elías<strong>,</strong> pues si no<strong>,</strong> no
  lo hubiera respaldado<strong>.</strong></p>
<p><strong>¿</strong>Creen ustedes que Cristo estaba en desacuerdo con Dios respecto a lo que hizo
  Elías<strong>?</strong><strong>¡</strong>Claro que no<strong>!</strong> Cristo aprobaba lo mismo que Dios había
  aprobado<strong>.</strong>Por lo tanto<strong>,</strong> no fue un pecado de Elías hacer lo que hizo<strong>.</strong>
</p>
<p>Tampoco era un pecado en sí mismo el pretender los discípulos hacer lo que Elías había hecho
  previamente<strong>:</strong> hacer descender fuego para castigar los rebeldes<strong>.</strong> Eso fue lo que
  intentaron hacer Jacobo y Juan<strong>.</strong>Lo que era pecado era hacerlo como parte de la misión de
  Cristo<strong>.</strong> Por eso el Señor no les permitió hacerlo<strong>.</strong></p>
<p><strong>"</strong>52 <i>Y envió mensajeros delante de sí<strong>,</strong> los cuales fueron y entraron en una ciudad
  de los samaritanos<strong>,</strong> para prevenirle<strong>.</strong></i> 53 <i>Mas no le
  recibieron<strong>,</strong> porque era su traza de ir a Jerusalem<strong>.</strong></i> 54 <i>Y viendo esto sus
  discípulos Jacobo y Juan<strong>,</strong> dijeron<strong>:</strong></i> <strong>Señor, ¿quieres que mandemos que
  descienda fuego del cielo, y los consuma, como hizo Elías?</strong> 55 <i>Entonces volviéndose
  él<strong>,</strong></i> <strong>los reprendió,</strong> <i>diciendo<strong>:</strong>Vosotros</i> <strong>no sabéis
  de qué espíritu sois</strong><strong>;</strong> 56 <i>porque</i> <strong>el Hijo del hombre no ha venido para perder
  las almas de los hombres, sino para salvarlas</strong><strong>.</strong> <i>Y se fueron a otra
  aldea</i><strong>."</strong> (Lc 9<strong>:</strong>52-56)</p>
<p><strong>La única diferencia estribaba</strong> en que en este caso la misión de Cristo era muy diferente de la misión
  de Elías<strong>,</strong> era mucho más específica y requería diferentes métodos<strong>.</strong> No era la misión
  de Jesús<strong>,</strong> castigar<strong>,</strong>destruir<strong>,</strong> juzgar<strong>,</strong>
  etc<strong>.,</strong> sino salvar<strong>;</strong> y no iba nadie a sacarlo de su misión durante los 33 años que
  permanecería aquí<strong>.</strong></p>
<p>Por eso no quiso dar su voto (ni negarlo) para que castigaran a la adúltera; por eso no quiso juzgar el caso del
  hermano que no quería compartir la herencia; por eso tampoco quiso castigar aquella ciudad de samaritanos. Nada de eso
  era su misión en su Primera Venida, él no venía a nada de eso, y no quiso dejarse arrastrar a ello por otros; sea que
  esos otros actuaran de mala fe, como los fariseos, que eran agentes de Satanás, o de buena fe, como los apóstoles.</p>
<p><strong>No es que Cristo desaprobara lo que Elías</strong> había hecho<strong>,</strong> puesto que aquello fue hecho
  con autoridad y poder de Dios<strong>.</strong> <strong>Tampoco estaba Cristo en contra del castigo al
    adulterio,</strong> puesto que éste fue establecido por su Padre Dios<strong>,</strong> y él no estaba llevándole la
  contraria ni pretendiendo ser <strong>"</strong>más bondadoso<strong>"</strong> que Dios<strong>.</strong> Es
  que<strong>,</strong>sencillamente<strong>,</strong> la misión que Dios le encomendara para aquel momento era
  otra<strong>,</strong>según vemos en Jn 3<strong>:</strong>17<strong>, y no quería él pecar apartándose de la misión
    encomendada, y acometiendo otra.</strong></p>
<p><strong>"</strong><i>Porque</i><strong>no envió Dios a su Hijo al mundo, para que condene al
  mundo</strong><strong>,</strong> <i>mas para que el mundo sea salvo por él</i><strong>."</strong> (Jn
  3<strong>:</strong>17)</p>
<p>No debe concluirse de casos como este<strong>,</strong> que Dios pensaba una cosa<strong>,</strong>mientras que
  Cristo<strong>,</strong> más <strong>"</strong>humano<strong>"</strong> y <strong>"</strong>generoso<strong>"</strong>
  le llevaban la contraria<strong>,</strong> o le enmendaba la plana<strong>.</strong> <strong>Al fin y al cabo Nuestro
    Señor Jesucristo está de acuerdo en enviar a los seres rebeldes al infierno</strong><strong>,</strong> al igual que
  lo piensa Dios<strong>.</strong> Por consiguiente<strong>,</strong> cuando el Señor Jesucristo se opuso a que Juan y
  Jacobo hicieran descender fuego para castigar a aquellos rebeldes samaritanos<strong>,</strong>lo hizo porque no era
  esa su misión en ese momento<strong>,</strong> y aprobarlo hubiera sido pecar<strong>;</strong> no porque considerara
  que no lo merecían<strong>.</strong></p>
<p><strong>Tampoco ha de entenderse que Dios pensaba una cosa en época de Moisés</strong> y que cambió de opinión un par
  de milenios más tarde<strong>,</strong> para arreglar las cosas<strong>,</strong> hasta el punto de enviar a su Ungido
  a contradecir lo que antes Él aprobara<strong>.</strong></p>
<p>Jesucristo<strong>,</strong>y por ende también Dios<strong>,</strong> es el mismo ayer hoy y por los
  siglos<strong>,</strong>como dice Heb 13<strong>:</strong>8<strong>;</strong> no va Dios a pensar una cosa en época de
  Moisés y otra en época de San Pablo<strong>.</strong></p>
<p><strong>Por no ser esa su misión, Cristo no se prestó a hacer juicios.</strong> Es evidente que en Jn
  3<strong>:</strong>17 halla uno la explicación del porqué Cristo no se dejaba arrastrar a donde querían llevarlo los
  fariseos y otros<strong>.</strong> Ellos<strong>,</strong> <strong>incitados por Satanás, y sin saber por qué lo
    hacían, querían incitar a Cristo a juzgar o a condenar a alguien, para invalidar así su misión de salvación</strong><strong>.</strong>
</p>
<p>Dios no le dio a Cristo en su Primera Venida<strong>,</strong> la misión de juzgar o condenar<strong>.</strong> Él no
  vino a condenar<strong>,</strong> sino a salvar<strong>.</strong> Si él hubiera condenado a alguien<strong>,</strong>se
  habría apartado de la misión de Dios<strong>,</strong> lo cual hubiera constituido un pecado<strong>.</strong> Por eso
  es que los fariseos y demás enemigos lo incitaban a que juzgara o condenara a alguien<strong>.</strong> Ellos no se
  daban cuenta de la guerra espiritual que estaba teniendo lugar<strong>,</strong> y en la que ellos participaban sin
  estar conscientes de ello<strong>,</strong> pero como que en realidad ellos no servían a Dios<strong>,</strong> el
  Diablo los utilizaba para tratar de llevar a Cristo a que juzgara o condenara a alguien<strong>,</strong> y así
  arruinar su misión salvadora con el pecado<strong>.</strong></p>
<p>Por eso Cristo no condenó a la adúltera de Jn 8<strong>:</strong>3-11<strong>.</strong> No es que Cristo abrogara las
  leyes de Dios<strong>,</strong> pero tampoco quiso erigirse en juez para aplicarlas<strong>,</strong>porque como vimos
  en Jn 3<strong>:</strong>17<strong>,</strong> <strong>no era esa su misión.</strong> Para juzgar los delitos ya Dios
  había puesto reyes<strong>,</strong>gobernadores y jueces<strong>.</strong> No iba Jesús a usurpar sus
  funciones<strong>.</strong> Por eso ni condenó ni absolvió a la adúltera<strong>,</strong> sino que<strong>,</strong>
  después que vio que nadie la había condenado<strong>,</strong> le dijo simplemente<strong>:</strong> vete y no peques
  más<strong>.</strong></p>
<p><strong>Por eso tampoco se metió en el litigio que por la herencia,</strong> tenía en Lc 12<strong>:</strong>13-14
  uno de sus oyentes<strong>,</strong>a quien su hermano lo había estafado<strong>.</strong> No es que Jesús pensara que
  no debía haber leyes contra la estafa<strong>.</strong> Ni tampoco abolió por eso las leyes contra la
  estafa<strong>.</strong> No es que Jesús hubiera abolido todas esas leyes<strong>;</strong>es que su misión era de
  salvación<strong>,</strong> no de condenación<strong>,</strong> ni de legislación<strong>;</strong> él venía como
  salvador<strong>,</strong> no como juez ni como legislador<strong>.</strong></p>
<p><strong>"</strong><i>Le dijo uno de la multitud<strong>:</strong></i> <strong>Maestro, di a mi hermano que parta
  conmigo la herencia</strong><strong>.</strong><i>Mas él le dijo<strong>:</strong>Hombre<strong>,</strong>
  <strong>¿</strong>quién me ha puesto sobre vosotros como juez o partidor</i><strong>?"</strong> (Lc
  12<strong>:</strong>13-14)</p>
<p>No estaba Cristo, por no meterse en este problema entre hermanos, aboliendo las leyes de la herencia, ni el castigo
  de los tramposos, ni el derecho de cada heredero a reclamar su parte. Tampoco estaba el Señor aprobando el adulterio,
  o aboliendo las leyes de Dios sobre el adulterio, por el hecho de no meterse a condenar a la adúltera. Es que él sabía
  que detrás de todo eso estaba la mano de Satanás tratando de apartarlo de la única misión a él encomendada por Dios,
  para así echar a perder su obra redentora, y perderlo también a él.</p>
<p>Si Cristo se hubiera metido a resolver litigios, no sólo hubiera faltado a la misión a él encomendada, sino que
  además le hubiera venido encima miles de litigantes que le hubieran hecho materialmente imposible su misión.</p>
<p><a href="NotasBiblicas.html"><strong>Volver al índice</strong></a></p>
</body>
</html>