
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Cristo es mayor que el Espíritu Santo</title>
</head>
<body>
<p><strong>Cristo es mayor que el Espíritu Santo</strong></p>
<p> En Jn 15: 26 y 16: 7 vemos que Cristo promete que <strong>él enviaría al Espíritu Santo</strong>. Es más que lógico
    pensar que el que envía es superior al enviado, como ocurre cuando Dios envió a Cristo al mundo. Eso mismo nos dice
    el Señor en 13: 16, cuando asegura que los enviados (apóstoles en este caso ) no son mayores que el que los envió.
</p>
<p> En los dos pasajes mencionados al principio vemos que Cristo habla como teniendo autoridad sobre el Espíritu Santo.
    Al hablar así nos hace ver que él es Señor del Espíritu Santo, pues si no lo fuera no diría "lo enviaré", sino que
    diría algo así como "le pediré que venga", o "le rogaré que venga", etc..</p>
<p></p>
<p> "<i>De cierto, de cierto os digo: El siervo no es mayor que su señor, <strong>ni el apóstol es mayor que el que le
    envió</strong></i>." ( Jn 13: 16 )</p>
<p></p>
<p> "<i>Empero cuando viniere <strong>el Consolador, el cual yo os enviaré del Padre</strong>, el Espíritu de verdad, el
    cual procede del Padre, él dará testimonio de mí</i>." ( Jn 15: 26 )</p>
<p></p>
<p> "<i>Empero yo os digo la verdad: Os es necesario que yo vaya, porque si yo no fuese, el Consolador no vendría a
    vosotros; mas si yo fuere, <strong>os le enviaré</strong></i>." ( Jn 16: 7 )</p>
<p> En estos dos últimos pasajes se ve la autoridad con que Cristo habla al referirse al Espíritu Santo. No hace lo
    mismo cuando se refiere a Dios Padre; <strong>en ese caso habla de rogar, de pedir</strong>. Se evidencia así la
    diferente relación que hay entre Cristo y Dios, por un lado, y entre Cristo y el Espíritu Santo, por el otro.</p>
<p></p>
<p> "<i>Y <strong>yo rogaré al Padre</strong>, y os dará otro Consolador, para que esté con vosotros para siempre</i>" (
    Jn 14: 16 )</p>
<p></p>
<p> "<i>Aquel día pediréis en mi nombre, y no os digo, que <strong>yo rogaré al Padre</strong> por vosotros</i>" ( Jn
    16: 26 )</p>
<p></p>
<p> "<strong>Yo ruego</strong> <i>por ellos, no ruego por el mundo, sino por los que me diste; porque tuyos son</i>" (
    Jn 17: 9 )</p>
<p></p>
<p> "<i>No <strong>ruego</strong> que los quites del mundo, sino que los guardes del mal</i>." ( Jn 17: 15 )</p>
<p></p>
<p> "<i>Mas no <strong>ruego</strong> solamente por éstos, sino también por los que han de creer en mí por la palabra de
    ellos</i>." ( Jn 17: 20 )</p>
<p> Como vemos en los pasajes mencionados, Jesucristo tiene potestad sobre el Espíritu Santo para darle órdenes, señal
    inequívoca de que Jesús es superior al Espíritu Santo. Él no dice "rogaré al Espíritu Santo" ni dice "pediré al
    Espíritu Santo", sino que dice "lo enviaré", como quien habla de alguien que le está sujeto.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>