
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Para llegar a la doctrina evangélica correcta la mayoría de los cristianos proceden como Naamán</title>
</head>
<body>
<p><strong>Para llegar a la doctrina evangélica correcta la mayoría de los cristianos proceden como Naamán</strong></p>
<p> Hay quien piensa que cuando él pida algo de Dios<strong>,</strong> lo va a recibir en la forma más dramática y
    vanidosa que haya<strong>.</strong> No es así<strong>,</strong> la metodología divina no es igual a la
    humana<strong>.</strong> Veamos el caso del sirio Naamán<strong>,</strong> general leproso<strong>,</strong> que
    creía que Dios le iba a responder a su manera<strong>,</strong> y por poco no alcanza la sanidad que
    imploraba<strong>.</strong></p>
<p><strong>Muchas veces los creyentes procedemos con Dios igual que este general sirio procedió con Eliseo.</strong> El
    profeta le dio al leproso todo lo necesario para curarse<strong>;</strong> pero por poco no se
    cura<strong>,</strong> porque Eliseo no siguió el método que el general creía que debía seguir<strong>.</strong></p>
<p> Muchos creyentes pedimos cosas a Dios<strong>,</strong> las cuales esperamos que Él haga en forma dramática y
    anonadante<strong>,</strong> en la forma que nosotros creemos que debía sernos dadas<strong>.</strong> Luego<strong>,</strong>
    cuando obtenemos la misma meta que deseábamos<strong>,</strong> pero en forma que se nos antoja natural y
    humilde<strong>,</strong> nos parece que Dios no nos ha escuchado<strong>.</strong> Sí nos escuchó<strong>;</strong>
    lo que pasa es que no quiso estimular nuestra vanidad haciendo portentos teatralescos<strong>,</strong> cuando podía
    ayudarnos perfectamente por medios que a los demás les lucirían naturales<strong>.</strong></p>
<p><strong>Igualmente muchísimos creyentes piden a Dios saber la verdad en religión,</strong> pero cuando Dios les envía
    hermanos que discuten con ellos sus erradas doctrinas<strong>,</strong> se sienten defraudados como Naamán y piensan<strong>:</strong>
    yo creía que Dios dejaría Su Trono en el Cielo y aparecería delante de mí para decirme cuál es la verdadera doctrina<strong>.</strong>
</p>
<p></p>
<p><strong> "</strong>9 <i>Y vino Naamán con sus caballos y con su carro<strong>,</strong> y se paró a las puertas de la
    casa de Eliseo<strong>.</strong></i> 10 <i>Entonces Eliseo le envió un mensajero<strong>,</strong>
    diciendo<strong>:</strong> <strong>Ve, y lávate siete veces en el Jordán, y tu carne se te restaurará, y serás
        limpio.</strong></i> 11 <i>Y Naamán se fue enojado<strong>,</strong> diciendo<strong>:</strong> <strong>He aquí
    yo decía para mí: Saldrá él luego, y estando en pie invocará el nombre de Jehová su Dios, y alzará su mano, y tocará
    el lugar, y sanará la lepra.</strong></i> 12 <i>Abana y Farfar<strong>,</strong> ríos de Damasco<strong>,</strong>
    <strong>¿</strong>no son mejores que todas las aguas de Israel<strong>?</strong> Si me lavare en
    ellos<strong>,</strong> <strong>¿</strong>no seré también limpio<strong>?</strong> Y se volvió<strong>,</strong> y
    se fue enojado</i><strong>."</strong> (II R 5<strong>:</strong>9<strong>:</strong>12)</p>
<p> Al fin sus siervos le hicieron razonar que si el profeta le hubiera pedido que hiciera algo
    difícil<strong>,</strong> teatral<strong>,</strong> dramático<strong>,</strong> seguramente lo hubiera hecho<strong>.</strong>
    Por lo tanto<strong>,</strong> si le había pedido una cosa tan sencilla como zambullirse siete veces en el río
    Jordán<strong>,</strong> <strong>¿</strong>por qué no hacerlo<strong>?</strong> El general depuso su actitud<strong>,</strong>
    hizo aquella aparentemente tonta cosa que le había mandado el profeta<strong>,</strong> y quedó sano de su
    lepra<strong>.</strong> Si no hubiera aceptado las disposiciones del profeta de Dios<strong>,</strong> hubiera
    perdido la bendición de sanidad que le estaba reservada<strong>.</strong></p>
<p><strong>Otro tanto nos puede suceder a nosotros,</strong> si cuando oramos<strong>,</strong> pensamos que la
    respuesta de Dios solamente debe venir en forma dramática<strong>,</strong> anonadante<strong>,</strong> teatralesca<strong>.</strong>
    Vale la pena aquí repetir el párrafo precedente<strong>:</strong> <strong>"Igualmente muchos creyentes piden a Dios
        saber la verdad en religión, pero cuando Dios les envía hermanos que discuten con ellos sus erradas doctrinas,
        se sienten defraudados como Naamán y piensan: yo creía que Dios dejaría Su Trono en el Cielo y aparecería
        delante de mí para decirme cuál es la verdadera doctrina."</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>