---
import Layout from "../layout/Layout.astro";
---

<Layout title="¿Somos Cristiano o Sanpablianos?">
    <section>
        <p><strong>¿Somos cristianos o sanpablianos?</strong></p>
        <p><strong>Por qué el cristianismo se convirtió en sanpablismo.</strong> Desde hace más de 16 siglos los
            creyentes<strong>,</strong> poco a poco<strong>,</strong> dejaron de ser cristianos y se transformaron en
            sanpablianos<strong>; lo cual es una forma de cristianismo un tanto idolátrica,</strong> porque aunque
            mantiene
            fidelidad a Cristo<strong>,</strong> le quita autoridad a su palabra<strong>,</strong> a la del Espíritu
            Santo y a
            la de sus doce apóstoles<strong>,</strong> traspasando esa autoridad a Pablo<strong>,</strong> <strong>pasando
                por
                encima aún de la autoridad de Cristo y de Dios.</strong></p>
        <p> Efectivamente<strong>,</strong> hoy en día la inmensa mayoría de los creyentes son
            sanpablianos<strong>.</strong> Si
            Cristo dice que la hierba es verde y los sanpablianos mal-entienden que Pablo dijo que era
            roja<strong>,</strong>
            ellos aseguran que la hierba es roja<strong>,</strong> porque <strong>"</strong>San Pablo lo
            dijo<strong>".</strong>
        </p>
        <p> Si los doce apóstoles dicen que el cielo es azul y los creyentes creen entender que Pablo dijo que es
            amarillo<strong>,</strong> los sanpablianos aseguran que el cielo es amarillo<strong>,</strong>
            <strong>"</strong>porque
            lo dijo San Pablo<strong>".</strong> <strong>No les importa lo que diga Dios, lo que diga Cristo, o lo que
                diga el
                Espíritu Santo;</strong> tampoco les importa lo que digan los doce apóstoles<strong>;</strong> la
            <strong>"</strong>nueva doctrina<strong>"</strong> a seguir es lo que los creyentes se figuren que San Pablo
            ha
            dicho<strong>.</strong></p>
        <p><strong>Algunos creen que en I Co 8:1-13, Pablo, en uso de su "sagrada autoridad", cambió la doctrina
            cristiana,</strong> contradiciendo todo lo hasta entonces legislado respecto a no comer lo sacrificado a los
            ídolos<strong>.</strong> No sólo eso<strong>,</strong> sino que según esos hermanos<strong>,</strong>
            Pablo<strong>,</strong> con su <strong>"</strong>divina<strong>"</strong> potestad<strong>,</strong> como si
            él
            fuera el papa de los protestantes<strong>,</strong> cambió las leyes de Dios<strong>,</strong> y decidió que
            en lo
            adelante<strong>,</strong> sí era lícito comer lo sacrificado a los ídolos<strong>.</strong> No importa lo
            que hayan
            dicho al respecto Cristo<strong>,</strong> el Espíritu Santo<strong>,</strong> y los Doce
            Apóstoles<strong>.</strong> Ellos creen que San Pablo pasó por encima de todo eso<strong>,</strong> y de
            todos ellos<strong>.</strong>
        </p>
        <p><strong>Nada más lejos de la intención de San Pablo.</strong> Lo que Pablo estaba haciendo en este pasaje es
            quitar
            el pánico que al parecer algunos sentían<strong>,</strong> por haber comido descuidadamente algo previamente
            ofrecido a un ídolo<strong>.</strong> No obstante esta realidad<strong>,</strong> son muchos los cristianos
            que de
            ese pasaje entienden que<strong>,</strong> efectivamente<strong>,</strong> sí se puede comer lo sacrificado
            a los
            ídolos<strong>,</strong> porque <strong>"</strong>San Pablo lo autorizó<strong>".</strong></p>
        <p><strong>Es sensato que interpretemos con mucho cuidado las cosas que San Pablo parece decir.</strong> Gracias
            al
            testimonio del apóstol Pedro y a <strong>su indiscutible autoridad para decirlo,</strong> (dado que era
            hombre
            inspirado por Dios y conocía a Pablo personalmente)<strong>,</strong> sabemos que el no menos apóstol e
            inspirado
            hermano Pablo<strong>,</strong> hablaba y escribía en un estilo y forma<strong>,</strong> que se prestaba
            para que
            los inconstantes (de mala calidad espiritual) y los indoctos (ignorantes de la palabra y de las cosas de
            Dios)<strong>,</strong> las torcieran<strong>.</strong> No significa esto que los escritos de Pablo no iban
            a poder
            ser leídos por prestarse a confusión<strong>;</strong> es que había que leerlos con cuidado y sensatez para
            no
            equivocarnos<strong>;</strong> sobre todo<strong>,</strong> si lo que Pablo parece decir se halla en
            contradicción
            con lo que otros autores bíblicos afirman<strong>.</strong></p>
        <p><strong>En ninguna otra parte de la Biblia existe otra advertencia semejante a esta, sobre ningún otro autor
            bíblico.</strong> Nunca se ha dicho una cosa así de nadie<strong>,</strong> y menos aún dicho por una
            persona con
            tanta autoridad como el Apóstol Pedro<strong>.</strong> <strong>Recordemos que lo que los autores bíblicos
                escribieron, fue inspirado por el Espíritu Santo,</strong> por lo tanto<strong>,</strong> es sensato de
            nuestra
            parte<strong>,</strong> tomar seriamente tan inspirado consejo de Pedro<strong>,</strong> y tenerlo en mente<strong>.</strong>
        </p>
        <p></p>
        <p><strong>"</strong>15 <i>Y tened por salud la paciencia de nuestro Señor<strong>;</strong> como también
            <strong>nuestro
                amado hermano Pablo, según la sabiduría que le ha sido dada,</strong> os ha escrito
            también<strong>;</strong></i> 16
            <i>casi en todas sus epístolas<strong>,</strong> hablando en ellas de estas cosas<strong>;</strong> <strong>entre
                las cuales hay algunas difíciles de entender, las cuales los indoctos e inconstantes tuercen, como
                también las
                otras Escrituras, para perdición de sí mismos</strong></i><strong>."</strong> (II P 3<strong>:</strong>15-16)
        </p>
        <p><strong>Hay que comprender que si el Espíritu Santo inspiró a Pablo a escribir algo, también inspiró a Pedro
            a
            escribir esto que acabamos de leer.</strong> Ninguna de las dos inspiraciones vale menos que la
            otra<strong>.</strong> Si el Espíritu Santo<strong>,</strong> que inspiraba a Pablo a
            escribir<strong>,</strong>
            tuvo a bien inspirar a Pedro a hacernos a nosotros esta advertencia<strong>,</strong> debe ser para que
            nosotros no
            erremos<strong>.</strong></p>
        <p><strong>Fíjense en que el Espíritu Santo inspiró a Pedro a hacer esta advertencia sobre Pablo,</strong> pero
            no
            inspiró a Pablo a hacer alguna advertencia parecida sobre Pedro<strong>.</strong> Por lo
            tanto<strong>,</strong> lo
            menos que puede hacer un cristiano sensato es tener esa advertencia en mente cuando lea los escritos de
            Pablo<strong>;</strong> <strong>sobre todo los conflictivos,</strong> los que nos parece que se dan de punta
            con lo
            que dijo Cristo<strong>,</strong> lo que dijeron los Doce Apóstoles<strong>,</strong> y lo que dijeron los
            demás
            escritores bíblicos y profetas de la antigüedad<strong>.</strong></p>
        <p> Sirva esto de advertencia para todos<strong>;</strong> pero especialmente para <strong>los sanpablianos,
            aquellos
            que gustan de formar doctrina con versículos obscuros de Pablo; y también para los que creen que Pablo
            establece
            doctrinas que contradicen las de Cristo, las del Espíritu Santo, las de los otros apóstoles o las del resto
            de la
            Biblia.</strong> Es necesario darnos cuenta de que somos cristianos<strong>,</strong> no
            sanpablianos<strong>.</strong></p>
        <p> Los que creen ver en los escritos de Pablo<strong>,</strong> la abolición de la Ley de Dios para el
            comportamiento
            humano<strong>,</strong> no perderían mucho repasando éstos escritos del apóstol a la luz de lo que el
            Espíritu
            Santo les revela y les advierte por medio de Pedro<strong>.</strong> Al fin y al cabo los que son
            sinceros<strong>,</strong> los que quieren hallar la verdad donde quiera que se encuentre<strong>,</strong>
            la van a
            hallar<strong>.</strong></p>
        <p><strong>Veamos ahora una supuesta afirmación de Pablo, que parece contradecir lo que el mismo Señor
            Jesucristo,
            dijo,</strong> lo que dijo el Espíritu Santo<strong>,</strong> y lo que ordenaron los Doce Apóstoles del
            Señor<strong>;</strong> y veamos cuál es la explicación para esa aparente contradicción o discordancia de
            Pablo con
            todos los demás<strong>.</strong></p>
        <p><strong>Pablo parece contradecir a Cristo, al Espíritu Santo, y a los doce apóstoles, en cuanto a lo ofrecido
            a los
            ídolos.</strong> Hay hermanos que más que ser cristianos<strong>,</strong> son
            sanpablianos<strong>.</strong>
            <strong>Hacen con San Pablo algo parecido a lo que los católicos hacen con la Virgen María.</strong> Me
            explicaré<strong>.</strong> Cristo es el Hijo de Dios<strong>,</strong> él piensa igual a su
            Padre<strong>.</strong>
            Tanto valor tiene para ellos dos lo dicho por San Pablo<strong>,</strong> como lo dicho por San
            Pedro<strong>,</strong> Isaías<strong>,</strong> Samuel<strong>,</strong> Jacobo<strong>,</strong> Judas
            Tadeo<strong>,</strong> Mateo<strong>,</strong> Jeremías<strong>,</strong> Daniel o cualquier otro
            siervo<strong>.</strong> <strong>El mismo Espíritu Santo fue el que inspiró a todos.</strong> Sin
            embargo<strong>,</strong> hay cristianos que creen que la Biblia es San Pablo<strong>,</strong> y que San
            Pablo es
            la Biblia<strong>.</strong> Si ellos interpretan que San Pablo dice que la arena es verde<strong>,</strong>
            y el
            resto de los apóstoles dicen que es blanca<strong>,</strong> ellos aseguran que es verde<strong>.</strong>
            <strong>¡</strong>San Pablo lo dijo<strong>!</strong></p>
        <p><strong>Incluso si Nuestro Señor Jesucristo dice que la arena es blanca,</strong> y ellos creen entender que
            San
            Pablo dijo que era verde<strong>,</strong> ellos afirman que la arena es verde<strong>,</strong> porque
            <strong>"</strong>San Pablo lo dijo<strong>".</strong> <strong>¿</strong>No creen ustedes que sea tan
            exagerado el
            asunto<strong>?</strong></p>
        <p> El hecho de que Pablo haya escrito poco más de la cuarta parte del Nuevo Testamento no le da autoridad para
            anular
            el resto de la Biblia<strong>,</strong> incluyendo el resto del Nuevo Testamento<strong>,</strong> <strong>cosa
                que
                él no trató de hacer, pero que muchos hermanos cristianos se lo atribuyen.</strong></p>
        <p> Si bien es verdad que él fue el que más escribió de los escritores del Nuevo Testamento<strong>,</strong>
            hay que
            comprender que los otros escribieron casi las tres cuartas partes de éste<strong>,</strong> o
            sea<strong>,</strong>
            que los demás escribieron casi el triple que Pablo<strong>;</strong> y que además<strong>,</strong> no fue
            el
            escritor sagrado más fecundo<strong>,</strong> pues Moisés escribió él solo<strong>,</strong> mucho más del
            doble de
            lo que escribió Pablo<strong>.</strong></p>
        <p> Digo todo esto<strong>,</strong> no por quitar méritos al apóstol de los gentiles<strong>,</strong> pues a
            él le
            sobran méritos<strong>,</strong> sino para que nadie<strong>,</strong> por error de
            apreciación<strong>,</strong> lo
            engrandezca desorbitadamente<strong>,</strong> cosa que él mismo trató de evitar<strong>,</strong> como
            veremos en
            los versículos que más abajo aparecen<strong>.</strong> Y tristemente<strong>,</strong> que lo engrandezca
            hasta el
            punto de creerlo el único árbitro de la religión o al menos el mayor de ellos<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Por lo cual si quisiere gloriarme<strong>,</strong> no seré insensato<strong>,</strong>
            porque
            diré verdad<strong>,</strong> empero lo dejo<strong>,</strong> <strong>porque nadie piense de mí más de lo
                que en mí
                ve, u oye de mí</strong></i><strong>."</strong> (II Co 12<strong>:</strong>6)</p>
        <p></p>
        <p></p>
        <p><strong>"</strong>12 <i>Quiero decir<strong>,</strong> que cada uno de vosotros dice<strong>:</strong> Yo
            cierto soy
            de Pablo<strong>;</strong> pues yo de Apolos<strong>;</strong> y yo de Cefas<strong>;</strong> y yo de
            Cristo<strong>.</strong></i> 13 <i><strong>¿</strong>Está dividido Cristo<strong>?</strong> <strong>¿Fue
            crucificado
            Pablo por vosotros? ¿o habéis sido bautizados en el nombre de Pablo</strong></i><strong>?"</strong> (I Co
            1<strong>:</strong>12-13)</p>
        <p></p>
        <p> Cómo vimos en los dos pasajes anteriores<strong>,</strong> no estaba en la voluntad del apóstol
            Pablo<strong>,</strong> que lo engrandecieran como lo han hecho los errados hermanos
            sanpablianos<strong>.</strong>
        </p>
        <p><strong>Para demostrar cómo los hermanos malinterpretan a San Pablo en el asunto de comer lo sacrificado a
            los ídolos
            vean el artículo # 17 en este mismo website. Si San Pablo hubiera autorizado tal cosa estaría contradiciendo
            a
            Nuestro Señor Jesucristo, al Espíritu Santo y a los demás apóstoles. Lean también el artículo # 9 para que
            vean que
            millones de cristiano malinterpretan lo que dice San Pablo referente a que al Lugar Santísimo se entraba una
            sola
            vez al año.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    