
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>El Ropaje de Cristo era largo o corto</title>
</head>
<body>
<p><strong>EL ROPAJE DE CRISTO ¿ERA LARGO O CORTO?</strong></p>
<p> La maquinaria moderna de los grandes telares, ha abaratado enormemente la tela. En los tiempos modernos cualquier
    persona puede comprar varias yardas de tela y hacerse una ropa que le llegue desde la cabeza hasta los pies. En
    tiempos antiguos, sin embargo, por ser bastante reducidas las posibilidades de hilar y tejer, sólo los ricos o gente
    de desahogada posición, podían usar más tela de la estrictamente indispensable para cubrirse o abrigarse.</p>
<p> Para hacer tela primero tenían que tener la materia prima, lino, lana o lo que fuera, para comenzar haciendo hilo
    con esos materiales. Ni la rueca ni el telar estaban inventados aún, y por eso el hilado se tenía que hacer a mano.
    Igualmente la urdimbre tenía que ser hecha a mano, para luego tejerle los hilos transversos. Todo tenía que ser
    hecho por las mujeres en sus propias casas, lo cual tomaba mucho tiempo y esfuerzo.</p>
<p><strong>Por ser la tela difícil de hacer o cara para comprar, los pobres usaban solamente la tela indispensable para
    cubrirse o abrigarse</strong>, y así las vestiduras que ellos usaban les cubrían poco más abajo de las rodillas a
    las mujeres, y desde los riñones hasta medio muslo a los hombres. Si han estado ustedes en un museo donde se exhiban
    obras de aquella época, comprenderán ustedes lo que les digo. Sólo la clase acomodada usaba más tela que la
    necesaria.</p>
<p> Por otro lado, si analizamos las palabras del Señor veremos que él no aprobaba el uso innecesario de la tela, el
    despliegue de lujo. Veamos qué decía él respecto a esto.</p>
<p></p>
<p> "<i>Y les decía en su doctrina: <strong>Guardaos de los escribas, que quieren andar con ropas largas</strong>, y
    aman las salutaciones en las plazas</i>." ( Mr 12: 38 )</p>
<p></p>
<p> "<strong>Guardaos de los escribas, que quieren andar con ropas largas,</strong> <i>y aman las salutaciones en las
    plazas, y las primeras sillas en las sinagogas, y los primeros asientos en las cenas</i>" ( Lc 20: 46 )</p>
<p> Lógico es pensar que <strong>si Jesucristo decía tales cosas, era porque él mismo andaba con ropa corta, no con ropa
    larga, que es como la gente lo pinta hoy en día</strong>. Digo que es lógico que anduviera con ropa corta; <strong>primero</strong>
    porque él era pobre, era un carpintero, un obrero; y <strong>segundo</strong> porque vimos cómo en Mr 12: 38 y Lc
    20: 46 Jesús señala a los escribas, que querían andar con ropas largas. Por lo tanto no es razonable suponer que
    Cristo anduviera con ropa larga a la vez que señalaba a los que querían andar con ropa larga. Lo razonable es pensar
    que si criticaba la ropa larga (que era un símbolo de lujo innecesario en aquella época ) él mismo anduviera con
    ropa corta; lo cual además, era lo común entre los pobres como él.</p>
<p> Además de esto, vemos en Jn 19: 23 que la túnica de Jesús era enteriza, tejida desde arriba, sin costura; algo así
    como un tubo. No podía, pues, ser larga, porque le estorbaría al caminar, trabajar etc..</p>
<p></p>
<p> "<i>Y como los soldados hubieron crucificado a Jesús, tomaron sus vestidos, e hicieron cuatro partes ( para cada
    soldado una parte); y la túnica; mas <strong>la túnica era sin costura, toda tejida desde arriba</strong></i>." ( Jn
    19: 23 )</p>
<p><strong>En resumen,</strong> los cuadros que representan a Jesús vestido de ropas largas y usando mantones, togas y
    largas túnicas están fuera de la realidad. Esa falsa representación del ropaje de Nuestro Señor ha calado tan hondo,
    que sería muy difícil que el concepto de Jesús vestido como un obrero hebreo o un soldado romano, sea aceptado por
    los cristianos.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>