
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Cristo no prohibió todo tipo de juramento</title>
</head>
<body>
<p><strong>Cristo no prohibió todo tipo de juramento</strong></p>
<p> Cristo <strong>no prohibió</strong> todo juramento, sino que exhortó a no <strong>andar prometiendo con
  juramento</strong>, que en el futuro se iba a hacer esto, o dejar de hacer aquello. Dado que no siempre está en
  nuestras manos el poder suficiente para cumplir con lo que juramos, caeríamos innecesariamente en perjurio.</p>
<p> Me baso para pensar así en el hecho de que ese mandamiento de Cristo es consecuencia del refrán popular de los
  antiguos sobre el juramento. En ese dicho popular de los antiguos se manifiesta que <strong>se está hablando de
    promesas futuras</strong>, dado que para evitar el perjurar, se exhorta a que se paguen a Dios los juramentos.
  Claramente se ve que se está hablando de promesas hechas bajo juramento para un futuro; futuro este que no siempre
  está en nuestras manos. También lo aclara el versículo 36 cuando dando, al parecer, la razón de su prohibición, dice:
  "porque no puedes hacer un cabello blanco o negro". Es decir, porque no tienes control de las circunstancias.</p>
<p>"33 <i>Además habéis oído que fue dicho a los antiguos: <strong>No te perjurarás; mas pagarás al Señor tus
  juramentos.</strong></i> 34 <i>Mas yo os digo: No juréis en ninguna manera, ni por el cielo, porque es el Trono de
  Dios;</i> 35 <i>ni por la Tierra, porque es el estrado de Sus pies; ni por Jerusalem, porque es la ciudad del Gran
  Rey.</i> 36 <i>Ni por tu cabeza jurarás, <strong>porque no puedes hacer un cabello blanco o negro.</strong></i> 37 <i>Mas
  sea vuestro hablar: Sí, sí; No, no; porque lo que es más de esto, de mal procede</i>." ( Mt 5:33-37 )</p>
<p></p>
<p> En estos pasajes que pongo a continuación vemos que Dios no solamente permite el juramento, sino que exhorta a que
  se jure en su nombre. Incluso veremos que <strong>Pablo conjura</strong> a los tesalonicenses.</p>
<p></p>
<p> "<i>A Jehová tu Dios temerás, y a él servirás, y <strong>por su nombre jurarás</strong></i>." ( Dt 6:13 )</p>
<p></p>
<p> "<i>A Jehová tu Dios temerás, a él servirás, a él te allegarás, y <strong>por su nombre jurarás</strong></i>."</p>
<p> ( Dt 10:20 )</p>
<p></p>
<p> "<i>Empero el rey se alegrará en Dios; <strong>será alabado cualquiera que por Él jura</strong>; porque la boca de
  los que hablan mentira, será cerrada</i>." ( Sal 63:11 )</p>
<p></p>
<p> "<i>El que se bendijere en la Tierra, en el Dios de verdad se bendecirá; y <strong>el que jurare en la Tierra, por
  el Dios de verdad jurará</strong>; porque las angustias primeras serán olvidadas, y serán cubiertas de mis ojos</i>."
  ( Isa 65:16 )</p>
<p></p>
<p> "<i>Y será que, si cuidadosamente aprendieren los caminos de mi pueblo, <strong>para jurar en mi nombre</strong>,
  diciendo: <strong>'Vive Jehová'</strong>, así como enseñaron a mi pueblo a jurar por Baal; <strong>ellos serán
    prosperados</strong> en medio de mi pueblo</i>." ( Jer 12:16 )</p>
<p></p>
<p>"<strong>Os conjuro por el Señor</strong><i>, que esta carta sea leída a todos los santos hermanos</i>."</p>
<p> ( I Tes 5:27 )</p>
<p><strong>No es lógico pensar que Jesús "se dio cuenta" de que la autorización, y aún la exhortación, a jurar por
  Dios</strong>, que aparece en diversos pasajes del Antiguo Testamento, <strong>fue una "equivocación" del
  ángel</strong> que revelaba estas cosas a Moisés y a los profetas. Tampoco nos es dable creer que Dios tenía Su
  opinión, y Cristo tenía una opinión contraria; ni que Dios tuvo una opinión en una época y luego la cambió, porque
  encontró otra "mejor".</p>
<p> Si en la Escritura se exhorta diáfana y claramente a jurar por Dios, es evidente que el hacerlo no es un pecado,
  sino algo encomiable cuando se hace<strong>: a)</strong> prudentemente, y <strong>b)</strong> sólo cuando el caso
  realmente lo amerita. Efectivamente, estar jurando por boberías es tomar el nombre de Dios en vano; como cuando se
  jura lo grande que era el pez que se nos fue. Además, una cosa es jurar que algo es cierto o falso, y otra cosa bien
  diferente es jurar que uno va a hacer esto o lo otro en un futuro. Lo primero está bajo el control del cristiano, lo
  segundo no.</p>
<p> Si a un cristiano se le pide juramento de que va a decir la verdad, o mejor aún, que dijo la verdad, no veo por qué
  no pueda jurar, puesto que está perfectamente bajo su dominio el saber si, hasta donde alcanzan sus facultades, dijo
  la verdad o no.</p>
<p><strong>Hay casos en los que es el mismo Dios el que manda que se pida juramento</strong>, como en Ex 22:10-11. No va
  Dios a mandar una cosa, y Jesucristo a contradecirlo, o enmendarle la plana al Padre. No es lógico tampoco pensar que
  Dios va a mandar a hacer algo que es pecado.</p>
<p> "10 <i>Si alguno hubiere dado a su prójimo asno, o buey, u oveja, o cualquier otro animal a guardar, y se muriere, o
  se perniquebrare, o fuere llevado sin verlo nadie;</i> 11 <i><strong>juramento de Jehová tendrá lugar entre
  ambos</strong> de que no echó su mano a la hacienda de su prójimo, y su dueño lo aceptará, y el otro no pagará</i>." (
  Ex 22:10-11 )</p>
<p><strong>Incluso en Mt 26:63 vemos que a Cristo se le pide juramento, y él accede</strong>.</p>
<p> "62 <i>Y levantándose el pontífice, le dijo: ¿No respondes nada? ¿Qué testifican éstos contra ti?</i> 63 <i>Mas
  Jesús callaba. Respondiendo el pontífice, le dijo: <strong>Te conjuro por el Dios viviente</strong>, que nos digas si
  eres tú el Cristo, Hijo de Dios.</i> 64 <i>Jesús le dijo: Tú lo has dicho; y aun os digo, que desde ahora habéis de
  ver al Hijo del Hombre sentado a la diestra de la potencia de Dios, y que viene en las nubes del cielo</i>." ( Mt
  26:62-64 )</p>
<p> Vemos pues, que <strong>Jesús no le contesta rechazando el juramento</strong>, sino que cuando el pontífice le dice:
  "Te conjuro por el Dios viviente que nos digas si tú eres el Cristo, Hijo de Dios", Jesús, sin mediar negativa de
  juramento ni aclaración alguna le replica: "Tú lo has dicho..." <strong>Es evidente pues que jurar no es pecado y que
    Cristo no lo prohibió.</strong> Si fuera pecado o si Cristo lo hubiera prohibido, no iba él a aceptar que el Sumo
  Sacerdote lo conjurara.</p>
<p> Hay cristianos que, <strong>presionados por la creencia tradicional de que está prohibido jurar</strong>, se niegan
  a hacerlo cuando se hallan en el caso. En esas ocasiones <strong>recurren a una fórmula simplista, a un
    eufemismo</strong>. En vez de jurar dicen: "yo digo delante de Dios, o en presencia de Dios, etc..." No comprenden
  ellos que <strong>una vez que se invoque a Dios, una vez que el nombre de Dios esté envuelto de alguna forma en una
    aseveración, ya para los efectos celestiales, equivale a un juramento.</strong> Efectivamente, de no ser cierto lo
  que se afirma en la presencia de Dios, ( o delante de Dios, o como quiera llamársele ), se ha tomado en vano el nombre
  de Dios, quebrantando así el tercer mandamiento. Incluso Pablo lo usó un par de veces, veamos.</p>
<p> "<i>Y en esto que os escribo, he <strong>aquí delante de Dios, no miento</strong></i>." ( Ga 1: 20 )</p>
<p> Al decir Pablo la frase "delante de Dios", está invocando a Dios como testigo sobre lo que está diciendo. Eso es
  igual que jurar por Dios que no está mintiendo. Esto demuestra que el juramento nunca estuvo prohibido. Si hubiera
  estado prohibido, Pablo no iba a andar con subterfugios y eufemismos, cambiando el nombre para no llamarle juramento,
  pero que fuera juramento. No es cuestión de usar un malabarismo de palabras.</p>
<p> Algo semejante se ve en Ap 10:5-6, pero con la particularidad de que en este caso el que jura es un ángel enviado de
  Dios. Si jurar fuera malo, el ángel no lo hubiera hecho.</p>
<p> "5 <i>Y <strong>el ángel</strong> que vi estar sobre el mar y sobre la tierra, levantó su mano al cielo,</i> 6 <i>y
  <strong>juró por el que vive para siempre jamás</strong>, que ha criado el cielo y las cosas que están en él, y la
  tierra y las cosas que están en ella, y el mar y las cosas que están en él, que el tiempo no será más</i>." ( Ap
  10:5-6 )</p>
<p> Como hemos visto hasta aquí, todos los que han jurado o han aconsejado jurar, son personas con suficiente autoridad
  moral y espiritual para decirnos qué es bueno y qué es malo. Ninguno de ellos rechazó el juramento.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>