---
import Layout from "../layout/Layout.astro";
import Title from "../components/Title.astro";
import DateOf from "../components/DateOf.astro";
import Tag from "../components/Tag.astro";
---

<Layout title="Cristo pudo haber nacido en diciembre">
    <DateOf>1 Mz 2000</DateOf>
    <Title>Los que dicen que Cristo no pudo haber nacido en diciembre, mienten.</Title>
    <div class="flex justify-content:center mb:5rem">
        <Tag>#1</Tag>
    </div>

    <section class="mx:auto max-w:sm mb:5rem">
        <p> Algunos verdaderos cristianos se han tragado esa mentira y andan regándola por el mundo. Veamos las
            pruebas.</p>
        <p><strong>Los ruselistas ( llamados equivocadamente Testigos de Jehová, puesto que no lo son),</strong>
            aprovechan el
            hecho de que en muchos países la tierra está cubierta de nieve en Navidad, y valiéndose de la ignorancia de
            la
            mayoría, confunden a sus seguidores y a muchos buenos cristianos, en el sentido de pretender "demostrar" que
            Jesús
            no nació en Navidad.</p>
        <p> Yo no estoy diciendo que se pueda probar que Jesús nació el 25 de diciembre; yo lo que estoy diciendo es
            <strong>nadie
                puede probar que no nació en diciembre,</strong> como hacen ver los ruselistas. El mes de diciembre no
            puede ser
            excluido, como muchos "profesores de seminarios" están luchando por "probar" y enseñar. Esta es una de las
            mentiras
            que los ruselistas han regado, y que muchos buenos cristianos se han tragado sin dificultad.</p>
        <p> En una revista trimestral cristiana llamada "Life and Works Pursuits", que se usa para la Escuela Dominical,
            publicada en inglés en el invierno de 1998-99, en la página 35, en las líneas del 33-35 decía:</p>
        <p> "<strong>La Biblia no dice en que mes del año nació Jesús. Lo más probable es que naciera en primavera, por
            cuanto
            los pastores de las ovejas se hallaban de noche en el campo</strong>."</p>
        <p> ¿En que se basan para afirmar tal cosa? La tradición dice que fue en diciembre. <strong>La tradición se debe
            rechazar solamente cuando se contradice con los hechos, con la lógica o con lo que dice la Biblia.</strong>
            Pero no
            se debe rechazar sólo porque otros interesados hablen contra ella. ¿Es que hay alguna prueba de que Cristo
            no nació
            en diciembre?</p>
        <p> La Hégira de Mahoma ocurrió el viernes 16 de julio de 622 DC. Nadie impugna esta tradición, porque no se
            contradice
            ni con los hechos ni con la lógica. Buda, de acuerdo con la tradición, vivió de 563 a 483 AC. Nadie impugna
            tampoco
            esta tradición, porque no contradice los hechos ni la lógica. Todos la creen. Entonces, por qué no se acepta
            la
            tradición que nos dice que Jesús nació el 25 de diciembre. Esa tradición no daña a nadie. No se opone a
            ningún hecho
            histórico, ni a la lógica, ni a la Biblia. Entonces, pregunto de nuevo, ¿por qué se hace tanto esfuerzo por
            tratar
            de contradecir la tradición del nacimiento de Cristo? <strong>Pues se hace porque todo lo que se relaciona
                con
                Cristo provoca la inmediata oposición de los enemigos de Dios.</strong></p>
        <p> "<strong>Jesús no pudo haber nacido en diciembre, (dicen los ruselistas), porque los pastores no podían
            hallarse a
            la intemperie como dice el evangelio, debido a que los campos estaban cubiertos de nieve</strong>."</p>
        <p><strong>Esa es una gran mentira.</strong> Los enemigos de Jesús se aprovechan de la ignorancia de los demás
            para
            regar sus mentiras. Israel es un país largo y estrecho que se extiende de norte a sur a lo largo de unas 390
            millas.
            La "World Book Enciclopaedia" de 1974, volumen 10, página 390, describiendo a Israel dice:</p>
        <p><strong>"Enero es el mes más frío. La temperatura media es de 45º F ( 7º C ) en la norteña Galilea, y 60º F
            (16º C)
            en el Rift Valley.</strong> Las norteñas tierras altas tienen <strong>algunos días</strong> de temperaturas
            heladas
            casi todos lo inviernos. La lluvia cae casi toda en invierno, y generalmente decrece de norte a sur.
            <strong>La
                nieve cae a veces en la parte norte y central de Israel</strong>."</p>
        <p> Los ruselistas, para respaldar su falsedad alegan el pasaje de Lc 2:8, en el que se dice que los pastores
            estaban en
            el campo vigilando su ganado y que, por lo tanto, no pudo haber sido en invierno, <strong>pues la nieve lo
                cubría
                todo.</strong></p>
        <p> Como siempre, ellos mienten a sabiendas. Como vemos en la enciclopedia, <strong>en Israel nieva sólo unos
            pocos
            días, y para eso bien al norte solamente,</strong> en Galilea; <strong>jamás nieva en el sur, en donde se
            halla
            Belén</strong>, cerca de Egipto y del mar Muerto. En esta región, la temperatura promedio invernal es de 60º
            F (16º
            C), según podemos ver en la "World Book Enciclopaedia" del año 1974, tomo 10, página 390, bajo el título
            "Israel".
            En cosas como esta se ve la hipocresía y maldad de los jerarcas del ruselismo.</p>
        <p> Si vamos ahora al volumen 11 de la misma enciclopedia, página 77, veremos que la temperatura media en
            Jerusalem,
            <strong>en el mes de enero, que es el mes más frío, es de 55º F ( 13º C ). </strong> Lógicamente, diciembre
            tiene
            que tener temperaturas más altas puesto que enero es el más frío. Belén, unas cinco millas al sur de
            Jerusalem
            (volumen 2, página 214 ), debe por lo tanto tener la misma temperatura.</p>
        <p> ¿Dónde pues, está la "sabiduría" de los "profesores" que aseguran que los pastores no podían estar en el
            campo
            cuidando el ganado, en el mes de diciembre? ¿Dónde están esos campos cubiertos de nieve que dicen los
            ruselistas que
            existían en diciembre? <strong>¿Por qué tienen que ser nuestros hermanos cristianos tan fáciles de engañar?
                ¿Por qué
                se tragan tantas falsedades?</strong> Es cierto que yo no puedo probar que Cristo nació el 25 de
            diciembre, pero
            eso es lo que dice la tradición, y ni la lógica ni la Biblia se oponen a esa tradición. <strong>¿Por qué
                entonces es
                tan fieramente atacada?</strong></p>
        <p><strong>Pero supongamos por un momento que en Belén el invierno fuera muy frío.</strong> La región de
            Padanaram, de
            donde era originaria Rebeca, está localizada mucho más al norte que Belén y tiene un clima mucho más frío.
            <strong>Veamos
                ahora si en invierno, los pastores de esa fría región, se quedaban o no por las noches cuidando el
                ganado.</strong> Cuando surgió un problema entre Jacob y Esaú su hermano, Rebeca convenció a Isaac de
            que debía
            enviar a Jacob a Padanaram por un tiempo.</p>
        <p> "<strong>Así envió Isaac a Jacob, el cual fue a Padanaram, a Labán, hijo de Bethuel Arameo, hermano de
            Rebeca, madre
            de Jacob y de Esaú</strong>." ( Gn 28: 5)</p>
        <p> Jacob estuvo allá durante 20 años cuidando el ganado de Labán. Cuando Jacob se iba del lado de su suegro,
            surgió una
            discusión entre ellos dos, en la que Jacob le echó en cara lo siguiente:</p>
        <p>"<strong>38</strong> <strong>Estos veinte años he estado contigo: tus ovejas y tus cabras nunca abortaron, ni
            yo comí
            carnero de tus ovejas.</strong> <strong>39</strong> <strong>Nunca te traje lo arrebatado por las fieras; yo
            pagaba
            el daño; lo hurtado así de día como de noche, de mi mano lo requerías.</strong> <strong>40</strong> <strong>De
            día
            me consumía el calor, y de noche la helada, y el sueño se huía de mis ojos</strong>." (Gn 31:38- 40)</p>
        <p> El mismo Jacob declara en Gn 31:40, que cuando lo consumía la helada, aún así él cuidaba el ganado en el
            campo. Es
            decir, que Jacob dice que él acostumbraba a hacer, lo que los ruselistas dicen que no podían estar haciendo
            los
            pastores de Belén: cuidar el ganado en noches de frío. No obstante, Jacob lo hacía en una tierra más fría
            que Belén,
            pues hay que recordar que Labán (a quién Jacob decía lo aquí mencionado) era de la tierra de Rebeca, Abraham
            etc.,
            que es más fría que Belén. Sin embargo, aún así él guardaba el ganado durante la helada noche, dando así un
            rotundo
            mentís a estos falsarios, que dicen que los pastores de Belén no lo podían hacer. <strong>Si lo hacía Jacob
                en un
                clima más áspero que el de Belén, ¿por qué no iban a poder hacerlo los pastores de Navidad en un clima
                que sólo
                promedia 60º F (16º C) en invierno?</strong></p>
        <p><strong> Otro pseudo argumento que ponen para desprestigiar la Navidad, es decir que es la fiesta del
            solsticio.</strong> Eso también es falso. La Navidad es el 25 de diciembre, mientras que el solsticio de
            invierno
            ocurre del 21 al 22 de diciembre. Se ve que lo único que quieren es buscar pretextos para que el cristiano
            crea
            estar celebrando una fecha falsa, o una fiesta pagana. Han existido cientos de países paganos a través de la
            historia, por lo tanto hay miles de fiestas paganas. Todos los días del año están ocupados por fiestas
            paganas. Si
            no es fiesta de los antiguos griegos, será de los antiguos mayas, iberos, mongoles, aztecas, escandinavos,
            incas,
            chinos, persas, celtas, romanos, etc, etc. Si la tradición en vez de colocar el nacimiento de Cristo el 25
            de
            diciembre, lo hubiera colocado en cualquier otra fecha, también ellos hubieran buscado alguna fiesta pagana
            a la que
            atribuirle la celebración de la Navidad, para desprestigiarla. Lo que a ellos les duele es que hasta los
            cristianos
            nominales, reconozcan el nombre de Cristo. Es triste que los hermanos que van a los seminarios para aprender
            cómo
            servir a Nuestro Señor, se dejen engañar por <strong>los que planifican la descristianización del
                cristianismo.</strong> La prueba que los ruselistas tratan de martillar en las mentes de muchos
            cristianos,
            <strong>no es una prueba, es simplemente una mentira.</strong></p>
        <p><strong>¡Una gran Mentira!</strong></p>
    </section>
</Layout>