
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La crucifixión de Cristo fue un jueves</title>
</head>
<body>
<p><strong>La crucifixión de Cristo fue un jueves, porque él estuvo en la tumba tres días y tres noches</strong></p>
<p> Cristo no fue crucificado un viernes, sino un jueves; la interpretación tradicional que asegura que la crucifixión
    ocurrió un viernes está errada.</p>
<p> Un día está compuesto por un período de oscuridad (noche), y un período de claridad (día). Hay que recordar que los
    hebreos contaban los días a partir del anochecer. Para ellos el día anterior moría al oscurecer, e inmediatamente
    que salían las estrellas comenzaba el día siguiente. En ese momento comenzaba el período de oscuridad del día
    siguiente, o sea la noche del día siguiente. Luego, cuando amanecía, era que comenzaba el período de claridad del
    día que había comenzado el anterior anochecer.</p>
<p> Aquí dice que tanto Jonás como Jesús estuvieron el uno en el vientre de la ballena, y el otro en el corazón de la
    Tierra, respectivamente, tres días y tres noches; o sea unas 72 horas; tal vez un poquito más o un poquito menos,
    pero no 12 horas menos o 12 horas más.</p>
<p></p>
<p> "<i>Porque como estuvo Jonás en el vientre de la ballena <strong>tres días y tres noches</strong>, así estará el
    Hijo del Hombre en el corazón de la Tierra <strong>tres días y tres noches</strong></i>." ( Mt 12:40)</p>
<p> Si vamos ahora a leer el caso de Jonás, veremos que también <strong>allí se especifica</strong> que Jonás estuvo en
    el vientre de la ballena tres días y tres noches.</p>
<p></p>
<p> "<i>Mas Jehová había prevenido un gran pez que tragase a Jonás; y estuvo Jonás en el vientre del pez <strong>tres
    días y tres noches</strong></i>." (Jon 2:1)</p>
<p> Por lo que leemos en Mateo 12:40, podemos asegurar que como mínimo Jesús participó de algunas horas del período de
    claridad, y de algunas horas del período de oscuridad de los días de los extremos. Es decir, que se puede asegurar
    que aunque no llegaran a sumar las 72 horas cabales, Jesús estuvo en el corazón de la Tierra como mínimo una parte
    del primer período de claridad inicial, y una parte del período de oscuridad final. <strong>No existe la menor duda
        de que participó en seis mitades de día: tres períodos diurnos y tres nocturnos</strong>. Por lo tanto, este
    versículo me hace pensar que Jesús fue crucificado un jueves por el día, a eso de las 9 de la mañana, y murió a las
    tres de la tarde de ese mismo jueves.</p>
<p> Hagamos un diagrama representando cada período de oscuridad y cada período de claridad. Vamos a representar con una
    "M" el momento de su muerte y con una "R" el momento de su resurrección. El tiempo transcurrido entre la "M" y la
    "R" es el tiempo que Jesús estuvo en el corazón de la Tierra.</p>
<p>_____M__ ___________ _________ ___________ _________ ________R__ __________</p>
<p>Jueves día Viernes noche Viernes día Sábado noche Sábado día Domingo noche Domingo día</p>
<p> Como vemos gráficamente, en este caso que planteo, Cristo estuvo en el corazón de la Tierra por lo menos una parte
    del día Jueves, toda la noche del viernes, todo el día viernes, toda la noche del sábado, todo el día sábado, y por
    lo menos, una parte de la noche del domingo, resucitando antes de que llegara el período de claridad del
    domingo.</p>
<p><strong>En el caso de que aceptemos los tres días y las tres noches</strong>, que es lo que dice el Señor, lo más que
    se podría alegar en contra es que parte del día de uno de los extremos (el jueves) no estuvo muerto, pero al menos
    una parte de ese día jueves del extremo estuvo en el corazón de la Tierra. Lo mismo se puede decir con la noche del
    extremo (domingo); puede que no haya estado en el corazón de la Tierra la parte final de la noche del domingo, pero
    por lo menos estuvo muerto una parte del período de oscuridad del domingo, antes de que amaneciera. Eso nos dice que
    Cristo no pudo haber sido crucificado un viernes, sino un jueves.</p>
<p> Vamos a ver ahora en un diagrama el caso opuesto, el mismo asunto, pero esta vez tal y como lo enseña la tradición,
    es decir, suponiendo que la crucifixión ocurrió un viernes.</p>
<p> ______M__ ____________ __________ __________R___ ____________</p>
<p> Viernes día Sábado noche Sábado día Domingo noche Domingo día</p>
<p> Como vemos, si se adopta lo que dice la tradición, de ninguna manera pudo Jesús estar en el corazón de la Tierra
    tres días y tres noches, sino que el máximo de tiempo que pudo haber estado fueron dos días y dos noches. <strong>Esto
        no concuerda con lo dicho por el Señor, el cual lo especifica muy claramente</strong>. Por lo tanto, no puede
    ser cierto que Cristo haya sido crucificado un viernes.</p>
<p> En cuanto a lo que dije que Cristo fue crucificado a las 9 de la mañana y murió a las 3 de la tarde, me baso para
    decir tal cosa en Mr 15:25 y 34-37. Tengamos en cuenta que ellos contaban las 12 horas del día a partir del
    amanecer, o sea comenzando en lo que hoy llamaríamos las 6 de la mañana; y las velas de la noche las contaban a
    partir del oscurecer. Así la hora de las tres era lo que hoy llamamos las 9 de la mañana, y la hora nona u hora
    novena eran las tres de la tarde.</p>
<p></p>
<p> "<i>Y era la hora de las tres cuando le crucificaron</i>." ( Mr 15:25)</p>
<p></p>
<p> "<strong>Y a la hora de nona</strong><i>, exclamó Jesús a gran voz, diciendo: Eloi, Eloi, ¿lama sabachtani? que
    declarado, quiere decir: Dios mío, Dios mío, ¿por qué me has desamparado? Y oyéndole unos de los que estaban allí,
    decían: He aquí, llama a Elías. Y corrió uno, y empapando una esponja en vinagre, y poniéndola en una caña, le dio a
    beber, diciendo: Dejad, veamos si vendrá Elías a quitarle. Mas Jesús, <strong>dando una grande voz, espiró</strong></i>."
    (Mr 15:34-37)</p>
<p><strong>Las tradiciones no son malas en sí mismas, lo malo es cuando la tradición sustituye a la Escritura</strong>.
    Siempre que una tradición no se dé de punta con la Biblia ni con el sentido común, se puede aceptar; pero si algo en
    la Biblia la contradice, se debe rechazar. Por eso es bueno leer diariamente la Biblia, por orden, sin saltos,
    comenzando en el Génesis, terminando en el Apocalipsis, y volviendo a comenzar por el Génesis. Debemos hacer eso
    mientras vivamos, sin creernos nunca que ya la leímos suficiente, porque a cada rato se nos presentarán nuevas
    dificultades que hay que analizar. Sólo releyendo una vez más toda la Biblia vamos a encontrar un argumento para
    resolver la dificultad.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>