---
import Layout from "../layout/Layout.astro";
---

<Layout title="Protección de Daniel en el foso de los leones">
    <section>
<p><strong>Why Daniel had divine protection in the lion's den</strong></p>
<p><strong>According to Daniel, God liberated him from the mouths of the lions, because he was just.</strong></p>
<p></p>
<p><strong>"</strong>20 <i>And when he came to the den<strong>,</strong> he cried with a lamentable voice unto
    Daniel<strong>,</strong> and the king spake and said to Daniel<strong>:</strong> O Daniel<strong>,</strong> servant
    of the living God<strong>,</strong> is thy God<strong>,</strong> whom thou servest continually<strong>,</strong>
    able to deliver thee from the lions<strong>?</strong></i> 21 <i>Then said Daniel unto the king<strong>,</strong> O
    king<strong>,</strong> live forever<strong>.</strong></i> 22 <strong>My God hath sent his angel, and hath shut the
    lions' mouths, that they have not hurt me, forasmuch as before him innocence was found in me;</strong> <i>and also
    before thee<strong>,</strong> O king<strong>,</strong> have I done no hurt<strong>.</strong></i><strong>"</strong>
    (Daniel 6<strong>:</strong>20-22)</p>
<p> Does this mean that the grave things that occur to a human being are because he has a certain injustice credited to
    him<strong>?</strong> A sin that was committed by him may not be directly in relation with the injustice of the
    suffering<strong>,</strong> but God does not deliver him from it<strong>,</strong> which is unjust<strong>,</strong>
    because he did not receive sufficient punishment for some sin he committed<strong>.</strong></p>
<p><strong>In synthesis, a fault or stain that a human being has or commits before God, invalidates all or part of the
    protection God gives us through his angels.</strong></p>
<p> Since Daniel did not have a negative balance in his account<strong>,</strong> but any wrongdoings he previously
    committed were already paid for<strong>;</strong> the angelic-divine protection manifested itself hundred
    percent<strong>.</strong></p>
<p> Does this mean that all bad things that come upon a person are as a result of punishment or some debt he has to
    pay<strong>?</strong> Not necessarily<strong>.</strong> Sometimes persons of higher merit before God can experience
    very hard times<strong>,</strong> in which they will serve God to demonstrate how much they love
    him<strong>,</strong> and they continue to love him no matter how bad their experience<strong>.</strong> This was
    the case with Job<strong>.</strong> <strong>But</strong> <strong>let us not think that we are all like Job.</strong>
</p>
<p> What occurs sometimes is that the consequences of a national or social sin falls on a particular nation or society
    and all members are sprinkled with the punishment<strong>.</strong> Even though all of this is
    true<strong>,</strong> <strong>the first thing I do is not examining the society or the nation, but examine
        myself.</strong> As we can see<strong>,</strong> one of the blessings of holiness is to count <strong>on
        absolute protection</strong> from God<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    