<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Death Penalty will not Hinder a Convict from Being Saved</title>
</head>
<body>
<p><strong>The Death Penalty Will not Hinder a Convict from Being Saved</strong></p>
<p> There are times when God wants to make an exception with a criminal<strong>.</strong> When that is the
    case<strong>,</strong> God always finds the way to do it without us modifying the behavioral standard given by God's
    laws<strong>.</strong> Let's study the following case<strong>.</strong></p>
<p></p>
<p><strong>"</strong>19 <i>There</i> <i>was not a city that made peace with the children of Israel<strong>,</strong>
    save the Hivites the inhabitants of Gibeon<strong>;</strong> all other they took in battle<strong>.</strong></i> 20
    <i><strong>For it was of the LORD to harden their hearts,</strong> that they should come against Israel in
        battle<strong>,</strong> that he might destroy them utterly<strong>,</strong> and that they might have no favour<strong>,</strong>
        but that he may destroy them<strong>,</strong> as the LORD commanded Moses</i><strong>."</strong>
    (Jos<strong>.</strong> 11<strong>:</strong>19-20)</p>
<p><strong>All of the inhabitants of the region conquered by Joshua were to be exterminated.</strong>
    However<strong>,</strong> for some reason the Hivites living in Gibeon should be pardoned<strong>.</strong> <strong>Maybe
        to give them the opportunity to become familiar with the true faith, knowing God that many, or some of them
        would accept it.</strong> They should be pardoned<strong>,</strong> I repeat<strong>,</strong> but without
    weakening<strong>,</strong> because of it<strong>,</strong> the order of general extermination<strong>,</strong>
    That's why God used another way<strong>.</strong></p>
<p> The order for general extermination was very rigorous<strong>,</strong> even so<strong>,</strong> Hebrews disobeyed
    it causing a negative outcome as seen in Judges 2<strong>:</strong>1-3<strong>.</strong> God did
    much<strong>,</strong> but much emphasis on the extermination of those conquered people<strong>,</strong> and this
    may be why He did not wanted to weaken the force of this order<strong>,</strong> making exceptions<strong>.</strong>
    In its place<strong>,</strong> and to reach the same end <strong>(and this is my opinion)</strong> He permitted the
    Hivites to use the necessary cleverness to free themselves from death<strong>,</strong> without the Hebrews being
    able to find a way to debilitate the order of total extermination<strong>.</strong> Being so<strong>,</strong> the
    Hebrews did not have to modify the standard of conduct set by God<strong>,</strong> and the Hivites were able to
    save themselves as God wanted<strong>.</strong></p>
<p><strong>Something similar happens with those condemned to death.</strong> The human being must obey God's
    commandments when it comes to the punishment of homicide<strong>.</strong> If there is an exception to be
    made<strong>,</strong> the one who makes it is God<strong>,</strong> not us<strong>.</strong></p>
<p><strong>There are Christians who despite the fact that God's word commands the execution of murderers, they attempt
    to amend what God has already established, by imprisoning them instead.</strong> They
    <strong>"</strong>reason<strong>"</strong> (if that can be called reasoning) that
    <strong>"</strong>maybe<strong>"</strong> that murderer will repent and seeks God in the future<strong>,</strong>
    which is why<strong>,</strong> according to them<strong>,</strong> it is better to let him live<strong>.</strong>
    God<strong>,</strong> who knows better than us what is to be done<strong>,</strong> commanded us to execute
    murderers<strong>,</strong> and that is what should be done<strong>.</strong> If a murderer has the possibility to
    repent and be saved in the future<strong>,</strong> God will provide the circumstances to protect
    him<strong>.</strong> God could give him enough intelligence so that his crime is not discovered<strong>,</strong>
    or to escape the actions of justice if he is discovered<strong>.</strong> <strong>But God will make that exception,
        he is the one who knows and has the right to do it; not I,</strong> who neither has the knowledge nor the right
    to modify what God has commanded<strong>.</strong></p>
<p><strong>If a murderer falls into the hands of the law it is because God has permitted or caused it to happen; and if
    he permits it, it is because he wants what he himself commands to be done: to execute him.</strong> If God wanted
    him to be put in prison instead of executing him<strong>,</strong> He would not modify his
    commandment<strong>,</strong> but would cause the murderer's theft to be discovered and not the
    murder<strong>.</strong> <strong>The ones who go out to modify God's commandments to "help" God or their neighbor
        are very foolish.</strong> If Gods commandments were followed and not those of the international
    mafias<strong>,</strong> those of the criminal attorneys<strong>,</strong> those of psychologists and mistaking
    Christians<strong>,</strong> there would not be so much crime in countries<strong>.</strong></p>
<p> With all this said I don't intend to make you think that all murderers who are not discovered or condemned to death
    are to be saved<strong>.</strong> There are many reasons that could cause such an injustice<strong>.</strong> The
    reasons could be merely human<strong>.</strong> God gives man<strong>,</strong> the society and
    authorities<strong>,</strong> certain autonomic behavior<strong>.</strong> He tells them what they should do<strong>,</strong>
    but does not force them to do it<strong>.</strong> The opportunity will come for each to be held accountable and
    also for those responsible for His will not being done<strong>.</strong></p>
<p> Aside from this<strong>,</strong> we see in verse 20<strong>,</strong> that those that God intended to be
    exterminated<strong>,</strong> instead of giving them intelligence<strong>,</strong> like the
    Hivites<strong>,</strong> he hardened them like Pharaoh<strong>.</strong> <strong>To understand the dynamic and the
        justice of the hardening of Pharaoh without altering his free will, see biblical note # 4 in this
        section.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>
</body>
</html>