
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Did Prophet Micaiah son of Imlah lie</title>
</head>
<body>
<p><strong>THE 400 PROPHETS OF AHAB AND THE DECEPTION.</strong></p>
<p><strong>DID MICAIAH SON OF IMLAH LIE?</strong></p>
<p> The first thing we must notice is that the prophet named Micaiah is not Micah the Morasthite<strong>,</strong> who
    wrote one of the last books of the Old Testament<strong>.</strong> Instead we are speaking of Micaiah the son of
    Imlah<strong>.</strong></p>
<p> Before we begin to analyze the passage that might lead us to believe that Micaiah lied<strong>,</strong> it is good
    to be familiar with the 400 prophets of Ahab<strong>,</strong> king of Israel<strong>,</strong> to the north<strong>.</strong>
    These 400 prophets would <strong>"</strong>prophesize<strong>"</strong> promising things to King
    Ahab<strong>.</strong> Meanwhile God had Micaiah<strong>,</strong> son of Imlah<strong>,</strong> contradict what
    they were saying<strong>.</strong> These were false prophets of God<strong>,</strong> but weren't the prophets of
    Baal<strong>.</strong></p>
<p><strong>There are two reasons that lead me to believe that the 400 were not prophets of Baal. The first reason
    is</strong> because Elijah<strong>,</strong> not long before<strong>,</strong> had killed the 450 prophets of
    Baal<strong>.</strong> It would have been extremely difficult to gather another 400 in such a small amount of
    time<strong>.</strong> <strong>The second reason is</strong> that even though they were false prophets of
    Jehovah<strong>,</strong> they would speak in the name of God<strong>,</strong> as we can see in
    22<strong>:</strong>11-12 and 24<strong>.</strong> It is not uncommon to see this today<strong>.</strong> There are
    many people who preach in the name of God and Christ<strong>,</strong> yet do not believe in them<strong>.</strong>
    The case of the prophet Hananiah<strong>,</strong> in the 28th chapter of Jeremiah<strong>,</strong> is a good
    example of this<strong>.</strong></p>
<p><strong>"</strong>11 <i>And Zedekiah son of Chenaanah maketh for himself horns of iron<strong>,</strong> and
    saith<strong>:</strong> <strong>Thus said Jehovah:</strong> By these thou dost push the Aramaeans till they are
    consumed<strong>.</strong></i> 12 <i>And all the prophets are prophesying so<strong>,</strong>
    saying<strong>:</strong> Go up to Ramoth-Gilead<strong>,</strong> and prosper<strong>,</strong> <strong>and Jehovah
        hath given it into the hand of the king</strong></i><strong>."</strong> (I K 22<strong>:</strong>11-12)</p>
<p></p>
<p><strong>"</strong>24 <i>And Zedekiah son of Chenaanah draweth nigh<strong>,</strong> and smiteth Micaiah on the cheek<strong>,</strong>
    and saith<strong>:</strong> Where is this he hath passed over <strong>the Spirit of Jehovah</strong> from me to
    speak with thee</i><strong>?"</strong> (I K 22<strong>:</strong>24)</p>
<p> Besides<strong>,</strong> this passage only mentions the 400 living prophets<strong>,</strong> which would confirm
    the execution of the 450 prophets of Baal<strong>.</strong> In I K 18<strong>:</strong>19 we see that Elijah
    mentions the 400 prophets of the shrine as well as the 450 prophets of Baal<strong>.</strong>
    However<strong>,</strong> in 18<strong>:</strong>40<strong>,</strong> Elijah kills only those who acknowledged
    Baal<strong>.</strong> It could be that the 400 prophets of the shrine were considered ministers of
    Jehovah<strong>,</strong> even though they had irregular services in the shrines and not in the Temple of
    Jerusalem<strong>,</strong> to the south<strong>.</strong> It is possible that Elijah didn't kill them for this
    reason<strong>.</strong> Being that the 400 prophets mentioned in I K 22<strong>:</strong>11-12 could or could not
    be the same ones mentioned in 18<strong>:</strong>19<strong>,</strong> the fact of the matter is that they would
    call themselves prophets of God<strong>,</strong> even though they weren't in reality<strong>.</strong> At least
    they nominally invoked the name of God<strong>.</strong></p>
<p><strong>"</strong>19 <i>And now<strong>,</strong> send<strong>,</strong> gather unto me all Israel<strong>,</strong>
    unto the mount of Carmel<strong>,</strong> and <strong>the prophets of Baal four hundred and fifty, and</strong>
    <strong>the prophets of the shrine,</strong> four hundred<strong>,</strong> eating at the table of
    Jezebel</i><strong>."</strong> (I K 18<strong>:</strong>19)</p>
<p></p>
<p><strong>"</strong>40 <i>And Elijah saith to them<strong>:</strong> <strong>Catch ye the prophets of Baal; let not a
    man escape of them;</strong> and they catch them<strong>,</strong> and Elijah bringeth them down unto the stream
    Kishon<strong>,</strong> and doth slaughter them there</i><strong>."</strong> (I K 18<strong>:</strong>40)</p>
<p><strong>In addition to the prior reasoning,</strong> we see that Jehoshaphat of Judah asks Ahab of Israel to consult
    Jehovah (5)<strong>.</strong> Ahab brings him the 400 prophets<strong>.</strong> It is not logical to think that if
    they avowedly were prophets of Baal<strong>,</strong> Ahab would try to pass them to Jehoshaphat as prophets of
    Jehovah<strong>.</strong> Therefore we should conclude that these men classified themselves as prophets of
    Jehovah<strong>,</strong> even though they were partial or absolute impersonators<strong>.</strong></p>
<p><strong>"</strong>5 <i>And Jehoshaphat saith unto the king of Israel<strong>:</strong> <strong>Seek,</strong>
    <strong>I pray thee, today, the word of Jehovah.</strong></i> 6 <i>And the king of Israel <strong>gathereth</strong>
    <strong>the prophets, about four hundred men,</strong> and saith unto them<strong>:</strong> Do I go against
    Ramoth-Gilead to battle<strong>,</strong> or do I forbear<strong>?</strong> And they say<strong>:</strong> Go
    up<strong>,</strong> and the Lord doth give it into the hand of the king<strong>.</strong></i> 7 <i>And Jehoshaphat
    saith<strong>:</strong> <strong>Is there not here a prophet of Jehovah besides, and we seek by him?</strong></i> 8
    <i>And the king of Israel saith unto Jehoshaphat<strong>:</strong> Yet one man to seek Jehovah by
        him<strong>,</strong> and I have hated him<strong>,</strong> for he doth not prophesy concerning me good<strong>,</strong>
        but evil <strong>Micaiah</strong> <strong>son of Imlah.</strong> And Jehoshaphat saith<strong>:</strong>
        <strong>Let not the king say so.</strong></i> 9 <i>And the king of Israel calleth unto a certain
        eunuch<strong>,</strong> and saith<strong>:</strong> <strong>Hasten Micaiah son of
            Imlah</strong></i><strong>."</strong> (I K 22<strong>:</strong>5-6)</p>
<p> When Jehoshaphat of Judah (where they worshipped God not Baal) asked Ahab to consult God<strong>,</strong> he brings
    him these 400 prophets (6)<strong>.</strong> But it looks as if Jehoshaphat wasn't sold on the faith of these 400
    <strong>"</strong>prophets of Jehovah<strong>"</strong> because he asks (7) if there was any other prophet of
    God<strong>.</strong> Despite the resistance of Ahab King of Israel to call on <strong>the true prophet of
        God,</strong> in the presence of the insistence of King Jehoshaphat of Judah (8-9)<strong>,</strong> he opted to
    please him<strong>.</strong> Ahab couldn't let one of his caprices ignore the precious military help from the troops
    of Jehoshaphat of Judah who were present<strong>,</strong> as we can see in verse 4<strong>.</strong></p>
<p><strong>"</strong><i>And he saith unto Jehoshaphat<strong>:</strong> Dost thou go with me to battle to
    Ramoth-Gilead<strong>?</strong> <strong>And Jehoshaphat saith unto the king of Israel: As I am, so thou; as my
        people, so thy people; as my horses, so thy horses</strong></i><strong>."</strong> (I K 22<strong>:</strong>4)
</p>
<p> Because of this<strong>,</strong> despite resistance from Ahab<strong>,</strong> the prophet
    <strong>Micaiah</strong> <strong>enters the scene.</strong> As you'll see further ahead<strong>, Micaiah in reality
        was sent by God</strong> to explain how there was a spirit of error in the 400
    <strong>"</strong>prophets<strong>"; showing us that God doesn't neglect the truth from anyone looking for
        it.</strong></p>
<p><strong>"</strong>15 <i>And he cometh in unto the king<strong>,</strong> and the king saith unto
    him<strong>:</strong> Micaiah<strong>,</strong> do we go unto Ramoth-Gilead<strong>,</strong> to
    battle<strong>,</strong> or do we forbear<strong>?</strong> <strong>And he saith unto him: Go up, and prosper, and
        Jehovah hath given it into the hand of the king.</strong></i> 16 <i>And the king saith unto
    him<strong>:</strong> <strong>How many times am I adjuring thee that thou speak nothing unto me but truth in the
        name of Jehovah?</strong></i> 17 <i>And he saith<strong>:</strong> <strong>I have seen all Israel scattered on
    the hills as sheep that have no shepherd, and Jehovah saith: These have no master; they turn back each to his house
    in peace</strong></i><strong>."</strong> (I K 22<strong>:</strong>15-17)</p>
<p> Even though Micaiah says something in verse 15 that is not true<strong>,</strong> it cannot be classified as a
    lie<strong>.</strong> It is obviously said in a way that nobody<strong>, not even Ahab</strong>
    (16)<strong>,</strong> would believe him<strong>.</strong> I<strong>t is possible that the tone of voice, the
        gestures of his hands or face, etc., indicated that he spoke in an ironic form or jeering fashion.</strong> By
    the context we can tell that Micaiah said this in a way that everyone would understand that it wasn't
    true<strong>.</strong></p>
<p><strong>To believe this, I base myself on</strong> Ahab's reaction in verse 16<strong>.</strong> If Micaiah would
    have said it in a way that could have been taken seriously<strong>,</strong> Ahab<strong>,</strong> who would have
    benefited from people thinking Micaiah prophesized in his favor<strong>,</strong> would have kept his mouth shut and
    wouldn't have scolded<strong>,</strong> like he did in verse 16<strong>.</strong> However we can tell by King Ahab's
    annoyance<strong>,</strong> that he could not take what Micaiah said as something acceptable<strong>.</strong>
    <strong>Therefore Micaiah, son of Imlah, did not lie. Instead he said this in an ironic form that was evident to
        everyone.</strong></p>
<p> If Micaiah would have said this in a credible way (15)<strong>,</strong> Ahab would have kept his mouth shut and let
    it pass<strong>.</strong> This would have benefited him and his purpose of motivating his people for
    war<strong>.</strong> If we cannot perceive the true meaning of what he said today<strong>,</strong> it is because
    we didn't here his tone of voice and didn't see his facial or manual gestures<strong>.</strong> But we can guide
    ourselves by the context in which it was used<strong>.</strong></p>
<p><strong>In everyday life we frequently speak like Micaiah.</strong> Say someone asks<strong>,</strong>
    <strong>"</strong>have you seen Johnny<strong>?"</strong> and his interlocutor responds<strong>,</strong>
    <strong>"</strong>Yeah<strong>,</strong> I saw a dog carrying him by the mouth<strong>."</strong> We can come to the
    conclusion that this person hasn't seen Johnny<strong>.</strong> Even though what he said is not
    true<strong>,</strong> it also isn't a lie<strong>,</strong> because it is said in a way that no one would
    believe<strong>.</strong></p>
<p><strong>What occurred with Micaiah is the complete opposite of what occurred with the 400 prophets.</strong> Micaiah
    says something false in a way that no one would believe it is true<strong>,</strong> but things are cleared up later<strong>.</strong>
    The 400 prophets say something false so that everyone would believe it is true<strong>,</strong> without trying to
    clear anything up<strong>.</strong> Now<strong>,</strong> who fooled the prophets<strong>?</strong></p>
<p><strong>In reading 19-23 we see that during this time period rebellious spirits lived in heaven,</strong> and would
    stand in front of the Throne of God the same way that we see it done in Job chapter one<strong>.</strong> It would
    stay this way until an attempt on the life of Jesus was made<strong>.</strong> It was then when they were expulsed
    from Heaven to Earth<strong>.</strong></p>
<p> Anyhow<strong>,</strong> one of those rebellious angels tried to deceive the 400 prophets of Ahab<strong>.</strong>
    God allowed such a thing (22)<strong>,</strong> but <strong>didn't allow the deception to remain deceptive.</strong>
    Even in front of King Ahab<strong>,</strong> who wanted to induce his troops to battle
    Ramoth-Gilead<strong>.</strong></p>
<p><strong>"</strong>19 <i>And he saith<strong>:</strong> Therefore<strong>,</strong> hear a word of
    Jehovah<strong>:</strong> I have seen Jehovah sitting on His th</i>rone<strong>,</strong> and all the host of the
    heavens standing by Him<strong>,</strong> on His right and on His left<strong>;</strong> 20 <i>and Jehovah
        saith<strong>:</strong> Who doth entice Ahab<strong>,</strong> and he doth go up and fall in
        Ramoth-Gilead<strong>?</strong> And this one saith thus<strong>,</strong> and that one is saying
        thus<strong>.</strong></i> 21 <i>And the spirit goeth out<strong>,</strong> and standeth before
        Jehovah<strong>,</strong> and saith<strong>:</strong> I do entice him<strong>;</strong> and Jehovah saith unto
        him<strong>:</strong> By what<strong>?</strong></i> 22 <i>And he saith<strong>:</strong> <strong>I go out, and
        have been a spirit of falsehood in the mouth of all his prophets.</strong> And He saith<strong>:</strong> Thou
        dost entice<strong>,</strong> and also thou art able<strong>;</strong> go out and do so<strong>.</strong></i> 23
    <i><strong>And now, lo, Jehovah hath put a spirit of falsehood in the mouth of all these thy prophets,</strong> and
        Jehovah hath spoken concerning thee evil</i><strong>."</strong> (I K 22<strong>:</strong>19-23)</p>
<p></p>
<p><strong>"</strong>26 <i>And the king of Israel saith<strong>:</strong> Take Micaiah<strong>,</strong> and turn him
    back unto Amon head of the city<strong>,</strong> and unto Joash son of the king<strong>,</strong></i> 27 <i>and
    thou hast said<strong>:</strong> Thus said the king<strong>:</strong> Place ye this one in the house of
    restraint<strong>,</strong> and cause him to eat bread of oppression<strong>,</strong> and water of
    oppression<strong>,</strong> <strong>till my coming in peace.</strong></i> 28 <strong>And Micaiah saith: If thou at
    all return in peace, Jehovah hath not spoken by me.</strong> <i>And he saith<strong>:</strong>
    Hear<strong>,</strong> O peoples<strong>,</strong> all of them</i><strong>."</strong> (I K 22<strong>:</strong>26-28)
</p>
<p><strong>As we see in 19-23 and 28, a true prophet of God would clear up everything that occurred in detail; therefore
    there was no deceit.</strong> Not only did he tell the truth<strong>;</strong> he clarified the lie that the false
    prophets were <strong>"</strong>prophesizing<strong>".</strong> The fault was with those who didn't want to believe
    the truth and decided to believe the false prophets instead<strong>,</strong> since they were the ones telling them
    what they wanted to hear<strong>.</strong></p>
<p> It's the same with fallen angels<strong>,</strong> which seem to ignore their destiny<strong>.</strong> This is also
    seen in false religions and in the true one<strong>,</strong> Christianity<strong>.</strong> God allows false
    religions (spiritism<strong>,</strong> buddhism<strong>,</strong> judaism<strong>,</strong>
    ruselism<strong>,</strong> armstrongism<strong>,</strong> islam<strong>,</strong> mormonism<strong>,</strong>
    romanism<strong>,</strong> etc<strong>.,</strong>) which are the false prophets of today<strong>.</strong> They tell
    their lies<strong>,</strong> yet God has kept his Sacred Scriptures so anyone could find the truth<strong>.</strong>
    Those who preach these lies know the truth<strong>.</strong> They also know they are lying<strong>.</strong> The
    fault also lies with those who prefer to believe the ones who flatter them with lies<strong>.</strong></p>
<p> In the case of King Ahab<strong>,</strong> despite being face to face with the truth<strong>,</strong> he chose to
    reject it<strong>.</strong> He preferred the lies coming from 400 false prophets<strong>,</strong> which would
    concord with his hunger for power and his eagerness to conquer that city<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Return to the index</a></strong></p>
</body>
</html>