---
import Layout from "../layout/Layout.astro";
---

<Layout title="Dios sí castiga a los cristianos">
    <section>
<p><strong>Dios sí castiga a los cristianos</strong></p>
<p> En muchas ocasiones, yo diría que en la mayoría, Dios castiga al humano para que aprenda algo, y además, porque
    lleva castigo lo que hizo; pero otras muchas veces lo castiga, sencillamente, porque lleva castigo la acción
    cometida, sin que lleve aparejado un intento de educación. El hecho de que seamos salvos por Cristo <strong>no
        quiere decir que podemos pecar impunemente</strong>. Lo más que quiere decir es que si nuestros pecados no
    rebasan cierto límite endureciéndonos el alma, mantenemos nuestra salvación; pero aún dentro de ese estado de
    salvación vamos a recibir los castigos correspondientes a nuestras malas acciones. Veamos qué dice Pablo al
    respecto.</p>
<p></p>
<p> "<i>Que si nos examinásemos a nosotros mismos, cierto no seríamos juzgados. Mas siendo juzgados, <strong>somos
    castigados del Señor</strong>, para que no seamos condenados con el mundo</i>." ( I Co 11: 31-32 )</p>
<p> Muy, pero muy lejos tiene que llegar el cristiano pecando, para que pierda su salvación; <strong>pero no tiene que
    ir más lejos que cualquier otro que no sea cristiano, para recibir iguales castigos terrenales por sus pecados. Y yo
    diría que a veces va a recibir castigos peores</strong>, porque el siervo que conoce la voluntad de su Señor y no la
    hace, será azotado mucho, como dice Jesucristo en Lc 12: 47. Dios no hace acepción de personas, según nos enseña
    Pedro en Hch 10: 34, o sea, a igual pecado y circunstancias corresponde idéntico castigo.</p>
<p></p>
<p> "<i>Porque <strong>el siervo que entendió</strong> la voluntad de su señor, y no se apercibió, ni hizo conforme a su
    voluntad, <strong>será azotado mucho</strong></i>." ( Lc 12: 47 )</p>
<p></p>
<p> "<i>Entonces Pedro, abriendo su boca, dijo: Por verdad hallo que <strong>Dios no hace acepción de personas</strong></i>"
    ( Hch 10: 34 )</p>
<p><strong>El pecado tiene consecuencias terrenales y eternas</strong>. Ambas hay que sufrirlas. Si las eternas nos
    fueron perdonadas por Cristo, luego de <strong>nuestro sincero arrepentimiento</strong>, no así las terrenales, que
    nos alcanzan, como vimos en I Co 11: 31-32. Lo mismo vemos en Heb 12: 6-8.</p>
<p></p>
<p> "<i>Porque <strong>el Señor al que ama castiga, y azota a cualquiera que recibe por hijo. Si sufrís el castigo, Dios
    se os presenta como a hijos</strong>; porque ¿qué hijo es aquel a quien el padre no castiga? Mas si estáis fuera del
    castigo, <strong>del cual todos han sido hechos participantes</strong>, luego sois bastardos, y no hijos</i>." ( Heb
    12: 6-8 )</p>
<p><strong>Hay quienes están en pecado, y a la vez están sufriendo angustias; y en vez de comprender la vinculación que
    existe entre sus pecados y sus angustias</strong>, creen que ellos tienen perdonados todos los pecados que
    cometieron y cometerán, mientras que, por el otro lado, no se explican el porqué están sufriendo.</p>
<p> Es decir, que <strong>la gente que así piensa se figura que Dios comete dos injusticias al mismo tiempo</strong>:
    por un lado no castiga en el cristiano lo que sí castiga en los <strong>no</strong> cristianos; y por el otro lado,
    le envía al cristiano angustias sin que él dé el menor motivo para ello. ¡Hay que ser necio!</p>
<p> A mí me parece que los cristianos que este tipo de cosas piensan, lo hacen como un dispositivo psicológico de
    defensa, con el cual protegen sus concupiscencias. <strong>Ellos aman profundamente sus concupiscencias y no quieren
        dejarlas aunque les cueste sufrir. Tampoco quieren perder su salvación, a la que solamente aman un poquito más
        que a sus concupiscencias</strong>. Como que saben o intuyen que el reconocer que Dios les está cobrando las
    cuentas, y persistir en pecar, puede convertirse en un rechazo al Espíritu Santo, y un pecado imperdonable,
    prefieren "auto convencerse" de que no es eso lo que está sucediendo, sino que lo que pasa es que sus pecados son
    perdonados inmediatamente después de cometidos, mientras que sus angustias y castigos, son motivados por algo
    "desconocido" para ellos. Por eso nos dan necias explicaciones tales como "son pruebas hermano", "son misterios
    hermano", "es que no puede haber felicidad en esta vida hermano", etc..</p>
<p><strong>De esta manera se sienten artificialmente libres para seguir "gozando" de sus concupiscencias, sin por ello
    perder la salvación.</strong> Es un caso semejante al del borracho, el drogadicto, o el vicioso sexual, que aunque
    ve claramente los sufrimientos que le causan sus concupiscencias, prefieren soportar aquéllos y seguir "gozando" de
    éstas.</p>
<p><strong>Está claro en el pasaje I Co 11: 31-32 que Dios castiga no sólo como método pedagógico, sino como penalidad,
    para satisfacer la justicia establecida en las reglas de comportamientos dadas</strong>.</p>
<p> Si siendo juzgados ( versículo 32 ) somos castigados, no somos castigados por enseñanza, sino por penalidad.
    <strong>Para enseñar no hay que hacer un juicio, éste se hace cuando se va a castigar a uno que delinque</strong>.
</p>
<p> A los cristianos <strong>no</strong> nos van a cobrar nuestros pecados en la eternidad, nos los van a cobrar aquí;
    <strong>aquí nos castigan</strong>. Por eso, debiendo estar por encima de todos, ( dado que tenemos la ayuda de
    Dios), más bien estamos por debajo. Siendo los cristianos los hijos de Dios, los hermanos de Cristo, no somos los de
    arriba, sino los atropellados. <strong>Tenemos que pagar aquí lo malo que aquí hacemos, puesto que no nos lo van a
        cobrar después</strong>. Lo contrario sucede con los enemigos de Dios, lo bueno que hacen aquí se les va a pagar
    aquí, puesto que allá van a pagar lo malo que hicieron.</p>
<p> La misma doctrina nos es enseñada por el apóstol Pablo cuando en Ga 6: 7 y Col 3: 25 nos dice lo siguiente:</p>
<p></p>
<p> "<i>No os engañéis, Dios no puede ser burlado, que <strong>todo lo que el hombre sembrare, eso también
    segará</strong></i>." ( Ga 6: 7 )</p>
<p> "<i>Mas el que hace injuria, recibirá la injuria que hiciere; que <strong>no hay acepción de personas</strong></i>."
    ( Col 3: 25 )</p>
<p> A pesar de todos estos claros pasajes, hay quienes piensan que Dios no castiga a los cristianos, sino que solamente
    los educa. <strong>Hablándoles Pablo a los cristianos, y refiriéndose a ellos</strong>, les dice que ninguno engañe
    a su hermano. El apóstol le dice a un cristiano que no oprima ni engañe a otro cristiano, <strong>porque el Señor se
        venga de todo eso</strong>. Venganza es castigo, no educación, y en este versículo vemos que ese castigo se le
    aplica a los cristianos también. <strong>Es lógico que así sea, pues Dios no hace acepción de personas.</strong></p>
<p></p>
<p> "<i>Que ninguno oprima, ni engañe en nada a su hermano, porque <strong>el Señor es vengador de todo esto, como ya os
    hemos dicho y protestado</strong></i>." ( I Tes 4: 6 )</p>
<p> No sólo hay corrección para reeducación, también hay venganza para castigo, sin reeducación, necesariamente.
    <strong>Y si todo esto le ocurre a los cristianos, los cuales seremos salvos, es lógico pensar que esa venganza
        ocurre contra nosotros aquí y ahora, pues después de la resurrección ya no habrá castigos para
        nosotros.</strong> Vemos en el versículo que acabamos de leer, que ya Pablo le había hablado antes sobre este
    asunto a los tesalonicenses, porque les dice que ya se los había dicho y protestado. Al usar la palabra
    "protestado", nos da la sensación de que era una seria advertencia, tal vez porque no le habían hecho mucho caso a
    esta verdad. Algo parecido hacen los que hoy en día <strong>quieren creer</strong> que el Señor no castiga a los
    cristianos. Más vale que despierten a tiempo, para que luego, cuando los castigos les caigan encima, no se pongan a
    vocear la necedad que tan comúnmente escuchamos: "son pruebas, hermano", "son misterios, hermano".</p>
<p> Vean también los artículos números 26 y 39 sobre este mismo asunto, en este mismo website.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    