<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Dios Recompensa y Castiga ya y aquí</title>
</head>
<body>
<p><strong>DIOS RECOMPENSA Y CASTIGA, YA</strong></p>
<p><strong>Yo soy de opinión que todo lo que se hace se paga; lo bueno y lo malo.</strong> Hay quienes creen que<strong>,</strong>
    una vez salvados por Jesucristo<strong>,</strong> ya la gracia impide todo castigo<strong>.</strong> Lo más que
    llegan a admitir es que Dios nos azota como método pedagógico no como penalidad<strong>.</strong> Yo entiendo que
    usa ambas cosas<strong>,</strong> unas veces una<strong>,</strong> otras veces otra<strong>,</strong> y en ocasiones
    ambas al mismo tiempo<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Sabiendo que <strong>el bien que cada uno hiciere, esto recibirá del Señor,</strong> sea siervo
    o sea libre</i><strong>."</strong> (Ef 6<strong>:</strong>8)</p>
<p> En este pasaje vemos que por lo menos el bien que uno hiciere lo recibirá del Señor<strong>,</strong> sea quien
    fuere<strong>.</strong> En Ga 6<strong>:</strong>7 vemos que todo lo que el hombre sembrare<strong>,</strong> eso
    también segará<strong>.</strong> En ese caso se refiere tanto a lo bueno como a lo malo<strong>.</strong> Y <strong>esto
        está dicho después de la crucifixión; o sea, que aún después del sacrificio de Jesús continuaba
        vigente.</strong></p>
<p></p>
<p><strong>"</strong><i>No os engañéis<strong>,</strong> Dios no puede ser burlado<strong>,</strong> que <strong>todo lo
    que el hombre sembrare, eso también segará</strong></i><strong>."</strong> (Ga 6<strong>:</strong>7)</p>
<p> En I Co 11<strong>:</strong>29-32 vemos que a consecuencia de los pecados de algunos hermanos<strong>,</strong>
    éstos se hallaban enfermos y hasta habían muerto (30)<strong>.</strong> En el versículo 31 dice que si nos
    examinásemos para no cometer ese pecado<strong>,</strong> no seríamos juzgados<strong>,</strong> mas siendo juzgados
    (32) <strong>somos castigados.</strong></p>
<p></p>
<p><strong>"</strong>29 <i>Porque el que come y bebe indignamente<strong>,</strong> juicio come y bebe para
    sí<strong>,</strong> no discerniendo el cuerpo del Señor<strong>.</strong></i> 30 <i><strong>Por lo cual hay muchos
    enfermos y debilitados entre vosotros; y muchos duermen.</strong></i> 31 <i>Que si nos examinásemos a nosotros
    mismos<strong>,</strong> cierto no seríamos juzgados<strong>.</strong> 32 Mas siendo juzgados<strong>,</strong>
    <strong>somos castigados</strong> del Señor<strong>,</strong> para que no seamos condenados con el mundo</i><strong>."</strong>
    (I Co 11<strong>:</strong>29-32)</p>
<p><strong>Si el azote fuera sólo pedagógico,</strong> no tendría que ser precedido por el juicio<strong>.</strong> Si
    es precedido por un juicio es que es algo punitivo<strong>.</strong></p>
<p> Después<strong>,</strong> parece hacer referencia a por qué <strong>necesitamos que se nos castigue aquí y
    ahora:</strong> para no ser condenados con el mundo<strong>.</strong> Como que al mundo lo van a condenar en la otra
    vida<strong>,</strong> es evidente que Pablo quiere decir que nos la cobran aquí para que no pase nuestra cuenta
    para <strong>"</strong>allá<strong>".</strong> O sea<strong>,</strong> que <strong>sí somos azotados punitivamente y
        no sólo pedagógicamente.</strong> Las cosas malas que el cristiano hace después de su
    conversión<strong>,</strong> las va a pagar aquí<strong>;</strong> y se las van a cobrar por
    justicia<strong>,</strong> no solamente por pedagogía<strong>.</strong> <strong>El pecado tiene consecuencias
        actuales y eternas. Cristo murió por las eternas,</strong> pero las consecuencias actuales no dejan de
    alcanzarnos<strong>.</strong></p>
<p> Tú podrás creer que desde que te convertiste estás inmune a la electricidad<strong>,</strong> y podrás tener mucha
    fe en ello y <strong>"</strong>creerlo con fuerza<strong>",</strong> pero en cuanto la toques te convencerás de tu
    error<strong>.</strong> Claro<strong>,</strong> que si te empecinas podrás decir que lo que sentiste no era
    electricidad<strong>;</strong> pero eso no cambiará la realidad<strong>.</strong> Así también cuando sufres los
    castigos de Dios<strong>,</strong> puedes empecinarte en decir que eso no es un castigo<strong>;</strong> pero tal
    cosa no cambiará la realidad<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>