<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>¿De quién son los reinos del mundo?</title>
</head>
<body>
<p><strong>¿DE QUIÉN SON LOS REINOS DEL MUNDO?</strong></p>
<p><strong>¿DE DIOS O DE SATANÁS?</strong></p>
<p></p>
<p><strong>Dios, a través de mensajeros celestiales, profetas y apóstoles, nos ha dicho que los reinos de la Tierra son
    Suyos</strong>, y que pone sobre esos reinos a quien Él quiere. <strong>Por otro lado, Satanás dijo una vez que los
    reinos de la Tierra son de él.</strong> ¿A quién deben creerle los cristianos; y sobretodo, los pastores, autores de
    libros evangélicos y demás gente que enseña doctrina a sus hermanos?</p>
<p><strong>Hay cristianos que influidos por la herejía ruselista, piensan que Satanás es el que gobierna el
    mundo</strong>; que es Satanás el que pone y quita los reyes y gobernantes; pero toda la Biblia dice lo contrario,
    dice que <strong>es Dios el que pone y quita reyes.</strong> Satanás lo único que puede hacer es tentar a los que
    gobiernan para hacerlos hacer al menos parte de lo que él quisiera que hicieran. Valiéndose de las concupiscencias
    de los seres humanos, Satanás puede tratar de torcer los propósitos de Dios, como hace en todos los demás asuntos,
    tanto él como los demonios que le siguen. Pero eso no quiere decir que ellos gobiernan el mundo, puesto que ellos no
    pueden hacer todo lo que quieren. <strong>También Satanás y los demonios hacen lo mismo con los líderes de las
        iglesias y de las denominaciones,</strong> los tientan, los hacen pecar, los hacen apartarse de la voluntad de
    Dios, y no por eso vamos a decir que los pastores son puestos por Satanás, ni vamos a afirmar que Satanás gobierna
    las iglesias o que él fue el que fundó las denominaciones. Dios permite, bajo ciertos límites, la maldad humana,
    tanto en las personas, como en los gobiernos, como en las agrupaciones religiosas, pero eso no quiere decir que es
    Satanás el que gobierna en esas instituciones. La Escritura es muy clara respecto a este asunto. Veamos qué dice el
    profeta Daniel.</p>
<p></p>
<p> "<i>Y Daniel habló, y dijo: Sea bendito el nombre de Dios de</i></p>
<p><i> siglo hasta siglo, porque Suya es</i> <i>la sabiduría y la fortaleza,</i></p>
<p><i> y Él es el que muda los tiempos y las oportunidades; <strong>quita</strong></i></p>
<p><strong>reyes, y reyes;</strong> <i>da la sabiduría a los sabios, y la ciencia a los</i></p>
<p><i> entendidos; el revela lo profundo y lo</i> <i>escondido; conoce lo</i></p>
<p><i>que está en tinieblas, y la luz mora con Él</i>." (Dan 2: 20 - 22)</p>
<p></p>
<p> Como vemos, <strong>Daniel, que sabía más que todos los miembros del cuerpo gobernante de los ruselistas, y los
    cristianos que creen sus falsedades,</strong> nos declara que es Dios el que quita y pone reyes. No lo dice en forma
    vaga, sino diáfanamente. No lo dice en forma implícita, que haya que deducirlo, sino en forma explícita, que
    solamente hay que leerlo u oírlo para entenderlo. Si leemos Daniel 2: 37 veremos a este profeta explicándole a
    Nabucodonosor, el rey que ha tenido más poder en toda la historia del mundo, que <strong>su reino y potencia le
        había sido dada por Dios</strong>. No dice Daniel que le haya sido dada por Satanás. Sin embargo eso es lo que
    muchos creen. Veamos.</p>
<p></p>
<p> "<i>Tú, oh rey, eres rey de reyes; <strong>porque el Dios del cielo te</strong></i></p>
<p><strong>ha dado</strong> <strong>reino, potencia, y</strong> <strong><i>fortaleza, y majestad</i>" </strong></p>
<p> ( Dan 2: 37 )</p>
<p></p>
<p> Más adelante, en Dn 4: 13-17 vemos el testimonio de Nabucodonosor, el cual nos cuenta lo que le dijo personalmente a
    él un ser enviado por Dios, <strong>"un vigilante y santo"</strong>.</p>
<p></p>
<p> "<i>Veía en las visiones de mi cabeza en mi cama, y he aquí</i></p>
<p><i>que <strong>un vigilante y santo</strong></i> <strong>descendía del cielo</strong><i>, y clamaba</i></p>
<p><i>fuertemente y decía así:.....La sentencia es por decreto los</i></p>
<p><i>vigilantes, y por dicho de los santos la demanda: <strong>para que</strong></i></p>
<p><strong>conozcan los vivientes</strong> <strong>que el Altísimo se enseñorea del</strong></p>
<p><strong>reino de los hombres, y que a quien Él quiere lo da,</strong> <i> y constituye sobre él al más bajo de los
    hombres</i>. "</p>
<p>( Dan 4: 13-17 abreviado )</p>
<p></p>
<p> Está bien claro quién es el que manda en este mundo. ¿Será que los miembros del cuerpo gobernante de los ruselistas
    tienen más autoridad, o saben más que este "vigilante y santo" ? Después de esto que declarara el vigilante y santo,
    vuelve Daniel a asegurarnos que Dios es el que se enseñorea sobre los reinos de los hombres.</p>
<p></p>
<p> "<i>Que te echarán de entre los hombres, y con las bestias</i></p>
<p><i> del campo será tu morada, y con</i> <i>hierba del campo te</i></p>
<p><i>apacentarán como a los bueyes, y con rocío del cielo serás</i></p>
<p><i> bañado;</i> <i>y siete tiempos pasarán sobre ti, hasta que entiendas</i></p>
<p><i> que <strong>el Altísimo se enseñorea en el</strong></i> <strong>reino de los hombres, y</strong></p>
<p><strong> que a quien Él quisiere lo dará.</strong> <i>Y lo que dijeron, que dejasen</i></p>
<p><i> en</i> <i>la tierra la cepa de las raíces del mismo árbol, significa</i></p>
<p><i>que tu reino se te quedará firme, que entiendas que <strong>el señorío</strong></i></p>
<p><strong>es en los cielos</strong>" ( Dn 4: 25 -26 )</p>
<p></p>
<p></p>
<p> "<i>Aún estaba la palabra en la boca del rey, cuando cae <strong>una</strong></i></p>
<p><strong>voz del cielo</strong><i>: A ti dicen, rey</i> <i>Nabucodonosor; el reino es</i></p>
<p><i>traspasado de ti; y de entre los hombres te echan, y con las</i></p>
<p><i>bestias</i> <i>del campo será tu morada, y como a los bueyes te</i></p>
<p><i>apacentarán; y siete tiempos pasarán sobre ti,</i> <i>hasta que</i></p>
<p><i>conozcas que <strong>el Altísimo se enseñorea en el reino de los</strong></i></p>
<p><strong>hombres, y a quien Él</strong> <strong>quisiere lo da</strong>." ( Dn 4: 31-32 )</p>
<p></p>
<p> Si el Altísimo es el que se enseñorea en el reino de los hombres, y a quién Él quiere lo da, como le dijo una voz
    del cielo a Nabucodonosor, y si Daniel afirma que el señorío es en los cielos, ¿cómo dicen los ruselistas que los
    gobiernos del mundo son de Satanás? ¿Tiene eso sentido? ¿Será acaso que Daniel mintió y el Diablo dijo la verdad?
    ¿Saben los ruselistas más que la voz que habló a Nabucodonosor desde el cielo? Más adelante, en el capítulo 5,
    hablando Daniel a Belsasar del caso de su abuelo Nabucodonosor, el profeta le explica que Nabucodonosor fue echado
    de entre los hombres, etc., <strong>hasta que llegó a reconocer que el Altísimo se enseñorea de los reinos humanos y
        se los entrega a quien Él quiere.</strong> Veamos.</p>
<p></p>
<p> "<i>Y fue echado de entre los hijos de los hombres; y su</i></p>
<p><i> corazón fue puesto con las bestias,</i> <i>y con los asnos monteses</i></p>
<p><i>fue su morada. Hierba le hicieron comer, como a buey, y su</i></p>
<p><i>cuerpo</i> <i>fue bañado con el rocío del cielo, <strong>hasta que conoció</strong></i></p>
<p><strong> que el altísimo Dios se enseñorea del</strong> <strong>reino de los hombres,</strong></p>
<p><strong> y que pondrá sobre él al que quisiere</strong>." ( Dan 5: 21 )</p>
<p></p>
<p> Es bueno parar mientes en el hecho de que <strong>esto se le está diciendo a un gobernante gentil, para que no
    aleguen los ruselistas que los únicos reyes que Dios puso fueron los de la teocracia israelita.</strong> Veamos
    ahora <strong>qué dice Jesucristo sobre este asunto.</strong> Cuando Cristo fue presentado ante Pilato y éste con
    soberbia le hizo ver que podía soltarlo o crucificarlo, Cristo le respondió con lo que él sabía que era la verdad.
</p>
<p></p>
<p> "<i>Entonces dícele Pilato: ¿A mí no me hablas? ¿no sabes</i></p>
<p><i>que tengo potestad para</i> <i>crucificarte, y que tengo potestad</i></p>
<p><i> para soltarte? Respondió Jesús: <strong>Ninguna potestad</strong></i> <strong>tendrías</strong></p>
<p><strong>contra mí, si no te fuese dado de arriba</strong><i>; por tanto, el que a</i></p>
<p><i> ti me ha entregado,</i> <i>mayor pecado tiene</i>." </p>
<p>( Jn 19: 10-11 )</p>
<p></p>
<p><strong>Aquí Jesús le explica a Pilato, que la potestad que él tiene le fue dada de arriba.</strong> Es ahora el
    mismísimo Jesucristo el que asegura que los gobiernos del mundo los pone y los quita Dios, confirmando así lo que
    antes dijeran Daniel y el "Vigilante y Santo". ¿En qué se basan pues, los que aseguran que los reinos del mundo son
    del Diablo? Los que participan de esta herejía, alegan que <strong>durante la tentación el Diablo le dijo a Cristo
        que los reinos del mundo le pertenecían a él; y como que Satanás lo dijo, ellos lo creen.</strong> Parece que
    tienen más fe en lo que dice el Diablo que en lo que dice un profeta de Dios. Algunos preguntan: <strong>¿pero y por
        qué entonces Cristo no le refutó a Satanás la afirmación de que él fuera el dueño de los reinos del
        mundo?</strong> Este pasaje que vamos a mencionar, es el único episodio en toda la Biblia en el que se dice que
    los reinos del mundo son de Satanás, <strong>y quien asegura tal cosa es Satanás mismo</strong>. El que prefiera
    creerle a Satanás, que le crea.</p>
<p></p>
<p> "<i>Y le llevó el Diablo a un alto monte, y le mostró en un</i></p>
<p><i> momento de tiempo todos los</i> <i>reinos de la tierra. Y le dijo el</i></p>
<p><i>Diablo: <strong>A ti te daré toda esta potestad, y la gloria de ellos;</strong></i> <strong> porque a mí es
    entregada, y a quien quiero la doy.</strong> <i>Pues si</i></p>
<p><i>tú adorares delante de mí, serán</i> <i>todos tuyos. Y respondiendo</i></p>
<p><i> Jesús, le dijo: <strong>Vete de mí, Satanás</strong>, porque escrito está: A tu</i></p>
<p><i> Señor</i> <i>Dios adorarás, y a Él solo servirás</i>." ( Lc 4: 5 - 8 )</p>
<p></p>
<p><strong>Si un hombre se llega a la puerta de una honesta mujer casada</strong> y le promete que le regalará un millón
    de dólares si se acuesta con él, ¿qué debe hacer la mujer? ¿ponerse a discutir con él para demostrarle que él no
    tiene ese millón de dólares que dice tener, o expulsarlo inmediatamente de su casa? Si se pusiera a discutir sobre
    si tiene o no el millón de dólares para dárselo a ella, arrojaría dudas sobre la integridad y la moral de la dama,
    porque nos haría sospechar que si ella supiera por seguro que el hombre, efectivamente, le iba a dar el millón, se
    hubiera entregado a él. Por lo tanto, la única alternativa digna para una mujer honesta es echarlo inmediatamente de
    su casa. <strong>¿Por qué pues Cristo no le refutó su afirmación?</strong> Si Cristo se hubiera puesto a discutir
    con Satanás para demostrar que no era verdad que el Diablo tuviera autoridad para darle los reinos de la Tierra,
    entonces hoy, esos mismos que dicen que los reinos son del Diablo, andarían diciendo que Cristo no aceptó la
    proposición de Satanás porque sabía que no le podía dar lo que prometía, pero que si hubiera sido verdad lo hubiera
    aceptado. <strong>Cristo no tenía que discutir con Satanás sobre si los reinos eran de él o no,</strong> lo que
    tenía que hacer era expulsarlo del lugar inmediatamente por su enorme atrevimiento, y eso fue lo que hizo. <strong>Tampoco
        Cristo le refutó al Diablo cuando éste fingió dudas sobre si Jesús era o no el Hijo de Dios,</strong> y le pidió
    como prueba que hiciera las piedras pan y que se lanzara del Templo abajo. Por el hecho de que Cristo no le haya
    refutado esas cosas, no vamos a pensar que el Diablo estaba diciendo la verdad. Otra cosa que alegan es que si los
    reinos del mundo no fueran de Satanás, éste no se los hubiera ofrecido a Jesús. Parece que ellos creen que el Diablo
    es incapaz de ofrecer lo que no puede cumplir. Aunque el Diablo sabía que Jesús sabía que los reinos eran de Dios,
    parece que él confiaba en que la debilidad del ayuno confundiría a Jesús. También Jesús sabía que no debía hacer que
    las piedras se convirtieran en pan ni debía tirarse del Templo abajo, y el Diablo de todas maneras se lo propuso. El
    apóstol Pablo, que sabía mucho más que los charlatanes que aseguran lo contrario dijo que los gobiernos le
    pertenecían a Dios:</p>
<p></p>
<p> "<i>Toda alma se someta a las potestades superiores; porque</i></p>
<p><strong> no hay potestad sino de Dios;</strong> <strong>y las que son, de Dios son</strong></p>
<p><strong>ordenadas.</strong> <i>Así que, <strong>el que se opone a la potestad, a la</strong></i> <strong>
    ordenaciónde Dios resiste</strong><i>, y los que resisten, ellos mismos</i></p>
<p><i> ganan condenación para sí.</i> <i>Porque los magistrados no son</i></p>
<p><i>para temor al que bien hace, sino al malo. ¿Quieres pues</i> <i> no temer la potestad? Haz lo bueno, y tendrás
    alabanza de ella;</i></p>
<p><strong>porque es ministro de Dios</strong> <strong>para tu bien.</strong> <i>Mas si hicieres lo</i></p>
<p><i> malo, teme, porque no en vano lleva el cuchillo; porque es</i> <i> ministro de Dios, vengador para castigo al que
    hace lo malo.</i></p>
<p><i>Por lo cual es necesario que</i> <i>le estéis sujetos, no solamente por</i></p>
<p><i> la ira, mas aun por la conciencia. Porque por esto pagáis</i> <i> también los tributos; porque <strong>son
    ministros de Dios que sirven</strong></i></p>
<p><strong>a esto mismo</strong><strong>. </strong> ( Ro 13: 1- 6 )</p>
<p></p>
<p><strong>San Pablo dice claramente en este pasaje que no hay potestad, o sea, gobierno, sino los puestos por
    Dios.</strong> Los gobernantes son puestos por Dios, si luego ellos, ladeándose tras la avaricia y otras
    concupiscencias, se dejan llevar por Satanás y no hacen lo que Dios quiere, eso no significa que los gobiernos los
    pone Satanás. Si Dios llama a alguna persona al pastorado, y luego esa persona se escapa con una mujer casada de las
    que cantan en el coro, o se roba el dinero de la iglesia, o hace cualquier otra cosa de las que el Diablo incita a
    hacer, <strong>eso no significa que Satanás es el que gobierna las iglesias o el que llama los pastores al
        ministerio.</strong> No tiene lógica pensar que San Pablo va a exhortar a los cristianos a que le paguen
    impuestos a los agentes de Satanás. Si él exhorta a sus hermanos a que paguen los impuestos, es porque los gobiernos
    los pone Dios, no porque sean de Satanás.</p>
<p> En el pasaje que anteriormente leímos, San Pablo dice: a) que no hay potestad sino la que Dios pone, b) que las que
    existen, es porque fueron puestas por Dios, c) que el que se opone al gobierno está resistiendo a Dios y d) que los
    gobernantes son ministros de Dios, lo cual dice tres veces en este pasaje. ¿Está esto confuso o está claro? ¿Quién
    tiene la verdad Satanás y los ruselistas o San Pablo? Pero no es solamente San Pablo el que afirma tal cosa, veamos
    lo que dice San Pedro al respecto.</p>
<p></p>
<p> "<i>Sed pues sujetos a toda ordenación humana <strong>por respeto</strong></i></p>
<p><strong> a Dios: ya sea al rey</strong><i>, como a</i> <i>superior, ya a los gobernadores,</i></p>
<p><i> como de él enviados para venganza de los malhechores,</i> <i>y</i></p>
<p><i> para loor de los que hacen bien. Porque esta es la voluntad</i></p>
<p><i> de Dios; que haciendo bien,</i> <i>hagáis callar la ignorancia de</i></p>
<p><i>los hombres vanos. Como libres, y no como teniendo la</i> <i> libertad por cobertura de malicia, sino como siervos
    de Dios.</i></p>
<p><i>Honrad a todos. Amad la</i> <i>fraternidad. Temed a Dios. <strong>Honrad</strong></i></p>
<p><strong>al rey</strong>." ( I P 2: 13 - 17 )</p>
<p></p>
<p><strong>Como vemos también Pedro nos hace ver que los reyes y demás gobernantes son puestos por Dios</strong> y no
    por Satanás, pues si lo fueran, <strong>no iba Pedro a exhortarlos a que honraran a un representante de
        Satanás</strong>. ¿Será que tampoco Pedro sabía tanto como los miembros del cuerpo gobernante de los ruselistas?
    Hasta ahora hemos visto que Daniel, el "Vigilante y Santo", Cristo, San Pablo y San Pedro, dijeron que los gobiernos
    son puestos por Dios. También vimos que Satanás dijo una vez que esa potestad de poner gobiernos era suya, y también
    hemos visto que muchos cristianos y los ruselistas dicen tal cosa. ¿Quienes creen ustedes que tienen la razón? Hay
    otros que tienen la absurda hipótesis de que la Tierra era de Adam y éste le cedió el dominio del planeta a Satanás.
    Ante todo, en ninguna parte de la Biblia se dice que la propiedad de la Tierra le pertenecía a Adam, y tampoco dice
    en ninguna parte que Adam se la entregara a Satanás. Esas son lucubraciones de gente que trata de interpretar las
    circunstancias de la vida sin leer las Escrituras. Si leemos los libros de los Reyes y las Crónicas veremos a todo
    lo largo de tal lectura que las potestades eran dadas a los gobernantes por Dios Está bien claramente expuesto a
    todo el que no quiera taparse los ojos del entendimiento, que es Dios el que pone y quita los gobernantes del mundo,
    que no son Satanás y sus secuaces los demonios. Pero es el caso, que aún sin leer la Biblia, nada más que haciendo
    uso del sentido común, nos damos cuenta de que no puede ser Satanás el que está gobernando el mundo.</p>
<p><strong>Veamos cuál tendría que ser nuestro concepto de Satanás si en realidad él gobernara el mundo:</strong>
    <strong>a )</strong> Dado que hay muchísimas iglesias en el mundo, y son millones los que predican el evangelio,
    tendríamos que pensar que Satanás es bastante tolerante, porque le permite a sus adversarios predicar la palabra de
    Dios, que es la que sirve para arrebatarle de las garras a sus víctimas; <strong>b)</strong> no sólo eso, sino que
    al ver tantos hospitales y orfelinatos, tendríamos que llegar a la conclusión de que Satanás no es tan cruel e
    inhumano como la Biblia dice; <strong> c)</strong> siendo Satanás el que gobierna el mundo, no comprendo cómo es que
    no asesinó rápidamente a todos los apóstoles para que el evangelio no se propagara; <strong>d)</strong> tampoco
    comprendo cómo Satanás no se le aparece a los cristianos para aterrorizarlos y crearles un choque sicológico de tal
    envergadura que se vieran paralizados en lo adelante; nadie le impediría hacer tal cosa si en realidad fuera él el
    que rigiera en el mundo; <strong>e)</strong> tampoco entiendo por qué permite Satanás que se impriman Biblias y
    libros que descubren sus tenebrosos planes, cuando él, si fuera el gobernante del mundo y dueño absoluto de todos
    los reinos, podría impedirlo. ¿Pensarán los que creen que Satanás gobierna el mundo, que él no es tan malo como
    parece, y que hasta es bastante compasivo? ¿Qué tienen que decir a todo esto los hermanos que creen que los reinos
    del mundo son de Satanás y que él gobierna al mundo? ¿Pudieran estos hermanos aclararme mi error de razonamiento, si
    es que efectivamente tengo tal error?</p>
<p><strong>No solamente es falso e irrespetuoso para Dios decir que Él no tiene la potestad de poner y quitar
    gobiernos,</strong> sino que además es halagüeño para Satanás el que digan que él es el dueño del mundo y que él lo
    rige. Piensen los verdaderos hermanos sobre este asunto, antes de enseñar a otros tal herejía. </p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>