
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>¿Por qué Dios no suprimer la tentación?</title>
</head>
<body>
<p><strong>Por qué Dios no suprime la tentación</strong></p>
<p> Nosotros tenemos que vivir con Cristo durante el Milenio<strong>,</strong> y luego también con Dios por toda la
    eternidad<strong>.</strong> Después del Milenio Satanás vuelve a andar suelto un poco de tiempo<strong>,</strong>
    tentando a la humanidad<strong>.</strong> La tentación actual nos <strong>"</strong>inmuniza<strong>"</strong> a la
    tentación futura<strong>;</strong> la tentación sirve de educación para fortalecer nuestro
    espíritu<strong>.</strong> Las tentaciones y tribulaciones nos sirven para educación eterna<strong>.</strong>
    También las tentaciones sirven<strong>,</strong> al igual que Satanás y los demonios<strong>,</strong> para acortar
    el período en el cual todo el mundo puede hacer el mal si quiere<strong>,</strong> es decir<strong>,</strong> el
    período de tribulación de la creación<strong>.</strong></p>
<p> Aquí vemos de nuevo confirmada mi tesis de que Dios lo tiene todo bajo control<strong>,</strong> y que nada sucede
    sin Su anuencia<strong>.</strong></p>
<p> Satanás no podía (ni puede) dirigirse directamente a los apóstoles para tentarlos fuera de lo
    común<strong>,</strong> o para causarles tribulaciones inusuales<strong>.</strong> En este caso específico que más
    abajo vemos<strong>,</strong> nos enteramos de lo que está ocurriendo en las esferas celestiales<strong>.</strong>
    En otros muchos casos no tenemos la misma suerte<strong>,</strong> y por ello<strong>,</strong> nos creemos que
    Satanás puede hacer mangas y capirotes con los cristianos<strong>,</strong> con la Iglesia<strong>,</strong> con los
    humanos o con el planeta<strong>;</strong> pero no es así<strong>.</strong></p>
<p><strong>"</strong><i>Dijo también el Señor<strong>:</strong> Simón<strong>,</strong> Simón<strong>,</strong> he aquí
    Satanás <strong>os ha pedido</strong> <strong>para zarandaros como a trigo</strong></i><strong>"</strong> (Lc
    22<strong>:</strong>31)</p>
<p> Como bien claramente se ve<strong>,</strong> Satanás <strong>tuvo que pedirle a Dios que le concediera
    permiso</strong> para zarandear a los apóstoles<strong>,</strong> como efectivamente lo hizo luego<strong>.</strong>
</p>
<p> Otro tanto se ve en el caso de Job<strong>;</strong> Satanás no pudo simplemente caerle arriba Job y a sus
    hijos<strong>,</strong> porque así él lo deseara<strong>.</strong> Tuvo que mediar una petición por parte de Satanás
    y un permiso (con sus límites) por parte de Dios<strong>,</strong> como vemos en Job 1<strong>:</strong>9-12 y
    2<strong>:</strong>4-6<strong>.</strong> O sea<strong>,</strong> que aún con el permiso de Dios en su
    mano<strong>,</strong> Satanás no podía hacer lo que quería<strong>,</strong> tenía sus límites para
    actuar<strong>.</strong></p>
<p><i> <strong>"</strong></i>9 <i>Y respondiendo Satán a Jehová<strong>,</strong> dijo<strong>:</strong>
    <strong>¿</strong>Teme Job a Dios de balde<strong>?</strong></i> 10 <i><strong>¿</strong>No le has tú cercado a
    él<strong>,</strong> y a su casa<strong>,</strong> y a todo lo que tiene en derredor<strong>?</strong> Al trabajo de
    sus manos has dado bendición<strong>;</strong> por tanto su hacienda ha crecido sobre la
    tierra<strong>.</strong></i> 11 <i>Mas extiende ahora tu mano<strong>,</strong> y toca a todo lo que
    tiene<strong>,</strong> y verás si no te blasfema en tu rostro<strong>.</strong></i> 12 <i><strong>Y dijo Jehová a
    Satán: He aquí, todo lo que tiene está en tu mano; solamente no pongas tu mano sobre él.</strong> Y salió Satán de
    delante de Jehová<strong>."</strong> </i> (Job 1<strong>:</strong>9-12)</p>
<p></p>
<p><strong>"</strong>4 <i>Y respondiendo Satán dijo a Jehová<strong>:</strong> Piel por piel<strong>,</strong> todo lo
    que el hombre tiene dará por su vida<strong>.</strong></i> 5 <i>Mas extiende ahora tu mano<strong>,</strong> y toca
    a su hueso y a su carne<strong>,</strong> y verás si no te blasfema en tu rostro<strong>.</strong></i> 6 <i><strong>Y
    Jehová dijo a Satán: He aquí, él está en tu mano; mas guarda su vida</strong></i><strong>."</strong> (Job
    2<strong>:</strong>4-6)</p>
<p> Todo esto concuerda con lo dicho en I Co 10<strong>:</strong>12-13<strong>,</strong> donde se nos da a conocer que
    Dios no permite que nadie sea tentado más de lo que él pueda aguantar<strong>.</strong> O sea<strong>,</strong> que
    aún en el caso de la tentación personal a cada cristiano<strong>,</strong> Satanás o sus cómplices demoníacos tienen
    un límite más allá del cual <strong>no pueden</strong> ir<strong>.</strong></p>
<p> Es lógico que así sea<strong>,</strong> porque por creación<strong>,</strong> un ser tipo ángel es mucho más
    poderoso que un ser humano<strong>,</strong> y si Dios les permitiera usar todo su poder<strong>,</strong> es de
    pensarse que no habría un solo ser humano que resistiera tal presión<strong>.</strong> Por eso Dios pone
    límites<strong>,</strong> porque Su finalidad es adiestrar al humano en el rechazamiento del mal<strong>,</strong>
    aún cuando se lo propongan y se lo pinten con los mejores colores<strong>.</strong> La finalidad de Dios no es echar
    a pelear a una criatura frágil y débil<strong>,</strong> contra otra potente y cruel<strong>,</strong> para
    contemplar cómo en la pelea destrozan al infeliz<strong>.</strong></p>
<p> De esa manera<strong>,</strong> el humano<strong>,</strong> que puede constatar en sí mismo la potencia del mal y
    del tentador<strong>,</strong> <strong>aprende, por sí mismo también, a volverse a Dios por ayuda en una batalla tan
        desigual.</strong> Así queda asegurada su existencia futura y eterna<strong>,</strong> puesto que aprendió por
    experiencia propia<strong>,</strong> a apelar al que todo lo puede<strong>,</strong> cuando se ve inclinado a hacer
    o desear lo que Dios aborrece<strong>.</strong> Por eso Dios no suprime la tentación<strong>.</strong></p>
<p> Se constata de nuevo que Dios utiliza también las malas acciones de sus criaturas para producir beneficios a la
    creación<strong>.</strong> Se constata que todas las cosas ayudan al bien de los que a Dios aman<strong>,</strong>
    como se ve en Ro 8<strong>:</strong>28<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>