---
import Layout from "../layout/Layout.astro";
---

<Layout title="Discussions and Christians">
    <section>
<p><strong>Let us imitate the first Christians, who discussed their doctrinal differences in a friendly manner</strong>
</p>
<p><strong>The friendly discussion of doctrinal differences between brothers is correct</strong>. Throughout the New
    Testament we see the apostles, especially Paul, vehemently but amicably arguing their doctrinal differences. So not
    to burden themselves with the grave responsibility of preaching an incorrect doctrine, even though he believed it
    so.</p>
<p><strong>Paul commands Christians to argue with those in error</strong>. Today Christians think that in order to be a
    "good Christian" you can't discuss religion. What we shouldn't do is fight, insult or offend. The true Christian
    doesn't do such things when he discusses. Paul always advised his disciples and brothers to discuss religion. He did
    it himself all the time in the synagogues, at the Aeropagus, and any place anyone would contradict the true
    doctrine. While talking about the way pastors should be, Paul said this:</p>
<p></p>
<p> "9 <i>Holding fast the faithful word as he hath been taught, that he may be able by sound doctrine both to exhort
    and <strong>to convince the gainsayers.</strong></i> 10 <i>For there are many <strong>unruly and vain talkers and
    deceivers</strong>, specially they of the circumcision.</i> 11 <strong>Whose mouths must be stopped</strong><i>, who
    subvert whole houses, teaching things which they ought not, for filthy lucre's sake</i>". (Tit 1:9-11)</p>
<p> There are many today that contradict this teaching of Paul, whom they say they are imitating, and insist that the
    only thing they need to do is "talk", without using arguments or try convincing anyone. Paul argued with Jews and
    Gentiles, he used arguments, tried to convince others, etc., <strong>because he knew he had the truth</strong>, that
    he had the correct doctrine. Because he had it, he lacked neither arguments <strong>nor the help of the Holy
        Spirit.</strong></p>
<p><strong>The first century Christians argued passionately, but with love and justice, their doctrinal
    differences.</strong> Therefore, it is not wrong to discuss, as some think. In my opinion it is all right to discuss
    as long as the one who discusses has with him the spirit of convincing the other of something he sincerely believes.
    There is nothing wrong in discussing, as long as he leaves open the door of understanding in his own spirit, so to
    allow himself to be convinced, should the other person have good arguments.</p>
<p>"<i>When therefore Paul and Barnabas <strong>had no small dissension and disputation</strong> with them, they
    determined that Paul and Barnabas, and certain other of them, should go up to Jerusalem unto the apostles and elders
    about this question</i>". (Act 15:2)</p>
<p> What happens often is that people don't discuss, they fight with words, they try to offend, to enrage, to humiliate
    and mock their opponent. But a true Christian does not discuss like that. Those who argue in such manner are not
    arguing, they are fighting, trying to win a just cause with unworthy weapons. To wield your own arguments, even
    passionately (though never offensively), I don't consider wrong.</p>
<p><strong>Why many don't want to discuss.</strong> There are several reasons why many brothers don't discuss doctrinal
    differences. <strong>The main one is lack of faith.</strong> Some believe that God, Christ, or the Holy Spirit was
    who inspired in them the doctrine they now believe; others just pretend. However, they dare not discuss with those
    who think differently because they feel insecure. They have no faith that if his doctrine is divinely inspired, God,
    Christ, or the Holy Spirit is going to enlighten them with arguments and words to defend the truth. They have no
    faith in what the Lord Jesus promised in Luke 21:15 when He said:</p>
<p></p>
<p> "<i>For <strong>I will give you a mouth and wisdom</strong>, which <strong>all your adversaries shall not be able to
    gainsay nor resist</strong></i>". (Lk 21:15)</p>
<p><strong>Others simply don't really believe the doctrine they teach</strong>, but they teach it for material gain.
    They know it is false, that they can't defend it, and so they find any pretext to not have to discuss their
    doctrinal differences.</p>
<p> There are still those who believe what they preach, but are not sure. They know they can't defend their beliefs, and
    <strong>their puffed up ego stops them from discussing, if they think they can be proved wrong.</strong> In a few
    words, they love themselves more than they love God and His truth. They rather hide behind the pretext that all they
    have to do is "say and flee". That way they think they save their egos, for no one (they think) will know they are
    wrong.</p>
<p> None of them is going to admit that they don't discuss because of one of these questionable reasons. They are going
    to put forth their best pretexts.</p>
<p><strong>Let's look at several passages where we see that the first Christians discussed their beliefs</strong>. There
    are believers who hold erroneous and even heretical doctrines, which they absorbed at the moment of conversion, when
    they could not reason on the Bible by themselves. Even though they have no basis for them, they hold on to them no
    matter what, for fear of who knows what, if they lose it. Therefore they do not discuss them. The healthy habit on
    the validity of discusses among believers is best appreciated in the following passages.</p>
<p></p>
<p> "17 <i>Therefore</i> <i><strong>disputed he</strong> in the synagogue with the Jews, and with the devout persons,
    and in the market daily with them that met with him.</i> 18 <i>Then certain philosophers of the Epicureans, and of
    the Stoicks, <strong>encountered him</strong>. And some said: What will this babbler say? Other some: He seemeth to
    be a setter forth of strange gods, because he preached unto them Jesus, and the resurrection</i>". (Act 17:17-18)
</p>
<p></p>
<p></p>
<p>"<i>And <strong>he reasoned</strong> in the synagogue every sabbath, and <strong>persuaded</strong> the Jews and the
    Greeks</i>". (Act 18:4)</p>
<p></p>
<p>"<i>And he came to Ephesus, and left them there, but he himself entered into the synagogue, and <strong>reasoned with
    the Jews</strong></i>". (Act 18:19)</p>
<p></p>
<p></p>
<p>"<i>For <strong>he mightily convinced the Jews, and that publickly</strong>, shewing by the scriptures that Jesus was
    Christ</i>". (Act 18:28)</p>
<p></p>
<p>"<i>And he went into the synagogue, and spake boldly for the space of three months, <strong>disputing and
    persuading</strong> the things concerning the kingdom of God</i>". (Act 19:8)</p>
<p></p>
<p>"<strong>Prove all things</strong><i>; hold fast that which is good</i>". (I Ths 5:21)</p>
<p></p>
<p> "16 <i>All</i> <i>scripture is given by inspiration of God, and <strong>is profitable for doctrine, for reproof, for
    correction,</strong> for instruction in righteousness;</i> 17 <i>that the man of God may be perfect, <strong>thoroughly
    furnished unto all good works</strong></i>". (II Tim 3:16-17)</p>
<p></p>
<p> "<i>But sanctify the Lord God in your hearts, and <strong>be ready always to give an answer to every man that
    asketh</strong> you a reason of the hope that is in you with meekness and fear</i>" (I Pet 3:15)</p>
<p></p>
<p> In all these passages we see that <strong>it was the custom of all the apostles to discuss religion with believers
    and non-believers as well</strong>. I don't know why so many brothers now feel such disgust for the friendly
    discussion of our beliefs, except the fear of having their ego hurt if their arguments are wrong. There are,
    however, those whom their sect has forbidden them to discuss, so the errors and heresies they sustain are not
    brought to light.</p>
<p>"<strong>Discussion is like light, it bothers only those who prefer darkness</strong>"</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    