---
import Layout from "../layout/Layout.astro";
---

<Layout title="Discusiones y los Cristianos">
    <section>
        <p><strong>Imitemos a los primeros cristianos, los cuales discutían fraternalmente sus diferencias
            doctrinales</strong>
        </p>
        <p><strong>Discutir entre hermanos nuestras diferencias doctrinales es lo correcto</strong>. A todo lo largo del
            Nuevo
            Testamento vemos que todos los apóstoles<strong>,</strong> y más aún San Pablo<strong>,</strong> discutían
            con
            vehemencia<strong>,</strong> pero fraternalmente<strong>,</strong> sus diferencias
            doctrinales<strong>,</strong> a
            fin de no cargar con la grave responsabilidad de predicar una doctrina que no era la
            correcta<strong>,</strong>
            aunque él lo creyera así.</p>
        <p><strong>Pablo manda a los cristianos a discutir con los errados.</strong> Hoy en día los cristianos piensan
            que para
            ser <strong>"</strong>buen cristiano<strong>",</strong> no se debe discutir de religión. Lo que no se debe
            es pelear<strong>,</strong>
            insultar u ofender<strong>,</strong> pero el verdadero cristiano no hace tal cosa cuando discute. Pablo
            siempre
            aconsejó a sus discípulos y hermanos discutir sobre religión<strong>;</strong> y él mismo lo hacía
            constantemente en
            las sinagogas<strong>,</strong> en el areópago<strong>,</strong> y donde quiera que alguien contradijera la
            sana
            doctrina. Pablo<strong>,</strong> hablando de cómo tenían que ser los pastores dijo lo
            siguiente<strong>:</strong>
        </p>
        <p></p>
        <p><strong>"</strong>9 <i>Retenedor de la fiel palabra que es conforme a la doctrina<strong>,</strong> para que
            también
            pueda exhortar con sana doctrina<strong>,</strong> y <strong>convencer a los que contradijeren</strong>.</i>
            10 <i>Porque
                hay aún muchos <strong>contumaces, habladores de vanidades, y engañadores de las almas,</strong>
                mayormente los que
                son de la circuncisión<strong>,</strong></i> 11 <strong>a los cuales es preciso tapar la boca;</strong>
            <i>que
                trastornan casas enteras<strong>;</strong> enseñando lo que no conviene<strong>,</strong> por torpe
                ganancia</i>.<strong>"</strong> (Tit 1<strong>:</strong>9-11)</p>
        <p> Son muchos hoy en día los que<strong>,</strong> contradiciendo esta enseñanza de Pablo<strong>,</strong> a
            quien
            dicen imitar<strong>,</strong> aseguran que lo único que ellos tienen que hacer es
            <strong>"</strong>decir<strong>",</strong> sin usar argumentos ni tratar de convencer a nadie.</p>
        <p> Pablo discutió con judíos y gentiles<strong>,</strong> usó argumentos<strong>,</strong> trató de convencer a
            otros<strong>,</strong> etc.<strong>,</strong> <strong>porque sabía que tenía la verdad, que tenía la sana
                doctrina,</strong> y por tenerla<strong>,</strong> no le faltaban argumentos <strong>ni la ayuda del
                Espíritu
                Santo</strong>. Muchos de los que ahora dicen imitarlo solamente predican su doctrina<strong>,</strong>
            y si
            alguien les contradice<strong>,</strong> salen huyendo<strong>,</strong> porque saben que
            <strong>no</strong> tienen
            la verdad<strong>,</strong> y por lo tanto<strong>,</strong> les faltan los argumentos y la ayuda del
            Espíritu
            Santo.</p>
        <p><strong>Los cristianos del primer siglo discutían vehementemente, pero con amor y justicia, sus diferencias
            doctrinales</strong>. Por lo tanto<strong>,</strong> no es malo discutir<strong>,</strong> como opinan
            algunos. A mi
            modo de ver se puede discutir<strong>,</strong> siempre y cuando el que discute lleve en su espíritu el
            deseo de
            convencer al otro de algo que él cree sinceramente<strong>;</strong> y siempre que en su propio espíritu
            deje
            abierta la puerta del entendimiento de forma que deje la posibilidad de ser convencido si es el otro el que
            tiene
            buenos argumentos.</p>
        <p></p>
        <p><strong>"</strong><i>Así que<strong>,</strong> suscitada <strong>una disensión y contienda no
            pequeña</strong> a
            Pablo y a Bernabé contra ellos<strong>,</strong> determinaron que subiesen Pablo y Bernabé a
            Jerusalem<strong>,</strong> y algunos otros de ellos<strong>,</strong> a los apóstoles y a los
            ancianos<strong>,</strong> sobre esta cuestión</i>.<strong>"</strong> (Hch 15<strong>:</strong>2)</p>
        <p> Lo que sucede muchas veces es que la gente no discute<strong>,</strong> sino pelea de
            palabras<strong>,</strong>
            trata de ofender<strong>,</strong> de irritar<strong>,</strong> de rebajar a su oponente y de burlarse de él<strong>,</strong>
            pero un verdadero cristiano no discute así. Los que proceden así no está discutiendo<strong>,</strong> sino
            peleando<strong>,</strong>
            tratando de vencer con armas indignas de una causa justa. El esgrimir los argumentos
            propios<strong>,</strong>
            aunque a veces alguien lo haga en forma vehemente (pero nunca ofensiva) no lo considero malo.</p>
        <p><strong>Por qué muchos no quieren discutir</strong>. Hay varias razones por las cuales muchos hermanos no
            discuten
            sus diferencias doctrinales. <strong>La razón principal es la falta de fe</strong>. Unos creen que
            Dios<strong>,</strong> Cristo<strong>,</strong> o el Espíritu Santo fue el que les inspiró la doctrina en
            que ahora
            creen<strong>;</strong> otros fingen creer tal cosa. No obstante no se atreven a discutir con los que
            piensan
            diferente<strong>,</strong> porque se sienten inseguros. <strong>No tienen fe</strong> en que si realmente
            su
            doctrina es de lumínica procedencia<strong>,</strong> Dios<strong>,</strong> Cristo<strong>,</strong> o el
            Espíritu
            Santo le van a dar luces<strong>,</strong> argumentos y palabras para defender la verdad. <strong>No tienen
                fe</strong> en lo que les prometió Nuestro Señor Jesucristo en Lc
            21<strong>:</strong>15<strong>,</strong>
            cuando dijo<strong>:</strong></p>
        <p></p>
        <p><strong>"</strong><i>Porque <strong>yo os daré boca y sabiduría,</strong> a la cual <strong>no podrán
            resistir ni
            contradecir</strong> todos los que se os opondrán</i>.<strong>"</strong> (Lc 21<strong>:</strong>15)</p>
        <p><strong>A otros lo que les sucede es que en realidad no creen en la doctrina que enseñan,</strong> pero la
            enseñan
            por conveniencias materiales<strong>;</strong> saben que es falsa<strong>,</strong> que no pueden defenderla<strong>,</strong>
            y por lo tanto<strong>,</strong> buscan cualquier pretexto para no discutir sus diferencias doctrinales.</p>
        <p> Todavía hay aquellos que creen lo que predican<strong>,</strong> pero no están seguros<strong>,</strong>
            saben que
            no pueden defender sus creencias<strong>,</strong> y <strong>su inflado ego les impide discutir si ellos
                consideran
                que pueden demostrarles que están equivocados.</strong> En pocas palabras<strong>,</strong> se aman más
            a sí
            mismos que a la verdad de Dios. Prefieren esconderse en el pretexto de que lo único que tienen que hacer es
            <strong>"</strong>decir
            y luego huir<strong>";</strong> de esa manera creen que salvan su ego<strong>,</strong> pues se figuran que
            nadie se
            entera de que están errados.</p>
        <p> Ninguno de ellos va a admitir que es por estas cuestionables razones que ellos no discuten. Ellos van a
            poner
            mejores pretextos.</p>
        <p><strong>Veamos varios pasajes en los que vemos que los primeros cristianos discutían sus creencias</strong>.
            Hay
            creyentes que tienen doctrinas erradas y hasta heréticas<strong>,</strong> las cuales absorbieron al momento
            de
            convertirse<strong>,</strong> cuando aún no podían razonar sobre la Biblia por sí mismos<strong>,</strong> y
            aunque
            no tienen sobre qué base sostenerlas<strong>,</strong> desean mantenerlas a toda costa<strong>,</strong>
            pues temen
            a no saben qué<strong>,</strong> si la pierden<strong>;</strong> y por eso no las discuten. La saludable
            costumbre
            sobre la validez de las discusiones y disputas de argumentos entre creyentes<strong>,</strong> se puede
            apreciar en
            los siguientes pasajes.</p>
        <p></p>
        <p><strong>"</strong>17 <i>Así que<strong>,</strong> <strong>disputaba en la sinagoga</strong> con los judíos y
            religiosos<strong>;</strong> y en la plaza cada día con los que le ocurrían.</i> 18 <i>Y algunos filósofos
            de los
            epicúreos y de los estoicos<strong>,</strong> <strong>disputaban con él;</strong> y unos
            decían<strong>:</strong>
            <strong>¿</strong>Qué quiere decir este palabrero<strong>?</strong> Y otros<strong>:</strong> Parece que es
            predicador de nuevos dioses<strong>,</strong> porque les predicaba a Jesús y la
            resurrección</i>.<strong>"</strong>
            (Hch 17<strong>:</strong>17-18)</p>
        <p></p>
        <p><strong>"</strong><i>Y <strong>disputaba en la sinagoga</strong> todos los sábados<strong>,</strong> y
            <strong>persuadía</strong>
            a judíos y a griegos</i>.<strong>"</strong></p>
        <p> (Hch 18<strong>:</strong>4)</p>
        <p></p>
        <p></p>
        <p><strong>"</strong><i>Y llegó a Éfeso<strong>,</strong> y los dejó allí<strong>;</strong> y él entrando en la
            sinagoga<strong>,</strong>
            <strong>disputó con los judíos</strong></i><strong>"</strong> (Hch 18<strong>:</strong>19)</p>
        <p></p>
        <p></p>
        <p><strong>"<i>Porque con gran vehemencia convencía públicamente a los judíos,</i></strong> <i>mostrando por las
            Escrituras que Jesús era el Cristo</i>.<strong>"</strong> (Hch 18<strong>:</strong>28)</p>
        <p></p>
        <p></p>
        <p><strong>"</strong><i>Y entrando él dentro de la sinagoga<strong>,</strong> hablaba libremente por espacio de
            tres
            meses<strong>,</strong> <strong>disputando y persuadiendo del Reino de Dios</strong></i>.<strong>"</strong>
            (Hch
            19<strong>:</strong>8)</p>
        <p></p>
        <p></p>
        <p><strong>"<i>Examinadlo todo;</i></strong> <i>retened lo bueno</i>.<strong>"</strong> (I Tes
            5<strong>:</strong>21)
        </p>
        <p></p>
        <p></p>
        <p><strong>"</strong>16 <i>Toda Escritura es inspirada divinamente y <strong>útil para enseñar, para redargüir,
            para
            corregir,</strong> para instituir en justicia.</i> 17 <i>Para que el hombre de Dios sea
            perfecto<strong>,</strong>
            enteramente <strong>instruido para toda buena obra</strong></i>.<strong>"</strong> (II Tim
            3<strong>:</strong>16-17)
        </p>
        <p></p>
        <p></p>
        <p><strong>"</strong><i>Sino santificad al Señor Dios en vuestros corazones<strong>,</strong> y <strong>estad
            siempre
            aparejados para responder con mansedumbre y reverencia</strong> a cada uno que os demande razón de la
            esperanza que
            hay en vosotros</i>.<strong>"</strong> (I P 3<strong>:</strong>15)</p>
        <p> En todos estos pasajes percibimos que <strong>era costumbre de todos los apóstoles discutir sobre religión
            con los
            creyentes y con los incrédulos</strong>. Yo no sé de donde sacan ahora muchos hermanos tanto
            <strong>"</strong>asco<strong>"</strong> por la discusión fraternal de nuestras creencias<strong>,</strong>
            como no
            sea el temor a que les lastimen su ego si sus argumentos son errados. Hay sin embargo<strong>,</strong>
            aquellos a
            quienes su secta les prohíbe discutir<strong>,</strong> para que no se vean los errores y herejías que
            sustentan.
        </p>
        <p><strong>"La discusión es como la luz, molesta solamente a los que prefieren las tinieblas."</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    