---
import Layout from "../layout/Layout.astro";
---

<Layout title="Distorsión de la Santa Cena">
    <section>
<p><strong>Distorsión de la Santa Cena</strong></p>
<p> Muchos creen que en la última cena de Jesús con sus apóstoles lo que ellos comieron fue la Pascua y pan sin
    levadura, y por ese error usan pan sin levadura en la Santa Cena, pero no fue así. En Mt 27:15; Mr 15:6; Lc 23:14-17
    y Jn 18:39, vemos que <strong>después de la última cena</strong>, estando Jesús ante Pilato, los judíos vienen a
    pedir que les suelte a un preso, como solía hacer los días de la Fiesta, o sea los días de la Pascua. Eso nos indica
    que <strong>después de la última cena aún la Pascua estaba por venir, y por lo tanto, no habían comido el cordero ni
        los panes sin levadura.</strong></p>
<p></p>
<p> "<i>Y <strong>en el día de la fiesta</strong> acostumbraba el presidente soltar al pueblo un preso, cual
    quisiesen</i>" ( Mt 27: 15 )</p>
<p></p>
<p> "<i>Empero <strong>en el día de la fiesta</strong> les soltaba un preso, cualquiera que pidiesen</i>."</p>
<p> (Mr 15:6)</p>
<p></p>
<p> "<i>Les dijo: Me habéis presentado a éste por hombre que desvía al pueblo; y he aquí, preguntando yo delante de
    vosotros, no he hallado culpa alguna en este hombre de aquéllas de que le acusáis. Y ni aun Herodes; porque os
    remití a él, y he aquí, ninguna cosa digna de muerte ha hecho. Le soltaré, pues, castigado. Y tenía necesidad de
    soltarles uno <strong>en cada fiesta</strong></i>." ( Lc 23: 14-17 )</p>
<p></p>
<p> "<i>Empero vosotros tenéis costumbre, que os suelte uno <strong>en la Pascua</strong>: ¿queréis, pues, que os suelte
    al Rey de los Judíos</i>?" ( Jn 18: 39 )</p>
<p><strong>Mateo, Marcos, Lucas y Juan testificaron en estos cuatro pasajes anteriores, que la última cena ya había
    tenido lugar, pero sin embargo, la Pascua todavía estaba por venir.</strong></p>
<p> Cristo fue crucificado el mismo día que se mataba el cordero pascual, por cuanto él era el verdadero Cordero
    Pascual, cuyo símbolo era el cordero que se mataba, como nos dice San Pablo en Primera de Corintios 5:7.</p>
<p></p>
<p> "<i>Limpiad pues la vieja levadura, para que seáis nueva masa, como sois sin levadura, porque <strong>nuestra
    Pascua, que es Cristo, fue sacrificada por nosotros</strong>.</i>" ( I Co 5: 7 )</p>
<p> Pablo dice aquí claramente que Cristo es nuestra Pascua, es decir, aquel ser que estaba representado en la muerte
    del cordero que se sacrificaba <strong>la tarde anterior</strong> a la noche en que se comía la Pascua y los panes
    sin levadura.</p>
<p> Para poder entender si Cristo y los apóstoles usaron en la última cena pan corriente o pan sin levadura, es
    necesario entender primero cómo era el rito de la Pascua en el Antiguo Testamento; es decir, cuándo se mataba el
    cordero, cuándo se comía la carne y cuándo se comía el pan sin levadura. El cordero pascual se mataba el día 14 por
    la tarde, pero la carne del cordero y el pan sin levadura se comenzaba a comer la noche que seguía a la tarde en que
    se sacrificaba el cordero, o sea, cuando para los hebreos ya era el día 15. Recordemos que para los hebreos el día
    comenzaba al anochecer.</p>
<p>Pues bien, si los panes sin levadura comenzaban a tenerse y a comerse la noche que seguía a la tarde del día en que
    se mataba el cordero, entonces <strong>el pan que comieron Jesús y los apóstoles, en la última cena, era pan con
        levadura</strong>, pues Cristo, nuestro verdadero Cordero Pascual, no había sido sacrificado aún, ni tampoco el
    cordero de la Pascua judía.</p>
<p></p>
<p> "<i>Y habéis de guardarlo hasta <strong>el día catorce de este mes; y lo inmolará</strong> toda la congregación del
    pueblo de Israel <strong>entre las dos tardes</strong>. Y tomarán de la sangre, y pondrán en los dos postes y en el
    dintel de las casas en que lo han de comer. <strong>Y aquella noche comerán la carne asada al fuego, y panes sin
        levadura</strong>, con hierbas amargas lo comerán</i>." ( Ex 12: 6-8 )</p>
<p><strong>Dado que el sacrificio del cordero pascual representaba el sacrificio de Cristo, se evidencia que Jesús tenía
    que morir el mismo día y hora en que, por la ley ritual, se sacrificaba el cordero pascual</strong>. Efectivamente,
    así sucedió, Cristo murió a media tarde del día anterior a la noche en que se comía la Pascua. Recordemos que
    <strong>el día hebreo comenzaba al caer la noche</strong>. Esa tarde que era anterior a la noche en que se comía la
    Pascua, pero que era posterior a la noche de la última cena, fue cuando murió Nuestro Señor. Todo esto se comprueba
    leyendo Jn 13: 1-2; 18: 28; 19: 14; 19: 31 y 19: 42.</p>
<p></p>
<p> "<strong>Antes de la fiesta de la Pascua</strong><i>, sabiendo Jesús que su hora había venido para que pasase de
    este mundo al Padre, como había amado a los suyos que estaban en el mundo, los amó hasta el fin. <strong>Y la cena
        acabada</strong>, como el Diablo ya había metido en el corazón de Judas, hijo de Simón Iscariote, que le
    entregase</i>..." ( Jn 13: 1-2 )</p>
<p> Como leímos en el pasaje anterior, la última cena estaba acabada antes de la fiesta de la Pascua. Si leemos ahora Jn
    18: 28 veremos que cuando llevaron al Señor al pretorio, lo cual ocurrió después de la última cena, los judíos no
    quisieron entrar al pretorio para no contaminarse, sino que pudieran comer la pascua; <strong>por lo tanto, la
        pascua no había ocurrido aún</strong>. Eso comprueba una vez más, que en la última cena no comieron la pascua.
</p>
<p></p>
<p> "<strong>Y llevaron a Jesús de Caifás al pretorio</strong><i>; y era por la mañana; y ellos no entraron en el
    pretorio <strong>por no ser contaminados, sino que comiesen la Pascua</strong></i>."</p>
<p> (Jn 18:28)</p>
<p> En Jn 19: 24 vemos que cuando Jesús estaba siendo juzgado por Pilato y los príncipes de los sacerdotes, aún no se
    había comido la Pascua, sino que era la víspera.</p>
<p></p>
<p> "<i>Y <strong>era la víspera de la Pascua</strong>, y como la hora de sexta. Entonces dijo a los Judíos: <strong>He
    aquí vuestro Rey</strong></i>." ( Jn 19: 14 )</p>
<p> Más adelante, en Jn 19: 31 vemos que estando ya Cristo crucificado y muerto, aún no se había comido la Pascua,
    porque aún era la víspera.</p>
<p></p>
<p> "<i>Entonces los Judíos, <strong>por cuanto era la víspera de la Pascua, para que los cuerpos no quedasen en la
    cruz</strong> en el sábado, pues era el gran día del sábado, rogaron a Pilato que se les quebrasen las piernas, y
    fuesen quitados</i>." (Jn 19: 31)</p>
<p> De nuevo, cuando ya muerto el Señor, lo van a enterrar, nos vuelven a decir, esta vez en Jn 19: 42 que la Pascua no
    se había comido aún, puesto que era la víspera.</p>
<p></p>
<p>"<i>Allí, pues, <strong>por causa de la víspera de la Pascua</strong> de los judíos, porque aquel sepulcro estaba
    cerca, <strong>pusieron a Jesús</strong></i>." ( Jn 19: 42 )</p>
<p><strong>Hasta aquí hemos demostrado que Cristo no comió la última Pascua</strong>, pues él murió por la tarde de ese
    día en el que se mataba el cordero pascual. Vamos ahora al origen del rito de la Pascua, <strong>para ver cuándo se
        mataba el cordero, y cuándo se comenzaba a comer el pan sin levadura</strong>.</p>
<p></p>
<p> "<i>Y <strong>aquella noche</strong> comerán la carne asada al fuego, y <strong>panes sin levadura</strong>, con
    hierbas amargas lo comerán</i>." ( Ex 12: 8 )</p>
<p> En Lev 23: 6 aparece de nuevo una mención de esta fiesta que <strong>especifica claramente que la fiesta de los
    panes sin levadura comenzaba el día 15 y no el 14</strong>. Otro tanto se dice en Nm 28: 16-17.</p>
<p></p>
<p> "<i>Y <strong>a los quince días de este mes es la solemnidad de los ázimos</strong> a Jehová: siete días comeréis
    ázimos</i>." ( Lv 23: 6 )</p>
<p></p>
<p> "<i>Mas en el mes primero, <strong>a los catorce del mes</strong> será la Pascua de Jehová. Y <strong>a los quince
    días de aqueste mes</strong>, la solemnidad, por siete días se comerán ázimos</i>."</p>
<p> ( Nm 28: 16-17 )</p>
<p><strong>Jesucristo es el verdadero Cordero Pascual, por eso es que su sacrificio en la cruz coincidía con el
    sacrificio del cordero que se iba a asar ese día para comerlo esa noche.</strong> Si el pan sin levadura comenzaba a
    comerse después que el cordero estaba ya asado, y si Cristo comió la última cena con sus apóstoles antes de ser
    crucificado, se evidencia que el pan de la última cena era pan con levadura. Por lo tanto, <strong>en nuestra
        celebración cristiana de la Santa Cena, debemos usar pan con levadura,</strong> preferiblemente pan integral,
    que es el que se usaba en aquella época.</p>
<p> En este pasaje que sigue se evidencia que cuando ya Jesucristo estaba muerto, todavía la Pascua no había tenido
    lugar.</p>
<p></p>
<p> "<i>Y he aquí un varón llamado José, el cual era senador, varón bueno y justo, (el cual no había consentido en el
    consejo ni en los hechos de ellos), de Arimatea, ciudad de la Judea, el cual también esperaba el reino de Dios. Éste
    llegó a Pilato, y <strong>pidió el cuerpo de Jesús</strong>. Y quitado, lo envolvió en una sábana, y le puso en un
    sepulcro abierto en una peña, en el cual ninguno había aún sido puesto. <strong>Y era día de la víspera de la
        Pascua</strong>; y estaba para rayar el sábado</i>." ( Lc 23: 50-54 )</p>
<p><strong>Como vemos, tanto ahora en Lucas como antes en Juan</strong> se dice que la Pascua no había ocurrido, porque
    el día de su juicio, crucifixión y muerte era todavía la víspera de la Pascua. Si ese día era la víspera de la
    Pascua, entonces la noche anterior, que fue la última cena, no podían ellos haber comido la Pascua. Se ve claramente
    que <strong>ese año Jesús no llegó vivo al momento de comer el cordero pascual. Es lógico que así fuese, porque
        Cristo es la verdadera Pascua, de la que el cordero pascual era meramente un símbolo; consecuentemente, el Señor
        tenía que morir el día que se mataba el cordero, y por lo tanto, no podía estar vivo cuando ya éste estuviera
        asado y listo para comer.</strong></p>
<p> Si leemos 13: 27-29 veremos que cuando en medio de aquella última cena, Cristo dice a Judas: "Lo que vas a hacer
    hazlo más presto", <strong>los apóstoles interpretan</strong>, entre otras cosas, que <strong>lo que Jesús le estaba
        diciendo a Judas era que comprara lo que se necesitaba para la fiesta.</strong> Por lo tanto, la fiesta no había
    llegado aún.</p>
<p></p>
<p> "<i>Y tras el bocado Satanás entró en él. Entonces Jesús le dice: <strong>Lo que haces, hazlo más presto</strong>.
    Mas ninguno de los que estaban a la mesa entendió a qué propósito le dijo esto. <strong>Porque los unos pensaban,
        por que Judas tenía la bolsa, que Jesús le decía: Compra lo que necesitamos para la fiesta;</strong> o, que
    diese algo a los pobres</i>." ( Jn 13: 27-29 )</p>
<p><strong>En resumen,</strong> en la última cena, el rito de la Santa Cena que nuestro Señor Jesucristo estableció para
    todos los cristianos, se usó pan con levadura, o sea, pan corriente, y vino rojo. Eso es lo que los cristianos
    debemos usar en la Santa Cena.</p>
<p><strong>Satanás ha logrado desvirtuar la Santa Cena, en la casi totalidad de las religiones cristianas.</strong> Unos
    le dan a sus feligreses la hostia, pero solamente los sacerdotes se beben el vino. Otros no le dan a los feligreses
    ni el pan ni el vino, eso lo reciben nada más que unos poquísimos miembros "especiales" que ellos dicen que
    pertenecen a los 144,000 escogidos. Otros le dan a sus feligreses, incorrectamente, pan sin levadura, y tampoco le
    dan vino tinto, sino jugo de uvas o una especie de coolaid rojo. Otros usan correctamente el vino rojo, pero le dan
    a los feligreses pan sin levadura. Son pocos los que en la Santa Cena usan pan corriente y vino tinto.</p>
<p><strong>Como vemos, Satanás ha logrado torcer el verdadero rito cristiano de la Santa Cena, en la inmensa mayoría de
    los cristianos, sin que estos se den cuenta.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    