---
import Layout from "../layout/Layout.astro";
---

<Layout title="Those who do not worship the Lord reject the idea of being submitted to Him">
    <section>
<p><strong>Those who do not worship the Lord simply reject the idea of being submitted to Him</strong></p>
<p> I have analyzed in my life, that deep down in the souls of those who do not worship the Lord there is aversion at
    the thought that he is the one who governs his way, not theirs; aversion that his will is absolute, and doesn't
    allow them to be influent factors is His decisions.</p>
<p> There are those who totally reject the control of God, but the majority does not aspire to much, they only want to
    have means to influence or pressure God's decisions. It's the classic democracy of the "constituents crooked
    leaders" who aspire to have their conveniences, interests, caprices, "ego", etc., have to be taken into
    consideration by the one who rules.</p>
<p> That's why in false religions, and in the false conceptions of the true religion, you always see "works", for
    example, candles, masses, gifts to the church, etc., like factors to their salvation, or factors on heavenly favors
    difficult to attain. This is more notably seen in the Roman Catholic Church, because it is the most known; but the
    Russell's followers do the same with the "points" they gain with their preaching from door to door and thousands of
    other things. Analyze false religions and the false conceptions of the true religion, and you'll see that all of
    them, deep down, have that tendency.</p>
<p> In the case of the Philistines, which serve, as a base for this matter, their aversion towards God is clear. They
    were scared by how powerful they saw he was; but they detested Him. In the passage that appears below, there's a
    confession on their part, in the sense that even their Gods seemed submitted to the power of God. However, not even
    if convenient would they pass God's side, that was the level of their antipathy.</p>
<p></p>
<p> "8 <i>Woe unto us! <strong>Who shall deliver us out of the hand of these mighty Gods?</strong> These are the Gods
    that smote the Egyptians with all the plagues in the wilderness.</i> 9 <i>Be strong and quit yourselves like men, O
    ye Philistines, that ye be not servants unto the Hebrews, as they have been to you: quit yourselves like men,
    <strong>and fight</strong></i>. (I Sam 4:8-9)</p>
<p> The opposite occurred with the Israelites. They were on God's side, to which they had proof and testimony that he
    was powerful, but they would abandon Him and would give themselves to idolatry. That's why we see in the Bible, by
    way of the books of Judges, Kings, and Chronicles the apostasy of the Israelites, but never do we see the people of
    Canaan "apostatize" their idolatry to follow God.</p>
<p></p>
<p> "10 <i>For pass over the isles of Chittim, and see; and send unto Kedar, and consider diligently, and see if there
    be such a thing.</i> 11 <strong>Hath a nation changed their gods, which are yet no gods</strong><i>? But my people
    have changed their glory for that which doth not profit</i>." (Jer 2:10-11)</p>
<p>The idolatry based religions, and the other false religions, always have in their structure the factor that is
    desired by rebellious creatures: being able to have the power to influence or to pressure His divine decisions.</p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    