---
import Layout from "../layout/Layout.astro";
---

<Layout title="Dos mujeres diferentes ungieron a Jesús">
    <section>
<p><strong>Dos mujeres diferentes ungieron a Jesús; una era decente, la otra no</strong></p>
<p> He hablado con muchos hermanos que confunden <strong>los dos casos</strong> diferentes en que una mujer ungió a
    Nuestro Señor, y creen que se trata de un solo caso. Por esta confusión algunos consideran que María, la hermana de
    Lázaro, el amigo de Cristo, era una prostituta, cuando en realidad ella era una mujer decente. La prostituta era la
    otra, la que ungió a Jesús en Galilea, al norte. Lázaro y sus hermanas vivían en Bethania, cerca de Jerusalem, al
    sur. Estos pasajes que tratan sobre la unción, son el mejor ejemplo de lo necesario que es <strong>fijarnos en los
        detalles para interpretar correctamente las Escrituras.</strong></p>
<p> Los pasajes de Mateo, Marcos y Juan hablan de la unción de Jesús por María, pero en el episodio narrado en Lucas se
    habla de otra ocasión, y de una mujer desconocida. Veamos las diferencias entre los dos casos para que se entienda
    más fácilmente. A medida que lean las diferencias entre ambos casos, pueden ustedes comprobarlas yendo a leer más
    abajo los pasajes correspondientes.</p>
<p><strong>a)</strong> Esta acción de María derramando el ungüento, <strong>tuvo lugar en la propia casa de ella, donde
    vivía con Marta y Lázaro</strong>. Por tanto, no puede ser el mismo caso que se relata en Lc 7:36-50, <strong>el
    cual tuvo lugar en casa de un fariseo llamado Simón, y la mujer que ungió al Señor no vivía allí.</strong></p>
<p><strong> b)</strong> El caso de la mujer mencionada en Lucas ocurrió mucho antes que el caso de María, ya que
    <strong>el de esta mujer ocurrió a principios de la predicación de Jesús, y el de María, a finales de la predicación
        de Jesús, cerca del día de su muerte.</strong> Así pues, los casos relatados en Mt 26:6; Mr 14:3; y Jn 12:1 son
    iguales entre sí, relatan el mismo episodio; pero el caso relatado en Lc 7:36-50 es un episodio diferente, porque
    ocurrieron en tiempos diferentes.</p>
<p><strong> c)</strong> En estos tres relatos <strong>María, la hermana de Lázaro, es la criticada</strong> por derramar
    un ungüento que se podía vender para dar a los pobres; mientras que en el episodio de Lucas <strong>a quien critican
        es a Cristo</strong>, por dejarse tocar por una pecadora; no critican a la pecadora por derramar el ungüento.
</p>
<p><strong> d)</strong> En los tres casos iguales (Mt, Mr y Jn) <strong>los anfitriones de Cristo son amistosos</strong>,
    y creen en la divinidad de Jesús; en el caso de Lucas <strong>el anfitrión es un fariseo que le es hostil</strong>,
    <strong>y duda incluso de que sea profeta</strong>, porque él creía que Jesús no sabía qué clase de mujer lo estaba
    tocando.</p>
<p><strong> e)</strong> En los tres casos iguales <strong>son los discípulos los que se enojan</strong>, porque hubieran
    preferido vender el ungüento y dar el dinero a los pobres; en el caso de Lucas <strong>nadie se enoja</strong> por
    el derrame de ungüento.</p>
<p><strong> f)</strong> En el caso de la hermana de Lázaro, <strong>el Señor defiende la acción de María;</strong> pero
    en el caso de Lucas no existe esa defensa de la acción realizada. Lo que allí vemos es <strong>una demostración de
        la divinidad de Cristo y su perdón</strong>; demostración y perdón que no existen en los otros tres casos.
    Compárense los cuatro pasajes.</p>
<p><strong> g)</strong> En Lucas, <strong>Jesús liga la unción o derrame del ungüento con los pecados cometidos por la
    mujer, su perdón, y la falta de hospitalidad del anfitrión fariseo</strong>. Sin embargo en los otros tres casos
    <strong>Jesús liga la unción solamente con su sepultura</strong>.</p>
<p><strong> h)</strong> En los tres casos similares, el de Mateo, Marcos y Juan, los judíos son amistosos con las dos
    hermanas, <strong>se tratan con ellas, las consideran dignas</strong>, las consuelan y las acompañan; señal que
    <strong>no eran consideradas como pecadoras públicas</strong>. En el caso de Lucas, la que ungió los pies de Jesús
    <strong>era considerada una pública pecadora, indigna</strong> de alternar con los judíos.</p>
<p><strong>i)</strong> Sabemos que el caso de la pecadora ocurrió en el norte, porque en Lc 7:1 vemos que <strong>se
    menciona la ciudad de Capernaum, y en 7:11 la ciudad de Naín</strong>, dos ciudades del norte, en Galilea. Por lo
    tanto, el episodio de la unción que llevó a cabo la pecadora, ocurrió en el norte, no en Bethania, que es una ciudad
    del sur, cerca de Jerusalem, donde vivía María en unión de su hermana Marta y su hermano Lázaro.</p>
<p><strong>Caso de Mateo.</strong></p>
<p> "6 <i>Y estando Jesús en Bethania, <strong>en casa de Simón el leproso</strong>,</i> 7 <i>vino a él una mujer,
    teniendo un vaso de alabastro de ungüento de gran precio, y lo derramó sobre la cabeza de él, estando sentado a la
    mesa.</i> 8 <i>Lo cual viendo <strong>sus discípulos, se enojaron</strong>, diciendo: ¿Por qué se pierde esto?</i> 9
    <i>Porque esto se podía vender por gran precio, y <strong>darse a los pobres.</strong></i> 10 <i>Y entendiéndolo
        Jesús, les dijo: ¿Por qué dais pena a esta mujer? Pues ha hecho conmigo buena obra.</i> 11 <i>Porque siempre
        tendréis pobres con vosotros, mas a mí no siempre me tendréis.</i> 12 <i>Porque echando este ungüento sobre mi
        cuerpo, <strong>para sepultarme lo ha hecho</strong>.</i> 13 <i>De cierto os digo, que donde quiera que este
        evangelio fuere predicado en todo el mundo, también será dicho para memoria de ella, lo que ésta ha hecho</i>."
    (Mt 26:6-13)</p>
<p><strong>Caso de Marcos.</strong></p>
<p> "3 <i>Y estando él en Bethania <strong>en casa de Simón el leproso</strong>, y sentado a la mesa, vino una mujer
    teniendo un alabastro de ungüento de nardo espique de mucho precio; y quebrando el alabastro, se lo derramó sobre su
    cabeza.</i> 4 <i>Y hubo algunos que se enojaron dentro de sí, y dijeron: ¿Para qué se ha hecho este desperdicio de
    ungüento?</i> 5 <i>Porque podía esto ser vendido por más de trescientos denarios, y <strong>darse a los pobres. Y
    murmuraban contra ella</strong>.</i> 6 <i>Mas Jesús dijo: Dejadla; ¿por qué la fatigáis? Buena obra me ha hecho;</i>
    7 <i>que siempre tendréis los pobres con vosotros, y cuando quisiereis les podréis hacer bien; mas a mí no siempre
        me tendréis.</i> 8 <i>Esta ha hecho lo que podía; porque se ha anticipado a <strong>ungir mi cuerpo para la
        sepultura</strong>.</i> 9 <i>De cierto os digo que donde quiera que fuere predicado este evangelio en todo el
        mundo, también esto que ha hecho ésta, será dicho para memoria de ella</i>" (Mr 14:3-9)</p>
<p><strong>Caso de Juan.</strong></p>
<p> "1 <i>Y Jesús, seis días antes de la Pascua, <strong>vino a Bethania</strong>, <strong>donde estaba Lázaro</strong>,
    que había sido muerto, al cual había resucitado de los muertos.</i> 2 <i><strong>Y le hicieron allí una
    cena</strong> y Marta servía, y Lázaro era uno de los que estaban sentados a la mesa juntamente con él.</i> 3 <i>Entonces
    María tomó una libra de ungüento de nardo líquido de mucho precio, y ungió los pies de Jesús, y limpió sus pies con
    sus cabellos, y la casa se llenó del olor del ungüento.</i> 4 <i>Y dijo <strong>uno de sus discípulos</strong>,
    Judas Iscariote, hijo de Simón, el que le había de entregar:</i> 5 <i>¿Por qué no se ha vendido este ungüento por
    trescientos dineros, y <strong>se dio a los pobres?</strong></i> 6 <i>Mas dijo esto, no por el cuidado que él tenía
    de los pobres, sino porque era ladrón, y tenía la bolsa, y traía lo que se echaba en ella.</i> 7 <i>Entonces Jesús
    dijo: Déjala; <strong>para el día de mi sepultura ha guardado esto</strong>;</i> 8 <i>porque a los pobres siempre
    los tenéis con vosotros, mas a mí no siempre me tenéis</i>." (Jn 12:1-8)</p>
<p><strong>Caso de Lucas.</strong></p>
<p>"<i>36 Y <strong>le rogó uno de los fariseos, que comiese con él</strong>. Y entrado <strong>en casa del
    fariseo</strong>, se sentó a la mesa.</i> 37 <i>Y he aquí una mujer que <strong>había sido pecadora en la
    ciudad</strong>, como entendió que estaba a la mesa <strong>en casa de aquel fariseo</strong>, trajo un alabastro de
    ungüento,</i> 38 <i>y estando detrás a sus pies, comenzó llorando a regar con lágrimas sus pies, y los limpiaba con
    los cabellos de su cabeza; y besaba sus pies, y los ungía con el ungüento.</i> 39 <i>Y como vio esto <strong>el
    fariseo que le había convidado, habló entre sí, diciendo: Este, si fuera profeta</strong>, conocería quién y cuál es
    la mujer que le toca, que es pecadora.</i></p>
<p><i> </i> 40 <i>Entonces respondiendo Jesús, le dijo: Simón, una cosa tengo que decirte. Y él dice: Di, Maestro.</i>
    41 <i>Un acreedor tenía dos deudores, el uno le debía quinientos denarios, y el otro cincuenta;</i> 42 <i>y no
        teniendo ellos de qué pagar, perdonó a ambos. Di, pues, ¿cuál de éstos le amará más?</i> 43 <i>Y respondiendo
        Simón, dijo: Pienso que aquél al cual perdonó más. Y él le dijo: Rectamente has juzgado.</i> 44 <i>Y vuelto a la
        mujer, <strong>dijo a Simón:</strong> ¿Ves esta mujer? <strong>Entré en tu casa, no diste agua para mis pies;
            mas ésta ha regado mis pies con lágrimas, y los ha limpiado con los cabellos.</strong></i> 45 <strong>No me
        diste beso, mas ésta, desde que entré, no ha cesado de besar mis pies.</strong> 46 <strong>No ungiste mi cabeza
        con óleo; mas ésta ha ungido con ungüento mis pies.</strong> 47 <i>Por lo cual te digo que sus muchos pecados
        son perdonados, porque amó mucho; mas al que se perdona poco, poco ama.</i> 48 <i>Y a ella dijo: Los pecados te
        son perdonados.</i> 49 <i><strong>Y los que estaban juntamente sentados a la mesa, comenzaron a decir entre sí:
        ¿Quién es éste, que también perdona pecados?</strong></i> 50 <i>Y dijo a la mujer: Tu fe te ha salvado, ve en
        paz</i>." (Lc 7:36-50)</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    