<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La "dureza" del Antiguo Testamento y los doctrineros versiculares</title>
</head>
<body>
<p><strong>"Dureza" del Antiguo Testamento</strong></p>
<p> Hay quienes piensan que el Nuevo Testamento es una enseñanza de amor<strong>,</strong> (lo cual es
    cierto)<strong>,</strong> pero que el Antiguo Testamento es una enseñanza de dureza y odio (lo cual no es
    cierto)<strong>.</strong> Los que así piensan son los <strong>"doctrineros versiculares",</strong> personas que
    forman o aceptan doctrinas basadas en un solo versículo o un solo pasaje<strong>,</strong> sin leer el resto de la
    Biblia<strong>.</strong></p>
<p> Parece que ellos creen que Dios <strong>"antes"</strong> predicaba la dureza y el odio<strong>,</strong> y que
    <strong>"después"</strong> cambió de opinión y se decidió a hacer el Nuevo Testamento para predicar el
    amor<strong>.</strong> A ellos no les dice nada Heb 13<strong>:</strong>8<strong>,</strong> sobre la inmutabilidad
    de la forma de ser de Dios<strong>.</strong></p>
<p><strong>¿Por qué algunos hermanos opinan que el Antiguo Testamento era una enseñanza de dureza, de falta de
    misericordia, y hasta de odio?</strong> Ellos se basan en Mt 5<strong>:</strong>38 y 43<strong>,</strong> donde
    <strong>el Señor menciona frases y refranes que se usaban en aquella cultura, pero que no formaban parte de la ley
        de Dios.</strong> No se les ocurrió ir a leer en el Antiguo Testamento a ver si<strong>,</strong>
    efectivamente<strong>,</strong> lo que ellos interpretaron<strong>,</strong> era cierto<strong>.</strong></p>
<p><strong>"</strong><i>Oísteis que <strong>fue dicho a los antiguos:</strong> Ojo por ojo<strong>,</strong> y diente
    por diente</i><strong>."</strong> (Mt 5<strong>:</strong>38)</p>
<p></p>
<p><strong>"<i>Oísteis que fue dicho:</i></strong> <i>Amarás a tu prójimo<strong>,</strong> y <strong>aborrecerás a tu
    enemigo</strong></i><strong>."</strong> (Mt 5<strong>:</strong>43)</p>
<p><strong>En ningún lugar del Antiguo Testamento se manda a odiar a los enemigos.</strong> Ya tengo callos en los oídos
    de oír hablar sandeces respecto a <strong>"</strong>la dureza<strong>"</strong> y <strong>"</strong>la
    crueldad<strong>"</strong> del Antiguo Testamento<strong>,</strong> en comparación al amor del Nuevo
    Testamento<strong>.</strong> El que no conozca la Biblia y escuche estas sandeces llegará a la conclusión de que el
    Nuevo Testamento fue escrito por Dios y sus enviados<strong>;</strong> pero que el Antiguo Testamento fue escrito
    por Satanás y sus secuaces<strong>.</strong></p>
<p> No comprenden estos parlanchines<strong>,</strong> que tanto el Antiguo como el Nuevo Testamento son palabra de Dios<strong>;</strong>
    que el uno no puede contradecir al otro<strong>,</strong> porque Dios no se contradice a Sí mismo<strong>,</strong>
    ni cambia de convicciones<strong>.</strong> El Antiguo y el Nuevo Testamento no se contradicen<strong>,</strong>
    sino que se complementan<strong>;</strong> son dos partes cronológicamente distantes<strong>,</strong> de <strong>una
        misma unidad.</strong> Fíjense en que el Señor no dice que Dios mandó<strong>,</strong> o que Dios
    dijo<strong>,</strong> sino que les dice que <strong>"</strong>fue dicho<strong>",</strong> a
    secas<strong>.</strong></p>
<p><strong>Eso de "ojo por ojo" era una norma para los jueces, no un mandato para el ciudadano común.</strong> En los
    siguientes pasajes se ve bien claramente que <strong>"</strong>ojo por ojo<strong>"</strong> no era un permiso para
    ejecutar venganzas personales<strong>.</strong> No fue dicho para que cada persona tuviera justificación para dar
    rienda suelta a su odio o afán de venganza<strong>;</strong> sino que se le dio a los jueces como regla normativa de
    juicio<strong>,</strong> para saber cómo hacer justicia cuando no hubiera una ley escrita sobre el
    asunto<strong>.</strong></p>
<p> Lo que pasa es que <strong>el pueblo torció el propósito original de esa ley</strong> para adaptarla a sus
    concupiscencias vengativas y sus odios personales<strong>.</strong> Como siempre ocurre<strong>,</strong> (aún con
    el cristianismo)<strong>,</strong> la fuerza de la tradición se sobrepuso a la fuerza de la ley de
    Dios<strong>,</strong> como es el caso de la adoración de santos y vírgenes<strong>.</strong> Veamos algunos pasajes
    que contienen la frase <strong>"</strong>ojo por ojo<strong>",</strong> y veremos que se refería solamente a los
    jueces<strong>.</strong></p>
<p><strong>"</strong>22 <i>Si algunos riñeren<strong>,</strong> e hiriesen a mujer preñada<strong>,</strong> y ésta
    abortare<strong>,</strong> pero sin haber muerte<strong>,</strong> será penado conforme a lo que le impusiere el
    marido de la mujer <strong>y juzgaren los árbitros.</strong></i> 23 <i>Mas si hubiere muerte<strong>,</strong>
    entonces <strong>pagarás vida por vida,</strong></i> 24 <i><strong>ojo por ojo, diente por diente, mano por mano,
    pie por pie,</strong></i> <strong> </strong>25 <strong><i>quemadura por quemadura, herida por herida, golpe por
    golpe.</i>"</strong> (Ex 21<strong>:</strong>22-25)</p>
<p><strong>Como pudimos ver en el versículo 22, eso de ojo por ojo, etc., se le decía a los árbitros, es decir a los
    jueces.</strong> En Lev 24<strong>:</strong>17-20 se aclara aún más el hecho de que la ley dada en el pasaje
    leído<strong>,</strong> era una guía para los jueces<strong>.</strong> Otro tanto se ve en Dt 19<strong>:</strong>18-21<strong>,</strong>
    donde al juzgar al testigo falso se legisla que se le haga a él como él pensaba hacer al otro<strong>,</strong> es
    decir<strong>,</strong> otra vez el ojo por ojo<strong>,</strong> pero para los jueces<strong>.</strong></p>
<p><strong>"</strong>17 <i>Asimismo el hombre que hiere de muerte a cualquiera persona<strong>,</strong> que sufra la
    muerte<strong>.</strong></i> 18 <i>Y el que hiere a algún animal ha de restituirlo<strong>:</strong> animal por
    animal<strong>.</strong></i> 19 <i>Y el que causare lesión en su prójimo<strong>,</strong> según
    hizo<strong>,</strong> así le sea hecho<strong>:</strong></i> 20 <i>rotura por rotura<strong>,</strong> <strong>ojo
    por ojo,</strong> diente por diente<strong>;</strong> según la lesión que habrá hecho a otro<strong>,</strong> tal
    se hará a él</i><strong>."</strong> (Lv 24<strong>:</strong>17-20)</p>
<p></p>
<p><strong>"</strong>18 <strong>Y los jueces</strong> <i>inquirirán bien<strong>,</strong> y si pareciere ser aquél
    testigo falso<strong>,</strong> que testificó falsamente contra su hermano<strong>,</strong></i> 19 <strong>haréis a
    él como él pensó hacer a su hermano;</strong> <i>y quitarás el mal de en medio de ti<strong>.</strong></i> 20 <i>Y
    los que quedaren oirán<strong>,</strong> y temerán<strong>,</strong> y no volverán más a hacer una mala cosa como
    ésta<strong>,</strong> en medio de ti<strong>.</strong></i> 21 <i>Y no perdonará tu ojo<strong>:</strong> vida por
    vida<strong>,</strong> ojo por ojo<strong>,</strong> diente por diente<strong>,</strong> mano por
    mano<strong>,</strong> pie por pie</i><strong>."</strong> (Dt 19<strong>:</strong>18-21)</p>
<p> Otra prueba de que <strong>aquello de "ojo por ojo" que aparece en Mt 5:38 era una corrupción de este mandamiento
    que tratamos, y no una aplicación de él,</strong> es el hecho de que en Ex 23<strong>:</strong>4-5 y Lev
    19<strong>:</strong>17-18 se da muy diferente doctrina para tratar a los enemigos<strong>.</strong> Lo que allí se
    enseña dista mucho de la corrupción de esta norma judicial<strong>,</strong> que Jesús les echó en cara en Mt
    5<strong>:</strong>38<strong>.</strong></p>
<p><strong>"</strong>4 <i>Si encontrares el buey <strong>de tu enemigo</strong> o su asno extraviado<strong>,</strong>
    <strong>vuelve a llevárselo.</strong></i> 5 <i>Si vieres el asno <strong>del que te aborrece</strong> caído debajo
    de su carga<strong>,</strong> <strong>¿</strong>le dejarás entonces desamparado<strong>?</strong> <strong>Sin falta
        ayudarás con él a levantarlo</strong></i><strong>."</strong> ( Ex 23<strong>:</strong>4-5 )</p>
<p><strong>"</strong>17 <strong>No aborrecerás a tu hermano</strong> <i>en tu corazón<strong>,</strong> ingenuamente
    reprenderás a tu prójimo<strong>,</strong> y no consentirás sobre él pecado<strong>.</strong></i> 18 <i><strong>No
    te vengarás, ni guardarás rencor</strong> a los hijos de tu pueblo<strong>,</strong> mas <strong>amarás a tu prójimo
    como a ti mismo:</strong> Yo Jehová<strong>.</strong></i><strong>"</strong> (Lev 19<strong>:</strong>17-18)</p>
<p> Hay cristianos que por leer solamente el Nuevo Testamento<strong>,</strong> (si es que lo leen
    completo)<strong>,</strong> <strong>creen que el perdón y el amor se inventó por primera vez en el Nuevo
        Testamento.</strong> En estos pasajes recién leídos vimos cómo desde siempre<strong>,</strong> Dios mandaba a
    amar a los que nos aborrecían y a los que eran enemigos nuestros<strong>.</strong> Esto contradice la charlatanería
    de los que dicen que el antiguo pacto era de rencor<strong>,</strong> de dureza y de venganza<strong>,</strong> en
    contraposición con el nuevo pacto<strong>,</strong> que ahora es de amor<strong>,</strong> de
    perdón<strong>,</strong> de suavidad<strong>.</strong> Hablan como si Dios fuera antes de una
    manera<strong>,</strong> y ahora hubiera cambiado de forma de ser<strong>,</strong> y fuera de otra manera opuesta a
    la primera<strong>.</strong> O como si Dios Padre fuera duro<strong>,</strong> vengativo<strong>,</strong> rencoroso<strong>,</strong>
    y Jesucristo fuera lo contrario<strong>,</strong> blando<strong>,</strong> perdonador y amoroso<strong>.</strong>
    <strong>Son blasfemias y disparates</strong> motivados por la ignorancia que de la Biblia poseen
    algunos<strong>,</strong> que sólo se ocupan de sentar donantes en los bancos de su iglesia<strong>.</strong></p>
<p> A los doctrineros versiculares no les dice nada Ex 23<strong>:</strong>4-5 donde se predica el amor a los
    enemigos<strong>.</strong> No<strong>;</strong> ellos sólo saben fijarse<strong>,</strong> pueden
    fijarse<strong>,</strong> quieren fijarse o fueron enseñados a fijarse en Mt 5<strong>:</strong>38 y
    43<strong>,</strong> adoptando de allí una idea distorsionada<strong>,</strong> de lo que es el Antiguo
    Testamento<strong>.</strong> <strong>No tienen discernimiento ni independencia intelectual para, por cuenta propia,
        analizar el resto de la Biblia.</strong> Ellos ya hicieron su gran doctrina basados en solamente dos pequeños
    versículos<strong>.</strong></p>
<p> Ahora tienen una <strong>"doctrina versicular"</strong> para poderla predicar<strong>.</strong> Y parodiando al
    poeta podemos decir<strong>:</strong> <strong>"</strong>si alguno le contradice<strong>,</strong> se
    revuelve<strong>,</strong> se demuda<strong>,</strong> y con la voz campanuda profiere<strong>:</strong> la Biblia
    dice<strong>....¡</strong>qué ha de decir infelice<strong>!</strong> <strong>¿</strong>Cuándo la Biblia has leído o
    cuándo la has conocido<strong>?"</strong></p>
<p> Como vemos<strong>,</strong> es una necedad de marca mayor<strong>,</strong> <strong>y es además, un
    insulto,</strong> el decir que Dios <strong>"</strong>antes<strong>"</strong> predicaba la dureza<strong>,</strong>
    la inmisericordia<strong>,</strong> y hasta el odio<strong>,</strong> y que
    <strong>"</strong>ahora<strong>"</strong> predica el amor<strong>.</strong> Veamos otros pasajes del Antiguo
    Testamento donde se predica el amor<strong>.</strong></p>
<p><strong>"</strong>15 <strong>No entregarás a su señor el siervo que se huyere a ti de su amo.</strong> 16 <i>More
    contigo<strong>,</strong> en medio de ti<strong>,</strong> en el lugar que escogiere en alguna de tus
    ciudades<strong>,</strong> donde bien le estuviere<strong>;</strong> <strong>no le harás fuerza</strong></i><strong>."</strong>
    (Dt 23<strong>:</strong>15-16)</p>
<p> En el pasaje anterior vemos establecido <strong>el derecho de asilo.</strong> El hombre que huye de
    otro<strong>,</strong> o de una institución<strong>,</strong> por cuestiones <strong>no</strong>
    delictivas<strong>,</strong> debe obtener nuestra acogida y amparo<strong>.</strong> No sólo eso<strong>,</strong>
    sino que se ordena que se le trate con el mismo respeto y los derechos de un nativo<strong>,</strong> así como con
    caridad<strong>.</strong></p>
<p><strong>"</strong>21 <i>Y <strong>al extranjero no engañarás, ni angustiarás,</strong> porque extranjeros fuisteis
    vosotros en la tierra de Egipto<strong>.</strong></i> 22 <i><strong>A ninguna viuda ni huérfano afligiréis</strong></i><strong>"</strong>
    (Ex 22<strong>:</strong>21-22)</p>
<p></p>
<p><strong>"<i>Y no angustiarás al extranjero,</i></strong> <i>pues vosotros sabéis cómo se halla el alma del extranjero<strong>,</strong>
    ya que extranjeros fuisteis en la tierra de Egipto</i><strong>."</strong> (Ex 23<strong>:</strong>9)</p>
<p></p>
<p><strong>"</strong>32 <strong>Delante de las canas te levantarás, y honrarás el rostro del anciano,</strong> <i>y de
    tu Dios tendrás temor<strong>:</strong> Yo Jehová<strong>.</strong></i> 33 <i><strong>Y cuando el extranjero morare
    contigo en vuestra tierra, no le oprimiréis.</strong></i> 34 <strong>Como a un natural de vosotros tendréis al
    extranjero</strong> <i>que peregrinare entre vosotros<strong>;</strong> y <strong>ámalo como a ti mismo;</strong>
    porque peregrinos fuisteis en la tierra de Egipto<strong>;</strong> Yo Jehová vuestro Dios</i><strong>."</strong>
    (Lv 19<strong>:</strong>32-34)</p>
<p></p>
<p><strong>"</strong><i>Y cuando segareis la mies de vuestra tierra<strong>,</strong> no acabarás de segar el rincón de
    tu haza<strong>,</strong> ni espigarás tu siega<strong>; para el pobre, y para el extranjero la dejarás:</strong> Yo
    Jehová vuestro Dios</i><strong>."</strong> (Lv 23<strong>:</strong>22)</p>
<p></p>
<p><strong>"</strong>Mas el sábado de la tierra os será para comer a ti<strong>,</strong> y a tu
    siervo<strong>,</strong> y a tu sierva<strong>,</strong> y a tu criado<strong>,</strong> <strong>y a tu extranjero
        que morare contigo"</strong> (Lv 25<strong>:</strong>6)</p>
<p></p>
<p><strong>"</strong>18 <strong>Que hace justicia al huérfano y a la viuda; que ama también al extranjero dándole pan y
    vestido.</strong> 19 <strong>Amaréis pues al extranjero;</strong> <i>porque extranjeros fuisteis vosotros en tierra
    de Egipto</i><strong>."</strong> (Dt 10<strong>:</strong>18-19)</p>
<p> Una vez leídos los anteriores pasajes<strong>,</strong> yo me pregunto <strong>¿</strong>cuántos de los que creen
    que el Antiguo Testamento era <strong>"</strong>duro<strong>"</strong> y <strong>"</strong>cruel<strong>"</strong>
    practican la caridad que en él se establece<strong>?</strong> <strong>¿</strong>Cuántos de los que hablan tantas
    idioteces sobre la crueldad de la ley de Dios hacen lo que esa <strong>"</strong>cruel<strong>"</strong> ley de
    Moisés manda que se haga<strong>?</strong> <strong>¿</strong>Cuántos apartan de su negocio o de sus ganancias una
    cantidad substancial para los huérfanos<strong>,</strong> viudas y pobres en general<strong>?</strong>
    <strong>¿</strong>Cuántos de ellos respetan a los ancianos levantándose delante de las canas<strong>,</strong> como
    establece la ley de Dios que ellos consideran <strong>"</strong>cruel<strong>"?</strong> <strong>¿</strong>Cuántos
    ayudan a los extranjeros necesitados<strong>,</strong> como enseña que se haga la <strong>"</strong>cruel y
    dura<strong>"</strong> ley mosaica<strong>?</strong></p>
<p><strong>En el Antiguo Testamento, el diezmo de cada tres años, se usaba íntegramente para obras de caridad</strong>
    en favor de los huérfanos<strong>,</strong> en favor de las viudas<strong>,</strong> en favor de los
    extranjeros<strong>,</strong> y en favor de los levitas<strong>,</strong> que no tenían de qué
    sostenerse<strong>,</strong> sobre todo los que vivían en las ciudades del interior<strong>,</strong> según se ve en
    Dt 14<strong>:</strong>28-29<strong>.</strong> Así se administraban los diezmos<strong>,</strong> de acuerdo con la
    ley que lo estableció<strong>.</strong> Otro tanto nos dice Dt 26<strong>:</strong>12-13<strong>.</strong>
    Veamos<strong>.</strong></p>
<p><strong>"</strong>22 <i>Indispensablemente diezmarás todo el producto de tu simiente<strong>,</strong> que rindiere
    el campo cada un año<strong>.</strong></i> 23 <i>Y comerás delante de Jehová tu Dios en el lugar que él escogiere
    para hacer habitar allí su nombre<strong>,</strong> <strong>el diezmo de tu grano, de tu vino, y de tu aceite, y los
        primerizos de tus manadas,</strong> y de tus ganados<strong>,</strong> para que aprendas a temer a Jehová tu
    Dios todos los días<strong>...</strong></i> 28 <i><strong>Al cabo de cada tres años sacarás todo el diezmo de tus
    productos de aquel año, y lo guardarás en tus ciudades.</strong></i> 29 <strong>Y vendrá el levita,</strong> <i>que
    no tiene parte ni heredad contigo<strong>,</strong> y <strong>el extranjero,</strong> y <strong>el
        huérfano,</strong> y <strong>la viuda,</strong> que hubiere en tus poblaciones<strong>,</strong> y comerán y
    serán saciados<strong>;</strong> para que Jehová tu Dios te bendiga en toda obra de tus manos que
    hicieres</i><strong>."</strong> ( Dt 14<strong>:</strong>23-29 abreviado )</p>
<p></p>
<p><strong>"</strong>12 Cuando hubieres acabado de diezmar todo <strong>el diezmo de tus frutos en el año
    tercero,</strong> el año del diezmo<strong>,</strong> <strong>darás también al levita, al extranjero, al huérfano y
    a la viuda;</strong> y comerán en tus villas<strong>,</strong> y se saciarán<strong>.</strong> 13 Y dirás delante de
    Jehová tu Dios<strong>:</strong> Yo he sacado lo consagrado de mi casa<strong>,</strong> y también lo he dado al
    levita<strong>,</strong> y al extranjero<strong>,</strong> y al huérfano<strong>,</strong> y a la
    viuda<strong>,</strong> conforme a todos tus mandamientos que me ordenaste<strong>,</strong> no he traspasado tus
    mandamientos<strong>,</strong> ni me he olvidado de ellos<strong>."</strong> (Dt 26<strong>:</strong>12-13)</p>
<p> Como vemos <strong>el sistema religioso del Antiguo Testamento, era altamente caritativo.</strong> Daba el 33 % (un
    tercio) de los beneficios que se recibían de los creyentes<strong>,</strong> para obras de caridad<strong>;</strong>
    es decir<strong>,</strong> el 33% del presupuesto de la organización religiosa del Antiguo
    Testamento<strong>,</strong> se dedicaba a caridad<strong>,</strong> <strong>al amor al prójimo.</strong> Por eso
    duele la necia acusación de muchos que<strong>,</strong> por charlar sin control y sin pensar<strong>,</strong> se
    ponen a decir frases estereotipadas tales como<strong>:</strong> <strong>"</strong>El Antiguo Testamento es la
    Escritura de la dureza<strong>,</strong> el Nuevo Testamento es la Escritura del amor<strong>";</strong>
    <strong>"</strong>bajo la ley todo era crueldad<strong>,</strong> bajo la gracia hay amor<strong>",</strong>
    bla<strong>,</strong> bla<strong>,</strong> bla<strong>...</strong></p>
<p><strong>Yo desearía saber si en las sectas u organizaciones religiosas a las que pertenecen tales parlanchines, se
    imita esta amorosa ley del Antiguo Testamento.</strong> Bajo <strong>"</strong>la ley<strong>",</strong> bajo el
    <strong>"</strong>ojo por ojo<strong>",</strong> bajo <strong>"</strong>la dureza<strong>",</strong> se destinaba el
    33% del dinero que manejaba la religión<strong>,</strong> para obras de caridad<strong>.</strong> Mi pregunta
    es<strong>:</strong> y ahora<strong>,</strong> <strong>"</strong>bajo la gracia<strong>",</strong>
    <strong>"</strong>bajo la ley del amor<strong>",</strong> en organizaciones donde prima la divisa de
    <strong>"</strong>misericordia quiero y no sacrificio<strong>",</strong> etc<strong>.,</strong> <strong>¿</strong>qué
    porcentaje de los ingresos netos se dedican directamente <strong>a caridad, o sea, al amor?</strong>
    <strong>¡</strong>Aquel cuya secta tenga destinado el 33% o más de sus entradas para caridad<strong>,</strong> que
    tire su piedra el primero<strong>!</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>