---
import Layout from "../layout/Layout.astro";
---

<Layout title="Earthly Consequences of Sin, Jonah">
    <section>
        <p><strong>Earthly Consequences of Sin</strong></p>
        <p><strong>Besides having an eternal impact, sin carries earthly consequences</strong>. These consequences are
            educative
            and/or punitive. There are a lot of people including Christians, who cannot, or <strong>do not want to
                believe</strong> this is true. In the passage I present below, we'll see how Jonah's bold and
            inconsiderate
            actions were bitterly punished when he doesn't comply a divine assignment given to him. Today, after knowing
            the
            outcome, we think there was no punishment, but there was; let's take a look.</p>
        <p>"1 <i>Now the word of the LORD came unto Jonah the son of Amittai, saying:</i> 2 <i>Arise, go to Nineveh,
            that great
            city, and cry against it; for their wickedness is come up before me.</i> 3 <i>But <strong>Jonah rose up to
            flee unto
            Tarshish</strong> from the presence of the LORD, and went down to Joppa; and he found a ship going to
            Tarshish; so
            he paid the fare thereof, and went down into it, to go with them unto Tarshish from the presence of the LORD</i>."
            (Jonah 1:1-3)</p>
        <p><strong>When Jonah happily got on board of the ship and showed no concerns about disobeying God</strong>, he
            had no
            clue as to what was about to happen. Like many people do today, he disobeyed God's commandments believing it
            had no
            consequences.</p>
        <p> "4 <i>But the LORD sent out a great wind into the sea, and there was a mighty tempest in the sea, so that
            the ship
            was like to be broken.</i> 5 <i>Then the mariners were afraid, and cried every man unto his god…</i> 8 <i>Then
            said
            they unto him: Tell us, we pray thee, for whose cause this evil in upon us. What is thine occupation? And
            whence
            comest thou? What is thy contry? And of what people art thou?</i> 9 <i>And he said unto them: I am a Hebrew;
            and I
            fear the LORD, the God of heaven, which hath made the sea and the dry land.</i> 10 <i>Then were the men
            exceedingly
            afraid, and said unto him: Why hast thou done this? <strong>For the men knew that he fled from the presence
                of the
                LORD</strong>, because he had told them."</i> (Jonah 1:4-10 abbreviated)</p>
        <p> Jonah was already beginning to suffer the consequences of his disobedience towards God's commandments. Due
            to his
            defiance, he found himself in the middle of a storm that threatened the lives of others. This has to torment
            the
            mind of anyone who has a conscience. Even the unbelievers would reproach him for defying God. That's why
            they said:
            "Why have you done this?" Here came another consequence for his sin.</p>
        <p> "11 <i>Then said they unto him: What shall we do unto thee, that the sea may be calm unto us? For the sea
            wrought,
            and was tempestuous…</i> 15 <i>So they took up Jonah, and cast him forth into the sea; and the sea ceased
            from her
            raging</i>." (Jonah 1:11-15 abbreviated)</p>
        <p> Jonah's chastisement for disobeying God's commandments did not end here; he still needed to go through more
            to
            soften his obstinate heart.</p>
        <p> "<i>Now the LORD had prepared a <strong>great fish to swallow up Jonah. And Jonah was in the belly of the
            fish three
            days and three nights</strong></i>." (Jonah 1:17)</p>
        <p> Did you think Jonah would go unpunished for his disobedience of God's commandments? Let's say you ride on an
            airplane sometime in the future and in the middle of the trip, you see the two engines catch on fire. Would
            you
            suffer a great deal? Would you know if the problem could be fixed or not? If after hydroplaning safely into
            the
            middle of the ocean you learned that the radio was broken, no one could report this catastrophe, and the
            plane began
            to sink; what would your state of mind be? Would you feel bitterness due to the lack of hope? Is this
            punishment?
            Isn't this something similar to what Jonah experienced?</p>
        <p> If after the airplane had sunk, and after swimming through waves for a great deal of time, you see huge fins
            around
            you in the water, wouldn't the desperation be multiplied? Would you have any faith left in you? And if after
            minutes
            of uncertainty you see an enormous fin coming directly towards you; how many of you would stay calm? Isn't
            this
            horrible punishment? If you see an enormous monster coming to attack you. How many of you would stay calm
            and in
            good spirit? Isn't this terrible punishment? This same thing is what Jonah suffered.</p>
        <p><strong>Not even the most stubborn, who allow themselves to be influenced by a "faith" they don't
            have,</strong>
            would have resisted this without losing control. When your faith becomes weak, that is when you realize the
            severity
            of a situation. That is when you realize that you are in the stomach of a great fish and seconds go by… and
            nothing
            happens; and minutes … and nothing, and hours go by… and you are being digested. Who wouldn't have suffered
            bitterly? <strong>Who would not have repented a thousand times for not obeying the clear commandments of
                God?</strong> Who would not have come to understand that God's commandments are to be obeyed not
            theorize?
            <strong>Who would not have promised to read the Bible everyday to fin all God's commandments, if they could
                get out
                of that situation?</strong> That is how Jonah suffered.</p>
        <p> We can say the same thing about problems, unpleasantness, and sufferings of all kinds that supervene
            Christians.
            Don't believe that a "fish" would swallow a Christian just by chance. On the contrary, according to Mt 10:29
            not
            even a little bird shall fall to the ground without the acknowledgement of the father. <strong>Let us not
                believe
                that our sufferings lack a relationship with our behaviors</strong>.</p>
        <p> We know that if we touch several bared electrical cables with a sign that says "do not touch", this could
            cause us a
            great pain, suffering and even death, which is why we do not touch it. Even a person, who is not civilized
            or is too
            young to omit the warnings would suffer the consequences. It doesn't matter if this person ignores the fact
            that
            electricity exists; it doesn't matter if this person has a lot of faith in the assumption that electricity
            doesn't
            exist; it doesn't matter that this person would have convinced himself that there are no consequences; if he
            touches
            the electrical cords, he will suffer the consequences.</p>
        <p><strong>Because we know the dynamics ruled by the laws of physics in this world, we are careful with
            danger</strong>.
            If we are "uncivilized", or "not mature" enough in reference to the dynamics ruled by the laws of the
            spiritual
            world, (the other "dimension", that has to do with ourselves), we will be "electrocuted", embittered,
            "swallowed",
            etc. This will happen as we don't proceed according to the way Creation has been ordained in reference to
            everything
            spiritual.</p>
        <p><strong>Christians are very prompt to learn the example of forgiveness to Mary Magdalene, but not wanting to
            learn or
            think about the example of the punishment of Jonah</strong>. Let's try not to be sent to Nineveh for a
            second time.
            God's commands are to be obeyed, not to be talked about. <strong>Let's read the Bible to learn them</strong>.
        </p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    