
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Eat what is put in front of you</title>
</head>
<body>
<p><strong>Eat what is put in front of you. An old woman's brain? Soup of defeated warrior's blood?</strong></p>
<p> Talking against God's commandments<strong>,</strong> not keeping them<strong>,</strong> or teaching others not to
    keep them would be a sin<strong>.</strong> Therefore<strong>,</strong> we can be sure that Christ never would have
    taught his disciples not to keep the smallest of the commandments<strong>.</strong></p>
<p> Someone could allege that the law would have been obsolete<strong>.</strong> Even supposing it would be
    so<strong>,</strong> <strong>Christ would have never talked against one of God's commandments, until with his death
        and resurrection "it would have been obsolete", according to the ones that think as such.</strong>
    Therefore<strong>,</strong> he who wants to suppose that God's law is obsolete<strong>,</strong> needs to admit that
    it would never happen before crucifixion<strong>.</strong></p>
<p> Analyzing this we can be sure that in the following passage Christ is not ordering his disciples not to keep the law<strong>,</strong>
    for if he had done it he would have sinned and could not have saved us<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>And in the same house remain<strong>,</strong> eating and drinking <strong>such things as they
    give,</strong> <strong>for the laborer is worthy of his hire.</strong> Go not from house to house<strong>.</strong></i>
    8 <i>And into whatsoever city ye enter<strong>,</strong> and they receive you<strong>,</strong> <strong>eat such
        things as are set before you</strong></i><strong>"</strong> (Lk 10<strong>:</strong>7-8)</p>
<p> It is reasonable then to think that Jesus is not ordering his disciples to eat whatever is put in front of
    them<strong>,</strong> in the sense that they should eat the meats that God had forbidden<strong>,</strong> <strong>but
        rather to eat what was put in front of them in the sense of humility, of not expecting banquets of
        specialties.</strong></p>
<p> Let's remember that <strong>at the beginning of Christianity, the disciples only preached to other Jews. Therefore,
    the food they would see in front of them would be Jewish food,</strong> according to God's law<strong>.</strong>
    That's why he says<strong>,</strong> <strong>"</strong>eat what is put in front of you<strong>".</strong> The Lord
    was not ordering his disciples to eat the brains of an old lady who died in some cannibal tribe<strong>,</strong>
    just because someone put it in front of them<strong>.</strong></p>
<p><strong>A similar case,</strong> and using almost the same words<strong>,</strong> is presented by Paul in I
    Corinthians 10<strong>:</strong>27<strong>.</strong> In this case one must realize that Paul<strong>,</strong> just
    like Christ<strong>,</strong> is not telling the disciples to eat human flesh if a cannibal put it in front of
    them<strong>.</strong> What Paul is saying is that from what God allows us to eat they could eat<strong>.</strong> A
    Christian missionary was not forced to drink a soup made with the eyes of the enemies that killed the tribe where he
    was preaching<strong>.</strong> Or drink a soup made with the blood of the decapitated enemies<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>If any of them that believe not bid you to a feast<strong>,</strong> and ye be disposed to
    go<strong>;</strong> <strong>whatsoever is set before you, eat,</strong> asking no question for conscience
    sake</i><strong>".</strong> (I Co 10<strong>:</strong>27)</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>