
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Egipto y Rusia Comparación</title>
</head>
<body>
<p><strong>TEORÍA DE LOS ÁNGELES PATROCINANDO LAS NACIONES:</strong></p>
<p><strong>PARALELO ENTRE EL EGIPTO FARAÓNICO Y LA RUSIA COMUNISTA</strong></p>
<p> Ya he hablado en otras ocasiones de la teoría de que a los países se les asigna algo así como administradores
    angelicales<strong>,</strong> que son los que tratan de conducir a esa nación<strong>,</strong> hasta donde ellos
    pueden<strong>,</strong> sin violentar la voluntad humana<strong>,</strong> sin atropellar derechos ajenos y
    permaneciendo dentro de las leyes que rigen en las esferas celestiales<strong>.</strong> (Ardua tarea
    esta)<strong>.</strong></p>
<p> También hay ángeles rebeldes que antagonizan con los anteriores en la conducción del país<strong>,</strong> al igual
    que ocurre en la vida y conducta del individuo particular<strong>.</strong> En la misma forma en
    que<strong>,</strong> a pesar de la conducción benefactora del Espíritu Santo y los ángeles de Dios sobre el
    cristiano<strong>,</strong> la conducta de éste deja en ocasiones mucho que desear<strong>,</strong> así ocurre con
    las naciones<strong>.</strong> Esto ocurre porque hay un factor independiente<strong>,</strong> la voluntad
    humana<strong>,</strong> que <strong>Dios no permite que ni unos ni otros la violenten; ni siquiera la violenta Él
        mismo.</strong> Si esto ocurre con el cristiano<strong>,</strong> <strong>¿</strong>qué no ocurrirá con los
    inconversos y las naciones<strong>?</strong></p>
<p> Aunque lo hasta aquí dicho no es para mí nada nuevo<strong>,</strong> sí lo fue la observación que con respecto a
    las principales naciones de la historia me hicieron<strong>,</strong> sobre la aparente relación existente entre las
    características de las naciones y sus patronos angelicales<strong>.</strong></p>
<p> Para aclarar este concepto<strong>,</strong> voy a hacer un paralelo entre el Egipto faraónico y la Rusia
    comunista<strong>,</strong> tal y como me lo hicieron a mí<strong>,</strong> para explicármelo la primera
    vez<strong>,</strong> basándose en los siguientes factores<strong>:</strong></p>
<p><strong> a)</strong> propiedad<strong>,</strong> por parte del gobierno<strong>,</strong> de todo lo que vale en la
    nación<strong>.</strong></p>
<p><strong>b)</strong> su sistema fue concebido y puesto en funciones por un judío<strong>.</strong></p>
<p><strong>c)</strong> con el tiempo el sistema se vuelve contra los judíos</p>
<p><strong>d)</strong> el país hace enormes monumentos mortuorios para sus gobernantes</p>
<p><strong>e)</strong> tratan de conservar el cadáver de sus gobernantes</p>
<p><strong>f)</strong> los gobernantes prohíben la salida del país a sus gobernados</p>
<p><strong>Explicaré cada uno de los incisos anteriores:</strong></p>
<p><strong>a)</strong> En Egipto<strong>,</strong> faraón era el dueño de la tierra y el ganado<strong>;</strong>
    también bajo el comunismo la tierra pertenece al estado y las crías de ganado particulares no
    existen<strong>.</strong></p>
<p><strong> b)</strong> Quien dio la idea para que el gobierno poseyera toda la tierra y el ganado en
    Egipto<strong>,</strong> fue un judío<strong>,</strong> José<strong>.</strong> Quien dio la idea para que el estado
    poseyera todo bajo el comunismo<strong>,</strong> fue otro judío<strong>,</strong> Marx<strong>.</strong> La única
    diferencia es que en el primer caso quien llevó a efecto la idea fue el mismo José<strong>,</strong> y en el segundo
    fue otro judío diferente<strong>,</strong> Lenín<strong>.</strong></p>
<p><strong>c)</strong> Al principio<strong>,</strong> tanto en época de José como en época de Lenín<strong>,</strong>
    los judíos sacaron ciertas ventajas con el sistema<strong>.</strong> Así en Egipto ellos tenían la protección de
    José<strong>.</strong> En Rusia los zares perseguían a los judíos en sus pogromos<strong>,</strong> y el comunismo
    los atraía y utilizaba<strong>;</strong> pero con el tiempo el sistema se volvía contra los judíos<strong>,</strong>
    tanto en Egipto como en la Unión Soviética<strong>.</strong></p>
<p><strong>d)</strong> Las pirámides egipcias son el testimonio vivo de los monumentos que hacían a sus gobernantes
    muertos<strong>.</strong> En la Plaza Roja se alza el gigantesco monumento que guarda los restos de
    Lenín<strong>,</strong> etc<strong>.</strong></p>
<p><strong>e)</strong> Los egipcios momificaban a sus gobernantes<strong>.</strong> La momia de Lenín ve desfilar ante
    sí cada día decenas de personas<strong>,</strong> en la Plaza Roja<strong>.</strong> Y eso que el régimen sólo lleva
    unas décadas de establecido<strong>.</strong></p>
<p><strong> f)</strong> Faraón impedía la salida de Egipto a los judíos<strong>.</strong> La Unión Soviética no permite
    viajar a sus ciudadanos<strong>.</strong></p>
<p></p>
<p><strong>"</strong>8 <i>Se levantó entretanto <strong>un nuevo rey sobre Egipto, que no conocía a José;</strong> el
    cual dijo a su pueblo<strong>:</strong></i> 9 <i>He aquí<strong>,</strong> el pueblo de los hijos de Israel es mayor
    y más fuerte que nosotros<strong>.</strong></i> 10 <i>Ahora<strong>,</strong> pues<strong>,</strong> seamos sabios
    para con él<strong>,</strong> porque no se multiplique<strong>,</strong> y acontezca que viniendo
    guerra<strong>,</strong> él también se junte con nuestros enemigos<strong>,</strong> y pelee contra nosotros<strong>,
        y se vaya de la tierra</strong></i><strong>."</strong> (Ex 1<strong>:</strong>8-10)</p>
<p> Lo que quiero mostrar con todo lo dicho es la gran similitud que existe entre dos regímenes que no pueden haber
    influido el uno sobre el otro dado el tiempo que media entre ambos<strong>.</strong></p>
<p> Esto es atribuible a que los mismos ángeles patronos o iguales ángeles rebeldes<strong>,</strong> o ambas
    cosas<strong>,</strong> influían sobre las dos naciones<strong>,</strong> comunicándoles sus características<strong>,</strong>
    o la <strong>"</strong>resultante<strong>"</strong> de todas las características<strong>.</strong></p>
<p> No tiene que ser un régimen<strong>,</strong> copia al carbón del otro<strong>,</strong> porque es de pensarse
    que<strong>,</strong> sobre todo los ángeles rebeldes antagonistas<strong>,</strong> cambien sus métodos o
    ideas<strong>,</strong> cuando por experiencia constaten que no les convino la primera<strong>.</strong> No obstante<strong>,</strong>
    es lógico que conserven aquellas técnicas que les sirvieron para sus fines<strong>,</strong> o que son el resultado
    de hondas concupiscencias de esos rebeldes<strong>.</strong></p>
<p><strong>Esta teoría puede ser lo que explique el por qué en Ezq 28 se habla del rey de Tiro unas veces como si fuera
    humano y otras como si fuera un ángel.</strong> Da la sensación de que se refiere allí a un ángel rebelde de primera
    magnitud<strong>,</strong> que era el que contrarrestaba al ángel de Dios en Tiro<strong>,</strong> y que terminó
    apoderándose de la mente y el corazón de aquel pueblo<strong>.</strong></p>
<p><strong>Hay otros casos de similitud histórica.</strong> Por ejemplo<strong>,</strong> los crueles métodos de trato y
    guerra de los asirios<strong>,</strong> su bestialidad<strong>,</strong> su eficiencia en la
    guerra<strong>,</strong> su militarismo<strong>,</strong> su sadismo<strong>,</strong> etc<strong>.,</strong>
    parecen calcadas por <strong>Hitler y la Alemania Nazi,</strong> a pesar de que el primero no puede haber influido
    en el segundo<strong>.</strong> Lo mismo ocurrió en Camboya<strong>.</strong> También las modalidades de <strong>Babilonia,</strong>
    sobre todo la religiosa<strong>,</strong> fue calcada por <strong>Roma,</strong> sobre todo por el catolicismo con
    su sede en el Vaticano<strong>.</strong></p>
<p><strong>Cartago era un retrato de Tiro;</strong> se distinguían porque los magnates de la economía eran los que
    gobernaban y porque sus sabios y técnicos eran extranjeros atraídos por la bonanza económica que allí se
    disfrutaba<strong>,</strong> como lo testimonian en el caso de Tiro<strong>,</strong> Isa 23<strong>:</strong>8 y
    Ezq 27<strong>:</strong>1-25<strong>.</strong> <strong>Tiro fue destruida por Babilonia, y su equivalente, Cartago,
        fue destruida por Roma, que es la equivalente de Babilonia.</strong></p>
<p></p>
<p><strong>¿</strong><i>Quién decretó esto sobre Tiro la coronada<strong>,</strong> <strong>cuyos negociantes eran
    príncipes,</strong> cuyos mercaderes eran los nobles de la tierra</i><strong>?"</strong> (Isa 23<strong>:</strong>8)
</p>
<p></p>
<p></p>
<p><strong>"</strong>3 <i>Y dirás a Tiro<strong>,</strong> que está asentada a las entradas de la mar<strong>,</strong>
    <strong>mercadera de los pueblos de muchas islas.....</strong></i> 8 <i>Los moradores de Sidón y de Arvad <strong>fueron
    tus remeros;</strong> tus sabios<strong>,</strong> oh Tiro<strong>,</strong> estaban en ti<strong>;</strong> ellos
    fueron tus pilotos<strong>....</strong></i> 9 <i><strong>Los ancianos de Gebal y sus sabios</strong> repararon tus
    hendiduras<strong>.....</strong></i> 10 <i><strong>persas y Lidios, y los de Fut, fueron en tu ejército</strong> tus
    hombres de guerra<strong>....</strong></i> 25 <i>Las naves de Tarsis<strong>,</strong> tus
    cuadrillas<strong>,</strong> fueron en tu negociación<strong>;</strong> <strong>y fuiste llena</strong></i><strong>..."</strong>
    (Ezq 27<strong>:</strong>3-25 abreviado)</p>
<p> En cierta época de su historia Cartago concertó tratados con Roma sobre limitación de su armamento pesado
    (catapultas<strong>,</strong> torres móviles<strong>,</strong> etc<strong>.</strong>) a cambio de ventajas
    comerciales<strong>.</strong> Nos da la sensación de que Estados Unidos es una edición nueva de Tiro y
    Cartago<strong>,</strong> y que la Europa Unida lo es de Babilonia o Roma<strong>.</strong> Tiene Estados Unidos
    características de Tiro<strong>:</strong> comercia con todos los pueblos<strong>,</strong> tiene muchos extranjeros
    en su industria<strong>,</strong> comercio y ejército<strong>;</strong> es muy rico<strong>,</strong>
    etc<strong>..</strong></p>
<p> Claro que estas similitudes no son exactas<strong>,</strong> ni tampoco tienen que ocurrir los mismos hechos<strong>,</strong>
    porque <strong>no se trata de una historia programada, sino de una conjunción de factores similares que pueden
        originar resultados parecidos,</strong> pero que no necesariamente tiene que ser así<strong>.</strong></p>
<p> No estoy diciendo tampoco que la teoría que aquí se expone es incuestionablemente correcta<strong>,</strong> pero sí
    que lo aquí expresado tiene tantos hechos que parecen confirmarlo<strong>,</strong> que vale la pena parar mientes
    en ello<strong>.</strong> Al fin y al cabo una teoría es eso<strong>:</strong> la suposición de cómo es la dinámica
    interior de un fenómeno<strong>,</strong> basada en la observación y en la comprobación parcial y limitada de sus
    manifestaciones<strong>.</strong> Si lo pudiera explicar todo y comprobarlo todo<strong>,</strong> no fuera una
    teoría<strong>,</strong> sino una verdad demostrada<strong>.</strong></p>
<p><strong>En pocas palabras,</strong> las naciones tienen ángeles que se encargan de ellas<strong>,</strong> tanto
    buenos como malos<strong>.</strong> Cada grupo trata de influir en el pueblo<strong>,</strong> y según éste desee
    escuchar a unos o a otros<strong>,</strong> se desarrollan los acontecimientos<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>