---
import Layout from "../layout/Layout.astro";
---

<Layout title="El profeta Elías vendrá antes de la Segunda Venida de Cristo">
  <section>
<p><strong>Elías vendrá antes de la Segunda Venida de Cristo</strong></p>
<p> Está bien claramente dicho en la Biblia que el profeta Elías, que nunca llegó a morir, regresará poco antes de la
  Segunda Venida de Cristo. En la misma forma en que los discípulos de la época de Jesús estaban confundidos, porque no
  veían a Elías venir antes del Mesías (Cristo), así también muchos cristianos modernos están confundidos al creer que
  Elías era San Juan Bautista. Este profeta no era Elías, como él mismo asegura bien claramente en Jn 1: 21.</p>
<p><strong>"Y le preguntaron: ¿Qué pues? ¿Eres tú Elías? Dijo: No soy.".</strong></p>
<p> Si Juan Bautista hubiera sido Elías, él no lo hubiera negado. Juan Bautista tenía el espíritu y la virtud de Elías,
  como dice Lc 1:17, y por eso Jesús dijo que él era "el Elías" que había de venir antes del Señor, en la época de su
  Primer Advenimiento. No obstante, Jesús mismo dijo que si bien Juan Bautista era el profeta "eliásico" que había de
  venir en su Primer Advenimiento, todavía, <strong>al final de los tiempos, vendría el verdadero Elías</strong>. Veamos
  lo que Jesús dijo al respecto.</p>
<p> "<i>Entonces sus discípulos le preguntaron, diciendo: '¿Por qué dicen pues los</i> <i> escribas que es menester que
  Elías venga primero?' " Y respondiendo Jesús, les</i> <i> dijo: <strong>'A la verdad, Elías vendrá primero y
  restituirá todas las cosas.</strong> Mas os digo</i> <i> que ya vino Elías, y no le conocieron; antes hicieron en él
  todo lo que quisieron.</i> <i> Así también el Hijo del Hombre padecerá de ellos. Los discípulos entonces</i> <i>
  entendieron que les habló de Juan el Bautista<strong>.</strong></i>' " (Mateo 17: 10-13).</p>
<p> Si bien la mayoría (al menos todos los que yo conozco) interpreta de este pasaje que Juan Bautista era Elías, nadie,
  que yo sepa, interpreta de aquí que Jesús dice claramente que Elías <strong>vendrá</strong> (futuro) y <strong>restituirá</strong>
  (futuro de nuevo), todas las cosas. <strong>Fíjense que cuando se refiere al verdadero Elías, lo hace en
    futuro</strong> (vendrá, restituirá), pero cuando se refiere a Juan Bautista lo hace en pasado (ya vino, no le
  conocieron, hicieron). Si vamos a Mr 9:12 veremos de nuevo que cuando se refiere a Elías lo hace en futuro:</p>
<p><i>"…Elías a la verdad, viniendo antes, <strong>restituirá</strong>…".</i></p>
<p> De estos dos pasajes se deduce, sin forzar el razonamiento, que <strong>Cristo admitía que Elías aún estaba por
  venir</strong>. Pero no es esto solamente. Vamos a las profecías originales, vamos a Malaquías 3:1 donde se profetiza
  la misión de Juan Bautista durante la Primera Venida de Cristo, y vamos a Malaquías 4:5-6 donde se profetiza la venida
  de Elías y su misión antes de la Segunda Venida de Cristo.</p>
<p> "<i>He aquí yo envío <strong>mi mensajero</strong>, el cual preparará el camino delante de mí,</i> <i> y <strong>luego
  vendrá a su templo el Señor</strong> a quien vosotros buscáis</i>…". (Malaquías 3:1)</p>
<p> En este versículo se le llama <strong>"mi mensajero"</strong> a aquel cuya venida y misión está profetizando.
  <strong>No le llama Elías.</strong> Además, dicen bien claramente que su pacífica misión era preparar el camino
  delante de Cristo, y que <strong>después de esa misión es que Cristo vendría a su Templo.</strong> O sea, se habla de
  este mensajero como de un hombre que va a venir <strong>en la época en que Jesús iba a entrar en el Templo de
    Jerusalem,</strong> un mensajero que iba a venir en la época en que aún se podía entrar en el Templo, porque aún
  éste no estaba destruido. (El Templo fue destruido en el año 70 DC.) No venía este mensajero en una misión de castigo,
  sino con la misión de anunciar y preparar la pacífica llegada de Nuestro Señor. Muy diferente es la otra profecía.
  Veamos.</p>
<p> "<i>He aquí <strong>yo envío a Elías el profeta</strong> antes que venga <strong>el día de Jehová
  grande</strong></i> <strong> y terrible.</strong> <i>El convertirá el corazón de los padres a los hijos, y el corazón
  de los</i> <i> hijos a los padres, no sea que <strong>yo venga y con destrucción hiera la
  tierra</strong></i><strong>.</strong>". ( Malaquías 4:5-6 )</p>
<p> Aquí vemos un cuadro muy diferente. Primero, Malaquías <strong>llama por su nombre propio al enviado, le llama
  Elías</strong>, y como para que no haya dudas, aclara que es <strong>"el profeta",</strong> como para que no se
  confundan con otro Elías. Luego dice que <strong>su misión va a tener lugar antes de que venga el día de Jehová grande
    y terrible.</strong> Esa descripción no se aviene a la Primera Venida de Cristo. Su Primera Venida fue un suceso
  extremadamente pacífico, sin dramatismos, un suceso que no tenía nada de terrible, como sí lo tendrá su Segunda
  Venida. En su Primera Venida Cristo no venía ni por un momento a destruir ni a herir la tierra, sino a salvarla, a
  sufrir por ella. Por lo tanto no puede estar hablando este pasaje de Juan Bautista durante la Primera Venida de
  Cristo, sino de Elías durante la Segunda Venida del Señor. Por el análisis de ambos pasajes, se ve que están hablando
  de dos personajes diferentes que tendrían una misión parecida (ser precursores), en una época muy diferente cada uno.
  El primero es Juan Bautista, para la época de la Primera Venida, el segundo es Elías el Profeta, para la época del
  fin. Incluso cuando Cristo identifica a Juan Bautista en Mt 11:10, lo identifica usando las palabras de Mlq 3:1 y no
  las de Mlq 4:5-6. Veamos:</p>
<p> "<i>Porque este es de quien está escrito: 'He aquí <strong>yo envío mi mensajero</strong> delante</i> <i> de tu faz,
  que aparejará el camino delante de ti</i>.' ". ( Mt 11:10 )</p>
<p> Esto nos confirma que es el primer pasaje (Malaquías 3:1) el que habla de Juan Bautista, no el segundo (Malaquías 4:
  5-6).</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>

  </section>
</Layout>
    