---
import Layout from "../layout/Layout.astro";
---

<Layout title="Fallacies About Elihu's Discourse and Greatness of Job">
    <section>
<p><strong>FALLACIES ABOUT ELIHU'S DISCOURSE, AND GREATNESS OF JOB.</strong></p>
<p> Chapters 32 to 37 of the book of Job contain Elihu's discourse<strong>.</strong> From 32<strong>:</strong>6 all the
    way to 33<strong>:</strong>7 Elihu says<strong>:</strong> <strong>a)</strong> why did he did not want to speak
    before<strong>;</strong> <strong>b)</strong> why did he feel like speaking now<strong>; c)</strong> how was he a
    righteous and wise man (33<strong>:</strong>3 and 33)<strong>;</strong> <strong>d)</strong> how had the discourses
    of the three men defrauded him<strong>,</strong> etc<strong>.,</strong> etc<strong>..</strong> <strong>Nothing
        really specific.</strong></p>
<p><strong>After that he begins to "evangelize" to Job (33:8) as if the latter did not know who God was and what was his
    way of being and behaving.</strong> In 32<strong>:</strong>13 he says something that is not true<strong>,</strong>
    in affirming that God cast Job way<strong>,</strong> like saying that God had discarded him<strong>.</strong>
    <strong>On the contrary, during this entire process God had such trust in Job, like that for a perfect man,
        righteous, and fearful of God and separated from evil, that he had no doubt in submitting him to that entire
        process, certain that Job would not betray his trust, but would serve Him to teach Satan a lesson by putting him
        to shame.</strong> In fact<strong>,</strong> even after facing frightening misfortunes that seemed to have
    originated from God<strong>,</strong> without a reason<strong>,</strong> even so<strong>,</strong> Job remained
    faithful to God<strong>.</strong> Therefore God did not cast off or discard Job<strong>,</strong> like Elihu
    said<strong>,</strong> but honored him submitting him to the greatest test of loyalty that can be put on a human
    being<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Lest ye should say<strong>:</strong> We have found out wisdom<strong>,</strong> <strong>God
    thrusteth him down, not man</strong></i><strong>."</strong> (Job 32<strong>:</strong>13)</p>
<p> Also Elihu argues in 33<strong>:</strong>8-10<strong>,</strong> by criticizing Job<strong>,</strong> that he said he
    was pure<strong>,</strong> innocent<strong>,</strong> and without flaw or evil<strong>.</strong> <strong>First of
        all, Job did not say that he had always been that way, recognizing that he had sinned in his youth, like we see
        in 13:26.</strong> Therefore<strong>,</strong> Job did not claim to be pure<strong>,</strong> innocent and
    without flaw<strong>,</strong> he confessed to having them<strong>;</strong> but that he did not have them
    now<strong>.</strong> If he did not have them now he would not have a reason why to
    <strong>"</strong>confess<strong>"</strong> falsely and hypocritically that he did have sins<strong>,</strong> in
    this way exhibiting a forged humility and modesty<strong>.</strong></p>
<p> But the case is<strong>,</strong> that Job not only told the truth in the matter of his actual pure
    life<strong>,</strong> it is that the one who gives testimony of his purity and wholesomeness is God himself when he
    tells Satan the following in Job 1<strong>:</strong>8</p>
<p></p>
<p><strong>"</strong><i>For thou writest bitter things against me<strong>,</strong> and <strong>makest</strong> <strong>me
    to possess the iniquities of my youth</strong></i><strong>."</strong> (Job 13<strong>:</strong>26)</p>
<p></p>
<p><strong>"</strong><i>And the LORD said unto Satan<strong>:</strong> Hast thou considered <strong>my servant Job, that
    there is none like him in the Earth, a perfect and an upright man, one that feareth God, and escheweth evil</strong></i><strong>?"</strong>
    (Job 1<strong>:</strong>8)</p>
<p><strong>Therefore Job's words did not reflect vanity or conceit, but a truth that was reinforced by God.</strong> Job
    did not understand why so many frightening misfortunes if he had not sinned since his youth<strong>.</strong> What
    did Elihu and the three friends want<strong>?</strong> For Job<strong>,</strong> without feeling
    it<strong>,</strong> without believing it and full of hypocrisy and false humility<strong>,</strong> to lie saying
    that he had sinned a great deal recently<strong>?</strong> Many do the same thing nowadays<strong>,</strong> they
    try to see sin in Job just for the fact that he honestly confessed that he had no sin<strong>.</strong></p>
<p><strong>In 34:7-9, Elihu slanders Job as his three friends did before,</strong> saying that he committed sins and did
    things that were not true that Job had done<strong>.</strong> All of that was what Elihu imagined Job must have been
    doing<strong>,</strong> being that horrible things were occurring<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <strong>What man is like Job, who drinketh up scorning like water?</strong> 8 <i>Which goeth in
    company with the workers of iniquity<strong>,</strong> and walketh with wicked men<strong>.</strong></i> 9
    <i><strong>For he hath said, it profiteth a man nothing that he should delight himself with God</strong></i><strong>."</strong>
    (Job 34<strong>:</strong>7-9)</p>
<p> At no time did Job say that man did not gain anything by doing God's will<strong>;</strong> that was a falsehood by
    Elihu<strong>.</strong> Next Elihu proceeds in his discourse <strong>detailing and defending obvious things which no
        one had denied or argued,</strong> like the justice and power of God<strong>,</strong> and the end of perverse
    beings<strong>.</strong> This of defending points that no one has denied or attacked is typical of someone who has
    no greater proof to endorse his affirmations<strong>. It is very common in discussions, to see how one of the
        constituents, who cannot prove his point or destroy the contrary, throws himself with ferocity to defend what
        his constituent has not attacked nor questioned, to appear that he is defending something, or proving his
        thesis.</strong> In 34<strong>:</strong>37 Elihu accuses Job of sin and impiety<strong>,</strong> accusations
    which were all false<strong>.</strong></p>
<p></p>
<p><strong>"<i>For he addeth rebellion unto his sin,</i></strong> <i>he clappeth [his hands] among us<strong>,</strong>
    and <strong>multiplieth</strong> <strong>his words against God</strong></i><strong>"</strong> (Job
    34<strong>:</strong>37)</p>
<p> I say that those accusations were false because it is God himself<strong>,</strong> who justifies Job in
    2<strong>:</strong>3<strong>,</strong> even after suffering the misfortunes described here<strong>,</strong> and
    later<strong>,</strong> and at the end of the book<strong>,</strong> when He again justifies Job<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong><i>And the LORD said unto Satan<strong>:</strong> Hast thou considered <strong>my servant Job, that
    there is none like him in the Earth, a perfect and an upright man, one that feareth God, and escheweth evil? And
    still he holdeth fast his integrity,</strong> although thou movedst me against him<strong>,</strong> to destroy him
    without cause</i><strong>."</strong> (Job 2<strong>:</strong>3)</p>
<p></p>
<p><strong>"</strong>…<i>that <strong>ye have not spoken of me the thing which is right, like my servant
    Job</strong></i><strong>."</strong> (Job 42<strong>:</strong>8)</p>
<p><strong>In 35:2 Elihu accuses Job of saying that he is more just than God, which is false.</strong> What job always
    said was that he did not deserve what was happening to him<strong>,</strong> because his conscience was
    clean<strong>,</strong> and that he did not understand why this was happening<strong>.</strong> That was
    true<strong>.</strong> What else could a man say submitted to such terrible circumstances<strong>?</strong> In fact
    he began to believe that God was punishing him for the sins of his youth (13<strong>:</strong>26) and many times
    asked for clemency<strong>.</strong> Where is it written that Job had said he was more just than
    God<strong>?</strong></p>
<p></p>
<p><strong>"</strong><i>Thinkest</i> <i>thou this to be right<strong>,</strong> <strong>that thou sadist: My
    righteousness is more than God's</strong></i><strong>?"</strong></p>
<p><strong>Among Job's detractors, however,</strong> there would not have been one worthy of being chosen by God as a
    model to humiliate Satan<strong>,</strong> or to be mentioned as a model of perfection<strong>,</strong> together
    with Noah<strong>,</strong> Daniel and Moses in Ezq 14<strong>:</strong>14 and 20<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Though these three men<strong>,</strong> <strong>Noah, Daniel, and Job,</strong> were in
    it<strong>,</strong> they should deliver but their own souls by their righteousness<strong>,</strong> saith the Lord
    GOD</i><strong>."</strong> (Ezq 14<strong>:</strong>14)</p>
<p><strong>In Job 36:17-21 Elihu once again slanders Job.</strong> In verse 17 he accuses him of unjust and
    ungodly<strong>,</strong> and in 21 he accuses him that he prefers injustice<strong>,</strong> accusations which
    were contrary to what we have already seen was the opinion God had of Job<strong>.</strong></p>
<p></p>
<p><strong>"</strong>17 <i>But <strong>thou hast fulfilled the judgment of the wicked,</strong> judgment and justice
    take hold on thee<strong>.</strong></i> 18 <i>Because there is wrath<strong>,</strong> beware lest he take thee away
    with his stroke<strong>:</strong> then a great ransom cannot deliver thee<strong>.</strong></i> 19 <i>Will he esteem
    thy riches<strong>?</strong> no<strong>,</strong> not gold<strong>,</strong> nor all the forces of
    strength<strong>.</strong></i> 20 <i><strong>Desire not the night,</strong> when people are cut off in their
    place<strong>.</strong></i> 21 <i>Take heed<strong>,</strong> <strong>regard not iniquity, for this hast thou
    chosen</strong> rather than affliction</i><strong>."</strong> (Job 36<strong>:</strong>17-21)</p>
<p><strong>In conclusion, neither Zophar nor Bildad nor Eliphaz nor Elihu said anything that could help Job understand
    what was happening to him, or that would console him.</strong> They only occupied themselves in slandering and
    harassing him<strong>.</strong></p>
<p><strong>When in chapter 38 God responds to Job, he doesn't accuse him of evil, but makes him see that he could not
    have the wisdom he needed to understand what was occurring, because that wisdom was only in God.</strong> Then God
    shows Job all of the things he did not know<strong>,</strong> so that he could comprehend that humans cannot
    understand all<strong>,</strong> but he never blames him of sin<strong>,</strong> but for being faithful throughout
    this entire horrible trial<strong>,</strong> for having served in helping him humiliate Satan<strong>,</strong> God
    returns his prior joy and multiplies his possessions<strong>.</strong></p>
<p> The proof of the great concept God always had over Job and continued having<strong>,</strong> is that many centuries
    after these happenings God still remembered him and used him as a model<strong>,</strong> as an example of a person
    He would listen to above all others<strong>.</strong></p>
<p><strong>There are some who believe that God disapproved of Job and his discourse, but that is not true.</strong> In
    the following passage we can see the approval of God of both things<strong>:</strong> for Job's person and for what
    Job said<strong>.</strong> Let us see<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>And it was so<strong>,</strong> that after the LORD had spoken these words unto
    Job<strong>,</strong> the LORD said to Eliphaz the Temanite<strong>:</strong> My wrath is kindled against
    thee<strong>,</strong> and against thy two friends<strong>,</strong> for <strong>ye have not spoken of me the thing
        that is right, as my servant Job hath.</strong></i> 8 <i>Therefore take unto you now seven bullocks and seven
    rams<strong>,</strong> and go to my servant Job<strong>,</strong> and offer up for yourselves a burnt
    offering<strong>;</strong> and my servant Job shall pray for you<strong>,</strong> <strong>for him will I
        accept;</strong> lest I deal with you after your folly<strong>,</strong> in that <strong>ye have not spoken of
        me the thing which is right, like my servant Job</strong></i><strong>."</strong> (Job 42<strong>:</strong>7-8)
</p>
<p><strong>The only God reproached Job for was having based his reasoning, on his limited knowledge,</strong> without
    taking into account that there could be other reasons that he ignored<strong>,</strong> why everything that he was
    suffering through was occurring<strong>.</strong> Precisely<strong>,</strong> Job ignored that God was using
    everything that was happening to him to humiliate Satan<strong>,</strong> demonstrating to him that Job was better
    than him even though he was an inferior being<strong>,</strong> and even though he was suffering pains that he
    believed were caused by God<strong>,</strong> without having done anything that could deserve such horrible
    punishment<strong>.</strong> Job was right<strong>,</strong> that was not something that he
    deserved<strong>,</strong> but it was something that God had wanted to place on him for eternal humiliation for
    Satan and eternal glory for Job<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Return to Index</a></strong></p>

    </section>
</Layout>
    