
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Elisha Didn't lie telling Benhadad he was not to die from his illness</title>
</head>
<body>
<p><strong>ELISHA DIDN'T LIE BY TELLING KING BENHADAD HE WOULDN'T DIE FROM HIS ILLNESS</strong></p>
<p> I have heard from others (Scío) the explanation of this verse and to me it seems correct. Benhadad sends Hazael to
    consult Elisha on whether or not he would heal from his illness. Elisha, a prophet of God, replied yes. He told him
    he would heal because he knew he would heal. He was not to die from this illness, even though Benhadad felt
    extremely sick. Nonetheless, God would then reveal to Elisha that King Benhadad would die, but not from the illness.
    Soon after his servant, Hazael, who would succeed him on the throne, would assassinate him.</p>
<p></p>
<p> "<i>And Elisha said unto him: Go, say unto him: Thou mayest certainly recover; howbeit the LORD hath showed me that
    he shall surely die</i>." ( II K 8: 10 )</p>
<p></p>
<p> "<i>And it came to pass in the morrow, that he took a thick cloth and dipped it in water, and spread it on his face,
    so that he died; and Hazael reigned in his stead</i>." ( II R 8: 15 )</p>
<p> By what is said in verse 15, we can infer that Hazael, blinded by his ambition and awoken by what the Prophet Elisha
    had told him, chose not to wait for his time to come. Instead, he assassinated his friend, the king. Hazael did not
    want to leave any marks on the king so he suffocated him; that way his death would be attributed to his illness. He
    took a thick piece of cloth (like a blanket) and soaked it in water, so no air could pass through it. He then
    applied it on the face of the sick man, until he suffocated to death.</p>
<p> In a similar form, denaturalized mothers suffocate their children by applying a pillow to their face. In that epoch,
    autopsies did not exist. The assassination could have inadvertently passed through the court system. The death of
    this sick man was expected nonetheless.</p>
<p> Therefore, Elisha did not lie to Benhadad. He sent his servant to ask, "Can I be healed from this illness?" And that
    is the question Elisha answered. He didn't tell him that he was going to be assassinated, that was not the
    question.</p>
<p> It is interesting to notice how the human being reacts when a certain job of dignity is given. He could have waited
    for him to die, but instead he "helps him" die. Something similar happened to Moses when he went to make justice for
    the Hebrews when he was 40 years old.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>