<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Eliseo no mintió al decirle a Benadad que sanaría</title>
</head>
<body>
<p><strong>ELISEO NO MINTIÓ AL DECIRLE A BENADAD QUE NO MORIRÍA DE SU ENFERMEDAD</strong></p>
<p> He oído de otros ( Scío ), la explicación de este versículo, y me parece correcta. La consulta de Benadad, fue que
    sí sanaría de su enfermedad y es eso lo que Eliseo le responde. El profeta, de parte de Dios, le contesta que sí ,
    que iba a sanar, porque era verdad que iba a sanar, era verdad que no moriría de esa enfermedad; aunque Benadad
    parece haberse sentido muy mal y débil cuando se decide a consultar a Dios. No obstante, Dios le revela a Eliseo que
    el rey Benadad moriría; no de la enfermedad, sino asesinado por su propio siervo Hazael, que le sucedió en el
    trono.</p>
<p></p>
<p>"<i>Y Eliseo le dijo: Ve, díle: Seguramente vivirás. Empero Jehová me ha mostrado que él ha de morir ciertamente</i>."
    ( II R 8: 10 )</p>
<p></p>
<p>"<i>El día siguiente tomó un paño basto y metiolo en agua y tendiolo sobre el rostro de Benadad y murió, y reinó
    Hazael en su lugar</i>." ( II R 8: 15 )</p>
<p> Por lo dicho en el versículo 15 se colige que Hazael, cegado por la ambición despertada en él por la profecía de
    Eliseo, no quiso esperar su tiempo, sino que asesinó a su amigo el rey. No obstante, para no dejar marcas y que se
    atribuyese su muerte a la enfermedad, lo ahogó, lo sofocó. Cogió un paño grueso, (como una frazada o cobija, por
    ejemplo) y lo empapó en agua para impedir que el aire pasara a través, aplicándoselo luego en la cara al enfermo,
    hasta que lo ahogó.</p>
<p> En forma parecida algunas madres desnaturalizadas ahogan a sus pequeños aplicándoles una almohada al rostro. En
    aquella época, en que no había autopsia, el asesinato pudo pasar inadvertido para la corte; máxime que se esperaba
    la muerte del enfermo.</p>
<p> Así que Eliseo no le mintió a Benadad. Este le envió a preguntar: "¿Tengo de sanar de esta enfermedad?", y eso es lo
    que Eliseo le contestó. Lo otro que él sabía, que moriría asesinado, no se lo dijo.</p>
<p> Es llamativo ver cómo cuando Dios le hace conocer al humano que le espera una cierta labor o dignidad, éste en vez
    de esperar por Él, se mete a "ayudarlo" y echa a perder la cosa. Algo similar le ocurrió a Moisés cuando salió a
    hacer justicia a favor de los hebreos cuando él tenía 40 años de edad.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>