---
import Layout from "../layout/Layout.astro";
---

<Layout title="Falacias del Discurso de Eliú, y Grandeza de Job">
    <section>
<p><strong>FALACIAS DEL DISCURSO DE ELIÚ, Y GRANDEZA DE JOB.</strong></p>
<p> Los capítulos 32 al 37 del libro de Job contienen el discurso de Eliú<strong>.</strong> Desde 32<strong>:</strong>6
    hasta 33<strong>:</strong>7 Eliú se la pasa diciendo<strong>:</strong> <strong>a)</strong> por qué él no quiso
    hablar antes<strong>; b)</strong> por qué sí tenía ahora ganas de hablar<strong>;</strong> <strong>c)</strong> cómo
    él era un hombre recto y sabio (33<strong>:</strong>3 y 33)<strong>;</strong> <strong>d)</strong> cómo lo habían
    defraudado los discursos de los tres amigos<strong>,</strong> etc<strong>.,</strong> etc<strong>..</strong> <strong>Nada
        especialmente significativo.</strong></p>
<p><strong>Después de eso comienza a "evangelizar" a Job (33:8-33) como si éste no supiera quién era Dios y cuál era su
    modo de ser y proceder.</strong> En 32 <strong>:</strong>13 dice algo que no es cierto<strong>,</strong> al afirmar
    que Dios lanzó a Job<strong>,</strong> como diciendo que Dios lo desechó<strong>.</strong> <strong>Al contrario,
        durante todo este proceso Dios tenía puesta tal confianza en Job como de un hombre perfecto, recto, temeroso de
        Dios y apartado del mal, que no dudó en someterlo a todo aquel proceso, seguro de que Job no Lo iba a
        abochornar</strong> en su confianza<strong>,</strong> sino que le iba a servir para darle una buena lección a
    Satanás<strong>.</strong> Y efectivamente<strong>,</strong> aún viniéndole espantosas desgracias que parecían tener
    su origen en Dios<strong>,</strong> sin que hubiera razón para ello<strong>,</strong> aún así Job permaneció fiel a
    Dios<strong>.</strong> Por lo tanto <strong>Dios no lanzó ni desechó a Job,</strong> como dijo
    Eliú<strong>,</strong> sino que lo honró sometiéndolo a la más grande prueba de fidelidad que se le puede hacer a un
    ser humano<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque no digáis<strong>:</strong> Nosotros hemos hallado sabiduría<strong>:</strong> <strong>Lanzólo</strong>
    <strong>Dios, no el hombre</strong></i><strong>."</strong> (Job 32<strong>:</strong>13)</p>
<p> También Eliú alega en 33<strong>:</strong>8-10<strong>,</strong> como criticando a Job<strong>,</strong> que éste
    decía que él era limpio<strong>,</strong> inocente<strong>,</strong> sin defecto y sin maldad<strong>.</strong>
    <strong>Primero que todo, Job no dijo que él siempre hubiera sido así, puesto que él reconocía que en su juventud
        había pecado, como se ve en 13:26.</strong> Por lo tanto<strong>,</strong> Job no se hacía el
    limpio<strong>,</strong> inocente y sin defecto<strong>,</strong> él confesaba que los había
    tenido<strong>;</strong> pero que ahora no los tenía<strong>.</strong> Si ahora no los tenía<strong>,</strong> no
    tenía un porqué <strong>"</strong>confesar<strong>"</strong> falsa e hipócritamente<strong>,</strong> que él sí
    tenía pecados<strong>,</strong> exhibiendo así una humildad y modestia fingidas<strong>.</strong></p>
<p> Pero es el caso<strong>,</strong> que no es que solamente Job honestamente dijera la verdad respecto a su limpia
    vida<strong>,</strong> es que quien da testimonio de su pureza y limpieza es el mismo Dios cuando le dijo a Satanás
    lo dicho en Job 1<strong>:</strong>8</p>
<p></p>
<p><strong>"¿</strong><i>Por qué escribes contra mí amarguras<strong>,</strong> y <strong>me haces cargo de los pecados
    de mi mocedad</strong></i><strong>?"</strong> (Job 13<strong>:</strong>26)</p>
<p></p>
<p><strong>"</strong><i>Y Jehová dijo a Satán<strong>:</strong> <strong>¿</strong>No has considerado a <strong>mi siervo
    Job, que no hay otro como él en la tierra, varón perfecto y recto, temeroso de Dios, y apartado de
    mal</strong></i><strong>?"</strong> (Job 1<strong>:</strong>8)</p>
<p><strong>Por lo tanto las palabras de Job no reflejaban vanidad o engreimiento, sino una verdad respaldada por
    Dios.</strong> Job no comprendía por qué le ocurrían tan espantosas desgracias si él no había vuelto a pecar desde
    su juventud<strong>.</strong> <strong>¿</strong>Qué querían Eliú y los tres amigos<strong>?</strong>
    <strong>¿</strong>Que Job<strong>,</strong> sin sentirlo<strong>,</strong> sin creerlo<strong>,</strong> y lleno de
    hipocresía y falsa humildad mintiera diciendo que recientemente él había pecado mucho<strong>?</strong> Eso mismo
    hacen muchos ahora<strong>,</strong> pues tratan de ver pecado en Job por el hecho de que el confesara honestamente
    que no tenía pecado<strong>.</strong></p>
<p><strong>En 34:7-9 Eliú calumnia a Job como antes hicieron sus tres amigos,</strong> diciendo que él cometía pecados y
    hacía cosas que no era cierto que Job las hiciera<strong>.</strong> Todo aquello era lo que Eliú se imaginaba que
    Job debía estar haciendo<strong>,</strong> dado que le estaban ocurriendo cosas tan horribles<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <strong>¿<i>Qué hombre hay como Job, que bebe el escarnio como agua</i>?</strong> 8 <i>Y va en
    compañía con los que obran iniquidad<strong>,</strong> Y anda con los hombres maliciosos<strong>.</strong></i> 9 <i><strong>Porque
    ha dicho: De nada servirá al hombre El conformar su voluntad con Dios</strong></i><strong>."</strong> (Job
    34<strong>:</strong>7-9)</p>
<p> En ningún momento Job dijo que de nada serviría al hombre hacer la voluntad de Dios<strong>;</strong> eso era una
    calumnia de Eliú<strong>.</strong> Después Eliú prosigue su discurso <strong>detallando y defendiendo cosas obvias
        que nadie había negado ni discutido,</strong> como la justicia y el poder de Dios<strong>,</strong> y el fin de
    los seres perversos<strong>.</strong> Esto de defender puntos que nadie ha negado ni atacado<strong>,</strong> es
    típico de aquellos que no tienen mejor prueba para avalar sus afirmaciones<strong>.</strong> <strong>Es muy común en
        las discusiones, ver cómo uno de los contendientes, que no puede probar su punto ni destruir el del contrario,
        se lanza con ferocidad a defender lo que su contrincante no ha atacado ni puesto en duda, para así aparentar que
        él está defendiendo algo, o probando su tesis.</strong> En 34<strong>:</strong>37 Eliú acusa a Job de pecado y
    de impiedad<strong>,</strong> acusaciones a todas luces falsas<strong>.</strong></p>
<p></p>
<p><strong>"<i>Porque a su pecado añadió impiedad:</i></strong> <i>Bate las manos entre nosotros<strong>,</strong> y
    <strong>contra Dios multiplica sus palabras</strong></i><strong>."</strong> (Job 34<strong>:</strong>37)</p>
<p> Digo que esas acusaciones eran falsas<strong>,</strong> porque es el mismo Dios el que justifica a Job en
    2<strong>:</strong>3<strong>,</strong> aún después de sufrir las desgracias aquí descritas<strong>,</strong> y más
    tarde<strong>,</strong> ya al final del libro<strong>,</strong> cuando justifica de nuevo a Job<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong><i>Y Jehová dijo a Satán<strong>:</strong></i> <strong>¿</strong><i>No has considerado a <strong>mi
    siervo Job, que no hay otro como él en la tierra, varón perfecto y recto, temeroso de Dios y apartado de mal, y que
    aun retiene su perfección,</strong> habiéndome tú incitado contra él<strong>,</strong> para que lo arruinara sin
    causa</i><strong>?"</strong> (Job 2<strong>:</strong>3 )</p>
<p></p>
<p><strong>"</strong>…por cuanto <strong>no habéis hablado por mí con rectitud, como mi siervo Job."</strong> (Job
    42<strong>:</strong>8)</p>
<p><strong>En 35:2 Eliú acusa a Job de decir que él era más justo que Dios, lo cual es falso.</strong> Job lo que
    siempre dijo es que él no merecía lo que le estaba pasando<strong>,</strong> porque nada malo le recriminaba su
    conciencia<strong>,</strong> y que él no entendía lo que le estaba ocurriendo<strong>.</strong> Eso era
    cierto<strong>.</strong> <strong>¿</strong>Qué menos podía decir un hombre sometido a tan terribles
    circunstancias<strong>?</strong> Incluso llegó a creer que Dios lo estaba castigando por los pecados de su mocedad
    (13<strong>:</strong>26) y en varias ocasiones pidió clemencia<strong>.</strong> <strong>¿</strong>En dónde está
    escrito que Job hubiera dicho que él era más justo que Dios<strong>?</strong></p>
<p></p>
<p><strong>¿</strong><i>Piensas ser conforme a derecho <strong>esto que dijiste: Más justo soy yo que
    Dios</strong></i><strong>?"</strong> (Job 35<strong>:</strong>2)</p>
<p><strong>Entre los detractores de Job, sin embargo,</strong> no había ninguno que hubiera sido tenido por digno de que
    Dios lo escogiera de modelo para abochornar a Satán<strong>,</strong> ni de ser mencionados como modelo de
    perfección<strong>,</strong> junto a Noé<strong>,</strong> Daniel y Moisés en Ezq 14<strong>:</strong>14 y
    20<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Si estuvieren en medio de ella estos tres varones<strong>,</strong> <strong>Noé, Daniel, y
    Job,</strong> ellos por su justicia librarán su vida<strong>,</strong> dice el Señor Jehová</i><strong>."</strong>
    (Ezq 14<strong>:</strong>14)</p>
<p><strong>En Job 36:17-21 Eliú calumnia de nuevo a Job.</strong> En el versículo 17 lo acusa de injusto e impío y en el
    21 lo acusa de que prefiere la iniquidad<strong>,</strong> acusaciones estas que eran contrarias a la opinión que ya
    vimos que Dios tenía de Job<strong>.</strong></p>
<p></p>
<p><strong>"</strong>17 <strong>Mas tú has llenado el juicio del impío,</strong> <i>en vez de sustentar el juicio y la
    justicia<strong>.</strong></i> 18 <i>Por lo cual teme que en su ira no te quite con golpe<strong>,</strong> El cual
    no puedas apartar de ti con gran rescate<strong>.</strong></i> 19 <i><strong>¿</strong>Hará él estima de tus
    riquezas<strong>,</strong> ni del oro<strong>,</strong> ni de todas las fuerzas del poder<strong>?</strong></i> 20
    <i><strong>No anheles la noche,</strong> en que desaparecen los pueblos de su lugar<strong>.</strong></i> 21
    <i><strong>Guárdate, no tornes a la iniquidad; pues ésta escogiste</strong> más bien que la
        aflicción</i><strong>."</strong> (Job 36<strong>:</strong>17-21)</p>
<p><strong>En resumen, ni Sofar ni Bildad ni Elifaz ni Eliú dijeron nada que ayudara a Job</strong> a entender lo que le
    estaba sucediendo<strong>,</strong> o a consolarlo<strong>.</strong> Sólo se ocuparon de calumniarlo y atosigarlo
    más de lo que ya estaba<strong>.</strong></p>
<p><strong>Cuando en el capítulo 38 Dios responde a Job, no lo acusa de maldad, sino que le hace ver que él no podía
    tener la sabiduría que se necesitaba para poder entender lo que le estaba ocurriendo, puesto que esa sabiduría sólo
    estaba en Dios.</strong> Luego Dios le muestra a Job todas las cosas que él no sabía<strong>,</strong> para que
    comprendiera que el humano no puede entenderlo todo<strong>,</strong> pero <strong>en ningún momento lo redarguye de
        pecado,</strong> sino que por haber sido fiel en toda esta horrorosa prueba<strong>,</strong> por haberle
    servido para abochornar a Satanás<strong>,</strong> Dios le devuelve la felicidad anterior y le duplica los
    bienes<strong>.</strong></p>
<p> La prueba del gran concepto que Dios siempre tuvo y siguió teniendo sobre Job<strong>,</strong> es que muchos siglos
    después de estos acontecimientos todavía Dios se acordaba de él y lo usaba como modelo<strong>,</strong> como
    ejemplo de persona a la que Él oiría por encima de todos los demás<strong>.</strong></p>
<p><strong>Hay quienes piensan que Dios desaprobó a Job y a su discurso, pero no es cierto.</strong> En el siguiente
    pasaje se ve la aprobación de Dios para ambas cosas<strong>:</strong> para la persona de Job y para lo que dijo
    Job<strong>.</strong> Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>Y aconteció que después que habló Jehová estas palabras a Job<strong>,</strong> Jehová dijo a
    Eliphaz Temanita<strong>:</strong> Mi ira se encendió contra ti y tus dos compañeros<strong>:</strong> <strong>porque
        no habéis hablado por mí lo recto, como mi siervo Job.</strong> 8 Ahora pues<strong>,</strong> tomaos siete
    becerros y siete carneros<strong>,</strong> y andad a mi siervo Job<strong>,</strong> y ofreced holocausto por
    vosotros<strong>,</strong> y mi siervo Job orará por vosotros<strong>;</strong> <strong>porque de cierto a él
        atenderé</strong> para no trataros afrentosamente<strong>,</strong> <strong>por cuanto no habéis hablado por mí
        con rectitud, como mi siervo Job</strong></i><strong>."</strong> (Job 42<strong>:</strong>7-8)</p>
<p><strong>Lo único que Dios reprochó a Job</strong> es que haya basado sus razonamientos<strong>,</strong> en sus
    limitados conocimientos<strong>,</strong> sin darse cuenta de que pudiera haber otras razones que él
    ignoraba<strong>,</strong> para que ocurriera todo aquello que él estaba sufriendo<strong>.</strong>
    Efectivamente<strong>,</strong> Job ignoraba que todo aquello que le estaba ocurriendo lo estaba utilizando Dios
    para abochornar a Satanás<strong>,</strong> demostrándole que Job era mejor que él a pesar de que era un ser de
    menor categoría<strong>,</strong> y a pesar de que estaba sufriendo lo que él creía que eran dolores provenientes de
    Dios<strong>,</strong> sin haber hecho nada que mereciera tan horrible castigo<strong>.</strong> Job estaba en lo
    cierto<strong>,</strong> no era aquello algo que él mereciera<strong>,</strong> pero era algo que Dios había querido
    poner en él para eterno bochorno de Satanás y eterna honra de Job<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    