
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>El joven rico mintió. ¿Por qué Cristo le dijo que vendiera sus propiedades?</title>
</head>
<body>
<p><strong>EL JOVEN RICO MINTIÓ; POR ESO CRISTO LE MANDA A VENDER SUS POSESIONES.</strong></p>
<p> Debemos notar dos cosas en este pasaje: <strong>la primera</strong> es cuál es el tipo de pregunta del joven rico:
  <strong>"¿qué bien haré para tener la vida eterna?"</strong> <strong>La segunda</strong> cosa que debemos notar es que
  el joven rico asegura que él siempre había cumplido todos los mandamientos y que él amaba a su prójimo como a sí
  mismo. Veamos.</p>
<p><strong>"</strong><i>16</i> <i>Y he aquí, uno llegándose le dijo: Maestro bueno, <strong>¿qué bien haré para</strong></i>
  <strong> tener la vida eterna?</strong><i>17</i> <i>Y él le dijo: ¿Por qué me llamas bueno? Ninguno es</i> <i> bueno
    sino uno, es a saber, Dios. Si quieres entrar en la vida, guarda los</i> <i> mandamientos.</i> <i>18</i> <i>Dícele:
    ¿Cuáles? Y Jesús dijo: no mataras, no adulterarás,</i> <i> no hurtarás, no dirás falso testimonio,</i> <i>19</i> <i>Honra
    a tu padre y a tu madre. y,</i> <i> <strong>amarás a tu prójimo como a ti mismo</strong>.</i> <i>20</i> <i>Dícele el
    mancebo: <strong>Todo esto guardé</strong></i> <strong> desde mi juventud;</strong> <i>¿qué más me falta?</i>
  <i>21</i> <i>Dícele Jesús: Si quieres ser perfecto,</i> <i> anda, vende lo que tienes, y da lo a los pobres, y tendrás
    tesoro en el cielo; y</i> <i> ven, sígueme.</i> <i>22</i> <i>Y oyendo el mancebo esta palabra, se fue triste, porque
    tenía</i> <i> muchas posesiones.</i> <i>23</i> <i>Entonces Jesús dijo a sus discípulos: De cierto os digo,</i> <i>
    que un rico difícilmente entrará en el reino de los cielos.</i> <i>24</i> <i>Mas os digo, que</i> <i> más liviano
    trabajo es pasar un camello por el ojo de una aguja, que entrar un</i> <i> rico en el reino de Dios.</i> <i>25</i>
  <i>Mas sus discípulos, oyendo estas cosas, se</i> <i> espantaron en gran manera, diciendo: ¿Quién pues podrá ser
    salvo?</i> <i>26</i> <i>Y</i> <i> mirándolos Jesús, les dijo: <strong>Para con los hombres imposible es esto; mas
    para</strong></i> <strong><i> con Dios todo es posible</i>." </strong> ( Mt 19: 16-26 )</p>
<p><strong>El joven rico quería obtener la vida eterna a través de un bien que él hiciera,</strong> o sea, mediante sus
  obras; y conforme a esa pregunta le respondió Jesús. Por eso no le dijo "Cree en mí y serás salvo", sino que le dijo
  todo lo que podía hacer. Al final, en el versículo 26 sin embargo, se dice cómo se puede ser salvo, ya que Dios todo
  lo puede. La pregunta del joven rico y la respuesta que Jesús le da, tipifica el caso que se describe en Prv. 26: 4-5
  donde se aconseja cómo ha de responderse a un necio. <strong>Si la actitud del joven rico no hubiera sido la de ver
    cómo se podía ganar la salvación por sí mismo,</strong> por las obras que hiciese, Jesús no le hubiera respondido
  así. Efectivamente, para ganarse la salvación por sí mismo no sólo tenía que cumplir todos los mandamientos sin fallar
  ni un solo día, sino que tenía que dar sus bienes a los pobres, a quienes él decía amar como a sí mismo. Si hubiera
  sido verdad que él desde siempre había amado a su prójimo como a sí mismo, no podía ser rico, porque ya hubiera
  compartido su riqueza con los muchos hambrientos que había. Nadie podía cumplir todos los mandamientos durante toda su
  vida, a menos que fuera un ser perfecto, pero <strong>menos aún podían cumplirlo los ricos</strong>. ¿Por qué? Porque
  ellos además de cumplir todos los mandamientos durante toda su vida, sin fallar un solo día, tenían que compartir sus
  riquezas con los pobres para poder cumplir aquello de "amarás a tu prójimo como a ti mismo". Por eso Jesús comenta lo
  del camello pasando por el ojo de una aguja. <strong>Ni los pobres ni los ricos pueden entrar por sus obras en la vida
    eterna;</strong> pero si al pobre le es imposible, al rico le es doblemente imposible. <strong>El joven rico le
    mintió a Cristo cuando le afirmó que todos esos mandamientos los había guardado desde siempre.</strong> Si eso
  hubiera sido así, ese joven hubiera sido el único hombre perfecto que ha existido. También le estaba mintiendo cuando
  aseguraba que amaba a su prójimo como a sí mismo. Parece que Jesús, para demostrarle que él no estaba cumpliendo lo de
  amarás a tu prójimo como a ti mismo, le dijo que vendiera todo lo que tenía.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>
</body>
</html>