---
import Layout from "../layout/Layout.astro";
---

<Layout title="El Pecado Original">
    <section>
        <p><strong>El llamado "Pecado Original" es un mito</strong></p>
        <p></p>
        <p></p>
        <p><strong>Una vieja tradición religiosa afirma que el pecado de Adam y Eva pasó a sus descendientes, en el
            sentido de
            condenar sus almas al infierno.</strong> En otras palabras, según esta tradición, por el hecho de que un
            padre o una
            madre pequen, los hijos están condenados al infierno. Esta doctrina está en contra de lo que la Biblia nos
            enseña
            sobre el carácter de Dios. <strong>Este es uno de los muchos errores y herejías que los protestantes han
                heredado
                del catolicismo.</strong> Por creer en esta doctrina, es que en el catolicismo se bautizan los bebés.
            Esto se
            hace con objeto de "limpiar" a los bebés del supuesto "pecado original".</p>
        <p><strong>Es cierto que nosotros heredamos de nuestros ancestros, las características corporales (genotipo y
            fenotipo),
            pero nuestras almas no heredan esas características.</strong> Pensar que nuestros padres trasmiten a
            nuestras almas
            las características de sus propias almas, es equivalente a pensar que el alma está hecha de material
            biológico, y
            que nuestras almas son formadas por la unión del espermatozoide y el óvulo, en el vientre materno. Pensar
            que
            nuestro cuerpo es a la vez nuestra alma, es una de las muchas herejías de los ruselistas.</p>
        <p><strong>Si nosotros heredáramos nuestras almas y sus características de nuestros padres, entonces nadie sería
            culpable por pecar, porque eso era algo heredado</strong>. Sería como heredar una enfermedad, que no es
            culpa
            nuestra. Eso sería como heredar un indio o un africano sus características corporales de sus antecesores.
            ¿Por qué
            condenar al infierno a una persona, porque es chino o indio. ¿Qué culpa tiene él de haber heredado esas
            características? Igualmente, ¿por qué condenar a un hombre porque sus antecesores le trasmitieron una
            actitud
            pecadora? <strong>Esto no es lo que la Biblia nos enseña.</strong> Salomón nos dijo que Dios creó al humano
            recto,
            pero que ellos se buscaron muchas cuentas, desviándose así de lo recto.</p>
        <p></p>
        <p> "<i>He aquí, solamente he hallado esto: que <strong>Dios hizo al hombre recto</strong>,</i></p>
        <p><i> mas ellos buscaron muchas cuentas</i>." ( Ecc 7: 29 )</p>
        <p></p>
        <p> Como podemos ver, cuando las almas salieron de las manos de Dios, eran rectas, fue luego cuando esas almas
            se
            echaron a perder. Fíjense que Salomón dice "ellos", refiriéndose a muchos, no a solamente Adam. Por lo
            tanto, según
            Salomón el pecado de Adam no era el problema, sino el pecado de cada uno. <strong>Si Dios hizo al hombre
                recto,
                entonces ellos no son pecadores de nacimiento</strong>. Entonces no existe tal cosa como el "pecado
            original"
            pesando sobre cada nuevo ser que nace. Nosotros no estamos arrastrando una condena que no nos pertenece a
            nosotros,
            sino a nuestros padres. Pero por el contrario, la condena que nosotros arrastramos es la nuestra propia, no
            la
            ajena.</p>
        <p><strong>Jesucristo nos enseñó lo contrario de lo que proclama la herética doctrina del "pecado
            original"</strong>. Él
            nunca dijo algo que pudiera mal entenderse en el sentido de que el humano es condenado a causa del pecado de
            Adam.
            Al contrario, sus palabras nos enseñan que cada uno de nosotros nace sin pecado ni condena.</p>
        <p></p>
        <p> "<i>Y Jesús dijo: Dejad a <strong>los niños</strong>, y no les impidáis de venir a mí; </i></p>
        <p><i> porque <strong>de los tales es el reino de los</strong> <strong>cielos</strong></i>." ( Mt 19: 14 )</p>
        <p></p>
        <p><strong>Si los niños pueden entrar en el Reino de los Cielos, es señal evidente de que no tienen
            pecado</strong>,
            porque nadie puede entrar con pecados en el Reino de los Cielos. De aquí se deduce fácilmente que no existe
            tal cosa
            como un <strong>pecado original heredado,</strong> trasmitido de padres a hijos desde Adam; de otra manera
            los niños
            serían pecadores y no entrarían en el Cielo hasta que se convirtieran.</p>
        <p>Además, si un padre pudiera trasmitir la naturaleza pecadora de su alma a su descendencia, entonces
            resultaría que de
            un padre pecador nunca habría generaciones de cristianos, cosa que no es cierta.</p>
        <p><strong>El profeta Ezequiel también reafirma la doctrina de que los hijos no cargan la culpa de los hechos,
            pensamientos o sentimientos de sus padres.</strong> Contrario a lo que enseña la doctrina del "pecado
            original", que
            condena al humano al infierno por los pecados de Adam, Ezequiel, inspirado por el Espíritu Santo, dice que
            los hijos
            no son condenados por los pecados de sus antecesores.</p>
        <p></p>
        <p> "<i>Y <strong>fue a mí palabra de Jehová</strong>, diciendo: ¿Qué pensáis vosotros, </i></p>
        <p><i> vosotros que usáis este refrán sobre la tierra de Israel, diciendo: </i></p>
        <p><i> Los padres comieron el agraz, y los dientes de los hijos tienen la </i></p>
        <p><i> dentera? Vivo yo, dice el Señor Jehová, que nunca más tendréis por </i></p>
        <p><i> qué usar este refrán en Israel. He aquí que todas las almas son mías; </i></p>
        <p><i> <strong>como el alma del padre, así el alma del hijo es mía; el alma que </strong></i></p>
        <p><i> <strong> pecare, esa morirá</strong></i>." ( Ezq 18: 1- 4 )</p>
        <p></p>
        <p><i> "14 Pero si éste engendrare hijo, el cual viere todos los pecados </i></p>
        <p><i> que su padre hizo, y viéndolos no hiciere según ellos,......</i> 17<i>... <strong>éste </strong></i></p>
        <p><i> <strong> no morirá por la maldad de su padre; </strong>de cierto vivirá.........</i> 20
            <strong>El </strong></p>
        <p><i> <strong> alma que pecare, esa morirá; el hijo no llevará por el pecado del </strong></i></p>
        <p><i> <strong> padre, ni el padre llevará por el pecado del hijo</strong>; la justicia del </i></p>
        <p><i> justo será sobre él, y la impiedad el impío será sobre él</i>." </p>
        <p> ( Ezq 18: 14-20 abreviado )</p>
        <p></p>
        <p> En Deuteronomio 24: 16, Moisés nos enseña que no se debe castigar a los hijos por los pecados de los padres.
            <strong>Si eso es lo que Dios nos enseña, ¿cómo podemos nosotros pensar que Él va a hacer lo
                contrario?</strong> Yo
            no veo en las Escrituras nada que respalde la herética doctrina del "pecado original". Si Dios dice que los
            hijos no
            deben ser condenados por los hechos de sus padres, mucho menos va Dios a enviar al Infierno a una persona
            por el
            pecado de Adam.</p>
        <p></p>
        <p> "<i>Los padres no morirán por los hijos, <strong>ni los hijos por los padres; </strong></i></p>
        <p><i> <strong> cada uno morirá por su pecado</strong></i>." ( Dt 24: 16 )</p>
        <p></p>
        <p> En Ex 32: 31-33 vemos también que el humano nace sin pecado. En una conversación personal con Dios, Moisés
            le pidió
            al Señor que borrara su nombre del Libro de la Vida, si es que Dios no iba a perdonar al pueblo. El Señor le
            respondió que Él borraría a aquellos que pecaran contra Él. De las palabras de Dios se puede sacar la
            conclusión de
            que todo ser humano está escrito en el Libro de la Vida, y que solamente después que la persona peca y no se
            arrepiente, es que se le borra de allí. Consecuentemente, todos los seres humanos nacen sin pecado, de otra
            manera,
            ninguno estaría escrito en el Libro de la Vida, pero si ellos están escritos en el libro es porque nacieron
            sin
            pecado. Esto excluye la posibilidad de la existencia del llamado "pecado original". Es lógico pensar que
            Dios
            escribe al humano en Su libro cuando nacen, porque <strong>si Él los escribiera sólo después de la
                conversión, no
                tendría que borrar a ninguno</strong>. Si Él borra a algunos, es porque Él los escribió allí desde el
            nacimiento.</p>
        <p></p>
        <p> "<i>Entonces volvió Moisés a Jehová, y dijo: Ruégote, pues este </i></p>
        <p><i> pueblo ha cometido un gran pecado, porque se hicieron dioses de </i></p>
        <p><i> oro, que perdones ahora su pecado, y si no, ráeme ahora de tu libro </i></p>
        <p><i> que has escrito. Y Jehová respondió a Moisés: <strong>Al que pecare contra </strong></i></p>
        <p><i> <strong> mí, a éste raeré yo de mi libro</strong></i>." ( Ex 32: 31-33 )</p>
        <p></p>
        <p> Como ustedes pueden ver, <strong>para creer en el "pecado original", hay que admitir los dogmas de las
            iglesias</strong>. Las doctrinas cristianas provienen de las Escrituras, no de los dogmas.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    