
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>El temor a los enemigos nos quita la protección divina</title>
</head>
<body>
<p><strong>EL TEMOR A LOS ENEMIGOS NOS QUITA LA PROTECCIÓN DIVINA</strong></p>
<p> Si uno teme delante de un enemigo Dios nos quebranta o nos deja ser quebrantados delante de ese enemigo. El que teme
    a un enemigo espiritual o carnal, no tiene fe en Dios ni en Cristo. Así se lo advirtió Dios al profeta Jeremías.</p>
<p></p>
<p> "<i>Tú pues, ciñe tus lomos, y te levantarás, y les hablarás todo lo que te mandaré. <strong>No temas delante de
    ellos, porque no te haga yo quebrantar delante de ellos</strong></i>." ( Jer 1: 17 )</p>
<p><strong>Son muchas las ocasiones en que nuestros enemigos espirituales obtienen sobre nosotros una victoria con
    solamente meternos miedo y hacernos dudar del amparo divino.</strong> En muchos casos nuestros enemigos
    espirituales, sabiendo que no pueden hacer nada contra nosotros, nos hacen temer, porque así, somos nosotros los que
    dejamos de hacer lo que debemos, <strong>por temor a algo que en la realidad no puede suceder</strong>. De esa
    manera, aunque no podían nada contra nosotros, aunque no podían evitar que hiciéramos una cierta obra, provocaron
    que nosotros la dejáramos de hacer, obteniendo al fin y al cabo el mismo éxito que si hubieran tenido fuerza o
    potestad para impedirnos hacerla.</p>
<p><strong>Es como si Dios nos pusiera a caminar por una ancha carretera donde Él nos aseguró que estaríamos a salvo del
    ataque de nuestros enemigos</strong>; donde nos dijo que no tuviéramos temor de caminar por ella aunque nos
    pareciera que ellos nos iban a interferir, porque no podrían. Es decir, que la promesa es que los enemigos no
    podrían nunca acceder a la carretera por donde Él nos manda a caminar, <strong>para atacarnos con sus
        espadas.</strong> Tienen permiso para acercarse a 50 metros, pero no más; no pueden llegarse a esa carretera.
    Hay otras muchas carreteras en las que pueden atacarnos, pero en esta que Dios nos ha puesto no les es posible. Como
    que son malignamente astutos, ellos saben que tienen que convencernos para que hagamos una de dos:
    <strong>a)</strong> que no continuemos caminando por esa carretera autorizada por Dios, o <strong>b)</strong> que
    nos desviemos hacia otra carretera secundaria donde ellos puedan entrar.</p>
<p> Así las cosas caminamos por esa carretera durante un tramo, <strong>pero viendo a nuestros enemigos a lo lejos,
    cerca del horizonte, donde todo parece juntarse, nos da la sensación que allá lejos ellos están muy cerca de la
    carretera</strong>, y que sí pueden acceder a ella y hacernos daño. Si no tenemos fe en quien nos habló sobre
    nuestra seguridad, nos detendremos, y nuestros enemigos obtendrán una victoria, a pesar de que no hubieran podido
    obtenerla. Si tenemos fe y seguimos adelante, al llegar cerca del lugar donde nos parecía que todo se juntaba, vemos
    que hay mucho espacio entre el lugar donde nuestros enemigos pueden actuar y la carretera por donde debemos caminar.
    Y efectivamente, pasamos esa zona que creíamos peligrosísima, sin que nos afecte en nada la presencia de nuestros
    enemigos, que estando a 50 metros de distancia, lo único que pueden hacer es gritar y amenazarnos. Todo el peligro
    que creíamos ver estaba en nuestra mente, en la realidad todo era como Dios había dicho.</p>
<p><strong>Otras veces nos suceden cosas peores, cuando en la carretera principal vemos a nuestros enemigos a lo lejos,
    cerca del horizonte</strong>, donde todo se junta, donde nos parece que están muy cerca de la carretera, en vez de
    detenernos, lo que hacemos es tomar un desvío por otra carretera secundaria, creyendo que así no pasaremos cerca de
    nuestros enemigos, puesto que <strong>en todo lo que se puede ver a lo largo de este desvío, no se divisan
        enemigos</strong>. Tomamos por ella confiados en nuestra inteligencia, y cuando ya hemos avanzado lo suficiente
    para no tener tiempo de huir hacia atrás, los enemigos, que no tienen prohibido acceder a esa carretera, y que
    estaban escondidos allí, nos atacan y destrozan.</p>
<p> Si nos hubiéramos quedado en la carretera que Dios nos indicó, en la que Él dijo que los enemigos no podían acceder
    a ella, no nos hubiera pasado nada. <strong>En la carretera principal, donde Dios nos protege</strong>, nuestros
    enemigos espirituales muestran para que los veamos, se manifiestan para asustarnos y que nos detengamos o nos
    desviemos por otra carretera no protegida. <strong>Sin embargo, en las otras carreteras donde no hay protección
        divina para nosotros</strong>, ellos no se manifiestan, sino que se esconden para no asustarnos, y que nos
    desviemos por esas carreteras secundarias que no están protegidas.</p>
<p><strong>Así ocurre muy a menudo tanto con las obras que Dios no manda a hacer, como con sus divinos
    mandamientos.</strong> Creemos que vamos a estar mejor si cambiamos sus mandamientos, si los "mejorarmos", y al
    hacerlo, nos hemos desviado de la carretera principal donde Dios nos protege, para tomar la secundaria donde
    nuestros enemigos espirituales nos pueden destrozar.</p>
<p><strong>Nunca "mejores" ni cambies los mandamientos de Dios</strong>.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>