---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Daniel 7-English Version of the Book">

 <table class="MsoNormalTable" border="0" cellpadding="0" width="90%"
        style='width:90.0%;mso-cellspacing:1.5pt;mso-padding-alt:1.5pt 1.5pt 1.5pt 1.5pt'>
  <tr style='mso-yfti-irow:0'>
   <td colspan="3" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal">Dear Brother: </p>
    <p>&nbsp; &nbsp; &nbsp;This book has helped me to understand the prophecy of
     Daniel 7. By understanding this prophecy I have been able to identify in
     what period of God's plan we are in and teach it to others.<br>
     &nbsp; &nbsp; &nbsp;The author, a friend of mine whom the Lord used in my
     conversion, sent me the manuscript so as to get my opinion. I saw it so
     useful, that I brought it to the church body and we decided to become
     involved in its distribution.<br>
     &nbsp; &nbsp; &nbsp;I exhort you to read it earnestly, given the importance
     and urgency of the matter it talks about. Please, share this book with your
     brethren. If you have some other pastoral friends who could benefit from
     this book, please give them the Internet address below or send us their
     names and addresses and we will send them a book at no charge; especially,
     those out of the United States.<br>
     &nbsp; &nbsp; &nbsp;It's contents is perfect for revival campaigns to
     attract non believers to church, giving them an honest and real insight
     into prophecy and a clear picture of the near future, including the year
     2,000. This is an issue that has always interested the general public, and
     the church could benefit spiritually from it. Handouts or slides could be
     made out of the 35 pictures the book has, as well as from the verses needed
     to be used in the sermons of the revival campaign, as the teaching guide
     suggest.<br>
     &nbsp; &nbsp; &nbsp;The book has also been written in Spanish to help our
     Hispanic brethren in Christ. I suggested including a teaching guide in the
     last pages of the book, in order to help our Church leaders to easily teach
     its contents.<br>
     &nbsp; &nbsp; &nbsp;If you have any suggestions or comments, please do not
     hesitate to contact me at:</p>
   </td>
  </tr>
  <tr style='mso-yfti-irow:1'>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal">Ramon Aleman</p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal">P.O. Box 235, Hennessey, OK 73742<br>
     Phone 1- 405- 853- 2420<br>
     Fax 1- 405- 853- 2411<br>
     E Mail: <a href="mailto:raleman@bqco.org">raleman@bqco.org</a></p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   </td>
  </tr>
  <tr style='mso-yfti-irow:2'>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal">Wishing you the Lord's richest blessings</p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   </td>
  </tr>
  <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes'>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal">Ramon Aleman<br>
     Catalytic Missionary of<br>
     North American
     <st1:place>Mission</st1:place>
     Board<br>
     S.B.C.
     <st1:country-region>
      <st1:place>U.S.A.</st1:place>
     </st1:country-region>
    </p>
   </td>
   <td valign="top" style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   </td>
  </tr>
 </table>
</Layout>