---
import Layout from "../layout/Layout.astro";
---

<Layout title="El endurecimiento de Faraón, el libre albedrío y la predestinación">
  <section>
<p><strong>EL ENDURECIMIENTO DE FARAÓN: PREDESTINACIÓN Y DINÁMICA CELESTIAL.</strong></p>
<p> ¿Hizo Dios que Faraón pecara? ¿Forzó Dios la voluntad de Faraón? ¿Lo hizo duro?.</p>
<p> "<i>Y dijo Jehová a Moisés: Cuando hubiereis vuelto a Egipto, mira que hagas</i> <i> delante de Faraón todas las
  maravillas que he puesto en tu mano: <strong>yo empero</strong></i> <strong> endureceré su corazón, de modo que no
  dejará ir al pueblo</strong>." ( Ex 4: 21 )</p>
<p> Aquí dice claramente: "Yo empero endureceré su corazón de modo que no dejará ir a mi pueblo". ¿No tiene el humano
  libre albedrío? ¿Es esta una excepción del libre albedrío? No; no hubo excepción. <strong>Faraón seguía teniendo su
    libre albedrío intacto a pesar de que Dios lo endureció. La explicación de esta aparente paradoja estriba en darnos
    cuenta del método por medio del cual Dios endureció a Faraón.</strong> Aquí de nuevo se demuestra, como ya he dicho
  en muchas ocasiones, que no se puede sentar doctrina basándonos en versículos aislados, sino en el conocimiento
  general adquirido por la lectura integral y continua de la Biblia. Si leemos los pasajes que contienen la narración de
  todo este proceso de las diez plagas, comprenderemos que <strong>el método usado por Dios para endurecer a Faraón,
    respetaba su libre albedrío.</strong> Veamos. Supongamos que Moisés se hubiera presentado delante de Faraón y le
  hubiera dicho: voy a hacer caer un rayo al lado tuyo, después de lo cual te comenzará un dolor de cabeza que irá
  creciendo y creciendo y no se te quitará hasta que nos hayas dejado ir. <strong>Si después de eso cae el rayo y le
    comienza el dolor de cabeza, antes de doce horas el Faraón los hubiera dejado ir.</strong> ¡No hay quien aguante
  eso!. Lo mismo hubiera ocurrido si Moisés le hubiera dicho: "te va a dar un ataque de asma que se pondrá peor y peor
  hasta que nos dejes ir". <strong>Por seguro que, cuando ya Faraón se estuviera ahogando</strong>, cuando el ataque de
  asma lo estuviera haciendo sufrir por horas o días, los hubiera dejado ir. Pero con esas medidas drásticas no hay
  posibilidad de endurecimiento, <strong>por eso Dios no las usó</strong>. <strong>Para que Faraón se endureciera sin
    forzar su libre albedrío,</strong> había que enviarle plagas que le hicieran concebir la falsa idea de que él iba a
  poder ganarle la partida a ese Dios, que él creería que era igual o parecido a los dioses de Egipto. <strong>Es más,
    si cuando vino la primera plaga,</strong> la de convertir las aguas en sangre, Dios no le hubiera quitado de encima
  la plaga a Faraón, éste, <strong>antes de morirse de sed, hubiera transigido en dejar ir a los hebreos. Y si él no
    hubiera querido transigir, el pueblo, los soldados, los generales,</strong> etc., que también se estarían muriendo
  de sed, hubieran permitido que salieran los hebreos, sin hacerle el menor caso a Faraón. Algo parecido sucedió en 10:
  7- 8. Los siervos de Faraón ya estaban al rebelarse, y Faraón transigió hasta cierto punto. Veamos.</p>
<p> "<i>Entonces los siervos de Faraón le dijeron: ¿Hasta cuándo nos ha de ser éste</i> <i> por lazo? <strong>Deja ir a
  estos hombres, para que sirvan a Jehová su Dios;</strong></i> <strong>¿ <i>aun no</i></strong> <strong><i> sabes que
  Egipto está destruido</i>?</strong> <i>Y Moisés y Aarón volvieron a ser llamados a</i> <i> Faraón, el cual les dijo:
  Andad, servid a Jehová vuestro Dios. ¿Quién y quién son</i> <i> los que han de ir</i> ?" (Ex 10: 7-8 )</p>
<p> Ahora bien, ¿usó Dios con Faraón un método radical, como el que acabo de describir, o un método indulgente; un
  método rígido o uno flexible? Dios usó un método indulgente, flexible, <strong>aparentemente débil</strong>, que le
  hacía abrigar a Faraón la necia esperanza de que <strong>"por no ser Dios tan fuerte", él (Faraón) podía luchar con
    Dios....y hasta engañarlo o vencerlo.</strong> Como dije antes, Dios pudo aplicar su poder y enviarle un ahogo
  inaguantable, o un dolor tan espantoso e irresistible, que hubiera tenido que transigir en esa primera plaga. Sin
  embargo, ¿qué hizo Dios? Veamos: a) Le pide blandamente a Faraón que deje ir al pueblo. ¿Y cuál es a reacción de
  Faraón? Crecerse y oprimir más al pueblo ( 5: 6-8 ).</p>
<p> "<i>Después entraron Moisés y Aarón a Faraón, y le dijeron: Jehová, el Dios de</i> <i> Israel, dice así: <strong>Deja
  ir a mi pueblo a celebrarme fiesta en el desierto</strong>. Y Faraón</i> <i> respondió: ¿Quién es Jehová, para que yo
  oiga su voz y deje ir a Israel? <strong>Yo no</strong></i> <strong><i> conozco a Jehová, ni tampoco dejaré ir a
  Israel</i>."</strong> ( Ex 5:1-2 )</p>
<p> "<i>Y mandó Faraón <strong>aquel mismo día</strong> a los cuadrilleros del pueblo que le tenían</i> <i> a su cargo,
  y a sus gobernadores, diciendo: <strong>De aquí adelante no daréis paja al</strong></i> <strong> pueblo</strong> <i>para
  hacer ladrillo, como ayer y antes de ayer; vayan ellos y recojan por</i> <i> sí mismos la paja; <strong>y habéis de
  ponerles la tarea del ladrillo que hacían antes, y</strong></i> <strong> no les disminuiréis nada;</strong> <i>porque
  están ociosos, y por eso levantan la voz diciendo:</i> <i> Vamos y sacrificaremos a nuestro Dios</i>." ( Ex 5: 6-8 )
</p>
<p> Lleno de soberbia Faraón dice que él no conoce a Jehová, que no dejará ir al pueblo, porque a él no le da la gana, y
  ordena que opriman aún más al pueblo que Dios quiere liberar. <strong>¿Sufre alguna consecuencia Faraón por ese
    atrevimiento? No. Durante varios días se figura que él le ha ganado la partida a Dios.</strong> Creyendo tal cosa,
  es lógico que llegara a figurarse que "ese Dios no era muy poderoso"; porque si a él, a Faraón, alguien le hubiera
  hecho el desaire que él le hizo a Dios, él, Faraón, hubiera triturado a ese audaz atrevido para dar un escarmiento.
  <strong>"Así que si Dios no me tritura a pesar de lo que le hice (pensaría Faraón ), es porque no tiene mucha
    fuerza.</strong> ¡Seguramente puedo vencerlo!". b) El siguiente paso de Dios no fue una acción aniquilante,
  demostradora de Su poder, sino algo aparentemente débil, algo que también podían hacer los egipcios: Moisés echó su
  vara ante Faraón y ésta se volvió culebra. ¿Pero qué pasó? ( Ex 7: 8-13). Que los magos egipcios pudieron, <strong>aparentemente</strong>,
  hacer lo mismo. Probablemente hicieron "encantamientos" como los que hace un mago en el teatro, es decir, trucos como
  el de echar dos huevos en un sombrero y sacar dos palomas, o el de tocar con una varita un vaso de agua y convertirlo
  en leche, etc., etc..</p>
<p> "<i>Y habló Jehová a Moisés y a Aarón, diciendo: Si Faraón os respondiere</i> <i> diciendo: Mostrad milagro; dirás a
  Aarón: Toma tu vara, y échala delante de</i> <i> Faraón, para que se torne culebra. Vinieron, pues, Moisés y Aarón a
  Faraón,</i> <i> e hicieron como Jehová lo había mandado: y echó Aarón su vara delante de</i> <i> Faraón y de sus
  siervos, y tornose culebra. Entonces llamó también Faraón</i> <i> sabios y encantadores; e hicieron también lo mismo
  los encantadores de Egipto</i> <i> con sus encantamientos, pues echó cada uno su vara, las cuales se volvieron</i> <i>
  culebras: mas la vara de Aarón devoró las varas de ellos. <strong>Y el corazón de</strong></i> <strong><i> Faraón se
  endureció, y no los escuchó; como Jehová lo había dicho</i>."</strong></p>
<p> Después de esto Faraón pensaría: "Por poco me doy por vencido estúpidamente. Mis magos tienen un poder casi igual al
  que tiene el Dios este. Lo único malo que yo veo en todo esto es que la culebra de Él se comió a las mías. Pero bueno,
  eso es algo de poca monta y se puede resolver en el futuro perfeccionando el encantamiento. Así que no me rindo. A
  este Dios yo le gano la partida". Hay que notar cómo <strong>después de todo este asunto de los encantamientos y
    después de ver que (aparentemente) su poder era casi igual que el de Dios, es cuando Faraón se endurece.</strong> c)
  El tercer paso que dio Dios fue el volverle las aguas en sangre, ( Ex 7:15-18 ). Pero Faraón, cuando vio que también
  sus magos podían hacer algo parecido, ( tal vez con tintes ) volvió a endurecerse ( 7: 22 ), probablemente porque hizo
  un razonamiento similar al que antes supuse que hizo para el asunto de las culebras. Además, <strong>era fácil
    endurecerse, porque no había malas consecuencias por el endurecimiento;</strong> Dios no le apretó la mano. Las
  aguas de los pozos que los egipcios hicieron a toda prisa alrededor del río, no se convertían en sangre; y con más o
  menos trabajo se podía ir pasando. Tampoco la plaga duró más de siete días ( 7: 25 ). Era fácil que el Faraón creyera
  que Dios no tenía poder para prolongarle el castigo más de siete días; y que con un poco de astucia y aguante, pasaría
  todo aquello. Lo único que posiblemente preocupaba a Faraón es que a pesar de que <strong>sus magos podían hacer las
    mismas cosas que Moisés, no podían, sin embargo, contrarrestarlas.</strong> d) Otro tanto le sucedió con la segunda
  plaga ( 8: 6 ), la de las ranas. Los magos, con sus trucos teatrales, podían traer más ranas ( 8:7 ), pero no podían
  quitar las que había. Las ranas eran muy molestas ( 8: 3 ) y no se iban, así que Faraón decidió rebajarse un poco e
  hizo un trato mentiroso con Moisés ( 8: 8 ): me quitas las ranas y yo los dejo ir a ustedes. ¿Pero qué pasó? que no le
  pidieron garantías de cumplimiento a Faraón, sino que le suprimieron la plaga. Una vez suprimida, Faraón pensaría: "y
  ahora...¿quién me va a obligar a cumplir? Déjame negarme a ver qué pasa?". Se negó y la plaga no volvió. Y Faraón
  pensaría: "Este Dios no tiene mucha fuerza ni es inteligente. La plaga del agua convertida en sangre no pudo
  sostenerla más de una semana. La de las ranas me la quitó cuando le dije el primer embuste, y a pesar de que no cumplí
  no ha tomado represalias. Si eso me lo hacen a mí trituro al que me lo haga. Parece que este Dios no tiene la fuerza
  necesaria para triturarme. Además me he fijado en que no repite de nuevo las plagas a pesar de que yo no hago lo que
  Él quiere, ni cumplo lo que prometo. Parece que no puede repetir una plaga dos veces ni puede mantenerla por mucho
  tiempo. De aquí a un poco se le acaban todas las plagas, y entonces no me va a poder hacer nada. También veo que no me
  puede "leer" los pensamientos, no sabe que lo que le prometo no pienso cumplirlo, ni tiene astucia para exigirme una
  garantía antes de quitarme la plaga. Yo creo que puedo vencerlo; y cuando lo haya vencido voy a ser famosísimo. Además
  voy a poder conservar mis valiosos esclavos. ¡Vale la pena que trate! Ya he descubierto dos debilidades de Él: no
  puede repetir las plagas y se deja engañar fácilmente. Tal vez logre descubrir otras debilidades y lo pueda vencer".
  e) Demás está decir que todo esto es simple suposición mía basada en la forma escalonada y progresiva en que se va
  apretando a Faraón, y basada en el hecho de que cada vez que él se endurece es porque alcanza una aparente victoria
  parcial sobre Dios, que es lo que a mí parecer le hace ensoberbecerse y no transigir. Cuando en 8:19 los magos se dan
  por vencidos y advierten a Faraón sobre el asunto, ya éste había ganado suficiente victorias parciales como para
  abrigar la necia esperanza de poder derrotar a Dios. <strong>Dios había endurecido a Faraón; pero no cambiándole su
    manera de ser o pensar, sino dándole oportunidad para que desarrollara la que ya él tenía.</strong> Si Dios le
  hubiera enviado el simple dolor de cabeza que supuse al principio, Faraón no se hubiera endurecido: no hubiera podido.
  Pero como que <strong>Dios le ponía delante la oportunidad de endurecerse,</strong> y a él le gustaba endurecerse, lo
  hacía. Por eso no se rindió cuando los magos se rindieron, y triunfó; se acabaron los piojos y vinieron las moscas, (
  8: 24). f) En este caso volvió a ensayar el engaño ( 8: 28 ), y a su modo de ver le dio resultado: Dios le quitó la
  plaga sin que Moisés le pidiera previamente garantías de cumplimiento de su promesa. Por eso en 8: 32 vuelve a
  endurecerse. "Qué fácil me está resultando salirme de mis problemas ( pensaría Faraón ) basta con que invente un
  embuste y...¡zas! ...engaño a Dios". g) Así sucesivamente se puede casi adivinar el proceso del progresivo
  endurecimiento de Faraón. Cuando murió el ganado egipcio y Faraón vio (9:7) que el de Israel no había muerto, pudo
  pensar en resarcirse de la pérdida confiscando el ganado a los israelitas, cuando ya Dios hubiera sido "vencido" o se
  "cansara, y "yéndose" de Egipto los abandonara a su suerte". h) Las otras plagas pudieron seguir el mismo curso. Unas
  veces mintiendo, otras pensando que Dios se cansaría y se iría de Egipto hacia donde estaba antes de "venir", otras
  poniendo su delirio de grandeza y su soberbia por encima de lo que aconsejaba la prudencia, otras veces pensando en la
  "vergüenza" de una derrota, otras en la "grandeza" de una victoria, etc. Así Faraón se endurecía, y se endurecía sin
  que Dios le tocara su libre albedrío para hacerlo endurecerse, sino que seguía la natural tendencia de Faraón para
  endurecerlo, (Gn 9: 34 -35; 10: 20). Es de notarse que cuando el pueblo egipcio se soliviantaba o cuando la plaga era
  dura, Faraón transigía, pero cuando aquello pasaba se endurecía. <strong>Aún cuando Dios endureció a Faraón para que
    persiguiera al pueblo,</strong> que ya habían abandonado Egipto y se hallaban cerca del Mar Rojo, <strong>lo hizo
    haciéndole patente a Faraón el hecho de que ahora no tendría quien los sirviese.</strong> La ambición que el Faraón
  y sus siervos tenían los cegó; no fue que Dios atentara contra su libre albedrío.</p>
<p> "<i>Y <strong>yo endureceré el corazón de Faraón para que los siga</strong>; y seré glorificado en</i> <i> Faraón y
  en todo su ejército; y sabrán los Egipcios que yo soy Jehová. Y ellos lo</i> <i> hicieron así. <strong>Y fue dado
  aviso al rey de Egipto cómo el pueblo se huía: y el corazón</strong></i> <strong> de Faraón y de sus siervos se volvió
  contra el pueblo, y dijeron: ¿Cómo hemos hecho</strong> <strong> esto de haber dejado ir a Israel, para que no nos
  sirva?</strong> <i>Y unció su carro, y tomó</i> <i> consigo su pueblo; y tomó seiscientos carros escogidos, y todos
  los carros de Egipto,</i> <i> y los capitanes sobre ellos. Y endureció Jehová el corazón de Faraón rey de Egipto,</i>
  <i> y siguió a los hijos de Israel; pero los hijos de Israel habían salido con mano</i> <i> poderosa</i>." ( Ex 14:4-8
  )</p>
<p> En Ex 14:1- 4 también vemos claramente cual era la técnica usada por Dios para <strong>endurecer el corazón de
  Faraón sin forzar su libre albedrío.</strong> Lo que Dios hacía era ponerle cerca el "triunfo" para que su pasión
  (delirio de grandeza y soberbia en este caso ) lo cegara y se lanzara irreflexivamente en pos de ese "triunfo". Dios
  manda a Moisés a que se coloque en una posición sin escape posible: entre el desierto y el mar, (versículo 2 ), y un
  macizo montañoso a cada lado. Sabía el Señor el carácter de Faraón; sabía que no iba a poder resistir los deseos de
  irlos a vencer fácilmente y a desquitarse de todas las veces en que salió vencido. Seguramente empujaba también a
  Faraón el deseo de recuperar ante sus hombres el prestigio que había perdido. Otra de las pasiones que empujarían a
  los egipcios a cometer esta locura sería la ambición. En el versículo 5 se ve cómo Faraón y su gente, que de pronto se
  habían visto sin sirvientes, reaccionan ante la noticia de que ya se alejaban sus ex esclavos expresando un auto
  reproche: "<i>¿Cómo hemos hecho esto de haber dejado ir a Israel, para que no nos sirva</i> ?" <strong>Se evidencia de
    nuevo que Dios no ataca el libre albedrío que al crearnos nos diera. Se evidencia que Dios no va contra lo antes
    establecido por Él, sino que en Su sabiduría usa otros muchos medios para hacer que el humano cumpla Sus
    propósitos.</strong> <strong> Cuando Dios predestinó a Faraón, para todo esto, no lo hizo predestinándolo a ser duro
    y perverso, sino predestinándolo a ser rey;</strong> como dice en Ex 9: 16.</p>
<p> "<i>Y a la verdad <strong>yo te he puesto para declarar en ti mi potencia,</strong> y que mi Nombre</i> <i> sea
  contado en toda la tierra</i>." ( Ex 9: 16 )</p>
<p> En Ex 3:19 Dios dice a Moisés que Él sabe que el rey de Egipto no los dejaría ir sino por mano fuerte. O sea, que la
  dureza de faraón ya era conocida de antemano por Dios, y por eso, cuando después en 4: 21 dice "...yo endureceré su
  corazón...", se trata de que <strong>Dios le da oportunidad para ejercer su innata dureza, la cual no podría ejercer
    si Dios no le dejara oportunidad</strong>. Dios no lo hace duro; le da oportunidad a ser duro. Dios, que conocía
  cómo era el alma de Faraón, la envió al cuerpo del hijo del rey anterior, el padre de este Faraón. Si esta alma
  hubiera nacido en el cuerpo del hijo de un esclavo, aunque hubiera seguido siendo duro y soberbio, no hubiera podido
  ejercer su dureza en el caso de Moisés. <strong>Está claro que Dios predestina un alma a cierto lugar, tiempo y
    circunstancias, no a ser mala o buena, perdida o salvada.</strong> Ecc 4: 3. Veamos ahora el supuesto poder
  "diabólico" de los magos egipcios, como creen algunos. El único que puede crear materia, y especialmente materia
  viviente, es Dios. <strong>Ni Satanás ni los ángeles ni los humanos tienen poderes creadores.</strong> Por lógica, los
  encantadores no podían crear una culebra a partir de una vara de madera. Lo que hicieron estos prestidigitadores de
  Faraón no fue transformar varas en culebras, sino aparentar que lo hacían; al igual que en el teatro un mago saca una
  gallina o una paloma de un huevo que echa en un sombrero. <strong>No obstante, para Faraón, que seguramente no sabría
    cómo lograban los magos tal cosa, era lo mismo que si en realidad convirtieran las varas en culebras.</strong> El
  resultado final era el endurecimiento de Faraón. En la misma forma en que hemos visto en el teatro, delante de nuestra
  vista, introducir un conejo en un sombrero y desaparecerlo, o cambiar ropa de hombre por ropa de mujer, estos magos
  cambiaban un poco de agua en sangre o líquido que pareciera tal cosa. <strong>No era el mismo caso el de Moisés, que
    convertía en sangre toda el agua del río Nilo,</strong> el más largo del mundo y el segundo o tercero más caudaloso,
  además de las aguas que los egipcios tenían en sus casas, (7:19). Lo de los magos se podía hacer con un truco:
  convertir en sangre el agua de un recipiente delante de Faraón; pero convertir millones de toneladas de agua
  corriente, durante toda una semana, en sangre, hasta el punto de no poderse beber y matar a los peces, es una cosa muy
  seria. Moisés no podía penetrar en casa de todos los egipcios a hacer un truco, sin embargo el agua de sus casas se
  convirtió en sangre. No obstante, a pesar de lo evidente del caso, Faraón quería seguir creyendo a los magos. Cuando
  una o más pasiones ( la soberbia en este caso ) se adueñan del corazón, el raciocinio es subyugado y nublado. Otra
  cosa notable en el supuesto "poder" de los magos, es que ellos, para conservar el puesto, se esforzaban en demostrar
  que también podían hacer cosas débilmente parecidas a las que hacía Moisés, pero jamás pudieron contrarrestarlas. Si
  Moisés traía sangre, ellos "traían" más sangre; si Moisés traía ranas, ellos "traían" más ranas; pero no podían quitar
  las que Moisés había traído. <strong>Ni siquiera un pequeño espacio de tierra podían limpiar de ranas. Hasta la casa
    de Faraón las tenía.</strong> Si ellos hubieran tenido el más mínimo poder (aparte del poder de engañar a los
  babiecas), se hubieran lucido con el Faraón protegiéndole su casa de las ranas. Lo que quiero dejar bien aclarado es
  que los magos egipcios ( Jannes y Jambres según Pablo en II Tim 3:8 ) no tenían, como muchos cándidos creen, "poderes
  diabólicos". Lo único que hacían era engañar a "su público" como hace el hábil prestidigitador en el teatro. El único
  poder diabólico que tenían era el de saber engañar a los demás.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>

  </section>
</Layout>
    