---
import Layout from "../layout/Layout.astro";
---

<Layout title="Daniel 7-English Version of the Book">
    <section>
<table>
    <tbody>
    <tr>
        <td>
            <p><a href="img_menu.nvm.html"><img alt="img_menu" height="124" src="images/img_menu.jpg" width="152"></a>
            </p>
        </td>
        <td rowspan="3">
            <p><img alt="img2" height="849" src="images/img2.gif" width="5"></p>
        </td>
        <td>
            <p><img alt="img4" height="5" src="images/img4.gif" width="387"></p>
            <p>Daniel 7</p>
            <p>English Version</p>
            <p><img alt="img4" height="5" src="images/img4.gif" width="387"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="LastFourWorldPowers.pdf">Click here to view the book</a></p>
        </td>
        <td>
            <table>
                <tr>
                    <td colspan="3">
                        <p>Dear Brother:</p>
                        <p> This book has helped me to understand the prophecy of Daniel 7. By understanding this
                            prophecy I have been able to identify in what period of God's plan we are in and teach it to
                            others. The author, a friend of mine whom the Lord used in my conversion, sent me the
                            manuscript so as to get my opinion. I saw it so useful, that I brought it to the church body
                            and we decided to become involved in its distribution. I exhort you to read it earnestly,
                            given the importance and urgency of the matter it talks about. Please, share this book with
                            your brethren. If you have some other pastoral friends who could benefit from this book,
                            please give them the Internet address below or send us their names and addresses and we will
                            send them a book at no charge; especially, those out of the United States. It's contents is
                            perfect for revival campaigns to attract non believers to church, giving them an honest and
                            real insight into prophecy and a clear picture of the near future, including the year 2,000.
                            This is an issue that has always interested the general public, and the church could benefit
                            spiritually from it. Handouts or slides could be made out of the 35 pictures the book has,
                            as well as from the verses needed to be used in the sermons of the revival campaign, as the
                            teaching guide suggest. The book has also been written in Spanish to help our Hispanic
                            brethren in Christ. I suggested including a teaching guide in the last pages of the book, in
                            order to help our Church leaders to easily teach its contents. If you have any suggestions
                            or comments, please do not hesitate to contact me at:</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ramon Aleman</p>
                    </td>
                    <td>
                        <p>P.O. Box 235, Hennessey, OK 73742 Phone 1- 405- 853- 2420 Fax 1- 405- 853- 2411 E Mail: <a
                                href="mailto:raleman@bqco.org">raleman@bqco.org</a></p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p>Wishing you the Lord's richest blessings</p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p>Ramon Aleman Catalytic Missionary of North American Mission Board S.B.C. U.S.A.</p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p></p>

    </section>
</Layout>
    