
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Error y herejía de ser novotestamentario</title>
</head>
<body>
<p><strong>Error y herejía de ser novotestamentario</strong></p>
<p> Hay quienes alardean de que ellos son <strong>"</strong>novotestamentarios<strong>",</strong> esbozando a la vez en
    sus rostros un rictus de desprecio para el Antiguo Testamento<strong>,</strong> y los
    <strong>"</strong>infelices<strong>"</strong> que se guían por él<strong>,</strong> conjuntamente con el Nuevo
    Testamento<strong>.</strong> <strong>Hablan y actúan como si el Antiguo Testamento lo hubiera inspirado el Diablo y
        no Dios,</strong> o como si Dios hubiera cambiado de opinión después que lo inspiró<strong>.</strong></p>
<p><strong>No era esa, evidentemente, la estructura mental de Pablo.</strong> Cuando él escribía la Segunda Epístola a
    Timoteo<strong>,</strong> no existía aún el Nuevo Testamento<strong>;</strong> pero mucho menos cuando Timoteo era
    niño<strong>.</strong> Obviamente<strong>,</strong> lo que Timoteo conocía desde su niñez era el Antiguo
    Testamento<strong>,</strong> no el Nuevo Testamento<strong>.</strong> A aquel es al que Pablo llama aquí
    <strong>"</strong>Las Sagradas Escrituras<strong>"</strong> y no a éste aún<strong>.</strong> Por lo
    tanto<strong>,</strong> <strong>todo lo que Pablo dice en estos versículos lo dice referente a ese Antiguo
        Testamento que tantos cristianos desprecian y hasta abominan.</strong></p>
<p></p>
<p><strong>"</strong>14 <i>Empero persiste tú en lo que has aprendido y te persuadiste<strong>,</strong> sabiendo de
    quién has aprendido<strong>;</strong></i> 15 <i>y <strong>que desde la niñez</strong> has sabido <strong>las
    Sagradas Escrituras,</strong> las cuales te pueden <strong>hacer sabio</strong> para la <strong>salud por la fe que
    es en Cristo Jesús.</strong></i> 16 <strong>Toda Escritura es inspirada divinamente</strong> <i>y <strong>útil para
    enseñar,</strong> <strong>para redargüir,</strong> <strong>para corregir,</strong> <strong>para instituir en
    justicia;</strong></i> 17 <i>para que el hombre de Dios sea perfecto<strong>,</strong> <strong>enteramente
    instruido</strong> para toda buena obra</i><strong>."</strong> (II Tim 3<strong>:</strong>14-17)</p>
<p><strong>¿</strong>Qué dice Pablo del Antiguo Testamento<strong>?</strong> Él<strong>,</strong> que sabía lo que
    estaba hablando mejor que muchos parlanchines doctorados que hoy tenemos<strong>,</strong> dice que <strong>el
        Antiguo Testamento nos puede hacer sabios para la salud por la fe que es en Cristo Jesús.</strong>
    <strong>Sí;</strong> al que no quiera cerrar los ojos<strong>,</strong> el Antiguo Testamento lo conduce a
    Jesús<strong>;</strong> <strong>¡</strong>para eso precisamente fue escrito<strong>!</strong> <strong>¿</strong>No
    se acuerdan ustedes que a ese respecto lo usaron eficazmente los judíos de Berea según Hch
    17<strong>:</strong>11<strong>?</strong></p>
<p><strong>Después,</strong> refiriéndose aún al Antiguo Testamento dice que <strong>todo él fue inspirado
    divinamente.</strong> Esto no quiere decir que luego cuando el Nuevo Testamento vino a existir<strong>,</strong> no
    pudiera hacerse extensivo a él también lo aquí dicho<strong>;</strong> <strong>pero cuando Pablo lo dijo se refería
        al Antiguo Testamento.</strong></p>
<p> Más adelante dice que ese Antiguo Testamento abominado por los novotestamentarios<strong>,</strong> <strong>es útil
    para enseñar. ¿Enseñar a quienes? A los cristianos.</strong> <strong>¿</strong>Y enseñarles qué<strong>?</strong>
    Todo<strong>;</strong> porque toda Escritura (dice refiriéndose al Antiguo Testamento)<strong>,</strong> es
    inspirada divinamente<strong>,</strong> incluyendo el Decálogo y toda la Ley de Dios<strong>.</strong></p>
<p> Pero no sólo eso<strong>;</strong> dice además que <strong>el Antiguo Testamento es utilizable para redargüir y para
    corregir a los cristianos.</strong> Si a los cristianos se les redargüía y se les corregía usando para ello el
    Antiguo Testamento<strong>,</strong> <strong>es porque los cristianos se guiaban por el Antiguo Testamento, es
        decir, porque los cristianos lo tenían como norma de comportamiento; no lo consideraban obsoleto ni lo
        abominaban.</strong> Si Pablo aprobaba y estimulaba tal cosa aún al final casi de su vida<strong>,</strong>
    <strong>¿</strong>por qué no lo hacen los cristianos de la actualidad<strong>?</strong> <strong>¿</strong>Por qué
    despreciar el Antiguo Testamento<strong>,</strong> abominarlo y hasta contradecirlo<strong>?</strong>
    <strong>¿</strong>No será esa una de las causas de la debilidad de la cristiandad de todos los
    tiempos<strong>?</strong> <strong>¿</strong>Cuándo se podrá tener una cristiandad integral que se guíe por toda la
    Biblia y no por parte de ella<strong>,</strong> según a cada secta le conviene<strong>?</strong></p>
<p><strong>Yo no veo conflicto, sino complementación, entre el Antiguo Testamento y el Nuevo Testamento</strong></p>
<p> Por último<strong>,</strong> dice Pablo que <strong>el Antiguo Testamento sirve para instituir en justicia, o sea,
    que sus leyes deben ser nuestra norma de justicia,</strong> nuestra guía para proceder justamente<strong>.</strong>
    Es lo que siempre he dicho<strong>,</strong> hay muchas cosas que nosotros no supiéramos que son malas si no las
    leyéramos en el Antiguo Testamento<strong>,</strong> cuya vigencia no impugna el apóstol<strong>,</strong> sino que
    por el contrario la resalta<strong>.</strong></p>
<p><strong>¿Y para que más sirve ese Antiguo Testamento</strong> que tantos cristianos menosprecian o
    abominan<strong>?</strong> Pues para que el hombre de Dios (Timoteo y los cristianos en general) sea
    perfecto<strong>,</strong> <strong>enteramente instruido</strong> para toda buena obra<strong>.</strong>
    <strong>¡</strong>Casi nada lo que pasan por alto los que se vanaglorian de ser novotestamentarios<strong>!</strong>
</p>
<p><strong>¿Y quien dice todo esto en favor del Antiguo Testamento?</strong> <strong>Pues nada menos que el mismo
    apóstol que erróneamente tienen ellos como campeón de los que dan por inútil el Antiguo Testamento.</strong> El
    mismo que ellos dicen que decía que la ley estaba abolida y el Antiguo Testamento pasado de moda<strong>.</strong>
    El mismo que cuando les habla de un nuevo pacto y de otro dado por viejo<strong>,</strong> ellos creen que se
    refiere al Antiguo Testamento y la Ley de Dios<strong>,</strong> no a las leyes rituales<strong>,</strong> los ritos
    y ceremonias judaizantes<strong>.</strong></p>
<p><strong>Leer muchas veces la Biblia y no temer encontrar la verdad, son dos muy buenas ayudas para
    encontrarla.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>