
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Los errores doctrinales de muchos cristianos tienen uno o más de estos varios orígenes</title>
</head>
<body>
<p><strong>Los errores doctrinales de muchos cristianos tienen uno o más de estos varios orígenes</strong></p>
<p> Muy a menudo el cristiano carga con errores doctrinales que no debían enseñorearse de ellos<strong>,</strong> pero
    que los dominan inmisericordemente<strong>.</strong> Eso es debido a deficiencias de su alma<strong>:</strong> falta
    de amor a Dios<strong>,</strong> por lo cual la verdad divina no es su principal objetivo<strong>,</strong> y a
    veces<strong>,</strong> no es ni siquiera un objetivo en ellos<strong>.</strong> Su ego<strong>,</strong> sus
    concupiscencias en general ocupan el principal lugar de sus intereses<strong>.</strong> Esos errores doctrinales se
    apoderan de ellos por las siguientes razones<strong>.</strong></p>
<p><strong>a) La ignorancia casi total de la Biblia.</strong> Todos llevan la Biblia a la iglesia<strong>,</strong> y la
    abren para comprobar si lo que en ella lee el pastor es cierto<strong>;</strong> como si el pastor fuera a
    engañarlos<strong>.</strong> Sin embargo<strong>,</strong> jamás apagan el televisor para leer la Biblia
    solos<strong>,</strong> en sus casas<strong>,</strong> sin estar siendo llevados por el narigón en sus estudios de
    las doctrinas de Dios<strong>.</strong></p>
<p><strong>b) La falta de una visión integral y coherente de la Escritura,</strong> debido a que leen un pasaje
    aquí<strong>,</strong> un versículo allá<strong>,</strong> y jamás leen por orden toda la Biblia desde el Génesis
    hasta el Apocalipsis<strong>.</strong> Esos hermanos casi siempre saltan "lo que no les gusta" y lo que ellos
    consideran que "no tiene importancia"<strong>.</strong></p>
<p><strong>c) El hecho de que realizan estudios usando amañados "cursos"</strong> sobre la Biblia<strong>,</strong> o
    sobre doctrinas sectarias<strong>,</strong> preparados por los intereses creados de los sectores<strong>,</strong>
    tanto el religioso como el político<strong>.</strong> Muchos de estos "cursos" deforman la verdad bíblica a su
    conveniencia<strong>,</strong> confiados en la realidad sicológica probada<strong>,</strong> de que <strong>al
        humano le es mucho más difícil des-aprender lo aprendido para rectificar,</strong> que aprender algo por primera
    vez<strong>.</strong></p>
<p> Ellos saben que una vez que los adoctrinen en un error<strong>,</strong> son muy pocos los que se les
    escapan<strong>,</strong> si es que alguno se escapa<strong>.</strong> Un caso reciente de "cursos" preparados por
    los intereses creados del sector político<strong>,</strong> deformando la Escritura para obtener la simpatía de esa
    cristiandad a la que tanto desprecian<strong>,</strong> es cuando los que "interpretaban" las
    profecías<strong>,</strong> decían que Gog y Magog era la Unión Soviética<strong>.</strong> La URSS
    cayó<strong>,</strong> y ahora cambian la interpretación de la profecía para que refleje a sus otros enemigos
    políticos<strong>.</strong></p>
<p><strong>d) La casi total ausencia de espíritu crítico respecto a las enseñanzas que recibe.</strong> El seminarista o
    el miembro de iglesia<strong>,</strong> confiado en sus maestros<strong>,</strong> <strong>cree las doctrinas que le
        enseñan antes de analizarlas;</strong> y luego de creerlas<strong>,</strong> cuando alguien le
    contradice<strong>,</strong> trata de encontrar pasajes que la sustenten<strong>;</strong> en vez de hacer el
    proceso a la inversa<strong>:</strong> analizar primero la doctrina y después creerla y defendera<strong>.</strong>
    A veces<strong>,</strong> la ausencia de espíritu crítico es debida al temor que les causa ser apartados del
    seminario o de la iglesia<strong>,</strong> si contradicen lo que allí se enseña<strong>.</strong> Incluso el temor
    a ser destituido como pastor y perder su sueldo y su jubilación<strong>.</strong> Otras veces la falta de espíritu
    crítico se debe a una falsa noción de fidelidad a la secta<strong>,</strong> o al espíritu de clan<strong>,</strong>
    o de grupo<strong>.</strong></p>
<p><strong>e) El hecho de que las palabras no tienen el significado que ellos le atribuyen.</strong> Lo cual es un grave
    problema semántico<strong>,</strong> porque es como si el hermano y la Biblia<strong>,</strong> o el hermano y su
    interlocutor hablaran dos idiomas diferentes<strong>.</strong></p>
<p><strong>f) El usar la misma palabra para expresar dos o más cosas, o conceptos diferentes,</strong> sin darse cuenta
    ellos mismos de cuándo expresan uno y cuándo el otro<strong>.</strong> Si en la ecuación "A + 7 = 11"
    <strong>,</strong> le hemos atribuido a la letra "A" un valor de cuatro<strong>,</strong> no
    debemos<strong>,</strong> sin hacer la aclaración pertinente<strong>,</strong> decir que "A + 5 =
    20"<strong>,</strong> porque en este caso le estamos atribuyendo a la letra "A" un valor de 15 y no uno de 7<strong>,</strong>
    que fue el que primero le dimos<strong>.</strong> Hacer eso crea confusión en nuestro interlocutor<strong>,</strong>
    pero eso mismo es lo que hacen muchos en sus debates<strong>,</strong> sobre todo en religión<strong>.</strong></p>
<p><strong> g) El usar, para razonar sobre la verdad de nuestras doctrinas, premisas o conceptos originados en la
    tradición,</strong> como si estos conceptos fueran premisas bíblicas<strong>.</strong> Si por tradición nos enseñan
    que el número 3 vale cinco unidades<strong>,</strong> cada vez que veamos 3 x 4 diremos ser igual a 20 a pesar de
    que sólo es igual a 12<strong>.</strong> Y todo esto sucede por falta de espíritu crítico<strong>,</strong> o por
    temor a ser echado del pastorado<strong>,</strong> o del seminario o "excomulgado" de la secta<strong>.</strong></p>
<p><strong>h) Otro problema que confronta el cristiano, al igual que cualquier otro ser humano, es la mezcla de
    sentimientos en el proceso del razonamiento.</strong> Sentimientos tales como<strong>:</strong> <strong>1)</strong>
    temor a ofender a Dios si duda de lo que le enseñaron<strong>,</strong> y lo somete al raciocinio<strong>;</strong>
    <strong>2)</strong> temor a encontrar una verdad que a él se le antoja pudiera ser muy difícil de
    cargar<strong>;</strong> <strong>3)</strong> falta de fe en el amparo de Dios<strong>,</strong> al creer que si
    razona<strong>,</strong> uno más inteligente que él puede engañarlo y hacerlo errar de lo que a
    priori<strong>,</strong> o por intuición<strong>,</strong> él cree ser la verdad absoluta<strong>;</strong> <strong>4)</strong>
    temor a cambiar de doctrina y entonces tener que enfrentarse a los hermanos que antes pensaban como
    él<strong>;</strong> <strong>5)</strong> orgullo<strong>,</strong> resistencia a admitir que estaba errado y que no
    había utilizado adecuadamente sus facultades mentales<strong>;</strong> <strong>6)</strong> temor a lo que para él
    es nuevo<strong>,</strong> sin saber por qué teme<strong>;</strong> etc<strong>..</strong></p>
<p><strong>¿Y cuál sería la solución?</strong> Leer la Biblia todos los días<strong>,</strong> por
    orden<strong>;</strong> no temer a que nos contradigan<strong>;</strong> darnos cuenta de que si "nos
    confunden"<strong>,</strong> eso es un estado transitorio<strong>,</strong> momentáneo<strong>,</strong> pues el
    Espíritu Santo no nos va dejar desamparados si nosotros queremos encontrar la verdad<strong>;</strong> y sobre
    todo<strong>,</strong> recordar lo que Cristo prometió en Lc 21<strong>:</strong>15<strong>,</strong> que nos daría
    boca y sabiduría<strong>,</strong> a la cual no podrían replicar los que se oponen a sus
    enseñanzas<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>