---
import Layout from "../layout/Layout.astro";
---

<Layout title="The error and heresy of being Neo-Testamentarian">
    <section>
<p><strong>The error and heresy of being Neo-Testamentarian</strong></p>
<p> There are those who brag about being <strong>"</strong>Neo-Testamentarian<strong>"</strong> while they show contempt
    towards the Old Testament and those <strong>"</strong>wretches<strong>"</strong> that follow it together with the
    New Testament<strong>.</strong> <strong>They talk and act as if the Old Testament had been inspired by Satan and not
        by God,</strong> or as if God had changed his mind after its inspiration<strong>.</strong></p>
<p><strong>Evidently that was not Paul's mental structure.</strong> When he wrote the second letter to
    Timothy<strong>,</strong> the New Testament did not exist yet<strong>,</strong> and much less when Timothy was a
    child<strong>.</strong> Obviously<strong>,</strong> what Timothy knew from infancy was the Old Testament and not the
    New Testament<strong>.</strong> That is what Paul calls here <strong>"</strong>the Sacred
    Scriptures<strong>"</strong> and not the New Testament yet<strong>.</strong> Therefore<strong>,</strong> <strong>all
        that Paul says in these verses he says it in reference to that Old Testament that so many Christians reject and
        even abominate.</strong></p>
<p></p>
<p><strong>"</strong>14 <i>But continue thou in the things which thou hast learned and hast been assured
    of<strong>,</strong> knowing of whom thou hast learned them<strong>;</strong></i> 15 <i>and that <strong>from a
    child</strong> <strong>thou hast known the Holy Scriptures,</strong> which are able <strong>to make thee
    wise</strong> <strong>unto salvation through faith which is in Christ Jesus.</strong></i> 16 <strong>All</strong>
    <strong>Scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for
        instruction in righteousness;</strong> 17 <i>that the man of God may be perfect<strong>,</strong> <strong>throughly</strong>
        <strong>furnished</strong> unto all good works</i><strong>".</strong> (II Tim 3<strong>:</strong>14-17)</p>
<p> What does Paul say about the Old Testament<strong>?</strong> He<strong>,</strong> who knew what he was talking about<strong>,</strong>
    better than all of the talkative <strong>"</strong>doctors<strong>"</strong> that we now have<strong>,</strong> says
    that <strong>the Old Testament can make us wise for our salvation by the faith that is in Christ Jesus.
        Yes,</strong> for anyone who does not close his eyes<strong>,</strong> the Old Testament will guide him to Jesus<strong>.</strong>
    That is why it was written<strong>!</strong> Don't you remember that it was to that respect that the Berean Jews
    used it according to Acts 17<strong>:</strong>11<strong>?</strong></p>
<p> Later<strong>,</strong> referring still to the Old Testament<strong>,</strong> he says that <strong>all of it was
    inspired by God.</strong> This does not mean that later when the New Testament came into existence<strong>,</strong>
    it could not apply to it as well<strong>;</strong> but <strong>when Paul said it, he was referring to the Old
        Testament.</strong></p>
<p> Later on he says that the Old Testament<strong>,</strong> which is abominated by the
    Neo-Testamentarians<strong>,</strong> <strong>is useful for teaching. Teaching who? The Christians.</strong> And
    teaching them<strong>,</strong> what<strong>?</strong> Everything<strong>,</strong> because all Scripture (he says
    of the Old Testament) is inspired by God<strong>,</strong> including the Decalogue and all of God's
    laws<strong>.</strong></p>
<p> And not just that<strong>;</strong> he also says that <strong>the Old Testament is useful for reproof, and for
    correction for Christians.</strong> If Christians were reproved and corrected through the use of the Old
    Testament<strong>,</strong> <strong>it is because Christians followed the Old Testament. In other words, because
        Christians had it as a standard of behavior; they did not consider it obsolete not abominate it.</strong> If
    Paul approved and encouraged such thing<strong>,</strong> even at the end of his life<strong>,</strong> why can't
    Christians do so today<strong>?</strong> Why reject the Old Testament and hate it and even contradict
    it<strong>?</strong> Isn't that one of the reasons for the weakness of Christianity in all times<strong>?</strong>
    When will we have an integral Christianity that follows the entire Bible and not just part of it<strong>,</strong>
    to the convenience of each sect<strong>?</strong></p>
<p><strong>I don't see a conflict, but rather a complement between the Old and the New Testaments.</strong></p>
<p> Lastly<strong>,</strong> Paul says that <strong>the Old Testament is profitable for instructing in righteousness, or
    that its laws must be our model for justice,</strong> our guide for righteous behavior<strong>.</strong>
    This<strong>,</strong> I have always said<strong>,</strong> there are many things that we would never have known
    they are sinful if we did not read the Old Testament<strong>,</strong> whose validity the apostle is not
    rejecting<strong>,</strong> rather he highlights<strong>.</strong></p>
<p><strong>So what else is the Old Testament that so many Christians despise or abominate good for?</strong>
    Well<strong>,</strong> it is so that every man of God (Timothy and Christians in general) be
    perfect<strong>,</strong> <strong>fully instructed</strong> for all good deeds<strong>.</strong> Nothing much what
    is ignored by those who brag about being Neo-Testamentarians<strong>!</strong></p>
<p><strong>And who says all this in favor of the Old Testament? The same man who, erroneously, those who consider the
    Old Testament useless, hold as their champion.</strong> The same man who they say he insisted that the law had been
    abolished and that the Old Testament was old fashioned<strong>.</strong> The same man that<strong>,</strong> when
    speaking of a new covenant replacing an old one<strong>,</strong> they believe is talking about the Old Testament
    and God's law<strong>,</strong> and not the ritual laws and the rites and Jewish ceremonies<strong>.</strong></p>
<p><strong>To read the Bible many times without fear of finding the truth is a very good way to find it.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    