
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The doctrinal errors of many Christians has one or more of these origins</title>
</head>
<body>
<p><strong>The doctrinal errors of many Christians have one or more of these origins</strong></p>
<p> Very often Christians are laden with doctrinal errors that shouldn't master their lives<strong>,</strong> but
    enslave them in a merciless way<strong>.</strong> That is due to flaws in their souls<strong>:</strong> lack of love
    for God<strong>,</strong> for which reason divine truth is not the main objective of their lives<strong>,</strong>
    and too often not even an objective<strong>.</strong> Their ego<strong>,</strong> their lusts<strong>,</strong> in
    general are the main aim in their interests<strong>.</strong> Those doctrinal errors master them for the following
    reasons<strong>.</strong></p>
<p><strong>a) The almost complete ignorance of the Bible.</strong> They all take their Bible to church<strong>,</strong>
    to see if what the pastor reads is true<strong>;</strong> as if the pastor were to lie to them<strong>.</strong>
    However<strong>,</strong> they never turn off the television set to read the Bible alone<strong>,</strong> without
    being taken by the hand in their study of God's doctrines<strong>.</strong></p>
<p><strong>b) The lack of an integral and coherent vision of Scriptures,</strong> due to the fact that they read a
    passage here and a verse there<strong>,</strong> and never read the Bible in order from Genesis to
    Revelation<strong>.</strong> These brothers usually jump over <strong>"</strong>what they don't
    like<strong>"</strong> and what they consider <strong>"</strong>not important<strong>".</strong></p>
<p><strong>c) The fact that they study using rigged "courses"</strong> on the Bible<strong>,</strong> or on sectarian
    doctrines<strong>,</strong> prepared by the special interests of the sectors<strong>,</strong> whether religious or
    political<strong>.</strong> Many of these <strong>"</strong>courses<strong>"</strong> twist the biblical truth to
    their own liking<strong>,</strong> resting on the proven psychological truth that states that <strong>it is harder
        for human beings to unlearn what they learned and correct it,</strong> than it is to learn something for the
    first time<strong>.</strong></p>
<p> They know that once they are indoctrinated on an error<strong>;</strong> very few escape<strong>,</strong> if
    any<strong>.</strong> A recent case of <strong>"</strong>courses<strong>"</strong> prepared by special interests in
    the political sector<strong>,</strong> twisting Scripture to gain the sympathy of the Christians they so much
    hate<strong>,</strong> was when they <strong>"</strong>interpreted<strong>"</strong> prophesy and said that Gog and
    Magog were the Soviet Union<strong>.</strong> The Soviet Union fell and now they changed their interpretation to
    reflect their new political enemies<strong>.</strong></p>
<p><strong>d) The almost total absence of a critical spirit in regards to the teachings received.</strong> The seminary
    student or church member<strong>,</strong> trusting his teachers<strong>,</strong> <strong>believes the doctrines
        taught, before analyzing them.</strong> After he decides to believe them<strong>,</strong> when someone
    contradicts him<strong>,</strong> he tries to find passages to sustain it<strong>,</strong> instead of doing the
    opposite<strong>:</strong> analyze first the doctrine<strong>,</strong> and believe it later<strong>.</strong></p>
<p> Sometimes the absence of a critical spirit is due to the fear of being alienated from the seminary or separated from
    the church<strong>,</strong> if he contradicts what he is being taught<strong>.</strong> If he is a pastor he also
    is afraid of being ousted and loosing his salary and his retirement<strong>.</strong> Sometimes the lack of a
    critical spirit is due to a false notion of loyalty to the sect<strong>,</strong> the clan or group
    spirit<strong>.</strong></p>
<p><strong>e) The fact that words don't have the meaning they attribute to them.</strong> This is a grave semantics
    problem<strong>,</strong> because it is as if the brother and the Bible or the brother and his listener spoke two
    different languages<strong>.</strong></p>
<p><strong>f) Using the same word to express two or more things or concepts,</strong> without realizing when they say
    one thing or the other<strong>.</strong> If in the equation <strong>"</strong>A + 7 = 11<strong>"</strong> we have
    given <strong>"</strong>A<strong>"</strong> a value of four<strong>;</strong> we cannot<strong>,</strong> without
    properly clarifying it<strong>,</strong> say that <strong>"</strong>A + 5 = 20<strong>",</strong> because in this
    case we are giving <strong>"</strong>A<strong>"</strong> a value of 15 and not 4 as we previously
    did<strong>.</strong> Doing this causes confusion in our listener<strong>,</strong> but that is precisely what many
    do in their debates<strong>,</strong> especially on religion<strong>.</strong></p>
<p><strong>g) Using premises or concepts originated in tradition in order to reason on the truth of our
    doctrines,</strong> as if these concepts were Bible premises<strong>.</strong> If by tradition we learned that the
    number 3 equals five units<strong>,</strong> every time we see 3 x 4 we will say it equals 20<strong>,</strong> in
    spite of the fact that it equals 12<strong>.</strong> All that happens because of the lack of a critical
    spirit<strong>,</strong> or fear of being separated from the seminary<strong>,</strong> being ousted as pastor or
    being <strong>"</strong>excommunicated from the sect<strong>".</strong></p>
<p><strong>h) Another problem the Christian faces just like any other human being is the mixture of feelings in the
    reasoning process.</strong> Feelings such as<strong>:</strong> <strong>1)</strong> the fear of offending God if he
    doubts what they taught him and tries to reason it<strong>;</strong> <strong>2)</strong> the fear of finding a truth
    that he feels would be too much to bear<strong>;</strong> <strong>3)</strong> lack of faith in God's support by
    believing that if he reasons<strong>,</strong> one more intelligent than him can deceive him and make him err on
    that which<strong>,</strong> intuitively<strong>,</strong> he believes to be an absolute truth<strong>; 4)</strong>
    fear of changing his doctrine and then have to face the brothers that used to think like him<strong>;</strong>
    <strong>5)</strong> pride<strong>,</strong> resistance to admit he was wrong and had not used adequately his
    intelligence<strong>;</strong> <strong>6)</strong> fear of what is unknown to him<strong>,</strong> without knowing
    why he is afraid<strong>,</strong> etc<strong>..</strong></p>
<p> What would be the solution<strong>?</strong> Read the Bible every day<strong>,</strong> in
    sequence<strong>;</strong> not to fear to be contradicted<strong>;</strong> realize that if someone
    <strong>"</strong>confuses us<strong>",</strong> it will be a transitory state<strong>,</strong> because the Holy
    Spirit is not going to leave us without help if we really want to find truth<strong>,</strong> but above all<strong>,</strong>
    remember that our Lord Jesus Christ promised in Lk 21<strong>:</strong>15 that he will give us mouth and wisdom
    which all our adversaries shall not be able to gainsay nor resist<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>