
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>El fabricante de autos</title>
</head>
<body>
<p><strong>El fabricante del auto</strong></p>
<p> El que dirige la fabricación de un auto<strong>,</strong> el ingeniero jefe<strong>,</strong> sabe cómo hizo el auto<strong>,</strong>
    qué puede hacer ese auto<strong>,</strong> qué cosas no puede hacer<strong>,</strong> con qué tipo de gasolina se le
    debe alimentar<strong>,</strong> qué número y tipo de aceite debe usarse en él<strong>,</strong> qué presión de aire
    deben llevar las gomas o llantas<strong>,</strong> etc..</p>
<p> Como persona consciente de su deber ese ingeniero jefe redacta un folleto en donde le explica al que compra el auto
    todos estos pormenores. El que sigue todas las recomendaciones<strong>,</strong> va a tener un carro bueno durante
    muchos años<strong>;</strong> el que las desprecia<strong>,</strong> tarde o temprano va a pagar por su
    desobediencia.</p>
<p> No obstante<strong>,</strong> hay quien cumple unas recomendaciones y otras no. Si cuidamos con esmero el motor del
    carro<strong>,</strong> pero no las vestiduras ni la carrocería<strong>,</strong> el auto funcionará
    perfectamente<strong>,</strong> pero lucirá deteriorado. Si cuidamos los asientos y la carrocería<strong>,</strong>
    pero descuidamos el motor y las partes mecánicas<strong>,</strong> el auto lucirá como nuevo<strong>,</strong> pero
    no servirá para nada<strong>;</strong> no funcionará bien. <strong>Igualmente, si nosotros cumplimos unas leyes de
        Dios y no otras, nos irá bien en ciertas cosas, pero no en otras.</strong></p>
<p> Las leyes de Dios sirven para encaminarnos en la vida y ahorrarnos amarguras y sinsabores.</p>
<p><strong>Hace muchos años un amigo mío, buen mecánico,</strong> me vio echándole a mi auto aceite
    barato<strong>,</strong> y me aconsejó que le echara el más caro que yo pudiera costear. Como que yo sé de
    física<strong>,</strong> sabía que la propiedad primordial del aceite era su viscosidad<strong>,</strong> y aquel
    aceite barato la tenía<strong>,</strong> por lo cual no le hice caso al consejo de mi amigo. Sale mejor el que no
    sabe nada y atiende el consejo de los que saben<strong>,</strong> que el que sabe algo y se cree que lo sabe todo.
    Eso fue lo que me sucedió a mí.</p>
<p> Al cabo de tres o cuatro años<strong>,</strong> el motor de mi carro se fundió<strong>,</strong> y como es natural
    fui a ver a mi amigo el cual me consiguió otro motor<strong>,</strong> y entre los dos lo
    cambiamos<strong>,</strong> pero yo ni me acordaba de aquel consejo. Por mera curiosidad mi amigo abrió el motor
    fundido para ver por qué se había fundido<strong>,</strong> y al ver la rejilla del tubo aspirante del aceite casi
    totalmente obstruida por carbón<strong>,</strong> me dijo que debía usar los aceites caros<strong>,</strong> porque
    estos tienen un disolvente del carbón que evita su acumulación. Él no se acordaba que ese consejo me lo había dado
    cuatro años antes<strong>,</strong> aunque en aquella ocasión no me había dicho que la razón por la cual debía usar
    el aceite caro era <strong>porque este tenía disolventes del carbón.</strong></p>
<p> Cuando él me dio el primer consejo<strong>,</strong> yo<strong>,</strong> que creí saber lo
    suficiente<strong>,</strong> no quise hacerle caso al que sabía más que yo<strong>,</strong> y por
    eso<strong>,</strong> pagué las consecuencias.</p>
<p><strong>Igualmente Dios nos da mandamientos, y a veces no nos explica por qué debemos cumplirlos.</strong>
    Nosotros<strong>,</strong> que creemos saber lo suficiente<strong>,</strong> dejamos de cumplir esos
    <strong>"</strong>pequeños<strong>"</strong> preceptos y mandamientos <strong>"</strong>sin
    importancia<strong>",</strong> pensando que eso era para <strong>"</strong>la gente de antes<strong>",</strong> o
    pensando que los mandamientos están obsoletos. Luego<strong>,</strong> cuando se nos rompe el <strong>"</strong>motor<strong>",</strong>
    en vez de admitir que esto nos vino por no cumplir algún mandamiento<strong>,</strong> solo se nos ocurre la necedad
    de decir<strong>:</strong> <strong>"</strong>son pruebas hermano<strong>",</strong> en vez de rectificar nuestro
    comportamiento y cumplir las leyes de Dios. Por eso luego seguimos sufriendo a todo lo largo de nuestras vidas lo
    que queremos llamar <strong>"</strong>pruebas<strong>"</strong>. <strong>La Ley de Dios sirve para ahorrarnos todas
        esas amarguras.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>