---
import Layout from "../layout/Layout.astro";
---

<Layout title="A factor to correctly interpret the Bible">
    <section>
<p><strong>In order to correctly interpret the Bible we have to bear in mind that God, Christ and the Holy Spirit, do
    not contradict each other, nor change their opinions throughout the centuries</strong></p>
<p><strong>Christ is the same yesterday, today and forever</strong></p>
<p><strong>One of the factors to correctly interpret the Bible</strong> is to realize that God<strong>,</strong> Christ
    and the Holy Spirit are divine beings<strong>.</strong> Therefore<strong>,</strong> <strong>it is not logical to
        suppose that God's opinions change,</strong> needing correction<strong>.</strong> It is absurd to think that the
    Creator erred when he said or commanded something in a book of the Bible<strong>,</strong> and because of
    that<strong>,</strong> had to rectify the error later in another book<strong>.</strong></p>
<p>It is also not logical to believe that God thought in one way<strong>,</strong> and expressed it in the Old Testament<strong>,</strong>
    but Christ thought in a different way and that is why it was contradicted in the New Testament<strong>.</strong></p>
<p>Others are even capable of supposing that the Holy Spirit inspired something in the disciples<strong>,</strong> which
    God was not in agreement with<strong>.</strong></p>
<p><strong>That being said, it would seem that no true Christian would think such a thing,</strong> but in fact they
    do<strong>,</strong> without realizing what they believe<strong>,</strong> when they sustain erroneous
    doctrines<strong>.</strong> Everything the Bible says has to be in harmony<strong>,</strong> because God is not a
    being of discord or chaos<strong>.</strong></p>
<p>If the interpretation of a passage implies something like what we have just mentioned<strong>,</strong> it is because
    the interpreter is wrong<strong>,</strong> not the Bible<strong>.</strong> It is the one interpreting who does not
    understand<strong>,</strong> not God who changed his opinion or Christ who amended or improved upon His father's
    page<strong>.</strong></p>
<p>There are brethren that when they interpret some passage of Scripture act as if they believed that God had an opinion
    <strong>"</strong>before<strong>",</strong> while <strong>"</strong>now<strong>"</strong> He has a contrary
    opinion<strong>.</strong> Others even act as if God had an opinion and Jesus Christ had an opposing
    opinion<strong>.</strong> Others believe that God had a defective opinion<strong>,</strong> but when Christ
    came<strong>,</strong> he improved upon it<strong>.</strong> In Hebrews 13<strong>:</strong>8 we will see that Saint
    Paul tells us<strong>,</strong> inspired by the Holy Spirit <strong>that</strong> Jesus Christ does not
    change<strong>.</strong></p>
<p><strong>"</strong><i>Jesus Christ the same yesterday<strong>,</strong> and today<strong>,</strong> and for
    ever</i><strong>."</strong> (Hebrews 13<strong>:</strong>8)</p>
<p>If Jesus Christ is always the same<strong>,</strong> it is logical to think that He has not changed<strong>.</strong>
    If on the other hand we know that He always obeys the Father<strong>,</strong> it is also logical to think that He
    has always been in agreement with the Father and therefore<strong>,</strong> the Father has never changed
    either<strong>.</strong></p>
<p><strong>In God, there is neither change nor shadow of turning</strong></p>
<p>James also testifies that God does not change his opinion<strong>.</strong> The Creator does not need to
    rectify<strong>,</strong> because he is never wrong<strong>.</strong> <strong>Therefore, if some interpretation
        implies that God or Christ or the Holy Spirit "improve" on something previously said, that interpretation is
        wrong.</strong></p>
<p><strong> "</strong><i>Every good gift and every perfect gift is from above<strong>,</strong> and cometh down from the
    Father of lights<strong>,</strong> with who is no variableness<strong>,</strong> neither shadow of
    turning</i><strong>."</strong> (James 1<strong>:</strong>17)</p>
<p>Being three divine beings<strong>,</strong> neither God<strong>,</strong> nor Christ<strong>,</strong> nor the Holy
    Spirit are going to have to rectify something they previously said or ordered<strong>.</strong> If upon interpreting
    a passage<strong>,</strong> our interpretation implies that Christ improved on something either established or said
    by God<strong>,</strong> that interpretation is wrong<strong>.</strong> If our interpretation of what is said by
    some writer of the Bible<strong>,</strong> men who wrote by being inspired by the Holy Spirit<strong>,</strong> it
    implies that they are <strong>"</strong>improving upon<strong>"</strong> or
    <strong>"</strong>changing<strong>"</strong> a commandment of God or Christ<strong>,</strong> that interpretation is
    erroneous and even blasphemous<strong>.</strong></p>
<p><strong>God personally says that He does not change</strong></p>
<p>That idea is clearly perceived in the Old Testament<strong>.</strong> When God reproaches the Israelites for their
    sins<strong>,</strong> He informs them that if they have not been consumed by their sins<strong>,</strong> it is
    because God doesn't change<strong>.</strong></p>
<p><strong>"</strong><i>For <strong>I am the LORD, I change not;</strong> therefore ye sons of Jacob are not
    consumed</i><strong>."</strong> (Malachi 3<strong>:</strong>6)</p>
<p><strong>No one who is perfect has to correct or rectify his errors, because then he would not be perfect.</strong>
    Whoever has a correct concept<strong>,</strong> will understand that no divine being changes their
    opinion<strong>.</strong></p>
<p><a href="biblenotes.html"><strong>Back to the index</strong></a></p>
<p></p>

    </section>
</Layout>
    