---
import Layout from "../layout/Layout.astro";
---

<Layout title="Faith and Works According to James">
    <section>
        <p><strong>Faith and Works According to James</strong></p>
        <p><strong>Faith cannot be smelled, heard, seen, touched or tasted. Faith can only be noticed by the works it
            produces.</strong></p>
        <p> Many people distort the meaning of words such as "repentance" and "repent", so much, that they acquire
            another
            meaning. They go as far as thinking that to repent means to utter the phrase "I repent", as if the phrase in
            itself
            had a mysterious power, like "abracadabra".</p>
        <p> Many have done the same thing with the word "faith". They think that it only means "to believe". If this was
            the
            case, then everyone has faith. They believe that four plus five equals nine; many others believe that the
            Earth is
            spherical; still some believe that tomorrow the sun will rise; etc.. <strong>According to James, even demons
                believe
                in God; they also believe in Christ</strong>. Is this enough to claim to have faith?</p>
        <p> There are some who call faith to the most idiotic autosuggestion. There are also those who think of
            themselves to be
            a super hero of the faith, just because they sit down to fan themselves while they "believe with great
            force".
            <strong>To say that we believe, or that we have faith, or that we repent</strong>, is as easy as saying just
            the
            contrary. Talking does not pay taxes. How then can we discern who really has faith?</p>
        <p> This is exactly what James is teaching us in 2: 14-26. <strong>What James teaches is that if someone says he
            has
            faith, but this faith does not produce works, that man is a liar</strong>. This teaching of James reminds us
            of what
            Jesus said: "Ye shall know them by their fruits…".</p>
        <p> If I had to paraphrase this passage of James (14-26), I would put the biblical text in italics, and the
            paraphrase
            in regular letters, like this:</p>
        <p><i> 14 What doth it profit, my brethren, though a man <strong>say</strong> he hath faith, and have not works?
            Can
            faith save him?</i></p>
        <p> 14 Do not think my brethren that everybody who "<strong>says</strong>" they believe in Christ will be saved,
            in
            spite of the fact that he <strong>don't have the works that follow a true faith</strong>.</p>
        <p><i>15 If a brother or sister be naked, and destitute of daily food, 16 and one of you <strong>say</strong>
            unto them:
            Depart in peace, be ye warmed and filled; notwithstanding ye give them not those things which are needful to
            the
            body; what doth it profit?</i></p>
        <p> 15-16 If a brother or sister is cold and destitute of food, can you believe in the sincerity of someone who
            <strong>says</strong>
            to his friend: "Oh that you get fed and warm", but doesn't give him any food or clothing, having plenty?</p>
        <p><i>17 Even so faith, if it hath not works, is dead, being alone.</i></p>
        <p> 17 By the same token the one that says he has faith, but this "faith" doesn't prompt him to the
            corresponding works
            is because the "faith" he has is not better than the one who believes that the sun will rise tomorrow; it is
            a dead
            faith.</p>
        <p><i>18 Yea, a man may say: Thou hast faith, and I have works, shew me thy faith without thy works, and
            <strong>I will
                shew thee my faith by my works</strong>.</i></p>
        <p> 18 You proclaim you have faith; I do not proclaim I have faith. You try to show me your faith without
            showing me
            your works; but <strong>I will show you my faith by my works.</strong></p>
        <p><i>19 <strong>Thou believest</strong> that there is one God; thou doest well; the <strong>devils also
            believe</strong>, and tremble.</i></p>
        <p> 19 This manner of "just believing" and period, is nothing new nor good. This is the way the demons
            believe.</p>
        <p><i>20 But wilt thou know, O vain man, that faith without works is dead? 21 Was not Abraham our father
            justified by
            works, when he had offered Isaac his son upon the altar? 22 Seest thou how <strong>faith wrought with his
                works,</strong> and by works was faith made perfect? 23 And the scripture was fulfilled which saith,
            Abraham
            believed God, and it was imputed unto him for righteousness; and he was called the Friend of God.</i></p>
        <p> 20-23 If you want to find out that your abstract manner of believing is vain, just consider how the great
            ones of
            the faith, among them Abraham, demonstrated that they had faith by means of their works and deeds. It was
            not a bla
            bla bla of sitting down to "believe strongly". Abraham's faith prompted him to offer his son, <strong>knowing
                that
                for sure, God was going to make him whole again, in order to inherit what God had promised</strong>.
            That's why
            Abraham was called a Friend of God.</p>
        <p><i>24 Ye see then how that by works a man is justified, and not by faith only.</i></p>
        <p> 24 <strong>As we can evidently see, it is true that we are justified by faith, but true faith, is one that
            produces
            works and deeds</strong>; not one flaunted by charlatans who affirm they have an impressive faith.</p>
        <p><i>25 Likewise also was not Rahab the harlot justified by works, when she had received the messengers, and
            had sent
            them out another way?</i></p>
        <p> 25 Rahab's case teaches the same lesson. She didn't sit down to strongly believe. The faith that she had in
            the
            victory of God's people prompted her to act accordingly, even risking to be discovered and executed. If she
            would
            have sat down to strongly believe and do nothing else, she would have been destroyed along with her
            city.</p>
        <p><i>26 For as the body without the spirit is dead, so faith without works is dead also.</i></p>
        <p> 26 The same way a body without a spirit, in spite of still being a person, cannot say is a person, because
            is dead,
            even so this kind of "faith" that some proclaim to have, which does not produce works, is a faith that must
            not be
            called so, because it is dead.</p>
        <p><strong>As we can conclude, James is not changing the fundamentals of faith and salvation</strong>. What he
            is doing
            is making clear which of all those "faiths" that are offered in the "religious market", are counterfeited,
            and which
            are true.</p>
        <p> I have seen in some homes a simulation of a fireplace, which has simulated burning wood, and an almost
            perfect
            simulation of fire, done with ingenious lighting effects. It mesmerizes me to see the ascending flame, very
            close in
            sight to the real one, but…it doesn't heat. So is the same with many peoples' faith; they "strongly
            believe", but
            there is no "heat", there are no works, it is just an appearance.</p>
        <p> This is the lesson that the great James teaches us: <strong>faith without works is bogus, faith without
            works is
            dead</strong>. Faith is demonstrated by works. <strong>It does not mean that we need faith and works to be
            saved</strong>. What it means is that faith cannot be seen, tasted, touched, smelled, or heard; works is
            what shows
            the faith. If there are no works in sight, there is not true faith underneath, as well as if there is no
            heat, it is
            because there is no true fire underneath.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    