<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La Fe y Las Obras Según Santiago</title>
</head>
<body>
<p><strong>La fe y las obras según Santiago</strong></p>
<p><strong>La fe no se puede oler, ni oír, ni ver, ni palpar, ni tiene sabor; la fe se ve por las obras que la
    acompañan.</strong></p>
<p> La gente tergiversa el significado de palabras tales como "arrepentimiento" y "arrepentirse", hasta el punto de
    convertirlas en una palabra sin ese significado. Llegan a creer que arrepentirse es el hecho de pronunciar la frase:
    "yo me arrepiento", como si tal frase tuviera alguna facultad en sí misma, igual que el "sésamo ábrete" o el
    "abracadabra" del cuento.</p>
<p> Lo mismo ha pasado con la palabra "fe". Para muchos tener fe significa simplemente "creer". En ese caso, en este
    mundo todos tienen fe. Hay quien cree en que cuatro más cinco son nueve; otros tienen fe en que la tierra es
    redonda; otros tienen fe en que mañana también va a salir el sol, etc.. Es más, <strong>como dice el mismo Santiago,
        los demonios creen en Dios, también creen en Cristo.</strong> ¿Es solamente eso lo que se llama tener fe?</p>
<p> Hay incluso quienes a la más necia autosugestión, le llaman fe. Hay quien cree ser un héroe de la fe, porque se
    sienta en su casa a echarse fresco a la vez que "cree con fuerza". <strong>Decir que uno cree, que uno tiene fe, o
        que uno está arrepentido,</strong> es tan sencillo como decir lo contrario. Hablar no paga impuestos. ¿Cómo
    saber entonces quién de los muchos parleros es el que de verdad tiene fe?</p>
<p> Eso es lo que nos viene a enseñar Santiago en 2: 14-26. En forma resumida puedo decir que lo que <strong>Santiago
    declara es que cuando alguien dice tener fe, y a esa fe no le acompañan las obras que provoca una verdadera fe, el
    que tal fe proclama tener es un mentiroso</strong>. Esa actitud mental de Santiago concuerda con lo dicho por el
    Señor: "....por sus frutos los conoceréis...."</p>
<p> Si me tocara parafrasear lo que dice este pasaje ( 14-26 ) pondría la cita bíblica primero y la paráfrasis mía
    después, así:</p>
<p></p>
<p> 14 <i>Hermanos míos, ¿qué aprovechará <strong>si alguno dice</strong> que tiene fe, y no tiene obras? ¿Podrá la fe
    salvarle</i>?</p>
<p></p>
<p> 14 ¿Creen ustedes, que se salva todo el que <strong>diga</strong> que cree en Cristo, aunque no acompañen a esa
    persona que <strong>dice</strong> creer, las obras características de los que tienen fe en Jesús.</p>
<p></p>
<p> 15-16 <i>Y si el hermano o la hermana están desnudos, y tienen necesidad del mantenimiento de cada día, y alguno de
    vosotros les dice: Id en paz, calentaos y hartaos; pero no les diereis las cosas que son necesarias para el cuerpo,
    ¿qué aprovechará?</i></p>
<p></p>
<p> 15-16 ¿Creen ustedes en la sinceridad de los deseos del que ve a su hermano pasando hambre y frío, y le dice: "ojalá
    que comas y te abrigues", pero no le da nada para comer o abrigarse pudiendo hacerlo?</p>
<p></p>
<p> 17 <i>Así también la fe, si no tuviere obras, es muerta en sí misma.</i></p>
<p></p>
<p> 17 Pues de la misma manera, el que dice tener fe, pero esa fe no provoca en él las obras correspondientes, es porque
    no tiene más fe que la de creer, como quien cree que el sol sale todos los días; es una fe muerta.</p>
<p></p>
<p> 18 <i>Pero alguno dirá: Tú tienes fe, y yo tengo obras; muéstrame tu fe sin tus obras, y <strong>yo te mostraré mi
    fe por mis obras</strong>.</i></p>
<p></p>
<p> 18 <strong>Tú dices tener fe; y yo no ando proclamando mi fe, sino que muestro mis obras</strong>. Sin mostrarme las
    obras que corresponden a esa fe que <strong>dices</strong> tener, tú no me puedes demostrar la fe que proclamas
    tener; sin embargo, <strong>al mostrarte mis obras, yo te demuestro la fe que tengo</strong>, sin formar tanta
    alharaca.</p>
<p></p>
<p> 19 <strong>Tú crees que Dios</strong> <i>es uno; bien haces, también <strong>los demonios creen</strong>, y
    tiemblan.</i></p>
<p></p>
<p> 19 Eso de creer..... y punto, no es nada nuevo ni loable; <strong>en esa forma también creen los demonios</strong>.
</p>
<p></p>
<p> 20-23 <i>¿Mas quieres saber, hombre vano, que la fe sin obras es muerta? 21 ¿No fue justificado por las obras
    Abraham nuestro padre, cuando ofreció a su hijo Isaac sobre el altar? 22 <strong>¿No ves que la fe obró con sus
        obras</strong>, y que la fe fue perfecta por las obras? 23 Y fue cumplida la Escritura que dice: Abraham creyó a
    Dios, y le fue imputado a justicia, y fue llamado amigo de Dios.</i></p>
<p></p>
<p> 20-23 Si quieres comprobar que <strong>tu manera de creer</strong>, en abstracto, <strong>es vana</strong>, analiza
    cómo los grandes de la fe, entre ellos Abraham, demostraron que tenían fe, obrando en consecuencia; no con el
    socorrido bla, bla, bla de sentarse a "creer con fuerza". La fe de Abraham lo movió a ofrecer a su hijo <strong>sabiendo
        por seguro que Dios se lo iba ha devolver sano y salvo, para cumplir aquello que Dios le había
        prometido.</strong> Por eso le fue contado a justicia y fue llamado amigo de Dios.</p>
<p></p>
<p><i>24 Vosotros veis, pues, que el hombre es justificado por las obras, y no solamente por la fe.</i></p>
<p></p>
<p> 24 Como ustedes ven, es cierto que <strong>el humano es justificado por la fe; pero la verdadera fe, la que produce
    obras que él puede mostrar</strong>; no por su charlatanería en la que asegura que tiene una fe impresionante.</p>
<p></p>
<p> 25 <i>Asimismo también Rahab la ramera, ¿no fue justificada por obras, cuando recibió los mensajeros, y los echó
    fuera por otro camino</i>?</p>
<p></p>
<p> 25 El caso de Rahab es parecido. Ella no se sentó a tener mucha fe; la fe que tenía en la victoria del pueblo de
    Dios, la hizo ponerse activamente de parte de ellos, a riesgo de ser descubierta y ejecutada. Si ella sólo se
    hubiera sentado a "creer con fuerza", y a simpatizar pasivamente con los israelitas, sin hacer ninguna obra, la
    hubieran destruido junto con la ciudad.</p>
<p></p>
<p>26 <i>Porque como el cuerpo sin espíritu está muerto, así también la fe sin obras es muerta.</i></p>
<p></p>
<p>26 Igualmente que un cuerpo sin espíritu, a pesar de seguir siendo una "persona", no podemos decir que lo es, ( por
    estar muerta), así también esa fe que muchos tienen, pero que no provoca obras, es una fe que no podemos llamarle
    tal, porque está muerta."</p>
<p><strong>Como vemos, Santiago no está cambiando los fundamentos de la fe ni de la salvación</strong>, ni cosa que se
    le parezca. Lo que está haciendo es aclarando cuáles de todas esas "fe" que se anuncian a voz en grito en el mercado
    de la religión, son falsas.</p>
<p> He visto en algunas casas una chimenea simulada, en la que hay leña simulada y una casi perfecta simulación de
    fuego, lo cual se logra por medio de efectos lumínicos muy ingeniosos. Me cautiva el ver cómo ese falso fuego parece
    ascender de aquella falsa leña, para luego comprobar que no existe. El aspecto de ese fuego es muy parecido al
    verdadero, pero... no da calor. Así es la fe de algunos; creen "con mucha fuerza" ... pero no hay calor, no hay
    obras; es sólo apariencia.</p>
<p><strong>Esa es la lección que nos enseña el gran Santiago: la fe sin obras es falsa; la fe sin obras es
    muerta.</strong> La fe se muestra por las obras. <strong>Eso no quiere decir que haga falta fe mas obras para
    salvarse</strong>. Lo que eso quiere decir es que la fe no se ve, no se oye, no se huele, las obras son las que la
    manifiestan. Si no hay obras a la vista, no hay fe debajo, al igual que si no hay calor arriba es porque no hay
    fuego debajo.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>