
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La fidelidad en la adversidad y la felicidad</title>
</head>
<body>
<p><strong>La fidelidad en la adversidad y la felicidad</strong></p>
<p> Es fácil para cualquiera serle fiel a quien le colma de beneficios y protección<strong>.</strong> Esa fue
    incluso<strong>,</strong> la razón que alegó Satanás para explicar<strong>,</strong> a su manera<strong>,</strong>
    la fidelidad de Job (Job 1<strong>:</strong>9-11)<strong>.</strong> Sin embargo<strong>,</strong> requiere fidelidad
    grande el obedecer a Dios cuando ello nos trae contratiempos<strong>,</strong> injusticias y hasta amarguras<strong>.</strong>
</p>
<p> Tanto Job como José<strong>,</strong> el hijo de Jacob<strong>,</strong> eran de esos que son fieles aunque la
    fidelidad les acarree amarguras inexplicables<strong>.</strong> En el caso particular de José es de notarse como
    <strong>Satanás trató de anular la futura preservación de los hijos de Jacob, que Dios iba a traer a Egipto,
        mediante el sencillo expediente de invalidar moralmente la pieza clave que Dios iba a utilizar: José.</strong>
</p>
<p></p>
<p><strong>"</strong>7 <i>Y aconteció después de esto<strong>,</strong> que la mujer de su señor puso sus ojos en
    José<strong>,</strong> y dijo<strong>:</strong> Duerme conmigo<strong>.</strong></i> 8 <i>Y él no
    quiso<strong>,</strong> y dijo a la mujer de su señor<strong>:</strong> <strong>He aquí que mi señor no sabe conmigo
        lo que hay en casa, y ha puesto en mi mano todo lo que tiene.</strong></i> <i>9</i> <i>No hay otro mayor que yo
    en esta casa<strong>,</strong> y ninguna cosa me ha reservado sino a ti<strong>,</strong> por cuanto tú eres su
    mujer<strong>;</strong> <strong>¿cómo, pues, haría yo este grande mal y pecaría contra
        Dios?</strong></i><strong>"</strong> (Gn 39<strong>:</strong>7-9)</p>
<p> Por ser José fiel a Dios<strong>,</strong> sufrió la calumnia de la esposa del capitán de la
    guardia<strong>,</strong> por lo cual fue a parar a la cárcel<strong>.</strong> Pero aún en prisión Dios lo bendijo
    y fue el supervisor de los presos<strong>.</strong> Además<strong>,</strong> de allí salió a disfrutar de la
    felicidad de ser el jefe de todo Egipto<strong>,</strong> superado únicamente por faraón<strong>.</strong> Y sobre
    todo<strong>,</strong> que es lo más importante<strong>,</strong> la felicidad de saber que Dios lo utilizó para
    salvar a su familia y al pueblo que había de traer al Mesías<strong>.</strong></p>
<p> Tal vez<strong>,</strong> antes de que un hombre reciba una gran comisión o encargo divino<strong>,</strong> Satanás<strong>,</strong>
    al sospechar o enterarse de los planes de Dios con esa persona<strong>,</strong> trate de zarandarlo como a
    trigo<strong>,</strong> como hizo con los apóstoles<strong>,</strong> según Lc
    22<strong>:</strong>31<strong>.</strong> De lo allí dicho se infiere que este abominable ser pidió intervenir más
    directamente en la vida de los apóstoles para causarles amarguras<strong>.</strong> Es de pensarse que hoy en día él
    o sus secuaces espirituales hagan lo mismo directamente<strong>,</strong> o a través de seres humanos que les son
    moldeables<strong>.</strong></p>
<p> En épocas anteriores a la crucifixión<strong>,</strong> como que estos seres abominables tenían acceso directo a
    Dios<strong>,</strong> le pedían permiso<strong>,</strong> pues no podían hacer nada de su propio
    intento<strong>.</strong> Hoy en día<strong>,</strong> como que fueron echados del Cielo y no tienen acceso directo
    a Dios<strong>,</strong> solamente pueden utilizar el derecho implícito otorgado a toda criatura<strong>,</strong>
    desde épocas anteriores<strong>,</strong> que es el de proponerle su idea a los demás<strong>.</strong> Ellos no
    pueden propasarse de las leyes que Dios establece en cuanto a la tentación de las criaturas<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>