
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Deluge was not local but Universal</title>
</head>
<body>
<p><strong>THE DELUGE WAS NOT LOCAL BUT UNIVERSAL</strong></p>
<p><strong>There are some Bible believers</strong> that have erroneous hypothesis that the Deluge was a local or
    regional phenomenon and not universal. That hypothesis does not make sense<strong>,</strong> for the passage that I
    show a few lines down clearly states that <strong>the waters prevailed over the land 150 days. If the Deluge had
        been a local flood the waters would have run into the ocean in less than 150 days,</strong> and under no
    circumstance would have reached a height of 15 cubits (7.5 meters) above the mountains. Also<strong>,</strong>
    <strong>if there had been other mountains not covered by water, people would have gone to them</strong> to save
    themselves<strong>,</strong> and Noah's family would not have been the only one to have survived<strong>,</strong>
    but many more.</p>
<p> Similarly<strong>,</strong> there has been and continue to be multiple local floods<strong>,</strong> that is to say<strong>,</strong>
    local deluges. <strong>If that one had been a local flood, then God would not have promised there would be no more
        floods (local),</strong> because there has been. It is logical to think that God promised that there would be no
    more Deluges<strong>,</strong> because what He referred to was a universal Deluge that<strong>,</strong> effectively<strong>,</strong>
    there has never been. God promised that he would never again destroy all flesh with flood waters and established the
    rainbow as a sign. If the Deluge had been local<strong>,</strong> and not universal<strong>,</strong> then that
    divine promise made in Genesis 9<strong>:</strong>11 would not have been kept<strong>,</strong> for there has been
    many local floods and deluges.</p>
<p></p>
<p><strong>"</strong><i>And the waters prevailed upon the earth <strong>an hundred and fífty
    days</strong></i>.<strong>"</strong> (Gn 7<strong>:</strong>24)</p>
<p></p>
<p></p>
<p><strong>"</strong><i>And I will establish my covenant with you<strong>;</strong> <strong>neither shall all flesh be
    cut off anymore by the waters of a flood;</strong> neither shall there anymore be a flood to destroy the
    earth</i>.<strong>"</strong></p>
<p> (Gn 9<strong>:</strong>11)</p>
<p></p>
<p> Besides<strong>,</strong> it is logical to think that in the beginning of Creation<strong>,</strong> when human
    beings lived more than 900 years<strong>,</strong> the multiplication of man was such that the inhabitants of the
    planet were counted in thousands of millions. Nowadays we have six thousand million of inhabitants on the
    planet<strong>,</strong> or possibly more. To get such affirmation over the tremendous multiplication of man in the
    beginning of Creation<strong>,</strong> see article #32<strong>,</strong> of this same series<strong>,</strong>
    titled<strong>:</strong> <strong>"</strong>Who could Have Killed Cain<strong>?"</strong> It is also reasonable to
    think<strong>,</strong> being so many millions<strong>;</strong> man would inhabit the entire planet.
    Therefore<strong>,</strong> if the Deluge had not been universal<strong>,</strong> hundreds of millions would have
    survived. However in the time of Abraham the population was scarce<strong>,</strong> and in the time of the Roman
    Empire the population was much smaller than today<strong>,</strong> for the knowledgeable in demographics estimate
    that the Roman Empire did not reach 100 million. From there it is deduced that there did not remain those hundreds
    of millions that there would have remained if the Deluge had not been universal.</p>
<p> Besides<strong>,</strong> <strong>after de Deluge, God said that He would not end all flesh with flood waters
    anymore, which indicates that all flesh ended</strong>. And if all flesh ended<strong>,</strong> the Deluge have had
    gone to every place there was people<strong>,</strong> and there was people all over Earth<strong>,</strong> because
    thousands of millions cannot concentrate in one region.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>