---
import Layout from "../layout/Layout.astro";
---

<Layout title="Quiénes nos obstaculizan y cómo les damos lugar">
    <section>
<p><strong>DINÁMICA CELESTIAL</strong></p>
<p><strong>Quiénes nos obstaculizan, y cómo les damos lugar</strong></p>
<p> Los cristianos no tenemos una simple lucha contra sangre y carne, es decir contra seres humanos y sus fuerzas.
    Nuestra verdadera lucha es contra seres de otra índole; seres que tienen el tenebroso principado de ciertas
    influencias que se mueven en el mundo; seres que tienen potestad de influir, por seducción, sobre los hombres que
    gobiernan este planeta, y a través de éstos, en esos gobiernos, contra nosotros. Seres que nos tientan
    constantemente poniéndonos algunas veces en la mente ideas malignas que tenemos que desechar.</p>
<p></p>
<p>"<i>Porque no tenemos lucha contra sangre y carne; <strong>sino contra principados, contra potestades, contra señores
    del mundo, gobernadores de estas tinieblas, contra malicias espirituales en los aires</strong></i>." (Ef 6:12)</p>
<p> Efectivamente, no luchamos solamente contra lo que vemos, contra los humanos que se nos oponen o que nos dañan. En
    otra dimensión diferente de aquella en que nosotros nos desenvolvemos, habitan seres espirituales llamados ángeles;
    tanto los que han seguido fieles a Dios, como los que se han rebelado contra Él. A estos que se han rebelado en la
    Biblia se les llama demonios.</p>
<p> A nosotros nos atacan espiritualmente esos otros seres rebeldes, (demonios). Ellos no pueden hacerle daño a Dios,
    pero se contentan con hacerlo sufrir haciéndole daño a sus criaturas. Con los seres humanos que no se han convertido
    al Señor aún, o nunca se han de convertir, para qué gastar ellos (los demonios) el tiempo. A uno que aún no
    pertenece a Dios y que ellos no saben si ha de convertirse a Él algún día, no tienen un porqué trabajarlo tanto,
    <strong>como al que ya se les escapó de las manos, como al que, por representar a Dios, sería para ellos un gusto
        hacerlo errar</strong>.</p>
<p> Por eso, por tener mayor y más tenaz oposición de mayor número de enemigos, es por lo que el cristiano necesita orar
    sin cesar, como dice I Tes 5:17. El cristiano tiene que exponer cada asunto suyo a Dios, para darle así derecho a Él
    a intervenir en el asunto.</p>
<p><strong>Si un inconverso quiere poner un bar o un prostíbulo</strong>, no va a encontrar más dificultades que las
    humanas: las que se deriven de las leyes u ordenanzas con que la sociedad regule esas cosas en esa ciudad, y las que
    se deriven de la oposición de los humanos que se opongan; si es que alguno se opone.</p>
<p><strong>Pero si un cristiano quiere abrir una iglesia</strong>, va a encontrar tanto dificultades humanas como
    demoníacas. No sólo va a tener las dificultades que se deriven de las leyes y ordenanzas que regulen tales cosas en
    esa sociedad, sino que va a encontrar la humana oposición de aquellos humanos que no gustan de tales cosas. Con la
    particularidad de que esa oposición humana va a ser exacerbada por la agitación de alma que los enemigos
    espirituales provocan en esos que se oponen. No sólo en los que se oponen, sino también en otros a quienes no les
    hubiera interesado oponerse, pero que ahora son agitados en sus espíritus. Encontrarán, ¡asómbrense!, hasta la
    oposición de otros cristianos cuyos celos, envidias, intereses, bajezas, errores, etc., son aprovechados por el
    enemigo espiritual para ponerlos, inexplicablemente, al rojo vivo.</p>
<p> Si ese tipo de obras no fueran de Dios, a veces no podrían sobrepasar las dificultades. Por eso es que hay que orar:
    para permitirle a Dios intervenir en favor de esa obra. Por eso tenemos que estar seguros, antes de acometerla, de
    que es una obra de Dios. Por eso hay que tener paciencia; porque una obra que podríamos creer que es de Dios, no lo
    es ahora, sino más adelante.... y hay que esperar; porque si lo haces y te esfuerzas (II Cr 25:8), fracasarás.
    <strong>Por eso hay que obedecer todos los mandamientos de Dios, para ponernos a tono con las cosas del Cielo, para
        sincronizarnos, para coordinarnos con lo que se hace en las esferas celestiales, donde las cosas se planifican
        con perfección, pero contando con que nosotros vamos a obrar de acuerdo a todos los lineamentos dados por
        Dios</strong>. Mientras más nos apartemos con nuestras obras de tal presuposición, tanto menos puede aplicarse
    en nosotros el plan preconcebido en las esferas celestiales.</p>
<p><strong>Supongamos que Dios deseaba que viviéramos en un barrio pobre</strong>, donde había una casa que nosotros
    podríamos comprar, la cual estaba situada en el lugar idóneo para influir con el evangelio en aquellas personas que
    Dios sabía que convenía que se les hablase, para convertirse.</p>
<p> Pero por otro lado, nosotros deseamos una casa mejor que está en otro lugar, donde no hay gente receptiva al
    evangelio. A Dios no le parece mal nuestro legítimo deseo de vivir mejor, pero sabe que los requisitos para que nos
    den el crédito, no los vamos a llenar para esta casa mejor, y sí para la otra. Por lo tanto Él nos va a responder la
    oración que tanto le hemos puesto delante, respecto a que queremos hablarle a muchos sobre el evangelio.</p>
<p><strong>Si nosotros hacemos las cosas como Dios nos ordena en sus mandamientos, la oración aquella de que nos dé un
    lugar donde predicar fructíferamente el evangelio, encontrará respuesta, pero si nos dejamos tentar por el mal, se
    malogrará. ¿Cómo?</strong></p>
<p> Nos gusta la segunda casa, lo cual es justo, y por lo cual nada nos sucede; pero a la hora de responder a las
    preguntas de la planilla de crédito, decimos un par de mentirillas "que no tienen importancia", con objeto de
    hacerle creer al banco que calificamos para la compra de la segunda casa y, .....¡zas! ¡Nos salimos con la nuestra!
    ¡Nos aprobaron el crédito! ¡Podemos comprar la segunda casa!</p>
<p> Le damos gracias a Dios por lo que nosotros creemos que es "su bendición" y ocupamos nuestro nuevo hogar esperando
    que se cumpla aquella vieja y continua petición de que nos dé Dios el hablar del evangelio a muchos y que muchos
    crean, (o cualquier otra cosa de cualquier otra índole, que hayamos pedido de Dios). Pasa el tiempo y nuestro fruto
    es escaso, magro. Entonces comentamos con nuestros hermanos de fe, pronunciamos la frase-cliché de siempre: "son
    misterios hermano". Si algo malo nos sucede en aquella vecindad entonces le echamos mano a la otra frase-cliché, más
    estúpida que la anterior: "son pruebas, hermano".</p>
<p><strong>Cuando Dios responde nuestras oraciones, se ajusta a las normas divinas; si nos apartamos de ellas, nos
    apartamos de su plan y de su bendición</strong>. Mientras peor sea el quebrantamiento de las normas divinas, mayor
    será nuestro desvío de los planes de Dios, y menor el fruto espiritual obtenido.</p>
<p> Más abajo vemos un pasaje en el que Pablo dice una parábola en la que nos enseña que hacer lo que Dios manda es
    hacer justicia, es como vestirse una cota de malla, protectora contra el enemigo, y decir la verdad, es como un
    ceñidor que nos fortalece en el combate, etc..</p>
<p></p>
<p> "<i>Por tanto, tomad toda la armadura de Dios, para que podáis resistir en el día malo, y estar firmes, habiendo
    acabado todo. Estad pues firmes, <strong>ceñidos vuestros lomos de verdad, y vestidos de la cota de
        justicia</strong></i>." (Ef 6:13-14)</p>
<p><strong>Está bien claro todo: lo que no puedas alcanzar con los limpios métodos de Dios, no lo alcances, no está en
    Sus planes; está en los planes de "otro".</strong> No te conviene, aunque al presente a ti te parezca que sí te
    conviene. Tal vez la diferencia no sea algo catastrófico ni anonadante, pero habrá diferencia; y nunca a tu favor.
</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    