---
import Layout from "../layout/Layout.astro";
---

<Layout title="Why God does not eliminate temptation">
    <section>
<p><strong>Why God does not eliminate temptation</strong></p>
<p> We have to live with Christ during the millennium and later on with God also for all eternity<strong>,</strong>
    After the millennium<strong>,</strong> Satan will be free to roam for a short time<strong>,</strong> tempting
    humanity<strong>,</strong> The actual temptation will immunize us from future temptation<strong>;</strong>
    temptation serves as education in order to strengthen our spirit<strong>,</strong> Temptations and tribulations will
    serve as an education for eternity<strong>,</strong> Temptations also serve<strong>,</strong> as with Satan and the
    demons<strong>,</strong> to shorten the period in which everyone can do all the harm he wants if he desires to do so<strong>,</strong>
    it is to say the period during which tribulation exists in creation<strong>,</strong></p>
<p> Once again this confirms my thesis that God has everything under control and nothing occurs without his
    permit<strong>,</strong></p>
<p> Satan would not be able to (nor can he) address the apostles directly to tempt them outside of the
    usual<strong>,</strong> or cause them unusual tribulations<strong>,</strong> In this specific case which we will see
    below<strong>,</strong> we become aware of an occurrence in the celestial realm<strong>,</strong> In many other
    cases<strong>,</strong> we do not have the same luck and because of that we believe that Satan can do as he wills
    when it comes to Christians<strong>,</strong> the Church<strong>,</strong> with humans or the
    planet<strong>,</strong> however<strong>,</strong> this is not so<strong>.</strong></p>
<p><strong>"</strong><i>And the Lord said<strong>,</strong> Simon<strong>,</strong> Simon<strong>,</strong>
    behold<strong>,</strong> Satan <strong>hath desired to have you, that he may sift you as
        wheat</strong></i><strong>"</strong> (Luke 22<strong>:</strong>31)</p>
<p> As we can clearly see<strong>,</strong> Satan <strong>had to ask God for permission</strong> to sift the
    Apostles<strong>,</strong> as he did so later on<strong>,</strong></p>
<p> We see this again in the case of Job<strong>;</strong> Satan could not simply shake him and his
    children<strong>,</strong> because he wanted to<strong>,</strong> There had to be a petition on the part of Satan
    and permission (with limits) on the part of God<strong>,</strong> as we see in Job 1<strong>:</strong>9-12 and
    2<strong>:</strong>4-6<strong>,</strong> Although he had God's permission in his hands<strong>,</strong> he had
    parameters within which he could act<strong>,</strong></p>
<p></p>
<p><strong>"</strong>9 <i>Then Satan answered the LORD<strong>,</strong> and said<strong>,</strong> Doth Job fear God
    for nought<strong>?</strong></i> 10 <i>Hast not thou made an hedge about him<strong>,</strong> and about his
    house<strong>,</strong> and about all that he hath on every side<strong>?</strong> thou hast blessed the work of his
    hands<strong>,</strong> and his substance is increased in the land<strong>,</strong></i> 11 <i>But put forth thine
    hand now<strong>,</strong> and touch all that he hath<strong>,</strong> and he will curse thee to thy
    face<strong>,</strong></i> 12 <i><strong>And the LORD said unto Satan, Behold, all that he hath is in thy power;
    only upon himself put not forth thine hand,</strong> So Satan went forth from the presence of the
    LORD</i><strong>,"</strong> (Job 1<strong>:</strong>9-12)</p>
<p></p>
<p><strong>"</strong>4 <i>And Satan answered the LORD<strong>,</strong> and said<strong>,</strong> Skin for skin<strong>,</strong>
    yea<strong>,</strong> all that a man hath will he give for his life<strong>,</strong></i> 5 <i>But put forth thine
    hand now<strong>,</strong> and touch his bone and his flesh<strong>,</strong> and he will curse thee to thy
    face<strong>,</strong></i> 6 <i><strong>And the LORD said unto Satan, Behold, he is in thine hand; but save his
    life</strong></i><strong>,"</strong> (Job 2<strong>:</strong>4-6)</p>
<p> This is all in concordance with I Cor 10<strong>:</strong>12-13<strong>,</strong> where we come to know that God
    does not permit us to be tempted more than we can endure<strong>,</strong> Even in the case of the personal
    temptation of each Christian<strong>,</strong> Satan and his accomplices have a parameter beyond which <strong>they
        cannot go,</strong></p>
<p> It is logical for this to be this way<strong>,</strong> due to the fact that by creation an angelic being is much
    more powerful than a human and if God allowed them to use all of their power<strong>,</strong> it is safe to say
    that there would not be one human who could resist the pressure<strong>,</strong> That is why God set limits<strong>,</strong>
    because his purpose is training humans to reject wrong<strong>,</strong> even when it is shown in beautiful
    colors<strong>,</strong> The purpose of God is not to cause a fragile and weak creature to fight against another who
    is potent and cruel<strong>,</strong> in order to contemplate how in the fight<strong>,</strong> the weaker of the
    two is destroyed<strong>,</strong></p>
<p> In this way<strong>,</strong> a human being<strong>,</strong> that can point out in himself the strength of evil and
    of the tempter<strong>,</strong> <strong>will learn, on his own, to turn to God for help in such an uneven
        battle,</strong> This assures his future and eternal existence<strong>,</strong> because he learned from his own
    experience to appeal to He who can do it all<strong>,</strong> when he is inclined to do his own will or wants to do
    that which God hates<strong>,</strong></p>
<p> Now again we verify that God make use of the bad actions of his creatures to benefit creation<strong>,</strong> And
    so we confirm that in all things God works for the good of those who love him<strong>,</strong> who have been called
    according to his purpose as we see in Romans 8<strong>:</strong>28<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    