
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>God Rewards and punishes now</title>
</head>
<body>
<p><strong>GOD REWARDS AND PUNISHES NOW</strong></p>
<p><strong>In my opinion everything we do has a consequence; either good or bad.</strong> There are some who believe
    that once saved by Jesus Christ<strong>,</strong> grace will prevent all punishment<strong>.</strong> The most they
    will admit is that God rebukes us as a pedagogic method not as a penalty<strong>.</strong> I understand that He uses
    both<strong>,</strong> sometimes one<strong>,</strong> others the other<strong>,</strong> and on occasion both at
    the same time<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Knowing that <strong>whatsoever good thing any man doeth, the same shall he receive of the
    Lord,</strong> whether he be bond or free</i><strong>."</strong> (Ephesians 6<strong>:</strong>8)</p>
<p> In this passage we at least see that whatever good one does he will receive it from the Lord<strong>,</strong>
    whoever he is<strong>.</strong> In Galatians 6<strong>:</strong>7 we see that all that a man sows<strong>,</strong>
    he will also reap<strong>.</strong> In this case it refers to the good as to the bad<strong>.</strong> And <strong>this
        is said after the crucifixion; that is, that even after the sacrifice of Jesus it continued to be
        effective.</strong></p>
<p></p>
<p><strong>"</strong><i>Be not deceived<strong>;</strong> God is not mocked<strong>:</strong> for <strong>whatsoever a
    man soweth, that shall he also reap</strong></i><strong>."</strong> (Galatians 6<strong>:</strong>7)</p>
<p> In I Corinthians 11<strong>:</strong>29-32 we see that in consequence for the sins of some
    Christians<strong>,</strong> they found themselves ill and some had even died (30)<strong>.</strong> In verse 31 it
    says if we were to examine ourselves to not commit that sin<strong>,</strong> we would not be
    judged<strong>,</strong> but being judged (32) <strong>we are punished.</strong></p>
<p><strong>"</strong>29 <i>For he that eateth and drinketh unworthily<strong>,</strong> eateth and drinketh damnation to
    himself<strong>,</strong> not discerning the Lord's body<strong>.</strong></i> 30 <strong>For this cause many are
    weak and sickly among you, and many sleep.</strong> 31 <i>For if we would judge ourselves<strong>,</strong> we
    should not be judged<strong>.</strong> 32 But when we are judged<strong>,</strong> <strong>we are chastened</strong>
    of the Lord<strong>,</strong> that we should not be condemned with the world</i><strong>."</strong> (I Corinthians
    11<strong>:</strong>29-32)</p>
<p><strong> If the rebuke were only pedagogic,</strong> it would not have to be preceded by the
    judgment<strong>.</strong> If it is preceded by a judgment it is because it is something punitive<strong>.</strong>
</p>
<p> Afterwards<strong>,</strong> it seems to make reference as to why <strong>we need to be punished here and
    now:</strong> to not be condemned with the world<strong>.</strong> As the world will be condemned in the other
    life<strong>,</strong> it is evident that Paul wants to say that we are charged here so that our <strong>"</strong>bill<strong>"</strong>
    does pass to <strong>"</strong>there<strong>".</strong> Or that is to say<strong>,</strong> <strong>that we are
        punitively rebuked and not only pedagogically.</strong> The bad things the Christian does after his
    conversion<strong>,</strong> he will pay here<strong>;</strong> and they will be charged by
    justice<strong>,</strong> not only by pedagogy<strong>.</strong> <strong>Sin has present and eternal
        consequences.</strong> Christ died for the eternal<strong>,</strong> but the present consequences still reach us<strong>.</strong>
</p>
<p>You may believe that since you converted you are immune to electricity<strong>,</strong> and you may have much faith
    in it and <strong>"</strong>strongly believe it<strong>,"</strong> but as soon as you touch it will realize your
    mistake<strong>.</strong> Of course<strong>,</strong> you can persist to say that what you felt was not
    electricity<strong>;</strong> but that would not change reality<strong>.</strong> Also like this when you suffer
    God's punishments<strong>,</strong> you can persist to say that that is not a punishment<strong>;</strong> but that
    would not change reality<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>