
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>What does "Ye have heard that it hath been said" mean?</title>
</head>
<body>
<p><strong>What does "Ye have heard that it hath been said" mean?</strong></p>
<p> In Matthew 5<strong>:</strong>21 & 33 we see the expression <strong>"Ye have heard that it hath been said"</strong>
    and many brothers take this to mean<strong>,</strong> <strong>"you heard God ordered through the law".</strong> That
    is why many get the wrong idea that <strong>"before",</strong> God said something to the Jews<strong>,</strong> but
    <strong>"now"</strong> he changed his mind and tells Christians the opposite<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>As saith <strong>the proverb of the ancients,</strong> Wickedness proceedeth from the
    wicked<strong>;</strong> but mine hand shall not be upon thee</i><strong>".</strong> (I Sam 24<strong>:</strong>13)
</p>
<p><strong>Here in Samuel we see the same expression,</strong> which clearly refers precisely to that<strong>,</strong>
    <strong>"</strong>someone<strong>",</strong> and not to God's law<strong>.</strong> From that error of appreciation
    comes the idea<strong>,</strong> in part<strong>,</strong> that the doctrine that God took for
    good<strong>,</strong> <strong>"before"</strong> is not good <strong>"now".</strong></p>
<p> Equally<strong>,</strong> when in Matthew 5<strong>:</strong>43 Jesus said<strong>,</strong> <strong>"</strong>Ye
    have heard that it hath been said…<strong>",</strong> it means just that<strong>,</strong> <strong>"</strong>has
    been said<strong>".</strong> It means that someone before that time<strong>,</strong> said such
    things<strong>,</strong> it doesn't mean that God said such thing in the law<strong>.</strong></p>
<p><strong>In the verse we just mentioned, Jesus said that "it was said" you should hate your enemy.</strong> In my
    opinion Jesus is referring to some old saying or a proverb from Jewish <strong>tradition,</strong> which <strong>for
        sure</strong> had no scriptural basis<strong>.</strong> I say that<strong>,</strong> because Jesus didn't say
    that God said it<strong>,</strong> but that <strong>"</strong>it was said<strong>",</strong> just like
    that<strong>.</strong> Besides<strong>,</strong> there is <strong>no verse whatsoever in the Old Testament that says
        such a thing.</strong> The closest one is Deuteronomy 23<strong>:</strong>6<strong>,</strong> which doesn't say
    to hate them<strong>,</strong> but it refers only to the Ammonites and the Moabites<strong>,</strong> as we will see
    later<strong>.</strong></p>
<p><strong>Besides, the spirit of the Scriptures in the Old Testament is always the opposite.</strong> Always one of
    loving your neighbor<strong>,</strong> both<strong>,</strong> the national<strong>,</strong> the
    foreign<strong>,</strong> our friends<strong>,</strong> and our enemies<strong>,</strong> as we can see in Exodus 22<strong>:</strong>21<strong>;</strong>
    23<strong>:</strong>4<strong>,</strong> 5 and 9<strong>;</strong> and Leviticus
    19<strong>:</strong>17-18<strong>.</strong> Let's see<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Ye have heard that it hath been said<strong>,</strong> Thou shalt love thy
    neighbour<strong>,</strong> and <strong>hate thine enemy</strong></i><strong>".</strong> (Mt 5<strong>:</strong>43)
</p>
<p></p>
<p></p>
<p><strong>"</strong>3 <strong>An Ammonite or Moabite shall not enter into the congregation of the LORD;</strong> <i>even
    to their tenth generation shall they not enter into the congregation of the LORD for ever… 6 <strong>Thou shalt not
        seek their peace nor their prosperity all thy days for ever</strong></i><strong>".</strong> (Dt
    23<strong>:</strong>3-6)</p>
<p></p>
<p></p>
<p><strong>"<i>Thou shalt neither vex a stranger, nor oppress him,</i></strong> <i>for ye were strangers in the land of
    Egypt</i><strong>"</strong> (Ex 22<strong>:</strong>21)</p>
<p></p>
<p></p>
<p><strong>"</strong>4 <i>If thou meet <strong>thine enemy's ox or his ass going astray, thou shalt surely bring it back
    to him again. 5 If thou see the ass of him that hateth thee lying under his burden, and wouldest forbear to help
    him, thou shalt surely help with him</strong></i><strong>".</strong> (Ex 23<strong>:</strong>4-5)</p>
<p></p>
<p></p>
<p><strong>"</strong><i>Also <strong>thou shalt not oppress a stranger,</strong> for ye know the heart of a
    stranger<strong>,</strong> seeing ye were strangers in the land of Egypt</i><strong>".</strong> (Ex
    23<strong>:</strong>9)</p>
<p></p>
<p></p>
<p><strong>"</strong>17 <strong>Thou shalt not hate</strong> <i>thy brother in thine heart<strong>;</strong> thou shalt
    in any wise rebuke thy neighbour<strong>,</strong> and not suffer sin upon him<strong>.</strong> 18 <strong>Thou
        shalt not avenge, nor bear any grudge</strong> against the children of thy people<strong>,</strong> but thou
    shalt love thy neighbour as thyself<strong>:</strong> I am the LORD</i><strong>".</strong> (Lev 19<strong>:</strong>17-18)
</p>
<p></p>
<p> As we saw in these passages<strong>,</strong> what God's law said was very different than what the ancients
    said<strong>.</strong> Who knows who were the ones who said such things<strong>,</strong> maybe proverb
    writers<strong>.</strong></p>
<p> In my opinion<strong>,</strong> what happened in the case of the twisting that the Jews did in the time of Christ is
    that<strong>,</strong> as always<strong>,</strong> on one hand<strong>,</strong> the people<strong>,</strong> due to
    their wrongful intentions<strong>,</strong> and on the other<strong>,</strong> <strong>the religious clicks, because
        of their own interests, deform and adapt the interpretation of the Scriptures, and in some cases the Scriptures
        themselves.</strong></p>
<p> It is something similar to what happens today with Catholics and the Ten Commandments<strong>,</strong> in which
    even that one of them specifically talks against idolatry<strong>,</strong> they can't see it in spite of its
    clarity<strong>.</strong> Or in the case of Protestants with God's law in general<strong>,</strong> but particularly
    with the Sabbath<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>