---
import Layout from "../layout/Layout.astro";
---

<Layout title="How to Interpret Parables">
    <section>
<p></p>
<p>How to interpret parables<strong>.</strong> The tares</p>
<p> It is my opinion that parables serve to clarify<strong>,</strong> in a general form<strong>,</strong> one sole issue<strong>,</strong>
    and therefore<strong>,</strong> they cannot be scrutinized in detail in order to attribute a revealing significance
    to each facet of a parable<strong>,</strong> simile or vision<strong>.</strong> A good example of this is the
    parable of tares<strong>.</strong> To my way of thinking<strong>,</strong> this parable is only teaching that God
    for some reason allows the believers to coexist with the lost for a time<strong>,</strong> but that
    later<strong>,</strong> when the appropriate moment approaches<strong>,</strong> He will separate the ones from the
    others<strong>,</strong> throwing the reprobates to Hell<strong>.</strong></p>
<p> However<strong>,</strong> if we begin to rummage around each fact of a parable<strong>,</strong> in each
    word<strong>,</strong> in each image<strong>,</strong> we would arrive at the most contradictory conclusions<strong>.</strong>
    That is why my way of analyzing the parables is in a general form<strong>,</strong> for one sole
    teaching<strong>.</strong> <strong>Let's see what happens when we decide to take each detail of the parable of the
        tares, as if it were something revealing.</strong></p>
<p></p>
<p><strong>"</strong>24 Another parable put he forth unto them<strong>,</strong> saying<strong>:</strong> The kingdom of
    heaven is likened unto a man which sowed good seed in his field<strong>.</strong> 25 <strong>But while men
        slept,</strong> his enemy <strong>came and sowed tares</strong> among the wheat<strong>,</strong> and went his
    way<strong>.</strong> 26 But when the blade was sprung up<strong>,</strong> and brought forth
    fruit<strong>,</strong> then appeared the tares also<strong>.</strong> 27 So the servants of the householder came
    and said unto him<strong>:</strong> Sir<strong>,</strong> didst not thou sow good seed in thy
    field<strong>?</strong> From whence then hath it tares<strong>?</strong> 28 He said unto them<strong>:</strong> An
    enemy hath done this<strong>.</strong> The servants said unto him<strong>:</strong> Wilt thou then that we go and
    gather them up<strong>?</strong> 29 But he said<strong>:</strong> Nay<strong>;</strong> lest while ye gather up the
    tares<strong>,</strong> ye root up also the wheat with them<strong>.</strong> 30 Let both grow together until the
    harvest<strong>;</strong> and in the time of harvest I will say to the reapers<strong>:</strong> Gather ye together
    first <strong>the tares,</strong> and bind them in bundles to burn them<strong>;</strong> but gather the wheat into
    my barn<strong>."</strong> (Matthew 13<strong>:</strong>24-30)</p>
<p></p>
<p><strong>"</strong>36 Then Jesus sent the multitude away<strong>,</strong> and went into the house<strong>,</strong>
    and his disciples came unto him<strong>,</strong> saying<strong>:</strong> <strong>Declare unto</strong> <strong>us
        the parable of the tares of the field.</strong> 37 He answered and said unto them<strong>:</strong> He that
    soweth the good seed is the Son of man<strong>;</strong> 38 the field is the world<strong>;</strong> the good seed
    are the children of the kingdom<strong>;</strong> but the tares are the children of the wicked one<strong>;</strong>
    39 the enemy that sowed them is the Devil<strong>;</strong> the harvest is the end of the world<strong>;</strong>
    and the reapers are the angels<strong>.</strong> 40 As therefore the tares are gathered and burned in the
    fire<strong>;</strong> so shall it be in the end of this world<strong>.</strong> 41 The Son of man shall send forth
    his angels<strong>,</strong> and they shall gather out of his kingdom all things that offend<strong>,</strong> and
    them which do iniquity<strong>;</strong> 42 and shall cast them into a furnace of fire<strong>;</strong> there shall
    be wailing and gnashing of teeth<strong>.</strong> 43 Then shall the righteous shine forth as the sun in the kingdom
    of their Father<strong>.</strong> Who hath ears to hear<strong>,</strong> let him hear<strong>."</strong> (Matthew
    13<strong>:</strong>36-43)</p>
<p></p>
<p> If we take each detail as something revealing<strong>,</strong> the first thing that would come to mind is that
    according to verses 25 and 39<strong>,</strong> the Devil had the power to create bad people and place them on Earth<strong>,</strong>
    which is <strong>absolutely absurd.</strong> Satan can tempt the people that God created<strong>,</strong> suggest
    to them to depart from the things of God<strong>,</strong> but he cannot create bad people in order to mix them in
    with the ones God created<strong>.</strong></p>
<p> The second thing we would have to think according to verse 25 is that the angels that look after the Earth fell
    asleep and did not see Satan when he was bringing the bad ones he created<strong>.</strong> This is also
    absurd<strong>,</strong> because even if the angels would have been careless<strong>,</strong> God was not going to
    be careless<strong>.</strong></p>
<p> The third thing is that according to verse 30<strong>,</strong> we would have to think that the ingathering or
    rapture would be not to take the Christians<strong>,</strong> but to first take the bad ones<strong>.</strong>
    Following in this erroneous manner of interpretation<strong>,</strong> we would have to think that the good ones
    remain on Earth<strong>,</strong> which already is a Kingdom<strong>,</strong> according to verse
    43<strong>.</strong> Upon saying in verse 41 <strong>"</strong>they shall gather out of his kingdom all things that
    offend<strong>....."</strong> it would make us think that Jesus already considered the world as his Kingdom when the
    <strong>"</strong>tares<strong>"</strong> are gathered<strong>.</strong> And that instead of taking us outside of
    this world<strong>,</strong> it would be the enemies that would be taken away<strong>.</strong> Verses 40 to 43
    specifically clarifies that at the end of the world<strong>,</strong> the reprobates would be collected and the
    believers would remain in the Kingdom<strong>.</strong></p>
<p> Is this what this parable is attempting to teach us<strong>?</strong> No<strong>;</strong> the only thing that is to
    be taught with this parable is that the ones who love God and the ones that hate Him are going to coexist for a long
    time and will later be separated<strong>.</strong> No other teaching can be gathered from that
    parable<strong>.</strong> As I already said<strong>,</strong> I don't believe that every facet of a
    parable<strong>,</strong> vision or simile that has been used in a complete and general form<strong>,</strong>
    should be taken in order to conclude details which does not appear to have been the goal or intention of that
    parable<strong>,</strong> vision or simile<strong>.</strong></p>
<p> That foolishness of taking parables apart detail by detail is evident in the case of the disloyal
    butler<strong>,</strong> the one about the widow and the unjust judge<strong>,</strong> the one about the friend in
    the middle of the night<strong>,</strong> and others<strong>.</strong> If we were to take them detail by
    detail<strong>,</strong> its teachings would be contradictory to the gospel<strong>.</strong> In the
    first<strong>,</strong> it would justify the bad behavior of the disloyal servant<strong>;</strong> in the second we
    would come to the conclusion that if we bother God with our petitions<strong>,</strong> in the same manner as the
    widow did with the unjust judge<strong>,</strong> God would respond<strong>,</strong> not because He love us<strong>,</strong>
    but so that we do not bother him any more<strong>;</strong> and in the third we would teach again that God grants
    our petitions so that we don't bother Him anymore<strong>.</strong> We will see more of it later<strong>.</strong>
</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
<p></p>
<p></p>

    </section>
</Layout>
    