---
import Layout from "../layout/Layout.astro";
---

<Layout title="If God knows all why do we have to pray">
    <section>
<p></p>
<p></p>
<p></p>
<p><strong>If God knows all, why do we have to pray?</strong></p>
<p></p>
<p> Many times Christian thinks that if God is omniscient<strong>,</strong> that he knows everything<strong>,</strong>
    then why pray if He knows what we need<strong>?</strong></p>
<p> We can also ask: what is the reason for our prayer, if anyway, in the words of Our Lord Jesus Christ, God knows
    everything we need before we ask? </p>
<p></p>
<p></p>
<p>"7 <i>But when ye pray</i><i>,</i> <i>use not vain repetitions</i><i>,</i> <i>as the heathen do</i><i>;</i> <i>for
    they think that they shall be heard for their much speaking</i><i>.</i> 8 <i>Be not ye therefore like unto
    them</i><i>,</i> <i>for your Father knoweth what things ye have need of, before ye ask him</i>." (Mt 6:7-8)</p>
<p></p>
<p> Truly, to my way of seeing God, who knows perfectly the evolution of different phenomenon, the ones in the physical
    nature as well as the spiritual, knows what we need before we perceive that we have a particular need. This, without
    counting on His prescience, which we do not know if it is used by Him just when He wants or in a continuous way.
    Therefore, if God is aware before we tell Him, why tell Him? </p>
<p> That is where the application of celestial dynamics begins. It seems that, being that God has granted absolute free
    will, and that He Himself respects that with lovely care, while we do not pray to Him, we do not give Him the
    "right", in a manner of speaking, to get involved in our business in a particular, personal or specific way. Up to
    that point, He only "can" use (that is how He established celestial norms), the general right he reserved for the
    administration of the dealing with all the creatures, but He "cannot" go beyond. It is not that he may not have the
    strength and power to do so, it is that He does not go beyond His own norms of conduct that he previously
    established. </p>
<p> That is why if we are victims of a temptation, particular lust or sin and we do not pray to God, He will not come
    and meddle in the matter. If we only pray from our lips and ask that he liberate us from a sin that does please us,
    He finds Himself as we say, "shackled" for his previous disposition concerning our free will. If we wholeheartedly
    ask HHHim to help us, we give Him that "right" to intervene in our business and it is then when that extraordinary
    change in our attitude and behavior occur. </p>
<p> That is why in spite of the fact that we know that God knows what we need, we should pray. Prayer is not informing
    God of something He doesn't know, but give him the opportunity to enter into a territory that because of previous
    regulations He Himself had set aside. </p>
<p> That is why it is advised: "pray without ceasing" (I Thessalonians 5:17). That is why Jesus Himself teaches us to
    pray in general terms with the Our Father. That is why Jesus dedicated that passage to teach us about prayer. I
    testify that prayer can do what cannot be done by energy, planning, the strong will, the valor, the firmness of
    character, astuteness, intelligence, experience, and anything else that you can put on. Now, the lazy ones, cheeky,
    negligent and "good lifers" should not hang on to that truth in order to lift from their shoulders their
    responsibilities and tasks, with the pretext that the matter is under prayer. One must do what corresponds. Our
    daily bread is requested in prayer, but we have to work for it. </p>
<p> He who substitutes the normal efforts that correspond to him because of the pretext of prayer, I would believe him
    to be sincere and honest if I see that at dinner time instead of asking of others or try to instill pity upon
    himself so that they will give to him, he prays the Our Father (give us our daily bread), and waits without doing
    any thing. I will think he is sincere when if he desires an expensive article of clothing or good car, he merely
    prays and sits to wait for it to appear. </p>
<p> There are also those who believe that when they ask God for something<strong>,</strong> they are going to receive it
    in the most dramatic and vain form there is<strong>.</strong> It is not that way<strong>;</strong> the divine
    methodology is not the same as the human<strong>.</strong> Let us see the case of the Syrian
    Naaman<strong>,</strong> a general who was a leper<strong>,</strong> who believed that God would respond to his
    way<strong>,</strong> and almost did not reach that which he implored<strong>.</strong></p>
<p> Many times, believers behave with God in the same way this Syrian general behaved with Elisha. The prophet gave the
    leper all that was necessary for him to be cured, but he almost wasn't cured, because Elisha did not follow the
    method the general thought he should follow.</p>
<p> In the same way, many believers ask things of God and expect Him to perform in a dramatic and astounding way that we
    think it should be given to us. Later, when we receive the same goal that we desired, but in a way that is natural
    and humble, we think that God has not heard us. Yes, He heard us; the problem is that He did not want to stimulate
    our vanity by performing marvelous theatrics when he could perfectly well help us by means that will look natural to
    others. </p>
<p> In the same way, many believers ask God for the truth in religion, but when God sends a brother their way, who
    discuss their erroneous doctrines with them, they feel frustrated like Naaman and think: I thought God would leave
    His throne and appear before me to tell me what the true doctrine is. </p>
<p></p>
<p></p>
<p><strong>"</strong>9 <i>So Naaman came with his horses and with his chariot<strong>,</strong> and stood at the door of
    the house of Elisha<strong>.</strong></i> 10 <i>And Elisha sent a messenger unto him<strong>,</strong>
    saying<strong>: Go and wash in Jordan seven times, and thy flesh shall come again to thee, and thou shalt be
        clean.</strong></i> 11 <i>But Naaman was wroth<strong>,</strong> and went away<strong>,</strong> and
    said<strong>:</strong> <strong>Behold, I thought, He will surely come out to me, and stand, and call on the name of
        the LORD his God, and strike his hand over the place, and recover the leper.</strong></i> 12 <i>Are not Abana
    and Pharpar<strong>,</strong> rivers of Damascus<strong>,</strong> better than all the waters of
    Israel<strong>?</strong> May I not wash in them<strong>,</strong> and be clean<strong>?</strong> So he turned and
    went away in a rage</i><strong>." </strong> (II K 5<strong>:</strong>9-12)</p>
<p></p>
<p> Finally<strong>,</strong> his servants reasoned with him that if the prophet would have asked him to do something
    difficult<strong>,</strong> theatrical or dramatic<strong>,</strong> he surely would have done so<strong>.</strong>
    Therefore<strong>,</strong> if something as simple as washing himself seven times in the Jordan River has been asked
    of him<strong>,</strong> why not do it<strong>?</strong> The general deposed his attitude<strong>,</strong> did the
    apparently stupid thing the prophet asked him to do and he was healed of his leprosy<strong>.</strong> If he had not
    accepted the directions of the prophet of God<strong>,</strong> he would have lost out on the blessing that was
    reserved for him<strong>.</strong></p>
<p> Something similar can happen to us, if when we pray, we think that the answer from God should only come to us in a
    way that is dramatic, astonishing or theatrical. It is important to repeat here the previous paragraph: "In the same
    way, many believers ask God for the truth in religion, but when God sends a brother their way, who discuss their
    erroneous doctrines with them, they feel frustrated like Naaman and think: I thought God would leave His throne and
    appear before me to tell me what the true doctrine is."</p>
<p><strong>Let us look for sanctification, without which no one will see the Lord. </strong></p>
<p></p>
<p><a href="biblenotes.html">Back to the Index</a></p>

    </section>
</Layout>
    