<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La Ignorancia no es Excusa para el Pecado</title>
</head>
<body>
<p><strong>La ignorancia de la Ley de Dios no es excusa para pecar contra ella. El siervo que ignoraba la voluntad de su
    amo será azotado poco, pero aún así será azotado</strong></p>
<p> Al leer Lv 4<strong>:</strong>13 nos percatamos de que aunque una persona ignore la comisión de un
    pecado<strong>,</strong> no por eso deja de ser culpable<strong>.</strong> Es decir<strong>,</strong> si una persona
    comete un pecado sin saber que eso es pecado<strong>,</strong> aún así es culpable<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y si toda la congregación de Israel <strong>hubiere errado,</strong> y el negocio <strong>estuviere
    oculto</strong> <strong>a los ojos del pueblo,</strong> y hubieren hecho algo contra alguno de los mandamientos de
    Jehová en cosas que no se han de hacer<strong>,</strong> y <strong>fueren culpables</strong></i><strong>"</strong>
    (Lv 4<strong>:</strong>13)</p>
<p> Esté o no consciente de que lo que estaba haciendo era pecado<strong>,</strong> si el acto por él realizado era
    pecaminoso<strong>,</strong> él será culpable<strong>.</strong> Como vemos<strong>,</strong> no existe para el
    pecado la excusa de la ignorancia<strong>.</strong> <strong>Nuestro deber es averiguar, indagar por el Ser Supremo
        para ver si de alguna manera, aunque sea palpando, le hallamos.</strong> Nuestra obligación es indagar por Sus
    leyes<strong>,</strong> tratar de averiguar las reglas antes de actuar<strong>.</strong> <strong>Si por darle poca
        importancia a Dios y Sus reglamentaciones,</strong> no las averiguamos<strong>,</strong> no las
    conocemos<strong>,</strong> y actuamos contra ellas<strong>,</strong> ese es problema nuestro<strong>.</strong> En
    Levítico 4<strong>:</strong>27-28 y 5<strong>:</strong>17 se expresa la misma idea<strong>.</strong>
    Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y si alguna persona del común del pueblo <strong>pecare por yerro,</strong> haciendo algo contra
    alguno de los mandamientos de Jehová en cosas que no se han de hacer<strong>,</strong> y
    <strong>delinquiere</strong></i><strong>"</strong> (Lv 4<strong>:</strong>27)</p>
<p></p>
<p><strong>"</strong><i>Finalmente<strong>,</strong> <strong>si una persona pecare,</strong> o hiciere alguna de todas
    aquellas cosas que por mandamiento de Jehová no se han de hacer<strong>,</strong> <strong>aun sin hacerlo a
        sabiendas, es culpable, y llevará su pecado</strong></i><strong>."</strong> (Lv 5<strong>:</strong>17)</p>
<p> Bien es verdad que el que ignora <strong>de buena fe</strong> tiene cierta circunstancia atenuante<strong>,</strong>
    pero nunca eximente<strong>.</strong> Esto se comprueba en Lc 12<strong>:</strong>47-48<strong>,</strong> donde el
    mismo Señor Jesucristo dice que el siervo que no entendió<strong>,</strong> y por no haber entendido hizo cosas
    dignas de azotes<strong>,</strong> <strong>será azotado poco.</strong> Es decir<strong>,</strong> que al que sabía
    que lo que estaba haciendo era malo<strong>,</strong> y aún así lo hacía<strong>,</strong> le darán muchos
    azotes<strong>;</strong> mientras que al que sinceramente desconocía<strong>,</strong> <strong>le darán pocos
        azotes,</strong> no tantos como al que sí conocía<strong>;</strong> <strong>pero también lo azotarán.</strong>
    Se ve claramente que la ignorancia es una atenuante<strong>,</strong> pero no una eximente<strong>.</strong>
    (Atenuante significa que disminuye el castigo<strong>;</strong> eximente que lo anula
    completamente)<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque <strong>el siervo que entendió la voluntad de su señor,</strong> y no se
    apercibió<strong>,</strong> ni hizo conforme a su voluntad<strong>,</strong> <strong>será azotado mucho.</strong>
    Mas <strong>el que no entendió,</strong> e hizo cosas dignas de azotes<strong>,</strong> <strong>será azotado
        poco;</strong> porque a cualquiera que fue dado mucho<strong>,</strong> mucho será vuelto a demandar de
    él<strong>;</strong> y al que encomendaron mucho<strong>,</strong> más le será pedido</i><strong>."</strong> (Lc
    12<strong>:</strong>47-48)</p>
<p><strong>Concretando,</strong> la ignorancia de buena fe<strong>,</strong> de los mandamientos de Dios
    <strong>no</strong> libra a nadie de la penalidad por transgredirlos<strong>,</strong> lo más que hace es
    disminuirle esa penalidad<strong>.</strong></p>
<p>Sépanlo así los inconversos que tratan de no aprender de Dios para después alegar ignorancia<strong>,</strong> así
    como los convertidos que no quieren indagar mucho sobre si se debe o no cumplir los mandamientos de
    Dios<strong>,</strong> con la esperanza de poder alegar ignorancia de buena fe<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>