---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
import Title from "@/components/Title.astro";
---
<Layout showThanksRead equivalentHref="/es"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>The author has the ability to impart his knowledge and experiences in a short and concise
                manner
                that is
                easy to understand. To put it in his own words let me share with you what he once told me:
                'I do not
                dissolve an aspirin in a barrel of water, so as to force whoever wants the benefits of the
                aspirin,
                to
                drink the whole barrel. I just give them the aspirin. That's why I write as brief as
                possible'.
            </p>

            <p><strong>Rev. Ramón Alemán, Oklahoma, U.S.A.</strong></p>
        </Brief>

        <article class="pr:5rem">
            <Title>Daniel 7: The Last Four World Powers</Title>

            <p>
                If you want the book "Daniel 7: The Last Four World Powers" , just ask for it, and we will
                send it to
                you
                free of charge. The address is available at the end of this page. This is a book in which
                for the
                first
                time <strong>it is demonstrated with facts</strong> the <strong>true</strong> interpretation
                of the
                Daniel 7 prophecy and how it is being fulfilled before our eyes.
            </p>

            <p>
                <strong>The four beasts of
                    the
                    prophecy
                    really represent England, Russia, China and the European Union.</strong> This book will
                help you
                to
                understand that prophecy and help you teach it to the brethren under your spiritual
                responsibility;
                regarding such an important issue as is the Second Coming of Our Lord Jesus Christ.
            </p>

            <p>
                <strong>This
                    book is
                    not about a writer trying to twist the Bible</strong> so that the
                <strong>Scriptures</strong>
                agree
                with his interpretation of the prophecy. What the writer does is display before the readers'
                eyes
                what
                the media has published, so that they can check for themselves the reliability of the
                interpretation.
            </p>

            <p>
                The book is written in a very clear, pedagogical, and condensed manner. In this way <strong>you
                can
                absorb in a couple of hours</strong>, all its information just by reading it. You can
                trust that
                the
                time invested in reading this book will yield more than a hundred times your investment. You
                won't
                have
                to make yourself believe the interpretation; it will come to you just by reading .
            </p>

            <p>
                <strong>You
                    will
                    be
                    able to prove that we are in the third of the four last steps of human history before
                    the coming
                    of
                    Christ.</strong>
            </p>
        </article>
    </SectionOf>
</Layout>