---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
---
<Layout showThanksRead={false} equivalentHref="/es/index"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>
                <a href="/img_menu.nvm.html">
                    <img alt="img_menu" height="124" src="/img_menu.jpg" width="152">
                </a>
            </p>
            <p>You can download the entire book in the form of a <strong>PDF</strong> document by visiting
                the
                English
                or Spanish Version pages.</p>
            <p>If you do not own a copy of <strong>Adobe Acrobat Reader,</strong> click on the icon to
                download a
                free
                copy.</p>
            <p><a href="/images/ar40eng.exe"><img alt="acrobatReader" height="31" src="/acrobatReader.gif"
                                                  width="88"></a>
            </p>
            <p><strong>After downloading the file at a location on your hard drive, double click to
                install.</strong>
            </p>
        </Brief>

        <article>
            <div>
                <p><strong>There are several sections in this webpage:</strong></p>
                <p><strong>I) Bible Notes, in English and Spanish,</strong></p>
                <p><strong>(You can find links to these sections in the left column.)</strong></p>
                <p><strong>II) Free Christian Books In English and Spanish</strong></p>
                <p><strong>III) Comentario biblico en español</strong></p>
                <p><strong>(Para español lea más abajo)</strong></p>

                <p>
                    <strong>The Last Four World Powers</strong>
                </p>
                <p>
                    <strong>How will we know when the return of Jesus Christ is about to occur?</strong>
                </p>
            </div>

            <div>
                <p><strong>English</strong></p>
                <p>If you want the book "Daniel 7: The Last Four World Powers" , just ask for it, and we will
                    send it to
                    you
                    free of charge. The address is available at the end of this page. This is a book in which
                    for the
                    first
                    time <strong>it is demonstrated with facts</strong> the <strong>true</strong> interpretation
                    of the
                    Daniel 7 prophecy and how it is being fulfilled before our eyes. <strong>The four beasts of
                        the
                        prophecy
                        really represent England, Russia, China and the European Union.</strong> This book will
                    help you
                    to
                    understand that prophecy and help you teach it to the brethren under your spiritual
                    responsibility;
                    regarding such an important issue as is the Second Coming of Our Lord Jesus Christ. <strong>This
                        book is
                        not about a writer trying to twist the Bible</strong> so that the
                    <strong>Scriptures</strong>
                    agree
                    with his interpretation of the prophecy. What the writer does is display before the readers'
                    eyes
                    what
                    the media has published, so that they can check for themselves the reliability of the
                    interpretation.
                    The book is written in a very clear, pedagogical, and condensed manner. In this way <strong>you
                        can
                        absorb in a couple of hours</strong>, all its information just by reading it. You can
                    trust that
                    the
                    time invested in reading this book will yield more than a hundred times your investment. You
                    won't
                    have
                    to make yourself believe the interpretation; it will come to you just by reading . <strong>You
                        will
                        be
                        able to prove that we are in the third of the four last steps of human history before
                        the coming
                        of
                        Christ.</strong></p>
                <p>"The author has the ability to impart his knowledge and experiences in a short and concise
                    manner
                    that is
                    easy to understand. To put it in his own words let me share with you what he once told me:
                    'I do not
                    dissolve an aspirin in a barrel of water, so as to force whoever wants the benefits of the
                    aspirin,
                    to
                    drink the whole barrel. I just give them the aspirin. That's why I write as brief as
                    possible'."</p>
                <p><strong>Rev. Ramón Alemán, Oklahoma, U.S.A.</strong></p>
                <p><strong>Artistic cover by: Adolfo Serralta.</strong></p>
                <p><strong>To contact the author: R. L. Serralta Nogués</strong></p>
                <p><strong>Phone: (305) 951-7435</strong></p>
                <p><strong>P.O. Box 655126</strong> <strong>Miami</strong><strong>, FL 33265-5126</strong></p>
                <p><strong>Email:</strong> <a href="mailto:ramonaleman@yahoo.com">rlserralta@netzero.net</a></p>
                <p><img alt="img4" height="5" src="/images/img4.gif" width="650"></p>

            </div>

            <div>
                <p><strong>Section I:</strong></p>
                <p><a href="/biblenotes">See Bible Notes in English</a></p>
                <p><a href="/NotasBiblicas">Ver Notas bíblicas en español</a></p>
            </div>

            <div>
                <p><strong>Section II:</strong></p>
                <p><strong>Free Books In English</strong></p>
                <p><strong>a) Book <a href="LastFourWorldPowers.pdf">"The Last Four World Powers"</a>,</strong>
                </p>
                <p><strong>b) Book <a href="Rapture_vs_Ingathering_english.pdf">"Rapture vs
                    Ingathering"</a></strong>
                </p>
                <p><strong>c) Book <a href="Jesus_Messiah_english.pdf">"Demonstrating that Jesus is the Jewish
                    Messiah</a><a
                        href="once_saved_english.pdf">"</a></strong></p>
                <p><strong>d) Book <a href="the_Law_english.pdf">"Is God's Law Obsolete?"</a></strong></p>
                <p><strong>e) Book <a href="Holiness_english.pdf">"Is Holiness Attainable?"</a></strong></p>
                <p><strong>f) Book <a href="once_saved_english.pdf">"Saved Always Saved...Doesn't Matter What
                    You
                    Do?"</a></strong></p>
                <p><strong>g) Book <a href="Alma_Ingles_10_My_11.pdf">"Does the Soul Exist Or Are We Just
                    Flesh?"</a></strong></p>
                <p><strong>h) Book <a href="Hermeneutica_Ingles_19_My_11.pdf">"Hermeneutics as Taught in the
                    Bible"</a></strong></p>
                <p><strong>i</strong><strong>) Book <a href="Predestination_Ingles_11_My_11.pdf">"Predestination,
                    Christian
                    Doctrine or Heresy"</a></strong></p>
                <p><strong>j) Book <a href="Trinidad_Ingles_22_My_11.pdf">"The Trinity as Taught in the
                    Bible"</a></strong>
                </p>
            </div>

            <div>
                <p><strong>This site was created by:</strong> <a href="mailto:adolfo@miami.edu">Adolfo
                    Serralta</a></p>
            </div>
        </article>
    </SectionOf>
</Layout>