
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Por qué el infierno existe y tiene que existir</title>
</head>
<body>
<p><strong>Por qué el infierno existe y tiene que existir</strong></p>
<p> Cierto día un hombre que era creyente recibió la visita de un amigo que impugnaba la existencia del infierno.
    Después de largo rato de explicaciones teológicas que el amigo <strong>no quería comprender ni admitir</strong>, el
    creyente le dijo al amigo: te voy a hacer un cuento, luego de lo cual tú vas a justificar la existencia de un
    infierno.</p>
<p><strong>En cierta ocasión un jeque árabe</strong>, extraordinariamente rico, concibió la idea dar un viaje alrededor
    del mundo con todos sus hijos, sus hijas, sus parientes y sus sirvientes. Se compró un buen barco de vela, como era
    el uso de aquella época, puso todos sus caudales en el barco, contrató marineros bien adiestrados, llevó al barco a
    sus mujeres, a sus sobrinos, a todos sus parientes y a todos sus sirvientes, y zarpó tan pronto pudo.</p>
<p> Visitaron muchos lugares, y donde quiera que llegaba se portaba generosamente, gastando en los suyos y en los
    marineros, todo lo que estos desearan. Pronto los marineros se dieron cuenta de que el jeque llevaba grandes
    caudales en el barco, y conspiraron para quedarse con ellos. Unos pensaron en robarse las armas que el jeque y sus
    sirvientes tenían en un camarote, y matarlos a todos, pero otros, que agradecían el buen trato que el jeque les
    había prodigado, convencieron a todos que solamente debían abandonarlos en una isla desierta. Los marineros, se
    apoderaron de las armas, pusieron al jeque y a sus acompañantes en varios botes que el barco tenía, y los dejaron
    cerca de <strong>dos islitas paradisíacas</strong> en medio del océano pacífico.</p>
<p> Los más agradecidos de aquellos ladrones, le pusieron suficientes alimentos para un mes, todas las herramientas que
    había en el barco, y <strong>al jeque, unas pocas armas en su bote</strong>, diciéndole que si se atrevía a usarla
    contra ellos, les harían fuego desde el barco y acabarían con todos. Viéndose despojado de sus riquezas, pero con la
    vida de él y de los suyos incólumes, optó por dirigirse todos remando hacia la isla más grande. Una vez allí
    <strong>dio las armas a sus sirvientes más fieles, y él se quedó con dos de aquellas antiguas pistolas</strong>.</p>
<p> Al principio todo iba bien, todos se pusieron a trabajar para sobrevivir. Lo primero fue encontrar una fuente de
    agua; inmediatamente buscar alimentos silvestres; luego utilizar los avíos de pesca y poner trampas para aves y
    animales terrestres, a fin de proveerse de carne. Más tarde se valieron de las herramientas para hacer chozas y para
    preparar la tierra para sembrar. A las pocas semanas ya habían asegurado su supervivencia, y el jeque comenzó a
    repartir trabajos para ir mejorando cada vez más la calidad de vida de todos.</p>
<p><strong>Pero ya no todos eran lo mismo que antes.</strong> Había quienes <strong>no cumplían con su trabajo</strong>,
    otros comenzaron a <strong>robarle a sus parientes</strong> lo que ellos habían conseguido con su esfuerzo; otros
    <strong>se pusieron a hablar contra el jeque y a pretender suplantarlo</strong>, lo cual hubieran logrado, si no
    fuera que él se quedó con las armas principales, y tenía seis u ocho de sus más fieles sirvientes armados. <strong>Incluso
        algunos de sus muchos hijos comenzaron a hablar mal de su padre</strong>, no trabajaban, algunos incluso
    violaron a algunas de sus parientas, mataron a uno de sus medio hermanos, etc.</p>
<p> Viendo lo que sucedía e<strong>l jeque les habló al corazón</strong>, explicándoles cómo para poder vivir felices
    había que tener ciertas normas de conducta. Comenzó por poner leyes para evitar desafueros, pero casi nadie las
    cumplía, debido a que, como que los que eran peor vivían del esfuerzo de los demás a base de amenazas y violencias,
    pues todos se desanimaban de trabajar y de cumplir sus obligaciones.</p>
<p><strong>El jeque observó quiénes eran los peores,</strong> y una noche, con la ayuda de sus fieles sirvientes y de un
    par de hijos que no se habían echado a perder, todos armados, <strong>agarraron a los seis u ocho que más perversos
        eran, los amarraron, y a la mañana siguiente los envió en bote, custodiados, hacia la otra isla más
        pequeña,</strong> la cual estaba separada varias millas por un mar infectado de tiburones. Al llegar allí los
    soltaron en aquella isla paradisíaca, y los dejaron con algunas herramientas y algún alimento.</p>
<p><strong>Entonces el jeque los reunió a todos y les dijo que los que siguieran la forma de ser y proceder de los ya
    condenados, padecerían la misma suerte</strong>. Al principio, el temor aguantó a todos, pero al pasar el tiempo,
    muchos volvieron a sus malas inclinaciones. Unos herían a sus parientes o los mataban, otros les robaban, otros
    incluso violaban a sus parientas.</p>
<p><strong>Volvió el jeque desterrar a varios de los peores hacia la otra islita paradisíaca</strong>. Así ocurrió
    varias veces hasta que al fin después de haber desterrado a algunos de sus hijos e hijas, a varios parientes y a
    muchos de los sirvientes, sacó de la isla a todo los que no procedían como es debido. <strong>Era doloroso para el
        jeque desterrar a sus hijos y parientes, pero era muchísimo más doloroso para él y para todos, ver cómo aquéllos
        atropellaban, y hasta mataban a sus otros hijos y parientes,</strong> sin que valiera nada de lo que él hacía
    para hacerlos cambiar de proceder.</p>
<p> Cada vez que enviaba a algún nuevo grupo, al regresar, los fieles del jeque les contaban <strong>cómo en la otra
    isla la situación era espantosa, vivían en un verdadero infierno</strong>. Nadie quería trabajar, unos a otros se
    atacaban sin piedad, pasaban hambre y necesidad, pero nadie trabajaba, porque los demás le robaban lo que hubiera
    logrado.</p>
<p> Pasado el tiempo, la isla grande prosperó, y se vivía con seguridad, abundancia y felicidad. <strong>En la otra isla
    se vivía como en un infierno.</strong> Un tiempo después uno de los hijos buenos le dijo al padre: "<strong>Padre,
    te das cuenta de que has mandado a nuestros hermanos y parientes a vivir en un infierno.</strong>" A lo que el padre
    respondió cariñosamente: "No hijo mío, yo <strong>lo único que hice fue separar los malos de los buenos.</strong>
    <strong>Yo los envié a una isla paradisíaca; ellos son los que han formado allí el infierno.</strong> Si yo no los
    hubiera mandado para allá, todos mis hijos, todas mis hijas, todos mis parientes y todos mis sirvientes,
    incluyéndote a ti, <strong>estaríamos en el infierno, estaríamos sufriendo injusta e innecesariamente</strong>."</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>