<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Jefté no ofreció a su hija en sacrificio</title>
</head>
<body>
<p><strong>Jefté no ofreció a su hija en sacrificio</strong></p>
<p> Hace varios años se publicó que Jefté, uno de los principales jueces de Israel, había matado a su hija y la había
    quemado como sacrificio en un altar pagano. Este artículo salió publicado en inglés en el folleto de lecciones para
    la Escuela Dominical que trimestralmente publica una de las principales denominaciones cristianas de los Estados
    Unidos. La revista se llamaba "Bible Book Study for Adults"; el artículo se hallaba en la edición perteneciente a
    enero, febrero y marzo del año 1990, en las páginas 76-82. Tal cosa me entristeció mucho, porque <strong>demostraba
        la falta de cuidado que a veces las altas jerarquías de la denominación ponen en examinar lo que se
        publica.</strong> Esta revista trimestral influye en millones de hermanos, los cuales fueron conducidos a error
    por el autor de esa lección de Escuela Dominical. El autor de la lección de ese domingo hablaba sobre Jefté, en el
    capítulo 11 del libro de Jueces.</p>
<p> "<i>29</i> <strong>Y el espíritu de Jehová fue sobre Jefté</strong><i>: y pasó por Galaad y Manasés;</i> <i> y de
    allí pasó a Mizpa de Galaad; y de Mizpa de Galaad pasó a los hijos de</i> <i> Ammón.</i> <i>30</i> <i><strong>Y
    Jefté hizo voto a Jehová,</strong> diciendo: Si entregares a los ammonitas</i> <i> en mis manos,</i> <i>31</i> <i>Cualquiera
    que me saliere a recibir de las puertas de mi casa,</i> <i> cuando volviere de los ammonitas en paz, <strong>será de
    Jehová, y le ofreceré en</strong></i> <strong><i> holocausto</i>." </strong> ( Jue 11: 29-31 )</p>
<p><strong>El voto que hizo Jefté no era el de matar y quemar en sacrificio</strong> al primero que le saliera a recibir
    de su casa cuando volviera victorioso. <strong>Lo que él prometió fue dedicar enteramente a Dios a esa primera
        persona que lo saliera a recibir.</strong> Esa entera dedicación era semejante a cuando se ofrecía un cordero en
    ofrenda quemada. En tal tipo de ofrenda el sacerdote no podía participar de ella comiendo una parte del animal, como
    sí podía hacerlo en los otros tipos de sacrificios de corderos. <strong>La ofrenda quemada era una dedicación total
        para Dios. </strong> Usando ese símil es que Jefté dice que ofrecería en holocausto al primero que lo recibiera.
    La hija de Jefté se convirtió, debido a ese voto del padre, en una especie de monja de clausura, sólo que no viviría
    encerrada, sino normalmente en la sociedad, dedicada solamente a las cosas de Dios. Como que iba a dedicarse cien
    por ciento al servicio de Dios, no podría casarse, porque una mujer casada tiene que atender a su esposo y sus
    hijos. <strong>Era en ese sentido en el que Jefté iba a dedicar a su hija como un holocausto a Dios, una ofrenda
        total.</strong> En otras ocasiones otras madres dedicaron sus hijos a Dios en forma total también, como fue el
    caso de Ana, la madre de Samuel.</p>
<p> "<strong>E hizo voto,</strong> <i>diciendo: Jehová de los ejércitos, si te dignares mirar la</i> <i> aflicción de tu
    sierva, y te acordares de mí, y no te olvidares de tu sierva, mas</i> <i> dieres a tu sierva un hijo varón, <strong>yo
    lo dedicaré a Jehová todos los días de su</strong></i> <strong> vida,</strong> <i>y no subirá navaja sobre su
    cabeza</i>" ( I Sam 1:11 )</p>
<p> "<i>Por este niño oraba, y Jehová me dio lo que le pedí. <strong>Yo pues le vuelvo</strong></i> <strong> también a
    Jehová: todos los días que viviere, será de Jehová. Y adoró allí</strong> <strong> a Jehová</strong>." ( I Sam 1:
    27-28 )</p>
<p> Ahora bien, el caso de Jefté tenía una faceta diferente. Al dedicar a su hija a Dios en forma total, <strong>Jefté
    se estaba privando de tener descendencia que llevara su nombre</strong>. Aquella era su única hija. No tenía otro
    hijo ni hija. Eso era muy duro para un hombre de aquella época y de aquella sociedad. De ahí brota el amargo quejido
    de Jefté cuando vio que su hija era la que había salido a recibirlo.</p>
<p> "34 <i>Y volviendo Jefté a Mizpa a su casa, he aquí que su hija le salió a recibir</i> <i> con adufes y danzas,
    <strong>y era la sola, la única suya; no tenía fuera de ella otro hijo</strong></i> <strong> ni hija.</strong> 35
    <i>Y como él la vio, <strong>rompió sus vestidos diciendo: ¡Ay, hija mía! de</strong></i> <strong> verdad me has
        abatido, y tú eres de los que me afligen</strong><i>: porque yo he abierto</i> <i> mi boca a Jehová, y no podré
        retractarme</i>." ( Jue 11: 34 - 35 )</p>
<p> Hay varios pasajes que nos muestran que Jefté nunca prometió sacrificar a su hija matándola y quemándola en un altar
    pagano. Vamos a leer estos pasajes con el fin de obtener de primera mano la idea correcta de qué fue lo que prometió
    Jefté. Si leemos Jue 11: 36- 39 veremos que <strong>la preocupación de la joven hija de Jefté no era sobre perder la
        vida, sino sobre su virginidad y la pérdida de su oportunidad de matrimonio,</strong> que era una de las
    ambiciones más acariciadas de las mujeres de aquella sociedad en aquella época.</p>
<p> "<i>36</i> <i>Ella entonces le respondió: Padre mío, si has abierto tu boca a Jehová,</i> <strong> haz de mí como
    salió de tu boca,</strong> <i>pues que Jehová ha hecho venganza en tus</i> <i> enemigos los hijos de Ammón. </i> 37
    <i>Y tornó a decir a su padre: Hágasme esto:</i> <i> déjame por dos meses que vaya y descienda por los montes, y
        <strong>llore mi</strong></i> <strong> virginidad,</strong> <i>yo y mis compañeras. </i> 38 <i>Él entonces dijo:
        Ve. Y dejola por dos</i> <i> meses. Y ella fue con sus compañeras, <strong>y lloró su virginidad</strong> por
        los montes.</i> <i> </i> 39 <i>Pasados los dos meses <strong>volvió a su padre, e hizo de ella conforme a su
        voto</strong></i> <strong> que había hecho. Y ella nunca conoció varón</strong>." ( Jue 11: 36-39 )</p>
<p> Como podemos ver en el versículo 36, la hija de Jefté pidió a su padre <strong>que hiciera con ella tal y como había
    prometido</strong>. Por lo tanto, lo que sigue a la petición de la hija es lo que prometió el padre. ¿Y qué es lo
    que sigue a la petición de la hija? En el versículo 37 vemos que <strong>la joven solamente pidió llorar su
        virginidad</strong> por dos meses. Evidentemente, su vida no estaba amenazada, porque sería algo completamente
    fuera de lógica que ella llorara por su virginidad cuando lo que iba a perder era la vida. El llorar su virginidad,
    el no poderse casar, era una cosa muy secundaria ante la seguridad de perder la vida. Hubiera sido excesivamente
    tonto que la joven llorara por algo (virginidad ) que después de la muerte no le serviría para nada, y no llorara
    por su vida, sin la cual todo lo demás era inútil. <strong>Todo esto nos hace ver que ella sabía que lo único que
        iba a perder, era la oportunidad de casarse.</strong> En el versículo 39 vemos que como una consecuencia de todo
    lo que previamente se narró se dice que "<i>pasados los dos meses volvió a su padre, e <strong>hizo de ella conforme
        a su voto</strong> que había hecho. <strong>Y ella nunca conoció varón</strong></i>." O sea, que cuando la joven
    volvió, su padre hizo conforme a su voto, es decir, <strong>hizo lo que había prometido; y como consecuencia de
        hacer lo que él había prometido, ella se quedó sin casarse.</strong> Está perfectamente claro que Jefté no
    prometió matar y quemar a nadie, sino dedicarla a Dios. Otra cosa a notar, es que <strong>si a esta joven la
        hubieran ido a matar después de sus dos meses de lamentación, hubiera sido excesivamente tonto de parte del
        escritor de este capítulo, el aclarar que ella nunca tuvo relaciones sexuales.</strong> Claro está, si la
    hubieran matado no era necesario que el escritor a posteriori aclarara que ella no tuvo relaciones sexuales; todo el
    mundo sabe que los muertos no tienen relaciones sexuales. Es obvio, por lo tanto, que el escritor se está refiriendo
    a una joven que siguió viviendo, pero nunca llegó a casarse. Vamos ahora a usar un poco de lógica. <strong>¿Hubiera
        Dios premiado con la victoria a un hombre capaz de hacer sacrificios humanos? </strong> Si el voto de Jefté
    hubiera sido el de sacrificar a una persona en un altar, ( lo cual estaba estrictamente prohibido por la ley de Dios
    e incluso se condenaba a muerte al que tal hiciera ), ¿hubiera acaso Dios otorgado la victoria a un hombre así? En
    el versículo 29 dice que <strong>el Espíritu de Jehová fue sobre Jefté</strong>. ¿Hubiera el Espíritu Santo venido
    sobre un asesino, sobre un hombre tan confundido religiosamente? ¡Claro que no! Si la promesa de Jefté hubiera sido
    la de cometer un homicidio en un acto de idolatría, el Espíritu Santo no hubiera venido sobre él.</p>
<p> "<strong>Y el espíritu de Jehová fue sobre Jefté</strong><i>: y pasó por Galaad y Manasés; y de</i> <i> allí pasó a
    Mizpa de Galaad; y de Mizpa de Galaad pasó a los hijos de Ammón</i>." ( Jue 11: 29 )</p>
<p> El mismo razonamiento anterior puede hacerse cuando leemos Heb 11: 32. Allí Pablo alaba a Jefté entre otros muchos
    héroes de la fe. <strong>No puedo yo creer que si Jefté hubiera matado a su hija y la hubiera quemado en holocausto
        en un altar pagano, Pablo lo iba a tomar como un buen ejemplo que los cristianos debíamos imitar.</strong> Se ve
    que Pablo, al leer las Escrituras, no interpretaba las cosas en la misma forma que el autor de esta lección de
    Escuela Dominical.</p>
<p> "¿<i>Y qué más digo? porque el tiempo me faltará contando de Gedeón, de Barac,</i> <i> de Samsón, <strong>de
    Jefté</strong>, de David, de Samuel, y de los profetas</i>" ( Heb 11: 32 )</p>
<p> Si Jefté hubiera sido un ignorante de religión de tal magnitud que ni siquiera sabía que Dios prohibía los
    sacrificios humanos, <strong>Pablo no lo hubiera exhibido como un guía digno de ser imitado por los
        cristianos.</strong> Pablo no iba a hacer tal cosa con un idólatra asesino. Por lo tanto es evidente que Pablo
    sabía que lo que Jefté prometió no fue sacrificar a su hija en una altar pagano. Jefté no era un ignorante de
    religión como lo pinta esa revista trimestral de Escuela Dominical en inglés. Si leemos Jue 11: 14-28 veremos que
    Jefté conocía al dedillo todo lo concerniente a la historia de su nación, y que era un hombre de fe. Viendo cómo
    este caudillo de Israel conocía la historia de su nación, no puedo pasar a creer, como dice la revista trimestral de
    la Escuela Dominical antes mencionada, que Jefté no supiera que Dios tenía prohibido los sacrificios humanos. Y no
    solamente ignorarlo, sino basar en un sacrificio humano la petición de victoria que le hacía a Dios. ¡¡Absurdo!! Por
    todo lo hasta aquí visto y razonado está muy claro que Jefté nunca prometió un sacrificio humano. Está claro que la
    joven nunca lamentó que la fueran a matar, sino que no se iba a poder casar. Está claro que el Espíritu Santo no iba
    a estar sobre Jefté si el hubiera sido un asesino idólatra. Y por último, está bien claro que Pablo no iba a
    elogiar, como digno de imitación, a un hombre que hubiera prometido un sacrificio humano. Por lo tanto, es evidente
    que lo que Jefté prometió fue dedicar su hija enteramente al servicio de Dios, igual que se dedicaba enteramente a
    Dios un cordero durante una ofrenda quemada, en la que los sacerdotes no podían tomar ninguna parte del cordero. Es
    mi deseo que aquellos que se hallan en posiciones jerárquicas dentro de las iglesias y las denominaciones, sean más
    vigilantes de qué cosa es lo que se publica, a fin de evitar que las ovejas bajo su cuidado sean conducidas al error
    por escritores que, tal vez son buenas personas, pero que no por eso dejan de estar errados y hacerle daño a las
    ovejas.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>
</body>
</html>