
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Was Jesus' clothing long or short?</title>
</head>
<body>
<p><strong>Was Jesus' clothing long or short?</strong></p>
<p> In ancient times it was not easy to make cloth, it required much time and effort. That's why cloth was scarce and
    expensive. Most of the times women made their own family cloth and clothes. First they had to gather raw wool or
    linen and make yarn or threads out of it, spinning by hand, because at that time the distaff did not exist. Later
    they had to make the warp, which was a set of yarns placed lengthwise, parallel to each other, in order to weave
    transverse threads to make the cloth. The loom did not exist yet, and everything had to be made by hand, by women,
    in their home. <strong>In short, cloth was scarce and expensive, and poor people used just the necessary amount to
        get warm or to cover his nudity.</strong> If you have been in a museum where statues of that time are exhibited,
    you will remember that poor women wore their clothing little under the knee, and poor men from the loins to half the
    thigh.</p>
<p> In modern times almost any person can have several shirts and pants, or several dresses, because modern machinery
    has extraordinarily cheapen cloth. Nowadays anyone can buy enough cloth to be dressed from his head to his feet.
    That's why many people don't understand why clothes were so important in ancient times. At that time, to have long
    clothing meant to be well to do. Poor men only used enough cloth to make short clothing. It was a signal of status
    to use long clothing, robes, or any other unnecessary piece of cloth.</p>
<p> Jesus was a poor man, he was a carpenter, and he could not afford long clothing, much less robes. Therefore it is
    logical that he dressed himself with short clothing and with no robes. Nevertheless, for some kind of
    misunderstanding, people who make pictures of Jesus always depict him using long clothing and even robes. If we read
    Mark 12: 38 and Luke 20: 46 we will see that Jesus was advising his listeners to be aware of the fact that scribes
    wanted to wear long clothing.</p>
<p> "<i>And he said unto them in his doctrine: Beware of the scribes, which <strong>love to go in long clothing</strong>,
    and love salutations in the marketplaces</i>" ( Mark 12: 38 )</p>
<p> "<i><strong>Beware of the scribes, which desire to walk in long robes</strong>, and love greetings in the markets,
    and the highest seats in the synagogues, and the chief rooms at feasts</i>" ( Luke 20: 46 )</p>
<p><strong>It is not logical to think that while Jesus was advising the disciples about the using of long clothing by
    the scribes, he himself was wearing one of them</strong>. At the time, robes and long clothing for men was a sign of
    useless luxury. It didn't become to Jesus to be clothed like that. Especially when he was saying what we read in the
    former two verses.</p>
<p>If we read John 19: 23 we will see that Jesus' tunic was made of only one piece, something like a tube. Therefore it
    couldn't be that long because it would hinder walking freely.</p>
<p> "<i>Then the soldiers, when they had crucified Jesus, took His garments and made four parts, to each soldier a part,
    and also the tunic. Now <strong>the tunic was without seam, woven from the top in one piece</strong></i>." ( John
    19:23 )</p>
<p><strong>In short,</strong> pictures depicting Jesus in long clothing and robes are out reality. The misrepresentation
    of Jesus had been so general, that this concept of a Jesus dressed in short clothing, like a Hebrew labor, or like a
    Roman soldier, would not be easily accepted by the vast majority of Christians.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>