---
import Layout from "../layout/Layout.astro";
---

<Layout title="Was Jesus nailed to the cross by his hands or by his wrists?">
    <section>
<p><strong>Was Jesus nailed to the cross by the hands or by the wrists?</strong></p>
<p><strong>All my life I have seen and read that Jesus was affixed to the cross by piercing his hands with
    nails. </strong> Nevertheless, in this later decade I have seen many pictures in which Jesus is depicted as being
    nailed to the cross through his wrists. I have heard also some weird scholars backing this nonsense. <strong>I am
        going to demonstrate this false with three different arguments:</strong> <strong>a)</strong> anatomically,
    showing that the hand certainly can hold the weight of a person; <strong>b)</strong> anatomically and biblically,
    showing that they could not pierce Jesus' wrists, because it would break one or more of his bones, and
    <strong>c)</strong> biblically only, showing that the Bible says that it was Jesus' hands that were pierced.
    <strong>First argument.</strong> Those who say that Jesus was nailed through the wrists allege that a human body
    cannot be held to a cross by nailing its hands to it, because the flesh would give way, the hand would rip, and the
    person would fall. This is a lie. <strong>Those who say such a thing never have seen the dissection of a human
        body</strong>. I have seen many times the hand being studied in cadavers, by medical students. During their
    first year they have to study anatomy. At that time they have to dissect not only the hand but also the whole body.
    <strong>The conjunctive tissue of the body of humans and animals is stronger than a rope</strong>. Tendons,
    transverse ligaments and aponeurosises are conjunctive tissues. The hand is full of them, as you can see in <strong>pictures
        # 1 and # 2</strong>. All these pictures are taken from the book "An Atlas of Anatomy", by J. C. Boileau Grant,
    M.C.; M.B.; Ch. B.; F.R.C.S. Edin, Professor Emeritus of Anatomy in the University of Toronto, Fourth Edition.
    Pictures numbers 57, 84, 92 and 98.</p>
<p><img alt="imageTendonesPalma" height="340" src="imageTendonesPalma.jpg" width="623"></p>
<p>Picture # 1 The Palm </p>
<p><img alt="imageTendonesDorso" height="360" src="imageTendonesDorso.jpg" width="251"></p>
<p>Picture # 2 Dorsum of the hand</p>
<p> It is not possible that tendons of a person's hands, transverse ligaments and aponeurosises, pierced by a nail, give
    way to let the weight of the body rip the hand, because conjunctive tissue is very strong. This would only happen in
    a rotten body, not in a living man. This wouldn't happen even if the body of Christ was hung from only one hand,
    much less from both. It is not true that Christ was pierced from the wrists. This lie was introduced into
    Christianity by its enemies, especially by the Russellites. You may think that your delicate hands would be ripped
    apart if they were hung. What you need to remember is that Christ's hands were carpenter hands. Today, you can get
    an idea about how strong Christ hands were by looking at the hands of any 33 year old carpenter who has been in
    building houses since he was a teenager. <strong>Second argument</strong>. According to the Scripture, Jesus Christ
    is our Passover Lamb, who was going to be sacrificed. That is why he was killed the very same day that the Passover
    lamb was to be killed. Paul says so in I Co 5: 7.</p>
<p> "<i>Purge out therefore the old leaven, that ye may be a new lump, as ye are</i> <i> unleavened. For even <strong>Christ
    our Passover</strong> is sacrificed for us</i>" ( I Co 5: 7 )</p>
<p><strong>In the ordinances of the Passover it is established that no bone must be broken in the lamb.</strong> It was
    a shadow of what was going to happen later with Jesus, to whom no bone was broken. The Passover ordinances say as
    follows:</p>
<p> "<i>In one house shall it be eaten; thou shalt not carry forth ought of the flesh</i> <i> abroad out of the house;
    <strong>neither shall ye break a bone thereof</strong></i>." ( Ex 12: 46 )</p>
<p> "<i>They shall leave none of it unto the morning, <strong>nor break any bone of it</strong>:</i> <i> according to
    all the ordinances of the Passover they shall keep it</i>." ( Nm 9: 12 )</p>
<p> As we can see, <strong>the rite of the Passover forbade breaking any bone of the lamb</strong>. That is why the
    Roman soldiers did not break Jesus' legs when they brought him down from the cross. God would not let them do so.
</p>
<p> "<i>Then came the soldiers, and brake the legs of the first, and of the other</i> <i> which was crucified with him.
    But when they came to Jesus, and saw that</i> <i> he was dead already, <strong>they broke not his legs</strong>; but
    one of the soldiers with a</i> <i> spear pierced his side, and forthwith came there out blood and water. And</i> <i>
    he that saw it bare record, and his record is true; and he knoweth that he saith</i> <i> true, that ye might
    believe. <strong>For these things were done, that the scripture</strong></i> <strong> should be fulfilled: A bone of
    him shall not be broken</strong>." ( John 19: 32 - 36 )</p>
<p> If any bone of Jesus Christ could not be broken, then a nail could not have been driven through his wrists, because
    then for sure his wrist bones would be broken. <strong>The wrist has eight bones:</strong> scaphoid, lunate,
    triquetrum, pisiform, trapezium, trapezoid, capitate and hamate. These bones are kept tightly together by ligaments,
    in such a way, that if you drive a nail through the wrist you have to pierce and break some of them. Therefore,
    Jesus could not be nailed by the wrists, but by the palm of the hand. The five metacarpal bones which constiture the
    palm of the hand, are separate from each other, and thus a nail can be driven between two of them without breaking
    any. <strong>See picture # 3</strong>. This means that the hand can be pierced by a nail without breaking a bone,
    but if the wrist is pierced by a nail, it necessarily will break one or more bones. <strong>See picture #
        4.</strong></p>
<p><img alt="imageHuesosPelados" height="460" src="imageHuesosPelados.jpg" width="388"> Picture # 3 Bones of wrist, palm
    and fingers</p>
<p> The section of the wrist of the former picture, is enlarged in the next picture so that you can see that it is
    impossible to drive a nail through the wrist without breaking a bone.</p>
<p><img alt="image002" height="294" src="JesusNailedByHisHands_files/image002.jpg" width="426"></p>
<p>Picture # 4 Bones of the wrist</p>
<p><strong>Third argument. </strong> Above and beyond all these "anatomical" arguments are the biblical arguments. In
    the Bible it says several times that Jesus was pierced at his hands and his feet. It never ever mentions the wrists.
    Why then are people trying to instill in us, by means of pictures and conferences, that Jesus was nailed at his
    wrists? What are they up to? Let us see what Jesus said when he showed himself to apostles.</p>
<p> "<i>The other disciples therefore said unto him: We have seen the Lord. But</i> <i> he said unto them: <strong>Except
    I shall see in his hands the print of the nails,</strong> and <strong>put</strong></i> <strong> my finger into the
    print of the nails,</strong> <i>and thrust my hand into his side, I will not</i> <i> believe. And after eight days
    again his disciples were within, and Thomas</i> <i> with them; then came Jesus, the doors being shut, and stood in
    the midst, and</i> <i> said: Peace be unto you. Then saith he to Thomas: <strong>Reach hither thy
    finger,</strong></i> <strong> and behold my hands;</strong> <i>and reach hither thy hand, and thrust it into my
    side: and</i> <i> be not faithless, but believing</i>." ( John 20: 25-27 )</p>
<p> As we can see in this passage, <strong>Thomas knew that Jesus' hands were pierced, not his wrists</strong>. He
    expected a hole in his hands, not in his wrists. When Jesus came to them a second time, <strong>he showed Thomas his
        hands, not his wrists</strong>. <strong>It is evident</strong> that it was his hands that were pierced by the
    nails, not his wrists. This same thing can be noticed in other passages. Let us see them.</p>
<p> "<i>And when he had so said, <strong>he shewed unto them his hands</strong> and his side. Then</i> <i> were the
    disciples glad, when they saw the Lord</i>." ( John 20: 20 )</p>
<p> "<i>And he said unto them, Why are ye troubled?; and why do thoughts arise</i> <i> in your hearts? <strong>Behold my
    hands and my feet, that it is I myself;</strong> handle me,</i> <i> and see; for a spirit hath not flesh and bones,
    as ye see me have. And when</i> <i> he had thus spoken, <strong>he shewed them his hands and his feet</strong></i>."
    ( Luke 24: 38- 40 )</p>
<p> In these two passages we see that for the purpose of identifying himself Jesus showed them his hands and his feet,
    not his wrists and his feet. If we go to the prophecies of the Old Testament we will also see that when foretelling
    what Jesus was going to go through, they talked about his hands, not about his wrists.</p>
<p> "<i>For dogs have compassed me; the assembly of the wicked have inclosed</i> <i> me: <strong>they pierced my
    hands</strong> and my feet</i>." ( Psalms 22: 16 )</p>
<p> "<i>And one shall say unto him: <strong>What are these wounds in thine hands</strong>? Then</i> <i> he shall answer:
    Those with which I was wounded in the house of my friends</i>." ( Zech 13: 6 )</p>
<p> There is not the slightest doubt that Jesus was pierced through his hands and not through his wrists, like some
    weird scholars now want us to believe. Nevertheless, I will not be surprised if one of these days some weird scholar
    declares that Jesus was nailed to the cross by his ankles, not by his feet.</p>
<p> There are now some questionable "scholars" that are trying to convince Christians that in ancient times, people
    never did make a difference between "hand" and "wrist", in order to justify that Jesus was nailed by the wrist. This
    is false. In ancient times they made a difference between hand and wrist. Both, Latin and Greek have a word for
    wrist: in Latin, it was, "carpus", and in Greek it was pronounced very similar but written ,"carpoz". What these
    dubious scholars say is not true.</p>
<p></p>
<p><a href="biblenotes.html">Back to the index</a></p>

    </section>
</Layout>
    