---
import Layout from "../layout/Layout.astro";
---

<Layout title="Jesus is greater than the Holy Spirit">
    <section>
<p><strong>Jesus is greater than the Holy Spirit</strong></p>
<p> In John 15: 26 and 16: 7 we can read that Jesus promised <strong>he would send the Holy Spirit</strong>. It is
    logical to conclude that the one who sends is greater than the one who is sent. An example of this was given when
    God the Father sent Jesus to the world. Also, Jesus himself teaches this concept in John 13: 16 when he says that
    those who are sent, (in this case the apostles ), are not greater than the one who sends them.</p>
<p> As we will see in the first two verses mentioned, Jesus spoke as having authority over the Holy Spirit. Speaking in
    such a way, he shows us that <strong>he is the Lord of the Holy Spirit.</strong> If he were not, he wouldn't have
    said, "I will send him", but instead, he would have said, "I will ask him to come" or "I will pray for him to come"
</p>
<p> "<i>Verily, verily, I say unto you: The servant is not greater than his lord; <strong>neither he that is sent
    greater than he that sent him</strong></i>." ( John 13: 16 )</p>
<p> "<i>But when the Comforter is come, <strong>whom I will send unto you</strong> from the Father, even the Spirit of
    truth, which proceedeth from the Father, he shall testify of me</i>" ( John 15: 26 )</p>
<p> "<i>Nevertheless I tell you the truth; It is expedient for you that I go away, for if I go not away, the Comforter
    will not come unto you; but if I depart, <strong>I will send him</strong> unto you</i>." ( John 16: 7 )</p>
<p> These two last verses show the authority with which Jesus talked when referring to the Holy Spirit. It is not the
    same language he used when addressing the Father. In this case he used the words <strong>"pray" or "ask"</strong>.
    It is evident that the relation between Jesus and the Father God is different from that of Jesus and the Holy
    Spirit. Let's see now how he talked about his Father God.</p>
<p> "<i>And <strong>I will pray the Father</strong>, and he shall give you another Comforter, that he may abide with you
    for ever</i>" ( John 14: 16 )</p>
<p> "<i>At that day ye shall ask in my name, and I say not unto you, that <strong>I will pray the Father</strong> for
    you</i>" ( John 16: 26 )</p>
<p> "<i><strong>I pray</strong> for them; I pray not for the world, but for them which thou hast given me; for they are
    thine.</i>" ( John 17: 9 )</p>
<p> "<i><strong>I pray</strong> not that thou shouldest take them out of the world, but that thou shouldest keep them
    from the evil</i>" ( John 17: 15 )</p>
<p> "<i>Neither <strong>pray I</strong> for these alone, but for them also which shall believe on me through their word</i>
    " ( John 17: 20 )</p>
<p> We can conclude from the passages we have read, that <strong>Jesus has authority over the Holy Spirit, to give him
    orders</strong>. This is an unquestionable sign that Jesus is superior to the Holy Spirit. Jesus does not say, "I
    will ask the Holy Spirit" nor "I will pray that the Holy Spirit", but instead he says, "I will send the Holy
    Spirit", as if he were talking to someone who is obedient to him.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    