---
import Layout from "../layout/Layout.astro";
---

<Layout title="Please title this page. (Page 1)">
    <section>
        <p><strong>Jews, Muslims, and Atheists, read this: the 70 weeks of years</strong></p>
        <p> Two of the most important passages about who the Messiah is, and when He would come, are found in Nehemiah
            2:1-6 and
            Daniel 9: 25-26. <strong>The date given in this passage of Nehemiah is the starting point to compute the
                seventy
                weeks of years</strong> given in Daniel's passage. Both passages together are good arguments to prove to
            Jews,
            that Jesus is the Messiah, and to prove to Muslims and atheists, that the Bible is the book of God, and also
            that
            Jesus Christ is the Messiah. Let's see.</p>
        <p><i>"1 <strong>And it came to pass in the month Nisan, in the twentieth year of Artaxerxes the king</strong>,
            that
            wine was before him, and I took up the wine, and gave it unto the king. Now I had not been beforetime sad in
            his
            presence. 2 Wherefore the king said unto me: Why is thy countenance sad, seeing thou art not sick? This is
            nothing
            else but sorrow of heart. Then I was very sore afraid, 3 and said unto the king: Let the king live for ever.
            Why
            should not my countenance be sad, when <strong>the city, the place of my fathers' sepulchres, lieth waste,
                and the
                gates thereof are consumed with fire?</strong> 4 Then the king said unto me: For what dost thou make
            request? So
            I prayed to the God of heaven. 5 And I said unto the king: If it please the king, and if thy servant have
            found
            favour in thy sight, <strong>that thou wouldest send me unto Judah, unto the city of my fathers' sepulchres,
                that I
                may build it</strong>. 6 And the king said unto me, ( the queen also sitting by him, ): For how long
            shall thy
            journey be? and when wilt thou return? So <strong>it pleased the king to send me</strong>; and I set him a
            time."
        </i> ( Neh 2: 1-6 )</p>
        <p> According to Nehemiah chapter 2 verse 1, it was the year 20 of the reign of king Artaxerxes when Nehemiah
            had this
            conversation with the king. At that moment Jerusalem was in ruins, because of the havoc brought to it by
            Nabuchadnezzar king of Babylon, in time of Zedekiah king of Judah. We may ascertain it by reading Neh 2: 3-5
            and 1:
            1-3.</p>
        <p><i>"1 The words of Nehemiah the son of Hachaliah. And it came to pass <strong>in the month Chisleu, in the
            twentieth
            year</strong>, as I was in Shushan the palace, 2 that Hanani, one of my brethren, came, he and certain men
            of Judah;
            and I asked them concerning the Jews that had escaped, which were left of the captivity, and concerning
            Jerusalem. 3
            And they said unto me: <strong>The remnant that are left of the captivity there in the province are in great
                affliction and reproach; the wall of Jerusalem also is broken down, and the gates thereof are burned
                with
                fire</strong>." </i> ( Neh 1: 1-3 )</p>
        <p><strong>After reading these passages it is evident that</strong>:</p>
        <p> a) The people in Jerusalem were in affliction and reproach because <strong>the wall and gates were
            destroyed</strong>.</p>
        <p> b) <strong>The city had few people in it</strong>. This is confirmed in 11: 1-2 where we read that people
            were
            compulsory recruited to live in Jerusalem.</p>
        <p> c) <strong>Nehemiah requested directly and explicitly to the king, to send him to Jerusalem in order to
            rebuilt
            it</strong>. Not only did the king give the order, but he also provided troops and materials, as we can see
            in 2:
            8-9.</p>
        <p> This is an overt proof that the city had not been rebuilt yet, and <strong>that this very day of the 20th
            year of
            Artaxerxes, was the commandment given to restore Jerusalem</strong>. This is an important fact to keep in
            mind, to
            later understand Daniel's prophecy of the seventy weeks.</p>
        <p><i> </i> "<i>1</i> <i>And the rulers of the people dwelt at Jerusalem; <strong>the rest of the people also
            cast lots,
            to bring one of ten to dwell in Jerusalem</strong> the holy city, and nine parts to dwell in other cities. 2
            <strong>And the people blessed all the men, that willingly offered themselves to dwell at
                Jerusalem.</strong></i>" (
            Neh 11: 1-2 )</p>
        <p> "<i>8 And a letter unto Asaph the keeper of the king's forest, <strong>that he may give me timber to make
            beams for
            the gates of the palace which appertained to the house, and for the wall of the city, and for the house that
            I shall
            enter into. And the king granted me</strong>, according to the good hand of my God upon me. 9 Then I came to
            the
            governors beyond the river, and gave them the king's letters. Now the king had sent captains of the army and
            horsemen with me.</i>" ( Neh 2: 8-9 )</p>
        <p> In Dn 9: 25-26 it clearly says that <strong>from the going forth of the commandment to restore Jerusalem,
            till the
            Messiah</strong>, 7 weeks of years and 62 weeks of years, equal to 69 weeks of years would elapse. This
            means 69
            periods of 7 years each, which amounts to 483 years. ( Below I demonstrate that in the Bible the word "week"
            is also
            used to mean a period of seven years ).</p>
        <p> "<i>25 Know therefore and understand, that <strong>from the going forth of the commandment to restore and to
            build
            Jerusalem unto the Messiah the Prince shall be seven weeks, and threescore and two weeks</strong>; the
            street shall
            be built again, and the wall, even in troublous times. 26 <strong>And after threescore and two weeks shall
                Messiah
                be cut off</strong>, but not for himself; and the people of the prince that shall come shall destroy the
            city
            and the sanctuary; and the end thereof shall be with a flood, and unto the end of the war desolations are
            determined.</i>" ( Dn 9: 25-26 )</p>
        <p><strong>In the Encyclopedia Britannica, XV Edition 1977, Micropaedia, volume I, page 549</strong>, we read
            that King
            Artaxerxes, who is mentioned in Nehemiah 2: 1-6 as the one giving "the commandment to restore Jerusalem",
            <strong>reigned
                from 465 to 425 B.C.</strong> If this monarch started his reign in 465 B.C., the twentieth year of his
            reign
            must have been year 445 B.C.. Of course, we know that after having elapsed more than 2000 years, historical
            chronology could not be mathematically accurate, but even so, we can use it efficiently.</p>
        <p> Therefore, if from year 445 B.C. to the Messiah 483 years were going to elapse according to the prophecy,
            let's do
            the calculations to find out that 38 A.D. is the final year of this period. <strong>As a result, we see that
                the
                483-year period finishes during Christ's times.</strong></p>
        <p><strong>Maybe a stubborn person would want to allege that this period does not finish exactly on year 33
            A.D.</strong>, when Jesus was crucified, nor on the date that Jesus was born, but this is irrelevant for two
            reasons: <strong>a)</strong> the ancient chronology is not mathematically precise, a 5-year difference after
            more
            than 2000 years, doesn't mean anything; even our present era has an error of about 4 or 6 years.
            <strong>b)</strong>
            During all that time, ( a couple of centuries before and after Jesus ), there had never been another man of
            Messianic stature. Jesus was the only one.</p>
        <p><strong>It is not a matter of finding out to whom, out of three or four possible Messiahs of that
            time</strong>, sets
            best the prophecy of the 483 years. In all this period there was only one: Jesus Christ, none other.</p>
        <p><strong>Once we see all these facts,</strong> we can assert that any non-believer in Christ, who is honest,
            and who
            wants to use common sense, and has interest in searching for the truth, has to arrive to the conclusion that
            in
            these passages there is proof of the divine origin of the Bible, and that Jesus Christ is the Messiah.</p>
        <p><strong>Take note that the two passages which prove that Jesus is the Messiah belong to the Old
            Testament</strong>;
            they belong to the Scriptures that Jews accept. Therefore, an atheist, a Jew, or even a Muslim, cannot
            suspect that
            these two passages were "fixed" as to make them prove that Jesus is the Messiah, for a couple of reasons:
            <strong>1)</strong> Orthodox Jews do not "fix" Scriptures, and <strong>2)</strong> because even in the case
            that
            they wanted to fix it, they would never ever "fix" it to demonstrate that Jesus is the Messiah.</p>
        <p><strong>If the proof which demonstrates that Christ is the Messiah rests on two passages that could not be
            fixed</strong>, it is reasonable and of common sense, that this prophecy was fulfilled in Jesus Christ.
            Also,
            <strong>if 483 years in advance</strong> a unique event was prophesied, we have to recognize that <strong>the
                book
                that contains it, is not of human inspiration</strong>.</p>
        <p><strong>Let's now demonstrate that in the Bible the word "week" is also used to signify a seven-year
            period</strong>.
            It is frequent in the Bible to compute time in ways that we are not used to. In Gn 29: 18-28 the word "week"
            is used
            indicating a period of seven years. We can see this in verse 18 where it specifies that the period involved
            is seven
            years, which is also confirmed in verse 20. Though, in verse 27 they call this same period "a week". The
            same thing
            happens in verse 28. Let's see.</p>
        <p> "<i>18 And Jacob loved Rachel, and said: <strong>I will serve thee seven years for Rachel thy younger
            daughter</strong>. 19 And Laban said: It is better that I give her to thee, than that I should give her to
            another
            man; abide with me.</i></p>
        <p><i> 20 <strong>And Jacob served seven years for Rachel</strong>; and they seemed unto him but a few days, for
            the
            love he had to her……25 And it came to pass, that in the morning, behold, it was Leah; and he said to Laban:
            What is
            this thou hast done unto me? did not I serve with thee for Rachel? Wherefore then hast thou beguiled me?</i>
        </p>
        <p><i> 26 And Laban said: It must not be so done in our country, to give the younger before the firstborn. 27
            <strong>Fulfill
                her week, and we will give thee this also for the service which thou shalt serve with me yet seven other
                years</strong>. 28 And Jacob did so, <strong>and fulfilled her week</strong>; and he gave him Rachel his
            daughter to
            wife also</i>." ( Gn 29: 18-28 abbreviated )</p>
        <p> Also in Leviticus 25: 8 something similar is mentioned, when it says that seven Sabbaths of years will
            account for
            49 years. In this case, in the King James version, the word "Sabbath" is used as an equivalent for "week".
            <strong>Nevertheless,
                in the Jewish translation, from Hebrew to Spanish</strong>, by Dujovne and Konstantynowsky, and in the
            Spanish
            Reina-Valera, the word is rendered "week", and not "Sabbath".</p>
        <p> "<i>And thou shalt number <strong>seven sabbaths of years unto thee, seven times seven years</strong>; and
            the space
            of the <strong>seven sabbaths of years</strong> shall be unto thee forty and nine years</i>."<i> </i> ( Lev
            25: 8 )
        </p>
        <p> It seems as if God wanted to leave a documental proof of the use of the word "week" meaning seven years, as
            to
            disprove those who could try to deny that the weeks talked about in Dn 9: 25-26, were weeks of years.</p>
        <p><strong>In addition to all these obvious arguments and reasoning</strong>, which demonstrate that the word
            "week" was
            used to mean seven years, we can also reason that anyone who really believes in the Old Testament as God's
            Word, has
            to conclude that if in this prophecy Daniel was referring to weeks of days, then the prophecy failed
            miserably,
            because a year plus after this prophecy, nothing happened. However, if Daniel was referring to weeks of
            years, then
            the prophecy hit the mark, because 483 years after the commandment to restore Jerusalem, the Messiah came,
            and
            subsequent to it, the city was destroyed again, as the prophecy foresaid.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    