---
import Layout from "../layout/Layout.astro";
---

<Layout title="Job, Christians and trials.">
    <section>
<p>God doesn't allow trials in a person's life in order to know how that person would respond, but to let others
    know.</p>
<p> There are those who think that trying a person serves the purpose of informing God how that person is going to
    respond in certain circumstances. This is not so. God uses trials to inform others of how a person will respond to a
    situation. The best case study is Job. <strong>This man was not tried to inform God how Job would respond, but to
        demonstrate to Satan that there were people who were loyal and faithful to God; even though enduring the hardest
        trials would never depart from God.</strong></p>
<p> Satan is a creature that even though he had greatness and privileges, he deserted the Lord God because he wanted
    even more. Now, God, who knew perfectly well how Job was going to respond, allowed his trying to go on. As we see in
    verse 8, <strong>God considered Job a faithful upright servant, who feared God, and departed from sin</strong>. If
    God thought like this about Job, it is evident that He didn't need to try him in order to know how Job was. On the
    contrary, God was using Job to teach Satan a lesson; to demonstrate to him how a being of lower level, a creature
    who was less than an angel, was far more loyal and faithful than Satan himself. Even though Job was mistreated, he
    was far more faithful than many creatures, especially far more than Satan. It was the greatest honor for Job to be
    chosen by God as an example to Satan. The trials were most rough on him, but the honor of having served God for this
    purpose was also the greatest reward for a man.</p>
<p> "6 <i>Now there was a day when the sons of God came to present themselves before the LORD, and Satan came also among
    them.</i> <i>7 And the LORD said unto Satan, Whence comest thou? Then Satan answered the LORD, and said: From going
    to and fro in the earth, and from walking up and down in it.</i> <i>8 And the LORD said unto Satan: <strong>Hast
    thou considered my servant Job, that there is none like him in the earth, a perfect and an upright man, one that
    feareth God, and escheweth evil?</strong> </i> <i>9 Then Satan answered the LORD, and said: Doth Job fear God for
    nought?</i> <i>10 Hast not thou made an hedge about him, and about his house, and about all that he hath on every
    side? Thou hast blessed the work of his hands, and his substance is increased in the land.</i> <i>11 But put forth
    thine hand now, and touch all that he hath, and he will curse thee to thy face.</i> <i>12 And the LORD said unto
    Satan: Behold, all that he hath is in thy power; only upon himself put not forth thine hand. So Satan went forth
    from the presence of the LORD</i>." ( Job 1: 6-12 )</p>
<p><strong>God never needs to put a person to the test in order to know him.</strong> He knows how each person is going
    to react or behave. When He puts someone to the test, it is to show others how this "someone" is going to behave or
    react when confronted with a special situation.</p>
<p><strong>Some brothers mistakenly call "tests and trials" to things that are the logical consequences of their sins
    and mistakes.</strong> They are not being tested or tried, they are suffering for their mistakes and sins. God is
    not trying these brothers, they are too weak, and may be broken if tried. God only permits trials on people like
    Job, because He knows those who are not going to let Him down. Before believing you are "tried", think if you are
    <strong>a perfect, upright man, who fears God, and eschews evil.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    