
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Job, los cristianos y las "pruebas".</title>
</head>
<body>
<p><strong>Dios no prueba a las criaturas para saber Él, sino para que otras criaturas sepan.</strong></p>
<p> Hay quienes creen que las pruebas que nos vienen a nosotros son para Dios saber cómo reaccionaríamos nosotros ante
    ciertas circunstancias. No hay tal cosa. Cuando Dios permite pruebas es <strong>para informar a otras criaturas de
        cómo reaccionaríamos.</strong> El mejor caso para estudiar este asunto es el de Job. <strong>Este hombre no fue
        probado para informar a Dios cómo iba él a reaccionar; eso lo sabía Dios de antemano</strong>. Job fue probado
    para demostrar a Satanás cómo criaturas de más baja categoría que la de un ángel, eran obedientes y agradecidos con
    Dios aunque las circunstancias les fueran adversas. Dios permitió la prueba que padeció Job, para demostrar su
    lealtad a Dios a pesar de lo que padecía.</p>
<p> Satanás es una criatura que a pesar de haber tenido grandeza y privilegios, se rebeló contra Dios, porque quería
    todavía más. Por eso, Dios, que conocía perfectamente cómo iba Job a reaccionar, permitió que Satanás lo despojara
    de todo. Digo que Dios sabía cómo iba a reaccionar Job, porque en Job 1: 8 cuando Dios habla con Satanás sobre Job,
    dice que era su siervo, y que era un hombre <strong>perfecto, recto, temeroso de Dios y apartado del mal.</strong>
    Si Dios pensaba así de Job, se evidencia que Él no estaba tratando de ver cómo era Job, sino que <strong>estaba
        usando a Job para darle una lección de fidelidad a Satanás.</strong> Dios usó a Job para demostrar cómo una
    criatura de menor nivel que Satanás, era capaz de seguir siendo fiel aunque le quitaran todo lo que tenía, y aunque
    sufriera de una amarga dolencia.</p>
<p><strong>Fue un gran honor para Job haber podido servir a Dios para darle una lección de fidelidad a Satanás</strong>.
    La prueba fue la más dura conocida, pero el honor de haber servido a Dios en este asunto, es la más grande
    recompensa que un hombre podría obtener.</p>
<p></p>
<p> "6 <i>Y un día vinieron los hijos de Dios a presentarse delante de Jehová, entre los cuales vino también Satán.</i>
    7 <i>Y dijo Jehová a Satán: ¿De dónde vienes? Y respondiendo Satán a Jehová, dijo: De rodear la tierra, y de andar
        por ella.</i> 8 <strong>Y Jehová dijo a Satán: ¿No has considerado a mi siervo Job, que no hay otro como él en
        la tierra, varón perfecto y recto, temeroso de Dios, y apartado de mal?</strong> 9 <i>Y respondiendo Satán a
        Jehová, dijo: ¿Teme Job a Dios de balde?</i> 10 <i>¿No le has tú cercado a él, y a su casa, y a todo lo que
        tiene en derredor? Al trabajo de sus manos has dado bendición; por tanto su hacienda ha crecido sobre la
        tierra.</i> 11 <i>Mas extiende ahora tu mano, y toca a todo lo que tiene, y verás si no te blasfema en tu
        rostro.</i> 12 <i>Y dijo Jehová a Satán: He aquí, todo lo que tiene está en tu mano; solamente no pongas tu mano
        sobre él. Y salió Satán de delante de Jehová</i>." ( Job 1: 6-12 )</p>
<p><strong>Dios nunca necesita probar a una persona con objeto de saber cómo es.</strong> Él sabe como es y cómo va a
    reaccionar cada persona. Cuando Dios permite una prueba sobre un ser humano es para probar a otros cómo se comporta
    esa persona ante esa prueba.</p>
<p><strong>Algunos hermanos, erradamente, le llaman "pruebas" a las lógicas consecuencias de sus pecados y sus
    errores</strong>. Dios no está enviando "pruebas" a esa gente, ellos son demasiado débiles para eso, y si se les
    prueba, pueden quebrarse. Ellos está sufriendo las consecuencias de sus acciones. Dios solamente permite ese tipo de
    pruebas en personas de la calidad de Job, porque Él sabe que los que no tienen esa calidad lo van a hacer quedar mal
    si los prueba.</p>
<p><strong>Recuerden, no confundan las consecuencias de sus errores y pecados, con pruebas como la de Job, a menos que
    Dios pueda decir de ustedes que son perfectos, rectos, temerosos de Dios y apartados del mal.</strong> Si no son de
    esa calidad, no se auto adulen creyendo que vuestras amarguras son pruebas.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>