---
import Layout from "../layout/Layout.astro";
---

<Layout title="Jonah was clean when he arrived at Niniveh">
    <section>
<p>Jonah did not arrive at Nineveh immediately after being vomited from the mouth of the <strong>whale</strong></p>
<p></p>
<p> One of the stories of fantasy that do not have a Biblical basis is the one I have heard more than one pastor
    relate<strong>.</strong> I have heard them say that when Jonah arrived at Nineveh<strong>,</strong> he arrived
    tattered with his skin discolored for being partially digested in the stomach of the whale<strong>,</strong> his
    hair dripping slobber and with a deplorable and terrifying aspect<strong>,</strong> a reason by
    which<strong>,</strong> <strong>according to them,</strong> impressed the Ninevites so very much<strong>.</strong>
    This story is an excess of fantasy without the least base in Bible or logics<strong>,</strong> as I will
    explain<strong>.</strong> This story is much the same as the story about the High Priests who had to enter the Most
    Holy Place with a rope tied to his ankle<strong>.</strong> These are all <strong>legends invented by people who want
        to have something "new to tell",</strong> which legends are believed by many good brothers<strong>,</strong> and
    they repeat them without analyzing what was said to them<strong>.</strong> There are those who think that the Bible
    not only must be read<strong>,</strong> but also meditate it<strong>.</strong> That is fine<strong>,</strong> but it
    seems that those fantasies are the product of people who read very little the Bible<strong>,</strong> but they
    "meditate" too much<strong>.</strong> They should read it more and "meditate" it less<strong>.</strong></p>
<p> Jonah<strong>,</strong> in order to flee from God<strong>,</strong> went to the port of Joppa<strong>,</strong>
    which is found on the coast of Israel<strong>,</strong> in the Mediterranean Sea<strong>,</strong> next to Tel Aviv
    and is currently named Jaffa<strong>.</strong> It was there that he boarded the ship<strong>;</strong> it was in
    that Mediterranean Sea that the whale swallowed him<strong>;</strong> and it was on the coast of that sea that the
    whale vomited him<strong>.</strong></p>
<p></p>
<p></p>
<p><strong>"</strong>But Jonah rose up to flee unto Tarshish from the presence of the LORD<strong>,</strong> and went
    down to Joppa<strong>;</strong> and he found a ship going to Tarshish<strong>;</strong> so he paid the fare
    thereof<strong>,</strong> and went down into it<strong>,</strong> to go with them unto Tarshish from the presence of
    the LORD<strong>."</strong></p>
<p> (Jonah 1<strong>:</strong>3)</p>
<p></p>
<p> Whoever checks a map of that region would realize that Jonah<strong>,</strong> in order to go to
    Nineveh<strong>,</strong> could not go into the belly of a whale, because Mediterranean Sea has no connection with
    Nineveh. He had to reach first the Mediterranean coast, and from there head east<strong>,</strong> cross the nation
    of Israel and walk more than 500 miles (800 Kms<strong>.</strong>) in order to reach Nineveh<strong>.</strong></p>
<p> It is logical therefore<strong>,</strong> that he bathed<strong>,</strong> dressed and rested in Israel and that it
    would take him a while to walk the 500 miles<strong>.</strong> At the moment in which Jonah reached
    Nineveh<strong>,</strong> the slobber on his hair and the supposed lesions on his skin<strong>,</strong> if he truly
    had them<strong>,</strong> were completely healed<strong>.</strong> This means that when Jonah arrived at
    Nineveh<strong>,</strong> he was a normal man in which no hints of the tragic episode he had passed through were
    visible<strong>.</strong> I don't know why such nonsenses are invented<strong>.</strong> Better to say that I do
    know, it is for having something new to say, who knows with what purpose. It is valid to use reasoning to our
    interpretations<strong>,</strong> but not invent nonsenses and present them as if they were pure Biblical
    interpretation<strong>.</strong></p>
<p><a href="biblenotes.html">Back to the index</a></p>
<p></p>

    </section>
</Layout>
    