
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Judas was a traitor not a patriot</title>
</head>
<body>
<p><strong>NOW THEY WANT TO CONVINCE US THAT JUDAS WAS NOT A TRAITOR, BUT A PATRIOT.</strong></p>
<p> It is noticeable nowadays a strange endeavor carried out by certain "biblical scholars" trying to convey in their
    works, in a very sneaky way, the idea that Judas Iscariot was not a traitor, but a patriot. The idea seems as if it
    came out of a fairy tale book. According to them Judas betrayed Jesus in order to force him to manifest himself as
    the Messiah, and to save Israel from the Romans. It is to say that Judas was an honorable patriot and not a
    repugnant traitor. Sadly many Christians swallow such a fantastic "explanation" of the behavior of that traitor,
    because they do not read the Bible, and so they accept any fairy tale they hear. To start with, let us learn what
    was John's frame of mind regarding Judas. <strong>Saint John who knew Judas, personally</strong> and had much more
    information than these "scholars" that now want to justify him, <strong>stated without any hesitation that Judas was
        a thief</strong>. This he said <strong>long after these events</strong>, after the misunderstandings would have
    been cleared up, and passions had settled down. Let's read.</p>
<p></p>
<p> "<i>Then saith one of his disciples, <strong>Judas Iscariot</strong>, Simon's</i></p>
<p><i>son, which would betray him:</i> <i>Why was not this ointment</i></p>
<p><i>sold for three hundred pence, and given to the poor? <strong>This</strong></i></p>
<p><strong>he</strong> <strong>said, not that he cared for the poor; but because he was</strong></p>
<p><strong>a thief</strong><i>, and had the bag, and</i> <i>bare what was put therein."</i></p>
<p>( John 12: 4 - 6 )</p>
<p></p>
<p><strong>If he was a thief, then he was not a patriot.</strong> Something else to notice is that the supposed patriot
    did not care for the poor people of his own country. <strong>It is impossible to conceive a real patriot who does
        not care for the poor people</strong>. This just is not true. <strong>Another clear fact is that he betrayed
        Jesus for money.</strong> If he were a patriot he wouldn't stain his hands with money nor with a betrayal. When
    he hanged himself it was not because he repented of his betrayal. He hanged himself because he could not resist the
    demonic tortures he was subsequently exposed to. When he was forsaken, given up, deprived of God's shelter, demons
    didn't have any restriction, and oppressed him. <strong>Peter sinned heavily when he denied Jesus, but his
        repentance was genuine, and was received again. If Judas really repented he would be forgiven.</strong> There is
    no sin big enough for God's forgiveness, if there is a genuine repentance. Judas did not repent of what he did
    against Jesus, he repented of the demonic consequences that his betrayal had brought to him. He knew Jesus perfectly
    well, he knew that Jesus forgave anyone who repents sincerely. But even so he did not want to ask for forgiveness.
</p>
<p></p>
<p> "<i>Then one of the twelve, called Judas Iscariot, went unto</i></p>
<p><i> the chief priests, and said</i> <i>unto them: <strong>What will ye give me,</strong></i></p>
<p><strong> and I will deliver him unto you? And they</strong> <strong>covenanted with</strong></p>
<p><strong> him for thirty pieces of silver. And from that time he sought</strong> <strong> opportunity to betray
    him</strong>." ( Mt 26: 14 -16 )</p>
<p></p>
<p> As we can see in the former passage, <strong>his betrayal was premeditated</strong>, having as the only purpose to
    get the thirty pieces of silver, but the whole money bag. <strong>He had the opportunity to ponder and consider what
        he was going to do, and even so he chose to betray.</strong> Not only did he betray Jesus, but in the peak of
    his impudence he chose to kiss him as a signal. A man who behaves like this is not a patriot nor does he believe
    that Jesus could save his nation from the Romans. If he had believed it, he would not do what he did. Many years
    after Judas' betrayal, <strong>those who knew him personally still believed that he was a traitor, a scum, a vile
        man, a despicable person and a thief.</strong> If Judas had behaved as a patriot these men would not keep
    thinking of him that same way so many years later. John's gospel was written many years after Judas' betrayal. John,
    who was better informed about Judas than these <strong>questionable "scholars" who try to justify Judas,</strong>
    says that <strong>Judas' betrayal was the consequence of letting the Devil enter his heart</strong>. Those who
    really knew about Judas tell us that <strong>Judas was not a patriot, but a servant of Satan</strong>. Let us see.
</p>
<p></p>
<p> "<i>And supper being ended, <strong>the Devil having now put into</strong></i></p>
<p><strong> the heart of Judas Iscariot,</strong> <i>Simon's son, to betray him</i>…"</p>
<p> ( John 13: 2 )</p>
<p></p>
<p><strong>But there is still a better testimony than all these</strong>.<strong> Jesus Christ, who because of his
    divinity "knew what was in man", never justified nor lessened the gravity of what was done by Judas</strong>. On the
    contrary, Jesus put a heavy load in the back of the one who betrayed him. In Matt 26: 24 and Mark 14: 21 Jesus
    condemned his action, and knowing the non-repentant condition of Judas' heart, said that it was better for him if he
    had never been born.</p>
<p></p>
<p> "<i>The Son of man goeth as it is written of him: but woe unto</i></p>
<p><i> that man by whom the Son</i> <i>of man is betrayed!, it had been</i></p>
<p><i> good for that man if he had not been born.</i>" ( Matt 26: 24 )</p>
<p></p>
<p><strong>If Judas had the slightest justification, or if the Lord knew that he would repent, or that he had
    repented,</strong> the Lord, who was willing to die for the sinner, would have forgiven him, and in addition, would
    have given a better testimony of him. If the Lord spoke like this of Judas, it is because <strong>he did not
        consider him an honorable man nor a patriot.</strong> Remember that the Lord did not need anyone's witness,
    because he knew man, as John 2: 25 says.</p>
<p></p>
<p> "<i>And <strong>needed not that any should testify of man</strong>; for he</i></p>
<p><i> knew what was in man</i>." ( John 2: 25 )</p>
<p></p>
<p> As we can see, Jesus <strong>personally</strong>, as well as the apostles, <strong>who really knew first hand this
    episode of the gospel</strong>, never justified Judas. But these modern "scholars" make suspicious efforts to
    justify him. What are they planning? Are they trying to soften Christians with the aim to unite them later with
    those that admire Judas for his betrayal of Jesus?</p>
<p><strong><a href="biblenotes.html">Back to index</a></strong></p>
</body>
</html>