---
import Layout from "../layout/Layout.astro";
---

<Layout title="Judge not, that ye be not judged">
    <section>
<p><strong>Exaggeration of the commandment:</strong> <strong>"Judge not, that ye be not judged"</strong></p>
<p> There are some Christians that exaggerate this advice of the Lord to such an extent, that they think they cannot
    emit an opinion about anything or anyone. They have hypertrophied and twisted this verse so much that they refrain
    themselves from giving a report about the characteristics, traits or behaviors of another person. There are others
    who, being immersed in their sins, do not desire that any brother rebuke or advise them. They fend themselves off by
    grabbing hold of this verse. I know a man who used to say: <strong>"Do not, judge! Do not judge! Beware of the
        spiritual consequences of judging others". </strong> This was his way to coerce into silence any brother who
    wanted to talk to him about his adulteries and fornications.</p>
<p> "<i>Judge not, that ye be not judged. For with <strong>what judgment ye judge, ye shall</strong></i> <strong> be
    judged:</strong> <i>and with what measure ye mete, it shall be measured to you again.</i> <i> And why beholdest thou
    the mote that is in thy brother's eye, but considerest</i> <i> not the beam that is in thine own eye? Or how wilt
    thou say to thy brother: "Let</i> <i> me pull out <strong>the mote</strong> out of thine eye"; and, behold, a beam
    is in thine own eye?</i> <i> Thou hypocrite, <strong>first cast out the beam out of thine own eye</strong>; and then
    shalt thou</i> <i> see clearly to cast out the mote out of thy brother's eye</i>." ( Matt 7:1-5 )</p>
<p> What the Lord is saying here, to my understanding, is that we should not point out small flaws in our brothers,
    while we are deeply involved in bigger and deeper flaws ourselves. What the Lord means is <strong>that we must not
        judge unjustly</strong>, nor give ourselves the right to say if an illness or suffering is a punishment or
    simply an accident of life, neither if a person is going to go to hell or going to be saved. <strong>Based on the
        integral teaching of the Bible</strong>, <strong>I do not believe</strong> Our Lord is telling us that <strong>we
        must not use our common sense and discernment</strong> to get an idea about the behavior and attitudes of other
    people. Instead, I think that he is exhorting us not to unjustly apply rules to other people, because what we do to
    others we could have done unto us. This is the interpretation that can be drawn from phrases like "…<i>with what
        judgment ye judge, ye shall be judged</i> " and "…<i>considerest not the beam that is in thine own eye</i> " If
    we read a little further in verses 15-20 we see that J<strong>esus himself exhorts us to judge who is a false
        prophet.</strong> If this is what the Lord says after having said "<i>Judge not, that ye be not judged</i> ", it
    is evident that he is not trying to paralyze our adequate discernment.</p>
<p> "<strong>Beware of false prophets</strong><i>, which come to you in sheep's clothing, but</i> <i> inwardly they are
    ravening wolves. <strong>Ye shall know them by their fruits</strong>.</i> <i> Do men gather grapes of thorns, or
    figs of thistles? Even so every <strong>good tree</strong></i> <i> bringeth forth <strong>good fruit</strong>; but
    <strong>a corrupt tree</strong> bringeth forth evil fruit. A good</i> <i> tree cannot bring forth evil fruit,
    neither can a corrupt tree bring forth good</i> <i> fruit. Every tree that bringeth not forth good fruit is hewn
    down, and cast into</i> <i> the fire. Wherefore <strong>by their fruits ye shall know them</strong></i>." ( Matt 7:
    15-20 )</p>
<p><strong>It is evident that the Lord is telling us to try to distinguish between who is a false prophet and who is
    not.</strong> To get to such a conclusion it is necessary for us to judge. <strong>We have to judge</strong> who is
    a good tree; <strong>we have to judge</strong> who is a bad tree; <strong>we have to judge</strong> what are good
    fruits. Therefore, it is not that kind of judgment that the Lord is forbidding us. Should Matthew 7:1-5 be a total
    prohibition of judging anything or anyone, <strong>this would cause us to have a mental paralysis.</strong> If we
    see a bully beating a little old lady to death with a club, we could not say that he is a scoundrel, because we
    would be judging this person. <strong>If this really was Jesus' command then, even the pastoral institution could
        not exist,</strong> because telling someone to believe in Christ in order to be saved means that the pastor
    judged that he is not saved. The job of a pastor implies to watch out for the souls, and tell them when they are
    sinning; <strong>and this action involves judging</strong>. If the pastor and deacons see a member doing something
    that is out of order, they could not dare to tell him anything, because he would reply: <strong>"do not judge that
        you be not judged"</strong>. Jesus did not put pastors in a position where they would be constantly afraid of
    committing this farfetched "sin of judging". Also, when a Christian preaches the gospel to a person, <strong>this
        Christian must be "judging", because he is thinking that the person is not saved,</strong> and therefore, he is
    committing the bizarre "sin of judging". <strong>Jesus did not put Christians on the verge of sinning by means of
        "judging" that a person is not saved.</strong> To think that is wrong. That interpretation is ludicrous. Even
    the first Christians did not have this attitude of "not judging any thing". We can see this in Acts 16:15 where
    Lydia compelled Paul to judge her. Also, in I Co 2:15, where Paul himself says that a spiritual man judges all
    things. Or, in I Co 5: 3, where Paul says that he judges, and with a judgment of punishment. Again, in I Co 5:
    12-13, where we can see how Christians judged other Christians. Or, in I Co 6:1, where we see that saints did judge,
    and not only that, but in verse 4 it says that <strong>it was the duty of Christians to judge</strong> their
    brethren. We see the same thing in I Co 10:15 and 11:13 where <strong>Paul asked the brethren to judge what he was
        saying</strong>. And finally we have I Co 14: 29, where it is evident that the brethren should judge what the
    prophets say during church services. As we can see, <strong>our first brethren,</strong> who were closer to the
    teachings of Jesus and the apostles, <strong>did not have that extremist attitude of not judging</strong>. Those who
    hold fast to this erroneous interpretation have one of two reasons: <strong>1)</strong> They do not fully understand
    this teaching of Jesus, or <strong>2)</strong> They do not want anybody to rebuke them for their sins in or out of
    the church.</p>
<p><a href="biblenotes.html">Back to the index</a></p>

    </section>
</Layout>
    