---
import Layout from "../layout/Layout.astro";
---

<Layout title="Judíos, musulmanes y ateos, lean esto: las 70 semanas de años">
    <section>
        <p><strong>Judíos, musulmanes y ateos lean esto: las 70 semanas de años</strong></p>
        <p> Este pasaje de Neh 2: 1-6 es uno de los más importantes en las profecías sobre quién era y cuándo vendría el
            Mesías.
            <strong>En la fecha dada en este pasaje se basa el comienzo del cómputo del tiempo que cubriría la profecía
                de las
                setenta semanas de años</strong> la cual se halla en Dn 9: 25-26. Ambos pasajes unidos son un magnífico
            argumento para probar a los judíos, que Cristo es el Mesías, y a los ateos y musulmanes, que la Biblia es el
            libro
            de Dios, y que Jesucristo es el Mesías. Veamos.</p>
        <p></p>
        <p> "1 <i>Y fue <strong>en el mes de Nisán, en el año veinte del rey Artajerjes</strong>, que estando ya el vino
            delante
            de él, tomé el vino, y lo di al rey. Y como yo no había estado antes triste en su presencia,</i> 2 <i>me
            dijo el
            rey: ¿Por qué está triste tu rostro, pues no estás enfermo? No es esto sino quebranto de corazón. Entonces
            temí en
            gran manera.</i> 3 <i>Y dije al rey: El rey viva para siempre. ¿Cómo no estará triste mi rostro, cuando
            <strong>la
                ciudad, casa de los sepulcros de mis padres, está desierta, y sus puertas consumidas del fuego?</strong></i>
            4 <i>Y
                me dijo el rey: ¿Qué cosa pides? Entonces oré al Dios de los cielos,</i> 5 <i>y dije al rey: Si al rey
                place, y si
                agrada tu siervo delante de ti, que <strong>me envíes a Judá, a la ciudad de los sepulcros de mis
                    padres, y la
                    reedificaré</strong>.</i> 6 <i>Entonces el rey me dijo, ( y la reina estaba sentada junto a él):
                ¿Hasta cuándo
                será tu viaje, y cuándo volverás? Y <strong>plugo al rey enviarme</strong>, después que yo le señalé
                tiempo</i>." (
            Neh 2: 1-6 )</p>
        <p> Al comenzar este capítulo 2, vemos que Nehemías se halla en el año 20 del reinado de Artajerjes, según el
            versículo
            uno. En ese momento Jerusalem estaba aún en ruinas a consecuencia de la destrucción que Nabucodonosor había
            llevado
            a cabo en época del rey Sedequías de Judá. Sabemos que Jerusalem estaba en ruinas por lo dicho por Nehemías
            al rey
            Artajerjes en 2: 3-5, como ya vimos, y lo dicho en Neh 1: 1-3, que es el pasaje que sigue.</p>
        <p></p>
        <p> "1 <i>Palabras de Nehemías, hijo de Hachalías. Y acaeció <strong>en el mes de Chisleu, en el año
            veinte</strong>,
            estando yo en Susán, capital del reino,</i> 2 <i>que vino Hanani, uno de mis hermanos, él y ciertos varones
            de Judá,
            y les pregunté por los judíos que habían escapado, que habían quedado de la cautividad, y por Jerusalem.</i>
            3 <i>Y
                me dijeron: <strong>El residuo, los que quedaron de la cautividad allí en la provincia, están en gran
                    mal y afrenta,
                    y el muro de Jerusalem derribado, y sus puertas quemadas a fuego</strong></i>." ( Neh 1: 1-3 )</p>
        <p><strong>En estos versículos anteriormente leídos se evidencia que:</strong></p>
        <p><strong>a)</strong> la gente que vivía en Jerusalem estaba en gran mal y afrenta, debido a que <strong>los
            muros de
            la ciudad estaban derribados y sus puertas quemadas</strong>;</p>
        <p><strong>b) la ciudad estaba desierta, es decir poca gente habitaba en ella</strong>, esto se confirma en 11:
            1-2
            donde vemos una especie de leva compulsoria para reclutar habitantes para Jerusalem;</p>
        <p><strong>c) Nehemías pide al rey directamente, que lo envíe a reedificar a Jerusalem</strong>, lo cual es
            señal cierta
            de que aún no estaba reedificada, y que <strong>en ese momento se estaba dando a Nehemías, por parte del rey
                Artajerjes, la orden de reedificar a Jerusalem</strong>. No sólo dio el rey la orden oficial para la
            reconstrucción de Jerusalem, sino que además dio tropas y materiales, como vemos en Neh 2: 8-9.</p>
        <p> Por todo lo anteriormente dicho, no cabe la más mínima duda de que <strong>"la salida de la palabra para
            restaurar y
            edificar a Jerusalem" tuvo lugar el año 20 del rey Artajerjes</strong>, porque antes de eso no había sido
            reedificada.</p>
        <p></p>
        <p> "<i>Y habitaron los príncipes del pueblo en Jerusalem; <strong>mas el resto del pueblo echó suertes para
            traer uno
            de diez que morase en Jerusalem</strong>, ciudad santa, y las nueve partes en las otras ciudades. <strong>Y
            bendijo
            el pueblo a todos los varones que voluntariamente se ofrecieron a morar en Jerusalem</strong></i>." ( Neh
            11: 1-2 )
        </p>
        <p> "8 <i>Y carta para Asaf, guarda del bosque del rey, a fin que <strong>me dé madera para enmaderar los
            portales del
            palacio de la casa, y para el muro de la ciudad, y la casa donde entraré. Y me lo otorgó el rey</strong>,
            según la
            benéfica mano de Jehová sobre mí. 9 Y vine luego a los gobernadores de la otra parte del río, y les dí las
            cartas
            del rey. <strong>Y el rey envió conmigo capitanes del ejército y gente de a
                caballo</strong></i><strong>.</strong>"
            ( Neh 2: 8-9 )</p>
        <p> Por otra parte Dn 9: 25-26 dice claramente que <strong>desde la salida de la palabra para reedificar a
            Jerusalem
            hasta el Mesías</strong>, transcurrirían 7 semanas y 62 semanas, o sea, 69 semanas. <strong>Esas 69 semanas
            son de
            años;</strong> o sea, que sesenta y nueve semanas de años representan 483 años, porque 7 x 69 = 483. ( Vamos
            a
            demostrar más abajo que en la Biblia se usa la palabra semana para denotar 7 años ).</p>
        <p></p>
        <p> "S<i>epas pues y entiendas, que <strong>desde la salida de la palabra para restaurar y edificar a Jerusalem
            hasta el
            Mesías Príncipe, habrá siete semanas, y sesenta y dos semanas</strong>; se tornará a edificar la plaza y el
            muro en
            tiempos angustiosos. Y <strong>después de las sesenta y dos semanas se quitará la vida al Mesías</strong>, y
            no por
            sí; y el pueblo de un príncipe que ha de venir, destruirá a la ciudad y el santuario; con inundación será el
            fin de
            ella, y hasta el fin de la guerra será talada con asolamientos</i>." ( Dn 9: 25-26 )</p>
        <p><strong>Si ahora vamos a la Enciclopedia británica, XV Edición 1977, Micropaedia, volumen I, página 549,
            veremos que
            el rey Artajerjes I que se menciona en el pasaje base como dando la "palabra para restaurar y edificar a
            Jerusalem"
            reinó desde el año 465 al 425 a.C.</strong> Si este monarca comenzó a reinar en el año 465 a.C., el año
            veinte de su
            reinado sería el 445 a.C. Ya sabemos que la cronología tanto la bíblica como la histórica no es muy exacta,
            pero aún
            así podemos basarnos en ella para obtener la verdad.</p>
        <p> Pues bien, si desde el año 20 de Artajerjes ( 445 a.C. ) hasta el Mesías, iban a transcurrir 483 años,
            hagamos los
            cálculos y veremos que <strong>venimos a caer en el año 38 después de Cristo.</strong> Es decir que aún con
            la
            inexactitud de la cronología, el cómputo nos hace llegar a la época de Jesucristo.</p>
        <p><strong>Pudiera algún aferrado alegar que el cómputo cae en el año 38 y no en el 33,</strong> cuando mataron
            a
            Cristo; ni en el año cero, cuando nació Jesús. Pero eso es irrelevante por dos razones: <strong>a)</strong>
            porque
            por ser inexacta la cronología, esos 5 años no son gran diferencia, incluso la era actual tiene 4 ó 6 años
            de error
            y, <strong>b)</strong> en toda aquella época (dos siglos antes o dos siglos después de Cristo) no surgió
            otro ser de
            estatura mesiánica, aparte de Jesucristo. Es decir, que <strong>no</strong> se trata de ver a cual de tres o
            cuatro
            personajes contemporáneos unos de otros en aquella época, le viene mejor la cronología profética. Si hubiera
            habido
            otros "mesías" con la estatura religiosa de Cristo, pudiera haber dudas; pero no, él fue el único en toda
            aquella
            época. Es lógico pues admitir que el plazo se cumplió en él, aunque a esta distancia en el tiempo, existan
            inexactitudes de cuatro o seis años en los cómputos.</p>
        <p><strong>Una vez visto todo esto, podemos decir que cualquier no creyente en Cristo</strong>, que sea honesto,
            que
            quiera razonar sobre el asunto, que tenga interés en investigar la verdad, tiene que darse cuenta de que ahí
            tiene
            <strong>una prueba del origen divino de la Biblia y de que Jesús es el Mesías.</strong></p>
        <p> Los dos pasajes que prueban que Jesús cumple la profecía hecha sobre el Mesías, pertenecen al Antiguo
            Testamento, o
            sea, pertenecen a lo que los judíos admiten y administran. <strong>No puede pues existir en un ateo la
                sospecha de
                que esos dos pasajes fueron "arreglados" para que concordaran con Jesucristo</strong>, puesto que:
            <strong>1)</strong> los judíos ortodoxos no "arreglan" la Escritura; y <strong>2)</strong> porque aún en el
            caso de
            que la "arreglaran", jamás la arreglarían para demostrar que Jesucristo es el Mesías.</p>
        <p> Por lo tanto, si las pruebas de que el advenimiento de Cristo estaba profetizado con exactitud, descansan en
            pasajes
            que no pueden haber sido arreglados, es justo pensar que la profecía esa se cumplió. <strong>Y si 483 años
                de
                antemano, se profetiza un evento singular, más bien único, hay que llegar a la conclusión de que el
                libro que lo
                contiene no es, y no puede ser, de inspiración humana.</strong></p>
        <p> Recuérdese que lo de Artajerjes fue <strong>un permiso oficial respaldado por fuerzas del ejército</strong>
            (Neh 2:
            9 ), <strong>para reedificar a Jerusalem.</strong> Fue Artajerjes el que, además de permiso y tropas, dio
            materiales
            de construcción para reedificar la ciudad y la muralla (Neh 2: 8 ); no puede haber dudas de que la orden de
            reconstrucción de la ciudad fue dada por Artajerjes en al año 20 de su reinado.</p>
        <p><strong>Vamos a demostrar ahora que en la Biblia se usa la palabra "semana" para denotar un período de 7
            años.</strong> Es frecuente en la Biblia el contar el tiempo en forma que a nosotros actualmente nos parece
            extraño.
            En Gn 29: 18-28 se ve cómo se llamaba "semana" a un período de siete años. En el versículo 18 se especifica
            que son
            siete años el lapso del contrato. Eso mismo se confirma en el 20. En el 27, sin embargo, a ese mismo lapso
            se le
            llama una semana. Otro tanto ocurre en el 28. Veamos.</p>
        <p></p>
        <p> "18 <i>Y Jacob amó a Rachel, y dijo: Yo <strong>te serviré siete años por Rachel</strong> tu hija menor.</i>
            19 <i>Y
                Labán respondió: Mejor es que te la dé a ti, que no que la dé a otro hombre; estate conmigo</i>.</p>
        <p> 20 <i>Así <strong>sirvió Jacob por Rachel siete años</strong>; y le parecieron como pocos días, porque la
            amaba.
            ...... 25 Y venida la mañana, he aquí que era Lea; y él dijo a Labán: ¿Qué es esto que me has hecho? ¿no te
            he
            servido por Rachel? ¿por qué, pues, me has engañado?</i></p>
        <p> 26 <i>Y Labán respondió: No se hace así en nuestro lugar, que se dé la menor antes de la mayor. 27 <strong>Cumple
            la
            semana de ésta, y se te dará también la otra, por el servicio que hicieres conmigo otros siete años</strong>.
            28 E
            hizo Jacob así, <strong>y cumplió la semana de aquélla</strong>, y él le dio a Rachel su hija por mujer.</i>"
            ( Gn
            29: 18-28 abreviado )</p>
        <p><strong>También en Levítico 25: 8 se menciona con toda claridad las semanas de años</strong>; o sea, períodos
            de 7
            años, de forma tal, que siete semanas forman 49 años. Es como si Dios hubiese querido dejar prueba
            documental para
            los que quisiesen negar que las semanas de Daniel 9: 25-26 son semanas de años.</p>
        <p></p>
        <p> "<i>Y te has de contar <strong>siete semanas de años, siete veces siete años</strong>; de modo que los días
            de las
            siete semanas de años vendrán a serte cuarenta y nueve años</i>." ( Lev 25: 8 )</p>
        <p> En el mismo libro de Daniel, en 10: 3, y como para evitar confusiones con semanas de años, se <strong>aclara
            que las
            semanas de las que allí se hablan, son semanas de días</strong>. Tal vez, sabiendo que antes había hablado
            de
            semanas de años, se cree obligado aquí a aclarar que son semanas de días, para evitar confusiones. Veamos.
        </p>
        <p></p>
        <p> "<i>No comí pan delicado, ni entró carne ni vino en mi boca, ni me unté con ungüento, hasta que se
            cumplieron tres
            <strong>semanas de días</strong></i>." ( Dn 10: 3 )</p>
        <p> Además de todos estos obvios razonamientos que nos <strong>demuestran que era costumbre hablar de semanas de
            años,</strong> podemos razonar que cualquiera que crea en el Antiguo Testamento como palabra de Dios, tiene
            que
            concluir que si en la profecía de las 70 semanas se refiriera a semanas de días, entonces la profecía no se
            hubiera
            cumplido; porque año y pico (setenta semanas) después de comenzada la reedificación de Jerusalem no la
            volvieron a
            destruir ni vino el Mesías. Sin embargo, más de 483 años después de su reconstrucción fue destruida la
            ciudad y el
            santuario; prueba de que se trataba de semanas de años.</p>
        <p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    