---
import Layout from "../layout/Layout.astro";
---

<Layout title="Como Ladrón en la Noche es para inconversos">
  <section>
<p><strong>COMO LADRÓN EN LA NOCHE, CRISTO SORPRENDERÁ A LOS INCONVERSOS, NO A LOS CRISTIANOS.</strong></p>
<p> Eso de que la Segunda Venida de Cristo sorprenderá como un ladrón en la noche<strong>,</strong> se refiere a los
  inconversos<strong>,</strong> <strong>no a los cristianos.</strong> Es decir<strong>,</strong> que los cristianos no
  serán sorprendidos por su Segunda Venida<strong>,</strong> pues aunque el día y la hora no se sabe<strong>,</strong>
  ni hay por qué saberlo<strong>,</strong> la época de su venida sí puede saberse<strong>;</strong> y tal vez hasta el
  año<strong>.</strong> <strong>No estoy diciendo que puede saberse desde ahora,</strong> pero sí podrá saberse cuando
  comiencen las principales señales<strong>,</strong> en particular los siete años de la Gran
  Tribulación<strong>,</strong> puesto que es al fin de ese período que Nuestro Señor regresa<strong>.</strong></p>
<p><strong>¿</strong>Por qué digo que la sorpresa del ladrón en la noche será para los inconversos y no para los
  cristianos<strong>?</strong> Lo digo porque <strong>esa frase "ladrón en la noche", referente a la sorpresa de la
    Segunda Venida de Jesucristo, se menciona seis veces en toda la Biblia, y en ninguna de ellas se indica que se
    refiere a los cristianos. Sin embargo, en algunas de ellas se ve claramente que se refiere a los
    inconversos.</strong> Esto último lo dice claramente San Pablo en el siguiente pasaje<strong>.</strong>
  Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Empero acerca de los tiempos y de los momentos<strong>,</strong> no tenéis<strong>,</strong>
  hermanos<strong>,</strong> necesidad de que yo os escriba<strong>,</strong></i> 2 <i>porque vosotros sabéis
  bien<strong>,</strong> que <strong>el día del Señor vendrá así como ladrón de noche,</strong></i> 3 <i>que <strong>cuando
  dirán, 'paz y seguridad', entonces vendrá sobre ellos destrucción de repente,</strong> como los dolores a la mujer
  preñada<strong>;</strong> <strong>y no escaparán.</strong> </i> 4 <strong>Mas vosotros, hermanos, no estáis en
  tinieblas, para que aquel día os sobrecoja como ladrón;</strong> 5 <i>porque todos vosotros sois hijos de
  luz<strong>,</strong> e hijos del día<strong>;</strong> no somos de la noche<strong>,</strong> ni de las tinieblas</i><strong>."</strong>
  (I Tes 5<strong>:</strong> 1- 5 )</p>
<p></p>
<p> Si leemos el versículo 3 veremos que dice cuando digan <strong>"</strong>paz y seguridad<strong>,</strong> entonces
  <strong>vendrá sobre ellos destrucción</strong> de repente<strong>....</strong>y <strong>no escaparán".</strong> No es
  lógico pensar que eso de <strong>"</strong>vendrá sobre <strong>ellos</strong> destrucción<strong>",</strong> se
  refiera a los cristianos<strong>,</strong> sino a <strong>"</strong>ellos<strong>",</strong> los
  inconversos<strong>.</strong> Otro tanto puede decirse de <strong>"</strong>no escaparán<strong>",</strong> puesto que
  los cristianos <strong>sí</strong> escaparemos<strong>.</strong> Por lo tanto<strong>,</strong> cuando habla de la
  sorpresa del ladrón<strong>,</strong> se refiere a los que padecerán destrucción y a los que no
  escapan<strong>.</strong> De ahí se deduce fácilmente que <strong>los sorprendidos serán los inconversos.</strong></p>
<p>Si leemos el versículo 4 veremos que Pablo le dice a los cristianos que eso no va con ellos<strong>,</strong> que no
  se refiere a ellos<strong>.</strong> Eso lo dice cuando les explica<strong>,</strong> <strong>"</strong>Mas <strong>vosotros,
    hermanos,</strong> no estáis en tinieblas<strong>,</strong> para que aquel día <strong>os sobrecoja como
    ladrón".</strong> Está bien claramente expresado que Pablo no consideraba que los cristianos iban a ser sorprendidos
  por la Segunda Venida de Cristo<strong>.</strong> Es decir<strong>,</strong> que <strong>él excluye a los cristianos
    de esa sorpresa tipo ladrón en la noche.</strong> Por lo tanto<strong>,</strong> todos los argumentos basados en que
  los cristianos seremos sorprendidos<strong>,</strong> se caen por su base<strong>.</strong> De todo esto se desprende
  claramente<strong>,</strong> que los que van a ser sorprendidos son los inconversos<strong>,</strong> no los
  cristianos<strong>.</strong> Pero hay más<strong>.</strong></p>
<p><strong>Cuando en Mt 24: 43 Cristo habla de la sorpresa estilo ladrón en la noche,</strong> lo hace refiriéndose a
  que si sus enemigos supieran cuándo iba a ser su Segunda Venida<strong>,</strong> se prepararían y <strong>"</strong>no
  dejarían<strong>"</strong> minar la casa<strong>.</strong> Aquí vemos de nuevo que <strong>se refiere a los que se
    opondrían a Cristo si pudieran,</strong> no a los cristianos<strong>,</strong> los cuales jamás se opondrían a su
  retorno<strong>.</strong> Otro tanto puede decirse de Lc 12<strong>:</strong> 39<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Esto empero sabed<strong>,</strong> que si el padre de la familia supiese a cuál vela el ladrón
  había de venir<strong>,</strong> velaría<strong>,</strong> y <strong>no dejaría minar su
    casa</strong></i><strong>."</strong> ( Mt 24<strong>:</strong> 43 )</p>
<p></p>
<p><strong> "</strong><i>Esto empero sabed<strong>,</strong> que si supiese el padre de familia a qué hora había de
  venir el ladrón<strong>,</strong> velaría ciertamente<strong>,</strong> y <strong>no dejaría minar su
    casa</strong></i><strong>."</strong> <strong> </strong> ( Lc 12<strong>:</strong> 39 )</p>
<p></p>
<p><strong>En cuanto a II P 3: 10</strong> en donde también se menciona la frase <strong>"</strong>ladrón en la
  noche<strong>",</strong> vemos que allí no se percibe a quién se aplica tal cosa<strong>,</strong> y sólo dice que su
  venida será sorprendente<strong>,</strong> sin decir para quiénes sí o para quiénes no<strong>.</strong> Pero es
  lógico interpretarlo a la luz de lo que ya Pablo nos enseña en el pasaje de I Tes 5<strong>:</strong> 1- 5 que ya
  leímos<strong>,</strong> cuando excluye a los cristianos de los que van a recibir esa sorpresa<strong>.</strong>
  Veamos qué dice Pedro<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Mas el día del Señor vendrá <strong>como ladrón en la noche;</strong> en el cual los cielos
  pasarán con grande estruendo<strong>,</strong> y los elementos ardiendo serán deshechos<strong>,</strong> y la tierra
  y las obras que en ella están serán quemadas</i><strong>."</strong> ( II P 3<strong>:</strong> 10 )</p>
<p></p>
<p><strong>En Apocalipsis 3: 3</strong> vemos que Jesús dice al ángel de la iglesia de Sardis<strong>,</strong> que se
  arrepienta y guarde lo que ha recibido y oído<strong>,</strong> puesto que <strong>si no lo hace</strong> vendrá a él
  como ladrón<strong>.</strong> De lo dicho por Jesús se desprende que si dicho ángel se arrepiente<strong>,</strong> y
  si guarda lo por él oído y recibido<strong>,</strong> entonces eso de venir como ladrón no le atañe<strong>.</strong>
</p>
<p></p>
<p><strong> "</strong><i>Acuérdate pues de <strong>lo que has recibido y has oído, y guárdalo, y arrepiéntete.</strong>
  Y si no velares<strong>,</strong> vendré a ti como ladrón<strong>,</strong> y no sabrás en qué hora vendré a
  ti</i><strong>."</strong></p>
<p><strong> </strong> ( Ap 3<strong>:</strong> 3 )</p>
<p></p>
<p> En el versículo recién leído nos damos cuenta de que el venir como ladrón no es una cosa ineluctable para toda
  persona<strong>,</strong> sino que depende de la persona<strong>.</strong> Si él no guarda lo oído y
  recibido<strong>,</strong> si no se arrepiente ni vela<strong>,</strong> la Segunda Venida lo sorprenderá como ladrón
  en la noche<strong>;</strong> de donde se desprende que si guarda lo oído y recibido<strong>,</strong> si se
  arrepiente y vela<strong>,</strong> la Segunda Venida no lo sorprenderá como sorprendería un ladrón
  nocturno<strong>.</strong> Por lo tanto<strong>,</strong> la sorpresa tipo ladrón sólo será para los que no están a
  bien con el Señor<strong>.</strong></p>
<p><strong>En Apocalipsis 16: 15</strong> se menciona de nuevo la frase <strong>"</strong>como ladrón<strong>",</strong>
  pero en este pasaje<strong>,</strong> al igual que en el de Pedro<strong>,</strong> no se dice tampoco quiénes serán
  los sorprendidos y quiénes no<strong>.</strong> <strong>Solamente deja entrever que el que vele, si además guarda sus
    vestiduras, no será sorprendido.</strong> Aquí podemos aplicar de nuevo lo enseñado por Pablo en el versículo leído
  anteriormente en I Tes 5<strong>:</strong> 1-5<strong>,</strong> pues no hay ningún otro pasaje que contradiga esa
  interpretación<strong>.</strong></p>
<p></p>
<p><strong> "</strong><i>He aquí<strong>,</strong> <strong>yo vengo como ladrón.</strong> Bienaventurado el que
  vela<strong>,</strong> y guarda sus vestiduras<strong>,</strong> para que no ande desnudo<strong>,</strong> y vean su
  vergüenza</i><strong>."</strong> ( Ap 16<strong>:</strong> 15 )</p>
<p></p>
<p> Estos seis pasajes son los únicos en los que se menciona la frase <strong>"</strong>ladrón en la
  noche<strong>",</strong> y <strong>ninguno de ellos se le aplica a los cristianos, sino que al contrario, en algunos
    de esos pasajes claramente se les excluye de esa sorpresa.</strong> En todos estos pasajes vemos
  que<strong>:</strong> <strong>a)</strong> o se le aplica a los enemigos de Cristo<strong>,</strong> o
  <strong>b)</strong> no se dice a quién se le aplica<strong>.</strong> Es lógico pues concluir que se refiere a los
  inconversos<strong>.</strong></p>
<p> Además<strong>,</strong> es difícil creer que con tantas señales que da la Biblia para que reconozcamos la
  proximidad de la Segunda Venida<strong>,</strong> todavía los cristianos no vayan a darse cuenta de su
  cercanía<strong>,</strong> y los vaya a tomar por sorpresa<strong>.</strong></p>
<p><strong>Hay quienes para aferrarse a la idea de la sorpresiva venida de Cristo</strong> han inventado la hipótesis de
  que hay dos venidas<strong>:</strong> una sorpresiva<strong>,</strong> que es la que dicen que ocurrirá durante el
  supuesto Rapto<strong>,</strong> en la cual se lleva a la Iglesia Gentil<strong>,</strong> y otra<strong>,</strong> la
  Segunda Venida<strong>,</strong> en la que brega solamente con los judíos<strong>,</strong> la cual<strong>,</strong>
  según ellos<strong>,</strong> es la que podemos darnos cuenta de cuándo se acerca<strong>.</strong> Nada de eso es
  cierto<strong>.</strong></p>
<p> A poco que razonemos nos damos cuenta de que <strong>esta exhortación del apóstol Pablo él la hace a los
  tesalonicenses, que eran griegos y no judíos, es decir, eran gentiles.</strong> Si Pablo le dice a los gentiles en I
  Tes 5<strong>:</strong> 4<strong>,</strong> que a ellos no los iba a sorprender la Segunda Venida de
  Jesucristo<strong>,</strong> es porque él sabía que el arrebatamiento de los gentiles no iba a ser
  sorpresivo<strong>,</strong> es decir<strong>,</strong> que ellos iban a poder darse cuenta de la cercanía de tan
  magno evento<strong>.</strong> Si esos gentiles de Tesalónica no iban a ser sorprendidos como sorprende un ladrón
  nocturno<strong>,</strong> es porque no existe tal cosa como un rapto sorpresivo de la tal <strong>"</strong>Iglesia
  Gentil<strong>".</strong> Ni aún inventando la absurda hipótesis del Rapto<strong>,</strong> y la no menos absurda
  división de la Iglesia Cristiana en dos iglesias separadas<strong>,</strong> una Iglesia Gentil y una Iglesia
  Judía<strong>,</strong> ni aún así repito<strong>,</strong> puede justificarse la idea de que eso de
  <strong>"</strong>ladrón en la noche<strong>"</strong> se refiere a los cristianos<strong>.</strong> <strong>La esposa
    de Cristo no está formada por dos cuerpos,</strong> uno la llamada Iglesia Gentil y otra la llamada Iglesia
  Judía<strong>;</strong> eso es un absurdo<strong>.</strong> Veamos ahora que nuevo absurdo van a inventar una vez que
  se den cuenta de que este pasaje les destroza el absurdo anterior<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

  </section>
</Layout>
    