<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Las Bodas del Cordero</title>
</head>
<body>
<p><strong>Las Bodas del Cordero</strong></p>
<p><strong>Las Bodas son una fiesta en la que todos estamos alegres y nos divertimos.</strong> Recordemos que
    <strong>"</strong>rapto<strong>"</strong> es el que dicen (sin probarlo) que ocurrirá antes de la Gran
    Tribulación<strong>,</strong> mientras que <strong>"</strong>arrebatamiento<strong>"</strong> es el que
    <strong>sí</strong> ocurrirá durante la Segunda Venida de Cristo<strong>,</strong> como dice la
    Biblia<strong>.</strong></p>
<p> En todas las culturas del mundo las bodas se celebran con gran alegría<strong>,</strong> música<strong>,</strong>
    fiestas y regocijo<strong>.</strong> Solamente dejan de hacerse estas alegrías si por desgracia<strong>,</strong>
    poco antes de la fiesta de boda ocurre alguna tragedia en la familia de alguno de los novios<strong>.</strong></p>
<p> La fiesta de las Bodas del Cordero han de ser algo inolvidable para nosotros los cristianos<strong>,</strong> un
    momento de verdadero regocijo<strong>,</strong> <strong>una época en la que ningún sufrimiento o pensamiento nos
        haga entristecernos.</strong></p>
<p><strong>Cuándo serán las Bodas del Cordero según la doctrina que dice que el rapto ocurrirá antes de la Gran
    Tribulación.</strong> De acuerdo a lo que yo siempre he oído de los hermanos que han discutido conmigo el
    asunto<strong>,</strong> los cristianos estaremos disfrutando alegremente de las Bodas del Cordero<strong>,</strong>
    en el Cielo<strong>,</strong> durante el mismo tiempo que otros cristianos sufren espantosamente en la
    Tierra<strong>,</strong> durante la Gran Tribulación<strong>.</strong> El antiCristo y sus seguidores
    asesinan<strong>,</strong> queman en la hoguera<strong>,</strong> crucifican<strong>,</strong>
    etc<strong>.,</strong> a los cristianos<strong>,</strong> aquí en la Tierra durante la GT<strong>,</strong> mientras
    nosotros gozamos de lo lindo allá en el Cielo<strong>,</strong> sin que nos importe ni un comino lo que les está
    sucediendo a nuestros hermanos<strong>.</strong> <strong>¿Suena eso lógico? ¿Piensan ustedes que eso es lo que
        Jesucristo planificó para el día de su boda?</strong></p>
<p> No sólo eso<strong>,</strong> que ya es más de la cuenta<strong>;</strong> si fuera cierto que el rapto ocurriera
    antes de la Gran Tribulación<strong>,</strong> entonces tendríamos que esos pobres cristianos martirizados y
    asesinados en la Tierra durante la Gran Tribulación<strong>,</strong> no iban jamás a participar de la Boda del
    Cordero<strong>,</strong> por cuanto cuando ellos fueran a resucitar<strong>,</strong> durante de la Segunda Venida
    de Cristo<strong>,</strong> ya las Bodas se habían acabado<strong>.</strong></p>
<p><strong>Es más, dado que la hipótesis del rapto asegura falsamente que éste va a ocurrir antes de que se abra el
    primer sello,</strong> y dado que en el quinto sello vemos a las almas de los que fueron degollados en la Tierra por
    el testimonio de Jesucristo<strong>,</strong> tendríamos que deducir que a pesar de esas almas estar en el
    Cielo<strong>,</strong> no pueden participar de la fiesta de la Boda<strong>,</strong> sino mirarla de lejos<strong>;</strong>
    puesto que según dice allí<strong>,</strong> esos mártires tienen que esperar a los otros que en la Tierra van a ser
    degollados<strong>.</strong> <strong>¡</strong>Casi nada la absurdidad que provoca esta errónea
    doctrina<strong>!</strong></p>
<p></p>
<p><strong>"</strong>9 <i>Y <strong>cuando él abrió el quinto sello,</strong> vi debajo del altar <strong>las almas de
    los que habían sido muertos por la palabra de Dios</strong> y por el testimonio que ellos
    tenían<strong>.</strong></i> 10 <i>Y clamaban en alta voz diciendo<strong>:</strong> <strong>¿Hasta cuándo, Señor,
    santo y verdadero, no juzgas y vengas nuestra sangre de los que moran en la Tierra?</strong></i> 11 <i>Y les fueron
    dadas sendas ropas blancas<strong>,</strong> y les fue dicho que reposasen todavía un poco de
    tiempo<strong>,</strong> <strong>hasta que se completaran sus consiervos y sus hermanos,</strong> que también habían
    de ser muertos como ellos</i><strong>."</strong> (Ap 6<strong>:</strong>9-11)</p>
<p> A estos mártires de la Gran Tribulación la doctrina del rapto les niega su pertenencia a la Iglesia de
    Cristo<strong>.</strong> <strong>¿</strong>Cómo es posible que no vayan a pertenecer a su Iglesia<strong>,</strong>
    si es el mismo Cristo el que está allí con ellos en el Cielo<strong>?</strong></p>
<p><strong>Cuándo serán en realidad las Bodas del Cordero, según la Biblia.</strong> <strong>¿</strong>De qué parte de
    la Biblia la doctrina del rapto del rapto anterior a la GT ha sacado la idea de que las Bodas del Cordero se
    celebran durante el período de la Gran Tribulación<strong>?</strong> Yo no sé<strong>,</strong> <strong>porque a
        pesar de que se lo he preguntado a mis amigos que creen en el rapto, ellos no me saben decir en donde se basan
        para creer tal cosa.</strong> Lo único que saco en consecuencia es que esos hermanos lo creen porque se lo
    dijeron otros<strong>,</strong> a los cuales <strong>"</strong>otros<strong>"</strong> nunca he podido
    preguntarles<strong>,</strong> porque no son accesibles para esta conversación<strong>.</strong></p>
<p> También me han traído libros<strong>,</strong> pero cuando les pido que me digan en qué parte del libro su autor
    dice de dónde sacó tal concepto<strong>,</strong> tampoco me lo saben señalar<strong>.</strong> Nadie lo
    sabe<strong>,</strong> pero todos lo creen a pie juntilla<strong>.</strong> Es la triste tendencia al dogma que
    siempre tienen los religiosos<strong>.</strong></p>
<p><strong>Los únicos dos lugares en la Biblia, donde yo veo que habla de las Bodas del Cordero</strong> son en Ap
    19<strong>:</strong>7-9 y 21<strong>:</strong>9<strong>,</strong> y ambos pasajes son muy posteriores a la Gran
    Tribulación<strong>.</strong> Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong><strong>7</strong> <i>Gocémonos y alegrémonos y démosle gloria<strong>;</strong> porque <strong>son
    venidas las bodas del Cordero, y su esposa se ha aparejado.</strong></i> 8 <i>Y le fue dado que se vista de lino
    fino<strong>,</strong> limpio y brillante<strong>,</strong> porque el lino fino son las justificaciones de los
    santos<strong>.</strong></i> 9 <i>Y él me dice<strong>:</strong> Escribe<strong>:</strong> <strong>Bienaventurados
    los que son llamados a la cena del Cordero.</strong> Y me dijo<strong>:</strong> Estas palabras de Dios son
    verdaderas<strong>.</strong></i><strong>"</strong> (Ap 19<strong>:</strong>7-9)</p>
<p></p>
<p><strong>"</strong><i>Y vino a mí uno de los siete ángeles que tenían las siete copas llenas de las siete postreras
    plagas<strong>,</strong> y habló conmigo<strong>,</strong> diciendo<strong>:</strong> Ven acá<strong>,</strong>
    <strong>yo te mostraré la esposa, mujer del Cordero</strong></i><strong>."</strong> (Ap 21<strong>:</strong>9)</p>
<p> Ya para la época a que se refieren los dos pasajes anteriores<strong>,</strong> las siete copas de la Ira de Dios
    fueron derramadas sobre la Tierra<strong>.</strong> Eso es fácil de comprobar porque en Ap 16<strong>:</strong>17
    vemos que la séptima y última copa fue derramada<strong>.</strong> En 19<strong>:</strong>2 vemos que ya se juzgó a
    la Ramera<strong>,</strong> y que se vengó la sangre de los siervos de Dios<strong>,</strong> de la mano de
    ella<strong>.</strong> Por consiguiente ya se acabó la Gran Tribulación<strong>.</strong> Sin
    embargo<strong>,</strong> vemos en el versículo 7 de ese mismo capítulo que las Bodas del Cordero no han tenido
    lugar aún<strong>.</strong> De aquí se deduce<strong>,</strong> sin mucho esfuerzo mental<strong>,</strong> que las
    Bodas del Cordero vienen después de la Gran Tribulación<strong>,</strong> y después de la destrucción de la Gran
    Ramera<strong>,</strong> no como proclama la hipótesis del Rapto anterior a la GT<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y <strong>el séptimo ángel derramó su copa</strong> por el aire<strong>;</strong> y salió una
    grande voz del Templo del Cielo<strong>,</strong> del Trono<strong>,</strong> diciendo<strong>:</strong> Hecho
    es</i><strong>."</strong> (Ap 16<strong>:</strong>17)</p>
<p></p>
<p><strong>"</strong>1 <strong>Después de estas cosas</strong> <i>oí una gran voz de gran compañía en el
    Cielo<strong>,</strong> que decía<strong>:</strong> Aleluya<strong>,</strong> Salvación y honra y gloria y potencia
    al Señor Dios nuestro<strong>,</strong></i> 2 <i>porque sus juicios son verdaderos y justos<strong>;</strong> porque
    <strong>Él ha juzgado a la grande ramera,</strong> que ha corrompido la Tierra con su fornicación<strong>,</strong>
    y <strong>ha vengado la sangre de sus siervos de la mano de ella.</strong></i> 3 <i>Y otra vez
    dijeron<strong>:</strong> Aleluya<strong>.</strong> Y su humo subió para siempre jamás<strong>.</strong></i> 4 <i>Y
    los veinticuatro ancianos y los cuatro animales se postraron en tierra<strong>,</strong> y adoraron a Dios que
    estaba sentado sobre el trono<strong>,</strong> diciendo<strong>:</strong> Amén<strong>:</strong>
    Aleluya<strong>.</strong></i><strong>"</strong> (Ap 19<strong>:</strong>1-4)</p>
<p><strong>Otra cosa en la que parar mientes es en que en el versículo 6 dice que Dios reinó,</strong> para decir luego
    que debemos gozarnos y alegrarnos porque van a celebrarse <strong>ahora</strong> las Bodas del
    Cordero<strong>.</strong> Es fácil darnos cuenta de que <strong>si ya Dios reinó, tiene que haberse acabado la Gran
        Tribulación. Y si después de que Dios reinó es que se celebran las Bodas del Cordero, eso significa que las
        Bodas del Cordero no se habían celebrado antes.</strong> Lo cual a su vez significa que tienen lugar
    ahora<strong>,</strong> después de haber terminado la Gran Tribulación<strong>,</strong> y no durante los siete años
    que ésta dura<strong>,</strong> como asegura la hipótesis del <strong>"</strong>rapto secreto<strong>".</strong></p>
<p></p>
<p><strong>"</strong>5 <i>Y salió una voz del Trono<strong>,</strong> que decía<strong>:</strong> Load a nuestro Dios
    todos sus siervos<strong>,</strong> y los que le teméis<strong>,</strong> así pequeños como
    grandes<strong>.</strong></i> 6 <i>Y oí como la voz de una grande compañía<strong>,</strong> y como el ruido de
    muchas aguas<strong>,</strong> y como la voz de grandes truenos<strong>,</strong> que decía<strong>:</strong>
    Aleluya<strong>,</strong> porque reinó el Señor nuestro Dios Todopoderoso<strong>.</strong></i> 7 <i>Gocémonos y
    alegrémonos y démosle gloria<strong>;</strong> porque son venidas las bodas del Cordero<strong>,</strong> y su
    esposa se ha aparejado<strong>.</strong></i> 8 <i>Y le fue dado que se vista de lino fino<strong>,</strong> limpio y
    brillante<strong>,</strong> porque el lino fino son las justificaciones de los santos</i><strong>."</strong> (Ap
    19<strong>:</strong>5-8)</p>
<p> Como vemos<strong>,</strong> los únicos lugares en la Biblia donde se habla de las Bodas del Cordero nos hacen ver
    que ya la Gran Tribulación ha pasado<strong>.</strong> Por consiguiente<strong>,</strong> <strong>la hipótesis del
        rapto anterior a la Gran Tribulación está totalmente errada al asegurar que esas bodas se realizan durante el
        período de la Gran Tribulación.</strong></p>
<p> Si volvemos ahora a leer el primer pasaje (Ap 19<strong>:</strong>7-9)<strong>,</strong> veremos que al final
    dice<strong>:</strong> <strong><i>"Bienaventurados los que son llamados a la cena del Cordero"</i>.</strong> De aquí
    se infiere<strong>,</strong> sin mucho esfuerzo mental<strong>,</strong> que los que no son llamados a la cena del
    Cordero<strong>,</strong> no son bienaventurados<strong>.</strong></p>
<p> Como que según la confusa doctrina del rapto<strong>,</strong> las bodas ocurren durante la Gran Tribulación<strong>,</strong>
    se hace evidente que según esa malhadada hipótesis<strong>,</strong> <strong>los infelices hermanos que sufren
        durante ese período, no pueden participar de la cena de bodas, y por lo tanto, no son bienaventurados.</strong>
    Es decir<strong>,</strong> esta herética enseñanza los ha excluido por decreto<strong>,</strong> de la
    bienaventuranza<strong>.</strong> <strong>¡</strong>Hay que pisotear la lógica y torcer excesivamente la Escritura
    para que concuerde con la doctrina del rapto<strong>!</strong></p>
<p> Si quieren conocer más profundamente los errores de la herética doctrina del rapto anterior a la
    GT<strong>,</strong> lean el libro <strong>"</strong>Rapto Vs Arrebatamiento o Ficción Vs Realidad<strong>"</strong>
    que se halla en este mismo web site<strong>.</strong> Grandes compañía ganan millones vendiendo
    libros<strong>,</strong> vídeos<strong>,</strong> etc<strong>.,</strong> que proclaman la herética doctrina del
    rapto anterior a la GT<strong>.</strong> <strong>¿Puede rectificar su error quien pierda millones por
        rectificarlo?</strong> Sí<strong>,</strong> pueden<strong>,</strong> pero tendrían que amar a Dios más que a sus
    egos y que a sus bolsillos<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>