---
import Layout from "../layout/Layout.astro";
---

<Layout title="What means to be " legalist"">
    <section>
<p><strong>What means to be "legalist"</strong></p>
<p><strong>Why is it important to define and clear up the meaning of phrases, words, and concepts?</strong> Many use
    some phrases like a wild card or a joker in a deck of cards<strong>.</strong> In the game of Poker the wild card is
    used to represent any card the player wants<strong>.</strong></p>
<p> In conversations<strong>,</strong> <strong>"</strong>wild card<strong>"</strong> words and phrases are used by some
    to give them the meaning that is convenient at that moment<strong>.</strong> Nevertheless<strong>,</strong> they
    change their meaning when used another time<strong>,</strong> when they find themselves cornered
    dialectically<strong>.</strong> They are not honest in their debate<strong>.</strong></p>
<p> In some cases<strong>,</strong> <strong>even those who discuss honestly</strong> don't have in their minds a clear
    meaning of many of the words and phrases they use<strong>.</strong> For them<strong>,</strong> these phrases
    represent cloudy concepts that those who use them refuse to define clearly<strong>,</strong> or to answer questions
    about their meaning<strong>.</strong> Some do it because they expect you to accept this cloudy concept they have in
    their minds<strong>,</strong> in the same cloudy way they have it<strong>.</strong> Others do it because they don't
    want to clear up something that can be negative to the thesis they keep<strong>.</strong> Some of these phrases
    are<strong>:</strong> <strong>"</strong>being in the Spirit<strong>",</strong> <strong>"</strong>being
    legalist<strong>",</strong> <strong>"</strong>being under the Law<strong>",</strong> <strong>"</strong>being under
    Grace<strong>",</strong> <strong>"</strong>love is the fulfillment of the Law<strong>",</strong> and many
    others<strong>.</strong> That is why it is good to define the concepts and phrases used in this type of
    discussion<strong>.</strong></p>
<p><strong>In every conversation,</strong> a person will say words and phrases whose meaning he have never defined to
    himself<strong>.</strong> He uses these words and phrases as a way to say
    <strong>"</strong>something<strong>"</strong> he wants the listener to accept in the same cloudy way that he has
    them in his mind<strong>,</strong> without definition<strong>.</strong> This inadequate manner of expression gives
    way to an endless number of errors and twisting that we must avoid in any subject we discuss<strong>,</strong> but
    more so when we are talking about the holy truths of God<strong>.</strong></p>
<p> That is why it will be good<strong>,</strong> before talking about the Law<strong>,</strong> to define each one of
    the words and phrases commonly used<strong>,</strong> even though they are never defined or
    contrasted<strong>.</strong> Not only do we need to know what a word means<strong>,</strong> but sometimes we also
    need to specify what it does not mean<strong>.</strong></p>
<p><strong>What being "legalist" means.</strong> In many occasions I have heard someone label as <strong>"</strong>legalist<strong>"</strong>
    those who believe that God's laws <strong>for human behavior</strong> are <strong>not</strong>
    obsolete<strong>.</strong> What does the word <strong>"</strong>legalist<strong>"</strong> mean<strong>?</strong> If
    we look up its meaning in the dictionary we see that a <strong>"</strong>legalist<strong>"</strong> is one who
    considers above everything else the literal application of the law<strong>.</strong> I agree that such is the
    meaning of the word in our language<strong>.</strong></p>
<p> Well<strong>,</strong> so what is wrong with obeying God's laws just as He expressed them<strong>?</strong> <strong>If
    we were talking about human laws it is possible that we would not want to interpret or obey them literally at all
    times,</strong> because the person that wrote it may not have expressed them correctly<strong>.</strong> But when we
    are talking about God's law<strong>,</strong> that scenario is completely impossible<strong>.</strong>
    Therefore<strong>,</strong> who dares to judge God's laws<strong>,</strong> or modifies them so not to be called a
    <strong>"</strong>legalist<strong>"?</strong></p>
<p> The problem does not lie in obeying God's law faithfully<strong>,</strong> but in obeying literally only one verse
    or one passage<strong>,</strong> or one section of the Bible<strong>,</strong> <strong>as opposed</strong> to others<strong>;</strong>
    but not in faithfully obeying God's commandments interpreted from the whole Bible<strong>.</strong> Not only does
    the Bible present the commandments<strong>,</strong> like <strong>"</strong>Thou shalt not kill<strong>",</strong>
    but it gives examples as to what the commandments mean<strong>.</strong> Let's see some of these
    examples<strong>.</strong></p>
<p><strong>When we see the different biblical episodes where killing is involved,</strong> we realize what the
    commandment <strong>"</strong>thou shalt not kill<strong>"</strong> means<strong>.</strong> When we read the rest of
    the Bible we see that God ordered Saul to kill the Amalekites<strong>.</strong> Therefore<strong>,</strong> the
    Decalogue's <strong>"</strong>thou shalt not kill<strong>"</strong> could not be applied correctly by taking just
    one verse<strong>.</strong> But it can be applied <strong>correctly</strong> taking into account the entire
    Bible<strong>.</strong> In it we realize that the <strong>"</strong>thou shalt not kill<strong>"</strong> means that
    we should not kill out of our own whim<strong>,</strong> for personal issues<strong>.</strong></p>
<p> The same goes for the death penalty for the murderer<strong>.</strong> The murderer can be killed<strong>.</strong>
    <strong>"</strong>Thou shalt not kill<strong>"</strong> does not apply to not executing him<strong>.</strong> There
    are several laws in the Bible where God commands the killing of those who have committed certain
    crimes<strong>.</strong> Therefore<strong>,</strong> <strong>"</strong>Thou shalt not kill<strong>"</strong> has to
    be understood in light of the entire Scripture<strong>,</strong> and not just one verse<strong>.</strong></p>
<p><strong>The Decalogue says not to make graven images.</strong> However<strong>,</strong> if we read the rest of the
    Bible we see that when the Tabernacle and the Temple were being built<strong>,</strong> there were images of
    vegetables<strong>,</strong> animals and cherubim<strong>.</strong></p>
<p> From there we learn that what the commandment says is that we should not make images to worship
    them<strong>,</strong> but we can take pictures of ourselves<strong>.</strong> So we <strong>can obey the
        commandment literally just as it is presented through the entire Bible, not as we read it in just one
        verse.</strong> If it weren't because we apply the commandment as the entire Bible shows it<strong>,</strong>
    <strong>in an integral manner,</strong> we could not take photos<strong>.</strong></p>
<p><strong>Therefore, being a legalist is not faithfully obeying God's commandments,</strong> but holding on to certain
    isolated words<strong>,</strong> verses or passages in order to give them the meaning that we want them to
    have<strong>,</strong> willfully forgetting the rest of the Bible<strong>.</strong></p>
<p><strong>What does "not being a legalist" mean?</strong> Is not being a legalist that we
    <strong>"</strong>adapt<strong>"</strong> God's commandments to our culture<strong>,</strong> our
    times<strong>,</strong> the doctrine of our sect<strong>,</strong> or our personal convenience<strong>?</strong> In
    other words<strong>,</strong> that in order for us not to be labeled as legalists<strong>,</strong> would we have to
    interpret each one of God's commandments as we wish<strong>?</strong> Yes<strong>,</strong> because if one person
    interprets that he can worship Jesus' statue<strong>,</strong> while another one interprets it as
    idolatry<strong>,</strong> <strong>the latter would be labeled by the first as "legalist".</strong> In that case the
    <strong>"</strong>non-legalist<strong>"</strong> would defend himself by saying that this law was for the
    Jews<strong>,</strong> or that it was <strong>"</strong>for those times<strong>",</strong> or that it was for those
    who worshiped pagan idols<strong>,</strong> but not for people <strong>"</strong>under grace<strong>".</strong> Are
    there not now-a-days millions of professed Christians that worship graven images<strong>?</strong></p>
<p> In other words<strong>,</strong> in order for us not to be labeled as <strong>"</strong>legalists<strong>"</strong>
    we would have to quietly accept whatever heresy and error we hear<strong>,</strong> because if we allege what the
    Bible says as a whole<strong>,</strong> we would be called <strong>"</strong>legalists<strong>".</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    