
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>¿Qué entendemos en la Biblia por la palabra "ley"?</title>
</head>
<body>
<p><strong>¿Qué entendemos en la Biblia por la palabra "ley"?</strong></p>
<p> En las conversaciones relativas a la Biblia<strong>,</strong> la palabra <strong>"</strong>ley<strong>"</strong> se
    refiere a las leyes de Dios<strong>.</strong> Recordemos que las leyes no las originó Moisés<strong>,</strong> ni
    Noé<strong>,</strong> ni ninguno de los profetas<strong>,</strong> sino Dios personalmente<strong>.</strong></p>
<p><strong>En la Biblia hay dos grandes grupos de leyes. Están las leyes rituales, y las leyes de
    comportamiento.</strong> Las leyes rituales<strong>,</strong> como su nombre lo indica<strong>,</strong> se referían
    a los ritos<strong>,</strong> sacrificios y ceremonias que pre-figuraban varias cosas<strong>:</strong> la misión de
    Jesucristo<strong>,</strong> cuando vino a morir por nosotros<strong>,</strong> la venida del Espíritu Santo<strong>,</strong>
    la Segunda Venida<strong>,</strong> etc<strong>..</strong> Las principales leyes rituales eran las que tenían que
    ver con el Templo<strong>,</strong> y con los sacrificios que en él se hacían<strong>.</strong> También eran leyes
    rituales la circuncisión<strong>,</strong> los lavamientos del cuerpo para no contaminar el santuario
    terrenal<strong>,</strong> que era símil del Santuario del Cielo<strong>,</strong> la presentación de los
    primogénitos humanos<strong>,</strong> el sacrificio de los primogénitos de animales<strong>,</strong>
    etc<strong>..</strong></p>
<p><strong>Las leyes de comportamiento</strong> son las que Dios estableció para que el humano supiera cómo tenía que
    comportarse con Dios y con su prójimo<strong>.</strong> Ejemplos de ellas son los Diez
    Mandamientos<strong>,</strong> las leyes que nos enseñan cómo comportarnos con los extranjeros<strong>,</strong> con
    nuestros enemigos<strong>,</strong> con las viudas y los huérfanos<strong>,</strong> con los
    pobres<strong>,</strong> con aquellas cosas que se le perdieran a alguien y nosotros nos las
    encontráramos<strong>,</strong> los daños que hacemos sin querer<strong>,</strong> o los que hacemos por
    irresponsables<strong>,</strong> etc<strong>..</strong></p>
<p><strong>¿Qué significa "estar bajo la ley"?</strong></p>
<p> La frase <strong>"</strong>estar bajo la ley<strong>"</strong> es una de esas que sirven de
    comodín<strong>.</strong> La mayoría de las veces nadie las define<strong>,</strong> sólo las
    pronuncian<strong>.</strong> Por lo regular se le aplica a aquellas personas que consideran que los pecados que en
    el Antiguo Testamento se describen como prohibidos<strong>,</strong> están también prohibidos para los
    cristianos<strong>.</strong></p>
<p> Sin embargo<strong>,</strong> en la Biblia<strong>,</strong> la frase <strong>"</strong>no estar bajo la ley<strong>"</strong>
    significa generalmente que<strong>,</strong> <strong>para ser salvos, no tenemos que cumplir con la circuncisión,
        los sacrificios de corderos, y demás ritos.</strong></p>
<p><strong>Pero hay cristianos que, erradamente,</strong> consideran que con esa frase lo que se quiere decir es que el
    cristiano no tiene que cumplir los mandamientos de Dios<strong>.</strong> <strong>¿</strong>Es esto
    cierto<strong>?</strong> <strong>¿</strong>Quiere eso decir que no estamos todos bajo las leyes de comportamiento
    que Dios estableció<strong>?</strong> <strong>¿Quiere eso decir acaso que ya podemos calumniar, adorar imágenes,
        adulterar, robar, matar, consultar a los muertos, etc.?</strong> <strong>¡</strong>Claro que
    no<strong>!</strong> Entonces<strong>,</strong> <strong>¿</strong>por qué dicen que no estamos bajo la
    ley<strong>?</strong></p>
<p><strong>Si al decir que no estamos bajo la ley, se refieren a que no estamos bajo la ley ritual, eso es
    correcto.</strong> Es decir<strong>,</strong> que si lo que significa esa frase es que para salvarnos no tenemos que
    circuncidarnos<strong>,</strong> ni sacrificar animales<strong>,</strong> ni nada de eso<strong>,</strong> entonces
    está correctamente usada la frase<strong>;</strong> pero si la usan significando que podemos cometer todo tipo de
    pecado sin que eso se nos tenga en cuenta<strong>,</strong> entonces es una espantosa falsedad<strong>,</strong> una
    horrible y satánica herejía<strong>.</strong></p>
<p><strong>¿Qué significa "no estar bajo la ley"?</strong></p>
<p> Es muy corriente en las conversaciones entre hermanos que hablan sobre las leyes de Dios<strong>,</strong> oír a
    algunos decir <strong>"</strong>no estamos bajo la ley<strong>".</strong> Eso depende de a qué leyes se
    refiera<strong>,</strong> como antes aclaré<strong>.</strong> Si habla de las rituales<strong>,</strong> está en lo
    correcto<strong>.</strong> Si se refiere a las leyes de Dios para el comportamiento humano<strong>,</strong> se
    halla en un espantoso error<strong>. El haberse convertido a Cristo no es una patente de corso para hacer cada uno
        lo que le dé la gana, y seguir pensando que está salvado.</strong> (Patente de corso era una licencia que daban
    los gobiernos para practicar el piratería contra los barcos enemigos<strong>.</strong>)</p>
<p> Conozco personalmente el triste caso de un hombre que dice que debido a que no estamos bajo la ley<strong>,</strong>
    el cristiano puede acostarse con la mujer ajena<strong>,</strong> puede ser homosexual<strong>,</strong> puede
    estafar<strong>,</strong> etc<strong>.,</strong> y seguir siendo salvo<strong>.</strong></p>
<p> Basándose en I Jn 3<strong>:</strong>9 él considera que una vez que una persona se convierte a
    Cristo<strong>,</strong> <strong>ya no puede pecar.</strong> Pero no porque la persona lo evite con la ayuda
    divina<strong>,</strong> sino porque según él<strong>,</strong> cuando el inconverso se acuesta con la mujer del
    vecino<strong>,</strong> comete un adulterio<strong>,</strong> y por ese pecado va a parar al
    Infierno<strong>.</strong> No obstante<strong>,</strong> según él<strong>,</strong> cuando el que se acuesta con la
    mujer del vecino es un cristiano<strong>,</strong> eso no es adulterio<strong>,</strong> porque él no está bajo la
    ley como sí lo está el inconverso<strong>.</strong> <strong>¡¡</strong>Espantoso<strong>!!</strong>
    <strong>¡¡</strong>Asqueroso<strong>!!</strong> <strong>¡¡</strong>Satánico<strong>!!</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>