
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>What are living waters</title>
</head>
<body>
<p><strong>WHAT ARE LIVING WATERS</strong></p>
<p> In the Bible the phrase "living waters" is used frequently. What are living waters? The water that land receives
    comes entirely and exclusively from pluvial precipitation (rain or snow). If rain falls on a mountain or mountain
    range, it becomes saturated on the inside. It is like spraying a great amount of water on a big sponge of a plain
    base placed on top of a table.</p>
<p> If we spray until it is saturated, and then place the big squared sponge of lets say 12" x 12" (30 cms x 30 cms) on
    another dry table, we'll see that after a short period of time, part of the water that is contained in the sponge
    begins to ooze out of the inferior external borders.</p>
<p> If that sponge of a plain base had a circular whole of one or two inches in diameter cut vertically in its center,
    we would see how it would not only ooze out of the inferior external borders, but also from the inferior internal
    borders of the whole as well. What I said about a mountain or mountain range is also true for a plain or flat
    surface. I used the mountain as an example to be able to compare it to a sponge over a table.</p>
<p><strong>That is the mechanism of a common well</strong>: a hole sufficiently deep to penetrate in the layer of the
    earth that perennially persists soaked by the rain that falls on the surface and is absorbed by the earth. That
    water proceeds downward until a stratum, of an impermeable or semi impermeable layer, detains or halts its descent.
    <strong>From then on the water moves horizontally. When it arrives at the sides of the well, it seeps down its
        walls, falling to the bottom of the well and forming a reservoir of filtrated water.</strong></p>
<p> In many occasions, travelling through mountainous regions, I have seen how water flows down a steep slope, oozing
    down rocks along a stark road. If you observe you will notice the same thing.</p>
<p> In my youth I was very fond of exploring caverns. There I would notice water seeping down rocks and drenching the
    floor. <strong>In one of those virgin caves</strong> (previously unexplored) I discovered a spacious subterranean
    chamber filled with water. The pool was 16 feet wide, and 56 feet long, (5 mts wide, 18 mts long), and 3 feet deep
    (1 mt deep). It was filled with cleanest and freshest water you'll ever see, being that it was filtered by hundreds
    of meters of hard rock and kept away from the heat of the sun by tons of rocks and soil covering the mountain. From
    that subterranean chamber ran tunnel or small brook which I followed for couple of kilometers. I walked through it
    bent over and in the water until the tunnel became so small that you had to drag yourself through it. Not wanting to
    take a dangerous chance or put myself in a defenseless position, I opted to go back when I reached this point.</p>
<p> The pool and the tunnel found inside the cave could have constituted, respectively, a deposit and a channel of water
    for any unspecified spring. It's to say that when the tunnel left the cave and came out of the mountainside, it
    constituted a spring of water or <strong>"a fountain of living waters"</strong>. If the water, instead of flowing
    out along the mountainside kept its course underground, penetrating into plain or undulate land, it would constitute
    a subterranean river that would bring water from the pocket in the cave that is in the mountain. So if someone would
    begin to dig up a well, when the well got to that tunnel or channel of running water, filtrated to the maximum, cold
    and pure, that person would have found <strong>what they call in the Bible a "well of living waters".</strong></p>
<p> "<i>And Isaac's servants digged in the valley, and found there <strong>a well of springing water</strong></i>." (Gn
    26:19)</p>
<p></p>
<p> "<i>Jesus answered and said unto her: If thou knewest the gift of God, and who it is that saith to thee: Give to
    drink; thou wouldest have asked of him, and he would have given thee <strong>living water</strong>. The woman saith
    unto him: Sir, thou hast nothing to draw with, and the well is deep; from whence then hast thou that living
    water</i>? " (John 4:10-11)</p>
<p> A common well is what I explained at the beginning, a product of the filtration of water in the depths of the
    ground. In a well of living waters, the waters essentially have the same origin and filtration, the only difference
    is that it comes from a pocket of water big enough to keep the water flowing.</p>
<p> If that pocket of water is found in the mountain, and if the water flows in a subterranean form through a valley,
    when a well is opened in that valley atop the tunnel by which the water is flowing, that is when a well of living
    water is found.</p>
<p> Now, what is of interest is the phrase "living waters", which is what I explained, a spring that flows from a
    mountainside, or a well that by coincidence, is opened atop a subterranean brook.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>