<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>La longevidad y el Diluvio</title>
</head>
<body>
<p><strong>La longevidad y el Diluvio</strong></p>
<p> Es lógico para un creyente, el pensar que <strong>cuando el planeta fue creado, cuando su suelo salió de la divina
  palabra, esa tierra era lo más fértil que podía ser.</strong> Durante el Diluvio las aguas cubrieron todas las
  montañas y ablandaron su terreno, el cual, como es natural, se precipitó a las partes más bajas de los alrededores. En
  aquellos días, deben haber ocurrido miles de avalanchas de lodo en todo el planeta, <strong>dejando peladas las
    montañas y los cerros de su fertilísimo terreno original</strong>. Cuando las aguas comenzaron a retirarse hacia los
  océanos esas corrientes de agua arrastraron el buen terreno original que existía en valles, cerros y montañas,
  depositándolo en el fondo de los mares o en el fondo de otros valles más profundos. Así quedaron enterrados los
  bosques y animales cuyos fósiles hoy descubrimos, y de los cuales sacamos el petróleo, el carbón de piedra y el gas
  natural; los cuales son llamados muy aptamente: combustible fósil.</p>
<p> Después del Diluvio la lluvia continuó haciendo el mismo trabajo, aunque en menor escala, lavando los terrenos
  alrededor del mundo, y arrastrándolos al fondo de los mares. Si no fuera por el constante crecimiento de plantas, aún
  en los desiertos y sobre las rocas, y por la constante caída de polvo cósmico, la superficie del planeta estaría
  destituida de todo suelo fértil y de toda capa orgánica.</p>
<p> Muchas clases de animales han desaparecido a consecuencia del Diluvio. Es posible también que <strong>a causa del
  Diluvio, muchas clases de plantas hayan desaparecido</strong>. Esto puede significar que después del Diluvio la
  humanidad y el reino animal no tienen todas las clases de alimentos que solían tener antes.</p>
<p><strong>Tal vez fue a consecuencia de este brutal lavamiento del terreno y la desaparición de ciertas plantas, que la
  raza humana comenzó a decrecer en longevidad.</strong> El hecho cierto es que después del Diluvio la longevidad humana
  se redujo notablemente, como podemos ver en <strong>la primera gráfica.</strong></p>
<p></p>
<p><img width="749" height="983" src="LongevidadDiluvio_files/image002.jpg" alt="image002"></p>
<p></p>
<p><strong> El promedio de vida de nuestros bíblicos antecesores era de más de nueve siglos hasta llegar a Noé</strong>.
  Sin embargo, la longevidad de su hijo Sem decreció a un 60 % de la de su padre. Debemos recordar que Noé vivió 600
  años comiendo los alimentos que crecían en el terreno que originalmente Dios creó, mientras que su hijo Sem solamente
  comió de aquella clase de alimentos, durante 100 años.</p>
<p> Desde la Creación hasta antes del Diluvio la humanidad disfrutó por más de 1600 años de todos los alimentos
  originales que fueron creados. No solamente eso, sino que esos alimentos crecieron en la buena tierra original. Debido
  a eso aquellos hombres disfrutaron de un altísimo promedio de vida; sin embargo, los que nacieron menos de un siglo
  después del Diluvio vivieron menos del 25 % de lo que habían vivido sus ancestros.</p>
<p><strong>La mayoría de las veces los números abstractos no nos dicen mucho</strong>, pero una gráfica nos hace darnos
  cuenta de la realidad. <strong>En la segunda gráfica</strong> podemos comparar visualmente el promedio de vida de
  nuestros ancestros bíblicos anteriores al Diluvio, con el de sus descendientes que vivieron inmediatamente después, y
  con el promedio de vida actual.</p>
<p></p>
<p><img width="757" height="972" src="LongevidadDiluvio_files/image004.jpg" alt="image004"></p>
<p> El promedio de vida de los que vivieron inmediatamente después del Diluvio decreció a un tercio del que tenían sus
  abuelos. Nuestro actual promedio de vida es el 7.6 % del que vivían nuestros ancestros bíblicos que vivieron antes del
  Diluvio, y el 24 % del que disfrutaron los que vivieron inmediatamente después del Diluvio.</p>
<p><strong>La tercera gráfica</strong> nos muestra en orden cronológico, la duración de la vida de los 22 primeros
  patriarcas. En esta tercera gráfica podemos darnos cuenta de cómo la vida de aquéllos iba decreciendo a medida que
  pasaba el tiempo. De acuerdo a lo dicho por Moisés, en su tiempo, la duración promedio de la vida era de 70 u 80 años,
  como lo dice en el salmo 90:10.</p>
<p></p>
<p>"<strong>Los días de nuestra edad son setenta años, que si en los más</strong></p>
<p><strong>robustos son ochenta años</strong><i>; con todo su fortaleza es molestia y</i></p>
<p><i>trabajo; porque es cortado presto, y volamos</i>." ( Sal 90: 10 )</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><img width="735" height="977" src="LongevidadDiluvio_files/image006.jpg" alt="image006"></p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>