---
import Layout from "../layout/Layout.astro";
---

<Layout title="La longevidad está dada en años">
    <section>
        <p><strong>LA LONGEVIDAD HUMANA DE LA ÉPOCA DE NUESTROS PRIMEROS PADRES ESTÁ DADA EN AÑOS, NO EN MESES.</strong>
        </p>
        <p> Hay quienes, tratando de negar la realidad de que <strong>nuestros primeros padres vivían varios
            siglos</strong>,
            alegan que los "años" mencionados en estos capítulos son en realidad "meses", o "lunas". Basan su peregrina
            hipótesis
            en el hecho de que si dividimos los años vividos por estos patriarcas, de acuerdo con la Biblia, entre los
            doce meses
            que tiene un año, el cociente es una edad mucho más aceptable para ellos; esto es motivado porque la
            comparan con la
            edad a que ahora se llega. Por eso, alegan ellos, al dividir los 930 años que dice la Biblia que vivió Adam,
            entre
            doce, nos da 77 años. Al dividir lo vivido por Matusalem, 969 años ( lunas según ellos ) entre doce, nos da
            casi 81
            años, etc.. <strong>Cuando el humano desea negar a Dios, o negar la autoridad de la Biblia, apela a
                cualquier
                necedad</strong> que en ese momento le venga a la mente, sin usar discernimiento, lógica, ni métodos
            científicos.
            Sólo alega falsedades, o medias verdades mezcladas con mentiras, o con hipótesis descabelladas, a las que
            les ponen a
            viva fuerza, el chaquetón de "científicas", sin merecerlo. Estos "iluminados" que creyeron haber encontrado
            la
            "explicación" de la gran longevidad de los patriarcas que en este pasaje se reporta, <strong>no se
                molestaron en
                razonar</strong> someramente sobre el tema. Por eso se lanzaron irreverente e irresponsablemente a la
            carga,
            gozosos, por creer que habían "descubierto" algo que desmentía o "explicaba" lo que ellos creían un error o
            una mala
            interpretación de la Biblia. Así, dictaminaron al estilo "magister dixit", que los que aquí se llaman
            "años", son en
            realidad "lunas" o meses; sin percatarse que en ese mismo pasaje, que estaba delante de su nariz, se hallaba
            la
            desmentida de su tonta hipótesis.</p>
        <p></p>
        <p><strong> "</strong><strong>3</strong> <strong>Y vivió Adam ciento y treinta años, y engendró un hijo a su
            semejanza,
            conforme a su imagen, y llamó su nombre Seth.</strong> <strong>4</strong> <strong>Y fueron los días de Adam,
            después
            que engendró a Seth, ochocientos años: y engendró hijos e hijas.</strong> <strong>5</strong> <strong>Y
            fueron todos
            los días que vivió Adam novecientos y treinta años, y murió.</strong></p>
        <p></p>
        <p><strong> 6</strong> <strong>Y vivió Seth ciento y cinco años, y engendró a Enós.</strong> <strong>7</strong>
            <strong>Y
                vivió Seth, después que engendró a Enós, ochocientos y siete años: y engendró hijos e hijas.</strong>
            <strong>8</strong> <strong>Y fueron todos los días de Seth novecientos y doce años; y murió.</strong></p>
        <p></p>
        <p><strong> 9</strong> <strong>Y vivió Enós noventa años, y engendró a Cainán.</strong> <strong>10</strong>
            <strong>Y
                vivió Enós después que engendró a Cainán, ochocientos y quince años: y engendró hijos e hijas.</strong>
            <strong>11</strong> <strong>Y fueron todos los días de Enós novecientos y cinco años; y murió.</strong></p>
        <p></p>
        <p><strong> 12</strong> <strong>Y vivió Cainán setenta años, y engendró a Mahalaleel.</strong>
            <strong>13</strong>
            <strong>Y vivió Cainán, después que engendró a Mahalaleel, ochocientos y cuarenta años: y engendró hijos e
                hijas.</strong> <strong>14</strong> <strong>Y fueron todos los días de Cainán novecientos y diez años; y
                murió.</strong></p>
        <p></p>
        <p><strong> 15</strong> <strong>Y vivió Mahalaleel sesenta y cinco años, y engendró a Jared.</strong>
            <strong>16</strong> <strong>Y vivió Mahalaleel, después que engendró a Jared, ochocientos y treinta años: y
                engendró
                hijos e hijas.</strong> <strong>17</strong> <strong>Y fueron todos los días de Mahalaleel ochocientos
                noventa y
                cinco años; y murió</strong><strong>."</strong></p>
        <p> Usemos ahora un poco de aritmética y de sentido común. Efectivamente, si lo que aquí se llaman "años" fueran
            "lunas", o " meses", como dicen estos "iluminados", <strong>entonces Adam tuvo un hijo cuando tenía casi
                once
                años,</strong> según el versículo 3, porque 130 lunas entre 12 = 10.8 ; Seth lo tuvo casi <strong>a los
                nueve
                años,</strong> porque 105 lunas entre 12 = 8.75 años ( versículo 6 ); Enós vivió siete y medio años y
            tuvo un hijo,
            porque 90 meses entre 12 = 7.5 años ( versículo 9 ); Cainán tuvo <strong>su primer hijo antes de cumplir los
                seis
                años,</strong> porque 70 meses entre 12 = 5.8 años ( versículo 12 ); y por último, Mahalaleel lo tuvo
            <strong>a los
                cinco años</strong> ( versículo 15 ) etc.. Como vemos, esta novedosa idea carece de sentido, y es
            absolutamente
            <strong>absurda y anticientífica</strong>. Está bien claramente dicho en la Biblia que Adam, que tuvo un
            hijo a los
            130 años, murió a los 930 años; Seth, que lo tuvo a los 105, murió a los 912; Enós, que tuvo un hijo a los
            90 años de
            edad, vivió 905 años; Cainán, que tuvo su primer hijo a los 70 años, murió a los 910 años de edad;
            Mahalaleel, que
            tuvo su primer hijo a los 65, murió a los 895 años de edad. O se consideran meses a todo o se consideran
            años a todo.
            De lo que se olvida mucha gente es del hecho de que a los 400 años de edad nuestros primeros padres se
            encontraban tan
            fuertes, como hoy un hombre de 40 años. Como vemos <strong>no todo el que se llama a sí mismo "científico",
                usa
                métodos científicos para razonar.</strong> <strong>La verdadera ciencia y la verdadera religión tienen
                que
                coincidir</strong>, porque los verdaderos científicos, los que sólo se basan en lo que se puede probar,
            lo único que
            pueden descubrir es lo que Dios creó; y como que Dios no miente, lo que ellos descubran no es razonable que
            esté en
            oposición a lo que Dios dice que Él hizo. (Ver nota a I Cr 27: 15). <strong>Lo más triste de todo esto es
                que hay
                "líderes" cristianos que creen estas necedades.</strong> Un día que estaba yo en la escuela dominical
            fui
            sorprendido por el maestro, que era doctor en medicina, cuando éste dijo lo siguiente: "Yo no creo que nadie
            pueda
            vivir 900 años. Con el conocimiento que yo tengo del cuerpo humano les puedo asegurar que a lo que aquí se
            le llama
            "años" son en realidad meses, o sea lunas." Acto seguido comenzó a sacar la cuenta en la pizarra,
            "demostrando" que
            cuando esas edades se dividían entre doce el resultado era una edad mucho más "aceptable". Cuando yo me
            levanté y le
            saqué en la pizarra las cuentas que les acabo de sacar a ustedes, donde le mostraba que un niño no puede
            tener hijos,
            no se le ocurrió otra cosa que decirme que en distintas épocas se había contado el tiempo de distintas
            formas. Lo cual
            yo le refuté diciéndole que no estábamos hablando de "distintas épocas", sino de datos que venían en el
            mismo capítulo
            y hasta en el mismo versículo, y sobre todo, datos que se referían a la misma persona. <strong>Es muy común
                que el
                hipertrofiado ego impida a los hermanos rectificar en privado, pero mucho menos en público.</strong>
            Este hombre que
            así hablaba era cristiano, no estaba tratando de dañar la fe. Simplemente se había dejado atiborrar la mente
            de
            hipótesis pseudo científicas. Desgraciadamente, <strong>con la autoridad que le daba</strong> el ser doctor
            y el ser
            maestro de escuela dominical, <strong>le estaba haciendo, sin quererlo, un enorme daño a sus
                hermanos</strong> que
            recibían su clase, sabiéndolo científico, cristiano y honesto. Y efectivamente, era honesto, pero estaba
            honestamente
            equivocado, y <strong>las enseñanzas erradas de éstos hermanos que están honestamente equivocados, son las
                que más
                daño le hacen a la grey.</strong></p>
        <p><a href="NotasBiblicas.html">Volver al indice</a></p>

    </section>
</Layout>
    