
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>A Distortion regarding the Lords Supper</title>
</head>
<body>
<p><strong>A distortion regarding the Lord's Supper</strong></p>
<p> Many believers think that the last supper that Jesus and the apostles ate was the Passover and the Unleavened Bread;
    but this was not the case. Because of this mistake now a days they use unleavened bread during the Communion, the
    Lord's Supper. In Mat 27:15; Mrk 15:6; Lk 23:14-17 and Jn 18: 39 we can see that <strong>after the last
        supper</strong>, being Jesus before Pilate, the Jews came to ask the Roman governor to do what he always had
    done during the Feast or Passover, release a prisoner. This is a clear hint that <strong>after the last supper, the
        Passover was still in the future. Therefore, Jesus and his apostles had not yet eaten the lamb, nor the
        unleavened bread.</strong></p>
<p> "<i>Now <strong>at that feast</strong> the governor was wont to release unto the people a prisoner, whom they would</i>."
    ( Mat 27:15 )</p>
<p> "<i>Now <strong>at that feast</strong> he released unto them one prisoner, whomsoever they desired</i>." ( Mr 15:6 )
</p>
<p> "<i>Said unto them: Ye have brought this man unto me, as one that perverteth the people; and, behold, I, having
    examined him before you, have found no fault in this man touching those things whereof ye accuse him. No, nor yet
    Herod; for I sent you to him; and, lo, nothing worthy of death is done unto him. I will therefore chastise him, and
    release him. For of necessity he must release one unto them <strong>at the feast</strong></i>." (Lk 23: 14-17)</p>
<p> "<i>But ye have a custom, that I should release unto you one <strong>at the Passover</strong>; will ye therefore
    that I release unto you the King of the Jews</i>?" (Jn 18:39)</p>
<p></p>
<p><strong>Mathew, Mark, Luke and John witnessed in the former four passages, that the last supper had taken place, but
    the Passover had not yet occurred</strong>.</p>
<p> Jesus Christ was crucified the very same day the Passover lamb was to be sacrificed, in as much as he was the real
    Passover Lamb, of whom the little lamb was just a symbol, as Saint Paul tells us in First Corinthians 5:7.</p>
<p> "<i>Purge out therefore the old leaven, that ye may be a new lump, as ye are unleavened. For even <strong>Christ our
    Passover is sacrificed for us</strong></i>." (I Co 5:7)</p>
<p></p>
<p><strong>Paul says plainly that Christ is our Passover</strong>, it is to say, he who was represented by the death of
    the lamb which was to be sacrificed <strong>the afternoon before</strong> the night in which the Passover lamb and
    the unleavened bread were to be eaten.</p>
<p> To better understand if Christ and the apostles ate common or unleavened bread, it is necessary to go to the Old
    Testament, to realize how the rite of the Passover was conducted. There we can learn when the lamb was to be killed,
    when its flesh was to be eaten, and when the unleavened bread started to be eaten.</p>
<p><strong>The Passover lamb was killed during the afternoon of the 14th day; but the flesh of the lamb and the
    unleavened bread were eaten the night following the afternoon when the lamb was sacrificed, when for the Hebrews it
    was already the 15th day. We have to remember that the Hebrews started their days at sun down</strong>.</p>
<p> If during the Passover the unleavened bread was eaten the evening following the afternoon when the lamb was killed,
    then unmistakably, the bread that Jesus and the apostles ate during the last supper, was not unleavened bread, but
    regular bread, because Christ, the true Passover Lamb had not been yet sacrificed, nor the little lamb of the
    Passover.</p>
<p> "<i>And ye shall keep it up until <strong>the fourteenth day of the same month; and the whole assembly of the
    congregation of Israel shall kill it in the evening</strong>. And they shall take of the blood, and strike it on the
    two side posts and on the upper door post of the houses, wherein they shall eat it. And <strong>they shall eat the
        flesh in that night, roast with fire, and unleavened bread</strong>; and with bitter herbs they shall eat it</i>."
    ( Ex 12:6-8 )</p>
<p><strong>Since the sacrifice lamb or Passover lamb represented the sacrifice of Christ, it is evident that Jesus had
    to die that very day and time in which, because of the ritual law, the Passover lamb had to be sacrificed</strong>.
    Sure enough, so it happened, Jesus died the afternoon before the night in which the Passover was eaten. <strong>Remember
        that Hebrews started their days at sun down</strong>. That afternoon was subsequent to the night in which they
    ate the last supper, but previous to the night in which the lamb was eaten. We can confirm this by reading John
    13:1-2; 18:28; 19:14; 19:31 and 19:42.</p>
<p> "<i><strong>Now before the feast of the Passover</strong>, when Jesus knew that his hour was come that he should
    depart out of this world unto the Father, having loved his own which were in the world, he loved them unto the end.
    <strong>And supper being ended</strong>, the Devil having now put into the heart of Judas Iscariot, Simon's son, to
    betray him</i>…" (Jn 13:1-2)</p>
<p> As we have just read, the last supper was ended before the feast of the Passover had come. If we read Jn 18: 28 will
    see that when the Lord was taken to the hall of judgment, which took place after the last supper, the Jews did not
    want to enter the hall of judgment, to avoid defilement, so that they might eat the Passover. Therefore, the
    Passover had not come yet. This confirms once more, that the last supper was not the Passover.</p>
<p> "<i><strong>Then led they Jesus from Caiaphas unto the hall of judgment</strong>; and it was early; and they
    themselves went not into the judgment hall, lest they should be defiled; <strong>but that they might eat the
        Passover</strong></i>." ( Jn 18:28 )</p>
<p> Also in Jn 19:24 we see that when Jesus was being judged by Pilate and priests, the Passover had not been eaten
    yet.</p>
<p>"<i>And <strong>it was the preparation of the Passover</strong>, and about the sixth hour; and he saith unto the
    Jews: <strong>Behold your King</strong></i>!" ( Jn 19:14 )</p>
<p> A little further, in Jn 19:31, we learn that even after the crucifixion and death of the Lord, they had not eaten
    the Passover yet, <strong>because it was still the eve of the feast</strong>.</p>
<p> "<i>The Jews therefore, <strong>because it was the preparation</strong>, that the bodies should not remain upon the
    cross on the sabbath day, (for that sabbath day was an high day,) besought Pilate that their legs might be broken,
    and that they might be taken away</i>." (Jn 19: 31)</p>
<p> Again, in Jn 19:42, when they were going to bury the Lord, we see it was the eve of the Passover.</p>
<p> "<i>There laid they Jesus therefore, because of <strong>the Jews' preparation day</strong>; for the sepulchre was
    nigh at hand</i>." ( Jn 19:42 )</p>
<p><strong>Thus far we have demonstrated that Jesus Christ did not eat the last Passover</strong>, because he died the
    afternoon before. He died the very same day in which the Passover lamb had to be killed. Let's go now to the origin
    of the Passover rite, in order to learn <strong>when the lamb was killed</strong>, and <strong>when the unleavened
        bread started to be eaten</strong>. In the next verse we will show that the unleavened bread started the night
    of the 15th day, which followed the afternoon of the 14th day, in which the lamb was killed. (This was the same
    afternoon Jesus was killed.)</p>
<p> "<i>And they shall eat the flesh <strong>in that night</strong>, roast with fire, and unleavened bread; and with
    bitter herbs they shall eat it</i>." ( Ex 12:8 )</p>
<p> In Lev 23:6 we see clearly and specifically that the unleavened bread started the 15th day and not the 14th day.
    Same is said in Nm 28: 16-17.</p>
<p> "<i>And <strong>on the fifteenth day of the same month is the feast of unleavened bread</strong> unto the LORD;
    seven days ye must eat unleavened bread</i>." ( Lev 23: 6 )</p>
<p> "<i>And <strong>in the fourteenth day of the first month is the Passover</strong> of the LORD. And</i> <strong><i>in
    the fifteenth day of this month is the feast; seven days shall unleavened bread be eaten</i>.</strong>" ( Nm
    28:16-17 )</p>
<p><strong>Jesus Christ is the true Passover Lamb, that is why his sacrifice in the cross coincided with the sacrifice
    of the lamb that was going to be roasted and eaten the following night.</strong> If the unleavened bread was eaten
    after the lamb was roasted, and if Jesus ate the last supper with his apostles before he was crucified, it is
    obvious that the bread used in the last supper had to be common bread, not unleavened bread. Therefore <strong>in
        our celebration of the Lord's Supper we must use common bread</strong>, preferably whole wheat bread, which is
    the one used at that time.</p>
<p> The following passage makes it evident that Jesus was already dead, when the Passover had not come yet.</p>
<p>"<i>And, behold, there was a man named Joseph, a counsellor; and he was a good man, and a just; the same had not
    consented to the counsel and deed of them; he was of Arimathaea, a city of the Jews; who also himself waited for the
    kingdom of God. This man went unto Pilate, and <strong>begged the body of Jesus</strong>. And he took it down, and
    wrapped it in linen, and laid it in a sepulchre that was hewn in stone, wherein never man before was laid. <strong>And
        that day was the preparation, and the sabbath drew on</strong></i>." (Lk 23:50-54)</p>
<p><strong>As we see, in both passages, now in Luke and before in John</strong>, it is said that the Passover had not
    taken place at the time of the judgment, crucifixion and death of Our Lord Jesus Christ. Thus <strong>it is
        evident</strong> that the last supper they had the night before, was surely not the Passover. <strong>That year
        Jesus did not eat the Passover</strong>, he was crucified the afternoon before it. <strong>It was just logical
        this is what happened, because, Jesus Christ was the true Passover, of which the lamb was just a
        symbol.</strong> It comes with the territory that Jesus had to die the very afternoon they killed the Passover
    lamb; thus, he could not be alive when that year the roasted lamb was eaten.</p>
<p> In John 13:27-29 we see that in the middle of the last supper, when Jesus said to Judas Iscariot: "That thou doest,
    do quickly.", <strong>the apostles thought that what Jesus was asking Judas was to buy what was necessary for the
        Passover. Consequently, the Passover was not yet come.</strong></p>
<p> "<i>And after the sop Satan entered into him. <strong>Then said Jesus unto him: That thou doest, do
    quickly.</strong> Now no man at the table knew for what intent he spake this unto him. <strong>For some of them
    thought, because Judas had the bag, that Jesus had said unto him: Buy those things that we have need of against the
    feast</strong>; or, that he should give something to the poor</i>." ( Jn 13: 27-29 )</p>
<p><strong>In brief,</strong> leavened bread was used in the last supper, it is to say common bread, and red wine. That
    was the Lord's Supper rite, which Jesus Christ established for all Christians. That is why Christians should use in
    our Lord's Supper common bread and red wine.</p>
<p><strong>Satan has succeeded in distorting the Lord's Supper among almost all Christian religions.</strong> Some give
    their parishioners a wafer, but only the priests drink the wine. Others do not give their follower the bread nor the
    red wine, these elements are taken only by a few "special" members that according to their religion belong to the
    144,000 anointed ones. Still others give incorrectly to the attendants, unleavened bread, not giving them red wine
    either, but instead some grape juice or red cool aid. Some others correctly use the red wine, but use unleavened
    bread. Those who use in the Lord's Supper regular bread plus red wine are very few.</p>
<p><strong>As it is evident, Satan has succeeded in distorting the true rite of the Lord's Supper, in almost the
    totality of the Christians, without being noticed by them.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>