<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Los Cuatro Caminos</title>
</head>
<body>
<p><strong>To Illustrate the importance of God´s commandments, observe the following four pictures:</strong></p>
<p><strong><img alt="Camino1ingl%E9s" height="546" src="https://www.bibleserralta.com/Camino1ingl%E9s.JPG" width="428"></strong>
</p>
<p>-------------------------------------------------o-------------------------------------------------</p>
<p><img alt="Camino2ingl%E9s" height="543" src="https://www.bibleserralta.com/Camino2ingl%E9s.JPG" width="422"></p>
<p>-------------------------------------------------o-------------------------------------------------</p>
<p><img alt="Camino3ingl%E9s" height="552" src="https://www.bibleserralta.com/Camino3ingl%E9s.JPG" width="800"></p>
<p>-------------------------------------------------o------------------------------------------------</p>
<p><img alt="Camino4ingl%E9s" height="553" src="https://www.bibleserralta.com/Camino4ingl%E9s.JPG" width="804"></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>