
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Marriages Angels-Women an Absurd</title>
</head>
<body>
<p><strong>Marriages between angels and women is just an absurd, ridiculous, heretical, and blasphemous
    teaching</strong></p>
<p><strong>Russellists have fabricated the blasphemous teaching that once there was a time in which many angels married
    women</strong>. This is totally false. Angels have neither power nor wisdom to create a human body; nor would God
    cooperate with them by creating a body with the sole purpose to commit such a horrid sin. In the "Watchtower", a
    magazine of the Russellists, they often present this teaching.</p>
<p> In order to support their error they present Gn 1-4, from which they have far fetched their fabrication. Sadly, they
    have "infected" true Christians, who are now believing the filthy idea. According to the "Governing Body" of the
    Russellists, a great number of angels, some how, incarnated themselves, and had "sons" with regular women. <strong>Not
        true</strong>.</p>
<p> To prop their teaching, Russellists allege that in Job 1: 6 the angels are called "sons of God", therefore, <strong>necessarily</strong>,
    those who were called "sons of God" in Genesis, have to also be angels. Let's first demonstrate biblically, and
    later using common sense, that this is another lie.</p>
<p> "<i>1 And it came to pass, when men began to multiply on the face of the earth, and daughters were born unto them, 2
    <strong>that the sons of God saw</strong> the daughters of men that they were fair; and they took them wives of all
    which they chose. 3 <strong>And the LORD said, My spirit shall not always strive with man</strong>, for that he also
    is flesh; yet his days shall be an hundred and twenty years. 4 <strong>There were giants in the earth in those days;
        and also after that, when the sons of God came in unto the daughters of men</strong>, and they bare children to
    them, the same became mighty men which were of old, men of renown. 5 And GOD saw that the wickedness of man was
    great in the earth, and that every imagination of the thoughts of his heart was only evil continually. 6 And it
    repented the LORD that he had made man on the earth, and it grieved him at his heart</i>." ( Gn 6: 1-4 )</p>
<p></p>
<p> "<i>Now there was a day when the sons of God came to present themselves before the LORD, <strong>and Satan came also
    among them</strong></i>." ( Job 1: 6 )</p>
<p><strong>In the Bible, human beings have been called "sons of God" many times more than the angels</strong>. Why then
    do the Russellists make believe that in Gn 6: 1-4 the phrase "sons of God" refers to angels and not men?</p>
<p><strong>Most probably, these men were called "sons of God", and these women were called "daughters of men", meaning
    that</strong> men who were believers and pious, married women who were unbelievers, carnal, sensual, and given to
    the flesh. Men did so because these women were gorgeous, beautiful, and paid no attention to their faith, and
    subsequently their soul. This interpretation of Gn 6: 1-2 agrees with the complaint God expresses in verse 3.
    Certainly so, after saying in verse 2 the wrongs of the so called "sons of God", God said: "<i>My spirit shall not
        always strive <strong>with man</strong></i>…". <strong>We see that God did not mention angels</strong>, who, in
    this case, would be the main subjects of the problem, ( if truly this teaching was right.)</p>
<p> "… <strong>the sons of God saw</strong> <i>the daughters of men that they were fair; and they took them wives of all
    which they chose. <strong>And the LORD said, My spirit shall not always strive with man</strong>, for that he also
    is flesh; yet his days shall be an hundred and twenty years</i>." ( Gn 6: 2-3 )</p>
<p><strong>Something else to consider, is that verse 2 does not say that "the sons of God" took a body of flesh and
    bones</strong>, as to be able to have sexual relations with women. It comes with the territory that if the phrase
    "sons of God" would refer to angels, the writer would explain that they took a body, because he had to know that no
    one would otherwise understand how an angel could have sex with a woman.</p>
<p><strong>It is far more logical to admit that the problem was caused by the believer's blinded lechery, leading them
    to marry without any regard for their religion</strong>. Because of the fact that every believer had taken this
    wrong path, we see that God considered it better to destroy that society, and start another with Noah, who was a man
    of great qualities.</p>
<p><strong>Now, to understand what I am about to say, it is necessary to realize that the 5th chapter of Genesis is a
    list of genealogies, inserted between Gn 4: 26 and 6: 1</strong>. If you jump from verse 4: 26 to 6: 1 you will not
    notice an interruption, but on the contrary, reading becomes more sequential and fluent. You will even see that
    chapter 5 begin by stating: "This is the book of the generations of Adam". This was probably a parchment inserted
    between Gn 4: 26 and 6: 1.</p>
<p> After understanding this previous explanation we realize that subsequent to saying in verse 4: 26 "<strong>And to
    Seth, to him also there was born a son; and he called his name Enos. Then men began to call upon the name of the
    LORD"</strong>, right afterwards in 6: 1-2 we see the complaint that "the sons of God" (descendants of faithful
    Enos, those who called themselves by the name of the Lord ), married the daughters of men, ( those who did not call
    themselves by the name of the Lord, maybe because they were descendants of Cain ). The importance of the problem is
    that by marrying believers to non believers, the society was going to corrupt entirely. All this proves that the
    phrase "sons of God" referred to men who were believers, and the phrase "daughters of men" referred to women who
    were unbelievers.</p>
<p><strong>It will become evident that human-beings are called "sons of God" over and over again, just by
    reading</strong> Psalm 82: 6; Hosea 1: 10; Ro 8: 14, 16, 19 & 21; 9: 26; Gal 3: 26; 4: 6; Philippians 2: 15 and many
    others.</p>
<p> "<i>I have said, Ye are gods; and all of <strong>you are children of the most High</strong></i><strong>.</strong>" (
    Psalm 82: 6 )</p>
<p> "<i>Yet the number of the children of Israel shall be as the sand of the sea, which cannot be measured nor numbered;
    and it shall come to pass, that in the place where it was said unto them, Ye are not my people, there it shall be
    said unto them, <strong>Ye are the sons of the living God</strong></i>." ( Hosea 1: 10 )</p>
<p></p>
<p> "<i>For as many as are led by the Spirit of God, <strong>they are the sons of God</strong></i>." ( Ro 8: 14 )</p>
<p></p>
<p> "<i>The Spirit itself beareth witness with our spirit, that <strong>we are the children of God</strong></i>." ( Ro
    8: 16 )</p>
<p></p>
<p> "<i>For the earnest expectation of the creature waiteth for the manifestation of <strong>the sons of
    God</strong>.</i>" ( Ro 8: 19 )</p>
<p></p>
<p> "<i>Because the creature itself also shall be delivered from the bondage of corruption into the glorious liberty of
    <strong>the children of God</strong></i>." ( Ro 8: 21 )</p>
<p></p>
<p> "<i>And it shall come to pass, that in the place where it was said unto them, Ye are not my people; there shall they
    be called <strong>the children of the living God</strong></i>." ( Ro 9: 26 )</p>
<p></p>
<p> "<i>For <strong>ye are all the children of God</strong> by faith in Christ Jesus</i>." ( Gal 3: 26 )</p>
<p></p>
<p> "<strong>And because ye are sons</strong><i>, God hath sent forth the Spirit of his Son into your hearts, crying,
    Abba, Father</i>." ( Gal 4: 6 )</p>
<p></p>
<p> "<i>That ye may be blameless and harmless, <strong>the sons of God</strong>, without rebuke, in the midst of a
    crooked and perverse nation, among whom ye shine as lights in the world</i>." ( Phil 2: 15 )</p>
<p><strong>After considering all these biblical arguments, let's now use our common sense. <i>Neither demons, nor any
    creature can create anything</i></strong>. A demon cannot create a human body, <strong>give life to each
    cell</strong>, produce genital organs, make spermatozoids with chromosomes, genes, DNA, etc., to later introduce
    himself in that body, and have children with a woman, as said by the Russellists. This simply is not true.</p>
<p> Russellists also claim that according to Gn 6: 4, the sexual participation of demons, began the existence of giants
    on the Earth. <strong>This again is false. Otherwise all the children of demon-possessed men would be giants,
        something we know is not true.</strong></p>
<p> Russellists have not noticed that in this very verse it says that <strong>the giants existed before</strong> the
    sons of God married the daughters of men, and also after it.</p>
<p> "<strong>There were giants in the earth in those days</strong><i>; <strong>and also after that, when the sons of God
    came in unto the daughters of men</strong>, and they bare children to them, the same became mighty men which were of
    old, men of renown</i>." ( Gn 6: 4 )</p>
<p> As we know, during the Creation, God created <strong>only one man, Adam</strong>. According to the Russellists, God
    restarted His work with a second creation, <strong>but this time, instead of creating one man, He created thousands
        of them, and to boot, God created them with better genes than Adam, because their offspring were giants</strong>.
    Absurd!!</p>
<p> Something else to realize is that if these supposed demons, incarnated along a long period of time, then it have to
    be concluded that God worked for years or decades creating bodies for these abominable beings, instead of working
    only one day as when He created Adam. Absurd.</p>
<p><strong>Let's see another absurd claimed by Russellists. They insist that there is no soul, but only flesh. According
    to that, feelings, character and personality are just in the brain and not in the soul</strong>. If this was so,
    then they would have to admit the following: <strong>a)</strong> These newly created bodies, which were fashioned
    especially for demons, <strong>had a brain</strong>. In which case they were regular men, with their own
    individuality, feelings, and human personality, created by God, with the only purpose of being possessed by a demon.
    This is a blaspheme against God. <strong>b)</strong> The other alternative is that, to preclude those bodies from
    having a human personality, <strong>they were created without brains</strong>. In this case they have to believe the
    bizarre idea of a human body that performs perfectly well without a brain.</p>
<p><strong>In short, to think that this teaching is true means one of two: 1)</strong> either rebellious angels have a
    power and a wisdom equal to God, or <strong>2)</strong> God agreed with these demons in creating a body for them for
    the sole purpose of committing this horrid sin. Both ideas equally absurd and blasphemous.</p>
<p> This idea of "materialization" of angels must be related to the materialization of the spirits, as seen in the
    believers of spiritualism.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>