<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Matrimonios angélico-humanos es un disparate</title>
</head>
<body>
<p><strong>MATRIMONIOS ANGÉLICO-HUMANOS: DISPARATE, HEREJÍA Y BLASFEMIA.</strong></p>
<p><strong>Los ruselistas han fabricado la disparatada, herética y blasfema hipótesis</strong> de que hubo un tiempo en
    que ciertos ángeles se casaron con mujeres. Eso es absolutamente falso, puesto que los ángeles no tienen poder ni
    sabiduría para crear un cuerpo humano, ni iba Dios a cooperar con ellos fabricándoles un cuerpo, a fin de que ellos
    cometieran tan horrendo pecado. En su revista "Atalaya" ellos presentan a cada rato esta absurda enseñanza.</p>
<p> Para basar ese disparate, ellos citan el pasaje de Gn 6: 1-4. De ahí sacan por los pelos los ruselistas, y algunos
    otros infectados por sus herejías, la hipótesis de que un número crecido de ángeles rebelados "encarnaron" y
    tuvieron hijos con mujeres humanas. <strong>No hay tal cosa; esa es otra mentira de los ruselistas.</strong></p>
<p> Para apoyar esta enseñanza, sus defensores dicen que como que en Job 1: 6 se les llama "hijos de Dios" a los
    ángeles, por lo tanto, <strong>necesariamente</strong>, los llamados "hijos de Dios", en el pasaje de Génesis,
    tienen que ser también ángeles. Vamos a demostrar primero, con ejemplos bíblicos, la falsedad de esa enseñanza; y
    luego, lo vamos a demostrar también desde el punto de vista del sentido común.</p>
<p></p>
<p> "1 <i>Y acaeció que, cuando comenzaron los hombres a multiplicarse sobre la faz de la Tierra, y les nacieron hijas,
    2 <strong>viendo los hijos de Dios</strong> que las hijas de los hombres eran hermosas, se tomaron mujeres,
    escogiendo entre todas. 3 Y dijo Jehová: <strong>No contenderá mi espíritu con el hombre</strong> para siempre,
    porque ciertamente él es carne, mas serán sus días ciento y veinte años. 4 <strong>Había gigantes en la tierra en
        aquellos días, y también después que entraron los hijos de Dios a las hijas de los hombres</strong>, y les
    engendraron hijos. Éstos fueron los valientes que desde la antigüedad fueron varones de nombre.</i>" ( Gn 6: 1-4 )
</p>
<p></p>
<p></p>
<p> "<i>Y un día vinieron <strong>los hijos de Dios</strong> a presentarse delante de Jehová, <strong>entre los cuales
    vino también Satán</strong></i>." ( Job 1: 6 )</p>
<p><strong>Los seres humanos han sido llamados "hijos de Dios" muchas más veces que los ángeles.</strong> ¿Por qué
    entonces los ruselistas hacen ver que en Gn 6: 1-2 la frase "hijos de Dios" se refiere a los ángeles y no a los
    seres humanos.?</p>
<p> El llamarle en este caso de Génesis, a los hombres "hijos de Dios", y a las mujeres "hijas de los hombres", puede
    significar, <strong>y eso es lo más probable</strong>, que hombres religiosos se casaban con mujeres mundanas o
    carnales, sólo porque eran hermosas, sin tomar en consideración el alma, la fe, etc.. Esto último concuerda con la
    queja expresada por Dios en el versículo 3, pues después que en el 2 se dice lo malo que hicieron los llamados
    "hijos de Dios", la exclamación de Dios es: "No contenderá mi espíritu <strong>con el hombre</strong>....". Vemos
    que <strong>no menciona para nada a los ángeles</strong>, que serían los principales causantes del problema, si esa
    absurda enseñanza fuera cierta.</p>
<p></p>
<p> "2 <i>Viendo <strong>los hijos de Dios</strong> que las hijas de los hombres eran hermosas, se tomaron mujeres,
    escogiendo entre todas.</i> 3 <i>Y dijo Jehová: <strong>No contenderá mi espíritu con el hombre</strong> para
    siempre, porque ciertamente él es carne, mas serán sus días ciento y veinte años</i>." ( Gn 6: 2-3 )</p>
<p><strong>Otra cosa a tener en cuenta es que en el versículo 2 no se dice que los "hijos de Dios" tomaran cuerpo de
    carne y huesos</strong> para poder tener relaciones sexuales. Es ilógico pensar que si la frase "hijos de Dios" se
    refiriera a los ángeles, el autor no fuera a explicar previamente, que habían tomado cuerpo de carne, porque sabría
    él, que nadie iba a entender cómo un ángel pudo tener sexo con una mujer.</p>
<p><strong>Es muchísimo más lógico admitir</strong> que el problema era causado porque <strong>los creyentes, cegados
    por la lujuria sexual, se casaban sin tomar en consideración la religión</strong>; y que como que ya hasta los
    creyentes habían tomado ese mal camino, era mejor destruir toda aquella sociedad y recomenzarla a partir de un
    patriarca de la calidad de Noé.</p>
<p><strong>Para entender lo que a continuación voy a decir, es bueno darnos cuenta de que el capítulo cinco de Génesis
    es una lista genealógica intercalada en la narración</strong>, entre el final del capítulo cuatro ( 4: 26 ) y el
    principio del capítulo seis ( 6: 1 ). <strong>Si ustedes saltan del 4: 26 al 6: 1 verán que se puede seguir
        leyendo</strong> sin que se altere el hilo de la narración. Incluso se ve que el capítulo 5, al principio, se
    titula a sí mismo como "El Libro de las Generaciones de Adam"; o sea, que se ve que es un pergamino aparte que se
    intercaló en la narración.</p>
<p> Después de entender la anterior explicación vemos que <strong>inmediatamente después de decir en 4: 26</strong>
    "Entonces los hombres comenzaron a llamarse del nombre de Jehová…", en 6: 1-2 <strong>comienza la queja</strong> de
    que los hijos de Dios, ( los descendientes de Seth, los que se llamaban del nombre de Jehová), se casaban con las
    hijas de los hombres, ( los que no se llamaban del nombre de Jehová, tal vez porque eran descendientes de Caín ),
    con lo cual se acababa de corromper toda la sociedad aquella. Eso comprueba que la frase "hijos de Dios" se refería
    a los hombres creyentes, y la frase "hijas de los hombres" a mujeres no creyentes.</p>
<p><strong>Para ver cómo los seres humanos fueron llamados muchas veces "hijos de Dios", basta leer</strong> Sal 82: 6;
    Os 1: 10; Ro 8: 14, 16, 19 y 21; 9: 26; Ga 3: 26; 4: 6; Fil 2: 15 y muchos pasajes más.</p>
<p></p>
<p> "<i>Yo dije: Vosotros sois dioses. E <strong>hijos</strong> todos vosotros <strong>del Altísimo</strong></i>." ( Sal
    82: 6 )</p>
<p></p>
<p> "<i>Con todo será el número de los hijos de Israel como la arena de la mar, que ni se puede medir ni contar. Y será,
    que donde se les ha dicho: Vosotros no sois mi pueblo, les será dicho: <strong>Sois hijos del Dios viviente</strong></i>."
    ( Os 1: 10 )</p>
<p></p>
<p> "<i>Porque todos los que son guiados por el Espíritu de Dios, los tales <strong>son hijos de Dios</strong>.</i>" (
    Ro 8: 14 )</p>
<p></p>
<p> "<i>Porque el mismo Espíritu da testimonio a nuestro espíritu que <strong>somos hijos de Dios</strong></i>." ( Ro 8:
    16 )</p>
<p></p>
<p> "<i>Porque el continuo anhelar de las criaturas espera la manifestación de <strong>los hijos de Dios</strong></i>."
    ( Ro 8: 19 )</p>
<p></p>
<p> "<i>Que también las mismas criaturas serán libradas de la servidumbre de corrupción en la libertad gloriosa de
    <strong>los hijos de Dios</strong></i>." ( Ro 8: 21 )</p>
<p></p>
<p> "<i>Y será, que en el lugar donde les fue dicho: Vosotros no sois pueblo mío: Allí serán llamados <strong>hijos del
    Dios viviente</strong></i>." ( Ro 9: 26 )</p>
<p></p>
<p> "<i>Porque todos <strong>sois hijos de Dios</strong> por la fe en Cristo Jesús</i>." ( Ga 3: 26 )</p>
<p></p>
<p> "<i>Y por cuanto <strong>sois hijos, Dios</strong> envió el Espíritu de su Hijo en vuestros corazones, el cual
    clama: Abba, Padre</i>." ( Ga 4: 6 )</p>
<p></p>
<p> "<i>Para que seáis irreprensibles y sencillos, <strong>hijos de Dios</strong> sin culpa en medio de la nación
    maligna y perversa, entre los cuales resplandecéis como luminares en el mundo</i>" ( Fil 2: 15 )</p>
<p><strong>Después de los ya presentados argumentos bíblicos, acudamos ahora a usar el sentido común. Ni los demonios ni
    ninguna criatura, puede crear nada</strong>; no puede un demonio crear un cuerpo humano y <strong>darle vida a cada
    célula</strong>, fabricarse órganos genitales, fabricar espermatozoides, con cromosomas, genes, DNA, etc., para
    luego introducirse en ese cuerpo, a fin de tener hijos, como dicen los ruselistas. Todo eso es absolutamente falso.
</p>
<p> Dicen los partidarios de esta aberrada hipótesis, que debido a la participación sexual de los demonios, fue que
    comenzaron a haber gigantes en la tierra, como dice Gn 6: 4. Eso también es falso, <strong>porque en ese caso, todos
        los endemoniados tendrían como hijos a seres gigantescos, cosa que no es cierta.</strong></p>
<p><strong>En lo que no se han fijado los que atribuyen a los inexistentes demonio-humanos la existencia de los
    gigantes,</strong> es en que al principio del mismo versículo 4, dice que <strong>antes de que los hijos de Dios
    engendraran hijos a las hijas de los hombres, también había gigantes</strong>. Esto se colige porque dice:</p>
<p></p>
<p><strong>"<i>Había gigantes en la tierra en aquellos días, y también después que entraron los hijos de Dios a las
    hijas de los hombres,</i></strong> <i>y les engendraron hijos. Éstos fueron los valientes que desde la antigüedad
    fueron varones de nombre</i>." ( Gn 6: 4 )</p>
<p> Además, durante la creación <strong>Dios creó un solo hombre, Adam.</strong> Según los ruselistas Dios volvió a la
    tarea de creación, pero en esta "segunda creación" que ellos suponen, en vez de un solo cuerpo de hombre , <strong>creó
        miles de ellos, y para colmo, hechos de mejor calidad que el de Adam, porque sus hijos eran gigantescos</strong>.
</p>
<p> Otra cosa a analizar es que si esos demonios encarnaron durante un largo período de tiempo, entonces <strong>tendríamos
    que pensar que Dios, en vez de crear al hombre en un solo día, se pasó ese largo período, años o décadas, creando
    mejores cuerpos que el de Adam</strong>, para que se los "vistieran" esos seres abominables.</p>
<p><strong>Veamos otro absurdo. Los ruselistas dicen que el alma no existe, y que los sentimientos, pensamientos,
    personalidad, etc., se hallan en el cerebro</strong>, y no en el alma. Si eso fuera así entonces se tendría que
    admitir uno de estos dos absurdos: <strong>a)</strong> los cuerpos que fueron creados especialmente para esos
    demonios, <strong>tenían cerebro</strong>, y por lo tanto, eran hombres corrientes con personalidad, sentimientos,
    etc., creados con el único propósito de que ese infeliz ser humano recién creado, fuera entregado para ser poseído
    por un demonio, lo cual es una blasfemia contra Dios; o <strong>b)</strong> la otra alternativa de este disparate es
    que esos cuerpos creados para que los poseyeran los demonios no eran hombres comunes y corrientes, pues no tenían
    personalidad, ni sentimientos, ni nada, <strong>porque no tenían cerebro, dado que si lo hubieran tenido, entonces
        ya tenían personalidad</strong>. En ese caso habría que creer en el absurdo de un cuerpo humano que puede
    funcionar perfectamente sin cerebro.</p>
<p><strong>En resumen, pensar que esa absurda y ridícula hipótesis es cierta equivale a una de dos: a)</strong> suponer
    a los ángeles rebeldes una sabiduría y poder igual que los de Dios, o <strong>b)</strong> suponer que Dios fabricó,
    a petición de esos ángeles rebeldes, ese cuerpo fornicario con el objeto de que ellos pecaran. Absurdo, blasfemo.
</p>
<p> Este cuento de hadas sobre la "materialización" de ángeles es parienta de la "materialización" de los espíritus en
    el espiritismo. Tal vez la inventó algún espiritista que ingresó en el ruselismo.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>