
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Dinámica Celestial, Mecánica de la Tentación</title>
</head>
<body>
<p><strong>DINÁMICA CELESTIAL: MECÁNICA DE LA TENTACIÓN.</strong></p>
<p> Como se ve en este pasaje, el Diablo se aprovecha de <strong>los requerimientos normales de la naturaleza humana
    física</strong>, y de <strong>los sentimientos abrigados por el alma</strong>, para exacerbarlos y convertirlos en
    pecado. Con Nuestro Señor Jesucristo usó ese mismo método. ¿Y cómo lo incitó a pecar el Diablo?</p>
<p><strong> Después de 40 días de ayuno absoluto</strong> es normal que se sienta un hambre incontrolable; por lo tanto,
    la tentación debía entrar por ahí precisamente: pedirle que comiera, pero no en forma correcta, natural, sino
    incitándolo a hacer un uso indebido de su divino poder, para así invalidar su salvadora gestión.</p>
<p> Por el otro lado, como que era natural que Jesús estuviera orgulloso de ser Hijo de Dios, es ahí precisamente donde
    trata de exacerbar su sentimiento, y para ello finge poner en duda la paternidad divina de Jesús a fin de que él se
    apresurara a demostrarla. <strong>Conjuga en su tentación las dos más fuertes fuerzas que obraban en Jesús en ese
        instante</strong>: demostrar que sí era hijo de Dios, ("Si eres hijo de Dios...") y su natural urgencia de comer
    ("...di que estas piedras se hagan pan").</p>
<p> "<i>1 Entonces Jesús fue llevado del Espíritu al desierto, para ser tentado del Diablo.</i> 2 <i>Y <strong>habiendo
    ayunado cuarenta días y cuarenta noches</strong>, después tuvo hambre.</i> 3 <i>Y llegándose a él el tentador, dijo:
    <strong>Si eres Hijo de Dios</strong>, di que estas piedras se hagan pan</i>." ( Mt 4:1-3 )</p>
<p> El Diablo, creado por Dios, muy superior al ser humano, <strong>sólo puede ser vencido cuando en vez de enfrentarnos
    a él astucia contra astucia, nos refugiamos en la absoluta y total victoria que sobre él obtuvo Jesucristo por su
    sangre</strong>. El que no apela a ese método tiene la batalla perdida de inicio, como la tiene un chivo que se
    enfrenta a un león, al cual Dios, por naturaleza, hizo más fuerte que a aquel.</p>
<p> Son muchos los cristianos que por ignorancia, falta de práctica o de experiencia, <strong>enfrentan las
    concupiscencias, y las tentaciones que de éstas se derivan, con sus propias fuerzas, sin apelar a la sangre de
    Cristo, o haciéndolo muy tardíamente, cuando ya el enemigo ha logrado infligirnos algunos descalabros</strong>.</p>
<p> Precisamente <strong>esa es una de las tentaciones preferida del enemigo: incitarnos a que luchemos solos</strong>,
    sin el auxilio de Jesucristo; puesto que si logra ese primer paso, los demás le serán sencillísimos. Otra ayuda que
    se basa en la palabra de Dios para poder luchar con buen éxito contra nuestros enemigos espirituales, <strong>es el
        ayuno</strong>.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>