---
import Layout from "../layout/Layout.astro";
---

<Layout title="Heavenly Dynamics, Mechanics of Temptation">
    <section>
<p><strong>Heavenly Dynamics: mechanics of temptation</strong></p>
<p> As we can learn from this passage, the Devil takes advantage of the body <strong>needs of the human nature</strong>,
    and <strong>the feelings of the soul</strong> in order to exaggerate them and make them a sin.</p>
<p> After 40 days of total fasting, it is just normal that Jesus felt a great hunger; therefore it is logical that
    temptation would enter that way: asking him to eat. This temptation was not a regular one however, instead it was a
    temptation to use his divine powers for his own personal benefit, therefore invalidating his saving mission.</p>
<p> On the other hand, <strong>it was natural that Jesus would be proud of being The Son of God</strong>. Therefore, it
    is another point that the Devil would try to exacerbate Jesus. For the Devil to get to his goal, he pretends to
    doubt if the Lord is or is not the Son of God. That is when the Devil joins both strongest forces in only one
    temptation, to cause Jesus to sin: to entice him to demonstrate that he was the Son of God, ( "If thou be the son of
    God…"), and his natural urge to eat ("…command that these stones be made bread."). "<i>1 Then was Jesus led up of
        the Spirit into the wilderness to be tempted of the Devil. 2 <strong>And when he had fasted forty days and forty
            nights</strong>, he was afterward an hungered. 3 And when the tempter came to him, he said: <strong>If thou
            be the Son of God</strong>, command that these stones be made bread</i>." ( Matt 4:1-3)</p>
<p> Satan was created by God as a being superior to human beings, <strong>only can he be defeated when instead of facing
    him with shrewdness against his own shrewdness, we take refuge in the absolute and total victory that</strong> Jesus
    Christ won over him with his own blood. The one who does not appeal to this method, has lost his battle since the
    beginning; as if a goat fights a lion, which was created stronger than the goat.</p>
<p> Many Christians, by ignorance or by lack of practice or experience, face their lusts, and the temptations resulting
    from them, with their own strength,. They do not appeal to the blood of Christ, or they appeal too late, after the
    enemy has inflicted upon them much suffering and harm.</p>
<p><strong>Precisely it is one of the best techniques of our spiritual enemy: to entice us to face him when we are by
    ourselves</strong>. If he wins in this first step, all others are much easier. We have the Word of God as a weapon
    to fight temptation, but beside the Word of God, <strong>another weapon</strong> was provided for us to fight
    temptation: <strong>fasting</strong>.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    