---
import Layout from "../layout/Layout.astro";
---

<Layout title="Melquísedec no pudo ser Cristo">
  <section>
<p><strong>Melquísedec no pudo ser Cristo</strong></p>
<p> Cuando una persona alega una hipótesis, o hace cualquier afirmación que no sea evidente, no es el oyente el que
  tiene que demostrarle que eso es falso, <strong>es el que plantea la hipótesis o hace la afirmación el que tiene que
    demostrar que eso es cierto.</strong> El hecho de que nadie pueda demostrar que lo que se afirma es falso, no es una
  prueba de que lo que se afirma es cierto. Yo puedo decir que anoche fui a la luna y regresé esta mañana, y nadie puede
  demostrarme que es falso. Soy yo el que tengo que demostrar que lo que digo es cierto. Yo puedo también afirmar que mi
  burro sabe volar, pero que no le gusta hacerlo delante de otras personas. Nadie puede probarme que es falso, soy yo el
  que tengo que demostrar que es cierto. Igualmente sucede con las hipótesis bíblicas, <strong>o cualquier otra
    afirmación que no sea evidente</strong> con la sola lectura de la Escritura. No soy yo el que tengo que demostrar
  que es falsa, es el que plantea tal hipótesis o hace tal afirmación el que tiene que demostrar que es cierta. Yo no sé
  en que se basan los que opinan que Melquísedec es el mismo Jesucristo. No debía ser yo el que tuviera que demostrar
  que esa hipótesis está errada. Los que la plantean debían ser los que demostraran que es cierta. No obstante voy a
  demostrar que esa hipótesis es errada. Si alguien ve un error en lo que yo considero mi demostración, o si alguien
  puede demostrarme que Cristo y Melquísedec son la misma persona, por favor compártalo conmigo, me hará un gran favor,
  porque a mí me gusta encontrar la verdad. En la Biblia sólo hay cinco pasajes donde se habla de Melquísedec, estos
  son: Gn 14: 18-20; Sal 110: 1-7; Heb 5: 5-11; Heb 6: 19-20; y Heb 7: 1-28. De ninguno de esos pasajes se puede sacar
  en consecuencia que Cristo sea Melquísedec. Veamos.</p>
<p></p>
<p> "<i>Entonces Melquísedec, rey de Salem, sacó pan y vino;</i></p>
<p><strong>el cual era sacerdote del Dios alto</strong><i>;</i> <i>y bendíjole, y dijo:</i></p>
<p><i>Bendito sea Abram del Dios Alto, poseedor de los cielos y de</i></p>
<p><i>la Tierra; y</i> <i>bendito sea el Dios Alto, que entregó tus</i></p>
<p><i>enemigos en tu mano. Y diole Abram los diezmos</i> <i>de todo</i>." </p>
<p> ( Gn 14: 18-20 )</p>
<p></p>
<p> En este pasaje que acabamos de leer no se ve nada por lo cual se pueda asegurar que Melquísedec y Cristo sean la
  misma persona. El simple hecho de ser sacerdote del Dios Alto no indica que Melquísedec fuera Jesucristo. No todos los
  que eran sacerdotes del Dios Alto iban a ser Jesucristo. <strong>Por lo que dice aquí, Melquísedec era sacerdote,
    mientras que Jesucristo fue constituido sacerdote cuando él vino a la cruz.</strong> En el momento en que aparece
  Melquísedec, Jesús no era aún sacerdote, <strong>lo demuestra el hecho de que la profecía de que tal cosa iba a
    ocurrir, se hizo por primera vez en un salmo de David.</strong> Si en Salmo 110: 4 el Mesías es nombrado sacerdote
  según el orden de Melquísedec, es señal de que Melquísedec lo precedía en ser sacerdote. Es decir, que cuando
  Melquísedec era sacerdote, Jesús aún no lo era.</p>
<p></p>
<p> "1 <i>Jehová dijo a mi Señor: Siéntate a mi diestra, en tanto</i></p>
<p><i> que pongo tus enemigos por estrado</i> <i>de tus pies.</i> 2 <i>La vara</i></p>
<p><i> de tu fortaleza enviará Jehová desde Sión, domina en</i></p>
<p><i> medio de tus enemigos.</i> 3 <i>Tu pueblo seralo de buena voluntad</i></p>
<p><i> en el día de tu poder, en la hermosura de la santidad, desde</i> <i> el seno de la aurora, tienes tú el rocío de
  tu juventud.</i> 4 <strong>Juró</strong></p>
<p><strong>Jehová, y no se arrepentirá: Tú eres</strong> <strong>sacerdote para siempre</strong></p>
<p><strong>según el orden de Melquísedec</strong><i>.</i> 5 <i>El Señor a tu diestra herirá</i></p>
<p><i>a los reyes en el día de su furor;</i> 6 <i>juzgará en las gentes,</i></p>
<p><i>llenaralas cadáveres; herirá las cabezas en muchas tierras.</i></p>
<p><i> </i>7 <i>Del arroyo beberá en el camino: Por lo cual</i> <i>levantará</i></p>
<p><i> cabeza.</i>" ( Sal 110: 1-7 )</p>
<p></p>
<p> Como vemos, en el pasaje acabado de leer tampoco hay nada que nos haga ver que Jesús era Melquísedec. Sin embargo sí
  encontramos allí datos que nos dicen que Melquísedec precedió en el sacerdocio a Jesús. <strong>Si yo digo que "B" va
    a ser sacerdote igual que lo fue "A", por lógica, "A" accedió al sacerdocio antes que "B"</strong>. Si ya
  Melquísedec era sacerdote y Jesús no lo era aún, es lógico pensar que no son la misma persona. <strong>La única vez
    que Jesucristo se vistió de carne</strong> fue cuando nació de la Virgen María. Antes de esto jamás Jesús estuvo en
  carne. En el pasaje que sigue <strong>veremos que Melquísedec tenía carne; por lo tanto era un ser humano. Si
    Melquísedec tenía carne antes de que Jesús naciera, es evidente que no son la misma persona.</strong></p>
<p></p>
<p> "5 <i>Así también Cristo no se glorificó a sí mismo haciéndose</i></p>
<p><i> pontífice, mas el que le dijo:</i> <i>Tú eres mi Hijo, Yo te he</i></p>
<p><i> engendrado hoy.</i> 6 <i>Como también dice en otro lugar: Tú eres</i> <i> sacerdote eternamente, <strong>según el
  orden de Melquísedec.</strong></i> 7 <strong>El</strong></p>
<p><strong>cual</strong> <strong>en los días de su carne,</strong> <i>ofreciendo ruegos y súplicas con</i></p>
<p><i> gran clamor y lágrimas al que le podía librar de la muerte,</i> <i> fue oído por su reverencial miedo.</i> 8 <i>Y
  aunque era Hijo, por</i></p>
<p><i> lo que padeció aprendió la</i> <i>obediencia;</i> 9 <i>y consumado, vino</i></p>
<p><i>a ser causa de eterna salud a todos los que le obedecen;</i> <i> </i> 10 <i>nombrado de Dios pontífice <strong>según
  el orden de Melquísedec</strong>.</i></p>
<p>11 <i>Del cual tenemos mucho</i> <i>que decir, y dificultoso de declarar,</i></p>
<p><i> por cuanto sois flacos para oír</i>." ( Heb 5: 5-11 )</p>
<p></p>
<p> Tanto en el pasaje precedente, como tampoco en el pasaje que sigue hay la más mínima pista que nos haga sospechar
  que Jesús y Melquísedec son la misma persona. El próximo pasaje al contrario, nos hace ver de nuevo que Melquísedec
  era sacerdote cuando aún Jesús no lo era.</p>
<p></p>
<p> "19 <i>La cual tenemos como segura y firme ancla del alma,</i></p>
<p><i>y que entra hasta dentro del velo;</i> 20 <i>Donde entró por nosotros</i></p>
<p><i>como precursor Jesús, <strong>hecho Pontífice</strong> eternalmente <strong>según el</strong></i> <strong> orden
  de Melquísedec</strong>." ( Heb 6:19-20 )</p>
<p></p>
<p> En el nuevo pasaje que vamos a leer, en el versículo 3, vemos que dice que <strong>Melquísedec fue hecho semejante
  al Hijo de Dios. Si era semejante a Jesús es porque no era Jesús</strong>. No es lógico que usted y su amigo se paren
  frente a un hijo suyo y usted en vez de decirle: "Mira, este es mi hijo" le vaya a decir "Mira, este es semejante a mi
  hijo".</p>
<p></p>
<p> "1 <i>Porque este Melquísedec, rey de Salem, sacerdote del</i></p>
<p><i>Dios Altísimo, el cual salió a recibir</i> <i>a Abraham que volvía</i></p>
<p><i>de la derrota de los reyes, y le bendijo;</i> 2 <i>al cual asimismo</i></p>
<p><i>dio Abraham</i> <i>los diezmos de todo; primeramente él se</i></p>
<p><i>interpreta Rey de justicia; y luego también Rey de Salem,</i> <i> que es, Rey de paz.</i> 3 <i>Sin padre, sin
  madre, sin linaje; que</i></p>
<p><i>ni tiene principio de días, ni fin de vida,</i> <strong>mas hecho</strong></p>
<p><strong>semejante</strong> <strong>al Hijo de Dios</strong><i>, permanece sacerdote para</i></p>
<p><i>siempre</i>". ( Heb 7: 1-3 )</p>
<p></p>
<p> Lo que dice Pablo en el versículo 3 del pasaje anterior sobre Melquísedec es que su aparición abrupta y su
  desaparición abrupta en la historia, lo hace un buen símbolo del sacerdocio de Jesucristo. No trata él de hacernos ver
  que Melquísedec no tuvo padre ni madre, ni esposa ni hijos ni día de nacimiento ni día de muerte; porque todo ser
  humano tiene tales cosas, y él, que tenía carne, era un ser humano. Lo que Pablo dice es que dado que ninguno de esos
  datos aparecen en su historia, Melquísedec es un buen símbolo del sacerdocio de Cristo. El hecho de que el cordero de
  los sacrificios simbolizaran a Jesucristo no nos hace a nosotros creer que ese cordero y Cristo eran la misma persona.
  Igualmente sucede con Melquísedec. Para el propósito de Dios, lo único que hacía falta es que Melquísedec apareciera,
  tomara los diezmos de Abraham y desapareciera. Por eso no se registra ningún otro dato de su vida, no es que no
  tuviera padre, hijos, día de nacimiento y muerte etc., es que no convenía registrarlos. Debemos fijarnos también en
  que en el versículo 6 del próximo pasaje, se dice refiriéndose a Melquísedec, que <strong>su genealogía no fue
    contada,</strong> es decir, que <strong>sí tenía genealogía</strong>, pero no fue contada a fin de asemejarlo a
  Cristo. <strong>Si Melquísedec hubiera sido Cristo, hubieran dicho que "no tenía genealogía", en vez de decir que "no
    fue contada".</strong></p>
<p></p>
<p> "4 <i>Mirad pues cuán grande fue éste, al cual aun Abraham</i></p>
<p><i> el patriarca dio diezmos de los</i> <i>despojos.</i> 5 <i>Y ciertamente</i></p>
<p><i> los que de los hijos de Leví toman el sacerdocio, tienen</i> <i> mandamiento de tomar del pueblo los diezmos
  según la ley,</i></p>
<p><i>es a saber, de sus hermanos,</i> <i>aunque también hayan salido</i></p>
<p><i> de los lomos de Abraham.</i> 6 <strong>Mas aquél cuya genealogía no</strong> <strong> es contada de ellos, tomó
  de Abraham los diezmos,</strong> <i>y bendijo</i></p>
<p><i>al que tenía las promesas</i>." ( Heb 7: 4-6 )</p>
<p></p>
<p> En el versículo 11 del pasaje en estudio, veremos reafirmado que Jesús se levantó como sacerdote
  <strong>después</strong> de Melquísedec, y por lo tanto, éste no puede ser aquél. Al decir <strong>"otro"</strong>,
  refiriéndose a Cristo, se hace evidente que el sacerdocio de Cristo era posterior al de Melquísedec.</p>
<p></p>
<p> "<i>Si pues la perfección era por el sacerdocio Levítico</i></p>
<p><i> porque debajo de él recibió</i> <i>el pueblo la ley, <strong>¿qué necesidad</strong></i></p>
<p><strong> había aún de que se levantase otro sacerdote</strong> <strong>según el orden</strong></p>
<p><strong>de Melquísedec</strong><i>, y que no fuese llamado según el orden de</i></p>
<p><i> Aarón</i>? " ( Heb 7: 11 )</p>
<p></p>
<p> En el versículo 15, al decir que a <strong>semejanza de Melquísedec se levanta Cristo</strong>, nos hace ver que
  ambos están separados en el tiempo, porque uno tuvo un sacerdocio semejante al del otro. Y si el sacerdocio del uno es
  semejante al sacerdocio del otro, es porque uno tuvo ese sacerdocio antes que el otro, es decir, que no son la misma
  persona. También repite en el versículo 17 que el sacerdocio de Cristo era semejante al de Melquísedec, sobre lo cual
  podemos hacer el mismo razonamiento ya hecho.</p>
<p></p>
<p> "14 <i>Porque notorio es que el Señor nuestro nació de la</i></p>
<p><i>tribu de Judá, sobre cuya tribu</i> <i>nada habló Moisés tocante</i></p>
<p><i>al sacerdocio.</i> 15 <strong>Y aun más manifiesto es, si a semejanza de</strong> <strong> Melquísedec se levanta
  otro sacerdote,</strong> 16 <i>el cual no es hecho</i></p>
<p><i>conforme a la ley del</i> <i>mandamiento carnal, sino según la</i></p>
<p><i>virtud de vida indisoluble;</i> 17 <i>pues se da testimonio de él:</i> <i> Tú eres sacerdote para siempre,
  <strong>según el orden de</strong></i></p>
<p><strong>Melquísedec</strong>." ( Heb 7: 14 - 17 )</p>
<p></p>
<p> Otra cosa a tener en cuenta es que <strong>si Melquísedec fuera Cristo, en el Nuevo Testamento no se le llamaría
  Melquísedec, sino Cristo,</strong> por cuanto para entonces se conocía su nombre. No es lógico pensar que van a seguir
  llamándole Melquísedec sabiendo que en realidad era Cristo; al menos expresarían la identidad entre ambos personajes,
  si en realidad fueren la misma persona.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

  </section>
</Layout>
    