---
import Layout from "../layout/Layout.astro";
---

<Layout title="Judíos: el Mesías entraría en aquel Templo antes que Tito lo destruyera">
    <section>
<p><strong>JUDÍOS: EL MESÍAS ENTRARÍA EN AQUEL TEMPLO Y TENDRÍA UN PRECURSOR.</strong></p>
<p></p>
<p> Este versículo nos dice que Dios enviaría un mensajero a preparar el camino<strong>,</strong> y <strong>que luego de
    eso vendría a su Templo el Señor a quien buscaban los judíos,</strong> el ángel del pacto<strong>,</strong> a quien
    ellos deseaban<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>He aquí<strong>,</strong> <strong>yo envío mi mensajero,</strong> el cual preparará el camino
    delante de mí<strong>;</strong> <strong>y luego vendrá a su Templo el Señor</strong> a quien vosotros
    buscáis<strong>,</strong> y el ángel del pacto<strong>,</strong> a quien deseáis vosotros<strong>.</strong> He aquí
    viene<strong>,</strong> ha dicho Jehová de los ejércitos</i><strong>."</strong> ( Mlq 3<strong>:</strong> 1 )</p>
<p> A juzgar por lo aquí profetizado <strong>se enviaría un mensajero previo, y luego el Mesías entraría personalmente
    en aquel Templo, no en otro.</strong> Todos sabemos que Juan el Bautista<strong>,</strong> con el espíritu y la
    virtud de Elías<strong>,</strong> precedió a Jesús<strong>,</strong> preparando a las masas<strong>,</strong> para
    el advenimiento de Jesús<strong>,</strong> masas que por siglos no habían visto un profeta<strong>.</strong></p>
<p><strong>¿Qué otro ser de estatura mesiánica entró en aquel Templo y fue precedido por un potente mensajero como Juan
    el Bautista?</strong> Ningún otro<strong>.</strong> Por lo tanto<strong>,</strong> si Jesús no es el Mesías como
    opina la mayoría de los judíos<strong>,</strong> entonces esta profecía falló miserablemente<strong>,</strong> cosa
    ridícula<strong>,</strong> absurda e increíble para un judío creyente<strong>.</strong></p>
<p><strong>¿Quién otro, fuera de Cristo, ha penetrado en aquel Templo, ha sido precedido en su ministerio por un
    mensajero precursor de la talla de Juan Bautista, y además reúne en su persona las características y circunstancias
    que según se anuncia en toda la Escritura, iban a acompañar al Mesías?</strong></p>
<p> Todo esto concuerda con<strong>,</strong> y aclara lo<strong>,</strong> dicho en Hg
    2<strong>:</strong>6-9<strong>,</strong> que el Mesías iba a entrar en aquel templo<strong>,</strong> por lo cual la
    gloria de ese Templo iba a ser mayor que la del primero que tuvo más riquezas<strong>.</strong> Siendo como fue el
    Segundo Templo<strong>,</strong> de menos importancia desde el punto de vista humano y con menos riquezas que el
    anterior<strong>,</strong> solamente se le puede atribuir mayor gloria (como dice Hg 2<strong>:</strong> 6-9) porque
    lo visite <strong>"</strong>el Deseado de todas las gentes<strong>"</strong> y <strong>"</strong>el Señor a quien
    vosotros buscáis<strong>".</strong></p>
<p>Por eso Dios dice en Hg 2<strong>:</strong>8 <strong>"</strong>Mía es la plata<strong>,</strong> y mío el oro<strong>",</strong>
    como diciendo<strong>:</strong> si quisiera llenar de oro y plata este Segundo Templo no me costaría trabajo
    alguno<strong>;</strong> pero no será así<strong>,</strong> su mayor gloria consistirá en recibir al
    Mesías<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al Índice</a></strong></p>

    </section>
</Layout>
    