
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Mesiah and Jews, Alexander and Greeks</title>
</head>
<body>
<p><strong>The lamb Jews sacrificed was a symbol for Jesus Christ. Alexander the Great, Julius Caesar, Napoleon
    Bonaparte and the Jews</strong></p>
<p> The last part of chapter 52 in the book of Isaiah, is about the same issue that the entire chapter 53 deals with. It
    is the then future expiatory sacrifice of Jesus Christ. From chapter 52:13 on, it is evident that the prophet is
    talking about God's Chosen.</p>
<p></p>
<p> "13 <i>Behold, my servant shall deal prudently, he shall be exalted and extolled, and be very high.</i> 14 <i>As
    many were astonished at thee; <strong>his visage was so marred more than any man</strong> and his form more than the
    sons of men.</i> 15 <i><strong>So shall he sprinkle many nations</strong>; the kings shall shut their mouths at him,
    for that which had not been told them shall they see, and that which they had not heard shall they consider</i>."
    (Isaiah 52:13-15)</p>
<p> In 52:14 it is clear that should not be hoped that a great general, a super leader, a superman human style to be the
    Messiah. That was one of the reasons why Jesus was rejected by the Jews at that time. They wanted as their Messiah,
    an astounding leader, a victorious general, not just a carpenter who sprinkles with his expiatory blood many people,
    including Gentiles, as said in 52:15.</p>
<p>Isaiah 53:1-3 states that this special God's Servant would be despised and rejected by the people of Israel, who will
    hide their faces from him and not esteem him. This was perfectly fulfilled in Jesus.</p>
<p></p>
<p> "1 <i>Who hath believed our report? And to whom is the arm of the LORD revealed?</i> 2 <i>For he shall grow up
    before him as a tender plant, and as a root out of a dry ground, he hath neither form nor comeliness; and <strong>when
        we shall see him, there is no beauty that we should desire him.</strong></i> 3 <strong>He is despised and
    rejected of men; a man of sorrows, and acquainted with grief; and we hid as it were our faces from him; he was
    despised, and we esteemed him not</strong><i>.</i>" (Isaiah 53:1-3)</p>
<p> As we can understand from what we have read, it was prophesied that God's Chosen (the Messiah), would be despised
    and rejected. <strong>Which other celebrity of messianic standing has been despised and rejected so unanimously by
        the people of Israel?</strong> Does it not precisely tell us that Jesus is the Messiah, the one who fulfilled
    this prophecy of Isaiah? ¿What other individual has fulfilled all that Isaiah has prophesied? Why then reject him
    now, that in hindsight we can analyze it, without passions?</p>
<p><strong>Verses 4-6 clearly show which was the main function that would be performed by the Messiah: wounded for our
    transgressions, bruised for our iniquities. It was made clear that God Himself charged him for our sins, the same
    way that in old Jewish religion they symbolically charged their sins in a lamb</strong>. Could it be more clearly
    predicted that the Messiah, in his first coming came to suffer and be charged with our sins? What other person of a
    messianic standing fulfilled all these but Jesus?</p>
<p></p>
<p> "4 <i>Surely he hath borne our griefs, and carried our sorrows; yet we did esteem him stricken, smitten of God, and
    afflicted.</i> 5 <i><strong>But he was wounded for our transgressions, he was bruised for our iniquities; the
    chastisement of our peace was upon him; and with his stripes we are healed.</strong></i> 6 <strong>All we, like
    sheep, have gone astray; we have turned every one to his own way; and the LORD hath laid on him the iniquity of us
    all</strong><i>.</i> 7 <i>He was oppressed, and he was afflicted, yet he opened not his mouth; he is brought as a
    lamb to the slaughter, and as a sheep before her shearers is dumb, so he openeth not his mouth</i>." (Isa 53:4-7)
</p>
<p> In verse 8 still referring to <strong>God's Chosen, is clearly said that he will die</strong>: cut off out of the
    land of the living. This is corroborated by the seventy weeks prophecy, in Daniel 9:26. Therefore, if it says that
    he would die, why think that his Kingdom was going to be established in his first coming? Why not understand that
    <strong>about the Messiah there are two types of prophecies</strong>: The first one being that <strong>he comes to
        suffer, to die for our sins; and in the other being that he comes to reign, to be respected, to punish, to put
        everything in its proper order?</strong> If only Jesus fulfill these prophecies, both in his First Coming, and
    in his future Second Coming, why not to accept Jesus as Messiah and Savior?</p>
<p></p>
<p> "<i>He was taken from prison and from judgment; and who shall declare his generation? For <strong>he was cut off out
    of the land of the living; for the transgression of my people was he stricken</strong></i>." ( Isa 53:8 )</p>
<p></p>
<p></p>
<p> "<i>And after threescore and two weeks <strong>shall Messiah be cut off</strong>, but not for himself; and the
    people of the prince that shall come shall destroy the city and the sanctuary; and the end thereof shall be with a
    flood, and unto the end of the war desolations are determined</i>." ( Dn 9:26 )</p>
<p> Isn't it also clear enough in verse 53:9 the Messiah would die? If we read the Gospel will find that even that he
    was crucified with two criminals, his burial was carried out by Joseph of Arimathea, a senator, a rich man, who
    asked the body from Pilato, so fulfilling what the prophecy says: "…with the rich in his death".</p>
<p></p>
<p><strong>"And he made his grave with the wicked, and with the rich in his death;</strong> <i>because he had done no
    violence, neither was any deceit in his mouth</i>." (Isa 53:9)</p>
<p></p>
<p> Verse 53:10 speaks clearly of God's Chosen's resurrection. It says: "when thou shalt make his soul an offering for
    sin…<strong>he shall prolong his days</strong>". Which other individual of messianic standing can claim that he died
    for our sins and resurrected for our justification, but only Jesus? Why then not accept him?</p>
<p></p>
<p></p>
<p> "<i>Yet it pleased the LORD to bruise him; he hath put him to grief; <strong>when thou shalt make his soul an
    offering for sin</strong>, he shall see his seed, he shall prolong his days, and the pleasure of the LORD shall
    prosper in his hand</i>." ( Isa 53:10 )</p>
<p> Finally, in verse 53:11 it is evident that Isaiah continues to prophesy of the Messiah, because God calls "my
    righteous servant" the person spoken of. Therefore, there is no doubt that what is going to be said refers to the
    Messiah. And what was said? God said that his Messiah shall bear the iniquities of the people in himself. It is the
    same thing that, symbolically, Levites did when the people laid their hands in the head of the lambs and sacrificed
    it for their sins. Verse 12 finishes confirming once again that the Messiah would die. If it was prophesied that the
    Messiah would die, why say that Jesus could not be the Messiah because he was crucified?</p>
<p></p>
<p> "11 <i>He shall see of the travail of his soul, and shall be satisfied; <strong>by his knowledge shall my righteous
    servant justify many; for he shall bear their iniquities</strong>.</i> 12 <i>Therefore will I divide him a portion
    with the great, and he shall divide the spoil with the strong; because <strong>he hath poured out his soul unto
        death</strong>, and he was numbered with the transgressors, and <strong>he bare the sin of many</strong>, and
    made intercession for the transgressors</i>." (Isa 53:11-12)</p>
<p><strong>Greeks are proud of Alexander the Great notwithstanding his bloody battles to conquer the world. Italians pay
    respect to Julius Caesar regardless of his gruesome bloodshed while conquering the Gallia. French admire Napoleon
    Bonaparte despite he bled France and all Europe to conquer an ephemeral empire.</strong></p>
<p><strong> But Jews are ashamed of Jesus Christ, the Jew. Many just reject him, others despise him, and still some even
    hate him. And all of this despite the fact that it was with his own blood and not with others people's blood, and
    his own suffering, that he redeemed us from our sins, and conquered an everlasting empire of thousands of millions
    of voluntary subjects. Jesus Christ is the only Jew who reigns firmly and lovingly over thousand of millions of
    Goim, and yet, Jews are not proud of him!</strong></p>
<p> Is it reasonable sons of Israel, to be ashamed of Jesus Christ instead of being proud of him? Is it fair in the eyes
    of justice to despise, reject and even hate him, instead of being proud of him? What is the wrong Jesus did against
    his people? If later, perverse and wicked people, twisting Christ's teachings, have wronged the Jews, hypocritically
    invoking his name, does Jesus deserve rejection, despise or hatred?</p>
<p><strong>To hate Jesus is as unjust as if Japanese hated the Jews, because Albert Einstein, a gifted Jew, gave origin
    to the atomic bomb the Americans dropped in Hiroshima and Nagasaki. It is as unjust as if the world, threatened by a
    nuclear holocaust, blamed the Jews and wanted to kill them, and hate Moses, because it was a Jew who laid the basis
    for the atomic bomb. Because of the fact that crooked and wicked people, using the name of Christ, harmed the Jews,
    it is neither a reason nor a pretext for rejecting, despising or hating Jesus Christ.</strong></p>
<p> The New Testament, (rejected by the Jews), is full of good will toward the Jews, it contains only a few reproaches.
    The Old Testament, (accepted by the Jews) contains hundreds of times more reproaches and criticism against the Jews
    than New Testament. Sons of Israel, reconsider your attitude toward Jesus the Christ. It will be very hard for you
    to keep and defend your position when, as every human being, each one has to come before God in the presence of His
    Messiah.</p>
<p><strong>Now let's collate the Scriptures referenced above and read them uninterruptedly</strong>.</p>
<p><strong>"Isa 52:13 <i>Behold, my servant</i></strong> <i>shall deal prudently, he shall be exalted and extolled</i>,
    and be very high.</p>
<p> 14 <i>As many were astonished at thee; his visage was so marred more than any man, and his form more than the sons
    of men.</i></p>
<p><i> </i> 15 <i>So <strong>shall he sprinkle many nations</strong>; the kings shall shut their mouths at him, for that
    which had not been told them shall they see; and that which they had not heard shall they consider.</i></p>
<p><i> </i> <strong>53:1 <i>Who hath believed our report?</i></strong> <i>And to whom is the arm of the LORD
    revealed?</i></p>
<p><i> </i> 2 <i>For he shall grow up before him as a tender plant, and as a root out of a dry ground; he hath no form
    nor comeliness; and when we shall see him, <strong>there is no beauty that we should desire him.</strong></i></p>
<p><i> </i> 3 <i><strong>He is despised and rejected of men</strong>; a man of sorrows, and acquainted with grief;
    <strong>and we hid as it were our faces from him; he was despised, and we esteemed him not.</strong></i></p>
<p><i> </i> 4 <strong>Surely he hath borne our griefs, and carried our sorrows</strong><i>; yet we did esteem him
    stricken, smitten of God, and afflicted.</i></p>
<p><i> </i> 5 <strong>But he was wounded for our transgressions, he was bruised for our iniquities</strong><i>; the
    chastisement of our peace was upon him; and with his stripes we are healed.</i></p>
<p><i> </i> 6 <i>All we like sheep have gone astray; we have turned every one to his own way; and <strong>the LORD hath
    laid on him the iniquity of us all</strong>.</i></p>
<p><i> </i> 7 <i>He was oppressed, and he was afflicted, yet he opened not his mouth; he is brought <strong>as a
    lamb</strong> to the slaughter, and as a sheep before her shearers is dumb, so he openeth not his mouth.</i></p>
<p><i> </i> 8 <i>He was taken from prison and from judgment; and who shall declare his generation? For <strong>he was
    cut off out of the land of the living, for the transgression of my people was he stricken</strong>.</i></p>
<p><i> </i> 9 <i><strong>And he made his grave with the wicked, and with the rich in his death</strong>; because he had
    done no violence, neither was any deceit in his mouth.</i></p>
<p><i> </i> 10 <i>Yet it pleased the LORD to bruise him; he hath put him to grief; <strong>when thou shalt make his soul
    an offering for sin,</strong> he shall see his seed, <strong>he shall prolong his days</strong>, and the pleasure of
    the LORD shall prosper in his hand.</i></p>
<p><i> </i> 11 <i>He shall see of the travail of his soul, and shall be satisfied; <strong>by his knowledge shall my
    righteous servant justify many; for he shall bear their iniquities</strong>.</i></p>
<p><i> </i> 12 <i>Therefore will I divide him a portion with the great, and he shall divide the spoil with the strong;
    because he hath <strong>poured out his soul unto death</strong>; and he was numbered with the transgressors; and
    <strong>he bare the sin of many</strong>, and made intercession for the transgressors</i>." (Isa 52:13-15 & 53:1-12)
</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>