
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Jews: The Messiah Would enter that Temple and have a precursor</title>
</head>
<body>
<p><strong>JEWS: THE MESSIAH WOULD ENTER IN THAT TEMPLE AND HAVE A PRECURSOR.</strong></p>
<p></p>
<p> This verse tells us that God was going to send a messenger to prepare the way<strong>,</strong> and <strong>after
    that he who the Jews sought would come to the Temple of the LORD,</strong> the angel of the
    covenant<strong>,</strong> whom they sought<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Behold<strong>,</strong> <strong>I will send my messenger,</strong> and he shall prepare the way
    before me<strong>;</strong> <strong>and the LORD, whom ye seek, shall suddenly come to his temple,</strong> even the
    messenger of the covenant<strong>,</strong> whom ye delight in<strong>;</strong> behold<strong>,</strong> he shall
    come<strong>,</strong> saith the LORD of hosts</i><strong>."</strong> (Malachi 3<strong>:</strong>1)</p>
<p> According to what is here prophesied there <strong>would be a prior messenger sent, and then the Messiah would enter
    personally in that Temple, not in other.</strong> We all know that John the Baptist<strong>,</strong> with the Holy
    Spirit and the virtue of Elias<strong>,</strong> preceded Jesus<strong>,</strong> preparing the
    masses<strong>,</strong> for the coming of Jesus<strong>,</strong> masses that for centuries had not seen a
    prophet<strong>.</strong></p>
<p><strong>What other being of Messianic stature entered that Temple and was preceded by a potent messenger like John
    the Baptist?</strong> No other<strong>.</strong> Therefore<strong>,</strong> if Jesus is not the Messiah as must
    Jews think<strong>,</strong> then this prophecy failed miserably<strong>,</strong> something
    ridicule<strong>,</strong> absurd and incredible for a Jewish believer<strong>.</strong></p>
<p><strong>Who else, other than Christ, has entered in that Temple, has been preceded in his ministry by a precursor
    messenger of the magnitude if John the Baptist, and plus personally encompasses the characteristics and
    circumstances that according to the Scripture, would accompany the Messiah?</strong></p>
<p>All of this proves<strong>,</strong> and clarifies<strong>,</strong> what is said in Haggai
    2<strong>:</strong>6-9<strong>,</strong> that the Messiah would enter that temple<strong>,</strong> for which the
    glory of that Temple would be greater than the first which had more riches<strong>.</strong> Being the Second Temple<strong>,</strong>
    of less importance from the human point of view and with fewer riches than the prior<strong>,</strong> it can only
    be attributed greater glory (like it says in Haggai 2<strong>:</strong>6-9) because it was visited by the
    <strong>"</strong>Desired by all the people<strong>"</strong> and <strong>"</strong>the Lord whom we
    seek<strong>."</strong></p>
<p>This is why God says in Haggai 2<strong>:</strong>8 <strong>"</strong>The silver is mine<strong>,</strong> and the
    gold is mine<strong>,"</strong> as if saying<strong>:</strong> if I wanted to fill this Second Temple with gold and
    silver it would be no problem<strong>;</strong> but it would not be so<strong>,</strong> its greatest glory would
    consist of receiving the Messiah<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>
</body>
</html>