
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Method to exam ourselves</title>
</head>
<body>
<p><strong>A good method to exam ourselves</strong></p>
<p> In Malachi 1: 8 God is giving the Hebrews a method to test themselves. Nevertheless, this method is good for
    everyone. With it we can check whether or not our actions, activities, and feelings, are pleasant to God or not.</p>
<p> "<i>And if ye offer the blind for sacrifice, is it not evil? And if ye offer the lame and sick, is it not evil?
    <strong>Offer it now unto thy governor; will he be pleased with thee, or accept thy person?</strong> saith the LORD
    of hosts</i>." ( Mal 1: 8 )</p>
<p> At that time many of those who brought a lamb or a goat to be sacrificed in God's Temple, <strong>instead of
    bringing the best they had, as a demonstration of love</strong>, brought a lame, blind, or sick lamb or goat. People
    who acted this way did not love God. They offered their sacrifices probably as a result of peer pressure, social
    traditions, superstition, or who knows what.</p>
<p><strong>The Prophet Malachi put them in the spot, when he said: "Offer it now unto thy governor; will he be pleased
    with thee, or accept thy person?"</strong> Of course, none of them would dare to come to their prince, governor, or
    boss, with such animals as a present. Instead, they abused the patience of God and His kindness. Taking advantage of
    the fact that God doesn't strike dead sinners as soon as they sin, they were inflicting such affront to God and
    escaping unscathed.</p>
<p><strong>Something similar could be said, now a days, of many religious people and Christians.</strong> They behave
    with God as they would never dare to behave with their bosses, or with the V.I.Ps that they need for improving their
    position or their business.</p>
<p> Of course, now they do not bring to God lame or blind lambs, because we do not have sacrifices anymore, but they
    give God the leftovers of their time, if any. They pay attention to the daily instructions their bosses give them.
    They listen with riveted attention to everything their bosses want to say, but hardly do they read the instructions
    their God has given them in the Bible. <strong>If anything, they give God the leftover of their time</strong>. After
    using lots of time in having fun, watching TV, or earning money to pay for their funs, then, when they are
    exhausted, they give some time to God.</p>
<p><strong>Millions of Christians have never read the Bible from Genesis to Revelation once</strong>, when they should,
    by this time, have read it twenty times already. Nevertheless, they never miss reading all business letters, economy
    news, or important friends' letters. They always have time to go to movies, to parties, to watch today's game, or
    soap opera. Then, after they are exhausted, they give the leftover of their time to their God, any at all. Will He
    be pleased with thee, or accept thy person? saith the LORD of hosts.</p>
<p><strong><a href="biblenotes.html">Back to index</a></strong></p>
</body>
</html>