---
import Layout from "../layout/Layout.astro";
---

<Layout title="Las mujeres no tenían prohibidas ciertas actividades">
    <section>
        <p></p>
        <p><strong> </strong></p>
        <p><strong> </strong></p>
        <p><strong>Las mujeres no tenían "prohibidas" ciertas actividades, eran las circunstancias las que se lo
            prohibían</strong></p>
        <p> Hay mucha gente que cree que en la antigüedad y sobre todo en la Biblia<strong>,</strong> las mujeres eran
            menospreciadas y hasta despreciadas<strong>.</strong> Hay quien tiene esto en la mente por sus atavismos
            misóginos<strong>,</strong> pero hay quien lo cree por error<strong>.</strong> Eso no ocurría en la cultura
            bíblica<strong>,</strong> sino que eso se introdujo en aquella región a partir de la imposición de la
            religión
            islámica<strong>.</strong> Las religiones falsas se distinguen por tener dos posiciones extremas y erradas
            hacia la
            mujer<strong>:</strong> unos la desprecian<strong>,</strong> otros las adoran como
            semidiosas<strong>.</strong></p>
        <p> El hecho de que la mujer no descollara más a menudo en las culturas antiguas se ha debido a que en épocas
            pasadas
            <strong>la fuerza física era indispensable para descollar en la sociedad.</strong></p>
        <p> Hasta los 1800 lo que existía era una sociedad que por no tener los adelantos técnicos de
            hoy<strong>,</strong>
            requería la fuerza bruta<strong>.</strong> Pongamos el caso de la guerra<strong>.</strong> Quienes más han
            descollado
            siempre en la sociedad han sido los héroes guerreros<strong>.</strong> La guerra se hacía a
            mazazos<strong>,</strong>
            a espada<strong>,</strong> a pedradas<strong>,</strong> corriéndole detrás a los que se les escapaban o
            corriéndole
            delante a los que los vencían y perseguían<strong>,</strong> luchando cuerpo a cuerpo con el enemigo<strong>.</strong>
            Nada de estas cosas las podían hacer las mujeres con la eficiencia de los hombres<strong>.</strong> Por lo
            tanto<strong>,</strong> <strong>no podían ellas, por lo general, ser heroínas en la guerra y, por ende,
                tampoco podían
                ser personajes influyentes en la sociedad.</strong></p>
        <p> Hoy en día por el contrario<strong>,</strong> se les permite alistarse en el ejercito<strong>,</strong> la
            marina y
            la aviación<strong>.</strong> Cualquier mujer puede pilotear un avión de combate<strong>,</strong> no se
            requiere
            extraordinarios esfuerzos físicos para ello<strong>.</strong></p>
        <p> Lo mismo se puede decir de los negocios<strong>.</strong> Una mujer de entonces podía dedicarse a ciertos y
            determinados negocios<strong>,</strong> pero no a tantos como los hombres<strong>.</strong> Tenemos el caso
            de la
            mujer de la que habla Prv 31<strong>:</strong>10-31<strong>,</strong> y de Lidia<strong>,</strong> en Hch
            16<strong>:</strong>14<strong>,</strong> que se dedicaban a negocios que ellas podían llevar a
            cabo<strong>.</strong>
            Pero <strong>no podían por ejemplo, como sí hacían muchos hombres, llevar su mercadería a lugares distantes
                y
                peligrosos,</strong> cabalgando en su camello<strong>,</strong> porque por su
            debilidad<strong>,</strong> las
            asaltarían<strong>,</strong> las violarían<strong>,</strong> las esclavizarían o las
            asesinarían<strong>.</strong></p>
        <p> Hoy en día cualquier mujer puede viajar con seguridad para su persona a la mayoría de las grandes ciudades
            del mundo
            y hacer grandes negocios<strong>.</strong> Incluso puede hacer muchos de esos negocios sin salir de su
            oficina<strong>,</strong>
            a través del teléfono<strong>,</strong> del fax<strong>,</strong> la computadora<strong>,</strong> y de
            servicios
            bancarios en diversos países<strong>.</strong></p>
        <p><strong>Si hablamos de trabajo en el campo sucede lo mismo.</strong> Una mujer puede arar un terreno en un
            tractor<strong>,</strong> o desmontar un terreno lleno de malezas<strong>,</strong> montada en una moto
            niveladora<strong>.</strong> No era lo mismo en los 1<strong>,</strong>800<strong>,</strong> cuando lo único
            que se
            podía utilizar era el brazo fuerte del hombre o la fuerza del buey o del caballo<strong>.</strong> No les
            era fácil
            por lo tanto<strong>,</strong> acumular riquezas en la agricultura y la ganadería<strong>.</strong></p>
        <p><strong>La cuestión no era que "antes" la mujer fuera despreciada;</strong> la cuestión es que
            antes<strong>,</strong> en tiempos bíblicos<strong>,</strong> la mujer no podía competir en el mundo brutal
            en que se
            vivía<strong>,</strong> y nadie le iba a dar oportunidad a una competidora<strong>,</strong> porque tampoco
            se la
            daban a un competidor<strong>.</strong> Por eso las mujeres estaban reservadas para cierta clase de trabajos
            o
            actividades<strong>,</strong> a las cuales ellas mismas se restringían por naturaleza<strong>.</strong> Eso
            no quiere
            decir que no hubiera excepciones<strong>,</strong> pero eran eso<strong>,</strong> excepciones en las cuales
            por algún
            motivo o circunstancia no frecuente<strong>,</strong> descollaba la mujer<strong>.</strong></p>
        <p> Como vemos <strong>no era una cuestión de que estuviera prohibido a la mujer descollar; era que las
            circunstancias
            no se lo permitían.</strong></p>
        <p> Entre los trabajos que hacían las mujeres estaban los domésticos<strong>,</strong> puesto que en la ciudad y
            en su
            casa se hallaban más seguras<strong>,</strong> que andando solas por el campo<strong>.</strong> No
            obstante<strong>,</strong> ellas trabajaban en el campo en compañía de sus familiares y de los demás
            vecinos<strong>,</strong> o en lugares cercanos a la ciudad donde vivían<strong>,</strong> que eran
            frecuentados por
            sus vecinos y conocidos<strong>.</strong> Tal es el caso de las mujeres que pastoreaban las ovejas de la
            familia<strong>.</strong></p>
        <p> En Ex 2<strong>:</strong>16 también se ve que las hijas de Jethro<strong>,</strong> el suegro de
            Moisés<strong>,</strong> apacentaban las ovejas de su padre<strong>.</strong> En este caso
            especial<strong>,</strong>
            estas mujeres aunque no recibían agresiones graves<strong>,</strong> eran desplazadas por los otros
            pastores<strong>.</strong> Motivado por ese abuso fue que Moisés las defendió y llegó a envolverse con la
            familia de
            Jethro<strong>.</strong> También Rachel era pastora de las ovejas de Labán su padre<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Tenía el sacerdote de Madián siete hijas<strong>,</strong> las cuales vinieron a sacar
            agua<strong>,</strong> para llenar las pilas y <strong>dar de beber a las ovejas de su
                padre</strong></i><strong>."</strong> (Ex 2<strong>:</strong>16)</p>
        <p></p>
        <p><strong>"</strong><i>Estando aún él hablando con ellos Rachel vino con el ganado de su
            padre<strong>,</strong> porque
            <strong>ella era la pastora</strong></i><strong>."</strong> (Gn 29<strong>:</strong>9)</p>
        <p></p>
        <p> Otra tarea que a veces daban a las mujeres era la de <strong>guardar las viñas,</strong> como se ve en Cant
            1<strong>:</strong>6<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>No miréis en que soy morena<strong>,</strong> porque el sol me miró<strong>.</strong>
            Los hijos
            de mi madre se airaron contra mí<strong>, me hicieron guarda de viñas;</strong> y mi viña<strong>,</strong>
            que era
            mía<strong>,</strong> no guardé</i><strong>."</strong> (Cnt 1<strong>:</strong>6)</p>
        <p></p>
        <p> El acarrear el agua para el servicio de la casa<strong>,</strong> era otra labor de las
            mujeres<strong>,</strong>
            especialmente las solteras<strong>.</strong> El que haya visto beber a un caballo<strong>,</strong>
            comprenderá la
            labor que tuvo que hacer Rebeca para dar de beber a diez camellos<strong>.</strong> El cántaro que ella
            cargaba al
            hombro no parece haber sido pequeño<strong>,</strong> porque no se llena una
            <strong>"</strong>pila<strong>"</strong>
            (un tanque de piedra que hay cerca de los pozos) para que beban diez camellos<strong>,</strong> con buchitos
            de
            agua<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Y se dio prisa<strong>,</strong> y vació su cántaro en la pila<strong>,</strong> y
            corrió otra
            vez al pozo para sacar agua<strong>, y sacó para todos sus camellos</strong></i><strong>."</strong> (Gn
            24<strong>:</strong>20)</p>
        <p></p>
        <p> Parece que aquellas mujeres<strong>,</strong> dentro de ciertos límites<strong>,</strong> tenían un rudo
            trabajo<strong>.</strong> Acarrear el agua que se necesita en una casa<strong>,</strong> cántaro por
            cántaro<strong>,</strong> no es tarea ligera<strong>.</strong> Claro que es más que probable que hubiera
            otras jóvenes
            en la casa que compartieran dicha tarea<strong>.</strong> Da la sensación<strong>,</strong> a juzgar por el
            versículo
            43 que <strong>el trabajo de ir a buscar agua al pozo estaba reservado a las mujeres solteras;</strong> por
            lo menos
            en esa época o en esa región<strong>.</strong> En época de Cristo vemos que la samaritana iba a buscar
            agua<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>He aquí yo estoy junto a la fuente de agua<strong>;</strong> sea<strong>,</strong>
            pues<strong>,</strong> que <strong>la doncella que saliere por agua,</strong> a la cual
            dijere<strong>:</strong> Dame
            a beber<strong>,</strong> te ruego<strong>,</strong> un poco de agua de tu cántaro</i><strong>"</strong> (Gn
            24<strong>:</strong>43)</p>
        <p></p>
        <p> También había otras actividades propias de hombres que a veces hacían las mujeres<strong>,</strong> como se
            ve en el
            caso de la construcción de los muros de Jerusalem por Nehemías<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Junto a ellos restauró Sallum hijo de Lohes<strong>,</strong> príncipe de la mitad de la
            región
            de Jerusalem<strong>,</strong> <strong>él con sus hijas</strong></i><strong>."</strong></p>
        <p> (Neh 3<strong>:</strong>12)</p>
        <p></p>
        <p> En este caso se ve que no ya una mujer<strong>,</strong> sino toda una familia de ellas<strong>,</strong>
            estaban
            trabajando en la restauración de los muros de Jerusalem<strong>.</strong> Es indudable que una de
            dos<strong>,</strong> o estas mujeres ejercían como arquitectas<strong>,</strong> o trabajaban en la
            albañilería<strong>.</strong></p>
        <p> En general<strong>,</strong> en cuanto a las actividades de las mujeres<strong>,</strong> no había reglas
            prohibitivas<strong>,</strong> eran ellas mismas las que<strong>,</strong> sabiendo que físicamente no
            podían competir<strong>,</strong>
            se apartaban<strong>.</strong> Sin embargo<strong>,</strong> las que se consideraban capaces de hacer algo
            lo hacían
            sin que nadie las molestase<strong>.</strong></p>
        <p><strong>En cuanto a las actividades sociales,</strong> se percibe que participaban tanto hombres como mujeres<strong>,</strong>
            como vemos en el siguiente pasaje de Job<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>E iban sus hijos y hacían banquetes en sus casas<strong>,</strong> cada uno en su
            día<strong>;</strong> <strong>y enviaban a llamar sus tres hermanas, para que comiesen y bebiesen con
                ellos</strong></i><strong>."</strong> (Job 1<strong>:</strong>4)</p>
        <p></p>
        <p><strong>En general</strong> se puede decir que las mujeres tenían libertad<strong>,</strong> pero las
            circunstancias<strong>,</strong> la competencia<strong>,</strong> y la naturaleza misma de su
            sexo<strong>,</strong>
            las limitaban mucho<strong>.</strong> Incluso el mismo hecho de ser mujeres y salir en estado y criar los
            recién
            nacidos<strong>,</strong> las limitaba en el uso del tiempo y en la cantidad de esfuerzo que podían dedicar
            a otras
            labores para superarse política<strong>,</strong> social o económicamente<strong>.</strong> No quiere esto
            decir que
            ninguna lo hacía<strong>,</strong> lo que significa es que siempre había más impedimentos para las mujeres
            que para
            los hombres<strong>.</strong> Es bueno analizar estas cosas porque ello nos conduce a entender las
            costumbres<strong>,</strong> y el entenderlas nos ayuda a interpretar correctamente la
            Escritura<strong>.</strong></p>
        <p><a href="NotasBiblicas.html">Volver al índice</a></p>

    </section>
</Layout>
    