
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Las mujeres en la iglesia</title>
</head>
<body>
<p><strong>Por qué San Pablo prohíbe a las mujeres participar en algunas actividades de la Iglesia.</strong></p>
<p> Es fácil probar que Pablo prohibía que las mujeres tuvieran posiciones de autoridad o enseñanza en la Iglesia,
    porque eso él lo dice explícitamente; pero explicar la razón por la cual él ponía ese mandamiento ya no es tan fácil
    de saber, por cuanto no lo dice manifiestamente. No obstante, más adelante veremos que las mujeres de mayor edad sí
    podían ejercer ciertas funciones en la iglesia.</p>
<p> Como antes dije, podemos teorizar, o razonar, o imaginarnos cuales eran las razones que San Pablo tenía para poner
    tal mandamiento, pero nada hay claramente dicho sobre el asunto. Comencemos pues, por leer esos pasajes en los que
    San Pablo prohíbe la participación femenina en determinadas actividades de la Iglesia de Cristo.</p>
<p></p>
<p> "<strong>Vuestras mujeres callen en las congregaciones; porque no les es permitido hablar</strong><i>, sino que
    estén sujetas, como también la ley dice. Y si quieren aprender alguna cosa, pregunten en casa a sus maridos; porque
    deshonesta cosa es hablar una mujer en la congregación</i>." ( I Co 14: 34-35 )</p>
<p></p>
<p><strong>"<i>La mujer aprenda en silencio,</i></strong> <i>con toda sujeción. <strong>Porque no permito a la mujer
    enseñar, ni tomar autoridad sobre el hombre</strong>, sino estar en silencio"</i> ( I Tim 2:11-12 )</p>
<p><strong>De acuerdo a las palabras de San Pablo, la mujer no debe ejercer posiciones de autoridad o enseñanza en la
    Iglesia.</strong> La razón para ello puede ser doble: <strong>a)</strong> evitar la subversión de la autoridad en el
    matrimonio, y <strong>b)</strong> evitar los problemas causados por belleza o atracción sexual de las mujeres
    jóvenes.</p>
<p><strong>Si una mujer casada fuera la pastora de la iglesia,</strong> o si tuviera alguna posición de autoridad en la
    misma, tendría también, en forma indirecta, autoridad sobre su esposo. Este parece ser el mensaje que trata de
    llevar I Tim 2: 12.</p>
<p><strong>Una segunda razón pudiera ser que las mujeres jóvenes son atractivas, y muchos de los hombres fijarían más su
    atención en las características físicas de ella que en sus enseñanzas.</strong> Esto provocaría celos entre las
    demás mujeres, que verían que sus esposos se fijaban demasiado en sus hermosas pastoras. En resumen, el tener
    mujeres en esas posiciones sería, al menos, un factor de distracción, cuando no un factor de divisiones y
    resentimientos dentro de la Iglesia de Cristo.</p>
<p><strong>Si leemos Ro 16: 1, veremos que la hermana Febe era diaconisa de la iglesia de Cencreas</strong>, lo cual
    prueba que a las mujeres no se les prohibía ciertas posiciones en la iglesia meramente por el hecho de ser mujeres.
    ¿Por qué pues, Febe tenía esa posición en la iglesia de Cencreas? <strong>Probablemente ella era ya una mujer
        mayor.</strong></p>
<p> En I Tim 5: 9 que San Pablo recomendaba a la iglesia no admitir, dentro del círculo íntimo de la iglesia, a viudas
    menores de 60 años. La razón para esto, según nos dice el apóstol de los gentiles, es que las viudas más jóvenes,
    después de hacerse licenciosas contra Cristo, quieren casarse, como dice en el versículo 11. Su recomendación para
    esas viudas jóvenes, era que se volvieran a casar, que tuvieran hijos y que formaran una familia, como dice el
    versículo 14.</p>
<p><strong>Lo que Pablo dice en estos pasajes nos da una idea de lo que él tenía en mente respecto a la actuación de las
    mujeres en la Iglesia</strong>. Parece que el no deseaba ninguna mujer joven o atractiva en ninguna posición de la
    iglesia. Después de los 60, ya una mujer es vista más como una madre o como una hermana, que como una hembra
    atractiva, por lo tanto, ya podían tener cualquier posición en la iglesia, si es que eran viudas. De no ser viudas,
    una mujer debía atender a su esposo, sus hijos y su casa. Una mujer mayor de 60 años, que no tenga obligaciones de
    familia, <strong>ni sea de las que todavía quieren lucir "atractivas"</strong>, es una persona adecuada para el
    servicio en la Iglesia de Dios.</p>
<p></p>
<p><strong>"</strong>9 <strong>La viuda sea puesta en clase especial, no menos que de sesenta años,</strong> <i>que haya
    sido esposa de un solo marido.</i> 10 <i>Que tenga testimonio en buenas obras; si crió hijos; si ha ejercitado la
    hospitalidad; si ha lavado los pies de los santos; si ha socorrido a los afligidos; si ha seguido toda buena obra.
    11 <strong>Pero viudas más jóvenes no admitas: porque después de hacerse licenciosas contra Cristo, quieren
        casarse.</strong> 12 Condenadas ya, por haber falseado la primera fe. 13 Y aun también se acostumbran a ser
    ociosas, a andar de casa en casa; y no solamente ociosas, sino también parleras y curiosas, hablando lo que no
    conviene. 14 <strong>Quiero pues, que las que son jóvenes se casen, críen hijos, gobiernen la casa;</strong> que
    ninguna ocasión den al adversario para maldecir</i>." ( I Tim 5: 9-14 )</p>
<p><strong>Como vemos en este pasaje, Pablo, evidentemente, temía los problemas causados por la atracción sexual de las
    mujeres jóvenes, y los escándalos que estas cosas acarrean dentro de la iglesia.</strong> Por eso es que él les
    advertía a las iglesias sobre este peligro. Otro consejo que daba Pablo es que las viudas jóvenes se vuelvan a
    casar, probablemente para evitar problemas sexuales y escándalos dentro de la iglesia, cuando ellas sintieran el
    duro atractivo de la carne.</p>
<p><strong>Es razonable, que si Pablo no quería mujeres de menos de 60 años en el círculo interior de la Iglesia, menos
    aún las querría o las permitiría en posiciones de autoridad o enseñanza, siendo de menos de sesenta años.</strong>
</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>