---
import Layout from "../layout/Layout.astro";
---

<Layout title="Las mujeres podían divorciarse de sus esposos">
    <section>
<p><strong>Las mujeres se podían divorciar de sus esposos.</strong></p>
<p><strong>Hay personas que confunden las costumbres musulmanas y de la India, con las leyes de Dios y con la
    civilización bíblica.</strong> Por eso es que ellos piensan, dicen y hasta predican, que en los tiempos de Cristo
    las mujeres estaban solamente un escalón arriba de los esclavos. No es cierto. El hecho de que el Oriente Medio está
    casi todo habitado hoy día por musulmanes, no significa que ellos tienen cultura y costumbres bíblicas; y mucho
    menos significa que ellos cumplen con los mandamientos de Dios.</p>
<p><strong>Estas personas que confunden las costumbres musulmanas con las costumbres bíblicas</strong>, también dicen
    que en la época de Cristo, un hombre podía divorciarse de su esposa, pero una mujer no podía divorciarse de su
    esposo. Eso es falso. <strong>Errores como este son el fruto de leer libros que "tratan" sobre la Biblia, y no la
        Biblia misma;</strong> o también provienen de leer solamente algunos versículos, pasajes o libros de la Biblia,
    y no toda ella. En esta misma página Web, en el artículo # 14, se clarifica otro error que los cristianos tienen
    referente a las costumbres bíblicas, y la posición de las mujeres en aquella sociedad, en el pueblo de Dios.
    <strong>Veamos ahora que tiene la Biblia que decir respecto a si una mujer podía divorciarse del marido, o
        no.</strong></p>
<p></p>
<p> "<i>Y les dice: Cualquiera que repudiare a su mujer, y se casare con otra, comete adulterio contra ella; <strong>y
    si la mujer repudiare a su marido</strong> y se casare con otro, comete adulterio</i>." ( Mr 10: 11-12 )</p>
<p><strong>En este pasaje vemos que de acuerdo a la palabra de Jesucristo, una mujer tenía el derecho de divorciarse de
    su esposo.</strong> No obstante, aquellos que en vez de leer la Biblia leen montones de libros escritos por
    "eruditos" de la Biblia, niegan que las mujeres tuvieran ese derecho en el pueblo de Dios.</p>
<p> Los que escribieron en la Biblia, hablaban en forma general, sin especificar sexo innecesariamente. En aquellos
    tiempos se decían cosas como esta: " Si un hombre roba...", lo cual implicaba también "Si una mujer roba...". No era
    necesario mencionar los dos sexos, como se tiende a hacer hoy en día, por miedo de ser acusado de sexista o de
    machismo. Por eso es que en el Antiguo Testamento había reglas para el divorcio, en el cual se menciona solamente al
    hombre, pero era sobreentendido que también comprendía a la mujer. <strong>Por lo tanto, igual que un hombre podía
        divorciarse de su mujer, también una mujer podía divorciarse de su marido</strong>. La prueba la tienen en lo
    que Nuestro Señor dijo en Marcos 10: 11-12. Refiriéndose a lo que la ley de Dios estatuía, él mencionaba que la
    mujer podía divorciarse de su marido. Por lo tanto, <strong>es evidente que las mujeres sí podían divorciarse de sus
        maridos</strong>.</p>
<p> Lo mismo aprendemos ( si leemos la Biblia y no los libros escritos sobre ella ), en I Co 7: 13, donde <strong>San
    Pablo aconseja a las cristianas que ya estaban casadas con maridos inconversos cuando ellas se convirtieron, que no
    se divorciaran de ellos</strong>, sino que mantuvieran unido su matrimonio. Estos hombres que no estaban en la fe
    eran llamados "infieles", lo cual significaba que no eran convertidos. He ahí otra evidencia de que las mujeres sí
    se podían divorciar de sus maridos. Leamos.</p>
<p></p>
<p> "<i>Y <strong>la mujer</strong> que tiene marido infiel, y él consiente en habitar con ella, <strong>no lo
    deje</strong></i>." ( I Co 7: 13 )</p>
<p> De acuerdo con estos dos testimonios ( Cristo y Pablo ), es evidente que las mujeres de la antigüedad tenían el
    derecho de divorciarse de sus maridos. Consecuentemente, <strong>todos estos que pintan un paisaje espantoso para
        las mujeres que vivían en tiempos bíblicos, están desorientados debido a que confunden la cultura musulmana con
        las leyes y cultura bíblica de aquellos tiempos.</strong> Ellos confunden la autoridad del hombre en el
    matrimonio, cosa aprobada por Dios, con la total ausencia de derechos de la mujer. También confunden algunas
    culturas que desprecian a la mujer y le quitan todos sus derechos, con la cultura que se deriva de cumplir las Leyes
    de Dios, que otorgan a la mujer todos los derechos inherentes a un ser humano.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    