---
import Layout from "../layout/Layout.astro";
---

<Layout title="El Cristiano y el sucio niño de dos años">
    <section>
<p><strong>El Cristiano y el niño de dos años</strong></p>
<p> Dios siempre está listo para protegernos y bendecirnos<strong>,</strong> pero perdemos esa protección y bendición
    cuando nosotros le presentamos hediondeces e inmundicias<strong>.</strong> Éstas son las que provocan que el ángel
    que representa a Dios se marche del lugar en que habitamos<strong>,</strong> o de la compañía de la persona a quien
    la protección o las bendiciones estaban dirigidas<strong>.</strong> En la categoría de hediondeces que apartan a
    Dios o a su ángel de nosotros<strong>,</strong> están entre otras muchas<strong>,</strong> el derramar sangre
    inocente<strong>,</strong> la fornicación<strong>,</strong> la inmundicia sexual<strong>,</strong> el aborto<strong>,</strong>
    las prácticas antinaturales en cualquier sentido<strong>,</strong> la idolatría<strong>,</strong> la sodomía<strong>,</strong>
    la brujería<strong>,</strong> el espiritismo<strong>,</strong> la obtención no honesta de beneficios o
    dinero<strong>,</strong> el creer que otros tienen menos valor que nosotros<strong>,</strong> el
    mentir<strong>,</strong> y todo cuanto vaya contra alguna ordenanza divina o contra lo que a todas luces es
    natural<strong>,</strong> pío y honesto<strong>.</strong></p>
<p> A todos y cada uno de los seres humanos Dios quiere darles una obra proporcionalmente igual<strong>,</strong> un
    destino importante en proporción a sus dones<strong>.</strong> <strong>Somos los seres humanos los que, poniendo o
        permitiendo suciedades en nuestra alma, en nuestro alrededor, donde ejercemos o debíamos ejercer mando, y en la
        sociedad que nos rodea, imposibilitamos la estadía a nuestro lado del Ángel de Dios, por no cumplir sus
        leyes.</strong></p>
<p> Nuestra falta de conocimiento y de limpieza respecto a Dios<strong>,</strong> se asemeja a la de un padre y su hijo
    de dos años<strong>.</strong> El padre quisiera llevarlo a donde él piensa ir<strong>,</strong> y para cuya ocasión
    ya el niño está bien vestido<strong>.</strong> El hijito ha jugado con fango<strong>,</strong> se ha embarrado la
    boca y las manos con chocolate y se ha hecho caca<strong>.</strong> El padre quisiera abrazarlo y
    cargarlo<strong>,</strong> llevarlo con él<strong>,</strong> pero no puede<strong>.</strong> Lo
    ama<strong>...</strong>pero el hijo lo obliga a que lo tenga que amar…<strong>...</strong>de lejos<strong>.</strong>
    No puede envolverlo en sus asuntos<strong>,</strong> <strong>el hijo no quiere estar más limpio de lo que
        está,</strong> le gustan mucho el juego con fango y los chocolates<strong>,</strong> y le importan muy poco
    andar sucio<strong>.</strong> <strong>¡Necesita aprender!</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    