<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Quien no adora a Dios es porque detesta la idea de estarle sometido</title>
</head>
<body>
<p><strong>Quien no adora a Dios es porque detesta la idea de estarle sometido</strong></p>
<p> Yo he analizado en mi vida, que en el fondo del alma de los que no adoran a Dios lo que existe es aversión a la idea
    de que Él gobierne a Su manera y no a la ellos; aversión a que Su mando sea absoluto, y no les permita ser factores
    influyentes en Sus decisiones.</p>
<p> Hay quien rechaza en forma total el control de Dios, pero la mayoría no aspira a tanto, sólo quieren tener medios de
    influir o presionar en Sus decisiones. Es la clásica democracia de los "caudillitos políticos" que aspiran a que sus
    conveniencias, intereses, caprichos, "ego", etc., tengan que ser tomados en cuenta por el que manda.</p>
<p><strong>Por eso en las religiones falsas, y en las falsas concepciones de la religión verdadera</strong>, siempre
    aparecen las "obras", como por ejemplo, velas, misas, regalos a la iglesia, etc., como factores de salvación, o como
    factores para la consecución de favores celestiales. Esto es más notable en el catolicismo romano, porque es el más
    conocido; pero los ruselistas hacen lo mismo con los "puntos" que ganan en su predicación de puerta en puerta y
    otras mil cosas.</p>
<p> Analicen las religiones falsas y las falsas concepciones de la religión verdadera, y verán que todas, en el fondo,
    llevan esta tendencia.</p>
<p> En el caso de los filisteos, que es el que sirve de base en este asunto, está clara su aversión hacia Dios. Le
    tenían miedo por lo poderoso que veían que era; pero lo detestaban. En el pasaje que más abajo aparece, hay una
    confesión por parte de ellos, en el sentido que aún sus dioses se veían sometidos al poder de Dios. Sin embargo, ni
    siquiera por conveniencia se pasaban para Su bando, tanta era su antipatía.</p>
<p></p>
<p> "¡<i>Ay de nosotros! ¿<strong>Quién nos librará de las manos de estos dioses fuertes</strong>? Estos son los dioses
    que hirieron a Egipto con toda plaga en el desierto. Esforzaos filisteos, sed hombres, porque no sirváis a los
    hebreos como ellos os han servido a vosotros. Sed hombres y <strong>pelead</strong></i>." (I Sam 4:8-9)</p>
<p> Lo contrario ocurría con los israelitas. Ellos estaban de parte de Dios, aquel de quien ellos tenían pruebas o
    testimonios que era poderoso, pero lo abandonaban y se daban a la idolatría. Por eso vemos en la Biblia, a través de
    los libros de Jueces, Reyes y Crónicas la apostasía de los israelitas, pero jamás vemos a los pueblos de Canaán
    "apostatar" de su idolatría para seguir a Dios.</p>
<p></p>
<p>"10 <i>Porque pasad a las islas de Chittim y mirad; y enviad a Cedar, y considerad cuidadosamente, y ved si se ha
    hecho cosa semejante a ésta</i>. 11 <strong>Si alguna gente ha mudado sus dioses, bien que ellos no son
    dioses</strong><i>. Pero mi pueblo ha trocado su gloria por lo que no aprovecha</i>." (Jer 2:10-11)</p>
<p><strong>Las religiones idolátricas, y las demás religiones falsas, siempre tienen en su estructura el factor que
    desean las criaturas rebeldes: el tener el poder para influir o presionar en las decisiones divinas.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>