
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>No tomarás en vano el nombre de Dios</title>
</head>
<body>
<p><strong>Muy a menudo los cristianos, sin darse cuenta, toman en vano el nombre de Dios.</strong></p>
<p><strong> </strong></p>
<p><strong>El tercer mandamiento dice lo siguiente:</strong></p>
<p></p>
<p>"<i>No tomarás el nombre de Jehová tu Dios en vano; porque</i></p>
<p><i> <strong>no dará por inocente Jehová al que</strong></i> <strong>tomare su nombre en</strong></p>
<p><strong> vano</strong><strong>.</strong>" ( Ex 20: 7 )</p>
<p></p>
<p> La mayoría de los cristianos toman muy ligeramente este tercer mandamiento de la Ley de Dios. Tristemente muchos no
    se dan cuenta de que están transgrediendo el tercer mandamiento.</p>
<p> Es muy común entre los cristianos decir chistes en los que se mezcla a Dios, a Cristo, al Espíritu Santo, el
    Paraíso, el Cielo, el Infierno, San Pedro, etc.. Otros no hacen estos chistes, pero los aprueban al escucharlos y
    reírse con aquellos que hacen esos chistes.</p>
<p> Usted nunca encontrará en la Biblia un lenguaje tal, porque <strong>los apóstoles y los primeros cristianos en
    general, realmente amaban a Dios y lo trataban con el respeto que Él se merece, no como a un igual,</strong> al cual
    puedan mezclar en sus chistes. Estos que hacen chistes que envuelven gente o cosas que deben ser consideradas
    sagradas, defienden su errado comportamiento alegando que ellos tratan a Dios como a un padre, y que por ello pueden
    tratarlo con cierto atrevimiento y desfachatez.</p>
<p><strong>Desgraciadamente lo que ellos dicen es verdad en el sentido de que ellos tratan a Dios como tratan a sus
    padres, pero dos errores no forman un acierto.</strong> El problema radica en que el concepto de "padre" se ha
    degradado en nuestra cultura actual, y ese es el que aprendieron ellos, a pesar de ser un concepto muy pobre e
    irrespetuoso. En la cultura actual el padre es simplemente un hombre que se casó con mi madre cuando ella era joven
    y bonita, pero ahora ambos son un par de viejos fuera de moda. Como es natural, los que tienen tal concepto de sus
    padres difícilmente pueden tener un concepto correcto de Dios. De ahí la costumbre de mezclar a Dios en sus chistes.
</p>
<p><strong>Muchos sicólogos aconsejan a los padres que sean simplemente como amigos para sus hijos,</strong> con objeto
    de que hagan a sus hijos sentir que ellos son sus mejores amigos. Yo he criado nueve hijos, ninguno de ellos ha
    tenido problemas con la ley, ni tienen ningún tipo de vicio. Mi esposa y yo los criamos como la Biblia enseña, no
    como enseñan los hombres. Nosotros inculcamos en ellos que tenían que portarse bien y esforzarse para llegar más
    lejos; y así lo hicieron. A pesar de que éramos pobres, todos ellos se graduaron de alguna carrera universitaria.
    <strong>Yo siempre les dije que yo no era su amigo, sino mucho más que eso: yo era su padre</strong>. Ellos podrían
    llegar a tener muchos amigos, pero solamente iban a tener un padre, y especialmente, una sola madre. <strong>Mamá no
        era "otro amigo"</strong>, como los sicólogos dicen, ella era la reina del hogar, y si alguno de los muchachos
    le hablaba a ella en forma impropia o le gritaba, él iba a sufrir las consecuencias de esa falta de respeto.
    <strong>Yo aprendí estos principios educativos en la Biblia, no en libros de sicología</strong>. Gracias a Dios
    todos mis hijos se han convertido al Señor. Ellos saben qué significa ser padre, y por lo tanto, respetan a Dios
    como a un Padre infinitamente superior. Ellos nunca tratan a Dios con desfachatez o atrevimiento.</p>
<p><strong>Sería muy buena idea que los pastores enseñaran a su congregación cómo criar en sujeción, control y respeto a
    sus hijos.</strong> Muchos padres no creen que ellos merezcan esta clase de respeto del que estamos hablando, y por
    lo tanto, no se sienten con moral ni autoridad para enseñárselo a sus hijos. Esto les sucede por no leer y aplicar
    las enseñanzas de la Biblia respecto a la crianza de los hijos, o porque alguien les enseñó que los sicólogos saben
    más de esas cosas que la Biblia. Veamos lo que Dios piensa al respecto.</p>
<p> En la Biblia, el respeto y la obediencia a los padres era muy estricta. Era un mandamiento con promesa, que se daba
    con palabras solamente la primera vez<strong>.....</strong></p>
<p></p>
<p> "<i>Honra a tu padre y a tu madre, <strong>porque tus días se</strong></i></p>
<p><strong>alarguen en la tierra que Jehová tu Dios te da</strong>." ( Ex 20: 12 )</p>
<p><strong> </strong></p>
<p><strong>.....</strong>pero si alguno no quería obedecer las palabras del tercer mandamiento, entonces se le aplicaba
    otro mandamiento diferente:</p>
<p></p>
<p> "<i>Y <strong>el que hiriere a su padre o a su madre</strong>, morirá.</i>" </p>
<p> ( Ex 21: 15 )</p>
<p></p>
<p> "<i>Porque <strong>varón que maldijere a su padre o a su madre, de</strong></i></p>
<p><strong> cierto morirá</strong><i>: a su padre o a su</i> <i>madre maldijo; su sangre</i></p>
<p><i>será sobre él</i>." ( Lev 20: 9 )</p>
<p></p>
<p> "<strong>Cuando alguno tuviere hijo contumaz y rebelde, que no</strong></p>
<p><strong>obedeciere a la voz de su padre</strong> <strong>ni a la voz de su madre</strong><i>,......</i></p>
<p><i>Entonces tomarlo han su padre y su madre, y lo sacarán a los</i></p>
<p><i> ancianos</i> <i>de su ciudad, y a la puerta del lugar suyo.....</i></p>
<p><i>Entonces todos <strong>los hombres de su ciudad lo apedrearán</strong></i> <strong> con piedras, y
    morirá:</strong> <i>así quitarás el mal de en medio de ti;</i></p>
<p><i> y todo Israel oirá, y temerá</i>." ( Dt 21: 18-21 abreviado )</p>
<p></p>
<p>La ley también era estricta contra los que trataran a Dios irrespetuosamente:</p>
<p></p>
<p> "<i>Y a los hijos de Israel hablarás, diciendo: <strong>Cualquiera que</strong></i></p>
<p><strong> maldijere a su Dios, llevará su</strong> <strong>iniquidad. Y el que blasfemare</strong></p>
<p><strong> el nombre de Jehová, ha de ser muerto</strong>;...." ( Lev 24: 15-16 abreviado )</p>
<p><strong> </strong></p>
<p><strong> Como podemos ver Dios no toma ligeramente la blasfemia. Por lo tanto es de pensarse que tampoco tome
    ligeramente el que se use su nombre en vano,</strong> aunque no sea expresamente una blasfemia. El problema no es
    que la gente tiene a Dios como un Padre; el problema radica en que muchos no tienen el concepto correcto de lo que
    es un padre; y específicamente de <strong>quién es Dios</strong>. Por eso creen que pueden ser atrevidos y
    desfachatados con Él.</p>
<p><strong>Cuando alguien me viene con un chiste, y yo veo que trata de personas o cosas sagradas,</strong> le digo al
    individuo que a mí no me gusta ese tipo de chistes. Si la persona insiste en decir su chiste, simplemente doy la
    vuelta y me voy. Yo no me voy a convertir en cómplice de uno que toma el nombre de Dios en vano. Yo me comporto así
    aún si el chiste trata de San Pedro, el Paraíso, el Cielo, el Infierno, o cosas parecidas, lo cual no constituye un
    uso del nombre de Dios en vano. Lo hago así, porque si no, ellos más tarde descienden más aún haciendo chistes
    indebidos o incluso blasfemias. ¿Por qué vamos a caminar al borde del precipicio con el peligro que esto conlleva?
    ¿O por qué vamos a enseñar a otros, con nuestro mal ejemplo, a caminar ellos por el borde del precipicio?</p>
<p><strong>Dos errores no forman un acierto.</strong> Por el hecho de que alguien nunca aprendió lo que es respetar a
    sus padres, no tenemos nosotros que admitirles su falta de respeto hacia Dios. Nosotros los cristianos tenemos que
    comportarnos de acuerdo a los estándares bíblicos, no de acuerdo a los estándares de nuestra cultura o civilización.
    <strong>Decir o escuchar chistes que mezclan a Dios, a Cristo o al Espíritu Santo, es pecado</strong>. Escuchar
    chistes que mezclan el Paraíso, el Infierno, el Cielo, los apóstoles, etc., lo anima a uno a caminar por el borde
    del abismo del pecado.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>
</body>
</html>