---
import Layout from "@/layout/Layout.astro";
import Article from "@/components/Article.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
---
<Layout showThanksRead={false} title="Notas Biblicas" language="es" equivalentHref="biblenotes">
    <SectionOf>
        <Brief>
            <p><strong>Índice de Notas Bíblicas en Español</strong></p>

            <p> Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de torcer; o
                temas
                que son
                difíciles de interpretar. Vale la pena leerlos. Usted puede usar el material que aquí hay para
                ayudar a
                otros,
                especialmente a los miembros de su iglesia. <strong>A menudo hallará usted aquí una nueva Nota
                    Bíblica</strong>.
                Visítenos con frecuencia.</p>
            <p><strong>Si usted opina que yo tengo algún error</strong> en alguna Nota Bíblica, por favor, envíeme
                su
                opinión
                conjuntamente con los argumentos que la respaldan a nuestro E-Mail. Se lo agradeceré, porque a mí me
                encanta
                aprender de los demás.</p>
            <p><strong>Igualmente, si desea que aquí aparezca una nota bíblica sobre algún asunto</strong>, por
                favor,
                déjeme un
                mensaje en el E-Mail: ramonaleman@yahoo.com dirigido a R. L. Serralta Nogués.</p>
        </Brief>

        <article>
            <Article title="Es falso asegurar que Cristo no nació en diciembre" dateOf="1 Mz 2000"
                     href="Cristonaciodiciembre" numberOf="1"/>
            <Article title="La longevidad de los patriarcas está dada en años, no en meses." dateOf="14 Mz 00"
                     href="LongevidadAnos" numberOf="2"/>
            <Article numberOf="3" title="Oseas no fornicó ni adulteró." dateOf="25 Ab 00" href="OseasNoFornico"/>
            <Article numberOf="4" title="El endurecimiento de Faraón: dinámica celestial; libre albedrío"
                     dateOf="12 My 00" href="EndurecimientoFaraon"/>
            <Article numberOf="5" title="Elías el profeta vendrá antes de la Segunda Venida de Cristo."
                     dateOf="26 My 00" href="EliasVendra"/>
            <Article numberOf="6" title="Haggeo profetizó sobre Cristo, el Deseado, no sobre las riquezas."
                     dateOf="16 Jn 00" href="CristoElDeseadoylasRiquezas"/>
            <Article numberOf="7" title="Isaías 7:14 es prueba de que Cristo es el Mesías." dateOf="12 Jl 00"
                     href="VirgenParira"/>
            <Article numberOf="8" title="No juzguéis para que no seáis juzgados: exageración errada." dateOf="28 Jl 00"
                     href="NoJuzgueisExageracion"/>
            <Article numberOf="9" title="Al lugar Santísimo se entraba todos los días, no una vez al año."
                     dateOf="15 Ag 00" href="SantisimoEntradaDiaria"/>
            <Article numberOf="10" title="El Arcángel Miguel no es Cristo, eso es una blasfemia" dateOf="31 Ag 00"
                     href="ArcangelMiguelNoEsCristo"/>
            <Article numberOf="11" title="Jefté no sacrificó a su hija." dateOf="15 Sp 00"
                     href="JefteNoSacrificoASuHija"/>
            <Article numberOf="12" title="El joven rico mintió, por eso Cristo lo manda a venderlo todo."
                     dateOf="28 Sp 00" href="ElJovenRicoMintio"/>
            <Article numberOf="13" title="Los fariseos no eran fieles cumplidores de la ley como hoy se cree."
                     dateOf="18 Oc 00" href="LosFariseosNoCumplianLaLey"/>
            <Article numberOf="14" title="Qué edad tenía la Virgen María" dateOf="7 Nv 00"
                     href="QueEdadTeniaLaVirgenMaria"/>
            <Article numberOf="15" title="Cristo fue clavado en la cruz por las manos, no por las muñecas."
                     dateOf="12 Dc 00" href="CristoClavadoMunecas.htm"/>
            <Article numberOf="16" title="Ni Cristo ni la Virgen María confrontaron problemas de ilegitimidad"
                     dateOf="5 Fb 01" href="CristoNoFueAcusadoDeIligitimo"/>
            <Article numberOf="17" title="Los cristianos no deben comer de lo sacrificado a los ídolos."
                     dateOf="12 Ab 01" href="ComerSacrificios"/>
            <Article numberOf="18" title="Algunos hermanos toman el nombre de Dios en vano sin darse cuenta."
                     dateOf="7 My 01" href="NombreDeDiosEnVano"/>
            <Article numberOf="19" title="La higuera no representa a Israel." dateOf="5 Jn 01"
                     href="LaHigeraNoEsIsrael"/>
            <Article numberOf="20" title="Tiempo que nuestros primeros padres vivieron unos con otros."
                     dateOf="29 Jn 01" href="ConvivenciaPatriarcal"/>
            <Article numberOf="21" title="Los reinos del mundo son de Dios, no de Satanás" dateOf="20 Jl 01"
                     href="DiosPoneReyes"/>
            <Article numberOf="22" title="La simplísima primera célula nunca pudo haber existido" dateOf="21 Ag 01"
                     href="LaPrimeraCelula"/>
            <Article numberOf="23" title="Melquísedec no pudo ser Cristo." dateOf="20 Sp 01"
                     href="MelquisedecNoEsCristo"/>
            <Article numberOf="24" title="Apocalipsis: cuándo ocurren los sellos, las trompetas y las copas"
                     dateOf="25 Oc 01" href="SellosTrompetasCopas"/>
            <Article numberOf="25" title="Ahora nos quieren convencer de que Judas era un patriota y no un traidor."
                     dateOf="30 Nv 01" href="JudasTraidorNoPatriota"/>
            <Article numberOf="26" title="¿Por qué hay creyentes mal y ateos bien?" dateOf="27 Dc 01"
                     href="CreyentesMalAteosbien"/>
            <Article numberOf="27" title="Lo de ladrón en la noche es para los inconversos" dateOf="4 Fb 02"
                     href="LadronNocheInconversos"/>
            <Article numberOf="28" title="Elías no fue cobarde, eso es una campaña de desprestigio." dateOf="21 Mz 02"
                     href="EliasNoFueCobarde"/>
            <Article numberOf="29" title="El paleontólogo, el esqueleto y la evolución." dateOf="14 My 02"
                     href="PaleontologoEsqueleto"/>
            <Article numberOf="30" title="La longevidad decreció a consecuencia del Diluvio." dateOf="30 Jn 02"
                     href="LongevidadDiluvio"/>
            <Article numberOf="31" title="El Pecado Original es un mito" dateOf="31 Jl 02"
                     href="ElPecadoOriginal"/>
            <Article numberOf="32" title="¿Quién podía matar a Caín?" dateOf="10 Sp 02"
                     href="QuienPodiaMatarCain"/>
            <Article numberOf="33" title="El por qué la ofrenda de Caín no era aceptable." dateOf="8 Oc 02"
                     href="CainOfrenda"/>
            <Article numberOf="34" title="¿Era el ropaje de Jesús corto o largo?" dateOf="30 Oc 02"
                     href="CristoRopajeCorto"/>
            <Article numberOf="35" title="El cristiano y las armas." dateOf="17 En 03"
                     href="ElCristianoYLasArmas"/>
            <Article numberOf="36" title="Agitan el puño delante de Dios, ¿y son cristianos?" dateOf="16 Fb 03"
                     href="AgitanPunoAnteDios"/>
            <Article numberOf="37" title="Cristo es mayor que el Espíritu Santo." dateOf="20 Mz 03"
                     href="CristoMayorEspirituSanto"/>
            <Article numberOf="38" title="Qué es la blasfemia contra el Espíritu Santo." dateOf="28 Ab 03"
                     href="BlasfemiaEspirituSanto"/>
            <Article numberOf="39" title="No llames 'pruebas' a las consecuencias de tus errores y pecados."
                     dateOf="18 My 03" href="JobCristianosPruebas"/>
            <Article numberOf="40" title="Timoteo no era tan joven como muchos creen." dateOf="30 Jn 03"
                     href="TimoteoNoEraTanJoven"/>
            <Article numberOf="41" title="Mujeres con autoridad en la Iglesia, prohibido por San Pablo."
                     dateOf="8 Ag 03" href="MujeresEnLaIglesia"/>
            <Article numberOf="42" title="Tiempo natural de amamantar y destetar a los niños." dateOf="10 Sp 03"
                     href="AmamantarDestetarNinos"/>
            <Article numberOf="43" title="El Temor y la protección divina. No cambies los mandamientos."
                     dateOf="8 Oc 03" href="ElTemorALosEnemigos"/>
            <Article numberOf="44" title="Método para examinarnos a nosotros mismos." dateOf="26 Nv 03"
                     href="MetodoParaExaminarnos"/>
            <Article numberOf="45" title="En la parábola, Cristo usa la sal por su sabor, no por su poder preservante."
                     dateOf="19 Dc 03" href="LaSalSuSabor"/>
            <Article numberOf="46" title="Las mujeres podían divorciarse de sus esposos." dateOf="19 En 04"
                     href="MujeresDivorciarEsposos"/>
            <Article numberOf="47" title="Matrimonios de ángeles con mujeres, disparate y blasfemia" dateOf="20 Fb 04"
                     href="MatrimoniosAngeles-Mujeres"/>
            <Article numberOf="48" title="Por qué el Infierno existe y tiene que existir." dateOf="19 Mz 04"
                     href="InfiernoTieneQueExistir"/>
            <Article numberOf="49" title="¡Aleluya! Qué milagro más extraordinario." dateOf="18 Ab 04"
                     href="AleluyaQueMilagro"/>
            <Article numberOf="50" title="Pactos y matrimonios con inconversos." dateOf="20 My 04"
                     href="PactosMatrimoniosInconversos"/>
            <Article numberOf="51" title="Fe y obras según Santiago." dateOf="23 Jn 04" href="FeObrasSantiago"/>
            <Article numberOf="52" title="Judíos, musulmanes y ateos lean esto, las 70 semanas." dateOf="21 Jl 04"
                     href="JudiosMusulmanesAteos70Semanas"/>
            <Article numberOf="53" title="Dios también castiga a los cristianos." dateOf="25 Ag 04"
                     href="DiosCastigaCristianos"/>
            <Article numberOf="54" title="Distorsión de la Santa Cena." dateOf="25 Oc 04"
                     href="DistorsionSantaCena"/>
            <Article numberOf="55" title="San Pablo no pertenecía al Sanedrín ni era rabino." dateOf="24 Nv 04"
                     href="PabloSanedrin"/>
            <Article numberOf="56" title="¿Gap Theory? Creer en una creación previa a la actual es absurdo."
                     dateOf="13 En 05" href="AbsurdidadCreacionPrevia"/>
            <Article numberOf="57" title="La redención por gracia se conocía desde el principio." dateOf="27 Fb 05"
                     href="LaGraciaDesdeElPrincipio"/>
            <Article numberOf="58" title="Vean por qué los mandamientos de Dios son un camino seguro." dateOf="21 Mz 05"
                     href="LosCuatroCaminos"/>
            <Article numberOf="59" title="Dinámica Celestial: mecánica de la tentación." dateOf="27 Ab 05"
                     href="MecanicaDeLaTentacion"/>
            <Article numberOf="60" title="Por qué el arrepentimiento es indispensable." dateOf="31 My 05"
                     href="PorqueArrepentimientoIndispensable"/>
            <Article numberOf="61" title="La falsa predestinación y el Quinto Mandamiento." dateOf="30 Jn 05"
                     href="PredestinacionQuintoMandamiento"/>
            <Article numberOf="62" title="¿Caerán las estrellas? ¿No son mayores que la Tierra?" dateOf="28 Jl 05"
                     href="CaeranEstrellas"/>
            <Article numberOf="63" title="Duró la Creación siete días o siete eras." dateOf="31 Ag 05"
                     href="SieteDiasSieteEras"/>
            <Article numberOf="64" title="Abraham sacrificó a Isaac, sabiendo que Dios lo resucitaría" dateOf="29 Sp 05"
                     href="AbrahamSacrificoIsaac"/>
            <Article numberOf="65" title="El clima igualitario en todo el globo antes del Diluvio es un error."
                     dateOf="25 Oc 05" href="ClimaIgualitario"/>
            <Article numberOf="66" title="Cristo no prohibió todo tipo de juramentos." dateOf="23 Nv 05"
                     href="CristoJuramentos"/>
            <Article numberOf="67" title="Cristo, Alejandro Magno, Julio César, Napoleón Bonaparte y los judíos."
                     dateOf="18 Dc 05" href="CristoAlejandroNapoleon"/>
            <Article numberOf="68" title="Sodoma se halla en el fondo del Mar Muerto" dateOf="24 En 06"
                     href="SodomaMarMuerto"/>
            <Article numberOf="69" title="Quien no adora a Dios es porque detesta la idea de estarle sometido."
                     dateOf="27 Fb 06" href="NoAdoranPorNoObedecer"/>
            <Article numberOf="70" title="La crucifixión tuvo lugar un jueves, no un viernes." dateOf="30 Mz 06"
                     href="CrucifixionJueves"/>
            <Article numberOf="71" title="Quiénes nos obstaculizan, y cómo nosotros les damos lugar y ocasión."
                     dateOf="28 Ab 06" href="FundarUnBarFundarUnaIglesia"/>
            <Article numberOf="72" title="Dos mujeres diferente ungieron a Jesús, una era decente, la otra no."
                     dateOf="24 My 06" href="DosMujeresUngieronJesus"/>
            <Article numberOf="73" title="Qué son las 'aguas vivas' de que habla la Biblia." dateOf="20 Jn 06"
                     href="AguasVivas"/>
            <Article numberOf="74"
                     title="En la Biblia la palabra 'desierto' significa 'sin habitantes', no sin agua ni vegetación."
                     dateOf="27 Jl 06" href="BibliaDesiertoAgua"/>
            <Article numberOf="75" title="El profeta Miqueas hijo de Imla no mintió." dateOf="30 Ag 06"
                     href="MiqueasImlaNoMintio"/>
            <Article numberOf="76" title="'Dureza' del Antiguo Testamento y los 'doctrineros versiculares'."
                     dateOf="22 Sp 06" href="DurezaAntiguoTestamento"/>
            <Article numberOf="77" title="Origen del antagonismo judeo-samaritano." dateOf="30 Oc 06"
                     href="AntagonismoJudeoSamaritano"/>
            <Article numberOf="78" title="Eliseo no mintió al decir a Benadad que no moriría de su enfermedad."
                     dateOf="27 Nv 06" href="EliseoNoMintio"/>


            <Article numberOf="79" title="Consequencias terrenales del pecado, ejemplo de Jonás." dateOf="28 Dc 06"
                     href="ConsecuenciasTerrenalesPecadoJonas"/>
            <Article numberOf="80" title="Tácticas demoníacas para vencer al pueblo de Dios" dateOf="29 En 07"
                     href="TacticasDemoniacas"/>
            <Article numberOf="81" title="La predestinación, la muerte, el nacimiento, los médicos y los seguros."
                     dateOf="26 Fb 07" href="PredestinacionMuerteNacimiento"/>
            <Article numberOf="82" title="Satanás fue echado fuera del Cielo antes del Pentecostés" dateOf="30 Mz 07"
                     href="SatanasEchadoFuera"/>
            <Article numberOf="83" title="El cristiano y el control del carácter." dateOf="30 Ab 07"
                     href="CristianoControlCaracter"/>
            <Article numberOf="84" title="El Diluvio fue universal, no local" dateOf="31 My 07"
                     href="DiluvioUniversalNoLocal"/>
            <Article numberOf="85" title="Falacias del discurso de Eliú, y grandeza de Job." dateOf="29 Jn 07"
                     href="EliuFalaciasJobGrandeza"/>
            <Article numberOf="86" title="Pragmatismo: por sus frutos los conoceréis." dateOf="31 Jl 07"
                     href="Pragmatismo"/>
            <Article numberOf="87" title="La Religión de los Yosientos y los macabeos." dateOf="30 Ag 07"
                     href="ReligionYosientos"/>
            <Article numberOf="88"
                     title="Similitud entre el Egipto Faraónico y la Unión Soviética. Los ángeles patronos de las naciones."
                     dateOf="28 Sp 07" href="EgiptoYRusia"/>
            <Article numberOf="89"
                     title="Judíos: el Mesías entraría en aquel Templo antes que lo destruyera Tito Flavio Vespasiano."
                     dateOf="30 Oc 07" href="MesiasEntrariaAquelTemplo"/>
            <Article numberOf="90" title="Dios también recompensa y castiga, ya y aquí." dateOf="30 Nv 07"
                     href="DiosRecompensaCastigaYa"/>
            <Article numberOf="91" title="¿Es verdadero amor amar a los que odian a Dios?" dateOf="30 Dc 07"
                     href="QueEsAmorVerdadero"/>
            <Article numberOf="92" title="El pecado tiene consecuencias terrenales aún para los amados de Dios."
                     dateOf="29 En 08" href="ConsecuenciasTerrenalesPecadoDavid"/>
            <Article numberOf="93" title="La Pena de Muerte no evita que un condenado se salve." dateOf="24 Fb 08"
                     href="PenaMuerteSalvacion"/>
            <Article numberOf="94" title="Teomorfismo: ¿Se parece el humano a Dios?" dateOf="31 Mz 08"
                     href="Teomorfismo"/>
            <Article numberOf="95" title="El fabricante de autos." dateOf="30 Ab 08" href="FabricanteDeAutos"/>
            <Article numberOf="96" title="La Táctica de la Serpiente en el Edén y en la Actualidad es la misma."
                     dateOf="31 My 08" href="TacticaSerpienteEden"/>
            <Article numberOf="97" title="El cristiano y el niño de dos años." dateOf="30 Jn 08"
                     href="NinoDeDosAnos"/>
            <Article numberOf="98" title="La Biblia Dios la dio para que la entendiera cualquiera, no sólo los sabios."
                     dateOf="28 Jl 08" href="BibliaEntiendeCualqiera"/>
            <Article numberOf="99" title="Fue dicho a los Antiguos; no fue dicho en la ley de Dios. No confundan."
                     dateOf="31 Ag 08" href="FueDichoAntiguos"/>
            <Article numberOf="100" title="La Santidad en el Cristiano." dateOf="28 Sp 08"
                     href="LaSantidadEnElCristiano"/>
            <Article numberOf="101" title="La Ignorancia de la Ley de Dios no es Excusa para el Pecado."
                     dateOf="31 Oc 08" href="IgnoranciaExcusaPecado"/>
            <Article numberOf="102" title="Peligro de creer en la falsedad del Rapto antes de la Gran Tribulación."
                     dateOf="30 Nv 08" href="RaptoCreerNoCreer"/>
            <Article numberOf="103" title="¿Dónde la Biblia dice que hay un rapto antes de la Gran Tribulación?"
                     dateOf="31 Dc 08" href="RaptoGranTribulacion"/>
            <Article numberOf="104"
                     title="El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás."
                     dateOf="28 En 09" href="PecadoEsCulpaNuestra"/>
            <Article numberOf="105" title="Algunos Apostatarán de la Fe." dateOf="28 Fb 09"
                     href="AlgunosApostataranDeLaFe"/>
            <Article numberOf="106" title="¿Qué pensaba Pablo sobre eso de 'Salvo Siempre Salvo'?" dateOf="26 Mz 09"
                     href="https://www.bibleserralta.com/PabloYSSS"/>
            <Article numberOf="107" title="¿Por qué Dios no suprime la tentación." dateOf="30 Ab 09"
                     href="DiosNoSuprimeTentacion"/>
            <Article numberOf="108" title="¿Somos Cristianos o Sanpablianos?" dateOf="27 My 09"
                     href="CristianosOSanpablianos"/>
            <Article numberOf="109"
                     title="Comed lo que os pusieren delante ¿Los sesos de una anciana? ¿Sopa de sangre de vencidos?"
                     dateOf="24 Jn 09" href="ComedPusierenDelante"/>
            <Article numberOf="110" title="Cristo no abolió las leyes de Dios para el comportamiento humano."
                     dateOf="30 Jl 09" href="CristoNoAbolioLeyes"/>
            <Article numberOf="111"
                     title="Para llegar a la doctrina evangélica correcta, la mayoría de los cristianos proceden como Naamán."
                     dateOf="31 Ag 09" href="CristianosProcedenNaaman"/>
            <Article numberOf="112" title="El verdadero amor a Dios es obedecer sus mandamientos." dateOf="30 Sp 09"
                     href="AmorDiosObedecerMandamientos"/>
            <Article numberOf="113" title="¿Por qué Cristo no absolvió ni condenó a la adúltera?" dateOf="31 Oc 09"
                     href="CristoNoAbsolvioAdultera"/>
            <Article numberOf="114" title="Error y herejía de ser novotestamentario." dateOf="30 Nv 09"
                     href="ErrorNovotestamentario"/>
            <Article numberOf="115" title="La Profecía de las 70 Semanas y el Mesías." dateOf="31 Dc 09"
                     href="SetentaSemanas"/>
            <Article numberOf="116" title="Hay en los cristianos una gran confusión con respecto a la Ley de Dios."
                     dateOf="27 En 10" href="CristianosConfusionLey"/>
            <Article numberOf="117"
                     title="Imitemos los primeros cristianos que discutían fraternalmente sus diferencias doctrinales."
                     dateOf="28 Fb 10" href="DiscusionesYCristianos"/>
            <Article numberOf="118" title="¿Qué significa ser legalista?" dateOf="30 Mz 10"
                     href="LegalistaQueSignifica"/>
            <Article numberOf="119" title="Cómo entender más fácilmente el Sermón Profético." dateOf="29 Ab 10"
                     href="ProfeticoSermon"/>
            <Article numberOf="120" title="El yugo que ni Pedro ni sus ancestros habían podido llevar."
                     dateOf="27 My 10" href="YugoPedroNoPodia"/>
            <Article numberOf="121"
                     title="Los errores doctrinales de los cristianos tienen uno o más de estos varios orígenes."
                     dateOf="28 Jn 10" href="ErroresDoctrinales"/>
            <Article numberOf="122" title="A qué se llama en la Biblia 'No estar bajo la Ley'." dateOf="28 Jl 10"
                     href="LeySinificaPalabra"/>
            <Article numberOf="123"
                     title="Echemos una ojeada a los que se creen que ellos creen en la predestinación absoluta."
                     dateOf="26 Ag 10" href="PredestinacionOjeada"/>
            <Article numberOf="124"
                     title="Lo de Ojo por Ojo era para los jueces, no para que la gente lo usara para sus odios y pugnas."
                     dateOf="28 Sp 28" href="OjoPorOjo"/>
            <Article numberOf="125"
                     title="Pablo exhorta a los cristianos a cumplir las leyes de Dios para el comportamiento humano."
                     dateOf="26 Oc 10" href="PabloCumpleLey"/>
            <Article numberOf="126" title="No todo lo que dice un personaje bíblico es revelación, hay que discernir."
                     dateOf="28 Nv 10" href="PersonajeDiceRevelacion"/>
            <Article numberOf="127" title="La visión de Pedro y la supuesta limpieza de todos los animales."
                     dateOf="27 Dc 10" href="PedroVisionAnimales"/>
            <Article numberOf="128" title="Almacén de almas previo al nacimiento y la predestinación." dateOf="27 En 11"
                     href="AlmacenAlmas"/>
            <Article numberOf="129" title="Peligro de creer que el 'rapto' ocurrirá antes de la Gran Tribulación."
                     dateOf="28 Mz 11" href="RaptoPeligro"/>
            <Article numberOf="130" title="Cómo entender mejor el Sermón Profético de Mateo 24." dateOf="25 Ab 11"
                     href="ProfeticoSermon"/>
            <Article numberOf="131" title="Razones por las cuales la gente no quiere saber la verdad." dateOf="26 My 11"
                     href="RazonesNoVerdad"/>
            <Article numberOf="132" title="Las pasiones nublan el raciocinio" dateOf="28 Jun 11"
                     href="PasionesNublanRaciocinio"/>
            <Article numberOf="133"
                     title="Pablo parece decirnos que él había sido irreprensible en la ley de Dios, lo cual no es cierto."
                     dateOf="24 Jl 11" href="PabloIrreprensible"/>
            <Article numberOf="134" title="Los cristianos pueden evitar la Gran Tribulación" dateOf="25 Ag 11"
                     href="CristianosEvitanGT"/>
            <Article numberOf="135" title="Las Bodas del Cordero, ¿cuándo ocurren?" dateOf="26 Sp 11"
                     href="LasBodasDelCordero"/>
            <Article numberOf="136" title="Qué obstaculiza el recibir las bendiciones de Dios." dateOf="25 Oc 11"
                     href="QueObstaculizaBendiciones"/>
            <Article numberOf="137" title="Por qué Daniel tuvo protección divina en el foso de los leones."
                     dateOf="27 Nv 11" href="DanielFosoProteccion"/>
            <Article numberOf="138" title="No llames 'pruebas' a las consecuencias de tus pecados e insensateces"
                     dateOf="27 Dc 11" href="PruebasConsecuencisPecados"/>
            <Article numberOf="139" title="La fidelidad en la adversidad y la felicidad." dateOf="26 En 12"
                     href="FidelidadAdversidadFelicidad"/>
            <Article numberOf="140" title="Las promesas de Dios no son incondicionales" dateOf="27 Fb 12"
                     href="PromesasDiosNoIncondicionales"/>
            <Article numberOf="141" title="Jonás llegó limpio a Nínive" dateOf="2 Mz 12"
                     href="Jonas%20llego%20limpio%20a%20Ninive"/>
            <Article numberOf="142" title="Cómo interpretar las parábolas." dateOf="28 My 12"
                     href="ComoInterpretarLasParabolas"/>
            <Article numberOf="143"
                     title="Utilidad para la Iglesia, la sociedad y la Nación de la presencia y oración de los cristianos"
                     dateOf="26 Jn 12" href="UtilidadOracionCristianos"/>
            <Article numberOf="144" title="Si Dios todo lo sabe, ¿por qué hay que orar?" dateOf="26 Jl 12"
                     href="SiDiosSabePorqueOrar"/>
            <Article numberOf="145" title="Un factor para interpretar correctamente la Biblia." dateOf="27 Ag 12"
                     href="FactorInterpretarBiblia"/>
            <Article numberOf="146" title="La Biblia es una unidad doctrinal monolítica" dateOf="30 Sp 12"
                     href="BibliaUnidadMonolitica"/>
            <Article numberOf="147"
                     title="Las mujeres no tenian 'prohibidas' ciertas actividades, eran las circunstancias las que los prohibían."
                     dateOf="" href="MujeresActividades"/>
            <Article numberOf="148" title="En la Biblia los números se redondeaban." dateOf="27 Nv 12"
                     href="NumerosRedondeaban"/>
            <Article numberOf="149" title="La mujer y el velo en la época bíblica" dateOf="26 Dc 12"
                     href="VeloMujerBiblica"/>
            <Article numberOf="150" title="Cristo no abolió ninguna ley de Dios antes de su crucifixión"
                     dateOf="29 En 13" href="CristoJamasAbolio"/>
            <Article numberOf="151" title="Discutir nuestras doctrinas está bíblicamente autorizado" dateOf="27 Fb 13"
                     href="DiscutirEsBiblico"/>
        </article>
    </SectionOf>
</Layout>