---
import Layout from "@/layout/Layout.astro";
import Article from "../components/Article.astro";
---
<Layout title="Notas Biblicas">
    <section class="flex gap:5rem my:2rem">
        <article class="w:17rem max-w:17rem">
            <div class="bg:hsl(39|93%|90%/1) p:2rem font-size:1rem">
                <p><strong>Índice de Notas Bíblicas en Español</strong></p>

                <p> Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de torcer; o
                    temas
                    que son
                    difíciles de interpretar. Vale la pena leerlos. Usted puede usar el material que aquí hay para
                    ayudar a
                    otros,
                    especialmente a los miembros de su iglesia. <strong>A menudo hallará usted aquí una nueva Nota
                        Bíblica</strong>.
                    Visítenos con frecuencia.</p>
                <p><strong>Si usted opina que yo tengo algún error</strong> en alguna Nota Bíblica, por favor, envíeme
                    su
                    opinión
                    conjuntamente con los argumentos que la respaldan a nuestro E-Mail. Se lo agradeceré, porque a mí me
                    encanta
                    aprender de los demás.</p>
                <p><strong>Igualmente, si desea que aquí aparezca una nota bíblica sobre algún asunto</strong>, por
                    favor,
                    déjeme un
                    mensaje en el E-Mail: ramonaleman@yahoo.com dirigido a R. L. Serralta Nogués.</p>
            </div>
        </article>

        <article>
            <Article title="Es falso asegurar que Cristo no nació en diciembre" dateOf="1 Mz 2000"
                     href="Cristonaciodiciembre.html"/>
            <Article title="2- La longevidad de los patriarcas está dada en años, no en meses." dateOf="14 Mz 00"
                     href="LongevidadAnos.html"/>
            <Article title="3- Oseas no fornicó ni adulteró." dateOf="25 Ab 00"
                     href="OseasNoFornico.html"/>
            <Article title="4- El endurecimiento de Faraón: dinámica celestial; libre albedrío" dateOf="12 My 00"
                     href="EndurecimientoFaraon.html"/>
            <Article title="5- Elías el profeta vendrá antes de la Segunda Venida de Cristo." dateOf="26 My 00"
                     href="EliasVendra.html"/>
            <Article title="6- Haggeo profetizó sobre Cristo, el Deseado, no sobre las riquezas." dateOf="16 Jn 00"
                     href="CristoElDeseadoylasRiquezas.html"/>
            <Article title="7- Isaías 7:14 es prueba de que Cristo es el Mesías." dateOf="12 Jl 00"
                     href="VirgenParira.html"/>
            <Article title="8- No juzguéis para que no seáis juzgados: exageración errada." dateOf="28 Jl 00"
                     href="NoJuzgueisExageracion.html"/>
            <Article title="9- Al lugar Santísimo se entraba todos los días, no una vez al año." dateOf="15 Ag 00"
                     href="SantisimoEntradaDiaria.html"/>
            <Article title="10- El Arcángel Miguel no es Cristo, eso es una blasfemia" dateOf="31 Ag 00"
                     href="ArcangelMiguelNoEsCristo.html"/>
            <Article title="11-Jefté no sacrificó a su hija." dateOf="15 Sp 00"
                     href="JefteNoSacrificoASuHija.html"/>
            <Article title="12- El joven rico mintió, por eso Cristo lo manda a venderlo todo." dateOf="28 Sp 00"
                     href="ElJovenRicoMintio.html"/>
            <Article title="13- Los fariseos no eran fieles cumplidores de la ley como hoy se cree." dateOf="18 Oc 00"
                     href="LosFariseosNoCumplianLaLey.html"/>
            <Article title="14- Qué edad tenía la Virgen María" dateOf="7 Nv 00"
                     href="QueEdadTeniaLaVirgenMaria.html"/>
            <Article title="15- Cristo fue clavado en la cruz por las manos, no por las muñecas." dateOf="12 Dc 00"
                     href="CristoClavadoMunecas.htm"/>
            <Article title="16-Ni Cristo ni la Virgen María confrontaron problemas de ilegitimidad" dateOf="5 Fb 01"
                     href="CristoNoFueAcusadoDeIligitimo.html"/>
            <Article title="17- Los cristianos no deben comer de lo sacrificado a los ídolos." dateOf="12 Ab 01"
                     href="ComerSacrificios.html"/>
            <Article title="18- Algunos hermanos toman el nombre de Dios en vano sin darse cuenta." dateOf="7 My 01"
                     href="NombreDeDiosEnVano.html"/>
            <Article title="19- La higuera no representa a Israel." dateOf="5 Jn 01"
                     href="LaHigeraNoEsIsrael.html"/>
            <Article title="20- Tiempo que nuestros primeros padres vivieron unos con otros." dateOf="29 Jn 01"
                     href="ConvivenciaPatriarcal.html"/>
            <Article title="21- Los reinos del mundo son de Dios, no de Satanás" dateOf="20 Jl 01"
                     href="DiosPoneReyes.html"/>
            <Article title="22- La simplísima primera célula nunca pudo haber existido" dateOf="21 Ag 01"
                     href="LaPrimeraCelula.html"/>
            <Article title="23- Melquísedec no pudo ser Cristo." dateOf="20 Sp 01"
                     href="MelquisedecNoEsCristo.html"/>
            <Article title="24- Apocalipsis: cuándo ocurren los sellos, las trompetas y las copas" dateOf="25 Oc 01"
                     href="SellosTrompetasCopas.html"/>
            <Article title="25- Ahora nos quieren convencer de que Judas era un patriota y no un traidor."
                     dateOf="30 Nv 01"
                     href="JudasTraidorNoPatriota.html"/>
            <Article title="26- ¿Por qué hay creyentes mal y ateos bien?" dateOf="27 Dc 01"
                     href="CreyentesMalAteosbien.html"/>
            <Article title="27- Lo de ladrón en la noche es para los inconversos" dateOf="4 Fb 02"
                     href="LadronNocheInconversos.html"/>
            <Article title="28- Elías no fue cobarde, eso es una campaña de desprestigio." dateOf="21 Mz 02"
                     href="EliasNoFueCobarde.html"/>
            <Article title="29-El paleontólogo, el esqueleto y la evolución." dateOf="14 My 02"
                     href="PaleontologoEsqueleto.html"/>
            <Article title="30- La longevidad decreció a consecuencia del Diluvio." dateOf="30 Jn 02"
                     href="LongevidadDiluvio.html"/>
            <Article title="31- El Pecado Original es un mito" dateOf="31 Jl 02"
                     href="ElPecadoOriginal.html"/>
            <Article title="32- ¿Quién podía matar a Caín?" dateOf="10 Sp 02"
                     href="QuienPodiaMatarCain.html"/>
            <Article title="33- El por qué la ofrenda de Caín no era aceptable." dateOf="8 Oc 02"
                     href="CainOfrenda.html"/>
            <Article title="34- ¿Era el ropaje de Jesús corto o largo?" dateOf="30 Oc 02"
                     href="CristoRopajeCorto.html"/>
            <Article title="35- El cristiano y las armas." dateOf="17 En 03"
                     href="ElCristianoYLasArmas.html"/>
            <Article title="36- Agitan el puño delante de Dios, ¿y son cristianos?" dateOf="16 Fb 03"
                     href="AgitanPunoAnteDios.html"/>
            <Article title="37- Cristo es mayor que el Espíritu Santo." dateOf="20 Mz 03"
                     href="CristoMayorEspirituSanto.html"/>
            <Article title="38- Qué es la blasfemia contra el Espíritu Santo." dateOf="28 Ab 03"
                     href="BlasfemiaEspirituSanto.html"/>
            <Article title="39- No llames 'pruebas' a las consecuencias de tus errores y pecados." dateOf="18 My 03"
                     href="JobCristianosPruebas.html"/>
            <Article title="40- Timoteo no era tan joven como muchos creen." dateOf="30 Jn 03"
                     href="TimoteoNoEraTanJoven.html"/>
            <Article title="41- Mujeres con autoridad en la Iglesia, prohibido por San Pablo." dateOf="8 Ag 03"
                     href="MujeresEnLaIglesia.html"/>
            <Article title="42- Tiempo natural de amamantar y destetar a los niños." dateOf="10 Sp 03"
                     href="AmamantarDestetarNinos.html"/>
            <Article title="43- El Temor y la protección divina. No cambies los mandamientos." dateOf="8 Oc 03"
                     href="ElTemorALosEnemigos.html"/>
            <Article title="44- Método para examinarnos a nosotros mismos." dateOf="26 Nv 03"
                     href="MetodoParaExaminarnos.html"/>
            <Article title="45- En la parábola, Cristo usa la sal por su sabor, no por su poder preservante."
                     dateOf="19 Dc 03"
                     href="LaSalSuSabor.html"/>
            <Article title="46- Las mujeres podían divorciarse de sus esposos." dateOf="19 En 04"
                     href="MujeresDivorciarEsposos.html"/>
            <Article title="47- Matrimonios de ángeles con mujeres, disparate y blasfemia" dateOf="20 Fb 04"
                     href="MatrimoniosAngeles-Mujeres.html"/>
            <Article title="48- Por qué el Infierno existe y tiene que existir." dateOf="19 Mz 04"
                     href="InfiernoTieneQueExistir.html"/>
            <Article title="49- ¡Aleluya! Qué milagro más extraordinario." dateOf="18 Ab 04"
                     href="AleluyaQueMilagro.html"/>
            <Article title="50- Pactos y matrimonios con inconversos." dateOf="20 My 04"
                     href="PactosMatrimoniosInconversos.html"/>
            <Article title="51- Fe y obras según Santiago." dateOf="23 Jn 04"
                     href="FeObrasSantiago.html"/>
            <Article title="52- Judíos, musulmanes y ateos lean esto, las 70 semanas." dateOf="21 Jl 04"
                     href="JudiosMusulmanesAteos70Semanas.html"/>
            <Article title="53- Dios también castiga a los cristianos." dateOf="25 Ag 04"
                     href="DiosCastigaCristianos.html"/>
            <Article title="54- Distorsión de la Santa Cena." dateOf="25 Oc 04"
                     href="DistorsionSantaCena.html"/>
            <Article title="55- San Pablo no pertenecía al Sanedrín ni era rabino." dateOf="24 Nv 04"
                     href="PabloSanedrin.html"/>
            <Article title="56- ¿Gap Theory? Creer en una creación previa a la actual es absurdo." dateOf="13 En 05"
                     href="AbsurdidadCreacionPrevia.html"/>
            <Article title="57- La redención por gracia se conocía desde el principio." dateOf="27 Fb 05"
                     href="LaGraciaDesdeElPrincipio.html"/>
            <Article title="58- Vean por qué los mandamientos de Dios son un camino seguro." dateOf="21 Mz 05"
                     href="LosCuatroCaminos.html"/>
            <Article title="59- Dinámica Celestial: mecánica de la tentación." dateOf="27 Ab 05"
                     href="MecanicaDeLaTentacion.html"/>
            <Article title="60- Por qué el arrepentimiento es indispensable." dateOf="31 My 05"
                     href="PorqueArrepentimientoIndispensable.html"/>
            <Article title="61- La falsa predestinación y el Quinto Mandamiento." dateOf="30 Jn 05"
                     href="PredestinacionQuintoMandamiento.html"/>
            <Article title="62- ¿Caerán las estrellas? ¿No son mayores que la Tierra?" dateOf="28 Jl 05"
                     href="CaeranEstrellas.html"/>
            <Article title="63- Duró la Creación siete días o siete eras." dateOf="31 Ag 05"
                     href="SieteDiasSieteEras.html"/>
            <Article title="64- Abraham sacrificó a Isaac, sabiendo que Dios lo resucitaría" dateOf="29 Sp 05"
                     href="AbrahamSacrificoIsaac.html"/>
            <Article title="65- El clima igualitario en todo el globo antes del Diluvio es un error." dateOf="25 Oc 05"
                     href="ClimaIgualitario.html"/>
            <Article title="66- Cristo no prohibió todo tipo de juramentos." dateOf="23 Nv 05"
                     href="CristoJuramentos.html"/>
            <Article title="67- Cristo, Alejandro Magno, Julio César, Napoleón Bonaparte y los judíos."
                     dateOf="18 Dc 05"
                     href="CristoAlejandroNapoleon.html"/>
            <Article title="68- Sodoma se halla en el fondo del Mar Muerto" dateOf="24 En 06"
                     href="SodomaMarMuerto.html"/>
            <Article title="69- Quien no adora a Dios es porque detesta la idea de estarle sometido." dateOf="27 Fb 06"
                     href="NoAdoranPorNoObedecer.html"/>
            <Article title="70- La crucifixión tuvo lugar un jueves, no un viernes." dateOf="30 Mz 06"
                     href="CrucifixionJueves.html"/>
            <Article title="71- Quiénes nos obstaculizan, y cómo nosotros les damos lugar y ocasión." dateOf="28 Ab 06"
                     href="FundarUnBarFundarUnaIglesia.html"/>
            <Article title="72- Dos mujeres diferente ungieron a Jesús, una era decente, la otra no." dateOf="24 My 06"
                     href="DosMujeresUngieronJesus.html"/>
            <Article title="73- Qué son las 'aguas vivas' de que habla la Biblia." dateOf="20 Jn 06"
                     href="AguasVivas.html"/>
            <Article
                    title="74- En la Biblia la palabra 'desierto' significa 'sin habitantes', no sin agua ni vegetación."
                    dateOf="27 Jl 06"
                    href="BibliaDesiertoAgua.html"/>
            <Article title="75- El profeta Miqueas hijo de Imla no mintió." dateOf="30 Ag 06"
                     href="MiqueasImlaNoMintio.html"/>
            <Article title="76- 'Dureza' del Antiguo Testamento y los 'doctrineros versiculares'." dateOf="22 Sp 06"
                     href="DurezaAntiguoTestamento.html"/>
            <Article title="77- Origen del antagonismo judeo-samaritano." dateOf="30 Oc 06"
                     href="AntagonismoJudeoSamaritano.html"/>
            <Article title="78- Eliseo no mintió al decir a Benadad que no moriría de su enfermedad." dateOf="27 Nv 06"
                     href="EliseoNoMintio.html"/>


            <Article title="79- Consequencias terrenales del pecado, ejemplo de Jonás." dateOf="28 Dc 06"
                     href="ConsecuenciasTerrenalesPecadoJonas.html"/>
            <Article title="80- Tácticas demoníacas para vencer al pueblo de Dios" dateOf="29 En 07"
                     href="TacticasDemoniacas.html"/>
            <Article title="81- La predestinación, la muerte, el nacimiento, los médicos y los seguros."
                     dateOf="26 Fb 07" href="PredestinacionMuerteNacimiento.html"/>
            <Article title="82- Satanás fue echado fuera del Cielo antes del Pentecostés" dateOf="30 Mz 07"
                     href="SatanasEchadoFuera.html"/>
            <Article title="83- El cristiano y el control del carácter." dateOf="30 Ab 07"
                     href="CristianoControlCaracter.html"/>
            <Article title="84- El Diluvio fue universal, no local" dateOf="31 My 07"
                     href="DiluvioUniversalNoLocal.html"/>
            <Article title="85- Falacias del discurso de Eliú, y grandeza de Job." dateOf="29 Jn 07"
                     href="EliuFalaciasJobGrandeza.html"/>
            <Article title="86- Pragmatismo: por sus frutos los conoceréis." dateOf="31 Jl 07" href="Pragmatismo.html"/>
            <Article title="87- La Religión de los Yosientos y los macabeos." dateOf="30 Ag 07"
                     href="ReligionYosientos.html"/>
            <Article
                    title="88-Similitud entre el Egipto Faraónico y la Unión Soviética. Los ángeles patronos de las naciones."
                    dateOf="28 Sp 07" href="EgiptoYRusia.html"/>
            <Article
                    title="89-Judíos: el Mesías entraría en aquel Templo antes que lo destruyera Tito Flavio Vespasiano."
                    dateOf="30 Oc 07" href="MesiasEntrariaAquelTemplo.html"/>
            <Article title="90-Dios también recompensa y castiga, ya y aquí." dateOf="30 Nv 07"
                     href="DiosRecompensaCastigaYa.html"/>
            <Article title="91-¿Es verdadero amor amar a los que odian a Dios?" dateOf="30 Dc 07"
                     href="QueEsAmorVerdadero.html"/>
            <Article title="92-El pecado tiene consecuencias terrenales aún para los amados de Dios." dateOf="29 En 08"
                     href="ConsecuenciasTerrenalesPecadoDavid.html"/>
            <Article title="93-La Pena de Muerte no evita que un condenado se salve." dateOf="24 Fb 08"
                     href="PenaMuerteSalvacion.html"/>
            <Article title="94-Teomorfismo: ¿Se parece el humano a Dios?" dateOf="31 Mz 08" href="Teomorfismo.html"/>
            <Article title="95-El fabricante de autos." dateOf="30 Ab 08" href="FabricanteDeAutos.html"/>
            <Article title="96-La Táctica de la Serpiente en el Edén y en la Actualidad es la misma." dateOf="31 My 08"
                     href="TacticaSerpienteEden.html"/>
            <Article title="97-El cristiano y el niño de dos años." dateOf="30 Jn 08" href="NinoDeDosAnos.html"/>
            <Article title="98-La Biblia Dios la dio para que la entendiera cualquiera, no sólo los sabios."
                     dateOf="28 Jl 08" href="BibliaEntiendeCualqiera.html"/>
            <Article title="99-Fue dicho a los Antiguos; no fue dicho en la ley de Dios. No confundan."
                     dateOf="31 Ag 08" href="FueDichoAntiguos.html"/>
            <Article title="100-La Santidad en el Cristiano." dateOf="28 Sp 08" href="LaSantidadEnElCristiano.html"/>
            <Article title="101-La Ignorancia de la Ley de Dios no es Excusa para el Pecado." dateOf="31 Oc 08"
                     href="IgnoranciaExcusaPecado.html"/>
            <Article title="102-Peligro de creer en la falsedad del Rapto antes de la Gran Tribulación."
                     dateOf="30 Nv 08" href="RaptoCreerNoCreer.html"/>
            <Article title="103-¿Dónde la Biblia dice que hay un rapto antes de la Gran Tribulación?" dateOf="31 Dc 08"
                     href="RaptoGranTribulacion.html"/>
            <Article
                    title="104-El pecado es culpa nuestra, no del ambiente, la predestinación, la ignorancia o Satanás."
                    dateOf="28 En 09" href="PecadoEsCulpaNuestra.html"/>
            <Article title="105-Algunos Apostatarán de la Fe." dateOf="28 Fb 09" href="AlgunosApostataranDeLaFe.html"/>
            <Article title="106-¿Qué pensaba Pablo sobre eso de 'Salvo Siempre Salvo'?" dateOf="26 Mz 09"
                     href="https://www.bibleserralta.com/PabloYSSS.html"/>
            <Article title="107-¿Por qué Dios no suprime la tentación." dateOf="30 Ab 09"
                     href="DiosNoSuprimeTentacion.html"/>
            <Article title="108-¿Somos Cristianos o Sanpablianos?" dateOf="27 My 09"
                     href="CristianosOSanpablianos.html"/>
            <Article
                    title="109-Comed lo que os pusieren delante ¿Los sesos de una anciana? ¿Sopa de sangre de vencidos?"
                    dateOf="24 Jn 09" href="ComedPusierenDelante.html"/>
            <Article title="110-Cristo no abolió las leyes de Dios para el comportamiento humano." dateOf="30 Jl 09"
                     href="CristoNoAbolioLeyes.html"/>
            <Article
                    title="111-Para llegar a la doctrina evangélica correcta, la mayoría de los cristianos proceden como Naamán."
                    dateOf="31 Ag 09" href="CristianosProcedenNaaman.html"/>
            <Article title="112-El verdadero amor a Dios es obedecer sus mandamientos." dateOf="30 Sp 09"
                     href="AmorDiosObedecerMandamientos.html"/>
            <Article title="113-¿Por qué Cristo no absolvió ni condenó a la adúltera?" dateOf="31 Oc 09"
                     href="CristoNoAbsolvioAdultera.html"/>
            <Article title="114-Error y herejía de ser novotestamentario." dateOf="30 Nv 09"
                     href="ErrorNovotestamentario.html"/>
            <Article title="115-La Profecía de las 70 Semanas y el Mesías." dateOf="31 Dc 09"
                     href="SetentaSemanas.html"/>
            <Article title="116-Hay en los cristianos una gran confusión con respecto a la Ley de Dios."
                     dateOf="27 En 10" href="CristianosConfusionLey.html"/>
            <Article
                    title="117-Imitemos los primeros cristianos que discutían fraternalmente sus diferencias doctrinales."
                    dateOf="28 Fb 10" href="DiscusionesYCristianos.html"/>
            <Article title="118-¿Qué significa ser legalista?" dateOf="30 Mz 10" href="LegalistaQueSignifica.html"/>
            <Article title="119-Cómo entender más fácilmente el Sermón Profético." dateOf="29 Ab 10"
                     href="ProfeticoSermon.html"/>
            <Article title="120-El yugo que ni Pedro ni sus ancestros habían podido llevar." dateOf="27 My 10"
                     href="YugoPedroNoPodia.html"/>
            <Article title="121-Los errores doctrinales de los cristianos tienen uno o más de estos varios orígenes."
                     dateOf="28 Jn 10" href="ErroresDoctrinales.html"/>
            <Article title="122-A qué se llama en la Biblia 'No estar bajo la Ley'." dateOf="28 Jl 10"
                     href="LeySinificaPalabra.html"/>
            <Article title="123-Echemos una ojeada a los que se creen que ellos creen en la predestinación absoluta."
                     dateOf="26 Ag 10" href="PredestinacionOjeada.html"/>
            <Article
                    title="124-Lo de Ojo por Ojo era para los jueces, no para que la gente lo usara para sus odios y pugnas."
                    dateOf="28 Sp 28" href="OjoPorOjo.html"/>
            <Article
                    title="125-Pablo exhorta a los cristianos a cumplir las leyes de Dios para el comportamiento humano."
                    dateOf="26 Oc 10" href="PabloCumpleLey.html"/>
            <Article title="126-No todo lo que dice un personaje bíblico es revelación, hay que discernir."
                     dateOf="28 Nv 10" href="PersonajeDiceRevelacion.html"/>
            <Article title="127-La visión de Pedro y la supuesta limpieza de todos los animales." dateOf="27 Dc 10"
                     href="PedroVisionAnimales.html"/>
            <Article title="128-Almacén de almas previo al nacimiento y la predestinación." dateOf="27 En 11"
                     href="AlmacenAlmas.html"/>
            <Article title="129-Peligro de creer que el 'rapto' ocurrirá antes de la Gran Tribulación."
                     dateOf="28 Mz 11" href="RaptoPeligro.html"/>
            <Article title="130-Cómo entender mejor el Sermón Profético de Mateo 24." dateOf="25 Ab 11"
                     href="ProfeticoSermon.html"/>
            <Article title="131-Razones por las cuales la gente no quiere saber la verdad." dateOf="26 My 11"
                     href="RazonesNoVerdad.html"/>
            <Article title="132-Las pasiones nublan el raciocinio" dateOf="28 Jun 11"
                     href="PasionesNublanRaciocinio.html"/>
            <Article
                    title="133-Pablo parece decirnos que él había sido irreprensible en la ley de Dios, lo cual no es cierto."
                    dateOf="24 Jl 11" href="PabloIrreprensible.html"/>
            <Article title="134-Los cristianos pueden evitar la Gran Tribulación" dateOf="25 Ag 11"
                     href="CristianosEvitanGT.html"/>
            <Article title="135-Las Bodas del Cordero, ¿cuándo ocurren?" dateOf="26 Sp 11"
                     href="LasBodasDelCordero.html"/>
            <Article title="136-Qué obstaculiza el recibir las bendiciones de Dios." dateOf="25 Oc 11"
                     href="QueObstaculizaBendiciones.html"/>
            <Article title="137-Por qué Daniel tuvo protección divina en el foso de los leones." dateOf="27 Nv 11"
                     href="DanielFosoProteccion.html"/>
            <Article title="138-No llames 'pruebas' a las consecuencias de tus pecados e insensateces" dateOf="27 Dc 11"
                     href="PruebasConsecuencisPecados.html"/>
            <Article title="139-La fidelidad en la adversidad y la felicidad." dateOf="26 En 12"
                     href="FidelidadAdversidadFelicidad.html"/>
            <Article title="140-Las promesas de Dios no son incondicionales" dateOf="27 Fb 12"
                     href="PromesasDiosNoIncondicionales.html"/>
            <Article title="141-Jonás llegó limpio a Nínive" dateOf="2 Mz 12"
                     href="Jonas%20llego%20limpio%20a%20Ninive.html"/>
            <Article title="142-Cómo interpretar las parábolas." dateOf="28 My 12"
                     href="ComoInterpretarLasParabolas.html"/>
            <Article
                    title="143-Utilidad para la Iglesia, la sociedad y la Nación de la presencia y oración de los cristianos"
                    dateOf="26 Jn 12" href="UtilidadOracionCristianos.html"/>
            <Article title="144-Si Dios todo lo sabe, ¿por qué hay que orar?" dateOf="26 Jl 12"
                     href="SiDiosSabePorqueOrar.html"/>
            <Article title="145-Un factor para interpretar correctamente la Biblia." dateOf="27 Ag 12"
                     href="FactorInterpretarBiblia.html"/>
            <Article title="146-La Biblia es una unidad doctrinal monolítica" dateOf="30 Sp 12"
                     href="BibliaUnidadMonolitica.html"/>
            <Article
                    title="147-Las mujeres no tenian 'prohibidas' ciertas actividades, eran las circunstancias las que los prohibían."
                    dateOf="" href="MujeresActividades.html"/>
            <Article title="148-En la Biblia los números se redondeaban." dateOf="27 Nv 12"
                     href="NumerosRedondeaban.html"/>
            <Article title="149-La mujer y el velo en la época bíblica" dateOf="26 Dc 12" href="VeloMujerBiblica.html"/>
            <Article title="150-Cristo no abolió ninguna ley de Dios antes de su crucifixión" dateOf="29 En 13"
                     href="CristoJamasAbolio.html"/>
            <Article title="151-Discutir nuestras doctrinas está bíblicamente autorizado" dateOf="27 Fb 13"
                     href="DiscutirEsBiblico.html"/>


            <p><strong><a href="index.astro">Volver a la primera pagina</a></strong></p>
        </article>
    </section>
</Layout>