---
import Layout from "@/layout/Layout.astro";
import Article from "../components/Article.astro";
---
<Layout title="Notas Biblicas">
    <section class="flex gap:5rem my:2rem">
        <article class="w:17rem max-w:17rem">
            <div class="bg:hsl(39|93%|90%/1) p:2rem font-size:1rem">
                <p><strong>Índice de Notas Bíblicas en Español</strong></p>

                <p> Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de torcer; o
                    temas
                    que son
                    difíciles de interpretar. Vale la pena leerlos. Usted puede usar el material que aquí hay para
                    ayudar a
                    otros,
                    especialmente a los miembros de su iglesia. <strong>A menudo hallará usted aquí una nueva Nota
                        Bíblica</strong>.
                    Visítenos con frecuencia.</p>
                <p><strong>Si usted opina que yo tengo algún error</strong> en alguna Nota Bíblica, por favor, envíeme
                    su
                    opinión
                    conjuntamente con los argumentos que la respaldan a nuestro E-Mail. Se lo agradeceré, porque a mí me
                    encanta
                    aprender de los demás.</p>
                <p><strong>Igualmente, si desea que aquí aparezca una nota bíblica sobre algún asunto</strong>, por
                    favor,
                    déjeme un
                    mensaje en el E-Mail: ramonaleman@yahoo.com dirigido a R. L. Serralta Nogués.</p>
            </div>
        </article>

        <article>
            <Article title="Es falso asegurar que Cristo no nació en diciembre" dateOf="1 Mz 2000"
                     href="Cristonaciodiciembre.html"/>
            <Article title="2- La longevidad de los patriarcas está dada en años, no en meses." dateOf="14 Mz 00"
                     href="LongevidadAnos.html"/>
            <Article title="3- Oseas no fornicó ni adulteró." dateOf="25 Ab 00"
                     href="OseasNoFornico.html"/>
            <Article title="4- El endurecimiento de Faraón: dinámica celestial; libre albedrío" dateOf="12 My 00"
                     href="EndurecimientoFaraon.html"/>
            <Article title="5- Elías el profeta vendrá antes de la Segunda Venida de Cristo." dateOf="26 My 00"
                     href="EliasVendra.html"/>
            <Article title="6- Haggeo profetizó sobre Cristo, el Deseado, no sobre las riquezas." dateOf="16 Jn 00"
                     href="CristoElDeseadoylasRiquezas.html"/>
            <Article title="7- Isaías 7:14 es prueba de que Cristo es el Mesías." dateOf="12 Jl 00"
                     href="VirgenParira.html"/>
            <Article title="8- No juzguéis para que no seáis juzgados: exageración errada." dateOf="28 Jl 00"
                     href="NoJuzgueisExageracion.html"/>
            <Article title="9- Al lugar Santísimo se entraba todos los días, no una vez al año." dateOf="15 Ag 00"
                     href="SantisimoEntradaDiaria.html"/>
            <Article title="10- El Arcángel Miguel no es Cristo, eso es una blasfemia" dateOf="31 Ag 00"
                     href="ArcangelMiguelNoEsCristo.html"/>
            <Article title="11-Jefté no sacrificó a su hija." dateOf="15 Sp 00"
                     href="JefteNoSacrificoASuHija.html"/>
            <Article title="12- El joven rico mintió, por eso Cristo lo manda a venderlo todo." dateOf="28 Sp 00"
                     href="ElJovenRicoMintio.html"/>
            <Article title="13- Los fariseos no eran fieles cumplidores de la ley como hoy se cree." dateOf="18 Oc 00"
                     href="LosFariseosNoCumplianLaLey.html"/>
            <Article title="14- Qué edad tenía la Virgen María" dateOf="7 Nv 00"
                     href="QueEdadTeniaLaVirgenMaria.html"/>
            <Article title="15- Cristo fue clavado en la cruz por las manos, no por las muñecas." dateOf="12 Dc 00"
                     href="CristoClavadoMunecas.htm"/>
            <Article title="16-Ni Cristo ni la Virgen María confrontaron problemas de ilegitimidad" dateOf="5 Fb 01"
                     href="CristoNoFueAcusadoDeIligitimo.html"/>
            <Article title="17- Los cristianos no deben comer de lo sacrificado a los ídolos." dateOf="12 Ab 01"
                     href="ComerSacrificios.html"/>
            <Article title="18- Algunos hermanos toman el nombre de Dios en vano sin darse cuenta." dateOf="7 My 01"
                     href="NombreDeDiosEnVano.html"/>
            <Article title="19- La higuera no representa a Israel." dateOf="5 Jn 01"
                     href="LaHigeraNoEsIsrael.html"/>
            <Article title="20- Tiempo que nuestros primeros padres vivieron unos con otros." dateOf="29 Jn 01"
                     href="ConvivenciaPatriarcal.html"/>
            <Article title="21- Los reinos del mundo son de Dios, no de Satanás" dateOf="20 Jl 01"
                     href="DiosPoneReyes.html"/>
            <Article title="22- La simplísima primera célula nunca pudo haber existido" dateOf="21 Ag 01"
                     href="LaPrimeraCelula.html"/>

            <p><a href="MelquisedecNoEsCristo.html">23- Melquísedec no pudo ser Cristo.</a> ( 20 Sp 01 )</p>
            <p><a href="SellosTrompetasCopas.html">24- Apocalipsis: cuándo ocurren los sellos, las trompetas y las
                copas</a>.
                ( 25
                Oc 01 )</p>
            <p><a href="JudasTraidorNoPatriota.html">25- Ahora nos quieren convencer de que Judas era un patriota y no
                un
                traidor.</a> ( 30 Nv 01 )</p>
            <p><a href="CreyentesMalAteosbien.html">26- ¿Por qué hay creyentes mal y ateos bien?</a> ( 27 Dc 01 )</p>
            <p><a href="LadronNocheInconversos.html">27- Lo de ladrón en la noche es para los inconversos</a>. ( 4 Fb 02
                )
            </p>
            <p><a href="EliasNoFueCobarde.html">28- Elías no fue cobarde, eso es una campaña de desprestigio.</a> ( 21
                Mz 02
                )</p>
            <p><a href="PaleontologoEsqueleto.html">29-El paleontólogo, el esqueleto y la evolución.</a> ( 14 My 02 )
            </p>
            <p><a href="LongevidadDiluvio.html">30- La longevidad decreció a consecuencia del Diluvio.</a> ( 30 Jn 02 )
            </p>
            <p><a href="ElPecadoOriginal.html">31- El Pecado Original es un mito</a>. ( 31 Jl 02 )</p>
            <p><a href="QuienPodiaMatarCain.html">32- ¿Quién podía matar a Caín?</a> ( 10 Sp 02 )</p>
            <p><a href="CainOfrenda.html">33- El por qué la ofrenda de Caín no era aceptable.</a> ( 8 Oc 02 )</p>
            <p><a href="CristoRopajeCorto.html">34- ¿Era el ropaje de Jesús corto o largo?</a> ( 30 Oc 02 )</p>
            <p><a href="ElCristianoYLasArmas.html">35- El cristiano y las armas.</a> ( 17 En 03 )</p>
            <p><a href="AgitanPunoAnteDios.html">36- Agitan el puño delante de Dios, ¿y son cristianos?</a> ( 16 Fb 03 )
            </p>
            <p><a href="CristoMayorEspirituSanto.html">37- Cristo es mayor que el Espíritu Santo.</a> ( 20 Mz 03 )</p>
            <p><a href="BlasfemiaEspirituSanto.html">38- Qué es la blasfemia contra el Espíritu Santo.</a> ( 28 Ab 03 )
            </p>
            <p><a href="JobCristianosPruebas.html">39- No llames "pruebas" a las consecuencias de tus errores y
                pecados.</a>
                ( 18 My
                03 )</p>
            <p><a href="TimoteoNoEraTanJoven.html">40- Timoteo no era tan joven como muchos creen.</a> ( 30 Jn 03 )</p>
            <p><a href="MujeresEnLaIglesia.html">41- Mujeres con autoridad en la Iglesia, prohibido por San Pablo.</a> (
                8
                Ag 03 )
            </p>
            <p><a href="AmamantarDestetarNinos.html">42- Tiempo natural de amamantar y destetar a los niños.</a> ( 10 Sp
                03
                )</p>
            <p><a href="ElTemorALosEnemigos.html">43- El Temor y la protección divina. No cambies los mandamientos.</a>
                ( 8
                Oc 03 )
            </p>
            <p><a href="MetodoParaExaminarnos.html">44- Método para examinarnos a nosotros mismos.</a> ( 26 Nv 03 )</p>
            <p><a href="LaSalSuSabor.html">45- En la parábola, Cristo usa la sal por su sabor, no por su poder
                preservante.</a> ( 19
                Dc 03 )</p>
            <p><a href="MujeresDivorciarEsposos.html">46- Las mujeres podían divorciarse de sus esposos.</a> ( 19 En 04
                )
            </p>
            <p><a href="MatrimoniosAngeles-Mujeres.html">47- Matrimonios de ángeles con mujeres, disparate y
                blasfemia</a>.
                ( 20 Fb
                04 )</p>
            <p><a href="InfiernoTieneQueExistir.html">48- Por qué el Infierno existe y tiene que existir.</a> ( 19 Mz 04
                )
            </p>
            <p><a href="AleluyaQueMilagro.html">49- ¡Aleluya! Qué milagro más extraordinario.</a> ( 18 Ab 04 )</p>
            <p><a href="PactosMatrimoniosInconversos.html">50- Pactos y matrimonios con inconversos.</a> ( 20 My 04 )
            </p>
            <p><a href="FeObrasSantiago.html">51- Fe y obras según Santiago.</a> ( 23 Jn 04 )</p>
            <p><a href="JudiosMusulmanesAteos70Semanas.html">52- Judíos, musulmanes y ateos lean esto, las 70
                semanas.</a> (
                21 Jl
                04 )</p>
            <p><a href="DiosCastigaCristianos.html">53- Dios también castiga a los cristianos.</a> ( 25 Ag 04 )</p>
            <p><a href="DistorsionSantaCena.html">54- Distorsión de la Santa Cena.</a> ( 25 Oc 04 )</p>
            <p><a href="PabloSanedrin.html">55- San Pablo no pertenecía al Sanedrín ni era rabino.</a> ( 24 Nv 04 )</p>
            <p><a href="AbsurdidadCreacionPrevia.html">56- ¿Gap Theory? Creer en una creación previa a la actual es
                absurdo.</a> (
                13 En 05 )</p>
            <p><a href="LaGraciaDesdeElPrincipio.html">57- La redención por gracia se conocía desde el principio.</a> (
                27
                Fb 05 )
            </p>
            <p><a href="LosCuatroCaminos.html">58- Vean por qué los mandamientos de Dios son un camino seguro.</a> ( 21
                Mz
                05 )</p>
            <p><a href="MecanicaDeLaTentacion.html">59- Dinámica Celestial: mecánica de la tentación.</a> ( 27 Ab 05 )
            </p>
            <p><a href="PorqueArrepentimientoIndispensable.html">60- Por qué el arrepentimiento es indispensable.</a> (
                31
                My 05 )
            </p>
            <p><a href="PredestinacionQuintoMandamiento.html">61- La falsa predestinación y el Quinto Mandamiento.</a> (
                30
                Jn 05 )
            </p>
            <p><a href="CaeranEstrellas.html">62- ¿Caerán las estrellas? ¿No son mayores que la Tierra?</a> ( 28 Jl 05 )
            </p>
            <p><a href="SieteDiasSieteEras.html">63- Duró la Creación siete días o siete eras.</a> ( 31 Ag 05 )</p>
            <p><a href="AbrahamSacrificoIsaac.html">64- Abraham sacrificó a Isaac, sabiendo que Dios lo resucitaría</a>.
                (
                29 Sp 05
                )</p>
            <p><a href="ClimaIgualitario.html">65- El clima igualitario en todo el globo antes del Diluvio es un
                error.</a>
                ( 25 Oc
                05 )</p>
            <p><a href="CristoJuramentos.html">66- Cristo no prohibió todo tipo de juramentos.</a> ( 23 Nv 05 )</p>
            <p><a href="CristoAlejandroNapoleon.html">67- Cristo, Alejandro Magno, Julio César, Napoleón Bonaparte y los
                judíos.</a>
                ( 18 Dc 05 )</p>
            <p><a href="SodomaMarMuerto.html">68- Sodoma se halla en el fondo del Mar Muerto</a>. (24 En 06 )</p>
            <p><a href="NoAdoranPorNoObedecer.html">69- Quien no adora a Dios es porque detesta la idea de estarle
                sometido.</a> (
                27 Fb 06 )</p>
            <p><a href="CrucifixionJueves.html">70- La crucifixión tuvo lugar un jueves, no un viernes.</a> ( 30 Mz 06 )
            </p>
            <p><a href="FundarUnBarFundarUnaIglesia.html">71- Quiénes nos obstaculizan, y cómo nosotros les damos lugar
                y
                ocasión.</a> ( 28 Ab 06 )</p>
            <p><a href="DosMujeresUngieronJesus.html">72- Dos mujeres diferente ungieron a Jesús, una era decente, la
                otra
                no.</a> (
                24 My 06 )</p>
            <p><a href="AguasVivas.html">73- Qué son las "aguas vivas" de que habla la Biblia.</a> ( 20 Jn 06 )</p>
            <p><a href="BibliaDesiertoAgua.html">74- En la Biblia la palabra "desierto" significa "sin habitantes", no
                sin
                agua ni
                vegetación.</a> ( 27 Jl 06 )</p>
            <p><a href="MiqueasImlaNoMintio.html">75- El profeta Miqueas hijo de Imla no mintió.</a> ( 30 Ag 06 )</p>
            <p><a href="DurezaAntiguoTestamento.html">76- "Dureza" del Antiguo Testamento y los "doctrineros
                versiculares".</a> ( 22
                Sp 06 )</p>
            <p><a href="AntagonismoJudeoSamaritano.html">77- Origen del antagonismo judeo-samaritano.</a> ( 30 Oc 06 )
            </p>
            <p><a href="EliseoNoMintio.html">78- Eliseo no mintió al decir a Benadad que no moriría de su
                enfermedad.</a>
                (27 Nv 06
                )</p>
            <p><a href="ConsecuenciasTerrenalesPecadoJonas.html">79- Consequencias terrenales del pecado, ejemplo de
                Jonás.</a> ( 28
                Dc 06 )</p>
            <p><a href="TacticasDemoniacas.html">80- Tácticas demoníacas para vencer al pueblo de Dios</a>. ( 29 En 07 )
            </p>
            <p><a href="PredestinacionMuerteNacimiento.html">81- La predestinación, la muerte, el nacimiento, los
                médicos y
                los
                seguros.</a> (26 Fb 07)</p>
            <p><a href="SatanasEchadoFuera.html">82- Satanás fue echado fuera del Cielo antes del Pentecostés</a>. (30
                Mz
                07)</p>
            <p><a href="CristianoControlCaracter.html">83- El cristiano y el control del carácter.</a> (30 Ab 07)</p>
            <p><a href="DiluvioUniversalNoLocal.html">84- El Diluvio fue universal, no local</a>. (31 My 07)</p>
            <p><a href="EliuFalaciasJobGrandeza.html">85- Falacias del discurso de Eliú, y grandeza de Job.</a> (29 Jn
                07)
            </p>
            <p><a href="Pragmatismo.html">86- Pragmatismo: por sus frutos los conoceréis.</a> (31 Jl 07)</p>
            <p><a href="ReligionYosientos.html">87- La Religión de los Yosientos y los macabeos.</a> (30 Ag 07)</p>
            <p><a href="EgiptoYRusia.html">88-Similitud entre el Egipto Faraónico y la Unión Soviética. Los ángeles
                patronos
                de las
                naciones.</a> (28 Sp 07)</p>
            <p><a href="MesiasEntrariaAquelTemplo.html">89-Judíos: el Mesías entraría en aquel Templo antes que lo
                destruyera Tito
                Flavio Vespasiano.</a> (30 Oc 07)</p>
            <p><a href="DiosRecompensaCastigaYa.html">90-Dios también recompensa y castiga, ya y aquí.</a> (30 Nv 07)
            </p>
            <p><a href="QueEsAmorVerdadero.html">91-¿Es verdadero amor amar a los que odian a Dios?</a> (30 Dc 07)</p>
            <p><a href="ConsecuenciasTerrenalesPecadoDavid.html">92-El pecado tiene consecuencias terrenales aún para
                los
                amados de
                Dios.</a> (29 En 08)</p>
            <p><a href="PenaMuerteSalvacion.html">93-La Pena de Muerte no evita que un condenado se salve.</a> (24 Fb
                08)
            </p>
            <p><a href="Teomorfismo.html">94-Teomorfismo: ¿Se parece el humano a Dios?</a> (31 Mz 08)</p>
            <p><a href="FabricanteDeAutos.html">95-El fabricante de autos.</a> (30 Ab 08)</p>
            <p><a href="TacticaSerpienteEden.html">96-La Táctica de la Serpiente en el Edén y en la Actualidad es la
                misma.</a> (31
                My 08)</p>
            <p><a href="NinoDeDosAnos.html">97-El cristiano y el niño de dos años.</a> (30 Jn 08)</p>
            <p><a href="BibliaEntiendeCualqiera.html">98-La Biblia Dios la dio para que la entendiera cualquiera, no
                sólo
                los
                sabios.</a> (28 Jl 08)</p>
            <p><a href="FueDichoAntiguos.html">99-Fue dicho a los Antiguos; no fue dicho en la ley de Dios. No
                confundan.</a> (31 Ag
                08)</p>
            <p><a href="LaSantidadEnElCristiano.html">100-La Santidad en el Cristiano.</a> (28 Sp 08)</p>
            <p><a href="IgnoranciaExcusaPecado.html">101-La Ignorancia de la Ley de Dios no es Excusa para el
                Pecado.</a>
                (31 Oc 08)
            </p>
            <p><a href="RaptoCreerNoCreer.html">102-Peligro de creer en la falsedad del Rapto antes de la Gran
                Tribulación.</a> (30
                Nv 08)</p>
            <p><a href="RaptoGranTribulacion.html">103-¿Dónde la Biblia dice que hay un rapto antes de la Gran
                Tribulación?</a> (31
                Dc 08)</p>
            <p><a href="PecadoEsCulpaNuestra.html">104-El pecado es culpa nuestra, no del ambiente, la predestinación,
                la
                ignorancia
                o Satanás.</a> (28 En 09)</p>
            <p><a href="AlgunosApostataranDeLaFe.html">105-Algunos Apostatarán de la Fe.</a> (28 Fb 09)</p>
            <p><a href="https://www.bibleserralta.com/PabloYSSS.html">106-¿Qué pensaba Pablo sobre eso de "Salvo Siempre
                Salvo"?</a>
                (26 Mz 09)</p>
            <p><a href="DiosNoSuprimeTentacion.html">107-¿Por qué Dios no suprime la tentación.</a> (30 Ab 09)</p>
            <p><a href="CristianosOSanpablianos.html">108-¿Somos Cristianos o Sanpablianos?</a> (27 My 09)</p>
            <p><a href="ComedPusierenDelante.html">109-Comed lo que os pusieren delante ¿Los sesos de una anciana? ¿Sopa
                de
                sangre
                de vencidos?</a> (24 Jn 09)</p>
            <p><a href="CristoNoAbolioLeyes.html">110-Cristo no abolió las leyes de Dios para el comportamiento
                humano.</a>
                (30 Jl
                09)</p>
            <p><a href="CristianosProcedenNaaman.html">111-Para llegar a la doctrina evangélica correcta, la mayoría de
                los
                cristianos proceden como Naamán.</a> (31 Ag 09)</p>
            <p><a href="AmorDiosObedecerMandamientos.html">112-El verdadero amor a Dios es obedecer sus
                mandamientos.</a>
                (30 Sp 09)
            </p>
            <p><a href="CristoNoAbsolvioAdultera.html">113-¿Por qué Cristo no absolvió ni condenó a la adúltera?</a> (31
                Oc
                09)</p>
            <p><a href="ErrorNovotestamentario.html">114-Error y herejía de ser novotestamentario.</a> (30 Nv 09)</p>
            <p><a href="SetentaSemanas.html">115-La Profecía de las 70 Semanas y el Mesías.</a> (31 Dc 09)</p>
            <p><a href="CristianosConfusionLey.html">116-Hay en los cristianos una gran confusión con respecto a la Ley
                de
                Dios.</a>
                (27 En 10)</p>
            <p><a href="DiscusionesYCristianos.html">117-Imitemos los primeros cristianos que discutían fraternalmente
                sus
                diferencias doctrinales.</a> (28 Fb 10)</p>
            <p><a href="LegalistaQueSignifica.html">118-¿Qué significa ser legalista?</a> (30 Mz 10)</p>
            <p><a href="ProfeticoSermon.html">119-Cómo entender más fácilmente el Sermón Profético. </a> (29 Ab 10)</p>
            <p><a href="YugoPedroNoPodia.html">120-El yugo que ni Pedro ni sus ancestros habían podido llevar</a>. (27
                My
                10)</p>
            <p><a href="ErroresDoctrinales.html">121-Los errores doctrinales de los cristianos tienen uno o más de estos
                varios
                orígenes.</a> (28 Jn 10)</p>
            <p><a href="LeySinificaPalabra.html">122-A qué se llama en la Biblia "No estar bajo la Ley".</a> (28 Jl 10)
            </p>
            <p><a href="PredestinacionOjeada.html">123-Echemos una ojeada a los que se creen que ellos creen en la
                predestinación
                absoluta.</a> (26 Ag 10)</p>
            <p><a href="OjoPorOjo.html">124-Lo de Ojo por Ojo era para los jueces, no para que la gente lo usara para
                sus
                odios y
                pugnas.</a> (28 Sp 28)</p>
            <p><a href="PabloCumpleLey.html">125-Pablo exhorta a los cristianos a cumplir las leyes de Dios para el
                comportamiento
                humano.</a> (26 Oc 10)</p>
            <p><a href="PersonajeDiceRevelacion.html">126-No todo lo que dice un personaje bíblico es revelación, hay
                que
                discernir.</a> (28 Nv 10)</p>
            <p><a href="PedroVisionAnimales.html">127-La visión de Pedro y la supuesta limpieza de todos los
                animales.</a>
                (27 Dc
                10)</p>
            <p><a href="AlmacenAlmas.html">128-Almacén de almas previo al nacimiento y la predestinación. </a> (27 En
                11)
            </p>
            <p><a href="RaptoPeligro.html">129-Peligro de creer que el "rapto" ocurrirá antes de la Gran
                Tribulación.</a>
                (28 Mz 11)
            </p>
            <p><a href="ProfeticoSermon.html">130-Cómo entender mejor el Sermón Profético de Mateo 24.</a> (25 Ab 11)
            </p>
            <p><a href="RazonesNoVerdad.html">131-Razones por las cuales la gente no quiere saber la verdad.</a> (26 My
                11)
            </p>
            <p><a href="PasionesNublanRaciocinio.html">132-Las pasiones nublan el raciocinio</a>. (28 Jun 11)</p>
            <p><a href="PabloIrreprensible.html">133-Pablo parece decirnos que él había sido irreprensible en la ley de
                Dios, locual
                no es cierto.</a> (24 Jl 11)</p>
            <p><a href="CristianosEvitanGT.html">134-Los cristianos pueden evitar la Gran Tribulación</a>. (25 Ag 11 )
            </p>
            <p><a href="LasBodasDelCordero.html">135-Las Bodas del Cordero, ¿cuándo ocurren?</a> (26 Sp 11)</p>
            <p><a href="QueObstaculizaBendiciones.html">136-Qué obstaculiza el recibir las bendiciones de Dios.</a> (25
                Oc
                11)</p>
            <p><a href="DanielFosoProteccion.html">137-Por qué Daniel tuvo protección divina en el foso de los
                leones.</a>
                (27 Nv
                11)</p>
            <p><a href="PruebasConsecuencisPecados.html">138-No llames "pruebas" a las consecuencias de tus pecados e
                insensateces</a>. (27 Dc 11) </p>
            <p><a href="FidelidadAdversidadFelicidad.html">139-La fidelidad en la adversidad y la felicidad.</a> (26 En
                12)
            </p>
            <p><a href="PromesasDiosNoIncondicionales.html">140-Las promesas de Dios no son incondicionales</a>. (27 Fb
                12)
            </p>
            <p><a href="Jonas%20llego%20limpio%20a%20Ninive.html">141-Jonás llegó limpio a Nínive</a>. (2 Mz 12)</p>
            <p><a href="ComoInterpretarLasParabolas.html">142-Cómo interpretar las parábolas.</a> (28 My 12)</p>
            <p><a href="UtilidadOracionCristianos.html">143-Utilidad para la Iglesia, la sociedad y la Nación de la
                presencia y
                oración de los cristianos</a>. (26 Jn 12)</p>
            <p><a href="SiDiosSabePorqueOrar.html">144-Si Dios todo lo sabe, ¿por qué hay que orar?</a> (26 Jl 12)</p>
            <p><a href="FactorInterpretarBiblia.html">145-Un factor para interpretar correctamente la Biblia.</a> (27 Ag
                12)
            </p>
            <p><a href="BibliaUnidadMonolitica.html">146-La Biblia es una unidad doctrinal monolítica</a>. (30 Sp 12)
            </p>
            <p><a href="MujeresActividades.html">147-Las mujeres no tenian "prohibidas" ciertas actividades, eran las
                circunstancias
                las que los prohibían.</a></p>
            <p><a href="NumerosRedondeaban.html"> 148-En la Biblia los números se redondeaban. 27 Nv 12</a></p>
            <p><a href="VeloMujerBiblica.html">149-La mujer y el velo en la época bíblica 26 Dc 12</a></p>
            <p><a href="CristoJamasAbolio.html">150-Cristo no abolió ninguna ley de Dios antes de su crucifixión 29 En
                13</a></p>
            <p><a href="DiscutirEsBiblico.html">151-Discutir nuestras doctrinas está bíblicamente autorizado 27 Fb
                13</a>
            </p>
            <p></p>
            <p></p>
            <p><strong><a href="index.astro">Volver a la primera pagina</a></strong></p>
        </article>
    </section>
</Layout>