---
import Layout from "../layout/Layout.astro";
---

<Layout title="In the Bible numbers were rounded off">
    <section>
        <p></p>
        <p></p>
        <p>Numbers were rounded off</p>
        <p> Nowadays<strong>,</strong> our culture obliges us to be precise<strong>.</strong> If several friends are
            going to
            take a flight<strong>,</strong> they have to be there at 4<strong>:</strong>20 P<strong>.</strong>
            M<strong>..</strong> In past centuries it was not like this<strong>,</strong> if several friends got
            together to
            take a trip on horseback<strong>,</strong> they had to be at the starting point either mid-morning or after
            lunch<strong>.</strong></p>
        <p> With the same reason<strong>,</strong> when a census is done today<strong>,</strong> numbers are
            exact<strong>,</strong> but the custom in that time was to round out numbers<strong>.</strong> For
            example<strong>,</strong> if they counted 3<strong>,</strong>218 persons<strong>,</strong> they wrote
            3<strong>,</strong>200 and if 3<strong>,</strong>288 were counted<strong>,</strong> it was
            3<strong>,</strong>300<strong>.</strong></p>
        <p> In the following passage<strong>,</strong> we see proof of this<strong>.</strong> In Numbers
            3<strong>:</strong>22
            it says that the descendants of Gerson were 7<strong>,</strong>500<strong>.</strong> In 28<strong>,</strong>
            it says
            that the ones from Coath were 8<strong>,</strong>600<strong>;</strong> and in 34 it says that the ones from
            Merari
            were 6<strong>,</strong>200<strong>.</strong> It is too coincidental that all three would end in two
            zeros<strong>.</strong> It is a possibility of three hundred to one that they would all end in
            zeros<strong>.</strong> Let's see<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>Those that were numbered of them<strong>,</strong> according to the number of all the males<strong>,</strong>
            from a month old and upward<strong>,</strong> even those that were numbered of them were seven thousand and
            five
            hundred<strong>."</strong> (Numbers 3<strong>:</strong>22)</p>
        <p></p>
        <p><strong>"</strong>In the number of all the males<strong>,</strong> from a month old and
            upward<strong>,</strong> were
            eight thousand and six hundred<strong>,</strong> keeping the charge of the sanctuary<strong>."</strong>
            (Numbers
            3<strong>:</strong>28)</p>
        <p></p>
        <p><strong>"</strong>And those that were numbered of them<strong>,</strong> according to the number of all the
            males<strong>,</strong> from a month old and upward<strong>,</strong> were six thousand and two
            hundred<strong>."</strong></p>
        <p> (Numbers 3<strong>:</strong>34)</p>
        <p></p>
        <p><strong>"</strong>All that were numbered of the Levites<strong>,</strong> which Moses and Aaron numbered at
            the
            commandment of the LORD<strong>,</strong> throughout their families<strong>,</strong> all the males from a
            month old
            and upward<strong>,</strong> were twenty and two thousand<strong>."</strong> (Numbers 3<strong>:</strong>39)
        </p>
        <p></p>
        <p> It is not only this that I just said what shows that this was the custom<strong>,</strong> but in verse
            39<strong>,</strong> where it says that all the ones that had been counted among the Levites were
            22<strong>,</strong>000<strong>.</strong> The sum of 7<strong>,</strong>500 + 8<strong>,</strong>600 +
            6<strong>,</strong>200 = 22<strong>,</strong>300 and not 22<strong>,</strong>000<strong>.</strong> This
            indicates to
            us that the amount was rounded off by subtracting the 300<strong>.</strong> When there were other
            cases<strong>,</strong> however that have the need to better exactitude due to the
            circumstances<strong>,</strong>
            the count was exact as in the case of Ezra and Nehemiah<strong>,</strong> when they made a census of the
            nation that
            returned from Babylon<strong>.</strong></p>
        <p><a href="biblenotes.html"><strong>Back to the Index</strong></a></p>
        <p><a href="biblenotes.html"> </a></p>

    </section>
</Layout>
    