---
import Layout from "../layout/Layout.astro";
---

<Layout title="En la Biblia los números se redondeaban">
  <section>
<p><strong>En la Biblia los números se redondeaban</strong></p>
<p> Hoy en día nuestras actividades nos obligan a ser precisos<strong>.</strong> Si varios amigos van a tomar un
  avión<strong>,</strong> tienen que estar allí a 4<strong>:</strong>20 P<strong>.</strong>M<strong>.</strong> En siglos
  pasados no era así<strong>,</strong> si varios amigos se reunían para dar un viaje a caballo<strong>,</strong> tenían
  que estar en el punto de partida a media mañana<strong>,</strong> o después de almuerzo<strong>.</strong> Por la misma
  razón hoy en día cuando se hace un censo<strong>,</strong> se dan números exactos<strong>,</strong> pero la costumbre
  de aquella época era redondear los números<strong>.</strong> Por ejemplo<strong>,</strong> si se contaban
  3<strong>,</strong>218 personas<strong>,</strong> se ponía 3<strong>,</strong>200<strong>;</strong> y si se contaban 3<strong>,</strong>288
  se decía 3<strong>,</strong>300<strong>.</strong></p> En el siguiente pasaje tenemos una prueba de ello. En Nm 3:22 se
dice que los descendientes de Gersón eran 7,500. En el 28 se dice que los de Coath eran 8,600; y en el 34 se dice que
los de Merari eran 6,200. Es mucha casualidad que los tres vayan a terminar en dos ceros. Son trescientas contra una las
posibilidades de que todos terminen en dos ceros. Veamos.
<p></p><strong> "</strong><i>Los contados de ellos conforme a la cuenta de todos los varones de un mes
  arriba<strong>,</strong> los contados de ellos<strong>,</strong> <strong>siete mil y
    quinientos</strong></i><strong>."</strong> (Nm 3<strong>:</strong>22) <strong> "</strong><i>Por la cuenta de todos
  los varones de un mes arriba<strong>,</strong> eran <strong>ocho mil y seiscientos,</strong> que tenían la guarda del
  santuario</i><strong>."</strong> (Nm 3<strong>:</strong>28) <strong> "</strong><i>Y los contados de ellos conforme a
  la cuenta de todos los varones de un mes arriba<strong>,</strong> fueron <strong>seis mil y
    doscientos</strong></i><strong>."</strong> (Nm 3<strong>:</strong>34) <strong> "</strong><i>Todos los contados de
  los levitas<strong>,</strong> que Moisés y Aarón conforme a la palabra de Jehová contaron por sus
  familias<strong>,</strong> todos los varones de un mes arriba<strong>,</strong> <strong>fueron veinte y dos
    mil</strong></i><strong>."</strong> (Nm 3<strong>:</strong>39)
<p> Pero no es solamente esto que acabo de decir lo que demuestra que esa era la costumbre<strong>,</strong> sino el
  versículo 39 donde se dice que todos los contados de los levitas fueron 22<strong>,</strong>000<strong>.</strong> La
  suma de 7<strong>,</strong>500 + 8<strong>,</strong>600 + 6<strong>,</strong>200 = 22300 y no
  22<strong>,</strong>000<strong>.</strong> Eso nos indica que redondearon la cifra quitándole 300<strong>.</strong> Hay
  otros casos sin embargo<strong>,</strong> en que habiendo necesidad de mayor exactitud debido a las
  circunstancias<strong>,</strong> las cuentas se hacían exactas<strong>,</strong> como en el caso de Esdras y Nehemías
  cuando hicieron el censo del pueblo que regresaba de Babilonia<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al Índice</a></strong></p>
<p></p>

  </section>
</Layout>
    