---
import Layout from "../layout/Layout.astro";
---

<Layout title="What are the obstacles in reaching blessings of God">
    <section>
        <p><strong>What are the obstacles in reaching blessings of God</strong></p>
        <p><strong>Sin separates us from blessings</strong></p>
        <p>As we will clearly see in the following verse which I present<strong>,</strong> sin places an obstruction for
            our
            blessings and the good things which God wishes to pour upon us<strong>.</strong> Therefore<strong>,</strong>
            it is
            not to be taken lightly to postpone to the future to stop sinning<strong>.</strong> <strong>In addition,
                that would
                be a lack of respect towards God,</strong> and also it is something which harms us<strong>,</strong>
            personally
            inasmuch as towards society<strong>.</strong> The majority of the damage we cause ourselves is a result of
            our lack
            of obedience to the commandments of God<strong>.</strong></p>
        <p></p>
        <p><strong>"<i>Your iniquities</i></strong> <i>have turned away these things<strong>,</strong> and <strong>your
            sins</strong> have withholden good things from you</i><strong>."</strong> (Jer 5<strong>:</strong>25)</p>
        <p> There are times in which God punishes us<strong>,</strong> because we deserve punishment as a result of
            something we
            have done<strong>,</strong> and He is no respecter of persons<strong>,</strong> as Acts 10<strong>:</strong>34
            declares<strong>.</strong> Other times<strong>,</strong> the harm we experience is for the sake of learning
            from
            that experience<strong>.</strong> However<strong>,</strong> at other times<strong>,</strong> they are a
            result of
            our doing<strong>,</strong> without the desire to punish us or the desire to teach us<strong>.</strong> We
            could
            learn something from said experience<strong>,</strong> but it was not it's purpose<strong>.</strong></p>
        <p><strong>Our life, in relation to the commandments and our misfortunes is much like the "Operator's Manual"
            which
            accompanies most apparatus and electronics we purchase.</strong></p>
        <p> If we follow the manufacturer's instructions<strong>,</strong> the apparatus will work to our
            benefit<strong>,</strong> if we do not<strong>,</strong> we will suffer the consequences<strong>.</strong>
        </p>
        <p> At times we think we know everything there is to know<strong>,</strong> but it is not so<strong>.</strong>
            God gives
            us commandments that many believe were geared towards those that lived <strong>"</strong>back
            then<strong>",</strong> or that were given to us for no reason<strong>;</strong> they are not obeyed and
            thus there
            are consequences<strong>.</strong> <strong>I personally had that experience with a car I owned.</strong></p>
        <p> I was using cheap oil in my car<strong>.</strong> The oil had good viscosity and since I know about
            physics<strong>,</strong> chemistry<strong>,</strong> etc<strong>.,</strong> I thought I was doing the right
            thing<strong>.</strong> I was with a friend who was a schooled mechanic and when he saw the cheap oil I was
            using in
            my car<strong>,</strong> he advised me to use an expensive brand of oil<strong>.</strong> Since I knew that
            the oil
            I was using had sufficient viscosity<strong>,</strong> I did not see the need to spend more money in better
            quality
            oil<strong>,</strong> thinking that I knew more because I had studied physics and
            chemistry<strong>,</strong>
            etc<strong>..</strong></p>
        <p> After three or four years<strong>,</strong> the engine in my car burned out and I came to my
            friend<strong>,</strong> and together we removed the old engine and installed a new one<strong>.</strong>
            When we
            finished<strong>,</strong> my friend said<strong>,</strong> <strong>"</strong>Let's see why this motor
            burned
            out<strong>."</strong> We opened it and upon removing the casing<strong>,</strong> we notice the tube which
            take in
            the oil contained a screen so that foreign bodies would not penetrate the engine<strong>.</strong> The
            screen was
            blocked by solid carbon and only three squares remained open for the aspiration of the oil<strong>.</strong>
            Not
            enough oil could enter through such a small opening when I accelerated the car and
            therefore<strong>,</strong> the
            engine burned out<strong>.</strong></p>
        <p> When my friend saw the tube<strong>,</strong> he said<strong>,</strong> <strong>"</strong>You should always
            use the
            most expensive oil you can afford in your car because more costly oils contain ingredients that dissolve
            carbon and
            prevent carbon from sticking to parts of the motor and that carbon is removed every time the oil is
            changed<strong>.</strong> If you use cheaper oil<strong>,</strong> the carbon sticks all over the engine as
            you see
            in this case<strong>."</strong></p>
        <p> At that moment<strong>,</strong> I remembered and replied<strong>,</strong> <strong>"</strong>You told me
            three or
            four years ago to use the best oil I could afford<strong>,</strong> but you did not tell me
            why<strong>,</strong>
            and therefore<strong>,</strong> I didn't listen<strong>.</strong> I thought I knew it all<strong>."</strong>
            <strong>God does not always tell us why we should obey a commandment,</strong> but if we do not obey
            it<strong>,</strong> in time<strong>,</strong> we will burn out some of the
            <strong>"</strong>motors<strong>"</strong> which run our life<strong>.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    