---
import Layout from "../layout/Layout.astro";
---

<Layout title="Ojo por ojo era para los jueces">
    <section>
        <p><strong>Eso de "ojo por ojo" era una guía para los jueces, pero los fariseos lo tergiversaron</strong></p>
        <p> Muchos de los que leen el Nuevo Testamento<strong>,</strong> cuando llegan a Mt 5<strong>:</strong>38
            entienden<strong>,</strong> de lo allí escrito<strong>,</strong> que en alguna ocasión Dios mandó en el
            Antiguo
            Testamento a odiar a nuestros semejantes y a cobrarles <strong>"</strong>ojo por ojo<strong>"</strong> todo
            lo que
            nos hagan<strong>.</strong> Pero que <strong>"</strong>ahora<strong>"</strong> Cristo desautorizaba lo dicho
            por
            Dios<strong>,</strong> y le enmendaba la plana al Padre<strong>.</strong>
            <strong>¡</strong>Absurdo<strong>!</strong></p>
        <p></p>
        <p><strong>"</strong><i>Oísteis que <strong>fue dicho a los antiguos:</strong> ojo por ojo y diente por
            diente</i><strong>."</strong> (Mt 5<strong>:</strong>38)</p>
        <p><strong>Lo primero en lo que deben fijarse es en que Cristo no dice que "Dios dijo"; sino que "fue dicho a
            los
            antiguos",</strong> sin decir quién fue el que lo dijo<strong>.</strong> Posiblemente el mandamiento que
            para guiar
            a los jueces Dios estableció<strong>,</strong> fue torcido por el pueblo para justificar sus odios
            personales<strong>,</strong> convirtiéndolo en un refrán popular<strong>.</strong></p>
        <p><strong>En ningún lugar del Antiguo Testamento Dios manda tal cosa.</strong> Lo que más se le parece es Lev
            24<strong>:</strong>15-20<strong>,</strong> Ex 21<strong>:</strong>24 y Dt
            19<strong>:</strong>21<strong>.</strong>
            En estos tres pasajes se les ordena <strong>a los jueces</strong> que a la hora de hacer
            justicia<strong>,</strong>
            (no para sus contiendas personales)<strong>,</strong> utilicen la norma de ojo por ojo<strong>,</strong> si
            no
            tienen ninguna ley divina al respecto<strong>.</strong></p>
        <p><strong>Si leemos el primer pasaje</strong> comenzando en el versículo 15 veremos que se está instruyendo
            sobre las
            condenas que deben imponerse por los diversos delitos<strong>:</strong> blasfemia<strong>,</strong>
            homicidio<strong>,</strong> daños y <strong>lesiones.</strong> Y al llegar a las lesiones es
            cuando<strong>,</strong> como generalizando<strong>,</strong> les dice <strong>"...</strong>rotura por
            rotura<strong>,</strong> ojo por ojo<strong>....",</strong> y así continúa hasta terminar el
            20<strong>.</strong>
        </p>
        <p></p>
        <p><strong>"</strong>15 <i>Y a los hijos de Israel hablarás<strong>,</strong> diciendo<strong>:</strong>
            Cualquiera que
            maldijere a su Dios<strong>,</strong> llevará su iniquidad<strong>.</strong></i> 16 <i>Y el que blasfemare
            el nombre
            de Jehová<strong>,</strong> ha de ser muerto<strong>;</strong> toda la congregación lo
            apedreará<strong>;</strong>
            así el extranjero como el natural<strong>,</strong> si blasfemare el Nombre<strong>,</strong> que
            muera<strong>.</strong></i> 17 <i>Asimismo el hombre que hiere de muerte a cualquiera
            persona<strong>,</strong> que
            sufra la muerte<strong>.</strong></i> 18 <i>Y el que hiere a algún animal ha de restituirlo animal por
            animal<strong>.</strong></i> 19 <strong>Y el que causare lesión en su prójimo, según hizo, así le sea
            hecho.</strong> 20 <strong>Rotura por rotura, ojo por ojo, diente por diente; según la lesión que habrá
            hecho a
            otro, tal se hará a él</strong><strong>."</strong> (Lev 24<strong>:</strong>15-20)</p>
        <p> Como vemos<strong>,</strong> aquí de lo que se habla es de una norma a seguir para los
            jueces<strong>;</strong> pero
            parece que los judíos tergiversaron aquello y comenzaron a justificarse en sus odios<strong>,</strong>
            alegando ese
            pasaje<strong>.</strong></p>
        <p><strong>El segundo pasaje</strong> que pudo dar origen a ese refrán popular también se refiere a lo que deben
            hacer
            los jueces<strong>.</strong> Veamos<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>22 <i>Si algunos riñeren<strong>,</strong> e hiriesen a mujer preñada<strong>,</strong> y
            ésta
            abortare<strong>,</strong> pero sin haber muerte<strong>,</strong> será penado conforme a lo que le
            impusiere el
            marido de la mujer y juzgaren los árbitros<strong>.</strong></i> 23 <strong>Mas si hubiere muerte, entonces
            pagarás
            vida por vida,</strong> 24 <strong>ojo por ojo</strong><strong>, diente por diente, mano por mano, pie por
            pie, 25
            quemadura por quemadura, herida por herida, golpe por golpe</strong><strong>."</strong> (Ex
            21<strong>:</strong>22-25)
        </p>
        <p> En el pasaje anterior vimos de nuevo que eso de <strong>"</strong>ojo por ojo<strong>"</strong> no se les
            dijo a los
            creyentes para que lo usaran en sus personales odios y pendencias<strong>,</strong> sino para que los jueces
            tuvieran una guía al actuar<strong>.</strong> Otro tanto veremos a continuación en Dt 19<strong>:</strong>21<strong>.</strong>
        </p>
        <p></p>
        <p><strong>"</strong>16 <strong>Cuando se levantare testigo falso</strong> <i>contra alguno<strong>,</strong>
            para
            testificar contra él rebelión<strong>,</strong></i> 17 <i>entonces los dos hombres litigantes se presentarán
            delante
            de Jehová<strong>,</strong> delante de los sacerdotes y jueces que fueren en aquellos días<strong>.</strong></i>
            18
            <strong>Y los jueces inquirirán bien,</strong> <i>y si pareciere ser aquél testigo falso<strong>,</strong>
                que
                testificó falsamente contra su hermano<strong>,</strong></i> 19 <strong>haréis a él como él pensó hacer
                a su
                hermano;</strong> <i>y quitarás el mal de en medio de ti<strong>.</strong></i> 20 <i>Y los que quedaren
                oirán<strong>,</strong> y temerán<strong>,</strong> y no volverán más a hacer una mala cosa como
                ésta<strong>,</strong> en medio de ti<strong>.</strong></i> 21 <strong>Y no perdonará tu ojo, vida por
                vida, ojo
                por ojo, diente por diente, mano por mano, pie por pie</strong><strong>."</strong> (Dt
            19<strong>:</strong>16-21)
        </p>
        <p> Como hemos visto en todos estos pasajes<strong>,</strong> cada vez que se menciona lo de <strong>"</strong>ojo
            por
            ojo<strong>",</strong> se refiere a cómo tienen que castigar los jueces a los delincuentes<strong>,</strong>
            no era
            una norma para atizar el odio personal<strong>.</strong> Cuando se le hacía daño a una
            persona<strong>,</strong>
            ésta tenía derecho a no acusar<strong>,</strong> a perdonar si así lo deseaba<strong>.</strong> Pero cuando
            esa
            misma persona era juez y alguien le traía su caso<strong>,</strong> como juez él tenía que actuar de acuerdo
            a la
            norma establecida en este pasaje<strong>:</strong> <strong>ojo por ojo.</strong></p>
        <p> No vamos a pensar que Cristo abolió los jueces<strong>,</strong> los juzgados y la policía<strong>,</strong>
            cuando
            dijo que eso de ojo por ojo<strong>,</strong> que decían los antiguos<strong>,</strong> no debía ser norma
            de
            conducta <strong>personal;</strong> nada más lejos de la realidad<strong>.</strong></p>
        <p> Si solamente leyéramos el Nuevo Testamento<strong>,</strong> nos creeríamos que eso que <strong>"</strong>fue
            dicho
            a los antiguos<strong>",</strong> era en realidad un mandamiento de Dios para el comportamiento de los
            creyentes<strong>.</strong> Sin embargo<strong>,</strong> si leemos también el Antiguo
            Testamento<strong>,</strong>
            aprendemos que eso era una norma para los jueces hacer justicia<strong>.</strong> <strong>Hay que leer toda
                la
                Biblia por igual,</strong> si no lo hacemos no sabremos interpretar bien las
            Escrituras<strong>.</strong>
            <strong>Por eso hay tantos disparates presentados como doctrinas cristianas.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    