---
import Layout from "../layout/Layout.astro";
---

<Layout title="Open a bar is easier than founding a church">
    <section>
<p><strong>HEAVENLY DYNAMIC</strong></p>
<p><strong>Who are those who become obstacles, and how we let them</strong></p>
<p> Christians don't have a simple battle against flesh and blood, or in other words, humans and their forces. Our true
    battle is against beings of another kind; beings that have the gloomy principality of certain influences that move
    throughout the earth; beings that have authority to influence, by seduction, over the men who govern this planet,
    and by them, in these governments, against us. Beings that tempt us constantly putting malignant ideas in our mind
    at times that we must reject.</p>
<p></p>
<p> "<i>For we wrestle not against flesh and blood, <strong>but against principalities, against powers, against the
    rulers of the darkness of this world, against spiritual wickedness in high places</strong></i>." (Eph 6:12)</p>
<p> Indeed, we not only battle against what we see, against the people who oppose or hurt us. In a different dimension
    than the one we find ourselves open to, live spiritual beings called angels; those who have faithfully followed God,
    just like those who rebelled against Him. Those who have rebelled against Him, in the Bible are called demons.</p>
<p> Those other rebellious beings (demons), attack us spiritually. They can't do any harm to God, but rejoice in doing
    harm to his creatures. Why would they (the demons) waist time on human beings that haven't been converted to the
    Lord or never will? One who doesn't belong to God and don't know whether he will convert later or not, they don't
    have to work as hard on, like the one who has already slipped out of their hands, <strong>like who, for representing
        God, would be a privilege to make them stumble or fall</strong>.</p>
<p> Having more tenacious opposition and large numbers of enemies is why a Christian needs to pray without ceasing, like
    what is said in I Tes 5:17. The Christian needs to expose every situation to God, to give him the right to intervene
    in the situation.</p>
<p><strong>If an unbeliever wanted to open a bar or a brothel,</strong> they won't find any difficulties other than
    those deriving from human law and order that society regulates in any given city and those that derive from human
    opposition; if anyone opposes.</p>
<p><strong>But if a Christian wants to open a church,</strong> he's going to encounter many difficulties from humans and
    demons. Not only will he have the difficulties that derive from the law or order who regulate certain things in
    society, but also the human opposition from those humans who don't like such things. With the particularity that the
    human opposition will be exacerbated by the agitation of souls that the spiritual enemies provoke in those who
    oppose. Not only in those who oppose but also in others that they wouldn't have been interested in opposing, but are
    now agitated in their spirits. They will find, get ready, opposition from other Christians whose jealousness,
    envies, interests, baseness, errors, etc., are used by the spiritual enemies to put them, inexplicably, red hot.</p>
<p> If those types of deeds were not from God, they wouldn't be able to overcome those difficulties. That's why we have
    to pray: to permit God to intervene in favor of that work. That's why we have to be sure, before undertaking, to
    know that it is a work of God. That's why we have to be patient; because some works that may seem from God aren't
    now, but maybe further along in time…. And we have to wait; because if you do it and you put in the effort, you will
    fail (II Cr 25:8). <strong>That's why we must obey all of God's commandments, to put us in tune with heavenly
        things, to synchronize ourselves, to coordinate with what is done in the heavenly sphere, were things are
        planned to perfection, but counting on us to obey the layout given by God.</strong> The more we apart from our
    presupposed deeds, the less it will apply in the preconceived plan in the heavenly sphere.</p>
<p><strong>Let's suppose God wanted us to live in a poor neighborhood</strong>, where there was a house we could buy,
    which was situated in a perfect place to use the gospel and influence the lives of people God surrounded you with,
    to help change their lives.</p>
<p> But on the other side, we desire a better house in a different location, where people won't be as receptive to the
    gospel. To God our desire to live better doesn't seem bad, but what he does know is that you don't meet the
    requisites needed to acquire credit for the better house, but you do for the other. Therefore, he will answer the
    prayer we put in front of Him, in regard to wanting to talk to people about the Gospel.</p>
<p><strong>If we do things like God orders us to in his commandments, that prayer of giving us a place to fruitfully
    preach the gospel, you will find an answer, but if we allow ourselves to be tempted, it will spoil. How?</strong>
</p>
<p> We like the second house, which is understandable; but when it comes time to answer questions on the credit
    application, we say a few lies "that aren't so important", with the objective set at making the bank think that the
    qualifications have been met and then… Boom! We leave with ours! They approved our credit! We can buy the second
    house!</p>
<p> We thank God for what we think is "a blessing" and we occupy our new home waiting for that old and continuous
    petition that God give us people to share the gospel with, so they believe. Time passes and our fruit is poor, lean.
    Then we share with our brothers in faith, the pronounce the same cliché as always: "it's a mystery, brother". If
    something bad happens in the neighborhood then we'll use the other cliché, more stupid than the other: "it's a test
    from God, brother".</p>
<p><strong>When God answers our prayers, it's adjusted to divine norms; if we separate ourselves from them, we separate
    ourselves from his plan and his blessing.</strong> The worse the breaking of the divine norms, the bigger the detour
    of the plans of God, and less spiritual fruit obtained.</p>
<p> Below we see a passage in which Paul tells a parable, which teaches us that doing what God demands is to do justice,
    it's like using camouflage to protect yourself from the enemy, and tell the truth, it's the shield that protects us
    in combat, etc.</p>
<p></p>
<p>"13 <i>Wherefore take unto you the whole armour of God, that ye may be able to withstand in the evil day, and having
    done all, to stand.</i> 14 <i>Stand therefore, having <strong>your loins girt about with truth, and having on the
    breastplate of righteousness</strong></i>" (Eph 6:13-14)</p>
<p><strong>Everything is very clear: what you cannot reach with the clean methods of God, don't reach for, it's not in
    his plans; that is in "someone else's" plans</strong>. It's not in your best interests, even if it seems that way.
    May be the difference isn't catastrophic, but it won't turn out in your favor.</p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    