---
import Layout from "../layout/Layout.astro";
---

<Layout title="Os 1:2 Oseas no fornicó">
    <section>
        <p><strong>Oseas no fornicó ni adulteró</strong></p>
        <p>Os 1: 2 Cuando Dios mandó a Oseas a que tomara mujer fornicaria no lo estaba mandando a que fornicara con esa
            mujer;
            lo que le estaba diciendo era que la tuviera en su casa como si fuera su esposa, no que necesariamente la
            usara como
            mujer. Simplemente, que la tuviera y la mantuviera a ella y a sus hijos para poder hacer un símil de la
            traición de
            Israel a Dios.</p>
        <p> "<i>El principio de la palabra de Jehová con Oseas. Y dijo Jehová a Oseas: Ve, tómate</i> <strong>una mujer
            fornicaria, e hijos de fornicaciones:</strong> <i>porque la tierra se dará a fornicar apartándose de
            Jehová.</i>" ( Os
            1: 2 )</p>
        <p> Algo que ayuda a probar esto, es el hecho de que en este mismo versículo Dios no sólo manda a que tome una
            mujer
            fornicaria, sino también hijos producto de las fornicaciones ya cometidas por su entonces futura esposa.
            <strong>Si
                eran hijos de fornicaciones, no eran hijos de Oseas</strong>. Claro que esto se refiere a los hijos que
            ya ella
            traía; pero es el caso, que los hijos que esta mujer tuvo después de estar como esposa legal de Oseas,
            fueron también
            hijos de fornicaciones, <strong>Oseas no era su padre biológico, no eran hijos de él por naturaleza, sino
                por
                convención</strong>, porque él, legalmente, era el esposo de ella. Eso se ve claramente en 2:2 donde
            Oseas dice que
            él no es su marido, <strong>señal que no se acostó con ella.</strong> También en 2: 4, donde Oseas declara
            que esos
            muchachos son hijos de fornicaciones, no hijos de él. <strong>Oseas no tuvo contacto sexual con esa mujer.
                Si lo
                hubiera tenido no hubiera podido asegurar que Lo-Ammi y Lo-Ruhama, no era hijos de él, como asegura en
                2:4.</strong>
        </p>
        <p> "2 <i>Pleitead con vuestra madre, pleitead; porque <strong>ella no es mi mujer, ni yo su</strong></i>
            <strong>
                marido;</strong> <i>quite pues sus fornicaciones de su rostro, y sus adulterios de entre sus</i> <i>
                pechos;</i> 3 <i>No
                sea que yo la despoje desnuda, y la haga tornar como el día en que</i> <i> nació, y la ponga como un
                desierto, y la
                deje como tierra seca, y la mate de sed.</i> <i> </i> 4 <i>Ni tendré misericordia de <strong>sus hijos:
                porque son
                hijos de fornicaciones</strong></i>." (Oseas 2: 2- 4 )</p>
        <p> Todo esto se reafirma al analizar que aquello Oseas lo hacía para hacer un símil viviente, para imitar la
            forma en
            que los israelitas se portaban respecto a Dios. <strong>Por eso, tanto los israelitas respecto a Dios como
                Lo-Ammi y
                Lo-Ruhama respecto a Oseas, tenían que ser hijos ajenos.</strong> Si los "hijos" de Oseas no fueran
            ajenos, <strong>si
                Oseas fuera su padre biológico, el símil no era correcto</strong>, el símil no se habría realizado. Para
            que este
            símil fuera válido tenía que existir paralelismo entre la no paternidad de Dios respecto Israel y Judá, y la
            no
            paternidad de Oseas respecto a Lo-Ammi y Lo-Ruhama, que se suponían hijos de él, porque su esposa los tuvo
            estando
            casada con Oseas. <strong>Si el profeta se hubiera acostado con esa mujer, él no hubiera podido saber si
                Lo-Ruhama y
                Lo-Ammi eran hijos de él o hijos de fornicaciones</strong>; y por lo tanto, no la hubiera podido acusar
            de
            fornicaria ni hubiera podido decir que esos no eran hijos suyos ni hubiera podido haber parábola o símil.
            Haberla
            acusado de adúltera o fornicaria si hubiera tenido relaciones sexuales con él, habría sido calumniarla. El
            mismo
            nombre simbólico que Oseas le da al niño, Lo-Ammi, que significaba "no pueblo mío", nos hace ver que no era
            su hijo (
            1: 9 ). Con más claridad aún se ve en 3:1-3, en que en un segundo matrimonio simbólico, el mismo Oseas
            explica cómo
            iban a ser las relaciones entre él y la mujer que en ese momento tomaba por esposa.</p>
        <p> "1<i>Y díjome otra vez Jehová: Ve, ama una mujer amada de su compañero, aunque</i> <i> adúltera, como el
            amor de
            Jehová para con los hijos de Israel; los cuales miran a</i> <i> dioses ajenos, y aman frascos de vino.</i> 2
            <i>Comprela
                entonces para mí por quince</i> <i> dineros de plata, y un homer y medio de cebada;</i> 3 <i>Y díjele:
                Tú estarás por
                mía</i> <i> muchos días: no fornicarás, ni tomarás otro varón; <strong>ni tampoco yo vendré a
                ti</strong></i><strong>.</strong>" ( Os 3:1-3 )</p>
        <p> Es lógico pensar que el procedimiento utilizado en este segundo matrimonio, haya sido idéntico al del
            primero. En el
            versículo 2 se explica cómo él toma posesión de aquella mujer como cosa propia, y en el 3 expresa
            diáfanamente en qué
            forma Oseas cumpliría con el símil: <strong>"tú estarás por mía...". "..ni tampoco yo vendré a ti"</strong>.
            En este
            segundo símil se aclara mejor todo; la mujer iba a ser de su absoluta propiedad, pero <strong>él no tendría
                relaciones
                maritales con ella.</strong> Es común en la Biblia hallar cómo un pasaje posterior da mayor claridad a
            uno que no
            entendimos claramente. Eso mismo ocurre en estos dos pasajes, el segundo aclara al primero. <strong>Oseas,
                ni fornicó
                en el primer caso ni adulteró en el segundo.</strong> No es lógico pensar que Dios haya mandado a un
            profeta a
            fornicar y adulterar. Cuando en Ezq 4:12-15 Dios manda al profeta a hacer un símil, le concede a éste que
            cambie a
            estiércol de bueyes en lugar de estiércol humano. ¿Por qué en una cosa de mucho mayor importancia no iba
            Dios a
            conceder una sustitución aceptable para la parábola, tratando de hacer algo peor aún que lo que se le
            proponía a
            Ezequiel?. No tome nadie oportunidad en el caso de Oseas, torciéndolo, para justificar sus fornicaciones
            voluntarias o
            su falta de energía en rechazar la concupiscencia que le esclaviza para mantenerse como marido consentidor.
            <strong>Si
                Dios no tienta a nadie, mucho menos le va a ordenar alguien que peque.</strong> En Stg 1: 13-14 vemos
            bien
            claramente esta doctrina. No es lógico pensar que Dios le ordene a su siervo hacer algo que Él ha prohibido
            por
            considerarlo pecado.</p>
        <p> "13 <i>Cuando alguno es tentado, no diga que es tentado de Dios; porque <strong>Dios no</strong></i>
            <strong>puede
                ser tentado de los malos, ni Él tienta a alguno;</strong>14 <i>sino que cada uno es tentado, cuando de
                su propia
                concupiscencia es atraído, y cebado</i>." ( Stg 1:13-14 )</p>
        <p> Se llama "tentación" a la acción de ponerle en la mente a una persona la idea de que cometa un pecado. Es
            lógico
            pensar que <strong>si Dios no tienta al humano, mucho menos le va a ordenar que peque.</strong> Si no está
            en la
            naturaleza de Dios el ponerle al humano en la mente el cometer un pecado, mucho menos va Él a ordenarle que
            lo cometa.
            Ese es el caso de Oseas. ¿Cree alguno que Dios ordenaría a un cristiano que adore una imagen de Buda o una
            imagen del
            Diablo? ¿Cree alguien que Dios va a ordenar a un cristiano que asesine y robe a una ancianita para que le dé
            el dinero
            a la iglesia; o que le va a ordenar que calumnie a la mujer de su mejor amigo diciendo que la vio acostada
            con su
            jefe? Si ustedes no aceptarían que alguien les dijera que Dios les había ordenado tales cosas, ¿por qué van
            a aceptar
            que alguien les diga que Dios ordenó a Oseas que fornicara y adulterara? Es bueno explicar este pasaje a los
            hermanos
            para que no tengan una torcida interpretación de él; y mucho menos una torcida concepción del carácter de
            Dios. </p>
        <p><a href="NotasBiblicas.html">Volver al indice</a></p>

    </section>
</Layout>
    