
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Pablo dice que no basta con oír la ley, que hay que cumplirla</title>
</head>
<body>
<p><strong>Pablo dice que no basta con oír la ley, que hay que cumplirla</strong></p>
<p><strong>¿</strong>Por qué algunos cristianos le tienen tanto <strong>"</strong>asco<strong>"</strong> a la Ley de
    Dios<strong>?</strong> Esos hermanos proceden como si creyeran que la Ley de Dios la inventó
    Satanás<strong>.</strong> En este versículo el mismo San Pablo<strong>,</strong> que según algunos es el campeón de
    los <strong>"</strong>odiadores<strong>"</strong> de la ley<strong>,</strong> asegura<strong>,</strong> lo contrario
    de lo que ellos suponen<strong>.</strong> Dice él que no son los simples oidores de la ley<strong>,</strong>
    <strong>sino los hacedores de ella, los que actúan correctamente.</strong> La ley que Pablo consideraba obsoleta es
    la ley ritual<strong>,</strong> no las leyes del comportamiento humano<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque <strong>no los oidores de la ley son justos</strong> para con Dios<strong>,</strong>
    <strong>mas los hacedores de la ley serán justificados</strong></i><strong>."</strong> (Ro 2<strong>:</strong>13)
</p>
<p> Pablo está diciendo aquí que hay que cumplir con la Ley de Dios para el comportamiento humano<strong>,</strong> que
    hay que guiar nuestro comportamiento por lo que nos indica la Ley de Dios<strong>.</strong></p>
<p><strong>¿Quiere decir eso que la salvación viene por el finalizar una vida después de haber estado siempre cumpliendo
    la ley sin fallar?</strong> No<strong>,</strong> nadie puede lograr eso<strong>;</strong> por eso vino el
    Señor<strong>.</strong> Solamente Jesús lo logró<strong>.</strong> Y nosotros nos salvamos gracias a que él lo hizo
    y luego se sacrificó por los que no lo pudimos hacer<strong>.</strong> <strong>Pero tampoco nadie se salva diciendo
        que el cree en Jesús, que él está bajo la gracia, y lanzándose a descumplir la ley consciente, voluntaria y
        premeditadamente.</strong></p>
<p> El cristiano que <strong>sinceramente</strong> cree que algo estatuido por Dios no hay que
    cumplirlo<strong>,</strong> va a sufrir las consecuencias locales y temporales de no obedecer a
    Dios<strong>,</strong> pero no deja de ser salvo<strong>;</strong> porque su pecado es
    inconsciente<strong>.</strong> Si él supiera que se debe cumplir<strong>,</strong> lo haría<strong>,</strong> y se
    arrepentiría de no haberlo cumplido antes<strong>.</strong></p>
<p><strong>El cristiano que por culpa de circunstancias, presiones, tentaciones y debilidades, deja de cumplir</strong>
    lo estatuido por Dios<strong>,</strong> a pesar de que estaba consciente de que debía cumplirlo<strong>,</strong>
    sufre las consecuencias locales y temporales de su pecado<strong>. Pero si se arrepiente sinceramente</strong> de su
    debilidad ante las circunstancias y presiones<strong>,</strong> o lucha contra la tentación que lo llevó a
    pecar<strong>,</strong> sin acomodarse a ella<strong>,</strong> arrepentido de haberse dejado
    vencer<strong>,</strong> tampoco deja de ser salvo<strong>;</strong> porque no lo hizo
    voluntariamente<strong>,</strong> sino bajo presión humana o demoníaca<strong>.</strong> Buen ejemplo es la negación
    de Pedro<strong>.</strong></p>
<p><strong>El cristiano que sorprendido por el pecado cae en él,</strong> no deja de sufrir las consecuencias locales y
    temporales de su pecado<strong>,</strong> pero <strong>si se arrepiente sinceramente</strong> no deja de
    salvarse<strong>,</strong> porque no premeditó su pecado<strong>.</strong></p>
<p><strong>Todo esto es cierto;</strong> pero de ahí a asegurar que lo estatuido por Dios no hay que
    cumplirlo<strong>,</strong> porque estamos bajo la gracia y que podemos descumplir lo que nos
    plazca<strong>,</strong> <strong>hay un abismo; y ese abismo tiene un nombre: procuremos no caer en él.</strong></p>
<p><a href="NotasBiblicas.html"><strong>Volver</strong> <strong>al índice</strong></a></p>
</body>
</html>