---
import Layout from "../layout/Layout.astro";
---

<Layout title="Pablo parece decirnos que él había sido irreprensible">
    <section>
<p><strong>Pablo parece decirnos que él había sido irreprensible en lo referente a la Ley de Dios, lo cual no es
    cierto</strong></p>
<p> Hay muchos cristianos que por no interpretar correctamente lo dicho por Pablo en Fil
    3<strong>:</strong>4-6<strong>,</strong> creen que él era un hombre perfecto antes de ser
    cristiano<strong>.</strong> Esta es una de esas cosas en las que los hermanos pueden comprobar la dificultosa manera
    de hablar del Apóstol de los Gentiles<strong>.</strong> Cuando lo que Pablo dice parece darse de punta con lo que
    dice el resto de la Biblia<strong>,</strong> hay que buscarle la lógica<strong>,</strong> y no creer sin
    análisis<strong>,</strong> y a pie juntilla<strong>,</strong> lo que él diga<strong>.</strong> En Filipenses
    3<strong>:</strong>4-6 San Pablo dice algo que <strong>no puede ser cierto:</strong> que él era
    irreprensible<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Aunque yo tengo también de qué confiar en la carne<strong>.</strong> Si alguno parece que tiene
    de qué confiar en la carne<strong>,</strong> <strong>yo más.</strong> Circuncidado al octavo día<strong>,</strong>
    del linaje de Israel<strong>,</strong> de la tribu de Benjamín<strong>,</strong> hebreo de hebreos<strong>;</strong>
    cuanto a la ley<strong>,</strong> fariseo<strong>;</strong> cuanto al celo<strong>,</strong> <strong>perseguidor de
        la iglesia; cuanto a la justicia que es en la ley, irreprensible</strong></i><strong>."</strong> (Fil
    3<strong>:</strong>4-6)</p>
<p> Si vamos a interpretar sin analizar lo que Pablo dice<strong>,</strong> podríamos llegar a la falsa conclusión de
    que Pablo era un fiel cumplidor de toda la Ley de Dios<strong>,</strong> y por ello era
    irreprensible<strong>.</strong> Esto nos sucedería por no darnos cuenta de que lo dicho aquí por Pablo se da de
    punta con lo que dice la Biblia en otros pasajes<strong>.</strong> La Biblia dice que no ha habido nadie
    justo<strong>,</strong> por lo tanto<strong>,</strong> San Pablo no puede haber sido el único que fue
    irreprensible<strong>.</strong> <strong>De aquí hay que deducir una de dos, o San Pablo está diciendo mentira, o hay
        que buscar qué es lo que él quiere decir con la palabra "ley".</strong></p>
<p> Él dice que cuanto a la justicia que era en la ley<strong>,</strong> él era <strong>irreprensible.</strong>
    Evidentemente<strong>,</strong> Pablo no iba a decir mentira<strong>,</strong> por lo tanto<strong>,</strong> él
    está hablando de la ley ritual<strong>,</strong> en la que él era irreprensible<strong>,</strong> porque siendo
    fariseo se esforzaba por cumplir con todos los ritos<strong>,</strong> tradiciones y ceremonias<strong>,</strong>
    además de dar el diezmo de la ruda<strong>,</strong> el eneldo<strong>,</strong> el comino<strong>,</strong> la
    menta<strong>,</strong> etc<strong>..</strong></p>
<p> Basta razonar someramente<strong>,</strong> para darnos cuenta de que Pablo no puede estar hablando de las leyes de
    Dios respecto al comportamiento humano<strong>,</strong> puesto que él confiesa en ese mismo
    pasaje<strong>,</strong> que era un perseguidor de la iglesia<strong>,</strong> como casi todos los fariseos<strong>.</strong>
    Ellos <strong>asesinaban</strong> sin previo juicio<strong>,</strong> o con juicios amañados<strong>,</strong> a los
    cristianos<strong>,</strong> <strong>y eso no es cumplir la Ley de Dios.</strong> Ellos <strong>ponían testigos
        falsos,</strong> como vemos en Hch 6<strong>:</strong>13-14 en el caso de Esteban<strong>,</strong> y eso es en
    contra de la Ley de Dios para el comportamiento humano<strong>.</strong></p>
<p> El mismo Pablo confiesa en Hch 26<strong>:</strong>10-11 que él <strong>forzaba a blasfemar</strong> a algunos de
    los prisioneros<strong>.</strong> Un hombre que procedía así no podía ser un fiel cumplidor de las leyes de Dios
    para el comportamiento humano<strong>,</strong> sino <strong>solamente un fiel cumplidor de la ley ritual.</strong>
    Por eso<strong>,</strong> cuando Pablo habla<strong>,</strong> y en su hablar contradice lo que el resto de la
    Biblia dice<strong>,</strong> hay que analizar lo dicho por él<strong>.</strong> Ese mismo problema es el de los
    hermanos que mal-entienden a Pablo<strong>,</strong> achacándole la abolición de la Ley de Dios para el
    comportamiento humano<strong>.</strong></p>
<p></p>
<p><strong>"</strong>13 <i>Y <strong>pusieron testigos falsos,</strong> que dijesen<strong>:</strong> Este hombre no
    cesa de hablar palabras blasfemas contra este lugar santo y la ley<strong>.</strong></i> 14 <i>Porque le hemos oído
    decir<strong>,</strong> que Jesús de Nazaret destruirá este lugar<strong>,</strong> y mudará las ordenanzas que nos
    dio Moisés<strong>.</strong></i><strong>"</strong> (Hch 6<strong>:</strong>13-14)</p>
<p></p>
<p><strong>"</strong>10 <i>Lo cual también hice en Jerusalem<strong>,</strong> y <strong>yo encerré en cárceles a muchos
    de los santos,</strong> recibida potestad de los príncipes de los sacerdotes<strong>;</strong> y <strong>cuando eran
    matados, yo di mi voto.</strong></i> 11 <i>Y muchas veces<strong>,</strong> castigándolos por todas las
    sinagogas<strong>,</strong> <strong>los forcé a blasfemar;</strong> y enfurecido sobremanera contra
    ellos<strong>,</strong> los perseguí hasta en las ciudades extrañas</i><strong>."</strong></p>
<p> (Hch 26<strong>:</strong>10-11)</p>
<p></p>
<p><strong>"</strong><i>Palabra fiel y digna de ser recibida de todos<strong>,</strong> que Cristo Jesús vino al mundo
    para <strong>salvar a los pecadores, de los cuales yo soy el primero</strong></i><strong>."</strong> (I Tim
    1<strong>:</strong>15)</p>
<p> En este último pasaje<strong>,</strong> es el mismo Pablo el que confiesa que él es el primer
    pecador<strong>;</strong> por lo tanto<strong>,</strong> <strong>cuando él dijo que en la ley él era irreprensible,
        no podía estarse refiriendo a la Ley de Dios para el comportamiento humano, sino a la ley ritual.</strong> No
    solamente deducimos que Pablo no puede estar hablando de la ley de comportamiento<strong>,</strong> sino que es él
    mismo el que confiesa que <strong>de lo que él era perfecto cumplidor, era de las tradiciones.</strong>
    Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong>13 <i>Porque ya habéis oído acerca de mi conducta otro tiempo en el judaísmo<strong>,</strong>
    <strong>que perseguía sobremanera la Iglesia de Dios, y la destruía;</strong></i> 14 <i>y aprovechaba en el judaísmo
    sobre muchos de mis iguales en mi nación<strong>,</strong> <strong>siendo muy más celador que todos de las
        tradiciones de mis padres</strong></i><strong>."</strong> (Ga 1<strong>:</strong>13-14)</p>
<p> Como vemos claramente en este pasaje<strong>,</strong> Pablo perseguía la Iglesia de Dios y la
    destruía<strong>,</strong> <strong>esas no son cualidades de un hombre que es irreprensible respecto a las leyes de
        Dios para el comportamiento humano.</strong></p>
<p> Pablo aclara que él era más fanático que todos de las tradiciones<strong>.</strong> A esas tradiciones y a esas
    leyes rituales<strong>,</strong> es a lo que se refiere Pablo cuando dice que la ley está obsoleta<strong>,</strong>
    no se refiere a las leyes de comportamiento<strong>.</strong> Hay que tener mucho cuidado cuando entendemos que
    Pablo está diciendo algo que no está de acuerdo con el resto de la Biblia<strong>.</strong></p>
<p><a href="NotasBiblicas.html"><strong>Volver</strong> <strong>al índice</strong></a></p>

    </section>
</Layout>
    