---
import Layout from "../layout/Layout.astro";
---

<Layout title="El paleontólogo y el esqueleto">
    <section>
<p><strong>El paleontólogo y el esqueleto</strong></p>
<p> El profesor de paleontología de cierta universidad decidió dar una clase práctica a sus alumnos en el mismo sitio
    donde ya él tenía parcialmente desenterrado el esqueleto de un pequeño dinosaurio. Muchos estudiantes de pelo largo
    y muchas alumnas deseosas de aprender, le estaban prestando una indivisible atención al profesor, a medida que él
    explicaba las técnicas seguidas en su excavación.</p>
<p> De pronto uno de los estudiantes alzó la voz y dijo: "Profesor, ese no es un verdadero esqueleto. Eso es simplemente
    una formación calcárea debida a la erosión del agua sobre la piedra a través de millones y millones de años."
    Algunos estudiantes exclamaron: "¡Eso no puede ser!", y otros dijeron "¡Tal vez tiene razón!".</p>
<p> El profesor, que no podía disimular su indignación ante lo que consideraba un atrevimiento y una estupidez de su
    estudiante, le respondió: "Estos huesos, aunque no han sido 100 % bien preservados, tienen muchos detalles y
    características que nos hacen ver que no pueden haber sido el producto de la casualidad y la erosión. Observe este
    fémur; su epífisis muestra una superficie perfectamente formada para constituir una coyuntura con el próximo hueso.
    Las apófisis y otros puntos de inserción para los tendones y músculos nos hace ver que hubo carne. Los canales de
    nutrición del hueso, que usted mismo puede observar, nos hablan de algo organizado, no de la casualidad de la
    erosión a través del tiempo. Lo que aquí observamos es algo demasiado complejo y bien organizado para que haya sido
    formado por casualidad debido a la erosión del agua. Pensar así es pura estupidez."</p>
<p> El estudiante que había arrojado dudas sobre si los huesos eran producto de la erosión o no, pidió permiso para
    responder, y dijo: "Profesor, hace un par de semanas usted nos dijo que no solamente los esqueletos, sino el cuerpo
    entero de los dinosaurios, que es mucho más complicado que su esqueleto, se había formado por casualidad, a través
    de millones y millones de años, gracias a la evolución. Hoy yo enarbolo el mismo argumento que usted me enseñó
    entonces, y usted lo rechaza y lo califica de pura estupidez. El animal entero tiene más detalles y características
    que los que tiene ese esqueleto, y es mucho más complejo que estos huesos secos; sin embargo, usted me quiere hacer
    creer a mí y a todos nosotros que los dinosaurios se formaron por casualidad, a la suerte, a través de millones y
    millones de años. Según usted, los huesos que nos está mostrando no pudieron ser formados por casualidad, pero el
    animal entero, con ojos, cerebro, corazón, arterias, estómago, etc., sí pudo haberse formado por casualidad. Yo no
    veo lógica ni ciencia en todo esto, sino solamente dogmatismo cientificoide."</p>
<p> "El problema - dijo el profesor - es que usted es un fanático religioso que no puede entender la ciencia."</p>
<p> "No, profesor - replicó el estudiante - yo estoy aplicando los mismos argumentos y raciocinio que usted usó para
    explicar el origen de los animales. Si esos argumentos no son científicos, o si son pura estupidez, no es mi culpa,
    yo los aprendí en su clase de paleontología."</p>
<p> Esa es la pura verdad. Los mismos argumentos y "razonamientos" que algunos usan para negar la creación de Dios, son
    buenos para negar sus propias hipótesis evolucionistas sobre el origen de la vida. En estos casos se puede aplicar
    lo que dijo Nuestro Señor Jesucristo:</p>
<p> "<i>Por tus palabras serás justificado y por tus palabras serás condenado</i>"</p>
<p> ( Mt 12: 37 )</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>

    </section>
</Layout>
    