---
import Layout from "../layout/Layout.astro";
---

<Layout title="Las pasiones nublan el raciocinio">
    <section>
<p><strong>Las pasiones nublan el raciocinio</strong></p>
<p> El odio<strong>,</strong> la codicia<strong>,</strong> la envidia<strong>,</strong> la lujuria<strong>,</strong> la
    ira<strong>,</strong> la soberbia<strong>,</strong> etc<strong>.,</strong> son sentimientos negativos que pueden
    fácilmente convertirse en pasiones<strong>.</strong> En general<strong>,</strong> las pasiones nublan la
    inteligencia<strong>,</strong> aún las buenas pasiones<strong>,</strong> cuanto más las malas<strong>.</strong> El
    caso de Balaam es muy aleccionador<strong>.</strong></p>
<p><strong>Dos pasiones se habían apoderado de Balaam:</strong> la codicia primero y la ira después<strong>.</strong>
    Tan nublado se hallaba el entendimiento de Balaam por la pasión que le embargaba (ira<strong>,</strong>
    soberbia)<strong>,</strong> que no se dio cuenta de que su burra estaba dialogando con él<strong>.</strong> El caso
    de que una burra hable es tan inusual<strong>,</strong> que era para que desde el primer momento en que la burra le
    preguntó <strong>"¿</strong>que te he hecho<strong>?",</strong> Balaam<strong>,</strong> asombrado y hasta espantado<strong>,</strong>
    hubiera depuesto su actitud<strong>.</strong> Pero su iracunda pasión era tan grande y tanto le dominaba el
    intelecto<strong>,</strong> que se puso a discutir con la burra sin percatarse que estaba presenciando un
    milagro<strong>.</strong></p>
<p></p>
<p><strong>"</strong>28 <i>Entonces <strong>Jehová abrió la boca al asna, la cual dijo a Balaam:</strong>
    <strong>¿</strong>Qué te he hecho<strong>,</strong> que me has herido estas tres veces<strong>?</strong></i> 29
    <strong>Y Balaam respondió al asna:</strong> <i>Porque te has burlado de mí<strong>;</strong> ¡ojalá tuviera espada
        en mi mano<strong>,</strong> que ahora te mataría!</i> 30 <strong>Y el asna dijo a Balaam:</strong>
    <i><strong>¿</strong>No soy yo tu asna<strong>?</strong> Sobre mí has cabalgado desde que tú me tienes hasta este
        día<strong>;</strong> <strong>¿</strong>he acostumbrado a hacerlo así contigo<strong>?</strong> <strong>Y él
            respondió: No</strong></i><strong>."</strong> (Nm 22<strong>:</strong>28-30)</p>
<p> Las pasiones (soberbia<strong>,</strong> vanidad<strong>,</strong> engreimiento<strong>,</strong>
    miedo<strong>,</strong> rencor<strong>,</strong> envidia<strong>,</strong> codicia<strong>,</strong>
    etc<strong>.</strong>) ciegan el entendimiento del ser humano<strong>.</strong> Cada vez que he discutido con
    alguien que rehúsa entender argumentos claros<strong>,</strong> y claramente expuestos<strong>,</strong> he podido
    ver interpuesta entre nosotros<strong>,</strong> una o más pasiones por parte de mi interlocutor<strong>.</strong>
    Me ha tocado discutir con muchos burros<strong>,</strong> que lo son por entregarse a las pasiones<strong>.</strong>
    Y si bien estos burros hablan sin milagro alguno<strong>,</strong> se requiere un verdadero milagro para que estos
    burros razonen<strong>.</strong></p>
<p><strong>Otro caso bíblico</strong> de una o más pasiones nublando la inteligencia<strong>,</strong> es el de los
    sacerdotes y la resurrección de Lázaro<strong>.</strong></p>
<p> Ha sido una observación mía por muchos años (décadas)<strong>,</strong> que cuando algún tipo de sentimiento se
    mezcla en el análisis de un asunto<strong>,</strong> el humano no puede aplicar la lógica y el
    raciocinio<strong>,</strong> o sólo lo hace parcialmente<strong>.</strong> Esta dificultad se hace mayor cuanto
    mayor es el sentimiento que se mezcla<strong>,</strong> llegando a hacer crisis cuando el sentimiento llega a
    convertirse en pasión<strong>,</strong> y ésta<strong>,</strong> en pasión desordenada y sin freno<strong>.</strong>
</p>
<p> Este fue el caso de los príncipes de los sacerdotes en este pasaje<strong>.</strong> <strong>La pasión de ellos era
    el odio, por el temor de que Jesucristo los desplazara a ellos de su posición sacerdotal de preeminencia.</strong>
    Su odio era tanto<strong>,</strong> que en vez de razonar que quien había resucitado a Lázaro tenía que provenir de
    Dios<strong>,</strong> lo que se les ocurre es matar a Lázaro<strong>,</strong> porque éste constituía la prueba
    viviente de que ellos estaban equivocados al no aceptar a Jesús como Mesías<strong>.</strong></p>
<p></p>
<p><strong>"</strong>9 <i>Entonces mucha gente de los judíos entendió que él estaba allí<strong>;</strong> y vinieron no
    solamente por causa de Jesús<strong>,</strong> <strong>mas también por ver a Lázaro,</strong> al cual había
    resucitado de los muertos<strong>.</strong></i> 10 <strong>Consultaron asimismo los príncipes de los sacerdotes, de
    matar también a Lázaro;</strong> 11 <strong>porque muchos de los judíos iban y creían en Jesús por causa de
    él</strong><strong>."</strong> (Jn 12<strong>:</strong>9-11)</p>
<p> Cualquiera pudiera creer que es imposible tan total colapso del raciocinio<strong>,</strong> pero no pensaría igual
    si como yo<strong>,</strong> hubiera observado cómo incluso a una persona se le atrofia la facultad de razonar de
    mero no usarla por años<strong>.</strong> Los he conocido que solamente razonan con lógica en su giro de
    actividad<strong>,</strong> en su oficio o profesión<strong>,</strong> en donde fueron adiestrados a hacerlo antes
    de que ciertas pasiones se apoderaran de ellos<strong>.</strong></p>
<p> Los he conocido que <strong>por vagancia mental han atrofiado esa bella facultad humana,</strong> hasta el punto de
    no poder usarla en nada que no sea lo que ya constituye un camino trillado en su sistema nervioso<strong>.</strong>
    Trillo este fabricado más bien que por reacciones volitivas<strong>,</strong> por reflejos defensivos para la
    supervivencia en sociedad<strong>.</strong> Desarrollan así una astucia felina que luego no se conjuga con su
    actividad mental y su inteligencia deficientes<strong>,</strong> fuera de la esfera de actividades correspondientes
    a su supervivencia social<strong>.</strong></p>
<p> Ejemplos de esto serían la capacidad para los negocios<strong>,</strong> para la mentira<strong>,</strong> para
    halagar y obtener lo que quieren<strong>,</strong> para conquistar al sexo opuesto<strong>,</strong> para su
    oficio<strong>,</strong> etc<strong>..</strong> Son increíblemente sagaces para un determinado giro de
    actividad<strong>,</strong> relacionada con el tipo de supervivencia social que han elegido<strong>,</strong> y son
    a la vez increíblemente incapaces de razonar en ningún otro sentido<strong>.</strong></p>
<p> Tal vez la explicación de esta anómala polarización en el uso del raciocinio<strong>,</strong> sea el que fueron
    adiestrados a razonar sin dar lugar a las pasiones sólo en ese giro de actividad<strong>,</strong> cuando aún eran
    niños o muy jóvenes<strong>.</strong> También pudiera explicarlo el hecho de que fueron instruidos a aceptar
    dogmáticamente las premisas en que se basa su oficio o giro de actividad<strong>.</strong> Por suerte para ellos
    esas premisas eran ciertas<strong>,</strong> y a partir de ahí<strong>,</strong> con un rudimentario proceso de
    raciocinio<strong>,</strong> pueden llegar a conclusiones correctas<strong>.</strong> Sobre todo porque en la mayor
    parte de los casos<strong>,</strong> también se les inculcó en aquella temprana edad el uso de la razón
    mecánicamente<strong>,</strong> a partir de las premisas antes mencionadas<strong>.</strong></p>
<p> No es que <strong>no puedan</strong> razonar<strong>,</strong> es que hacen dejación de esa
    facultad<strong>,</strong> porque los lleva a desagradables conclusiones<strong>,</strong> y prefieren refugiarse en
    lo instintivo y / o en el uso de procesos de <strong>razonamiento condicionado,</strong> que
    existen<strong>,</strong> tal y como existe el reflejo condicionado<strong>.</strong></p>
<p> Los tipos de sentimientos y pasiones que obnubilan el raciocinio son muchos<strong>:</strong> el instinto de
    conservación<strong>,</strong> el orgullo<strong>,</strong> la soberbia<strong>,</strong> el odio<strong>,</strong>
    la frustración<strong>,</strong> la envidia<strong>,</strong> el egoísmo<strong>,</strong> la ira<strong>,</strong>
    el exceso de amor hacia algo o alguien<strong>,</strong> el delirio de grandeza<strong>,</strong> la pasión por la
    fama<strong>,</strong> la egolatría<strong>,</strong> etc<strong>..</strong> <strong>Todo esto puede condensarse en
        dos causas primarias o fundamentales: o no se ama a Dios por sobre todas las cosas, o no se ama al prójimo como
        a uno mismo, o ambas.</strong></p>
<p> Al fallar esto<strong>,</strong> se ama al hijito propio tanto<strong>,</strong> en comparación con el ajeno<strong>,</strong>
    que el humano no puede ver que su hijo <strong>no</strong> es el que tiene la razón<strong>.</strong> Puede darse el
    caso contrario<strong>,</strong> por amarse tanto a sí mismo<strong>,</strong> teme tanto un enfrentamiento con el
    padre del otro niño<strong>,</strong> que le quita la razón al suyo y no puede ver<strong>,</strong> o no quiere ver
    que la tiene<strong>.</strong></p>
<p><strong>Las masas llenas de envidia</strong> odian al rico aunque nada conozcan de él<strong>;</strong> le dan la
    razón al que lo ataca aunque no conozcan el caso<strong>.</strong> El rico ególatra no concibe la resistencia del
    pobre a sus caprichos<strong>.</strong> <strong>¿</strong>No te ves tú quien eres<strong>?,</strong> piensa el
    personaje importante en su trato con el de menos valor social<strong>.</strong> Se creen de verdad con derecho a
    disfrutar de lujos excesivos a costa del hambre de otros<strong>.</strong> <strong>"</strong>Los pobres están
    acostumbrados a esa vida y no necesitan salir de ella<strong>",</strong> piensan<strong>,</strong> mientras le sacan
    más jugo a los de abajo<strong>.</strong> La codicia<strong>,</strong> el orgullo<strong>,</strong> y demás pasiones
    no les dejan ver que se hallan en el borde del precipicio de una conmoción social<strong>,</strong> y por eso al fin
    la sufren<strong>.</strong></p>
<p><strong>Si los que tienen su inteligencia nublada por medio de las pasiones nos permitieran llevarles el proceso de
    raciocinio hasta sus últimas consecuencias,</strong> llegarían a verse sin justificación<strong>.</strong> <strong>Por
    eso lo evitan.</strong> Por eso no aceptan discutir sus opiniones blandiendo diversos
    <strong>"</strong>nobles<strong>"</strong> pretextos<strong>.</strong> Por medio de un procedimiento defensivo
    subconsciente<strong>,</strong> ellos mantienen el proceso de razonar en sus capas más
    superficiales<strong>.</strong></p>
<p> En esas capas superficiales del raciocinio ya ellos han construido un andamiaje de razonamiento
    auto-justificador<strong>.</strong> Ese andamiaje auto-justificador pudiera tener consistencia lógica
    interna<strong>,</strong> pero basarse en premisas falsas<strong>,</strong> o en un sub-andamiaje sin consistencia
    lógica interna<strong>.</strong> Incluso<strong>,</strong> tal vez ese sub-andamiaje mencionado es
    lógico<strong>,</strong> pero puede que esté basado a su vez en un segundo sub-andamiaje<strong>,</strong> que es el
    que<strong>,</strong> o no tiene consistencia lógica interna<strong>,</strong> o está basado en falsas
    premisas<strong>,</strong> o ambas<strong>.</strong></p>
<p><strong>En personas más inteligentes o más complejas,</strong> hay que buscar a veces hasta un tercer o cuarto
    sub-andamiaje para poder llegar al origen de su error<strong>,</strong> o para hallar <strong>la falsedad tras la
        cual ocultan su maldad.</strong> Es a veces muy profundamente donde venimos a descubrirles la falsa premisa de
    la que parten<strong>,</strong> o el eslabón falso en su cadena de razonamiento<strong>,</strong> el eslabón roto
    que hace a una cadena inútil<strong>.</strong> Por eso se justifican con sus palabras<strong>,</strong> pero no
    permiten que nadie lleve el proceso de raciocinio lo suficientemente profundo como para que se descubra la falsedad
    de su aparente honestidad o justicia<strong>.</strong></p>
<p><strong>Mientras más sub-andamiajes de razonamiento separen al error discutido</strong> del sub-andamiaje sin
    consistencia lógica interna<strong>,</strong> o de la errada premisa que lo sustenta<strong>,</strong> tanto más
    difícil va a ser para el que quiere buscar la verdad<strong>,</strong> encontrarla<strong>.</strong> Y tanto más
    imposible va ser (admitamos el disparate gramatical)<strong>,</strong> demostrarle dónde está su
    error<strong>,</strong> al que no quiere hallar la verdad porque ésta le lastima<strong>.</strong></p>
<p><strong>Los príncipes de los sacerdotes no podían razonar</strong> que Jesús tenía que ser el
    Mesías<strong>;</strong> no podían razonar que les convenía estar con el Mesías<strong>;</strong> sus
    pasiones<strong>:</strong> orgullo<strong>,</strong> vanidad<strong>,</strong> odio<strong>,</strong>
    egolatría<strong>,</strong> etc<strong>.,</strong> se lo impedían<strong>.</strong> Así también le sucede a los
    ángeles rebelados<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    