---
import Layout from "../layout/Layout.astro";
---

<Layout title="Paul never belonged to the Sanhedrin">
    <section>
<p><strong>It seems Paul was neither a rabbi nor a member of the Sanhedrin</strong></p>
<p> In biblical times the patriarchal hierarchy was very influencial. Through all the Bible we realize the elders ruled
    the society. In the book of Job we see that Elihu didn't dare speak while others who were older than him were
    speaking.</p>
<p> "4 <i><strong>Now Elihu had waited till Job had spoken, because they were elder than he.</strong></i> 5 <i>When
    Elihu saw that there was no answer in the mouth of these three men, then his wrath was kindled.</i> 6 <i>And Elihu
    the son of Barachel the Buzite answered and said: <strong>I am young, and ye are very old; wherefore I was afraid,
        and durst not shew you mine opinion</strong>.</i>" ( Job 32: 4-6 )</p>
<p> When God sent Moses to deliver the children of Israel from the Egyptian slavery ( Ex 3: 16 ), <strong>He sent him to
    speak with the elders of the people</strong>, which is an indication that the elders ruled over the people. The same
    pattern is observed in Nm 11: 16 where God decides to give Moses some men for helping him manage the people.</p>
<p> "<i><strong>Go, and gather the elders of Israel together</strong>, and say unto them: The LORD God of your fathers,
    the God of Abraham, of Isaac, and of Jacob, appeared unto me, saying, I have surely visited you, and seen that which
    is done to you in Egypt</i>." (Ex 3: 16 )</p>
<p> "<i>And the LORD said unto Moses: <strong>Gather unto me seventy men of the elders of Israel</strong>, whom thou
    knowest to <strong>be the elders of the people, and officers over them</strong>; and bring them unto the tabernacle
    of the congregation, that they may stand there with thee</i>." ( Nm 11: 16 )</p>
<p> In Dt 19: 12 we see again that <strong>the elders have authority</strong> to bring back a criminal who escaped to
    another city, and execute him.</p>
<p> "<i>Then <strong>the elders of his city shall send and fetch him thence</strong>, and deliver him into the hand of
    the avenger of blood, that he may die</i>." ( Dt 19: 12 )</p>
<p> When our Lord Jesus Christ wanted to warn his disciples that he was going to be crucified and killed, he told them
    that <strong>it was going to be done by the elders</strong>, a powerful indication that <strong>the elders ruled
        society</strong>. The same idea is shown when the soldiers were bribed into saying that they fell asleep while
    watching Jesus' tomb. All of the above reveal that <strong>the elders were the ones who determined what had to be
        done.</strong></p>
<p>"<i>From that time forth began Jesus to shew unto his disciples, how that he must go unto Jerusalem, and <strong>suffer
    many things of the elders</strong> and chief priests and scribes, and be killed, and be raised again the third
    day</i>." ( Matt 16: 21 )</p>
<p>"<i>And when they were <strong>assembled with the elders</strong>, and had taken counsel, they gave large money unto
    the soldiers, saying: Say ye, His disciples came by night, and stole him away while we slept.</i>" ( Matt 28: 12-13
    )</p>
<p> Furthermore, when a group of Jews plotted to murder Saint Paul, <strong>they consulted with the elders</strong> to
    use their influence over the Roman authorities, and convince them to bring Paul to them for questioning, while in
    the meantime they were setting a trap to murder him en route.</p>
<p>"<i>And they came to the chief priests <strong>and elders</strong>, and said: We have bound ourselves under a great
    curse, that we will eat nothing until we have slain Paul</i>." ( Acts 23: 14 )</p>
<p><strong>Through out the Scriptures it is clearly evident that the elders were governing society</strong>. At a
    national level, <strong>the group of elders called the Sanhedrin ruled over all</strong>. Young men didn't have a
    voice or vote on issues and decisions affecting that society.</p>
<p> Even today, that the patriarchal system is obsolete, there are some governmental positions that cannot be held by
    younger persons. For example, in the United States, to be a Senator, one must have not less than 30 years, and to be
    President one must be 35 or older.</p>
<p> Back in the times of Stephen's martyrdom, Paul, whose name at that time was Saul, <strong>was reputed as a young
    fellow</strong>. We come to know this in Acts 7: 58, where he is called <strong>a young fellow</strong>.</p>
<p> There are those who mistakenly think that Paul was a rabbi and a member of the Sanhedrin. All the above deeply
    contradicts both assumptions.</p>
<p> "<i>And cast him out of the city, and stoned him, and the witnesses laid down their clothes at a <strong>young man's
    feet, whose name was Saul</strong></i>." ( Acts 7: 58 )</p>
<p><strong>The Sanhedrin was composed by elders,</strong> mature, aged men. <strong>It is not logical</strong> to think
    that a youngster, as was Paul at that time, could belong to such a high level governing body. In an epoch of
    patriarchal dominance, an era when the young individuals kept quiet when an older one was talking, <strong>it is not
        reasonable to think that Paul belonged to the Sanhedrin</strong>.</p>
<p> The same reasoning may be followed to get to the conclusion that he was not a rabbi. Perhaps he was studying to
    become one, <strong>but he was not a 30 years old, a requirement for rabbis at the time</strong>, as I understand.
    Even Jesus didn't start his ministry until he was thirty years old.</p>
<p> After Stephen's death, being Paul a youngster at the time, he asked permission from the elders of the Sanhedrin to
    persecute Christians. After this episode, came his conversion in Damascus. <strong>Therefore there was no time for
        Paul to become an elder, get into the Sanhedrin or become a rabbi</strong>.</p>
<p> What has misled some brethren into thinking as such is Acts 8: 1, where Paul consented in the death of Stephen. To
    consent in Stephen's death he didn't have to belong to the Sanhedrin, because the crowd that was stoning him to
    death didn't belong to such a high governing body, yet were consenting in Stephen's death.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    