<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Paul says it is not enough to hear God's law, it has to be obeyed</title>
</head>
<body>
<p><strong>Paul says it is not enough to hear God's law, it has to be obeyed</strong></p>
<p> Why do some Christians treat God's law with such contempt<strong>?</strong> These brothers proceed as if they
    thought the law was invented by Satan<strong>.</strong> In this verse Paul himself<strong>,</strong> who some people
    consider the champion of the law <strong>"</strong>haters<strong>",</strong> assures the contrary to what they think<strong>.</strong>
    He says it was not just the hearers of the law<strong>, but the doers of the law who act correctly.</strong> The law
    that Paul considers obsolete is the ceremonial laws<strong>,</strong> not the behavioral laws<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>For <strong>not the hearers of the law are just</strong> before God<strong>,</strong> <strong>but
    the doers of the law shall be justified</strong></i><strong>".</strong> (Ro 2<strong>:</strong>13)</p>
<p> Paul is saying here that we have to obey God's law for human behavior<strong>,</strong> that we must align our
    behavior by that is established in God's law<strong>.</strong></p>
<p><strong>Does that mean that salvation comes by finalizing a life after having lived obeying the law without
    fail?</strong> No<strong>,</strong> no one can accomplish that<strong>;</strong> that is why the Lord
    came<strong>.</strong> Only Jesus did it<strong>.</strong> And we are saved thanks to what he did and his sacrifice
    to accomplish what we could not do ourselves<strong>.</strong> <strong>But nobody is saved either by saying he
        believes in Jesus, he lives under the grace, and then goes on to consciously disobey God's law, voluntarily and
        premeditatedly.</strong></p>
<p> The Christian who <strong>sincerely</strong> believes that what was established by God does not have to be obeyed is
    going to suffer the local and temporary consequences of not obeying God's law<strong>,</strong> but doesn't stop
    being saved<strong>,</strong> because his sin is unconscious<strong>.</strong> If he knew he had to obey he would do
    it<strong>,</strong> and repent from not having obeyed before<strong>.</strong></p>
<p><strong>The Christian who does not obey what God has established</strong> because of circumstances<strong>,</strong>
    pressures<strong>,</strong> weaknesses or temptation<strong>,</strong> even when he was conscious he had to
    obey<strong>,</strong> suffers the local and temporary consequences of his sin<strong>.</strong> But if he <strong>sincerely
        repents</strong> of his weakness<strong>,</strong> or fights the temptation that led him to
    error<strong>,</strong> without giving in to it<strong>,</strong> repentant for having let himself be
    deceived<strong>,</strong> does not lose his salvation either<strong>,</strong> because he did not do it voluntarily<strong>,</strong>
    but under human or demonic pressure<strong>.</strong> A good example of this would be Peter's
    denial<strong>.</strong></p>
<p><strong>A Christian, whom, surprised by sin, falls in it,</strong> will no avoid the local and temporary consequences
    of his sin<strong>,</strong> but if he <strong>sincerely repents</strong> he does not lose his salvation because his
    sin was not premeditated<strong>.</strong></p>
<p><strong>All this is true;</strong> but from there to affirming that what was established by God does not have to be
    obeyed<strong>,</strong> because we are under grace and we can disobey to our heart's delight<strong>,</strong>
    <strong>there is a large and deep abyss; and that abyss has a name: let's try not to fall in it.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>