---
import Layout from "../layout/Layout.astro";
---

<Layout title="Paul seems to say that he had been blameless">
    <section>
<p><strong>Paul seems to say that he had been blameless when it came to God's law, which is not true</strong></p>
<p> There are many Christians who do not understand correctly what Paul said in Philippians
    3<strong>:</strong>4-6<strong>,</strong> so they believe he was a perfect man before he became a
    Christian<strong>.</strong> This is one of the times where the brothers can see the difficult way of talking of the
    Apostle to the Gentiles<strong>.</strong> When what Paul says seems to go against what the rest of the Bible
    says<strong>,</strong> we need to find its logic and not believe blindly and without due analysis what he
    says<strong>.</strong> In Philippians 3<strong>:</strong>3-6<strong>.</strong> Saint Paul says something that cannot
    be true<strong>:</strong> that he was blameless<strong>.</strong></p>
<p></p>
<p><strong>"</strong>4 <i>Though I might also have confidence in the flesh<strong>.</strong></i> <i>If any other man
    thinketh that he hath whereof he might trust in the flesh<strong>,</strong> <strong>I more:</strong></i> 5 <i>Circumcised
    the eighth day<strong>,</strong> of the stock of Israel<strong>,</strong> of the tribe of Benjamin<strong>,</strong>
    an Hebrew of the Hebrews<strong>;</strong> as touching the law<strong>,</strong> a Pharisee<strong>;</strong></i> 6
    <i>concerning zeal<strong>,</strong> <strong>persecuting the church; touching the righteousness which is in the law,
        blameless</strong></i><strong>".</strong> (Phil 3<strong>:</strong>4-6)</p>
<p> If we were to interpret what Paul says without analyzing it<strong>,</strong> we could reach the false conclusion
    that Paul was faithfully obedient of all of God's law<strong>,</strong> and therefore was
    irreprehensible<strong>.</strong> This would happen if we don't realize that what Paul says here goes against what
    the Bible says in other passages<strong>.</strong> The Bible says that there has been none
    righteous<strong>,</strong> not one<strong>;</strong> therefore<strong>,</strong> Paul can't say he was
    blameless<strong>.</strong> <strong>We need to understand one of two things: either Paul is lying or we have to look
        for what it is he wants to say with the word "law".</strong></p>
<p> He says that as to the justice that is in the law<strong>,</strong> he was <strong>blameless.</strong>
    Evidently<strong>,</strong> Paul was not going to lie<strong>;</strong> therefore<strong>,</strong> he is talking
    about the ritual law<strong>,</strong> of which he was blameless<strong>,</strong> because as a Pharisee he would
    make every effort to comply with all the rites<strong>,</strong> traditions and ceremonies<strong>,</strong> besides
    tithing the rue<strong>,</strong> the dill<strong>,</strong> the cumin<strong>,</strong> the mint<strong>,</strong>
    etc<strong>..</strong></p>
<p> We need to only slightly reason to realize that Paul cannot be talking about God's law regarding human
    behavior<strong>,</strong> because in the same passage he confesses to being a persecutor of the
    church<strong>,</strong> like most Pharisees<strong>.</strong> They <strong>murdered</strong> Christians without a
    previous trial<strong>,</strong> or with rigged trials<strong>,</strong> <strong>and that is not obeying the law of
        God.</strong> They <strong>brought in false witnesses,</strong> as we can see in Acts 6<strong>:</strong>13-14
    in Stephen's case and that is against God's law for human behavior<strong>.</strong></p>
<p> Paul himself confesses in Acts 26<strong>:</strong>10-11 that he <strong>forced some prisoners to
    blaspheme.</strong> A man that acted as such could not be a faithful follower of God's laws for human
    behavior<strong>,</strong> but <strong>merely a faithful follower of the ritual law.</strong> Thus when Paul
    speaks<strong>,</strong> and in such it seems to contradict what the rest of the Bible says<strong>,</strong> we
    have to analyze what he says<strong>.</strong> That is the problem with the brothers who misunderstand
    Paul<strong>,</strong> attributing to him the abolition of God's law for human behavior<strong>.</strong></p>
<p></p>
<p><strong>"</strong>13 <i>And <strong>set up false witnesses,</strong> which said<strong>:</strong> This man ceaseth
    not to speak blasphemous words against this holy place<strong>,</strong> and the law<strong>;</strong></i> <i>14 for
    we have heard him say<strong>,</strong> that this Jesus of Nazareth shall destroy this place<strong>,</strong> and
    shall change the customs which Moses delivered us</i><strong>".</strong></p>
<p> (Act 6<strong>:</strong>13-14)</p>
<p></p>
<p><strong>"</strong>10 <i>Which thing I also did in Jerusalem<strong>;</strong> <strong>and many of the saints did I
    shut up in prison,</strong> having received authority from the chief priests<strong>;</strong> <strong>and when they
    were put to death, I gave my voice against them.</strong></i> 11 <i>And I punished them oft in every
    synagogue<strong>,</strong> and <strong>compelled them to blaspheme;</strong> and being exceedingly mad against them<strong>,</strong>
    I persecuted them even unto strange cities</i><strong>".</strong> (Act 26<strong>:</strong>10-11)</p>
<p></p>
<p><strong>"</strong><i>This is a faithful saying<strong>,</strong> and worthy of all acceptation<strong>,</strong> that
    Christ Jesus came into the world <strong>to save sinners; of whom I am chief</strong></i><strong>".</strong> (I Tim
    1<strong>:</strong>15)</p>
<p> In this last passage Paul himself confesses that he is the first sinner<strong>;</strong>
    therefore<strong>,</strong> when he said <strong>that touching the righteousness which is in the law he was
        blameless and irrepressible, he could not be referring to God's law for human behavior, but to the ritual
        law.</strong> Not only do we deduce that Paul cannot be referring to behavioral law<strong>,</strong> but he
    himself confesses that <strong>what he was a faithfully follower of was the traditions.</strong> Let's
    see<strong>.</strong></p>
<p></p>
<p><strong>"</strong>13 <i>For ye have heard of my conversation in time past in the Jews' religion<strong>,</strong> how
    that beyond measure <strong>I persecuted the church of God, and wasted it;</strong></i> 14 <i>and profited in the
    Jews' religion above many my equals in mine own nation<strong>,</strong> <strong>being more exceedingly zealous of
        the traditions of my fathers</strong></i><strong>".</strong> (Ga 1<strong>:</strong>13-14)</p>
<p> It is clear in this passage<strong>,</strong> Paul persecuted God's church and destroyed it<strong>;</strong>
    <strong>these are not the qualities of a man that is blameless in God's laws for human behavior.</strong></p>
<p> Paul makes it clear that he was the most fanatic to the traditions<strong>.</strong> It is those traditions and the
    ritual laws that he is referring to when he says that the law is obsolete<strong>,</strong> not the behavior
    laws<strong>.</strong> We have to be very careful when we understand that Paul is saying something that is not in
    agreement with the rest of the Bible<strong>.</strong> In this case we can see that most of the
    times<strong>,</strong> the word <strong>"</strong>law<strong>",</strong> in Paul's mouth<strong>,</strong> means
    the ritual laws<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    