
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La visión de Pedro y la supuesta limpieza de todos los animales</title>
</head>
<body>
<p><strong>La visión de Pedro y la supuesta limpieza de todos los animales</strong></p>
<p> Lo primero que debemos tener en cuenta al leer este pasaje es que <strong>esta visión está ocurriendo
    aproximadamente once años después de que Pedro conociera a Cristo por primera vez.</strong> Durante tres años y
    medio Jesús estuvo inculcando en sus discípulos las doctrinas correctas<strong>.</strong> Luego<strong>,</strong>
    durante otros 8 años aproximadamente<strong>,</strong> gracias al Espíritu Santo<strong>,</strong> los apóstoles
    reafirmaron lo aprendido de Jesús<strong>,</strong> lo practicaron<strong>,</strong> y enseñaron a otros esas
    doctrinas<strong>.</strong> <strong>Sería ilógico, y más aún, absurdo, pensar que once años después de haber
        comenzado su aprendizaje a los pies de Jesucristo, todavía los apóstoles no supieran cuáles eran las doctrinas
        correctas.</strong></p>
<p> Pues bien<strong>,</strong> sentado este precedente<strong>,</strong> vamos a echarle una profunda mirada a la
    estructura mental de San Pedro<strong>.</strong> Vamos a ver qué era lo que él creía sobre el comer carne de
    puerco<strong>,</strong> cangrejo<strong>,</strong> etc<strong>..</strong> Cuando en el versículo 13 la voz del
    Señor le dijo<strong>:</strong> <strong>"</strong><i>Levántate Pedro<strong>,</strong> mata y
        come</i><strong>",</strong> Pedro replicó<strong>:</strong> <strong>"</strong><i>Señor<strong>,</strong>
        no<strong>;</strong> porque ninguna cosa común e inmunda <strong>he comido jamás</strong></i><strong>."</strong>
    Pedro no le respondió diciendo algo así como<strong>:</strong> <strong>"</strong>Sí<strong>,</strong>
    Señor<strong>,</strong> voy a hacerlo inmediatamente<strong>,</strong> porque tú me enseñaste cuando predicabas que
    ya se iba a poder comer de todo<strong>".</strong> Tampoco le respondió<strong>:</strong>
    <strong>"</strong>Sí<strong>,</strong> Señor<strong>,</strong> voy a comer cualquier cosa<strong>,</strong> porque
    después de tu partida el Espíritu Santo nos reveló que ya se podían comer los animales que antes tú prohibías
    comer<strong>".</strong></p>
<p> Si Pedro no respondió así es porque los apóstoles no habían recibido ninguna enseñanza ni revelación enseñándoles
    que se podían comer de todo<strong>.</strong> <strong>Si en su estructura mental Pedro hubiera tenido el
        conocimiento, o la idea, de que esos animales ya se podían comer, él no hubiera osado responderle al Señor que
        esos animales no se comían; simplemente se hubiera levantado para cumplir la orden del Señor
        Jesucristo.</strong> Desde el momento que Pedro puso objeciones al Señor es porque él nunca había aprendido ni
    de Cristo ni del Espíritu Santo ni de los otros apóstoles<strong>,</strong> que los animales prohibidos se podían
    comer <strong>"</strong>ahora<strong>".</strong> <strong>No es lógico pensar que ahora, once años después, era que
        se les iba a enseñar que "ya" se podía comer de todos los animales.</strong></p>
<p> Por lo pronto no se puede negar que <strong>hasta el momento de recibir esta visión, San Pedro no había aprendido
    que se podían comer los animales que antes Dios había prohibido.</strong> Veamos ahora si esta visión le fue dada
    para que el cristiano cambiara su limpia dieta por una dieta asquerosa<strong>,</strong> donde podría comer arañas
    peludas<strong>,</strong> moscas<strong>,</strong> gusanos<strong>,</strong> lagartijas<strong>,</strong> serpientes<strong>,</strong>
    camarones<strong>,</strong> puerco<strong>,</strong> morcilla<strong>,</strong> carne humana<strong>,</strong>
    etc<strong>..</strong></p>
<p> Muchas personas estiman que esta visión de San Pedro fue dada para indicarle a los cristianos que podían comer
    cualquier animal<strong>.</strong> Razón hay para mal-interpretarlo así de primera impresión<strong>;</strong> y yo
    personalmente<strong>,</strong> al principio de leer la Biblia<strong>,</strong> también me lo creí por un
    tiempo<strong>.</strong> Sin embargo<strong>,</strong> a poco que uno analice el caso repara en el
    error<strong>.</strong> <strong>Esta visión no fue dada para que el cristiano comiera de todo, sino para que los
        judíos dejaran su escrúpulo tradicional, en el sentido de que no se juntaban con los gentiles.</strong> En
    muchos pasajes de la Escritura se dice o se trasluce el que los judíos consideraban abominable el juntarse con un
    gentil<strong>,</strong> como se ve Hch 10<strong>:</strong>28<strong>.</strong> Eso de no juntarse con los gentiles
    no era un mandamiento de Dios<strong>,</strong> <strong>sino una costumbre que ellos habían adoptado, una de sus
        farisaicas tradiciones.</strong></p>
<p></p>
<p><strong>"</strong><i>Y les dijo<strong>:</strong> Vosotros sabéis que <strong>es abominable a un varón judío juntarse
    o llegarse a extranjero;</strong> mas me ha mostrado Dios que <strong>a ningún hombre llame común o inmundo</strong></i><strong>"</strong>
    (Hch 10<strong>:</strong>28)</p>
<p></p>
<p> Para cambiar esa actitud contra los gentiles<strong>,</strong> en los discípulos<strong>,</strong> es que el Señor
    le dio a Pedro esta visión<strong>.</strong> <strong>Analicemos.</strong> Desde que comienza el capítulo a narrar el
    episodio de Cornelio<strong>,</strong> (episodio que finaliza con la introducción de los gentiles al
    evangelio)<strong>,</strong> se comienza a ligar la visión de Pedro con la venida de los enviados de
    Cornelio<strong>;</strong> por lo tanto<strong>,</strong> no es una visión para el cambio de dieta de los cristianos<strong>,</strong>
    sino para el mismo asunto<strong>,</strong> su tradición de juntarse con los gentiles<strong>.</strong> <strong>Así
        vemos cómo liga el autor, en el versículo 9, la llegada de los emisarios a la ciudad, con la subida de Pedro a
        la azotea para orar.</strong> Ya vimos en el versículo 28 cómo <strong>específicamente</strong> dice que
    <strong>el propósito de la visión era el de hacerles ver a los judíos que podían juntarse con los gentiles, lo cual
        nunca estuvo prohibido, eran costumbres y tradiciones.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Y había un varón en Cesarea llamado Cornelio<strong>,</strong> centurión de la compañía que se
    llamaba la Italiana<strong>,</strong> 2 pío y temeroso de Dios con toda su casa<strong>,</strong> y que hacía muchas
    limosnas al pueblo<strong>,</strong> y oraba a Dios siempre<strong>.</strong> 3 Éste vio en visión
    manifiestamente<strong>,</strong> como a la hora nona del día<strong>,</strong> que un ángel de Dios entraba a
    él<strong>,</strong> y le decía<strong>:</strong> Cornelio<strong>.</strong> 4 Y él<strong>,</strong> puestos en él
    los ojos<strong>,</strong> espantado<strong>,</strong> dijo<strong>:</strong> <strong>¿</strong>Qué
    es<strong>,</strong> Señor<strong>?</strong> Y le dijo<strong>:</strong> Tus oraciones y tus limosnas han subido en
    memoria a la presencia de Dios<strong>.</strong> 5 Envía pues ahora hombres a Joppe<strong>,</strong> y haz venir a
    un Simón<strong>,</strong> que tiene por sobrenombre Pedro<strong>.</strong> 6 Este posa en casa de un Simón<strong>,</strong>
    curtidor<strong>,</strong> que tiene su casa junto a la mar<strong>;</strong> él te dirá lo que te conviene
    hacer<strong>.</strong> 7 E ido el ángel que hablaba con Cornelio<strong>,</strong> llamó dos de sus criados<strong>,</strong>
    y un devoto soldado de los que le asistían<strong>;</strong> 8 a los cuales<strong>,</strong> después de habérselo
    contado todo<strong>,</strong> los envió a Joppe<strong>.</strong> 9 <strong>Y al día siguiente, yendo ellos su
        camino, y llegando cerca de la ciudad, Pedro subió a la azotea a orar, cerca de la hora de
        sexta</strong></i><strong>."</strong> (Hch 10<strong>:</strong>1-9)</p>
<p></p>
<p> Ya comenzada la visión de Pedro<strong>,</strong> se ve en el versículo 12 que en aquel lienzo había de todos los
    <strong>animales cuadrúpedos de la tierra, reptiles y aves del cielo.</strong> Si fuéramos a pensar que esta visión
    se traía para permitir comer cualquier cosa a los cristianos<strong>,</strong> tendríamos que admitir que nada se
    estatuyó<strong>,</strong> o nada se <strong>"</strong>modernizó<strong>"</strong> <strong>en cuanto a los animales
        acuáticos,</strong> puesto que éstos no aparecen en el lienzo<strong>.</strong> Si fuéramos a creer que esta
    visión se hacía para cambiar la dieta<strong>,</strong> sería cosa de preguntarse<strong>:</strong>
    <strong>a)</strong> si no se puede comer ningún animal acuático<strong>,</strong> dado que no se mencionaron como
    limpiados en la visión<strong>;</strong> <strong>b)</strong> si en estos permanece vigente la prohibición de
    Dios<strong>;</strong> o <strong>c)</strong> si aunque no se mencionaran en la visión los íbamos a incluir entre los
    comestibles <strong>"</strong>de a porque sí<strong>".</strong></p>
<p> Me hace pensar todo esto<strong>,</strong> que <strong>si la visión hubiera sido dada con el objeto de modificarle
    la dieta a los cristianos, se hubiera incluido en ella los animales acuáticos;</strong> no iban a pasárseles por
    alto a quien daba la visión<strong>.</strong> No obstante<strong>,</strong> si lo de los animales allí mostrados era
    sólo un simbolismo de los gentiles<strong>,</strong> entonces podemos comprender perfectamente la ausencia de los
    acuáticos<strong>,</strong> pues no eran necesarios para el simbolismo general<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>10 Y aconteció que le vino una grande hambre<strong>,</strong> y quiso comer<strong>;</strong>
    pero mientras disponían<strong>,</strong> le sobrevino un éxtasis<strong>;</strong> 11 y vio el cielo
    abierto<strong>,</strong> y que descendía un vaso<strong>,</strong> como un gran lienzo<strong>,</strong> que atado
    de los cuatro cabos era bajado a la tierra<strong>;</strong> 12 <strong>en el cual había de todos los animales
        cuadrúpedos de la tierra, y reptiles, y aves del cielo.</strong> 13 Y le vino una voz<strong>:</strong>
    Levántate<strong>,</strong> Pedro<strong>,</strong> mata y come<strong>.</strong> 14 Entonces Pedro
    dijo<strong>:</strong> <strong>Señor, no; porque ninguna cosa común e inmunda he comido jamás.</strong> 15 Y volvió
    la voz hacia él la segunda vez<strong>:</strong> Lo que Dios limpió<strong>,</strong> no lo llames tú
    común<strong>.</strong> 16 Y esto fue hecho por tres veces<strong>;</strong> y el vaso volvió a ser recogido en el
    cielo</i><strong>."</strong> (Hch 10<strong>:</strong>10-16)</p>
<p></p>
<p> Al llegar al versículo 17 vemos de nuevo relacionadas estas dos cosas<strong>:</strong> <strong>la visión y la
    llegada de los mensajeros gentiles,</strong> tal y como antes se hizo en el versículo nueve<strong>.</strong>
    <strong>En ningún momento, a lo largo de estos capítulos, se relaciona la interpretación de esta visión con un
        cambio de dieta,</strong> salvo en el curso de la propia visión<strong>,</strong> cuando se le exhorta a Pedro a
    que mate y coma<strong>.</strong></p>
<p> En el versículo 17 vemos que <strong>la visión, lejos de provocar en Pedro la certidumbre de que se trataba simple y
    llanamente de un cambio de dieta para el cristiano, provoca dudas;</strong> él no creía que el significado
    manifiesto<strong>,</strong> el de cambiar de dieta<strong>,</strong> fuera el significado
    verdadero<strong>,</strong> porque si no<strong>,</strong> no tenía por qué dudar<strong>.</strong> Es en ese
    momento que llegan a su puerta los gentiles<strong>,</strong> y como para disipar las dudas que el apóstol sentía
    sobre el significado de la visión<strong>,</strong> si era para modificar la dieta o para juntarse con los
    gentiles<strong>,</strong> <strong>el Espíritu Santo le ordena que vaya con los gentiles sin dudar.</strong> Vemos
    de nuevo aquí que la visión se vuelve a relacionar con la venida de los emisarios gentiles de
    Cornelio<strong>.</strong></p>
<p> En los versículos 19-20 se constata de nuevo la duda de Pedro sobre el significado de la visión<strong>,</strong> y
    ésta se disipa con la orden divina de ir con los gentiles<strong>.</strong> Evidentemente la visión no se trataba de
    <strong>un cambio en la dieta, sino de un cambio de la actitud tradicional que hacia los gentiles tenían los
        judíos.</strong></p>
<p></p>
<p><strong>"</strong><i>17 <strong>Y estando Pedro dudando dentro de sí qué sería la visión</strong> que había
    visto<strong>,</strong> <strong>he aquí, los hombres que habían sido enviados por Cornelio,</strong>
    que<strong>,</strong> preguntando por la casa de Simón<strong>,</strong> llegaron a la puerta<strong>.</strong> 18 Y
    llamando<strong>,</strong> preguntaron si un Simón que tenía por sobrenombre Pedro<strong>,</strong> posaba
    allí<strong>.</strong> 19 <strong>Y estando Pedro pensando en la visión, le dijo el Espíritu: He aquí, tres hombres
        te buscan. 20 Levántate, pues, y desciende, y no dudes ir con ellos, porque yo los he enviado.</strong> 21
    Entonces Pedro<strong>,</strong> descendiendo a los hombres que eran enviados por Cornelio<strong>,</strong>
    dijo<strong>:</strong> He aquí<strong>,</strong> yo soy el que buscáis<strong>,</strong> <strong>¿</strong>cuál es
    la causa por la que habéis venido</i><strong>?"</strong> (Hch 10<strong>:</strong>17-21)</p>
<p></p>
<p> Al seguir la lectura hasta el versículo 28 vemos cómo <strong>la interpretación única</strong> que el apóstol da
    sobre su visión es la de que Dios le había mostrado <strong>que a ningún hombre</strong> (nada dice de los animales)
    llame común o inmundo<strong>.</strong> O sea<strong>,</strong> que todos los hombres éramos iguales ante los ojos
    de Dios<strong>.</strong> <strong>Si hubiera habido interpretaciones adicionales, hubieran sido mencionadas; pero
        no, la única interpretación</strong> que San Pedro menciona es la relativa a los gentiles<strong>.</strong> Lo
    relativo a los animales y la dieta no se menciona en ningún momento<strong>.</strong> Es decir<strong>,</strong> que
    lo de <strong>"</strong>común e inmundo<strong>"</strong> mencionado en la visión en el versículo
    15<strong>,</strong> no se refería a los animales<strong>,</strong> sino a las personas<strong>;</strong> en este
    caso a los gentiles<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>27 Y hablando con él<strong>,</strong> entró<strong>,</strong> y halló a muchos que se habían
    juntado<strong>.</strong> 28 Y les dijo<strong>:</strong> Vosotros sabéis que es abominable a un varón judío
    juntarse o llegarse a extranjero<strong>;</strong> <strong>mas me ha mostrado Dios que a ningún hombre llame común o
        inmundo;</strong> 29 por lo cual<strong>,</strong> llamado<strong>,</strong> he venido sin
    dudar<strong>.</strong> Así que pregunto<strong>:</strong> <strong>¿</strong>por qué causa me habéis hecho venir</i><strong>?"</strong>
    (Hch 10<strong>:</strong> 27-29)</p>
<p></p>
<p> No es lógico pensar que el sacrificio de Jesucristo haya sido adjudicado también a los animales<strong>.</strong>
    <strong>El sacrificio de Cristo no fue hecho para quitar la inmundicia del cuerpo de las personas (que al fin y al
        cabo mueren); sino para limpiar las inmundicias de sus almas. ¿Cómo pues vamos a pensar que ese mismo sacrificio
        era para limpiar las inmundicias de los cuerpos de los animales?</strong> Esto es más claro si nos recordamos de
    lo dicho por Pablo en I Co 9<strong>:</strong>9-10 en el sentido de que Dios no se preocupa de los
    bueyes<strong>.</strong> <strong>¿</strong>Cómo pues vamos a pensar que el sacrificio de Cristo libraba a los
    animales de su inmundicia<strong>,</strong> como si esta se debiera a los pecados del animal<strong>?</strong></p>
<p><strong>Si el sacrificio de Cristo libraba a los animales de su inmundicia,</strong> es que ésta era una cuestión
    espiritual de ellos<strong>,</strong> cosa absurda y por lo tanto inaceptable<strong>.</strong> Luego
    entonces<strong>,</strong> <strong>¿</strong>cuál fue el cambio que en los animales prohibidos se
    realizó<strong>,</strong> que ahora sí se pueden comer<strong>,</strong> y antes no se podía<strong>?</strong>
    Ninguno<strong>.</strong> <strong>¿</strong>Vamos a creer que a los animales le fueron limpiados sus pecados<strong>?</strong>
    Y los animales limpios que siguieron siendo limpios<strong>,</strong> <strong>¿</strong>es que antes no tenían
    pecados<strong>?</strong> <strong>¿</strong>Se dan cuenta de hasta que grado de absurdidad nos llevaría el creer que
    los animales fueron limpiados con el sacrificio de Cristo<strong>?</strong></p>
<p><strong>No es sensato pensar que el sacrificio de Jesús,</strong> además de para la salvación de nuestra alma<strong>,</strong>
    haya servido para quitarle a las arañas peludas<strong>,</strong> cucarachas<strong>,</strong>
    ratones<strong>,</strong> anguilas<strong>,</strong> lombrices<strong>,</strong> puercos<strong>,</strong> cangrejos<strong>,</strong>
    etc<strong>.,</strong> la razón que motivó a Dios a prohibírselos a sus siervos de todas las
    épocas<strong>.</strong> Recordemos que aún en época de Noé<strong>,</strong> mucho antes de la ley
    ritual<strong>,</strong> ya se clasificaban los animales como limpios e inmundos<strong>,</strong> como se ve en Gn
    7<strong>:</strong>2 y 8<strong>;</strong> y en 8<strong>:</strong>20<strong>.</strong> <strong>Si los animales
        inmundos se consideraban prohibidos antes de la ley ritual, ni siquiera podemos pensar que esa prohibición es
        parte de la ley ritual, para entonces considerarla obsoleta junto con el resto de la ley ritual.</strong></p>
<p></p>
<p><strong>"<i>De todo animal limpio</i></strong> <i>te tomarás de siete en siete<strong>,</strong> macho y su
    hembra<strong>;</strong> mas <strong>de los animales que no son limpios,</strong> dos<strong>,</strong> macho y su
    hembra</i><strong>."</strong> (Gn 7<strong>:</strong>2)</p>
<p></p>
<p><strong>"<i>De los animales limpios, y de los animales que no eran limpios,</i></strong> <i>y de las
    aves<strong>,</strong> y de todo lo que anda arrastrando sobre la tierra</i><strong>"</strong> (Gn
    7<strong>:</strong>8)</p>
<p></p>
<p><strong>"</strong><i>Y edificó Noé un altar a Jehová y tomó de todo <strong>animal limpio y de toda ave
    limpia,</strong> y ofreció holocausto en el altar</i><strong>."</strong> (Gn 8<strong>:</strong>20)</p>
<p></p>
<p> Y si efectivamente<strong>,</strong> admitiéramos que algún cambio se efectuó en los animales luego del sacrificio
    de Nuestro Señor<strong>,</strong> <strong>tendríamos que pensar que la misma limpieza universal se efectuó en los
        vegetales, cosa inadmisible,</strong> pues conocemos que los hay venenosos<strong>.</strong></p>
<p> Si seguimos la lectura hasta los versículos 34 y 35 veremos ratificado en ellos el concepto de igualdad de todas las
    razas y nacionalidades<strong>;</strong> concepto que sólo de la visión aquella había salido<strong>.</strong> No
    había habido otra fuente para tal información<strong>;</strong> tampoco se menciona otro significado para tal visión<strong>.</strong>
    O sea<strong>,</strong> que con toda honestidad podemos decir que<strong>,</strong> al menos explicado por San Pedro<strong>,</strong>
    no hay otro significado para la visión que el de advertir a los judíos que podían dejar su escrúpulo tradicional de
    no juntarse con los gentiles<strong>.</strong> Recuerden que en toda la Biblia no existe un solo versículo sobre no
    juntarse con los gentiles<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>34 Entonces Pedro<strong>,</strong> abriendo su boca<strong>,</strong> dijo<strong>:</strong>
    Por verdad hallo que <strong>Dios no hace acepción de personas;</strong> 35 <strong>sino que de cualquiera nación
        que le teme y obra justicia, se agrada</strong></i><strong>."</strong> (Hch 10<strong>:</strong>34-35)</p>
<p></p>
<p> Como colofón<strong>,</strong> los versículo 44 y 45 nos narran cómo el Espíritu Santo<strong>,</strong> haciendo
    bueno su dicho a San Pedro<strong>,</strong> se derramó sobre los gentiles<strong>.</strong> Se cierra el capítulo
    sin que ninguna de las interpretaciones hechas sobre la visión nos haga ver que ésta se refería también a la
    limpieza de los animales<strong>.</strong></p>
<p> Es verdad que si la tomamos al pie de la letra y sin hacer caso de las interpretaciones del Apóstol Pedro y los
    demás<strong>,</strong> sí habla de comer todos los animales<strong>;</strong> pero así tomada<strong>,</strong>
    <strong>entonces no dice que se puedan comer los animales acuáticos, ni habla de la igualdad de las razas.</strong>
    Además<strong>,</strong> la autorizada interpretación de la visión por el Espíritu Santo y por San
    Pedro<strong>,</strong> nos dijo ya que se refería a las personas y no a los animales<strong>.</strong></p>
<p><strong>Terminado ya el Capítulo 10 del libro de los Hechos,</strong> al pasar al 11 notamos la misma
    tendencia<strong>,</strong> (Hch 11<strong>:</strong>1-19)<strong>,</strong> <strong>en ningún momento nadie
        interpreta la revelación como significando que se podían comer los animales mostrados en ella;</strong> siempre
    todo giró sobre la admisión de los gentiles<strong>.</strong></p>
<p> En 11<strong>:</strong>2-3 vemos que los cristianos de Jerusalem estaban opuestos a que Pedro se hubiese juntado con
    los gentiles<strong>.</strong> <strong>Ellos no le echan en cara nada respecto a la dieta; de eso no se habla. Si
        Pedro hubiera cambiado su dieta por motivo de la visión, los de Jerusalem, también se lo hubieran echado en
        cara,</strong> al igual que le echaron en cara el juntarse con los gentiles<strong>.</strong> Por lo
    tanto<strong>,</strong> es fácil deducir que <strong>no hubo, por parte de los cristianos de Jerusalem, conocimiento
        de un cambio de dieta para los creyentes.</strong> Incluso vemos que Pedro<strong>,</strong> para
    defenderse<strong>,</strong> esgrime de nuevo la cuestión de los gentiles<strong>.</strong> En ningún momento se
    menciona la cuestión de comer animales prohibidos<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>1 Y oyeron los apóstoles y los hermanos que estaban en Judea<strong>,</strong> que también los
    gentiles habían recibido la palabra de Dios<strong>.</strong> 2 <strong>Y como Pedro subió a Jerusalem, contendían
        contra él los que eran de la circuncisión, 3 diciendo: ¿Por qué has entrado a hombres incircuncisos, y has
        comido con ellos?</strong> 4 Entonces comenzando Pedro<strong>,</strong> les declaró por orden lo pasado<strong>,</strong>
    diciendo<strong>......</strong> 18 Entonces<strong>,</strong> oídas estas cosas<strong>,</strong>
    callaron<strong>,</strong> y glorificaron a Dios<strong>,</strong> diciendo<strong>:</strong> <strong>De manera que
        también a los gentiles ha dado Dios arrepentimiento para vida.</strong> 19 Y los que habían sido esparcidos por
    causa de la tribulación que sobrevino en tiempo de Esteban<strong>,</strong> anduvieron hasta
    Fenicia<strong>,</strong> y Cipro<strong>,</strong> y Antioquía<strong>,</strong> <strong>no hablando a nadie la
        palabra, sino sólo a los judíos</strong></i><strong>."</strong> (Hch 11<strong>:</strong>1-19 abreviado)</p>
<p></p>
<p> Debemos recordar que en Mt 10<strong>:</strong>6 Jesús les dijo a sus discípulos que primero le predicaran a los
    judíos<strong>,</strong> tal vez por eso les alerta ahora que ya pueden comenzar con los gentiles<strong>.</strong>
</p>
<p><strong>Pudiera alguien objetar, o preguntarse, por qué razón, si se intenta dar un mensaje concerniente a seres
    humanos,</strong> se usan animales como símbolos<strong>,</strong> y no personas<strong>.</strong> Eso no lo puedo
    yo explicar<strong>,</strong> pero <strong>es evidente</strong> que se usaron animales para simbolizar cosas
    concernientes a personas<strong>,</strong> puesto que se usaron animales para decir que los judíos podían juntarse
    con los gentiles<strong>.</strong></p>
<p> Pero ese no es un caso único en la Escritura<strong>.</strong> En la visión que José interpretó para los criados del
    faraón<strong>,</strong> las uvas representaban al criado del vino<strong>,</strong> y las cestas representaban días<strong>.</strong>
    En la que interpretó para Faraón las vacas significaban tiempo y en las de Daniel 8<strong>:</strong>19-20 el
    carnero y el chivo significan personas<strong>.</strong></p>
<p> En síntesis<strong>,</strong> la visión de Hch 10 significaba que los judíos se podían juntar con los
    gentiles<strong>;</strong> nada tenía que ver con un cambio en la dieta de los creyentes<strong>.</strong></p>
<p><a href="NotasBiblicas.html"><strong>Volver</strong> <strong>al índice</strong></a></p>
</body>
</html>