---
import Layout from "../layout/Layout.astro";
---

<Layout title="Peter's vision and the supposed cleanliness of all animals">
    <section>
        <p><strong>Peter's vision and the supposed cleanliness of all animals</strong></p>
        <p> The first thing we must take into account when we read this passage is that <strong>this vision is happening
            about
            eleven years after Peter met Jesus for the first time.</strong> For three and a half years Jesus had been
            teaching
            the disciples the correct doctrines<strong>.</strong> Then<strong>,</strong> for about eight
            years<strong>,</strong>
            thanks to the Holy Spirit<strong>,</strong> the apostles reaffirmed what they had learned from
            Jesus<strong>;</strong> they practiced it<strong>,</strong> and taught others these
            doctrines<strong>.</strong>
            <strong>It would be illogical, and even absurd, to think that eleven years after having started his learning
                journey
                at the feet of Jesus, that the apostles did not know which were the correct doctrines.</strong></p>
        <p> Well<strong>,</strong> having set this precedent<strong>,</strong> let's take a good look at Peter's mental
            structure<strong>.</strong> Let's see what he believed about eating pork<strong>,</strong>
            crab<strong>,</strong>
            etc<strong>..</strong> When God's voice tells him in verse 13<strong>,</strong>
            <strong>"</strong>Rise<strong>,</strong> Peter<strong>;</strong> kill<strong>,</strong> and
            eat<strong>",</strong>
            Peter replied<strong>,</strong> <strong>"</strong>Not so<strong>,</strong> Lord<strong>;</strong> for
            <strong>I have
                never eaten any thing that is common or unclean".</strong> Peter didn't respond by saying something like<strong>,</strong>
            <strong>"</strong>Yes<strong>,</strong> Lord<strong>,</strong> I will do it immediately<strong>,</strong>
            because
            you taught me when you preached that after your resurrection we could eat anything<strong>".</strong> He
            didn't say
            either<strong>,</strong> <strong>"</strong>Yes<strong>,</strong> Lord<strong>,</strong> I'll eat anything
            because
            after you left<strong>,</strong> the Holy Spirit revealed to us that we can now eat the animals that you
            commanded
            not to eat before<strong>".</strong></p>
        <p> If Peter did not respond like that it was because the apostles had not received any teaching or revelation
            telling
            them that everything was good to eat<strong>.</strong> <strong>If, in Peter's mental structure would have
                been the
                knowledge, or the idea, that these animals could now be eaten, he would have never dared to respond to
                the Lord
                that these animals could not be eaten, he simply would have risen to obey Jesus' order.</strong> The
            fact that
            Peter objected is proof that he never learned from Jesus<strong>,</strong> or from the Holy Spirit or from
            the other
            apostles that the forbidden animals could <strong>"</strong>now<strong>"</strong> be eaten<strong>.</strong>
            <strong>It is not logical to think that now, eleven years later, they were going to be taught that "now"
                they could
                eat all the animals.</strong></p>
        <p> Therefore we cannot deny that <strong>up until the moment of that vision, Peter had not learned that the
            animals
            that God had forbidden could now be eaten.</strong> Let's see now if that vision was given so that
            Christians could
            change their clean diet for a filthy one<strong>,</strong> where they could eat spiders<strong>,</strong>
            flies<strong>,</strong> worms<strong>,</strong> lizards<strong>,</strong> shrimp<strong>,</strong>
            pork<strong>,</strong> blood sausage<strong>,</strong> human flesh<strong>,</strong> etc<strong>..</strong>
        </p>
        <p> Many feel that this Peter's vision was given to indicate to Christians that they could now eat any
            animal<strong>.</strong> There is reason to mis-interpret it like that<strong>,</strong> and I personally
            did for a
            while when I first started reading the Bible<strong>.</strong> However<strong>,</strong> once we analyze
            this case
            we fix the error<strong>.</strong> <strong>This vision was not given so that the Christian can eat
                everything, but
                so that the Jews would abandon their traditional scruples, in the sense that they did not mingle with
                Gentiles.</strong> Scripture indicates or implies in many passages that the Jews considered abominable
            to mix
            with Gentiles<strong>,</strong> as we can see in Acts 10<strong>:</strong>28<strong>.</strong> That was not
            one of
            God's commandments<strong>,</strong> <strong>but a custom that they had adopted, one of their Pharisaic
                traditions.</strong></p>
        <p></p>
        <p><strong>"</strong><i>And he said unto them<strong>,</strong> <strong>Ye</strong> <strong>know how that it is
            an
            unlawful thing for a man that is a Jew to keep company, or come unto one of another nation;</strong> but God
            hath
            shewed me that <strong>I should not call any man common or unclean</strong></i><strong>".</strong> (Act
            10<strong>:</strong>28)</p>
        <p></p>
        <p> In order to change that attitude toward the Gentiles within the disciples<strong>,</strong> the Lord gives
            Peter
            that vision<strong>.</strong> <strong>Let's analyze it.</strong> From the moment the chapter starts telling
            the
            episode at Cornelius' (an episode that ends with the introduction of the Gentiles to the Gospel) the vision
            is
            linked to Peter and the coming of Cornelius' messengers<strong>;</strong> therefore<strong>,</strong> it is
            not a
            vision aimed at changing the Christians' diet<strong>,</strong> but aimed at the same
            issue<strong>,</strong> that
            of mingling with Gentiles<strong>.</strong> <strong>Thus we see how the author links, in verse 9, the coming
                of the
                messengers to the city, to Peter's trip to the roof to pray.</strong> We already saw in verse 28 how it
            <strong>specifically</strong>
            says that <strong>the purpose of the vision was to help the Jews see that they could mingle with the
                Gentiles, which
                really was never forbidden, those were only customs and traditions.</strong></p>
        <p></p>
        <p><strong>"</strong><i>1 There was a certain man in Caesarea called Cornelius<strong>,</strong> a centurion of
            the band
            called the Italian band<strong>,</strong> 2 a devout man<strong>,</strong> and one that feared God with all
            his
            house<strong>,</strong> which gave much alms to the people<strong>,</strong> and prayed to God
            always<strong>.</strong> 3 He saw in a vision evidently about the ninth hour of the day an angel of God
            coming in to
            him<strong>,</strong> and saying unto him<strong>:</strong> Cornelius<strong>.</strong> 4 And when he looked
            on
            him<strong>,</strong> he was afraid<strong>,</strong> and said<strong>:</strong> What is
            it<strong>,</strong>
            Lord<strong>?</strong> And he said unto him<strong>:</strong> Thy prayers and thine alms are come up for a
            memorial
            before God<strong>.</strong> 5 And now send men to Joppa<strong>,</strong> and call for one
            Simon<strong>,</strong>
            whose surname is Peter<strong>;</strong> 6 he lodgeth with one Simon a tanner<strong>,</strong> whose house
            is by
            the sea side<strong>;</strong> he shall tell thee what thou oughtest to do<strong>.</strong> 7 And when the
            angel
            which spake unto Cornelius was departed<strong>,</strong> he called two of his household
            servants<strong>,</strong>
            and a devout soldier of them that waited on him continually<strong>;</strong> 8 and when he had declared all
            these
            things unto them<strong>,</strong> he sent them to Joppa<strong>.</strong> 9 <strong>On the morrow, as they
                went on
                their journey, and drew nigh unto the city, Peter went up upon the housetop to pray about the sixth
                hour</strong></i><strong>"</strong> (Act 10<strong>:</strong>1-9)</p>
        <p></p>
        <p> Once Peter's vision started<strong>,</strong> we see in verse 12<strong>,</strong> that the vessel-sheet had
            all
            kinds of <strong>four-legged animals, reptiles and birds.</strong> If we were to think that this vision was
            to allow
            Christians to eat everything<strong>,</strong> we would have to admit that nothing was
            established<strong>,</strong>
            that nothing was <strong>"</strong>modernized<strong>"</strong> <strong>in reference to aquatic
                animals,</strong>
            since these are not on the vessel-sheet<strong>.</strong> If we would accept that this vision was to change
            the diet<strong>,</strong>
            we would have to ask<strong>: a)</strong> if we can't eat any aquatic animal<strong>,</strong> since they
            were not
            mentioned in the vision<strong>;</strong> <strong>b)</strong> if the prohibition is still valid for
            these<strong>;</strong> or <strong>c)</strong> if<strong>,</strong> even when they are not mentioned in the
            vision<strong>,</strong> would we include them with the ones allowed<strong>,</strong> <strong>"</strong>just
            because<strong>".</strong></p>
        <p> All this makes me think that<strong>,</strong> <strong>if the vision had been given with the purpose of
            modifying
            the Christian's diet, it would have included fish and seafood;</strong> they would not have been passed over<strong>.</strong>
            Nevertheless<strong>,</strong> if the animals shown there were only a symbol for the
            Gentiles<strong>,</strong> then
            we can perfectly understand the absence of the aquatics<strong>,</strong> for they were not needed for the
            general
            symbolism<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>10 And he became very hungry<strong>,</strong> and would have eaten<strong>,</strong>
            but while
            they made ready<strong>,</strong> he fell into a trance<strong>,</strong> 11 and saw heaven
            opened<strong>,</strong>
            and a certain vessel descending unto him<strong>,</strong> as it had been a great sheet knit at the four
            corners<strong>,</strong> and let down to the Earth<strong>,</strong> 12 <strong>wherein were all manner of
                four-footed beasts of the Earth, and wild beasts, and creeping things, and fowls of the air.</strong> 13
            And
            there came a voice to him<strong>:</strong> Rise<strong>,</strong> Peter<strong>;</strong>
            kill<strong>,</strong>
            and eat<strong>.</strong> 14 But Peter said<strong>:</strong> <strong>Not so, Lord, for I have never eaten
                any thing
                that is common or unclean.</strong> 15 And the voice spake unto him again the second
            time<strong>:</strong> What
            God hath cleansed<strong>,</strong> that call not thou common<strong>.</strong> 16 This was done
            thrice<strong>;</strong> and the vessel was received up again into heaven</i><strong>".</strong> (Act
            10<strong>:</strong>10-16)</p>
        <p></p>
        <p> When we get to verse 17 we see again these two things linked<strong>:</strong> <strong>the vision and the
            coming of
            the Gentiles messengers,</strong> just as it was in verse nine<strong>.</strong> <strong>Nowhere in these
            chapters
            is the vision's interpretation and the change of diet linked,</strong> except in the course of the vision
            itself<strong>,</strong> when Peter is told to kill and eat<strong>.</strong></p>
        <p> We see in verse 17 that <strong>the vision, far from provoking in Peter the assurance that it was only a
            change of
            diet for Christians, it provokes doubt;</strong> he did not believe that the given
            significance<strong>,</strong>
            the diet change<strong>,</strong> would be true<strong>,</strong> because if so<strong>,</strong> he had no
            reason
            to doubt<strong>.</strong> It is then that the Gentiles knock on his door<strong>,</strong> and as to
            dissipate the
            doubts the apostle had about the meaning of the vision<strong>,</strong> if it was about a diet change or
            about
            mixing with Gentiles<strong>,</strong> <strong>the Holy Spirit orders him to go with the Gentiles without
                doubt.</strong> We see again that the vision is once again linked to the visit of Cornelius' Gentile
            messengers<strong>.</strong></p>
        <p> In verses 19-20 Peter's doubt surfaces once again about the meaning of the vision<strong>,</strong> and then
            it is
            again wiped away by the divine order to go with the Gentiles<strong>.</strong> Evidently the vision had
            nothing to
            do with a diet change<strong>,</strong> but with <strong>a change in the traditional attitude towards the
                Gentiles
                that the Jews had.</strong></p>
        <p></p>
        <p><strong>"</strong><i>17 <strong>Now while Peter doubted in himself what this vision which he had seen should
            mean,
            behold, the men which were sent from Cornelius</strong> had made enquiry for Simon's house<strong>,</strong>
            and
            stood before the gate<strong>,</strong> 18 and called<strong>,</strong> and asked whether
            Simon<strong>,</strong>
            which was surnamed Peter<strong>,</strong> were lodged there<strong>.</strong> 19 <strong>While Peter
                thought on the
                vision, the Spirit said unto him: Behold, three men seek thee. 20 Arise therefore, and get thee down,
                and go
                with them, doubting nothing, for I have sent them.</strong> 21 Then Peter went down to the men which
            were sent
            unto him from Cornelius<strong>,</strong> and said<strong>:</strong> Behold<strong>,</strong> I am he whom
            ye
            seek<strong>;</strong> what is the cause wherefore ye are come</i><strong>?"</strong> (Act
            10<strong>:</strong>17-21)
        </p>
        <p></p>
        <p> If we follow the reading up to verse 28 we will <strong>see how the only interpretation that the
            apostle</strong>
            gives about his vision is that God had shown him <strong>that no man</strong> (he says nothing about
            animals) should
            be called common or unclean<strong>.</strong> In other words<strong>,</strong> that all men were equal in
            God's eyes<strong>.</strong>
            <strong>If there had been additional interpretations they would have been indicated, but no, the only
                interpretation</strong> that Peter mentions is that in reference to Gentiles<strong>.</strong> What
            refers to
            animals and diet is not mentioned anywhere<strong>.</strong> So<strong>,</strong> the <strong>"</strong>common
            and
            unclean<strong>"</strong> that is mentioned in the vision in verse 15<strong>,</strong> did not refer to
            animals but
            to people<strong>;</strong> that is the case of the Gentiles<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>27 And as he talked with him<strong>,</strong> he went in<strong>,</strong> and found
            many that
            were come together<strong>.</strong> 28 And he said unto them<strong>:</strong> Ye know how that it is an
            unlawful
            thing for a man that is a Jew to keep company<strong>,</strong> or come unto one of another
            nation<strong>;</strong>
            <strong>but God hath shewed me that I should not call any man common or unclean.</strong> 29 Therefore came
            I unto
            you without gainsaying<strong>,</strong> as soon as I was sent for<strong>,</strong> I ask
            therefore<strong>,</strong> for what intent ye have sent for me</i><strong>?"</strong> (Act
            10<strong>:</strong>27-29)
        </p>
        <p> It is not logical to think that Jesus' sacrifice had been adjudicated to animals too<strong>. Jesus'
            sacrifice was
            not to take away the uncleanness of the human body (who, at the end, die) but to clean the filthiness of
            their
            souls. How then, can we think that that same sacrifice would be to clean the filthiness of an animal's
            body?</strong> This is clearer if we remember what Paul said in I Co 9<strong>:</strong>9-10 in the sense
            that God
            does not care about the oxen<strong>.</strong> How then<strong>,</strong> can we think that Jesus' sacrifice
            would
            free animals from their filthiness<strong>,</strong> as if it were due to the sins of the
            animal<strong>?</strong>
        </p>
        <p><strong>If Jesus' sacrifice freed animals from their filthiness,</strong> it would mean that it was a
            spiritual issue<strong>,</strong>
            which is absurd<strong>,</strong> and therefore<strong>,</strong> unacceptable<strong>.</strong>
            Then<strong>,</strong> what was the change that happened in the forbidden animals<strong>,</strong> which
            now can be
            eaten when they could not be eaten before<strong>?</strong> None<strong>.</strong> Are we going to believe
            that
            animals were cleansed from their sins<strong>?</strong> And the clean animals that continue to be
            clean<strong>,</strong> does it mean that they had no sin before<strong>?</strong> Do you realize the degree
            of
            absurdity that we would reach if we believed that the animals were cleansed by Jesus'
            sacrifice<strong>?</strong>
        </p>
        <p><strong>It is not sensible to think that Jesus' sacrifice,</strong> besides the salvation of our
            souls<strong>,</strong> had been good to take away from the spiders<strong>,</strong>
            roaches<strong>,</strong> rats<strong>,</strong>
            eels<strong>,</strong> worms<strong>,</strong> pigs<strong>,</strong> crabs<strong>,</strong>
            etc<strong>.,</strong>
            the reason that made God forbid them for his servants since the beginning of time<strong>.</strong> Remember
            that
            even in the times of Noah<strong>,</strong> long before the ceremonial laws were established by
            Moses<strong>,</strong> animals were already classified as clean and unclean<strong>,</strong> as we see in
            Gen
            7<strong>:</strong>2 and 8<strong>,</strong> and in 7<strong>:</strong>20<strong>.</strong> <strong>If
                unclean
                animals were considered forbidden before the ceremonial law, we can't even think that that prohibition
                was part
                of the ceremonial law, and therefore consider it obsolete together with the rest of the ceremonial
                law.</strong>
        </p>
        <p></p>
        <p><strong>"<i>Of every clean beast</i></strong> <i>thou shalt take to thee by sevens<strong>,</strong> the male
            and his
            female<strong>;</strong> <strong>and of beasts that are not clean</strong> by two<strong>,</strong> the male
            and his
            female</i><strong>".</strong> (Gn 7<strong>:</strong>2)</p>
        <p></p>
        <p><strong>"<i>Of clean beasts, and of beasts that are not clean,</i></strong> <i>and of fowls<strong>,</strong>
            and of
            every thing that creepeth upon the Earth</i><strong>"</strong> (Gn 7<strong>:</strong>8)</p>
        <p></p>
        <p><strong>"</strong><i>And Noah builded an altar unto the LORD<strong>;</strong> <strong>and took of every
            clean beast,
            and of every clean fowl,</strong> and offered burnt offerings on the altar</i><strong>"</strong> (Gn
            8<strong>:</strong>20)</p>
        <p></p>
        <p> And if really we would think that any change happened to the animals after the sacrifice of our
            Lord<strong>,</strong> <strong>we would have to think that the same universal cleanliness happened to
                vegetables,
                which is inadmissible,</strong> since we know there are some poisonous ones<strong>.</strong></p>
        <p> If we continue reading to verses 34 and 35 we will see proof in them of the concept of equality of all races
            and
            nationalities<strong>,</strong> a concept that came only out of that vision<strong>.</strong> There had not
            been
            another source for such information<strong>,</strong> and there is no other meaning mentioned for that
            vision<strong>.</strong> In other words<strong>,</strong> we can honestly say that<strong>,</strong> at
            least as
            explained by Peter<strong>,</strong> there is no other meaning for the vision except to warn the Jews that
            they
            could set aside their traditional scruples of not mingling with the Gentiles<strong>.</strong>
            Remember<strong>,</strong> there is not a single verse in the whole Bible about not mingling with the
            Gentiles<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>34 Then Peter opened his mouth<strong>,</strong> and said<strong>:</strong> Of a truth I
            perceive that <strong>God is no respecter of persons,</strong> 35 <strong>but in every nation he that
                feareth him,
                and worketh righteousness, is accepted with him</strong></i><strong>".</strong> (Act
            10<strong>:</strong>34-35)
        </p>
        <p></p>
        <p> As a colophon<strong>,</strong> verses 44 and 45 tell how the Holy Spirit<strong>,</strong> making good on
            his word
            to Peter<strong>,</strong> was poured out on the Gentiles<strong>.</strong> The chapter is closed without
            any of the
            interpretations made about this vision show us that it referred to the cleanliness of
            animals<strong>.</strong></p>
        <p> It is true that if we take it literally and not pay attention to the interpretations of Peter and the
            rest<strong>,</strong> it does talk about eating all animals<strong>,</strong> but if we take it as
            such<strong>,</strong> <strong>then it does not say we can eat seafood, and it doesn't talk about the
                equality of
                the races.</strong> Besides<strong>,</strong> the authorized interpretation of the vision by the Holy
            Spirit and
            by Peter already says that it refers to people and not animals<strong>.</strong></p>
        <p><strong>At the end of chapter 10 of Acts,</strong> if we read chapter 11 we see the same
            tendency<strong>,</strong>
            (Acts 11<strong>:</strong>1-19) <strong>at no time no one interprets this revelation as meaning that the
                animals in
                it could now be eaten;</strong> it was all always about the admission of the Gentiles<strong>.</strong>
        </p>
        <p> In 11<strong>:</strong>2-3 we see that Christians in Jerusalem were opposed to Peter having met with the
            Gentiles<strong>.</strong> <strong>They do not throw in his face anything in regards to the diet; that is
                not
                addressed. If Peter had changed his diet as a result of his vision, those in Jerusalem would have held
                him
                accountable,</strong> just like they held him accountable for meeting with the
            Gentiles<strong>.</strong>
            Therefore<strong>,</strong> it is easy to assume that <strong>there was no knowledge on the part of the
                Christians
                in Jerusalem of a change of diet for the believers.</strong> We even see that Peter<strong>,</strong> in
            self-defense<strong>,</strong> brings out the matter of the Gentiles again<strong>.</strong> At no
            moment<strong>,</strong> is the issue of the forbidden animals mentioned<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>1 And the apostles and brethren that were in Judaea heard that the Gentiles had also
            received
            the word of God<strong>.</strong> 2 And when Peter was come up to Jerusalem<strong>,</strong> they that were
            of the
            circumcision contended with him<strong>,</strong> 3 saying<strong>:</strong> <strong>Thou wentest in to men
                uncircumcised, and didst eat with them.</strong> 4 But Peter rehearsed the matter from the
            beginning<strong>,</strong> and expounded it by order unto them<strong>,</strong> saying…<strong>.</strong>
            18 When
            they heard these things<strong>,</strong> they held their peace<strong>,</strong> and glorified
            God<strong>,</strong> saying<strong>:</strong> <strong>Then hath God also to the Gentiles granted repentance
                unto
                life.</strong> 19 Now they which were scattered abroad upon the persecution that arose about
            Stephen<strong>,</strong> traveled as far as Phenice<strong>,</strong> and Cyprus<strong>,</strong> and
            Antioch<strong>,</strong> <strong>preaching the word to none but unto the Jews
                only</strong></i><strong>".</strong>
            (Act 11<strong>:</strong>1-19 abbr)</p>
        <p></p>
        <p> We must remember here that Jesus told his disciples in Mt 10<strong>:</strong>6 to preach first to the
            Jews<strong>;</strong> maybe that's why now they have to be alerted of preaching now also the
            Gentiles<strong>.</strong></p>
        <p><strong>Someone may object or ask why, if there is a message that is being given in regards to human
            beings,</strong>
            are animals used as symbols<strong>,</strong> and not people<strong>.</strong> That<strong>,</strong> I
            cannot
            explain<strong>,</strong> but it is <strong>evident</strong> that animals were used to symbolize things
            concerning
            people<strong>,</strong> since they were used to say that Jews can now interact with
            Gentiles<strong>.</strong></p>
        <p> But this is not an isolated case in Scripture<strong>.</strong> In Joseph's vision that he interpreted for
            Pharaoh's
            servants<strong>,</strong> the grapes represented the wine steward<strong>,</strong> and the baskets
            represented
            days<strong>.</strong> In the one he interpreted for Pharaoh<strong>,</strong> the cows meant
            time<strong>,</strong>
            and in the one in Daniel 8<strong>:</strong>19-20 the lamb and the goat represented
            persons<strong>.</strong></p>
        <p><strong>In summary,</strong> the vision in Acts 10 meant that the Jews could be with
            Gentiles<strong>;</strong> it
            had nothing to do with a change in the believers' diet<strong>.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    