<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Por qué el arrepentimiento es importante</title>
</head>
<body>
<p><strong>Por qué el arrepentimiento es indispensable</strong></p>
<p><strong>Arrepentimiento no es simplemente pronunciar la frase "yo me arrepiento".</strong> El arrepentimiento es un
    profundo sentimiento que nos hace sentir dolor por algo que hicimos, dejamos de hacer, o pensamos. Es algo que nos
    hace desear no haberlo hecho nunca; algo que nos hace sentir que si volviéramos a vivir no haríamos lo que hicimos.
</p>
<p> Imaginemos que usted pudiera ver los sentimientos interiores de las personas. Supongamos también que hoy usted
    observara en un pueblo que usted visita, un grupo "A" de niños buenos y otro grupo "B", de niños malos. Figurémonos
    que al cabo de dos años usted viene a vivir con su familia a ese pueblo. No obstante, cuando vuelve a ver al grupo
    "A", ve que esos niños ya no son buenos, se han convertido en niños malos; sin embargo, el grupo "B", que antes
    estaba compuesto por niños malos, han cambiado de manera de ser y ahora son niños buenos. <strong>¿Cuál de los dos
        grupos permitiría usted que viniera a jugar con sus hijitos?</strong> Por lógica, usted permitiría que jugaran
    con el grupo "B", que ahora son buenos, aunque antes eran malos. Usted no quisiera que vinieran a jugar los del
    grupo "A", que aunque antes eran buenos, ahora son malos. <strong>Lo mismo hace Dios.</strong></p>
<p><strong>Por eso lo que cuenta no es cómo fuimos, sino cómo somos.</strong> Por eso Dios perdona al pecador
    arrepentido; al arrepentido de veras; no al que pronuncia la frase "yo me arrepiento". Los perdona, porque Dios
    quiere que <strong>cuando ocurra la resurrección</strong>, con sus hijos solamente haya gente buena, gente que han
    cambiado el mal por el bien, tanto en sus acciones como en sus pensamientos. <strong>Para eso vino Jesucristo, para
        pagar por los pecados de los que de corazón se arrepienten.</strong></p>
<p> Hay tontos que dicen: "Si eso es así, yo sigo pecando, y cuando me vaya a morir, me arrepiento". Eso no es
    arrepentimiento verdadero, eso es pronunciar la frase "yo me arrepiento". El arrepentimiento verdadero se siente
    profundamente en el corazón, y Dios lo conoce, a Él no se le puede engañar. <strong>Por eso el arrepentimiento es
        importante</strong>, porque Dios no va a permitir en lo adelante, que los que tienden al mal y los que tienden
    al bien, vivan juntos, haciendo así sufrir de nuevo a sus hijos, a los que desean proceder bien. Es indispensable
    separarlos: mantener a su lado a los que tienden al bien, y enviar a todos los otros a otro lugar. Si quieren saber
    algo más al respecto lean el artículo # 48 de este mismo índice.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>