---
import Layout from "../layout/Layout.astro";
---

<Layout title="Pragmatismo: Por sus Frutos Los Conoceréis">
    <section>
        <p><strong>PRAGMATISMO: POR SUS FRUTOS LOS CONOCERÉIS</strong></p>
        <p> Se llama pragmatismo al método filosófico que estima que el único criterio apropiado para juzgar la verdad o
            conveniencia de cualquier doctrina o teoría<strong>,</strong> se ha de fundar en la observación de sus
            efectos
            reales obtenidos en la práctica<strong>.</strong></p>
        <p> En el siguiente pasaje vemos que Jesucristo nos insta a tener una actitud pragmática en cuanto al
            aspecto<strong>,</strong> fama y <strong>"</strong>jarabe de pico<strong>"</strong>
            (retórica)<strong>,</strong> de
            aquellos que dicen servir a Dios<strong>.</strong> Si el árbol es bueno sus frutos son
            buenos<strong>.</strong> No
            se recogen uvas de los espinos ni higos de los abrojos<strong>.</strong> No juzguen a los humanos por la
            fama<strong>,</strong> el nombre<strong>,</strong> el aspecto o las palabras<strong>,</strong> sino por los
            frutos<strong>,</strong> eso es pragmatismo<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>15 <i>Guardaos de los falsos profetas<strong>,</strong> que vienen a vosotros vestidos de
            ovejas<strong>,</strong> mas de dentro son lobos rapaces<strong>.</strong></i> 16 <i><strong>Por sus frutos
            los
            conoceréis. ¿Cógense uvas de los espinos, o higos de los abrojos?</strong></i> 17 <strong>Así, todo buen
            árbol lleva
            buenos frutos, mas el árbol maleado lleva malos frutos.</strong> 18 <i>No puede el buen árbol llevar malos
            frutos<strong>,</strong> ni el árbol maleado llevar frutos buenos<strong>.</strong></i> 19 <i>Todo árbol que
            no
            lleva buen fruto<strong>,</strong> córtase y échase en el fuego<strong>.</strong></i> 20 <i><strong>Así que,
            por sus
            frutos los conoceréis</strong></i><strong>."</strong> (Mt 7<strong>:</strong>15-20)</p>
        <p><strong>Ha habido hermanos que me han impugnado la idea de que debemos ser pragmáticos,</strong> alegando que
            si bien
            es verdad que debemos ser pragmáticos frente a los lobos vestidos de ovejas<strong>,</strong> hay muchas
            cosas que
            hace un cristiano<strong>,</strong> a las cuales si se les aplicara esta filosofía se encontraría
            <strong>"</strong>como
            árbol sin buenos frutos<strong>",</strong> cuando en realidad son frutos para vida eterna<strong>.</strong>
            Y
            agregaban que ellos no creían que los cristianos debíamos ser pragmáticos en nuestra filosofía de
            vida<strong>.</strong> Añadiendo<strong>,</strong> pragmáticas son las gentes de mundo<strong>,</strong> y
            por eso
            se alejan de la religión<strong>,</strong> pues no le ven frutos<strong>.</strong></p>
        <p><strong>En realidad estos hermanos confunden lo que digo. No es cierto que el pragmatismo lleve a alguien a
            alejarse
            de la religión.</strong> Lo que lleva a esos pragmáticos (que no lo son tanto) a alejarse de la
            religión<strong>,</strong> es la meta o interés que ellos ponen delante de sí<strong>,</strong> y a la cual
            aplican
            el pragmatismo<strong>.</strong> Ellos quieren oro<strong>,</strong> fama<strong>,</strong>
            <strong>"</strong>ego<strong>",</strong> oropel<strong>,</strong> etc<strong>..</strong> Si a tales metas o
            intereses ellos le aplican el pragmatismo<strong>,</strong> cierto que muy dificultosamente irán a parar a
            los
            bancos de una iglesia<strong>.</strong></p>
        <p> Ellos han observado los frutos de los que se sientan a oír el sermón<strong>,</strong> y han notado que en
            nada se
            parece a lo que ellos anhelan<strong>.</strong> Por eso abandonaron ese camino<strong>,</strong> porque
            pragmáticamente considerado no los conduce a lo que ellos pretenden<strong>.</strong> A ellos no les
            interesa la paz
            interior<strong>;</strong> no les interesa la felicidad espiritual<strong>,</strong> sino la
            carnal<strong>;</strong> no les interesa la satisfacción de dar<strong>,</strong> sino la de
            recibir<strong>,</strong> etc<strong>..</strong> Por eso se alejan de la fe<strong>,</strong> porque la fe
            no les da
            dinero<strong>,</strong> ni mujeres<strong>,</strong> ni le levanta el ego<strong>,</strong> les da
            fama<strong>,</strong> etc<strong>.,</strong> en eso son realmente pragmáticos en relación a sus
            metas<strong>.</strong></p>
        <p><strong>Pero si fueran verdaderamente pragmáticos escogerían la fe,</strong> pues se darían cuenta que todo
            eso que
            ellos quieren obtener dura poco<strong>,</strong> solamente 70 u 80 años<strong>,</strong> y luego la
            eternidad sin
            gozo<strong>,</strong> sin Dios<strong>.</strong> Lo inteligente<strong>,</strong> lo pragmático desde el
            punto de
            vista amplio de la existencia<strong>,</strong> es la fe<strong>,</strong> la adoración del Dios omnipotente<strong>,</strong>
            bondadoso y perdonador<strong>,</strong> y la aceptación de Su Hijo Jesucristo<strong>,</strong> que nos
            salva de la
            condena a la que nos conducen nuestros pecados<strong>.</strong> <strong>Eso si es verdadero pragmatismo, un
                pragmatismo integral, un pragmatismo que toma en consideración todos los factores, no solamente los que
                están
                delante de la nariz.</strong></p>
        <p> El error de estas personas mundanas no es aplicar el pragmatismo<strong>,</strong> el error de ellos es que
            no le
            ven importancia a la vida eterna<strong>,</strong> a la santidad<strong>,</strong> a la comunión con
            Dios<strong>,</strong> etc<strong>.,</strong> y por eso su pragmatismo los aleja de la
            iglesia<strong>,</strong>
            porque lo aplican al dinero<strong>,</strong> al orgullo personal<strong>,</strong> al
            poder<strong>,</strong> al
            placer<strong>,</strong> etc<strong>..</strong> <strong>Igualmente, si la meta de un pragmático fuera buscar
                mujeres
                fáciles, no era lógico que fuera a buscarlas a una iglesia, sino a un burdel. Eso sería lo pragmático.
                Pero eso
                no quiere decir que el pragmatismo conduce a los burdeles; depende de la meta perseguida por el que
                practica el
                pragmatismo.</strong></p>
        <p> Es lo mismo que un cuchillo<strong>.</strong> En sí mismo el cuchillo no conduce al
            asesinato<strong>.</strong> Los
            carniceros y las amas de casa lo usan para cortar la carne y demás<strong>.</strong> El hecho de que un
            asesino lo
            utilice para matar<strong>,</strong> no significa que el cuchillo es malo<strong>,</strong> no significa que
            el
            cuchillo conduce al asesinato<strong>.</strong> Lo mismo ocurre con el pragmatismo<strong>,</strong> depende
            de como
            se use y a qué se le aplique<strong>.</strong></p>
        <p> Si deseando alguien predicar el evangelio<strong>,</strong> asiste a fiestas<strong>,</strong>
            bailes<strong>,</strong> banquetes<strong>,</strong> reuniones sociales<strong>,</strong>
            cumpleaños<strong>,</strong> etc<strong>.,</strong> y después de haberlo hecho observa que por ese medio no
            llega
            muy lejos en lo que pretende<strong>,</strong> procedería pragmáticamente si deja eso y se dedica a predicar<strong>,</strong>
            digamos<strong>,</strong> en una carpa<strong>.</strong> <strong>¿</strong>Porqué<strong>?</strong> Porque
            de la
            experiencia (pragmatismo) sacó la conclusión de que por ahí no alcanza la meta que busca<strong>,</strong>
            que es el
            que la gente escuche el evangelio<strong>.</strong></p>
        <p> Como vemos <strong>el pragmatismo ni aleja ni acerca a la fe,</strong> sólo nos enseña que según la
            experiencia
            debemos o no seguir un método o un camino<strong>.</strong> Ser pragmático no es malo<strong>.</strong> Lo
            único
            malo sería exagerar la tendencia al pragmatismo<strong>,</strong> pues si se exagerara<strong>,</strong> la
            persona
            se inhibiría en sus decisiones<strong>,</strong> porque no podría decidir por el sólo
            razonamientos<strong>,</strong> sino que necesitaría probarlo todo en la práctica<strong>.</strong> Una
            persona tan
            exagerada no aprobaría ni decidiría nada hasta que no lo viera en la práctica<strong>.</strong> Esa
            exageración
            sería mala<strong>;</strong> pero el pragmatismo no es malo<strong>,</strong> Jesucristo nos lo aconsejó en
            el
            pasaje que leímos anteriormente<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver la índice</a></strong></p>

    </section>
</Layout>
    