---
import Layout from "../layout/Layout.astro";
---

<Layout title="Ojeada a los que creen en la predestinación">
    <section>
<p><strong>Echemos una ojeada a los que creen que ellos creen en la predestinación absoluta</strong></p>
<p><strong>Predestinación de circunstancias,</strong> es aquella en la que Dios predestina a una
    persona<strong>,</strong> conglomerado o nación a vivir bajo ciertas circunstancias que convienen a sus
    planes<strong>,</strong> pero no la predestina a ser salva o perdida<strong>.</strong></p>
<p><strong>Predestinación absoluta</strong> es aquella que asegura que Dios ordena a ciertas personas para ser salvas y
    a otras para ser perdidas<strong>;</strong> y que todo<strong>,</strong> desde el día del nacimiento o de la
    muerte<strong>,</strong> la salud o la enfermedad<strong>,</strong> hasta la caída de una hoja de un
    árbol<strong>,</strong> es algo predestinado por Dios y que Él lo provoca<strong>,</strong> y que nadie puede
    cambiar tales predestinaciones<strong>.</strong></p>
<p><strong>Hay quienes aseguran creer en la predestinación absoluta,</strong> y muchos de ellos en realidad se imaginan
    que ellos creen<strong>,</strong> pero en realidad no creen<strong>.</strong> <strong>¿</strong>En qué me baso para
    pensar así<strong>?</strong> Si ustedes observan las acciones<strong>,</strong> (no las palabras) de los que se
    imaginan que creen en la predestinación absoluta<strong>,</strong> verán que en su fuero interno ellos no creen en
    lo que se imaginan que creen<strong>.</strong> Más abajo pongo algunos ejemplos para demostrar lo que
    digo<strong>.</strong> Hasta aquí me refiero a los que son honestos con Dios en sus creencias<strong>.</strong></p>
<p> Hay sin embargo otro grupo<strong>,</strong> <strong>que creen que fingiendo tener una fe "inquebrantable" en que la
    salvación es algo que está predestinado, van a obligar a Dios a que los salve, a pesar de no arrepentirse de sus
    pecados.</strong> Digo <strong>"fingiendo</strong> tener fe en la predestinación absoluta<strong>",</strong> porque
    los que dicen creer tal cosa en realidad no creen en tal tipo de predestinación<strong>.</strong></p>
<p> Lo prueba el hecho de que sacan seguros<strong>,</strong> toman medicinas<strong>,</strong> se someten a operaciones
    quirúrgicas<strong>,</strong> van al dentista<strong>,</strong> van al oculista<strong>,</strong> cuidan su cartera
    para que no les roben el dinero<strong>,</strong> y no van a predicar el evangelio a donde está prohibido bajo pena
    de muerte<strong>.</strong></p>
<p><strong>Si en realidad creyeran en la predestinación absoluta,</strong> no tendrían que sacar
    seguros<strong>,</strong> porque si está predestinado que ellos lo pierdan todo<strong>,</strong> aunque saquen
    seguro lo van a perder todo<strong>.</strong> Y si estuviera predestinado que ellos no pierdan
    nada<strong>,</strong> pues aunque no sacaran seguro<strong>,</strong> no iban a perder nada<strong>.</strong>
    <strong>¿</strong>Para qué malgastar dinero en seguros si ese dinero lo podían donar al evangelio<strong>?</strong>
</p>
<p><strong>Si en realidad creyeran en la predestinación absoluta</strong> no tendrían que tomar medicinas ni se
    someterían a operaciones quirúrgicas<strong>,</strong> porque si estaba predestinado que fueran
    saludables<strong>,</strong> iban a ser saludables aunque no tomaran medicinas ni se sometieran a operaciones
    quirúrgicas<strong>,</strong> por tanto<strong>,</strong> no hacía falta nada de eso<strong>.</strong> Si por el
    contrario estaba predestinado que no fueran saludables<strong>,</strong> aunque tomaran medicinas y se sometieran a
    la cirugía<strong>,</strong> no iban a recuperar la salud<strong>.</strong></p>
<p><strong>Si en realidad creyeran en la predestinación absoluta</strong> no irían al dentista<strong>,</strong> porque
    si estaba predestinado que conservaran su dentadura<strong>,</strong> la iban a conservar aunque no gastaran dinero
    en el dentista<strong>.</strong> Lo mismo puede decirse con el oculista<strong>,</strong> para qué gastar dinero en
    ellos si estaba predestinado que tuvieran buena vista<strong>.</strong> Y si lo que estaba predestinado era que
    tuvieran mala visión<strong>,</strong> pues la iban a tener mala aunque fueran a ver al mejor oculista del
    mundo<strong>.</strong></p>
<p><strong>Si creyeran en realidad en la predestinación absoluta</strong> no cuidarían su cartera y su
    dinero<strong>,</strong> pues estarían seguros de que si estaba predestinado que no les robaran el
    dinero<strong>,</strong> pues nadie se lo iba a poder robar<strong>;</strong> mientras que si estaba predestinado
    que les robaran el dinero<strong>,</strong> pues se lo iban a robar de todas maneras por mucho que lo
    cuidaran<strong>.</strong></p>
<p><strong>Si creyeran en realidad en la predestinación absoluta</strong> irían a predicar el evangelio a donde está
    prohibido<strong>,</strong> sabiendo que el día de su muerte está predestinado y nadie puede matarlo
    antes<strong>,</strong> ni encarcelarlos<strong>,</strong> si no está predestinado su
    encarcelamiento<strong>.</strong> Sin embargo<strong>,</strong> si estaba predestinado su
    encarcelamiento<strong>,</strong> iba a ir a la cárcel aunque no fueran a predicar a lugares
    prohibidos<strong>.</strong></p>
<p><strong>Lo mismo ocurre cuando los observamos cuidando a sus niños,</strong> lo cual es muy sabio y
    prudente<strong>,</strong> pero que está en contra de lo que ellos dicen creer<strong>.</strong> Si está
    predestinado que le suceda algo malo a su niño<strong>,</strong> pues le va a suceder por mucho que lo
    cuiden<strong>;</strong> y si está predestinado que no le suceda nada al niño<strong>,</strong> pues no le va a
    suceder aunque no los cuiden<strong>.</strong> <strong>¡</strong>Vivamos una vida despreocupada<strong>!</strong> Al
    fin y al cabo<strong>,</strong> <strong>"</strong>lo que va a pasar<strong>,</strong> está
    escrito<strong>".</strong> Si está predestinado que secuestren al niño<strong>,</strong> lo van a secuestrar aunque
    lo cuidemos<strong>;</strong> pero si está predestinado que no secuestren al niño<strong>,</strong> pues no va a ser
    secuestrado aunque no lo cuidemos<strong>.</strong></p>
<p><strong>Una de las cosas que según esta errada doctrina está predestinado,</strong> es el día de la muerte y el del
    nacimiento<strong>.</strong> No obstante<strong>,</strong> ellos usan métodos anticonceptivos<strong>.</strong> Si
    realmente creyeran en la predestinación absoluta<strong>,</strong> no lo harían<strong>,</strong> porque si estaba
    predestinado que naciera un bebé<strong>,</strong> éste iba a nacer aunque usaran el mejor de los
    métodos<strong>;</strong> y si estaba predestinado que no naciera un bebé<strong>,</strong> éste no iba a nacer
    aunque no usaran ningún método anticonceptivo<strong>.</strong></p>
<p><strong>¿Para qué llamar a la policía o los bomberos?</strong> Si está predestinado que toda la casa o parte de ella
    se queme<strong>,</strong> se va a quemar aunque los bomberos vengan a tiempo<strong>.</strong> Por otro
    lado<strong>,</strong> si está predestinado que no se queme ni toda la casa ni parte de ella<strong>,</strong> pues
    no se va a quemar aunque los bomberos no vengan<strong>,</strong> ni nadie le eche agua al fuego<strong>.</strong>
    Demuestre su heroica e inconmovible fe<strong>,</strong> no llame a los bomberos<strong>,</strong> siéntese
    tranquilamente a ver cómo lo que está predestinado es lo que va a ocurrir<strong>.</strong></p>
<p><strong>Lo mismo sucede con la protección de la policía.</strong> Si está predestinado que los que están rompiendo
    una ventana para entrar en la casa entren<strong>,</strong> roben<strong>,</strong> dañen<strong>,</strong>
    hieran<strong>,</strong> maten<strong>,</strong> violen<strong>,</strong> etc<strong>.,</strong> pues va a ocurrir
    tal cosa<strong>,</strong> aunque llamen a la policía<strong>.</strong> Por el contrario<strong>,</strong> si no
    está predestinado que entren<strong>,</strong> roben<strong>,</strong> dañen<strong>,</strong>
    hieran<strong>,</strong> maten o violen<strong>,</strong> pues para qué molestar a la policía<strong>,</strong>
    mejor es virarse para el otro lado y seguir durmiendo tranquilamente<strong>,</strong> en la seguridad de que
    <strong>"</strong>lo que va a pasar está escrito<strong>".</strong></p>
<p><strong>¿Conocen ustedes algún creyente en la predestinación absoluta que viva dentro de los parámetros</strong> que
    se supone que vivan los que crean tal cosa<strong>?</strong> <strong>¡Nadie!</strong> <strong>¿</strong>Por
    qué<strong>?</strong> Porque en realidad <strong>nadie</strong> cree semejante cosa<strong>.</strong> Con la boca sí
    lo creen<strong>,</strong> pero con el corazón no lo creen<strong>.</strong> Muchos de ellos honestamente se figuran
    que creen tal cosa<strong>,</strong> pero la realidad nos demuestra que no lo creen<strong>.</strong></p>
<p><strong>Como vemos, muchos de los que se figuran que creen en la predestinación absoluta, en realidad se están
    engañando a sí mismos, porque en realidad no creen en ella.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
<p></p>

    </section>
</Layout>
    