<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>La falsa predestinación y el Quinto Mandamiento</title>
</head>
<body>
<p><strong>La falsa predestinación y el Quinto Mandamiento</strong></p>
<p> Son muchos los hermanos que han sido enseñados dogmáticamente a creer en la predestinación estilo
  janseno-calvinista. Esta predestinación tiene dos o tres variantes. Una de ellas es que absolutamente todo lo que
  sucede, desde la caída de una hoja hasta la muerte de una persona, es hecho <strong>directamente</strong> por Dios, y
  ha sido predestinado en año, mes, día, hora, minuto y segundo. Otra de las variantes estima que todos los nacimientos
  y las muertes han sido predestinados, aunque no las pequeñas cosas; sin embargo, no consideran que todo lo hace Dios
  directamente en ese momento, sino que ya lo tiene predestinado. No obstante, <strong>todas las variantes que yo he
    escuchado coinciden en decir que el día del nacimiento y el de la muerte de los seres humanos es algo que ya viene
    predestinado.</strong></p>
<p> El quinto mandamiento, tal y como se halla en Ex 20:12 dice:</p>
<p><i> </i> "<i>Honra a tu padre y a tu madre, porque <strong>tus días se alarguen</strong> en la tierra que Jehová tu
  Dios te da</i>."</p>
<p> De aquí se deduce, sin forzar el razonamiento, que <strong>el que honrara padre y madre, viviría más largamente que
  si no los honrara</strong>. Es decir, que la longitud de la vida de la persona dependía en parte de su trato con sus
  padres. Por lo tanto, <strong>la longitud de la vida no estaba inflexiblemente predeterminada por Dios, sino que había
    flexibilidad en el asunto</strong>. Y muy importante, es Dios en persona el que nos dio ese mandamiento. Siendo eso
  así, es fácil razonar que no existe tal cosa como un día inflexiblemente destinado para la muerte, o sea, que <strong>no
    hay predestinación para el día de la muerte</strong>. Esto concuerda con lo dicho por Salomón en Ecl 7:17.</p>
<p><i> </i> "<i>No hagas mal mucho, ni seas insensato: ¿por qué morirás antes de tu tiempo</i>?" ( Ecl 7:17 )</p>
<p> Vemos también en Dt 4:40 que Dios les había dado la tierra, pero que el tiempo que cada uno de ellos iba a estar
  sobre esa tierra, dependía de que guardara los estatutos y mandamientos de Dios, al igual que se ve en I R 3:14. Por
  lo tanto, no había un tiempo predestinado para la muerte de cada persona, o para su estadía en la tierra prometida,
  sino que dependía de su obediencia en este caso, además de depender de si honrara o no a sus padres, que es al fin y
  al cabo, una manera de guardar los mandamientos y estatutos de Dios.</p>
<p> "<i>Y si anduvieres en mis caminos, guardando mis estatutos y mis mandamientos, como anduvo David tu padre, <strong>yo
  alargaré tus días</strong></i>." ( I R 3:14 )</p>
<p> "<i>Y guarda sus estatutos y sus mandamientos, que yo te mando hoy, para que te vaya bien a ti y a tus hijos después
  de ti, y <strong>prolongues tus días sobre la tierra que Jehová tu Dios te da para
    siempre</strong></i><strong>.</strong>" ( Dt 4:40 )</p>
<p> Como vimos en Ecl 7:17 el día de la muerte no está inflexiblemente predestinado, porque la persona puede morir antes
  de tiempo. Es decir, que si por su vitalidad y salud puede vivir 70 años, si hace mucho mal y es insensato, puede
  morir antes de los 70 años.</p>
<p> Otro tanto se puede decir con <strong>lo dicho por Dios a Salomón.</strong> Allí Dios le dice
  <strong>personalmente</strong> al rey que si él cumple Sus mandamientos y estatutos, el mismo Dios
  <strong>alargaría</strong> los días de su vida.</p>
<p> También tenemos lo dicho por el sabio Salomón en Prv 3:1-2; 3:16 y 4:10, donde se manifiesta claramente que en su
  estructura mental, <strong>Salomón tenía el sólido concepto de que la vida se podía prolongar o aminorar de acuerdo a
    ciertas circunstancias.</strong></p>
<p></p>
<p> "1 <i>Hijo mío, no te olvides de mi ley; y tu corazón guarde mis mandamientos,</i> 2 <i><strong>porque largura de
  días, y años de vida y paz te aumentarán</strong></i>." ( Prv 3:1-2 )</p>
<p> "13 <i>Bienaventurado el hombre que halla la sabiduría, y que obtiene la inteligencia;</i> 14 <i>porque su
  mercadería es mejor que la mercadería de la plata, y sus frutos más que el oro fino.</i> 15 <i>Más preciosa es que las
  piedras preciosas; y todo lo que puedes desear, no se puede comparar a ella.</i> 16 <strong>Largura de días</strong>
  <i>está en su mano derecha; en su izquierda riquezas y honra</i>." ( Prv 3:13-16 )</p>
<p> "<i>Oye, hijo mío, y recibe mis razones; y <strong>se te multiplicarán años de vida</strong></i>." ( Prv 4:10 )</p>
<p> "<i>El príncipe falto de entendimiento multiplicará los agravios; mas el que aborrece la avaricia, <strong>prolongará
  sus días</strong></i>." ( Prv 28:16 )</p>
<p><strong>Estos pasajes nos dicen que en la estructura mental de Salomón no existía la idea de un día fijo, inflexible
  y predestinado para la muerte de las personas.</strong> Si él hubiera pensado tal cosa, no hubiera dado los consejos
  que da en estos pasajes. En 3:1-2 le dice a su hijo que si sigue los lineamientos de su padre, <strong>tendría largura
    de días y que se aumentarían los años de vida.</strong> En 3:16 reitera lo dicho anteriormente, al decir que a la
  mano derecha de la sabiduría se halla largura de días, o sea, vida más larga; de lo cual se deduce sin mucho esfuerzo
  mental, que si no halla la sabiduría no tendrá largura de días, <strong>por lo tanto no es una fecha fija</strong>.
  Por último, en 4: 10 le dijo a su hijo que si recibía sus razones, <strong>se le multiplicarán años de vida</strong>.
  Es decir, que nos vuelve a hacer ver que en su estructura mental no existía la idea de un día prefijado para la
  muerte, lo cual nos indica a su vez que <strong>él no creía en la predestinación</strong>.</p>
<p> Algo semejante se ve en muchos otros pasajes, como por ejemplo en Dn 4:27 donde <strong>Daniel evidencia que no
  creía que todas las cosas estuvieran predestinadas</strong>, pues acoge la probabilidad de que Nabucodonosor, si
  seguía su consejo, <strong>podía prolongar</strong> su tranquilidad. De ahí se deduce que el tiempo que iba a durar la
  tranquilidad de este rey no estaba predestinado, sino que dependía de lo que él hiciera.</p>
<p> "<i>Por tanto, oh rey, aprueba mi consejo, y redime tus pecados con justicia, y tus iniquidades con misericordias
  para con los pobres; que <strong>tal vez será eso una prolongación de tu tranquilidad</strong></i>." ( Dn 4:27 )</p>
<p> También Moisés, que sabía más de doctrinas que todos los intérpretes de la Biblia, nos hace ver varias veces que él
  no creía en que todas las cosas estuvieran predestinadas, ni que todo tuviera que acontecer a fecha fija.</p>
<p> "<i>Para que temas a Jehová tu Dios, guardando todos sus estatutos y sus mandamientos que yo te mando, tú, y tu
  hijo, y el hijo de tu hijo, todos los días de tu vida, y <strong>que tus días sean prolongados</strong></i>." ( Dt 6:2
  )</p>
<p> "<i>Y para que os <strong>sean prolongados los días</strong> sobre la tierra, que juró Jehová a vuestros padres
  había de dar a ellos y a su simiente, tierra que fluye leche y miel</i>." ( Dt 11:9 )</p>
<p> "<i>Para que no se eleve su corazón sobre sus hermanos, ni se aparte del mandamiento a diestra ni a siniestra, a fin
  que <strong>prolongue sus días</strong> en su reino, él y sus hijos, en medio de Israel</i>." ( Dt 17:20 )</p>
<p> "<i>Dejarás ir a la madre, y tomarás los pollos para ti; para que te vaya bien, y <strong>prolongues tus
  días</strong></i>." ( Dt 22: 7 )</p>
<p> "<i>Pesas cumplidas y justas tendrás; efa cabal y justo tendrás, para que <strong>tus días sean prolongados</strong>
  sobre la tierra que Jehová tu Dios te da</i>." ( Dt 25:15 )</p>
<p> "<i>Mas <strong>si tu corazón se apartare, y no oyeres</strong>, y fueres incitado, y te inclinares a dioses ajenos,
  y los sirvieres; os protesto hoy que de cierto pereceréis, <strong>no tendréis largos días</strong> sobre la tierra,
  para ir a la cual pasas el Jordán para poseerla</i>." ( Dt 30:17-18 )</p>
<p> "<i>Porque no os es cosa vana, mas es vuestra vida; y <strong>por ellas haréis prolongar los días</strong> sobre la
  tierra, para poseer la cual pasáis el Jordán</i>" ( Dt 32: 47 )</p>
<p> En todos estos ejemplos hemos visto que personajes de inobjetable autoridad para decirlo, nos hacen ver que no hay
  un día fijo predestinado para todo y que ellos no creían en la predestinación. Puede haber algunos acontecimientos que
  Dios predestine que ocurran en una fecha determinada, como fue el caso de la crucifixión, que tenía que ocurrir el día
  que se mataba la pascua, pero eso no quiere decir que todo está predestinado.</p>
<p> En el pasaje siguiente vemos que <strong>el día de la muerte de Ezequías no estaba predestinado</strong>, porque
  después de la oración de este rey, <strong>se le pospuso la muerte</strong> otros quince años. Si hubiera estado
  predestinada su muerte para la época en que Isaías anunció su fallecimiento, no se hubiera cambiado para quince años
  después; y si hubiera sido predestinada su muerte para quince años después, no se le hubiera anunciado la muerte a
  Ezequías para cuando lo anunció Isaías, porque eso hubiera sido decir una mentira.</p>
<p> "1 <i>En aquellos días cayó Ezequías enfermo para morir. Y vino a él Isaías profeta, hijo de Amos, y le dijo: Jehová
  dice así: Ordena tu casa, porque tú morirás, y no vivirás.</i> 2 <i>Entonces volvió Ezequías su rostro a la pared, e
  hizo oración a Jehová.</i> 3 <i>Y dijo: Oh Jehová, te ruego que te acuerdes ahora que he andado delante de ti en
  verdad y con íntegro corazón, y que he hecho lo que ha sido agradable delante de tus ojos. Y lloró Ezequías con gran
  lloro.</i> 4 <i>Entonces fue palabra de Jehová a Isaías, diciendo:</i> 5 <i>Ve, y di a Ezequías: Jehová Dios de David
  tu padre dice así: Tu oración he oído, y visto tus lágrimas: he aquí que yo añado a tus días quince años</i>." ( Isa
  38:1-5 )</p>
<p> Pudiera alguien alegar que la muerte estaba predestinada para cuando Isaías la anunció primeramente, pero que luego
  Dios cambió esa predestinación y la predestinó para 15 años más tarde. En ese caso, esa persona esta recurriendo a un
  eufemismo ( cosa muy común en religión ) llamándole predestinación a lo que no es predestinación, puesto que la
  predestinación es inmutable. Y <strong>si la predestinación de los que creen en tal cosa no es inmutable, entonces
    tampoco lo sería la predestinación de los que van ser salvos</strong>.</p>
<p><strong>En realidad los que dicen creer en la predestinación no creen tal cosa.</strong> Ellos se autosugestionan y
  dicen que creen, pero en realidad no creen. Los predestinacionistas dicen creer que tanto la hora de la muerte como la
  del nacimiento están predestinadas. <strong>Sin embargo van al médico a curarse</strong>, pudiendo dejarlo todo a lo
  que Dios haya predestinado. Si Dios predestinó su muerte para un día, aunque él vaya al mejor médico del mundo, morirá
  ese día; ¿para qué gastar en médicos?</p>
<p><strong>Lo mismo ocurre con el día del nacimiento</strong>, todos dicen creer que está predestinado, pero todos usan
  métodos anticonceptivos para no tener un hijo cada nueve meses. Si ellos creyeran verdaderamente en la predestinación
  no usarían métodos anticonceptivos, porque al fin y al cabo lo que iba a pasar ya estaba escrito. Si iba a nacer un
  niño, vendría aunque él usara el mejor de todos los métodos anticonceptivos. Tampoco pagarían seguros, porque lo que
  iba a suceder, estaba predestinado. Si estaba predestinado que chocara y se quedara sin carro, se iba a quedar sin
  carro de todas maneras, aunque tuviera seguro; y si estaba predestinado que no se quedara sin carro, pues aunque no
  tuviera seguro, no se iba a quedar sin carro, y así sucesivamente. Tampoco cuidarían su cartera, porque si estaba
  predestinado que le robaran el dinero, se lo iban a robar aunque ellos lo cuidaran. Como ustedes ven, <strong>la
    realidad es que nadie cree realmente en la predestinación, aunque algunos, honestamente, se figuran que
    creen</strong>.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>