---
import Layout from "../layout/Layout.astro";
---

<Layout title="The False Predestination and the Fifth Commandment">
    <section>
        <p><strong>The False Predestination and the Fifth Commandment</strong></p>
        <p> Many brethren have been dogmatically taught to believe in predestination Jansen-Calvin style. This belief in
            predestination has two or three versions. One of these versions states that every thing that happens, from
            the fall
            of a leaf to the death of a person, is caused <strong>directly</strong> by God, and has been predestined to
            happen
            specifically year, month, day, hour, minute and second. Another version is that large events such as birth
            and death
            has been predestined, but not small events. <strong>However, all versions agree that birth and death are
                predestined.</strong></p>
        <p><strong>The Fifth Commandment</strong>, as it reads in Ex 20:12 says: "<i>Honour thy father and thy mother,
            <strong>that
                thy days may be long</strong> upon the land which the LORD thy God giveth thee</i>." ( Ex 20:12 )</p>
        <p> From this passage it is easy to get to the conclusion that the one who honors his father and mother is going
            to live
            more than the one who doesn't. This would mean that one of the factors that enters in the length of a
            person's life
            is how they relate to their parents. Consequently <strong>the length of the life of a person was not
                inflexibly
                predestined by God</strong>. Therefore the date of a person's death is not predestined. Note that it was
            said
            personally by God. This is in agreement with what Solomon says in Eccl 7:17. "<i>Be not over much wicked,
                neither be
                thou foolish: <strong>why shouldest thou die before thy time</strong></i>?" ( Eccl 7:17)</p>
        <p> In Dt 4:40 we see that the length of time the Israelites were going to stay in the promised land, was not a
            predestined number of years, but depended on the behavior of the people regarding the commandments of God.
            "<i><strong>Thou shalt keep therefore his statutes, and his commandments</strong>, which I command thee this
                day,
                that it may go well with thee, and with thy children after thee, and <strong>that thou mayest prolong
                    thy
                    days</strong> upon the earth, which the LORD thy God giveth thee, for ever</i>." ( Dt 4:40 )</p>
        <p> The verse below, likewise, teaches us what God said to King Solomon, when he succeeded his father King David
            in the
            throne. "<i>And if thou wilt walk in my ways, to keep my statutes and my commandments as thy father David
                did walk,
                then</i> <strong><i>I will lengthen thy days</i>.</strong>" ( I K 3:14 )</p>
        <p><strong>As seen in all three previous passages, there is no preset time for the death of each and every human
            being</strong>. Death depends of several factors. If an individual's health, vitality, and genes, would
            normally
            allow him to live 70 years, but this individual behaves foolishly, wickedly, and transgresses God's
            commandments, he
            will instead last less than 70 years. According to the verse recently read, God, Himself, said to Solomon,
            that if
            the king would be obedient, God would prolong his life.</p>
        <p>We also will see that in Solomon's mind set there was no such idea of predestination, but instead, he had the
            solid
            concept that life span could be shortened or lengthened according to certain circumstances. Let's read Prv
            3:1-2;
            3:16; 4:10 and 28:16. "<i>My son, forget not my law; but let thine heart keep my commandments, <strong>for
                length of
                days, and long life</strong>, and peace, shall they add to thee</i>." ( Prv 3:1-2) "<i>Happy is the man
                that
                findeth wisdom, and the man that getteth understanding. For the merchandise of it is better than the
                merchandise
                of silver, and the gain thereof than fine gold. She is more precious than rubies, and all the things
                thou canst
                desire are not to be compared unto her. <strong>Length of days is in her right hand</strong>; and in her
                left
                hand riches and honour</i>." ( Prv 3:13-16 )</p>
        <p> "<i>Hear, O my son, and receive my sayings; and <strong>the years of thy life shall be many</strong></i>."
            (Prv 4:10
            )</p>
        <p> "<i>The prince that wanteth understanding is also a great oppressor; but he that hateth covetousness
            <strong>shall
                prolong his days</strong></i>." ( Prv 28:16 )</p>
        <p> It is evident that in Solomon's mind set predestination didn't exist in the sense that the day of birth and
            death
            was inflexibly fixed. <strong>Prophet Daniel also thought the same way</strong>. The time length of
            tranquility of
            king Nabuchadnezzar was not pre-set, it depended of what he did or did not do. "<i>Wherefore, O king, let my
                counsel
                be acceptable unto thee, and break off thy sins by righteousness, and thine iniquities by shewing mercy
                to the
                poor; if it may be <strong>a lengthening of thy tranquility</strong></i>." ( Dn 4:27 )</p>
        <p><strong>Moses, who knew better that all scholars and Bible teachers</strong>, shows us in several instances,
            that he
            did not believe in the predestination of death. Let's heed his words. "<i>That thou mightest fear the LORD
                thy God,
                to keep all his statutes and his commandments, which I command thee, thou, and thy son, and thy son's
                son, all
                the days of thy life; and <strong>that thy days may be prolonged</strong></i>." ( Dt 6:2 )</p>
        <p> "8 <i>Therefore shall ye keep all the commandments which I command you this day, that ye may be strong, and
            go in
            and possess the land, whither ye go to possess it;</i> 9 <i>and <strong>that ye may prolong your
            days</strong> in
            the land, which the LORD sware unto your fathers to give unto them and to their seed, a land that floweth
            with milk
            and honey</i>." ( Dt 11:8-9 )</p>
        <p> "<i>That his heart be not lifted up above his brethren, and that he turn not aside from the commandment, to
            the
            right hand, or to the left, to the end <strong>that he may prolong his days</strong> in his kingdom, he, and
            his
            children, in the midst of Israel</i>." ( Dt 17:20 )</p>
        <p> "<i>But thou shalt in any wise let the dam go, and take the young to thee; that it may be well with thee,
            and
            <strong>that thou mayest prolong thy days</strong></i>." ( Dt 22:7 )</p>
        <p> "<i>But thou shalt have a perfect and just weight, a perfect and just measure shalt thou have, <strong>that
            thy days
            may be lengthened</strong> in the land which the LORD thy God giveth thee.</i>" ( Dt 25: 15 )</p>
        <p> "<i>But if thine heart turn away, so that thou wilt not hear, but shalt be drawn away, and worship other
            gods, and
            serve them; I denounce unto you this day, that ye shall surely perish, and that <strong>ye shall not prolong
                your
                days</strong> upon the land, whither thou passest over Jordan to go to possess it</i>." ( Dt 30:17-18 )
        </p>
        <p><i>"For it is not a vain thing for you; because it is your life, and through this thing <strong>ye shall
            prolong your
            days</strong> in the land, whither ye go over Jordan to possess it</i>." ( Dt 32:47 )</p>
        <p><strong>In all the above passages we see that persons whose authority cannot be questioned, have us know that
            there
            is no such thing as a predestined day of death</strong>. Some events could be predestined according to
            divine plans,
            as was the day of the crucifixion. It had to happen the day before de Passover, the very day the ceremonial
            lamb was
            to be killed; but it doesn't mean that every thing is predestined.</p>
        <p><strong> Likewise, we will see in the next passage, that the day of King Hezekiah's death</strong> was not
            inflexibly
            fixed or predestined, because after his prayer a span of fifteen years was added to his life. If his death
            would
            have been predestined, for the time Isaiah announced Hezekiah's death, it would not have been changed for
            fifteen
            years latter. Similarly, if his death would have been predestined for fifteen years later, Isaiah would not
            had said
            that he was to die fifteen years before, because it would not have been true. "1 <i><strong>In those days
                was
                Hezekiah sick unto death</strong>. And Isaiah the prophet the son of Amoz came unto him, and said unto
                him:
                <strong>Thus saith the LORD</strong>: Set thine house in order, for thou shalt die, and not live.</i> 2
            <i>Then
                Hezekiah turned his face toward the wall, and prayed unto the LORD,</i> 3 <i>and said: Remember now, O
                LORD, I
                beseech thee, how I have walked before thee in truth and with a perfect heart, and have done that which
                is good
                in thy sight. And Hezekiah wept sore.</i> 4 <i>Then came the word of the LORD to Isaiah, saying:</i> 5
            <i>Go,
                and say to Hezekiah: Thus saith the LORD, the God of David thy father: I have heard thy prayer, I have
                seen thy
                tears, behold, <strong>I will add unto thy days fifteen years</strong></i>." ( Isa 38:1-5 )</p>
        <p><strong>Could some allege</strong> that Hezekiah's death was predestinated for the time Isaiah first
            announced it,
            and God changed the predestination to fifteen years later? Well, in this case they are using a euphemism (
            something
            very common in religion ) by calling "predestination" what is not predestination, inasmuch as predestination
            is
            unchangeable. If predestination is not unchangeable, then neither should other predestinations being
            preached be
            unchangeable. If predestination is changeable, then it is not predestination.</p>
        <p><strong>In fact, those who say they believe in predestination, don't really believe in it.</strong> They are
            victims
            of autosuggestion, <strong>but do not really believe it per se</strong>. Let's take a look into the facts.
            According
            to people who believe in predestination, there are two events that are certainly thought to be predestined,
            birth
            and death. Nonetheless, <strong>when predestination believers are sick they go to the doctor</strong>,
            instead of
            trusting that if they are predestined to live, they will. If it is predestined that they die, they are going
            to die
            even if they go to the best doctor; and if death is not predestined for this time of illness, they will live
            whether
            or not they go to a doctor at all. Why then waste one's money in doctors? So, it is evident that they really
            don't
            believe in predestination even when they say they do, and <strong>even when they honestly think so.</strong>
        </p>
        <p><strong>The same occurs with the predestination of births.</strong> If they believe in predestination they
            would not
            use contraception, because if a birth is not predestined, no conception will occur, and if a birth is
            predestined no
            contraception will avoid it. However, contraception is used because <strong>they really do not believe in
                predestination</strong>.</p>
        <p><strong>The same occurs when they buy insurance</strong> for a house or car. A believer in predestination
            would say
            if something costly is going to happen it will, and we will have to pay for it anyway, then, why to buy
            insurance?.
            One who does not believe in predestination would buy insurance to defray unknown future expenses we may be
            unable to
            pay.</p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    