---
import Layout from "../layout/Layout.astro";
---

<Layout title="Let's take a look at those who think they believe in absolute predestination">
    <section>
        <p><strong>Let's take a look at those who think they believe in absolute predestination</strong></p>
        <p><strong>Predestination of circumstances</strong> is that in which God predestines a person<strong>,</strong>
            conglomerate or nation to live under certain circumstances that are convenient to His
            plans<strong>,</strong> not to
            be saved or lost<strong>.</strong></p>
        <p><strong>Absolute predestination</strong> is that which assures that God orders certain persons to be saved
            and others
            to be damned<strong>;</strong> and that everything<strong>,</strong> from the date of birth or
            death<strong>,</strong> the health or illness<strong>,</strong> even the falling of a leaf from a
            tree<strong>,</strong> is something predestined by God and that He provokes<strong>,</strong> and no one can
            change
            said predestinations<strong>.</strong></p>
        <p><strong>There are some who assure that they believe in absolute predestination,</strong> and many of
            them<strong>,</strong> in reality imagine they believe this<strong>,</strong> but in reality do
            not<strong>.</strong> What is the basis of my thought<strong>?</strong> If you observe the
            actions<strong>,</strong>
            (not the words) of those who suppose that they believe in absolute predestination<strong>,</strong> you will
            see
            that in their heart of hearts do not believe what they think they believe in<strong>.</strong> I will show
            some
            examples below of what I am saying<strong>.</strong> Up to this point<strong>,</strong> I am referring to
            those who
            are honest with God in their beliefs<strong>.</strong></p>
        <p> There is<strong>,</strong> however<strong>,</strong> another group <strong>who believes that by pretending
            to have
            an "unshakable" faith in that salvation is something that is predestined, that they are going to force God
            to save
            them in spite of not repenting of their sins.</strong> I say that they are "pretending to have faith in
            absolute
            predestination"<strong>,</strong> because the ones that say that they believe in such a thing in reality do
            not
            believe in that type of predestination<strong>.</strong></p>
        <p> The proof is that they take out insurance policies<strong>,</strong> take medication<strong>,</strong> they
            submit
            themselves to surgery<strong>,</strong> go to the dentist<strong>,</strong> go to the eye
            doctor<strong>,</strong>
            take care of their wallets so that their money is not stolen and do not preach the gospel where it is
            prohibited
            under a death sentence<strong>.</strong></p>
        <p><strong>If they truly believed in absolute predestination,</strong> they would not have to have
            insurance<strong>,</strong> because if it is predestined that they will lose it all<strong>,</strong> even
            if they
            have insurance<strong>,</strong> they would lose it all<strong>.</strong> If it was predestined that they
            would not
            lose anything<strong>,</strong> even if they did not have insurance<strong>,</strong> they would not lose
            anything<strong>.</strong> Why waste money on insurance if that money could be donated to the spread of the
            gospel<strong>?</strong></p>
        <p><strong>If they truly believed in absolute predestination,</strong> they would not have to take medicine or
            subject
            themselves to surgery<strong>,</strong> because if they were predestined to be healthy<strong>,</strong>
            they would
            be healthy even if they do not take medicine<strong>,</strong> not have any operations<strong>,</strong>
            therefore<strong>,</strong> none of that would be necessary<strong>.</strong> If<strong>,</strong> on the
            contrary<strong>,</strong> they were predestined to not be healthy<strong>,</strong> even if they took
            medicine or
            subjected themselves to surgery<strong>,</strong> they would not be able to recuperate their
            health<strong>.</strong></p>
        <p><strong>If they truly believed in absolute predestination,</strong> they would not go to a
            dentist<strong>,</strong>
            because if the conservation of their teeth was predestined<strong>,</strong> their teeth would be conserved
            even if
            they didn't spend any money on the dentist<strong>.</strong> The same could be said about the eye
            doctor<strong>,</strong> why spend money on them if it is predestined that they have good
            eyesight<strong>.</strong>
            And if what was predestined was that they would have poor vision<strong>,</strong> they would have poor
            vision even
            if they went to see the best eye doctor in the world<strong>.</strong></p>
        <p><strong>If they truly believed in absolute predestination,</strong> they would not watch their wallet and
            their money<strong>,</strong>
            because if they were sure that it was predestined that their money would not be stolen<strong>,</strong> no
            one
            could steal it<strong>;</strong> while if it was predestined that their money would be
            stolen<strong>,</strong> it
            would be stolen no matter how much they took care of it<strong>.</strong></p>
        <p><strong>If they truly believed in absolute predestination,</strong> they would go to preach the gospel to
            places
            where it was prohibited<strong>,</strong> knowing that the day of their death was predestined and no one
            could kill
            them beforehand nor arrest them if it was not predestined that they be arrested<strong>.</strong>
            However<strong>,</strong> if their arrest was predestined<strong>,</strong> they would go to jail even if
            they did
            not go to a prohibited region to preach<strong>.</strong></p>
        <p><strong>The same thing happens when we observe them caring for their children,</strong> which is wise and
            prudent<strong>,</strong> but would be against what they say they believe in<strong>.</strong> If it is
            predestined
            that something bad would happen to that child<strong>,</strong> it will happen no matter how much they are
            cared for<strong>;</strong>
            and<strong>,</strong> if it is predestined that nothing happen to that child<strong>,</strong> it would not
            happen
            even if they were not cared for<strong>.</strong> Let us live a carefree life<strong>!</strong> In any event<strong>,</strong>
            "what will happen is written"<strong>.</strong> If the kidnapping of the child is
            predestined<strong>,</strong> he
            will be kidnapped even if we care for him<strong>;</strong> but if it is predestined that the child
            <strong>not</strong> be kidnapped<strong>,</strong> he will not be kidnapped even if we neglect to take care
            of
            him<strong>.</strong></p>
        <p><strong>One of the things that according to this erroneous doctrine is predestined</strong> is the day of
            death and
            birth<strong>.</strong> Nevertheless<strong>,</strong> they use <strong>birth control methods.</strong> If
            they
            really believed in absolute predestination<strong>,</strong> they would not do so because if the birth of a
            baby
            were predestined<strong>,</strong> he would be born even if they used the best of methods<strong>;</strong>
            and if
            it was predestined that he not be born<strong>,</strong> he would not be born even if they did not use any
            birth
            control method<strong>.</strong></p>
        <p><strong>Why call upon the police or fire department?</strong> If it is predestined that your entire house or
            part
            thereof be burned<strong>,</strong> it will burn even if the fire department arrives on
            time<strong>.</strong> On
            the other hand<strong>,</strong> if it is predestined that the house <strong>not</strong>
            burn<strong>,</strong> nor
            the entire house or part of it<strong>,</strong> it will not burn even if the fire department don't come nor
            anyone
            else douse it with water<strong>.</strong> <strong>Show your heroic and unshakable faith,</strong> don't
            call the
            fire department<strong>,</strong> sit down calmly to watch how what is predestined will
            occur<strong>.</strong></p>
        <p><strong>The same thing happens with police protection.</strong> If it is predestined that those who are
            breaking a
            window enter<strong>,</strong> rob<strong>,</strong> damage<strong>,</strong> hurt<strong>,</strong>
            kill<strong>,</strong> rape<strong>,</strong> etc<strong>.,</strong> such a thing will occur even if the
            police is
            called upon<strong>.</strong> On the contrary<strong>,</strong> if it is <strong>not</strong> predestined
            that they
            enter<strong>,</strong> rob<strong>,</strong> damage<strong>,</strong> hurt<strong>,</strong> kill or
            rape<strong>,</strong> why bother the police<strong>,</strong> it is better to turn in the other direction
            and
            continue to sleep calmly with the assurance that "what is going to happen is written"<strong>.</strong></p>
        <p><strong>Do you know any believer</strong> of absolute predestination who lives within the parameters in which
            they
            are supposed to live in<strong>?</strong> <strong>No one!</strong> Why<strong>?</strong> Because in reality
            <strong>no
                one</strong> believes in such a thing<strong>.</strong> With their mouths they say they
            believe<strong>,</strong> but in their hearts they do not believe<strong>.</strong> Many of them honestly
            imagine
            that they believe in such a thing<strong>,</strong> but in reality they demonstrate that they do not do
            so<strong>.</strong></p>
        <p><strong>As we can see, many who think they believe in absolute predestination, in reality are deceiving
            themselves,
            because they truly do not believe in it.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    