
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Predestination, death, birth, contraceptives, doctors and insurance</title>
</head>
<body>
<p><strong>PREDESTINATION, DEATH OF HEZEKIAH, THE USE OF CONTRACEPTIVES, DOCTORS AND INSURANCE</strong></p>
<p> There are many people who believe everything is predestined with exactness; the year, month, day, hour, minute,
    second, and above all else, the day of our death and our birth. <strong>The truth of the matter is that these people
        think they believe such a thing, but in reality they don't</strong>.</p>
<p> In the following passage, we will notice that <strong>the day of Hezekiah's death was not predestined</strong>,
    since his death was postponed fifteen years after the king prayed unto the Lord. If he was predestined to die in the
    epoch Isaiah announced his death; his life would not have been extended fifteen more years. And if he were
    predestined to die after the fifteen years, his death would not have been announced for the time Isaiah did.
    Otherwise, he would have been prophesizing a lie.</p>
<p><strong>Some fanatic could allege</strong> that his death was predestined for when Isaiah announced his death, but
    then God changed his predestination and predestined it to be fifteen years later. In this case, the fanatic is using
    a euphemism (something commonly done by those who back errors) by saying something is predestined when it is not
    predestined. <strong>Predestination is immutable. If predestination were not immutable, then Janseno-Calvinist
        "predestination" of salvation, wouldn't be predestination either</strong>.</p>
<p></p>
<p>"1 <strong>In those days was Hezekiah sick unto death</strong><i>. And Isaiah the prophet the son of Amoz came unto
    him, and said unto him: <strong>Thus saith the LORD: Set thine house in order, for thou shalt die, and not
        live</strong>.</i> 2 <i>Then Hezekiah turned his face toward the wall, and prayed unto the LORD.</i> 3 <i>And
    said: Remember now, O LORD, I beseech thee, how I have walked before thee in truth and with perfect heart, and have
    done that which is good in thy sight. And Hezekiah wept sore.</i> 4 <i>Then came the word of the LORD to Isaiah
    saying:</i> 5 <i>Go, and say to Hezekiah: Thus saith the LORD, the God of David thy father: I have heard thy prayer,
    I have seen thy tears, <strong>behold I will add unto thy days fifteen years</strong></i>." ( Isa 38: 1-5 )</p>
<p> In reality, <strong>those who say they believe in predestination do not believe in such a thing</strong>. They
    struggle to auto-convince themselves that they believe, when in reality they don't. Predestinationists believe that
    <strong>the moment of our death like the moment of our birth is predestined</strong>. Nevertheless, they go to the
    doctors to cure themselves, instead of leaving it all up to what God has predestined.</p>
<p> The same occurs with childbearing. They all say they believe in predestination, yet they use contraceptive methods
    so they do not have children every nine months. <strong>If they believed in predestination, they wouldn't use
        contraceptive methods</strong>, since what is going to happen has already been written. If they were predestined
    to have a child, they are going to have that child, even if they use contraceptive methods. On the contrary, if they
    were predestined not to have a child, they shouldn't use contraceptive methods. It should not be necessary. They use
    contraceptive methods even so proving that in the depths of their soul, they do not believe in predestination.</p>
<p><strong>If their house were predestined not to be set on fire,</strong> it would not be ignited in any way.
    Consequently, they should not be wasting their money on this type of insurance. If it were predestined for their
    illness to be cured, they wouldn't have to go to the doctor. If their illness was <strong>not</strong> to be cured,
    then the doctor can do nothing for them. So why do they go to the doctor? As you can see, <strong>predestinationists
        suppose they believe in predestination, yet in reality, in the depths of their souls, they do not believe in
        predestination.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>