---
import Layout from "../layout/Layout.astro";
---

<Layout title="Los predestinacionistas no creen en la predestinación">
    <section>
<p><strong>LA PREDESTINACIÓN, LA MUERTE DE EZEQUÍAS, EL USO DE ANTICONCEPTIVOS, LOS MÉDICOS Y LOS SEGUROS</strong></p>
<p> Hay quienes piensan que todo está predestinado con exactitud de año<strong>,</strong> mes<strong>,</strong>
    día<strong>,</strong> hora<strong>,</strong> minuto y segundo<strong>,</strong> sobre todo el día de la muerte y del
    nacimiento<strong>.</strong> <strong>La realidad es que los que se figuran que creen tal cosa, en realidad no la
        creen, como veremos más abajo.</strong></p>
<p> En este pasaje vemos que <strong>el día de la muerte de Ezequías no estaba predestinado,</strong> porque después de
    la oración de este rey se le pospuso la muerte otros quince años<strong>.</strong> Si hubiera estado predestinado su
    fallecimiento para la época en que Isaías anunció su muerte<strong>,</strong> no se hubiera cambiado para quince
    años después<strong>;</strong> y si hubiera sido predestinado su fallecimiento para quince años
    después<strong>,</strong> no se le hubiera anunciado la muerte a Ezequías para cuando la anunció
    Isaías<strong>,</strong> porque eso hubiera sido profetizar una mentira<strong>.</strong></p>
<p><strong>Pudiera algún fanático alegar</strong> que la muerte estaba predestinada para cuando Isaías la anunció
    primeramente<strong>,</strong> pero que luego Dios cambió esa predestinación y la predestinó para 15 años más
    tarde<strong>.</strong> En ese caso<strong>,</strong> el fanático esta recurriendo a un eufemismo (cosa muy común en
    los que mantienen errores)<strong>,</strong> llamándole predestinación a lo que no es
    predestinación<strong>,</strong> puesto que <strong>la predestinación es inmutable. Si la "predestinación" de ellos
        no es inmutable, entonces tampoco lo sería la predestinación janseno-calvinista de la salvación.</strong></p>
<p></p>
<p><strong>"</strong>1 <strong>En aquellos días cayó Ezequías enfermo para morir.</strong> <i>Y vino a él Isaías profeta<strong>,</strong>
    hijo de Amoz<strong>,</strong> y díjole<strong>:</strong> <strong>Jehová dice así: Ordena tu casa, porque tú
        morirás, y no vivirás.</strong></i> 2 <i>Entonces volvió Ezequías su rostro a la pared<strong>,</strong> e hizo
    oración a Jehová<strong>.</strong></i> 3 <i>Y dijo<strong>:</strong> Oh Jehová<strong>,</strong> ruégote te acuerdes
    ahora que he andado delante de ti en verdad y con íntegro corazón<strong>,</strong> y que he hecho lo que ha sido
    agradable delante de tus ojos<strong>.</strong> Y lloró Ezequías con gran lloro<strong>.</strong></i> 4 <i>Entonces
    fue palabra de Jehová a Isaías<strong>,</strong> diciendo<strong>:</strong></i> 5 <i>Ve<strong>,</strong> y di a
    Ezequías<strong>:</strong> Jehová Dios de David tu padre dice así<strong>:</strong> Tu oración he
    oído<strong>,</strong> y visto tus lágrimas<strong>:</strong> <strong>he aquí que yo añado a tus días quince
        años</strong></i><strong>."</strong> (Isa 38<strong>:</strong>1-5)</p>
<p><strong>En realidad los que dicen creer en la predestinación no creen tal cosa. Ellos se autosugestionan</strong> y
    dicen que creen<strong>,</strong> pero en realidad no creen<strong>.</strong> Los predestinacionistas creen que
    tanto <strong>la hora de la muerte como la del nacimiento están predestinadas.</strong> Sin embargo van al médico a
    curarse<strong>,</strong> pudiendo dejarlo todo a lo que Dios haya predestinado<strong>.</strong></p>
<p> Lo mismo ocurre con el día del nacimiento<strong>,</strong> todos dicen creer que está
    predestinado<strong>,</strong> pero todos usan métodos anticonceptivos para no tener un hijo cada nueve
    meses<strong>.</strong> <strong>Si ellos de verdad creyeran en la predestinación no usarían métodos
        anticonceptivos,</strong> porque al fin y al cabo lo que iba a pasar ya estaba <strong>"</strong>escrito<strong>".</strong>
    Si estaba predestinado que tuvieran un hijo lo iban a tener aunque usaran métodos anticonceptivos<strong>;</strong>
    por el contrario<strong>,</strong> si estaba predestinado que no tuvieran un hijo<strong>,</strong> no era necesario
    usar métodos anticonceptivos<strong>,</strong> pues no lo iban a tener<strong>.</strong> Sin
    embargo<strong>,</strong> usan métodos anticonceptivos<strong>,</strong> señal evidente de que en las profundidades
    de su alma no creen en la predestinación</p>
<p><strong>Si estaba predestinado que su casa no se incendiara,</strong> no se iba a incendiar de ninguna manera<strong>,</strong>
    así que no debían gastar su dinero en seguros contra incendio<strong>.</strong> Si estaba predestinado que la
    enfermedad que adquirieron se les sanara<strong>,</strong> no tenían que ir al médico<strong>,</strong> se sanaría
    de todas formas<strong>.</strong> Por el contrario<strong>,</strong> si estaba predestinado que la enfermedad que
    adquirieron <strong>no</strong> se les sanara<strong>,</strong> aunque fueran al médico no iban a
    sanar<strong>.</strong> Así que <strong>¿</strong>para qué van al médico<strong>?</strong> Como
    ven<strong>,</strong> los predestinacionistas <strong>se figuran</strong> que ellos creen en la
    predestinación<strong>,</strong> pero <strong>en la realidad, de las profundidades de su alma, ellos no creen en la
        predestinación.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
<p></p>

    </section>
</Layout>
    