
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Como entender mejor el Sermón Profético</title>
</head>
<body>
<p><strong>Cómo entender más fácilmente el Sermón Profético</strong></p>
<p>A poco que se analice el capítulo 24 de Mateo se va a notar que consta de seis secciones<strong>:</strong></p>
<p><strong> Primera sección,</strong> los versículos 1-2<strong>,</strong> en la que se habla específicamente de la
    destrucción del Templo única y exclusivamente<strong>.</strong></p>
<p><strong> Segunda sección,</strong> versículo 3<strong>,</strong> en donde los discípulos le hacen a Jesús las tres
    preguntas que Cristo luego va a contestar en ese mismo orden<strong>.</strong></p>
<p><strong> Tercera sección,</strong> versículos 4-6 dónde Jesús da respuesta a la primera pregunta<strong>,</strong> la
    que se refiere a la destrucción del Templo<strong>,</strong> y además les vaticina muy sucintamente lo que iba a
    ocurrir en la era apostólica<strong>.</strong></p>
<p><strong> Cuarta sección,</strong> versículos 7-14<strong>,</strong> donde responde a la segunda y tercera
    preguntas<strong>,</strong> haciendo una breve y concisa reseña de los hechos que iban a acontecer en la época ya
    cercana al fin del mundo<strong>,</strong> desde las guerras mundiales hasta la Segunda Venida<strong>.</strong></p>
<p><strong> Quinta sección,</strong> versículos 15-34<strong>,</strong> en la que detalla el lapso comprendido entre la
    aparición de la Abominación de asolamiento y la Segunda Venida<strong>.</strong></p>
<p><strong> Sexta sección,</strong> versículos 35-51<strong>,</strong> en donde describe cómo sucederán ciertas cosas
    durante la Segunda Venida<strong>,</strong> y pone símiles y hace admoniciones sobre cómo comportarse en aquél
    tiempo<strong>,</strong> y cómo va ser éste<strong>.</strong> Analicemos las distintas secciones<strong>.</strong>
</p>
<p><strong> La primera sección</strong> (Mt 24<strong>:</strong>1-2) <strong>evidentemente se refiere al
    pasado,</strong> puesto que solamente habla de la destrucción del Templo<strong>,</strong> ocurrida en el año 70 de
    nuestra era<strong>.</strong> En otros pasajes<strong>,</strong> como Lucas
    19<strong>:</strong>43-44<strong>,</strong> también Jesús mencionó esta destrucción del Templo<strong>,</strong> que
    en aquel momento estaba aún en el futuro<strong>.</strong></p>
<p> Es de notarse<strong>,</strong> sin embargo<strong>,</strong> que en el episodio narrado <strong>en el antes
    mencionado pasaje de Lucas,</strong> Jesús no se halla hablándole a los discípulos en el Templo ni en el Monte de
    los Olivos<strong>,</strong> sino que se trata de otra ocasión diferente de la del Sermón
    Profético<strong>.</strong> Se trata de la entrada en Jerusalem el Domingo de Ramos<strong>.</strong> No
    obstante<strong>,</strong> la profecía respecto al Templo es la misma<strong>,</strong> pero en
    ella<strong>,</strong> además<strong>,</strong> <strong>da la razón para que la destrucción ocurriera, a saber: que
        no conocieron el tiempo de su visitación.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque vendrán días sobre ti<strong>,</strong> que tus enemigos te cercarán con baluarte<strong>,</strong>
    y te pondrán cerco<strong>,</strong> y de todas partes te pondrán en estrecho<strong>,</strong> y te derribarán a
    tierra<strong>,</strong> y a tus hijos dentro de ti<strong>;</strong> y <strong>no dejarán sobre ti piedra sobre
        piedra; por cuanto no conociste el tiempo de tu visitación</strong></i><strong>."</strong> (Lc
    19<strong>:</strong>43- 44)</p>
<p> Como se ve<strong>,</strong> Cristo liga en este pasaje de Lucas<strong>,</strong> la destrucción de Jerusalem y el
    Templo a las acciones perversas de aquella generación<strong>.</strong> <strong>Por lo tanto, es lógico pensar que
        la destrucción anunciada en ese momento ocurriría a aquella generación, en aquella época apostólica.</strong> Es
    decir<strong>,</strong> que es cosa del pasado<strong>,</strong> no del presente ni del futuro<strong>.</strong></p>
<p> Para que una tercera persona<strong>,</strong> ajena a una conversación<strong>,</strong> entienda cabalmente la
    respuesta que alguien da a su interlocutor<strong>,</strong> es necesario que primero atienda a la pregunta de éste
    y<strong>,</strong> si es posible<strong>,</strong> que se percate del ambiente físico y psicológico de la
    conversación<strong>,</strong> sin llegar a ridículas exageraciones que siempre conducen a error<strong>.</strong>
    Hagámoslo así con este capítulo y esta conversación<strong>.</strong></p>
<p> Después que Jesús acabó de denunciar a los escribas y fariseos<strong>,</strong> en sus propias
    caras<strong>,</strong> sus hipocresías<strong>,</strong> maldades<strong>,</strong> etc<strong>.,</strong>
    (capítulo 23)<strong>,</strong> se retiraba del Templo<strong>,</strong> a la vez que <strong>sus discípulos, al
        parecer como quienes comentaban la majestuosidad de aquella arquitectura, le señalaban los edificios</strong>
    (Mt 24<strong>:</strong>1)<strong>.</strong> Digo que los discípulos hablaban llenos de admiración por aquella
    arquitectura<strong>,</strong> porque eso se ve claramente en Mr 13<strong>:</strong>1 donde uno de sus discípulos
    menciona tal cosa al decir<strong>:</strong> <strong>"</strong><i>Maestro<strong>,</strong> mira qué piedras<strong>,</strong>
        y qué edificios</i><strong>."</strong></p>
<p> Respondiendo a esas palabras de los discípulos<strong>,</strong> Jesús<strong>,</strong> <strong>refiriéndose,
    evidentemente, a los edificios que le alababan,</strong> dijo que no quedaría allí piedra sobre
    piedra<strong>,</strong> vaticinando así en forma muy general y escueta<strong>,</strong> la total destrucción de
    aquel Templo (versículo 2)<strong>.</strong> Era este Templo algo que los judíos creían que constituía un seguro
    contra castigos divinos<strong>,</strong> dado que Dios no iba a permitir (creían ellos) que Su Templo fuera
    destruido<strong>.</strong> Ver Jer 7<strong>:</strong>3- 4<strong>,</strong> donde constatamos que los judíos
    tenían esa creencia<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Y salido Jesús<strong>,</strong> se iba del Templo<strong>,</strong> y se llegaron sus
    discípulos<strong>,</strong> para mostrarle los edificios del Templo<strong>.</strong></i> <i>2</i> <i>Y
    respondiendo él<strong>,</strong> les dijo<strong>:</strong> <strong>¿</strong>Veis todo esto<strong>?</strong> de
    cierto os digo<strong>,</strong> que no será dejada aquí piedra sobre piedra<strong>,</strong> que no sea destruida</i><strong>."</strong>
    (Primera sección<strong>,</strong> Mt 24<strong>:</strong>1-2)</p>
<p></p>
<p></p>
<p><strong>"</strong><i>Así ha dicho Jehová de los ejércitos<strong>,</strong> Dios de Israel<strong>:</strong> Mejorad
    vuestros caminos y vuestras obras<strong>,</strong> y os haré morar en este lugar<strong>.</strong> No fiéis en
    palabras de mentira<strong>,</strong> diciendo<strong>:</strong> <strong>Templo de Jehová, Templo de Jehová, Templo
        de Jehová es éste</strong></i><strong>."</strong> (Jer 7<strong>:</strong>3-4)</p>
<p><strong>Después de hacerles conocer la futura destrucción del Templo,</strong> siguió Jesús
    caminando<strong>,</strong> y al llegar al Monte de los Olivos se sentó<strong>;</strong> <strong>y cuatro de sus
        discípulos, haciendo un aparte con él, le hicieron tres preguntas:</strong> <strong>a</strong><strong>)</strong>
    <strong>¿</strong>Cuándo serán estas cosas<strong>?</strong> Al decir <strong>"</strong>estas
    cosas<strong>"</strong> se estaban refiriendo sin duda alguna a lo que Jesús les había acabado de
    hablar<strong>,</strong> o sea lo de la destrucción del Templo<strong>.</strong> Luego le hacen otras dos preguntas
    sobre cosas que Jesús no había mencionado<strong>,</strong> pero que a ellos les interesaba<strong>,</strong> que
    son las siguientes<strong>:</strong> <strong>b)</strong> <strong>¿</strong>Qué señal habrá de tu Segunda
    Venida<strong>?;</strong> y <strong>c)</strong> <strong>¿</strong>Qué señal habrá del fin de mundo<strong>?</strong>
    Las respuestas a estas tres preguntas<strong>,</strong> y en ese mismo orden<strong>,</strong> es lo que hay que
    esperar de Jesús<strong>.</strong></p>
<p> Ahora bien<strong>,</strong> fíjense que el sermón profético no fue público<strong>,</strong> sino que sólo le habló
    a Pedro<strong>,</strong> Jacobo<strong>,</strong> Juan y Andrés como se ve en Mr
    13<strong>:</strong>3<strong>.</strong> <strong>"</strong><i>Y sentándose <strong>en el monte de las Olivas</strong>
        delante del Templo<strong>,</strong> le preguntaron <strong>aparte Pedro y Jacobo y Juan y
            Andrés</strong></i><strong>".</strong></p>
<p><strong>En resumen:</strong> la primera sección comprende solamente lo que Jesús dijo sobre la destrucción del Templo<strong>,</strong>
    lo cual fue lo que motivó las tres preguntas de que hablamos<strong>.</strong></p>
<p><strong>La segunda sección</strong> (Mt 24<strong>:</strong>3) se limita a mencionar las tres preguntas que los
    discípulos le hacen a Jesús<strong>,</strong> no requiere explicación alguna<strong>,</strong> salvo tenerlas en
    cuenta para poder entender las respuestas<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y sentándose él en el monte de las Olivas<strong>,</strong> se llegaron a él <strong>los
    discípulos aparte,</strong> diciendo<strong>:</strong> Dinos<strong>,</strong> <strong>¿cuándo serán estas cosas, y
    qué señal habrá de tu venida, y del fin del mundo</strong></i><strong>?</strong> (Segunda sección<strong>,</strong>
    Mt 24<strong>:</strong> 3)</p>
<p><strong> </strong></p>
<p><strong> Analicemos juntas la tercera y la cuarta sección para facilitar el estudio.</strong></p>
<p><strong> La tercera sección</strong> (Mt 24<strong>:</strong>4-6) y</p>
<p><strong> La cuarta sección</strong> (Mt 24<strong>:</strong>7-14)</p>
<p> La tercera sección se refiere a la época apostólica<strong>;</strong> y la que le sigue<strong>,</strong> la
    cuarta<strong>,</strong> se refiere a la actualidad y al futuro<strong>.</strong> Vamos ahora a demostrar que estos
    dos períodos<strong>,</strong> los correspondientes a la tercera y la cuarta sección<strong>,</strong> son
    diferentes<strong>;</strong> y vamos a darnos cuenta de que <strong>hay un salto de siglos entre el versículo 6 y el
        7.</strong> Para pensar que se trata de dos períodos diferentes de la historia<strong>,</strong> <strong>me baso
        en cinco argumentos.</strong></p>
<p><strong>Primer argumento de la 3ra y 4ta sección.</strong> Habiendo Jesús hablado en el versículo seis de
    guerras<strong>,</strong> no es lógico que en el siete vuelva a hablar de las mismas guerras que ya mencionó<strong>.</strong>
</p>
<p><strong>Segundo argumento de la 3ra y 4ta sección.</strong> Esta tercera sección que estamos analizando termina con
    el versículo seis<strong>.</strong> En ese versículo Cristo habla de guerras y rumores de guerras<strong>,</strong>
    diciendo a los discípulos que no debían turbarse por ello<strong>,</strong> puesto que aquello aún no era el
    fin<strong>.</strong> <strong>Si aún no era el fin es porque ese período de guerras del que habla en el seis, no
        llegaría hasta la Segunda Venida.</strong></p>
<p> Sin embargo<strong>,</strong> cuando se lee el siguiente versículo<strong>,</strong> el siete<strong>,</strong> que
    es el comienzo de la cuarta sección<strong>,</strong> se nota que los acontecimientos allí narrados se suceden de
    continuo hasta llegar al fin<strong>.</strong> <strong>Es decir, que el período comenzado con las guerras narradas
        en el siete (cuarta sección) sí llega al final;</strong> pero el comenzado en el versículo cuatro y terminado en
    el seis (tercera sección) <strong>no</strong> llega hasta el final<strong>.</strong> Está claro que son dos períodos
    diferentes<strong>.</strong> Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong>4 <i>Y respondiendo Jesús<strong>,</strong> les dijo<strong>:</strong> Mirad que nadie os
    engañe<strong>,</strong></i> 5 <i>porque vendrán muchos en mi nombre<strong>,</strong> diciendo<strong>:</strong> Yo
    soy el Cristo<strong>;</strong> y a muchos engañarán<strong>.</strong></i> 6 <strong>Y oiréis guerras, y rumores de
    guerras;</strong> <i>mirad que no os turbéis<strong>;</strong> porque es menester que todo esto
    acontezca<strong>;</strong> <strong>mas aún no es el fin</strong></i><strong>."</strong> (Tercera
    sección<strong>,</strong> Mt 24<strong>:</strong>4-6 )</p>
<p></p>
<p><strong>"</strong>7 <i>Porque <strong>se levantará nación contra nación, y reino contra reino;</strong> y habrá
    pestilencias<strong>,</strong> y hambres<strong>,</strong> y <strong>terremotos por los lugares.</strong></i> 8 <i>Y
    todas estas cosas<strong>,</strong> <strong>principio de dolores.</strong></i> 9 <i>Entonces os entregarán para ser
    afligidos<strong>,</strong> y os matarán<strong>;</strong> y seréis aborrecidos de <strong>todas las gentes</strong>
    por causa de mi nombre<strong>.</strong></i> 10 <i>Y muchos entonces serán escandalizados<strong>;</strong> y se
    entregarán unos a otros<strong>,</strong> y unos a otros se aborrecerán<strong>.</strong></i> 11 <i>Y muchos falsos
    profetas se levantarán y engañarán a muchos<strong>.</strong></i> 12 <i>Y por haberse multiplicado la maldad<strong>,</strong>
    la caridad de muchos se resfriará<strong>.</strong></i> 13 <strong>Mas el que perseverare hasta el fin,</strong> <i>éste
    será salvo<strong>.</strong></i> 14 <i>Y <strong>será predicado este evangelio del reino en todo el mundo,</strong>
    por testimonio a todos los gentiles<strong>;</strong> <strong>y entonces vendrá el
        fin</strong></i><strong>."</strong> ( Cuarta sección<strong>,</strong> Mt 24<strong>:</strong>7-14)</p>
<p><strong>Tercer argumento de la 3ra y 4ta sección.</strong> En el versículo 6 se narra <strong>un tipo de guerra
    local, más bien sediciones y levantamientos;</strong> pero al pasar al versículo 7<strong>,</strong> se menciona
    otro tipo de guerra<strong>;</strong> una en que <strong>se levantaría nación contra nación y reino contra reino.
        Eso solamente lo registra la historia en el siglo 20, con las dos guerras mundiales.</strong> Por lo
    tanto<strong>,</strong> es obvio que el versículo 7 se refiere a la época actual<strong>,</strong> mientras que el
    seis se refiere a la época apostólica<strong>.</strong></p>
<p> En aquella época el Imperio Romano dominaba todas las naciones del mundo conocido<strong>,</strong> y no podía
    ocurrir una guerra en la que se levantara nación contra nación y reino contra reino<strong>,</strong> <strong>pues
        había un solo reino, el Imperio Romano.</strong></p>
<p><strong>Recuerden la frase "Pax romana",</strong> que fue famosa en aquella era<strong>,</strong> y aún hoy en día lo
    es<strong>.</strong> Esta famosa frase nos indica la tranquilidad que el imperio imponía a todas las naciones de
    aquella época<strong>.</strong> No podía existir en la era de la <strong>"</strong>Pax romana<strong>"</strong> algo
    parecido a lo descrito como <strong>"</strong>nación contra nación y reino contra reino<strong>".</strong></p>
<p> Por lo tanto las guerras descritas en el seis son diferentes de las descritas en el siete<strong>.</strong> Las del
    seis se pueden aplicar a la época romana<strong>;</strong> las del siete no<strong>.</strong>
    Además<strong>,</strong> <strong>por historia sabemos que en aquella época no hubo ese tipo de guerras en las que se
        levantaran naciones contra naciones y reinos contra reinos.</strong> Es lógico pues pensar que lo que se
    describe en el siete no atañe a aquellos tiempos<strong>,</strong> sino a los actuales<strong>.</strong></p>
<p> Todo lo dicho anteriormente se reafirma también con la descripción que da Lucas sobre este mismo período de la
    profecía<strong>.</strong> Eso lo podemos leer en Lc 21<strong>:</strong>7-11 donde lo narrado describe mejor lo
    sucedido en Judea en el período inmediatamente posterior a la crucifixión<strong>,</strong> y anterior a la
    destrucción de Jerusalem y el Templo<strong>.</strong> <strong>Allí hablan de sediciones, que fue lo que caracterizó
        a la historia judía de aquel período, según podemos leer en la historia de Josefo.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>Y le preguntaron<strong>,</strong> diciendo<strong>:</strong> Maestro<strong>,</strong>
    <strong>¿</strong>cuándo será esto<strong>?</strong> <strong>¿</strong>y qué señal habrá cuando estas cosas hayan de
    comenzar a ser hechas<strong>?</strong></i> <i>8</i> <i>Él entonces dijo<strong>:</strong> Mirad<strong>,</strong>
    no seáis engañados<strong>;</strong> porque vendrán muchos en mi nombre<strong>,</strong> diciendo<strong>:</strong>
    <strong>"</strong>Yo soy<strong>";</strong> y el tiempo está cerca<strong>,</strong> por tanto<strong>,</strong> no
    vayáis en pos de ellos<strong>.</strong></i> 9 <i>Empero cuando oyereis guerras y <strong>sediciones,</strong> no os
    espantéis<strong>;</strong> porque es necesario que estas cosas acontezcan primero<strong>,</strong> <strong>mas no
        luego será el fin.</strong></i> 10 <i>Entonces les dijo<strong>:</strong> Se levantará gente contra
    gente<strong>,</strong> y reino contra reino<strong>;</strong></i> 11 <i>y habrá grandes
    terremotos<strong>,</strong> y en varios lugares hambres y pestilencias<strong>:</strong> y habrá espantos y grandes
    señales del cielo</i><strong>."</strong> (Lc 21<strong>:</strong>7-11)</p>
<p><strong> Cuarto argumento de la 3ra y 4ta sección.</strong> Para estar más seguros aún de que los versículos 6 y 7 de
    Mateo 24<strong>,</strong> tratan de dos épocas diferentes y muy distantes entre sí<strong>,</strong> nos bastará
    percatarnos de que con las guerras mencionadas en el siete comienza el período llamado <strong>"principio de
        dolores".</strong> Igualmente notemos que los fenómenos que acompañan a las guerras de Mt
    24<strong>:</strong>7<strong>,</strong> <strong>terremotos por los lugares, espantos y grandes señales del
        cielo,</strong> nunca han ocurrido<strong>,</strong> ni en la época romana ni después<strong>.</strong> Por lo
    tanto<strong>,</strong> se evidencia que lo dicho en el siete se refiere a una época posterior a lo que ya conocemos
    por historia<strong>.</strong> La historia nos permite asegurar que <strong>en aquella época apostólica no ocurrió
        ninguno de los espantos y señales del cielo; eso está aún en el futuro.</strong></p>
<p> Si vamos a leer Mr 13<strong>:</strong>8 y Lc 21<strong>:</strong>10-11 y 24-26<strong>,</strong> veremos que
    también allí para la época inmediatamente posterior a la caracterizada como nación contra nación y reino contra
    reino<strong>,</strong> se anuncian fenómenos telúricos y siderales <strong>que no acontecieron en aquella época
        apostólica,</strong> es a saber<strong>,</strong> <strong>grandes señales del cielo,</strong>
    espantos<strong>,</strong> <strong>terremotos en muchos lugares, angustias por temor a algo que ocurrirá en el mar,
        y los hombres secándose de temor.</strong> Por lo tanto<strong>,</strong> si esas cosas no ocurrieron
    entonces<strong>,</strong> <strong>es indiscutible</strong> que esas cosas acontecerían en otra ocasión
    futura<strong>.</strong> De aquí se deduce que los versículos 6 y 7 hablan de ocasiones muy
    diferentes<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque se levantará <strong>nación contra nación, y reino contra reino;</strong> y <strong>habrá
    terremotos en muchos lugares,</strong> y habrá hambres y alborotos<strong>;</strong> <strong>principios de dolores
    serán estos</strong></i><strong>."</strong> (Mr 13<strong>:</strong>8)</p>
<p></p>
<p></p>
<p><strong>"</strong>10 <i>Entonces les dijo<strong>:</strong> <strong>Se levantará gente contra gente, y reino contra
    reino;</strong></i> <i>11</i> <i>y <strong>habrá grandes terremotos,</strong> y en varios lugares hambres y
    pestilencias<strong>;</strong> y <strong>habrá espantos y grandes señales del cielo</strong></i><strong>."</strong>
    (Lc 21<strong>:</strong>10-11)</p>
<p></p>
<p><strong>"</strong>24 <i>Y caerán a filo de espada<strong>,</strong> y serán llevados cautivos a todas las
    naciones<strong>;</strong> y <strong>Jerusalem será hollada de las gentes, hasta que los tiempos de las gentes sean
        cumplidos.</strong></i> 25 <strong>Entonces</strong> <strong>habrá señales en el sol, y en la luna, y en las
    estrellas; y en la Tierra, angustia de gentes por la confusión del sonido de la mar y de las ondas;</strong> 26
    <strong>secándose los hombres a causa del temor y expectación</strong> <strong>de las cosas que sobrevendrán a la
        redondez de la Tierra,</strong> <i>porque las virtudes de los cielos serán conmovidas</i><strong>."</strong> (Lc
    21<strong>:</strong>24-26)</p>
<p><strong>Quinto argumento de la 3ra y 4ta sección</strong><strong>.</strong> Si leemos Mt
    24<strong>:</strong>13<strong>,</strong> que es el penúltimo versículo de la cuarta sección<strong>,</strong>
    veremos que allí se estimula a los que estén vivos en ese momento<strong>,</strong> a que <strong>perseveren hasta
        el fin.</strong></p>
<p></p>
<p><strong>"</strong><i>Mas el que <strong>perseverare hasta el fin,</strong> éste será salvo</i><strong>."</strong> (Mt
    24<strong>:</strong>13)</p>
<p><strong>No es razonable que se le exhorte a un cristiano de la época apostólica a perseverar hasta el fin del
    mundo;</strong> lo razonable es que eso se le esté diciendo a los cristianos de la época cercana al
    fin<strong>.</strong> Tampoco se le va a exhortar a un cristiano de la época cercana a la Segunda
    Venida<strong>,</strong> a perseverar hasta el fin<strong>,</strong> si aún faltaran digamos cincuenta
    años<strong>.</strong></p>
<p> Para más facilidad en la comprensión de lo que digo respecto a la transición del versículo seis al
    siete<strong>,</strong> <strong>podemos parafrasear ese pasaje de la siguiente manera:</strong></p>
<p></p>
<p><strong>"</strong>6 y oiréis guerras y rumores de guerras<strong>,</strong> mirad que no os turbéis por
    eso<strong>,</strong> porque es menester que todo esto acontezca<strong>,</strong> mas aún no es el fin del
    mundo<strong>.</strong> 7 Porque el fin del mundo estará cerca cuando se levantará nación contra nación y reino
    contra reino<strong>,</strong> y hayan pestilencias<strong>,</strong> hambres y terremotos por muchos
    lugares<strong>,</strong> las cuales cosas no son tampoco el fin mismo<strong>,</strong> 8 sino las señales que
    avisan del comienzo de un período que se llama <strong>"</strong>principio de dolores<strong>".</strong> 9 Será
    entonces cuando os entregarán para ser afligidos y os matarán<strong>..."</strong> (Paráfrasis de Mt
    24<strong>:</strong>6-9)</p>
<p> Al llegar a este punto del tiempo ya lo único que nos separa del fin es el esperar a que se predique el evangelio en
    todo el mundo<strong>,</strong> según nos dice el versículo 14 de Mateo 24<strong>;</strong> lo cual parece que va a
    hacerse en la forma milagrosa a que se refiere Ap 14<strong>:</strong>6<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y vi otro ángel volar por en medio del cielo<strong>,</strong> <strong>que tenía el evangelio
    eterno para predicarlo a los que moran en la Tierra,</strong> y a toda nación y tribu y lengua y pueblo</i><strong>."</strong>
    (Ap 14<strong>:</strong>6)</p>
<p> Habiendo ya demostrado que el pasaje 4 al 6 (tercera sección) y el otro que va del 7 al 14 (cuarta sección) tratan
    de épocas diferentes<strong>,</strong> vamos a seguir analizando el capítulo<strong>.</strong></p>
<p><strong>En resumen:</strong> Mt 24<strong>:</strong>4-6 y Mt 24<strong>:</strong>7-14<strong>,</strong> son la
    narración de dos épocas con algún parecido<strong>,</strong> pero completamente diferentes en el
    tiempo<strong>.</strong> La primera perteneciente a la era apostólica y la segunda perteneciente al presente y al
    futuro<strong>.</strong> En uno dice que no era el fin<strong>,</strong> en el otro la narración llega hasta el
    fin<strong>.</strong> En la primera no podía haber guerras mundiales<strong>,</strong> sino
    sediciones<strong>,</strong> en la segunda iba a haber guerras mundiales<strong>.</strong> En la primera no hubo
    señales en el cielo como dice que habrá en la segunda<strong>.</strong> En la cuarta sección se exhorta a aguantar
    hasta el fin<strong>,</strong> en la tercera no<strong>.</strong></p>
<p><strong>Quinta sección,</strong> (Mt 24<strong>:</strong>15-34) Esta sección es como si se hubiera mirado con una
    lupa una pequeña sección de un mapa<strong>,</strong> para poder ver más detalles<strong>;</strong> o como si se
    hubiera agrandado una sección de un mapa en un recuadro<strong>,</strong> para ver más detalles<strong>.</strong> Lo
    que se detalla en esta sección<strong>,</strong> lo que se mira como con una lupa<strong>,</strong> es <strong>el
        lapso comprendido entre la aparición de la Abominación de Asolamiento, y la Segunda Venida, que se abarcó ya en
        la cuarta sección (7-14), pero que no se detalló.</strong></p>
<p></p>
<p><strong>"</strong>15 <i>Por tanto<strong>,</strong> <strong>cuando viereis la abominación del asolamiento,</strong>
    que fue dicha por Daniel profeta<strong>,</strong> que <strong>estará</strong> en el lugar santo<strong>,</strong>
    (el que lee<strong>,</strong> entienda)<strong>,</strong></i> 16 <i>entonces los que están en
    Judea<strong>,</strong> huyan a los montes<strong>;</strong></i> 17 <i>y el que sobre el terrado<strong>,</strong>
    no descienda a tomar algo de su casa<strong>;</strong></i> 18 <i>y el que en el campo<strong>,</strong> no vuelva
    atrás a tomar sus vestidos<strong>.</strong></i> 19 <i>Mas</i> <i><strong>¡</strong>ay de las
    preñadas<strong>,</strong> y de las que crían en aquellos días<strong>!</strong></i> 20 <i>Orad<strong>,</strong>
    pues<strong>,</strong> que vuestra huida no sea en invierno ni en sábado<strong>;</strong></i> 21 <strong>porque
    habrá entonces grande aflicción, cual no fue desde el principio del mundo hasta ahora, ni será.</strong> 22 <i>Y si
    aquellos días no fuesen acortados<strong>,</strong> ninguna carne sería salva<strong>;</strong> mas por causa de los
    escogidos<strong>,</strong> aquellos días serán acortados</i><strong>.</strong></p>
<p> 23 <i>Entonces<strong>,</strong> si alguno os dijere<strong>:</strong> He aquí está el Cristo<strong>,</strong> o
    allí<strong>,</strong> no creáis<strong>.</strong></i> 24 <i>Porque se levantarán <strong>falsos Cristos, y falsos
    profetas, y darán señales grandes y prodigios;</strong> de tal manera que engañarán<strong>,</strong> si es
    posible<strong>,</strong> aun a los escogidos<strong>.</strong></i> 25 <i>He aquí os lo he dicho
    antes<strong>.</strong></i> 26 <i>Así que<strong>,</strong> si os dijeren<strong>:</strong> He aquí en el desierto
    está<strong>;</strong> no salgáis<strong>;</strong> He aquí en las cámaras<strong>;</strong> no
    creáis<strong>.</strong></i> 27 <i>Porque como el relámpago que sale del oriente y se muestra hasta el
    occidente<strong>,</strong> así será también la venida del Hijo del Hombre<strong>.</strong></i> 28 <i>Porque donde
    quiera que estuviere el cuerpo muerto<strong>,</strong> allí se juntarán las águilas</i><strong>.</strong></p>
<p> 29 <i>Y <strong>luego después de la aflicción de aquellos días, el sol se obscurecerá, y la luna no dará su lumbre,
    y las estrellas caerán del cielo, y las virtudes de los cielos serán conmovidas.</strong> 30 Y entonces se mostrará
    la señal del Hijo del Hombre en el cielo<strong>;</strong> y entonces lamentarán todas las tribus de la
    Tierra<strong>,</strong> y verán al Hijo del Hombre que vendrá sobre las nubes del cielo<strong>,</strong> con
    grande poder y gloria<strong>.</strong> 31 Y enviará sus ángeles con gran voz de trompeta<strong>,</strong> y
    <strong>juntarán sus escogidos de los cuatro vientos, de un cabo del cielo hasta el
        otro</strong></i><strong>.</strong></p>
<p> 32 <i>De la higuera aprended la parábola<strong>:</strong> Cuando ya su rama se enternece<strong>,</strong> y las
    hojas brotan<strong>,</strong> sabéis que el verano está cerca<strong>.</strong></i> <i>33</i> <i>Así también
    vosotros<strong>,</strong> cuando viereis todas estas cosas<strong>,</strong> sabed que está
    cercano<strong>,</strong> a las puertas<strong>.</strong></i> <i>34</i> <i>De cierto os digo<strong>,</strong> que
    <strong>no pasará esta generación, que todas estas cosas no acontezcan</strong></i><strong>."</strong> (Mt
    24<strong>:</strong>15-34)</p>
<p> Como vimos al comenzar la explicación del Sermón Profético<strong>,</strong> la cuarta sección de
    éste<strong>,</strong> que comprende los versículos 7-14<strong>,</strong> era una concisa reseña de los hechos que
    iban a acontecer en la época ya cercana al fin<strong>.</strong> En ese momento en que Cristo
    hablaba<strong>,</strong> esas cosas estaban todas aún en el futuro<strong>.</strong> No obstante<strong>,</strong>
    para nosotros hoy en día<strong>,</strong> algunas de ellas<strong>,</strong> como las Guerras
    Mundiales<strong>,</strong> están ya en el pasado<strong>,</strong> pero otras<strong>,</strong> como la Abominación<strong>,</strong>
    están aún en el futuro<strong>.</strong></p>
<p> La Quinta Sección del Sermón Profético<strong>,</strong> (versículos 15-34)<strong>,</strong> nos detalla lo que
    ocurrirá desde la aparición de la Abominación<strong>,</strong> hasta la Segunda Venida<strong>.</strong> Vamos pues
    a analizar esta sección<strong>.</strong></p>
<p></p>
<p><strong>Ahora voy a hacer cinco comentarios sobre este pasaje,</strong> y más adelante voy a dar <strong>siete
    argumentos</strong> para demostrar que <strong>este pasaje se refiere necesariamente al fin.</strong></p>
<p><strong> a)</strong> Esta <strong>"</strong>abominación de asolamiento<strong>",</strong> mencionada en el versículo
    15 está aún en el futuro<strong>,</strong> y por ende también lo está todo lo narrado del 15 al 34<strong>.</strong>
    Veamos<strong>.</strong></p>
<p><strong>b)</strong> El versículo 15 dice que la abominación estaría en el lugar santo<strong>;</strong> <strong>no
    dice que destruiría el lugar santo, que fue lo que hicieron los romanos.</strong> Por lo tanto<strong>,</strong> es
    lógico pensar que se refiera al futuro actual y no a la época apostólica<strong>.</strong> No sólo se refiere al
    futuro actual<strong>,</strong> sino que por lógica<strong>,</strong> la advertencia se hace a los cristianos judíos
    de aquel futuro actual<strong>,</strong> <strong>pues los judíos inconversos no van a leer el Nuevo
        Testamento,</strong> y los cristianos gentiles no tienen que salir de Judea<strong>,</strong> a menos que se
    hallen allí de turistas o de misioneros<strong>.</strong> Se refiere al próximo templo espurio que será construido
    en Jerusalem<strong>.</strong></p>
<p><strong>c)</strong> Por el énfasis que Jesús pone en la premura con que los cristianos que se hallen en Judea deben
    precaverse y huir (versículos 17 y 18)<strong>,</strong> se colige que <strong>los acontecimientos van a
        desencadenarse súbitamente, sin anuncios ni señales previas que avisen de su próxima presencia.</strong> Da la
    sensación de que <strong>el escape de los hermanos se tiene que realizar en cosa de minutos,</strong> porque hace
    hincapié en que no pierdan ni siquiera los pocos minutos que les tomaría ir a buscar su capa
    (abrigo)<strong>.</strong></p>
<p> La presunción de que los cristianos de Judea tendrán que reaccionar velozmente ante los
    acontecimientos<strong>,</strong> concuerda con la exclamación sobre las preñadas y las que crían<strong>,</strong>
    que tendrán el impedimento de sus estados físicos y fisiológicos<strong>,</strong> para actuar con la premura
    requerida y para sufrir las privaciones del caso<strong>.</strong></p>
<p> Lo mencionado sobre el abrigo<strong>,</strong> y el hecho de que en el versículo 20 exhorta a orar para que esto no
    ocurra en invierno ni en sábado<strong>,</strong> <strong>me hace pensar que es un sábado de la estación invernal,
        cuando los poderes espirituales rebeldes intentarán realizar su plan.</strong> No sería pues<strong>,</strong>
    muy insensato de parte de los cristianos que en aquel futuro se hallaren en Judea<strong>,</strong> el que salieran
    de ella desde el mismo inicio de cualquier cosa extraña que vean<strong>,</strong> y el mantenerse atentos a las
    noticias y rumores durante esos días<strong>,</strong> sobre todo los sábados invernales o cercanos al
    invierno<strong>.</strong> O mejor aún<strong>,</strong> mudarse de allí tan pronto les sea
    posible<strong>,</strong> antes de que comience el invierno<strong>.</strong></p>
<p> También la exhortación a no ir a buscar el abrigo pudiera tener otro motivo<strong>,</strong> como sería <strong>el
    no despertar sospecha de que uno se va para siempre,</strong> sino que sale de la ciudad para volver después<strong>.</strong>
    El que salga sin bultos<strong>,</strong> con la ropa corriente<strong>,</strong> no despertará sospecha de que se
    va para siempre<strong>,</strong> cosa que alertaría a las autoridades<strong>,</strong> o a la turba que apoya las
    tiranías<strong>,</strong> en el sentido de que los que se van son desafectos al régimen del
    antiCristo<strong>.</strong></p>
<p> Tal vez<strong>,</strong> por la oración de la cristiandad<strong>,</strong> los planes elaborados para ser
    realizados por los malignos un sábado invernal<strong>,</strong> tengan que ser pospuestos o precipitados debido a
    la presencia de circunstancias imprevistas para ellos<strong>,</strong> con lo que los acontecimientos a lo mejor no
    ocurran en invierno<strong>,</strong> pero sí en sábado<strong>,</strong> o no en sábado<strong>,</strong> pero sí
    en invierno<strong>;</strong> o tal vez ni en sábado ni en invierno<strong>,</strong> aunque no muy lejos de
    ellos<strong>.</strong> <strong>Debemos pues orar por ese importante asunto, para que Dios trastorne los planes de
        los malignos ese día, y los hermanos sean librados.</strong></p>
<p><strong>No puede esta advertencia referirse a todos los cristianos de todo el mundo,</strong> porque los sábados
    invernales en Judea<strong>,</strong> son sábados veraniegos en Brasil<strong>,</strong> Argentina<strong>,</strong>
    África<strong>,</strong> Australia y todo el hemisferio sur<strong>.</strong> Además de que<strong>,</strong>
    evidentemente<strong>,</strong> el versículo 16 se refiere a los de Judea<strong>.</strong></p>
<p><strong>d)</strong> Después de esta huida de los cristianos que se hallen en Jerusalem y en toda Judea comenzará la
    mayor tribulación jamás ocurrida<strong>,</strong> o sea<strong>,</strong> se iniciará la Gran
    Tribulación<strong>,</strong> según nos dicen los versículos 21-22<strong>,</strong> y se dará inicio a la época de
    los falsos Cristos y falsos profetas que darán señales grandes y prodigios capaces de engañar aún a ciertos
    cristianos<strong>,</strong> como advierten los versículos 23-28<strong>.</strong></p>
<p><strong>e) Cuando esté finalizando o haya finalizado la Gran Tribulación, o sea, "Después de la aflicción de aquellos
    días",</strong> como dice el versículo 29<strong>,</strong> será que se oscurezca el sol y la luna<strong>,</strong>
    las estrellas caigan del cielo y las virtudes de los cielos sean conmovidas<strong>.</strong> Será entonces cuando
    según el versículo 30<strong>,</strong> aparezca la señal de Cristo en el cielo (tal vez la cruz) y se vea a Jesús
    en su Segunda Venida<strong>,</strong> esta vez sobre las nubes<strong>,</strong> desde donde mandará a traer a sus
    escogidos (31) de todo el mundo<strong>.</strong> Así termina este pasaje que conforma la quinta
    sección<strong>,</strong> y el cual nos hace ver más en detalle<strong>,</strong> cómo va a ser la secuencia de los
    acontecimientos desde la época de la abominación hasta la recogida de los cristianos<strong>.</strong></p>
<p><strong>Habiendo acabado con los cinco comentarios, vamos a hablar de los siete argumentos.</strong> Voy a analizar
    ahora algunos detalles de este pasaje (15-34) <strong>para reafirmar la idea de que también la quinta sección se
        refiere al fin.</strong> Para ello me baso en siete argumentos<strong>:</strong> <strong>Primero:</strong> La
    Gran Tribulación de que habla este pasaje no ha ocurrido aún<strong>.</strong> <strong>Segundo:</strong> El
    antiCristo no ha aparecido aún<strong>.</strong> <strong>Tercero:</strong> Ninguna carne sería salva si continuara
    más tiempo la tribulación<strong>.</strong> <strong>Cuarto:</strong> Los prodigios de los falsos Cristos y profetas
    no han ocurrido aún<strong>.</strong> <strong>Quinto:</strong> El sol y la luna no se han oscurecido ni las
    estrellas cayeron en la época apostólica<strong>.</strong> <strong>Sexto:</strong> No estaba a las puertas en la
    época apostólica<strong>,</strong> puesto que han pasado veinte siglos<strong>.</strong> <strong>Séptimo:</strong>
    Aquella generación de la época apostólica pasó y no ocurrieron <strong>todas</strong> las cosas<strong>.</strong>
</p>
<p><strong>Primer argumento de la 5ta sección: La Gran Tribulación no ha ocurrido aún.</strong> El versículo 21 dice que
    durante los acontecimientos descritos en los versículos del 15 al 20 habría una aflicción tan grande cual no la hubo
    desde el principio del mundo ni la habrá<strong>;</strong> y el que dice eso es el que más autoridad tiene para
    saberlo<strong>:</strong> Jesús<strong>.</strong></p>
<p><strong>"</strong><i>Porque habrá entonces grande aflicción<strong>,</strong> <strong>cual no fue desde el principio
    del mundo hasta ahora, ni será</strong></i><strong>."</strong> (Mt 24<strong>:</strong>21)</p>
<p> Si alguien pensara que estos acontecimientos y tribulación aquí mencionados por Jesús<strong>,</strong>
    pertenecieran a los ya ocurridos durante la era apostólica<strong>,</strong> cuando la destrucción de Jerusalem y el
    Templo<strong>,</strong> habría que suponer también que la aflicción futura que ha de venir al
    mundo<strong>,</strong> la llamada Gran Tribulación<strong>,</strong> va a ser menor que la de la época
    romana<strong>.</strong> Admitir esta segunda hipótesis equivaldría a suponer que la aflicción provocada por el
    antiCristo<strong>,</strong> el más perverso y cruel de los perseguidores del cristianismo<strong>,</strong> será
    más leve y menos cruel que las provocadas por el Imperio Romano<strong>,</strong> lo cual me parece
    absurdo<strong>.</strong> Por lo tanto<strong>,</strong> visto que todavía falta que se cumpla la profecía de la
    Gran Tribulación<strong>,</strong> tenemos que llegar a la conclusión de que el pasaje en estudio (Mt 15-34) se
    refiere al final del mundo<strong>.</strong></p>
<p><strong> Segundo argumento de la 5ta sección: El antiCristo no ha venido aún.</strong> Tampoco se puede alegar que el
    Imperio Romano<strong>,</strong> o algún emperador<strong>,</strong> haya sido el antiCristo<strong>,</strong>
    <strong>porque ninguno de ellos se sentó en el Templo de Dios,</strong> como Dios<strong>,</strong> haciéndose
    parecer Dios<strong>,</strong> que es lo que predijo San Pablo en Segunda de Tesalonicenses<strong>,</strong> que
    haría el antiCristo<strong>.</strong></p>
<p><strong>"</strong><i>Oponiéndose<strong>,</strong> y levantándose contra todo lo que se llama Dios<strong>,</strong>
    o que se adora<strong>;</strong> tanto que <strong>se asiente en el templo de Dios como Dios, haciéndose parecer
        Dios</strong></i><strong>."</strong> (II Tes 2<strong>:</strong>4)</p>
<p> Por lo tanto<strong>,</strong> en el pasaje de Mt 15-34<strong>,</strong> el Señor no se está refiriendo a la época
    apostólica<strong>.</strong></p>
<p><strong> Tercer argumento de la 5ta sección: Las aflicciones de la época apostólica fueron esporádicas y
    regionales.</strong> El versículo 22 dice que si la aflicción continuara por más tiempo<strong>,</strong> ninguna
    carne sería salva<strong>;</strong> tal vez porque desertarían de la fe por no poder soportar las
    presiones<strong>,</strong> sufrimientos y crueldades<strong>.</strong></p>
<p><strong>"</strong><i>Y <strong>si aquellos días no fuesen acortados, ninguna carne sería salva;</strong> mas por
    causa de los escogidos<strong>,</strong> aquellos días serán acortados</i><strong>."</strong> (Mt
    24<strong>:</strong>22)</p>
<p> Me parece que esas palabras no pueden referirse a las aflicciones de la era apostólica<strong>.</strong> No creo yo
    que se pueda aplicar a aquellos tiempos<strong>,</strong> porque a pesar de que sus aflicciones fueron grandes y
    crueles<strong>,</strong> llegando al martirio<strong>,</strong> no fueron continuas<strong>,</strong> hablando
    cronológicamente<strong>,</strong> ni totales geográficamente hablando<strong>.</strong> Aquellas aflicciones fueron
    esporádicas en el primer caso<strong>,</strong> y regionales en el segundo<strong>,</strong> como se demuestra en
    Hch 9<strong>:</strong>31<strong>.</strong> Había regiones<strong>,</strong> tanto bárbaras como
    romanas<strong>,</strong> que no padecían la persecución anticristiana y<strong>,</strong> por lo
    tanto<strong>,</strong> los cristianos de esos lugares<strong>,</strong> o que se hubieran refugiado en
    ellos<strong>,</strong> no hubieran desertado de la fe<strong>.</strong></p>
<p><strong>"<i>Las iglesias entonces tenían paz por toda Judea y Galilea y Samaria,</i></strong> <i>y eran
    edificadas<strong>,</strong> andando en el temor del Señor<strong>;</strong> y con consuelo del Espíritu Santo eran
    multiplicadas</i><strong>."</strong> (Hch 9<strong>:</strong>31)</p>
<p> Es más lógico pensar que estos vaticinios se refieran a modernos tiempos aún en el futuro<strong>,</strong> en que
    una organización mundial inflexible y totalitaria<strong>,</strong> con medios científicos y técnicos suficientes
    para hacerlo<strong>,</strong> extienda su despiadada persecución a las regiones más recónditas de su
    imperio<strong>,</strong> provocando con ello una aflicción tal a todo cristiano existente en esas regiones
    dominadas por el antiCristo<strong>,</strong> que si se prolongara<strong>,</strong> los hermanos que allí vivieran
    desertaría de la fe por no poder ni aguantar ni escaparse<strong>.</strong></p>
<p> Por lo tanto<strong>,</strong> en el pasaje de Mt 15-34<strong>,</strong> el Señor no se está refiriendo a la época
    apostólica<strong>.</strong></p>
<p><strong> Cuarto argumento de la 5ta sección: Los falsos "Cristos" de la época apostólica no hicieron señales ni
    prodigios.</strong> Si analizamos ahora el versículo 24 veremos que <strong>tras la época de tribulación</strong>
    descrita en este pasaje<strong>,</strong> se levantarán <strong>los falsos Cristos y falsos profetas, los cuales
        harán señales grandes y prodigios.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque se levantarán <strong>falsos Cristos, y falsos profetas, y darán señales grandes y
    prodigios;</strong> de tal manera que engañarán<strong>,</strong> si es posible<strong>,</strong> aun a los
    escogidos</i><strong>."</strong> (Mt 24<strong>:</strong>24)</p>
<p><strong>En la era apostólica aunque hubo falsos profetas y falsos "Cristos", no hubo ninguno que hiciera prodigios,
    ni grandes ni pequeños;</strong> y menos aún prodigios de tal envergadura que pudieran calificarse como los capaces
    de engañar aún a los escogidos<strong>.</strong> Por lo tanto<strong>,</strong> <strong>si los falsos "Cristos" y
        falsos profetas de tan gran poder no surgieron en la época apostólica,</strong> es lógico pensar que Cristo se
    está refiriendo en este versículo<strong>,</strong> y en todo este pasaje (15-34)<strong>,</strong> al fin del mundo<strong>,</strong>
    y no a la era apostólica<strong>.</strong></p>
<p><strong>Quinto argumento de la 5ta sección: Después de las tribulaciones de la época apostólica no se oscureció el
    sol ni la luna ni las estrellas cayeron.</strong> Otro tanto puede decirse de Mt
    24<strong>:</strong>29<strong>,</strong> donde dice que después de la aflicción descrita como
    única<strong>,</strong> sin paralelo ni repetición<strong>,</strong> es decir<strong>,</strong> <strong>después de
        la Gran Tribulación, el sol se oscurecería al igual que la luna, y caerían las estrellas.</strong></p>
<p></p>
<p><strong>"</strong><i>Y luego <strong>después de la aflicción de aquellos días, el sol se obscurecerá,</strong> y
    <strong>la luna no dará su lumbre,</strong> y <strong>las estrellas caerán del cielo,</strong> y las virtudes de los
    cielos serán conmovidas</i><strong>."</strong> (Mt 24<strong>:</strong>29)</p>
<p><strong>Es más que evidente que después de las aflicciones de la era apostólica, ni se oscureció el sol, ni la luna,
    y mucho menos cayeron las estrellas.</strong> Por lo tanto<strong>,</strong> repito<strong>,</strong> aquí no se
    estaba refiriendo Jesús a la era apostólica en el pasaje de Mt 15-34<strong>,</strong> sino al futuro inmediatamente
    anterior a la Segunda Venida<strong>,</strong> el futuro actual<strong>.</strong> Es decir<strong>,</strong> que
    todo este pasaje habla de una época aún en el futuro<strong>.</strong></p>
<p><strong> Sexto argumento de la 5ta sección: En la época apostólica la Segunda Venida no estaba a las
    puertas.</strong> En el versículo 33 dice que cuando <strong>"</strong>estas cosas<strong>"</strong> comenzaren a
    suceder<strong>,</strong> todo estaba ya a las puertas<strong>.</strong> Tampoco puede Jesús en el pasaje 15-34
    haberse estado refiriendo a la época de los apóstoles o a las épocas inmediatamente sucesivas<strong>,</strong> pues
    aquí dice que <strong>en el momento que ocurriera lo que él relataba, ya todo lo demás, incluyendo su Segunda Venida
        estaba a las puertas.</strong> Han pasado casi veinte siglos y una tonelada de generaciones y no vino el
    fin<strong>;</strong> lo cual nos indica que los hechos del primer siglo y demás<strong>,</strong> no eran los que
    nos estaban anunciando que Jesús se hallaba a las puertas<strong>.</strong></p>
<p><strong>"</strong><i>Así también vosotros<strong>,</strong> cuando viereis todas estas cosas<strong>,</strong> sabed
    que está cercano<strong>,</strong> a las puertas</i><strong>."</strong> (Mt 24<strong>:</strong> 33)</p>
<p><strong>Séptimo argumento de la 5ta sección: Pasó la generación apostólica y no se manifestó el resto de las
    señales.</strong> También el versículo 34 nos indica que nada de este pasaje se refería a la época
    apostólica<strong>,</strong> porque aquí dice que <strong>cuando ocurriera una de aquellas señales, en esa misma
        generación se verían todas las demás señales,</strong> y eso <strong>no</strong> ocurrió en aquella época
    apostólica<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>De cierto os digo<strong>,</strong> que <strong>no pasará esta generación, que todas estas cosas
    no acontezcan</strong></i><strong>."</strong> (Mt 24<strong>:</strong>34)</p>
<p> De la lectura de todo el pasaje en estudio (15-34) es fácil comprender que <strong>la generación que vea la
    abominación, verá también la caída de las estrellas, el oscurecimiento de sol y luna y la Segunda Venida del
    Señor.</strong> Por lo tanto<strong>,</strong> nadie puede alegar que parte de los acontecimientos sucedieron
    entonces y parte sucederán en el futuro<strong>.</strong></p>
<p><strong>En resumen:</strong> la quinta sección<strong>,</strong> que comprende Mt
    24<strong>:</strong>15-34<strong>,</strong> es una ampliación detallada<strong>,</strong> del lapso comprendido
    entre la aparición de la Abominación de Asolamiento<strong>,</strong> y la Segunda Venida<strong>.</strong> Por eso
    se ve que los acontecimientos narrados en ella no han ocurrido aún<strong>,</strong> como son<strong>:</strong> la
    Gran Tribulación<strong>,</strong> el antiCristo<strong>,</strong> los prodigios de los falsos Cristos y
    profetas<strong>,</strong> el oscurecimiento del sol y la luna<strong>,</strong> y las estrellas cayendo en la época
    apostólica<strong>.</strong> Esto nos demuestra que esa sección está en el futuro<strong>.</strong></p>
<p><strong>La sexta sección</strong> (Mt 24<strong>:</strong>35-51) no creo necesario analizarla<strong>,</strong> son
    admoniciones suficientemente claras que no necesitan explicación<strong>.</strong> Esta sección sólo habla de la
    seguridad del cumplimiento de esta profecía y del secreto que rodea el día y la hora de su
    ocurrencia<strong>.</strong></p>
<p><strong>Resumiendo: el capítulo 24 de Mateo comienza profetizando</strong> la destrucción del Templo en el año 70 (1
    y 2)<strong>;</strong> luego da una breve reseña de lo que iba a ocurrir en la época apostólica
    (4-6)<strong>;</strong> más tarde hace otra breve reseña de lo que iba a ocurrir desde las guerras mundiales hasta
    la Segunda Venida (7-14)<strong>;</strong> entonces amplifica una parte del pasaje anterior<strong>,</strong>
    detallando el período que va desde la <strong>"</strong>Abominación<strong>"</strong> hasta <strong>"</strong>la
    Segunda Venida<strong>"</strong> (15-34)<strong>;</strong> y en el resto del capítulo da exhortaciones a los
    cristianos sobre tan importante asunto (35-51)<strong>.</strong></p>
<p></p>
<p><strong>Vamos ahora a comentar algunos pasajes que pueden traer confusión.</strong></p>
<p><strong>Mateo habla de dos veces en que surgirán falsos Cristos.</strong> En Mt 24<strong>:</strong>5 se advierte a
    los cristianos sobre los falsos Cristos que vendrían en aquella era apostólica<strong>.</strong> Esta profecía de
    los falsos Cristos se repite en Mt 24<strong>:</strong>24<strong>,</strong> pero esta vez se refiere a los tiempos
    cercanos a la Segunda Venida<strong>.</strong> Esto se entenderá más claramente si nos damos cuenta de que el
    versículo 5 pertenece a la tercera sección que trata de la época apostólica<strong>,</strong> mientras que el 24
    pertenece a la quinta sección<strong>,</strong> que trata del fin<strong>.</strong> Ambas aseveraciones fueron
    previamente demostradas<strong>,</strong> basta con leer de nuevo ambas secciones<strong>.</strong></p>
<p> También vemos que en Lc 21<strong>:</strong>8<strong>,</strong> donde se trata de la época
    apostólica<strong>,</strong> se menciona a los falsos Cristos como viniendo también en esa época<strong>.</strong> Y
    se sabe que se trata de la época apostólica no sólo porque está en el pasaje donde se habla de esa
    época<strong>,</strong> sino porque allí al hablar de los falsos Cristos Jesús añade <strong>"...y el tiempo esta
        cerca".</strong> Si dijo a los apóstoles que el tiempo estaba cerca<strong>,</strong> es porque esos falsos
    Cristos y falsos profetas iban a surgir también en aquella época<strong>.</strong></p>
<p> No se me escapa el hecho de que en Lc 21<strong>:</strong>8 la oración <strong>"</strong>el tiempo está
    cerca<strong>",</strong> la comienzan con mayúscula las Biblias modernas<strong>,</strong> como indicando que se
    trata de una de las dos frases que dirán los falsos Cristos<strong>.</strong> Según esta forma de presentar las
    cosas los que imprimieron estas modernas Biblias<strong>,</strong> los falsos Cristos dirían dos
    frases<strong>:</strong> <strong>1)</strong> <strong>"</strong>Yo Soy<strong>"</strong> y<strong>,</strong> <strong>2)</strong>
    <strong>"</strong>El tiempo está cerca<strong>".</strong> Pero esto es una interpretación prejuiciada doctrinalmente
    por el que imprime la Biblia<strong>.</strong></p>
<p><strong>Para darnos cuenta de la falsedad que entraña el comenzar esa oración con mayúscula,</strong> bastaría leer
    Lc 21<strong>:</strong>8 en la edición original de Casiodoro de Reina solo<strong>,</strong> o en una Reina-Valera
    impresa en el pasado siglo<strong>.</strong> En esas ediciones<strong>,</strong> la oración <strong>"</strong>el
    tiempo está cerca<strong>"</strong> se halla con minúscula<strong>,</strong> porque no la consideraban una nueva
    frase<strong>,</strong> sino un comentario de Jesucristo respecto a la cercanía de tales falsos
    Cristos<strong>.</strong> Lo mismo podemos constatar en la versión inglesa antigua de King James<strong>.</strong>
</p>
<p><strong>Pero además, es lógico pensar que</strong> los falsos Cristos no iban a poder andar diciendo que el tiempo de
    la llegada de Jesús estaba cerca<strong>,</strong> <strong>porque ellos querían hacer ver que ellos eran "Jesús" que
        ya había llegado.</strong> Si ellos dijeran que el tiempo está cerca<strong>,</strong> entonces no podían decir
    que ellos eran Cristo<strong>,</strong> porque ellos mismos estaban diciendo que no había llegado el tiempo de su
    Segunda Venida<strong>.</strong> Así que vemos que el mismo período de la profecía<strong>,</strong> tratado en
    Lucas<strong>,</strong> concuerda con el hecho de que Mateo 24<strong>:</strong>5 se refiere a falsos Cristos de la
    época apostólica<strong>,</strong> mientras que Mt 24<strong>:</strong>24 se refiere a los falsos Cristos que
    vendrán en la época bien próxima al fin<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>