---
import Layout from "../layout/Layout.astro";
---

<Layout title="Las promesas de Dios no son incondicionales">
    <section>
<p><strong>Las promesas de Dios no son incondicionales</strong></p>
<p> Hay quienes creen que las promesas que Dios nos hace en las Escrituras son de obligatorio cumplimiento por parte de
    Dios<strong>,</strong> sin importar nuestro comportamiento<strong>.</strong> <strong>No he visto en toda la Biblia
        una sola promesa divina que no tenga una condición expresa o implícita.</strong> Hay quienes creen que ellos
    <strong>"</strong>se apoderan<strong>"</strong> de la promesa<strong>,</strong> y ya tienen todo lo que
    necesitaban<strong>.</strong> Veamos algunas promesas<strong>,</strong> para mostrar cómo siempre hay un <strong>"si"</strong>
    condicional en ellas<strong>.</strong></p>
<p> Hay muchos creyentes que se imaginan que una vez que Dios promete algo ya ellos pueden comportarse como les dé la
    gana<strong>,</strong> porque de todas maneras Dios <strong>está obligado</strong> a cumplir<strong>.</strong> Pero
    de lo que ellos no se dan cuenta es que<strong>,</strong> aunque a veces en un pasaje de la Biblia se halla la
    promesa y no las condiciones para su obtención<strong>,</strong> después<strong>,</strong> en otro pasaje que ellos
    no han leído o no han querido entender<strong>,</strong> se halla la condición que Dios puso para el cumplimiento de
    esa promesa<strong>.</strong> Sería bueno para los que creen que las promesas de Dios son
    incondicionales<strong>,</strong> que repasaran todos los pasajes donde hay promesas y buscaran las referencias a
    otros pasajes<strong>,</strong> para que vean que para alcanzarlas es menester cumplir algo de nuestra parte<strong>,</strong>
    aunque sólo sea el tener fe<strong>.</strong> Veamos lo que el siguiente pasaje dice<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y quedaréis en poca gente<strong>,</strong> en lugar de haber sido como las estrellas del cielo
    en multitud<strong>;</strong> <strong>por cuanto no obedeciste</strong> a la voz de Jehová tu
    Dios</i><strong>."</strong> (Dt 28<strong>:</strong>62)</p>
<p> En este pasaje se están refiriendo a la promesa de hacer que el pueblo judío fuera numeroso como las
    estrellas<strong>.</strong> Sin embargo<strong>,</strong> es aquí donde se registra que <strong>esa promesa les
        sería cumplida si obedecían,</strong> no si desobedecían los mandamientos de Dios<strong>.</strong> O
    sea<strong>,</strong> la promesa no era incondicional<strong>.</strong></p>
<p> Son muchos los que se hacen la tonta ilusión de que después que Dios hace una promesa ya pueden hacer lo que les
    venga en ganas<strong>,</strong> porque ellos creen que Dios <strong>está obligado a cumplir lo que ellos imaginan
        que fue Su palabra.</strong> Cuando leen en la Biblia una promesa de Dios sólo se fijan<strong>,</strong> o sólo
    quieren recordar<strong>,</strong> la parte que les conviene<strong>,</strong> no las condiciones implícitas o
    explícitas que Dios puso para el cumplimiento de Su promesa<strong>.</strong></p>
<p></p>
<p><strong>"</strong><strong>1</strong> <i>Y el Ángel de Jehová subió de Gilgal a Bochim<strong>,</strong> y
    dijo<strong>:</strong> Yo os saqué de Egipto<strong>,</strong> y os introduje en la tierra de la cual había jurado a
    vuestros padres<strong>;</strong> y dije<strong>:</strong> <strong>No invalidaré jamás mi pacto con
        vosotros;</strong></i> 2 <strong>con tal</strong> <strong>que vosotros no hagáis alianza con los moradores de
    aquesta tierra,</strong> <i>cuyos altares habéis de derribar<strong>;</strong> <strong>mas vosotros no habéis
    atendido a mi voz.</strong> <strong>¿</strong>Por qué habéis hecho esto<strong>?</strong></i> 3 <i>Por tanto yo
    también dije<strong>:</strong> No los echaré de delante de vosotros<strong>,</strong> sino que os serán por azote
    para vuestros costados<strong>,</strong> y sus dioses por tropiezo</i><strong>."</strong> (Jue 2<strong>:</strong>1-3)
</p>
<p> En este pasaje vemos que Dios dijo que no invalidaría jamás su pacto (que es la parte que quieren
    recordar)<strong>,</strong> a condición de que ellos no hicieran alianzas con los enemigos (que es la parte que no
    quieren recordar)<strong>.</strong> Así proceden muchos cristianos ahora<strong>.</strong> Recuerdan que Cristo nos
    libra de todo pecado<strong>,</strong> <strong>pero no quieren recordar que hay que arrepentirse de todo corazón de
        haberlos cometido,</strong> y no seguir cometiéndolos<strong>.</strong></p>
<p><strong> En los siglos 16 y 17 había corsarios y piratas.</strong> Ambos se dedicaban atacar barcos en alta mar para
    matar y robar<strong>.</strong> La diferencia entre un corsario y un pirata<strong>,</strong> era que este último
    actuaba por cuenta propia<strong>,</strong> mientras que el cosario era enviado a hacer esas tropelías solamente
    contra los barcos de la nación enemiga con la cual estaban en guerra<strong>.</strong> Es decir<strong>,</strong> el
    pirata era un bandolero por su cuenta<strong>,</strong> no tenía nación<strong>,</strong> y nadie lo
    respaldaba<strong>.</strong> El corsario era un bandolero autorizado por el gobierno de su país<strong>,</strong>
    que servía a su nación<strong>,</strong> la cual le otorgaba lo que se llamaba una <strong>"patente de
        corso",</strong> una licencia para asaltar<strong>,</strong> matar y robar las naves enemigas<strong>.</strong>
</p>
<p> Cuando Dios hace una promesa no nos da una patente de corso para hacer lo que no dé la real gana<strong>,</strong>
    en la seguridad de que aún así Dios estará <strong>"</strong>obligado<strong>"</strong> a cumplir su palabra<strong>.</strong>
    Veamos<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y nunca más quitaré el pie de Israel de la tierra que yo entregué a vuestros
    padres<strong>,</strong> <strong>a condición que guarden y hagan todas las cosas que yo les he mandado,</strong>
    toda la ley<strong>,</strong> estatutos<strong>,</strong> y ordenanzas<strong>,</strong> por mano de
    Moisés</i><strong>."</strong> (II Cr 33<strong>:</strong>8)</p>
<p><strong>Algo parecido ocurre con la salvación.</strong> Cristo la hizo por nosotros<strong>,</strong> sólo tenemos
    que aceptarla<strong>;</strong> pero no nos creamos que tenemos una patente de corso para seguir pecando
    voluntariamente sin perderla<strong>.</strong> Porque como todas las promesas de Dios <strong>la salvación también
        tiene sus condiciones: el verdadero y profundo arrepentimiento del pecado,</strong> cosa que no puede tener
    verdaderamente<strong>,</strong> quien constantemente repite y repite voluntariamente el mismo
    pecado<strong>.</strong></p>
<p> En el siguiente pasaje vemos a David explicando a su hijo Salomón cómo la promesa de Dios tenía sus
    condiciones<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Para que confirme Jehová la palabra que me habló<strong>,</strong> diciendo<strong>:</strong>
    <strong>Si tus hijos guardaren su camino,</strong> andando delante de mí con verdad<strong>,</strong> de todo su
    corazón<strong>,</strong> y de toda su alma<strong>,</strong> jamás<strong>,</strong> dice<strong>,</strong> faltará
    a ti varón del trono de Israel</i><strong>."</strong> (I R 2<strong>:</strong>4)</p>
<p> Como vemos Dios le dijo a David <strong>"<i>si</i></strong> <i>tus hijos guardaren</i>…<strong>",</strong> <strong>de
    donde se deduce que si no lo guardaren, la promesa no se cumple.</strong> Lo mismo podemos ver en I Reyes
    3<strong>:</strong>14<strong>;</strong> 6<strong>:</strong>12-13 y 9<strong>:</strong>4-5<strong>.</strong> No nos
    dejemos engañar<strong>,</strong> ni aún a los grandes de la fe las promesas se les hicieron
    incondicionalmente<strong>.</strong></p>
<p><strong>Las promesas de Nuestro Señor Jesucristo,</strong> al igual que las de su Padre Dios<strong>,</strong> son
    condicionales<strong>.</strong> Por ejemplo<strong>,</strong> en Mt 6<strong>:</strong>14 Cristo dice que <strong>"Si</strong>
    perdonareis a los hombres sus ofensas<strong>,</strong> os perdonará también a vosotros vuestro Padre
    Celestial<strong>",</strong> de donde se deduce que si no perdonareis<strong>,</strong> no os van a perdonar<strong>.</strong>
    Como vemos<strong>,</strong> el <strong>"si"</strong> condicional<strong>,</strong> nos dice que la promesa esa
    tiene condiciones<strong>.</strong></p>
<p> Si vamos a Mt 17<strong>:</strong>20 veremos que allí la promesa de poder pasar un monte de un lado a
    otro<strong>,</strong> dependía de tener fe como un grano de mostaza<strong>.</strong> Por eso
    dice<strong>:</strong> <strong>"</strong>…<strong>Si</strong> <i>tuviereis fe como un grano de mostaza</i>…<strong>".</strong>
    Otro tanto podemos ver en Mt 18<strong>:</strong>19<strong>,</strong> donde el Señor promete que <strong>"<i>Si</i></strong>
    <i>dos de vosotros se convinieren en la Tierra de <strong>toda cosa</strong> que pidieren<strong>,</strong> les será
        hecho por mi Padre que está en los Cielos</i><strong>."</strong> Como vemos la promesa no es
    incondicional<strong>.</strong></p>
<p> En las cartas del Señor Jesucristo a las 7 Iglesias también se perciben promesas <strong>condicionales.</strong></p>
<p><strong>"<i>Al que venciere</i></strong> <i>le daré a comer del árbol de la vida</i><strong>."</strong> (Ap 2<strong>:</strong>7)
    Eso implica que si no venciere<strong>,</strong> no se le cumplirá la promesa<strong>.</strong></p>
<p><strong>"<i>El que venciere,</i></strong> <i>no recibirá daño de la muerte segunda</i><strong>."</strong> (Ap
    2<strong>:</strong>11)<strong>.</strong> La promesa de no recibir daño de la muerte segunda está atada a <strong>si
        venciere.</strong></p>
<p> Lo mismo podremos ver si vamos a leer Ap 2<strong>:</strong>17<strong>;</strong>
    2<strong>:</strong>26<strong>;</strong> 3<strong>:</strong>5<strong>;</strong>
    3<strong>:</strong>12<strong>;</strong> y 3<strong>:</strong>21<strong>.</strong> O sea<strong>,</strong> que
    constatamos que <strong>las promesas de Dios no son incondicionales.</strong> No nos hagamos pues la dañina idea de
    que la gracia de Dios consiste en continuar pecando sin sufrir consecuencias y sin perder la
    salvación<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    