<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The promises of God are not unconditional</title>
</head>
<body>
<p><strong>The promises of God are not unconditional</strong></p>
<p> There are those who believe that the promises which God makes in Scripture <strong>must be fulfilled</strong> by God<strong>,</strong>
    without a care about our behavior<strong>.</strong> <strong>I have not seen in the entire Bible one solitary divine
        promise that does not have an explicit or implicit condition.</strong> Some believe that they can
    <strong>"</strong>claim<strong>"</strong> a promise and that is all that is necessary<strong>.</strong> We will see
    some promises in order to show that there is always a conditional <strong>"</strong>if<strong>"</strong> in
    them<strong>.</strong></p>
<p> Many believers think that once God promises something<strong>,</strong> they can behave in any way<strong>,</strong>
    because God is <strong>obliged</strong> to fulfill his promises in any event<strong>.</strong> What they don't
    realize is that although at times a verse of the Bible has a promise and not a condition required<strong>,</strong>
    much later in another verse they have not read or have not wanted to understand<strong>,</strong> is the condition
    God required for the fulfillment of that promise to take place<strong>.</strong> It would be good for those who
    believe that the promises of God are unconditional<strong>,</strong> to review all the verses where there are
    promises and look for the references to other verses so they can see that in order to obtain that
    promise<strong>,</strong> we must act in accordance with something on our part<strong>,</strong> even if that is
    only having faith<strong>.</strong> Let us see what the following verses say<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>And ye shall be left few in number<strong>,</strong> whereas ye were as the stars of heaven for
    multitude<strong>;</strong> <strong>because thou wouldest not obey</strong> the voice of the LORD thy
    God</i><strong>."</strong> (Deut<strong>.</strong> 28<strong>:</strong>62)</p>
<p> This verse refers to the promise that the Jewish people would be as numerous as the stars<strong>.</strong>
    However<strong>,</strong> it is here where it is recorded that <strong>this promise would be fulfilled if they
        obeyed,</strong> not if they disobeyed the commandments of God<strong>.</strong> In other
    words<strong>,</strong> the promise was not unconditional<strong>.</strong></p>
<p> There are many who have the foolish notion that after God makes a promise<strong>,</strong> they can do whatever
    they want because they believe that God <strong>is obligated to fulfill what they imagine is His Word.</strong> When
    they read in the Bible a promise made by God<strong>,</strong> they only pay attention to or only remember the part
    which is most advantageous or beneficial to them<strong>,</strong> not the implicit or explicit conditions God has
    ordained for the fulfillment of His promise<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>And an angel of the LORD came up from Gulag to Bochum<strong>,</strong> and
    said<strong>,</strong> I made you to go up out of Egypt<strong>,</strong> and have brought you unto the land which I
    swore unto your fathers<strong>;</strong> and <strong>I said, I will never break my covenant with you.</strong></i>
    2 <strong>And ye shall make no league with the inhabitants of this land;</strong> <i>ye shall throw down their
        altars<strong>;</strong> <strong>but ye have not obeyed my voice;</strong> why have ye done
        this<strong>?</strong></i> 3 <i>Wherefore I also said<strong>,</strong> I will not drive them out from before
        you<strong>;</strong> but they shall be as thorns in your sides<strong>,</strong> and their gods shall be a
        snare unto you</i><strong>."</strong> (Judges 2<strong>:</strong>1-3)</p>
<p> In this verses<strong>,</strong> God said that he would never invalidate His covenant (which is the part they want
    to remember)<strong>,</strong> on the condition that they not form an alliance with the enemy (which is the part
    they do not want to remember)<strong>.</strong> Many Christians proceed in this manner now<strong>.</strong> They
    remember that Christ liberated us from all sin<strong>,</strong> <strong>but they do not want to remember that it is
        necessary to repent wholeheartedly</strong> of their sin and not continue to commit the sin<strong>.</strong>
</p>
<p><strong>In the 16th and 17th century, there were corsairs and pirates.</strong> Both dedicated themselves to
    attacking ships at sea in order to kill and rob<strong>.</strong> The difference between a corsair and a pirate is
    that the latter acted for himself<strong>,</strong> while the corsair was sent to pilfer ships belonging to an enemy
    nation they were at war with<strong>.</strong> In other words<strong>,</strong> the pirate was a bandoleer on his
    own<strong>,</strong> he did not represent any nation and no one backed him up<strong>.</strong> The corsair was a
    bandoleer authorized by the government of his country<strong>,</strong> he served his nation whereby he obtained
    what is known as <strong>"</strong>Letters of Marque<strong>"</strong> which was a license to
    assault<strong>,</strong> kill and rob enemy ships<strong>.</strong></p>
<p> When God makes a promise<strong>,</strong> he does not give us a <strong>"</strong>Letter of
    Marque<strong>"</strong> that allows us to do whatever we want<strong>,</strong> with the assurance that God is
    <strong>obligated</strong> to fulfill His word<strong>.</strong> See below<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Neither will I any more remove the foot of Israel from out of the land which I have appointed
    for your fathers<strong>;</strong> <strong>so that they will take heed to do all that I have commanded
        them,</strong> according to the whole law and the statutes and the ordinances by the hand of
    Moses</i><strong>."</strong> (II Chronicles 33<strong>:</strong>8)</p>
<p><strong>It is similar with salvation.</strong> Christ did all the work for us<strong>,</strong> we simply have to
    accept it<strong>;</strong> but we should not believe that we have a Letter of Marque to continue sinning
    voluntarily and not lose it<strong>.</strong> Like all of God's promises<strong>,</strong> <strong>salvation has its
        conditions: the true and profound repentance of sin,</strong> something that a person who continually repeats
    voluntarily his sin cannot have<strong>.</strong></p>
<p> The following verse shows David explaining to his son<strong>,</strong> Solomon<strong>,</strong> how the promise
    made by God had conditions<strong>.</strong></p>
<p><strong>"</strong><i>That the LORD may continue his word which he spake concerning me<strong>,</strong>
    saying<strong>:</strong> <strong>If thy children take heed</strong> to their way<strong>,</strong> to walk before me
    in truth with all their heart and with all their soul<strong>,</strong> there shall not fail thee a man on the
    throne of Israel</i><strong>."</strong> (I K 2<strong>:</strong>4)</p>
<p> Note that God said to David<strong>,</strong> <strong>"If thy children take heed to their
    way</strong>…<strong>",</strong> <strong>in which case means that if they do not heed their way, the promise would
    not be fulfilled.</strong> We see it again in I Kings 3<strong>:</strong>14<strong>,</strong> 6<strong>:</strong>12-13
    and 9<strong>:</strong>4-5<strong>.</strong> Do not be deceived<strong>,</strong> not even those who are great in
    the faith received promises without conditions<strong>.</strong></p>
<p><strong>The promises of our Lord Jesus Christ,</strong> like his Father's<strong>,</strong> are conditional as
    well<strong>.</strong> For example<strong>,</strong> in Matthew 6<strong>:</strong>14<strong>,</strong> Christ
    says<strong>,</strong> <strong>"</strong>…<strong>if</strong> ye forgive men their trespasses<strong>,</strong> your
    heavenly Father will also forgive you<strong>",</strong> which means that if we do not forgive<strong>,</strong> we
    will not be forgiven<strong>.</strong> As we see<strong>,</strong> the <strong>"if"</strong> is conditional and
    states that the promise has conditions<strong>.</strong></p>
<p> If we read Matthew 17<strong>:</strong>20<strong>,</strong> we will note that the promise of being able to remove a
    mountain to yonder place depended on faith the size of a grain of mustard<strong>.</strong> That's why it
    says<strong>,</strong> <strong>"</strong>…<strong>if</strong> <i>ye have faith as a grain of mustard
        seed</i>…<strong>"</strong> Another example is in Matthew 18<strong>:</strong>19 where God
    promises<strong>,</strong> <strong>"</strong>Again I say unto you<strong>,</strong> that <strong>if</strong> two of
    you shall agree on Earth <strong>as touching anything that they shall ask,</strong> it shall be done for them of my
    Father which is in heaven<strong>."</strong> This is not unconditional<strong>.</strong></p>
<p> In Jesus Christ's letters to the Seven Churches<strong>,</strong> there are <strong>conditional promises.</strong>
</p>
<p><strong>"</strong>…<strong>To him that overcometh</strong> <i>will I give to eat of the tree of
    life</i><strong>..."</strong> (Rev<strong>.</strong> 2<strong>:</strong>7)<strong>.</strong> This implies that if
    one does not overcome<strong>,</strong> he will not receive the promise<strong>.</strong></p>
<p><strong>"</strong>…<strong>He that overcometh</strong> <i>shall not be hurt of the second
    death</i><strong>."</strong> (Rev<strong>.</strong> 2<strong>:</strong>11)<strong>.</strong> There is the promise of
    not dying a second time<strong>,</strong> <strong>if</strong> he overcomes<strong>.</strong></p>
<p> We see the same if we read Rev<strong>.</strong> 2<strong>:</strong>17<strong>,</strong>
    2<strong>:</strong>26<strong>,</strong> 3<strong>:</strong>5<strong>,</strong> and
    3<strong>:</strong>21<strong>.</strong> In other words<strong>,</strong> we confirm that <strong>the promises of God
        are not unconditional.</strong> Let us not have the dangerous notion that the grace of God consists in the
    continuation of sin without losing salvation<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>