
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Las llamadas "pruebas" y las consecuencias de los pecados</title>
</head>
<body>
<p><strong>Uno de los métodos que usan nuestros enemigos espirituales para oponerse a nuestra santificación es hacernos
    creer que las consecuencias de nuestros pecados son sólo "pruebas"</strong></p>
<p> Dios probó a hombres de la calidad de Job<strong>;</strong> el Señor no se molestaría en probar hombres como
    yo<strong>,</strong> que lo harían quedar mal<strong>.</strong> Job era un hombre digno de ser
    probado<strong>,</strong> por eso Dios lo usó para abochornar a Satanás<strong>.</strong></p>
<p><strong>Dios no prueba a las criaturas para saber Él cómo son, sino para que otras criaturas lo sepan.</strong> Hay
    quienes creen que los males que puedan venirle al humano<strong>,</strong> son
    <strong>"</strong>pruebas<strong>",</strong> para Dios saber cómo reaccionaríamos ante ciertas
    circunstancias<strong>.</strong> No hay tal cosa<strong>.</strong> Cuando Dios permite pruebas es para informar a
    otras criaturas de cómo reaccionaríamos<strong>.</strong> El mejor caso para estudiar este asunto es el de
    Job<strong>.</strong> Este hombre no fue probado para informar a Dios cómo iba él a reaccionar<strong>;</strong> eso
    lo sabía Dios de antemano<strong>.</strong> Job fue probado para demostrarle a Satanás cómo criaturas de más baja
    categoría que la de un ángel<strong>,</strong> eran obedientes y agradecidos con Dios aunque las circunstancias les
    fueran adversas<strong>.</strong> Dios permitió la prueba que padeció Job<strong>,</strong> para demostrar su
    lealtad a Dios a pesar de lo que padecía<strong>.</strong></p>
<p> Satanás es una criatura que a pesar de haber tenido grandeza y privilegios<strong>,</strong> se rebeló contra
    Dios<strong>,</strong> porque quería todavía más<strong>.</strong> Por eso<strong>,</strong> Dios<strong>,</strong>
    que conocía perfectamente cómo iba Job a reaccionar<strong>,</strong> permitió que Satanás lo despojara de
    todo<strong>.</strong> Digo que Dios sabía cómo iba a reaccionar Job<strong>,</strong> porque en 1<strong>:</strong>8
    cuando Dios habla con Satanás sobre Job<strong>,</strong> dice que no había otro como él en la
    Tierra<strong>,</strong> que era su siervo<strong>,</strong> y que era un hombre perfecto<strong>,</strong>
    recto<strong>,</strong> temeroso de Dios y apartado del mal<strong>.</strong> <strong>Si Dios pensaba así de Job, se
        evidencia que Él no estaba tratando de ver cómo era Job,</strong> sino que estaba usando a Job para darle una
    lección de fidelidad a Satanás<strong>.</strong> Dios usó a Job para demostrar cómo una criatura de menor nivel que
    Satanás<strong>,</strong> era capaz de seguir siendo fiel aunque le quitaran todo lo que tenía<strong>,</strong> y
    aunque sufriera de una amarga dolencia<strong>.</strong></p>
<p><strong>Fue un gran honor para Job haber podido servir a Dios para darle una lección de fidelidad a Satanás.</strong>
    La prueba fue la más dura conocida<strong>,</strong> pero el honor de haber servido a Dios en este
    asunto<strong>,</strong> es la más grande recompensa que un hombre podría obtener<strong>.</strong></p>
<p></p>
<p><strong>"</strong>6 <i>Y un día vinieron los hijos de Dios a presentarse delante de Jehová<strong>,</strong> entre
    los cuales vino también Satán<strong>.</strong></i> 7 <i>Y dijo Jehová a Satán<strong>:</strong> <strong>¿</strong>De
    dónde vienes<strong>?</strong> Y respondiendo Satán a Jehová<strong>,</strong> dijo<strong>:</strong> De rodear la
    Tierra<strong>,</strong> y de andar por ella<strong>.</strong></i> 8 <strong>Y Jehová dijo a Satán: ¿No has
    considerado a mi siervo Job, que no hay otro como él en la Tierra, varón perfecto y recto, temeroso de Dios, y
    apartado de mal?</strong> 9 <i>Y respondiendo Satán a Jehová<strong>,</strong> dijo<strong>:</strong>
    <strong>¿</strong>Teme Job a Dios de balde<strong>?</strong></i> 10 <strong>¿</strong><i>No le has tú cercado a
    él<strong>,</strong> y a su casa<strong>,</strong> y a todo lo que tiene en derredor<strong>?</strong> Al trabajo de
    sus manos has dado bendición<strong>;</strong> por tanto su hacienda ha crecido sobre la
    tierra<strong>.</strong></i> 11 <i>Mas extiende ahora tu mano<strong>,</strong> y toca a todo lo que
    tiene<strong>,</strong> y verás si no te blasfema en tu rostro<strong>.</strong></i> 12 <strong>Y dijo Jehová a
    Satán:</strong> <i>He aquí<strong>,</strong> todo lo que tiene está en tu mano<strong>;</strong> solamente no pongas
    tu mano sobre él<strong>.</strong> Y salió Satán de delante de Jehová<strong>.</strong></i><strong>"</strong> (Job 1<strong>:</strong>6-12)
</p>
<p><strong>Dios nunca necesita probar a una persona con objeto de saber cómo es.</strong> Él sabe como es y cómo va a
    reaccionar cada persona<strong>.</strong> Cuando Dios permite una prueba sobre un ser humano es para probar a otros
    cómo se comporta esa persona ante esa prueba<strong>.</strong></p>
<p><strong>Algunos hermanos, erradamente, le llaman "pruebas" a las lógicas consecuencias de sus pecados y sus
    errores.</strong> Dios no está enviando <strong>"</strong>pruebas<strong>"</strong> a esa gente<strong>,</strong>
    ellos son demasiado débiles para eso<strong>,</strong> y si se les prueba<strong>,</strong> pueden quebrarse<strong>.</strong>
    Ellos están sufriendo las consecuencias de sus acciones<strong>.</strong> Dios solamente permite ese tipo de pruebas
    en personas de la calidad de Job<strong>,</strong> porque Él sabe que los que no tienen esa calidad lo van a hacer
    quedar mal si los prueba<strong>.</strong></p>
<p><strong>Recuerden, no confundan las consecuencias de sus pecados y errores, con pruebas como la de Job,</strong> a
    menos que Dios pueda decir de ustedes que son perfectos<strong>,</strong> rectos<strong>,</strong> temerosos de Dios
    y apartados del mal<strong>.</strong> Si no son de esa calidad<strong>,</strong> no se auto-adulen creyendo que
    vuestras amarguras son pruebas<strong>.</strong> Eviten envanecerse<strong>.</strong></p>
<p><strong>Las verdaderas pruebas vienen por servir a Cristo sabiamente.</strong> Hay muchos hermanos que padecen las
    consecuencias de sus pecados<strong>,</strong> errores e insensateces<strong>,</strong> pero se consuelan diciendo
    que <strong>"</strong>son pruebas<strong>"</strong> que el Señor les pone<strong>.</strong> Al decir semejante
    tontería lo único que consiguen es engañarse a sí mismos y a todos aquellos a quienes les dicen tal
    cosa<strong>.</strong></p>
<p><strong>Las pruebas de las que en el siguiente pasaje de Pedro se habla, se originan por nuestro honesto, sensato y
    oportuno servicio a Cristo, no en nuestras estupideces, errores, pecados o supersticiones.</strong> Las verdaderas
    pruebas son cosas malas que nos ocurren por hacer lo correcto delante de la vista de Dios<strong>,</strong> como
    cuando Pablo fue azotado en Filipo por echar un demonio de una jovencita esclava<strong>.</strong> O cuando fue
    apedreado por predicar el evangelio<strong>.</strong> Eso de que la verdadera prueba es la que viene por servir a
    Dios<strong>,</strong> lo manifiesta el hecho de que en el versículo 14 del pasaje en cuestión lo que se dice es
    <strong>"</strong><i>si sois vituperados <strong>en el nombre de Cristo</strong></i><strong>...",</strong> o
    sea<strong>,</strong> que las verdaderas pruebas vienen a consecuencia del nombre de Cristo<strong>.</strong></p>
<p></p>
<p><strong>"</strong>12 <i>Carísimos</i><strong>,</strong> <i>no os maravilléis <strong>cuando sois examinados por
    fuego, lo cual se hace para vuestra prueba,</strong> como si alguna cosa peregrina os aconteciese<strong>.</strong></i>
    13 <i>Antes bien gozaos en que sois participantes de las aflicciones de Cristo<strong>;</strong> para que también en
        la revelación de su gloria os gocéis en triunfo<strong>.</strong></i> 14 <strong>Si sois vituperados en el
        nombre de Cristo,</strong> <i>sois bienaventurados<strong>;</strong> porque la gloria y el Espíritu de Dios
        reposan sobre vosotros<strong>.</strong> Cierto<strong>,</strong> según ellos<strong>,</strong> él es blasfemado<strong>,</strong>
        mas según vosotros es glorificado<strong>.</strong></i> 15 <i>Así que<strong>,</strong> <strong>ninguno de
        vosotros padezca como homicida, o ladrón, o malhechor, o por meterse en negocios ajenos.</strong></i> 16
    <strong>Pero si alguno padece como cristiano,</strong> <i>no se avergüence<strong>;</strong> antes glorifique a Dios
        en esta parte</i><strong>."</strong> (I P 4<strong>:</strong>12-16)</p>
<p> En el versículo 15 se confirma lo expresado anteriormente<strong>,</strong> al decir que ninguno padezca como
    homicida<strong>,</strong> ladrón<strong>,</strong> etc<strong>.;</strong> reafirmándolo en el 16 cuando dice
    <strong>"...</strong>pero si alguno padece como cristiano<strong>...".</strong> Se ve claramente que a lo que Pedro
    se refiere no es a lo que muchos hoy le llaman <strong>"</strong>pruebas<strong>",</strong> sino a la verdadera
    prueba que se origina en el servicio correcto a Dios<strong>.</strong></p>
<p><strong>Si algún cristiano le toca en la puerta a un vecino a las 5 de la mañana para predicarle el evangelio, y el
    vecino le da una bofetada,</strong> no diga que es una <strong>"</strong>prueba<strong>",</strong> porque es
    meramente una consecuencia de su estupidez<strong>.</strong></p>
<p> Otros se pasan la vida emborrachándose<strong>,</strong> y a los cincuenta años se convierten a Cristo y no beben
    más<strong>.</strong> Luego les viene una cirrosis<strong>,</strong> y dicen que son
    <strong>"</strong>pruebas<strong>".</strong> No son pruebas<strong>,</strong> son las consecuencias de tu pecado
    pasado<strong>.</strong> Otros tienen creencias no basadas en la Biblia<strong>,</strong> es decir<strong>,</strong>
    supersticiones pseudos-cristianas<strong>.</strong> Por ejemplo<strong>,</strong> creen que si tienen consigo la
    Biblia van a estar protegidos de todo peligro<strong>,</strong> como si el libro fuera un amuleto<strong>.</strong>
    Luego van hacia un peligro evidente con la Biblia en la mano<strong>,</strong> y cuando les ocurre lo que les tiene
    que ocurrir<strong>,</strong> dicen que son <strong>"</strong>pruebas<strong>".</strong></p>
<p> Las verdaderas pruebas ocurren siempre debido a servir a Dios en la forma correcta<strong>,</strong> no debido a
    nuestras estupideces<strong>,</strong> pecados<strong>,</strong> errores<strong>,</strong> falsas
    creencias<strong>,</strong> etc<strong>..</strong></p>
<p><strong>Es la necedad humana, que no puede, o mejor dicho, no quiere vincular los sufrimientos de su vida con los
    pecados que comete.</strong></p>
<p><strong> Deseando algún cristiano seguir cometiendo el pecado que le agrada, sin perder la salvación,</strong> a
    veces pretende engañarse a sí mismo fingiéndose que él no cree que lo que está haciendo es pecado<strong>,</strong>
    y negándose a admitir vinculación entre lo que padece y su pecado<strong>.</strong> Admitir esta vinculación lo
    convencería de que Dios le está diciendo que es pecado<strong>;</strong> y entonces seguirlo cometiendo a pesar del
    mensaje divino<strong>,</strong> pudiera costarle la salvación<strong>,</strong> que él no quiere
    perder<strong>.</strong> Por eso no admite tal vinculación y rechaza tal doctrina<strong>.</strong></p>
<p> Tratan de hacer ver como si por un lado<strong>,</strong> ellos hacen lo recto y nada hacen que dé motivo para
    sufrir lo que sufren<strong>;</strong> y por el otro lado<strong>,</strong> están sufriendo inexplicable y
    misteriosamente<strong>,</strong> amarguras<strong>,</strong> para <strong>"</strong>probarlos<strong>".</strong>
</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>