
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Qué edad tenía la Virgen María</title>
</head>
<body>
<p><strong>QUÉ EDAD TENÍA LA VIRGEN MARÍA</strong></p>
<p> En muchas ocasiones he visto que cuando describen a la Virgen María o pintan cuadros de ella, la describen o la
    pintan como una niña de 13 ó 15 años, o cuando más como una adolescente que no llega a los 20. No es lógico pensar
    tal cosa, porque en Lucas se nos dice que ella visitó a su parienta Elisabet en las montañas, cosa que a una niña de
    15 años no la hubieran dejado hacer.</p>
<p> "<i>En aquellos días levantándose <strong>María, fue a la montaña con prisa</strong>, a una</i> <i> ciudad de Judá;
    y entró en casa de Zacarías, y saludó a Elisabet</i>." ( Lc 1: 39 - 40 )</p>
<p> Los que piensan que la Virgen María era una niña de 13 ó 15 años cuando recibió al ángel, y que tenía unos 16 años
    cuando dio a luz a Cristo se basan en dos argumentos, ambos errados. No obstante esta afirmación apareció en la
    revista de escuela dominical llamada <strong>"Life and Work Pursuits" en la edición del invierno de 1998-99. El
        primer argumento</strong> se basa en la idea de que en aquella cultura a las niñas se las casaban tan pronto
    cumplían los 13 ó 14 años; y que incluso se les casaba cuando aún eran bebés. <strong>El segundo argumento</strong>
    se basa en el mito católico de que José era un anciano de 80 ó 90 años cuando se casó con María, y que ésta siguió
    siendo virgen aún después del matrimonio y del nacimiento de Jesús. <strong>El primer argumento</strong> está errado
    por creer que en la cultura bíblica de Israel y Judá las niñas las casaban a los 13 años, e incluso creen que los
    padres de la niña y del varón arreglaban estos matrimonios cuando aún ambos eran bebés o infantes. Ellos confunden
    la cultura hebrea de las épocas bíblicas, con las costumbres de la India, China y África. Es verdad que en la India
    los padres arreglaban esos matrimonios cuando los niños tenían tres o cuatro años de edad, pero eso no ocurría en
    Israel y Judá. <strong>Ustedes no encontrarán en toda la Biblia la más leve señal de que tal costumbre existía en
        Israel, al contrario,</strong> verán episodios en los que uno se da cuenta de que las mujeres casaderas eran de
    20 años o más. <strong>Un hombre no era considerado adulto hasta los veinte años, mucho menos iba a ser considerada
        adulta una mujer antes de esa edad.</strong> Cuando leemos la Biblia vemos que cuando a los hebreos se les
    llamaba a contribuir para la ofrenda, se referían solamente a los que ya habían llegado a los veinte años, como se
    ve en Ex 30: 14 y 38: 26. También vemos que cuando Dios hace responsables y castiga por sus pecados a los que
    salieron de Egipto, sólo castiga a los que tenían de veinte años arriba, pues a los demás los considera no adultos,
    según vemos en Nm 32: 11. Lo mismo ocurría cuando se llamaba al pueblo para la guerra; siempre se llamaba a los
    hombres que ya habían cumplido los 20 años, como vemos en Nm 1: 3 y 20. Veamos estos pasajes.</p>
<p> "<i>Cualquiera que pasare por la cuenta, <strong>de veinte años arriba,</strong> dará la ofrenda</i> <i> a
    Jehová</i>" ( Ex 30: 14 )</p>
<p> "<i>Medio por cabeza, medio siclo, según el siclo del santuario, a todos <strong>los que</strong></i> <strong>
    pasaron por cuenta de edad de veinte años y arriba,</strong> <i>que fueron seiscientos tres</i> <i> mil quinientos
    cincuenta</i>." ( Ex 38: 26 )</p>
<p> "<i>Que no verán <strong>los varones que subieron de Egipto de veinte años arriba,</strong> la</i> <i> tierra por la
    cual juré a Abraham, Isaac, y Jacob, por cuanto no fueron perfectos</i> <i> en pos de mí</i>" ( Nm 32: 11 )</p>
<p> "<strong>De veinte años arriba, todos los que pueden salir a la guerra</strong> <i>en Israel, los</i> <i> contaréis
    tú y Aarón por sus cuadrillas</i>." ( Nm 1: 3 )</p>
<p> "<i>Y los hijos de Rubén, primogénito de Israel, por sus generaciones, por sus</i> <i> familias, por las casas de
    sus padres, conforme a la cuenta de los nombres por</i> <i> sus cabezas, todos <strong>los varones de veinte años
    arriba, todos los que podían salir</strong></i> <strong> a la guerra</strong>" ( Nm 1: 20 )</p>
<p><strong>Vamos ahora a presentar algunas mujeres casaderas que se mencionan en la Biblia para que veamos que no se
    trata de niñas de 13 años</strong>. En el matrimonio de Rebeca vemos que la familia consulta con Rebeca, sobre su
    matrimonio, lo cual nos hace pensar que no se trataba de una niña. No sólo eso, sino que se ve que ya era una mujer
    fuerte, porque se voluntarizó para sacarle agua <strong>a todos los camellos</strong> del criado de Abraham, lo cual
    no era trabajo para una niña. <strong>Veamos ahora las hijas de Salfaad.</strong> Estas cinco damas aparecen en tres
    pasajes de las Escrituras. En Nm 26: 2 y 33 <strong>se dan sus nombres entre los contados de Israel que tenían más
        de veinte años;</strong> por lo tanto, es más que lógico pensar que estas mujeres tenían más de veinte años. En
    27: 1- 4 ellas se presentan ante Moisés, los príncipes y toda la congregación y defienden sus derechos de heredad.
    En 36: 1-12 se ve que eran solteras. La forma en que estas mujeres se presentan en estos tres episodios ante Moisés,
    los príncipes etc., la forma en que defienden sus derechos, la forma de argumentar etc., no es la de cinco inmaduras
    adolescentes, sino la de cinco mujeres hechas y derechas. Sin embargo, estas cinco mujeres eran solteras aún, como
    se ve en 36: 3, 6 y 11. No es lógico pensar por un lado, que las mujeres se casaban cuando tenían 13 ó 15 años, y
    por otro lado ver que ninguna de las cinco se había casado. Eso quiere decir que no acostumbraban a casarse cuando
    tenían 13 años. Veamos esos pasajes.</p>
<p> "<i>Y Salfaad, hijo de Hepher, no tuvo hijos sino hijas: y los nombres de <strong>las</strong></i> <strong> hijas de
    Salfaad fueron Maala, y Noa, y Hogla, y Milca, y Tirsa</strong>." ( Nm 26: 33 )</p>
<p> "1 <i>Y las hijas de Salfaad, hijo de Hepher, hijo de Galaad, hijo de Machir, hijo</i> <i> de Manasés, de las
    familias de Manasés, hijo de José, los nombres de las cuales</i> <i> eran <strong>Maala, y Noa, y Hogla, y Milca, y
    Tirsa,</strong> llegaron</i> 2 <strong>y presentáronse</strong> <strong> delante de Moisés, y delante del sacerdote
    Eleazar, y delante de los príncipes,</strong> <strong> y de toda la congregación, a la puerta del tabernáculo del
    testimonio</strong><i>, y dijeron:</i> <i> </i> 3 <i>Nuestro padre murió en el desierto, el cual no estuvo en la
    junta que se reunió</i> <i> contra Jehová en la compañía de Coré: sino que en su pecado murió, y no tuvo</i> <i>
    hijos.</i> 4 <i>¿Por qué será quitado el nombre de nuestro padre de entre su familia, por</i> <i> no haber tenido
    hijo? Danos heredad entre los hermanos de nuestro padre</i>." ( Nm 27: 1- 4 )</p>
<p> "<i>2..... también ha mandado Jehová a mi señor, que dé la posesión de Salfaad</i> <i> nuestro hermano a sus hijas;
    3 las cuales, si se casaren con algunos de los hijos</i> <i> de las otras tribus de los hijos de Israel, la herencia
    de ellas será así desfalcada</i> <i> de la herencia de nuestros padres,.... 6 Esto es lo que ha mandado Jehová
    acerca</i> <i> de las hijas de Salfaad, diciendo: Cásense como a ellas les pluguiere, empero en</i> <i> la familia
    de la tribu de su padre se casarán;.... 10 Como Jehová mandó a Moisés,</i> <i> así hicieron las hijas de Salfaad. 11
    Y así Maala, y Tirsa, y Hogla, y Milca, y Noa,</i> <i> hijas de Salfaad, se casaron con hijos de sus tíos: 12 de la
    familia de los hijos de</i> <i> Manasés, hijo de José, fueron mujeres; y la heredad de ellas quedó en la tribu</i>
    <i> de la familia de su padre.</i>" ( Nm 36: 1-12 abreviado )</p>
<p> Otra cosa en la que fijarnos es que <strong>estas mujeres tenían libertad para elegir marido.</strong> No habían
    sido forzadas a casarse por su padre, ni luego de su muerte fueron obligadas a casarse por sus abuelos, tíos, etc.,
    a pesar de que todavía existían los hermanos y familiares del padre, como se ve en 27: 4. Igualmente vemos en 36: 6
    que el mismo Moisés les reconoce libertad para escoger marido cuando dice: "<strong>Cásense como a ellas les
        pluguiere</strong>...". Moisés no dijo cásense como le parezca a sus tíos o abuelos, sino como a ellas les
    parezca. Se ve que estas mujeres, al igual que Rebeca, tenían libertad de elección para casarse, y que no se casaban
    siendo adolescentes. Las costumbres bíblicas han sido muy distorsionadas por personas que, por ignorancia, las
    igualan a otras costumbres del medio y lejano oriente. <strong>Las constructoras de la muralla de
        Jerusalem.</strong> Uno de los que reconstruyó los muros de Jerusalem durante la época de Nehemías tenía a sus
    hijas trabajando con él en el muro. Es lógico pensar que si este hombre tenía a sus hijas trabajando con él era
    porque esas hijas no eran casadas. Si hubieran sido casadas no hubieran estado con él trabajando en la muralla, sino
    atendiendo a su marido y a sus hijos. Tampoco podemos pensar que esta dura tarea de reconstrucción la podían hacer
    niñas de 13 ó 15 años. Además, como que tenía varias hijas, no todas iban a ser adolescentes; es lógico pensar que
    unas serías mayores que otras, y estas mayores tampoco estaban casadas.</p>
<p> "<i>Junto a ellos restauró Salum hijo de Lohes, príncipe de la mitad de la</i> <i> región de Jerusalem, <strong>él
    con sus hijas</strong></i>." ( Neh 3: 12 )</p>
<p><strong>Las hijas de Felipe.</strong> Este diácono tenía cuatro hijas que <strong>eran conocidas</strong> por su don
    de profecía. Dado que ellas eran ya conocidas es lógico pensar que ese don no les comenzó el día anterior a la
    llegada de Pablo. Si ellas habían tenido el don de profecía por cierto tiempo, y si además eran cuatro, eso
    significa que por lo menos una de ellas no era una adolescente, y sin embargo, <strong>todas eran solteras</strong>.
    Tenemos ahí otro caso de mujeres hechas y derechas que no estaban casadas aún.</p>
<p> "<i>Y otro día, partidos Pablo y los que con él estábamos, vinimos a Cesarea:</i> <i> y entrando en casa de Felipe
    el evangelista, él cual era uno de los siete, posamos</i> <i> con él. Y éste <strong>tenía cuatro hijas, doncellas,
    que profetizaban</strong></i>." ( Hch 21: 8- 9 )</p>
<p> Los que lean la Biblia de Génesis a Apocalipsis se darán cuenta de que <strong>en ninguna parte de la Biblia se
    puede encontrar algo que nos haga pensar que existía la costumbre de casar a las niñas cuando éstas tenían 13 ó 15
    años.</strong> Sin embargo, sí podemos encontrar episodios en los que, al leerlos, nos dan la impresión de que las
    mujeres solteras que en ellos participan ya eran mujeres hechas y derechas. <strong>Por eso es que yo no creo que la
        Virgen María era una adolescente cuando se casó con José.</strong> Pero aún hay más. <strong>Cualquier padre
        sensato</strong> sabe que ninguna adolescente, y menos aún una niña, está madura ni física ni psicológicamente
    para casarse, atender a su esposo y a sus hijos. ¿Estaría alguno de ustedes contento de que su hija de 13, 15 ó 17
    años quisiera casarse a tal edad? ¿Estaría alguno de ustedes saltando de gozo porque su hijita de 17 años les traiga
    un bebé.? ¿No se llenarían ustedes de preocupación y pensarían que la niña había comenzado muy pronto, a cargarse de
    responsabilidades, cuando aún ella no estaba preparadas ni física ni psicológicamente para esa carga? Ahora la niña
    tendrá que cuidar a su esposo y a sus hijos, <strong>cuando todavía ella está para que la cuiden a ella</strong>.
    Esto es lo mismo que yo he alegado a amigos que me han dicho que la Virgen María era una adolescente cuando tuvo a
    Jesucristo. Claro, esos amigos me han confesado que, efectivamente, de ninguna manera ellos hubieran querido que sus
    hijas jóvenes tomaran esa carga; pero alegaban que esa la costumbre de los padres en Israel. No es cierto que esa
    fuera la costumbre como ya hemos visto anteriormente. Pero aún si esa hubiera sido la costumbre en aquel tiempo,
    ellos olvidan que quien dispuso que a la Virgen María le fuese puesta la carga de atender a un esposo y a sus hijos,
    no fue su padre carnal, sino Dios. ¿Vamos a pensar que Dios hizo lo que un padre sensato no haría? Es lógico pensar
    que Dios cargó a María con esa carga a la edad que Él sabía que una mujer estaba lo suficientemente madura física y
    psicológicamente para llevarla. ¿Le confiaría Dios su hijo a una niña de 13, 15 ó 17 años? ¿Lo haría usted? <strong>Segundo
        argumento.</strong> En cuanto a que José era un anciano de 70 u 80 años, como dice el mito católico, nos basta
    para no creerlo el hecho de que viajó desde Nazaret hasta Belén primero, y luego desde allí hasta Egipto, llevando a
    su esposa y cuidándola. No creo yo que un anciano de 80 años pueda hacer esos viajes, si nos guiamos por lo que
    Barzilai le dijo a David cuando tenía esa misma edad. David, en agradecimiento, convidó a Barzilai a ir con él a
    Jerusalem, lo cual aunque agradecido, rechazó Barzilai, porque se sentía muy viejo para tales actividades.</p>
<p> "<strong>Yo soy hoy día de edad de ochenta años,</strong> <i>que ya no haré diferencia entre lo</i> <i> bueno y lo
    malo: ¿tomará gusto ahora tu siervo en lo que comiere o bebiere?</i> <i> ¿oiré más la voz de los cantores y de las
    cantoras? ¿para qué, pues, sería aún</i> <i> tu siervo molesto a mi señor el rey</i>? ( II Sam 19: 35 )</p>
<p> La supuesta ancianidad de José es un mito del romanismo, para apuntalar el otro mito de que la Virgen María siguió
    siendo virgen toda la vida. Inventan estos mitos porque quieren hacer ver que la Virgen María es algo así como una
    divinidad de menor categoría.</p>
<p><a href="NotasBiblicas.html">Volver al indice</a></p>
</body>
</html>