
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Cuál es el verdadero amor</title>
</head>
<body>
<p><strong>QUÉ ES EL VERDADERO AMOR. ¿AMAR A LOS QUE ODIAN A DIOS?</strong></p>
<p> Hay quienes creen que toda la doctrina de Dios consiste en amar<strong>;</strong> en amar a todo el
    mundo<strong>.</strong> Creen ellos que todos los requerimientos de Dios para el ser humano se compendian en amar a
    todo el mundo<strong>.</strong> Por eso es que hay gente que dice amar hasta a los peores
    criminales<strong>,</strong> y creen que eso es lo que Dios les mandó<strong>.</strong> Pero en este pasaje de la
    Escritura vemos que el rey Josafat es regañado de parte de Dios por medio del profeta Jehú hijo de
    Hanani<strong>,</strong> por amar a los que aborrecen a Dios<strong>.</strong></p>
<p> Bien claramente le intima Dios al rey Josafat que por amar a los que le aborrecen a Él<strong>,</strong> la ira de
    la presencia de Dios sería sobre el rey<strong>.</strong> Se saca de aquí en conclusión que no se debe amar a los
    que conscientemente<strong>,</strong> son verdaderos enemigos de Dios<strong>.</strong> Pudiera uno amar a alguien
    que por ignorancia aborreciera a Dios<strong>,</strong> pero no a uno que con perfecto conocimiento de quién es Dios
    y todo lo que significa<strong>,</strong> odie a Dios<strong>.</strong> <strong>¿</strong>Sería acaso lógico amar a
    Satanás y a los demonios<strong>?</strong> <strong>¿</strong>Sería acaso lógico orar por ellos<strong>?</strong>
    <strong>¿</strong>Estaría Dios de acuerdo con tal actitud<strong>?</strong></p>
<p></p>
<p><strong>"</strong><i>Y le salió al encuentro Jehú el vidente<strong>,</strong> hijo de Hanani<strong>,</strong> y
    dijo al rey Josafat<strong>:</strong> <strong>¿Al impío das ayuda, y amas a los que aborrecen a Jehová? Pues la ira
        de la presencia de Jehová será sobre ti por ello</strong></i><strong>."</strong> ( II Cr 19<strong>:</strong> 2
    )</p>
<p></p>
<p> Se evidencia que no es lo mismo un ateo que un antiteísta<strong>.</strong> Es decir<strong>,</strong> no es lo
    mismo una persona que no ama a Dios<strong>,</strong> o no le interesa Dios<strong>,</strong> que uno que lo
    odie<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
<p></p>
<p></p>
<p></p>
<p></p>
</body>
</html>