---
import Layout from "../layout/Layout.astro";
---

<Layout title="Qué es lo que obstaculiza el recibir las bendiciones de Dios">
    <section>
        <p><strong>Qué es lo que obstaculiza el recibir las bendiciones de Dios</strong></p>
        <p><strong>Los pecados apartan de nosotros las bendiciones</strong></p>
        <p> Como veremos claramente en el versículo que a continuación presento<strong>,</strong> el pecado pone
            estorbos a las
            bendiciones y cosas buenas que Dios quiere derramar sobre nosotros<strong>.</strong> Por lo
            tanto<strong>,</strong>
            no es cosa ligera eso de posponer para más adelante el dejar de pecar<strong>.</strong> <strong>Eso, además
                de ser
                una falta de respeto para Dios,</strong> es algo que nos hace daño a nosotros<strong>,</strong> tanto
            personalmente<strong>,</strong> como a la sociedad<strong>.</strong> La mayoría de los males que nos
            vienen<strong>,</strong> se deben a nuestra falta de obediencia a los mandamientos de Dios<strong>.</strong>
        </p>
        <p></p>
        <p><strong>"<i>Vuestras iniquidades</i></strong> <i>han estorbado estas cosas<strong>,</strong> y <strong>vuestros
            pecados</strong> apartaron de vosotros el bien</i><strong>."</strong> (Jer 5<strong>:</strong>25)</p>
        <p> Hay veces que Dios nos castiga<strong>,</strong> porque merece castigo lo que hicimos<strong>,</strong> y
            Dios no
            hace acepción de personas<strong>,</strong> como dice Hechos 10<strong>:</strong>34<strong>.</strong> Otras
            veces lo
            malo que nos sucede es para que aprendamos algo<strong>.</strong> Pero otras veces son la natural
            consecuencia de
            nuestros hechos<strong>,</strong> sin deseos de que seamos castigados ni de enseñarnos
            nada<strong>.</strong> Puede
            que nosotros aprendamos algo de esa experiencia<strong>,</strong> pero no fue hecha de
            propósito<strong>.</strong>
        </p>
        <p><strong>Nuestra vida, en relación con los mandamientos y las desdichas, se perecen mucho al "Manual del
            Operador" que
            acompaña a todo aparato que compramos.</strong> Si seguimos las instrucciones del
            fabricante<strong>,</strong> el
            aparato nos servirá bien<strong>,</strong> y nos durará mucho<strong>;</strong> si hacemos lo que no debemos
            padeceremos las consecuencias<strong>.</strong></p>
        <p> A veces nos creemos que sabemos todo lo que hay que saber<strong>,</strong> pero no es así<strong>.</strong>
            Dios da
            mandamientos que muchos se creen que fueron puestos para la gente de
            <strong>"</strong>antes<strong>",</strong> o
            que fueron puestos por gusto<strong>;</strong> no los cumplen y sufren las consecuencias<strong>.</strong>
            <strong>Con
                un carro que yo tuve aprendí esa experiencia.</strong></p>
        <p> Estaba yo echándole aceite barato a mi carro<strong>.</strong> Era un aceite que tenía buena
            viscosidad<strong>,</strong> y como yo sé de física<strong>,</strong> química<strong>,</strong>
            etc<strong>.,</strong> consideraba que estaba haciendo lo correcto<strong>.</strong> Presente estaba un
            amigo
            mío<strong>,</strong> mecánico por estudios<strong>,</strong> y al ver el aceite barato que yo le echaba al
            carro me
            aconsejó que le echara un aceite caro<strong>.</strong> Como que yo sabía que el aceite tenía viscosidad
            suficiente<strong>,</strong> no vi la necesidad de gastar dinero en un aceite más caro<strong>,</strong>
            creyendo
            que yo me las sabía todas por haber estudiado física<strong>,</strong> química<strong>,</strong>
            etc<strong>..</strong></p>
        <p> Al cabo de tres o cuatro años se me fundió el motor del carro<strong>,</strong> por lo cual apelé a mi amigo
            y
            juntos le quitamos el motor viejo y pusimos el nuevo<strong>.</strong> Cuando acabamos<strong>,</strong> mi
            amigo me
            dijo<strong>:</strong> <strong>"</strong>Vamos a ver por qué razón se te fundió el motor<strong>".</strong>
            Comenzamos a abrirlo<strong>,</strong> y al quitar el cárter (recipiente donde se deposita el aceite que
            circula)
            quedó expuesto el tubo aspirante del aceite el cual tenía una malla o rejilla metálica para que no
            penetraran
            cuerpos extraños<strong>.</strong> Dicha rejilla estaba bloqueada por carbón solidificado<strong>,</strong>
            y sólo
            quedaban tres cuadritos abiertos para que aspirara el aceite<strong>.</strong> Por una abertura tan pequeña
            no
            entraba suficiente aceite cuando se aceleraba el carro<strong>,</strong> y por eso se me había
            fundido<strong>.</strong></p>
        <p> Al ver el tubo aspirante mi amigo me dijo<strong>:</strong> <strong>"</strong>Debes usar siempre el aceite
            más caro
            que puedas costear<strong>,</strong> porque los aceites caros tienen un disolvente del
            carbón<strong>,</strong> que
            impide que se pegue en las partes del motor<strong>,</strong> y ese carbón sale cada vez que cambias el
            aceite<strong>.</strong> Si usas aceite barato el carbón se te va pegando donde quiera<strong>,</strong>
            como ves
            que ha sucedido<strong>".</strong></p>
        <p> En ese momento me acordé y le dije<strong>:</strong> <strong>"</strong>Tú me dijiste hace tres o cuatro años
            que
            echara aceite caro<strong>,</strong> pero no me dijiste el por qué<strong>,</strong> y no te hice
            caso<strong>.</strong> Yo creía que lo sabía todo<strong>."</strong></p>
        <p><strong>No siempre Dios nos dice por qué debemos cumplir un mandamiento,</strong> pero si no lo
            cumplimos<strong>,</strong> con el tiempo veremos que se nos funde algún motor en nuestra
            vida<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    