
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Peril of believing that the Church shall be raptured before the Great Tribulation</title>
</head>
<body>
<p><strong>Peril of believing that the Church shall be raptured before the Great Tribulation</strong></p>
<p>Saint Paul said<strong>:</strong> <strong>"</strong><i>Prove all things<strong>,</strong> hold fast that which is
    good</i><strong>".</strong></p>
<p><strong>The peril of believing that the Church shall be raptured before the Great Tribulation,</strong> hinges on the
    fact that the Christian will cease to be alert to the prophecies and the current circumstances which surround
    them<strong>.</strong> If they were alert<strong>,</strong> they could escape as instructed by the
    Lord<strong>.</strong> The Christians of the first century had to be alert so they could flee as soon as they saw
    Jerusalem surrounded by armies<strong>,</strong> as Jesus had foretold<strong>.</strong></p>
<p> If the brethren rely on a <strong>"</strong>Rapture<strong>"</strong> that does not come before the Great
    Tribulation<strong>,</strong> they shall be the victims of the error in which they were drilled<strong>.</strong>
</p>
<p> The responsibility upon those that teach this false <strong>"</strong>Rapture<strong>"</strong> hinges on the fact
    that we put our brethren to slumber with a lie<strong>,</strong> and we deprive them of availing themselves of God's
    provision to protect us from the Great Tribulation<strong>.</strong></p>
<p> The responsibility of preaching the lie of the <strong>"</strong>Rapture previous to the Great
    Tribulation<strong>"</strong> is very great<strong>.</strong> Let us search for the truth so that we do not stain
    our hands with the blood of our brethren which we have misled<strong>.</strong> For each careless word that we speak<strong>,</strong>
    we shall give an account in the Day of Judgment<strong>.</strong></p>
<p> This book<strong>,</strong> <strong>"Rapture Vs Ingathering or Fiction Vs Reality",</strong>
    <strong>demonstrates</strong> that there is an <strong>Ingathering</strong> of the Christians <strong>after</strong>
    the Great Tribulation<strong>,</strong> and during the Second Coming of our Lord Jesus Christ<strong>.</strong> But
    there is <strong>no Rapture previous</strong> to the Great Tribulation<strong>.</strong></p>
<p> God promises to spare his children from the Great Tribulation<strong>,</strong> but they must remain alert regarding
    what they will have to do<strong>,</strong> just like the Christians of the first century had to be alert in order
    to flee as soon as they saw Jerusalem surrounded by armies<strong>,</strong> as Jesus had foretold<strong>.</strong>
</p>
<p> The <strong>"</strong>Rapture previous to the Great Tribulation<strong>"</strong> is a deception<strong>,</strong>
    as warned by the apostle Paul when he said<strong>:</strong> <strong>"</strong><i>Let no one deceive you in any
        way<strong>,</strong> because it shall <strong>not</strong> come without <strong>first</strong> appearing the
        apostasy and <strong>the man of sin, the son of perdition</strong> is manifested</i><strong>."</strong></p>
<p> Paul knew that someone would try to deceive the brethren<strong>,</strong> with respect to Christ coming to get us
    before the arrival of the antiChrist<strong>.</strong> This is an issue of vital importance<strong>;</strong> read
    this book<strong>,</strong> because as Paul said<strong>:</strong> examine everything<strong>,</strong> retain what
    is good<strong>.</strong></p>
<p> If you are interested in this written work you can request it from <strong>Rafael Luis Serralta-Nogués</strong> and
    it will be sent completely free<strong>.</strong> You may send an E-mail to
    rlserralta@netzero<strong>.</strong>net<strong>,</strong> or write to P<strong>.</strong> O<strong>.</strong> Box
    655126<strong>,</strong> Miami<strong>,</strong> FL 33265-5126<strong>.</strong> Likewise you can download this and
    other books<strong>,</strong> from our website
    www<strong>.</strong>bibleserralta<strong>.</strong>com<strong>.</strong></p>
<p> In this website you will also find<strong>,</strong> <strong>both in English and Spanish,</strong> a series of
    articles regarding a diverse array of errors that have been introduced into Christianity<strong>,</strong> and how
    to defend the true Christian doctrine<strong>.</strong></p>
<p><strong>It is a typical mode of operation of our Lord God, to always provide his own with an escape route,</strong>
    whenever He sends a catastrophe<strong>.</strong> This benefit is received if<strong>,</strong> and only
    if<strong>,</strong> His people are open to the signs that He has provided in His word<strong>,</strong> for the
    purpose of warning of the imminence of the tragedy<strong>.</strong> God will save from the Great Tribulation those
    servants that are attentive to his word<strong>,</strong> but <strong>not by removing them from the planet by means
        of this imaginary rapture before the Great Tribulation,</strong> but rather by giving them the opportunity of
    finding refuge in that place that the Lord Jesus Christ reveals with the name of <strong>"</strong>the
    wilderness<strong>".</strong> It will be demonstrated in chapter 6 of the aforementioned book<strong>.</strong></p>
<p> To believe in the Rapture before the Great Tribulation is like believing that the Earth is flat<strong>.</strong> To
    try to help somebody abandon an error that was taught to them since they were born is a very difficult
    task<strong>,</strong> because that concept has become rooted in their mind and personality<strong>.</strong></p>
<p> This was the enormous difficulty that Christopher Columbus experienced in convincing the professors and wise men of
    the University of Salamanca<strong>,</strong> to approve his plan<strong>.</strong> He said to them that due to the
    roundness of the Earth<strong>,</strong> and not flatness<strong>,</strong> as they believed<strong>,</strong> he
    could look for India by navigating towards the West instead of the East<strong>.</strong> Since those professors and
    learned men had grown up with the error that the Earth was flat<strong>,</strong> and additionally<strong>,</strong>
    the whole World <strong>"</strong>knew<strong>"</strong> that the Earth was flat<strong>,</strong> they did not
    allow Columbus to convince them<strong>.</strong></p>
<p><strong>The hypothesis of a Rapture before the Great Tribulation</strong> falls in this category of errors learned
    from birth<strong>.</strong> This theory survives by changing the meaning of words and phrases<strong>,</strong>
    such as <strong>"</strong>first<strong>",</strong> <strong>"</strong>final<strong>",</strong> <strong>"</strong>twinkling
    of an eye<strong>",</strong> <strong>"</strong>saints<strong>",</strong> <strong>"</strong>second<strong>",</strong>
    <strong>"</strong>church<strong>",</strong> <strong>"</strong>coming<strong>",</strong> etc<strong>.,</strong> all
    of which I shall demonstrate throughout this book I recommend you to read<strong>.</strong></p>
<p> Few even consider discussing this matter<strong>.</strong> It hurts their comfort zone<strong>,</strong> it forces
    them to reason<strong>,</strong> it leads them to differ with their denomination and their friends<strong>,</strong>
    because all of them believe in such <strong>"</strong>Rapture<strong>"</strong> previous to the Great
    Tribulation<strong>.</strong></p>
<p><strong>If we were to believe that something is true simply because it is believed by many people,</strong> then
    instead of being evangelical Christians<strong>,</strong> we would be Catholics<strong>,</strong> Buddhists or
    Animists<strong>,</strong> since any of these beliefs is held by more people than those that hold
    ours<strong>.</strong></p>
<p><strong>Practically all of the brothers that teach this harmful doctrine of the rapture, do it innocently.</strong>
    Since the time they were born to the gospel<strong>,</strong> it is what they were taught<strong>,</strong> it was
    drilled into them<strong>;</strong> in other words they have been deceived in it<strong>.</strong> But they can free
    themselves of this fallacy with a small effort<strong>:</strong> by analyzing what others<strong>,</strong> that do
    not believe the same<strong>,</strong> have to say about this issue<strong>.</strong> In this case they can analyze
    what is presented in this book<strong>.</strong> It is worth making the effort<strong>,</strong> not only for their
    sakes<strong>,</strong> but because of the terrible responsibility of passing-on this deception to
    others<strong>.</strong></p>
<p> God has always provided an escape route for his people<strong>.</strong> This escape route is dependent on his
    saints knowing the word of God and staying alert to the events and circumstances surrounding them<strong>.</strong>
</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>