
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Motivos por los cuales la gente no quiere saber la verdad</title>
</head>
<body>
<p><strong>Motivos por los cuales la gente no quiere saber la verdad</strong></p>
<p> El no querer salir de un error le sucede al ser humano<strong>,</strong> por la mezcla de sentimientos en el proceso
    del razonamiento<strong>.</strong></p>
<p> He observado a través de mi vida al humano <strong>tratando de justificar muchas cosas mediante torcidas
    interpretaciones</strong> de lo que leen<strong>,</strong> bien sea las noticias<strong>,</strong> en cuestiones de
    leyes<strong>,</strong> o en la Biblia<strong>.</strong> Las razones que los mueven a hacer eso son muy
    diversas<strong>,</strong> tanto en la vida común como en las cuestiones de religión<strong>.</strong> Veamos éstas
    últimas<strong>.</strong></p>
<p><strong> 1) Temor a ofender a Dios</strong> si duda de lo que le enseñaron los hombres<strong>,</strong> y lo somete
    al raciocinio<strong>.</strong></p>
<p><strong> 2) Temor a encontrar una verdad</strong> que a él se le antoja pudiera ser muy difícil de
    cargar<strong>.</strong></p>
<p><strong> 3) Temor a cambiar de doctrina</strong> y entonces tener que enfrentarse a los que antes pensaban como
    él<strong>,</strong> y que lo consideren un traidor<strong>.</strong></p>
<p><strong> 4) Orgullo,</strong> resistencia a admitir que estaba errado y que no había utilizado adecuadamente sus
    facultades mentales<strong>.</strong></p>
<p><strong>5) Temor a lo que para él es nuevo,</strong> sin saber por qué teme<strong>.</strong></p>
<p><strong>6) Otros lo que quieren es tener "algo nuevo" para predicar, a fin de justificar su separación de su
    iglesia,</strong> o que justifique una nueva secta que él quiere formar o mantener<strong>.</strong></p>
<p><strong> 7) Otro motivo es justificarse ante sí mismo</strong> en cuanto a seguir admitiendo algo que su conciencia o
    su intelecto le dice que no está correcto<strong>,</strong> pero que a él<strong>:</strong> <strong>a)</strong> le
    conviene su existencia<strong>;</strong> o <strong>b)</strong> el admitir la interpretación que no es torcida lo
    pone en el disparadero de oponerse a los demás que creen torcidamente<strong>.</strong></p>
<p><strong>8) Justificar prejuicios sociales, sexuales o raciales.</strong> En época de la esclavitud africana había
    quienes decían que los negros no tenían alma<strong>,</strong> para así poder justificar lo que se hacía en su
    ambiente<strong>.</strong> Otros justificaban todo aquello asegurando<strong>,</strong> sin base bíblica para
    ello<strong>,</strong> que la maldición de Noé para Cam era la que había provocado la esclavitud
    negra<strong>.</strong> Hubo un pastor americano del sur<strong>,</strong> siendo yo muy joven<strong>,</strong> que
    me trató de <strong>"</strong>demostrar<strong>"</strong> que los negros eran burlones<strong>,</strong> según
    él<strong>,</strong> por la herencia de Cam<strong>,</strong> que se burló de la desnudez de Noé<strong>.</strong>
</p>
<p><strong>9) Desear mantenerse "ignorante",</strong> o al menos <strong>"</strong>escéptico<strong>"</strong> sobre la
    vigencia de una norma de conducta o religión para no sentirse obligado a cumplirla<strong>,</strong> ni sentirse mal
    por no cumplirla<strong>.</strong></p>
<p><strong>10) El justificar su pecado haciéndose creer a sí mismo que el entiende la religión o la Biblia de otra
    manera.</strong> Este fue el caso de un pastor que ampliaba tanto el concepto del perdón y de la
    gracia<strong>,</strong> que incluía en ese concepto el adulterio continuado de su esposa<strong>,</strong> y el
    repulsivo consentimiento de él a semejante pecado<strong>.</strong> Para justificarse<strong>,</strong> él decía que
    yo me guiaba por la ley<strong>,</strong> pero que él estaba bajo la gracia<strong>.</strong> (De todos estos casos
    que menciono puedo decir sus nombres y sus sectas<strong>;</strong> si no lo hago es por no hacer daño
    innecesariamente)<strong>.</strong></p>
<p><strong>11) El figurarse que modificar su creencia de muchos años,</strong> adquirida desde niño<strong>,</strong>
    por tradición familiar<strong>,</strong> o cuando se convirtió al evangelio<strong>,</strong> puede hacer peligrar
    su salvación<strong>,</strong> o el concepto que él cree que Dios tiene de él y de su
    <strong>"</strong>fe<strong>".</strong></p>
<p><strong>12) La falta de confianza en su propio análisis de la palabra de Dios,</strong> lo cual le hace imaginarse
    que toda cosa nueva que le entre en la mente<strong>,</strong> toda idea nueva que se le sugiera<strong>,</strong>
    es una <strong>"</strong>prueba<strong>"</strong> a que Dios lo somete<strong>,</strong> para ver si él se mantiene
    <strong>"</strong>firme<strong>".</strong> Otros piensan que es una <strong>"</strong>tentación del demonio<strong>".</strong>
    Esto lo decía a sus feligreses el cura de un pueblo que yo visitaba frecuentemente<strong>,</strong> respecto a la
    predicación de los evangélicos del lugar<strong>.</strong></p>
<p><strong>13) Confundir la obcecación con la fe,</strong> y catalogar el razonar sobre la palabra de
    Dios<strong>,</strong> como una duda pecaminosa<strong>,</strong> como una debilidad en la fe<strong>,</strong> y
    una tentación<strong>.</strong> Un cristiano de muchos años<strong>,</strong> lector de la Biblia y con cultura
    universitaria me garantizaba que razonar sobre religión es un pecado<strong>,</strong> y que el usar la lógica es
    una cosa diabólica<strong>.</strong> Él no quería ver que Cristo usaba la lógica en su predicación<strong>,</strong>
    y que Pablo llena la epístola a los Hebreos con razonamientos<strong>.</strong> Para él<strong>,</strong> su
    aferramiento y su estolidez<strong>,</strong> es una fe titánica<strong>;</strong> él se consideraba un titán de la
    fe<strong>,</strong> porque se resistía a razonar<strong>.</strong></p>
<p><strong>14) Otros no desean llegar a la verdad porque esto los privaría de pertenecer a un grupo élite,</strong>
    exclusivista<strong>,</strong> un grupito de <strong>"</strong>elegidos<strong>"</strong> que pueden mirar a los
    demás por encima del hombro con <strong>"</strong>justificación divina<strong>".</strong> Así son los
    ruselistas<strong>,</strong> que se creen que van a ser los presidentes<strong>,</strong>
    senadores<strong>,</strong> gobernadores<strong>,</strong> alcaldes<strong>,</strong> etc<strong>.,</strong> de los
    países<strong>,</strong> cuando venga el <strong>"</strong>nuevo orden<strong>".</strong> Algo parecido hacen
    algunos judíos<strong>,</strong> que pretenden justificar con su religión<strong>,</strong> sus pujos de
    superioridad racial<strong>,</strong> al igual que los nazis justificaban la suya con su
    <strong>"</strong>religión<strong>"</strong> nazista y con su ídolo Hitler<strong>.</strong> Una religión de
    igualdad racial como la cristiana no llama la atención de los que tienen una religión en la que su
    raza<strong>,</strong> o cierto grupo es superior a los demás<strong>.</strong></p>
<p><strong>15) Estar tan embebidos en un pecado o concupiscencia</strong> que nos ha acompañado toda la vida a nosotros
    como personas<strong>,</strong> o a nosotros como miembros de la sociedad<strong>,</strong> que no nos damos cuenta
    de que lo tenemos<strong>.</strong> No nos damos cuenta de que es pecado<strong>,</strong> pues lo creemos parte
    natural de la vida<strong>.</strong> Es como decirle a un pez que él está mojado<strong>;</strong> no nos entendería<strong>,</strong>
    porque nunca ha visto nada ni nadie seco<strong>.</strong> No podría siquiera imaginar qué significa talco
    seco<strong>,</strong> o harina de trigo seca<strong>.</strong> Igualmente<strong>,</strong> el que de tanto tenerla<strong>,</strong>
    da una concupiscencia por cosa natural de la vida<strong>,</strong> no comprende<strong>,</strong> o tuerce las
    claras explicaciones o mandatos que la palabra de Dios da en sentido contrario<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>