---
import Layout from "../layout/Layout.astro";
---

<Layout title="Reaching Holiness">
    <section>
<p><strong>Reaching Holiness</strong></p>
<p> Reaching holiness of the soul should be the goal of every person who comes to know God<strong>.</strong> This is not
    a pleasant subject to discuss<strong>,</strong> due to the fact that human beings<strong>,</strong> in
    general<strong>,</strong> possess a desire to continue behaving in the same way and doing whatever pleases them in
    spite of their conversion to Christ<strong>.</strong> <strong>Many enjoy listening to sermons and joining churches
        where tell them they can continue to be a degenerate scum bag, without losing their salvation because they are
        under the grace.</strong></p>
<p> This is one of the reasons why this subject is not pleasant to all<strong>,</strong> because we have to discuss
    issues that man has no desire to discover<strong>.</strong> Instead we must talk of that which most people do not
    want to hear<strong>.</strong> Must talk about things that do not fill the pews of our churches with
    donors<strong>,</strong> but speak of issues that will sanctify the Church<strong>.</strong> It is only fitting to
    Christian love that we bring this topic to light even if it may not be pleasant to our ears<strong>.</strong></p>
<p><strong>One of the key ingredients necessary to reach holiness is to understand what God wants from us and obey
    Him.</strong> In order to do this<strong>,</strong> we must read or listen to the Word of God as it is written in
    the Bible<strong>.</strong></p>
<p> Many wish to become physicians<strong>,</strong> attorneys or engineers<strong>,</strong> but few are willing to
    sacrifice their personal pleasures<strong>,</strong> in order to utilize their time to study these
    careers<strong>.</strong> They would like to obtain a doctorate degree<strong>,</strong> but only if the knowledge
    itself would somehow enter their brains without having to study<strong>.</strong></p>
<p> By the same token<strong>,</strong> there are many Christians who would like to learn about the doctrines of our
    Christian faith<strong>,</strong> but relatively few are willing to sacrifice their pleasures and lifestyles to
    utilize that time for the reading of the Word of God<strong>.</strong> They would love to know the Bible from
    Genesis to Revelation<strong>,</strong> but only if somehow that knowledge could penetrate them without having to
    read the Bible on their own<strong>.</strong></p>
<p><strong>The majority of people read books that "explain" the Bible</strong> according to the feelings and
    interpretation of the author<strong>;</strong> but very few are willing to read the entire Bible<strong>,</strong>
    in succession<strong>,</strong> at least twenty times<strong>.</strong></p>
<p><strong>When books that "explain" the Bible are used,</strong> a brother may learn some good facts about
    Scripture<strong>,</strong> but he may also be getting the errors believed by its author<strong>.</strong> The Bible
    is inspired by the Holy Spirit<strong>;</strong> books that explain the Bible are not<strong>.</strong> <strong>If
        you read 5 or 3 chapters per day (which is not impossible), you will be able to read the entire Bible in eight
        months or a year,</strong> depending if you read five or three chapters on a daily basis<strong>.</strong></p>
<p> If you had a flowing spring nearby and you wanted a drink of water<strong>,</strong> the best is to go and get the
    water with your own hands<strong>.</strong> It would not be wise to ask someone to bring you a drink of water from
    the spring in his soiled hands<strong>.</strong> If you were to drink some polluted water<strong>,</strong> it is
    best that the pollution would be that from your own hands<strong>,</strong> and not someone else's soiled
    hands<strong>.</strong> You need to read the Bible on your own and not books that <strong>"</strong>explain the
    Bible<strong>".</strong> These books can be a good <strong>supplement</strong> to your study of the
    Bible<strong>,</strong> but should never be a <strong>complement</strong> of the Bible much less become a <strong>substitute</strong>
    for the Word of God<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    