---
import Layout from "../layout/Layout.astro";
---

<Layout title="Reasons why people don't want to know the truth">
    <section>
<p><strong>Reasons why people don't want to know the truth</strong></p>
<p> Not wanting to admit error in man is due to a mix of feelings in the process of reasoning<strong>.</strong></p>
<p> I have observed throughout my life man <strong>trying to justify things by way of twisted interpretations</strong>
    of what they read<strong>,</strong> that being about news<strong>,</strong> questions of law<strong>,</strong> or
    the Bible<strong>.</strong> The reasons that move them to do that are very diverse<strong>,</strong> so much in
    common everyday life as in questions of religion<strong>.</strong> Let's see the latter<strong>.</strong></p>
<p><strong> 1) Fear of offending God</strong> if he doubt what men have taught him<strong>,</strong> and submit it to
    reasoning<strong>.</strong></p>
<p><strong> 2) Fear of finding a truth</strong> which he feels is too much of a burden<strong>.</strong></p>
<p><strong>3) Fear of changing doctrine</strong> and then have to face those who previously thought like him and be
    considered a traitor<strong>.</strong></p>
<p><strong>4) Pride,</strong> the resistance to admit that they were wrong and that they had not adequately used their
    mental abilities<strong>.</strong></p>
<p><strong>5) Fear of what is new to him,</strong> without knowing why he fears<strong>.</strong></p>
<p><strong>6) Others want "something new" to preach in order to justify their separation from their church</strong> or
    to justify a new sect they may want to form or maintain<strong>.</strong></p>
<p><strong>7) Another motive is to justify himself</strong> to continue to admit something that his conscience or
    intellect tells him is incorrect<strong>,</strong> but for him<strong>:</strong> <strong>a)</strong> its existence
    is convenient<strong>;</strong> or <strong>b)</strong> to admit the interpretation that is not twisted puts him in a
    situation of opposition with the rest who distortedly believe it<strong>.</strong></p>
<p><strong>8) Justify social, sexual or racial prejudices.</strong> In the time of African slavery there were some who
    said that blacks did not have a soul<strong>,</strong> in order to justify what was done in their
    environment<strong>.</strong> Others justified all of that by assuring<strong>,</strong> without a Biblical basis
    for it<strong>,</strong> that the curse of Noah for Cam was what had provoked black slavery<strong>.</strong> There
    was an American pastor<strong>,</strong> from the southern states<strong>,</strong> when I was very
    young<strong>,</strong> who tried to <strong>"</strong>demonstrate<strong>"</strong> that blacks were given to
    mockery<strong>,</strong> according to him<strong>,</strong> because of the inheritance of Cam who made fun of
    Noah's nudity<strong>.</strong></p>
<p><strong>9) Desire to maintain oneself "ignorant"</strong> or at least <strong>"</strong>skeptical<strong>"</strong>
    about the validity of a norm of conduct or religion so as not to find themselves obligated to comply with or feel
    bad about not complying<strong>.</strong></p>
<p><strong>10) To justify their sin by forcing themselves to believe that they understand religion or the Bible in
    another manner.</strong> This was the case of a pastor who amplified the concept of forgiveness and grace so
    much<strong>,</strong> that he included in this concept the continual adultery of his wife and the repulsive consent
    of his towards such a sin<strong>.</strong> In order to justify himself<strong>,</strong> he said I was guided by
    the law<strong>,</strong> but he was under grace<strong>.</strong> (Of all these cases which I mention I have their
    names and sect<strong>;</strong> but I'm not specific because I don't want to unnecessarily damage
    others)<strong>.</strong></p>
<p><strong>11) To think that the modification of his beliefs after many years,</strong> either acquired since
    childhood<strong>,</strong> by family tradition or when he converted to the gospel<strong>,</strong> can put
    salvation in danger<strong>,</strong> or the concept that the person believes God has of him and his
    <strong>"</strong>faith<strong>".</strong></p>
<p><strong>12) The lack of confidence in their own analysis of the Word of God,</strong> which makes them imagine that
    all new things that come into their minds<strong>,</strong> all new idea that are suggested are <strong>"</strong>proof<strong>"</strong>
    that God submits to them<strong>,</strong> in order to see if that person maintains himself
    <strong>"</strong>firm<strong>".</strong> Others believe that it is a <strong>"</strong>temptation from the
    Devil<strong>".</strong> This was what a priest of a town I frequently visited told his congregation with respect to
    the preaching of the Protestants of the area<strong>.</strong></p>
<p><strong>13) Confuse stubbornness with faith,</strong> and categorize reasoning about the Word of
    God<strong>,</strong> as a dangerous doubt<strong>,</strong> as a weakness in the faith and a
    temptation<strong>.</strong> A Christian of many years<strong>,</strong> reader of the Bible and with a University
    degree guaranteed to me that to reason about religion is a sin<strong>,</strong> and that to use our logic was
    something diabolical<strong>.</strong> He did not want to see that Christ used logic in His
    preaching<strong>,</strong> and that Paul fills the epistle to the Hebrews with reasoning<strong>.</strong>
    According to him<strong>,</strong> his obstinacy and stupidity<strong>,</strong> is faith of <strong>"</strong>titanic<strong>"</strong>
    proportions<strong>;</strong> he considered himself a titan in the faith<strong>,</strong> because he resisted
    reasoning<strong>.</strong></p>
<p><strong>14) Others do not wish to reach the truth because this would prevent them from belonging to an elite
    group,</strong> exclusive<strong>,</strong> a small group of <strong>"</strong>chosen<strong>"</strong> ones<strong>,</strong>
    that can look others above their shoulders with <strong>"</strong>divine justification<strong>".</strong> This is
    how the Russellites are<strong>,</strong> who believe that they are going to be the presidents<strong>,</strong>
    senators<strong>,</strong> governors<strong>,</strong> mayors<strong>,</strong> etc<strong>.,</strong> of countries
    when the <strong>"</strong>New World Order<strong>"</strong> comes<strong>.</strong> Some Jews do something
    similar<strong>,</strong> they pretend to justify with their religion<strong>,</strong> their longings of racial
    superiority in the same manner that the Nazis justified theirs with the Nazi
    <strong>"</strong>religion<strong>"</strong> and their idol Hitler<strong>.</strong> A religion of racial equality
    as is Christianity does not call attention to those who have a religion in which their race<strong>,</strong> or
    certain group<strong>,</strong> is superior to the others<strong>.</strong></p>
<p><strong>15) To be so fully involved in a sin or lust</strong> that has accompanied us all our lives as persons or as
    members of society<strong>,</strong> that we do not realize what we have<strong>.</strong> We do not realize that it
    is a sin<strong>,</strong> because we believe it is a natural part of life<strong>.</strong> It is like telling a
    fish that he is wet<strong>;</strong> he would not understand us<strong>,</strong> because he had never seen
    anything or anyone in a dry state<strong>.</strong> He could not even imagine what dry talcum powder or dry wheat
    flour is<strong>.</strong> Likewise<strong>,</strong> he who by having so much time a lust<strong>,</strong>
    attributes it as a natural part of life<strong>,</strong> does not comprehend<strong>,</strong> or
    twists<strong>,</strong> the explanations or mandates that the Word of God says to the contrary<strong>.</strong>
</p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>

    </section>
</Layout>
    