
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Redemption by grace was known since the beginning</title>
</head>
<body>
<p><strong>Redemption by grace was known since the beginning</strong></p>
<p> Some brethrens think that redemption by grace was "invented" in the New Testament. That is not so. Redemption by
    grace has been known since the very moment that Adam and Eve sinned in the Garden of Eden. <strong>Since the very
        beginning of mankind men sacrificed lambs, because they knew that lambs represented the future Lamb of God that
        was going to be sacrificed for the redemption of mankind</strong>.</p>
<p> The first five books of the Bible were written or compiled by Moses. The book of Genesis tells the story of the very
    beginnings of mankind, that's why many people think that it is the oldest written book, but that is not so. Surely
    it contains the oldest stories, but it was written by Moses, who lived after Job. Therefore, <strong>the men who
        speak in the book of Job are the most ancient witnesses of the knowledge of the concept of salvation by grace
        and resurrection.</strong></p>
<p> Moses wrote the things that were revealed to him, and probably added the contents of some scrolls he inherited from
    his ancestors. Consequently, since the book of Job is the oldest one in the Bible, the people who lived at the time,
    the men who speak in that book, are the most ancient witnesses of the knowledge of salvation by grace and
    resurrection.</p>
<p> "23 <i>If there be a messenger with him, an interpreter, one among a thousand, to shew unto man his uprightness.</i>
    24 <i><strong>Then he is gracious unto him, and saith: Deliver him from going down to the pit, I have found a
        ransom</strong></i>." ( Job 33:23-24 )</p>
<p> As we can see <strong>redemption by grace was known by the Gentiles</strong> even before the law was given by Moses.
    The five men that speak in this book are: Job, Elihu, Zophar, Bildad and Eliphaz, all of which were Gentiles.
    Salvation by grace was known by mankind even before the existence of the Jews. What no one knew at that time were
    the details: when it was going to happen, who was going to die in our place, how he was going to die, etc.; but
    these details were not known even by the apostles, in the beginning. The same concept of salvation by grace is seen
    in verses 27 and 28 of this same chapter.</p>
<p> "27 <i>He looketh upon men, and if any say, I have sinned, and perverted that which was right, and it profited me
    not,</i> 28 <i><strong>He will deliver his soul</strong> from going into the pit, and his life shall see the light.</i>"
    ( Job 33: 27-28 )</p>
<p><strong>Job himself spoke saying that he knew that his Redeemer was alive</strong>. Job also knew that after death,
    after his body decomposes, he was going to be resurrected in the flesh.</p>
<p> "25 <i>For <strong>I know that my redeemer liveth</strong>, and that he shall stand at the latter day upon the
    earth;</i> 26 <i>and though <strong>after my skin worms destroy this body, yet in my flesh shall I see God</strong>;</i>
    27 <i>whom I shall see for myself, and mine eyes shall behold, and not another; though my reins be consumed within
        me</i>." ( Job 19:25-27 )</p>
<p> Later in time, <strong>David expressed the same certainty about redemption by grace</strong> and the resurrection.
    In Psalms 17:15 he says that he is going to see God's face, and awake from death.</p>
<p> "<i>As for me, <strong>I will behold thy face</strong> in righteousness; I shall be satisfied, <strong>when I
    awake,</strong> with thy likeness</i>." ( Ps 17:15 )</p>
<p> After David's great sin he composed psalm 32, where he acknowledges that sin is forgiven. He is not talking about
    any payment for his sin, but just forgiveness, just grace.</p>
<p> "<i>A Psalm of David, Maschil. Blessed is he <strong>whose transgression is forgiven, whose sin is covered.</strong></i>"
    ( Ps 32:1 )</p>
<p> A little further, the sons of Korah in psalm 49: 6-8, state that nobody can redeem himself or a brother, because
    redemption is too costly and impossible to attain for ever. Later in verse 15 he affirms that God is the one who is
    going to redeem his soul.</p>
<p> "6 <i>They that trust in their wealth, and boast themselves in the multitude of their riches;</i> 7 <i><strong>none
    of them can by any means redeem his brother, nor give to God a ransom for him;</strong></i> 8 <strong>for the
    redemption of their soul is precious, and it ceaseth for ever</strong>." ( Ps 49:6-8 )</p>
<p> "<i>But <strong>God will redeem my soul</strong> from the power of the grave; for he shall receive me. Selah.</i>" (
    Ps 49: 15 )</p>
<p><strong>As it can be noticed, in David's time, they knew about salvation by grace, not only David, but others
    too</strong>. Centuries later Isaiah expresses the same assurance in 26:19. He knew that people were going to
    resurrect, including himself, adding that the earth would cast out the dead.</p>
<p> "<i><strong>Thy dead men shall live, together with my dead body shall they arise</strong>. Awake and sing, ye that
    dwell in dust, for thy dew is as the dew of herbs, and <strong>the earth shall cast out the dead</strong>.</i>" (
    Isa 26:19 )</p>
<p> Prior to Jesus, people didn't have the slightest idea of how redemption by grace was going to happen; they only knew
    that a Lamb of God was going to take their place. Later on, as revelations developed, the people started to have a
    glance of the grand event. Prophet Isaiah from 52:13 to 53:12 reveals what was going to happen to the redeemer.
    However, he didn't know who the redeemer was, nor when he would come.</p>
<p> "4 <i>Surely he hath borne our grieves, and carried our sorrows; yet we did esteem him stricken, smitten of God, and
    afflicted.</i> 5 <i>But <strong>he was wounded for our transgressions, he was bruised for our iniquities; the
    chastisement of our peace was upon him;</strong> and with his stripes we are healed.</i> 6 <i>All we like sheep have
    gone astray; we have turned every one to his own way; and <strong>the LORD hath laid on him the iniquity of us
        all</strong></i>." ( Isa 53: 4-6 )</p>
<p><strong>As can be seen in all of the above, redemption by grace, is something that has been known since our ancestors
    began to sacrifice lambs for the atonement of sins; which is to say, since mankind has been on Earth</strong>. Grace
    was not "discovered" in the New Testament. It was known long before. In the New Testament we learned the details:
    who was the redeemer, how he was going to pay for our sins, when he would do it, etc.. The concept of redemption by
    grace has been known since the very beginning.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>