---
import Layout from "../layout/Layout.astro";
---

<Layout title="The religion of the 'Ifeels'">
    <section>
<p><strong>THE RELIGION OF THE "I FEELS" THE MACCABEANS AND THE SABATH</strong></p>
<p> Human beings in everything<strong>,</strong> and more in religion<strong>,</strong> tend to be led by feelings and
    not by reason<strong>.</strong> <strong>This childish habit has two serious damages.</strong></p>
<p><strong>The first is that no one can guarantee that what he is "feeling" is correct;</strong> for which so many times
    has failed by being guided by what he <strong>"</strong>feels<strong>."</strong> Anyone could
    argue<strong>,</strong> (and with reason)<strong>,</strong> that one can also be wrong when they
    reason<strong>.</strong> It is true<strong>.</strong> But when one reasons and is wrong he can review the process of
    reasoning taken and the previous information on which he was based<strong>,</strong> and find where he committed the
    reasoning or information error<strong>.</strong> In fact he can acquire experience and ability<strong>,</strong>
    thanks to that mistake<strong>,</strong> so he will not commit the same kind of mistake again<strong>.</strong></p>
<p> However<strong>,</strong> when someone guides himself by what he <strong>"</strong>feels<strong>"</strong> and is
    wrong<strong>,</strong> he can never analyze or investigate why he <strong>"</strong>felt<strong>"</strong>
    wrong<strong>;</strong> he must continue gambling with what he is <strong>"feeling,"</strong> to see if this time he
    is right<strong>.</strong> The one<strong>,</strong> who is wrong one hundred times in his
    reasoning<strong>,</strong> can learn much to <strong>not</strong> continue committing errors<strong>.</strong> The
    one who is wrong one hundred times in his <strong>"</strong>feeling<strong>"</strong> finds himself as disoriented
    as in the beginning<strong>:</strong> he still finds himself intellectually speaking<strong>,</strong> nude and
    standing in the middle of the square<strong>.</strong></p>
<p><strong>The second great damage that presents itself to those who guide themselves by what they "feel," is that they
    can not consult the topic with another brother, because one of those "feelings" that people claim to have</strong>
    (in respect as to whether something should be done or stop being done<strong>,</strong> to believe or stop believing
    such doctrine) <strong>it can not be clearly defined to another.</strong> You cannot express or make them
    <strong>"</strong>feel<strong>"</strong> what you feel<strong>.</strong></p>
<p><strong> However, the one who reasons can communicate his thoughts to others, which are the reasons that assist him
    to believe in the doctrine in which he believes, to think what he thinks or how he came to his conclusion, and on
    what information his reasoning is based.</strong> In this way<strong>,</strong> his friend can verify if the error
    was in the information he received<strong>,</strong> or in his chain of reasoning<strong>.</strong> In this
    way<strong>,</strong> thanks to the friend (and sometimes thanks to the adversary)<strong>,</strong> the sincere
    human who seeks the truth<strong>,</strong> can find it<strong>;</strong> he can totally or partially rectify his
    way of thinking<strong>,</strong> depending if he was shown a total or partial error in his
    reasoning<strong>,</strong> or in his information<strong>;</strong> or simply a gap<strong>,</strong> or an omission
    of other facts<strong>,</strong> data or reasoning that should have been present<strong>.</strong></p>
<p> None of this can be done to any man who tells us<strong>:</strong> <strong>"</strong>the truth is that I 'feel' that
    I should do or believe such thing<strong>."</strong> There are millions who act like this in this crazy
    world<strong>.</strong> This is why I say the greatest of all times is the religion of the
    <strong>"Ifeels."</strong></p>
<p> If man dealing with a topic with a friend<strong>,</strong> tells him<strong>:</strong> <strong>"I feel</strong>
    that this should be like this or that<strong>,</strong> or that I should believe this or that<strong>,"</strong>
    there are no words to convince him of the contrary<strong>.</strong> <strong>The only thing that could be aspired
        and I do not know how to do</strong> is to <strong>"</strong>feel<strong>"</strong> our thesis with more force
    than he <strong>"</strong>feels<strong>"</strong> his<strong>,</strong> and send him our <strong>"</strong>effluviums<strong>,"</strong>
    project towards him our <strong>"</strong>influences<strong>,"</strong> to see if we can make him <strong>"</strong>change<strong>"</strong>
    so he <strong>"</strong>feels<strong>"</strong> something else<strong>.</strong> <strong>But I do not know how to
        undertake that battle of voodoo, hypnotism, suggestion, "spiritual force," "charismatic influence"</strong> or
    whatever you want to call it<strong>.</strong> <strong>I prefer the archaic, prosaic and not at all mysterious
        method of reasoning over the Scriptures.</strong></p>
<p> I do not think God is sending anyone <strong>"</strong>effluvia<strong>"</strong> or
    <strong>"</strong>influences<strong>"</strong> so that that person <strong>"</strong>feels<strong>"</strong> the
    correct thesis<strong>,</strong> instead of reasoning it<strong>.</strong> <strong>That seems to me to be conceit
        and delirium of greatness of those who believe themselves influenced by esoteric powers.</strong>
    Plus<strong>,</strong> if it were true that God is the one who sends those thoughts or feelings<strong>,</strong> He
    would also give voice and wisdom to defend those beliefs<strong>,</strong> and they could discuss with their
    brothers in a fraternal way<strong>,</strong> instead of fleeing away<strong>,</strong> <strong>"</strong>so not to
    be confounded<strong>".</strong> It is that they do not believe in the promise of Jesus Christ<strong>,</strong>
    because in reality his <strong>"</strong>feeling<strong>"</strong> is not of luminous origin<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>For <strong>I will give you a mouth and wisdom</strong></i><strong>,</strong> <i>which all your
    adversaries <strong>shall not be able to gainsay nor resist</strong></i><strong>."</strong> (Lk 21<strong>:</strong>15)
</p>
<p> Well<strong>,</strong> having finished explaining the religion of the <strong>"</strong>Ifeels<strong>,"</strong> I
    will say that they are many who throughout time have practiced it<strong>.</strong> In a time prior to the
    Maccabeans<strong>,</strong> the Jews<strong>,</strong> or a certain part of them<strong>,</strong> kept the Sabbath
    in a very stupid way<strong>,</strong> they would stop defending themselves when the enemy attacked them on the
    Sabbath<strong>.</strong> It was a sin for them to defend themselves when the warring enemy attacked them on the
    Sabbath<strong>.</strong> However<strong>,</strong> in the next passage we see that God <strong>not only ordered
        them to defend themselves, but to attack during a Sabbath.</strong> It is logical to think that if they camped
    on site at Jericho and marched around the city during seven days<strong>,</strong> one of those days had to have
    been a Sabbath<strong>.</strong> If they had read the Scripture<strong>,</strong> they would not have believed those
    errors<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Now Jericho was straitly shut up because of the children of Israel<strong>;</strong> none went
    out<strong>,</strong> and none came in<strong>.</strong></i> 2 <i>And the LORD said unto Joshua<strong>:</strong>
    See<strong>,</strong> I have given into thine hand Jericho<strong>,</strong> and the king thereof<strong>,</strong>
    and the mighty men of valour<strong>.</strong></i> 3 <i>And ye shall compass the city<strong>,</strong> all ye men
    of war<strong>,</strong> and go round about the city once<strong>.</strong> Thus shalt thou do six
    days<strong>.</strong></i> 4 <i>And seven priests shall bear before the ark seven trumpets of rams'
    horns<strong>;</strong> <strong>and the seventh day ye shall compass the city seven times, and the priests shall
        blow with the trumpets.</strong></i> 5 <i>And it shall come to pass<strong>,</strong> that when they make a long
    blast with the ram's horn<strong>,</strong> and when ye hear the sound of the trumpet<strong>,</strong> all the
    people shall shout with a great shout<strong>;</strong> and the wall of the city shall fall down
    flat<strong>,</strong> and the people shall ascend up every man straight before him</i><strong>."</strong> (Jos
    6<strong>:</strong>1-5)</p>
<p></p>
<p></p>
<p><strong>"</strong>14 <i>And the second day they compassed the city once<strong>,</strong> and returned into the
    camp<strong>;</strong> so they did six days<strong>.</strong></i> 15 <i>And it came to pass <strong>on the seventh
    day, that they rose early about the dawning of the day, and compassed the city after the same manner seven
    times;</strong> only on that day they compassed the city seven times</i><strong>."</strong> (Jos 6<strong>:</strong>14-15)
</p>
<p><strong>If the Jews of the time prior to the Maccabeans, instead of "feeling" that they should not defend themselves
    on a Sabbath, had read the Scripture and reasoned over it,</strong> they would not have paid the consequences of
    their stupid beliefs<strong>,</strong> that is to say<strong>,</strong> the consequences of their <strong>"</strong>feelings<strong>."</strong>
    The religion of the <strong>"</strong>Ifeels<strong>"</strong> is very large<strong>,</strong> but very
    harmful<strong>.</strong></p>
<p> When I find a brother that practices the religion of the <strong>"</strong>Ifeel<strong>"</strong> and he
    says<strong>:</strong> <strong>"</strong>I <strong>feel</strong> that I should believe A or B<strong>,"</strong> I
    immediately ask<strong>:</strong> <strong>"Who put in you that feeling in which you are basing your
        behavior?"</strong> Indefectibly they answer<strong>:</strong> <strong>"</strong>Well<strong>!</strong> I
    believe it was God<strong>."</strong> or also <strong>"</strong>I have faith that it was God<strong>."</strong> The
    next question <strong>"</strong>falls off the tree by itself<strong>",</strong> and it is the
    following<strong>:</strong> <strong>"</strong>Every time that you have 'felt in your heart' that God has put
    something in you<strong>,</strong> has it been correct<strong>."</strong> To that they answer<strong>;</strong>
    <strong>"</strong>Well<strong>,</strong> not always<strong>."</strong> Then I ask<strong>:</strong>
    <strong>"</strong>Do you have a way of confirming if it was God o not<strong>?"</strong> When they respond
    no<strong>,</strong> I ask<strong>:</strong> <strong>"</strong>Can people have personal feelings<strong>?</strong>
    Can Satan put feelings in people<strong>?"</strong> They have to answer yes to both questions<strong>.</strong>
    Therefore<strong>,</strong> to finish I say<strong>:</strong> <strong>"</strong>If you do not know what origin those
    'feelings' have<strong>,</strong> why do you guide yourself by those feelings<strong>?</strong> Why do you base your
    faith and behavior in something of which its origin you do not know<strong>?</strong> You do not know if it
    originates from God<strong>,</strong> if it originates from you<strong>,</strong> or if it originates from
    Satan<strong>."</strong> Why do you not use reasoning<strong>?</strong></p>
<p> Now you may ask me<strong>:</strong> <strong>"</strong>What are the results you have obtained from the advice you
    have given<strong>?"</strong> None<strong>!!</strong> I waste my time trying to help them<strong>,</strong> and they
    persistently trust in their error<strong>;</strong> they continue to act on
    <strong>"</strong>feelings<strong>."</strong> Why<strong>?</strong> <strong>Because it is more comfortable to "feel"
        than to get informed, reason and argue in search of the truth.</strong> Because it hurts very much to a person
    with a swollen <strong>"</strong>ego<strong>"</strong> to admit that he was wrong<strong>;</strong> and if he
    reasons and/or discusses the topic<strong>,</strong> <strong>he would have to come to the painful conclusion that he
        was wrong.</strong> This is why he remains sheltered<strong>,</strong> like an escape for his swollen
    <strong>"</strong>ego<strong>,"</strong> in the technique of the <strong>"</strong>Ifeelism<strong>"</strong>
    instead of discussing the topic with the rest of the brothers<strong>;</strong> or reason<strong>,</strong> which is
    to discuss the topic with himself<strong>.</strong></p>
<p><strong>Are they not worthy of pity? Yes… but not so much.</strong> They are like that because they want to
    be<strong>.</strong> No one can fool oneself<strong>.</strong> They know what they are doing<strong>.</strong>
    <strong>They love themselves so much, but so much, that they prefer to protect their ego, their vanity, more than to
        find God's truth: which is why they cannot find it.</strong> Then<strong>,</strong> when the consequences of
    their foolishness reach them<strong>,</strong> the only thing they can think of is to stupidly say<strong>:</strong>
    <strong>"</strong>These are trials brother<strong>."</strong></p>
<p><strong><a href="biblenotes.html">Return to Index</a></strong></p>

    </section>
</Layout>
    