
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The parable of the salt</title>
</head>
<body>
<p><strong>Salt is used by Jesus as an example of a seasoning, not as an example of a preserver</strong></p>
<p> I have heard many preachers use the salt parable as an example of a preserver, ascribing the paternity of this
    simile to Jesus' words. However, this is not so. Jesus never used salt as an example of a preserver, but as an
    example of a seasoning. Even though I don't think this mistake has doctrinal o interpreting implications, I will
    clarify it anyway, for the sake of truth.</p>
<p> This figure of speech appears only three times in the Bible, and in all three times it is used referring to savor or
    seasoning, never as a preservative. Let's take a look at Matthew 5: 13; Mark 9: 50 and Luke 14: 34.</p>
<p> "<i>Ye are the salt of the earth, but <strong>if the salt have lost his savour,</strong> wherewith shall it be
    salted? it is thenceforth good for nothing, but to be cast out, and to be trodden under foot of men</i>." ( Matt 5:
    13 )</p>
<p> In this verse we have just read, Jesus asked what would happen <strong>if the salt lost its savour, not about what
    would happen if the salt lost its preserving power.</strong> The focus is in the taste, not in any other
    characteristic of salt. This is also taught in a similar fashion in Mark 9: 50; let's read.</p>
<p> "<i>Salt is good, but <strong>if the salt have lost his saltness, wherewith will ye season it</strong>? Have salt in
    yourselves, and have peace one with another.</i>" ( Mark 9: 50 )</p>
<p> In this verse just read, it is even more clear that the characteristic of salt is mentioned not because of its
    preservative power, but its seasoning quality. This fact becomes evident when we read the word "season" regarding to
    the parable. It becomes even more evident in Luke 14: 34, where both words: "savour" and "season" are used.</p>
<p> "<i>Salt is good, but <strong>if the salt have lost his savour, wherewith shall it be seasoned</strong></i>? ( Luke
    14: 34 )</p>
<p> Because of what we have analyzed in all three verses where this parable is mentioned, I don't ascribe to salt, in
    this parable, its preserving characteristic, but rather its characteristic of seasoning. Therefore, this parable
    shouldn't be presented in a way different from what Jesus presented it.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>