---
import Layout from "../layout/Layout.astro";
---

<Layout title="Al Lugar Santísimo se entraba todos los días; no una vez al año solamente">
    <section>
        <p><strong>EL SUMO SACERDOTE NO ENTRABA AL LUGAR SANTÍSIMO SOLAMENTE UNA VEZ AL AÑO, SINO TODOS LOS
            DÍAS.</strong></p>
        <p> En II P 3: 15 -16 el Apóstol Pedro nos advierte contra la posibilidad de confundir lo que Pablo habla. Nos
            informa
            que entre las cosas que <strong>Pablo dice, hay algunas difíciles de entender</strong>, las cuales los
            inconstantes e
            indoctos tuercen.</p>
        <p></p>
        <p><i> Y tened por salud la paciencia de nuestro Señor; <strong>como</strong></i></p>
        <p><strong> también nuestro amado hermano</strong> <strong>Pablo, según la</strong></p>
        <p><strong>sabiduría</strong> <strong>que le ha sido dada, os ha escrito</strong> <i>también; </i></p>
        <p><i>casi en todas sus</i> <i>epístolas, hablando en ellas de estas</i></p>
        <p><i> cosas; <strong>entre las cuales hay algunas difíciles de entender</strong>,</i> <i> las cuales los
            indoctos e
            inconstantes tuercen, como</i></p>
        <p><i>también las otras Escrituras, para</i> <i>perdición de sí mismos.</i></p>
        <p>( II P 3: 15-16 )</p>
        <p></p>
        <p> En Heb 9: 1 -7 hay un buen ejemplo de ello. De ese pasaje de San Pablo son varios los teólogos y maestros de
            seminario que aunque son buenos cristianos y actúan de buena fe, confunden lo allí dicho, <strong>en el
                sentido de
                creer que en el Lugar Santísimo se podía entrar solamente una vez al año,</strong> y enseñan a otros tal
            cosa,
            confundiendo así a los pastores que aprenden de ellos, los cuales creen que sus maestros no se pueden
            equivocar. Así
            es como se propagan los errores y se forman los miles de sectas que existen. Eso es lo malo de leer
            solamente ciertas
            partes de la Biblia con exclusión parcial o total de otras, mientras se dedican a leer libros y libros que
            "tratan"
            sobre la Biblia o la fe; sin darse cuenta de que al leer tales libros sin espíritu analítico o sin haber
            leído
            <strong>toda la Biblia varias veces</strong>, se arriesgan a ser contaminados con el error en que el autor
            haya caído.
            La confusión se origina por leer solamente una parte de la Biblia y no la otra; en este caso leen el Nuevo
            Testamento
            y no el Antiguo Testamento. En Heb 9: 1-7 dice:</p>
        <p></p>
        <p> "1 <i>Tenía empero también el primer pacto reglamentos del</i></p>
        <p><i>culto, y santuario mundano.</i> 2 <i>Porque el tabernáculo fue</i></p>
        <p><i>hecho, el primero, en que estaban las lámparas, y la mesa, y</i> <i> los panes de la proposición; lo que
            llaman el
            Santuario.</i></p>
        <p><i> </i>3 <strong>Tras el segundo velo</strong> <strong>estaba el</strong> <strong>tabernáculo, que
            llaman</strong>
        </p>
        <p><strong> el Lugar Santísimo;</strong> 4 <strong>El cual tenía un incensario de oro, y</strong> <strong> el
            arca del
            pacto cubierta de todas partes alrededor de oro</strong><i>;</i></p>
        <p><i> en la que estaba una urna de</i> <i>oro que contenía el maná, y la</i></p>
        <p><i>vara de Aarón que reverdeció, y las tablas del pacto; </i></p>
        <p>5 <i>Y sobre</i> <i>ella los querubines de gloria que cubrían el</i></p>
        <p><i>propiciatorio; de las cuales cosas no se puede</i> <i>ahora hablar</i></p>
        <p><i>en particular.</i> 6 <i>Y estas cosas así ordenadas, en el primer</i></p>
        <p><i>tabernáculo siempre</i> <i>entraban los sacerdotes para hacer los</i></p>
        <p><i> oficios del culto;</i> 7 <i>Mas en el segundo, sólo el pontífice</i> <i> <strong>una vez en el año, no
            sin
            sangre,</strong> la cual ofrece por sí mismo,</i></p>
        <p><i> y por los pecados de ignorancia</i> <i>del pueblo</i>." ( Heb 9: 1-7 )</p>
        <p></p>
        <p> Como vemos en el versículo 3, la sección que estaba tras el segundo velo era llamada el Lugar Santísimo; y
            según el
            versículo 4 en ese Lugar Santísimo habían dos cosas: <strong>el altar del perfume y el arca del
                pacto</strong>. Es
            decir, que el que quisiera poner perfume en el altar del perfume, tenía que entrar dentro del Lugar
            Santísimo. Si bien
            es verdad que sólo una vez al año entraba el sumo sacerdote al Lugar Santísimo <strong>para hacer la
                expiación por
                todo el pueblo y para purificar de las inmundicias del pueblo el altar, el tabernáculo, etc</strong>.,
            mandando el
            macho cabrío a Azazel, <strong>si bien es verdad repito que sólo una vez al año se hacía todo este rito, no
                es cierto
                que no se entrara más en el Lugar Santísimo hasta el año siguiente, pues se entraba todos los
                días.</strong> En
            Hebreos lo que está diciendo Pablo es que, <strong>llevando sangre</strong> para untarla en los cuernos del
            altar del
            perfume y realizar el rito antes mencionado, se entraba solamente una vez al año, pero no dice que se
            entrara sólo ese
            día en que llevaba sangre, puesto que se <strong>entraba todos los días para quemar perfumes</strong>.
            Veamos.</p>
        <p></p>
        <p> "1 <i>Harás asimismo <strong>un altar de sahumerio de perfume</strong>; de madera de Sittim lo</i> <i>
            harás.</i> 2
            <i>Su longitud será de un codo, y su anchura de un codo, será cuadrado, y</i> <i> su altura de dos codos, y
                sus
                cuernos serán de lo mismo.</i> 3 <i>Y cubrirlo has de oro</i> <i> puro, su techado, y sus paredes en
                derredor, y sus
                cuernos; y le harás en derredor</i> <i> una corona de oro.</i> <i>4</i> <i>Le harás también dos anillos
                de oro
                debajo de su corona a</i> <i> sus dos esquinas en ambos lados suyos, para meter los varales con que
                será</i> <i>
                llevado.</i> 5 <i>Y harás los varales de madera de Sittim, y los cubrirás de oro.</i> 6 <strong>Y
                lo</strong>
            <strong> pondrás delante del velo que está junto al arca del testimonio, delante de la</strong> <strong>
                cubierta que
                está sobre el testimonio</strong><i>, donde yo te testificaré de mí.</i> <i> </i> 7 <strong>Y quemará
                sobre él Aarón
                sahumerio de aroma cada mañana; cuando</strong> <strong> aderezare las lámparas lo quemará.</strong> 8
            <strong>Y
                cuando Aarón encenderá las lámparas</strong> <strong> al anochecer, quemará el sahumerio</strong><i>:
                rito perpetuo
                delante de Jehová por</i></p>
        <p><i>vuestras</i> <i>edades.</i> <i> </i> 9 <i>No ofreceréis sobre él sahumerio extraño, ni holocausto, ni
            presente;
            ni</i> <i> tampoco derramaréis sobre él libación.</i> 10 <strong>Y sobre sus cuernos hará Aarón</strong>
            <strong>
                expiación una vez en el año con la sangre de la expiación</strong> <i>para las</i> <i> reconciliaciones;
                <strong>una
                    vez en el año hará expiación sobre él en vuestras</strong></i></p>
        <p><strong> edades;</strong> <strong>será muy santo a Jehová</strong>." ( Ex 30: 1-10 )</p>
        <p></p>
        <p> Al leer el versículo uno vemos que <strong>se está hablando del altar del perfume</strong>, cosa a tener en
            cuenta
            para no confundirse luego. En el versículo dos nos dice que ese altar del perfume tenía cuernos, y que sus
            medidas
            eran un codo de largo, un codo de ancho y dos codos de altura, o sea, 50 cms de largo, 50 cms de ancho y 100
            cms de
            alto. Ya en el tres nos dice que le hicieron una corona alrededor, que tenía un "techado", que tenía
            paredes, y que
            todo eso lo cubrieron de oro puro. En el cuatro y el cinco explican que se le pusieron unos anillos de oro
            para
            llevarlo cargado por medio de varas cubiertas de oro. <strong>En el seis dicen dónde lo debían situar:
                delante de la
                cubierta del arca o sea cerca del arca del pacto que se hallaba en el Lugar Santísimo.</strong> En el
            siete y el
            ocho dicen cuál iba a ser su uso más frecuente: "<i>Y quemará sobre él Aarón sahumerio de aroma <strong>cada
                mañana</strong>; cuando aderezare las lámparas lo quemará . Y cuando Aarón encenderá las lámparas
                <strong>al
                    anochecer</strong>, quemará el sahumerio; rito perpetuo delante de Jehová por vuestras edades</i>".
            Al analizar este
            pasaje, vemos que <strong>el sumo sacerdote entraba diariamente donde se hallaba el altar del
                perfume,</strong> para
            quemar "sahumerio de aroma", <strong>y esto lo hacía cada mañana y al anochecer</strong>. En el versículo
            nueve
            enumera qué otras cosas no se podía hacer sobre ese altar de perfume, <strong>para finalizar en el versículo
                10
                explicando que como excepción a estas prohibiciones del versículo 9, Aarón iba a entrar a poner sangre
                en él
                solamente una vez al año.</strong> Leamos el versículo diez: "<i>Y sobre sus cuernos hará Aarón
                expiación una vez en
                el año con la sangre de la expiación para las reconciliaciones; una vez en el año hará expiación sobre
                él en
                vuestras edades; será muy santo a Jehová</i>." Como vemos, en el mismo pasaje donde describen la
            construcción y el
            uso del altar del perfume, y donde dice que sólo debe entrarse <strong>con sangre una vez al año</strong>,
            también
            dice que <strong>el sumo pontífice entraba dos veces al día a quemar perfumes.</strong> Además de esto, si
            vamos a Lv
            4 : 3-7 (especialmente el siete ) y 4: 13 -18, (especialmente el dieciocho ), veremos que cuando un
            sacerdote pecaba,
            o si toda la congregación pecaba, el sacrificio y la ceremonia que había que realizar implicaba que se
            entrara en el
            Lugar Santísimo y se untara de la sangre del sacrificio en los cuernos del altar del perfume. Veamos lo que
            dice la
            primera cita:</p>
        <p></p>
        <p> "<i>Si sacerdote ungido pecare según el pecado del pueblo, ofrecerá a Jehová,</i> <i> por su pecado que
            habrá
            cometido<strong>…... pondrá el sacerdote de la sangre sobre</strong></i> <strong> los cuernos del altar del
            perfume
            aromático</strong><i>, que está en el tabernáculo del</i> <i> testimonio delante de
            Jehová</i><strong>…...</strong>" (
            Lev 4: 3-7 abreviado )</p>
        <p></p>
        <p>La segunda cita dice:</p>
        <p></p>
        <p> "<i>Y si toda la congregación de Israel hubiere errado<strong>…...</strong> <strong>de aquella
            sangre</strong></i>
            <strong> pondrá sobre los cuernos del altar que está delante de Jehová en el tabernáculo</strong>
            <strong><i> del
                testimonio</i>…...</strong>". ( Lev 4 : 13-18 abreviado )</p>
        <p></p>
        <p> Como vemos, son varios los pasajes donde podemos comprobar que <strong>en el Lugar Santísimo se entraba a
            menudo.</strong> Lo único que sigue siendo cierto, es que para purgar los pecados del pueblo cometidos
            durante el año,
            en la ceremonia que simbolizaba el sacrificio de Cristo, el Sumo Sacerdote entraba con sangre <strong>y esto
                lo hacía
                una sola vez al año.</strong> Sin embargo habían otras varias ceremonias que requerían que los
            sacerdotes entraran
            en el Lugar Santísimo. Si vamos al Nuevo Testamento, veremos en Lc 1: 8 - 9 que a <strong>Zacarías, que no
                era el sumo
                sacerdote</strong>, le había caído en suerte el <strong>poner el incienso</strong>. El incienso se ponía
            en el altar
            del perfume, el cual estaba en el lugar santísimo. Si Zacarías lo ponía sin ser el sumo sacerdote, ello nos
            demuestra
            que <strong>sí se entraba diariamente en el Lugar Santísimo y que no solamente podía entrar el Sumo
                Sacerdote, sino
                cualquier sacerdote.</strong> Lo que solamente el Sumo Sacerdote podía hacer, era entrar con la sangre
            de la
            expiación por el pueblo y el santuario, pero para otras ceremonias podían entrar otros sacerdotes, y a cada
            rato. No
            hace mucho escuché a un maestro de escuela dominical asegurar un error, el cual error él obtuvo del pastor,
            quien a su
            vez lo obtuvo de un libro que leyó, cuyo autor lo obtuvo de otro individuo, etc., etc. La afirmación en
            cuestión era
            que <strong>en la Biblia decía</strong> que el sumo pontífice cuando iba a entrar en el Lugar Santísimo, se
            amarraba
            una soga a un tobillo, para que en caso de que muriera lo pudieran halar sus compañeros por la soga, sin
            tener que
            entrar en el Lugar Santísimo. <strong>Eso es falso; eso no lo dice la Biblia en ninguna parte</strong>, ni
            creo que
            fuera verdad que se hiciera tal cosa. Pero si fuere verdad que tal cosa se hacía, se trataba de una de las
            muchas
            supersticiones y tradiciones que los judíos añadieron a los mandamientos de Dios, <strong>cuando trataban de
                explicar
                la religión por medio de libros escritos por rabinos y no por medio del Antiguo Testamento.</strong>
            Otra cosa a
            tener en cuenta, aunque esto no es un argumento bíblico, sino de sentido común, es que <strong>un lugar a
                donde
                solamente se entre una vez al año, estaría lleno de moho, hongos, ratas y otras sabandijas.</strong>
            Además,
            guiándonos por la misma Biblia vemos que <strong>el Tabernáculo del Testimonio, se desarmaba cada vez que
                los hebreos
                tenían que mover el campamento,</strong> y por lo tanto, tenían que entrar hombres jóvenes a desarmarlo
            todo y a
            cargarlo. No es lógico pensar que Aarón, que ya para entonces tenía más de 83 años de edad, iba a ser el
            único que iba
            a desarmar y armar el Lugar Santísimo.</p>
        <p><a href="NotasBiblicas.html">Volver al indice</a></p>
        <p></p>

    </section>
</Layout>
    