<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Satanás fue echado del Cielo antes del pentecostés</title>
</head>
<body>
<p><strong>SATANÁS ECHADO FUERA DEL CIELO ANTES DE PENTECOSTÉS.</strong></p>
<p> Cuando en Jn 12<strong>:</strong>31 Jesús dice <strong>"ahora",</strong> eso nos señala el momento en que
    <strong>"</strong>el príncipe de este mundo<strong>"</strong> estaba siendo echado fuera<strong>.</strong> Claro que
    el <strong>"</strong>ahora<strong>"</strong> ese que él pronuncia podía referirse a ese mismo instante o a todo
    aquel proceso de la crucifixión y resurrección del Señor<strong>,</strong> que es lo más razonable<strong>.</strong>
</p>
<p></p>
<p><strong>"<i>Ahora</i></strong> <i>es el juicio de este mundo<strong>;</strong> <strong>ahora el príncipe de este
    mundo será echado fuera</strong></i><strong>."</strong></p>
<p> ( Jn 12<strong>:</strong> 31 )</p>
<p> Si leemos Lc 22<strong>:</strong>31 veremos que <strong>Satanás había pedido</strong> a los apóstoles para
    zarandearlos como a trigo<strong>.</strong> <strong>Si los había pedido es porque en ese momento aún tenía acceso a
        Dios,</strong> es decir<strong>,</strong> <strong>no había sido echado del Cielo aún.</strong> Sin
    embargo<strong>,</strong> <strong>después de la crucifixión de Cristo,</strong> en ninguna parte del Nuevo
    Testamento se dice que Satanás se presentara ante Dios<strong>,</strong> ni se induce que lo
    hiciera<strong>.</strong> Eso hace pensar que ya no se podía presentar ante Dios a hacer
    peticiones<strong>.</strong></p>
<p> Después de la crucifixión<strong>,</strong> Satanás y los demonios<strong>,</strong> aunque echados fuera del
    Cielo<strong>,</strong> siguen tentando al humano<strong>,</strong> con la misma antigua permisión divina que
    siempre tuvieron<strong>,</strong> y eso solamente en términos generales<strong>,</strong> no pidiendo permiso para
    una tentación específica<strong>,</strong> como en el caso de Job<strong>,</strong> y en el de zarandear a los
    apóstoles<strong>.</strong> En estos dos casos mencionados se ve que Satanás tenía acceso directo a
    Dios<strong>,</strong> porque estaba aún en el Cielo<strong>.</strong></p>
<p> Sabiendo que a Satanás se le llama <strong>"</strong>el príncipe de este mundo<strong>",</strong> nos es dable
    pensar que <strong>él fue "arrojado fuera" del Cielo durante el ministerio terrestre de Cristo.</strong>
    <strong>¿</strong>Por qué pienso así<strong>?</strong> Porque en Jn 12<strong>:</strong>31<strong>,</strong> que
    leímos anteriormente<strong>,</strong> vemos que Nuestro Señor Jesucristo habla en presente diciendo que <strong>"ahora"
        "será"</strong> echado fuera Satanás<strong>.</strong> Al decir <strong>"</strong>ahora<strong>"</strong> nos
    hace ver que iba a ser echado fuera durante el proceso de la crucifixión y resurrección del Señor<strong>;</strong>
    y al usar la palabra <strong>"</strong>será<strong>"</strong> (futuro) nos hace ver que <strong>en el momento en que
        hablaba aún no había sido echado fuera.</strong></p>
<p> Ahora bien<strong>,</strong> <strong>¿</strong>de dónde fue arrojado fuera<strong>?</strong> Lógico es pensar que
    del Cielo<strong>;</strong> porque evidentemente<strong>,</strong> no fue echado fuera del planeta
    Tierra<strong>.</strong> Todo esto concuerda con lo dicho por el Señor en Lc
    10<strong>:</strong>18<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y les dijo<strong>:</strong> Yo veía a Satanás<strong>,</strong> como un rayo<strong>, que caía
    del Cielo.</strong></i><strong>"</strong> ( Lc 10<strong>:</strong> 18 )</p>
<p><strong>Es probable que al Diablo se le soportara por un tiempo en el Cielo,</strong> a pesar de sus maldades<strong>,</strong>
    como lo indican los capítulos primero y segundo de Job<strong>.</strong> Pero cuando se atrevió a levantarse
    directamente contra el Hijo de Dios<strong>,</strong> durante la vida terrenal del Señor<strong>,</strong>
    tentándolo<strong>,</strong> tratando de hacer que pecara<strong>,</strong> y por último incitando a otros a que lo
    hicieran sufrir<strong>,</strong> lo crucificaran y lo asesinaran<strong>,</strong> <strong>ya no se le soportó
        más.</strong> Había llegado muy lejos<strong>,</strong> y por lo tanto<strong>,</strong> no podía seguir
    viviendo donde iría a vivir y a reinar Jesús resucitado<strong>,</strong> a quien maltrató y asesinó en la
    Tierra<strong>.</strong> No es lógico que hubiera ya en el Cielo lugar para él<strong>;</strong> y debido a
    eso<strong>,</strong> fue arrojado a la Tierra<strong>.</strong> <strong>No podían vivir juntos "bajo un mismo
        techo" Dios y el asesino de su Hijo.</strong> No podían vivir juntos Cristo y quien trató<strong>,</strong>
    mediante tentaciones de pecado<strong>,</strong> de alejarlo para siempre de su Padre Dios<strong>.</strong>
    <strong>Por eso es lógico pensar que fue después de la crucifixión, que Satanás fue echado fuera del Cielo.</strong>
</p>
<p> Está claro que el proceso de la crucifixión y resurrección de Cristo es el momento descrito en Ap
    12<strong>:</strong>7-13 donde se menciona por dos veces que el Diablo fue echado fuera<strong>,</strong>
    especialmente en los versículos 9 y 12<strong>.</strong></p>
<p></p>
<p></p>
<p><strong>"</strong>7 <i>Y fue hecha una grande batalla en el Cielo<strong>,</strong> Miguel y sus ángeles lidiaban
    contra el dragón<strong>;</strong> y lidiaba el dragón y sus ángeles<strong>.</strong></i> 8 <i><strong>Y no
    prevalecieron, ni su lugar fue más hallado en el Cielo.</strong></i> 9 <i><strong>Y fue lanzado fuera aquel gran
    dragón, la serpiente antigua, que se llama Diablo y Satanás,</strong> el cual engaña a todo el
    mundo<strong>;</strong> <strong>fue arrojado en tierra, y sus ángeles fueron arrojados con él.</strong></i> 10 <i>Y
    oí una grande voz en el Cielo que decía<strong>:</strong> <strong>Ahora ha venido la salvación,</strong> y la virtud<strong>,</strong>
    y el reino de nuestro Dios<strong>,</strong> y el poder de su Cristo<strong>;</strong> porque <strong>el acusador de
        nuestros hermanos ha sido arrojado, el cual los acusaba delante de nuestro Dios</strong> día y
    noche<strong>.</strong></i> 11 <i>Y ellos le han vencido por la sangre del Cordero<strong>,</strong> y por la
    palabra de su testimonio<strong>;</strong> y no han amado sus vidas hasta la muerte<strong>.</strong></i> 12 <i>Por
    lo cual alegraos<strong>,</strong> Cielos<strong>,</strong> y los que moráis en ellos<strong>.</strong>
    <strong>¡</strong>Ay de los moradores de la tierra y del mar<strong>!,</strong> porque <strong>el Diablo ha
        descendido a vosotros,</strong> teniendo grande ira<strong>,</strong> sabiendo que tiene poco
    tiempo<strong>.</strong></i> 13 <i><strong>Y cuando vio el dragón que él había sido arrojado a la Tierra, persiguió
    a la mujer que había parido al hijo varón</strong></i><strong>."</strong> ( Ap 12<strong>:</strong>7-13 )</p>
<p> En este pasaje se dice que el Diablo<strong>,</strong> una vez lanzado a Tierra<strong>,</strong> persiguió a la
    mujer<strong>,</strong> cosa que concuerda con la realidad histórica<strong>,</strong> si admitimos que la mujer es
    el conjunto de los santos<strong>,</strong> la Iglesia<strong>,</strong> los creyentes de la sinagoga convertidos al
    cristianismo<strong>.</strong> Efectivamente<strong>,</strong> la persecución se desató contra la Iglesia <strong>después
        de la crucifixión y resurrección del Señor. Recordemos que fueron los judíos las víctimas de la primera
        persecución al cristianismo.</strong></p>
<p> Después de haber sido arrojado del Cielo<strong>,</strong> es que Satanás persiguió a la Iglesia<strong>,</strong>
    de donde se deduce que <strong>él fue arrojado del Cielo antes de las persecuciones de la Iglesia,</strong> pero
    <strong>después</strong> que Jesucristo dijo en Jn 12<strong>:</strong>31<strong>,</strong> que era
    <strong>"</strong>ahora<strong>"</strong> que Satanás sería expulsado<strong>.</strong></p>
<p></p>
<p><strong>"<i>Ahora es</i></strong> <i>el juicio de este mundo<strong>;</strong> <strong>ahora</strong> el príncipe de
    este mundo <strong>será</strong> echado fuera</i><strong>."</strong> ( Jn 12<strong>:</strong>31 )</p>
<p> Es de notarse lo categórico que fue el Señor en este versículo ( Jn 12<strong>:</strong>31 ) cuando
    dijo<strong>:</strong> <strong>"....ahora</strong> el príncipe de este mundo <strong>será</strong> echado
    fuera<strong>".</strong> Esto lo está diciendo poco antes del capítulo trece de Juan<strong>,</strong> donde
    comienza la larga y detallada narración de la conversación del Señor con sus discípulos durante la última
    cena<strong>.</strong> Quiero decir con esto<strong>,</strong> que ya faltaba muy poco para la crucifixión y aún el
    Señor pone la expulsión en futuro<strong>,</strong> pero un futuro cercano<strong>,</strong> por cuanto es
    modificado por el adverbio <strong>"</strong>ahora<strong>".</strong></p>
<p><strong>De todo esto se colige que la expulsión ocurrió después de la crucifixión;</strong> lo cual<strong>,</strong>
    además<strong>,</strong> suena lógico<strong>,</strong> por la razón de que no van a convivir Dios<strong>,</strong>
    Cristo<strong>,</strong> el Espíritu Santo y los que aman a Jesús<strong>,</strong> en el Cielo<strong>,</strong>
    con el que lo asesinó en la Tierra e intentó perderlo eternamente<strong>.</strong></p>
<p> Otra cosa que ayuda a pensar que la expulsión de Satanás del Cielo tuvo lugar durante el proceso de la crucifixión y
    resurrección del Señor<strong>,</strong> es el hecho de que en el versículo 10 de este capítulo de
    Apocalipsis<strong>,</strong> después de decir en el 9 que Satanás y sus ángeles habían sido
    expulsados<strong>,</strong> dice que <strong>"...Ahora ha venido la salvación...".</strong> No es lógico pensar que
    la salvación vino porque simplemente se expulse al Diablo del Cielo<strong>.</strong> <strong>Lo lógico es pensar
        que la salvación vino sólo después que Jesucristo murió y resucitó;</strong> por lo tanto<strong>,</strong>
    tenemos que pensar que si la mencionada salvación y la expulsión son contemporáneas<strong>,</strong> esta expulsión
    ocurrió durante el proceso de la crucifixión y resurrección<strong>.</strong></p>
<p> También es lógico razonar que si mencionan que la persecución de la iglesia ocurrió <strong>después</strong> que
    Satanás fue echado fuera<strong>,</strong> es porque <strong>Satanás había sido ya expulsado del Cielo cuando
        comenzó la persecución de la Iglesia.</strong> Tal vez el Señor estuvo en la Tierra 40 días antes de
    ascender<strong>,</strong> para dar tiempo a que echaran del Cielo a sus enemigos<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>
</body>
</html>