
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Satan cast out before the Pentecost</title>
</head>
<body>
<p><strong>SATAN CAST OUT OF HEAVEN BEFORE THE PENTECOST</strong></p>
<p> When Jesus says <strong>"now"</strong> in Jn 12<strong>:</strong>31<strong>,</strong> he's signaling the moment in
    which <strong>"</strong>the prince of this world<strong>"</strong> was being cast out<strong>.</strong> The word
    <strong>"now"</strong> he uses could refer to that particular moment<strong>,</strong> or the entire process of his
    crucifixion and resurrection<strong>,</strong> which would be more reasonable<strong>.</strong></p>
<p></p>
<p><strong>"<i>Now</i></strong> <i>is the judgment of this world<strong>;</strong> <strong>now shall the prince of this
    world be cast out</strong></i><strong>."</strong></p>
<p> (Jn 12<strong>:</strong> 31)</p>
<p> If we read Lk 22<strong>:</strong>31<strong>,</strong> we'll see that <strong>Satan had asked</strong> the apostles
    to be sifted as wheat<strong>.</strong> <strong>If he asked for this, it is because he had access to God at the
        moment.</strong> In other words<strong>,</strong> <strong>he hadn't been cast out of Heaven yet.</strong> But
    nonetheless<strong>,</strong> <strong>after the crucifixion of Christ,</strong> there's no part of the New Testament
    saying that Satan will present himself before God<strong>,</strong> nor is such a thing induced<strong>.</strong>
    That leads us to think that he could no longer present himself before God to make petitions<strong>.</strong></p>
<p> After the crucifixion<strong>,</strong> Satan and the demons kept tempting humans with the same ancient and divine
    permission they've always had<strong>,</strong> even though they were cast out of Heaven<strong>.</strong> This
    temptation is only in general terms<strong>,</strong> not by asking permission for a specific temptation like in
    Job's case<strong>,</strong> or the one of him sifting the apostles<strong>.</strong> In the two cases mentioned we
    see that Satan had direct access to God<strong>,</strong> because he was still in Heaven<strong>.</strong></p>
<p> By knowing that Satan is called <strong>"</strong>the prince of this world<strong>",</strong> it is possible to
    think that <strong>he was "thrown out" of Heaven during the terrestrial ministry of Christ.</strong> Why do I think
    this way<strong>?</strong> Because in Jn 12<strong>:</strong>31<strong>,</strong> previously read<strong>,</strong>
    we see that our Lord Jesus Christ speaks in the present tense<strong>,</strong> saying that <strong>"now"</strong>
    Satan <strong>"shall"</strong> be cast out<strong>.</strong> By saying <strong>"now",</strong> we can see that he
    was going to be cast out during the process of the crucifixion and resurrection of the Lord<strong>;</strong> and by
    using the word <strong>"</strong>shall<strong>"</strong> (future) <strong>we can see that during the moment he
        spoke, he had not been cast out yet.</strong></p>
<p>So<strong>,</strong> from where was Satan cast out<strong>?</strong> It's logical to think that from
    Heaven<strong>,</strong> because evidently<strong>,</strong> he wasn't cast out of planet Earth<strong>.</strong>
    All of this concords with what was said by the Lord in Lk 10<strong>:</strong>18<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>And he said unto them<strong>:</strong> I beheld Satan as lightning <strong>fall from
    Heaven</strong></i><strong>."</strong> ( Lk 10<strong>:</strong>18 )</p>
<p><strong>It's probable that the Devil could be tolerated in Heaven for some time,</strong> despite his
    evilness<strong>,</strong> as indicated by the first and second chapters of Job<strong>.</strong> But when he dared
    to rise directly against the Son of God during the terrestrial life of the Lord<strong>,</strong> by tempting
    him<strong>,</strong> trying to get him to sin<strong>,</strong> and lastly by enticing others to make him suffer by
    crucifying and assassinating him<strong>,</strong> <strong>he could no longer be tolerated.</strong> He had gotten
    too far<strong>,</strong> and therefore<strong>,</strong> he couldn't continue living where a resurrected
    Jesus<strong>,</strong> whom he mistreated and assassinated on Earth<strong>,</strong> would live and
    reign<strong>.</strong> It is not logical for there to be a place for him in Heaven<strong>;</strong> and due to
    this<strong>,</strong> he was cast down to Earth<strong>.</strong> <strong>God and the slayer of his Son</strong>
    could not live together <strong>"</strong>under the same roof<strong>".</strong> Christ couldn't live together with
    Satan who tried<strong>,</strong> through sinful temptations<strong>,</strong> to separate him from his Father God
    forever<strong>.</strong> That's why it is logical to think that Satan was cast out of Heaven after the Lord's
    crucifixion<strong>.</strong></p>
<p> The moment described in Rev 12<strong>:</strong>7-13 is clearly the process of Christ's crucifixion and resurrection<strong>,</strong>
    where twice it mentions the Devil being cast out<strong>,</strong> especially in verses 9 and 12<strong>.</strong>
</p>
<p></p>
<p><strong>"</strong>7 <i>And there was war in heaven<strong>.</strong> Michael and his angels fought against the dragon<strong>;</strong>
    and the dragon fought and his angels<strong>.</strong></i> 8 <i><strong>And prevailed not; neither was their place
    found any more in heaven.</strong></i> 9 <i><strong>And the great dragon was cast out, that old serpent, called the
    Devil, and Satan,</strong> which deceiveth the whole world<strong>;</strong> <strong>he was cast out into the Earth,
    and his angels were cast out with him.</strong></i> 10 <i>And I heard a loud voice saying in
    heaven<strong>:</strong> <strong>Now is come salvation,</strong> and strength<strong>,</strong> and the kingdom of
    our God<strong>,</strong> and the power of his Christ<strong>;</strong> <strong>for the accuser of our brethren is
        cast down, which accused them before our God</strong> day and night<strong>.</strong></i> 11 <i>And they
    overcame him <strong>by the blood of the Lamb,</strong> and by the word of their testimony<strong>;</strong> and
    they loved not their lives unto the death<strong>.</strong></i> 12 <i>Therefore rejoice<strong>,</strong> ye heavens<strong>,</strong>
    and ye that dwell in them<strong>.</strong> Woe to the inhabiters of the earth and of the sea<strong>!,</strong>
    <strong>for the Devil is come down unto you,</strong> having great wrath<strong>,</strong> because he knoweth that
    he hath but a short time<strong>.</strong></i> 13 <i><strong>And when the dragon saw that he was cast unto the
    earth, he persecuted the woman which brought forth the man child.</strong></i><strong>"</strong> (Rev
    12<strong>:</strong>7-13)</p>
<p> This passage says that the Devil<strong>,</strong> once launched to Earth<strong>,</strong> pursued the
    <strong>"</strong>woman<strong>",</strong> something that concords with historical reality<strong>,</strong> if we
    admit that the <strong>"</strong>woman<strong>"</strong> is the assembly of the saints<strong>,</strong> The
    Church<strong>,</strong> and the believers of the synagogue converted to Christianity<strong>.</strong> Sure
    enough<strong>,</strong> the persecution was unleashed against the Church <strong>after</strong> the crucifixion and
    resurrection of the Lord<strong>.</strong> <strong>Remember that it was the Jews who were victims of the first
        persecution towards Christianity.</strong></p>
<p> After being thrown out of Heaven<strong>,</strong> Satan pursued the Church<strong>.</strong> From
    this<strong>,</strong> we can deduce that <strong>he was thrown out of Heaven before the persecutions of the Church
        started,</strong> but <strong>after</strong> what Jesus Christ said in Jn
    12<strong>:</strong>31<strong>,</strong> that it was now that Satan would be cast out<strong>.</strong></p>
<p></p>
<p><strong>"<i>Now is</i></strong> <i>the judgment of this world<strong>;</strong> <strong>now shall</strong> the prince
    or this world <strong>be</strong> cast out</i><strong>."</strong> ( Jn 12<strong>:</strong>31 )</p>
<p> Notice how categorical the Lord was in the verse (Jn 12<strong>:</strong>31) when he said<strong>:</strong> <strong>"….now
    shall</strong> the prince of this world <strong>be</strong> cast out<strong>".</strong> He is saying this shortly
    before the thirteenth chapter of John<strong>,</strong> where the long and detailed narration of the Lord's
    conversation with his disciples during the Last Supper begins<strong>.</strong> What I want to say with this is that
    there was little time left before the crucifixion and yet the Lord puts the expulsion in future
    tense<strong>,</strong> but a not so distant future<strong>,</strong> which is modified by the adverb
    <strong>"</strong>now<strong>".</strong></p>
<p><strong>From all this, we can reason that the expulsion occurred after the crucifixion;</strong>
    which<strong>,</strong> by the way<strong>,</strong> sounds logical since God<strong>,</strong>
    Christ<strong>,</strong> the Holy Spirit<strong>,</strong> and those who love Jesus couldn't live together with he
    who assassinated Christ on Earth and tried to lose him eternally<strong>.</strong></p>
<p> Another thing that helps us think that the expulsion of Satan from Heaven took place during the process of the
    crucifixion and resurrection of the Lord is the fact that in verse 10 of this chapter in
    Revelation<strong>,</strong> after saying in verse 9 that Satan and his angels had been cast out<strong>,</strong>
    it says that <strong>"….Now is come salvation…".</strong> It is not logical to think that salvation came simply
    because the Devil had been cast out from Heaven<strong>.</strong> <strong>What's logical is to think that salvation
        came only after Jesus Christ died and resurrected.</strong> Therefore<strong>,</strong> we should think that if
    the salvation mentioned and the expulsion are contemporary<strong>,</strong> this expulsion occurred during the
    process of the crucifixion and resurrection<strong>.</strong></p>
<p> Also<strong>,</strong> if they mention that the persecution of the church occurred <strong>after</strong> Satan was
    thrown out<strong>,</strong> it's also logical to reason that it's because <strong>Satan had already been cast out
        from Heaven when he began the persecution of the Church.</strong> Maybe Jesus stayed on Earth 40 days after his
    resurrection to give time for those rebellious angels to be cast down<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>