<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Los sellos, las trompetas y las copas</title>
</head>
<body>
<p><strong>APOCALIPSIS: LOS SELLOS, LAS TROMPETAS Y LAS COPAS NO SON CONTEMPORÁNEOS EN TODA SU EXTENSIÓN.</strong></p>
<p> He oído decir a algunos hermanos, que los sellos, las trompetas y las copas del Apocalipsis, son tres diferentes
    símbolos con los que se representa la misma cosa, el mismo período. Es decir, que según ellos, el cuarto sello, por
    ejemplo, representa el mismo período que la cuarta trompeta y que la cuarta copa, pero describiendo detalles
    diferentes. No estoy de acuerdo con esa interpretación. <strong>Los seis primeros sellos ocurren cuando aún no ha
        sonado ninguna trompeta ni se ha derramado ninguna copa.</strong> <strong>El séptimo sello da inicio a las siete
        trompetas.</strong> <strong>Las seis primeras trompetas ya han sonado cuando aún no ha sido derramada la primera
        copa.</strong> Es después de haber sonado la séptima trompeta que da inicio al derramamiento de las siete copas.
    Es decir, el séptimo período de cada uno de los símbolos, comprende los siete períodos del símbolo siguiente.
    <strong>Voy a poner un ejemplo numérico y uno gráfico, para que se comprenda cómo es como yo creo que son los
        períodos representados por cada uno de los sellos, trompetas y copas.</strong> Después de explicar lo que
    pienso, expondré en qué me baso para pensar así. En el período comprendido por el séptimo sello, se tocan las siete
    trompetas; y en el período comprendido por la séptima trompeta, se derraman las siete copas. Es como si las 7
    trompetas fueran una pormenorización de los acontecimientos que sucederán durante séptimo sello, y las 7 copas una
    pormenorización de los acontecimientos que ocurrirán durante la séptima trompeta. <strong>Los períodos son de
        diferentes duraciones,</strong> pero para explicarlo más fácilmente vamos a suponer que los siete períodos
    correspondientes a un mismo tipo de símbolo sean de igual duración. Hecha esta suposición pasemos a ver el ejemplo
    numérico. Imaginemos que cada uno de los siete sellos durará 49 días, por decir un número que sea fácil de manejar,
    <strong>no porque yo crea que eso es lo que van a durar.</strong> Supongamos también que cada una de las trompetas
    durará siete días, y que cada una de las copas durará un día. En conjunto, todos los sellos, trompetas y copas
    durarán 343 días. Recuerden que esto es solamente una suposición con fines didácticos. Si admitimos esta suposición,
    tendríamos que admitir que:</p>
<p></p>
<p>el primer sello comprende desde el día 1 al 49 el segundo sello comprende desde el día 50 al 98 el tercer sello
    comprende desde el día 99 al 147 el cuarto sello comprende desde el día 148 al 196 el quinto sello comprende desde
    el día 197 al 245 el sexto sello comprende desde el día 246 al 294 el séptimo sello comprende desde el día 295 al
    343</p>
<p></p>
<p><strong>Ahora bien, después que se abra el séptimo sello, durante el período representado por él, es que comienza el
    período del tañido de las trompetas.</strong> Por lo tanto, siguiendo con el hipotético caso numérico, los períodos
    de las trompetas abarcarían los días siguientes:</p>
<p></p>
<p>la primera trompeta comprende desde el día 297 al 301 la segunda trompeta comprende desde el día 302 al 308 la
    tercera trompeta comprende desde el día 309 al 315 la cuarta trompeta comprende desde el día 316 al 322 la quinta
    trompeta comprende desde el día 323 al 329 la sexta trompeta comprende desde el día 330 al 336 la séptima trompeta
    comprende desde el día 337 al 343</p>
<p></p>
<p> De propósito comencé el período de la primera trompeta, en el día 297 en vez de en el 295, porque quiero destacar
    que <strong>la primera trompeta no tiene que ser tañida inmediatamente después que se abra el séptimo sello</strong>,
    sino en algún momento después de la apertura. Prosiguiendo con el hipotético ejemplo de los números y los días,
    tendríamos que la primera copa se derramaría en algún momento del día 337, después del tañido de la séptima
    trompeta. A mi modo de ver, todo esto sucederá en rapidísima sucesión. Pero para ceñirnos al ejemplo, las copas
    serían derramadas en los siguientes días:</p>
<p></p>
<p>la primera copa será derramada el día 337 la segunda copa será derramada el día 338 la tercera copa será derramada el
    día 339 la cuarta copa será derramada el día 340 la quinta copa será derramada el día 341 la sexta copa será
    derramada el día 342 la séptima copa será derramada el día 343</p>
<p></p>
<p><strong>Quiero advertir de nuevo que yo no estoy diciendo que esos períodos duren lo que dice el ejemplo,</strong> no
    vaya a haber alguien tan torpe que luego de leer lo que aquí digo, salga diciendo que "yo dije" que cada sello va a
    durar 49 días etc., etc.. La tercera trompeta, por ejemplo, pudiera durar más ( o menos ) que el quinto sello, por
    decir algo. Lo que sí es cierto es que los siete períodos de un tipo, se hallan incluidos en el séptimo período del
    tipo anterior. Si tuviera que expresar gráficamente esta misma idea, lo haría con el gráfico que a continuación
    sigue.</p>
<p><img alt="SellosTrompetasCopas" height="281" src="SellosTrompetasCopas.jpg" width="542"></p>
<p> Como vemos en el ejemplo numérico, el "día 343" pertenece por igual al séptimo sello ( del 295 al 343 ), a la
    séptima trompeta ( del 337 al 343 ), y a la séptima copa ( día 343). Igualmente vemos en la gráfica que la porción
    final del séptimo sello, la porción final de la séptima trompeta y toda la séptima copa son concomitantes. <strong>Esto
        explicaría el porqué el séptimo sello, la séptima trompeta y la séptima copa, terminan en la época de la Venida
        del Señor y la destrucción del antiCristo, y todos contienen elementos del final de los tiempos.</strong> Claro
    está, que esto no es más que una teoría, con igual autoridad o falta de autoridad que la que haya elaborado
    cualquier otro hijo de vecino que haya escrito sobre temas religiosos en general, o sobre el Apocalipsis en
    particular. Al fin y al cabo las teorías más sesudamente elaboradas pueden ser declaradas obsoletas o absurdas, por
    una nueva y más lógica teoría o por la implacable realidad. <strong>El caso de los cuatro primeros sellos nos
        conduce a pensar en la posibilidad de que algunos de estos períodos no terminen antes de comenzar el siguiente,
        sino que aunque sus momentos de comenzar son sucesivos, debido a su duración total son parcialmente
        contemporáneos</strong>. Por ejemplo, el segundo sello es, o parece, ser la guerra, el tercero el hambre y el
    cuarto la mortandad. No creo que vaya a haber primero un período de guerra; que cesado el período de la guerra,
    cuando ya haya paz, comience el período hambre; y que terminado el período del hambre, cuando ya haya abundancia,
    comience la mortandad. Me inclino a creer que a pesar de que el comienzo de esos períodos ocurre sucesivamente, en
    diferentes fechas, la duración de ellos sea tal que alcance al inicio y gran parte del período siguiente o incluso
    de los períodos siguientes. Por ello habrá, al mismo tiempo, guerra, hambre, y mortandad. Tal vez la mortandad venga
    por plagas que en el futuro se desaten. Es decir, que a pesar de que el inicio de esos sellos es sucesivo, las
    consecuencias que la apertura de estos tres sellos provocan, se superponen hasta el final del cuarto sello. Si
    alguien tiene una mejor interpretación y puede substanciarla con pruebas o razonamientos, le ruego que me la haga
    saber, porque a mí me gusta aprender de mis errores. En cuanto esta interpretación mía, voy a continuación a exponer
    las bases en que me fundo para creerla correcta. <strong>Veamos el primer argumento. Según Ap 8: 1-2 los siete
        ángeles reciben sus trompetas sólo después que Jesucristo abre el séptimo sello.</strong> Es fácil darse cuenta
    de que si previo a la apertura del séptimo sello nadie tenía trompetas que tocar, no pueden ser los períodos
    representados por las trompetas, contemporáneos con, o iguales a, los períodos representados por sellos. Tampoco
    puede ser el tañido de éstas, concomitante con la apertura de aquéllos.</p>
<p></p>
<p> "<i>Y <strong>cuando él abrió el séptimo sello</strong>, fue hecho silencio en</i></p>
<p><i>el cielo casi por media hora.</i> <strong>Y vi los siete ángeles</strong> <i>que</i></p>
<p><i>estaban delante de Dios; y <strong>les fueron dadas siete trompetas</strong></i>."</p>
<p>( Ap 8: 1-2 )</p>
<p></p>
<p><strong>El segundo argumento es que los sellos los abre el Cordero, y ningún otro es considerado digno de
    hacerlo</strong> como dice Ap 5: 2-5. No sería lógico pensar que luego se aparecieran con que las trompetas y las
    copas, que supuestamente significan lo mismo que los sellos, según la tal hipótesis, pudieran ser manipuladas por
    simples ángeles y no por el Cordero, que fue quien manipuló los sellos.</p>
<p></p>
<p> "1 <i>Y vi en la mano derecha del que estaba sentado sobre</i></p>
<p><i>el trono un libro escrito de dentro</i> <i>y de fuera, <strong>sellado con</strong></i></p>
<p><strong>siete sellos</strong><i>. </i> 2 <i>Y vi un fuerte ángel predicando en alta voz:</i></p>
<p><strong>¿Quién es</strong> <strong>digno</strong> <i>de abrir el libro, y <strong>de desatar sus sellos</strong>?</i>
</p>
<p><strong> .........</strong>5 <i>Y uno de los ancianos me dice: No</i> <i>llores: he aquí <strong>el</strong></i></p>
<p><strong>león de la tribu de Judá, la raíz de David, que ha vencido</strong></p>
<p><strong> para abrir el libro,</strong> <strong>y desatar sus siete sellos.</strong> <i>6</i> <i>Y miré; y <strong>....</strong></i>
</p>
<p><strong>estaba un Cordero como inmolado,....</strong>7 <i>Y él vino, y tomó el</i></p>
<p><i>libro de la mano</i> <i>derecha de aquel que estaba sentado en el</i></p>
<p><i>trono. ....</i> 9 <i>Y cantaban un nuevo cántico, diciendo:</i> <strong>Digno</strong></p>
<p><strong>eres de tomar el libro, y de abrir sus sellos</strong><i>; porque tú fuiste</i></p>
<p><i> inmolado, y nos has</i> <i>redimido para Dios con tu sangre, de</i></p>
<p><i>todo linaje y lengua y pueblo y nación</i>."</p>
<p>( Ap 5: 1- 9 abreviado )</p>
<p></p>
<p><strong>Para el tercer argumento</strong> debemos recordar que <strong>la mies representa a los cristianos.</strong>
    Dicho esto podemos ver que a finales del capítulo 14 Cristo <strong>siega la mies</strong> de la Tierra, y que acto
    seguido los ángeles trabajan en la recolección de la uva, para el lagar de la ira de Dios, para lo cual vemos en 15:
    1 cómo hay siete ángeles que tienen las siete plagas postreras. Se evidencia que <strong>si Cristo vino en la
        séptima y última trompeta, y es después de eso que se le dan las copas a los ángeles, estas copas con plagas son
        posteriores al toque de la séptima trompeta</strong>.</p>
<p></p>
<p> "14 <i>Y miré, <strong>y he aquí una nube blanca; y sobre la nube uno</strong></i></p>
<p><strong> sentado semejante al del Hombre</strong><i>, que tenía en su cabeza</i></p>
<p><i>una corona de oro, y en su mano una hoz aguda.</i> 15 <i>Y otro</i></p>
<p><i>ángel salió del templo, <strong>clamando en alta voz al que estaba</strong></i></p>
<p><strong>sentado sobre la</strong> <strong>nube: Mete tu hoz, y siega; porque la hora</strong></p>
<p><strong>de segar te es venida</strong><i>, porque <strong>la mies</strong> de</i> <i>la tierra está madura.</i></p>
<p>16 <i>Y el que estaba sentado sobre la nube echó su hoz sobre la</i></p>
<p><i> tierra,</i> <i>y la tierra fue segada.</i> 17 <strong>Y salió otro ángel del templo</strong></p>
<p><i>que está en el cielo, teniendo también una hoz aguda.</i> <i>Y otro</i></p>
<p><i>ángel salió del altar, el cual tenía poder sobre el fuego, y</i></p>
<p><i> clamó con gran voz al que</i> <i>tenía la hoz aguda, diciendo:</i></p>
<p><i>Mete tu hoz aguda, y <strong>vendimia los racimos</strong> de la Tierra;</i></p>
<p><i>porque</i> <i>están maduras sus uvas.</i> 19 <strong>Y el ángel echó su hoz</strong></p>
<p><strong>aguda en la Tierra, y vendimió la viña</strong> <strong>de la tierra, y echó</strong></p>
<p><strong>la uva</strong> <strong>en el grande lagar de la ira de Dios.</strong> 20 <i>Y el lagar fue</i></p>
<p><i>hollado</i> <i>fuera de la ciudad, y del lagar salió sangre hasta los</i></p>
<p><i>frenos de los caballos por mil y seiscientos</i> <i>estadios. </i> 15: 1 <i>Y vi</i></p>
<p><i>otra señal en el cielo, grande y admirable, que era <strong>siete</strong></i></p>
<p><strong>ángeles que</strong> <strong>tenían las siete plagas postreras</strong><i>; porque en ellas</i></p>
<p><i> es consumada la ira de Dios</i>." ( Ap de 14: 14 a 15: 1 )</p>
<p></p>
<p> En estos tres argumentos se evidencia que los sellos, las trompetas y las copas son símbolos que representan
    períodos completamente distintos. También se puede notar que aunque los períodos iniciales de cada uno de los
    símbolos no son contemporáneos, el período final de todos ellos sí coincide. Es decir, el séptimo sello, la séptima
    trompeta y la séptima copa son parcialmente contemporáneos.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>