<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Seven days or seven eras</title>
</head>
<body>
<p><strong>Did the creation last 7 days or 7 eras?</strong></p>
<p> Some believers are influenced by unfounded "scientific" hypotheses over the origin of the world and humans. In the
    book of Genesis when it states that the creation was completed in seven days, they affirm that this is referring to
    seven eras or periods of 7,000 years each, not seven 24 hour days.</p>
<p> I understand that scientific individuals, who are antitheist, will create any hypothesis which denies God, because
    in the end to hypothesize you don't have to present any scientific proof. What I don't understand is how some Bible
    believers use these types of hypotheses to affirm such things. If it was a personal hypothesis I could understand,
    anyone can hypothesize without biblical proof. What can not be done is to wield such hypotheses and then say, "It's
    Biblical".</p>
<p><strong> The days of the creation can not be "eras" of 7,000 years as affirmed by these people, because according to
    the Bible, the vegetation was created the third day while the sun was created the fourth day</strong>. If these days
    were "eras" of 7,000 years each, we would have to admit that the lush vegetation of that time, endured 7,000 years
    without one ray from the sun, which is illogical and absurd.</p>
<p> To add insult to injury, it's logical to believe <strong>if God established one day of rest of 24 hours, it's
    because the other days of work were of 24 hours</strong>. Since the Bible states that God rested on the seventh day
    and blessed it and since then the Sabbath is kept for a period of 24 hours, you don't have to make a huge mental
    effort to comprehend that the holy day was equal in duration as the other days. Besides, it's not reasonable to
    believe that God worked 42,000 years (6 "eras" of 7,000 years each) and then rested only 24 hours.</p>
<p> Others more stubborn want to believe that the rest spoken of here also lasted 7,000 years. This is absurd, because
    Adam was cast out from Paradise <strong>after</strong> God had rested. If we would believe that the day God rested
    was 7,000 years we would have to admit that Adam lived more than 7,000 years and not 930 as the Bible says. As you
    can see, every time that a lie is invented and they try to prove it the deeper they sink into the mire.</p>
<p> The hypotheses in question are wrongfully called scientific, because true science only believes that which can be
    proved and none of these can be proved by those who call themselves scientists, besides the fact that they speak
    without proof. These things are merely hypothesis, fantasies without any factual base, forcing the issues against
    the grain, qualifying it as "scientific".</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>