---
import Layout from "../layout/Layout.astro";
---

<Layout title="Prophecy of the 70 weeks">
    <section>
        <p><strong>Daniel's prophecy of the 70 weeks of years tells us the time of the coming of the Messiah</strong>
        </p>
        <p><strong>Daniel's prophecy of the seventy weeks is one of the prophecies that show with great precision that
            the Lord
            Jesus is the Messiah.</strong> This prophecy indicates the time from when Artaxerxes king of Persia gave
            permission
            to Nehemiah for the reconstruction of Jerusalem until the coming of the Messiah. This is what we will
            consider in
            this article.</p>
        <p><strong>Since we now use the word "week" only to indicate the lapse of seven days,</strong> it is important
            to first
            demonstrate that in the time of Moses and the prophets, the word also was used in the sense of a period of
            seven
            years.</p>
        <p> In Genesis 29:27-28, we see, that from very early times, one of the <strong>biblical meanings</strong> for
            the word
            "week" was as a period of seven years. Here the word <strong>"week" is related directly to a period of seven
                years.</strong> This is important to establish, because the meaning of "week" in this case is the key
            for the
            interpretation of the prophecy of the Seventy Weeks.</p>
        <p><strong>After Jacob was deceived by his father-in-law</strong> who gave Leah to Jacob's to be his first wife
            instead
            of Rachel, Laban proposed that his son-in-law work "<strong>another week</strong>" before also giving him
            Rachel.
        </p>
        <p></p>
        <p> "<i>27 <strong>Fulfill her week,</strong> and we will give thee this also for the service which thou shalt
            serve
            with me yet <strong>seven other years</strong>.</i> 28 <i>And Jacob did so, and <strong>fulfilled her
            week</strong>;
            and he gave him Rachel his daughter to wife also</i>." (Gn 29:27-28)</p>
        <p> As we saw in this passage, a period of seven years is called a "week." <strong>Again in Leviticus 25:8 we
            see that a
            lapse of seven years is called a "week"</strong>. Those who have not read the Bible do not know that "weeks
            of
            years" are mentioned. In the following verse we see another occasion when seven years are called a "week."
        </p>
        <p></p>
        <p> "<i>And thou shalt number <strong>seven sabbaths of years</strong>, <strong>unto thee, seven times seven
            years</strong>; and <strong>the space of the seven sabbaths of years shall be unto thee forty and nine
            years</strong></i>." (Lv 25:8)</p>
        <p> We see again in the verse we just read that the word "week" (or equivalent "Sabbath) is also used to
            indicate a
            period of seven years. Now that we are aware of the ancient use of the word "week" to indicate a period of
            seven
            years, let's read a prophecy from the ninth chapter of the book of the prophet Daniel.</p>
        <p> At the beginning of the chapter we see Daniel seeking the will of God and praying for it. We learn this as
            we read
            the first twenty-three verses of the chapter where an angel appeared which made the following revelation. As
            you
            carefully analyze this revelation, you will find that the revelation in <strong>this passage is only
                consistent with
                Jesus Christ</strong>.</p>
        <p></p>
        <p> "24 <strong>Seventy weeks</strong> <i>are determined upon thy people and upon thy holy city, to finish the
            transgression, and to make an end of sins, <strong>and to make reconciliation for iniquity, and to bring in
                everlasting righteousness</strong>, and to seal up the vision and prophecy, and to anoint the most Holy.</i>
            <i>25
                Know therefore and understand, that <strong>from the going forth of the commandment to restore and to
                    build
                    Jerusalem, unto the Messiah the Prince, shall be seven weeks, and threescore and two weeks</strong>;
                the street
                shall be built again, and the wall, even in troublous times.</i> <i>26 And <strong>after threescore and
                two weeks
                shall Messiah be cut off</strong>, but not for himself; and the people of the prince that <strong>shall
                come shall
                destroy the city and the sanctuary</strong>; and the end thereof shall be with a flood, and unto the end
                of the war
                desolations are determined.</i> 27 <i>And he shall confirm the covenant with many <strong>for one
                week</strong>; and
                in the midst of the week he shall cause the sacrifice and the oblation to cease, and for the
                overspreading of
                abominations he shall make it desolate, even until the consummation, and that determined shall be poured
                upon the
                desolate</i>." (Dn 9:24-27)</p>
        <p> From this very important passage of Daniel's prophecy we can come to the conclusion that God was revealing
            that the
            Jewish people were to pass through three distinct periods.</p>
        <p><strong>The first period was the seven weeks, that</strong> is the 49 years while they will turn to building
            the
            plaza (street) and wall during trying times. This occurred in Nehemiah's time, you only have to read the
            book of
            Nehemiah in the Bible to confirm this.</p>
        <p><strong>The second period was the seventy-two weeks</strong>, which comes to 434 years. Adding the first
            period of 49
            years to the 434 years adds up to 483 (49+434=483). After the 483 years the Messiah will come according to
            verse 25.
            After His coming, they will take His life as verse 26 clearly states. Afterwards the City of Jerusalem and
            its
            Temple will be destroyed.</p>
        <p><strong>From this reading of Daniel's prophecy, we can conclude that:</strong></p>
        <p><strong> a)</strong> God has decreed a period of 70 weeks of years for the people of Israel.</p>
        <p><strong> b)</strong> The Messiah will arrive (69 weeks) 483 years after the order is given for the
            restoration of
            Jerusalem.</p>
        <p><strong> c)</strong> The Messiah will be killed following the 483 years after the order to restore Jerusalem.
        </p>
        <p><strong> d)</strong> After the Messiah's life is taken, the City of Jerusalem and the Temple will be
            destroyed which
            happened when Titus Flavius, the son of the Emperor Vespasian razed the city.</p>
        <p><strong>e)</strong> After these two periods which add up to 69 weeks, there remains <strong>a future third
            period of
            one week of years when Israel will again enter into God's prophecy.</strong></p>
        <p><strong>These will be the final seven years of the history of the world.</strong> The first three years and
            six
            months of these seven years will be distinguished by the appearance of what the Book of Revelation (in the
            New
            Testament) calls "the two witnesses." These are two of God's prophets that will perform miracles like in the
            ancient
            times did Elijah. After the first three and a half years, the antiChrist will appear and rule for forty-two
            months
            (three years and a half). This figure will kill God's two witnesses and will make the people believe that he
            is the
            messiah. Then he will demand that the people worship him as a god and require that they mark themselves with
            the
            number 666 which many will do.</p>
        <p><strong>When should we begin to count the 483 years?</strong> Knowing what Daniel's prophecy says, we are
            able to
            demonstrate how the prophecy of the Messiah is fulfilled by Jesus Christ. But, to know when the 483 years
            finish, we
            first need to know when the period begins.</p>
        <p> According to Daniel's prophecy, "<strong>from</strong> the going forth of the commandment to restore and
            <strong>to
                build Jerusalem</strong> <strong>unto</strong> <strong>the Messiah and Prince</strong>, there will be
            seven weeks,
            and threescore and two weeks" for a total of 69 weeks of years. Therefore, let's go to Scripture to find
            out, there
            we will find when this command was given.</p>
        <p><strong>Nehemiah 2:1-6 turns out to be one of the most important passages in relation to the Messiah. We base
            the
            prophecy of the seventy weeks of years</strong> that is found in Daniel 9:24-27 on the date given in
            Nehemiah for
            the beginning of this period. Both passages together form a magnificent way to prove to Jews that Jesus is
            the
            Messiah in His First Coming and to prove to atheists that the Bible is a book from God as we shall see.</p>
        <p> At the beginning of chapter two of Nehemiah, we see he appears during the twentieth year of Artaxerxes'
            rule. At
            this time Jerusalem is still destroyed due to Nebuchadnezzar's siege at the time when Zedekiah was king of
            Judah. We
            know this from Nehemiah 1:3 and from the details of what Nehemiah said to the king Artaxerxes in Nehemiah
            2:3-5. In
            these verses we find evidence that:</p>
        <p><strong>a)</strong> The people were living in affliction and reproach. <strong>The walls of the city were
            destroyed
            and the gates burned.</strong></p>
        <p><strong>b) The city was deserted and very few were living there.</strong> This is confirmed by Nehemiah 11:1-
            2 where
            we learn of a kind of compulsory levy to recruit inhabitants for Jerusalem.</p>
        <p><strong>c)</strong> Nehemiah asks the king <strong>directly</strong> to be sent to rebuild Jerusalem which is
            certainly a sign that the city had not yet been reconstructed. In addition we can confirm in this passage
            that
            <strong>King Artaxerxes was giving Nehemiah the order to rebuild as well as the means and authority to do
                so.</strong></p>
        <p> As a result there cannot be the least doubt that the "<strong>commandment to restore and to rebuild
            Jerusalem took
            place during the twentieth year of the rule of king Artaxerxes of Persia</strong>.</p>
        <p></p>
        <p> "1 <i>The words of Nehemiah the son of Hachaliah.</i> <i>And it came to pass <strong>in the month Chisleu,
            in the
            twentieth year</strong>, as I was in Shushan the palace,</i> 2 <i>that Hanani, one of my brethren, came, he
            and
            certain men of Judah; and I asked them concerning the Jews that had escaped, which were left of the
            captivity, and
            concerning Jerusalem.</i> 3 <i>And they said unto me: <strong>The remnant that are left of the captivity
            there in
            the province are in great affliction and reproach. The wall of Jerusalem also is broken down, and the gates
            thereof
            are burned with fire</strong></i>." (Neh 1:1-3)</p>
        <p> This passage which we have just referred to proves that in the twentieth year of king Artaxerxes rule,
            Jerusalem was
            still destroyed without gates and walls for defense. Now we shall see how during this same twentieth year of
            Artaxerxes that this king gave the order to restore Jerusalem.</p>
        <p></p>
        <p>"1 <i>And it came to pass in the month Nisan, <strong>in the twentieth year of Artaxerxes the king</strong>,
            that
            wine was before him; and I took up the wine, and gave it unto the king. Now I had not been beforetime sad in
            his
            presence.</i> 2 <i>Wherefore the king said unto me: Why is thy countenance sad, seeing thou art not sick?
            This is
            nothing else but sorrow of heart. Then I was very sore afraid, 3 and said unto the king: Let the king live
            for ever;
            <strong>why should not my countenance be sad, when the city, the place of my fathers' sepulchres, lieth
                waste, and
                the gates thereof are consumed with fire</strong>?</i> 4 <i>Then the king said unto me: For what dost
            thou make
            request? So I prayed to the God of Heaven.</i> 5 <i>And I said unto the king: If it please the king, and if
            thy
            servant have found favour in thy sight, <strong>that thou wouldest send me unto Judah, unto the city of my
                fathers'
                sepulchres, that I may build it</strong>.</i> 6 <i>And the king said unto me, (the queen also sitting by
            him,):
            For how long shall thy journey be? And when wilt thou return? <strong>So it pleased the king to send me; and
                I set
                him a time</strong></i>." (Neh 2:1-6)</p>
        <p> Not only did the king Artaxerxes give the command, but he also granted Nehemiah authority as well as
            soldiers and
            resources to carry out the work. As we read in the book of Nehemiah:</p>
        <p></p>
        <p>"7 <i>Moreover I said unto the king: If it please the king, let letters be given me to the governors beyond
            the
            river, that they may convey me over till I come into Judah;</i> 8 <strong>and a letter unto Asaph the keeper
            of the
            king's forest, that he may give me timber to make beams for the gates of the palace which appertained to the
            house,
            and for the wall of the city, and for the house that I shall enter into. And the king granted me</strong><i>,
            according to the good hand of my God upon me.</i> 9 <i>Then I came to the governors beyond the river, and
            gave them
            the king's letters. Now the king had sent captains of the army and horsemen with me.</i>" (Neh 2:7-9)</p>
        <p> As we have seen, the command for the restoration of Jerusalem was given during the twentieth year of king
            Artaxerxe's rule. In addition Daniel 9:25-26 clearly states that <strong>from the going forth of the
                commandment to
                restore and to build Jerusalem, unto the Messiah the Prince, shall be seven weeks, and threescore and
                two
                weeks.</strong> The weeks which the text mentions form two periods, one of 7 weeks and another of 62
            weeks which
            together total 483 years.</p>
        <p></p>
        <p>"25 <i>Know</i> <i>therefore and understand, that <strong>from the going forth of the commandment to restore
            and to
            build Jerusalem unto the Messiah the Prince shall be seven weeks, and threescore and two weeks</strong>. The
            street
            shall be built again, and the wall, even in troublous times.</i> <i>26 And <strong>after threescore and two
            weeks
            shall Messiah be cut off, but not for himself;</strong> and the people of the prince that shall come shall
            destroy
            the city and the sanctuary; and the end thereof shall be with a flood, and unto the end of the war
            desolations are
            determined</i>." (Dn 9:25-26)</p>
        <p><strong>Now we turn to the Encyclopedia Britannica</strong>, XV edition of 1977, Micropaedia, volume I, page
            549.
            Here we see that the King Artaxerxes I, the king who gave the order to "restore and rebuild Jerusalem",
            ruled from
            the year 465 to 425 B.C. If this monarch began to rule in the year 465, then his twentieth year of rule
            would be 445
            B.C. We already know that the biblical and historical chronology is not real precise, but even so, it can be
            used as
            a basis for finding the truth.</p>
        <p> If from the twentieth year of Artaxerxes rule (445 B.C.) until the Messiah, 483 years were to pass, then we
            can make
            the calculation and see that <strong>we fall in the year 38 A.D. (after Christ)</strong>. In other words
            even with
            the imprecision of the chronology, our calculations place us in the epoch of Jesus Christ.</p>
        <p><strong>Even if someone objects that the calculations fall in the year 38 and not in the year 33,</strong>
            when
            Christ was crucified, nor in the year zero when Jesus was born, this is irrelevant for two reasons:</p>
        <p><strong>a)</strong> The five year difference is not that great in view of the inexactness of the ancient
            chronologies. Even our present chronology has an error of four years.</p>
        <p><strong>b) During all of this period of time no other personage emerged with messianic stature aside from
            Jesus
            Christ.</strong></p>
        <p> In other words, our problem is not to try to see which of three or four contemporary personalities of the
            epoch
            better fit with the prophetic chronology. If there had been other "messiahs" with the religious stature of
            Christ,
            there could have been some doubts; but that did not happen. He was unique among all the people of that
            entire
            period. Therefore it is logical to conclude that He was the one who fulfilled the time which was prophesied
            even
            though at this distance of time there is a small divergence in the calculation. In reality true believers in
            the
            Hebrew Scriptures have two alternatives: <strong>a)</strong> Either Jesus is the Messiah in His First
            Coming, or
            <strong>b</strong><strong>)</strong> the prophet Daniel miserably failed in his prediction, something that a
            Jewish
            believer would consider to be blasphemy.</p>
        <p><strong>Once all of this is understood, we can say that any honest atheist who wishes to reason through this
            matter,</strong> who has an interest in investigating the truth, must realize that here lies <strong>a proof
            of the
            divine origin of the Bible</strong>. The two passages that prove that Jesus fulfills the prophecy about the
            Messiah
            belong to the Old Testament; they belong to portion of the Bible that the Jews accept and administrate.
            <strong>No
                atheist can suspect that these passages were "fixed" so that they would be in agreement with the coming
                of Jesus
                Christ</strong>, since: <strong>1)</strong> the orthodox Jews do not "fix" the Scriptures; and
            <strong>2)</strong> even in the case of an alteration, it would never be done in order to demonstrate that
            Jesus is
            the Messiah.</p>
        <p> Therefore, if the proofs of the coming of the Christ were precisely prophesied based on passages that could
            not have
            been "arranged", it would be right to think that the prophecy has been fulfilled. And <strong>if a singular,
                unique
                event was prophesied 483 years before its occurrence, then one must conclude that the book that contains
                the
                prophecy is not and cannot be a humanly inspired work.</strong></p>
        <p> If an atheist wants more proofs that the Bible is God's book, then he can read my book "The Last Four World
            Powers"
            that can be found on my website: www.bibleserralta.com. In this book I present the evidences from outside of
            the
            Bible that show how the prophecy contained in chapter 7 of the biblical book of Daniel the Prophet is being
            fulfilled in our time. This prophecy which was made nearly three thousand years ago states that the last
            four great
            powers of the world will be England, Russia, China and the European Union.</p>
        <p><strong>Back to the matter at hand.</strong> Remember that what Artaxerxes gave was official permission
            backed by the
            armed forces (Nehemiah 2:9) <strong>to rebuild Jerusalem and not to rebuild the Temple. The order for
                rebuilding the
                Temple</strong> had been given years before by Cyrus (Ezra 1:1-4). Also, it was Artaxerxes, who in
            addition to
            giving permission and troops, as well gave construction materials for rebuilding the city and the wall as we
            have
            seen in Nehemiah 2:8-9.</p>
        <p> As if to confirm the double use of the word "week", we see a little more ahead in the same book of Daniel
            where he
            <strong>mentions weeks of days</strong>. Because he was fasting during those weeks, they cannot be weeks of
            years.
        </p>
        <p></p>
        <p> "<i>In those days I Daniel was mourning three full weeks. <strong>I ate no pleasant bread, neither came
            flesh nor
            wine in my mouth, neither did I anoint myself at all, till three whole weeks were fulfilled</strong></i>."
            (Dn
            10:2-3)</p>
        <p> All of this obvious reasoning and data demonstrate that it was customary to speak in terms of weeks of
            years. In
            addition, any Jewish person that believes in the Old Testament as the Word of God, must conclude that if the
            prophecy of the 70 weeks referred to weeks of days, then the prophecy would not have been fulfilled. I say
            this
            because Jerusalem was not destroyed a bit more than a year (seventy weeks of days) after the beginning of
            its
            reconstruction <strong>as the prophecy states.</strong> Since any true believer believes that God's
            prophecies do
            not fail, it is necessary to accept that the reference is to weeks of years. Indeed, it was a little more
            than 483
            years after its reconstruction that the city and sanctuary were destroyed, a proof that the weeks in
            question were
            weeks <strong>of years</strong>.</p>
        <p> Let's situate ourselves in the time of Hebrew history that occurred 483 years after the order for the
            reconstruction
            and rebuilding of Jerusalem. During this time period no one of messianic stature arose except for Jesus
            Christ. No
            one can show a prophet, chief priest or leader, nor any other personage that fulfills the prophecy of the
            seventy
            weeks like Jesus. Why not accept Jesus as the Messiah then? Because of what your friends could say or think?
            The
            larger problem is what God could think when you present yourself before Him and He asks why you did not
            believe in
            His Word, and why you preferred the approval of your friends before the approval of your Father God.</p>
        <p><strong> Summary:</strong> The prophecy of the seventy weeks of years in the book of Daniel, chapter 9,
            accurately
            shows when the Messiah was to come. The two passages from Genesis 29:27-28 and Leviticus 25:8 show how the
            word
            "week" in the biblical epoch was used to indicate a seven year amount of time. Then in Daniel 9:24-27 we see
            how the
            prophet Daniel announced that the Messiah was to come 69 weeks of years (483 years) after the command for
            the
            restoration of Jerusalem. After this period they would kill the Messiah and afterwards the Temple would be
            destroyed
            as well as the City of Jerusalem. However, there remained a final week of years that were for the future
            when God
            would again manifest himself to Israel. Of these seven years of the last week, during the first 3&amp;frac12;
            years,
            God would show himself through two witnesses that are described in the New Testament book of Revelation. One
            of
            these two prophets could be Elijah. We should not forget that according to Malachi, Elijah is to return.
            During the
            second half of the week (the second 3&amp;frac12; years) the antiChrist is to reign and will impose his 666
            number.
            He will be accepted by many and rejected by others.</p>
        <p> Afterwards we saw in Nehemiah 2:1-6 that in his twentieth year of rule, Artaxerxes King of Persia, gave the
            order to
            restore Jerusalem and he gave Nehemiah authority and resources to do that. Knowing that according to the
            Encyclopedia the 20th year of this king is approximately the year 445 before Christ, it is easy to calculate
            that
            483 years from then would fall during the year 38 of our Christian era. The only person of messianic stature
            that
            appeared during this time was Jesus Christ. One would have to willfully not believe in order to not accept
            this
            proof.</p>
        <p><a href="biblenotes.html">Back to the index</a></p>

    </section>
</Layout>
    