
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Si Dios todo lo sabe, ¿por qué hay que orar?</title>
</head>
<body>
<p></p>
<p></p>
<p></p>
<p><strong>Si Dios todo lo sabe, ¿por qué hay que orar?</strong></p>
<p></p>
<p> Muchas veces el cristiano piensa que si Dios es omnisciente<strong>,</strong> es decir<strong>,</strong> todo lo
  sabe<strong>,</strong> entonces<strong>,</strong> <strong>¿</strong>para qué hay que orar<strong>,</strong> si Él sabe
  lo que uno necesita<strong>?</strong></p>
<p> Sería de preguntarse cuál es la razón para nosotros orar, si de todas maneras, como dice Nuestro Señor Jesucristo,
  Dios sabe lo que necesitamos antes de que le pidamos.</p>
<p></p>
<p></p>
<p>"7 <i>Y orando</i><i>,</i> <i>no seáis prolijos</i><i>,</i> <i>como los gentiles</i><i>;</i> <i>que piensan que por
  su parlería serán oídos</i><i>.</i> 8 <i>No os hagáis</i><i>,</i> <i>pues</i><i>,</i> <i>semejantes a
  ellos</i><i>;</i> <i>porque vuestro Padre sabe de qué cosas tenéis necesidad</i><i>,</i> <i>antes que vosotros le
  pidáis</i>" (Mt 6:7-8)</p>
<p></p>
<p> Efectivamente, a mi modo de ver Dios, que conoce perfectamente la evolución de los distintos fenómenos, tanto los de
  índole física como los de índole espiritual, se da cuenta de lo que vamos a necesitar, aún antes de que nosotros nos
  percatemos de que nos está haciendo falta. Eso, sin contar con su presciencia, facultad que no sabemos si usa sólo
  cuando lo desea o continuamente. Pues bien, si Dios está enterado antes de que nosotros se lo digamos, ¿para qué
  decírselo?</p>
<p> Ahí es donde comienza la aplicación de la dinámica celestial. Parece ser que, dado que Dios nos ha otorgado el más
  absoluto libre albedrío, y dado que Él mismo lo respeta con exquisito cuidado, mientras nosotros no oremos a Él,
  repito, no le damos el "derecho", por decirlo así, de intervenir en nuestros asuntos en forma particular, personal,
  específica. Hasta ese momento Él sólo "puede" usar (pues así estableció Él mismo la norma celestial) el derecho
  general que se reservó para la administración de los asuntos de todas las criaturas; pero no "puede" ir más allá. No
  es que no tenga fuerza y poder para hacerlo, es que Él no se va por encima de Sus propias normas de conducta que antes
  estableciera.</p>
<p> Por eso, si somos víctimas de una tentación, concupiscencia o pecado, y no oramos a Dios, Él no viene a meterse en
  el asunto. Si sólo de boca para afuera oramos para que nos libre de un pecado que nos agrada, Él se ve como si
  dijéramos "maniatado" por su anterior disposición sobre nuestro libre albedrío. Pero si con todo el corazón le pedimos
  que nos ayude, le damos el "derecho" de intervenir en nuestros asuntos, y es entonces cuando tienen lugar esos
  extraordinarios cambios de nuestra actitud y comportamiento.</p>
<p> Por eso es que a pesar de que sabemos que Dios sabe lo que necesitamos, debemos orar. Orar no es enterar a Dios de
  algo que Él desconocía; si no darle oportunidad de entrar en un terreno que por divinas disposiciones previas, Él
  mismo se había vedado.</p>
<p> Por eso se aconseja: "Orad sin cesar", (I Tes 5:17). Por eso el mismo Jesús nos enseña a orar en términos generales
  con el Padre Nuestro. Por eso ese pasaje Jesús lo dedicó a enseñarnos sobre la oración. Yo testifico que la oración
  puede hacer lo que no puede ni la energía ni el planeamiento ni la férrea voluntad ni el valor ni la firmeza de
  carácter ni la astucia ni la inteligencia ni la experiencia ni todo lo que puedan ustedes poner en la consecución de
  un empeño. Ahora bien, no se agarren de esa verdad los vagos, los descarados, los negligentes y los "vive bien", para
  descargar de sus hombros sus responsabilidades y tareas con el pretexto de que ya tienen el asunto en oración. Uno
  tiene que hacer lo que corresponde. El pan nuestro se pide en oración, pero trabajamos para ganarlo.</p>
<p> El que sustituye el esfuerzo normal que le corresponde, por el pretexto de la oración, sólo creeré que es sincero y
  honesto si veo que a la hora de comer en vez de pedir a otros o tratar de inspirar lástima para que le den, reza el
  Padre Nuestro, (danos nuestro pan cotidiano) y se sienta también a esperar sin hacer su parte. Lo creeré sincero si
  cuando desea una ropa lujosa o un buen auto, solamente ora y se sienta a esperar que aparezca.</p>
<p><strong>También hay quien piensa que cuando él pida algo de Dios, lo va a recibir en la forma más dramática y
  vanidosa que haya.</strong> No es así<strong>,</strong> la metodología divina no es igual a la
  humana<strong>.</strong> Veamos el caso del sirio Naamán<strong>,</strong> general leproso<strong>,</strong> que creía
  que Dios le iba a responder a su manera<strong>,</strong> y por poco no alcanza lo que imploraba<strong>.</strong></p>
<p> Muchas veces los creyentes procedemos con Dios igual que este general sirio procedió con Eliseo. El profeta le dio
  al leproso todo lo necesario para curarse; pero por poco no se cura, porque Eliseo no siguió el método que el general
  creía que debía seguir.</p>
<p> Igualmente muchos creyentes pedimos cosas a Dios, las cuales esperamos que Él haga en forma dramática y anonadante,
  en la forma que nosotros creemos que debía sernos dadas. Luego, cuando obtenemos la misma meta que deseábamos, pero en
  forma que se nos antoja natural y humilde, nos parece que Dios no nos ha escuchado. Sí nos escuchó; lo que pasa es que
  no quiso estimular nuestra vanidad haciendo portentos teatralescos, cuando podía ayudarnos perfectamente por medios
  que a los demás les lucirían naturales.</p>
<p> Igualmente muchos creyentes piden a Dios saber la verdad en religión, pero cuando Dios les envía hermanos que
  discuten con ellos sus erradas doctrinas, se sienten defraudados como Naamán y piensan: yo creía que Dios dejaría Su
  Trono en el Cielo y aparecería delante de mí para decirme cuál es la verdadera doctrina.</p>
<p></p>
<p></p>
<p>"9 <i>Y vino Naamán con sus caballos y con su carro</i><i>,</i> <i>y se paró a las puertas de la casa de
  Eliseo</i><i>.</i> 10 <i>Entonces</i> <i>Eliseo le envió un mensajero</i><i>,</i> <i>diciendo</i><i>:</i> <i>Ve, y
  lávate siete veces en el Jordán, y tu carne se te restaurará, y serás limpio.</i> 11 <i>Y Naamán se fue enojado</i><i>,</i>
  <i>diciendo</i><i>:</i> <i>He aquí yo decía para mí: Saldrá él luego, y estando en pie invocará el nombre de Jehová su
    Dios, y alzará su mano, y tocará el lugar, y sanará la lepra</i><i>.</i> 12 <i>Abana y Farfar</i><i>,</i> <i>ríos de
    Damasco</i><i>,</i> <i>¿</i><i>no son mejores que todas las aguas de Israel</i><i>?</i> <i>Si me lavare en ellos</i><i>,</i>
  <i>¿</i><i>no seré también limpio</i><i>?</i> <i>Y se volvió</i><i>,</i> <i>y se fue enojado</i>." (II R 5:9:12)</p>
<p></p>
<p> Al fin sus siervos le hicieron razonar que si el profeta le hubiera pedido que hiciera algo
  difícil<strong>,</strong> teatral<strong>,</strong> dramático<strong>,</strong> seguramente lo hubiera
  hecho<strong>.</strong> Por lo tanto<strong>,</strong> si le había pedido una cosa tan sencilla como zambullirse siete
  veces en el río Jordán<strong>,</strong> <strong>¿</strong>por qué no hacerlo<strong>?</strong> El general depuso su
  actitud<strong>,</strong> hizo aquella aparentemente tonta cosa que le había mandado el profeta<strong>,</strong> y
  quedó sano de su lepra<strong>.</strong> Si no hubiera aceptado las disposiciones del profeta de
  Dios<strong>,</strong> hubiera perdido la bendición que le estaba reservada<strong>.</strong></p>
<p> Otro tanto nos puede suceder a nosotros<strong>,</strong> si cuando oramos<strong>,</strong> pensamos que la
  respuesta de Dios solamente debe venir en forma dramática<strong>,</strong> anonadante<strong>,</strong>
  teatralesca<strong>.</strong> Vale la pena aquí repetir el párrafo precedente<strong>:</strong> <strong>"Igualmente
    muchos creyentes piden a Dios saber la verdad en religión, pero cuando Dios les envía hermanos que discuten con
    ellos sus erradas doctrinas, se sienten defraudados como Naamán y piensan: yo creía que Dios dejaría Su Trono en el
    Cielo y aparecería delante de mí para decirme cuál es la verdadera doctrina,"</strong></p>
<p><strong>Busquemos la santidad, sin la cual nadie verá al Señor.</strong></p>
<p></p>
<p><a href="NotasBiblicas.html">Volver al índice</a></p>
</body>
</html>