<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>La Creación duró ¿siete días o siete eras?</title>
</head>
<body>
<p><strong>¿Duró la creación 7 días o 7 edades?</strong></p>
<p> Algunos creyentes influidos, tristemente, por las infundadas hipótesis "científicas" sobre el origen del mundo y el
    humano, aseguran que cuando en Génesis dice que la creación fue hecha en siete días, se refiere a siete edades o
    períodos de a 7,000 años cada uno, no a siete días de 24 horas.</p>
<p> Comprendo que entre los antiteistas que son científicos, se origine una hipótesis cualquiera que niegue a Dios,
    porque al fin y al cabo, para hipotetizar no hay que presentar ninguna prueba científica. Lo que no veo es cual sea
    la lógica que use uno que crea la Biblia, para asegurar tal cosa. Si se tratara de una hipótesis personal, lo
    comprendería, cualquiera puede hipotetizar sin presentar pruebas bíblicas. Lo que no puede hacerse es esgrimir tal
    hipótesis y decir que la sacan de la Biblia.</p>
<p><strong>Los días de la creación no pueden ser "eras" de 7,000 años como dice esta gente, porque según la Biblia, la
    vegetación fue creada el tercer día mientras que el sol fue creado el día cuarto.</strong> Si estos días fueran
    "eras" de a 7,000 años, tendríamos que admitir que la lujuriante vegetación de aquella época, resistió 7,000 años
    sin un rayo de sol, lo cual es ilógico y totalmente absurdo.</p>
<p> Encima de eso, que ya es bastante, es lógico pensar que <strong>si Dios estableció un día de descanso de a 24 horas,
    es porque los otros días de trabajo fueron de 24 horas</strong>. Si dice que Dios descansó el séptimo día y lo
    bendijo, y desde entonces se guarda un sábado de 24 horas, no hay que hacer un ciclópeo esfuerzo mental para
    comprender que el día bendito era igual a los demás en duración. Además, no es nada razonable que Dios trabajara 42,
    000 años (6 "eras" de a 7, 000 años) y luego descansara sólo 24 horas.</p>
<p> Otros más tercos quieren hacer ver que el descanso de que aquí habla duró también 7,000 años. Otro absurdo, porque
    Adam fue expulsado del Paraíso <strong>después</strong> del tal descanso. Si fuéramos a creer que el día de descanso
    de Dios fue de 7,000 años tendríamos que admitir que Adam vivió más de 7, 000 años y no 930 como dice la Biblia.
    Como vemos, cada vez que inventan una mentira y tratan de probarla se hunden más en el cieno.</p>
<p> Las hipótesis en cuestión están muy malamente llamadas científicas, porque la verdadera ciencia sólo cree lo que
    puede ser probado, y nada de esto ha podido ser probado por estos que se llaman científicos, a pesar de que no
    hablan con pruebas. Estas cosas son meras hipótesis, fantasías sin base demostrable alguna, a las que se les ha
    colgado a la fuerza y a contrapelo de la ciencia, el calificativo de "científicas".</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>