---
import Layout from "../layout/Layout.astro";
---

<Layout title="Sin is our fault, not the fault of the environment, predestination, ignorance or Satan">
    <section>
<p><strong>Sin is our fault, not the fault of the environment, predestination, ignorance or Satan</strong></p>
<p><strong>God does not wish to send us malady, nor allow it.</strong> God does not wish to distress his
    creatures<strong>;</strong> if he allows it<strong>,</strong> it is so that they learn something or as a consequence
    of some wrongdoing<strong>.</strong> If God does not wish to send us malaise or distress<strong>,</strong> but these
    descend upon us<strong>,</strong> it is because sin is a human being's doing<strong>.</strong> Distress can be as
    natural as a consequence of an act previously committed by us<strong>,</strong> either as
    individuals<strong>,</strong> as a society or as a nation<strong>.</strong></p>
<p></p>
<p><strong>"</strong>31 <i>For the Lord will not cast off for ever<strong>.</strong></i> 32 <i>But though he cause grief<strong>,</strong>
    yet will he have compassion according to the multitude of his mercies<strong>.</strong></i> 33 <strong><i>For he
    doth not afflict willingly nor grieve the children of men</i>."</strong> (Lamentations 3<strong>:</strong>31-33)</p>
<p><strong>Things that happen to man are not always as a result of his action.</strong> Sometimes it may be as a
    consequence of someone else's actions<strong>,</strong> as in the case in which a child inherits a venereal disease
    from its parents<strong>.</strong> We have to understand that <strong>what a child inherits is only while in the
        flesh and he only suffers from it in this lifetime.</strong> He may follow God<strong>,</strong> be saved
    because of Christ<strong>,</strong> and live eternally without the inconvenient malady he inherited from his parents<strong>,</strong>
    because he will inherit a new body upon his resurrection<strong>.</strong></p>
<p><strong>We can say the same about the sin of society, like pornography,</strong> whereby children suffer the
    consequences as well as women who do not participate in that sin<strong>.</strong> <strong>Another case may be the
        punishment of a nation for allowing abortion.</strong> That nation may pay for their sin in the form of
    war<strong>,</strong> although many might have opposed abortion<strong>,</strong> they will suffer the consequences
    of war<strong>.</strong></p>
<p> God does not want to cause man any pain<strong>,</strong> but if they transgress God's laws<strong>,</strong> the
    natural process which follows the lack of obedience is suffered by the entire nation and all of
    society<strong>.</strong> Nevertheless<strong>,</strong> <strong>I say, in almost all cases, when a person suffers
        some form of malady or anguish, it is motivated by a personal act.</strong> At least this has been my personal
    experience<strong>.</strong></p>
<p><strong>There are many who wish to blame their sinful tendency and sin to their ancestors.</strong> They claim that
    because Adam and Eve sinned<strong>,</strong> they have inherited a sinful nature<strong>.</strong> This is what
    they refer to as <strong>"</strong>original sin<strong>".</strong> This is false<strong>.</strong> We explain it in
    article number 31 of this same website<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    