---
import Layout from "../layout/Layout.astro";
---

<Layout title="Sodoma se halla en el fondo del Mar Muerto">
    <section>
<p><strong>Sodoma se halla en el fondo del Mar Muerto</strong></p>
<p> En Gn 14:1-2 nos dice que hubo una confederación de reyes que iban a pelear contra la coalición de Sodoma, Gomorra,
    Adma y Seboim. En el siguiente versículo, el tres, nos dice que los reyes atacantes se juntaron <strong>en el valle
        de Siddim, y que este valle de Sídím es el Mar Salado</strong>. Al decirnos que el valle de Siddim es el Mar
    Salado, (Mar Muerto) nos está haciendo ver que lo que en aquel momento de la guerra era el valle de Siddim, ahora,
    cuando escribían esta historia, era el Mar Salado o Mar Muerto.</p>
<p></p>
<p> "1 <i>Y aconteció en los días de Amraphel, rey de Shinar, Arioch, rey de Elazar, Chedorlaomer, rey de Elá, y Tidal,
    rey de naciones,</i> 2 <i>que éstos hicieron guerra contra Bera, rey de Sodoma, y contra Birsha, rey de Gomorra, y
    contra Shinab, rey de Adma, y contra Shemeber, rey de Zeboim, y contra el rey de Bela, la cual es Zoar.</i> 3 <i>Todos
    estos se juntaron <strong>en el Valle de Siddim, que es el mar salado</strong></i><strong>.</strong>" (Gn 14:3)</p>
<p> Por lo tanto, si efectivamente, lo que antes era el valle de Siddim ahora es el Mar Muerto, se da uno cuenta de que
    las ciudades de Sodoma, Gomorra, Adma y Zeboim, que estaban en el valle de Siddim están ahora sepultadas en el fondo
    del Mar Muerto.</p>
<p> Otro detalle que confirma lo que digo, es el hecho de que <strong>el Valle de Siddim no vuelve a mencionarse en la
    Biblia después de la quema de Sodoma y su comarca</strong>. Se ve que después de ello jamás volvió a ser un valle.
</p>
<p> A lo que hoy nosotros le llamamos Mar Muerto, en Josué 3:16 se le llama Mar Salado. Lo prueba el hecho de que se
    está hablando del paso del Jordán por los israelitas a la altura de Jericó, ciudad que se halla a menos de 20 Kms al
    norte del Mar Muerto. Si vemos el mapa, nos daremos cuenta de que el único "mar" a donde podían ir a parar las aguas
    del Jordán que pasaran por Jericó, era el Mar Muerto, y que, por lo tanto, lo que ellos llaman aquí <strong>el Mar
        Salado no puede ser otro que el Mar Muerto.</strong></p>
<p></p>
<p> "<i>Las aguas que venían de arriba, se pararon como en un montón bien lejos de la ciudad de Adam, que está al lado
    de Sarethán; <strong>y las que descendían a la Mar de los Llanos, al Mar Salado</strong>, se acabaron y fueron
    partidas; y el pueblo pasó en derecho de Jericó</i>." (Jos 3:16)</p>
<p> Otra prueba de que el Mar Salado es lo que hoy llamamos el Mar Muerto es que en Nm 34:3, hablando del Mar Salado, lo
    ponen "hacia el oriente", mientras que hablando del Mar Mediterráneo o Gran Mar, (versículo 6) lo ponen hacia el
    occidente</p>
<p></p>
<p> "3 <i>Tendréis el lado del mediodía desde el desierto de Zin hasta los términos de Edom; y os será el término del
    mediodía al extremo del <strong>Mar Salado hacia el oriente</strong>.</i> 4 <i>Y este término os irá rodeando desde
    el mediodía hasta la subida de Acrabbim, y pasará hasta Zin; y sus salidas serán del mediodía á Cades-barnea; y
    saldrá á Hasar-addar, y pasará hasta Asmón;</i> 5 <i>y rodeará este término, desde Asmón hasta el torrente de
    Egipto, <strong>y sus remates serán al occidente.</strong></i> 6 <i>Y <strong>el término occidental os será la Gran
    Mar</strong>; este término os será e<strong>l término occidental</strong></i>". (Nm 34:3-6)</p>
<p><strong>Habiendo comprobado que el Mar Salado es el Mar Muerto</strong>, y habiendo visto que en Gn 14:3 se dice que
    <strong>el Valle de Sídím es el Mar Salado</strong>, es fácil llegar a la conclusión de que <strong>lo que antes
        eran las cuatro ciudades homosexuales, están cubiertas por el Mar Muerto</strong>.</p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    