
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Sodom located in the depths of the Dead Sea</title>
</head>
<body>
<p><strong>Sodom is located in the depths of the Dead Sea</strong></p>
<p> Genesis 14:1-2 tells us about the confederation of kings who were going to war against the coalition of Sodom,
    Gomorrah, Admah, and Zeboiim. The next verse (14:3) tells us that those infuriating kings met in <strong>the valley
        of Siddim, which is the Salt Sea</strong>." By telling us the valley of Siddim is the Salt Sea, we know that at
    the time the war was taking place, it was known as the valley of Siddim, however, when this piece of history was
    written, it was known as the Salt Sea or Dead Sea.</p>
<p></p>
<p> "1 <i>And it came to pass in the days of Amraphel king of Shinar, Arioch king of Ellasar, Chedorlaomer king of Elam,
    and Tidal king of nations;</i> 2 <i>that these made war with Bera king of Sodom, and with Birsha king of Gomorrah,
    Shinab king of Admah, and Shemeber king of Zeboiim, and the king of Bela, which is Zoar.</i> 3 <i>All these were
    joined together in <strong>the vale of Siddim, which is the Salt Sea</strong></i>." (Gn 14:1-3)</p>
<p> Therefore, if the valley of Siddim truly is the Salt Sea, then we can conclude that the cities of Sodom, Gomorrah,
    Admah, and Zeboiim, which were once located in the valley of Siddim, are now buried in the depths of the Salt
    Sea.</p>
<p> Another reason to take into consideration is the fact that the valley of Siddim is no longer mentioned in the Bible
    after the burning of Sodom and its surrounding areas. After this, it was no longer recognized as a valley.</p>
<p> Today what we know as the Dead Sea, in Joshua 3:16, is known as the Salt Sea. This is proven by the fact that the
    Israelites crossed the Jordan at a same height of Jericho, a city that is found less than 20 kms north of the Dead
    Sea. If we look at a map of the region, we will see that the only "sea" the Jordan could empty its waters in was the
    Dead Sea. Therefore, as you can see, what they call <strong>the Salt Sea could be no other than the Dead
        Sea.</strong></p>
<p></p>
<p> "<i>That the waters which came down from above stood and rose up upon an heap very far from the city Adam, that is
    beside Zaretan; and those that came down toward the <strong>Sea of the Plain</strong>, even <strong>the Salt
        Sea</strong>, failed, and were cut off; and the people passed over right against Jericho</i>." ( Jos 3:16)</p>
<p> Another piece of evidence, which proves that the Salt Sea is what we know as the Dead Sea today, is found in Nm
    34:3. In this verse, the Salt Sea is in the east while the Mediterranean Sea or Great Sea (34:6) is in the west.</p>
<p></p>
<p> "3 <i>Then your south quarter shall be from the wilderness of Zin along by the coast of Edom, and your south border
    shall be the outmost coast of <strong>the Salt Sea eastward</strong>;</i> 4 <i>and your border shall turn from the
    south to the ascent of Akrabbim, and pass on to Zin; and the going forth thereof shall be from the south to
    Kadeshbarnea, and shall go on to Hazaraddar, and pass on to Azmon.</i> 5 <i>And the border shall fetch a compass
    from Azmon unto the river of Egypt, and the goings out of it shall be at the sea.</i> 6 <i>And <strong>as for the
    western border</strong>, ye shall even have <strong>the Great Sea</strong> for a border; this shall be your <strong>west
    border</strong></i>." (Nm 34:3-6)</p>
<p><strong>After proving that the Salt Sea is the Dead Sea</strong>, and having seen Gn 14:3 which states that <strong>the
    valley of Siddim is the Salt Sea</strong>, it is easy to conclude that what once was the four homosexual cities in
    the Bible, are now submerged in the depths of the Dead Sea.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>