<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Discussion is like the light, it only bothers those who prefer darkness</title>
</head>
<body>
<p><strong>Discussion is like the light, it only bothers those who prefer darkness</strong></p>
<p><strong>We need to be certain of what we believe in regards to keeping or losing our salvation. There are two
    extremes in regards to losing or maintaining our salvation.</strong> Some believe that we can lose it for
    anything<strong>;</strong> others think that we will never lose it regardless of the sin<strong>.</strong> Both are
    wrong<strong>.</strong> He<strong>,</strong> who paid such a high price for our salvation<strong>,</strong> is not
    going to take it away for just any sin<strong>.</strong> <strong>But He is not going to allow himself to be stepped
        upon by those who love their sin more than their Lord,</strong> and insist on living in sin<strong>,</strong>
    while they <strong>"</strong>soothe<strong>"</strong> their conscience forcing themselves to believe that salvation
    cannot be lost<strong>.</strong></p>
<p> In many occasions I have witnessed two friends arguing an important issue<strong>,</strong> without realizing they
    both share the same opinion<strong>,</strong> until a third one comes and helps them see it<strong>.</strong> This
    is because neither is certain of what they believe<strong>,</strong> they have not nailed down their belief
    system<strong>.</strong> <strong>Therefore let's keep our concepts clear.</strong></p>
<p> Some times our concepts are not clear in our own mind<strong>,</strong> because we have never
    answered<strong>,</strong> categorically<strong>,</strong> the questions that come up<strong>.</strong> <strong>Normally
        we have in our minds some preconceived words or phrases with which we try to express an unclear
        concept.</strong> This concept<strong>,</strong> although not completely established<strong>,</strong> we want
    others to understand and accept without proper definition and proof<strong>.</strong></p>
<p><strong>What are the main affirmations of those who believe the doctrine that once saved, always saved?</strong>
    There are several variants of this doctrine<strong>,</strong> but they are all wrong<strong>.</strong> <strong>There
        are those who think</strong> that the human being does not have free will<strong>,</strong> that he never wanted
    to be saved<strong>,</strong> but God forced some to be saved while leaving others abandoned to their horrible
    destiny<strong>.</strong></p>
<p><strong>Others think</strong> that the human being does have free will<strong>,</strong> but once he becomes a
    Christian loses it<strong>,</strong> therefore he can't lose that salvation<strong>.</strong> It is something like a
    fish<strong>,</strong> that once it bites the hook<strong>,</strong> can't get lose even though it fervently wants
    to<strong>.</strong></p>
<p><strong> Others believe</strong> the human being has free will before and after conversion<strong>,</strong> but God
    doesn't allow salvation for those that will later walk away<strong>,</strong> thus once a person is
    saved<strong>,</strong> will always be saved regardless of how much he sins or how much he will disobey
    God<strong>.</strong></p>
<p><strong>The main affirmation of this doctrine is that he who walks away, who abandons the faith, is because he never
    had it.</strong> That is false<strong>,</strong> and I will prove it in the present article<strong>.</strong></p>
<p><strong>None of the variants of this doctrine can show any Bible passage that will clearly say so.</strong> It can't
    even show a passage that will imply such thing<strong>.</strong> However<strong>,</strong> I can show many passages
    that will clearly and emphatically say the opposite<strong>:</strong> <strong>that once saved, a person can walk
        away and lose salvation.</strong></p>
<p> God does not force his creatures to love Him if they do not desire to do so<strong>.</strong> God does not force
    anyone to be with Him if he does not desire to do so<strong>.</strong> That <strong>"</strong>forced
    salvation<strong>"</strong> that sadly is so frequently preached<strong>,</strong> <strong>isn't useful but to
        artificially tame the conscience,</strong> of he who<strong>,</strong> having become a
    Christian<strong>,</strong> loves his sin more than Jesus Christ and wants to continue living in
    it<strong>,</strong> without loosing salvation<strong>.</strong></p>
<p> Throughout Scripture you will not see any reference to once saved always saved<strong>,</strong> regardless of
    constantly sinning <strong>without repentance;</strong> however<strong>,</strong> you will see many occasions in
    which it is mentioned that one who is saved can lose his salvation<strong>,</strong> if he sins <strong>and does not
        want to repent from his sin.</strong></p>
<p> The Lord said<strong>:</strong> <strong>"</strong>For out of the abundance of the heart the mouth
    speaketh<strong>".</strong> If the Bible writers did not have in their hearts the knowledge that salvation could be
    lost<strong>,</strong> they would not have said such things<strong>,</strong> as we see men like
    Peter<strong>,</strong> Paul<strong>,</strong> James<strong>,</strong> John<strong>,</strong>
    Moses<strong>,</strong> Isaiah<strong>,</strong> Ezekiel<strong>,</strong> and others talk<strong>.</strong></p>
<p><strong>In summary, what this article says and its thesis affirms</strong> is that a Christian can lose his salvation
    if he decides to walk away from the Lord<strong>,</strong> and does not like the clean lifestyle that the Lord
    expects<strong>.</strong> In other words<strong>,</strong> if the evil <strong>"</strong>joys<strong>"</strong> of
    sin are more attractive to him than the love of Jesus Christ<strong>,</strong> that person can little by little lose
    his way to the point of extreme hardening of heart and contempt for the divine<strong>,</strong> with no way
    back<strong>.</strong></p>
<p><strong>I would like those who believe that once saved always saved, would show me at least three clear
    passages</strong> that say that a person who has been saved can do and undo<strong>,</strong> sin and sin and
    sin<strong>,</strong> and keep his salvation<strong>,</strong> and not lose it no matter how much he sinned without
    repentance<strong>.</strong></p>
<p><strong>Let's see some Bible writers' opinions on that heresy that claims that once saved, always saved. The Holy
    Sprit says clearly that it is possible to fall from grace.</strong> Those who follow the doctrines of Dutch Catholic
    Bishop Cornelius Jansen and French reformer John Calvin<strong>,</strong> insist that a person who comes to
    Christ<strong>,</strong> and is therefore in the faith<strong>,</strong> cannot later abandon the faith and be
    lost<strong>.</strong> However<strong>,</strong> in the next verse<strong>,</strong> the Holy Spirit says something
    totally different<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Now <strong>the Spirit speaketh expressly,</strong> that in the latter times <strong>some shall
    depart from the faith,</strong> giving heed to seducing spirits<strong>,</strong> and doctrines of
    devils</i><strong>."</strong> (I Tim 4<strong>:</strong>1)</p>
<p> As we see in this verse<strong>,</strong> <strong>The Holy Spirit, personally, indicates that some will depart from
    the faith.</strong> In order to depart from the faith<strong>,</strong> one must first be in the
    faith<strong>.</strong> Nobody can abandon a house in which he has not been<strong>.</strong> Nobody can fall from a
    ladder on which he has never climbed<strong>.</strong> And nobody can abandon a faith in which he has never
    been<strong>.</strong> Thus<strong>,</strong> it is evident that the Holy Spirit is saying that those who were in
    the grace can fall from it<strong>,</strong> and can abandon the faith<strong>.</strong></p>
<p> Well then<strong>,</strong> by the Holy Spirit's affirmation that some will abandon the faith<strong>,</strong>
    makes us see clearly and definitely that the Christian<strong>,</strong> the human being that is in the
    faith<strong>,</strong> the human being that is saved<strong>,</strong> can abandon the faith<strong>,</strong> and
    therefore<strong>,</strong> not be saved anymore<strong>.</strong> This shows that the hypothesis of
    <strong>"</strong>once saved always saved<strong>"</strong> is one more heresy in which Christianity has
    fallen<strong>.</strong> <strong>If the Holy Spirit personally says that some will abandon the faith, who are Jansen
        and Calvin to deny it?</strong> No one can abandon a faith in which he has never been<strong>,</strong> no one
    can fall from a ladder on which he has never climbed<strong>,</strong> or abandon a house in which he has never been
    in<strong>.</strong> Therefore<strong>,</strong> to say that the one who fall from the faith never was in the
    faith<strong>,</strong> is false<strong>.</strong> In the next article I will mention more biblical passages that
    demonstrate the error of this heresy that say Once Saved Always Saved<strong>,</strong> even if there is no
    repentance<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the Index</a></strong></p>
</body>
</html>