---
import Layout from "../layout/Layout.astro";
---

<Layout title="Daniel 7-Spanish Version of the Book">
    <section>
        <table>
            <tr>
                <td>
                    <a href="img_menu.nvm.html"><img alt="img_menu" height="124" src="images/img_menu.jpg" width="152"></a>
                </td>
                <td rowspan="3"><img alt="img2" height="849" src="images/img2.gif" width="5"></td>
                <td>
                    <img alt="img4" height="5" src="images/img4.gif" width="387">
                    <p>Daniel 7</p>
                    <p>Spanish Version</p>
                    <p><img alt="img4" height="5" src="images/img4.gif" width="387"></p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <p><a href="CuatroUltimasPotenciasMundiales.pdf">Apriete aqui para leer el libro</a></p>
                </td>
                <td>
                    <table>
                        <tr>
                            <td colspan="3">
                                Querido hermano:
                                <p> Este libro me ha sido de mucha ayuda para comprender la profecía de Daniel 7, saber
                                    en qué
                                    etapa de los planes de Dios nos hallamos en estos momentos, y enseñarlo a otros. El
                                    autor,
                                    amigo mío, a quien el Señor usó en mi conversión, me envió el manuscrito para que le
                                    diera
                                    mi opinión, y tan útil lo vi, que se lo presenté a la Iglesia y decidimos
                                    encargarnos de su
                                    distribución a nuestros hermanos en forma gratuita. Le ruego que lo lea con atención
                                    dada la
                                    importancia y urgencia de su contenido, y que lo comparta con otros hermanos. Si
                                    tuviere
                                    otros pastores amigos, especialmente fuera de los Estados Unidos, que se pudieran
                                    beneficiar
                                    de este libro, no dude en darles esta dirección en la Internet o enviarme sus
                                    nombres y
                                    direcciones, a fin de enviarles un libro gratuitamente. Este es un material de
                                    primera clase
                                    para una campaña de avivamiento, a fin de atraer inconversos a la iglesia, dándoles
                                    un
                                    honesto y real entendimiento de la profecía y un claro cuadro del futuro cercano,
                                    incluyendo
                                    el año 2,000. Este es un asunto siempre atractivo para el público en general, y la
                                    iglesia
                                    puede con ello beneficiar espiritualmente a muchos. Se pueden hacer diapositivas (o
                                    fotocopias) de los 35 cuadros del libro, así como de los versículos pertinentes,
                                    para ser
                                    proyectados durante la campaña. A sugerencia mía se hizo una guía de estudio la cual
                                    se
                                    incluye. Si alguna sugerencia o comentario tuviere usted, por favor, no dude en
                                    ponerse en
                                    contacto conmigo en alguna de las siguientes direcciones:</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Ramon Aleman</td>
                            <td>
                                P.O. Box 235, Hennessey, OK 73742 Teléfono 1- 405- 853- 2420 Fax 1- 405- 853- 2411 E
                                Mail: <a
                                    href="mailto:ramonaleman@yahoo.com">ramonaleman@yahoo.com</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Deseándole bendiciones de Nuestro Señor, queda de usted</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Ramon Aleman Catalytic Missionary of North American Mission Board S.B.C. U.S.A.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </section>
</Layout>
    