---
import Layout from "../layout/Layout.astro";
---

<Layout title="La Táctica de la Serpiente en el Edén y en la actualidad es la misma">
    <section>
<p><strong>La táctica de la serpiente en el Edén y en la actualidad es la misma</strong></p>
<p> La serpiente en el Edén dijo que lo que Dios decía que no se podía comer<strong>,</strong> en realidad sí se podía
    comer<strong>.</strong> Hoy en día la serpiente vuelve a decir que lo que Dios dijo que no se puede
    comer<strong>,</strong> en realidad sí se puede comer<strong>.</strong> La táctica satánica es la
    misma<strong>,</strong> porque le da resultado<strong>,</strong> <strong>¿</strong>para qué
    cambiarla<strong>?</strong> Hoy la serpiente le dice al oído a muchos<strong>,</strong> que Pablo
    dijo<strong>,</strong> que lo que Dios indicó que no se debía comer<strong>,</strong> en realidad<strong>,</strong>
    sí se puede comer<strong>. La historia se repite, la técnica no cambia; ¿para qué cambiarla si les da
        resultado?</strong></p>
<p> Da la sensación que se ha escuchado un diálogo como el siguiente<strong>:</strong> <strong>"</strong>Conque Dios os
    ha dicho<strong>:</strong> No comáis de ninguna carne<strong>";</strong> y el humano le respondió<strong>:</strong>
    De todos los animales limpios podemos comer<strong>,</strong> como son los rumiantes<strong>,</strong> los peces con
    escamas y aletas<strong>,</strong> las aves limpias<strong>,</strong> etc<strong>.;</strong> mas de los
    animales<strong>,</strong> peces y aves prohibidas<strong>,</strong> no debemos comer<strong>."</strong> La
    serpiente respondió<strong>:</strong> Sabe Dios que el día que comiereis de todo animal prohibido <strong>estaréis
        bajo la gracia y no bajo la ley".</strong> Y por lo tanto<strong>,</strong> millones de cristianos hacen lo que
    la serpiente quiere<strong>:</strong> comer de todo animal prohibido<strong>.</strong></p>
<p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    