---
import Layout from "../layout/Layout.astro";
---

<Layout title="Teomorfismo">
    <section>
        <p><strong>TEOMORFISMO: ¿SE PARECE EL HUMANO A DIOS?</strong></p>
        <p> Son muchos los que acusan a los cristianos de concebir a Dios con forma humana<strong>,</strong>
            prejuiciados por el
            antropomorfismo<strong>,</strong> es decir<strong>,</strong> por la tendencia a asemejar a Dios a la figura
            humana<strong>.</strong> O sea<strong>,</strong> que según ellos<strong>,</strong> nosotros concebimos a
            Dios en
            forma humana<strong>,</strong> reflejando nuestra propia figura<strong>.</strong> Pero es el
            caso<strong>,</strong>
            que en realidad lo que la Biblia nos enseña no es antropomorfismo<strong>,</strong> sino
            teomorfismo<strong>,</strong> pues asemeja al humano con Dios<strong>.</strong> No es que el humano ha
            querido
            concebir a Dios con forma humana<strong>,</strong> sino que Dios nos ha querido hacer con figura
            divina<strong>.</strong></p>
        <p> No es cierto<strong>,</strong> como dicen<strong>,</strong> que el humano tienda a concebir a sus dioses en
            forma
            humana<strong>.</strong> Incluso son muchísimos los casos en que los hombres han concebido a sus dioses de
            las
            formas menos antropomórficas imaginables<strong>.</strong> Basta ver los dioses y diosas de los
            egipcios<strong>,</strong> de los filisteos<strong>,</strong> de los griegos<strong>,</strong> de los
            hindúes<strong>,</strong> de los chinos<strong>,</strong> etc<strong>..</strong> Incluso muchos de
            ellos<strong>,</strong> cuando los concebían con forma humana<strong>,</strong> era una figura
            grotesca<strong>,</strong> como los aztecas<strong>,</strong> los mayas y los dioses de las tribus de la
            Polinesia<strong>.</strong> También los concebían con formas de animales<strong>,</strong> en forma del
            fuego<strong>,</strong> en forma de volcán<strong>,</strong> el sol<strong>,</strong> la
            luna<strong>,</strong> las
            estrellas<strong>,</strong> etc<strong>..</strong></p>
        <p> En este pasaje que más abajo muestro vemos claramente que fue Dios el que nos concibió igual a su
            figura<strong>.</strong> Al hablar Dios en este pasaje parece estarse refiriendo a dos cosas
            diferentes<strong>:</strong> <strong>a) "a nuestra imagen",</strong> (aspecto exterior ) es
            decir<strong>,</strong>
            a la figura que ya tenían Dios<strong>,</strong> Cristo<strong>,</strong> el Espíritu Santo y las demás
            criaturas<strong>,</strong> celestiales<strong>;</strong> y <strong>b) "conforme a nuestra
                semejanza",</strong> (con
            las mismas cualidades mentales y espirituales) es decir que podemos pensar y desear lo que
            queramos<strong>,</strong> porque nos hizo con libre albedrío<strong>.</strong> Por cierto<strong>,</strong>
            que en
            el versículo siguiente (27) se ve que esa semejanza atañía tanto al hombre como a la mujer<strong>.</strong>
        </p>
        <p></p>
        <p><strong>"</strong>26 <i>Y dijo Dios<strong>:</strong> <strong>Hagamos al hombre a nuestra imagen, conforme a
            nuestra
            semejanza;</strong> y señoree en los peces de la mar<strong>,</strong> y en las aves de los
            cielos<strong>,</strong>
            y en las bestias<strong>,</strong> y en toda la Tierra<strong>,</strong> y en todo animal que anda
            arrastrando sobre
            la tierra<strong>.</strong></i> 27 <i>Y <strong>crió Dios al hombre a su imagen, a imagen de Dios lo
            crió;</strong>
            varón y <strong>hembra</strong> los crió<strong>.</strong></i> <strong>"</strong> (Gn 1<strong>:</strong>26-27)
        </p>
        <p> Si cuando Dios dijo <strong>"</strong>…<i>hagamos el hombre a nuestra imagen<strong>,</strong> conforme a
            nuestra
            semejanza</i>…<strong>",</strong> se hubiera referido solamente a lo espiritual y no al aspecto exterior de
            la
            criatura<strong>,</strong> no hubiera usado la palabra <strong>"imagen".</strong></p>
        <p> En Juan 14<strong>:</strong>7-9 se ve que después de haber Cristo dicho<strong>,</strong> refiriéndose al
            Padre<strong>,</strong> <strong>"</strong>… <i>y le habéis <strong>visto</strong></i><strong>",</strong> el
            apóstol
            Felipe<strong>,</strong> <strong>refiriéndose al aspecto exterior de Dios,</strong> le pidió a Cristo
            <strong>"</strong>…<strong>muéstranos</strong> <i>el Padre</i>…<strong>".</strong> O sea<strong>,</strong>
            se nota
            que se estaba hablando del aspecto exterior<strong>,</strong> porque los dos verbos usados (<strong>ver y
                mostrar</strong>) <strong>denotan algo que se percibe con la vista,</strong> no con el
            espíritu<strong>;</strong> no habla del aspecto espiritual<strong>,</strong> sino del aspecto
            exterior<strong>.</strong> Es en ese contexto que Jesús le replica a Felipe que <strong>"</strong><i>El que
                me ha
                <strong>visto</strong> ha <strong>visto</strong> al Padre</i><strong>".</strong> Si Cristo se hubiera
            estado
            refiriendo a lo espiritual<strong>,</strong> hubiera usado solamente el verbo
            <strong>"</strong>conocer<strong>"</strong> o alguno parecido<strong>.</strong> No hubiera usado el verbo
            <strong>"</strong>ver<strong>",</strong> porque los ojos no ven las características
            espirituales<strong>.</strong>
            Sin embargo<strong>,</strong> Jesús usa ambos verbos<strong>,</strong> <strong>conocer</strong> y
            <strong>ver.</strong> No cabe duda de que Dios tiene el mismo aspecto general que tuvo Cristo cuando estuvo
            en la
            Tierra<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>7 <i>Si me conocieseis<strong>,</strong> también a mi Padre conocierais<strong>;</strong> y
            desde
            ahora le conocéis<strong>,</strong> y le habéis visto<strong>.</strong></i> 8 <i>Dícele
            Felipe<strong>:</strong>
            Señor<strong>,</strong> <strong>muéstranos</strong> el Padre<strong>,</strong> y nos basta<strong>.</strong></i>
            9
            <i>Jesús le dice<strong>:</strong> <strong>¿</strong>Tanto tiempo ha que estoy con
                vosotros<strong>,</strong> y no
                me has conocido<strong>,</strong> Felipe<strong>?</strong> El que me ha <strong>visto,</strong> ha
                <strong>visto</strong> al Padre<strong>;</strong> <strong>¿</strong>cómo<strong>,</strong>
                pues<strong>,</strong> dices tú<strong>:</strong> <strong>Muéstranos</strong> el
                Padre</i><strong>?"</strong>
            (Jn 14<strong>:</strong>7-9)</p>
        <p> Además de estos razonamientos<strong>,</strong> tenemos que tener en cuenta también que <strong>en muchas
            visiones
            se ha visto a Dios, aunque no se haya visto su rostro,</strong> como en los casos de
            Moisés<strong>,</strong>
            Miqueas hijo de Imla<strong>,</strong> Isaías<strong>,</strong> Daniel<strong>,</strong> Ezequiel y Juan
            Evangelista<strong>.</strong>
        </p>
        <p> Moisés<strong>,</strong> en Ex 33<strong>:</strong>20-23<strong>,</strong> nos da una clara lección del
            aspecto de
            Dios<strong>.</strong> Hablando Dios con Moisés le dice <strong>"</strong>…<i>no podrás ver <strong>Mi
                rostro,</strong> porque no me verá hombre y vivirá</i><strong>.".</strong> De esta afirmación de Dios se
            puede
            colegir sin violentar el raciocinio<strong>,</strong> que <strong>Dios tiene un rostro,</strong> también
            nosotros lo
            tenemos<strong>.</strong></p>
        <p> Más adelante en el mismo pasaje dice Dios <strong>"</strong>…<strong>te cubriré con mi
            mano</strong>…<strong>",</strong> lo cual nos indica que <strong>Dios tiene manos;</strong> como también
            nosotros
            las tenemos<strong>.</strong> Ya al final del pasaje dice Dios <strong>"</strong>…<i>verás <strong>mis
                espaldas,</strong> más no se verá <strong>mi rostro</strong></i><strong>.",</strong> con lo cual nos
            añade que
            <strong>Dios tiene espalda,</strong> al igual que Él la creó en el ser humano<strong>;</strong> y no sólo
            eso<strong>,</strong> sino que repite que tiene rostro<strong>.</strong> <strong>Si esa es la descripción
                que de Sí
                mismo da Dios,</strong> <strong>¿</strong>qué más necesitamos para saber que Dios <strong>no</strong> es
            un ser
            informe como lo imaginan los que quieren filosofar sobre el tema<strong>,</strong> sino que nosotros tenemos
            una
            forma externa semejante a la que Él tiene<strong>?</strong></p>
        <p></p>
        <p><strong>"</strong>20 <i>Dijo más<strong>:</strong> No podrás ver <strong>mi rostro,</strong> porque no me
            verá hombre<strong>,</strong>
            y vivirá<strong>.</strong></i> 21 <i>Y dijo aún Jehová<strong>:</strong> He aquí lugar junto a
            mí<strong>,</strong>
            y tú estarás sobre la peña<strong>,</strong></i> 22 <i>y será que<strong>,</strong> cuando pasare mi
            gloria<strong>,</strong> yo te pondré en una hendidura de la peña<strong>,</strong> y te cubriré con
            <strong>mi
                mano</strong> hasta que haya pasado<strong>.</strong></i> 23 <i>Después apartaré mi
            mano<strong>,</strong> y
            verás <strong>mis espaldas;</strong> mas no se verá <strong>mi rostro</strong></i><strong>."</strong> (Ex 33<strong>:</strong>20-23)
        </p>
        <p><strong>En el caso del profeta Miqueas hijo de Imla</strong> (diferente del Miqueas autor del libro del mismo
            nombre)
            vemos que también este profeta vio a Dios <strong>sentado</strong> en Su trono (I R 22<strong>:</strong>19 y
            II Cr
            18<strong>:</strong>18)<strong>,</strong> es decir<strong>,</strong> adoptando una posición corporal
            semejante a la
            que Él nos dio a los humanos<strong>.</strong> Incluso en ese mismo pasaje habla de su <strong>diestra y su
                siniestra,</strong> o sea de su mano derecha y su mano izquierda<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Entonces él dijo<strong>:</strong> Oye pues palabra de Jehová<strong>:</strong> Yo vi a
            Jehová
            <strong>sentado en su trono,</strong> y todo el ejército de los cielos estaba junto a él<strong>,</strong> a
            <strong>su diestra y a su siniestra</strong></i><strong>."</strong> (I R 22<strong>:</strong>19)</p>
        <p></p>
        <p></p>
        <p><strong>"</strong><i>Entonces él dijo<strong>:</strong> Oíd pues palabra de Jehová<strong>:</strong> Yo he
            visto a
            Jehová <strong>sentado en su trono,</strong> y todo el ejército de los cielos estaba a su mano <strong>derecha
                y a
                su izquierda</strong></i><strong>."</strong> (II Cr 18<strong>:</strong>18)</p>
        <p><strong>En cuanto a Isaías, vemos en 6:1</strong> que también él<strong>,</strong> al igual que
            Miqueas<strong>,</strong> vio a Dios <strong>sentado</strong> en Su trono<strong>.</strong> <strong>En
                Ezequiel
                1:26-28</strong> leemos que este profeta vio <strong>"</strong>…<i>una semejanza que parecía de
                hombre<strong>,</strong> <strong>sentado</strong></i>…<strong>"</strong> sobre el
            trono<strong>.</strong> O
            sea<strong>,</strong> que nos declara que el ser que él identifica como Dios<strong>,</strong> tenía
            semejanza de un
            ser humano<strong>.</strong> Después vemos que en el 27 nos describe cómo lucía <strong>"</strong>…<i>de sus
                <strong>lomos</strong> para arriba</i>…<strong>"</strong> y <strong>"</strong>…<i>desde sus
                <strong>lomos</strong> para abajo</i>…<strong>",</strong> citándonos de nuevo partes similares a las del
            cuerpo
            humano<strong>,</strong> en este caso los lomos<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong><i>En el año que murió el rey Uzzías <strong>vi yo al Señor sentado sobre un trono</strong>
            alto y
            sublime<strong>,</strong> y sus faldas henchían el Templo</i><strong>"</strong> (Isa 6<strong>:</strong>1)
        </p>
        <p></p>
        <p></p>
        <p><strong>"</strong>26 <i>Y sobre la expansión que había sobre sus cabezas<strong>,</strong> veíase la figura
            de un
            trono y que parecía de piedra de zafiro<strong>;</strong> y <strong>sobre la figura del trono había una
                semejanza
                que parecía de hombre sentado sobre él.</strong></i> 27 <i>Y vi apariencia como de
            ámbar<strong>,</strong> como
            apariencia de fuego dentro de ella en contorno<strong>,</strong> por el aspecto <strong>de sus lomos para
                arriba;</strong> y <strong>desde sus lomos para abajo,</strong> vi que parecía como
            fuego<strong>,</strong> y
            que tenía resplandor alrededor<strong>.</strong></i> 28 <i>Cual parece el arco del cielo que está en las
            nubes el
            día que llueve<strong>,</strong> así era el parecer del resplandor alrededor<strong>.</strong> Esta fue la
            visión de
            la semejanza de la gloria de Jehová<strong>.</strong> Y luego que yo la hube visto<strong>,</strong> caí
            sobre mi
            rostro<strong>,</strong> y oí voz de uno que hablaba</i><strong>."</strong> (Ezq 1<strong>:</strong>26-28)
        </p>
        <p><strong>También Daniel, en su visión de 7:9</strong> nos describe a Dios diciendo que
            <strong>"</strong>…<strong>un
                Anciano de grande edad se sentó</strong>…<strong>",</strong> comparándolo así<strong>,</strong> tanto en
            su forma
            como en su acción<strong>,</strong> a lo que luce y hace un ser humano<strong>.</strong> Más adelante en el
            mismo
            versículo el profeta<strong>,</strong> describiendo a Dios en la forma en que él lo veía menciona <strong>Su
                cabeza
                y Su pelo.</strong></p>
        <p></p>
        <p><strong>"</strong><i>Estuve mirando hasta que fueron puestas sillas<strong>,</strong> y <strong>un Anciano de
            grande
            edad se sentó,</strong> cuyo vestido era blanco como la nieve<strong>,</strong> y <strong>el pelo de su
            cabeza</strong> como lana limpia<strong>;</strong> su silla llama de fuego<strong>,</strong> sus ruedas
            fuego
            ardiente</i><strong>."</strong> (Dn 7<strong>:</strong>9)</p>
        <p><strong>En Ap 4:2-3</strong> Juan describe la visión que de Dios tuvo<strong>,</strong> en la misma forma que
            los
            profetas anteriores<strong>:</strong> menciona un trono<strong>,</strong> dice que había <strong>uno
                sentado,</strong> luego dice <strong>"</strong>…y el que estaba sentado…<strong>",</strong> con lo cual
            nos
            damos cuenta de que no está viendo una nube o algo informe<strong>,</strong> sino alguien semejante a un ser
            humano<strong>.</strong></p>
        <p></p>
        <p><strong>"</strong>2 <i>Y luego yo fui en espíritu<strong>,</strong> y he aquí<strong>,</strong> un trono que
            estaba
            puesto en el Cielo<strong>,</strong> y sobre el trono estaba <strong>uno sentado.</strong></i> 3 <i>Y
            <strong>el que
                estaba sentado,</strong> era al parecer semejante a una piedra de jaspe y de sardio<strong>,</strong> y
            un arco
            celeste había alrededor del trono<strong>,</strong> semejante en el aspecto a la
            esmeralda</i><strong>."</strong> (
            Ap 4<strong>:</strong>2-3)</p>
        <p><strong>Si todos ellos vieron a Dios con el mismo aspecto que tiene cualquier ser humano, es porque así mismo
            es
            Dios.</strong> Hay quienes arguyen que Dios no puede tener forma<strong>,</strong> porque uno de los
            mandamientos es
            que no se hagan imágenes de Dios<strong>.</strong> Eso no es un argumento válido<strong>,</strong> porque
            <strong>tampoco
                Cristo quiere que hagan imágenes de él y sin embargo, eso no quiere decir que Cristo no tuvo
                forma.</strong>
            Igualmente<strong>,</strong> el hecho de que Dios no quiere que se le hagan imágenes no implica que Él no
            tiene
            forma<strong>.</strong></p>
        <p> Otros basan su obstinación en decir que Dios es espíritu<strong>,</strong> y que el espíritu no tiene
            forma<strong>.</strong> <strong>¿</strong>En qué lugar de la Biblia ellos se basan para decir que un
            espíritu no
            tiene forma<strong>?</strong> Los ángeles son espíritu y tienen la misma forma que los
            humanos<strong>.</strong> En
            Job 4<strong>:</strong>16 se menciona un espíritu diciendo que tiene rostro<strong>.</strong> O
            sea<strong>,</strong> que se asemeja a un ser humano<strong>.</strong></p>
        <p><strong>No hay un solo versículo en toda la Biblia que diga que Dios no tiene forma,</strong> pero sí hay
            muchísimos
            que lo describen con la misma forma en que Él nos hizo a nosotros<strong>.</strong> Es lógico que así
            sea<strong>,</strong> para que cuando nos encontremos con Él<strong>,</strong> no nos espantemos de su
            aspecto<strong>,</strong> por cuanto ya estamos acostumbrados a ver seres de esa forma<strong>.</strong></p>
        <p><strong><a href="NotasBiblicas.html">Volver al índice</a></strong></p>

    </section>
</Layout>
    