---
import Layout from "../layout/Layout.astro";
---

<Layout title="The Desire of the nations and the walth of the nations">
    <section>
        <strong>ECUMENICAL TRANSLATIONS OF THE BIBLE: THE DESIRE OF THE NATIONS AND THE WEALTH OF THE NATIONS.</strong>
        <p> This passage of the Old Testament ( Hg 2: 6- 9 ) <strong>proves that Jesus is the long awaited
            Messiah</strong>, who
            was to come to Israel to be sacrificed for the redemption of our sins. For some decades a great number of
            "wise
            linguists" have existed, who disguise themselves as "honest" and "objective" translators of the Bible. Their
            job is
            to change some key words in order to make a Bible that fits Christians, Jews, Muslims, Buddhists, etc. These
            translators and seminar professors say that the word "desire" which has appeared for centuries in our Bibles
            must be
            changed for the word "wealth". Suddenly they have "discovered" that all the translators of centuries past
            were
            ignoramus who did not know Hebrew. According to these modern ecumenical translators, Haggai, instead of
            prophesying
            that <strong>"the desire of the nations"</strong>, the Messiah, Jesus Christ, was going to come to the
            Temple they
            were building, they say that what Haggai was prophesying was that the wealth of the nations was going to
            come to
            that Temple. According to them, this passage instead of saying that the "Desire of Nations" was going to
            come to
            that Temple, it must say that the "wealth of nations" was going to come to that Temple. It is evident that
            they are
            trying to accomplish their task by voiding the passage of its messianic contents. With this change it will
            become an
            adequate passage for Muslims, Jews, Buddhists and any other religion that do not accept Christ as their
            Messiah. The
            saddest thing is that there are many Christian seminar professors and Christian publishing houses that back
            this
            evil effort. Let us read the passage.</p>
        <p> "<i>For thus saith the LORD of hosts: Yet once, it is a little while, and <strong>I will</strong></i>
            <strong> shake
                the heavens, and the earth, and the sea, and the dry land;</strong> <i>and I will</i> <i> shake all
                nations, and
                <strong>the desire of all nations shall come; and I will fill</strong></i> <i><strong> this house with
                glory</strong>, saith the LORD of hosts. The silver is mine, and the</i> <i> gold is mine, saith the
                LORD of hosts.
                <strong>The glory of this latter house shall</strong></i> <i><strong> be greater than of the
                former,</strong> saith
                the LORD of hosts: and in this place</i> <i> will I give peace, saith the LORD of hosts</i>." (Hag 2:
            6-9)</p>
        <p> Even a person who does not know a single word in Hebrew or Greek, <strong>can prove that this modern
            translation is
            wrong. </strong> Anyone can see that <strong>it is an evil attempt to diminish the power of that Messianic
            prophecy</strong>, or at least, in the best scenario, a huge blunder. Let us reason together.</p>
        <p><strong>First.</strong> As we read the passage we can realize that the verb "to come" is properly used
            <strong>only
                if</strong> the phrase "the Desire of nations" refers to Jesus Christ. A person can come to the Temple
            by himself.
            On the contrary, the wealth of the nations <strong>cannot come by itself; it has to be brought</strong>. It
            seems
            that he who altered the word "desire", and changed it for "wealth", forgot to alter the verb "to come". If
            the word
            that existed in Hebrew would be "wealth", the prophet would have used the verb "to bring" not the verb "to
            come".
        </p>
        <p><strong>Second.</strong> Anyone who believes in God knows that <strong>His prophets never erred</strong>. If
            Haggai,
            who lived before the coming of Christ, wrote the phrase <strong>"The Desire of all Nations", referring to
                Christ, he
                was right because Jesus came to that Temple</strong>; and this coming filled that house of glory. But
            <strong>if
                he wrote the word "wealth", then he was miserably wrong, because the prophecy did not happen.</strong>
            The
            wealth of the nations was never brought to that Temple. No real believer would accept that Haggai failed in
            his
            prophecy. Also it is ludicrous to think that <strong>God was going to shake the heavens, and the earth, and
                the sea,
                and the dry land because of the wealth that was going to be brought to that Temple.</strong> It is
            evident that
            the word "wealth" does not match with the context. <strong>It was Rome, the Roman Empire who got the wealth
                of the
                nations during that period of history.</strong> That Temple was destroyed, and the wealth of the nations
            was
            never brought to it. Therefore, if we believe these "experts", these "modern" translators we have reach to
            the
            conclusion that poor prophet Haggai failed, and also He who inspired him. <strong>On the contrary, if we
                believe the
                translators who did their work before the "ecumenism",</strong> those ancient translators that always
            translated
            "the Desire of the Nations", <strong>then the prophecy was fulfilled,</strong> because: <strong>a)</strong>
            the
            Messiah, Jesus Christ, <strong>came</strong> to that Temple; <strong>b)</strong> the <strong>Earth and the
                heavens
                were shaken</strong> with the First Coming of Jesus Christ; <strong>c)</strong> with the coming of
            Christ at the
            Temple that they were constructing in the moment of the prophecy, that Temple was <strong>filled with glory;
                d)</strong> the glory of the Second Temple was greater than that of the first, as Haggai said, <strong>because
                Jesus came to the Second Temple</strong>, and never came to the First Temple, even though it had a lot
            more
            riches. That is why in Hag 2: 8 God says: "The <strong>silver</strong> is mine, and the
            <strong>gold</strong> is
            mine, saith the LORD of hosts"; meaning that if He wanted He could fill this Second Temple of gold and
            silver. But
            God did not want it to be so. The glory of this Temple was going to consist in the fact that Jesus was going
            to come
            to it, not in having more gold than the former one. <strong>With persecutions and massacres Satan never
                could
                destroy Christianity, therefore, he joined it to destroy it from the inside out, little by little,
                eroding
                it.</strong></p>
        <p><strong>Third.</strong> If this passage is translated with the word "Desire" as it always had been, it agrees
            with
            Malachi 3:1 that announces that the Lord was going to come to his Temple. On the contrary, if it is
            translated with
            the word "wealth", it does not agree with any other passage in the Bible, it becomes singular, unconnected.
        </p>
        <p> "<i>Behold, I will send my messenger, and he shall prepare the way before me:</i> <i> and <strong>the Lord,
            whom ye
            seek, shall suddenly come to his Temple,</strong> even the messenger</i> <i> of the covenant, whom ye
            delight in,
            behold, he shall come, saith the LORD of hosts</i>." ( Mal 3:1 )</p>
        <p><strong>Fourth.</strong> The real reason behind this fairy tale that these translators have spread among
            Christians
            <strong>is to weaken a prophecy that points to Jesus.</strong> Sadly many Christians believe this fairy
            tale,
            including the editors of the New American Standard Version and others. This fairy tale says that the Second
            Temple
            was constructed by Herod, or at least, that he worked on it so much, that he made it greater and richer than
            the one
            built by Solomon. They invented this fairy tale to be able to later "demonstrate" that the prophecy <strong>"agrees"
                with an inexistent "reality":</strong> that the wealth of the Second Temple was greater than the First
            One. This
            is not true, let's see why. <strong>Herod was a vassal of Rome, a kinglet of third category that only
                reigned over a
                little section of Palestine,</strong> a kinglet that had to send the wealth of the country to Rome.
            <strong>Therefore,
                it is ludicrous to say that such man could build a Temple wealthier and bigger than Solomon's.</strong>
            Solomon
            was a great king who <strong>reigned over all of Palestine and several nearby nations,</strong> see verse 26<strong>. </strong>
            He also had several other vassal kings bringing him presents, see verse 24. He personally possessed a great
            wealth
            according to the Word of God, see verses 20-22. Silver was as common as stones during his kingdom, see verse
            27.</p>
        <p><i> "</i>20 <i>And <strong>all the drinking vessels of king Solomon were of gold, and all</strong></i>
            <strong> the
                vessels of the house of the forest of Lebanon were of pure gold; none</strong> <strong> were of silver;
                it was not
                any thing accounted of in the days of Solomon.</strong> <i> </i> 21 <i>For the king's ships went to
                Tarshish with
                the servants of Huram;</i> <i> every three years once <strong>came the ships of Tarshish bringing gold,
                and
                silver,</strong></i> <i> ivory, and apes, and peacocks.</i> <i> </i> 22 <i>And <strong>king Solomon
                passed all the
                kings of the earth in riches</strong> and</i> <i> wisdom.</i> 23 <i>And all the kings of the earth
                sought the
                presence of Solomon, to</i> <i> hear his wisdom, that God had put in his heart.</i> 24 <i>And <strong>they
                brought
                every</strong></i> <i><strong> man his present, vessels of silver, and vessels of gold</strong>, and
                raiment,
                harness,</i> <i> and spices, horses, and mules, a rate year by year.</i> 25 <i>And Solomon had four</i>
            <i> thousand
                stalls for horses and chariots, and twelve thousand horsemen; whom</i> <i> he bestowed in the chariot
                cities, and
                with the king at Jerusalem.</i> <i> </i> 26 <i>And <strong>he reigned over all the kings from the river
                even unto
                the land of</strong></i> <i><strong> the Philistines, and to the border of Egypt.</strong> </i> 27 <i>And
                <strong>the
                    king made silver in</strong></i> <strong> Jerusalem as stones</strong><i>, and cedar trees made he
                as the sycomore
                trees that are</i> <i> in the low plains in abundance</i>." ( II Chronicles 9:20-27 )</p>
        <p> Besides Solomon's personal capabilities and wealth, his father David left a large quantity of gold, silver
            and other
            metals for the construction of the First Temple, see I Chronicles 29:1-8.</p>
        <p> "<i>1 Furthermore <strong>David the king said</strong> unto all the congregation, Solomon</i> <i> my son,
            whom alone
            God hath chosen, is yet young and tender, and the</i> <i> work is great: for the palace is not for man, but
            for the
            LORD God. 2 Now</i> <i> <strong>I have prepared with all my might for the house of my God the gold
            for</strong></i>
            <i><strong> things to be made of gold, and the silver for things of silver,</strong> and the brass</i> <i>
                for
                things of brass, the iron for things of iron, and wood for things of wood;</i> <i> <strong>onyx
                stones</strong>,
                and stones to be set, <strong>glistering stones</strong>, and of divers colours,</i> <i> and all manner
                of
                <strong>precious stones</strong>, and marble stones in abundance.</i> <i> 3 Moreover, because I have set
                my
                affection to the house of my God, I have</i> <i> of mine own proper good, of gold and silver, which I
                have given
                to the house</i> <i> of my God, over and above all that I have prepared for the holy house, 4 Even</i>
            <i>
                <strong>three thousand talents of gold</strong>, of the gold of Ophir, and <strong>seven
                thousand</strong></i>
            <i><strong> talents of refined silver,</strong> to overlay the walls of the houses withal: 5 The gold</i>
            <i> for
                things of gold, and the silver for things of silver, and for all manner of</i> <i> work to be made by
                the hands
                of artificers. And who then is willing to</i> <i> consecrate his service this day unto the LORD?</i> <i>
                6
                <strong>Then the chief of the fathers</strong> and princes of the tribes of Israel, and the</i> <i>
                captains of
                thousands and of hundreds, with the rulers of the king's work,</i> <i> <strong>offered
                willingly</strong>, 7 And
                gave for the service of the house of God of gold <strong>five</strong></i> <i><strong> thousand talents
                and ten
                thousand drams, and of silver ten thousand talents</strong>,</i> <i> and of brass eighteen thousand
                talents, and
                one hundred thousand talents</i> <i> of iron. 8 And they <strong>with whom precious stones were found
                gave
                them</strong> to the</i> <i> treasure of the house of the LORD, by the hand of Jehiel the Gershonite</i>."
            ( I
            Chronicles 29:1-8 )</p>
        <p><strong>After knowing all these facts,</strong> can someone try to convince us that Herod, a kinglet vassal
            of Rome,
            that had to send the wealth of the country he ruled to his superiors in Rome, did a better job than Solomon?
            Absurd!
            Ludicrous! Illogical! Why then this "modern" translation. Is it ignorance, stupidity or evil plans?</p>
        <p><strong>Fifth.</strong> In I Chronicles 28: 3 we read that David wanted to build the Temple, but God forbade
            him
            because he was a man of war and shed blood. Even though these bloods were in general shed in just wars, God
            forbade
            him.</p>
        <p> "<i>But God said unto me, Thou shalt not build a house for my name, because thou</i> <i> hast been a man of
            war,
            <strong>and hast shed blood.</strong></i>" ( I Chronicles 28: 3 )</p>
        <p> Could anyone in their right mind think that God forbade a man like David to build His Temple, but rewarded a
            murderer like Herod in letting him build a better temple than Solomon's? Could you believe that a man, who
            murdered
            lots of infants in order to kill the Messiah, was blessed by God with the construction of a better temple
            than the
            one Solomon built? It is like saying that Adolf Hitler was blessed by God bestowing on him the glory of
            building a
            better Temple than Solomon's. Would God base the glory of His Second Temple in the wealth and constructions
            of a
            callous murderer? Was God going to forbid David, who was a prophet and a Hebrew, but remunerate Herod who
            was a
            murderer and was not a Hebrew but an Edomite? <strong>Does this make sense?</strong></p>
        <p><strong>Sixth. </strong> Saint Paul, in the Epistle to the Hebrews says that this prophecy of Haggai, where
            he says
            that heaven and earth would be shaken, refers to Jesus. Therefore, it does not refer to the wealth of the
            nations.
        </p>
        <p> "<i>Whose voice then shook the earth; but now he hath promised, saying, Yet once</i> <i> more <strong>I
            shake not
            the earth only, but also heaven.</strong> And this word, Yet once more,</i> <i> signifieth the removing of
            those
            things that are shaken, as of things that are made,</i> <i> that those things which cannot be shaken may
            remain</i>."
            ( Heb 12: 26-27 )</p>
        <p> Now, according to these modern translators, who are "experts" in the Hebrew language, we have to believe
            that none
            of the ancient translators, who were closer to those times and to those languages, knew a thing. Now we have
            to
            believe that who really know these languages are the ecumenical translators. Sadly there are many brothers
            who have
            been confused by these "experts". A sad example of how the brethren fall in the snare of these translators
            is found
            in the teacher's manual for Sunday Schools, in the lesson for Sunday September 7, 1986, pages 72-73. In the
            lesson
            for that day teachers are told that what was going to enter in the Temple was "the wealth of the nations"
            and not
            "the Desire of all the Nations". According to them, Haggai's prophecy was referring to the wealth of the
            nations.
            <strong>It is sad that the writers of these manuals make such errors. If they just read more of the Bible,
                and read
                less of the "experts" books, and used a little more of their common sense, they could avoid teaching
                their
                brethren an error.</strong> <strong> These horrible mistakes are due to a lack of inspection and
                supervision
                from the editor and production team, and the passive silence of those that lead Christian
                denominations.</strong> In order to hammer in the pieces that don't belong to the puzzle, they allege
            that the
            phrase <strong><i>"I will shake the heavens, and the earth, and the sea, and the dry land"</i> </strong>
            meant the
            political problems during the Persian Empire. But as we have seen in Heb 12: 26-27, Paul himself interpreted
            that
            this shaking was referring to the coming of Christ. Therefore it was not referring <strong>to the political
                problems, that besides could never shake the heavens.</strong></p>
        <p><strong>Seventh. </strong> It is silly to think that the earth was going to be shaken because of the wealth
            of the
            nations being brought to the Temple. <strong>It is absolute foolishness to think that because of the "wealth
                of the
                nations" being brought to the Temple, the heavens would be shaken.</strong> Do these people think that
            those
            that are in heaven care about gold and silver? Therefore, it becomes evident that the phrase "the Desire of
            Nations"
            is the correct translation, not the "wealth of the nations", <strong>because only the coming of Jesus did
                shake even
                the heavens.</strong> Let us read again the passage.</p>
        <p> "<i>For thus saith the LORD of hosts: Yet once, it is a little while, and <strong>I will</strong></i>
            <strong> shake
                the heavens, and the earth, and the sea, and the dry land;</strong> <i>and I will shake</i> <i> all
                nations, and the
                desire of all nations shall come: and I will fill this house</i> <i> with glory, saith the LORD of
                hosts</i>." ( Hag
            2: 6-7 )</p>
        <p> This trick of changing to "the wealth of the nations", instead of "the Desire of Nations", is just a
            concession of
            protestant publishing companies to Islamism, Judaism, Bhudism, etc., for ecumenical and economical motives.
            This
            prophecy of Haggai is an irrefutable one. It stands against the ecumenism, which is why it is necessary for
            them to
            get rid of it. The business of businessmen is to make business. That is why <strong>many "Christian"
                publishing
                companies do not care about the truth of God.</strong> They care about their business because they are
            in
            business, not in the Truth. Another falsehood some are trying to introduce among Christians is to take the
            word
            "virgin" which appears in Isa 7:14, and change it for the word "young lady". For this case see the biblical
            note
            referring to that passage, which will appear in this same website. <strong>Please brethren; don't let anyone
                fool
                you. Be alert. </strong> Don't take as true everything that someone tells you, not even your religious
            leaders,
            or Christian Scholars. The swindlers that can swindle you are those who do not have a swindler's face, but
            those who
            look like decent people. By the same token the religious leaders that can cheat you are those who seem to be
            spiritual and honest. Don't look at the outside of David's older brother, look at the Bible, read it daily,
            continuously and use your common sense.</p>
        <p><a href="biblenotes.html">Back to the index</a></p>

    </section>
</Layout>
    