---
import Layout from "../layout/Layout.astro";
---

<Layout title="The fig tree does not represent Israel">
    <section>
        <p><strong>The fig tree does not represent Israel</strong></p>
        <p> I have heard several times that in the Bible, especially in prophecy, <strong>the fig tree always represents
            Israel</strong>. I don't know what the base is to so categorically affirm such a thing. Sadly, in religion,
            almost
            everyone dogmatically affirms that what they believe is true, <strong>without bothering themselves in giving
                proofs
                or arguments.</strong> Nevertheless, their opinions become dogmas due almost always to the fact that the
            one who
            expresses his opinion is the director of a seminary, an executive in some denomination, or have a position
            of
            prestige or authority; and of course, nobody dares to contradict them. But there is also another very
            important
            factor: <strong>the authors of those hypotheses never permit the debate on their opinions</strong>. They
            simply say,
            just believe it, because I, who know better than you, says so.</p>
        <p><strong>I don't think that Israel is represented in the Bible by the fig tree</strong>; but if some brother
            has a
            biblical argument to back his opinion, and is capable of writing it down logically, I would appreciate very
            much if
            he would send it to me. <strong>I love to learn from others.</strong> Some think that what is written in the
            parable
            of Luke 21: 29-31 applies to Israel. Let's read.</p>
        <p></p>
        <p> "29 <i>And he spake to them a parable: <strong>Behold the fig tree, and all the trees</strong>;</i></p>
        <p><i> </i> 30 <i>when they now shoot forth,</i> <i>ye see and know of your own selves that Summer</i></p>
        <p><i> is now nigh at hand. </i> 31 <i>So likewise ye, when ye see these</i> <i>things come to pass,</i></p>
        <p><i> know ye that the kingdom of God is nigh at hand</i>." ( Luke 21: 29-31 )</p>
        <p></p>
        <p> If we analyze this passage we will notice that Jesus mentions the fig tree <strong>and all the
            trees</strong>, not
            only the fig tree. Therefore the fig tree is just one of them, one of those that tells us that Summer is at
            hand,
            not the only one. Jesus is teaching us that in the same way that we watch for trees to blossom, we must
            watch for
            signs as if they were shoots heralding the Second Coming.</p>
        <p> In verse 30 <strong>the verb is used in plural form. It says "sprout" not "sprouts", therefore Jesus is not
            referring to the fig tree alone,</strong> but in general to all the trees. The phrase <strong>"and all the
            trees"</strong> invalidates the possibility that he is referring to the fig tree as a symbol of Israel.</p>
        <p><strong>In the Bible the fig tree is mentioned more than forty times. In all these cases it can be proved
            that the
            phrase "fig tree" refers to a plant and not to Israel.</strong> Nevertheless there are those who insist to
            say that
            Matthew 21:19 refers to Israel.</p>
        <p></p>
        <p> "19 <i>And when he saw a fig tree in the way, he came to it, and found</i></p>
        <p><i> nothing thereon, but leaves only,</i> <i>and said unto it: <strong>Let no fruit grow on</strong></i></p>
        <p><strong> thee henceforward for ever</strong><i>. And presently the fig tree withered</i> <i>away. </i></p>
        <p><i> </i> 20 <i>And when the disciples saw it, they marvelled, saying: How soon is the</i></p>
        <p><i> fig tree withered</i> <i>away! </i> 21 <i>Jesus answered and said unto them: Verily I say</i></p>
        <p><i> unto you, if ye have faith, and doubt not, ye shall not only do this which is</i></p>
        <p><i> done to the fig tree, but also if ye shall say unto this mountain, Be thou</i> <i> removed, and be thou
            cast into
            the sea; it shall be done. </i> <i>22 And all things,</i></p>
        <p><i> whatsoever ye shall ask in prayer, believing, ye shall receive</i>." </p>
        <p> ( Matt 21:19-22 )</p>
        <p></p>
        <p> Those who think in the aforementioned mistaken way, try to find in this parable a simile of Israel in the
            sense that
            as a nation they did not give fruits, and because of that it was uprooted from history as a nation.
            Nevertheless, a
            person who reads this passage without biased interpretations instilled in our minds by teachers of
            authority, will
            see that <strong>this is not a parable about Israel but a parable about faith and fruits in the
                believers.</strong>
        </p>
        <p> We all know that Israel became a nation again in 1948, but in this parable Jesus says to the fig tree "<i>Let
            no
            fruit grow on thee henceforward <strong>forever</strong></i>". <strong>If in this parable the fig tree was
            representing Israel, then we have to admit that it was mistaken, because Israel became a nation
            again.</strong> It
            is evident that the fig tree is not representing Israel in this case either.</p>
        <p> There are two other passages in which those brothers insist in affirming that the fig tree represents
            Israel, they
            are Matt 24:32 and Mr 13:28. In them both the same episode is narrated, and of course, the same teaching
            that we see
            in the passage of Luke that we are studying is given. The same reasoning and arguments that I wielded at
            that time
            are valid for these two passages. The only difference between these two passages and the passage of Luke is
            that in
            these two the other trees are not mentioned, but in the passage of Luke the other trees are mentioned. It is
            very
            frequent in the Scriptures that in a passage something is partially mentioned; while in another passage more
            details
            are mentioned. Here are the two other passages.</p>
        <p></p>
        <p> "<strong>Now learn a parable of the fig tree</strong><i>: When his branch is yet tender,</i></p>
        <p><i> and putteth forth leaves, ye know</i> <i>that summer is nigh: So likewise ye,</i></p>
        <p><i> when ye shall see all these things, know that it is near, even at the doors</i>"</p>
        <p>( Matt 24: 32-33 )</p>
        <p></p>
        <p> "<strong>Now learn a parable of the fig tree</strong><i>: When her branch is yet tender,</i></p>
        <p><i> and putteth forth leaves, ye know</i> <i>that summer is near: So ye in like manner,</i></p>
        <p><i> when ye shall see these things come to pass, know that it is nigh,</i> <i>even at the</i></p>
        <p><i> doors</i>." ( Mr 13: 28-29 )</p>
        <p> As we can see these two passages are about the same case of Luke, but written by two other writers, who did
            not
            register what was said about the other trees. Another passage that is wielded as a demonstration that the
            fig tree
            represents Israel is Luke 13: 6-9, let us see.</p>
        <p> "6 <i>He spake also this parable; A certain man <strong>had a fig tree planted</strong></i></p>
        <p><strong> in his vineyard</strong><i>; and he came</i> <i>and sought fruit thereon, and found none.</i></p>
        <p><i> </i> 7 <i>Then said he unto the dresser of his vineyard: Behold, these</i> <i>three years</i></p>
        <p><i> I come seeking fruit on this fig tree, and find none: cut it down; why</i></p>
        <p><i> cumbereth it the ground?</i> 8 <i>And he answering said unto him, Lord, let it</i></p>
        <p><i> alone this year also, till I shall dig about it, and dung it;</i> 9 <i>and if it bear</i></p>
        <p><i> fruit, well: and if not, then after that thou shalt cut it down</i>."</p>
        <p> ( Luke 13: 6-9 )</p>
        <p></p>
        <p> In this parable <strong>the fig tree</strong> was planted <strong>in a vineyard.</strong> I have always seen
            that
            similes of vineyards refer to Israel or to Christians. Therefore, if I would think that this parable refers
            to
            Israel, I would also think that it is the vineyard that symbolizes Israel, not the fig tree.</p>
        <p> The teaching of the parable of the fig tree in Luke 21: 29-31 is that when a tree gives no fruit, it is cut
            down,
            and that so is going to occur to us. It is noticeable that <strong>the one who felt pity for the fig tree
                was the
                servant, not the master</strong>. This would be a very bad representation of the relation between God
            and Israel
            if this parable would be taught referring to Israel.</p>
        <p><strong>In short, I do not see any base to deduce or infer that the fig tree symbolizes Israel. I don't know
            why this
            idea has spread.</strong></p>
        <p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    