<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Theomorphism</title>
</head>
<body>
<p><strong>THEOMORPHISM: DOES GOD LOOK LIKE HUMAN?</strong></p>
<p> There are those that accuse Christians to conceive God with human form<strong>,</strong> because they are prejudiced
    by the anthropomorphism<strong>;</strong> that is to say<strong>,</strong> by the tendency to compare God to the
    human figure<strong>.</strong> According to them<strong>,</strong> we conceived God in human form<strong>,</strong>
    reflecting our own figure<strong>.</strong> But in fact what the Bible teaches us is not
    anthropomorphism<strong>,</strong> but theomorphism<strong>,</strong> for it compare human with
    God<strong>.</strong> It is not that the man has wanted to conceive God with human form<strong>,</strong> but that
    God has wanted to make us with His divine form<strong>.</strong></p>
<p> It is not true<strong>,</strong> as they say<strong>,</strong> that man tends to conceive its gods in human
    form<strong>.</strong> In fact many men have conceived their gods in the forms less anthropomorphic
    imaginable<strong>.</strong> We just need to see the gods and goddesses of the Egyptians<strong>,</strong>
    Philistines<strong>,</strong> Greeks<strong>,</strong> Hindus<strong>,</strong> Chinese<strong>,</strong>
    etc<strong>...</strong> Many of those who conceived their gods with human form<strong>,</strong> pictured them with
    a grotesque figure<strong>,</strong> like the Aztecs<strong>,</strong> Mayan and the Gods of the tribes of Polynesia<strong>.</strong>
    Also they conceived them with animal forms<strong>,</strong> in form of fire<strong>,</strong> in form of
    volcano<strong>,</strong> the sun<strong>,</strong> the moon<strong>,</strong> the stars<strong>,</strong>
    etc<strong>..</strong></p>
<p> In the next passage we will see clearly that God was the one who conceived us equal to His figure<strong>.</strong>
    When God speaks in this passage he seems to be referring to two different things<strong>:</strong> <strong>a) "to
        our image",</strong> (outer aspect) that is to say<strong>,</strong> to the figure that God<strong>,</strong>
    Christ<strong>,</strong> the Holy Spirit and the other celestial creatures already had<strong>;</strong> and
    <strong>b) "according to our likeness",</strong> (with the same mental and spiritual qualities) that is to
    say<strong>,</strong> that we can think and wish what we want<strong>,</strong> because he made us with free
    will<strong>.</strong> By the way<strong>,</strong> in the following verse (27) we see that that likeness refers as
    much to the man as to the woman<strong>.</strong></p>
<p></p>
<p><strong>"</strong>26 <i>And God said<strong>:</strong> <strong>Let us make man in our image, after our
    likeness,</strong> and let them have dominion over the fish of the sea<strong>,</strong> and over the fowl of the
    air<strong>,</strong> and over the cattle<strong>,</strong> and over all the earth<strong>,</strong> and over every
    creeping thing that creepeth upon the earth<strong>.</strong></i> 27 <i><strong>So God created man in his own image,
    in the image of God</strong> created he him<strong>;</strong> male and <strong>female</strong> created he
    them</i><strong>.</strong> (Gn 1<strong>:</strong>26-27)</p>
<p> If when God said <strong>"</strong>…let us make man in our image<strong>,</strong> after our
    likeness…<strong>"</strong> he had only referred to the spiritual and not the outer aspect of the
    creature<strong>,</strong> he would not have used the word <strong>"image".</strong></p>
<p> In John 14<strong>:</strong>7-9 we can see that after Christ having said this about the Father<strong>:</strong>
    <strong>"</strong>…<i>and <strong>have seen him</strong></i><strong>",</strong> the Apostle Philip<strong>,</strong>
    <strong>referring to the exterior aspect of God,</strong> asked of Christ <strong>"</strong>…<strong>show
        us</strong> <i>the Father</i>…<strong>".</strong> It can be noted that it was being spoken of the outer
    aspect<strong>,</strong> because both verbs used <strong>(to see and to show) denote something that is perceived
        with sight,</strong> not with the spirit<strong>.</strong> He does not speak of the spiritual
    aspect<strong>,</strong> but of the outer aspect<strong>.</strong> It is in that context that Jesus replies to
    Philip<strong>:</strong> <strong>"</strong><i>He that hath <strong>seen</strong> me hath <strong>seen</strong> the
        Father</i><strong>".</strong> If Christ had been referring the spiritual<strong>,</strong> he would have only
    used the verb <strong>"</strong>know<strong>"</strong> or something similar<strong>.</strong> He would not have used
    the verb <strong>"see",</strong> because the eyes do not see the spiritual characteristics<strong>.</strong>
    Nevertheless<strong>,</strong> Jesus uses both verbs<strong>,</strong> to <strong>know and to see.</strong> There is
    no doubt that God has the same general aspect that Christ had when he was on Earth<strong>.</strong></p>
<p></p>
<p><strong>"</strong>7 <i>If ye had known me<strong>,</strong> ye should have known my Father also<strong>;</strong> and
    from henceforth ye <strong>know him, and have seen him.</strong></i> 8 <i>Philip saith unto him<strong>:</strong>
    Lord<strong>,</strong> <strong>show us</strong> the Father<strong>,</strong> and it sufficeth
    us<strong>.</strong></i> <i>9 Jesus saith unto him<strong>:</strong> Have I been so long time with
    you<strong>,</strong> and yet hast thou not known me<strong>,</strong> Philip<strong>?</strong> <strong>He that hath
        seen me hath seen the Father;</strong> and how sayest thou then<strong>,</strong> <strong>Show</strong> us the
    Father</i><strong>?"</strong> (Jn 14<strong>:</strong>7-9)</p>
<p> In addition to these reasoning<strong>,</strong> we must also consider that <strong>in many visions God has been
    seen. Although his face has not been seen,</strong> like in the cases of Moses<strong>,</strong> Micah son of
    Imlah<strong>,</strong> Isaiah<strong>,</strong> Daniel<strong>,</strong> Ezequiel and John the
    Evangelist<strong>,</strong> His general aspect was seen<strong>.</strong></p>
<p> Moses<strong>,</strong> in Ex 33<strong>:</strong>20-23<strong>,</strong> gives a clear lesson of God's
    aspect<strong>.</strong> Speaking God with Moses he says to him <strong>"</strong>…<i>thou canst not <strong>see my
        face,</strong> for there shall no man see me<strong>,</strong> and live</i><strong>."</strong> Of this
    affirmation of God it is possible to conclude without forcing reasoning<strong>,</strong> that <strong>God has a
        face,</strong> we also have it<strong>.</strong> Further in the passage God says <strong>"</strong>…<i>will
        cover to thee with <strong>my hand</strong></i>…<strong>",</strong> which indicates to us that <strong>God has
        hands;</strong> we also have them<strong>.</strong> Now at the end of the passage God says
    <strong>"</strong>…<i>thou shalt see <strong>my back</strong> parts<strong>,</strong> but <strong>my face</strong>
        shall not be seen</i><strong>.",</strong> with which he adds that <strong>God has a back,</strong> like He
    created in the human being<strong>.</strong> And not only that<strong>,</strong> but he repeats that he has a
    face<strong>.</strong> <strong>If that is the description that God gives of Himself,</strong> what more do we needed
    to know that God is <strong>not</strong> a formless being as those who want to philosophize on the subject
    imagine<strong>,</strong> but that we have an exterior form similar to the one He has<strong>?</strong></p>
<p></p>
<p><strong>"</strong>20 <i>And he said<strong>:</strong> <strong>Thou canst not see my face,</strong> for there shall no
    man see me<strong>,</strong> and live<strong>.</strong></i> 21 <i>And the LORD said<strong>:</strong> Behold<strong>,</strong>
    there is a place by me<strong>,</strong> and thou shalt stand upon a rock<strong>;</strong></i> 22 <i>and it shall
    come to pass<strong>,</strong> while my glory passeth by<strong>,</strong> that I will put thee in a cliff of the
    rock<strong>,</strong> and will <strong>cover thee with my hand</strong> while I pass by<strong>.</strong></i> 23
    <i>And <strong>I will take away mine hand,</strong> and thou shalt see <strong>my back</strong>
        parts<strong>,</strong> but <strong>my face</strong> shall not be seen</i><strong>."</strong> (Ex
    33<strong>:</strong>20-23)</p>
<p><strong>In the case of the prophet Micah son of Imlah</strong> (different from the Micah author of the book by the
    same name) we see that this prophet also saw God seated on His throne (I K 22<strong>:</strong>19 and II Chr
    18<strong>:</strong>18)<strong>,</strong> and he even speaks about his right hand and his left
    hand<strong>.</strong></p>
<p><strong>"</strong><i>And he said<strong>:</strong> Hear thou therefore the word of the LORD<strong>,</strong>
    <strong>I saw</strong> the LORD <strong>sitting on his throne,</strong> and all the host of heaven standing by him
    on <strong>his right hand and on his left</strong></i><strong>."</strong> (I K 22<strong>:</strong>19)</p>
<p></p>
<p></p>
<p><strong>"</strong><i>Again he said<strong>:</strong> Therefore hear the word of the LORD<strong>;</strong> <strong>I
    saw the LORD sitting upon his throne,</strong> and all the host of heaven standing on <strong>his right hand and on
    his left.</strong></i><strong>"</strong> (II Chr 18<strong>:</strong>18)</p>
<p><strong>As for Isaiah, we see in 6:1</strong> that he also<strong>,</strong> like Micah<strong>,</strong> saw God
    <strong>seated</strong> in His throne<strong>.</strong> <strong>In Ezekiel 1:26-28</strong> we read that this
    prophet saw <strong>"</strong>… <i>a likeness that <strong>seemed of man,</strong>
        <strong>seated</strong></i>…<strong>"</strong> on the throne<strong>.</strong> That is<strong>,</strong> that he
    declares to us that the being that he identifies as God<strong>,</strong> had the likeness of a human
    being<strong>.</strong> Later we see that in verse 27 he describes how he looked <strong>"</strong>…<i>from his
        <strong>loins</strong> even upward</i>…<strong>"</strong> and <strong>"</strong>… <i>from <strong>his
        loins</strong> even downward</i>…<strong>",</strong> mentioning to us again similar parts of the human
    body<strong>,</strong> in this case the loins<strong>.</strong></p>
<p><strong>"</strong><i>In the year that king Uzziah died <strong>I saw also the Lord sitting</strong> upon a
    throne<strong>,</strong> high and lifted up<strong>,</strong> and his train filled the temple</i><strong>."</strong>
    (Isa 6<strong>:</strong>1)</p>
<p></p>
<p></p>
<p><strong>"</strong>26 <i>And above the firmament that was over their heads was the likeness of a
    throne<strong>,</strong> as the appearance of a sapphire stone<strong>,</strong> <strong>and upon the likeness of
        the throne was the likeness as the appearance of a man above upon it.</strong></i> 27 <i>And I saw as the colour
    of amber<strong>,</strong> as the appearance of fire round about within it<strong>,</strong> from the appearance
    <strong>of his loins even upward,</strong> and from the appearance <strong>of his loins even downward,</strong> I
    saw as it were the appearance of fire<strong>,</strong> and it had brightness round about<strong>.</strong></i> 28
    <i>As the appearance of the bow that is in the cloud in the day of rain<strong>,</strong> so was the appearance of
        the brightness round about<strong>.</strong> This was the appearance of <strong>the likeness of the glory of the
            LORD.</strong> And when I saw it<strong>,</strong> I fell upon my face<strong>,</strong> and I heard a voice
        of one that spake</i><strong>."</strong> (Ezk 1<strong>:</strong>26-28)</p>
<p><strong>Daniel also, in his vision of 7:9</strong> describes God saying <strong>"</strong>…<i>the
    <strong>Ancient</strong> of days did <strong>sit</strong></i><strong>,</strong>…<strong>",</strong> comparing it
    thus<strong>,</strong> as much in his form as in his action<strong>,</strong> to that which looks and does a human
    being<strong>.</strong> Further on in the verse<strong>,</strong> the prophet<strong>,</strong> describing God in
    the form in which he saw Him mentions <strong>His head and His hair.</strong></p>
<p></p>
<p><strong>"</strong><i>I beheld till the thrones were cast down<strong>,</strong> and <strong>the Ancient of days did
    sit,</strong> whose garment was white as snow<strong>,</strong> and the <strong>hair</strong> of his
    <strong>head</strong> like the pure wool<strong>;</strong> his throne was like the fiery flame<strong>,</strong> and
    his wheels as burning fire</i><strong>."</strong> (Dan 7<strong>:</strong>9)</p>
<p><strong>In Rev 4:2-3</strong> John describes the vision that he had of God<strong>,</strong> in the same form that
    the previous prophets<strong>:</strong> he mentions a throne<strong>,</strong> says that there was <strong>one
        seated,</strong> then he says <strong>"</strong>…and he that sat…<strong>",</strong> with which we realize that
    he is not seeing a cloud or something formless<strong>,</strong> but somebody resembling a human being
    <strong>.</strong></p>
<p><strong>"</strong>2 <i>and immediately I was in the spirit<strong>;</strong> and<strong>,</strong>
    behold<strong>,</strong> a throne was set in heaven<strong>,</strong> and <strong>one sat on the
        throne.</strong></i> 3 <i>And <strong>he that sat</strong> was to look upon like to jasper and to sardine
    stone<strong>;</strong> and there was a rainbow round about the throne<strong>,</strong> in sight like unto an
    emerald</i><strong>."</strong> (Rv 4<strong>:</strong>2-3)</p>
<p><strong>If they all saw God with the same aspect that any human being has, it is because God is like this.</strong>
    There are some who argue that God cannot have form<strong>,</strong> because one of the commandments is not to make
    images of God<strong>.</strong> That is not a valid argument<strong>,</strong> because <strong>Christ does not want
        them to make images of him either and however, that does not mean that Christ did not have form.</strong>
    Therefore<strong>,</strong> the fact that God does not want images to be made of Him does not imply that He does not
    have form<strong>.</strong></p>
<p> Others base their obstinacy on saying that God is spirit<strong>,</strong> and that a spirit does not have
    form<strong>.</strong> On what place of the Bible are they based to say that a spirit does not have
    form<strong>?</strong> The angels are spirits and have the same form as the humans<strong>.</strong> In Job
    4<strong>:</strong>16 a spirit is mentioned saying that he has a face<strong>.</strong> That is<strong>,</strong> he
    resembles a human being<strong>.</strong></p>
<p><strong>There is not a single verse in the entire Bible that says that God does not have form,</strong> but there are
    many that describe him with the same form in which He created us<strong>.</strong> It is logical to be
    so<strong>,</strong> that way when we meet with Him<strong>,</strong> we are not going to be frightened because of
    His aspect<strong>,</strong> for we are already familiar to see beings of that form<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>