---
import Layout from "../layout/Layout.astro";
---

<Layout title="The Original Sin is a Myth">
    <section>
        <p><strong>The Original Sin is a Myth</strong></p>
        <p></p>
        <p></p>
        <p><strong>An ancient tradition affirms that Adam and Eve's sins passed on to us, meaning that because of their
            sins we
            are all condemned to hell.</strong> In other words, it means that because a father sins his son goes to
            hell. This
            doctrine is against what the Bible teaches us about God's character. This is one of the many errors and
            heresies
            that Protestants inherited from Catholicism. This is why in Catholicism they baptize babies. They do it in
            order to
            "clean" babies from their supposed "original sin".</p>
        <p><strong>It is true that we inherit bodily characteristics from our ancestors ( genotype and phenotype), but
            our souls
            do not.</strong> To think that our parents transmit to our souls their own soul characteristics is
            equivalent to
            think that the soul is made of biological matter, and that our souls are formed by the union of sperm and
            egg, in
            our mother's womb. To think that our body is the soul is one of the many heresies of the Russellites.</p>
        <p><strong>If we inherited our souls and its characteristics from our parents, then no one would be guilty of
            sin,
            because we inherited it</strong>. We could do nothing about it. It is like an Indian or an African
            inheriting their
            bodily characteristics from their ancestors. Why condemn a person to hell because he is Chinese or Indian?
            Why
            condemn a man because his ancestors transmitted their sinful attitude? <strong>This is not what the Bible
                teaches
                us. Let's see.</strong></p>
        <p> Solomon told us that God created human beings perfect, but each of them, sooner or later, went astray from
            God.</p>
        <p></p>
        <p> "<i>Lo, this only have I found, that <strong>God hath made man upright;</strong></i></p>
        <p><i> but <strong>they</strong> have sought ourt many inventions</i>."</p>
        <p> ( Ecc 7: 29 )</p>
        <p></p>
        <p> As we can see, when the souls came out form God's hands, they were upright, but later they went astray.
            Notice that
            it says <strong>"they"</strong>, referring to many, not referring to only Adam. Therefore, Adam's sin is not
            the
            problem; everybody's sin is. If God made human beings upright, then <strong>they are not sinners since
                birth.</strong> Then, there is no original sin. Then we don't drag a condemnation that does not belong
            to us.
        </p>
        <p><strong>Jesus Christ taught us just the contrary of what proclaims the doctrine of the original sin.</strong>
            He
            never said anything that could be misconstrued as meaning that human beings are condemned because of Adam's
            sin.
            Conversely, his words convey the idea that we are born without any sin or condemnation.</p>
        <p></p>
        <p></p>
        <p> "<i>But Jesus said: Suffer <strong>little children</strong>, and forbid them </i></p>
        <p><i> not, to come unto me, for <strong>of such is the kingdom of </strong></i></p>
        <p><strong> heaven</strong>." ( Matt 19: 14 )</p>
        <p></p>
        <p></p>
        <p> If little children can go into the Kingdom of Heaven this means that they had no sins, because no one who
            has sins
            can go into the Kingdom. Therefore, there is not such a thing as an <strong>inherited original sin</strong>
            transmitted to us from Adam, otherwise little children would be sinners and couldn't go to Heaven until they
            converted.</p>
        <p> Besides, if a father could transmit his sinful nature to his offspring, then from a sinful father there
            would never
            be any generations of Christians, which is not true.</p>
        <p><strong>The Prophet Ezekiel also reaffirms the doctrine that descendants won't carry guilt because of their
            ancestors' deeds, thoughts or feelings.</strong> Contrary to the doctrine of the original sin, which
            supposedly
            condemns all human beings to hell for Adam's sin, Ezekiel, inspired by the Holy Spirit, says that children
            don't
            carry over the guilt of their ancestors.</p>
        <p></p>
        <p></p>
        <p> "<strong>The word of the LORD</strong> <i>came unto me again, saying: </i></p>
        <p><i> What mean ye, that ye use this proverb concerning the </i></p>
        <p><i> land of Israel, saying: The fathers have eaten sour grapes,</i></p>
        <p><i> and the children's teeth are set on edge? As I live, saith </i></p>
        <p><i> the Lord GOD, ye shall not have occasion any more to </i></p>
        <p><i> use this proverb in Israel. Behold, all souls are mine; <strong>as </strong></i></p>
        <p><strong> the soul of the father, so also the soul of the son is mine; </strong></p>
        <p><strong> the soul that sinneth, it shall die</strong>." ( Ezk 18: 1-4 )</p>
        <p></p>
        <p></p>
        <p> "14 <i>Now, lo, if he beget a son, that seeth all his father's</i></p>
        <p><i> sins which he hath done, and considereth, and doeth not </i></p>
        <p><i> such like,</i> 17<i>….. <strong>he shall not die for the iniquity of his </strong></i></p>
        <p><strong> father</strong><i>, he shall surely live..….</i> 20 <strong>The soul that sinneth, </strong></p>
        <p><strong> it shall die. The son shall not bear the iniquity of the </strong></p>
        <p><i> <strong> father</strong> neither shall the father bear the iniquity of the son. </i></p>
        <p><i> The righteousness of the righteous shall be upon him, and </i></p>
        <p><i> the wickedness of the wicked shall be upon him</i>." </p>
        <p> ( Ezk 18: 14 - 20 abbreviated )</p>
        <p></p>
        <p></p>
        <p> In Deuteronomy 24: 16 Moses teaches that the guilt of the father must not be charged on the son. <strong>If
            God
            teaches us so, how can we think that He is going to do the opposite?</strong> I don't see in the Scriptures
            any
            backing for the heretical doctrine of the "original sin". If God says that children must not be condemned by
            their
            father deeds, much less is God to send to Hell a person because of Adam's sin.</p>
        <p></p>
        <p></p>
        <p> "<i>The fathers shall not be put to death for the children, </i></p>
        <p><i> <strong>neither shall the children be put to death for the </strong></i></p>
        <p><i> <strong> fathers</strong>; every man shall be put to death for his own sin</i>." </p>
        <p> ( Deu 24: 16 )</p>
        <p></p>
        <p></p>
        <p> In Ex 32: 31-33 we also see that human beings are born without sin. In a personal conversation with God,
            Moses asked
            the Lord to blot out his name from the Book of Life if He was not going to forgive the people. The Lord
            answered
            that He blots out those who sin against Him. From God's words we draw the conclusion that every born human
            being is
            written in the book, and only after that person sins is he blotted out. Consequently, all human beings are
            born
            without sin, otherwise they were not written in the book; but if they are written in the book is because
            they were
            born without sin. This precludes the existence of the so-called "original sin". It is logical to think that
            God
            writes human beings in His book when they are born, because <strong>if He would write them only after
                conversion, He
                wouldn't have to blot anyone out of His book.</strong> If He blots some out is because He wrote them
            there at
            birth.</p>
        <p></p>
        <p></p>
        <p> "<i>And Moses returned unto the LORD, and said, Oh, </i></p>
        <p><i> this people have sinned a great sin, and have made them</i></p>
        <p><i> gods of gold. Yet now, if thou wilt forgive their sin; and </i></p>
        <p><i> if not, blot me, I pray thee, out of thy book which thou hast </i></p>
        <p><i> written. And the LORD said unto Moses: <strong>Whosoever hath </strong></i></p>
        <p><strong> sinned against me, him will I blot out of my book</strong>." </p>
        <p> ( Ex 32: 31-33 )</p>
        <p></p>
        <p></p>
        <p> As we can see, <strong>in order for us to believe in the "original sin" we have to submit to man made
            doctrines.</strong> Christian doctrines come from the Scriptures, not from church dogmas.</p>
        <p><strong><a href="biblenotes.html">Back to Index</a></strong></p>

    </section>
</Layout>
    