
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The rich young man lied to Christ</title>
</head>
<body>
<strong>The rich young man lied to Christ and that is why Jesus told him to sell his possessions</strong>
<p> Before starting to study this case let us realize the way this young fellow addressed Jesus. <strong>First</strong>
    thing to note is that <strong>he was trying to earn eternal life by means of performing some good deeds.</strong> We
    know this because of the way he asked the question to Jesus. <strong>Second</strong> thing to note is that he lied
    to Jesus a couple of times: <strong>a)</strong> when he said that he had always kept the commandments, and <strong>b)</strong>
    when he said that he had loved his neighbor as himself. Let us read the passage.</p>
<p> "16 <i>And, behold, one came and said unto him: -'Good Master, <strong>what good thing</strong></i> <strong> shall I
    do, that I may have eternal life?</strong><i>' </i> 17 <i>And he said unto him: -'Why callest</i> <i> thou me good?;
    there is none good but one, that is, God: but if thou wilt enter into</i> <i> life, keep the commandments.'</i>
    <i> </i> 18 <i>He saith unto him: -'Which?' Jesus said: -'Thou shalt do no murder, Thou</i> <i> shalt not commit
        adultery, Thou shalt not steal, Thou shalt not bear false witness,</i> <i> </i> 19 <i>Honour thy father and thy
        mother: and, <strong>Thou shalt love thy neighbour as</strong></i> <strong> thyself.'</strong> <i> </i> 20 <i>The
        young man saith unto him: -'<strong>All these things have I kept from my</strong></i> <strong> youth up</strong><i>:
        what lack I yet?'</i> <i> </i> 21 <i>Jesus said unto him: -'If thou wilt be perfect, <strong>go and sell that
        thou hast,</strong></i> <i><strong> and give to the poor</strong>, and thou shalt have treasure in heaven: and
        come and</i> <i> follow me.' </i> 22 <i>But when the young man heard that saying, he went away</i> <i>
        sorrowful: for he had great possessions.</i> <i> </i> 23 <i>Then said Jesus unto his disciples: -'Verily I say
        unto you, that a rich</i> <i> man shall hardly enter into the kingdom of heaven. </i> 24 <i>And again I say
        unto</i> <i> you, it is easier for a camel to go through the eye of a needle, than for a rich</i> <i> man to
        enter into the kingdom of God.'</i> <i> </i> 25 <i>When his disciples heard it, they were exceedingly amazed
        saying:</i> <i> -Who then can be saved?'</i> <i> </i> 26 <i>But Jesus beheld them, and said unto them: -<strong>'With
        men this is impossible;</strong></i> <strong><i> but with God all things are possible</i>'</strong>." ( Matt 19:
    16-26 )</p>
<p> The rich young man's question, and Jesus' answer typifies what is advised in Proverbs 26: 4-5, where it says how to
    answer to a fool. <strong>The rich young man asked Jesus what to do, and what to perform, in order to earn by
        himself eternal life</strong>. Jesus answered to him according to his foolish question: go and keep the
    commandments. That is why Christ did not tell him "believe in me and you will have eternal life." Sure enough, if he
    wanted to get salvation by himself, he had to have kept all the commandments, all his life, without failing in
    anyone of them, not even a single day. Otherwise, he needed a savior; but his question precluded the alternative of
    a savior. He was not in search of a savior, he wanted to know how to save himself. Jesus answered accordingly.
    <strong>When the rich young man said that he had always kept the commandments, he was lying. </strong> He was lying
    because no one has ever been so perfect as not to ever sin. But Jesus did not want to argue with him about his lie.
    What he did instead was to demonstrate to the rich young man that he was lying. That is why he told him to go and
    sell all he had and give to the poor. <strong>If as the rich young man said, he had really kept everything,
        including "You shall love your neighbor as yourself ", it was not possible for him to still be so
        rich. </strong> If he had loved his neighbor as himself, by this time he would have already given up all his
    treasures to the poor. <strong>The very fact that he was still rich, in a place with so many poor people, proved
        that he did not share with them his riches.</strong> Therefore, he was not keeping the commandment to love his
    neighbor as himself. To live a flawless life is impossible to any man, but for a rich man it is twice as impossible.
    This is why Jesus told them about the camel and the needle. </p>
<p><a href="biblenotes.html">Back to the index</a></p>
</body>
</html>