---
import Layout from "../layout/Layout.astro";
---

<Layout title="The Wedding of the Lamb">
    <section>
<p><strong>The Wedding of the Lamb</strong></p>
<p><strong>Weddings are a feast in which we all participate and enjoy.</strong> Let us remember that the Rapture is the
    one that is said (without proof) occur <strong>before</strong> the Great Tribulation<strong>,</strong> whereas the
    Ingathering shall occur (according to the Bible) during the Second Coming of Christ.</p>
<p> In all cultures of the world<strong>,</strong> weddings are meant to be celebrated with great joy<strong>,</strong>
    music<strong>,</strong> feasting and enjoyment. The joy is put aside only if by misfortune<strong>,</strong> before
    or during the wedding a tragedy occurs among the family of the couple.</p>
<p> The Wedding of the Lamb shall be something unforgettable for those of us that are Christians. A true moment of real
    joy<strong>,</strong> a time in which no suffering or thought will come to make us sad.</p>
<p><strong>When shall the Wedding of the Lamb happen according to the doctrine that says the Rapture will happen before
    the GT.</strong> According to what I have always heard from the brethren which discuss this matter with
    me<strong>,</strong> the Christians that were raptured shall be happily enjoying the Wedding of the
    Lamb<strong>,</strong> in Heaven<strong>,</strong> during the same time that other Christians suffer horribly the
    Great Tribulation on Earth. The antiChrist and his followers murder<strong>,</strong> burnt at the
    stake<strong>,</strong> crucify<strong>,</strong> etc.<strong>,</strong> the Christians on Earth<strong>,</strong>
    while we are enjoying a good old time up in Heaven. This without our being a bit concerned with what is happening to
    our brethren. <strong>Does this sounds logical? Do you truly believe this is what Jesus planned for his wedding
        day?</strong></p>
<p> Not only would that be bad enough<strong>;</strong> but if the Rapture were true to occur before the
    GT<strong>,</strong> then we would have that those poor martyred and murdered Christians during the Great
    Tribulation<strong>,</strong> would never get to partake of the Wedding of the Lamb. This because they would not
    have their resurrection until after the quite public Second Coming of Christ. And by then the Wedding of the Lamb
    would have passed.</p>
<p><strong>What's more, since the Rapture hypothesis falsely asserts that it will happen before the opening of the First
    Seal,</strong> and given that in the Fifth Seal we see the souls of those slain on the Earth because of the witness
    of Jesus<strong>,</strong> we would have to conclude that in spite of these souls being in Heaven<strong>,</strong>
    they could not participate in the Wedding feast<strong>,</strong> but rather see them from far away. This due to the
    passage that states that these martyrs have to wait for the rest that shall be killed. Not light fare is
    it<strong>!</strong></p>
<p></p>
<p><strong>"</strong>9 <i>And <strong>when he had opened the fifth seal,</strong> I saw under the altar <strong>the
    souls of them that were slain for the word of God,</strong> and for the testimony which they held.</i> 10 <i>And
    they cried with a loud voice<strong>,</strong> saying<strong>:</strong> <strong>How long, O Lord, holy and true,
        dost thou not judge and avenge our blood on them that dwell on the Earth?</strong></i> 11 <i>And white robes
    were given unto every one of them<strong>;</strong> and it was said unto them<strong>,</strong> that they should
    rest yet for a little season<strong>,</strong> <strong>until their fellow servants also and their brethren, that
        should be killed as they were, should be fulfilled</strong></i>.<strong>"</strong> (Rev 6<strong>:</strong>9-11)
</p>
<p> To these martyrs of the Great Tribulation the doctrine of the Rapture denies their position in Christ's Church. How
    could it be possible that they would not belong to His Church<strong>,</strong> when it is Christ himself who is
    with them in Heaven<strong>?</strong></p>
<p><strong> When shall the Wedding of the Lamb be, according to the Bible.</strong> From what part of the Bible the
    doctrine of the Rapture has gotten the idea that the Wedding of the Lamb shall be celebrated during the Great
    Tribulation. I do not know. <strong>In spite of repeatedly asking my friends that believe in the Rapture, they
        cannot tell me on what passage they base themselves to believe such a thing.</strong> The only thing that I can
    gather is that these brothers believe it because they were told by others<strong>,</strong> which <strong>"</strong>others<strong>"</strong>
    I have not been able to ask<strong>,</strong> because they are not available for this discussion.</p>
<p> In addition<strong>,</strong> they have brought me books<strong>,</strong> but when I ask them to tell me in what
    part of the book the author shows the biblical origin of the concept<strong>,</strong> they still cannot point it
    out. No one seems to know<strong>,</strong> but all seem to <strong>"</strong>firmly<strong>"</strong> believe it.
    It is the sad tendency towards dogma<strong>,</strong> very common among those religious persons.</p>
<p><strong>The only two places that I have seen reference to the Wedding of the Lamb</strong> are Revelation
    19<strong>:</strong>7-9 and 21<strong>:</strong>9<strong>,</strong> and both verses are quite after the Great
    Tribulation. Let's see.</p>
<p></p>
<p><strong>"</strong>7 <i>Let us be glad and rejoice<strong>,</strong> and give honour to him<strong>,</strong> <strong>for
    the marriage of the Lamb is come, and his wife hath made herself ready.</strong></i> 8 <i>And to her was granted
    that she should be arrayed in fine linen<strong>,</strong> clean and white<strong>;</strong> for the fine linen is
    the righteousness of saints.</i> 9 <i>And he saith unto me<strong>:</strong> Write<strong>:</strong> <strong>Blessed
    are they which are called unto the marriage supper of the Lamb.</strong> And he saith unto me<strong>:</strong>
    These are the true sayings of God</i>.<strong>"</strong> (Rev 19<strong>:</strong>7-9)</p>
<p></p>
<p><strong>"</strong><i>And there came unto me one of the seven angels which had the seven vials full of the seven last
    plagues<strong>,</strong> and talked with me<strong>,</strong> saying<strong>,</strong> Come
    hither<strong>,</strong> <strong>I will shew thee the bride, the Lamb's wife</strong></i><strong>."</strong> (Rev 21<strong>:</strong>9)
</p>
<p> Already for the time mentioned in these two portions<strong>,</strong> the Seven Bowls of the Wrath of God were
    poured upon the Earth. This is easy to show because in Revelation 16<strong>:</strong>17 we see that the seventh and
    last bowl has been poured. In 19<strong>:</strong>2 we see that the Great Harlot has been judged<strong>,</strong>
    and that God had avenged the blood of His servants at her hand. Hence<strong>,</strong> the Great Tribulation is
    finished. However<strong>,</strong> we see in verse 7 of this same chapter<strong>,</strong> that the Wedding of the
    Lamb has not yet taken place. From there we can deduce<strong>,</strong> without much mental
    effort<strong>,</strong> that the Wedding of the Lamb comes after the Great Tribulation<strong>,</strong> and after
    the destruction of the Great Harlot<strong>,</strong> not as the doctrine of the Rapture before the GT proclaims.
</p>
<p></p>
<p><strong>"</strong><i>And <strong>the seventh angel poured out his vial</strong> into the air<strong>;</strong> and
    there came a great voice out of the temple of heaven<strong>,</strong> from the throne<strong>,</strong>
    saying<strong>,</strong> It is done</i>.<strong>"</strong> (Rev 16<strong>:</strong>17)</p>
<p></p>
<p><strong>"</strong>1 <strong>And after these things</strong> <i>I heard a great voice of much people in heaven<strong>,</strong>
    saying<strong>:</strong> Alleluia<strong>;</strong> Salvation<strong>,</strong> and glory<strong>,</strong> and
    honour<strong>,</strong> and power<strong>,</strong> unto the Lord our God<strong>;</strong></i> 2 <i>for true and
    righteous are his judgments<strong>;</strong> for <strong>he hath judged the great whore,</strong> which did corrupt
    the Earth with her fornication<strong>,</strong> <strong>and hath avenged the blood of his servants at her
        hand.</strong></i> 3 <i>And again they said<strong>:</strong> Alleluia. And her smoke rose up for ever and ever.</i>
    4 <i>And the four and twenty elders and the four beasts fell down and worshipped God that sat on the
        throne<strong>,</strong> saying<strong>,</strong> Amen<strong>;</strong> Alleluia</i>.<strong>"</strong> (Rev 19<strong>:</strong>1-4)
</p>
<p><strong>Another item to thoughtfully consider is that in verse 6 it says that God has reigned,</strong> and later
    that we should rejoice because the Wedding of the Lamb <strong>is going</strong> to be celebrated. It's not hard to
    realize that <strong>if God has taken the Kingdom, the Great Tribulation must have concluded. And if after God takes
        the Kingdom, the Wedding of the Lamb is then celebrated, this means that they have not been celebrated
        before.</strong> This in turn means that the wedding happens after the Great Tribulation<strong>,</strong> not
    during the seven years<strong>,</strong> as the <strong>"</strong>secret rapture<strong>"</strong> hypothesis
    claims.</p>
<p></p>
<p><strong>"</strong>5 <i>And a voice came out of the throne<strong>,</strong> saying<strong>:</strong> Praise our
    God<strong>,</strong> all ye his servants<strong>,</strong> and ye that fear him<strong>,</strong> both small and
    great. 6 And I heard as it were the voice of a great multitude<strong>,</strong> and as the voice of many
    waters<strong>,</strong> and as the voice of mighty thunderings<strong>,</strong> saying<strong>,</strong> <strong>Alleluia:
        for the Lord God omnipotent reigneth.</strong> 7 Let us be glad and rejoice<strong>,</strong> and give honour to
    him<strong>:</strong> <strong>for the marriage of the Lamb is come, and his wife hath made herself ready.</strong> 8
    And to her was granted that she should be arrayed in fine linen<strong>,</strong> clean and white<strong>;</strong>
    for the fine linen is the righteousness of saints</i>.<strong>"</strong> (Rev 19<strong>:</strong>5-8)</p>
<p> As we see<strong>,</strong> the only places in the Bible that speak of the Wedding of the Lamb it implies that the
    Great Tribulation is past. Hence<strong>,</strong> <strong>the hypothesis of the Rapture before the GT is totally
        erroneous in claiming that the wedding will occur during the Great Tribulation.</strong></p>
<p> If we look again at the first portion (Revelation 19<strong>:</strong>7-9)<strong>,</strong> we see that at the end
    it says<strong>:</strong> <strong>"<i>Blessed are they which are called unto the marriage supper of the
        Lamb</i>"</strong>. From this it can be implied that those not called to the marriage supper of the Lamb<strong>,</strong>
    are not blessed.</p>
<p> Since according to the confusing doctrine of the Rapture<strong>,</strong> the wedding occurs during the Great
    Tribulation<strong>,</strong> it becomes evident that <strong>the unfortunate brethren that suffer during this
        period cannot participate of the wedding supper and hence are not blessed.</strong> In other words this heresy
    has excluded them de-facto from their blessing. You have to trample logic and excessively twist Scripture to match
    the doctrine of the Rapture<strong>!</strong></p>
<p> If you want to have a deeper understanding of the mistakes of the heretical doctrine of the rapture before the
    GT<strong>,</strong> read my book <strong>"</strong>Rapture Vs Ingathering or Fiction Vs Reality<strong>",</strong>
    which is found in this web site. Big companies make millions selling books<strong>,</strong>
    videos<strong>,</strong> etc..<strong>,</strong> proclaiming the heretical doctrine of the rapture before the GT.
    Can rectify his mistake whoever loses millions to rectify<strong>?</strong> Yes<strong>,</strong> they
    can<strong>,</strong> but he would love God more than their egos and their pockets.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    