---
import Layout from "../layout/Layout.astro";
---

<Layout title="Timothy was not that young">
    <section>
<p><strong>Timothy was not that young</strong></p>
<p> Many brothers think that Timothy, who was a disciple of Saint Paul, was a very young man. He was in fact, a very
    young <strong>man</strong> when he first met Paul, but not when he was left as pastor in Ephesus. When he first met
    Paul he was probably in his early twenties. <strong>He was by no means a lad 15 or 17 years old</strong>.</p>
<p> The reason I think that Timothy was an adult when he met Paul for the first time in Acts 16: 1-3 is for a couple of
    reasons: <strong>a)</strong> It was not fit that Paul would drag a teenager through his hard and dangerous life of
    missionary endeavors. <strong>b)</strong> When Paul first met Timothy, he was already a disciple ( verse 1 ), which
    suggests that he was not a boy or a teenager. In those times <strong>a youngster became an adult at the age of
        twenty</strong>. <strong>c)</strong> Timothy was <strong>a well known man in at least two cities, Lystra and
        Iconium</strong> (verse 2), which tells us that he was old enough to have been traveling between at least these
    two cities for some time, and relating with their inhabitants. <strong>d)</strong> The brethren of these two cities
    spoke well of him, which tells us that they knew him, his doings, behavior, and attitude, for some years before Paul
    met him.</p>
<p> "<i>1 Then came he to Derbe and Lystra; and, <strong>behold, a certain disciple</strong> was there, <strong>named
    Timothy</strong>, the son of a certain woman, which was a Jewess, and believed; but his father was a Greek; 2 Which
    <strong>was well reported of by the brethren that were at Lystra and Iconium.</strong> 3 Him would Paul have to go
    forth with him; and took and circumcised him because of the Jews which were in those quarters; for they knew all
    that his father was a Greek.</i>" ( Acts 16: 1-3 )</p>
<p> According to some chronologies, Paul met Timothy about year 50, but he wrote his First Epistle to Timothy about year
    64. <strong>This means that at that time Timothy was 14 years older than when Paul met him for the first
        time</strong>. If he was 22 or 24 when Paul first met him, he would then be <strong>at least</strong> 36 or 38
    years old. After being taught and working with Paul for several years, having a prophecy about him, and after
    knowing that he had a gift from God, as we see in I Tim 4: 12-14, Paul decided to let him be a pastor, despite his
    youth. Paul considered that at the age of 38, Timothy was still very young to be a Pastor, but because of his
    special gift, prophecy about him and training, <strong>Paul made an exception with him.</strong></p>
<p> "<i>12 Let no man <strong>despise thy youth</strong> ; but be thou an example of the believers, in word, in
    conversation, in charity, in spirit, in faith, in purity. 13 Till I come, give attendance to reading, to
    exhortation, to doctrine. 14 Neglect not <strong>the gift that is in thee, which was given thee by prophecy, with
        the laying on of the hands of the presbytery</strong>.</i>" ( I Tim 4: 12-14 )</p>
<p> Because this man had <strong>such a special set of factors</strong> in his life, Paul put him as a pastor <strong>as
    an exception of the rule,</strong> but his ideas about who could become a pastor were quite different. Paul always
    suggested that pastors should be very mature brothers with experience, not youngsters. Men who were old enough to
    have had and educated their children, and show that they were well brought up, had good testimony, were under
    authority, etc.. <strong>These were the rules that Paul set forth to Timothy and Titus in order for them to chose
        other pastors</strong>. Let's see I Tim 3: 1-6 and Tit 1: 5-8.</p>
<p> "<i>1 This is a true saying, If a man desire the office of a bishop, he desireth a good work. 2 <strong>A bishop
    then must be</strong> blameless, the husband of one wife, vigilant, sober, of good behavior, given to hospitality,
    apt to teach; 3 not given to wine, no striker, not greedy of filthy lucre; but patient, not a brawler, not covetous;
    4 <strong>one that ruleth well his own house, having his children in subjection with all gravity</strong>; 5
    <strong>for if a man know not how to rule his own house, how shall he take care of the church of God?</strong> 6 Not
    a novice, lest being lifted up with pride he fall into the condemnation of the Devil</i>." ( I Tim 3: 1-6 )</p>
<p></p>
<p> "<i>5 For this cause left I thee in Crete, that thou shouldest set in order the things that are wanting, and
    <strong>ordain elders in every city</strong>, as I had appointed thee. 6 If any be blameless, the husband of one
    wife, <strong>having faithful children not accused of riot or unruly</strong>. 7 For a bishop must be blameless, as
    the steward of God; not selfwilled, not soon angry, not given to wine, no striker, not given to filthy lucre; 8 but
    a lover of hospitality, a lover of good men, sober, just, holy, temperate</i>." ( Tit 1: 5-8 )</p>
<p><strong>In both passages we see that what Paul had in mind, for a brother to become a pastor, was a man of 45 or 50
    years old.</strong> We know this, because he had to be old enough to demonstrate that he had raised decent and
    faithful children, who were obedient to their father. <strong>A man in his thirties could never show such
        credentials.</strong> Therefore, Timothy, appointment by Paul, being at least 36 or 38 years old, <strong>was
        just an exception, not a rule</strong>. However, if today a man in his thirties can demonstrate that he has
    prophecies and gifts from God, and such good training as Timothy had, <strong>then another exception may be made
        with him</strong>.</p>
<p> The very fact that Paul felt compelled to defend Timothy's appointment despite being at least 36 or 38, tells us
    that <strong>it was not the common procedure, but an exception.</strong></p>
<p> Our congregations should meditate on this. Also note I Tim 3: 1-6 and Tit 1: 5-8. We expect that our pastor should
    be one who is husband of only one wife, not given to wine, etc., consequently he must be also a man who can show
    well brought up and faithful children, <strong>all of which requires a mature man, not a youngster</strong>.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    