---
import Layout from "../layout/Layout.astro";
---

<Layout title="Don't call " trials" the consequences of your sins and errors">
    <section>
<p><strong>One of the several methods our spiritual enemies use to oppose our sanctification is making us believe that
    the consequences of our sins are just "trials"</strong></p>
<p> God tried men of the caliber of Job<strong>;</strong> the Lord would not bother himself to try men like
    me<strong>,</strong> who would disappoint him<strong>.</strong> Job was a man worthy of being
    tried<strong>,</strong> which is why God used him to embarrass Satan<strong>.</strong></p>
<p><strong>God does not try his creatures in order for Him to know how they are, but so that other creatures know
    it.</strong> There are some who believe that the bad things that can happen to a human are
    "trials"<strong>,</strong> so that God may know how we would react under certain circumstances<strong>.</strong>
    There is no such thing<strong>.</strong> When God permits trials<strong>,</strong> it is to inform others of our
    reactions<strong>.</strong> The best case in which to study this issue is with Job<strong>.</strong> This man was
    not put to the test so that God would know how he would react<strong>;</strong> God knew that
    beforehand<strong>.</strong> Job was tried to demonstrate to Satan how creatures that were of a lower category than
    an angel<strong>,</strong> were obedient and grateful with God even in adverse circumstances<strong>.</strong> God
    allowed the trial that Job suffered<strong>,</strong> in order to demonstrate Job's loyalty to God in spite of what
    he was going through<strong>.</strong></p>
<p> Satan is a creature that in spite of having had greatness and privileges rebelled against God<strong>,</strong>
    because he wanted even more<strong>.</strong> That is why God<strong>,</strong> who knew perfectly well how Job was
    going to react<strong>,</strong> allowed Satan to deprive him of all he had<strong>.</strong> I say that God knew
    how Job was going to react<strong>,</strong> because in 1<strong>:</strong>8<strong>,</strong> when God speaks with
    Satan about Job<strong>,</strong> says there was none like him in the Earth<strong>,</strong> that he is his servant
    and that he was a perfect and upright man<strong>,</strong> fearful of God and eschew evil<strong>.</strong>
    <strong>If God thought that way about Job, it is evident that he was not trying to see how Job was,</strong> but he
    was using Job to give a lesson in fidelity to Satan<strong>.</strong> God used Job to demonstrate how a creature of
    lesser level than Satan<strong>,</strong> was capable of continuing his faithfulness even if everything he had was
    taken from him and even if he suffered a bitter ailment<strong>.</strong></p>
<p><strong>It was a great honor to Job to have been able to serve God in order to show Satan a lesson in
    loyalty.</strong> The trial was the hardest ever known<strong>,</strong> but the honor of having served God in this
    matter<strong>,</strong> is the greatest reward a man could obtain<strong>.</strong></p>
<p></p>
<p> "6 <i>Now there was a day when the sons of God came to present themselves before the LORD<strong>,</strong> and
    Satan came also among them<strong>.</strong></i> 7 <i>And the LORD said unto Satan<strong>,</strong> Whence comest
    thou<strong>?</strong> Then Satan answered the LORD<strong>,</strong> and said<strong>,</strong> From going to and
    fro in the earth<strong>,</strong> and from walking up and down in it<strong>.</strong></i> 8 <strong>And the LORD
    said unto Satan, Hast thou considered my servant Job, that there is none like him in the Earth, a perfect and an
    upright man, one that feareth God, and escheweth evil?</strong></p>
<p>9 <i>Then Satan answered the LORD<strong>,</strong> and said<strong>,</strong> Doth Job fear God for
    nought<strong>?</strong></i> 10 <i>Hast not thou made an hedge about him<strong>,</strong> and about his
    house<strong>,</strong> and about all that he hath on every side<strong>?</strong> thou hast blessed the work of his
    hands<strong>,</strong> and his substance is increased in the land<strong>.</strong></i> 11 <i>But put forth thine
    hand now<strong>,</strong> and touch all that he hath<strong>,</strong> and he will curse thee to thy
    face<strong>.</strong></i> 12 <strong>And the LORD said unto Satan:</strong> <i>Behold<strong>,</strong> all that he
    hath is in thy power<strong>;</strong> only upon himself put not forth thine hand<strong>.</strong> So Satan went
    forth from the presence of the LORD</i><strong>.</strong>" (Job 1<strong>:</strong>6-12)</p>
<p><strong>God never needs to try a person with the objective of knowing who that person is.</strong> He knows how it is
    and how each person is going to react<strong>.</strong> When God allows a trial over a human it is to prove to
    others how that person behaves in that trial<strong>.</strong></p>
<p><strong>Some believers, erroneously, call them "trials" to the logical consequences of their sins and
    errors.</strong> God is not sending "trials" to these people<strong>,</strong> they are too weak for that and if
    that were so<strong>,</strong> they would shatter<strong>.</strong> They are suffering the consequences of their
    actions<strong>.</strong> God only permits that type of trial in persons with the quality of Job<strong>,</strong>
    because He knows that those that do not possess that quality will make him look bad if he tries
    them<strong>.</strong></p>
<p><strong>Remember,</strong> <strong>do not confuse the consequences of your sins and errors with trials like
    Job's,</strong> unless God can say that there is none like you in the Earth<strong>,</strong> because you are
    perfect<strong>,</strong> righteous<strong>,</strong> fearful of God and apart from evil<strong>.</strong> If you
    are not of that caliber<strong>,</strong> don't flatter yourself believing that your sorrows are
    trials<strong>.</strong> Avoid becoming vain<strong>.</strong></p>
<p><strong>True trials come from serving Christ knowingly.</strong> There are many believers that suffer the
    consequences of their sins<strong>,</strong> errors and insensibilities<strong>,</strong> but they take comfort in
    saying "they are trials" God gives them<strong>.</strong> Upon saying something so pointless the only thing they
    gain is to deceive themselves and all of those to whom they say it to<strong>.</strong></p>
<p><strong>The trials that Peter refers to in the following passage originate because of our honest, sensible and
    appropriate service to Christ not our stupidities, mistakes, sins or superstitions.</strong> True trials are bad
    things that occur for doing the right thing in the eyes of God<strong>,</strong> like when Paul was whipped in
    Philippi for casting a demon from a young slave woman<strong>,</strong> or when he was stoned for preaching the
    gospel<strong>.</strong> That the true trials come from serving God<strong>,</strong> is manifested in the fact that
    in verse 14 of the passage in question what is said is "If ye be reproached for the name of
    Christ…"<strong>;</strong> it is to say that true trials come as a consequence of the name of
    Christ<strong>.</strong></p>
<p></p>
<p> "12 <i>Beloved<strong>,</strong> <strong>think it not strange concerning the fiery trial which is to try
    you,</strong> as though some strange thing happened unto you<strong>:</strong></i> 13 <i>But</i>
    <i>rejoice<strong>,</strong> inasmuch as ye are partakers of Christ's sufferings<strong>;</strong>
        that<strong>,</strong> when his glory shall be revealed<strong>,</strong> ye may be glad also with exceeding joy<strong>.</strong></i>
    14 <strong>If ye be reproached for the name of Christ,</strong> <i>happy are ye<strong>;</strong> for the spirit of
        glory and of God resteth upon you<strong>;</strong> on their part he is evil spoken of<strong>,</strong> but on
        your part he is glorified<strong>.</strong></i> 15 <i>But let <strong>none of you suffer as a murderer, or as a
        thief, or as an evildoer, or as a busybody in other men's matters.</strong></i> 16 <strong>Yet if any man suffer
        as a Christian,</strong> <i>let him not be ashamed<strong>;</strong> but let him glorify God on this
        behalf</i><strong>.</strong>" (I P 4<strong>:</strong>12-16)</p>
<p> What I said previously is further confirmed in verse 15<strong>,</strong> upon saying that none should endure as a
    murderer<strong>,</strong> thief<strong>,</strong> etc<strong>.;</strong> reaffirming in 16 when it says "Yet when
    any man suffer as a Christian…"<strong>.</strong> It is clearly shown that what Peter was referring to is not what
    many today call "trials"<strong>,</strong> but the real trial which originates in the correct service to God<strong>.</strong>
</p>
<p><strong>If a Christian knocks on a neighbor's door at five in the morning to preach the gospel and the neighbor slaps
    him,</strong> do not say that this is a "trial"<strong>,</strong> because this is merely a consequence of his
    stupidity<strong>.</strong></p>
<p> Others go through life drunk and at the age of fifty convert to Christ and don't drink anymore<strong>.</strong>
    Later they get cirrhosis and say that it is a "trial"<strong>.</strong> These are not trials<strong>;</strong> they
    are a consequence of your past sin<strong>.</strong> Others have beliefs that are not based on the
    Bible<strong>,</strong> but pseudo-Christian superstitions<strong>.</strong> For example<strong>,</strong> they
    believe that if they carry the Bible with them<strong>,</strong> they will be protected from all harm as if the book
    were an amulet<strong>.</strong> They later go towards an evidently harmful place with the Bible in their hands and
    when something that was bound to happen to them occurs<strong>,</strong> say that these are "trials"</p>
<p> True trials always occur due to our service to God in the correct form<strong>,</strong> not due to our
    stupidity<strong>,</strong> sins<strong>,</strong> mistakes<strong>,</strong> false beliefs<strong>,</strong>
    etc<strong>..</strong></p>
<p><strong>It is human foolishness that cannot, or better yet, does not want to link the sufferings of life with the
    sins that are committed.</strong></p>
<p><strong>A Christian wanting to continue in a sin he likes, without losing his salvation,</strong> sometimes deceives
    himself by pretending that he does not believe that what he is doing is sin<strong>;</strong> and refusing to admit
    that there is a connection between what he is going through and his sin<strong>.</strong> If he admitted that
    link<strong>,</strong> it would convince him that God is telling him that what he is doing is sin<strong>;</strong>
    and then continue to sin although the divine message<strong>,</strong> could cost him his
    salvation<strong>,</strong> which he does not want to lose<strong>.</strong> That's why he doesn't admit that
    linkage and refuse to believe that doctrine<strong>.</strong></p>
<p> They try make believe on the one hand that they are doing right<strong>,</strong> and don't do anything that would
    cause them their suffering<strong>;</strong> and on the other hand<strong>,</strong> that they are suffering
    inexplicably and mysteriously bitter sorrows "to try" them<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    