---
import Layout from "../layout/Layout.astro";
---

<Layout title="Two different women anointed Jesus">
    <section>
<p><strong>Two different women anointed Jesus; one was decent, the other was not</strong></p>
<p> I have spoken with many people who confuse the two different cases in which a woman anointed Our Lord, and as a
    result think that it only deals with one case. Because of this confusion some consider that Mary, the sister of
    Lazarus, the friend of Christ, was a prostitute, when in reality she was a decent woman. It was the other woman, the
    one who anointed Jesus in Galilee, to the north, who was a prostitute.</p>
<p> Lazarus and his sisters lived in Bethany, close to Jerusalem, to the south. These passages that deal with anointment
    are the best examples of how necessary it is <strong>to notice details to correctly interpret the
        Scriptures</strong>. This does not mean that we should imaginatively forage what is said; instead we should take
    notice of what is clearly stated.</p>
<p> The passages in Mathew, Mark, and John tell us about the anointment of Jesus by Mary, but in the episode narrated in
    Luke it tells us about a different occasion involving an unknown woman. Lets look at the differences between the two
    cases to acquire a better understanding. As you read the differences between both cases, refer to the corresponding
    passages below.</p>
<p><strong> a)</strong> The act of Mary pouring out the ointment, <strong>took place in her own home, where she lived
    with Martha and Lazarus.</strong> Therefore, it cannot be the same case reported in Lk 7:36-50, <strong>which took
    place in the home of a Pharisee named Simon, and the woman who anointed Our Lord did not live there.</strong></p>
<p><strong> b)</strong> The case of the woman mentioned in Luke occurred way before the case of Mary; <strong>it
    occurred towards the start of Jesus preaching, and in the case of Mary, towards the end of Jesus preaching, in the
    days leading up to his death.</strong> Therefore, the cases reported in Mt 26:6; Mr 14:3; and Jn 12:1 in themselves
    are the same, they report the same episode; but the case reported in Lk 7:36-50 is a different episode, because they
    occurred at different times.</p>
<p><strong> c)</strong> In these three reports <strong>Mary, the sister of Lazarus, is criticized</strong> for pouring
    an ointment that could be sold and proceeds given to the poor; meanwhile in the episode of Luke <strong>the person
        who is criticized is Christ</strong>, for allowing himself to be touched by a sinner; they don't criticize the
    sinner for pouring the ointment.</p>
<p><strong> d)</strong> In the three cases alike, <strong>the hosts are amicable</strong>, and believe in the divinity
    of Jesus; in the case of Luke <strong>the host is a Pharisee that is hostile towards him, and doubt the fact of him
        being a prophet,</strong> because he thought that Jesus did not know what type of woman was touching him.</p>
<p><strong> e)</strong> In the three cases alike, <strong>it's the disciples who become angry</strong>, because they
    would have preferred selling the ointment and giving its proceeds to the poor; in the case of Luke <strong>no one is
        angry about the pouring of the ointment</strong>.</p>
<p><strong> f)</strong> In the case of Lazarus's sister, <strong>the Lord defends Mary's action;</strong> but in the
    case of Luke the same defense does not exist. What we see there is <strong>a demonstration of his divinity and his
        forgiveness;</strong> a demonstration and forgiveness that does not exist in the other three cases. Compare the
    four passages.</p>
<p><strong> g)</strong> In Luke <strong>Jesus links the anointment or pouring of the ointment with the sins committed by
    the woman, her forgiveness, and the lack of hospitality by the Pharisee</strong>. And in the other three cases
    <strong>Jesus links the anointment with his sepulture only.</strong></p>
<p><strong> h)</strong> In the three cases alike, those in Mathew, Mark, and John, the Jews are amicable with the two
    sisters, <strong>they deal with them, they consider them worthy</strong>, they console them and keep them company;
    <strong>they were not considered public sinners</strong>. In the case of Luke, the one who anointed the feet of
    Jesus was considered <strong>a public sinner unworthy of associating with the Jews.</strong></p>
<p><strong>i</strong><strong>)</strong> We know that the case of the sinner occurred in the north, because in Lk 7:1 we
    see that <strong>it mentions Capernaum, and in 7:11 is mentions Nain,</strong> two cities from the north,
    consequently, the episode of the sinner occurred in the north. <strong>Bethany, the city of Mary, was in the
        south</strong>.</p>
<p><strong>Case in Mathew.</strong></p>
<p> "6 <i>Now when Jesus was in Bethany, <strong>in the house of Simon the leper</strong>,</i> 7 <i>There came unto him
    a woman having an alabaster box of very precious ointment, and poured it on his head, as he sat at meat.</i> 8
    <i><strong>But when his disciples saw it</strong>, they had indignation, saying, To what purpose is this waste?</i>
    9 <i>For this ointment might have been sold for much, and <strong>given to the poor</strong>.</i> 10 <i>When Jesus
        understood it, he said unto them, Why trouble ye the woman? For she hath wrought a good work upon me.</i> 11 <i>For
        ye have the poor always with you; but me ye have not always.</i> 12 <i>For in that she hath poured this ointment
        on my body, <strong>she did it for my burial.</strong></i> 13 <i>Verily I say unto you: Wheresoever this gospel
        shall be preached in the whole world, there shall also this, that this woman hath done, be told for a memorial
        of her</i>." (Mt 26:6-13)</p>
<p><strong>The Case in Mark.</strong></p>
<p> "3 <i>And <strong>being in Bethany in the house of Simon the leper,</strong> as he sat at meat, there came a woman
    having an alabaster box of ointment of spikenard very precious; and she brake the box, and poured it on his
    head.</i> 4 <i>And there were some that had indignation within themselves, and said: Why was this waste of the
    ointment made?</i> 5 <i>For it might have been sold for more than three hundred pence, and <strong>have been given
    to the poor. And they murmured against her</strong>.</i> 6 <i>And Jesus said: Let her alone; why trouble ye her? She
    hath wrought a good work on me.</i> 7 <i>For ye have the poor with you always, and whensoever ye will, ye may do
    them good, but me ye have not always.</i> 8 <i>She hath done what she could; she is come aforehand <strong>to anoint
    my body to the burying.</strong></i> 9 <i>Verily I say unto you, wheresoever this gospel shall be preached
    throughout the whole world, this also that she hath done shall be spoken of for a memorial of her</i>." (Mr 14:3-9)
</p>
<p><strong>The Case in John.</strong></p>
<p>"1 <i>Then Jesus, six days before the Passover, <strong>came to Bethany, where Lazarus was</strong>, which had been
    dead, whom he raised from the dead. 2 <strong>There they made him a supper</strong>; and Martha served, but Lazarus
    was one of them that sat at the table with him. 3 Then took Mary a pound of ointment of spikenard, very costly, and
    anointed the feet of Jesus, and wiped his feet with her hair; and the house was filled with the odour of the
    ointment. 4 <strong>Then saith one of his disciples</strong>, Judas Iscariot, Simon's son, which should betray him:
    5 Why was not this ointment sold for three hundred pence, and <strong>given to the poor?</strong> 6 This he said,
    not that he cared for the poor, but because he was a thief, and had the bag, and bare what was put therein. 7 Then
    said Jesus: Let her alone, <strong>against the day of my burying hath she kept this</strong>. 8 For the poor always
    ye have with you; but me ye have not always</i>." (Jn 12:1-8)</p>
<p><strong>The Case in Luke</strong></p>
<p> "36 <strong>And one of the Pharisees desired him that he would eat with him.</strong> <i>And he went into <strong>the
    Pharisee's house</strong>, and sat down to meat. 37 And, behold, <strong>a woman in the city, which was a
    sinner,</strong> when she knew that Jesus sat at meat <strong>in the Pharisee's house</strong>, brought an alabaster
    box of ointment, 38 and stood at his feet behind him weeping, and began to wash his feet with tears, and did wipe
    them with the hairs of her head, and kissed his feet, and anointed them with the ointment. 39 Now <strong>when the
        Pharisee which had bidden him saw it, he spake within himself, saying: This man, if he were a prophet</strong>,
    would have known who and what manner of woman this is that toucheth him, for she is a sinner.</i></p>
<p><i> 40 And Jesus answering said unto him, Simon, I have somewhat to say unto thee. And he saith: Master, say on. 41
    There was a certain creditor which had two debtors; the one owed five hundred pence, and the other fifty. 42 And
    when they had nothing to pay, he frankly forgave them both. Tell me therefore, which of them will love him most? 43
    Simon answered and said, I suppose that he, to whom he forgave most. And he said unto him: Thou hast rightly judged.
    44 And he turned to the woman, and <strong>said unto Simon:</strong> Seest thou this woman? <strong>I entered into
        thine house, thou gavest me no water for my feet, but she hath washed my feet with tears, and wiped them with
        the hairs of her head. 45 Thou gavest me no kiss, but this woman since the time I came in hath not ceased to
        kiss my feet. 46 My head with oil thou didst not anoint, but this woman hath anointed my feet with
        ointment.</strong></i></p>
<p><i> 47 Wherefore I say unto thee: Her sins, which are many, are forgiven; for she loved much, but to whom little is
    forgiven, the same loveth little. 48 And he said unto her: Thy sins are forgiven. 49 <strong>And they that sat at
        meat with him began to say within themselves: Who is this that forgiveth sins also?</strong> 50 And he said to
    the woman: Thy faith hath saved thee; go in peace</i>." (Lc 7:36-50)</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    