<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Usefullness for the Church, society and the Nation of the presence and prayer of Christians</title>
</head>
<body>
<p>Usefulness for the Church, society and the nation of the presence and prayer of the saintly</p>
<p></p>
<p>The presence of the godly deviates punishment. The best testimony that we find within our reach to prove us that the
    presence of those that love God deviate the punishment of the totality of where they find themselves, is in the case
    of Sodom, Gomorra, Adma and Seboim. Even though in this case the punishment was not deviated, it is the same Lord
    God who tells us that if there would have been at least ten just persons in that place, He would have forgiven the
    place because of his love for these ten. </p>
<p> It is evidenced in this passage that the presence in a society of people who love God<strong>,</strong>
    postpones<strong>,</strong> deviates or prevents punishment for those who deserve it<strong>.</strong> <strong>If
        the non-believers would know such thing, they would not despise the Christians who live in their
        cities. </strong></p>
<p> God was prepared to detain the much deserved punishment in the region of Sodom if he would have found fifty just men
    (26)<strong>;</strong> and even if there would have been just ten (32)<strong>.</strong> It is incredible that in
    that region<strong>,</strong> corruption was so generalized that there could not be ten people for the love of whom
    God would forgive the whole region<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>And the LORD said<strong>: If I find in Sodom fifty righteous within the city, then I will spare
    all the place</strong> for their sakes</i><strong>."</strong> (Gn 18<strong>:</strong>26)</p>
<p></p>
<p></p>
<p> "<i>And he said</i><i>,</i> <i>Oh let not the Lord be angry</i><i>,</i> <i>and I will speak yet but this once</i><i>:</i>
    <i>Peradventure ten shall be found there</i><i>.</i> <i>And he said</i><i>,</i> <i>I will not destroy it for ten's
        sake</i>." (Gn 18:32) </p>
<p></p>
<p> Afterwards<strong>,</strong> in chapter 19 we see that there were no ten<strong>,</strong> there wasn't even
    four<strong>!</strong> Of the four that were saved from the destruction<strong>,</strong> by removing them from the
    city<strong>,</strong> one was destroyed because of disobedience<strong>,</strong> the wife who turned to look
    (26)<strong>;</strong> and two were so infected by corruption in general that they committed incest with their
    father (19<strong>:</strong>31-38)<strong>.</strong> Truly<strong>,</strong> not even ten<strong>!</strong></p>
<p><strong>If those that oppose the teachings of Christianity in school and public places</strong> of our society were
    more intelligent<strong>,</strong> they would not oppose it<strong>.</strong> <strong>Every time they end their
        destructive task of "dechristianizing" a nation, the perverted society eats them up. History is
        witness. </strong></p>
<p><strong>The prayers of Christians preserve the nation in which they live in.</strong> The intercessory prayers of the
    Godly<strong>,</strong> in favor of their fellow man help in the preservation of those that are the objective of
    their prayer<strong>.</strong> A clear case is the one of Abraham and Lot<strong>.</strong> Let's
    see<strong>.</strong></p>
<p> The mercy God had with Abraham freed Lot, as we see in Genesis 19:29. By what is said in this verse, we can gather
    that because of having mercy upon Abraham it was that God liberated Lot, apart from the fact that Lot did not
    participate in the abomination that surrounded him and as a matter of fact, condemned it. </p>
<p></p>
<p><strong>"</strong><i>And it came to pass<strong>,</strong> when God destroyed the cities of the
    plain<strong>,</strong> <strong>that God remembered Abraham, and sent Lot out of the midst of the
        overthrow,</strong> when he overthrew the cities in the which Lot dwelt</i><strong>."</strong> (Gn
    19<strong>:</strong>29)</p>
<p><a href="biblenotes.html">Back to the Index</a></p>
</body>
</html>