<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>La mujer y el velo en la época bíblica</title>
</head>
<body>
<p></p>
<p></p>
<p><strong>La mujer y el velo en la época bíblica</strong></p>
<p> Existe muy a menudo entre los cristianos el error de confundir las costumbres musulmanas<strong>,</strong> con las
  costumbres de las épocas bíblicas<strong>.</strong> Muchos creen<strong>,</strong> incluso algunos eruditos y
  profesores de seminario<strong>,</strong> que las mujeres de las épocas bíblicas vivían con el rostro tapado por un
  velo<strong>,</strong> como las musulmanas de hoy<strong>.</strong> No hay tal cosa<strong>.</strong> Como costumbre
  nupcial la mujer usaba velo para presentarse ante el hombre con quien se iba a casar<strong>,</strong> pero eso era
  solamente con ese propósito<strong>,</strong> el resto de sus actividades y de su vida discurría a rostro
  descubierto<strong>.</strong> Hoy en día también durante la ceremonia la novia usa un velo<strong>.</strong></p>
<p><strong>Las mujeres decentes no tenían que taparse el rostro,</strong> quienes se tapaban el rostro eran las
  prostitutas<strong>,</strong> como se ve en el pasaje que más abajo presento<strong>,</strong> en el que Judá al ver a
  Thamar su nuera<strong>,</strong> con un velo sobre el rostro<strong>,</strong> la toma por una
  prostituta<strong>.</strong> Incluso dice que la razón por la que él se creía que era una prostituta<strong>,</strong>
  era porque tenía un velo sobre el rostro<strong>.</strong> Si todas las mujeres de aquella época hubieran acostumbrado
  a usar velo sobre sus rostros<strong>,</strong> no hubiera Judá calificado de prostituta a una mujer a quien veía con
  un velo sobre el rostro<strong>.</strong></p>
<p></p>
<p><strong>"</strong>14 <i>Entonces quitó ella de sobre sí los vestidos de su viudez<strong>,</strong> y <strong>se
  cubrió con un velo,</strong> y se arrebozó<strong>,</strong> y se puso a la puerta de las aguas que están junto al
  camino de Timnath<strong>;</strong> porque veía que había crecido Sela<strong>,</strong> y ella no era dada a él por
  mujer<strong>.</strong></i> 15 <strong>Y la vio Judá, y la tuvo por ramera, porque había ella cubierto su
  rostro</strong><strong>."</strong> (Gn 38<strong>:</strong>14-15)</p>
<p></p>
<p> De la lectura de estos dos versículos anteriores<strong>,</strong> se hace evidente que las mujeres decentes no
  andaban con el rostro cubierto<strong>,</strong> sino las prostitutas<strong>.</strong> El error de muchos es
  confundir las costumbres bíblicas con las costumbres musulmanas<strong>.</strong></p>
<p> Esta misma idea se percibe en Gn 24<strong>:</strong>65 donde se ve que Rebeca andaba sin velo delante del criado de
  Abraham y de los diez hombres que él tenía bajo su mando<strong>.</strong> Rebeca sólo se vino a poner el velo<strong>,</strong>
  cuando vio que Isaac<strong>,</strong> su futuro esposo<strong>,</strong> venía a encontrarse con
  ella<strong>.</strong> Si Rebeca hubiera usado siempre el velo<strong>,</strong> no se lo hubiera tenido que poner
  cuando el criado de Abraham le dijo que era su novio el que venía hacia ella<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Porque había preguntado al criado<strong>:</strong> <strong>¿</strong>Quién es este varón que
  viene por el campo hacia nosotros<strong>?</strong> Y el siervo había respondido<strong>: Este es mi señor.</strong>
  <strong>Ella entonces tomó el velo, y se cubrió</strong></i><strong>."</strong> (Gn 24<strong>:</strong>65)</p>
<p></p>
<p> Se ve claramente que Rebeca estaba sin velo delante del criado de Abraham<strong>,</strong> y por
  ende<strong>,</strong> delante de todos los hombres que iban en la comitiva<strong>.</strong></p>
<p><strong> </strong> Más adelante<strong>,</strong> en Gn 29<strong>:</strong>17 se dice que Rachel (sobrina de Rebeca)
  tenía linda cara<strong>.</strong> No da eso mucho margen a pensar que la tenía escondida detrás un
  velo<strong>.</strong></p>
<p> Además<strong>,</strong> no recuerdo ningún pasaje en el que se nos haga pensar que las mu­jeres del Medio Oriente
  <strong>de aquella época</strong> andaban con sus caras cubiertas de velo<strong>.</strong> Eso vino después que los
  musulmanes impusieron a sangre y fuego su religión y sus costumbres en la zona<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>Y los ojos de Lea eran tiernos<strong>,</strong> pero <strong>Rachel era de lindo
  semblante</strong> y de hermoso parecer</i><strong>."</strong> (Gn 29<strong>:</strong>17)</p>
<p></p>
<p> Si en Rachel se podía apreciar un lindo rostro<strong>,</strong> es porque andaba sin velo<strong>,</strong> porque
  oculto por un velo todos los rostros son iguales<strong>.</strong></p>
<p> Para interpretar correctamente la Biblia<strong>,</strong> es bueno conocer las costumbres
  antiguas<strong>,</strong> pero a través de la Biblia<strong>,</strong> no a través de libros de autores
  confundidos<strong>.</strong></p>
<p><a href="NotasBiblicas.html"><strong>Volver al índice</strong></a></p>
<p><a href="NotasBiblicas.html"> </a></p>
</body>
</html>