<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Isaías 7: 14 es prueba de que Cristo es el Mesías</title>
</head>
<body>
<p><strong>MAHOMETANOS, JUDÍOS Y LA VIRGEN.</strong></p>
<p> Esta profecía es una clarísima señal para todo aquel que quiera examinarlo con sinceridad, de que Jesucristo es el
  Mesías, al igual que lo es la profecía de las setenta semanas. Los judíos impugnan esta profecía diciendo que la
  palabra hebrea de la que se traduce "virgen", significa lo mismo una virgen que una mujer joven. Esta misma
  argumentación utilizan los "preclaros" "expertos" lingüistas de algunos seminarios "cristianos" que parecen estar más
  interesados en hacerle carantoñas a los rabinos y ayatolas haciendo ver que ellos no son "fanáticos", que en buscar la
  verdad de Dios. Veamos.</p>
<p> "<i>Por tanto <strong>el mismo Señor os dará señal</strong>: He aquí que <strong>la virgen concebirá,</strong></i>
  <strong> y parirá hijo,</strong> <i>y llamará su nombre Emmanuel . Comerá manteca y miel, para</i> <i> que sepa
    desechar lo malo y escoger lo bueno. Porque antes que el niño sepa</i> <i> desechar lo malo y escoger lo bueno, la
    tierra que tú aborreces será dejada</i> <i> de sus dos reyes</i>." ( Isa 7:14 )</p>
<p> Si efectivamente, la palabra utilizada en hebreo puede significar lo mismo "virgen" que "mujer joven", es evidente a
  cualquiera, que la acepción correcta a escoger para la traducción es la de "virgen". ¿Por qué?. El versículo 14 dice
  que Dios nos dará <strong>una señal</strong>, o sea, algo <strong>no usual</strong>, <strong>algo milagroso.</strong>
  ¿Quién pensaría que sería una señal de parte de Dios el que una mujer joven tuviera un hijo? ¿No es eso usual? Sin
  embargo, <strong>sí</strong> <strong>es una gran señal el que una virgen tenga un hijo. </strong> Por lo tanto, aún
  siendo verdad que la palabra hebrea puede significar "mujer joven" o "virgen", es más que razonable que, dado el
  contexto, de los dos significados que dicen tener la palabra, se escoja, para traducirla, el significado de "virgen",
  puesto es de los dos significados, el único que constituye una señal, un milagro, algo no usual. Digo esto a pesar de
  lo que digan los lingüistas, los modernistas, los expertos y los seminarios "cristianos". ¿Por qué pues esta gente
  persiste en aceptar y regar entre sus discípulos estos errores? ¿Es que quieren confundir al cristianismo y llevarlo
  al ecumenismo? <strong>Otros impugnan el pasaje</strong>, (judíos y musulmanes), diciendo que lo dicho en los
  versículos mencionados (Isa 7:14 -16) <strong>se refiere al hijo de Isaías,</strong> del que se habla en el siguiente
  capítulo, en 8: 3- 4. He aquí otra manifestación de mala intención, o de ligereza en los "expertos". <strong>Si lo de
    la frase "la virgen concebirá un hijo" se refiere a la esposa e hijo de Isaías,</strong> entonces tenemos que llegar
  a la conclusión de que ellos aceptan para Isaías, su esposa y su hijo, el milagro de concepción virginal que se niegan
  a aceptar para José, María y Jesús. No sería señal alguna que la esposa de Isaías tuviera un hijo, eso lo tienen todas
  las mujeres. Si por otra parte, no alegan que la esposa de Isaías diera a luz siendo virgen, <strong>entonces tendrían
    que llegar a la conclusión de que, a pesar de que Dios ofreció una señal, ésta no se efectuó,</strong> porque no hay
  señal ni milagro alguno en que una mujer joven, la esposa de Isaías en este caso, dé a luz un hijo. <strong>Además de
    esto hay que fijarse en que, aunque en ambos pasajes parece estarse hablando de la misma cosa,</strong> en el
  primero (capítulo 7) dice que el niño se llamará Emanuel, y en el segundo (capítulo 8) dice que se llamará
  Maher-Salal-hash-baz. También ambos nombres tienen significados diferentes: el primero significa "Dios con nosotros,"
  lo cual concuerda con lo que Jesucristo proclamara de sí mismo: que él era Hijo de Dios. El segundo significa "el
  despojo se apresura, la presa se precipita". En el primero dice "antes que el niño sepa desechar lo malo y escoger lo
  bueno"; en el segundo dice "antes que el niño sepa decir padre mío y madre mía. Además, <strong>el espíritu de lo que
    se dice para el primero, es de paz, el espíritu de lo que se dice para el segundo es de castigo.</strong> Se ve que
  <strong>no</strong> se trata del mismo asunto, sino de dos cosas diferentes con algo de semejanza. Hay también algunos
  profesores de seminario y supuestos eruditos bíblicos que dicen que ellos están en duda sobre si Isaias 7: 14 se
  refiere a la Virgen María o a alguna otra persona. Evidentemente estos profesores y eruditos <strong>saben mucho de
    muchas cosas, pero no de la Biblia,</strong> porque en Mt 1: 21-23 dice bien claramente que esa profecía se refiere
  a la Virgen María. Por seguro que esos profesores y eruditos que así piensan, no saben más que Mateo, ni que el
  Espíritu Santo que fue quien inspiró a Mateo en la escritura de este evangelio.</p>
<p> "<i>Y parirá un hijo, y llamarás su nombre JESUS, porque él salvará a su pueblo</i> <i> de sus pecados. <strong>Todo
  esto aconteció para que se cumpliese lo que fué dicho</strong></i> <strong> por el Señor, por el profeta</strong> <i>que
  dijo: He aquí <strong>la virgen concebirá y parirá</strong></i> <strong> un hijo</strong><i>, y llamarás su nombre
  Emmanuel, que declarado, es: Con nosotros Dios</i>." ( Mt 1: 21-23 )</p>
<p> ¿Qué se traen entre manos esos profesores de seminario y "eruditos" bíblicos? ¿Es que son ellos unos ignorantes o es
  que están tratando de confundir al cristianismo y destuirlo desde adentro? Si San Mateo Apóstol nos enseña que esta
  profecía se refiere a la Virgen María, ¿quiénes son esos tontos arrogantes para echar dudas sobre esa profecía? Es
  interesante pensar que a pesar de que ni el judaísmo ni el islamismo quieren admitir que esta profecía se refiere al
  Mesías, no obstante, basado en esta profecía se ha formado una de las mayores religiones del mundo: la cristiana. Otro
  tanto se puede decir para las otras profecías que demuestran que Jesús es el Mesías, y que estos dos grupos no quieren
  admitir: la de Isa 52: 13 a 53: 12; Dan 9: 24 -27; Haggeo 2: 6 - 9.</p>
<p><strong><a href="NotasBiblicas.html">Volver al indice</a></strong></p>
</body>
</html>