<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>"Warehouse" of souls before birth</title>
</head>
<body>
<p><strong>"Warehouse" of souls before birth</strong></p>
<p><strong>What is the "warehouse of souls"</strong></p>
<p> There are things in the Bible that are not said<strong>,</strong> but that one can gather from the information
    received in the Bible<strong>.</strong> In those cases<strong>,</strong> because we cannot present a clear reference
    to the subject in the Bible<strong>,</strong> <strong>prudence advises us to present our observation as a theory,
        not a Biblical doctrine.</strong> That is the case with the <strong>"</strong>storage of souls before
    birth<strong>",</strong> a theory I explain below<strong>.</strong></p>
<p> My opinion is that God has already created all the <strong>human souls</strong> that are going to
    exist<strong>,</strong> and that He has them stored in some place whereby although they exist<strong>,</strong> they
    do not feel nor suffer<strong>,</strong> because they have no flesh<strong>,</strong> which is what places the human
    soul<strong>,</strong> being spiritual<strong>,</strong> in contact with the physical world<strong>.</strong> From
    that place which I have supposed<strong>,</strong> God sends or his angels take each soul to the body where they
    should live<strong>.</strong> I suppose that this occurs at some point between conception and the first or second
    year of life<strong>,</strong> a time which can be variable in each case<strong>.</strong> Perhaps this may be the
    reason why some remember things about when they were one or two years old and some before and some
    after<strong>.</strong></p>
<p><strong>Due to the fact that they have no sensation whatsoever, they cannot perceive that they exist;</strong> and
    due to the fact that they have never had any sensation<strong>,</strong> they cannot remember them<strong>,</strong>
    and therefore<strong>,</strong> they cannot perceive that they exist by those means (their
    memories)<strong>.</strong> It is like a fetus in a maternal womb<strong>;</strong> but in reality more isolated
    than a fetus<strong>,</strong> without the slightest indication or sensation that they exist<strong>.</strong>
    However<strong>,</strong> these souls exist<strong>,</strong> God knows them<strong>,</strong> He knows how they are
    and how they will develop<strong>,</strong> what they will do<strong>,</strong> etc<strong>..</strong> I call that
    supposed place <strong>"</strong>a storage of created souls<strong>".</strong> It seems to be that this <strong>existence
        without knowledge,</strong> is referenced in Ecclesiastes 4<strong>:</strong>10 and further in Ecclesiastes
    6<strong>:</strong>10<strong>.</strong></p>
<p></p>
<p><strong>"</strong>2 <i>Wherefore I praised the dead which are already dead more than the living which are yet
    alive<strong>.</strong></i> 3 <i>Yea<strong>,</strong> better is he than both they<strong>,</strong> <strong>which
    hath not yet been,</strong> who hath not seen the evil work that is done under the sun</i><strong>."</strong>
    (Ecclesiastes 4<strong>:</strong>2-3)</p>
<p></p>
<p><strong>"<i>That which hath been is named already,</i></strong> <i>and it is known that it is man<strong>,</strong>
    neither may he contend with him that is mightier than he</i><strong>."</strong> (Ecclesiastes 6<strong>:</strong>10)
</p>
<p><strong>In the first passage,</strong> it tells us that the ones who have not yet been are better off than those who
    are alive and those who have lived and died<strong>.</strong> <strong>Which means, the ones who have not yet been
        sent to a body of flesh.</strong></p>
<p> This cannot be referring to one who has not been created<strong>,</strong> because <strong>someone who has not yet
    been in existence cannot be neither better nor worse than one who exists.</strong> Therefore<strong>,</strong> we
    have to think that it refers to someone who is in existence<strong>,</strong> but has not been born as
    yet<strong>.</strong> A created soul<strong>,</strong> who has not had a conscious existence<strong>,</strong> as in
    a fetus in the womb of its mother<strong>,</strong> a soul that will come to live among us for the first and only
    time<strong>,</strong> and that later will depart to wherever God disposes<strong>,</strong> Heaven or
    Hell<strong>.</strong></p>
<p><strong>The second passage declares</strong> that the one who already is<strong>,</strong> his name has been
    named<strong>.</strong> This is to say that he who has been born<strong>,</strong> was known in
    advance<strong>,</strong> his name and qualities were known<strong>.</strong> This<strong>,</strong> in a certain
    way is in concordance with that which can be reasoned from the prophesies made upon Josiah<strong>,</strong> king of
    Judah and upon Cyrus<strong>,</strong> the king of Persia<strong>,</strong> both of which were made centuries in
    advance to the birth of the one about whom the prophecy is mentioned<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>And<strong>,</strong> behold<strong>,</strong> <strong>there came a man of God out of Judah by
    the word of the LORD</strong> unto Bethel<strong>;</strong> and Jeroboam stood by the altar to burn
    incense<strong>.</strong></i> 2 <i>And he cried against the altar in the word of the LORD<strong>,</strong> and said<strong>:</strong>
    O altar<strong>,</strong> altar<strong>,</strong> thus saith the LORD<strong>:</strong> <strong>Behold, a child
        shall be born unto the house of David, Josiah by name;</strong> and upon thee shall he offer the priests of the
    high places that burn incense upon thee<strong>,</strong> and men's bones shall be burnt upon
    thee</i><strong>."</strong> (I Kings 13<strong>:</strong>1-2)</p>
<p></p>
<p><strong>"</strong>44<strong>:</strong>28 <strong>That</strong> <strong>saith of Cyrus:</strong> <i>He is my
    shepherd<strong>,</strong> and <strong>shall perform all my pleasure,</strong> even saying to
    Jerusalem<strong>:</strong> Thou shalt be built<strong>;</strong> and to the Temple<strong>:</strong> Thy foundation
    shall be laid<strong>.</strong></i> 45<strong>:</strong>1 <strong>Thus saith the LORD to his anointed, to
    Cyrus,</strong> <i>whose right hand I have holden<strong>,</strong> to subdue nations before him<strong>;</strong>
    and I will loose the loins of kings<strong>,</strong> to open before him the two leaved gates<strong>;</strong> and
    the gates shall not be shut</i><strong>."</strong> (Isaiah 44<strong>:</strong>28 to 45<strong>:</strong>1)</p>
<p> From what we have seen in these four verses<strong>,</strong> it gives us the sensation that the souls were created
    at the same time<strong>,</strong> but were not all sent at the same time to dwell in a body of
    flesh<strong>,</strong> but that are sent progressively according to the convenience of divine
    plans<strong>.</strong></p>
<p><strong>But let's suppose that this theory is wrong</strong> and let's analyze the alternatives that we would then
    have to admit<strong>.</strong></p>
<p> If we didn't admit the theory that <strong>God created at the same time all the souls</strong> of humans that are
    going to born until the last day<strong>,</strong> we would have to admit one of these two
    alternatives<strong>:</strong> <strong>a) either God has not ceased in this task of creation</strong> since He began
    around 6<strong>,</strong>000 years ago<strong>;</strong> or <strong>b) God ceased creating,</strong> but God has
    given flesh which is physical<strong>,</strong> the ability to generate the soul<strong>,</strong> which is a
    spiritual entity<strong>,</strong> which is to say that the soul creates itself<strong>,</strong> automatically
    starting from the masculine or feminine gamete<strong>,</strong> in the same way that the skeleton<strong>,</strong>
    muscles<strong>,</strong> nerves<strong>,</strong> etc<strong>.,</strong> of a fetus are made<strong>.</strong></p>
<p><strong>Accepting alternative "a"</strong> (that God has not ceased in his task of creation)<strong>,</strong> would
    contradict Genesis 2<strong>:</strong>1-3<strong>,</strong> Hebrews 4<strong>:</strong>4<strong>,</strong> 10 as
    well as all of the Bible<strong>,</strong> which indicates to us that God created the world in six days and rested
    on the seventh<strong>,</strong> and that from that time forward all matter functions
    automatically<strong>,</strong> reproducing<strong>,</strong> changing form<strong>,</strong> etc<strong>.,</strong>
    according to the laws established by God<strong>,</strong> which matter cannot cease fulfilling<strong>.</strong> In
    that case we would have to leave this healthy teaching<strong>,</strong> and think that God from the point of
    creation continued creating souls in order to place them in the bodies of thousands and thousands of babies that are
    born in the world day and night<strong>.</strong> <strong>Absurd!</strong></p>
<p></p>
<p><strong>"</strong>1 <i>Thus</i> <i>the heavens and the Earth were finished<strong>,</strong> and all the host of them<strong>.</strong></i>
    2 <i>And on the seventh day God ended his work which he had made<strong>; and he rested on the seventh day from all
        his work which he had made.</strong></i> 3 <i>And God blessed the seventh day<strong>,</strong> and sanctified
        it<strong>,</strong> <strong>because that in it he had rested from all his work which God created and
            made</strong></i><strong>."</strong> (Genesis 2<strong>:</strong>1-3)</p>
<p></p>
<p><strong>"</strong><i>For he spake in a certain place of the seventh day on this wise<strong>:</strong> <strong>And
    God did rest the seventh day from all his works</strong></i><strong>."</strong> (Hebrews 4<strong>:</strong>4)</p>
<p></p>
<p><strong>"</strong><i>For he that is entered into his rest<strong>,</strong> he also hath ceased from his own
    works<strong>,</strong> as <strong>God did from his</strong></i><strong>."</strong> (Hebrews 4<strong>:</strong>10)
</p>
<p><strong>Admitting theory "b"</strong> (the soul creates itself<strong>,</strong> automatically as part of the flesh)
    steers us in something even more illogical as it is to think that something spiritual like the
    soul<strong>,</strong> is produced by something physical as is the body<strong>,</strong> and that the nonphysical
    thing which is the soul<strong>,</strong> multiplies itself in the sexual cells of man to later acquire something
    larger<strong>,</strong> because of nutrition<strong>.</strong> This is like to the Russellite
    theory<strong>,</strong> which affirm that the soul<strong>,</strong> as something non-physical does not exist
    <strong>and is, therefore, complete absurd.</strong></p>
<p><strong>Specifically: either we accept that a "storage or warehouse of souls" exists or we fall into one of two of
    the absurd.</strong></p>
<p><strong>I don't think there is any other alternative, but if someone sees an alternative based in the Bible, please
    write to me and send it in a clear manner, like I do, because I will be very grateful.</strong> Same thing can do if
    no other alternative he sees<strong>,</strong> but find a lack of logic consistency<strong>,</strong> internal or
    external<strong>,</strong> to the theory of the storage of souls<strong>,</strong> which I hereby
    explain<strong>;</strong> or if you see errors in the chain of reasoning made in order to reach such a
    conclusion<strong>.</strong></p>
<p><strong>The existence of a "storage of souls" perfectly agrees with "circumstantial predestination",</strong> which
    say that God can predestinate the circumstances in which a human being must live his existence<strong>,</strong>
    according to divine plans<strong>,</strong> but very different is the <strong>"</strong>absolute
    predestination<strong>",</strong> which affirm that God predestinates each person to be saved or
    lost<strong>.</strong> God does not force some to be saved and others to be damned or lost<strong>,</strong> but
    since He knows them in advance<strong>,</strong> since He <strong>"</strong>sees<strong>"</strong> how they are in
    the <strong>"</strong>warehouse<strong>",</strong> He sends some souls to be born at a certain
    time<strong>,</strong> family<strong>,</strong> race or nation and others to others<strong>.</strong></p>
<p> This is similar to the difference that can be made by a sculptor upon looking at different materials or different
    types of marble he has in his storage<strong>,</strong> with which he intends to sculpt statues<strong>.</strong> He
    will know how a statue will be or will look by taking a glance at the material which he intends to
    sculpt<strong>,</strong> thanks to having the appropriate knowledge and experience for it<strong>.</strong></p>
<p><strong>Pharaoh's soul that did not want to let the Israelites out of Egypt,</strong> was sent to be born in the body
    that was developing in the womb of the wife of the previous Pharaoh<strong>;</strong> in a way that this soul that
    was malicious and obstinate came to the world in the time<strong>,</strong> place and family that was convenient to
    God's plans<strong>.</strong> In that sense<strong>,</strong> God predestined that soul<strong>,</strong> but he did
    not predestine it to be malicious or obstinate<strong>,</strong> he predestined it to be there<strong>.</strong></p>
<p><strong>The same can be said about Judas.</strong> If his soul would have been sent to the world 100 years before or
    100 years later<strong>,</strong> it would not have been possible to betray Jesus<strong>.</strong> If that
    particular soul would have been sent at the same time Jesus lived<strong>,</strong> but not to
    Israel<strong>,</strong> but to the womb of an American Indian<strong>,</strong> he also would have not been able to
    betray Jesus<strong>.</strong> He would have betrayed the chief of his tribe or his father<strong>,</strong> but not
    the Lord<strong>.</strong> <strong>God predestined him circumstantially to come at a time, place and circumstance in
        which he could betray Jesus; because God knew that he was a traitor, not because God predestined him to be a
        traitor.</strong></p>
<p> Even with all the circumstances mentioned<strong>,</strong> fulfilled in favor of the possibility of betraying the
    Lord<strong>,</strong> <strong>if Jesus would not have elected him as one of his Apostles, he would not have been
        able to betray him,</strong> he would not have been able to put into effect the tendency to be a traitor<strong>.</strong>
    A tendency that had developed in him after his birth<strong>,</strong> without God having created him that
    way<strong>.</strong> Therefore<strong>,</strong> <strong>God predestined him to betray Jesus Christ, not to be a
        traitor.</strong> God knew that he would develop that malicious tendency and placed him where he could use that
    tendency with Christ<strong>,</strong> but he didn't predestine him to be a traitor<strong>.</strong></p>
<p> It is not logical for God to make one bad and later become angry because he is bad<strong>,</strong> and punishes
    him sending him to Hell<strong>.</strong> <strong>This is not the type of justice that God teaches us throughout the
        entire Bible,</strong> and we<strong>,</strong> in order to know what is just or unjust must seek to be guided
    by what God teaches us in the Bible<strong>.</strong> What the Bible teaches is not absolute
    predestination<strong>.</strong> <strong>To believe that is to flirt with blasphemy.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>