
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Who could kill Cain?</title>
</head>
<body>
<p><strong>Who could kill Cain?</strong></p>
<p></p>
<p></p>
<p> If we superficially read what the Bible says in Gn 4: 15, we may think that there were only four to twelve people on
    the planet during Cain's life span, and so, it seemed unnecessary to put a mark on Cain so that no one would kill
    him.</p>
<p></p>
<p></p>
<p> "…<i>And the LORD set a mark upon Cain, <strong>lest any finding him</strong></i></p>
<p><i><strong> should kill him</strong></i>." ( Gn 4; 15 )</p>
<p></p>
<p></p>
<p> Before arriving</p>
<p> to this wrong conclusion, we need to remember that all people who existed before the Flood lived over nine
    centuries, as we can see in Genesis chapter five, verses 5, 8, 11, 17 and 20. Also, we can see in this chapter that
    these people could beget children during almost their entire lives. <strong>According to Gn 5: 15, Mahalaleel begot
        his first child at age 65, and according to Gn 5: 32, at age 500 Noah begot his children</strong>. <strong>From
        this we can conclude that they could beget children from 65 to 500 years old, during a span of at least 435
        years.</strong></p>
<p><strong>During this time there was not contraceptive methods</strong>; they really didn't need them, because the soil
    provided plenty of food for their offspring. This meant that couples could have a child every three years, or every
    five years. Even having a child every ten years, any couple could have easily had forty or fifty children, or even
    more, during the minimum of 435 years of sexual activity we have calculated. This is why verses 4, 7, 10, 13, etc.,
    say that <strong>they begot sons and daughters.</strong></p>
<p> As we can see in the book of Job, he begot 20 children with his only wife ( Job 1: 2 and 42: 13-17 ). Job did not
    belong to the generations that were born before the Flood, therefore, his life span was not that big, but
    notwithstanding, he begot 20 children. This means that those generations that were born before the Flood could have
    easily begoten 50 or even more children over their nine centuries lifespan.</p>
<p></p>
<p></p>
<p> "<i>1 This is the book of the generations of Adam. In the day</i></p>
<p><i> that God created man, in the likeness of God made He him; </i></p>
<p><i> 2 male and female created He them; and blessed them, and </i></p>
<p><i> called their name Adam, in the day when they were created. </i></p>
<p><i> 3 And Adam lived an hundred and thirty years, and begat a </i></p>
<p><i> son in his own likeness, after his image; and called his name </i></p>
<p><i> Seth. 4 And the days of Adam after he had begotten Seth were</i></p>
<p><i> eight hundred years; and he begat sons and daughters. 5 And </i></p>
<p><i> all the days that Adam lived were <strong>nine hundred and thirty </strong></i></p>
<p><i><strong> years</strong>; and he died. 6 And Seth lived an hundred and five years, </i></p>
<p><i> and begat Enos. 7 And Seth lived after he begat Enos eight </i></p>
<p><i> hundred and seven years, and begat sons and daughters. 8 And </i></p>
<p><i> all the days of Seth were <strong>nine hundred and twelve years;</strong> and he </i></p>
<p><i> died. 9 And Enos lived ninety years, and begat Cainan; 10 and </i></p>
<p><i> Enos lived after he begat Cainan eight hundred and fifteen years, </i></p>
<p><i> and begat sons and daughters. 11 And all the days of Enos were </i></p>
<p><i> <strong>nine hundred and five years</strong>; and he died. 12 And Cainan lived </i></p>
<p><i> <strong>seventy years</strong>, and begat Mahalaleel. 13 And Cainan lived after </i></p>
<p><i> he begat Mahalaleel eight hundred and forty years, and begat sons </i></p>
<p><i> and daughters. 14 And all the days of Cainan were <strong>nine hundred </strong></i></p>
<p><i><strong> and ten years</strong>; and he died. 15 And Mahalaleel lived <strong>sixty and five </strong></i></p>
<p><i><strong> years</strong>, and begat Jared. 16 And Mahalaleel lived after he begat </i></p>
<p><i> Jared eight hundred and thirty years, and begat sons and daughters. </i></p>
<p><i> 17 And all the days of Mahalaleel were <strong>eight hundred ninety and </strong></i></p>
<p><i><strong> five years</strong>; and he died. 18 And Jared lived an hundred sixty and </i></p>
<p><i> two years, and he begat Enoch; 19 And Jared lived after he begat </i></p>
<p><i> Enoch eight hundred years, and begat sons and daughters; 20 And </i></p>
<p><i> all the days of Jared were <strong>nine hundred sixty and two years</strong>; and </i></p>
<p><i> he died</i>." ( Gn 5: 1-20 )</p>
<p></p>
<p></p>
<p> Let's suppose that our forefathers had only 10 children per couple. In that case Adam and Eve, the first generation,
    had ten sons and daughters, who in turn formed 5 new couples. Now there were 12 inhabitants on the planet.</p>
<p>These five couples of the second generation begot 50 children, who in turn formed 25 new couples. Now there were 12 +
    50 = 62 inhabitants in the world, and so on in subsequent generations. Let's see:</p>
<p></p>
<p></p>
<p>Generation # Number of children Inhabitants in the planet</p>
<p>1 Adam 10 12</p>
<p>2 Seth 50 62</p>
<p>3 Enos 250 312</p>
<p>4 Cainan 1,250 1,562</p>
<p>5 Mahalaleel 6,250 7,812</p>
<p>6 Jared 31,250 39,062</p>
<p>7 Enoch 156,250 195,312</p>
<p></p>
<p></p>
<p> Enoch was born in the year 622 of the life of Adam, who died when he was 930 years old. At that time none of the
    patriarchs had died yet, subsequently there must have been <strong>at least</strong> 195,312 inhabitants on the
    planet, almost 200,000.</p>
<p> If we suppose that each couple had 20 children instead of ten, <strong>which is very few for people who lived over
    nine centuries</strong>, the number of inhabitants in the world at the time of Enoch would have been 22,222,222;
    more than 20 million inhabitants. <strong>If we suppose two hundred thousand, or twenty million, or more, any of
        them could kill Cain</strong>; because for them, he was just another old man whom they had never met, or at
    least whom they could not recognize, because they have not seen him for centuries. Therefore <strong>there was a
        reason for putting a mark on Cain, so that nobody would kill him</strong>.</p>
<p> Going ahead with this same procedure, if we suppose 10 children per couple, at the time of the Flood there would
    have been over 122,000,000 million (one hundred twenty two million); but if we suppose 20 children per couple there
    would have been over 20,000,000,000, (twenty thousand million) inhabitants on the planet, who perished during the
    Flood. This would mean four or five times the actual population of the world.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>