---
import Layout from "../layout/Layout.astro";
---

<Layout title="Why repentance is indispensable">
    <section>
<p><strong>Why repentance is indispensable</strong></p>
<p><strong>Repentance is not just to utter the phrase "I repent".</strong> Repentance is a deep feeling that makes us
    suffer, makes us feel pain for something we did, something we did not, or something we thought. Repentance is
    something that makes us wish that we had not ever done such a thing. Something that makes us feel that if we would
    live our life over again, we would not do it.</p>
<p><strong>Let's imagine that you could see the real internal feelings of individuals</strong>. Let's think also that
    you were visiting a town in which you observe two groups. Group "A" being good children, and a group "B" being bad
    children. Suppose that after a couple of years you and your family move to live in that little town. However, when
    you observe the children of group "A" again, you see that they are not good any more, they have become bad children.
    On the other hand, group "B", that was composed of bad children, has completely changed, and they are at the present
    good. Now, which of both groups would you allow to come to your home to play with your children? Logically, you
    would allow group "B", who now are good children, even though in past time they were bad. You would not allow group
    "A" to come and play with your children, even though in the past they were good children. This is the same way God
    thinks.</p>
<p> That's why what really counts is not how we were, or how many good deeds we performed, but how we are now. That's
    why God forgives the sinner who repents, the one who truly repents, not the one who just utters the phrase "I
    repent". God forgives us, because He wants after resurrection, that among His children, there are only good people,
    individuals who tend to good, people who have changed evil for good, both, in deeds and thoughts. <strong>That's why
        Jesus Christ came: in order to pay for the sins of those who really repent.</strong></p>
<p> There exist fools that say: If it is that easy, I will keep sinning all my life, and when death approaches, then I
    repent. That is not true repentance, it is just to utter the phrase "I repent". True repentance is felt deeply in
    our heart, and God knows. He cannot be deceived.</p>
<p> That's why it is so important to repent, because God will not allow those who are inclined to evil, and those who
    tend to good, to live together, making His children who like to do what is right to suffer. It is absolutely
    necessary to separate both groups: keep to one side those who tend to do good, and send to other part those who tend
    to do evil. If you want to know more regarding this place, read article # 48 of this same index.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    