---
import Layout from "../layout/Layout.astro";
---

<Layout title="Women Could Divorce their Husbands">
    <section>
<p><strong>Women could divorce their husbands</strong></p>
<p><strong>There are many people who confuse Muslim and Indian customs with the laws of God and Biblical
    civilization</strong>. That's why they think, say, and even preach, that in the times of Christ women were just a
    step above a slave. The fact that Muslims also live in the Middle East, does not mean that they have Biblical
    culture and customs, much less the true commandments of God.</p>
<p><strong>These people who confuse Biblical culture with Muslim culture,</strong> also say that a man could divorce his
    wife, but a woman couldn't divorce her husband. However, this is not true. <strong>This error is the fruit of
        reading books about the Bible and not the Bible itself;</strong> or reading just some verses, passages or books
    of the Bible and not the whole thing. In this very web page article # 14 clarifies another error regarding Biblical
    customs and the position of women in that time's culture, among God's people. <strong>Let's see what the Bible
        says.</strong></p>
<p> "<i>And he saith unto them: Whosoever shall put away his wife, and marry another, committeth adultery against her.
    <strong>And if a woman shall put away her husband</strong>, and be married to another, she committeth adultery</i>."
    ( Mark 10: 11-12 )</p>
<p><strong>In this passage we see that according to the word of Jesus, a woman had the right to divorce her
    husband,</strong> a right which is denied for those who read lots and lots of books "about the Bible", and not the
    Bible itself.</p>
<p> The Bible writers of the Bible spoke in a general way, they didn't specify sex unnecessarily. In those times they
    said things such as: "If a man steals…", which also implied "If a woman steals…". It was not necessary to mention
    both sexes, as they tend to do now a day, for fear of being called sexist or chauvinist. That's why in the Old
    Testament they have rules about divorce, and even though they only mention men, it is understood that it also refers
    to women. <strong>Therefore, as a man could divorce his wife, a woman could divorce her husband</strong>. The proof
    is found in what our Lord says. Referring to what the law ruled, he mentioned that a woman could divorce her
    husband. So, evidently, women could divorce their husbands.</p>
<p> The same thing is said by <strong>Paul in I Co 7: 13, where he advises Christian women who are already married to a
    non Christian man, not to divorce them</strong>, but keep their marriage united.</p>
<p> "<strong>And the woman</strong> <i>which hath an husband that believeth not, and if he be pleased to dwell with her,
    <strong>let her not leave him</strong></i>." ( I Co 7: 13 )</p>
<p> According to these two testimonies, it is evident that women had the right to divorce their husbands. <strong>Consequently,
    those who paint a ghastly picture about women's lives in Biblical times, are disoriented by confusing Biblical
    culture with Muslim culture</strong>. They confuse the Godly authority of a husband in marriage, with a total
    absence of women's rights. They also confuse some cultures that despise and take out all rights from women, with the
    culture that comes out of the Law of God, which bestows on women all the rights inherent to a human being.</p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    