---
import Layout from "../layout/Layout.astro";
---

<Layout title="Women in Church Positions">
    <section>
<p><strong>Why Paul forbade women from participating in some Church activities.</strong></p>
<p>It is easy to prove that Paul forbade women from having preaching or authority positions in church, because it is
    overtly said, but to explain why he did it, is not that easy. Nevertheless, elder ladies could have those positions
    in Church as we will later see. We can make assumptions and guesses about the reason for Paul's commandment, but it
    is not clearly stated. Nevertheless, we could theorize about it. Let's first take a look at those verses where Paul
    forbade women to participate in some Church activities.</p>
<p><i> "34 <strong>Let your women keep silence in the churches; for it is not permitted unto them to speak</strong>; but
    they are commanded to be under obedience, as also says the law. 35 And if they will learn any thing, let them ask
    their husbands at home; for it is a shame for women to speak in the church." ( I Co 14: 34-35 )</i></p>
<p></p>
<p> "<i>11 <strong>Let the woman learn in silence</strong> with all subjection. 12 But I <strong>suffer not a woman to
    teach, nor to usurp authority over the man</strong>, but to be in silence</i>." ( I Tim 2: 11-12 )</p>
<p></p>
<p><strong>According to Paul's words women should not have teaching positions nor authority positions in
    churches.</strong> The reason for this could be twofold: a) to avoid subversion of authority in marriage, and b) to
    avoid problems caused by the beauty of young ladies.</p>
<p><strong>If a married lady is a pastor</strong>, or has some position of authority in the church, she will also have
    some sort of indirect authority over her husband. That is the message that I Tim 2: 12 seems to convey.</p>
<p><strong>A second motivation could be that young ladies are attractive, and many men would fix their attention more on
    their physical characteristics than on their teachings.</strong> This would also provoke the jealousy of other
    women, who see how their husbands fix too much attention on their beautiful pastor. In short, it would be, at least,
    a factor of distraction in church, if not a factor of divisions and conflicts.</p>
<p> If we read Ro 16: 1 we will see that sister Phoebe was deaconess at Cenchreas church, which proves that <strong>women
    were not totally banned from church positions.</strong> Evidently, women were not banned from certain Church
    positions just for being women. Why did she have such a position? She was probably an older woman.</p>
<p> In I Tim 5: 9 we learn that Paul's recommendation is not to accept any widow who is less than 60 years old, the
    reason being is that younger widows began to wax wanton as he says in verse 11. His recommendation for those younger
    ladies was to marry and bear children, as he says in verse 14.</p>
<p><strong>What Paul says in these verses is a hint of what was on his mind in respect to women in the church.</strong>
    It seems that he did not like young beautiful women in any position. After 60, a lady was seen as a mother, or as a
    sister, not as an attractive female; therefore, they could have any position in the church, if they were widows.
    Otherwise, a lady must be taking care of her husband and her household. A widow over sixty, who does not have any
    duties at home, which is not of those who still want to be "attractive", is suitable for Church service; but not a
    lady who has to take care of her children and husband.</p>
<p><strong>"</strong>9 <strong>Let not a widow be taken into the number under threescore years old</strong><i>, having
    been the wife of one man, 10 well reported of for good works; if she have brought up children, if she have lodged
    strangers, if she have washed the saints' feet, if she have relieved the afflicted, if she have diligently followed
    every good work. 11 But <strong>the younger widows refuse; for when they have begun to wax wanton against Christ,
        they will marry;</strong> 12 having damnation, because they have cast off their first faith. 13 And withal they
    learn to be idle, wandering about from house to house; and not only idle, but tattlers also and busybodies, speaking
    things which they ought not. 14 <strong>I will therefore that the younger women marry, bear children,</strong> guide
    the house, give none occasion to the adversary to speak reproachfully</i>." ( I Tim 5: 9-14 )</p>
<p><strong>As we read in this passage, Paul evidently feared the problems caused by sexual attraction of young ladies,
    and the disturbances it entails within the Church.</strong> That is why he advised churches against this danger.
    Other advice that Paul gave, was that young widows should remarry, probably to avoid sexual problems and scandals
    within the church, when they felt the natural drive of the flesh.</p>
<p><strong>It is reasonable that if Paul did not want ladies under sixty to form the inside crew of the church, much
    less was he going to like or allow ladies under sixty to be teachers or Church officials.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>

    </section>
</Layout>
    