---
import Layout from "../layout/Layout.astro";
---

<Layout title="WomenActivities">
    <section>
<p></p>
<p>Women were not <strong>"</strong>prohibited<strong>"</strong> from certain activities<strong>,</strong> it was the
    circumstances that prohibited them</p>
<p> There are many people who believe that in ancient times and above all in the Bible<strong>,</strong> women were
    scorned and even spurned<strong>.</strong> Some have this in their minds because of their misogynistic
    atavism<strong>,</strong> but there are some who mistakenly believe it<strong>.</strong> That did not occur in the
    Biblical culture<strong>,</strong> but that was introduced to that region as of the imposition of the Islamic
    religion<strong>.</strong> The false religions are distinguishable for having two extreme and erroneous positions
    towards women<strong>:</strong> some scorn them and others see them as semi-goddesses<strong>.</strong></p>
<p> The fact that women were not more outstanding in ancient cultures was because in past times<strong>,</strong>
    physical strength was indispensable to excel in society<strong>.</strong></p>
<p> Up until the 1800's what existed was a society which because of the lack of the technical advances of
    today<strong>,</strong> required brutal strength<strong>.</strong> Let's use the example of war<strong>.</strong>
    The ones who have always exceeded in society have always been war heroes<strong>.</strong> War was characterized by
    using heavy mace blows<strong>,</strong> swords<strong>,</strong> rocks<strong>,</strong> running after the ones who
    escape running from their captors and persecutors<strong>,</strong> fighting body to body with the
    enemy<strong>.</strong> None of these things could be done by women with the efficiency of men<strong>.</strong>
    Therefore<strong>,</strong> they could not<strong>,</strong> in general be heroines of war and consequently they
    could not be influential characters in society<strong>.</strong></p>
<p> On the contrary<strong>,</strong> nowadays<strong>,</strong> they are allowed to enlist in the
    Army<strong>,</strong> the Navy and in Air Force<strong>.</strong> Any woman can pilot a combat
    plane<strong>,</strong> extraordinary physical effort is not needed for it<strong>.</strong></p>
<p> We can say the same about business<strong>.</strong> A woman in ancient times could dedicate herself to certain and
    determined businesses<strong>,</strong> but not as much as men<strong>.</strong> We have the case of the woman
    mentioned in Proverbs 31<strong>:</strong>10-31<strong>,</strong> and Lydia in Acts
    16<strong>:</strong>14<strong>,</strong> they dedicated themselves to businesses they could carry
    out<strong>.</strong> They couldn't<strong>,</strong> for example<strong>,</strong> take their merchandise to places
    that were distant and dangerous like men did riding their camels<strong>,</strong> because due to their physical
    weakness<strong>,</strong> they would be assaulted<strong>,</strong> raped<strong>,</strong> enslaved or
    assassinated<strong>.</strong></p>
<p> Nowadays<strong>,</strong> any woman can safely travel to the majority of the big cities in the world and conduct
    extensive business<strong>.</strong> Even they can conduct many of these businesses without leaving their
    offices<strong>,</strong> via telephone<strong>,</strong> fax<strong>,</strong> computer and the banking services in
    diverse countries<strong>.</strong></p>
<p> If we talk about work on a farm<strong>,</strong> the same thing happens<strong>.</strong> A woman can plow a field
    on a tractor or strip down a field full of weeds or undergrowth<strong>,</strong> sitting on a
    bulldozer<strong>.</strong> It was not the same in the 1800's when the only thing that could be utilized was the
    strong arm of a man and the strength of oxen and horses<strong>.</strong> It wasn't easy therefore accumulate riches
    in agriculture and livestock<strong>.</strong></p>
<p> The issue was not that <strong>"</strong>before<strong>"</strong> a woman was scorned<strong>;</strong> the issue
    was that before<strong>,</strong> in Biblical times<strong>,</strong> women could not compete in the brutal world in
    which she lived in<strong>.</strong> No one was going to give an opportunity to a competitor woman<strong>,</strong>
    because they didn't give it to a competitor man either<strong>.</strong> That is why women were reserved for a
    certain type of work or activity<strong>,</strong> to which they themselves were restricted by
    nature<strong>.</strong> That does not mean that there weren't any exceptions<strong>,</strong> but it was just that<strong>,</strong>
    exceptions in which<strong>,</strong> for some reason or circumstance not frequently<strong>,</strong> a woman stood
    out<strong>.</strong></p>
<p> As we see<strong>,</strong> it was not an issue that it was prohibited for a woman to be
    outstanding<strong>;</strong> it was that circumstances did not allow it<strong>.</strong></p>
<p> Among the jobs that women did were the domestic ones<strong>,</strong> because in the city and in their homes they
    were safer than walking alone in the countryside<strong>.</strong> However<strong>,</strong> they worked in the
    farms in the company of their relatives or neighbors<strong>,</strong> or in places close to the city where they
    lived<strong>,</strong> which were frequented by the neighbors and people they knew<strong>.</strong> It is such a
    case in which women shepherded the family sheep<strong>.</strong></p>
<p> In Exodus 2<strong>:</strong>16 we also see that the daughters of Jethro<strong>,</strong> Moses'
    father-in-law<strong>,</strong> grazed his father's sheep<strong>.</strong> In this special case<strong>,</strong>
    these women<strong>,</strong> even though they did not receive serious attacks<strong>,</strong> they were displaced
    by other shepherds<strong>.</strong> Motivated by this abuse it was that Moses defended them and got involved in
    Jethro's family<strong>.</strong> Rachel was also a shepherd to the sheep of Laban<strong>,</strong> her
    father<strong>.</strong></p>
<p></p>
<p><strong>"</strong>Now the priest of Midian had seven daughters<strong>,</strong> and they came and drew water<strong>,</strong>
    and filled the troughs to water their father's flock<strong>."</strong> (Exodus 2<strong>:</strong>16)</p>
<p></p>
<p><strong>"</strong>And while he yet spake with them<strong>,</strong> Rachel came with her father's
    sheep<strong>,</strong> for she kept them<strong>."</strong> (Genesis 29<strong>:</strong>9)</p>
<p></p>
<p> Another task that at times was given to women was to keep the vineyards<strong>,</strong> as is seen in Song of
    Solomon 1<strong>:</strong>6<strong>.</strong></p>
<p></p>
<p><strong>"</strong>Look not upon me<strong>,</strong> because I am black<strong>,</strong> because the sun hath looked
    upon me<strong>.</strong> My mother's children were angry with me<strong>;</strong> they made me the keeper of the
    vineyards<strong>;</strong> but mine own vineyard have I not kept<strong>."</strong> (Song of Solomon
    1<strong>:</strong>6)</p>
<p></p>
<p> Carrying the water for the household use was another task of women<strong>,</strong> especially the single
    ones<strong>.</strong> Whoever has watch a horse drink water can comprehend the task that Rebecca had to undertake
    in order to provide a drink for ten camels<strong>.</strong> The pitcher that she carried upon her shoulders could
    not have been small<strong>,</strong> because the stone troughs that are near wells used by animals to drink was not
    small<strong>,</strong> because you don't fill a trough for ten camels to drink with small sips of
    water<strong>.</strong></p>
<p></p>
<p><strong>"</strong>And she hasted<strong>,</strong> and emptied her pitcher into the trough<strong>,</strong> and ran
    again unto the well to draw water<strong>,</strong> and drew for all his camels<strong>."</strong> (Genesis
    24<strong>:</strong>20)</p>
<p></p>
<p> It appears that those women<strong>,</strong> within certain limits<strong>,</strong> had rough
    work<strong>.</strong> In order to carry the water that is needed in a house<strong>,</strong> pitcher by pitcher is
    no light feat<strong>.</strong> Of course<strong>,</strong> there were probably other young women in the household
    who shared the task<strong>.</strong> In reviewing verse 43<strong>,</strong> it gives the feeling that the job of
    going to the well for water was reserved to single women<strong>;</strong> at least during that time or in that
    region<strong>.</strong> In the time of Christ<strong>,</strong> we see that the Samaritan woman went to get
    water<strong>.</strong></p>
<p></p>
<p><strong>"</strong>Behold<strong>,</strong> I stand by the well of water<strong>;</strong> and it shall come to
    pass<strong>,</strong> that when the virgin cometh forth to draw water<strong>,</strong> and I say to
    her<strong>,</strong> Give me<strong>,</strong> I pray thee<strong>,</strong> a little water of thy pitcher to drink<strong>."</strong>
    (Genesis 24<strong>:</strong>43)</p>
<p></p>
<p> There were also other activities that were particular to men<strong>,</strong> that women did as is seen in the case
    of the construction of the walls of Jerusalem by Nehemiah<strong>.</strong></p>
<p></p>
<p><strong>"</strong>And next unto him repaired Shallum the son of Halohesh<strong>,</strong> the ruler of the half part
    of Jerusalem<strong>,</strong> he and his daughters<strong>."</strong> (Nehemiah 3<strong>:</strong>12)</p>
<p></p>
<p> In this case<strong>,</strong> not just a woman but a whole family of them were working in the restoration of the
    walls of the city of Jerusalem<strong>.</strong> Undoubtedly this means one of two things<strong>,</strong> either
    these women practiced architecture or worked in masonry<strong>.</strong></p>
<p> In general<strong>,</strong> when it came to the activities of women<strong>,</strong> there were no prohibitive
    rules<strong>,</strong> it was they themselves<strong>,</strong> who knew that physically they could not
    compete<strong>,</strong> and moved away<strong>.</strong> However<strong>,</strong> those women who considered
    themselves capable of doing something<strong>,</strong> did so without anyone bothering them<strong>.</strong></p>
<p> As for social activities<strong>,</strong> it is perceived that they participated as much as the men as we see in
    the following passage from Job<strong>.</strong></p>
<p></p>
<p><strong>"</strong>And his sons went and feasted in their houses<strong>,</strong> every one his day<strong>;</strong>
    and sent and called for their three sisters to eat and to drink with them<strong>."</strong> (Job
    1<strong>:</strong>4)</p>
<p></p>
<p><strong>In general,</strong> it could be said that women had liberty<strong>,</strong> but
    circumstances<strong>,</strong> competition and the nature of their sex limited them greatly<strong>.</strong>
    Because of the fact of being women and become pregnant and have to care for newborns<strong>,</strong> limited them
    in the use of their time and in the amount of strength they could dedicate to excel in politically<strong>,</strong>
    socially and economically<strong>.</strong> This does not mean that none of them did<strong>,</strong> what it means
    is that there were always more impediments for women than for men<strong>.</strong> It is good to analyze these
    things because this allows us to understand the customs and upon doing so<strong>,</strong> it helps us to interpret
    Scripture correctly<strong>.</strong></p>
<p><a href="biblenotes.html">Back to the Index</a></p>
<p></p>
<p></p>

    </section>
</Layout>
    