
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>The Yoke that Peter could not bear</title>
</head>
<body>
<p><strong>The yoke that neither Peter nor their fathers had been able to bear was the ritual law</strong></p>
<p> Peter was talking about <strong>the yoke that represented the strict obedience of the ritual law.</strong> Why I say
    it was the ritual law<strong>?</strong> Because every time someone sinned<strong>,</strong> he had to come from
    Galilee to Jerusalem<strong>,</strong> and bring a sacrifice to the Temple<strong>.</strong> This was almost
    impossible for those who lived far from the Temple<strong>,</strong> and for the poor<strong>,</strong> who could
    not afford the constant sacrificing<strong>.</strong></p>
<p> During the time prior to Christ's sacrifice<strong>,</strong> in order to purge his sins<strong>,</strong> the
    believer had to sacrifice lambs<strong>,</strong> go through the ceremonial washing and countless other
    rituals<strong>.</strong></p>
<p><strong>A regular person that sinned by work, word or thought two or three times a month could not present all the
    sacrifices or ceremonies required.</strong> Such would be economically prohibitive for any ordinary
    man<strong>,</strong> especially if we take into consideration not only his sins but those of his
    family<strong>.</strong></p>
<p> In addition<strong>,</strong> there was the logistic impossibility<strong>.</strong> <strong>Those not living in
    Jerusalem, near the Temple, had to travel there in order to offer their sacrifice, since the law prohibited and
    punished sacrifices outside of the Temple.</strong> No one could make a three or four day trip two or three times a
    month<strong>,</strong> every time he<strong>,</strong> his wife<strong>,</strong> or any of his children
    sinned<strong>.</strong> And that in addition to the three yearly celebrations during which it was required they
    traveled to Jerusalem<strong>.</strong></p>
<p> That is why <strong>Peter says here that the ritual laws were a yoke that neither he nor his fathers could
    bear.</strong> Of course<strong>,</strong> it was almost impossible to obey all the ritual laws necessary to be
    redeemed<strong>,</strong> every time anyone sinned in any way<strong>;</strong> especially those living far<strong>,</strong>
    like Peter and the other apostles who lived in Galilee<strong>.</strong></p>
<p> This becomes even clearer when we read Acts 15<strong>:</strong>10-11<strong>,</strong> especially verse
    11<strong>,</strong> which is written as a direct consequence of the previous verse 10<strong>.</strong></p>
<p></p>
<p><strong>"</strong>10 <i>Now therefore why tempt ye God<strong>,</strong> to put <strong>a yoke upon the neck of the
    disciples, which neither our fathers nor we were able to bear?</strong></i> 11 <i>But we believe that <strong>through
    the grace of the Lord Jesus Christ</strong> we shall be saved<strong>,</strong> even as they</i><strong>".</strong>
    (Act 15<strong>:</strong>10-11)</p>
<p> As we can see<strong>,</strong> Peter was already convinced that to be forgiven of our sins it was not necessary any
    more to go offer lamb sacrifices to the Temple<strong>,</strong> but we were clean by the grace of the Lord
    Jesus<strong>,</strong> who was the true Lamb of God<strong>.</strong> Due to that knowledge he could not agree to
    impose on the Gentiles the ritual law<strong>,</strong> since the symbolism that those sacrifices<strong>,</strong>
    rituals and ceremonies represented were already present in the sacrifice of our Lord Jesus Christ<strong>.</strong>
</p>
<p> If we read the origin of this argument in 15<strong>:</strong>1-2 and 5-6 we will see <strong>that what they wanted
    to impose on the converted Gentiles as a condition for salvation, were the rituals of the Jewish law, starting with
    circumcision.</strong> It wasn't that the apostles rejected God's law for human behavior<strong>;</strong> they
    rejected the continuation of ritual law as a requirement for salvation<strong>,</strong> as it had been done so
    far<strong>.</strong></p>
<p></p>
<p><strong>"</strong>1 <i>And <strong>certain men which came down from Judaea taught the brethren, and said: Except ye
    be circumcised after the manner of Moses, ye cannot be saved.</strong></i> 2 <i>When therefore Paul and Barnabas had
    no small dissension and disputation with them<strong>,</strong> they determined that Paul and
    Barnabas<strong>,</strong> and certain other of them<strong>,</strong> should go up to Jerusalem <strong>unto the
        apostles and elders about this question</strong></i><strong>".</strong> (Act 15<strong>:</strong>1-2)</p>
<p></p>
<p></p>
<p><strong>"</strong>5 <i>But there rose up <strong>certain of the sect of the Pharisees</strong> which believed<strong>,</strong>
    saying<strong>,</strong> <strong>That</strong> <strong>it was needful to circumcise them, and to command them to
        keep the law of Moses.</strong></i> 6 <i>And the apostles and elders came together <strong>for to consider of
    this matter</strong></i><strong>".</strong> (Act 15<strong>:</strong>5-6)</p>
<p> The yoke that Peter says that neither he nor their fathers could bear was the yoke of the ritual
    law<strong>.</strong> Add to that the enormous burden that the scribes and Pharisees had added to both the laws for
    human behavior and the ritual laws<strong>,</strong> as the Lord himself declared in Luke
    11<strong>:</strong>46<strong>,</strong> and we can see why Peter said the yoke was unbearable<strong>.</strong></p>
<p></p>
<p><strong>"</strong><i>And he said<strong>,</strong> Woe unto you also<strong>,</strong> ye lawyers<strong>!</strong>
    For <strong>ye lade men with burdens grievous to be borne,</strong> and ye yourselves touch not the burdens with one
    of your fingers</i><strong>".</strong> (Lk 11<strong>:</strong>46)</p>
<p><strong>It is obvious that the yoke that the believers before Christ</strong> could not bear was the yoke of the
    ritual law<strong>,</strong> and the impositions of the scribes and Pharisees<strong>,</strong> and not the Ten
    Commandments and other laws for human behavior that God had established<strong>.</strong></p>
<p><strong><a href="biblenotes.html">Back to the index</a></strong></p>
</body>
</html>