---
const {lang} = Astro.props;
---
<footer class="bg:gray-40 color:white flex flex:1 justify-content:space-between align-items:center flex:row px:2rem py:0.2rem"
        id="page-footer" role="contentinfo">
    <a href="/">{lang == 'es' ? 'Regresar al inicio' : 'Return to top'}</a>
    <a href="/">{lang == 'es' ? 'Home' : 'Inicio'}</a>
    <a href="/">{lang == 'es' ? 'About' : 'Acerca'}</a>
    <a href="/">{lang == 'es' ? 'Privacy' : 'Privacidad'}</a>
</footer>

<section class="bg:#CCC flex flex:col px:2rem py:2rem">
    <p class="m:0 p:0">Rev. Ramón Alemón , Oklahoma, U.S.A.</p>
    <p class="m:0 p:0">Cubierta artística por: Adolfo Serralta.</p>
    <p class="m:0 p:0">Para contactar con el autor: R. L. Serralta Nogués</p>
    <p class="m:0 p:0">Teléfono: (305) 951-7435</p>
    <p class="m:0 p:0">P.O. Box 655126</p>
    <p class="m:0 p:0">Miami , FL 33265-5126</p>
    <p class="m:0 p:0">Email: rlserralta@netzero.net</p>
    <p class="m:0 p:0">Copyright &copy; (2020) R. L. Serralta Nogués</p>
</section>