---
const {lang} = Astro.props;
---
<footer class="bg:gray-40 color:white" id="page-footer" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">{lang == 'es' ? 'Regresar al inicio' : 'Return to top'}</a>
    </div>
    <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav" role="navigation">
            <ul class="grid-row grid-gap">
                <li class="mobile-lg:grid-col-4 desktop:grid-col-auto
                 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="#">{lang == 'es' ? 'Home' : 'Inicio'}</a></li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-auto
                 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="#">{lang == 'es' ? 'About' : 'Acerca'}</a></li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-auto
                 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="#">{lang == 'es' ? 'Privacy' : 'Privacidad'}</a></li>
            </ul>
        </nav>
    </div>
</footer>

<section class="usa-banner bg:#CCC px:1rem py:0.2rem">
    <p class="usa-banner__header-text">Copyright &copy; (2020) R. L. Serralta Nogués</p>
    <p>Rev. Ramón Alemón , Oklahoma, U.S.A.</p>
    <p>Cubierta artística por: Adolfo Serralta.</p>
    <p>Para contactar con el autor: R. L. Serralta Nogués</p>
    <p>Teléfono: (305) 951-7435</p>
    <p>P.O. Box 655126</p>
    <p>Miami , FL 33265-5126</p>
    <p>Email: rlserralta@netzero.net</p>
</section>