---
type Props = {
    href: string,
    dateOf: string,
}

const {href, dateOf} = Astro.props as Props;
---
<li class="bb:2px|solid|#CCC bx:2px|solid|#CCC p:0.5rem">
    <a href={href}>
        <slot/>
    </a>
    <p class="p:0 m:0 text:1rem opacity:0.5 text:right">{dateOf}</p>
</li>