---
import {usePath} from "@/hooks/usePath";
const {language, equivalentHref} = Astro.props;

const showEquivalentHref = !!equivalentHref;
const languageOf = {
    en: {
        books: 'Books',
        notes: 'Notes',
        lang: 'Language',
    },
    es: {
        books: 'Libros',
        notes: 'Notas',
        lang: 'Idioma',
    }
} as const;

const urlOf = {
    en: {
        home: usePath("/"),
        books: usePath("/"),
        notes: usePath("/biblenotes"),
    },
    es: {
        home: usePath("/es"),
        books: usePath("/es/books"),
        notes: usePath("/NotasBiblicas"),
    }
} as const;
---
<header class="flex align-items:center justify-content:center mb:3rem">
    <nav class="flex flex:row gap:1rem">
        <a href={urlOf[language]['home']}
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">
            Bibleserralta.com
        </a>
        <a href={urlOf[language]['books']}
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">
            {languageOf[language]['books']}
        </a>
        <a href={urlOf[language]['notes']}
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">
            {languageOf[language]['notes']}
        </a>
        <a href={usePath(equivalentHref)}
           class={`${showEquivalentHref ? 'flex' : 'hidden'} color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline`}>
            {languageOf[language]['lang']}
        </a>
    </nav>
</header>