---
import {getRelativeLocaleUrl} from 'astro:i18n';

const notesOfEn = getRelativeLocaleUrl('en', '/NotesOf')
const notesOfEs = getRelativeLocaleUrl('es', '/NotesOf')

const defaultLang = 'en';

const keyOfLang = {
    en: {
        "nav.sections": "Sections",
        "nav.bible.notes": "Bible Notes",
        "item.last.four.world.powers": "The Last Four World Powers",
        "item.rapture.ingathering": "Rapture vs Ingathering",
        "item.jesus.messiah": "Demonstrating that Jesus is the Jewish Messiah",
        "item.the.law": "Is God's Law Obsolete?",
        "item.holiness": "Is Holiness Attainable?",
        "item.once.saved": "Saved Always Saved...Doesn't Matter What You Do?",
        "item.alma": "Does the Soul Exist Or Are We Just Flesh?",
        "item.hermeneutica": "Hermeneutics as Taught in the Bible",
        "item.predestination": "Predestination, Christian Doctrine or Heresy",
        "item.trinidad": "The Trinity as Taught in the Bible",
        "item.russell": "Russellism is not a Christian Religion.",
    },
    es: {
        "nav.sections": "Secciones",
        "nav.bible.notes": "Notas Biblicas",
        "item.last.four.world.powers": "Las últimas cuatro potencias mundiales",
        "item.rapture.ingathering": "Rapto vs Arrebatamiento o Ficción vs Realidad",
        "item.jesus.messiah": "Demostración de que Jesucristo es el Mesías Esperado por los hebreos",
        "item.the.law": "Deben los Cristianos Considerar Obsoleta la Ley de Dios para el Comportamiento Humano",
        "item.holiness": "La Santidad es Alcanzable, ( sin la Cual Nadie Verá al Señor)",
        "item.once.saved": "Salvo Siempre Salvo... ¿No Importa lo que Hagas?",
        "item.alma": "¿Existe el Alma o Somos Sólo Carne?",
        "item.hermeneutica": "Hermenéutica Como nos la Enseña la Biblia",
        "item.predestination": "La Predestinación: ¿Doctrina Cristiana o Herejía?",
        "item.trinidad": "La Trinidad Como la Enseña la Biblia",
        "item.russell": "El Ruselismo no es una Religión Cristiana",
    }
} as const;

function getLangFromUrl(url: URL) {
    const [, lang] = url.pathname.split('/');
    if (lang in keyOfLang) return lang as keyof typeof keyOfLang;
    return defaultLang;
}

function useTranslations(lang: keyof typeof keyOfLang) {
    return function t(key: keyof typeof keyOfLang[typeof defaultLang]) {
        return keyOfLang[lang][key] || keyOfLang[defaultLang][key];
    }
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<nav class="bg:sky-28 flex flex:1 flex:row justify-content:space-between color:white px:2rem py:0.2rem"
     id="page-header">
    <a href="/" title="Home" aria-label="Home">Bible Serralta</a>
    <ul class="flex flex:row gap:1rem">
        <li class="usa-nav__primary-item">
            <button aria-expanded="false" aria-controls="nav-link-to-sections">
                {t('nav.sections')}
            </button>
        </li>
        <li class="usa-nav__primary-item">
            <a href={notesOfEn} class="usa-nav__link">
                {t('nav.bible.notes')}
            </a>
        </li>
    </ul>
</nav>

<nav class="bg:sky-28 color:white px:2rem pt:1rem pb:2rem z:9" hidden>
    <div class="grid-row grid-gap-4">
        <div class="flex flex:row gap:1rem justify-content:space-between pb:1rem">
            <a href={notesOfEn}>Bible Notes (English)</a>
            <a href={notesOfEs}>Bible Notes (Spanish)</a>
        </div>
        <ul class="flex flex:col gap:0.2rem">
            <li class="usa-nav__submenu-item">
                <a href="/pdf/LastFourWorldPowers.pdf">{t('item.last.four.world.powers')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Rapture_vs_Ingathering_english.pdf">{t("item.rapture.ingathering")}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Jesus_Messiah_english.pdf">{t('item.jesus.messiah')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/the_Law_english.pdf">{t('item.the.law')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Holiness_english.pdf">{t('item.holiness')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/once_saved_english.pdf">{t('item.once.saved')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Alma_Ingles_10_My_11.pdf">{t('item.alma')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Hermeneutica_Ingles_19_My_11.pdf">{t('item.hermeneutica')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Predestination_Ingles_11_My_11.pdf">{t('item.predestination')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/Trinidad_Ingles_22_My_11.pdf">{t('item.trinidad')}</a>
            </li>
            <li class="usa-nav__submenu-item">
                <a href="/pdf/ruselismo_spanish.pdf">{t('item.russell')}</a>
            </li>
        </ul>
    </div>
</nav>