---

---
<header class="flex align-items:center justify-content:center mb:3rem">
    <nav class="flex flex:row gap:1rem">
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Bibleserralta.com</a>
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Libros</a>
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Notas</a>
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Idioma</a>
    </nav>
</header>