---

---
<header class="flex flex:row justify-content:space-between align-items:center p:2rem mb:6rem">
    <a href="/" class="text-decoration:none color:currentColor">
        <h1 class="font-size:2rem font-weight:400">Bibleserralta.com</h1>
    </a>

    <nav class="flex flex:row gap:1rem">
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Libros</a>
        <a href="/" class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Notas</a>
        <a href="/"
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">Language</a>
    </nav>
</header>