---
import { usePath } from "@/hooks/usePath";
---

<div class="flex justify-content:center mb:5rem">
    <a
        href={usePath("/")}
        class="font-size:1rem line-height:0.65 bg:hsl(39|93%|90%/1)@light bg:#704264@dark fg:hsl(19.89deg|52.75%|47.03%) text-decoration-color:rgb(241,114,51) text-decoration:underline"
    >
        <p class="m:0 p:0 fg:#352621@light fg:#DBAFA0@dark">
            <slot />
        </p>
    </a>
</div>
