@import url(https://fonts.bunny.net/css);

@supports (font-size-adjust: 1) {
    article > p {
        font-size-adjust: 0.5;
    }
}

* {
    font-family: "Public Sans", sans-serif;
}

p {
    line-height: calc(1ex / 0.38);
    text-rendering: optimizeLegibility;
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-family: "Merriweather", serif;
}