<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="AbrahamSacrificoIsaac_files/filelist.xml">
    <title>Abraham sacrific&oacute; a Isaac sabiendo que Dios lo resucitar&iacute;a</title>
    <style>
        <!--
        /* Style Definitions */

        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link,
        span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited,
        span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
    {mso-style-name:"Table Normal";
    mso-tstyle-rowband-size:0;
    mso-tstyle-colband-size:0;
    mso-style-noshow:yes;
    mso-style-parent:"";
    mso-padding-alt:0in 5.4pt 0in 5.4pt;
    mso-para-margin:0in;
    mso-para-margin-bottom:.0001pt;
    mso-pagination:widow-orphan;
    font-size:10.0pt;
    font-family:"Times New Roman";
    mso-ansi-language:#0400;
    mso-fareast-language:#0400;
    mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'>
        <b style='mso-bidi-font-weight:normal'>
				<span lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>ABRAHAM SACRIFIC&Oacute; A ISAAC SABIENDO QUE DIOS LO RESUCITAR&Iacute;A
					<u8:p></u8:p>
				</span>
        </b>
        <span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<o:p></o:p>
			</span>
    </p>

    <u7:p></u7:p>

    <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>En muchas ocasiones se puede interpretar un
				pasaje b&iacute;blico, gracias a otro pasaje, que puede estar en un libro de la Biblia diferente del anterior. En este
				caso de Abraham, la respuesta la tenemos que ir a buscar a la ep&iacute;stola del ap&oacute;stol Pablo a los Hebreos.
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Dios hab&iacute;a prometido a Abraham en Gn
				17:21 que
				<b style='mso-bidi-font-weight:
normal'>el heredero de la promesa espiritual iba a ser Isaac</b>. Cuando en Gn 22:1-2 Dios ordena a Abraham sacrificar a su hijo
				Isaac, el que ten&iacute;a las promesas,
				<b style='mso-bidi-font-weight:normal'>Abraham pens&oacute;, con l&oacute;gica, que si Dios le hab&iacute;a prometido tal cosa, &Eacute;l lo iba a cumplir</b>.
				Por consiguiente, aunque &eacute;l (Abraham) sacrificara a Isaac, de alguna manera Dios lo iba a traer de nuevo a la
				vida, puesto que Dios no hace promesas falsas. En Heb 11:17-19 vemos c&oacute;mo San Pablo explica el caso cuando dice
				&quot;&#8230;
				<b style='mso-bidi-font-weight:normal'>pensando que a&uacute;n de los muertos es Dios poderoso para levantar</b>&#8230;&quot;.
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<o:p>&nbsp;</o:p>
			</span>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>
				<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&quot;
				<i style='mso-bidi-font-style:normal'>Mas yo establecer&eacute; mi pacto
					<b style='mso-bidi-font-weight:normal'>con Isaac</b>, al cual te parir&aacute; Sara por este tiempo el a&ntilde;o siguiente</i>.&quot;
				<span style='mso-tab-count:
2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
				<span style='mso-tab-count:5'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span>( Gn 17:21 )
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>
				<u8:p>&nbsp;</u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>
				<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&quot;1
				<i style='mso-bidi-font-style:normal'>Y aconteci&oacute; despu&eacute;s de estas cosas, que tent&oacute; Dios a Abraham, y le dijo: Abraham. Y &eacute;l respondi&oacute;:
					Heme aqu&iacute;. 2 Y dijo: Toma ahora tu hijo, tu &uacute;nico, Isaac, a quien amas, y vete a tierra de Moriah, y
					<b
                            style='mso-bidi-font-weight:normal'>ofr&eacute;celo all&iacute; en holocausto</b>
						sobre uno de los montes que yo te dir&eacute;</i>.&quot;
				<span style='mso-tab-count:7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
				<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>( Gn 22:1-2 )
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>
				<u8:p>&nbsp;</u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>
				<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&quot;17
				<i style='mso-bidi-font-style:normal'>Por fe ofreci&oacute; Abraham a Isaac cuando fue probado, y ofrec&iacute;a
					<b style='mso-bidi-font-weight:normal'>al unig&eacute;nito, el que hab&iacute;a recibido las promesas</b>. </i>18
				<i style='mso-bidi-font-style:normal'>Habi&eacute;ndole sido dicho: En Isaac te ser&aacute; llamada simiente; </i>19
				<i style='mso-bidi-font-style:normal'>
					<b style='mso-bidi-font-weight:normal'>pensando que a&uacute;n de los muertos es Dios poderoso para levantar</b>, de donde tambi&eacute;n le volvi&oacute;
					a recibir por figura</i>.&quot;
				<span style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
				<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>( Heb 11:17-19 )
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>O sea, que se ve bien claramente que Abraham
				<b style='mso-bidi-font-weight:normal'>estaba seguro
				</b> de que pod&iacute;a sacrificar a Isaac, porque de ninguna manera lo iba a perder, volver&iacute;a a &eacute;l.
				<u8:p></u8:p>
				<u7:p></u7:p>
				<o:p></o:p>
			</span>
    </p>

    <p align=center style='text-align:center'>
        <b style='mso-bidi-font-weight:normal'>
				<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
					<a href="NotesOf.astro">Volver al indice</a>
					<u8:p></u8:p>
				</span>
        </b>
        <span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> </span>
    </p>

</div>

</body>

</html>