---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="&iexcl;Aleluya! Qu&eacute; Gran Milagro">
    <div class=Section1>

        <p align=center style='text-align:center'>
            <b>
                <span lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>&iexcl;Aleluya! Qu&eacute; Gran Milagro</span>
            </b>
            <span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<o:p></o:p>
			</span>
        </p>

        <u8:p></u8:p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Hoy en d&iacute;a hay, ( y en realidad siempre ha habido ), pastores y maestros &quot;cristianos&quot;
				que tratan de echar dudas sobre las doctrinas y los milagros que se describen en la Biblia. Una de sus t&aacute;cticas
				es la de burlarse o menospreciar p&uacute;blicamente a aquellos cristianos que creen fielmente lo que la Biblia dice.
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Hace un tiempo me contaron un an&eacute;cdota que, al decir del que me la contaba, ocurri&oacute; en
				un seminario &quot;cristiano&quot;. Si en realidad sucedi&oacute; o no, o si sucedi&oacute; all&iacute; o no, yo no puedo
				testificarlo. No obstante, voy a contarla, por lo instructiva que est&aacute; dicha an&eacute;cdota. El m&aacute;s astuto
				movimiento de Satan&aacute;s, ha sido introducir sus agentes en los seminarios y en las &quot;modernas&quot; traducciones
				de la Biblia, las cuales ellos van torciendo poco a poco durante d&eacute;cadas.
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Lo siguiente ocurri&oacute; en una de esas diarias clases del seminario. El profesor &quot;cristiano&quot;
				iba a ense&ntilde;ar ese d&iacute;a el paso del Mar Rojo por parte de los hebreos durante el &eacute;xodo. Hab&iacute;a
				en la clase un estudiante que pertenec&iacute;a a una de esas denominaciones carism&aacute;ticas, el cual era una persona
				muy elocuente y emotiva. Desde el momento que se sent&oacute; en el aula comenz&oacute; a hablar con sus compa&ntilde;eros
				del gran milagro que iban a estudiar ese d&iacute;a.
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Pero antes de continuar, leamos un extracto del pasaje en cuesti&oacute;n, para que se tenga una idea
				del asunto que se iba a tratar ese d&iacute;a.
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
				<o:p>&nbsp;</o:p>
			</span>
        </p>

        <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
			<span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; &quot;22
				<i style='mso-bidi-font-style:normal'>Entonces los hijos de Israel entraron por medio de la mar en seco,
					<b>teniendo las aguas como muro a su diestra y a su siniestra</b>. </i>23
				<i style='mso-bidi-font-style:
normal'>Y sigui&eacute;ndolos los Egipcios, entraron tras ellos hasta el medio de la mar,
					<b>toda la caballer&iacute;a de Fara&oacute;n, sus carros, y su gente de a caballo</b>....... </i>26
				<i style='mso-bidi-font-style:normal'>
				Y Jehov&aacute; dijo a Mois&eacute;s: Extiende tu mano sobre la mar,
					<b>para que las aguas vuelvan sobre los Egipcios, sobre sus carros, y
						<u>sobre su caballer&iacute;a
						</u>
					</b>. </i>27
				<i style='mso-bidi-font-style:normal'> Y Mois&eacute;s extendi&oacute; su mano sobre la mar, y la mar se volvi&oacute; en su fuerza cuando amanec&iacute;a;
					y los Egipcios iban hacia ella. Y Jehov&aacute; derrib&oacute; a los Egipcios en medio de la mar. </i>28
				<b>
					<i style='mso-bidi-font-style:normal'>Y volvieron las aguas, y
						<u>cubrieron</u>
						los
						<u>carros</u> y la
						<u>caballer&iacute;a</u>, y todo
						<u>el ej&eacute;rcito de Fara&oacute;n</u>
					</i>
				</b>
				<i style='mso-bidi-font-style:normal'> que hab&iacute;a entrado tras ellos en la mar; no qued&oacute; de ellos ni uno</i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				( Ex 14: 22-28 abreviado )
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Pues bien, cuando el profesor &quot;cristiano&quot; entr&oacute; en el aula, el joven carism&aacute;tico
				estaba extasiado pensando en el tema que iban a estudiar ese d&iacute;a, y clamaba a voz en cuello: &quot;&iexcl;Aleluya!
				&iexcl;Aleluya! Qu&eacute; portentoso milagro realiz&oacute; Dios.&quot;
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; El profesor, mostrando muy poca simpat&iacute;a por el j&uacute;bilo espiritual del joven, le dijo:
				&quot;C&aacute;lmese joven. Despu&eacute;s que usted escuche mi conferencia, ver&aacute; que no hubo un milagro tan grande
				como usted supone.&quot;
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Entonces comenz&oacute; el profesor a &quot;explicar&quot;, dici&eacute;ndole a los estudiantes que
				la secci&oacute;n del Mar Rojo por la que atravesaron los hebreos durante el &eacute;xodo, se llamaba en griego el Mar
				de las Ca&ntilde;as, debido a que en aquel sitio, el mar no era hondo, pues la profundidad no pasaba de 12 pulgadas.
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Apenas hab&iacute;a terminado su conferencia el profesor &quot;cristiano&quot;, cuando el carism&aacute;tico
				joven comenz&oacute; a decir en voz alta: &quot;&iexcl;Aleluya! &iexcl;Aleluya! &iexcl;Qu&eacute; milagro m&aacute;s
				extraordinario nos ha narrado el profesor!
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Visiblemente perturbado y molesto el profesor le llam&oacute; la atenci&oacute;n al joven dici&eacute;ndole:
				&quot;&iquest;No ha escuchado usted lo que yo expliqu&eacute;? No ha habido ning&uacute;n milagro en el paso del Mar
				Rojo.&quot;
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p>
			<span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Pero el estudiante le respondi&oacute;:
				<b>&quot;Oh s&iacute; profesor. El milagro consisti&oacute; en que los caballos y los jinetes del rey de Egipto se ahogaron
					en s&oacute;lo 12 pulgadas de agua.</b>&quot;
				<u8:p></u8:p>
				<o:p></o:p>
			</span>
        </p>

        <p align=center style='text-align:center'>
            <b>
                <a href="NotesOf.astro">Volver al indice</a>
            </b>
        </p>

    </div>
</Layout>
