---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="'Almac&eacute;n' de almas previo al nacimiento">
    <DIV class=Section1>
        <P align=center style='text-align:center;tab-stops:.25in'>
            <B style='mso-bidi-font-weight:
normal'>
        <SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>&#147;Almac&eacute;n&#148; de almas previo al nacimiento
          <o:p></o:p>
        </SPAN>
            </B>
        <P style='tab-stops:.25in'>
            <B style='mso-bidi-font-weight:normal'>
          <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Qu&eacute; es el &#147;almac&eacute;n de almas&#148;
            <o:p></o:p>
          </SPAN>
            </B>
        <P style='tab-stops:.25in'>
          <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
            <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </SPAN>Hay cosas que en la Biblia no se dicen<b>,</b> pero las cuales uno puede deducir de la informaci&oacute;n que recibe en la Biblia
            <B style='mso-bidi-font-weight:normal'>.</B> En esos casos
            <B style='mso-bidi-font-weight:
normal'>,</B> como que no se puede presentar una clara referencia al asunto en la Biblia
            <B style='mso-bidi-font-weight:normal'>,</B>
            <B style='mso-bidi-font-weight:
normal'>la prudencia nos aconseja presentar nuestra observaci&oacute;n como una teor&iacute;a, no como una doctrina b&iacute;blica.</B>
            Ese es el caso del
            <B style='mso-bidi-font-weight:normal'>&#147;</B>almac&eacute;n de almas previo al nacimiento
            <B style='mso-bidi-font-weight:normal'>&#148;,</B>
            teor&iacute;a que m&aacute;s abajo explico
            <B style='mso-bidi-font-weight:normal'>.</B>
            <o:p></o:p>
          </SPAN>
        <P style='tab-stops:.25in'>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
              <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </SPAN>Mi opini&oacute;n es que Dios ya cre&oacute; todas las
              <B style='mso-bidi-font-weight:normal'>almas humanas</B> que van a existir
              <B style='mso-bidi-font-weight:normal'>,</B> y que las tiene en alg&uacute;n lugar donde a pesar de que existen
              <B style='mso-bidi-font-weight:normal'>,</B> ni sienten ni padecen
              <B style='mso-bidi-font-weight:normal'>,</B> porque no tienen la carne
              <B style='mso-bidi-font-weight:normal'>,</B> que es la que pone al alma humana
              <B style='mso-bidi-font-weight:normal'>,</B> ente espiritual
              <B style='mso-bidi-font-weight:
normal'>,</B> en contacto con el mundo f&iacute;sico
              <B style='mso-bidi-font-weight:
normal'>.</B> Desde ese lugar que he supuesto
              <B style='mso-bidi-font-weight:
normal'>,</B> Dios env&iacute;a
              <B style='mso-bidi-font-weight:normal'>,</B>
              o sus &aacute;ngeles llevan cada alma
              <B style='mso-bidi-font-weight:normal'>,</B> al cuerpo donde deban vivir
              <B style='mso-bidi-font-weight:normal'>.</B> Supongo que esto ocurra en alg&uacute;n momento entre la concepci&oacute;n y el primer o segundo a&ntilde;o
              de edad
              <B style='mso-bidi-font-weight:normal'>,</B> pudiendo este tiempo ser variable en cada caso
              <B style='mso-bidi-font-weight:
normal'>.</B> Tal vez ese sea el porqu&eacute; unos recuerdan cosas de cuando ten&iacute;an uno o dos a&ntilde;os y
              otros antes o despu&eacute;s
              <B style='mso-bidi-font-weight:normal'>.</B>
              <o:p></o:p>
            </SPAN>
        <P style='tab-stops:.25in'>
              <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </SPAN>
                <B style='mso-bidi-font-weight:normal'>Debido a que no tienen sensaciones de ninguna clase, no pueden percatarse de que existen;</B> y debido a
                que nunca las han tenido
                <B style='mso-bidi-font-weight:normal'>,</B> tampoco pueden recordarlas y
                <B style='mso-bidi-font-weight:normal'>,</B> por lo tanto
                <B style='mso-bidi-font-weight:normal'>,</B> tampoco por ese medio (el recuerdo) pueden percatarse de que existen
                <B style='mso-bidi-font-weight:normal'>.</B> Es como el feto en
                <SPAN class=GramE>el vientre materno
                  <B style='mso-bidi-font-weight:
normal'>;</B> en realidad m&aacute;s aislados</SPAN> que un feto
                <B style='mso-bidi-font-weight:normal'>,</B> sin la m&aacute;s m&iacute;nima sensaci&oacute;n que les haga darse cuenta de que existen
                <B style='mso-bidi-font-weight:
normal'>.</B> Sin embargo
                <B style='mso-bidi-font-weight:normal'>,</B> esas almas existen
                <B style='mso-bidi-font-weight:normal'>;</B> Dios las conoce
                <B style='mso-bidi-font-weight:normal'>;</B> sabe c&oacute;mo son y c&oacute;mo desarrollar&aacute;n
                <B style='mso-bidi-font-weight:normal'>,</B>
                y lo que van a hacer
                <B style='mso-bidi-font-weight:normal'>,</B>
                <SPAN class=GramE>etc
                  <B style='mso-bidi-font-weight:normal'>..</B>
                </SPAN>
                A ese supuesto lugar es a lo que yo llamo
                <B style='mso-bidi-font-weight:normal'>&#147;</B>almac&eacute;n de almas creadas
                <B style='mso-bidi-font-weight:normal'>&#148;.</B> A esa
                <B style='mso-bidi-font-weight:normal'>existencia sin conocimiento,</B> me
                <SPAN class=GramE>parece</SPAN> que es a lo que se hace referencia en Ecl 4
                <B style='mso-bidi-font-weight:normal'>:</B>10
                <B style='mso-bidi-font-weight:normal'>,</B>
                y m&aacute;s a&uacute;n en Ecl 6
                <B style='mso-bidi-font-weight:normal'>:</B>10
                <B style='mso-bidi-font-weight:normal'>.</B>
                <o:p></o:p>
              </SPAN>
        <P style='tab-stops:.25in'>
                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                  <o:p>&nbsp;</o:p>
                </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                    <SPAN style='mso-tab-count:1'>
                    </SPAN>
                    <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>
                    <B style='mso-bidi-font-weight:normal'>&#147;</B>
                  </SPAN>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>2
                  </SPAN>
            <I style='mso-bidi-font-style:normal'>
                    <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y alab&eacute; yo los finados que ya murieron
                      <B style='mso-bidi-font-weight:
normal'>,</B> m&aacute;s que los vivientes que hasta ahora est&aacute;n vivos
                      <B style='mso-bidi-font-weight:normal'>.</B>
                    </SPAN>
            </I>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>3
                  </SPAN>
            <I style='mso-bidi-font-style:
normal'>
                    <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y tuve por mejor que unos y otros
                      <B style='mso-bidi-font-weight:normal'>,</B>
                      <B style='mso-bidi-font-weight:normal'>al que no ha sido a&uacute;n,</B>
                      que no ha visto las malas obras que debajo del sol se hacen
                    </SPAN>
            </I>
            <B style='mso-bidi-font-weight:normal'>
                    <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>.&#148;</SPAN>
            </B>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                    <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>(Ecl 4
                    <B style='mso-bidi-font-weight:
normal'>:</B>2-3)
                    <o:p></o:p>
                  </SPAN>
        <P style='tab-stops:.25in'>
                    <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                      <o:p>&nbsp;</o:p>
                    </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                      <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                        <SPAN style='mso-spacerun:yes'>&nbsp;
                        </SPAN>
                        <B style='mso-bidi-font-weight:normal'>&#147;
                          <I style='mso-bidi-font-style:normal'>El que es, ya su nombre ha sido nombrado;
                          </I>
                        </B>
                        <I style='mso-bidi-font-style:
normal'> y se sabe que es hombre
                          <B style='mso-bidi-font-weight:normal'>,</B>
                          y que no podr&aacute; contender con el que es m&aacute;s fuerte que &eacute;l
                        </I>
                        <B style='mso-bidi-font-weight:normal'>.&#148;</B>
                        <SPAN style='mso-tab-count:
3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </SPAN>(Ecl 6
                        <B style='mso-bidi-font-weight:normal'>:</B>10)
                        <o:p></o:p>
                      </SPAN>
        <P style='tab-stops:.25in'>
                        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                          <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </SPAN>
                          <B style='mso-bidi-font-weight:normal'>En el primer pasaje</B> nos dice que tuvo por mejor que a los que ahora est&aacute;n vivos
                          <B style='mso-bidi-font-weight:
normal'>,</B> y que a los que estuvieron vivos
                          <B style='mso-bidi-font-weight:
normal'>,</B> pero murieron
                          <B style='mso-bidi-font-weight:normal'>,</B> al que no ha sido a&uacute;n
                          <B style='mso-bidi-font-weight:normal'>.</B>
                          <B style='mso-bidi-font-weight:normal'>Es decir, al que a&uacute;n no ha sido enviado a un cuerpo de carne.</B>
                          <o:p></o:p>
                        </SPAN>
        <P style='tab-stops:.25in'>
                          <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                            <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </SPAN>No puede estarse refiriendo a alguien que a&uacute;n no ha sido creado
                            <B style='mso-bidi-font-weight:
normal'>,</B> porque alguien que a&uacute;n no existe no puede estar ni mejor ni peor que uno que s&iacute;
                            existe
                            <B style='mso-bidi-font-weight:normal'>.</B> Por lo tanto
                            <B style='mso-bidi-font-weight:normal'>,</B> hay que pensar que se refiere a alguien que est&aacute; en existencia
                            <B style='mso-bidi-font-weight:
normal'>,</B> pero que no ha nacido a&uacute;n
                            <B style='mso-bidi-font-weight:
normal'>.</B> Es decir
                            <B style='mso-bidi-font-weight:normal'>,</B> un alma creada
                            <B style='mso-bidi-font-weight:normal'>,</B> que jam&aacute;s ha tenido existencia consciente
                            <B style='mso-bidi-font-weight:normal'>,</B> como el feto en el vientre de su madre
                            <B style='mso-bidi-font-weight:normal'>,</B>
                            un alma que vendr&aacute; a vivir entre nosotros por primera y &uacute;nica vez
                            <B style='mso-bidi-font-weight:normal'>,</B> y que luego partir&aacute; para donde Dios disponga
                            <B style='mso-bidi-font-weight:normal'>,</B> el Cielo o el Infierno
                            <B style='mso-bidi-font-weight:normal'>.</B>
                            <o:p></o:p>
                          </SPAN>
        <P style='tab-stops:.25in'>
                            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                              <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </SPAN>
                              <B style='mso-bidi-font-weight:normal'>El segundo pasaje</B> nos declara que el que es
                              <B style='mso-bidi-font-weight:normal'>,</B> ya su nombre ha sido nombrado
                              <B style='mso-bidi-font-weight:normal'>.</B> Es decir
                              <B style='mso-bidi-font-weight:normal'>,</B> que aquel que ya naci&oacute;
                              <B style='mso-bidi-font-weight:normal'>,</B> se conoc&iacute;a de antemano
                              <B style='mso-bidi-font-weight:normal'>,</B> se sab&iacute;a su nombre y sus cualidades
                              <B style='mso-bidi-font-weight:normal'>.</B>
                              Esto
                              <B style='mso-bidi-font-weight:
normal'>,</B> en cierta forma concuerda con lo que se puede razonar de las profec&iacute;as hechas
                              sobre Jos&iacute;as rey de Jud&aacute; y sobre Ciro rey de Persia
                              <B style='mso-bidi-font-weight:normal'>,</B> las cuales ambas fueron hechas con siglos de anticipaci&oacute;n al nacimiento del que
                              se menciona en la profec&iacute;a
                              <B style='mso-bidi-font-weight:normal'>.</B>
                              <o:p></o:p>
                            </SPAN>
        <P style='tab-stops:.25in'>
                              <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                <o:p>&nbsp;</o:p>
                              </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
                                  </SPAN>
                                  <B style='mso-bidi-font-weight:normal'>&#147;</B>
                                </SPAN>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>1
                                </SPAN>
            <I style='mso-bidi-font-style:normal'>
                                  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y he aqu&iacute; que
                                    <B style='mso-bidi-font-weight:normal'>un var&oacute;n de Dios por palabra de Jehov&aacute;</B> vino de Jud&aacute; a Beth-el
                                    <B style='mso-bidi-font-weight:normal'>;</B> y estando
                                    <SPAN class=SpellE>Jeroboam</SPAN> al altar para quemar perfumes
                                    <B style='mso-bidi-font-weight:
normal'>,</B>
                                  </SPAN>
            </I>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:
ES-TRAD'>2
                                </SPAN>
            <I style='mso-bidi-font-style:normal'>
                                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&eacute;l clam&oacute; contra el altar por palabra de Jehov&aacute;
                                    <B style='mso-bidi-font-weight:normal'>,</B> y dijo
                                    <B style='mso-bidi-font-weight:normal'>:</B>
                                    Altar
                                    <B style='mso-bidi-font-weight:
normal'>,</B> altar
                                    <B style='mso-bidi-font-weight:normal'>,</B> as&iacute; ha dicho Jehov&aacute;
                                    <B style='mso-bidi-font-weight:normal'>:</B> He aqu&iacute; que
                                    <B style='mso-bidi-font-weight:normal'>a la casa de David nacer&aacute; un hijo, llamado Jos&iacute;as,</B> el cual sacrificar&aacute;
                                    sobre ti a los sacerdotes de los altos que queman sobre ti perfumes
                                    <B style='mso-bidi-font-weight:
normal'>;</B> y sobre ti quemar&aacute;n huesos de hombres
                                  </SPAN>
            </I>
            <B style='mso-bidi-font-weight:normal'>
                                  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>.&#148;</SPAN>
            </B>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </SPAN>
                                  <SPAN style='mso-tab-count:1'> </SPAN>(I R 13
                                  <B style='mso-bidi-font-weight:normal'>:</B>1-2)
                                  <o:p></o:p>
                                </SPAN>
        <P style='tab-stops:.25in'>
                                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                    <o:p>&nbsp;</o:p>
                                  </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                    <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                      <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
                                      </SPAN>
                                      <B style='mso-bidi-font-weight:normal'>&#147;</B>44
                                      <B style='mso-bidi-font-weight:
normal'>:</B>
                                    </SPAN>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:
ES-TRAD'>28</SPAN>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                      <B style='mso-bidi-font-weight:normal'>
                                        <I style='mso-bidi-font-style:normal'>Que dice de Ciro:</I>
                                      </B>
                                      <I style='mso-bidi-font-style:normal'> Es mi pastor
                                        <B style='mso-bidi-font-weight:normal'>,</B> y
                                        <B style='mso-bidi-font-weight:
normal'>cumplir&aacute; todo lo que yo quiero,</B> en diciendo a Jerusalem
                                        <B style='mso-bidi-font-weight:normal'>:</B> Ser&aacute;s edificada
                                        <B style='mso-bidi-font-weight:normal'>;</B> y al Templo
                                        <B style='mso-bidi-font-weight:
normal'>:</B> Ser&aacute;s fundado
                                        <B style='mso-bidi-font-weight:normal'>.</B>
                                      </I>45
                                      <B style='mso-bidi-font-weight:normal'>:</B>
                                    </SPAN>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>1</SPAN>
            <I style='mso-bidi-font-style:
normal'>
                                      <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                        <B style='mso-bidi-font-weight:normal'>As&iacute; dice Jehov&aacute; a su ungido, a Ciro,</B> al cual tom&eacute; yo por
                                        su mano derecha
                                        <B style='mso-bidi-font-weight:
normal'>,</B> para sujetar gentes delante de &eacute;l y desatar lomos de reyes
                                        <B style='mso-bidi-font-weight:normal'>;</B> para abrir delante de &eacute;l puertas
                                        <B style='mso-bidi-font-weight:normal'>,</B> y las puertas no se cerrar&aacute;n
                                      </SPAN>
            </I>
            <B style='mso-bidi-font-weight:normal'>
                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>.&#148;</SPAN>
            </B>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                      <SPAN style='mso-tab-count:
12'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </SPAN>
                                      <SPAN style='mso-tab-count:1'> </SPAN>(Isa 44
                                      <B style='mso-bidi-font-weight:normal'>:</B>28 al 45
                                      <B style='mso-bidi-font-weight:normal'>:</B>1)
                                      <o:p></o:p>
                                    </SPAN>
        <P style='tab-stops:.25in'>
                                      <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </SPAN>As&iacute; que por lo que hemos visto en estos cuatro pasajes
                                        <B style='mso-bidi-font-weight:
normal'>,</B> da la sensaci&oacute;n de que las almas fueron creadas todas de una sola vez
                                        <B style='mso-bidi-font-weight:normal'>,</B> pero no fueron enviadas todas la mismo tiempo a vestirse de un cuerpo de carne
                                        <B style='mso-bidi-font-weight:normal'>,</B> sino que son enviadas progresivamente seg&uacute;n convenga a los planes divinos
                                        <B style='mso-bidi-font-weight:normal'>.</B>
                                        <o:p></o:p>
                                      </SPAN>
        <P style='tab-stops:.25in'>
                                        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                          <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          </SPAN>
                                          <B style='mso-bidi-font-weight:normal'>Pero supongamos que esta teor&iacute;a fuera errada,</B> y analicemos las alternativas
                                          que entonces tendr&iacute;amos que admitir
                                          <B style='mso-bidi-font-weight:normal'>.</B>
                                          <o:p></o:p>
                                        </SPAN>
        <P style='tab-stops:.25in'>
                                          <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                            <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </SPAN>Si no admiti&eacute;ramos la teor&iacute;a de que
                                            <B style='mso-bidi-font-weight:
normal'>Dios cre&oacute; de una sola vez todas las almas</B> de los humanos que van a
                                            nacer hasta el d&iacute;a del fin
                                            <B style='mso-bidi-font-weight:normal'>,</B> tendr&iacute;amos que admitir una de estas otras dos alternativas
                                            <B style='mso-bidi-font-weight:normal'>:</B>
                                            <B style='mso-bidi-font-weight:normal'>a) o Dios no ha cesado en su tarea de creaci&oacute;n</B> desde que la comenz&oacute;
                                            hace alrededor de 6
                                            <B style='mso-bidi-font-weight:normal'>,</B>000 a&ntilde;os
                                            <B style='mso-bidi-font-weight:normal'>;</B> o
                                            <B style='mso-bidi-font-weight:
normal'>b) Dios s&iacute; ces&oacute; de crear,</B> pero Dios le ha dado a la carne
                                            <B style='mso-bidi-font-weight:normal'>,</B> que es f&iacute;sica
                                            <B style='mso-bidi-font-weight:normal'>,</B> la facultad de generar el alma
                                            <B style='mso-bidi-font-weight:normal'>,</B> que es un ente espiritual
                                            <B style='mso-bidi-font-weight:normal'>,</B> es decir que el alma se f&aacute;brica sola
                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                            autom&aacute;ticamente
                                            <B style='mso-bidi-font-weight:normal'>,</B> a partir de los gametos masculino y femenino del humano
                                            <B style='mso-bidi-font-weight:normal'>,</B> al igual que se fabrican por s&iacute; solos el esqueleto
                                            <B style='mso-bidi-font-weight:
normal'>,</B> los m&uacute;sculos
                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                            los nervios
                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                            etc
                                            <B style='mso-bidi-font-weight:
normal'>.,</B> de un feto
                                            <B style='mso-bidi-font-weight:normal'>.</B>
                                            <o:p></o:p>
                                          </SPAN>
        <P style='tab-stops:.25in'>
                                            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                              <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              </SPAN>
                                              <B style='mso-bidi-font-weight:normal'>Aceptar la alternativa &#147;a&#148;
                                              </B> (que Dios no ha cesado en su tarea de creaci&oacute;n)
                                              <B style='mso-bidi-font-weight:
normal'>,</B> contradir&iacute;a Gn 2
                                              <B style='mso-bidi-font-weight:normal'>:</B>1-3
                                              <B style='mso-bidi-font-weight:normal'>,</B>
                                              Heb 4
                                              <B style='mso-bidi-font-weight:
normal'>:</B>4 y 10
                                              <B style='mso-bidi-font-weight:normal'>,</B> as&iacute; como toda la Biblia
                                              <B style='mso-bidi-font-weight:normal'>,</B> que nos indica que Dios hizo la creaci&oacute;n en seis d&iacute;as descansando
                                              el s&eacute;ptimo
                                              <B style='mso-bidi-font-weight:normal'>;</B> y que de ah&iacute; en adelante toda la materia funciona autom&aacute;ticamente
                                              <B style='mso-bidi-font-weight:normal'>,</B>
                                              reproduci&eacute;ndose
                                              <B style='mso-bidi-font-weight:normal'>,</B> cambiando de forma
                                              <B style='mso-bidi-font-weight:normal'>,</B>
                                              etc
                                              <B style='mso-bidi-font-weight:
normal'>.,</B> seg&uacute;n las leyes por Dios establecidas
                                              <B style='mso-bidi-font-weight:
normal'>.</B>
                                              <SPAN class=GramE>las</SPAN> cuales la materia no puede dejar de cumplir
                                              <B style='mso-bidi-font-weight:normal'>.</B> Es decir
                                              <B style='mso-bidi-font-weight:normal'>,</B> que tendr&iacute;amos que dejar esta sana ense&ntilde;anza
                                              <B style='mso-bidi-font-weight:normal'>,</B>
                                              y pensar que Dios
                                              <B style='mso-bidi-font-weight:normal'>,</B> desde la creaci&oacute;n
                                              <B style='mso-bidi-font-weight:normal'>,</B> continu&oacute; creando almas
                                              <B style='mso-bidi-font-weight:normal'>,</B> para ponerlas en los cuerpos de los miles y miles de beb&eacute;s que
                                              d&iacute;a y noche nacen en el mundo
                                              <B style='mso-bidi-font-weight:normal'>.</B>
                                              <B style='mso-bidi-font-weight:normal'>&#161;Absurdo!
                                              </B>
                                              <o:p></o:p>
                                            </SPAN>
        <P style='tab-stops:.25in'>
                                              <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                <o:p>&nbsp;</o:p>
                                              </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
                                                  </SPAN>
                                                  <B style='mso-bidi-font-weight:normal'>&#147;</B>
                                                </SPAN>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>1
                                                </SPAN>
            <I style='mso-bidi-font-style:normal'>
                                                  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y fueron acabados los cielos y la Tierra
                                                    <B style='mso-bidi-font-weight:
normal'>,</B> y todo su ornamento
                                                    <B style='mso-bidi-font-weight:normal'>.</B>
                                                  </SPAN>
            </I>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>2
                                                </SPAN>
            <I style='mso-bidi-font-style:normal'>
                                                  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y acab&oacute; Dios en el d&iacute;a s&eacute;ptimo su obra que hizo
                                                    <B style='mso-bidi-font-weight:normal'>,</B> y
                                                    <B style='mso-bidi-font-weight:
normal'>repos&oacute; el d&iacute;a s&eacute;ptimo de toda su obra que hab&iacute;a
                                                      hecho.
                                                    </B>
                                                  </SPAN>
            </I>
            <SPAN lang=ES-TRAD style='font-size:8.0pt;
mso-ansi-language:ES-TRAD'>3
                                                </SPAN>
            <I style='mso-bidi-font-style:normal'>
                                                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y bendijo Dios al d&iacute;a s&eacute;ptimo
                                                    <B style='mso-bidi-font-weight:normal'>,</B> y lo santific&oacute;
                                                    <B style='mso-bidi-font-weight:normal'>,</B>
                                                    <B style='mso-bidi-font-weight:normal'>porque en &eacute;l repos&oacute; de toda su obra que hab&iacute;a Dios
                                                      criado y hecho
                                                    </B>
                                                  </SPAN>
            </I>
            <B style='mso-bidi-font-weight:
normal'>
                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>.&#148;</SPAN>
            </B>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                  <SPAN style='mso-tab-count:
2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  </SPAN>(Gn 2
                                                  <B style='mso-bidi-font-weight:normal'>:</B>1-3)
                                                  <o:p></o:p>
                                                </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                    <o:p>&nbsp;</o:p>
                                                  </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                                    <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                      <SPAN style='mso-tab-count:1'>
                                                      </SPAN>
                                                      <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>
                                                      <B style='mso-bidi-font-weight:normal'>&#147;</B>
                                                      <I style='mso-bidi-font-style:normal'>Porque en un cierto lugar dijo as&iacute; del s&eacute;ptimo d&iacute;a
                                                        <B style='mso-bidi-font-weight:normal'>:</B>
                                                        <B style='mso-bidi-font-weight:normal'>Y repos&oacute; Dios de todas sus obras
                                                        </B> en el s&eacute;ptimo d&iacute;a
                                                      </I>
                                                      <B style='mso-bidi-font-weight:normal'>.&#148;</B>
                                                      <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
                                                      </SPAN>(Heb 4
                                                      <B style='mso-bidi-font-weight:
normal'>:</B>4)
                                                      <o:p></o:p>
                                                    </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                                      <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                        <o:p>&nbsp;</o:p>
                                                      </SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
                                                        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                          <SPAN style='mso-spacerun:yes'>&nbsp;
                                                          </SPAN>
                                                          <B style='mso-bidi-font-weight:normal'>&#147;</B>
                                                          <I style='mso-bidi-font-style:
normal'>Porque el que ha entrado en su reposo
                                                            <B style='mso-bidi-font-weight:
normal'>,</B> tambi&eacute;n &eacute;l ha reposado de sus obras
                                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                                            <B style='mso-bidi-font-weight:normal'>como Dios de las suyas
                                                            </B>
                                                          </I>
                                                          <B style='mso-bidi-font-weight:normal'>.&#148;</B>
                                                          <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
                                                          </SPAN>(Heb 4
                                                          <B style='mso-bidi-font-weight:
normal'>:</B>10)
                                                          <o:p></o:p>
                                                        </SPAN>
        <P style='tab-stops:.25in'>
            <B style='mso-bidi-font-weight:normal'>
                                                            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                              <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Admitir la teor&iacute;a
                                                              &#147;b&#148;
                                                            </SPAN>
            </B>
            <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> (el alma se f&aacute;brica sola
                                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                                            autom&aacute;ticamente
                                                            <B style='mso-bidi-font-weight:normal'>,</B> a partir de la carne) nos conducir&iacute;a a algo m&aacute;s
                                                            il&oacute;gico a&uacute;n
                                                            <B style='mso-bidi-font-weight:normal'>,</B> como es el pensar que algo espiritual como el alma
                                                            <B style='mso-bidi-font-weight:normal'>,</B>
                                                            es producido por algo f&iacute;sico como es el cuerpo
                                                            <B style='mso-bidi-font-weight:normal'>,</B> y que esa cosa no-f&iacute;sica que es el alma
                                                            <B style='mso-bidi-font-weight:
normal'>,</B> se multiplica en las c&eacute;lulas sexuales del humano
                                                            <B style='mso-bidi-font-weight:normal'>,</B> para luego adquirir mayor tama&ntilde;o gracias al alimento
                                                            <B style='mso-bidi-font-weight:normal'>.</B>
                                                            Eso linda con la teor&iacute;a ruselista de que el alma como algo no-f&iacute;sico
                                                            <B style='mso-bidi-font-weight:normal'>,</B> no existe y
                                                            <B style='mso-bidi-font-weight:normal'>es, por consiguiente, completamente absurda.
                                                            </B>
                                                            <o:p></o:p>
                                                          </SPAN>
        <P style='tab-stops:.25in'>
            <B style='mso-bidi-font-weight:normal'>
                                                              <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                                <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Concretando: o aceptamos
                                                                que existe el &#147;almac&eacute;n de almas&#148; o caemos
                                                                en uno de dos absurdos.
                                                                <o:p></o:p>
                                                              </SPAN>
            </B>
        <P style='tab-stops:.25in'>
                                                              <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                                <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>
                                                                <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </SPAN>
                                                                <B style='mso-bidi-font-weight:normal'>No creo que haya otra alternativa basados en la Biblia, pero
                                                                  si alguien la ve, que me lo escriba y me lo env&iacute;e
                                                                  en la forma clara en que yo lo hago, que mucho se lo voy
                                                                  a agradecer.
                                                                </B> Otro tanto puede hacer
                                                                <B style='mso-bidi-font-weight:normal'>,</B> si no ve otra alternativa
                                                                <B style='mso-bidi-font-weight:normal'>,</B> pero le nota falta de consistencia l&oacute;gica interna
                                                                o externa a la teor&iacute;a del almac&eacute;n de almas
                                                                <B style='mso-bidi-font-weight:normal'>,</B> que aqu&iacute; explico
                                                                <B style='mso-bidi-font-weight:normal'>,</B> o si ve errores en la cadena del raciocinio hecha para
                                                                llegar a tal conclusi&oacute;n
                                                                <B style='mso-bidi-font-weight:normal'>.</B>
                                                                <o:p></o:p>
                                                              </SPAN>
        <P style='tab-stops:.25in'>
                                                                <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                                  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                  </SPAN>Pues bien
                                                                  <B style='mso-bidi-font-weight:normal'>,</B>
                                                                  <B style='mso-bidi-font-weight:normal'>la existencia de un &#147;almac&eacute;n de almas&#148;
                                                                    concuerda perfectamente con la predestinaci&oacute;n
                                                                    circunstancial,
                                                                  </B> la cual dice que Dios predestina las circunstancias
                                                                  en que debe vivir un ser humano su existencia terrenal
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> de acuerdo a los planes divinos
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> y otra muy diferente es la
                                                                  <B style='mso-bidi-font-weight:normal'>&#147;</B>predestinaci&oacute;n absoluta
                                                                  <B style='mso-bidi-font-weight:normal'>&#148;,</B> que afirma que Dios lo predestina a ser salvo
                                                                  o perdido
                                                                  <B style='mso-bidi-font-weight:normal'>.</B> Dios no obliga a unos a ser salvos y a otros a ser
                                                                  perdidos
                                                                  <B style='mso-bidi-font-weight:
normal'>,</B> sino que
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> como que los conoce de antemano
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> como que
                                                                  <B style='mso-bidi-font-weight:normal'>&#147;</B>ve
                                                                  <B style='mso-bidi-font-weight:
normal'>&#148;</B> c&oacute;mo son en el
                                                                  <B style='mso-bidi-font-weight:normal'>&#147;</B>almac&eacute;n
                                                                  <B style='mso-bidi-font-weight:normal'>&#148;,</B>
                                                                  manda unas almas a nacer en una &eacute;poca
                                                                  <B style='mso-bidi-font-weight:normal'>,</B>
                                                                  familia
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> raza o naci&oacute;n
                                                                  <B style='mso-bidi-font-weight:normal'>,</B> y a otras en otra
                                                                  <B style='mso-bidi-font-weight:
normal'>.</B>
                                                                  <o:p></o:p>
                                                                </SPAN>
        <P style='tab-stops:.25in'>
                                                                  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
                                                                    <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </SPAN>Es parecido a la diferenciaci&oacute;n que puede
                                                                    hacer un escultor al mirar los distintos materiales o
                                                                    los distintos m&aacute;rmoles que &eacute;l tiene en
                                                                    su almac&eacute;n
                                                                    <B style='mso-bidi-font-weight:normal'>,</B> de los que piensa hacer estatuas
                                                                    <B style='mso-bidi-font-weight:normal'>.</B>
                                                                    &Eacute;l sabr&iacute;a c&oacute;mo va a ser o a lucir dicha estatua
                                                                    <B style='mso-bidi-font-weight:
normal'>,</B> s&oacute;lo con ver el material del cual piensa
                                                                    esculpirla
                                                                    <B style='mso-bidi-font-weight:normal'>,</B> y por tener el apropiado conocimiento y experiencia
                                                                    para ello
                                                                    <B style='mso-bidi-font-weight:normal'>.</B>
                                                                    <o:p></o:p>
                                                                  </SPAN>
        <P style='tab-stops:.25in'>
                                                                    <SPAN lang=ES-TRAD
                                                                          style='mso-ansi-language:ES-TRAD'>
                                                                      <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                      </SPAN>
                                                                      <B style='mso-bidi-font-weight:normal'>El alma del fara&oacute;n que no quer&iacute;a dejar
                                                                        salir a los hebreos de Egipto,</B> la envi&oacute;
                                                                      a nacer en el cuerpo que se estaba desarrollando en
                                                                      el vientre de la esposa del fara&oacute;n anterior
                                                                      <B style='mso-bidi-font-weight:normal'>;</B> de manera que esta alma malvada y obstinada vino
                                                                      al mundo en el lugar
                                                                      <B style='mso-bidi-font-weight:
normal'>,</B> tiempo y familia que conven&iacute;a a los planes
                                                                      de Dios
                                                                      <B style='mso-bidi-font-weight:normal'>.</B> En ese sentido Dios predestin&oacute; esa alma
                                                                      <B style='mso-bidi-font-weight:normal'>,</B> pero no la predestin&oacute; a ser malvada y
                                                                      obstinada
                                                                      <B style='mso-bidi-font-weight:normal'>,</B> la predestin&oacute; a estar all&iacute;
                                                                      <B style='mso-bidi-font-weight:normal'>.</B>
                                                                      <o:p></o:p>
                                                                    </SPAN>
        <P style='tab-stops:.25in'>
                                                                      <SPAN lang=ES-TRAD
                                                                            style='mso-ansi-language:ES-TRAD'>
                                                                        <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        </SPAN>
                                                                        <B style='mso-bidi-font-weight:normal'>Otro tanto puede decirse de Judas.
                                                                        </B> Si su alma hubiera sido enviada al mundo 100
                                                                        a&ntilde;os antes
                                                                        <B style='mso-bidi-font-weight:
normal'>,</B> &oacute; 100 a&ntilde;os despu&eacute;s
                                                                        <B style='mso-bidi-font-weight:
normal'>,</B> no le hubiera sido posible traicionar a Jes&uacute;s
                                                                        <B style='mso-bidi-font-weight:normal'>.</B> Si esa alma hubiera sido enviada al mundo en
                                                                        la misma &eacute;poca que Jes&uacute;s
                                                                        <B style='mso-bidi-font-weight:
normal'>,</B> pero en vez de haber sido enviada a Israel
                                                                        <B style='mso-bidi-font-weight:
normal'>,</B> hubiera sido enviada al vientre de una india
                                                                        americana
                                                                        <B style='mso-bidi-font-weight:normal'>,</B> tampoco hubiera podido traicionar a Jes&uacute;s
                                                                        <B style='mso-bidi-font-weight:normal'>.</B> Hubiera traicionado al cacique de su tribu
                                                                        <B style='mso-bidi-font-weight:normal'>,</B> o a su padre
                                                                        <B style='mso-bidi-font-weight:normal'>,</B> pero no al Se&ntilde;or
                                                                        <B style='mso-bidi-font-weight:normal'>.</B> Pero
                                                                        <B style='mso-bidi-font-weight:
normal'>Dios lo predestin&oacute; circunstancialmente a venir
                                                                          en el tiempo, lugar y circunstancias en que &eacute;l
                                                                          pudiera traicionar a Jes&uacute;s;
                                                                          <U>porque Dios sab&iacute;a que era un traidor, no
                                                                            porque Dios lo predestinara a ser un traidor</U>.</B>
                                                                        <o:p></o:p>
                                                                      </SPAN>
        <P style='tab-stops:.25in'>
                                                                        <SPAN lang=ES-TRAD
                                                                              style='mso-ansi-language:ES-TRAD'>
                                                                          <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                          </SPAN>A&uacute;n con todas las circunstancias
                                                                          mencionadas
                                                                          <B style='mso-bidi-font-weight:normal'>,</B> cumpli&eacute;ndose en favor de la posibilidad
                                                                          de traicionar al Se&ntilde;or
                                                                          <B style='mso-bidi-font-weight:normal'>,</B>
                                                                          <B style='mso-bidi-font-weight:normal'>si Jes&uacute;s no lo hubiera elegido como uno
                                                                            de sus ap&oacute;stoles, no hubiera podido traicionarlo,</B>
                                                                          no hubiera podido poner en efecto la tendencia a ser traidor
                                                                          <B style='mso-bidi-font-weight:normal'>.</B> Tendencia esta que se hab&iacute;a desarrollado
                                                                          en &eacute;l
                                                                          <B style='mso-bidi-font-weight:normal'>,</B> despu&eacute;s de su nacimiento
                                                                          <B style='mso-bidi-font-weight:normal'>,</B> sin que Dios lo hubiera creado as&iacute;
                                                                          <B style='mso-bidi-font-weight:normal'>.</B> Por lo tanto
                                                                          <B style='mso-bidi-font-weight:normal'>,</B>
                                                                          <B style='mso-bidi-font-weight:
normal'>Dios lo predestin&oacute; para traicionar a Jesucristo,</B>
                                                                          no para ser traidor
                                                                          <B style='mso-bidi-font-weight:normal'>.</B> Dios sab&iacute;a que &eacute;l desarrollar&iacute;a
                                                                          esa mala tendencia y lo puso donde pudiera usarla
                                                                          con Cristo
                                                                          <B style='mso-bidi-font-weight:normal'>,</B> pero no lo predestin&oacute; a ser traidor
                                                                          <B style='mso-bidi-font-weight:normal'>.</B>
                                                                          <o:p></o:p>
                                                                        </SPAN>
        <P style='tab-stops:.25in'>
                                                                          <SPAN lang=ES-TRAD
                                                                                style='mso-ansi-language:ES-TRAD'>
                                                                            <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            </SPAN>No es l&oacute;gico que Dios fabrique
                                                                            a uno malo
                                                                            <B style='mso-bidi-font-weight:normal'>,</B> y luego se enoje contra &eacute;l porque
                                                                            es malo
                                                                            <B style='mso-bidi-font-weight:
normal'>,</B> y lo castigue envi&aacute;ndolo al Infierno
                                                                            <B style='mso-bidi-font-weight:
normal'>.</B>
                                                                            <B style='mso-bidi-font-weight:normal'>No es ese el tipo de justicia que Dios nos ense&ntilde;a
                                                                              en toda la Biblia;</B> y nosotros
                                                                            <B style='mso-bidi-font-weight:normal'>,</B> para saber lo que es justo o injusto
                                                                            <B style='mso-bidi-font-weight:normal'>,</B> nos tenemos que guiar
                                                                            <B style='mso-bidi-font-weight:normal'>,</B> por lo que nos ense&ntilde;a Dios en la
                                                                            Biblia
                                                                            <B style='mso-bidi-font-weight:normal'>.</B> No es la predestinaci&oacute;n absoluta
                                                                            lo que ense&ntilde;a la Biblia
                                                                            <B style='mso-bidi-font-weight:normal'>.</B> Creer en eso linda con la blasfemia
                                                                            <B style='mso-bidi-font-weight:normal'>.</B>
                                                                            <o:p></o:p>
                                                                          </SPAN>
        <P align=center style='text-align:center;tab-stops:.25in'>
            <B style='mso-bidi-font-weight:
normal'>
                                                                              <SPAN lang=ES-TRAD
                                                                                    style='mso-ansi-language:ES-TRAD'>
                                                                                <A HREF="NotesOf.astro">Volver al &iacute;ndice</A>
                                                                              </SPAN>
                <o:p></o:p>
            </B>
    </DIV>
</Layout>
