---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="El verdadero amor a Dios es obedecer sus mandamientos">
    <DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>El
  verdadero amor a Dios es obedecer sus mandamientos<o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Santiago dijo que la fe se demuestra por las
  obras<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Es verdad.</B> La fe no se
  ve<B style='mso-bidi-font-weight:normal'>,</B> no se
  huele<B style='mso-bidi-font-weight:
normal'>,</B> no se oye<B style='mso-bidi-font-weight:normal'>,</B> no tiene
  sabor<B style='mso-bidi-font-weight:normal'>,</B> no se puede
  tocar<B style='mso-bidi-font-weight:normal'>.</B> La fe uno la nota por las
  obras del que la tiene<B style='mso-bidi-font-weight:normal'>.</B> Es
  decir<B style='mso-bidi-font-weight:normal'>,</B> que el que en realidad
  tiene fe<B style='mso-bidi-font-weight:normal'>,</B> se siente compelido
  a obrar<B style='mso-bidi-font-weight:normal'>,</B> por lo
  cual<B style='mso-bidi-font-weight:
normal'>,</B> el que lo observa<B style='mso-bidi-font-weight:normal'>,</B>
  se da cuenta de que en realidad tiene
  fe<B style='mso-bidi-font-weight:normal'>.</B> Si alguien dice tener fe y
  no tiene obras<B style='mso-bidi-font-weight:normal'>,</B> es que en realidad
  no tiene fe<B style='mso-bidi-font-weight:normal'>,</B> s&oacute;lo dice
  tenerla<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>Algo semejante
  se puede decir del amor a
  Dios.</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> El
  amor a Dios no se ve<B style='mso-bidi-font-weight:
normal'>,</B> no se huele<B style='mso-bidi-font-weight:normal'>,</B> no
  se oye<B style='mso-bidi-font-weight:normal'>,</B> no tiene
  sabor<B style='mso-bidi-font-weight:
normal'>,</B> no se puede tocar<B style='mso-bidi-font-weight:normal'>.</B>
  El amor a Dios uno lo nota por la obediencia del que lo
  tiene<B style='mso-bidi-font-weight:
normal'>.</B> Es decir<B style='mso-bidi-font-weight:normal'>,</B> que el
  que en realidad tiene amor a Dios<B style='mso-bidi-font-weight:normal'>,</B>
  se siente compelido a obedecerle<B style='mso-bidi-font-weight:normal'>,</B>
  por lo cual<B style='mso-bidi-font-weight:normal'>,</B> el que lo
  observa<B style='mso-bidi-font-weight:normal'>,</B> se da cuenta de que en
  realidad tiene amor a Dios<B style='mso-bidi-font-weight:normal'>.</B> Si
  alguien dice tener amor a Dios y no lo
  obedece<B style='mso-bidi-font-weight:normal'>,</B> es que en realidad no
  tiene amor a Dios<B style='mso-bidi-font-weight:normal'>,</B> s&oacute;lo
  dice tenerlo<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>El que de verdad ama a
  Dios<B style='mso-bidi-font-weight:normal'>,</B> lo demuestra buscando y
  cumpliendo sus mandamientos<B style='mso-bidi-font-weight:normal'>.</B> El
  que dice que ama a Dios y no indaga por sus mandamientos para
  cumplirlos<B style='mso-bidi-font-weight:
normal'>,</B> en realidad no ama a
  Dios<B style='mso-bidi-font-weight:normal'>.</B> Solamente
  <B style='mso-bidi-font-weight:normal'>&#147;</B>dice<B style='mso-bidi-font-weight:normal'>&#148;</B>
  que lo ama<B style='mso-bidi-font-weight:
normal'>.</B> No es l&oacute;gico conocer la grandeza de
  Dios<B style='mso-bidi-font-weight:normal'>,</B>
  amarlo<B style='mso-bidi-font-weight:
normal'>,</B> y no cumplir sus
  mandamientos<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Para los que siempre lo andan tergiversando
  todo<B style='mso-bidi-font-weight:normal'>,</B> diciendo que por encima
  de los mandamientos de Dios est&aacute; el
  <B style='mso-bidi-font-weight:
normal'>&#147;</B>amor<B style='mso-bidi-font-weight:normal'>&#148;,</B>
  es bueno que se den cuenta de que <B style='mso-bidi-font-weight:normal'>de
  acuerdo a un ap&oacute;stol de Jesucristo, amor es que andemos seg&uacute;n
  sus mandamientos,</B> no el simple
  bla<B style='mso-bidi-font-weight:normal'>,</B>
  bla<B style='mso-bidi-font-weight:normal'>,</B>
  bla<B style='mso-bidi-font-weight:
normal'>,</B> de yo te amo<B style='mso-bidi-font-weight:normal'>.</B> Debemos
  andar seg&uacute;n
  <B style='mso-bidi-font-weight:normal'><U>todos</U></B> los
  mandamientos<B style='mso-bidi-font-weight:normal'>,</B> no seg&uacute;n
  algunos solamente<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD
                                                     style='mso-ansi-language:ES-TRAD'>&#147;</SPAN></B><SPAN
            lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>5
  </SPAN><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y ahora te ruego<B style='mso-bidi-font-weight:normal'>,</B>
  se&ntilde;ora<B style='mso-bidi-font-weight:normal'>,</B> no como
  escribi&eacute;ndote un nuevo
  mandamiento<B style='mso-bidi-font-weight:normal'>,</B> sino aquel que nosotros
  hemos tenido desde el principio<B style='mso-bidi-font-weight:
normal'>,</B> que nos amemos unos a
  otros<B style='mso-bidi-font-weight:normal'>.</B>
  </SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>6
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y <U>este es
  amor, que andemos seg&uacute;n sus mandamientos</U>. Este es el mandamiento:
  Que and&eacute;is en &eacute;l, como vosotros hab&eacute;is o&iacute;do
  <U>desde el
  principio</U></SPAN></I></B><B style='mso-bidi-font-weight:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>.&#148;</SPAN></B><SPAN lang=ES-TRAD
                                                                                   style='mso-ansi-language:ES-TRAD'> (II Jn
  1<B style='mso-bidi-font-weight:
normal'>:</B>5-6) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Por lo visto<B style='mso-bidi-font-weight:normal'>,</B> contrariamente
  a lo que muchos piensan<B style='mso-bidi-font-weight:normal'>,</B> se puede
  andar seg&uacute;n sus
  mandamientos<B style='mso-bidi-font-weight:normal'>,</B> porque si no fuera
  as&iacute;<B style='mso-bidi-font-weight:normal'>,</B> Juan no nos iba a
  exhortar a ello<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Dios pone mandamientos para nuestro beneficio y protecci&oacute;n.</B>
  Es semejante al caso de un padre que protege a su hija de cinco a&ntilde;os
  que quiere cruzar la calle por s&iacute;
  sola<B style='mso-bidi-font-weight:normal'>.</B> Si el Ser
  Supremo<B style='mso-bidi-font-weight:normal'>,</B> el que todo lo sabe pone
  un mandamiento<B style='mso-bidi-font-weight:normal'>,</B> es una estupidez
  nuestra torcerlo<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>modernizarlo<B style='mso-bidi-font-weight:
normal'>&#148;,</B> considerarlo de poca
  importancia<B style='mso-bidi-font-weight:
normal'>,</B>
  <SPAN class=GramE>etc<B style='mso-bidi-font-weight:normal'>..</B></SPAN>
  Es el mismo caso del cuidado de un
  auto<B style='mso-bidi-font-weight:normal'>.</B> Si hacemos lo que el manual
  nos dice en unas cosas y no en
  otras<B style='mso-bidi-font-weight:normal'>,</B> el carro servir&aacute;
  bien en unas cosas y no en otras<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Al parecer<B style='mso-bidi-font-weight:normal'>,</B> Salom&oacute;n
  crey&oacute; que algunos de los mandamientos eran para
  <B style='mso-bidi-font-weight:normal'>&#147;</B>la gente de
  antes<B style='mso-bidi-font-weight:normal'>&#148;,</B> o que no ten&iacute;an
  mucha importancia<B style='mso-bidi-font-weight:normal'>,</B> y por ello
  pag&oacute; un terrible precio<B style='mso-bidi-font-weight:normal'>.</B>
  Si cumples 99 mandamientos y <SPAN class=GramE>transgredes</SPAN>
  uno<B style='mso-bidi-font-weight:normal'>,</B> sufrir&aacute;s el mal para
  evitarte el cual se hizo ese mandamiento que
  transgrediste<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A
                HREF="NotesOf.astro">Volver al
  &iacute;ndice<o:p></o:p></A></SPAN></B>
    </DIV>
</Layout>

