---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="El Arc&aacute;ngel Miguel no es Cristo">
    <DIV class=Section1>
    <P class=MsoNormal align=center style='text-align:center'>
        <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>EL ARC&Aacute;NGEL
  MIGUEL NO ES CRISTO, ES S&Oacute;LO ESO, UN
  ARC&Aacute;NGEL.</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <B>HAY VARIOS ARC&Aacute;NGELES.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>Hay
  quienes tratan de descristianizar el cristianismo sin que los cristianos
  se den cuenta.</B> Para ello se valen de varios m&eacute;todos y argucias,
  las cuales usan en las distintas denominaciones. Una de las cosas que inventaron
  los que se esconden detr&aacute;s del ruselismo para infiltrarse en el
  cristianismo y descristianizarlo desde adentro, es afirmar que Cristo y el
  arc&aacute;ngel Miguel son la misma persona.&nbsp; <B>De esa manera, sin
  negar directamente la persona de Cristo, niegan su esencia, niegan su
  divinidad,</B> lo transforman en un simple &aacute;ngel o arc&aacute;ngel,
  sin que se den cuenta los que los siguen.&nbsp; Veamos sin embargo qu&eacute;
  dicen al respecto las Escrituras. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>5&nbsp;
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y alzando
  mis ojos mir&eacute;, y he aqu&iacute; un var&oacute;n vestido de lienzos,
  y
  ce&ntilde;idos</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sus lomos de oro de Uphaz:&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>6&nbsp;
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y su cuerpo
  era como piedra de Tarsis, y su
  rostro</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; parec&iacute;a un rel&aacute;mpago,
  y sus ojos como antorchas de fuego, y sus brazos y sus pies</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; como de color de metal
  resplandeciente, y la voz de sus palabras como la voz de</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ej&eacute;rcito.........</I></SPAN><SPAN lang=ES-TRAD
                                           style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>13</SPAN><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Mas el pr&iacute;ncipe del
  reino de Persia se puso contra m&iacute; veinti&uacute;n
  d&iacute;as:</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y he aqu&iacute;, Miguel,
  <B><U>uno de</U> los principales pr&iacute;ncipes</B>, vino para
  <B>ayudarme</B>, y yo</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <SPAN class=GramE>qued&eacute;</SPAN> all&iacute; con los reyes de Persia</I>
  "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Dn 10: 5-13 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
  este vers&iacute;culo el &aacute;ngel que habla con Daniel dice varias cosas
  que <B>nos demuestran que Miguel no puede ser Cristo.</B> <BR>
  &nbsp;&nbsp;&nbsp; <B>La primera</B> es que el &aacute;ngel que habla con
  Daniel se refiere a Miguel como a uno igual que &eacute;l, uno que simplemente
  lo est&aacute; ayudando.&nbsp;<B> Si Miguel fuera Cristo, este &aacute;ngel
  no se referir&iacute;a a &eacute;l como quien habla de un ayudante</B>, sino
  como de un superior, puesto que <U>Jesucristo es Se&ntilde;or</U>. <BR>
  &nbsp;&nbsp;&nbsp; <B>La segunda</B> cosa en la que fijar nuestra atenci&oacute;n
  es en que seg&uacute;n el &aacute;ngel que habla con Daniel, <B>Miguel es
  uno de varios.&nbsp;</B> De esto se deduce que <B>hay varios otros de igual
  categor&iacute;a que Miguel.</B>&nbsp; Si Miguel es <U>uno</U> de los
  principales, entonces <B>no es el principal</B>, hay otros m&aacute;s que
  son iguales que &eacute;l, o sea, hay varios arc&aacute;ngeles.&nbsp; Miguel
  es el &uacute;nico que se ha mencionado, pero evidentemente no es el
  &uacute;nico.&nbsp; <B>Si Miguel no es el &uacute;nico en su clase, eso
  contradice que &eacute;l sea Jes&uacute;s, porque Cristo es el Unig&eacute;nito,
  es decir, el &uacute;nico en su clase</B>, no hay otro como &eacute;l. Jesucristo
  es segundo despu&eacute;s de Dios, no simplemente uno de varios. <BR>
  &nbsp;&nbsp;&nbsp; <B>Tercera.&nbsp;</B> Si analizamos ahora lo dicho en
  el vers&iacute;culo 20 veremos que al decir el &aacute;ngel que habla con
  Daniel, que Miguel era Pr&iacute;ncipe del pueblo hebreo, lo estaba restringiendo
  a una sola raza, a una sola naci&oacute;n, o al menos al grupo de los creyentes
  solamente; mientras que Cristo es Se&ntilde;or y Rey de todas las razas y
  naciones, sean o no creyentes. Veamos. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Empero yo te declarar&eacute; lo que est&aacute; escrito en la escritura
  de verdad, y ninguno</I> <BR>
  <I>&nbsp;&nbsp;&nbsp; hay que se esfuerce conmigo en estas cosas, sino
  <B>Miguel <U>vuestro</U> pr&iacute;ncipe</B></I>." <SPAN class=GramE>(
  Dn</SPAN> 10: 21 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  <B>Cuarta.</B> Si vamos ahora a analizar lo que dice Judas 1: 9 veremos que
  all&iacute; <B>se presenta al arc&aacute;ngel Miguel contendiendo con el
  Diablo, </B>disputando con &eacute;l sobre algo que ten&iacute;a que ver
  con el cuerpo de Mois&eacute;s.&nbsp; &#161;<B>Cristo no tiene que disputar
  con Satan&aacute;s, solamente tiene que darle &oacute;rdenes!</B>&nbsp; Eso
  lo vemos incluso estando Cristo en carne, cuando se hizo un poco menor que
  los &aacute;ngeles al hacerse hombre. Estando vestido de carne todav&iacute;a
  pod&iacute;a darle &oacute;rdenes a Satan&aacute;s, como lo hizo durante
  su tentaci&oacute;n en el desierto, que <B>orden&oacute; a Satan&aacute;s
  que se fuera</B>, y Satan&aacute;s tuvo que irse, no pudo contender con Cristo.
  <BR>
  &nbsp;&nbsp;&nbsp; <B>Desde el momento que Miguel contiende con Satan&aacute;s
  es porque Miguel no es Cristo</B>, sino un ser de inferior categor&iacute;a
  que la de Cristo.&nbsp; Jes&uacute;s no solamente <B>ordenaba a
  Satan&aacute;s</B>, sino que <B>tambi&eacute;n le daba &oacute;rdenes a una
  legi&oacute;n de demonios</B>, como ocurri&oacute; en el asunto de los puercos
  que se ahogaron.&nbsp; En todo el evangelio se ve que los demonios tem&iacute;an
  a Jes&uacute;s.&nbsp;<B> Le rogaban</B> que no los enviase al abismo; de
  donde se ve la clase de potencia y autoridad&nbsp; que ten&iacute;a el
  Se&ntilde;or, a&uacute;n estando en carne.&nbsp; Cristo no forcejeaba con
  los demonios, <B>les ordenaba</B> que se fueran de esa persona, e inmediatamente
  lo obedec&iacute;an.&nbsp; &Eacute;l no ten&iacute;a que contender, ni disputar
  con los demonios.&nbsp; &#191;C&oacute;mo van a venir los ruselistas a decir
  que Miguel es Cristo y que ten&iacute;a que forcejear con Satan&aacute;s,
  como si ambos fueran el mismo tipo de ser?&nbsp; Eso no se le ocurre ni a
  los que son capaces de asar la mantequilla al pincho. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Pero cuando el arc&aacute;ngel Miguel <B>contend&iacute;a</B> con el
  Diablo, <B>disputando</B> sobre</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; el cuerpo de Mois&eacute;s,
  <B><U>no se atrevi&oacute;</U></B> a usar de juicio de maldici&oacute;n contra
  &eacute;l, sino</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; que dijo: El Se&ntilde;or te
  reprenda</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Judas 1: 9 ) <o:p></o:p></SPAN>
    <P>
        <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  Quinta.</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Vemos
  en este vers&iacute;culo que dice que el Arc&aacute;ngel Miguel <B><U>no
  se atrevi&oacute;</U> a usar juicio contra el Diablo.</B>&nbsp; &#191;Me
  van a decir que Cristo "no se atrevi&oacute;"?&nbsp; Pero si &eacute;l es
  el Se&ntilde;or, &eacute;l es el que manda.&nbsp; El que no se puede atrever
  con Cristo es el Diablo, no viceversa .&nbsp; Cristo no tiene que contender
  con el Diablo, ni disputar con &eacute;l, solamente tiene que darle
  &oacute;rdenes, como hizo en la tentaci&oacute;n. <BR>
  &nbsp;&nbsp;&nbsp; Analicen para vean que el trabajo que Satan&aacute;s le
  ha encomendado al ruselismo es el de infiltrarse en el cristianismo, fingirse
  cristianos y destruirlo o da&ntilde;arlo desde adentro. <BR>
  &nbsp;&nbsp;&nbsp; Los ruselistas, tratando de menoscabar a Cristo, tratan
  de identificarlo con el Arc&aacute;ngel Miguel.&nbsp; <B>Esta es una
  herej&iacute;a ruselista que algunos buenos cristianos han adoptado</B> sin
  darse cuenta de sus consecuencias teol&oacute;gicas ni de lo her&eacute;tico
  del concepto. Leamos Mt&nbsp; 8: 28-32. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "</SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>28</SPAN><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Y como &eacute;l hubo llegado
  en la otra ribera al pa&iacute;s de los gergesenos,
  le</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; vinieron al encuentro dos
  endemoniados que sal&iacute;an de los sepulcros, <B>fieros</B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; en gran manera,</I></B><I>
  <B>que nadie pod&iacute;a pasar por aquel camino.
  </B></I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>29</SPAN><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Y he aqu&iacute;
  clamaron,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; diciendo: <B>&#191;Qu&eacute;
  tenemos contigo, Jes&uacute;s, Hijo de Dios? &#191;has venido ac&aacute;
  a molestarnos</B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <U>antes de
  tiempo</U>?</I></B><I>
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>30</SPAN><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Y estaba lejos de ellos un
  hato de muchos puercos
  paciendo.</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>31
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y los demonios
  le rogaron, diciendo: Si nos echas, perm&iacute;tenos ir a aquel hato
  de</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; puercos.&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>32
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y les dijo:
  Id. Y ellos salieron, y se fueron a aquel hato de puercos:
  y</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; he aqu&iacute;, todo el hato
  de los puercos se precipit&oacute; de un despe&ntilde;adero en la mar, y</I>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; murieron en las
  aguas</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Mt 8: 28-32 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Como
  vemos estos aqu&iacute; mencionados eran unos demonios fieros en gran manera,
  en forma tal que nadie pod&iacute;a pasar por aquel camino, sin embargo,
  <B>ante la divina presencia de Cristo, se humillan, imploran.</B>&nbsp; Cristo
  no tiene que <B>luchar</B> con ellos, su sola presencia los aterra.&nbsp;
  No tiene Cristo que <B>batallar</B> con ellos para que se vayan del
  endemoniado.&nbsp; Basta una orden y aquellos fieros demonios lo obedecen
  humildemente. <BR>
  &nbsp;&nbsp;&nbsp; <B>Lo mismo sucedi&oacute; con Satan&aacute;s durante
  la tentaci&oacute;n.&nbsp;</B> Cristo no tuvo que batallar con Satan&aacute;s
  para que se fuera.&nbsp; Solamente tuvo que ordenarle que se fuera, y
  Satan&aacute;s obedeci&oacute; humildemente.&nbsp; No pod&iacute;a hacer
  otra cosa ante un ser divino como es Jesucristo. <BR>
  &nbsp;&nbsp;&nbsp; Sin embargo, <B>el Arc&aacute;ngel Miguel ten&iacute;a
  que luchar con Satan&aacute;s</B>, ten&iacute;a que batallar con &eacute;l.&nbsp;
  Cristo no, Cristo s&oacute;lo ten&iacute;a que ordenarle que se fuera.&nbsp;
  Es evidente que Cristo y Miguel no son la misma persona.&nbsp; Cristo, a&uacute;n
  estando en la carne, era infinitamente m&aacute;s poderoso que Satan&aacute;s
  y todos sus demonios juntos.&nbsp; El Arc&aacute;ngel Miguel no pod&iacute;a
  ordenarle a Satan&aacute;s que se fuera, ten&iacute;a que luchar con &eacute;l,
  y lo ten&iacute;an que ayudar sus compa&ntilde;eros angelicales.&nbsp;
  <B>Cristo se bastaba a s&iacute; mismo, no ten&iacute;a necesidad de que
  nadie lo ayudara.&nbsp;</B> En Jud 1: 9 vemos que el Arc&aacute;ngel Miguel
  no pod&iacute;a darle &oacute;rdenes a Satan&aacute;s, ni tampoco Satan&aacute;s
  las obedec&iacute;a. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Pero cuando el arc&aacute;ngel Miguel contend&iacute;a con el Diablo,
  disputando sobre</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; el cuerpo de Mois&eacute;s,
  <B>no se atrevi&oacute;</B> a usar de juicio de maldici&oacute;n contra &eacute;l,
  sino</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; que dijo: El Se&ntilde;or te
  reprenda</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Jud 1: 9 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Vemos
  en el reci&eacute;n le&iacute;do pasaje, que <B>el Arc&aacute;ngel Miguel
  "contend&iacute;a"</B>, y que <B>"no se atrevi&oacute;"</B>.&nbsp; Ese no
  es el cuadro del divino Jesucristo Unig&eacute;nito de Dios.&nbsp; Nadie
  que sea verdaderamente cristiano y que considere a Cristo un ser divino,
  va a aceptar que &eacute;l no se atrev&iacute;a a reprender a Satan&aacute;s,
  o que &eacute;ste pudiera contender con &eacute;l. <BR>
  &nbsp;&nbsp;&nbsp; Se ve claramente el intento de infiltrar el cristianismo
  para destruirlo desde adentro.&nbsp; A Satan&aacute;s le fue imposible destruirel
  cristianismo desde afuera.&nbsp; Con persecuciones y martirios Satan&aacute;s
  nunca pudo acabar con la fe.&nbsp; Por eso se cuela dentro del cristianismo
  para intentar destruirlo desde adentro. <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <A HREF="NotesOf.astro">Volver al indice</A>
    </DIV>
</Layout>
