<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>7</o:Revision>
                    <o:TotalTime>71</o:TotalTime>
                    <o:Created>2006-09-20T16:19:00Z</o:Created>
                    <o:LastSaved>2006-09-20T17:30:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>2576</o:Words>
                    <o:Characters>14684</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>122</o:Lines>
                    <o:Paragraphs>34</o:Paragraphs>
                    <o:CharactersWithSpaces>17226</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>200</w:Zoom>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>En la Biblia la palabra "desierto" significa "sin habitantes", no
                        "sin agua"</TITLE>
                    <LINK rel=File-List href="BibliaDesiertoAgua_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>En
  la Biblia, la palabra "desierto" significa "sin habitantes", no "sin
  vegetaci&oacute;n ni agua".
  </SPAN></B><B style='mso-bidi-font-weight:
normal'><SPAN style='font-size:18.0pt'>La Tierra
  </SPAN></B><B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;
mso-ansi-language:ES-TRAD'>Prometida era f&eacute;rtil. El pecado y el
  clima</SPAN></B><B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'><o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>En
  la versi&oacute;n King James, se usa la palabra "wilderness" para describir
  el tipo de territorio por el que iban caminando los israelitas durante el
  &eacute;xodo, desde su salida de Egipto hasta su entrada en la Tierra Prometida.
  El uso de esta palabra por King James es correcto, pero en otras versiones
  se usa la palabra "desierto", lo cual trae confusi&oacute;n al lector. La
  palabra "wilderness" se usa para indicar un lugar deshabitado, no necesaria-mente
  un lugar sin <SPAN class=GramE>agua</SPAN> ni vegetaci&oacute;n.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>El
  significado primario de la palabra "desierto" en espa&ntilde;ol, es un lugar
  solitario, donde no hay habitantes, o al menos son muy escasos. Por
  extensi&oacute;n, se le ha llamado desierto a los lugares &aacute;ridos,
  que no tienen agua ni vegetaci&oacute;n, como es el Sahara. Esto ocurre porque,
  l&oacute;gicamente, si no hay agua ni vegetaci&oacute;n, tampoco va a haber
  personas, y por lo tanto, ese lugar va a estar completamente desierto.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Observen el uso de la palabra "desierto". Si en un pueblo no hay gente,
  se dice que el pueblo est&aacute; desierto. Si varias personas han aspirado
  a un premio, pero ninguna lo ha logrado, se dice que el premio qued&oacute;
  desierto. Tambi&eacute;n se le dice desertor a un soldado que deja su puesto.
  Lo mismo se dice, al menos en ingl&eacute;s, "He deserted his wife", para
  el que ha abandonado a su esposa. En ingl&eacute;s es menos usado en ese
  sentido que en espa&ntilde;ol, por lo cual, el uso de la palabra "wilderness"
  por parte de King James, es lo correcto. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>No obstante, son muchos los lectores de King James que, motivados
  por las tres o cuatro veces que hubo crisis por la falta de agua para el
  pueblo durante el &eacute;xodo, creen que la palabra "wilderness" implica
  un lugar sin agua ni
  vegetaci&oacute;n,</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> al igual que lo piensan los que leen en espa&ntilde;ol.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Para entender por qu&eacute;
  sufrieron escasez de agua tres o cuatro veces durante los 40 a&ntilde;os
  de &eacute;xodo</B>, debemos tener en cuenta lo siguiente. Seg&uacute;n Nm
  1:46 los hombres de m&aacute;s de 20 a&ntilde;os, contados durante el
  &eacute;xodo, fueron 603,550. Si nos guiamos por cualquier tabla
  demogr&aacute;fica podemos calcular que si hab&iacute;a esa cantidad de hombres
  de 20 a&ntilde;os arriba, hab&iacute;a por lo menos la misma cantidad de
  mujeres, y otro tanto de ni&ntilde;os, a lo cual debemos sumar los extranjeros,
  y a&uacute;n egipcios que se les hab&iacute;an unido para escaparse de Egipto.
  Si multiplicamos por tres el n&uacute;mero de hombres, y le sumamos los
  extranjeros, no ser&aacute; exagerado decir que en el &eacute;xodo participaron
  dos millones de seres humanos, con sus burros, caballos, bueyes, ovejas,
  chivos, gallinas, perros, <SPAN class=GramE>etc..</SPAN> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Encontrar agua para todas las
  necesidades de dos millones de personas</B>, en un lugar incivilizado, donde
  no hay poblaciones, ni fincas, ni pozos, es una tarea cicl&oacute;pea. Por
  eso tres o cuatro veces tuvieron problemas de falta de agua durante los 40
  a&ntilde;os del &eacute;xodo. El problema no era que estaban en un desierto
  como el Sahara, sino que ten&iacute;an que hallar agua para dos millones
  de personas y sus animales y eso no se encuentra f&aacute;cilmente en lugares
  inhabitados. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si vamos ahora a ver el uso
  que de la palabra desierto se hace en la Biblia</B> notaremos que los lugares
  calificados como "desierto" en versiones espa&ntilde;olas, o "wilderness"
  en versiones inglesas, no eran terrenos sin agua ni vegetaci&oacute;n. Veamos
  algunos ejemplos. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Tengamos primero en cuenta que un desierto es un lugar deshabitado,
  aunque tenga mucha vegetaci&oacute;n y mucha agua. Es un lugar solitario,
  la gente no tiene facilidades para vivir all&iacute;. Por ejemplo, en este
  sentido, la selva del Amazonas es un desierto, pero no es un lugar &aacute;rido
  y sin agua. Puede que un lugar no est&eacute; habitado por otros motivos,
  no por falta de vegetaci&oacute;n y agua. En el siguiente pasaje veremos
  que en el "desierto" donde bautizaba Juan, hab&iacute;a suficiente agua para
  bautizar a las multitudes. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'>Bautizaba</I></B><I
          style='mso-bidi-font-style:normal'> Juan
  <B style='mso-bidi-font-weight:normal'><U>en el desierto</U></B>, y predicaba
  el bautismo del arrepentimiento para remisi&oacute;n de pecados</I>." (Mr
  1:4) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si Juan bautizaba en el "desierto"
  es porque hab&iacute;a all&iacute; suficiente agua como para que la gente
  se metiera en ella al menos hasta la cintura</B>. Por lo tanto, el llamado
  "desierto" no era un lugar como el Sahara, sino un lugar como el campo o
  los bosques de nuestros pa&iacute;ses, cuando se hallan lejos de las ciudades
  y de las carreteras. Puede ser un lugar donde no hay facilidades para vivir,
  pero puede haber r&iacute;os y un lagos. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Un poco m&aacute;s adelante</B>,
  en Mr 6:35-39, a pesar de que en el vers&iacute;culo 35 se habla de "desierto",
  en el 39 se ve que <B style='mso-bidi-font-weight:normal'>all&iacute; hab&iacute;a
  hierba verde</B>. Esto da la t&oacute;nica de a qu&eacute; cosa ellos llamaban
  "desierto". Le llamaban desierto a un territorio despoblado.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"35 <I style='mso-bidi-font-style:normal'>Y como ya fuese el d&iacute;a
  muy entrado, sus disc&iacute;pulos llegaron a &eacute;l, diciendo:
  <B style='mso-bidi-font-weight:normal'>El lugar es desierto</B>, y el d&iacute;a
  ya muy entrado; </I>36<I style='mso-bidi-font-style:normal'> env&iacute;alos
  para que vayan a los cortijos y aldeas de alrededor, y compren para s&iacute;
  pan; porque no tienen qu&eacute; comer.
  </I>37<I style='mso-bidi-font-style:
normal'> Y respondiendo &eacute;l, les dijo: Dadles de comer vosotros. Y
  le dijeron: &#191;Que vayamos y compremos pan por doscientos denarios, y
  les demos de comer? </I>38<I style='mso-bidi-font-style:normal'> Y &eacute;l
  les dice: &#191;Cu&aacute;ntos panes ten&eacute;is? Id, y vedlo. Y
  sabi&eacute;ndolo, dijeron: Cinco, y dos peces.
  </I>39<I style='mso-bidi-font-style:
normal'> Y les mand&oacute; que hiciesen recostar a todos por partidas
  <B style='mso-bidi-font-weight:normal'>sobre la hierba
  <U>verde</U></B></I>."
  <SPAN style='mso-tab-count:7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Mr 6:35-39) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Si
  leemos Jn 6:10 donde se relata este mismo episodio, veremos que dice que
  <B style='mso-bidi-font-weight:normal'>hab&iacute;a mucha hierba</B>. Si
  hab&iacute;a mucha hierba no pueden estar hablando de un lugar est&eacute;ril,
  de un p&aacute;ramo, sino de un lugar solitario, un lugar sin gente.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Entonces Jes&uacute;s dijo:
  Haced recostar la gente. <B style='mso-bidi-font-weight:normal'>Y hab&iacute;a
  mucha hierba en aquel lugar</B>; y recost&aacute;ronse como n&uacute;mero
  de cinco mil varones</I>."
  <SPAN style='mso-tab-count:6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Jn 6:10) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Otro buen ejemplo es Ex 19:1</B>.
  En este vers&iacute;culo vemos que el pueblo lleg&oacute; al
  <B style='mso-bidi-font-weight:
normal'><U>"desierto" de Sina&iacute;</U></B>. Este "desierto" era un lugar
  inhabitado, no un lugar est&eacute;ril o infecundo. No era un p&aacute;ramo
  exento de agua y vegetaci&oacute;n. <B style='mso-bidi-font-weight:normal'>Para
  decir esto me baso en el hecho de que para <U>alimentar a las ovejas, vacas,
  asnos</U>, etc, ten&iacute;a que haber hierba y agua en el lugar; y en el
  hecho probado de que ten&iacute;a suficiente agua, no solo para beber, sino
  <U>para lavar la ropa</U>, como podemos constatar en Ex 19:14</B>.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Al mes tercero de la salida
  de los hijos de Israel de la tierra de Egipto, en aquel d&iacute;a
  <B style='mso-bidi-font-weight:
normal'>vinieron al <U>desierto</U> de Sina&iacute;</B></I>." (Ex 19:1)
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Y descendi&oacute; Mois&eacute;s
  del monte al pueblo, y santific&oacute; al pueblo; y
  <B style='mso-bidi-font-weight:normal'>lavaron sus
  vestidos</B></I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (Ex 19:14) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Cuando el pueblo se fabric&oacute;
  el becerro de oro</B>, el lugar donde se hallaban no carec&iacute;a de agua,
  no era lo que hoy en d&iacute;a se considera un desierto. Lo prueba el hecho
  de que en el "desierto" donde el pueblo se hallaba corr&iacute;a un arroyo,
  que fue donde Mois&eacute;s ech&oacute; el polvo del becerro de oro. Eso
  no quiere decir que siempre hab&iacute;a de donde sacar agua, y menos para
  un pueblo compuesto por m&aacute;s de
  <B style='mso-bidi-font-weight:normal'>dos millones de personas con sus
  animales,</B> pero tampoco quiere decir que cuando mencionan la palabra
  "desierto" debemos imaginarnos un lugar donde s&oacute;lo se ve arena. Otro
  tanto vemos en Dt 10:7 en donde tambi&eacute;n se menciona la existencia
  de arroyos. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Y tom&eacute; vuestro pecado,
  el becerro que hab&iacute;ais hecho, y lo quem&eacute; en el fuego, y lo
  desmenuc&eacute; moli&eacute;ndole muy bien, hasta que fue reducido a polvo;
  y ech&eacute; el polvo de &eacute;l <B style='mso-bidi-font-weight:normal'>en
  el arroyo que descend&iacute;a del monte</B></I>."
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Dt 9:21) <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>De all&iacute; partieron a
  Gudgod, y de Gudgod a Jotbath, <B style='mso-bidi-font-weight:normal'>tierra
  de arroyos de aguas</B></I>." <SPAN style='mso-tab-count:1'>
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Dt 10:7) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Usando el sentido
  com&uacute;n</B>, nos tenemos que dar cuenta de que si aquel pueblo sacrificaba
  diariamente en el Tabern&aacute;culo del Testimonio, ovejas, cabras y bueyes,
  es porque pod&iacute;an criarlos y alimentarlos. Por lo tanto, ten&iacute;an
  hierba y agua para los animales, al igual que para las personas. Igualmente,
  en el siguiente pasaje se declara que <B style='mso-bidi-font-weight:normal'>el
  fuego del altar ten&iacute;a que arder <U>constantemente sin
  apagarse</U></B>, por consiguiente, el sacerdote ten&iacute;a que tener
  suficiente le&ntilde;a para ponerla constantemente sobre el altar.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"12 <I style='mso-bidi-font-style:normal'>Y el fuego encendido sobre
  el altar no ha de apagarse, sino que <B style='mso-bidi-font-weight:normal'>el
  sacerdote pondr&aacute; en &eacute;l le&ntilde;a cada ma&ntilde;ana</B>,
  y acomodar&aacute; sobre &eacute;l el holocausto, y quemar&aacute; sobre
  &eacute;l los sebos de las paces.
  </I>13<I style='mso-bidi-font-style:normal'>
  <B style='mso-bidi-font-weight:normal'>El fuego ha de arder continuamente</B>
  en el altar; no se
  apagar&aacute;</I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (Lev 6:12-13) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Dado que seg&uacute;n vemos, en este momento los israelitas se hallaban
  al comienzo de su peregrinaje de 40 a&ntilde;os, en medio de una regi&oacute;n
  despoblada, es l&oacute;gico razonar que el tal desierto no es lo que hoy
  se ve en el Sahara o p&aacute;ramos parecidos. Es evidente que
  <B style='mso-bidi-font-weight:
normal'>en ese llamado desierto hab&iacute;a suficiente cantidad de
  vegetaci&oacute;n arb&oacute;rea, como para producir toda la le&ntilde;a
  que se necesitaba para quemar constantemente sobre el altar</B>, cada d&iacute;a,
  durante todo el a&ntilde;o. Y no solamente para el altar, sino para la comida
  y dem&aacute;s usos de todo un pueblo de un par de millones de personas.
  No era aquella una regi&oacute;n &aacute;rida (<SPAN class=GramE>est&eacute;ril
  )</SPAN>, sino una regi&oacute;n desierta sin gente, sin ciudades.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Algo semejante se puede razonar
  de Nm 15:32.</B> Como se ve en este vers&iacute;culo, a lo que en la Biblia
  le llaman "desierto" no es siempre lo que hoy nosotros concebimos como tal.
  Para nosotros, "desierto" son las dunas del Sahara, donde nada, sino cielo
  y arena ven nuestros ojos. Aqu&iacute;, evidentemente, no es ese el concepto
  que se halla tras la palabra "desierto",
  <B style='mso-bidi-font-weight:
normal'>puesto que este hombre se hallaba recogiendo <U>le&ntilde;a</U> en
  ese "<U>desierto</U>"</B>. Si hab&iacute;a le&ntilde;a en el desierto, es
  porque hab&iacute;a &aacute;rboles y arbustos de los cuales sacarla; hab&iacute;a
  vida vegetal superior. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Y estando los hijos de Israel
  <B style='mso-bidi-font-weight:normal'>en el desierto</B>, hallaron un hombre
  que <B style='mso-bidi-font-weight:normal'>recog&iacute;a le&ntilde;a en
  d&iacute;a de s&aacute;bado</B></I>."
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>(Nm
  15:32) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Al leer Nm 11:9 se ve que este
  supuesto "desierto"</B> por donde andaban los israelitas durante el &Eacute;xodo,
  no era un lugar seco, puesto que hab&iacute;a roc&iacute;o por la noche.
  En otras ocasiones, como en I R 17:1, vemos que para que se acabara el
  roc&iacute;o, ten&iacute;a que haber una sequ&iacute;a muy grande, como en
  la &eacute;poca de El&iacute;as. Por lo tanto, la presencia del roc&iacute;o
  en este supuesto "desierto", nos hace ver que era un terreno m&aacute;s
  f&eacute;rtil que el de Israel en tiempos de la sequ&iacute;a de tres a&ntilde;os
  y medio que trajo El&iacute;as. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Y
  <B style='mso-bidi-font-weight:normal'>cuando descend&iacute;a el
  roc&iacute;o</B> sobre el real de noche, el man&aacute; descend&iacute;a
  de sobre
  &eacute;l</I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (Nm 11:9) <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Entonces El&iacute;as Thisbita,
  que era de los moradores de Galaad, dijo a Achab: Vive Jehov&aacute; Dios
  de Israel, delante del cual estoy, que
  <B style='mso-bidi-font-weight:normal'>no habr&aacute; lluvia <U>ni
  roc&iacute;o</U></B> en estos a&ntilde;os, sino por mi
  palabra</I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (I R 17:1) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Hay otros pasajes de los que
  se deduce tambi&eacute;n</B>, que el territorio por donde andaban los hijos
  de Israel, no era un lugar sin agua ni vegetaci&oacute;n. En I Sam 23:15
  se ve que la palabra se usa con el significado de "paraje solitario", "lugar
  despoblado", pues <B style='mso-bidi-font-weight:normal'>en ese "desierto"
  hab&iacute;a un bosque</B>. Si se refiriera a un lugar &aacute;rido, como
  el Sahara, no podr&iacute;a haber all&iacute; un bosque. Es casi seguro que
  sea con ese significado de "lugar despoblado", que se usa la palabra "desierto"
  en Apocalipsis 12: 6 y 14. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Viendo pues David que Sa&uacute;l
  hab&iacute;a salido en busca de su alma, se estaba &eacute;l
  <B style='mso-bidi-font-weight:normal'><U>en el bosque</U>
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>en el desierto de
  Zif</U></B></I>." (I Sam 23:15) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Algo parecido vemos en I Sam
  24:1-4</B> donde andando David por el desierto de Engaddi lleg&oacute; a
  donde hab&iacute;a una majada de ovejas. Si hab&iacute;a una majada es porque
  se pod&iacute;an criar ovejas, y si se pod&iacute;an criar ovejas es porque
  hab&iacute;a hierba y agua. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"1 <I style='mso-bidi-font-style:normal'>Y como Sa&uacute;l volvi&oacute;
  de los filisteos, le dieron aviso diciendo: He aqu&iacute; que
  <B style='mso-bidi-font-weight:
normal'>David est&aacute; en el <U>desierto</U> de Engaddi</B>.
  </I>2<I style='mso-bidi-font-style:normal'> Y tomando Sa&uacute;l tres mil
  hombres escogidos de todo Israel, fue en busca de David y de los suyos, por
  las cumbres de los pe&ntilde;ascos de las
  <B style='mso-bidi-font-weight:normal'>cabras monteses</B>.
  </I>3<I style='mso-bidi-font-style:normal'> Y como lleg&oacute; a
  <B style='mso-bidi-font-weight:normal'>una majada de ovejas</B> en el camino,
  donde hab&iacute;a una cueva, entr&oacute; Sa&uacute;l en ella a cubrir sus
  pies; y David y los suyos estaban a los lados de la cueva</I>." (I Sam 24:1-3)
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Tambi&eacute;n vemos en Ex
  3:1 que Mois&eacute;s apacentaba las ovejas</B> de su suegro
  <B style='mso-bidi-font-weight:normal'><U>en el "desierto"</U></B> donde
  tuvo la visi&oacute;n de la zarza que ard&iacute;a y no se consum&iacute;a.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'>Y
  apacentando Mois&eacute;s las
  ovejas</I></B><I style='mso-bidi-font-style:normal'> de Jethro su suegro,
  sacerdote de Madi&aacute;n,
  <B style='mso-bidi-font-weight:
normal'>llev&oacute; las ovejas detr&aacute;s del <U>desierto</U></B>, y
  vino a Horeb, monte de Dios</I>."
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Ex 3:1) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>San Pablo le da el uso de "lugar
  sin habitantes", a la palabra "desierto"</B>. En II Co 11:26 vemos que &eacute;l
  contrapone la frase, "peligros en la ciudad", a la frase "peligros en el
  desierto". Es decir, peligro donde hay habitantes y peligros donde estamos
  en solitario. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>En caminos muchas veces, peligros
  de r&iacute;os, peligros de ladrones, peligros de los de mi naci&oacute;n,
  peligros de los gentiles, <B style='mso-bidi-font-weight:normal'>peligros
  en <U>la ciudad</U></B>,
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><B style='mso-bidi-font-weight:normal'>peligros
  en <U>el desierto</U></B>, peligros en la mar, peligros entre falsos
  hermanos</I>"
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(II Co 11:26) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si vamos a Mt 3:1-4 veremos
  que Juan Bautista hall&aacute;ndose en el desierto, se alimentaba con miel
  silvestre. Si hab&iacute;a miel es porque hab&iacute;a flores</B> en ese
  lugar. No se trata de un lugar donde no hay vegetaci&oacute;n, porque si
  as&iacute; fuera no podr&iacute;a haber flores ni abejas ni miel. Desierto
  quiere decir solitario, sin gente, mientras que p&aacute;ramo significa sin
  vegetaci&oacute;n. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"1 <I style='mso-bidi-font-style:normal'>Y en aquellos d&iacute;as
  vino Juan el Bautista predicando en <B style='mso-bidi-font-weight:normal'>el
  desierto de Judea</B>, 2 Y diciendo: Arrepent&iacute;os, que el Reino de
  los Cielos se ha acercado. </I>3<I style='mso-bidi-font-style:normal'> Porque
  &eacute;ste es aquel del cual fue dicho por el profeta Isa&iacute;as, que
  dijo: Voz de uno que clama en el desierto: Aparejad el camino del Se&ntilde;or,
  enderezad sus veredas. 4 Y ten&iacute;a Juan su vestido de pelos de camellos,
  y una cinta de cuero alrededor de sus lomos; y
  <B style='mso-bidi-font-weight:normal'>su comida era langostas y miel
  silvestre</B></I>."
  <SPAN style='mso-tab-count:
7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Mt 3:1-4) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Como hemos visto en todos estos pasajes le&iacute;dos y en todos los
  razonamientos que hemos hecho, la palabra "desierto" en espa&ntilde;ol y
  la palabra "wilderness" en ingl&eacute;s, no describen un lugar sin agua
  ni vegetaci&oacute;n, sino un lugar solitario, un lugar sin habitantes o
  con muy pocos habitantes. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Muchos han cre&iacute;do que la Tierra Prometida era semi-&aacute;rida,
  porque ven que ahora gran parte de ella es semi-&aacute;rida, pero en aquella
  &eacute;poca era una tierra muy f&eacute;rtil. Lo que sucede es que el pecado
  echa a perder la tierra y el clima, como bien claramente dice Gn 4:11-12
  y Sal 107:33-34. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"11 <I style='mso-bidi-font-style:normal'>Ahora pues, maldito seas
  t&uacute; de la tierra que abri&oacute; su boca para recibir la sangre de
  tu hermano de tu mano. </I>12<I style='mso-bidi-font-style:normal'> Cuando
  labrares la tierra, no te volver&aacute; a dar su fuerza; errante y extranjero
  ser&aacute;s en la Tierra</I>." <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Gn 4:11-12) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>En
  otros varios pasajes he observado que el pecado del pueblo que habita una
  tierra repercute en forma da&ntilde;ina en el clima, en la fertilidad, y
  en la sanidad del territorio por ellos habitado. En el siguiente pasaje se
  ve claramente que la infertilidad del territorio est&aacute; ligada a la
  maldad de sus habitantes. Es decir, que
  <B style='mso-bidi-font-weight:normal'>el pecado continuado e irredento puede
  hacer inh&oacute;spito un territorio. <o:p></o:p></B></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>&Eacute;l vuelve los r&iacute;os
  en desierto, y los manantiales de las aguas en secadales;
  <B style='mso-bidi-font-weight:
normal'>la tierra fruct&iacute;fera en salados, <U>por la maldad de los que
  la habitan</U></B></I><B style='mso-bidi-font-weight:normal'>.</B>"
  <SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Sal 107:33-34) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Otro tanto dice en I R 8:35 y II Cr 6:26. Salom&oacute;n, haciendo
  el discurso de inauguraci&oacute;n del Templo, le pide a Dios que atienda
  a las oraciones del pueblo cuando por haber ellos pecado, la lluvia se detenga.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Cuando el cielo se cerrare,
  y <B style='mso-bidi-font-weight:normal'>no lloviere, por haber ellos pecado
  contra ti</B>, y te rogaren en este lugar, y confesaren tu nombre, y se volvieren
  del pecado, cuando los hubieres afligido; T&uacute; oir&aacute;s en los Cielos,
  y <B style='mso-bidi-font-weight:normal'>perdonar&aacute;s el pecado de tus
  siervos</B> y de tu pueblo Israel, ense&ntilde;&aacute;ndoles el buen camino
  en que anden; y <B style='mso-bidi-font-weight:normal'>dar&aacute;s lluvias
  sobre tu tierra</B>, la cual diste a tu pueblo por
  heredad</I>."<SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (I R 8:35) <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Si los cielos se cerraren,
  <B style='mso-bidi-font-weight:normal'>que no haya lluvias por haber pecado
  contra ti,</B> si oraren a ti en este lugar, y confesaren tu nombre, y se
  convirtieren de sus pecados, cuando los
  afligieres</I>"<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (II Cr 6:26) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Cuando se cometi&oacute; el
  primer pecado una de las primeras reacciones fue que la tierra producir&iacute;a
  espinas y cardos y que ser&iacute;a cosa trabajosa sacarle el sustento
  diario</B>. As&iacute; que no es nada extra&ntilde;o que los pecados de los
  habitantes de una regi&oacute;n echen a perder el clima y la tierra.
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Y al hombre dijo: Por cuanto
  obedeciste a la voz de tu mujer, y comiste del &aacute;rbol de que te mand&eacute;
  diciendo: No comer&aacute;s de &eacute;l; maldita ser&aacute; la tierra por
  amor de ti; <B style='mso-bidi-font-weight:normal'>con dolor comer&aacute;s
  de ella todos los d&iacute;as de tu vida; espinos y cardos te
  producir&aacute;</B>, y comer&aacute;s hierba del campo;
  <B style='mso-bidi-font-weight:normal'>en el sudor de tu rostro comer&aacute;s
  el pan</B> hasta que vuelvas a la tierra; porque de ella fuiste tomado, pues
  polvo eres, y al polvo ser&aacute;s tornado</I>."
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Gn 3:17-19) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Otro argumento que desmiente
  la idea de que la Tierra Prometida no era suficientemente f&eacute;rtil,</B>
  es II R 18:32, pues, es el mismo Senaquerib, rey de Asiria, acostumbrado
  a ver la f&eacute;rtil Mesopotamia, quien dice aqu&iacute; que la tierra
  de Israel era igual que la de &eacute;l. No dice que la de &eacute;l era
  mejor, sino que era igual: tierra de grano, vino, pan, vi&ntilde;as, olivas,
  aceite y miel. <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I style='mso-bidi-font-style:normal'>Hasta que yo venga, y os lleve
  a <B style='mso-bidi-font-weight:normal'>una tierra como la vuestra, tierra
  de grano y de vino, tierra de pan y de vi&ntilde;as, tierra de olivas, de
  aceite, y de miel</B>; y vivir&eacute;is, y no morir&eacute;is. No oig&aacute;is
  a Ezequ&iacute;as, porque os enga&ntilde;a cuando dice: Jehov&aacute; nos
  librar&aacute;</I>."<SPAN style='mso-tab-count:1'>
  </SPAN><SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (II R 18:32) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>Es
  evidente que el pueblo, durante el &eacute;xodo no andaba por regiones
  &aacute;ridas, sin vegetaci&oacute;n y carentes de agua, sino en una regi&oacute;n
  f&eacute;rtil, pero deshabitada, inculta, sin las facilidades que para el
  diario vivir tiene una tierra habitada. Es evidente tambi&eacute;n, que de
  acuerdo a la palabra de Dios, la Tierra Prometida era un lugar extremadamente
  f&eacute;rtil. <B style='mso-bidi-font-weight:normal'>Durante los 40 a&ntilde;os
  de &eacute;xodo, el pueblo enfrent&oacute; tres o cuatro crisis de agua,
  pero el resto del tiempo ellos <SPAN class=GramE>ten&iacute;an</SPAN>
  suficiente</B>. <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A
                HREF="NotesOf.astro">Volver al
  &iacute;ndice</A><o:p></o:p></SPAN></B>
</DIV>
</BODY>
</HTML>
