---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
import Article from "@/components/Article.astro";
import MainOf from "@/components/MainOf.astro";
---
<Layout showThanksRead equivalentHref="/" language="es"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>Por alguna razón el autor tiene la capacidad de trasmitir sus conocimientos y experiencias
                en forma
                fácil y resumida. Para ponerlo en las mismas palabras que el autor me dijo en cierta
                ocasión: 'Yo no disuelvo la aspirina en un barril de agua para obligar a
                beberse el
                barril al que quiera beneficiarse con la aspirina. Yo le entrego la pastilla; por eso
                escribo
                corto'.
            </p>
            <p>
                <strong>Rev. Ramón Alemán, Oklahoma, U. S. A.</strong>
            </p>
        </Brief>

        <MainOf>
            <Article title="Las Últimas 4 Potencias Mundiales" href="CuatroUltimasPotenciasMundiales.pdf"/>
            <Article title="Rapto vs Arrebatamiento o Ficción vs Realidad" href="Rapture_vs_Ingathering_spanish.pdf"/>
            <Article title="Demostración de que Jesucristo es el Mesías Esperado por los hebreos"
                     href="Jesus_Messiah_spanish.pdf"/>
            <Article title="Hermenéutica Como nos la Enseña la Biblia" href="Hermeneutics_spanish.pdf"/>
            <Article title="La Predestinación: ¿Doctrina Cristiana o Herejía?" href="Predestination_spanish.pdf"/>
            <Article title="El Ruselismo no es una Religión Cristiana" href="ruselismo_spanish.pdf"/>
            <Article title="Existe el Alma o Somos Sólo Carne" href="the_Soul_spanish.pdf"/>
            <Article title="Deben los Cristianos Considerar Obsoleta la Ley de Dios para el Comportamiento Humano"
                     href="the_Law_spanish.pdf"/>
            <Article title="La Santidad es Alcanzable, (sin la Cual Nadie Verá al Señor)" href="Holiness_spanish.pdf"/>
            <Article title="Salvo Siempre Salvo... ¿No Importa lo que Hagas?" href="once_saved_spanish.pdf"/>
            <Article title="La Trinidad Como la Enseña la Biblia" href="Trinidad_Espanol_20_My_11.pdf"/>
            <Article title="Comentrio Biblico en español" href="ComentarioEsp.pdf"/>
        </MainOf>
    </SectionOf>
</Layout>