---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Caer&aacute;n las Estrellas">
  <DIV class=Section1>
    <P align=center style='text-align:center'>
      <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>&#191;Caer&aacute;n
  las estrellas? &#191;No son mayores que la
  Tierra?</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Son
  muchos los que rechazan la idea de que se puedan cumplir las profec&iacute;as
  que dicen que las estrellas caer&aacute;n sobre la Tierra, como se anuncia
  en la Biblia. Ellos lo ven imposible porque, mirando con estrecha visi&oacute;n,
  consideran que al ser las estrellas mayores que la Tierra, una lluvia de
  ellas ser&iacute;a algo inadmisible. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Es
  real y evidente, que el prop&oacute;sito de hacer que las estrellas caigan
  sobre la Tierra, es el de dar una clara e inimitable se&ntilde;al de la Segunda
  Venida del Se&ntilde;or, no el de introducir una nueva teor&iacute;a
  astron&oacute;mica. <o:p></o:p></SPAN>
    <BLOCKQUOTE style='margin-top:5.0pt;margin-bottom:5.0pt'>
    <P class=MsoNormal>
    <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
    "<I style='mso-bidi-font-style:normal'>Y luego, despu&eacute;s de la
    aflicci&oacute;n de aquellos d&iacute;as, el sol se oscurecer&aacute;, y
    la luna no dar&aacute; su lumbre, y <B>las estrellas caer&aacute;n del
    cielo</B>, y las virtudes de los cielos ser&aacute;n
    conmovidas</I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </SPAN> ( Mt 24:29 ) <o:p></o:p></SPAN>
    </BLOCKQUOTE>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; A&uacute;n
  sabiendo que, efectivamente, las estrellas tienen masas muy superiores a
  la de nuestro planeta, ellas le siguen luciendo al hombre com&uacute;n, como
  cosas peque&ntilde;as. Si varios miles de aerolitos del tama&ntilde;o de
  un huevo,&nbsp; un pu&ntilde;o, o un coco, caen en nuestro planeta, para
  el hombre com&uacute;n y corriente es como si se hubieran "ca&iacute;do las
  estrellas", o al menos, una parte de ellas. Sin embargo el impacto f&iacute;sico
  sobre el planeta ser&iacute;a simplemente como el de varios miles de piedras
  ca&iacute;das en todo el mundo; nada que acabara con el planeta.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Como
  que los avisos de la Biblia se dirigen al hombre com&uacute;n, y no a los
  astr&oacute;nomos solamente, para la humanidad en pleno habr&iacute;a aparecido
  una se&ntilde;al que, conjuntamente con la del sol y la luna, los
  convencer&iacute;a de que la &eacute;poca de su soberbia ha pasado, y que
  se hallan ante el umbral del Reino de Dios. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Pero
  no s&oacute;lo el humano corriente se dar&aacute; por avisado. Hasta el m&aacute;s
  esc&eacute;ptico comprender&aacute; que lo que est&aacute; sucediendo no
  son los eclipses y las escasas ca&iacute;das de meteoritos que de vez en
  cuando observamos. Lo que quiero decir es que si fuere una lluvia excepcional
  de peque&ntilde;os aerolitos, el terror&iacute;fico fen&oacute;meno lograr&aacute;
  obtener la meta para la que fue dispuesto: avisar a toda la humanidad de
  la cercan&iacute;a de la Segunda Venida de Nuestro Se&ntilde;or.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
  realidad, ni en este pasaje de Mateo ni en los otros evangelios, ni en
  Apocalipsis, se dice que <B><U>todas</U> las estrellas van a caer</B> sobre
  la Tierra. Yo opino que es una ca&iacute;da parcial, representada por solamente
  peque&ntilde;os aerolitos, porque en Ap 8:12, al tocar el &aacute;ngel la
  cuarta trompeta, la cual ta&ntilde;e despu&eacute;s de la apertura del
  s&eacute;ptimo sello, a&uacute;n hay estrellas en el firmamento.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>En
  resumen</B>, siendo el prop&oacute;sito de la tal ca&iacute;da de estrellas,
  el que la gente se percate de que la se&ntilde;al prof&eacute;tica se ha
  cumplido, supongo que s&oacute;lo se llevar&aacute; a efecto lo que sea
  suficiente para ese fin. <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
    <B><A HREF="NotesOf.astro">Volver al indice</A></B>
  </DIV>
</Layout>
