---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Por qu&eacute; la ofrenda de Ca&iacute;n no era aceptable">
    <DIV class=Section1>
        <P align=center style='margin:0in;margin-bottom:.0001pt;text-align:center;
text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:
ES-TRAD'>Por qu&eacute; la ofrenda de Ca&iacute;n no era
  aceptable</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN></B>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Hay quienes piensan
  que la ofrenda de Ca&iacute;n era inaceptable porque no era una ofrenda en
  la que se derramara sangre. Otros piensan que no era aceptable porque era
  una ofrenda de vegetales y no de
  animales.</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> Sin embargo, hab&iacute;a muchos tipos de ofrendas en las leyes
  de Dios, en las que sin haber derramamiento de sangre, eran perfectamente
  aceptables. Por lo tanto, es l&oacute;gico pensar que no fue por el hecho
  de que en la ofrenda de Ca&iacute;n no se derramara sangre, por lo que Dios
  la rechaz&oacute;. <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Este razonamiento se
  puede aplicar tambi&eacute;n a la segunda hip&oacute;tesis, que afirma que
  la ofrenda de Ca&iacute;n no era aceptable porque era una ofrenda de vegetales
  y no de animales. <B>Recordemos que una de las ofrendas del d&iacute;a de
  Pentecost&eacute;s, y la de los primeros frutos era simplemente granos de
  trigo</B>. Por consiguiente, no hab&iacute;a nada en contra de este tipo
  de ofrendas de &iacute;ndole vegetal. <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>En la narraci&oacute;n
  de Gn 4: 3-5 se obtiene la idea de que el problema de Ca&iacute;n fue falta
  de amor y respeto para
  Dios.</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Cuando
  la ofrenda de Abel es descrita se nota la amorosa forma en que &eacute;l
  trata de conseguir lo mejor para Dios. <B>Abel eligi&oacute; lo mejor que
  &eacute;l pudo encontrar</B>; &eacute;l trajo los primog&eacute;nitos y la
  grosura de sus reba&ntilde;os. <B>Esto nos dice que &eacute;l ten&iacute;a
  un gran respeto para Dios</B>, y que lo amaba lo suficiente como para darle
  lo mejor, en lugar de mantener lo mejor para s&iacute; mismo.
  <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>La actitud de Ca&iacute;n
  era todo lo opuesto. &Eacute;l no busc&oacute; lo mejor para
  Dios,</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> &eacute;l
  simplemente agarr&oacute; lo primero que le vino a mano, cualquier cosa,
  como una persona que lo &uacute;nico que quiere es cumplir con una
  obligaci&oacute;n. &Eacute;l no busc&oacute; lo mejor de su cosecha; &eacute;l
  pens&oacute; que cualquier cosa era suficiente merecimiento para Dios. <B>Su
  actitud no fue la de un hombre que tiene en gran estima, respeto y amor,
  a aquel a quien da la ofrenda.</B> Por eso es que su ofrenda no fue considerada
  valiosa. <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I>Y aconteci&oacute; andando el tiempo, que <B>Ca&iacute;n trajo
  del fruto de la tierra una ofrenda</B> a Jehov&aacute;. <B>Y Abel trajo
  tambi&eacute;n <U>de los primog&eacute;nitos</U> de sus ovejas, y <U>de su
  grosura</U></B>. Y mir&oacute; Jehov&aacute; con agrado a Abel y a su ofrenda;
  mas no mir&oacute; propicio a Ca&iacute;n y a la ofrenda suya. Y ensa&ntilde;ose
  Ca&iacute;n en gran manera, y decay&oacute; su semblante.</I>"
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( Gn 4: 3-5 ) <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Algo similar a esto
  se nos dice en Mlq 1: 8 con respecto a las ofrendas que los sacerdotes estaban
  sacrificando. Ellos no buscaban lo mejor para Dios, y por ello, Dios no aceptaba
  las ofrendas que ellos hac&iacute;an en el Templo. <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
        <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"<I>Y cuando ofrec&eacute;is el animal ciego para sacrificar, &#191;no
  es malo? Asimismo cuando ofrec&eacute;is el cojo o el enfermo, &#191;no es
  malo? Pres&eacute;ntalo pues a tu pr&iacute;ncipe: <B>&#191;acaso se
  agradar&aacute; de ti, o le ser&aacute;s acepto?</B> dice Jehov&aacute; de
  los ej&eacute;rcitos</I>." <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Mlq 1: 8 ) <o:p></o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
            <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
        <P style='margin:0in;margin-bottom:.0001pt;text-indent:15.0pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Lo que hicieron Ca&iacute;n
  y Abel, <B>no fue una ceremonia para arrepentimiento o perd&oacute;n de pecados;
  por lo tanto, no era necesario que ofrecieran un sacrificio de ovejas</B>.
  Lo que hicieron Ca&iacute;n y Abel fue un acto de adoraci&oacute;n, en el
  que cada uno eligi&oacute; para ofrecer lo que &eacute;l consideraba que
  Dios merec&iacute;a. Por eso la ofrenda de Ca&iacute;n fue rechazada.
  <o:p></o:p></SPAN>
        <P align=center style='margin:0in;margin-bottom:.0001pt;text-align:center;
text-indent:15.0pt'>
            <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A HREF="NotesOf.astro">Volver
  al indice</A></SPAN></B><SPAN style='mso-ansi-language:ES-TRAD'>
  <SPAN lang=ES-TRAD><o:p></o:p></SPAN></SPAN>
    </DIV>
</Layout>

