<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <o:SmartTagType namespaceuri="urn:schemas-microsoft-com:office:smarttags"
                                    name="place"/>
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>4</o:Revision>
                    <o:TotalTime>18</o:TotalTime>
                    <o:Created>2008-01-29T21:09:00Z</o:Created>
                    <o:LastSaved>2008-01-29T21:27:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>444</o:Words>
                    <o:Characters>2533</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>21</o:Lines>
                    <o:Paragraphs>5</o:Paragraphs>
                    <o:CharactersWithSpaces>2972</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <!--[if !mso]><object
                    classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
                    <style>
                    st1\:*{behavior:url(#ieooui) }
                    </style>
                    <![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Sin has terrestrial consequences even for God loved ones</TITLE>
                    <LINK rel=File-List href="ConsequencesSinTerrestrialDavid_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>Sin
  Has Terrestrial Consequences Even For God loved
  ones<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Disobeying God's commandments
        is a sin.</B> It does not matter if we know his commandments or
        not<B style='mso-bidi-font-weight:
normal'>.</B> Our duty is to investigate through God's
        commandments<B style='mso-bidi-font-weight:normal'>.</B> It is even a worse
        sin to know his commandments and tell Him that we do not feel like doing
        it<B style='mso-bidi-font-weight:
normal'>.</B> That was the sin of King
        David<B style='mso-bidi-font-weight:
normal'>,</B> and King Rehoboam and his
        court<B style='mso-bidi-font-weight:
normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Sin has terrestrial and eternal
        consequences.</B> If there is a true
        repentance<B style='mso-bidi-font-weight:
normal'>,</B> the eternal consequences are removed thank to the redeeming
        sacrifice of Jesus Christ on the
        cross<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>As for the terrestrial consequences,
            are not always removed <U>even if we sincerely repent</U>.</B>
    <P>
        The case of David's adultery is well
        known<B style='mso-bidi-font-weight:
normal'>.</B> Although he <B style='mso-bidi-font-weight:normal'><U>sincerely
        repented</U>,</B> the terrestrial consequences of his sin followed him until
        the day of his death<B style='mso-bidi-font-weight:normal'>.</B> In this
        passage we see the sincere repentance and confession of
        David<B style='mso-bidi-font-weight:normal'>,</B>
        although<B style='mso-bidi-font-weight:
normal'>,</B> it did not detain his terrestrial
        punishment<B style='mso-bidi-font-weight:
normal'>.</B> Do not set your hopes up those that want to play
        <B style='mso-bidi-font-weight:normal'>&#147;</B>sin and
        repent<B style='mso-bidi-font-weight:normal'>&#148;;</B> even if it is a
        sincere repentance<B style='mso-bidi-font-weight:normal'>,</B> you will suffer
        the consequences of your sin<B style='mso-bidi-font-weight:normal'>,</B>
        even if you believe yourself better than
        David<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>9
        <I style='mso-bidi-font-style:normal'>Wherefore
            <B style='mso-bidi-font-weight:
normal'>hast thou despised the commandment of the LORD,</B> to do evil in
            his sight<B style='mso-bidi-font-weight:normal'>?</B> Thou hast killed Uriah
            the Hittite with the sword<B style='mso-bidi-font-weight:normal'>,</B> and
            hast taken his wife to be thy
            wife<B style='mso-bidi-font-weight:normal'>,</B> and hast slain him with
            the sword of the children of
            Ammon<B style='mso-bidi-font-weight:normal'>.</B></I>
        10<I style='mso-bidi-font-style:normal'> Now
        <B style='mso-bidi-font-weight:
normal'>therefore the <U>sword shall never depart from thine house</U>; because
            thou hast despised me, and hast taken the wife of Uriah the Hittite to be
            thy wife</B>&#133;</I> 13<I style='mso-bidi-font-style:normal'> And
        <B style='mso-bidi-font-weight:normal'>David said unto Nathan, I have sinned
            against the LORD.</B> And Nathan said unto
        David<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>The LORD also hath put
            away thy sin;</B> thou shalt not
        die<B style='mso-bidi-font-weight:normal'>.</B>
    </I>14<I style='mso-bidi-font-style:normal'>
        Howbeit<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>because by this deed
        thou hast given great occasion to the enemies of the LORD to blaspheme, <U>the
            child also that is born unto thee shall surely
            die.</U></B></I><B style='mso-bidi-font-weight:
normal'>&#148;</B> (II Sam 12<B style='mso-bidi-font-weight:normal'>:</B>9-14
        abbreviated)
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>As we
        see<B style='mso-bidi-font-weight:normal'>,</B> David's repentance was sincere
        and God forgave the eternal consequences of his
        sins<B style='mso-bidi-font-weight:
normal'>,</B> but he had to suffer the terrestrial consequences until the
        day of his death<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>A similar case is that of King
        Rehoboam and his court,</B> even though they repented of their
        sins<B style='mso-bidi-font-weight:
normal'>,</B> God submitted them to Shishak King of
        Egypt<B style='mso-bidi-font-weight:
normal'>.</B> Here we can see that King Rehoboam and the people of
        <st1:place w:st="on">Judea</st1:place>
        repented of their
        sins<B style='mso-bidi-font-weight:
normal'>,</B> and for that <B style='mso-bidi-font-weight:normal'>God largely
        reduced their punishment, but did not completely remove it.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'>&#147;</B>7
        <I style='mso-bidi-font-style:normal'>And
            <B style='mso-bidi-font-weight:normal'>when the LORD saw that they humbled
                themselves,</B> the word of the LORD came to
            <SPAN class=SpellE>Shemaiah</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
            saying<B style='mso-bidi-font-weight:normal'>:</B>
            <B style='mso-bidi-font-weight:normal'>They have humbled themselves; therefore
                I will not destroy them,</B> but I will grant them some
            deliverance<B style='mso-bidi-font-weight:normal'>;</B> and my wrath shall
            not be poured out upon Jerusalem by the hand of
            Shishak<B style='mso-bidi-font-weight:normal'>.</B>
            <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>Nevertheless
            <B style='mso-bidi-font-weight:
normal'>they shall be <U>his servants</U>;</B> that they may know my
            service<B style='mso-bidi-font-weight:normal'>,</B> and the service of the
            kingdoms of the
            countries</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(II
        <SPAN class=SpellE>Chr</SPAN>
        12<B style='mso-bidi-font-weight:normal'>:</B>7-8)
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Christians are quick to "learn"
        of the example of the forgiveness of Mary Magdalene, but do not even want
        to think about the example of the punishment of David and Rehoboam.
        <o:p></o:p>
    </B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Return to
            Index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
