<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>6</o:Revision>
                    <o:TotalTime>21</o:TotalTime>
                    <o:Created>2010-01-27T17:33:00Z</o:Created>
                    <o:LastSaved>2010-01-27T17:54:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>617</o:Words>
                    <o:Characters>3522</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>29</o:Lines>
                    <o:Paragraphs>8</o:Paragraphs>
                    <o:CharactersWithSpaces>4131</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>115</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Hay en los cristianos una gran confusi&oacute;n con respecto a la
                        Ley de Dios</TITLE>
                    <LINK rel=File-List href="CristianosConfusionLey_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P style='tab-stops:.25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:16.0pt;mso-ansi-language:ES-TRAD'>&#147;<U>El
  que ama la correcci&oacute;n ama la sabidur&iacute;a, mas el que aborrece
  la reprensi&oacute;n es ignorante</U>&#148;<U>
  <o:p></o:p></U></SPAN></B>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Hay en los cristianos una gran
  confusi&oacute;n con respecto a la Ley de Dios.</B> La inmensa mayor&iacute;a
  no se da cuenta de que en la Biblia hay dos clases de
  leyes<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>a) las leyes rituales
  o ceremoniales,</B> que fueron clavadas en la
  cruz<B style='mso-bidi-font-weight:
normal'>,</B> como bien dice el ap&oacute;stol San
  Pablo<B style='mso-bidi-font-weight:
normal'>;</B> y <B style='mso-bidi-font-weight:normal'>b) las leyes de
  comportamiento,</B> que como dijo Nuestro Se&ntilde;or Jesucristo en Mateo
  5<B style='mso-bidi-font-weight:normal'>:</B>17-19<B style='mso-bidi-font-weight:
normal'>,</B> no ser&aacute;n abolidas hasta que perezcan el cielo y la
  Tierra<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B></SPAN><SPAN lang=ES-TRAD
                                                                       style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>17
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>No pens&eacute;is que he venido
  para abrogar la ley o los
  profetas.</SPAN></I></B><I style='mso-bidi-font-style:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> No he venido
  para abrogar<B style='mso-bidi-font-weight:normal'>,</B> sino a
  cumplir<B style='mso-bidi-font-weight:normal'>.</B>
  </SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>18
  </SPAN><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Porque de cierto os digo<B style='mso-bidi-font-weight:normal'>,</B>
  que <B style='mso-bidi-font-weight:normal'><U>hasta que perezca el cielo
  y la Tierra</U>,</B> <B style='mso-bidi-font-weight:normal'>ni una jota ni
  una tilde perecer&aacute; de la ley, hasta que todas las cosas sean hechas.
  </B></SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>19
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>De manera que cualquiera que
  infringiere uno de estos mandamientos muy peque&ntilde;os, <U>y as&iacute;
  ense&ntilde;are a los hombres</U>, muy peque&ntilde;o ser&aacute; llamado
  en el Reino de los
  Cielos,</SPAN></I></B><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD
                                                                    style='mso-ansi-language:ES-TRAD'> mas cualquiera que hiciere y
  ense&ntilde;are<B style='mso-bidi-font-weight:normal'>,</B> &eacute;ste
  ser&aacute; llamado grande en el Reino de los
  Cielos</SPAN></I><B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD
                                                                style='mso-ansi-language:
ES-TRAD'>.&#148;</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <SPAN style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Mt 5<B style='mso-bidi-font-weight:normal'>:</B> 17-19)
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>El peligro de creer que las
  normas de comportamiento est&aacute;n abolidas</B> estriba en que deja al
  cristiano sin ancla moral<B style='mso-bidi-font-weight:normal'>,</B> sin
  una gu&iacute;a para su vida<B style='mso-bidi-font-weight:normal'>.</B>
  Si las leyes de comportamiento estuvieran
  abolidas<B style='mso-bidi-font-weight:normal'>,</B> el cristiano se
  tendr&iacute;a que guiar por las costumbres de su
  sociedad<B style='mso-bidi-font-weight:normal'>,</B> o las tradiciones de
  su secta<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>C&oacute;mo sabr&iacute;a
  que no se puede casar con su hermana ni con su
  sobrina<B style='mso-bidi-font-weight:normal'>?</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>C&oacute;mo sabr&iacute;a
  que debe dar el diezmo<B style='mso-bidi-font-weight:normal'>,</B> que no
  debe adorar im&aacute;genes<B style='mso-bidi-font-weight:normal'>,</B> que
  no debe invocar a los muertos<B style='mso-bidi-font-weight:normal'>?</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>San Pablo dijo:
  &#147;<I style='mso-bidi-font-style:
normal'>Examinadlo todo, retened lo bueno</I>&#148;.</B> Tratar de ignorar
  la verdad de Dios no nos libra del
  pecado<B style='mso-bidi-font-weight:normal'>.</B> Como dijo
  Cristo<B style='mso-bidi-font-weight:normal'>,</B> el siervo que no conoci&oacute;
  la voluntad de su amo<B style='mso-bidi-font-weight:normal'>,</B> ser&aacute;
  azotado poco<B style='mso-bidi-font-weight:normal'>,</B> pero de todas maneras
  ser&aacute; azotado<B style='mso-bidi-font-weight:normal'>,</B> por no haber
  tratado de conocer su voluntad<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#191;Qu&eacute; es la Ley
  de Dios?</B> La Ley de Dios son aquellas normas que Dios consider&oacute;
  conveniente ense&ntilde;arnos a los humanos a fin de que anduvi&eacute;ramos
  lo m&aacute;s rectamente posible durante nuestro peregrinaje en este
  mundo<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>No se confundan las leyes de
  Dios con</B> las normas impuestas por dirigentes
  religiosos<B style='mso-bidi-font-weight:
normal'>,</B> sociales o
  pol&iacute;ticos<B style='mso-bidi-font-weight:normal'>.</B> No se confundan
  tampoco las leyes divinas con las reglas de la cultura o civilizaci&oacute;n
  en que vivamos<B style='mso-bidi-font-weight:normal'>,</B> ni con las tradiciones
  de la raza<B style='mso-bidi-font-weight:normal'>,</B> la naci&oacute;n o
  la secta a la que pertenecemos<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Desgraciadamente la inmensa mayor&iacute;a de la
  gente<B style='mso-bidi-font-weight:normal'>,</B> sin excluir a los
  cristianos<B style='mso-bidi-font-weight:normal'>,</B> admiten como normas
  de comportamiento<B style='mso-bidi-font-weight:normal'>,</B> aquellas que
  las costumbres imponen sobre los
  conglomerados<B style='mso-bidi-font-weight:
normal'>.</B> Es decir<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>si todo el mundo lo
  hace<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>por qu&eacute; no
  yo<B style='mso-bidi-font-weight:normal'>&#148;?</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN
                style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>&#191;Para
  qu&eacute; sirven las leyes de
  Dios?</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> Las
  leyes de Dios sirven para hacernos saber qu&eacute; cosas debemos
  hacer<B style='mso-bidi-font-weight:normal'>,</B> cu&aacute;les no debemos
  hacer y para guiarnos en las decisiones de cada
  d&iacute;a<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>La Ley de Dios nunca sirvi&oacute;
  para salvar a alguien; nadie jam&aacute;s se salv&oacute; cumpliendo la
  ley,</B> debido a que nadie la cumpl&iacute;a durante toda su
  vida<B style='mso-bidi-font-weight:
normal'>,</B> desde la cuna hasta la
  tumba<B style='mso-bidi-font-weight:normal'>.</B>
  Adem&aacute;s<B style='mso-bidi-font-weight:normal'>,</B> la ley es una
  escritura<B style='mso-bidi-font-weight:normal'>,</B> no puede salvar a
  nadie<B style='mso-bidi-font-weight:normal'>,</B> no tiene intelecto ni
  sentimientos<B style='mso-bidi-font-weight:normal'>.</B> Jesucristo s&iacute;
  puede salvar al que lo desee<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>La ley jam&aacute;s sirvi&oacute; para
  salvaci&oacute;n<B style='mso-bidi-font-weight:
normal'>,</B> solamente sirvi&oacute; como gu&iacute;a para que supi&eacute;ramos
  qu&eacute; hacer y qu&eacute; no
  hacer<B style='mso-bidi-font-weight:
normal'>.</B> Hay quienes creen que
  <B style='mso-bidi-font-weight:normal'>&#147;<U>antes</U>&#148;</B> la gente
  se salvaba cumpliendo la ley<B style='mso-bidi-font-weight:normal'>.</B>
  Falso<B style='mso-bidi-font-weight:normal'>,</B> jam&aacute;s eso ha sido
  posible<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>La gente de antes, al igual
  que la de ahora se salvaban por fe en el Cordero de Dios</B> que quita el
  pecado del mundo<B style='mso-bidi-font-weight:normal'>.</B> La diferencia
  entre los de antes y los de ahora<B style='mso-bidi-font-weight:normal'>,</B>
  es que nosotros ya conocemos que ese Cordero se llama
  Jesucristo<B style='mso-bidi-font-weight:
normal'>;</B> mientras que los de antes s&oacute;lo sab&iacute;an que
  habr&iacute;a un enviado que quitar&iacute;a nuestros
  pecados<B style='mso-bidi-font-weight:normal'>.</B> Nosotros ponemos fe en
  el Cordero ya sacrificado<B style='mso-bidi-font-weight:normal'>;</B> ellos
  pon&iacute;an fe en que el cordero que ellos
  sacrificaban<B style='mso-bidi-font-weight:normal'>,</B> representaba a aquel
  que alg&uacute;n d&iacute;a iba a tomar sobre s&iacute; mismo nuestros
  pecados<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Es un error enorme pensar que
  &#147;<U>antes</U>&#148;</B> la gente se salvaba de una
  manera<B style='mso-bidi-font-weight:normal'>,</B> y hoy se salvan de
  otra<B style='mso-bidi-font-weight:normal'>.</B> Incluso hay quienes creen
  que en el futuro<B style='mso-bidi-font-weight:normal'>,</B> durante la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> la gente se
  salvar&aacute; de una tercera
  manera<B style='mso-bidi-font-weight:
normal'>.</B> Todo eso es un error her&eacute;tico y
  abominable<B style='mso-bidi-font-weight:normal'>.</B> El m&eacute;todo de
  salvaci&oacute;n siempre ha sido y ser&aacute; el
  mismo<B style='mso-bidi-font-weight:normal'>:</B> el Cordero de Dios que
  quita el pecado del mundo<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A HREF="NotesOf.astro">Volver
  al &iacute;ndice<o:p></o:p></A></SPAN></B>
</DIV>
</BODY>
</HTML>
