<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>Felo</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>5</o:Revision>
                    <o:TotalTime>29</o:TotalTime>
                    <o:Created>2002-03-04T19:09:00Z</o:Created>
                    <o:LastSaved>2006-01-18T18:45:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>2522</o:Words>
                    <o:Characters>14381</o:Characters>
                    <o:Lines>119</o:Lines>
                    <o:Paragraphs>33</o:Paragraphs>
                    <o:CharactersWithSpaces>16870</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        a:link, span.MsoHyperlink {
                            color: blue;
                            text-decoration: underline;
                            text-underline: single;
                        }

                        a:visited, span.MsoHyperlinkFollowed {
                            color: blue;
                            text-decoration: underline;
                            text-underline: single;
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>&#191;De qui&eacute;n son los reinos del mundo?</TITLE>
                    <LINK rel=File-List href="DiosPoneReyes_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>
<DIV class=Section1>
    <P class=MsoNormal align=center style='text-align:center'>
        <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>&#191;DE
  QUI&Eacute;N SON LOS REINOS DEL
  MUNDO?</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <o:p></o:p></SPAN>
    <P align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'>
        <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>&#191;DE
  DIOS O DE
  SATAN&Aacute;S?</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  <B>Dios, a trav&eacute;s de mensajeros celestiales, profetas y ap&oacute;stoles,
  nos ha dicho que los reinos de la Tierra son Suyos</B>, y que pone sobre
  esos reinos a quien &Eacute;l quiere. <B>Por otro lado, Satan&aacute;s dijo
  una vez que los reinos de la Tierra son de &eacute;l.</B> &#191;A qui&eacute;n
  deben creerle los cristianos; y sobretodo, los pastores, autores de libros
  evang&eacute;licos y dem&aacute;s gente que ense&ntilde;a doctrina a sus
  hermanos? <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>Hay
  cristianos que influidos por la herej&iacute;a ruselista, piensan que
  Satan&aacute;s es el que gobierna el mundo</B>; que es Satan&aacute;s el
  que pone y quita los reyes y gobernantes; pero toda la Biblia dice lo contrario,
  dice que <B>es Dios el que pone y quita reyes.</B> Satan&aacute;s lo &uacute;nico
  que puede hacer es tentar a los que gobiernan para hacerlos hacer al menos
  parte de lo que &eacute;l quisiera que hicieran. Vali&eacute;ndose de las
  concupiscencias de los seres humanos, Satan&aacute;s puede tratar de torcer
  los prop&oacute;sitos de Dios, como hace en todos los dem&aacute;s asuntos,
  tanto &eacute;l como los demonios que le siguen. Pero eso no quiere decir
  que ellos gobiernan el mundo, puesto que ellos no pueden hacer todo lo que
  quieren. <B>Tambi&eacute;n Satan&aacute;s y los demonios hacen lo mismo con
  los l&iacute;deres de las iglesias y de las denominaciones,</B> los tientan,
  los hacen pecar, los hacen apartarse de la voluntad de Dios, y no por eso
  vamos a decir que los pastores son puestos por Satan&aacute;s, ni vamos a
  afirmar que Satan&aacute;s gobierna las iglesias o que &eacute;l fue el que
  fund&oacute; las denominaciones. <BR>
  &nbsp;&nbsp;&nbsp; Dios permite, bajo ciertos l&iacute;mites, la maldad humana,
  tanto en las personas, como en los gobiernos, como en las agrupaciones
  religiosas, pero eso no quiere decir que es Satan&aacute;s el que gobierna
  en esas instituciones. <BR>
  &nbsp;&nbsp;&nbsp; La Escritura es muy clara respecto a este asunto. Veamos
  qu&eacute; dice el profeta Daniel. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Y Daniel habl&oacute;, y dijo: Sea bendito el nombre de Dios
  de<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>siglo
  hasta siglo, porque Suya
  es</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>la
  sabidur&iacute;a y la fortaleza,<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>y
  &Eacute;l es el que muda los tiempos y las oportunidades; <B>quita
  <o:p></o:p></B></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>reyes, y reyes;
  </SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>da
  la sabidur&iacute;a a los sabios, y la ciencia a
  los<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>entendidos;
  el revela lo profundo y
  lo</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>escondido; conoce lo <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>que est&aacute; en
  tinieblas, y la luz mora con
  &Eacute;l</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>."&nbsp;&nbsp;&nbsp;(Dan
  2: 20 - 22) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Como
  vemos,<B> Daniel, que sab&iacute;a m&aacute;s que todos los miembros del
  cuerpo gobernante de los ruselistas, y los cristianos que creen sus
  falsedades,</B> nos declara que es Dios el que quita y pone reyes. No lo
  dice en forma vaga, sino di&aacute;fanamente. No lo dice en forma
  impl&iacute;cita, que haya que deducirlo, sino en forma expl&iacute;cita,
  que solamente hay que leerlo u o&iacute;rlo para entenderlo. <BR>
  &nbsp;&nbsp;&nbsp; Si leemos Daniel 2: 37 veremos a este profeta
  explic&aacute;ndole a Nabucodonosor, el rey que ha tenido m&aacute;s poder
  en toda la historia del mundo, que <B>su reino y potencia le hab&iacute;a
  sido dada por Dios</B>. No dice Daniel que le haya sido dada por Satan&aacute;s.
  Sin embargo eso es lo que muchos creen. Veamos. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>T&uacute;, oh rey, eres rey de reyes; <B>porque <U>el Dios del cielo
  te</U> <U><o:p></o:p></U></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><U><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>ha
  dado</SPAN></U></I></B><B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  reino, potencia,
  y</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>fortaleza, y majestad</I>"&nbsp;</B><o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:3.0in;
margin-bottom:.0001pt;text-indent:.5in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp; ( Dan 2: 37 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; M&aacute;s
  adelante, en Dn 4: 13-17 vemos el testimonio de Nabucodonosor, el cual nos
  cuenta lo que le dijo personalmente a &eacute;l un ser enviado por Dios,
  <B>"un vigilante y santo"</B>. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Ve&iacute;a en las visiones de mi cabeza en mi cama, y he aqu&iacute;
  <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>que <B>un vigilante
  y
  santo</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>descend&iacute;a del cielo</I></B><I>, y clamaba
  <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>fuertemente y dec&iacute;a
  as&iacute;:.....La sentencia es por decreto los <o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>vigilantes, y por
  dicho de los santos la demanda:<B> para que<o:p></o:p></B></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>conozcan los
  vivientes</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>que <U>el Alt&iacute;simo</U> se ense&ntilde;orea
  del<o:p></o:p></I></B></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>reino de los hombres,
  y que <U>a quien &Eacute;l quiere lo
  da</U>,</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y
  constituye sobre &eacute;l al m&aacute;s bajo de los hombres</I>. "
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:2.5in;
margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>( Dan 4: 13-17 abreviado
  )<o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  Est&aacute; bien claro qui&eacute;n es el que manda en este mundo.
  &#191;Ser&aacute; que los miembros del cuerpo gobernante de los ruselistas
  tienen m&aacute;s autoridad, o saben m&aacute;s que este "vigilante y santo"
  ?&nbsp; Despu&eacute;s de esto que declarara el vigilante y santo, vuelve
  Daniel a asegurarnos que Dios es el que se ense&ntilde;orea sobre los reinos
  de los hombres. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Que te echar&aacute;n de entre los hombres, y con las
  bestias<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>del
  campo ser&aacute; tu morada, y
  con</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>hierba
  del campo te <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>apacentar&aacute;n
  como a los bueyes, y con roc&iacute;o del cielo
  ser&aacute;s<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>ba&ntilde;ado;</SPAN></I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>y siete tiempos pasar&aacute;n
  sobre ti, hasta que entiendas<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>que
  <B>el Alt&iacute;simo se ense&ntilde;orea en
  el</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>reino de los hombres, y<o:p></o:p></I></B></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>que
  a quien &Eacute;l quisiere lo
  dar&aacute;.</SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  Y lo que dijeron, que dejasen<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN
                style='mso-spacerun:yes'>&nbsp;</SPAN>en</SPAN></I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>la tierra la cepa de las
  ra&iacute;ces del mismo &aacute;rbol, significa <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>que tu reino se te
  quedar&aacute; firme, que entiendas que <B>el
  se&ntilde;or&iacute;o<o:p></o:p></B></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>es en los
  cielos</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN
            style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>&nbsp;&nbsp; ( Dn 4: 25 -26 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;<o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>A&uacute;n estaba la palabra en la boca del rey, cuando cae <B>una
  <o:p></o:p></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>voz del
  cielo</SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>:
  A ti dicen,
  rey</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>Nabucodonosor; el reino es <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>traspasado de ti;
  y de entre los hombres te echan, y con las <o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>bestias</SPAN></I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>del campo ser&aacute;
  tu morada, y como a los bueyes te <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>apacentar&aacute;n;
  y siete tiempos pasar&aacute;n sobre
  ti,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>hasta
  que <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>conozcas que <B><U>el
  Alt&iacute;simo </U>se ense&ntilde;orea en el reino de los
  <o:p></o:p></B></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>hombres, y <U>a
  quien
  &Eacute;l</U></SPAN></I></B><U><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>quisiere lo
  da</I></B></SPAN></U><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>."&nbsp;<SPAN
            style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> ( Dn 4: 31-32 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Si
  el Alt&iacute;simo es el que se ense&ntilde;orea en el reino de los hombres,
  y a qui&eacute;n &Eacute;l quiere lo da, como le dijo una voz del cielo a
  Nabucodonosor, y si Daniel afirma que el se&ntilde;or&iacute;o es en los
  cielos, &#191;c&oacute;mo dicen los ruselistas que los gobiernos del mundo
  son de Satan&aacute;s? &#191;Tiene eso sentido? &#191;Ser&aacute; acaso que
  Daniel minti&oacute; y el Diablo dijo la verdad? &#191;Saben los ruselistas
  m&aacute;s que la voz que habl&oacute; a Nabucodonosor desde el cielo? <BR>
  &nbsp;&nbsp;&nbsp; M&aacute;s adelante, en el cap&iacute;tulo 5, hablando
  Daniel a Belsasar del caso de su abuelo Nabucodonosor, el profeta le explica
  que Nabucodonosor fue echado de entre los hombres, etc., <B>hasta que lleg&oacute;
  a reconocer que el Alt&iacute;simo se ense&ntilde;orea de los reinos humanos
  y <U>se los entrega a quien &Eacute;l quiere</U>.</B> Veamos.
  <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Y fue echado de entre los hijos de los hombres; y
  su<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>coraz&oacute;n
  fue puesto con las
  bestias,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>y con los asnos monteses<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>fue su morada. Hierba
  le hicieron comer, como a buey, y su<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>cuerpo</SPAN></I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>fue ba&ntilde;ado con
  el roc&iacute;o del cielo, <B>hasta que
  conoci&oacute;<o:p></o:p></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>que
  <U>el alt&iacute;simo Dios</U> se ense&ntilde;orea
  del</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>reino de los hombres,<o:p></o:p></I></B></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>y
  que <U>pondr&aacute; sobre &eacute;l al que
  quisiere</U></SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Dan 5: 21 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Es
  bueno parar mientes en el hecho de que<B> esto se le est&aacute; diciendo
  a un gobernante gentil, para que no aleguen los ruselistas que los &uacute;nicos
  reyes que Dios puso fueron los de la teocracia israelita.</B> <BR>
  &nbsp;&nbsp;&nbsp; Veamos ahora <B>qu&eacute; dice Jesucristo sobre este
  asunto.</B> Cuando Cristo fue presentado ante Pilato y &eacute;ste con soberbia
  le hizo ver que pod&iacute;a soltarlo o crucificarlo, Cristo le respondi&oacute;
  con lo que &eacute;l sab&iacute;a que era la verdad. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;<o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Entonces d&iacute;cele Pilato: &#191;A m&iacute; no me hablas? &#191;no
  sabes <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>que tengo potestad
  para</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>crucificarte, y que tengo potestad<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>para
  soltarte? Respondi&oacute; Jes&uacute;s: <B>Ninguna
  potestad</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>tendr&iacute;as <o:p></o:p></I></B></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>contra m&iacute;,
  si no <U>te fuese dado de
  arriba</U></SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>; por tanto, el que a<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>ti
  me ha
  entregado,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>mayor pecado tiene</I>."&nbsp;&nbsp;<o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:3.0in;
margin-bottom:.0001pt;text-indent:.5in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>( Jn 19: 10-11 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  <B>Aqu&iacute; Jes&uacute;s le explica a Pilato, que la potestad que &eacute;l
  tiene le fue dada <U>de arriba</U>.</B> Es ahora el mism&iacute;simo Jesucristo
  el que asegura que los gobiernos del mundo los pone y los quita Dios, confirmando
  as&iacute; lo que antes dijeran Daniel y el "Vigilante y Santo". <BR>
  &nbsp;&nbsp;&nbsp; &#191;En qu&eacute; se basan pues, los que aseguran que
  los reinos del mundo son del Diablo? Los que participan de esta herej&iacute;a,
  alegan que <B>durante la tentaci&oacute;n el Diablo le dijo a Cristo que
  los reinos del mundo le pertenec&iacute;an a &eacute;l; y como que Satan&aacute;s
  lo dijo, ellos lo creen.</B> Parece que tienen m&aacute;s fe en lo que dice
  el Diablo que en lo que dice un profeta de Dios. <BR>
  &nbsp;&nbsp;&nbsp; Algunos preguntan: <B>&#191;pero y por qu&eacute; entonces
  Cristo no le refut&oacute; a Satan&aacute;s la afirmaci&oacute;n de que &eacute;l
  fuera el due&ntilde;o de los reinos del mundo?</B> Este pasaje que vamos
  a mencionar, es el &uacute;nico episodio en toda la Biblia en el que se dice
  que los reinos del mundo son de Satan&aacute;s, <B>y quien asegura tal cosa
  es Satan&aacute;s mismo</B>. El que prefiera creerle a Satan&aacute;s, que
  le crea. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Y le llev&oacute; el Diablo a un alto monte, y le mostr&oacute; en
  un<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>momento
  de tiempo todos
  los</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>reinos
  de la tierra. Y le dijo el <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Diablo: <B>A ti te
  dar&eacute; toda esta potestad, y la gloria de
  ellos;</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  porque a m&iacute; es entregada, y a quien quiero la doy. </I></B><I>Pues
  si <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>t&uacute; adorares
  delante de m&iacute;,
  ser&aacute;n</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>todos tuyos. Y respondiendo<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>Jes&uacute;s,
  le dijo: <B>Vete de m&iacute;, Satan&aacute;s</B>, porque escrito est&aacute;:
  A tu<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>Se&ntilde;or</SPAN></I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>Dios adorar&aacute;s,
  y a &Eacute;l solo
  servir&aacute;s</I>."<SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>( Lc
  4: 5 - 8 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>Si
  un hombre se llega a la puerta de una honesta mujer casada</B> y le promete
  que le regalar&aacute; un mill&oacute;n de d&oacute;lares si se acuesta con
  &eacute;l, &#191;qu&eacute; debe hacer la mujer? &#191;ponerse a discutir
  con &eacute;l para demostrarle que &eacute;l no tiene ese mill&oacute;n de
  d&oacute;lares que dice tener, o expulsarlo inmediatamente de su casa? Si
  se pusiera a discutir sobre si tiene o no el mill&oacute;n de d&oacute;lares
  para d&aacute;rselo a ella, arrojar&iacute;a dudas sobre la integridad y
  la moral de la dama, porque nos har&iacute;a sospechar que si ella supiera
  por seguro que el hombre, efectivamente, le iba a dar el mill&oacute;n, se
  hubiera entregado a &eacute;l. Por lo tanto, la &uacute;nica alternativa
  digna para una mujer honesta es echarlo inmediatamente de su casa. <BR>
  &nbsp;&nbsp;&nbsp; <B>&#191;Por qu&eacute; pues Cristo no le refut&oacute;
  su afirmaci&oacute;n?</B> Si Cristo se hubiera puesto a discutir con
  Satan&aacute;s para demostrar que no era verdad que el Diablo tuviera autoridad
  para darle los reinos de la Tierra, entonces hoy, esos mismos que dicen que
  los reinos son del Diablo, andar&iacute;an diciendo que Cristo no acept&oacute;
  la proposici&oacute;n de Satan&aacute;s porque sab&iacute;a que no le pod&iacute;a
  dar lo que promet&iacute;a, pero que si hubiera sido verdad lo hubiera aceptado.
  <B>Cristo no ten&iacute;a que discutir con Satan&aacute;s sobre si los reinos
  eran de &eacute;l o no,</B> lo que ten&iacute;a que hacer era expulsarlo
  del lugar inmediatamente por su enorme atrevimiento, y eso fue lo que hizo.
  <B>Tampoco Cristo le refut&oacute; al Diablo cuando &eacute;ste fingi&oacute;
  dudas sobre si Jes&uacute;s era o no el Hijo de Dios,</B> y le pidi&oacute;
  como prueba que hiciera las piedras pan y que se lanzara del Templo abajo.
  Por el hecho de que Cristo no le haya refutado esas cosas, no vamos a pensar
  que el Diablo estaba diciendo la verdad. <BR>
  &nbsp;&nbsp;&nbsp; Otra cosa que alegan es que si los reinos del mundo no
  fueran de Satan&aacute;s, &eacute;ste no se los hubiera ofrecido a Jes&uacute;s.
  Parece que ellos creen que el Diablo es incapaz de ofrecer lo que no puede
  cumplir. Aunque el Diablo sab&iacute;a que Jes&uacute;s sab&iacute;a que
  los reinos eran de Dios, parece que &eacute;l confiaba en que la debilidad
  del ayuno confundir&iacute;a a Jes&uacute;s. Tambi&eacute;n Jes&uacute;s
  sab&iacute;a que no deb&iacute;a hacer que las piedras se convirtieran en
  pan ni deb&iacute;a tirarse del Templo abajo, y el Diablo de todas maneras
  se lo propuso. <BR>
  &nbsp;&nbsp;&nbsp; El ap&oacute;stol Pablo, que sab&iacute;a mucho m&aacute;s
  que los charlatanes que aseguran lo contrario dijo que los gobiernos le
  pertenec&iacute;an a Dios: <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Toda alma se someta a las potestades superiores;
  porque<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>no
  hay potestad sino de
  Dios;</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>y las que son, de Dios son <o:p></o:p></I></B></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>ordenadas.</SPAN></I></B><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> As&iacute; que, <B>el que
  se opone a la potestad, a
  la</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ordenaci&oacute;nde Dios resiste</I></B><I>, y los que resisten, ellos
  mismos<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>ganan
  condenaci&oacute;n para
  s&iacute;.</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>Porque los magistrados no son <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>para temor al que
  bien hace, sino al malo. &#191;Quieres
  pues</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; no
  temer la potestad? Haz lo bueno, y tendr&aacute;s alabanza de
  ella;<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>porque <U>es ministro
  de
  Dios</U></SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <B><I>para tu bien.</I></B><I> Mas si hicieres lo<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>malo,
  teme, porque no en vano lleva el cuchillo; porque
  es</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ministro
  de Dios, vengador para castigo al que hace lo malo.
  <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Por lo cual es necesario
  que</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <I>le
  est&eacute;is sujetos, no solamente por<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>la
  ira, mas aun por la conciencia. Porque por esto
  pag&aacute;is</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  tambi&eacute;n los tributos; porque <B>son ministros de Dios que
  sirven<o:p></o:p></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>a esto
  mismo</SPAN></I></B><B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>.&nbsp;<SPAN
            style='mso-tab-count:
4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>&nbsp;</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  ( Ro 13: 1- 6 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>San
  Pablo dice claramente en este pasaje que no hay potestad, o sea, gobierno,
  sino los puestos por Dios.</B> Los gobernantes son puestos por Dios, si luego
  ellos, lade&aacute;ndose tras la avaricia y otras concupiscencias, se dejan
  llevar por Satan&aacute;s y no hacen lo que Dios quiere, eso no significa
  que los gobiernos los pone Satan&aacute;s. Si Dios llama a alguna persona
  al pastorado, y luego esa persona se escapa con una mujer casada de las que
  cantan en el coro, o se roba el dinero de la iglesia, o hace cualquier otra
  cosa de las que el Diablo incita a hacer, <B>eso no significa que Satan&aacute;s
  es el que gobierna las iglesias o el que llama los pastores al ministerio.</B>
  No tiene l&oacute;gica pensar que San Pablo va a exhortar a los cristianos
  a que le paguen impuestos a los agentes de Satan&aacute;s. Si &eacute;l exhorta
  a sus hermanos a que paguen los impuestos, es porque los gobiernos los pone
  Dios, no porque sean de Satan&aacute;s. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
  el pasaje que anteriormente le&iacute;mos, San Pablo dice: a) que no hay
  potestad sino la que Dios pone, b) que las que existen, es porque fueron
  puestas por Dios, c) que el que se opone al gobierno est&aacute; resistiendo
  a Dios y d) que los gobernantes son ministros de Dios, lo cual dice tres
  veces en este pasaje. &#191;Est&aacute; esto confuso o est&aacute; claro?
  &#191;Qui&eacute;n tiene la verdad Satan&aacute;s y los ruselistas o San
  Pablo? Pero no es solamente San Pablo el que afirma tal cosa, veamos lo que
  dice San Pedro al respecto. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Sed pues sujetos a toda ordenaci&oacute;n humana <B>por
  respeto<o:p></o:p></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>a
  Dios: ya sea al
  rey</SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>,
  como a</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>superior, ya a los gobernadores,<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>como
  de &eacute;l enviados para venganza de los
  malhechores,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>y<o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>para
  loor de los que hacen bien. Porque esta es la
  voluntad<o:p></o:p></SPAN></I>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>de
  Dios; que haciendo
  bien,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>hag&aacute;is callar la ignorancia de <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>los hombres vanos.
  Como libres, y no como teniendo
  la</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; libertad
  por cobertura de malicia, sino como siervos de Dios.
  <o:p></o:p></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Honrad a todos. Amad
  la</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <I>fraternidad. Temed a Dios. <B>Honrad<o:p></o:p></B></I></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt;text-indent:.5in'>
        <B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>al
  rey</SPAN></I></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN
            style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( I P 2: 13 - 17 ) <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>Como
  vemos tambi&eacute;n Pedro nos hace ver que los reyes y dem&aacute;s gobernantes
  son puestos por Dios</B> y no por Satan&aacute;s, pues si lo fueran, <B>no
  iba Pedro a exhortarlos a que honraran a un representante de Satan&aacute;s</B>.
  &#191;Ser&aacute; que tampoco Pedro sab&iacute;a tanto como los miembros
  del cuerpo gobernante de los ruselistas? Hasta ahora hemos visto que Daniel,
  el "Vigilante y Santo", Cristo, San Pablo y San Pedro, dijeron que los gobiernos
  son puestos por Dios. Tambi&eacute;n vimos que Satan&aacute;s dijo una vez
  que esa potestad de poner gobiernos era suya, y tambi&eacute;n hemos visto
  que muchos cristianos y los ruselistas dicen tal cosa. &#191;Quienes creen
  ustedes que tienen la raz&oacute;n? <BR>
  &nbsp;&nbsp;&nbsp; Hay otros que tienen la absurda hip&oacute;tesis de que
  la Tierra era de Adam y &eacute;ste le cedi&oacute; el dominio del planeta
  a Satan&aacute;s. Ante todo, en ninguna parte de la Biblia se dice que la
  propiedad de la Tierra le pertenec&iacute;a a Adam, y tampoco dice en ninguna
  parte que Adam se la entregara a Satan&aacute;s. Esas son lucubraciones de
  gente que trata de interpretar las circunstancias de la vida sin leer las
  Escrituras. Si leemos los libros de los Reyes y las Cr&oacute;nicas veremos
  a todo lo largo de tal lectura que las potestades eran dadas a los gobernantes
  por Dios <BR>
  &nbsp;&nbsp;&nbsp; Est&aacute; bien claramente expuesto a todo el que no
  quiera taparse los ojos del entendimiento, que es Dios el que pone y quita
  los gobernantes del mundo, que no son Satan&aacute;s y sus secuaces los demonios.
  Pero es el caso, que a&uacute;n sin leer la Biblia, nada m&aacute;s que haciendo
  uso del sentido com&uacute;n, nos damos cuenta de que no puede ser Satan&aacute;s
  el que est&aacute; gobernando el mundo. <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
        <B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Veamos cu&aacute;l
  tendr&iacute;a que ser nuestro concepto de Satan&aacute;s si en realidad
  &eacute;l gobernara el
  mundo:</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  &nbsp;&nbsp;&nbsp; <B>a )</B> Dado que hay much&iacute;simas iglesias en
  el mundo, y son millones los que predican el evangelio, tendr&iacute;amos
  que pensar que Satan&aacute;s es bastante tolerante, porque le permite a
  sus adversarios predicar la palabra de Dios, que es la que sirve para arrebatarle
  de las garras a sus v&iacute;ctimas; <BR>
  &nbsp;&nbsp;&nbsp;<B> b)</B> no s&oacute;lo eso, sino que al ver tantos
  hospitales y orfelinatos, tendr&iacute;amos que llegar a la conclusi&oacute;n
  de que Satan&aacute;s no es tan cruel e inhumano como la Biblia dice; <BR>
  <B>&nbsp;&nbsp;&nbsp; c)</B> siendo Satan&aacute;s el que gobierna el mundo,
  no comprendo c&oacute;mo es que no asesin&oacute; r&aacute;pidamente a todos
  los ap&oacute;stoles para que el evangelio no se propagara; <BR>
  &nbsp;&nbsp;&nbsp; <B>d)</B> tampoco comprendo c&oacute;mo Satan&aacute;s
  no se le aparece a los cristianos para aterrorizarlos y crearles un choque
  sicol&oacute;gico de tal envergadura que se vieran paralizados en lo adelante;
  nadie le impedir&iacute;a hacer tal cosa si en realidad fuera &eacute;l el
  que rigiera en el mundo; <BR>
  &nbsp;&nbsp;&nbsp; <B>e)</B> tampoco entiendo por qu&eacute; permite
  Satan&aacute;s que se impriman Biblias y libros que descubren sus tenebrosos
  planes, cuando &eacute;l, si fuera el gobernante del mundo y due&ntilde;o
  absoluto de todos los reinos, podr&iacute;a impedirlo. &#191;Pensar&aacute;n
  los que creen que Satan&aacute;s gobierna el mundo, que &eacute;l no es tan
  malo como parece, y que hasta es bastante compasivo? &#191;Qu&eacute; tienen
  que decir a todo esto los hermanos que creen que los reinos del mundo son
  de Satan&aacute;s y que &eacute;l gobierna al mundo? &#191;Pudieran estos
  hermanos aclararme mi error de razonamiento, si es que efectivamente tengo
  tal error? <o:p></o:p></SPAN>
    <P style='margin:0in;margin-bottom:.0001pt'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>No
  solamente es falso e irrespetuoso para Dios decir que &Eacute;l no tiene
  la potestad de poner y quitar gobiernos, </B>sino que adem&aacute;s es
  halag&uuml;e&ntilde;o para Satan&aacute;s el que digan que &eacute;l es el
  due&ntilde;o del mundo y que &eacute;l lo rige. Piensen los verdaderos hermanos
  sobre este asunto, antes de ense&ntilde;ar a otros tal herej&iacute;a. <BR>
  &nbsp; <o:p></o:p></SPAN>
    <P class=MsoNormal align=center style='text-align:center'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><B><A HREF="NotesOf.astro">Volver
  al indice</A></B> <o:p></o:p></SPAN>
</DIV>
</BODY>
</HTML>
