<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="DiosCastigaCristianos_files/filelist.xml">
    <title>Dios s&iacute; castiga a los cristianos</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>TextFit</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
            mso-ansi-language: ES-TRAD;
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
            mso-ansi-language: ES-TRAD;
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>3</u1:Revision>
  <u1:TotalTime>5</u1:TotalTime>
  <u1:Created>2006-01-19T23:41:00Z</u1:Created>
  <u1:LastSaved>2006-01-19T23:46:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>1092</u1:Words>
  <u1:Characters>6228</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>51</u1:Lines>
  <u1:Paragraphs>14</u1:Paragraphs>
  <u1:CharactersWithSpaces>7306</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD
                                                       style='font-size:18.0pt'>Dios s&iacute; castiga a los cristianos</span></b><span
            lang=ES-TRAD> </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; En muchas ocasiones, yo dir&iacute;a
que en la mayor&iacute;a, Dios castiga al humano para que aprenda algo, y
adem&aacute;s, porque lleva castigo lo que hizo; pero otras muchas veces lo
castiga, sencillamente, porque lleva castigo la acci&oacute;n cometida, sin que
lleve aparejado un intento de educaci&oacute;n. El hecho de que seamos salvos
por Cristo <b><u>no</u> quiere decir que podemos pecar impunemente</b>. Lo
m&aacute;s que quiere decir es que si nuestros pecados no rebasan cierto
l&iacute;mite endureci&eacute;ndonos el alma, mantenemos nuestra
salvaci&oacute;n; pero a&uacute;n dentro de ese estado de salvaci&oacute;n
vamos a recibir los castigos correspondientes a nuestras malas acciones. Veamos
qu&eacute; dice Pablo al respecto. </span></p>

    <p><span lang=ES-TRAD><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>Que si nos examin&aacute;semos a nosotros
mismos, cierto no ser&iacute;amos juzgados. Mas siendo juzgados, <b>somos <u>castigados</u>
del Se&ntilde;or</b>, para que no seamos condenados con el mundo</i>.&quot;&nbsp;&nbsp;&nbsp;<span
                style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
                style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(
I Co 11: 31-32 ) </span></p>

    </blockquote>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; Muy, pero muy lejos tiene que llegar
el cristiano pecando, para que pierda su salvaci&oacute;n; <b>pero no tiene que
ir m&aacute;s lejos que cualquier otro que no sea cristiano, para recibir
iguales castigos terrenales por sus pecados. Y yo dir&iacute;a que a veces va a
recibir castigos peores</b>, porque el siervo que conoce la voluntad de su
Se&ntilde;or y no la hace, ser&aacute; azotado mucho, como dice Jesucristo en
Lc 12: 47. Dios no hace acepci&oacute;n de personas, seg&uacute;n nos
ense&ntilde;a Pedro en Hch 10: 34, o sea, a igual pecado y circunstancias
corresponde id&eacute;ntico castigo. </span></p>

    <p><span lang=ES-TRAD><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>Porque <b>el siervo que entendi&oacute;</b>
la voluntad de su se&ntilde;or, y no se apercibi&oacute;, ni hizo conforme a su
voluntad, <b>ser&aacute; azotado mucho</b></i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp; (
Lc 12: 47 ) <o:p></o:p></span></p>

    </blockquote>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD><u8:p>&nbsp;</u8:p> </span></p>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>Entonces Pedro, abriendo su boca, dijo: Por
verdad hallo que <b>Dios <u>no</u> hace acepci&oacute;n de personas</b></i>&quot;&nbsp;&nbsp;&nbsp;&nbsp;<span
                style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;(
Hch 10: 34 ) </span></p>

    </blockquote>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; <b>El pecado tiene consecuencias
terrenales y eternas</b>. Ambas hay que sufrirlas. Si las eternas nos fueron
perdonadas por Cristo, luego de <b>nuestro <u>sincero</u> arrepentimiento</b>,
no as&iacute; las terrenales, que nos alcanzan, como vimos en I Co 11: 31-32.
Lo mismo vemos en Heb 12: 6-8. </span></p>

    <p><span lang=ES-TRAD><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>Porque <b>el Se&ntilde;or al que ama
castiga, y azota a cualquiera que recibe por hijo. Si sufr&iacute;s el castigo,
Dios se os presenta como a hijos</b>; porque &iquest;qu&eacute; hijo es aquel a
quien el padre no castiga? Mas si est&aacute;is fuera del castigo, <b>del cual
todos han sido hechos participantes</b>, luego sois bastardos, y no hijos</i>.&quot;
( Heb 12: 6-8 ) </span></p>

    </blockquote>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; <b>Hay quienes est&aacute;n en pecado,
y a la vez est&aacute;n sufriendo angustias; y en vez de comprender la
vinculaci&oacute;n que existe entre sus pecados y sus angustias</b>, creen que
ellos tienen perdonados todos los pecados que cometieron y cometer&aacute;n,
mientras que, por el otro lado, no se explican el porqu&eacute; est&aacute;n
sufriendo. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; Es decir, que <b>la gente que
as&iacute; piensa se figura que Dios comete dos injusticias al mismo tiempo</b>:
por un lado no castiga en el cristiano lo que s&iacute; castiga en los <b>no</b>
cristianos; y por el otro lado, le env&iacute;a al cristiano angustias sin que
&eacute;l d&eacute; el menor motivo para ello. &iexcl;Hay que ser necio! </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; A m&iacute; me parece que los
cristianos que este tipo de cosas piensan, lo hacen como un dispositivo
psicol&oacute;gico de defensa, con el cual protegen sus concupiscencias. <b>Ellos
aman profundamente sus concupiscencias y no quieren dejarlas aunque les cueste
sufrir. Tampoco quieren perder su salvaci&oacute;n, a la que solamente aman un
poquito m&aacute;s que a sus concupiscencias</b>. Como que saben o intuyen que
el reconocer que Dios les est&aacute; cobrando las cuentas, y persistir en
pecar, puede convertirse en un rechazo al Esp&iacute;ritu Santo, y un pecado
imperdonable, prefieren &quot;auto convencerse&quot; de que no es eso lo que
est&aacute; sucediendo, sino que lo que pasa es que sus pecados son perdonados
inmediatamente despu&eacute;s de cometidos, mientras que sus angustias y
castigos, son motivados por algo &quot;desconocido&quot; para ellos. Por eso
nos dan necias explicaciones tales como &quot;son pruebas hermano&quot;,
&quot;son misterios hermano&quot;, &quot;es que no puede haber felicidad en
esta vida hermano&quot;, etc.. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; <b>De esta manera se sienten <u>artificialmente</u>
libres para seguir &quot;gozando&quot; de sus concupiscencias, sin por ello
perder la salvaci&oacute;n.</b> Es un caso semejante al del borracho, el
drogadicto, o el vicioso sexual, que aunque ve claramente los sufrimientos que
le causan sus concupiscencias, prefieren soportar aqu&eacute;llos y seguir
&quot;gozando&quot; de &eacute;stas. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; <b>Est&aacute; claro en el pasaje I Co
11: 31-32 que Dios castiga no s&oacute;lo como m&eacute;todo pedag&oacute;gico,
sino como penalidad, para satisfacer la justicia establecida en las reglas de
comportamientos dadas</b>. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; Si siendo juzgados ( vers&iacute;culo
32 ) somos castigados, no somos castigados por ense&ntilde;anza, sino por
penalidad. <b>Para ense&ntilde;ar no hay que hacer un juicio, &eacute;ste se
hace cuando se va a castigar a uno que delinque</b>. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; A los cristianos <b>no</b> nos van a
cobrar nuestros pecados en la eternidad, nos los van a cobrar aqu&iacute;; <b>aqu&iacute;
nos castigan</b>. Por eso, debiendo estar por encima de todos, ( dado que
tenemos la ayuda de Dios), m&aacute;s bien estamos por debajo. Siendo los
cristianos los hijos de Dios, los hermanos de Cristo, no somos los de arriba,
sino los atropellados. <b>Tenemos que pagar aqu&iacute; lo malo que aqu&iacute;
hacemos, puesto que no nos lo van a cobrar despu&eacute;s</b>. Lo contrario
sucede con los enemigos de Dios, lo bueno que hacen aqu&iacute; se les va a
pagar aqu&iacute;, puesto que all&aacute; van a pagar lo malo que hicieron. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; La misma doctrina nos es
ense&ntilde;ada por el ap&oacute;stol Pablo cuando en Ga 6: 7 y Col 3: 25 nos
dice lo siguiente: </span></p>

    <p><span lang=ES-TRAD><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>No os enga&ntilde;&eacute;is, Dios no puede
ser burlado, que <b>todo lo que el hombre sembrare, eso tambi&eacute;n
segar&aacute;</b></i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( Ga 6: 7 ) </span></p>

        <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i style='mso-bidi-font-style:
normal'>Mas el que hace injuria, recibir&aacute; la injuria que hiciere; que <b>no
hay acepci&oacute;n de personas</b></i>.&quot;&nbsp;&nbsp;&nbsp;<span
                style='mso-tab-count:1'>&nbsp;&nbsp; </span><span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;&nbsp;(
Col 3: 25 ) </span></p>

    </blockquote>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; A pesar de todos estos claros pasajes,
hay quienes piensan que Dios no castiga a los cristianos, sino que solamente
los educa. <b>Habl&aacute;ndoles Pablo a los cristianos, y refiri&eacute;ndose
a ellos</b>, les dice que ninguno enga&ntilde;e a su hermano. El ap&oacute;stol
le dice a un cristiano que no oprima ni enga&ntilde;e a otro cristiano, <b>porque
el Se&ntilde;or <u>se venga</u> de todo eso</b>. Venganza es castigo, no
educaci&oacute;n, y en este vers&iacute;culo vemos que ese castigo se le aplica
a los cristianos tambi&eacute;n. <b>Es l&oacute;gico que as&iacute; sea, pues
Dios no hace acepci&oacute;n de personas.</b> </span></p>

    <p><span lang=ES-TRAD><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; &quot;<i
                style='mso-bidi-font-style:normal'>Que ninguno oprima, ni enga&ntilde;e en nada
a su hermano, porque <b>el Se&ntilde;or es vengador de todo esto, como ya os
hemos dicho y protestado</b></i>.&quot; ( I Tes 4: 6 ) </span></p>

    </blockquote>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; No s&oacute;lo hay correcci&oacute;n
para reeducaci&oacute;n, tambi&eacute;n hay venganza para castigo, sin
reeducaci&oacute;n, necesariamente. <b>Y si todo esto le ocurre a los
cristianos, los cuales seremos salvos, es l&oacute;gico pensar que esa venganza
ocurre contra nosotros aqu&iacute; y ahora, pues despu&eacute;s de la
resurrecci&oacute;n ya no habr&aacute; castigos para nosotros.</b> Vemos en el
vers&iacute;culo que acabamos de leer, que ya Pablo le hab&iacute;a hablado
antes sobre este asunto a los tesalonicenses, porque les dice que ya se los
hab&iacute;a dicho y protestado. Al usar la palabra &quot;protestado&quot;, nos
da la sensaci&oacute;n de que era una seria advertencia, tal vez porque no le
hab&iacute;an hecho mucho caso a esta verdad. Algo parecido hacen los que hoy
en d&iacute;a <b>quieren creer</b> que el Se&ntilde;or no castiga a los
cristianos. M&aacute;s vale que despierten a tiempo, para que luego, cuando los
castigos les caigan encima, no se pongan a vocear la necedad que tan
com&uacute;nmente escuchamos: &quot;son pruebas, hermano&quot;, &quot;son
misterios, hermano&quot;. </span></p>

    <p><span lang=ES-TRAD>&nbsp;&nbsp;&nbsp; Vean tambi&eacute;n los
art&iacute;culos n&uacute;meros 26 y 39 sobre este mismo asunto, en este mismo
website. </span></p>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD><a
            href="NotesOf.astro">Volver al indice</a></span></b><span lang=ES-TRAD> </span></p>

</div>

</body>

</html>
