<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>7</o:Revision>
                    <o:TotalTime>113</o:TotalTime>
                    <o:Created>2006-09-14T20:24:00Z</o:Created>
                    <o:LastSaved>2006-09-14T22:49:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1248</o:Words>
                    <o:Characters>7114</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>59</o:Lines>
                    <o:Paragraphs>16</o:Paragraphs>
                    <o:CharactersWithSpaces>8346</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>160</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="3074"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Dos mujeres diferentes ungieron a Jes&uacute;s</TITLE>
                    <LINK rel=File-List href="DosMujeresUngieronJesus_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Dos
  mujeres diferentes ungieron a Jes&uacute;s; una era decente, la otra
  no<o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>He
  hablado con muchos hermanos que confunden
  <B style='mso-bidi-font-weight:normal'>los dos casos</B> diferentes en que
  una mujer ungi&oacute; a Nuestro Se&ntilde;or, y creen que se trata de un
  solo caso. Por esta confusi&oacute;n algunos consideran que Mar&iacute;a,
  la hermana de L&aacute;zaro, el amigo de Cristo, era una prostituta, cuando
  en realidad ella era una mujer decente. La prostituta era la otra, la que
  ungi&oacute; a Jes&uacute;s en Galilea, al norte. L&aacute;zaro y sus hermanas
  viv&iacute;an en Bethania, cerca de Jerusalem, al sur. Estos pasajes que
  tratan sobre la unci&oacute;n, son el mejor ejemplo de lo necesario que es
  <B style='mso-bidi-font-weight:normal'>fijarnos en los detalles para interpretar
  correctamente las Escrituras.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Los pasajes de Mateo, Marcos y Juan hablan de la unci&oacute;n de
  Jes&uacute;s por Mar&iacute;a, pero en el episodio narrado en Lucas se habla
  de otra ocasi&oacute;n, y de una mujer desconocida. Veamos las diferencias
  entre los dos casos para que se entienda m&aacute;s f&aacute;cilmente. A
  medida que lean las diferencias entre ambos casos, pueden ustedes comprobarlas
  yendo a leer m&aacute;s <SPAN class=GramE>abajo</SPAN> los pasajes
  correspondientes. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>a)</B> Esta acci&oacute;n de
  Mar&iacute;a derramando el ung&uuml;ento,
  <B style='mso-bidi-font-weight:normal'>tuvo lugar en la propia casa de ella,
  donde viv&iacute;a con Marta y L&aacute;zaro</B>. Por tanto, no puede ser
  el mismo caso que se relata en Lc 7:36-50,
  <B style='mso-bidi-font-weight:normal'>el cual tuvo lugar en casa de un fariseo
  llamado Sim&oacute;n, y la mujer que ungi&oacute; al Se&ntilde;or no viv&iacute;a
  all&iacute;.</B> <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>b)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  El caso de la mujer mencionada en Lucas ocurri&oacute; mucho antes que el
  caso de Mar&iacute;a, ya que <B style='mso-bidi-font-weight:normal'>el de
  esta mujer ocurri&oacute; <U>a principios</U> de la predicaci&oacute;n de
  Jes&uacute;s, y el de Mar&iacute;a, <U>a finales</U> de la predicaci&oacute;n
  de Jes&uacute;s, cerca del d&iacute;a de su muerte.</B> As&iacute; pues,
  los casos relatados en Mt 26:6; Mr 14:3; y Jn 12:1 son iguales entre s&iacute;,
  relatan el mismo episodio; pero el caso relatado en Lc 7:36-50 es un episodio
  diferente, porque ocurrieron en tiempos diferentes. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>c)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  En estos tres relatos <B style='mso-bidi-font-weight:normal'>Mar&iacute;a,
  la hermana de L&aacute;zaro, es la criticada</B> por derramar un ung&uuml;ento
  que se pod&iacute;a vender para dar a los pobres; mientras que en el episodio
  de Lucas <B style='mso-bidi-font-weight:normal'>a quien critican es a
  Cristo</B>, por dejarse tocar por una pecadora; no critican a la pecadora
  por derramar el ung&uuml;ento. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>d)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  En los tres casos iguales (Mt, Mr y Jn)
  <B style='mso-bidi-font-weight:normal'>los anfitriones de Cristo son
  amistosos</B>, y creen en la divinidad de Jes&uacute;s; en el caso de Lucas
  <B style='mso-bidi-font-weight:normal'>el anfitri&oacute;n es un fariseo
  que le es hostil</B>, <B style='mso-bidi-font-weight:normal'>y duda incluso
  de que sea profeta</B>, porque &eacute;l cre&iacute;a que Jes&uacute;s no
  sab&iacute;a qu&eacute; clase de mujer lo estaba tocando.
  <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>e)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  En los tres casos iguales <B style='mso-bidi-font-weight:normal'>son los
  disc&iacute;pulos los que se enojan</B>, porque hubieran preferido vender
  el ung&uuml;ento y dar el dinero a los pobres; en el caso de Lucas
  <B style='mso-bidi-font-weight:normal'>nadie se enoja</B> por el derrame
  de ung&uuml;ento. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>f)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  En el caso de la hermana de L&aacute;zaro,
  <B style='mso-bidi-font-weight:normal'>el Se&ntilde;or defiende la acci&oacute;n
  de Mar&iacute;a;</B> pero en el caso de Lucas no existe esa defensa de la
  acci&oacute;n realizada. Lo que all&iacute; vemos es
  <B style='mso-bidi-font-weight:normal'>una demostraci&oacute;n de la divinidad
  de Cristo y su perd&oacute;n</B>; demostraci&oacute;n y perd&oacute;n que
  no existen en los otros tres casos. Comp&aacute;rense los cuatro pasajes.
  <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>g)</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  En Lucas, <B style='mso-bidi-font-weight:
normal'>Jes&uacute;s liga la unci&oacute;n o derrame del ung&uuml;ento con
  <U>los pecados cometidos por la mujer</U>, <U>su
  perd&oacute;n</U>,<SPAN style='mso-spacerun:yes'>&nbsp;
  </SPAN>y<SPAN style='mso-spacerun:yes'>&nbsp; </SPAN><U>la falta de
  hospitalidad</U> del anfitri&oacute;n fariseo</B>. Sin embargo en los otros
  tres casos <B style='mso-bidi-font-weight:normal'>Jes&uacute;s liga la
  unci&oacute;n solamente <U>con su sepultura</U></B>. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>h)
  </SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>En los tres
  casos similares, el de Mateo, Marcos y Juan, los jud&iacute;os son amistosos
  con las dos hermanas, <B style='mso-bidi-font-weight:normal'>se tratan con
  ellas, las consideran dignas</B>, las consuelan y las acompa&ntilde;an;
  se&ntilde;al que <B style='mso-bidi-font-weight:normal'>no eran consideradas
  como pecadoras p&uacute;blicas</B>. En el caso de Lucas, la que ungi&oacute;
  los pies de Jes&uacute;s <B style='mso-bidi-font-weight:normal'>era considerada
  una p&uacute;blica pecadora, indigna</B> de alternar con los jud&iacute;os.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>i)</B> Sabemos que el caso
  de la pecadora ocurri&oacute; en el norte, porque en Lc 7:1 vemos que
  <B style='mso-bidi-font-weight:normal'>se menciona la ciudad de Capernaum,
  y en 7:11 la ciudad de Na&iacute;n</B>, dos ciudades del norte, en Galilea.
  Por lo tanto, el episodio de la unci&oacute;n que llev&oacute; a cabo la
  pecadora, ocurri&oacute; en el norte, no en Bethania, que es una ciudad del
  sur, cerca de Jerusalem, donde viv&iacute;a Mar&iacute;a en uni&oacute;n
  de su hermana Marta y su hermano L&aacute;zaro. <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Caso de Mateo. <o:p></o:p></SPAN></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"6 <I style='mso-bidi-font-style:normal'>Y estando Jes&uacute;s en
  Bethania, <B style='mso-bidi-font-weight:normal'><U>en casa de
  Sim&oacute;n</U><SPAN style='mso-spacerun:yes'>&nbsp; </SPAN><U>el
  leproso</U></B>, </I>7<I style='mso-bidi-font-style:normal'> vino a &eacute;l
  una mujer, teniendo un vaso de alabastro de ung&uuml;ento de gran precio,
  y lo derram&oacute; sobre la cabeza de &eacute;l, estando sentado a la mesa.
  </I>8 <I style='mso-bidi-font-style:
normal'>Lo cual viendo <B style='mso-bidi-font-weight:normal'>sus
  disc&iacute;pulos, se enojaron</B>, diciendo: &#191;Por qu&eacute; se pierde
  esto? </I>9 <I style='mso-bidi-font-style:normal'>Porque esto se pod&iacute;a
  vender por gran precio, y <B style='mso-bidi-font-weight:normal'>darse a
  los pobres.</B> </I>10 <I style='mso-bidi-font-style:normal'>Y
  entendi&eacute;ndolo Jes&uacute;s, les dijo: &#191;Por qu&eacute; dais pena
  a esta mujer? Pues ha hecho conmigo buena obra.
  </I>11<I style='mso-bidi-font-style:normal'> Porque siempre tendr&eacute;is
  pobres con vosotros, <SPAN class=GramE>mas</SPAN> a m&iacute; no siempre
  me tendr&eacute;is. </I>12<I style='mso-bidi-font-style:
normal'> Porque echando este ung&uuml;ento sobre mi cuerpo,
  <B style='mso-bidi-font-weight:normal'><U>para sepultarme</U> lo ha hecho</B>.
  </I>13<I style='mso-bidi-font-style:normal'> De cierto os digo, que donde
  quiera que este evangelio fuere predicado en todo el mundo, tambi&eacute;n
  ser&aacute; dicho para memoria de ella, lo que &eacute;sta ha hecho</I>."
  <SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Mt 26:6-13) <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Caso de Marcos. <o:p></o:p></SPAN></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>"3 <I style='mso-bidi-font-style:normal'>Y estando &eacute;l en Bethania
  <B style='mso-bidi-font-weight:normal'><U>en casa de
  Sim&oacute;n</U><SPAN style='mso-spacerun:yes'>&nbsp; </SPAN><U>el
  leproso</U></B>, y sentado a la mesa, vino una mujer teniendo un alabastro
  de ung&uuml;ento de nardo <SPAN class=SpellE>espique</SPAN> de mucho precio;
  y quebrando el alabastro, se lo derram&oacute; sobre su cabeza.
  </I>4<I style='mso-bidi-font-style:normal'> Y hubo algunos que se enojaron
  dentro de s&iacute;, y dijeron: &#191;Para qu&eacute; se ha hecho este
  desperdicio de ung&uuml;ento? </I>5<I style='mso-bidi-font-style:normal'>
  Porque pod&iacute;a esto ser vendido por m&aacute;s de trescientos denarios,
  y <B style='mso-bidi-font-weight:normal'><U>darse a los pobres</U>. Y
  <U>murmuraban contra ella</U></B>.
  </I>6<I style='mso-bidi-font-style:normal'> Mas Jes&uacute;s dijo: Dejadla;
  &#191;por qu&eacute; la fatig&aacute;is? Buena obra me ha hecho;
  </I>7<I style='mso-bidi-font-style:normal'> que siempre tendr&eacute;is los
  pobres con vosotros, y cuando quisiereis les podr&eacute;is hacer bien; mas
  a m&iacute; no siempre me tendr&eacute;is.
  </I>8<I style='mso-bidi-font-style:normal'> Esta ha hecho lo que pod&iacute;a;
  porque se ha anticipado a <B style='mso-bidi-font-weight:
normal'>ungir mi cuerpo para la sepultura</B>.
  </I>9<I style='mso-bidi-font-style:
normal'> De cierto os digo que donde quiera que fuere predicado este evangelio
  en todo el mundo, tambi&eacute;n esto que ha hecho &eacute;sta, ser&aacute;
  dicho para memoria de
  ella</I>"<SPAN style='mso-tab-count:6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (Mr 14:3-9) <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Caso de Juan. <o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>"1
  <I style='mso-bidi-font-style:normal'>Y Jes&uacute;s, seis d&iacute;as antes
  de la Pascua, <B style='mso-bidi-font-weight:normal'><U>vino a
  Bethania</U></B>,<SPAN style='mso-spacerun:yes'>&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'><U>donde estaba
  L&aacute;zaro</U></B>, que hab&iacute;a sido muerto, al cual hab&iacute;a
  resucitado de los muertos.</I> 2<I style='mso-bidi-font-style:
normal'> <B style='mso-bidi-font-weight:normal'>Y le hicieron
  <U>all&iacute;</U> una cena</B> y Marta serv&iacute;a, y L&aacute;zaro era
  uno de los que estaban sentados a la mesa juntamente con &eacute;l.
  </I>3<I style='mso-bidi-font-style:
normal'> Entonces Mar&iacute;a tom&oacute; una libra de ung&uuml;ento de
  nardo l&iacute;quido de mucho precio, y ungi&oacute; los pies de Jes&uacute;s,
  y limpi&oacute; sus pies con sus cabellos, y la casa se llen&oacute; del
  olor del ung&uuml;ento. </I>4 <I style='mso-bidi-font-style:normal'>Y dijo
  <B style='mso-bidi-font-weight:normal'>uno de sus disc&iacute;pulos</B>,
  Judas Iscariote, hijo de Sim&oacute;n, el que le hab&iacute;a de entregar:
  </I>5<I style='mso-bidi-font-style:normal'> &#191;Por qu&eacute; no se ha
  vendido este ung&uuml;ento por trescientos dineros, y
  <B style='mso-bidi-font-weight:
normal'>se dio a los pobres?</B> </I>6<I style='mso-bidi-font-style:normal'>
  Mas dijo esto, no por el cuidado que &eacute;l ten&iacute;a de los pobres,
  sino porque era ladr&oacute;n, y ten&iacute;a la bolsa, y tra&iacute;a lo
  que se echaba en ella. </I>7<I style='mso-bidi-font-style:normal'> Entonces
  Jes&uacute;s dijo: D&eacute;jala; <B style='mso-bidi-font-weight:normal'>para
  el d&iacute;a de mi sepultura ha guardado esto</B>; </I>8
  <I style='mso-bidi-font-style:
normal'>porque a los pobres siempre los ten&eacute;is con vosotros, mas a
  m&iacute; no siempre me ten&eacute;is</I>."
  <SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN>(Jn 12:1-8) <o:p></o:p></SPAN>
    <P>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Caso de Lucas. <o:p></o:p></SPAN></B>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>"<I style='mso-bidi-font-style:normal'>36 Y
  <B style='mso-bidi-font-weight:
normal'>le rog&oacute; <U>uno de los fariseos</U>, que comiese con
  &eacute;l</B>. Y entrado <B style='mso-bidi-font-weight:normal'><U>en casa
  del fariseo</U></B>, se sent&oacute; a la mesa. </I>37
  <I style='mso-bidi-font-style:normal'>Y he aqu&iacute; una mujer que
  <B style='mso-bidi-font-weight:normal'>hab&iacute;a sido pecadora en la
  ciudad</B>, como entendi&oacute; que estaba a la mesa
  <B style='mso-bidi-font-weight:normal'><U>en casa de aquel fariseo</U></B>,
  trajo un alabastro de ung&uuml;ento,
  </I>38<I style='mso-bidi-font-style:normal'> y estando detr&aacute;s a sus
  pies, comenz&oacute; llorando a regar con l&aacute;grimas sus pies, y los
  limpiaba con los cabellos de su cabeza; y besaba sus pies, y los ung&iacute;a
  con el ung&uuml;ento. </I>39<I style='mso-bidi-font-style:normal'> Y como
  vio esto <B style='mso-bidi-font-weight:
normal'>el fariseo que le hab&iacute;a convidado, habl&oacute; entre s&iacute;,
  diciendo: Este, <U>si fuera profeta</U></B>, conocer&iacute;a qui&eacute;n
  y cu&aacute;l es la mujer que le toca, que es pecadora.
  <o:p></o:p></I></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN
                style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>40<I
            style='mso-bidi-font-style:
normal'> Entonces respondiendo Jes&uacute;s, le dijo: Sim&oacute;n, una cosa
  tengo que decirte. Y &eacute;l dice: Di, Maestro.
  </I>41<I style='mso-bidi-font-style:
normal'> Un acreedor ten&iacute;a dos deudores, el uno le deb&iacute;a quinientos
  denarios, y el otro cincuenta; </I>42<I style='mso-bidi-font-style:
normal'> y no teniendo ellos de qu&eacute; pagar, perdon&oacute; a ambos.
  Di, pues, &#191;cu&aacute;l de &eacute;stos le amar&aacute; m&aacute;s?
  </I>43<I style='mso-bidi-font-style:normal'> Y respondiendo Sim&oacute;n,
  dijo: Pienso que aqu&eacute;l al cual perdon&oacute; m&aacute;s. Y &eacute;l
  le dijo: Rectamente has juzgado.</I> 44<I style='mso-bidi-font-style:normal'>
  Y vuelto a la mujer, <B style='mso-bidi-font-weight:normal'>dijo a
  Sim&oacute;n:</B> &#191;Ves esta mujer?
  <B style='mso-bidi-font-weight:normal'>Entr&eacute; en tu casa, no diste
  agua para mis pies; mas &eacute;sta ha regado mis pies con l&aacute;grimas,
  y los ha limpiado con los cabellos. </B></I>45
  <B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'>No
  me diste beso, mas &eacute;sta, desde que entr&eacute;, no ha cesado de besar
  mis pies. </I></B>46
  <B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:
normal'>No ungiste mi cabeza con &oacute;leo; mas &eacute;sta ha ungido con
  ung&uuml;ento mis pies.</I></B><I style='mso-bidi-font-style:normal'>
  </I>47<I style='mso-bidi-font-style:normal'> Por lo cual te digo que sus
  muchos pecados son perdonados, porque am&oacute; mucho; mas al que se perdona
  poco, poco ama. </I>48<I style='mso-bidi-font-style:normal'> Y a ella dijo:
  Los pecados te son perdonados. </I>49<I style='mso-bidi-font-style:normal'>
  <B style='mso-bidi-font-weight:
normal'>Y los que estaban juntamente sentados a la mesa, comenzaron a decir
  entre s&iacute;: &#191;Qui&eacute;n es &eacute;ste, que tambi&eacute;n perdona
  pecados?</B> </I>50<I style='mso-bidi-font-style:normal'> Y dijo a la mujer:
  Tu fe te ha salvado, ve en
  paz</I>."<SPAN style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN> </SPAN>(Lc 7:36-50)
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="NotesOf.astro">Volver
            al &iacute;ndice
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
