<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="EgiptoYRusia_files/filelist.xml">
    <title>Egipto y Rusia Comparaci&oacute;n</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>150</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>5</u1:Revision>
  <u1:TotalTime>26</u1:TotalTime>
  <u1:Created>2007-09-28T17:40:00Z</u1:Created>
  <u1:LastSaved>2007-09-28T18:06:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>1183</u1:Words>
  <u1:Characters>6744</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>56</u1:Lines>
  <u1:Paragraphs>15</u1:Paragraphs>
  <u1:CharactersWithSpaces>7912</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:SpellingState>Clean</u2:SpellingState>
  <u2:GrammarState>Clean</u2:GrammarState>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><span
            lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>TEOR&Iacute;A
DE LOS &Aacute;NGELES PATROCINANDO LAS NACIONES:<u8:p></u8:p></span></b><span
            lang=ES-TRAD> </span></p>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><span
            lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>PARALELO ENTRE
EL EGIPTO FARA&Oacute;NICO Y LA RUSIA COMUNISTA<u8:p></u8:p></span></b><span
            lang=ES-TRAD> </span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Ya he hablado en otras
ocasiones de la teor&iacute;a de que a los pa&iacute;ses se les asigna algo
as&iacute; como administradores angelicales<b style='mso-bidi-font-weight:normal'>,</b>
que son los que tratan de conducir a esa naci&oacute;n<b style='mso-bidi-font-weight:
normal'>,</b> hasta donde ellos pueden<b style='mso-bidi-font-weight:normal'>,</b>
sin violentar la voluntad humana<b style='mso-bidi-font-weight:normal'>,</b>
sin atropellar derechos ajenos y permaneciendo dentro de las leyes que rigen en
las esferas celestiales<b style='mso-bidi-font-weight:normal'>.</b> (Ardua
tarea esta)<b style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Tambi&eacute;n hay
&aacute;ngeles rebeldes que antagonizan con los anteriores en la
conducci&oacute;n del pa&iacute;s<b style='mso-bidi-font-weight:normal'>,</b>
al igual que ocurre en la vida y conducta del individuo particular<b
                style='mso-bidi-font-weight:normal'>.</b> En la misma forma en que<b
                style='mso-bidi-font-weight:normal'>,</b> a pesar de la conducci&oacute;n
benefactora del Esp&iacute;ritu Santo y los &aacute;ngeles de Dios sobre el
cristiano<b style='mso-bidi-font-weight:normal'>,</b> la conducta de
&eacute;ste deja en ocasiones mucho que desear<b style='mso-bidi-font-weight:
normal'>,</b> as&iacute; ocurre con las naciones<b style='mso-bidi-font-weight:
normal'>.</b> Esto ocurre porque hay un factor independiente<b
                style='mso-bidi-font-weight:normal'>,</b> la voluntad humana<b
                style='mso-bidi-font-weight:normal'>,</b> que <b style='mso-bidi-font-weight:
normal'>Dios no permite que ni unos ni otros la violenten; ni siquiera la
violenta &Eacute;l mismo.</b> Si esto ocurre con el cristiano<b
                style='mso-bidi-font-weight:normal'>,</b> <b style='mso-bidi-font-weight:normal'>&iquest;</b>qu&eacute;
no ocurrir&aacute; con los inconversos y las naciones<b style='mso-bidi-font-weight:
normal'>?</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Aunque lo hasta aqu&iacute;
dicho no es para m&iacute; nada nuevo<b style='mso-bidi-font-weight:normal'>,</b>
s&iacute; lo fue la observaci&oacute;n que con respecto a las principales
naciones de la historia me hicieron<b style='mso-bidi-font-weight:normal'>,</b>
sobre la aparente relaci&oacute;n existente entre las caracter&iacute;sticas de
las naciones y sus patronos angelicales<b style='mso-bidi-font-weight:normal'>.</b>
<u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Para aclarar este concepto<b
            style='mso-bidi-font-weight:normal'>,</b> voy a hacer un paralelo entre el
Egipto fara&oacute;nico y la Rusia comunista<b style='mso-bidi-font-weight:
normal'>,</b> tal y como me lo hicieron a m&iacute;<b style='mso-bidi-font-weight:
normal'>,</b> para explic&aacute;rmelo la primera vez<b style='mso-bidi-font-weight:
normal'>,</b> bas&aacute;ndose en los siguientes factores<b style='mso-bidi-font-weight:
normal'>:</b> <u8:p></u8:p></span></p>

    <p><b style='mso-bidi-font-weight:normal'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>a)</span></b><span
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> propiedad<b style='mso-bidi-font-weight:
normal'>,</b> por parte del gobierno<b style='mso-bidi-font-weight:normal'>,</b>
de todo lo que vale en la naci&oacute;n<b style='mso-bidi-font-weight:normal'>.</b>
<u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>b)</b> su sistema fue concebido y puesto en funciones por un
jud&iacute;o<b style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>c)</b> con el tiempo el sistema se vuelve contra los jud&iacute;os <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>d)</b> el pa&iacute;s hace enormes monumentos mortuorios para sus
gobernantes <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>e)</b> tratan de conservar el cad&aacute;ver de sus gobernantes <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>f)</b> los gobernantes proh&iacute;ben la salida del pa&iacute;s a sus
gobernados <u8:p></u8:p></span></p>

    <p><b style='mso-bidi-font-weight:normal'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Explicar&eacute; cada uno de los incisos anteriores: <u8:p></u8:p></span></b></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>a)</b> En Egipto<b style='mso-bidi-font-weight:normal'>,</b>
fara&oacute;n era el due&ntilde;o de la tierra y el ganado<b style='mso-bidi-font-weight:
normal'>;</b> tambi&eacute;n bajo el comunismo la tierra pertenece al estado y
las cr&iacute;as de ganado particulares no existen<b style='mso-bidi-font-weight:
normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'><span style='mso-spacerun:yes'>&nbsp;</span>b)</b> Quien dio la idea
para que el gobierno poseyera toda la tierra y el ganado en Egipto<b
                style='mso-bidi-font-weight:normal'>,</b> fue un jud&iacute;o<b
                style='mso-bidi-font-weight:normal'>,</b> Jos&eacute;<b style='mso-bidi-font-weight:
normal'>.</b> Quien dio la idea para que el estado poseyera todo bajo el
comunismo<b style='mso-bidi-font-weight:normal'>,</b> fue otro jud&iacute;o<b
                style='mso-bidi-font-weight:normal'>,</b> Marx<b style='mso-bidi-font-weight:
normal'>.</b> La &uacute;nica diferencia es que en el primer caso quien
llev&oacute; a efecto la idea fue el mismo Jos&eacute;<b style='mso-bidi-font-weight:
normal'>,</b> y en el segundo fue otro jud&iacute;o diferente<b
                style='mso-bidi-font-weight:normal'>,</b> Len&iacute;n<b style='mso-bidi-font-weight:
normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>c)</b> Al principio<b style='mso-bidi-font-weight:normal'>,</b> tanto
en &eacute;poca de Jos&eacute; como en &eacute;poca de Len&iacute;n<b
                style='mso-bidi-font-weight:normal'>,</b> los jud&iacute;os sacaron ciertas
ventajas con el sistema<b style='mso-bidi-font-weight:normal'>.</b> As&iacute;
en Egipto ellos ten&iacute;an la protecci&oacute;n de Jos&eacute;<b
                style='mso-bidi-font-weight:normal'>.</b> En Rusia los zares persegu&iacute;an
a los jud&iacute;os en sus pogromos<b style='mso-bidi-font-weight:normal'>,</b>
y el comunismo los atra&iacute;a y utilizaba<b style='mso-bidi-font-weight:
normal'>;</b> pero con el tiempo el sistema se volv&iacute;a contra los
jud&iacute;os<b style='mso-bidi-font-weight:normal'>,</b> tanto en Egipto como
en la Uni&oacute;n Sovi&eacute;tica<b style='mso-bidi-font-weight:normal'>.</b>
<u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>d)</b> Las pir&aacute;mides egipcias son el testimonio vivo de los
monumentos que hac&iacute;an a sus gobernantes muertos<b style='mso-bidi-font-weight:
normal'>.</b> En la Plaza Roja se alza el gigantesco monumento que guarda los
restos de Len&iacute;n<b style='mso-bidi-font-weight:normal'>,</b> etc<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>e)</b> Los egipcios momificaban a sus gobernantes<b style='mso-bidi-font-weight:
normal'>.</b> La momia de Len&iacute;n ve desfilar ante s&iacute; cada
d&iacute;a decenas de personas<b style='mso-bidi-font-weight:normal'>,</b> en
la Plaza Roja<b style='mso-bidi-font-weight:normal'>.</b> Y eso que el
r&eacute;gimen s&oacute;lo lleva unas d&eacute;cadas de establecido<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp; </span><b style='mso-bidi-font-weight:normal'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;</span>f)</b> Fara&oacute;n imped&iacute;a
la salida de Egipto a los jud&iacute;os<b style='mso-bidi-font-weight:normal'>.</b>
La Uni&oacute;n Sovi&eacute;tica no permite viajar a sus ciudadanos<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span>
        <o:p></o:p>
    </p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><u8:p>&nbsp;</u8:p></span><span
            lang=ES-TRAD> </span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>&#8220;</b>8 <i style='mso-bidi-font-style:
normal'>Se levant&oacute; entretanto <b style='mso-bidi-font-weight:normal'>un
nuevo rey sobre Egipto, que no conoc&iacute;a a Jos&eacute;;</b> el cual dijo a
su pueblo<b style='mso-bidi-font-weight:normal'>:</b> </i>9<i style='mso-bidi-font-style:
normal'> He aqu&iacute;<b style='mso-bidi-font-weight:normal'>,</b> el pueblo
de los hijos de Israel es mayor y m&aacute;s fuerte que nosotros<b
                style='mso-bidi-font-weight:normal'>.</b> </i>10 <i style='mso-bidi-font-style:
normal'>Ahora<b style='mso-bidi-font-weight:normal'>,</b> pues<b
            style='mso-bidi-font-weight:normal'>,</b> seamos sabios para con &eacute;l<b
            style='mso-bidi-font-weight:normal'>,</b> porque no se multiplique<b
            style='mso-bidi-font-weight:normal'>,</b> y acontezca que viniendo guerra<b
            style='mso-bidi-font-weight:normal'>,</b> &eacute;l tambi&eacute;n se junte con
nuestros enemigos<b style='mso-bidi-font-weight:normal'>,</b> y pelee contra
nosotros<b style='mso-bidi-font-weight:normal'>, y se vaya de la tierra</b></i><b
            style='mso-bidi-font-weight:normal'>.&#8221;</b> <span style='mso-tab-count:
3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Ex
1<b style='mso-bidi-font-weight:normal'>:</b>8-10) <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Lo que quiero mostrar con
todo lo dicho es la gran similitud que existe entre dos reg&iacute;menes que no
pueden haber influido el uno sobre el otro dado el tiempo que media entre ambos<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Esto es atribuible a que los
mismos &aacute;ngeles patronos o iguales &aacute;ngeles rebeldes<b
                style='mso-bidi-font-weight:normal'>,</b> o ambas cosas<b style='mso-bidi-font-weight:
normal'>,</b> influ&iacute;an sobre las dos naciones<b style='mso-bidi-font-weight:
normal'>,</b> comunic&aacute;ndoles sus caracter&iacute;sticas<b
                style='mso-bidi-font-weight:normal'>,</b> o la <b style='mso-bidi-font-weight:
normal'>&#8220;</b>resultante<b style='mso-bidi-font-weight:normal'>&#8221;</b>
de todas las caracter&iacute;sticas<b style='mso-bidi-font-weight:normal'>.</b>
<u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>No tiene que ser un
r&eacute;gimen<b style='mso-bidi-font-weight:normal'>,</b> copia al
carb&oacute;n del otro<b style='mso-bidi-font-weight:normal'>,</b> porque es de
pensarse que<b style='mso-bidi-font-weight:normal'>,</b> sobre todo los
&aacute;ngeles rebeldes antagonistas<b style='mso-bidi-font-weight:normal'>,</b>
cambien sus m&eacute;todos o ideas<b style='mso-bidi-font-weight:normal'>,</b>
cuando por experiencia constaten que no les convino la primera<b
                style='mso-bidi-font-weight:normal'>.</b> No obstante<b style='mso-bidi-font-weight:
normal'>,</b> es l&oacute;gico que conserven aquellas t&eacute;cnicas que les
sirvieron para sus fines<b style='mso-bidi-font-weight:normal'>,</b> o que son
el resultado de hondas concupiscencias de esos rebeldes<b style='mso-bidi-font-weight:
normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>Esta teor&iacute;a puede ser lo que explique el por qu&eacute; en Ezq
28 se habla del rey de Tiro unas veces como si fuera humano y otras como si
fuera un &aacute;ngel.</b> Da la sensaci&oacute;n de que se refiere all&iacute;
a un &aacute;ngel rebelde de primera magnitud<b style='mso-bidi-font-weight:
normal'>,</b> que era el que contrarrestaba al &aacute;ngel de Dios en Tiro<b
                style='mso-bidi-font-weight:normal'>,</b> y que termin&oacute;
apoder&aacute;ndose de la mente y el coraz&oacute;n de aquel pueblo<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>Hay otros casos de similitud hist&oacute;rica.</b> Por ejemplo<b
            style='mso-bidi-font-weight:normal'>,</b> los crueles m&eacute;todos de trato y
guerra de los asirios<b style='mso-bidi-font-weight:normal'>,</b> su
bestialidad<b style='mso-bidi-font-weight:normal'>,</b> su eficiencia en la
guerra<b style='mso-bidi-font-weight:normal'>,</b> su militarismo<b
                style='mso-bidi-font-weight:normal'>,</b> su sadismo<b style='mso-bidi-font-weight:
normal'>,</b> etc<b style='mso-bidi-font-weight:normal'>.,</b> parecen calcadas
por <b style='mso-bidi-font-weight:normal'>Hitler y la Alemania Nazi,</b> a
pesar de que el primero no puede haber influido en el segundo<b
                style='mso-bidi-font-weight:normal'>.</b> Lo mismo ocurri&oacute; en Camboya<b
                style='mso-bidi-font-weight:normal'>.</b> Tambi&eacute;n las modalidades de <b
                style='mso-bidi-font-weight:normal'>Babilonia,</b> sobre todo la religiosa<b
                style='mso-bidi-font-weight:normal'>,</b> fue calcada por <b style='mso-bidi-font-weight:
normal'>Roma,</b> sobre todo por el catolicismo con su sede en el Vaticano<b
                style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>Cartago era un retrato de Tiro;</b> se distingu&iacute;an porque los
magnates de la econom&iacute;a eran los que gobernaban y porque sus sabios y
t&eacute;cnicos eran extranjeros atra&iacute;dos por la bonanza
econ&oacute;mica que all&iacute; se disfrutaba<b style='mso-bidi-font-weight:
normal'>,</b> como lo testimonian en el caso de Tiro<b style='mso-bidi-font-weight:
normal'>,</b> Isa 23<b style='mso-bidi-font-weight:normal'>:</b>8 y Ezq 27<b
                style='mso-bidi-font-weight:normal'>:</b>1-25<b style='mso-bidi-font-weight:
normal'>.</b> <b style='mso-bidi-font-weight:normal'>Tiro fue destruida por
Babilonia, y su equivalente, Cartago, fue destruida por Roma, que es la
equivalente de Babilonia.</b> <u8:p></u8:p></span>
        <o:p></o:p>
    </p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><u8:p>&nbsp;</u8:p></span><span
            lang=ES-TRAD> </span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>&iquest;</b><i style='mso-bidi-font-style:
normal'>Qui&eacute;n decret&oacute; esto sobre Tiro la coronada<b
            style='mso-bidi-font-weight:normal'>,</b> <b style='mso-bidi-font-weight:normal'>cuyos
negociantes eran pr&iacute;ncipes,</b> cuyos mercaderes eran los nobles de la
tierra</i><b style='mso-bidi-font-weight:normal'>?&#8221;</b> (Isa 23<b
            style='mso-bidi-font-weight:normal'>:</b>8) <u8:p></u8:p></span>
        <o:p></o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><u8:p>&nbsp;</u8:p></span><span lang=ES-TRAD> </span>
        <o:p></o:p>
    </p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><u8:p>&nbsp;</u8:p></span><span lang=ES-TRAD> </span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><span style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b
            style='mso-bidi-font-weight:normal'>&#8220;</b>3 <i style='mso-bidi-font-style:
normal'>Y dir&aacute;s a Tiro<b style='mso-bidi-font-weight:normal'>,</b> que
est&aacute; asentada a las entradas de la mar<b style='mso-bidi-font-weight:
normal'>,</b> <b style='mso-bidi-font-weight:normal'>mercadera de los pueblos
de muchas islas.....</b> </i>8 <i style='mso-bidi-font-style:normal'>Los
moradores de Sid&oacute;n y de Arvad <b style='mso-bidi-font-weight:normal'>fueron
tus remeros;</b> tus sabios<b style='mso-bidi-font-weight:normal'>,</b> oh Tiro<b
                style='mso-bidi-font-weight:normal'>,</b> estaban en ti<b style='mso-bidi-font-weight:
normal'>;</b> ellos fueron tus pilotos<b style='mso-bidi-font-weight:normal'>....</b>
</i>9<i style='mso-bidi-font-style:normal'> <b style='mso-bidi-font-weight:
normal'>Los ancianos de Gebal y sus sabios</b> repararon tus hendiduras<b
            style='mso-bidi-font-weight:normal'>.....</b></i> 10<i style='mso-bidi-font-style:
normal'> <b style='mso-bidi-font-weight:normal'>persas y Lidios, y los de Fut,
fueron en tu ej&eacute;rcito</b> tus hombres de guerra<b style='mso-bidi-font-weight:
normal'>....</b> </i>25<i style='mso-bidi-font-style:normal'> Las naves de
Tarsis<b style='mso-bidi-font-weight:normal'>,</b> tus cuadrillas<b
                style='mso-bidi-font-weight:normal'>,</b> fueron en tu negociaci&oacute;n<b
                style='mso-bidi-font-weight:normal'>;</b> <b style='mso-bidi-font-weight:normal'>y
fuiste llena</b></i><b style='mso-bidi-font-weight:normal'>...&#8221;</b> <span
            style='mso-tab-count:5'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(Ezq
27<b style='mso-bidi-font-weight:normal'>:</b>3-25 abreviado) <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>En cierta &eacute;poca de su
historia Cartago concert&oacute; tratados con Roma sobre limitaci&oacute;n de
su armamento pesado (catapultas<b style='mso-bidi-font-weight:normal'>,</b>
torres m&oacute;viles<b style='mso-bidi-font-weight:normal'>,</b> etc<b
                style='mso-bidi-font-weight:normal'>.</b>) a cambio de ventajas comerciales<b
                style='mso-bidi-font-weight:normal'>.</b> Nos da la sensaci&oacute;n de que
Estados Unidos es una edici&oacute;n nueva de Tiro y Cartago<b
                style='mso-bidi-font-weight:normal'>,</b> y que la Europa Unida lo es de
Babilonia o Roma<b style='mso-bidi-font-weight:normal'>.</b> Tiene Estados
Unidos caracter&iacute;sticas de Tiro<b style='mso-bidi-font-weight:normal'>:</b>
comercia con todos los pueblos<b style='mso-bidi-font-weight:normal'>,</b>
tiene muchos extranjeros en su industria<b style='mso-bidi-font-weight:normal'>,</b>
comercio y ej&eacute;rcito<b style='mso-bidi-font-weight:normal'>;</b> es muy
rico<b style='mso-bidi-font-weight:normal'>,</b> etc<b style='mso-bidi-font-weight:
normal'>..</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>Claro que estas similitudes
no son exactas<b style='mso-bidi-font-weight:normal'>,</b> ni tampoco tienen
que ocurrir los mismos hechos<b style='mso-bidi-font-weight:normal'>,</b>
porque <b style='mso-bidi-font-weight:normal'>no se trata de una historia
programada, sino de una conjunci&oacute;n de factores similares que pueden
originar resultados parecidos,</b> pero que no necesariamente tiene que ser
as&iacute;<b style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>No estoy diciendo tampoco
que la teor&iacute;a que aqu&iacute; se expone es incuestionablemente correcta<b
                style='mso-bidi-font-weight:normal'>,</b> pero s&iacute; que lo aqu&iacute;
expresado tiene tantos hechos que parecen confirmarlo<b style='mso-bidi-font-weight:
normal'>,</b> que vale la pena parar mientes en ello<b style='mso-bidi-font-weight:
normal'>.</b> Al fin y al cabo una teor&iacute;a es eso<b style='mso-bidi-font-weight:
normal'>:</b> la suposici&oacute;n de c&oacute;mo es la din&aacute;mica
interior de un fen&oacute;meno<b style='mso-bidi-font-weight:normal'>,</b>
basada en la observaci&oacute;n y en la comprobaci&oacute;n parcial y limitada
de sus manifestaciones<b style='mso-bidi-font-weight:normal'>.</b> Si lo
pudiera explicar todo y comprobarlo todo<b style='mso-bidi-font-weight:normal'>,</b>
no fuera una teor&iacute;a<b style='mso-bidi-font-weight:normal'>,</b> sino una
verdad demostrada<b style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><span
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span><b style='mso-bidi-font-weight:
normal'>En pocas palabras, </b>las naciones tienen &aacute;ngeles que se
encargan de ellas<b style='mso-bidi-font-weight:normal'>,</b> tanto buenos como
malos<b style='mso-bidi-font-weight:normal'>.</b> Cada grupo trata de influir
en el pueblo<b style='mso-bidi-font-weight:normal'>,</b> y seg&uacute;n
&eacute;ste desee escuchar a unos o a otros<b style='mso-bidi-font-weight:normal'>,</b>
se desarrollan los acontecimientos<b style='mso-bidi-font-weight:normal'>.</b> <u8:p></u8:p></span></p>

    <p align=center style='text-align:center'><b style='mso-bidi-font-weight:normal'><span
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><a href="NotesOf.astro">Volver
al &iacute;ndice<u8:p></u8:p></a></span></b><span lang=ES-TRAD> </span></p>

</div>

</body>

</html>
