<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>4</o:Revision>
                    <o:TotalTime>16</o:TotalTime>
                    <o:Created>2008-10-31T17:51:00Z</o:Created>
                    <o:LastSaved>2008-10-31T18:07:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>481</o:Words>
                    <o:Characters>2745</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>22</o:Lines>
                    <o:Paragraphs>6</o:Paragraphs>
                    <o:CharactersWithSpaces>3220</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Ignorance of the law is no excuse to sin against God</TITLE>
                    <LINK rel=File-List href="IgnoranceExcuseSin_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN style='font-size:18.0pt'>Ignorance
  of God&#146;s Law is no excuse to sin against God. The servant who ignored
  the will of his lord will be flogged with few stripes, but will be
  flogged<o:p></o:p></SPAN></B>
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN class=GramE>When we read Lv
  4<B style='mso-bidi-font-weight:normal'>:</B>13 we realize that even if one
  person ignores the commission of a
  sin<B style='mso-bidi-font-weight:
normal'>,</B> it doesn't mean he is not
  guilty<B style='mso-bidi-font-weight:
normal'>.</B></SPAN> In other
        words<B style='mso-bidi-font-weight:normal'>,</B> if a person sins without
        knowing it is a sin<B style='mso-bidi-font-weight:
normal'>,</B> even so he is
        guilty<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><I style='mso-bidi-font-style:normal'>And if the whole
        congregation of Israel <B style='mso-bidi-font-weight:normal'><U>sin through
            ignorance</U>,</B> <B style='mso-bidi-font-weight:normal'>and the thing <U>be
            hid</U> from the eyes of the assembly,</B> and they have done somewhat against
        any of the commandments of the LORD concerning things which should not be
        done<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'><U>and are
            guilty</U></B></I><B style='mso-bidi-font-weight:normal'>&#148;</B>
        <SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Lev 4<B style='mso-bidi-font-weight:normal'>:</B>13)
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>Whether or not someone
        is conscious that what he does was a
        sin<B style='mso-bidi-font-weight:
normal'>,</B> if the act he committed was <SPAN class=GramE>sinful</SPAN>
        he will be guilty<B style='mso-bidi-font-weight:normal'>.</B> As we can
        see<B style='mso-bidi-font-weight:normal'>,</B> the excuse of ignorance does
        not exist for sin<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:
normal'>Our responsibility is to inquire, to seek the Supreme Being and find
            out if somehow, even if by feeling after him, as Paul said, we find Him.</B>
        Our obligation is to inquire about His
        laws<B style='mso-bidi-font-weight:normal'>,</B> to find out about the rules
        before we act<B style='mso-bidi-font-weight:normal'>.</B>
        <B style='mso-bidi-font-weight:normal'>If by giving little importance to
            God and his rules,</B> we do not inquire about
        them<B style='mso-bidi-font-weight:
normal'>,</B> we do not know them<B style='mso-bidi-font-weight:normal'>,</B>
        and we act against them<B style='mso-bidi-font-weight:normal'>,</B> that
        <SPAN class=GramE>is</SPAN> our
        problem<B style='mso-bidi-font-weight:normal'>.</B> That same idea is expressed
        in Leviticus 4<B style='mso-bidi-font-weight:normal'>:</B>27-28 and
        5<B style='mso-bidi-font-weight:normal'>:</B>17<B style='mso-bidi-font-weight:
normal'>.</B> Let's see<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><I style='mso-bidi-font-style:normal'>And if any one of
        the common people <B style='mso-bidi-font-weight:normal'><U>sin through
            ignorance</U>,</B> while he doeth somewhat against any of the commandments
        of the LORD concerning things which ought not to be
        done<B style='mso-bidi-font-weight:normal'>,</B> and
        <B style='mso-bidi-font-weight:normal'><U>be
            guilty</U></B></I><B style='mso-bidi-font-weight:normal'>&#148;</B><SPAN
            style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN>(Lev
        4<B style='mso-bidi-font-weight:
normal'>:</B>27)
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <o:p>&nbsp;</o:p>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B><I style='mso-bidi-font-style:normal'>And
        <B style='mso-bidi-font-weight:normal'>if a soul sin, and commit any of these
            things</B> which are forbidden to be done by the commandments of the
        LORD<B style='mso-bidi-font-weight:normal'>;</B>
        <B style='mso-bidi-font-weight:normal'><U>though he
            <SPAN class=SpellE>wist</SPAN> it
            not</U><SPAN class=GramE>,<SPAN style='font-weight:normal'>
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN></SPAN><U>yet</U></SPAN><U> is
            he guilty</U>,</B> and <B style='mso-bidi-font-weight:normal'><U>shall bear
            his
            iniquity</U></B></I><B style='mso-bidi-font-weight:normal'>&#148;.</B>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Lev
        5<B style='mso-bidi-font-weight:normal'>:</B>17)
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>It is actually true
        that someone who is ignorant <B style='mso-bidi-font-weight:normal'>in good
        faith</B> has a certain extenuating
        circumstances<B style='mso-bidi-font-weight:
normal'>,</B> but never absolving<B style='mso-bidi-font-weight:normal'>.</B>
        This is proven in Luke 12<B style='mso-bidi-font-weight:normal'>:</B>47-48
        when the Lord Jesus himself says that the servant who did not
        understand<B style='mso-bidi-font-weight:normal'>,</B> and because of his
        ignorance did things worthy of
        stripes<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'><U>will be striped</U> less.</B> In
        other words<B style='mso-bidi-font-weight:normal'>,</B> the one who knew
        he was doing wrong and continued doing
        so<B style='mso-bidi-font-weight:normal'>,</B> will receive many
        stripes<B style='mso-bidi-font-weight:normal'>,</B> while the one who sincerely
        did not know<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'><U>will receive less stripes</U>,</B>
        not as many as the one who did
        know<B style='mso-bidi-font-weight:normal'>;</B>
        <B style='mso-bidi-font-weight:normal'><U>but he will be striped</U>.</B>
        We can see clearly that ignorance is extenuating but not
        absolving<B style='mso-bidi-font-weight:
normal'>.</B> (Extenuating means it lessens the
        punishment<B style='mso-bidi-font-weight:
normal'>;</B> absolving means it totally annuls
        it<B style='mso-bidi-font-weight:
normal'>.</B>)
    <P>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>&#147;</B>47<I style='mso-bidi-font-style:normal'> And
        <B style='mso-bidi-font-weight:normal'>that servant, which knew his lord's
            will,</B> and prepared not
        himself<B style='mso-bidi-font-weight:normal'>,</B> neither did according
        to his will<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'>shall be beaten with many stripes.</B>
    </I>48<I style='mso-bidi-font-style:normal'> But
        <B style='mso-bidi-font-weight:normal'><U>he that knew not</U>,</B> and did
        commit things worthy of stripes<B style='mso-bidi-font-weight:normal'>,</B>
        <B style='mso-bidi-font-weight:normal'><U>shall be beaten</U> with few
            stripes.</B> For unto whomsoever much is
        given<B style='mso-bidi-font-weight:normal'>,</B> of him shall be much
        required<B style='mso-bidi-font-weight:normal'>,</B> and to whom men have
        committed much<B style='mso-bidi-font-weight:normal'>,</B> of him they will
        ask the more</I><B style='mso-bidi-font-weight:normal'>&#148;.</B>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Lk
        12<B style='mso-bidi-font-weight:normal'>:</B>47-48)
    <P>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>In short,</B> good faith ignorance
        of God's commandments <B style='mso-bidi-font-weight:normal'><U>does
        not</U></B> free anyone from the penalty of
        transgression<B style='mso-bidi-font-weight:normal'>,</B> the most it lessen
        that penalty<B style='mso-bidi-font-weight:normal'>.</B>
    <P>
        <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </SPAN>Let it then be known
        to the nonbelievers<B style='mso-bidi-font-weight:normal'>,</B> who try not
        learning about God so they can allege
        ignorance<B style='mso-bidi-font-weight:
normal'>,</B> as well as the believers that do not want to inquire much about
        whether or not to obey God's
        commandments<B style='mso-bidi-font-weight:normal'>,</B> hoping to allege
        good faith ignorance<B style='mso-bidi-font-weight:normal'>.</B>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><A HREF="html/en/English.html">Back to
            the index
            <o:p></o:p>
        </A></B>
</DIV>
</BODY>
</HTML>
