---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
import Title from "@/components/Title.astro";
---
<Layout showThanksRead equivalentHref="/" language="es"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>Por alguna razón el autor tiene la capacidad de trasmitir sus conocimientos y experiencias
                en forma
                fácil y resumida. Para ponerlo en las mismas palabras que el autor me dijo en cierta
                ocasión: 'Yo no disuelvo la aspirina en un barril de agua para obligar a
                beberse el
                barril al que quiera beneficiarse con la aspirina. Yo le entrego la pastilla; por eso
                escribo
                corto'.
            </p>
            <p>
                <strong>Rev. Ramón Alemán, Oklahoma, U. S. A.</strong>
            </p>
        </Brief>

        <article class="pr:5rem">
            <Title>Daniel 7: Las Últimas Cuatro Potencias Mundiales</Title>

            <p>
                Si usted desea un ejemplar del libro "Daniel 7: Las Últimas Cuatro Potencias Mundiales",
                completamente
                gratis, pídalo a la dirección que más abajo damos. Este es un libro en el que por primera
                vez se
                <strong>demuestra</strong> <strong>con hechos fehacientes</strong> cuál es el verdadero
                significado
                de
                la profecía del capítulo 7 de Daniel, y cómo se está cumpliendo delante de nuestros ojos.

            </p>

            <p>
                <strong>Las
                    cuatro bestias de la profecía realmente representan a Inglaterra, Rusia, China y la
                    Unión
                    Europea.</strong>
                Este libro le ayudará a usted a comprender esta profecía, y sobre todo a
                enseñarles a aquellos bajo su responsabilidad espiritual<strong>,</strong> cuál es la verdad
                en un
                asunto tan importante como es la Segunda Venida de Nuestro Señor.
            </p>

            <p>
                <strong>No se trata de un
                    escritor
                    tratando de torcer Las Escrituras</strong> para que concuerden con su interpretación de
                la
                profecía.
                Lo que el escritor hace es presentar al lector lo publicado en la prensa para que éste
                <strong>compruebe</strong> <strong>con hechos</strong> la certidumbre de la interpretación.

            </p>

            <p>
                El libro
                está escrito en forma muy condensada, clara y pedagógica, haciendo así que <strong>en un par
                de
                horas el
                lector pueda apropiarse de un conocimiento denso y complejo, expuesto en forma que se
                entiende
                con
                sólo leerlo</strong>.
            </p>

            <p>
                Usted puede confiar en que el tiempo que invierta en la lectura
                del libro
                le
                rendirá cien veces su inversión. El lector no tendrá que forzarse a creer la interpretación
                de la
                profecía, ella se iluminará en su mente con solo leerlo. <strong>Usted podrá probar a otros
                que
                estamos
                en la tercera fase de las últimas cuatro de la historia de la humanidad, antes de la
                Segunda
                Venida
                de Cristo.</strong>
            </p>

            <p><strong>Portada</strong> <strong>artística por: Adolfo Serralta.</strong></p>
        </article>
    </SectionOf>
</Layout>