---
import Layout from "@/layout/Layout.astro";
import SectionOf from "@/components/SectionOf.astro";
import Brief from "@/components/Brief.astro";
import Title from "../../components/Title.astro";
---
<Layout showThanksRead equivalentHref="/" language="es"
        title="R. L. Serralta Nogués - Daniel 7 How will we know when the return of Jesus Christ is about to occur?">
    <SectionOf>
        <Brief>
            <p>Por alguna razón el autor tiene la capacidad de trasmitir sus conocimientos y experiencias
                en forma
                fácil y resumida. Para ponerlo en las mismas palabras que el autor me dijo en cierta
                ocasión: 'Yo no disuelvo la aspirina en un barril de agua para obligar a
                beberse el
                barril al que quiera beneficiarse con la aspirina. Yo le entrego la pastilla; por eso
                escribo
                corto'.
            </p>
            <p>
                <strong>Rev. Ramón Alemán, Oklahoma, U. S. A.</strong>
            </p>
        </Brief>

        <article class="pr:5rem">
            <div>
                <Title>Daniel 7: Las Últimas Cuatro Potencias Mundiales</Title>

                <p>
                    Si usted desea un ejemplar del libro "Daniel 7: Las Últimas Cuatro Potencias Mundiales",
                    completamente
                    gratis, pídalo a la dirección que más abajo damos. Este es un libro en el que por primera
                    vez se
                    <strong>demuestra</strong> <strong>con hechos fehacientes</strong> cuál es el verdadero
                    significado
                    de
                    la profecía del capítulo 7 de Daniel, y cómo se está cumpliendo delante de nuestros ojos.

                </p>

                <p>
                    <strong>Las
                        cuatro bestias de la profecía realmente representan a Inglaterra, Rusia, China y la
                        Unión
                        Europea.</strong>
                    Este libro le ayudará a usted a comprender esta profecía, y sobre todo a
                    enseñarles a aquellos bajo su responsabilidad espiritual<strong>,</strong> cuál es la verdad
                    en un
                    asunto tan importante como es la Segunda Venida de Nuestro Señor.
                </p>

                <p>
                    <strong>No se trata de un
                        escritor
                        tratando de torcer Las Escrituras</strong> para que concuerden con su interpretación de
                    la
                    profecía.
                    Lo que el escritor hace es presentar al lector lo publicado en la prensa para que éste
                    <strong>compruebe</strong> <strong>con hechos</strong> la certidumbre de la interpretación.

                </p>

                <p>
                    El libro
                    está escrito en forma muy condensada, clara y pedagógica, haciendo así que <strong>en un par
                    de
                    horas el
                    lector pueda apropiarse de un conocimiento denso y complejo, expuesto en forma que se
                    entiende
                    con
                    sólo leerlo</strong>.
                </p>

                <p>
                    Usted puede confiar en que el tiempo que invierta en la lectura
                    del libro
                    le
                    rendirá cien veces su inversión. El lector no tendrá que forzarse a creer la interpretación
                    de la
                    profecía, ella se iluminará en su mente con solo leerlo. <strong>Usted podrá probar a otros
                    que
                    estamos
                    en la tercera fase de las últimas cuatro de la historia de la humanidad, antes de la
                    Segunda
                    Venida
                    de Cristo.</strong>
                </p>

                <p><strong>Portada</strong> <strong>artística por: Adolfo Serralta.</strong></p>
            </div>

            <div>
                <p><strong>Libros</strong> <strong>Gratis en Español</strong></p>
                <p><strong>a) Libro <a href="CuatroUltimasPotenciasMundiales.pdf">"Las Últimas 4 Potencias
                    Mundiales"</a></strong></p>
                <p><strong>b) Libro <a href="Rapture_vs_Ingathering_spanish.pdf">"Rapto vs Arrebatamiento o
                    Ficción vs
                    Realidad"</a></strong></p>
                <p><strong>c) Libro <a href="Jesus_Messiah_spanish.pdf">"</a></strong><a
                        href="Jesus_Messiah_spanish.pdf"><strong>Demostración</strong> <strong>de que Jesucristo
                    es el
                    Mesías Esperado por los hebreos"</strong></a></p>
                <p><strong>d) Libro <a href="Hermeneutics_spanish.pdf">"Hermenéutica Como nos la Enseña la
                    Biblia"</a></strong></p>
                <p><strong>e) Libro <a href="Predestination_spanish.pdf">"La Predestinación: ¿Doctrina Cristiana
                    o
                    Herejía?"</a></strong></p>
                <p><strong>f) Libro <a href="ruselismo_spanish.pdf">"El Ruselismo no es una Religión
                    Cristiana"</a></strong>
                </p>
                <p><strong>g) Libro <a href="the_Soul_spanish.pdf">"Existe el Alma o Somos Sólo
                    Carne"</a></strong></p>
                <p><strong>h) Libro <a href="the_Law_spanish.pdf">"Deben los Cristianos Considerar Obsoleta la
                    Ley de
                    Dios
                    para el Comportamiento Humano"</a></strong></p>
                <p><strong>i</strong><strong>) Libro <a href="Holiness_spanish.pdf">"La Santidad es Alcanzable,
                    (</a></strong><a href="Holiness_spanish.pdf"><strong>sin la Cual Nadie Verá al
                    Señor)"</strong></a>
                </p>
                <p><strong>j) Libro <a href="once_saved_spanish.pdf">"Salvo Siempre
                    Salvo...</a></strong><strong>¿No
                    Importa
                    lo que Hagas?</strong></p><strong>k) Libro <a href="Trinidad_Espanol_20_My_11.pdf">"La
                Trinidad Como
                la
                Enseña la Biblia"</a> ___________________________________________</strong>
                <p><strong><strong>Section III:</strong></strong></p>
                <p><strong>C) Libro <a href="ComentarioEsp.pdf">"Comentrio Biblico en español"</a></strong></p>
            </div>
        </article>
    </SectionOf>
</Layout>