---
import Layout from "../../layouts/Layout.astro";
import HeaderLayout from "../../components/HeaderLayout.astro";
---
<Layout lang="es">
    <section class="usa-section" id="posts" role="main">
        <div class="grid-container">

            <HeaderLayout
                    title="Las últimas cuatro potencias mundiales"
                    secondary="¿Cómo sabremos cuando el regreso de Jesucristo está a punto de ocurrir?"
            />

            <main class="grid-row grid-gap">
                <article class="usa-layout-docs__main usa-prose usa-layout-docs font-family-sans">
                    <p>Si quieres el libro "Daniel 7: Las últimas cuatro potencias mundiales", sólo pídelo,
                        y se lo enviaremos gratis. La dirección está disponible al final
                        de esta página. Este es un libro en el que por primera vez se demuestra con
                        hechos la verdadera interpretación de la profecía de Daniel 7 y cómo está siendo
                        ...se cumplió ante nuestros ojos. Las cuatro bestias de la profecía realmente representan
                        Inglaterra, Rusia, China y la Unión Europea.</p>

                    <p>Este libro te ayudará a entender esa profecía y te ayudará a enseñarla a los
                        hermanos bajo su responsabilidad espiritual; con respecto a un tema tan importante
                        como la Segunda Venida de Nuestro Señor Jesucristo.
                        Este libro no es sobre un escritor que trata de torcer la Biblia para que las Escrituras
                        están de acuerdo con su interpretación de la profecía. Lo que el escritor hace es mostrar
                        ante los ojos de los lectores lo que los medios han publicado, para que puedan comprobar
                        la fiabilidad de la interpretación.</p>

                    <p>El libro está escrito de una manera muy clara, pedagógica y condensada. En este
                        de manera que puedas absorber en un par de horas, toda su información con sólo leerla.
                        Puedes confiar en que el tiempo invertido en la lectura de este libro rendirá más de un
                        cien veces su inversión.</p>

                    <p>No tendrás que hacerte creer la interpretación; te llegará.
                        sólo con la lectura.
                        Podrás probar que estamos en el tercero de los cuatro últimos pasos de la vida humana.
                        la historia antes de la llegada de Cristo.</p>

                    <p>"El autor tiene la capacidad de impartir sus conocimientos y experiencias en un corto
                        y de manera concisa y fácil de entender. Para decirlo con sus propias palabras, permítame
                        compartir con ustedes lo que una vez me dijo: "No disuelvo una aspirina en un barril de
                        agua, para obligar a quien quiera los beneficios de la aspirina, a beber el
                        todo el barril. Sólo les doy la aspirina. Por eso escribo tan breve como sea
                        posible".</p>
                </article>
            </main>
        </div>
    </section>
</Layout>
