<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>0</o:TotalTime>
                    <o:Created>2006-01-19T21:00:00Z</o:Created>
                    <o:LastSaved>2006-01-19T21:00:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>919</o:Words>
                    <o:Characters>5244</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>43</o:Lines>
                    <o:Paragraphs>12</o:Paragraphs>
                    <o:CharactersWithSpaces>6151</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Por qu&eacute; el infierno existe y tiene que existir</TITLE>
                    <LINK rel=File-List href="InfiernoTieneQueExistir_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Por
  qu&eacute; el infierno existe y tiene que
  existir</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Cierto
  d&iacute;a un hombre que era creyente recibi&oacute; la visita de un amigo
  que impugnaba la existencia del infierno. Despu&eacute;s de largo rato de
  explicaciones teol&oacute;gicas que el amigo <B>no quer&iacute;a comprender
  ni admitir</B>, el creyente le dijo al amigo: te voy a hacer un cuento, luego
  de lo cual t&uacute; vas a justificar la existencia de un infierno.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>En
  cierta ocasi&oacute;n un jeque &aacute;rabe</B>, extraordinariamente rico,
  concibi&oacute; la idea dar un viaje alrededor del mundo con todos sus hijos,
  sus hijas, sus parientes y sus sirvientes. Se compr&oacute; un buen barco
  de vela, como era el uso de aquella &eacute;poca, puso todos sus caudales
  en el barco, contrat&oacute; marineros bien adiestrados, llev&oacute; al
  barco a sus mujeres, a sus sobrinos, a todos sus parientes y a todos sus
  sirvientes, y zarp&oacute; tan pronto pudo. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Visitaron
  muchos lugares, y donde quiera que llegaba se portaba generosamente, gastando
  en los suyos y en los marineros, todo lo que estos desearan. Pronto los marineros
  se dieron cuenta de que el jeque llevaba grandes caudales en el barco, y
  conspiraron para quedarse con ellos. Unos pensaron en robarse las armas que
  el jeque y sus sirvientes ten&iacute;an en un camarote, y matarlos a todos,
  pero otros, que agradec&iacute;an el buen trato que el jeque les hab&iacute;a
  prodigado, convencieron a todos que solamente deb&iacute;an abandonarlos
  en una isla desierta. Los marineros, se apoderaron de las armas, pusieron
  al jeque y a sus acompa&ntilde;antes en varios botes que el barco ten&iacute;a,
  y los dejaron cerca de <B>dos islitas paradis&iacute;acas</B> en medio del
  oc&eacute;ano pac&iacute;fico. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Los
  m&aacute;s agradecidos de aquellos ladrones, le pusieron suficientes alimentos
  para un mes, todas las herramientas que hab&iacute;a en el barco, y <B>al
  jeque, unas pocas armas en su bote</B>, dici&eacute;ndole que si se atrev&iacute;a
  a usarla contra ellos, les har&iacute;an fuego desde el barco y acabar&iacute;an
  con todos. Vi&eacute;ndose despojado de sus riquezas, pero con la vida de
  &eacute;l y de los suyos inc&oacute;lumes, opt&oacute; por dirigirse todos
  remando hacia la isla m&aacute;s grande. Una vez all&iacute; <B>dio las armas
  a sus sirvientes m&aacute;s fieles, y &eacute;l se qued&oacute; con dos de
  aquellas antiguas pistolas</B>. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Al
  principio todo iba bien, todos se pusieron a trabajar para sobrevivir. Lo
  primero fue encontrar una fuente de agua; inmediatamente buscar alimentos
  silvestres; luego utilizar los av&iacute;os de pesca y poner trampas para
  aves y animales terrestres, a fin de proveerse de carne. M&aacute;s tarde
  se valieron de las herramientas para hacer chozas y para preparar la tierra
  para sembrar. A las pocas semanas ya hab&iacute;an asegurado su supervivencia,
  y el jeque comenz&oacute; a repartir trabajos para ir mejorando cada vez
  m&aacute;s la calidad de vida de todos. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>Pero
  ya no todos eran lo mismo que antes.</B> Hab&iacute;a quienes <B>no
  cumpl&iacute;an con su trabajo</B>, otros comenzaron a <B>robarle a sus
  parientes</B> lo que ellos hab&iacute;an conseguido con su esfuerzo; otros
  <B>se pusieron a hablar contra el jeque y a pretender suplantarlo</B>, lo
  cual hubieran logrado, si no fuera que &eacute;l se qued&oacute; con las
  armas principales, y ten&iacute;a seis u ocho de sus m&aacute;s fieles sirvientes
  armados. <B>Incluso algunos de sus muchos hijos comenzaron a hablar mal de
  su padre</B>, no trabajaban, algunos incluso violaron a algunas de sus parientas,
  mataron a uno de sus medio hermanos, etc. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Viendo
  lo que suced&iacute;a e<B>l jeque les habl&oacute; al coraz&oacute;n</B>,
  explic&aacute;ndoles c&oacute;mo para poder vivir felices hab&iacute;a que
  tener ciertas normas de conducta. Comenz&oacute; por poner leyes para evitar
  desafueros, pero casi nadie las cumpl&iacute;a, debido a que, como que los
  que eran peor viv&iacute;an del esfuerzo de los dem&aacute;s a base de amenazas
  y violencias, pues todos se desanimaban de trabajar y de cumplir sus
  obligaciones. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>El
  jeque observ&oacute; qui&eacute;nes eran los peores,</B> y una noche, con
  la ayuda de sus fieles sirvientes y de un par de hijos que no se hab&iacute;an
  echado a perder, todos armados, <B>agarraron a los seis u ocho que m&aacute;s
  perversos eran, los amarraron, y a la ma&ntilde;ana siguiente los envi&oacute;
  en bote, custodiados, hacia la otra isla m&aacute;s peque&ntilde;a,</B> la
  cual estaba separada varias millas por un mar infectado de tiburones. Al
  llegar all&iacute; los soltaron en aquella isla paradis&iacute;aca, y los
  dejaron con algunas herramientas y alg&uacute;n alimento.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  <B>Entonces el jeque los reuni&oacute; a todos y les dijo que los que siguieran
  la forma de ser y proceder de los ya condenados, padecer&iacute;an la misma
  suerte</B>. Al principio, el temor aguant&oacute; a todos, pero al pasar
  el tiempo, muchos volvieron a sus malas inclinaciones. Unos her&iacute;an
  a sus parientes o los mataban, otros les robaban, otros incluso violaban
  a sus parientas. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
  <B>Volvi&oacute; el jeque desterrar a varios de los peores hacia la otra
  islita paradis&iacute;aca</B>. As&iacute; ocurri&oacute; varias veces hasta
  que al fin despu&eacute;s de haber desterrado a algunos de sus hijos e hijas,
  a varios parientes y a muchos de los sirvientes, sac&oacute; de la isla a
  todo los que no proced&iacute;an como es debido. <B>Era doloroso para el
  jeque desterrar a sus hijos y parientes, pero era much&iacute;simo m&aacute;s
  doloroso para &eacute;l y para todos, ver c&oacute;mo aqu&eacute;llos
  atropellaban, y hasta mataban a sus otros hijos y parientes,</B> sin que
  valiera nada de lo que &eacute;l hac&iacute;a para hacerlos cambiar de proceder.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Cada
  vez que enviaba a alg&uacute;n nuevo grupo, al regresar, los fieles del jeque
  les contaban <B>c&oacute;mo en la otra isla la situaci&oacute;n era espantosa,
  viv&iacute;an en un verdadero infierno</B>. Nadie quer&iacute;a trabajar,
  unos a otros se atacaban sin piedad, pasaban hambre y necesidad, pero nadie
  trabajaba, porque los dem&aacute;s le robaban lo que hubiera logrado.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Pasado
  el tiempo, la isla grande prosper&oacute;, y se viv&iacute;a con seguridad,
  abundancia y felicidad. <B>En la otra isla se viv&iacute;a como en un
  infierno.</B> Un tiempo despu&eacute;s uno de los hijos buenos le dijo al
  padre: "<B>Padre, te das cuenta de que has mandado a nuestros hermanos y
  parientes a vivir en un infierno.</B>" A lo que el padre respondi&oacute;
  cari&ntilde;osamente: "No hijo m&iacute;o, yo <B>lo &uacute;nico que hice
  fue separar los malos de los buenos.</B> <B>Yo los envi&eacute; a una isla
  paradis&iacute;aca; ellos son los que han formado all&iacute; el infierno.</B>
  Si yo no los hubiera mandado para all&aacute;, todos mis hijos, todas mis
  hijas, todos mis parientes y todos mis sirvientes, incluy&eacute;ndote a
  ti, <B>estar&iacute;amos en el infierno, estar&iacute;amos sufriendo injusta
  e innecesariamente</B>." <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <B><A HREF="NotesOf.astro">Volver al indice</A></B>
</DIV>
</BODY>
</HTML>
