<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>2</o:Revision>
                    <o:TotalTime>1</o:TotalTime>
                    <o:Created>2006-01-18T15:12:00Z</o:Created>
                    <o:LastSaved>2006-01-18T15:13:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1668</o:Words>
                    <o:Characters>9512</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>79</o:Lines>
                    <o:Paragraphs>22</o:Paragraphs>
                    <o:CharactersWithSpaces>11158</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Jeft&eacute; no ofreci&oacute; a su hija en sacrificio</TITLE>
                    <LINK rel=File-List href="JefteNoSacrificoASuHija_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>
<DIV class=Section1>
    <P class=MsoNormal align=center style='text-align:center'>
        <B><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Jeft&eacute;
  no ofreci&oacute; a su hija en
  sacrificio</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Hace
  varios a&ntilde;os se public&oacute; que Jeft&eacute;, uno de los principales
  jueces de Israel, hab&iacute;a matado a su hija y la hab&iacute;a quemado
  como sacrificio en un altar pagano.&nbsp; Este art&iacute;culo sali&oacute;
  publicado en ingl&eacute;s en el folleto de lecciones para la Escuela Dominical
  que trimestralmente publica una de las principales denominaciones cristianas
  de los Estados Unidos.&nbsp; La revista se llamaba&nbsp; "Bible Book Study
  for Adults"; el art&iacute;culo se hallaba en la edici&oacute;n perteneciente
  a enero, febrero y marzo del a&ntilde;o 1990, en las p&aacute;ginas 76-82.&nbsp;
  Tal cosa me entristeci&oacute; mucho, porque <B>demostraba la falta de cuidado
  que a veces las altas jerarqu&iacute;as de la denominaci&oacute;n ponen en
  examinar lo que se publica.</B>&nbsp; Esta revista trimestral influye en
  millones de hermanos, los cuales fueron conducidos a error por el autor de
  esa lecci&oacute;n de Escuela Dominical.&nbsp; El autor de la lecci&oacute;n
  de ese domingo hablaba sobre Jeft&eacute;, en el cap&iacute;tulo 11 del libro
  de Jueces. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "</SPAN><I><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:
ES-TRAD'>29
  </SPAN></I><B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y el
  esp&iacute;ritu de Jehov&aacute; fue sobre
  Jeft&eacute;</SPAN></I></B><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>:
  y pas&oacute; por Galaad y
  Manas&eacute;s;</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y de all&iacute; pas&oacute;
  a Mizpa de Galaad; y de Mizpa de Galaad pas&oacute; a los hijos de</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amm&oacute;n.
  </I></SPAN><I><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>30</SPAN></I><I><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <B>Y Jeft&eacute; hizo voto
  a Jehov&aacute;,</B> diciendo: Si entregares a los
  ammonitas</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; en mis manos,
  </I></SPAN><I><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>31
  </SPAN></I><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Cualquiera
  que me saliere a recibir de las puertas de mi
  casa,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cuando volviere de los ammonitas
  en paz, <B>ser&aacute; de Jehov&aacute;, y le ofrecer&eacute; en</B></I>
  <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  holocausto</I>."&nbsp;</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Jue 11: 29-31 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <B>El
  voto que hizo Jeft&eacute; no era el de matar y quemar en sacrificio</B>
  al primero que le saliera a recibir de su casa cuando volviera victorioso.&nbsp;
  <B>Lo que &eacute;l prometi&oacute; fue dedicar <U>enteramente a Dios</U>
  a esa primera persona que lo saliera a recibir.</B>&nbsp; Esa entera
  dedicaci&oacute;n era semejante a cuando se ofrec&iacute;a un cordero en
  ofrenda quemada.&nbsp; En tal tipo de ofrenda el sacerdote no pod&iacute;a
  participar de ella comiendo una parte del animal, como s&iacute; pod&iacute;a
  hacerlo en los otros tipos de sacrificios de corderos.&nbsp; <B>La ofrenda
  quemada era una dedicaci&oacute;n total para Dios.&nbsp;</B> Usando ese
  s&iacute;mil es que Jeft&eacute; dice que ofrecer&iacute;a en holocausto
  al primero que lo recibiera.&nbsp; La hija de Jeft&eacute; se convirti&oacute;,
  debido a ese voto del padre, en una especie de monja de clausura, s&oacute;lo
  que no vivir&iacute;a encerrada, sino normalmente en la sociedad, dedicada
  solamente a las cosas de Dios.&nbsp; Como que iba a dedicarse cien por ciento
  al servicio de Dios, no podr&iacute;a casarse, porque una mujer casada tiene
  que atender a su esposo y sus hijos.&nbsp; <B>Era en ese sentido en el que
  Jeft&eacute; iba a dedicar a su hija como un holocausto a Dios, una ofrenda
  total.</B> <BR>
  &nbsp;&nbsp;&nbsp; En otras ocasiones otras madres dedicaron sus hijos a
  Dios en forma total tambi&eacute;n, como fue el caso de Ana, la madre de
  Samuel. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<B><I>E hizo voto, </I></B><I>diciendo: Jehov&aacute; de los ej&eacute;rcitos,
  si te dignares mirar la</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; aflicci&oacute;n de tu sierva,
  y te acordares de m&iacute;, y no te olvidares de tu sierva, mas</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dieres a tu sierva un hijo
  var&oacute;n, <B>yo lo dedicar&eacute; a Jehov&aacute; <U>todos los d&iacute;as
  de su</U></B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <U>vida</U>,</I></B><I> y no
  subir&aacute; navaja sobre su
  cabeza</I>"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( I Sam 1:11 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<I>Por este ni&ntilde;o oraba, y Jehov&aacute; me dio lo que le ped&iacute;.
  <B>Yo pues le vuelvo</B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; tambi&eacute;n a Jehov&aacute;:
  <U>todos los d&iacute;as que viviere, ser&aacute; de Jehov&aacute;</U>. Y
  ador&oacute; all&iacute;</I></B> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a
  Jehov&aacute;</I></B>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( I Sam 1: 27-28 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Ahora
  bien, el caso de Jeft&eacute; ten&iacute;a una faceta diferente.&nbsp; Al
  dedicar a su hija a Dios en forma total, <B>Jeft&eacute; se estaba privando
  de tener descendencia que llevara su nombre</B>.&nbsp; Aquella era su &uacute;nica
  hija.&nbsp; No ten&iacute;a otro hijo ni hija.&nbsp; Eso era muy duro para
  un hombre de aquella &eacute;poca y de aquella sociedad.&nbsp; De ah&iacute;
  brota el amargo quejido de Jeft&eacute; cuando vio que su hija era la que
  hab&iacute;a salido a recibirlo. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "</SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>34
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y volviendo
  Jeft&eacute; a Mizpa a su casa, he aqu&iacute; que su hija le sali&oacute;
  a recibir</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; con adufes y danzas, <B>y era
  la sola, la &uacute;nica suya; <U>no ten&iacute;a fuera de ella otro
  hijo</U></B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<U> ni
  hija.</U></I></B><I>
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>35
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y como &eacute;l
  la vio, <B>rompi&oacute; sus vestidos diciendo: &#161;Ay, hija m&iacute;a!
  de</B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; verdad me has abatido, y
  t&uacute; eres de los que me afligen</I></B><I>: porque yo he abierto</I>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; mi boca a Jehov&aacute;, y
  no podr&eacute;
  retractarme</I>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Jue 11: 34 - 35 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Hay
  varios pasajes que nos muestran que Jeft&eacute; nunca prometi&oacute; sacrificar
  a su hija mat&aacute;ndola y quem&aacute;ndola en un altar pagano.&nbsp;
  Vamos a leer estos pasajes con el fin de obtener de primera mano la idea
  correcta de qu&eacute; fue lo que prometi&oacute; Jeft&eacute;.&nbsp; Si
  leemos Jue 11: 36- 39 veremos que <B>la preocupaci&oacute;n de la joven hija
  de Jeft&eacute; no era sobre perder la vida, sino sobre su virginidad y la
  p&eacute;rdida de su oportunidad de matrimonio,</B> que era una de las ambiciones
  m&aacute;s acariciadas de las mujeres de aquella sociedad en aquella &eacute;poca.
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "</SPAN><I><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:
ES-TRAD'>36
  </SPAN></I><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Ella entonces
  le respondi&oacute;: Padre m&iacute;o, si has abierto tu boca a
  Jehov&aacute;,</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; haz de m&iacute; como
  sali&oacute; de tu boca,</I></B><I> pues que Jehov&aacute; ha hecho venganza
  en tus</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; enemigos los hijos de
  Amm&oacute;n.&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:
ES-TRAD'>37
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y torn&oacute;
  a decir a su padre: H&aacute;gasme
  esto:</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d&eacute;jame por dos meses
  que vaya y descienda por los montes, y <B>llore mi</B></I> <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; virginidad,</I></B><I> yo
  y mis compa&ntilde;eras.&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;
mso-ansi-language:ES-TRAD'>38
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&Eacute;l entonces dijo: Ve. Y dejola por
  dos</SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; meses.&nbsp; Y ella fue con
  sus compa&ntilde;eras, <B>y llor&oacute; su virginidad</B> por los montes.</I>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </I></SPAN><SPAN lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>39
  </SPAN><I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Pasados los
  dos meses <B>volvi&oacute; a su padre, e <U>hizo de ella conforme a su
  voto</U></B></SPAN></I><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <BR>
  <B><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; que hab&iacute;a hecho.
  <U>Y ella nunca conoci&oacute;
  var&oacute;n</U></I></B>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Jue&nbsp; 11: 36-39 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Como
  podemos ver en el vers&iacute;culo 36, la hija de Jeft&eacute; pidi&oacute;
  a su padre <B>que hiciera con ella tal y como hab&iacute;a
  prometido</B>.&nbsp; Por lo tanto, lo que sigue a la petici&oacute;n de la
  hija es lo que prometi&oacute; el padre.&nbsp; &#191;Y qu&eacute; es lo que
  sigue a la petici&oacute;n de la hija?&nbsp; En el vers&iacute;culo 37 vemos
  que <B>la joven solamente pidi&oacute; llorar su virginidad</B> por dos
  meses.&nbsp; Evidentemente, su vida no estaba amenazada, porque ser&iacute;a
  algo completamente fuera de l&oacute;gica que ella llorara por su virginidad
  cuando lo que iba a perder era la vida.&nbsp; El llorar su virginidad, el
  no poderse casar, era una cosa muy secundaria ante la seguridad de perder
  la vida.&nbsp; Hubiera sido excesivamente tonto que la joven llorara por
  algo (virginidad ) que despu&eacute;s de la muerte no le servir&iacute;a
  para nada, y no llorara por su vida, sin la cual todo lo dem&aacute;s era
  in&uacute;til.&nbsp; <B>Todo esto nos hace ver que ella sab&iacute;a que
  lo &uacute;nico que iba a perder, era la oportunidad de casarse.</B> <BR>
  &nbsp;&nbsp;&nbsp; En el vers&iacute;culo 39 vemos que como una consecuencia
  de todo lo que previamente se narr&oacute; se dice que "<I>pasados los dos
  meses volvi&oacute; a su padre, e <B>hizo de ella conforme a su voto</B>
  que hab&iacute;a hecho. <B>Y ella nunca conoci&oacute;
  var&oacute;n</B></I>."&nbsp;&nbsp; O sea, que cuando la joven volvi&oacute;,
  su padre hizo conforme a su voto, es decir, <B>hizo lo que hab&iacute;a
  prometido; y como consecuencia de hacer lo que &eacute;l hab&iacute;a prometido,
  ella se qued&oacute; sin casarse.</B>&nbsp; Est&aacute; perfectamente claro
  que Jeft&eacute; no prometi&oacute; matar y quemar a nadie, sino dedicarla
  a Dios. <BR>
  &nbsp;&nbsp;&nbsp; Otra cosa a notar, es que <B>si a esta joven la hubieran
  ido a matar despu&eacute;s de sus dos meses de lamentaci&oacute;n, hubiera
  sido excesivamente tonto de parte del escritor de este cap&iacute;tulo, el
  aclarar que ella nunca tuvo relaciones sexuales.</B>&nbsp; Claro est&aacute;,
  si la hubieran matado no era necesario que el escritor a posteriori aclarara
  que ella no tuvo relaciones sexuales; todo el mundo sabe que los muertos
  no tienen relaciones sexuales.&nbsp; Es obvio, por lo tanto, que el escritor
  se est&aacute; refiriendo a una joven que sigui&oacute; viviendo, pero nunca
  lleg&oacute; a casarse. <BR>
  &nbsp;&nbsp;&nbsp; Vamos ahora a usar un poco de l&oacute;gica.
  <B>&#191;Hubiera Dios premiado con la victoria a un hombre capaz de hacer
  sacrificios humanos?&nbsp;</B> Si el voto de Jeft&eacute; hubiera sido el
  de sacrificar a una persona en un altar, ( lo cual estaba estrictamente prohibido
  por la ley de Dios e incluso se condenaba a muerte al que tal hiciera ),
  &#191;hubiera acaso Dios otorgado la victoria a un hombre as&iacute;? <BR>
  &nbsp;&nbsp;&nbsp; En el vers&iacute;culo 29 dice que <B>el Esp&iacute;ritu
  de Jehov&aacute; fue sobre Jeft&eacute;</B>.&nbsp; &#191;Hubiera el
  Esp&iacute;ritu Santo venido sobre un asesino, sobre un hombre tan confundido
  religiosamente?&nbsp; &#161;Claro que no!&nbsp; Si la promesa de Jeft&eacute;
  hubiera sido la de cometer un homicidio en un acto de idolatr&iacute;a, el
  Esp&iacute;ritu Santo no hubiera venido sobre &eacute;l. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "<B><I>Y el esp&iacute;ritu de Jehov&aacute; fue sobre
  Jeft&eacute;</I></B><I>: y pas&oacute; por Galaad y Manas&eacute;s; y de</I>
  <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; all&iacute; pas&oacute; a Mizpa
  de Galaad; y de Mizpa de Galaad pas&oacute; a los hijos de Amm&oacute;n</I>."
  <BR>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ( Jue 11: 29 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; El
  mismo razonamiento anterior puede hacerse cuando leemos Heb 11: 32.&nbsp;
  All&iacute; Pablo alaba a Jeft&eacute; entre otros muchos h&eacute;roes de
  la fe.&nbsp; <B>No puedo yo creer que si Jeft&eacute; hubiera matado a su
  hija y la hubiera quemado en holocausto en un altar pagano, Pablo lo iba
  a tomar como un buen ejemplo que los cristianos deb&iacute;amos
  imitar.</B>&nbsp; Se ve que Pablo, al leer las Escrituras, no interpretaba
  las cosas en la misma forma que el autor de esta lecci&oacute;n de Escuela
  Dominical. <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  "&#191;<I>Y qu&eacute; m&aacute;s digo? porque el tiempo me faltar&aacute;
  contando de Gede&oacute;n, de Barac,</I> <BR>
  <I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de Sams&oacute;n, <B>de
  Jeft&eacute;</B>, de David, de Samuel, y de los
  profetas</I>"&nbsp;&nbsp;&nbsp; ( Heb 11: 32 ) <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Si
  Jeft&eacute; hubiera sido un ignorante de religi&oacute;n de tal magnitud
  que ni siquiera sab&iacute;a que Dios prohib&iacute;a los sacrificios humanos,
  <B>Pablo no lo hubiera exhibido como un gu&iacute;a digno de ser imitado
  por los cristianos.</B>&nbsp; Pablo no iba a hacer tal cosa con un id&oacute;latra
  asesino.&nbsp; Por lo tanto es evidente que Pablo sab&iacute;a que lo que
  Jeft&eacute; prometi&oacute; no fue sacrificar a su hija en una altar pagano.
  <BR>
  &nbsp;&nbsp;&nbsp; Jeft&eacute; no era un ignorante de religi&oacute;n como
  lo pinta esa revista trimestral de Escuela Dominical en ingl&eacute;s.&nbsp;
  Si leemos Jue 11: 14-28 veremos que Jeft&eacute; conoc&iacute;a al dedillo
  todo lo concerniente a la historia de su naci&oacute;n, y que era un hombre
  de fe.&nbsp; Viendo c&oacute;mo este caudillo de Israel conoc&iacute;a la
  historia de su naci&oacute;n, no puedo pasar a creer, como dice la revista
  trimestral de la Escuela Dominical antes mencionada, que Jeft&eacute; no
  supiera que Dios ten&iacute;a prohibido los sacrificios humanos.&nbsp; Y
  no solamente ignorarlo, sino basar en un sacrificio humano la petici&oacute;n
  de victoria que le hac&iacute;a a Dios.&nbsp; &#161;&#161;Absurdo!! <BR>
  &nbsp;&nbsp;&nbsp; Por todo lo hasta aqu&iacute; visto y razonado est&aacute;
  muy claro que Jeft&eacute; nunca prometi&oacute; un sacrificio humano.&nbsp;
  Est&aacute; claro que la joven nunca lament&oacute; que la fueran a matar,
  sino que no se iba a poder casar.&nbsp; Est&aacute; claro que el Esp&iacute;ritu
  Santo no iba a estar sobre Jeft&eacute; si el hubiera sido un asesino
  id&oacute;latra.&nbsp; Y por &uacute;ltimo, est&aacute; bien claro que Pablo
  no iba a elogiar, como digno de imitaci&oacute;n, a un hombre que hubiera
  prometido un sacrificio humano.&nbsp; Por lo tanto, es evidente que lo que
  Jeft&eacute; prometi&oacute; fue dedicar su hija enteramente al servicio
  de Dios, igual que se dedicaba enteramente a Dios un cordero durante una
  ofrenda quemada, en la que los sacerdotes no pod&iacute;an tomar ninguna
  parte del cordero. <BR>
  &nbsp;&nbsp;&nbsp; Es mi deseo que aquellos que se hallan en posiciones
  jer&aacute;rquicas dentro de las iglesias y las denominaciones, sean m&aacute;s
  vigilantes de qu&eacute; cosa es lo que se publica, a fin de evitar que las
  ovejas bajo su cuidado sean conducidas al error por escritores que, tal vez
  son buenas personas, pero que no por eso dejan de estar errados y hacerle
  da&ntilde;o a las ovejas. <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <A HREF="NotesOf.astro">Volver al indice</A>
</DIV>
</BODY>
</HTML>
