<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="MujeresEnLaIglesia_files/filelist.xml">
    <title>Las mujeres en la iglesia</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>TextFit</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>4</u1:Revision>
  <u1:TotalTime>27</u1:TotalTime>
  <u1:Created>2006-01-19T19:05:00Z</u1:Created>
  <u1:LastSaved>2006-01-19T20:02:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>804</u1:Words>
  <u1:Characters>4585</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>38</u1:Lines>
  <u1:Paragraphs>10</u1:Paragraphs>
  <u1:CharactersWithSpaces>5379</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="3074"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD
                                                       style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Por qu&eacute; San Pablo
proh&iacute;be a las mujeres participar en algunas actividades de la Iglesia.</span></b><span
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <o:p></o:p></span></p>

    <u8:p></u8:p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Es
f&aacute;cil probar que Pablo prohib&iacute;a que las mujeres tuvieran
posiciones de autoridad o ense&ntilde;anza en la Iglesia, porque eso &eacute;l
lo dice expl&iacute;citamente; pero explicar la raz&oacute;n por la cual
&eacute;l pon&iacute;a ese mandamiento ya no es tan f&aacute;cil de saber, por
cuanto no lo dice manifiestamente. No obstante, m&aacute;s adelante veremos que
las mujeres de mayor edad s&iacute; pod&iacute;an ejercer ciertas funciones en
la iglesia. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Como
antes dije, podemos teorizar, o razonar, o imaginarnos cuales eran las razones
que San Pablo ten&iacute;a para poner tal mandamiento, pero nada hay claramente
dicho sobre el asunto. Comencemos pues, por leer esos pasajes en los que San Pablo
proh&iacute;be la participaci&oacute;n femenina en determinadas actividades de
la Iglesia de Cristo. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; &quot;<b><i style='mso-bidi-font-style:normal'>Vuestras
mujeres callen en las congregaciones; porque no les es permitido hablar</i></b><i
            style='mso-bidi-font-style:normal'>, sino que est&eacute;n sujetas, como
tambi&eacute;n la ley dice. Y si quieren aprender alguna cosa, pregunten en
casa a sus maridos; porque deshonesta cosa es hablar una mujer en la
congregaci&oacute;n</i>.&quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
( I Co 14: 34-35 ) <u8:p></u8:p><o:p></o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><u8:p>&nbsp;</u8:p> <o:p></o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt'><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
<b>&quot;<i style='mso-bidi-font-style:normal'>La mujer aprenda en silencio,</i></b><i
                style='mso-bidi-font-style:normal'> con toda sujeci&oacute;n. <b>Porque no
permito a la mujer <u>ense&ntilde;ar</u>,&nbsp; <u>ni tomar autoridad</u> sobre
el hombre</b>, sino estar en silencio&#8221;</i> ( I Tim 2:11-12 )<u8:p></u8:p>
<o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>De
acuerdo a las palabras de San Pablo, la mujer no debe ejercer posiciones de
autoridad o ense&ntilde;anza en la Iglesia.</b> La raz&oacute;n para ello puede
ser doble: <b>a) </b>evitar la subversi&oacute;n de la autoridad en el
matrimonio, y <b>b) </b>evitar los problemas causados por belleza o
atracci&oacute;n sexual de las mujeres j&oacute;venes. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Si
una mujer casada fuera la pastora de la iglesia,</b> o si tuviera alguna
posici&oacute;n de autoridad en la misma, tendr&iacute;a tambi&eacute;n, en
forma indirecta, autoridad sobre su esposo. Este parece ser el mensaje que
trata de llevar I Tim 2: 12. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Una
segunda raz&oacute;n pudiera ser que las mujeres j&oacute;venes son atractivas,
y muchos de los hombres fijar&iacute;an m&aacute;s su atenci&oacute;n en las caracter&iacute;sticas
f&iacute;sicas de ella que en sus ense&ntilde;anzas.</b> Esto provocar&iacute;a
celos entre las dem&aacute;s mujeres, que ver&iacute;an que sus esposos se
fijaban demasiado en sus hermosas pastoras. En resumen, el tener mujeres en
esas posiciones ser&iacute;a, al menos, un factor de distracci&oacute;n, cuando
no un factor de divisiones y resentimientos dentro de la Iglesia de Cristo. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Si
leemos Ro 16: 1, veremos que la hermana Febe era diaconisa de la iglesia de
Cencreas</b>, lo cual prueba que a las mujeres no se les prohib&iacute;a
ciertas posiciones en la iglesia meramente por el hecho de ser mujeres.
&iquest;Por qu&eacute; pues, Febe ten&iacute;a esa posici&oacute;n en la
iglesia de Cencreas? <b>Probablemente ella era ya una mujer mayor.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En I
Tim 5: 9 que San Pablo recomendaba a la iglesia no admitir, dentro del
c&iacute;rculo &iacute;ntimo de la iglesia, a viudas menores de 60 a&ntilde;os.
La raz&oacute;n para esto, seg&uacute;n nos dice el ap&oacute;stol de los
gentiles, es que las viudas m&aacute;s j&oacute;venes, despu&eacute;s de
hacerse licenciosas contra Cristo, quieren casarse, como dice en el
vers&iacute;culo 11. Su recomendaci&oacute;n para esas viudas j&oacute;venes,
era que se volvieran a casar, que tuvieran hijos y que formaran una familia,
como dice el vers&iacute;culo 14. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Lo
que Pablo dice en estos pasajes nos da una idea de lo que &eacute;l
ten&iacute;a en mente respecto a la actuaci&oacute;n de las mujeres en la Iglesia</b>.
Parece que el no deseaba ninguna mujer joven o atractiva en ninguna
posici&oacute;n de la iglesia. Despu&eacute;s de los 60, ya una mujer es vista
m&aacute;s como una madre o como una hermana, que como una hembra atractiva,
por lo tanto, ya pod&iacute;an tener cualquier posici&oacute;n en la iglesia,
si es que eran viudas. De no ser viudas, una mujer deb&iacute;a atender a su
esposo, sus hijos y su casa. Una mujer mayor de 60 a&ntilde;os, que no tenga
obligaciones de familia, <b>ni sea de las que todav&iacute;a quieren lucir
&quot;atractivas&quot;</b>, es una persona adecuada para el servicio en la
Iglesia de Dios. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>&quot;</b><span style='mso-bidi-font-weight:
bold'>9<b><i style='mso-bidi-font-style:normal'> La viuda sea puesta en clase
especial, no menos que de sesenta a&ntilde;os,</i></b></span><i
            style='mso-bidi-font-style:normal'> que haya sido esposa de un solo marido. </i>10
<i style='mso-bidi-font-style:normal'>Que tenga testimonio en buenas obras; si
cri&oacute; hijos; si ha ejercitado la hospitalidad; si ha lavado los pies de
los santos; si ha socorrido a los afligidos; si ha seguido toda buena obra. 11 <b>Pero
viudas m&aacute;s j&oacute;venes no admitas: porque despu&eacute;s de hacerse
licenciosas contra Cristo, quieren casarse.</b> 12 Condenadas ya, por haber
falseado la primera fe. 13 Y aun tambi&eacute;n se acostumbran a ser ociosas, a
andar de casa en casa; y no solamente ociosas, sino tambi&eacute;n parleras y
curiosas, hablando lo que no conviene. 14 <b>Quiero pues, que las que son
j&oacute;venes se casen, cr&iacute;en hijos, gobiernen la casa;</b> que ninguna
ocasi&oacute;n den al adversario para maldecir</i>.&quot; ( I Tim 5: 9-14 ) <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Como
vemos en este pasaje, Pablo, evidentemente, tem&iacute;a los problemas causados
por la atracci&oacute;n sexual de las mujeres j&oacute;venes, y los
esc&aacute;ndalos que estas cosas acarrean dentro de la iglesia.</b> Por eso es
que &eacute;l les advert&iacute;a a las iglesias sobre este peligro. Otro
consejo que daba Pablo es que las viudas j&oacute;venes se vuelvan a casar,
probablemente para evitar problemas sexuales y esc&aacute;ndalos dentro de la
iglesia, cuando ellas sintieran el duro atractivo de la carne. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Es
razonable, que si Pablo no quer&iacute;a mujeres de menos de 60 a&ntilde;os en
el c&iacute;rculo interior de la Iglesia, menos a&uacute;n las querr&iacute;a o
las permitir&iacute;a en posiciones de autoridad o ense&ntilde;anza, siendo de
menos de sesenta a&ntilde;os.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p align=center style='text-align:center'><b><a href="NotesOf.astro">Volver
        al &iacute;ndice</a></b></p>

</div>

</body>

</html>
