<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="MujeresDivorciarEsposos_files/filelist.xml">
    <title>Las mujeres pod&iacute;an divorciarse de sus esposos</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>TextFit</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>2</u1:Revision>
  <u1:TotalTime>1</u1:TotalTime>
  <u1:Created>2006-01-19T19:02:00Z</u1:Created>
  <u1:LastSaved>2006-01-19T19:03:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>636</u1:Words>
  <u1:Characters>3630</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>30</u1:Lines>
  <u1:Paragraphs>8</u1:Paragraphs>
  <u1:CharactersWithSpaces>4258</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD
                                                       style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Las mujeres se pod&iacute;an
divorciar de sus esposos.</span></b><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <o:p></o:p></span></p>

    <u8:p></u8:p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Hay
personas que confunden las costumbres musulmanas y de la India, con las leyes
de Dios y con la civilizaci&oacute;n b&iacute;blica.</b> Por eso es que ellos piensan,
dicen y hasta predican, que en los tiempos de Cristo las mujeres estaban
solamente un escal&oacute;n arriba de los esclavos. No es cierto. El hecho de
que el Oriente Medio est&aacute; casi todo habitado hoy d&iacute;a por
musulmanes, no significa que ellos tienen cultura y costumbres b&iacute;blicas;
y mucho menos significa que ellos cumplen con los mandamientos de Dios. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Estas
personas que confunden las costumbres musulmanas con las costumbres
b&iacute;blicas</b>, tambi&eacute;n dicen que en la &eacute;poca de Cristo, un
hombre pod&iacute;a divorciarse de su esposa, pero una mujer no pod&iacute;a
divorciarse de su esposo. Eso es falso. <b>Errores como este son el fruto de
leer libros que &quot;tratan&quot; sobre la Biblia, y no la Biblia misma;</b> o
tambi&eacute;n provienen de leer solamente algunos vers&iacute;culos, pasajes o
libros de la Biblia, y no toda ella. En esta misma p&aacute;gina Web, en el
art&iacute;culo # 14, se clarifica otro error que los cristianos tienen
referente a las costumbres b&iacute;blicas, y la posici&oacute;n de las mujeres
en aquella sociedad, en el pueblo de Dios. <b>Veamos ahora que tiene la Biblia
que decir respecto a si una mujer pod&iacute;a divorciarse del marido, o no.</b>
<u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; &quot;<i style='mso-bidi-font-style:normal'>Y les
dice: Cualquiera que repudiare a su mujer, y se casare con otra, comete
adulterio contra ella; <b>y si la mujer repudiare a su marido</b> y se casare
con otro, comete adulterio</i>.&quot;&nbsp;<span style='mso-tab-count:1'>&nbsp;&nbsp; </span>&nbsp;
( Mr 10: 11-12 ) <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>En
este pasaje vemos que de acuerdo a la palabra de Jesucristo, una mujer
ten&iacute;a el derecho de divorciarse de su esposo.</b> No obstante, aquellos
que en vez de leer la Biblia leen montones de libros escritos por
&quot;eruditos&quot; de la Biblia, niegan que las mujeres tuvieran ese derecho
en el pueblo de Dios. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Los
que escribieron en la Biblia, hablaban en forma general, sin especificar sexo
innecesariamente. En aquellos tiempos se dec&iacute;an cosas como esta: &quot;
Si un hombre roba...&quot;, lo cual implicaba tambi&eacute;n &quot;Si una mujer
roba...&quot;. No era necesario mencionar los dos sexos, como se tiende a hacer
hoy en d&iacute;a, por miedo de ser acusado de sexista o de machismo. Por eso
es que en el Antiguo Testamento hab&iacute;a reglas para el divorcio, en el
cual se menciona solamente al hombre, pero era sobreentendido que
tambi&eacute;n comprend&iacute;a a la mujer. <b>Por lo tanto, igual que un
hombre pod&iacute;a divorciarse de su mujer, tambi&eacute;n una mujer
pod&iacute;a divorciarse de su marido</b>. La prueba la tienen en lo que
Nuestro Se&ntilde;or dijo en Marcos 10: 11-12. Refiri&eacute;ndose a lo que la
ley de Dios estatu&iacute;a, &eacute;l mencionaba que la mujer pod&iacute;a
divorciarse de su marido. Por lo tanto, <b>es evidente que las mujeres
s&iacute; pod&iacute;an divorciarse de sus maridos</b>. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Lo
mismo aprendemos ( si leemos la Biblia y no los libros escritos sobre ella ),
en I Co 7: 13, donde <b>San Pablo aconseja a las cristianas que ya estaban
casadas con maridos inconversos cuando ellas se convirtieron, que no se divorciaran
de ellos</b>, sino que mantuvieran unido su matrimonio. Estos hombres que no
estaban en la fe eran llamados &quot;infieles&quot;, lo cual significaba que no
eran convertidos. He ah&iacute; otra evidencia de que las mujeres s&iacute; se
pod&iacute;an divorciar de sus maridos. Leamos. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; &quot;<i style='mso-bidi-font-style:normal'>Y <b>la
mujer</b> que tiene marido infiel, y &eacute;l consiente en habitar con ella, <b>no
lo deje</b></i>.&quot;&nbsp;&nbsp; ( I Co 7: 13 ) <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; De
acuerdo con estos dos testimonios ( Cristo y Pablo ), es evidente que las
mujeres de la antig&uuml;edad ten&iacute;an el derecho de divorciarse de sus
maridos. Consecuentemente, <b>todos estos que pintan un paisaje espantoso para
las mujeres que viv&iacute;an en tiempos b&iacute;blicos, est&aacute;n
desorientados debido a que confunden la cultura musulmana con las leyes y
cultura b&iacute;blica de aquellos tiempos.</b> Ellos confunden la autoridad
del hombre en el matrimonio, cosa aprobada por Dios, con la total ausencia de
derechos de la mujer. Tambi&eacute;n confunden algunas culturas que desprecian
a la mujer y le quitan todos sus derechos, con la cultura que se deriva de
cumplir las Leyes de Dios, que otorgan a la mujer todos los derechos inherentes
a un ser humano. <u8:p></u8:p><o:p></o:p></span></p>

    <p align=center style='text-align:center'><b><a href="NotesOf.astro">Volver
        al indice</a></b></p>

</div>

</body>

</html>
