---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Notas Biblicas">
  <body style="" bgcolor="white" lang="EN-US" link="blue" vlink="blue">
  <div class="Section1">
    <p style="text-align: center;" align="center">
      <b>
        <span style="font-size: 14pt;" lang="ES-TRAD">&#205;ndice de Notas B&#237;blicas en Espa&#241;ol</span>
      </b>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        Estas notas son buenas para entender algunos temas que los enemigos de Dios han tratado de torcer; o temas
        que son dif&#237;ciles de interpretar. Vale la pena leerlos. Usted puede usar el material que aqu&#237; hay para
        ayudar a otros, especialmente a los miembros de su iglesia.
        <b>A menudo hallar&#225; usted aqu&#237; una nueva Nota B&#237;blica</b>. Vis&#237;tenos con frecuencia.
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <b style="">Si usted opina que yo tengo alg&#250;n error</b> en alguna Nota B&#237;blica, por favor, env&#237;eme su opini&#243;n
        conjuntamente con los argumentos que la respaldan a nuestro E-Mail. Se lo agradecer&#233;, porque a m&#237; me encanta
        aprender de los dem&#225;s.
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <b style="">Igualmente, si desea que aqu&#237; aparezca una nota b&#237;blica sobre alg&#250;n asunto</b>, por favor, d&#233;jeme
        un mensaje en el E-Mail: ramonaleman@yahoo.com dirigido a R. L. Serralta Nogu&#233;s.
      </span>
    </p>
    <p style="text-align: center;" align="center">
      <span style="" lang="ES-TRAD">&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;&#186;
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="Cristonaciodiciembre.html">1- Es falso asegurar que Cristo no naci&#243; en diciembre </a>&nbsp; &nbsp;( 1 Mz 2000 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LongevidadAnos.html">2- La longevidad de los patriarcas est&#225; dada en a&#241;os, no en meses.
        </a>&nbsp; &nbsp;( 14 Mz 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="OseasNoFornico.html">3- Oseas no fornic&#243; ni adulter&#243;.</a> &nbsp; &nbsp;( 25 Ab 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EndurecimientoFaraon.html">4- El endurecimiento de Fara&#243;n: din&#225;mica celestial; libre albedr&#237;o
        </a>. &nbsp; &nbsp;( 12 My 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EliasVendra.html">5- El&#237;as el profeta vendr&#225; antes de la Segunda Venida de Cristo.
        </a>&nbsp; &nbsp;( 26 My 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoElDeseadoylasRiquezas.html">6- Haggeo profetiz&#243; sobre Cristo, el Deseado, no sobre las riquezas.</a>
        &nbsp; &nbsp;(16 Jn 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="VirgenParira.html">7- Isa&#237;as 7:14 es prueba de que Cristo es el Mes&#237;as.</a> &nbsp; &nbsp;( 12 Jl 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="NoJuzgueisExageracion.html">8- No juzgu&#233;is para que no se&#225;is juzgados: exageraci&#243;n errada. </a>&nbsp; &nbsp;( 28 Jl 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="SantisimoEntradaDiaria.html">9- Al lugar Sant&#237;simo se entraba todos los d&#237;as, no una vez al a&#241;o. </a>&nbsp; &nbsp;( 15 Ag 00 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ArcangelMiguelNoEsCristo.html">10- El Arc&#225;ngel Miguel no es Cristo, eso es una blasfemia</a>. &nbsp; &nbsp;(31 Ag 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="JefteNoSacrificoASuHija.html">11-Jeft&#233; no sacrific&#243; a su hija.</a>&nbsp; &nbsp;( 15 Sp 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ElJovenRicoMintio.html">12- El joven rico minti&#243;, por eso Cristo lo manda a venderlo todo.</a>
        &nbsp; &nbsp;( 28 Sp 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LosFariseosNoCumplianLaLey.html">13- Los fariseos no eran fieles cumplidores de la ley como hoy se cree.</a> &nbsp; &nbsp;( 18 Oc 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="QueEdadTeniaLaVirgenMaria.html">14- Qu&#233; edad ten&#237;a la Virgen Mar&#237;a</a>. &nbsp; &nbsp;( 7 Nv 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoClavadoMunecas.html">15- Cristo fue clavado en la cruz por las manos, no por las mu&#241;ecas.</a>
        &nbsp; &nbsp;(12 Dc 00 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoNoFueAcusadoDeIligitimo.html">16-Ni Cristo ni la Virgen Mar&#237;a confrontaron problemas de ilegitimidad</a>. &nbsp; &nbsp;( 5 Fb 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ComerSacrificios.html">17- Los cristianos no deben comer&nbsp;de lo sacrificado a los &#237;dolos.
        </a>&nbsp; &nbsp;( 12 Ab 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="NombreDeDiosEnVano.html">18- Algunos hermanos toman el nombre de Dios en vano sin darse cuenta. </a>&nbsp; &nbsp;( 7 My 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LaHigeraNoEsIsrael.html">19- La higuera no representa a Israel.</a> &nbsp; &nbsp; ( 5 Jn 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ConvivenciaPatriarcal.html">20- Tiempo que nuestros primeros padres vivieron unos con otros. </a>&nbsp; &nbsp;( 29 Jn 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DiosPoneReyes.html">21- Los reinos del mundo son de Dios, no de Satan&#225;s</a>. &nbsp; &nbsp;( 20 Jl 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LaPrimeraCelula.html">22- La simpl&#237;sima primera c&#233;lula nunca pudo haber existido</a>. &nbsp; &nbsp;( 21 Ag 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MelquisedecNoEsCristo.html">23- Melqu&#237;sedec no pudo ser Cristo.</a> &nbsp; &nbsp;( 20 Sp 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="SellosTrompetasCopas.html">24- Apocalipsis: cu&#225;ndo ocurren los sellos, las trompetas y las copas</a>. &nbsp; &nbsp;( 25 Oc 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="JudasTraidorNoPatriota.html">25- Ahora nos quieren convencer de que Judas era un patriota y no un traidor.</a>
        &nbsp; &nbsp;( 30 Nv 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CreyentesMalAteosbien.html">26- &#191;Por qu&#233; hay creyentes mal y ateos bien?</a> &nbsp; &nbsp; ( 27 Dc 01 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LadronNocheInconversos.html">27- Lo de ladr&#243;n en la noche es para los inconversos</a>. &nbsp; &nbsp;( 4 Fb 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EliasNoFueCobarde.html">28- El&#237;as no fue cobarde, eso es una campa&#241;a de desprestigio.
        </a>&nbsp; &nbsp;( 21 Mz 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PaleontologoEsqueleto.html">29-El paleont&#243;logo, el esqueleto y la evoluci&#243;n.</a> &nbsp; &nbsp;( 14 My 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LongevidadDiluvio.html">30- La longevidad decreci&#243; a consecuencia del Diluvio.</a> &nbsp; &nbsp;( 30 Jn 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ElPecadoOriginal.html">31- El Pecado Original es un mito</a>. &nbsp; &nbsp;( 31 Jl 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="QuienPodiaMatarCain.html">32- &#191;Qui&#233;n pod&#237;a matar a Ca&#237;n?</a> &nbsp; ( 10 Sp 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CainOfrenda.html">33- El por qu&#233; la ofrenda de Ca&#237;n no era aceptable.</a> &nbsp; &nbsp;( 8 Oc 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoRopajeCorto.html">34- &#191;Era el ropaje de Jes&#250;s corto o largo?</a> &nbsp; &nbsp;( 30 Oc 02 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ElCristianoYLasArmas.html">35- El cristiano y las armas. </a>&nbsp; &nbsp;( 17 En 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AgitanPunoAnteDios.html">36- Agitan el pu&#241;o delante de Dios, &#191;y son cristianos? </a>&nbsp; &nbsp;( 16 Fb 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoMayorEspirituSanto.html">37- Cristo es mayor que el Esp&#237;ritu Santo.</a> &nbsp; &nbsp; ( 20 Mz 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="BlasfemiaEspirituSanto.html">38- Qu&#233; es la blasfemia contra el Esp&#237;ritu Santo.</a> &nbsp; &nbsp;( 28 Ab 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="JobCristianosPruebas.html">39- No llames "pruebas" a las consecuencias de tus errores y pecados.</a> &nbsp; &nbsp;( 18 My 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="TimoteoNoEraTanJoven.html">40- Timoteo no era tan joven como muchos creen.</a> &nbsp; &nbsp;( 30 Jn 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MujeresEnLaIglesia.html">41- Mujeres con autoridad en la Iglesia, prohibido por San Pablo. </a>&nbsp; &nbsp;( 8 Ag 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AmamantarDestetarNinos.html">42- Tiempo natural de amamantar y destetar a los ni&#241;os.</a> &nbsp; &nbsp;( 10 Sp 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ElTemorALosEnemigos.html">43- El Temor y la protecci&#243;n divina. No cambies los mandamientos.</a>
        &nbsp; &nbsp;( 8 Oc 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MetodoParaExaminarnos.html">44- M&#233;todo para examinarnos a nosotros mismos.</a> &nbsp; &nbsp;( 26 Nv 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LaSalSuSabor.html">45- En la par&#225;bola, Cristo usa la sal por su sabor, no por su poder preservante.
        </a> &nbsp; &nbsp;( 19 Dc 03 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MujeresDivorciarEsposos.html">46- Las mujeres pod&#237;an divorciarse de sus esposos.</a> &nbsp; &nbsp;( 19 En 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MatrimoniosAngeles-Mujeres.html">47- Matrimonios de &#225;ngeles con mujeres, disparate y blasfemia</a>. &nbsp; &nbsp;( 20 Fb 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="InfiernoTieneQueExistir.html">48- Por qu&#233; el Infierno existe y tiene que existir.</a> &nbsp; &nbsp;( 19 Mz 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AleluyaQueMilagro.html">49- &#161;Aleluya! Qu&#233; milagro m&#225;s extraordinario. </a>&nbsp; &nbsp;( 18 Ab 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PactosMatrimoniosInconversos.html">50- Pactos y matrimonios con inconversos.</a> &nbsp; &nbsp;( 20 My 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="FeObrasSantiago.html">51- Fe y obras seg&#250;n Santiago. </a>&nbsp; &nbsp;( 23 Jn 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="JudiosMusulmanesAteos70Semanas.html">52- Jud&#237;os, musulmanes y ateos lean esto, las 70 semanas.</a> &nbsp; &nbsp;( 21 Jl 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DiosCastigaCristianos.html">53- Dios tambi&#233;n castiga a los cristianos.</a> &nbsp; &nbsp;( 25 Ag 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DistorsionSantaCena.html">54- Distorsi&#243;n de la Santa Cena. </a>&nbsp; &nbsp;( 25 Oc 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PabloSanedrin.html">55- San Pablo no pertenec&#237;a al Sanedr&#237;n ni era rabino. </a>&nbsp; &nbsp;( 24 Nv 04 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AbsurdidadCreacionPrevia.html">56- &#191;Gap Theory? Creer en una creaci&#243;n previa a la actual es absurdo.
        </a> &nbsp; &nbsp;( 13 En 05 )
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LaGraciaDesdeElPrincipio.html">57- La redenci&#243;n por gracia se conoc&#237;a desde el principio.</a>
        &nbsp; &nbsp;( 27 Fb 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LosCuatroCaminos.html">58- Vean por qu&#233; los mandamientos de Dios son un camino seguro.</a> &nbsp; &nbsp;( 21 Mz 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MecanicaDeLaTentacion.html">59- Din&#225;mica Celestial: mec&#225;nica de la tentaci&#243;n.</a> &nbsp; &nbsp;( 27 Ab 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PorqueArrepentimientoIndispensable.html">60- Por qu&#233; el arrepentimiento es indispensable. </a>&nbsp; &nbsp;( 31 My 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PredestinacionQuintoMandamiento.html">61- La falsa predestinaci&#243;n y el Quinto Mandamiento. </a>&nbsp; &nbsp;( 30 Jn 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CaeranEstrellas.html">62- &#191;Caer&#225;n las estrellas? &#191;No son mayores que la Tierra?</a>
        &nbsp; &nbsp;( 28 Jl 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="SieteDiasSieteEras.html">63- Dur&#243; la Creaci&#243;n siete d&#237;as o siete eras.</a> &nbsp; &nbsp;( 31 Ag 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AbrahamSacrificoIsaac.html">64- Abraham sacrific&#243; a Isaac, sabiendo que Dios lo resucitar&#237;a</a>. &nbsp; &nbsp;( 29 Sp 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ClimaIgualitario.html">65- El clima igualitario en todo el globo antes del Diluvio es un error.
        </a>&nbsp; &nbsp;( 25 Oc 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoJuramentos.html">66- Cristo no prohibi&#243; todo tipo de juramentos. </a>&nbsp; &nbsp; &nbsp; ( 23 Nv 05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoAlejandroNapoleon.html">67- Cristo, Alejandro Magno, Julio C&#233;sar, Napole&#243;n Bonaparte y los jud&#237;os. </a>&nbsp; &nbsp;( 18 Dc
        05 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="SodomaMarMuerto.html">
          68- Sodoma se halla en el fondo del Mar Muerto</a>. &nbsp; &nbsp; &nbsp; (24 En 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="NoAdoranPorNoObedecer.html">69- Quien no adora a Dios es porque detesta la idea de estarle sometido.
        </a>&nbsp; &nbsp; &nbsp; ( 27 Fb 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CrucifixionJueves.html">70- La crucifixi&#243;n tuvo lugar un jueves, no un viernes.</a> &nbsp; &nbsp; &nbsp; &nbsp; ( 30 Mz 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="FundarUnBarFundarUnaIglesia.html">71- Qui&#233;nes nos obstaculizan, y c&#243;mo nosotros les damos lugar y ocasi&#243;n. </a>&nbsp; &nbsp; &nbsp;
        ( 28 Ab 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DosMujeresUngieronJesus.html">72- &nbsp;Dos mujeres diferente ungieron a Jes&#250;s, una era decente, la otra no. </a>&nbsp; &nbsp; &nbsp; &nbsp;
        ( 24 My 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AguasVivas.html">73- &nbsp;Qu&#233; son las "aguas vivas" de que habla la Biblia. </a>&nbsp; &nbsp; &nbsp; ( 20 Jn 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="BibliaDesiertoAgua.html">74- &nbsp;En la Biblia la palabra "desierto" significa "sin habitantes", no sin agua ni vegetaci&#243;n.</a> &nbsp;
        &nbsp; ( 27 Jl 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MiqueasImlaNoMintio.html">75- &nbsp;El profeta Miqueas hijo de Imla no minti&#243;.</a> &nbsp; &nbsp;( 30 Ag 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DurezaAntiguoTestamento.html">76- &nbsp;"Dureza" del Antiguo Testamento y los "doctrineros versiculares".</a>
        &nbsp; &nbsp; &nbsp; ( 22 Sp 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AntagonismoJudeoSamaritano.html">77- &nbsp;Origen del antagonismo judeo-samaritano.</a> &nbsp; &nbsp;&nbsp;( 30 Oc 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EliseoNoMintio.html">78- &nbsp;Eliseo no minti&#243; al decir a Benadad que no morir&#237;a de su enfermedad.</a> &nbsp; &nbsp; (27 Nv
        06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ConsecuenciasTerrenalesPecadoJonas.html">79- &nbsp;Consequencias terrenales del pecado, ejemplo de Jon&#225;s. </a>&nbsp; &nbsp; &nbsp; ( 28 Dc 06 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="TacticasDemoniacas.html">80- &nbsp;T&#225;cticas demon&#237;acas para vencer al pueblo de Dios</a>. &nbsp; &nbsp; &nbsp; ( 29 En 07 )
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PredestinacionMuerteNacimiento.html">81- &nbsp;La predestinaci&#243;n, la muerte, el nacimiento, los m&#233;dicos y los seguros. </a>&nbsp; &nbsp; (26
        Fb 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="SatanasEchadoFuera.html">82- &nbsp;Satan&#225;s fue echado fuera &nbsp;del Cielo antes del Pentecost&#233;s
        </a>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(30 Mz 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristianoControlCaracter.html">83- El cristiano y el control del car&#225;cter.</a> &nbsp; &nbsp; &nbsp; &nbsp;(30 Ab 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DiluvioUniversalNoLocal.html">84- &nbsp;El Diluvio fue universal, no local</a>. &nbsp; &nbsp; &nbsp; (31 My 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EliuFalaciasJobGrandeza.html">85- Falacias del discurso de Eli&#250;, y grandeza de Job. </a>&nbsp; &nbsp; &nbsp;(29 Jn 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="Pragmatismo.html">86- Pragmatismo: por sus frutos los conocer&#233;is.</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(31 Jl 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ReligionYosientos.html">87- La Religi&#243;n de los Yosientos y los macabeos. </a>&nbsp; &nbsp; &nbsp; &nbsp;(30 Ag 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="EgiptoYRusia.html">88-Similitud entre el Egipto Fara&#243;nico y la Uni&#243;n Sovi&#233;tica. Los &#225;ngeles patronos de las naciones.</a>
        &nbsp; (28 Sp 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="MesiasEntrariaAquelTemplo.html">89-Jud&#237;os: el Mes&#237;as entrar&#237;a en aquel Templo antes que lo destruyera Tito Flavio Vespasiano. </a>&nbsp;(30
        Oc 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DiosRecompensaCastigaYa.html">90-Dios tambi&#233;n recompensa y castiga, ya y aqu&#237;. </a>&nbsp; &nbsp; &nbsp; (30 Nv 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="QueEsAmorVerdadero.html">91-&#191;Es verdadero amor amar a los que odian a Dios? </a>&nbsp; &nbsp; (30 Dc 07)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ConsecuenciasTerrenalesPecadoDavid.html">92-El pecado tiene consecuencias terrenales a&#250;n para los amados de Dios.
        </a>&nbsp; &nbsp; &nbsp;(29 En 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PenaMuerteSalvacion.html">93-La Pena de Muerte no evita que un condenado se salve. </a>&nbsp; &nbsp; &nbsp; &nbsp;(24 Fb 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="Teomorfismo.html">94-Teomorfismo: &#191;Se parece el humano a Dios?</a> &nbsp; &nbsp; &nbsp; (31 Mz 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="FabricanteDeAutos.html">95-El fabricante de autos. </a>&nbsp; &nbsp; &nbsp;(30 Ab 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="TacticaSerpienteEden.html">96-La T&#225;ctica de la Serpiente en el Ed&#233;n y en la Actualidad es la misma.
        </a> &nbsp; &nbsp; (31 My 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="NinoDeDosAnos.html">97-El cristiano y el ni&#241;o de dos a&#241;os.</a> &nbsp; &nbsp; &nbsp;(30 Jn 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="BibliaEntiendeCualqiera.html">98-La Biblia Dios la dio para que la entendiera cualquiera, no s&#243;lo los sabios. </a>&nbsp; &nbsp;(28 Jl 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="FueDichoAntiguos.html">99-Fue dicho a los Antiguos; no fue dicho en la ley de Dios. No confundan. </a>&nbsp; &nbsp; &nbsp; &nbsp;(31 Ag
        08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="LaSantidadEnElCristiano.html">100-La Santidad en el Cristiano.</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (28 Sp 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="IgnoranciaExcusaPecado.html">101-La Ignorancia de la Ley de Dios no es Excusa para el Pecado.</a> &nbsp; &nbsp; &nbsp;(31 Oc 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="RaptoCreerNoCreer.html">102-Peligro de creer en la falsedad del Rapto antes de la Gran Tribulaci&#243;n.</a>
        &nbsp; &nbsp; (30 Nv 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="RaptoGranTribulacion.html">103-&#191;D&#243;nde la Biblia dice que hay un rapto antes de la Gran Tribulaci&#243;n?</a>
        &nbsp; &nbsp; &nbsp; &nbsp;(31 Dc 08)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PecadoEsCulpaNuestra.html">104-El pecado es culpa nuestra, no del ambiente, la predestinaci&#243;n, la ignorancia o Satan&#225;s. </a>&nbsp;
        (28 En 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AlgunosApostataranDeLaFe.html">105-Algunos Apostatar&#225;n de la Fe. </a>&nbsp; &nbsp; &nbsp; (28 Fb 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="PabloYSSS.html">106-&#191;Qu&#233; pensaba Pablo sobre eso de "Salvo Siempre Salvo"?</a>&nbsp; &nbsp; &nbsp; (26 Mz 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="DiosNoSuprimeTentacion.html">107-&#191;Por qu&#233; Dios no suprime la tentaci&#243;n.</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (30 Ab 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristianosOSanpablianos.html">108-&#191;Somos Cristianos o Sanpablianos? </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(27 My 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="ComedPusierenDelante.html">109-Comed lo que os pusieren delante &#191;Los sesos de una anciana? &#191;Sopa de sangre de vencidos?</a> &nbsp;
        &nbsp; &nbsp;(24 Jn 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoNoAbolioLeyes.html">110-Cristo no aboli&#243; las leyes de Dios para el comportamiento humano. </a>&nbsp; &nbsp; &nbsp; (30 Jl 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristianosProcedenNaaman.html">111-Para llegar a la doctrina evang&#233;lica correcta, la mayor&#237;a de los cristianos proceden como Naam&#225;n.</a>
        &nbsp; &nbsp;(31 Ag 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="AmorDiosObedecerMandamientos.html">112-El verdadero amor a Dios es obedecer sus mandamientos.</a> &nbsp; &nbsp; &nbsp;(30 Sp 09)
        
      </span>
    </p>
    <p>
      <span style="" lang="ES-TRAD">
        <a href="CristoNoAbsolvioAdultera.html">113-&#191;Por qu&#233; Cristo no absolvi&#243; ni conden&#243; a la ad&#250;ltera?
        </a>&nbsp; &nbsp; &nbsp; &nbsp; (31 Oc 09)
        
      </span>
    </p>
    <p>
      <a href="ErrorNovotestamentario.html">
        <span style="" lang="ES-TRAD">114-Error y herej&#237;a de ser novotestamentario.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; (30 Nv 09)
        
      </span>
    </p>
    <p>
      <a href="SetentaSemanas.html">
        <span style="" lang="ES-TRAD">115-La Profec&#237;a de las 70 Semanas y el Mes&#237;as.
        </span>
      </a>
      <span style="" lang="ES-TRAD">
        &nbsp; &nbsp; (31 Dc 09)
        
      </span>
    </p>
    <p>
      <a href="CristianosConfusionLey.html">
        <span style="" lang="ES-TRAD">116-Hay en los cristianos una gran confusi&#243;n con respecto a la Ley de Dios.
        </span>
      </a>
      <span style="" lang="ES-TRAD"> &nbsp; (27 En 10)
        
      </span>
    </p>
    <p>
      <a href="DiscusionesYCristianos.html">
        <span style="" lang="ES-TRAD">117-Imitemos los primeros cristianos que discut&#237;an fraternalmente sus diferencias doctrinales.
        </span>
      </a>
      <span style="" lang="ES-TRAD">
        &nbsp;&nbsp;(28 Fb 10)
        
      </span>
    </p>
    <p>
      <a href="LegalistaQueSignifica.html">
        <span style="" lang="ES-TRAD">118-&#191;Qu&#233; significa ser legalista?
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp; &nbsp;(30 Mz 10)
        
      </span>
    </p>
    <p>
      <a href="ProfeticoSermon.html">
        <span style="" lang="ES-TRAD">119-C&#243;mo entender m&#225;s f&#225;cilmente el Serm&#243;n Prof&#233;tico.&nbsp;
        </span>
      </a>
      <span style="" lang="ES-TRAD"> &nbsp; &nbsp; (29 Ab 10)
        
      </span>
    </p>
    <p>
      <a href="YugoPedroNoPodia.html">
        <span style="" lang="ES-TRAD">120-El yugo que ni Pedro ni sus ancestros hab&#237;an podido llevar
        </span>
      </a>
      <span style="" lang="ES-TRAD">. &nbsp; &nbsp; &nbsp; &nbsp;(27 My 10)
        
      </span>
    </p>
    <p>
      <a href="ErroresDoctrinales.html">
        <span style="" lang="ES-TRAD">121-Los errores doctrinales de los cristianos tienen uno o m&#225;s de estos varios or&#237;genes.
        </span>
      </a>
      <span style="" lang="ES-TRAD"> &nbsp; &nbsp; (28 Jn 10)
        
      </span>
    </p>
    <p>
      <a href="LeySinificaPalabra.html">
        <span style="" lang="ES-TRAD">122-A qu&#233; se llama en la Biblia "No estar bajo la Ley"
        </span>
        <span style="text-decoration: none;" lang="ES-TRAD">.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp;(28 Jl 10)
        
      </span>
    </p>
    <p>
      <a href="PredestinacionOjeada.html">
        <span style="" lang="ES-TRAD">123-Echemos una ojeada a los que se creen que ellos creen en la predestinaci&#243;n absoluta.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp;(26 Ag 10)
        
      </span>
    </p>
    <p>
      <a href="OjoPorOjo.html">
        <span style="" lang="ES-TRAD">124-Lo de Ojo por Ojo era para los jueces, no para que la gente lo usara para sus odios y pugnas.
        </span>
      </a>
      <span style="" lang="ES-TRAD"> &nbsp; &nbsp;(28 Sp 28)
        
      </span>
    </p>
    <p>
      <a href="PabloCumpleLey.html">
        <span style="" lang="ES-TRAD">125-Pablo exhorta a los cristianos a cumplir las leyes de Dios para el comportamiento humano.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp;(26 Oc 10)
        
      </span>
    </p>
    <p>
      <a href="PersonajeDiceRevelacion.html">
        <span style="" lang="ES-TRAD">126-No todo lo que dice un personaje b&#237;blico es revelaci&#243;n, hay que discernir.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp; &nbsp; (28 Nv 10)
        
      </span>
    </p>
    <p>
      <a href="PedroVisionAnimales.html">
        <span style="" lang="ES-TRAD">127-La visi&#243;n de Pedro y la supuesta limpieza de todos los animales.
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp; (27 Dc 10)
        
      </span>
    </p>
    <p>
      <a href="AlmacenAlmas.html">
        <span style="" lang="ES-TRAD">128-Almac&#233;n de almas previo al nacimiento y la predestinaci&#243;n. &nbsp;
        </span>
      </a>
      <span style="" lang="ES-TRAD">&nbsp; &nbsp; &nbsp; &nbsp;(27 En 11)
        
      </span>
    </p>
    <p>
      <a href="RaptoPeligro.html">
        <span style="" lang="ES-TRAD">129-Peligro de creer que el "rapto" ocurrir&#225; antes de la Gran Tribulaci&#243;n.
        </span>
      </a>
      <span style="" lang="ES-TRAD"> &nbsp; &nbsp; &nbsp; &nbsp;</span>(28 Mz 11)
    </p>
    <p>
      <a href="ProfeticoSermon.html">130-C&#243;mo entender mejor el Serm&#243;n Prof&#233;tico de Mateo 24. </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(25
      Ab 11)
    </p>
    <p>
      <a href="RazonesNoVerdad.html">131-Razones por las cuales la gente no quiere saber la verdad.</a> &nbsp; &nbsp; &nbsp; &nbsp;(26 My 11)
    </p>
    <p>
      <a href="PasionesNublanRaciocinio.html">132-Las pasiones nublan el raciocinio
      </a>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(28 Jun 11)
    </p>
    <p>
      <a href="PabloIrreprensible.html">133-Pablo parece decirnos que &#233;l hab&#237;a sido irreprensible en la ley de Dios, locual no es cierto.</a>
      (24 Jl 11)
    </p>
    <p>
      <a href="CristianosEvitanGT.html">134-Los cristianos pueden evitar la Gran Tribulaci&#243;n
      </a>. &nbsp; &nbsp; &nbsp; (25 Ag 11 )
    </p>
    <p>
      <a href="LasBodasDelCordero.html">135-Las Bodas del Cordero, &#191;cu&#225;ndo ocurren?
      </a> &nbsp; &nbsp; &nbsp; &nbsp; (26 Sp 11)
    </p>
    <p>
      <a href="QueObstaculizaBendiciones.html">136-Qu&#233; obstaculiza el recibir las bendiciones de Dios.</a> &nbsp; &nbsp; &nbsp; &nbsp;(25 Oc 11)
    </p>
    <p>
      <a href="DanielFosoProteccion.html">137-Por qu&#233; Daniel tuvo protecci&#243;n divina en el foso de los leones.</a> &nbsp; &nbsp; (27 Nv 11)
    </p>
    <p>
      <a href="PruebasConsecuencisPecados.html">138-No llames "pruebas" a las consecuencias de tus pecados e insensateces</a>. &nbsp; &nbsp; &nbsp;(27 Dc 11)&nbsp;
      <span style="" lang="ES-TRAD">
      </span>
    </p>
    <p>
      <a href="FidelidadAdversidadFelicidad.html">139-La fidelidad en la adversidad y la felicidad.</a> &nbsp; &nbsp; &nbsp; &nbsp;(26 En 12)
    </p>
    <p>
      <a href="PromesasDiosNoIncondicionales.html">140-Las promesas de Dios no son incondicionales</a>. &nbsp; &nbsp; &nbsp;(27 Fb 12)</p>
    <p>
      <a href="Jonas llego limpio a Ninive.html">141-Jon&#225;s lleg&#243; limpio a N&#237;nive</a>. &nbsp; &nbsp; &nbsp;(2 Mz 12)</p>
    <p>
      <a href="ComoInterpretarLasParabolas.html">142-C&#243;mo interpretar las par&#225;bolas.</a> &nbsp; &nbsp;(28 My 12)</p>
    <p>
      <a href="UtilidadOracionCristianos.html">143-Utilidad para la Iglesia, la sociedad y la Naci&#243;n de la presencia y oraci&#243;n de los cristianos</a>. &nbsp;(26
      Jn 12)</p>
    <p>
      <a href="SiDiosSabePorqueOrar.html">144-Si Dios todo lo sabe, &#191;por qu&#233; hay que orar?</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(26 Jl 12)</p>
    <p>
      <a href="FactorInterpretarBiblia.html">145-Un factor para interpretar correctamente la Biblia.</a> &nbsp; &nbsp; &nbsp;(27 Ag 12)</p>
    <p>
      <a href="BibliaUnidadMonolitica.html">146-La &nbsp;Biblia es una unidad doctrinal monol&#237;tica</a>. &nbsp; &nbsp;(30 Sp 12)</p>
    <p>
      <a href="MujeresActividades.html">147-Las mujeres no tenian "prohibidas" ciertas actividades, eran las circunstancias las que los prohib&#237;an.</a>
    </p>
    <p>
      <a href="NumerosRedondeaban.html">&nbsp;148-En la Biblia los n&#250;meros se redondeaban. 27 Nv 12</a>
    </p>
    <p>
      <a href="VeloMujerBiblica.html">149-La mujer y el velo en la &#233;poca b&#237;blica &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;26 Dc 12</a>
    </p>
    <p>
      <a href="CristoJamasAbolio.html">150-Cristo no aboli&#243; ninguna ley de Dios antes de su crucifixi&#243;n &nbsp; &nbsp; &nbsp; &nbsp;29 En 13</a>
    </p>
    <p>
      <a href="DiscutirEsBiblico.html">151-Discutir nuestras doctrinas est&#225; b&#237;blicamente autorizado &nbsp; &nbsp; &nbsp;27 Fb 13</a>
    </p>
    <p>
      <a href="NumerosRedondeaban.html"></a>
    </p>
    <p>

      <a href="Jonas%20Limpio.html">
        <br>
      </a>
    </p>
    <p style="text-align: center;" align="center">
      <b>
        <span style="font-size: 18pt;" lang="ES-TRAD">
          <a href="src/pages/index.astro">Volver a la primera pagina</a>
        </span>
      </b>
    </p>
  </div>
  </body>
</Layout>
