<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="PabloSanedrin_files/filelist.xml">
    <title>Pablo y el Sanedr&iacute;n</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>TextFit</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>2</u1:Revision>
  <u1:TotalTime>4</u1:TotalTime>
  <u1:Created>2006-01-19T23:56:00Z</u1:Created>
  <u1:LastSaved>2006-01-20T00:00:00Z</u1:LastSaved>
  <u1:Pages>1</u1:Pages>
  <u1:Words>833</u1:Words>
  <u1:Characters>4754</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>39</u1:Lines>
  <u1:Paragraphs>11</u1:Paragraphs>
  <u1:CharactersWithSpaces>5576</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD
                                                       style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>PABLO NO PARECE HABER SIDO
RABINO NI HABER PERTENECIDO AL SANEDR&Iacute;N.</span></b><span lang=ES-TRAD
                                                                style='mso-ansi-language:ES-TRAD'> <o:p></o:p></span>
    </p>

    <u8:p></u8:p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
tiempos b&iacute;blicos la influencia patriarcal era muy grande. A
trav&eacute;s de toda la Biblia vemos que los que gobernaban la sociedad eran
los ancianos. Incluso vemos en el libro de Job, que Eli&uacute; no se
atrev&iacute;a a hablar &eacute;l, mientras estuvieran hablando los mayores. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;4 <b><i style='mso-bidi-font-style:normal'>Y Eli&uacute; hab&iacute;a
esperado a Job en la disputa, porque eran m&aacute;s viejos de d&iacute;as que
&eacute;l</i></b><i style='mso-bidi-font-style:normal'>. 5 Empero viendo
Eli&uacute; que no hab&iacute;a respuesta en la boca de aquellos tres varones,
su furor se encendi&oacute;. 6 Y respondi&oacute; Eli&uacute; hijo de Barachel,
buzita, y dijo: <b>Yo soy menor de d&iacute;as y vosotros viejos; he tenido por
tanto miedo, y temido declararos mi opini&oacute;n</b></i><b>.</b>&quot; <span
                    style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(
Job 32: 4-6 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
Cuando en&nbsp; Ex 3: 16 Dios envi&oacute; a Mois&eacute;s a liberar a los
hijos de Israel de la esclavitud egipcia, <b>lo envi&oacute; a hablar con los
ancianos</b> del pueblo, se&ntilde;al de que ellos eran los que gobernaban el
pueblo. El mismo patr&oacute;n se observa cuando en&nbsp; Nm 11: 16 Dios decide
poner gente que ayuden a Mois&eacute;s a gobernar al pueblo. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;<b><i style='mso-bidi-font-style:normal'>Ve, y junta los ancianos de
Israel</i></b><i style='mso-bidi-font-style:normal'>, y diles: Jehov&aacute;,
el Dios de vuestros padres, el Dios de Abraham, de Isaac, y de Jacob, me
apareci&oacute;, diciendo: De cierto os he visitado, y visto lo que se os hace
en Egipto</i>. ( Ex 3: 16 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><u8:p>&nbsp;</u8:p>
<o:p></o:p></span></p>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;<i style='mso-bidi-font-style:normal'>Entonces Jehov&aacute; dijo a
Mois&eacute;s: <b>J&uacute;ntame setenta varones de los ancianos de Israel</b>,
que tu sabes <b>que son ancianos del pueblo y sus principales</b>, y
tr&aacute;elos a la puerta del tabern&aacute;culo del testimonio, y esperen
all&iacute; contigo</i>.&quot; ( Nm 11: 16 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
Dt 19: 12 vemos de nuevo que <b>eran los ancianos los que ten&iacute;an
potestad</b> para extraditar a un criminal y ejecutarlo. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;<i style='mso-bidi-font-style:normal'>Entonces <b>los ancianos de su
ciudad enviar&aacute;n y lo sacar&aacute;n de all&iacute;</b>, y entregarlo han
en mano del pariente del muerto, y morir&aacute;</i>.&quot; ( Dt 19: 12 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
Cuando Nuestro Se&ntilde;or Jesucristo quiso advertirle a sus disc&iacute;pulos
que &eacute;l iba a padecer y a ser muerto, les dijo que <b>lo iban a hacer los
ancianos,</b> seg&uacute;n vemos en Mt 16: 21; se&ntilde;al de que <b>eran los
ancianos los que gobernaban al pueblo</b>. Lo mismo vemos cuando los
jud&iacute;os sobornaron a los soldados para que dijeran que se hab&iacute;an
quedado dormidos, <b>los ancianos eran los que determinaban lo que se
deb&iacute;a hacer.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;
&nbsp;&nbsp;&nbsp; &quot;<i style='mso-bidi-font-style:normal'>Desde aquel
tiempo comenz&oacute; Jes&uacute;s a declarar a sus disc&iacute;pulos que le
conven&iacute;a ir a Jerusalem, y <b>padecer mucho de los ancianos,</b> y de
los pr&iacute;ncipes de los sacerdotes, y de los escribas, y ser muerto, y
resucitar al tercer d&iacute;a</i>.&quot;<span
                    style='mso-spacerun:yes'>&nbsp;&nbsp; </span>( Mt&nbsp; 16:21 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><u8:p>&nbsp;</u8:p>
<o:p></o:p></span></p>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;12 <b><i style='mso-bidi-font-style:normal'>Y juntados con los ancianos</i></b><i
                    style='mso-bidi-font-style:normal'>, y habido consejo, dieron mucho dinero a
los soldados, </i>13<i style='mso-bidi-font-style:normal'> diciendo: Decid: Sus
disc&iacute;pulos vinieron de noche, y le hurtaron, durmiendo nosotros</i>.&quot;<span
                    style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
                    style='mso-tab-count:3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
( Mt 28:12-13 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Por
&uacute;ltimo, cuando un grupo de jud&iacute;os se conjuraron para asesinar a
San Pablo, <b>ellos fueron a los ancianos,</b> para que &eacute;stos, que
ten&iacute;an la influencia suficiente con los romanos, los convencieran de que
trajeran a Pablo a consultas, a fin de asesinarlo en el camino. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;<i style='mso-bidi-font-style:normal'>Los cuales se fueron a los
pr&iacute;ncipes de los sacerdotes <b>y a los ancianos</b>, y dijeron: Nosotros
hemos hecho voto debajo de maldici&oacute;n, que no hemos de gustar nada hasta
que hayamos muerto a Pablo</i>.&quot; ( Hch 23:14 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Est&aacute;
bien claramente expuesto, que los que gobernaban la sociedad en los tiempos
b&iacute;blicos eran los ancianos</b>. A escala nacional quienes gobernaban era
<b>el conjunto de ancianos que se llamaba Sanedr&iacute;n.</b> Los
j&oacute;venes no ten&iacute;an voz ni voto en aquella sociedad. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
A&uacute;n hoy en d&iacute;a, a pesar de que el sistema patriarcal est&aacute;
obsoleto, ciertos puestos de mando no se le dan a la gente joven. Por ejemplo
en Estados Unidos para ser senador hay que tener por lo menos 30 a&ntilde;os, y
para ser presidente hay que tener 35 a&ntilde;os o m&aacute;s. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
la &eacute;poca del martirio de Esteban, Pablo ( que entonces se llamaba Saulo
) era un joven, <b>pues le aplican la palabra &quot;<u>mancebo</u>&quot;</b>. Hay
quienes piensan erradamente, que Pablo era un rabino y que era un miembro del
Sanedr&iacute;n. Todo lo antes dicho contradice profundamente ambas
afirmaciones. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <blockquote style='margin-top:5.0pt;margin-bottom:5.0pt'>

        <p class=MsoNormal><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
&quot;<i style='mso-bidi-font-style:normal'>Y ech&aacute;ndolo fuera de la
ciudad, le apedreaban; y los testigos pusieron sus vestidos a los pies de <b>un
<u>mancebo</u> que se llamaba Saulo</b></i>.&quot; ( Hch 7:58 ) <u8:p></u8:p><o:p></o:p></span></p>

    </blockquote>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>El
sanedr&iacute;n estaba formado por ancianos</b>, hombres de edad madura. <b><u>No</u>
es l&oacute;gico</b> pensar que un mancebo, como era Pablo en ese momento,
formara parte ese cuerpo gobernante. En aquella &eacute;poca era evidente el
dominio patriarcal de la sociedad. Los j&oacute;venes se callaban cuando
hablaban las personas de mayor edad. Si eso era as&iacute; en la sociedad en
general, mucho menos iba un mancebo a poder igualarse a los ancianos del
Sanedr&iacute;n. <b>Es l&oacute;gico pensar pues, que San Pablo no
perteneci&oacute; nunca al Sanedr&iacute;n</b>. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
Igual razonamiento puede hacerse para los que creen que era un rabino.
Seg&uacute;n tengo entendido <b>los rabinos ten&iacute;an que haber cumplido ya
los 30 a&ntilde;os de edad</b>. A&uacute;n el mismo Jesucristo esper&oacute;
hasta los 30 a&ntilde;os para comenzar su ministerio. Tal vez Pablo estuviera
estudiando para hacerse rabino, pero por seguro no pod&iacute;a serlo
a&uacute;n. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
Despu&eacute;s de la muerte de Esteban, siendo &eacute;l un mancebo, fue que
&eacute;l pidi&oacute; autorizaci&oacute;n a los ancianos del Sanedr&iacute;n
para perseguir a los cristianos, despu&eacute;s de lo cual ocurri&oacute; su
conversi&oacute;n en Damasco. <b>No hubo tiempo para que Pablo se convirtiera
en un anciano y pudiera pertenecer al Sanedr&iacute;n o ser un rabino</b>. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Lo
que ha confundido a algunos es que en&nbsp; Hch 8: 1 se dice que Pablo
consent&iacute;a en la muerte de Esteban. Para consentir en la muerte de
Esteban no hac&iacute;a falta pertenecer al sanedr&iacute;n, porque la morralla
que estaba apedreando a Esteban no pertenec&iacute;a a tan alto cuerpo
gubernativo y todos consent&iacute;an en la muerte de Esteban. <u8:p></u8:p><o:p></o:p></span></p>

    <p align=center style='text-align:center'><b><a href="NotesOf.astro">Volver
        al indice</a></b></p>

</div>

</body>

</html>
