<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="PactosMatrimoniosInconversos_files/filelist.xml">
    <link rel=Edit-Time-Data href="PactosMatrimoniosInconversos_files/editdata.mso">
    <!--[if !mso]>
    <style>
    v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style>
    <![endif]-->
    <title>Pactos y Matrimonios con Inconversos</title>
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:Zoom>TextFit</w:Zoom>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-parent: "";
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            font-family: "Times New Roman";
            mso-fareast-font-family: "Times New Roman";
        }

        @page Section1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.25in 1.0in 1.25in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.Section1 {
            page: Section1;
        }

        -->
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
 <u1:DocumentProperties>
  <u1:Author>HP Authorized Customer</u1:Author>
  <u1:Template>Normal</u1:Template>
  <u1:LastAuthor>HP Authorized Customer</u1:LastAuthor>
  <u1:Revision>3</u1:Revision>
  <u1:TotalTime>3</u1:TotalTime>
  <u1:Created>2006-01-19T21:06:00Z</u1:Created>
  <u1:LastSaved>2006-01-19T21:09:00Z</u1:LastSaved>
  <u1:Pages>2</u1:Pages>
  <u1:Words>538</u1:Words>
  <u1:Characters>3072</u1:Characters>
  <u1:Company> </u1:Company>
  <u1:Lines>25</u1:Lines>
  <u1:Paragraphs>7</u1:Paragraphs>
  <u1:CharactersWithSpaces>3603</u1:CharactersWithSpaces>
  <u1:Version>11.5606</u1:Version>
 </u1:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u2:WordDocument>
  <u2:Zoom>150</u2:Zoom>
  <u2:ValidateAgainstSchemas/>
  <u2:SaveIfXMLInvalid>false</u2:SaveIfXMLInvalid>
  <u2:IgnoreMixedContent>false</u2:IgnoreMixedContent>
  <u2:AlwaysShowPlaceholderText>false</u2:AlwaysShowPlaceholderText>
  <u2:BrowserLevel>MicrosoftInternetExplorer4</u2:BrowserLevel>
 </u2:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u3:LatentStyles DefLockedState="false" LatentStyleCount="156">   </u3:LatentStyles>
</xml><![endif]--><!-- Created with AOLpress/2.0 --><!--[if gte mso 9]><xml>
 <u4:shapedefaults u5:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <u6:shapelayout u7:ext="edit">
  <u6:idmap u7:ext="edit" data="1"/>
 </u6:shapelayout>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=blue style='tab-interval:.5in'>

<div class=Section1>

    <p align=center style='text-align:center'><b><span lang=ES-TRAD
                                                       style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>PACTOS Y MATRIMONIOS CON
INCONVERSOS</span></b><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Acceder
a las demandas del enemigo en vez de apoyarse en Dios para contrarrestarlo, es
un grave error</b>. Hacer pactos con los que odian a Dios conduce a esclavitud
f&iacute;sica o espiritual. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></span></p>

    <p style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>&nbsp;&nbsp;&nbsp; &quot;</span><span lang=ES-TRAD style='font-size:
7.5pt;mso-ansi-language:ES-TRAD'>13</span><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> <i style='mso-bidi-font-style:normal'>Y a los catorce a&ntilde;os del
rey Ezequ&iacute;as, subi&oacute; <b>Senaquerib rey de Asiria</b> contra todas
las ciudades fuertes de Jud&aacute;, y las tom&oacute;. </i></span><span
            lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>14</span><i
            style='mso-bidi-font-style:normal'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'> Entonces Ezequ&iacute;as rey de Jud&aacute; envi&oacute; a decir al
rey de Asiria en Lach&iacute;s: Yo he pecado; vu&eacute;lvete de m&iacute;, y
llevar&eacute; todo lo que me impusieres. Y el rey de Asiria impuso a
Ezequ&iacute;as rey de Jud&aacute; <b>trescientos talentos de plata, y treinta
talentos de oro.</b></span></i><i style='mso-bidi-font-style:normal'><span
            lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'> </span></i><span
            lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>15</span><b><span
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> <i style='mso-bidi-font-style:
normal'>Dio por tanto Ezequ&iacute;as toda la plata que fue hallada en la casa
de Jehov&aacute;,</i></span></b><i style='mso-bidi-font-style:normal'><span
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'> y en los tesoros de la casa
real. </span></i><span lang=ES-TRAD style='font-size:7.5pt;mso-ansi-language:
ES-TRAD'>16<i style='mso-bidi-font-style:normal'> </i></span><i
            style='mso-bidi-font-style:normal'><span lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Entonces descompuso Ezequ&iacute;as las puertas del templo de
Jehov&aacute;, y los quiciales que el mismo rey Ezequ&iacute;as hab&iacute;a
cubierto de oro, y lo dio al rey de Asiria. </span></i><span lang=ES-TRAD
                                                             style='font-size:7.5pt;mso-ansi-language:ES-TRAD'>17</span><span
            lang=ES-TRAD
            style='mso-ansi-language:ES-TRAD'> <b><i style='mso-bidi-font-style:normal'>Despu&eacute;s
el rey de Asiria envi&oacute; al rey Ezequ&iacute;as, desde Lach&iacute;s
contra Jerusalem, a Thart&aacute;n y a Rabsaris y a Rabsaces, con un grande
ej&eacute;rcito</i></b><i style='mso-bidi-font-style:normal'>; y subieron, y
vinieron a Jerusalem. Y habiendo subido, vinieron y pararon junto al conducto
del estanque de arriba, que es en el camino de la heredad del batanero</i>.&quot;&nbsp;<span
            style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
            style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>( II R 18:
13-17 ) <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; En
este pasaje vemos a Ezequ&iacute;as de Jud&aacute; humillarse, y humillar a su
naci&oacute;n ( 14 ) ante un rey ( o inter&eacute;s ) extranjero, haciendo
pacto con &eacute;l. Lo vemos saqueando lo que pertenec&iacute;a a Dios, para
d&aacute;rselo a su atacante ( 15-16), a fin de satisfacer a &eacute;ste; sin
que con todo ello lo logre. Senaquerib, rey de Asiria, despu&eacute;s de
obtener todo aquello que Ezequ&iacute;as de Jud&aacute; le dio para aplacarlo y
que no lo atacara, envi&oacute; sus tropas contra Jerusalem. <b>Todo lo que
Ezequ&iacute;as de Jud&aacute; le dio a su enemigo para calmarlo, s&oacute;lo
sirvi&oacute; para fortalecer m&aacute;s a&uacute;n a su atacante: ahora el
asirio ten&iacute;a m&aacute;s dinero para obtener los medios con los cuales
vencer a Ezequ&iacute;as, y &eacute;ste ten&iacute;a menos dinero para invertir
en su defensa; y todo esto lo obtuvo el enemigo, s&oacute;lo con .....palabras
y promesas.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Al
fin y al cabo, Ezequ&iacute;as termin&oacute; haciendo lo que deb&iacute;a
haber hecho desde un principio: confiar en Dios y defenderse del atacante con <b>el
&uacute;nico medio que entienden los enemigos de Dios: la fuerza.</b> Si
hubiera comenzado por ah&iacute;, hubiera salido mucho mejor, ... y con 300
talentos de plata y 30 talentos de oro m&aacute;s que lo que ahora
ten&iacute;a. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; <b>Dios
nos mantiene guardados, como rodeados de un alto muro.</b> El enemigo
(espiritual o f&iacute;sico) no puede penetrar a atacarnos... y ese enemigo lo
sabe. Por eso lo que hace es convencernos a nosotros para que salgamos fuera
del muro. <b>Eso lo hace el enemigo incit&aacute;ndonos al pecado.
Tambi&eacute;n puede incitarnos a hacer convenios con otros.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp;
Cuando nos mantenemos solamente con Dios, estamos rodeados de su
protecci&oacute;n por todas partes, como en el caso de una ciudad amurallada
con una muralla alta y gruesa todo alrededor. Ese ser&iacute;a el caso de la
ciudad &quot;A&quot;, cuyo diagrama presento a continuaci&oacute;n. Sin
embargo, cuando la ciudad &quot;A&quot; se une a la ciudad &quot;B&quot; que
est&aacute; cercana, los portillos o secciones d&eacute;biles del muro de la
ciudad &quot;B&quot; se convierten en el punto de entrada del enemigo, que
luego de entrar en &quot;B&quot; puede pasar f&aacute;cilmente al territorio de
&quot;A&quot;. <u8:p></u8:p><o:p></o:p></span></p>

    <p><span lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&nbsp;&nbsp;&nbsp; Esto
es cierto tanto en el mundo f&iacute;sico como en el espiritual. Las uniones
profundas con los enemigos de Dios debilitan las defensas de los siervos de
Dios. <b>Algo semejante ocurre cuando los creyentes se casan con los
inconversos.</b> <u8:p></u8:p><o:p></o:p></span></p>

    <p align=center style='text-align:center'><img width=653 height=876
                                                   id="_x0000_i1025" src="Ciudades_unidas_para_las_NB.jpg" border=0></p>

    <p align=center style='text-align:center'><b><a href="NotesOf.astro">Volver
        al indice</a></b></p>

</div>

</body>

</html>
