<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>5</o:Revision>
                    <o:TotalTime>19</o:TotalTime>
                    <o:Created>2011-06-28T02:48:00Z</o:Created>
                    <o:LastSaved>2011-06-28T03:07:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>1363</o:Words>
                    <o:Characters>7775</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>64</o:Lines>
                    <o:Paragraphs>18</o:Paragraphs>
                    <o:CharactersWithSpaces>9120</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Las pasiones nublan el raciocinio</TITLE>
                    <LINK rel=File-List href="PasionesNublanRaciocinio_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:9.0pt .25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;
mso-ansi-language:ES-TRAD'>Las pasiones nublan el
  raciocinio<o:p></o:p></SPAN></B>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>El
  odio<B style='mso-bidi-font-weight:normal'>,</B> la
  codicia<B style='mso-bidi-font-weight:
normal'>,</B> la envidia<B style='mso-bidi-font-weight:normal'>,</B> la
  lujuria<B style='mso-bidi-font-weight:normal'>,</B> la
  ira<B style='mso-bidi-font-weight:
normal'>,</B> la soberbia<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:normal'>.,</B> son sentimientos negativos
  que pueden f&aacute;cilmente convertirse en
  pasiones<B style='mso-bidi-font-weight:
normal'>.</B> En general<B style='mso-bidi-font-weight:normal'>,</B> las
  pasiones nublan la inteligencia<B style='mso-bidi-font-weight:normal'>,</B>
  a&uacute;n las buenas pasiones<B style='mso-bidi-font-weight:normal'>,</B>
  cuanto m&aacute;s las malas<B style='mso-bidi-font-weight:normal'>.</B> El
  caso de Balaam es muy
  aleccionador<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Dos pasiones se hab&iacute;an apoderado de Balaam:</B> la codicia
  primero y la ira despu&eacute;s<B style='mso-bidi-font-weight:normal'>.</B>
  Tan nublado se hallaba el entendimiento de Balaam por la pasi&oacute;n que
  le embargaba (ira<B style='mso-bidi-font-weight:normal'>,</B>
  soberbia)<B style='mso-bidi-font-weight:normal'>,</B> que no se dio cuenta
  de que su burra estaba dialogando con
  &eacute;l<B style='mso-bidi-font-weight:normal'>.</B> El caso de que una
  burra hable es tan inusual<B style='mso-bidi-font-weight:normal'>,</B> que
  era para que desde el primer momento en que la burra le pregunt&oacute;
  <B style='mso-bidi-font-weight:normal'>"&#191;</B>que te he
  hecho<B style='mso-bidi-font-weight:normal'>?",</B>
  Balaam<B style='mso-bidi-font-weight:
normal'>,</B> asombrado y hasta
  espantado<B style='mso-bidi-font-weight:normal'>,</B> hubiera depuesto su
  actitud<B style='mso-bidi-font-weight:normal'>.</B> Pero su iracunda pasi&oacute;n
  era tan grande y tanto le dominaba el
  intelecto<B style='mso-bidi-font-weight:normal'>,</B> que se puso a discutir
  con la burra sin percatarse que estaba presenciando un
  milagro<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>
  </SPAN><B style='mso-bidi-font-weight:normal'>"</B></SPAN><SPAN lang=ES-TRAD
                                                                  style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>28
  </SPAN><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Entonces <B style='mso-bidi-font-weight:normal'>Jehov&aacute;
  abri&oacute; la boca al asna, la cual dijo a Balaam:</B>
  <B style='mso-bidi-font-weight:
normal'>&#191;</B>Qu&eacute; te he
  hecho<B style='mso-bidi-font-weight:normal'>,</B> que me has herido estas
  tres veces<B style='mso-bidi-font-weight:normal'>?</B>
  </SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>29
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Y Balaam respondi&oacute;
  <SPAN class=GramE>al</SPAN>
  asna:</SPAN></I></B><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD
                                                                  style='mso-ansi-language:ES-TRAD'> Porque te has burlado de
  m&iacute;<B style='mso-bidi-font-weight:normal'>;</B> &#161;ojal&aacute;
  tuviera espada en mi mano<B style='mso-bidi-font-weight:normal'>,</B> que
  ahora te matar&iacute;a!
  </SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;
mso-ansi-language:ES-TRAD'>30
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y <SPAN class=GramE>el</SPAN> asna dijo a
  Balaam:</SPAN></I></B><I style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD
                                                                    style='mso-ansi-language:
ES-TRAD'> <B style='mso-bidi-font-weight:normal'>&#191;</B>No soy yo tu
  asna<B style='mso-bidi-font-weight:normal'>?</B> Sobre m&iacute; has cabalgado
  desde que t&uacute; me tienes hasta este
  d&iacute;a<B style='mso-bidi-font-weight:
normal'>;</B> <B style='mso-bidi-font-weight:normal'>&#191;</B>he acostumbrado
  a hacerlo as&iacute; contigo<B style='mso-bidi-font-weight:normal'>?</B>
  <B style='mso-bidi-font-weight:normal'>Y &eacute;l respondi&oacute;:
  No</B></SPAN></I><B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD
                                                                style='mso-ansi-language:
ES-TRAD'>."</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Nm 22<B style='mso-bidi-font-weight:normal'>:</B>28-30)
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Las pasiones
  (soberbia<B style='mso-bidi-font-weight:normal'>,</B>
  vanidad<B style='mso-bidi-font-weight:normal'>,</B>
  engreimiento<B style='mso-bidi-font-weight:
normal'>,</B> miedo<B style='mso-bidi-font-weight:normal'>,</B>
  rencor<B style='mso-bidi-font-weight:normal'>,</B>
  envidia<B style='mso-bidi-font-weight:
normal'>,</B> codicia<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:normal'>.</B>) ciegan el entendimiento
  del ser humano<B style='mso-bidi-font-weight:normal'>.</B> Cada vez que he
  discutido con alguien que reh&uacute;sa entender argumentos
  claros<B style='mso-bidi-font-weight:
normal'>,</B> y claramente
  expuestos<B style='mso-bidi-font-weight:normal'>,</B> he podido ver interpuesta
  entre nosotros<B style='mso-bidi-font-weight:normal'>,</B> una o m&aacute;s
  pasiones por parte de mi
  interlocutor<B style='mso-bidi-font-weight:
normal'>.</B> Me ha tocado discutir con muchos
  burros<B style='mso-bidi-font-weight:
normal'>,</B> que lo son por entregarse a las
  pasiones<B style='mso-bidi-font-weight:
normal'>.</B> Y si bien estos burros hablan sin milagro
  alguno<B style='mso-bidi-font-weight:normal'>,</B> se requiere un verdadero
  milagro para que estos burros
  razonen<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Otro caso b&iacute;blico</B> de una o m&aacute;s pasiones nublando
  la inteligencia<B style='mso-bidi-font-weight:normal'>,</B> es el de los
  sacerdotes y la resurrecci&oacute;n de
  L&aacute;zaro<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Ha sido una
  observaci&oacute;n m&iacute;a por muchos a&ntilde;os
  (d&eacute;cadas)<B style='mso-bidi-font-weight:normal'>,</B> que cuando
  alg&uacute;n tipo de sentimiento se mezcla en el an&aacute;lisis de un
  asunto<B style='mso-bidi-font-weight:
normal'>,</B> el humano no puede aplicar la l&oacute;gica y el
  raciocinio<B style='mso-bidi-font-weight:normal'>,</B> o s&oacute;lo lo hace
  parcialmente<B style='mso-bidi-font-weight:normal'>.</B> Esta dificultad
  se hace mayor cuanto mayor es el sentimiento que se
  mezcla<B style='mso-bidi-font-weight:normal'>,</B> llegando a hacer crisis
  cuando el sentimiento llega a convertirse en
  pasi&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> y
  &eacute;sta<B style='mso-bidi-font-weight:normal'>,</B> en pasi&oacute;n
  desordenada y sin freno<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Este fue el caso
  de los pr&iacute;ncipes de los sacerdotes en este
  pasaje<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>La pasi&oacute;n de
  ellos era el odio, por el temor de que Jesucristo los desplazara a ellos
  de su posici&oacute;n sacerdotal de preeminencia.</B> Su odio era
  tanto<B style='mso-bidi-font-weight:normal'>,</B> que en vez de razonar que
  quien hab&iacute;a resucitado a L&aacute;zaro ten&iacute;a que provenir de
  Dios<B style='mso-bidi-font-weight:normal'>,</B> lo que se les ocurre es
  matar a L&aacute;zaro<B style='mso-bidi-font-weight:normal'>,</B> porque
  &eacute;ste constitu&iacute;a la prueba viviente de que ellos estaban equivocados
  al no aceptar a Jes&uacute;s como
  Mes&iacute;as<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify;tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>
  </SPAN><B style='mso-bidi-font-weight:normal'>"</B></SPAN><SPAN lang=ES-TRAD
                                                                  style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>9
  </SPAN><I style='mso-bidi-font-style:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Entonces mucha
  gente de los jud&iacute;os entendi&oacute; que &eacute;l estaba
  all&iacute;<B style='mso-bidi-font-weight:normal'>;</B> y vinieron no solamente
  por causa de Jes&uacute;s<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:
normal'>mas tambi&eacute;n por ver a L&aacute;zaro,</B> al cual hab&iacute;a
  resucitado de los muertos<B style='mso-bidi-font-weight:normal'>.</B>
  </SPAN></I><SPAN lang=ES-TRAD style='font-size:8.0pt;mso-ansi-language:ES-TRAD'>10
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Consultaron asimismo <U>los
  pr&iacute;ncipes de los sacerdotes</U>, de <U>matar tambi&eacute;n a
  L&aacute;zaro</U>;
  </SPAN></I></B><SPAN lang=ES-TRAD style='font-size:8.0pt;
mso-ansi-language:ES-TRAD'>11
  </SPAN><B style='mso-bidi-font-weight:normal'><I style='mso-bidi-font-style:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>porque muchos de los jud&iacute;os iban y cre&iacute;an en Jes&uacute;s
  por causa de
  &eacute;l</SPAN></I></B><B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>."</SPAN></B><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;</SPAN>(Jn
  12<B style='mso-bidi-font-weight:normal'>:</B>9-11) <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Cualquiera pudiera
  creer que es imposible tan total colapso del
  raciocinio<B style='mso-bidi-font-weight:
normal'>,</B> pero no pensar&iacute;a igual si como
  yo<B style='mso-bidi-font-weight:
normal'>,</B> hubiera observado c&oacute;mo incluso a una persona se le atrofia
  la facultad de razonar de mero no usarla por
  a&ntilde;os<B style='mso-bidi-font-weight:
normal'>.</B> Los he conocido que solamente razonan con l&oacute;gica en
  su giro de actividad<B style='mso-bidi-font-weight:normal'>,</B> en su oficio
  o profesi&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> en donde fueron
  adiestrados a hacerlo antes de que ciertas pasiones se apoderaran de
  ellos<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Los he conocido
  que <B style='mso-bidi-font-weight:normal'>por vagancia mental han atrofiado
  esa bella facultad humana,</B> hasta el punto de no poder usarla en nada
  que no sea lo que ya constituye un camino trillado en su sistema
  nervioso<B style='mso-bidi-font-weight:
normal'>.</B> Trillo este fabricado m&aacute;s bien que por reacciones
  volitivas<B style='mso-bidi-font-weight:normal'>,</B> por reflejos defensivos
  para la supervivencia en sociedad<B style='mso-bidi-font-weight:normal'>.</B>
  Desarrollan as&iacute; una astucia felina que luego no se conjuga con su
  actividad mental y su inteligencia
  deficientes<B style='mso-bidi-font-weight:normal'>,</B> fuera de la esfera
  de actividades correspondientes a su supervivencia
  social<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Ejemplos de esto
  ser&iacute;an la capacidad para los
  negocios<B style='mso-bidi-font-weight:
normal'>,</B> para la mentira<B style='mso-bidi-font-weight:normal'>,</B>
  para halagar y obtener lo que
  quieren<B style='mso-bidi-font-weight:normal'>,</B> para conquistar al sexo
  opuesto<B style='mso-bidi-font-weight:normal'>,</B> para su
  oficio<B style='mso-bidi-font-weight:normal'>,</B>
  <SPAN class=GramE>etc<B style='mso-bidi-font-weight:normal'>..</B></SPAN>
  Son incre&iacute;blemente sagaces para un determinado giro de
  actividad<B style='mso-bidi-font-weight:
normal'>,</B> relacionada con el tipo de supervivencia social que han
  elegido<B style='mso-bidi-font-weight:normal'>,</B> y son a la vez
  incre&iacute;blemente incapaces de razonar en ning&uacute;n otro
  sentido<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Tal vez la
  explicaci&oacute;n de esta an&oacute;mala polarizaci&oacute;n en el uso del
  raciocinio<B style='mso-bidi-font-weight:normal'>,</B> sea el que fueron
  adiestrados a razonar sin dar lugar a las pasiones s&oacute;lo en ese giro
  de actividad<B style='mso-bidi-font-weight:normal'>,</B> cuando a&uacute;n
  eran ni&ntilde;os o muy
  j&oacute;venes<B style='mso-bidi-font-weight:normal'>.</B> Tambi&eacute;n
  pudiera explicarlo el hecho de que fueron instruidos a aceptar
  dogm&aacute;ticamente las premisas en que se basa su oficio o giro de
  actividad<B style='mso-bidi-font-weight:normal'>.</B> Por suerte para ellos
  esas premisas eran ciertas<B style='mso-bidi-font-weight:normal'>,</B> y
  a partir de ah&iacute;<B style='mso-bidi-font-weight:normal'>,</B> con un
  rudimentario proceso de
  raciocinio<B style='mso-bidi-font-weight:normal'>,</B> pueden llegar a
  conclusiones correctas<B style='mso-bidi-font-weight:normal'>.</B> Sobre
  todo porque en la mayor parte de los
  casos<B style='mso-bidi-font-weight:normal'>,</B> tambi&eacute;n se les
  inculc&oacute; en aquella temprana edad el uso de la raz&oacute;n
  mec&aacute;nicamente<B style='mso-bidi-font-weight:normal'>,</B> a partir
  de las premisas antes mencionadas<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>No es que
  <B style='mso-bidi-font-weight:normal'>no puedan</B>
  razonar<B style='mso-bidi-font-weight:
normal'>,</B> es que hacen dejaci&oacute;n de esa
  facultad<B style='mso-bidi-font-weight:
normal'>,</B> porque los lleva a desagradables
  conclusiones<B style='mso-bidi-font-weight:
normal'>,</B> y prefieren refugiarse en lo instintivo y / o en el uso de
  procesos de <B style='mso-bidi-font-weight:normal'><U>razonamiento
  condicionado</U>,</B> que existen<B style='mso-bidi-font-weight:normal'>,</B>
  tal y como existe el reflejo
  condicionado<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Los tipos de
  sentimientos y pasiones que obnubilan el raciocinio son
  muchos<B style='mso-bidi-font-weight:normal'>:</B> el instinto de
  conservaci&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> el
  orgullo<B style='mso-bidi-font-weight:
normal'>,</B> la soberbia<B style='mso-bidi-font-weight:normal'>,</B> el
  odio<B style='mso-bidi-font-weight:normal'>,</B> la
  frustraci&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> la
  envidia<B style='mso-bidi-font-weight:
normal'>,</B> el ego&iacute;smo<B style='mso-bidi-font-weight:normal'>,</B>
  la ira<B style='mso-bidi-font-weight:normal'>,</B> el exceso de amor hacia
  algo o alguien<B style='mso-bidi-font-weight:normal'>,</B> el delirio de
  grandeza<B style='mso-bidi-font-weight:normal'>,</B> la pasi&oacute;n por
  la fama<B style='mso-bidi-font-weight:normal'>,</B> la
  egolatr&iacute;a<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:
normal'>..</B> <B style='mso-bidi-font-weight:normal'>Todo esto puede condensarse
  en dos causas primarias o fundamentales: o no se ama a Dios por sobre todas
  las cosas, o no se ama al pr&oacute;jimo como a uno mismo, o ambas.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>Al fallar
  esto<B style='mso-bidi-font-weight:normal'>,</B> se ama al hijito propio
  tanto<B style='mso-bidi-font-weight:normal'>,</B> en comparaci&oacute;n con
  el ajeno<B style='mso-bidi-font-weight:normal'>,</B> que el humano no puede
  ver que su hijo <B style='mso-bidi-font-weight:normal'><U>no</U></B> es el
  que tiene la raz&oacute;n<B style='mso-bidi-font-weight:normal'>.</B> Puede
  darse el caso contrario<B style='mso-bidi-font-weight:normal'>,</B> por amarse
  tanto a s&iacute; mismo<B style='mso-bidi-font-weight:normal'>,</B> teme
  tanto un enfrentamiento con el padre del otro
  ni&ntilde;o<B style='mso-bidi-font-weight:
normal'>,</B> que le quita la raz&oacute;n al suyo y no puede
  ver<B style='mso-bidi-font-weight:normal'>,</B> o no quiere ver que la
  tiene<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Las masas llenas de envidia</B> odian al rico aunque nada conozcan
  de &eacute;l<B style='mso-bidi-font-weight:normal'>;</B> le dan la raz&oacute;n
  al que lo ataca aunque no conozcan el
  caso<B style='mso-bidi-font-weight:normal'>.</B> El rico eg&oacute;latra
  no concibe la resistencia del pobre a sus
  caprichos<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>No te ves t&uacute; quien
  eres<B style='mso-bidi-font-weight:normal'>?,</B> piensa el personaje importante
  en su trato con el de menos valor
  social<B style='mso-bidi-font-weight:normal'>.</B> Se creen de verdad con
  derecho a disfrutar de lujos excesivos a costa del hambre de
  otros<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>"</B>Los pobres est&aacute;n
  acostumbrados a esa vida y no necesitan salir de
  ella<B style='mso-bidi-font-weight:normal'>",</B>
  piensan<B style='mso-bidi-font-weight:
normal'>,</B> mientras le sacan m&aacute;s jugo a los de
  abajo<B style='mso-bidi-font-weight:normal'>.</B> La
  codicia<B style='mso-bidi-font-weight:
normal'>,</B> el orgullo<B style='mso-bidi-font-weight:normal'>,</B> y
  dem&aacute;s pasiones no les dejan ver que se hallan en el borde del precipicio
  de una conmoci&oacute;n social<B style='mso-bidi-font-weight:normal'>,</B>
  y por eso al fin la sufren<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Si los que tienen su inteligencia nublada por medio de las pasiones
  nos permitieran llevarles el proceso de raciocinio hasta sus &uacute;ltimas
  consecuencias,</B> llegar&iacute;an a verse sin
  justificaci&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'><U>Por eso lo evitan</U>.</B> Por
  eso no aceptan discutir sus opiniones blandiendo diversos
  <B style='mso-bidi-font-weight:normal'>"</B>nobles<B style='mso-bidi-font-weight:normal'>"</B>
  pretextos<B style='mso-bidi-font-weight:
normal'>.</B> Por medio de un procedimiento defensivo
  subconsciente<B style='mso-bidi-font-weight:normal'>,</B> ellos mantienen
  el proceso de razonar en sus capas m&aacute;s
  superficiales<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp; </SPAN>En esas capas
  superficiales del raciocinio ya ellos han construido un andamiaje de razonamiento
  auto-justificador<B style='mso-bidi-font-weight:normal'>.</B> Ese andamiaje
  auto-justificador pudiera tener consistencia l&oacute;gica
  interna<B style='mso-bidi-font-weight:normal'>,</B> pero basarse en premisas
  falsas<B style='mso-bidi-font-weight:normal'>,</B> o en un sub-andamiaje
  sin consistencia l&oacute;gica
  interna<B style='mso-bidi-font-weight:normal'>.</B>
  Incluso<B style='mso-bidi-font-weight:normal'>,</B> tal vez ese sub-andamiaje
  mencionado es l&oacute;gico<B style='mso-bidi-font-weight:normal'>,</B> pero
  puede que est&eacute; basado a su vez en un segundo
  sub-andamiaje<B style='mso-bidi-font-weight:
normal'>,</B> que es el que<B style='mso-bidi-font-weight:normal'>,</B> o
  no tiene consistencia l&oacute;gica
  interna<B style='mso-bidi-font-weight:normal'>,</B> o est&aacute; basado
  en falsas premisas<B style='mso-bidi-font-weight:normal'>,</B> o
  ambas<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>En personas m&aacute;s inteligentes o m&aacute;s complejas,</B> hay
  que buscar a veces hasta un tercer o cuarto sub-andamiaje para poder llegar
  al origen de su error<B style='mso-bidi-font-weight:normal'>,</B> o para
  hallar <B style='mso-bidi-font-weight:normal'>la falsedad tras la cual ocultan
  su maldad.</B> Es a veces muy profundamente donde venimos a descubrirles
  la falsa premisa de la que parten<B style='mso-bidi-font-weight:normal'>,</B>
  o el eslab&oacute;n falso en su cadena de
  razonamiento<B style='mso-bidi-font-weight:normal'>,</B> el eslab&oacute;n
  roto que hace a una cadena
  in&uacute;til<B style='mso-bidi-font-weight:
normal'>.</B> Por eso se justifican con sus
  palabras<B style='mso-bidi-font-weight:
normal'>,</B> pero no permiten que nadie lleve el proceso de raciocinio lo
  suficientemente profundo como para que se descubra la falsedad de su aparente
  honestidad o justicia<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Mientras m&aacute;s sub-andamiajes de razonamiento separen al error
  discutido</B> del sub-andamiaje sin consistencia l&oacute;gica
  interna<B style='mso-bidi-font-weight:normal'>,</B> o de la errada premisa
  que lo sustenta<B style='mso-bidi-font-weight:normal'>,</B> tanto m&aacute;s
  dif&iacute;cil va a ser para el que quiere buscar la
  verdad<B style='mso-bidi-font-weight:
normal'>,</B> encontrarla<B style='mso-bidi-font-weight:normal'>.</B> Y tanto
  m&aacute;s imposible va ser (admitamos el disparate
  gramatical)<B style='mso-bidi-font-weight:normal'>,</B> demostrarle d&oacute;nde
  est&aacute; su error<B style='mso-bidi-font-weight:normal'>,</B> al que no
  quiere hallar la verdad porque &eacute;sta le
  lastima<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:9.0pt .25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Los pr&iacute;ncipes de los sacerdotes no pod&iacute;an razonar</B>
  que Jes&uacute;s ten&iacute;a que ser el
  Mes&iacute;as<B style='mso-bidi-font-weight:
normal'>;</B> no pod&iacute;an razonar que les conven&iacute;a estar con
  el Mes&iacute;as<B style='mso-bidi-font-weight:normal'>;</B> sus
  pasiones<B style='mso-bidi-font-weight:normal'>:</B>
  orgullo<B style='mso-bidi-font-weight:
normal'>,</B> vanidad<B style='mso-bidi-font-weight:normal'>,</B>
  odio<B style='mso-bidi-font-weight:normal'>,</B>
  egolatr&iacute;a<B style='mso-bidi-font-weight:
normal'>,</B> etc<B style='mso-bidi-font-weight:normal'>.,</B> se lo
  imped&iacute;an<B style='mso-bidi-font-weight:normal'>.</B> As&iacute;
  tambi&eacute;n <SPAN class=GramE>le</SPAN> sucede a los &aacute;ngeles
  rebelados<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P align=center style='text-align:center;tab-stops:9.0pt .25in'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><A HREF="NotesOf.astro">Volver al
  &iacute;ndice<o:p></o:p></A></SPAN></B>
</DIV>
</BODY>
</HTML>
