<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>8</o:Revision>
                    <o:TotalTime>59</o:TotalTime>
                    <o:Created>2010-12-28T00:38:00Z</o:Created>
                    <o:LastSaved>2010-12-28T18:14:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>2599</o:Words>
                    <o:Characters>14820</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>123</o:Lines>
                    <o:Paragraphs>34</o:Paragraphs>
                    <o:CharactersWithSpaces>17385</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            mso-margin-top-alt: auto;
                            margin-right: 0in;
                            mso-margin-bottom-alt: auto;
                            margin-left: 0in;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.SpellE {
                            mso-style-name: "";
                            mso-spl-e: yes;
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="3074"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>La visi&oacute;n de Pedro y la supuesta limpieza de todos los animales</TITLE>
                    <LINK rel=File-List href="PedroVisionAnimales_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>La
  visi&oacute;n de Pedro y la supuesta limpieza de todos los
  animales<o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Lo primero que debemos tener en cuenta al leer este pasaje es que
  <B style='mso-bidi-font-weight:normal'>esta visi&oacute;n est&aacute; ocurriendo
  aproximadamente once a&ntilde;os despu&eacute;s de que Pedro conociera a
  Cristo por primera vez.</B> Durante tres a&ntilde;os y medio Jes&uacute;s
  estuvo inculcando en sus disc&iacute;pulos las doctrinas
  correctas<B style='mso-bidi-font-weight:normal'>.</B>
  Luego<B style='mso-bidi-font-weight:normal'>,</B> durante otros 8 a&ntilde;os
  aproximadamente<B style='mso-bidi-font-weight:normal'>,</B> gracias al
  Esp&iacute;ritu Santo<B style='mso-bidi-font-weight:normal'>,</B> los
  ap&oacute;stoles reafirmaron lo aprendido de
  Jes&uacute;s<B style='mso-bidi-font-weight:
normal'>,</B> lo practicaron<B style='mso-bidi-font-weight:normal'>,</B>
  y ense&ntilde;aron a otros esas
  doctrinas<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Ser&iacute;a il&oacute;gico, y m&aacute;s
  a&uacute;n, absurdo, pensar que once a&ntilde;os despu&eacute;s de haber
  comenzado su aprendizaje a los pies de Jesucristo, todav&iacute;a los
  ap&oacute;stoles no supieran cu&aacute;les eran las doctrinas correctas.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Pues bien<B style='mso-bidi-font-weight:normal'>,</B> sentado este
  precedente<B style='mso-bidi-font-weight:normal'>,</B> vamos a echarle una
  profunda mirada a la estructura mental de San
  Pedro<B style='mso-bidi-font-weight:normal'>.</B> Vamos a ver qu&eacute;
  era lo que &eacute;l cre&iacute;a sobre el comer carne de
  puerco<B style='mso-bidi-font-weight:normal'>,</B>
  cangrejo<B style='mso-bidi-font-weight:normal'>,</B>
  <SPAN class=GramE>etc<B style='mso-bidi-font-weight:normal'>..</B></SPAN>
  Cuando en el vers&iacute;culo 13 la voz del Se&ntilde;or le
  dijo<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>Lev&aacute;ntate Pedro<B style='mso-bidi-font-weight:normal'>,</B>
  mata y come</I><B style='mso-bidi-font-weight:normal'>&#148;,</B> Pedro
  replic&oacute;<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:
normal'>&#147;</B><I style='mso-bidi-font-style:normal'>Se&ntilde;or<B style='mso-bidi-font-weight:normal'>,</B>
  no<B style='mso-bidi-font-weight:
normal'>;</B> porque ninguna cosa com&uacute;n e inmunda
  <B style='mso-bidi-font-weight:
normal'>he comido
  <U>jam&aacute;s</U></B></I><B style='mso-bidi-font-weight:
normal'>.&#148;</B> Pedro no le respondi&oacute; diciendo algo as&iacute;
  como<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>S&iacute;<B style='mso-bidi-font-weight:normal'>,</B>
  Se&ntilde;or<B style='mso-bidi-font-weight:
normal'>,</B> voy a hacerlo
  inmediatamente<B style='mso-bidi-font-weight:normal'>,</B> porque t&uacute;
  me ense&ntilde;aste cuando predicabas que ya se iba a poder comer de
  todo<B style='mso-bidi-font-weight:normal'>&#148;.</B> Tampoco le
  respondi&oacute;<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>S&iacute;<B style='mso-bidi-font-weight:
normal'>,</B> Se&ntilde;or<B style='mso-bidi-font-weight:normal'>,</B> voy
  a comer <SPAN class=GramE>cualquier</SPAN>
  cosa<B style='mso-bidi-font-weight:
normal'>,</B> porque despu&eacute;s de tu partida el Esp&iacute;ritu Santo
  nos revel&oacute; que ya se pod&iacute;an comer los animales que antes t&uacute;
  prohib&iacute;as comer<B style='mso-bidi-font-weight:normal'>&#148;.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Si Pedro no respondi&oacute; as&iacute; es porque los ap&oacute;stoles
  no hab&iacute;an recibido ninguna ense&ntilde;anza ni revelaci&oacute;n
  ense&ntilde;&aacute;ndoles que se pod&iacute;an comer de
  todo<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Si en su estructura mental Pedro hubiera
  tenido el conocimiento, o la idea, de que esos animales ya se pod&iacute;an
  comer, &eacute;l no hubiera osado responderle al Se&ntilde;or que esos animales
  no se com&iacute;an; simplemente se hubiera levantado para cumplir la orden
  del Se&ntilde;or Jesucristo.</B> Desde el momento que Pedro puso objeciones
  al Se&ntilde;or es porque &eacute;l nunca hab&iacute;a aprendido ni de Cristo
  ni del Esp&iacute;ritu Santo ni de los otros
  ap&oacute;stoles<B style='mso-bidi-font-weight:
normal'>,</B> que los animales prohibidos se pod&iacute;an comer
  <B style='mso-bidi-font-weight:normal'>&#147;</B>ahora<B style='mso-bidi-font-weight:
normal'>&#148;.</B> <B style='mso-bidi-font-weight:normal'>No es l&oacute;gico
  pensar que ahora, once a&ntilde;os despu&eacute;s, era que se les iba a
  ense&ntilde;ar que "ya" se pod&iacute;a comer de todos los animales.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Por lo pronto no se puede negar que
  <B style='mso-bidi-font-weight:normal'>hasta el momento de recibir esta
  visi&oacute;n, San Pedro no hab&iacute;a aprendido que se pod&iacute;an comer
  los animales que antes Dios hab&iacute;a prohibido.</B> Veamos ahora si esta
  visi&oacute;n le fue dada para que el cristiano cambiara su limpia dieta
  por una dieta asquerosa<B style='mso-bidi-font-weight:normal'>,</B> donde
  podr&iacute;a comer ara&ntilde;as
  peludas<B style='mso-bidi-font-weight:normal'>,</B>
  moscas<B style='mso-bidi-font-weight:normal'>,</B>
  gusanos<B style='mso-bidi-font-weight:
normal'>,</B> lagartijas<B style='mso-bidi-font-weight:normal'>,</B>
  serpientes<B style='mso-bidi-font-weight:normal'>,</B>
  camarones<B style='mso-bidi-font-weight:
normal'>,</B> puerco<B style='mso-bidi-font-weight:normal'>,</B>
  morcilla<B style='mso-bidi-font-weight:normal'>,</B> carne
  humana<B style='mso-bidi-font-weight:
normal'>,</B> etc<B style='mso-bidi-font-weight:normal'>..</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Muchas personas estiman que esta visi&oacute;n de San Pedro fue dada
  para <SPAN class=GramE>indicarle</SPAN> a los cristianos que pod&iacute;an
  comer cualquier animal<B style='mso-bidi-font-weight:
normal'>.</B> Raz&oacute;n hay para mal-interpretarlo as&iacute; de primera
  impresi&oacute;n<B style='mso-bidi-font-weight:normal'>;</B> y yo
  personalmente<B style='mso-bidi-font-weight:normal'>,</B> al principio de
  leer la Biblia<B style='mso-bidi-font-weight:normal'>,</B> tambi&eacute;n
  me lo cre&iacute; por un tiempo<B style='mso-bidi-font-weight:normal'>.</B>
  Sin embargo<B style='mso-bidi-font-weight:normal'>,</B> a poco que uno analice
  el caso repara en el error<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:
normal'>Esta visi&oacute;n no fue dada para que el cristiano comiera de todo,
  sino para que los jud&iacute;os dejaran su escr&uacute;pulo
  <U>tradicional</U>, en el sentido de que <U>no se juntaban con los
  gentiles</U>.</B> En muchos pasajes de la Escritura se dice o se trasluce
  el que los jud&iacute;os consideraban abominable el juntarse con un
  gentil<B style='mso-bidi-font-weight:
normal'>,</B> como se ve Hch
  10<B style='mso-bidi-font-weight:normal'>:</B>28<B style='mso-bidi-font-weight:normal'>.</B>
  Eso de no juntarse con los gentiles no era un mandamiento de
  Dios<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>sino una costumbre que ellos hab&iacute;an
  adoptado, una de sus farisaicas tradiciones.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&#147;</SPAN></B><I
            style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>Y les dijo<B style='mso-bidi-font-weight:normal'>:</B> Vosotros
  sab&eacute;is que <B style='mso-bidi-font-weight:normal'>es abominable a
  un var&oacute;n jud&iacute;o juntarse o llegarse a extranjero;</B> mas me
  ha mostrado Dios que <B style='mso-bidi-font-weight:normal'>a <U>ning&uacute;n
  hombre</U> llame com&uacute;n o
  inmundo</B></SPAN></I><B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&#148;</SPAN></B><SPAN
            lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <SPAN style='mso-tab-count:
6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 10<B style='mso-bidi-font-weight:normal'>:</B>28)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><SPAN
          style='mso-spacerun:yes'>&nbsp;&nbsp; </SPAN>Para cambiar esa actitud contra
  los gentiles<B style='mso-bidi-font-weight:normal'>,</B> en los
  disc&iacute;pulos<B style='mso-bidi-font-weight:normal'>,</B> es que el
  Se&ntilde;or le dio a Pedro esta
  visi&oacute;n<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>Analicemos.</B> Desde
  que comienza el cap&iacute;tulo a narrar el episodio de
  Cornelio<B style='mso-bidi-font-weight:normal'>,</B> (episodio que finaliza
  con la introducci&oacute;n de los gentiles al
  evangelio)<B style='mso-bidi-font-weight:
normal'>,</B> se comienza a ligar la visi&oacute;n de Pedro con la venida
  de los enviados de Cornelio<B style='mso-bidi-font-weight:normal'>;</B> por
  lo tanto<B style='mso-bidi-font-weight:normal'>,</B> no es una visi&oacute;n
  para el cambio de dieta de los
  cristianos<B style='mso-bidi-font-weight:normal'>,</B> sino para el mismo
  asunto<B style='mso-bidi-font-weight:normal'>,</B> su tradici&oacute;n de
  juntarse con los gentiles<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>As&iacute; vemos c&oacute;mo
  liga el autor, en el vers&iacute;culo 9, la llegada de los emisarios a la
  ciudad, con la subida de Pedro a la azotea para orar.</B> Ya vimos en el
  vers&iacute;culo 28 c&oacute;mo
  <B style='mso-bidi-font-weight:
normal'><U>espec&iacute;ficamente</U></B> dice que
  <B style='mso-bidi-font-weight:
normal'>el prop&oacute;sito de la visi&oacute;n era el de hacerles ver a
  los jud&iacute;os que pod&iacute;an juntarse con los gentiles, lo cual nunca
  estuvo prohibido, eran costumbres y tradiciones.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B>1
  <I style='mso-bidi-font-style:
normal'>Y hab&iacute;a un var&oacute;n en <SPAN class=SpellE>Cesarea</SPAN>
  llamado Cornelio<B style='mso-bidi-font-weight:normal'>,</B> centuri&oacute;n
  de la compa&ntilde;&iacute;a que se llamaba la
  Italiana<B style='mso-bidi-font-weight:
normal'>,</B> 2 p&iacute;o y temeroso de Dios con toda su
  casa<B style='mso-bidi-font-weight:normal'>,</B> y que hac&iacute;a muchas
  limosnas al pueblo<B style='mso-bidi-font-weight:normal'>,</B> y oraba a
  Dios siempre<B style='mso-bidi-font-weight:normal'>.</B> 3 &Eacute;ste vio
  en visi&oacute;n manifiestamente<B style='mso-bidi-font-weight:normal'>,</B>
  como a la hora nona del d&iacute;a<B style='mso-bidi-font-weight:normal'>,</B>
  que un &aacute;ngel de Dios entraba a
  &eacute;l<B style='mso-bidi-font-weight:normal'>,</B> y le
  dec&iacute;a<B style='mso-bidi-font-weight:normal'>:</B>
  Cornelio<B style='mso-bidi-font-weight:normal'>.</B> 4 Y
  &eacute;l<B style='mso-bidi-font-weight:
normal'>,</B> puestos en &eacute;l los
  ojos<B style='mso-bidi-font-weight:normal'>,</B>
  espantado<B style='mso-bidi-font-weight:normal'>,</B>
  dijo<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>&#191;</B>Qu&eacute;
  es<B style='mso-bidi-font-weight:normal'>,</B>
  Se&ntilde;or<B style='mso-bidi-font-weight:
normal'>?</B> Y le dijo<B style='mso-bidi-font-weight:normal'>:</B> Tus oraciones
  y tus limosnas han subido en memoria a la presencia de
  Dios<B style='mso-bidi-font-weight:normal'>.</B> 5 Env&iacute;a pues ahora
  hombres a
  <SPAN class=SpellE>Joppe</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
  y haz venir a un Sim&oacute;n<B style='mso-bidi-font-weight:normal'>,</B>
  que tiene por sobrenombre Pedro<B style='mso-bidi-font-weight:normal'>.</B>
  6 Este posa en casa de un
  Sim&oacute;n<B style='mso-bidi-font-weight:normal'>,</B>
  curtidor<B style='mso-bidi-font-weight:normal'>,</B> que tiene su casa junto
  a la mar<B style='mso-bidi-font-weight:normal'>;</B> &eacute;l te dir&aacute;
  lo que te conviene hacer<B style='mso-bidi-font-weight:normal'>.</B> 7 E
  ido el &aacute;ngel que hablaba con
  Cornelio<B style='mso-bidi-font-weight:normal'>,</B> llam&oacute; dos de
  sus criados<B style='mso-bidi-font-weight:normal'>,</B> y un devoto soldado
  de los que le asist&iacute;an<B style='mso-bidi-font-weight:
normal'>;</B> 8 a los cuales<B style='mso-bidi-font-weight:normal'>,</B>
  despu&eacute;s de hab&eacute;rselo contado
  todo<B style='mso-bidi-font-weight:
normal'>,</B> los envi&oacute; a
  <SPAN class=SpellE>Joppe</SPAN><B style='mso-bidi-font-weight:normal'>.</B>
  9 <B style='mso-bidi-font-weight:
normal'>Y al d&iacute;a siguiente, yendo ellos su camino, y <U>llegando cerca
  de la ciudad</U>,<SPAN style='mso-spacerun:yes'>&nbsp; </SPAN><U>Pedro
  subi&oacute; a la azotea a orar, cerca de la hora de
  sexta</U></B></I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
  <SPAN style='mso-tab-count:
6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 10<B style='mso-bidi-font-weight:normal'>:</B>1-9)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Ya comenzada la visi&oacute;n de
  Pedro<B style='mso-bidi-font-weight:normal'>,</B> se ve en el vers&iacute;culo
  12 que en aquel lienzo hab&iacute;a de todos los
  <B style='mso-bidi-font-weight:normal'><U>animales cuadr&uacute;pedos de
  la tierra</U>,
  <SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><U>reptiles</U> y <U>aves del
  cielo</U>.</B> Si fu&eacute;ramos a pensar que esta visi&oacute;n se tra&iacute;a
  para permitir comer cualquier cosa a los
  cristianos<B style='mso-bidi-font-weight:
normal'>,</B> tendr&iacute;amos que admitir que nada se
  estatuy&oacute;<B style='mso-bidi-font-weight:normal'>,</B> o nada se
  <B style='mso-bidi-font-weight:
normal'>&#147;</B>moderniz&oacute;<B style='mso-bidi-font-weight:normal'>&#148;</B>
  <B style='mso-bidi-font-weight:normal'>en cuanto a los animales
  acu&aacute;ticos,</B> puesto que &eacute;stos no aparecen en el
  lienzo<B style='mso-bidi-font-weight:normal'>.</B> Si fu&eacute;ramos a creer
  que esta visi&oacute;n se hac&iacute;a para cambiar la
  dieta<B style='mso-bidi-font-weight:
normal'>,</B> ser&iacute;a cosa de
  preguntarse<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>a)</B> si no se puede
  comer ning&uacute;n animal
  acu&aacute;tico<B style='mso-bidi-font-weight:normal'>,</B> dado que no se
  mencionaron como limpiados en la
  visi&oacute;n<B style='mso-bidi-font-weight:normal'>;</B>
  <B style='mso-bidi-font-weight:normal'>b)</B> si en estos permanece vigente
  la prohibici&oacute;n de Dios<B style='mso-bidi-font-weight:
normal'>;</B> o<SPAN style='mso-spacerun:yes'>&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>c)</B> si aunque no se mencionaran
  en la visi&oacute;n los &iacute;bamos a incluir entre los comestibles
  <B style='mso-bidi-font-weight:normal'>&#147;</B>de a porque
  s&iacute;<B style='mso-bidi-font-weight:normal'>&#148;.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Me hace pensar todo esto<B style='mso-bidi-font-weight:normal'>,</B>
  que <B style='mso-bidi-font-weight:
normal'>si la visi&oacute;n hubiera sido dada con el objeto de
  <SPAN class=GramE>modificarle</SPAN> la dieta a los cristianos, se hubiera
  incluido en ella los animales acu&aacute;ticos;</B> no iban a pas&aacute;rseles
  por alto a quien daba la
  visi&oacute;n<B style='mso-bidi-font-weight:normal'>.</B> No
  obstante<B style='mso-bidi-font-weight:normal'>,</B> si lo de los animales
  all&iacute; mostrados era s&oacute;lo un simbolismo de los
  gentiles<B style='mso-bidi-font-weight:normal'>,</B> entonces podemos comprender
  perfectamente la ausencia de los
  acu&aacute;ticos<B style='mso-bidi-font-weight:
normal'>,</B> pues no eran necesarios para el simbolismo
  general<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>10 Y aconteci&oacute; que le vino una grande
  hambre<B style='mso-bidi-font-weight:
normal'>,</B> y quiso comer<B style='mso-bidi-font-weight:normal'>;</B> pero
  mientras dispon&iacute;an<B style='mso-bidi-font-weight:normal'>,</B> le
  sobrevino un &eacute;xtasis<B style='mso-bidi-font-weight:normal'>;</B> 11
  y vio el cielo abierto<B style='mso-bidi-font-weight:normal'>,</B> y que
  descend&iacute;a un vaso<B style='mso-bidi-font-weight:normal'>,</B> como
  un gran lienzo<B style='mso-bidi-font-weight:normal'>,</B> que atado de los
  cuatro cabos era bajado a la
  tierra<B style='mso-bidi-font-weight:normal'>;</B> 12
  <B style='mso-bidi-font-weight:normal'>en el cual hab&iacute;a de todos los
  animales cuadr&uacute;pedos de la tierra, y reptiles, y aves del cielo.</B>
  13 Y le vino una voz<B style='mso-bidi-font-weight:normal'>:</B>
  Lev&aacute;ntate<B style='mso-bidi-font-weight:normal'>,</B>
  Pedro<B style='mso-bidi-font-weight:
normal'>,</B> mata y come<B style='mso-bidi-font-weight:normal'>.</B> 14
  Entonces Pedro dijo<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>Se&ntilde;or, no; porque ninguna cosa
  com&uacute;n e inmunda he comido jam&aacute;s.</B> 15 Y volvi&oacute; la
  voz hacia &eacute;l la segunda
  vez<B style='mso-bidi-font-weight:normal'>:</B> Lo que Dios
  limpi&oacute;<B style='mso-bidi-font-weight:normal'>,</B> no lo llames t&uacute;
  com&uacute;n<B style='mso-bidi-font-weight:normal'>.</B> 16 Y esto fue hecho
  por tres veces<B style='mso-bidi-font-weight:normal'>;</B> y el vaso volvi&oacute;
  a ser recogido en el
  cielo</I><B style='mso-bidi-font-weight:
normal'>.&#148;</B>
  <SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 10<B style='mso-bidi-font-weight:normal'>:</B>10-16)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>Al llegar al vers&iacute;culo 17 vemos de nuevo relacionadas estas
  dos cosas<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'><U>la visi&oacute;n</U> y la llegada
  de los mensajeros <U>gentiles</U>,</B> tal y como antes se hizo en el
  vers&iacute;culo nueve<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>En ning&uacute;n momento, a lo largo
  de estos cap&iacute;tulos, se relaciona la interpretaci&oacute;n de esta
  visi&oacute;n con un cambio de dieta,</B> salvo en el curso de la propia
  visi&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> cuando se le exhorta
  a Pedro a que mate y coma<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>En el vers&iacute;culo 17 vemos que
  <B style='mso-bidi-font-weight:normal'>la visi&oacute;n, lejos de provocar
  en Pedro la certidumbre de que se trataba simple y llanamente de un cambio
  de dieta para el cristiano, provoca dudas;</B> &eacute;l no cre&iacute;a
  que el significado manifiesto<B style='mso-bidi-font-weight:normal'>,</B>
  el de cambiar de dieta<B style='mso-bidi-font-weight:normal'>,</B> fuera
  el significado verdadero<B style='mso-bidi-font-weight:normal'>,</B> porque
  si no<B style='mso-bidi-font-weight:normal'>,</B> no ten&iacute;a por qu&eacute;
  dudar<B style='mso-bidi-font-weight:normal'>.</B> Es en ese momento que llegan
  a su puerta los gentiles<B style='mso-bidi-font-weight:normal'>,</B> y como
  para disipar las dudas que el ap&oacute;stol sent&iacute;a sobre el significado
  de la visi&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> si era para
  modificar la dieta o para juntarse con los
  gentiles<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>el Esp&iacute;ritu Santo
  le ordena que vaya con los gentiles sin dudar.</B> Vemos de nuevo aqu&iacute;
  que la visi&oacute;n se vuelve a relacionar con la venida de los emisarios
  gentiles de Cornelio<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>En los vers&iacute;culos 19-20 se constata de nuevo la duda de Pedro
  sobre el significado de la
  visi&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> y &eacute;sta se
  disipa con la orden divina de ir con los
  gentiles<B style='mso-bidi-font-weight:
normal'>.</B> Evidentemente la visi&oacute;n no se trataba de
  <B style='mso-bidi-font-weight:normal'>un cambio en la dieta, sino de un
  cambio de la actitud <U>tradicional</U> que hacia los gentiles ten&iacute;an
  los jud&iacute;os.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>17 <B style='mso-bidi-font-weight:normal'>Y estando Pedro
  <U>dudando</U> dentro de s&iacute; qu&eacute; ser&iacute;a la visi&oacute;n</B>
  que hab&iacute;a visto<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>he aqu&iacute;, los hombres que
  hab&iacute;an sido enviados por Cornelio,</B>
  que<B style='mso-bidi-font-weight:
normal'>,</B> preguntando por la casa de
  Sim&oacute;n<B style='mso-bidi-font-weight:
normal'>,</B> llegaron a la
  puerta<B style='mso-bidi-font-weight:normal'>.</B> 18 Y
  llamando<B style='mso-bidi-font-weight:normal'>,</B> preguntaron si un
  Sim&oacute;n que ten&iacute;a por sobrenombre
  Pedro<B style='mso-bidi-font-weight:
normal'>,</B> posaba all&iacute;<B style='mso-bidi-font-weight:normal'>.</B>
  19 <B style='mso-bidi-font-weight:normal'>Y <U>estando Pedro pensando en
  la visi&oacute;n</U>, le dijo el Esp&iacute;ritu: He aqu&iacute;, tres hombres
  te buscan. 20 Lev&aacute;ntate, pues, y desciende, y no dudes ir con ellos,
  porque yo los he enviado.</B> 21 Entonces
  Pedro<B style='mso-bidi-font-weight:normal'>,</B> descendiendo a los hombres
  que eran enviados por Cornelio<B style='mso-bidi-font-weight:
normal'>,</B> dijo<B style='mso-bidi-font-weight:normal'>:</B> He
  aqu&iacute;<B style='mso-bidi-font-weight:normal'>,</B> yo soy el que
  busc&aacute;is<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>cu&aacute;l es la causa
  por la que hab&eacute;is
  venido</I><B style='mso-bidi-font-weight:
normal'>?&#148;</B>
  <SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 10<B style='mso-bidi-font-weight:normal'>:</B>17-21)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>Al seguir la lectura hasta el vers&iacute;culo 28 vemos c&oacute;mo
  <B style='mso-bidi-font-weight:normal'>la interpretaci&oacute;n
  <U>&uacute;nica</U></B> que el ap&oacute;stol da sobre su visi&oacute;n es
  la de que Dios le hab&iacute;a mostrado
  <B style='mso-bidi-font-weight:
normal'>que a ning&uacute;n <U>hombre</U></B> (nada dice de los animales)
  llame com&uacute;n o inmundo<B style='mso-bidi-font-weight:normal'>.</B>
  O sea<B style='mso-bidi-font-weight:normal'>,</B> que todos los hombres
  &eacute;ramos iguales ante los ojos de
  Dios<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Si hubiera habido interpretaciones
  adicionales, hubieran sido mencionadas; pero no, la <U>&uacute;nica
  interpretaci&oacute;n</U></B> que San Pedro menciona es la relativa a los
  gentiles<B style='mso-bidi-font-weight:normal'>.</B> Lo relativo a los animales
  y la dieta no se menciona en ning&uacute;n
  momento<B style='mso-bidi-font-weight:
normal'>.</B> Es decir<B style='mso-bidi-font-weight:normal'>,</B> que lo
  de <B style='mso-bidi-font-weight:normal'>&#147;</B>com&uacute;n e
  inmundo<B style='mso-bidi-font-weight:normal'>&#148;</B> mencionado en la
  visi&oacute;n en el vers&iacute;culo
  15<B style='mso-bidi-font-weight:normal'>,</B> no se refer&iacute;a a los
  animales<B style='mso-bidi-font-weight:normal'>,</B> sino a las
  personas<B style='mso-bidi-font-weight:normal'>;</B> en este caso a los
  gentiles<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>27 Y hablando con
  &eacute;l<B style='mso-bidi-font-weight:normal'>,</B>
  entr&oacute;<B style='mso-bidi-font-weight:normal'>,</B> y hall&oacute; a
  muchos que se hab&iacute;an
  juntado<B style='mso-bidi-font-weight:normal'>.</B> 28 Y les
  dijo<B style='mso-bidi-font-weight:normal'>:</B> Vosotros sab&eacute;is que
  es abominable a un var&oacute;n jud&iacute;o juntarse o llegarse a
  extranjero<B style='mso-bidi-font-weight:normal'>;</B>
  <B style='mso-bidi-font-weight:normal'>mas me ha mostrado Dios que a ning&uacute;n
  <U>hombre</U> llame com&uacute;n o inmundo;</B> 29 por lo
  cual<B style='mso-bidi-font-weight:normal'>,</B>
  llamado<B style='mso-bidi-font-weight:
normal'>,</B> he venido sin dudar<B style='mso-bidi-font-weight:normal'>.</B>
  As&iacute; que pregunto<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>por qu&eacute; causa me
  hab&eacute;is hecho
  venir</I><B style='mso-bidi-font-weight:normal'>?&#148;</B>
  <SPAN style='mso-tab-count:7'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 10<B style='mso-bidi-font-weight:normal'>:</B> 27-29)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>No es l&oacute;gico pensar que el sacrificio de Jesucristo haya sido
  adjudicado tambi&eacute;n a los
  animales<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:
normal'>El sacrificio de Cristo <U>no</U> fue hecho para quitar la inmundicia
  del <U>cuerpo</U> de las personas (que al fin y al cabo mueren); sino para
  limpiar las inmundicias de sus <U>almas</U>. &#191;C&oacute;mo pues vamos
  a pensar que ese mismo sacrificio era para limpiar las inmundicias de los
  <U>cuerpos</U> de los animales?</B> Esto es m&aacute;s claro si nos recordamos
  de lo dicho por Pablo en I Co
  9<B style='mso-bidi-font-weight:normal'>:</B>9-10 en el sentido de que Dios
  no se preocupa de los bueyes<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>C&oacute;mo pues vamos a
  pensar que el sacrificio de Cristo libraba a los animales de su
  inmundicia<B style='mso-bidi-font-weight:normal'>,</B> como si esta se debiera
  a los pecados del animal<B style='mso-bidi-font-weight:normal'>?</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Si el sacrificio de Cristo libraba a los animales de su inmundicia,</B>
  es que &eacute;sta era una cuesti&oacute;n espiritual de
  ellos<B style='mso-bidi-font-weight:normal'>,</B> cosa absurda y por lo tanto
  inaceptable<B style='mso-bidi-font-weight:normal'>.</B> Luego
  entonces<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>cu&aacute;l fue el cambio
  que en los animales prohibidos se
  realiz&oacute;<B style='mso-bidi-font-weight:normal'>,</B> que ahora s&iacute;
  se pueden comer<B style='mso-bidi-font-weight:normal'>,</B> y antes no se
  pod&iacute;a<B style='mso-bidi-font-weight:normal'>?</B>
  Ninguno<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>&#191;</B>Vamos a creer
  que a los animales <SPAN class=GramE>le</SPAN> fueron limpiados sus
  pecados<B style='mso-bidi-font-weight:normal'>?</B> Y los animales limpios
  que siguieron siendo limpios<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:
normal'>&#191;</B>es que antes no ten&iacute;an
  pecados<B style='mso-bidi-font-weight:
normal'>?</B> <B style='mso-bidi-font-weight:normal'>&#191;</B>Se dan cuenta
  de hasta que grado de absurdidad nos llevar&iacute;a el creer que los animales
  fueron limpiados con el sacrificio de
  Cristo<B style='mso-bidi-font-weight:
normal'>?</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>No es sensato pensar que el sacrificio de Jes&uacute;s,</B> adem&aacute;s
  de para la salvaci&oacute;n de nuestra
  alma<B style='mso-bidi-font-weight:
normal'>,</B> haya servido para quitarle a las ara&ntilde;as
  peludas<B style='mso-bidi-font-weight:normal'>,</B>
  cucarachas<B style='mso-bidi-font-weight:
normal'>,</B> ratones<B style='mso-bidi-font-weight:normal'>,</B>
  anguilas<B style='mso-bidi-font-weight:normal'>,</B>
  lombrices<B style='mso-bidi-font-weight:
normal'>,</B> puercos<B style='mso-bidi-font-weight:normal'>,</B>
  cangrejos<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:
normal'>.,</B> la raz&oacute;n que motiv&oacute; a Dios a prohib&iacute;rselos
  a sus siervos de todas las
  &eacute;pocas<B style='mso-bidi-font-weight:normal'>.</B> Recordemos que
  a&uacute;n en &eacute;poca de
  No&eacute;<B style='mso-bidi-font-weight:
normal'>,</B> mucho antes de la ley
  ritual<B style='mso-bidi-font-weight:normal'>,</B> ya se clasificaban los
  animales como limpios e
  inmundos<B style='mso-bidi-font-weight:
normal'>,</B> como se ve en Gn 7<B style='mso-bidi-font-weight:normal'>:</B>2
  y 8<B style='mso-bidi-font-weight:normal'>;</B> y en
  8<B style='mso-bidi-font-weight:
normal'>:</B>20<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Si los animales inmundos se consideraban
  prohibidos antes de la ley ritual, ni siquiera podemos pensar que esa
  prohibici&oacute;n es parte de la ley ritual, para entonces considerarla
  obsoleta junto con el resto de la ley ritual.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;<I style='mso-bidi-font-style:normal'>De
  todo animal <U>limpio</U></I></B><I style='mso-bidi-font-style:normal'> te
  tomar&aacute;s de siete en siete<B style='mso-bidi-font-weight:normal'>,</B>
  macho y su hembra<B style='mso-bidi-font-weight:normal'>;</B> mas
  <B style='mso-bidi-font-weight:normal'>de los animales que <U>no son
  limpios</U>,</B> dos<B style='mso-bidi-font-weight:normal'>,</B> macho y
  su hembra</I><B style='mso-bidi-font-weight:normal'>.&#148;</B> (Gn
  7<B style='mso-bidi-font-weight:
normal'>:</B>2)<o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;</SPAN><o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;<I style='mso-bidi-font-style:normal'>De
  los animales <U>limpios</U>, y de los animales que <U>no eran
  limpios</U>,</I></B><I style='mso-bidi-font-style:normal'> y de las
  aves<B style='mso-bidi-font-weight:
normal'>,</B> y de todo lo que anda arrastrando sobre la
  tierra</I><B style='mso-bidi-font-weight:normal'>&#148;</B>
  <SPAN style='mso-tab-count:
2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Gn 7<B style='mso-bidi-font-weight:normal'>:</B>8)
  <o:p></o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>Y edific&oacute; No&eacute; un altar a Jehov&aacute; y tom&oacute;
  de todo <B style='mso-bidi-font-weight:normal'>animal <U>limpio</U> y de
  toda ave <U>limpia</U>,</B> y ofreci&oacute; holocausto en el
  altar</I><B style='mso-bidi-font-weight:normal'>.&#148;</B>
  <SPAN style='mso-tab-count:4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Gn 8<B style='mso-bidi-font-weight:normal'>:</B>20)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Y si efectivamente<B style='mso-bidi-font-weight:normal'>,</B>
  admiti&eacute;ramos que alg&uacute;n cambio se efectu&oacute; en los animales
  luego del sacrificio de Nuestro
  Se&ntilde;or<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:
normal'>tendr&iacute;amos que pensar que la misma limpieza universal se
  efectu&oacute; en los vegetales, cosa inadmisible,</B> pues conocemos que
  los hay venenosos<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Si seguimos la lectura hasta los vers&iacute;culos 34 y 35 veremos
  ratificado en ellos el concepto de igualdad de todas las razas y
  nacionalidades<B style='mso-bidi-font-weight:
normal'>;</B> concepto que s&oacute;lo de la visi&oacute;n aquella hab&iacute;a
  salido<B style='mso-bidi-font-weight:normal'>.</B> No hab&iacute;a habido
  otra fuente para tal
  informaci&oacute;n<B style='mso-bidi-font-weight:normal'>;</B> tampoco se
  menciona otro significado para tal
  visi&oacute;n<B style='mso-bidi-font-weight:
normal'>.</B> O sea<B style='mso-bidi-font-weight:normal'>,</B> que con toda
  honestidad podemos decir que<B style='mso-bidi-font-weight:normal'>,</B>
  al menos explicado por San Pedro<B style='mso-bidi-font-weight:normal'>,</B>
  no hay otro significado para la visi&oacute;n que el de advertir a los
  jud&iacute;os que pod&iacute;an dejar su escr&uacute;pulo tradicional de
  no juntarse con los gentiles<B style='mso-bidi-font-weight:normal'>.</B>
  Recuerden que en toda la Biblia no existe un solo vers&iacute;culo sobre
  no juntarse con los gentiles<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&#147;</SPAN></B><I
            style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>34 Entonces Pedro<B style='mso-bidi-font-weight:normal'>,</B> abriendo
  su boca<B style='mso-bidi-font-weight:normal'>,</B>
  dijo<B style='mso-bidi-font-weight:
normal'>:</B> Por verdad hallo que <B style='mso-bidi-font-weight:normal'>Dios
  no hace acepci&oacute;n de personas;
  </B>35<B style='mso-bidi-font-weight:normal'> sino que de cualquiera naci&oacute;n
  que le teme y obra justicia, se
  agrada</B></SPAN></I><B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD
                                                                    style='mso-ansi-language:
ES-TRAD'>.&#148;</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN
            style='mso-tab-count:5'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN> (Hch 10<B style='mso-bidi-font-weight:normal'>:</B>34-35)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Como colof&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> los
  vers&iacute;culo 44 y 45 nos narran c&oacute;mo el Esp&iacute;ritu
  Santo<B style='mso-bidi-font-weight:normal'>,</B> haciendo bueno su dicho
  a San Pedro<B style='mso-bidi-font-weight:normal'>,</B> se derram&oacute;
  sobre los gentiles<B style='mso-bidi-font-weight:normal'>.</B> Se cierra
  el cap&iacute;tulo sin que ninguna de las interpretaciones hechas sobre la
  visi&oacute;n nos haga ver que &eacute;sta se refer&iacute;a tambi&eacute;n
  a la limpieza de los animales<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Es verdad que si la tomamos al pie de la letra y sin hacer caso de
  las interpretaciones del Ap&oacute;stol Pedro y los
  dem&aacute;s<B style='mso-bidi-font-weight:normal'>,</B> s&iacute; habla
  de comer todos los animales<B style='mso-bidi-font-weight:normal'>;</B> pero
  as&iacute; tomada<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>entonces no dice que se puedan comer
  los animales acu&aacute;ticos, ni habla de la igualdad de las razas.</B>
  Adem&aacute;s<B style='mso-bidi-font-weight:normal'>,</B> la autorizada
  interpretaci&oacute;n de la visi&oacute;n por el Esp&iacute;ritu Santo y
  por San Pedro<B style='mso-bidi-font-weight:normal'>,</B> nos dijo ya que
  se refer&iacute;a a las personas y no a los
  animales<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Terminado ya el Cap&iacute;tulo 10 del libro de los Hechos,</B> al
  pasar al 11 notamos la misma
  tendencia<B style='mso-bidi-font-weight:normal'>,</B> (Hch
  11<B style='mso-bidi-font-weight:normal'>:</B>1-19)<B style='mso-bidi-font-weight:
normal'>,</B> <B style='mso-bidi-font-weight:normal'>en ning&uacute;n momento
  nadie interpreta la revelaci&oacute;n como significando que se pod&iacute;an
  comer los animales mostrados en ella;</B> siempre todo gir&oacute; sobre
  la admisi&oacute;n de los
  gentiles<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>En 11<B style='mso-bidi-font-weight:
normal'>:</B>2-3 vemos que los cristianos de Jerusalem estaban opuestos a
  que Pedro se hubiese juntado con los
  gentiles<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>Ellos no le echan en cara nada respecto
  a la dieta; de eso no se habla. <U>Si Pedro hubiera cambiado su dieta</U>
  por motivo de la visi&oacute;n, los de Jerusalem, tambi&eacute;n <U>se lo
  hubieran echado en cara</U>,</B> al igual que le echaron en cara el juntarse
  con los gentiles<B style='mso-bidi-font-weight:normal'>.</B> Por lo
  tanto<B style='mso-bidi-font-weight:normal'>,</B> es f&aacute;cil deducir
  que <B style='mso-bidi-font-weight:normal'>no hubo, por parte de los cristianos
  de Jerusalem, conocimiento de un cambio de dieta para los creyentes.</B>
  Incluso vemos que Pedro<B style='mso-bidi-font-weight:normal'>,</B> para
  defenderse<B style='mso-bidi-font-weight:normal'>,</B> esgrime de nuevo la
  cuesti&oacute;n de los gentiles<B style='mso-bidi-font-weight:normal'>.</B>
  En ning&uacute;n momento se menciona la cuesti&oacute;n de comer animales
  prohibidos<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P style='margin-top:0in;margin-right:.2in;margin-bottom:0in;margin-left:.2in;
margin-bottom:.0001pt;text-align:justify'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>&#147;</SPAN></B><I
            style='mso-bidi-font-style:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>1 Y oyeron los ap&oacute;stoles y los hermanos que estaban en
  Judea<B style='mso-bidi-font-weight:normal'>,</B> que tambi&eacute;n los
  gentiles hab&iacute;an recibido la palabra de
  Dios<B style='mso-bidi-font-weight:normal'>.</B> 2
  <B style='mso-bidi-font-weight:normal'>Y como Pedro subi&oacute; a Jerusalem,
  contend&iacute;an contra &eacute;l los que eran de la circuncisi&oacute;n,
  3 diciendo: &#191;Por qu&eacute; <U>has entrado</U> a hombres incircuncisos,
  y <U>has comido con ellos</U>?</B> 4 Entonces comenzando
  Pedro<B style='mso-bidi-font-weight:
normal'>,</B> les declar&oacute; por orden lo
  pasado<B style='mso-bidi-font-weight:
normal'>,</B> diciendo<B style='mso-bidi-font-weight:normal'>......</B> 18
  Entonces<B style='mso-bidi-font-weight:normal'>,</B> o&iacute;das estas
  cosas<B style='mso-bidi-font-weight:normal'>,</B>
  callaron<B style='mso-bidi-font-weight:
normal'>,</B> y glorificaron a
  Dios<B style='mso-bidi-font-weight:normal'>,</B>
  diciendo<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:
normal'>De manera que <U>tambi&eacute;n a los gentiles</U> ha dado Dios
  arrepentimiento para vida.</B> 19 Y los que hab&iacute;an sido esparcidos
  por causa de la tribulaci&oacute;n que sobrevino en tiempo de
  Esteban<B style='mso-bidi-font-weight:normal'>,</B> anduvieron hasta
  Fenicia<B style='mso-bidi-font-weight:normal'>,</B> y
  <SPAN class=SpellE>Cipro</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
  y
  <SPAN class=SpellE>Antioqu&iacute;a</SPAN><B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>no hablando a nadie la palabra, sino
  s&oacute;lo a los
  jud&iacute;os</B></SPAN></I><B style='mso-bidi-font-weight:normal'><SPAN
            lang=ES-TRAD style='mso-ansi-language:
ES-TRAD'>.&#148;</SPAN></B><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>
  <SPAN style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>(Hch 11<B style='mso-bidi-font-weight:normal'>:</B>1-19 abreviado)
  <o:p></o:p></SPAN>
    <P>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Debemos recordar que en Mt
  10<B style='mso-bidi-font-weight:normal'>:</B>6 Jes&uacute;s les dijo a sus
  disc&iacute;pulos que primero <SPAN class=GramE>le</SPAN> predicaran a los
  jud&iacute;os<B style='mso-bidi-font-weight:normal'>,</B> tal vez por eso
  les alerta ahora que ya pueden comenzar con los
  gentiles<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:
normal'>Pudiera alguien objetar, o preguntarse, por qu&eacute; raz&oacute;n,
  si se intenta dar un mensaje concerniente a seres humanos,</B> se usan animales
  como s&iacute;mbolos<B style='mso-bidi-font-weight:normal'>,</B> y no
  personas<B style='mso-bidi-font-weight:normal'>.</B> Eso no lo puedo yo
  explicar<B style='mso-bidi-font-weight:normal'>,</B> pero
  <B style='mso-bidi-font-weight:
normal'>es evidente</B> que se usaron animales para simbolizar cosas
  concernientes a personas<B style='mso-bidi-font-weight:normal'>,</B> puesto
  que se usaron animales para decir que los jud&iacute;os pod&iacute;an juntarse
  con los gentiles<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>Pero ese no es un caso &uacute;nico en la
  Escritura<B style='mso-bidi-font-weight:normal'>.</B> En la visi&oacute;n
  que Jos&eacute; interpret&oacute; para los criados del
  fara&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> las uvas representaban
  al criado del vino<B style='mso-bidi-font-weight:normal'>,</B> y las cestas
  representaban d&iacute;as<B style='mso-bidi-font-weight:normal'>.</B> En
  la que interpret&oacute; para Fara&oacute;n las vacas significaban tiempo
  y en las de Daniel 8<B style='mso-bidi-font-weight:normal'>:</B>19-20 el
  carnero y el chivo significan
  personas<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;
  </SPAN>En s&iacute;ntesis<B style='mso-bidi-font-weight:normal'>,</B> la
  visi&oacute;n de Hch 10 significaba que los jud&iacute;os se pod&iacute;an
  juntar con los gentiles<B style='mso-bidi-font-weight:normal'>;</B> nada
  ten&iacute;a que ver con un cambio en la dieta de los
  creyentes<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <A HREF="NotesOf.astro"><SPAN class=SpellE><B style='mso-bidi-font-weight:normal'>Volver</B></SPAN><B
                style='mso-bidi-font-weight:
normal'> al <SPAN class=SpellE>&iacute;ndice</SPAN>
            <o:p></o:p>
        </B></A>
</DIV>
</BODY>
</HTML>
