<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>3</o:Revision>
                    <o:TotalTime>15</o:TotalTime>
                    <o:Created>2010-08-26T19:41:00Z</o:Created>
                    <o:LastSaved>2010-08-26T19:56:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>958</o:Words>
                    <o:Characters>5466</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>45</o:Lines>
                    <o:Paragraphs>12</o:Paragraphs>
                    <o:CharactersWithSpaces>6412</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>130</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Ojeada a los que creen en la predestinaci&oacute;n</TITLE>
                    <LINK rel=File-List href="PredestinacionOjeada_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Echemos
  una ojeada a los que creen que ellos creen en la predestinaci&oacute;n
  absoluta<o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'><U>Predestinaci&oacute;n de
  circunstancias</U>,</B> es aquella en la que Dios predestina a una
  persona<B style='mso-bidi-font-weight:
normal'>,</B> conglomerado o naci&oacute;n a vivir bajo ciertas circunstancias
  que convienen a sus planes<B style='mso-bidi-font-weight:normal'>,</B> pero
  no la predestina a ser salva o
  perdida<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'><U>Predestinaci&oacute;n
  absoluta</U></B> es aquella que asegura que Dios ordena a ciertas personas
  para ser salvas y a otras para ser
  perdidas<B style='mso-bidi-font-weight:normal'>;</B> y que
  todo<B style='mso-bidi-font-weight:normal'>,</B> desde el d&iacute;a del
  nacimiento o de la muerte<B style='mso-bidi-font-weight:normal'>,</B> la
  salud o la enfermedad<B style='mso-bidi-font-weight:normal'>,</B> hasta la
  ca&iacute;da de una hoja de un
  &aacute;rbol<B style='mso-bidi-font-weight:normal'>,</B> es algo predestinado
  por Dios y que &Eacute;l lo
  provoca<B style='mso-bidi-font-weight:
normal'>,</B> y que nadie puede cambiar tales
  predestinaciones<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Hay quienes aseguran creer
  en la predestinaci&oacute;n absoluta,</B> y muchos de ellos en realidad se
  imaginan que ellos creen<B style='mso-bidi-font-weight:normal'>,</B> pero
  en realidad no creen<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:
normal'>&#191;</B>En qu&eacute; me baso para pensar
  as&iacute;<B style='mso-bidi-font-weight:normal'>?</B> Si ustedes observan
  las acciones<B style='mso-bidi-font-weight:normal'>,</B> (no las palabras)
  de los que se imaginan que creen en la predestinaci&oacute;n
  absoluta<B style='mso-bidi-font-weight:
normal'>,</B> ver&aacute;n que en su fuero interno ellos no creen en lo que
  se imaginan que creen<B style='mso-bidi-font-weight:normal'>.</B> M&aacute;s
  abajo pongo algunos ejemplos para demostrar lo que
  digo<B style='mso-bidi-font-weight:
normal'>.</B> Hasta aqu&iacute; me refiero a los que son honestos con Dios
  en sus creencias<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Hay sin embargo otro grupo<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:
normal'>que creen que fingiendo tener una fe "inquebrantable" en que la
  salvaci&oacute;n es <SPAN class=GramE>algo</SPAN> que est&aacute; predestinado,
  van a <U>obligar</U> a Dios a que los salve, a pesar de <U>no arrepentirse</U>
  de sus pecados.</B> Digo
  <B style='mso-bidi-font-weight:normal'>&#147;<U>fingiendo</U></B> tener fe
  en la predestinaci&oacute;n
  absoluta<B style='mso-bidi-font-weight:
normal'>&#148;,</B> porque los que dicen creer tal cosa en realidad no creen
  en tal tipo de
  predestinaci&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Lo prueba el hecho de que sacan
  seguros<B style='mso-bidi-font-weight:normal'>,</B> toman
  medicinas<B style='mso-bidi-font-weight:normal'>,</B> se someten a operaciones
  quir&uacute;rgicas<B style='mso-bidi-font-weight:normal'>,</B> van al
  dentista<B style='mso-bidi-font-weight:normal'>,</B> van al
  oculista<B style='mso-bidi-font-weight:
normal'>,</B> cuidan su cartera para que no les roben el
  dinero<B style='mso-bidi-font-weight:normal'>,</B> y no van a predicar el
  evangelio a donde est&aacute; prohibido bajo pena de
  muerte<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si en realidad creyeran en
  la predestinaci&oacute;n absoluta,</B> no tendr&iacute;an que sacar
  seguros<B style='mso-bidi-font-weight:normal'>,</B> porque si est&aacute;
  predestinado que ellos lo pierdan
  todo<B style='mso-bidi-font-weight:normal'>,</B> aunque saquen seguro lo
  van a perder todo<B style='mso-bidi-font-weight:normal'>.</B> Y si estuviera
  predestinado que ellos no pierdan
  nada<B style='mso-bidi-font-weight:
normal'>,</B> pues aunque no sacaran
  seguro<B style='mso-bidi-font-weight:normal'>,</B> no iban a perder
  nada<B style='mso-bidi-font-weight:normal'>.</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>Para qu&eacute; malgastar
  dinero en seguros si ese dinero lo pod&iacute;an donar al
  evangelio<B style='mso-bidi-font-weight:normal'>?</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si en realidad creyeran en
  la predestinaci&oacute;n absoluta</B> no tendr&iacute;an que tomar medicinas
  ni se someter&iacute;an a operaciones
  quir&uacute;rgicas<B style='mso-bidi-font-weight:
normal'>,</B> porque si estaba predestinado que fueran
  saludables<B style='mso-bidi-font-weight:normal'>,</B> iban a ser saludables
  aunque no tomaran medicinas ni se sometieran a operaciones
  quir&uacute;rgicas<B style='mso-bidi-font-weight:normal'>,</B> por
  tanto<B style='mso-bidi-font-weight:
normal'>,</B> no hac&iacute;a falta nada de
  eso<B style='mso-bidi-font-weight:
normal'>.</B> Si por el contrario estaba predestinado que no fueran
  saludables<B style='mso-bidi-font-weight:normal'>,</B> aunque tomaran medicinas
  y se sometieran a la
  cirug&iacute;a<B style='mso-bidi-font-weight:normal'>,</B> no iban a recuperar
  la salud<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si en realidad creyeran en
  la predestinaci&oacute;n absoluta</B> no ir&iacute;an al
  dentista<B style='mso-bidi-font-weight:normal'>,</B> porque si estaba
  predestinado que conservaran su
  dentadura<B style='mso-bidi-font-weight:normal'>,</B> la iban a conservar
  aunque no gastaran dinero en el
  dentista<B style='mso-bidi-font-weight:
normal'>.</B> Lo mismo puede decirse con el
  oculista<B style='mso-bidi-font-weight:
normal'>,</B> para qu&eacute; gastar dinero en ellos si estaba predestinado
  que tuvieran buena vista<B style='mso-bidi-font-weight:normal'>.</B> Y si
  lo que estaba predestinado era que tuvieran mala
  visi&oacute;n<B style='mso-bidi-font-weight:
normal'>,</B> pues la iban a tener mala aunque fueran a ver al mejor oculista
  del mundo<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si creyeran en realidad en
  la predestinaci&oacute;n absoluta</B> no cuidar&iacute;an su cartera y su
  dinero<B style='mso-bidi-font-weight:normal'>,</B> pues estar&iacute;an seguros
  de que si estaba predestinado que no les robaran el
  dinero<B style='mso-bidi-font-weight:
normal'>,</B> pues nadie se lo iba a poder
  robar<B style='mso-bidi-font-weight:
normal'>;</B> mientras que si estaba predestinado que les robaran el
  dinero<B style='mso-bidi-font-weight:normal'>,</B> pues se lo iban a robar
  de todas maneras por mucho que lo
  cuidaran<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si creyeran en realidad en
  la predestinaci&oacute;n absoluta</B> ir&iacute;an a predicar el evangelio
  a donde est&aacute; prohibido<B style='mso-bidi-font-weight:normal'>,</B>
  sabiendo que el d&iacute;a de su muerte est&aacute; predestinado y nadie
  puede matarlo antes<B style='mso-bidi-font-weight:normal'>,</B> ni
  encarcelarlos<B style='mso-bidi-font-weight:
normal'>,</B> si no est&aacute; predestinado su
  encarcelamiento<B style='mso-bidi-font-weight:normal'>.</B> Sin
  embargo<B style='mso-bidi-font-weight:
normal'>,</B> si estaba predestinado su
  encarcelamiento<B style='mso-bidi-font-weight:
normal'>,</B> iba a ir a la c&aacute;rcel aunque no fueran a predicar a lugares
  prohibidos<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Lo mismo ocurre cuando los
  observamos cuidando a sus ni&ntilde;os,</B> lo cual es muy sabio y
  prudente<B style='mso-bidi-font-weight:normal'>,</B> pero que est&aacute;
  en contra de lo que ellos dicen
  creer<B style='mso-bidi-font-weight:normal'>.</B> Si est&aacute; predestinado
  que le suceda algo malo a su
  ni&ntilde;o<B style='mso-bidi-font-weight:normal'>,</B> pues le va a suceder
  por mucho que lo cuiden<B style='mso-bidi-font-weight:normal'>;</B> y si
  est&aacute; predestinado que no le suceda nada al
  ni&ntilde;o<B style='mso-bidi-font-weight:
normal'>,</B> pues no le va a suceder aunque no los
  cuiden<B style='mso-bidi-font-weight:
normal'>.</B> <B style='mso-bidi-font-weight:normal'>&#161;</B>Vivamos una
  vida despreocupada<B style='mso-bidi-font-weight:normal'>!</B> Al fin y al
  cabo<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>lo que va a
  pasar<B style='mso-bidi-font-weight:normal'>,</B> est&aacute;
  escrito<B style='mso-bidi-font-weight:normal'>&#148;.</B> Si est&aacute;
  predestinado que secuestren al
  ni&ntilde;o<B style='mso-bidi-font-weight:normal'>,</B> lo van a secuestrar
  aunque lo cuidemos<B style='mso-bidi-font-weight:normal'>;</B> pero si est&aacute;
  predestinado que no secuestren al
  ni&ntilde;o<B style='mso-bidi-font-weight:normal'>,</B> pues no va a ser
  secuestrado aunque no lo cuidemos<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Una de las cosas que seg&uacute;n
  esta errada doctrina est&aacute; <SPAN class=GramE>predestinado</SPAN>,</B>
  es el d&iacute;a de la muerte y el del
  nacimiento<B style='mso-bidi-font-weight:normal'>.</B> No
  obstante<B style='mso-bidi-font-weight:normal'>,</B> ellos usan m&eacute;todos
  anticonceptivos<B style='mso-bidi-font-weight:normal'>.</B> Si realmente
  creyeran en la predestinaci&oacute;n
  absoluta<B style='mso-bidi-font-weight:
normal'>,</B> no lo har&iacute;an<B style='mso-bidi-font-weight:normal'>,</B>
  porque si estaba predestinado que naciera un
  beb&eacute;<B style='mso-bidi-font-weight:
normal'>,</B> &eacute;ste iba a nacer aunque usaran el mejor de los
  m&eacute;todos<B style='mso-bidi-font-weight:normal'>;</B> y si estaba
  predestinado que no naciera un
  beb&eacute;<B style='mso-bidi-font-weight:normal'>,</B> &eacute;ste no iba
  a nacer aunque no usaran ning&uacute;n m&eacute;todo
  anticonceptivo<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#191;Para qu&eacute; llamar
  a la polic&iacute;a o los bomberos? </B>Si est&aacute; predestinado que toda
  la casa o parte de ella se queme<B style='mso-bidi-font-weight:normal'>,</B>
  se va a quemar aunque los bomberos vengan a
  tiempo<B style='mso-bidi-font-weight:normal'>.</B> Por otro
  lado<B style='mso-bidi-font-weight:normal'>,</B> si est&aacute; predestinado
  que no se queme ni toda la casa ni parte de
  ella<B style='mso-bidi-font-weight:normal'>,</B> pues no se va a quemar aunque
  los bomberos no vengan<B style='mso-bidi-font-weight:normal'>,</B> ni nadie
  le eche agua al fuego<B style='mso-bidi-font-weight:normal'>.</B> Demuestre
  su heroica e inconmovible fe<B style='mso-bidi-font-weight:normal'>,</B>
  no llame a los bomberos<B style='mso-bidi-font-weight:normal'>,</B>
  si&eacute;ntese tranquilamente a ver c&oacute;mo lo que est&aacute; predestinado
  es lo que va a ocurrir<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Lo mismo sucede con la
  protecci&oacute;n de la polic&iacute;a.</B> Si est&aacute; predestinado que
  los que est&aacute;n rompiendo una ventana para entrar en la casa
  entren<B style='mso-bidi-font-weight:
normal'>,</B> roben<B style='mso-bidi-font-weight:normal'>,</B>
  da&ntilde;en<B style='mso-bidi-font-weight:normal'>,</B>
  hieran<B style='mso-bidi-font-weight:
normal'>,</B> maten<B style='mso-bidi-font-weight:normal'>,</B>
  violen<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:
normal'>.,</B> pues va a ocurrir tal
  cosa<B style='mso-bidi-font-weight:normal'>,</B> aunque llamen a la
  polic&iacute;a<B style='mso-bidi-font-weight:normal'>.</B> Por el
  contrario<B style='mso-bidi-font-weight:normal'>,</B> si no est&aacute;
  predestinado que entren<B style='mso-bidi-font-weight:normal'>,</B>
  roben<B style='mso-bidi-font-weight:normal'>,</B>
  da&ntilde;en<B style='mso-bidi-font-weight:
normal'>,</B> hieran<B style='mso-bidi-font-weight:normal'>,</B> maten o
  violen<B style='mso-bidi-font-weight:normal'>,</B> pues para qu&eacute; molestar
  a la polic&iacute;a<B style='mso-bidi-font-weight:normal'>,</B> mejor es
  virarse para el otro lado y seguir durmiendo
  tranquilamente<B style='mso-bidi-font-weight:
normal'>,</B> en la seguridad de que
  <B style='mso-bidi-font-weight:normal'>&#147;</B>lo que va a pasar est&aacute;
  escrito<B style='mso-bidi-font-weight:normal'>&#148;.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>&#191;Conocen ustedes alg&uacute;n
  creyente en la predestinaci&oacute;n absoluta que viva dentro de los
  par&aacute;metros</B> que se supone que vivan los que crean tal
  cosa<B style='mso-bidi-font-weight:normal'>?</B>
  <B style='mso-bidi-font-weight:normal'><U>&#161;Nadie!</U></B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>Por
  qu&eacute;<B style='mso-bidi-font-weight:normal'>?</B> Porque en realidad
  <B style='mso-bidi-font-weight:normal'>nadie</B> cree semejante
  cosa<B style='mso-bidi-font-weight:normal'>.</B> Con la boca s&iacute; lo
  creen<B style='mso-bidi-font-weight:normal'>,</B> pero con el coraz&oacute;n
  no lo creen<B style='mso-bidi-font-weight:normal'>.</B> Muchos de ellos
  honestamente se figuran que creen tal
  cosa<B style='mso-bidi-font-weight:normal'>,</B> pero la realidad nos demuestra
  que no lo creen<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Como vemos, muchos de los que
  <U>se figuran</U> que creen en la predestinaci&oacute;n absoluta, en realidad
  se est&aacute;n enga&ntilde;ando a s&iacute; mismos, porque en realidad no
  creen en ella. <o:p></o:p></B></SPAN>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A HREF="NotesOf.astro">Volver
  al &iacute;ndice<o:p></o:p></A></SPAN></B>
    <P class=MsoNormal>
        <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p>&nbsp;</o:p></SPAN>
</DIV>
</BODY>
</HTML>
