<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>4</o:Revision>
                    <o:TotalTime>23</o:TotalTime>
                    <o:Created>2011-03-28T16:22:00Z</o:Created>
                    <o:LastSaved>2011-03-28T16:45:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>924</o:Words>
                    <o:Characters>5273</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>43</o:Lines>
                    <o:Paragraphs>12</o:Paragraphs>
                    <o:CharactersWithSpaces>6185</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        span.GramE {
                            mso-style-name: "";
                            mso-gram-e: yes;
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>Peligro de creer que el Rapto ocurrir&aacute; antes de la Gran Tribulaci&oacute;n</TITLE>
                    <LINK rel=File-List href="RaptoPeligro_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='font-size:18.0pt;mso-ansi-language:ES-TRAD'>Peligro
  de creer que el Rapto ocurrir&aacute; antes de la Gran
  Tribulaci&oacute;n<o:p></o:p></SPAN></B>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>San Pablo dijo:
  <I style='mso-bidi-font-style:normal'>Examinadlo todo, retened lo
  bueno</I><o:p></o:p></SPAN></B>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>El peligro de creer que la
  Iglesia ser&aacute; raptada antes de la Gran Tribulaci&oacute;n,</B> estriba
  en que el cristiano deja de estar alerta a la profec&iacute;a y a las
  circunstancias que le rodean<B style='mso-bidi-font-weight:normal'>.</B>
  Si estuvieran alerta<B style='mso-bidi-font-weight:normal'>,</B> pudieran
  escapar<B style='mso-bidi-font-weight:
normal'>,</B> como nos instruye el
  Se&ntilde;or<B style='mso-bidi-font-weight:
normal'>.</B> Los cristianos del primer siglo ten&iacute;an que estar alerta
  para huir cuando vieran a Jerusalem cercada de
  ej&eacute;rcitos<B style='mso-bidi-font-weight:normal'>,</B> seg&uacute;n
  les advirti&oacute; Jes&uacute;s<B style='mso-bidi-font-weight:normal'>.</B>
  Si un hermano conf&iacute;a en un
  <B style='mso-bidi-font-weight:normal'>&#147;</B>rapto<B style='mso-bidi-font-weight:normal'>&#148;</B>
  que no ha de venir antes de la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> va a ser
  v&iacute;ctima del error que le
  inculcaron<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>La responsabilidad de predicar ese falso
  <B style='mso-bidi-font-weight:normal'>&#147;</B>rapto<B style='mso-bidi-font-weight:normal'>&#148;</B>
  estriba en que adormecemos a nuestros hermanos con una
  mentira<B style='mso-bidi-font-weight:normal'>,</B> y los privamos de poder
  utilizar los medios que Dios nos
  brinda<B style='mso-bidi-font-weight:normal'>,</B> para
  <SPAN class=GramE>protegernos</SPAN> de la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>La responsabilidad por predicar la mentira del
  <B style='mso-bidi-font-weight:
normal'>&#147;</B>Rapto anterior a la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>&#148;</B> es muy
  grande<B style='mso-bidi-font-weight:normal'>.</B> Averig&uuml;emos la verdad
  para no mancharnos las manos con la sangre de nuestros hermanos a quienes
  enga&ntilde;amos<B style='mso-bidi-font-weight:normal'>.</B> De toda palabra
  ociosa que hablemos<B style='mso-bidi-font-weight:normal'>,</B> tendremos
  que dar cuenta el d&iacute;a del
  juicio<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>En el libro <B style='mso-bidi-font-weight:normal'>&#147;Rapto Vs
  Arrebatamiento o Ficci&oacute;n Vs Realidad&#148;,</B> se
  <B style='mso-bidi-font-weight:normal'>demuestra</B> que existe un arrebatamiento
  de los cristianos
  <B style='mso-bidi-font-weight:
normal'><U>despu&eacute;s</U></B> de la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>,</B> durante la
  Segunda Venida de Nuestro Se&ntilde;or
  Jesucristo<B style='mso-bidi-font-weight:normal'>;</B> pero que
  <B style='mso-bidi-font-weight:normal'><U>no</U></B> existe un rapto
  <B style='mso-bidi-font-weight:normal'><U>anterior</U></B> a la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Dios promete a sus hijos librarlos de la
  G<B style='mso-bidi-font-weight:normal'>.</B>
  T<B style='mso-bidi-font-weight:normal'>.,</B> pero ellos tienen que estar
  alerta sobre qu&eacute; es lo que tienen que
  hacer<B style='mso-bidi-font-weight:normal'>;</B> al igual que los cristianos
  del primer siglo ten&iacute;an que estar alerta para huir cuando vieran a
  Jerusalem cercada de
  ej&eacute;rcitos<B style='mso-bidi-font-weight:normal'>,</B> seg&uacute;n
  les advirti&oacute; Jes&uacute;s<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>El <B style='mso-bidi-font-weight:normal'>&#147;</B>rapto anterior
  a la Gran Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>&#148;</B>
  es un enga&ntilde;o<B style='mso-bidi-font-weight:normal'>,</B> como lo
  advirti&oacute; San Pablo cuando
  dijo<B style='mso-bidi-font-weight:normal'>:</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>No os enga&ntilde;e nadie en ninguna
  manera<B style='mso-bidi-font-weight:
normal'>,</B> porque <B style='mso-bidi-font-weight:normal'><U>no</U></B>
  vendr&aacute; sin que venga
  <B style='mso-bidi-font-weight:normal'><U>antes</U></B> la apostas&iacute;a
  y se manifieste <B style='mso-bidi-font-weight:normal'><U>el hombre de pecado,
  el hijo de
  perdici&oacute;n</U></B></I><B style='mso-bidi-font-weight:
normal'>.&#148;</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Pablo sab&iacute;a que iban a tratar de enga&ntilde;ar a los
  hermanos<B style='mso-bidi-font-weight:normal'>,</B> respecto a que Cristo
  iba a venir a buscarnos antes de la aparici&oacute;n del
  antiCristo<B style='mso-bidi-font-weight:
normal'>.</B> Este es un asunto de vital
  importancia<B style='mso-bidi-font-weight:
normal'>;</B> lea el libro <B style='mso-bidi-font-weight:normal'>"Rapto
  Vs Arrebatamiento o Ficci&oacute;n Vs Realidad".</B> Si usted tiene inter&eacute;s
  en esta obra puede pedirla a <B style='mso-bidi-font-weight:
normal'>Rafael Luis Serralta-Nogu&eacute;s</B> y se le enviar&aacute;
  completamente gratis<B style='mso-bidi-font-weight:normal'>.</B> Puede enviar
  un E-Mail a
  <U>rlserralta@netzero<B style='mso-bidi-font-weight:normal'>.</B>net</U><B
              style='mso-bidi-font-weight:normal'>,</B> o escribir al
  <U>P<B style='mso-bidi-font-weight:normal'>.</B>
  O<B style='mso-bidi-font-weight:normal'>.</B> Box 655126
  Miami<B style='mso-bidi-font-weight:normal'>,</B> FL
  33265-5126</U><B style='mso-bidi-font-weight:normal'>.</B> Asimismo puede
  bajar &eacute;ste y otros libros<B style='mso-bidi-font-weight:normal'>,</B>
  de nuestro Website
  www<B style='mso-bidi-font-weight:normal'>.</B>bibleserralta<B style='mso-bidi-font-weight:
normal'>.</B>com<B style='mso-bidi-font-weight:normal'>;</B> pues como dijo
  Pablo
  <B style='mso-bidi-font-weight:normal'>&#147;</B><I style='mso-bidi-font-style:
normal'>Examinadlo todo<B style='mso-bidi-font-weight:normal'>,</B> retened
  lo bueno</I><B style='mso-bidi-font-weight:normal'>&#148;.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>En este website tambi&eacute;n
  encontrar&aacute;<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>tanto en espa&ntilde;ol como en
  ingl&eacute;s,</B> una serie de art&iacute;culos sobre diversos errores que
  se han introducido en el
  cristianismo<B style='mso-bidi-font-weight:normal'>,</B> y c&oacute;mo defender
  la verdadera doctrina cristiana<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Estas notas son buenas para entender algunos temas que los enemigos
  de Dios han tratado de torcer<B style='mso-bidi-font-weight:normal'>;</B>
  o temas que son dif&iacute;ciles de
  interpretar<B style='mso-bidi-font-weight:normal'>.</B> Vale la pena
  leerlos<B style='mso-bidi-font-weight:normal'>.</B> Usted puede usar el material
  que aqu&iacute; hay para ayudar a
  otros<B style='mso-bidi-font-weight:
normal'>;</B> especialmente a los miembros de su
  iglesia<B style='mso-bidi-font-weight:
normal'>.</B> A menudo hallar&aacute; usted aqu&iacute; una nueva
  <B style='mso-bidi-font-weight:normal'>&#147;</B>Nota
  B&iacute;blica<B style='mso-bidi-font-weight:normal'>&#148;.</B> Vis&iacute;tenos
  con frecuencia<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Es un patr&oacute;n de conducta
  de Nuestro Se&ntilde;or Dios, el dar siempre a los suyos oportunidad de
  escape,</B> cuando &Eacute;l env&iacute;a una
  hecatombe<B style='mso-bidi-font-weight:normal'>.</B> Ese beneficio se obtiene
  siempre y cuando Su gente est&eacute; atenta a las se&ntilde;ales que &Eacute;l
  ha dado en su palabra<B style='mso-bidi-font-weight:
normal'>,</B> para anunciar la inminencia de la
  tragedia<B style='mso-bidi-font-weight:
normal'>.</B> Dios va a librar de la Gran Tribulaci&oacute;n a sus siervos
  que est&eacute;n alerta a su
  palabra<B style='mso-bidi-font-weight:normal'>,</B> pero
  <B style='mso-bidi-font-weight:normal'>no los librar&aacute; sac&aacute;ndolos
  del planeta por medio de ese supuesto rapto anterior a la Gran
  Tribulaci&oacute;n,</B> sino d&aacute;ndoles la oportunidad de refugiarse
  en lo que el Se&ntilde;or Jesucristo revela con el nombre de
  <B style='mso-bidi-font-weight:normal'>&#147;</B>desierto<B style='mso-bidi-font-weight:
normal'>&#148;.</B> Esto lo pruebo en el cap&iacute;tulo 6 del mencionado
  libro<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Creer en el Rapto antes de la Gran Tribulaci&oacute;n es como creer
  que la Tierra es plana<B style='mso-bidi-font-weight:normal'>.</B> Tratar
  de ayudar a una persona a abandonar un error que le ense&ntilde;aron desde
  que naci&oacute; es tarea muy
  dif&iacute;cil<B style='mso-bidi-font-weight:normal'>,</B> porque ese concepto
  se ha impregnado en su mente y en su
  personalidad<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Esa fue la enorme dificultad que encontr&oacute; Crist&oacute;bal
  Col&oacute;n para convencer a los
  <B style='mso-bidi-font-weight:normal'>profesores y sabios</B> de la Universidad
  de Salamanca<B style='mso-bidi-font-weight:normal'>,</B> de que por ser la
  Tierra redonda<B style='mso-bidi-font-weight:normal'>,</B> y no
  plana<B style='mso-bidi-font-weight:normal'>,</B> como ellos
  cre&iacute;an<B style='mso-bidi-font-weight:normal'>,</B> &eacute;l pod&iacute;a
  ir a buscar la India navegando hacia el oeste y no hacia el
  este<B style='mso-bidi-font-weight:
normal'>.</B> Como que esos profesores y sabios hab&iacute;an crecido con
  el error de creer que la Tierra era
  plana<B style='mso-bidi-font-weight:normal'>,</B> y como
  adem&aacute;s<B style='mso-bidi-font-weight:normal'>,</B> todo el mundo
  <B style='mso-bidi-font-weight:normal'>&#147;</B>sab&iacute;a<B style='mso-bidi-font-weight:
normal'>&#148;</B> que la Tierra era
  plana<B style='mso-bidi-font-weight:normal'>,</B> no se dejaron convencer
  por Col&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>La doctrina del Rapto antes
  de la Gran Tribulaci&oacute;n</B> cae en esa categor&iacute;a de errores
  aprendidos desde el nacimiento<B style='mso-bidi-font-weight:normal'>.</B>
  Esta doctrina basa su supervivencia en cambiar el significado de palabras
  y frases<B style='mso-bidi-font-weight:normal'>,</B> tal y como hace con
  <B style='mso-bidi-font-weight:normal'>&#147;</B>primera<B style='mso-bidi-font-weight:
normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>final<B style='mso-bidi-font-weight:normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:
normal'>&#147;</B>un abrir de
  ojo<B style='mso-bidi-font-weight:normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>santos<B style='mso-bidi-font-weight:
normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>segunda<B style='mso-bidi-font-weight:normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:
normal'>&#147;</B>iglesia<B style='mso-bidi-font-weight:normal'>&#148;,</B>
  <B style='mso-bidi-font-weight:normal'>&#147;</B>venida<B style='mso-bidi-font-weight:
normal'>&#148;,</B> etc<B style='mso-bidi-font-weight:normal'>.,</B> todo
  lo cual demostrar&eacute; a lo largo del libro que les aconsejo
  leer<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Son pocos los que desean ni siquiera discutir el
  asunto<B style='mso-bidi-font-weight:normal'>.</B> Les lastima su zona de
  confort<B style='mso-bidi-font-weight:normal'>,</B> les obliga a
  razonar<B style='mso-bidi-font-weight:normal'>,</B> les obliga a disentir
  de su secta y de sus amigos<B style='mso-bidi-font-weight:normal'>,</B> pues
  todos creen en ese
  <B style='mso-bidi-font-weight:normal'>&#147;</B>Rapto<B style='mso-bidi-font-weight:normal'>&#148;</B>
  previo a la Gran
  Tribulaci&oacute;n<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>Si fu&eacute;ramos a creer
  que porque mucha gente cree algo, eso debe ser la verdad,</B> entonces en
  vez de ser cristianos
  evang&eacute;licos<B style='mso-bidi-font-weight:normal'>,</B> deb&iacute;amos
  ser cat&oacute;licos<B style='mso-bidi-font-weight:normal'>,</B>
  budistas<B style='mso-bidi-font-weight:normal'>,</B> o
  animistas<B style='mso-bidi-font-weight:
normal'>,</B> porque cualquiera de esas tres creencias
  <SPAN class=GramE>son</SPAN> compartidas por mucho mayor n&uacute;mero de
  gente que las creencias nuestras<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN><B style='mso-bidi-font-weight:normal'>La casi totalidad de los hermanos
  que ense&ntilde;an esta da&ntilde;ina doctrina del rapto anterior a la G.
  T., lo hacen en inocencia,</B> porque ellos a su
  vez<B style='mso-bidi-font-weight:
normal'>,</B> desde que nacieron al
  evangelio<B style='mso-bidi-font-weight:
normal'>,</B> fueron ense&ntilde;ados en
  ella<B style='mso-bidi-font-weight:
normal'>,</B> se les
  inculc&oacute;<B style='mso-bidi-font-weight:normal'>;</B> es
  decir<B style='mso-bidi-font-weight:normal'>,</B> han sido enga&ntilde;ados
  ellos mismos<B style='mso-bidi-font-weight:normal'>.</B> Pero pueden
  desembarazarse de esa falacia si hacen un peque&ntilde;o
  esfuerzo<B style='mso-bidi-font-weight:normal'>:</B> el analizar lo que
  otros<B style='mso-bidi-font-weight:normal'>,</B> que no opinan
  igual<B style='mso-bidi-font-weight:normal'>,</B> digan sobre el
  tema<B style='mso-bidi-font-weight:normal'>.</B> En este caso pueden analizar
  lo dicho en este libro<B style='mso-bidi-font-weight:normal'>.</B> Vale la
  pena que hagan el esfuerzo<B style='mso-bidi-font-weight:normal'>,</B> no
  solamente por ustedes mismos<B style='mso-bidi-font-weight:normal'>,</B>
  sino por la terrible responsabilidad que significa el enga&ntilde;ar a
  otros<B style='mso-bidi-font-weight:
normal'>.</B> <o:p></o:p></SPAN>
    <P style='tab-stops:.25in'>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </SPAN>Dios siempre ha provisto un escape para su
  pueblo<B style='mso-bidi-font-weight:normal'>.</B> Ese escape siempre ha
  estado condicionado a que sus santos conocieran la palabra de Dios y estuvieran
  atentos a los eventos y circunstancias que les
  rodeaban<B style='mso-bidi-font-weight:normal'>.</B> <o:p></o:p></SPAN>
    <P align=center style='text-align:center;tab-stops:.25in'>
        <B style='mso-bidi-font-weight:
normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A HREF="NotesOf.astro">Volver
  al &iacute;ndice<o:p></o:p></A></SPAN></B>
</DIV>
</BODY>
</HTML>
