---
import Layout from "../../layouts/Layout.astro";
---
<Layout lang="es">
    <!-- Header and Navigation -->
    <nav class="usa-header usa-header--basic usa-header--megamenu" id="page-header">
        <div class="usa-nav-container">
            <div class="usa-navbar">
                <div class="usa-logo">
                    <em class="usa-logo__text">
                        <a href="/src/pages/index.astro" title="Home" aria-label="Home">Bible Serralta</a>
                    </em>
                </div>
            </div>
            <nav class="usa-nav">
                <ul class="usa-nav__primary usa-accordion">
                    <li class="usa-nav__primary-item">
                        <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
                                aria-controls="nav-link-to-sections">
                            <span>Secciones</span>
                        </button>
                        <div id="nav-link-to-sections" class="usa-nav__submenu usa-megamenu" hidden>
                            <div class="grid-row grid-gap-4">
                                <div class="usa-col">
                                    <ul class="usa-nav__submenu-list">
                                        <li class="usa-nav__submenu-item">
                                            <a href="../en/English.html">Notas Biblicas (Inglés)</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="#">Notas Biblicas (Español)</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="usa-col">
                                    <ul class="usa-nav__submenu-list">
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/CuatroUltimasPotenciasMundiales.pdf">Las últimas cuatro
                                                potencias mundiales</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Rapture_vs_Ingathering_spanish.pdf">Rapto vs Arrebatamiento o
                                                Ficción vs Realidad</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Jesus_Messiah_spanish.pdf">Demostración de que Jesucristo es
                                                el Mesías Esperado por los hebreos</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/the_Law_spanish.pdf">Deben los Cristianos Considerar Obsoleta
                                                la Ley de Dios para el Comportamiento Humano</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Holiness_spanish.pdf">La Santidad es Alcanzable, ( sin la
                                                Cual Nadie Verá al Señor)</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/once_saved_spanish.pdf">Salvo Siempre Salvo... ¿No Importa lo
                                                que Hagas?</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/the_Soul_spanish.pdf">¿Existe el Alma o Somos Sólo Carne?</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Hermeneutics_spanish.pdf">Hermenéutica Como nos la Enseña la
                                                Biblia</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Predestination_spanish.pdf">La Predestinación: ¿Doctrina
                                                Cristiana o Herejía?</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/Trinidad_Espanol_20_My_11.pdf">La Trinidad Como la Enseña la
                                                Biblia</a>
                                        </li>
                                        <li class="usa-nav__submenu-item">
                                            <a href="/pdf/ruselismo_spanish.pdf">El Ruselismo no es una Religión
                                                Cristiana</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="usa-nav__primary-item">
                        <a href="#" class="usa-nav__link"><span>Notas Biblicas</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>

    <!-- Principal Content -->
    <section class="usa-section" id="posts" role="main">
        <div class="grid-container">

            <header class="font-heading-lg">
                <h1>Las últimas cuatro potencias mundiales</h1>
                <h4>¿Cómo sabremos cuando el regreso de Jesucristo está a punto de ocurrir?</h4>
            </header>

            <main class="grid-row grid-gap">
                <article class="usa-layout-docs__main usa-prose usa-layout-docs font-family-sans">
                    <p>Si quieres el libro "Daniel 7: Las últimas cuatro potencias mundiales", sólo pídelo,
                        y se lo enviaremos gratis. La dirección está disponible al final
                        de esta página. Este es un libro en el que por primera vez se demuestra con
                        hechos la verdadera interpretación de la profecía de Daniel 7 y cómo está siendo
                        ...se cumplió ante nuestros ojos. Las cuatro bestias de la profecía realmente representan
                        Inglaterra, Rusia, China y la Unión Europea.</p>

                    <p>Este libro te ayudará a entender esa profecía y te ayudará a enseñarla a los
                        hermanos bajo su responsabilidad espiritual; con respecto a un tema tan importante
                        como la Segunda Venida de Nuestro Señor Jesucristo.
                        Este libro no es sobre un escritor que trata de torcer la Biblia para que las Escrituras
                        están de acuerdo con su interpretación de la profecía. Lo que el escritor hace es mostrar
                        ante los ojos de los lectores lo que los medios han publicado, para que puedan comprobar
                        la fiabilidad de la interpretación.</p>

                    <p>El libro está escrito de una manera muy clara, pedagógica y condensada. En este
                        de manera que puedas absorber en un par de horas, toda su información con sólo leerla.
                        Puedes confiar en que el tiempo invertido en la lectura de este libro rendirá más de un
                        cien veces su inversión.</p>

                    <p>No tendrás que hacerte creer la interpretación; te llegará.
                        sólo con la lectura.
                        Podrás probar que estamos en el tercero de los cuatro últimos pasos de la vida humana.
                        la historia antes de la llegada de Cristo.</p>

                    <p>"El autor tiene la capacidad de impartir sus conocimientos y experiencias en un corto
                        y de manera concisa y fácil de entender. Para decirlo con sus propias palabras, permítame
                        compartir con ustedes lo que una vez me dijo: "No disuelvo una aspirina en un barril de
                        agua, para obligar a quien quiera los beneficios de la aspirina, a beber el
                        todo el barril. Sólo les doy la aspirina. Por eso escribo tan breve como sea
                        posible".</p>
                </article>
            </main>
        </div>
    </section>
</Layout>
