<HTML>
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=us-ascii">
        <META name=ProgId content=Word.Document>
            <META name=Generator content="Microsoft Word 11">
                <META name=Originator content="Microsoft Word 11">
                    <!--[if gte mso 9]><xml>
                    <o:DocumentProperties>
                    <o:Author>HP Authorized Customer</o:Author>
                    <o:Template>Normal</o:Template>
                    <o:LastAuthor>HP Authorized Customer</o:LastAuthor>
                    <o:Revision>2</o:Revision>
                    <o:TotalTime>6</o:TotalTime>
                    <o:Created>2008-06-02T19:33:00Z</o:Created>
                    <o:LastSaved>2008-06-02T19:39:00Z</o:LastSaved>
                    <o:Pages>1</o:Pages>
                    <o:Words>176</o:Words>
                    <o:Characters>1007</o:Characters>
                    <o:Company> </o:Company>
                    <o:Lines>8</o:Lines>
                    <o:Paragraphs>2</o:Paragraphs>
                    <o:CharactersWithSpaces>1181</o:CharactersWithSpaces>
                    <o:Version>11.5606</o:Version>
                    </o:DocumentProperties>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:WordDocument>
                    <w:Zoom>150</w:Zoom>
                    <w:SpellingState>Clean</w:SpellingState>
                    <w:GrammarState>Clean</w:GrammarState>
                    <w:ValidateAgainstSchemas/>
                    <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                    <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                    <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                    <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
                    </w:WordDocument>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
                    </w:LatentStyles>
                    </xml><![endif]-->
                    <STYLE>
                        <!--
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            mso-style-parent: "";
                            margin: 0in;
                            margin-bottom: .0001pt;
                            mso-pagination: widow-orphan;
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        p {
                            font-size: 12.0pt;
                            font-family: "Times New Roman";
                            mso-fareast-font-family: "Times New Roman";
                        }

                        @page Section1 {
                            size: 8.5in 11.0in;
                            margin: 1.0in 1.25in 1.0in 1.25in;
                            mso-header-margin: .5in;
                            mso-footer-margin: .5in;
                            mso-paper-source: 0;
                        }

                        div.Section1 {
                            page: Section1;
                        }

                        -->
                    </STYLE>
                    <!--[if gte mso 10]>
                    <style>
                    /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin:0in;
                    mso-para-margin-bottom:.0001pt;
                    mso-pagination:widow-orphan;
                    font-size:10.0pt;
                    font-family:"Times New Roman";
                    mso-ansi-language:#0400;
                    mso-fareast-language:#0400;
                    mso-bidi-language:#0400;}
                    </style>
                    <![endif]-->
                    <!-- Created with AOLpress/2.0 -->
                    <!--[if gte mso 9]><xml>
                    <o:shapedefaults v:ext="edit" spidmax="2050"/>
                    </xml><![endif]-->
                    <!--[if gte mso 9]><xml>
                    <o:shapelayout v:ext="edit">
                    <o:idmap v:ext="edit" data="1"/>
                    </o:shapelayout></xml><![endif]-->
                    <TITLE>La T&aacute;ctica de la Serpiente en el Ed&eacute;n y en la actualidad
                        es la misma</TITLE>
                    <LINK rel=File-List href="TacticaSerpienteEden_files/filelist.xml">
</HEAD>
<BODY bgcolor=white lang=EN-US style='tab-interval:.5in'>
<DIV class=Section1>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='font-size:16.0pt;mso-ansi-language:ES-TRAD'>La
  t&aacute;ctica de la serpiente en el Ed&eacute;n y en la actualidad es <U>la
  misma</U><o:p></o:p></SPAN></B>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>La serpiente en el Ed&eacute;n dijo que lo que Dios dec&iacute;a que
  no se pod&iacute;a comer<B style='mso-bidi-font-weight:normal'>,</B> en realidad
  s&iacute; se pod&iacute;a comer<B style='mso-bidi-font-weight:normal'>.</B>
  Hoy en d&iacute;a la serpiente vuelve a decir que lo que Dios dijo que no
  se puede comer<B style='mso-bidi-font-weight:normal'>,</B> en realidad s&iacute;
  se puede comer<B style='mso-bidi-font-weight:normal'>.</B> La t&aacute;ctica
  sat&aacute;nica es la misma<B style='mso-bidi-font-weight:normal'>,</B> porque
  le da resultado<B style='mso-bidi-font-weight:normal'>,</B>
  <B style='mso-bidi-font-weight:normal'>&#191;</B>para qu&eacute;
  cambiarla<B style='mso-bidi-font-weight:normal'>?</B> Hoy la serpiente le
  dice al o&iacute;do a muchos<B style='mso-bidi-font-weight:normal'>,</B>
  que Pablo dijo<B style='mso-bidi-font-weight:normal'>,</B> que lo que Dios
  indic&oacute; que no se deb&iacute;a
  comer<B style='mso-bidi-font-weight:normal'>,</B> en
  realidad<B style='mso-bidi-font-weight:normal'>,</B> s&iacute; se puede
  comer<B style='mso-bidi-font-weight:normal'>. La historia se repite, la
  t&eacute;cnica no cambia; &#191;para qu&eacute; cambiarla si les da
  resultado?</B> <o:p></o:p></SPAN>
    <P>
  <SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><SPAN style='mso-spacerun:yes'>&nbsp;&nbsp;
  </SPAN>Da la sensaci&oacute;n que se ha escuchado un di&aacute;logo como
  el siguiente<B style='mso-bidi-font-weight:
normal'>:</B> <B style='mso-bidi-font-weight:normal'>&#147;</B>Conque Dios
  os ha dicho<B style='mso-bidi-font-weight:normal'>:</B> No com&aacute;is
  de ninguna carne<B style='mso-bidi-font-weight:normal'>&#148;;</B> y el humano
  le respondi&oacute;<B style='mso-bidi-font-weight:normal'>:</B> De todos
  los animales limpios podemos
  comer<B style='mso-bidi-font-weight:normal'>,</B> como son los
  rumiantes<B style='mso-bidi-font-weight:normal'>,</B> los peces con escamas
  y aletas<B style='mso-bidi-font-weight:normal'>,</B> las aves
  limpias<B style='mso-bidi-font-weight:normal'>,</B>
  etc<B style='mso-bidi-font-weight:
normal'>.;</B> mas de los
  animales<B style='mso-bidi-font-weight:normal'>,</B> peces y aves
  prohibidas<B style='mso-bidi-font-weight:normal'>,</B> no debemos
  comer<B style='mso-bidi-font-weight:normal'>.&#148;</B> La serpiente
  respondi&oacute;<B style='mso-bidi-font-weight:normal'>:</B> Sabe Dios que
  el d&iacute;a que comiereis de todo animal prohibido
  <B style='mso-bidi-font-weight:
normal'>estar&eacute;is bajo la gracia y no bajo la ley&#148;.</B> Y por
  lo tanto<B style='mso-bidi-font-weight:normal'>,</B> millones de cristianos
  hacen lo que la serpiente quiere<B style='mso-bidi-font-weight:normal'>:</B>
  comer de todo animal prohibido<B style='mso-bidi-font-weight:normal'>.</B>
  <o:p></o:p></SPAN>
    <P align=center style='text-align:center'>
        <B style='mso-bidi-font-weight:normal'><SPAN lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><A
                HREF="NotesOf.astro">Volver al
  &iacute;ndice<o:p></o:p></A></SPAN></B>
</DIV>
</BODY>
</HTML>
