---
import '@master/normal.css'
import Footer from "../components/Footer.astro";

const {lang} = Astro.props;

function getTitle() {
    if (lang === "es") {
        return "Las últimas cuatro potencias mundiales"
    } else {
        return "The Last Four World Powers"
    }
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{getTitle()}</title>
    <script>
        import '@master/css'
    </script>
</head>
<body role="document">

<!-- Header and Navigation -->
<nav class="bg:sky-28 color:white" id="page-header">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <em class="usa-logo__text">
                    <a href="/" title="Home" aria-label="Home">Bible Serralta</a>
                </em>
            </div>
        </div>
        <nav class="usa-nav">
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
                            aria-controls="nav-link-to-sections">
                        <span>Sections</span>
                    </button>
                    <div id="nav-link-to-sections" class="usa-nav__submenu usa-megamenu" hidden>
                        <div class="grid-row grid-gap-4">
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="/en/English.html">Bible Notes (English)</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/es/Spanish.html">Bible Notes (Spanish)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/LastFourWorldPowers.pdf">The Last Four World Powers</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Rapture_vs_Ingathering_english.pdf">Rapture vs Ingathering</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Jesus_Messiah_english.pdf">Demonstrating that Jesus is the Jewish
                                            Messiah</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/the_Law_english.pdf">Is God's Law Obsolete?</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Holiness_english.pdf">Is Holiness Attainable?</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/once_saved_english.pdf">Saved Always Saved...Doesn't Matter What
                                            You Do?</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Alma_Ingles_10_My_11.pdf">Does the Soul Exist Or Are We Just
                                            Flesh?</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Hermeneutica_Ingles_19_My_11.pdf">Hermeneutics as Taught in the
                                            Bible</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Predestination_Ingles_11_My_11.pdf">Predestination, Christian
                                            Doctrine or Heresy</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="/pdf/Trinidad_Ingles_22_My_11.pdf">The Trinity as Taught in the
                                            Bible</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="/en/English.html" class="usa-nav__link"><span>Bible Notes</span></a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

<section class="max-w:md@lg max-w:lg@xl mx:auto py:4rem px:2rem">
    <slot/>
</section>

<Footer/>

</body>
</html>