---
import '@master/normal.css'
import '../global.css'
import Footer from "../components/Footer.astro";
import Navigator from "../components/Navigator.astro";

const {lang} = Astro.props;

function getTitle() {
    return lang === "es" ? "Las últimas cuatro potencias mundiales" : "The Last Four World Powers";
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{getTitle()}</title>
    <script>
        import '@master/css'
    </script>
</head>
<body role="document">

<Navigator/>
<section class="max-w:md@lg max-w:lg@xl mx:auto py:4rem px:2rem font-size:18px">
    <slot/>
</section>
<Footer/>

</body>
</html>